[2021-06-15 21:28] #48702 closed

[2021-06-15 21:32] HurricanKai commented on #54106
I think #54107 should handle most of these scenarios fine. I think when that is resolved evaluating whether anything else is worth discussing will be possible. Thank you!

[2021-06-15 21:32] #54106 closed

[2021-06-15 22:01] lewing commented on #50959
These are all AOT stack trace issues

[2021-06-15 22:07] lewing commented on #52393
Most of these are AOT stack trace related

[2021-06-15 22:08] safern commented on #54007
Hmm interesting, I think that might need some debugging. I can try looking at it, but I have some stuff to get out of my way first.

[2021-06-15 22:36] #52301 closed

[2021-06-15 22:49] paul1956 commented on #54197
It was a small snippet the full application is at https://github.com/paul1956/CareLink and it has test data since you will not be able to log in.  You can load sample data under Options, save it (document/Carelink.json) and then compare the two files.

[2021-06-15 23:06] cits commented on #54132
I am willing test my NAudio WPF app.

[2021-06-15 23:14] SteveL-MSFT commented on #53298
This is not just in Windows containers, but is affecting our release of PS7.2-preview7 (built on .NET 6 preview 5) as simply starting pwsh, waiting a bit, and then exit will result in this crash

[2021-06-15 23:23] richlander commented on #53298
Has this been observed with other apps?

[2021-06-15 23:33] mangod9 commented on #53298
Hey @SteveL-MSFT, what is the best way to repro this with PS7?

[2021-06-15 23:37] rjmholt opened #54251 "BigInteger.TryParse incorrectly parses "80000000" from hex as -4294967295"
### Description

From https://github.com/PowerShell/PowerShell/pull/15587.

Possibly related to https://github.com/dotnet/runtime/issues/50385?

However, in this case [this behaviour represents a regression from .NET 6 preview 5](https://github.com/PowerShell/PowerShell/blob/658837323599ab1c7a81fe66fcd43f7420e4402b/test/powershell/Language/Parser/Parser.Tests.ps1#L867).

Repro:

[code]

### Config

[2021-06-15 23:38] jcddcjjcd commented on #54132
I am also ready to try with my WPF app.

[2021-06-15 23:43] paul1956 commented on #54197
I am going to close and do more research and create a small repo. Thanks.

[2021-06-15 23:43] #54197 closed

[2021-06-15 23:44] RamjotSingh commented on #54193
For rest of the stuff we are already using Relaxed encoder so this will be building on top of that. That already takes care of encoding `\` as `\\`. I will lay the code you have above on top of that.

[2021-06-15 23:48] rjmholt commented on #53298
@mangod9 you should be able to find a pwsh build to repro with [here](https://dev.azure.com/powershell/_apis/resources/Containers/4588464/build?itemPath=build%2Fbuild.zip). AFAIK, the repro is essentially to run pwsh for a while and then exit it with `exit`

[2021-06-15 23:59] Xyncgas commented on #44636
hi

[2021-06-15 23:59] Xyncgas commented on #44636
came from #5466 dropping in to get notified

[2021-06-16 00:44] paul1956 commented on #54197
@eiriktsarpalis @huoyaoyuan Sorry for the confusion, the code I was working with has a post processors for Dates that was doing the Euro to US date conversion after the serialization and before returning the result to my code when I remove it everything works as expected.

[2021-06-16 00:44] ahdung commented on #54038
When need batch process, It's common, I believe that.

[2021-06-16 00:53] jeffl8n commented on #52636
I agree with @campersau.  It looks like this would be handled on the aspnetcore side in the BindConverter.cs class.  Other types are handling some validation checks (ex: empty string when converting to int).  If the design is to not through an exception in BindConverter.TryConvertTo(...), it may be best to put a try/catch in that statement and return false in case of an exception - https://github.

[2021-06-16 01:09] BruceForstall commented on #54242
I went ahead and re-titled this from a question to something that can track actually doing the removal.

[2021-06-16 01:09] varunmankal opened #54257 "System.ComponentModel.Annotations dll version mismatch"
We are using 4.7.0 version of System.ComponentModel.Annotations package that targets netStandard 2.0. Its dll present in the ref and lib folder of that package has version mismatch.

I can see this issue had been reported earlier. I went through [this](https://github.com/dotnet/runtime/issues/41221) thread. By turning on auto-binding redirects, we will not see this issue.

My scenario is slightly

[2021-06-16 01:15] buyaa-n commented on #54212
I believe the cross-platform build is important because that is the one that will be shipped (which has the UnsupportedOSPlatform for windows, browser, android, ios, tvos). Honestly, I do not know for what we need an assembly that throws within all APIs, so I could not say if that is important or how important it is 😛

[2021-06-16 01:31] VincentBu opened #54258 "Test failure System.IO.Tests.DirectoryInfo_GetFileSystemInfos_str.PatternTests_DosDotTrailingDot(pattern: \"foo.?\", sourceFiles: [\"foo\", \"foo.\", \"foo.t\", \"foo.tx\", \"foo.txt\", ...], expected: [\"foo\", \"foo.\", \"foo.t\"])"
Run: [runtime 20210615.86](https://dev.azure.com/dnceng/public/_build/results?buildId=1188717&view=ms.vss-test-web.build-test-results-tab&runId=35704450&resultId=131894&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-06-16 01:41] dotnet-eng-status[bot] opened #54259 "Build failed: Validate-DotNet/main #runtime-94239-.NET5"
Build [#runtime-94239-.NET5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1189201) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Wed, 16 Jun 2021 01:41:16 GMT
**Duration** - 155 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Required Validation Ring
- :warning: - [[Log]](https://dev.azure.co

[2021-06-16 01:51] VincentBu opened #54260 "Test failure System.ServiceProcess.Tests.ServiceControllerTests.Stop_FalseArg_WithDependentServices_ThrowsInvalidOperationException"
Run: [runtime-libraries-coreclr outerloop 20210615.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1187626&view=ms.vss-test-web.build-test-results-tab&runId=35678872&resultId=104107&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-06-16 01:58] VincentBu commented on #52362
Failed again in [runtime-coreclr libraries-jitstress 20210615.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1187509&view=ms.vss-test-web.build-test-results-tab&runId=35677310&resultId=179473&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-06-16 02:00] VincentBu commented on #52361
Failed again in [runtime-coreclr libraries-jitstress 20210615.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1187509&view=ms.vss-test-web.build-test-results-tab&runId=35677310&resultId=179475&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-06-16 02:27] StephenMolloy commented on #41395
Oh, so you mean that you get an error when you specify a valid RootName without specifying a RootNamespace? The empty string is definitely not valid as a RootName, so I was getting an expected error for that reason with your sample. I see the error you're mentioning here now.

FWIW, this error is also still the same as 4.8. Though I am able to serialize successfully with these settings before fail

[2021-06-16 02:51] JimBobSquarePants commented on #52559
Here's all the issues tagged AOT we've faced.
https://github.com/SixLabors/ImageSharp/issues?q=aot+label%3Aarea%3Aaot

I have zero experience building Xamarin or UWP apps so I can only go with what I have been told.

[2021-06-16 02:52] JinShil commented on #53365
I ran into this also using a Raspberry Pi 3.

[2021-06-16 02:54] safern commented on #54212
Does it really matter though? Assemblies that throw not supported are runtime assemblies and the analyzer runs against the compile assemblies (ref). I know it's odd, but it doesn't seem to hurt anything.

[2021-06-16 04:08] #45677 closed

[2021-06-16 04:12] mangod9 commented on #53298
@rjmholt dont have permission to that link.

[2021-06-16 04:20] hoyosjs opened #54263 "Createdump is not resilient to failing to load the DAC or dump collection issues"
cc: @mikem8361

@davidfowl was trying to open a dump using VS. The dump was in a weird inconsistent state.

- VS hung indefinitely after trying to open the dump, it did promptly pop the hang dialogue and after saying "terminate" it pops the missing DBI dialogue (cc: @gregg-miskelly). The symbols are there though.
- WinDBG failed to load the DAC in the DAC provider of `.cordll`.
- dotnet dump faile

[2021-06-16 04:53] danroth27 opened #54264 "Debugging Blazor AOT RuntimeError: indirect call signature mismatch"
From @lbargaoanu https://github.com/dotnet/runtime/discussions/54049

I get this error while trying to run my Blazor AOT compiled code (it works without AOT) and I'm not sure how to investigate. Can I set some flag to get a useful stack trace or some other debugging information?
[Repro](https://github.com/lbargaoanu/RoslynInBlazor/tree/CoreWf).

@lewing

[2021-06-16 04:55] danroth27 opened #54265 "Blazor AOT performance vs ReadyToRun"
From @lbargaoanu https://github.com/dotnet/runtime/discussions/53994

I have [this project](https://github.com/lbargaoanu/RoslynInBlazor). It uses Roslyn to compile some code.
A lot of time is spent JIT-ing, so AOT compiling makes sense. For the console application, I get a significant benefit with ReadyToRun.
For the Blazor app compiled with AOT, I get no improvement. As far as I can tell, it is

[2021-06-16 05:02] BruceForstall commented on #51206
It's hard to imagine how this could be a JIT issue if it happens on only one version of Windows. If it's a context saving thing, it would be a VM issue.

Are tests running on the same hardware but a different OS (e.g., Win10) and NOT failing on the non-Win7 OS?

@VSadov @mangod9 Based on https://github.com/dotnet/runtime/pull/47212, maybe you should look

[2021-06-16 05:09] BruceForstall commented on #54074
When the importer imports the `d[i][j][k] = s[i][j][k]` line, it needs to preserve proper exception ordering. That means doing the `d[i][j]` array bounds check first, then `s[i][j][k]`, then finally the `d[i][j][k]` bounds check before the assign. To do this, it introduces a temp to store `d[i][j]`, and reuses that temp at the assign. This temp is marked both "Strict ordering of exceptions for Arr

[2021-06-16 05:22] newbe36524 commented on #52836
Hi, friends, any update? I wonder that would it be ok in next net 6 preview or not?

[2021-06-16 05:59] mrmess commented on #42790
THANK YOU! THANK YOU! THANK YOU!

I have been struggling with DOTNET commands on CIFS shares for ages. This is the only thing that fixed it for me.

[2021-06-16 07:36] BrzVlad commented on #53350
While the test contains some finalizer fishiness that might not be supported on mono, the failure here is clearly bad invocation of the test. So it is something in the testing infrastructure and not in the GC.

[2021-06-16 07:40] BrzVlad commented on #54185
Supporting exception filters with llvm requires some research, unrelated with any other work. We never supported exception filters with llvm. Doesn't seem feasible for .NET 6.0

[2021-06-16 07:44] wfurt commented on #52836
AFIK It is too late for preview 6 @newbe36524. We agreed this may make sense but it is not on top of the priority list.

[2021-06-16 08:31] helviett commented on #53800
@joperezr I used dotTrace to profile. I've managed to create a repro for the [animation rewind](https://drive.google.com/file/d/1LZR0Ax846-K-qJ8k6Q5AG7b7EC2CfjrE/view?usp=sharing) problem.  Couldn't do the same for other issues yet.

Basically, you should launch scene editor, open animation_rewind_repro.tan scene, set focus on timeline and rewind animation using mouse or arrows. My test wast just

[2021-06-16 08:43] svick commented on #54220
Note that another way to write this code is to use the existing overload of `Concat`:

[code]

Or:

[code]

But you do have to choose between the fluent assymetric form and the non-fluent symmetric form. So I think the proposed overload of `Concat` would still be a good addition.

[2021-06-16 08:55] akoeplinger commented on #50185
`com.apple.security.cs.allow-unsigned-executable-memory` was done by https://github.com/dotnet/runtime/pull/51294

[2021-06-16 09:04] vitek-karas commented on #53834
Thanks @MeikTranel. Personally I don't like parsing `.runtimeconfig.json` from the apphost itself (it would bloat the file, which is part of every application).

One of the ideas was something like:
* Only allow the path to be relative to the application directory
* Bake the path into the apphost executable as a constant

This would have the downside that it's not possible to modify the path with

[2021-06-16 09:14] TheRealLenon commented on #54132
I would test it with input and instant output on console applications.

[2021-06-16 09:26] chrfin opened #54267 ""/lib64/libstdc++.so.6: no version information available" running on custom linux with kernel 5.4.3 on ARM64"
We have an embedded system (Variscite DART-MX8M-MINI) running our own Linux-build based on a kernel from Debian Bullseye (5.4.3-g0267163-dirty SMP PREEMPT aarch64).

.NET Core and the SDK run fine on that system, BUT whenever we start any .NET program (including e.g. **`dotnet --info`**) we get the following output at the beginning:

All programs work fine afterwards.

Searching for this error we

[2021-06-16 09:32] karelz commented on #52836
Yes, we would take a PR.

@stephentoub do you have opinion on the plan?

[2021-06-16 09:36] adamsitnik commented on #54092
@danmoseley does this meet the backporting to 3.1 bar?

[2021-06-16 09:39] #54069 closed

[2021-06-16 09:49] akoeplinger commented on #54212
Yeah I didn't realize this was about the implementation assembly and not the ref assembly. I agree that it's not important for the former.

[2021-06-16 09:49] #54212 closed

[2021-06-16 10:01] TonyValenti commented on #53868
@Joe4evr @FiniteReality -
Thank you very much for your suggestions.  I'm almost there!
Below is the code that I have thus far.  It works perfectly with one caveat:

Right now, it seems like I have to specify:
[code]
on  every single property of type ```Optional<T>```.  Is there a way that I can apply that attribute  globally to Optional<T>?  I want to do the following but it doesn't work:

[code]

[2021-06-16 10:18] karelz commented on #40603
@stevejgordon any thoughts on the above?

[2021-06-16 10:23] karelz commented on #43239
As discussed earlier, we won't be able to make this in 6.0. Moving to Future.

[2021-06-16 10:32] TonyValenti opened #54269 "Allow JsonIgnore on classes and structs"
## Background and Motivation
Today, ```JsonIgnore``` can only be specified on properties and fields.  This creates a needlessly redundant scenario when ```JsonIgnore``` should be applied to all members of a type.

For example, today one must write:
[code]

When it would be much nicer to be able to write:
[code]

## Proposed API

```[JsonIgnore(Condition = ...)]``` should be specifiable on a class/

[2021-06-16 10:41] TonyValenti commented on #54269
@steveharter

[2021-06-16 11:43] eiriktsarpalis commented on #54220
Agreed, @TonyValenti if you could update the OP following the API proposal template we can consider this proposal for .NET 7.

[2021-06-16 11:49] pavelsavara opened #54270 "[wasm][http] System.Net.Http.Functional.Tests.HttpClientTest - Expected: System.Threading.Tasks.TaskCanceledException"
Unit tests:
- `GetStreamAsync_CanBeCanceled_AlreadyCanceledCts`
- `GetStringAsync_CanBeCanceled`
- `GetStreamAsync_CanBeCanceled`
- `GetByteArrayAsync_CanBeCanceled`
- `GetByteArrayAsync_CanBeCanceled_AlreadyCanceledCts`
- `GetStringAsync_CanBeCanceled_AlreadyCanceledCts`

[code]

Test `System.Net.Http.Functional.Tests.HttpClientTest.GetAsync_ContentCanBeCanceled`
[code]

[2021-06-16 12:01] eiriktsarpalis commented on #53868
Hi @TonyValenti, I see you also opened #54269. Am I right to assume that the other issue supersedes this request and if so, should we close this one?

[2021-06-16 12:03] TonyValenti commented on #53868
Is there another way to accomplish this that you can see?  Any chance the JsonIgnore enhancement can be wrapped into .net 6x?

[2021-06-16 12:13] eiriktsarpalis commented on #53868
I haven't looked into the details but the JsonIgnore enhancement seems like a reasonable addition. If you agree we should probably just close this one.

It's unlikely at this point given the size of our backlog, sorry.

[2021-06-16 12:27] SamMonoRT commented on #53329
@fanyang-mono : another intermittent failure on Android "Mono Android x64 Release @ Ubuntu.1804.Amd64.Android.Open" lane

[2021-06-16 12:36] stevejgordon commented on #40603
@MihaZupan and @karelz sorry I missed the notification on the original reply.

The `QueryHelper` proposal looks useful and sounds like it could work for us in general terms. We essentially have two `NameValueCollection`s which we combine and then format a final query string value from them. My only concern would be the [comment](https://github.com/dotnet/runtime/issues/32606#issuecomment-589897073

[2021-06-16 12:49] fanyang-mono commented on #53329
Both of the log looks like issues related to the xharness test API. The first one stuck at uninstalling Android app. The second one showed that it couldn't find the Android emulator. @premun @greenEkatherine Could your team take a look at these failures?

[2021-06-16 13:17] jeromelaban opened #54272 "[Wasm][AOT] Performance regression in List<string> foreach"
### Description

A performance regression happened when using this repro (with `-O=gsharedvt` for `mono-aot-cross`):

[code]

Some performance benchmarks:

**With df6e9560a47:**
Result: `TestForeachListOfT: 00:00:00.3979650`

![image](https://user-images.githubusercontent.com/5839577/122224784-717cb280-ce82-11eb-815e-c7f0cb8652b2.png)

**With a822d3909b9**:
Result: `TestForeachListOfT: 00:00:00.11

[2021-06-16 13:24] pavelsavara commented on #39187
I will remove the [ActiveIssue] from `System.Net.Http.Functional.Tests` in my PR because it works there.

[2021-06-16 13:42] emnlz opened #54274 "System.DirectoryServices.Protocols.LdapConnection with SessionOptions.StartTransportLayerSecurity() sends credentials in clear text on Linux"
### Description

The following code snippet opens an LdapConnection, requires TLS encryption and then binds with credentials of an existing account.
The code works on both Windows and Linux, however, using a network packet sniffer shows that, when run under linux, StartTLS is ignored and credentials are sent over the network in clear text.

Moreover, the AuthType property seems to be ignored on Li

[2021-06-16 13:44] CarnaViire commented on #53944
That's right, a second call to `AddTransient` would overwrite the first one - that is how M.E.DI is designed. Since `AddHttpClient` already finished execution and the second `AddTransient` is just a call to DI itself, we cannot validate that from HttpClientFactory perspective. We do a validation on a second call to `AddHttpClient` though, as @FiniteReality kindly mentioned.

Closing as answered.

[2021-06-16 13:44] #53944 closed

[2021-06-16 14:03] stephentoub commented on #52836
As long as all of our handlers do the appropriate validation for what they're capable of, removing such validation from HttpClient / HttpRequesrMessage sounds like the right thing to do.

[2021-06-16 14:10] eerhardt commented on #41395
Yeah, setting RootName to empty wasn’t really relevant here - it just needed to be set to some non-null value to illustrate the NRE when not setting RootNamespace.

note - I found this bug when I was annotating the XmlSerializer with nullable annotations. It isn’t high priority to fix, but should be pretty simple. So maybe marking it as “up for grabs” might make sense.

[2021-06-16 14:13] fanyang-mono commented on #46174
The comment from @v-haren on Dec 20, 2020 was related to coreclr rather than Mono Wasm. That failure has another tracing issue https://github.com/dotnet/runtime/issues/46347

In terms of why this test is failing on WASM, according to what Larry said earlier, it is a test issue.

[2021-06-16 14:20] PatrikBak opened #54276 ".NET Core - code is very slow when run on a computer with many cores"
Here's the code:

[code]

`lscpu`:

[code]

`dotnet --info`:

[code]

[Result of `taskset -c 0-9 dotnet run -c Release`](https://pastebin.com/F4WPn0b0)
[Result of `dotnet run -c Release`.](https://pastebin.com/GN1GjBku)

Using all physical cores seems to slow down the execution 53-times. I would naturally expect some overhead, but not this high.

Is there a way to set up my .NET Core application s

[2021-06-16 14:30] filipnavara commented on #53084
@terrajobst Was there any traction on this?

[2021-06-16 14:39] warappa commented on #54132
Maybe worth noting, that I'm running NAudio 2.0.0 on 5.0.***6*** as I have _not_ 5.0.***7*** installed and having a very similar, but slightly different problem: `AudioDG.exe` crashes in background while the WPF app keeps on running.

### Maybe Helpful Details
In WPF I use NAudio to only change volume on default audio device and play a test-sound with `System.Media.SystemSounds.Beep.Play()` (read:

[2021-06-16 14:40] danmoseley commented on #54092
We have a high bar for backporting - particularly to 3.1 as our customers expect it to be as stable as possible. @VShawn can you upgrade to 5.0?

The bar would be something like: substantial/widespread impact and doesn't have a good workaround.

[2021-06-16 14:44] eiriktsarpalis commented on #30083
@BreyerW a generic attribute would not prevent invalid specializations, e.g. `new JsonKnownTypeAttribute<Type>(typeof(int), typeof(int))` so it would be largely equivalent to accepting an `object` identifier.

[2021-06-16 14:45] rjmholt commented on #53298
@mangod9 try [this one](https://pscoretestdata.blob.core.windows.net/buildshare-roholt/build.zip).

[2021-06-16 14:46] tannergooding commented on #33244
As per #54006 the API surface has changed somewhat and was approved via an internal e-mail to @dotnet/fxdc
[code]

In particular:
* Friendly .NET names are preferred (`Calloc -> AllocZeroed`, `Malloc->Alloc`)
* Overloads that take `byteCount` and `elementCount, elementSize` were added to reach parity
* `AlignedRealloc` will be exposed since calling `Realloc` is not viable

`Try*` APIs were also ra

[2021-06-16 14:52] KalleOlaviNiemitalo commented on #54092
<https://github.com/dotnet/runtime/pull/32695#issuecomment-594945845> mentions a workaround.

[2021-06-16 14:55] TylerBrinkley commented on #30083
I think @BreyerW was thinking of something like this but I'm not sure it's a great experience even if generic attributes were already available.

[code]

[2021-06-16 14:58] eiriktsarpalis commented on #30083
Got it. It seems like something users could do by inheriting from the base attribute type if they really needed it.

[2021-06-16 15:01] janvorli commented on #53298
Thank you @rjmholt.

Here is a stack trace at the crash, it occurs because the MethodTable is NULL.
[code]

[2021-06-16 15:04] b11p opened #54277 "Support constructing file URI from Unix-style path on Windows"
The following code runs well on Linux, but throws on Windows.
[code]
Expected output:
[code]
Constructing such file URI on Windows may be needed, because the URI may be used on other machines. So, I was wondering if some changes can be made to do this.

[2021-06-16 15:04] anthony-c-martin opened #54278 "string.ToUpperInvariant("μ") gives different results on different platforms"
### Description

We're using `string.ToUpperInvariant()` to normalize a JSON blob for case-insensitive hashing, and noticed that if the string contains a "μ", the hash is different across different platforms.

Results from the following GitHub Actions build agents:
* `windows-latest`: `string.ToUpperInvariant("μ")` -> `μ`
* `ubuntu-latest`: `string.ToUpperInvariant("μ")` -> `M`
* `macos-latest`: `

[2021-06-16 15:07] BreyerW commented on #30083
@TylerBrinkley actually you dont even need Enum in name it is possible to have types with same name but differ by existence of generic (checked it in sharplab) making experience a bit better although i guess @eiriktsarpalis  is right and we could do that ourselves

[2021-06-16 15:12] VSadov commented on #51206
Windows7 supports AVX as of SP1. I assume this is on Windows7 SP1?

[2021-06-16 15:18] Clockwork-Muse commented on #54276
[code]

You're creating a hash set for each thread, and reallocating the backing array multiple times as the size increases, so at minimum the multi-thread version isn't using the same amount of memory.  The minimum amount of memory you're using is ~30GB, _without_ counting reallocations.  A naive thing to check would be if you were experiencing GC stalls.  If you pre-size the `HashSet`, does the

[2021-06-16 15:21] janvorli commented on #53298
Actually, it is NULL in some runs or an invalid value in others. The reason is that the actual MethodDesc that it comes from is invalid.

[2021-06-16 15:24] mangod9 commented on #53298
I believe this should be fixed by this: https://github.com/dotnet/runtime/pull/53573. cc @kouvel.

[2021-06-16 15:24] vitek-karas commented on #50130
There are no plans to add this right now - closing.

[2021-06-16 15:42] ufcpp commented on #54278
https://docs.microsoft.com/en-us/dotnet/core/compatibility/globalization/5.0/icu-globalization-api
https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu

[code]

[code]

[2021-06-16 15:53] WatchDogsDev commented on #53128
Here is some benchmark results with 2^24 + 1 items :

![image](https://user-images.githubusercontent.com/29868640/122252003-41fc9300-cee0-11eb-9ff1-e15ffc503ee0.png)

The code:
[code]

[2021-06-16 15:55] CarnaViire commented on #47672
Triage: Cleanup would happen only when underlying HttpMessageHandler gets GC'ed, meaning HttpClient got GC'ed and handler's lifetime expired. In the similar situation  https://github.com/dotnet/aspnetcore/issues/3470#issuecomment-455001937 the reason was that the lifetime did not expire yet. That being said, it is unclear why it prevents AWS Lambda from finishing. We should investigate in Future.

[2021-06-16 15:56] jkotas commented on #54132
It is very unlikely to be related to this bug. I would recommend reporting it via Windows Feedback. It looks like a Windows OS bug to me.

[2021-06-16 16:05] danmoseley commented on #53128
That doesn't seem too bad: without any knowledge of the capacity you need, it's only ~10% slower.

You may want to repeat that with a 20% multiplier (use your own copy of the List code). It may be worse.

[2021-06-16 16:08] danmoseley commented on #53128
If your concern is wasted space, you can use TrimExcess()

[2021-06-16 16:09] radical commented on #50957
Merging https://github.com/dotnet/runtime/issues/51676 with this.

[code]

[2021-06-16 16:10] radical commented on #51676
Closing this in favor of https://github.com/dotnet/runtime/issues/50957 .

[2021-06-16 16:10] #51676 closed

[2021-06-16 16:16] GrabYourPitchforks commented on #54278
@tarekgh Here's another example of a use case that could benefit from a first-party "case folding" API, as `ToUpperInvariant` isn't guaranteed to remain stable across .NET releases or across versions of ICU.

[2021-06-16 16:17] BrennanConroy commented on #51206
I don't know about hardware, but different OS's yes. Would have to ask Core-Eng folks about the hardware.

Yes, 6.1.7601 which is Win7 SP1

[2021-06-16 16:18] danmoseley commented on #54092
Right. @VShawn I will close this - thanks for the report - please let us know if you can neither upgrade nor work around this.

[2021-06-16 16:18] #54092 closed

[2021-06-16 16:20] #54145 closed

[2021-06-16 16:30] janvorli commented on #53298
I can confirm that cherry picking the above mentioned fix into the runtime state used by the repro and using rebuilt runtime fixed the problem.

[2021-06-16 16:33] mangod9 commented on #53298
Ok great, it should be included in preview6!

[2021-06-16 16:43] lambdageek opened #54284 "[EnC] Add test case for deleting custom attributes using ApplyUpdate"
Now that https://github.com/dotnet/runtime/pull/54060 and #54619 have been merged, we can add new tests to validate that CoreCLR ApplyUpdate behaves correctly when custom attributes are deleted.

[2021-06-16 16:52] tarekgh commented on #54278
@anthony-c-martin you are using Windows Server 2019 which by default not having the ICU library we depend on. That is why this you may experience the difference.

You can try including the ICU in your app when running on Windows Server 2019. You can do that by

[code]

This should help.

@GrabYourPitchforks

Moving forward when users using ICU users should experience consistent results. This is no

[2021-06-16 16:52] #54278 closed

[2021-06-16 16:55] vcsjones opened #54285 "Azure Pipelines status is not reported for GitHub for pull requests"
Looking at the past few PRs, like https://github.com/dotnet/runtime/pull/54238, https://github.com/dotnet/runtime/pull/54282, and others, the Azure Pipeline run statuses are not being sent to GitHub. However, the pipelines do appear to actually be running. In the case of the former PR, the pipeline run can be seen at https://dev.azure.com/dnceng/public/_build/results?buildId=1190227&view=results.

[2021-06-16 16:56] #54208 closed

[2021-06-16 16:58] jkoritzinsky commented on #54285
This is a known Azure DevOps outage.

[2021-06-16 17:02] vcsjones commented on #54285
Hm, okay. I'll close this then.

[2021-06-16 17:03] #54285 closed

[2021-06-16 17:05] hughesjs commented on #38751
Wouldn't the simplest option to be to add a boolean parameter as an overload that indicates whether or not we're creating multiple instances?

[2021-06-16 17:13] radical commented on #50959
Closing this in favor of https://github.com/dotnet/runtime/issues/50957, because as Larry said the failures are all AOT stack trace issues.

[2021-06-16 17:14] #50959 closed

[2021-06-16 17:21] Anipik opened #54287 "Features required to entirely remove the pkgprojs."
This summarizes and tracks the features required to remove the pkgprojs and using dotnet pack.

- [ ] Trim Inbox dependencies
- [ ] adding dependencies for compatible frameworks  https://github.com/dotnet/runtime/issues/52982#issuecomment-845342994
- [ ] Add dependency groups for tfms not in package eg Xamarin.tvOS,  (TBD)
- [x] Add extra targets for any analyzers related stuff or , where we add e

[2021-06-16 17:39] davidfowl commented on #38751
Yea, but that's pretty ugly. I'm not sure I can stomach the inconsistency...

[2021-06-16 17:49] carlossanlop commented on #51106
It's expected behavior. The `\` and `:` characters are valid path name characters on Unix. Also, `C:\` is not a valid root prefix on Unix. The root should be `/`. So what's happening here is that the whole string is being considered a file name.

[2021-06-16 17:49] #51106 closed

[2021-06-16 17:51] steveharter commented on #53195
To recap feedback:
- "dynamic" is somewhat "archived" technology and there may be a newer flavor of it coming up.
  - This potential newer flavor may have improved performance as well as new features.
  - It is not 100% certain to me if code that uses "dynamic" today will be completely forward-compatible with any newer "dynamic" flavor, thus introducing some risk in adopting it at this time.
- Cur

[2021-06-16 17:53] Jozkee commented on #51219
Closing as expected behavior.

[2021-06-16 17:53] #51219 closed

[2021-06-16 17:58] stephentoub commented on #53195
That sounds like the right decision to me, @steveharter.

[2021-06-16 18:00] #1477 closed

[2021-06-16 18:00] #53970 closed

[2021-06-16 18:05] radical opened #54288 "[wasm][aot][tests] Runtime crash on `main`, for `System.Collections.NonGeneric.Tests`"
This was seen twice:
- [Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1185489&view=logs&j=f217f715-90ad-5404-53bd-b93e3b80f465&t=9df76bd4-3041-5537-002b-9e29a53263b9) [Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-da525a2addf8493589/System.Collections.NonGeneric.Tests/console.6b6adeca.log?sv=2019-07-07&se=2021-07-03T22%3A04%3A14Z&sr=

[2021-06-16 18:24] ericstj commented on #54012
This should be an easy thing to measure and share (even if only an estimate based on a good heuristic).  We could diff that with what was previously shipped (eg: before asset deprecation) to demonstrate the net result.  Perhaps we can also extrapolate over time what it would look like given our support policy.  One of the arguments against additional configurations in the past was unbounded packag

[2021-06-16 18:33] WatchDogsDev commented on #53128
I appreciate your help. TrimExcess is very useful.

Here is some results with lower itemCount values :
![benchmark-1](https://user-images.githubusercontent.com/29868640/122273378-a1fe3400-cef6-11eb-909e-be2bbfa274e8.png)

But I think it should be something like this :

When capacity is lower than 32/64/128 => 4x the capacity
Then start to 2x the capacity until maybe 1,000,000
Then start to increas

[2021-06-16 18:41] safern commented on #52636
Yes I agree this is by design on the `GuidConverter` front as it is just calling the `Guid` constructor and that is the behavior for all the type converters. Definitely it seems like `BindConverter.tryConvertTo` is not following the `Try` pattern which is catching exceptions and returning false when there is an exception.

I think we should transfer this back to aspnetcore.

[2021-06-16 18:46] danmoseley commented on #54270
Curious why the inner exception stack is identical, or whether ToString() is doing something wrong.

[2021-06-16 18:46] terrajobst commented on #53084
While I think that's true today this wasn't an explicit design goal. In fact, we said before that returning true for multiple operating systems should be allowed because it allows us to add "virtual" operating systems like browser where we want to be able to add more specific checks later, such as `IsBrowserChromium()`.

I think modelling MacCatalyst as a variant of iOS makes sense because that's

[2021-06-16 18:50] filipnavara commented on #53084
It is. There are multiple versions available on MacCatalyst (Darwin, macOS, iOS) but this API and Evironment.OSVersion operates on the iOS one (consistent with Apple and documentation).

[2021-06-16 18:52] JulieLeeMSFT commented on #53822
@EgorBo PTAL.

[2021-06-16 19:04] rjmholt commented on #47603
Closing this as I think this may have been an issue with bad RAM on my machine

[2021-06-16 19:04] #47603 closed

[2021-06-16 19:26] SamMonoRT commented on #46174
Moving to future milestone. @fanyang-mono please confirm if the test is already excluded.

[2021-06-16 19:29] SamMonoRT commented on #54198
@marek-safar @dalexsoto : The above comment seems like move to xamarin-macios moved.

[2021-06-16 19:39] fanyang-mono commented on #46174
Yes, the test has already been excluded.

[2021-06-16 19:55] SamMonoRT commented on #37896
Don't believe it is an issue any more. Closing the issue.

[2021-06-16 19:55] #37896 closed

[2021-06-16 19:55] radical commented on #51678
This test was meant to be disabled, but was still running because of a bug in the condition. With that fixed, it does not run for AOT now.

@lambdageek should this be closed, or do you want it for tracking?

[2021-06-16 19:56] KrzysztofCwalina commented on #53195
Who's working on the "This potential newer flavor" of dynamic? I do think we need it at some point. It might be a syntactic sugar, but the current syntax obscures the user intent enough that our current plan for untyped APIs in the Azure SDK might not be viable without it. After all C# is just a syntactic sugar for IL, and you would not enjoy coding in IL, would you? :-)

cc: @MadsTorgersen

[2021-06-16 19:59] KrzysztofCwalina commented on #53195
Having said that, I would totally prefer a new dynamic flavor. There is no reason to involve the DLR into what amounts to syntactic sugar over dictionary access. I would prefer if dynamic was implemented as a set of attributes applied to simple lookup and cast APIs.

[2021-06-16 20:00] SamMonoRT commented on #44804
@steveisok - is this still relevant ?

[2021-06-16 20:01] SamMonoRT commented on #54185
Moving this to Future milestone.

[2021-06-16 20:03] steveisok commented on #44804
if we want to support interp as a separate library, probably.

[2021-06-16 20:04] lewing commented on #54265
How are you compiling and running the application?

[2021-06-16 20:10] lewing commented on #54264
@lbargaoanu what version were you testing with and can you create a sample to reproduce this issue?

[2021-06-16 20:13] SamMonoRT commented on #53350
@fanyang-mono ensure test is excluded.

[2021-06-16 20:27] JamesNK opened #54294 "Document HttpResponseMessage.Dispose will terminate response and notify the server"
`HttpResponseMessage.Dispose()` docs should mention that it will terminate a response early and send a notification to the server (e.g. HTTP/2 RST_STREAM).

https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpresponsemessage.dispose?view=net-5.0

[2021-06-16 20:28] jcddcjjcd commented on #54132
This may also not be related but I mention it anyway.

I have stopped using NAudio to play wav files but still use the Volume get and set in NAudio and GetDefaultRenderDevice().AudioMeterInformation.MasterPeakValue.
I have a very rare bug now which I suspect may come from NAudio PeakValues. It does not crash the app but does destroy the RealTek audio driver requiring a reinstall. The crash report

[2021-06-16 20:28] jkoritzinsky commented on #54132
For everyone who wants to validate this, I've added a link to a zip at the end of this comment with an x64 runtime. If you set the `DOTNET_ROOT` environment variable to the folder where you unzip this file and set the `DOTNET_MULTILEVEL_LOOKUP` environment variable to `0` before you run your application from the app host (the .exe that matches your project name), your application will run against

[2021-06-16 20:31] tannergooding opened #54296 "Update `SystemNative_AlignedAlloc` to properly check `aligned_alloc` availability for Apple targets"
https://github.com/dotnet/runtime/pull/54006 introduced new `NativeMemory` APIs including one that wraps `aligned_alloc` where available.

On Apple targets this is only available on 10.15 or later but we currently target 10.13 and as such have a `#if HAVE_ALIGNED_ALLOC && !defined(__APPLE__)` check.

Ideally we would update this to correctly check for the availability of `aligned_alloc` (either vi

[2021-06-16 20:31] geoffkizer commented on #54294
I suppose we could do this, but it's sort of a low-level detail that is invisible to most people. And the behavior is version dependent.

Why does it matter? If a user disposes the HttpResponseMessage then they have indicated they don't care about the response anymore. Whether that actually cancels it on the wire or not seems like an implementation detail.

[2021-06-16 20:34] ViktorHofer commented on #54287
Does this require a NuGet feature? Isn't setting `PrivateAssets="all"` enough to exclude the dependency? See https://github.com/NuGet/Home/issues/6354#issuecomment-383754821.

Why would we want this? It's actually currently quite confusing that dependency groups are added by the pkgproj infrastructure for .NETStandard compatible frameworks to trim out dependencies that are i.e. inbox. If there isn

[2021-06-16 20:34] tannergooding opened #54297 "Audit usages of Marshal.AllocHGlobal for ones that can be replaced with NativeMemory.Alloc"
#54006 introduced new NativeMemory APIs that wrap `malloc`, `calloc`, `realloc`, and `aligned_alloc`. We should audit existing usages of `Marshal.AllocHGlobal` for cases where it can be safely replaced with `malloc`.

Notably cases like `StringToPtrHGlobal` do not qualify as they are documented to be a call to `LocalAlloc` on Windows. However, on Unix and in cases where this is not a definitive co

[2021-06-16 20:36] NikolaMilosavljevic commented on #53835
[Triage] Closing in favor of the main issue: https://github.com/dotnet/runtime/issues/54068

[2021-06-16 20:36] #53835 closed

[2021-06-16 20:40] filipnavara commented on #54296
Would it make sense to use `__builtin_available` and generate runtime check or is it not worth it?

[2021-06-16 20:43] tannergooding commented on #54296
I don't think its worth it for this scenario. We are falling back to `posix_memalign` which is likely a wrapper for (or the underlying implementation of) `aligned_alloc`. Its simply just a matter of preferring the official C API when its available over the older POSIX API.

[2021-06-16 20:46] filipnavara commented on #54296
Makes sense.

[2021-06-16 20:53] hoyosjs commented on #54259
@adiaaida minor thing as feedback to make these more readable. I edited this issue to have a "details" tag in the markdown to make the issue more readable (basically, have the list hidden at first sight just so I can parse through the list of issues as the checksum list tends to be huge - and so could be the symbols issues list or the change list). Do you know if that can be done when opening the

[2021-06-16 20:53] cits commented on #54132
Thanks. Worked with my NAudio WPF app.

Any word on how long this fix will make it into an official release? Days, weeks or months?

[2021-06-16 20:53] hoyosjs commented on #54259
Closing as none of these are actionable on .NET 5.

[2021-06-16 20:53] #54259 closed

[2021-06-16 20:54] #54093 closed

[2021-06-16 20:54] #54114 closed

[2021-06-16 20:54] #54046 closed

[2021-06-16 20:55] #53542 closed

[2021-06-16 20:56] jkoritzinsky commented on #54132
Reopening to track the servicing fix.

[2021-06-16 20:57] jkoritzinsky commented on #54132
This will likely be more on the scale of months rather than weeks due to the servicing timeline.

[2021-06-16 21:00] adiaaida commented on #54259
If it's just markdown, it definitely can be configured to be better.

[2021-06-16 21:04] trylek commented on #53542
Awesome, thanks Jeremy for fixing this!

[2021-06-16 21:07] cits commented on #54132
OK. That's disappointing,, I understand.
Time to implement my plan "B", drop using NAudio.

[2021-06-16 21:19] lewing commented on #54194
I'm a little surprised we have this set as supported.  We should look at the failure and decide if it should just throw but fixing it is low priority.

[2021-06-16 21:27] majastrz commented on #54278
Does the `RuntimeHostConfigurationOption` workaround also work with the single-file self-contained apps?

[2021-06-16 21:46] tarekgh commented on #54278
Yes, it does.

[2021-06-16 21:59] hoyosjs commented on #54131
This issue is sort of stale until we get new builds.

[2021-06-16 21:59] #54131 closed

[2021-06-16 22:47] eerhardt opened #54301 "System.IO.FileSystem.Tests tests fail on mono arm64 in CI"
https://helix.dot.net/api/2019-06-17/jobs/f3fd2e68-ecc7-4bc7-974e-8aad37d2f1f7/workitems/System.IO.FileSystem.Tests/console

https://dev.azure.com/dnceng/public/_build/results?buildId=1189641&view=logs&j=3f95ca23-483b-5dc9-4b05-6bd24fb925c2&t=0c1dd9d1-4ef7-54d5-2d62-e4ab330605ca&l=58

[code]

Full command-line dump:

[code]

[2021-06-16 23:21] hoyosjs commented on #54259
Yes, it's just wrapping the list like:

[code]

to produce

<details>

<summary> things to display </summary>

// List goes here

</details>

[2021-06-16 23:29] adiaaida commented on #54259
Thanks! We probably won't be able to get the summary done all nicely, but we can definitely put the meat of the message under a details tag to make these more readable.

[2021-06-16 23:47] radical commented on #52393
The stacktrace related tests have been disabled. Last remaining test:

[code]

[2021-06-16 23:49] jcddcjjcd commented on #54132
The sad thing here is that NAudio is widely used. It has 2.34 Million downloads on github and there is currently nothing that comes close to it's functionality that is maintained.
There was mention above that if NAudio made it's classes sealled then the problem would go away.
Is that an option that could be considered?

[2021-06-17 00:06] lewing commented on #54153
This is a definite difference in behavior but it isn't near critical path for NET6

[2021-06-17 00:10] lewing commented on #53957
Not sure what is going on here @pavelsavara can you take a look?

[2021-06-17 00:16] lewing commented on #53365
this is a hard problem to solve in the general case, AOT'd code is going to be much larger than interpreted code despite a very large amount of work that has been done to link out unused code.  It would be nice if we had a built in way to load the interpreter on memory constrained devices but that wouldn't help with execution speed.

[2021-06-17 00:18] lewing commented on #52916
Which version of .NET5 are you using? Have you tried the latest .NET6 preview to see if that improves the situation?

[2021-06-17 00:22] #52059 closed

[2021-06-17 00:23] lewing commented on #52029
@radical is this still failing?

[2021-06-17 00:24] nssidhu commented on #52916
Yes, it works in .NET 6 as expected.

Sent from Yahoo Mail for iPhone

On Wednesday, June 16, 2021, 7:18 PM, Larry Ewing ***@***.***> wrote:

Which version of .NET5 are you using? Have you tried the latest .NET6 preview to see if that improves the situation?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-17 00:25] #51723 closed

[2021-06-17 00:30] #52916 closed

[2021-06-17 00:36] VShawn commented on #54092
thx for your works, I've upgraded to 5.0

[2021-06-17 00:38] jkoritzinsky commented on #54132
That option would have to be considered by the owners of NAudio, and based off the parallel issue over there, it seems it might be.

[2021-06-17 00:39] anthony-c-martin commented on #54278
@tarkgh - do you have any guidance for authors of shared libraries targeting .NET standard? In our scenario, the logic which relies upon `.ToUpperInvariant()` lives in a nuget package which targets `netstandard2.0`, and is consumed by various .NET 5 applications.

We can go and fix the applications we own which depend on this package, but is there a way we can guarantee that **any** consumer of th

[2021-06-17 00:44] lewing commented on #51131
The data is gone and this doesn't seem to be recurring so closing.

[2021-06-17 00:44] #51131 closed

[2021-06-17 00:46] lewing commented on #51068
This was almost certainly the encoding regression.  Please reopen if you can still reproduce this problem.

[2021-06-17 00:46] #51068 closed

[2021-06-17 00:48] #52029 closed

[2021-06-17 00:50] #49241 closed

[2021-06-17 00:50] radical commented on #51680
Should we change these warnings -> errors for the tracking PR?

[2021-06-17 00:50] #50433 closed

[2021-06-17 00:55] JinShil commented on #53365
The default Blazor WASM project (hosted), when published as self-contained, trimmed, and with AoT, is only about 80MB.  The wwwroot\_framework folder is only about 30MB.  Yet, it still causes this out of memory error when running on a system with 1GB of memory, 600MB of which is free.  What specifically is consuming so much memory?

[2021-06-17 00:58] lewing commented on #45471
The WebAssembly runtime is by design much more limited than a normal execution environment and anything approaching just in time compilation for a CLR would be extremely difficult.

[2021-06-17 01:00] #46761 closed

[2021-06-17 01:00] #46731 closed

[2021-06-17 01:00] #46708 closed

[2021-06-17 01:03] AntonLapounov commented on #53743
Pedro Justo has found that we generate `lea RSP` instructions in epilogs without emitting `UWOP_SET_FPREG`, which is not allowed according to the [documentation](https://docs.microsoft.com/en-us/cpp/build/prolog-and-epilog?view=msvc-160#epilog-code):

As far as I can tell, we generate the same epilogs in .NET 5, so I suspect the finding above does not fully explain the issue we started seeing in .

[2021-06-17 01:03] lewing commented on #46927
https://github.com/dotnet/runtime/pull/52883 mitigated this issue by doing all exception handling in the interpreter.  Should we resolve this or keep it open to continue to explore other options?

[2021-06-17 01:07] lewing commented on #50717
@SamMonoRT these are EAT failures and are definitely worth looking into.

[2021-06-17 01:15] lewing commented on #50721
cc @SamMonoRT

[2021-06-17 01:16] lewing commented on #53647
cc @SamMonoRT

[2021-06-17 01:24] VincentBu opened #54304 "Test failure System.IO.Tests.Directory_EnumFSE_str_str_so.PatternTests_DosQM(pattern: \"f???.txt\", sourceFiles: [\"f.txt\", \"foo.txt\", \"foob.txt\", \"fooba.txt\", \"foobar.txt\"], expected: [\"f.txt\", \"foo.txt\", \"foob.txt\"])"
Run: [runtime 20210616.88](https://dev.azure.com/dnceng/public/_build/results?buildId=1190871&view=ms.vss-test-web.build-test-results-tab&runId=35753054&resultId=138753&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-06-17 01:25] lewing commented on #53880
This data is definitely being removed from the base icu data.

[2021-06-17 01:28] VincentBu commented on #38756
Failed again in [runtime 20210616.88](https://dev.azure.com/dnceng/public/_build/results?buildId=1190871&view=ms.vss-test-web.build-test-results-tab&runId=35752412&resultId=107868&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-06-17 01:30] lewing commented on #53825
We could make a mono AOT analyzer that look for attributes when AOT is enabled, I'm not sure there is a more general way to solve this.

[2021-06-17 01:33] #49242 closed

[2021-06-17 01:37] lewing commented on #49144
@thaystg this falls into the VS settings set.  Please triage this along with the other settings and move it appropriately.

[2021-06-17 01:39] lewing commented on #43693
@CoffeeFlux did this every go anywhere?

[2021-06-17 01:43] tarekgh commented on #54278
@anthony-c-martin could you tell more about your scenario. you mentioned you are hashing JSON blob. Where this blob came from and how you are using the hashing of this blob?

[2021-06-17 01:43] VincentBu commented on #49982
Failed again in [runtime-coreclr outerloop 20210616.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1190826&view=ms.vss-test-web.build-test-results-tab&runId=35756002&resultId=103154&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-06-17 01:52] lewing commented on #52393
this doesn't fail with eat?

[2021-06-17 01:55] lewing commented on #53365
cc @pranavkm @SteveSandersonMS

[2021-06-17 02:06] bklooste commented on #30083
Yeah generics modfied by types in different assemblies is always fun when you need to create them ( Assembly.load and gettype under the covers of Activator.GetInstance etc) and tends to be slow for lots of types /objects.   I dont think you can easily have the new () constraint on any type unless you do it yourself but should be looked at if you go that path.

[2021-06-17 02:19] danroth27 commented on #53365
@JinShil I think you might be looking at the wrong files. The ASP.NET Core server project doesn't get downloaded to the browser - only published output from the client project should get download. In .NET 5, the total published output size of the client project should be just over 2MB (trimmed and compressed). In .NET 6 with AOT, the published size should be just under 4MB.

Regardless, why this r

[2021-06-17 02:22] danmoseley commented on #53128
Maybe, but the tricky part is proving you have something that is better under many different circumstances. It is a lot of work. Is this something you want to pursue?

In the end if a scenario is so perf critical that a different strategy is clearly better, it may be best to make a custom tuned collection for that. If allocation is the concern it could use array pooling.

[2021-06-17 02:30] JinShil commented on #53365
@danroth27  I understand.  I was intentionally overcounting the size of the application hoping to illustrate that there simply isn't enough data to justify the out of memory error.  The error should be easily reproducible on the Raspberry Pi 3 running the default Blazor WASM project.  I hope that helps with troubleshooting.

[2021-06-17 02:35] lewing commented on #53825
https://github.com/dotnet/runtime/issues/53815

[2021-06-17 02:58] jkotas commented on #49982
@VincentBu This issue is closed. Could you please open a new one?

[2021-06-17 03:02] lewing commented on #53804
So the problem here is resolving the assembly references inside mono-aot-cross across multiple directories?

[2021-06-17 03:22] radical commented on #53804
Yeah.

[2021-06-17 03:28] vargaz commented on #46927
I think the current approach is good enough.

[2021-06-17 03:39] danroth27 opened #54308 "Error when publishing a .NET 5 Blazor WebAssembly app using the .NET 6 SDK with the .NET WebAssembly workload installed"
Repro steps:

- Install .NET 5 SDK
- Install .NET 6 Preview 5 SDK
- Install the .NET WebAssembly workload: `dotnet workload install microsoft-net-sdk-blazorwebassembly-aot`
- Create a Blazor WebAssembly project targeting .NET 5: `dotnet new blazorwasm -ho -o MinBlazorNet5 -f net5.0`
- Publish the Server project: `dotnet publish -c Release`

Expected result:

- Publish success as normally with .NET

[2021-06-17 03:45] lbargaoanu commented on #54264
Preview 4. The link is in the initial message. [Repro](https://github.com/lbargaoanu/RoslynInBlazor/tree/CoreWf).

[2021-06-17 03:48] lbargaoanu commented on #54265
dotnet publish -c Release and browsed to the publish folder. I was testing in Firefox. But I think it's tha same in Chrome.

[2021-06-17 03:54] BruceForstall opened #54310 "superpmi crossgen2 libraries collection is broken"
There are lots of cases of:
[code]

[2021-06-17 04:05] anthony-c-martin commented on #54278
It's a user-defined document (example [here](https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-DDoS-Attack-Prevention/azuredeploy.json)) which is usually either user-authored, or programmatically generated. The API which handles this document is case-insensitive, so we want a means of generating a hash to compare two documents for (case-insensitive) equivalence - mostly

[2021-06-17 04:15] #36015 closed

[2021-06-17 04:17] shjin404 opened #54311 "Activity.SetTag() does not add tag properly if the last item is removed"
Activity.SetTag() is not working as expected once the last item is removed by the SetTag(key, null). The following code snippet only prints out one item.

[code]

cc: @tarekgh who has raised a PR already for this issue: https://github.com/dotnet/runtime/pull/54306/files

[2021-06-17 04:31] BruceForstall opened #54313 "Issue with System.IO.GetIsCaseSensitive"
I was running a crossgen2 of System.Private.CoreLib.dll (actually a SuperPMI collection of that), and getting a failure. I put it under the VS debugger and got something completely different, namely:

[code]

This comes from https://github.com/dotnet/runtime/blob/01b7e73cd378145264a7cb7a09365b41ed42b240/src/libraries/Common/src/System/IO/PathInternal.CaseSensitivity.cs#L55

The issue is that my de

[2021-06-17 04:32] BruceForstall commented on #54313
@stephentoub

[2021-06-17 04:40] CoffeeFlux commented on #43693
I think I looked into it but there ended up being some complicating factor. Maybe we needed the property computation to be lazier? Either way, there's nothing concrete as a result of this.

[2021-06-17 04:42] dotnet-eng-status[bot] opened #54314 "Build failed: Validate-DotNet/main #runtime-94426-.NET6"
Build [#runtime-94426-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1191158) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Thu, 17 Jun 2021 04:42:39 GMT
**Duration** - 336 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](https://dev.azure.com/dnceng/7ea911

[2021-06-17 04:44] BruceForstall commented on #54310
@dotnet/jit-contrib @davidwrighton

Maybe due to #53567?

[2021-06-17 06:04] anranruye opened #54343 "Blazor: DateTime.ToString("o") and JsonSerializer.Serialize(DateTime) has a different result in wasm runtime"
### Describe the bug

For local DateTime values which are smaller than `1900-12-31 23:59:17`, `System.Text.Json.JsonSerializer.Serialize(DateTime)` has a different result in wasm runtime(+08:05 vs +08:00).

### To Reproduce

[code]
### Exceptions (if any)

### Further technical details
- ASP.NET Core version 5.0.0
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're runn

[2021-06-17 06:12] danmoseley commented on #54304
@dotnet/area-system-io related to FileStream work?

[2021-06-17 06:43] smoogipoo commented on #48937
The goal is for GC pauses to not take longer than 4ms, regardless of collected generation. The lower we can go without completely crippling the GC, the better. I've focused a lot on Gen1 because those collections are the outliers, but the Gen0 times we're seeing are also quite significant.

Ideally we'd like to have a completely time-bounded GC. For example, Unity recently released an "[incrementa

[2021-06-17 06:46] olivier-spinelli commented on #1784
Calling `WriteRawValue` is "raw writing".  What about:
[code]
Using `Raw` prefix rather than suffix may be simpler.

[2021-06-17 07:16] VincentBu opened #54316 "Test failure Interop\\LayoutClass\\LayoutClassTest\\LayoutClassTest.cmd"
Run: [runtime-coreclr outerloop 20210616.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1190826&view=ms.vss-test-web.build-test-results-tab&runId=35756002&resultId=103154&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-06-17 07:17] Maoni0 commented on #48937
Unity's GC is non generational and non compacting. doing incremental on such a GC isn't that much work. our GC is both generational and compacting which makes doing incremental a much, much harder job (a mark and sweep only GC wouldn't be able to handle the kinds of workload we get on .NET). having said that, it doesn't mean we don't have a goal to do it. you are correct of course in saying that s

[2021-06-17 07:20] VincentBu commented on #49982
Opened a new one here [54316](https://github.com/dotnet/runtime/issues/54316) , thanks for reminding

[2021-06-17 07:29] smoogipoo commented on #48937
Great to hear progress is being made in this area! Using runtimeconfig sounds like a good solution.

[2021-06-17 07:49] vdanche opened #54440 "R2R causing crashes on Windows 7"
Machine OS: win7 SP1
Repro steps:
1. Install .NET 6 prevew 6 SDK-6.0.100-preview.6.21315.23(runtime-6.0.0-preview.6.21306.1) from https://github.com/dotnet/installer--Main branch
2. Run "dotnet new console" in CLI .

Expected Result:
Create project successfully

Actual Result:
NET Host stop working.
![image](https://user-images.githubusercontent.com/65637796/122354245-63628b00-cf83-11eb-8f6d-39cc7

[2021-06-17 07:52] Maoni0 commented on #48937
@smoogipoo let me know if you hit problems building coreclr yourself. feel free to send me email if you need help (my email alias at work is maonis).

[2021-06-17 08:06] kant2002 opened #54317 "Marshal.ReleaseComObject does not account for ComWrappers"
I try to make WPF work using ComWrappers only, and hit followin road block. Currently RCW in WPF released using `Marshal.ReleaseComObject`. This method does [not take into account ](https://github.com/dotnet/runtime/blob/89313ca06932bdb69c53965ec1e37b67f920ee95/src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs#L487) that some code is using ComWrappers

I thin

[2021-06-17 09:25] MichalStrehovsky commented on #54313
One can ask Windows to be case sensitive per directory (`fsutil.exe file setCaseSensitiveInfo`).

Do we really treat case sensitivity of all paths based on whether %TEMP% is case sensitive?

[2021-06-17 09:37] ViktorHofer commented on #54007
Sorry for the late reply, I was OOF yesterday. Looks like @safern is already on it.

[2021-06-17 09:42] ShadyNagy commented on #42994
Is that problem still exist on .Net 6?

[2021-06-17 09:50] smoogipoo commented on #48937
Just to confirm one last thing that's been on our minds - if we have 2 million objects in gen2, could this in any way affect the performance of promotions from gen0/gen1 to gen2 (via the leaking seen above), just due to the count of objects already in gen2 alone?

[2021-06-17 10:01] alexrp commented on #50527
@bartonjs could we consider the name `UnixSignal` instead? It just occurred to me that there's a lot of precedent in the BCL with this term already, whereas the term `Posix` doesn't appear to be used anywhere else. RIDs also use the term `unix` rather than `posix`.

[2021-06-17 10:12] karelz commented on #54277
AFAIK we do not plan to recognize Unix file path automatically on Windows.
If you know you have a file path, adding a schema `file://` or using `IO` APIs would be best way to handle it consistently across platforms.

[2021-06-17 10:41] karelz commented on #53957
Note: There is also bunch of similar failures of this test, but perhaps that has been already addressed?
[code]

Date | Build | Notes
-- | -- | --
5/18 | PR #52923 | `System.OperationCanceledException : The operation was canceled.`
5/19 | official test run | 16x - `WebSocketException : Unable to connect to the remote server`
5/20-6/2 | PR #53027 | 143x - mix of failures, incl. 5x `State immediatel

[2021-06-17 10:45] AntonLapounov opened #54320 "JIT emits non-compliant epilogs on Windows x64"
For Windows x64 JIT generates a `LEA RSP` instruction in epilogs without emitting the `UWOP_SET_FPREG` unwind code, which is not allowed according to the [documentation](https://docs.microsoft.com/en-us/cpp/build/prolog-and-epilog?view=msvc-160#epilog-code):

The issue can be demonstrated by running `R2RDump -d` on one of framework assemblies containing R2R code and searching for `LEA RSP`.  For i

[2021-06-17 10:46] AntonLapounov commented on #53743
Opened #54320 for emitting `LEA RSP` without `UWOP_SET_FPREG`.

[2021-06-17 11:20] greenEkatherine commented on #53329
I'm on it @fanyang-mono

[2021-06-17 11:25] dazinator commented on #36617
I think if there was a primitive for `ISystemClock` that all .NET 6 developers who care about mocking datetime's could agree on, you'd see code bases that care about such things (and modern practices) evolve to adopting it over time rather than doing what they currently do, which is to roll their own. I can see the appeal of changing the behaviour of `DateTime` and friends within a given context b

[2021-06-17 11:30] deanchalk opened #54321 "HttpStatusCode is missing code 429 (TooManyRequests)"
### Description

Different versions of System.Net.Primitives have slightly different HttpStatusCode  enums - which isn't correct.
I am building a UWP app and the version of System.Net.Primitives referenced is missing status code 429

Here is the decompiled code

[code]

It looks like all status codes are there apart from 429 (TooManyRequests). If you look at the System.Net.Primitives for Xamarin F

[2021-06-17 11:33] #53743 closed

[2021-06-17 11:47] ChristianWeyer opened #54322 "[.NET 6 Preview 5] Debugger crashes on Apple Silicon (M1) - 0x80131c3c"
Hey all,

I am running into an issue with the .NET 6 debugger on an Apple M1.

I use a fresh copy of macOS Sig Sur 11.4 on a brandnew MBP 13 M1.
With .NET SDK ARM64 6.0.100-preview.4.
With VS Code 1.57.0 (M1 version).
With VS for Mac 8.10.1 (build 71).

This error occurs when F5’ing in VS Code or VS for Mac:

`Unable to attach to CoreCLR. Unknown Error: 0x80131c3c
`

Is this maybe a regression?
I

[2021-06-17 11:53] noahfalk opened #54323 "Workflow docs for testing provide instructions that will not work"
The docs at https://github.com/dotnet/runtime/blob/main/docs/workflow/testing/libraries/testing.md include no mention that libs.pretest is required. Running the commands as written will generate many test failures with this error:

A couple thoughts/concerns:

1. It appears this doc page has been out-of-date a long time. It suggests that either nobody is reading these docs or nobody is reporting w

[2021-06-17 12:08] stephentoub commented on #54313
For decades since the beginning of .NET it's assumed that a Windows file system was case-insensitive, and has never checked per directory.  This GetIsCaseSensitive dynamic check was added primarily in support of cross-platform.  While there have been a few requests over the years for something more granular, e.g. https://github.com/dotnet/runtime/issues/34235, it's never risen to the level where w

[2021-06-17 12:10] MichalStrehovsky commented on #54313
To me, assume case-preserving and case sensitive on Windows without looking at %TEMP% sounds the easiest to reason about.

[2021-06-17 12:12] stephentoub commented on #54313
Ah, you're not asking for it to be more dynamic, you're asking for it to be less :-)

[2021-06-17 12:12] cliang57 commented on #52671
Using .NET 6 SDK fixed the issue for me. I was using .NET 5 SDK previously.

[2021-06-17 12:22] Symbai commented on #54321
https://source.dot.net/#System.Net.Primitives/System/Net/HttpStatusCode.cs,76

[2021-06-17 12:26] stephentoub commented on #54321
TooManyRequests was added to HttpStatusCode in https://github.com/dotnet/corefx/pull/26727 for .NET Core 2.1 in response to https://github.com/dotnet/runtime/issues/15650.  It's not available in the enum earlier than that.

[2021-06-17 12:34] drauch opened #54327 "Obtain an X509Certificate2 with an RSACryptoServiceProvider as PrivateKey"
We have .NET 4.8 code which makes heavy use of RSACryptoServiceProvider, we especially need X509Certificate2 instances with RSACryptoServiceProvider instances as PrivateKey. We want to port the code to .NET 5 now and realized that when we load X509Certificate2 instances that the PrivateKey is of type RSACng which is unfortunately a problem.

Is there a way to "downgrade" the PrivateKey to an RSACr

[2021-06-17 12:37] drauch commented on #54327
In one area of our code we even have the private key available in memory, unfortunately not even this code helped us:

[code]

[2021-06-17 13:10] MichalStrehovsky commented on #54313
Yeah, checking by creating a file in TEMP feels rather arbitrary and pretty "dirty". It feels like we would be better off not doing it.

[2021-06-17 13:10] ViktorHofer commented on #54323
Testing requires building first which is documented here: https://github.com/dotnet/runtime/blob/main/docs/workflow/building/libraries/README.md.

The `libs.pretest` subset is part of the `libs` subset. What we can do better in the instructions that you pointed to above is that following the building instructions is a prerequisite before testing (because we don't define dependencies between compon

[2021-06-17 13:14] #48913 closed

[2021-06-17 13:15] ViktorHofer opened #54329 "System.IO.Tests.Directory_EnumFiles_str_str.SearchPatternLongPath failing on CI with UnauthorizedException"
Configuration: `net6.0-OSX-Debug-x64-Mono_release-OSX.1014.Amd64.Open`

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=1191788&view=ms.vss-test-web.build-test-results-tab&runId=35771342&paneView=debug&resultId=125787

[2021-06-17 13:17] ViktorHofer opened #54330 "Uncaught ReferenceError: config is not defined"
WASM specific issue: `net6.0-Browser-Release-wasm-Mono_Release-wasmtestonbrowser-Ubuntu.1804.Amd64.Open`

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54319-merge-2a40ee7278394c5087/Microsoft.Extensions.Http.Tests/console.1e4b4b90.log?sv=2019-07-07&se=2021-07-07T11%3A09%3A33Z&sr=c&sp=rl&sig=%2BA25WrP3jkuD2wvD%2B2t8ORhgRXDo4aMP7bV%2Bhi%2BNlOM%3D

Build: https://de

[2021-06-17 13:28] SilverDragonKLS opened #54331 "XmlReader error when importing a large unformatted file (IXmlLineInfo.LinePosition incorrect)"
When using the XmlReader to import an xml file with a length of more than 2^31 bytes and no formatting in it (that is, there is one line longer than 2^31 bytes), at some point, the value of IXmlLineInfo.LinePosition becomes negative.

To get the correct value, you need to change the IXmlLineInfo.LinePosition type from int to long

[2021-06-17 13:32] eiriktsarpalis commented on #29937
This feature is orthogonal to #30083, which implements a different brand of polymorphism using type discriminators. Calling both features "polymorphism" is likely to confuse users who might expect the two API sets to be the same or compatible. They might reasonably expect that APIs serialized using this feature to be deserializable using APIs from #30083. We need to be careful about the names we p

[2021-06-17 13:32] NinoFloris opened #54332 "System.Text.Json constructor deserialization without attribute"
System.Text.Json constructor deserialization without attribute.

I missing a mechanism to do so, something like a `Func<Type, ConstructorInfo>` on options comes to mind.

Also asked in: https://github.com/dotnet/runtime/issues/38102#issuecomment-646447565

[2021-06-17 13:46] Savlik commented on #54276
Hi, thank you for suggestions.

I tried pre-allocating memory for HashSet. Improvement was negligible. It still takes more than ten times than serial execution.

[code]

At the start of the program it is `1` and during parallel benchmark it stabilizes around `98`.

[2021-06-17 13:50] qsdfplkj commented on #29937
I think its not needed because I can write such code already but SerializeRuntimeTypes vs SerializeDeclaredTypes is what this is about.

[2021-06-17 14:01] huoyaoyuan commented on #54332
This will ultimately be covered by JsonContract equivalent. See https://github.com/dotnet/runtime/issues/31257

[2021-06-17 14:33] vcsjones commented on #54327
To my knowledge no, it will prefer to return `RSACng` instances when it can. It might actually return `RSACryptoServiceProvider` for some narrow cases where CNG cannot be used with persisted keys. The best approach going forward would not be to treat it as any particular RSA implementation and instead cast it to `RSA`, like `(RSA)certificate.PrivateKey`.

But `PrivateKey` [is going to be obsoleted

[2021-06-17 14:34] huoyaoyuan commented on #54321
You should be able to do a conversion `(HttpStatusCode)429` to use it.

[2021-06-17 14:38] MatthewBeardmore opened #54335 "Issue running WinForms Ribbon apps on .NET 5.0.7 (regression)"
### Description

Previously, running WinForms with Ribbon apps worked properly in both .NET Core 3.1 and .NET 5 5.0.6, but after updating to 5.0.7, the application crashes as soon as you attempt to choose a combobox option. I have attached a repo project based off of the sample project from https://github.com/harborsiem/WindowsRibbon/tree/master/Samples/CS/06-ComboBox. Other than the conversion fr

[2021-06-17 14:40] menees commented on #38536
I came across this issue while looking for an API to insert a new configuration source in front of the defaults. Ultimately, I just added a new source and used the mutable list returned by `IConfigurationBuilder.Sources` to move the last item to be first:

[code]

Since almost all IConfigurationBuilder extensions work in an Add (last) mode, an Insert extension goes a little against the grain. If a

[2021-06-17 14:41] drauch commented on #54327
Yes, indeed. We're having a system where we have (test) private keys in a database (exported from RSACryptoServiceProviders by using `ExportCspBlob`), we need to re-import those CSP blobs into X509Certificate2 instances as its private key. Is there a way to import such CSP blobs into an X509Certificate2 instance? Is there a common format between RSACryptoServiceProvider and RSACng?

Best regards,

[2021-06-17 14:51] vcsjones commented on #54327
To import a CSP blob you can do something like this:

[code]

But as you noted earlier, it will become an `RSACng` key.

[2021-06-17 14:59] odhanson opened #54336 "ASN1 corrupted data while calling X509Store.Certificates on Mac"
Hi

We are receiving the following exception from one of our customer (no contact information).
[code]
I don't know which certificate in the users' key chain is causing the exception, and if its really corrupted or not.
However, it seems like even if one certificate in the store is corrupted, this will cause the entire System.Security.Cryptography.X509Certificates.X509Store.get_Certificates() to f

[2021-06-17 15:03] drauch commented on #54327
In order to call SignerSignEx2 I also need to build a SIGNER_PROVIDER_INFO structure. Until now I got the necessary properties from `((RSACryptoServiceProvider) privateKey).CspKeyContainerInfo` (properties: ProviderName, ProviderType, KeyContainerName). I can't find any similar properties on `RSACng`. Do you know how to get the necessary information to call SignerSignEx2?

[2021-06-17 15:04] jkotas commented on #54335
@jkoritzinsky @AaronRobinsonMSFT

[2021-06-17 15:07] carychai commented on #45720
Is there any method to solve the problem？I got the same error，and the Linux do not allowed to install other librarys.

[2021-06-17 15:13] timheuer opened #54342 "Blazor AOT compilation fails on Emscripten target when run in containers"
### Describe the bug
When trying to build a Blazor Wasm client project in a container, the AOT step fails on an `emcc` exit code.  These same steps work fine in a CI pipeline (GitHub Actions)

### To Reproduce
Repo: https://github.com/timheuer/PictureFixer/ (docker branch)
Dockerfile: https://github.com/timheuer/PictureFixer/blob/docker/PictureFixer/Dockerfile

Ensure Docker Desktop installed
run

[2021-06-17 15:13] MatthewBeardmore commented on #54335
I found issue 54132, which appears to be related. I took the SDK from https://github.com/dotnet/runtime/issues/54132#issuecomment-862699818 and ran it against this sample project, and the sample project does not crash when selecting combo boxes.

[2021-06-17 15:15] jeffschwMSFT commented on #46174
I see that this issue has bounced a few labels, I added back codegen-aot-mono, but feel free to find the right label.

[2021-06-17 15:20] tommcdon commented on #54322
@hoyosjs

[2021-06-17 15:21] lambdageek commented on #54313
On Android, `GetIsCaseSensitive` is both a perf bottleneck (see https://github.com/dotnet/maui/issues/822#issuecomment-863323985) and wrong: while the internal fs on an Android device is usually ext4, which is usually case sensitive - sd cards are usually FAT and usually case-insensitive.  So checking the temp folder doesn't actually give a useful result for all cases.  At the same time, doing I/O

[2021-06-17 15:33] grendello commented on #54313
This case-sensitivity check, if it's necessary, should be done very lazily - whenver the application itself accesses a given filesystem for the first time. However, I would say that on Android devices it would be very safe to assume case-sensitivity, even with exFAT, that we're dealing with a case-sensitive filesystem. An option should be provided to perform the check, off by default IMO.

[2021-06-17 15:34] mangod9 commented on #54276
Hey @PatrikBak, are you running this with any special config? Is it running with server or workstation GC? Also since this machine has 8 NUMA nodes, it inherently might not scale since the TP will schedule threads on all nodes, and cross-NUMA memory accesses are relatively slow and can cause further contention. Though in your sample doesnt look like you are accessing memory allocated on one thread

[2021-06-17 15:39] grendello commented on #54313
It should be possible to look at `/proc/mounts` to find out what options are for the fs mounted on or above the path being accessed, if we need to have such a check in place. The `TEMP` check is not only wasteful but also can yield false positives/negatives - since any directory on Unix can be a mount point of another operating system, so such checks would have to be performed on every first acces

[2021-06-17 15:41] danmoseley opened #54337 "Exception type changed for opening FileStream over invalid file name"
Attempting to create FileStream over `\\.\COM56` threw FileNotFoundException but now throws IOException. We should either reverse this or document a breaking change.
[code]

[2021-06-17 15:42] danmoseley commented on #54337
https://github.com/dotnet/sdk/pull/18292#issuecomment-863107849

when fixed, revert https://github.com/dotnet/sdk/pull/18292/commits/1c1a0720c556fb5cb4e8c5c7f3570ea2babc54a8

[2021-06-17 15:43] vcsjones commented on #54327
Since you are building a certificate that has an associated private key, you should be able to pass in `NULL` to `pProviderInfo`. `pProviderInfo` is used when the certificate and signing key are disjoint. But since you are combining the cert and private key in to a certificate with an associated private key, providing a `pProviderInfo` is redundant.

If you do have a disjoint certificate and signi

[2021-06-17 15:52] bentoi opened #54338 "Quic support in .NET 6 preview"
### Description

I tried a sample program to create a Quic connection with .NET 6 preview 4. It fails on both macOS and Windows with a `NullReferenceException`:

[code]

### Configuration

macOS / Windows with .NET Core 6 preview 4

### Other information

When building the program I get the following messages:
[code]

[2021-06-17 16:00] stephentoub commented on #54313
We can go back to hardcoding a value per OS if that's more desirable.

We've always known it's not 100% accurate, whether hardcoded or dynamically generated once per process.  But doing the 100% correct thing, with casing potentially different on a directory by directory basis, is both super expensive and very error prone, so it was a conscious tradeoff.

[2021-06-17 16:02] lambdageek opened #54339 "[Android] Assume file system is case sensitive"
See https://github.com/dotnet/runtime/issues/54313#issuecomment-863347311 and https://github.com/dotnet/maui/issues/822#issuecomment-863323985

The code that initializes `System.IO.PathInternal.s_isCaseSensitive` checks does I/O in the temp folder to check for case sensitivity.  This is a startup perf hit on Android where low-end devices may have very slow storage. It also returns results that may

[2021-06-17 16:11] Clockwork-Muse commented on #54276
... so you have at least some time lost due to thread startup (the normal .5 - 1 second wait for threadpool threads shouldn't be an issue since the minimum is so high).  I'd be curious what would happen if you could get the threadpool to pre-allocate ~100 threads.

[2021-06-17 16:11] grendello commented on #54313
I think a hardcoded value is a perfectly valid bet here.

[2021-06-17 16:11] lambdageek commented on #54313
Made an issue https://github.com/dotnet/runtime/issues/54339 and PR https://github.com/dotnet/runtime/pull/54340 for Android.

I wonder if we can give application writers (1) an API to do the work themselves (like https://github.com/dotnet/runtime/issues/34235 suggested), (2) an AppContext switch to select from some reasonable set of behaviors for the BCL (eg: use a constant guess based on platfor

[2021-06-17 16:15] stephentoub commented on #54313
An AppContext switch to override the default hardcoded value might be reasonable _if_ we have evidence it'll actually be used.  But the last piece ("check per-path in an OS-specific way") is a non-trivial dev effort and would really need to be justified.

[2021-06-17 16:16] ericstj opened #54341 "Move of Evidence type regressed on .NETStandard2.0 with package removal of System.Security.AccessControl"
I moved Evidence down to `System.Security.AccessControl` earlier this release since this broke the dependency from `System.Security.Cryptography.Xml` on `System.Security.Permissions`.  https://github.com/dotnet/runtime/commit/663c40dbc4ccedf82e38e96391c28695da0e418f

Dependencies on `System.Security.Permissions` are undesired as that package is entirely legacy and has other unrelated dependencies

[2021-06-17 16:16] ericstj commented on #54341
cc @viktorhofer

[2021-06-17 16:16] Grauenwolf commented on #29975
This is turning out to be a major problem for me as well. I am in the middle of a .NET Core 3.1 conversion and the lack of support for these attributes is causing hard to find bugs in my code.

[2021-06-17 16:17] agocke commented on #45720
@vsadov I believe this was resolved in https://github.com/dotnet/runtime/issues/46771?

[2021-06-17 16:21] Savlik commented on #54276
Hi @mangod9 , I am coworker of @PatrikBak.

No special config.

I am running it with default values, so workstation GC, I guess.

Yes, I can. I have done some more tests and it seems to me, that thread distribution across NUMA nodes has some impact, but the total number of threads is more relelevant.

8 threads on one NUMA node:
`taskset -c 0-7 dotnet run -c Release`

[code]

8 thread all on diffe

[2021-06-17 16:21] grendello commented on #54313
@stephentoub on iOS you can use the hard-coded default blindly, it's always gonna be case-aware and case-insensitive. On Android, case-aware and case-sensitive is currently a safe bet too, but if need be, settings can be gleamed from`/proc/mounts` and fs mount options - it should be then a simple check of the parent ifs of a given path, that information can be cached (mount points) since mounts wo

[2021-06-17 16:23] #54311 closed

[2021-06-17 16:28] bartonjs commented on #54327
For public keys there are two, {Import,Export}SubjectPublicKeyInfo and {Import,Export}RSAPublicKey.

For private keys there are two and a half: {Import,Export}Pkcs8PrivateKey, {Import,Export}RSAPrivateKey, and {Import,Export}EncryptedPkcs8PrivateKey.

Anything that isn't the Windows CAPI/CSP blob format, really.  You could also just translate the CSP blob to RSAParameters (oh, add another import/e

[2021-06-17 16:29] Grauenwolf commented on #29975
What I don't understand is why all of these new attributes were created in the first place. It's like the author didn't understand the .NET ecosystem.

Now I have to search through all of my code that was using `DataContract`/`DataMember` to control what data is revealed via REST and update it for this new set of attributes.

This is a huge security vulnerability for me that I only happened on by

[2021-06-17 16:31] bartonjs commented on #54336
The easier answer might just be to teach this layer that things can fail and have it skip bad entries.

Testing it will have to be on faith, unless someone can come up with a way to repro this.

[2021-06-17 16:35] mangod9 commented on #54276
Might be worthwhile to test with serverGC..

[2021-06-17 16:38] bartonjs commented on #54341
I defer entirely to you guys (@ericstj / @ViktorHofer) here.

[2021-06-17 16:38] jkoritzinsky commented on #54316
cc: @trylek

[2021-06-17 16:40] odhanson commented on #54336
I am fine with that. But that might cause the caller to think that the certificate doesn't exist (and perhaps try add it) when in actuality it does,  but is corrupted (in the case that the corrupted certificate is actually the one we are looking for).

[2021-06-17 16:43] kunalspathak commented on #32389
Thank you @AndyAyersMS for reminding me. I verified and we do eliminate the `test` after the `add` in #53214.
Below is the assembly for `bool SequenceEqualPR(Span<byte> input, Span<byte> expected)`.

[code]

[code]

[2021-06-17 16:43] #32389 closed

[2021-06-17 16:44] LukeTOBrien commented on #29975
Yes, to me it doesn't make sense to create a separate attribute, why not
use existing attribute?

On Thu, 17 Jun 2021, 17:29 Jonathan Allen, ***@***.***> wrote:

[2021-06-17 16:45] bartonjs commented on #54336
That seems to also apply to the suggested alternatives, though.  e.g. here we failed in determining a certificate's thumbprint, so find by thumbprint wouldn't be able to find it.  Find by name would have a similar "how are we determining the value?" question, particularly if there are any sorts of normalization differences between a macOS native version (assuming it exists) and the managed impleme

[2021-06-17 16:50] stephentoub commented on #54337
cc: @adamsitnik

[2021-06-17 16:53] odhanson commented on #54336
I see. Makes sense to me.

[2021-06-17 16:56] AaronRobinsonMSFT commented on #54317
@kant2002 This is by design. The appropriate API to call instead is [`Marshal.Release`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.marshal.release) or some other variant to do the decrement. The `Marshal.ReleaseComObject` API is targeted for manipulating the built-in COM interop wrappers not user defined wrappers (that is, `ComWrappers`). What is the intent of calling thi

[2021-06-17 16:57] AaronRobinsonMSFT commented on #54317
/cc @jkoritzinsky @elinor-fung

[2021-06-17 17:00] AaronRobinsonMSFT commented on #54335
@MatthewBeardmore Thank you for reporting this issue. We already determined this behavior needed to be fixed so we are servicing .NET 5 via #54244. Reporting this helps reinforce that decision.

[2021-06-17 17:01] #54310 closed

[2021-06-17 17:03] agocke commented on #45720
Never mind, that's only for OpenSsl. Let's see if there's any way to shim these calls with `dlopen`.

[2021-06-17 17:05] imhameed commented on #43676
https://github.com/dotnet/runtime/pull/54127 was merged and `HardwareIntrinsics/General/Regression/GitHub_43569` is running.

[2021-06-17 17:05] #43676 closed

[2021-06-17 17:06] imhameed commented on #53078
https://github.com/dotnet/runtime/pull/54127 was merged. The AvxVnni tests are running successfully now.

[2021-06-17 17:06] #53078 closed

[2021-06-17 17:06] imhameed commented on #35906
https://github.com/dotnet/runtime/pull/54127/ was merged.

[2021-06-17 17:06] #35906 closed

[2021-06-17 17:08] agocke opened #54347 "System shared-library dependencies are not lazily loaded in single-file on Linux"
See https://github.com/dotnet/runtime/issues/45720 for an example.

It looks like the default runtime deployment avoids this by loading libSystem.Net.Security.Native.so lazily, which will only then load many of the system libraries. Since that library is not statically compiled into the host, its dependencies are loaded eagerly.

Unfortunately the only way to implement this may be to call dlopen o

[2021-06-17 17:09] agocke commented on #45720
Created a new issue specifically for lazy loading, since this issue is about including all the possible dependencies, which isn't necessarily something we want to do as it would bloat the size of the file, regardless of whether or not you're using, say, kerberos support.

[2021-06-17 17:11] krwq commented on #54331
[Triage] We cannot change the type of the public API as that would be a breaking change. Honestly I'm not convinced turning on line information for non-formatted files makes much sense. I think if you're just debugging it will be hard to find what's wrong anyway. If you feel strongly about it we could consider creating a second property with different type but with all honesty I'm not sure this is

[2021-06-17 17:15] krwq commented on #54274
[Triage] Let's try to fix this in this release

[2021-06-17 17:15] imhameed commented on #43842
Yet more were enabled in https://github.com/dotnet/runtime/pull/54127.

[2021-06-17 17:21] krwq commented on #53800
[Triage] @helviett can you see if you can create a smaller repro?

[2021-06-17 17:30] Savlik commented on #54276
No difference :-(

No difference :-(

[2021-06-17 17:35] odhanson commented on #54336
Alternatively, perhaps the Certificates collection should enumerate the entire list (and throw, when accessing a corrupted certificate so we don't affect existing functionality) lazily ? That is only when the collection is actually enumerated ?
Then we can implement the Find method to only query for the specific certificate we are looking for ?
Basically we do a:
`certStore.Certificates.Find(X509F

[2021-06-17 17:36] krwq commented on #50782
[Triage] @tmat, still planning to fix it in 6.0?

[2021-06-17 17:36] trylek commented on #54316
Apparently we need to adjust Crossgen2 in accordance with Jeremy's runtime change

https://github.com/dotnet/runtime/pull/54235

I'll take a look, thankfully it's just one test failing consistently the same way on all platforms, that should be easy to fix.

[2021-06-17 17:38] krwq commented on #42131
cc: @steveharter

[2021-06-17 17:51] akoeplinger commented on #54055
Thanks, like you found this depends on https://github.com/NuGet/Home/issues/10889 so there's nothing we can do here until these changes flow into the .NET SDK.

[2021-06-17 17:51] #54055 closed

[2021-06-17 17:52] tmat commented on #50782
Yes, but only after Hot Reload features are done.

[2021-06-17 17:55] krwq commented on #52947
@GrabYourPitchforks have made any progress? Is this still planned for 6.0?

[2021-06-17 17:59] tarekgh commented on #54278
Thanks @anthony-c-martin for sharing the details. If you want to always guarantee the exact same casing/hashing between the server and client, you'll need to do one of the following:

- Always do the hashing on the server side to ensure the hashing is centralized and ensure consistency.
- Use ICU package and require apps consuming your library to reference this specific version of ICU.
- Encapsula

[2021-06-17 18:03] jkotas commented on #53800
@helviett  The screenshot that you have shared suggests that there is a lot more time spent accross number of areas: file I/O, collections, ... . It means that the regression is not specific to reflection. There is likely some behavior change in the top level logic of your app that causes a lot more work to be done now. I would suggest to look for the code where this behavior change happened.

[2021-06-17 18:20] bartonjs commented on #29937
API Review Feedback:

* We're concerned that the model as proposed is still too open for accidental data exposure, and so we recommend a "closed hierarchy" approach, similar to DataContractSerializer's known-types attribute.
  *  The "late-bound" doodle for this was `public Dictionary<Type, IEnumerable<Type>> PolymorphicSerialization { get; }`
* Given that the same closed hierarchy would apply to

[2021-06-17 18:20] kant2002 commented on #54317
I'm hit that when experimenting how far can I go with ComWrappers in WPF (to see NativeAOT ability potentially)

WPF retreive object using `DllImport`, and it is created using `ComWrappers`, then it is assumed that this is `__ComObject` and using `Marshal.ReleaseComObject` to release instance. I assume this is would be common pattern for existing COM codebases.

This is quick summary on the librar

[2021-06-17 18:29] terrajobst commented on #53211
@danmoseley

That's fair but it seems somewhat fringe for customers to ship code with the `DEBUG` symbol defined. And for local debugging, we don't apply the runtime breaking change policy but the design time/source breaking change policy which I'd argue would allow for these kind of fringe, but possible breaks.

[2021-06-17 18:34] vcsjones commented on #54336
Hm. I can get kind similar results with the same underlying root cause.

The public X.509 contents in a keychain file are mutable and keychain doesn't really do anything to stop the contents from changing and you can just flip bits in the file. In the example below I started flipping bits in the signature OID. It's a little tricky to get right because the wrong changes will just result in the keyc

[2021-06-17 18:35] malisancube opened #54353 "Support deserializing multiple root-level values split by separator"
In Python you can do this

[code]

Include `JsonSerializerOptions` property `Lines` of the `System.Text.Json`

[2021-06-17 18:36] AaronRobinsonMSFT commented on #54317
@kant2002 Rather than updating this API I would recommend converting entirely to `ComWrappers` and the returned wrapper could implement `IDisposable` pattern. From within that I would release as desired. I don't think updating that API to handle `ComWrappers` wrappers is appropriate because there isn't an obvious way to convert a user defined wrapper into something we could release &ndash; it is a

[2021-06-17 18:45] akoeplinger commented on #54330
@radical any idea what might be happening here?

[2021-06-17 18:47] bartonjs commented on #53211
* We acknowledge that there's a mild risk of breaking programs (e.g. `Trace.Assert(condition, $"Condition failed on iteration {x++}");`), but think it's generally good.
* Approved as-is, plus all the "we could"s

[code]

[2021-06-17 18:49] marklio commented on #53211
Unfortunately, bringing data to this conversation is really hard. Spotting side effects in string creation is tricky statically. However, if we think about how someone would experience this break, I think risk becomes clearer. A library or app containing such code simply rolling onto a framework with this new API would not experience a break or any change in behavior. Their callsites remain bound

[2021-06-17 18:50] vcsjones commented on #54336
Okay, here is how to reproduce the above.

1. Make a new keychain file. You don't want to do this in your login keychain. Many things get angry.
2. Import this certificate.

[code]

    You need to do this through the keychain GUI. Doing it through API or CLI blocks the import. Keychain.app will complain the certificate is malformed, _but will import it anyway_ (at least on macOS Catalina. Big Sur

[2021-06-17 18:50] DrewScoggins opened #54350 "Regressions in System.Buffers.Text.Tests.Base64Tests"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [a1fd4e98c87300110a3bdf55c400ec133e9202da](https://github.com/dotnet/runtime/commit/a1fd4e98c87300110a3bdf55c400ec133e9202da)
Compare | [84bf5bcc43fe7a95f73f4b7cee9c0e23af248dd7](https://github.com/dotnet/runtime/commit/84bf5bcc43fe7a95f73f4b7cee9c0e23af248dd7)
Diff | [Diff](https://github.com/dotnet/runtime/compare/a1fd4

[2021-06-17 18:52] DrewScoggins opened #54351 "Regressions in Microsoft.Extensions.DependencyInjection.GetService"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [a4b3772d1ada339220145843138d4c622134adeb](https://github.com/dotnet/runtime/commit/a4b3772d1ada339220145843138d4c622134adeb)
Compare | [43b1f2c165257faae4d6a4aa886b701b63d2d5c0](https://github.com/dotnet/runtime/commit/43b1f2c165257faae4d6a4aa886b701b63d2d5c0)
Diff | [Diff](https://github.com/dotnet/runtime/compare/a4b37

[2021-06-17 18:53] DrewScoggins opened #54352 "Regressions from using reloadWeight when evaluating spill cost"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [d07f9111c57fab97aa135bebb2687471a8bfc5bf](https://github.com/dotnet/runtime/commit/d07f9111c57fab97aa135bebb2687471a8bfc5bf)
Compare | [75ede83214700ba49b70c0ac746c3541ef219a91](https://github.com/dotnet/runtime/commit/75ede83214700ba49b70c0ac746c3541ef219a91)
Diff | [Diff](https://github.com/dotnet/runtime/compare/d07f9

[2021-06-17 18:53] DrewScoggins commented on #54352
https://github.com/dotnet/runtime/pull/53853

[2021-06-17 18:55] DrewScoggins commented on #54352
### Run Information

Architecture | x86
-- | --
OS | Windows 10.0.18362
Baseline | [d07f9111c57fab97aa135bebb2687471a8bfc5bf](https://github.com/dotnet/runtime/commit/d07f9111c57fab97aa135bebb2687471a8bfc5bf)
Compare | [75ede83214700ba49b70c0ac746c3541ef219a91](https://github.com/dotnet/runtime/commit/75ede83214700ba49b70c0ac746c3541ef219a91)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2021-06-17 18:57] SamMonoRT commented on #47967
@tarekgh - been a couple months since this was last discussed - just confirming that we can/cannot fit this in .NET 6 ? (Is the Future milestone still accurate ?)

[2021-06-17 18:57] eiriktsarpalis commented on #29937
Here is a sketch of a model that might accommodate both designs:
[code]
Here's how a hierarchy that doesn't emit any metadata can be defined:
[code]
And here's one that does:
[code]

[2021-06-17 18:57] DrewScoggins opened #54354 "Regressions in System.Text.Encodings.Web.Tests.Perf_Encoders"
### Run Information

Architecture | arm64
-- | --
OS | Windows 10.0.19041
Baseline | [9a64a29c38319a3c7724894fbf3e1e14b6fa799e](https://github.com/dotnet/runtime/commit/9a64a29c38319a3c7724894fbf3e1e14b6fa799e)
Compare | [a4b3772d1ada339220145843138d4c622134adeb](https://github.com/dotnet/runtime/commit/a4b3772d1ada339220145843138d4c622134adeb)
Diff | [Diff](https://github.com/dotnet/runtime/compa

[2021-06-17 18:58] SamMonoRT commented on #37973
@eerhardt @pranavkm - Still seems to be in Uncommitted state - do we think this is possible to fit in for .NET6 ?

[2021-06-17 19:00] SamMonoRT commented on #47861
@tannergooding - any update on this one - Is this going to be in for .NET6 ? Please update the milestone accordingly and remove the untriaged label.

[2021-06-17 19:02] SamMonoRT commented on #36659
@LakshanF @eerhardt -  are we on track to get this in by Preview 7 ?

[2021-06-17 19:02] tarekgh commented on #47967
@SamMonoRT nothing changes per the comment https://github.com/dotnet/runtime/issues/47967#issuecomment-775091927. It still marked for future.

[2021-06-17 19:03] eiriktsarpalis commented on #29937
Given the API review feedback I'm going to close this issue in favor of  #30083, which will be revised to address both requirements.

[2021-06-17 19:03] #29937 closed

[2021-06-17 19:04] SamMonoRT commented on #44528
@joperezr - is this work still planned for .NET6 ? If so, it would be ideal to get this in no later than Preview 7 cutoff

[2021-06-17 19:13] LakshanF commented on #36659
yes

[2021-06-17 19:16] martincostello commented on #53241
FYI this still repros in `6.0.100-preview.5.21302.13`.

[2021-06-17 19:18] martincostello commented on #53279
Did this fix make it into `6.0.100-preview.5.21302.13`? If I remove the manual workaround in my repos to normalize the country code I can still repro the original issue.

[2021-06-17 19:23] eerhardt commented on #54351
Looks like it is caused by https://github.com/dotnet/runtime/pull/53325.

cc @maryamariyan @davidfowl @pakrym

[2021-06-17 19:29] tarekgh commented on #53279
@martincostello the fix will be in preview 6.0. If you want to try the fix, you may try install the preview 6 SDK from https://github.com/dotnet/installer.

[2021-06-17 19:35] rolfbjarne commented on #53307
That can only be set in the csproj, because `_RuntimeIdentifierUsesAppHost` is evaluated before our WorkloadManifest.targets file is loaded (where we can set properties ourselves).

You can see the Import order here: https://gist.github.com/rolfbjarne/848f5c5fed4f3e1a5314232d269bb670

AutoImports.props is loaded at line 27: https://gist.github.com/rolfbjarne/848f5c5fed4f3e1a5314232d269bb670#file-g

[2021-06-17 19:48] fanyang-mono opened #54358 "[MONO][Android][Interp] JIT/Performance/CodeQuality/Burgers/Burgers/Burgers.sh failed on Android x64 with interpreter"
JIT/Performance/CodeQuality/Burgers/Burgers/Burgers.sh failed on Android x64 with interpreter with the following error

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT/console.d8c4271f.log?sv=2019-07-07&se=2021-07-07T16%3A35%3A55Z&sr=c&sp=rl&sig=9XwT59x%2Bj3Sscfb8zn3gZ4RalUABqgsDFGMafqXPHQ4%3D)

[code]

[2021-06-17 19:48] markheath commented on #54132
A new version of NAudio is available (2.0.1) that resolves this issue by making `WaveHeader` sealed.

[2021-06-17 19:53] fanyang-mono opened #54359 "[MONO][Interp] JIT/CodeGenBringUpTests/Localloc_* failed with interpreter"
Here is the error message:

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT.CodeGenBringUpTests/console.692cbdf5.log?sv=2019-07-07&se=2021-07-07T16%3A35%3A55Z&sr=c&sp=rl&sig=9XwT59x%2Bj3Sscfb8zn3gZ4RalUABqgsDFGMafqXPHQ4%3D)

[code]

[2021-06-17 19:54] davidfowl commented on #54351
bug fix > performance 😄

[2021-06-17 19:56] #51265 closed

[2021-06-17 19:57] luizfernandonb commented on #20640
I created a [thread](https://github.com/dotnet/csharplang/discussions/4839) on dotnet/csharplang about this issue

[2021-06-17 19:58] roberto-tim opened #54360 "ClientWebSocket closes with Aborted exception when payload contains 0xFF characters"
We have a simple text based CLI over WebSockets and sending a command results in multiple packets being returned.  It appears that when awaiting ClientWebSocket.ReceiveAsync packets that have 0xFF's in the payload are causing an WebSocketExecption Aborted exception.

[code]

From WireShark

Working packet:

[code]

Packet causing ClientWebSocket to throw WebSocketExecption
[code]
**NOTE**: The rem

[2021-06-17 20:01] LakshanF commented on #51266
PR #54013 is a test run with built-in COM disabled and the analysis of the failures after #54298 was merged seems as expected

[2021-06-17 20:01] #51266 closed

[2021-06-17 20:02] LakshanF commented on #50500
Closing this given the planned work was completed

[2021-06-17 20:02] #50500 closed

[2021-06-17 20:07] LakshanF commented on #36659
Closing this now

[2021-06-17 20:07] #36659 closed

[2021-06-17 20:14] YoshiRulz commented on #28069
Possibly related: #13678

[2021-06-17 20:26] LakshanF commented on #46880
This is possible now with `_EnableConsumingManagedCodeFromNativeHosting `(see https://github.com/dotnet/runtime/blob/main/docs/workflow/trimming/feature-switches.md)

[2021-06-17 20:26] #46880 closed

[2021-06-17 20:57] rseanhall commented on #46880
This appears to have been implemented in https://github.com/dotnet/runtime/pull/52109. Which .NET 6 preview will have this?

[2021-06-17 21:00] GrabYourPitchforks commented on #54354
The diff shows no changes to the _System.Text.Encodings.Web_ sources between those two commits. PGO or JIT issue, perhaps?

[2021-06-17 21:02] DrewScoggins commented on #54354
Sorry, I did not mean to copy this issue over. This is not a regression.

[2021-06-17 21:02] #54354 closed

[2021-06-17 21:02] eerhardt opened #54363 "ToolboxBitmapAttribute no longer supports resource/assembly name Suffixes"
With https://github.com/dotnet/runtime/issues/22761 and https://github.com/dotnet/corefx/pull/22833, BitmapSelector.Suffix will always be null, with no external way of setting it to anything else.

https://github.com/dotnet/runtime/blob/1306b036c1414afa39608ed8ede24fe003191132/src/libraries/System.Drawing.Common/src/System/Drawing/BitmapSelector.cs#L15-L38

The implementation of the suffix feature

[2021-06-17 21:11] agocke commented on #53307
Note: we will be enabling the AppHost for coreclr in order to support Apple Silicon. I don't know if there's a different configuration where that doesn't make sense.

[2021-06-17 21:12] terrajobst opened #54365 "Announcement: Dropping older framework versions"
Our packages drop support for frameworks older than .NET Framework 4.6.1, .NET Core 3.1, or .NET Standard 2.0.

## Reason

Dropping a framework from a package is a source breaking change. At the same time, continuing to build for all frameworks we ever shipped increases the complexity and size of a package. In the past, we've solved this issue by *harvesting*, which basically means:

1. We build o

[2021-06-17 21:12] agocke commented on #53307
As we're enabling the AppHost for Mac we may be removing some of those properties, so I would be careful about dependencies here. Clearly `UseAppHost` is public, so there's no problem there, but I'm not sure what will change in our usage of `_RuntimeIdentifierUsesAppHost`

[2021-06-17 21:22] Kaelum opened #54367 "#40711 breaks nullable reference types"
None of the collection objects support `KeyValuePair<string?, string?>`, which means the only way that you can use the `FormUrlEncodedContent` class is by creating a `List<KeyValuePair<string?, string?>>` object.  Is this the intention of the core team?

@ManickaP is wrong in the #40711 statement.  An entire year of requiring others to write absurd code is not acceptable.  This needs to be escalat

[2021-06-17 21:23] cshung opened #54368 "Incomplete loading of DacpGcHeapDetails in ClrDataAccess::ServerGCHeapDetails"
The structure `DacpGcHeapDetails` has many fields:

https://github.com/dotnet/runtime/blob/1306b036c1414afa39608ed8ede24fe003191132/src/coreclr/inc/dacprivate.h#L725-L757

But the `ServerGCHeapDetails` function only loads a subset of them:

https://github.com/dotnet/runtime/blob/1306b036c1414afa39608ed8ede24fe003191132/src/coreclr/debug/daccess/request_svr.cpp#L102-L144

Comparing with the worksta

[2021-06-17 21:29] BruceForstall commented on #54316
There's another test failing. Same issue, different result, or not?

https://dev.azure.com/dnceng/public/_build/results?buildId=1191223&view=ms.vss-test-web.build-test-results-tab&runId=35762252&paneView=debug

R2R-CG2 windows x64 Checked no_tiered_compilation

(and other legs)

Interop\\COM\\NETClients\\ComDisabled\\NETClientComDisabled\\NETClientComDisabled.cmd
[code]

[2021-06-17 21:29] LakshanF commented on #46880
Yes, preview 6 should have this support.

[2021-06-17 21:32] Kaelum commented on #38494
@ManickaP changing a `null` key to `String.Empty` is breaking.  I don't see how you can't see that.  This was done for something else a long while back, where no one expected it.  History is repeating itself again.

[2021-06-17 21:32] trylek commented on #54316
Hmm, I have no idea whatsoever how this could be related to CG2, please let me know if that's something we need to investigate in its context.

[2021-06-17 21:33] trylek commented on #54316
/cc @dotnet/crossgen-contrib

[2021-06-17 21:33] jkotas commented on #54316
This is different issue. cc @LakshanF

[2021-06-17 21:59] fanyang-mono opened #54371 "[MONO][Interp] Assertion at /__w/1/s/src/mono/mono/mini/interp/transform.c:6813, condition `td->clause_indexes [in_offset] != -1' not met"
The following tests failed on Android x64 with Interpreter the the same error shown below:

- JIT/Directed/coverage/importer/badendfinally/badendfinally.sh
- JIT/Directed/coverage/importer/Desktop/badendfinally_il_d/badendfinally_il_d.sh
- JIT/Directed/coverage/importer/Desktop/badendfinally_il_r/badendfinally_il_r.sh

Here is the error message:

[Full log](https://helixre8s23ayyeko0k025g8.blob.co

[2021-06-17 22:00] Kaelum commented on #54367
P.S. When using .NET Core 3.1 with `<Nullable>enable</Nullable>` using `Dictionary<string, string>` works, no warnings, and no errors.  Upgrading the .NET 5.0 compiles with warnings.  So, who is being protected?

[2021-06-17 22:00] fanyang-mono opened #54372 "[MONO][Interp] transform.c: Unimplemented opcode: ee at 0x0"
The following tests failed on Android x64 with Interpreter the the same error shown below:

- JIT/Directed/coverage/importer/ceeillegal/ceeillegal.sh
- JIT/Directed/coverage/importer/Desktop/ceeillegal_il_d/ceeillegal_il_d.sh
- JIT/Directed/coverage/importer/Desktop/ceeillegal_il_r/ceeillegal_il_r.sh

Here is the error message:

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dot

[2021-06-17 22:03] fanyang-mono opened #54373 "[MONO][Interp] jmp to pinvoke method not supported"
Failed tests list:

- JIT/Directed/pinvoke/tail/tail.sh

[2021-06-17 22:04] fanyang-mono opened #54374 "[MONO][Interp] function call tests failed with SEGV with interpreter"
Failed tests list:

- JIT/Directed/tailcall/tailcall/tailcall.sh
- JIT/Methodical/VT/callconv/_il_reljumper3/_il_reljumper3.sh
- Regressions/coreclr/22386/debug3/debug3.sh

Here is the error message:

[JIT/Directed/* full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT.Directed/console.850ee7bc.log?sv=2019-07-07&se=2021-07-07T

[2021-06-17 22:15] #46296 closed

[2021-06-17 22:16] iinuwa commented on #44826
Based on @makrattaur's analysis, there are two problems here: `SessionOptions.ReferralChasing` is ineffective, and we can't set rebind callbacks in Linux.

I have a commit to be able to make the `ReferralChasing` property effective, which should "resolve" this particular problem. If accepted, we should open a separate issue to track setting rebind callbacks.

@danmoseley, can you assign this to me

[2021-06-17 22:18] seangwright commented on #54365
Harvesting sounds like a slightly dangerous practice. I never knew it happened before this announcement.

If I update a package to a newer version, I would expect to get that newer version's features and not the previous versions features under a new version number (dependent on my TFM).

Happy to hear this will no longer happen!

[2021-06-17 22:21] fanyang-mono opened #54375 "[MONO][Interp] JIT/IL_Conformance/Old/Conformance_Base/div_r8/div_r8.sh failed with unhandled exception with interpreter"
[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT.IL_Conformance/console.faf36407.log?sv=2019-07-07&se=2021-07-07T16%3A35%3A55Z&sr=c&sp=rl&sig=9XwT59x%2Bj3Sscfb8zn3gZ4RalUABqgsDFGMafqXPHQ4%3D)

Error message:
[code]

[2021-06-17 22:24] fanyang-mono opened #54376 "[MONO][Interp] JIT/IL_Conformance/* tests failed return the correct return code with interpreter"
Failed tests list:

- JIT/IL_Conformance/Old/Base/ckfinite/ckfinite.sh
- JIT/IL_Conformance/Old/Conformance_Base/add_r4/add_r4.sh
- JIT/IL_Conformance/Old/Conformance_Base/ckfinite_r4/ckfinite_r4.sh
- JIT/IL_Conformance/Old/Conformance_Base/div_r4/div_r4.sh
- JIT/IL_Conformance/Old/Conformance_Base/ldc_ckfinite_r4/ldc_ckfinite_r4.sh
- JIT/IL_Conformance/Old/Conformance_Base/mul_r4/mul_r4.sh
- JIT/

[2021-06-17 22:34] terrajobst commented on #54365
I'd agree that the old model broke customer expectations but I don't believe it to be dangerous. It's not any different from the customer not upgrading their package.

[2021-06-17 22:38] BruceForstall opened #54379 "Test failure: Interop\\COM\\NETClients\\ComDisabled\\NETClientComDisabled\\NETClientComDisabled.cmd"
https://dev.azure.com/dnceng/public/_build/results?buildId=1191223&view=ms.vss-test-web.build-test-results-tab&runId=35762252&resultId=101048&paneView=debug

R2R-CG2 windows x64 Checked no_tiered_compilation

(and other legs)

[code]

Related? https://github.com/dotnet/runtime/pull/54298

@jkoritzinsky @LakshanF

[2021-06-17 22:38] BruceForstall commented on #54316
ok, I created https://github.com/dotnet/runtime/issues/54379 for the other issue.

[2021-06-17 22:45] lewing commented on #53545
cc @steveisok

[2021-06-17 23:06] fanyang-mono opened #54381 "[MONO][Interp] Assertion: should not be reached at /__w/1/s/src/mono/mono/mini/interp/transform.c:5325 with interpreter"
The following tests failed on Android x64 with Interpreter the the same error shown below:

- JIT/Methodical/NaN/r4nanconv_il_d/r4nanconv_il_d.sh
- JIT/Methodical/NaN/r4nanconv_il_r/r4nanconv_il_r.sh
- JIT/Regression/JitBlue/DevDiv_710234/DevDiv_710234/DevDiv_710234.sh
- JIT/Regression/CLR-x86-JIT/V1-M11-Beta1/b27873/b27873/b27873.sh
- JIT/Regression/CLR-x86-JIT/V1-M11-Beta1/b44879/b44879/b44879.s

[2021-06-17 23:08] fanyang-mono opened #54382 "[MONO][Android][Interp] JIT/Methodical/* tests failed return the correct return code on Android x64 with interpreter"
Failed tests list:

- JIT/Methodical/localloc/verify/verify01_dynamic/verify01_dynamic.sh
- JIT/Methodical/localloc/verify/verify01_large/verify01_large.sh
- JIT/Methodical/localloc/verify/verify01_small/verify01_small.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT.Methodical/console.d471468f.log?sv=2019-07-07&se=20

[2021-06-17 23:09] fanyang-mono opened #54383 "[MONO][Android][Interp] Tracking runtime test failures on Android x64 with interpreter"
Comparing to Android x64 with JIT, here are the additional 93 tests failing to run on Android x64 with interpreter

- [ ] #54358 [MONO][Android][Interp] JIT/Performance/CodeQuality/Burgers/Burgers/Burgers.sh failed on Android x64 with interpreter
- [ ] #54359 [MONO][Android][Interp] JIT/CodeGenBringUpTests/Localloc_* failed on Android x64 with interpreter
- [ ] #54371 [MONO][Android][Interp] Asser

[2021-06-17 23:17] Clockwork-Muse commented on #54276
`taskset -c 0-7 dotnet run -c Release`

Uh, now I'm curious, does this actually change how many threads the runtime sees?  Although the results imply that it does.

[Related config to try](https://stackoverflow.com/questions/26830237/why-is-my-net-app-only-using-single-numa-node)

[Definitely related, unsure of effects](https://github.com/dotnet/runtime/issues/9748).

How much memory does your mac

[2021-06-17 23:18] tannergooding commented on #53532
@zpodlovics, could you please update the top post to place `Pause` in `X86Base` and to also propose `ArmBase.Yield`?

After that we can mark this `api-ready-for-review`

[2021-06-17 23:21] tannergooding commented on #39243
@echesakovMSFT, are you still planning on doing this for 6.0.0? If not, we should change the milestone to `future`

[2021-06-17 23:22] tannergooding commented on #43780
This was implemented and merged.

[2021-06-17 23:22] #43780 closed

[2021-06-17 23:23] tannergooding commented on #44115
Marked as `easy` and `up-for-grabs`.

[2021-06-17 23:24] tannergooding commented on #47837
Going to close this given the above conversation.

[2021-06-17 23:24] #47837 closed

[2021-06-17 23:25] tannergooding commented on #48971
The docs here look to already be inline as they were seeded from the /// in the first place

[2021-06-17 23:25] #48971 closed

[2021-06-17 23:25] tannergooding commented on #49397
This is in PR and is just awaiting review. Keeping in 6.0.0 for the time being.

[2021-06-17 23:27] tannergooding commented on #49846
This is something that will likely not make 6.0.0 but will be more easily resolvable once https://github.com/dotnet/runtime/issues/49397 is in.

[2021-06-17 23:27] XArtur0 commented on #50588
So, all of us that do require the dash* have to either change our logic (not just code), roll our own hex formatter or keep allocating (and copying) memory on the heap? Don't get me wrong, all 3 are fair, its not like our existing code got broken...
I agree that #17837 is a better forward solution, I will probably end up changing my code to use it instead myself.

If no overload is added, perhaps

[2021-06-17 23:28] tannergooding commented on #48969
I've put this into future as none of these APIs have actually shipped yet.

[2021-06-17 23:29] tannergooding commented on #42031
This should be a small work item we can still do for 6.0.0

[2021-06-17 23:29] mangod9 commented on #54276
I assume you mean how many cores the runtime sees?

Yeah NUMA aware threadpool is on the radar, but not sure how much it helps in this particular case, since all allocations are localized to the method. If `MethodRunInParallel` was awaiting on something then it would certainly matter, unless the `preallocating the HashSet` has made it a static or something

[2021-06-17 23:31] tannergooding commented on #41454
@naricc, is there any update here. Is this something that is going to be worked on for 6.0.0?

If not, I'd like to either move this to `future` or close, as appropriate.

[2021-06-17 23:32] tannergooding commented on #43263
Closing this as it isn't actionable as is. If someone would like this functionality they will need to open an API proposal following our template: https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md&title=

Ideally this would address the feedback above and try to ensure the behavior is intuitive to use.

[2021-06-17 23:32] #43263 closed

[2021-06-17 23:38] tannergooding commented on #43721
Happy to take any fixes here to make things more performant or make software and accelerated versions have identical behavior where they don't match.

[2021-06-17 23:38] tannergooding commented on #43796
This might be feasible with the generic math interfaces that are being proposed.

[2021-06-17 23:39] #46955 closed

[2021-06-17 23:40] #46259 closed

[2021-06-17 23:41] tannergooding commented on #46872
This is a complex proposal that needs a lot more design work and likely fits in better with the `System.Numerics.Tensor` space that is being explored.

Going to close this for now as we have existing issues/types under Tensors.

[2021-06-17 23:41] #46872 closed

[2021-06-17 23:43] tannergooding commented on #47265
Going to close this as it has open questions that haven't received any answer. Please feel free to reopen or open a new issue/discussion once as appropriate.

[2021-06-17 23:43] #47265 closed

[2021-06-17 23:44] tannergooding commented on #47456
Closing as I don't believe these are APIs that should be added to System.Math today.

We have alternatives, such as in Linq, that do provide the desired functionality and rolling your own API here is fairly trivial.

[2021-06-17 23:44] #47456 closed

[2021-06-17 23:45] tannergooding commented on #48247
This likely needs more design work and usage samples.

[2021-06-17 23:46] tannergooding commented on #48615
@JeremyKuhne, what's the importance of getting this in for 6.0.0 vs changing it to 7.0.0 or future?

[2021-06-17 23:46] GrabYourPitchforks commented on #54365
To expand on Immo's comment above - when we build security patches for packages, we ensure that _all_ binaries in the package are patched. This means that if we make an announcement "version 4.0.0 of \<some package\> has a vulnerability, and you should use version 4.0.1 instead," then every single binary contained within the 4.0.1 package will have the patch. We backport the patch and reharvest th

[2021-06-17 23:47] tannergooding commented on #48968
Keeping this in 6.0.0 as it should be fairly trivial to get a PR for this up and in.

[2021-06-17 23:47] tannergooding commented on #49164
This is "by design" and is a regression to ensure the returned result is correct.

[2021-06-17 23:47] #49164 closed

[2021-06-17 23:48] tannergooding commented on #49522
Keeping in 6.0.0 as we should do the minimal investigatory work to confirm the bug and see if its a trivial fix.

[2021-06-17 23:49] tannergooding commented on #49654
Going to close this as I'd ideally like to see more support or usage scenarios.

As it is, I believe such a helper API can be trivially implemented if users really need this API.

[2021-06-17 23:49] #49654 closed

[2021-06-17 23:50] tannergooding commented on #49522
Actually, closing this one in favor of https://github.com/dotnet/runtime/issues/49654

[2021-06-17 23:50] #49522 closed

[2021-06-17 23:50] tannergooding commented on #49824
Keeping in 6.0.0 as we should do the minimal investigatory work to confirm the bug and see if its a trivial fix.

[2021-06-17 23:51] #46855 closed

[2021-06-17 23:52] tannergooding commented on #50336
Closing this as unactionable unless the language takes https://github.com/dotnet/csharplang/issues/4666

If the language does add support, we should be able to reopen and consider this.

[2021-06-17 23:52] #50336 closed

[2021-06-17 23:53] #51678 closed

[2021-06-17 23:53] tannergooding commented on #50385
Closing this as "by design".

We are happy to take a PR updating the documentation or a new issue proposing (https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md&title=) an API that allows you to explicitly parse as signed vs unsigned.

[2021-06-17 23:53] #50385 closed

[2021-06-17 23:56] lewing commented on #51679
@SamMonoRT this is worth looking at, I'm not sure we've dug into the XML failures on AOT enough to understand them yet.

[2021-06-17 23:57] tannergooding commented on #49611
This looks like a rounding bug. Putting into 6.0 so we can do an investigation to determine if this is a simple fix or not.

[2021-06-18 00:00] tannergooding commented on #853
Is this work going to be completed for 6.0.0? If not, we should adjust the milestone.

[2021-06-18 00:00] safern commented on #42031
@tannergooding should be simple following: https://github.com/dotnet/runtimelab/tree/standalone-template#standalone-experiments

[2021-06-18 00:02] JeremyKuhne commented on #48615
@tannergooding it is getting late for 6 so it isn't _critical_. If we don't have time now it would be good to get it taken care of early in 7 so we can actually build on it.

[2021-06-18 00:04] tannergooding commented on #48615
Thanks! Going to mark this as 7.0.0 so we hopefully get to it early in the triage process.

[2021-06-18 00:06] GrabYourPitchforks commented on #52947
@krwq I made significant progress on this ([see here](https://github.com/GrabYourPitchforks/runtime/tree/195d736c004c154806bfdf38519bce98662647e0/src/libraries/Microsoft.Bcl.Unicode)), but since we're so late in the process I don't think we can hit 6.0. Spoke with Jeff about this as well, and will spend a little time looking through other code bases to see if they can benefit from these types or w

[2021-06-18 00:13] wzchua commented on #43396
This is a dupe of https://github.com/dotnet/runtime/issues/27358

[2021-06-18 00:15] #43396 closed

[2021-06-18 01:06] hoyosjs commented on #52768
One thing I forgot to ask here, is this mixed more debugging?

[2021-06-18 01:06] danmoseley commented on #44826
I can edit the title if you tell me what to.

[2021-06-18 01:19] romfir opened #54385 "System.Text.Json source generator JsonIgnoreCondition missing namespace"
### Description

When using ```JsonIgnoreAttribute``` with ```JsonSerializerContext``` using Source Generators, generated code is not correct

example classes:
[code]
[code]
error:
 ```error CS0103: The name 'JsonIgnoreCondition' does not exist in the current context```

generated:
[code]
expected:
[code]

### Configuration
dotnet: 6.0.100-preview.5.21302.13
System.Text.Json: 6.0.0-preview.5.21301

[2021-06-18 01:30] mikernet commented on #47265
Hey Tanner, I believe we discussed this further over at the discord and answered some of these questions. I should have noted them down in this issue, but I'm still very much interested in optimizing this, you said you needed to think about it more.

This is the fastest reliable way I could determine for counting digits: https://github.com/Singulink/Singulink.Numerics.BigIntegerExtensions/blob/c52

[2021-06-18 01:38] iinuwa commented on #44826
Thanks! Maybe "LDAP referral chasing cannot be disabled on Linux."

[2021-06-18 01:42] VincentBu opened #54386 "Mono Android test failure - Test failure JIT/Math/Functions/Functions_r/Functions_r.sh"
Run: [runtime 20210617.80](https://dev.azure.com/dnceng/public/_build/results?buildId=1192980&view=ms.vss-test-web.build-test-results-tab&runId=35798826&resultId=100001&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-06-18 01:43] mikernet commented on #47265
I'm guessing going through `TryWriteBytes()` would potentially be much faster than `ToString()` but I haven't figured out how to implement counting trailing base10 digits based on what that returns yet.

[2021-06-18 01:46] newbe36524 opened #54387 "Blazor WebAssembly AOT Workload installation failed at Windows PC"
### Description

- launch cmd with administration privileges
- type `dotnet workload install microsoft-net-sdk-blazorwebassembly-aot`
- error as below

[code]

### Configuration

dotnet sdks

[code]

systeminfo

[code]

file `C:\Program Files\dotnet\metadata\workloads\InstalledPacks\v1\Microsoft.NETCore.App.Runtime.Mono.browser-wasm\6.0.0-preview.5.21301.5\6.0.100`

[code]

### Regression?

it is

[2021-06-18 01:53] fanyang-mono opened #54388 "[MONO][Android][Interp] JIT/Methodical/* test failed with unhandled exception on Android x64 with interpreter"
Failed tests list:

- JIT/Methodical/Boxing/boxunbox/_il_dbghuge_filter/_il_dbghuge_filter.sh
- JIT/Methodical/Boxing/boxunbox/_il_dbgtailcall/_il_dbgtailcall.sh
- JIT/Methodical/Boxing/boxunbox/_il_relhuge_filter/_il_relhuge_filter.sh
- JIT/Methodical/Boxing/boxunbox/_il_reltailcall/_il_reltailcall.sh
- JIT/Methodical/Coverage/b39946/b39946.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.cor

[2021-06-18 01:54] VincentBu commented on #53404
Failed again in [runtime-coreclr libraries-jitstress 20210617.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1191676&view=ms.vss-test-web.build-test-results-tab&runId=35769406&resultId=182350&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-06-18 01:56] fanyang-mono opened #54389 "[MONO][Interp] JIT/Methodical/eh/basics/throwinfilter_* failed on Android x64 with interpreter"
Failed tests list:

- JIT/Methodical/eh/basics/throwinfilter_d/throwinfilter_d.sh
- JIT/Methodical/eh/basics/throwinfilter_r/throwinfilter_r.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT.Methodical.eh/console.1da4e5ee.log?sv=2019-07-07&se=2021-07-07T16%3A35%3A55Z&sr=c&sp=rl&sig=9XwT59x%2Bj3Sscfb8zn3gZ4RalUABqgsDFGM

[2021-06-18 02:04] jkotas commented on #54317
I agree that the ultimate goal should be to get to 100% ComWrappers, but I think it would make sense to update APIs like `Marshal.ReleaseComObject` to handle ComWrappers to make migration to ComWrappers easier.

Supporting ComWrappers in APIs like `Marshal.ReleaseComObject` costs very little and it is in the same spirit as `ComWrappers.RegisterForMarshalling` APIs that was also introduce to ease t

[2021-06-18 02:06] #33244 closed

[2021-06-18 02:09] reflectronic commented on #54297
I'll take this one.

[2021-06-18 02:16] tannergooding opened #54390 "Expose nint/nuint overloads for BitOperations"
## Background and Motivation

Continuing with the theme of adding `nint/nuint` support to certain core locations (intrinsics, math, etc), it would be beneficial to add `nint/nuint` overloads for various `BitOperations` APIs. We are already defining and using a few of these internally.

## Proposed API

[code]

[2021-06-18 02:17] tannergooding commented on #54297
Thanks reflectronic. Assigned out.

[2021-06-18 02:21] fanyang-mono opened #54391 "[MONO][Android][Interp] Assertion: should not be reached at /__w/1/s/src/mono/mono/mini/interp/transform.c:5794 on Android x64 with interpreter"
Failed tests list:

- JIT/Regression/JitBlue/DevDiv_362706/DevDiv_362706/DevDiv_362706.sh
- JIT/Regression/JitBlue/DevDiv_544983/DevDiv_544983/DevDiv_544983.sh
- JIT/Regression/JitBlue/DevDiv_605447/DevDiv_605447/DevDiv_605447.sh
- JIT/Regression/VS-ia64-JIT/V2.0-Beta2/b309576/b309576/b309576.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge

[2021-06-18 02:22] fanyang-mono opened #54392 "[MONO][Android][Interp] JIT/Regression/* failed return the correct return code on Android x64 with interpreter"
Failed tests list:

- JIT/Regression/CLR-x86-JIT/V1.2-M01/b13452/b13452/b13452.sh
- JIT/Regression/JitBlue/DevDiv_405852/DevDiv_405852/DevDiv_405852.sh
- JIT/Regression/JitBlue/GitHub_24846/GitHub_24846/GitHub_24846.sh
- JIT/Regression/VS-ia64-JIT/M00/b109878/b109878/b109878.sh
- JIT/Regression/VS-ia64-JIT/M00/b92726/b92726/b92726.sh

[full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.n

[2021-06-18 02:22] fanyang-mono opened #54393 "[MONO][Android][Interp] JIT/Regression/* failed with unhandled exception on Android x64 with interpreter"
Failed tests list:

- JIT/Regression/CLR-x86-JIT/V1.2-M01/b00722/b00722/b00722.sh
- JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b353858/b353858/b353858.sh
- JIT/Regression/JitBlue/DevDiv_487699/DevDiv_487699/DevDiv_487699.sh
- JIT/Regression/JitBlue/DevDiv_544983/DevDiv_544983/DevDiv_544983.sh
- JIT/Regression/JitBlue/GitHub_21990/GitHub_21990/GitHub_21990.sh
- JIT/Regression/VS-ia64-JIT/M00/b108366/b10

[2021-06-18 02:40] fanyang-mono opened #54394 "[MONO][Interp] Assertion: should not be reached at /__w/1/s/src/mono/mono/mini/interp/transform.c:6158 with interpreter"
Failed tests list:

- JIT/Regression/CLR-x86-JIT/V1-M09.5-PDC/b27883/b27883/b27883.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT.Regression.CLR-x86-JIT.V1-M09-M11/console.73fc2695.log?sv=2019-07-07&se=2021-07-07T16%3A35%3A55Z&sr=c&sp=rl&sig=9XwT59x%2Bj3Sscfb8zn3gZ4RalUABqgsDFGMafqXPHQ4%3D)
[code]

[2021-06-18 02:54] lewing commented on #54178
@tarekgh wasm should pull in its own ICU for blazor apps so I think this is just a result of NativeName being stripped from the data, but more generally it would be possible to package newer icu versions for old versions of windows if we wanted to.

[2021-06-18 02:58] lewing commented on #53819
What version of .NET are you using for this app? Can you reproduce it on .NET6?  In .NET5 the the GC was intentionally limited from doing collections inside managed code so allocating inside loops was an easy way to exhaust memory.

[2021-06-18 02:59] fanyang-mono opened #54395 "[MONO][Interp] Assertion at /__w/1/s/src/mono/mono/mini/interp/transform.c:4527, condition `td->sp >= td->stack' not met on Android x64 with interpreter"
Fail tests list:

- JIT/jit64/localloc/ehverify/eh07_large/eh07_large.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT.jit64/console.0629b13a.log?sv=2019-07-07&se=2021-07-07T16%3A35%3A55Z&sr=c&sp=rl&sig=9XwT59x%2Bj3Sscfb8zn3gZ4RalUABqgsDFGMafqXPHQ4%3D)

[code]

[2021-06-18 02:59] fanyang-mono opened #54396 "[MONO][Interp] Assertion: should not be reached at /__w/1/s/src/mono/mono/mini/interp/interp.c:3285 with interpreter"
Failed tests list:

- JIT/jit64/verif/sniff/fg/ver_fg_13/ver_fg_13.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/JIT.jit64/console.0629b13a.log?sv=2019-07-07&se=2021-07-07T16%3A35%3A55Z&sr=c&sp=rl&sig=9XwT59x%2Bj3Sscfb8zn3gZ4RalUABqgsDFGMafqXPHQ4%3D)

[code]

[2021-06-18 03:02] dotnet-eng-status[bot] opened #54397 "Build failed: Validate-DotNet/main #runtime-94593-.NET6"
Build [#runtime-94593-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1193262) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Fri, 18 Jun 2021 03:02:28 GMT
**Duration** - 233 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](https

[2021-06-18 03:03] lewing commented on #51911
cc @SamMonoRT

[2021-06-18 03:10] dotnet-eng-status[bot] opened #54398 "Build failed: Validate-DotNet/main #runtime-94555-.NET6Preview6"
Build [#runtime-94555-.NET6Preview6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1193263) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Fri, 18 Jun 2021 03:09:48 GMT
**Duration** - 240 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log

[2021-06-18 03:10] fanyang-mono opened #54399 "[MONO][Android][Interp] Loader/classloader/* tests failed on Android x64 with interpreter"
Failed tests list:

- Loader/classloader/DefaultInterfaceMethods/diamondshape/diamondshape_d/diamondshape_d.sh
- Loader/classloader/DefaultInterfaceMethods/diamondshape/diamondshape_r/diamondshape_r.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/Loader.classloader/console.91afb0ea.log?sv=2019-07-07&se=2021-07-07T16%3A35

[2021-06-18 03:12] DrkWzrd opened #54400 "DateOnly should have a matching Span type"
## Background and Motivation
I apologize in advance for my English.

TimeSpan is fine, but managing big time spans (years, months) with it (or, in the worst case, with DateTime struct) is so frustrating (and in DateTime case, incoherent). In real world there are so many scenarios where we use larger time spans than just a few days.

Therefore, I think DateOnly introduction should be accompanied wi

[2021-06-18 03:17] warrenkc commented on #53819
I was using .NET 5.0. I will try it with .NET 6 and let you know. Thank you. You are awesome!

[2021-06-18 03:18] fanyang-mono opened #54401 "[MONO][Interp] baseservices/varargs/varargsupport* failed with interpreter"
Failed tests list:

- baseservices/varargs/varargsupport/varargsupport.sh
- baseservices/varargs/varargsupport_r/varargsupport_r.sh

[Full log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54084-merge-7fe5a3a9adcf43bb89/PayloadGroup0/console.03aff470.log?sv=2019-07-07&se=2021-07-07T16%3A35%3A55Z&sr=c&sp=rl&sig=9XwT59x%2Bj3Sscfb8zn3gZ4RalUABqgsDFGMafqXPHQ4%3D)

[c

[2021-06-18 03:22] lewing opened #54403 "[wasm"

[2021-06-18 03:23] lewing opened #54404 "[wasm] Generate invoke signatures as part of the icall scanning."

[2021-06-18 03:26] #54403 closed

[2021-06-18 03:31] AaronRobinsonMSFT commented on #54317
I don't think it costs very little. It is a complicated scenario with a fair bit of nuance.

1) This could only be made to work for a globally registered `ComWrappers` instance for the marshalling scenario. Which means we would need to detect that one was registered _and_ the object passed in was created with it.
1) We would then call the `ReleaseObjects()` on the `ComWrappers` instance and pass i

[2021-06-18 03:33] fanyang-mono commented on #11063
I constantly see this issue for my PR to enabling all passing runtime tests on Android arm64 #49662

[2021-06-18 03:42] lewing commented on #48713
The limitations around this approach in the browser scenario make it unsuitable for a general sync over Promise solution.

[2021-06-18 03:42] #48713 closed

[2021-06-18 04:03] lewing commented on #51329
I think we can just call abort() and emscripten will do the rest.

[2021-06-18 04:09] tommcdon commented on #54368
@cshung Thank you for the bug report. Feel free to submit a PR correcting the inaccuracies in the DAC.
cc @mikem8361

[2021-06-18 04:41] lewing commented on #54160
Several of these look like they are failing because the browser silently ignores the invalid value?

[2021-06-18 04:42] vargaz commented on #51329
I think this was fixed by
https://github.com/dotnet/runtime/pull/53734

[2021-06-18 04:42] #51329 closed

[2021-06-18 04:43] AaronRobinsonMSFT commented on #54317
@kant2002 I took another look at this and really am concerned about the complexity here. We would need to update both `Marshal.ReleaseComObject` and `Marshal.FinalReleaseComObject` &ndash; the behavior would basically be identical. Aside from the relative cost of implementing these APIs we also must rely on a user's `ComWrappers` implementation. The contract for these APIs is rather specific and u

[2021-06-18 04:49] danmoseley commented on #53211
@stephentoub I see this is marked blocking. Suggesting someones planning to do it? Wondering whether we should mark up for grabs.

[2021-06-18 04:54] danmoseley commented on #44826
Done. Would you mind opening the other issue you mention, then? Thanks for helping improve this library.

[2021-06-18 04:56] jkoritzinsky commented on #54317
@AaronRobinsonMSFT `System.__ComObject` is internal to CoreLib, so that’s not possible.

[2021-06-18 05:04] AaronRobinsonMSFT commented on #54317
Doh! All those years of seeing that in the VS debugger and I never realized it was marked `internal`. Hmmm. Now I think we need to talk about this...

[2021-06-18 05:11] ChristianWeyer commented on #54322
FYI: I just tried it with Preview 5 – no change, same error.

[2021-06-18 05:22] timcassell commented on #23716
[code]

That's what I need! Currently it is impossible to read a struct field through reflection without boxing (even if I use `FieldInfo.GetValueDirect(TypedReference)` to avoid boxing the target, the return value will still be boxed).

Is this still being considered?

[2021-06-18 05:46] MagicAndre1981 commented on #54365
But does not show that a lot of nuget updates in NuGet UI, because PackageReferenceInclude this doesn't allow [version ranges like packages.config ](https://github.com/NuGet/Home/issues/6566)?

[2021-06-18 05:51] GraffC commented on #51701
I can confirm this new behavior that a port is added to the service principal requested by Kerberos in .NET 5 (5.0.7). The same codebase which performs a simple web request with the usage of System.Net.Http "generates" on the same infrastructure an different SPN than .net core 3.1 does.
I can reproduce this behavior and can provide some trace or whatever logs if required (i have the same scenario

[2021-06-18 05:53] warrenkc commented on #53819
Ok. I updated the app to use .NET 6.0.100-preview.5.21302.13
Here is a new video recording on the iPad 4th Gen Air.
iOS 14.6
Safari 14.1
and Chrome 91
https://drive.google.com/file/d/1DmopiQLK_WjAK4uxIlZv8CsemZ5i1DbQ/view?usp=sharing

[2021-06-18 06:33] En3Tho commented on #23716
@timcassell You can always use reflection.emit to make a field accessor delegate. It's just basically ldobj lfdfld ret.

[2021-06-18 06:48] Clockwork-Muse commented on #54276
@mangod9 - What I was really getting at was, if the threadpool was only able to see the restricted set of cores, then fewer of them would be executing in parallel.

`HashSet` doesn't appear to be using an array pool,  but the runtime is likely still able to reuse the previous memory anyways.

I'm half curious what would happen if you rewrote your task launching method to not capture the context, b

[2021-06-18 06:50] timcassell commented on #23716
I do believe that is not available on AOT runtimes?

[2021-06-18 06:54] Clockwork-Muse commented on #54400
The real concern isn't the _length_ of time, it's the fact that years/months have a varying number of days (and thus hours/minutes/seconds).  In contrast, `TimeSpan` represents an exact duration.  NodaTime (and JodaTime/JSR310) refer to this as a [`Period`](https://nodatime.org/3.0.x/api/NodaTime.Period.html), although the name isn't terribly important overall.

[2021-06-18 06:55] zpodlovics commented on #53532
@tannergooding @jkotas Thanks a lot for your comments. As suggested, I updated the proposal to use X86Base.Pause and ArmBase.Yield.

[2021-06-18 06:57] wfurt commented on #54338
How did you get msquic? It is _not_ included in the runtime. Also example of you are trying to do would be helpful. On Windows, QUIC also depends on very recent Windows versions (like Insider Preview) and it will not run without proper Schannel support.
Also there will not be QUIC api in .NET 6. The only one way how to console it will be via HTTP/3.

[2021-06-18 06:59] svick commented on #20640
@tannergooding

For the record, the championed issue about that (opened by @tannergooding) is https://github.com/dotnet/csharplang/issues/4665.

[2021-06-18 06:59] Joe4evr commented on #54367
Strange. Nullable covariance should allow any `IEnumerable<KeyValuePair<string, string>>` (such as `Dictionary<string, string>`) to be assigned to an `IEnumerable<KeyValuePair<string?, string?>>` without issue.

@jcouv I believe you know most about the nullable rules.

[2021-06-18 07:03] Thefrank commented on #14537
preview 5 just got pushed out and it won't even cross-build without changes:
- aspnetcore needs the crossgen2 nupkg output from runtime otherwise restore fails
  - runtime does not generate this as its explicitly turned off
- installer spits out a ton of non-fatal warnings about assembly versions being wrong
- **the finished product still segfaults**

If I have time this weekend I will try and fig

[2021-06-18 07:05] noahfalk commented on #54323
Thanks @ViktorHofer! Knowing that libs.pretest is part of libs does make me less worried, so that certainly helps : ) I still think (and I believe you agreed) the current instructions can be misleading, but it is much easier for me to imagine that many people were using the instructions as-is with success because they had already built the libs subset at some point prior. Thanks for clarifying my

[2021-06-18 07:23] stefanloerwald commented on #53990
libgit2sharp has been fixed and I can confirm that this isn't actually a dotnet runtime issue, but just one that surfaced because of the marshalling changes @janvorli mentioned. Thanks @Breakpoint21 for digging deep into this issue.

[2021-06-18 07:23] #53990 closed

[2021-06-18 07:32] bentoi commented on #54338
I expected msquic to be included in the runtime. So this error is the result of msquic not being present? I'm trying to see if we can use Quic as a transport. Since the API is included in the .NET 6 preview documentation, I expected it would be useable without having to use HTTP/3.

[2021-06-18 07:44] wfurt commented on #54338
The story is complicated and you can try to build msquic yourself from https://github.com/microsoft/msquic/blob/main/docs/BUILD.md

QUIC API will not be public when 6.0 - ships as we don't have confidence we can make it 1st class citizen.  It is still on TODO list and it will come come in some later release.

[2021-06-18 07:53] eiriktsarpalis commented on #54385
cc @layomia

[2021-06-18 08:02] Joe4evr commented on #54343
This is likely to do with the history of your local timezone. In the late 1800s it wasn't uncommon for certain regions to run both "Railroad time" (which was agreed-upon throughout the country) and "Local time" (which was different between towns/cities, and therefor could be off by a few minutes relative to Railroad time). The key thing to realize here is that at some point in time, the decision h

[2021-06-18 08:12] rolfbjarne opened #54406 "It's not possible for a workload to set a default RuntimeIdentifier"
### Description

In Xamarin workloads, we'd like to [set a default RuntimeIdentifier](https://github.com/xamarin/xamarin-macios/issues/10861) for each platform we support.

The problem is that the `Microsoft.NET.RuntimeIdentifierInference.targets` file is loaded before our `WorkloadManifest.targets` file, and executes some logic depending on whether the RuntimeIdentifier is set or not, which means

[2021-06-18 08:24] eiriktsarpalis commented on #54353
Because .NET is statically typed, there would need to be a separate method in order to support this type of scenario, for example:
[code]
A naïve implementation might attempt to implement this over the existing `Deserialize` methods using something like `String.Split`, however this would not work if line breaks are contained within individual root-level value encodings.

[2021-06-18 08:25] wfurt commented on #14537
Did you try to build the sos from diagnostic repo? It used to work and if it does not any more, we should try to fix it. I agree that without debugger debugging is hard.

[2021-06-18 08:29] BrzVlad commented on #54383
The title is misleading since these issues have nothing to do with android. These tests were already disabled on our CI runs on interpreter, however they were not triaged in detail. When it comes to android, it would have been more interesting to see whether there are any additional issues compared to desktop interpreter, which normally shouldn't be.

[2021-06-18 08:31] wfurt commented on #51701
Do you have any tests from .NET Framework @GraffC?

[2021-06-18 08:49] billybraga opened #54407 "Bad result for 5 or more service implementations of interface"
### Description

See [simple repro repo](https://github.com/billybraga/DotnetEnumerableServiceBug/blob/main/DotnetEnumerableServiceBug/Program.cs).

Basically, in dotnet 6 preview5, getting IEnumerable<> service (to get all implementations) is broken if service provider validates on build because slots are not always determined the same way and the validate step builds call site cache differently.

[2021-06-18 08:53] eiriktsarpalis commented on #53241
Can confirm this is a regression from .NET 5. Minimal reproduction:
[code]

[2021-06-18 08:54] eiriktsarpalis commented on #53241
cc @steveharter @layomia

[2021-06-18 08:57] veanes opened #54408 "Incorrect regex match results with negation under case-insensitivity"
### Description

Two buggy code snippets:

1) The following two-line code snippet in C# produces the result **(False,True)**.
The correct output is **(True,True)**.

 CultureInfo.CurrentCulture = new CultureInfo("tr");
 Console.WriteLine("{0},{1}", Regex.IsMatch("i", "(?i:[^I-J])"), Regex.IsMatch("i", "(?i:[^IJ])"));

2) The following single-line code snippet also produces the wrong result **(True

[2021-06-18 09:04] Nemirtingas opened #54409 "How to load at runtime assemblies that need .resources ?"

[2021-06-18 09:05] #54409 closed

[2021-06-18 09:12] AraHaan commented on #30367
hmm I think that ``GetCurrentProcess()`` should be modified to not allocate then ``Dispose()`` would not be needed to be called.

[2021-06-18 09:23] Thaina commented on #24900
I want to second this and maybe for more benefit convenient, I would like to propose nullable tuple keyvalue

[code]

With the API we could write both select and filter by return null to filter out unwanted value

[2021-06-18 10:03] mgravell commented on #23716
If you're going AOT, honestly: "generators" would be a better option here.
Do the magic during build instead.

On Fri, 18 Jun 2021, 07:51 Tim Cassell, ***@***.***> wrote:

[2021-06-18 10:06] N0D4N opened #54410 "Support non-allocating view on string properties values of JSON in System.Text.Json.Utf8JsonReader"
## Background and Motivation
Currently there is no way to get view on string property value of JSON without allocating string, except cases when string property is in fact number, `DateTime` or anything that `System.Buffers.Text.Utf8Parser` supports.
But many converters even inside `System.Text.Json` need string representation of string property only to parse it and don't use anywhere further, for

[2021-06-18 10:09] pepone commented on #49941
Would you consider using the same API already used for `QuicStream`

https://github.com/dotnet/runtime/blob/01b7e73cd378145264a7cb7a09365b41ed42b240/src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.cs#L98

This would make it simpler to support TCP and Quick with the same code.

[2021-06-18 10:39] kant2002 commented on #54317
I'm fine with either IDisposable, finalizer or other custom interface, but I would like that somehow this function work almost like it is expected in that function.
Maybe behind some switch. Without that, you have to go for ComWrappers and rewrite all P/Invoke calls, and wait for libraries to catch up.
Essentially this prevents global ComWrappers to be useful for existing applications in my opinio

[2021-06-18 10:44] MihaZupan commented on #35357
This has been fixed by dotnet/corefx#34321 for Core 3 and backported to 2.1 in dotnet/corefx#34300.

[2021-06-18 10:44] #35357 closed

[2021-06-18 11:10] anranruye commented on #54343
@Joe4evr Thank you.

[2021-06-18 11:13] b11p commented on #54277
Hi, Karel, thanks for your reply.

The main problem is to handle URI escape. I believe there is no API in `System.IO` to handle that. The closest API is `System.Web.HttpUtility.UrlPathEncode`. However, it does not always return the correct result for this scenario.

For example, if the file path is `/dir name%20/file?ww=33`, on Linux, `new Uri("/dir name%20/file?ww=33").AbsoluteUri` returns `file:

[2021-06-18 11:45] SamMonoRT commented on #48927
@naricc @akoeplinger - is this going to be possible by Preview 7 cutoff ?

[2021-06-18 11:59] fanyang-mono commented on #54383
I see. Let me clean the issues up.

[2021-06-18 12:03] anranruye commented on #54343
Now I understand why this happened. However, this makes difference between .Net implements. We still want the same behavior in all .Net implements.

[2021-06-18 12:05] eiriktsarpalis commented on #54410
This is already possible using the `ValueSpan` and `ValueSequence` properties:
[code]
I'm not sure how the proposed methods might simplify the above. As you have already mentioned allocating the right char buffer size would still require accessing the raw bytes and decoding the character length. One might also argue that `Span<char>` might not be the appropriate target type when the source uses Re

[2021-06-18 12:30] jkotas commented on #54317
The global ComWrappers instance is designed to only able to cover the simplest COM interop cases transparently (simple interface marshaling). It won't cover existing libraries and application that use COM interop in more advanced ways. It is very likely that applications or libraries that are using COM interop heavily will require changes to work well with ComWrappers (either global or local insta

[2021-06-18 12:32] mikernet commented on #47265
Oh wait, no, I don't believe `ILog` will work. As per our discord discussion:
@mikernet

@tannergooding

[2021-06-18 12:41] huoyaoyuan commented on #54410
`ValueSpan` does not handle escapes, right?

[2021-06-18 12:47] guardrex opened #54486 "Blazor globalization inconsistency between WASM and Server"
### Describe the bug

Working on updates to the Blazor Glob/Loc topic on https://github.com/dotnet/AspNetCore.Docs/pull/22525. cc: @hishamco

Either I've hit a bug or a personal knowledge gap: Globalization of a number isn't consistent across Blazor Server and Blazor WebAssembly.
* If a **_knowledge gap_** that I have, then I'll address this behavior in the topic's updates.
* If a **_bug_**, then

[2021-06-18 12:49] CarnaViire commented on #54360
That's because the data is sent with `WebSocketMessageType.Text`, for which we check UTF-8 validity. 0xFF is not a valid UTF-8 character. If you need to send 0xFF for some reason, you can do so with `WebSocketMessageType.Binary`

[2021-06-18 12:50] iinuwa opened #54411 "LDAP referral callback cannot be set in Linux"
The System.DirectoryServices.Protocols API for setting referral callbacks aligns with how the Windows LDAP library works, but . This prevents consumers to use LDAP referrals on Linux. See below for more analysis:

_Originally posted by @makrattaur in https://github.com/dotnet/runtime/issues/44826#issuecomment-777963933_

Hi, I am also running into this issue and I am able to reproduce with ldapsea

[2021-06-18 12:51] iinuwa commented on #44826
Sure thing! Created #54411.

[2021-06-18 13:00] N0D4N commented on #54410
As @huoyaoyuan noticed, current implementation of `Utf8JsonReader.GetString()` method [uses public method from internal class `JsonReaderHelper.GetUnescapedString(ReadOnlySpan<byte> utf8Source, int idx)`](https://github.com/dotnet/runtime/blob/01b7e73cd378145264a7cb7a09365b41ed42b240/src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs#L45) used for unescaping bytes,

[2021-06-18 13:02] harvinders opened #54413 "Is there a way to disable network for a .net desktop applications?"
We develop desktop apps based on WPF and now on WinUI and MAUI, and test these apps on Azure DevOps on remote agents using WinAppDriver. We are facing the challenge of testing applications under network failure scenarios. Unfortunately, we can't disable network adapters etc on the agents (hosted or on-premise).

I am wondering if there is a way to just disable network for the application under tes

[2021-06-18 13:07] k15tfu opened #54414 "Ability to get managed threads handles via DAC API"
I have an idea of getting managed thread names in ClrMD which is based on `ISOSDacInterface` interface.

At the moment there is no fast way to get this via DAC SOS API, we can only do this by enumerating all objects and taking the ones of type `System.Threading.Thread`. This takes about 2.2 seconds for my application, versus ~1ms when using `ClrmdRuntime.Threads` (https://github.com/microsoft/clrm

[2021-06-18 13:13] kant2002 commented on #54317
That's seems pragmatic. I see how it can be easy applied across codebases.

If nothing would be added/changed, I can provide separate PR's for each library in this repo. Any objections?

[2021-06-18 13:14] tvone-timmoore commented on #54360
Thanks CarnaVire, I thought as well that it might be a internal check but didn't want to jump to any conclusions.

We can't change or send as Binary as the data being returned from devices out in the field that have an unset value.  It is still text but ASCII in some cases.  We have to deal with older devices and code that is never going to be updated.

If that is the case then I believe the inter

[2021-06-18 13:30] sachin-agarwal-by opened #54415 "System.Diagnostics.PerformanceCounter written perfcounters is not working in linux"
I want to use System.Diagnostics.PerformanceCounter for kuberentes pods which is in linux but seems its not working any idea

[2021-06-18 13:37] stephentoub commented on #54360
It's actually required by the websocket specification:
https://datatracker.ietf.org/doc/html/rfc6455#page-48

[code]

[code]

[2021-06-18 13:47] tvone-timmoore commented on #54360
Thanks stephentoub, yes I've read the spec :) fun times, but that is not helpful in the real world, which is why I believe if the check could be made optional then that would be very helpful.

Rightly or wrongly other WebSocket implementations do not appear to be enforcing this check.

[2021-06-18 13:50] gfoidl commented on #44115
Do we need to care about the older runtimes or just use the current best pattern?

[2021-06-18 13:57] tannergooding commented on #44115
This mostly applies to hardware intrinsics which are .NET Core 3.1+ only, so I don't believe we have much to be concerned about here (I don't believe we are compiling for `netcoreapp3.1` and `net6.0` simultaneously).

If we do target downlevel TFMs, then we should consider the perf implications as .NET 3.1 will have continued support through Dec 2022: https://dotnet.microsoft.com/platform/support/

[2021-06-18 14:07] N0D4N commented on #54410
I've looked into `IBufferWriter<T>` and it seems, its "default" implementation is `ArrayBufferWriter<T>` which is class and allocates array inside itself, which kinda kills the idea of proposed API (no/less allocations), `PipeWriter` is another implementation of `IBufferWriter<T>` actually implements `IBufferWriter<byte>` so it can't be used in our case, since we need the buffer of `char`s.
I've a

[2021-06-18 14:12] eiriktsarpalis commented on #54410
Right, it does not.

I suppose it addresses the theoretical concern that the source `ReadOnlySequence<byte>` is too large to fit in an array. In my example above it will materialize as an overflow exception.

[2021-06-18 14:14] gfoidl commented on #44115
I can create a PR (next week or so), then we can discuss more over there?!

[2021-06-18 14:20] jkotas commented on #54317
The challenge with changes like this is testing - how do we know that it actually works?

I think it would prefferable to work towards the 100% ComWrappers solution: Pick one of these libraries, figure out how to make wean it off of the built-in COM support by default, and make it happen. Rinse & repeat.

[2021-06-18 14:26] tvone-timmoore commented on #54360
I suppose it depends on who does the checks, as I have to decode the bytes to UTF-8 then it's kind of saying that I should be doing the check and closing the connection?

[2021-06-18 14:40] gfoidl commented on #54415
They are Windows-only.
Have a look at [What diagnostic tools are available in .NET Core? / Metrics](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/#metrics)

[2021-06-18 14:45] ericsink opened #54427 "Preview 5 has two identical copies of System.Security.Cryptography.Cng.dll"
In .NET 6 preview 5, there are identical copies of System.​Security.​Cryptography.​Cng.dll in two different targeting packs, one in Microsoft.​NETCore.​App.Ref and another in Microsoft.​AspNetCore.​App.Ref.

I first mentioned this in a Tweet:

https://twitter.com/eric_sink/status/1405727524194242566

to which @davidfowl replied "That sounds like a bug...", so I figured it should be logged, and hop

[2021-06-18 15:11] pavelsavara commented on #53957
error `0xffffffff` is already captured here https://github.com/dotnet/runtime/issues/53281

[2021-06-18 15:13] danmoseley commented on #54415
Closing as this is answered thanks @gfoidl

@sachin-agarwal-by let us know if you have more questions.

[2021-06-18 15:19] kant2002 commented on #54317
Let's see. I would pick System.Drawing.Common as easiest target with only 2 interfaces. IStream and IPicture.
How I create RCW for IPicture, and CCW for IStream? Should I create them manually, or should I use codegen of some form? This one seems easy to create manually, but what about other libraries?

[2021-06-18 15:20] naricc commented on #48927
I don't think it is hard to do, but I have never actually done this kind of work before, so it's hard for me to give an accurate estimate. If we want to prioritize it, I don't see why it wouldn't be possible though.

[2021-06-18 15:20] N0D4N commented on #54410
I guess in such cases `ReadOnlySequence<byte>` can be enumerated, its content, can be unescaped/transcoded and then written to buffer with checking for buffer size. In case when buffer is filled, but there still is content inside `ValueSequence`, method should return or throw exception, as I've written inside Notes section of issue.
In my opinion proposed API isn't supposed to work with very big s

[2021-06-18 15:22] lambdageek opened #54417 "Define Mono runtime components build tooling for the workloads"
We want to define some properties and a build task to help workloads understand the contents of the runtime pack.

What we need:
1. Runtime pack includes a well-known MSBuild Item that defines the names of all the components in the runtime pack.
2. Runtime pack includes a target that takes as an input an Item list of the "selected" components and produces an Item list of the filenames that should

[2021-06-18 15:25] jkotas commented on #54415
Do we need to get System.Diagnostics.PerformanceCounter annotate as Windows-specific? I just tried to reference System.Diagnostics.PerformanceCounter on Linux in .NET 6 and got no warnings about it being supported on Windows only.

[2021-06-18 15:25] Clockwork-Muse commented on #54413
This likely won't be a property of the runtime, but something you have the OS do.  That's how Android is pulling it off as well - it's the OS enforcing a permissions model, especially for network access.

Normally I'd say "get the OS firewall in on it", but if you're on Windows 10 there might be something easier to do.  Otherwise, if you do need to do firewall rules, you can probably have the mach

[2021-06-18 15:25] vcsjones commented on #54336
@bartonjs

Hm. That makes some sense, but then I wonder if that would be problematic if the absence of a certificate would lead to some potential issues.

Consider:

[code]

If someone is using the disallowed store on macOS (really just a separate keychain) to store known bad certificates, and somehow an incorrectly encoded certificate was added to the certificate store (or we assume a disk is fli

[2021-06-18 15:28] naricc commented on #41454
@tannergooding This is not being actively worked on for 6.0.0; I am having some issues verifying weather or not is resolved right now. I will move it to future, and then close it when I am able to get the data (if merited).

[2021-06-18 15:28] jkotas commented on #54415
Sorry for false alarm. I must have forgotten to save the file or something. I see the warning as expected:
[code]

[2021-06-18 15:28] #54415 closed

[2021-06-18 15:29] mdh1418 opened #54418 "[MacCatalyst] System.Net.Sockets Loopback test fails"
System.Net.Sockets.Tests.ReceiveFrom_Apm.BeginReceiveFrom_RemoteEpIsReturnedWhenCompletedSynchronously
[code]

[2021-06-18 15:31] AaronRobinsonMSFT commented on #54317
@kant2002 I believe that @eerhardt is also looking into System.Drawing.Common. You two might want to sync.

[2021-06-18 15:37] kevinchalet commented on #52611
@steveharter I'd love to hear your thoughts about these scenarios 😄

[2021-06-18 15:42] DrkWzrd commented on #54400
@Clockwork-Muse I know months and years are variable length elements, but that not invalidate my argument. In fact, 'Period' from NodaTime has APIs for 'Weeks', 'Months' and 'Years' for example. And I understand TimeSpan is a "not editable" API, and the computations made by 'Period' and 'TimeSpan' are like night and day.

My point is "if we have a DateOnly API we should have a API representing Spa

[2021-06-18 15:42] sachin-agarwal-by commented on #54415
Thanks for ur suggestion But the way we uses System.Diagnostics.PerformanceCounter in .net code to find the cpu and memory usage once this code will deploy to azure kubernetes pod which will be running in linux then this code will never work so dont we have something which I can write as a code to find cpu and memory useage from percounter and same code work when this deployed to pods?

[2021-06-18 15:46] eerhardt commented on #54317
Yes, I started working on moving System.Drawing.Common over to COM wrappers in order to make it trim compatible. Here are the current ILLink warnings in Drawing:

https://github.com/dotnet/runtime/blob/cff5854fb02259b88cab89f77e8d403809300ae8/src/libraries/System.Drawing.Common/src/ILLink/ILLink.Suppressions.xml#L16-L81

They are all:

P/invoke method 'method' declares a parameter with COM marshal

[2021-06-18 15:48] pp111 opened #54419 "Paths ending on "0x00A0 NO-BREAK SPACE" character are trimmed in DirectoryInfo"
### Description

Windows allows folder names ending on "0x00A0 NO-BREAK SPACE" character, however in .NET the folder name is trimmed.
To reproduce it, create a folder inside E:\Test with just that character on the name (Pressing ALT, and input 0160, then leave ALT key), like the following:
"E:\Test\ "

Run this code:

[code]

Long paths must be enabled.

### Configuration
.NET Framework 4.8
Window

[2021-06-18 15:50] eerhardt commented on #54317
@kant2002 - if you want, you could pick up one of the other libraries?

https://github.com/dotnet/runtime/search?q=IL2050

* System.Management
* System.DirectoryServices
* System.Data.Odbc
* System.Data.OleDb

[2021-06-18 15:58] lambdageek opened #54421 "iOS Device runtime pack should include libmono-ee-interp.a"
In mono/mono, we built the interpreter for iOS devices as a separate static library that could be excluded from the build.

In dotnet/runtime we built the interpreter right into libmono.a for iOS device runtime packs.  This leads to a size increase for the common case where published iOS apps use FullAOT and don't need the interpreter fallback.

We should use the CMake `ENABLE_INTERP_LIB` option f

[2021-06-18 15:58] lambdageek commented on #54421
/cc @imhameed @spouliot

[2021-06-18 16:00] kant2002 commented on #54317
@eerhardt For now I would like to shadow you, to see how ComWrappers should be implemented. Can you tag me if you have PR or draft? Is there general consensus how it should be done? I can start poking into System.Data.Odbc or System.Management based on what should be done. Want to limit scope to easiest target first.

[2021-06-18 16:02] eerhardt commented on #54317
For sure! I'll tag you when I have a PR ready. Probably sometime next week.

[2021-06-18 16:02] jkotas commented on #54415
Take a look at `System.Diagnostic.Process.TotalProcessorTime` and similar properties.

[2021-06-18 16:06] sachin-agarwal-by commented on #54415
But will it give the entire PC CPU and Memory usage as PerfCounter provides ?

[2021-06-18 16:08] vcsjones commented on #54419
I can reproduce this in .NET Framework, but I cannot reproduce this in .NET 5 or .NET Core 3.1.

[2021-06-18 16:15] maulik-modi commented on #1566
@davidfowl and @JamesNK , what do you guys recommend here? We are building up new project using System.Text.json.

[2021-06-18 16:39] akoeplinger commented on #53545
This should probably help: https://github.com/dotnet/sdk/issues/16894

[2021-06-18 16:39] vcsjones commented on #53537
I can't get it to reproduce on Windows Server 2022 Preview. I'll close this then and if I find anything that does reproduce on Windows Server 2022 I will re-open or raise a new issue.

[2021-06-18 16:39] #53537 closed

[2021-06-18 16:42] terrajobst commented on #54365
Potentially. Hence, the recommendation to update the consuming project to a later framework version.

[2021-06-18 16:53] ericstj commented on #54187
Here was the previous request: https://github.com/dotnet/runtime/issues/30486

[2021-06-18 16:56] ericstj commented on #54189
@steveharter does this get any easier with https://github.com/dotnet/runtime/issues/36785?

[2021-06-18 17:01] tjmoore commented on #1541
Is there any workaround for the "Synchronous operations are disallowed" issue writing to a response stream as it looks like any proposal is still a long way off and can't wait for .NET 6+ (and for platform reasons currently limited to .NET Core 3.1) ?

Only options with ZipArchive I can see is to write the zip to a temp file and read that back as a stream asynchronously, or use a memory stream but

[2021-06-18 17:06] marek-safar commented on #54198
/move xamarin/xamarin-macios

[2021-06-18 17:06] #54198 closed

[2021-06-18 17:08] iPazooki opened #54422 "GetOrCreateAsync will always execute the inner method and will cache the result!"
### Description
When you use `GetOrCreateAsync` to get/create an object, it always calls the inner method and it seems **Get** is always returning _null_ as nothing will be saved in the cache. This code will always call `_repository.Get()`:

[code]
But it works fine if I use it like this:

[code]

It seems there is a bug in the `GetOrCreateAsync` implementation.

### Configuration
Version of .NET:

[2021-06-18 17:12] jkotas commented on #54415
It will only give you the CPU and Memory usage of the current process. We do not have cross-platform APIs that return CPU and Memory usage of the whole machine.

[2021-06-18 17:29] stephentoub commented on #1541
ASP.NET exposes a flag to control that, e.g.
[code]

[2021-06-18 17:29] kunalspathak commented on #54352
x64 improvements: https://github.com/DrewScoggins/performance-2/issues/6592 and https://github.com/DrewScoggins/performance-2/issues/6593

x86 improvements: https://github.com/DrewScoggins/performance-2/issues/6612

[2021-06-18 17:31] askolniak commented on #1541
@tjmoore - as a workaround you can allow synchronous operations at controller's method level:
`var feature = HttpContext.Features.Get<IHttpBodyControlFeature>();
feature.AllowSynchronousIO = true;`

[2021-06-18 17:35] ericstj commented on #54192
Do we have precedent in JSON for allowing it to modify existing collections rather than creating them and setting them?    @layomia is the expert here.  I seem to remember us having a strong opinion about this.

[2021-06-18 17:42] lambdageek commented on #54417
For example the current Android WIP is https://github.com/xamarin/xamarin-android/pull/6022/files#diff-ae990f1a2052dc51966ff8bd3f1de810710e0d29972845a834f4a6f6bb039c22R171-R174

[2021-06-18 17:46] davidfowl commented on #54407
Thanks! I'll take a look.

[2021-06-18 17:50] mdh1418 opened #54424 "[MacCatalyst] Failing to build MacCatalyst 'preadv' 'pwritev' only available on macCatalyst 14.0 or newer"
`./build.sh -s mono+libs+libs.pretest -os MacCatalyst -arch x64 -c Debug`
[code]

[2021-06-18 17:51] eiriktsarpalis commented on #54187
I think we could still do this, the existing workaround is needlessly cumbersome.

[2021-06-18 17:52] Thefrank commented on #14537
@wfurt it does not build for me:

- `gen-buildsys-clang.sh` does not appear to be able to understand that llvm versions > 9 exist. This is not a huge problem, llvm9->12 are supported under FreeBSD 12
- `LLDB_INCLUDE_DIR` `LLDB_LIB_DIR` need to be set otherwise the configure fails

manually making the above changes gets the build to at least start but it still fails with:
[code]

There are other an

[2021-06-18 17:55] wfurt commented on #14537
diagnostics is separate beast. We should contribute changes to make it build again - regardless of runtime.

[2021-06-18 18:00] tjmoore commented on #1541
@stephentoub @askolniak Is that wise though as synchronous IO was disabled for good reason (https://github.com/dotnet/aspnetcore/issues/7644)?

Though it's an option. Currently resorting to a temporary file and not sure if that's better or the risk of hanging the app.

[2021-06-18 18:03] stephentoub commented on #1541
You asked for a workaround.  That's the workaround :-)

[2021-06-18 18:10] tannergooding commented on #54408
This is not a bug.

`(?i:[^I])` and `(?i:[\0-HJ-\uFFFF])` are not equivalent ranges due to the case insensitivity. The equivalent range is instead `(?i:[\0-HJ-hj-\uFFFF])`

This is because the capital ASCII range is `0x0041-0x005A` while the lower case range is `0x0061-0x007A`. This means that `J-\uFFFF` includes `i`, which causes both `I` and `i` to be included due to being a case insensitive com

[2021-06-18 18:16] filipnavara commented on #54424
cc @adamsitnik This needs the same guard as macOS.

[2021-06-18 18:24] kevinchalet commented on #53406
Having such a property would be extremely useful! 👏🏻

/cc @steveharter

[2021-06-18 18:25] danmoseley commented on #1541
I wonder whether we can advance this proposal to reviewable. Then there would be time for someone passionate to get it into .NET 6.

[2021-06-18 18:27] danmoseley commented on #30367
It implements IDisposable - and removing that would be breaking even if it was possible - thus calling code must always call Dispose() even if looking under the covers, it does nothing (today). That isn't to say it's not nice if Dispose() is fast (or does nothing).

[2021-06-18 18:33] danmoseley commented on #54415
I thought we had a proposal for this, but it was for hardware not counters: https://github.com/dotnet/runtime/issues/22948. Arguably, it could be a 3rd party library - perhaps there is one.

[2021-06-18 18:45] dougbu commented on #54427
I like one line fixes 😃

[2021-06-18 19:09] mattjohnsonpint commented on #33033
Is this API still up for consideration?

[2021-06-18 19:09] timheuer commented on #54387
@newbe36524 the `Access to the path` points to possibly one of the issue -- can you run the command in an admin prompt?

[2021-06-18 19:44] Kaelum commented on #54367
@Joe4evr let me clarify.  At the time that we wrote the described code, casting as `IEnumerable<KeyValuePair<string?, string?>>` was not supported.  The majority of people who wrote those applications for .NET Core 3.1 and earlier, may not know this is now allowed.  The purpose of this thread to show that the statement, "**_By removing nullability from the key, we are removing ability to pass null

[2021-06-18 19:46] billybraga commented on #54407
I forgot to specify that without `ValidateOnBuild` it seems to work fine, since that call sites aren`t cached before executing `TryCreateEnumerable`. But when `ValidateOnBuild` is true, the validation phase primes the call site cache with slot values using `ServiceDescriptorCacheItem.GetSlot()`, and then `TryCreateEnumerable` uses `int slot = descriptors.Count - i - 1` which doesn't produce that s

[2021-06-18 20:01] Kaelum commented on #54367
P.S. The HTTP protocol does not support the key being `null` or the value being `null`, so this change to allow nulls is invalid, in and of itself.

[2021-06-18 20:06] MihaZupan commented on #54367
How is this issue different from the discussions on #38494?

[2021-06-18 20:11] HurricanKai commented on #52079
What is going to happen to this now? The labels suggest this will make it into .NET 6, has work on this started already / is it assigned to someone? Would a community contribution be helpful here? I'm very excited to get my hands on this 😄

[2021-06-18 20:17] Clockwork-Muse commented on #54400
These rely heavily on _normalization_, and in particular any of them will give wildly incorrect values if any of the properties are large enough.

These are actively dangerous, because the values you get this way can (and almost always will) be wildly different than the existing codepaths.  You're essentially reinventing DB2's `TIMESTAMPDIFF`, [and that has problems](https://stackoverflow.com/q/76

[2021-06-18 20:39] Kaelum commented on #54367
That issue only contains a small subset of the whole issue, but it's ultimate resolution may be the same.  It has also been sitting around for a year without a resolution.  On August 12, 2020, long before .NET 5.0 was released, @ManickaP effectively shutdown the discussion w/o any support for doing so.  I'm sorry, but there is a serious failure in communication between the teams involved.

It was

[2021-06-18 20:41] hoyosjs commented on #54322
I tested this on preview 5 and found no issues. I also checked that there was a change for that codepath between preview 4 and preview 5. The issue you linked mentions a permissions issue related to the omnisharp extension in x64 vs arm64. If you reproduce this with just hello world I'd think it's that first. If you have a repro though feel free to share and I'll take a look again.

[2021-06-18 20:42] jcouv commented on #54367
I'm joining the conversation late so I apologize if I'm missing some context.
Reading the thread and as someone unfamiliar with `FormUrlEncodedContent`, I would find useful to have code snippet to illustrate the problem: "Here's how we want to use a certain API with nullability and if we annotate that API a certain way then we get an undesirable behavior (compiler warnings)".

[2021-06-18 20:46] davidfowl commented on #54407
And this only repros with 5 or more instances?

[2021-06-18 20:48] Kaelum commented on #54367
@jcouv as a consumer, these changes should never have been made.  This class is solely used for HTTP purposes, it originally was defined as `string` (not `string?`), and the HTTP protocol does not allow either the key, or the value, to be `null`.  I have no idea why anyone at Microsoft thought that this change was needed.

[2021-06-18 21:05] DavidZidar opened #54433 "System.Text.Json source generator does not use globally prefixed namespace for nullable DateTime"
### Description

I tried to use the new source generator in a project with a `MyProject.System` namespace and could not compile because the generated code for a nullable `DateTime?` does not properly use `global::` prefix for the generic parameter in `Nullable<T>`.

**Example code**
[code]

The generated code in `JsonContext.NullableSystemDateTime.g.cs` contains the following two lines which refer

[2021-06-18 21:05] timcassell commented on #23716
I actually want it to read from a compiler-generated state machine for an optimization (yes I know that's an implementation detail and subject to change), so generators wouldn't work for me, either.

[2021-06-18 21:11] GrabYourPitchforks commented on #23716
@timcassell It's still being considered, it just got deprioritized compared to other work for this release.

[2021-06-18 21:13] agocke opened #54434 "Roll forward options and behavior aren't fully documented on docs.microsoft.com"
I believe https://github.com/dotnet/runtime/blob/main/docs/design/features/multilevel-sharedfx-lookup.md  is the most complete documentation, but there's nothing on docs.microsoft.com about all the possible settings.

[2021-06-18 21:55] #47564 closed

[2021-06-18 22:00] MihaZupan commented on #35337
While we are working on a proper solution for 6.0, if you don't care about distributed tracing at all, you can completely disable the `DiagnosticsHandler` for the process by setting an `AppContext` switch (may be useful for those using versions < 6 in the future).

[code]

[2021-06-18 22:01] billybraga commented on #54407
5 or more. Below that there are cache misses, but all the services seem ok.

[2021-06-18 22:01] iinuwa commented on #54274
I think this has changed a little bit on `main`, but the StartTLS still doesn't work. There's are two issues:

First, `LdapPal.StartTls` and `Interop.Ldap.ldap_start_tls` have the wrong method signatures. I think that's an easy fix.

The second is more complex. OpenLDAP's `ldap_start_tls` needs to be called after the URI is configured for the LDAP handle. But in `main`, the URI isn't configured be

[2021-06-18 22:09] stephentoub commented on #30367
If you mean it would return a singleton, that could be problematic if it's used concurrently by multiple threads, as various operations on Process are not thread-safe.

Dispose was fixed to be correct and that incurred a small penalty.  In most situations, that overhead is not measurable.  In the case of Process.GetCurrentProcess().Id, and other things like ProcessName, we now have properties on E

[2021-06-18 22:13] shravan2x commented on #35337
@MihaZupan Does this work in .NET 5.0? Are there any side effects I should know about?

[2021-06-18 22:18] MihaZupan commented on #35337
Yes the switch has been there for quite a while.

It will completely disable the DiagnosticsHandler.
The effect is that the DiagnosticListener will never fire events from DiagnosticsHandler, no activity will be created inside http requests, and we won't touch any context headers (such as request id, tracestate, correlation context..).

[2021-06-18 22:30] GrabYourPitchforks opened #54439 "JIT should recognize and optimize "try / catch (OverflowException)" patterns"
Based on discussion at https://github.com/dotnet/runtime/issues/46259#issuecomment-748729659.

Basically, there are some scenarios where we want to trap arithmetic overflow and execute a different code path, but we don't necessarily want to treat this as a failure _per se_, and we don't want the expensive exception dispatch logic that accompanies standard checked arithmetic.

One example is in imp

[2021-06-18 22:37] shravan2x commented on #35337
Glad to hear! I strongly doubt any average user would want to opt-in to an analytics/tracking system like this without fully understanding it.

[2021-06-18 22:50] MihaZupan commented on #35337
I don't think having it be on by default was a bad choice since realistically it's helping users that care about it while not really affecting those who don't.
If you don't care about it you risk running into very strict services that disallow it, but that seems to me like the service is being too aggressive.

It isn't leaking private information - these are just long random numbers for the most p

[2021-06-18 23:14] tannergooding commented on #54439
My main concern here is how usable this will be.

`try { } catch { }` isn't necessarily "intuitive" nor easily inlineable into other expressions. I imagine most users who need this may end up creating a wrapper method for this scenario

[2021-06-18 23:18] AraHaan commented on #30367
I agree, but for those targeting .NET Standard 2.0 (source Generators or libraries they intend to use a dependencies of source generators) they get stuck with ``Process.GetCurrentProcess()`` unless Reflection can let them get the results from those properties from the compiler and somehow magically find those newer Environment members (even though they are missing on .NET Standard 2.0).

[2021-06-18 23:20] davidfowl commented on #54407
OK I'm gonna try to get this fixed in preview6

[2021-06-18 23:22] stephentoub commented on #30367
We're talking about a few nanoseconds, and for something that needn't be used more than once, a it can be cached easily.

[2021-06-18 23:24] AraHaan commented on #30367
That is true, in my code I only call it only when I am about to force kill my process in the exception handler anyway so it should not be a big deal (after using the process id, the current native thread id, etc to make a dump).

[2021-06-18 23:44] BruceForstall commented on #54007
Looks like I just missed one case. The "disable" PR is now up for review.

[2021-06-18 23:50] Wraith2 commented on #54439
Or, there should be a way to do that operation without an exception. I believe that would involve exposing flags which has been mentioned.

[2021-06-18 23:51] #54320 closed

[2021-06-19 00:05] richlander opened #54441 "Testing composite R2R images with containers"
I filed this [SDK issue](https://github.com/dotnet/sdk/issues/16895) about a coherent SDK in order to produce containers with composite images (due to the way we layer the images). I then did some [data collection](https://github.com/dotnet/sdk/issues/16895#issuecomment-846310011) to quantify the severity of the problem. We concluded that most of the problem was (potentially) with Roslyn dependenc

[2021-06-19 00:35] hoyosjs commented on #54398
The symbols missing publishing are expected as they are explicitly excluded.

[2021-06-19 00:35] #54398 closed

[2021-06-19 00:41] josalem opened #54444 "[API Proposal] Add JIT Metrics APIs"
## Background and Motivation

Similar to GC metrics, a user may want to quickly inspect information about the JIT while their application is running. This includes information like the number of methods that have been JIT'd, the number of bytes of code generated by the JIT, and time spent compiling code in the JIT. We already produce `EventCounter`s for `il-bytes-jitted` and `methods-jitted-count`

[2021-06-19 00:43] josalem commented on #36324
duping to #54444

[2021-06-19 00:43] #36324 closed

[2021-06-19 00:46] trylek commented on #54441
Thanks so much Richard for collecting all these numbers. I must admit I'm still struggling with properly understanding the results though. In particular I find it fascinating how Tiered compilation can make some runs faster and others slower even for presumably the same payload. Similarly, the comparison between composite and non-composite sheds interesting light on the platform differences. I thi

[2021-06-19 01:05] ryancheung opened #54466 "`Vector2.One` is not always <1, 1> in some case (silent bad codegen)"
Reduced repro - Windows x64, repros at commit 9c0bf218fdeb34e7682bb536f3400fd6910dd386 :

1. Compile with optimizations on:
[code]
2. Run (with `COMPlus_TieredCompilation=0`)

Actual result:
- Checked build: Assertion failed 'isFloatReg(dstReg) && isFloatReg(srcReg)' in '<Program>$:<Main>$(System.String[])' during 'Generate code'
- Release build: FAIL

Expected result: passes without asserts or er

[2021-06-19 01:36] tomrus88 opened #54445 ".NET 6 SDK Preview 5 TrimMode has no effect"
### Description
I've tested publishing default WinForms app template with latest .NET 6 SDK Preview 5 with following command lines:
`dotnet publish -c Release -r win-x64 -p:PublishSingleFile=true -p:PublishTrimmed=true -p:TrimMode=Link`
`dotnet publish -c Release -r win-x64 -p:PublishSingleFile=true -p:PublishTrimmed=true -p:TrimMode=CopyUsed`
`dotnet publish -c Release -r win-x64 -p:PublishSingle

[2021-06-19 01:52] richlander commented on #54441
I'm with you on the hard-to-interpret results.

One clarification is that the Windows and macOS results are largely still Linux, since they are running in Linux containers. This is particularly true on Windows, running Docker in WSL2.

I re-ran three the test script on three of the OSes. I'm not a perf measurement expert, but this time I made sure to close as many other apps as possible and not to

[2021-06-19 01:55] newbe36524 commented on #54387
@timheuer I did try administrator privileges, as I mentioned earlier. But it still does not work.

[2021-06-19 02:26] newbe36524 commented on #54387
I tried it on another PC, which like the previous one had preview 4 installed and microsoft-net-sdk-blazorwebassembly-aot workload installed. And I install preview 5 then do some steps as below:

1. open powershell with administrator privileges. and this computer is a personal computer without domain control. I used the administrator account directly to do this. `dotnet workload install microsoft-

[2021-06-19 02:47] BrennanConroy commented on #47460
FYI, ASP.NET Core just hit this in preview5 https://github.com/dotnet/aspnetcore/issues/33634

I understand that this is "by design", but there really shouldn't be different behavior for something like this based on time zones. Especially when the difference is between working or throwing.

[2021-06-19 03:29] mikernet commented on #47265
Can we reopen this issue?

[2021-06-19 03:34] Thefrank commented on #14537
@wfurt sadly, it will likely need quite a bit of work if `elfreader` is to be included

[code]

The new wall I am hitting: other OSes define `Link_map` in their `link.h` differently than the Linux kernel does.

Spoiler: of the six platforms listed, 5 of the 6 are all different from eachother.

Linux: https://man7.org/linux/man-pages/man3/dlinfo.3.html
FreeBSD: https://www.freebsd.org/cgi/man.cgi?q

[2021-06-19 04:21] weibaohui opened #54446 "blazor: `Assertion at /__w/1/s/src/mono/mono/metadata/assembly.c:1374`"
Web Browse:
Assertion at /__w/1/s/src/mono/mono/metadata/assembly.c:1374, condition `<disabled>' not met  6.0.0-preview.5.21301.17

C# Code
[code]

using netcore 6.0.0-preview.5.21301.17

[2021-06-19 04:33] jkotas commented on #54439
My suggestion for intrisicifying try/catch of overflow exceptions was reaction to "Disable overflow exceptions per-thread at runtime?" idea. The scenario for that is that you have relatively complex expression and you want to know whether an overflow occured somewhere inside that expression. You are not interested in knowing about where exactly and by how much.

It is different from the big intege

[2021-06-19 04:37] jasonpugsley commented on #14537
With that last error, make sure lldb is recent and not an older version in your path. I use lldb12 for example.

[2021-06-19 04:49] dotnet-eng-status[bot] opened #54447 "Build failed: Validate-DotNet/main #runtime-94710-.NET6Preview6"
Build [#runtime-94710-.NET6Preview6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1195272) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Sat, 19 Jun 2021 04:49:16 GMT
**Duration** - 341 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log

[2021-06-19 05:06] JakenVeina commented on #35995
Seems to me like @wekempf 's approach could be applied directly to the existing `LoggerMessage` API, without any breaking changes of the API surface.

That is...
[code]
...could become...
[code]

This would be a binary-breaking, but not code-breaking change (I believe) in the public API surface, that achieves the original goal exactly: allowing users to specify that some or all of the values for `

[2021-06-19 05:11] diehell02 opened #54448 "How to get native exception on .NET core or .NET 5"
I need to get the call stack when a crash occurs.

Our project is using C++/CLI to combine C# and C++ code.

The exception from C# and C++/CLI， we can use try-catch to get the exception.

But the exception from native C++, especially the exception that is considered unrecoverable, or occurs in another thread, like `AccessViolationException`, `StackOverflowException`.
[code]

And I also see when th

[2021-06-19 05:14] Thefrank commented on #14537
@jasonpugsley

This should be correct though for lldb10 right?

[code]

[2021-06-19 05:22] dotnet-eng-status[bot] opened #54449 "Build failed: Validate-DotNet/main #runtime-94762-.NET6"
Build [#runtime-94762-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1195270) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Sat, 19 Jun 2021 05:22:14 GMT
**Duration** - 374 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](https

[2021-06-19 05:35] shravan2x commented on #35337
If I understood the feature correctly, it leaks which other servers your program made a request to. This is especially concerning with large cloud solutions like AWS or Azure because they can tie different child requests together.

[2021-06-19 05:36] danmoseley commented on #54448
Can you use a native debugger, maybe set to break on native exception throw?

[2021-06-19 05:45] teo-tsirpanis commented on #54444
Tearing could be resolved by wrapping a single internal class inside the `JitInfo` struct, just like how `GCMemoryInfo` is implemented. But depending on the potentially different performance requirements of this API this could be unacceptable. Or was `GCMemoryInfo` implemented that way only to prevent memory safety issues of the `PauseDurations` and `GenerationInfo` spans it returns?

[2021-06-19 05:59] jasonpugsley commented on #14537
Yes, if you’re using the same version you built sos against it should work.

[2021-06-19 06:35] ChristianWeyer commented on #54322
OK, I completely removed all runtimes and SDKs.
Seems it was the issue that we currently cannot use x64 and ARM64 runtimes/SDKs side-by-side.

Now with a fresh .NET 6.0 Preview 5 installed, the debugger works in VS Code. It does not work in VS for Mac.

Thanks!

[2021-06-19 06:47] diehell02 commented on #54448
My purpose is to get the crash information on the product when the crash occurs, in the production environment. Adding a debugger is not suitable for this situation.

[2021-06-19 07:24] huoyaoyuan commented on #54422
I can't reproduce your behavior.

The following code will only print `First call`:
[code]

However, another creation method will run if the first run doesn't complete:
[code]

This will print both `First call` and `Second call`.

The current memory cache behavior is close to `LazyThreadSafetyMode.PublicationOnly`. You may want equivalent to `LazyThreadSafetyMode.ExecutionAndPublication`.

[2021-06-19 07:25] huoyaoyuan commented on #54422
If the creation method completes synchronously, it will only run once.
The following code will only print `First call`:
[code]

However, another creation method will run if the first run doesn't complete:
[code]

This will print both `First call` and `Second call`.

The current memory cache behavior is close to `LazyThreadSafetyMode.PublicationOnly`. You may want equivalent to `LazyThreadSafetyMod

[2021-06-19 07:38] Symbai commented on #54445
[Winforms and WPF doesn't support trimming](https://github.com/dotnet/runtime/issues/52113#issuecomment-830473998) (although trimming unofficially worked in some scenarios before) and I believe they disabled it in latest SDK version for both.

[2021-06-19 07:57] #54322 closed

[2021-06-19 08:02] hoyosjs commented on #54447
The symbols are explicitly excluded - this is by design.

[2021-06-19 08:02] #54447 closed

[2021-06-19 08:02] hoyosjs commented on #54397
The symbols are explicitly excluded - this is by design.

[2021-06-19 08:02] #54397 closed

[2021-06-19 08:02] hoyosjs commented on #54314
The symbols are explicitly excluded - this is by design.

[2021-06-19 08:02] #54314 closed

[2021-06-19 08:30] Thefrank commented on #14537
Oddly enough, the plugin loads fine on llvm 9,10,11 but not the system llvm (aka theoneinthepath). It still can't do anything because it errors out about the same undefined symbol

[code]

I am getting out of my depth here in how all of this comes together... but I assume that is because my combination of 3.1.10 (old-ish), 5.0.6 (current), and 6-preview-2 (last usable) doesn't contain it? Or is th

[2021-06-19 08:50] arrowd commented on #14537
Just a note that LLVM llibraries from base are not expected to be used by 3d-party software. All software from Ports use LLVM from Ports.

[2021-06-19 11:54] #30367 closed

[2021-06-19 12:04] hez2010 commented on #54448
I believe even you managed to get exception message, in this case you will only get a line `segment fault` as result.

You can configure your environment to generate core dump while crash happening, so that you can attach your debugger to the dump file to do analysis locally.

[2021-06-19 12:12] tomrus88 commented on #54445
You can workaround missing types etc my adding TrimmerRootAssembly or TrimmerRootDescriptor directives into project file, so I don't see why they would completely disable trimming for WinForms/WPF...

And if it's indeed completely disabled, it should at least say so when you publish... Like "PublishTrimmed/TrimMode options were ignored because..."

[2021-06-19 12:29] diehell02 commented on #54448
Yes, through analyze the dump file we can get the call stack fully, but the problem is that the dump file size is too huge, for our situation the size is more than 200M after zipping. So the best way is we can get the crash call stack directly.

[2021-06-19 12:36] alexrp commented on #54445
[You should be getting such warnings](https://github.com/dotnet/sdk/blob/fa1d9c437b87edfc5643c96c67833d415e007967/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets#L114-L117):

[code]

[2021-06-19 12:59] omariom opened #54452 "[JIT] Casting System.Func lacks quick inlined check"
For `Cast1` JIT [doesn't generate inlined check](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKDIAIBhOmgbxro7uIFYAeASwB2GNHSEYAfIzwZyACgjAAVjDAY6ipQEo6AXilyeA4aPEStmgNw12nAGIQIxkWOFSGM0guWr1mnfp0cg5O4qZuFsrW1JzMMZwMAK64GBD4PNIpAMzeKmoaygEGSSlpPJFK0bG2HCWp+ADiMIIwUPxgRmGukpkYKLm+Bdp6xcn1TS1tHXxdZhXRAL42tFlcpHQhvAAq5KJbpFIsS9Q0xKsAJjAANjAA5tgYMN2MY2XccuJiWtGnF9d3DyeWwASjBcIkru

[2021-06-19 13:10] tomrus88 commented on #54445
Yes there's a warnings, but they don't imply that settings I pass have no effect. Also how do I restore old pre .NET 6.0 behavior?

[2021-06-19 13:21] omariom commented on #54452
[The same](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4aNMgyEMaAbxoNjDXjx14M5ABQRgAKxhgMDO/YCURk4eom/DBWwoBgAzBgBeVwcGPCYAVgAeMww0Ux4APg1ff2NiAHZQ01wGLggXLg5JSQYAflDrcncGEAYAZiy/AF8vYx60lyFLVtsHJxc3T2zjHxzjQOCwyLcY4qEOXAxRYjiO2fzC3mLS8srqupCGppb2vu6pvXvkiw2UEcdnKI8+mdn5wqXorE1htRABxGBcGTKbZJHipZKZPp+fZhQ4lMolU61eqNZptXbGO5

[2021-06-19 13:47] rahul7720 commented on #46678
Hi Guys,

Any updates on this?

[2021-06-19 14:29] pavelsavara commented on #53872
Very simple steps to reproduce here https://github.com/dotnet/runtime/pull/54453/files
[code]

[2021-06-19 14:30] tbluesky2012 opened #54454 ".net core web"
![image](https://user-images.githubusercontent.com/12482184/122645560-8b9de580-d14d-11eb-9461-dfd5009324bd.png)
![image](https://user-images.githubusercontent.com/12482184/122645593-a708f080-d14d-11eb-8753-ea446ff62a9c.png)
These code can run without errors, but when i scan this websit in my browser, it throws an error as the following:
     'Object reference not set to an instance of an object'.

[2021-06-19 14:49] alexrp commented on #47237
I've updated the API shape per our discussion on Discord.

[2021-06-19 17:17] reflectronic commented on #54444
`GCMemoryInfo` is a struct because it originally only had a handful of fields. Then they decided to add many more fields, and they did not want to make a massive struct behemoth, so they needed to essentially make it a class without changing `GCMemoryInfo` itself. I think the API review team will want this to be a class to avoid the same mistake.

[2021-06-19 18:15] mikernet commented on #47265
Thanks for the idea to use `GetBitLength()` @tannergooding, I got `CountDigits()` optimized pretty damn well, new super fast constant time algorithm:

[code]

So I think all that is left is the trailing zero issue.

[2021-06-19 18:38] agocke commented on #54445
As mentioned, trimming WinForms is unsupported and not likely to work.

TrimMode not being included in the up-to-date check does look like a bug, filed here: https://github.com/mono/linker/issues/2102

[2021-06-19 18:38] #54445 closed

[2021-06-19 20:31] #54427 closed

[2021-06-19 22:37] filipnavara commented on #54418
This could very well be related to the dual mode sockets like the ping tests were. It will likely only fail on IPv6 network.

[2021-06-19 22:58] antonfirsov commented on #54418
[`CreateSocket()` returns an IPV4 socket by default](https://github.com/dotnet/runtime/blob/5297337e5b7db9feef81f612f3d4e70128c7fa55/src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveFrom.cs#L16), which is [not being overriden](https://github.com/dotnet/runtime/blob/5297337e5b7db9feef81f612f3d4e70128c7fa55/src/libraries/System.Net.Sockets/tests/FunctionalTests/ReceiveFrom.cs#L317-L319)

[2021-06-19 23:09] fugkco commented on #46954
@NikolaMilosavljevic @dleeapho @jamshedd sorry to bother, but just to confirm, is this going to be fixed in the 6.0 package? If so, is there an ETA for 6.0 stable?

[2021-06-19 23:29] alexrp commented on #46954
@fugkco can you clarify what the issue is?

It seems to work fine for me (both with `net5.0 and `net6.0`):

[code]

[2021-06-19 23:59] mangod9 commented on #54441
Thanks Richard for validating composite. Its encouraging that you didnt hit any functional issues.

assume the network traffic is `git clone` ? Can the test just measure the pure compile times without the clone?

[2021-06-20 03:16] dotnet-eng-status[bot] opened #54457 "Build failed: Validate-DotNet/main #runtime-94861-.NET6"
Build [#runtime-94861-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1196197) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Sun, 20 Jun 2021 03:15:55 GMT
**Duration** - 248 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](https

[2021-06-20 04:38] DrkWzrd commented on #54400
@Clockwork-Muse Maybe the API can (or must) include a reference to a concrete `Calendar` and do the numbers around it.

[2021-06-20 04:40] psxvoid commented on #33796
@buyaa-n @genlu Hi!

Sorry, it took a bit longer than "soon" to come back to this issue. May I jump in and continue the implementation?

I saw @genlu as an assignee to the PR and I'm not sure what does it mean.

[2021-06-20 04:47] helviett commented on #53800
@jkotas The tests were taken on exactly the same code base and assets. The only difference is everything related to net5 migration.

[2021-06-20 06:33] odhanson commented on #54336
@vcsjones what would you tell the user of application when such an exception is thrown ? Please look at your keychain and find which item is offending ? We can't even tell you its name? Although its not even relevant to the key our application needs, you can't use our application, goodbye ? :)

SecItemCopyMatching (the underlying MacOS API used) will return a list of matching items in the keychain

[2021-06-20 06:43] odhanson commented on #54336
@vcsjones btw, I could not import the broken key you suggested on BigSur. Not sure if its because of the changes, or because I was doing something wrong. I just pasted the cert into a file, and tried to drag that file into keychain access ?

[2021-06-20 08:26] tonybaloney opened #54461 "macOS source build fails on v6.0.0-preview 5"
Since the `v6.0.0-preview.5.21301.5` I've been unable to compile CLR from source on macOS.

[code]

There are then errors no matter what related to 'tvOS'?

[code]

Even minimising the build I get the same error:

[code]

Dont know if this helps:
[code]

I've tried a fresh checkout, still the same issue.
I've tried rolling back to an earlier tag and it compiles fine.

[2021-06-20 10:37] filipnavara commented on #54461
I've seen someone on Twitter report the same thing. It seemed that the reason was a case-sensitive file system and some artifacts were there with mixed case from previous builds.

[2021-06-20 11:01] Timovzl commented on #53416
In summary:

- [AppContext.BaseDirectory](https://docs.microsoft.com/en-us/dotnet/api/system.appcontext.basedirectory?view=net-5.0) is where the assembly resolver probes for assemblies, and **where included content files reside** (`CopyAlways`, `CopyIfNewer`). This is what I was looking for.
- [IHostEnvironment.ContentRootPath](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosti

[2021-06-20 11:01] #53416 closed

[2021-06-20 12:12] KalleOlaviNiemitalo commented on #54400
Let's say you have

- `DateTime dt2` for February 1, 2000
- `DateSpan ds1m` for one month
- `DateSpan ds30d` for 30 days

Then, I think the result of `dt2 + ds1m` should be March 1, 2000, because that's what `dt2.AddMonths(1)` returns. `dt2 + ds30d` should be is March 2, 2000, like `dt2.AddDays(30)`. Right?

What should `ds1m.TotalDays` return? The difference between February 1 and March 1 is 29 d

[2021-06-20 15:22] MichalPetryka opened #54463 "Suboptimal codegen for UIntPtr in contrast to nuint"
### Description

Casting nuint to uint/ulong followed by a method call gets optimized to a tailcall on x64, but doing the same with UIntPtr isn't the case as it can be seen here:
[SharpLab x64](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBhCfAB1YAbGFADKIgG6swMXAG4AsAChiAJirLlxAMyUqScs1zYAZjEqryAFVkZlAb2XlnlXdQPEU5AIIAKJgysLORMAJROLo5KLjHkXL6+DIIQTADmoWGK0S4A