[2021-11-30 13:17] GregTheMad commented on #62186
I tried it in various terminals, but only with my small program written in the Reproduction Steps.
I did however notice that the ASP.Net Core default debug output manages to correctly format the output for the VSC Debug Console output, while Console.Foreground does not.
A C++ library I was using (wrapped in C#) also managed to correctly format the output for the VSC Debug Console.
Visual Studio Co

[2021-11-30 13:18] karelz commented on #61505
Reopening for 6.0.x servicing

[2021-11-30 13:18] karelz commented on #61506
It was fixed in main (7.0.0) in PR #61530

[2021-11-30 13:23] huoyaoyuan commented on #62186
Console in Windows and console in Unix are fundamentally different. Using control character is Unix-like way, and VSCode is more Unix-like. The others are mostly native Windows console. This may be a cross compatibility issue.

[2021-11-30 13:29] SeanWoo opened #62188 "Add an argument to SuperPMI"
I want to suggest adding an optional -c argument for superpmi.py asmdiffs
### What will it give?
This will allow you to run certain tests, and not all at once, this is especially useful when a problem occurs in a certain test and it is easier to run it alone than to run it all at once. This would especially affect when collecting JitDump.
### How will it work?
Adding a new argument -c to superpmi.

[2021-11-30 13:39] GregTheMad commented on #62186
It's hard to tell. ASP.NET Core outputs the color in VSC Debug Console correctly, so it either has some hidden secret sauce, or I'm missing something.
In the VSC Terminal (which I think is a wrapped external terminal?) for example the Console.Foreground gets correctly displayed.
As a program I have no idea (and I guess I shouldn't) in what type of terminal I'm running (eg. Unix or Windows), and so

[2021-11-30 13:39] Xyncgas opened #62189 "[API Proposal]: Allow returning stack allocated memory, here's how"
### Background and motivation

if we are returning span<byte>, that holds stack allocated array of byte, we return this byte array by putting it in the heap first, that's what's happening, that is the only method.

but instead, just pin the stack allocated memory, and give me a smart pointer or a span<t> which you can throw away the memory later with gc, since people had the gut to allocate those

[2021-11-30 13:41] #61974 closed

[2021-11-30 13:44] AraHaan commented on #62189
if all else fails, maybe you can pin that memory and give it a fake reference count in order for it to avoid being GC'd at return?

[2021-11-30 13:45] stephentoub commented on #61506
Can we validate there's no other option,  no way to achieve this asynchronously? Some other API we should be calling,  or some other option we can set, or since such thing? It's good that it's now not blocking cleaning up other connections in the cleanup loop,  but it's still blocking a thread pool thread.

[2021-11-30 13:47] danmoseley commented on #62105
I see no reason why not (there is hardly any usage there though) but we might want to do some perf measurements for some of those. I don't believe we expect them to be any slower but this is new.

[2021-11-30 13:50] danmoseley commented on #62186
It would be interesting to look at what aspnet is doing differently.

[2021-11-30 13:55] Xyncgas commented on #62189
yea we can pretend this pinned memory is just the regular memory from the heap, so StickySpan<T> can be passed around like you are passing around T[]

[2021-11-30 13:55] #62082 closed

[2021-11-30 13:58] Xyncgas commented on #62189
in fact why even use StickySpan<T>, let's just make pinning stack allocated memory a thing, then we can return it with whatever types we like, T*, T[], Span<T>

[2021-11-30 13:58] Xyncgas commented on #62189
Just pretend it's a heap allocated memory when the function exists instead of copying it to the heap

[2021-11-30 13:59] budgetdevv commented on #62189
`just pin the stack allocated memory`

But they're already "pinned", since the GC doesn't move them

[2021-11-30 14:02] Xyncgas commented on #62189
well by pinning I mean make that memory reachable, because how else can you get back stack allocated bytes without a copy these days, in a tight loop it makes the difference. I am building AI model, that the algorithm likes to allocate bytes in stack then returning it

[2021-11-30 14:05] budgetdevv commented on #62189
If you return the ptr to the stackalloc, it is by all means still reachable. Doesn't mean its a good idea to access them, though

[2021-11-30 14:07] #62052 closed

[2021-11-30 14:08] Xyncgas commented on #62189
AI-modeling has a bunch of param, in my case each looks like this, I am talking about returning this many many times when training a model, it would be nice if things aren't copied because even though it's just 2 bytes here but I have a bunch of these structs. instead of copying them yes using a pointer to it would be a good idea but now I have to use unsafe to access pointers, would be nice if I

[2021-11-30 14:14] Xyncgas commented on #62189
if i do that will gc collect it later when i am still using it or it knows it's still reachable

[2021-11-30 14:16] budgetdevv commented on #62189
The GC doesn't collect stackalloc memory

[2021-11-30 14:26] AraHaan commented on #62189
I thought it did when out of scope of the function that allocates it.

[2021-11-30 14:27] Xyncgas commented on #62189
the stack is destoryed when it goes out of scope, usually.

[2021-11-30 14:36] Xyncgas commented on #62189
I am closing this issues for now, if I can come up with something stronger I will be creating a new one

[2021-11-30 14:44] directhex commented on #7764
OK, I have host subset building. I think libs failure is really a warnaserror problem, so I could just suppress the warning to build it...

[2021-11-30 14:44] danmoseley commented on #62114
What I should have said is: add it to the closure that has to be trimmed. I assume it is not otherwise.

[2021-11-30 14:47] #61995 closed

[2021-11-30 14:48] g2384 opened #62192 "System.IO.IOException “The parameter is incorrect” at System.Runtime.InteropServices.PosixSignalRegistration.Unregister()"
### Description

When programmatically sending Ctrl+C command to shut down another program, `Host.Dispose()` gives the following exception:

[code]

### Reproduction Steps

[code]

### Expected behavior

host should be disposed successfully.

### Actual behavior

host can't be disposed. An exception is thrown.

### Regression?

.netcore 3.1.x has this issue as well.

### Known Workarounds

_No res

[2021-11-30 14:49] michaldobrodenka commented on #7764
@directhex I'm ready to test, if you need testing

[2021-11-30 14:56] #62121 closed

[2021-11-30 15:05] stephentoub commented on #62024
re-opening to track potential servicing

[2021-11-30 15:12] Xyncgas commented on #62189
if someone can point me to "preserve stack allocated memory c#" it would work

[2021-11-30 15:13] #62189 closed

[2021-11-30 15:35] AraHaan commented on #62189
I think .NET 6 added NativeMemory apis if I remember right as well, although you could avoid the copy by having it temporarily allocate it to the heap from the start, do what it needs to do, and then when you are done free it from the heap.

[2021-11-30 15:36] directhex commented on #7764
I've suppressed the warnings in the libs build. Trying to figure out how to publish a self contained app against the new runtime pack (which isn't in the SDK since it's a new RID)

[2021-11-30 15:42] hopperpl commented on #62186
Yes, I had similar issues in the past and I don't think anything has changed since then. Since about 6 months ago.

Sometimes setting colors directly works. Sometimes sending ANSI codes works. Sometimes only basic ANSI codes work, sometimes also extended (like bold/italic/enhanced-color) codes work.

Now, it's not so much a problem to put all in a helper function that uses different approaches for

[2021-11-30 15:43] vcsjones commented on #62081
Okay, I think I completely misunderstood the problem. The tests are passing, we're just printing errors. But we are intentionally hitting an error path. So nothing is broken, we're just printing stuff we probably shouldn't be.

I understand what @bartonjs was saying now 😄.

[2021-11-30 16:00] AraHaan commented on #58800
I also run into a crossgen2 issue as well on this sfxproj but it seems that the issue is related on it somehow adding some tool files to the generated nuspec multiple times resulting it in failing:

[code]

[2021-11-30 16:04] lambdageek opened #62201 "[android] arm64 running on x64 emulator unexpected FPSIMD_MAGIC assert"
Recent versions (API 30 x86_64) of the Android emultator can run arm64 binaries on an x86_64 emultator using some kind of binary translation.  When an app is running in this environment, it looks like the `struct sigcontext` `__reserved` field is not laid out with the `fpsimd_context` first.

As a result this code asserts:

https://github.com/dotnet/runtime/blob/b1b7ad47e2d0bef37fa2fb3b1075cdeabf5

[2021-11-30 16:06] lambdageek commented on #62201
@jonathanpeppers can you verify/update the repro steps

/cc @grendello

[2021-11-30 16:07] mangod9 commented on #62182
is your app using workstation or server gc? Since the number of heaps has changed (assuming without any code/config changes on your side) wonder if you are hitting: https://github.com/dotnet/runtime/issues/61674.

[2021-11-30 16:07] danmoseley commented on #62119
Right it was a rhetorical question 🙂

[2021-11-30 16:40] safern commented on #61451
I think this is becoming an issue in between using `dotnet build` on source projects where the caching feature is not disabled as the env var is only set on the build scripts and then using `dotnet build` or `dotnet test` on a test project where the platform manifest is needed.

@rainersigwald is it possible that we can also support an MSBuild property to disable the targeting pack caching?

[2021-11-30 16:42] carlossanlop commented on #62028
Thanks @jkoritzinsky .

I found a very similar failure in another PR. This time, it's not the `*.cache` file that is being used, but the `DllImportGenerator.dll` itself:

https://github.com/dotnet/runtime/pull/62134/checks?check_run_id=4370120061

Affected legs:
- Libraries Build windows allConfigurations x64 Debug ([log](https://dev.azure.com/dnceng/public/_build/results?buildId=1490639&view=logs

[2021-11-30 16:43] rainersigwald commented on #61451
Yeah, we can add an input to the task and pass a property through to it. It would require an SDK update. @marcpopMSFT would you have any objection to adding such a feature to an SDK task when the only expected consumer is the runtime build? I personally don't . . .

[2021-11-30 16:43] eerhardt commented on #62192
The issue here is that you are calling `FreeConsole()` (and `AttachConsole`). See https://docs.microsoft.com/en-us/windows/console/setconsolectrlhandler#remarks

Since this is removing our console ctrl handler, when we try disposing the `PosixSignalRegistration` an exception is getting thrown since we are trying to remove it from Windows:

https://github.com/dotnet/runtime/blob/b1b7ad47e2d0bef37fa

[2021-11-30 16:45] safern commented on #62100
Am I understanding correctly that there is no further action on our side on this issue and that we can close it?

[2021-11-30 16:45] echesakovMSFT commented on #62179
Looks as a duplicate of #57856 - also reproduces under `JitOptRepeat=*`

[2021-11-30 16:59] wfurt commented on #60906
Since the fix is out, can you please try it with updated SqlClient @danielsrenwick? (or anybody else here)

[2021-11-30 17:01] am11 commented on #62100
Yes, I think this is an external (Azure DevOps) issue and can be closed. I saw that azure-cli et al. are heavy consumers of hazmat crypto package https://github.com/search?q=org:Azure+hazmat+cryptography&type=code, but I don't know which repo in particular is the contributing factor to `wrong ELF class: ELFCLASS64` message that we get in our logs.

[2021-11-30 17:04] rainersigwald commented on #61451
Let's have that discussion in https://github.com/dotnet/sdk/issues/22834.

@kg the cache in question is in an MSBuild worker process so `pkill -9 dotnet` (or even the subset of them that are running a command line with `MSBuild.dll` in it) should be all you need (and faster than deleting/regenerating `.dotnet`).

Another possibility for a workaround that could be checked in is a `Directory.Build.r

[2021-11-30 17:07] AndyAyersMS commented on #62038
This is a long-standing limitation in the jit, and non-trivial to fix.

If you know of examples in existing code bases where you think enabling this would be helpful, please point them out.

[2021-11-30 17:09] jonathanpeppers commented on #62201
* Build & debug this app on an x86_64 API 30 emulator: [App34.zip](https://github.com/dotnet/runtime/files/7627439/App34.zip)

I think as long as you're using VS 2022, the issue should repro.

To workaround, you can either go to `Project properties | Android Options | Advanced`, and enable all ABIs:

![image](https://user-images.githubusercontent.com/840039/144094127-c6ab116d-d003-458a-b61a-749403

[2021-11-30 17:11] wfurt commented on #61506
I can take a look but AFAIK all the APIs are synchronous. The fact that it happens in different process are completely opaque to caller.

[2021-11-30 17:11] stephentoub commented on #62192
Regardless of this particular issue, I think that's reasonable.  Do we know the full list of errors possible from SetConsoleCtrlHandler?  We might even just ignore them all, as long as the handler would in fact no longer be registered after the call (e.g. if there were an error like "try again later", that would be a problem to ignore).  Basically, as long as Unregister is successfully ensuring th

[2021-11-30 17:12] #61465 closed

[2021-11-30 17:16] #60769 closed

[2021-11-30 17:17] AndyAyersMS commented on #62048
Thanks for pointing this out. We should be more careful here.

[2021-11-30 17:33] wfurt opened #62202 "Add better API to support communication with Kerberos endpoints"
We sort of have NegotiteStream to allow mutual Kerberos authentication. However, that is custom .NET extension and it does not work agains endpoint written in other languages.
For example #60906 caused crashing regression because SqlClient depends on runtime internals and it is hard to keep in sync.
Similarly [PostgresSQL](https://github.com/npgsql/npgsql/blob/main/src/Npgsql/Internal/NpgsqlConnec

[2021-11-30 17:36] eerhardt commented on #62192
I'm not seeing the list in the docs. 😞 It just says:

From debugging, I see that we are getting `E_INVALIDARG` back from the call. Since there are only 2 args, and one of them is a BOOL, we can assume the invalid arg is the first arg - the handler. And since we are passing `FALSE` in for `Add`, I think we can assume the handler is not in the list if we get `E_INVALIDARG` back.

[2021-11-30 17:41] eerhardt commented on #61960
If anyone is looking to pick this up and needs an example of how to convert to COMWrappers, here are the PRs that converted System.Drawing.Common to use COMWrappers. They may be useful to get started on how to do it.

https://github.com/dotnet/runtime/pull/54636
https://github.com/dotnet/runtime/pull/54884

Also, check out the docs here: https://docs.microsoft.com/en-us/dotnet/standard/native-inte

[2021-11-30 17:42] danwalmsley opened #62203 "Blazor WASM - AOT compilation - RuntimeError: null function or function signature"
when publishing without AOT application runs just fine.

when publishing with AOT I get RuntimeError: null function or function signature

![image](https://user-images.githubusercontent.com/4672627/143949468-5a805ea4-9b38-4612-9b58-44fb706390ce.png)

To repro:

checkout: https://github.com/AvaloniaUI/Avalonia/tree/repros/web-null-signature

`git submodule update --init`

cd into samples/ControlCat

[2021-11-30 17:43] kunalspathak commented on #62179
I will close it then.

[2021-11-30 17:43] #62179 closed

[2021-11-30 17:49] Tomius commented on #61971
The issue was caused by the following sequence of events:
- [The `PollForValues` loop tries to sleep until the next `counterGroup._nextPollingTimeStamp`](https://github.com/dotnet/runtime/blob/v5.0.12/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/CounterGroup.cs#L289), and the time when it manages to wake up ends up in the `(counterGroup._nextPollingTimeStamp - 1ms, counterGr

[2021-11-30 17:49] #61971 closed

[2021-11-30 17:51] karelz commented on #62024
Triage: New API not working correctly. We should fix it in 6.0 servicing.

[2021-11-30 17:53] Clockwork-Muse commented on #62189
The "traditional" way to deal with this is to take a reference as an output variable that you're expected to write to, which might be stack-allocated by the caller (or not - in C/C++ it could still be heap memory referenced in a certain way).  Is that an option for you?

[2021-11-30 17:54] karelz commented on #62129
Triage: We should try to reproduce locally (code is above) - @scalablecory can you please help with your RaspberryPi?

[2021-11-30 17:58] Tomius commented on #61971
Duplicate of #56695

[2021-11-30 18:00] wfurt commented on #62129
The trace is interesting @doper-147. fd 0 should be STDIN, right? And actually TCGETS ioctl is terminal operation....
Can you figure out (with lldb?) where the read is coming from? It does not seems like part of HTTP.

[2021-11-30 18:00] karelz commented on #62072
Triage: We believe we just need to update documentation.
It is ok to have the same instance for these 2 fields.

[2021-11-30 18:09] kunalspathak commented on #61899
If we decide not to align `IG15`, that is best case scenario because we excluded the padding bytes from our loop size calculation of loop that starts at `IG03`. However, the problem comes when we decide to align `IG15` and hence add padding of XXX bytes. In such case, the `IG03` loop size is guarantee to be more by XXX bytes than we originally calculated.

That's right.

The assert is not valid on

[2021-11-30 18:09] antonfirsov commented on #62072
@riku76 I believe an issue has to be raised against the OPC UA SDK. They should not compare the address against `IPAdress.IPv6None` by reference. I will think how to clean-up our docs so they are less confusing.

If we see more reports on customers hitting this issue, we may reconsider this.

[2021-11-30 18:20] HybridSolutions opened #62204 "The type or namespace name 'CreateBuilder' does not exist in the namespace 'WebApplication'"
### Description

The issue is simple to replicate. In VS 20222, if you create a new .net 6 ASP.NET Core Web App project named WebApplication, you will get the compile error  **CS0234 The type or namespace name 'CreateBuilder' does not exist in the namespace 'WebApplication'**

### Reproduction Steps

create a new .net 6 web project named WebApplication and try to compile it.

### Expected behavior

[2021-11-30 18:25] runfoapp[bot] opened #62205 "Tests failing in system.net.security.tests.sslstreamtls13networkconformancetests"
Runfo Tracking Issue: [Tests failing in system.net.security.tests.sslstreamtls13networkconformancetests](https://runfo.azurewebsites.net/tracking/issue/231)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1503363](https://dev.azure.com/dnceng/public/_build/results?buildId=1503363)|[runtime](https://dnceng.visualstudio.com/public/_build

[2021-11-30 18:47] diev opened #62208 "bash: dotnet: command not found (.NET 6 installed on CentOS 7)"
### Description

"bash: dotnet: command not found" like closed [#3846](https://github.com/dotnet/core/issues/3846) after reinstall .NET6 over .NET5 on CentOS 7.9, and same issue [#3603](https://github.com/dotnet/runtime/issues/3603) on macOS.

### Reproduction Steps

Take a clean CentOS 7.9 installation.
`sudo rpm -Uvh https://packages.microsoft.com/config/centos/7/packages-microsoft-prod.rpm`
`su

[2021-11-30 19:03] sakno commented on #61967
Kubernetes already has the solution for such kind of situations: [startup probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/).

[2021-11-30 19:19] am11 commented on #62208
I tested it in a clean environment:

[code]

Then running `docker run test1` gives:
[code]

as expected.

So it might be something in your environment (variable like `DOTNET_ROOT` etc. is set) causing the issue?

[2021-11-30 19:22] jeffhandley commented on #57197
@srikrishnag Could you provide a little more detail for how you'd like to have this reason exposed? Likely the most efficient thing is for you to show some code where you're currently using the System.IO.Compression APIs to decompress, highlighting what "failure" looks like now, and illustrating what you'd like the API call to do differently to make the reason available.

I suspect we'll want to f

[2021-11-30 19:22] jan-johansson-mr commented on #62152
Hi @GrabYourPitchforks,

I've investigated the issue and here is what I've found out so far...

I've built two applications, one console app and one web app, form the templates in VS 2022.

The code in both is a one liner (I've replaced all setup code and so on in the web app)

`Console.WriteLine("åäöÅÄÖ");`

After that I simply (release) build the container images (one for console app and one for

[2021-11-30 19:23] sakno commented on #61885
I would like to put my 2 cents: the proposal smells like **strictfp** in Java. It was bad design decision introduced more than 20 years ago. As a result, `Math` and `StrictMath` presents in the library. There is a [jep](https://openjdk.java.net/jeps/306) that proposes to restore strict floating-point semantics and leads to deprecation of **strictfp** keyword.

Probably, the better choice is to use

[2021-11-30 19:44] davidfowl commented on #61256
Why not backport this one? Feel like a reliability issue and it'll end up in people's logs (they're logging unobserved tasks).

[2021-11-30 19:46] karelz commented on #62202
Related to #29270

[2021-11-30 19:47] karelz commented on #62202
Triage: We would like to support database clients in better way in 7.0.

[2021-11-30 19:52] sakno commented on #61729
@teo-tsirpanis , because legacy code that _just works_ flow through various version of enterprise application. Application itself can be upgraded to later versions of .NET but still have some portions of that code. The most frequent situation is `Stream`. Moving from `BeginXXX/EndXXX` to `ReadAsync/WriteAsync` is not easy. For instance, the application may have two logical parts: consumer and prod

[2021-11-30 19:53] bartonjs commented on #61122
* Generally looks good as proposed.
* While a fixer may produce errors in a few edge cases, it seems generally valueable, so we should make one.
* The analyzer should check the Type/TypeInfo hierarchy to not run when it's not appropriate (e.g. netstandard1.x).
* It should not flag uses where any TypeInfo-specific members are used.

Category: Maintainability
Severity: Info

[2021-11-30 20:00] bartonjs commented on #61916
* Generally looks good as proposed, but we changed Hidden to IdeSuggestion

Category: Design
Severity: IdeSuggestion

[2021-11-30 20:17] eerhardt commented on #61687
I hit this as well:

[code]

https://github.com/dotnet/runtime/pull/61928/checks?check_run_id=4372017369
https://dev.azure.com/dnceng/public/_build/results?buildId=1487100&view=logs&j=bcd0b573-6223-5b97-9574-b5bb8414cd58&t=a7a8c57b-a5a4-5fc1-9ee7-d8ad6c4ef580&l=1000

[2021-11-30 20:22] eiriktsarpalis opened #62211 "Testing issue triage automation -- please disregard"

[2021-11-30 20:37] eerhardt opened #62212 "Remove #ifs in System.ComponentModel.TypeConverter"
Related to #39174.

We have some left over #ifs that weren't removed as part of #18862.

See:

https://github.com/dotnet/runtime/blob/bb597e2f6b4f47f0f3058b12f16a83e4f3b5e6ba/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs#L78-L87

https://github.com/dotnet/runtime/blob/bb597e2f6b4f47f0f3058b12f16a83e4f3b5e6ba/src/libraries/System.Compo

[2021-11-30 20:45] JulieLeeMSFT commented on #62188
CC @dotnet/jit-contrib.
Thanks @SeanWoo for suggesting to implement it. We will review it once you submit a PR.

[2021-11-30 21:01] quixoticaxis commented on #61967
I know, could you elaborate on what you mean? I don't have issues with Kubernetes.

[2021-11-30 21:18] lambdageek commented on #62146
@Hona  a minimal repro would be quite useful, thanks!

[2021-11-30 21:20] SingleAccretion commented on #62178
This is another instance of https://github.com/dotnet/runtime/issues/62108#issuecomment-981093419, the problematic tree is as follows (the only difference is that this time it is a proper CSE use, not a def):

[code]

[2021-11-30 21:24] lambdageek commented on #62054
@carlbm Do you have an app that you could share that demonstrates the issue?

[2021-11-30 21:37] BruceForstall commented on #62188
I've wanted to do this for a while; would be happy to see it. Without it, I've always just manually copy/pasted the superpmi.exe command line from the superpmi.log file generated by superpmi.py, and altered it as appropriate.

Note that you should add `-c` to both `asmdiffs` and `replay` for consistency.

[2021-11-30 21:48] #61687 closed

[2021-11-30 21:48] #62028 closed

[2021-11-30 22:07] Clockwork-Muse commented on #62105
Style question: Do we have a preferred naming convention for these?  Currently I've been doing something like:

[code]

[2021-11-30 22:14] ericstj commented on #61321
Can this be closed now, @joperezr

[2021-11-30 22:17] joperezr commented on #61321
mm not really, if you see [this comment](https://github.com/dotnet/runtime/pull/61329#issuecomment-963741092) It was decided that this issue would track coming up with a better convention of how to automatically add source generators to the ref pack so that the issue we had in regex wouldn't happen again. I don't think we have done that just yet, we only fixed the individual regex case. We should

[2021-11-30 22:27] geoffkizer commented on #62136
It certainly seems like this is possible, but I don't see any obvious change that would lead to this.

Wireshark trace would help.

[2021-11-30 22:28] #61944 closed

[2021-11-30 22:29] kunalspathak commented on #61824
Fixed in #62106

[2021-11-30 22:29] #61824 closed

[2021-11-30 22:33] ericstj commented on #62105
cc @joperezr

Yes.  Here's a pointer: https://github.com/dotnet/runtime/blob/84b55d9700da70e3e68456929a4b49295772d87b/eng/generators.targets#L35

Correct.  That was enabled with https://github.com/dotnet/runtime/pull/61329

[2021-11-30 22:36] danmoseley commented on #62105
I think you might be helping figure that out! What you have seems reasonable - to me at least. I could imagine if it's used in several places the calling code might wrap it in a property so it's FormatterNameSimpleRegex.Match or whatnot rather than GetformatterNameSimpleRegex().Match.

[2021-11-30 22:36] paulirwin commented on #62022
Upon further reflection on this, I cannot reconcile this change with IConvertible not having a symmetric `ToBigInteger` function, which is clearly not going to happen. I'm going to close this issue unless there is interest from others in reopening it.

I'm going to focus my attention on the runtime casting concern, as that is a better solution for my use case. If I end up coming up with a general

[2021-11-30 22:36] #62022 closed

[2021-11-30 22:37] geoffkizer commented on #62136
It could also be related to this change: https://github.com/dotnet/runtime/pull/50763

But again, I don't see specifically how...

[2021-11-30 22:45] joperezr commented on #62105
For all of the benchmarks we have so far, source generator is much faster than the interpreted engine (which is the default). Only places I'd imagine this might be an issue is when hitting places that the source generator doesn't support yet, like using NonBacktracking engine for instance, but I really doubt any of our tests is doing that.

[2021-11-30 22:50] weilinwa opened #62215 "Just writing out my own thoughts here, I don't think there is anything that strictly needs to be done for the PR. It could instead be handled in a follow up if we thought it was beneficial."
Just writing out my own thoughts here, I don't think there is anything that strictly needs to be done for the PR. It could instead be handled in a follow up if we thought it was beneficial.

Consider the scenario where more than one operand is last use. Today, https://github.com/dotnet/runtime/pull/58196/files#diff-fba867eda1c745875748370c59da2195c3823b85a17d199444068d93f91c749bR21856-R21861 will

[2021-11-30 22:50] JamesNK opened #62216 "HttpClient regression when updating tests to .NET 6"
### Description

gRPC has a set of interop tests that test various scenarios. These are run as part of a CI process. Upgrading the .NET client from .NET 5 to .NET 6 resulted in some of the tests intermittently failing.

Most tests continue to pass. The four that fail are:

* large_unary
* jwt_token_creds
* server_streaming
* compute_engine_creds

### Reproduction Steps

I attempted to repo this fr

[2021-11-30 23:02] stephentoub commented on #62105
The source generator should be as fast or faster than RegexOptions.Compiled for everything; if it's not, it's a bug.  We should be comfortable switching anything to use the source generator from a throughput perspective.

[2021-11-30 23:03] safern commented on #61321
I've renamed the issue (despite breaking email threads 😆) to reflect what we are tracking.

[2021-11-30 23:08] ericstj commented on #62218
We need to restore the MajorVersion property.  That's no longer being set, causing the assembly to get default file version.

[2021-11-30 23:41] safern commented on #62218
I'll tackle this one for the next servicing release.

[2021-11-30 23:47] starburst997 opened #62219 "PublishReadyToRun fails on .NET6 / linux-musl-x64 / Docker"
### Description

I'm trying to build using `PublishReadyToRun` with `net6.0` in Docker (`mcr.microsoft.com/dotnet/sdk:6.0-alpine`) on `linux-musl-x64` and getting this error:

[code]

My Docker file look like this:

[code]

Using this exact Docker file with `net5.0` instead works without any issues.

### Reproduction Steps

Build a C# project using this Docker:

[code]

Notice that it fails with t

[2021-11-30 23:49] srxqds opened #62220 "[mono] custom debugger extenstion"
hi, if i want to make a debugger extension with vs studio or vs code.
I should still use https://github.com/mono/debugger-libs? anything new or change in dotnet/runtime monovm use?

[2021-12-01 00:27] mandicLuka opened #62221 "Struct cycled reference via generic runtime exception"
### Description

The discussion and description of the bug can be found [here](https://stackoverflow.com/questions/70177111/c-sharp-struct-cycled-reference-via-generic/70177618#70177618)

The outline is that since `Generic<T>` has known size at compile time, the structs that have it as a field should be properly constructable, regardless of the generic type.

### Reproduction Steps

[code]

### Ex

[2021-12-01 00:31] #61360 closed

[2021-12-01 00:33] kunalspathak commented on #61899
Spoke offline with @BruceForstall  and here are few things we concluded:

- Use `bbNaturalLoopNum` in placement phase to determine whether to put `align` in the block that is part of loop
- Move the loop intersection detection logic from IG-based to BB-based inside placement phase. (do in follow-up PR).

[2021-12-01 01:03] mandicLuka commented on #62221
Duplicate: https://github.com/dotnet/runtime/issues/6924

[2021-12-01 02:06] VincentBu opened #62223 "Test failure DllImportGenerator.UnitTests.ManualTypeMarshallingAnalyzerTests.NativeTypeWithGetPinnableReferenceNoValueProperty_ReportsDiagnostic"
Run: [runtime 20211130.61](https://dev.azure.com/dnceng/public/_build/results?buildId=1491004&view=ms.vss-test-web.build-test-results-tab&runId=42612220&resultId=102968&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-12-01 02:28] AndyAyersMS commented on #36846
cc @TIHan

[2021-12-01 02:40] lenew commented on #62182
Yes, workstation mode in container. The same problem in  #61674.
Mem usage back to normal after change "System.GC.Server": false in runtimesconfig.json.

[2021-12-01 02:40] #62182 closed

[2021-12-01 03:21] halter73 commented on #62216
I wonder why the server went with `errorCode=EnhanceYourCalm` given a single stream. Maybe because the client sent 3 ping frames in under 1.5 seconds?

[2021-12-01 03:22] avparuch commented on #49924
Having the ability to turn on fine-grained logging will be extremely useful for monitoring the health of our service.

[2021-12-01 03:24] geoffkizer commented on #62216
@antonfirsov Any insight into the ping behavior here? 3 pings in 1.5 seconds does seem like a lot.

[2021-12-01 03:44] JamesNK commented on #62216
Good spotting on the pings. Some servers are very strict about the number of pings allowed before they kill the connection. The endpoint is a sandbox Google production environment. A hardened edge server is validating traffic.

(Kestrel processes pings so quickly we don't bother being strict about them)

[2021-12-01 03:48] JamesNK commented on #62216
I think there are two issues here:
* Too many pings are causing the end server to kill the connection.
* Less important, but SocketsHttpHandler could provide better error details in the exception. While "The response ended prematurely while waiting for the next frame from the server." is technically correct, reporting the ENHANCE_YOUR_CALM status from the server would make it clearer what is going

[2021-12-01 03:51] geoffkizer commented on #62216
Agreed. When the server gracefully (i.e. not in the middle of a frame) closes the connection after a GOAWAY with an error code is received, we should fail any outstanding requests with an exception that indicates the server error from GOAWAY.

[2021-12-01 04:10] Xyncgas opened #62226 "Switch statement doesn't think int.maxvalue is constant"
### Description

![image](https://user-images.githubusercontent.com/35312807/144170235-9db46f7d-a5b0-4b87-85a6-6ca34a13a58f.png)

### Reproduction Steps

[code]

### Expected behavior

case < int.MaxValue: shouldn't be an error when compiling

### Actual behavior

IDE highlights case < int.MaxValue:
compilation failed

### Regression?

_No response_

### Known Workarounds

_No response_

### Confi

[2021-12-01 04:19] JulieLeeMSFT commented on #62148
CC @dotnet/jit-contrib @AndyAyersMS

[2021-12-01 04:37] m-chandler opened #62227 "Blazor WASM app with Timers / Async code and ClientWebSocket results in increasing CPU utilisation."
### Describe the bug

We had to abort our upgrade to NET6.0 due to performance concerns. The upgraded apps were using significantly higher CPU. I've finally gotten around to identifying the cause and replicating it in a sample project.

The symptom is increasing CPU utilisation throughout the day. We have multiple blazor apps which are run all day, so this is a noticable issue to us.

This appears

[2021-12-01 05:00] AraHaan commented on #56510
Could this be possibly looked into for .NET 7?

[2021-12-01 05:23] ryank425 commented on #62226
The constant in this error represents the

`BigInteger cycles`

This is not constant. int.MaxValue is constant in this case, even though IDE is syntax error highlighting that specific value.
The reason it is not constant, is because

1. BigInteger is a struct https://docs.microsoft.com/en-us/dotnet/api/system.numerics.biginteger?view=net-6.0
2. "User-defined types, including classes, structs, and

[2021-12-01 05:27] mangod9 commented on #62182
Thanks @lenew for validating, we hope to backport fix for #61674 to 6.0.

[2021-12-01 06:02] AaronRobinsonMSFT commented on #62223
/cc @jkoritzinsky @elinor-fung

[2021-12-01 06:09] jkotas commented on #56510
I doubt that we will ever add this feature.

It has very complex interactions with many parts of the system, the motivating scenario is very niche, and the feature does not address it completely - there can be also missing methods, missing interfaces, and behavior changes to patch. Patching the IL is the only way reasonable way to shim for all these incompatibilities.

[2021-12-01 06:20] Xyncgas commented on #62189
It's what I've been doing, passing in span<T>, alternatively I can inline the function being called to the caller. This proposal was more a thought of the moment against something that might be what's an interesting hack

[2021-12-01 06:29] MaximLipnin commented on #62081
Great! Please teach me now 😄 Am I right that the printing the exception should be under condition?

[2021-12-01 06:40] riku76 commented on #62072
@antonfirsov I think the inconsistent behavior between IPv4 None and Any  vs.  IPv6 None and Any is an issue, but whatever. In case you stick to this decision you could consider implementing == operator to prevent future issues.

.NET 6 itself is using ==  operator (reference compare) at least in:

https://source.dot.net/#Microsoft.AspNetCore.Server.Kestrel.Transport.Quic/Internal/QuicConnectionLi

[2021-12-01 06:57] Xyncgas commented on #62226
Yeah I gotta figure out another way to do it

[2021-12-01 06:57] #62226 closed

[2021-12-01 07:02] radical commented on #62227
cc @kg @vargaz @radekdoulik

[2021-12-01 07:23] JamesNK opened #62228 "HttpClient should report protocol error code when the server closes the connection"
### Description

Noticed in https://github.com/dotnet/runtime/issues/62216

Basically, the server is gracefully closing the HTTP/2 connection with protocol error of `ENHANCE_YOUR_CALM`. The error in the client from reading the response stream doesn't mention that error. Instead, the error is `System.IO.IOException: The response ended prematurely while waiting for the next frame from the server.`.

[2021-12-01 07:25] JamesNK commented on #62216
Separate issue for improving error message: https://github.com/dotnet/runtime/issues/62228

[2021-12-01 07:38] srikrishnag commented on #57197
We're using the code as below:
try
{
    using (var entryStream = entry.Open())
    {
        entryStream.CopyTo(documentStream);
    }
}
catch (InvalidDataException)
{
    // When we get the invalidDataException **we can't distinguish this exception is caused by password protected error or other
 error**.
}

[2021-12-01 07:49] am11 commented on #62219
The issue is `--no-restore`, when we pass that flag, .NET 6 SDK skips downloading the platform package which is (implicitly) required by `dotnet-publish` (on first run). Delete `--no-restore` from dotnet publish line to see if it fixes the problem.

[2021-12-01 07:52] teo-tsirpanis commented on #62072
@riku76 `Equals` compares IP addresses _by value_; it's not the same with `==`.

[2021-12-01 08:03] mariusz96 opened #62230 "Comparing method infos from expressions"
Hi,

I'm developing a library for  aspnetcore that would let users pass strongly typed lambdas to LinkGenerator service. The API has two public overloads that call a private method:
[code]

And the user is expected to use generics or specify Controller type in a lambda parameter:
[code]

Then, once I have an expression tree I read MethodInfo from it (unbox if needed):
[code]
and controller type fr

[2021-12-01 08:27] #57935 closed

[2021-12-01 08:28] #62119 closed

[2021-12-01 08:33] MichalStrehovsky commented on #62230
MethodInfo already implements Equals/GetHashCode. Isn't that sufficient for your needs?

MetadataToken is going to be equal for different generic instantiations (so e.g. `List<int>.Add` and List<string>.Add` would be equal in your scheme but they are different MethodInfos - not sure if that would be a bug or feature for your use case).

[2021-12-01 08:35] #61865 closed

[2021-12-01 09:56] shadow-cs commented on #61162
A little more real-world measurement:

|         Method |      Mean |    Error |   StdDev | Ratio |  Gen 0 | Allocated |
|--------------- |----------:|---------:|---------:|------:|-------:|----------:|
|        NoLevel | 148.04 ns | 2.991 ns | 2.651 ns |  1.00 | 0.0248 |     104 B |
|      WithLevel |  36.57 ns | 0.615 ns | 0.575 ns |  0.25 | 0.0401 |     168 B |
| FixedWithLevel |  30.02 ns | 0.

[2021-12-01 10:13] BuchholzTim opened #62231 "Exception not thrown for ZipFile inside Blazor-Server Service"
### Description

Creating an archive of a folder (in blazor), which contains a named pipe in DotNet 6.0 via the [ZipFile Class](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfile.createfromdirectory?view=net-6.0#System_IO_Compression_ZipFile_CreateFromDirectory_System_String_System_String_) causes the program to block indefinitely long, without any kind of exception thrown.

[2021-12-01 10:42] EgorBo commented on #62148
In order to remove `AggressiveOptimization` usages in dotnet/runtime we need two things:
1) Enable OSR by default
2) Enable more optimizations in Tier0, especially those which can reduce allocations
but most likely some places will still need it.

I agree that docs should mention all the pitfalls.

[2021-12-01 10:48] EgorBo commented on #61940
Marking as up-for-grabs as it should not be difficult to alter `optOptimizeBools` to handle this case.

[2021-12-01 11:00] EgorBo commented on #61620
Closed by https://github.com/dotnet/runtime/pull/61847 👍

[2021-12-01 11:00] #61620 closed

[2021-12-01 11:02] enricobenedos opened #62237 "The command "emcc --version" exited with code 1"
### Describe the bug
We are publishing our Blazor WASM app using Docker (Linux environment) and when we choose to build it using AOT we receive the below error:
[code]

### To Reproduce
Publish Blazor WASM app using docker with `sdk:6.0` image.

This is our Dockerfile:
[code]

### Exceptions (if any)
Blazor wasm tools installation logs:
[code]
Failed publish:
[code]

[2021-12-01 11:23] ww898 commented on #60566
I reproducted the issue (with some minor fixes in `build.sh` and `repro.sh`) on Linux x64 on .NET v6.0.100 only (.NET 5.0 work properly):
[code]

[2021-12-01 11:32] sakno commented on #61967
That was just a comment that in case of Kubernetes there is a feature provided out-of-the-box. As regards to the subject, there is no relation between web host and custom `BackgroundService`. Both implement the same `IHostedService` interface. So it's easy to configure the pipeline and specify that custom background service should start after web host. Just call `ConfigureWebHost` on `HostBuilder`

[2021-12-01 11:41] GSPP commented on #61729
When a Stream fails to react correctly to a part of its contract, it fails to meet the Liskov substitution principle. In concrete cases, you can often get away with it. The cost, though, is a long-term technical debt that makes the application brittle in the face of modification. The "clean" way to go is to implement the full `Stream` contract and provide a high-quality, production-viable implemen

[2021-12-01 11:53] vitek-karas commented on #62145
I played with this a little:
* Doesn't repro on Debug/Checked build of the runtime
* Reproes with locally built Release runtime (main from dotnet/runtime)

Got this callstack from the debugger:
[code]

[2021-12-01 12:54] mariusz96 commented on #62230
Can you explain MethodInfo's lifetime then? Because I see it checks equality through object.Equals, but does the reference always stay the same? When should I expect reference to change? Aspnetcore runs code on a thread pool if that adds anything.

And generic, web-reachable actions are not allwoed on a controller, so they shouldn't be an issue.

[2021-12-01 13:01] MaximLipnin commented on #62081
Is it same for `unknown curve name` error - printing the error/exception doesn't depend on a result of a key creation

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Security.Cryptography/tests/DefaultECDsaProvider.Android.cs#L40-L46

[2021-12-01 13:04] raweibel commented on #62136
Managed to capture a trace (in nethsh as Wireshark is prohibited on the corporate network) and move it over to Wireshark. Never used it before, so I'm not sure what to look for. Here are screenshots of both the Net5 and Net6 traces. Feel free to tell me what else I can provide.

Net 6:
![NET6_Wireshark](https://user-images.githubusercontent.com/15108776/144239334-adfd842e-02c1-4562-9a25-dc502fe1f7

[2021-12-01 13:45] #62221 closed

[2021-12-01 13:45] korny86 opened #62233 "Missing entries in user.config after decryption/encryption with ConfigurationSaveMode.Full"
### Description

I like to store a username and password to the user.config in my C# .net5 program. I don't want to store the password direct and I decided to decrypt the userSettings section. After decryption parts of the file are missing.

Attached are the original user.config, after enryption and after decryption.
[user.config.zip](https://github.com/dotnet/runtime/files/7634199/user.config.zip

[2021-12-01 13:50] vitek-karas opened #62234 "TypeBuilder creates a type derived from the wrong base type in presence of multiple ALCs"
If the same assembly is loaded twice - once in the Default ALC and second time in the custom ALC, and let's say that assembly defines a type `BaseType`. Creating two new types derived from the `BaseType` from default and then from custom ALC using `TypeBuilder` from the same dynamic module will return two types which both derive from the same type (the first `BaseType`).

This is wrong, since this

[2021-12-01 13:51] vitek-karas commented on #60468
I created https://github.com/dotnet/runtime/issues/62234 to track the `TypeBuilder` problem described above.

[2021-12-01 13:51] jkotas commented on #62230
MethodInfo.Equals does not always checks equality through object.Equals. See https://github.com/dotnet/runtime/blob/ff82b6dde9367df1c9eb40d362e701e2d54213a2/src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.CoreCLR.cs#L164-L166

There are situations where you can end up with two different MethodInfos pointing to the same method. The exact situations when this happens is re

[2021-12-01 13:57] eiriktsarpalis commented on #62152
Hi @jan-johansson-mr, would it be possible to share a repo containing the full configuration of your docker application? Ideally it should be a minimal reproduction (removing any unnecessary components or dependencies) and include instructions to build and run the docker image.

[2021-12-01 14:04] wzchua commented on #62233
Can you test with .NET6? It should be fixed there

[2021-12-01 14:09] Kralizek commented on #61418
I'm having the same issue. The same application started nicely in .NET 5.0 but breaks in .NET 6.0.

[2021-12-01 14:24] antonfirsov commented on #62072
@riku76 thank you for pointing me to those cases! Opened dotnet/aspnetcore#38761 to address them.

We also made a mistake in our own code, see #57250. Naively it feels to me that by adding `==` overload to `IPAddress` would fix more problems than it it creates. Related: #38040. @geoffkizer @scalablecory thoughts?

Someone should really untangle the historical intention behind naming and docs on `I

[2021-12-01 14:29] quixoticaxis commented on #61967
@sakno oh, I see. Yeah, actually I'm using it in a very lazy way by configuring startup, readiness, and liveness probes to point at the very same Kestrel's default healthcheck.

Good point about manual registration. I was too shy to recommend it, because I've never did it myself that way (registering web host as a hosted service by hand) and don't know whether there are any catches.

[2021-12-01 14:37] Aileron79 commented on #54642
Same problem here, I have a core 3.1 function app which used to work fine. The project included the Z.EntityFramework.Extensions.EFCore package which I uninstalled and replaced with EFCore.BulkExtensions. After changing the bulk insert operations in the code accordingly, when I compiled and ran the project locally, it complained about the configuration manager missing. Copying the file did not sol

[2021-12-01 14:44] korny86 commented on #62233
It's working in .NET6.

[2021-12-01 14:57] lambdageek commented on #62220
@srxqds we have a project in progress https://github.com/dotnet/runtime/tree/main/src/mono/dlls/mscordbi to implement ICorDebug for mono which will make mono expose the same debugger interface that CoreCLR (and .NET Framework) uses.  But it is not ready yet, and it will probably require some changes in VS.

For now, using debugger-libs is better

[2021-12-01 15:19] starburst997 commented on #62219
Thank you very much! Yes that did work!

Still feels like a regression since it is impossible to specify to `dotnet restore` that I want it to restore with `PublishReadyToRun` so I can't have a distinct layer in my docker for restore (my docker file was trimmed down in the issue, I actually first copy only the `*.csproj`, do a `dotnet restore` then copy the rest of the files and finally do the `do

[2021-12-01 15:22] ta264 commented on #61995
+1 for a servicing change, this has been causing us a fair bit of grief.  At least I now know the cause!

[2021-12-01 15:22] AraHaan commented on #56510
True, but patching the IL is sometimes impossible if R2R is involved without needing to strip R2R first.

As for missing members, one can catch the ``MemberNotFoundException`` and then read the message for the missing "type", then load an assembly that stubs those missing members (assuming they are not static ones) from another assembly that adds them back using extension methods, and then retry t

[2021-12-01 15:31] adamsitnik commented on #62231
Hi @BuchholzTim

Are you sure that you are using `mkfifo` correctly? It's quite easy to get blocked using it.

Accodring to [mkfifo man page](https://man7.org/linux/man-pages/man3/mkfifo.3.html):

       until some other process opens the same FIFO for writing, and
       vice versa.

Moreover, the reading is finished when writer closes the file descriptor.

[2021-12-01 15:34] #62137 closed

[2021-12-01 15:39] ta264 commented on #61995
Is there a workaround to get ASP to return an empty json response i.e. `{}`?

[2021-12-01 15:42] huysentruitw opened #62239 "StackOverflowException when using Microsoft.Extensions.DependencyInjection"
*Update:* It also occurs in a ASP.NET Core API project (see [below](https://github.com/dotnet/runtime/issues/62239#issuecomment-983951313))

### Describe the bug

I am currently working on a ASP.NET MVC5 project that targets .NET472. A lot of business logic needs to be shared with a ASP.NET Core 6 project, so we're using multi-target to do that. Because of the same reason, we have switched our dep

[2021-12-01 15:51] vcsjones commented on #62081
To be honest I don't know what the expectations are for the Java runtime printing debug messages.

Using `EcKeyCreateByOid` as an example, it accepts arbitrary curve name/OIDs as input. If it fails, it returns `NULL`.

https://github.com/dotnet/runtime/blob/7414af2a5f6d8d99efc27d3f5ef7a394e0b23c42/src/native/libs/System.Security.Cryptography.Native.Android/pal_eckey.c#L111-L117

`CheckJNIException

[2021-12-01 15:58] runfoapp[bot] opened #62238 "microsoft.extensions.logging.generators.roslyn3.11.tests work item"
Runfo Tracking Issue: [microsoft.extensions.logging.generators.roslyn3.11.tests work item](https://runfo.azurewebsites.net/tracking/issue/232)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1495291](https://dev.azure.com/dnceng/public/_build/results?buildId=1495291)|[runtime-coreclr libraries-jitstress](https://dnceng.visualstudio.com

[2021-12-01 16:00] #61939 closed

[2021-12-01 16:23] eiriktsarpalis commented on #62211
New feedback in closed issue.

[2021-12-01 16:23] kg commented on #62227
@pavelsavara

[2021-12-01 16:28] mariusz96 commented on #62230
Silly me, there won't be any generic methodinfos but I was actually looking at Equals on an abstact class 😅

Ok, so to recap, I can:
- use Equals on two different MethodInfos to check if they point to the same method
- store their references in a singleton cache service for comparison

and it'll work.

Thank you for your answers then - I'll go ahead and do that 🏌️

[2021-12-01 16:28] mariusz96 commented on #62230
Could you also please clarify how equality works with inheritance?

Although it is not a common scenario, say I write:
[code]

And then call my library like:
[code]

Will both virtual and overriden methodInfo be equal and I should check the passed type as well (since they will have different URLs)?

[2021-12-01 16:48] tannergooding commented on #61885
https://openjdk.java.net/jeps/306 forces all platforms to have consistent behavior, which is exactly what this proposal attains.

The problem is that this then leads to real perf issues in certain workloads around graphics, machine learning, or other workloads that frequently deal with `floating-point to integer` conversions.

This is being handled by the introduction of APIs that specifically cov

[2021-12-01 16:50] NikolaMilosavljevic opened #62241 "Snap engineering debt"
# Situation
Known .NET issues in Snap environment.

 - [x] #62091
 - [x] #61468
 - [x] #60642
 - [x] #60434
 - [x] #60436
 - [x] #57481
 - [x] #60435
 - [x] #60437
 - [x] #60438
 - [x] #60439
 - [x] #60443
 - [x] #60442
 - [x] #60441
 - [x] #60440
 - [x] #67465
 - [ ] #65969
 - [x] #65970

# Objective
Use this collection for Snap evaluation, prioritization and planning.

[2021-12-01 17:00] WilliamRyan2 commented on #60740
I am also seeing this on Windows Server 2022.  I added this to the .NET channel in the Developer Community - here's the link:
https://developercommunity.visualstudio.com/t/Win-Svr-2022-exception-SystemDiagnostic/1600819?entry=myfeedback&space=61&q=System.Diagnostics.Eventing.Reader.EventLogRecord

[2021-12-01 17:07] danmoseley commented on #60740
@Robo210 could you share whether 2022 will get the patch?

[2021-12-01 17:27] jkotas commented on #62230
They won't be equal. They will be two different MethodInfos.

[2021-12-01 17:35] eerhardt commented on #62238
I looked at one of these:

https://github.com/dotnet/runtime/runs/4317746032

[code]

In the same run, the Json source generator tests failed as well:

[code]

In the Json one we got a dump.

[2021-12-01 17:37] Robo210 commented on #60740
I’ll look into it. I do not see this repro’ing on my WS2022 machine, and IIRC, the code change that was buggy and fixed for Win11 was not in WS2022, so the server update released this month did not contain that fix.

[2021-12-01 17:37] eerhardt commented on #62238
@dotnet/jit-contrib - it looks like these tests are failing under "JIT Stress".  Can someone investigate the dump above?

[2021-12-01 17:41] k15tfu opened #62243 "ICorDebugILFrame.GetArgument causes EXC_BAD_ACCESS (SIGSEGV) when used for Math.Round()"
Hi!

Found the following crash when debugging .NET Core 3.1 / .NET 5 managed app on macOS x64:
[code]

Here are steps to reproduce:
1. Create a simple project with:
[code]
2. Set function breakpoint on `Math.Round`, for ex. in Visual Studio for Mac v8.10.14
3. Start Debugging
![image](https://user-images.githubusercontent.com/979106/144283244-588aeb2d-cad2-4cbd-8fe2-6c4a5f50ff29.png)
4. Enable "Sh

[2021-12-01 17:43] usaguerrilla commented on #61525
Reproduced!!!

Some requests seem to have incorrect content-type. Reproes 100%.

that works:
```curl -X POST "http://%ip%:3611/events" -d %data% --header "Content-Type: application/json; charset=utf-8"```

that doesn't:
```curl -X POST "http://%ip%:3611/events" -d %data%```

[code]

[2021-12-01 17:44] sakno commented on #61885
Exactly, that's why JEP proposes consistent behavior over all platforms. Otherwise, **strictfp** causes fragmentation of math API: `Math` and `StrictMath`. You trying to introduce the same fragmentation. Developers of business applications often do not recognize the difference between these two classes. I can predict tons of questions on StackOverflow like _I'm using math to compute exchange rate

[2021-12-01 17:47] huysentruitw commented on #62239
I have created a minimal repro https://github.com/huysentruitw/MsDiStackOverflowDemo where the StackOverflowException occurs when clicking around through the menu.

Starting from a scaffolded .NET472 MVC project, I have done these changes: https://github.com/huysentruitw/MsDiStackOverflowDemo/commit/7b1077516667f71432886bc477effedd2b83ab4a

I'm generating a dependency tree using the `Services\Test

[2021-12-01 17:51] pavelsavara commented on #62227
It is probably related to my https://github.com/dotnet/runtime/pull/57745
I will try to reproduce and understand this issue.

[2021-12-01 17:54] WilliamRyan2 commented on #60740
@danmoseley and @Robo210 - thank you for chiming in - I have repro'd this consistently on several VMs that are running Win Server 2022, if you need to see them or discuss

[2021-12-01 18:01] #59314 closed

[2021-12-01 18:02] pavelsavara commented on #62227
I think that I will need to review this code in `PumpTimerQueue`

https://github.com/dotnet/runtime/blob/7ffc96e8591a3e115dbe828ef1c77c01751d32e2/src/mono/System.Private.CoreLib/src/System/Threading/TimerQueue.Browser.Mono.cs#L61

That should only execute those timers which are due already. Does it ?

[2021-12-01 18:18] JamesNK commented on #62216
Workaround:
I believe there is an app context switch to opt-out of pinging. For now, I have reverted the interop tests to use .NET 5.

I think this is a candidate for servicing.

[2021-12-01 18:24] srollinet commented on #62242
@mkArtakMSFT Sure! https://github.com/srollinet/AssemblyTrimmingSerializationIssue

I made a simple console app. Is it relevant or should I create a Blazor app?

to reproduce:
`dotnet publish; .\bin\Debug\net6.0\win-x64\publish\AssemblyTrimmingSerializationIssue.exe`

Here, when I build, I have a warning that doesn't appear in the Blazor app

[code]

[2021-12-01 18:24] #62118 closed

[2021-12-01 18:31] jan-johansson-mr commented on #62152
Hi @eiriktsarpalis,

I have reach a solution to the issue, and it is a quite interesting one! Please take a look at the issue I opened at [aspnetcore)(https://github.com/dotnet/aspnetcore/issues/38743), and see for yourself!

Thanks! :-)

[2021-12-01 18:43] huysentruitw commented on #62239
The bad news is that it also affects ASP.NET Core API. I have added a sample project here: https://github.com/huysentruitw/MsDiStackOverflowDemo/commit/7665b8f58f080980382c70080ffa2f9277351789

Just refresh the weatherforcast endpoint a few times to get the StackOverflowException.

[2021-12-01 18:52] #62211 closed

[2021-12-01 18:52] eiriktsarpalis commented on #62211
New feedback from user with write permissions.

[2021-12-01 18:54] eiriktsarpalis opened #62246 "Testing issue triage automation -- please disregard"

[2021-12-01 18:56] tommcdon commented on #62232
@Mucksh Thanks for the bug report!  As a workaround, please try setting COMPLUS_ReadyToRun=0 in project properties.
In the project's `launchSettings.json`:
[code]

[2021-12-01 19:06] omajid commented on #57784
FWIW, Fedora 36 has picked up this version of lttng-ust and I am seeing crashes (in crossgen2!) there while trying to build .NET 6. Is there a fix for this planned?

[2021-12-01 19:07] NightOwl888 opened #62247 "TimeZoneInfo.ConvertTime(TimeZoneOffset, TimeZoneInfo) for "Africa/Gaborone" shifts offset from UTC+2:00 to UTC+2:10"
### Description

When calling `TimeZoneInfo.ConvertTime(TimeZoneOffset, TimeZoneInfo)` with "Africa/Gaborone" as the time zone, the `DateTimeOffset` returned for some dates in the deep past (in this case 1871) are shifted UTC+2:10 instead of UTC+2:00.

The problem is limited to .NET Core 3.1 and .NET 5.0 on Linux and macOS.

### Reproduction Steps

Prerequisite: [TimeZoneConverter 3.5.0](https://w

[2021-12-01 19:24] radical commented on #62237
Do you have python installed? If installing that doesn't help, then you could build with `-bl` added to the command line, and check the log with msbuildlog.com to see the output of `emcc --version`. Or you can share it here, and I can take a look.

I did improve this in https://github.com/dotnet/runtime/issues/61067 so the error should surface better in future versions.

[2021-12-01 19:45] vcsjones commented on #62081
I don't think so.

Given that, I will start opening a few PRs so that we stop writing to stderr during Java exceptions if it is an exception we actually expect.

[2021-12-01 19:48] JamesNK opened #62248 "Possible typo: "This method is intended for compiler user...""
For example: https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/TaskAwaiter.cs#L81

Should this say "for compiler usage"? That makes more sense to me.

If it is a typo then it is replicated in quite a few places.

[2021-12-01 19:48] JamesNK commented on #62248
cc @stephentoub

[2021-12-01 19:51] am11 commented on #57784
Current workaround is to disable event trace by deleting the following block before build: https://github.com/dotnet/runtime/blob/9d4ce4048c08317e320d5b826df7f12d50b7d083/src/coreclr/clrfeatures.cmake#L5-L7

Supporting both ABI versions of liblttng-ust in parallel would require more work than a few liner fix.

[2021-12-01 19:54] stephentoub commented on #62248
It was intended to say "use" rather than "user".

[2021-12-01 20:03] #62188 closed

[2021-12-01 20:12] kunalspathak commented on #61899
I also realized that [I was handling the case ](https://github.com/dotnet/runtime/pull/60787/commits/8d64351541fbcaae58c164f52dfe4e4dbaf1a5d4#diff-426fb8beee6e663b3fb0f11330af0ce0ce21ff22a8ea819f39d12a95d9d6cffcL834-L835) to add `align` behind `jmp` only for IGs that comes after processing the current loop that needs alignment, but it got lost when I added the placement phase.

[2021-12-01 20:16] Clockwork-Muse commented on #62247
Virtually all timezones started at "local solar noon", so the first adjustment is odd (often including seconds) because they suddenly align to a whole hour offset (usually - some timezones today have half-hour offsets).  Going by the tzdb, it seems the first, corrective, offset was in 1903.

Note that the zone rule data comes from the OS - there's no data in dotnet for us to correct (we will corre

[2021-12-01 20:16] #51051 closed

[2021-12-01 20:18] kunalspathak opened #62249 "Assertion failed 'varTypeIsSIMD(arg) || (info->GetStackSlotsNumber() == 1)' during 'Lowering nodeinfo' (IL size 105)"
[code]

[2021-12-01 20:18] kunalspathak commented on #62249
@dotnet/jit-contrib

[2021-12-01 20:34] andersson09 commented on #47336
Is this PR supporting WASI?

[2021-12-01 20:37] mariusz96 commented on #62230
I actually compiled my code before asking and it was **not equal** in all cases.

But I did not tested my code with inherited controllers before and I think I figured out what's happening:

If I use a func or an action the methodInfos are different as expected:
[code]

But if I use an expression with controllerType parameter it gives me back methodInfos from base type instead of derived ones:
[cod

[2021-12-01 20:38] lewing commented on #47336
No, wasi support has different complications.  We don't have firm plans to support it yet but we're doing some exploratory work.

[2021-12-01 20:38] joperezr commented on #54642
We could reopen this issue if desired, but I don't think this is the way to go. The reason is that the specific problem that I believe you are hitting is NOT related to the NuGet package itself, so reopening the issue on this repo (which is only in charge of building said package) wouldn't really do much as the potential fix for this issue wouldn't happen here. My suggestion instead, is to log an

[2021-12-01 20:46] andersson09 commented on #47336
Cool and are you exploring compiling mono to wasi or just aot or both?

[2021-12-01 20:55] kunalspathak opened #62250 "Assertion failed 'endOffset > startOffset' during 'Emit GC+EH tables'"
[code]

[2021-12-01 20:55] kunalspathak commented on #62250
@dotnet/jit-contrib

[2021-12-01 20:59] kunalspathak commented on #62238
I will take a look.

[2021-12-01 21:10] NightOwl888 commented on #62247
@Clockwork-Muse

Can you explain how it works correctly in .NET 6 if it is controlled by the OS?

[2021-12-01 21:11] michaldobrodenka commented on #7764
@directhex Do you have a repo with your effort? Is it difficult to compile it to this state? We probably need new RID. But we could only replace linux-arm monoVM with ARMv6 in SDK to try it?

Maybe guys from https://github.com/dotnet/runtime/issues/34195 could help us

[2021-12-01 21:13] kunalspathak commented on #62238
This was introduced in https://github.com/dotnet/runtime/pull/60787, where under stress mode, we would insert `int 3` instead of certain `nop`s at code after `jmp`. However, there was a bug because of which even the `nop` that aren't after `jmp` were converted to `int 3`.

[code]

https://github.com/dotnet/runtime/pull/62106 fixed that issue. I have triggered https://dev.azure.com/dnceng/public/_b

[2021-12-01 21:20] geoffkizer commented on #62136
I don't see anything particularly weird in that trace. The connection is being reset eventually, but presumably that's because we are getting SEC_E_INVALID_TOKEN after the second 407.

So the question still remains, why are we getting SEC_E_INVALID_TOKEN in 6.0 but not in 5.0?

[2021-12-01 21:27] maryamariyan commented on #62004
@yaphet266 could you please share a repro code?

[2021-12-01 21:33] maryamariyan commented on #61932
The issue was fixed with this PR: https://github.com/dotnet/runtime/pull/60415 and will be available in the next release

[2021-12-01 21:33] #61932 closed

[2021-12-01 21:36] halter73 commented on #62167
It should not be possible for `PipeReader.ReadAtLeastAsyncCore(...)` to return at all unless `result.Buffer.Length >= minimumSize || result.IsCompleted || result.IsCanceled`.

https://github.com/dotnet/runtime/blob/7a62468ffbb90008e08b30471bfa94b2d4c58726/src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeReader.cs#L61-L64

Is it possible that you're using a `PipeReader` with a custom `

[2021-12-01 21:39] maryamariyan commented on #61653
Seems like this issue can be closed then.

[2021-12-01 21:39] #61653 closed

[2021-12-01 21:41] maryamariyan commented on #61039
seems like it's safe to close this issue.

[2021-12-01 21:41] #61039 closed

[2021-12-01 21:49] maryamariyan commented on #61724
Closing as we don't support EmbeddedFileProvider on UWP.

[2021-12-01 21:49] #61724 closed

[2021-12-01 21:50] danmoseley commented on #62247
I believe @mattjohnsonpint owns TimeZoneConverter, perhaps he knows off the top of his head.

[2021-12-01 21:50] kunalspathak opened #62251 "Assertion failed 'lclVarType != TYP_UNDEF' during 'Lowering nodeinfo'"
[code]

[2021-12-01 21:50] kunalspathak commented on #62251
@dotnet/jit-contrib

[2021-12-01 21:52] maryamariyan commented on #61577
cc @Emzi0767 as PR author of #42932

[2021-12-01 21:55] eerhardt commented on #61169
I don't fully understand the motivation here. If you have secret stored in an environment variable of the process, what's the value in encrypting it elsewhere? The secret is still available in the environment variable.

[2021-12-01 21:55] wfurt commented on #62136
agreed. It is the same connection, data looks reasonable and it simply fails in Windows PAL.

[2021-12-01 21:56] NightOwl888 commented on #61708
@tarekgh

Thanks. It looks like `ParseExact` will solve our use case.

That being said, it still feels like this is broken. If you loop through all of the cultures **without specifying a format**, only variants of Arabic won't round-trip.

[code]

Result

[code]

All of the other RTL languages round-trip fine, it is only Arabic that does not.

I wouldn't expect all formats to "just work", but we s

[2021-12-01 21:58] eerhardt commented on #61675
@halter73 - any thoughts on this?

[2021-12-01 22:12] eerhardt commented on #61653
Just to follow up with more info: using `ConfigureAppConfiguration` is the correct solution here. `ConfigureHostConfiguration` configures the configuration used by the `Host` BEFORE it starts running your app. Things you put in here are configuration options for the `Host` itself. `ConfigureAppConfiguration` is where you configure your app. There are 2 different configurations at play.

[2021-12-01 22:34] Emzi0767 commented on #61577
When I originally introduced the PR (around core 3.x, prior to 5.0 release), the prefix normalization wasn't documented (or at least not in a place where it should've been). I thusly considered this a bug. When I raised the issue, there was no objection to that statement. Since documentation wasn't clear on that subject, I considered the prefix normalization to be a bug. I therefore changed the be

[2021-12-01 22:36] mattjohnsonpint commented on #62247
Windows time zone data doesn't have LMT offsets.  IANA's does.  This is by design.

[2021-12-01 22:41] radekdoulik commented on #61721
I got a bit further, it looks like the above method is trying to call a method/constructor from `System.Collections.Generic.Dictionary`2<TKey_REF, TElement_REF>` class. It looks like we are missing bunch of methods there.

In app built on macos I see 664 functions, while in the app built on windows we have only 279 functions.

So we are missing these 385 [functions](https://github.com/dotnet/runti

[2021-12-01 23:14] TonyValenti commented on #51051
Hi all,
Is it possible to create a flag that allows adding and reading duplicate entries with the same name?

I do work with digital forensics and this is something we specifically train trainees to look for. It is a very sneaky tactic to hide files inside a zip and obfuscate their existence in that way.

[2021-12-01 23:18] halter73 commented on #61675
I see three options:

1. Make `ConfigurationManager.Sources` public rather than an explicit interface implementation of `IConfigurationBuilder.Sources`.
2. Add a new public method like `ConfigurationManager.ClearSources()`. This could also be an extension method on `IConfigurationBuilder`, but it doesn't seem that helpful for `ConfigurationBuilder` so we probably wouldn't do it that way.
3. Leave

[2021-12-01 23:20] geoffkizer opened #62256 "[API Proposal]: HttpClient should consider adding a CloseIdleConnections() method"
### Background and motivation

Golang has this, see: https://pkg.go.dev/net/http#Client.CloseIdleConnections

This allows a user who knows that their HTTP usage has stopped, or at least decreased significantly, to force idle connections to be closed immediately instead of waiting for idle timeout.

Users can partially achieve this today by just disposing the HttpClient, which will cause all connec

[2021-12-01 23:33] #54012 closed

[2021-12-01 23:34] merriemcgaw commented on #61964
@RussKie can you look at the WinForms ones and see if they make any sense in the current context?

[2021-12-01 23:52] eerhardt commented on #61967
I think this would be "too breaking" of a change to make. `BackgroundService` has shipped for a few releases, and there are lots of uses of it out in the ecosystem.

I'm also not convinced that every `BackgroundService` should have this behavior (even if we were to write it new from scratch). I get that some services might want it. If you need this behavior, you can derive an abstract class from `

[2021-12-02 00:00] davidfowl commented on #61967
No we shouldn't change any behavior here because it would introduce subtle bugs in existing code. IHostedService.Start runs before started. We could add a new Started method that would get called after but we shouldn't change the existing thing.

[2021-12-02 00:04] terrajobst commented on #61885
I am concerned about the fragmentation too but I haven't seen the full plan yet, so I don't believe I'm in a position to fully judge this yet. However, doing API design for quite some time now I've come to appreciate that extreme positions are only useful to illustrate a general design philosophy. In practice, the sweet spot is often to give most customers The One True Way of doing things while al

[2021-12-02 00:15] Kuinox commented on #62167
I'm using the duplex "Pipe" implementation.
I just managed to make a minimal reproduction:
[code]

[2021-12-02 00:22] eerhardt commented on #61032
Re-opening to track porting this fix to 6.0.

[2021-12-02 00:23] GrabYourPitchforks commented on #61964
@Evangelink Basically, we're no longer marking any new types as `[Serializable]` or applying the `ISerializable` interface. There are some exceptions for the sake of compatibility, but those use cases are definitely in the minority.

[2021-12-02 00:30] kasperk81 commented on #61577
as a user, `new EnvironmentVariablesConfigurationProvider(prefix)` does not indicate anything about one or more underscores being special characters. it can be any string allowed by the operating system.

in .net 5 there was a different kind of special casing, in .net 6 it's still special casing (breaking .net 5 guarantees).

if it's my call, i'd remove all special casing and magic from this type

[2021-12-02 00:47] Kuinox commented on #62167
Looks like the bug is worst than I thought;
I tried to understand what happened to the missing data.
[code]
    Output: `0, 1, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25`

    It looks like it's a regression from 4.5.4(pass test) from to 5.0.0(fail test).

    I'm feeling that I should not `WriteAsync` after `Advance` without calling `FlushAsync`, but nothing indicate in the docs that you shouldn't do

[2021-12-02 00:54] #62128 closed

[2021-12-02 01:10] MihaZupan opened #62258 "SocketsHttpHandler does not enforce request Content-Length correctness"
The Content-Length header we send may not match the number of bytes actually sent.
- If the custom content is smaller than Content-Length, this will result in the request waiting on either the client or server to time out. The cause of such a hang can be non-obvious (https://github.com/microsoft/reverse-proxy/issues/1412).
- If the content is larger, it may corrupt the connection for future reques

[2021-12-02 01:28] Emzi0767 commented on #61577
Isn't that (almost) what we have right now? Prefix has no indication for special characters, so it's taken literally. Previously, processing did normalize -> filter + strip -> process. My PR inverted the first 2 steps; now it's filter + strip (literal) -> normalize -> process. As for stripped variable names, Configuration uses `:` as hierarchical separator, so it makes sense to normalize those bit

[2021-12-02 01:37] kunalspathak commented on #62238
Looks like the issue is not related to #62106 but the fact that we don't see if the unconditional jump is part of `BBJ_CALLFINALLY` / `BBF_ALWAYS` pair and we should not pick the `BBJ_ALWAYS` part of the pair because it can be in normal flow as seen below:

![image](https://user-images.githubusercontent.com/12488060/144341588-132a105f-3a5e-478c-bc1d-8b91afdd8ab5.png)

I will have a fix soon.

[2021-12-02 01:43] ssarin3194 opened #62259 "error NU1604: Project dependency Microsoft.Azure.Kus to.Cloud.Platform does not contain an inclusive lower bound. Include a lower bound in the dependency version to ensure consistent restore results."
### Description

I have a .net framework web application in my repository that is using some packages mentioned at upper level(used by other projects in the repository).

"C:\ASM-AlertingMicroService\src\ASMFeedback\ASMFeedback.csproj" (Restore target) (1) ->
(Restore target) ->
  C:\ASM-AlertingMicroService\src\ASMFeedback\ASMFeedback.csproj : error NU1604: Project dependency Microsoft.Azure.Kus

[2021-12-02 01:46] VincentBu opened #62260 "Test failure JIT\\Directed\\LoopAlignment\\LoopsToProcess\\LoopsToProcess.cmd"
Run: [runtime-coreclr outerloop 20211201.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1492640&view=ms.vss-test-web.build-test-results-tab&runId=42647828&resultId=108356&paneView=debug)

Failed test:
[code]
**Error message:**
[code]
Failed test:
[code]
**Error message:**
[code]

[2021-12-02 01:51] VincentBu opened #62261 "Test failure System.Security.Cryptography.Tests.DSACreateTests.CreateWithKeysize_BigKeys(keySizeInBits: 1088)"
Run: [runtime-coreclr libraries-jitstress 20211201.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1492936&view=ms.vss-test-web.build-test-results-tab&runId=42651532&paneView=debug&resultId=146920)

Failed test:
[code]
**Error message:**
[code]

[2021-12-02 02:02] JulieLeeMSFT commented on #62250
@kunalspathak I assigned this because you know EH table. Please feel free to reassign to other member.

[2021-12-02 02:05] JulieLeeMSFT commented on #61955
CC @dotnet/jit-contrib @jakobbotsch

[2021-12-02 02:12] JulieLeeMSFT commented on #62251
CC @BruceForstall please take a look at the lowering issue.

[2021-12-02 02:13] JulieLeeMSFT commented on #62030
CC @dotnet/jit-contrib.

[2021-12-02 02:16] MichalStrehovsky commented on #62030
65539 is awfully close to 65535 and there is a known problem with the ECMA file format with that number in certain metadata tables (https://github.com/dotnet/coreclr/pull/20865). Could be related because the portable PDB debug format uses the same metadata format.

[2021-12-02 02:20] kunalspathak commented on #62250
Sure, I think it is an easy fix.

[2021-12-02 02:34] #62048 closed

[2021-12-02 02:36] am11 commented on #62030
When a type has over 65520 methods, runtime throws TypeLoadException. I think limits in that range are imposed by more components in the toolchain than just the ilasm. (C# compiler also (intermittently?) fails around those numbers).

[2021-12-02 02:51] kasperk81 commented on #61577
yes, your pr is improvement as i mentioned above. but still if we don't canonicalize it (`NormalizeKey()` part), it would make the implementation and interpretation tad simpler. in case someone needs pre/post processing, a `Func` overload can help aid the use-case.

[2021-12-02 02:58] danmoseley commented on #62247
Thanks!

I'm not clear why .NET 6 has different behavior though. I remember work to [accept either IANA or NLS ID's](https://github.com/dotnet/runtime/pull/49412).

[2021-12-02 03:04] am11 commented on #62219
Yup, this is a regression from .NET 5 SDK, and I agree that error message is not helpful. There are three ways to overcome it:

1. `dotnet publish` without `--no-restore` (this is workaround'ish)
2. persist `<PublishReadyToRun>true</PublishReadyToRun>` and `<PublishTrimmed>true</PublishTrimmed>` properties in csproj and continue to use `dotnet restore` and `dotnet publish --no-restore` (this is mo

[2021-12-02 03:13] determ1ne commented on #60393
It's not convincing because an optional argument can keep it simple too. Plus, it's a confusing fact that runtime internals can take the advantage of the faster `HexConverter.ToString`, but app developers need an additional convert which is absolutely slower than the former. The inefficiency can turn into a trouble problem in web apps, finally a more hack, user-implemented method is needed to repl

[2021-12-02 03:14] yaphet266 commented on #62004
I have solved the problem，I found that setting the following environment variables in dockerfile can solve this problem。
ubuntu20.04
`ENV DOTNET_USE_POLLING_FILE_WATCHER true`

[2021-12-02 03:28] steveisok opened #62264 "[Android] Provide the option to use NTLM Authentication"
Unlike our other configurations, there is no library we rely on and can safely ship that provides NTLM authentication.   As a result, we will need to incorporate a managed implementation largely based off of @wfurt's work in https://github.com/wfurt/Ntlm.

## Work Items

- [x] Port mono's MD4 implementation https://github.com/dotnet/runtime/issues/62265
- [ ] Investigate what needs changed in Andr

[2021-12-02 03:29] steveisok commented on #32680
Closing in favor of https://github.com/dotnet/runtime/issues/62264

[2021-12-02 03:29] #32680 closed

[2021-12-02 03:37] steveisok opened #62265 "Port MD4 implementation from mono/mono"
In order to support [NTLM in Android](https://github.com/dotnet/runtime/issues/62264), we need a managed implementation of the MD4 algorithm.  The best place to pull from would be the one found in mono/mono.

The port should:
- Be an implementation detail and is not intended to be a public API
- Part of System.Net.Security
- Use [MD4.cs](https://github.com/mono/mono/blob/main/mcs/class/Mono.Securi

[2021-12-02 03:38] geoffkizer commented on #62258
You are specifically talking about Content-Length on the request, right?

This does seem like something we could do better about.

[2021-12-02 03:40] Clockwork-Muse commented on #62247
... this should be failing on Windows 10 for .Net 5/.Net 6 too - they use the ICU, and that's an IANA id.

When I say "controlled by the OS", there's a set of files installed on the OS by _somebody_ that has all the data.  There's ways for this to be manually updated by admins.  You can change the datasource (at least on Windows... besides the fact it has both NLS and ICU datasets now).  If the da

[2021-12-02 03:48] chswin commented on #1388
This is not fixed in .net 6...

[2021-12-02 03:48] MihaZupan commented on #62258
Yes

[2021-12-02 03:48] geoffkizer commented on #62258
Throwing seems reasonable, but the other question is what we send on the wire.

Seems like if the bytes sent < Content-Length, we should cancel the request (i.e. kill the HTTP/1.1 connection, send RST_STREAM for HTTP2, etc).

If bytes sent > Content-Length, things are less clear... the server may have processed the request fully up to Content-Length and reasonably assumed that the request is compl

[2021-12-02 03:48] carlossanlop commented on #51051
You could open an API proposal for that (here's [the template](https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.yml&title=%5BAPI+Proposal%5D%3A+)), but I'm not sure if that's a feature that we would take, since it's not specifically supported in the spec.

[2021-12-02 03:54] geoffkizer commented on #45364
To handle this more generally, it seems like we should pass the following to the callback:

(1) Original HttpRequestMessage (which contains the original Uri etc)
(2) Redirect Uri (as specified in the response Location: header)
(3) Redirect status code, e.g. 301 or whatever

[2021-12-02 03:57] MihaZupan commented on #62258
Yeah, this sounds like a good thing to do on top of throwing - it may already happen as part of cleanup if we just throw, but worth confirming.

It indicates that the user's `Content-Length` calculation logic is wrong, so it seems like something one would want to know about.
It may lead to more failed requests in existing apps, but it only surfaces a preexisting issue that was certainly causing ot

[2021-12-02 04:01] geeknoid opened #62266 "[API Proposal]: Improve the performance of enumerating over interface types."
### Background and motivation

Interface-based programming is encouraged as a best practice. Unfortunately, enumerating collections that are exposed through interface types triggers memory allocations and involves 2 interface calls per item iterated. In other words, enumerating an interface is slow:

[code]

### API Proposal

Please see https://github.com/geeknoid/AcceleratedEnumeration for a simp

[2021-12-02 04:15] kunalspathak opened #62267 "Assertion failed '(op3Reg != targetReg) || (op1Reg == targetReg)' during 'Generate code'"
Superpmi replay is failing for following method on windows-x64

Most likely because of  #58196
[code]

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-62262-merge-d207c81ab3b14b3f92/unix-x64/1/console.122dc30b.log?sv=2019-07-07&se=2021-12-22T02%3A42%3A41Z&sr=c&sp=rl&sig=TWtmGXhWg7AuFc9lSuVCD%2FMqEkj7ZjYwRxf2ZKSSSA0%3D

[2021-12-02 04:15] kunalspathak commented on #62267
@dotnet/jit-contrib

[2021-12-02 04:16] kunalspathak commented on #62267
@weilinwa

[2021-12-02 04:18] davidfowl commented on #62266
@EgorBo @AndyAyersMS Would guarded devirt + DynamicPGO help here? Is that our best avenue?

[2021-12-02 04:22] hoyosjs commented on #62259
Moving this to SDK - not sure which of MSBuild or NuGet are more appropriate for this one. Collecting a binlog as given by dotnet restore /bl might also help move this a long way.

[2021-12-02 06:28] filipnavara commented on #62264
JFYI I have an open PR on @wfurt's Ntlm repository that implements couple of the missing features and security mechanisms. It should be reviewed/updated/merged before you proceed with integrating the code.

[2021-12-02 07:07] fitdev commented on #61932
@maryamariyan But that does not address the binding of static readonly properties. Why are they examined / bound to at all?
Nor does that address in general reading of the property values before they are bound. Why is this happening at all during binding?

[2021-12-02 07:13] huoyaoyuan commented on #62266
Note that in your `AcceleratedEnumerationExtensions.List` changed the semantic of enumeration. It saves a lot to not checking for modification during enumeration.

[2021-12-02 07:47] verdysh opened #62269 "Is issue with single instance of HttpClient and DNS changes still actual?"
Hey,

There was an issue #18348.
I tried reproduce it with next scenario. I run `.net core 3.1` console app with code:
[code]
Between loop iterations I was changing DNS server setting in my network connection: one DNS is absolutely working and the second give IP 127.0.01 for mysite.com.

In case when I set working DNS, I received status OK. In case with incorrect DNS server I received `HttpRequest

[2021-12-02 07:56] fgheysels commented on #54642
I have created a new issue in the Azure-Functions repo [here](https://github.com/Azure/Azure-Functions/issues/2116)

[2021-12-02 08:17] 87Alex opened #62270 "Icon.Save(stream) each time returns different results"
### Description

We use the following code to compare two icons:

private static bool IconEquals(Icon icon1, Icon icon2) {
                var stream1 = new System.IO.MemoryStream();
                icon1.Save(stream1);
                var stream2 = new System.IO.MemoryStream();
                icon2.Save(stream2);
                return System.Linq.Enumerable.SequenceEqual(stream1.ToArray(), stre

[2021-12-02 08:55] NightOwl888 commented on #62247
I am a little confused why you are saying this, but we have a fairly common use case, so let me clarify why we expect the test to pass.

Our scenario is that we are building a query with a **user selected** time zone, an inclusive lower bound with a user selected start date prior to 1970 (adjusted for time zone), and the Unix Epoch as the upper bound (adjusted for time zone). The issue we are runn

[2021-12-02 08:57] HansBuenting opened #62272 "WPF : Build Fault-Tolerant Composite Applications in .Net 6"
There is an article in MSDN magazine regarding a plugin structure in WPF (see link 1). The source code is based on .Net 4.5 and can probably easily be ported to 4.8. But how can all of this be implemented in .Net 6? Will it be possible to have a single Ui made up of different plugins with different versions of a dll? I know that there is now the AssemblyLoadContext to ensure separation of dlls. Bu

[2021-12-02 09:01] eiriktsarpalis commented on #62152
Got it, if the other issue answered your question I guess we can close this one. Let me know if there is anything else that remains to be addressed on our side.

[2021-12-02 09:01] #62152 closed

[2021-12-02 09:24] EgorBo commented on #62266
@davidfowl @geeknoid with DynamicPGO we devirtualize all calls here but are not able to avoid allocation (boxing) of an Enumerator (happens just once before the loop):
![image](https://user-images.githubusercontent.com/523221/144393729-ba331fde-b59a-46e0-b46e-c262a620f0c8.png)

I suspect in order to also optimize that small allocation we need that @AndyAyersMS's idea to use escape analysis.

[2021-12-02 09:33] ManickaP commented on #62269
https://github.com/dotnet/runtime/issues/18348#issuecomment-394396643 the comment is unfortunately drowned in all the other  discussion on the issue. Anyway, it has been fixed for quite some time, including .NET Core 3.1, the issue is closed.

However, by default, we do not recycle active connections, only idle ones after 2 minutes of inactivity. Which is what you're probably hitting in your examp

[2021-12-02 09:50] verdysh commented on #62269
This is the answer! Thanks a lot!

[2021-12-02 09:50] #62269 closed

[2021-12-02 10:06] eiriktsarpalis commented on #61860
Minimal reproduction:
[code]
Generated code for types using converter factories depend on a `GetConverterFromFactory` helper method being generated in the context. However, the fact that `TestEnum` is only introduced as generic parameter in the `JsonSerializable` declarations appears to fool the generator into believing that such a helper is not needed.

As a temporary workaround you could try dec

[2021-12-02 10:24] enricobenedos commented on #62237
Hello @radical,

you are right, the problem is that python3 is not installed. Thanks for #61276 because it is really needed to help developers to understand what is the problem during the build.

But now I have some questions/remarks: I'm using the official Microsoft docker image for .NET6 `mcr.microsoft.com/dotnet/sdk:6.0` so why Microsoft does not include python? I think it can be for weight opt

[2021-12-02 10:31] reijerh commented on #36053
I'm getting this with a `net6.0-windows` WPF project on a `CurrentCulture=nl-NL` system, when calling
`Application.LoadComponent(relativeUri)` with a relative `Uri` that points to a `.xaml` `ResourceDictionary` in another assembly that was loaded at runtime using `Assembly.LoadFrom(path)`.

Workaround is to specify `<NeutralLanguage>en-US</NeutralLanguage>` in a `Directory.Build.props`. I guess `[

[2021-12-02 11:20] JustArchi opened #62273 "Regression: Bus error when running PublishSingleFile=true .NET 6.0 app on linux-arm (Raspbian)"
### Description

Hello,

In original issue https://github.com/JustArchiNET/ArchiSteamFarm/issues/2457 I'm dealing with a regression that caused single-file publised app crash during initialization with `Bus error` (so to the best of my knowledge kernel sending `SIGBUS` to the process).

This issue did not happen with .NET 5.0 runtime, therefore I classify it as a regression.

[code]

### Reproduct

[2021-12-02 12:00] #59175 closed

[2021-12-02 12:34] akoeplinger commented on #62021
Also saw it in https://github.com/dotnet/runtime/pull/62244, I wonder though why this started failing recently since the test is untouched since 2020.

[2021-12-02 12:45] ThirupathiBalakrishnan commented on #62159
Hi @vitek-karas,

Actually, we used the above code for Intellisense support, which is what we needed. We use the custom control by default to offer Intellisense support. We'll find out the namespaces, public APIs and methods based on the specified assembly by using the Assembly.LoadFile method. We did not encounter any exceptions in the.Net framework, and we can also access the assembly's properti

[2021-12-02 12:46] roland5572 opened #62274 "C# Cannot get default value from System.Type class"
If we need get a default value from a type, C# provides

```var val = default(T);```

But if it's a Type variable, C# does not provide this feature:

https://docs.microsoft.com/en-us/dotnet/api/system.type

[code]

[2021-12-02 12:51] zlatanov commented on #62274
What about:

[code]

[2021-12-02 12:55] vitek-karas commented on #62159
If all you need is inspection on the assembly, so just metadata, and you won't try to run any code from it, then the best solution is [`MetadataLoadContext`](https://docs.microsoft.com/en-us/dotnet/standard/assembly/inspect-contents-using-metadataloadcontext). This has many advantages over loading the assembly directly by the runtime:
* Fully collectible memory - `MetadataLoadContext` parses the f

[2021-12-02 13:00] marek-safar opened #62276 "CI Tests Holes Tracker"
General tracker for issues that were caused by insufficient tests run during CI build

- #61721
- #62081

@SamMonoRT @lewing @steveisok

[2021-12-02 13:02] roland5572 commented on #62274
Yes, but if it's a nullable value, will it affect performance?
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/nullable-value-types

If it can be implemented in C# built-in, will it reduce program overhead?
Because I can see ```Activator.CreateInstance()```

[2021-12-02 13:08] #61385 closed

[2021-12-02 13:09] zlatanov commented on #62274
Nullable value type is actually `Nullable<T>` which is a value type, so it's the same and performance won't be different from other value types.

C# is a language, here we're talking about the runtime. I don't think the runtime could implement this any differently to have a measurable difference.

[2021-12-02 13:10] adamsitnik commented on #62231
I've tried to repro that, but I've failed. Here is the code that I've used:

[code]

@BuchholzTim Could you please share more details (repro, stack trace)?

[2021-12-02 13:28] roland5572 opened #62280 "Microsoft.Data.Sqlite SqliteConnection does not support DateTime"
Microsoft.Data.Sqlite 6.0
.NET 6.0

If we save a datetime value to Sqlite database (**integer** column type), and then use Microsoft.Data.Sqlite.SqliteConnection to read it, Microsoft.Data.Sqlite will convert it to a string.

C# code:
[code]

The Console displays:

```Type: System.String```

It cannot directly restore the data to Datetime.
For all tables, it is still necessary to convert the strin

[2021-12-02 13:30] roland5572 commented on #62274
Thank you. Do you think it will be a commonly used function that will be integrated into the C# library and provided as an API?

[2021-12-02 13:55] geeknoid commented on #62266
Note that getting rid of the allocation, especially when enumerating empty collections, was the motivation for trying out this idea .

[2021-12-02 13:57] geeknoid commented on #62266
@huoyaoyuan  Good point, I forgot to bring that up. I've always felt it was an architecture misstep to put in the versioning logic in such low-level abstractions as List and Dictionary, so there's no love lost for me there. But it does change the semantics relative to plain ol' enumeration.

[2021-12-02 14:13] viewizard opened #62281 "[Linux, CoreCLR, dbgshim] "AddressSanitizer: alloc-dealloc-mismatch (operator new [] vs operator delete)" on ICorDebugThread::GetActiveFrame() call."
During netcoredbg testing with ASAN on Linux, we found some debugger API code related runtime 6.0 code regression compared to 3.1 and 5.0 runtimes:
- netcoredbg with  libdbgshim.so (amd64 .NET SDK 6.0.100) + test running on runtime (amd64 .NET SDK 3.1.415) = no issue found
- netcoredbg with  libdbgshim.so (amd64 .NET SDK 6.0.100) + test running on runtime (amd64 .NET SDK 5.0.403) = no issue found

[2021-12-02 14:15] EgorBo commented on #62266
well, it's a small allocation that doesn't happen every iteration of that foreach so I personally don't think it is worth any special API while it could be eventually fixed in jit instead.

[2021-12-02 14:52] omajid commented on #57784
Disabling feature like this:

[code]

Doesn't seem to work too well out of the box. A `./build.sh` produces:

[code]

And many similar errors.

[2021-12-02 15:02] geeknoid commented on #62266
I'm looking at this in the broader context of optimizing our service fleet. Small allocations done dozens or hundreds of times per request add up. We currently have ~300 uses of foreach thoughout our code base.

I highly doubt this can be systematically addressed by the compiler. There are many cases where an interface is in fact polymorphic in nature and so it can devirtualize. Or the code can po

[2021-12-02 15:09] dradovic commented on #50480
I guess that this in turn affects using the `HttpClient` in parallel requests. What I do is:

    using (var client = _httpClientFactory.CreateClient("MyService"))
    {
        var response = await client.PostAsync(...);
        await EnsureSuccessStatusCode(response);
        ...
    }

and under heavy load I sometimes see:

   System.InvalidOperationException : Stack empty.
  Stack Trace:

[2021-12-02 15:11] mattjohnsonpint commented on #62247
This is the source of the issue.  You've assumed that time zones are relevant, but time zones are a modern concept. They didn't necessarily exist in the way you are expecting over thst time frame.

On top of that, Windows time zone data is only guaranteed consist from 2010 forward. *Some* entries have transitions before that, but not all of them.  Windows assumes the earliest offset and rule it kn

[2021-12-02 15:31] zlatanov commented on #62274
I don't think so. I've never seen this and never needed it. Usually when a default value is wanted, one usually achieves it by not assigning anything to existing variable or field.

I am curious about your use case. Would you mind sharing why do you need to create default value dynamically per type? Also if it's for some comparison reasons (i.e. asking the question "Is this value the same as the d

[2021-12-02 15:36] KalleOlaviNiemitalo commented on #50480
You could try removing every Microsoft.Extensions.Http.IHttpMessageHandlerBuilderFilter from the IServiceCollection. That way, LoggingHttpMessageHandlerBuilderFilter.Configure would not get the chance to create a  LoggingScopeHttpMessageHandler.

[2021-12-02 15:39] antonfirsov commented on #62216
We send a "burst" of ~4 pings after opening the connection to get an accurate RTT estimation fast, but the client should only sends these pings after receiving DATA or HEADERS from the server, in order to conform to the [grpc recommendation](https://github.com/grpc/proposal/blob/master/A8-client-side-keepalive.md#server-enforcement) on server-side ping flood protection. This allows maximum of 2 "p

[2021-12-02 15:43] KalleOlaviNiemitalo commented on #62282
Problems with using only MSBuild.exe are:

- Needs licenses on a Visual Studio version that supports the target framework.
- Can only build on Windows.

[2021-12-02 15:49] antonfirsov commented on #62256
Would it be a silent no-op when the underlying `HttpMessageHandler` doesn't support it?

[2021-12-02 15:58] kunalspathak commented on #62260
Yes, I missed returning `100` from the test. I will send out the fix.

[2021-12-02 16:17] runfoapp[bot] opened #62285 "jit/intrinsics/createspan_il/createspan_il.sh"
Runfo Tracking Issue: [jit/intrinsics/createspan_il/createspan_il.sh](https://runfo.azurewebsites.net/tracking/issue/233)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1504394](https://dev.azure.com/dnceng/public/_build/results?buildId=1504394)|[runtime-coreclr jitstress](https://dnceng.visualstudio.com/public/_build?definitionId=658

[2021-12-02 16:18] kunalspathak commented on #62285
Introduced in https://github.com/dotnet/runtime/pull/61079

[2021-12-02 16:18] kunalspathak commented on #62285
@davidwrighton

[2021-12-02 16:22] #60486 closed

[2021-12-02 16:30] Clockwork-Muse commented on #62247
What is this?

This overload doesn't exist in the BCL.  Did you mean `TimeZoneInfo.ConvertTime(offset2, TimeZoneInfo.Utc, timeZone);`?

... besides Matt's comments about the initial rule adjustment, you code seems like you don't account for historical changes in offset, nor daylight savings time.

Almost certainly, only if you're using the old, deeply flawed and buggy, and deprecated `java.util.Da

[2021-12-02 16:38] layomia commented on #51544
I've updated the blog post - we should add these APIs in .NET 7.

[2021-12-02 16:51] mthalman commented on #55405
@agocke - Is there a reason this wasn't backported to 5.0?

[2021-12-02 16:56] eerhardt commented on #61451
I've hit this as well when switching from the `main` to `release/6.0` branch.

[2021-12-02 17:02] karelz commented on #62072
Triage:
- It is not super-important, so let's do minimal work - leave it as it is, until we get more customer reports
    - No obsoletion now
- `operator ==` sounds like a good thing in general to help customers. Alternatively we could create Roslyn analyzer to detect usage of reference comparison and flag it.
- Fix docs

[2021-12-02 17:04] CarlVerret commented on #48646
I'm about to make my first PR and I wonder why is Visual Studio making a lot of changes to System.Runtime.sln file ?  Is there a way to prevent this from happening ?  Thanks.

![image](https://user-images.githubusercontent.com/25437410/144468777-3ce36a45-d3ef-467b-ac6c-07c3bcb8b33d.png)

[2021-12-02 17:04] karelz commented on #62136
Triage:
We need to investigate more, it is unclear what is happening. Without a local repro it will be very challenging.
@raweibel are you in position to debug into it in your environment?

Moving to Future for now, until we have more customers hitting it.

[2021-12-02 17:08] stephentoub commented on #25372
We have a test doing this now, utilizing capabilities of the NonBacktracking implementation to also generate matching and non-matching inputs for arbitrary expressions.  Right now it's only being used in a limited capacity, but we can expand it to a much larger number of expressions, or at least a more comprehensive set in terms of the constructs exercised.
https://github.com/dotnet/runtime/blob/2

[2021-12-02 17:09] karelz commented on #62228
Triage:
- Would be nice to improve diagnostics. If easy, let's do it in 7.0.

[2021-12-02 17:12] karelz commented on #62256
Triage: Nice to have. Similar to `GC.Collect` - generally not needed, but in special circumstances useful.
Would nice to see if any customers would find it useful and what the situations would be.

[2021-12-02 17:15] karelz commented on #62258
Triage:
- Not enough data - reasonable to throw (and to send RST_STREAM on HTTP/2)
- For too much data - throw and tear down the connection

[2021-12-02 17:23] antonfirsov commented on #62216
@halter73 in my previous comment I missed the fact that it's a statement from you (I thought it's an observation from logs). Where is this 1.5sec restriction defined? I didn't find such a strict rule when [investigating](https://github.com/dotnet/runtime/pull/52862#issuecomment-848159708) existing ping flood protection mechanisms.

[2021-12-02 17:26] vitek-karas commented on #62272
A better place to ask this would be the https://github.com/dotnet/wpf repo.
I remember that WPF currently has some issues when running with multiple AssemblyLoadContexts - so it might be a bit rought:
* https://github.com/dotnet/wpf/issues/1700
* https://github.com/dotnet/wpf/issues/3816

[2021-12-02 17:27] karelz commented on #61228
Triage: Looks like bug in the calling code. Not actionable for us. Closing.

[2021-12-02 17:27] #61228 closed

[2021-12-02 17:31] karelz commented on #61261
Triage: We should document the above https://github.com/dotnet/runtime/issues/61261#issuecomment-963812880 to make it more discoverable.

If there is enough customer requests to have convenience methods on `Socket` or on `SocketsHttpHandler`, we will consider them in future.
Tracking just docs here now.

[2021-12-02 17:40] danmoseley commented on #62021
The test is untouched, my assumption is that clock_gettime (or clock_gettime_nsec_np) changed on Blazor (?)

[2021-12-02 17:40] danmoseley commented on #62021
@lewing may know.

[2021-12-02 17:43] mkArtakMSFT commented on #62287
@ericstj can you please take a look at this? Thanks!

[2021-12-02 17:46] EgorBo commented on #48646
I suspect you can just ignore that file

[2021-12-02 17:47] jkotas commented on #62276
https://github.com/dotnet/runtime/issues/61084

[2021-12-02 17:48] jkotas commented on #62276
- #61299

[2021-12-02 17:51] buyaa-n commented on #60545
Tested the fix with 5.0 code on Linux, the failure did not happen at least for 30 mins, so raised a [PR](https://github.com/dotnet/runtime/pull/62288), PTAL

[2021-12-02 17:52] tommcdon commented on #62281
@mikem8361

[2021-12-02 17:52] jkotas commented on #62276
- #61693

[2021-12-02 18:03] weilinwa commented on #62267
@kunalspathak, sorry about the inconvenience, I'm working on it.

[2021-12-02 18:08] jkotas commented on #62276
- #62285

[2021-12-02 18:09] davidfowl commented on #61675
I like 1

[2021-12-02 18:27] JamesNK commented on #62216
The initial comment has complete logs, including logs from HTTP event source. Capturing packets isn't possible because it is a CI environment that we don't own.

Fortunately, the server is publically accessible so we can call it from our local machines. I have updated a PowerShell script to pass the server address and arguments to the interop test client.

https://github.com/JamesNK/grpc-dotnet/tr

[2021-12-02 18:29] baal2000 commented on #61180
@stephentoub
Related to unobserved tasks exceptions (not specific to Dns query):

after we upgraded our application to .Net Core 6.0 the test pipeline started failing with
[code]

I suspect this is a result of some new framework code using `Task.WaitAsync` and then letting the original Task becomes abandoned.  We will troubleshoot and try create a repo but would appreciate if you could help with i

[2021-12-02 18:31] agocke commented on #61693
Re-opening as the PR didn't fix the problem. These tests are still disabled on Mono

[2021-12-02 18:35] baal2000 commented on #23878
Another suggestion is to improve the framework so it helps developers troubleshoot the abandoned tasks failures. The failing thread call stack without the context of the async execution flow may not always be useful. As in the following example of such an event:
[code]

[2021-12-02 18:36] danmoseley commented on #61878
@Tornhoof

Feel free to pick "blank" from the list of buttons when you open an issue. (I have the same preference)

[2021-12-02 18:36] grbell-ms commented on #62274
C#11 introduces explicit parameterless constructors for value types. This code would call that constructor rather than creating the default value.

[2021-12-02 18:38] BrzVlad commented on #61941
The call instrumentation done by the profiler disables inlining, hence the methods seen above. This was done just to see what managed methods are being executed and how many times, to keep in mind for any further optimizations.

I did some investigation and the inefficacy of the type equality operator doesn't impact the startup time. The small details in codegen quality are not really relevant sin

[2021-12-02 18:39] janvorli commented on #62058
My feeling was right, I have verified that it is a variant of the #61486. The only difference is that this time the caller was `CallEHFunclet` instead of the `CallDescrWorkerInternal`.

[2021-12-02 18:49] JamesNK commented on #62216
I think it is a matter of time. My hunch is this is caused by a combination of factors:
* .NET 6
* HTTP/2
* Calling a remote server
* Delay in completing response on the server (a guess right now)
* Server that has ping flood protection (most edge servers, but not Kestrel)

[2021-12-02 18:50] Macaddict42 commented on #1218
Was there ever any resolution to this? We see this issue almost 30% of the time in our CI builds. It's not consistent though. I have a crashdump if that would be helpful for anyone, it's 512MB in size.

.Net Version: 5.0.403
Application: testhost.exe
VS Version: 16.11.7
MSBuild Version: 16.11.2.50704

Error: The active test run was aborted. Reason: Test host process crashed : Unhandled exception.

[2021-12-02 18:56] lewing commented on #62021
The browser definitely has lower resolution than desktop but I'm also a bit unsure why it started failing recently. @pavelsavara any thoughts?

[2021-12-02 19:02] pavelsavara commented on #61294
I updated the stack trace in description.
I just added some logs and now I'm sure it's executing `ep_rt_mono_component_init`

[2021-12-02 19:05] pavelsavara commented on #62021
We have new chrome, it may be the cause.
https://developer.chrome.com/blog/cross-origin-isolated-hr-timers/

[2021-12-02 19:08] #62260 closed

[2021-12-02 19:09] jkoritzinsky opened #62291 "DllImportGenerator conversion code fix should make the containing types partial"
Right now the code fix to convert to `GeneratedDllImport` doesn't make any containing types `partial`. This can result in build failures after running the code fix (which makes the `DllImport` methods `partial`).

cc: @AaronRobinsonMSFT @elinor-fung

[2021-12-02 19:13] maxild opened #62293 "[API Proposal/Question]: IFloatingPoint<TSelf> is totally base 2 IEEE 1985 oriented. We also need the basics for base10/decimal and other rational/fraction/real like numbers"
### Background and motivation

I know `IFloatingPoint<TSelf>` has this covered, but the interface is MUCH too big for other floating/fixed point/fractional numbers to support it.

We need a more basic (more generic) fractional number abstraction for all "real" like types (IEEE, decimal, Rational/Fraction/FixedPointNumber etc).

Functions like

* truncate
* floor
* ceil
* round

are concepts of all

[2021-12-02 19:38] kouvel commented on #62140
Probably the issue is that the page size is different and the code is currently strict about the size of the shared memory file, which is based on the page size. I'll see if something can be done to fix it.

[2021-12-02 19:41] legistek commented on #62149
Just a little more information that may help:

I tried a second project that shares a lot of the code with the first one, but is quite a bit smaller. This one originally crashed with the same issue, prior to me using the `EmccTotalMemory` tag.

Once I added `EmccTotalMemory` to 128MB, it worked fine.

My main project, however, crashes no matter what memory setting I used. (Well, I've tried 128MB a

[2021-12-02 19:43] radical commented on #54638
1. https://github.com/dotnet/runtime/pull/61276 surfaces the output of `emcc --version` correctly, so the error would show up for the user
2. But we should also check for python when installing the workload

[2021-12-02 19:44] zlatanov commented on #62274
That's a good point. Here is more explicit implementation to handle this case.

[code]

[2021-12-02 19:48] NightOwl888 commented on #62247
Okay, I am convinced :smirk:.

I also discovered a format string translation problem that fixes our tests. The line to normalize the format string with the time zone  was missing the minutes, so they weren't being round-tripped when parsing the string (chopping off the minutes).

[code]

Was translated to:

[code]

When it should have been:

[code]

### Explained Satisfactorily

- Why does the beh

[2021-12-02 19:51] radical commented on #62237
wasm projects with AOT, are just one kind of project that can be built with .net 6, and not everyone would need it. I'm guessing that's why they don't include it. You could file an issue in that repo, and discuss if you want to.

I'm not sure if installing it ourselves would make sense, but we should at least check that python3 is installed, when installing the workload on linux (thanks for the su

[2021-12-02 19:51] #62237 closed

[2021-12-02 19:51] am11 commented on #57784
Sounds like something has regressed since https://github.com/dotnet/runtime/pull/32746. :)
This scenario is not tested in the CI (build on linux by disabling `FEATURE_EVENT_TRACE`). Perhaps we also need to delete: https://github.com/dotnet/runtime/blob/ad9979381706d1976e4d26e13cb88d6147264968/src/coreclr/clrdefinitions.cmake#L119-L121 and set this to `false`: https://github.com/dotnet/runtime/blob

[2021-12-02 19:55] maxild opened #62296 "Cannot understand the API design of Generic Math INumber.Create[XXXX] methods"
It seems like the `TSelf TSelf.Create<TOther>(TOther value)` (and friends) are what we can call ConvertFrom (in TypeConverter lingo). And there are no equivalent of `TOther TSelf.ConvertTo(TSelf value)`.

So if I code up new number type

[code]

I will implement the `Create` static method (and friends) (supporting whatever other numeric type I choose). But if I need to use this `Fraction` type som

[2021-12-02 20:01] kouvel commented on #61273
Closing for now. There would be some benefits but maybe not in perf.

[2021-12-02 20:01] #61273 closed

[2021-12-02 20:21] stephentoub commented on #23878
What specifically do you suggest be done?  Taking a snapshot of the stack when every task is created would be utterly painful, even in debug.

[2021-12-02 20:39] mattjohnsonpint commented on #62247
From   https://devblogs.microsoft.com/dotnet/date-time-and-time-zone-enhancements-in-net-6/#timezoneinfo-adjustmentrule-improvements

I'd have to go dig through my notes to find the specific PRs, but basically .NET 6 is more correctly interpreting the tzdata.  @tarekgh might be able to elaborate.

[2021-12-02 20:41] pedrobsaila commented on #62212
Hi, I would like to contribute on this issue

[2021-12-02 21:12] AndyAyersMS commented on #62266
As @EgorBo says above, using PGO to de-abstract things like this is a long-term goal. Not clear how much progress we'll make on this in the next release, as we are still working through .net 7 plans.

@geeknoid if you have realistic polymorphic examples in mind, it would be nice to add those to your perf suite so we can see how well some new ideas we have in mind for PGO might cope.

[2021-12-02 21:14] #62004 closed

[2021-12-02 21:16] eerhardt commented on #62212
Awesome, @pedrobsaila! Thanks for the help. I have assigned it to you.

[2021-12-02 21:22] maryamariyan commented on #61100
Seems like there is a workaround, therefore closing issue.

[2021-12-02 21:22] #61100 closed

[2021-12-02 21:24] AndyAyersMS commented on #62148
`AggressiveOptimization` provides a way to bypass tiering for certain methods that should never be left un-optimized. Since PGO relies on tiering, `AggressiveOptimization` and PGO are mutually exclusive.

I agree the name, while accurate, is a bit unfortunate -- the implications of using this on a method are not clear, and there are downsides.

Last I looked `AggressiveOptimization` was only used

[2021-12-02 21:26] maryamariyan commented on #61577
cc @HaoK what is your take on this?

[2021-12-02 21:31] maryamariyan commented on #44486
@avanigupta are you still blocked by this or you already have the workaround?

/cc @halter73

[2021-12-02 21:38] dong82 commented on #59168
@vitek-karas, thanks, the instructions helped.
However, I still see the problems trying to make .Net6.0 coexists with other previous versions on my M1 Mac.
Right now, .Net5.0 and .Net3.1 is using `/usr/local/share/dotnet/x64/dotnet`, while .Net6.0 depends on `/usr/local/share/dotnet/dotnet`.
I ended up creating a symbolic link named `dotnet6` to dotnet version 6.0.
So, now I can use dotnet for 3.1

[2021-12-02 21:47] tarekgh commented on #62247
I believe was referring to the following PR's:
https://github.com/dotnet/runtime/pull/50131
https://github.com/dotnet/runtime/pull/49733

@NightOwl888 I am closing this issue. Feel free to send any more questions we can help you with.

Thanks @Clockwork-Muse and @mattjohnsonpint for your answers here.

[2021-12-02 21:47] #62247 closed

[2021-12-02 21:47] hoyosjs commented on #57784
Is disabling loading LTTNG support enough for now? `COMPlus_LTTng=0`

[2021-12-02 22:04] avanigupta commented on #44486
@maryamariyan , we are still blocked since there's no clean workaround for this.

[2021-12-02 22:05] HaoK commented on #61577
My quick take is that it seems like a breaking change that should be reverted

[2021-12-02 22:09] omajid commented on #57784
It's good enough for me, personally. And it's enough for the source-build builds I care about. But end-users who upgrade to distributions that have lttng-ust (Fedora >= 36, Arch Linux, probably more soon) will run into crashes at runtime and will not even know about this workaround.

[2021-12-02 22:18] #60545 closed

[2021-12-02 22:23] EgorBo opened #62302 "Optimize jump stubs on arm64"
On x64 we emit the following code for jump stubs:
[code]
as I understand from https://github.com/dotnet/runtime/blob/70d20f1445127d6473283047d0a551ccf85f897f/src/coreclr/vm/amd64/cgenamd64.cpp#L505-L507

while on arm64 we make a memory load (from data section via pc):
[code]
https://github.com/dotnet/runtime/blob/eeb79b33d2a602915d4bd0153945fff75abdbbf7/src/coreclr/vm/arm64/cgencpu.h#L294-L296

I'

[2021-12-02 22:27] Thefrank commented on #14537
@sec I wouldve sworn the behavior was different under 3.1 or 5 but after testing with both it seems to be the same. So it DOES work as expected.

Moving on...tests!
did a build from main @ https://github.com/dotnet/runtime/commit/09cd9c2cfd21f7e830269ee7cd64ea11cbe47a1d
I had failures in 14(!) different test groups. I have included in both HTML and XML the results from groups that had failures.

I

[2021-12-02 22:28] bartonjs commented on #60157
Duplicate of #59455 / #59444

[2021-12-02 22:28] #60157 closed

[2021-12-02 22:28] EgorBo commented on #62302
Also, doesn't arm64 allow us to do just `br [pc, #8]`?

[2021-12-02 22:29] bartonjs commented on #61362
Duplicate of #61302

[2021-12-02 22:29] #61362 closed

[2021-12-02 22:40] echesakovMSFT commented on #62302
If distance between `pCode` and `target` smaller than 128MB I guess we could do
[code]

[2021-12-02 22:44] danmoseley commented on #29683
We have precedent for essentially adding retries to a whole category of tests -- see Event Log tests for example. there is even a common utility --
https://github.com/dotnet/runtime/blob/03e90a540cb2dfe5cab4086ea54ad5dd1f655749/src/libraries/Common/tests/TestUtilities/System/RetryHelper.cs#L10

Another option is the new test retries feature -- it works on a regex pattern matching on the test name,

[2021-12-02 22:45] danmoseley commented on #29683
The retry helper takes a predicate that could filter for 0xc0000001.

[2021-12-02 22:47] baal2000 commented on #23878
I understand, but if it could be necessary in specific cases. For instance a static flag/environment variable could be used to enable that for testing/troubleshooting purposes only when the performance hit can be tolerated.

We do have an internal purpose class named RecyclableList that allocates arrays off an ArrayPool. The recommended practice is to dispose of every instance of it before derefer

[2021-12-02 22:49] BruceForstall commented on #62302
Wouldn't it take 4 instructions to populate an address constant in the worst case?

[2021-12-02 22:52] am11 commented on #57784
Unless someone is already working on it, I think we should stop pursuing "convert event generator to shim" part for now and focus on multi-version support first. It includes the following:

* keeping lttng-ust headers in source tree (`src/native/external/lttng` perhaps? as @jkotas proposed for zlib etc.)
* building two versions of our existing provider: `libcoreclrtraceptprovider.0` and `libcorecl

[2021-12-02 22:53] mikem8361 commented on #62181
@joshuajung, when you ran createdump were you superuser? I ran `sudo -E ./createdump <pid>` against an app running 6.0.0 and it worked for me.

The other big difference is you are running Monterey 12.0.1 and I'm running version 11.6.

[2021-12-02 22:57] kunalspathak commented on #62302
We are not good in hoisting address constant population, so if this is part of the loop, we might regress.

[2021-12-02 23:03] halter73 commented on #44486
I investigated this with @avanigupta before the 6.0 release and we confirmed that this is no longer the case in the final release. However, I realize the original issue wasn't about a regression in 6.0, but instead was asking for the ability to enumerate a `ChainedConfigurationProvider`'s child providers which likely would have avoided the regression we saw in preview releases.

I think the propos

[2021-12-02 23:06] StephenMolloy commented on #1388
@chswin, this has been fixed in 7.0... and the issue unfortunately got closed when that PR was pushed through. We are trying to get approval to bring this back to 6.0, so I do expect it to show up in a servicing release. But you are correct, it is not yet fixed in .Net 6.

[2021-12-02 23:13] jkotas commented on #62302
Note that we require that the target to be atomically patchable without suspending the execution. It makes it close to impossible to split this into multiple instructions.

I agree that the whole scheme for how we deal with the precodes and back patching is likely very suboptimal on non-x86 architectures (and maybe even on x86). I think the more optimal path may look like this:

- Loading of the i

[2021-12-02 23:18] radical opened #62303 "[wasm] `Loader/classloader/explicitlayout/NestedStructs/case04/case04.sh` failing with `FAIL: object and non-object field overlap was not detected`"
[Rolling build](https://dev.azure.com/dnceng/public/_build/results?buildId=1494433&view=logs&j=2296eecc-f5ab-523f-c15d-f45eef1bfdea&t=d328b091-66a6-5d96-5a21-3cf77f57f009), and [Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-8237b72af558483d89/Loader.classloader/1/console.0530c892.log?sv=2019-07-07&se=2021-12-22T20%3A57%3A59Z&sr=c&sp=rl&sig=hts3uBp51%2Bi

[2021-12-02 23:21] radical commented on #62276
https://github.com/dotnet/runtime/issues/62303

[2021-12-02 23:21] buyaa-n commented on #58616
Failing again [in this build](https://github.com/dotnet/runtime/pull/62095/checks?check_run_id=4401828012), the [log:](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-62095-merge-a3ece4c34f5d43439f/System.Runtime.Tests/1/console.b28cd058.log?sv=2019-07-07&se=2021-12-22T22%3A07%3A41Z&sr=c&sp=rl&sig=Jgo6kYNhuQGhfW1Rb7ggX988eE08m1SevyU0WB7oJ3A%3D)

[code]

[2021-12-02 23:22] jkotas commented on #62302
My bet would be that the bottleneck is more caused more by the call + indirect jump combination than by the memory load. Patterns like that used to cause pipeline stalls on x86 in the past, and I think it is likely that they are problem for arm64 too.

[2021-12-02 23:25] ericstj commented on #62282
@rainersigwald does the dotnet CLI / SDK officially support building for `net4.0`?  That's surprising to me.  Many of the .NETFramework specific targets would be absent from the dotnet CLI.

In regards to the request to support `net4.0` in Sytstem.Resources.Extensions: our packages only support in-support frameworks.  cc @terrajobst
https://github.com/dotnet/announcements/issues/190/
https://docs.

[2021-12-02 23:27] danmoseley commented on #58616
We are missing a way to get a dump when we are killed for using too much memory. https://github.com/dotnet/runtime/issues/56165 is similar but for IO tests.

[2021-12-02 23:27] buyaa-n commented on #60753
Failed again https://github.com/dotnet/runtime/pull/62095/checks?check_run_id=4401635475
[code]
https://github.com/dotnet/runtime/pull/62095/checks?check_run_id=4401635312
[code]
[code]

[2021-12-02 23:32] radical opened #62304 "[wasm] Random tests failing with `main.js 384:18 Uncaught Error: Can't load ./dotnet.js`"
Rolling [Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1494433&view=logs&j=108d2c4a-8a62-5a58-8dad-8e1042acc93c&t=568f884b-cc12-5fd3-e7fe-790b5ac403f4), and [Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-d12ecc209a7f4d47af/System.IO.FileSystem.Manual.Tests/1/console.c1d9f3e7.log?sv=2019-07-07&se=2021-12-22T20%3A41%3A49Z&sr=c&sp=rl&si

[2021-12-02 23:35] buyaa-n commented on #56165
failed again [in build](https://github.com/dotnet/runtime/pull/62095/checks?check_run_id=4401813050), [log:](https://helix.dot.net/api/2019-06-17/jobs/1e4c6c42-60d2-4b2c-ae00-00e43a60bead/workitems/System.IO.Tests/console)
[code]

[2021-12-02 23:45] ericstj commented on #59168
If you want you can install the 6.0 x64 version of dotnet on mac and it will be installed to `/usr/local/share/dotnet/x64`.
The 6.0 arm64 version of dotnet is installed to `/usr/local/share/dotnet`

I believe OmniSharp is making updates to make it aware of both arm64 and x64 dotnet SDKs.  @JoeRobich is that correct?

[2021-12-02 23:49] chwarr commented on #62216
_If_ the remote gRPC server that the CI tests are hitting is based on gRPC Core (the C/C++ implementation), the [keepalive documentation](https://github.com/grpc/grpc/blob/fd3bd70939fb4239639fbd26143ec416366e4157/doc/keepalive.md#keepalive-user-guide-for-grpc-core-and-dependents) for that HTTP2 server _may_ be useful. It talks about when a ping is considered solicited vs. unsolicited and its "stri

[2021-12-02 23:51] wfurt commented on #14537
I briefly look at networking/security failures and it seems like some mix of test adjustments, environmental differences and maybe some product bugs/gaps.
Not that some tests are not 100% so you _may_ get different failures on re-run. We will need to go group by group and make fixes. None of the failure look too critical but it would certainly be nice to get clean runs.

[2021-12-02 23:51] dong82 commented on #59168
@ericstj, I am aware of that choice. However, I would like to find if MS is considering any mitigation to this ARM/x64 mismatch / mismatch to allow full benefits of M1 power to us DotNet core lovers.

[2021-12-02 23:56] buyaa-n opened #62305 "System.Windows.Extensions outerloop test SoundPlayerTests.LoadAsync_SourceLocationFromNetwork_Success failing"
Outerloop test SoundPlayerTests.LoadAsync_SourceLocationFromNetwork_Success(String sourceLocation) is failing

Found in the [build ](https://github.com/dotnet/runtime/pull/62095/checks?check_run_id=4401813050)

[code]
Seem more [log](https://helix.dot.net/api/2019-06-17/jobs/c629531c-eec7-4f42-9138-6fc020390ec2/workitems/System.Windows.Extensions.Tests/console)

[2021-12-03 00:16] Kuinox commented on #62167
I want ahead and made a PR because the fix is one line.

[2021-12-03 00:17] JoeRobich commented on #59168
@ericstj The C# extension is waiting to see if this becomes a common problem for our users or if they simply move to working from the arm64 SDK.

@dong82 I would recommend letting the arm64 CLI use the dotnet name and choose a different alias for the x64 version, since I would expect it to become less and less useful.

[2021-12-03 00:27] bartonjs opened #62307 "Rfc3161TimestampToken.TryDecode does not work for timestamps in Windows OS libraries Authenticode signatures"
If you take the Authenticode signature payload from (e.g.) ntdll.dll, decode that as a SignedCms, and try to interpret cms.SignerInfos[0].UnsignedAttributes[0].Values[0] (the only instance of the only unsigned attribute of the only signer) as an Rfc3161TimeStampToken, TryDecode returns false.

Stepping through, the first failure occurs because the TimestampToken contains a certificate of a type ot

[2021-12-03 00:36] lambdageek commented on #62303
Let's disable the test on wasm for now.

@simonrozsival wasm is 32-bit.  Maybe this test only has overlapping fields on 64-bit platforms?

[2021-12-03 00:50] lambdageek commented on #62303
Yea this field doesn't actually overlap the object on a 32-bit arch

https://github.com/dotnet/runtime/blob/b83fee9f6e3442b9808eee3c436499c6f13a648e/src/tests/Loader/classloader/explicitlayout/NestedStructs/case04.cs#L30

[2021-12-03 01:00] mateo-fi commented on #42914
@djjz - Thanks so much for the code sample as I've struggled with this for years as well. Was there any mention by Microsoft of using the GetGroups(PrincipalContext) overload? I found that suggestion [here](https://stackoverflow.com/questions/55947060/userprincipal-getgroups-method-throws-exception-after-changing-domaincontrolle), and while it doesn't perform as well, I was able to verify that it

[2021-12-03 01:08] danmoseley commented on #62305
@huoyaoyuan this was broken by 89e3040713c9 #57896. This assert is requiring that there be a stream set up at the start of the method that is going to end up setting up the stream.

Note, these tests are OuterLoop so you wouldn't have seen it locally. You have to do something like `dotnet build /t:test /p:outerloop=true .../tests/System.Windows.Extensions.csproj`

[2021-12-03 01:09] Sergio0694 commented on #62274
@grbell-ms I know it was just a typo, but for others reading that might not know this, that feature is [already out in C# 10](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-10#improvements-of-structure-types) 😄

[2021-12-03 01:11] VincentBu opened #62311 "Test failure Loader/classloader/explicitlayout/NestedStructs/case05/case05.sh"
*Edit* there are two separate issues here all on the Linux x64 LLVM AOT lane:

1. The new tests from https://github.com/dotnet/runtime/pull/61467
[code]

2. The new test from https://github.com/dotnet/runtime/pull/60770
[code]

----

Run: [runtime 20211202.64](https://dev.azure.com/dnceng/public/_build/results?buildId=1494433&view=ms.vss-test-web.build-test-results-tab&runId=42680518&paneView=debu

[2021-12-03 01:12] danmoseley commented on #62305
Do you remember any context on this one? I wonder if rather it should be `if (loadSync && _stream!.CanSeek)` and possibly should assert that `_stream == null` if `loadSync` is false. I didn't examine closely. Happy for one of us to take this issue unless you want to.

Also, I wonder why this wasn't reported before, since I see the change was months ago, we do run outer loop tests continuously.

[2021-12-03 01:29] buyaa-n commented on #62230
You are right, I see `(expressionCall1_.Body as MethodCallExpression).Method` and `(expressionCall2_.Body as MethodCallExpression).Method` produce the same method from the base class, so the equality result is correct

I hope the Linq area owners could help with that question cc @dotnet/area-system-linq

[2021-12-03 01:33] VincentBu opened #62312 "Test failure JIT\\Intrinsics\\CreateSpan_il\\CreateSpan_il.cmd"
Run: [runtime-coreclr jitstress 20211201.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1493499&view=ms.vss-test-web.build-test-results-tab&runId=42661192&paneView=debug&resultId=100434)

Failed test:
[code]
**One of error message:**
[code]

[2021-12-03 01:49] VincentBu commented on #60753
Failed again in: [runtime-libraries-coreclr outerloop 20211202.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1493814&view=ms.vss-test-web.build-test-results-tab&runId=42665748&resultId=103188&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

Failed test:
[code]
**Error message:**
[code]

[2021-12-03 01:54] VincentBu commented on #62034
Failed again in：[runtime-libraries-coreclr outerloop 20211202.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1493814&view=ms.vss-test-web.build-test-results-tab&runId=42665792&paneView=debug&resultId=102695)

Failed test:
[code]
**Error message：**
[code]

[2021-12-03 01:56] davidwrighton opened #62313 "System.Reflection.Metadata does not allow RVA mapped fields to be reliably aligned to 8 byte boundaries"
### Description

System.Reflection.Metadata exposes an api (`System.Reflection.PortableExecutable.ManagedPEBuilder.MappedFieldDataAlignment`) which is supposed to represent the alignment that the MappedFieldData elements are held at. That value is a constant with a value of 8. However, the mapped field data is actually not reliably 8 byte aligned. Instead it appears to be 4 byte aligned. Reliable

[2021-12-03 02:02] davidfowl commented on #61273
Any more details?

[2021-12-03 02:09] davidwrighton opened #62314 "Reflection.Emit does not reliably allow use of CreateSpan<T> with non 8 byte aligned data"
### Description

The emitter for FieldRVA data used in Reflection.Emit does not 8 byte align field RVA fields when the data may have 8 byte alignment requiring data. This interferes with compatibility with the `CreateSpan<T>` feature. See #60948.

### Reproduction Steps

Use reflection emit to allocate RVA static fields. They will not be 8 byte aligned.

See https://github.com/dotnet/runtime/blob/

[2021-12-03 02:11] davidwrighton opened #62315 "Validate that ilasm/ildasm round-tripping does not lose alignment of FieldRVA data"
This is needed to avoid breaking the `CreateSpan<T>`  feature  #60948.

[2021-12-03 02:28] davidwrighton opened #62316 "Crossgen2 does not reliably align data used by CreateSpan<T>"
`CreateSpan<T>` #60948 introduces a new requirement for better alignment of field rva data. and crossgen2 in the implementation of `CopiedFieldRvaNode` only reliably aligns to pointer size boundaries instead of the 8 byte boundaries that may be needed for double/ulong/long data.

[2021-12-03 02:38] lambdageek commented on #62311
https://helix.dot.net/api/2019-06-17/jobs/9fb7ee4b-221f-4755-8d72-78d6a05907fe/workitems/System.Security.Cryptography.Tests/console

[code]

/cc @simonrozsival

[2021-12-03 02:55] halter73 commented on #62258
With HTTP/1.1, I bet even the first case with not enough data could lead to corruption if the server sends a complete response before attempting to read the entire request body (this would be unusual but certainly not unheard of). If that were to happen, the server could interpret the next request as the end of the previous response body.

Also, tearing down the connection for too much data might

[2021-12-03 03:00] lambdageek commented on #62311
@vargaz @thaystg the new test from #60770 is failing on the AOT lane - looks like `context->method_inst` is non-NULL but garbage:

https://helix.dot.net/api/2019-06-17/jobs/37967d43-ee2b-411f-aa01-5e4f6f0fab43/workitems/Loader.classloader/console

Look at `collect_ginst_images` in frame 6

[code]

[2021-12-03 03:02] #61901 closed

[2021-12-03 03:08] halter73 commented on #61675
[code]

[2021-12-03 03:09] halter73 commented on #61675
@maryamariyan I moved this to the 7.0.0 milestone and marked it ready for review.

[2021-12-03 03:12] lambdageek commented on #62311
@steveisok Another pair of failures that would have been caught if we ran the linux runtime test lanes on PRs

[2021-12-03 03:13] steveisok commented on #62276
https://github.com/dotnet/runtime/issues/62311

[2021-12-03 03:18] geeknoid commented on #62266
@AndyAyersMS I've got a few examples already in my benchmark. I have IEnumerable implemented on top of different concrete types, or IList implemented on top of different concrete types. If you then write code such as:

[code]

DoSomething can be called with different implementations of IEnumerable. Now you're already generating different code for different instances of T, so conceivably you could

[2021-12-03 03:19] AndyAyersMS commented on #33658
(6) OSR and altjit (specifically cross-altjits)

Two issues:
* We currently throw away the runtime patchpoint info when we reset the jit for retry. So the real jit OSR request fails as it can't find this info.
* Assuming we preserve the info, the patchpoint info is target specific, so it will be wrong for either the altjit or the real jit. I think we keep the real jit's version so the altjit OSR r

[2021-12-03 03:39] davidfowl commented on #62266
FWIW We have LOTS of examples of this in ASP.NET and in dotnet/runtime. I made a set of changes in .NET 6 to remove IEnumerable<T>.GetEnumerator allocations when the backing collection as a T[] (which is always is when using dependency injection). ASP.NET Core uses abstract IList<T>, IReadOnlyList<T> and IEnumerable<T> *ALOT*. Recently we've been taking advantage of [CollectionMarshal.AsSpan](http

[2021-12-03 04:25] kouvel commented on #61273
I don't have anything new. I didn't see any significant perf improvements from the things I tried above specifically relevant to moving epoll to the thread pool. There'll probably be ideas I didn't try but seeing the overhead in and the effect of delays between epolls, it seems unlikely to me that there would be a significant perf benefit from moving epoll to the thread pool. It seems unlikely tha

[2021-12-03 04:44] johnkwaters opened #62320 "User Secrets file is required, even when it's excluded in conditional compile"
### Description

In .net 6., i get the error

2021-12-03 04:36:12.891 +00:00 [FTL] Host terminated unexpectedly.
System.IO.FileNotFoundException: The configuration file 'secrets.json' was not found and is not optional. The expected physical path was 'D:\home\site\wwwroot\secrets.json'.

Even though I don't load secrets when RELEASE compiled...

The project has a secretsid

  <PropertyGroup>
    <T

[2021-12-03 04:51] johnkwaters commented on #61418
I have a flavor of this, I conditionally include user secrets in DEBUG mode - but in RELEASE I still get this error!

#if DEBUG
                        cfgBuilder.AddUserSecrets<Startup>();
#endif

[2021-12-03 05:34] devgossips commented on #61740
Is there any fix for this ?

[2021-12-03 05:45] danmoseley commented on #62305
I threw up a PR.

[2021-12-03 05:47] danmoseley commented on #62304
@lewing any idea?

[2021-12-03 05:49] danmoseley commented on #62274
I think this is answered, thanks for all the comments.

[2021-12-03 05:49] #62274 closed

[2021-12-03 05:55] danmoseley commented on #62270
Don't know whether it's related, but @eerhardt changed the implementation of icon.Save() in #54636.

[2021-12-03 06:03] wangjunjx8868 opened #62332 ".net 6 blazor can't publish"
### Describe the bug
 D:\Users\wangqi\source\repos\BlazorApp2\obj\Release\net6.0\wasm\for-publish
 C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Runtime.Mono.browser-wasm\6.0.0\runtimes\browser-wasm\native\include\mono-2.0
 C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Runtime.Mono.browser-wasm\6.0.0\runtimes\browser-wasm\native\include\wasm
 C:\Program Files\dotnet\packs\Microsoft.NET

[2021-12-03 06:16] KalleOlaviNiemitalo commented on #62282
I wonder how hard it would be to backport the package externally.

[2021-12-03 06:27] Xyncgas commented on #31094
I would like this too, sometimes I am changing my old code instead of new code, to have a new behavior, then instead of going around making sure I did the right thing that I've passed in the correct Serializer option every where, I want to have a way to set it project wide, for all the System.text.json Serializations to use my enforced serializer option, instead of doing this myself which is possi

[2021-12-03 06:33] Clockwork-Muse commented on #62105
.... also, because I can be terrible about this, how many PRs do you want?  One for everything?  There's ~600 files, but most of the changes are relatively minor.

[2021-12-03 06:40] danmoseley commented on #62105
Do you want to just put up the smallest possible one first so we see what it looks like?

[2021-12-03 06:50] danmoseley commented on #62034
[code]

|Pipeline|Pipeline_Configuration|OS|Arch|Test|Result|Finished|Started|Duration|Method|Build|Message|
|---|---|---|---|---|---|---|---|---|---|---|---|
|runtime-libraries-coreclr outerloop-linux|Release|redhat.7.amd64.open.rt|x64|test/functional/cli/outerloop/|Fail|2021-11-24 12:20:59.6950000|2021-11-24 12:20:28.5180000|0.183|Unix_NotFoundDirectory_ReadOnlyVolume|20211124.2|Assert.Throws()

[2021-12-03 06:52] danmoseley commented on #62034
This test has `[Trait(XunitConstants.Category, XunitConstants.RequiresElevation)]` so it might be that it didn't run during PR validation (?)

[2021-12-03 06:52] danmoseley commented on #62034
@carlossanlop example of how to do such a query
https://engsrvprod.kusto.windows.net/engineeringdata?query=H4sIAAAAAAAEAI1RTW%2fCMAy9I%2fEfLE5UYtPYvZO2ISQmDRiw7ViF1lBDG1dOIlZpP35p2g0OO3BK7Pdh52WDxq7QuMKafu8bDkwajqSzmLRGgU%2bW48xiaYD1XzHL%2fqO%2b8Daw%2fNkSTjkKwpQ0mRwzeIhB82l4M76%2fy6Iz3g6HOIbBVFExOCPwijbnLEDvmr6SOdspO51NSDC1LHWyQpUtdFF%2fcOFKDNpK%2bOBR6PcAllRhQRohBsvGCun9sFJiMDkY1sOlcIViCU10O8GdX9Q

[2021-12-03 06:54] jeroenlandheer commented on #61418
@johnkwaters

If that's the case, I think the `DEBUG` constant is defined in your release configuration. You can check your project and see if you have any `<DefineConstants />` in your csproj file that might cause this. e.g.:

[code]

A workaround is to use this in your code:
[code]
This line will still be included in release builds, but will not cause this issue.

[2021-12-03 07:13] Clockwork-Muse commented on #62105
@danmoseley #62325

Only one regex to replace on a project (although it's a source one, not a test one).

[2021-12-03 07:26] joshuajung commented on #62181
@mikem8361 Thanks for having a look at this. Yes, it also fails as super user, in the same way as pasted above. Unfortunately, I don't have a macOS 11 machine to triage further, but I will report in case future macOS updates have any effect.

[2021-12-03 07:31] danmoseley commented on #62276
What sorts of issues are we tracking here -- in principle any outerloop failure is a CI test hole. I assume this is about inner loop failures in configurations that didn't run before commit?

BTW it is not well defined whether "CI" means before or after commit so I avoid the term.

[2021-12-03 07:40] wrexbe commented on #61577
I think while the chance is low, the potential damage is higher, and that this is a more severe breaking change, because it can be completely silent. I think someone is going to update, everything is going to appear fine, but when they deploy it to production it is going to not override some of the settings. The program could run for a long time, and cause a lot of damage, before anybody notices i

[2021-12-03 07:44] HansBuenting commented on #62272
Hi there,
you are absolutely right. I will close this issue and open a new one in the right area.
There doesn't seem to be any functionality to move this issue

[2021-12-03 07:44] martincostello commented on #62320
Dupe of #61418?

[2021-12-03 07:44] #62272 closed

[2021-12-03 08:02] legezam commented on #61653
One suggestion, after some further research, i find the host vs app and the corresponding configuration mechanism very under documented in the official documentation. Probably that should be improved slightly.

Thanks for your help!

[2021-12-03 08:33] djjz commented on #42914
@mateo-fi Missed that one completely, I'm afraid. Our conversations with Microsoft went quite straightforward from gathering information to triage and the provided code sample.
Do you have any estimations on the performance loss after switching to the overloaded method? It's already a winner, given the ease of implementation.

[2021-12-03 08:41] EgorBo commented on #62302
@jkotas thanks for a detailed explanation! 👍

@BruceForstall Right, I was wondering if it's still faster, because otherwise I'd expect native compilers to always prefer doing a memory load rather than doing 4 movs (e.g. https://godbolt.org/z/cWYsTq6P6). I played locally with `llvm-mca` tool targeting `-mcpu=apple-a13`:

![image](https://user-images.githubusercontent.com/523221/144571690-7bcbe6e7-0

[2021-12-03 09:35] vitek-karas commented on #59168
@dong82 I understand the need for downlevel runtimes, but there should be much less need for downlevel SDKs. The .NET 6 SDK should be mostly backward compatible. Meaning that you can use .NET 6 SDK to build .NET 5/.NET Core 3.1 apps. Both the SDK and runtime should now be updated such that trying to run the downlevel apps will pick the correct runtime (x64). The only known limitation currently is

[2021-12-03 09:43] deeprobin commented on #62061
@adamsitnik Have you already profiled ReadLineAsync and do you know where the bottle neck is?

[2021-12-03 09:57] gfoidl opened #62326 "JIT does not recognize Vector<T>.Count and Vector{128|256}.Count is unsigned in div / mod"
[code]
The `.Count` are treated as constant, but for the division and modulo it's not treated as unsigned to allow bit-hack fast computation.

[code]

Edit: this link is wrong, see comment below.
At least fo .NET 6 on [sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgDkBXfGKASzFwG4BYAKDMq0ASgwB2GVsxoBJcW1G52XPn2IBmSgCZyAYXIBvPuWOUNrceQBqMMAGVWALxjkAvAD4rNjNAA8AMwAbC

[2021-12-03 10:29] deeprobin commented on #61290
@danmoseley @Nuklon
According to the fact that WMI is very slow and under Windows 11 not even `wmic` is available anymore, I think you should think about marking Windows.Management as obsolete and possibly include code fixers which automatically convert simple SELECT statements into a performant alternative.

[2021-12-03 10:30] EgorBo commented on #62266
It can be simplified to this (even without PGO):
[code]
where codegen for `Caller` is:
[code]
so we were able to inline Callee but the boxing is still here (and it's useless). It's something we (Andy) eventually will fix I hope e.g. via escape-analysis (multi-use boxing problem).

My point was if we can optimize it in jit we should do it in jit, because this API looks like a leaking abstraction to

[2021-12-03 10:36] tmds commented on #57784
I'm reproducing this issue.

[code]

I think the build works fine while using the prebuilts that link against `liblttng-ust.so.0`: It silently fails to load `libcoreclrtraceptprovider.so`.

In the stacktrace we see `liblttng-ust.so.1` is loaded. I think these are binaries that got built against that. The `SIGSEGV` occurs in `check_event_provider` which is meant to validate the tracepoints. This ma

[2021-12-03 10:59] EgorBo commented on #62326
@gfoidl I am not sure I understand, in your case `length` is an unknown signed integer so it can be negative, can't it?
[code]
these two don't look equal to me

[2021-12-03 11:00] EgorBo commented on #62326
![image](https://user-images.githubusercontent.com/523221/144591644-5cef336c-4e1d-4e4a-ae1d-facb47dfaf64.png)

[2021-12-03 11:14] gfoidl commented on #62326
Ah, you're right. I showed the wrong one.
Here `length` is e.g. from a Span, so not negative, therefore I can cast it to `uint`. [This sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgDkBXfGKASzFwG4BYAKDMq0ASgwB2GVsxoBJcW1G52XPn2IBmSgCZyAYXIBvPuWOUNrceQBqMMAGVWALxjkAvAD4rNjNAA8AMwAbCGwMNxodCDEMHl4TciMTdXJzDHIAWSoAChTyAJhRAHMMAAsASlcPbPFSzMyGFNK8wpLyAFJPMG8ofyCQsIio0

[2021-12-03 11:17] EgorBo commented on #62326
ah, makes sense now, should be simple to fix:

![image](https://user-images.githubusercontent.com/523221/144593808-6916c09e-a69d-41b1-a939-f62ffed595b2.png)

[2021-12-03 11:51] pavelsavara commented on #62304
I changed shape of the `dotnet.js` file in https://github.com/dotnet/runtime/pull/61313
But this is just one of many tests that are loading the file.
So I wonder what could be different?

There is not much more in the log.
ChromeDriver 96.0.4664.0 is good.

Are there more cases of this failure ?

[2021-12-03 12:05] antonfirsov commented on #62216
@chwarr if my understanding of those guidelines is correct, this is not fully accurate.

Note that the _Keepalive User Guide for gRPC Core_ repeatedly talks about stuff like:

or

The details are not clarified in that document, but it references the **Client-side Keepalive** guide, where the [server enforcement](https://github.com/grpc/proposal/blob/master/A8-client-side-keepalive.md#server-enforc

[2021-12-03 12:06] pavelsavara commented on #62021
@radical could we close this one ?

[2021-12-03 12:18] srxqds commented on #62220
thank you

[2021-12-03 12:18] #62220 closed

[2021-12-03 12:28] Xyncgas opened #62327 "[API Proposal] [.NET 7] [EPIC] : public shared class ->multiple pathway for object oriented constructions (ooc)"
### Background and motivation

We currently don't have a way to combine multiple type into a single type.

### API Proposal

Let the compile and IDE recognize the synctax then it will be fine, the class just inheirts all shared class in the background like you would inheirt one which is what we're doing.

### API Usage

[code]

### Alternative Designs

Just another idea, if an object is a composit

[2021-12-03 12:36] Xyncgas commented on #62327
The benifit of this is you can construct an object step by step, I still havent figured out the syntax yet, but the idea is there which I think is powerful because one of the powerful thing from functional programming that we could get was its ability to compose at compile time what can happen and kind of link the things together, with shared class, you can do this now, which the way I see it is j

[2021-12-03 12:37] Xyncgas commented on #62327
Changed the title so more people are lured to this conversation

[2021-12-03 12:43] rainersigwald commented on #62282
@marcpopMSFT or @chethusk might be better folks to answer that.

[2021-12-03 12:44] SingleAccretion opened #62328 "Dynamic block nodes should not generate non-null assertions"
Reproduction:
[code]
Expected result: NRE.
Actual result: the program exits normally.

Cause: we make assertion for the `IND struct` node which is the source for the dynamic block copy:
[code]

We cannot make non-null assertions for addresses of dynamic block nodes because in the degenerate case of zero-sized copies, the indirection will not be realized. There is language in ECMA 335 saying that t

[2021-12-03 12:45] teo-tsirpanis commented on #62327
Hello, proposals for new C# language features go to [discussions in the `dotnet/csharplang` repository](https://github.com/dotnet/csharplang/discussions).

[2021-12-03 12:46] dmytro-gokun opened #62329 ".NET 6 TimeZoneInfo.FindSystemTimeZoneById does not support IANA timezone ids on Windows Server 2016 & 2019"
### Description

As announced here: https://devblogs.microsoft.com/dotnet/date-time-and-time-zone-enhancements-in-net-6/
starting with .NET 6 TimeZoneInfo.FindSystemTimeZoneById should now support IANA timezone ids. That works just fine on Windows 10/10 & Windows Server 2022. It does not work on Windows Server 2016 & 2019 thought. Those are versions user by Azure App Services today. So, this funct

[2021-12-03 12:48] Xyncgas commented on #62327
Thank u.
Would you like to move this for me because I am not familiar of how. but you can teach me if you'd like to

[2021-12-03 12:49] Xyncgas commented on #62327
I will do it myself and close the issue in an hour.
you can close the issue if I don't after that.

[2021-12-03 12:50] #62327 closed

[2021-12-03 13:39] tmds commented on #57784
I can reproduce the issue by invoking corerun on a hello world console app.

The crash happens at this line: https://github.com/lttng/lttng-ust/blob/4c155a06d838e1ab5d385abd1d73ae56e71b7d5e/src/lib/lttng-ust/lttng-probes.c#L153.

The field is null.

[code]

`GCStart` has 2 fields as we see in definition below, but the array has null pointers for them.
[code]

[2021-12-03 13:41] pranavkm commented on #62332
@radical looks like a wasm-tools issue. Feel free to transfer it back if you think it's an issue with the Blazor SDK.

[2021-12-03 13:49] Nuklon commented on #61290
@deeprobin Pointless comment, has nothing to do with what reported here.

[2021-12-03 14:15] dong82 commented on #59168
@vitek-karas, the important key is "mostly backward compatible".  I might bite a bullet and try **net6.0** as a single SDK on my personal M1 Mac. Until we could guarantee 100% compatibility, the team wouldn't be able to push Mac developers to eliminate the older SDKs.

Although it is not my favorite, the best alternative seems to have Mac developers use x64 net6.0 for the time being.
Thanks for th

[2021-12-03 14:17] tmds commented on #57784
These fields gets initialized dynamically.
[code]
It seems they have not been initialized (yet):
[code]

[2021-12-03 14:33] geeknoid commented on #62266
@EgorBo You mention "leaky abstraction", but I was thinking more in terms of "compiler support types". You can imagine the C# compiler transforming the foreach loop transparently, and users don't know what happened. I know that some heroics are possible in the JIT, but it cannot possibly deal with all cases, so it's useful to consider the full spectrum of possibilities.

@davidfowl The MarshalAsSp

[2021-12-03 14:34] Danielku15 opened #62333 "FileSystemGlobbing does not support specifying absolute paths."
### Description

FileSystemGlobbing only works with relative paths, if you supply absolute paths, they are not matched. This is problematic if you allow users to supply files through commandline to your application. As a user you would expect you can specify absolute paths, relative paths (both optionally with globbing).

### Reproduction Steps

[code]

### Expected behavior

When patterns are spe

[2021-12-03 14:37] thaystg opened #62334 "[mono] Context->method_inst is non-NULL but garbage"
The new test from https://github.com/dotnet/runtime/pull/60770
[code]

Test from #60770 is failing on the AOT lane - looks like context->method_inst is non-NULL but garbage:

https://helix.dot.net/api/2019-06-17/jobs/37967d43-ee2b-411f-aa01-5e4f6f0fab43/workitems/Loader.classloader/console

Look at collect_ginst_images in frame 6

[code]

[2021-12-03 14:42] #62305 closed

[2021-12-03 14:54] adamsitnik commented on #62061
@deeprobin I've not profiled it yet.

[2021-12-03 15:08] marek-safar commented on #62276
Update the description to be clearer.

Yes and I would include them here if they ever show up as a problem.

[2021-12-03 15:10] EgorBo commented on #62266
@geeknoid btw, your API noticeably regresses performance for cases when underlying enumeration is not an array/list/readonlylist - it will do several casts some of them aren't cheap (such as cast to covariant IReadOnlyCollection). I'd prefer PGO to do this work since it knows for sure what kinds of objects are hidden under abstractions

[2021-12-03 15:30] simonrozsival commented on #62303
@lambdageek Yes, that should be the problem. In the other tests the conflicting fields have the same explicit field offset. In `case04` I intentionally used different offsets and I didn't notice that it behaves differently on 32 bit platforms. Thanks for fixing it!

[2021-12-03 15:48] raweibel commented on #62136
I'm currently setting up an environment that allows me to debug it. Hopefully, this will allow me to pin point the source of the exception. I will get back to you with the results in the coming days.

[2021-12-03 15:52] echesakovMSFT opened #62336 "threading/NamedMutex/test1/paltest_namedmutex_test1 failed"
[code]

For example, see [runtime-coreclr outerloop #20211203.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1495371)

[linux-musl-x64/console.log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-c82240e4d730456bbc/PALTests/1/console.fb38385b.log?sv=2019-07-07&se=2021-12-23T10%3A56%3A41Z&sr=c&sp=rl&sig=V%2BFNdxQQxolYZWThsRYxakqM9CvQgfoV0X5enzaH7

[2021-12-03 15:52] jherby2k opened #62337 "DllImport of MacOS frameworks not working on Big Sur"
### Description

I guess with Big Sur onwards, Apple has hidden framework assemblies. You're supposed to be able to dlopen them as normal, however DllImport does not appear to work. I've tried p/invoking DlOpen directly (not sure if DllImport attempts to check for the file's presence before calling DlOpen - that would cause problems) but even P/Invoking DlOpen fails to return a handle. This worked

[2021-12-03 15:55] michaldobrodenka commented on #7764
Ok, I've tried it, but unfortunately seg fault :(, it's Raspbian, but modified:
[code]
On ARMv7 (yocto):
[code]

[2021-12-03 16:02] AraHaan commented on #62113
I think this should be ready to review.

[2021-12-03 16:20] johnkwaters commented on #61418
Thanks @jeroenlandheer - I ended up using that workaround. DEBUG is not defined in my csproj for Release (it isn't in Debug configuration either, which seems magic. Something not in my project is settings the compile time constant DEBUG. It's not in the build task in DevOps either.

[2021-12-03 16:24] johnkwaters commented on #61418
Here is my build pipeline:
[pipeline.txt](https://github.com/dotnet/runtime/files/7650919/pipeline.txt)

Here is my csproj
[TrailheadChronos.IdentityServer.txt](https://github.com/dotnet/runtime/files/7650922/TrailheadChronos.IdentityServer.txt)

[2021-12-03 16:25] johnkwaters commented on #61418
And here is how UserSecrets are loaded:
[Program.txt](https://github.com/dotnet/runtime/files/7650929/Program.txt)

[2021-12-03 16:27] johnkwaters commented on #62320
@martincostello it seems related - I added this info to there too.

[2021-12-03 16:33] michaldobrodenka commented on #7764
On ARMv6 your test app, running with mono :):
[code]

[2021-12-03 16:35] jkoritzinsky commented on #62337
cc: @AaronRobinsonMSFT @elinor-fung @lambdageek

[2021-12-03 16:38] directhex commented on #7764
@michaldobrodenka can you run that in gdb and get me a backtrace?

I _really_ need to track down an old board don't I

[2021-12-03 16:40] directhex commented on #7764
On your v7 hardware you'll need to install libatomic from your package manager

[2021-12-03 16:40] directhex commented on #7764
The v6 Pi execution is the one I care about though

[2021-12-03 16:56] eerhardt commented on #62320
Closing as a dupe of #61418.

[2021-12-03 16:56] #62320 closed

[2021-12-03 17:00] k15tfu commented on #62140
@kouvel Hi! It uses different types on macOS x64 & macOS ARM64
https://github.com/dotnet/runtime/blob/4822e3c3aa77eb82b2fb33c9321f923cf11ddde6/src/coreclr/pal/src/include/pal/mutex.hpp#L123-L129

[2021-12-03 17:01] radical commented on #62021
If we are good with the workaround, and won't be fixing it, then feel free to close the issue.

[2021-12-03 17:03] michaldobrodenka commented on #7764
The one I have access right now is embedded hw with Raspberry pi compute module 1, very small partition, not enough space for gdb. I will probably have Raspberry pi 1 with sd card within hours.

[2021-12-03 17:09] CarnaViire commented on #61233
I am able to reproduce that on pure socket code (on crank); the code is here https://github.com/aspnet/Benchmarks/compare/main...CarnaViire:socket-benchmark

`6.0.0-preview.6.21279.1`: Mean RPS  = 15,479
[code]

`6.0.0-preview.6.21279.3`: Mean RPS  = 8,400
[code]

`7.0.0-alpha.1.21567.1` (should already include #61258): Mean RPS  = 8,776
[code]

Reproes only on Windows, as was confirmed before; bu

[2021-12-03 17:10] Elringus commented on #61083
I'm continuing the experiments with running dotnet/blazor under node/vscode web extension and hit an issue with WebSocket. It looks like `System.Net.WebSockets` attempts to use browser's `WebSocket` API and doesn't work in node.

I've tried shimming `global.WebSocket` with node's `ws` module and, while it worked with a simple echo test using a local ws server (https://github.com/Elringus/DotNetJS/

[2021-12-03 17:22] BruceForstall commented on #33658
For cross-altjit, will there ever be correct target-specific patchpoint info? We never ran the cross-altjit generated code.

[2021-12-03 17:30] nathanAjacobs opened #62340 ".NET Standard 2.0 should have an overload of Encoding.GetString() that takes a ReadOnlySpan<byte> parameter."
I know this already exists in .NET Core / .NET 5+ / .NET Standard 2.1. However, Spans can be used in .NET Standard 2.0 and an unsafe / array allocation workaround shouldn't be required.

See related issue: [https://github.com/dotnet/runtime/issues/55998#issuecomment-883471943](https://github.com/dotnet/runtime/issues/55998#issuecomment-883471943)

[2021-12-03 17:33] steveisok opened #62341 "[iOS/tvOS] Test Failure System.IO.Compression.Tests.ZipFile_Unix.CanZipNamedPipe"
Failure started appearing on the rolling build after https://github.com/dotnet/runtime/pull/62240 landed

[code]

[2021-12-03 17:34] steveisok commented on #62276
https://github.com/dotnet/runtime/issues/62341

[2021-12-03 17:36] tarekgh commented on #62329
This is by design as .NET doesn't carry ICU library. We still provide a solution for this situation which is deploying the ICU package as part of your app. it is easy to do so by adding the following to your csproj

[code]

If you want to learn more about that, please consult the doc https://docs.microsoft.com/en-us/dotnet/core/extensions/globalization-icu#app-local-icu.

[2021-12-03 17:42] AndyAyersMS commented on #33658
Yes, the right patchpoint info gets produced by the Tier0 altjit, but then it's thrown away because the altjit reports failure. So presumably we could hold onto this info somehow and supply it to the OSR altjit request. But not clear how to do that.

I guess there's another implicit assumption here, that when an altjit is specified it will process both the Tier0 and any OSR method. Currently that'

[2021-12-03 17:42] danmoseley commented on #62340
@nathanAjacobs .NET Standard 2.0 is a snapshot of a point in time. It is a description of a common set of API's that several platforms offered at that time. It is not possible to go back in time and add to it without breaking what it is.

What platform (as opposed to standard version) do you need this on?

[2021-12-03 17:44] dmytro-gokun commented on #62329
@tarekgh Please read what i have written above:

All in all, it a really bad solution for a framework with is advertised as a cross-platform solution. IMO.

[2021-12-03 17:52] #60468 closed

[2021-12-03 17:52] #62050 closed

[2021-12-03 17:56] BruceForstall commented on #33658
So, specifically, `setPatchpointInfo` could, on the VM side, be associated with the (alt)JIT that produced it, then `getOSRInfo` could retrieve that specific information.

I guess the value you're trying to get here is, for example, testing both patchpoint info creation and OSR method consumption of an x64-hosted arm64-targeting altjit instead of requiring doing all OSR testing on arm64 hardware i

[2021-12-03 18:00] rickbrew opened #62342 "[API Proposal]: System.Runtime.CompilerServices.Unsafe.AsPtrRef<T, U>(ref T* source) : ref U"
### Background and motivation

I'm told that something similar to this has been suggested before but it was decided that it was "too niche."

Well, I'm finding that I could really use this! Without it, it's impossible to do certain operations on variables or fields that are pointers. No `Interlocked.Exchange`, no nothing. Generics don't work with pointers, but they do work with pointer-size struct

[2021-12-03 18:08] michaldobrodenka commented on #7764
[code]

[2021-12-03 18:11] tarekgh commented on #62329
@dmytro-gokun

We are trying to not carry time zone data inside the framework. The reason is the data is changing rapidly and servicing is not trivial. If using ICU app-local feature is not satisfying you, you still have the option to use a library like https://www.nuget.org/packages/TimeZoneConverter/.

Thanks for your report.

[2021-12-03 18:13] michaldobrodenka commented on #7764
[code]

[2021-12-03 18:15] Sergio0694 commented on #62342
I mean of course I like this proposal, a couple of small questions though 😄

1) Couldn't the first one just be an `Unsafe.As` overload, given it has a different parameter type?

[code]

2) I'd argue the second one should be called `AsPointerRef` for consistency:

[code]

Other than that I agree this would unblock several scenarios while language support isn't there.
That said, it'd still be nice t

[2021-12-03 18:17] radical commented on #62332
@wangjunjx8868 are you building this from the command line? If so, then could you build it with `-bl`, and share the generated `msbuild.binlog`?

[2021-12-03 18:18] dmytro-gokun commented on #62329
@tarekgh

That's an absolutely correct decision. Still, I do not see why a completely separate native DLL is required here. A regular managed nuget package would do it perfectly. A 3rd party native DLL which is distributed with OS and depends on OS version - that's a definition of an overkill and overcomplication :)

That's what i've always been doing. Then i saw .NET 6 had a native "solution" and

[2021-12-03 18:19] michaldobrodenka commented on #7764
I'm not very good with gdb, does this helps you? Or give me commands to execute

[2021-12-03 18:20] FStapenhorst opened #62366 "System.Reflection.MethodInfo.CreateDelegate<T> method failing with System.ArgumentException"
### Describe the bug
I am using a custom attribute to annotate a class method which I want to dynamically create a delegate of.
In the method which uses reflection to iterate through all classes and methods, I am calling the method `System.Reflection.MethodInfo.CreateDelegate<T>` and getting the following exception:
[code]
The signature of the target method is compatible though.

### To Reproduce

[2021-12-03 18:21] wjrogers commented on #62329
I just hit this problem, too. I read the [blog post](https://devblogs.microsoft.com/dotnet/date-time-and-time-zone-enhancements-in-net-6/) announcing the new features in .NET 6, then happily removed references to TimeZoneConverter from my project because .NET supports it natively now! But when I pushed my changes, my units tests failed on GitHub Actions because IANA names do not work on Windows Se

[2021-12-03 18:22] nathanAjacobs commented on #62340
Well that's the thing, I'm creating a class library in .NET Standard 2.0 that I would like to be able to use across different frameworks (.NET 6 and Unity).

I get that it can't be added to .NET Standard 2.0 directly, but could an extension method be provided via a Nuget package though? Or am I misunderstanding how nugets work with specific framework versions?

[2021-12-03 18:23] dmytro-gokun commented on #62329
@wjrogers Exactly my scenario. And they suggested solution simply does not work for unit tests

[2021-12-03 18:25] pavelsavara commented on #62021
There is also CLOCK_MONOTONIC feature in emscripten. I don't  know much about it yet.
https://github.com/emscripten-core/emscripten/pull/2761

Should we explore this topic further @lewing ?

[2021-12-03 18:33] tarekgh commented on #62329
Reopen to try find a solution for the unit tests.

[2021-12-03 18:39] rickbrew commented on #62342
@Sergio0694 I'm fine with whatever the chosen name is :)

[2021-12-03 18:42] stephentoub opened #62345 "Consider adding RegexOptions.RightToLeft support back to compilation"
We rewrote the entirety of the code generation (RegexOptions.Compiled and the source generator) for Regex in .NET 7.  The only thing the old code generation was still being used for was supporting RegexOptions.RightToLeft, and so we decided to fall back to the interpreter for RightToLeft and delete all of that older code generation (if you specify RegexOptions.Compiled | RegexOptions.RightToLeft,

[2021-12-03 18:46] danmoseley commented on #62345
Not just the implementation work but of course the maintenance cost, which for regex is significant.

[2021-12-03 18:53] scottdorman commented on #36785
In #31257, it's hinted that the OnSerialzing methods from #39896 would be helpful in ignoring properties at run time, but I'm not seeing how this behavior would work.

Specifically, I need to exclude a collection during serialization only when it's empty.

I have a custom collection class

[code]

and the associated converter

[code]

The POCO using this collection looks like
[code]

Although this

[2021-12-03 18:57] Pycorax opened #62346 "Access violation executing location when closing an application that hosts the .NET 5.0 Runtime via CoreCLRHost"
### Description

I'm currently building a game engine in C++ that leverages C# as a scripting language for game logic. To enable this feature, I'm currently hosting the .NET 5.0 runtime using CoreCLRHost to execute C# code that is compiled as a DLL.

Currently, we are encountering an issue in certain cases where upon closing the application normally (the application's main() returns), the .NET Run

[2021-12-03 19:02] eerhardt commented on #62270
Trying it out really quick, it looks to only happen on the first call of the process. After that, even passing in the same `Icon` it works. And the only difference is the 9th index of the first Icon:

[code]

for me results in

[code]

[2021-12-03 19:03] pavelsavara commented on #61083
I guess next step it to try to run [System.Net.WebSockets.Client/tests](https://github.com/dotnet/runtime/tree/360df71eadde0d1394ee7b89693f83913f75575d/src/libraries/System.Net.WebSockets.Client/tests) on NodeJs. Now that we have CommonJS module it should be relatively easy.

Maybe `dotnet.cmd build /p:TargetOS=Browser /p:TargetArchitecture=wasm /p:Configuration=Debug /t:Test src/libraries/System.

[2021-12-03 19:03] olivier-spinelli commented on #20604
Seems that the focus here is on arguments. However there's also InvalidOperationExceptions that are also somehow "sent" to the caller of the method.
[code]
This is "State" rather than "Argument" (there is no argument at all). And one can add another "group" that turns around the InvalidDataException (that is not Argument, nor directly State but external data that must participate to the process AN

[2021-12-03 19:04] wjrogers commented on #62329
I looked into the suggested work-around of referencing Microsoft.ICU.ICU4C.Runtime. The native ICU library is ~30 MB per runtime, for each of five supported arches. I honestly don't feel that referencing it is practical given its size. Is there any alternative for compatibility with Windows Server 2019? For example, is there a way to install Microsoft's system-wide ICU library?

[2021-12-03 19:05] lambdageek commented on #62337
@jherby2k Hi, do you have a full example that we could try?

I tried the following (.net 6.0 on x64 Big Sur 11.6.1) in a `dotnet new console` template:

[code]

Than ran with ```DYLD_PRINT_LIBRARIES=1 dotnet run```

The output is:

[code]

So as far as the dynamic linker is concerned, we loaded the library.

(I also checked that it works with .NET 6 Mono, by adding `<SelfContained>true</SelfContai

[2021-12-03 19:08] #62167 closed

[2021-12-03 19:09] AndyAyersMS commented on #33658
Right, I'm currently bringing up OSR for Arm64 via cross altjit and would like to get as much mileage as possible out of this mode.

But I'm reluctant to plumb knowledge of the altjit deeper into the runtime so currently not sure how the altjit produced patchpoint info can be stored and retrieved.

Also there would be challenges describing the layout of the cross altjit patchpoint blob for the nat

[2021-12-03 19:17] scottdorman commented on #55781
I'm in need of a similar solution to what @nathan-alden-sr mentioned. As there seem to be multiple issues relating to this scenario, there is a definite need for the functionality built-in to STJ. It's not currently possible with converters (or anything else that I can find) today. I commented on a related issue https://github.com/dotnet/runtime/issues/36785#issuecomment-985751660 that has more sp

[2021-12-03 19:20] kouvel commented on #62140
It should be using file locks for both, I believe OSX doesn't have pthread robust mutexes

[2021-12-03 19:24] lambdageek commented on #62334
We backported the original fix to https://github.com/mono/mono/pull/21356 - will need to update there too

[2021-12-03 19:25] lambdageek commented on #62334
/cc @vargaz

[2021-12-03 19:35] am11 commented on #57784
binary built against `liblttng-ust.so.0` can not work against `.so.1` without running into validation errors; per the release notes of ABI breaking change.

[2021-12-03 19:37] #61721 closed

[2021-12-03 19:39] lambdageek commented on #62334
frame 10 is `get_method_from_stack_frame`

https://github.com/dotnet/runtime/blob/5789792167571c4121ef1d397e4678ba360c77b3/src/mono/mono/mini/mini-exceptions.c#L895-L899

which calls `mono_get_generic_context_from_stack_frame`
that has new code
 https://github.com/dotnet/runtime/blob/5789792167571c4121ef1d397e4678ba360c77b3/src/mono/mono/mini/mini-exceptions.c#L847-L849

which is setting `method_i

[2021-12-03 19:43] #62303 closed

[2021-12-03 19:45] tmds commented on #57784
Yes, but it doesn't get used.

Because `libcoreclrtraceptprovider.so` is linked against `liblttng-ust.so.0`, and that is not available, the library silently fails to load here:

https://github.com/dotnet/runtime/blob/b0159122f3570decd8ced6228681a210e2711de6/src/coreclr/pal/src/misc/tracepointprovider.cpp#L120-L122

[2021-12-03 19:52] AndyAyersMS commented on #33658
(7) Initial notes on Arm64 support

Assuming we don't want to constrain the Tier0 frame shape, the biggest challenge is likely to get the OSR method epilog correct -- this requires knowledge of the Tier0 frame shape or possibly related data. Not clear yet what all we will need.

Recall in OSR that the OSR frame sits on top of the Tier0 frame. All callee saves done by Tier0 are "undone" by the tran

[2021-12-03 19:56] mphilipp622 opened #62354 "System.Text.Json source generator does not ignore delegate properties"
### Description

When using the dotnet 6 System.Text.Json source generator on a class or record that contains a delegate type (Func, Action), a CS0149 Method Name Expected error is thrown from the generated g.cs file. This happens even if using the [JsonIgnore] property.

### Reproduction Steps

Create a dotnet 6 project and create a new class/record with the source generator. The following code w

[2021-12-03 20:02] am11 commented on #57784
Yes, in addition to updating PAL (adding version probing at run-time), I think we would also need two versions of `libcoreclrtraceptprovider` .so.0 and .so.0 to cover the supported matrix. The version selection part is yet to be implemented. It is the same situation as we once had with openssl, where we used to require 1.0 until later version support came along.

lttng is a bit tricky as we use th

[2021-12-03 20:05] bitbonk opened #62356 "Question: How is the API diff made?"
With every new release of .NET there is now this very helpful [API diff folder](https://github.com/dotnet/core/tree/main/release-notes/6.0/api-diff). This is something that should be adopted by many .NET libraries in the community.

Where can we as library authors learn how you generate these diff folders, so we can do the same thing for our NuGet packages.

[2021-12-03 20:20] janvorli commented on #61486
I was thinking about it more and I have come to a conclusion that we should rather fix this in the JIT and let it generate null check instruction before tail calling the VSD. The reason is diagnosability of such exceptions. If I made it work only by runtime changes, then the real location of the NullReferenceException would be lost, as when the VSD stub is entered via tail call and we try to acces

[2021-12-03 20:26] nitz commented on #7764
@michaldobrodenka Try turning on core dump generation and running normally. Then when it crashes, load up the dump with `gdb dotnet <core file>`.

@directhex I could mail you a Pi Zero or something!

[2021-12-03 20:27] kg opened #62357 "[wasm] browser-bench appstart is broken on main"
![image](https://user-images.githubusercontent.com/198130/144668410-3760b009-d05f-4d99-893f-2503ea453d84.png)
Seems like the startup changes probably broke it somehow. Ran into this while trying to use it to test something. cc @pavelsavara
I tried to figure out why it seems to be retrying the config load operation constantly and from reading the code it shouldn't be happening, but it is. Not sure

[2021-12-03 20:40] BryanCrotaz commented on #7764
I have 30 boards from the first batch of 10,000. Let me know where to send one.

[2021-12-03 20:41] directhex commented on #7764
A co-worker in the same state as me is putting some in the mail

[2021-12-03 21:11] martincostello commented on #62329
The proposed solution does also work for unit tests. You just have to add the same properties/package to the test projects too.

[2021-12-03 21:16] lewing commented on #62146
Since this is rider the logic we use to skip this check outside of the browser probably doesn't recognize the frontend.

[2021-12-03 21:46] radical opened #62362 "[wasm] Linux/AOT tests(9) broken"
The fix(https://github.com/dotnet/runtime/pull/62339) for AOT on windows seems to have broken tests on linux. The PR ran only `System.Runtime.Tests` by default, so these slipped through.

Found on https://github.com/dotnet/runtime/pull/62352

[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1496024&view=logs&j=f217f715-90ad-5404-53bd-b93e3b80f465&t=9df76bd4-3041-5537-002b-9e29a53

[2021-12-03 21:47] lewing commented on #62362
cc @vargaz @imhameed @lambdageek

[2021-12-03 21:53] AndyAyersMS commented on #33658
For now, I am going to do the following:
* record frame type in the patchpoint info. This field will be there for all archs, but will only be set by arm64 jits
* if frame type was set, use that to guide arm64 OSR method epilog generation
* if frame type was not set, assert that we are an altjit. Introduce a new config option to specify which Tier0 frame type to assume, and use that to guide the al

[2021-12-03 22:00] radical opened #62363 "[wasm] Windows/AOT failing tests"
The windows/aot tests are being enabled in https://github.com/dotnet/runtime/pull/62352 after the latest fix (https://github.com/dotnet/runtime/pull/62339). And some tests are failing.

The PR ran only `System.Runtime.Tests` by default, so these slipped through.

[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1496024&view=logs&j=c24b3bf0-34d4-58dc-62fd-621ef62beaf8&t=57689805-9

[2021-12-03 22:05] tarekgh commented on #62329
@wjrogers

if you are publishing your app for specific architecture, only ICU bits match this runtime architecture will be copied to the bin folder. I am not sure why this is not acceptable.

@martincostello thanks for your response. @dmytro-gokun did you try what @martincostello mentioned and didn't work for you?

[2021-12-03 22:09] pavelsavara commented on #62357
It's that fetch in the iframe could not download the config file.

[2021-12-03 22:09] #61902 closed

[2021-12-03 22:11] ryank425 commented on #62340
@nathanAjacobs

https://unity3d.com/unity/beta/2021.2.0b6

Unity supports .NET Standard 2.1, so I don't think you would have to be stuck with .NET Standard 2.0 as all of .NET Framework supported under .NET Standard 2.0 (up to 4.6.1) will be discontinued soon.

https://docs.microsoft.com/en-us/lifecycle/faq/dotnet-framework

@danmoseley  I think https://docs.microsoft.com/en-us/lifecycle/faq/dotnet

[2021-12-03 22:15] danmoseley commented on #62356
I believe we use an tool called apireviewer/asmdiff that is internal. @safern do you know of a way to do it with public tools?

[2021-12-03 22:15] pedrobsaila commented on #62212
Hi I made a PR #62364 for this issue

[2021-12-03 22:20] kg commented on #62054
If you can't share an app, can you describe what the app does? Are there timers running, does it keep sockets open? Does it issue network requests?
When you say sleep/wake cycles do you mean you're sleeping and waking your PC?

[2021-12-03 22:27] michaldobrodenka commented on #7764
My SD (or raspberry pi) died after 7 years. Tomorrow I can try to find a new SD card.

[2021-12-03 22:48] eerhardt commented on #62270
OK, I did some investigating. It turns out this was caused by converting to COMWrappers. But not in the way you'd think, there isn't a mistake in the code. Instead, as far as I can tell, this worked before completely by chance.

### Background

As I stated above, the only difference between the two `byte[]`s is byte index 9. I'm not 100% sure where the definitive documentation for the ICO file for

[2021-12-03 22:48] echesakovMSFT commented on #62249
This is a simplified code that still reproduces the issue

[code]

[2021-12-03 22:49] safern commented on #62356
We have made the tool public a few months ago: https://github.com/dotnet/arcade/tree/main/src/Microsoft.DotNet.AsmDiff

You can build that or download this package: https://dnceng.visualstudio.com/public/_packaging?_a=package&feed=dotnet-eng&package=Microsoft.DotNet.AsmDiff&protocolType=NuGet&version=7.0.0-beta.21603.1 and just run it.

You can see the command line args here: https://github.com/do

[2021-12-03 22:53] danmoseley commented on #62356
Ah great.

@bitbonk your feedback on whether this will fill the need is welcome.

[2021-12-03 22:57] agocke commented on #55405
Ah, I missed that this also failed for 5.0. Given that 5.0 only has 5 more months of support, I don't think it's necessarily worth backporting to 5.0 unless it's actively blocking a customer app

[2021-12-03 23:11] BrennanConroy opened #62370 "[API Proposal]: RateLimiter should implement IDisposable and IAsyncDisposable"
### Background and motivation

https://github.com/dotnet/runtime/pull/61788 added the Rate Limiting work from https://github.com/dotnet/runtime/issues/52079 and while working on it we realized it made sense for rate limiters to be disposable. It started with the TokenBucket implementation which has a timer instance which should be disposed of. But it also made sense for the other rate limiters to

[2021-12-03 23:18] danmoseley commented on #62340
@gewarren how can @ryank425 edit  https://docs.microsoft.com/en-us/lifecycle/faq/dotnet-framework  ? seems the edit button is broken.

[2021-12-03 23:20] BruceForstall commented on #32730
I'm going to close this to prevent piling on of different/unrelated failures. Please open a NEW issue for any new superpmicollect test failures.

[2021-12-03 23:20] #32730 closed

[2021-12-03 23:21] agocke commented on #62362
In order to run the full mono tests you need to run `/azp run runtime-manual`

[2021-12-03 23:22] BruceForstall commented on #53321
I'm going to close this.

[2021-12-03 23:22] #53321 closed

[2021-12-03 23:27] agocke opened #62372 "DllImportGenerator is failing in Mono llvmfullAOT"
https://dev.azure.com/dnceng/public/_build/results?buildId=1496054

[code]

[2021-12-03 23:44] wjrogers commented on #62329
The ~30 MB for one target runtime is still about a 30% increase in the size of my published application. I know storage is abundant and cheap, but I still think this matters when CI builds generate artifacts on every push. It's hard to justify compared to the 25 KB third-party alternative.

Thanks for your guidance. I'm just a bit disappointed that a new .NET feature announced with the phrase ["th

[2021-12-03 23:48] gewarren commented on #62340
I have a PR to fix it. The 404 is because you're not joined to the MicrosoftDocs organization.

[2021-12-03 23:51] agocke commented on #62273
@VSadov Could you take a look?

[2021-12-03 23:51] tarekgh commented on #62329
@wjrogers thanks for the feedback. I appreciate it.

Note that you'll need to add ICU only for Server 2019 deployment, but I understand this is not the best experience. Therefore, I am keeping this issue open to find out if we can make this experience better. Note, everything will work fine in Server 2022 :-) so, the issue would be localized only to Server 2019. (Server 2016 will be out of service

[2021-12-03 23:52] vsfeedback opened #62374 "System.Text.Json source generation and records from another assembly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/SystemTextJson-source-generation-and-r/1602334)._

---
Hi,

I'm trying to switch from Newtonsoft to System.Text.Json with source generation.
I'm experiencing an issue with serialization of records in another assembly.
I created a simple project, I have a library with a single file contai

[2021-12-03 23:56] radical commented on #62304
Another instance of this: [Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1496183&view=logs&jobId=108d2c4a-8a62-5a58-8dad-8e1042acc93c&j=108d2c4a-8a62-5a58-8dad-8e1042acc93c&t=568f884b-cc12-5fd3-e7fe-790b5ac403f4), and [log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-61581-merge-422b2d4f8d4a42efb2/System.ComponentModel.TypeConverter.Tests/1/c

[2021-12-04 00:00] #61221 closed

[2021-12-04 00:04] safern commented on #62356
Something to consider is that the current AsmDiff is using CCI still and it lacks a lot of language features, i.e APIs that return or take a function pointer. However, with the new API Compat object model built on top of Roslyn, I think it would be simple to write a differ using Roslyn on top of that object model.

[2021-12-04 00:12] ali1234 commented on #7764
I tried creating a core dump and then loading it in GDB. The result is almost identical.

[2021-12-04 00:12] mateo-fi commented on #42914
@djjz - No worries. For me personally, I'm a member of ~75 groups. It's about 2x as slow using the "GetGroups(principalContext)" overload. Running locally, it's ~2.5 secs for GetGroups() vs ~5 secs for GetGroups(principalContext). The server is faster though, but the performance hit is proportional. I cache on my side, so this performance hit is minimized.
One user noted this about the "GetGroups(

[2021-12-04 00:26] VSadov commented on #62273
Since this is specific to a particular environment, it could be hard to reproduce. I wonder what additional diagnostics we can get from the user.

Perhaps a core dump could be helpful, if available?

[2021-12-04 00:30] nitz commented on #7764
I'm seeing the same. @directhex -- could we get an unstripped `dotnet`?

[2021-12-04 00:58] JustArchi commented on #62273
I'll try to work with the user to provide core dump if possible, albeit one wasn't generated on the signal alone it seems, thanks for a tip.

[2021-12-04 01:58] jkotas commented on #61486
Sounds good to me.

[2021-12-04 02:01] jkotas commented on #61486
@jakobbotsch Could you please take a look? It is in the area you have been working on.

[2021-12-04 02:36] AndyAyersMS commented on #62266
@EgorBo have you tried running all these tests with PGO? Curious to see what the difference is between the default enumeration and the accelerated enumeration is with PGO in play.

There is still a bunch of work ahead to fully de-abstract the simple case where PGO sees that one collection type predominates. I should sketch out what we eventually need to do. It is not necessarily heroics as each of

[2021-12-04 02:41] radical commented on #61756
hitting this on windows too, on https://github.com/dotnet/runtime/pull/62352 : [Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1496456&view=logs&j=c24b3bf0-34d4-58dc-62fd-621ef62beaf8&t=57689805-9064-5d56-984a-6ae89a8efb73), and [log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-62352-merge-bb16abe896c843bb80/System.Text.RegularExpressions.Test

[2021-12-04 02:44] sandreenko commented on #53321
it is probably still disabled by https://github.com/dotnet/runtime/pull/53661

[2021-12-04 02:48] BruceForstall commented on #53321
Your comment https://github.com/dotnet/runtime/pull/53661#issuecomment-854223845 made me think we weren't going to do anything about it.

Certainly, if we "scrub" the test exclusion list and see this exclusion, we can again decide to do something.

Basically, I want to close all the "Test failure in... superpmicollect" issues because I think new and different failures are not getting opened as a r

[2021-12-04 02:55] sandreenko commented on #53321
I see, maybe it would be useful to:
1. check that it is still failing;
2. if it does then replace the comment with this issue number with a description of when the issue should be checked again, so there is no exclusion that mentions a closed issue, it is always confusing.

[2021-12-04 03:41] lukeb1961 commented on #14537
Tomas I know the ping stuff needs fixing for FreeBSD and I think it was you fixed it for OSX?

[2021-12-04 03:47] rickbrew commented on #62342
cc @DaZombieKiller who was also part of the discussion in Discord

[2021-12-04 04:56] vsfeedback opened #62383 "Win Svr 2022 exception System.Diagnostics.Eventing.Reader.EventLogRecord"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Win-Svr-2022-exception-SystemDiagnostic/1600819)._

---
[severity:I'm unable to use this version]
We are seeing the following error (pasted below) when attempting to call this API to read the Windows Event Log.  I've searched and found the following link that explains the error, but the

[2021-12-04 04:58] tommcdon commented on #62383
dupe to 60740

[2021-12-04 04:58] #62383 closed

[2021-12-04 05:18] radical opened #62384 "3 `System.Net.Sockets.Tests`failing on `Libraries Test Run release coreclr windows x64 Debug`"
[Build](https://github.com/dotnet/runtime/pull/62352/checks?check_run_id=4415638797), and [log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-62352-merge-31c5fde233d64008ba/System.Net.Sockets.Tests/3/console.c7290c49.log?sv=2019-07-07&se=2021-12-24T04%3A00%3A02Z&sr=c&sp=rl&sig=c1hYPNrN0KC4s3kWsQBjjxxgHbH%2B%2FuQXaOnu%2FrUfI%2Fo%3D)

[code]

[2021-12-04 06:03] snltty opened #62386 "SocketAsyncEventArgs System.StackOverflowException"
### SocketAsyncEventArgs IOCP Receive Data System.StackOverflowException

[socketDemo.zip](https://github.com/dotnet/runtime/files/7653458/socketDemo.zip)

[code]

[code]

[code]

### begin end mode, NET5 is work, NET6 Stack Overflow
[code]

[2021-12-04 06:05] lilmarsgirl opened #62387 "Segmentation Fault"
Hi there,

I play Stardew Valley with SMAPI and mods. Recently my game has been crashing and I get this line in my log:

`/Users/lydia/Library/Application Support/Steam/steamapps/common/Stardew Valley/Contents/MacOS/StardewValley: line 133: 52229 Segmentation fault: 11  dotnet StardewModdingAPI.dll "$@"`

How do I fix this?

[2021-12-04 06:06] jakobbotsch commented on #61486
I'm OOF next week, but I will take a look once I am back. Removed the regression badge since the reduced example does seem to repro on .NET 5 as well.

[2021-12-04 06:07] snltty commented on #62386
[socketDemo.zip](https://github.com/dotnet/runtime/files/7653454/socketDemo.zip)

[2021-12-04 06:09] dotnet-eng-status[bot] opened #62388 "Build failed: Validate-DotNet/main real signed, runtime, .NET 6 MAUI, validation-runtime-.NET 6 MAUI #runtime-119866-.NET6MAUI"
Build [#runtime-119866-.NET6MAUI](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1496316) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Sat, 04 Dec 2021 06:09:05 GMT
**Duration** - 424 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Source Code Validation
- :x: - [

[2021-12-04 06:20] radekdoulik commented on #62357
Yes, it is the iframe repeated loading as we try to measure the stratup time. I will look at it.

[2021-12-04 06:48] #60862 closed

[2021-12-04 06:59] chwarr commented on #62216
You've read it much more closely than I. :-)

I just wanted to point out 1) that the doc exists and 2) what the default values for the gRPC Core HTTP2 server are if these helped explain why the gRPC CI tests were hanging up of the gRPC.NET client.

[2021-12-04 07:10] JamesNK commented on #62216
No need to decipher docs. The server is publicly available to test against.

[2021-12-04 07:42] radekdoulik commented on #62357
The sample should work meanwhile, at least it does for me in the chrome.

The errors come from fetches of `mono-config.json` from iframes, where dotnet-serve response is 304. We are looking at it with @pavelsavara.

[2021-12-04 08:10] jogibear9988 opened #62391 "Question about Assembly loading & Resolving"
Hello,

I've a question about best practice to do some Assembly Loading.

I've a complex software wich uses many different Assemblies. I want be able to replace some of the DLLs at runtime, but I don't want to use a own Assembly load Context. I thought I could hijack Assembly loading via AppDomain.Resolve, but it is only called when the Assemblies are not directly found.
Is there a Callback wich i

[2021-12-04 08:13] k15tfu commented on #62140
Okay I checked, the error is coming from here
https://github.com/dotnet/runtime/blob/4822e3c3aa77eb82b2fb33c9321f923cf11ddde6/src/coreclr/pal/src/sharedmemory/sharedmemory.cpp#L705-L708

[2021-12-04 08:17] kouvel commented on #62140
Yea that would most likely be because the page size is different between x64 and amd64

[2021-12-04 09:24] kg commented on #61451
In the long run it could make sense to have a special command that just specifically kills any msbuild compiler server processes that have cached info for a given repository. We could do that once at the start of every build for runtime so that this problem is automatically avoided (we'll only have to start a few workers, right?), or perhaps only do it if the repo SHA has changed.

[2021-12-04 09:36] teo-tsirpanis commented on #62391
Hello, I persume you avoid using `AssemblyLoadContext`s because you want your project to work in both modern .NET and .NET Framework?

Unfortunately there is no such solution that works in both frameworks. If you want to control first-chance assembly loading on modern .NET, you have to create an `AssemblyLoadContext` and override its `Load` method, (as far as I know at least) there is no other way

[2021-12-04 11:01] svick commented on #62386
`ProcessReceive` calls itself recursively when `ReceiveAsync` returns `true`, which explains why you're getting a `StackOverflowException`. I think you should turn the recursion into a loop.

[2021-12-04 11:03] alanmcgovern commented on #61417
@vcsjones  I have a repro case for a similar, if not identical, issue:

This breaks:

[code]
If you want things to break in .NET6 just leave the 4th line commented. If you want it to *not* break, uncomment line 4.

If you re-initialize a hasher after calling TransformBlock and before calling TransformFinalBlock, you corrupt the hasher and it fails.

[2021-12-04 11:03] kranurag7 commented on #41516
/assign

[2021-12-04 11:36] snltty commented on #62386
<=3*1024  small data is work，>=4*1024 is Stack Overflow

[2021-12-04 11:45] alanmcgovern commented on #61417
I took a few minutes and reduced it a bit further:
[code]

[2021-12-04 12:05] vijayarasan commented on #61997
Hi @RussKie,

Thanks for the update.

Here, just I have mentioned space for replicating the issue. Rectangle Height will be calculated based on the text and TextWrapping enable in my scenario. In this case, also we are facing the same issue. Can you please share any ideas to resolve this issue?

 Regards,
 Vijayarasan S

[2021-12-04 12:27] KalleOlaviNiemitalo commented on #62366
You have an instance method

    class WeatherForecast
    {
        string Test1(string text);
    }

and a delegate type

    delegate string TestDelegate(string text);

and try to create a delegate:

    methodInfo.CreateDelegate<TestDelegate>()

This throws by design, because the delegate would have no way to provide the target instance that the instance method needs.

Possible solutions:

1.

[2021-12-04 12:34] KalleOlaviNiemitalo commented on #62366
It might be worth adding a link from the MethodInfo.CreateDelegate doc page to <https://docs.microsoft.com/dotnet/api/system.delegate#remarks>, which describes the compatible combinations of method signatures and delegate types.

[2021-12-04 12:45] FStapenhorst commented on #62366
Thank you very much! You made my day :)

[2021-12-04 13:59] nathanAjacobs commented on #62340
@ryank425 Unity is supporting .NET Standard 2.1 starting with version 2021.2. Which means any version before that going back to 2018.1 is limited to .NET Standard 2.0.

It just seems strange to me that I can use System.IO.Pipelines in .NET Standard 2.0 via nuget, but I can't decode the ReadOnlySpan<byte> objects back into a string easily.

[2021-12-04 14:17] lambdageek commented on #62362
That's the intention, but at the moment it doesn't run everything.  In particular, it doesn't run the runtime (src/tests) tests

[2021-12-04 15:48] vcsjones commented on #61417
Thanks for the test case, I can reproduce it now. I will look at this now.

[2021-12-04 16:14] tmds opened #62398 ".NET built against LTTng 2.13 crashes while initializing LTTng"
From https://github.com/dotnet/runtime/issues/57784#issuecomment-985409356.

.NET built on Fedora Rawhide (36) segfaults on application start while initializing LTTng.

[code]

The crash happens at this line: https://github.com/lttng/lttng-ust/blob/4c155a06d838e1ab5d385abd1d73ae56e71b7d5e/src/lib/lttng-ust/lttng-probes.c#L153.

The field is null.
[code]
These fields get initialized dynamically.
[c

[2021-12-04 16:15] tmds commented on #57784
This issue is about adding support for both versions.
I've created a separate issue for the crash we see on Fedora 36: https://github.com/dotnet/runtime/issues/62398.

[2021-12-04 16:17] vcsjones commented on #61417
I have a PR open to address the issue uncovered by @alanmcgovern's test case.

This won't fix @jaylagorio's reported instance - sharing an instance between threads will still lead to the same issue of the CNG object getting in to an incorrect state.

This particular issue is new .NET 6 because prior to .NET 6, the `Initialize` was a no-op. See https://github.com/dotnet/runtime/issues/51172 for add

[2021-12-04 16:28] mayuki commented on #62340
Because S.I.Pipelines uses Span in System.Memory, it additionally requires System.Memory.dll to be used in Unity. .NET Standard 2.0 does not include Span.

Even if the API is added, it cannot be used until Unity implements it, so it is effectively the same as .NET Standard 2.1.

If you need Encoding.GetString(ROS<byte>), you can implement/use it as an internal extension method and it will work.

[2021-12-04 17:45] GlitchMasta47 commented on #62387
This is extremely unlikely to be relevant to the .NET runtime and more likely to be relevant for a specific mod you've installed. If you've made changes or additions to mods recently, try undoing those changes and seeing if the error is resolved. If not, go to communities relevant for Stardew Valley modding and ask there with a list of mods and what you've tried.

[2021-12-04 17:46] vcsjones commented on #61417
I just noticed on @theolivenbaum's stack `System.AggregateException`.

This to me implies that the hash object is being used concurrently from different `Task`s.

[2021-12-04 17:47] medo64 opened #62401 "[API Proposal]: DrawRectangle should accept RectangleF as one of the overloads"
### Background and motivation

In Graphics class, FillRectangle contains the following 4 overloads:
* `public void FillRectangle(Brush brush, RectangleF rect)`
* `public void FillRectangle(Brush brush, float x, float y, float width, float height)`
* `public void FillRectangle(Brush brush, Rectangle rect)`
* `public void FillRectangle(Brush brush, int x, int y, int width, int height)`

However, Dra

[2021-12-04 19:05] JPaja commented on #62111
I would like to add up few cases where guards can be removed

[code]
In this first case there already exist optimization like this but only if array index is constant, where here its dependent on i but if we know we passed i + const, that means we should allow i + smaller const.

Second example i would like to add is
[code]
same as above we know that unknown `i + 4` is allowed that means `i`+ any

[2021-12-04 19:51] mrange commented on #62103
This might be obvious to everyone but FYI I tested in x64 and x86 and the issue reproduced in x64 but not in x86. That could be a potential workaround if you are hit by this issue then.

[2021-12-04 20:13] geeknoid commented on #62266
Thanks to some help from @EgorBo , I updated my benchmark. The JIT was doing some things that gave an unfair advantage to the non-accelerated code. I cancelled those out now and it ends up making the accelerated enumeration technique look even more compelling overall.

If the JIT can achieve this, and perhaps more, it'll be great. In the meantime, we're definitely going to leverage my hack on our

[2021-12-04 20:18] agocke commented on #62372
@jkoritzinsky Looks like this was somehow caused by https://github.com/dotnet/runtime/commit/84b55d9700da70e3e68456929a4b49295772d87b

[2021-12-04 20:48] jkoritzinsky commented on #62372
We're probably constructing Core_Root in some way that either overrides OutputPath or OutputItemType for ProjectReferences

[2021-12-04 20:55] JustArchi opened #62402 "Regression: Aborted (core dumped) when running .NET 6.0 app in Docker on linux-arm host"
### Description

Hello,

One of the users of my app reported that after upgrade from .NET 5.0 to .NET 6.0, the application no longer works in Docker container. I worked with the user to provide as much info as possible.

Upon investigation, the process crashes with `Aborted (core dumped)` when ran with `dotnet app.dll`.

### Reproduction Steps

It's very hard for me to give reproduction steps as I

[2021-12-04 21:04] rickbrew commented on #62342
For the time being (or longer), I've published a NuGet package that enables this sort of thing, https://github.com/rickbrew/PointerToolkit/ . I use [InlineIL.Fody](https://github.com/ltrzesniewski/InlineIL.Fody) to generate the methods.