[2020-06-27 06:38] Ravenheart commented on #38434
.NET 5 preview works, but our application is targeting .NET Framework 4.7.2. Should I file the bug somewhere else?

[2020-06-27 07:26] paul1956 commented on #34060
I am seeing this with VS 2019 Version 16.7.0 Preview 3.1 and the latest DotNet SDK Preview 6
[code]
Followed by the lines below for every test and class library VB and C#
[code]
The target framework for every project is the same as below
[code]

[2020-06-27 12:51] romanryasne2 commented on #38472
@swaroop-sridhar I use Windows 10, .Net Core 3.1. App is exctracted into system-temp directory (C:\Windows\temp\.net).

[2020-06-27 13:39] iSazonov commented on #18599
I create simple application and can not reproduce the issue.
Perhaps the issue came from how type converters was packaged to assemblies.
I think the issue can be closed.
Although maybe there are more tests needed, but that's another story.
/cc @ericstj

[2020-06-27 13:55] #38132 closed

[2020-06-27 13:57] #10048 closed

[2020-06-27 13:57] benaadams commented on #7791
This has been fixed

[2020-06-27 13:57] #7791 closed

[2020-06-27 14:41] RussKie opened #38487 "`System.IO.FileInfo` doesn't throw for invalid paths"
### Description

I'm porting https://github.com/gitextensions/gitextensions/pull/7162 from .NET Framework 4.6.1 to .NET Core 3.1 and observing a number of tests fail. In particular [tests for functionality that checks validity of user supplied paths](https://github.com/gitextensions/gitextensions/blob/0b00208914c1e126de69fdbf162bc2252113b344/UnitTests/GitCommands.Tests/EnvironmentPathsProviderTest

[2020-06-27 14:48] RussKie commented on #38487
Looks like the same applies to `DirectoryInfo` class too, no more exceptions for invalid paths.

[2020-06-27 15:03] #36614 closed

[2020-06-27 15:17] logic01 commented on #30255
Not to oversimplify a complex set of questions @Jozkee , but how does Newtonsoft do it?

Newtonsoft has been the industry standard for a long time and they have answered these questions. If Microsoft want's to replace them as the industry standard then MS should provide an implementation that is as user friendly as Newtonsoft otherwise why switch?

If I switch now I have to make sure that every de

[2020-06-27 15:41] lambdageek commented on #38209
Another implementation note: if the function is actually already a native function we should get a pointer to it without a wrapper.

[code]

In this case `ldftn foo` should still be a pointer to `foo`, not to a managed-to-native wrapper.

[2020-06-27 15:58] eiriktsarpalis commented on #33443
There's also `SingleOrDefault()`, which returns `default` on empty enumerables. It seems very compatible with what `FirstOrElse` is trying to achieve.

I wouldn't necessarily agree, it's very often the case that you need to find the max of a potentially empty collection. Exception handling is a poor way of working around this. You're right to point out that these methods don't suffer from the defa

[2020-06-27 16:10] Youssef1313 commented on #38487
@RussKie The resource for that exception message was removed in https://github.com/dotnet/corefx/pull/23851/files, but can't find when this resource became unused.

In .NET Framework, the ctor was making a call to [Init](https://github.com/microsoft/referencesource/blob/3b1eaf5203992df69de44c783a3eda37d3d4cd10/mscorlib/system/io/fileinfo.cs#L102) which calls `GetFullPathInternal`, which then [call

[2020-06-27 16:21] Youssef1313 commented on #38487
I'm wondering if even the behavior you get on .NET Framework is correct? Shouldn't it be NotSupportedException based on docs?

[2020-06-27 16:27] IllidanS4 opened #38488 "An arbitrary array/span of references"
## Background and Motivation

In scenarios like reflection or interaction with other languages or platforms, there is not a generically usable and performant way to handle variable number of arbitrary arguments. C# provides syntax like `params object[]` or `params T[]` (and might support `params Span<T>` in the future), but that works best in cases where the parameters are homogenous. `ref` parame

[2020-06-27 17:36] #37414 closed

[2020-06-27 17:44] SingleAccretion commented on #38488
Is the core issue related to the language here? I do have to say, the concentration of unsafe code and undocumented keywords in the usage example is higher than most people are perhaps used to, even considering the advanced nature of the API.

[2020-06-27 18:09] GrabYourPitchforks commented on #38488
Repathing this to the GC, because I'm pretty sure it would require a significant GC overhaul to support arrays / spans of ref structs. @Maoni0 would be able to provide a better analysis.

[2020-06-27 18:16] IllidanS4 commented on #38488
@SingleAccretion
Realistically, the language team would have to do the majority of the work to make this type widely usable and applicable, but the same could be said for `Span<T>`. I thought this would be good starting place, as this is a feature every .NET language could make eventually find use of.

Similarly to `Span<T>`, existing APIs could be extended to support `ByRefSpan`, like `DynamicInv

[2020-06-27 19:31] VSadov opened #38489 "Consider ways to build singlefilehost as a part of coreclr partition build"
Building singlefilehost as a part of installer requires 300-400 corclr_static library, which results in extra 80Mb transferred to the consuming partition as a part of artifacts zip file.

(for details see: https://github.com/dotnet/runtime/pull/36847#issuecomment-650587322)

There could be ways to build singlefilehost as a part of coreclr, which would make the lib unnecessary. It could be either a

[2020-06-27 19:39] SingleAccretion commented on #38488
Oh, well, you probably already know this, but this makes it extremely unlikely for this to even be considered. The bar for language features is very high, and this one:
  - Requires runtime support (or at least it seems like it does, correct me here if I am wrong).
  - Requires language support.
  - Has limited use cases.

Also of note here is that as a platform .NET is kind of moving away from la

[2020-06-27 20:04] rubo commented on #779
Currently, with `WhenWritingDefault`, it doesn't serialize, for instance, `int` type with the default value. There's should be an option to skip nullable types but still serialize non-nullable types. I don't need to receive anything in JSON that is `null` but I do want to receive fields with values of `0`. In JavaScript apps, having something `undefined` or `0` makes a big difference. In a nutshel

[2020-06-27 20:43] Wraith2 commented on #38427
It traces into https://github.com/dotnet/runtime/blob/f5b471f0f76d386b74b170947d2ed6bb9263ca7c/src/coreclr/src/vm/debugdebugger.cpp#L177 and I assume that on windows various debuggers are registered and the watson/os takes the signal and allows the user to choose the deugger, it's certainly not hardcoded to VS.

[2020-06-27 21:06] loic-sharma opened #38491 "services.ConfigureOptions<T> does not register validations"
### Description

The [`OptionsServiceCollectionExtensions.ConfigureOptions`](https://github.com/dotnet/runtime/blob/0ab928b27bb838a27d7712e0f87312a85615cbe5/src/libraries/Microsoft.Extensions.Options/src/OptionsServiceCollectionExtensions.cs#L170) method is used to automatically register `I[Post]ConfigureOptions`. It would be convenient if it also registered `IValidateOptions`.

For example, say I

[2020-06-27 21:10] loic-sharma commented on #38491
/cc @HaoK who added options validations in https://github.com/aspnet/Options/pull/266.

[2020-06-27 21:12] #11750 closed

[2020-06-27 21:14] davmason opened #38492 "Add documentation on EventPipe APIs for profiler"
#37002 added the ability for profilers to start an EventPipe session and listen for events.

We need to add scenario level documentation on how to use it.

[2020-06-27 21:14] IllidanS4 commented on #38488
That is unfortunate to hear. The reflection API is basically stuck in .NET 1 in its capabilities, everything being either `object`, `object[]` or `Type[]`. More generics, more references, things like #23716 etc. are necessary if you want to do anything serious.

[2020-06-27 21:34] martincostello opened #38494 "What is the correct way to use Dictionary with FormUrlEncodedContent in .NET 5 without compiler warnings?"
As part of updating some OAuth provider libraries to target .NET 5 using preview 6 (see https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/438), I've come across an issue with new nullable annotations I'm not sure of how to resolve correctly.

The `FormUrlEncodedContent` type has been updated to add nullable annotations (see #33268) and now the constructor takes an `IEnumerable

[2020-06-27 21:47] jkotas commented on #38462
And is `DOTNET_ROOT` set for the parent process?

We are doing anything with `DOTNET_ROOT`. If you set it in your environment, we will leave it set.

[2020-06-27 23:07] tmat commented on #38462
It is not set.

[2020-06-27 23:27] jkotas commented on #38488
As long as these "Span<TypedReference>"s live on stack, it does not require any special GC support.

Correct, this would need language support to be a safe, widely usable construct. It does not require any special language support if this was an low-level building block that requires you to know the rules to use it safely.

CoreRT has a internal building block like that: `https://github.com/dotnet

[2020-06-27 23:41] richlander commented on #38462
I talked to @tmat yesterday about this and encouraged him to create this issue to allow for a broader conversation.

I think of this as the general problem where people use the product with non-standard install locations (private installs are the best example). Perhaps, all we need to do is write better docs to get people to set `DOTNET_ROOT`. I do this frequently on Linux and ARM machines. That's

[2020-06-28 00:19] HaoK commented on #38491
Yeah for sure, that seems like a great idea to me, my team doesn't own this feature area anymore, but your proposed fix is definitely what the behavior should be

[2020-06-28 00:22] HaoK commented on #38491
The only small issue I have is naming of the method is a ConfigureOptions, but since this one is doing reflection magic and currently takes care of IPostConfigure anyways, it still seems reasonable to have it also do IValidateOptions

[2020-06-28 00:24] wfurt commented on #38464
This also looks like misconfiguration, not necessarily issue with HttpClient. Issues @scalablecory linked may help with mitigation.

[2020-06-28 00:36] lipchev commented on #27687
In an effort to unify my own *By extension methods (with the hope that those would someday would become part of the runtime) I came looking for a reference implementation that I could grab.
As far as I can tell the extrema-finding functions from both [MoreLINQ](https://github.com/morelinq/MoreLINQ/blob/cdc6f76f4bf348e860b9eaa072279ee2956d6de7/MoreLinq/MaxBy.cs#L301) and [Ix.NET](https://github.com

[2020-06-28 01:34] stephentoub opened #38495 "CertificateAssetDownloader should be updated to use HttpClient.Send"
CertificateAssetDownloader on Unix currently uses HttpClient via reflection to download data:
https://github.com/dotnet/runtime/blob/2981ad90fbaeba3eda3d54fdb9532ac75fba8281/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs#L126
It does this via the asynchronous GetByteArrayAsync method, blocking waiting for it to complete.

[2020-06-28 01:35] vcsjones commented on #38487
I believe this is a known breaking change that was introduced in .NET Core 2.1. It was blogged about in the post [System.IO in .NET Core 2.1 sneak peek][1]. Under "Key behavior changes", one of the items is:

In your case, constructing a `FileInfo` doesn't do anything to access the file on disk. However if you attempt to get information about the file, like accessing the `Length` property, it is t

[2020-06-28 02:51] benaadams commented on #38367
Is AoT to WebAssembly in scope? e.g. to convert everything to WebAssembly rather than using a WebAssembly IL interpreter

[2020-06-28 03:24] jkotas commented on #38462
Do you mean API that gives you the value you need for `DOTNET_ROOT` or the name of the currently executing `dotnet.exe` if there is one? I think the later one would make more sense. E.g. `sys.executable` in Python returns path to currently running python.exe, and empty string for "self-contained" python apps.

[2020-06-28 04:12] richlander commented on #38462
I mean one that would give the value you need for `DOTNET_ROOT`. This would be the parent directory of the `dotnet` executable.

From @tmat: `RuntimeEnvironment.GetRuntimeDirectory()` gives me `C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.1.2\`. That isn't the currency required for `DOTNET_ROOT`.

[2020-06-28 05:00] danmosemsft commented on #33331
@wli3 if it’s as straightforward as you say I suggest you go ahead and do it. Let us know if you need any pointers.

[2020-06-28 06:08] loic-sharma commented on #38491
I agree. What do you think of the following renames?

* `FindIConfigureOptions` to `FindConfigurationServices`
* `SR.Error_NoIConfigureOptions` to `SR.Error_NoConfigurationServices`
* `SR.Error_NoIConfigureOptionsAndAction` to `SR.Error_NoConfigurationServicesAndAction`

[2020-06-28 06:24] loic-sharma commented on #38491
Agreed. Here are some options:

1. Update `ConfigureOptions` to register `IValidateOptions`. This may break customer's apps that already call `ConfigureOptions` on a type that also implements `IValidateOptions<>`. It's not particularly clear from the name whether this will register validations, but, I think updating the comment could address this.
1. Don't register validations, but, update the com

[2020-06-28 06:53] jaymin93 commented on #36005
yes as per the above comment as well and checking from code L438 is returning false as it's default case and it's expected output based on documentation i think no change will be required or it's change at api level to check entire array for null

[2020-06-28 06:57] jkotas commented on #38462
I am not sure we want to be encouraging editing `DOTNET_ROOT` in the middle of the process chain. It comes with number of problems that you have listed, and the environment variable is not even always called `DOTNET_ROOT` - it is `DOTNET_ROOT(x86)` for Windows WoW.

+1

[2020-06-28 07:31] v-haren opened #38496 "Test failure: JIT\\SIMD\\MinMax_ro\\MinMax_ro.cmd"
failed in job: [ runtime-coreclr jitstress-isas-x86 20200627.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=707975&view=ms.vss-test-web.build-test-results-tab&runId=21935156&resultId=108131&paneView=debug)

Error message
[code]

[2020-06-28 07:46] v-haren opened #38497 "Test failure: System.Net.Http.Functional.Tests.HttpClientTest.Send_CancelledRequestContent_Throws"
failed in job: [runtime-libraries outerloop 20200627.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=707650&view=ms.vss-test-web.build-test-results-tab&runId=21923082&resultId=104253&paneView=debug)

Error message
[code]

[2020-06-28 08:31] myrup commented on #36661
@danmosemsft I can confirm this bug was fixed between 5.0 preview 5 and 6 🙌🏼

[2020-06-28 10:24] programmersommer opened #38500 "MEF ComposeParts doesn't work in .NET Core"
Hi,

I am trying two following simple examples:

    [System.Composition.Import("ICalculator")]
    public ICalculator Calculator { get; set; }

     var pluginAssemblies = Directory.GetFiles(Path.Combine(_env.ContentRootPath, "plugins"), "*.dll", SearchOption.TopDirectoryOnly)
                    .Select(AssemblyLoadContext.Default.LoadFromAssemblyPath);

     var configuration = new ContainerCon

[2020-06-28 11:48] JamesNK commented on #37141
This is what HttpClient telemetry looks like today when captured:

![image](https://user-images.githubusercontent.com/303201/85946627-c08fb600-b999-11ea-8532-46eede031dc2.png)

It stops as soon as the headers are received, rather than waiting until the server has finished the response.

[2020-06-28 13:39] stephentoub commented on #38342
It's hard here to see that the actual error is "Please install cmake v3.14.5 or newer from https://www.cmake.org/download".  Can we change the build script so that it fails at that point rather than continuing on and spewing lots of derivate errors?

[2020-06-28 13:40] stephentoub commented on #38342
I guess that's what @safern's referring to in https://github.com/dotnet/runtime/issues/38342#issuecomment-648931437.

[2020-06-28 14:33] teo-tsirpanis opened #38503 "Proposal: Unlist and deprecate the System.Runtime.Loader NuGet package"
A leftover from the .NET Core 1.0 days, the [`System.Runtime.Loader`](https://nuget.org/packages/System.Runtime.Loader) NuGet package is especially dangerous (in addition to bloating the package dependency tree) because it "gives" the .NET Core-only `AssemblyLoadContext` class to .NET Standard libraries.

Directly using the package from an unsupported framework like the .NET Framework does not imp

[2020-06-28 15:08] rjmholt opened #38504 "System.IO.DirectoryInfo.MoveTo() does not support cross-device moves, but System.IO.FileInfo.MoveTo() does"
### Description

From https://github.com/PowerShell/PowerShell/issues/13039.

When moving a directory, .NET simply uses the [`rename` syscall](https://man7.org/linux/man-pages/man2/rename.2.html), which fails with error `EXDEV` when applied across mount boundaries:

https://github.com/dotnet/runtime/blob/4965d3463cd3e65d59cb2ce59e5ce4a4cf2b4b94/src/libraries/System.IO.FileSystem/src/System/IO/File

[2020-06-28 15:11] HaoK commented on #38491
Right, I think option 1 is probably okay, to just update the comments and explicitly state validations will be registered by `ConfigureOptions`, this is 5.0 so not the worst time to introduce a small breaking change.  I find it hard to think of many situations where someone would implement `IValidateOptions` on this class and not want them registered, especially since specific named instances can

[2020-06-28 15:13] HaoK commented on #38491
I think its best to just wait for the normal triage process for the next steps, but never hurts to see if @davidfowl agrees with our thinking

[2020-06-28 15:18] HaoK commented on #38491
BTW just as an FYI, you can also do your registration via `OptionsBuilder` without the class

[code]

[2020-06-28 16:00] BruceForstall commented on #38496
In `CoreCLR Windows_NT x86 Checked jitstress_isas_x86_nohwintrinsic @ Windows.10.Amd64.Open`

@tannergooding @CarolEidt

[2020-06-28 16:11] tannergooding commented on #38496
Looks like this may have been introduced in the last week as it wasn't failing in [20200620.1](https://dev.azure.com/dnceng/public/_build/results?buildId=697391&view=ms.vss-test-web.build-test-results-tab)

[2020-06-28 16:37] vcsjones commented on #38504
I believe #31149 is caused by the same issue. There's some more background and discussion that I think is useful.

[2020-06-28 16:52] rjmholt commented on #38504
Duplicate of https://github.com/dotnet/runtime/issues/31149

[2020-06-28 16:52] #38504 closed

[2020-06-28 17:16] BruceForstall commented on #38496
@dotnet/jit-contrib looks like a liveness change affected SIMD test. @erozenfeld maybe your recent liveness-related changes?

[2020-06-28 17:24] BruceForstall commented on #38482
@dotnet/crossgen-contrib

[2020-06-28 17:28] BruceForstall opened #38506 "Test failure: ilasm round-trip ver_fg_13"
With:
[code]

[2020-06-28 17:35] BruceForstall opened #38507 "Test failure: ilasm round-trip badcallee"
With:
[code]

[2020-06-28 18:00] BruceForstall opened #38508 "Test failure: ilasm round-trip CompatibleWithTest"
With:
[code]

Note that the non-round-trip test catches an expected exception here and continues:
[code]

It looks like the exception being thrown is different.

[2020-06-28 18:00] maryamariyan commented on #27687
/cc: @eiriktsarpalis @adamsitnik

[2020-06-28 18:13] vitek-karas commented on #38462
The issue seem very similar to https://github.com/dotnet/install-scripts/issues/43 and https://github.com/dotnet/install-scripts/issues/47 - as private installs are typically created via the install scripts.

[2020-06-28 18:25] stephentoub commented on #37430
Dup of https://github.com/dotnet/runtime/issues/37895

[2020-06-28 18:25] #37430 closed

[2020-06-28 18:29] jkotas commented on #37250
I think we should mark this API with `RequiresUnreferencedCodeAttribute` to declare that it is not compatible with IL linking.

[2020-06-28 18:38] stephentoub commented on #817
Fixed by https://github.com/dotnet/runtime/pull/38053

[2020-06-28 18:38] #817 closed

[2020-06-28 18:47] #1508 closed

[2020-06-28 18:49] stephentoub commented on #13633
For .NET 5, the plan is to leave the code for this in but off by default.

[2020-06-28 18:52] loic-sharma commented on #38491
I sent out a pull request with the current proposal: https://github.com/dotnet/runtime/pull/38513. Please let me know if you have any feedback!

[2020-06-28 18:52] stephentoub commented on #34458
@karelz, you noted that the comment needs to be updated and added an "easy" label, but there's no indication of what the comment should be changed to.

[2020-06-28 18:54] stephentoub commented on #37918
Fixed by https://github.com/dotnet/runtime/pull/37969

[2020-06-28 18:54] #37918 closed

[2020-06-28 19:09] iSazonov commented on #13628
After reviewing related issues and PRs and I agree with @lpereira

I believe that preferred solution should be on _managed code_ - one for all platforms (Differences in implementation always cause problems - some Unix libs is already removed from .Net.) using HW intrinsics for RDRAND/RDSEED. Perhaps RDRAND is too slow but we could use RDSEED per thread and an fast xor-shift PRNG.
Sometime communit

[2020-06-28 19:15] hughbe opened #38514 "Investigate ways to extend deserialization support for arbitrary collection types"
[code]

Output with `JsonConvert`:
[code]

Output with `JsonSerializer`:
[code]

[2020-06-28 19:48] ManickaP commented on #38497
Addressed in https://github.com/dotnet/runtime/pull/38453

[2020-06-28 19:52] BruceForstall opened #38515 "Test failure: ilasm round-trip hugeexpr1"
With:
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=708282&view=ms.vss-test-web.build-test-results-tab&runId=21941980&resultId=106795&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

Failed for:
[code]

Maybe a memory issue?

[2020-06-28 20:07] Frassle commented on #37852
Wouldn't `Memory<T>` be the more useful type to return these days?

[2020-06-28 20:21] BruceForstall commented on #35884
This is still failing in the GCStress runs. I submitted PR https://github.com/dotnet/runtime/pull/38516 to disable it for GCStress while this bug is open.

[2020-06-28 20:29] erozenfeld commented on #38496
Could be. Will take a look tomorrow.

[2020-06-28 20:30] BruceForstall opened #38517 "Test failure: BestFitMapping, Assert failure: bIsRealStartFrameUnchanged"
Windows arm32 GCStress=C

[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=707896&view=ms.vss-test-web.build-test-results-tab&runId=21930776&resultId=107289&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-06-28 20:37] BruceForstall opened #38518 "Assertion in WKS::gc_heap::background_sweep: Consistency check failed"
Windows arm64 GCStress=3

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=707896&view=ms.vss-test-web.build-test-results-tab&runId=21930894&resultId=107704&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

Also seen in:
[code]

[2020-06-28 20:41] BruceForstall commented on #38518
Also seen in the Windows arm64 GCStress=C run at the same link, in:
[code]

[2020-06-28 20:45] BruceForstall commented on #37237
This is still happening, at least for Windows x86 GCStress=3.

I note that for IEnumeratorTest, the assertion message is slightly different: "Consistency check failed: Crst Level violation: Can't take level 9 lock CrstCodeVersioning because you already holding level 4 lock CrstInteropData"

[2020-06-28 20:50] BruceForstall commented on #37237
The failures also happen for GCStress=C

[2020-06-28 21:03] NoRelect commented on #31274
I propose to not only have the generics variant, but also one where the `Type` can be specified as a parameter, so use-cases involving reflection are covered as well. The new API would look like this (Also added the suggestion of @bjornen77):

### API Proposal

[code]

[2020-06-28 21:16] felipepessoto commented on #35586
decimal.Parse works as expected.

If I understand correctly, both APIs first call a method to convert the input to Number and then the Number to decimal.
The first step is obviously different for each API, in the second step, both call Number.TryNumberToDecimal.

The difference is that TryParseNumber in decimal.Parse implementation retuns false, and the number buffer is not correct (scale = 1), so

[2020-06-28 21:27] AndyAyersMS commented on #38507
This test has intentionally invalid IL (see 48d47cafab3622), so not surprising that it won't round trip, as `A1()` has a branch off the end of the method.

We should exempt this test from round-tripping.

[2020-06-28 21:27] felipepessoto commented on #35586
Considering this statement:

"A Decimal object has 29 digits of precision. If s represents a number that has more than 29 digits, but has a fractional part and is within the range of MaxValue and MinValue, the number is rounded, not truncated, to 29 digits using rounding to nearest."

Can't we say 2.5976931e-101 is been successfully rounded to 0?

[2020-06-28 21:33] alirezasejdeii opened #38521 "The blazor project dont hvae startup.cs"
I update my visual studio to last version and create new Blazor Web Assambly Project but My client application dont hvae startup file.Is it normal or is issue?

[2020-06-28 21:46] RussKie commented on #38487
Thank you for your help 👍

[2020-06-28 22:03] BruceForstall opened #38522 "Test failure: Vector128/Vector256 time out under GCStress=3"
For Linux arm/arm64/x64, with GCStress=3, I see time out failures for:
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=708505&view=ms.vss-test-web.build-test-results-tab

Should the timeout be raised? (by how much)

Are the tests too big and should be split? (like AdvSimd)

Should they be disabled under GCStress? (seems like a last resort)

@tannergooding @CarolEidt @echesakovMS

[2020-06-28 22:13] BruceForstall opened #38523 "Linux arm/arm64/x64 GCStress=3 time out failures"
I see the following tests fail with timeout under GCStress=3 for Linux arm/arm64/x64:

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=708505&view=ms.vss-test-web.build-test-results-tab&runId=21947356&resultId=109001&paneView=debug

Related: https://github.com/dotnet/runtime/issues/38522

Should the timeout be raised? (by how much)

Are there real bugs here?

Should they be disa

[2020-06-28 22:13] BruceForstall commented on #38523
@janvorli

[2020-06-28 22:37] BruceForstall opened #38524 "Test failures: GCStress time out in tracing pauseonstart, reverse tests"
tracing\eventpipe\pauseonstart\pauseonstart\pauseonstart.cmd and tracing\eventpipe\reverse\reverse\reverse.cmd in various GCStress modes, such as
[code]
(there may be more)

with time outs, e.g.:

[code]

These stress modes significantly slow down the process, so it is not surprising that a short 5 seconds timeout is not sufficient.

The timeouts should be _significantly_ increased. Or perhaps the

[2020-06-28 22:47] BruceForstall commented on #38524
PR to disable for GCStress: https://github.com/dotnet/runtime/pull/38525

[2020-06-28 22:58] M-Boukhlouf opened #38526 "It is not possible to change Proxy to an HttpClient that has already started"
I keep hearing that HttpClient object has some high startup costs and that it is recommended to create only one instance and keep using throughout the program. Yet, it is not possible to change the Proxy of the HttpClient by changing the Proxy property of the HttpClientHandler object with which it was instantiated. There is a method that checks if the HttpClient has already started or sent a reque

[2020-06-28 23:03] BruceForstall commented on #33948
@tannergooding Your change https://github.com/dotnet/runtime/pull/37859 broke the AdvSimd into 4 parts. However, it looks like that's not sufficient.

A recent `gcstress-extra` job:

https://dev.azure.com/dnceng/public/_build/results?buildId=708029&view=ms.vss-test-web.build-test-results-tab&runId=21934032&paneView=debug&resultId=110183

still timed out
[code]
in `CoreCLR Linux arm64 Checked gcstr

[2020-06-28 23:07] BruceForstall commented on #38518
There are lots more of these failures, in additional tests, in the Windows arm64 legs of this pipeline run:

https://dev.azure.com/dnceng/public/_build/results?buildId=707897&view=ms.vss-test-web.build-test-results-tab&runId=21931994&resultId=105873&paneView=debug

[2020-06-28 23:25] stephentoub commented on #38526
What are you changing it to?

Keep in mind that am IWebProxy is handed the Uri and gets to give back the proxy to use for that Uri, so the IWebProxy itself can change its behavior at will, and can be mutated however you want your implementation to be mutated.

And if you actually do want different IWebProxy instances, you can just have multiple HttpClients... just keep one around for each IWebProx

[2020-06-28 23:40] angelobreuer opened #38527 "Inconsistency of the 'CanRead' property after disposing of an HTTP content stream"
### Description

There is an inconsistency of the [`CanRead`](https://github.com/dotnet/runtime/blob/4ef07c29d0d339a60ebf90de479d1f90fa2e6ae7/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpContentReadStream.cs#L21) property after disposing of an HTTP client content stream that inherits from [HttpContentReadStream](https://github.com/dotnet/runtime/blob/4ef07c29d0d339a60eb

[2020-06-28 23:40] richlander commented on #38462
'DOTNET_ROOT(x86)' ... Ouch, I didn't even know about that.

That's where `--set-dotnet-root` would be more compelling. That's purely a convenience approach. Probably best to start with better docs to help further elaborate the scenarios.

I've been aware for some time that this is a soft spot for us. I'm most interesting in the ad-hoc dev environments, but CI aligns well.

Are you compelled by th

[2020-06-28 23:42] M-Boukhlouf commented on #38526
Thank you for your reply. I remember I read your article about ConfigureAwait, very informative.
I'm changing it to a WebProxy.
You mean that I can create a class that implements IWebProxy, and wrap a proxy inside, so if I want to change the proxy, I just change inside this new class?

[2020-06-28 23:52] RussKie commented on #38487
The question still remains - who does one definitely check for a given path to be a valid path?
Invoking a property on `FileInfo` instance can get us so far. Some paths are user supplied, some paths are concatenated from bits sourced from various sources, and not all paths necessarily physically present on a hard drive (those may be fed to git).

E.g. `c:\Programs\Get"\` isn't valid, yet the new `

[2020-06-29 01:12] JeremyKuhne commented on #38487
The only way to know a path is valid is to actually try to use it. Trying to check for "invalid characters" falls apart in a number of scenarios, notably when using file systems that aren't "normal" for the host OS (and in many other corner cases).  If you really want to check invalid characters you can do that yourself with `Path.InvalidPathChars`, but I wouldn't recommend it outside of recommend

[2020-06-29 01:33] jstlns commented on #887
It would be nice if significant defects like this would be back ported to the LTS version of the SDK.

[2020-06-29 01:55] xiangzhai commented on #13759
It is not able to work equivalent to `java -Xmixed`, so please reopen the issue.

[2020-06-29 03:21] jaredpar commented on #38342
Yeah that is the crux of the issue. There really isn't a way in MSBuild traversal SDK, which is how we organize our build, to bail out early in this manner. @safern is attempting to get such a [feature implemented](https://github.com/microsoft/MSBuildSdks/pull/186) but there hasn't been much in the way of traction here.

One alternative I think we should consider simply front loading all of these

[2020-06-29 03:33] BruceForstall opened #38529 "Test failure: ilasm round-trip HugeField2"
With:
[code]

From Windows x86:

https://dev.azure.com/dnceng/public/_build/results?buildId=708755&view=ms.vss-test-web.build-test-results-tab&runId=21956288&resultId=103873&paneView=debug

[2020-06-29 05:18] v-haren opened #38530 "Many installer tests are failing because of Directory.Build.props file is missing"
failed in job: [runtime 20200628.29 ](https://dev.azure.com/dnceng/public/_build/results?buildId=708726&view=ms.vss-test-web.build-test-results-tab&runId=21951024&resultId=100000&paneView=debug)

failed tests:
Bundle_can_be_renamed_while_running
Bundled_Localized_App_Run_Succeeds
Can_Run_App_With_StatiHost
Can_Run_SingleFile_App_With_StatiHost

Error message
[code]

[2020-06-29 05:29] danmosemsft commented on #36661
@myrup  thank you for verifying! Glad we could fix this quickly and do open new issues if you find any.

[2020-06-29 05:35] v-haren opened #38531 "Test failure: Interop\\COM\\NativeClients\\Events\\Events.cmd"
failed in job: [ runtime-coreclr gcstress0x3-gcstress0xc 20200628.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=708505&view=ms.vss-test-web.build-test-results-tab&runId=21947472&resultId=103517&paneView=debug)

Error message
[code]

[2020-06-29 05:42] tapika commented on #37556
Fyi: https://stackoverflow.com/a/57534949/2338477

In all honesty, this solution seems to be quite complicated compared to the other DllExport answer. The C++ code is doing a lot of heavy lifting to scan for resouces and entry points, etc. One argument for this answer could be that it is cross-platform. However, the other DllExport answer is also cross-platform as well, and a lot simpler to use.

[2020-06-29 05:49] safern commented on #38342
That is an alternative but then you would only get errors related to tooling checking, but if there is another error that is a native build error it will still continue because we drive all the build with MSBuild traversal SDK.

[2020-06-29 06:43] ansarizafar opened #38533 "System.Net.Http.Json 5.0.0-preview.6.20305.6 - Missing WriteJsonAsync extension method"
I have used
[code]
command to add  System.Net.Http.Json package and I am trying to use WriteJsonAsync extension method in my endpoint route but the extension method is not available. Why this extension method is missing.
[code]

[2020-06-29 07:22] TheMinefighter commented on #13590
Had the same error when using WPF and a lot of async code. Here comes my stacktrace:
[code]

[2020-06-29 07:38] a-ctor commented on #37695
I have created a test repo with my current test setup: https://github.com/a-ctor/ReplaceFrameworkDllTest

Any help would be much appreciated :)

[2020-06-29 08:58] myrup commented on #36661
@danmosemsft Should it be included in 3.1.x?

[2020-06-29 11:11] fredrikhr opened #38536 "API proposal: Add Insert extension method for IConfigurationBuilder"
## Background and Motivation

It is common for Configuration providers (such as `Microsoft.Extensions.Configuration.Json`) to provide extension methods that add configuration sources to a `IConfigurationBuilder`.

The .NET Generic Host utility method `Host.CreateDefaultBuilder` also adds configuration sources as part of the Generic Host infrastructure. However, there are cases where you'd like to

[2020-06-29 11:22] sandreenko opened #38538 "STOREIND and STORE_OBJ should generate the same code for the same copy."
To see the issue try to comment code in `bool Lowering::TryTransformStoreObjAsStoreInd(GenTreeBlk* blkNode)` and see both improved and regressed methods (x64 Windows SPC for example).

It happens because for `Store_Obj` we always mark the source as contained, but don't try to contain `dst` address, when for `StoreInd` we try to create `LEA` for `dst` always, but don't try to contain anything when

[2020-06-29 11:23] stephentoub commented on #38527
In what situation are you using the object after it's been Disposed?  In general in .NET, most contracts are no longer considered valid on a disposed object.

[2020-06-29 11:33] GrowSharp commented on #36888
I did some more digging. This time on different machine. Centos 7 with .NET Core 3.1 and .Protocols version 5.0.0-preview.5.20278.1

1) Anonymous bind indeed works on linux systems that are domain joined. But then searching doesn't work.
` var searchRequest = new SearchRequest(LdapConstants.SETTING_USER_BASE_DIRECTORY, searchFilter, SearchScope.Subtree, LdapConstants.SettingGroupSearchAttributeFil

[2020-06-29 11:59] ManickaP commented on #37495
Implemented in https://github.com/dotnet/runtime/pull/37494

[2020-06-29 11:59] #37495 closed

[2020-06-29 12:08] javiercn opened #38539 "Jsonserializer and record types with "primary" constructor"
I've been playing with the new C# 9.0 features to evaluate how they integrate with ASP.NET Core. As part of that, I've been checking records and I found that the deserializer throws if I try to deserialize a record defined as follows:

[code]

The exception thrown is:
[code]

This forces people to use the longwinded syntax for records when writing APIs, which is something we want to avoid. The clo

[2020-06-29 12:26] antonfirsov commented on #34458
This property was used in Framework to prevent the assigning completion ports, to allow sockets being duplicatable after performing (async) operations. The .NET core windows async PAL is based on IOCP all the way, and it's unlikely we want to change this.

We should replace outdated statements in the comment with the explanation above.

[2020-06-29 12:33] MichalStrehovsky opened #38541 "Assertion failed 'fieldCorType == CORINFO_TYPE_VALUECLASS' during 'Optimize Valnum CSEs'"
NGenDump leading to the assert: [ngendump.txt](https://github.com/dotnet/runtime/files/4845466/ngendump.txt)

Compile the below with:

* `csc /noconfig /nostdlib cse.cs /r:System.Private.CoreLib.dll /O /unsafe /target:library`
* `crossgen cse.dll`

[code]

[2020-06-29 12:52] angelobreuer commented on #38527
Hello @stephentoub,
thanks for your response!

I have no specific issue in my code this issue is related to. I just came across this issue while debugging.

I just thought that streams should return false for [`CanRead`](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.canread?view=netcore-3.1), [`CanSeek`](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.canseek?view=netco

[2020-06-29 13:03] ansarizafar commented on #38533
The issue is resolved by adding using Microsoft.AspNetCore.Http.Json;

[2020-06-29 13:03] #38533 closed

[2020-06-29 13:15] rolfbjarne opened #38543 "iOS (and other Apple platforms): System.Private.CoreLib.dll has P/Invokes to a libhostpolicy library that isn't shipped"
## Description

The System.Private.CoreLib.dll has P/Invokes to libhostpolicy:

[code]

But there's no libhostpolicy library in the Microsoft.NETCore.Runtime.ios-x64 nuget (nor are these native functions provided by any other library that I can find).

### Other information

It's highly preferable to not have any P/Invokes to native functions that don't exist, because it allows the AOT compiler to

[2020-06-29 13:22] marek-safar commented on #38367
WebAssembly AOT support is planned for .NET 6.0 release

[2020-06-29 13:32] marek-safar commented on #38475
There are no plan to replace gdiplus dependency in System.Drawing.Common. There are plan for better support of libraries like SkiaSharp for WebAssembly but that won't most likely make it to 5.0 release.

[2020-06-29 13:50] CwjXFH opened #38545 "What does EE means in string.cs file?"
What does `EE` means in [String](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/String.cs) comment?

[code]

---

![String.Empty](https://user-images.githubusercontent.com/11468733/85995252-a523ba00-ba30-11ea-8a96-26ed059b82c6.png)

Thanks.

[2020-06-29 13:54] ericstj commented on #38539
@steveharter can you have a look at how the serializer handles records?  We should add some tests to cover this new language feature.

[2020-06-29 14:00] gintsk commented on #38545
Execution Engine
https://stackoverflow.com/a/25917242

[2020-06-29 14:18] stephentoub commented on #30000
Closing as I don't believe we've seen this recently.  Re-open if it happens again.

[2020-06-29 14:18] #30000 closed

[2020-06-29 14:20] stephentoub commented on #30536
Closing as addressed.

[2020-06-29 14:20] #30536 closed

[2020-06-29 14:20] #25547 closed

[2020-06-29 14:23] stephentoub commented on #32878
cc: @MichalStrehovsky

[2020-06-29 14:25] Youssef1313 commented on #38545
Check [this SO question](https://stackoverflow.com/questions/25917189/).

[2020-06-29 14:26] amosonn opened #38548 "Unbounded ranges in System.ComponentModel.DataAnotations.RangeAttribute"
## Background and Motivation

Currently, `RangeAttribute` (in `System.ComponentModel.DataAnotations`) only supports ranges bounded on both sides, i.e. having a minimum and a maximum. However, sometimes we want to mark a field is bounded only one side, e.g. having a minimal valid value but not a maximal one.

## Proposed API

Add more constructors to `RangeAttribute`. Each of `minimum` and `maximum

[2020-06-29 14:44] mangod9 commented on #37344
debugged through why the call to test() is flagged as CORINFO_VIRTUALCALL_STUB rather than CORINFO_CALL. Its due to this [check](https://github.com/dotnet/runtime/blob/a2f1b58ae606cfc938da27f764555acfc6558e26/src/coreclr/src/tools/aot/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs#L1289) for Version Bubble equivalence between caller and target (VersionsWithMethodBody does contain Bas

[2020-06-29 14:52] xtqqczze opened #38549 "Markdown: unused definitions found"
[code]

[2020-06-29 14:53] stephentoub commented on #32448
Closing as there are no noted recurrences of this since Feb.

[2020-06-29 15:09] sdmaclea commented on #37470
This is the mechanism to control whether the script is generated for a given platform
[code]

[2020-06-29 15:10] sdmaclea commented on #37470
There was a class of tests which had a 64-bit, 32-bit, and arm32-bit flavors of tests.

[2020-06-29 15:27] layomia commented on #38111
We can add a converter factory to throw when one of these types is encountered, similar to the work done in https://github.com/dotnet/runtime/pull/34249.

[2020-06-29 15:39] adamsitnik commented on #13628
@iSazonov as a performance guy, I like your idea but I am not sure if our security experts are going to like it

@GrabYourPitchforks @bartonjs what is your opinion about having our own implementation of random that would use HW intrinsics for RDRAND/RDSEED?

[2020-06-29 15:56] swaroop-sridhar commented on #3704
This issue is fixed in .net5

[2020-06-29 15:56] #3704 closed

[2020-06-29 16:08] stefanloerwald commented on #38475
Thanks for letting me know, @marek-safar.

[2020-06-29 16:09] stephentoub commented on #35846
This continues to repro, now as a hang, e.g.
https://helix.dot.net/api/2019-06-17/jobs/eaf31b3d-0e3f-4127-b317-9e69418d2582/workitems/System.Net.Sockets.Tests/files/console.6116a8de.log
[code]
cc: @antonfirsov

[2020-06-29 16:10] #38495 closed

[2020-06-29 16:10] #38441 closed

[2020-06-29 16:12] MattGal commented on #1213
Two quick points:

- If you want a 5.4 kernel, the only game in town I believe is `ubuntu.2004.amd64.open` / `ubuntu.2004.amd64` running `5.4.0-1016-azure`
- Even when running inside a docker container, my understanding is that the kernel of the host machine is used, so in the case of Ubuntu.1604.Amd64.* that'd be `4.15.0-1083-azure`

[2020-06-29 16:16] tommcdon commented on #38170
Thank you for reporting the Visual Studio Live Share issue.  This looks like an issue Visual Studio and not in .NET core.  Please open a Visual Studio feedback ticket to [report ](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019) the problem, and thank you for providing feedback for Visual Studio preview builds!

[2020-06-29 16:16] #38170 closed

[2020-06-29 16:18] tommcdon commented on #38524
@josalem

[2020-06-29 16:23] BruceForstall commented on #38530
From `Installer-coreclr-Linux_x64-Release`

[2020-06-29 16:24] tommcdon commented on #38406
@layomia  #38216 was merged into master, can this issue be closed?

[2020-06-29 16:26] BruceForstall commented on #38531
From `CoreCLR Windows_NT x64 Checked gcstress0xc @ Windows.10.Amd64.Open`

Related: https://github.com/dotnet/runtime/issues/37236

@AndyAyersMS @AaronRobinsonMSFT Looks like this is still failing.

[2020-06-29 16:29] tommcdon commented on #38152
@noahfalk

[2020-06-29 16:29] BruceForstall commented on #38541
[code]

[2020-06-29 16:30] BruceForstall commented on #38541
@dotnet/jit-contrib

[2020-06-29 16:31] marek-safar commented on #38426
I agree it would be nice to run popular intermediate languages (byte codes) on .NET but it's not on our roadmap right now.

[2020-06-29 16:34] vargaz opened #38552 "Mono interpreter performance problems with BitOperations.LeadingZeroCount"
Benchmark:
[code]
Problems:
- LeadingZeroCount is marked as AggressiveInlining, but:
Inline start method BitOperations.LeadingZeroCount
Inline aborted method BitOperations.LeadingZeroCount
- The call       bool System.Runtime.Intrinsics.X86.Lzcnt::get_IsSupported() etc. calls
   are replaced with ldc.i4.0, but there is no constant propagation performed on them, so
  the interpreter still has to ra

[2020-06-29 16:40] AaronRobinsonMSFT commented on #38531
@AndyAyersMS Could this be related to the CRT issue we are talking about in https://github.com/dotnet/runtime/pull/38375?

[2020-06-29 16:43] jkotas commented on #37695
You can remote it programmatically by adding something like this to test.csproj:

[code]

The entry in test.deps.json needs to have file and/or assembly versions like this for your local assembly to have higher precedence:

[code]

I am not sure what is the best way to convince the build tooling to emit these versions for your local app assemblies. You try  debugging https://github.com/dotnet/sdk/

[2020-06-29 16:47] LEI-Hongfaan opened #38555 "CodeGen bug?"
### Description

[code]

### Configuration

.NET SDK 5.0.100-preview.6.20318.15
Windows 10 x64

### Regression?

The code works fine with .NET Core SDK 3.1.105.

### Other information

The problem does NOT occur if I copy-paste the source code from Matrix.cs and compile it into a simplified library.

[2020-06-29 16:49] tmat commented on #38462
We might just need a better documentation.

The test project in the above scenario was targeting `net472` initially. `DOTNET_ROOT` has to be set by the test code in that case in order for the child process to find core runtime.

I switched the test project to `netcoreapp3.1` and I thought `DOTNET_ROOT` still needs to be set. But it appears that the child process is able to find the core runtime ev

[2020-06-29 16:53] joperezr commented on #36888
can you log one issue for each of the problems you are seeing? That way we can focus each one on individual investigations. I haven't been able to reproduce1-3, and I haven't tried 4 but as part of the investigation of that issue I'll create a user with a password with special characters and try to reproduce that.

[2020-06-29 16:56] GrabYourPitchforks commented on #38488
Then we can spin up an internal prototype perhaps using https://github.com/dotnet/runtime/issues/12832 as a test case. It'll look a bit rough without compiler support, but it should at least tell us whether or not the scenario works.

[2020-06-29 17:11] danmosemsft commented on #36661
@myrup ah yes. I created a request: https://github.com/dotnet/corefx/pull/42941

[2020-06-29 17:17] richlander commented on #38462
Is 3.1 installed globally on this machine?

[2020-06-29 17:23] echesakovMSFT commented on #33948
@BruceForstall @tannergooding I will fix this - I am going to split the AdvSimd tests by intrinsic method name - the current way of splitting (as done in #37859) has another big problem - you can't merge two PRs adding hardware intrinsics tests without rebasing one of them on top on another - they will almost certainly conflict in AdvSimd_Part*_r.proj file.

[2020-06-29 17:35] bartonjs commented on #13628
Having a custom random number generator is contrary to our software security designs.  Even if it were OK for us to take a dependency on those CPU instructions directly, the perf data I saw for them suggests that they take about 750ns (possibly amortizes to less with pipelining if you are doing a lot of random data), which wouldn't really speed things up.

I think this is just one of those things

[2020-06-29 17:37] josalem commented on #38524
Thanks @BruceForstall!  PR should be out later today!

[2020-06-29 17:37] jmarolf commented on #1664
+1 for wanting a fix for this. Makes looking at test output for new contributors a terrible experience. If `dotnet test` is months away can we please find a temporary fix for this?

[2020-06-29 17:48] AndyAyersMS commented on #38531
Theres' a [dump available](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-f8c2d07db71440fd8e/Interop/COMClientEvents.exe.10640.dmp?sv=2019-02-02&se=2020-07-18T14%3A35%3A25Z&sr=c&sp=rl&sig=ZAsuYcYSBwiKRBVMHclvO%2B%2FzK6ZnD48VHThx%2FhSfWDs%3D) and taking a quick look (w/o the matching symbols) it looks very similar, a runaway recursive exception.

[2020-06-29 18:01] Anipik opened #38559 "Browser Implementation For various assemblies"
I will be filling the implementation details as the work goes on
@marek-safar @akoeplinger , i tried to summarize the implementation for each of the proj, can you guys take a look at the list and check if we need to make any changes ?

cc @ericstj

Validated | ProjectName  | Implementation Detail  | Comments   |
|---|---|---|---|
|:heavy_check_mark:|Microsoft.CSharp|ridless||
|:heavy_check_mark:|M

[2020-06-29 18:04] cheenamalhotra commented on #28633
@roji

I was referring to `public DbDataReader ExecuteDbReader();` in the proposal if it should be `public DbDataReader ExecuteReader();` instead since it's async counter API is `ExecuteReaderAsync()`?

[2020-06-29 18:11] nattress commented on #13384
Closing old issue - self-hosting CG2 works just fine

[2020-06-29 18:11] #13384 closed

[2020-06-29 18:12] vaz-rodrigo commented on #36504
Can I work on this issue?

[2020-06-29 18:16] #38531 closed

[2020-06-29 18:26] nattress commented on #37732
This was resolved by https://github.com/dotnet/arcade/pull/5641. Perf CI is green.

[2020-06-29 18:26] #37732 closed

[2020-06-29 18:34] danmosemsft commented on #38549
@xtqqczze do you want to offer a PR? I thought I got the markdown clean, but maybe it's regressed or you have a different linter.

[2020-06-29 18:39] xtqqczze commented on #38549
@danmosemsft I used [remark-lint-no-unused-definitions](https://www.npmjs.com/package/remark-lint-no-unused-definitions). Does the repo currently run any linters on CI?

[2020-06-29 18:49] josalem commented on #38524
Actually this should be fixed by #38474 which removes the internal timeouts in favor of letting Helix timeout if something goes wrong.

[2020-06-29 19:02] tmat commented on #38462
It may or may not be. It's a CI machine. We want the tests to use the exact dotnet that invoked the test runner.

[2020-06-29 19:05] ChahatKumar opened #38565 "What is the purpose of ArrayPool.Create() if there is no limit to what i can rent ?"
i created a custom pool like

 `ArrayPool<byte> pool = ArrayPool.Create( 1MB , 5 )`

This would mean that i am creating a new pool with max array size 1 mb and 5 arrays per bucket.
But if i try to rent array of more than 1 MB , i am able to do so.  Also , i can rent more than 5 arrays as it would allocate it from next bucket.
So, how does a custom pool helps specifically?

[2020-06-29 19:06] ericstj commented on #14540
This library does not implement signing, the discussion was about exposing enough API so that one could implement strong name signing on top of this API.   This issue remains only about exposing offsets.  Note that strong-name signing is different from Authenticode signing, which is what signtool does.  We aren't discussing authenticode at all in this issue.

I took a look at what was exposed and

[2020-06-29 19:06] #14540 closed

[2020-06-29 19:07] danmosemsft commented on #38549
Not for markdown. But we could, if it was easy and reliable (and flagged impactful issues eg broken links)
Maybe https://github.com/github/super-linter could help?

[2020-06-29 19:12] tmat commented on #38462
`DOTNET_MULTILEVEL_LOOP` is `0`:

https://github.com/dotnet/roslyn/blob/master/eng/common/tools.ps1#L105

[2020-06-29 19:15] Ramobo opened #38566 "Math & MathF: Conversion constants between degrees and radians"
## Background and Motivation

My use-case is working with quaternions, since the inputs for `Quaternion.CreateFromYawPitchRoll(...)` are in radians.

## Proposed API

[code]
Don't quote me on the values, and add more precision to the `double` variant. [`float` should have 9 decimal places, and `double` should have 29](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/

[2020-06-29 19:15] Ramobo opened #38567 "Quaternion: Extract yaw, pitch, and roll"
## Background and Motivation

Essential for turning rotation outputs into non-black-wizard-mathematician-friendly counterparts.

## Proposed API

[code]
Since the inputs for `Quaternion.CreateFromYawPitchRoll(...)` are in radians, the outputs for the proposed method should also be in radians.

## Usage Examples

[code]
Uses a constant from #38566.

[code]

## Alternative Designs

- Return `Vector3

[2020-06-29 19:17] ericstj commented on #14988
Closing per @safern

[2020-06-29 19:17] #14988 closed

[2020-06-29 19:20] Ramobo commented on #38567
According to the label assigned to #38566: `System.Numerics`

Beep boop.
Tagging subscribers to this area: @tannergooding
Notify danmosemsft if you want to be subscribed.

[2020-06-29 19:21] tannergooding commented on #33948
There is a downside to splitting by as fine grained as by method name in that it will increase build time and the number of build artifacts that exist. It will also increase runtime costs as the JIT will have to restart and recompile the same methods over and over which might cause other timeouts to be hit.

[2020-06-29 19:21] #31308 closed

[2020-06-29 19:22] vitek-karas commented on #38462
Does it pick the right runtime (as in - the one from the repo you want)?
Is the `DOTNET_ROOT` not set, or it's just that your test code doesn't set it and it might be set by something else?

Ultimately to find out: set `COREHOST_TRACE=1` and `COREHOST_TRACEFILE=host_trace.txt` when running the child process - and then collect (somehow) the `host_trace.txt` - that will contain all the details about

[2020-06-29 19:27] ericstj commented on #16355
@charlesroddie please open a different issue if you wish to discuss CLSCompliant and docs.  This issue is referring to the use of array vs pointers only in the System.Reflection.Metadata APIs.

@tmat did you want to make an API suggestion here or do you think this scenario is now covered in our current API?

[2020-06-29 19:29] buyaa-n commented on #366
Thank you @binki for submitting the issue, this API suggestion need some detailed investigations which cannot be done within .Net 5, we will look into it after .Net 5.0

[2020-06-29 19:30] ericstj commented on #19710
@tmat can you suggest the API needed here?

[2020-06-29 19:32] echesakovMSFT commented on #33948
I will do measurements and come up with numbers.

[2020-06-29 19:35] omajid commented on #38545
CoreCLR also has several documents that help define what an EE is: https://github.com/dotnet/runtime/search?l=Markdown&q=Execution+Engine

[2020-06-29 19:36] jashook opened #38570 "Limit arm32 windows testing"
Limit windows arm32 testing. The PR loop will continue to build windows arm32. We can remove all stress testing and testing in the runtime pipeline. We can still continue to test windows arm32 in coreclr-outerloop.

@BruceForstall let me know if this meshes with the conversation we had. If not we can change the plan as we see fit to enable the quality bar the team needs for arm32 investigations.

[2020-06-29 19:40] Clockwork-Muse commented on #38566
... what's the standard with respect to doing something like calculating the value, instead of a literal constant.  Eg:

[code]

[2020-06-29 19:41] tannergooding commented on #38566
I think these should be functions rather than constants. Functions will allow a more precise implementation to be provided or for other optimizations to occur, without restricting things.

[2020-06-29 19:44] jashook opened #38571 "Add components to the coreclr native build"
Currently it is possible on windows to build components of the build by rebuilding a specific vcxproj and this hack is the only way to build a subtree. This does not translate well to other platforms, or other generators like ninja.

Doing this work will allow building portions of the runtime. One could imagine for example `build.sh -s clr.jit` or `build.sh -s clr.gc`.

[2020-06-29 19:45] jashook commented on #38571
/cc @jkoritzinsky

[2020-06-29 19:48] nattress commented on #33885
Closing - WinRT got removed from the runtime (https://github.com/dotnet/runtime/pull/36715).

[2020-06-29 19:48] #33885 closed

[2020-06-29 19:48] Ramobo commented on #38566
Can we have both? What about the vector situation?

[2020-06-29 19:48] buyaa-n commented on #1029
@iUnknwn thank you for reporting the issue, this issue needs some detailed investigations which cannot be done within .Net 5.
It would be great if you would be interested in doing the investigation/fixes.

[2020-06-29 19:49] jashook opened #38572 "Change default build behavior to exclude building superpmi and altjits"
Separate superpmi and the altjits built by the coreclr build into their own components. This would allow developers to opt into building them when they need them for testing or investigations with `build.cmd -s clr.spmi+clr.altjit`; however, when not needed the build throughput is increased ~10-15%.

[2020-06-29 19:49] tannergooding commented on #38566
When dealing with floating-point, defining a constant using the precisely computed value is generally better than using a constant expression.

[code]

However, computing the same using an expression gives:
[code]

So, while `double` is the same, `float` is not.

[2020-06-29 19:49] lambdageek opened #38573 "[wasm] Assertion in marshal.c:399 if GetFunctionPointerForDelegate is called more than once"
Run the following code on a platform that doesn't define `MONO_ARCH_HAVE_INTERP_NATIVE_TO_MANAGED`

[code]

Expected Output:

[code]
(or some other distinct arbitrary pointer values)

Actual Output:
WASM:
[code]

on non-WASM:
[code]

[2020-06-29 19:50] jashook commented on #38572
/cc @BruceForstall

[2020-06-29 19:51] lambdageek commented on #38573
One way to test this on non-wasm is to change

https://github.com/dotnet/runtime/blob/master/src/mono/mono/mini/mini-amd64.h#L468

to

[code]

And then run the above repro with `mono --interp Program.exe`

[2020-06-29 19:51] Clockwork-Muse commented on #38565
It helps in the case that you don't exceed either of those limits.  What those limits should be would be revealed via profiling/tuning for a specific application/code path.

[2020-06-29 19:52] jashook opened #38574 "Remove python from the coreclr build"
Currently this is only used in a few places. We can easily translate the scripts which use it to either `powershell` or `msbuild` to drop the build dependency.

[2020-06-29 19:54] lambdageek commented on #38573
Because on platforms without `MONO_ARCH_HAVE_INTERP_NATIVE_TO_MANAGED` the same function is returned for all calls to `interp_create_method_pointer`, any two arbitrary calls to `GetFunctionPointerForDelegate` anywhere in the program will trigger this assertion

[2020-06-29 19:56] AndyAyersMS commented on #37470
In these test cases, arm happens to have the same class sizes as arm64/x64.

So my proposal is to add another set of ILPROJs for arm, splitting the  "target_32bit" cases into "target_x86" and "target_arm", and include the "64 bit" il sources for the latter. I won't rename the sources unless we feel it can add clarity.

[2020-06-29 19:57] lambdageek commented on #38573
/cc @lewing

[2020-06-29 19:58] ChahatKumar commented on #38565
@Clockwork-Muse  Okay thanks ! That means if at runtime my app tried to somehow rent more than the limit set, then the memory profiling will be different from what is expected ,right?

[2020-06-29 20:15] danmosemsft commented on #38545
[code]
Probably https://github.com/dotnet/runtime/blob/a21da8f6d945002bbb7cdb426c148867f60be528/docs/project/glossary.md should make clear that "Virtual Machine" is not being used in the normal sense (which I think was not commonly used when the term likely arose in ~2000)

[2020-06-29 20:15] danmosemsft commented on #38545
I think this is answered, unless @jkotas you believe there is value in trying to settle on a single term (that perhaps covers Mono also)

[2020-06-29 20:19] ericstj commented on #33520
I can reproduce:
[code]

The error is saying a correct thing: those packages didn't support .NET Core.  They were built before .NET Core even existed.

This appears to be fallout of restoring the wrong version of the dotnet-cgr package, as @yyjdelete mentioned.

[code]

It looks like NuGet chose the lowest version that matched your constraint.  It seems like the issue here is around nuget resoluti

[2020-06-29 20:19] #33520 closed

[2020-06-29 20:27] ericstj commented on #33812
So what's the concensus here: just update the docs for GC.Add/RemoveMemoryPressure or should we be adding calls to S.R.M? cc @tmat

[2020-06-29 20:30] vcsjones commented on #38565
`ArrayPool`, when asked for an array larger than the maximum array size, will simply allocate a new array.

https://github.com/dotnet/runtime/blob/a306b03891e447b6f68fe5e664fce8336567ac88/src/libraries/System.Private.CoreLib/src/System/Buffers/ConfigurableArrayPool.cs#L105-L109

This is true of the default ArrayPool as well. So one instance of where you may want to create your own array pool is wh

[2020-06-29 20:33] lateralusX commented on #38573
Disabled delegate callbacks in eventpipe library on WASM due to hitting this issue, triggering:

`WASM-ERR: * Assertion at /__w/1/s/src/mono/mono/metadata/marshal.c:399, condition `<disabled>' not met`

When this is fixed on WASM we should re-enable delegate callbacks in eventpipe library src/mono/mono/metadata/icall-eventpipe.c.

[2020-06-29 20:42] BruceForstall commented on #38572
@dotnet/jit-contrib -- this proposal contributes to improving the coreclr build time. It should be easy enough for JIT developers to build these components when needed. The plan is still to build them in the CI (but not the official build). This also would improve innerloop build times for JIT developers who don't need the altjits -- but can build them when they are needed.

[2020-06-29 20:43] BruceForstall commented on #38570
This matches my understanding of our plan.

[2020-06-29 20:48] steveharter commented on #23716
Moving to Future - not high enough priority at this time for the 5.0 schedule.

[2020-06-29 20:49] jkotas commented on #38545
Both "execution engine" and "virtual machine" are used interchangeably, for both CoreCLR and Mono. I do not see the value in unification.

[2020-06-29 20:53] joperezr commented on #34476
No, netstandard.dll facade in Netcoreapp should be compatible to both netstandard2.0 and netstandard2.1 (at least the facade we have in NCA 3.0 and onward) so this is totally a supported scenario and something we don't really should have to worry about.

In runtime we usually try not to cross-compile when it is not necessary as that would just increase package size and NuGet cache footprint so we

[2020-06-29 20:53] joperezr commented on #34476
I'm closing this issue for now given the above response, but @vatsan-madhavan feel free to reopen if you have any follow-up questions or comments.

[2020-06-29 20:53] #34476 closed

[2020-06-29 20:55] steveharter commented on #36352
This failed when we branched for 3.1.5 but not 3.1.6 (per @GrabYourPitchforks) so this appears to be a transient issue since there were no changes in reflection made during this timeframe.

Please re-open if there any other hits.

[2020-06-29 20:55] #36352 closed

[2020-06-29 20:55] GrabYourPitchforks commented on #36352
For reference, here's the 3.1.6 branch PR showing all checks succeeding. https://github.com/dotnet/coreclr/pull/28047

[2020-06-29 20:57] steveharter commented on #36682
We need to determine the cost:benefit of detecting this condition and throwing an alternative (catchable) exception.

[2020-06-29 21:03] jashook commented on #38455
@CarolEidt I have a pr to disable the test: https://github.com/dotnet/runtime/pull/38580. I will assign to you for the investigation.

[2020-06-29 21:22] eerhardt opened #38582 "ComponentModel IntrinsicTypeConverters are not linker safe"
Calling `TypeDescriptor.GetConverter(typeof(Guid))`, or passing other low-level system types, in a trimmed app can cause failures because we are using reflection to create the object.

Underneath, we have a map of `Type` => `Converter Type`:

https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/R

[2020-06-29 21:22] mikem8361 commented on #2014
Adding @jashook

[2020-06-29 21:28] nattress commented on #35270
This test has run fine in Crossgen2 runs so I believe we fixed whatever CG2-specific issue we had some time ago.

[2020-06-29 21:28] #35270 closed

[2020-06-29 21:29] lifengl opened #38584 "Directory.CreateDirectory($@"C: \Users\{ username}\") creates a folder name with pure whitespaces"
It is reported by a customer when there is a typo in the code. Running the code would create a folder inside the current running dictionary in C: with pure whitespace characters, which doesn't work with Windows explorer and other tools.

This is different from the behavior of the code in NET Framework. Although this might be a valid name in NTFS, not sure whether it is an expected behavior here.

[2020-06-29 21:35] AndyAyersMS commented on #36971
Now seems to be failing most consistently on arm32, so will see if I can get a repro there.

[2020-06-29 21:45] Maoni0 commented on #38518
how can we see when this started to fail?

[2020-06-29 21:48] Herohtar commented on #36590
When using `PublishSingleFile` with Preview 6 on a Windows 10 system with .NET Core 2.1 installed, I get the following error message:
[code]

If I change the `PATH` environment variable to point to a folder containing .NET Core 3.1 I get the same message, but the path shown is the path to the 3.1.0 `hostfxr.dll`. So it seems to generated executable is trying to use `hostfxr.dll` from the system in

[2020-06-29 21:48] mangod9 opened #38585 "Validate .net 3.1 crossgen binaries on .net 5"
From version compatibility perspective, would like to ensure 3.1 crossgen-ed binaries continue to work on 5.0

[2020-06-29 22:04] BruceForstall commented on #38518
I just enabled GCStress for Windows arm64 in the CI, so we don't have any history. The fact that it wasn't enabled before was a combination of lack of hardware and, more recently, an omission that wasn't noticed.

[2020-06-29 22:06] #33867 closed

[2020-06-29 22:08] layomia commented on #38406
I reverted System.Diagnostics.DiagnosticsEventSource related changes in https://github.com/dotnet/runtime/pull/38216, so the proposed fix isn't in. I'll open a dedicated PR shortly.

[2020-06-29 22:10] jaredpar commented on #38342
@safern

Agree the proposal has limitations and is not a complete solution. At the same time it also makes sense to structure the build to have tooling checks at the beginning before beginning the build. Basically the principle being

Or more simply: fail fast, fail early.

[2020-06-29 22:21] #38545 closed

[2020-06-29 22:21] danmosemsft commented on #38545
@CwjXFH if you like, feel free to offer a PR to improve glossary.md.

[2020-06-29 22:26] Clockwork-Muse commented on #38565
@ChahatKumar - Yes, but how much would depend on how often that happens.  If you're writing a server where you get millions of messages that are 80-100kb, but every month you get one message that for some reason is > 5Mb, profiling is going to say "look, use 100kb as the limit" (and let that 5Mb array get created/dropped as a one-off).  If every 100th message is really large, though, you might wan

[2020-06-29 22:44] danmosemsft commented on #38584
Specifically
[code]
 (with space after `C:`) creates a folder named `c:\foo\ ` (single space)

[2020-06-29 22:44] elinor-fung opened #38587 "Symbols for host binaries are not published to public symbol server"
- Download .NET 5.0 Preview 6
- Set up symbols paths to include public Microsoft symbol server
- Debug an application targeting that version

**Observe** symbols cannot be found for any host binaries

[2020-06-29 22:45] Clockwork-Muse commented on #38584
Side note, why are they manually creating what appear to be user directories?

[2020-06-29 22:47] danmosemsft commented on #38584
Good question, it would be easy to get the ACL's wrong (besides the question of why)

[2020-06-29 22:48] nattress commented on #38482
This looks like a duplicate of https://github.com/dotnet/runtime/issues/34316

[2020-06-29 22:50] elinor-fung commented on #38587
Looks like the PDBs are not in the `symbols.nupkg` packages (`DotNetAppHost`, `DotNetHost`, `DotNetHostPolicy`, `DotNetHostResolver`).

I think this is only broken for Windows. Based on the publishing logs from an official build, the `.dbg`/`.dwarf` files are published for Linux/Mac.

[2020-06-29 22:59] ChahatKumar commented on #38565
@vcsjones @Clockwork-Muse  Got it ! Thanks :)

[2020-06-29 22:59] #38565 closed

[2020-06-29 23:03] CarolEidt commented on #38455
Thanks @jashook - I'll have a look at it.

[2020-06-29 23:04] jashook commented on #38455
Easy repro:

`./build.sh -c release --runtimeConfiguration checked -s clr+libs+libs.test --test"

[2020-06-29 23:05] jashook commented on #38455
You can then iterate on System.Runtime.test.dll

[2020-06-29 23:26] agocke opened #38588 "Framework information may be dropped on .NET 4.7.2"
### Description

On .NET 4.7.2, `PopulateDefaultValues` is sometimes executed before ComputeTargetFrameworkName, which can lead Long Paths not being supported in certain scenarios.

### Configuration

Information from https://github.com/microsoft/msbuild/pull/3960

Root cause:

[2020-06-29 23:30] briansull commented on #38572
I typically use the altjits very frequently when working on a checked or debug JIT.
Please give easy instructions on how to continue building them.

[2020-06-29 23:37] #37400 closed

[2020-06-29 23:40] #2043 closed

[2020-06-29 23:47] agocke commented on #38588
We'll need to verify if this problem is also present in Core, or just in framework

[2020-06-29 23:57] swaroop-sridhar commented on #38588
This codepath doesn't exist in .net core.

[2020-06-29 23:57] #38588 closed

[2020-06-30 00:15] elinor-fung opened #38590 "Installer build (corehost) for Linux/OSX failing in official build"
Failing on `singlefilehost` build.

[code]

cc @swaroop-sridhar @VSadov

[2020-06-30 00:18] iUnknwn commented on #1029
@buyaa-n I'd be potentially interested, what are you asking for?

I could probably write up an MSUnit/xUnit test to test for this behavior, if you're looking for something basic to demo the problem.

If you're looking for a patch/PR to fix the issue, that might be a bit trickier.

[2020-06-30 00:18] swaroop-sridhar commented on #38590
Caused by https://github.com/dotnet/runtime/pull/36847

[2020-06-30 00:34] Clockwork-Muse commented on #38584
Maybe they really wanted the directory to really match the username?  I know mine doesn't match (missing the last 3 characters - `r0_`).

[2020-06-30 00:36] danmosemsft commented on #38584
Right, but Windows would keep using the old one. Anyway, this is off topic I guess 😸

[2020-06-30 00:58] juliusfriedman opened #38592 "`Task.WhenAny` given an empty set."
Currently the following code

[code]

 produces:

--

I would suggest this return an immediately completed Task instead.

The cost of the exception is high and I don't see the value in throwing then a static completed `Task` could be used.

[2020-06-30 00:59] swaroop-sridhar commented on #38590
The problem here, as identified by @jkoritzinsky, is that `CoreCLRArtifactsPath` is `/root/runtime/artifacts/transport/AllArtifacts/CoreCLRProduct__release/...`  , rather than `/root/runtime/artifacts/transport/AllArtifacts/CoreCLRProduct_Linux-x64_release/...`

[2020-06-30 01:02] swaroop-sridhar commented on #38590
`CoreCLRArtifactsPath` is computed [here](https://github.com/dotnet/runtime/blame/d65dd306eea83d2435432d787cb435211d540f6c/eng/liveBuilds.targets#L38).

However, in /root/runtime/src/installer/corehost/build.proj, `ArtifactPlatform` is not set [here](https://github.com/dotnet/runtime/blame/d65dd306eea83d2435432d787cb435211d540f6c/eng/liveBuilds.targets#L28-L34) because `RuntimeIdentifier` is not s

[2020-06-30 01:02] stephentoub commented on #38592
Why are you calling it with an empty set?

WhenAny returns a `Task<Task>`, or a `Task<Task<T>>`.  For this to not throw, it would need to return a `Task<Task>` with a task it manufactures out of thin air, e.g. Task.CompletedTask as you suggest.  And such a task wasn't in the input set.  That's why it throws: there's nothing this can return that logically makes sense given the inputs.

[2020-06-30 01:07] layomia opened #38593 "Deserializing System.Collections.Immutable types with JsonSerializer is not linker safe"
A `NullReferenceException` is thrown when deserialization of any of these collection types is attempted, due to the various `CreateRange` methods being trimmed out e.g. https://docs.microsoft.com/dotnet/api/system.collections.immutable.immutablelist.createrange.

[2020-06-30 01:16] buyaa-n commented on #1029
That would be very helpful for whoever would investigate it

Sure it is not easy, and it is optional/voluntary. If you are willing to contribute for test repro, finding the root cause, propose a fix or raise a PR etc., whichever level it was that would be very helpful. Thanks again!

[2020-06-30 01:19] krishkalai opened #38594 "UseKestrel async port binding is not working consistently"
Application type: Web API running on Service Fabric cluster

While binding Https port 443 asynchronously through UseKestrel() method, the binding is not working consistently. This app is hosted in a Windows container, whenever the container instance refresh happens https port binding is not occurring consistently. We are not seeing any error messages logged.

`public` static IWebHost BuildWebHost(

[2020-06-30 01:52] #38526 closed

[2020-06-30 01:55] lifengl commented on #38584
I guess the customer has their product name after the user name portion, but cut that part out from the repro before sending it to us.

[2020-06-30 02:11] stephentoub commented on #38526
Yup, that should work :)

[2020-06-30 02:12] carlossanlop opened #38596 "Enable rule CA2016 rule as a warning"
It was expressed in [this PR](https://github.com/dotnet/runtime/pull/37607) the desire to make rule CA2016 a warning for all dotnet/runtime, but due to [this bug in dotnet/roslyn-analyzers](https://github.com/dotnet/roslyn-analyzers/pull/3641), that can't be done yet.

Once the roslyn-analyzers bug is fixed and the assembly with the fix is updated in the dotnet/runtime build, we can make CA2016 a

[2020-06-30 02:26] #37470 closed

[2020-06-30 02:28] AndyAyersMS commented on #38230
@BruceForstall let me know if you want help with investigating this one.

[2020-06-30 02:46] juliusfriedman commented on #38592
Well then one must check if they have something like a bag or list of tasks that is empty before calling that method then I suppose.

I didn't intentionally do so, it manifested out of the fact I had tested setting a number to 0 meaning unlimited and I ended up created 0 tasks and then calling that method (with what would usually be an populated set of at least 1 `Task`)

The scenario is probably

[2020-06-30 02:49] hez2010 opened #38601 "Failed to detect .NET Core runtime in single file bundle"
### Description

Failed to detect .NET Core runtime in single file bundle.

I cloned this project: https://github.com/ppy/osu
And I changed its TFM to `net5.0` and upgrade all existing old packages to 5.0.0-preview* as possible as I can. (There's a breaking change in EFCore, so that after upgrade EF packages there're some compile errors, it's ok to remove the line that caused compile error)

After

[2020-06-30 03:31] VSadov commented on #38590
It looks like `RuntimeArtifactsPath` is passed correctly to the build and should become `CoreCLRArtifactsPath`, however later it is overriden because of the condition in:
[code]

which is true if `RuntimeIdentifier` is not specified.

Perhaps the fix should be

[code]

i.e. - if `RuntimeIdentifier` is not specified, just let the default value (`CoreCLRArtifactsPath`) be used?

[2020-06-30 03:54] VSadov commented on #38590
For reference - we get
`/p:RuntimeArtifactsPath=/root/runtime/artifacts/transport/coreclr`

And that is where the coreclr binaries are unzipped.

However we also get
`/p:AllArtifactsDownloadPath=artifacts/transport/AllArtifacts`

which triggers the override, but there is nothing to override to - since  `RuntimeIdentifier` in this case is empty.

[2020-06-30 03:59] geoffkizer commented on #38526
Just to provide some additional guidance:

There's no need to limit yourself to only 1 HttpClient. If you have different configuration needs (as in this case, with multiple proxies in use), it's fine to create a handful of HttpClient instances for these different configurations and use the appropriate HttpClient instance as necessary.

What you should avoid doing is creating a new HttpClient insta

[2020-06-30 04:04] M-Boukhlouf commented on #38526
Thank you

[2020-06-30 04:04] M-Boukhlouf commented on #38526
Thank you

[2020-06-30 04:09] joshudson commented on #38412
We actually encountered the other roundoff problem with this API surface. Kinda disappointed there's no overload for these that takes a long. It's a one-liner but easy to get the order of operations wrong.

[2020-06-30 04:26] QuinnDamerell commented on #38412
@joshudson which other round off issue are you refering to?

[2020-06-30 04:32] weltkante commented on #10315
@AndyAyersMS got a chance to look at it? Otherwise your guess sounds like it has a separate root cause and probably should get its own issue?

[2020-06-30 04:53] npolyak commented on #32561
Sorry guys, I was not monitoring the replies. Thanks everyone for answering, but IsAssignableFrom is not a correct answer. Here is an (approximate) answer I gave myself on Stackoverflow: https://stackoverflow.com/a/60330159/1672563

[2020-06-30 04:56] LEI-Hongfaan commented on #38567
I prefer PitchYawRoll. Or add all their friends? (RollPitchYaw, PitchYawRoll, PitchYawPitch, YawRollYaw, ...)

[2020-06-30 05:26] GrabYourPitchforks opened #38605 "RunGetBitLengthTests unit test failing on wasm"
Project __System.Runtime.Numerics.Tests__, test __GetBitLengthTests.RunGetBitLengthTests__ is causing CI to fail across all PRs due to an OOM.

See https://helix.dot.net/api/2019-06-17/jobs/c91e6e61-3788-4c7f-b09b-5c092f9dc99b/workitems/System.Runtime.Numerics.Tests/console for one example of a failure.

[code]

[2020-06-30 05:31] AaronRobinsonMSFT commented on #38543
/cc @vitek-karas

[2020-06-30 06:13] pardahlman commented on #37952
My apologizes for not getting back earlier. Creating a repro app proved to be more challenging than I first expected. It seems to me that in order to reproduce this I had to do one of the following:

* Perform an outgoing HTTPS call without client certificate.
* Open an SQL connection to database server

This may sound odd, but performing one of those operations prior to the HTTPS call ensure dete

[2020-06-30 06:33] Clockwork-Muse commented on #38584
@lifengl - Possibly, but then they should be using [`Environment.GetFolderPath`]https://docs.microsoft.com/en-us/dotnet/api/system.environment.getfolderpath?view=netcore-3.1) (usually, providing `Environment.SpecialFolder.LocalApplicationData`).  Of particular note, `C:\` isn't guaranteed to be the drive the user directory is (solely) located on.  Also, using it (and creating the full path via [`P

[2020-06-30 06:35] marek-safar commented on #38543
@rolfbjarne this should not matter a lot as they will be removed by illinker

@CoffeeFlux would be nice to clean this up

[2020-06-30 06:36] marek-safar commented on #38605
/cc @BrzVlad

[2020-06-30 06:45] marek-safar commented on #38476
This requires https://github.com/dotnet/designs/pull/110 approval

[2020-06-30 06:50] marek-safar commented on #32744
@lambdageek / @CoffeeFlux I recall seeing fixing in this space. Could you check if this issue does still exist?

[2020-06-30 07:10] #35068 closed

[2020-06-30 07:16] marek-safar commented on #38433
Could you clarify why? We'd need to copy the files to the temp file system and add all the baggage for handling the json logic which is not necessary for self-contained setup.

I think a better approach is to add the configProperties section which is probably the only relevant part for self-contained configs to csproj PropertyGroup and handle it during build.

[2020-06-30 07:31] marek-safar commented on #37152
@kjpou1 is this issue still relevant?

[2020-06-30 08:01] srxqds opened #38607 "[feature request] How get value of parameters in stacktrace when exception?"
we want to get value of parameters in stacktrace, especially when exception throwing.
It is helpful to find the problem with wrong parameter value.
It make more efficiency in deleopement.

[2020-06-30 08:08] theaoqi commented on #38069
We hope to begin the work of upgrading to master this year, but I cannot give an accurate time at present. Even if we finish all the work, I am not sure when dotnet/runtime will (or maybe already?) close the door for such a new port to stabilize .NET 5. .NET 6 is an LTS release. If possible, maybe we will try to merge into .NET 6. @BruceForstall , may I ask when is the deadline for merging such a

[2020-06-30 08:09] rolfbjarne commented on #38543
The linker won't always be enabled, in particular for simulator builds.

There's another complication here, because sometimes we have to ask the native linker to keep the native symbols P/Invokes point to (because otherwise the native linker may remove them, if those symbols come from static libraries). The problem is that if there are P/Invokes to native functions that don't exist, we can't ask t

[2020-06-30 08:12] swaroop-sridhar commented on #38601
Hi @hez2010, can you please share a branch with your changes to `ppy/osu` so that I can try to repro the problem? Thanks.
Also, did you perform a clean build with the preview 6 SDK? Does the problem repro with preview 7? Thanks.

[2020-06-30 08:22] swaroop-sridhar commented on #36590
@Herohtar  can you please file a separate issue with a repro of the app you're trying to run?
Please give the details whether you are publishing a framework-dependent or self-contained app.
What is the target framework for the app? Thanks.

[2020-06-30 08:30] GrowSharp opened #38608 "System.DirectoryServices.Protocols - Linux -> searching with only anonymous bind"
### Description

I have anonymously bonded connection to AD. When I try to search (viz. code bellow)

`var searchRequest = new SearchRequest(LdapConstants.SETTING_USER_BASE_DIRECTORY, searchFilter, SearchScope.Subtree, LdapConstants.SettingGroupSearchAttributeFilter.ToArray());`

It throws: `An operation error occurred.`

### Configuration

Domain joined CentOS 7.8.2003
.NET Core 3.1.301, commit:

[2020-06-30 08:35] vaz-rodrigo commented on #1250
What about changing it to:

"Index was out of range. Must refer to a valid location within the collection."

This leaves it similar to the other messages while also hinting that there is some criteria to be obeyed.

[2020-06-30 08:35] GrowSharp opened #38609 "System.DirectoryServices.Protocols - Linux -> search query with escape sequence character (\)"
### Description

When I try to search for a role by it's CN that contains the `\` character, I get `The LDAP server returned an unknown error. (ldap error code: -7)`
Search request:
`var searchRequest = new SearchRequest(LdapConstants.SETTING_GROUP_BASE_DIRECTORY, searchFilter, SearchScope.Subtree, LdapConstants.SettingGroupSearchAttributeFilter.ToArray());`

### Configuration

Domain joined CentO

[2020-06-30 08:38] ManickaP commented on #38605
Hit in https://github.com/dotnet/runtime/pull/38453 [AzDO](https://dev.azure.com/dnceng/public/_build/results?buildId=709999&view=ms.vss-test-web.build-test-results-tab&runId=22004478&resultId=115657&paneView=debug)

[2020-06-30 08:38] GrowSharp opened #38610 "System.DirectoryServices.Protocols - Linux -> binding time"
### Description

So problem is, that sometimes (really randomly) the bind takes 127 seconds to complete. It doesn't matter if it's anonymous bind or not. Just sometimes the .Bind(); takes roughly 127 seconds. Did some logging around it for you to see, see **Data**.

### Configuration

Domain joined CentOS 7.8.2003
also Ubuntu 20.04
.NET Core 3.1.301, commit: 7feb845744
.Protocols version 5.0.0-pre

[2020-06-30 08:39] ManickaP commented on #37911
Hit in https://github.com/dotnet/runtime/pull/38453 [AzDO](https://dev.azure.com/dnceng/public/_build/results?buildId=709999&view=ms.vss-test-web.build-test-results-tab&runId=22007518&resultId=181216&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab)

[2020-06-30 08:44] GrowSharp opened #38611 "System.DirectoryServices.Protocols - Linux -> authenticating user with special characters"
### Description

I happen to find some problem with authenticating users with special characters in password. When I try to authenticate my AD test account with only numeric password it works correctly. When I try to authenticate a real user that has some special characters in the password I get `ldap error code: 49 (invalid credentials)`. I am indeed really sure, that I have the right credentials

[2020-06-30 08:47] MichalStrehovsky commented on #38582
I've been thinking about these kinds of patterns in the past. I think the safest way to approach this is through a wrapper class. Something like:

[code]

Linker cannot fully see through this, so it needs a suppression, but it's a small struct and it's easy to audit that it is in fact safe.

[2020-06-30 08:47] vaz-rodrigo commented on #36504
I've been trying to work on this issue but I think it might be bigger than was initially expected. One of the reasons the arrays are null is because the JsonConfigurationFileParser adds the elements of the array and not the array itself to the underlying ConfigurationProvider.

This implies that the solution involves not just changing the Extension.Configuration.Binder, but also checking if the co

[2020-06-30 08:48] GrowSharp commented on #36888
Created separated issues as asked:

1. #38608
2. #38609
3. #38610
4. #38611

[2020-06-30 09:14] hez2010 commented on #38601
Thanks!
The problem was gone with a clean build with preview 6 SDK.

[2020-06-30 09:25] akoeplinger commented on #38605
These tests are testing large BigInteger cases: https://github.com/dotnet/runtime/blob/2e1bab10fc5b4b645bd24c71b874b009a73563bb/src/libraries/System.Runtime.Numerics/tests/BigInteger/GetBitLengthTests.cs#L41-L43

Maybe we should disable them on Browser?

[2020-06-30 09:25] stephentoub commented on #38592
If it's possible it's empty, yes, it's up to the caller.

[2020-06-30 09:25] #38592 closed

[2020-06-30 10:17] pentp commented on #28695
The Flatten() issue was mostly resolved with #605

[2020-06-30 10:20] ansarizafar opened #38614 "Provide Ok() and BadRequest() APIs on HttpContext.Response"
[Route to code](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi7s8HJpqnqAhWFyYUKHT7pDgsQwqsBMAJ6BAgKEAQ&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dj-33Uz32hG0&usg=AOvVaw0Wj569N0mgRNvJu3jGU9Ml) is a great new addition to Asp.net core. New Apis like WriteAsJsonAsync() and ReadFromJsonAsync() are great for creating lightweight endpoints without using AP

[2020-06-30 10:30] juliusfriedman commented on #38592
Since this is closed I suppose a proposal for `TryWhenAny` would also not fly. Thank you for your time.

[2020-06-30 10:38] a-ctor commented on #37695
Thank you very much @jkotas for your help and quick response.

I didn't find a way to convince the build tooling to emit versions when using `ProjectReference` items. But I noticed that the versions were generated for Nuget packages and `Reference` items.

So I created a Nuget package with my `System.Web` assembly and the your build script. Reference that from a project and everything works like a

[2020-06-30 11:21] #38605 closed

[2020-06-30 11:25] iSazonov commented on #13628
@adamsitnik @bartonjs Thanks for clarify! But this answer raises even more questions.

The GetRandomBytes() is shared by some APIs (I found 5 references - NewGuid, HashCode, Marvin, Path.GetRandomFileName(), Random). So investments here will give a multiple effect.
Also if .Net has different behavior or/and _performance_ on different platforms I'd said that it is very-very bad UX. Here we see too

[2020-06-30 11:33] michael-gould opened #38627 "StackFrame.GetMethod returns null in Blazor wasm"
In Blazor WebAssembly,

    new System.Diagnostics.StackFrame().GetMethod()

returns null.

I'm on Windows 10 using VS2019 16.6.2, Blazor WebAssembly 3.2.0.

To reproduce: Create a new Blazor WebAssembly application (.Net Core 3.1), and replace Counter.razor with this:
[code]
Run the application, navigate to the Counter page and click on "Click me". Fails with a NullReferenceException.

For contex

[2020-06-30 13:36] xtqqczze commented on #38549
@danmosemsft I have two PRs to resolve these linter warnings. #38618 removes unused definitions and #38619 resolves false positives.

[2020-06-30 13:46] akoeplinger commented on #38433
Yeah I was imprecise when creating the title, I don't think we need to necessarily read the file as part of the WASM process but we need to handle it _somehow_ rather than just ignoring it.

[2020-06-30 13:58] GalaxyNetworks commented on #37641
It worries me that you won't fix 2.1. An LTS version! This is exactly an issue that needs fixing if stability is what you want.
I too have had this problem. My mistake was to comment on the archived repository.

Considering how small the change is, it seems rather odd to leave such a change out of an LTS version. That's like saying no body is using 2.1 so why support it. Or just update to a newer

[2020-06-30 14:04] tmds commented on #2014
So this option is: allow to use the system libunwind, and provide `_OOP_find_proc_info` as part of the runtime repo?

This seems like the most interesting option to me.

[2020-06-30 14:13] adamsitnik commented on #2127
@stephentoub thanks, I did not know about it!

Is there any reason why it's disabled in this repo?

https://github.com/dotnet/runtime/blob/3c9fcce29d00d0d38148c4113b17aeeaa5cbc970/eng/CodeAnalysis.ruleset#L54

[2020-06-30 14:18] Ramobo commented on #38567
There's no point in having that whole family. The order I chose keeps the convention of `Quaternion.CreateFromYawPitchRoll(...)`.

[2020-06-30 14:19] eerhardt commented on #38582
That's a good idea, I'll see if I can get that to work.

In mono, it looks like it was annotated using `PreserveDependency` to preserve the constructors:

https://github.com/mono/mono/blob/be6f43c80e88ec0613c35714bac9c110d4012acb/mcs/class/referencesource/System/compmod/system/componentmodel/ReflectTypeDescriptionProvider.cs#L109-L136

Which can easily get out of sync.

One other option I was play

[2020-06-30 14:24] stephentoub commented on #2127
Most if not all of the API-focused rules are disabled because they're not actionable on their own: we have a dedicated API review process for any new public APIs, so a developer can't just go in and fix a violation on their own.  There are currently dozens of warnings from the rule on public surface area, mostly APIs that have been around for a very long time.  If someone did the work to catalogue

[2020-06-30 14:40] lambdageek commented on #38337
I think this is due to
https://github.com/dotnet/runtime/blob/54d9241a344a6722e188d209b9f72a621207ca99/src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/DynamicServiceProviderEngine.cs#L25

The dynamic service provider engine is created by

https://github.com/dotnet/runtime/blob/54d9241a344a6722e188d209b9f72a621207ca99/src/libraries/Microsoft.Extensions.DependencyInjection/s

[2020-06-30 14:52] AntonLapounov commented on #38412
Previously discussed in #23771.

[2020-06-30 14:56] xtqqczze commented on #38549
@danmosemsft [super-linter](https://github.com/github/super-linter) looks like it has [a lot of dependencies](https://github.com/github/super-linter/blob/master/Dockerfile), we could just use an action based on [markdownlint-cli](https://github.com/igorshubovych/markdownlint-cli) (this is what super-linter does).

[2020-06-30 15:07] #35252 closed

[2020-06-30 15:09] swaroop-sridhar commented on #38601
Thanks for confirming this. Incremental build across sdk versions doesn't work correctly yet.

[2020-06-30 15:09] #38601 closed

[2020-06-30 15:13] k15tfu commented on #38306
@janvorli Yes, exactly. BTW, why do you use `com.apple.security.cs.allow-unsigned-executable-memory`? And when this entitlement is used, looks like IsRunningOnMojaveHardenedRuntime will always be 0, so probably it should be named more carefully.

I'm asking because in other case, if IsRunningOnMojaveHardenedRuntime is 1, the problem shouldn't exist.

[2020-06-30 15:18] vcsjones commented on #2406
@bartonjs This is back as my "next-to-do". I uh, noticed that the API got approved with a typo in a few of the method named (`Encypt` vs. `Encrypt`). I assume the API was approved under the assumption that I can spell and this doesn't need to go back to API review for that?

[2020-06-30 15:22] gjaw commented on #36590
It appears that self-contained single-file executable with native libraries embedded doesn't work for WPF apps currently. Attempting to launch the executable silently fails, but Windows Event Viewer is able to show that the error happened because of WPF DLL consistency check not allowing loading of PresentationNative_cor3.dll from the TEMP location where it was extracted from the bundle, expecting

[2020-06-30 15:29] CoffeeFlux commented on #32744
Yeah, I should have fixed all the issues of this class. If no one else gets a chance, I'll check the test to re-enable it next sprint.

[2020-06-30 15:34] iSazonov commented on #6074
I think the issue should be re-reviewed since we moved to ICU on Windows.

[2020-06-30 15:36] #38549 closed

[2020-06-30 15:40] bartonjs commented on #2406
Yep :smile:

[2020-06-30 15:42] GrabYourPitchforks commented on #13628
The Windows PRNG has lower overhead to call into.

We're fairly steadfast in our stance not to ship any PRNG written in managed code,  nor to call RDRAND or RDSEED from within the framework. If NewGuid is called multiple times in your scenario and it's bottlenecking your app, the best course of action really would be for somebody (either your app or the framework itself) to keep a thread local cac

[2020-06-30 16:03] mdh1418 commented on #36806
Blazor in .NET 5 does not support cryptography libraries. It will throw `System.PlatformNotSupportedException: System.Security.Cryptography is not supported on Browser.`

[2020-06-30 16:03] #36806 closed

[2020-06-30 16:19] jkotas commented on #13628
That's correct, but the raw throughput is also significantly lower on Windows compared to Linux.

Windows:
- `Guid.NewGuid`: 93ns
- `RandomNumberGenerator.GetBytes(16 bytes buffer)`: 122ns
   - Uses `BCryptGenRandom`, same underlying OS generator as `Guid.NewGuid`
- `RandomNumberGenerator.GetBytes(1024 bytes buffer)`: 687ns

Linux:
- `Guid.NewGuid`: 901ns
   - Uses `/dev/urandom`
- `RandomNumberGe

[2020-06-30 16:23] nattthebear opened #38623 "ILVerify - Packaged release seems to be missing embedded resources"
I installed the preview version of ILVerify, and it is giving me an error which seems to relate to its own compilation or packaging.

### Description
I installed ilverify:
[code]
[code]
Then, I invoked ilverify:
[code]
[code]

### Configuration
Looking at its `runtimeconfig.json`, I believe ilverify is running against the 3.1.3 runtime?
[code]
[code]

### Regression?

I've never used this tool bef

[2020-06-30 16:29] dagood commented on #38530
Looks like host tests, maybe only single-file host tests? @jeffschwMSFT @vitek-karas @swaroop-sridhar

[2020-06-30 16:31] #38350 closed

[2020-06-30 16:43] mkArtakMSFT commented on #38627
@marek-safar FYI

[2020-06-30 16:44] danmosemsft commented on #1250
It might be nice to include the index and collection size as well, for those "debugging" with only the help of the exception message.

Eg.,  "Index {0} was not within the collection of length {1}." or something like that? Perhaps you have a better suggestion.

This assumes that the cost of throwing the exception is significantly more than the cost of gathering the length (which for some collection

[2020-06-30 16:46] andyhopp commented on #36938
Terribly sorry; I had responded to the thread via email, but GitHub didn't attach it
The HSMs I'm familiar with actually use the private key payload as a "pointer" to the HSM-stored key material, and the cryptographic operations are handled by the dynamic engine (or CNG on Windows). This is handled transparently by OpenSSL/CNG, so no code modifications need to be made by the developer (beyond addi

[2020-06-30 16:47] danmosemsft commented on #37816
Thanks @DrewScoggins. Looks like you did this. Can you clarify the Legend on the graph? The purple and orange lines have build numbers, but I think I would expect the build number to be changing every day. My mental picture is there's a single line, with a datapoint every day, is that wrong?

[2020-06-30 16:47] andyhopp commented on #37383
Hello! Is there anything else I can do to help move this along?

[2020-06-30 16:48] danmosemsft commented on #37816
In the case of scenarios like this that are likely affected by the ICU change, a superimposed Linux measurement would likely be interesting - for example, we might see that Windows now matches Linux. (Whether we're OK with that is a separate issue)

[2020-06-30 16:50] danmosemsft commented on #38549
@xtqqczze as mentioned above, to add a linter it would at a minimum have to be totally reliable, and it would have to flag issues we care about (some markdown lint issues are things like inconsistent indent of headings which make no visual difference). If you think we should consider markdownlint-cli perhaps you could open a new issue to discuss.

[2020-06-30 16:53] GrabYourPitchforks opened #38628 "JIT doesn't properly optimize assignment to stackalloced span elements when used as 'out' parameters"
The JIT seems to include a bunch of unnecessary ceremony when using the pattern `Span<T> = stackalloc T[const];` and assigning _out_ parameters from functions to those elements. The codegen is especially noisy when using `ValueTuple` as a return type and deconstructing the values directly into a span.

See the examples below, with some assembly-level annotations inline.

[code]

[code]

The unalig

[2020-06-30 16:54] bartonjs commented on #36938
Do you have an example of such a "pointer"?  We don't use OpenSSL's PKCS12/PFX loader any more, but manually associate the X.509 and PKCS8 data.

[2020-06-30 17:00] marek-safar commented on #38627
@vargaz is this because we need some special runtime support?

[2020-06-30 17:00] layomia commented on #37913
This is fixed in 5.0, following https://github.com/dotnet/runtime/pull/2259. However, porting the fix to 3.x will not meet the servicing bar.

Some workarounds here are to use a custom converter, upgrade the app to a [preview of .NET 5](https://dotnet.microsoft.com/download/dotnet/5.0), or use a [preview of the System.Text.Json v5.0.0 package](https://www.nuget.org/packages/System.Text.Json/5.0.0-

[2020-06-30 17:00] #37913 closed

[2020-06-30 17:04] xtqqczze commented on #38549
We would first need to replace invalid inline HTML like `<a name="register" />` (see #38619). Otherwise, we cannot be sure to avoid false positives.

[2020-06-30 17:05] blushingpenguin opened #38629 "System.Threading.Tasks.Dataflow gets stuck using 100% cpu waiting for block completion"
### Description

I have created a minimal reproduction sample here:

https://github.com/blushingpenguin/DataflowHang

within a few seconds of running this (linux) or few minutes (Windows) then the dataflow will get stuck on "waiting for dataflow to complete" and spin the cpu (up to 4 cores worth, presumably matching the configured degree of parallelism for the blocks involved).

### Configuration

[2020-06-30 17:16] lambdageek commented on #38337
Longer stack trace:

[code]

[2020-06-30 17:22] steveharter commented on #34456
This overlaps a bit with https://github.com/dotnet/runtime/issues/36785. Currently evaluating 5.0 plan.

[2020-06-30 17:24] vcsjones commented on #36938
Is there a strong use case for loading dynamic engines programmatically as opposed to adding it to `openssl.cnf`?

Something like:

[code]

I think that would be enough to get an dynamic engine loaded and initialized.

[2020-06-30 17:26] iSazonov commented on #13628
From my experience from PowerShell repo ordinary users notice differences in a performance of individual operations starting with a 3-4 multiplier. Here we have a 10-fold difference. _This is too much to ignore._

My second concern is that MSFT can guarantee strong cryptography only for Windows NewGuid, but not for many Unix clones, each of which has its own characteristics and may have omissions/

[2020-06-30 17:30] jkotas commented on #38623
Thank you for reporting this. #38630 has the fix.

[2020-06-30 17:39] layomia commented on #34318
Triage: expand the above linked documentation to include notes I provided above.

[2020-06-30 17:39] MiYanni commented on #35586
IMO, you shouldn't 'round' a parser. The point of the parser is to say, "Was I able to parse this string into a Decimal value?" If the value is outside the range of Decimal, it logically should not be able to parse it as it is no longer a 'lossless' conversion/parsing. From a user's perspective, I get a string from *somewhere* and to me, `0` is different from `2.5976931e-101`. The slippery slope o

[2020-06-30 17:41] #38587 closed

[2020-06-30 17:42] xtqqczze opened #38631 "Add Github action to check markdown links"
*Follow-up to: #38549*

We should check markdown link definitions are valid. We could use <https://github.com/marketplace/actions/markdown-link-check> action.

[2020-06-30 17:43] stephentoub commented on #38629
Thanks for the repro.  I took a quick look, and I *think* the problem is that BatchBlock.BatchesNeedProcessing isn't factoring in _decliningPermanently.  _decliningPermanently is true, but BatchesNeedProcessing returns true rather than false; as a result, ProcessAsyncIfNecessary launches another task (which won't find anything to do) and then when it tries to complete the block, it finds there's a

[2020-06-30 17:46] danmosemsft commented on #38631
@jaredpar @ViktorHofer for thoughts.

FWIW have rarely had noticeable issues creep into markdown. The main issues would be the occasional broken link. It would be nice to prevent that creeping in. We also don't want CI reliability to go backwards. So in my mind, to have sufficient cost/benefit, a linter would have to be 100% reliable and fast.

[2020-06-30 17:52] GrabYourPitchforks commented on #13628
Not sure what you mean by this? Nobody in this thread has recommended a custom cryptographic solution.

@adamsitnik Per Steve's comment at https://github.com/dotnet/runtime/issues/13628#issuecomment-545563083 and Jan's comment at https://github.com/dotnet/runtime/issues/13628#issuecomment-651900257, is there anything left for us to do here? Sounds like consensus is trending toward "by design".

[2020-06-30 17:52] #37136 closed

[2020-06-30 17:53] safern commented on #37136
Fixed in: #38615

[2020-06-30 18:01] AndyAyersMS commented on #10315
@weltkante Thanks for the reminder.

I haven't looked yet.  Let me see if can find time in the next few days.

[2020-06-30 18:05] iSazonov commented on #13628
I am about follow:

How does user create the data fast if `/dev/urandom` is slow?
Also creating good global Guid Version 4 is not trivial.

[2020-06-30 18:21] GrabYourPitchforks commented on #13628
@iSazonov You'd continue to use the Framework-provided APIs for generating GUIDs. What I was suggesting is that if you were willing to take the hit of generating a bunch (16? 32?) upfront in a non-perf-critical part of your code, then you could drain that cache in the perf-critical part of your code. There's no need to roll your own crypto.

[2020-06-30 18:28] jeffhandley commented on #33331
@terrajobst @bartonjs -- Should the `PlatformName` property be renamed to `OSPlatformName`, or is it OK as-is?

[2020-06-30 18:30] terrajobst commented on #38028
* Instead of adding an interface member, we'd prefer exposing a new virtual on `DbDataReader` directly
    - @ajcvickers will follow up to see why we had the extension method calling through the interface instead.
* We avoid having more than two optional parameters b/c we found in UX studies that optional parameters are confusing
    - We should mirror the sync version which has had three overload

[2020-06-30 18:33] BruceForstall commented on #38069
@theaoqi It's too late for such a large amount of work to go into .NET 5. The 'master' branch will become the .NET 6 branch probably in early September. Generally speaking, it would be better to try to start the process of upstreaming this work to 'master' early in the .NET 6 product cycle, so there is enough time to do that work, and when risk tolerance for change is higher than it is towards the

[2020-06-30 18:54] danmosemsft commented on #37641
@GalaxyNetworks it is fully supported but as mentioned above, one of the reasons folks use LTS is to be supported with minimal churn. The cost of the port itself to us is not material, it's the risk of somehow breaking someone who's app was working fine in deployment for 2+ years and wants to be able to continue to take security fixes. With every change like this it is a balance.

We haven't gotte

[2020-06-30 19:03] jkotas commented on #38069
Also, upstreaming of the delta that is this large will likely need to be broken into multiple smaller PRs to be manageable. It expect that it will take several months of effort to merge.

[2020-06-30 19:04] blushingpenguin commented on #38629
I attached to a hung process, and it's definitely looping around spawning tasks in BatchBlockTargetCore.ProcessAsyncIfNecessary with _decliningPermanently = true.  In _nonGreedyState.PostPonedMessages, there is 1 message -- since the source has completed shouldn't this last message get forwarded though?  (I don't have a good handle on exactly what the code is doing so this could be totally off tar

[2020-06-30 19:07] danmosemsft commented on #37641
Having said that, talking to @stephentoub , your feedback is another +1 for porting it. We will take it for review.

[2020-06-30 19:09] terrajobst commented on #34817
* Makes sense as proposed.

[code]

[2020-06-30 19:14] vitek-karas commented on #36590
@gjaw Can you please create a new issue for the problem you're running into? In it, please include:
* The version of SDK you use to build the app
* Ideally the repro app (or if you can repro it with a template like `dotnet new wpf` even better)
* The target framework for the app (`netcoreapp3.1` for example)

[2020-06-30 19:15] terrajobst commented on #35601
* Makes sense as proposed.
* It seems if we had this, we could make the default implementation for `DbException.IsTransient` (#34817) check whether `SqlState` is not null and return true for transient SQLSTATE values.

[code]

[2020-06-30 19:20] hangy commented on #35601
I may be missing something, but from the docs, it doesn't look like `DbException` is limited to SQL databases. Having a `SqlState` on a NoSQL exception (ie. a `MongoException` might be derived from `DbException`) could be awkward.

[2020-06-30 19:20] stephentoub commented on #38629
No.  The repro has this code:
[code]
That means that fetchBlock first offers the message to the batch block, assuming the message passes the filter.  If the message either doesn't pass the filter or if the batch block is full and postpones the message it was offered, the message will instead be offered to the next linked block, which in this case is a "null" target that will happily accept (and dr

[2020-06-30 19:24] #37587 closed

[2020-06-30 19:34] gjaw opened #38636 ".NET 5.0 self-contained .exe with embedded native libraries is not compatible with WPF"
### Description

Simple repro steps in command line:
* `dotnet new wpf`
* `dotnet publish -f net5.0 -r win-x64 /p:PublishSingleFile=true /p:IncludeNativeLibrariesInSingleFile=true`
* launch the generated executable from the publish directory

Expected behavior:
* Application launches and shows the main window of the template WPF application

Actual behavior:
* Application launches and immediately

[2020-06-30 19:35] gjaw commented on #36590
Thanks, I submitted bug #38636

[2020-06-30 19:36] steveharter opened #38637 "Improve polymorphic performance of (de)serialization"
Scenarios that use `typeof(System.Object)` are significantly slower since:
- During serialization, the object's type is obtained and a dictionary lookup is performed to obtain the correct "converter". The dictionary lookup is expensive. It is possible to improve the caching here, especially when serializing a collection of objects where all elements are the same Type.
- During deserialization, the

[2020-06-30 19:37] swaroop-sridhar commented on #36590
@gjaw  Thanks for reporting the issue. I ran into a similar problem trying to test NugetPackageExplorer with `PublishSingleFile=true` and `IncludeNativeLibrariesInSingleFile=true`. The issue likely needs an update from WPF side. I'm looking into it.

[2020-06-30 19:39] lambdageek commented on #38337
Some printf debugging shows that indeed we don't own the lockword on some monitor:
[code]

The initial part of the managed stack looks like this by the time we try to do the monitor exit:
[code]

[2020-06-30 19:49] baxnie opened #38638 "Defect in ReaderWriterLock when using it in recursive scenarios and multiple instances on the same thread"
### Description

When creating 2 instances of the ReaderWriterLock they can influence eachother via the threadlocal static behind it holding the read locks. An AcquireReaderLock can clear all earlier AcquireReaderLock calls rendering in an incorrect ReaderWriterLockApplicationException.

The code sample below is not working while it should

            var lock1 = new ReaderWriterLock();

[2020-06-30 19:54] vaz-rodrigo commented on #1250
What if we add a different message for Insertions that are out of range? I read through a bit of the code here and I couldn't find anything else that allowed for a insertion by integer index. The closest that I could find was Collections.Generic.SortedList, which explicitly throws if you even try to do it.

Maybe have something like:
ArgumentOutOfRange_InsertIndex
"Index {0} was not within the col

[2020-06-30 20:01] nattress commented on #32333
This test is running fine in the CI. Closing.

[2020-06-30 20:01] #32333 closed

[2020-06-30 20:02] baxnie commented on #38638
[proposed Label] area-System.Threading

[2020-06-30 20:03] baxnie commented on #38638
labels: area-System.Threading

[2020-06-30 20:10] #32284 closed

[2020-06-30 20:13] #38348 closed

[2020-06-30 20:25] Clockwork-Muse commented on #38638
.... outside of any potential debug/fixing of this, recursive locks should usually be avoided.  If you're doing new development, the recommendation is to use `ReaderWriterLockSlim` and disable recursive locks.

For an example, there's this in the documentation for `ReaderWriterLock.AcquireReaderLock()`:

.... which means that if you don't know what the lock state of any particular part of your pro

[2020-06-30 20:31] GrabYourPitchforks commented on #414
UTF-7 is now properly marked `[Obsolete]`.

[2020-06-30 20:31] #414 closed

[2020-06-30 20:32] mikem8361 commented on #2014
The problem is the functions that _OOP_find_proc_info uses are internal to libunwind.

[2020-06-30 20:36] davmason opened #38639 "dotnet-gcdump and perfview's gcdump do not work on 5.0 runtimes"
If you collect a gc dump with either dotnet-gcump or perfview's gcdump command from a live process you will see output like this:

[code]

It works on 3.1 but fails on 5.0 runtimes. Since both tools are failing I suspect it is a runtime issue where we're not emitting the right events.

[2020-06-30 20:41] NikolaMilosavljevic commented on #2294
Closing - question of infra removal should go into its own issue.

[2020-06-30 20:41] #2294 closed

[2020-06-30 20:43] NikolaMilosavljevic commented on #2574
Closing - not an easy fix with Wix toolset that we use to build MSIs. It does not seem like a high priority.

[2020-06-30 20:43] #2574 closed

[2020-06-30 20:49] NikolaMilosavljevic commented on #2754
Closing - low ROI on test.

[2020-06-30 20:49] #2754 closed

[2020-06-30 20:51] NikolaMilosavljevic commented on #2758
Closing - @jcagme, consider for build validation.

[2020-06-30 20:51] #2758 closed

[2020-06-30 20:52] NikolaMilosavljevic commented on #2754
@jcagme , consider for build validation rings.

[2020-06-30 20:55] NikolaMilosavljevic commented on #3138
Closing - when there's renewed interest in keeping the file accurate, we'll revisit the automation.

[2020-06-30 20:55] #3138 closed

[2020-06-30 20:57] ViktorHofer opened #38640 "Remove infra for producing NetStandard RefPack"
See discussion in https://github.com/dotnet/runtime/issues/2294. We don't build netstandard packages anymore but the infra is still present (disabled). This item tracks removing the infra.

cc @NikolaMilosavljevic

[2020-06-30 20:58] Herohtar commented on #36590
@swaroop-sridhar In putting together a repo for the issue, I realized that I had forgotten to update one of the NuGet packages in my project to the preview6 version. After updating that the issue is resolved, so it was just me being dumb.

[2020-06-30 20:59] jcagme commented on #2754
What sort of testing should these have?

[2020-06-30 21:03] lambdageek commented on #38337
Current theory is that we call `Monitor.Exit` too many times, somehow.  Because all the `Enter` calls definitely own the monitor object.

[2020-06-30 21:08] swaroop-sridhar commented on #36590
Thanks for getting back @Herohtar. The Preview6 SDK uses a different host for single-file apps (than Preview 5 and before). So, mixing builds with Pre-preview6 SDKs will not work. But a clean build with the Preview6 SDK should work OK. Thanks.

[2020-06-30 21:10] NikolaMilosavljevic commented on #3446
Closing - this was for 3.0 and 3.1. @NikolaMilosavljevic please open a new issue after discussing with Fundamentals owners.

[2020-06-30 21:10] #3446 closed

[2020-06-30 21:17] NikolaMilosavljevic commented on #3610
Closing - obviated by a planned optional components workloads work.

[2020-06-30 21:17] #3610 closed

[2020-06-30 21:18] NikolaMilosavljevic commented on #3612
Closing - obviated by a planned optional components workloads work.

[2020-06-30 21:18] #3612 closed

[2020-06-30 21:18] NikolaMilosavljevic commented on #3614
Closing - obviated by a planned optional components workloads work.

[2020-06-30 21:18] #3614 closed

[2020-06-30 21:22] NikolaMilosavljevic commented on #3637
Closing - not a high impact.

[2020-06-30 21:22] #3637 closed

[2020-06-30 21:28] NikolaMilosavljevic commented on #3730
@jkoritzinsky is this still on track for 5.0?

[2020-06-30 21:30] jkoritzinsky commented on #3730
I don't think this will make 5.0 unless the MSI unwrapping comes in soon. I'll move this to 6.0.

[2020-06-30 21:45] lifengl commented on #38584
Well... i guess their one line console app product is too complicated to do all things correctly ;)

Frankly, those discussions are off the topic. If it is used to triage, well..  let say the invalid path might come from a mistake when the end user sets environment variable '$Home', if their product comes from unix. Or it can be a typo, in an output path inside a msbuild file, or maybe it is comin

[2020-06-30 21:55] josalem opened #38643 "[Infra] Collect dumps of all CoreRun exes in the process tree on test timeout"
I've noticed that timeouts for tests that leverage things like `RemoteExecutor` or custom remoting infrastructure will result in a dump only for the _first_ instance of `corerun` under the xunit test runner.

I propose that we update the dumping logic to dump every instance of `corerun` under that initial instance as well on timeout.  This would collect dumps for the "remote" process as well as th

[2020-06-30 22:04] briansull commented on #13651
This no longer repros, the code consistently prints 0:

Tier 0 code:
[code]
Tier 1 code:
[code]

[2020-06-30 22:23] briansull commented on #13651
Possibly caused by

commit c322db18a12a947e5be6f9276ffc52b6ae3aae47
Author: Vladimir Sadov <vsadov@microsoft.com>
Date:   Fri Oct 25 10:14:45 2019 -0700

    Use half-fences for volatile loads/stores on Windows ARM64 (dotnet/coreclr#27384)

[2020-06-30 22:25] #13651 closed

[2020-06-30 22:25] briansull commented on #13651
This issue is fixed

[2020-06-30 22:38] #38623 closed

[2020-06-30 22:51] rkttu commented on #36806
@davidfowl @mdh1418 Thanks for your comment. I understand that local cryptography in Blazor is a corner and rare use case. Also, it requires lots of computing resources. But I didn't find any notice or best practices about cryptographic API that does not support Blazor. This situation makes some confusion. If possible, even in the current version, this API should also throw the exception to preven

[2020-06-30 22:51] exones opened #38645 "dotnet pack randomly fails hard when packing with symbol packages (snupkg) with exit code 139 (Ubuntu 18.04 x64)"
### Description

After moving to building .NET Core code on Linux (we started using 3.1 right away) we started noticing random failures on `dotnet pack` with symbol packages (.snupkg) command with **exit code 139**. The problem goes away after rerunning and returns randomly. We have a lot of projects and it can fail with no visible system on any project.

Note: it says it builds the package, but t

[2020-06-30 22:57] roji commented on #35601
@hangy can you point to the place in the docs which suggests that? DbException is part of ADO.NET, along with DbConnection and DbCommand, which are very much about SQL databases (e.g. DbCommand has a textual CommandText which contains SQL).

[2020-06-30 22:58] rkttu commented on #36806
For those of you interested in this topic, there is one piece of information I found.
I found an alternative implementation. It will be an alternative implementation of built-in local cryptography.

https://github.com/ebekker/FMRL/tree/master/BlazorX.WebCrypto

https://github.com/BlazorExtensions/Home/issues/1

[2020-06-30 22:59] GalaxyNetworks commented on #37641
I've looked and looked and only found this recent issue for 2.1 so we may not be many who's suffering. I haven't seen this issue during development so seeing our production servers crash was a surprise. This gets worse with more customers getting migrated to the new servers and that's why I decided to comment on the issue even though it was closed.

I might have misunderstood what gets updated wit

[2020-06-30 22:59] #28695 closed

[2020-06-30 22:59] stephentoub commented on #28695
Thanks

[2020-06-30 23:02] Anipik commented on #32451
The  Benefits vs cost scenario is not that great for this issue, so we put it on hold. But u can summarize the steps in detail

[2020-06-30 23:02] #38645 closed

[2020-06-30 23:08] felipepessoto commented on #35586
**First a disclaimer about my last comment, Idk if my understanding is correct.**

About the rounding, it doesn't mean that any string will round to zero nor that it is happening because your value is out of range. The problem with the examples you gave is that both are so small that it round to zero. Any numeric type will round at some point, you can't have infinite precision.

Some examples:

"2

[2020-06-30 23:13] swaroop-sridhar commented on #38530
Looks like building the test fixture failed. It's strange, but there's nothing specific to single-file tests.
Somehow `root/runtime/artifacts/tests/Release/ahb/Directory.Build.props` is missing, so all remaining `Apphost.Bundle.Tests` failed.

[2020-06-30 23:24] joperezr commented on #943
not really, we logged https://github.com/dotnet/runtime/issues/37258 which was the issue that was going to track the work of adding infrastructure for tests to make sure annotations added to the libraries would root dynamic dependencies (or basically tests checking correctness of the annotations).

This other issue is very similar but is intended more to track size gains/regressions instead of cor

[2020-06-30 23:32] #34740 closed

[2020-06-30 23:35] GrabYourPitchforks commented on #32284
Breaking change notification: https://github.com/dotnet/docs/issues/19274

[2020-06-30 23:42] hangy commented on #35601
Maybe I was thrown off by the prefix and the fact that some of the classes in the `System.Data.Common` could be derived without actually using SQL. Generally, it looks like in that namespace, no class/interface or their members have a `Sql` prefix, since that's reserved for the `System.Data.SqlClient` provider.

[2020-06-30 23:50] danmosemsft commented on #37641
@GalaxyNetworks you probably know this, but to share feedback or get help with EF Core and ASP.NET Core the best thing to do is open issues in https://github.com/dotnet/aspnetcore and https://github.com/dotnet/efcore. Folks in this repo aren't experts in it. We do want you to be successful but that's the best way to share your feedback.

Thank you for giving more context on this issue. We'll see w

[2020-06-30 23:52] cheenamalhotra commented on #35601
Hi @hangy

"[SQLSTATE](https://en.wikipedia.org/wiki/SQLSTATE)" is a famous terminology applies to all SQL Databases (SQL Server, Oracle DB, MySQL PostgreSQL, etc.), and is not limited to SQL Server. Whereas SqlClient is only about SQL Server and Azure SQL. Hope that clarifies!

[2020-06-30 23:55] danmosemsft commented on #28695
Partly related, last year I made two failed attempts to improve ToString() for nested exceptions

https://github.com/dotnet/coreclr/pull/25045
https://github.com/dotnet/coreclr/pull/27333

I'm not planning to have another go for 5.0 although I do think it's worthy of improvement. I don't think there is an active issue tracking this so anyond reading this should feel free to open one if they care a

[2020-06-30 23:55] VSadov commented on #38590
Fixed in https://github.com/dotnet/runtime/pull/38602

[2020-06-30 23:55] #38590 closed

[2020-07-01 00:17] davidwrighton opened #38648 "generics_override1 test fails when compiled with crossgen2"
### Description

running test Loader\classloader\MethodImpl\generics_override1 produces an error when compiled with crossgen2.

It prints `Result = BaseTestGenericsShape.Method(C c, D d) Expected = DerivedGenericsShape<G>.Method(int e, G f) failCount = 1` instead of `Result =  DerivedGenericsShape<G>.Method(int e, G f) Expected = DerivedGenericsShape<G>.Method(int e, G f) failCount = 0`

This was

[2020-07-01 00:20] ericstj commented on #38559
Maybe we can omit everything that isn't changing.  Only list the things we aim to change, so it should be a list that's 20-40 items.

[2020-07-01 00:21] joshudson commented on #38412
Trying to add a few thousand years worth of milliseconds loses a few milliseconds due to roundoff.

[2020-07-01 00:41] hangy commented on #35601
@cheenamalhotra Thanks! I'm aware that classes in namespaces like `System.Data.SqlClient` are provider specific. I guess I just didn't know that ADO.NET is positioned as data access for ANSI SQL providers. Please disregard my previous comments. 😆

[2020-07-01 00:54] vcsjones commented on #38183
This will likely improve with some work that I am doing in #2406, how much is hard to say. I'll post some benchmark numbers as soon as I am able to.

I don't think the existing APIs can be as fast as straight calls to CNG, but they should improve. My hope is the new APIs in the linked issue can be closer, though that remains to be proven.

[2020-07-01 01:16] #38496 closed

[2020-07-01 01:33] MiYanni commented on #35586
Ah, I see. If that is the intended parsing mechanics of Decimal, then the Utf8Parser should match that. The `NumberStyles.Float` is a great find. Any way that fix could be done?

[2020-07-01 01:37] felipepessoto commented on #35586
Utf8Parser already matches decimal behavior, using your example, both returns true and the result is 0

[2020-07-01 01:38] v-haren commented on #37463
failed again in job: [runtime 20200630.96 ](https://dev.azure.com/dnceng/public/_build/results?buildId=712294&view=ms.vss-test-web.build-test-results-tab&runId=22086060&resultId=101450&paneView=debug)

failed test: Microsoft.Extensions.Http.DefaultHttpClientFactoryTest.Factory_CleanupCycle_DisposesEligibleHandler

Error message
[code]

[2020-07-01 01:41] BruceForstall opened #38652 "Linux/arm build warning with unw_getcontext"
[code]

This came up before, in https://github.com/dotnet/runtime/issues/5595, where it was stated that the behavior is acceptable/required for libunwind. The fix before was to suppress the warning by avoiding inlining (apparently). Somehow, that fix isn't good enough anymore.

Example: https://dev.azure.com/dnceng/public/_build/results?buildId=712094&view=logs&j=7c52437f-2051-5ead-95de-b55e3296cb

[2020-07-01 01:45] v-haren commented on #36681
failed again in job: [runtime-coreclr jitstress 20200629.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=710801&view=ms.vss-test-web.build-test-results-tab&runId=22032126&resultId=108744&paneView=debug)

failed test: JIT\\Regression\\JitBlue\\GitHub_27924\\GitHub_27924\\GitHub_27924.cmd

Error message
[code]

[2020-07-01 02:07] bgrainger commented on #38028
Should nullable annotations be discussed in this PR, or does that depend on whether #689 is merged before or afterwards?

The only change I would make is `string?[] restrictions` in `public virtual Task<DataTable> DbConnection.GetSchemaAsync(string collectionName, string?[] restrictions, CancellationToken cancellationToken = default);`
`

[2020-07-01 02:10] stephentoub commented on #38028
We should, yes, thanks, @bgrainger.  The nullable annotations on these should match those on the sync equivalents, and I see that the sync variant does have `string?[] restrictions`, so sounds good to me.

[2020-07-01 02:15] bgrainger commented on #38028
From https://github.com/dotnet/runtime/issues/16305

`ReadOnlyCollection<DbColumn> DbDataReader.GetColumnSchema()`

CC @saurabh500 in case there's anything to add here.

[2020-07-01 02:23] AndyAyersMS commented on #36971
Suspect the arm32 failures are the jit-stress induced profiler leave hook not properly maintaining GC liveness of the return value.

@CarolEidt I am thinking #37679 may be a contributing factor, as the return value is temporarily held in `r2` around the profiler callback. Failing method is `String.Format`.

[code]
Runtime complains `r0` is an invalid GC ref at that point.

cc @BruceForstall

[2020-07-01 03:26] theaoqi commented on #38069
@BruceForstall @jkotas , thank you, you have helped to make it more clear for me!

[2020-07-01 03:37] jason522008 commented on #38069
bravo loongson

[2020-07-01 03:49] fawdlstty opened #39060 "[question] new process to create new process failed"
# (ASP.Net Core) new process to create new process failed

[code]

I use this code to restart the server under Linux, the effect is always, the first time to create successfully and exit itself, the second time (new process) to create failed and exit itself, what is the cause of this problem, how to fix?

# General

centos7.5
.net core 3.1 (current latest version)
independent publish

[2020-07-01 03:57] vatsan-madhavan opened #38654 "Sporadic AccessViolationException creating a thread using `CreateThread`"
### Description

<< More likely just a question and not a bug report >>

**Is there a known problem that could cause memory corruptions when calling `CreateThread` directly to create a thread (and passing a manaaged method as its ThreadProc) in a managed process?**

--

When attempting to add P/Invoke sigs for `CreateThread` and allied functions (https://github.com/dotnet/pinvoke/pull/463), I obse

[2020-07-01 03:59] vatsan-madhavan commented on #38654
/cc @AaronRobinsonMSFT

[2020-07-01 04:21] AaronRobinsonMSFT commented on #38654
@vatsan-madhavan I've never observed this. One important note is that the `CreateRemoteThread()` API is identical to `CreateThread` when the current process is passed as the handle. I don't think that matters in this case but want to call it out. It would be helpful to see a DMP if possible. Do you know where the A/V is occurring? From the cursory look at the code it seems correct - albeit with a

[2020-07-01 05:07] jkotas commented on #38654
This is very likely caused by https://github.com/dotnet/pinvoke/pull/463/files#r448117142

[2020-07-01 05:07] #38654 closed

[2020-07-01 05:15] TobiasKnauss opened #38657 "Feature Request: IEnumerable<T> for XmlNodeList"
The current design of `System.Xml.XmlNodeList` in all versions of .Net Framework and .Net Core is:
`public abstract class XmlNodeList : IDisposable, System.Collections.IEnumerable`
https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlnodelist?view=netcore-3.1

It would make work with this class much easier (e.g. Linq could be used directly), if `XmlNodeList` also implemented `System.Collectio

[2020-07-01 05:16] #37196 closed

[2020-07-01 05:22] mangod9 commented on #37196
Thanks @AntonLapounov for resolving this.

[2020-07-01 05:25] #36586 closed

[2020-07-01 05:37] vatsan-madhavan commented on #38654
@jkotas thanks for the quick help!

[2020-07-01 06:02] marek-safar commented on #38559
I did first pass and added comments on what will most likely need to change. I don't think we should hold original PR as there are/will be PRs addressing this on per assembly basis as we enable more tests.

/cc @steveisok @MaximLipnin @mdh1418

[2020-07-01 06:12] elzero commented on #26460
3.1 there is still the same problem, when can it be fixed?

[2020-07-01 08:12] sandreenko commented on #38555
Hi @LEI-Hongfaan, thanks for the report, this issue was fixed by https://github.com/dotnet/runtime/pull/37379 (was not able to repro locally, so did iterations to find when it was fixed), so preview7 should not have it.

However, could you tell me which command did you use to compile this project?
I was trying `dotnet run Test38555.csproj` with
`<TargetFramework>netcoreapp5.0.0-preview</TargetFram

[2020-07-01 08:12] #38555 closed

[2020-07-01 10:55] akoeplinger commented on #32744
I tried and they seem to be passing, opened https://github.com/dotnet/runtime/pull/38658 to reenable.

[2020-07-01 10:58] molekm commented on #14929
Still waiting on something so crucial to be solved especially with Docker Linux/Windows.

[2020-07-01 11:07] Dogwei opened #38660 "Why is Hashmap in Java much faster than Dictionary in .NET?"
### Description

10 times faster on 1000 elements.

 5 times faster on 1000000 elements.

### Configuration

.NET Core 3.1 on release

Java 12 on nodebug

### Java

[code]
### C#
[code]

### Analysis

Is it possible that Java use more extreme tiered compilation optimization?

[2020-07-01 11:26] tmds commented on #2014
Until @sdmaclea 's libunwind PR gets merged and becomes available, the least work is to use the packed libunwind.
We can look at backporting the PR for distros we care about.

We should keep this issue open to get `CLR_CMAKE_USE_SYSTEM_LIBUNWIND=true` back in a working state.

@omajid wdyt?

[2020-07-01 11:42] juliusfriedman opened #38661 "Stack Overflow. Aborted"
When running under `Ubuntu 18.04.4 LTS \n \l`

I have a program which exhibits the aforementioned behavior. (as the only output)

Aborted

Under Windows this does not occur so far as I can find on the resources I have immediately available.

Under a similar VM in Linux (same os) with less cores and resources this does not occur...

The problem currently exists on a  (`lscpu`):

[code]

How can I d

[2020-07-01 11:53] juliusfriedman commented on #38661
cc @danmosemsft @tmds @jkotas

[2020-07-01 11:55] GSPP commented on #2406
A use case for this low-overhead API is `mega.nz`. It uses a custom encryption solution that uses AES as a primitive. It encrypts a single block per call. The per-call overhead is significant.

The MEGA client: https://github.com/gpailler/MegaApiClient
Used by the Duplicati backup software: https://github.com/duplicati/duplicati

I made a code contribution to MegaApiClient because it strongly limi

[2020-07-01 12:01] marek-safar commented on #33331
@terrajobst is the intention to use `RemovedInOSPlatformAttribute` also for APIs which were never supported on the OS platform or is the plan to have another concept/attribute for APIs which always throw PlatformNotSupportedException ?

[2020-07-01 12:38] tmds commented on #34126
.NET is throwing because the process that is writing to the file has indicated it wants exclusive access.
It seems appropriate to throw in this case.

Python isn't throwing because it doesn't check.

.NET applications and other .NET applications should get along fine because the effect of the locking implementation resembles that of Windows.
Most Linux native apps won't check the advisory locking,

[2020-07-01 12:50] #29185 closed

[2020-07-01 13:20] SingleAccretion commented on #38660
Some thoughts:
1. Would it be better to move the array init logic outside the loop? As is, the bechmark is very noisy because of constant allocations. Java can also do objects-on-stack, but I doubt this is happening there.
2. `stopwatch.Stop` should probably be called before `Console.WriteLine`.

[2020-07-01 13:27] jnanneng opened #38666 "Microsoft.Extensions.DependencyInjection & .NET FWK"
### Description

The Microsoft.Extensions.DependencyInjection nuget package contains a target lib for the .NET framework 4.6.1.  This package however has a required dependency on Microsoft.Extensions.DependencyInjection.Abstractions which only provides a target for .NET Standard (2.0).

This is problematic as noted here:  https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-

[2020-07-01 13:57] tsk238 opened #38668 "Gateway Timeout -504 issue with API request - .net 4.7.2 framework but works with .net core"
I have issue sending a request to API using .net 4.7.2 framework but works with .net core. If I use .net 4.7.2, it is giving me Gateway Timeout -504 but same code works for .net core request. What would be the fix here for the .net 4.7.2 framework with this kind of issue ?

[2020-07-01 13:59] marek-safar commented on #38405
@swaroop-sridhar are there any tests for the behaviour difference for single-exe for these APIs? I'm asking as we'd like to re-use that for similar scenarios.

[2020-07-01 14:05] eiriktsarpalis commented on #38660
Related: https://github.com/dotnet/runtime/pull/36252. Would be interesting to try the same benchmark with non-string keys.

[2020-07-01 14:11] eiriktsarpalis commented on #38657
@TobiasKnauss FWIW it should be possible to work around that limitation by using `xmlNodeList.Cast<XmlNode>()`.

[2020-07-01 14:28] jkotas commented on #38661
Running "ulimit -c unlimited" will enable crash dumps.

The instructions for installing sos and lldb for crash dump debugging are at https://github.com/dotnet/diagnostics/blob/master/documentation/installing-sos-instructions.md

Another option is to get latest .NET 5 Preview and publish the app using that. The stackoverflow stacktrace is part of the error message in .NET 5.

[2020-07-01 14:49] filipnavara opened #38670 "Windows system proxy URL behavior differs from IE/Edge/Chrome"
### Description

When the system proxy is set to URL beginning with "http://" most browsers automatically strip it and work with the settings. However, .NET applications don't do that and so the same system settings appear not to work. It's easy to fix on the user's machine by deleting the prefix in the system settings but it's non-obvious problem to diagnose. Maybe it would make sense to align th

[2020-07-01 15:21] SingleAccretion commented on #38660
The benchmark (.NET version) is very sensitive to some random stuff (alignment, our old friend?). On different runs I've got these average results for the metrics (they are fairly consistent within each run). Note that I moved the the array initialization outside the loop.
| Run | "Exists" | "Not exists" |
|------|---------|--------------|
| 1      | 1000    | 1800            |
| 2      | 500

[2020-07-01 16:15] tannergooding commented on #35586
IEEE 754, which defines the behavior for `float` and `double` and the longstanding behavior of `Decimal` (which is the Windows `DECIMAL` type) is that inputs are taken as given, the operation is performed as if to infinite precision and unbounded range, and is then rounded to the nearest representable result.
This means that nothing is really unpresentable, it might just not be exactly representab

[2020-07-01 16:22] terrajobst commented on #29185
Can't tell. This issue was approved before I started to explicitly put comments on everything we approved. I assume we thought the design as outlined in the description was sufficient to approve.

[2020-07-01 16:23] stephentoub commented on #29185
Ok.  In #38520 I merged just adding a `string? Justification` property, per https://github.com/dotnet/runtime/issues/29185#issuecomment-571726362

[2020-07-01 16:30] terrajobst commented on #29185
Makes sense. We probably didn't consider the suppress message attribute.

[2020-07-01 16:36] terrajobst commented on #33331
Parameters are often prefixes/suffixes of types names. I'd leave it as `platformName`. /cc @fxdc

[2020-07-01 16:39] bricelam commented on #38028
The reason for DbDataReaderExtensions.GetColumnSchema() and IDbColumnSchemaGenerator is that it falls back to DbDataReader.GetColumnSchema() and an adapter when the reader doesn't implement the interface.

https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Data.Common/src/System/Data/Common/DbDataReaderExtensions.cs#L54-L65

The reason that it wasn

[2020-07-01 16:39] tarekgh commented on #14929
@molekm can't you use the library https://github.com/mj1856/TimeZoneConverter?

[2020-07-01 16:39] terrajobst commented on #33331
@marek-safar

If an API is marked as `MinimumOSPlatform` then it's assumed that only the marked OS are supported. An API that has no `MinimumOSPlatform` attribute is assumed to be supported everywhere. So no, we wouldn't use `RemovedInOSPlatformAttribute` for that purpose. Rather, we'd omit the `MinimumOSPlatform` attribution.

[2020-07-01 16:46] juliusfriedman commented on #38661
Thank you for the information, will close this until I have further information.

[2020-07-01 16:46] #38661 closed

[2020-07-01 16:53] bartonjs commented on #33331
I agree that neither the property or parameter need the "OS" prefix on it.  The type of platform is inferred from the type name.  (The bare word "Name" wouldn't be good since it could be mistaken for a label for the attribute instance, vs the platform identifier.)

If we wanted to change anything about it, I'd change the parameter and property to `PlatformId`, since "name" (vs "id") might confuse

[2020-07-01 17:37] #32744 closed

[2020-07-01 17:50] AndyAyersMS commented on #38628
Taking a look.

[2020-07-01 17:52] BruceForstall commented on #32648
I think it's too late in the product cycle for us to do this. Moving to Future.

[2020-07-01 18:16] EgorBo commented on #38628
btw, I'd expect
[code]
and
[code]
to have the same codegen but currently the latter is better.

[2020-07-01 18:32] jeffhandley commented on #33331
@terrajobst The attributes as we have them allow us to create a list of platforms with included support.  Was there consideration for an attribute to indicate excluded support for scenarios like this one? On the surface, it seems like an `OSPlatformNotSupportedAttribute` could help here, but I’ve not thought it through too deeply.

[2020-07-01 18:41] YairHalberstadt opened #38677 "Allow stackalloc span of reference types"
I was looking at these old notes from the LDM: https://github.com/dotnet/csharplang/blob/master/meetings/2018/LDM-2018-09-19.md#params-spant

The idea being that allowing for stackallocating an array of reference types, combined with params span, would allow for using params in an allocation free manner. I've contributed language features to Roslyn in the past, and would definitely do the compiler

[2020-07-01 18:42] maryamariyan commented on #38666
/cc: @ericstj

[2020-07-01 18:50] AndyAyersMS commented on #38628
Still looking, but a few early notes:

1. Jit should perhaps handle `IsReferenceOrContainsReferences` as an intrinsic (it is marked as such since 60ec460ee but is not recognized by the jit). As things stand now we end up inlining this and realizing it returns a constant, but we don't prune the flow graph base on this until after we're done importing and inlining. So we do some extra work that we t

[2020-07-01 18:50] BrainSlugs83 commented on #36563
So, it's been a couple of years... and it's still not updated in the docs -- and the MSDN documentation doesn't even mention this (in fact the example code is out dated and using properties that don't exist like `MemoryCache.Default`).

CacheEntry.Size doesn't even mention if it has a default value or not -- can I assume the default value is 1?

[2020-07-01 18:57] ericstj commented on #38666
Mirroring targetframeworks in general is an anti-pattern.  Packages are a layer of abstraction that shouldn't leak into consumption / dependencies.  In this case I believe DI cross-targeted because it wanted to have a feature on .NETFramework that it couldn't support everywhere.  Here that's Ref.Emit-Save.  See https://github.com/dotnet/runtime/blob/1621d7c7d508e779f159009851ea2916cb95d7dc/src/lib

[2020-07-01 18:57] stephentoub commented on #38670
cc: @wfurt

[2020-07-01 18:58] eerhardt opened #38678 "Make DependencyInjection more linker trimmable"
In Microsoft.Extensions.DependencyInjection, there are a few different "engines" that decide how to instantiate services, and how to inject those services into objects using those services.

Options are:

* Dynamic
* Runtime
* ILEmit
* Expressions (System.Linq.Expressions)

The way it decides which to pick is based on an enum:

https://github.com/dotnet/runtime/blob/8b50c519a8deaffed3f221874ecc39b

[2020-07-01 19:00] eerhardt commented on #38439
I've logged https://github.com/dotnet/runtime/issues/38678 to make DependencyInjection more trimmable. Fixing that will remove  both Linq.Expressions and Ref.Emit in a default Blazor WASM template app.

[2020-07-01 19:03] wfurt commented on #38670
Could you be more specific @filipnavara, I don't understand the use case. Why `http://` prefix would be a problem?
In case of browsers, you typically also do ftp, socks and then "just name" may make more sense.

[2020-07-01 19:03] AndyAyersMS commented on #38628
@EgorBo the main difference I see in codegen for `stackalloc` and  `&local` is that the former introduces a stack integrity check. Actual access to the storage seems comparable.

We have discussed considering span-wrapped stackalloc as implicitly safe but so far still consider it as an "unsafe buffer".

[2020-07-01 19:12] filipnavara commented on #38670
Maybe I was not clear in describing it. What happened was that I was diagnosing an issue with customer that has a system proxy setup. The setup looked somewhat like this:

![image](https://user-images.githubusercontent.com/1764393/86282032-c2968680-bbde-11ea-9c2b-21448d8f3d63.png)

Notice that the proxy address is entered with the "http://" prefix even though it's supposed to be just plain DNS nam

[2020-07-01 19:13] coolboy190 opened #38679 "SSL connection problems on MacOS X: StartSendAuthResetSignal throws Internal error"
Getting an Internal error on making `k8s.Kubernetes.ListNamespacedServiceWithHttpMessagesAsync` call using the [Kubernetes C# SDK](https://github.com/kubernetes-client/csharp) on MacOS X. The same call works on Windows and another Mac running the same OS version. I'm unable to figure out the root cause because the error message is not descriptive enough.

The app is targeting netcoreapp3.1 framewo

[2020-07-01 19:16] wfurt commented on #38670
ok. that would make sense. e.g. strip extra `http(s)://` if it exist in place where we do not expect it. I think for manual setting, we get it just once so the perf change should be trivial.

[2020-07-01 19:23] scalablecory commented on #38670
Hrm, I could swear we are already stripping that off, unless it's coming over super whack e.g. http://http://...

[2020-07-01 19:25] stephentoub commented on #38670
It certainly looks like it's trying to:
https://github.com/dotnet/runtime/blob/b5343788dc32615b7828a4f2287174b939c0c3b8/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpWindowsProxy.cs#L93

[2020-07-01 19:26] stephentoub commented on #38670
Ah, that's just the bypass.

[2020-07-01 19:29] jkotas commented on #38677
Related / duplicate: https://github.com/dotnet/runtime/issues/25423

[2020-07-01 19:37] #38455 closed

[2020-07-01 19:43] scalablecory commented on #38670
https://github.com/dotnet/runtime/blob/b5343788dc32615b7828a4f2287174b939c0c3b8/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/MultiProxy.cs#L237-L246

[2020-07-01 19:48] filipnavara commented on #38670
@scalablecory Interesting. Apparently a similar code exists in the .NET Core 3.1 branch as well:

https://github.com/dotnet/corefx/blob/730e2f7af7ce3e6b141be1051a8a050b2c4d480f/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpWindowsProxy.cs#L234-L245

I wonder why it didn't work on that setup.

[2020-07-01 20:14] #36271 closed

[2020-07-01 20:22] AndyAyersMS commented on #33189
@tommcdon @noahfalk @jkotas wanted to check with you about priority of addressing this for 5.0. It should improve debugging experience in optimized code, but hard to say exactly where or by how much.

My impression is that debugging of optimized code is something we don't regularly test, so quantifying regression vs improvement from something like this (and guarding against future regressions) are

[2020-07-01 20:24] lambdageek commented on #36653
possible duplicate of https://github.com/dotnet/runtime/issues/34389

[2020-07-01 20:32] echesakovMSFT commented on #33948
I have draft PR #38599 that does splitting by method name

@tannergooding Regarding your concerns

It shouldn't increase either build time or the number of build artifacts since I build only one executable AdvSimd.dll and create many .cmd files that run this executable with arguments that are space separated test names. Judging by Kusto telemetry I don't see the dramatic increase in the tests runn

[2020-07-01 20:39] AndyAyersMS commented on #38628
Beyond the above the main issues are

4. the jit won't enregister small structs with fields

5. the jit doesn't have the ability to build a detailed model of what happens when a piece of localloc storage is cast to another type and then is consistently accessed as that type (we'd need some form of "memory SSA" or equivalent).

Because of these the jit is conservative and can't propagate values lik

[2020-07-01 20:45] #27619 closed

[2020-07-01 20:45] jkotas commented on #33189
Is the new debug info tracking system used just for optimized code; or is it used for both unoptimized and optimized code?

I have spot checked number of debug info deltas with the new debug info tracking system, and all of them were clear improvements. I would ok with taking this, even without having exact methodology to measure the improvement.

As to whether to take it for .NET 5 or later, I do

[2020-07-01 20:49] AndyAyersMS commented on #35314
Given that we haven't had any bugs (that I know of) from the variety of approaches to handling duplicated operands, I'm tempted to say we should put off any cleanup work until after 5.0. We can try to clean up/unify early in 6.0.

Thoughts?

[2020-07-01 20:50] tannergooding commented on #33948
Provided it isn't significantly increasing the build or run time. I don't have a problem.

[2020-07-01 20:58] swaroop-sridhar commented on #38405
@marek-safar  we don't have API tests yet. I'm working on a change to add the following tests:

For .netcoreapp3.x single-file apps  the APIs will return the actual location of assemblies in the extraction location.
For .net5 single-file apps, the behavior of the above APIs will be the same as assemblies loaded from a byte stream.

* AppContext.BaseDirectory
   * The single-file app directory for

[2020-07-01 21:02] AndyAyersMS commented on #33189
My impression is the debug emission is dependent on the jit's instruction group boundaries which can vary when compiling vs cross compiling. The semantic impact of the debug info is the same, it's just that sometimes a live range is broken up into contiguous parts instead of a single range.

Not sure how hard this is to fix this either -- let me try and work up some sort of estimate.

[2020-07-01 21:10] echesakovMSFT commented on #33189
Yes, this happens due to the different number of instrDesc per IG on cross-arch vs native compilers.

Another issue was that when computing the live range that crosses boundaries of 2 IGs and the second one is an "overflow" IG.

[2020-07-01 21:25] GrabYourPitchforks opened #38682 "Much of System.Transactions.Local's distributed transactions logic is a no-op but cannot be linked away"
Example: the internal interface `System.Transactions.IPromotedEnlistment` has no implementations, which means all fields and locals of type `IPromotedEnlistment` will always have the value _null_. The ILLinkTrim step that we use when building the libraries cannot always optimize this away, which results in us building and shipping a larger-than-necessary assembly which contains dead code.

The are

[2020-07-01 21:39] cston opened #38683 "Add NativeIntegerAttribute"
## Background and Motivation

Allow annotating references to `System.IntPtr` and `System.UIntPtr` as native integers in metadata.
See [spec](https://github.com/dotnet/csharplang/blob/master/proposals/native-integers.md).

## Proposed API

[code]

Used by the C# compiler to represent type references to `nint` and `nuint` in metadata.

The C# compiler reserves the attribute for compiler use only.

I

[2020-07-01 21:42] jaredpar commented on #38455
Glad we got this fixed. One part that is still not clear though is why is this passing in PR but failing in Rolling builds? Basically how do we guard against this happening in the future?

[2020-07-01 21:47] CarolEidt commented on #38455
I'm not certain, but my guess is that the PRs don't use a checked runtime? This was failing a JIT assert, but in the case that it was failing it was benign.

[2020-07-01 21:50] jashook commented on #38455
The reason is we have a debug configuration of the managed library tests with a checked runtime. To my knowledge this will produce debuggable code by the jit (MinOpts). @CarolEidt can confirm. If this is the case, the pr libraries testing with a checked runtime is less interesting then running release libraries tests.

[2020-07-01 22:12] HongGit commented on #36154
@eerhardt are you going to do this work?  Can you please assign a milestone to this issue?

[2020-07-01 22:13] HongGit commented on #34151
@mconnew can you please port this to 5.0?

[2020-07-01 22:24] HongGit commented on #1409
@imcarolwang is this still on your radar?

[2020-07-01 22:28] tannergooding commented on #35314
That sounds reasonable to me. I was mostly just interested as I had seen a number of varying mechanisms 😄

[2020-07-01 22:32] GrabYourPitchforks commented on #38628
@AndyAyersMS Thank you for the detailed first look! Would it make sense for me to file a separate issue re: the bounds check?

[2020-07-01 22:54] ericstj commented on #34755
ImageConverterTest : Likely the same as https://github.com/dotnet/runtime/issues/34591

[2020-07-01 22:55] sywhang commented on #37945
Closed via #38313

[2020-07-01 22:55] #37945 closed

[2020-07-01 22:57] DrewScoggins commented on #37816
Yeah, I should probably change the legend as it doesn't make sense here outside the context of the full report. You are correct in thinking that these are about one build per day. Also yeah, I can take a look at building out graphs that have the Windows vs Linux comparison so we can see how we look compared to that as well. I will post those in the relevant issues.

[2020-07-01 23:03] joperezr commented on #4722
In order to move this forward we need an actual API Proposal so that it can be reviewed.

[2020-07-01 23:05] joperezr commented on #4779
In order to consider this we need an actual Api Proposal so we can move it forward.

[2020-07-01 23:06] joperezr commented on #31478
We would need to get a full API proposal in order to consider this.

[2020-07-01 23:12] joperezr commented on #5758
Closing as from @jkotas response above there is nothing left to be done here. @jamesqo feel free to reopen if you think otherwise.

[2020-07-01 23:12] #5758 closed

[2020-07-01 23:12] eerhardt commented on #36154
I'm not sure who will actually do the work. But there will be an effort to get the libraries annotated in 6.0, so I moved it to there.

[2020-07-01 23:14] joperezr commented on #6010
This issue was logged a long time ago and since then a lot of changes have gone in to the generation of shims and facades includded in the frameworks so that this problem wouldn't happen any longer so I'm closing this for now. Feel free to reopen if anybody else starts hitting this.

[2020-07-01 23:14] #6010 closed

[2020-07-01 23:16] ericstj commented on #34565
Running under es-ES won't make a difference.  This test case specifies en-US:
https://github.com/dotnet/runtime/blob/d89772ae2c8ce4f7e0bb7af4891619ff759ee1c0/src/libraries/System.ComponentModel.TypeConverter/tests/MaskedTextProviderTests.cs#L557-L559

Looks like Windows allows to change the formats even on English, might be something interesting to add to our test runs.
![image](https://user-image

[2020-07-01 23:16] joperezr commented on #6419
From what I read above seems like this issue is resolved now so I'll go ahead and close it for now. Feel free to reopen if that is not the case and there is still something we can fix in the documentation side.

[2020-07-01 23:16] #6419 closed

[2020-07-01 23:18] ericstj commented on #28200
Though the API as proposed places this in System.ComponentModel, it would need to be understood by Enum.GetName which is actually CoreLib / System.Runtime.

FWIW it isn't "undefined" it's just not entirely predictable.

[2020-07-01 23:23] joperezr commented on #19208
From the discussion above, this seems to be resolved as a no-op for us for now so I'll go ahead and close this issue. @danmosemsft  feel free to reopen if that is not the case.

[2020-07-01 23:23] #19208 closed

[2020-07-01 23:24] AndyAyersMS commented on #35314
Ok, I'm going to move this.

[2020-07-01 23:24] danmosemsft commented on #37816
One other feedback, it would be good in these issue to clarify what the diff link represents. In the graphs above, it seems clear that there are 3 distinct regressions across these scenarios -- Dec, early Jan, and early March. The single diff link provided above covers 7 months , and it's out of the dotnet/installer repo. It's so huge that I get a Unicorn trying to view it. What might be ideal is

[2020-07-01 23:25] AndyAyersMS commented on #35687
This is an OSR-only issue; since that's an experimental feature in 5.0 and the fix looks to be somewhat disruptive and would impact more than OSR, I'm going to mark this as future.

[2020-07-01 23:27] joperezr commented on #7120
Moving to 5.0 milestone just to do a quick check to see if there is anything that we want/need to do in here for 5.0 as from the discussion above it is not clear yet what works and what doesn't.

[2020-07-01 23:28] josalem commented on #38639
uh oh!  Is it possible this can be tied back to the changes for the new Pinned Object Heap?  GCHeapDumps work via callbacks while the GC walks the heap.  If the events changed or format of the type info changed, it is quite possible the GCHeapDump event parsing logic is failing to map type info to events in the stream.  I don't have immediate bandwidth to triage this, but I'll take a look hopefull

[2020-07-01 23:29] AndyAyersMS commented on #38230
As noted over in #36971, I suspect this is a (stress induced) exit profiler hook issue, perhaps introduced by #37679.

I'm going to provisionally undo that and see what happens.

[2020-07-01 23:29] ericstj commented on #33119
Good bug.  Seems like something that we could fix but would want to do so earlier in a release since this has been this way since .NETFramework.  Moving this to 6.0.0.

[2020-07-01 23:32] ericstj commented on #33061
We should fix this by adding attributes back and pointing to converters via string assembly qualified type name.

[2020-07-01 23:35] joperezr commented on #7887
From @jkotas response above it doesn't sound like this is a product issue, at least not with the shipping product so given the lack of activity here I'll go ahead and close this for now. Feel free to reopen if you think otherwise.

[2020-07-01 23:35] #7887 closed

[2020-07-01 23:39] ericstj commented on #1527
@jkoritzinsky I believe this code was deleted from dotnet/runtime recently.  We should make sure we don't have the same bug in C#-winrt.

[2020-07-01 23:42] ericstj commented on #1237
@buyaa-n looks like feedback on correctness of the nullable annotations of System.ObjectModel
https://github.com/dotnet/corefx/pull/41808

[2020-07-01 23:44] eerhardt opened #38692 "Mono's ILLink Descriptor is preserving all the fields on Reflection.Emit types"
See the `preserve="fields"` on these types:

https://github.com/dotnet/runtime/blob/d89772ae2c8ce4f7e0bb7af4891619ff759ee1c0/src/mono/netcore/System.Private.CoreLib/src/ILLink/System.Private.CoreLib.xml#L617-L648

When `Reflection.Emit` is no longer used in an app, `AssemblyBuilder` still gets pulled in because `AssemblyLoadContext::GetRuntimeAssembly` is checking for `AssemblyBuilder`:

[code]

h

[2020-07-01 23:45] AndyAyersMS commented on #38628
Sure.

Note there are a few similar looking issues already, eg #10686, #32776, #1115, but would take some digging to tell if any of them are the same sort of issue.

[2020-07-01 23:46] jkoritzinsky commented on #1527
C#/WinRT does not have the same bug. It returns null instead as it should.

[2020-07-01 23:46] #1527 closed

[2020-07-01 23:49] joperezr commented on #22343
This doesn't seem to belong on System.Runtime area. Moving it to infrastructure so that it gets triaged there in case we want to add any analyzer as part of our build infra to cover this.

[2020-07-01 23:49] wfurt commented on #37952
I'm not able to reproduce it. I checkout the repo and I get
[code]

so the first client authentication works just fine. Could you do packet capture of all traffic from that container?
It seems like this can be some environmental issue.

cc: @bartonjs since he commented on the StackOverflow post.

[2020-07-01 23:51] joperezr commented on #22732
It is not clear here what (if anything) should be fixed in the runtime repo as most people hitting this problem are usually due to a misconfiguration on their project causing .NET Core libraries to end up on their .NET Framework applications. For this reason I'll go ahead and close this issue for now but feel free to reopen if you think otherwise.

[2020-07-01 23:51] #22732 closed

[2020-07-01 23:51] eerhardt opened #38693 "JsonSerializerOptions.MemberAccessorStrategy shouldn't use Reflection.Emit when IsDynamicCodeCompiled is false"
When trimming a Blazor WASM app, the last usage of Reflection.Emit (after fixing #38678) is coming from System.Text.Json.Serialization.JsonSerializerOptions:

https://github.com/dotnet/runtime/blob/d89772ae2c8ce4f7e0bb7af4891619ff759ee1c0/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs#L423-L438

However, on Mono WASM, `RuntimeFeature.IsDynamicCodeCompile

[2020-07-01 23:51] VSadov commented on #38639
It is possible it is caused by Pinned Heap, although I do not recall if events changed for this.

[2020-07-01 23:55] safern commented on #22343
@ericstj @ViktorHofer is this something we still need/want? It seems we have lived without it for 3 years already.

[2020-07-02 00:00] AndyAyersMS commented on #33189
It looks like it is used for both debug and optimized code (see eg `siOpenScopesForNonTrackedVars`). So there is some risk of changing/regressing debug info for debug codegen.

We can force the jit produce debug codegen and use PMI/SPMI to screen for possible diffs in the debug info produced.

If live range merging were updated to handle overflow IGs it would address both these issues, right?

See

[2020-07-02 00:08] noahfalk commented on #33189
Quantifying improvement ad-hoc can probably be done relatively quickly, either by looking at example diffs in the debug data or by debugging typical snippets of C# in the VS debugger. My understanding is that @davmason and @BrianBohe did that as part of the project. If there is concern that the current results wouldn't match the old ones the testing could be repeated.

In terms of regression preve

[2020-07-02 00:08] echesakovMSFT commented on #33189
@AndyAyersMS I think so.

[2020-07-02 00:19] RayKoopa commented on #28285
Also looking forward to a "backport" NuGet package for ranges in .NET Standard 2.0, just like `System.Memory` or `Microsoft.Bcl.HashCode`.

And here I wondered why I never get code style hints by VS for starting to use ranges... was because I also target classic .NET Framework... 👀

[2020-07-02 00:23] safern commented on #38455
if @dotnet/jit-contrib agrees on that, I can pull the trigger for that.

[2020-07-02 00:28] AndyAyersMS commented on #33189
I think we are a ways off from something like this, though for very simple methods we should have fairly stable debug info.

This is already an option, eg `jit-diff diff --debugInfo`. Not super happy with this overall (see #11045 and dotnet/jitutils#166) -- if there are also codegen changes then it is hard to assess the debug info diffs. But in this particular case we don't expect codegen diffs.

[2020-07-02 00:45] buyaa-n commented on #1237
Thank you for reporting it @jbe2277, interested in contributing to the fix?

@ehasis could be more specific for where it is exactly missing annotation? Thank you!

[2020-07-02 00:49] AndyAyersMS commented on #38455
It is more than this, the IL is different in a debug build of libraries.

I agree. Can't speak for everyone, but my opinion is that it's not that interesting to run with a checked runtime and debug libraries. But there is a bit of extra coverage. Perhaps we could run this combination occasionally (say on weekends like we do with some of our extra jit and gc stress combos).

[2020-07-02 01:31] TylerBrinkley commented on #28200
Yes, it would need to be defined in corelib to be understood by System.Enum.

It could additionally be used for specifying the constructor to invoke in deserialization.

[2020-07-02 01:35] scalablecory commented on #38670
@filipnavara are you able to test the behavior in .NET 5?

[2020-07-02 02:27] ehasis commented on #1237
@buyaa-n for example, the events in the interfaces [IDesignerEventService](https://github.com/dotnet/runtime/blob/master/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/IDesignerEventService.cs), [IDesignerHost](https://github.com/dotnet/runtime/blob/master/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/IDesignerHost.cs), [ISel

[2020-07-02 02:28] AndyAyersMS commented on #33189
Prospective fix... need to double-check if the count in the new clause should be 1 or 0.
[code]

[2020-07-02 02:42] wfurt commented on #38185
I took closer look and here is what is going on. 2.1 does not have correct ref assemblies. That was fixed by @stephentoub  in https://github.com/dotnet/corefx/pull/29658 but it was not ported back to 2.1. With that base does not resolve properly and that creates code loop and eventually fills up stack.

in windbg
[code]

I think best option here is targeting 3.1 (if possible) for the wrapper or av

[2020-07-02 03:06] wfurt commented on #30767
is there something we need to do for 5.0 @bartonjs or should we just close it for now and document it via issue @davidfowl linked?

[2020-07-02 03:31] buyaa-n commented on #1237
@ehasis those are interfaces from `System.ComponentModel.TypeConverter` which we haven't annotated yet. I just checked ref assemblies of `System.ComponentModel`, seems only that `event EventHandler CanExecuteChanged;` event is missing `?`

You are welcome to contribute, the `?` need to be added to the source code and ref assembly, and also if there are any nullability warnings are introduced becau

[2020-07-02 03:36] v-haren opened #38697 "Test failure: Interop\\UnmanagedCallersOnly\\UnmanagedCallersOnlyTest\\UnmanagedCallersOnlyTest.cmd"
failed in job: [runtime-coreclr outerloop 20200701.4 ](https://dev.azure.com/dnceng/public/_build/results?buildId=713613&view=ms.vss-test-web.build-test-results-tab&runId=22128558&resultId=101117&paneView=debug)

Error message
[code]

[2020-07-02 03:37] mangod9 commented on #37344
should now be fixed.

[2020-07-02 03:37] #37344 closed

[2020-07-02 03:38] uchagani commented on #36040
I have a similar problem.  here is my full appsettings.json

[code]

[2020-07-02 03:43] uchagani commented on #36040
So in my case, I had at one point used the `Manage User Secrets` option in Visual Studio which created an empty `secrets.json` file.  That file is the one that was giving me problems as it was empty and that is not valid json.  I added `{}` into that file and the JSON parse error disappears.

[2020-07-02 04:02] wfurt commented on #29720
I don't see any recent failures. closing.

[2020-07-02 04:02] #29720 closed

[2020-07-02 04:02] mangod9 commented on #13722
I am guessing this test fails on specific helix machines which are low on memory with `Large Memory Machine required`.. hence the failure is intermittent. @Maoni0 / @cshung ?

[2020-07-02 04:08] mangod9 commented on #12870
closing since this hasnt reproed for almost a year.

[2020-07-02 04:08] #12870 closed

[2020-07-02 04:30] bartonjs commented on #30767
It's something I'm actively working on for 5.

[2020-07-02 04:43] TobiasKnauss commented on #38657
@eiriktsarpalis Yes, this is possible, but I'd like to avoid it.
@Joe4evr I was unsure whether dotnet/runtime was the correct repository. I searched for CLI and CLR, but couldn't find them. Thanks for clarifying.

[2020-07-02 04:45] felipepessoto commented on #10397
@danmosemsft, @tannergooding, do you know a better strategy to edit/build/test it?

I was running these two command, but the first one takes a long time to run:

.\build.cmd -subset clr+libs -c Checked /p:BuildNative=false
D:\Repos\runtime\src\libraries\System.Runtime\tests> dotnet build /t:Test /p:Configuration=Checked

So, I'm currently doing this:

.\build.cmd -subset clr -c Checked /p:BuildNat

[2020-07-02 04:47] wfurt commented on #30767
is there separate issue or should I assign this to you and perhaps change area? If you proceed with the plan we talk about it while back, there won't by any changes to SslStream, right?

[2020-07-02 04:47] wfurt commented on #30767
oops. missed the self assignment.

[2020-07-02 04:57] Maoni0 commented on #13722
most likely a dup of [#13551](https://github.com/dotnet/runtime/issues/13551) which @cshung fixed with [#32545](https://github.com/dotnet/runtime/pull/32545)

[2020-07-02 05:03] benaadams commented on #38660
You will also want to have the timing loops in a called method; and then call it at least 30 times for tier1 compilation to kick it (the Jit won't currently replace the asm in a running method)

[2020-07-02 05:37] bartonjs commented on #30767
Currently it looks like the changes will be in the native shim; but since SslStream is the only affected component the area path seems correct.

[2020-07-02 05:57] DotNetAppCompatFeiWang commented on #37640
@layomia can you please help to confirm the fix is merged to Preview7 branch? This issue still repro with the latest Preview7 build dotnet-sdk-5.0.100-preview.7.20351.2.

[2020-07-02 06:10] YairHalberstadt commented on #38677
When I remove the compiler error it generates the following:

CSharp:
[code]

IL:
[code]
This fails when constructing the `Span` due to this line:
 https://github.com/dotnet/runtime/blob/719c58c88dc22fe07bcb64f07ba5a74cc10d274c/src/libraries/System.Private.CoreLib/src/System/Span.cs#L108-L109

Is this IL safe? If so this will require removing that error from Span, and no runtime changes.

[2020-07-02 07:23] kevinchalet opened #38698 "Should System.Text.Json include a .NET 4.7 TFM?"
As part of my attempt at reducing the number of assembly facades included when referencing [OpenIddict 3.0 on .NET Framework 4.6.1 and newer](https://github.com/openiddict/openiddict-core/pull/999), I noticed that `System.Text.Json` doesn't include a `net47` TFM, for which the `System.ValueTuple` package reference wouldn't be necessary. It's certainly not a game changer, but it would be a nice way

[2020-07-02 07:40] noahfalk commented on #38152
Yeah it does appear that the fix was incomplete. Thanks for filing the issue! If you are interested in submitting the PR to fix it I'd be happy to review it, otherwise we can leave this until someone else can get to it (which could be a while).

I'm not sure what the question was, were you asking if the behavior is intentional? I'm not the original author so I can't say for sure but if I had to gu

[2020-07-02 07:47] filipnavara commented on #38670
I'll try to reproduce it on my machine with both .NET 3.1.x and .NET 5. I have very limited access to the customer's system where we noticed the issue and no way to deploy custom binaries there.

[2020-07-02 08:00] Trolldemorted opened #38700 "JsonSerializer should throw if nullable is enabled and non-null values are null during deserialization"
### Description
Imagine this program:
[code]
I expected that the JsonSerializer would throw if the non-nullable values are not present in the json string.

### Configuration
`<TargetFramework>netcoreapp3.1</TargetFramework>`
### Regression?
no (?)

### Other information
We have not found an easy workaround to conveniently enforce null safety for a huge amount of classes.

[2020-07-02 08:01] filipnavara commented on #38670
After looking at the code in .NET 3.1 I feel the problem could be that if the system proxy is specified as `http://<address>` it won't be used when one tries to access a `https://` URI.

[2020-07-02 08:07] ivanpovazan opened #38701 "ilasm (and ildasm) crashing on Linux"
### Description
Calling ilasm (and ildasm) directly by their name (without path) on Linux crashes with:
`Segmentation fault (core dumped)`

### Configuration
OS: Ubuntu 18.04 x64
dotnet: 3.1.301
ilasm (ildasm) package: 2.0.8

### How to reproduce
In a new terminal execute the following sequence:
1. dotnet new console -n test
2. cd test
3. dotnet add package Microsoft.NETCore.ILAsm (ILDAsm)
4. dotn

[2020-07-02 08:09] lisen508 opened #38702 ". net core3.1 runtime. missing libgdiplus in the Linux environment"
. net core3.1 runtime. In Linux environment, GDI component is missing. If it is related image operation or export excel, GDI will not be found. When dockerfile generates image, libgdiplus installation failed due to network problems in China. I suggest that the docker image of the. Net core3.1 runtime provide gdiplus components that run in the Linux environment

The contents of the dockerfile file

[2020-07-02 08:20] davidfowl commented on #38702
cc @richlander

[2020-07-02 08:37] github-cygwin commented on #798
Given that socket option 12 is called TCP_CONGESTION_ALGORITHM, taking values from 0..7, wouldn't it make more
sense to assume that TCP_DELAY_FIN_ACK, value 13, a boolean option, is the WinSock equivalent to TCP_QUICKACK?
The name seems to indicate a relationship, but the documentation is inexistent as well :(

[2020-07-02 08:40] Symbai commented on #38702
This is expected behavior. Take a look at the .[NET Core dependencies for Linux](https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#dependencies) it clearly says to install libgdiplus library yourself.

[2020-07-02 08:59] ivanpovazan opened #38703 "ilasm (and ildasm) fail to resolve runtime dependencies on Linux"
### Description
After adding ilasm (or ildasm) package to an app and publishing the app as runtime-dependent; running ilasm (or ildasm) fails with:
`Error: Fail to load /home/ivan/Projects/test/bin/Release/netcoreapp3.1/linux-x64/publish/libcoreclr.so
Failed to initialize Assembler`

### Configuration
OS: Ubuntu 18.04 x64
dotnet: 3.1.301
ilasm (ildasm) package: 2.0.8

### How to reproduce
In a new

[2020-07-02 09:27] farodin91 opened #38704 "X509Chain.Build leads to crash of the dotnet core runtime on linux"
### Description

The call of X509Chain.Build method leads to crash of the dotnet core runtime with the exit code 139.

### Configuration
[code]

In our production environment, we also see this issue. In this environment, we use the docker image `mcr.microsoft.com/dotnet/core/aspnet:3.1`.

### Regression?

We create a regression test to check the behaviour on different platforms. We see this issue

[2020-07-02 09:31] lisen508 commented on #38702
I looked at this dependency because my project runs through docker,
However, maybe due to network problems, when I install libgdiplus through the configuration container in dockerfile, the image generation through vs2019 fails; I can't find out where the error occurs

For .NET Core apps that use the&nbsp;System.Drawing.Common&nbsp;assembly, you also need the following dependency:

libgdiplus (vers

[2020-07-02 09:46] Symbai opened #38705 "System.Text.Json should support deserializing into mutable collections exposed via readonly members"
### Description

The pull request #34675 added support for private setters. And the default value for `IgnoreReadOnlyProperties` is `false`. So I would have assumed something like: `[JsonInclude] public ObservableCollection<int> MyInt { get;  } = new ObservableCollection<int>();` would work but it does not. It still requires the `private set;` to explicit written.

### Configuration
* .NET Core 5.

[2020-07-02 10:15] Tornhoof commented on #38700
Looks like a duplicate of https://github.com/dotnet/runtime/issues/1256

[2020-07-02 10:29] Trolldemorted commented on #38700
Sorry, you are right!

[2020-07-02 10:29] #38700 closed

[2020-07-02 10:29] Trolldemorted commented on #1256
Any chance a fix for this is coming with .net 5?

[2020-07-02 11:09] eiriktsarpalis commented on #38657
Why is that? Performance considerations presumably?

[2020-07-02 11:23] #38328 closed

[2020-07-02 12:06] pardahlman commented on #37952
That is very strange. I have reproduced this on my Windows laptop, my Macbook Pro, in the GCP cloud as well as on my colleagues Windows laptop. There are at three different networks used. I'll get back to you once I've captured the network traffic.

[2020-07-02 12:08] ManickaP commented on #37540
Another hit: https://dev.azure.com/dnceng/public/_build/results?buildId=713669&view=ms.vss-test-web.build-test-results-tab&runId=22124978&resultId=104429&paneView=debug

[2020-07-02 12:10] ManickaP commented on #32955
Another hit: https://dev.azure.com/dnceng/public/_build/results?buildId=713669&view=ms.vss-test-web.build-test-results-tab&runId=22123896&resultId=102359&paneView=debug

[2020-07-02 13:25] DasDarki opened #38708 "Question: How to pass object arrays from .NET CoreCLR Host Application to C# Application and vice versa?"
Currently I'm trying to write a CoreCLR host application in C++ that runs C# plugins and does certain things with those loaded plugins.
Hosting the CoreCLR host, loading and executing and interacting with the plugins works without any problems. The previously integrated P/Invoke also works fine, but now I have encountered a problem where I don't know if this is possible and if so, how.

I'm trying

[2020-07-02 13:27] Perksey opened #38709 "Task.Run failing with broken exceptions and internal CLR errors"
### Description
I have an action delegate which launches a new task using Task.Run when dequeued from a concurrent queue and executed. The enqueue and dequeue, while it can be on different threads, in this case both enqueue and dequeue are happening on the same thread along with everything else. I get a number of obscure exceptions when doing this and I can't reproduce them on my machine (this inf

[2020-07-02 13:29] g-champagne commented on #35062
(Frank's coworker) I did some tests and using COMPlus_ReadyToRunLogFile I was able to diagnose R2R. I found native image header was not found. I added the loaded by reflection assembly as a reference the project and specified "copy local" property to true, this, according to my understanding forced the assembly to be included in R2R compiling even if it's not referenced directly.

log shown native

[2020-07-02 14:09] jkotas commented on #38709
These symptoms are most likely caused by some other component in your program corrupting the unmanaged heap.

The best way to diagnose them is via the pageheap utility: https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/gflags-and-pageheap

[2020-07-02 14:25] danielrobinson95 commented on #35508
@clement911 We are encountering the same issue, did you come up with a fix for your scenario?

[2020-07-02 14:39] jkotas commented on #38677
This IL does not work. Pointers stored in memory allocated using localloc are not tracked by the GC.

[2020-07-02 15:01] clement911 commented on #35508
Unfortunately no. I'm still looking for a solution.

[2020-07-02 15:05] akselsson commented on #37952
I was able to reproduce this, but only on the second time i ran the container:

[code]

[2020-07-02 15:34] iSazonov commented on #38043
@stephentoub Since #38384 was merged the issue can be closed.

[2020-07-02 15:43] wfurt commented on #37952
can you do packet captures @akselsson ?

[2020-07-02 15:47] tannergooding commented on #4722
@joperezr, I've moved this off of `System.Runtime` as it is a `System.Numerics` issue that got mistriaged. Most of the APIs/issues impacting `float`/`double` fall under numerics, but get triaged to `System.Runtime` because that is the reference assembly they live in.

[2020-07-02 15:47] BreyerW commented on #38660
@Dogwei  just for the record try SlimDictionary? It contains extra optimizations with breaking changes. It lies in Microsoft.Experimental.Collections package

[2020-07-02 15:49] bartonjs commented on #38704
Hm.  The first time we call X509_verify_cert it doesn't crash, then we're ready to move in to chain building phase 2 and the second call (via CryptoNative_X509StoreCtxRebuildChain) ends up asking if NULL was the issuer of some cert.  Not sure how a NULL got in the mix.

[2020-07-02 15:55] ajcvickers commented on #38548
@amosonn The problem with introducing changes like this is that if the consumers of the attribute don't understand the change, then they are likely to either fail or misinterpret the annotation.

Also, it seems like this is covered by `MaxLengthAttribute` and `MinLengthAttribute`.

[2020-07-02 16:01] scalablecory commented on #38670
Triage: we should repro for 3.1 and 5.0, and decide if this needs fixing in 3.1.

[2020-07-02 16:11] MihaZupan opened #38711 "API Proposal: Http header value Encoding selection"
## Background and Motivation

Http header values should only contain printable ASCII characters according to RFC, but in reality, services accept/require other characters/encodings - mainly Latin1 and UTF8.

Currently, `SocketsHttpHandler` only allows sending ASCII characters in header values. When receiving headers, it assumes Latin1 and therefore silently corrupts the characters if UTF8 was mean

[2020-07-02 16:11] mangod9 commented on #13722
Ok makes sense closing this for now, since it hasnt reproed since that fix.

[2020-07-02 16:11] #13722 closed

[2020-07-02 16:12] mangod9 commented on #13644
closing since its a likely dupe of #13551 which @cshung fixed with #32545

[2020-07-02 16:12] #13644 closed

[2020-07-02 16:14] scalablecory commented on #38407
@shine17 do you have a proposed API? there are a few different ways we might do this -- we're generally inclined to not introduce a new API for this as it would introduce overhead for all users, not just those who would use it. But, there may be other ways (such as using System.Net.Connections to filter on connect()).

[2020-07-02 16:19] #38043 closed

[2020-07-02 16:19] stephentoub commented on #38043
Thanks

[2020-07-02 16:19] tannergooding commented on #4722
@ForNeVeR, the `machine epsilon` value you are quoting is not formally defined by the IEEE 754 specification and it is equally "unusable", in principle, as the existing `double.Epsilon`.

The `epsilon` value used by .NET is the smallest value such that `x + 0 != 0`
The `epsilon` value most commonly referenced is the C/C++ `FLT_EPSILON` and `DBL_EPSILON`, which is the smallest value such that `x +

[2020-07-02 16:25] fanyang-mono opened #38712 "Remove old author name, email and copyright comments in Corelib c# files"
One example is https://github.com/dotnet/runtime/blob/9b79cad8aa59eb31fd050cfaa67c13d065afb8dc/src/mono/netcore/System.Private.CoreLib/src/System/Reflection/CustomAttributeData.cs

// Author:
//   Zoltan Varga (vargaz@gmail.com)
//   Carlos Alberto Cortez (calberto.cortez@gmail.com)
//
// Copyright (C) 2004 Novell, Inc (http://www.novell.com)
//
// Permission is hereby granted, free of charge, to

[2020-07-02 16:33] filipnavara commented on #38670
So, the behavior written in the [comment above](https://github.com/dotnet/runtime/issues/38670#issuecomment-652852192) is present on both .NET 5 and .NET Core 3.1. If the system proxy is prefixed with `http://` then it works only for `http://` requests made through `HttpClient`/`WebClient`/`HttpWebRequest`. HTTPS requests bypass the proxy. If the system proxy is specified with `https://` prefix th

[2020-07-02 16:44] tannergooding commented on #38683
CC. @terrajobst as an FYI

[2020-07-02 16:48] amosonn commented on #38548
@ajcvickers AFAIU, `Min`- and `MaxLengthAttribute` constrain the length of a string or array. This is not the same thing as constraining the value itself (for instance of an integer).

I understand this problem, that's why I suggested the alternative approach. It provides a less-clean API, but if the change of the end-values to be nullable is deemed too breaking, this approach provides a completel

[2020-07-02 16:51] DavoudEshtehari commented on #38185
Nice catch @wfurt
If I was the end-user maybe I could use the 3.1 version but I am working on the [SqlClient](https://github.com/dotnet/SqlClient) driver and this will be a probable issue for the end-users.
In addition, I haven't thought about the new solution if I avoid the missing function, but by considering the current driver's design I know it will be complicated. So, I'd rather current solut

[2020-07-02 16:53] danmosemsft commented on #10397
You're changing `src/libraries/System.Private.CoreLib/src/System/Number.Parsing.cs` and `src/libraries/System.Runtime/tests` right? @safern didn't we recently change things so that building `src\libraries\System.Runtime\tests` would also build `System.Private.Corelib`? In that case I would expect you could build `clr+libs` just once, and then iterate by doing `dotnet build /t:build;test` on System

[2020-07-02 16:55] huoyaoyuan opened #38713 "System.Net.Http.Json: Consider relaxing content type verification in ReadFromJsonAsync"
I'm doing interop with [aria2](https://github.com/aria2/aria2). It's using `application/json-rpc` for its returning content type, which is refused by `ReadFromJsonAsync`.

##### Proposed solutions:
1. Add a boolean parameter to totally bypass content type checking.
2. Pass a string as the expected content type.
3. Widen the accepted content types to include it. I'm not very familiar to the specifi

[2020-07-02 17:02] ajcvickers commented on #38548
@amosonn But consumers will still not be updated to understand the annotation, which reduces the value of the change and increases the potential to be confusing when people put the new annotation on their code and it is then ignored.

[2020-07-02 17:03] safern commented on #10397
Yeah we did but that doesn’t update the testhost because System.Private.CoreLib configuration has to match the whole runtime. What I do when I change System.Private.CoreLib and want to iterate on it to test again I run:

[code]

that will build Corelib, will run cross gen in it and will bin place it in the testhost.

[2020-07-02 17:03] carlreinke opened #38714 "Assembly.LoadFrom treats parameter as path rather than URI"
## Description

`Assembly.LoadFrom` is supposed to take a URI as its parameter:

([docs.microsoft.com](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.loadfrom))

On .NET Framework, you can pass in a `file://` URI (constructed from the `Assembly.CodeBase` URI of another assembly, for example) to `Assembly.LoadFrom` and the assembly will be loaded.

On .NET Core, the `assembl

[2020-07-02 17:07] scalablecory commented on #38713
@Jozkee @layomia

[2020-07-02 17:09] flaksirus commented on #36481
Don't really know is my problem the same as described, but I have small reproduction code.
In my original case I'm running child process to which I'm passing data into it's InputStream and if the process for some reason doesn't read the data the main process stucks in the deadlock even if the passed cancellation token is fired.
Funny thing that if we will set breakpoint on the ` stream.WriteAsync`

[2020-07-02 17:14] #38137 closed

[2020-07-02 17:22] terrajobst commented on #38133
* Technically, the actual calling convention is expressed as modopt on the return type.

[code]

[2020-07-02 17:31] terrajobst commented on #38135
* We considered keying it off of the presence of the attribute but the attribute isn't the same feature. Also, the compiler would want the type to exist in corlib (to ensure it's not user defined). That would feel odd, considering all modifiers live in `System.Runtime.InteropServices.dll`.
* We agree that making that `RuntimeFeature` a dumping ground for all new compiler features would be bad, but

[2020-07-02 17:36] terrajobst commented on #38683
* We didn't add `NullableAttribute`. We only added attributes that we expect users to reference explicitly by manually adding custom attributes. It seems this attribute would only be emitted and read by the compiler, so unless there is a reason, we'd not add it.

[code]

[2020-07-02 17:36] #38683 closed

[2020-07-02 17:46] mconnew commented on #724
This was fixed in 3.1 by dotnet/corefx#42912

[2020-07-02 17:50] danmosemsft commented on #10397
@felipepessoto does that work for you?

I would not have figured that out. I wonder whether this is worth adding as an example to `build -?` and also documenting in `docs/workflow/building/libraries/README.md`. It's always good when we couch docs/help in terms of "if you want to do common thing X, then use this command line Y".

[2020-07-02 18:02] ajcvickers commented on #38028
Thanks for looking into this @bgrainger and @bricelam

[2020-07-02 18:04] felipepessoto commented on #10397
I'll try it.
@safern, do you also know the easiest way to debug System.Private.CoreLib? Like the Number  class

[2020-07-02 18:15] Ollhax opened #38716 "Running C# in the chromium sandbox"
Hi there, I’m working on a project that involves running untrusted C# code. My main security boundary is the [chromium sandbox](https://chromium.googlesource.com/chromium/src/+/master/docs/design/sandbox.md), set up roughly according to [this guide](https://stackoverflow.com/a/1647871). I’ve been able to run CoreCLR in the sandbox without too much trouble up until now, but due to some recent chang

[2020-07-02 18:17] varunkumarmnnit opened #38717 "WindowsCryptographicException trying to read certificate from file"
Dear All,
I am running below code to get keys from the  certificate
[code]
But the code is throwing below exception
[code]

The challenge is the issue is not reporudcible everytime  but once it comes it keeps on coming .I have tested this on windows 2012 and 2016 both .It doesnot always come like 1 out of 10 times but once the error comes it never goes .Can u tell what could be the reason behind t

[2020-07-02 18:19] safern commented on #10397
Yeah makes sense, I'll add it.

I usually just use the VS Test explorer and set breakpoints in System.Private.CoreLib source code

[2020-07-02 18:23] danmosemsft commented on #38717
@varunguptacode I edited your comment to add triple-back-tick like this ``` on lines above and below the code to make it easier to read.

[2020-07-02 18:28] fanyang-mono opened #38718 "Mono perf regression based on TechEmpower PlaintextPlatform benchmark"
Recently, there is a ~5% regression on TechEmpower PlaintextPlatform benchmark for all 3 different flavors of mono (JIT, LLVM JIT, LLVM AOT)

Based on bisect, the regression was introduced by https://github.com/dotnet/runtime/commit/778be98101ea3d5deadbaf90765ac18c1e63575b

For mono JIT, with the commit before this one, RPS (requests per second) was 9,173,356; with this commit, RPS was 8,709,109.

[2020-07-02 18:28] danmosemsft commented on #38712
Would this apply to other Mono files in the repo? Eg., many files in src/libraries/System.Drawing have such attribution emails in. Also many tests in some libraries, eg in src\libraries\System.ComponentModel.TypeConverter\tests, src\libraries\System.Configuration.ConfigurationManager\tests\Mono

Also to be clear this would remove all lines like `// Copyright (C) 2005 Novell, Inc (http://www.novell

[2020-07-02 18:48] kunalspathak opened #38719 "Evaluate if BitArray() can be further optimized using single AddPairwise operation"
Evaluate if https://github.com/dotnet/runtime/blob/8511b5b9cc957ce824fc88c0780249fc0edbef15/src/libraries/System.Collections/src/System/Collections/BitArray.cs#L190-L216 can be further optimized by doing just 1 `AddPairwise` with better mask, the way it is done in [TryFindFirstMatchedLane](https://github.com/dotnet/runtime/blob/106cd9ebaed5f974fa8f17e153ec3e22b6576f43/src/libraries/System.Private.

[2020-07-02 18:49] felipepessoto commented on #10397
Worked very well. Now it takes 30~60 seconds to compile, much better than 12 minutes. Thanks.

[2020-07-02 18:52] andre-ss6 commented on #33418
Is this ready for implementation? Or is there some kind of obstacle? If not, what would be the level of complexity for a implementation here?

[2020-07-02 18:58] tannergooding commented on #38718
Mono fully supports `Vector<T>`, correct? If so, this sounds like a dead-code optimization issue

[2020-07-02 19:01] bartonjs commented on #38717
RSAParameters has a very specific structural requirement that BouncyCastle doesn't always adhere to.

For public keys:
* Modulus: Required (BC gets this right)
* Exponent: Required (BC gets this right)
* Everything else null

For private keys:
* Modulus: Required (BC gets this right)
* Exponent: Required (BC gets this right)
* D: D.Length must be equal to Modulus.Length (insert 0s at low indexes a

[2020-07-02 19:01] safern commented on #10397
Btw, if you pass down the `-build` action to the script it will be faster since it will not do any of the `-restore` routines. i.e:

[code]

[2020-07-02 19:02] GrabYourPitchforks commented on #29185
Yes, sorry. That was unclear in my comment. This came through API review on Jan 7, and the feedback was "approved, but instead of using a new constructor parameter add an optional _Justification_ property to match  _SuppressMessageAttribute_'s shape."

[2020-07-02 19:05] vaz-rodrigo commented on #36165
Isn't this the same thing as [issue 36025](https://github.com/dotnet/runtime/issues/36025)?

Anyway, can I work on this?

[2020-07-02 19:07] Shiva-netmasons commented on #36040
This resolved my issues.  Solution > Right click to Manage User Secrets and Open the file in explore if the file is empty.

[2020-07-02 19:08] AndyAyersMS commented on #33189
After debugging a bit -- I see no reason to limit merging to IFG_EXTEND; allowing any prev/next pair catches a few more cases.

Still see some oddities in debug output that I want to look at more closely.

[2020-07-02 19:08] danmosemsft commented on #38718
How can this commit affect Mono benchmark performance? It's a change to CoreCLR JIT, and associated tests.

[2020-07-02 19:14] vatsan-madhavan commented on #33919
I'm assuming this is only a problem for `System.Delegate` (or `System.MultiCastDelegate`) typed fields, and had `WNDCLASS.lpfnWndProc` been declared as `WndProc`, all would have been well and .NET 5 would have continued behaving the same way as netfx & netcoreapp3.1 ?

[2020-07-02 19:18] danmosemsft commented on #10397
Shouldn't restore be super fast now, if it's already run?

[2020-07-02 19:20] safern commented on #10397
It is, but in this case since you're using `build.cmd` it takes a few seconds to run the global tools install that arcade does for `Tools.props` etc, so it saves some seconds.

[2020-07-02 19:22] AaronRobinsonMSFT commented on #33919
@vatsan-madhavan Yes. The issue here is in/out. Passing a `Delegate`/`MultiCastDelegate` in isn't much of an issue because the native side needs to cast it appropriately anyways. However, when it comes back out the type isn't known because `Delegate`/`MultiCastDelegate` are abstract and so can't be instantiated. Explicitly typing the delegate to a concrete class for in/out structs is the correct w

[2020-07-02 19:27] TobiasKnauss commented on #38657
Performance, simplicity, it would be the'correct' way.
It could even implement ICollection, IList, IList<T>. I don't see a reason why this should not be possible.

[2020-07-02 19:27] joperezr commented on #38666
I don't really have a choice since the tests that I'll add as part of this port will fail for this library if I don't 😜 but I'm happy to take care of it too 😄

[2020-07-02 19:41] tannergooding commented on #38718
It was a change to the library code, to ensure that it properly throws for unsupported T. So it would also impact Mono

[2020-07-02 19:43] danmosemsft commented on #38718
Oh! My bad. I did not scroll enough.

[2020-07-02 19:44] danmosemsft commented on #2236
@stephentoub unless this is committed for the 5.0 release, we should mark Future. It can still happen for 5.0, but milestone 5.0 == "debt to pay off" to successfully release.

[2020-07-02 19:46] stephentoub commented on #2236
We have a bug https://github.com/dotnet/runtime/issues/38022.  That needs to be fixed in some way for .NET 5.  Implementing this is the right way to fix it.  If we choose to punt on this, we can do the short term workaround there (which isn't a fix so much as disabling the functionality), but that's why I marked this as 5.0, to make a decision on the right thing to do.

[2020-07-02 19:53] terrajobst commented on #34742
* Drop `Log` from names
* Rename `Default` so something that doesn't imply a subset relationship, such as `Simple`
* Implementers of `IConsoleFormatter` should use VT100 for colors
* On Windows 7 we still want to show colors, not VT100 escape sequences
* On Windows 10+ we want to see colors, not VT100 escape sequences, even if VT100 processing is off
* Should .NET 5 by default enable VT100 process

[2020-07-02 19:54] stephentoub commented on #33980
@KathleenDollard, @terrajobst, @shirhatti, can one of you please decide what should be done here?

[2020-07-02 19:58] terrajobst commented on #33980
I think @shirhatti should drive this and sync with @KathleenDollard.

[2020-07-02 19:59] danmosemsft commented on #2236
Oh that's a good reason for the milestone then. 😸

[2020-07-02 20:00] wfurt commented on #36481
How do you consume the data @flaksirus? The pipeClient does not seems to be used. Eventually, you will fill up socket buffer and then everything will get stuck. If you are running on Linux, you can use `strace` to look at OS system calls.

[2020-07-02 20:04] flaksirus commented on #36481
@wfurt This one is just an example. In original case I use FFmpeg. So from my code I'm expecting that `WriteAsync` method would throw exception after cancelation requested.

[2020-07-02 20:30] imhameed commented on #38718
I'll look into this later today.

[2020-07-02 20:31] AndyAyersMS commented on #33189
One source of oddities (see for example `Kernel32:GetAndTrimString` in SPC, crossgenned)  is that we keep the prolog ranges separate from the body ranges, so if an arg is live into the body and remains in its arg register, it gets two ranges instead of one.
[code]

We generate the prolog out of order so allowing the prolog ranges to fuse with body ranges would take some tweaking; seems like we can

[2020-07-02 20:33] swaroop-sridhar opened #38726 "Single-file: Test debugging on Linux/Mac"
Test to ensure that debugging behavior matches the expectation in https://github.com/dotnet/designs/blob/master/accepted/2020/single-file/design.md#host-builds

Results on testing with 5.0.100-preview.6.20318.15 (4356580024):

- [X] Mac
 - VS Code
      - ❌ Without copying mscordbi.dll, fails with: `Failed to attach to process: Unknown Error: 0x80131c3c`
      - ✔️After copying mscordbi.dll, attac

[2020-07-02 20:35] akovac35 commented on #38240
I have the same issue - registering a custom IServiceProviderFactory has no effect in a Blazor application.

[2020-07-02 20:38] AndyAyersMS commented on #33189
Another is that methods with zero-length prologs will end up with overlapping live range reports (for instance, in `SYSTEMTIME:Equals(byref):bool:this`):
[code]
Presumably we could suppress these special "1 byte" prolog entries if we saw the same variable live in the non-prolog entry list at offset 0.

This same behavior shows up in the baseline jit, so it's not a regression/change from the new de

[2020-07-02 20:45] stephentoub commented on #2236
For reference, other than tests, this is what the solution looks like:
https://github.com/stephentoub/runtime/commit/8f73f68bdda28b206c68bcaa030c4ff795a3df53

[2020-07-02 20:49] danmosemsft commented on #37813
@DrewScoggins do I understand correctly that the regression here is between the last datapoint before the repo consolidation and the first datapoint after ? It seems the regression was at that time, and there was some overlap (consistent with it being the old and new infrastructure)?

I was trying to get something useful out of the diff link, but it just encompasses 6 months worth of work so it is