[2020-03-23 12:16] kfrolov commented on #33962
@alpencolt, @gbalykov, @y-yamshchikov

[2020-03-23 12:17] vitek-karas commented on #33862
Linker should only warn about things which are applicable to the current configuration. So if the app being built is not asking for AOT or Single-File linker should not warn about those. That said adding the ability to detect issues with AOT/Single-File/... is still very much in "thinking about it" as we don't have a specific designs.

About the trim-only attribute (if we decide to go with that) -

[2020-03-23 12:17] Thaina commented on #321
I want to add `RemoveRange(int index)` to remove from index to end

[2020-03-23 12:19] ygc369 commented on #33960
@jkotas

I think they are different. That proposal focus on "safety", but my proposal focus on "freedom".

[2020-03-23 12:23] stephentoub commented on #33862
If I put this LinkerUnfriendly/FormFactor attribute on my method, how does the linker know I did that because I had AOT concerns rather than because I had trimming concerns?

[2020-03-23 12:23] MichalStrehovsky commented on #33862
The problem is that the attribute (if we go only with the linker-unfriendliness, forgoing single-file unfriendly or AOT unfriendly) is that the attribute _is_ tool specific.

It means "the patterns in this method are very hard/impossible to analyze, don't analyze it". The "very hard" part is IL Linker specific. There could be another tool (cough, .NET Native dependency reducer, cough) that would h

[2020-03-23 12:27] trexx opened #33964 "Preauthentication for Negotiate"
A related issue: https://github.com/dotnet/runtime/issues/30195

I have a simple poc which connects to Elasticsearch authenticated by Kerberos. Elasticsearch only supports request based authentication, so each time I need to ship a log, it requires 2 round trips as the first request always returns a 401 unauthorised.
It would be useful to use preauthentication to remove that 401 round trip and imm

[2020-03-23 12:33] jkotas commented on #33960
Both of the proposals are solving the same problem. #25423 has the nice property that it also solves problems with `stackalloc` in general.

[2020-03-23 12:44] #33960 closed

[2020-03-23 12:45] janvorli commented on #33944
This is a dup of #33366, even though the assert is slightly different, I am pretty sure the issue is the same.

[2020-03-23 12:45] #33944 closed

[2020-03-23 12:47] trylek commented on #33884
@sandreenko - sure, of course. Thanks for following up on this!

[2020-03-23 13:03] jkotas commented on #24963
https://github.com/dotnet/runtime/issues/25423 is a better proposal solving the same problem.

[2020-03-23 13:03] #24963 closed

[2020-03-23 13:36] guesshe commented on #33374
@am11 It showed following for both Linux and QNX version of dotnet
 Class:                             ELF64
  Machine:                           Advanced Micro Devices X86-64
I would assume this is fine? There is a QNX version of ldd, when I ran it on QNX, it gave me "exec format error". I can't run QNX version of ldd on Linux.
As for your question, it is required to have a myqnx account to downl

[2020-03-23 14:00] bCamba commented on #1366
I am also having problems with this issue. Will this only be fixed in 5.0?

[2020-03-23 14:10] am11 commented on #33374
@guesshe, thanks, i was hoping for something like openqnx, which seems to also exist, but not sure how similar it is with QNX 7. :)
`Exec format error` from compiled code on same system typically indicates that the compiler/linker has somehow picked up the incompatible toolchain. If you could share the build output with commands that were executed, that might help spotting such issue.
Also, here a

[2020-03-23 14:52] am11 commented on #33374
Two FYIs, you can also:

* try build the product using gcc to see if it makes any difference:
  `./build.sh -gcc -subsetCategory installer -configuration Release`
* raise verbosity level to see the actual calls to clang or gcc:
  `VERBOSE=1 ./build.sh -subsetCategory installer -configuration Release`

(assuming before `-subsetCategory installer`, `-subsetCategory coreclr` and `-subsetCategory libr

[2020-03-23 14:56] guesshe commented on #33374
@am11 Thanks! I am actually doing a cross-compiling. I will try your suggestions now.

[2020-03-23 14:56] tannergooding commented on #33948
CC. @echesakovMSFT, @CarolEidt

[2020-03-23 14:57] guesshe commented on #33374
@am11 /home/<username>/Github/runtime/src/installer/corehost/build.sh Debug x64 -apphostver "5.0.0-dev" -hostver "5.0.0-dev" -fxrver "5.0.0-dev" -policyver "5.0.0-dev" -commithash "fc2e56c8e8d60180d9ca6ddff67076d779fd4a43". This is the command I use. I have build coreclr but only for v2.2.8, there are lots of changes I have to make in order to build it using QNX toolchain.

[2020-03-23 15:01] guesshe commented on #33374
Here is the link.txt under cmake generated build directory for dotnet executable.
/home/<username>/PubGitRepo/llvm-project/build/bin/clang++ --target=x86_64-pc-qnx700-gnu  -D__QNX__ -D__QNXNTO__ -D__X86_64__ -D__LITTLEENDIAN__ -isystem /home/<username>/qnx700/target/qnx7/usr/include -isystem /    home/<username>/qnx700/target/qnx7/usr/include/c++/v1 -std=c++11 -g  -lc++ -lm -stdlib=libstdc++ -l/ho

[2020-03-23 15:09] jaredpar opened #33965 "Builds failing with "remote provider unable to process the request""
Jobs are failing with the obscure error

Not much more than that is logged.

|Build|Kind|Timeline Record|
|---|---|---|
|[569665](https://dev.azure.com/dnceng/public/_build/results?buildId=569665)|PR https://github.com/dotnet/runtime/pull/33553|CoreCLR Product Build Linux_musl x64 checked|
|[569665](https://dev.azure.com/dnceng/public/_build/results?buildId=569665)|PR https://github.com/dotnet/run

[2020-03-23 15:15] layomia commented on #33854
@neelabo this is a valid scenario - we have a tracking issue for being able to control the serialization order https://github.com/dotnet/runtime/issues/728.

[2020-03-23 15:19] jaredpar commented on #33965
FR issues
- https://github.com/dotnet/core-eng/issues/9437
- https://github.com/dotnet/core-eng/issues/9442

[2020-03-23 15:22] jaredpar commented on #33965
FR issues
- https://github.com/dotnet/core-eng/issues/9437
- https://github.com/dotnet/core-eng/issues/9442

[2020-03-23 15:27] kunalspathak commented on #13534
I have added a field to capture methodNum in https://github.com/dotnet/runtime/pull/32578. Is it different from `compilationNumber`?

[2020-03-23 15:51] Chrisboh commented on #13610
@dotnet/dnceng can you check to see why Device Setup Manager and Geolocation service are running on these machines?

[2020-03-23 15:55] am11 commented on #33374
@guesshe, the command looks correct for x86-64 target system. Is the target device (where you are getting `Exec format error`) using the same architecture or is it aarch64?

[2020-03-23 15:58] davidsh commented on #33964
What version of .NET Core are you using?

In general, Negotiate/NTLM authentication uses a challenge/response mechanism and authenticates connections and not requests. So, once a TCP connection is reused, the server doesn't send back any 'Www-Authenticate: Negotiate' response header. It considers the connection already authenticated.

So, I'm not sure what "pre-authentication" you are referring to

[2020-03-23 16:00] davidsh commented on #33964
WinHttpHandler can't "pre-authenticate" any Negotiate/NTLM connections. The only thing it can do (like other HTTP stacks) is to reuse existing connections that have already been authenticated with Negotiate/NTLM.

[2020-03-23 16:01] VSadov commented on #33916
@ygc369 To make a particular proposal actionable, I would suggest studying the scenario in more detail and provide examples and measurements that demonstrate the viability and improvements.

Ideally it would be a PR with a prototype of proposed changes. A smaller scale mock up could be convincing too.

It is very common that an idea is not practical when more details are considered.

Without an ev

[2020-03-23 16:22] vcsjones commented on #33930
Another in #33820.

[2020-03-23 16:39] ilyas1974 commented on #13610
I will have FR take a look at this today. (Issue dotnet/core-eng/#9444)

[2020-03-23 16:52] jeffhandley commented on #33771
This issue should capture:

1. The attribute itself (getting that through the API review)
2. Creation of the analyzer
3. Identification of some instances where the attribute should be applied

The work to apply the attribute (especially through intrinsics) could be a separate issue/PR.

[2020-03-23 16:54] jeffhandley commented on #33782
Look for loops that don't use a literal to define the bounds of the loop.  But, there are false-positive scenarios like a block that performs a `stackalloc` and then breaks. Those scenarios need to be designed out to capture what we'd flag and what we wouldn't.

[2020-03-23 16:58] jeffhandley commented on #33782
Suggestion for approach:
1. Write the simple rule
2. Run it on dotnet/runtime
3. Review occurrences to guide the detailed design of this analyzer and determine what severity we want to aim for and if this analyzer would be on by default

[2020-03-23 17:08] eerhardt commented on #33862
The way I was thinking about this was to make some sort of `Pass Through` attribute, that says - "I know I am doing something that is unsafe. But don't complain about me. Instead when someone calls me, complain to them that they shouldn't be calling me."

We can annotate some public API in CoreLib with this attribute. And if a caller is calling that API, they would get the warning from the linker

[2020-03-23 17:09] jeffhandley commented on #33796
We need to detect an inclusion approach; we want to focus on the JSON deserialization scenario.

[2020-03-23 17:09] lambdageek commented on #32377
Ok, we're trying to fix this with https://github.com/dotnet/runtime/pull/33966

The issue is:

1. Linux has a global queue of "real time" (signal number >= `SIGRTMIN`) signals.
2. Something on the machine is overflowing the queue (are the helix workers now running more concurrent work than previously? why the sudden spike).
3. Mono is affected because we use one of those signals to suspend threads

[2020-03-23 17:12] jeffhandley commented on #33801
There's already a rule that checks for `Count` vs. `Any`. We should look at that rule for reference and design and implementation details. We don't know if a new diagnostic ID would be needed.

[2020-03-23 17:14] janvorli commented on #2534
To get the strace log, you can execute it as follows:

[code]
The log will get generated into the strace.log file.

[2020-03-23 17:22] jkoritzinsky commented on #33923
Nope. That's a warning from CMake that there's a newer built-in feature. We currently aren't using that feature at the moment so the warning pops. The warning isn't a problem in the build.

[2020-03-23 17:27] MattGal commented on #13610
Couple notes here:
- These services are typical things to be running on a newly provisioned machine and while they creep me out, are pretty normal Windows 10 stuff.  We don't do anything
- The instance of Win10 machine that failed this test from @safern 's log had only run 6 other work items previously, so "dirty work item" behavior is unlikely.  Included for completeness sake:

[code]

In short,

[2020-03-23 17:28] jkoritzinsky commented on #33919
So the problem is that .NET Framework and .NET Core call `COMDelegate::ConvertToDelegate(LPVOID, MethodTable*)` directly, but .NET 5 calls `Marshal.GetDelegateForFunctionPointer`. `Marshal.GetDelegateForFunctionPointer` does some additional type validation.

The implementation that calls `COMDelegate::ConvertToDelegate` directly actually has a pretty serious bug if the type is `System.Delegate` or

[2020-03-23 17:32] Gnbrkm41 commented on #33923
Is it something worth investigating whether it would be nice to have the feature enabled or not? I'm happy with this issue being closed.

[2020-03-23 17:36] jkoritzinsky commented on #33923
I'm planning on fixing this when we move our mixed-mode tests to use the `/clr:netcore` flag.

All the feature does is let you add the compiler option via a target property instead of adding it as a compiler option manually.

[2020-03-23 17:38] giovani-luigi opened #33971 "[Proposal] Modify Enum.ToString() method to check for Display attributes"
**The problem:**
The method **Enum.ToString()** will generate a string that is **1. not friendly** and **2. not localized**.

**Proposed solution:**
In order to support both of these features I propose to include in the framework an implementation based in the topic from stackoverflow:

Except that instead of adding an extension method, the ToString() can be changed to check for attributes, like b

[2020-03-23 17:40] ericstj commented on #33875
Dup of https://github.com/dotnet/runtime/issues/32377

[2020-03-23 17:40] #33875 closed

[2020-03-23 17:42] terrajobst commented on #33773
Seems related to #33772

[2020-03-23 17:43] echesakovMSFT opened #33972 "Use cmeq, cmge, cmgt (zero) when one of the operands is Vector64/128<T>.Zero"
For example,

The code as in https://github.com/dotnet/runtime/pull/33749#issuecomment-601447809 **BitArray:.ctor**
[code]
should be optimized down to
[code]

This applies to all the intrinsics that are mapped to cmeq, cmge, cmgt, cmle, cmlt, fcmeq, fcmge, fcmgt, fcmle and fcmlt instructions

category:cq
theme:hardware-intrinsics
skill-level:intermediate
cost:small

[2020-03-23 17:45] karelz commented on #31054
@webczat what would yo recommend that should happen?
I believe that the natural answer is: we will try to understand the most used schemas/files.

[2020-03-23 17:49] echesakovMSFT opened #33973 "Use movi Vd.T, #0 instead of dup Vd.T, wzr for Vector64/128<T>.Zero creation"
As @TamarChristinaArm pointed out in https://github.com/dotnet/runtime/pull/33749#issuecomment-601837305

category:cq
theme:hardware-intrinsics
skill-level:intermediate
cost:small

[2020-03-23 17:50] Gnbrkm41 commented on #33923
I see. Thanks!

[2020-03-23 17:50] #33923 closed

[2020-03-23 17:51] jkotas commented on #13610
These services are best guess at what's causing the problem. We are not sure whether  they are really the problem.

Does Helix has something like a "health check" of a machine that runs before workitem starts executing? Can the health check look at the available memory before the workitem starts, and recycle the machine when it sees that the machine is in a bad state?

[2020-03-23 17:54] echesakovMSFT commented on #33676
I copied below a part of the @TamarChristinaArm's reply in https://github.com/dotnet/runtime/pull/33749#issuecomment-601837305 that demonstrates how the optimization could potentially improve codegen

[2020-03-23 17:57] echesakovMSFT opened #33975 "Investigate unnecessary vector register moves"
Copied from @TamarChristinaArm reply in https://github.com/dotnet/runtime/pull/33749#issuecomment-601837305

category:cq
theme:hardware-intrinsics
skill-level:intermediate
cost:medium

[2020-03-23 17:58] joperezr commented on #30436
I believe that some of the checklist status is not actually up-to-date, but you are right in the fact that this was falling through the cracks. I will sync with the Json Crew to make sure we find an owner for this and complete the work.

[2020-03-23 18:06] jeffhandley commented on #33763
A fixer is tough here because we don't know what message to insert into the parameter list. Perhaps we could pass in `nameof(...)` _also_ as the message.

[2020-03-23 18:08] steveharter commented on #30445
The state on the option instances can diverge after a clone so we need to ensure they don't contaminate eachother by sharing caches (the `JsonClassInfo` cache) or a direct reference to the converter list. Sharing caches can result in threading\concurrent issues and sharing the converter list reference can result in incorrect semantics.

For the clone, we should only add the converters that were ma

[2020-03-23 18:19] sebastienros commented on #33084
Closing this as it was fixed with Adam reverting the epoll change.

[2020-03-23 18:19] #33084 closed

[2020-03-23 18:27] tannergooding commented on #33975
Is v8 possibly a register that needs to be saved due to the method call?

[2020-03-23 18:34] jaredpar commented on #33965
Looks like the cert issue solved this. No more instances have shown up in builds queued after 8:30AM PST. There were two other instances of the error message but they are related to other issues

[2020-03-23 18:34] #33965 closed

[2020-03-23 18:36] MattGal commented on #13610
It does not;  I also don't see evidence of poor health other than a test that uses lots of resources using a lot of resources.

We absolutely can have checks like this, though as I said I don't know when to declare built-in Windows services as "bad actors" and tear them down.

If you think your test is actually capable of passing on a Server 2019 machine w/ 8 GB of RAM, you can explicitly request

[2020-03-23 18:38] halter73 commented on #1793
I started [testing out](https://github.com/dotnet/aspnetcore/compare/halter73/test-system-net-connections) the non-multiplexed connection abstractions in Kestrel's Socket transport, and here are a few things I noticed.

- IConnectionProperties not having a setter is annoying.
- IConnectionProperties.TryGet not having a generic version on the interface removes some opportunities for dead code elimi

[2020-03-23 18:44] akoeplinger opened #33976 "Set minimum CMake version to 3.14.5"
See discussion in https://github.com/dotnet/runtime/pull/33959/commits/16e1d309221e70d4f3d484e8c8a4fb2a4347f83c#r396389297

The documented minimum CMake version is 3.15.5 already but a few places still check for 3.14:

[code]

[2020-03-23 18:49] jkotas commented on #13610
The dumps show that these tests are using 2GB of memory. That is not unusually high. Also, this problem is not specific to a single test. It is affecting random tests. You can mentions of RegularExcepression tests and EnvironmentVariable tests in this issue above. I have seen it being hit by other tests as well.

The normal situation on 8GB machine is:
* 1-2GB used by the OS
* 2-3GB used by tests

[2020-03-23 18:49] guesshe commented on #33374
@am11 Thanks! I solved my issue by using qcc instead of clang. Maybe clang picked up something that messed up my cross-compiling environment. Now I am facing another issue where #define symlinkEntrypointExecutable "/proc/self/exefile" doesn't exist in QNX. I am working on finding an alternative solution.

[2020-03-23 18:57] echesakovMSFT commented on #33975
It could be a case since even though it's a non-volatile register (to be precise, its low 64 bits are non-volatile) we still need to preserve its high 64 bits if they are actually used somewhere.

[2020-03-23 18:57] trexx commented on #33964
We are using v3.1.

This isn't the behaviour I am seeing with Elasticsearch and requires the Authorization header on each request. I believe Elasticsearch does not support session-based authentication.

Sorry to further clarify, I'll provide some scenarios which explain what I'm seeing.
If I use WinHttpHandler and set PreAuthenticate to true, after the first 401 response each request thereafter wi

[2020-03-23 19:12] vcsjones commented on #33976
@jkoritzinsky wasn't there an issue with Alpine that prevented bumping the minimum CMake version to match documentation?

[2020-03-23 19:15] vcsjones commented on #33947
/cc @davidsh @wfurt

[2020-03-23 19:19] jkotas commented on #13610
@safern Could you please work with @MattGal to add the free memory check to the Helix scripts?

[2020-03-23 19:24] jkoritzinsky commented on #33976
There was. We can't use 3.15.5 on Alpine because packages for Alpine 3.11 aren't backward-compatible with Alpine 3.10 and older. However, Alpine 3.10 ships with CMake 3.14.5, so this is doable.

[2020-03-23 19:25] davidsh commented on #33947
What OS are you using? Windows, Linux, Mac?

The cipher suites policy feature, for example, doesn't work in Windows due to OS limitations.

[2020-03-23 19:35] jkotas commented on #33930
#33967

[2020-03-23 19:39] am11 commented on #33374
@guesshe, I had this problem when running dotnet in Linux emulator on FreeBSD. Although FreeBSD itself has a syscall for that https://github.com/dotnet/runtime/blob/b0351370ccd132d95c97b75312fc36adaacc2664/src/installer/corehost/cli/hostmisc/pal.unix.cpp#L698-L708 but emulator required mounting procfs to Linux chroot. You may want to try out the same on QNX https://www.qnx.com/developers/docs/6.5.

[2020-03-23 19:43] scalablecory commented on #1793
Thanks for taking time to prove this out.

I explicitly left this out to push a compositional model, but am interested in where it breaks down. Can you give some specific examples of how you'd use a setter?

FWIW we have loosely agreed to get rid of the type-based model all-together and instead have the property key just be `object` so there is no accidental shadowing. Available keys would be comm

[2020-03-23 19:44] VSadov commented on #4613
Here is how finalization works at the high level:
- in addition to regular reachability, finalized objects are rooted for finalization purpose.
- When that root is the last one, the object is added to finalization queue.
- After finalizer runs the finalization root is severed.
- If the object is no longer reachable, the next GC will make its space available to new allocations.

There are two metri

[2020-03-23 19:50] VSadov commented on #4613
I do not see how this can work. An example or a prototype could be helpful.
As-is this is not an actioanable issue.

[2020-03-23 19:50] #4613 closed

[2020-03-23 19:51] vcsjones commented on #33978
Dupe of #33947.

[2020-03-23 20:03] ejsmith opened #33980 "Implement a way to enable color in console even when the output is redirected"
Currently, console color is [disabled by checking to see if the console output is redirected or not](https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Console/src/System/ConsolePal.Unix.cs#L791).

I understand why this was done because there are scenarios that don't support ANSI escape sequences and the output looks really ugly in those scenarios

[2020-03-23 20:08] ejsmith commented on #33980
Also, I think it is relevant to show what other CLI tools are doing to detect color support in the NodeJS world. Here is the `supports-color` NPM package: https://github.com/chalk/supports-color/blob/master/index.js

[2020-03-23 20:08] guesshe commented on #33374
@am11 Thanks! I will add a QNX version of it.

[2020-03-23 20:12] marek-safar opened #33982 "Add RID for 32bit ios"
This would be straight forward if Apple didn't drop the support for 32bits in the recent versions. The last supported 32bit version is ios 10.

RIDs for other ios architectures already exist and only 32 bit needs to be added up to `ios-10-arm`.

@ericstj please advice on the correct logic.

[2020-03-23 20:18] AaronRobinsonMSFT commented on #33919
@jkoritzinsky So what are your thoughts on how to address this? Asserting? Or do you consider this a bug in marshaling design and should be avoided when possible?

Is this possible to do in practice? For example could a user cause this to occur in .NET Framework or .NET Core when only writing C#/VB?

[2020-03-23 20:32] charlesroddie commented on #32047
Also area-System.Security is the wrong tag for CBOR-related issues/PRs. Should be area-Serialization. With `System.CBOR` as the namespace to correspond to `System.XML` and `System.Text.Json`.

[2020-03-23 20:40] bartonjs commented on #32047
@charlesroddie Currently it's only "funded" via System.Security; and the namespace is something we're working on.

[2020-03-23 20:43] jaredpar opened #33985 "Builds failing with "error occurred while provisioning resources""
Builds are failing with the following error.

[code]

|Build|Kind|Timeline Record|
|---|---|---|
|[569990](https://dev.azure.com/dnceng/public/_build/results?buildId=569990)|PR https://github.com/dotnet/runtime/pull/33553|Checkout|
|[569803](https://dev.azure.com/dnceng/public/_build/results?buildId=569803)|PR https://github.com/dotnet/runtime/pull/33553|Checkout|

Note: even though this has one o

[2020-03-23 20:59] GeraudFabien commented on #32125
Maybe there could be an external library with the extention methods to add sync to httpclient. I wouldn't put them in .Net for many reason:
-  If you put in .net for every method async you will have to do an sync method.
   - When i was a beginner it was the fact that some sync method exist that make me lost a lot of time. The fact they exist made me believe that i must'n use async method on a syn

[2020-03-23 21:02] Anipik commented on #33506
i will take a look

[2020-03-23 21:03] jkoritzinsky commented on #33919
I think the behavior in .NET 5 is the correct behavior. I think that allowing marshalling a `System.Delegate`-typed field as a function pointer from native back to managed was a bug in .NET Framework and .NET Core 3.1 and lower and should be avoided when possible on those runtimes.

I would say that this is possible to do this in practice on .NET Framework or .NET Core. For example, if someone wer

[2020-03-23 21:04] digital-spinner opened #33997 "string.IndexOf("string") not working in Raspberry Pi project"
I have recently upgraded .NET Core 3.1 SDK to version v3.1.200 with Visual Studio Community 2019 and I'm building and application for Raspberry Pi where one part of it reads the content on specific file from filesystem and parses it (very simple).

Some days ago (don't remember previous core version) but it was working correctly. Now suddently stopped. The problem is with searching of a specific s

[2020-03-23 21:07] stephentoub commented on #13295
I'm currently building a checked runtime to help validate, but I suspect the issue is that:
- Process.BeginOutputReadLine() kicks off an asynchronous read loop on the the output stream
- The output stream of a Process.Start with redirected output uses a FileStream created as non-asynchronous, thus all ReadAsync calls made by BeginOutputReadLine are doing async-over-sync ReadAsyncs
- Such ReadAsync

[2020-03-23 21:08] jhudsoncedaron commented on #32125
@GeraudFabien : Sometimes you cannot use an async call because you're implementing an interface that isn't async. Note that `.Result` and `.GetAwaiter().GetResult()` can deadlock if there's an async method above you on the stack. This isn't about normal complexity problems anymore. This problem hasn't gone away because sometimes you really can't use async because the context doesn't allow it. It i

[2020-03-23 21:12] jhudsoncedaron commented on #32125
I've followed three different recommendations on this, they were all wrong. The real answer is it's impossible to run an async method synchronously.

[2020-03-23 21:14] AaronRobinsonMSFT commented on #33919
Okay. I am slightly concerned with the impact of this change will be. I think the fact that the workaround is straightforward does lend itself to being an okay change. Let's update our documentation for this. Perhaps https://docs.microsoft.com/dotnet/standard/native-interop/best-practices or https://docs.microsoft.com/dotnet/standard/native-interop/type-marshaling?

/cc @jeffschwMSFT

[2020-03-23 21:31] jkoritzinsky commented on #33919
I'll go add it to the best-practices document.

[2020-03-23 21:41] #33956 closed

[2020-03-23 21:51] valeriob commented on #32125
I'll add my point of view to the motivation.
There are many AspNet MVC 5 applications that where born before async was a thing and are actively developed today (think tens of mloc), we can bring them to aspnet core, and find out that the same code suffer from thread starvation.

[2020-03-23 21:55] ChadNedzlek commented on #13610
If the problem is that windows update is consuming a lot of memory, a hard reboot is likely going to exacerbate the problem, because it's just going to start doing whatever it was doing again. And if it's something that happens to most machines when they are spinning up (which is likely the case if it's only taken a handful of items), it would put all our queues into a reboot crash cycle and no wo

[2020-03-23 21:58] ChadNedzlek commented on #13610
We can certainly monitor the memory for now, and see if that lines up with the failures.  That shouldn't be that difficult to add to the heartbeat table for now.

[2020-03-23 22:01] jkotas commented on #13610
The libraries tests run on many threads in parallel. It is not unusual to see the test process take several GB.

In the last example above, the test process has 2.2GB allocated and crashing because the remaining 5.5GB is taken by the OS.

[2020-03-23 22:08] webczat commented on #31054
well. generally I am for either making it unsupported, or return empty collection. It is of course only my opinion and may be unacceptable, but there is no way to implement it in a way that will always work, at least no way that I know of. It is a bit of hit or miss, because it will depend on arbitrary user decisions, and more about the preferred software doing dhcp than about it's configuration.

[2020-03-23 22:24] thomaslevesque commented on #782
It's also used in all OAuth 2.0 responses (token response, discovery document, etc.)
I think it's really important to support it out of the box; right now I have to fall back to Newtonsoft.Json to handle it.

[2020-03-23 22:28] GeraudFabien commented on #32125
@jhudsoncedaron My main point was there are other solution thant implemented it in the runtime. Documentation can point to other implementation that cover the need and are syncronous. I didn't use it for years but https://github.com/restsharp/RestSharp/wiki/Getting-Started isn't async (and seems to be the only real sync client library). There is also https://github.com/jeffijoe/httpclientgoodies.n

[2020-03-23 22:30] Chrisboh commented on #13610
So I am very hesitant on making any changes in production without understanding what the problem is, I understand that we are running out of memory but what is the reason is important.  Is there something we can do either in the test case or with adding more telemetry to help us better pin down what the specific issue is here?

[2020-03-23 22:39] jkotas commented on #13610
Take a dump of svchost process when it has more than 5GB working set?

[2020-03-23 22:47] Chrisboh commented on #13610
What is the risk of taking out the whole OS while trying to dump > 5GB worth of information?  Also this isn't something that we can roll out to production to test as it could impact every work item unnecessarily.  Do you think the issue stems from just the OS itself or from a previous job?

[2020-03-23 22:48] ejsmith commented on #33980
Was thinking that the most likely reason why this was introduced in the first place is that, until recently, Windows didn't even support ANSI escape sequences. So maybe this could be implemented as a smart default where it's automatically turned it off on Windows versions less than 10.10586 which is the first build of Windows that started supporting ANSI.

[2020-03-23 22:52] ChadNedzlek commented on #13610
I hope we get some quick to capture data first, like at least recording _if_ high memory is normal/frequent/correlated.   Things like that are really low cost, so we can go to town collecting all many of stuff at sort of higher level, and then we can dig down incrementally as we get data indicating which direction to go.

[2020-03-23 22:53] markwilkie commented on #13610
I really like Chad's suggestion to find out really what's happening, and then we'll know better what to do.

[2020-03-23 22:57] ocdtrekkie commented on #2534
As a Gist: https://gist.github.com/ocdtrekkie/324b26993aa20479de6b967b9e522cd1

Also attached:
[strace.log](https://github.com/dotnet/runtime/files/4372275/strace.log)

[2020-03-23 22:57] jcagme commented on #33111
`runtime.linux-x64.Microsoft.NETCore.Runtime.Mono` done, onto `runtime.osx-x64.Microsoft.NETCore.Runtime.Mono`

[2020-03-23 22:59] ericstj commented on #33928
Here's the data from the last 100 builds:
|Build|Kind|Console Log|
|---|---|---|
|[568452](https://dev.azure.com/dnceng/public/_build/results?buildId=568452)|PR https://github.com/dotnet/runtime/pull/33852|[console.log](https://helix.dot.net/api/2019-06-17/jobs/4cf7fd72-ff0b-42e1-aa97-212167e1ab1e/workitems/System.Text.Json.Tests/files/console.2b0cfe73.log)|
|[568335](https://dev.azure.com/dnceng/

[2020-03-23 22:59] Chrisboh commented on #13610
For sure @markwilkie, I also have a hunch that Windows update might be getting us here and the combination of Windows trying to get to a steady state while running Helix work items might be creating a perfect storm.  @ChadNedzlek how reasonable would it be to stand up a separate VM using the same image we use in Helix and monitor how long it takes for Windows to get to a steady state?

[2020-03-23 23:05] TechnologyAnimal commented on #914
Bump?!

[2020-03-23 23:10] ChadNedzlek commented on #13610
This sounds like we've got a big lack of visibility into timeouts, both from our customers perspective, and even just ourselves into our own systems.  I know there are a few issues floating around around this.  I'm going to try to gather them all up and see what we can do both short and long term to help solve this in a general way.  We've got a couple one-off data points here, but I'd like a more

[2020-03-23 23:18] wfurt commented on #31054
I think we can make improvements - like in this particular case. As use of systems becomes more common, we will need to figure out how to talk to it  - and not just for DHCP. We should probably open separate issues. cc: @tmds

[2020-03-23 23:53] webczat commented on #31054
sure. note however that systemd-network is not replacing network-manager or at least it still didn't. As in, the situation with that particular feature can probably be improved only by adding each possible case, like info from dhclient specific files, info from dhcpcd specific files, info from dbus, you could even get info from network-manager... I am not sure what is the maintenance cost of all t

[2020-03-23 23:54] echesakovMSFT commented on #24588
@TamarChristinaArm Can you please help me to understand whether
[code]
should be lowered to
[code]
or something else?

https://developer.arm.com/architectures/instruction-sets/simd-isas/neon/intrinsics?search=vset_lane says that
[code]
is lowered to
[code]

and Visual Studio 2019 seems to be doing what prescribed on the website, i.e. it generates `INS Vd.S[lane],Wn` preceded by `FMOV Wn, Sm`

For

[2020-03-23 23:59] BreyerW commented on #30820
@Jozkee I have use for custom reference handling: preserving references across several serializations. I wrote 3d editor where i dont serialize everything in one go but instead serialize one by one, reducing maximum memory pressure. However for it to work even in the face of very complex reference types i have to store string ids somewhere and cleanest by far way for that is to write custom refere

[2020-03-24 00:03] cshung commented on #13406
Fixed through https://github.com/dotnet/runtime/pull/1042 and https://github.com/microsoft/perfview/pull/1075

[2020-03-24 00:03] #13406 closed

[2020-03-24 00:03] webczat commented on #31054
Sorry for spamming, but just discovered that and wanted to separate that for it to be more clear:

I am using archlinux, and networkmanager now has a builtin dhcp client. I am not sure how it works, I even didn't realize which update introduced that. I am not sure if this writes lease files at all or not. At first glance it looks like it does, but it is more difficult to predict the names, as they

[2020-03-24 00:14] buyaa-n commented on #33768
Test scenarios:
1. Type not derived from MemoryManager with or without finalizer should be OK
2.  Type derived from MemoryManager without finalizer should be OK
3. Class directly derived from MemoryManager having finalizer should warn
4. Class indirectly derived from MemoryManager having finalizer should warn

[2020-03-24 00:14] ChadNedzlek commented on #13610
Actually... it sounds like these are some sort of specially remote process timeout that you guys have implemented? In which case, anything we add to our own detection won't be of any value. :-(

[2020-03-24 00:21] halter73 commented on #1793
Given that filters already need to wrap the IConnection to replace the Stream or Pipe, this isn't actually so bad by comparison. I think the pain came from adapting existing Kestrel code that expects a more mutable IConnection/ConnectionContext.

Kestrel's HttpsConnectionMiddleware adds ITlsApplicationProtocolFeature to ConnectionProperties. To do this HttpsConnectionMiddleware needs to wrap IConn

[2020-03-24 00:24] danmosemsft commented on #13295
@stephentoub can you help me understand the assert here? (I realize this is in Unix, and this bug concerns Windows).
[code]
It seems to me a confusing design that `WaitForExit(timeout)` has logically distinct behavior for infinite, even if the timeout doesn't expire, so I went to read source.dot.net, forgetting it was Unix sources. Now I'm having trouble understanding the assert. Does WaitHandle i

[2020-03-24 00:26] buyaa-n commented on #33768
@bartonjs  @terrajobst I have used `warning` level for `severity` and `true` for `isEnabledByDefault` please let me know if that is correct

[2020-03-24 00:35] jkotas commented on #13610
The tests always had timeouts that are set much lower than the Helix timeouts. We have extra tracing for when the timeout is reached to help us diagnose them. I do not see how it prevents you from collecting more information about the problem.

[2020-03-24 00:37] stephentoub commented on #13295
I'm not understanding the question. What's the confusion?

That assert you highlighted is just saying that either the handle exited or that the timeout wasn't infinite: if it was infinite and the handle hadn't completed, the call wouldn't have returned.

[2020-03-24 00:52] #33916 closed

[2020-03-24 01:08] janvorli commented on #2534
@ocdtrekkie I can see the code is looking for several proc file system files that do not exist exist based on the log close to the failure:
* /proc/self/maps
* /proc/mounts
* /dev/shm/
* /proc/{PID}/stat

Only the /proc/self/maps and /proc/{PID}/stat is something that our runtime explicitly tries to open and we fail if we don't find it.

[2020-03-24 01:11] scalablecory commented on #1793
Ahh clever.

[2020-03-24 01:15] Jozkee commented on #30820
As far as I know, there are no features in the `JsonSerializer` that keep state across multiple calls and this one is not the exception.

Yes please, I am curious of your implementation and what's your exact scenario.

[2020-03-24 01:19] ocdtrekkie commented on #2534
I basically have to figure out how to fake things in /proc, so let me see what I can manage there. I think we have an open issue to add /dev/shm too.

Thanks! This lets me know what I need to accomplish.

[2020-03-24 01:31] ygc369 commented on #4613
@VSadov

Neither of these metrics can be helped by copying the finalized object to Gen0 region.

"how soon the originally occupied space is reclaimed"---- I think this metric can be helped by copying the finalized object to Gen0 region, because Gen0 GC always happens before Gen1 or Gen2 GCs.

[2020-03-24 01:47] maryamariyan commented on #33760
This issue should now be fixed as of https://github.com/dotnet/runtime/pull/33816

[2020-03-24 01:56] maryamariyan opened #33989 "[Extensions test failure]: M.E.C.UserSecrets.MsBuildTargetTest.GeneratesAssemblyAttributeFile"
Extensions test failure: Microsoft.Extensions.Configuration.UserSecrets.MsBuildTargetTest.GeneratesAssemblyAttributeFile

[code]

Disabled this issue on runtime repo. Filing an issue to get coverage later.
https://github.com/dotnet/runtime/pull/33984#discussion_r396846439

- [ ] Confirm if this is a product or a test bug and re-enable.

[2020-03-24 02:06] ericstj commented on #33982
You should be able to define separate groups.  Any overlapping RIDs will be dedup-ed so long as they have the same imports.  I submitted a PR based on what I think you want.  Please review.

[2020-03-24 02:06] VSadov commented on #4613
I think a confusing part is that there is no such thing as "moving" an object. What is possible is to "copy" to a new location and redirect all the references.
To find the references you need to scan the heap. That is too expensive to do for one object.

GC performs such scan for all objects up to a given generation. That makes the cost much lower per-object, but does not make it lower in a whole.

[2020-03-24 02:17] davidfowl commented on #32125
The thread pool will still starve, because you're still blocking a thread pool thread. It'll just happen slightly slower than if you didn't have the sync APIs.

[2020-03-24 02:47] maryamariyan opened #33992 "Keep track of select flaky functional tests for Microsoft.Extensions.Configuration"
In extensions repo, Flaky attribute is used on these tests:
https://github.com/dotnet/extensions/blob/master/src/Configuration/test/Config.FunctionalTests/ConfigurationTests.cs#L468

but I'll be using ActiveIssue instead and this issue is tracking them so we add back coverage later.

- [ ] Check if there is an underlying product bug or a test bug, and re-enable

[2020-03-24 02:59] maryamariyan opened #33993 "Test failures: Microsoft.Extensions.Caching.Memory flakiness"
[code]

https://helix.dot.net/api/2019-06-17/jobs/e7ed99d0-5a25-4792-8b58-04c5a0009c69/workitems/Microsoft.Extensions.Caching.Memory.Tests/console

---
UPDATE:
Failures not just on Mono. The flakiness reported in https://github.com/dotnet/runtime/issues/34128 and disabled in PR https://github.com/dotnet/runtime/pull/34142

[2020-03-24 03:25] jkotas commented on #33977
The `FuncName` has to be either `MessageBoxA` or `MessageBoxW`. `GetExport` does not do any of the name mangling like regular `DllImport`. The docs have a short note about it: https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.nativelibrary.getexport?view=netcore-3.1#remarks

[2020-03-24 03:25] #33977 closed

[2020-03-24 03:47] BreyerW commented on #30820
@Jozkee  yes naturally json.net doesnt have it by default and thats why i had to write custom reference handling. My scenario is already explained in previous post and i will edit this post to provide example soon

[2020-03-24 04:24] maryamariyan commented on #33954
cc: @anurse @JunTaoLuo

[2020-03-24 04:33] GrabYourPitchforks commented on #33997
@tarekgh The overload `string.Contains(string)` uses `CultureInfo.CurrentCulture` for comparison. Did we change how ICU works when running on RPi systems in 3.1?

[2020-03-24 04:38] maryamariyan opened #33998 "LoggingBuilderExtensions: Duplicate type in M.E.Logging and M.E.Logging.Configuration"
The type LoggingBuilderExtensions is in both Microsoft.Extensions.Logging and Microsoft.Extensions.Logging.Configuration
This is a pre-existing issue and, as a side effect, it makes it impossible to use LoggingBuilderExtensions when referencing both assemblies.

A part of PR https://github.com/dotnet/runtime/pull/33984/files makes a change to suppress the duplicate error for now.

[2020-03-24 04:54] leung85 opened #34001 "System.Text.Json Json doesn't serialize dictionary type class property"
core version 3.1.102
[code]

the configJson  return `{}`,
But it can be serialized if just use Dictionary<string, string> directly.

[2020-03-24 06:05] radityoardi commented on #33136
Hi, I just want to follow up on this topic. How do I get

[2020-03-24 06:08] radityoardi commented on #33136
I accidentally clicked on Close and comment. Just wanted to follow up on this. Any way I can get this approved, so I can start work on it?

[2020-03-24 06:12] v-haren opened #34002 "Test failure: JIT/Methodical/Invoke/fptr/_il_dbgvalftn_t/_il_dbgvalftn_t.sh"
failed in job: [runtime-coreclr jitstress 20200323.1](https://dev.azure.com/dnceng/public/_build/results?buildId=569982&view=ms.vss-test-web.build-test-results-tab&runId=17887870&resultId=107777&paneView=debug)

Error message
[code]

category:correctness
theme:testing
skill-level:expert
cost:medium

[2020-03-24 06:17] Jackcu commented on #33947
it throw a Exception with message that is "windows not support CipherSuitesPolicy" in windows.
in mac,it throw Interop+AppleCrypto+SslException: One or more parameters passed to a function were not valid

[2020-03-24 06:35] ChadNedzlek commented on #13610
We won't see a timeout.  I looked at some of these jobs... they are all marked as passed in the Helix system, so we can't even tell there _was_ a problem to trigger any additional reporting.  We can run this stuff on _every_ work item completion, but that's just going to be a wall of noise I think.

I can gather some pretty generic metrics on the computer, like free memory and such, but since we c

[2020-03-24 06:47] bartonjs commented on #33796
This should only apply to constructors painted with the `[JsonConstructor]` serializer, but should be prepared to account for other enrollment scenarios.

* For each parameter name in the parameter list of an included constructor
  * If there is not a property on the type hierarchy at that level whose name is OrdinalIgnoreCase equal to the parameter name, report a diagnostic against the parameter

[2020-03-24 06:59] larryw3i opened #34004 "how to use dotnet command to get the newest release??"
I'll thank dotnet for it improves my patience and teachs me how to unzip/update it's newest release instead of using terminal after the first installing
![Screenshot from 2020-03-24 14-57-11](https://user-images.githubusercontent.com/24457116/77397082-ef691f80-6ddf-11ea-9e7c-28483d694f8e.png)

[2020-03-24 07:00] #33426 closed

[2020-03-24 07:10] am11 commented on #34004
Related https://github.com/dotnet/sdk/issues/10848.

[2020-03-24 07:43] khellang commented on #782
@thomaslevesque You've seen the various workarounds in this thread, right?

[2020-03-24 07:44] valeriob commented on #32125
Since sync over async will consume 2 threads instead of one, that's the core of the problem, am i right ? I'm not sure how it will translate in the performance characteristics of the application.

[2020-03-24 08:06] valeriob commented on #32125
You are absolutly right @GeraudFabien, i've migrated many small applications already, and a big one. It all depends on how heavy is the usage of http apis. If your database has an http interface, you will starve pretty quickly when switching to aspnet core, if you use EntityFramework for example, it still have sync api, so the application will behave the same and no change needed.

Anyway my point

[2020-03-24 08:51] thomaslevesque commented on #782
@khellang I haven't seen any real workaround mentioned in this thread... I could implement my own naming policy or use the one proposed by @J0rgeSerran0, but it's not worth the trouble in my scenario. Eventually I didn't use Newtonsoft.Json, I just put `[JsonPropertyName]` attributes on all my properties.

[2020-03-24 09:13] MichalStrehovsky commented on #30902
Is this a customer scenario? It feels like the use cases where we need to preserve something because native code is essentially going to "reflect" on this are more our internal/Unity use cases and not something mainstream customers would hit. (I want to make sure we optimize the name for customer scenarios and not our internal use cases.)

It feels that the callbacks from native code still fit the

[2020-03-24 09:41] marek-safar opened #34007 "Change Environment.GetFolderPath to be compatible with tvOS"
As part of the mobile workloads migration, we need to ensure the apps are behaving consistently when calling into `Environment.GetFolderPath`. There is already some implementation for iOS but it looks like it's not fully compatible with existing Mono code

The second part is to ensure there is full code coverage for all `SpecialFolder` values.

[2020-03-24 09:42] marek-safar commented on #34007
/cc @EgorBo

[2020-03-24 09:51] J0rgeSerran0 commented on #782
Thanks for comment @thomaslevesque
Anyway, I am curious to know which are the impediments that you have in your scenario or why System.Text.Json and/or the workarounds are not worth the trouble.
Do you have any sample code to check this.
It could help us improve System.Text.Json or the workarounds that you have used.
Thanks a lot!

[2020-03-24 09:57] #33866 closed

[2020-03-24 09:57] Jmales commented on #33866
I ended up using a wrapper around stream to allow timeouts:
https://stigvoss.dk/2017/11/04/timeoutstream-and-net-standard-20/

[2020-03-24 10:17] NickCraver commented on #33980
I think there are a lot of problems flipped from "default off" to "default on" that would break a lot of systems. I suggest re-titling the issue to be a bit broader to not narrow into a specific fix, e.g. "Allow a way to enable `dotnet` colorized output, even if console output is redirected". That's really what we're trying to solve - and for .NET that generally needs to be in a non-breaking way.

[2020-03-24 10:26] thomaslevesque commented on #782
In a real application, I would probably use your policy implementation. But in this case it's just a demo app to illustrate a blog article, so I want to keep the code terse and simple. Having a whole snake case naming policy implementation would just add noise.

[2020-03-24 11:16] MaximLipnin opened #34008 "[Mono] Test failures in linux CI because libgdiplus can't be loaded"
The following tests are disabled in mono's CoreFX.issues_linux.rsp, and start failing in linux CI (more specifically on RedHat) after enabling:
[code]
The example of stack trace:
[code]

Those tests will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/33953

[2020-03-24 11:42] ygc369 commented on #4613
@VSadov

No, there is no need to scan the heap. Please reread my description:

And look at your previous comment:

It means that all objects in finalization queue has no other roots, so there is no need to scan the heap to find their references. It is safe to move(or copy) these objects to Gen0 directly. (As these objects might revive after their finalizer is called, the movement need to happen be

[2020-03-24 12:15] ethomson commented on #33980
I agree.  When the output is not a tty (or "when the console output is redirected") is often because you're writing to a file.  You would almost _never_ want inband control characters / ANSI color codes in that output.  Running in a CI system is the exception here, not the rule.

You may want to honor `NO_COLOR` _for interactive use_ - that would be a welcome improvement for people (like me) who s

[2020-03-24 12:19] ethomson commented on #33980
Speaking of a separate package - I'm like 99% sure that cake [already has this logic](https://github.com/cake-build/cake) to detect when it's running in CI.  Whether that's already abstracted out into a separate package or could be, I don't know, but it may be worth looking there first.

[2020-03-24 12:24] TamarChristinaArm commented on #33975
That's right, but in the second example the value is used before it's restored

[code]

so if the parent did clobber the top bits the result would be wrong. So looks like a dataflow bug..

Also I think the RA should avoid using `v8-v15` as much as possible around function calls. This would save it from having to do the save and restore. In C code I think this situation would be rare.. but since th

[2020-03-24 12:26] TamarChristinaArm commented on #33975
or if the JIT know which registers are used in the function call it can safely not do the spill/restore at all. I don't know if it has that information for LRA?

[2020-03-24 12:28] niemyjski commented on #33980
I'd think in 2020, we'd be smart enough to detect our environments and show color automatically for a really nice experience instead of opting into it. I don't opt into it in other programming languages, it just works.

[2020-03-24 12:46] massamino commented on #1366
I have the same error when I get a request from a remote API.
JSON has numbers as `0.1234`, but when I put it in a `decimal` parameter, it becomes `0`.

Json:
`{ ..., "prices": [{"from": 0, "to": 10, "cost": 0.123}, ... ]}`

Class
[code]
Class output: `From = 0, To = 10, Cost = 0`

[2020-03-24 12:52] Yanal-Yves commented on #32108
@tarekgh, Thank you for your response. I can't manage to upgrade ICU properly.

I was able to install ICU thanks to https://blog.remirepo.net and I have now the two versions installed on my CentOS 7 system. Unfortunately dotnet is still using the old one.

Do you have any pointer about how to upgrade ICU on Centos 7 and make dotnet use the new version ?

[2020-03-24 13:06] TamarChristinaArm commented on #33975
Also what's the general preference here? stack space or performance? if stack space is a concern than using the `ASIMD MOV` is the best option, but if performance then you're better off just spilling them as a `STR` has a lower latency and just spill the entire thing.  In this case the JIT could have done an `STP` as well and ended up with 1/4th of the overhead that it has now.

[2020-03-24 13:13] janvorli commented on #32108
@Yanal-Yves .NET Core looks for the latest version of ICU available on the standard library search paths. If it has picked the old one, then it seems it couldn't locate the new one or there was something wrong with it and we couldn't load it.
What is the new ICU version and in which directory is it installed?
Could you please run dotnet with `LD_DEBUG` environment variable set to `all` and share t

[2020-03-24 13:19] vcsjones commented on #34001
This is because `Test` is a field and fields are not currently supported by `JsonSerializer`. If you change `Test` to a property, then it should work as expected:

[code]

The request to support fields is being tracked in #876.

[2020-03-24 13:19] TamarChristinaArm commented on #24588
No there's no particular reason it can't. In fact in GCC we do this. We only generate the instruction in the ACLE docs in the case that we have constructed the float value on the integer side to begin with.

e.g. modern GCC for

[code]

won't generate a literal pool but will instead create the bitpattern on the genreg side

[code]

This is because the first `mov/movk` is handled in the same cycle.

[2020-03-24 13:35] stephentoub opened #34010 "WinHttpHandler test UseClientCertOnHttp2_OSSupportsIt_Success failing"
This fails for me locally 100% of the time (`dotnet msbuild /t:test`).
cc: @alnikola
[code]

[2020-03-24 13:55] neelabo commented on #33854
I will look closely at that issue.
Thank.

[2020-03-24 14:10] georgschausberger opened #34014 "Add MetaDataGetDispenser export as public API for profilers"
Since ilasm didn't need the export for MetaDataGetDispenser any more it was removed in
https://github.com/dotnet/runtime/commit/a6cbdae05eaa017e8e11eb1954c9525c62e5dfe0#diff-9246b6a12f41551eeb91940bd9905151L30 .

MetaDataGetDispenser is needed for profilers to access interfaces like IMetaDataEmit.

Already talked to @jkotas about this.

[2020-03-24 14:18] #33721 closed

[2020-03-24 14:20] am11 commented on #33980
For automatic CI detection, here is a list of environment variables from different services:

| Variable | Check value | Service(s) |
|---|---|---|
| `CI` | /TRUE/i or 1 | TravisCI, AppVeyor, CirrusCI, CircleCI, GitLab CI |
| `TF_BUILD` | /TRUE/i | Azure DevOPS |
| `DOCKERFILE_PATH` | non empty string | Docker Hub CI |
| `GITHUB_SHA` | non empty string | GitHub Actions |
| `JENKINS_URL` | non empt

[2020-03-24 14:33] MattGal commented on #13610
Out of curiosity, given more time would the tests actually have finished?  Or is this a legitimate deadlock.  If the latter it doesn't seem to matter what Windows is doing or how much memory it's consuming in the background when that happens.

[2020-03-24 14:39] neelabo commented on #728
(Reprinted from issue #33854)

Currently, the serialization order is not guaranteed.
I use Json to save application settings, but there is a problem if the order is not guaranteed.

- Diff cannot be obtained, making it difficult to find differences in settings.
- Not suitable for version control.
- The deserialization order is changed. -> The application initialization order is changed.

To fix th

[2020-03-24 14:40] jkotas commented on #13610
It is not a legitimate deadlock. The tests are timing out because of they are spending order of magnitude more time in the garbage collection. The GC sees that the machine is running out of memory and collects garbage aggressively. It makes it a lot less efficient. The tests would eventually succeed or fail with OutOfMemoryException.

[2020-03-24 14:44] jkotas commented on #34014
The profilers are meant to get IMetaDataEmit interface using  `ICorProfilerInfo2::GetModuleMetadata` . Here is an example that shows how to do it: https://github.com/dotnet/runtime/blob/master/docs/design/coreclr/profiling/davbr-blog-archive/samples/Add%20local%20to%20LocalVarSig.cpp

Could you please describe how you are using the MetaDataGetDispenser interface?

[2020-03-24 14:46] jaredpar opened #34015 "Errors installing the SDK during builds"
*Initial cost estimate*: 1 week
*Initial contacts*: @trylek, @ViktorHofer

Getting an error from `curl` during download.

[code]

Runfo Tracking Issue: [Errors installing the SDK during builds](https://runfo.azurewebsites.net/tracking/issue/98)
|Definition|Build|Kind|Job Name|
|---|---|---|---|
|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[954947](https://dev.azure.co

[2020-03-24 14:51] jaredpar opened #34016 "Restore is failing with MSB3026"
Full error:

This is happening in both CI and official builds. The error is intermittent though. Seems like an underlying race in restore.

|Build|Kind|Timeline Record|
|---|---|---|
|[570811](https://dev.azure.com/dnceng/public/_build/results?buildId=570811)|PR https://github.com/dotnet/runtime/pull/33953|Restore|
|[570525](https://dev.azure.com/dnceng/public/_build/results?buildId=570525)|PR htt

[2020-03-24 15:12] tannergooding opened #34017 "Improve the codegen for Vector4.Clamp"
https://github.com/SixLabors/ImageSharp makes use of the `System.Numerics.Vector*` and related types.

However, in https://github.com/SixLabors/ImageSharp/pull/1152 they are needing to replace the usage of `Vector4.Clamp` with a custom implementation due to the existing implementation being ~5x slower.

We should improve the codegen of this method in particular and also look at many of the other a

[2020-03-24 15:12] VSadov commented on #4613
Being not rooted does not imply not being referenced. An object in finalization can and often is still referenced by other objects in the finalization queue or by objects referenced by them indirectly. Any of these objects may become rooted again.

[2020-03-24 15:13] tannergooding commented on #34017
CC. @pgovind

[2020-03-24 15:14] tannergooding commented on #34017
Also CC. @JimBobSquarePants as an FYI that we are tracking this and would be happy to hear of any other places where we could improve.

[2020-03-24 15:16] ejsmith commented on #33980
I understand that the bar is high for breaking changes in .NET, but not sure that this is actually a breaking change. It would end up being ugly output in the few (IMO) cases where ANSI is not supported. I think it's REALLY important for .NET to have a great experience out of the box for people. The CLI is for developers to use and for developers to look at the output and be able to easily interpr

[2020-03-24 15:23] ejsmith commented on #33980
I am pretty sure that the .NET team isn't going to add a nuget package for something in the core runtime code. So that leaves us with adding code that needs to be maintained to detect all of the known CI services which seems also unlikely that the .NET team would be OK with in the core runtime code.

That is why I think whatever we do it's going to have to be kept simple. Either an opt-in or an op

[2020-03-24 15:29] kfrolov commented on #33426
Looks like changes in documentation not needed.  I have found, that [currently existing documentation](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.profileoptimization.startprofile?view=netcore-3.1) currently contains following phrase:

So, we only need to prepare another PR to add nullability annotations, modify test and add comments.

[2020-03-24 15:31] robindz opened #34031 ".NET Core 3.1.2's Uri.IsWellFormedUriString returns false instead of true even though the Url is correct."
# .NET Core 3.1.2's Uri.IsWellFormedUriString returns false instead of true even though the Url is correct.

# General

In my application I work with image URLs that contain Korean/Hangul characters from time to time and have to encode these so they can be properly passed to another library. Well, I've noticed that the `Uri.IsWellFormedUriString` method returns `true` when it's supposed to in Fram

[2020-03-24 15:33] b10-dslappendel commented on #1541
Any update on this? I just hit this as well when trying to stream directly to the response stream in my v3 Azure function.

[2020-03-24 15:34] janvorli commented on #33727
What's wrong with using one register there? The document you've pointed to says:

is a list of **one** or more registers to be loaded or stored, enclosed in braces. It can contain register ranges. It must be comma separated if it contains more than one register or register range.

As for the sub with SP

@dotnet/jit-contrib do we generate `sub.w sp, r8, #80` form in JIT?

[2020-03-24 15:36] scalablecory commented on #33957
The XML comments within source files is only used for documentation once. From then on, docs are updated in the [dotnet-api-docs](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.ComponentModel.DataAnnotations/ValidationAttribute.xml#L129) repo -- we do not make an effort to keep these in sync with source.

We can accept changes to the docs repo, though, if you feel something can b

[2020-03-24 15:42] jkotas commented on #33426
I did not see any response from you, so I just took care of it. This is all done now.

[2020-03-24 15:45] seiggy opened #34021 "CLR Exception when running in Kubernetes Linux environment at random times on startup"
We're seeing this problem in nearly all of our .NET Core apps in linux. Randomly on startup, the apps will just start throwing a CLR exception for every request. If we bounce the container, it runs just fine. It happens about 1 out of every 100 startups of the applications. Here's a stack trace from the logs of this occuring. We've not been able to replicate this on any developer machine.

`[40m

[2020-03-24 15:46] bartonjs commented on #34020
.NET Standard is a description of API shapes that have already shipped. Modifying API has to start with an implementation project, so I've transferred the issue to dotnet/runtime.

[2020-03-24 15:47] KrzysztofCwalina commented on #32125
I thought starvation is different and better than the "soft deadlock" we are talking about. A sync app, at some point, will run out of thread-pool threads and so work will be advancing slowly, but it will be advancing. In sync-over-async case, there are fairness issues between the i/o completion threads and threads picking up new work, and so the app might not be able to make progress. At least th

[2020-03-24 15:48] Bukran commented on #31619
Thanks a lot! I was stumbling against deserialization.

[2020-03-24 15:55] stephentoub commented on #32125
Yes.  Here's a (maybe-overly-simplified-but-gets-the-point-across) example.  Comment out just one of Sync/SyncOverAsync/Async and run it:
[code]
I get results like this:
[code]

[2020-03-24 15:59] jhudsoncedaron commented on #32125
@KrzysztofCwalina The following is actually a hard deadlock. I've hit it.

    async ValueTask<string> Method() {
        await Task.Delay(1);
        using (var h = new HttpClient())
            return h.DownloadStringAsync("some url");
    }

Everybody's saying it's a soft deadlock. But sometimes the thread pool can't make new threads. Everything grinds to a halt.

(Nobody is disputing the corre

[2020-03-24 16:00] stephentoub commented on #32125
On .NET Core?  Please share a repro.

[2020-03-24 16:04] jhudsoncedaron commented on #32125
@stephentoub : We ran out of nonpaged memory due to overload. It took awhile to get any diagnostics because Remote Desktop was dead meat and nothing was being logged.

[2020-03-24 16:04] stephentoub commented on #32125
Sure, if you run out of memory, that's an entirely different ball of wax.

[2020-03-24 16:21] #33760 closed

[2020-03-24 16:21] tarekgh commented on #33997
@GrabYourPitchforks

did you mean `string.IndexOf` as the issue not reported with the `Contains` method? We didn't change anything in 3.1 specifics to RPi nor any other system. We have a global change that avoiding using POSIX/C locales and us Invariant culture instead.

@digital-spinner

It will be hard to tell what could be the problem, the only thing I can think of could be the codepage used fo

[2020-03-24 16:23] ericstj commented on #33760
Last night's build passed.

[2020-03-24 16:24] igorsnunes commented on #33727
Hi @janvorli ,

Thanks for your reply.

Concerning to the use of only one register, you are correct about that. But the documentation also points (in the restrictions section):

So, this may lead to two possibilities:
- this is a valgrind issue: valgrind is expecting that the code was generated by a standard assembler, and it should accept only one argument on LDM/STM.
- this is a dotnet issue: it

[2020-03-24 16:28] #1877 closed

[2020-03-24 16:32] janvorli commented on #33727
@igorsnunes ah, I've missed the restrictions section. I guess the case of LDMIA with one register in the list is something that works, but is not supported according to the doc, so we should not be emitting that.

[2020-03-24 16:33] stephentoub commented on #33782
I'd still warn on the first example in the not-report-on section, where it's executing the stackalloc a fixed number of times.  Moving the stackalloc out of the loop is better, and even with a fixed count, what heuristic would we include to validate the limit?  If I iterated a million times, but still with a fixed upper bound, that's not going to work well.

I'd be ok if we started on this one jus

[2020-03-24 16:34] maryamariyan opened #34023 "Microsoft.Extensions.Http test failure on mono"
This issue tracks Http test failing on Mono:
[code]

https://helix.dot.net/api/2019-06-17/jobs/c6ed46b1-0512-4f5d-b721-ecaaaa01dc59/workitems/Microsoft.Extensions.Http.Tests/console

[code]

[2020-03-24 16:42] echesakovMSFT commented on #24588
@TamarChristinaArm Thank you for clarifying this for me!

[2020-03-24 16:46] J0rgeSerran0 commented on #782
Hi Thomas.

Now I better understand the situation.
Good to know that you are talking about a special situation in this case, and no about a general situation.
This is an important point to avoid possible misunderstandings.

Thanks a lot!

[2020-03-24 16:47] GrabYourPitchforks commented on #33997
Yes, `string.IndexOf`, not `string.Contains`. My error. :)

[2020-03-24 16:51] joperezr commented on #33888
Also one more note I forgot to mention, in order to use `ProjectReference` you don't necessarily need the projects to be part of the same solution, you can just manually add the ProjectReference to the .csproj and things should just work. This is the way we do it in our runtime repo, if you see, most of our projects under src/libraries/*/ref/*.csproj will have ProjectRefrences to other projects in

[2020-03-24 16:52] marco6 opened #34024 "Expression.Block behavior mismatch"
This simple piece of code behaves differently if compiled under .Net Core and .Net Framework (I tested 4.7.2 only).

[code]

In detail, .Net Core works fine, while .Net Framework throws an exception complaining about the empty block.

Reading the documentation of [Expression.Block](https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.expression.block?view=netframework-4.7.2) method,

[2020-03-24 17:01] EgorBo opened #34026 "RyuJIT: Is `*(&X) -> X` optimization safe?"
Just a minor issue (is it?), morph seems to optimize `*(&X)` to `X` (see https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/morph.cpp#L3747)
[code]
Is it correct?

(from twitter: https://twitter.com/konradkokosa/status/1242491683557773314)

I know It's pretty normal for C/C++ compilers to do such UB optimizations but is it for C#?

category:correctness
theme:question
skill-level:int

[2020-03-24 17:04] BruceForstall commented on #34002
Looks like this is `COMPlus_ZapDisable=1`

[2020-03-24 17:05] BruceForstall commented on #34002
@janvorli This isn't a GCStress case, but it is Linux/arm. Maybe the same issue as https://github.com/dotnet/runtime/issues/33366?

[2020-03-24 17:08] janvorli commented on #34002
@BruceForstall basically anything that shows assert somewhere in MethodTable is most likely caused by a GC hole. So I would put it into the same bucket as #33366

[2020-03-24 17:10] danmosemsft commented on #33744
@bartonjs is this widespread enough impact that we should try to hurry it into preview 3? I see only one report above.

[2020-03-24 17:14] ericstj commented on #34016
This is the AllConfigurations build.  I'm guessing this is a binclash in the build of our depprojs where two different projects are copying to the same path under artifacts. /cc @ViktorHofer @Anipik

[2020-03-24 17:19] Epic-Santiago commented on #33888
Thanks for all the good info @joperezr. I understood from the start that referencing a .NET Framework assembly from a .NET Standard project was not a go forward strategy. However, I was hoping that the fact that it worked (as long as I was still running on .NET Framework) would break a log jam in a very large conversion project and buy some time until that could be fully resolved. While it will st

[2020-03-24 17:19] #33888 closed

[2020-03-24 17:20] terrajobst commented on #987
* Looks good as proposed
    - We may want to change `HttpVersionPolicy.RequestXxx` to `HttpVersionPolicy.RequestedXxx`

[code]

[2020-03-24 17:34] AndyAyersMS commented on #34026
From what I can see, Roslyn is the one doing this optimization.

[2020-03-24 17:36] wfurt commented on #33947
The Windows behavior is documented and as @davidsh mentioned the ism because of underplaying OS limitations. What version of macOS and .NET do you use? I've seen something similar when testing TLS1.3. It is possible that OS does not like the particular cipher.
Can you craft runnable repo @Jackcu? And any reason for the reflection?

[2020-03-24 17:36] jaredpar commented on #34010
Confirmed this is blocking CI, generating a report

[2020-03-24 17:42] danmosemsft commented on #33620
@AaronRobinsonMSFT do you have what you need? I know @richaverma1 is tracking this one.

[2020-03-24 17:42] digital-spinner commented on #33997
OK, thank you and I'm very sorry for disturbing you all.. Everything works as intended except my SDCARD which was used in my Raspberry Pi. I have finally discovered this issue when my app started failing during web server initialization when tried to ask about System Culture etc. After I replaced that everything started to work again.

Again sorry and thank you for your support!

[2020-03-24 17:42] #33997 closed

[2020-03-24 17:45] tannergooding commented on #33496
@TamarChristinaArm, is there an existing reference for how to efficiently create a `Vector64`/`Vector128` from non-constant inputs?

We have methods both like:
[code]

In the case of the former, the given value is duplicated to all elements in the Vector.
In the case of the latter, we are given the value for each element separately.

I don't see any existing reference that can be used on the C++ s

[2020-03-24 17:46] EgorBo commented on #34026
hm... but doesn't JIT also do it in morph (link ^)?

[2020-03-24 17:48] ericstj commented on #34016
So here's a binlog from a failing restore: https://dev.azure.com/dnceng/_apis/resources/Containers/3712946?itemPath=Windows_NT_Libraries%20Build%20Windows_NT%20allConfigurations%20x64%20Debug%2FRestore.binlog

[code]
[code]

[code]

[code]

So the bug here is that netfx.depproj ends up copying the same file to the same directory when building for `net472` and `netcoreapp5.0`.

[2020-03-24 17:57] NikolaMilosavljevic commented on #33450
Fixed with https://github.com/dotnet/runtime/pull/33988

[2020-03-24 17:57] #33450 closed

[2020-03-24 18:03] jaredpar commented on #34010
### Console Log Summary
[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#565812](https://dev.azure.com/dnceng/public/_build/results?buildId=565812)|#33758|1|
|[#567106](https://dev.azure.com/dnceng/public/_build/results?buildId=567106)|#33860|2|
|[#567452](https://dev.azure.com/dnceng/public/_build/results?buildId=567452)|#33841|1|
|[#568318](https://dev.azure.co

[2020-03-24 18:03] AndyAyersMS commented on #34026
Hard to say if that amounts to the same thing -- we'd need to start with IL and then see if what the jit does violates IL semantics.

[2020-03-24 18:05] zenhack commented on #2534
Spoofing `/proc/self/maps` and `/proc/{PID}/stat` is going to be a lot harder than `/proc/self/exe`. It would be helpful to know what these are actually being used for; ideally we'd find a way for .NET to still work if `/proc` isn't available.

[2020-03-24 18:28] Yanal-Yves commented on #32108
Thank you for your anwser @janvorli
I tried to figure out myself how to make dotnet load version 62 that is installed on my system without any success.
I have created a small console app with the following code:
[code]

I then run the following command and put the result in a gist as you asked me for:

`LD_DEBUG=all LD_DEBUG_OUTPUT=dotnet_lddebug dotnet`
output result: https://gist.github.com/Yana

[2020-03-24 18:36] AaronRobinsonMSFT commented on #33620
@danmosemsft I didn't realize the urgency of this issue. I have all that I need locally. Focusing on this issue.

[2020-03-24 18:37] MaximLipnin opened #34030 "[Mono] Several tests fail in AssemblyLoadContext.InternalLoadFromPath"
The following tests are disabled in Mono's CoreFX.issues_linux.rsp file, and they fail after being enabled (at least on Ubuntu 18.04):
- System.Tests.ActivatorTests.TestingCreateInstanceFromObjectHandleFullSignature
- System.Tests.ActivatorTests.TestingCreateInstanceFromObjectHandle
- System.Tests.AppDomainTests.TestingCreateInstanceFromObjectHandleFullSignature
- System.Tests.AppDomainTests.Testi

[2020-03-24 18:42] tarekgh commented on #32108
@Yanal-Yves could you please check if your system defines the environment variable `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT`?

I am asking this because in your results I am not seeing icu libs are loaded. so maybe you are running with the Invariant Globalisation mode on?

[2020-03-24 18:45] danmosemsft commented on #33620
@DotNetAppCompatFeiWang when posting blocks of output like the callstack above, please surround with triple back ticks (```) on their own line above and their own line below. This fixes the formatting. You see I have done that with your callstack above, as Aaron did with his.

[2020-03-24 18:46] terrajobst commented on #28230
* `Equals` ignores non-ASCII characters. Should it return `false` or even throw?
* `IndexOf` et. al. should return `-1` if the "needle" contains non-ASCII characters; it's acceptable to return a successful match if the "needle" is found in the "haystack" and the haystack has non-ASCII anywhere (to the left or right of the match). IOW, only the "needle" is validated, not the "haystack".
* It seems

[2020-03-24 18:47] echesakovMSFT commented on #33975
I agree this could be an option, but not sure if this can be done easily. @CarolEidt probably knows.

I believe generally such information is not available to the JIT due to top-down compilation approach.
I remember that @erozenfeld looked in the past for doing such optimization in AOT and even there is was tricky due to some registers being used/trashed by stubs.

I didn't know that spilling coul

[2020-03-24 18:47] GrabYourPitchforks commented on #28230
Follow-up for self: Should we make guarantees about when inputs contain Latin-1 (non-ASCII) data? For example, with things like `Equals` and `GetHashCode`? At minimum we should consider the long term consequences of the current proposed behavior of treating everything as not-equal.

[2020-03-24 18:53] Yanal-Yves commented on #32108
@tarekgh, I don't have `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT` set and I cannot find System.Globalization.Invariant `runtimeconfig.json` on my ssytem.

I you open the second gist I have poste, you'll see icu lib references at line 11464. Did you miss something or am I wrong somewhere ?

[2020-03-24 18:55] TamarChristinaArm commented on #33496
Hmm not that I'm aware of, though we have a very limited number of instructions for this.

Yeah, the former case is just a `dup` and the latter is indeed a series of `ins`. where the first one is an `fmov` to create the vector.

Though the context they're used in is important, since e.g. doing a load followed by `Create(byte value);` should ideally result in a `ld1r`.

[2020-03-24 18:57] tarekgh commented on #32108
ah, I was not viewing the whole file :-( will take a look. thanks.

[2020-03-24 18:59] davidsh commented on #34031
@MihaZupan

[2020-03-24 19:00] tannergooding commented on #33496
Right, and if all or most of the inputs are constant, we could just construct a 64-bit or 128-bit constant (or simplify codegen in other ways) and load that instead.

But those should hopefully be optimizations handled in the JIT😄

[2020-03-24 19:01] ethomson commented on #33980
Smart defaults are the status quo: color on the console, no color when going to log files.  This means that interactive users get delightful colors (yay!) and nobody gets ANSI color codes spammed all over their log files (boo).

What you want is an option to turn *off* colors on the console (the `NO_COLOR` environment variable approach).  And an option to enable colors when the output *is* redirec

[2020-03-24 19:02] terrajobst commented on #26780
* Looks good
    - We like that we don't duplicate code between the native and the managed implementation
    - However, we should make sure that other hosts can access the logic in the hosting APIs, so it seems they should expose an easy API to compute the current RID and set the `AppContext` value (or make sure they are automatically set)
* We should make it a property
* It shouldn't return a nu

[2020-03-24 19:05] TamarChristinaArm commented on #33496
yup :) and if creating one of the `YxZ_t` types like `int32x4x4` then the `Create` call itself should be a `no-op` and the register allocate should just arrange the values to be put in the correct register when they're created if it can so it's zero cost :)

[2020-03-24 19:09] terrajobst commented on #30820
It sounds like you need to design an extension point by making it class instead. That sounds reasonable, so we bumped it back to `api-needs-work`. Once you have a proposal, we can re-review.

[2020-03-24 19:10] vitek-karas opened #34033 "Usage of new TFMs in runtimeconfig and host"
The new set of TFMs as per the [design](https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md) is relatively large as the TFM now contains not just the version of .NET but also the target OS and possibly even OS version.

Currently the SDK writes the TFM into `.runtimeconfig.json` into a `tfm` property. Typical `.runtimeconfig.json`:
[code]

The value comes directly from the `<T

[2020-03-24 19:10] jkotas commented on #26780
There is no sensible fallback in number of advanced cases. That's why it was proposed as potentially returning null.

[2020-03-24 19:10] vitek-karas commented on #34033
@terrajobst @jeffschwMSFT

Who is the SDK contact for the TFM work? - the SDK has probably much more "shared store" code in it, which might be affected as well.

[2020-03-24 19:15] jkotas commented on #26780
I guess we can make it return `any` RID as the fallback.

[2020-03-24 19:17] saucecontrol commented on #34017
I think the main problem with this method is that the logic is replicating the behavior of `Clamp` in HLSL, rather than the intuitive Min-Max behavior.  The codegen could certainly be improved from what it is now, but it can't be made to perform as well as most devs would expect without breaking the current behavior.

I did the same workaround myself after noticing the suboptimal codegen: https://

[2020-03-24 19:18] tarekgh commented on #32108
I believe the issue is in this line:

https://github.com/dotnet/runtime/blob/master/src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c#L201

which force loading the min version first which is happened to be the one in your system.

@Yanal-Yves could you please try setting the environment variable:

[code]

and look if this will help?

[2020-03-24 19:19] terrajobst commented on #30445
* Looks good
* This will only copy settings, no cache information
* Converters that were added automatically (e.g. factories) should not be copied.

[code]

[2020-03-24 19:19] eerhardt commented on #26780
The proposed options for what happens if `AppContext.TryGetSwitch("RUNTIME_IDENTIFIER")` returns `false` were:

* Throw an exception
* Return `any`
* Do a super simple managed fallback:
    * win-{arch}
    * osx-{arch}
    * linux-{arch}
    * ...
    * potentially `any` at the end if all the known `IsOSPlatform` checks return `false`.

The case where it is better than null is that `any` is a val

[2020-03-24 19:22] tannergooding commented on #34017
HLSL is also trivially `min(max(x, minVal), maxVal)`

The issue is that the x86 `maxps` and `minps` intrinsics aren't exactly straightforward for 0 or NaN inputs.

That is, for `maxps lhs, rhs` it returns `rhs` if either input is `NaN` or if both inputs are `0`; regardless of which is + or -.

[2020-03-24 19:22] GrabYourPitchforks commented on #33136
The product teams are triaging issues. This issue is labeled as untriaged, so they should see it when they get through the backlog.

[2020-03-24 19:24] CarolEidt commented on #33975
So you're saying it would be better to save & restore the full vector, rather than doing the partial save & restore?

The use of `v8` after the call, but before the restore, definitely looks like a bug.

[2020-03-24 19:25] MihaZupan commented on #34031
Looks like a bug from the perspective that IsWellFormed doesn't agree with AbsoluteUri in this case.

[2020-03-24 19:26] TamarChristinaArm commented on #33975
Actually I take that back, this is a bit nuanced.. while the stores can end up being cheaper as soon as you have more than 1 register to save. The loads are a lot more expensive.. so until you spill a LOT, the `INS` would be cheaper.

But how does the JIT handle this case and high register pressure? I'm slightly worried that it'll spill another register so it can do the saving of the top part..

[2020-03-24 19:27] saucecontrol commented on #34017
Right, but would changing the behavior be acceptable as an optimization?  If not, the workaround would still be necessary for cases where `minps`/`maxps` would be adequate.

[2020-03-24 19:31] CarolEidt commented on #33975
I believe that what it will do is spill it to a volatile register (since those are always available), and then store that upper half to memory. It might be reasonable to add support for spilling to memory if the callee-save registers are all occupied.

[2020-03-24 19:32] tannergooding commented on #34017
I think we should be able to optimize things correctly, it just requires some magic with regards to the ordering of left and right.

That is, since HLSL `min(x, y)` is `(y < x) ? y : x` but `minps x, y` is `(x < y) ? x : y` (which covers returning `y` for NaN and both inputs being zero)

Then I believe we just need to swap `x and y` and things will still be optimized correctly (pending tests, etc)

[2020-03-24 19:32] terrajobst commented on #30687
* Looks good
* We should have a follow-up for `JsonSerializerOptions.IgnoreDefault` to support skipping value types.

[code]

[2020-03-24 19:36] jkotas commented on #26780
The fallback really means "don't know". If you pass `any` to other APIs that expect actual meaningful RID, they are likely going to crash anyway.

[2020-03-24 19:36] TamarChristinaArm commented on #33975
Ah ok, that sounds reasonable. Then I think if we can avoid using `v8-v15` as much as possible then this case should be less of an issue. the `INS` look like the best option if there are free registers.

I suspect that once all the helper functions have some naive AArch64 code behind them that having a non-vector call in between vector code would be much rarer... unless they're vector function cal

[2020-03-24 19:37] saucecontrol commented on #34017
I'll defer to your knowledge on IEEE 754 edge cases. :)

Would certainly be good to have `Clamp` emit the expected `minps`/`maxps` pair on x86 if that's possible.

[2020-03-24 19:41] carlossanlop opened #34034 "The output of `build.cmd -subset help` is unclear"
The Build help (`build.cmd -h`) states that if I want to know what are the available combintions for `-subset` and `-subsetCategory`, you can use the `help` keyword:

[code]

But running `build.cmd -subset help` threw some confusing output, for the following reasons:

1. The fact that `dotnet-install` starts downloading something, instead of immediately displaying the requested options, makes me t

[2020-03-24 19:41] tannergooding commented on #34017
Well the HLSL `min`/`max` functions aren't IEEE compliant. If they were they would at least always propagate NaN or not (depending on which `min`/`max` function implemented) and would also treat `-0.0` as less than `+0.0`.

But, `Vector4` was also explicitly designed for speed and use in graphics applications (hence it mirroring HLSL/GLSL functionality for `min`/`max`/`clamp`), so we just need to

[2020-03-24 19:42] ahsonkhan commented on #30445
Also capturing another note: The copied option that is returned should be "unlocked" and the user should be able to modify it until the first serialization occurs (regardless of whether the original option was locked or unlocked).

[2020-03-24 19:47] yehia2amer opened #34035 "Single-File: dotnet don't check if the temp files are corrupted"
**Problem**
I got a weird issue from one of my customers, that each time he is trying to run the application. he got this error:
[code]

After debugging for a couple of hours it turns out that the files in the temp folder : %TEMP%\.net are somehow corrupted or not complete. and the issue was fixed by deleting the folder and running again.

**Suggested Solution**
dotnet save a hash of this temp fol

[2020-03-24 19:48] jeffschwMSFT commented on #34033
@dsplaisted

[2020-03-24 19:54] carlossanlop commented on #25078
I started poking into this, and I'm wondering if we could add a new notify event to enable listening to the contents of symlinked directories:

[code]

And to avoid disrupting the world, the code @wfurt pasted above could add the `IN_DONT_FOLLOW` flag by default, and would remove it if the user passed `FollowSymlinks`. Something like:

[code]

Thoughts, @wfurt, @JeremyKuhne ?

[2020-03-24 19:54] ManickaP commented on #33930
Broken since https://github.com/dotnet/runtime/pull/33158

[2020-03-24 19:55] AaronRobinsonMSFT commented on #33620
Okay I _think_ this is more likely a JIT bug. Here is how I am getting there.

The following is the failing stack:

[code]

Disassembly of top frame:
[code]

Register state after `00007FFA0A7F5BF5` above.
[code]

Once the frame returns, the `RBP` register is dereferenced as follows at `00007FFA0A7F4CE8` thus leading to the A/V.
[code]

I have a local repro and can provide additional information if

[2020-03-24 20:30] jeffhandley commented on #33763
Based on this guidance, we can update the estimates:

* Analyzer: Medium
* Fixer: Small

[2020-03-24 20:33] jonathann92 commented on #33280
Hi guys I might be having a similar with the runtime docker image `2.1.16-alpine`.

I noticed that my issue started appearing when I switched to `IHttpClientFactory` instead of a singleton `HttpClient`. I added my `IHttpClientFactory` through dependency injection with a timeout of 30 seconds. I am calling another endpoint and the logs show that the other endpoint returned in 1 second but I am stil

[2020-03-24 20:49] danmosemsft commented on #34008
@MaximLipnin libgdiplus is on these machines, presumably - and it's some issue with the Mono runtime?

Presumably we will need to disable these tests for eg Android where I guess there is no libgdiplus but this sounds separate.

[2020-03-24 21:12] ejsmith commented on #33980
Fixed. Thanks. :-)

[2020-03-24 21:22] safern commented on #34023
Added console output to description since the file links might expire.

[2020-03-24 21:37] NikolaMilosavljevic opened #34043 "Ubuntu 19.04 deprecation"
Ensure that there are no Ubuntu 19.04 specific packages produced, as it was deprecated on 1/23/20.

Ubuntu life cycle: https://ubuntu.com/about/release-cycle

This is most likely not an issue for packaging but docs only.

[2020-03-24 21:40] briansull commented on #33620
Source code for
WinQuickLook.Interop.ComInterfaceExtension.GetDisplayNameOf(WinQuickLook.Interop.IShellFolder shellFolder, System.IntPtr pidl, WinQuickLook.Interop.SHGDNF uFlags)

[2020-03-24 21:41] Yanal-Yves commented on #32108
[code]

[2020-03-24 21:44] briansull commented on #33620
Debug instructions:

Set a breakpoint upon entry of the method
ComInterfaceExtension.GetDisplayNameOf

There should be a push rbp at the start of the method.

Step past it (observe the value being push is not zero)
then set a data break point on the stack area where rbp was saved.

hit go and find out who is overruning the stack and writing a  zero value  on the saved rbp

[2020-03-24 21:54] tannergooding commented on #34017
You can see HLSL here: <http://shader-playground.timjones.io/0b7eb2cdf1dbf05000e49c6b66c48a6f>
It's actually slightly different from what I had above which is the GLSL behavior.
 * I tested locally for both (and with non constant inputs) but I don't know of a shader-playground equivalent for GLSL

For summary the HLSL results are:
* `min(1.0f, 3.0f)   =  1.0f`
* `min(3.0f, 1.0f)   =  1.0f`
* `min(

[2020-03-24 22:00] tarekgh commented on #32108
I am happy you were able to work around the issue. let me know if you get any more questions or issues.

[2020-03-24 22:05] saucecontrol commented on #34017
That's great!  Thanks for digging into it!

[2020-03-24 22:13] roji commented on #33397
Sorry for the delayed response @bgrainger, these are busy times.

Right - release can be visible for code depending on an error being thrown when the API is used incorrectly etc. I don't have very strong feelings here, but I don't think these negative cases typically inform API decisions in a significant way.

To be concrete, all databases I know of which support savepoints support Release, except

[2020-03-24 22:23] ericstj commented on #30436
The work is in the roadmap for JSON, but at the moment it's not prioritized.  The API was reviewed but UX studies pointed towards a change in direction.   The right thing to do at the moment is to remove this API so that it doesn't become a hard take-back in later previews.  We need to iterate on the design more before we release it.

Either @Jozkee or @layomia can you remove the API from the ref

[2020-03-24 22:27] jaredpar opened #34045 "Cryptograph.Csp tests are failing intermittently"
### Console Log Summary

[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#569968](https://dev.azure.com/dnceng/public/_build/results?buildId=569968)|#33175|1|
|[#570519](https://dev.azure.com/dnceng/public/_build/results?buildId=570519)|#33420|1|
|[#570525](https://dev.azure.com/dnceng/public/_build/results?buildId=570525)|#33990|1|
|[#570636](https://dev.azure.c

[2020-03-24 22:39] #33687 closed

[2020-03-24 23:36] am11 commented on #34026
Interesting that both decompile to [same thing](https://sharplab.io/#v2:D4AQTAjAsAUCDMACciDCiDetE+UgrgHYDOAhgGYCmyALIgLIQAUAlNrljLt4gJaEAXHKUQBeHEwBUTJvwGSWABhYsA3OxwBfDXkREyVWgzCtMO7nMmIARmMQAyKTMtKV6rjxxzEAYzuTrd25tGE0gA==).

[2020-03-25 00:02] shonk-msft opened #34048 "BinaryFormatter encodes wrong type information, ignoring SerializationBinder.BindToName, on array of array"
**Expected**: When `BinaryFormatter` is given a `SerializationBinder`, the binder should be used for constructed types like `A[]` and `A[][]`.

**Observed**: See the attached code and output files. The binder maps type `A` to `B`, by using "special" assembly and type names.
- Serializing/deserializing an `A` works fine.
- Serializing/deserializing an `A[]` seems to work, but the original assembly

[2020-03-25 00:11] shonk-msft commented on #34048
Note that when the loading process doesn't have access to the original type (`A` in this case) a different exception is thrown at deserialization time. In my particular case, the original type is a class generated by a `TypeBuilder` and the rogue assembly name can't be found by the deserializer, so a `SerializationException` is thrown.

[2020-03-25 00:41] layomia commented on #876
From @leung85 in https://github.com/dotnet/runtime/issues/34001:

[2020-03-25 00:41] GrabYourPitchforks commented on #34048
`BinaryFormatter` gives single-dimensional arrays special treatment, which is why you see `A[]` behave somewhat as expected. But other array types - such as jagged arrays (`A[][]`) or multi-dimensional arrays (`A[,]`) - aren't given special treatment and are considered their own independent types. That's probably why you're seeing inconsistent behavior in the `SerializationBinder`. Even though the

[2020-03-25 00:42] layomia commented on #34001
Closing as duplicate of https://github.com/dotnet/runtime/issues/876.

[2020-03-25 00:42] #34001 closed

[2020-03-25 02:02] ericstj commented on #12043
Test just failed in CI:   https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-33515-merge-8b65a7ac45014411b5/System.Net.Http.WinHttpHandler.Functional.Tests/console.e82308cb.log?sv=2019-02-02&se=2020-04-04T01%3A22%3A29Z&sr=c&sp=rl&sig=OW8KJTYfd%2FSpnffEHFtB42BhfMgeR6hD4RHzQtg1kYA%3D

[code]

[2020-03-25 03:12] AriNuer opened #34055 "Test failure:baseservices\\threading\\interlocked\\compareexchange\\CompareExchangeLong\\CompareExchangeLong.cmd"
**Job:**
[runtime-coreclr crossgen2 outerloop:20200323.1](https://dev.azure.com/dnceng/public/_build/results?buildId=570666&view=results)
**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=570666&view=ms.vss-test-web.build-test-results-tab&runId=17894722&resultId=100471&paneView=debug

[2020-03-25 03:19] danmosemsft commented on #10106
What is the remaining action here - is it "I think the best we can do is to have a list of types that used to be binary serialiable, but are not serializable anymore" ?

[2020-03-25 03:32] danmosemsft commented on #34023
@maryamariyan there is a label `runtime-mono` that is handy for mono specific issues

[2020-03-25 03:57] #33982 closed

[2020-03-25 04:13] danmoseley opened #34056 "Replace strings with resources in Mono corelib"
In src\mono\netcore\System.Private.CoreLib the pattern `Exception\s\("` has 340 hits. All these strings should instead come from src\libraries\System.Private.CoreLib\src\Resources\Strings.resx somewhere. In most cases there are already equivalent strings that can be determined by brief inspection of equivalent code in src\coreclr\src\System.Private.CoreLib or possibly src\libraries\System.Private.

[2020-03-25 04:40] danmosemsft commented on #34056
Also some are grandfathered in, as in coreclr. Eg., `throw new ArgumentOutOfRangeException("requiredLength", SR.ArgumentOutOfRange_SmallCapacity);` in StringBuilder is "requiredLength" forever presumably.

[2020-03-25 05:57] danmosemsft commented on #33867
may be just roughly reverting https://github.com/dotnet/corefx/pull/16704

[2020-03-25 06:07] georgschausberger commented on #34014
Yes it is used that way (ICorProfilerInfo2::GetModuleMetadata()).
We are using MetDataDispenser::OpenScopeOnMemory() to get these interfaces for various use cases (e.g. accessing meta data on ModuleLoadStarted where the above metadata is not complete yet).

Is there any other way to access memory/file mapped assemblies including the emit interface?

[2020-03-25 06:14] #33329 closed

[2020-03-25 06:16] am11 commented on #34056
With a slightly relaxed pattern, it also captures the cases where the first argument is `nameof()` followed by a hard-coded string:

[code]

[2020-03-25 06:19] danmosemsft commented on #34056
@am11 thanks.

I did a few -- I can put up a PR when the base change is in: https://github.com/stephentoub/runtime/compare/enablemonoanalyzers...danmosemsft:dan.on.stephen

You are welcome to do more, if you like.

[2020-03-25 06:20] jkotas commented on #34014
@dotnet/dotnet-diag Adding this back is a trivial one line change. Are you ok with supporting this API for profilers? If yes, we should add some tests for it.

[2020-03-25 06:22] jkotas commented on #34056
Is there a reason for it? We have fixed many similar bugs over the years, I do not see a reason why not to fix this one.

[2020-03-25 06:22] GrabYourPitchforks commented on #28230
Was thinking a bit more on the consequences of `Equals` always returning _false_ when comparing non-ASCII data. There is a potential pit of failure here. If you're using ASCII buffers as keys in a dictionary (a scenario we enable through the existence of `GetHashCode` routines), then this opens the door that the dictionary could be flooded with keys that appear to be equal but where `ContainsKey`

[2020-03-25 06:37] tommcdon commented on #34014
I think it is reasonable to add the export back. @davmason can you look at adding test coverage for this scenario?

[2020-03-25 06:38] georgschausberger commented on #34014
I'm ok with it.

[2020-03-25 06:44] #34016 closed

[2020-03-25 06:45] danmosemsft commented on #34056
If you do not recall this kind of change breaking things, lets do it.

[2020-03-25 07:02] huoyaoyuan commented on #34020
**This can't be done** because `IReadOnlyList<T>` is *covariance*, while `IList<T>` is not.

[2020-03-25 07:07] Jackcu commented on #33947
Thank you all for your time.
My dev-environment: Mac 10.15.3 and Windows10 1909. dotnet core 3.1.2,TLSv1.
Yes,the CipherSuites for "Client Hello" are OS dependant. eg.Schannel in Windows controls CipherSuites sent to server for negotiation. Accroding to the [list](https://docs.microsoft.com/en-us/windows/win32/secauthn/tls-cipher-suites-in-windows-10--version-1507) TLS_RSA_WITH_DES_CBC_SHA (what I

[2020-03-25 07:15] #33962 closed

[2020-03-25 07:17] soyang2828 commented on #33525
Thanks @vcsjones for the repro. Here is a usage code snippet. What do you suggest we do here?

                // Copy current process properties to worker process
                using (Process currentProcess = Process.GetCurrentProcess())
                {

...                    workerProcessInfo.FileName = Path.Combine(Path.GetDirectoryName(currentProcess.MainModule.FileName), WorkerProcess.Ex

[2020-03-25 07:17] davmason commented on #34014
@georgschausberger Can you be more specific with your scenario? Typically if you want to access something like IMetadataEmit you would do so in ModuleLoadFinished where the metadata is already populated.

[2020-03-25 07:24] mrange commented on #30436
What does this mean? Writable DOM not of interest to developers? I am certainly able to work around it but I think more than me would find use for a writable DOM.

[2020-03-25 07:36] marek-safar commented on #34056
I am not sure this is a step in right direction. We'll probably have to do work in the opposite direction and remove all resources overhead to cut on the size on workloads where English support is enough.

[2020-03-25 07:42] MaximLipnin commented on #34008
@danmosemsft Original comment for the disabled tests was `fail on Helix on RedHat systems because libgdiplus can't be loaded`. Perhaps, it's related to some runtime issue, for now I've just created the tracking issue with what I got from CI. As for Android, maybe @steveisok has something in the backlog.

[2020-03-25 07:59] davmason commented on #32093
Hi @auduchinok @k15tfu,

Even though it may seem like a small request, we cannot port new features back in servicing. It is posted publicly in out (support policy)[https://dotnet.microsoft.com/platform/support/policy/dotnet-core] that LTS releases will only receive "critical and compatible fixes" and new features do not fall under that.

.net 5 preview 1 is already released and .net 5 should be of

[2020-03-25 09:05] marek-safar opened #34057 "Introduce way to disable localization support"
The localization support for dotnet/runtime comes with a noticeable cost for workloads which are size sensitive and would be fine with English only.

The primary costs come from
- linker not being able to remove resource entries which are not needed
- ResourceManager implementation which is redundant for a single locale

There should be a way to switch to English mode only perhaps using some extra

[2020-03-25 09:28] JimBobSquarePants commented on #34017
Brilliant. This looks like an excellent plan going forward. Thanks @tannergooding

[2020-03-25 09:53] georgschausberger commented on #34014
@davmason We are changing metadata (adding new types, adding references, etc.) which has to be done on ModuleLoadStarted. This lead to problems on Linux.
Second use case are tests which load assemblies without a runtime.

The dispenser is used to query the IMetaDataTables via OpenScopeOnMemory(), which is then used to query interfaces for IMetaDataImport, IMetaDataAssemblyEmit, IMetaDataEmit, and

[2020-03-25 09:57] zosrothko opened #34058 "HTTP PATCH method is missing from the class System.Net.Http.HttpClient"
Hi

It seems that the HTTP PATCH method is missing from the class System.Net.Http.HttpClient. Thus RESTful API as described there cannot use the PATCH method directly. (There is a bypass in building the HTTP PATH method with user code, but for completness of the API, I think that PATCH is missing)

[Wiki RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer)

Rgds

[code]

[2020-03-25 10:19] #33907 closed

[2020-03-25 10:59] thomaslevesque opened #36034 "Support reading a byte array from a base64 string in JSON configuration"
### Is your feature request related to a problem? Please describe.

Currently, the configuration binder can't read a byte array from a base64 string.

For instance, if I have this:
[code]

and my appsettings.json file specifies the value for `Key` as a base64 string, it silently fails to bind my property, which remains null.

### Describe the solution you'd like

I'd like to be able to use base64

[2020-03-25 10:59] hypeartist opened #34060 "Project '..' targets 'net5.0'. It cannot be referenced by a project that targets '.NETCoreApp,Version=v5.0'"
While trying to reference a NET5.0 class library project from a NET5.0 WinForm project I get the error stated in the title:

[2020-03-25 11:01] #34020 closed

[2020-03-25 11:08] stephentoub commented on #34056
Every other assembly as well as the coreclr corelib build uses resources, as does 95% of the mono corelib via shared sources. Plus we want error messages to be the same across builds and not have to update them in many places when they change. I agree it'd be valid for the linker to optionally inline resource strings (or some other build step doing it), but that would be in addition to rather than

[2020-03-25 11:28] am11 commented on #34058
HttpMethod.Patch is available since .NET Core 2.1 and .NET Standard 2.1 (added in https://github.com/dotnet/corefx/pull/26030).

Docs: https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpmethod.patch?view=netstandard-2.1#System_Net_Http_HttpMethod_Patch

[2020-03-25 11:46] stephentoub commented on #34058
PatchAsync also exists. Thanks.

[2020-03-25 11:46] #34058 closed

[2020-03-25 12:11] marek-safar commented on #34056
I am aware of that and that would be unfortunate size regression if we had to ship with that (made tracking issue for that as #34057 a bit earlier).

[2020-03-25 12:25] liesauer opened #34062 "fail to cross build corehost for arm"
i am trying to cross build corehsot to arm, all the tools have been installed. but when i tried to run the `build.sh`, it failed.
[code]
actually, i have all those files and libs under `/home/arm/usr/lib/arm-linux-gnueabihf` and `/home/arm/usr/lib/gcc/arm-linux-gnueabihf`, but i don't know why `ld` cannot find them.
![image](https://user-images.githubusercontent.com/8676741/77535447-95e31c80-6ed5-

[2020-03-25 12:55] ViktorHofer commented on #32320
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=572416&view=ms.vss-test-web.build-test-results-tab&runId=17950088&paneView=debug&resultId=100000

[2020-03-25 12:57] alnikola commented on #34010
@jaredpar @stephentoub  I believe it's a mistake. CI is failing due to a **different** test ```System.Net.Http.Functional.Tests.PlatformHandlerTest_Cookies_Http2.GetAsync_ReceiveSetCookieHeader_CookieAdded``` tracked by this issue #33930

Current issue is about `UseClientCertOnHttp2_OSSupportsIt_Succes` test which cannot be run on CI because [requires Win 10 OS version 2004 or higher](https://gith

[2020-03-25 13:03] lg2de opened #36033 "How to download all NuGet packages at once?"
### Is your feature request related to a problem? Please describe.
As a software vendor we have to ensure that all packages included in our software have a license according to our rules.
Therefore we started approval process for NuGet packages.

So far this is working fine for individual packages based on .NET Framework (4.X).
Starting with .NET Core we are facing a huge list of packages required

[2020-03-25 13:07] alnikola commented on #34010
Just to clarify. This issue is **valid**, but only for a local test run. In contrast, the other issue #33930 affects the whole CI.

[2020-03-25 13:11] stephentoub commented on #13233
This works now.  Woo hoo!  Thanks to all who helped fix it.

[2020-03-25 13:11] #13233 closed

[2020-03-25 13:19] ViktorHofer commented on #13233
Nice 👍

[2020-03-25 13:27] danmosemsft commented on #34056
@marek-sa are thanks for pointing this out. Would you have any reason for concern if your https://github.com/dotnet/runtime/issues/34057 is completed? It seems like these strings would be a small issue in comparison so that work likely is inevitable.

[2020-03-25 13:29] stephentoub commented on #34056
Understood, and not disagreeing.  That's why I said such work "would be in addition to rather than instead of" this.

[2020-03-25 14:07] danmosemsft commented on #34057
ProjectN went further, I think, and replaced exception strings with ID'S (?). Not sure how desirable that is given often some are visible to users.

[2020-03-25 14:18] akoeplinger commented on #34008
Yeah this should be specifically an issue on RedHat, other System.Drawing tests on e.g. Ubuntu work fine on Mono.

[2020-03-25 14:19] vitek-karas commented on #34057
We actually went somewhat back on that decision and the shared library (I think in .NET Native 2.0) included full exception messages as the UX was pretty bad with just the IDs. I think a better way would be to try to teach linker to trim resource strings if they're not used anywhere (if we can reliably detect that - which might be pretty hard).

[2020-03-25 14:22] #33246 closed

[2020-03-25 14:32] mthalman commented on #32971
libicu65 is now obsolete.  The new version on the Focal feed is libicu66.

[2020-03-25 14:38] sumitdua opened #34066 "Setting up CoreFX on Ubuntu 18.04 for 32 bit"
hi guys , I am trying to build the dotnet core for Ubuntu18.04 -x86 .I am able to build coreclr .But while building the corefx 3.1 version .I am getting errors. System.Threading.Tasks.Dataflow -> /home/dotnetvb/Downloads/dotnetcore-build-x86-Linux-master/corefx/artifacts/bin/System.Threading.Tasks.Dataflow/netstandard-Release/System.Threading.Tasks.Dataflow.dll
Microsoft.Win32.Primitives -> /home/

[2020-03-25 14:45] danmosemsft commented on #34066
Is x64 an option for you?

[2020-03-25 14:47] danmosemsft commented on #34062
Does http://www.bnikolic.co.uk/blog/linux-ld-debug.html help?

[2020-03-25 14:49] MichalStrehovsky commented on #34057
Project N only went back because when we introduced replacing exception messages with resource strings, we didn't have an option to turn this off and _some_ developers wanted to turn it off.

It's a pretty significant saving and frankly if the app makes the exceptions user-facing, turning "Arg_DecBitCtor" into "Decimal constructor requires an array or span of four valid decimal bytes." doesn't hel

[2020-03-25 14:49] SamMonoRT opened #34068 "CoreCLR tests on Mono runtime : System.MissingMethodException: Method not found: void System.Int32[*]..ctor(int,int) Due to: Failed to load due to unknown reasons"
When running the following CoreCLR tests on the Mono runtime from the dotnet\runtime repo, we get the error "System.MissingMethodException: Method not found: void System.* ..ctor(int,int) Due to: Failed to load due to unknown reasons failures"

Example error :  Unhandled Exception:
          System.MissingMethodException: Method not found: void System.Int32[*]..ctor(int,int) Due to: Failed to load

[2020-03-25 14:51] dseefeld opened #34069 "Add nopgooptimization build flag for coreclr"
The root build script when building coreclr should have the option for nopgooptimize.  This option is being used when building from source, but can no longer be specified.

/cc: @jkoritzinsky

[2020-03-25 14:51] SamMonoRT commented on #34068
@vargaz @thaystg @lambdageek fyi

[2020-03-25 14:53] SamMonoRT commented on #34068
@lateralusX fyi too

[2020-03-25 14:54] layomia commented on #31211
We shouldn't do this. There's no standard on which side to reverse the items (serialization or deserialization) in order to roundtrip, so it is a non-starter as a breaking change candidate. The current behavior is compatible with Newtonsoft.Json behavior.

There's a work item to provide a sample converter showing how to roundtrip in the JSON docs which I think should suffice as a resolution for th

[2020-03-25 14:54] #31211 closed

[2020-03-25 15:04] sumitdua commented on #34066
No, As hardware supports 32 bit only.

[2020-03-25 15:07] marek-safar commented on #34057
@danmosemsft I don't think there is an appetite for removing the string altogether, this might be interesting super optimization but I don't think it'd be used in wild.

Using string literals as the keys for location is probably the most elegant solution but I fear the model of using IDs for localization for decades is something I'll have a hard time to convince others to switch from.

[2020-03-25 15:13] vcsjones commented on #31201
@bartonjs

I'm almost done with this and am working through the XML docs. I do have a question about it: since these methods will ultimately use other public and documented, import methods as the workhorse, how do exceptions get documented? Is it expected that every exception `ImportSubjectPublicKeyInfo` can throw also gets documented on `ImportFromPem`? Is there a way to say "and see this other m

[2020-03-25 15:14] SamMonoRT opened #34072 "CoreCLR tests on Mono runtime : Collectible AssemblyLoadContexts are not yet supported by MonoVM"
When running the following CoreCLR tests on the Mono runtime from the dotnet\runtime repo, we get the error :
System.ExecutionEngineException: Collectible AssemblyLoadContexts are not yet supported by MonoVM
             at System.Runtime.Loader.AssemblyLoadContext.InitializeAssemblyLoadContext(IntPtr thisHandlePtr, Boolean representsTPALoadContext, Boolean isCollectible) in /Users/samarthpatel/Do

[2020-03-25 15:14] marek-safar commented on #34056
@danmosemsft I am not against someone doing the work

[2020-03-25 15:21] #34010 closed

[2020-03-25 15:30] fanyang-mono opened #34074 "Refactor get_time_stamp_ns"
There is a get_time_stamp_ns in mini-runtime.c
There is clock_get_time_ns in mini-posix.c it would be nice to rename it to mono_clock_get_time_ns and move it to mono-time.{h,c} in utils/

[2020-03-25 15:33] bgrainger commented on #33397
Agreed, and I'm happy with the current proposal.

Thanks.

One final thing: shouldn't this be `virtual`?

[code]

[2020-03-25 15:39] eerhardt commented on #34057
Would this support only be for CoreLib/BCL or would it also apply to 3rd party libraries?

[2020-03-25 15:51] Jlalond commented on #31425
Hey @JeremyKuhne  / @carlossanlop to clarify, we're just calling refresh when we create a FileInfo, or delete, and the same for DirectoryInfo? @wfurt in the referenced issue you mentioned you had a way to more performantly do this other than a full refresh, do you still advise going down that route?

[2020-03-25 15:54] tarekgh commented on #28230
Can Equals return enum instead of boolean? I am imagining returning enum values Equal, NonEqual and InvalidNonAscii.

[2020-03-25 16:12] marek-safar commented on #34057
Ideally for everything but BCL + our core SDKs need to be in the first wave

[2020-03-25 16:25] eiriktsarpalis commented on #14032
Triage: moving to future as there doesn't seem to be consensus on whether we should implement this.

[2020-03-25 16:41] trylek commented on #32320
@MattGal - is there any way to double-check whether this is a one-off issue or a problem with a particular machine? This is the first occurrence in about 5 days so I'm not that scared yet but if this starts reproing on a more regular basis, I'll be strongly pushed to disable the ARM runs again. Thanks a lot!

[2020-03-25 16:46] janvorli commented on #34062
@liesauer what is the command line you are using to do the cross build?

[2020-03-25 16:48] janvorli commented on #34062
I am asking as you need to set the ROOTFS_DIR and pass in the `--cross` option and from the error it seems you might have not done that.

[2020-03-25 16:53] eiriktsarpalis commented on #14376
Triage: `DefaultConcurrencyLevel` value is just `Environment.ProcessorCount`, so the problem can be worked around by doing `new ConcurrentDictionary<_,_>(Environment.ProcessorCount, myCapacity, ...)` without using reflection.

Given there haven't been any API proposals in quite some time, I'm closing this.

[2020-03-25 16:54] #14376 closed

[2020-03-25 16:56] eiriktsarpalis commented on #14395
Triage: would support such an addition, please provide an API proposal.

[2020-03-25 17:09] eiriktsarpalis commented on #14713
Assuming this is correct, it would probably make sense to clarify in the docs.

[2020-03-25 17:48] NikolaMilosavljevic commented on #32971
Should we wait for Focal Beta freeze (4/2) before making new change in libicu dependency? https://wiki.ubuntu.com/FocalFossa/ReleaseSchedule

@mthalman is this a blocking issue?

[2020-03-25 17:50] tannergooding commented on #786
@damageboy, would you be fine with closing this given that we've updated the codebase to not use PDEP/PEXT and we are tracking exposing CPUID as its own intrinsic via https://github.com/dotnet/runtime/issues/785?

[2020-03-25 17:52] tannergooding commented on #1716
@ViktorHofer, what are the next steps here? I'm not sure there is anything additional that can be done by the `area-System.Runtime.Intrinsics` owners.

[2020-03-25 17:53] fabricefou commented on #14395
I don't understand, just add `[Serializable]` attribute is not an option ?

[2020-03-25 17:55] safern commented on #14395
Adding @ViktorHofer as the serialization expert in case he has something to consider before adding this.

[2020-03-25 17:58] tannergooding commented on #24637
Going to close this for now. This hasn't gained much traction and likely needs more thought/scenarios before it could be moved forward.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" being listed under step 1. Ideally the ne

[2020-03-25 17:58] #24637 closed

[2020-03-25 18:00] janvorli commented on #2534
the /proc/{PID}/stat is used to get a start time of a process and the /proc/self/maps to get a list of shared libraries and executable in the current process.

[2020-03-25 18:01] mthalman commented on #32971
@NikolaMilosavljevic - It's not blocking Docker since we install the dependencies explicitly ourselves.

But it's a blocker in the sense that .NET Core won't be able to be installed on Focal until support is added for libicu66 because libicu65 is no longer available in the feed.

[2020-03-25 18:01] tannergooding commented on #24625
Going to close this for now. This hasn't gained much traction and likely needs more thought/scenarios before it could be moved forward.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" being listed under step 1. Ideally the ne

[2020-03-25 18:01] #24625 closed

[2020-03-25 18:07] NikolaMilosavljevic commented on #32971
@leecow how do we want to manage this change in dependency for Ubuntu Focal? We have 2 pending PRs for updating the dependency to libicu65 (that is now missing) for 2.1 and 3.1 releases. We originally wanted to ship those in April. But, it seems that we need a new plan. It's also good that I held of on those PRs - I'm going to update them with libicu66 change.

[2020-03-25 18:08] tannergooding commented on #30659
This is being handled in https://github.com/dotnet/runtime/pull/33924, I've co-assigned it to @Gnbrkm41 for the time being.

[2020-03-25 18:10] feliwir commented on #14032
That’s very disappointing to here. I still have to use thirdparty solutions for this.

[2020-03-25 18:11] sandreenko commented on #34026
I think it is correct, in your test it is `&(*(X))` that we don't fold (or I am not aware that we do).

[2020-03-25 18:20] AaronRobinsonMSFT commented on #33620
Simplified repro below.

[code]

[2020-03-25 18:21] ericstj commented on #30436
It is still of interest.  The UX study told us that the API we've designed so far was confusing to users.  We wanted to iterate on that more before we committed to shipping it stable.  Details are outlined above: https://github.com/dotnet/runtime/issues/30436#issuecomment-535301281

[2020-03-25 18:25] dagood commented on #32971
We need the change in dotnet/runtime too, new PR since https://github.com/dotnet/runtime/pull/33455 was merged.

[2020-03-25 18:26] NikolaMilosavljevic commented on #32971
Yeah, working on 5.0 change now.

[2020-03-25 18:29] bartonjs commented on #31201
I believe so, that's what I've been doing, at least.

Adding a `<seealso cref="whatever"/>` has goodness, but I don't think there's an "import these exceptions"

Of course, you could decide to say `<exception cref="CryptographicException">An error occurred during key import.</exception>`.  But consider the quality of docs you'd like to read while doing the "::sigh:: boilerplate documentation" shor

[2020-03-25 18:31] maryamariyan commented on #33930
Found a failure with a similar stacktrace
[code]
https://helix.dot.net/api/2019-06-17/jobs/3ac6c10e-ba72-4805-92ee-bdb79d3e0dae/workitems/System.Net.Http.WinHttpHandler.Functional.Tests/console

Seen in PR https://github.com/dotnet/runtime/pull/34077

[2020-03-25 18:31] ViktorHofer commented on #1716
This can be closed now as it indeed was a mismatch of configurations. Thanks everyone.

[2020-03-25 18:31] #1716 closed

[2020-03-25 18:31] MattGal commented on #32320
Yes, actually; it's not terribly hard to use Kusto queries to see if a particular machine is an outlier for your work, given enough work items.  I'll take a peek.

My understand here is most of the "fix" was basically a refactoring of payloads to not be 700+ MB per work item;  if that regressed on your side it could be relevant.

[2020-03-25 18:32] dradhamohan opened #34080 "Memory leak while using TLS on Mac OSX"
Hi,
I am using .NetCore 3.1.2 on Mac OS X. Have a simple program that just establishes a TLS connection with a server and closes immediately. Doing this repeatedly, say for every X milliseconds, we can observe that the process memory utilization increases monotonically. The same program runs on Windows platform without any issues. The issue is seen on High Sierra, Mojave and Catalina.
Test program

[2020-03-25 18:33] ViktorHofer commented on #14395
We aren't planning to expand the support matrix of serializable types for .NET 5 onwards. There are concerns as support binary serialization (which uses the Serializable attribute) limits the underneath implementation because of implementation details being encoded in the serialization payload.

cc @stephentoub

[2020-03-25 18:40] leecow commented on #32971
Get things queued up and we can get them in for 3.1.4/2.1.18. Should be open for check-in tomorrow.

[2020-03-25 18:42] GrabYourPitchforks commented on #28230
@tarekgh Even if it returned `InvalidNonAscii`, we'd still have the problem I mentioned in my previous comment. Any comparer built on top of this would need to normalize that return value to _false_ or would need to throw an exception, both of which are problematic.

[2020-03-25 18:50] danmosemsft commented on #34056
@eerhardt @vitek-karas is it safe to assume that the linker work will include #34057  ?

[2020-03-25 18:52] MattGal commented on #32320
The work item Viktor linked failed due to downloading and unpacking its payload filling the disk... so the "good" part here is that network speed isn't the problem (i.e. you were able in all cases as far as I can see to download the work, just not unpack it.

([Last log before deadletter](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-34059-merge-a0a5ebb5c04643b1ae

[2020-03-25 19:11] VSadov commented on #33685
This was done as a part of https://github.com/dotnet/runtime/pull/33526

[2020-03-25 19:11] #33685 closed

[2020-03-25 19:16] wfurt commented on #25078
I think there are two separate issues @carlossanlop. First one is if the directory we are asked to watch is symlink and then what do we do if there are symlinks within watched directory.

For first one I think we can:
1.a close this with "work as expected" and perhaps improve documentation
1.b Do fstat/readlink as @JustArchi suggested. That would add one time cost when creating watcher. If we do t

[2020-03-25 19:20] tmelent opened #34082 "NullReferenceException in IISHTTPServer.OnDisconnect()"
Sometimes when I start my app, I get a NullReferenceException:
[code]
Why does it happen? What should I do or where can I find some info about it?

[2020-03-25 19:21] Tyrrrz opened #34083 "Framework-dependent app appears to not be compatible with 32-bit OS"
Hi there. Sorry if this issue is potentially misplaced.

Users of my WPF .NET Core 3.1 application report that they can't run it on 32-bit version of Windows. The app is framework-dependent and they have installed .NET Core 3.1 runtime for 32-bit systems.

![image](https://user-images.githubusercontent.com/1935960/77576627-2e7d9a80-6ede-11ea-899e-97b17f4c941f.png)

I'm not even sure where to begin

[2020-03-25 19:27] danmosemsft commented on #34057
That has the considerable appeal of not affecting the user experience. So I do hope we can at least do that part. But as an aside, for my education, is corelib itself typically trimmable much? Or too central/heavily used/interconnected and most is retained?

[2020-03-25 19:28] guesshe commented on #33374
I am able to build and run the dotnet executable. But when I pointed it to my published, self-contained hello_world application, it popped up following error. I suspect this has something to do with how I build coreclr (note my coreclr is still on version 2.2.8). Any idea how to debug this issue from coreclr perspective?
unknown symbol: _ZN3ETW5GCLog11FireGcStartEPNS0_14st_GCEventInfoE referenced

[2020-03-25 19:29] wfurt commented on #31425
I would suggest to call `Invalidate()` as proposed above @Jlalond . If you do `Refresh()` we will be forced to do work immediately. With `Invalidate()` we would do work only if somebody asks again.  I would expect that for example most developers assume file deleted after `FileInfo.Delete()` if it does not throw. I see no reason to do fstat just to verify that.

[2020-03-25 19:32] Jlalond commented on #31425
That's fair @wfurt, but should we call refresh upon create then?

[2020-03-25 19:37] danmosemsft commented on #34057
Right, but there may be plenty of apps that anticipate the ones their users will see are reasonable like `Could not find file '{0}'.` .

[2020-03-25 19:38] wfurt commented on #31425
Yes, I think so. We should be consistent and as @JeremyKuhne suggested we should update state for explicit actions. It seems like https://github.com/dotnet/corefx/pull/40677 did it only when creating directories.
I'm not sure how should we handle documentation @carlossanlop

[2020-03-25 19:41] SamMonoRT opened #34084 "CoreCLR tests on Mono runtime : System.InvalidProgramException: float conv.ovf.un opcodes not supported"
When running the following CoreCLR tests on the Mono runtime from the dotnet\runtime repo, we get the error :
Unhandled Exception:
          System.InvalidProgramException: float conv.ovf.un opcodes not supported.
             at conv_ovf_i8.main(String[] A_0)
          [ERROR] FATAL UNHANDLED EXCEPTION: System.InvalidProgramException: float conv.ovf.un opcodes not supported.
             at conv_

[2020-03-25 19:42] SamMonoRT commented on #34084
@vargaz @lewurm @fanyang-mono fyi

[2020-03-25 19:42] jkotas commented on #34083
.NET Core does not have integration with Windows OS like .NET Framework. The .exe that is published as part of the app is regular OS-specific native .exe. It matches the OS of the dotnet SDK that you are publishing on by default.

You can publish your app for x86 (e.g. `-r win-x86`) and then it is going to run as 32-bit app and it will work on both 32-bit and 64-bit Windows.

[2020-03-25 19:43] carlossanlop commented on #31425
I can take care of the documentation after this change is made. I also have to address dotnet/corefx#40677 as you requested.

[2020-03-25 19:45] Tyrrrz commented on #34083
Thanks a lot @jkotas, I will use that.

I didn't know that published apps are OS-specific even if runtime identifier is not specified. I'm guessing `AnyCPU` or something doesn't exist for .NET Core?

[2020-03-25 19:45] Jlalond commented on #31425
Alright so refresh upon create and invalidate on delete. Thanks everyone

[2020-03-25 19:49] Tyrrrz commented on #34083
@jkotas it appears that `-r win-x86` produces a full self-contained distribution. Is there any way to publish an app as 32-bit while still remaining framework-dependent? My users will have the runtime installed.

[2020-03-25 19:55] wfurt commented on #31425
dotnet/corefx#40677 use `Invalidate()` for  `Create()`. I think same logic can apply for creation. One can assume the object exist if `Create()` does not throw.  We can defer work unless somebody explicitly asks.

[2020-03-25 19:56] ManickaP commented on #33930
@maryamariyan Yes, it seems to be the same issue:
`WinHttp.WinHttpQueryDataAvailable`  in `System.Net.Http.WinHttpResponseStream.CopyToAsyncCore` ending with `Error 12030 calling WINHTTP_CALLBACK_STATUS_REQUEST_ERROR, 'The connection with the server was terminated abnormally'`

[2020-03-25 19:59] trylek commented on #32320
Thanks @MattGal for following up so quickly, that really sounds promising. Jared started looking into our artifact sizes in general as some of them seem ridiculously big; I guess that, once we're done with some initial inventory as to what artifacts we really need and what can be thrown away, we should reassess this and discuss the work item partitioning policy.

[2020-03-25 20:03] am11 commented on #33374
@guesshe, perhaps it is due to `FEATURE_EVENT_TRACE`. We disabled this method when `FEATURE_EVENT_TRACE` is disabled for Android, just a few days ago: https://github.com/dotnet/runtime/blob/91f14182958b0fad9c9b4dc7d908ff955581979b/src/coreclr/src/vm/gctoclreventsink.cpp. Reason for disabling event tracing feature was that lttng-ust library is not available on Android (at least via Termux package m

[2020-03-25 20:10] guesshe commented on #33374
@am11 Thanks! I modified clrfeatures.cmake to have set(FEATURE_EVENT_TRACE 0) if FEATURE_EVENT_TRACE is not defined. Is this the same as you pointed out to disable via cmakeargs?

[2020-03-25 20:14] JeremyKuhne commented on #30807
Closing the meta issue and tracking via the linked issues.

[2020-03-25 20:14] #30807 closed

[2020-03-25 20:14] jkotas commented on #34083
You can publish the app without the .exe, and launch it using `dotnet app.dll`. It will give you equivalent of AnyCPU from .NET Framework. Of course, platform-specific `dotnet` has to be present on the machine for this to work.

`--self-contained false`

These options are documented at https://docs.microsoft.com/en-us/dotnet/core/deploying/

[2020-03-25 20:14] mconnew commented on #10106
This isn't an issue with binary serialization. People with WCF services which return a MemoryStream are broken. This broke serialization with DataContractSerializer.

[2020-03-25 20:15] jashook commented on #33438
Related to https://github.com/dotnet/runtime/issues/32320

[2020-03-25 20:19] Tyrrrz commented on #34083
That did the trick, thank you. Didn't know about the link, couldn't find it myself when searching. With the help provided here, my issue is now resolved. ❤️

[2020-03-25 20:19] #34083 closed

[2020-03-25 20:25] Jozkee commented on #1783
This is no longer needed as https://github.com/dotnet/runtime/pull/2259 changed implementation and it no longer uses `JsonPreservedReference<T>`.

[2020-03-25 20:25] #1783 closed

[2020-03-25 20:27] am11 commented on #33374
Yes, it is the same thing (if it is compiling 🙂). For Android, it is disabled very early in the build: https://github.com/dotnet/runtime/blob/25fdaa850f492a9b4144670cac3522bd5b57cd6f/eng/common/cross/toolchain.cmake#L57 (when cmake sets up the toolchain for cross-compilation specified by `CMAKE_TOOLCHAIN_FILE` in `gen-buildsys.sh`; this toolchain.cmake script is invoked by cmake before project's f

[2020-03-25 20:27] MattGal commented on #32320
Chatting with Jarrett, he also reminded me of what I did earlier in this thread;  something put the variable back to C:\ here.  I can resurrect the sneaky trick I did to undo this while reaching out to DDFUN to understand why it may have regressed.  Will update this thread once done.

[2020-03-25 20:31] softworkz commented on #30783
I'm not familiar with the policies here - is it on me to close this?

[2020-03-25 20:33] ahsonkhan opened #34087 "Microsoft.Extensions.FileProviders.Abstractions failing on packaging-Windows.10.Amd64.Server19H1.Open possibly due to some python script issue"
See https://helix.dot.net/api/2019-06-17/jobs/aff9e87d-45df-425f-9632-c1beb56f934a/workitems/Microsoft.Extensions.FileProviders.Abstractions/console from unrelated PR: https://github.com/dotnet/runtime/pull/32587

[code]

[code]

Failing on the `Libraries Build Windows_NT allConfigurations x64 Debug` CI leg
https://dev.azure.com/dnceng/public/_build/results?buildId=573075&view=logs&j=423ae147-26a3

[2020-03-25 20:36] ahsonkhan commented on #609
Re-opening until https://github.com/dotnet/runtime/pull/34040 is done.

[2020-03-25 20:37] guesshe commented on #33374
@am11 Is clang a must to build? Is it possible to use gcc? I had issue with using clang to build dotnet executable, which resulted in "exec format error".

[2020-03-25 20:40] marek-safar commented on #34057
For most apps the user-facing aspect of exception messages does not matter but the developers care a lot about actionable messages in their logs.

[2020-03-25 20:44] ChadNedzlek commented on #13610
I ran a few instances of our images that we are using and watched them execute.

For the first 15 minutes or so, windows appears to be doing some standard first run tasks.  Memory and CPU usage varies, but is fairly high for this entire period (Memory usage is between 3 and 5 Gb, and CPU from 50% - 100%).

Once that levels off, the usage drops sharply and stays low.  This would align with Matt's o

[2020-03-25 20:45] guesshe commented on #33374
Can someone please explain to me a bit more about how does dotnet executable load a .dll application? It would be helpful to my debugging. Thanks in advance!

[2020-03-25 20:46] vitek-karas commented on #34035
/cc @swaroop-sridhar

[2020-03-25 20:50] jkotas commented on #13610
@safern @ViktorHofer Would it be possible to modify xunit driver to reduce the parallelism that the tests are executed with when the machine has <1GB free memory? Where would be the best place to make change like this?

[2020-03-25 20:54] #1094 closed

[2020-03-25 20:55] danmosemsft commented on #13610
Just curious, for my education, when a test run picks up a machine to run tests, what state is it in? Is it as if Windows was only just installed (since you say "standard first run tasks"). Is it possible to provision machines that are past that point? I realize you have thought this all through, I'm not suggesting we do things differently I'm just interested in understanding how it works.

[2020-03-25 21:04] terrajobst commented on #14032
What are the primary reasons you don't like using a third party solution?

[2020-03-25 21:04] MichalStrehovsky commented on #34057
This is similar to the globalization invariant mode - turning it on and then exposing the user to it will cause confusion, but we provide the option because it's worthwhile for certain scenarios.

Our resource key names are pretty descriptive. E.g. `The file 'foobar.baz' already exists.` and `IO_FileExists_Name, foobar.baz` would both have enough things to go off.

[2020-03-25 21:06] richlander commented on #33328
I like Marek's take. I like Architecture = Wasm.

From [webassembly.org](https://webassembly.org/):

There are at least three mainline scenarios:

- wasm in the browser
- [wasmtime](https://wasmtime.dev/)
- [wasi](https://wasi.dev/)

wasm and wasmtime seem like they are of the same kind (different environments). Wasi is more like a TFM, IMO.

[2020-03-25 21:07] ChadNedzlek commented on #13610
They should generally be passed the worst of it already: we do stand the machine up, do some configuration and a few reboots, and then snap that image to use in the tests.  But in order to be an image in Azure, it needs to be a "generalized image", which means "run sysprep". I think this 15 minutes is just de-generalizing the image.  If we were doing the full fresh install of windows it would be m

[2020-03-25 21:12] maryamariyan opened #34090 "Enable FunctionalTests/TestApp on Extensions Hosting"
This issue tracks enabling of FunctionalTests/TestApp on Hosting:

https://github.com/dotnet/runtime/pull/33984#discussion_r396833842

[2020-03-25 21:16] swaroop-sridhar commented on #34035
Thanks for reporting this @yehia2amer.
A fix for this problem is approved for .net core 3.1 servicing: https://github.com/dotnet/core-setup/pull/9013. It is expected to be in the May release.

[2020-03-25 21:16] swaroop-sridhar commented on #34035
Dup of https://github.com/dotnet/runtime/issues/3778

[2020-03-25 21:16] #34035 closed

[2020-03-25 21:20] danmosemsft commented on #34057
@MattWhilden since you've done a lot of work supporting customers on Project N -- have you seen developers have trouble reverse engineering its "compressed exception strings" ?

[2020-03-25 21:22] maryamariyan opened #34091 "Microsoft.Extensions.Logging test failures on mono"
Log on following 10 failures:
[code]

https://helix.dot.net/api/2019-06-17/jobs/5e3e7cf8-1614-4270-9162-6dccf0d0afb0/workitems/Microsoft.Extensions.Logging.Tests/console

[code]

[2020-03-25 21:28] MattGal commented on #32320
I met with Jarett and he reminded me we'd already done this for other machines, just not evidently this queue.   I've updated the machines again and discussed with DDFUN, so you should be unblocked.

[2020-03-25 21:30] buyaa-n commented on #33763
Just found we have analyzer for [ArgumentException ](https://github.com/dotnet/roslyn-analyzers/blob/master/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/InstantiateArgumentExceptionsCorrectly.cs)and its descendants, some rules might not covered and no fixer implemented I assume i would update this analyzer (if needed) and add fixer implementation. @mavasani please let me know what you

[2020-03-25 21:33] naricc commented on #33255
My draft PR is here: https://github.com/dotnet/runtime/pull/34054

[2020-03-25 21:39] buyaa-n commented on #33763
There is case not covered above:
[code]
The question is do we want fixer for this (possibly  `new ArgumentException() => new ArgumentException(null, nameof(first))`)

[2020-03-25 21:39] janvorli opened #34092 "Update maximum ICU library version we scan in System.Globalization.Native on Unix"
The maximum major version of ICU library that we start scanning at was set to 70 (50 as the minimum supported version + 20) long time ago. The available version of ICU is approaching that limit (it is at 67 now), so we need to bump that soon to make sure globalization will work with versions higher than 70.

[2020-03-25 21:46] MattGal commented on #13610
Couple points to this:

- Helix machines aren't picked, rather they ask the queue for work;  the component distributing tests knows nothing about which machine(s) will take its work other than queues are meant to be homogeneous machines.
- Pre-provisioning VMs is indeed possible, but will require spending/wasting more money, as well as this requires us to implement our own autoscale behavior.  Kee

[2020-03-25 21:46] tg123 commented on #14032
heap data structure is a MUST for doing leetcode
more leetcode, more c# code interview which means more c# developers.
more developers means better ecosystem.
better ecosystem means that if we can still program in c# tomorrow.

in sum: this is not only a feature, but also the future. that is why is issue is labeled 'future'.

[2020-03-25 21:49] jaredpar commented on #12043
This test is now having a pretty significant impact on the build. If we can't fix we should look to disable soon.

### Console Log Summary
[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#571145](https://dev.azure.com/dnceng/public/_build/results?buildId=571145)|#33485|1|
|[#571242](https://dev.azure.com/dnceng/public/_build/results?buildId=571242)|#33990|1|
|[#5

[2020-03-25 21:55] buyaa-n commented on #33763
Same question for other similar cases with empty string or white space, should we provide fixer?
[code]

[2020-03-25 22:00] scalablecory commented on #28230
I'd be comfortable with this behavior if we explicitly state "these are high-perf APIs only for expert use; they don't validate in this list of cases: a,b,c". Maybe call them `EqualsUnsafe`.

Otherwise, I think it is dangerous to just do a byte-wise compare. A Latin-1 string and a UTF-8 string, or even just a Windows-1252 string, might have equal encodings but different code points.

That is indee

[2020-03-25 22:00] masonwheeler commented on #14032
Because when there isn't a standard, everyone invents their own, each with its own set of quirks.

There have been plenty of times when I've wished for a `System.Collections.Generic.PriorityQueue<T>` because it's relevant to something I'm working on.  This proposal's been around for 5 years now.  Why has it still not happened?

[2020-03-25 22:02] BrennanConroy opened #34093 "App crashes now crash differently"
Apps when they throw from main now terminate in ucrtbase.dll instead of kernelbase.dll.
The problem is that the urctbase exception can't be handled by `__try {} __except(...){}` when manually invoking `hostfxr_run_app` in native code. Which causes problems with InProcess IIS now crashing instead of handling the app failure.

We've narrowed the change to https://github.com/dotnet/runtime/compare/97

[2020-03-25 22:04] tannergooding opened #34094 "CompareGreaterThan, CompareGreaterThanOrEqual, CompareNotGreaterThan, and CompareNotGreaterThanOrEqual have incorrect implementations"
As per the title, the following methods have incorrect implementations and won't handle NaN inputs correctly:
* NI_SSE_CompareGreaterThan
* NI_SSE_CompareScalarGreaterThan
* NI_SSE_CompareGreaterThanOrEqual
* NI_SSE_CompareScalarGreaterThanOrEqual
* NI_SSE_CompareNotGreaterThan
* NI_SSE_CompareScalarNotGreaterThan
* NI_SSE_CompareNotGreaterThanOrEqual
* NI_SSE_CompareScalarNotGreaterThanOrEqual
*

[2020-03-25 22:04] tannergooding commented on #34094
I found this while implementing https://github.com/dotnet/runtime/issues/31193.

CC. @CarolEidt, @echesakovMSFT

[2020-03-25 22:05] tannergooding commented on #34094
This would be a technically breaking change to fix, but one we should likely take. Especially given the difference in behavior users will see for the 256-bit overloads being added in https://github.com/dotnet/runtime/issues/31193 and people using the `FloatComparisonMode` enum overload.

[2020-03-25 22:05] Pilchie commented on #34093
@jeffschwMSFT - can you help get this triaged?  We're going to have to skip a bunch of tests do to this change for now.

[2020-03-25 22:07] stephentoub commented on #14395
No.  Just doing that exposes the implementation details of the collection, and makes it effectively impossible for us to make any meaningful changes to the implementation.  It's one of (but far from the only) reason we've significantly limited what types are serializable in .NET Core; most of the types that were serializable in .NET Framework are not in .NET Core, by design, with only a handful of

[2020-03-25 22:07] #14395 closed

[2020-03-25 22:16] jaredpar commented on #33291
Closing as this hasn't come up in recent builds.

[2020-03-25 22:16] #33291 closed

[2020-03-25 22:17] jaredpar commented on #32377
Closing as the issue looks like it's been addressed. Hvaven't seen this in recent runs.

[2020-03-25 22:17] jaredpar commented on #33879
Addressed.

[2020-03-25 22:17] #33879 closed

[2020-03-25 22:17] #33985 closed

[2020-03-25 22:19] terrajobst commented on #14032
Priority starvation, no pun intended. Designing collections is work because if we put them in the BCL we have to think about how they exchange, what interfaces the implement, what the semantics are etc. None of this is record science, but it takes a while. Furthermore, you need to a set of concrete user cases and customers to judge the design against, which gets harder as the collections get more

[2020-03-25 22:19] jaredpar commented on #33568
Closing as this has not shown up in some time now

[2020-03-25 22:19] #33568 closed

[2020-03-25 22:23] bartonjs commented on #33859
It could be updated to use a common one, but there's not a compelling need.

[2020-03-25 22:23] #33859 closed

[2020-03-25 22:24] danmosemsft commented on #14032
@masonwheeler is this what you have seen for `PriorityQueue<T>`? That there are several 3rd party options that are not interchangeable and no clearly accepted "best library for most"? (I have not done the research so I don't know the answer)

[2020-03-25 22:25] jaredpar commented on #34015
Data from the CI pipelines

|Build|Kind|Timeline Record|
|---|---|---|
|[573152](https://dev.azure.com/dnceng/public/_build/results?buildId=573152)|PR https://github.com/dotnet/runtime/pull/34050|Override CoreCLR from live drop|
|[573007](https://dev.azure.com/dnceng/public/_build/results?buildId=573007)|PR https://github.com/dotnet/runtime/pull/33749|Build|
|[572108](https://dev.azure.com/dnceng/

[2020-03-25 22:31] jeffschwMSFT commented on #34093
@vitek-karas @elinor-fung @jkoritzinsky

[2020-03-25 22:33] hoyosjs commented on #2317
The fix got merged and will be available in 3.1.4

[2020-03-25 22:33] #2317 closed

[2020-03-25 22:35] #32957 closed

[2020-03-25 22:35] danmosemsft commented on #33763
I searched for `\WArgumentException\(nameof` in our own tree and there are 64 hits...

[2020-03-25 22:39] bartonjs commented on #33763
I don't know that there's enough cleverness to guess as to what argument someone meant if they didn't give a name (vs gave a name, but passed it as the wrong parameter).

[2020-03-25 22:40] danmosemsft commented on #33763
Are we holding the bar to "essentially no noise" ? As this is a pattern we use in a fair number of places. Eg., (1) because the parameter name was historically different, although we should probably just 'break' those (2) because it's in a throw helper eg
[code]
Would I be expected to suppress the warning on this line?

[2020-03-25 22:43] terrajobst opened #34096 "Do not use default constructor of ImmutableArray<T>"
All structs have a default constructor, so we can't prevent people from writing code like this:

[code]

The reason this doesn't work is `ImmutableArray<T>` is just wrapping an array. By calling the default constructor the underlying field storing the array is initialized to `null`. For performance reason it's not viable to have `null`-checks in all methods that access this field.

Unfortunately w

[2020-03-25 22:45] bartonjs commented on #33763
My personal refinement/rise-and-repeat would say "hmm, if there are no parameters to a method and it's throwing an ArgumentException, there's not really anything to report on; it must be a helper".

If the helper took the message as a parameter, then it'd require suppression... assuming that's not a commonish pattern.

But the general flow on anything reactive like this is definitely "write it, se

[2020-03-25 22:49] GrabYourPitchforks commented on #34096
Related: https://github.com/dotnet/roslyn-analyzers/issues/3000, https://github.com/dotnet/corefx/pull/42531

[2020-03-25 22:51] meziantou opened #34097 "System.InvalidOperationException: StandardIn has not been redirected"
I got the following exception from time to time in my application whereas the standard input is  redirected.

[code]

I tried to make a small repro of the code I have in production. Note that it doesn't always throw the exception. You may need to run the code 10 times to get the exception.

A similar exception sometimes occurs on `process.BeginErrorReadLine()` or `process.BeginOutputReadLine()` wi

[2020-03-25 22:53] terrajobst opened #34098 "Do not discard results of methods marked as pure"
In .NET APIs, calling methods for side effects is the norm. Thus, it's generally OK to call a method and discard the result. For example, `List<T>`s `Remove()` method returns a Boolean, indicating whether anything was removed. Ignoring this is just fine.

However, there are cases where ignoring the return value is a 100% a bug. For example, `ImmutableList<T>`'s `Add()` has no side effects and inst

[2020-03-25 22:55] terrajobst commented on #34098
One could argue that the collection initializer work isn't necessary because types like this will generally not have a constructor. `ImmutableArray<T>` is an exception which is handled by #34096.

[2020-03-25 22:56] TimLovellSmith commented on #14032
@eiriktsarpalis How is there not consensus on whether to implement?

@terrajobst Do you really need a hero scenario when this is a well-known pattern with well-known applications? Very little innovation should be required here. There's even a pretty fully-developed interface spec already. In my opinion the real reason this utility doesn't exist is not that its too hard, nor there's no demand nor u

[2020-03-25 22:57] feliwir commented on #14032
@terrajobst
I’ve personally made the experience that 3rdparty solutions don’t always perform as expected/ don’t use current language features. With a standardized version i (as a user) could be quite certain that performance is the best you can get.

[2020-03-25 22:59] masonwheeler commented on #14032
@danmosemsft

Yes.  Just google "C# priority queue"; the first page is full of:

1. Priority queue implementations on Github and other hosting sites
2. People asking why in the world there's no official priority queue in Collections.Generic
3. Tutorials on how to build your own priority queue implementation

[2020-03-25 23:04] terrajobst commented on #14032
In my experience yes. The devil's in the details and once we shipped an API we can't really make breaking changes. And there are many implementation choices that are user visible. We can preview the API as an OOB for a while but we've also learned that while we can certainly gather feedback the lack of a hero scenario means you don't have any tie breakers, which often results in a situation where

[2020-03-25 23:06] jonathann92 commented on #33280
Playing around with a test project, I spun up 500 tasks in a for loop to make http GET calls an endpoint in a while loop. The endpoint has a random sleep between 500ms to 2000ms and returns 204. I got 2 different TaskCancelled Exceptions within less than a minute of the test running.

Other things I tried:

- Using singleton http client did not run into this error
- Using `http` instead of `https`

[2020-03-25 23:07] masonwheeler commented on #14032
Apparently [we need a hero.](https://www.youtube.com/watch?v=oW7OqO_lXTI) 😛

[2020-03-25 23:08] safern commented on #13610
These are the only two options I can find at the moment for xunit to let us control parallelism:
[code]

The best place I can think of is in `RunTests.cmd/sh` scripts, where we could run a step before invoking the runner, to check for the available memory we have and then tweak those xunit arguments based on the results we get.

Also, we should consider, doing this based on an argument passed down

[2020-03-25 23:09] GrabYourPitchforks commented on #28230
Yeah, this is also bugging me. :(

On one hand I want to make it difficult to do the wrong thing with these APIs. There is always the chance that somebody is mixing and matching Latin-1 with UTF-8, but I don't think mixing and matching like that would be commonplace. What I think will be more common is for somebody to pass (Latin-1, Latin-1) or (UTF-8, UTF-8) to these APIs. And for these scenarios

[2020-03-25 23:11] buyaa-n commented on #33763
@danmosemsft  in addition to @bartonjs's comment our  "Definition of Done" steps for analyzers might give you more info
1. Analyzer implemented locally (but no PR yet)
2. Rule run locally against the runtime repo with failures assessed to guide implementation details
3. Matching and non-matching scenarios captured and documented (in the issue comments to start, but Jeff will follow up with Manish

[2020-03-25 23:11] mavasani commented on #33763
@buyaa-n That sounds good. This rule should likely tune or supersede [CA2208](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2208?view=vs-2019).

Going through the discussions in this issue, I wanted to point out that the rules written in roslyn-analyzers repo have the ability to define end-user configurable [.editorconfig options](https://github.com/dotnet/roslyn-analyzers/blob/mast

[2020-03-25 23:24] danmosemsft commented on #13610
If this experiment is successful, perhaps the ideal would be for xunit to dynamically adjust according to throughput? It does not seem to do this (assuming I'm looking in the [right place](https://github.com/xunit/xunit/blob/9d10262a3694bb099ddd783d735aba2a7aac759d/src/xunit.execution/Sdk/MaxConcurrencySyncContext.cs))

[2020-03-25 23:27] ericstj commented on #12043
ping @dotnet/ncl

[2020-03-25 23:32] trylek commented on #32320
Awesome, thank you!

[2020-03-25 23:33] GrabYourPitchforks commented on #34098
Related: [FxCop rule CA1806](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1806) "Do not ignore method results"

[2020-03-25 23:34] pgolebiowski commented on #14032
Microsoft, the 5-year history above demonstrates that the process of introducing non-obvious, hotly-debated APIs does not allow for a successful delivery.

[2020-03-25 23:35] danmosemsft commented on #14032
@masonwheeler I assumed your link would be to [this](https://www.youtube.com/watch?v=bWcASV2sey0&feature=emb_title)😄 Now it's in my head.

Although as @terrajobst says, our primary issue here has been resources/attention (and you can blame us for that if you like) we would also like to strengthen the ecosystem so that it's more likely you can find strong libraries for whatever scenario that don't

[2020-03-25 23:38] jkotas commented on #13610
I would expect that this setting would be useful for a local dev workflow too. If your local dev machine is low on memory, you do not want xunit to kill it and/or get a bunch of tests fail with timeouts and OOMs.

And free memory too. The situation we get into here is that everything is super slow due to low-memory situation. It is too late to adjust once you hit the super slow patch.

[2020-03-25 23:39] kunalspathak commented on #8571
This is also applicable for ARM64 as well. When profiling [this](https://source.dot.net/#System.Private.CoreLib/MemoryExtensions.cs,1180) method on windows ARM4, we generate the following. The ctor call is inlined.
[code]

Here `G_M43267_IG04` doesn't need to be so long and can be:
[code]

[2020-03-25 23:50] masonwheeler commented on #14032
@danmosemsft Nah, if I was going to pick that song I'd do the Shrek 2 version.

[2020-03-25 23:58] jashook opened #34101 "Improve cross-crossgen run time"
Our cross-crossgen jobs take ~10 minutes to complete, and hold one linux arm machine for the entire time. The run time can be improved by parallelizing the crossgen invocations. This should crossgen in roughly ~4x the time due to the machines having four cores.

This will hopefully take our job time down to ~5 minutes.

[2020-03-25 23:58] jashook commented on #34101
## Time in seconds

| Branch | x64-arm crossgen (build machine) | arm crossgen (on device) |
| ------- | ----------------------------------- | -------------------------- |
| master | 189.140369                                          |  448.044597                       |
| change | 87.963722                                           | 133.222282                          |

[2020-03-25 23:59] jashook commented on #34101
After https://github.com/dotnet/runtime/pull/33175 goes in crossgen2 should hopefully be able to improve further. However, the low hanging fruit is no longer there.

[2020-03-26 00:01] maryamariyan opened #34102 "One coreclr Linux test failure: Microsoft.Extensions.Caching.Memory"
[code]

[2020-03-26 00:02] jashook opened #34103 "Crossgen comparison job, remove x64 binaries before submitting"
*Initial cost estimate*: 2 days
*Initial contacts*: @trylek, @safern, @jkoritzinsky

This will continue to make our payload sizes smaller and help with linux arm* hardware capacity issues.

[2020-03-26 00:04] karelz commented on #12043
Looks like it had a recent spike ... on WinHttpHandler. @alnikola can you please take a look?
(I am curious if the `WinHttpException` above is accidental, or if it is related to recently added WinHttp tests ...)

[2020-03-26 00:08] Marusyk commented on #20758
Seems it already fixed in https://github.com/dotnet/corefx/pull/40402

[2020-03-26 00:09] jashook opened #34104 "Remove all build related dependencies from the helix docker images"
Currently the helix docker images contain a bunch of native build tools. We follow guidance to not build on the helix nodes, therefore these dependencies are unused, but not trivial in size.

See https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/ubuntu/18.04/helix/arm32v7/Dockerfile.

With hope, reducing the image size should lower setup cost on these machines. We cannot y

[2020-03-26 00:10] jashook commented on #34101
To improve the machine utilization further I see a few different possibilities.

1. Before submitting to helix, remove all x64 binaries in the core_root (https://github.com/dotnet/runtime/issues/34103)
2. Remove all build related dependencies from the helix docker images. (https://github.com/dotnet/runtime/issues/34104)

[2020-03-26 00:11] #33172 closed

[2020-03-26 00:12] jashook commented on #1097
Arm32 is now being run again

[2020-03-26 00:12] #1097 closed

[2020-03-26 00:17] wli3 commented on #34015
https://github.com/dotnet/sdk/issues/11001

[2020-03-26 00:22] jnm2 commented on #14032
reference to the work going into the C# 9 records feature? :D

[2020-03-26 00:25] stephentoub commented on #34098
We have a lot of methods with no side-effects that aren't annotated with Pure, which is part of the defunct System.Diagnostics.Contract.  Is the intent of this that we start using it on all methods where it's relevant?  Would we put this on `string.Replace` for example?

[2020-03-26 00:29] #34101 closed

[2020-03-26 00:41] jashook commented on #33872
Here is some preliminary timing data.

## TIme in minutes

| Generator             | Wall clock (.\src\coreclr\build-runtime.cmd x64 checked) |
| ----------------- | --------------------------------------------------------- |
| MsBuild (clean)    |  2.5                                                                                               |
| Ninja (clean)         |  4

[2020-03-26 00:43] jashook commented on #33872
Note that the timing data on the experiment brings it close to the linux build time

[2020-03-26 00:44] CarolEidt opened #34105 "JIT: Support assignments of multi-reg values to enregistered promoted structs"
Currently, calls or other operations (such as `MUL_LONG` on 32-bit platforms) that return multiple registers must be stored (either to the stack or elsewhere). This means that promoted structs (whose fields have been promoted to allow them to be separately tracked, optimized and enregistered) will be forced to the stack.
This is the underlying issue in #5112 and #8571, but support for this would a

[2020-03-26 00:46] jkoritzinsky commented on #33872
That timing for an MSBuild clean build seems really fast.

[2020-03-26 00:48] roji commented on #33397
Absolutely, thanks for catching it (amended).

I think this is ready for review - though am wondering if return a Task rather than ValueTask is still the right thing here (/cc @stephentoub). Am marking this as ready for review.

[2020-03-26 00:54] liesauer commented on #34062
@janvorli i already set `ROOTFS_DIR` and passed the `--cross` option
[code]

[2020-03-26 00:58] CarolEidt commented on #34105
@terrajobst - The idea of having an intrinsic return a `ValueTuple` was mentioned in the context of `Bmi2.MultiplyNoFlags`, but comments here: https://github.com/dotnet/runtime/issues/11782#issuecomment-452642719 and here: https://github.com/dotnet/runtime/issues/11782#issuecomment-453154961 indicated that it was not in keeping with API guidelines, yet in a recent API review I believe you indicate

[2020-03-26 01:04] shravan2x opened #34106 "Task.WaitAll missing IEnumerable<Task> overload"
In general, `Task.WhenAll` is used to wait for a collection for tasks to complete execution. However, `Task.WaitAll` still has valid niche use-cases. For example, in a synchronous method that blocks shutdown until it completes - `appLifetime.ApplicationStopping.Register(() => _shutdownTokenSource.Cancel())`.

`Task.WaitAll` seems to be missing an overload that takes an `IEnumerable<Task>`. This ov

[2020-03-26 01:23] safern commented on #13610
Sounds reasonable.

[2020-03-26 01:27] elinor-fung commented on #34093
It looks like this is from `/EHsc` no longer being specified for the host projects - it used to be in the deleted [settings.cmake](https://github.com/dotnet/runtime/commit/b035137#diff-ffcfc895c580dfc4e2784a3b9f77c41a). (I had thought that was one of the default flags that cmake uses for MSVC, but I guess not.)

[2020-03-26 01:39] elinor-fung commented on #34093
Oh, I see. `configurecompiler.cmake` (which the host projects were switched to using) explicitly [specifies](https://github.com/dotnet/runtime/blob/master/eng/native/configurecompiler.cmake#L425) `/EHa`.

[2020-03-26 01:44] jashook commented on #33872
Will run 10 times and average.

[2020-03-26 01:49] jashook commented on #33872
Also working on 2 core and 4 core vm build times. Will post probably early tomorrow.

[2020-03-26 02:12] jeffhandley commented on #33763
@buyaa-n / @danmosemsft - I've revised our definition of done a bit.  Here's the updated list.  We'll get this documented somewhere centrally very soon.

* Implement the Analyzer locally (but no PR yet)
* Run the analyzer locally against the `dotnet/runtime`, `dotnet/aspnetcore`, and `dotnet/roslyn` repositories using the failures there to discover nuance and guide the implementation details
* Doc

[2020-03-26 02:50] stephentoub commented on #33782
I ended up adding a heuristic, as there are several occurrences in dotnet/runtime that do the more complicated pattern.

There are also a few cases in dotnet/runtime to fix.

[2020-03-26 03:09] echesakovMSFT opened #34108 "Native debugging with symbols is broken on Linux/arm64"
It appears that #33716 causes the following issues on Linux/arm64 (it could be on other architectures as well)

This is what shows up when I run gdb
[code]
and this is output of bt command in lldb
[code]

As you can see there is no information about the source files.

If I manually disable stripping the symbols by commenting out the following lines https://github.com/dotnet/runtime/blob/db2375097e

[2020-03-26 03:11] isadorasophia opened #34109 "Breakpoint changes the test output on MSTest"
This seems very similar to #12875. The output of a test suite is affected if you add a breakpoint on a specified line.

**Repro steps:**
[code]
Code from: https://developercommunity.visualstudio.com/content/problem/933087/floating-point-precision-issues-when-stepping-in-t.html

1. Add a breakpoint at specified line;
2. Target .NET Core 3.0 or 3.1;
3. Start debugging;
4. Hit breakpoint and continue

[2020-03-26 03:28] AriNuer opened #34110 "Test failure:baseservices/threading/paramthreadstart/ThreadStartGenerics_1/ThreadStartGenerics_1.sh"
**Job:**
[runtime-coreclr crossgen2 outerloop:20200324.1](https://dev.azure.com/dnceng/public/_build/results?buildId=572288&view=results)
**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=572288&view=ms.vss-test-web.build-test-results-tab&runId=17946966&resultId=100264&paneView=debug

[2020-03-26 04:11] am11 commented on #34108
@echesakovMSFT, does it work in Release, and only breaks in Checked and Debug, or only in Checked? If that is the case, then it sounds like a configuration-specific overwriting issue, which can be fixed.
Also, are you compiling it on device or using `-cross`?

[2020-03-26 04:14] terrajobst commented on #34105
Tuples: we can use tuples in APIs and as of recently we did in a few cases. The general guidance is: don't use them as parameters and only use them when the number of values if 4 or less and we're sure we never need to add more. For the most part, we prefer custom structs because we can add members.

[2020-03-26 04:18] terrajobst commented on #34098
I don't think we need to add it on all methods that are side-effect free, but we should do it on those where mistakes are likely. Once the analyzer is there, we only need to apply the attribute, which is nice. Not sure `string` is likely these days, but for immutable collections it's common when people convert code to use it. Having it there would certainly help.

[2020-03-26 04:35] am11 commented on #33872
It would be nice if we also compare the degree of parallelism. Other build systems might be using higher `-j`, while we seem to be missing `/maxcpucount` or `/m` switch for msbuild or `/MP` for cl. Can be captured with `runtime\build.cmd -cmakeargs -DCMAKE_VERBOSE_MAKEFILE=ON`.

[2020-03-26 04:42] am11 commented on #33374
`-clang` is default when there is no compiler specified, can use `-gcc` as you have done before: https://github.com/dotnet/runtime/issues/33374#issuecomment-602789459..

[2020-03-26 04:44] v-haren opened #34111 "Test failure: JIT\\Performance\\CodeQuality\\HWIntrinsic\\X86\\PacketTracer\\PacketTracer\\PacketTracer.cmd"
failed in job: [runtime-coreclr jitstress 20200324.1](https://dev.azure.com/dnceng/public/_build/results?buildId=572214&view=ms.vss-test-web.build-test-results-tab&runId=17945330&resultId=107389&paneView=debug)

Error message
[code]

[2020-03-26 05:08] TonyValenti commented on #34098
Why not have the C# compiler automatically add [Pure] to methods it detects are pure?  I can see this as a great enhancement that would actually allow the compiler to do further optimizations with common expressions.

[2020-03-26 05:15] terrajobst commented on #34098
Because it's generally hard to follow this. For example, a method that lazily initializes a cache isn't side effect free (it modifies a field) but it's basically not observable. I think trying to create Haskell out of C# won't fly.

[2020-03-26 05:20] Jozkee opened #34112 "System.CodeDom.Compiler.Tests.CodeCompilerTests.GetResponseFileCmdArgs_ValidCmdArgs_ReturnsExpected test failing in CI"
Found on https://github.com/dotnet/runtime/pull/33459

Error and stack trace:
[code]

@buyaa-n @krwq

[2020-03-26 05:28] TonyValenti commented on #34098
Except in that situation, the compiler that compiles the LazyInitializeCache function will know that it isn't pure and wouldn't decorate it as such.

[2020-03-26 05:36] davmason commented on #34014
@georgschausberger Adding new types, references, etc should all work in ModuleLoadFinished without issue. You shouldn't have to call MetaDataGetDispenser for those operations.

I don't think there is another way to get the metadata readers for reading files off disk without loading them though.

Doing some additional investigating we found that VS has a dependency on MetaDataGetDispenser, so it sh

[2020-03-26 05:54] tommcdon commented on #34109
@sdmaclea

[2020-03-26 05:55] Jozkee commented on #31220
Hit this issue on https://github.com/dotnet/runtime/pull/33459

Libraries Test Run release coreclr Linux x64 Debug
https://dev.azure.com/dnceng/public/_build/results?buildId=574053&view=results

[2020-03-26 06:01] leopripos opened #34114 "[System.Text.Json] Add JsonPascalCaseNamingPolicy."
Perhaps (correct me if I'm wrong), the recommended naming policy for PascalCase uses default naming policy (set to null) because we write out code in PascalCase.

If the scenario like this: I have data in dictionary,  and I want to convert them to pascal case,
[code]
The output is `{"test":"Test Data"}`.  It will be a bug/ambiguous if we use concept `Using default naming policy for PascalCase`.

3

[2020-03-26 06:10] #32937 closed

[2020-03-26 06:21] georgschausberger commented on #34014
@davmason Thanks for adding it back. We've tried to change this some time ago but unfortunately the tests proved this to be not working.

[2020-03-26 06:32] RomanHubyak opened #38472 "Multiple single exe apps not working under IIS on the same machine"
I have published a single exe app to IIS and it works as expected.

When I publish another single exe app to the same IIS on the same machine it doesn't work at all. Here are errors:

![image](https://user-images.githubusercontent.com/46841287/77617153-150b3b80-6f3c-11ea-847a-5608a27116a3.png)

![image](https://user-images.githubusercontent.com/46841287/77617187-29e7cf00-6f3c-11ea-822b-1dda8713bf0

[2020-03-26 07:00] hoyosjs commented on #34109
@sdmaclea

Confirmed the behavior, but 3.1 doesn't contain the fix for the issue. Couldn't get to run the test on 5.0 under the debugger (VSCode or VS). I'll try again after I restart the machine.

[2020-03-26 07:32] YohDeadfall commented on #30964
@NinoFloris, sorry for the late reply. Yes, I think that derived classes should not alter serialization of base class members in a way to hide them. Hiding a parent's member by a derived class isn't a good idea since when something is public then there are some sense behind this, and changing visibility to private highlights architecture problems.

[2020-03-26 07:57] weltkante commented on #20758
There are still plenty left matching the regex from OP, but on a first glance none of them seems relevant for UI validation, so I'm not too worried about those

[2020-03-26 08:09] Executor-Cheng opened #34115 "JsonConverter<TStruct> should be compatible with TStruct?"
[code]
If the `UTF8JsonReader`/`Utf8JsonWriter` detects the value is `null`, it will not create a instance of the specified converter. So I think the `JsonConveter<TStruct>` is compatible with `TStruct?`, only a nonnull value could be passed to the specified `JsonConverter`.

[2020-03-26 08:59] michha opened #34116 "build.cmd contains dead documentation link"
Link _https://github.com/dotnet/runtime/tree/master/docs/installer/building/windows-instructions.md_ doesnt exist anymore.

I could not figure out where the referenced file went, otherwise I would have made a pull request.

https://github.com/dotnet/runtime/blob/c6d463c7eac1d03a77a16276d7eb3ae2646612a3/src/installer/corehost/build.cmd#L69

[2020-03-26 09:01] mwkldeveloper opened #34117 "Could not load type 'System.IO.Compression.ZipFile' from assembly on docker raspberry pi"
core 3.1.3
Below code can be run on window
But not with docker on raspberry, throw err:
Update: I found that build Debug do not have this error, only occur when build Release

[code]

[2020-03-26 09:15] Hermholtz commented on #26284
Is this still relevant?

[2020-03-26 09:19] epa opened #34118 "Proposal: interface to look up keys, but not enumerate, as base interface of IReadOnlyDictionary"
I suggest making a new interface `IReadOnlyKeyLookup<TKey,TValue>` which extracts out some of the methods currently provided by `IReadOnlyDictionary<TKey,TValue>`:

- `Item[TKey]`
- `ContainsKey(TKey)`
- `TryGetValue(TKey, TValue)`

In other words an interface to look up particular keys, but not to list all keys.  Then `IReadOnlyDictionary<TKey,TValue>` would inherit from `IReadOnlyKeyLookup<TKey,

[2020-03-26 09:28] ManickaP commented on #12043
I'm investigating this since yesterday, this is the same issue as here: https://github.com/dotnet/runtime/issues/33930

[2020-03-26 09:28] ManickaP commented on #12043
Unless @alnikola wants to take over or immediately know where the problem is, I'd like to tackle this, since I've already put some time into it.

[2020-03-26 09:35] Wraith2 commented on #34118
Is this nor covered by [`ILookup<TKey,TElement>`](https://docs.microsoft.com/en-us/dotnet/api/system.linq.ilookup-2?view=netcore-3.1)?

[2020-03-26 09:38] ManickaP commented on #33930
So far failing are:
[code]

[2020-03-26 09:43] Mpdreamz commented on #1574
Has this API change been accepted? Noticed it was put in the `5.0` milestone, looking to confirm. Performance reasons aside it would be great to have these overloads ship out of the box for method signature parity reasons.

[2020-03-26 09:43] epa commented on #34118
Thanks for pointing out `ILookup<TKey,TElement>` but that does contain `Count` and `GetEnumerator` while I am thinking of a more restrictive interface that only lets you look up by key, but not list all keys.

[2020-03-26 09:54] fabricefou commented on #14395
Thanks @stephentoub for this answer.
I understand well your motivation to not incite people to use BinaryFormater.

Juste to mitigate some of your arguments :
- `List<T>` is serializable why not `ImmutableArray<T>` ? internal structure are very similar.
- on legacy system, BinaryFormater are often wildly use, don't add serializable attribute on immutable collection slow down it's use.
- surrogate

[2020-03-26 12:00] alnikola commented on #12043
@karelz `System.Net.Http.Functional.Tests.PlatformHandlerTest_Cookies_Http2.GetAsync_SetCookieContainer_CookieSent` test was **never** executed before for WinHttpHandler until the last week when I enabled as much HTTP/2 tests as I could to have at least some coverage. I tried to disable all failing ones, but must have overlooked this one. @ManickaP will disable it.

[2020-03-26 12:46] marek-safar opened #34121 "Add RIDs for arm64e"
We need them for Apple platforms only (more background https://developer.apple.com/documentation/security/preparing_your_app_to_work_with_pointer_authentication)

[2020-03-26 12:47] Marusyk commented on #20758
@weltkante, where? There are only 14 results and all of them in `tt` files.

[2020-03-26 12:48] TonyValenti opened #34122 "IDictionary<K,V> should implement IReadOnlyDictionary<K, V>"
Can you please make that happen?

[2020-03-26 12:56] SteveSandersonMS commented on #33328
Marek's suggestion sounds great to me too, i.e. architecture=Wasm, OS=WebBrowser.

(As a minor tweak, I'd suggest renaming WebBrowser to Browser, but it's not a big deal either way.)

Is there anything else to discuss, or is this the plan of record?

[2020-03-26 12:59] weltkante commented on #20758
Maybe I'm getting confused by the repo merge, I pulled `dotnet/runtime` and get 70 matches in 50 files when searching the `src\libraries` subtree. Am I doing something wrong?

[2020-03-26 13:11] marek-safar commented on #34121
/cc @akoeplinger

[2020-03-26 13:12] ViktorHofer opened #34123 "Sdk.IL doesn't import Microsoft.Managed.props/targets which breaks multitargeting"
- InnerBuildProperty. It contains the property name that defines the multitargeting build dimension.
- InnerBuildPropertyValues. It contains the property name that holds the possible values for the InnerBuildProperty.

from https://github.com/microsoft/msbuild/blob/d004974104fde202e633b3c97e0ece3287aa62f9/documentation/specs/static-graph.md.

The logic that reads those properties and by that ident

[2020-03-26 13:12] ViktorHofer commented on #34123
cc @jeffkl

[2020-03-26 13:17] jkotas commented on #26284
There does not seem to be anything actionable here. dotnet/corefx#27250 that this issue is a follow up on was merged with nice improvements.

[2020-03-26 13:17] #26284 closed

[2020-03-26 13:28] ViktorHofer commented on #1338
Just found this issue. That change was done by me when we consolidated the repositories. As I believed that dotnet/runtime is the only consumer of Microsoft.NET.Sdk.IL I didn't warn in beforehand or add a fallback mechanism... Sorry for that. To learn from this, next time I'll:
1. Gather potential consumers by scanning GitHub and devdiv/dnceng.
2. Open an issue to discuss the potential breaking ch

[2020-03-26 13:28] #1338 closed

[2020-03-26 13:29] janvorli commented on #34108
I can confirm the same issue happens on x64 with debug build. And the .dbg files definitely come from the same build as the executables. lldb just silently fails to load the symbols, dbg displays a warning that the CRC doesn't match.

[2020-03-26 13:32] Sergio0694 commented on #28001
Following up [this conversation](https://twitter.com/MStrehovsky/status/1243100387843989504) with @MichalStrehovsky, it'd be nice if we also had an API just like [`GetArrayDataReference`](https://github.com/dotnet/runtime/blob/8cc28d7ee63ae6f07dd9a37b1b8a935be565076e/src/coreclr/src/System.Private.CoreLib/src/System/Runtime/InteropServices/MemoryMarshal.CoreCLR.cs#L24), but for 2D arrays. I mean,

[2020-03-26 13:39] Wraith2 commented on #34118
This sounds like a very restricted use case that can be handled through encapsulation. Adding new interfaces to the BCL collections and to dictionary specifically are high maintenance and high risk actions.

[2020-03-26 13:44] stephentoub commented on #34098
I'm fine with having an analyzer + attribute that we can use to mark methods whose return values shouldn't be ignored.  My concern is using [Pure] for that, as a) it wasn't intended for this purpose, b) it's part of a defunct contracts system, c) it's not comprehensive enough, but most importantly d) there are cases where you don't want the return value to be ignored but your method isn't pure (e.

[2020-03-26 13:44] jgimness commented on #17912
I just ran into this problem today.

There's also issue  #1548 which looks related

[2020-03-26 13:48] stephentoub commented on #34118
Note that such a change is breaking.

[2020-03-26 13:52] liesauer commented on #34062
@janvorli embarrassing, my bad. my actual rootfs dir is `/home/cross/arm`, but i set the wrong `/home/arm` to `ROOTFS_DIR`. it is working now.

[2020-03-26 13:52] #34062 closed

[2020-03-26 13:52] epa commented on #34118
Thanks, I hadn't realized that adding a new base interface was a breaking change.

[2020-03-26 13:55] #34123 closed

[2020-03-26 14:06] reflectronic commented on #1630
Would this change also allow more combinations with `AllowHexSpecifier`? e.g. combining it with only `AllowLeadingSign` (without `AllowDecimalPoint`).

[2020-03-26 14:09] janvorli commented on #34108
Interesting, if I comment out run the 2nd and 3rd strip commans
[code]
and then run the strip commands manually in the target artifacts folder after the build, the crc32 matches and debugger can load it.

[2020-03-26 14:19] akoeplinger commented on #34121
I'm not sure we need a new RID, this is pretty similar to the `armv7s` variant that we build already in a fat binary: https://github.com/dotnet/runtime/blob/master/src/mono/mono.proj#L118-L119

[2020-03-26 14:34] karelz commented on #12043
Thanks @alnikola and @ManickaP

[2020-03-26 14:37] UltimateFishbot opened #34126 "Unable To Read Locked File In Linux"
This behavior feels like a bug to me; but I may just be misunderstanding:

There is a process that is writing to a file running on my local Linux machine. It has a 'Write' lock. I can verify this using `sudo lslocks | grep myFile.txt`

Note that this is not a mandatory lock, it's advisory. Also note, I'm able to read this file using `vi` or `cat`. I can even open it using a few lines of Python:

[2020-03-26 14:38] aik-jahoda commented on #31220
I Will disable this test as it is failing for me.

[2020-03-26 14:46] tannergooding commented on #1630
I don't see why it wouldn't, provided it was still valid according to the IEEE requirements.

[2020-03-26 14:50] am11 commented on #34108
@janvorli, interesting. I think if CRC check is satisfied in `Release` and only affected in `Checked` and `Debug`, we can conditionally add these two lines under:

`if(NOT uppercase CMAKE_BUILD_TYPE MATCHES "^(DEBUG|CHECKED)$")`

or perhaps investigate the root casue and see if we can fix that instead?

[2020-03-26 14:50] jaredpar commented on #34045
@bartonjs ETA for when this will be addressed / disabled? It's continuing to impact our CI reliability.

[2020-03-26 14:52] stephentoub commented on #34126
It's difficult to support FileShare, given what POSIX affords.  So the implementation translates FileShare.None to be an exclusive advisory lock and everything else to be a shared advisory lock.  You're able to open the file in another tool because that tool isn't respecting such advisory locks, whereas FileStream does.  If another process has an exclusive lock on the file, you'll get the aforemen

[2020-03-26 14:53] janvorli commented on #34108
Even more interesting, the .dbg file ended up being 10x larger when I ran the commands manually. And looking at the build log it seems we might be executing the whole custom command twice. I can see doubled lines like
[code]

[2020-03-26 14:53] NinoFloris commented on #34106
Could easily call `.Wait()` on the returned task from WhenAll no?

[2020-03-26 14:56] janvorli commented on #34108
Yes, it is the case. I've added a message into the stripsymbols function and I can see that it is invoked twice for each target.

[2020-03-26 14:58] jaredpar opened #34128 "Caching.Memory tests are impacting CI reliability"
Several tests in this group are failing. Looks like some inherent flakiness here that needs to be addressed:

- `Microsoft.Extensions.Caching.Memory.MemoryCacheSetAndRemoveTests.GetAndSet_AreThreadSafe_AndUpdatesNeverLeavesNullValues`
- `Microsoft.Extensions.Caching.Memory.MemoryCacheSetAndRemoveTests.GetAndSet_AreThreadSafe_AndUpdatesNeverLeavesNullValues`
- `Microsoft.Extensions.Caching.Memory.C

[2020-03-26 15:02] janvorli commented on #34108
And here we have the culprit:
https://github.com/dotnet/runtime/blob/5a1d115fa750358019b2215d8981e5e48a3e6a5a/src/coreclr/src/dlls/mscoree/coreclr/CMakeLists.txt#L216-L217

It used to be
[code]
So the 2nd stripping was prevented before.

[2020-03-26 15:02] karelz commented on #12043
@ManickaP should we duplicate it against #33930 (assuming the WinHttp part of the problem helps to solve also the original issue filed here ...)

[2020-03-26 15:04] layomia commented on #34115
Closing this as fixed in 5.0. https://github.com/dotnet/runtime/pull/32006 added logic to use a compatible `JsonConverter<T>` for a type `T?` when specified with `[JsonConverter]`.

[2020-03-26 15:04] #34115 closed

[2020-03-26 15:06] jaredpar commented on #12043
Do we have an ETA for a fix or disable? This test is the #1 source of CI reliability issues for runtime for last two days. If the fix is not imminent can we disable ASAP?

[2020-03-26 15:11] layomia commented on #31849
This bug has been fixed for 5.0. The workaround is to implement custom dictionary converters as required. The policy can be obtained from `options.DicitonaryKeyPolicy`.

[2020-03-26 15:11] #31849 closed

[2020-03-26 15:12] layomia commented on #33508
This doesn't meet the bar for servicing at this point. It is also too late to make such a breaking change to 3.1 LTS.

[2020-03-26 15:14] mikernet opened #34129 "API Proposal: Stream.ReadBlock / Stream.ReadBlockAsync"
I use the following 2 methods more than I use the normal `Read`/`ReadAsync` methods (I have them implemented as extension methods) so I think it would be rather useful to have them in the runtime:

[code]

Thanks @jnm2 for suggesting the method names as they are analogous in behavior to `TextReader.ReadBlock` and `TextReader.ReadBlockAsync`.

[2020-03-26 15:15] ManickaP commented on #12043
@jaredpar it's already disabled: https://github.com/dotnet/runtime/pull/34119
@karelz Yep, I'm gonne close this as a dupe a keep investigating in https://github.com/dotnet/runtime/issues/33930

[2020-03-26 15:16] jaredpar commented on #12043
@ManickaP great thanks!

[2020-03-26 15:17] jaredpar commented on #12043
Ah it just got merged an hour ago hence no rolling builds have completed since the merge. That's why I'm still seeing it as atop issue. Should fade out now.

[2020-03-26 15:18] #33639 closed

[2020-03-26 15:18] jnm2 commented on #34129
Should they potentially be virtual and/or ValueTask?

Nice proposal. It would keep me from having to carry around extension methods like this.

[2020-03-26 15:19] ManickaP commented on #12043
Closing since the problem is the same as in #33930.
The affected tests have been disabled in #34119

[2020-03-26 15:19] #12043 closed

[2020-03-26 15:22] mikernet commented on #34129
Definitely yes to `ValueTask` - updated accordingly. Not sure if there is value in making them virtual. Is there a particular situation you can see that would benefit from being able to override them?

[2020-03-26 15:24] paulomorgado opened #34130 "XmlWrite.Close unconditionally synchronously writes on asynchronous writers"
When invoking `Close` or `Dispose`, even if the writer has been flushed, it will try to flush the writer which will result in synchronously writing 0 bytes which will fault on asynchronous streams.

It's not just an issue of sync over async ([this](/dotnet/runtime/issues/33618) will handle it). It's also a performance issue. If the buffer is empty, there's no need to write 0 bytes.

[2020-03-26 15:37] marek-safar commented on #34121
We'd need RID for arm7s too but I'd not bother with that one as Apple already abandoned it. I think we need new RID unless we'll always build fat like libraries which I am not sure it's even supported with arm64e. It'll also be required to link correct native libraries as I don't think you can link a mix of arm64e and arm64 libs.

/cc @rolfbjarne

[2020-03-26 15:41] jnm2 commented on #34129
No, I don't have a use case for specializing the implementations.

[2020-03-26 15:44] stephentoub commented on #34129
Dup of https://github.com/dotnet/runtime/issues/16598 (albeit with span/memory-based overloads)

[2020-03-26 15:46] stephentoub commented on #34130
cc: @buyaa-n

[2020-03-26 15:53] terrajobst commented on #34098
Works for me

[2020-03-26 15:59] karelz commented on #31261
Triage: We should do something -- there is multiple options - expose it as type (not a very interesting one), static factory, or `HttpClient` property to enable it.
Xamarin workloads have native handlers and that's why we need to make it work outside of just `SocketsHttpHandler`.

[2020-03-26 16:01] stephentoub commented on #34126
Mandatory/advisory basically means whether it's enforced or not, e.g. does code choose to respect the locks or not.

Exclusive/shared means, once you're respecting the lock, can one thing have the lock at a time or multiple things have the lock at a time.  If someone is holding an exclusive lock, trying to get either an exclusive or shared lock will fail.  If someone is holding a shared lock, tryi

[2020-03-26 16:03] rolfbjarne commented on #34121
Where did you see this? `armv7s` isn't less applicable than `armv7`.

Yes, you can build a fat library that contains native code for both `arm64` and `arm64e`.

[2020-03-26 16:09] karelz commented on #31316
Triage: We believe this should be best covered by documentation as this is fairly rare scenario. Adding a sample + conceptual doc on how to make custom `HttpContent`.
Breaking the behavior with the exception is not desirable per our discussion.

[2020-03-26 16:15] karelz commented on #31399
Triage: We believe this is problem in Mono Desktop (not .NET 5, but mono/mono repo) -- it should be fixed there as suggested above in https://github.com/dotnet/runtime/issues/31399#issuecomment-565200477

[2020-03-26 16:15] #31399 closed

[2020-03-26 16:17] karelz commented on #31528
Triage: To make it actionable we need a small repro (without NodeJS server to avoid server problems).
Closing as it is not available and not actionable now. Feel free to reopen when you have the repro for us. Thanks!

[2020-03-26 16:17] #31528 closed

[2020-03-26 16:20] karelz commented on #31537
Triage: These kind of errors may be "normal" - closed connections while write/read are in progress. We need logs to drill down into it.
2.2 is out of support, so please try it on 3.1

Given that there are no answers to above questions https://github.com/dotnet/runtime/issues/31537#issuecomment-557626912 it is not actionable. Closing.
Feel free to reopen when there is more info for us to act on. Th

[2020-03-26 16:20] #31537 closed

[2020-03-26 16:22] karelz commented on #662
Triage: Looks like a problem in OpenSSL 1.1.1d. Not actionable for us, closing.

[2020-03-26 16:22] #662 closed

[2020-03-26 16:24] karelz commented on #827
Triage: Looks like overlap with current @davidsh's work.

[2020-03-26 16:28] marek-safar commented on #34121
@rolfbjarne my understanding is that Apple does not require apps to include arm7s slice and the benefits of compiling for this architecture are very limited (basically only floating-point-heavy applications could benefit).

But you need to have 2 sets of all native libs for that, right?

[2020-03-26 16:28] karelz commented on #1384
Triage: We believe this kind of opinionated policy (esp. potential wininet integration) does not belong into vanila `HttpClient`, but it makes sense to keep it in `HttpClientFactory`.

[2020-03-26 16:35] jeffschwMSFT commented on #33344
@BruceForstall

[2020-03-26 16:42] karelz commented on #12043
Duplicate of #33930

[2020-03-26 16:45] TalAloni commented on #24500
If you need it now - I did a backport of SocketsHttpHandler to .NET Standard 2.0 and added a SocketCreated event that allows you to configure TCP Keepalive on the socket, it's on [NuGet](https://www.nuget.org/packages/StandardSocketsHttpHandler) / [GitHub](https://github.com/TalAloni/StandardSocketsHttpHandler/).

I also ported the Microsoft tests for your peace of mind.

[2020-03-26 16:45] lambdageek opened #34132 "[mono] Propagate pthread_kill EAGAIN to thread suspend initiator (remove workaround)"
In https://github.com/dotnet/runtime/issues/32377#issuecomment-602734256 we observed that in many test runs on Helix the GC STW will send out suspend signals with `pthread_kill` and get back an error `EAGAIN` which indicates that the realtime signal queue was full.

The temporary workaround that was put in place in the low-level code was to sleep for some number of milliseconds and retry some fixe

[2020-03-26 17:02] tannergooding opened #34135 "COMPlus_EnableISA=0 variables no longer effect the IsSupported checks"
As per the title, the `COMPlus_EnableISA=0` variables are no longer functioning. For example, setting `COMPlus_EnableAVX=0` has no effect and `Avx.IsSupported` still returns true.

It does look to still impact parts of the system, such as the size of `Vector<T>`.

[2020-03-26 17:03] tannergooding commented on #34135
CC. @CarolEidt, @echesakovMSFT, @davidwrighton

[2020-03-26 17:11] lewing commented on #33328
Marek's suggestion sounds good to me as well (and I also have a slight preference for "Browser" over "WebBrowser" but either is fine.

[2020-03-26 17:13] BruceForstall commented on #34111
@tannergooding @echesakovMSFT @CarolEidt Any recent change that might be responsible for this new assert?
`
Assert failure(PID 5820 [0x000016bc], Thread: 5632 [0x1600]): Assertion failed '!"SIMD intrinsic with unsupported base type."' in 'Packet256Tracer:MinIntersections(RayPacket256,Scene):Intersections:this' during 'Generate code' (IL size 206)
File: F:\workspace\_work\1\s\src\coreclr\src\jit\si

[2020-03-26 17:14] valco1994 opened #34137 "Callstacks for LTTng events"
It was declared by `.NET` team (details can be found in several places, e.g. [here](https://lttng.org/blog/2018/08/28/bringing-dotnet-perf-analysis-to-linux/)), that `LTTng` had been chosen as a major tool for performance analysis on Linux. Even more, it was written that

 and

By the way there is a `DotNETRuntime:CLRStackWalk` event in `CoreCLR`, which provides managed callstacks and, as far as I

[2020-03-26 17:16] sdmaclea commented on #34109
This is #12875.  It has not yet been backported to 3.x, because we were lacking direct feedback from customers.  I will open the PR to backport to 3.1.

[2020-03-26 17:18] tannergooding commented on #34135
https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/compiler.cpp#L2354-L2355
[code]

Is the second line supposed to be `opts.setSupportedISAs(instructionSetFlags);`?

[2020-03-26 17:20] tannergooding commented on #34111
This might be https://github.com/dotnet/runtime/issues/34135

[2020-03-26 17:23] lewing commented on #33328
I just want to note that from the implementation side the big difference in those cases the existence of a paired javascript runtime that allows you to do things that are not currently possible in wasm only.  There are other important differences in what features that runtime supports (browser vs v8 etc.) but they are smaller.

[2020-03-26 17:24] CarolEidt commented on #34111
It could be, though it's not entirely clear how that would lead to that assert, nor is it obvious to me how a jitstress run would affect SIMD.

@tannergooding - were you planning to follow up on #34135 or would you like me to take a look at it?

[2020-03-26 17:27] ericstj commented on #34128
@maryamariyan can we disable these tests and file an issue?

[2020-03-26 17:27] tannergooding commented on #34111
I've already investigated and believe I root caused the issue and validated that it fixes things. I'll have a PR up momentarily.

I'm working on seeing if I can repro this issue as well. I know we test all the `COMPlus_EnableISA=0` combinations as part of the outer loop jobs, but I'm unsure if that covers this particular run.

[2020-03-26 17:34] airbreather opened #34140 "Observable collections should allow event handlers to see the original items when cleared"
Affects (at least) these two types:
1. `System.Collections.ObjectModel.ObservableCollection<T>`
1. `System.Collections.ObjectModel.ReadOnlyObservableCollection<T>`

As a developer who occasionally consumes an instance of either of these two types, I want to write an event handler that sees every element as it's removed from the collection so that I can remove any object references from the element

[2020-03-26 17:40] maryamariyan commented on #34128
I spotted one of them yesterday on the CI PR that were failing on Mono so I created this issue for it:
https://github.com/dotnet/runtime/issues/33993.

Thanks seems like it is not necessarily a Mono flakiness. I'll update that issue and push a PR

[2020-03-26 17:46] joelrevans opened #34164 "HttpClient.GetStringAsync Suppressed Exceptions Cause Deadlock"
HttpClient.GetStringAsync Suppressed Exceptions Cause Deadlock

.NET Core 3.1 running on Windows 10. Console application using default template, entire application code is included below.

[code]

I found a website, beautymatter.com, that causes an unusual deadlock when using HttpClient. The site has some odd configurations that result in random I/O connection failures (~10% of the time) that inci

[2020-03-26 17:48] Shane32 commented on #20824
I'd also like to see `CancellationToken`s implemented for these methods.  The above feedback sounds good.

[2020-03-26 18:00] tannergooding commented on #34111
Looks like fixing #34135 fixes this issue as well (I can repro without the fix but not with the fix).

We were getting untyped SIMD16/SIMD32 which was causing the register allocator to create invalid `SIMDIntrinsicUpperSave` nodes: [JitDump.txt](https://github.com/dotnet/runtime/files/4388986/JitDump.txt)

I'm not sure yet what in JitStress=1 interacts badly with #34135

[2020-03-26 18:03] CarolEidt commented on #34105
Thanks @terrajobst. I'll proceed on the assumption that tuples would be a reasonable way to address the problem of returning multi-register values in intrinsics.

[2020-03-26 18:06] ViktorHofer opened #34143 "Microsoft.Extensions.Caching.Memory.MemoryCacheSetAndRemoveTests.OvercapacityPurge_AreThreadSafe failing in CI"
`Microsoft.Extensions.Caching.Memory.MemoryCacheSetAndRemoveTests.OvercapacityPurge_AreThreadSafe`

Configurations:
- netcoreapp5.0-Linux-Release-x64-CoreCLR_release-(Alpine.39.Amd64.Open)ubuntu.1604.amd64.open@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.9-helix-bfcd90a-20200123191053
-netcoreapp5.0-Linux-Release-arm64-CoreCLR_release-(Ubuntu.1804.ArmArch.Open)Ubuntu.1804.ArmArch.Open@mcr

[2020-03-26 18:09] benaadams opened #34144 "API Suggestion: System.Threading.Timer.Stop()"
Calling `.Change` with `Timeout.Infinite` to stop the timer is unexpected (though makes sense).

It would be better if there was a more easily findable method such as `.Stop()` which handles this
[code]

[2020-03-26 18:10] maryamariyan commented on #34143
I'll track with https://github.com/dotnet/runtime/issues/33993

[2020-03-26 18:10] #34143 closed

[2020-03-26 18:10] maryamariyan commented on #34143
and will disable in PR https://github.com/dotnet/runtime/pull/34142

[2020-03-26 18:16] Thraka opened #34145 "Suggestion For DateTime Offset"
_From @Emeka-NMC on Thursday, March 26, 2020 5:02:27 AM_

[Suggestion To Add Unique Format-Specifiers For DateTime Offset]

DateTime-FormatString doesn't have unique characters that represents the _offset-hour_ and _offset-minutes_. Instead it uses the following format/convention:

| # | Offset Format specifier | Offset Format |
|:---|:---|:---|
| 1 | z | +-H  |
| 2 | zz | +-HH  |
| 3 | zzz | +-HH

[2020-03-26 18:16] Thraka commented on #34145
_From @Thraka on Thursday, March 26, 2020 6:13:42 PM_

Sorry, we're just documentation for how it currently works. You should make your suggestion at https://github.com/dotnet/runtime/issues. I'll move this issue there.

[2020-03-26 18:20] nandaak opened #34165 "dotnet breaks unexpectedly"
# dotnet breaks unexpectedly

Running 6 devices (3 andorid and 3 ios) in parallel to execute 6 flavors of same set of UI test cases

# General

I created a dotnet core project to execute 3 android and 3 ios apps to execute Xamarin UITests. When I run 3 android devices in parallel they work. But when I execute android and ios together on two physical devices in parallel, dotnet breaks.

Process:

[2020-03-26 18:21] danmosemsft commented on #34112
@Jozkee its worth mentioning this was not on .NET Core: net472-Windows_NT-Release-x86-Windows.10.Amd64.Client19H1.Open

either the path was never created correctly, or it got deleted async. this test has its own TempFileCollection. my guess is the bug is in the product - in creating a unique file, or verifying it's created successfully. the code for both is different to .NET Core. it's not obvious

[2020-03-26 18:22] danmosemsft commented on #34112
possibly relevant but not clear how
https://github.com/dotnet/corefx/pull/12680/files#diff-7344081853370a2ec275db83f03f7076
https://referencesource.microsoft.com/#System/compmod/system/codedom/compiler/TempFiles.cs,227

[2020-03-26 18:35] tannergooding commented on #34105
A possible downside of tuples would be it takes the good name if we have a better type in the future.

For example, `Multiply` for x86 is `int32 * int32 = int64`, on so we don't need a tuple, but `Multiply` for x64 can be `int64 * int64 = int128`.
If we support it via a `(long hi, ulong lo)` tuple today, we will have to come up with an alternative name if/when we support a proper `Int128`/`UInt128

[2020-03-26 18:49] AaronRobinsonMSFT commented on #34116
Looks like this file was removed with a71a3249a95be90d7ff7a03d9cf311e8f0d75188.

@ViktorHofer was the above file replaced by some other documentation or was it accidentally removed and not relocated?

[2020-03-26 18:54] janvorli commented on #34108
I am going to fix that

[2020-03-26 18:57] hoyosjs commented on #34137
@sywhang @josalem cc: @dotnet/dotnet-diag

[2020-03-26 19:01] ericstj commented on #33993
Duping this to https://github.com/dotnet/runtime/issues/34128 since it has more data.

[2020-03-26 19:02] tannergooding commented on #34111
Looks like it was failing because without #34135, `InstructionSet_Vector128` and `InstructionSet_Vector256` are "unsupported" by default. That is, the flags are `11111111001111111111111110`, which means all but the mentioned are marked `supported`:
[code]

This was causing parts of the JIT to disagree on what can/should be generated.

[2020-03-26 19:03] dsplaisted commented on #34033
I think we should let this "tfm" be the part of the TargetFramework without the operating system info.  So just `net5.0`, even if the TargetFramework is `net5.0-windows`.  Is there any reason we would need to support a scenario where the shared store or the probing paths would vary based on OS?

[2020-03-26 19:08] #31193 closed

[2020-03-26 19:09] dsplaisted commented on #34033
FYI @richlander @KathleenDollard @terrajobst

[2020-03-26 19:09] #31179 closed

[2020-03-26 19:14] shravan2x commented on #34106
@NinoFloris In general, working with tasks tend to have some tricky cases which cause deadlocks when using `Wait`/`WaitAll`. I wasn't sure if `WhenAll(...).Wait()` and `WaitAll(...)` were _always_ equivalent. My workarounds were `Task.WhenAll(allTasks).Wait()` like you suggested and `Task.WaitAll(allTasks.ToArray())` - I went with the latter since it seemed a safer bet.

But I agree that this is a

[2020-03-26 19:15] danmosemsft commented on #20758
@Marusyk note that we now have a few new ones in Mono code: https://github.com/dotnet/runtime/issues/34056

I have a PR up for a handful but no plans to do more, so if you're motivated that would be welcome!

You may possibly be also interested in this one: https://github.com/dotnet/runtime/issues/33763#issuecomment-604123104

[2020-03-26 19:25] bartonjs commented on #34045
I don't doubt that they're failing, but I've run over two million iterations locally (Win8.1 Server) at this point without encountering a fault.  Time to boot up a mac, I guess.