[2021-08-11 16:02] steveisok commented on #45737
We've satisfied what we're going to support for net6.

[2021-08-11 16:03] #45740 closed

[2021-08-11 16:03] jeffhandley commented on #45193
We have this issue set up as a 'User Story', which is more of a tracking type issue as opposed to a bug report. By filing a fresh issue, it'll show up as a bug and go through our triage process properly and show up on our radar more effectively.

Thanks for checking against Preview 7!

[2021-08-11 16:04] MichalPetryka commented on #57152
https://github.com/dotnet/runtime/blob/85441ce69b81dfd5bf57b9d00ba525440b7bb25d/src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Windows.cs#L12

It's `volatile`, not `readonly`.

[2021-08-11 16:08] am11 commented on #57152
By `it` I meant ProcessArchitecture, not its backing field, but like I said, this is Windows only, not the one you were initially looking at in top proposal (s390x etc.)..

[2021-08-11 16:08] Arcalise08 commented on #57216
So sorry, Im gonna keep this up for others facing a similar issue. As soon as i posted the error I went to look at what microsoft.azure.cosmos and what microsoft.azure.documentdb.core were.

There both client libraries but document db was the old cosmos so it was made for .net standard. We didnt need this in our project when we converted it to .net core any longer. in reality, 2019 really should h

[2021-08-11 16:08] #57216 closed

[2021-08-11 16:10] #52083 closed

[2021-08-11 16:13] bartonjs commented on #57046
I think I like the idea of using a fixer to be like "hey, you're using some defaults from 2005.  I'm going to put them in your face so you can see what decisions you've made".  What would the fixer look for? This obsoletion code, perhaps?

[2021-08-11 16:13] #51396 closed

[2021-08-11 16:13] agocke commented on #43669
My understanding of the arguments here are that many existing serializers provide object-based contacts. I agree with that, but I sky see a good reason why we should support that contact when we know that many of our form factors -- trimming, Blazor, Xamarin, AOT -- will not be functional with that API. It's not a question of whether or not it's common, but whether enabling those scenarios for tha

[2021-08-11 16:16] Jozkee commented on #50648
Will try to fix this in 6.0

[2021-08-11 16:23] weltkante commented on #50858
Ah ok I thought this was something considered in the design because the issue title explicitly spells it out, so I was asking for clarification on that design. If `FileStream.Position` is updated when `ReadAsync`/`WriteAsync` completes my question was, what happens if I issue multiple such async calls synchronously from the same thread. To me the issue title sounds like this suddenly will become "

[2021-08-11 16:24] bartonjs commented on #56331
During the API review there was theorization of a companion API like `IntPtr GetModuleHandle(System.Reflection.Module)`.  Because of Assembly.Modules/Assembly.ManifestModule/etc I think that "Module" is also a .NET term.  (It has much more affinity to .NET than to Windows for me, FWIW)

[2021-08-11 16:25] #57107 closed

[2021-08-11 16:32] geoffkizer commented on #56159
@stephentoub Any thoughts here? It looks like somehow the connection is getting disposed by the cancellation registration callback, but also getting returned to the pool via CompleteResponse...

[2021-08-11 16:37] odhanson opened #57218 "Failing to build coreclr for osx-arm64"
I am working on preview 7 tag:
`git checkout tags/v6.0.0-preview.7.21377.19`

Then running the command (on a MacOS x64 machine):

`src/coreclr/build-runtime.sh -arm64 -debug`

Will produce the following error:

[code]

This is consistent on a few machines I have been testing. Am I doing anything wrong ?

[2021-08-11 16:40] AndyAyersMS opened #57219 "PGO: test failure in VolatileTest_op_mul on linux arm32"
See [CI Run](https://dev.azure.com/dnceng/public/_build/results?buildId=1287592&view=ms.vss-test-web.build-test-results-tab&runId=38014074&resultId=102230&paneView=debug)  -- this test has been failing on and off.

[code]

category:correctness
theme:profile-feedback

[2021-08-11 16:41] buyaa-n commented on #51301
Thanks, that is not necessary, but if you still want to do it i can give you the analyzer's dll which you can replace with your local NuGet copy and run the build

[2021-08-11 16:47] tarekgh commented on #54987
We can look checking if the `ッ != ツ` is .NET issue. Did you already try ICU and see this is not ICU behavior?

We just call ICU for collation operations, and we don't do any manual casing (except the tailoring part we are doing in the framework).

[2021-08-11 16:48] lewing commented on #44317
Nothing left is targeting 6.0

[2021-08-11 16:49] EatonZ commented on #3816
I do not agree with moving to 7.0.
Considering 6.0 is LTS and will be around for a while, it's important to have improvements in this area to improve our customers' experience.
@Symbai I think backporting to 3.1 is probably unreasonable since only major issues are addressed in servicing releases.

[2021-08-11 16:49] LakshanF commented on #35079
Having this capability will help with #54523 and also allow testing much easier once #56222 is done

[2021-08-11 16:51] buyaa-n commented on #51301
Not sure why do you think the `<SupportedPlatform>` hook would not work and what is  `UnknownUnix`? Did already you tried adding `<SupportedPlatform Include="illumos"/>` and `<SupportedPlatform Include="solaris "/>` (might need to add them conditional so that it is not added in unnecessary builds)

Another thing you might want to consider is if the API is only supported on certain platforms better

[2021-08-11 16:55] lewing commented on #41127
@jeffhandly no it has nothing to with wasm other than we're one of the platforms that use cross compilers.

[2021-08-11 16:57] lewing commented on #56845
@jeffhandley this is targeting 7 why are you assigning me?

[2021-08-11 17:00] ManickaP commented on #51301
That's what I've meant with "using SupportedOS doesn't help here either", because the file is conditionally compiled for these 3 platforms: UknownUnix, Solaris, illumos:
https://github.com/dotnet/runtime/blob/0ea8653e1f0ada5c7a15515430c6f16585911af4/src/libraries/System.Net.NetworkInformation/src/System.Net.NetworkInformation.csproj#L184-L188
Neither of those strings works with `SupportedOSPlatfor

[2021-08-11 17:09] wfurt commented on #57191
That is not 100% correct. The proxy matter but there are different ways to configure it and .NET supports only some.
There was also issue with auto-configuration and scripts possibly returning more than one site. I would suggest following steps to troubleshoot:
1) set the proxy explicitly as @ManickaP suggested
2) configure proxy manually via system setting

3) if the 2 above work then go back to

[2021-08-11 17:10] ViktorHofer opened #57221 "Microsoft.Extensions.FileProviders.Physical.Tests crashing on CI in FileSystemInfo API"
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1288068&view=ms.vss-test-web.build-test-results-tab&runId=38025328&resultId=194160&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

Configuration: `net6.0-OSX-Debug-x64-CoreCLR_release-OSX.1015.Amd64.Open`

Dump is available: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull

[2021-08-11 17:11] ViktorHofer commented on #57128
FYI in case this is has the same underlying cause: https://github.com/dotnet/runtime/issues/57221.

[2021-08-11 17:16] buyaa-n commented on #51301
I see, with `Note that using SupportedOS doesn't help` i thought you are talking about `<SupportedPlatform Include="illumos"/> and <SupportedPlatform Include="solaris "/>` properties

It is a used to add unknown platforms to the `MSBuild` SupportedPlatforms list, you can add `<SupportedPlatform Include="illumos"/> and <SupportedPlatform Include="solaris "/>` item group in your project. Probably wi

[2021-08-11 17:17] HappyPepi commented on #29861
We really would like to use System.Text.Json instead of Newtonsoft.Json in our projects but this missing feature stops our adoption as the suggested approaches/workarounds are not suitable for us and Newtonsoft.Json is currently more convenient.

[2021-08-11 17:20] agocke commented on #3816
This issue is now mainly tracking the improvements to the dialog box appearance. Improving the message is tracked by https://github.com/dotnet/runtime/issues/3816 and we've already merged a PR (https://github.com/dotnet/runtime/pull/57089) to include the exact runtime version and architecture needed by the application.

I'll see what we can do about the website.

[2021-08-11 17:26] jeffhandley commented on #56845
Sorry about that @lewing; it was in a query run before it got moved to 7.0.0 and I didn’t notice it had been updated already.

[2021-08-11 17:30] Nickprovs commented on #29861
@Gambero81 Yeah, Newtonsoft's JsonProperty and JsonRequired attribute are incredibly convenient. They allow the consumer to mark **structs** like DateTime as [JsonRequired] without making it nullable. If the DateTime is not present in the model, it adds an error to the ModelState, and the default value is set for DateTime.

This is so much more convenient than using the ASP.NET's [Required] attrib

[2021-08-11 17:32] MichalPetryka commented on #57152
In the top proposal I assumed that an universal implementation with defines would be possible, I actually looked at the Windows implementation. And it being an issue only on Windows doesn't change the fact that it is still an issue.

[2021-08-11 17:46] adamsitnik commented on #54549
I've tried to repro it multiple times on both my Windows machines and I've failed.

@kronic could you please try our latest bits from https://github.com/dotnet/installer?

[2021-08-11 17:50] vkbandi commented on #57191
I'm currently working with my IT support team to check if there is any issue with my proxy configuration. I will update back once I have something

[2021-08-11 17:50] dmex opened #57222 "Multiple .NET Core DAC (Data Access Component) debugger runtimes"
Hello,

.NET Core is currently shipping two somewhat identical versions of the same DAC runtime:

`"\dotnet\shared\Microsoft.NETCore.App\5.0.8\mscordaccore.dll"`
`"\dotnet\shared\Microsoft.NETCore.App\5.0.8\mscordaccore_x86_x86_4.700.21.31506.dll"`

The 32bit versions seem to be identical while the 64bit versions differ in file sizes:

![image](https://user-images.githubusercontent.com/1306177/129

[2021-08-11 18:04] adamsitnik commented on #50648
We  have moved it to 7.0 based on offline conversation

[2021-08-11 18:10] pgovind opened #57224 "Improve diagnostic location for interface lists, abstract classes and method parameters"
Currently the DetectPreviewFeatures analyzer reports diagnostics on the type implementing a preview interface or extending a base preview class. On methods, the diagnostic is on the method symbol and not on the preview type parameter. The following changes need to be considered for improvement:

Current (TestAbstractClass and TestMarkedPreviewInterface)
[code]
Desired
[code]

Current (TestPreviewP

[2021-08-11 18:11] AntonLapounov commented on #52996
We do precompile crossgen2; however, it is not trim-compatible at present, because it uses COM to invoke the native DiaSymReader in order to generated PDBs.

[2021-08-11 18:12] elinor-fung commented on #3816
I believe there is https://github.com/dotnet/runtime/issues/3811 for the message and https://github.com/dotnet/runtime/issues/36765 for the website.

[2021-08-11 18:13] agocke commented on #51252
Closed by https://github.com/dotnet/sdk/pull/18794

[2021-08-11 18:13] #51252 closed

[2021-08-11 18:13] agocke commented on #48354
Closed by https://github.com/dotnet/sdk/pull/18794

[2021-08-11 18:13] #48354 closed

[2021-08-11 18:14] agocke commented on #40087
All of these APIs throw in 5.0 and 6.0

[2021-08-11 18:14] #40087 closed

[2021-08-11 18:17] buyaa-n opened #57225 "Model the macOS/OSX alias through the guard attributes"
In 6.0 we have updated the PCA analyzer to use the guard attributes on the OperatingSystem methods in order to communicate the platform compat relationship between platforms, this approach can be used for macOS/OSX instead of hard coding the relation.
1. [ ] Add SupportedOSPlatformGuard("OSX") to the `OperatingSystem.IsMacOS()` to express the relation OSX is MacOS
2. [ ] Figure how to add the MacO

[2021-08-11 18:17] agocke commented on #54234
@VSadov was this completed?

[2021-08-11 18:19] agocke commented on #54759
@mangod9 Is this the same problem as was fixed in https://github.com/dotnet/runtime/pull/55032?

[2021-08-11 18:22] geoffkizer commented on #57186
BTW, re this:

I'm unclear what you mean by "hard-closes the connection". If the connection is reset, then all data associated with it will be blown away and there's no response for us to read. If you mean something other than connection reset, then what?

[2021-08-11 18:22] #53084 closed

[2021-08-11 18:27] AntonLapounov commented on #56941
Could this be some random glitch? According to logs, tests failed in "windows arm Checked" legs, i.e. ARM32, not ARM64. If we do not see this failure in other runs, we should close this.

[2021-08-11 18:32] eerhardt commented on #56679
Dupe of #57115

[2021-08-11 18:32] #56679 closed

[2021-08-11 18:36] eerhardt commented on #42031
This isn't required for 6.0. Moving to 7.0.

[2021-08-11 18:38] GitMyCode opened #57230 "DiagnosticsHandler: System.FormatException: The format of value 'MyApp%2F2022.1.0a5+(Windows%3B+U%3B+Windows+NT+10.0%3B+en)' is invalid. at System.Net.Http.Headers.NameValueHeaderValue.CheckValueFormat(String value)"
### Description

I currently use ActivitySource and set some data in a baggage that i then use in a custom httpHandler. Everything is fine and all.
but when i add some baggage i get sometime this format error:

[code]
it turn out that by default on httpClient there is an Handler `DiagnosticHandler` that is added then this one fail while trying to create an `Request-Context`
[code]
And in that hand

[2021-08-11 18:39] tarekgh commented on #43736
https://github.com/dotnet/runtime/issues/10689

[2021-08-11 18:42] cston commented on #41716
Closing as "by design".

[2021-08-11 18:42] #41716 closed

[2021-08-11 18:50] MihaZupan commented on #57230
This is a duplicate of https://github.com/dotnet/runtime/issues/57230.

To turn off the `DiagnosticsHandler`, see https://github.com/dotnet/runtime/issues/35337#issuecomment-879381782

[2021-08-11 18:50] #57230 closed

[2021-08-11 18:51] filipnavara commented on #53084
Thanks everyone!

[2021-08-11 18:54] terrajobst commented on #43669
What I'm trying to say is that many customers don't care about those form factors and use technologies that don't work there. I don't see a reason we're asking, say, a WPF desktop customer, to move a completely new serialization technology when non of their application needs to support trimming.

We should discuss this in more detail, but I'm not a fan of holding the stack hostage on a hypothetica

[2021-08-11 18:55] MihaZupan commented on #57230
Note that disabling the handler will also mean no Activity is being created per request.

If you want to avoid just the specific encoding issue, you can either implement a custom DistributedContextPropagator for 6.0, or avoid using problematic characters in the baggage until #57230 is fixed.

[2021-08-11 19:00] josalem commented on #57222
CC @mikem8361 @hoyosjs

[2021-08-11 19:04] agocke commented on #43669
Two points:

1. The API above is just an abstraction. Part of the value of an abstraction is its ability to provide compatibility and remove concerns about particular implementations. That value is decreased if the abstraction is not implementable on various platforms. It sounds like you're saying that the value is still worth the pain caused -- maybe so but I'd like some more details on why you t

[2021-08-11 19:05] KrzysztofCwalina commented on #43669
ISerialize based serializer will not be able to serialize an arbitrary set of types without resorting to reflection. Without reflection, it will be able to serialize only a subset of types; the types that implement the interface. This is exactly what a custom ObjectSerializer implementation could do, i.e. serialize a subset set of types without reflection.

[2021-08-11 19:07] terrajobst commented on #43669
We should discuss this; the challenge is that the vast majority of serializers out there talk in terms of `object` and `Type`, which means an abstraction that requires a generic is very difficult to wire into existing apps that use those serializers.

[2021-08-11 19:08] TheCakeMonster opened #57231 "[API Proposal]: Attribute required by library authors to disable trimming on a specific type and all derived types"
### Background and motivation

There are certain scenarios where libraries are built to use reflection to achieve functionality that is not otherwise possible. One such example exists in a library I use, in which reflection is used to call private methods on types derived from base classes defined in the library, where the derived types are created by other developers in their own assemblies outsi

[2021-08-11 19:14] KrzysztofCwalina commented on #43669
In fact, I want to create tooling for ObjectSerializer that would allow users to generate custom implementations that could be used to deserialize and serialize specific types without reflection. It's just work that we need to find time to do. I don't think there are any interesting technical issue with such tooling. The object vs T discussion is a red herring IMO.

[2021-08-11 19:14] agocke commented on #43669
@KrzysztofCwalina  Without reflection, it will be able to serialize only a subset of types; the types that implement the interface.

Right, which is why it ships with a source generator that can help automatically implement ISerialize and will soon be able to help generate wrappers that implement ISerializer for the underlying.

Not quite. `ObjectSerializer` would likely serialize based on the _ru

[2021-08-11 19:14] josalem commented on #56888
It looks like you changed the `geneventpipe.py` script as well. I think the `geneventpipe.py` script fixed this same issue by redefining `ResizeBuffer` _on top_ of the PAL:
https://github.com/dotnet/runtime/blob/e0472a1d165e706a38ed0e32b59e72bd97466aed/src/coreclr/scripts/genEventPipe.py#L430-L453

Does this still happen if you forward declare `DeleteBuffer` in `genlttngprovider.py` like `ResizeBu

[2021-08-11 19:15] vsfeedback opened #57232 "Unable to deserialize JSON"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Unable-to-deserialize-JSON/1465458)._

---
I'm referencing _System.Text.Json_ NuGet package version 5.0.2. I'm not able to deserialize valid JSON file. The method _JsonSerializer.Deserialize<T>(string json, JsonSerializerOptions? options = null)_ throws following exception:

[code]

---

[2021-08-11 19:18] agocke commented on #43669
Note: sometimes serializers don't produce any errors at all -- but the type was trimmed and the resulting object no longer has the fields it originally had. If the other end of the serializer expects these fields to be present, this could cause serious problems, and would be extremely difficult to diagnose.

The important part here is that the trimmer can statically analyze the code. Any implement

[2021-08-11 19:21] danmoseley opened #57233 "Stack overflow in System.Text.Json.Serialization.Metadata.ReflectionEmitMemberAccessor.CreateDelegate"
net6.0-windows-Debug-x64-CoreCLR_release-Windows.10.Amd64.Server19H1.ES.Open
Console log: 'System.Text.Json.Tests' from job 6b2f36d6-7da5-4c97-a4b6-4387143788b7 workitem f011227c-98aa-4a73-a64e-83e5ff5d7c83 (windows.10.amd64.server19h1.es.open.rt) executed on machine a001RKY
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-56654-merge-6b2f36d67da54c97a4/System.Text.J

[2021-08-11 19:22] hoyosjs commented on #57196
Moving to codegen since formatting is only on JIT source.

[2021-08-11 19:23] danmoseley commented on #57233
It doesn't seem like a large stack though. @janvorli any idea why this would show up as an overflow - and without your magic output showing the repeated frames? My only idea is that there was a large native stack "above" this that wouldn't show up in the callstack shown.

[2021-08-11 19:25] danmoseley commented on #56679
There were 3 distinct failures, the two linked above, and also one that should be fixed by this https://github.com/dotnet/runtime/pull/57108

thanks for letting us know, it's easy to miss outerloop failures.

[2021-08-11 19:33] #36878 closed

[2021-08-11 19:33] #37465 closed

[2021-08-11 19:43] lambdageek commented on #49731
It repros in a console app too.  Just have to do what `RouteTableFactory` does:

https://github.com/dotnet/aspnetcore/blob/8b30d862de6c9146f466061d51aa3f1414ee2337/src/Components/Components/src/Routing/RouteTableFactory.cs#L55-L61

[code]

[2021-08-11 19:52] hoyosjs commented on #57222
The reasons for this are historical: runtime and DAC need to match. The one with the shorter name is meant for consumption in live debugging as it lives next to the DLLs from the runtime. The other one is used as there are scenarios where it needs to be fetched from the symbol server. Some of these are for debugging dump and some other cases (remote cross architecture debugging and such). As long

[2021-08-11 19:52] #57222 closed

[2021-08-11 19:55] davidwrighton commented on #56887
No, we'll deal with this in 7.0. I quite like the idea of consolidating on the idea that a request for the open type yields an Attribute[] filled with the closed instances that are actually on the metadata object, but I don't think that will happen now. Also, from some internal discussion about the thicket of runtime/metadata problems that have been identified it looks like the C# feature will be

[2021-08-11 19:57] jhudsoncedaron commented on #31001
So it turns out this is a very peanut-buttery performance optimization as well. There are a number of places in Linq that check for IEnumerable<T> for ICollection<T> or IList<T> for performance improvements and the report is that these can't be changed to check both for performance reasons; yet I found place after place in my own code where only IReadOnlyCollection/List<T> is provided and a mutabl

[2021-08-11 19:57] AntonLapounov commented on #57052
Seems to be a duplicate of #46803.

[2021-08-11 20:22] #54470 closed

[2021-08-11 20:26] GitMyCode commented on #57230
thanks a lot!
And what would be the problematic characters?

[2021-08-11 20:34] steveharter commented on #52640
Overlaps with https://github.com/dotnet/runtime/issues/56993 which also uses the raw `Utf8JsonWriter`.

[2021-08-11 20:36] #49055 closed

[2021-08-11 20:39] richlander commented on #3816
Could we target this change at 6.0.200? I'm not sure if we've made apphost changes in servicing before, but it seems reasonable to me.

[2021-08-11 20:42] mdh1418 commented on #52072
`TestingCreateInstanceFromObjectHandleFullSignature` and `TestingCreateInstanceFromObjectHandle` fail on iOS and tvOS and not MacCatalyst because the assembly file is not the same case. iOS and tvOS are caseSensitive and MacCatalyst follows OSX as in its case-preserving. I believe modifying the assembly name to follow the same case should work (not sure why they're different cases in the first pla

[2021-08-11 20:45] dmex commented on #57222
IMO this stuff should be merged into one DLL at some point to reduce complexity. The other reason to consider the removal of the duplicate DAC... That file is about 1MB right now so merging it would also remove 1TB bandwidth/load on the download servers for every 100,000 users downloading/installing .NET Core.

@hoyosjs

We've been using mscordacwks.dll for > 12 years and updating stuff for mscord

[2021-08-11 20:46] SamMonoRT commented on #48379
Moving to 7.0

[2021-08-11 20:51] eerhardt commented on #57214
@unixbob - thanks for the report. Can you attach a project that reproduces the issue?

I believe you have a mis-match in assemblies. Specifically I think you are using an older (probably preview6) version of `Microsoft.AspNetCore.Mvc.MvcCoreLoggerExtensions`, and a preview7 version of `Microsoft.Extensions.Logging.Abstractions`. You need to use matching versions (i.e. all preview6 or all preview7)

[2021-08-11 20:52] TheCakeMonster commented on #57231
No, it is effectively done by passing a the name of the type in as a parameter to an API, sometimes from a separate process. The name of the type is not visible to the trimmer to reason about. I have tried DynamicallyAccessedMembers, and it's unable to solve the problem because of insufficient access to the type name.

There are a number of reflection-based scenarios where the trimmer will not be

[2021-08-11 20:58] mjkkirschner opened #57238 "ParameterInfo.RawDefaultValue throws when default value is string.empty"
### Description

When using a metaDataLoadContext to find static methods in an assembly, invoking `ParameterInfo.RawDefaultValue` throws a badformat exception - I've tracked down the line of code to here:
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Reflection.MetadataLoadContext/src/System/Reflection/TypeLoading/General/Ecma/EcmaDefaultValueProcessing.cs#L18

this appears to t

[2021-08-11 21:04] davidfowl commented on #49570
@jaredpar can you help pull up some history here on this test? Is it still hanging?

[2021-08-11 21:13] Sergio0694 commented on #57231
Wondering if this is at least partially related to https://github.com/dotnet/runtime/issues/50333, given that in both cases the issue stems from some additional methods from external assemblies being invoked through reflection from some other library at runtime, without a way for either library authors nor consumers to easily annotate them to indicate the exact dependency? 🤔

I know the two issues

[2021-08-11 21:15] davidwrighton commented on #56941
I think we should close this. I've only ever seen this failure when startup is completely broken, and we're not seeing much of this, so possibly a bad build or network or something

[2021-08-11 21:15] #56941 closed

[2021-08-11 21:24] jaredpar commented on #49570
Only see WASM and CoreCLR checked in last 14 days. None of which seem to have that particular output pattern.

https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E14+definition%3Aruntime+name%3A%22System.IO.Pipelines.Tests+Work+Item%22

[2021-08-11 21:30] hoyosjs commented on #57222
Both existed on framework too. The usage is still the same. I will try to take a look at deleting it of the shared framework in 7.0 if there's time for it.

[2021-08-11 21:31] TheCakeMonster commented on #57231
@Sergio0694 I think that's a fair comment. I think what I am proposing is much simpler than in that issue though. My attribute simply states "please leave me alone". I am suggesting that there is no need for huge amounts of complexity, in certain scenarios. The attribute would allow a developer to say simply "I know what I am doing"

This covers complex edge cases that we don't need to think too h

[2021-08-11 21:32] davidfowl commented on #49570
Closing!

[2021-08-11 21:32] #49570 closed

[2021-08-11 21:43] pentp commented on #54166
I don't have an arm64 machine to do perf tests, so I'm trying to get some assembly diffs, but I can't get `jit-dasm` to work with anything I try. From a clean repo I built the following stuff:
[code]
I then tried to get dasm output:
[code]

I also tried with -j option and it complains about the file being in use (by itself probably, nothing else has it open):
[code]

I then tried to manually copy

[2021-08-11 21:45] TheCakeMonster commented on #57231
I suppose I should say here that I know that what I am recommending is already largely possible via XML, if you manually create an XML file of a very specific name. Giving a coder the opportunity to do the same thing via code seems a reasonable approach, preferable to those people who think code first.

[2021-08-11 21:47] eerhardt commented on #41265
This work has now been completed in 6.0. The intentional behavior is:

* `DependencyContext.Default` is attributed with
https://github.com/dotnet/runtime/blob/c0662e8129beaf93b8050d39a863cc6d16a0308c/src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContext.cs#L53
* When you set `PublishSingleFile=true`, and use `DependencyContext.Default` in your application, you get a warning with

[2021-08-11 21:47] #41265 closed

[2021-08-11 21:53] carlossanlop commented on #53366
The issue is old enough that the failure results disappeared, so I can't be certain where the failure was happening. What I do know is that these new tests were added before the new symlink APIs were introduced, so it has its own logic to create unit tests, which may not be working correctly in Windows 10 if Developer Mode is not enabled. So there are two things that can be changed to ensure the t

[2021-08-11 21:55] jhudsoncedaron commented on #31001
Update: Saying that IReadOnlyCollection.CopyTo() was not needed because of a better implementation involving IListSource() proved to be overfitting to the test.

It turns out that there is more cheap (but not free) performance improvements lying around for direct invocation of .ToList() and .ToArray() (commonly used for shallow copies of arrays), List.AddRange(), List.InsertRange(), and List's own

[2021-08-11 22:02] #52392 closed

[2021-08-11 22:03] danmoseley commented on #54166
@dotnet/jit-contrib could someone help @pentp here?

I've updated the area to codegen as I can't see a relevant change on the libraries side, let me know if that's not right.

[2021-08-11 22:04] danmoseley commented on #54166
Untriaging for codegen team to do.

[2021-08-11 22:06] davidwrighton commented on #57052
Yep, its a dup. This test has interesting behavior where sometimes its really, really slow, sometimes it crashes, and most times it runs fine. It probably shouldn't be running under GCSTRESS, but I'm currently investing the crash as part of #46803.

[2021-08-11 22:08] davidwrighton commented on #46803
I found https://dev.azure.com/dnceng/public/_build/results?buildId=1282759&view=ms.vss-test-web.build-test-results-tab&runId=37887884&resultId=110132&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab which has a failure with a crash dump. I'm looking into that now.

[2021-08-11 22:26] julealgon commented on #36617
I noticed a surprising lack of discussion around the _name_ of the abstraction itself. While `ISystemClock` is now present in a bunch of different places, I'm not convinced it is a good name at all, to be honest. I'd even go as far as to say that it has this name in multiple places due to influence from the originator and was just replicated as-is later.

First, "System" in the name to me implies

[2021-08-11 22:35] trylek commented on #56971
Hmm, that sucks, sorry about that. We need to improve the diagnostics for sure. For the time being, the first thing that comes to my mind, would you be willing to try out bumping up MSBuild verbosity? That should produce more build details we can subsequently analyze. In the VS menu bar, Tools | Options, there's this dialog with the tree on the left; under "Projects and Solutions | Build and Run",

[2021-08-11 22:36] AndyAyersMS commented on #57219
This doesn't seem to be PGO specific, just that PGO seems more likely to trigger it somehow.

Running this slightly modified version on arm Linux, built release, with `COMPlus_TC_QuickJitForLoops=1`, and with additional CPU stress, on a checked runtime, I can get it to hang about 1 run out of every 3.
[code]
In runtime we eventually hit a debug break in thread suspend on the tiered compilation wor

[2021-08-11 22:45] Clockwork-Muse commented on #36617
One thing to note:
Outside of the current instant, it can be _incredibly_ useful to also provide the "current" timezone, especially for something like a server web application (it provides the user's "local" clock).
[code]

For tests, as well, this would free us from having to rely on system-provided zones at all, since you could manually construct a number of them ahead of time to use for the clo

[2021-08-11 22:51] radical commented on #43865
FYI, for wasm, we have tests for using native libraries, and for invariant culture mode, in `Wasm.Build.Tests`.

[2021-08-11 22:57] briansull commented on #57219
Doesn't a method have to be fully-interruptible to support hijack-ing?

Since Equal is (incorrectly) marked partially interruptible, the hyjacking logic is not goingto try to hijack when the PC  is in that method.  A partially interruptible method should always have a callsite in it.

[2021-08-11 22:58] JamesNK opened #57241 "[HTTP/3] QuicConnectionListener and IPAddress.Any or IPv6Any"
QuicConnectionListener is configured using an `IPEndPoint`. There is some special case logic if the `IPAddress` of the endpoint is `IPAddress.Any` or `IPAddress.IPv6Any`.

https://github.com/dotnet/runtime/blob/c59d2005fc61b58365cd877c910642c477bb0a48/src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Internal/MsQuicAddressHelpers.cs#L27-L42

The problem here is the check is

[2021-08-11 23:05] briansull commented on #57219
I guess that for a method with straight-line code, we expect that the caller of the method will be partially interruptible, and that eventually the hi-jack retry logic will stop inside the caller method (and it will be partially interruptible)

[2021-08-11 23:06] #56894 closed

[2021-08-11 23:07] agocke opened #57242 "Single-file apps are not signable on MacOS in P7+"
I tried this locally, and it looks like it works properly in P6 and broke in P7.

[2021-08-11 23:09] ChadNedzlek commented on #36617
I feel like the "System" part is the implication that it's only job is to return what time the system thinks it is. And, indeed, that's what the interface does (it only has "now" type properties).  An IDateTimeProvider doesn't have the same implicit "this is all about now", and feels like it might provide arbitrary times, which isn't really what the abstraction is about. INowProvider is... weird.

[2021-08-11 23:10] briansull commented on #57219
Also this statement/comment doesn't give me very much confidence that this test is reliable:

` Console.WriteLine("this test is designed to hang if jit cse doesnt honor volatile");`

[2021-08-11 23:12] briansull commented on #57219
Also on (some?) Linix systems there used to be an issue with hi-jacking, such that we need to add GC-Polls to the method.

[2021-08-11 23:13] eerhardt commented on #56072
Just following up here that the Dependency Injection work was completed with https://github.com/dotnet/runtime/pull/56809.

[2021-08-11 23:16] eerhardt commented on #57146
Consulting with @davidfowl offline, we both agree that we should keep the WeakReference as it is currently in the code. Thus the regression noted in [my comment above](https://github.com/dotnet/runtime/issues/57146#issuecomment-896374264) is acceptable.

The major regression part of the test was addressed with https://github.com/dotnet/performance/pull/1915 (disposing the ServiceProviders properly

[2021-08-11 23:16] #57146 closed

[2021-08-11 23:18] eerhardt commented on #57214
I'm going to close this issue out as I believe there isn't anything we can do to make the mis-match work.

My suggestion is to completely upgrade your app to preview7. If you are still having trouble, re-open and upload an app that reproduces the issue. I can take a look.

[2021-08-11 23:18] #57214 closed

[2021-08-11 23:18] radical opened #57243 "Installer test failed on osx_x64 - `.NativeHostApis.Breadcrumb_thread_does_not_finish_when_app_has_unhandled_exception`"
`Installer Build and Test coreclr OSX_x64 Release` on https://github.com/dotnet/runtime/pull/56606
Failing test: `Microsoft.DotNet.CoreSetup.Test.HostActivation.NativeHostApis.Breadcrumb_thread_does_not_finish_when_app_has_unhandled_exception`

[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1288560&view=logs&jobId=7f86d1c0-3940-52e8-addc-832174c2a54b&j=7f86d1c0-3940-52e8-addc-8

[2021-08-11 23:23] kunalspathak commented on #56967
On main, I am hitting an assert for this code:

[code]

[2021-08-11 23:24] MichalStrehovsky commented on #57231
We've been avoiding adding facilities that allow making something an unconditional root. The problems are twofold:

* It disallows trimming. Before you say "that's the point", consider an assembly that has many types, but only some of which are related to the thing marked `[NonTrimmable]`. An app might be using part of the assembly that doesn't care about the `[NonTrimmable]` part, but because of

[2021-08-11 23:25] richlander commented on #57106
I added the blocking label since this issue is blocking PowerShell from (A) adopting a newer build than Preview 6, and (B) sym-shipping with us in November.

[2021-08-11 23:34] daxian-dbw commented on #57106
@adityapatwardhan and I talked with @davidwrighton offline and the recommendation is to just ignore static virtual members on interfaces, especially as the set of APIs may change in .NET 7. We will make the necessary updates in PowerShell code.

[2021-08-11 23:34] #54929 closed

[2021-08-11 23:35] echesakovMSFT commented on #56967
@kunalspathak Can you see from the JIT dump whether `op2-op4` are `delayFree`?

[2021-08-11 23:38] #56920 closed

[2021-08-11 23:38] danmoseley commented on #56072
thanks. @davidfowl I don't see any remaining 6.0 work here. Do you agree? If so I would like to close this.

[2021-08-11 23:39] richlander commented on #57106
This seems like it is potentially a breaking change for Reflection users that still needs to be addressed. Is that right?

[2021-08-11 23:46] echesakovMSFT commented on #56967
At `BuildNode()` it looks that we do right thing
https://github.com/dotnet/runtime/blob/d839aacdb43cd1b5d6957a05ba4539d411938829/src/coreclr/jit/lsraxarch.cpp#L2420-L2444

I wonder if this could be due to `Avx2_GatherMaskVector256` not being RMW and we ended up allocating the register with `BuildOperandUses(op3)` at https://github.com/dotnet/runtime/blob/022172a805ee5e88792b1e7cf1fdebaabca81cf2/sr

[2021-08-11 23:46] daxian-dbw commented on #57106
Today, to call the abstract static method/property on an interface with reflection, one has to call `GetInterfaceMap(<interfaceType>)` on a concrete type that implements that interface, then get the target method and call `Invoke(null, args)` on the target method. It makes sense from the technical perspective since it's abstract, but from a user's view, it's not obvious and the error message "Bad

[2021-08-11 23:47] JulieLeeMSFT commented on #54166
CC @AndyAyersMS PTAL.

[2021-08-11 23:47] Tratcher opened #57246 "QuicListener accepts an invalid connection after it was rejected due to client cert issues"
Scenario:
1. The listener sets ClientCertificateRequired and does not override RemoteCertificateValidationCallback
2. The client connects using a client certificate that's invalid (self-signed)
3. The listener accepts the connection even though validation failed
4. Calling OpenUnidirectionalStream from the server fails with INVALID_STATE

Workaround: override RemoteCertificateValidationCallback to

[2021-08-11 23:53] danmoseley commented on #57232
https://github.com/dotnet/runtime/issues/56533
https://github.com/dotnet/runtime/issues/47114
https://github.com/dotnet/runtime/pull/55503

seems it's fixed -- perhaps there is a workaround we can share with this customer?

[2021-08-11 23:57] danmoseley commented on #57184
Hit again in https://github.com/dotnet/runtime/pull/57235

[2021-08-12 00:00] kouvel opened #57247 "Capture the thread pool min/max threads config in an event"
From https://github.com/dotnet/runtime/issues/56072

These are dynamically-changeable thread pool config settings, it would be nice to capture those in an event.

[2021-08-12 00:00] AndyAyersMS commented on #54166
Test history implicate #52893. In particular the change was merged, reverted, and then re-merged, which matches the up-down-up seen here:

![newplot (66)](https://user-images.githubusercontent.com/10121823/129118237-dabefb28-eb04-4d24-b277-44a0ee8d4b6b.png)

As for how to get diffs, it should be something like:
[code]

[2021-08-12 00:02] kunalspathak commented on #56967
Yes - This is coming from my change in https://github.com/dotnet/runtime/pull/53964.

[2021-08-12 00:06] #49554 closed

[2021-08-12 00:10] kouvel commented on #57247
Targeting 7.0.0, same as https://github.com/dotnet/runtime/issues/56143, as the info would be more meaningful once the `ProcessorCount` is also captured

[2021-08-12 00:22] jkotas commented on #57152
You can fix that by moving the type to CoreLib. CoreLib is built as architecture-specific.

That would require moving the type to CoreLib as well. We do not like having JIT intrinsics outside CoreLib.

[2021-08-12 00:22] bartonjs commented on #50528
* Rfc2898DeriveBytes.CryptDeriveKey obsolete
  *  Agreed
* System.Security.SecurityContext obsolete
  * Agreed (merged!)
* CmsSigner.CmsSigner(CspParameters) obsolete
  * Agreed (double checked that we didn't make it work on Windows)
* SignerInfo.ComputeCounterSignature() obsolete
  * Agreed (double checked that we didn't make it work on Windows)
* RC2.Create() see below

For RC2-browser we seem t

[2021-08-12 00:23] danmoseley commented on #44654
@steveisok is there any 6.0 work left here? If not we can close it and copy anything we want to keep into a 7.0 one.

[2021-08-12 00:24] danmoseley commented on #43378
@mdh1418 where are we at with this one -- is there updated data? Do you expect more here for 6.0?

[2021-08-12 00:25] danmoseley commented on #41127
@agocke I think the right home for this is host?

[2021-08-12 00:26] danmoseley commented on #43378
All the logs here are gone... suggest moving this to 7.0 and pursuing after GA.

[2021-08-12 00:26] RoadTrain opened #57248 "Linux: Support tcp keep-alive with openldap"
### Description

On Linux, when [RBAC claims resolution](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-5.0&tabs=visual-studio#kerberos-authentication-and-role-based-access-control-rbac) is enabled, requests to LDAP fail with `LdapException: The LDAP server is unavailable` after some period of inactivity (~30 minutes).

### Configuration

* .NET 5.

[2021-08-12 00:31] steveisok commented on #44654
This story spans a couple of teams.

There is some activity with respect to the tests going on.  @SamMonoRT anything from your end?

[2021-08-12 00:32] SQL-MisterMagoo opened #57249 ".NET 6 Preview 7 Blazor WebAssembly won't build if you are using a JsonSerializerContext implementation"
In preview 6, you introduced the Json source generator, and I created a "MyJsonContext" to enable the source generator.

[code]

Now, in preview 7 the System.Text.Json.SourceGeneration assembly gets added to references twice.

![image](https://user-images.githubusercontent.com/11338430/129119631-3fae9148-027d-46b8-a378-03daa95d4e1b.png)

This leads to build failure as they both generate the same c

[2021-08-12 00:32] davidwrighton commented on #46803
@jakobbotsch @andyayersMS Looking at the crash dump it appears that the thread is quite close to a tail call frame. Are we aware of any gcstress issues with tail call? I haven't been able to reproduce this error on my local hardware on Windows so I'm having quite a bit of difficulty getting sos to tell me what actual managed functions are on the stack, but the presence a pointer to g_sentinelTailC

[2021-08-12 00:38] danmoseley commented on #56681
Would logging help here ? eg of devicePath.

[2021-08-12 00:41] danmoseley commented on #40625
Looks like I forgot about this. Well, this does not block shipping. Moving to future.

[2021-08-12 00:42] danmoseley commented on #41107
@GrabYourPitchforks @adamsitnik do you believe this should block 6.0 release at this point? BTW, presumably we haven't fixed it in the meantime?

[2021-08-12 00:57] jkotas commented on #56331
Yes, `Module` is also .NET metadata term. I do not think we would want to introduce API like `IntPtr GetModuleHandle(System.Reflection.Module)` where the returned IntPtr would be the OS library handle. The metadata module is backed by Windows OS module only on CoreCLR, only in some cases, and it changed over time. This API would be leaking internal implementation details for no good reason.

[2021-08-12 00:59] #51463 closed

[2021-08-12 01:00] dotnet-eng-status[bot] opened #57251 "Build failed: Validate-DotNet/main .NET 5, validation-runtime-.NET 5, runtime #runtime-101517-.NET5"
Build [#runtime-101517-.NET5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1289018) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Thu, 12 Aug 2021 01:00:35 GMT
**Duration** - 112 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](http

[2021-08-12 01:02] geoffkizer commented on #57246
@wfurt can you take a look?

[2021-08-12 01:07] cston commented on #56262
@nike4613, thanks for reporting this issue.

Would it be possible to provide a repro that hits the `InvalidOperationException`?

[2021-08-12 01:09] JulieLeeMSFT commented on #54166
Thanks @AndyAyersMS.
@pentp then what is the plan? Are we going to revert #52893?

[2021-08-12 01:15] michael-hawker opened #57253 "[API Proposal]: Quaternion.Zero is missing"
### Background and motivation

Vector2, Vector3, and Vector4 when created with new() are all zeroed out and have corresponding `.Zero` static properties. `Quaternion` on the otherhand only has the `Identity` static property and doesn't have the corresponding `Zero` one to represent its base state when created with `new()`.

### API Proposal

[code]

### API Usage

[code]

### Risks

No breaking ch

[2021-08-12 01:16] VincentBu commented on #56815
Failed again in [runtime 20210811.67](https://dev.azure.com/dnceng/public/_build/results?buildId=1288495&view=ms.vss-test-web.build-test-results-tab&runId=38035612&resultId=140241&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-08-12 01:18] AndyAyersMS commented on #54166
#52893 clearly improves the cost of division on x64, so at this point I'd say there is something unexpected going on that is arm64 specific and we should try and figure out what that is.

EG Here's the windows x64 results for that same test over the same time interval.

![newplot (67)](https://user-images.githubusercontent.com/10121823/129123333-3058baa9-9657-4c46-8371-a425808f808f.png)

@pentp if

[2021-08-12 01:22] AndyAyersMS commented on #46803
I'm not aware of anything. There are only a handful of open GC stress issues.

[2021-08-12 01:23] ufcpp commented on #54987
I didn't directly but some community members did. Seems like it is correct behavior in [collation with Tertiary Weight Table](https://unicode.org/reports/tr10/#Tertiary_Weight_Table) but the tertiary weight is not only for case ignorance.

[2021-08-12 01:24] VincentBu opened #57254 "Test failure: tracing\\eventpipe\\pauseonstart\\pauseonstart\\pauseonstart.cmd"
Run: [runtime-coreclr outerloop 20210811.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1288328&view=ms.vss-test-web.build-test-results-tab&runId=38034160&resultId=110708&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-08-12 01:31] VincentBu commented on #57040
Failed again in: [runtime-coreclr jitstress 20210810.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1287437&view=ms.vss-test-web.build-test-results-tab&runId=38010102&resultId=100503&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-08-12 01:42] Clockwork-Muse commented on #36617
To an extent it is, actually.  Besides testing, it might be handy to provide a "future time" clock for certain simulation/scheduling scenarios, and it makes fun use-cases like time dilation or contraction much easier.

[2021-08-12 01:44] jkotas commented on #53195
@John0King Both dynamic (as it exists today) and System.Linq.Expression are archived components. See https://github.com/dotnet/runtime/issues/27790 for the discussion.

[2021-08-12 01:50] AndyAyersMS commented on #53838
@dotnet/jit-contrib anyone else with a windows arm64 box want to try their hand at reproing this? I am out of ideas.

[2021-08-12 02:10] ufcpp commented on #54987
Please wait a moment. I ask the members for that details.

[2021-08-12 02:15] tarekgh commented on #54987
We can try it ourselves.

[2021-08-12 02:26] RussKie commented on #56897
@JeremyKuhne @Shyam-Gupta whilst we're waiting for a proper fix, is there something that we're setting in the designer that's causing this?

[2021-08-12 02:32] AndyAyersMS commented on #57173
Release over release we're still ahead, save on the Sort test.

|            Method |  Runtime | Size |     Mean  | Ratio |
|------------------ |--------- |----- |----------:|------:|
| SequenceCompareTo | .NET 5.0 |  512 | 604.1 ns  |  1.00 |
| SequenceCompareTo | .NET 6.0 |  512 | 575.2 ns  |  0.95 |
|              List | .NET 5.0 |  512 |  8.457 us |  1.00 |
|              List | .NET 6.0 |  51

[2021-08-12 02:34] steveisok commented on #57251
/cc @directhex @akoeplinger

[2021-08-12 02:47] AndyAyersMS commented on #57173
6.0, last timed iteration:

![image](https://user-images.githubusercontent.com/10121823/129130546-91e0f661-c841-4d4b-97f8-d19b243111dc.png)

5.0, last timed iteration

![image](https://user-images.githubusercontent.com/10121823/129130626-f3e50322-c587-4753-a614-665998c92dae.png)

So agrees about 20% ish, split across the two methods.

[2021-08-12 02:57] GrabYourPitchforks commented on #41107
@danmoseley Looks like average regression is 1ns, with 3ns being the worst case? It's worth investigating why this regressed, but I wouldn't block release for it.

Some really premature speculation: when the original change was checked in, we also did a little bit of size-on-disk work to try to shrink the size of the data tables we carry. Perhaps this microbenchmark shows the result of the extra b

[2021-08-12 03:05] jkotas commented on #56976
To verification of the signature needs to read the public key from the image. The private key is not necessary. Here is an example for how to do it: https://gist.github.com/jkotas/efc9d4f0e734da9a7d81e96599724955

[2021-08-12 03:14] MaledongGit commented on #57200
https://github.com/dotnet/runtime/blob/79836486e75cbcc1c0525306f68a0ef71d0f8cf6/src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/ConfigurationExtensions.cs#L34

Is it necessary to use "?" at the back of "configuration"? This is an extended method, the "configuration" shouldn't be null. Maybe the "?" should be removed.

[2021-08-12 03:28] dotnet-eng-status[bot] opened #57259 "Build failed: Validate-DotNet/main real signed, .NET 6, validation-runtime-.NET 6, runtime #runtime-101520-.NET6"
Build [#runtime-101520-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1289017) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Thu, 12 Aug 2021 03:27:59 GMT
**Duration** - 259 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](http

[2021-08-12 03:37] danmoseley commented on #57249
cc @lewing

[2021-08-12 03:38] danmoseley commented on #57248
Thanks for the report @RoadTrain . It may be a while before someone could investigate. Do you have an interest in trying those options to see whether it fixes it for you?

[2021-08-12 03:45] RoadTrain commented on #57248
@danmoseley I think I can try. It might take a while though, but I'll keep this issue updated.

[2021-08-12 03:47] ChadNedzlek commented on #36617
I think that's a very different object.  If I'm looking at code that's using an ISystemClock, I understand based on that that the code is just trying to deal with the current time, which is useful information.  If it's just random, arbitrary times, the usage will have to look very different, and that would be important to know, so it should probably be a separate abstraction.

[2021-08-12 03:51] vcsjones commented on #50528
We did, unless I am misunderstanding what API you're thinking of.

https://github.com/dotnet/runtime/blob/c5faf00fd5df6ffb619aa8d2592618fc982f36ff/src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECDiffieHellmanPublicKey.ExportParameters.cs#L50

[2021-08-12 03:53] vcsjones commented on #50528
I'll tackle the rest of these over the next day or two.

[2021-08-12 03:57] nike4613 commented on #56262
I can send the project that causes the error (and a test case that triggers it), but every attempt I have made to simplify it has caused the issue to dissapear.

[2021-08-12 04:04] RoadTrain commented on #38609
Another case with escaping is when filter argument (e.g. group CN) contains parentheses, e.g. `Some (very) important group`.
Since parentheses are a part of filter syntax itself, it might be problematic to correctly parse the filter.
[code]

The correct representation, [as per RFC](https://tools.ietf.org/search/rfc4515#section-3), is:
[code]
What's interesting is that the first one works on Window

[2021-08-12 04:19] hoyosjs commented on #57251
The odd part is I went through the links it claims to be unable to fetch, and all return a 2xx code with the proper source.

[2021-08-12 04:22] hez2010 opened #57260 "JIT: Recursive calls elimination"
### Description
I'm implementing Peano's natural number with Algebra Data Type in C#: https://gist.github.com/hez2010/39af351442c1b71a46e194bca72abfde

However, due to JIT cannot eliminate recursive calls, I got stackoverflow exception during runtime if the number is large enough.

To reproduce, execute `c * c * c` with above code.

This doesn't happen to Haskell (using ghc 9), so I think JIT shou

[2021-08-12 04:26] nike4613 commented on #56262
[repro.zip](https://github.com/dotnet/runtime/files/6972828/repro.zip) <- Here is said repro. In the configuration that it is in there, the issue doesn't happen, but if you uncomment any of the methods which are commented out in `Sentimentailty.RPC.Tests/SysLinqExprRepro.cs`, then the exception will trigger. This archive could definitely be trimmed down more, but the areas to care about are contai

[2021-08-12 04:32] danmoseley commented on #57248
Thank you @RoadTrain. We have seen interesting issues emerge in real world use with various servers etc so it is particularly helpful when folks contribute that have such environments and often times better domain knowledge than we have.

[2021-08-12 04:33] wfurt commented on #57246
I think there is conceptual issue with the accept logic @geoffkizer.
First, we get NEW_CONNECTION event and we put it to AcceptQueue.
That wakes the `AcceptConnectionAsync()` and we hand out the connection _before_ it is actually connected.
Then the validation fails and for Debug builds we hit the assert you added.
For Release build we will return error code to MsQuic and that will clean it up.
Ho

[2021-08-12 04:40] danmoseley commented on #57200
Seconding that, we would welcome help annotating our last remaining libraries. This may help you:

https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/api-guidelines/nullability.md

Reach out if you need help from us.

[2021-08-12 04:40] danmoseley commented on #41107
OK moved.

[2021-08-12 04:41] tippisum commented on #56896
I totally agree that it is not a good idea to do weird things.

But the real problem is, **it is not the one who have done weird things that will actually suffer from the consequence**, in fact their components just work as expected. Hell, they cannot even be blamed of doing weird things, as long as the `coreclr` hosting option is not officially deprecated. **It is the cooperative author that will

[2021-08-12 04:49] bartonjs commented on #50528
No, that's it.  Just that I wasn't smart enough to remember to look in a partial file.

[2021-08-12 04:51] hartez opened #57261 "String interpolation produces incorrect output for concatenated strings"
### Description

Concatenating interpolated strings is producing incorrect output using the latest preview. For example:

[code]

Expected output:
[code]

Actual output:
[code]

### Configuration

* 6.0.100-preview.7.21379.14
* Windows 10 x64
* I'm not certain if this is limited to this OS and architecture

### Regression?

Yes; this worked as expected in .NET 5 and earlier .NET 6 previews.

[2021-08-12 04:52] echesakovMSFT commented on #53838
@AndyAyersMS I can try tomorrow.
The CI link is dead, can you please tell what environment variables were set when this test failed?

[2021-08-12 05:15] aersamkull opened #57262 "[API Proposal]: UTF8 Support for DbDataReader"
### Background and motivation

There is Utf8JsonWriter which allows us to write UTF8 Strings directly to the browser.
However my source is often some database which always returns data as common C# Strings, which are UTF16. This means that some encoding is needed. In fact, MS SQL Server and many other databases support (eg MySql, Postgres) storing text data in UTF8. It does not make sense to me to

[2021-08-12 05:23] touzas commented on #51274
@steveisok sorry i was on vacation and didnt see your post. Yes this problem has solved in a new preview framework version. Thanks

[2021-08-12 05:58] AraHaan commented on #56699
Another note that Resource Hacker is not the only option and does not know about managed resource streams as well. Many applications use these and as such certain code *may* start failing if the actual resource data from that is not included as well.

You can dump this Information from ILSpy though.

[2021-08-12 05:58] #57241 closed

[2021-08-12 06:02] Summpot opened #57264 "[Generic Math]: Add some non-generic base interfaces to the current generic math interfaces."
### Background and motivation

In c#, efficiently judging whether an object is a number is difficult.
With the arrival of Generic math, I saw a little light.
I can't help but wonder if I can write code like this.
[code]
But when I actually handed it, I was disappointed.
There is only one `INumber<TSelf>` interface.
Obviously I don't need to judge whether it is a number even when I know what type o

[2021-08-12 06:03] am11 commented on #57152
ProcessArchitecture: currently .NET supports Linux x86_64 (-m64) officially. There are community-supported i386 (-m32) builds WIP, where .NET returns `Architecture.X86` from RI.ProcessArchitecture. The -m32 binaries can also run on x64 Linux systems, where 32-bit ld and supporting libraries are installed. However, there is a third variant x32 ABI (-mx32), i.e. x64 calling convention with 32-bit ad

[2021-08-12 06:09] svick commented on #57261
This looks like a duplicate of https://github.com/dotnet/roslyn/issues/55461.

[2021-08-12 06:12] jakobbotsch commented on #57260
The runtime guarantees tailcall optimization only for calls that are tail. prefixed and are in tail position. Sometimes the x64 and ARM64 compilers will also opportunistically perform tailcalls when it does not take special effort to do so, even without any tail. prefix (which the C# compiler never emits). However, in your example I see no multiplication in tail position, so there is no tailcall o

[2021-08-12 06:14] krispenner opened #57265 "System.Threading.Channels.ChannelOptions.SingleWriter is not used?"
I was trying to understand what the `SingleWriter` property on the `ChannelOptions` class did in regards to concurrent access and locking within a `Channel` but it appears to be ignored from the source code referenced below. Can anyone please confirm that is the correct source code or am I looking in the wrong place?

https://github.com/dotnet/runtime/blob/c8dc49e6e7a654cc730a18c209513561f560c1ae/

[2021-08-12 06:14] danmoseley opened #57266 "Microsoft.Extensions.FileProviders.Physical.Tests Failed with access denied"
Release coreclr debug libraries windows.81.amd64

https://github.com/dotnet/runtime/pull/57143

[code]

[2021-08-12 06:15] alexrp commented on #57264
What is the use case here? It's not immediately obvious to me what the `Do something only can do with a number` part would be without also knowing `TSelf`.

[2021-08-12 06:16] Thefrank commented on #14537
ok, without needing to edit pkgconfig files. There should be a way via CMake to make sure it is using the correct path.

I was manually able to edit the CMakeCache.txt for mono and add in the path prefix and got it to build. I will investigate if there is a way to setup the correct "root" path via CMakeList.txt when I get some more time later this week unless someone knows the answer offhand :)

[2021-08-12 06:25] danmoseley commented on #57266
BTW I had to read the code to see whether this path is source or destination.
Its assumed to be destination when the OS API fails - is that a safe assumption?
https://github.com/dotnet/runtime/blob/dcce0f56e10f5ac9539354b049341a2d7c0cdebf/src/libraries/Common/src/Interop/Windows/Kernel32/Interop.CreateSymbolicLink.cs#L60

[2021-08-12 06:28] aersamkull commented on #57262
Hey msft-bot: It's acutally area-System.Data :) Therefore  @ajcvickers @cheenamalhotra @david-engel , please have a look

[2021-08-12 06:35] danmoseley commented on #57262
It must have triggered off mention of Utf8JsonWriter

[2021-08-12 06:43] GrabYourPitchforks commented on #57262
@danmoseley Another use case for an first class `Utf8String` type so that we can avoid passing `ROS<byte>` around everywhere? :)

[2021-08-12 06:46] hez2010 commented on #57260
ghc generated code: https://godbolt.org/z/Y9bPKeYTd

It compiles function calls to `jmp` even for non tail calls (see code for `mult` around line 590)

[2021-08-12 06:48] GrabYourPitchforks commented on #57261
Looks like a fix for https://github.com/dotnet/roslyn/issues/55461 was checked in and we're just waiting for it to propagate. Marked as tracking-external so that we don't lose sight of it. Thanks for the report!

[2021-08-12 06:51] GrabYourPitchforks commented on #57253
`Quaternion` also has an _IsIdentity_ property. If this API is approved, would _IsZero_ come along for the ride for symmetry?

[2021-08-12 06:53] GrabYourPitchforks commented on #41107
Possible low hanging fruit optimization: consider having `char.GetUnicodeCategory(char)` wrap `CharUnicodeInfo.GetUnicodeCategory(char)` instead of `CharUnicodeInfo.GetUnicodeCategory(int)`. The int overload performs some extra argument checks that the char overload does not. (Though I don't remember offhand if we call the int overload for codegen optimization purposes.)

[2021-08-12 06:55] adamsitnik commented on #53366
@carlossanlop could you please send the PR with proposed changes?

[2021-08-12 06:56] Summpot commented on #57264
For example, when doing some custom serialization work, we don’t care about the length of the number. We just want to find something to represent a number. It is not the best choice to use `object` even when we know it is a number. Just a compromise.
@alexrp

[2021-08-12 07:01] EgorBo commented on #57087
@DrewScoggins that comparison was also made on Ubuntu?
I can't reproduce this issue locally on both ubuntu-x64 and win-x64 🙁

The histogram states that the only commit that could affect this benchmark was [Enable CSE for floating-point constants (#44419)](https://github.com/dotnet/runtime/commit/70676fd9631e0475ebc18e5903fec4549e888226)

![image](https://user-images.githubusercontent.com/523221/12

[2021-08-12 07:01] jakobbotsch commented on #57260
If I modify your program so that it is infinite:
[code]

Then I see steadily growing memory usage until it segfaults after using all my memory. I see the same behavior with a more simple:
[code]

I don't know how ghc works internally, but it looks like it is allocating a continuation from memory pointed to by `rbp`:
[code]

[2021-08-12 07:02] Summpot commented on #57264
And I think these non-generic interfaces should be added even just for consistency. Almost all .net generic interfaces have corresponding non-generic interfaces, don’t they?
@alexrp

[2021-08-12 07:08] adamsitnik commented on #57266
cc @carlossanlop @Jozkee

[2021-08-12 07:11] hez2010 commented on #57260
I think so.

Can this optimization also be applied to RyuJIT so that users no longer need to face stack overflow due to recursive calls (even they're not tail calls)? This often happens in real scenario, for example, implementing a deep search algorithm for image processing.

[2021-08-12 07:12] jasonpugsley commented on #14537
1.

So you're saying remove the requirement for / use of pkgconfig?

2.
Does anyone know if the other 3 main repos can cross-build for FreeBSD on Linux?
dotnet/aspnetcore
dotnet/sdk
dotnet/installer

Of course they'll want to pull down dependent FreeBSD nuget packages that don't exist anywhere yet but I'd like to investigate what steps remain in the build pipelines. Cross-building still looks like

[2021-08-12 07:19] jakobbotsch commented on #57260
On Linux you can set the stack size to unlimited with `ulimit -s unlimited`. On Windows, you can change it with editbin or similar. I don't think this is something we would do inside the runtime by default, for most users exhausting the available stack is probably an indication of a bug.

[2021-08-12 07:25] hoyosjs commented on #38736
@NickCraver Thanks for the report. I will plan to do this early in 7.0 and try to justify a backport (given that this is a debug time perf thing it'll be hard to justify, but if it's causing unreasonable pain I might be able to make a case). Maybe I can give you a private build when I do and you can let me know if it solves the issues y'all are seeing?

[2021-08-12 07:30] agocke commented on #57242
Ah, I bet I know what's wrong here -- we updated _CreateAppHost to sign on Mac, but I bet _CreateAppHost runs before bundling, so the apphost is signed, which messes with the layout, and the resulting binary is malformed. Runnable, but not signable.

cc @mateoatr

[2021-08-12 07:32] hez2010 commented on #57260
Maybe a `[MethodImpl(MethodImplOptions.DeepRecursion)]` can be provided to achieve this? It's similar to `AggressiveInlining`.

[2021-08-12 07:33] am11 commented on #56888
CMIIW, but from the backtrace, it is hitting our coreshost-specific placement delete[] operator:

which we don't want, right? It is hitting with main branch, with DeleteBuffer in pal.h as well as forward declaration of `DeleteBuffer` approach too (without declaring DeleBuffer in pal.h).

We can try defining the `ResizeBuffer` in `genlttngprovider.py` like it is done in `geneventpipe.py` without `D

[2021-08-12 07:34] alexrp commented on #57264
Many of the non-generic interfaces are considered a mistake / legacy leftover from .NET 1.0 days. Most of them would not be here if .NET was redesigned from scratch.

[2021-08-12 07:34] svick commented on #57264
In what way are you going to treat an `INumber` differently? Can you provide a specific example?

[2021-08-12 07:45] MichalStrehovsky commented on #57260
Stack needs to be a region of contiguous memory. With enough threads, each having their own stack, we'll very quickly run out of address space on 32bit systems. 64bit systems have a bit more leeway, but the stack can't be set _too big_ either.

[2021-08-12 07:46] ta264 commented on #14537
Yes , you can.  I've been doing it here https://github.com/Servarr/dotnet-bsd (`master` for v5 and `v6` for v6)

And publishing the v5 and v6 previews.  These are cross compiled on linux for freebsd.  We have a fair number of users of the v5 packages and no real reported issues.

I'm only actually building the sdk on the v6 branch since the official one grabbed by `dotnet/installer` works fine for

[2021-08-12 07:46] Summpot commented on #57264
Consider that there is a method in BinaryPrimitives whose signature is like this.
[code]

[2021-08-12 07:47] eiriktsarpalis commented on #57232
cc @MaximLipnin

[2021-08-12 07:52] jkotas commented on #57152
OSArchitecture is very rarely used and never on performance critical paths. I do not think it would be worth it to add JIT intrinsic for it.

[2021-08-12 08:00] jogibear9988 opened #57269 "VS2022 fails to compile, VS2019 works okay... (inferred delegate type)"
I've the following pice of Code, and compile against Net4.8

        public event Action CommonClientInitialDataLoaded
        {
            add
            {
                lock (_initialDataLoadedLockObject)
                {
                    _commonClientInitialDataLoaded += value;
                    if (_initialDataLoaded)
                        _guiDispatcher.BeginInvoke(() => value());

[2021-08-12 08:09] weltkante commented on #50858
Never mind, I've read through the linked issues and realize that having multiple outstanding requests has been moved into `RandomAccess` static methods and you have to track the position yourself.

This is NOT updated in the documentation of FileStream.Read/WriteAsync, only as breaking change? Why not update documentation that you can't have multiple outstanding async operations on an ordinary Fil

[2021-08-12 08:10] svick commented on #57264
@Summpot

I don't see how that would work:

1. Generic math doesn't work on interfaces themselves, it only works on generic types constrained to interfaces. And you have no way of getting that here.
2. It would have to allocate on every call. That goes against the philosophy of how .Net has been evolving recently.

[2021-08-12 08:22] #51600 closed

[2021-08-12 08:35] #56969 closed

[2021-08-12 08:38] SteveDunn commented on #55685
Hi - I'm happy to work on this one.

[2021-08-12 08:42] DancingCorpse commented on #55686
I met the same problem on my CentOS 7 ARM64 machine, is there any progress about this issue?

[2021-08-12 08:43] roji commented on #57262
Duplicate of #28135

[2021-08-12 08:44] #57264 closed

[2021-08-12 08:47] dazinator commented on #36617
`ICurrentDateTimeProvider` ?

[2021-08-12 08:49] ChrisKoebke commented on #56971
Bumped up the MSBuild verbosity to "Normal" and "Detailed", hope that helps:

[MsBuild_Detailed.txt](https://github.com/dotnet/runtime/files/6974052/MsBuild_Detailed.txt)
[MsBuild_Normal.txt](https://github.com/dotnet/runtime/files/6974053/MsBuild_Normal.txt)

Cheers,
Chris

[2021-08-12 09:01] roji commented on #28135
See additional comments on lifecycle/async: https://github.com/dotnet/runtime/issues/57262#issuecomment-897468775

[2021-08-12 09:06] ManickaP commented on #51301
Please, could you send me the dll? I don't see any difference with or without my change, so it's really hard for me to know if I'm actually fixing anything.

BTW, the `<SupportedPlatform ...>` helped so thanks for that :+1:

[2021-08-12 09:09] #57061 closed

[2021-08-12 09:25] koszeggy opened #57272 "[.NET 6] Improving the default Random.NextInt64 performance for derived classes"
### Description

Consider a pre-.NET 6 library used from .NET 6 that has a derived `Random` class but doesn't override the `NextInt64` methods ([example](https://github.com/koszeggy/KGySoft.CoreLibraries/blob/Development/KGySoft.CoreLibraries/Security/Cryptography/SecureRandom.cs)).

As such a class has no overridden `NextInt64` methods, the internal `Net5CompatImpl` [implementation](https://githu

[2021-08-12 09:25] roji commented on #57262
@aersamkull if you're OK with getting a copy, then yeah, simply asking for a byte array with `DbDataReader.GetFieldValue<byte[]>` should be a sufficient API. Whether a particular provider supports getting a string that way is another question - Npgsql does, but SqlClient probably doesn't. However, there's nothing stopping them from doing so - this doesn't necessarily require an API change at the A

[2021-08-12 09:27] Joe4evr commented on #57269
Seems like an overload resolution/feature detection issue, so this should be moved to roslyn.

[2021-08-12 09:29] aersamkull commented on #57262
I think the perfect solution would be an Utf8String type and something like `GetFieldValue<Utf8String>()`
Yes, until then I could implement it as an extension method and ask SqlClient for implementing GetBytes support for receiving text. Not very nice but ok for such a low-level thing

[2021-08-12 09:29] vitek-karas commented on #56896
If all components behaved the way you describe it, that would be great. I just don't have the confidence that it's going to be that case. But I guess that's also an argument for adding the new API (since as you already mentioned there are exiting bad-behaving components).

The reason I'm a bit hesitant still is that basically we would be adding an API which is unsupported from the very beginning.

[2021-08-12 09:55] eiriktsarpalis commented on #57198
Seems like a one-off occurrence so far. We can evaluate if it reappears.

[2021-08-12 09:58] adamsitnik commented on #50661
I have run into the same problem and thanks to the info provided by @carlossanlop I was able to get it working on my Surface PRO X.

What I needed to do:
- use `windows-i386` CMAKE installer for Windows with the option to add to PATH
- use msbuild instead of ninja by passing `-msbuild` to `build.cmd`

[code]

I've sent #57275 with docs update

[2021-08-12 09:59] eiriktsarpalis commented on #56017
Should we close or move to 7.0.0?

[2021-08-12 10:07] roji commented on #57262
Sounds like the right way forward - and thanks for the proposal, it's important to know that people are interesting in UTF8 strings etc.

I'll keep #28135 to track the more extreme proposal (which avoids copying in addition to avoiding decoding), but otherwise I don't think there's anything left to do here at the runtime level.

[2021-08-12 10:09] koszeggy opened #57276 "[.NET 6] Random.Shared has unexpected behavior for derived Random classes"
### Description

`Random.Shared` always returns the `XoshiroImpl` pseudo-random implementation, which is quite confusing when accessed from derived implementations such as [`SecureRandom`](https://github.com/koszeggy/KGySoft.CoreLibraries/blob/Development/KGySoft.CoreLibraries/Security/Cryptography/SecureRandom.cs).

Of course, .NET 6-aware libraries can define a `new public static Random Shared {

[2021-08-12 10:12] eiriktsarpalis commented on #34360
Moving to 7.0.0

[2021-08-12 10:22] hoyosjs commented on #57266
Seems like a dupe of #56810

[2021-08-12 10:22] #57266 closed

[2021-08-12 10:26] johngsandiford opened #57296 "wasm-tools workload install fails due to unsigned package"
After installing .NET 6 preview 7 (via Visual Studio 2022 install) I then try to install the following in order to use AOT with Blazor WASM as per the ASP.NET .NET 6 preview 7 blog:

dotnet workload install wasm-tools

This fails with the following:

Workload installation failed: Failed to validate package signing.

Verifying Microsoft.NET.Runtime.MonoTargets.Sdk.6.0.0-preview.7.21377.19

error: N

[2021-08-12 10:32] #56998 closed

[2021-08-12 10:38] artemiusgreat commented on #44636
Why was this moved to Triage?
At the moment Blazor doesn't have any JS-free charting tool with acceptable real-time performance.
Availability of `SkiaSharp` would be a life-saver.

[2021-08-12 10:39] FiniteReality commented on #36617
`ISystemClock` seems like a fine name to me:
- System clocks do not have consistent time (i.e. are not monotonic)
  - The return value does not have to be consistent (i.e. in `var x = clock.Now; var y = clock.Now;`, `y` can be wildly different to `x`)
- System clocks do not necessarily represent "now":
  - They can be in the past
  - They can be in the future
  - They can also never change
- Syste

[2021-08-12 10:41] Veverke commented on #56729
@adamsitnik : sorry for the delay, had context-switched to a different task. Context-switching back to this and... I do not know what to say. This issue aroused when trying to upgrade a .net app delivered as a daemon service (part of the job, besides upgrading the package itself, is to stop and start the service again, therefore me playing with systemctl stop/start commands). The issue is gone, I

[2021-08-12 10:53] stephentoub commented on #57276
I understand your request, but this is the nature of statics: they can be accessed from derived types.  This isn't unique to `Random`.  I don't think this is a reason to revisit the design.

[2021-08-12 11:19] #50661 closed

[2021-08-12 11:43] gbalykov commented on #55663
@davidwrighton I can confirm that this reproduces on armhf ubuntu 18.04, commit 4d82932722b56924598708f991961a75e5a90b36. I've checked in armhf rootfs on arm64 ubuntu on rpi4.

Build rootfs:
[code]

To build runtime:
[code]

To pack artifacts:
[code]

armhf rootfs setup on rpi4 with arm64 ubuntu:
[code]

Compilation with crossgen2 with bubble:
[code]

Same compilation of ILCompiler.ReadyToRun.dll

[2021-08-12 11:46] gbalykov commented on #55663
Follow-up question on this, why is `arm` architecture missing from `src/coreclr/tools/Common/JitInterface/ThunkGenerator/InstructionSetDesc.txt`?

[2021-08-12 11:51] gbalykov commented on #55663
Some additional info:
- removal of -O option doesn't help, besides r2rdump shows same asm with/without it for OpenPEFile
addition of
- `[System.Runtime.CompilerServices.MethodImpl(System.Runtime.CompilerServices.MethodImplOptions.NoOptimization)]` to OpenPEFile seems to help
- doesn't reproduce in debug mode of coreclr & crossgen2

[2021-08-12 11:53] EgorBo commented on #56745
It also reminds me a case where when we inline a method with a pinvoke that is, let's say, is only executed under a certain condition - we might end up with an additional overhead in the prologue in the caller too.

[2021-08-12 12:10] stephentoub commented on #57265
They are available for implementations to use to optimize, enabling the developer to express their intent.  Right now with the built-in implementations, it's only used in CreateUnbounded. That could change in the future.

Yes, unbounded channels in general have less overhead than bounded.

No.  a) it's there for a developer to express their intent,  it's an implementation detail whether an impleme

[2021-08-12 12:10] #57265 closed

[2021-08-12 12:52] TheCakeMonster commented on #57231
I understand your reticence, but I think there is a risk in the opposite direction. I think people are going to end up turning off trimming at the assembly level if they don't have the tools they need to make it work for them. Rather than making trimming more effective, this makes it far less effective.

The fact that this can be done with XML is good for scenarios where the developer doesn't own

[2021-08-12 13:19] lambdageek commented on #56574
The issue description is misleading.  Roslyn generates these Param table updates for normal methods, too. Not just for lambdas.
[code]

[code]

In this case, too Roslyn emits a Param update for `builder`.

[2021-08-12 13:23] Joe4evr commented on #57276
You already get a diagnostic if you access a static member via a derived type when the member itself is on the base type.
![image](https://user-images.githubusercontent.com/1058562/129203786-c73b384b-49df-458e-b314-9a7bb264e008.png)

[2021-08-12 13:32] ManickaP commented on #55261
Depends on https://github.com/dotnet/aspnetcore/issues/34768

[2021-08-12 13:36] akoeplinger commented on #57251
The log shows ` The remote server returned an error: (429) Too Many Requests.` so looks like GitHub is throttling the requests.

[2021-08-12 13:41] eerhardt commented on #56729
Closing. Please re-open (or log a new issue) if you can reproduce the error.

[2021-08-12 13:41] #56729 closed

[2021-08-12 13:44] eerhardt commented on #52079
Moving to 7.0 as these APIs won't be ready for 6.

[2021-08-12 13:45] ViktorHofer commented on #57251
@dotnet/dnceng if Alexander is right, we have some false positives reports logged.

[2021-08-12 13:48] eerhardt commented on #54170
Fixed by #57155.

[2021-08-12 13:48] #54170 closed

[2021-08-12 13:48] ViktorHofer commented on #57198
I think I saw this multiple times. Runfo/Kusto should provide you with the data of how often this has yet happened in CI.

[2021-08-12 13:51] eerhardt commented on #30863
@stephentoub - do you think this API is necessary for 6.0? Or can this issue be marked for 7.0?

[2021-08-12 14:04] am11 commented on #56888
That didn't work either because geneventpipe.py and genlttngprovider.py seem to have different ways of using PAL. Former seem to generate source which builds as a runtime component (using typedefs from PAL `BYTE*` and friends). Latter is producing source which is building as part of PAL, where it is allowed to mix PAL and STL headers and they conflict in mysterious ways. I also tried commenting ou

[2021-08-12 14:10] SamMonoRT commented on #44654
We have a few tests running on Android devices/simulators in the CI lanes. For iOS, we are just wrapping up a couple PRs to gets some tests running on devices. I believe at this time, we are confident this scenario of running iOS and Android apps on devices/simulators/emulators in .NET6 is satisfied, and we can move this to 7.0 (or as Dan mentions, copy over remaining work to a new 7.0 issue)

[2021-08-12 14:11] jakubstilec commented on #57251
Alexander is right, these were throttled. We don't have any wait time between 5 retries which sounds wrong for  429.  There were 16 builds executed around the same time. I wonder if this could cause throttling of github raw files.

[2021-08-12 14:14] ViktorHofer commented on #57251
Aside from what was exactly failing, if something goes wrong I would expect not to see false positive reports as the ones above. Is there a way to avoid that?

[2021-08-12 14:19] stephentoub commented on #57272
This would help the cited case (potentially significantly), but hurt multiple other cases:
- Calling NextInt64 on a `new Random(seed)`
- Calling NextInt64 on a `new DerivedRandom()` that doesn't override `NextBytes(Span<byte>)`
as now we're adding an additional virtual call to the parent's NextBytes.  I tried it out locally, and while there's some noise, it seems to have a negative impact to the t

[2021-08-12 14:20] antonfirsov commented on #56159
More (more accurate) details:
- Cancellation is triggered and finished in `ChunkedEncodingReadStream.CopyToAsyncCore`, disposing the connection.
- [`HttpConnectionResponseContent.SerializeToStreamAsync` disposes `ChunkedEncodingReadStream`](https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnec

[2021-08-12 14:28] stephentoub commented on #57200
The library only has a netstandard2.0 and net461 configuration today:
https://github.com/dotnet/runtime/blob/3b40c7cfc4519a95e9d03ac85a2a2de68299aa7f/src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/Microsoft.Extensions.Configuration.Abstractions.csproj#L4
and we explicitly disable nullable warnings across the repo for such projects:
https://github.com/dotnet/runtime/blob/3b40c7cf

[2021-08-12 14:28] adiaaida commented on #57251
Opened https://github.com/dotnet/arcade/issues/7744 to track adding back off.

[2021-08-12 14:29] adiaaida commented on #57251
I don't think so. All BuildMonitor can see is that there were failures, and therefore it opens an issue like this. In the pipeline itself, I don't think we can be smart enough to know "this is a false positive."

[2021-08-12 14:42] danmoseley commented on #44654
@jamshedd is it ok to change the milestone on a partially completed story or is it important we create a new one and copy the remainder over? I assume the former.

[2021-08-12 14:46] #56394 closed

[2021-08-12 14:49] jkotas opened #57286 "Assembly loader cache is case-insensitive even on cache-sensitive file systems"
`FEATURE_CASE_SENSITIVE_FILESYSTEM` is never defined. It means that the assembly loader ends up doing case-insensitive caching even on OSes that are naturally case-insensitive. It leads to odd behaviors like https://github.com/dotnet/runtime/pull/57237#discussion_r687736646 .

Repro:
1. Create a dummy `TestAssembly.dll` somewhere
2. Run on Linux:
[code]

Note that calling `Assembly.LoadFrom(@"/pat

[2021-08-12 14:57] eerhardt commented on #57200
Duplicate of https://github.com/dotnet/runtime/issues/43605. I'm going to close this issue as there is no reason to track this in multiple places.

The plan for all Microsoft.Extensions.* libraries is to add a `$(NetCoreAppCurrent)` TFM to the project. That will allow the compiler to give the correct nullable warnings. (Plus it will give us other benefits as well.) See https://github.com/dotnet/ru

[2021-08-12 14:57] #57200 closed

[2021-08-12 15:05] koszeggy commented on #57276
That's why it should be used carefully on non-sealed types. In this particular case it can lead to confusion IMHO.

While I'm aware of this you also can admit that forcing existing implementations to reintroduce the static `Shared` property to avoid confusion (using `new` to suppress the warning about hiding a base member) is maybe a suboptimal design decision. Just in my libraries there are 3 pub

[2021-08-12 15:05] #55988 closed

[2021-08-12 15:12] stephentoub commented on #35343
Can this be closed (https://github.com/dotnet/roslyn-analyzers/pull/4687)?

[2021-08-12 15:26] stephentoub commented on #57272
That was discussed previously but dismissed due to it not providing good enough distribution.

[2021-08-12 15:43] koszeggy commented on #57272
Ah, ok. At least, I tried it. :)

I still hope that 3% degradation on the legacy path (which actually has no baseline from any previous version that could be worse) is worth for a drastic improvement. Which of course will be out of question when everyone will have released their fixed libraries with the missing overrides...

[2021-08-12 15:44] jkotas commented on #57231
The primary risks with trimming in complex reflection scenarios are in functionality breaks and too complex models that are hard to reason about.

I think it is actually perfectly fine workaround to just turn off trimming at assembly level in complex reflection scenarios that were not designed with trimming in mind. Very simple and it is typically not giving up much of binary size savings anyway.

[2021-08-12 15:47] performanceautofiler[bot] opened #57294 "[Perf] icu.dat file size increase - SoD Regressions in New Blazor Template - Publish and Pizza App - Publish"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [f03c9951118970766a781b5bcc49764e4eab6439](https://github.com/dotnet/runtime/commit/f03c9951118970766a781b5bcc49764e4eab6439)
Compare | [c27c8b1c4c05f67eb7b0996d8557344d9e9d07ce](https://github.com/dotnet/runtime/commit/c27c8b1c4c05f67eb7b0996d8557344d9e9d07ce)
Diff | [Diff](https://github.com/dotnet/runtime/compare/f03c9

[2021-08-12 15:47] kefyru opened #57291 "GC.MarkAsTemporary(object obj) && GC.CollectTemporary()"
### Background and motivation

My app generate a lot of small objects with short life time, but those objects hold arrays rented from ArrayPool...
I made IDisposable pattern, but i can't be sure, when i disposing objects, are they in use in say async tasks...
I try to use GCHandle.Alloc(obj, Weak), but (as i say) those objects small and GC does not collect them immediately.
Using GC.Collect(), par

[2021-08-12 15:49] datalogics-robb commented on #55686
@wfurt Yes - the problem is that Microsoft does not support GlibC 2.17 on ARM Linux - and that means the 3.1 SDK does not support Cent OS 7.

They do support Debian 9 (GlibC 2.24) so we have moved support for ARM Linux to this distro.
Details are here:
  https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1-supported-os.md

[2021-08-12 15:50] tippisum commented on #56896
1. Yes, I do want a self-contained component. I think that should be a very natural use case: if one does control the main application, then "hosting managed components" is likely not the point to start with since using managed entry point and loading native components saves a lot of effort and mess. So when a component must be hosted, it should be natural to assume that the main application is co

[2021-08-12 15:54] danmoseley commented on #56810
@jozkee I don't think we should leave tests with known failure modes if possible. The failures add up. Can we either temporarily catch this exception, tracking with this issue, or disable the test, again tracking with this issue? The former seems better. LMK if you would like me to push that up.

[2021-08-12 16:00] josalem commented on #56888
Thanks for giving it a try! You did all the things I would have done as well. Seems there may be some extra complexity here. Since this is _only_ happening in debug, I'll try to get it fixed in 6, but this is definitely a candidate for being bumped to 7.

@janvorli does @am11's experience trigger any top-of-mind thoughts for what might be going on?

[2021-08-12 16:02] svick commented on #57291
If you don't do anything special (no calls to `GC.Collect()`, probably no `GCHandle.Alloc`), does your app actually have problems with the GC?

In general, I believe the GC is quite good at collecting temporary objects, them holding pooled arrays should not be an issue and promotions to higher generations should happen only rarely. So I'm not convinced there is actually a problem to solve here.

S

[2021-08-12 16:10] DrewScoggins commented on #57293
Seems related to https://github.com/dotnet/runtime/pull/53984/files

[2021-08-12 16:16] stephentoub commented on #57293
Assuming #53984, as something intended to be a minor cleanup but regressing some benchmarks by 30%-100%, at this point for .NET 6 it should likely be reverted and revisted for .NET 7.
cc: @tannergooding, @huoyaoyuan

[2021-08-12 16:18] directhex commented on #57154
@mmitche how's this https://maestro-prod.westus2.cloudapp.azure.com/1647/https:%2F%2Fgithub.com%2Fdotnet%2Femsdk/latest/graph

[2021-08-12 16:18] josalem commented on #56888
pre-emptively moving this to 7. I'll hopefully be able to get this, but the `debug` only nature of it lowers the priority.

[2021-08-12 16:19] Clockwork-Muse commented on #36617
... NodaTime and Java get around this by having an explicit absolute timestamp type (something without a zone attached at all).

I personally feel that it's better to have something that explicitly returns a UTC (or some zone-ignorant) stamp + a zone, as both NodaTime and Java do, and _maybe_ including an additional method/property that gets the local time.  You **cannot** avoid including the zone

[2021-08-12 16:22] stephentoub commented on #56555
I think future (or closed) here is fine.  It's a tiny hit in one use case on one architecture, and apparently only for `object` but not `byte`/`char`.

[2021-08-12 16:22] am11 commented on #56888
@josalem, absolutely not a priority for .NET 6 since it is a debug issue and so far only happening with corerun. I have tested the lttng test by replacing corerun with dotnet.exe (v5 as well as v6 from SDK, not yet the one which is built as part of the runtime..) and it works just fine 100% success across ~50 runs. I can even send a PR for lttng tests with dotnet.exe, which seems the right way for

[2021-08-12 16:26] SamMonoRT commented on #44804
Any update on this Steve ?

[2021-08-12 16:29] josalem commented on #51579
Moving out of the 6 milestone for better bookkeeping since this is a 3.1 backport only change that doesn't affect 6.

[2021-08-12 16:30] Tohron commented on #57294
I've noted numerous regressions in New Blazor Template - Publish (SOD - New Blazor Template - Publish - Aggregate - .map, SOD - New Blazor Template - Publish - Aggregate - .css, pub/wwwroot/_framework/icudt_EFIGS.dat, pub/wwwroot/_framework/icudt_no_CJK.dat, SOD - New Blazor Template - Publish - Synthetic Wire Size - .gz, pub/wwwroot/css/bootstrap/bootstrap.min.css.map, pub/wwwroot/_framework/icud

[2021-08-12 16:36] josalem commented on #47698
I haven't seen this test failure in at least the last 30 days.

https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata?query=H4sIAAAAAAAAA13NvQrCMBQF4N2nOIQOLUgRnOvgIOggKAHn2FzTaHsj+UEEH96G2sXxHs53rqQQzxRSHwMWH7w68oQpQNNA7JTtBRRryPeT0DqOynKA2FrW5KVXrWUjxxUx8ruzjPLi/GMfaQiYB0+JEmlsoIwr1ytdVXCMg7se1UBLFD3dYj2znOXfhbemi3U+5+lRhCwn8PN/3S+ZLXbs0gAAAA==

[code]

I'm seeing failures

[2021-08-12 16:36] #47698 closed

[2021-08-12 16:39] joperezr commented on #57238
@mjkkirschner thanks for the report. Did you try if this repros in .NET 5 or .NET Core? Can you please add a code snippet of the repro so that we can take a look?

[2021-08-12 16:40] mmitche commented on #57154
I think that is going to be right for stable builds, but it still appears to be missing the workload artifacts.

[2021-08-12 16:41] AndyAyersMS commented on #54166
Marking as 6.0 at least until we've better understood what's going on.

[2021-08-12 16:42] tannergooding commented on #57293
Agreed. Additionally, we should likely look into why the regression is so bad as a follow up.

I don't believe its expected that using indexers should be this impactful.

[2021-08-12 16:46] SamMonoRT commented on #44804
Moving this to Future milestone.

[2021-08-12 16:49] AndyAyersMS commented on #57260
I'm not sure there is much else the jit can do here. There are some tricks one can play to turn recursion into tail recursion but they are likely well beyond what we'd be able to do in the jit as they require modifying method signatures.

Marking as future since I need to apply some milestone to make it clear this is not a 6.0 issue.

[2021-08-12 16:50] agocke commented on #57242
@mateoatr After thinking about this, I think there are two fixes we need to make

1. Don't sign the bundle in `_CreateAppHost` if single-file publish is enabled
2. Add a reusable `_MacOSCodesign` task or target that can be called after `GenerateBundle` in the case that `PublishSingleFile` is true.

[2021-08-12 16:51] joperezr commented on #38609
Thanks for the report @RoadTrain, and for the diagnosis of the right representation along with the examples.

I think this would be a great addition to System.DirectoryServices.Protocols. The search query language is part of the LDAP spec, so having an additional class which encodes the filter/query so that the query would be sent correctly would be very useful. That said, I would probably just fo

[2021-08-12 17:00] echesakovMSFT commented on #53838
No luck with reproing this so far but I noticed that `COMPlus_TieredCompilation=1` is set for fullpgo in the CI.

[2021-08-12 17:00] danmoseley commented on #57295
If the only changes really are those 3 in the diff, then https://github.com/dotnet/runtime/pull/57009 is the only possible cause. Moving to codegen team.

[2021-08-12 17:01] tannergooding commented on #54166
I wonder if its partially due to certain operations, such as integer division, being significantly more expensive on x86/x64 (as you only have `div` which computes the remainder as well).

On A64, the benefits of avoiding `div` are lessened and some of the algorithms that avoid `div` might expect you can have things like `lea` instead.

[2021-08-12 17:10] KrzysztofCwalina commented on #52079
In many networking scenarios, rate limits change dynamically based on messages being received, e.g. based on retry-after HTTP headers. It seems to me like a "message" needs to be one of the inputs to the APIs computing the limits.

[2021-08-12 17:11] mateoatr commented on #57242
That sounds about right. I'll make the changes.

[2021-08-12 17:15] Jozkee commented on #56810
@danmoseley, I just sent https://github.com/dotnet/runtime/pull/57299 for disabling the test

[2021-08-12 17:16] danmoseley commented on #57295
Looks like this test has essentially no networking code involved -- it stresses changing a number into a hex string.

[2021-08-12 17:16] EgorBo commented on #54166
@AndyAyersMS can it also be PGO related? https://github.com/dotnet/runtime/commit/dc7598e509023489d911ac3b643e2f426490d310

![image](https://user-images.githubusercontent.com/523221/129240023-dbf4549b-bf56-4bbc-af2b-a7a814f4f556.png)

[2021-08-12 17:18] lambdageek commented on #57296
/cc @steveisok

[2021-08-12 17:19] joperezr commented on #35401
@marek-safar is there something from this issue that we have to fix for 6.0.0? If yes, are you tracking that work? Or if nothing to fix for 6.0.0, is it ok to change the milestone of this issue?

[2021-08-12 17:20] AndyAyersMS commented on #53838
Yes (didn't mention it because that's a default setting).

I wonder if we can get access to one of the CI machines. This test fails very consistently there.

[2021-08-12 17:21] steveisok commented on #57296
@directhex @mmitche @joeloff Any idea?

[2021-08-12 17:22] joperezr commented on #56072
Moving this to 7.0.0 for now from the discussion above. If you guys prefer to either move back to 6.0 (if there is anything we still want to do for 6.0) or close, feel free to do so.

[2021-08-12 17:24] echesakovMSFT commented on #53838
It was possible in the past. @MattGal can you help with this?

[2021-08-12 17:28] JamesHill3 opened #57373 "Reflection not working in existing project"
### Describe the bug
After upgrading my project from .Net 6 Preview 6 to .Net 6 Preview 7, a shared component that uses reflection no longer works. The offending code is unchanged and has worked through all preview versions of .Net 6.

To make matters worse, the offending code works on my local machine using the SDK, but fails on our development server which has .Net 6 Preview 7 hosting bundle ins

[2021-08-12 17:29] #46178 closed

[2021-08-12 17:29] joeloff commented on #57296
So, if you installed a signed .NET SDK, then it will validate that workload packs are signed. For unsigned builds this is turned off. However, we no longer produce signed nightly builds, but new packages, e.g. from RC will get published.

I looked at the package on NuGet.org and it's definitely signed. Any chance you have another feed configured that pulled the unsigned package before it got to Nu

[2021-08-12 17:30] mmitche commented on #57296
Yep, I'd check two things:
- Your configured feeds only includes nuget.org for this test (so it can't pick up unsigned bits)
- Your cache doesn't include a previous version of this package that is not signed.

[2021-08-12 17:31] buyaa-n commented on #44916
As part of https://github.com/dotnet/runtime/issues/47228 analyzing `PlatformNotSupportedException` across the codebase is done and filed issues for each area, most of the issues have been resolved/annotated, very few moved to 7.0.

Not sure what else we planned to do further in 6.0 @jeffhandley @GrabYourPitchforks

[2021-08-12 17:32] michael-hawker commented on #57253
That's a great question, would it make sense to have `IsZero` and `IsOne` type function on `Vector2`, `Vector3`, and `Vector4` too for symmetry with the `Quaternion` function too?

[2021-08-12 17:33] jamshedd commented on #44654
Moving is fine. I did happen to notice the User Story shows "Committed", this should be "In Progress" I think?

[2021-08-12 17:33] vitek-karas commented on #56896
We don't have docs around this since there's no direct support for it in the SDK.

We already consider them deprecated to a large degree - but it's not correctly reflected in the docs unfortunately. We definitely encourage everyone to NOT use it. Just a note on the word "deprecated" here - the APIs will remain and probably keep working as-is for a while (we kind of have to do that for backward com

[2021-08-12 17:34] filipnavara commented on #35401
The Xamarin issue with bailing on missing assemblies was resolved [today]. Now it behaves same as .NET on desktop.

[2021-08-12 17:46] vcsjones commented on #50528
Just so I am super clear, we are okay obsoleting a virtual on an abstract class that developers can inherit from for a RC?

[2021-08-12 17:47] wfurt commented on #55686
@janvorli would probably know if there is some specific reason. AFAIK some of older versions were quite buggy.

[2021-08-12 17:50] huoyaoyuan commented on #57293
https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHuGBLAOwwBtALoNgvDLgDcXHvSbkkfQQwCy5ABRsAbtgA2AVxgBKOd07Ue1pgHYGeozAB0EqUIB65EbKs8AvuZMjMRKKhjqpNoOBsZmfhZB1sT2jsaukrhCaS5uuM4AMjD8AOYYABYMcAzevtaB1P5AA

JIT looks happy with index expression and generates slightly better code for it.

[2021-08-12 17:57] MattGal commented on #53838
Happy to do so, I've preemptively taken the machine from Andy's log above offline in case it's that-machine-specific too.  It will require an on-corpnet (not VPN) device to remote to it.  @AndyAyersMS Hit me up on Teams and we'll figure something out.

[2021-08-12 17:59] jonpryor opened #57304 "Android + Console.WriteLine + format strings = possible unexpected extra newlines"
### Description

Context: https://github.com/xamarin/xamarin-android/pull/6119
Context: https://github.com/xamarin/xamarin-android/pull/6119#issuecomment-896246633

.NET for Android "forwards" `Console.WriteLine()` invocations to `adb logcat`.  This is good and proper.

*However*, messages are written to `adb logcat` via [`__android_log_print`](https://developer.android.com/ndk/reference/group/log

[2021-08-12 18:01] echesakovMSFT commented on #53838
@AndyAyersMS I reproduced the failure and I think I have a suspect:
- when I built the test (and its native components) locally I can not reproduce the failure even with 100 iterations
- when I replace the test native components with artifacts from the CI it fails immediately

In the CI we use
[code]

This is what I have
[code]

So it might an issue in VC.

[2021-08-12 18:09] tannergooding commented on #57293
Notably, that's a relatively simple example. Looking through other scenarios and directly copying the full expression/context they are used in shows worse codegen in several cases.

I'm investigating more so I can log some issues on the runtime and/or compiler.

[2021-08-12 18:10] kunalspathak opened #57306 "Superpmi fails to replay with missing map GetTailCallHelpers"
[code]

[2021-08-12 18:11] mmitche commented on #57154
@joeloff will know for sure, but I think it's all of them.

[2021-08-12 18:12] bartonjs commented on #50528
I am.  @ericstj or @danmoseley would you care to object?

If there are more than three NuGet packages that have extended ECDiffieHellmanPublicKey I'll... I don't know... be flabbergasted.  ("MC an API Review while only speaking French" (a language I don't know) sounds like a fun consequence, but would be incredibly unproductive).  Even then, I doubt they'd've implemented To/FromByteArray in a way

[2021-08-12 18:12] MattGal commented on #53838
@echesakov the "for x86" part may be relevant?  These ARM64 windows machines can and do run x86 and amd64 binaries (very slowly an possibly with issues) , so if you're building for x86, even if running on your own ARM64 machine, you may not be going down the same path.

[2021-08-12 18:15] davidwrighton commented on #57106
I don't expect the behavior of the reflection apis to change in .NET 7. What I do expect is that there will be virtual statics in addition to abstract statics, which is why I wanted you to be sure to check for IsVirtual and not IsAbstract on the method when writing your reflection check.

However, it is quite likely that the generic math apis will change between .NET 6 and .NET 7 those are still i

[2021-08-12 18:16] lambdageek commented on #35401
(closing the loop on Mono runtime behavior)

We shouldn't be resolving type-forwarders unnecessarily.

Here is a console app (that uses netfx-lib.dll from Filip's repro [above](https://github.com/dotnet/runtime/issues/35401#issuecomment-882487608).

[code]

[code]

This prints:

[code]
and runs without errors.  `MONO_LOG_LEVEL=debug MONO_LOG_MASK=asm dotnet run` shows that we load `mscorlib.dll` f

[2021-08-12 18:16] vcsjones commented on #50528
I need to figure out how to publish a few NuGet packages, then.

Fair enough, just thought I'd ask. Will do those next then.

[2021-08-12 18:18] joeloff commented on #57154
The MSIs and the corresponding .json files. Some of the JSON files will have GUIDy names (those are for the packs). VS components will have more readable names. For example, from a previous EMSDK build, we'd want

[code]

[2021-08-12 18:18] srpeirce commented on #55750
@pavelsavara
To confirm, this still doesn't work in Preview 7. Has it been fixed for RC?
![image](https://user-images.githubusercontent.com/12847647/129248122-07bc367c-8a7f-4cca-b230-843b667bfef4.png)

[2021-08-12 18:24] bartonjs commented on #50528
Had there been an actual "eat my hat" type consequence I definitely would have thrown in a disclaimer like "(offer valid only for non-prerelease packages already present on nuget.org at the original time of this post)".  I may not be smart enough to remember to look in partial files, but I'm not _that_ naive :smile:.

[2021-08-12 18:24] agocke commented on #3816
If this issue is only targeting improving the window-chrome, it does not seem like that would meet a servicing bar.

[2021-08-12 18:25] echesakovMSFT commented on #53838
It also looks that setting `set COMPlus_ReadyToRun=0` is sufficient to repro the issue.

[2021-08-12 18:26] danmoseley commented on #50528
@marklio is this an assumption we can easily verify from Nuget packages?

[2021-08-12 18:28] echesakovMSFT commented on #53838
@MattGal  I believe *"for x86"* stands for Hostx86. Both native artifacts are ARM64 binaries.

[2021-08-12 18:29] JustNrik opened #57307 "INumber<TSelf> shouldn't inherit IUnaryNegationOperators<TSelf, TSelf>."
### Description

I was fiddling around with the new `INumber<TSelf>` interface, but I found something that is definitely out-of-place.

`INumber<TSelf>` inherits `IUnaryNegationOperators<TSelf, TSelf>` which makes you implement this operator:

[code]

At first sight it looks completely fine, but this is actually NOT fine for unsigned numbers. There's a really valid reason why `uint` returns `long`

[2021-08-12 18:31] daxian-dbw commented on #57106
@davidwrighton, thanks for the clarification.

[2021-08-12 18:34] mairaw commented on #57307
@tannergooding it seems this would be something for you. Not sure if the bot is right here 😉

[2021-08-12 18:36] SamMonoRT commented on #39187
Moving to 7.0

[2021-08-12 18:38] davidwrighton commented on #55663
@gbalykov arm is omitted from InstructionSetDesc as none of the CPU specific instruction sets have been implemented for ARM in the JIT (and as ARM is rapidly being replaced by ARM64, we are unlikely to invest in changing that).

[2021-08-12 18:53] srpeirce commented on #55750
BTW for anybody who stumbles on this issue, this was my workaround - it's only a problem in debug.
[code]

[2021-08-12 18:53] davidwrighton commented on #55663
Dunno, I'll take a look today, but I'm fairly busy right now, so it will take at least a few hours.

[2021-08-12 19:05] AndyAyersMS commented on #57306
Can you assign a milestone and remove the untriaged label?

[2021-08-12 19:08] jakobbotsch commented on #57306
I'll see if I can figure this out, from a first cursory glance I don't see why it shouldn't just work.

[2021-08-12 19:08] Tratcher opened #57308 "Support optional client certificates"
### Description

`SslServerAuthenticationOptions.ClientCertificateRequired = true` is needed to prompt the client to send a certificate. SslStream will invoke RemoteCertificateValidationCallback with the result, even if it's null, and the server can choose if it wants to accept the connection. QuicListener however will terminate the connection without invoking RemoteCertificateValidationCallback.

[2021-08-12 19:09] vargaz commented on #57004
Would suggest pushing this to 7.0.

[2021-08-12 19:10] AndyAyersMS commented on #53838
@echesakov thanks... looks like I was using 19.28.29715.1 to try and repro.

[2021-08-12 19:21] MichaelSimons commented on #1252
[Triage] Pushing to 7 because we don't have the bandwidth to fix this nor does it meet the bar.

[2021-08-12 19:22] tannergooding commented on #57307
When speaking more abstractly about numbers and how they are used by the hardware and even in higher level concepts like `Vectors` (particularly SIMD vectors), unary negation is a common operation and logically represent `0 - x`.

Even for `int = -byte` and `int = -ushort`, this is logically `0 - x` and then sign extended up to `int`. If you downcast back to `byte`, the actual bit-pattern remains

[2021-08-12 19:24] MichaelSimons commented on #3351
[Triage] @jamshedd & @adegeo, please link to the doc issues which addressed this as well as any issue tracking the remaining work.

[2021-08-12 19:26] AndyAyersMS commented on #57293
Possibly relevant: #11870.

[2021-08-12 19:28] MattGal opened #57309 "Consider modifying tests / timeouts of coreclr-gc-simulator pipeline or not using public CI machines"
In investigating "why did [this build](https://dev.azure.com/dnceng/public/_build/results?buildId=1288907&view=logs&j=bb94f37e-a09b-5b51-09b2-ab78e7aa5103&t=506cadc9-3cc4-5d96-6847-011f75a33382&l=28) time out?" for @ViktorHofer , I realized that [the coreclr-gc-simulator pipeline](https://dev.azure.com/dnceng/public/_build/results?buildId=1287716&view=logs&j=f614c838-e492-50ad-dc88-b009649129e3) r

[2021-08-12 19:31] danylofitel opened #57310 "[.NET 6] CultureInfo constructor does not throw CultureNotFoundException for unknown culture name"
### Description

In .NET 5 and older versions of .NET Core and Framework this code throws `CultureNotFoundException` ("Culture is not supported" message).

`CultureInfo culture = new CultureInfo("broken");`

In .NET 6 it does not throw and creates a `CultureInfo` instance with "broken" name.

![image](https://user-images.githubusercontent.com/3258785/129255853-57b8a248-71bf-4b0d-8a94-bc02832dfeb0.

[2021-08-12 19:47] directhex commented on #57154
OK. https://maestro-prod.westus2.cloudapp.azure.com/1647/https:%2F%2Fgithub.com%2Fdotnet%2Femsdk/latest/graph is good?

[2021-08-12 19:54] Anipik commented on #53258
this was fixed and no longer repro

[2021-08-12 19:54] #53258 closed

[2021-08-12 19:59] pentp commented on #54166
So I managed to finally generate a diff: https://www.diffchecker.com/Rr7cRI2V
I suspect the slowdown comes from using `mul x,x,x` instead of `umull x, w, w`?

[2021-08-12 20:02] mmitche commented on #57154
Getting close, I believe you want to omit "Runtime", and then I believe @joeloff wants the items that were in the Workload AzDO artifact to be under a separate directory so they are easy to harvest for insertion. So putting them under a "workloads" relative blob dir.

E.g. `emsdk/6.0.0-rc.1.21412.5/workloads/61fa459e77618622b967a092751fbf18.json`

[2021-08-12 20:10] #57293 closed

[2021-08-12 20:15] srpeirce commented on #55783
Confirmed this works in preview 7 🎉

[2021-08-12 20:16] joeloff commented on #57154
+1 for what @mmitche said. For now we'll do this manually, but having a single artifact we can download will simplify things and make it easier once we try to automate this in the staging pipeline since we'd want to push emsdk and runtime into separate VSDROP blobs

[2021-08-12 20:22] lambdageek opened #57315 "[mono] Log profiler does not build correctly in Debug configuration"
On platforms (like Android) where we use dynamic loading, the Debug configuration builds the profler with missing symbols like `m_class_get_name_space`.

This is because in the debug configuration we enable `CHECKED_BUILD_PRIVATE_TYPES` which makes the class getters into non-inlined functions.  Those functions are not exported, so they're not visible in dynamic libraries like the log profiler.

ht

[2021-08-12 20:29] GrabYourPitchforks commented on #57276
@stephentoub There was a proposal earlier (I can't find the issue unfortunately) to allow static methods to mark themselves as hidden from Intellisense in derived types. This is especially useful for factories (`Random.Shared`, `Encoding.UTF8`, etc.) where it's nonsensical for the user to write `SomeDerivedType.StaticFactoryMethodDeclaredOnBaseType`. This method seems like a good candidate for suc

[2021-08-12 20:33] danielchalmers commented on #54220
I often make a `Flatten<T>(this IEnumerable<T> l)=>l.SelectMany(x=>x)` extension so I would love to see this in the BCL!

[2021-08-12 20:36] danmoseley commented on #39055
happened here
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-57143-merge-06984f287e3c4de483/System.Text.Json.Tests/1/console.9ce3725c.log?sv=2019-07-07&se=2021-09-01T18%3A52%3A53Z&sr=c&sp=rl&sig=fh%2FBYutp9tbKNOr2cfjQR1mxv6otsjLeuSQ5eGkRiiE%3D

[code]

Note, this is on .NET Framework net48-windows-Release-x86-Windows.10.Amd64.Client19H1.Open

[2021-08-12 20:39] #52434 closed

[2021-08-12 20:41] danmoseley commented on #39055
It's happening about once a week, always on .NET Framework.

[code]

|Branch|Pipeline|Pipeline_Configuration|Phase|OS|Arch|Result|Finished|Duration|Build|Console_log|StackTrace|
|---|---|---|---|---|---|---|---|---|---|---|---|
|refs/heads/main|runtime|Release|libraries_build_net48_windows_x64_Release|windows.10.amd64.client19h1.open.rt|x64|Fail|2021-07-30 14:02:30.3950000|0.004|20210730.25|Assert

[2021-08-12 20:57] marklio commented on #50528
I can look at this. I'll follow up with @bartonjs offline.

[2021-08-12 21:02] cston commented on #57106
Closing since this issue is being addressed in https://github.com/PowerShell/PowerShell/pull/15908.

[2021-08-12 21:02] #57106 closed

[2021-08-12 21:05] electricessence commented on #23602
Ok... So I have to admit that I'm a bit frustrated at this one.
I've observed that it would be easy to write extensions for this, BUT `Capture.Text` is `internal`.
If it was exposed, then implementing my own `.AsSpan()` would obviously be easy.  Right now, I'm crippled to passing the original source in order to get a `ReadOnlySpan<char>` or `ReadOnlyMemory<char>`.
Is there a serious reason the ori

[2021-08-12 21:15] wfurt commented on #57308
It seems like in that case we don't even get callback from MsQuic and it fails internally. I will take a look to at least understand.

[2021-08-12 21:24] radekdoulik opened #57320 "[wasm] windows/Debug configuration - build AOT crosscompiler with debug symbols"
Currently we are using llvm native libraries from nuget `runtime.win-x64.microsoft.netcore.runtime.mono.llvm.sdk` package. These don't contain debug symbols and because we cannot mix libs with and without debug symbols on windows, we build the AOT crosscompiler without debug symbols in Debug configuration.

That makes debugging problems with the AOT crosscompiler quite hard.

@imhameed, what would

[2021-08-12 21:29] #52227 closed

[2021-08-12 21:36] layomia commented on #45448
We've implemented the required functionality of this feature for 6.0, barring bug fixes and goodness. There'll likely be one more review of the APIs before we ship but I'll move this issue to 7.0 to make 6.0 tracking cleaner.

[2021-08-12 21:38] AndyAyersMS commented on #54166
I think these are running on Surface Pro X machines, which are A76 (big).

@echesakov can you ask the Arm folks to take a look and see if they have any ideas?

[2021-08-12 21:39] ithline opened #57321 "Improve feature parity between JsonSerializerOptions and JsonSourceGenerationOptionsAttribute"
EDIT See https://github.com/dotnet/runtime/issues/57321#issuecomment-1625883026 for an API proposal.

<details><summary>Original Proposal</summary>
<p>
Currently source generator for JSON serialization in `System.Text.Json` creates a static property named `Default` that receives default `JsonSerializerOptions` defined by the source generator. These can be modified by using `JsonSourceGenerationOpt

[2021-08-12 21:51] johngsandiford commented on #57296
Removing sources I had added for previous previews gets it passed this error.  I am now getting different errors but will raise a separate issue if I can't resolve them.  Thanks, John

[2021-08-12 21:51] #57296 closed

[2021-08-12 21:52] tannergooding opened #57323 "[Breaking Change] Static Abstracts in Interfaces"
.NET 6 is previewing a new feature referred to as `Static Abstracts in Interfaces`. This feature involves several changes to the ECMA spec allowing IL metadata patterns that were previously considered illegal: https://github.com/dotnet/runtime/pull/49558

### Existing Behavior

`Static interface methods` could not be marked as `virtual` and would be considered illegal IL.

### Breaking Change

`St

[2021-08-12 21:52] tannergooding commented on #57323
CC. @cston, @jaredpar, @davidwrighton, @richlander, @jeffhandley

[2021-08-12 21:59] AndyAyersMS commented on #57173
Seems like the perf impact for `Sort<BigStruct>.List` comes from the profile updates leading to extra CSEs, and those CSEs perturbing code alignment in `PickPivotAndPartition`.  In particular the transition jumps between the two inner loops -- in the after picture the second jump spans a 32 byte boundary.

[code]

I'll see if can verify this by adding different amounts of nop padding to the method

[2021-08-12 22:03] stephentoub commented on #56932
I don't want us to add an API to ValueTask that synchronously blocks waiting for it to complete. Code can just do .AsTask() and synchronously wait on that if it must.

[2021-08-12 22:08] echesakovMSFT commented on #54166
@TamarChristinaArm Do you think you or someone on your team would be able to help us with the issue?

[2021-08-12 22:11] buyaa-n commented on #45193
@dotMorten why and which one do you think is invalid? Looks all valid to me

[2021-08-12 22:12] bartonjs commented on #39055
Another hit.  (.NET Framework)

https://github.com/dotnet/runtime/pull/57301/checks?check_run_id=3315292803

[2021-08-12 22:16] marklio commented on #50528
OK, the landscape here is complicated, but in general it looks like @bartonjs's wager holds up, particularly through the lens of "ecosystem code exposed to such a change". I definitely found types that inherit from System.Security.Cryptography.ECDiffieHellmanPublicKey, but almost universally these are types in our own shipped assemblies (System.Core, System.Security.Cng/Algorithms/OpenSsl). These

[2021-08-12 22:24] bartonjs commented on #50528
~~"Bonjour les amis. Nous sommes mardi et environ 10h à Redmond, il est donc temps de passer en revue l'API. Vous avez peut-être remarqué que je parle en français aujourd'hui. Non, je **ne** parle pas français, mais je peux lire des choses sur Google Translate dans ce que je pense ressemble à du français, et c'est loin d'être la bonne réponse mais le mieux que je puisse faire. Pourquoi? J'ai fait

[2021-08-12 22:24] layomia commented on #57321
Have you tried using the generated ctor on your context type that takes a `JsonSerializerOptions` instance?

e.g.

[code]

[2021-08-12 22:33] directhex commented on #57154
[code]

now?

[2021-08-12 22:51] #54865 closed

[2021-08-12 22:55] timcassell commented on #45446
@ivdiazsa I'm still seeing this in `6.0.100-preview.7.21379.14`, please re-open this issue until it is resolved.

[2021-08-12 23:00] dotMorten commented on #45193
@buyaa-n CLLocation APIs are supported on iOS since more or less forever.

[2021-08-12 23:07] PascalSenn commented on #55827
@steveharter I am currently rewriting JsonNodes to a different structure. It would be great if there was a `Replace` on JsonArray and JsonObject that does not require to remove the parent first.
Did you consider something like this?

[2021-08-12 23:13] PascalSenn commented on #56592
@steveharter I am currently rewriting JsonNodes to a different structure. It would be great if there was a Replace on JsonArray and JsonObject that does not require to remove the parent first.
Did you consider something like this?

[2021-08-12 23:14] eerhardt commented on #56702
The multi-targeting strategy is only necessary for the NuGet package, correct? For the source generators contained in the ref-pack, we should just always use v2, as this is `net6.0`, which only works with Roslyn v4.0.

[2021-08-12 23:24] eerhardt commented on #55750
Correct - the fix didn't make it into Preview7. It will be fixed in RC1.

[2021-08-12 23:24] safern opened #57325 "[API Proposal]: Add BinderOptions.BindSingleElementsToArray flag"
### Background and motivation

Currently with the JSON Configuration Provider you can do:
[code]

and then bind to without any problem:
[code]

However if we want to bind to this from the xml configuration provider using:
[code]

We don't have a way to know that `TvShows` can contain multiple `Metadata` elements and that is bound to an array, so we fail to bind when a single element is provided as

[2021-08-12 23:28] safern commented on #57325
cc: @maryamariyan @eerhardt @davidfowl

[2021-08-12 23:31] ivdiazsa commented on #45446
It would help if you provided more specifications from your current environment. It does not reproduce on our side anymore.

[2021-08-12 23:33] buyaa-n commented on #45193
Then that API need to be annotated with SupportedOSPlatform("ios[optional_version]"), i guess there is a warning because it is only annotated with SupportedOSPlatform("macOS[optional_version]") or so. But I cannot find such API in runtime, so i could not see the exact cause, also as the API is not in runtime please file an issue in the repo wherever the API defined

[2021-08-12 23:35] safern commented on #57325
I marked it as blocking release as a couple of 1st party costumers need this in order to be able to consume this and move to .NET 6.

[2021-08-12 23:36] directhex commented on #57154
https://github.com/dotnet/emsdk/pull/60 is up, done for today.

[2021-08-12 23:43] echesakovMSFT commented on #53838
I the issue that the following block https://github.com/dotnet/runtime/blob/b2714bc0a738035f10887d87d8b28cb5ac66c3ef/src/coreclr/jit/lowerarmarch.cpp#L1166-L1193
doesn't zero upper filed of `op2` as it does for `op1`

[2021-08-13 00:04] FilipToth commented on #56817
Yes, that is exactly what I did in my own code before submitting the issue, I was just wondering about if this could be a positive change to the .NET runtime.

[2021-08-13 00:05] echesakovMSFT commented on #53838
Confirmed - the following patch
[code]
fixes the test failure for me.

[2021-08-13 00:14] timcassell commented on #45446
Visual Studio: 16.11.0
OS: Windows 7 SP1, 64-bit
CPU: AMD Phenom II x6 1055T
RAM: 8GB DDR3 1333

Any other info you need?

[2021-08-13 00:15] MithrilMan commented on #43227
I read your article here about loop alignment here <https://devblogs.microsoft.com/dotnet/loop-alignment-in-net-6/> and it mentions that a loop like this
[code]
isn't a candidate for inlining because contains a call to a method
What about methods that are inlined?
Shouldn't inline method be considered like loop body and be eligible for alignment if their body is small enough?

[2021-08-13 00:16] kunalspathak commented on #57173
I haven't seen this particular method, but just to throw some ideas, try using `COMPlus_JitDasmWithAlignmentBoundaries=1` to print the boundaries as well as JCC erratum if any. I would also suggest to turn of loop alignment (if it is happening here) with `COMPlus_JitAlignLoops=0` to see if it makes any difference.

[2021-08-13 00:19] kunalspathak commented on #43227
Inlining decision happens in early phase of compilation and when we decide whether to align a loop or not, we already know that it was inlined or not. We won't align the loop if we know for sure that the method will not be inlined.

[2021-08-13 00:35] echesakovMSFT commented on #56962
I have been looking into this issue for a while and I don't think we can end up at this assert other than by setting `COMPlus_JitSkipArrayBoundCheck=1`.

I still think we should fix the broken invariant (it's not clear how though), so I propose to move the issue to 7.0.0.
@dotnet/jit-contrib Any objections?

[2021-08-13 00:42] kunalspathak commented on #56962
Sounds good to me and that is the reason I marked it as Pri3.

[2021-08-13 00:44] #57184 closed

[2021-08-13 00:45] AndyAyersMS commented on #53838
Thanks for chasing this down. The fix looks good to me, can you put up a PR?

[2021-08-13 00:53] davidwrighton commented on #46803
Hmm, well, I was only able to isolate the dump I looked at to determine that it had replaced the top of the stack program counter with an object reference, but I couldn't identify any further details. However, I couldn't identify any pathway for that to happen.

[2021-08-13 00:58] PathogenDavid commented on #56702
For NuGet packages I believe https://github.com/dotnet/roslyn/issues/54108 is intended to provide a canonical way to do this.

[2021-08-13 01:01] hoyosjs commented on #38176
@Anipik is this a 6.0 issue?

[2021-08-13 01:31] ChristophTF opened #57330 "[Proposal] Safe and performant access to Memory Mapped Files"
# Disclaimer
This coarse proposal is maybe a bit long and not fitted for this place. Please move this issue if deemed necessary.
It can be seen as a coherent collection of ideas regarding safe access to `MemoryMappedFile`s and maybe similar unmanaged buffers to.
The envisioned ideas and proposals may very well be perceived as too special in their area of application, and/or too fundamentally chang

[2021-08-13 01:36] AndyAyersMS commented on #57219
Yes, it seems a bit odd to mark a method as partially interruptible without having any places it can actually be interrupted.  Still not clear to me if the jit is at fault here. We do something similar for win x64 codegen, and I can't get the test to hang there.

[2021-08-13 01:40] carlossanlop commented on #38051
@adamsitnik @Jozkee @stephentoub I'm thinking we should move this to 7.0 for the following reasons:

- PR https://github.com/dotnet/runtime/pull/49649 was looking to fix this. The original contributor could not continue working on it, but @eiriktsarpalis and @nickorlow took over and pushed some additional commits to the PR.
- Unfortunately, some OSX regressions were introduced with those last comm

[2021-08-13 01:41] Thefrank commented on #14537
give this a try in `runtime/src/mono/CMakeLists.txt`
after `pkg_check_modules(ICU icu-uc)`
[code]

it should allow the mono part to build without the need for modifying .pc files.
I will note that this is a SUPER hacky of doing it and I am not sure why `pkg-config` does not correctly write in the `ROOTFS_DIR` into the cache.

[2021-08-13 02:19] danmoseley commented on #38051
Makes sense to me. We have seen subtle regressions in this code in the past.

[2021-08-13 03:23] davidwrighton commented on #55663
Sigh, this is a quirk of `--inputbubble` that I had forgotten. The layout of fields in a type is affected by whether or not a type is compiled with R2R or not. This effect is quite subtle and doesn't effect many types, but unfortunately, is not non-existent. `--inputbubble` makes the assumption that all files that the newly compiled binary might reference are also compiled with R2R so that it can

[2021-08-13 03:27] danmoseley opened #57331 "FailFast in System.Threading.Tasks.Tests.ExecutionContextFlowTest"
There is a dump uploaded, and the usual markdown instruction file to get the payload and symbols
https://dev.azure.com/dnceng/public/_build/results?buildId=1291092&view=ms.vss-test-web.build-test-results-tab&runId=38106242&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=198734

Console log: 'System.Threading.Tasks.Tests' from job df4bd733-ac6f-43b9-aa20-4db008

[2021-08-13 03:42] #54873 closed

[2021-08-13 03:53] tippisum commented on #56896
I'm pretty aware of what you said about compatibility concerns, and I agree that a cooperative component should try loading the framework runtime whenever possible.
However, a component still needs to deal with the problem that the target machine may not have a shared framework runtime preinstalled, and, being a "component" means it is usually not a great idea to ask for a separate install phase w

[2021-08-13 04:14] heng-liu commented on #56929
Thanks @filipnavara and @bartonjs for your help!
Looks like [this ](https://github.com/actions/virtual-environments/pull/3853/files) fixes the issue.
I may need some more runs to validate that.

[2021-08-13 04:23] #45397 closed

[2021-08-13 04:39] #54881 closed

[2021-08-13 05:29] buyaa-n commented on #51301
JFYI: the analyzer is not perfect it could produce lots of false positives (have fixed some false positives recently, but still you could see some, though do not remember if and how many false positives the `System.Net.NetworkInformation` had). Anyway will send the dll via email, meanwhile, the source is [here ](https://github.com/buyaa-n/roslyn-analyzers/blob/pnse_analyzer/src/NetAnalyzers/Core/M

[2021-08-13 05:36] Symbai commented on #3816
That is something I can agree with because it's not a bug and I have to admit that making something more beautiful hasn't much weight of priority. But what about fixing the URL redirection which is obviously a bug since it has worked before. There is no status update since November 2020 and people say issue is tracked on a private repo where I don't have any access to. Can someone with access plea

[2021-08-13 05:47] #56815 closed

[2021-08-13 05:54] jakobbotsch commented on #57306
I think we just need a new collection, after #57009 there are new tail calls that require helpers that previously didn't in some of the tests.

[2021-08-13 06:04] adamsitnik commented on #38051
@carlossanlop sounds good to me, thanks for trying!

[2021-08-13 06:06] adamsitnik commented on #56932
Same here. @jhudsoncedaron thank you for your proposal

[2021-08-13 06:06] #56932 closed

[2021-08-13 06:08] Ithline commented on #57321
Yes, that can be used as a workaround, but the generator still forces public API of my custom `JsonSerializerContext` type. I work with a third party API that needs some specific options set to work and having a `Default` property with basically invalid settings is not a good design. Everyone on the team would need to be aware not to use this property but instead use some other instance.

Ideally

[2021-08-13 06:15] kunalspathak commented on #57306
Ok, I have triggered one and will verify once it is complete.

[2021-08-13 06:17] KalleOlaviNiemitalo commented on #38176
I think it is less likely to cause problems in production code than <https://github.com/dotnet/runtime/issues/50480> in the same class.

[2021-08-13 06:17] adamsitnik commented on #57330
@jkotas @stephentoub dear architects, what are your thoughts on this?

[2021-08-13 06:25] gbalykov commented on #55663
Thanks for your answer! Compilation of `System.IO.MemoryMappedFiles.dll` did indeed work.

Is there a more detailed description of types, that are affected by this? Maybe there's a way to check that dll references such types prior to compilation? We need this in scenario when only part of system dlls are compiled in r2r. Without such check we are only left with compilation of all dlls with inputbu

[2021-08-13 06:36] BenjaBobs commented on #23602
This is probably not the solution you're looking for, but since the [source is available](https://source.dot.net/#System.Text.RegularExpressions/System/Text/RegularExpressions/Capture.cs,0de6615fb778fed0,references), you could do some surgery:

[code]

Although since the point is improved performance, this is hardly a solution.

[2021-08-13 07:01] #54648 closed

[2021-08-13 07:08] skclusive opened #57333 "Enumerable dependencies resolving not consistent when open generic is used (area-Extensions-DependencyInjection)"
### Description

Enumerable dependencies are not resolved consistently when open generic services are registered later.

Ex:

#### Setup
[code]

#### Registration
[code]

#### Resolving
[code]

### To Reproduce

sample repo to reproduce the bug https://github.com/skclusive/EnumerableCallSiteBugConsole

### Configuration

- `dotnet --info
.NET SDK (reflecting any global.json):
 Version:   6.0.100-p

[2021-08-13 07:12] skclusive commented on #57333
belongs to area-Extensions-DependencyInjection

[2021-08-13 07:14] svick commented on #23602
@BenjaBobs If you're worried about performance, create and cache a delegate to the getter. Also, you need to slice the text to get the value of the capture:

[code]

[2021-08-13 08:10] ViktorHofer commented on #39055
Happened again in https://dev.azure.com/dnceng/public/_build/results?buildId=1291853&view=ms.vss-test-web.build-test-results-tab&runId=38122804&resultId=115761&paneView=debug.

[2021-08-13 08:22] eiriktsarpalis commented on #54220
@danielchalmers please consider upvoting the original post, it provides a good signal on whether a particular proposal is popular!

[2021-08-13 09:20] ViktorHofer commented on #39055
@jaredpar I tried to make this a runfo tracking issue but something isn't complying. Can you please take a look? https://runfo.azurewebsites.net/tracking/issue/155/

[2021-08-13 09:23] karelz commented on #56269
Duplicate of #55979

[2021-08-13 09:23] karelz commented on #56925
Duplicate of #55979

[2021-08-13 09:24] benfoster commented on #52079
Based on the examples, I can see how this could be considered a solution for rate limiting in HTTP applications. Some limitations I can see are:

1. It looks as if the same set of permits would be shared across all users. Do you envisage developers needing to maintain a collection of limits per user or is the concept of scope something that could be built-in?
2. Are you considering how limits may

[2021-08-13 09:35] karelz commented on #56875
Duplicate of #55979

[2021-08-13 09:48] TamarChristinaArm commented on #54166
Sure thing!, taking a look.

[2021-08-13 09:51] antonfirsov commented on #42211
#### Report 8/13

No new failure types in HTTP 1.1 & 2.0 in the last 1 week.

[2021-08-13 09:58] karelz commented on #53597
This is still happening ... do we know how to address it, or should we disable the tests in 6.0 branch?
@bartonjs @wfurt

[2021-08-13 10:01] GSPP commented on #35324
What would happen if a single request in a web app encounters such an exception? Would thread or process be torn down? That's unacceptable. The application must keep running and keep serving traffic.

Bugs happen all the time. Even state corrupting ones. We can't tear down the process when that happens.

Web apps also rarely experience true state corruption because, usually, requests are isolated

[2021-08-13 10:08] jkotas commented on #57330
@ChristophTF Nice write up!

This is combining ideas discussed in https://github.com/dotnet/runtime/issues/37227#issuecomment-638456294 and https://github.com/dotnet/runtime/issues/24767 to provide safe and performant accessor for memory mapped files.

I agree that it would work with the performance caveat mentioned (the memory virtual space would be released only after the GC runs). Also, it assu

[2021-08-13 10:10] GSPP commented on #35324
For the same reason, it is not possible to use `Debug.Assert` in production applications. It either ignores the assert in release builds or pops up a dialog or crashes the process. In a concurrent, multi-user, highly-available application, these things are non-starters.

[This is why I suggested an AssertFailedException.](https://github.com/dotnet/runtime/issues/16570) The design concept is very m

[2021-08-13 10:12] TamarChristinaArm commented on #54166
I think this is correct culprid, the loop has a long dependency chain off the value out of the `mul/umull` with little independent instructions so it's bound by these two and `64-bit mul` has twice the latency of `umull`.

`64-bit mul` has a latency of `4(3)` and `umull` has `2(1)` on Cortex-A76.  Were you perhaps comparing the AArch32 instructions? Note that on AArch64 `mul` and `umull` aren't re

[2021-08-13 10:19] ViktorHofer commented on #57221
Happed again in https://dev.azure.com/dnceng/public/_build/results?buildId=1291923&view=ms.vss-test-web.build-test-results-tab&runId=38124038&resultId=194269&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab.

Again there's a dump available.

``´
/private/tmp/helix/working/B5060956/w/AB6D08FA/e /private/tmp/helix/working/B5060956/w/AB6D08FA/e
  Discovering: Microsoft.Ext

[2021-08-13 10:21] ViktorHofer commented on #39055
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=1291947&view=ms.vss-test-web.build-test-results-tab&runId=38124126&resultId=118326&paneView=debug.

Seems to happen more frequently now. Let's disable the test asap.

[2021-08-13 10:24] #43502 closed

[2021-08-13 10:27] ViktorHofer commented on #39055
@layomia can you please take a look (if possible today) and if nothing stands out disable the test?

[2021-08-13 10:30] jakobbotsch commented on #57121
I'll take a look at this.

[2021-08-13 10:52] karelz commented on #57134
Looks like correlated problem for multiple tests at the same time on the same machines -- likely external problem.

Methods monitored:
[code]

Failures 8/2-8/13 (incl. PRs):

Day and Time range | Notes
-- | --
8/2 (5 mins) ... 14:36:19-14:41:47 | 8x failure - PR #56723<br/>(7x Alpine.312.Amd64.Open, 1x Centos.8.Amd64.Open)
8/7 (15 mins) ... 12:27:59-12:42:59 | 21x failure - official run<br/>(14x A

[2021-08-13 10:52] karelz commented on #57135
Duplicate of #57134

[2021-08-13 10:52] #57135 closed

[2021-08-13 10:54] karelz commented on #57053
Duplicate of #57134

[2021-08-13 10:54] #57053 closed

[2021-08-13 10:56] karelz commented on #57134
@antonfirsov can you please check that all the tests listed above are Outerloop / external server? (are they same external server?)
If they are all external server, I would close this issue. We will keep monitoring CI as usual ...

[2021-08-13 11:04] angelaki opened #57345 "AssemblyDependencyResolver not using nuget package storage"
I'm using the `AssemblyDependencyResolver` for some kind of framework. With .Net 5.0 the `AssemblyDependencyResolver` based on my plugin's path `(new AssemblyDependencyResolver(plugInPath))` hold the nuget package storages `(e.g. C:\Users\[user]\.nuget\packages\microsoft.entityframeworkcore\6.0.0-preview.7.21378.4)` in it's internal `_assemblyPaths`. Now all assemblies point to the assemblies path

[2021-08-13 11:19] karelz opened #57342 "Test failure: DefaultConnect_EndToEnd_Ok"
Test: System.Net.Security.Tests.CertificateValidationRemoteServer

Failures 6/13-8/13 (incl. PRs):

Day | Run | OS
-- | -- | --
7/29 | PR #56500 | Centos.8.Amd64.Open
8/2 | PR #56736 | SLES.15.Amd64.Open
8/7 | Official run | SLES.15.Amd64.Open
8/7 | Official run | Windows.10.Amd64.Server19H1.Open

Failure:
[code]

Alternative failure (Windows):
[code]

[2021-08-13 11:21] kronic commented on #54549
@adamsitnik @danmoseley Thank you, the problem is no longer repeated on .net core 6 prev 7

[2021-08-13 11:23] karelz commented on #28770
@mateoatr please do not reopen ancient bugs (2.5 years old). We should consider reopening only recent ones.

[2021-08-13 11:23] #28770 closed

[2021-08-13 11:36] karelz opened #57343 "Test failure: GetAsync_AllowedSSLVersion_Succeeds"
Tests affected:
- `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtocols_Test`
- `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtocols_Http2_Test`

Failures 6/13-9/6 (incl. PRs):

Day | Run | Notes
-- | -- | --
6/17 | zapdisable | Windows.10.Arm64v8.Open - both tests
6/21 | jitminopts | Windows.10.Arm64v8.Open - both tests
6/22 | tailcallstress

[2021-08-13 11:43] adamsitnik commented on #54549
@kronic thank you for confirmation!

[2021-08-13 11:43] #54549 closed

[2021-08-13 11:50] krwq commented on #54879
@danmoseley since the PR is merged can this be closed or is there anything left?

[2021-08-13 11:57] krwq commented on #56897
@RussKie perhaps this help has some answers or workarounds: https://github.com/dotnet/runtime/issues/3095

[2021-08-13 12:19] #56683 closed

[2021-08-13 12:29] adamsitnik commented on #49156
Overall we were able to solve most of the regressions and even turn most of them into improvements.

<details>

|                 Method |  Runtime |  fileSize | userBufferSize |      options |             Mean | Ratio |   Allocated |
|----------------------- |--------- |---------- |--------------- |------------- |-----------------:|------:|------------:|
|                   Read | .NET 5.0 |

[2021-08-13 12:29] #49156 closed

[2021-08-13 12:30] ManickaP commented on #55639
Triage: Identified 3 tasks that should be done within 6.0 time frame, marked bold, rest can be punted.

[2021-08-13 13:05] danmoseley commented on #54879
The members that were added to the ilproj need porting. Don't recall what the tool didn't do it. If you throw up a quick docs PR that adds their text manually then we can close this.

[2021-08-13 13:21] jeffschwMSFT commented on #57309
cc @cshung @mangod9

[2021-08-13 13:28] karelz commented on #57134
Once of the many timeouts happened on PlatformHandler on 8/7 -- this is really external problem, so closing for now.
If it happens too often in future we may try to figure out some detection of the external outage.

[2021-08-13 13:48] #53838 closed

[2021-08-13 13:49] karelz commented on #56758
Closing as addressed.
We can reopen in Future if it happens again.

[2021-08-13 13:49] #56758 closed

[2021-08-13 14:01] antonfirsov commented on #57134
Sorry for not paying much attention previously, it took some time to get to this.

It looks like all tests (including socket and websocket tests) were reaching out to `corefx-net-http2.azurewebsites.net`, so it was probably outage of that site, or some other infra issue resolving/reaching it's endpoints.

[2021-08-13 14:03] karelz commented on #56449
@marek-safar @steveisok @lewing can you please help to get this issue triaged for 6.0?

[2021-08-13 14:04] karelz commented on #56478
@marek-safar @steveisok @lewing can you please help get this Mono issue triaged against 6.0?

[2021-08-13 14:31] stephentoub commented on #57272
It's not legacy. This applies to `new Random(42)`.  A type derived from `Random` can address the deficiency better than we can by simply overriding the new method, and it's only an issue to begin with if it's already overridden newer methods on the type.  Code using `new Random(42)` has no recourse.

[2021-08-13 14:32] stephentoub commented on #57272
Thank you for the suggestion.

[2021-08-13 14:33] imerzan opened #57348 "EnumerationOptions not filtering Hidden attributes in macOS"
### Description

When using `DirectoryInfo.EnumerateDirectories()` with `EnumerationOptions` configured to ignore Hidden Attributes, the enumeration is still returning hidden items. Only occurring on macOS (works as intended on Windows).

[code]

I expect that `EnumerationOptions.AttributesToSkip` should function the same on macOS as Windows.

### Configuration

.NET 5.0.302
macOS Big Sur 11.5.1
o

[2021-08-13 14:47] sharwell opened #57349 "Compilation.GetTypeByMetadataName does not account for accessibility"
The following code is potentially problematic:

https://github.com/dotnet/runtime/blob/c8a658ccadf808490b206d31d02c957f549d53a2/src/libraries/System.Text.Json/gen/Reflection/MetadataLoadContextInternal.cs#L26

If _any_ assembly referenced by the compilation defines a second copy of a type as `internal` (e.g. how Microsoft.CodeAnalysis defines its own copy of the [nullable attributes](https://githu

[2021-08-13 14:49] danmoseley commented on #57233
@jkotas is there another possibility beyond having a large native stack above GetDynamicMethod(..)? I don't think any of these frames have huge stackallocs or whatnot.

[2021-08-13 14:52] jkotas commented on #57233
A large native stack above `GetDynamicMethod` is probably the most straightforward explanation for this crash. Is there a dump to look at?

[2021-08-13 15:02] imhameed commented on #56100
A note: if I build the repro with `/p:Configuration=Release`, this stops

[2021-08-13 15:03] danmoseley commented on #57233
No. That may make this unactionable. There are plenty of other recent Json test dumps, which can be downloaded via the URL's in the query below, but none have this ExitCode.

@MattGal am I doing the right query here? Also off the top of your head why is the exit code 0 for most of these work items that created dumps? And also off the top of your head, any idea why we didn't get a dump from the iss

[2021-08-13 15:14] jonathanpeppers commented on #56989
@steveisok I'm able to build a `libmono-profiler-aot.so` that works successfully:

* https://github.com/dotnet/runtime/compare/main...jonathanpeppers:libmono-profiler-aot.so
* https://discord.com/channels/732297728826277939/732297837953679412/875493456334696448

When you're around next week, let's discuss what I need to do to finish this.

I'm having trouble building the AOT packs, such as:

https

[2021-08-13 15:15] jkotas commented on #57233
All dumps returned by the query are macOS. This stackoverflow is Windows.

[2021-08-13 15:22] imhameed opened #57350 "[mono] FullAOT runtime test failures: Attempting to JIT compile method"
Several runtime tests (which can be found by searching issues.targets for this issue number) fail to pass with this message:

[code]

Tests are run using `MONO_ENV_OPTIONS=--full-aot`.

FullAOT compilation uses these flags on x64:
[code]
and these on arm64:
[code]

[2021-08-13 15:22] mmitche commented on #57154
It's gorgeous!!

[2021-08-13 15:26] directhex commented on #57154
I'm trying to figure out how to do it on Runtime, but that has a rather, uh, different repo layout in this regard. No publishing.props, etc. Just trying to find a good insertion point for making the requested changes

[2021-08-13 15:29] antonfirsov opened #57351 "HttpStress build broken by a kestrel change (QuicTransportOptions.Alpn removed)"
https://github.com/dotnet/aspnetcore/pull/34877  removed `QuicTransportOptions.Alpn`, which started to break our CI builds today:

https://dev.azure.com/dnceng/public/_build/results?buildId=1292302&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=8ca65746-3bfa-57bf-9141-d805b5d39db5

@ManickaP @CarnaViire @wfurt do you know how to fix this?

[2021-08-13 15:29] vitek-karas commented on #57345
I assume this problem started to occur after you retargeted the host application to .NET 6, right?
This is because by default when the app is built, the SDK doesn't produce `.runtimconfig.dev.json` anymore (as for normal apps it's not used for anything really and without it the app startup is faster). When the app is built, all of its dependencies are copied to the output, so it doesn't need to go

[2021-08-13 15:30] imhameed opened #57352 "[mono] FullAOT runtime test failure: Ran out of trampolines"
Several runtime tests (which can be found by searching issues.targets for this issue number) fail to pass with this message:

[code]

Maybe we should precreate more trampolines. Or we could use the iOS "infinite trampoline" hack on Linux.

[2021-08-13 15:33] mmitche commented on #57154
runtime does an explicit call to PushToAzureDevOpsArtifacts in `src/installer/prepare-artifacts.proj` to publish its blob artifacts. This may be changing (@riarenas to comment). I'd look there first.

[2021-08-13 15:34] imhameed opened #57353 "[mono] FullAOT runtime test failures: False != True"
Seen in `JIT/Directed/nullabletypes/Desktop/boxunboxvaluetype_*` and `JIT/Directed/nullabletypes/castclassvaluetype_*`.

For all these tests, the output log contains:
[code]

[2021-08-13 15:34] akoeplinger commented on #56989
@jonathanpeppers looks like you need to pass `/p:MonoCrossAOTTargetOS=Android`

[2021-08-13 15:35] vitek-karas commented on #56554
#55518 which is very likely the same issue has been fixed. Closing this - if we see it again, please reopen..

[2021-08-13 15:35] #56554 closed

[2021-08-13 15:37] riarenas commented on #57154
Yeah, prepare-artifacts.proj is the right place to put this today. I'm moving a lot of what's in there to publishing.props, but that's still underway and I'll make sure that the changes for this are ported as well.

[2021-08-13 15:38] sharwell commented on #56702
@PathogenDavid This approach will only work with environments that understand the new packaging conventions, which means it probably won't work with Roslyn 3.x / VS 2019.

[2021-08-13 15:39] safern commented on #54879
@danmoseley the `artifacts\bin\docs` is populated from the intellisense package. The xml files we generate from the build (presumably the one we have statically defined for the ilproj) are under `artifacts\bin\<project-name>\<configuration>`.

[2021-08-13 15:50] angelaki commented on #57345
Thank you for this pretty much detailed explanation! So it actually works as intended - just wanted to mention in, if it was a bug.

[2021-08-13 15:55] akoeplinger commented on #56990
We discussed this and decided the Android and iOS SDKs should set a default value for UseSystemResourceKeys for Debug, moving this issue to the respective repos:
- https://github.com/xamarin/xamarin-android/issues/6185
- https://github.com/xamarin/xamarin-macios/issues/12438

[2021-08-13 15:55] #56990 closed

[2021-08-13 15:57] danmoseley commented on #57295
Thank you, yes. Sounds good to me.

[2021-08-13 15:58] danmoseley commented on #54879
@krwq could you look at that and see what's left if anything?

if there's only work in dotnet-api-docs then this is not subject to zbb.

[2021-08-13 16:18] doanhquang2005 opened #57355 "How turn off auto render "//" to href attribute"

[2021-08-13 16:24] Jozkee commented on #57348
Duplicate of https://github.com/dotnet/runtime/issues/37301
@imerzan this is fixed in 6.0, you can confirm that your scenario is correctly covered by testing with the latest preview sdk https://dotnet.microsoft.com/download/dotnet/6.0.

[2021-08-13 16:24] #57348 closed

[2021-08-13 16:28] #57355 closed

[2021-08-13 16:29] jonathanpeppers commented on #56989
Thanks, I ended up using:

[code]

I might be able to finish now, I'll give a try.

[2021-08-13 16:32] bartonjs commented on #53597
I should have time to look at this today.

[2021-08-13 16:39] eiriktsarpalis commented on #57321
@layomia given that there's a workaround, does this meet the bar for 6.0.0?

[2021-08-13 16:45] jaredpar commented on #39055
@ViktorHofer tracking issue created and linked to this one https://runfo.azurewebsites.net/tracking/issue/156/

[2021-08-13 16:49] ViktorHofer commented on #39055
Any idea why my tracking issue didn't work? https://runfo.azurewebsites.net/tracking/issue/155/

[2021-08-13 16:52] terrajobst commented on #56936
* I assume the `GetEnumerator()` returns `Enumerator` and the interface returning one would be implemented explicitly.
* `TagsList.IsReadOnly` would always return `false`, so it should be implemented explicitly.
* The name `TagsList` feels add. I'd go with `TagList`.

[code]

[2021-08-13 16:54] jaredpar commented on #39055
By default the tracking issues only populate the initial data set with the last one day of data. Most of the failures were before that. In my issue I just went to the bottom and told it to look back for four days worth of data.

[2021-08-13 17:08] mdh1418 commented on #36896
Both `System.Tests.EnvironmentUserName.UserName_Valid` and `System.Tests.EnvironmentTests.GetFolderPath_Unix_PersonalIsHomeAndUserProfile` are failing on iOS and tvOS due to the values `Environment.UserName` being `string.Empty` and `Environment.GetEnvironmentVariable("HOME")` being null.

On MacCatalyst, the values are not empty or null.

[2021-08-13 17:09] AraHaan commented on #57207
I think obsolete types should face the same fate as ``BinaryFormater`` and be deleted in .NET 8.

[2021-08-13 17:13] danmoseley commented on #57221
https://github.com/dotnet/runtime/pull/57322 also OSX

[2021-08-13 17:17] AaronRobinsonMSFT commented on #49858
@SupinePandora43 Please let us know if you need further help in this area.

[2021-08-13 17:17] #49858 closed

[2021-08-13 17:19] AaronRobinsonMSFT commented on #43959
@gcaughey I am going to close this for now as we've not had any other reports of the issue and we are close to shipping .NET 6. Please do let us know if this behavior is observed in future releases.

[2021-08-13 17:19] #43959 closed

[2021-08-13 17:24] danmoseley commented on #57221
This failed 71 times in 3 days, we need to disable or work around.

[code]

|ExitCode|Pipeline|Pipeline_Configuration|Arch|Finished|count_|
|---|---|---|---|---|---|
|134|runtime|Debug|x64|2021-08-10 00:00:00.0000000|15|
|134|runtime|Release|x64|2021-08-10 00:00:00.0000000|1|
|134|runtime|Debug|x64|2021-08-11 00:00:00.0000000|27|
|134|runtime|Release|x64|2021-08-11 00:00:00.0000000|1|
|134|runtime

[2021-08-13 17:25] danmoseley commented on #57221
@Jozkee thoughts? Do you know what test/s this is so we can disable? Or should we add some catch in the product code meantime instead?

[2021-08-13 17:28] AaronRobinsonMSFT commented on #30412
@cbaysinger I again apologize for the very late reply. Please open a new issue and tag me if this behavior is still present.

[2021-08-13 17:28] #30412 closed

[2021-08-13 17:33] Jozkee commented on #57221
@danmoseley This one is weird since the call-stack shows the failure coming from `FileSystemInfo.LastWriteTimeUtc` (not the new symlinks code) so I am afraid that it could be that one of the new tests may have discovered an actual issue in FileSystemInfo.

And the scenario is quite rare as well: Exists returns true but LastWriteTime throws `IOException: Invalid argument` which means that one of th

[2021-08-13 17:36] hrrrrustic commented on #57253
@GrabYourPitchforks @tannergooding Is there any reason why `Quaternion` fields are mutable?
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src/System/Numerics/Quaternion.cs#L14-L27

It's easy to make whole struct readonly, just need to rewrite code like that
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3

[2021-08-13 17:41] GrabYourPitchforks commented on #57253
@hrrrrustic I suspect it's mostly that there wasn't a whole lot of consistency when these types were first introduced all those years ago. Maybe partly that the original designers believed that updating individual values would be a common operation and that apps didn't want to incur the cost of updating the entire struct? (Keep in mind - this was originally designed for a much older JIT / platform

[2021-08-13 17:54] #57091 closed

[2021-08-13 17:54] daxian-dbw opened #57358 "`TypeLoadException` resulted by using interpolated string in PowerShell"
### Description

After building PowerShell against .NET 6 Preview 7 SDK, tab completion in PowerShell throws `TypeLoadException`:

[code]

### Configuration

.NET 6 Preview 7 SDK on Windows 10 x64.

### Regression?

Yes, from all prior versions of .NET Core.

### Other information

#### Repro steps:

On PowerShell built against .NET 6 preview 7 SDK run the following steps:

[code]

I looked more i

[2021-08-13 17:59] jakobbotsch commented on #57121
We CSE the address of `s_2` but end up using the CSE'd variable before assigning it because the containing tree has `GTF_REVERSE_OPS` set:
[code]

The assignment of the CSE variable ends up in the left subtree of `[000045]`, but there is a use in the right subtree.

[2021-08-13 18:01] hrrrrustic commented on #57253
Well, I'd like to propose to make the whole struct readonly at least for consistency with other numbers/numerics-like types
But I'll wait for @tannergooding answer, maybe he has some strong arguments against that

[2021-08-13 18:04] lambdageek commented on #50249
Updating of existing lambda bodies that are generated from .razor pages will become supported once https://github.com/dotnet/roslyn/pull/55407 makes it into the dotnet SDK.

Adding new lambda bodies will be .net 7

[2021-08-13 18:04] SamMonoRT commented on #57004
Fix seems risky to take for 6.0 - moving to 7.0.0

[2021-08-13 18:05] lambdageek commented on #51856
This should start working once https://github.com/dotnet/roslyn/pull/55407 makes it into the .NET SDK.  Still on track for 6.0

[2021-08-13 18:05] SamMonoRT commented on #57003
Fix seems risky to take for 6.0 - moving to 7.0.0

[2021-08-13 18:07] rickbrew commented on #56699
@MichalStrehovsky  Well I was unable to make heads or tales out of what CFF Explorer said, and this whole "remove R2R data" idea was just spinning around in circles, so I decided to stop digging. There were some things missing in the EXE but I don't understand what they are, nor what to do about them, and it (maybe) would've taken forever to figure it all out.

I did find an alternate path towards

[2021-08-13 18:08] davidwrighton commented on #55663
The issue is basically that if a type layout leaves some empty padding space at the end of the type, then under some circumstances, a derived type can and will fill that space in with more data. Which types this applies to is architecture dependent, and for generics the affect can happen for some instantiations and not for others.

One option is to use the `--inputbubbleref`, but as I said in #515

[2021-08-13 18:09] danmoseley commented on #57221
This apparently means stat/lstat is returning EINVAL.

That's not listed in the man pages:
https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/stat.2.html (says it's for macOS despite the URL)
https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/lstat.2.html

[2021-08-13 18:10] lambdageek commented on #51126
This issue is essentially a duplicate of https://github.com/dotnet/runtime/issues/50249 at this point.

That means editing a page that has existing MatBlazor buttons should work

Adding new MatBlazor buttons will be a rude edit in .net 6 and will cause the blazor webassembly app to ask to restart.

[2021-08-13 18:11] vcsjones commented on #57046
Am I correctly understanding that an obsolete probably won't fly, so we should re-work this idea in to an analyzer?

[2021-08-13 18:11] SamMonoRT commented on #56163
@lewing @steveisok - this is something we can discuss on Monday, not too certain if this is a release blocking or a 7.0 issue at the moment.

[2021-08-13 18:12] lambdageek commented on #51855
This is essentially a duplicate of https://github.com/dotnet/runtime/issues/50249

That means that editing text on pages with existing `@bind` will work in .net 6 once the roslyn change lands.

Adding new `@bind`s will be in .NET 7

[2021-08-13 18:12] trylek commented on #56971
Hello Chris!

Thanks for sharing the MSBuild logs; using them I finally managed to repro the issue locally. I believe I understand what's going on, how you should be able to work around and what we should fix.

1. The problem happens in compilation of the method <code>OpenTK.Mathematics.Vector3h.GetObjectData</code> but that doesn't mean there's anything groundbreaking in the method. The method ha

[2021-08-13 18:12] stephentoub commented on #57358
I believe this is a Roslyn issue.  The new support for interpolated strings shouldn't enable the new lowering when arguments are dynamic (or at least not when the handler type is a ref struct).  This will produce the same error:
[code]

[2021-08-13 18:13] TheCakeMonster commented on #57231
@jkotas It depends. I wonder if it is important to separate types of code into different categories.

1. End user code. I agree that trimming on end user code will have a limited effect. They write their code specifically to do the job in hand. They are unlikely to write a lot of code that isn't needed or actively used. However, to be fair, it even that depends on the business model. If a company

[2021-08-13 18:14] eiriktsarpalis opened #57360 "System.Text.Json will attempt to dispose IAsyncEnumerators on exception while there are pending MoveNextAsync operations"
Related to https://github.com/dotnet/runtime/issues/51176#issuecomment-818866190. Compiler-generated async enumerators will throw NotSupportedException if an attempt is made to dispose them while a `MoveNextAsync()` task is pending completion. It would seem like STJ is doing this when serialization is cancelled due to a cancellation token firing. It's a bug and we need to fix it.

_Originally post

[2021-08-13 18:16] jakobbotsch commented on #57121
This happens because the tree has multiple CSE's and the first CSE adds `GTF_REVERSE_OPS` when it calls `gtSetEvalOrder`. After this, the use/def information of the subsequent CSE is wrong.
[code]

[2021-08-13 18:18] eiriktsarpalis commented on #57360
See https://github.com/dotnet/aspnetcore/issues/35330#issuecomment-898568343 for the original report.

[2021-08-13 18:18] svick commented on #57253
@hrrrrustic That would be a breaking change, so I don't see that happening.

[2021-08-13 18:20] #52644 closed

[2021-08-13 18:21] bartonjs commented on #57046
I started off thinking that.  Then realized that Obsolete is its own analyzer, so we should just use that.  But I think the fixer is an important aspect of it.  (Fixers just fire off of diagnostic codes, pretty sure that we could write one that looks for SYSLIB00NM and rewrites the call to a longer signature.)

The only drawback that I see is someone cross-compiling NS2.0 and NET7, but they can ju

[2021-08-13 18:23] wfurt commented on #57343
seems all stress conditions on ARM. Im not sure how much we care for platform handler.

[2021-08-13 18:24] vitek-karas commented on #56699
/cc @trylek for potential ideas from the crossgen territory

[2021-08-13 18:26] wfurt commented on #57342
This connects to external server so the failures are likely environmental.
Perhaps the fix is to capture and ignore SocketException as that is unrelated to intent of the test e.g. verify ability to negotiate TLS to .NET independent implementation.

[2021-08-13 18:26] jkotas commented on #56699
IL rewriting tools will strip the R2R payload as side-effect of IL rewriting. You can try running the .dll through IL linker and tell it to keep it everything. Or run the .dll through a no-op Fody rewriter.

[2021-08-13 18:27] SamMonoRT commented on #41861
@lewing  @thaystg @Daniel-Genkin - is the PR going to be merged prior to 6.0 cutoff ? Please update the milestone accordingly. Thank you

[2021-08-13 18:28] imhameed opened #57361 "[mono] FullAOT runtime test failures: condition `out_obj' not met"
These tests crash--for the same reason, with nearly identical backtraces--on FullAOT compilation attempts:
- `Interop/SuppressGCTransition/SuppressGCTransitionTest/SuppressGCTransitionTest.dll`
- `JIT/Directed/callconv/CdeclMemberFunction/CdeclMemberFunctionTest/CdeclMemberFunctionTest.dll`
- `JIT/Directed/callconv/PlatformDefaultMemberFunction/PlatformDefaultMemberFunctionTest/PlatformDefaultMemb

[2021-08-13 18:30] imhameed opened #57362 "[mono] FullAOT runtime test failures: UnmanagedCallersOnlyTest"
`Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest/UnmanagedCallersOnlyTest.dll` crashes on attempts to FullAOT compile it on x64 with:
[code]
and arm64 with:
[code]

The following output is produced:

[code]

[2021-08-13 18:32] SamMonoRT commented on #53228
Moving this to 7.0.0  :  @lewing based on priority and scenario, and how risky the fix might be, we can consider backporting a fix if necessary.

[2021-08-13 18:32] BrzVlad opened #57363 "[interp] Short branch offset can overflow with very large methods"
The interpreter makes assumptions in some cases that a particular branch is short, when in reality the target basic block can be at an offset greater than the 32k limit. The code generation for branches should be refactored so there is no reference of short/long branches during initial compilation and, during actual generation of the compacted code we emit either long or short branches depending o

[2021-08-13 18:37] loop-evgeny commented on #52592
Preview 7 is out. If you could make a build with this fix I can probably try it out next week. After that I'll be on holidays for 2 weeks. @PeterSolMS

[2021-08-13 18:38] tannergooding commented on #57253
Yep, its a breaking change since the fields are `public` and so we cannot make the fix.

Ideally these would be `readonly`, but since they can't be all the methods should (and I believe already have been updated to be) readonly instead.

[2021-08-13 18:40] tannergooding commented on #57253
I think exposing `Zero` makes sense here. I'm not convinced `IsZero` is worthwhile to expose, developers can simply use `value == Quaternion.Zero`, which will be more efficient.

[2021-08-13 18:41] SamMonoRT commented on #57363
@BrzVlad - based on how risky the fix will be, we might want to consider backporting for a 6.0 release.

[2021-08-13 18:41] lambdageek opened #57365 "Continued improvements to Mono Method Body Replacement"
Followup work to https://github.com/dotnet/runtime/issues/44806

In .NET 6, Mono method body replacement is implemented to enable `dotnet watch` for Blazor WebAssembly projects, and "Apply Code Changes" in VS in .NET for iOS and .NET for Android.  The supported hot reload edits are limited just to modifications of method existing method bodies - provided that certain constructs (such as lambdas, a

[2021-08-13 18:43] trylek commented on #56971
If upgrading to Preview 7 doesn't fix the issue and disabling the IL linker is not an option for you, you might try to artificially modify the OpenTK.Mathematics assembly to make the type StreamingContext appear somewhere in the IL code e.g. by adding an empty conditional block with a null-check for the parameter in one of the methods with the StreamingContext parameter. This is naturally brittle

[2021-08-13 18:43] radekdoulik commented on #57141
I have opened https://github.com/dotnet/runtime/issues/57320 for the debug symbols on windows

[2021-08-13 18:46] eiriktsarpalis commented on #57198
There have been 11 or so System.Text.Json segfaults in the past month for that particular queue, but none occurring in master.
[code]
But it seems like 5 of them occurred in the past week:
[code]
![image](https://user-images.githubusercontent.com/2813363/129404923-a8315708-5727-4ead-b3e3-e38d3ca7d30d.png)

I'll investigate the dumps.

[2021-08-13 18:51] gbalykov commented on #55663
Thanks, we'll consider all these options and see what works best in our scenario.

[2021-08-13 18:51] kunalspathak opened #57368 "Common place to calculate instruction size so we do not mispredict it"
During codegen, we try to calculate the instruction size to get an idea of how much memory is needed to store the machine code. Next we allocate the memory from runtime and then output the instructions in the memory. In some situation, we mispredict (overestimate) the size of instruction and during outputting, we end up outputting an instruction of smaller size. The root of the problem is because

[2021-08-13 18:53] jkotas commented on #57231
I agree. It does not scale to add declarative built-in support (ie attribute) for each of these directions. There is very large variety of patterns used by existing reflection-heavy libraries.

The solution we have for that are source generators. The source generators can generate code to keep the exact types and methods around for trimming. Or even better, the source generator can short-circuit u

[2021-08-13 18:53] radekdoulik commented on #54227
This is going to affect performance, so I think we should measure both cases, with and without generated serialization code.

[2021-08-13 18:54] imhameed opened #57369 "[mono] FullAOT runtime test failures: Basic Block in function '...' does not have terminator!"
These tests crash in LLVM opt due to bad IR generated by Mono--for the same reason, with nearly identical backtraces--on FullAOT compilation attempts:
- `JIT/Methodical/eh/deadcode/deadoponerrorinfunclet_r/deadoponerrorinfunclet_r.dll`
- `JIT/Methodical/eh/deadcode/deadoponerrorinfunclet_r/deadoponerrorinfunclet_d.dll`

The compilation flags used are:
[code]

The following output is produced:

[co

[2021-08-13 18:57] radekdoulik commented on #56166
@Lxiamail did adding the option help? I don't remember seeing this issue for a while, but I didn't follow the builds recently.

[2021-08-13 18:59] imhameed opened #57371 "[mono] FullAOT runtime test failures: cross-compiler can't find sibling assemblies during AOT compilation"
Breaks compilation of the assemblies in `Loader/classloader/MethodImpl/CovariantReturns/UnitTest/UnitTestMultiModule`.

Relevant environment variables used during AOT compilation:
[code]

Example output from the [arm64 LLVM FullAOT CI lane](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1292385/logs/2061):
[code]

[2021-08-13 19:08] #56967 closed

[2021-08-13 19:12] TheCakeMonster commented on #57231
@jkotas Source generators are yet more complexity. Whilst I have considered that as an approach, I wonder if that is really the right solution here.

It feels like it is getting increasingly hard to do a simple thing when it comes to trimming. I have to wonder how much code it is appropriate for people have to write to maintain the functionality they had before a feature was introduced. I can say

[2021-08-13 19:14] agocke commented on #55747
We can't seem to get this to repro any more -- closing for now, will reopen if it pops again.

[2021-08-13 19:14] #55747 closed

[2021-08-13 19:15] agocke commented on #55405
@VSadov Could you investigate and see if you can find the problem here?

[2021-08-13 19:24] agocke commented on #3816
@richlander has been triaging the website bug and trying to find resources to work on it

[2021-08-13 19:28] trylek commented on #56699
I recall the idea of "uncrossgenning" was floated around in the past. In fact I think Crossgen2 can be made to carry out most of it by removing all R2R code by using some weird option combo; the header will however likely remain. I think that it should be trivial to add a new command-line option, something like --strip, that would just take the input and copy over the filtered MSIL to the output.

[2021-08-13 19:29] kunalspathak commented on #57306
I have verified and the latest collection fixes the issue.

[2021-08-13 19:29] #57306 closed

[2021-08-13 19:35] radekdoulik commented on #56847
The tests does use reflection to check whether an event source type exists.

https://github.com/dotnet/runtime/blob/913fdbe2f42e28210e302616b030284eba64b3cc/src/libraries/System.Net.Primitives/tests/FunctionalTests/LoggingTest.cs#L14-L25

I am not sure whether the test is intended to "survive" linking. @stephentoub, should the test work even when linked with illink?

[2021-08-13 19:37] bartonjs commented on #53597
OK, I was able to coerce failure.  3 of them, all at the same time.

* Every failure in Kusto that involves CopyWithPrivateKey comes from this test fixture
* This test fixture calls a System.Net.Security.Tests helper with a "longChain: true" option.
* When longChain is true the helper does something more than CertificateAuthority.BuildPrivatePki
* CertificateAuthority.BuildPrivatePki is used oodle

[2021-08-13 19:39] jkotas commented on #57231
There are going to be libraries that do not work well with trimming by design. There are going to be libraries where the authors choose to not deal with the additional complexity of implementing trimming friendly mode. Both of these options are perfectly valid.

The trimming compatibility is not a mandatory feature for library authors to implement. It is similar to cross-platform compatibility tha

[2021-08-13 19:41] stephentoub commented on #56847
What linker-related switches are being set?  This test would depend on EventSources being properly kept.  If, for example, System.Diagnostics.Tracing.EventSource.IsSupported is being set to false, I expect this test would not work.

[2021-08-13 19:45] jonathanpeppers commented on #56989
I got `libmono-profiler-aot.so` added to the `Microsoft.NETCore.App.Runtime.AOT.[host-rid].Cross.[target-rid]` packs, and added a new item group for its path.

But the problem is these packs are only imported when `$(RunAOTCompilation)` is true:

https://github.com/dotnet/runtime/blob/6fca5a5d957765374749cb6871b5ec17277ec4d5/src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadMan

[2021-08-13 19:48] radekdoulik commented on #43103
@CoffeeFlux is this still happening?

[2021-08-13 19:57] radekdoulik commented on #43103
Seems to run fine for me on windows/chrome 92
[code]

[2021-08-13 20:02] radekdoulik commented on #54264
@danroth27 does it still happen with latest preview?

[2021-08-13 20:03] radekdoulik commented on #51499
@Hristo-Nikodimov-Nenkov does it still happen with the latest preview?

[2021-08-13 20:04] joeloff commented on #57154
@directhex Are both runtime and SDK on the latest set of Arcade tools? I pushed a number of fixes into the tooling last week

[2021-08-13 20:05] electricessence commented on #23602
@BenjaBobs @svick  I didn't know that was possible!  That's awesome to know.  Thank you!

[2021-08-13 20:08] lambdageek commented on #44806
Pushed the future work to a separate tracking issue.  This one is done. https://github.com/dotnet/runtime/issues/57365

[2021-08-13 20:08] #44806 closed

[2021-08-13 20:09] danroth27 commented on #54264
@radekdoulik I ported the issue, but the original reporter is @lbargaoanu.

[2021-08-13 20:10] electricessence commented on #23602
And just a note, performance? YES (obviously that's important).
Superior memory usage? YES (that's the whole point of this).

[2021-08-13 20:15] directhex commented on #57154
Not sure. Can't check. A truck took out my Internet

Sent from my iPhone

[2021-08-13 20:16] radekdoulik commented on #56847
It is set to false, indeed. I see it in the binlog when `illink` is run with:
[code]

[2021-08-13 20:16] wfurt commented on #53597
There was no specific reason besides getting longer chain (if I remember well, this was added in work to make sure the chain is sent correctly on Ssl) If the `intermediateAuthorityCount` existed back than I miss it @bartonjs .

[2021-08-13 20:19] radekdoulik commented on #56847
@radical do we run the test without trimming too? If so then we might disable it conditionally by this feature switch?

[2021-08-13 20:23] rickbrew commented on #56699
I'm fine using a non-mainline version of crossgen2, even if it's prerelease .NET 7 or something I have to patch 'n build myself from sources. I'm only publishing my app for the latest public stable .NET, but I'm not as picky about my build-time toolchain.

[2021-08-13 20:24] radekdoulik commented on #56847
Or we can probably just set the feature switch in the test project, I will open PR for that.

[2021-08-13 20:26] CoffeeFlux commented on #43103
It's possible I fixed this and forgot to re-enable the test, but it was flaky so it sometimes passing is to be expected.

[2021-08-13 20:27] electricessence commented on #23602
@svick What version of .NET has the generic call for `.CreateDelegate<T>()`?  I'm implementing this in .NET Standard.

[2021-08-13 20:36] steveharter commented on #51636
I can't seem to repro. When I create a project that use other methods in S.N.H.Json.dll and publish\trim it, the new extensions (e.g.`GetFromJsonAsync(JsonSerializerContext)`) are not present in the `HttpClientJsonExtensions` static class.

Closing until we have a repro or more information on how to create a repro.

[2021-08-13 20:36] #51636 closed

[2021-08-13 20:38] stephentoub commented on #57373
I assume `dynamic` is being used somewhere?  This looks like a dup of https://github.com/dotnet/roslyn/issues/55609.

[2021-08-13 20:39] stephentoub commented on #57373
Oh, wait, it's about reflection, not interpolated strings.  I read it too quickly.

[2021-08-13 20:42] briansull commented on #57121
We aren't allowed to set/clear the `GTF_REVERSE_OPS` flags when processing CSE's as that can reorder the CSE candidates.
Which is exactly what you describe.

The place that decides to reorder the trees by setting the `GTF_REVERSE_FLAG` needs to be guarded with something like this:

[code]

[2021-08-13 20:48] steveharter commented on #52063
This was fixed in https://github.com/dotnet/runtime/pull/52934. I didn't re-verify but trimming was verified in that PR.

[2021-08-13 20:48] #52063 closed

[2021-08-13 20:52] stephentoub commented on #57373
Are ref structs being used anywhere?  dynamic?  This looks an awful lot like what you'd get with combining dynamic with something that can't be used as a generic type parameter, like a ref struct.
[code]
yielding:
[code]

[2021-08-13 20:59] Lxiamail commented on #56166
the workload installation was not required in later build anymore for wasm aot.

[2021-08-13 21:02] #49731 closed

[2021-08-13 21:05] steveharter commented on #51969
I haven't seen any more hits; the test is not disabled.

The test uses a static `JsonContext.Default` that can be hit by multiple threads (i.e. other tests):
[code]
and my guess is that the generated code for `WeatherForecastWithPOCOs` was not thread-safe when initializing the property:
[code]

however it looks to be thread-safe now.

Closing until we get another hit or more information.

[2021-08-13 21:05] #51969 closed

[2021-08-13 21:07] #56166 closed

[2021-08-13 21:07] runfoapp[bot] opened #57375 "atom10itemformattertests.writeto_emptyitem_serializesexpected fails in CI"
Runfo Tracking Issue: [atom10itemformattertests.writeto_emptyitem_serializesexpected fails in CI](https://runfo.azurewebsites.net/tracking/issue/157)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit Count|Month Hit Count|
|---|---|---|
|0|0|0|

[2021-08-13 21:07] bartonjs commented on #53597
OK, if it's just for the longer chain I'll put up a PR to convert it to just pass the longer path count.

[2021-08-13 21:08] hoyosjs commented on #56695
Reopening for servicing ports.

[2021-08-13 21:11] baal2000 commented on #49215
@jkotas

**Update**

we've setup the handle count monitoring across all servers and had the OOMs in `Monitor` methods, examples:

[code]

[code]

The process handle count looks normal before and after the crash:
![image](https://user-images.githubusercontent.com/22180333/129414819-87a437d5-63ad-4783-91bd-e97e8a5c010f.png)

This is speculative, but looking at the memory pattern on the server there

[2021-08-13 21:13] joeloff commented on #57154
Also, what's the plan for building workloads for different SDK feature bands. Usually most repos would branch once unlike the SDK where we can have multiple branches consuming the same runtime for different feature bands. Only reason I'm asking is that we'd need to ensure that if you're building workloads for different feature bands in the same runtime branch, we might want to consider adding an a

[2021-08-13 21:16] mmitche commented on #57154
Yeah, I recommend adding a differentiator after workloads (6.0.100, 6.0.200, etc.)

[2021-08-13 21:25] AndyAyersMS commented on #57173
Unfortunately I don't see a low risk way to address the issues here. There are two related problems:
* Without PGO, we formerly would down-weight internal blocks of inlinees for no good reason, now we don't. Most of the time this new behavior is the right call, but sometimes it's not. This impacts the `Sort` test, eg right after inlining as shown below. Ultimately this perturbs CSE. Codegen diffs

[2021-08-13 21:29] MichalStrehovsky commented on #56971
If the `IsForwarder` bit is not set, this is a multimodule assembly. We _could_ make it into a resolution failure, although this is not that the type wasn't found - it was found, but it's in a different module.

Could you attach the binary? IL Linker could have messed it up.

[2021-08-13 21:35] #57121 closed

[2021-08-13 21:35] trylek commented on #56971
Thanks @MichalStrehovsky for your quick response. You can easily find the offending assembly in the zip file shared by Chris in the top post on this thread, in the subfolder <code>ConsoleApp1\obj\Release\net6.0\win-x64\linked\System.Runtime.Extensions.dll</code>.

[2021-08-13 21:39] Ithline opened #57378 "Source generator for System.Text.Json fails when generating info for a nested type with same name as another nested type."
### Description
**Source generator for `System.Text.Json` fails when generating info for a nested type with same name as another nested type.**

If I generate metadata only for `RootA`, generator creates files `MyJsonContext.RootA.g.cs`, `MyJsonContext.Item.g.cs`...
When `RootB` is added to the context, the generator silently fails, probably because file with the name `MyJsonContext.Item.g.cs` alr

[2021-08-13 21:48] danmoseley commented on #57221
It's both 10.14 and 10.15

ExitCode | Pipeline | OS | Pipeline_Configuration | Arch | Finished | count_
-- | -- | -- | -- | -- | -- | --
134 | runtime | osx.1014.amd64.open | Debug | x64 | 2021-08-10 00:00:00.0000000 | 11
134 | runtime | osx.1015.amd64.open | Debug | x64 | 2021-08-10 00:00:00.0000000 | 4
134 | runtime | osx.1014.amd64.open | Release | x64 | 2021-08-10 00:00:00.0000000 | 1
134 | ru

[2021-08-13 21:51] JulieLeeMSFT commented on #57219
CC VM team @mangod9, @davidwrighton, and @janvorli as an early headsup because @AndyAyersMS suspects this is either a runtime problem or a bad test.

[2021-08-13 21:52] #54878 closed

[2021-08-13 21:53] MichalStrehovsky commented on #56971
Thanks! I missed that one.

ILDASM says they all have the Forwarder bit, so it's a bit of a mystery.

[code]

[2021-08-13 21:54] Jozkee commented on #57221
Thanks, I wonder why it only fails in macOS, same code runs in Linux distros without issues.

[2021-08-13 21:57] trylek commented on #56971
Hmm, you're definitely much more fluent with ILDASM than I am, I just tried to ildasm SRE.dll /tokens /out=... and I got the following excerpt:

<pre>
.class extern /*27000001*/ forwarder System.BitConverter
{
  .assembly extern System.Private.CoreLib /*23000001*/
}
.class extern /*27000002*/ forwarder System.IO.BinaryReader
{
  .assembly extern System.Private.CoreLib /*23000001*/
}
.class extern

[2021-08-13 22:00] trylek commented on #56971
Also, if anyone wanted to try debugging Crossgen2 locally to see the problem described above, this is the response file (naturally modulo local file paths):

<pre>
--targetos:windows
--targetarch:x64
-O
-r:"D:\triage\TK2\ConsoleApp1\obj\Release\net6.0\win-x64\linked\OpenTK.Mathematics.dll"
-r:"D:\triage\TK2\ConsoleApp1\obj\Release\net6.0\win-x64\linked\ConsoleApp1.dll"
-r:"D:\triage\TK2\ConsoleApp

[2021-08-13 22:04] davidwrighton commented on #56971
The issue is that to return true for IsForwarder, the implementation token needs to reference an AssemblyRef. If you look at the exported type Implementation token, in the ildasm output you can see that the token is 0x26000000. That indicates a token into the File table with Rid 0. This is nonsense and an indication that the IL Linker did something unfortunate. We should probably fix the code to d

[2021-08-13 22:06] MichalStrehovsky commented on #56971
Could we be hitting the other NotImplementedException right above that line? The ImplementationToken on the last two ExportedTypes seems bogus. They are forwarders, but bogus.

Cc @sbomer for type forwards not looking right after trimming. I think this might be related to us not shipping complete closure - IIRC some of the System.Security things by design don't resolve unless one references a NuGe

[2021-08-13 22:15] trylek commented on #56971
I definitely saw us hitting the "lower" throw in the debugger and I think it aligns with David's explanation.

[2021-08-13 22:28] #47318 closed

[2021-08-13 22:40] JulieLeeMSFT commented on #57064
CC @dotnet/jit-contrib Please do code review.

[2021-08-13 22:49] jkotas commented on #55978
Create https://github.com/dotnet/csharplang/issues/5045 for the language feature proposal.

[2021-08-13 22:49] #55978 closed

[2021-08-13 22:53] jkotas commented on #49215
Collect dump (https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dumps#collect-dumps-on-crash) and try to figure out what happened from the dump. We can help you with the latter part.

[2021-08-13 22:54] JulieLeeMSFT commented on #57087
Ping @DrewScoggins since we are trying to fix issues before RC1 snap on 8/17.

[2021-08-13 22:55] RobertBouillon opened #57380 "Blazor WASM does not break on exception"
#42326 does not appear to be resolved. I'm still able to reproduce the issue with the original issue I filed at dotnet/aspnetcore#30628. Using VS 2019 16.11.0.

[2021-08-13 22:57] DrewScoggins commented on #57087
I have been working with @EgorBo on this offline. I think he has everything he needs from me, but he can let me know if he needs anything else.

[2021-08-13 22:57] dmeytin commented on #57122
I would expect the helper utility that parses the Sid value and capable to
verify known Sid values

On Wed, 11 Aug 2021 at 1:51 Steve Syfuhs ***@***.***> wrote:

[2021-08-13 23:02] ChadNedzlek commented on #52079
The need to always check the "did I really get the lease I wanted" property (which is currently IsAcquired, I think?) after every call is a real deal breaker for me.  That's far too easy to mess up... to the point that I would probably just keep copy/pasting the same wrappers classes I paste into every project I start rather than adopt this.

[2021-08-13 23:02] danmoseley commented on #57122
How common is this scenario? On the face of it this seems quite a niche scenario

[2021-08-13 23:07] baal2000 commented on #49215
we do have a minidump

[2021-08-13 23:26] bartonjs opened #57382 "[macOS] Consider making cert private key access keep a temporary keychain alive"
* Create a transient cert+key pair
  * "Perphemeral" PFX
  * cert.CopyWithPrivateKey(key) then dispose the key
    * Includes doing it via CertificateRequest
* Grab a private key reference (e.g. cert.GetRSAPrivateKey()
* Dispose the cert without having used the key yet
* Use the private key

With our current temporary keychain model this fails, because disposing the cert deletes the keychain, and

[2021-08-13 23:30] viceversagames opened #57383 "System.Text.Json: Allow a Callback Access to PooledByteBufferWriter.WrittenMemory Buffer Without .ToArray() Allocation"
### Background and motivation

I would like to be able to copy directly from the `PooledByteBufferWriter.WrittenMemory` buffer after serialization to UTF8 bytes. My use case is serializing directly into a Raknet network packet, which also uses a pooled buffer, all existing APIs either do not allow access at a low enough level or will cause an unnecessary allocation with `.ToArray()`.

STJ already

[2021-08-13 23:32] SteveSyfuhs commented on #57122
Verify how?

A SID has a form of `S-1-z-a[-b-c-d-e]` where `Z` is an arbitrary authority type in the form of big endian 6 bytes. These are the known registered ones, but it can be whatever the caller wants.

[code]

`A` is an arbitrary unsigned 32 bit integer. `B=>E` are optional unsigned integers.

If you're looking for basic parsing and sanity checking then this is a fairly simple implementation

[2021-08-13 23:46] #54872 closed

[2021-08-14 00:26] #54877 closed

[2021-08-14 00:39] JulieLeeMSFT commented on #56745
@AndyAyersMS @EgorBo We don't have a fix for this issue, correct? Should we move this to .NET 7?

[2021-08-14 00:52] briansull commented on #35620
It doesn't seem to me to be a good time to introduce a change like this, without  an active bug that is being fixed by this code change.

As the original issue that this issue dealt with was fixed by  #35899

We should either close this issue or move it to 7.0

 @tannergooding What do you think?

[2021-08-14 00:54] #12840 closed

[2021-08-14 00:54] #57041 closed

[2021-08-14 01:35] tannergooding commented on #35620
I think it should be moved to 7 as I agree that it doesn't represent a known issue today. However, I don't think it should be closed as we will ideally fix the handling of these to avoid any downstream issues or performance gaps caused by retyping.

[2021-08-14 01:44] davidfowl commented on #57333
cc @maryamariyan @eerhardt We should look into this.

[2021-08-14 02:28] lambdageek opened #57387 "[hot reload] Mono needs to be more lax about CustomAttribute updates"
The runtime accepts updates to a `CustomAttribute`  row, as long as the parent and the "type" (really ctor) are "the same".

But the check for whether the ctor is "the same" is too strict - it expects token equality.  That works for MethodDef tokens, but not for MemberRef tokens, because Roslyn emits fresh MemberRef (and TypeRef and AssemblyRef) rows into the delta.
So the token for the new ctor i

[2021-08-14 02:29] lambdageek commented on #57387
Happens in Razor pages with a `@bind` because that generates a `this`-capturing lambda https://github.com/dotnet/aspnetcore/issues/34446

[2021-08-14 04:03] ar0311 opened #57431 "Blazor WASM AOT not working on MacOS 10.13.6"
Installed 6.0-preview-7 SDK on MacOS 10.13.6 (High Sierra)

Ran "sudo dotnet workload install wasm-tools", installed OK

dotnet new blazorwasm, add "RunAOTCompilation" to csproj.

dotnet publish -c Release generates the following error:

/usr/local/share/dotnet/packs/Microsoft.NET.Runtime.WebAssembly.Sdk/6.0.0-preview.7.21377.19/Sdk/WasmApp.Native.targets(443,5): warning : [/Users/adam/Repos/blazo

[2021-08-14 04:49] #56203 closed

[2021-08-14 04:54] #34030 closed

[2021-08-14 04:54] #36896 closed

[2021-08-14 05:01] #53597 closed

[2021-08-14 05:33] cston commented on #56262
Thanks @nike4613.

It appears the issue is with Expressions with closures and string switch expressions. If the switch expression has 8 or more cases, then any hoisted variables declared outside of the switch expression are dropped when calculating the closures from lambdas within the switch cases.

I've created a minimal repro (with three lambdas and a switch expression) that should be sufficient

[2021-08-14 05:47] cston commented on #56262
It looks like the same exception is thrown with earlier versions of .NET Core (with .NET Core 2.0 for instance), and the minimal repro hangs on .NET Framework.

[2021-08-14 06:38] muminfarooq190 opened #60436 "Segmentation fault"
Hello i have downloaded 3.1 sdk on fedora 34 now i was trying to create a project using command sudo dotnet new console -o myapp
But it shows segmentation fault
Os:Fedora34
IDE : Visual Studio Code

[2021-08-14 06:41] appimpact opened #57391 ".NET Runtime 5.0.9 / .NET SDK 5.0.400 not available for Ubuntu 18.04"
Neither .NET Runtime 5.0.9 nor .NET SDK 5.0.400 is available for Ubuntu 18.04:

![image](https://user-images.githubusercontent.com/34662138/129437592-045e37b1-deac-4bd7-a079-037f5161dc3c.png)

![image](https://user-images.githubusercontent.com/34662138/129437651-e50a1750-487d-43f6-8e1b-518623361f8c.png)

[2021-08-14 07:08] silkfire commented on #23602
@electricessence As of right now only .NET, i.e. 5 and 6+.

[2021-08-14 07:49] 0xC0000054 commented on #56699
I would also find an uncrossgen tool useful.

While looking for information on the ReadyToRun "Composite" mode that @EgorBo mentioned on Discord I stumbled across the [ReadyToRun File Format documentation](https://github.com/dotnet/runtime/blob/main/docs/design/coreclr/botr/readytorun-format.md).
Based on that page I suspect that you may need to change some of the CLI Header data in the ILDASM out

[2021-08-14 07:50] #56971 closed

[2021-08-14 08:19] GSPP commented on #55601
This would be appreciated by the https://github.com/gpailler/MegaApiClient project. The mega.nz file hoster uses a custom encryption system based on chained AES calls. No existing mode can do that. So for each block, there needs to be an ECB call. This leads to a very chatty API use with lots of overhead.

This Mega client library is used by the popular https://github.com/duplicati/duplicati proje

[2021-08-14 08:43] EgorBo commented on #57087
I managed to get a stable repro (10-15% regression) after some tuning in my BIOS, so here is the asm diff: https://www.diffchecker.com/9StkXdFY so it's indeed a regression caused by https://github.com/dotnet/runtime/commit/70676fd9631e0475ebc18e5903fec4549e888226

we had
[code]
but after CSE-for-floats PR we now have:
[code]
So we hoisted the const but it was spilled to stack so in theory we shoul

[2021-08-14 08:45] eiriktsarpalis commented on #57383
Hi @viceversagames, have you tried using the [JsonSerializer.Serialize overload](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializer.serialize?view=net-5.0#System_Text_Json_JsonSerializer_Serialize__1_System_Text_Json_Utf8JsonWriter___0_System_Text_Json_JsonSerializerOptions_) that accepts `Utf8JsonWriter`? It should let you serialize using custom [`IBufferWriter<byte>`](ht

[2021-08-14 09:04] eiriktsarpalis commented on #54167
Seems to have regressed again in the past few weeks with recent runs being seemingly bimodal.
![image](https://user-images.githubusercontent.com/2813363/129440875-0b88bffe-342b-4726-8aab-6f2fa1605c72.png)

[2021-08-14 09:10] #57064 closed

[2021-08-14 09:32] qcjxberin opened #80148 "System.Drawing.Common is not supported on non-Windows platforms"

[2021-08-14 09:37] eiriktsarpalis commented on #49160
The particular report seems to contain no information past February, here's some more recent data:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/main_arm64_ubuntu%2018.04/LinqBenchmarks.Order00LinqQueryX.html
https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/main_arm64_ubuntu%2018.04/LinqBenchmarks.Order00LinqMethodX.html
https://pvscmdupl

[2021-08-14 09:37] #49160 closed

[2021-08-14 09:40] eiriktsarpalis commented on #49163
Duplicate of #49160.

[2021-08-14 09:40] #49163 closed

[2021-08-14 10:18] eiriktsarpalis commented on #57233
Looks like a one-off occurrence triggered by an outerloop build in #56654. Stacktrace is pointing to this test: https://github.com/dotnet/runtime/blob/91021fe27b1b845f51ff29cfd47b2405fa91b683/src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.Cache.cs#L52.

How can we make sure that any future occurrences do produce a dump?

[2021-08-14 10:21] eiriktsarpalis commented on #57233
Adding kusto query for posterity
[code]

[2021-08-14 11:27] TonyValenti opened #57399 "[API Proposal]: HashCode.AddRange"
### Background and motivation

The goal is to simplify creating a hash code from an enumerable.  This is specifically useful for C# records when working with custom equality and ImmutableArray/ImmutableList.

### API Proposal

[code]

### API Usage

[code]

### Risks

None.

[2021-08-14 11:39] eiriktsarpalis commented on #57399
Such a method already exists, but it's called [`UnionWith`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.hashset-1.unionwith?view=net-5.0) to highlight set semantics.

[2021-08-14 11:50] alexrp commented on #57399
@eiriktsarpalis `HashCode` and `HashSet` are not the same thing though?

[2021-08-14 11:54] eiriktsarpalis commented on #57399
Thanks @alexrp, I misread the proposal. Sorry about that!

[2021-08-14 12:15] #54926 closed

[2021-08-14 12:41] SamMonoRT commented on #56100
Doesn't seem like a consistent repro. @imhameed - if you determine consistent repro steps and have a low risk fix, we will consider backporting to 6.0 - For now moving to 7.0

[2021-08-14 13:01] pedrobsaila commented on #51924
Hi, I made a PR for this issue #57396

[2021-08-14 13:10] Xyncgas commented on #44636
Microsoft has dotnet, despites wasm the future can be better

[2021-08-14 14:47] rickbrew commented on #56699
@0xC0000054 the nuget package for crossgen2 is https://www.nuget.org/packages/Microsoft.NETCore.App.Crossgen2.win-x64/

Many of these nuget packages can't be added to a regular .csproj, so I found a workaround -- unfortunately it errors out, so I have to pipe the output of nuget to `nul`, which means I can't catch errors.

This is the batch file I use for snagging packages like this in my build pr

[2021-08-14 15:05] jkotas commented on #49215
Since you are collecting the trace, could you please find the number of active syncblocks from the `GCHeapStats_V2` event? The system is limited to have at most 67M syncblocks. In theory, it is possible to reach this limit with 300GB heap and reaching this would also lead to OOM exception. Looking at the number of active syncblocks will give us clue whether it may be the case.

Just to clarify - i

[2021-08-14 15:06] xljiulang opened #57406 "Fatal error. 0x80131506 when use `System.Management` in PublishTrimmed mode"
### Description
[code]

### WMI Code
[code]

### Regression?

### Other information

[2021-08-14 15:42] jkotas commented on #57406
System.Management uses built-in COM support. Build-in COM support is not supported with trimming.

.NET 6 preview 7 fails with better error message instead of crash: `Unhandled exception. System.NotSupportedException: Built-in COM has been disabled via a feature switch. See https://aka.ms/dotnet-illink/com for more information.` .

cc @LakshanF

[2021-08-14 15:43] AraHaan commented on #56699
@rickbrew cant you compare between the one you compiled and the one that you tried to strip the R2R to try to determine what actually can make the stripped one work as well?

[2021-08-14 16:06] AndyAyersMS commented on #57087
There are no callee-save XMMs on SysV, so on such platforms we should be pretty reluctant to do a float CSE that crosses calls.

Are we sure we're checking the right conditions in the CSE heuristics?

[2021-08-14 16:23] AndyAyersMS commented on #54167
LIkely so. There's no persistent regression. Some parts of the jit are overly sensitive to small details in PGO. We're not going to be able to fix this for .NET 6.

![newplot (69)](https://user-images.githubusercontent.com/10121823/129452812-bfae3271-459e-45f0-8fdc-28d16fd3c7cf.png)

[2021-08-14 16:25] JulieLeeMSFT commented on #54167
Moving to .NET 7.

[2021-08-14 16:27] JulieLeeMSFT commented on #35620
Moving to .NET 7.

[2021-08-14 16:33] JulieLeeMSFT commented on #57087
CC @briansull

[2021-08-14 16:44] eiriktsarpalis commented on #39108
Here are [more recent results for the same benchmark](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/main_x64_ubuntu%2018.04/System.Collections.IterateForEach(Int32).List(Size:%20512).html). It seems like the regression was mitigated sometime back in November:

![image](https://user-images.githubusercontent.com/2813363/129453348-c6078297-f45b-438e-a25c-3db215e7d8fe.pn

[2021-08-14 16:44] #39108 closed

[2021-08-14 17:50] fschmied opened #57408 "Add type name to the tracing events for diagnosing assembly loading extension points"
When using `dotnet-trace` to diagnose assembly loading issues, there are two events showing assembly loading extension points, `AssemblyLoadContextResolvingHandlerInvoked` and `AppDomainAssemblyResolveHandlerInvoked`. These events have a `HandlerName` item, which contains (only) the method name of the handler method. ([Docs here](https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/coll

[2021-08-14 18:22] koszeggy commented on #57272
@stephentoub: Sorry for bothering again (after the issue is closed) but suddenly an idea came to my mind, which cures also another (maybe more serious) issue: when creating a derived random class, the ~legacy~ compatible algorithm _always allocates and initializes `_seedArray`, even if it is never needed_ (eg. when all methods are overridden, and base is never used).

`Net5CompatImpl` is now used

[2021-08-14 18:25] stephentoub commented on #57272
I'm currently experimenting with something similar, having a dedicated implementation for the `new Random(int)` case, which then necessarily means there's a dedicated implementation for the `new DerivedRandom(...)` case.  My goal is to avoid the virtual dispatch in the former, but a small tweak could likely then enable lazy-init of the _seedArray as you suggest.

[2021-08-14 18:27] stephentoub commented on #57272
(I was going to just put up a PR, assuming the numbers panned out, but I can re-open this to track.)