[2021-09-28 21:00] AndyAyersMS commented on #33658
Here's an example from the tailrecursetry test case with my current changes [main..FixMidTryPatchpoint](https://github.com/dotnet/runtime/compare/main...AndyAyersMS:FixMidTryPatchpoint).

This is adding the new flow pre-importation; as noted above that might not be the best approach overall. Seems like perhaps we should defer this until `fgRemoveEmptyBlocks` to avoid wrangling with the importer, a

[2021-09-28 21:32] carlossanlop commented on #59406
This issue with the `ReadOnly` flag (not being able to change it) was fixed in .NET 5.0+ : https://github.com/dotnet/runtime/pull/52235/

A workaround is to execute `chmod -r <filename>` with `System.Diagnostics.Process`, which will remove read-only rights to user, group and others at once.

@danmoseley @jeffhandley does this meet the bar for a backport to 3.1? The fix was large because it involve

[2021-09-28 21:47] RikkiGibson opened #59724 "FindPythonWindows does not error gracefully"
I recently tried to `Build.cmd -libs` in the runtime and had the following error:

`F:\src\runtime\eng\python.targets(8,5): error MSB3073: The command "..." exited with code 9009. [F:\src\runtime\src\coreclr\System.Private.CoreLib\System.Private.CoreLib.csproj]`

I installed Python for Windows and then the build succeeded.

**Expected behavior:** The build error indicates what the user needs to do

[2021-09-28 21:49] carlossanlop commented on #59406
Actually, I was wrong - My test code was creating the file incorrectly, and the test was failing with the exact same callstack. I was then able to change the readonly attribute without issues in 3.1.

I noticed your method `RemoveReadOnly` is called in three places.

- In this place, you previously check if the file exists: https://github.com/microsoft/azure-pipelines-agent/blob/e25038c60732f8191d

[2021-09-28 21:52] delmyers commented on #58517
@mikem8361 It is unclear what feedback it is that you are looking for from Claudiu.

[2021-09-28 21:58] mikem8361 commented on #58517
I guess the feedback is to confirm before I close this issue that he agrees that `Interop+PollEvent* events @ 0x7f6940bfe760` is a pointer or an interior pointer and not an object.  The `do` command won't work in those cases.

[2021-09-28 22:02] safern commented on #59724
cc: @hoyosjs @ivdiazsa @ViktorHofer I thought this experience was improved as we "errored" early on our dependencies?

[2021-09-28 22:04] clguiman commented on #58517
Sorry for not replying to the original comment, I missed the notification.
Is there some way to inspect the dereferenced pointer using the ICorDebug APIs? I was under the impression `do` is using `ICorDebugReferenceValue::Dereference`

[2021-09-28 22:08] stephentoub commented on #59705
cc: @tmds

[2021-09-28 22:14] manandre commented on #59591
It would be a great enhancement for .Net, but also for the public visibility of this impressive compression algorithm.
If you accept it, I can contribute to make it happen.
I already foresee multiple steps:
- [ ] Design and review API proposal
  * Stream-based API
  * Static (and allocation-less?) API: Compressor and Decompressor
- [ ] Port Facebook Zstandard C sources
- [ ] Add Zstandard entrypoi

[2021-09-28 22:31] danmoseley commented on #59406
Doesn't this message simply mean that a bad value of FileAttributes is passed?
https://github.com/dotnet/corefx/blob/release/3.1/src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs#L108

if it was a missing file, it would throw FNFE instead.

[2021-09-28 22:33] danmoseley commented on #59406
never mind, I follow now. I guess it's for historical reasons that get of Attributes on a nonexistent file doesn't throw.
https://github.com/dotnet/corefx/blob/release/3.1/src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs#L73-L74

[2021-09-28 22:37] msedi opened #59729 "[API Proposal]: Create an dynamic MockObject"
### Background and motivation

When looking at the `PropertyGrid `(WinForms), you have the ability to set multiple objects of the same or of different types as `SelectedObjects`. What the grid does internally is a union or an intersection of the properties and display the list of "surviving" properties in a list. It is of course depending on the implementation (telerik for example has a bit more f

[2021-09-28 22:37] Jozkee commented on #59406
@carlossanlop I don't think the `Exists` check will solve the problem because `RemoveReadOnly` already checks `if (item.Attributes.HasFlag(FileAttributes.ReadOnly))`, that should guard for non-existent files.

[2021-09-28 22:43] Jozkee commented on #59406
Actually, I take that back.
When the file doesn't exists, `Attributes` will have a value of `-1`.

if you do `if (item.Attributes.HasFlag(FileAttributes.ReadOnly))` that will evaluate to true for 1 (the value of ReadOnly) and -1 (the not-exists value).

Bottom line is, don't rely on that condition since it will be true when the file doesn't exists.

[2021-09-28 22:47] mikem8361 commented on #58517
The `do` command uses low level DAC APIs like ISOSDacInterface::GetObjectData() to validate and return the details of the object. The `clrstack -i` is pretty much the only SOS command that uses the ICorDebug API and it looks like it does use ICorDebugReferenceValue::Dereference to dereference the function parameters and other ICorDebug APIs to display the value.

I looked at it a little more and `

[2021-09-28 22:47] tomasherceg opened #59731 "MetadataUpdateHandlerAttribute callback not invoked in .NET 6 Preview 5"
I am playing with `MetadataUpdateHandlerAttribute`, but the `UpdateApplication` method is never called - no matter if I run it through VS 2019 Preview or via dotnet watch.

The hot reload itself works, dotnet watch reports on the console that the code changes were applied successfully, but the callback is not invoked.

Is this supposed to work in .NET 6 Preview 5? Or am I missing something else th

[2021-09-28 22:52] DavidKarlas opened #59732 "FXVersion.TryParse fails to parse version on Thai culture"
## Problem
Steps to reproduce, on UNIX machine:
[code]
this will print:
https://gist.github.com/DavidKarlas/29a0749d371be2858ea629a3c66d26fb

Unfortunately on Windows its not so easy to reproduce, but I have this example:
[code]
Which prints `0` instead of `2`.
And this is where FXVersion parsing fails: https://github.com/dotnet/sdk/blob/a5bda50/src/Resolvers/Microsoft.DotNet.MSBuildSdkResolver/FX

[2021-09-28 23:07] tarekgh commented on #59267
@jkoritzinsky I'll assign this issue to you as remarked before it is a regression caused by #41897. Please let's know if you think anything related to logging here. Thanks!

[2021-09-28 23:21] jkoritzinsky commented on #59267
There's nothing related to logging in that PR. That PR was a large infrastructure change to use a different native build orchestrator (Ninja instead of MSBuild). There's little to no managed build changes there. I agree with @AndyAyersMS that we'll need a trace to see where the benchmark spends its time to be able to dig down into why there is still a regression today.

[2021-09-28 23:38] stephentoub commented on #59731
cc: @pranavkm

[2021-09-28 23:44] tarekgh commented on #59732
This is by design and duplicate of https://github.com/dotnet/runtime/issues/59120. Anyone wants to parse string for specific ordinal character shouldn't use linguistic operations and instead should use ordinal option.

@wli3 this issue should go back to SDK repo. the code there is wrong and need to be fixed. the code https://github.com/dotnet/sdk/blob/a5bda504ee069c88eed0202fc8b646d45c8c0d11/src/R

[2021-09-29 00:25] jkotas commented on #59721
Is there nothing else in these methods that would modify the last error on some paths in these cases? The last error is very volatile. You have to explicitly save it if you want to preserve it.

[2021-09-29 00:31] jkotas commented on #33148
Failure is https://github.com/dotnet/runtime/issues/33148

[2021-09-29 00:37] maryamariyan commented on #58330
@mapogolions FYI the recent configuration binder changes are being reverted via https://github.com/dotnet/runtime/pull/59716

[2021-09-29 00:44] BruceForstall commented on #59666
@AndyAyersMS A side comment: the repro has randomness from (1) JitRandomEdgeCounts, (2) JitRandomGuardedDevirtualization, (3) Tiered compilation, (4) Tiered PGO.

Possibly (1) and (2) aren't too random due to a hash-based random number seed? And (4) is not actually random? So the real randomness is from (3)?

A question is: can we collect "side data" from the randomness on a win/arm64 run that we

[2021-09-29 00:57] BruceForstall commented on #58481
@janvorli Have you had a chance to look at this?

[2021-09-29 01:00] #55211 closed

[2021-09-29 01:04] wfurt commented on #59730
This is expected. .NET 6.0 will NOT have public QUIC API. (for lack of time to get it in)

[2021-09-29 01:06] wfurt commented on #59730
related to https://github.com/dotnet/runtime/issues/54534.

[2021-09-29 01:13] VincentBu commented on #54801
Failed again in: [runtime 20210928.21](https://dev.azure.com/dnceng/public/_build/results?buildId=1390603&view=ms.vss-test-web.build-test-results-tab&runId=40456130&paneView=debug&resultId=102585)

Failed test:
[code]
**Error message:**
[code]

[2021-09-29 01:14] digitalpowers opened #59735 "Exception in TLS handshake on one windows machine but not the other"
### Description
I have a tls connection setup using kestrel and UseConnectionHandler.  The connection is not http however from what I understood this was fine.  I am using  builder.UseHttps to configure a certificate in memory only (not a file from disk or a certificate in a trust store).  I have this same certificate setup working fine for actual kestrel https http content.

Both sides are config

[2021-09-29 01:14] BruceForstall commented on #59298
Your example shows how we really should try to change the model to allow creating retless callfinally, because we end up keeping dead code around as a result of not allowing it.

Presumably only the BBJ_ALWAYS of BBJ_CALLFINALLY/BBJ_ALWAYS pairs?

[2021-09-29 01:28] digitalpowers commented on #59735
Custom validation callbacks are hooked up on both client and server side and neither are being called.  The certificates do have a 1 step chain (to the generating certificate) but in neither case is that certificate registered in the OS (neither dev machine or build machine).  The root certificate and both client/server certificates that are both derived from the root are all generated at test tim

[2021-09-29 01:33] digitalpowers commented on #59735
I Just found a new clue I was missing, I am going to research it but I dont really know how to interpret it off hand.
`
Possible detection of CVE: [CVE-2020-158] cert chain exceeded limit
Additional Information: Cert: <ClientSubjectNameHere> sha1: 4E54D622C824781675767D8638A41EDCAA918CD8 VerifySignaturesCount: 101 Limit: 100

This Event is generated when an attempt to exploit a known vulnerability

[2021-09-29 01:36] wfurt commented on #59735
It is interesting why this would be machine specific if they running same version. If you can generate structuraly identical certificates, you can post simple runable repro. That can perhaps be passed to Schannel experts.

[2021-09-29 01:39] digitalpowers commented on #59735
i can try to generate code that behaves the same and pass it along, it will be a bit of effort there is a whole module for generating the certificates and storing them off etc.

[2021-09-29 01:40] wfurt commented on #59735
if it comes to building and verifying chain @vcsjones and @bartonjs would be best persons to look at it.

[2021-09-29 01:54] AndyAyersMS commented on #59666
It's from our regular weekend CI runs:

https://dev.azure.com/dnceng/public/_build?definitionId=1002&_a=summary

Yes, true randomness here is likely from variability in what gets tiered up, for libraries runs (given high level of concurrency and load) this can fluctuate quite a bit from run to run. And of course changes in libraries code (eg Regex was revised recently to support source generation.

[2021-09-29 02:10] digitalpowers commented on #59735
yeah the thing is nothing should be loading the chain right? If I am validating the chain myself that is.

[2021-09-29 02:15] wfurt commented on #59735
VerifyCertificateProperties should call BuildChainAndVerifyProperties. You can try to step through to see what is happening. I think the logic is that it is ok to fail validation e.g. end up with trusted chain but if we fail OS call or encounter some fatal error we would still throw. Any chance there is inner exception with Windows HResult?

[2021-09-29 02:24] tarekgh opened #59736 "CI failure in "Build Browser wasm Release AllSubsets_Mono" leg"
https://dev.azure.com/dnceng/public/_build/results?buildId=1391502&view=logs&j=2c1bc6b5-3ed2-590f-6f2c-e4b87c1ec8e3&t=99af3e6b-57ff-5563-f33d-f3cc56be1bd5&l=5666

[code]

[2021-09-29 02:33] digitalpowers commented on #59735
Alas, no inner exception

[2021-09-29 02:49] RussKie commented on #59724
Hitting the same trying to build release/net6.0 branch

[2021-09-29 02:55] danmoseley commented on #33148
@dotnet/area-system-io  suggest disabling for Windows 11, or only verifying ".." there.

[2021-09-29 03:01] digitalpowers commented on #59735
I found it!
for posterity.  We have a unit test that adds a certificate to the ca store on the server in order to verify that having our certificates in there doesn't interfere with our code. That unit test does not clean up after itself well.  I had over 100 certificates in the ca store with the same subject and different keys and all were self signed because they are generated for each test run.

[2021-09-29 03:01] #59735 closed

[2021-09-29 03:22] wfurt commented on #59735
That still possibly leaves question if in cases like this errors should be suppressible via validation callback.
(and of course better diagnostic and more useful exceptions)

[2021-09-29 03:36] MSDN-WhiteKnight commented on #59630
Better to convert individual libraries as needed, i think. This is mainly needed for out-of-band libraries that are explicitly installed via package manager. For libraries like System.Collections.Immutable that are inbox on all .NET Core versions and only installed via package manager for .NET Framework, it's less important.

We also need to define convention where readme.md is placed in projects.

[2021-09-29 04:30] digitalpowers commented on #59735
true i suppose i shouldnt have closed it, feel free to reopen, i think it is reproducable and the error is not obvious nor is the configuration technically wrong.

[2021-09-29 05:29] dmitry-bym commented on #59450
@eiriktsarpalis I think no, because it isn't the same. Usualy dictionary representation is
[code]
And if will be structure with KVP and it will be like that i think create empty object will be eligible behavior instead of throw. I think the logic should be the same as with regular objects
[code]

[2021-09-29 06:55] sakno commented on #59718
I see the following risks:
* The API is not thread-safe. There is no `GetOrUpdate`, `TryGet` etc.
* Potential memory leak if `TType` is reference type or the type contains fields of reference type. The stored value will have the same lifetime as `typeof(TValue)`.

[DependentHandle](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.dependenthandle) or [ConditionalWeakTable](https://docs.mi

[2021-09-29 07:37] Xarlot opened #59739 "[wasm] Regression. mono-aot-cross asserts with function:mono_method_to_ir, VAR 1 (TValue_REF) cannot be expanded in this context with 1 instantiations"
### Description
The issue [[wasm] mono-aot-cross asserts with function:mono_method_to_ir, VAR 1 (TValue_REF) cannot be expanded in this context with 1 instantiations](https://github.com/dotnet/runtime/issues/57560#) was marked as fixed in net 6 RC 1 but still can be reproduced with the project from the issue. https://github.com/dotnet/runtime/files/6998976/wasmtest.zip

Additionally, I have a prob

[2021-09-29 07:41] JiahongJin1 commented on #59691
Yes, we can run dotnet command directly from /usr/local/share/dotnet/x64, so close this issue as it is by design.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/46206739/135224485-d29aa6f2-8cff-4f96-90a3-82fe15db03ea.png)

[2021-09-29 07:41] #59691 closed

[2021-09-29 07:48] tmds commented on #59705
The PR made a functional change in `preallocationSize` and that impacts `Write_NoBuffering_PreallocationSize` benchmark.
The functional change has the desired behavior.

`Perf_Booleans` doesn't seem to use `preallocationSize`, so I don't think it has the same root cause.

[2021-09-29 07:58] premun commented on #59717
@steveisok - just curious - what Apple account do you use for the signing? The large Microsoft one?

[2021-09-29 08:08] hudecekd commented on #58855
Thanks for help. I will try to use recommended approach.

[2021-09-29 08:29] vdanche commented on #59659
Only in CLI--dotnet --info, in install directory, it display normally
![image](https://user-images.githubusercontent.com/65637796/135232060-f7a71255-694b-4d58-8d2c-ec42cb7dbc27.png)

Still repro on the latest RC2  [build Pipelines - Run 20210928.1-6.0.100-rc.2.21478.25-111554,110658 artifacts (azure.com)](https://dev.azure.com/dnceng/internal/_build/results?buildId=1391133&view=artifacts&pathAsNam

[2021-09-29 08:42] #58481 closed

[2021-09-29 08:44] janvorli commented on #58481
The PR with a fix was merged just a minute ago.

[2021-09-29 08:46] EgorBo commented on #59668
Some details:
Problematic method:
[code]

Input of `GetMethodDescForInterfaceMethod` that asserts:
ownerType:
[code]
pInterfaceMD:
[code]

[2021-09-29 08:48] ericbl opened #59740 "Licence of Microsoft.Extensions in .NET Core 3.1.x ?"
The Microsoft.Extensions have different licence according to the versions:
Still apache2 on 3.1.19
https://github.com/dotnet/extensions/blob/v3.1.19/LICENSE.txt  (last change on this file is 3 years old)
but MIT on 5.0.1
https://github.com/dotnet/extensions/blob/v5.0.1/LICENSE.txt
which got then moved to this repo runtime if I understand properly.

Can you please clarify the licence of  Microsoft.

[2021-09-29 09:20] ViktorHofer commented on #59630
No need for another folder. I would just put it next to the csproj file.

[2021-09-29 09:22] ViktorHofer commented on #59724
The ideal solution to that would be to replace the python logic in System.Private.CoreLib with a C# source generator or/and with msbuild logic. cc @jkotas

[2021-09-29 09:23] ViktorHofer commented on #59724
As the relevant code pieces are owned by CoreCLR, changing labels to reflect that.

[2021-09-29 10:03] DenisRumyantsev commented on #58814
@wfurt here are the results of the investigation:

* The agent with .NET 6 works without the issue with the new `SocketsHttpHandler`
(I was mistaken in saying above that the issue persists for .NET 6)

* The issue persists for the agent with .NET 5 and can not be resolved by switching to the legacy `HttpClientHandler` since there is no such option in .NET 5 — tested it on the `5.0.401` .NET SDK ve

[2021-09-29 10:46] stephentoub commented on #59705
Do we know why it had such an impact?  Is the syscall being used now 20% slower?

[2021-09-29 10:50] eiriktsarpalis opened #59744 "Community Triagers Trial"
Starting this month, the runtime repo will be trialing the triage role for a small number of community contributors. The goal of this experiment is to expand engagement opportunities for the community and determine if the triage role enables that. At this stage, community triagers will be routing and labelling incoming issues. Longer term, we are hoping to further integrate community contributors

[2021-09-29 10:52] AlbertoPa opened #59745 "User's secrets are not used in the new templates in Net 6 RC1"
### Describe the bug
New web apps, apis and Blazor hosted applications created with the new templates do not use user's secrets set in secrets.json without manually adding:

[code]

after ``var builder = WebApplication.CreateBuilder(args);``.

### To Reproduce

Create a new web application, web api or Blazor hosted application which uses EF Core, so it requires a connection string, as an example p

[2021-09-29 10:52] PetarRAutoAddress opened #59746 "It’s not possible to send a SIGTERM signal, which requests the application to gracefully terminate"
[The .NET Process class on Linux](https://developers.redhat.com/blog/2019/10/29/the-net-process-class-on-linux#the_basics)

So, it seems that on Linux (container) using .NET I can start a new process, but I cannot tell it to gracefully terminate ?

This seems a major problem, that makes any serious process handling on Linux  non-viable.

Any suggestions?

[2021-09-29 10:52] ajcvickers commented on #59745
Moving this to runtime, since the fix should go in HostFactoryResolver. See https://github.com/dotnet/runtime/pull/59743

[2021-09-29 11:00] PetarRAutoAddress commented on #59746
area-System.Diagnostics.Process

[2021-09-29 11:09] ericbl commented on #59740
related to https://github.com/dotnet/aspnetcore/issues/18873 where the licence was changed from Apache2 to MIT on Aspnet.Core, howerver only for .NET 6
as also asked in https://github.com/dotnet/aspnetcore/issues/37091

[2021-09-29 11:10] SkiFoD commented on #59450
@layomia @eiriktsarpalis Are we ok with returning an empty KVP in case of NameCaseSensitive miss match? There are tests that expect the throwing exception behavior. Do we want to remove the expectation? is that it?

@eiriktsarpalis As long as I know, one can create an empty KVP and there is an exception being thrown in case
`IDictionary<int, string> dictionary = new Dictionary<string, string>();`

[2021-09-29 11:33] PathogenDavid commented on #59746
I agree this is probably something that the runtime would provide and seems like a natural extension of https://github.com/dotnet/runtime/issues/50527.

That being said if you need something that works today, I've used [Mono.Unix](https://www.nuget.org/packages/Mono.Unix) for this in the past. (Despite the name, it is not Mono-specific.)

Here's an example using it:

[code]

[2021-09-29 11:36] PetarRAutoAddress commented on #59746
Thanks.
Can it send SIGTERM as well ?

[2021-09-29 11:51] karelz commented on #58814
@DenisRumyantsev for patching .NET 5 we would have to fully understand the root cause and know which fix actually addressed the problem.
Given that 6.0 is in RC1 now, with RC2 coming out soon (both are go-live licenses), would it be an option for you to use .NET 6? If not, why?

[2021-09-29 12:01] jkotas commented on #59704
The remaining actionable problem here is the unnecessary register shuffling from `is RuntimeType` check (see above).

[2021-09-29 12:03] PathogenDavid commented on #59746
Yes, that and [basically every signal you'd ever want](https://github.com/mono/mono.posix/blob/057e4db75dd7d1f51e5409f214c94b91f7849b89/src/Mono.Unix/Mono.Unix.Native/Syscall.cs#L304-L340).

Mono.Unix is a thin wrapper around much of the Unix/POSIX API. So when you call `Sys.kill` you're basically calling [kill(2)](https://manpages.ubuntu.com/manpages/focal/en/man2/kill.2.html) directly.

[2021-09-29 12:18] tmds commented on #59705
The `posix_fallocate` and `fallocate` function both use the `fallocate` syscall. The difference is that we're now calling it with the `FALLOC_FL_KEEP_SIZE` to preserve the length. In theory, this means the kernel has less work since it doesn't need to care about 'filling the space', but that is not what the benchmark is telling us.

I don't think there is anything we can do about improving the run

[2021-09-29 12:22] tmds commented on #59705
@kunalspathak as I said in a previous comment, I don't think they are related. I wonder how the regression in `Perf_Booleans` points to #59338?

[2021-09-29 12:32] DanielOstovary commented on #56827
Hi, thanks for your answer @adamsitnik! I'd really appreciate a timely statement by @Anipik or @GrabYourPitchforks for that matter. I work on a project with high security requirements and would really need more information on the current state of security of System.Diagnostics.Process to use it in production.

[2021-09-29 12:33] tmds commented on #59746
Alternatively, you can:

[code]

[2021-09-29 12:40] PetarRAutoAddress commented on #59746
Great! Thanks.

[2021-09-29 12:56] jasonswearingen commented on #59718
I think if this addition is seriously considered, yes having thread safe options would be nice, but not required if it makes the implementation more difficult.   (Okay to leave it up to the use to synchronize)

I don't understand why this would cause a memory leak.  Or maybe you are calling out why the "API Proposal" did not include a `.Dispose()` or `.Clear()` function?   I was trying to keep the

[2021-09-29 13:32] am11 commented on #58481
https://dev.azure.com/dnceng/public/_build/results?buildId=1392530&view=results is green. ✅

[2021-09-29 13:33] Timovzl commented on #46017
As of .NET 6, `MemoryExtensions.SequenceEqual` has unconstrained overloads. 😄 That might help move this issue along.

As for piggybacking on `MemoryExtensions.SequenceEqual`, that is great. Besides arrays and lists, we might want to include `ImmutableArray<T>` as one of the types special-cased to go through `MemoryExtensions.SequenceEqual`. It is a great type for wannabe-constants (i.e. immutable

[2021-09-29 13:53] karelz commented on #59730
Duplicate of #54534

[2021-09-29 13:53] #59730 closed

[2021-09-29 13:55] sakno commented on #59718
Because the stored value (of reference type) will live forever until `Remove` is called.

Sure:
[code]

Now the problem with a memory leak becomes more clear. According to [ConditionalWeakTable](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.conditionalweaktable-2) docs, the table keeps weak reference to the key. When the key has no strong references, the value is recl

[2021-09-29 13:58] karelz commented on #56750
@server-si it is not clear if it is .NET problem, or something else. We do not understand the root cause. I believe that we will need a repro, or someone willing to investigate with a repro at hand. Are you in position to reproduce the problem in your environment in some regular manner?

[2021-09-29 14:11] karelz commented on #59692
@contactkiran1899 note that ASP.NET Core 2.1 is supported only on .NET Framework, not on .NET Core 2.1 anymore -- see [.NET Releases](https://github.com/dotnet/core/blob/main/releases.md) and [.NET Core 2.1 end of support](https://devblogs.microsoft.com/dotnet/net-core-2-1-will-reach-end-of-support-on-august-21-2021/)

[2021-09-29 14:14] TheBuzzSaw commented on #53154
@eiriktsarpalis I think that would be useful _as well_, but it feels like unnecessary ceremony if I already know the exact size of my array. I want this to function like the `string.Create(...)` method.

[2021-09-29 14:29] arrowd commented on #14537
What is required for removing the `echo 'exit 0' > install-dotnet.sh` hack? The bootstrap should be uploaded somewhere?

[2021-09-29 14:39] sec commented on #14537
Either adjust SDK version inside `global.json` if it's used or as you said - upload SDK into `official` place from where it's trying to fetch

[2021-09-29 14:40] EgorBo commented on #59704
@jkotas from a quick look I guess it's because of the way we inline cast/isinst - `isinst` in this case is only used for a bool expression but we save its result into a temp always.
[code]
so in theory in this specific case there should not be any COMMA/ASG, just JTRUE(EQ(IND...

there was an issue for it already somewhere

[2021-09-29 14:48] arrowd commented on #14537
Maybe someone of you, guys, look into that? Right now I'm blocked by following error:

[code]

I believe, uploading the bootstrap to the "official" place should fix it. Is it feasible, or we'll have to find another way around?

[2021-09-29 14:49] #59298 closed

[2021-09-29 14:54] jasonswearingen commented on #59718
I think you are misunderstanding the intent behind this proposal.

The intent is to have an instance based storage of values per type, ***that does not require a dictionary lookup***.

The example you provide using `ConditionalWeakTable`, I assume is very similar to an example using a normal `Dictionary`, which requires a key hash+lookup.

I am working under the assumption that the static based wo

[2021-09-29 14:54] sec commented on #14537
:) There's no official support for FreeBSD, that's why we have this issue :)
To get around that, you need to create local directory, put those required nupkg's inside and add this as source to `NuGet.config` (look at the scripts/patches we have already, it will add something like `<add name="somename" value="/path/to/dir" />`)

[2021-09-29 14:57] arrowd commented on #14537
What nupkg's? The error log doesn't seem to mention any packages.

[2021-09-29 15:04] sec commented on #14537
Oh sorry my bad - take a look at https://github.com/sec/dotnet-core-freebsd-source-build/blob/main/build_installer.sh - we feed those by hand into installer - I was thinking that source-build could/should be able to do that, but it's not working on FreeBSD and/or for 6.0 yet or I just don't know how to use it properly.

[2021-09-29 15:08] ShreyasJejurkar commented on #59744
This is a great initiative! Hope to see the same for other .NET repo's as well! :)

[2021-09-29 15:16] arrowd commented on #14537
Huh. Then what `installer` is, exactly? It just repacks three build artifacts into a single artifact?

[2021-09-29 15:20] sec commented on #14537
I think, in general, yes. Only change for FreeBSD is that we don't have binaries upload/supported officialy, that's why we "feed" them by hand into it :)

But again, reading about `https://github.com/dotnet/source-build` - this looks like exactly what we're doing, but in official way - but again, I can't get it to work with 6.0-rc1 (used main branch, it just complete without error and doing anythi

[2021-09-29 15:21] danmoseley commented on #33148
I'll do it

[2021-09-29 15:25] kunalspathak commented on #59705
I agree it is hard to believe that, but when I saw the changes that went between the regressions, they were these:

https://github.com/dotnet/runtime/compare/ba43e08205ff11ab05200918646399780caa7e75...44b44501c76c46bd79ee52b7d9a9d8a4957fc85f

The benchmark does memory write using `Utf8JsonWriter` and `ArrayBufferWriter` which made us believe that it could be related. But feel free to ignore it for

[2021-09-29 15:27] am11 opened #59754 ".NET 6 regression on writing to character device"
Create a console app with following content in Program.cs:

[code]

On macOS (x64), run with .NET 5 (5.0.400), it prints `Passed!`. In .NET 6 (6.0.100-rtm.21479.10) it throws:
[code]

[2021-09-29 15:29] am11 commented on #59754
This is not reproducible on Linux with .NET 6, so macOS (and likely other non-Linux Unices) are affected.

[2021-09-29 15:35] obiwanjacobi commented on #59651
Thanks @AaronRobinsonMSFT for the pointers.

[I just spent the better part of the day with SharpGenTools](https://github.com/obiwanjacobi/vst.net/tree/ddne3/Source3/Code/SharpGenToolsTest) and although it looks very promising, I don't think it can generate the code I am looking for. For instance: I cannot to get it to generate real C# interfaces from the C++ COM code. I have tried several mappings

[2021-09-29 15:37] ishikht opened #59756 "Bug System.DirectoryServices.DirectorySearcher"
The field:
internal SearchResultCollection? searchResult;

was never set. In older versions of the lib, the field was set in FindAll() method:

      SearchResultCollection resultCollection = new SearchResultCollection(root, hSearchResult, strArray, this);
      this.searchResult = resultCollection;
      return resultCollection;

Now:

            return new SearchResultCollection(clonedRoot, res

[2021-09-29 15:41] richlander commented on #59744
There are community triagers at dotnet/iot and dotnet/roslyn already. Agree, that we should expand the program to other repos.

[2021-09-29 15:47] danmoseley opened #59758 "Segfault in tracing/eventpipe/reverseouter/reverseouter/reverseouter.sh on Ubuntu."
Console log: 'PayloadGroup0' from job 032a526a-2272-4191-8743-d045d3f88f1a (ubuntu.1804.armarch.open) using docker image mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-18.04-helix-arm64v8-20210531091519-97d8652 on ddvsotx2l285

https://github.com/dotnet/runtime/pull/57324

Note the network disconnect callstack -- I do not know whether that's relevant, or simply a symptom of the other end being

[2021-09-29 15:51] danmoseley commented on #59756
This occurred here https://github.com/dotnet/corefx/pull/40321/files#diff-c3e651b2d7d4862e51442300df310213397a3f38e0dce30c02a86418df92e66cR669

@stephentoub do you recall why you removed the set of the field here?

[2021-09-29 15:53] danmoseley commented on #59744
@ShreyasJejurkar which repos did you have in mind particularly?

[2021-09-29 16:06] JulieLeeMSFT commented on #59668
Set to .NET 7. Please update it if it needs to be backported.

[2021-09-29 16:08] jkotas commented on #57198
@eiriktsarpalis @sdmaclea does not work on .NET team anymore.

[2021-09-29 16:10] danmoseley commented on #57198
Note that #57324 has a dump available and how_to_debug_dump.md to help open it. I think these time out within 30-60 days or so.

[2021-09-29 16:10] am11 commented on #59754
Output of `dtruss -f ~/.dotnet6/dotnet bin/Release/net6.0/testdevtty.dll | curl -F"sprunge=<-" http://sprunge.us`: http://sprunge.us/6QWmAA

^ @tmds, `open("/dev/tty"` looks normal, nothing is jumping out at me. 😕

[2021-09-29 16:17] eerhardt commented on #59740
The above is correct. Microsoft.Extensions versions 3.1.x and earlier are licensed with Apache v2. In the 5.0 timeframe we moved the code to dotnet/runtime, and switched the license to MIT for versions 5.0 and going forward.

See https://github.com/dotnet/extensions/issues/2965 and https://github.com/dotnet/extensions/pull/3028.

You can also see the license on nuget.org for the specific version (

[2021-09-29 16:17] #59740 closed

[2021-09-29 16:22] stephentoub commented on #59731
@wli3, why was this transferred away from dotnet/sdk?  The attribute itself is in dotnet/runtime, but the logic for discovering it and invoking it is not.

[2021-09-29 16:34] ShreyasJejurkar commented on #59744
Aspnetcore, ef and if possible every repo.

I haven't been selected traige role as of now. But having a traige role is a big achievement I consider. Being a entry level software engineer, I cannot work (because I do not see entry level openings on #ddjl and .NET at careers website) with you all .NET guys. But having a traige role or something similar is a big thing for me or for other people as we

[2021-09-29 16:41] tarekgh commented on #59636
This issue is addressed by the PR https://github.com/dotnet/runtime/pull/59727.

[2021-09-29 16:41] #59636 closed

[2021-09-29 16:57] Anipik commented on #59724
yep i hit this one several times as well :P

[2021-09-29 16:58] Thefrank commented on #14537
`installer` only needs, currently, a platform+arch specific `runtime` and `aspnetcore` under `freebsd-x64` earlier net6 previews we build SDK to work around a double-free bug. This has since been resolved.

I won't have time to look into source-build until later this week but from I recall [now over a year ago!] it was pretty linux specific which is why my initial (incorrect?) route with the port

[2021-09-29 17:07] Anipik commented on #56827
Talking with the security about it. will update soon

[2021-09-29 17:11] tmds commented on #59754
Your stacktrace is different:
[code]

This is interesting:
[code]
.NET does this to find out whether the file is 'seekable'.

On Linux this fails with `ESPIPE`. On macOS it succeeds.

That determines whether bytes are written using `write` or `pwrite` (introduced in .NET 6):

https://github.com/dotnet/runtime/blob/8e4c996ae35aa803813a89faebb03eb01821c1a2/src/libraries/System.Private.CoreLib/src/Sy

[2021-09-29 17:15] sakno commented on #59718
@jasonswearingen , thanks for clarification! If I understand correctly, `TypeLocal` has no specific rules related to its lifetime. If so, I'm not clearly understand how your example should work.

[code]

`TypeLocal` is created on every call of `GetTypeIndex` method. Therefore, `TryGet<T>` will always return **false** because a newly created `TypeLocal` is empty. If you want to keep the value betwe

[2021-09-29 17:17] danmoseley commented on #59744
@ShreyasJejurkar I passed your comment on to aspnetcore folks. With respect to adding more triagers here, we'll see how it goes. As @eiriktsarpalis mentioned above, I expect we will look for things like consistent engagement, proven expertise (specific or general), and consistently being friendly/inclusive to others in the community as attributes of a great triager. Meanwhile we welcome your contr

[2021-09-29 17:18] joperezr commented on #59630
I think that when it comes to infrastructure, one more pro to call out from @ViktorHofer list is consistency. Having all OOB packages use the same process to add the package description makes it easier to maintain and understand for the rest of the folks working on the repo, so my vote is either on moving all to README.md files, or not onboarding into markup, but not be in an in-between state.

[2021-09-29 17:20] ShreyasJejurkar commented on #59744
@danmoseley sure Dan. Great to see this stuff! Thanks!

[2021-09-29 17:21] ViktorHofer commented on #58800
@MichaelSimons are you still blocked by this?

[2021-09-29 17:22] tmds commented on #59754
I mean from the one in CI on https://github.com/dotnet/runtime/pull/58434 which fails on `open` with the same message. I assume that has to do with how the terminal is setup in CI, and is not a regression.

[2021-09-29 17:22] wfurt commented on #58814
Yes, you are right @DenisRumyantsev. This is https://github.com/dotnet/runtime/pull/54101 fixing very old #887.
If needed, this would be pretty safe for servicing @karelz. (assuming we can justify the business impact)

[2021-09-29 17:22] jasonswearingen commented on #59718
you are right, I'm sorry I rushed through the example unthoughtfully.  here is a better example.   Please let me know if it needs further explanation.

[code]

PS:  will update the original example with this too.

[2021-09-29 17:25] Jozkee commented on #59705
@tmds thanks for checking this, let us know if you are unable to solve this in a couple of days as the .NET 6 deadline is close.

[2021-09-29 17:32] maryamariyan commented on #59745
@davidfowl do you have a link to the issue or PR that added this logic?

[2021-09-29 17:34] Jozkee commented on #59606
Seems like you are proposing to extend MemoryMappedFiles, instead of a discussion can you please elaborate an API proposal for your needs?
https://github.com/dotnet/runtime/blob/main/docs/project/api-review-process.md

[2021-09-29 17:36] stephentoub commented on #59606
@Jozkee, there may be opportunity here for the implementation to simply avoid flushing if the file is going to be deleted immediately.  Before discussing new API, we should determine whether that's viable.

[2021-09-29 17:47] tannergooding commented on #59718
Could you elaborate on what you mean here? Even with `public static class TypeStore<T>{ public static int Value; }` there is potentially some lookup that occurs, its just abstracted away and managed by the runtime.

RyuJIT in particular will currently ensure that this is "specialized" for value type `T`, but for reference type `T` this will end up using `System.__Canon`. It's also not always "free

[2021-09-29 17:50] AaronRobinsonMSFT commented on #59651
@obiwanjacobi That would likely be a P2 since the C++ is very tricky to make cross-platform successfully and it is substantially more difficult to generate than canonical C#. It is something that is on our list of nice to haves but I am skeptical it would be a P0 or P1. I could see a potential P1 being generation of TLBs, from which C/C++ headers could be generated using Windows tooling though.

K

[2021-09-29 17:50] eerhardt commented on #59745
@maryamariyan  - https://github.com/dotnet/runtime/pull/53757

[2021-09-29 17:52] ViktorHofer commented on #59147
ping @lewing in case this needs to flow into the product.

[2021-09-29 17:56] AaronRobinsonMSFT commented on #59721
Agree. We chatted about this issue offline. We thought it warranted an issue for tracking purposes when using the hosting APIs. The impetus for this was around using DNNE in a test scenario and is being addressed in https://github.com/AaronRobinsonMSFT/DNNE/pull/87.

/cc @elinor-fung

[2021-09-29 17:56] Jozkee commented on #59403
You can take a look at the documentation for Stream, especially this part: https://docs.microsoft.com/en-us/dotnet/api/system.io.stream?view=net-5.0#notes-to-implementers.

Regarding your scenario, seems like you need an implementation that deals with HTTP: There may exist a better starting point to do that rather than implementing your own stream from scratch e.g: https://docs.microsoft.com/en-us

[2021-09-29 17:56] #59403 closed

[2021-09-29 17:58] jbecke opened #59816 "Blazor WASM AOT code is 1 to 1.5 orders of magnitude slower than native CLR"
### Describe the bug

Non-UI code run in Blazor WASM/AOT in the browser is 1 to 1.5 orders of magnitude slower than native CLR across a wide variety of workloads. I would expect WASM AOT to always be a bit slower than native but not an *order of magnitude* or more slower.

We have been able to repro these [benchmarks](https://csharp-wasm-benchmark.acmion.com/) in real-world workloads involving the

[2021-09-29 18:04] jkoritzinsky opened #59766 "Mono does not load native shared libraries next to an assembly with a DllImport to it."
When the following layout is provided on disk:

[code]

And the process is run as follows:

[code]

Then Mono will fail to find the `Microsoft.Interop.NativeExports.so` shared library. CoreCLR is able to successfully find it and resolve exports with the same configuration (the only difference is Mono vs CoreCLR).

Here's the output from LD_DEBUG=libs for Mono:

And for CoreCLR:

[2021-09-29 18:10] jasonswearingen commented on #59718
I think the best explanation would be a benchmark comparison.  Here is one showing the performance discrepancy:

[code]

Here is the code associated with the benchmark, run via BenchmarkDotNet
[code]

[2021-09-29 18:15] cfgiugliano opened #59770 "[API Proposal]: File.WriteAllBytes overload for Span<byte> and ReadOnlySpan<byte>"
### Background and motivation

The current File.WriteAllBytes(String, Byte[]) lacks an overload which takes a Span<byte>/ReadOnlySpan<byte> which can be useful in some scenarios.

The current implementation of File.WriteAllBytes(String, Byte[]) uses either FileStream.Write or RandomAccess.WriteAtOffset according if MS_IO_REDIST is defined. Both of them have an overload which takes a ReadOnlySpan<b

[2021-09-29 18:16] scalablecory commented on #59403
Related #58216

[2021-09-29 18:17] jkotas commented on #59721
Is it really just a DNNE problem? I would expect you have to make fixes in the runtime as well to make this work 100%.

[2021-09-29 18:24] scalablecory commented on #59770
The async variant also needs a `ReadOnlyMemory<byte>` overload.

[2021-09-29 18:25] AaronRobinsonMSFT commented on #59721
I believe so. The issue here is DNNE discovers the export lazily so the initial call via a P/Invoke looks like:

[code]

Where as all subsequent ones look like the following:

[code]

For DNNE, preserving the current error code during "Discover export" should address the stated behavior. Are you thinking of another scenario where this could manifest?

[2021-09-29 18:30] AaronRobinsonMSFT commented on #59721
I think from the .NET Hosting API perspective, `coreclr_create_delegate` is doing the right thing. The "right thing" being it may impact the last error because it is a native call and the caller needs to handle that. That would mean callers like DNNE need to be sensitive to that behavior calls propagate from managed code.

[2021-09-29 18:30] SingleAccretion commented on #59770
See #35054.

[2021-09-29 18:37] safern commented on #59729
@JeremyKuhne @RussKie @DustinCampbell for thoughts as this is tight to winforms designer.

[2021-09-29 18:39] jkotas commented on #59721
Do prologs and epilogs of UnmanagedCallersOnly methods preserve the last error in all situations?

[2021-09-29 18:40] scalablecory commented on #56828
Does .NET MAUI have Bluetooth APIs that would make sense for you?

[2021-09-29 18:41] eerhardt commented on #59644
This has been fixed with net6.0. Please try the rc1 and let us know if you don't see it fixed there.

See https://github.com/dotnet/runtime/pull/56057.

[2021-09-29 18:41] #59644 closed

[2021-09-29 18:51] mdh1418 commented on #59717
@premun I tried using the Microsoft team DevProsioningProfile to sign iOS apps to run on my iPad, but didn't get too far. I ended up using a personal profile and follow the steps
1) `./build.sh -s mono+libs -os iOS -arch arm64 -c Release`
2) ` ./dotnet.sh build /t:Test /p:TargetOS=iOS /p:TargetArchitecture=arm64 /p:Configuration=Release /p:DevTeamProvisioning=<my-personal-profile-provision> <path-

[2021-09-29 18:53] sakno commented on #59718
[code]

You can optimize this code. Currently, it requires two lookups: `TryGetValue` and `Add`. Try to replace it with a single call to [CollectionsMarshal.GetValueRefOrAddDefault](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.collectionsmarshal.getvaluereforadddefault) (available in .NET 6).

[2021-09-29 18:54] #58985 closed

[2021-09-29 18:58] jasonswearingen commented on #59718
I updated my benchmark (prior post) to only use reference types.  (prior it was mostly the special value types).    The results still hold.

I believe that is true for only the first pass through the benchmark, all further runs will just do the single lookup.

But, in interest of trying, I did what you suggest:

[code]

and get slightly better results:
[code]

[2021-09-29 19:12] seekingtheoptimal commented on #1566
In almost every typical client-server web system the server uses and stores dates in UTC (default behavior for SQL DateTime mapping with EF Core for example), while browsers should show the local timezone as users are from all around the internet. Having this feature in a similar fashion to json.net - even if not making it the default behavior to break things - would just make a lot of sense.

[2021-09-29 19:28] pedramrezaei commented on #57961
This is a great idea. Can we get this added?

[2021-09-29 19:33] fanyang-mono commented on #59679
The real error message for app installation failure is
[code]

[2021-09-29 19:33] safern commented on #58852
Closing as we reverted the breaking change.

[2021-09-29 19:33] #58852 closed

[2021-09-29 19:34] safern commented on #58330
Closing as we reverted the breaking change.

[2021-09-29 19:34] #58330 closed

[2021-09-29 19:35] safern commented on #57325
Reopening as we reverted the change introduced in: https://github.com/dotnet/runtime/pull/57204.

Let's try to tackle this on 7.0.0 and consider the two issues this change caused: https://github.com/dotnet/runtime/issues/58330 and https://github.com/dotnet/runtime/issues/58852

[2021-09-29 19:38] msedi commented on #59606
@stephentoub: I'm currently working on the proposal. Will take a few more minutes to get some examples.

[2021-09-29 19:38] #59606 closed

[2021-09-29 19:45] msedi opened #59776 "[API Proposal]: Extend Memory Mapped Files support"
### Background and motivation

Currently, the MemoryMappedFile API is great but doesn't expose some properties that are available in the WinAPI.
While I understand that also other platforms are currently supported it would be nice to find a common way to extend the API.

The suggestions are:

*Enable FileOptions*
Currently when using MemoryMappedFile.CreateFromFile no FileOptions property is allow

[2021-09-29 19:55] mdh1418 opened #59777 "[Android] System.Security.Cryptography.X509Certificates ExportCertificatePems_MultiCert Failure"
[code]
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1393183&view=logs&j=b6e5d97f-d4f8-506b-9e47-e3e32385754a&t=94ce2805-f3e2-5f9a-1d92-0da5613f733d
Log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-59762-merge-4055e4601c8e44dda7/System.Security.Cryptography.X509Certificates.Tests/1/console.99823d73.log?sv=2019-07-07&se=2021-10-19T18%3A38%3A09

[2021-09-29 20:08] stephentoub commented on #57961
I don't think dotnet/runtime is the correct repo for _all_ new analyzers.

Analyzer discussions in dotnet/runtime are for analysis related to APIs and runtime functionality, e.g. you're using XYZ API incorrectly, or you're using something in such a way that's going to run afoul of how it'll execute with the runtime.

This issue is about warning about use of particular language syntax, regardless o

[2021-09-29 20:11] ericstj commented on #59464
I see https://github.com/dotnet/roslyn/blob/main/docs/compilers/CSharp/Nullability%20Public%20API%20Design%20Notes.md that describes this API in roslyn.
@buyaa-n also recently added this to reflection in https://github.com/dotnet/runtime/pull/54985.

Presumably the serializer isn't really doing anything different for nullable annotated types today since it wasn't observing that.
 Should we disable

[2021-09-29 20:16] ericstj commented on #57482
I think this missed the cut-off for 6.0 docs, moving to 7.0.  @carlossanlop, suppose we just flip this library to have it's source as the source-of-truth for docs, would we sill need to port anything?

[2021-09-29 20:19] ericstj commented on #58343
@ViktorHofer are you still planning to do something for 6.0 GA?

[2021-09-29 20:20] marcpopMSFT commented on #58490
@Redth @pjcollins , it looks like RC2 still has a pretty old baseline workload manifest in installer: https://github.com/dotnet/installer/blob/2779433e56855f953f804471ea2e683ec0b7768f/eng/Versions.props#L169.  My guess is that the old baseline is either not in the feed or not signed right or both so getting the baseline updated may help here.

It's likely external customers wouldn't face this sinc

[2021-09-29 20:23] hoyosjs commented on #58471
Hey @jeff-simeon. Did you upload them to https://developercommunity.visualstudio.com/t/intermittent-hangdeadlock-in-net-core-50400-while-1/1533767 ? I can't see any recent uploads there.

[2021-09-29 20:24] msedi commented on #59729
Just to make sure, I took the behavior of the PropertyGrid as an example of what I'm think of: An object that mimics the access to a collection of object of the same or of different types. I already have a running example that I can show share here (but I'm not fully satisfied) which can be discussed.

[2021-09-29 20:25] ericstj commented on #59241
@hoyosjs you mentioned in https://github.com/dotnet/runtime/issues/57018#issuecomment-894633945 "Explicit exclusions".  Do we need to codify those exclusions to avoid these issues?  Have we reviewed all the failures here to make sure nothing is ship blocking?  cc @ViktorHofer

[2021-09-29 20:26] DenisRumyantsev commented on #58814
@wfurt @karelz nice to hear you found this fix. It will be great if you provide a patch to .NET 5 since we plan to migrate gradually.

[2021-09-29 20:36] carlossanlop commented on #57961
Moving to dotnet/roslyn for further triage.

[2021-09-29 20:39] hoyosjs commented on #59241
They are codified in a symbol publishing exclusions file in the end folder. Publishing uses it, but validation doesn't take a look at it. @epananth reached out last week and we had a chat on what type of issues validation has and she's currently working on this particular one.

[2021-09-29 20:40] NikolaMilosavljevic commented on #58859
[Triage] Closing the issue. Problem with MSI is that it does not provide proper ref-counting for all .NET install scenarios. Therefore we use .NET EXE bundle package.

[2021-09-29 20:40] #58859 closed

[2021-09-29 20:50] epananth commented on #59241
Yeah I have a PR coming up EOD to fix this issue.

[2021-09-29 20:54] hoyosjs commented on #57892
@ViktorHofer if this is marked blocking release:
- Should this be in the .NET 6 one? Or is this future looking to block 7 until this is done.
- The only thing that seems blocking is the SDL issue (Both creds and poly). It doesn't respect our [credscan supression](https://github.com/dotnet/runtime/blob/main/.config/CredScanSuppressions.json). Also we don't have any config for polycheck, which means

[2021-09-29 20:54] danmoseley commented on #59756
for reference, the issue is that it will be null here

https://github.com/dotnet/runtime/blob/e7b743cae325d4720fceaf7f84f68aaaf7bb7dbe/src/libraries/System.DirectoryServices/src/System/DirectoryServices/DirectorySearcher.cs#L504-L506

and all our tests pass because they are calling the constructor of DirectorySynchronization and passing in the cookie directly.

@ishikht do you have any interest in

[2021-09-29 20:58] ViktorHofer commented on #57892
This one is for .NET 7 and targets the main branch. The label is applied to not loose track of it until .NET 7 releases.

@aik-jahoda for the feedback

[2021-09-29 20:59] carlossanlop commented on #33767
Cases the analyzer should detect:

[code]

[2021-09-29 20:59] danmoseley commented on #57349
@mkArtakMSFT are there issues in ASP.NET's usage? https://grep.app/search?current=2&q=GetTypeByMetadataName&filter[repo][0]=dotnet/aspnetcore

[2021-09-29 21:02] vcsjones commented on #59777
Hm, okay. Do Android tests not run as part of CI? Why was this green and got merged?

[2021-09-29 21:14] mikem8361 commented on #58517
@clguiman are you ok with closing this issue now?

[2021-09-29 21:24] radical opened #59779 "Android x64: runtime tests failing with `Error trying to get device: cmd: Can't find service: package`"
Hitting this on https://github.com/dotnet/runtime/pull/59671: [Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1393234&view=logs&jobId=b6f63eff-75cc-59ca-fdbf-d2121601a613&j=b6f63eff-75cc-59ca-fdbf-d2121601a613&t=92df95dc-ad7c-5fec-a8b4-c8301b7a2225), [log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-59391-merge-b2eea6f7d322439899/Loader.classl

[2021-09-29 21:25] mdh1418 commented on #59777
@vcsjones They are on CI, but they're non-blocking and show up in runtime-staging because of flakey reasons such as infrastructure failures, hitting a bad machine on the osx hosted pools, etc. As long as the build/lane completes its marked green on the github UI, but on close inspection by clicking the runtime-staging lane https://github.com/dotnet/runtime/pull/59674/checks?check_run_id=3740236485

[2021-09-29 21:26] MichaelSimons commented on #58800
The underlying issue was addressed by a source-build patch that I will merge back into runtime..  While it surfaced an issue in the way ResolvePackageFileConflicts is used, it is not blocking source-build.

[2021-09-29 21:41] delmyers commented on #58517
If I understand the bug correctly, it looks like there is still a problem. Claudiu is not able to enumerate the parameters on the stack.

[2021-09-29 21:48] am11 commented on #57198
Here is the stack:

[code]

[2021-09-29 21:50] mikem8361 commented on #58517
Can not enumerate parameters using SOS or the ICorDebug APIs?  The title/main comment is about SOS problems dumping a value type parameter. There is really nothing we can do in SOS (there is no ICorDebug API to get a ICorDebugValue's method table address to use with the !DumpVC command).  If the he is having problems with the appropriate ICorDebug to query info about this value type, then either t

[2021-09-29 21:59] am11 commented on #57198
Btw, in how_to_debug_dump.md, there is a bug in this section:

[code]
it should be:

[code]
as lldb doesn't resolve shell's shortcuts `~` to homedir and (the cryptic) error looks similar to what Eirik pointed out above:

[code]

Another issue is that we should replace 6.0.0 with 7.0.0, as most of these commands do not validate if 6.0.0 directory actually exists. (I had to repeat the steps a few ti

[2021-09-29 22:31] marcospgp commented on #18668
@yashl An ordered dictionary seems to be another thing entirely, it's not generic and does not maintain the keys in a sorted state.

The priority queue does seem to apply for this use case! Thank you @danmoseley

[2021-09-29 22:41] AndyAyersMS opened #59785 "JIT: a number of OSR stress tests failing with an assert"
See https://dev.azure.com/dnceng/public/_build/results?buildId=1387134&view=results

Eg, on x64 windows
[code]

OSR stress is an OSR mode that aggressively transitions when patchpoints are reached, to try and increase coverage of OSR.

[2021-09-29 22:49] theodorzoulias commented on #58692
@stephentoub solving this problem with async/await is not 100% satisfying, because it results to all but the first exceptions stored inside the task to get swallowed. Having to attach continuations to `Task.WhenAll`/`Parallel.ForEachAsync`/`IDataflowBlock.Completion` tasks that may contain more than one exceptions is not totally rare, and the proposed `Then` method could make the experience of wri

[2021-09-29 22:57] ericstj commented on #59250
I see the tag here: https://github.com/dotnet/runtime/releases/tag/v5.0.10

Perhaps the timing was just off?

[2021-09-29 22:57] #59250 closed

[2021-09-29 23:05] jkotas commented on #57198
@am11 It looks like the crash is in the unmanaged runtime code. Are you able to get unmanaged stacktrace too?

[2021-09-29 23:06] AndyAyersMS commented on #59785
In the above there's a `Nullable<bool>` arg passed in a register, and we need its size for OSR, and ask the wrong question.

[2021-09-29 23:07] am11 commented on #57198
Yup, it looks like:

[code]

[2021-09-29 23:22] #53587 closed

[2021-09-29 23:22] am11 commented on #57198
Updated ⬆️ with `clrstack -f` output (which captures both managed and native frames).

[2021-09-29 23:23] agocke commented on #53551
Dup of https://github.com/dotnet/runtime/issues/53587

[2021-09-29 23:23] #53551 closed

[2021-09-29 23:30] vsfeedback opened #59787 "API Named SetupDiEnumDeviceInterfaces Of setupapi.dll Error At .net core platform"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/API-Named-SetupDiEnumDeviceInterfaces-Of/1485487)._

---
[severity:I'm unable to use this version]
In .net6 and .net core 3.1 ，API Named SetupDiEnumDeviceInterfaces Of setupapi.dll  does not work.when same code work normally at .net framework

---
### Original Comments

#### Feedback Bot

[2021-09-29 23:30] vsfeedback opened #59788 "random.next(low, hi) his is sometimes exclusive and sometimes inclusive."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/randomnextlow-hi-his-is-sometimes-ex/1478158)._

---
It has taken a lot of searching in various places on the net but from what I have seen Random.Next(min, max) the min value should be inclusive and the max value should be exclusive, I have also seen documentation that said the upper bo

[2021-09-29 23:55] Anipik commented on #59250
there were 2 different commits in the manifest due to which tool didnt work

[2021-09-30 00:06] stephentoub commented on #59788
The docs state:
https://docs.microsoft.com/en-us/dotnet/api/system.random.next?view=net-5.0#System_Random_Next_System_Int32_System_Int32_
"A 32-bit signed integer greater than or equal to minValue and less than maxValue; that is, the range of return values includes minValue but not maxValue. If minValue equals maxValue, minValue is returned."

So:

This matches the doc'd behavior quoted: "If minVa

[2021-09-30 00:06] #59788 closed

[2021-09-30 00:15] danmoseley commented on #57198
@am11 thanks for pointing out the errors, perhaps you could appropriately tweak https://github.com/dotnet/runtime/blob/main/eng/testing/debug-dump-template.md (which is processed to generate this file)

[2021-09-30 00:15] #59432 closed

[2021-09-30 00:26] stephentoub commented on #58692
That is the nature of async/await.  And even if these helpers flowed multiple exceptions through to the returned Task, the 99.9% case of consuming the resulting Task will itself be with await, at which point the effort to flow the additional exceptions is for naught.  I understand your point, but I don't personally see this as sufficient motivation; wanting such Then methods instead of await is al

[2021-09-30 00:30] #33148 closed

[2021-09-30 00:56] CodeBlanch opened #59791 "System.Text.Json: SourceGenerator on byte[] generates array of numbers not base64 string"
I would like to take a stab at fixing this if the team agrees it is an issue.

### Description

Given this class:

[code]

When serialized like this...

[code]

...you get...

[code]

But if you do via a source generator a la...

[code]

...you get...

[code]

I think it is incorrect but also way slower ⌛

### Configuration

* Which version of .NET is the code running on? 6.0.100-rtm.21479.19

[2021-09-30 00:58] #59089 closed

[2021-09-30 01:20] VincentBu commented on #59455
Run: [runtime-coreclr libraries-jitstress  20210929.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1392386&view=ms.vss-test-web.build-test-results-tab&runId=40490428&resultId=138444&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-30 01:24] VincentBu commented on #59456
Failed again in: [runtime-coreclr libraries-jitstress 20210929.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1392386&view=ms.vss-test-web.build-test-results-tab&runId=40490428&paneView=debug&resultId=190115)

Failed test:
[code]
**Error message:**
[code]

[2021-09-30 01:34] danmoseley commented on #18668
I think I can close this then, or is there any more to resolve here?

[2021-09-30 01:35] VincentBu opened #59794 "Test failure JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b399444/b399444b/b399444b.sh"
Run: [runtime-coreclr jitstress 20210928.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1392215&view=ms.vss-test-web.build-test-results-tab&runId=40488326&paneView=debug&resultId=110241)

Failed test;
[code]
**Error message:**
[code]

[2021-09-30 01:47] VincentBu commented on #59451
Failed again in: [runtime-libraries-coreclr outerloop 20210929.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1392616&view=ms.vss-test-web.build-test-results-tab&runId=40496884&paneView=debug&resultId=104474)

Failed test:
[code]
**Error message:**
[code]

[2021-09-30 03:08] jeff-simeon commented on #58471
@hoyosjs  - yes I uploaded a file "dumps.zip" with both dmp files. Do you not see it? I will upload them again as a new comment now...

[2021-09-30 03:31] contactkiran1899 commented on #59692
Dont have a timeout configured on the httpclienthandler. do we know the general timeout limit for a httpclienthandler ??
we dont have  a cancellation token getting triggered.  We have series of PUT verb calls happening at that time . So, im not sure whether the httpclient socket connection is closed after multiple requests. Also we dont see this happening all the time 8-10 instances through out th

[2021-09-30 03:33] contactkiran1899 commented on #59692
@karelz  this was happening much before the .NET Core 2.1 end of support. happened to open this ticket just now.

[2021-09-30 04:36] #59145 closed

[2021-09-30 04:47] jkotas commented on #57198
The stacktrace of the crash is
[code]
So something bad happened while executing `Utf8JsonReader.Read` method and we failed to return from it; or we have never reached it in the first place

[2021-09-30 05:13] RussKie commented on #59729
I'm not quite sure I understand the ask here, e.g. why does `MockObject` object need to be part of the .NET runtime (or Windows Forms for that matter) API, and how it would help.
If there is some extensibility endpoint is missing in `ICustomTypeDescriptor` then we can certainly discuss this.

[2021-09-30 05:25] davidfowl commented on #59729
Couldn't you build your own dynamic object that accomplishes this? Why does it need to be in the runtime?

[2021-09-30 05:58] acaly commented on #58333
@krwq Thanks for the reply. I wrote a very brief description on the scenario in the proposal.

I encountered this problem when I was implementing a physics engine in C#. I stored the active interaction data between entities in a dictionary, with `(entity1, entity2, interactionType)` as key and the data (as a value type) as value. This brings some benefits: 1) the collision detection module can use

[2021-09-30 06:11] wfurt commented on #14537
I did another try on the runtimelab https://github.com/dotnet/runtimelab/pull/1607
That produced https://dev.azure.com/dnceng/public/_build/results?buildId=1394367&view=artifacts&pathAsName=false&type=publishedArtifacts

where one can get the FreeBSD bits, packages and  packages/Release/Shipping//dotnet-runtime-6.0.0-ci-freebsd-x64.tar.gz is essentially runtime drop-in.
It would be great if somebo

[2021-09-30 06:15] wfurt commented on #14537
one more note that I did not cherry-pick any main branch fixes. I can certainly do that as well to avoid patching.

[2021-09-30 06:17] tmds commented on #59754
The root cause is that `CanSeek` does not indicate support for `pwrite`/`pread`.

I see two options:
- Let `Stream` use `write`/`read` always. Then using `Stream` always works. Using `RandomAccess` may not work for files that don't support random access (like `/dev/tty`).
This has a behavioral impact on `Stream` which does now do its own position tracking and uses that offset for reading/writing.

[2021-09-30 06:28] Jozkee commented on #59754
Why `lseek` succeds in macOS? Even the [doc page](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/lseek.2.html) says that it should fail with ESPIPE for a FIFO.
Could another approach be: fix `CanSeek` in macOS so it can behave as Linux?

[2021-09-30 06:33] fschmied commented on #59403
@Jozkee Are you sure that is up to date regarding async methods? Regarding those, it says:

Following this advice, if I only have an async API underlying my stream implementation, I'll end up with:
* sync methods that do the sync-over-async antipattern,
* async methods that do the async-over-sync (over async) antipattern.

That can't be good, or can it?

[2021-09-30 06:40] Jozkee commented on #59754
This has a behavioral impact on Stream which does now do its own position tracking and uses that offset for reading/writing.

Could there be any perf. regressions in doing this? I assume perf. was the main reason why we changed to pread/pwrite.

[2021-09-30 06:46] wfurt commented on #59403
Well, it you map the perf will never be great @fschmied. The real question is what you are really trying to get. The more you implement and do without mapping the better IMHO. Seems like the link is minimalistic.
For many IO streams - like File - the sync/async really does not matter that much IMHO.

Also note that the 5.0 HttpClient has synchronous functions as well: https://docs.microsoft.com/en

[2021-09-30 07:00] Thefrank commented on #14537
zip -> tar.gz -> 1.74GB...what...I was just heading to bed when you posted that so I might be tired anyways
someone else will likely be able to look into more before but just checking the CoreCLR tarball:
[code]
They atleast execute. I will need build something for `corerun` to test it
it looks like its using the old build environment for FreeBSD 11.3 to build. Crossgen2 is wrong in CoreCLR tarbal

[2021-09-30 07:02] am11 commented on #59754
Perhaps a bit more defensive approach:
`if ((e is ESPIPE || e is ENXIO) && device.mode is not S_IFREG) { /* fallback to .NET 5 behavior */ }`

[2021-09-30 07:04] wfurt commented on #14537
Thanks for quick check @Thefrank. I think I'll need to cherry-pick some more changes from main.

[2021-09-30 07:09] zblesk commented on #56750
@server-si  eventually I found out it was caused by an external library. [These people](https://twitter.com/antonfrv/status/1422645749049958402) were investigating something similar and also mentioned this issue because they found the related blog post, linked above.
I don't know _why_ the library was breaking the pipeline, and only on linux; I won't be investigating it, either. Just stopped using

[2021-09-30 07:09] tmds commented on #59754
Could another approach be: fix CanSeek in macOS so it can behave as Linux?

`/dev/tty` is a character oriented device, and not a fifo.

I don't know how to fix `CanSeek` so it is guaranteed to match _supports pread/pwrite_.

I think it's better to do this based on the `pread`/`pwrite` errno, which actually saves you the cost of the syscalls performed in 'improved' `CanSeek`.

I think not. It impac

[2021-09-30 07:36] premun commented on #59717
The process we use in Helix is something I came up with as there's not a lot of documentation how to automate this without a need for manual Xcode steps.
Let's meet and I can explain what's needed.

Meanwhile there's some documentation I wrote that captures some of this:
https://github.com/dotnet/core-eng/wiki/Apple-(iOS-tvOS)-signing-certificates

Here's the code that does the signing on the Heli

[2021-09-30 07:53] premun commented on #59679
Seems like an instance of this https://github.com/dotnet/runtime/issues/59779

It seems that it has several causes: https://stackoverflow.com/questions/42868571/why-is-adb-install-my-apk-triggering-cant-find-service-package

[2021-09-30 08:13] ViktorHofer commented on #41695
@NikolaMilosavljevic this issue is still marked as `blocking-release`. As it's unclear to me if this needs to be done and as we are close to the 6.0 release, can you please again take a look and eventually update the milestone? Thanks

[2021-09-30 08:14] msedi commented on #59729
@RussKie: Yes, the runtime is for sure the wrong place. I was just curious if this component would be something that could be useful for others too.

I think my only problem is (because I can build the rest myself), that there is no event on the ICustomTypeDescriptor that makes it "dynamic". So when you add or remove items from the MockObject that enforces the MockObjects to reevaluate its propert

[2021-09-30 08:15] ViktorHofer commented on #57711
Closing as RC1 shipped.

[2021-09-30 08:15] #57711 closed

[2021-09-30 08:25] eiriktsarpalis commented on #59791
cc @layomia @ericstj. I suspect that divergent serialization formats might make this a good candidate for servicing in 6.0. Note that it would probably require adding an additional API to expose [ByteArrayConverter](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/ByteArrayConverter.cs) to the generator.

[2021-09-30 08:47] Sergio0694 commented on #53895
Hey @Maoni0 and @mangod9, wanted to touch base on this again and ask what should the next steps be to move this forward. It seems to me that this proposal would of course need evaluation from the GC team, but in order to do so it would likely help to have a finalized API shape for you to look at, which in turn can really only be reached by going through API review and discussing it (as well as whe

[2021-09-30 08:48] sakno commented on #59718
@jasonswearingen , I found the solution for you. As far as I understand, you trying to emulate the following data type:
[code]

But the number of fields is not known because actual `T` can be represented by any type. Fortunately, we have a perfect data structure to emulate such behavior - arrays. All we need is to associate particular array index with actual generic instantiation.

Here is the sol

[2021-09-30 09:06] am11 commented on #57198
Thanks, I have opened https://github.com/dotnet/runtime/pull/59798.

[2021-09-30 09:50] karelz commented on #56750
Thanks @zblesk for update -- just FYI, the Twitter thread you linked is @antonfirsov above from our (Networking) team.
Also, summarizing your story here: You removed library AspNetCore.Identity.LiteDB and it didn't happen since then - you describe it in your [blog post](https://zblesk.net/blog/aspnetcore-identity-litedb-breaks-on-ubuntu/).
Note: It does not mean necessarily that the library is to

[2021-09-30 09:57] karelz commented on #59692
@contactkiran1899 do you still run into the issue on .NET Core 2.1 (which is unsupported)? Or were you able to upgrade to newer version?
If you upgraded, can you please confirm if you're still running into the problem?

[2021-09-30 09:59] ViktorHofer commented on #57196
Reopening as it is still failing.

[2021-09-30 10:06] ViktorHofer commented on #57196
According to runfo multiple hits in the last 7 days: https://runfo.azurewebsites.net/search/build-logs/?bq=started%3A%7E7+definition%3Aruntime+result%3Afailed+kind%3Arolling&lq=text%3A%22Format+job+found+errors%22+logName%3A%22Formatting+windows+x64%22+limit%3A200

- https://runfo.azurewebsites.net/view/build/?number=1394305
- https://runfo.azurewebsites.net/view/build/?number=1389254
- https://ru

[2021-09-30 10:08] karelz commented on #58814
@DenisRumyantsev can you please confirm that latest .NET 6 builds (RC1+) work fine? They should contain the fix mentioned above and we should first confirm it really addresses your problem.

Regarding .NET 5 patch, can you please explain what is the business impact on you / your customers? How much does the issue hurt your product?
Is earlier migration to .NET 6 an option for you? If not, why?
Not

[2021-09-30 10:09] ViktorHofer commented on #59296
Happened again in https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-73c8eaa6550548838f/PayloadGroup0/1/console.9fc84ee3.log?sv=2019-07-07&se=2021-10-19T02%3A05%3A20Z&sr=c&sp=rl&sig=hxpfG5LpGISdKlhNcs%2Bu2acZBF6hb8EdJEqA7bpPYDM%3D

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1391966&view=results

[2021-09-30 10:12] ViktorHofer commented on #59296
Converted to a runfo live issue, happened 6 times this week.

[2021-09-30 10:14] ViktorHofer opened #59800 "NullReferenceException in BindingDoesNotThrowIfReloadedDuringBinding"
[code]

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1392305&view=ms.vss-test-web.build-test-results-tab&runId=40488044&resultId=110366&paneView=debug

Configuration: `net7.0-Linux-Release-x64-Mono_release-Ubuntu.1804.Amd64.Open`

Runfo Tracking Issue: [bindingdoesnotthrowifreloadedduringbinding](https://runfo.azurewebsites.net/tracking/issue/175)
|Build|Definition|Kind|Run Na

[2021-09-30 10:18] ViktorHofer commented on #57908
Happened again in https://dev.azure.com/dnceng/public/_build/results?buildId=1394020&view=ms.vss-test-web.build-test-results-tab&runId=40523928&resultId=106752&paneView=debug.

[2021-09-30 10:23] ashmind opened #59801 "[API Proposal]: StringReader.Position { get; set; }"
### Background and motivation

Sometimes it is useful to _rewind_ and "recycle" a `StringReader` instead of allocating a new one.
This an be used, for example, to create a reusable pool of those.

It is not a very common scenario, and a custom `StreamReader` can handle it easily, but implementation of `Position` as a wrapper for existing `_pos` field seems trivial enough to suggest it.

See also:

[2021-09-30 10:24] ViktorHofer opened #59802 "System.ServiceModel.Syndication.Tests.Atom10FeedFormatterTests.Write_EmptyFeed_SerializesExpected failing in CI"
[code]

Console: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-733cc8d4ffb44dd4a2/System.ServiceModel.Syndication.Tests/1/console.fb429ba0.log?sv=2019-07-07&se=2021-10-18T15%3A57%3A32Z&sr=c&sp=rl&sig=CEXlQ26zOxWi763kP37J0HPH6TdTearQBp1eBE1P5qM%3D

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1390603&view=ms.vss-test-web.build-test-result

[2021-09-30 10:25] I4-PJ commented on #58374
Hello, I have (maybe similar issue) with NetworkInterface.GetAllInterfaces under Android. When execution the method I am getting "System.Net.NetworkInformation.NetworkInformationException: 'Success'" exception instead of returing expected values.

the exception is thrown within static method at this line:
`var interf = NetworkInterface.GetAllNetworkInterfaces();`

Application min. API is 27, targe

[2021-09-30 10:28] ViktorHofer commented on #59802
According to the runfo search I see multiple hits: https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3Aruntime+name%3Awrite_emptyfeed_serializesexpected

For some reason the live tracking issue only shows one. cc @jaredpar

also cc @StephenMolloy @HongGit

[2021-09-30 10:31] ViktorHofer commented on #54801
According to runfo this is failing multiple times per week (not the same stack as in the initial post but the same as the post above): https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3Aruntime+name%3Arundownvalidation

[2021-09-30 10:36] ViktorHofer commented on #57196
cc @jeffschwMSFT as 25% of the failures in the last 7 days are due to this issue:

![image](https://user-images.githubusercontent.com/7412651/135440022-1413fd6c-da18-4e65-9173-d3c25da503e5.png)

[2021-09-30 10:49] CarnaViire commented on #59451
Seems like a dupe of https://github.com/dotnet/runtime/issues/58355

[2021-09-30 11:08] am11 commented on #59801
Related https://github.com/dotnet/runtime/issues/53218, which is only requesting for `{ get; }`.

[2021-09-30 11:12] stephentoub commented on #59754
We should do:

We plan to allow RandomAccess to be used with arbitrary file handles, not just seekable ones, and not just unseekable ones from FileStream, e.g.
https://github.com/dotnet/runtime/issues/58381
so we shouldn't further special-case FileStream with internal hooks into RandomAccess.  One of the issues I raised from the get-go is RandomAccess isn't the ideal name given this, but it's what

[2021-09-30 11:15] sps014 commented on #58426
I  did  some benchmarks  where I had deleted 100_000_000 numbers from the list from the last index by using  2 methods
[code]
There is some overhead for Index Extension Method.

.NET SDK=6.0.100-rc.2.21420.16

|             Method |       Mean |    Error |   StdDev |
|------------------- |-----------:|---------:|---------:|
|   RemoveIntVersion |   996.8 ms | 19.51 ms | 22.46 ms |
| RemoveIndexVer

[2021-09-30 11:16] karelz commented on #59451
Duplicate of #58355

[2021-09-30 11:16] #59451 closed

[2021-09-30 11:16] meiedomi commented on #1420
@Timovzl I think that `ContinueWith` inherits the execution context from the thread calling that method, and not from the task that eventually kicks off the continuation. But either way, the problem is that the mere act of *inheriting* the execution context is enough to lose the original context in which the unit of work is created and run, and thus the `TransactionScope` will not be properly rest

[2021-09-30 11:28] tmds opened #59803 "Make it unnecessary to add new versions of known distros into the RID graph"
Following the discussion on https://github.com/dotnet/runtime/pull/57832.

We should look into the changes (to the host, nuget and sdk) that make it unnecessary to update the RID graph for new versions of Fedora, Alpine, ...

cc @ericstj @richlander @ViktorHofer @omajid

[2021-09-30 11:28] antonfirsov commented on #56750
To reason about the root cause, we need to see the call stack and the program's state around the *first* handle registration that doesn't throw.

Ideally, we should be able to get this info by asking users to enabling tracing, but unfortunately we are not logging the handle value anywhere. We need to provide private builds with extended logging, or exchange debug info with customers in other ways.

[2021-09-30 11:51] qmfrederik commented on #56828
@scalablecory I haven't found any. What I've seen so far seems to be focused on Bluetooth LE on iOS/Android.

My use case is to set up a L2Cap server with which Bluetooth devices can interface, on Linux. This involves setting up a L2Cap socket listener.

The main limitation I'm hitting is that the .NET Socket/SocketListener classes don't support `AddressFamily.Bluetooth` / `ProtocolType.L2Cap`. Th

[2021-09-30 12:02] dovisutu commented on #41914
Yeah, that's reasonable.
Occasions like with Java does occur, though, so I'd prefer changing separators to `/` upon creation (and only creation). (Or possibly control the behavior through an option.)
BTW, if *not* doing the change, I suggest noting that backward slashes may have unexpected compatibility issues with some programs in the documentation. (Does that count as compatibility issues?)

[2021-09-30 12:07] raffaeler opened #59804 "Discussion: Deserialization should not validate the match on the property/field data type"
Let's say I have the following class
[code]

and I later modify it to the following one:
[code]

When deserializing the old json document to the new version of the class I get:

[code]

I don't get why the restriction applies to the data type of the property `X` and not just the name.
There are many scenarios where I have to manipulate the data type:
* transforming an array to a list so that it pl

[2021-09-30 12:09] clguiman commented on #58517
I originally ran into the issue while using the ICorDebug APIs, but I wasn't aware pointers to value types are a special case. I assumed SOS had the same issue, that's why I opened the bug with an SOS repro.
I will investigate and see if I can inspect the object using your proposal and create a new bug if I fail.

[2021-09-30 12:09] #58517 closed

[2021-09-30 12:12] vkuehn opened #59807 "CS0433 The type 'ImageConverter' exists in both...."
### Description

CS0433 is now well know and a workaround would be an alias the the desired type. For me in a visual Studio 2019 Project for dotnetcore 5.0 in the using section of a class file this

using SDmageConverter = System.Drawing.ImageConverter;

or even for

System.Drawing.ImageConverter imgConverter = new System.Drawing.ImageConverter();

did already cause a
CS0433	The type 'ImageConvert

[2021-09-30 12:15] MarkLynch-puzzel opened #59948 "FileInfo.DirectoryName return invalid information on MacOS"
### Description

The problem is on the FileInfo object returns an invalid path string when the DirectoryName property is called.

[code]
this will output **/Users/ml/Projects/example/file:/Users/ml/Projects/example/bin/Debug/netcoreapp3.1**

If you then try to use the directory string to say iterate the other files in the directory
foreach(var file in Directory.GetFiles(fi.DirectoryName)){}
this c

[2021-09-30 12:34] FilipToth commented on #41914
I wouldn't exactly call it a compatibility issue. Just note that `\` aren't as widely accepted by different applications. And yes, an option would be amazing to have.

[2021-09-30 12:51] vkuehn commented on #59807
Configuration did disapear
     |PackageReference Include="itext7" Version="7.1.16" /|
    |PackageReference Include="System.Data.SqlClient" Version="4.8.3" /|
    |PackageReference Include="System.Drawing.Common" Version="5.0.2" /|
    |PackageReference Include="System.ServiceModel.Duplex" Version="4.8.1" /|
    |PackageReference Include="System.ServiceModel.Http" Version="4.8.1" /|
    |PackageR

[2021-09-30 13:00] rajendranr-5483 commented on #58469
@TimLovellSmith,

We have rolled the 2021 Volume 3 release by today.

[2021-09-30 13:03] tmds commented on #59705
I ran this benchmark on my machine and I could not reproduce the regression.

I ran it using the tmpfs at /tmp, and using a folder that is mounted with btfs.

_FALLOC_FL_KEEP_SIZE_, tmpfs

[code]

_posix_fallocate_, tmpfs

[code]

_FALLOC_FL_KEEP_SIZE_, btrfs

[code]

_posix_fallocate_, btrfs

[code]

[2021-09-30 13:13] fanyang-mono commented on #59679
@radical Have you tried rerun this lane to see if the failure went away?

[2021-09-30 13:20] fschmied commented on #59403
@wfurt I didn't really mean performance. AFAIK sync-over-async is an anti-pattern that can cause [grave problems](https://devblogs.microsoft.com/pfxteam/should-i-expose-synchronous-wrappers-for-asynchronous-methods/). That's why I think the docs section mentioned above isn't really good advice, especially for the scenario described here.

That's really cool and will make some thinks easier. In thi

[2021-09-30 13:25] ymarcov commented on #58100
Hi again, back from holidays with an update.

I've delved into the code here and gotten to know it more, which in itself was a worthy outcome of opening this issue. I've implemented the collection adapter as mentioned above, and it works. However, I've come to learn, through using the runtime benchmark tools and surveying various benchmarks, that the only interesting use case that is significantly

[2021-09-30 13:38] fschmied commented on #59403
@drauch I've just found that @stephentoub wrote a really nice article about subclassing `Stream` wrt sync and async in 2012: https://devblogs.microsoft.com/pfxteam/overriding-stream-asynchrony/ . I guess, it's still valid (although we didn't have `Memory`-based APIs back then):

Regarding the abstract, sync members:

If your stream is only readable or only writable, or if you wanted to prohibit sy

[2021-09-30 13:40] eiriktsarpalis commented on #59804
This is something we're considering for .NET 7. Duplicate of #44428.

[2021-09-30 13:40] #59804 closed

[2021-09-30 13:43] eiriktsarpalis commented on #59804
FWIW this is the proposed design https://github.com/dotnet/runtime/issues/44428#issuecomment-767217872. Please let us know in the other issue if that would solve the issue for you.

[2021-09-30 13:47] #59665 closed

[2021-09-30 13:58] karelz opened #59809 "Add AppContext switch to set default MaxConnectionsPerServer"
### Problem description

Larger applications migrating from .NET Framework to .NET Core can hit **port exhaustion** caused by the fact that `MaxConnectionsPerServer` on `HttpClient` defaults to INF on .NET Core (while it is configurable app-wide in .NET Framework via `ServicePointManager`).
The fix is often not straightforward when the app uses multiple in-house and external libraries (incl. NuGet

[2021-09-30 14:10] jeffschwMSFT commented on #59787
I presume you are referring to this Win32 API: https://docs.microsoft.com/en-us/windows/win32/api/setupapi/nf-setupapi-setupdienumdeviceinterfaces.  Can you share your DllImport signature?

[2021-09-30 14:12] karelz commented on #58033
@daniilzaonegin will you be able to validate that it solved your problem on 6.0 RC2 daily builds? Thanks!

[2021-09-30 14:15] am11 commented on #58355
Seems like it has spiked quite significantly in outerloop runs after tweaking made in https://github.com/dotnet/runtime/commit/360df71eadde0d1394ee7b89693f83913f75575d.

cc @ViktorHofer noticed many legs are failing on this test.

[2021-09-30 14:16] eerhardt commented on #57908
It looks like both times this failed, it was on a "slow" coreclr. The first time it was during "jitstress" and this last time it was on a checked x86 coreclr.

Is there a way we can detect when running in these modes, and skip the test in those cases?

[2021-09-30 14:16] karelz commented on #59314
@antonfirsov can you help point out to example/test of simple Sockets server & client code?

[2021-09-30 14:16] Mike-E-angelo commented on #58469
I can confirm that I have working `SfGrid`'s again!  Thank you all!

https://www.nuget.org/packages/Syncfusion.Blazor/19.3.0.43

[2021-09-30 14:26] danmoseley commented on #57908
It's usually easier to just increase the timeout. At least if the test is only verifying there's no hang, and in normal circumstances will still complete quickly.

[2021-09-30 14:27] danmoseley commented on #57908
We have tests eg that I eventually upped to 30s timeout that normally complete in 2s.

[2021-09-30 14:41] krwq commented on #57908
I've created a PR which increases the timeout up to 30s https://github.com/dotnet/runtime/pull/59811 . If this happens again I'd expect either the configuration be horribly slow or an actual product issue

[2021-09-30 14:42] radical commented on #59679
Yeah, that went away on the final run.

This shows different runtime tests failing on android/x64, but it might be from an earlier attempt?
https://github.com/dotnet/runtime/pull/59391/checks?sha=20a67a11f22c52868a9090aebea9858a845f6b51

[2021-09-30 14:43] aik-jahoda commented on #57892
The tool is still running Credential Scanner 2.1.17. There is no ETA to upgrade to latest (https://github.com/dotnet/arcade/issues/7897). I will take a look and try to resolve all issue for current Credential Scanner.

[2021-09-30 14:45] NikolaMilosavljevic commented on #41695
Moved to 7.0.

[2021-09-30 14:49] krwq commented on #35752
Is this still an issue? I'm seeing that https://github.com/dotnet/runtime/issues/35451 is closed but https://github.com/dotnet/runtime/pull/39923 which was supposed to fix the issue was not merged

[2021-09-30 14:50] fanyang-mono commented on #59679
This link shows all green. I don't see any test failing.

[2021-09-30 14:53] krwq commented on #43826
Should we close this issue and re-open if we see further occurances? If not should we at least remove the `blocking-clean-ci` label if it wasn't seen for some time?

[2021-09-30 14:54] radical commented on #59679
I meant the Build Analysis page

[2021-09-30 14:56] krwq commented on #43952
Is this a dup of https://github.com/dotnet/runtime/issues/51584 ? Per @safern's [comment](https://github.com/dotnet/runtime/issues/43952#issuecomment-737521390) the message on both issues is the same

[2021-09-30 15:07] marcospgp commented on #18668
Priority queues are unfortunately not available in the .NET version shipping with the latest long term support version of Unity. Does anyone know of an alternative?

[2021-09-30 15:09] fanyang-mono commented on #59679
Ah, I see. I went through three test failures in the [log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-59391-merge-b2eea6f7d322439899/Loader.classloader/1/console.18171d08.log?sv=2019-07-07&se=2021-10-19T19%3A01%3A36Z&sr=c&sp=rl&sig=lQi5ymgR7DmhJyq2qLT0DVfP7Dt%2FRsW9fulZQtTrPNE%3D). The first two have error message `Can't find service: package`. In the log of th

[2021-09-30 15:10] performanceautofiler[bot] opened #59813 "Regressions in System.Text.RegularExpressions.Tests.Perf_Regex_Common"
### Run Information

Architecture | arm64
-- | --
OS | Windows 10.0.19041
Baseline | [a526f96d319bb46c5045a18d107b4d704335cf7b](https://github.com/dotnet/runtime/commit/a526f96d319bb46c5045a18d107b4d704335cf7b)
Compare | [87a22d66ff6ff442aa48ecb40b397ee9d1930ad5](https://github.com/dotnet/runtime/commit/87a22d66ff6ff442aa48ecb40b397ee9d1930ad5)
Diff | [Diff](https://github.com/dotnet/runtime/compa

[2021-09-30 15:10] kunalspathak commented on #59813
Introduced in https://github.com/dotnet/runtime/pull/59429

[2021-09-30 15:10] krwq commented on #44862
Are we using latest xharness on the failing runs? @premun's fix should've fixed this. Perhaps we haven't yet used the latest version on the recent run and it is now fixed?

[2021-09-30 15:11] kunalspathak commented on #59813
@sandreenko

[2021-09-30 15:29] jkotas commented on #57198
Based on the content of the stack, there was an exception throw from `Utf8JsonReader.Read`, the catch block got executed, but we failed to resume the normal execution in `ReadWithCommentsHelper` after the catch block (jumped to IP=0 instead). I am not able to tell more from the dump.

Another interesting detail is that there is a GC thread suspension in progress that may be related and triggering

[2021-09-30 15:33] premun commented on #44862
I don't think I was fixing this issue. @radical?

[2021-09-30 15:36] eiriktsarpalis commented on #56835
This doesn't require API review and I'd support a PR that adds an IList implementation. @iRon7 would you be interested in contributing?

[2021-09-30 15:36] drauch commented on #59403
Thank you @fschmied for digging into this.

So, in short, I should probably:

* Throw NotSupportedException in sync methods
* Override the ReadAsync/WriteAsync async Memory-based methods as suggested by @huoyaoyuan

Unfortunately, this still leaves me with my question of whether and how to properly implement IDisposable/IAsyncDisposable if I need to perform an async operation in the disposal of th

[2021-09-30 15:39] jkotas commented on #57198
I see this in RtlRestoreContext:
[code]
Can this be a problem if the signal gets delivered right after `mov sp, x17`, `x16` points to the portion of the stack that was just unwound and `[x16, CONTEXT_Pc]` gets overwritten by the signal handler?

[2021-09-30 15:40] sandreenko commented on #59813
interesting, I will take a look this week.

[2021-09-30 15:47] aik-jahoda commented on #57892
@ViktorHofer, @adiaaida  is it possible to get the credscan result file? In the log above there is only summary what file was affected, the final result is more detailed.

[2021-09-30 15:50] BruceForstall commented on #57196
cc @jkoritzinsky

PR to fix: https://github.com/dotnet/runtime/pull/59806

[2021-09-30 15:54] lambdageek commented on #59766
Interesting.

It should definitely be looking next to the assembly if the `DLLIMPORTSEARCHPATH_ASSEMBLY_DIRECTORY` flag is set:

https://github.com/dotnet/runtime/blob/8e9ab9f885644d6dee0b4813982507c10db14bf9/src/mono/mono/metadata/native-library.c#L529-L534

It looks like we set the  flag when it goes through `NativeLibrary.LoadByName`, but if you just have a normal `[DllImport]` and no dll impor

[2021-09-30 15:54] danmoseley commented on #18668
@marcospgp you could copy/paste the PriorityQueue code, it's MIT licensed. It's likely just PriorityQueue.cs and PriorityQueueDebugView.cs. However if you do distribute it, please change the namespace to avoid confusion.

[2021-09-30 15:57] marcospgp commented on #18668
@danmoseley Where can I find the source code? [Is this it](https://referencesource.microsoft.com/#PresentationCore/Shared/MS/Internal/PriorityQueue.cs)?

[2021-09-30 15:58] janvorli commented on #57198
Yes, it seems that this is problematic w.r.t. to interruptions of all kinds, including async signals. I'll take a look.

[2021-09-30 15:59] krwq commented on #48798
Is this still an issue? Runfo shows 0 failures in the last month

[2021-09-30 16:01] adiaaida commented on #57892
I am attempting to get the logs for you.

[2021-09-30 16:02] radical commented on #44862
which fix?

[2021-09-30 16:06] josalem commented on #54801
Looking at the linked failures in the runfo page, I think there are two different failures and neither is the one tracked in this issue. If I recall, there's a different issue tracking the mono timeout failure that makes up the majority of them, but the two coreclr Windows x86 failures looks new. When I get back to my desk I'll see about rearranging things so the right issue is tracked.

[2021-09-30 16:06] josteink commented on #14537
For those out of the loop, `runtimelabs` now has a `feature/FreeBSD` branch, courtesy of @wfurt :

https://github.com/dotnet/runtimelab/pull/1609

[2021-09-30 16:07] Timovzl commented on #1420
@meiedomi Actually, it juts hit me that the problem is that **the deeper async layers cannot make changes that are observable to the outer layers**. We can circumvent this with a simple layer of indirection.

As a crude first attempt:

- Use an `AsyncLocal<UnitOfWork[]>`. (Yes, an array. Eventually we might use a more efficient wrapper, but a single-element array serves our purposes for now.)
- To

[2021-09-30 16:07] samsosa commented on #18668
@marcospgp
https://github.com/dotnet/runtime/tree/main/src/libraries/System.Collections/src/System/Collections/Generic

[2021-09-30 16:11] danmoseley commented on #18668
Right. I wasn't actually aware of the WPF one and I would recommend ours.

[2021-09-30 16:14] karelz commented on #59549
Triage: Would be nice perf improvement, not critical for 7.0. Although we have PR up which may land in 7.0.

[2021-09-30 16:18] karelz commented on #59809
Triage: We think this may be valuable for migration, worth it in 7.0, unless better alternative solution appears.

[2021-09-30 16:25] ericstj commented on #59791
I agree, I'd really hope we could have a state where we either support the serialization as the same or throw if it cannot be supported  Is this an outlier or is their some pattern that lends itself to a tail of these behavior differences?  Can we do something systematic to find all of them?

WRT to a new API, can we do something like GetDefaultConverter<T>() where T is the type to convert?  I bel

[2021-09-30 16:27] ericstj commented on #59744
Welcome @huoyaoyuan, @SingleAccretion, and @tmds! Thank you so much for your help!

[2021-09-30 16:34] jkoritzinsky opened #59815 "Mono does not implement coreclr_create_delegate hosting API or ComponentActivator"
Mono does not implement the `coreclr_create_delegate` hosting API method nor the ComponentActivator class used by the nethost library. This is blocking us from running the DllImportGenerator.Tests suite, since we use DNNE to enable easier managed->native testing in the libraries suite by implementing the "native" side primarily in managed code.

[2021-09-30 16:40] mkArtakMSFT commented on #59816
@lewing FYI

[2021-09-30 16:43] #58849 closed

[2021-09-30 16:51] #59464 closed

[2021-09-30 16:54] krwq commented on #57908
I'll close this issue for now since the timeout is increased. If we see another hit we should re-validate if the test should be changed/timeout increased further/this is an actual product issue

[2021-09-30 16:54] #57908 closed

[2021-09-30 17:01] eiriktsarpalis commented on #59791
Effectively should check to find what in box converters are not being to source gen.

[2021-09-30 17:02] adiaaida commented on #57892
I haven't been able to save the logs yet (maybe didn't get the path right? Not sure. Do you know where the results file is saved?) However, if you look at the output in this job, you'll see the failures, for example: https://dev.azure.com/dnceng/internal/_build/results?buildId=1395453&view=logs&j=d5be4b06-a322-5f90-54ec-b848ca73ce8f&t=40953ac7-4d66-52f0-9577-2d287bb96708&l=546

[2021-09-30 17:03] DenisRumyantsev commented on #58814
@karelz @wfurt
I confirm that .NET 6 RC1 works fine, without this issue.
We have reached a decision that we will be moving towards migration on .NET 6.
Thank you for clarifying this issue, I am closing it.

[2021-09-30 17:03] #58814 closed

[2021-09-30 17:08] jasonswearingen commented on #59718
Thanks for your help @sakno ,  I implemented a similar workaround, but yours is better, in that you were able to figure out how to encapsulate it into a `TypeLocal` class.  So I will use your solution.

I do think that a runtime native solution would be greatly beneficial:  as, besides the space inefficiencies you mentioned,  your benchmark shows that in some circumstances it's still a 35x perform

[2021-09-30 17:14] #57196 closed

[2021-09-30 17:20] marcospgp commented on #18668
I tried copying the source code but run into a few issues with names not existing in context, such as with `SR`, `EnumerableHelpers`, `MaybeNullWhen`, and `Array.MaxLength`. I'm not sure how to include and where to find these.

[2021-09-30 17:27] danmoseley commented on #18668
SR is generated at build time -- if you build it will be in your artifacts folder. Or you could ILSPY System.Collections.Generic.dll after installing .NET 6.0 RC1.
The other three you can find in this repo and should be easy to either grab or snip the usage.

[2021-09-30 17:34] ericstj commented on #59791
Seems that we should have test cases for all of these that can be run through source generator.

Shouldn't the source generator be sharing the code that understands all inbox converters and either have a source-generator representation of the algo (if it is small and unlikely to require servicing), or fetch the converter and call into it?  Or is this grey-area where the converter is only hooked up

[2021-09-30 17:41] iRon7 commented on #56835
@eiriktsarpalis; sorry, but I do not have enough C# knowledge to contribute to  the requested enhancement itself. The only contribution I would be capable to do is testing it (under PowerShell).

[2021-09-30 17:51] Symbai opened #59819 "Published app silently crashes with: Bundle header version compatibility check failed."
### Description

Running a framework dependend, single file published wpf .NET 6.0.100-rc.1.21463.6 on a computer without .NET6 installed silently fails. But there should be a messagebox that runtime is missing. Event viewer says:

[code]

Publish settings:
![image](https://user-images.githubusercontent.com/14368203/135505980-24957226-5892-4cad-a8d2-5aac00b13e52.png)

### Configuration

.NET 6.0.1

[2021-09-30 17:52] lambdageek commented on #59815
@jkoritzinsky This [CompnentActivator](https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/coreclr/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs) ?  What's DNNE - I'm not familiar with the acronym.

[2021-09-30 17:54] josalem commented on #54801
@ViktorHofer I think the problem that runfo is tracking in this Issue is actually #59296.

CC @lateralusX since this appears to be affecting Mono

[2021-09-30 17:55] jkoritzinsky commented on #59815
Yes, that is the ComponentActivator I'm referring to. DNNE is [DotNetNativeExports](https://github.com/AaronRobinsonMSFT/DNNE), an project that @AaronRobinsonMSFT started that makes exposing managed code as native exports much simpler (and has significantly streamlined our ability to test the DllImportGenerator source generator).

[2021-09-30 17:56] Jozkee commented on #59754
@stephentoub so should the plan be to merge the PR https://github.com/dotnet/runtime/pull/58506? If so, do you think is far from merging?

[2021-09-30 18:04] marcospgp commented on #18668
Hmm at that point it becomes complex enough that implementing a custom solution starts to seem like a good idea. Thanks for your help though!

[2021-09-30 18:08] lambdageek commented on #59815
@jkoritzinsky What's a good way to get an overview of how the DllImportGenerator testing is designed?  You're telling me some pieces and I'm having a hard time putting the whole thing together in my head.

@steveisok I think we need to have a discussion about how this testing will look on mobile.

[2021-09-30 18:08] ericstj opened #59821 "Avoid running test assemblies in parallel in the same xunit process"
As mentioned in https://github.com/dotnet/runtime/issues/11063#issuecomment-920367487

We shouldn't be relying on concurrent execution of test assemblies in the xunit runner on non .NETFramework.  We've hit multiple issues because of this:
https://github.com/dotnet/runtime/issues/11320
https://github.com/dotnet/runtime/issues/11063

We've gotten some patches into xunit to avoid these, but we shoul

[2021-09-30 18:10] Symbai commented on #36765
@vitek-karas @richlander Any update on this? Can we please get this fixed for .NET 6? Because on RC1 this issue still exist, the prompt clearly says what's missing:
![image](https://user-images.githubusercontent.com/14368203/135507990-5a6f8c68-f8ac-450f-ad85-c948c762e7c8.png)
But clicking on opens an URL which contains all the necessary information:
`https://aka.ms/dotnet-core-applaunch?missing_ru

[2021-09-30 18:14] Symbai commented on #3816
The issue is still not fixed, users get console / desktop / server downloads including x86, x64 and arm64 downloads to choose from, what a nightmare: https://github.com/dotnet/runtime/issues/36765#issuecomment-931549822 isn't there anyone else than richlander who can fix this redirection bug?

[2021-09-30 18:22] agocke commented on #59819
@VSadov Can you take a look and see what error path we have for this scenario?

[2021-09-30 18:33] sakno commented on #59718
There is no magic and CLR/C++ level. The solution still requires array-like data structure, no matter in which language it is implemented. IMO, ~ 1.6 ns is a very good result. `Get<T>` will be translated by JIT to a few assembly instructions. In other words, its overhead is equal to the array access without bounds check. I'm not sure that there is a room for further improvements.

[2021-09-30 18:43] jpobst commented on #47601
Context: https://github.com/xamarin/xamarin-android/issues/6349

We are just noticing that we have this same issue in Xamarin - Android.

Previously we have shipped N copied of `Mono.Android.dll` where N is each supported Android API level, so each level you target is able to have the correct `[Obsolete]` attributes for that level.

Example: [`DevicePolicyManager.clearDeviceOwnerApp (string)`](htt

[2021-09-30 19:03] carlossanlop commented on #59617
Thanks for reporting. I'm glad you could clarify some of your questions by reading the blog post, they are part of our documentation as well. I assume you're talking about the official blog post and video?:

- Blog post: https://devblogs.microsoft.com/dotnet/an-introduction-to-system-threading-channels/
- Video: https://channel9.msdn.com/Shows/On-NET/Working-with-Channels-in-NET

We can definitely

[2021-09-30 19:10] MhdTlb commented on #59207
@ManickaP  Unfortunately, we can not upgrade to .NET 5.0 right now. Is there a workaround to keep using 3.1?

[2021-09-30 19:21] AaronRobinsonMSFT commented on #59815
The design is pretty simple. The tests are XUnit based and have a series of P/Invoke signatures. The DNNE package generates native platform library that represents specific exports from the managed assembly. When the test P/Invokes into the generated native library it does two things: (1) verifies the runtime is loaded and (2) finds the associated managed function that was indicated to be exported

[2021-09-30 19:25] AaronRobinsonMSFT commented on #59721
I don't think it is and I believe we want that in this case. Or are you referring to the case where transitioning itself may cause last error to be impacted?

[2021-09-30 19:29] elinor-fung opened #59823 "Make QCalls respect EntryPoint"
QCalls currently always use the method name and just ignore `EntryPoint` from the `DllImport` attribute. We should make them respect `EntryPoint`. This would help with sharing CoreLib between CoreCLR and Mono and also allow for DllImportGenerator to support them.

See also: https://github.com/dotnet/runtime/pull/59658#discussion_r717001054

cc @AaronRobinsonMSFT @jkoritzinsky

[2021-09-30 19:29] lateralusX commented on #59296
The 4 failures with core dumps is due to an assert where runtime tries to load an aot version of the assembly running in full aot mode, but since this is not a full aot test lane, there are no aot versions of assemblies:

Failed to load AOT module '/datadisks/disk1/work/A70408DA/w/BEDE09DE/e/baseservices/varargs/varargsupport_r/varargsupport_r.dll.so' ('/datadisks/disk1/work/A70408DA/w/BEDE09DE/e/

[2021-09-30 19:39] AaronRobinsonMSFT commented on #59823
/cc @lambdageek

[2021-09-30 19:46] elinor-fung opened #59824 "Reconcile blittable and unmanaged concepts"
C# has the concept of an [`unmanaged`](https://docs.microsoft.com/dotnet/csharp/language-reference/proposals/csharp-7.3/blittable#detailed-design) constraint, but that does not map to blittability for interop in the runtime. We should investigate reconciling the two.

See https://github.com/dotnet/runtime/pull/59658#discussion_r718826623

cc @AaronRobinsonMSFT @jaredpar @jkoritzinsky @lambdageek

[2021-09-30 19:51] lambdageek commented on #59815
ok, I think I understand so far.

In C# you write a P/Invoke declaration. It's body is some boilerplate that ultimately calls back to C#.  DNNE generates that boilerplate.  Then from a C# xunit test you invoke the P/Invoke, that calls into the generated native library which invokes a managed method and the managed method records the test success in some way?

I'm unclear on what (1) means.   Isn't

[2021-09-30 20:09] VSadov opened #59825 "LoadFromNativeImagePath needs adjustment for not supporting NI images"
The API takes a path to NI image and an optional assembly path.

Two issues:
- we do a null-check on NI path, but otherwise ignore it since we can't do much about it.
- we perform the bind using the optional assembly path, without null check, which might ungracefully fail.

We should null-check the assembly path and throw or return null, if throwing is a compat issue.
Perhaps the API should be dep

[2021-09-30 20:11] AaronRobinsonMSFT commented on #59815
DNNE itself is typically used for providing native exports of managed assemblies. The generated native library can be consumed naturally from a native application and the fact that the underlying implementation is managed is an implementation detail that is hidden.

The usage of DNNE in this case is to avoid having any explicit native assets to test the DllImport source generator. Testing the DllI

[2021-09-30 20:23] carlossanlop commented on #51051
@dovisutu can you point out where in the spec is this behavior described as allowed? I can't find anything related to duplicate naming: https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT

[2021-09-30 20:29] wfurt commented on #14537
With the fixes I can combine it with Linux SDK (COMPlus_ReadyToRun=0 & COMPlus_ZapDisable=1) and run "dotnet new console". actual "dotnet run" failed so I probably need to also progress publishing packages as @jkotas suggested and perhaps apply more fixes to the SDK
[code]

[2021-09-30 20:36] carlossanlop commented on #1571
Since this is expected behavior, and we should protect the ADS, I think this issue should become a documentation improvement.

[2021-09-30 20:46] jkotas commented on #59721
I consider transitioning itself (e.g. the call to `JIT_ReversePInvokeEnter` helper) to be part of the prolog/epilog.

`JIT_ReversePInvokeEnter/JIT_ReversePInvokeExit` helpers do not seem to be guaranteed to preserve the last error on all paths. Also, there may be other helper calls generated by the JIT as part of the prolog/epilog that may be also altering the last error in some situations.

[2021-09-30 20:50] lambdageek commented on #59815
Thanks for the clarifications @jkoritzinsky @AaronRobinsonMSFT.

Ok, great.  So I understood what's going on ;-)

I didn't mean that it's an alternative for DNNE.  Just trying to make sure I understand what the tests are meant to do.

---

So I think in summary to run on mobile where dynamic linking is allowed we would need to:
1. Run `dnne-gen`
2. Compile the resulting code with the compiler tool

[2021-09-30 20:52] vitek-karas commented on #59819
This is going to a bit tricky. The error in this case comes from the downlevel `hostfxr` (I don't know which version it is in this case, but let's say 5.0).

We do have a check for really old hostfxr, like 3.1 which didn't support the new bundles, in which case the apphost will fail with a good error and I think it should show a dialog about needing to install newer version.

But in this case, the

[2021-09-30 21:00] karelz commented on #59207
@MhdTlb there is no workaround to our best knowledge. Why cannot you upgrade to .NET 5.0 now? What limits you?
If you need LTS, did you consider .NET 6.0? (it is now in RC1 which has go-live license, with GA following soon in November)

[2021-09-30 21:04] MichaelSimons commented on #49026
I hate to be the bearer of bad news but I think this issue is impacting source-build, see https://github.com/dotnet/source-build/issues/2403.  Is it possible to fix this in 6.0?

[2021-09-30 21:20] jeffhandley commented on #57952
I'm going to close this as not feasible based on the goals/design of the source generator per @stephentoub's comment. @TonyValenti, please let us know if you think a different approach/feature should be considered here to accomplish what you're seeking.

Thanks.

[2021-09-30 21:20] #57952 closed

[2021-09-30 21:23] jeffhandley commented on #58027
@EgorBo / @kunalspathak / @tannergooding Can one of you self-assign to indicate that you're going to further investigate this? Thanks.

[2021-09-30 21:25] johnthcall opened #59829 "System.Xml.XmlTextReaderImpl could possibly benefit from Span"
### Description

In the Azure SDK ecosystem errors are serialized by the server as XML and parsed into XDocument, In the stack trace below the string message is wrapped into a TextReader which is then passed down to the XmlTextReaderImpl where a buffer is allocated. Even in the case when InitTextReaderInput is called with a string source instead of a TextReader the entire string is copied to a new

[2021-09-30 21:27] jeffhandley commented on #58547
Closing per @TamarChristinaArm's comment above.  Thanks!

[2021-09-30 21:27] #58547 closed

[2021-09-30 21:32] JulieLeeMSFT commented on #59704
Setting this to .NET 7. Please update it if you think it needs to be addressed in .NET 6.
Assigning to @EgorBo since inlining related work remains.

[2021-09-30 21:32] msedi opened #59830 "[API Proposal]: Provide a way to resolve native P/Invoke method names"
### Background and motivation

With the NativeLibrary it is now possible to attach a handler to resolve the native library name, by using the NativeLibrary.SetDllImportResolver which is really essential when trying to make the library runnable on many OSses.

Another problem is though, that something similar would be needed when it comes to the resolution of native methods.
Some vendors for exampl

[2021-09-30 21:35] JulieLeeMSFT commented on #59794
@mangod9 could your team take a look? The error is in codeman.cpp.
CC @dotnet/jit-contrib

[2021-09-30 21:50] ericstj opened #59832 "dotnet --info from x64 on ARM64 machine reports both x64 and ARM64 paths"
### Description

Install both x64 and arm64 dotnet.
Run x64 `dotnet --info`

Expect: just see x64 paths
Actual: see x64 and arm64 paths

### Configuration

* Which version of .NET is the code running on? 6.0 RC2
* What OS and version, and what distro if applicable? Win11
* What is the architecture (x64, x86, ARM, ARM64)? ARM64
* Do you know whether it is specific to that configuration? Yes

Bug is

[2021-09-30 21:56] jeffhandley commented on #59152
@AndyAyersMS @kunalspathak @EgorBo What would you recommend as the first step of investigating this?

[2021-09-30 21:58] kunalspathak commented on #59152
@AndyAyersMS - Is this the example that involves struct arguments passing and we hit some struct promotion limit that you were referring to few days back?

[2021-09-30 22:02] ericstj opened #59833 "dotnet --info reports duplicates of paths"
### Description

Run `dotnet --info`

Expect: one instance of each path
Actual: duplicate paths for every entry

[code]

### Configuration

* Which version of .NET is the code running on? 6.0 RC2
* What OS and version, and what distro if applicable? Windows
* What is the architecture (x64, x86, ARM, ARM64)? All
* Do you know whether it is specific to that configuration? Yes, specific to Windows, n

[2021-09-30 22:06] maryamariyan commented on #59800
the test has been there for 3 years, seems like it might not be hit often, worth updating the how the test is written here:

https://github.com/dotnet/runtime/blob/48090398ac359a8862a87682b3265cb3e2f80a9d/src/libraries/Microsoft.Extensions.Configuration/tests/FunctionalTests/ConfigurationTests.cs#L980-L987

[2021-09-30 22:11] #59333 closed

[2021-09-30 22:11] #50535 closed

[2021-09-30 22:12] jkoritzinsky commented on #59824
Today, the blittable concept in the runtime is not equivalent to the unmanaged concept in the C# language. Blittable types are a subset of unmanaged types, mainly due to back-compat issues around .NET's initial Windows-focused nature.

All primitives except `bool` and `char` are blittable. In the built-in system, `char` is conditionally blittable when the `CharSet` is set to `CharSet.Unicode`, but

[2021-09-30 22:12] StephenMolloy commented on #57375
PR #59835 should address this. I assigned to you @HongGit so you can decide who to assign to for verification.

[2021-09-30 22:13] StephenMolloy commented on #59802
PR #59835 should address this. I assigned to you @HongGit so you can decide who to assign to for verification.

[2021-09-30 22:14] jkoritzinsky commented on #59830
This is a duplicate of https://github.com/dotnet/runtime/issues/1906

[2021-09-30 22:17] AndyAyersMS commented on #59152
I don't think so -- the test doesn't look like it involves structs.

https://github.com/dotnet/performance/blob/d7dac8a7ca12a28d099192f8a901cf8e30361384/src/benchmarks/micro/runtime/perflab/DelegatePerf.cs#L32-L44

As far as investigating goes, we should see if we can repro locally, then we can drill in (perhaps start with jitted codegen for the benchmark method).

What HW was this...?

[2021-09-30 22:19] richlander commented on #59832
+1

We want this change.

[2021-09-30 22:19] ericstj commented on #59832
On x64 on ARM64 that ought to return a path with x64 suffix

[2021-09-30 22:24] agocke commented on #59832
@mateoatr Can you look into this?

[2021-09-30 22:24] agocke commented on #59832
Looks related to https://github.com/dotnet/runtime/issues/51101

[2021-09-30 22:28] ericstj commented on #59833
The same repros in GA. Looks like MSI appends that to all directory properties and I don't see a good way to trim it.

One possible fix is to normalize these paths by stripping the slash. Looks like that is already done for the `dotnet_dir` seems reasonable to apply that same normalization to the `global_dirs`
 https://github.com/dotnet/runtime/blob/db1b3023b791aa93d9095699117efb4c0afc41c7/src/nat

[2021-09-30 22:36] Thefrank commented on #14537
wait. what. we have an RTM build now for net6?!
@wfurt what failures were you getting? AFAIK: `SDK` needs nothing patched, `aspnetcore` only needs RIDs added and only for building for it and `installer` only needs RIDs and only for building/publishing.

[2021-09-30 22:37] tannergooding opened #59838 "Investigate codegen for Vector128.GetUpper"
As per https://github.com/dotnet/runtime/pull/53450#discussion_r719753375, it would like be beneficial to investigate changing the codegen of `Vector128.GetUpper` to use `DUP` rather than `EXT` on ARM64.

category:cq
theme:codegen

[2021-09-30 22:40] richlander commented on #59832
Here's what I think the ideal text would look like:

[code]

[2021-09-30 22:47] lewing commented on #59147
@SteveSandersonMS I found two cases which appears to match the number of failures per file.  I've opened https://github.com/dotnet/runtime/pull/59839 for net6.

[2021-09-30 22:48] wfurt commented on #14537
That build is essentially runtime/release/6.0 + few patches. Since RC2 is out, I think that may become RPM @Thefrank .
The runtime is cross-compiled on Linux and SDK is vanilla Linux/OSX.
To make that work I play tricks with versions. (and I did not modify NuGet config)

[code]
may goal here is to get to point when we can produce bootstrap SDK in some sustainable way.

[2021-09-30 22:49] lewing commented on #59147
@pavelsavara we should resolve this in main but I can wait till https://github.com/dotnet/runtime/pull/59655 lands

[2021-09-30 22:50] #59766 closed

[2021-09-30 22:50] #59830 closed

[2021-09-30 22:50] carlossanlop commented on #49149
@madelson I think what you're facing is what I described in this other issue, which is a problem often reported: https://github.com/dotnet/runtime/issues/35815

The suggested workaround is to change `ZipArchiveMode` to `Create` instead of `Update`. This will avoid having to create the intermediate `MemoryStream` that ends up reaching `Int32.MaxValue`. The reason why this works is because you only

[2021-09-30 22:58] mkArtakMSFT opened #60349 "Regression in Blazor WebAssembly startup time"
We'll use this issue to track the investigation around the first UI render regression (~100ms)

![image](https://user-images.githubusercontent.com/34246760/135540558-53fdfaf2-f086-484d-8391-e7e09f317d9d.png)

[2021-09-30 23:02] safern commented on #59807
Hello @vkuehn, thank you for your report.

The reason why you are seeing that is because the type `ImageConverter` used to be defined on `System.Windows.Extensions` on versions prior to the `5.0.0` version of the package. However on the `5.0.0` version of the package we moved the type to `System.Drawing.Common` and added a `TypeForward` on `System.Windows.Extensions`. See here: https://github.com/

[2021-09-30 23:05] JulieLeeMSFT commented on #59838
Cc @dotnet/jit-contrib

[2021-09-30 23:06] agocke commented on #59832
You think the `.NET SDKs installed` section shouldn't have architectures for each SDK?

[2021-09-30 23:07] jkoritzinsky commented on #49026
@MichaelSimons I have a PR out for 7.0 and am pre-emptively backporting to 6.0. Can you review https://github.com/dotnet/runtime/pull/59842? I'll comment here with the 6.0 PR as soon as it's open.

[2021-09-30 23:08] jkoritzinsky commented on #49026
6.0 PR is open at https://github.com/dotnet/runtime/pull/59843

[2021-09-30 23:21] austinkinross opened #59844 "System.Management fails at runtime on Win10/ARM64"
Code like this compiles for Win10/ARM64 with .NET 6.0 RC1:

[code]

But it doesn't actually work at runtime:

[code]

It would have been nice if either:
1) This code worked as-is on ARM64
2) OR the compiler would give me a compile-time error.

As-is, this was a nasty surprise late in development while porting my x64 app to ARM64.

[2021-09-30 23:21] richlander commented on #59832
It could go either way.

In the general case, a given `dotnet` doesn't see all the other SDKs and runtimes, so it doesn't make sense to me to advertise them in a first-class way. For example, if you get an error that says you are missing .NET 5, it doesn't really help to see it as installed. I think the more "hint" based approach that I'm suggesting is better and then the output is clean and targe

[2021-09-30 23:29] ericstj commented on #59832
I bet this is also related to https://github.com/dotnet/runtime/issues/59473 since it looks like that's likely influenced by the same default linked above.

[2021-09-30 23:32] BruceForstall opened #59845 "Windows x86 Checked CLR build using -O2 hits runtime asserts"
See https://github.com/dotnet/runtime/pull/53888

Note that Windows Checked is currently built using the `-O1` compiler switch.

E.g.,

[code]
and:
[code]

[2021-09-30 23:33] ericstj commented on #59473
The mechanisms to understand you're not on native x64 are as follows:
Windows: [IsWOW64Process2](https://docs.microsoft.com/en-us/windows/win32/api/wow64apiset/nf-wow64apiset-iswow64process2)
Mac: [sysctl.proc_translated](https://developer.apple.com/documentation/apple-silicon/about-the-rosetta-translation-environment)

[2021-09-30 23:55] tannergooding commented on #49397
Keeping this open as there are still a few more APIs that aren't addressed yet.

[2021-10-01 00:36] VSadov commented on #59819
Yes, we should handle extraction failure with a dialog. At least for the common cases like fxr too old. It could be a common mistake.

[2021-10-01 00:43] AaronRobinsonMSFT commented on #59815
@lambdageek I don't fully understand why all these steps are needed in this case. Is it becomes of mono's hosting semantics? I was assuming we could treat DNNE generated native libraries as if they were any other native binary &ndash; P/Invoke into them and be none the wiser?

Step (4) is all that I was expecting as actual work.

[2021-10-01 01:01] #57808 closed

[2021-10-01 01:52] #57198 closed

[2021-10-01 02:33] dovisutu commented on #41914
Upon an irrelavent search I find that the standard had (maybe) changed into the following:
[code]
Here, the description for slashes had changed from `SHOULD` to `MUST`.

Not sure if it's a revision of the former or not, but apparantly changing into `/` became a necessity.
BTW, this is the file header (partial):
[code]

[2021-10-01 03:00] dovisutu commented on #51051
I didn't find explicit statement that allow name duplication either, yet neither did it state that name has to be unique (although that doesn't necessarily indicate an allowance for duplicated name). I'll edit the issue description.
Interestingly, programs like WinRAR are capable of reading and recognizing duplicated file names, yet upon opening specific one it seems to decompress *all* such files

[2021-10-01 03:59] danmoseley commented on #57198
Nice to see a successful diagnosis based on a test run dump. Thanks folks!

[2021-10-01 04:02] jasonpugsley commented on #14537
Can someone please review this set of changes to `dotnet/sdk` ? I would usually make these changes when playing with the `sdk` repo because they _looked_ necessary. If they are then I should really submit a PR 😁

[code]

[2021-10-01 04:15] jasonpugsley commented on #14537
Actually I don't think we even build the old `crossgen` binary anymore so I think I can retire my change in `GetCrossgenComponentsPaths()` now.

[2021-10-01 04:15] Thefrank commented on #14537
@jasonpugsley I do something similar with `dotnet/runtime` (I think @sec did this too, not 100% sure) as a way to handle crossgen2 production and r2r. I never really looked at `SDK` because after net3.1 it never really needed to be built [whatever `dotnet/installer` grabbed worked well enough]. Does it need to be in both places? What would the advantage be of having it in `dotnet/sdk` vs `dotnet/r

[2021-10-01 04:18] jasonpugsley commented on #14537
Yeah, so much has changed on the journey from 3.0 to 6.0 and I haven't kept up with these dependency changes. I was hoping someone else might know 😂
I would think `Microsoft.NET.Build.Tasks` should have knowledge of FreeBSD & crossgen2 though.

[2021-10-01 05:57] Symbai commented on #59819
_What different error message are you thinking about? For me this missing runtime dialog is VERY important because its the only thing which is shown to an end user. And if this "error" is fixed by installing a specific runtime version, then the error should tell the user exactly this. There shouldn't be an error message like "Bundle extraction failed". An end user doesn't know what that means and

[2021-10-01 06:30] vkuehn commented on #59807
That did indeed fix the issue.

Actually I have installed the newest Versions just this week through NuGet  !

If you won't mind updating System.ServiceModel.xxx Packages for a dependency to the latest System.Windows.Extensions version or even better avoid such situation by cleaning duplicate packages in the latest versions

[2021-10-01 06:30] #59807 closed

[2021-10-01 06:42] josteink commented on #14537
It is? :open_mouth:  In that case, somebody needs to tell the MS web team :smile:

https://dotnet.microsoft.com/download/dotnet/6.0

[2021-10-01 06:57] jasonpugsley commented on #14537
We are still not using crossgen here
https://github.com/dotnet/runtime/blob/4963df91bdde00f6ce169b0e267a678e4e7aa221/src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.props#L10-L11
and here
https://github.com/dotnet/runtime/blob/4963df91bdde00f6ce169b0e267a678e4e7aa221/src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Crossgen2.sfxproj#L21-L22
We might need

[2021-10-01 07:01] josteink commented on #14537
As I mentioned in that thread, that only seems to affect the command-line arguments presented to the user when they ask for help. That array doesn't seem to be used anywhere else in the code, and as such, not having `--targetos:freebsd` presented as an option, does not prevent it from actually being used.

[2021-10-01 07:05] josteink commented on #14537
That looks interesting. If we are sure all the other bits should be working as they should,  could try to disable those in runtimelabs and see what happens.

Ideally we should have a FreeBSD CI-build somewhere... So we can actually see if something breaks. Is that something which would be hard to setup?

As I mentioned in that thread, that only seems to affect the command-line arguments presented

[2021-10-01 07:13] jasonpugsley commented on #14537
Yes but I think we need `--targetos:freebsd` for cross-build from Linux so I think it needs to be in the list of valid OS's.
Otherwise Linux can't use it here - specifically `out TargetOS os`
https://github.com/dotnet/runtime/blob/4963df91bdde00f6ce169b0e267a678e4e7aa221/src/coreclr/tools/aot/crossgen2/Program.cs#L49-L60
That's how I read it anyway.

[2021-10-01 07:15] josteink commented on #14537
I'm saying it doesn't. That variable is literally block-scoped in a section of the code whose only task is printing out usage-instructions to the people invoking the command.

It is not at all used during actual parsing of command line parameters supplied to the the program.

[2021-10-01 07:18] jasonpugsley commented on #14537
This is what I meant to post. `_commandLineOptions.TargetOS.Equals("freebsd"`
https://github.com/dotnet/runtime/blob/4963df91bdde00f6ce169b0e267a678e4e7aa221/src/coreclr/tools/aot/crossgen2/Program.cs#L207-L219

[2021-10-01 07:38] jasonpugsley commented on #14537
Ok, I see what you mean. LOL. I had thought it was doing validation of the commandline as well. Thanks!

[2021-10-01 07:41] josteink commented on #14537
To be clear the code you quoted from `Program.cs` is the *actual* code validating the command-line arguments, and as you can see... FreeBSD is indeed a valid option there :smile:

[2021-10-01 07:43] sec commented on #14537
I may be wrong, but after adding https://github.com/dotnet/runtime/commit/3c63559029276fea97633ea6115bcb9acb2cffe2 was working crossgen2 was producing valid output  (at least under FreeBSD during native compile) - before that it was throwing that exception - I say turn it on and let's see -:P

[2021-10-01 07:53] daniilzaonegin commented on #58033
@karelz, just installed VS2022 Pre on my desktop, I'll try to check if the problem is still there later today

[2021-10-01 07:58] meiedomi commented on #1420
@Timovzl I had the very same idea pretty early on. Why not just put the value on the heap (i.e. array/box/whatever) and therefore share it among any async flow? :) And this would actually work for _our own_ unit of work stuff!

However, the issue is that I still need to dispose the `TransactionScope`. And the implementation thereof uses its own `AsyncLocal` to manage the ambient transaction, and d

[2021-10-01 07:58] josteink commented on #14537
What's the worst that can happen? :laughing:

https://github.com/dotnet/runtime/pull/59853

[2021-10-01 08:22] karelz commented on #58033
@daniilzaonegin I don't think 6.0 RC2 is yet part of any VS install, you would need to install 6.0 RC2 daily build from https://github.com/dotnet/core/blob/main/daily-builds.md#future-releases (they are marked as 6.0 daily builds) as it is not officially released yet.

[2021-10-01 08:24] daniilzaonegin commented on #58033
@karelz, ok, I'll install it, thank you!

[2021-10-01 08:32] eiriktsarpalis commented on #59829
Hi @johnthcall, we'd be happy to consider a PR that adds spanification improvements to the XmlTextReader implementation. Would it be possible to also share benchmarks that demonstrate the perf improvements?

[2021-10-01 08:38] premun commented on #59679
Yeah, we should start doing that. The question is whether we should recognize these inside XHarness and give some better exit code.

I am tracking it here: https://github.com/dotnet/xharness/issues/725
Will probably get to it next week though I am on FR. Katya is on holiday.

[2021-10-01 08:38] kefyru opened #59854 "Expose _version in List<T> and other collections"
### Background and motivation

I want to check if lis was changed.
It has private field _version.

### API Proposal

[code]
or
[code]

### API Usage

[code]
or
[code]

### Risks

_No response_

[2021-10-01 08:52] jasonpugsley commented on #14537
Well the worst happened 😂
https://github.com/dotnet/runtime/pull/59853/checks?check_run_id=3765096339
`/root/runtime/artifacts/bin/Crossgen2Tasks/Debug/net6.0/Microsoft.NET.CrossGen.targets(463,5): error : (NETCORE_ENGINEERING_TELEMETRY=Build) Error: Unable to load shared library 'jitinterface_x64' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBU

[2021-10-01 08:53] jasonpugsley commented on #14537
I think Linux is trying to use the just-build FreeBSD binary instead of using it's own crossgen2 restored from a feed.

[2021-10-01 09:06] Timovzl commented on #1420
@meiedomi Argh! 😛 It truly is a tricky one when we have no control over the type working with `AsyncLocal<T>`.

In any case, at least we have a solution for the changes to `TransactionScope` itself that this issue is about. @HongGit @StephenMolloy

[2021-10-01 09:21] teo-tsirpanis commented on #59854
I wouldn't expose the integer value of the collection's version, but something like the following:

[code]

And it could be used like this:

[code]

[2021-10-01 09:22] premun commented on #59679
It already is happening:
https://github.com/dotnet/arcade/blob/27d286184f0ab35a2a252929a04fbb2fe3c57dde/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner/xharness-helix-job.android.ps1#L70-L74

However it won't work for your scenario because you don't float this exit code outside of the Xunit runner.

We need to signal the Helix SDK that this occurred like we spoke about last week by creating t

[2021-10-01 09:25] MaximLipnin opened #59855 "[tvOS] System.ExecutionEngineException : Attempting to JIT compile method while running in aot-only mode."
https://github.com/dotnet/runtime/pull/59503/checks?check_run_id=3748806564

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-59503-merge-0d23189e73774107af/System.Xml.XmlSerializer.ReflectionOnly.Tests/1/testResults.xml?sv=2019-07-07&se=2021-10-19T18%3A57%3A45Z&sr=c&sp=rl&sig=2%2BW5uhjsUT%2FqCvzJ1b3X2b2JKMkyQq6smjUoPD6aaOc%3D

[code]

cc @steveisok

[2021-10-01 09:27] teo-tsirpanis commented on #49397
[code]

Is this a typo? Should it say `Vector64<double> upper`? Same with `Vector128` and `Vector256`.

[2021-10-01 09:38] Timovzl commented on #46017
I just realized that having such an attribute might actually be far superior to other solutions.

Without the attribute, we would have to rely on `Equals` not being overridden. That seems unsuitable, because anyone implementing a struct and caring about performance is likely to implement `IEquatable<T>`. Such a person is highly likely to then override `Equals(object)` to match, for correctness and

[2021-10-01 10:01] tannergooding commented on #49397
Yes, that's just a typo.

[2021-10-01 10:35] DenisRumyantsev commented on #59406
@Jozkee @carlossanlop at first, I thought that the file could not be found because of its bad name (maybe some troubles with encoding) or because it was missing at the moment of changing its attributes. Reasons why I doubt it now:

* An empty file with this name does exist and I can see it;

* When the file is missing, `item.Attributes.HasFlag(FileAttributes.ReadOnly)` actually returns `true` with

[2021-10-01 11:12] vitek-karas commented on #59819
Sorry for not making it clearer. The "different error message" note was mostly about the implementation details - currently we parse the errors generated to determine what exact framework was missing (to put it into the URL) and to construct the right message for the dialog. The same code will not work for this case, since the generated errors don't contain that information, so the host will have

[2021-10-01 11:27] ManickaP commented on #59207
@MhdTlb you'd need use `HttpClient` and cache it yourself.

[2021-10-01 11:28] EgorBo commented on #59854
I think `TrackChanges` name can be confused, e.g. one might expect it track things like
[code]

[2021-10-01 11:34] teo-tsirpanis commented on #59854
It does track item changes actually:

https://github.com/dotnet/runtime/blob/70cb44e6997b88126b50268f0c0a4db9cad6aa17/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs#L155-L163

[2021-10-01 11:39] madelson commented on #49149
@carlossanlop are you saying that `Create` can be used to update existing archives? This definitely wasn't how I interpreted the documentation (like you said it probably needs an update). I had thought we saw otherwise, but perhaps that was on an older version.

[2021-10-01 11:40] EgorBo commented on #59854
Ah, indeed, I could argue that more complicated examples like  `myList[4].MyProperty = 0` 🙂 won't trigger it... but it happens even today with "ImmutableList" etc..

[2021-10-01 12:52] eiriktsarpalis commented on #59854
The `_version_` field is an implementation detail intended to detect modification during enumeration. As such, I don't think it should be exposed in any public APIs. We generally avoid adding new APIs to very popular generic types unless there is a compelling use case. As such, I'm going to close this issue.

Wouldn't a specialized collection like [`ObservableCollection<T>`](https://docs.microsoft

[2021-10-01 12:52] #59854 closed

[2021-10-01 13:08] steveharter commented on #59791
In this case the converter is implicit and not hooked up with runtime settings. The source-generator effectively has hard-coded knowledge of all inbox converters, which is separate from the serializer's, and the one for `byte[]` was missed. Sharing more collection tests would have caught this earlier, but that does require manually converting the existing tests.

[2021-10-01 13:08] krwq commented on #25979
@bartonjs since this has been open for more than 3 years and we don't have any good path forward to fix or repro this would it make sense to perhaps add retry logic inside `GenerateNewExportableKey` and observe if that helps? If we find this doesn't help we could revert the change

[2021-10-01 13:13] steveharter commented on #59791
Options for v6:
1) Add method to obtain the ByteArrayConverter like we do for all other converters (requires public API add)
2) Detect usage of `byte[]` and fallback to the serializer (no fast path). This doesn't require any new API.
3) Keep as-is; not acceptable IMO since the srcgen vs. serializer serialization format would not be compatible. This means if you serialize byte[] with srcgen, then t

[2021-10-01 13:16] krwq commented on #59542
@stephentoub do you suggest to disable the test similarly as was done in #57751?

[2021-10-01 13:18] am11 commented on #59791
If performance is on par with .NET 5, IMO option 2 sounds reasonable to avoid the regression.

[2021-10-01 13:25] vargaz commented on #57560
This was not actually fixed, the testcase still fails. My bad.

[2021-10-01 13:26] rhaokiel commented on #58962
My apologies for the delay. @eiriktsarpalis, I've updated the proposal to use `protected` as suggested and added an example. Are there any other concerns that need to be discussed?

[2021-10-01 13:32] vargaz commented on #59739
Putting
    <ItemGroup>
      <MonoAOTCompilerDefaultProcessArguments Include="-v"/>
    <ItemGroup>

into your csproj will hopefully make the aot compiler print out all the methods before it compiles them so if you run a verbose build, it might be possible to find the method it fails on.

[2021-10-01 13:34] krwq commented on #48798
Removing label because of no occurrences recently

[2021-10-01 13:36] DmitryRomenskiy opened #59862 "FontStyle and FontWeight localization"
### Description

Hello,

I'm not really sure if this is the right repo or if this is the designed behavior. Please correct me if I am wrong.

I want to ask a question about the [FontStyle](https://docs.microsoft.com/en-us/dotnet/api/system.windows.fontstyle?view=net-5.0) and [FontWeight](https://docs.microsoft.com/en-us/dotnet/api/system.windows.fontweight?view=net-5.0) structs.

We use these in o

[2021-10-01 13:40] TkTech commented on #59642
If you're planning on including simdjson verbatim, rather than just the algorithms described in the paper, the size can be tweaked a decent bit with just build-time flags and minimal effort. You're likely only going to use the OnDemand _or_ the DOM-based API, so the other can be removed. The runtime dispatch can be narrowed if Core requires, say, Haswell at a minimum then Westmere can be discarded

[2021-10-01 13:44] lemire commented on #59642
@TkTech For something like a runtime, it would make sense to build a trimmed down kernel version and it would not be hard.

[2021-10-01 13:46] am11 commented on #59642
Yes, this is the case.

Note that this issue is about corehost, the hosting layer where we use RapidJSON to parse two/three kinds of json files (deps, runtimeconfig, rid graph etc.). #28937 is tracking the actual runtime libraries part (wider audience).

[2021-10-01 13:57] eiriktsarpalis commented on #58962
I think this is ok, we can put it up for review.

[2021-10-01 14:30] SamMonoRT commented on #57560
@vargaz @marek-safar - should the right fix be backported to rc2 ?

[2021-10-01 14:34] krwq commented on #59353
@BenVillalobos can you provide a repro? Ideally something which creates a file on the fly and uses `\uXYZV` notation for non-english characters

[code]

and created file with that name and getting no exception.

What's the exception you're getting?

[2021-10-01 14:53] Sergio0694 opened #59863 "JIT: missing conditional branch merging across multiple BBs"
### Description

RyuJit currently misses some optimization opportunities when there are multiple BBs with conditional branches that could be merged, and instead result in avoidable conditional branches in the final codegen. Consider this example:

[code]

This results in the following codegen:

[code]

Here the two BBs with the LT and EQ tests could just be combined in a single LE one, which could

[2021-10-01 15:06] allderidge opened #59864 ".NET 6 RC 1 ASP.NET Core Blazor Microsoft Identity Libraries Errors when Published"
### Description

The Microsoft.Authentication.WebAssembly.Msal package appears to be broken when published using .NET 6 RC1.

This can be simply reproduced via the standard Blazor templates:

1. Within VS 2022 create a new project of type 'Blazor WebAssembly App'
    1. Click 'Next'
    1. Set the authentication type to 'Microsoft identity platform'
    1. Tick 'Configure for HTTPS'
    1. Tick 'A

[2021-10-01 15:17] vargaz commented on #57560
I think so. Its low-risk.

[2021-10-01 15:18] vcsjones commented on #59627
@ericstj your call stack and the one in the original issue comment is essentially a duplicate of #29683. This has been a long running issue that is external to Windows.

[2021-10-01 15:19] vitek-karas commented on #59832
#59473 is basically a dupe of this, just different manifestation. We can consider this for 6, but it should not matter than much (outside of `dotnet --info`).
#51101 is the real fix for the `dotnet --info` but that's a bit harder to implement (I would definitely not do this for 6).

[2021-10-01 15:23] lewing commented on #57560
too late for rc2, we can still target 6.0 if required

[2021-10-01 15:25] ericstj commented on #59832
Agreed, I'm fine if we dupe this to #59473

[2021-10-01 15:29] aik-jahoda commented on #57892
Below log reports 7 files

The output of the job contains 4 files.

The credscan output should be in .gdn\.r\CredScan\001\CredScan in source code location.

I also noticed the credsan runs with SuppressAsError argument, it means all suppression is reported as error

[2021-10-01 15:40] #24295 closed

[2021-10-01 15:40] #30108 closed

[2021-10-01 16:01] EgorBo commented on #59863
From my understanding it can be done in `optOptimizeBools` without introducing additional loops over BBs.

[2021-10-01 16:16] danmoseley commented on #59406
Another option is to copy/paste the pinvokes into a test app to eliminate System.IO entirely.

[2021-10-01 16:20] marek-safar commented on #57560
This is low risk with already 2 reports from customers, let's get this in.

@lewing could you send tactics email?

[2021-10-01 16:36] bartonjs commented on #59455
This is a consequence of Fill being broken: https://github.com/dotnet/runtime/issues/59444

[2021-10-01 16:38] bartonjs commented on #59455
Since this is effectively a dupe, closing the issue.

[2021-10-01 16:38] #59455 closed

[2021-10-01 16:43] amin1best commented on #44738
According to the following links:

https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ldap/distinguished-names

https://www.ietf.org/rfc/rfc2253.txt

If possible, I suggest:

1. **AddStreetAddress**
2. **AddUserid**

3. In x520 and x509 for each attribute there is a field called LDAP-NAME which I use to build RDN.

**x520 Sample**
<img src="https://i.postimg.cc/527WbNMd/x520.jpg" a

[2021-10-01 16:47] carlossanlop commented on #51051
That is the advantage of having a UI. The user can be prompted with such decisions.

I think this is a rare scenario, but if we were to propose a fix, I would lean towards throwing if an existing item has the same name.

[2021-10-01 16:50] bartonjs commented on #44738
@amin1best `LDAPName` is mostly redundant with `oid`.  It largely informs what a string lookup table for OID to FriendlyName (and vice versa) should be, and/or a string-based lookup in LDAP.  At any case, only the OID and string are actually encoded into the X.500 value.

Once we take that parameter out, its now an overload redundant to one we already have:

[code]

[2021-10-01 16:55] Therzok opened #59866 "Support for asymmetrical core energy efficiency"
### Description

Opening as a performance issue first, because I'm not sure about all the API changes required to get the machinery setup in dotnet, since this would leak into Task APIs since it's at its core a threading API setting.

The issue generally refers to asymmetrical cores (specifically macOS M1), where the cores used to compute work differ based on the quality of service marked on the s

[2021-10-01 16:57] bartonjs commented on #59584
Since it sounds like this is mainly about chains that were being served out of a TLS server instance, closing as duplicate of #43879.

[2021-10-01 16:57] #59584 closed

[2021-10-01 17:00] EgorBo commented on #59444
I guess it was introduced by https://github.com/dotnet/runtime/pull/55604

[2021-10-01 17:02] bartonjs commented on #59703
Are you getting this deterministically?  Without being able to see it and walk through a repro it's going to be very hard to identify, since it's macOS's internal state is messed up.  (Is the key being used concurrently across multiple threads?  'cuz that's not supported)

[2021-10-01 17:04] bartonjs commented on #59627
Yep, good old STATUS_UNSUCCESSFUL.

[2021-10-01 17:04] #59627 closed

[2021-10-01 17:10] wfurt commented on #57792
any thoughts on this @bartonjs @vcsjones @blowdart ?
I tested curl on Linux and Safari & Edge and they all work.

Curl puts 'www.microsoft.com' to SNI e.g. they may strip it before TLS. Safari & Edge leave original 'www.microsoft.com.' e.g. I would expect validation handles that.

[2021-10-01 17:11] blowdart commented on #57792
Which rfc covers this trailing dot?

[2021-10-01 17:13] wfurt commented on #57792
This is part of DNS: http://www.dns-sd.org/trailingdotsindomainnames.html pointing to https://www.ietf.org/rfc/rfc1034.txt

[2021-10-01 17:21] safern commented on #59807
I'm glad you got unblocked. For the System.ServiceModel.* packages, including @mconnew and @HongGit as an FYI.

[2021-10-01 17:25] mconnew commented on #59807
We'll update to the 5.0 version of the packages for .NET 6 RTM release.

[2021-10-01 17:36] EgorBo commented on #59444
hm... the correct code sets `80` to all 50 bytes of memory if I read it correctly.

.NET 6-Main from your snippet does the same, doesn't it? 32(ymm0) + 16(xmm0) + 2(ax) 🤔

[2021-10-01 17:38] EgorBo commented on #59444
However, I can't reproduce it on:
[code]
clrjit_win_x86_x64:
[code]

[2021-10-01 17:47] bartonjs opened #59870 "X509 certificates can be easily found by target hostname"
Given an X509Certificate2Collection and a host identifier, it should be easy to find certificates that would match that hostname under the TLS host matching rules.

---

There are a different aspects or interpretations to this problem:

* Should the matching include wildcard evaluation?  (Probably yes)
* Should the matching consider name constraints by the CAs?  (We probably need more tests here b

[2021-10-01 17:47] svick commented on #59866
.Net does expose [the `Thread.Priority` property](https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.priority?view=net-5.0&WT.mc_id=DOP-MVP-5002735), would it make sense to map these priorities to Apple's QoS classes, instead of exposing a new API?

Though that doesn't really address scheduling QoS tasks on the ThreadPool, since you shouldn't modify the `Priority` of ThreadPool th

[2021-10-01 17:54] bartonjs commented on #57792
That does sound familiar from the days when I had to maintain some manual `bind` configuration :smile:.

It sounds reasonable to me, but if SChannel isn't doing it automagically it might be worth asking them why and if we're really expected to handle it ourselves.  (And then do whatever we need to do to unify the behavior across OSes).

[2021-10-01 18:02] BenVillalobos commented on #59353
You'll need to include `U1[]U2[]U3[]` as part of the path. Adding that and using your code in an empty console proj caused the repro for me.

[2021-10-01 18:03] wfurt commented on #57792
It is not only Schannel. It fails on .NET on Linux as well. (works OK on macOS)

[2021-10-01 18:05] EgorBo commented on #59444
Ok, managed to reproduce it locally, the problem in `ymmword ptr[ecx], ymm0` - it seems we don't set value to ymm0 properly? it's half empty

[2021-10-01 18:12] BruceForstall commented on #59794
@janvorli This appears to be related to some changes you made in https://github.com/dotnet/runtime/pull/52912, in particular around:
https://github.com/dotnet/runtime/blob/ce99c5658cc8c6ef426f54864d394ba443820840/src/coreclr/vm/codeman.cpp#L2254-L2276

For this test, but only under JitStress apparently (due to different codegen and thus code space allocation request), there is a problem where the

[2021-10-01 18:14] agocke commented on #59832
Dup of https://github.com/dotnet/runtime/issues/59473

[2021-10-01 18:14] #59832 closed

[2021-10-01 18:16] akoeplinger commented on #56544
Sorry for the delay, I was on vacation 😄

I tried reproducing the issue but wasn't able to, I tried both VS2022 on Windows and VS2022 on Mac (using the latest respective previews). Here's the Android project I used: [bug56544.zip](https://github.com/dotnet/runtime/files/7269331/bug56544.zip)

Can someone who is hitting this issue please zip the project and upload it here?

[2021-10-01 18:22] BruceForstall opened #59871 "Assertion failed 'val->OperIs(GT_IND, GT_LCL_FLD, GT_CNS_INT)'"
https://dev.azure.com/dnceng/public/_build/results?buildId=1397422&view=ms.vss-test-web.build-test-results-tab&runId=40607042&resultId=187988&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

windows/linux x64/arm64, various stress modes.

[code]

@dotnet/jit-contrib

[2021-10-01 18:23] lambdageek commented on #59815
@AaronRobinsonMSFT My assumption is: we want to run the dll import generator tests on Android,ios and wasm, not just on Linux & mac desktops with Mono instead of CoreCLR as the underlying runtime.

If we only want to run on desktops then (4) is sufficient.

I'd say it's the hosting model, rather than something specific to mono.  There's no nethost, hostfxr or hostpolicy on mobile and any code that

[2021-10-01 18:30] BruceForstall commented on #59456
Maybe related to https://github.com/dotnet/runtime/issues/59444?

[2021-10-01 18:34] AaronRobinsonMSFT commented on #59815
The scope was what I was missing here. Thanks for the details.

[2021-10-01 19:03] am11 commented on #59815
+1 for corehost support on mobile (simulators for the starters). and +2 for a true static linking support (e.g. `$ file singlefilehost_static` to return `... statically linked, with debug_info, not stripped`) 🙂

[2021-10-01 19:21] lambdageek commented on #59815
@am11 I'm curious why you say that.  What is the usecase?  From my perspective all of the logic of "find the right runtime to run this managed code" is already mostly irrelevant in self-contained desktop scenarios, and is completely useless on mobile - you run what's in the app bundle - there are no choices.

[2021-10-01 19:36] steveisok commented on #59815
@AaronRobinsonMSFT @lambdageek I can have someone on my team look to provide the mobile libraries.  Safe to assume you would like this sooner rather than later?

[2021-10-01 19:37] stephenweaver opened #59944 "RemoteCertificateValidationCallback can not detect some incomplete certificate chains"
### Description

It appears that `RemoteCertificateValidationCallback` (tested with `SslStream` and `HttpWebRequest` ) incorrectly validates some certificates with chain issues (ex. https://incomplete-chain.badssl.com).  The code I'm attempting to write validates certificates, similar to what this tool is doing https://www.sslshopper.com/ssl-checker.html.

There does not appear to be a way to dete

[2021-10-01 19:57] am11 commented on #59815
Mainly non-production/xamarin; I was coming from:
* to be able to run dotnet(1) in terminal emulator on Android (with either mono/coreclr flavors); and consume other dotnet-new templates like console / libs / benchmarkdotnet etc.
    * e.g. last year, we were able to build coreclr+libs+corehost to run simple applications. but since mono.Android configs are different, it's currently missing from co

[2021-10-01 19:59] mapogolions opened #59875 "Cache compaction will never start"
I've noticed that there are cases where cache compaction does not affect the cache size, even if capacity is exceeded.
Let's look at the following test case
[code]
This test will fail.
After adding the first entry, the cache size will be equal to 6. Attempting to add a second entry will trigger cache compaction. However, the running process will not free some space for adding entries in the future

[2021-10-01 20:43] janvorli commented on #59794
Thanks @BruceForstall for tracking it down!

[2021-10-01 20:56] WenningQiu opened #59877 "Type.IsAssignable() treats all enum arrays assignable from each other"
I found this unexpected behavior when trouble-shooting a puzzling bug in my application.

The root cause turns out to be that C# treats all enum array as assignable from each other even though the element enum types are not treated as assignable. The code below demos such behavior.

    enum EnumOne { One, Two, Three }
    enum EnumTwo { Mon, Tue, Wed, Thur }

    var thisIsFalse = typeof(EnumOne)

[2021-10-01 21:55] SingleAccretion commented on #59877
Nevertheless, by design. It is the consequence of how array compatibility is defined in ECMA 335 (see `I.8.7`):

and the signed and unsigned integer types; treating these types the same if they have the same
number of bits.

following holds.

array-element-compatible-with W.

element type W, and V is array-element-compatible-with W.

underlying type V and U has underlying type W and either:

A rat

[2021-10-01 21:57] Thefrank commented on #14537
I swear I am the only person not in a Europe timezone in this thread haha.
I have news however! You can totally shoehorn the build process into the ports system. This falls more  under the "500 Don'ts" and none of the "10 Do's" (reference: https://www.youtube.com/watch?v=NRvaR4fqrYY)
[code]
I still can't figure out why the source tarballs don't build but the `git clone` / `git checkout` works fine

[2021-10-01 22:07] jkoritzinsky commented on #59824
After thinking about this more and having some more conversations, here's a few implementation considerations that we need to think about if we go the reconciliation route (unmanaged == blittable route).

We need to consider how this new system interacts with the existing Marshal APIs like SizeOf, StructureToPtr, PtrToStructure, etc. The new behavior would not align with the old behavior, so we'd

[2021-10-01 22:21] jkotas commented on #59824
You do even need to use `Unsafe.*` APIs for this. The standard C# pointer derefence and `sizeof` works just fine to `unmanaged` types, and it is more concise and less ceremony.

BTW: It is not unusual to see bugs where people use `Marshal.SizeOf`, but actually should use `sizeof`.

I think it is important that we have something that works well for function pointers.

One more option to consider: G

[2021-10-01 22:33] jkoritzinsky commented on #59824
I like the idea of making something available assembly-wide to say "don't use the old marshalling system at all". That would be something that the Mono team could build off with their componentized runtime work. If they were to move the built-in marshalling subsystem to a component, they could exclude it if all assemblies either opt-in to using the new system or don't use DllImports/interop marsha

[2021-10-01 22:35] ericstj commented on #59833
This is going to be a rather visible bug on Windows.  Everyone will hit it (not just ARM64).  I recommend we take it for for 6.0.  The fix should be very low risk.

[2021-10-01 22:57] jkoritzinsky commented on #59824
This would probably be a good scenario for extending the `System.Runtime.CompilerServices.RuntimeCompatibilityAttribute` if we wanted to go the global assembly route.

[2021-10-01 23:48] #59877 closed

[2021-10-01 23:53] jkotas commented on #59877
Note that there are also opposite cases - where the types are assignable and the arrays are not:
[code]

[2021-10-01 23:55] jkotas commented on #59877
It does not violate type and memory safety in any way, so it did not hurt to allow it. I am not aware of the motivating reason for allowing it.

[2021-10-02 00:08] agocke commented on #59833
@mateoatr Could you take a look?

[2021-10-02 00:29] wfurt commented on #14537
BTW any thoughts on https://github.com/dotnet/runtime/issues/3320 ?
Seems like we need now at least 12.2 so it feels like it would be nice if the `dotnet --info` shows more than just `12`.
If we don't care, we should probably close it.

[2021-10-02 00:36] Maoni0 commented on #53895
the callbacks will be executed on the finalizer thread anyway since GC doesn't have any dedicated threads to execute user code.

this would have very different expectations from Gen2GcCallback then since gen2 GCs can totally happen when there's very low memory pressure whereas this is for only there's at least some memory pressure.

how do you envision implementing a callback based on GCMemoryInfo

[2021-10-02 00:49] Thefrank commented on #14537
It matters quite a bit actually. As for example, something built under 12.1 is not guaranteed to work on 12.2. Symbol versioning can usually handle it, but the symbol has to exist.

[2021-10-02 01:30] jkoritzinsky commented on #59785
Fixed by #59789

[2021-10-02 01:30] #59785 closed

[2021-10-02 01:44] wfurt commented on #14537
I feel it may be then something to take for 6.0 as it may be more difficult later. I can take a look next week unless somebody want to jump in. But I'm out for the weekend with no tech & internet.

[2021-10-02 02:14] Thefrank commented on #14537
@wfurt none of the FreeBSD commits made the cutoff date for 6.0 so we cherry-pick or patch for them. It will be just another thing (but very welcome thing!) to patch :)

Progress for source build: `/p:ArcadeBuildFromSource=true` can be passed to any of the repo's `./build.sh` to trigger a source build. This is an amazing toggle! This would work for the ports system, but it hits some snags:
- it st

[2021-10-02 04:15] nkosi23 commented on #14537
Regarding the first issue of needing network access during build, it is actually possible for the ports team to enable network access for some packages at build-time using the ALLOW_NETWORKING_PACKAGES configuration variable [as per the documentation of poudriere](https://github.com/freebsd/poudriere/blob/5ca4ed748084c10d69f4073c0504a5444e0cf580/src/etc/poudriere.conf.sample#L166) . Since we know

[2021-10-02 09:54] #59668 closed

[2021-10-02 10:16] IdkGoodName opened #59892 "[API Proposal]: System.Text.Json serialization callback context"
### Background and motivation

Newtonsoft.Json allows you to pass context to its JSON serializer via serializer settings that can later be retrieved in the callbacks. This works well enough for objects that need a specific property (like parent clients, status, etc.) to be set as passed value and it works at any depth. Unfortunately, there isn't a way to do that with System.Text.Json apart from us

[2021-10-02 13:20] daniilzaonegin commented on #58033
Hello @karelz !
I have tried it on my machine, but the issue is still there.
What I did:
1. I've downloaded the installer https://aka.ms/dotnet/6.0.1XX-rc2/daily/dotnet-sdk-win-x64.exe.
2. Then I patched my project to dotnet 6;
[code]
When I run it using dotnet run , I get an error
[code]
[code]
And when I run it on IIS Express, the issue is still there.
May be I need to install a Hosting Bundle f

[2021-10-02 15:53] mityakoval commented on #59703
Getting the same (similar?) error.
[code]

Reinstalling the runtime and the SDK didn't help.

Environment info:

.NET SDK (reflecting any global.json):
 Version:   5.0.401
 Commit:    4bef5f3dbf

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  11.6
 OS Platform: Darwin
 RID:         osx.11.0-x64
 Base Path:   /usr/local/share/dotnet/sdk/5.0.401/

Host (useful for support):
  Version: 5.0

[2021-10-02 17:00] WenningQiu commented on #59877
Well the C# compiler apparently takes a different view - our app generates code based on the outcome of IsAssignableFrom(), but the generated code won't compile.

[2021-10-02 17:01] SingleAccretion commented on #59877
Yes... this is one of the unfortunate cases where the C# and runtime type systems disagree.

[2021-10-02 18:10] momt99 commented on #59617
Thanks for the explanation. Indeed, the authors are more aware of the details and the essential points, and the best ones to complete the docs. However, I won't hesitate to help if I find an opportunity to help.

[2021-10-02 19:11] Stabzs opened #59899 "IEnumerable<T> is defaulted to an empty array during DI resolution"
### Description

When resolving registered instances with `IEnumerable<T> arg1 = null` constructor dependencies, `arg1` in unexpectedly initialized to an empty array, instead of null.  This is inconsistent with other collection types such as `IList<T>`, `List<T>` or `IList<T>`.

This can be recreated with the following code:

[code]

in the above example, you would expect that `_defaults` would be

[2021-10-02 19:58] RoadTrain opened #59900 "[API Proposal]: System.DirectoryServices.Protocols.LdapFilter"
### Background and motivation

As per discussion at https://github.com/dotnet/runtime/issues/38609#issuecomment-897331400, it was suggested that runtime might benefit from LDAP query escape functionality.

As per [RFC 4515](https://tools.ietf.org/search/rfc4515#section-3), LDAP search filter arguments should be properly escaped.
S.DS.P currently lacks such a functionality, which prevents some corn

[2021-10-02 19:59] RoadTrain commented on #38609
@joperezr I've submitted an API proposal: https://github.com/dotnet/runtime/issues/59900

[2021-10-02 20:03] RoadTrain commented on #59900
One thing to consider: the escaping method should only do one thing -- replace reserved characters with their RFC-compliant form.
So the user of that method should be aware if the string is already escaped, because double-escaping would result in invalid argument value.

[2021-10-02 20:21] kalleguld opened #59901 "[API Proposal]: Use value semantics for System.Collections.Immutable types"
### Background and motivation

With the new `record` types having value semantics, a new set of collections with the same semantics would be a welcome support.

`ImmutableList`, `ImmutableSet`, `ImmutableArray` and friends would make a good candidate for making a set of collection types with value semantics.
This would be done by overriding `GetHashCode()`, `Equals`, `operator==`and `operator!=`.

[2021-10-02 20:24] nkosi23 commented on #14537
I have tried running the prebuilt binaries in the @Thefrank's MEGA folder and the latest release from Servarr/dotnet-bsd but I get [this cannot open libhostfxr.so error for both](https://github.com/Servarr/dotnet-bsd/issues/7) (I use FreeBSD 12.2). Does anyone have a zip archive with everything working out-of-the-box? I'm trying to get the ball rolling asap to develop a blazor app for a client. Al

[2021-10-02 21:18] Thefrank commented on #14537
@nkosi23 don't use the stuff from the MEGA it is super out of date this is is current: https://github.com/Thefrank/dotnet-freebsd-crossbuild that being said it sounds like you are missing dependencies for it. The NuGet packages can go anywhere you want to place them but you will need to tell your NuGet where that place is :)

[2021-10-02 22:11] nkosi23 commented on #14537
@Thefrank Are you able to restore NuGet packages? I have been able to get the SDK working thanks to your help and @sec's assistance, but after creating a project template NuGet restore fails with [this issue](https://github.com/Servarr/dotnet-bsd/issues/8).

[2021-10-02 22:34] Thefrank commented on #14537
@nkosi23 try this: https://github.com/dotnet/runtime/issues/14537#issuecomment-8512869366 the cert that it wants to use is expired also make sure that ca_root_nss is up to date

[2021-10-02 22:55] nkosi23 commented on #14537
@Thefrank Thanks for the pointers! Unfortunately, the link you posted to the comment does not work I'm afraid. As far as ca_root_nss, I have installed and upgraded all the dependencies you mentioned in your previous post (including ca_root_nss).

[2021-10-02 23:07] Thefrank commented on #14537
Try it again, not sure how that extra "6" got in there

[2021-10-02 23:12] nkosi23 commented on #14537
@Thefrank Adding the certificate manually fixed it!!! Thanks a lot!

[2021-10-02 23:29] bartczernicki commented on #57430
Confirmed that this works with VS 2022 (current preview).

[2021-10-03 02:09] hjy1210 opened #59950 "Debug stop working when I add some attributes in Blazor WebAssembly app"
### Describe the bug
Debug stop working when I add attribute `[BsonRepresentation(BsonType.ObjectId)]` on property Id of MyModel.
### To Reproduce

[AttributePitfall](https://github.com/hjy1210/AttributePitfall) is a mini project describing this issue in [Readme.md](https://github.com/hjy1210/AttributePitfall/tree/master/AttributePitfall#readme)
### Exceptions (if any)

### Further technical detai

[2021-10-03 02:35] Clockwork-Muse commented on #59901
Yeah, this is what's known as a "breaking change", and for something like this it's a big one; probably this would be disqualified.

Note that value semantics, even before the inclusion of `record` types, was possible to specify - it was a deliberate decision to not do value semantics for the immutable collections.

Note, too, that in almost all cases separate collections will have different conte

[2021-10-03 02:55] omajid opened #59904 "[s390x] Missing full RELRO (-z,now) support in a mono-based libcoreclr.so"
### Description

.NET has full relro (See https://github.com/dotnet/runtime/issues/632) enabled for all unmanaged libraries, including libcoreclr.so. For more background on full RELRO, see https://www.redhat.com/en/blog/hardening-elf-binaries-using-relocation-read-only-relro.

Unfortunately, full RELRO is not enabled for a mono-based libcoreclr.so, such as the one that gets used on s390x. `-z,relr

[2021-10-03 04:21] davidfowl commented on #59899
Other collection types aren't supported at all so that's why you're seeing that behavior. I don't have a strong sense of what is the right thing to do here but this seems like a reasonable thing to expect if you explicitly ask for null instead of empty.

It's also a breaking change so I don't know if we'd do it. We can try with other DI containers as well to see what the behavior looks like there.

[2021-10-03 04:22] kalleguld commented on #59901
Do you know the reasoning behind this decision?
Are there any disadvantages to having value semantics on immutable types?
Are there other Immutable collection libraries with value semantics?

The same could be said for any class,so there should be no reason to make `record`s. The problem is that the value-semantics of records break down if they contain a collection (or if they contain any referenc

[2021-10-03 04:29] tommcdon commented on #59758
@lateralusX @josalem

[2021-10-03 04:53] dnobori opened #59906 "[API Proposal]: Flag to include all SSL intermediate certificates explicitly in SslStreamCertificateContext"
### Background and motivation

Hello.

SSL negotiation in modern HTTPS web servers sometimes requires the function to submit the multiple trust paths of SSL intermediate certificates to the HTTPS web clients. An well-known example is the cross root certificate technique which is recently widely used including Let's Encrypt. Cross-root certificates are required to support both legacy and modern SSL

[2021-10-03 07:23] Clockwork-Muse commented on #59901
No, but I suspect it's mostly to mimic the other collection types.

(Strictly speaking the additional checks maybe impose a slight performance penalty, even with early exits, but this is likely to be small, otherwise) No.

Some languages make collection types in general have value equality (Rust).  Still, often collections aren't regarded as "value-ish" types, because...

That's not what's concept

[2021-10-03 08:08] kalleguld commented on #59901
But they are not like the other collection types though. They are Immutable.

The reason you normally don't want to use value-semantics in collections is because you can change them. Not so with Immutable Collections.

I disagree. If you have two *immutable* lists where all their elements are equal, the lists themselves should be equal. There is no way of telling them apart, except for getting the

[2021-10-03 12:42] GSPP commented on #59599
I will not be able to take this on but I thought I'd write up the idea and make a proposal.

[2021-10-03 12:48] franciskhoury commented on #31533
Hello, I am encountering this problem in .NET5.  The ArithmeticException is being raised on INSERT and DELETE statements (even if affecting 0 rows).  However, the MERGE statement is not raising an exception, and is returning the correct row count.

[2021-10-03 13:10] Frassle commented on #59901
Note that F# has it's own immutable collections (`FSharp.Core.List`, `FSharp.Core.Map`, `FSharp.Core.Set`) which do have value semantics. I've found that quite useful, but I could understand this proposal not being doable because it's a pretty significant breaking change to behaviour.

[2021-10-03 13:47] am11 opened #59908 "'The "Microsoft.DotNet.Compatibility.ValidatePackage" task failed unexpectedly' in libs legs"
Logs from https://dev.azure.com/dnceng/public/_build/results?buildId=1400355&view=logs&jobId=000ba8e3-34f8-51d2-8d06-9b61f10256d0&j=000ba8e3-34f8-51d2-8d06-9b61f10256d0&t=ca9b6e26-8c16-57f9-673e-2bc0dc655f25
[code]

[2021-10-03 14:30] Sergio0694 commented on #53895
Wouldn't we be able to use a different thread to schedule callbacks with some help from the runtime? This was one of the main advantages of a dedicated API such as this, as mentioned by @GrabYourPitchforks above (https://github.com/dotnet/runtime/issues/53895#issuecomment-858156629):

I'll admit this is certainly my area of expertise, but is there any reason why wouldn't the GC be able to, say, in

[2021-10-03 14:34] Therzok commented on #59866
@svick On macOS, the implementation here does mention that as a possibility:
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessThread.OSX.cs#L18

Priority and QoS are orthogonal concepts, the way I see it, one is work unit allocation scheduling, the other is CPU core scheduling, mapping them to the current Priority values could cause

[2021-10-03 14:52] Insomniak47 commented on #51563
@iinuwa are you still taking this or is this up in the air again? If so I don't mind picking it up

[2021-10-03 15:08] jkotas commented on #53895
I think it is very hard for the callers in libraries to make intelligent decisions about the absolute memory pressure where they should start dropping their caches. I do not know how we would write futureproof prescriptive guidance for how libraries should deal with the memory pressure. The current hardcoded constants in ArrayPool were chosen in very arbitrary way. You can easily come up with scen

[2021-10-03 16:59] theodorzoulias commented on #58692
@stephentoub this is my best attempt to implement a `Then` method that propagates all the errors. Could you take a look and see if it has the correct behavior? By correct I mean the behavior that this method would have if it was available in the standard library.

[code]

[2021-10-03 17:16] mqudsi commented on #53895
I think most people would have no clue what the cost of recreating the cache would be, and even if they had a rough estimate, they wouldn’t know how to scale it according to the current cache occupancy.

The solution doesn’t have to result in a theoretically optimal balance between freeing memory and avoiding dropping cache unnecessarily, it just has to be good enough. Anyway, code doesn’t know wh

[2021-10-03 18:44] iinuwa commented on #51563
You can go ahead and take it. I got stuck with the Windows-only projects since I don't have a Windows machine to develop with.

Oct 3, 2021 09:52:29 Chris Nantau ***@***.***>:

@iinuwa[https://github.com/iinuwa] are you still taking this or is this up in the air again? If so I don't mind picking it up

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Gi

[2021-10-03 19:19] bschaatsbergen opened #62252 "Allow us to install multiple .NET SDKs through snap"
When trying to install the .NET 6 preview SDK through snap it prompted me (https://snapcraft.io/dotnet-sdk)

[code]

as I already have the .NET 5 sdk installed through snap.

I don't have a proposed solution unless you're able to install snaps with aliases or be able to alter the installed package name?

Perhaps allow us to install snaps in a similiar way the runtime is Installed?

[code]

[2021-10-03 19:32] am11 commented on #59908
Failed again in `Linux x64 debug Libraries_AllConfigurations`, https://dev.azure.com/dnceng/public/_build/results?buildId=1400066&view=logs&jobId=9857eb29-0e94-5117-8263-c465d2f22cda&j=9857eb29-0e94-5117-8263-c465d2f22cda&t=361b7342-f961-58ea-ced7-17ed6b18c962.

[2021-10-03 19:37] am11 opened #59911 "WASM leg failed in CI - RangeError: Maximum call stack size exceeded"
From `Browser wasm Release AllSubsets_Mono_AOT` logs: https://helix.dot.net/api/2019-06-17/jobs/0ec4f1e0-ddf3-45e9-af78-ff1783b9f2a6/workitems/System.Runtime.Serialization.Xml.Tests/console

[code]

[2021-10-03 19:52] TKharaishvili commented on #43976
Hi @carlossanlop I'm back at it. I see a lot has changed in the repo since I first sent that PR(which is to be expected for a 3 year gap). Originally I added the analyzer source file to the `Microsoft.NetCore.Analyzers` project. That project is no longer there but I found something similar, I'm thinking the `Microsoft.CodeAnalysis.NetAnalyzers` project -> `Microsoft.NetCore.Analyzers.Runtime` fold

[2021-10-03 20:56] pedrobsaila commented on #51564
Hi.
I made a first PR for this issue #59913. If it's OK with you, I will try to make small PRs for System.Security.Cryptography.X509Certificates since there are 51 Interop references inside it.

[2021-10-04 00:28] carlossanlop commented on #59591
Thank you, @manandre for your offer!

Let's start by discussing the stream API.

I think it makes sense for the stream class to look very similar to Deflate, since both would only wrap a compression _algorithm_ (unlike the Zip, GZip, ZLib APIs, which additionally represent a compression/archiving format).

I am thinking we can avoid creating too many constructors by creating a separate `ZStandardO

[2021-10-04 01:32] safern commented on #59908
Seems like a Roslyn update could've broken the package validation task? I will try to repro locally tomorrow.

cc: @Anipik @ericstj

[2021-10-04 02:48] Thefrank commented on #14537
To anyone else making a native build (@sec maybe others?): Are you having problems with the final SDK tarball? Mine is wrong.

 `sdk/SDKVERSION/FSharp/` contains two folders that are out of place: `GNUSparseFile.0` (containing `FSharp.Compiler.Service.dll`) and `PaxHeader`.

This does not happen with the crossbuilt one. I am not sure what is causing this but `GNUtar` and `bsdtar` might be differen

[2021-10-04 04:16] wfurt commented on #59906
I'm wondering if we should have more flexibility for the X509Chain. cc: @baronjs @vcsjones

[2021-10-04 04:27] davidfowl commented on #36551
I'm not sure what needs to be done here to HttpClientFactory itself.

[2021-10-04 04:45] danmoseley commented on #31533
@saurabh500 per @ajcvickers  is there more work here?

[2021-10-04 04:47] danmoseley commented on #51564
@pedrobsaila I've assigned this to you ,thanks!

[2021-10-04 05:40] FilipToth commented on #822
Is this ready for 7.0?

[2021-10-04 06:04] dnobori commented on #59906
Hi, thank you for comment.

Yesterday I got the exactly same idea and I studied the current implementation and specification of the X509Chain class. Unfortunately, X509Chain is designed to represent a single trusted certificate chain. We will have an array of built X509Chain as a result of multiple cross-root signed certificates even if we use X509Chain. In this case, we need to mixture and remove

[2021-10-04 06:18] #53242 closed

[2021-10-04 06:30] kunalspathak opened #59916 "Assertion failed 'GenTree::OperIsCommutative(oper)' during 'Generate code'"
Found by Antigen, fails on windows-x86.

[code]

I took a quick look at this and seems like while generating binary operator, we expect that when `op2
Reg == targetReg`, the operator is commutative, but in this case, it is `GT_SUB`. The 2 operands are coming from same source, so it doesn't matter that the swap of operands happen, but it looks like either the condition at https://github.com/dotnet/

[2021-10-04 06:30] kunalspathak commented on #59916
@dotnet/jit-contrib

[2021-10-04 06:30] Joe4evr commented on #59854
Note also that it's already possible to circumvent the version increment with `CollectionsMarshal.AsSpan`.
[code]

[2021-10-04 06:52] lateralusX commented on #59758
Very likely caused by this issue: https://github.com/dotnet/runtime/issues/59054

Looking that the crash we have a thread that is suspended when doing a pinvoke:

mono_threads_enter_gc_unsafe_region_unbalanced_with_info
ves_pinvoke_method

and then we have a crash unwinding the stack from sample profiler, so all condition as described in that issue applies to this crash.

[2021-10-04 06:55] tmds commented on #58370
Through https://github.com/dotnet/runtime/issues/59754, we learned that `CanSeek` does not indicate support for `RandomAccess`.

https://github.com/dotnet/runtime/issues/58381 will relax `RandomAccess` so it becomes usable with non-seekable files.

I think this means the rationale for this API is no longer valid, and that it shouldn't be added.

[2021-10-04 07:44] vcsjones commented on #59906
I would agree with @dnobori. There was some discussion on this previously at https://github.com/dotnet/runtime/issues/37933#issuecomment-644823434.

Seems like we are asking for the `CreateAndIKnowWhatImDoing` API that was mentioned.

`X509Chain` represents a single trusted chain. In this scenario though the desired behavior is to be able to help clients build the best chain that is possible for t

[2021-10-04 07:44] k15tfu opened #59917 "Unmatched transition callbacks in ICorProfilerCallback"
Hi!

Just found out that the .NET 6 runtime sometimes incorrectly invokes `ICorProfilerCallback::UnmanagedToManagedTransition` callback, here is the log with stack traces (see comments after `<--`):
[code]

The last 7th callback does not match its pair called from `JIT_ReversePInvokeEnterTrackTransitions`, so probably in `JIT_ReversePInvokeExitTrackTransitions` here
https://github.com/dotnet/runti

[2021-10-04 07:47] #59794 closed

[2021-10-04 07:58] k15tfu commented on #59917
I have checked that replacing `ProfilerUnmanagedToManagedTransitionMD` with `ProfilerManagedToUnmanagedTransitionMD` resolves my issue, here is a draft PR https://github.com/dotnet/runtime/pull/59919.

[2021-10-04 08:03] dnobori commented on #59906
vcsjones, thank you very much for information.

I agree that my proposed API flag is like the (not-existing yet) method mentioned as `CreateAndIKnowWhatImDoing`, and it is really needed by SSL-based server developers in the present time, since Let's Encrypt now needs two cross-signed certificate trust path after October 2021. (at last the time come.)

In order to reduce the number of static `Creat

[2021-10-04 08:34] dmlittledm commented on #59175
@teo-tsirpanis , @buyaa-n , thanks for your replies. Unfortunately they lead to the same place where I already were, when I've got method signature, that looks like "typedef#172" or "typedef#173<typeref#16b>".
But you inspired me for more experiments and I found that these hexadecimal numbers - 173 and 16b corresponds to index of types stored in MetadataReader's collections TypeDefinitions and Typ

[2021-10-04 08:40] sec commented on #14537
@Thefrank How did you found out the issue? I was comparing file list of official SDK vs the one that I built and they were the same (only missing two files were some dev cert's, but I ignored that), but looking for the file:
[code]

[2021-10-04 08:55] Alamaster99 commented on #36042
Any updated on this issue? We are using version 5.0.0 of the Microsoft.Extensions.Configuration library and we have run into almost exactly same issue. InvalidOperationException: Somebody else set the _disposable field when using per tenant configuration.

[2021-10-04 09:21] Thefrank commented on #14537
welp, im up late anyways so...

@sec the actual issue (thankfully) seems unrelated to `tar` or the tarball itself, maybe the jail?
Unpacking the tarball in the jail (12.2) where I built it creates those odd items (e.g.,`GNUSparseFile.0`)
Unpacking the tarball in fresh jail (12.2) and the behavior and structure are correct. No odd items.
Unpacking the tarball in WINDOWS has the same odd behavior wi

[2021-10-04 09:33] gfoidl opened #59922 "JIT should optimize {array | span}.Length division by constant that is power of 2"
E.g.
[code]
produces [integer division by consant](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHunGA7AJZ8MDALLkAFAGUADtj4AeYAE8MMAHwNccvgEoGAXk3b5AOgAyMPgHMMACwYB6BgA4A3Fx70Gg4WNLSOkqqGlo6+kYMEr4YuiZ8Fla2Ds7untzefACuQiKidIHywWrG4Yaa0TnCcTqJNvZOrh7UPLw+VXkohYoqJWHyERXZuboSHTVmlvUpTTQAvkA)
(Also tested with .NET 6 RC 1, and didn't find an issue or PR that addr

[2021-10-04 10:02] arrowd commented on #14537
This is why I followed Ports-based approach. By building with Poudriere it is ensured that the jail is always pristine. Unfortunately, I got carried out by different things for a while.

[2021-10-04 10:24] franciskhoury commented on #31533
I am not able to reliably reproduce the issue.  I'm running in debug mode in VS2019 / IISExpress.  The issue happened sparsely, then it was happening consistently when I posted; now it seems to have stopped.  It feels like some transient factor on the db2 side is affecting things, but I don't have an idea of what it could be.

[2021-10-04 10:27] EgorBo commented on #59922
heh, I did for arrays (GT_ARRLEN) https://github.com/dotnet/runtime/pull/32368 🙂

[2021-10-04 10:27] FransBouma opened #59923 "Why is the Queryable.Min(selector) overload added in .NET 6 while it's semantically the same as Queryable.MinBy(keyselector)"
The overload:
[code]
[docs ref](https://docs.microsoft.com/en-us/dotnet/api/system.linq.queryable.min?view=net-6.0#System_Linq_Queryable_Min__2_System_Linq_IQueryable___0__System_Linq_Expressions_Expression_System_Func___0___1___)

has been added to the Queryable interface for .NET 6. However the method

[code]
[docs ref](https://docs.microsoft.com/en-us/dotnet/api/system.linq.queryable.minby?view

[2021-10-04 10:28] Avid29 opened #59924 "[API Proposal]: Add Indexer to Vectors"
### Background and motivation

Running the same operation in-terms of different vector components is a fairly common operation.

 In order to make this easier, having indexers into the ``System.Numerics`` Vectors that returns the value at a position in the vector would make a ton of sense.

 Example:``v.X == v[0]``, ``v.Y == v[1]``, etc would

### API Proposal

[code]

### API Usage

[code]

### R

[2021-10-04 10:37] gfoidl commented on #59922
Perfect 👍🏻, so the step to enable this for Span too isn't that big (hopefully).

[2021-10-04 10:38] Avid29 commented on #59924
Here's an example of when this would be useful

[code]

[2021-10-04 10:47] FransBouma commented on #59923
After posting I realized that `queryable.Min(selector)` is equivalent to `queryable.Select(selector).Min()` but `queryable.MinBy(selector)` is equivalent to `queryable.OrderByDescending(selector).Take(1)`, and thus aren't equivalent.

The docs miss an example to illustrate this, but that might be because it's not the final docs. I'll close the issue.

[2021-10-04 10:47] #59923 closed

[2021-10-04 11:14] hypeartist commented on #59924
@Avid29 You can use something like this today:
[code]

[2021-10-04 11:16] Avid29 commented on #59924
@hypeartist I thought about it a little more, and now I do use that.

However, I still believe this is a reasonable addition to the API. It's a sensible interpretation of the indexer on a Vector and Unity's Vectors already have this behavior.

[2021-10-04 11:22] pavelsavara opened #59926 "System.Runtime.Serialization.Xml.Tests failed"
Runfo Tracking Issue: [system.runtime.serialization.xml.tests work item](https://runfo.azurewebsites.net/tracking/issue/182)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1747712](https://dev.azure.com/dnceng/public/_build/results?buildId=1747712)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[PR 68772](ht

[2021-10-04 12:16] vsfeedback opened #59932 "Console.Foreground not always working?"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ConsoleForeground-not-always-working/1539666)._

---
I have written a simple logger, that outputs to the console.
The entire color+write statement is inside a SemaphoreSlim set to (1), howver. Sometimes (1 / 500) setting Console.Foreground doesn't actually change the Console.Foreground.

[2021-10-04 12:17] freddyrios commented on #56968
@vitek-karas does that statement applies to plugins? I am trying an upgrade to avoid a memory leak in .net 5, but I am also facing a "InvalidOperationException: Cannot load hostpolicy library". I imagine plugins has not been broken for self contained apps in .net 6, right?

[2021-10-04 12:21] Joe4evr commented on #58880
Sure, but it'd be nice if this attribute is recognized so the magic comment isn't needed.

[2021-10-04 12:29] eiriktsarpalis commented on #822
This is not on our radar for .NET 7 at the moment, but we would consider a community contribution that provides an implementation of the approved API.

[2021-10-04 12:38] eiriktsarpalis commented on #59901
Regardless of any potential benefits structural equality might bring to immutable collections, adding it at this point would be a significant breaking change. I would recommend using a custom `IEqualityComparer<ImmutableList<T>>` implementation if structural equality is necessary in your application.

[2021-10-04 12:38] #59901 closed

[2021-10-04 13:05] EgorBo commented on #59922
I made a quick fix and checking diffs now

[2021-10-04 13:37] stephentoub commented on #59922
How many other optimizations are there that currently apply only to arrays but could also be relevant to spans?  It'd be great to drive that list to zero and then ensure no additional ones creep in.  More and more code is being converted from arrays to spans, and we want to avoid unnecessary regressions.

[2021-10-04 13:45] uweigand commented on #59904
For coreclr, this comes from `eng/native/configurecompiler.cmake` which defines:
[code]

The Mono build doesn't appear to use `configurecompiler.cmake` but has its own set of definitions.  These include:
[code]
so it does use `-z now` on Android but not on Linux for some reason.

[2021-10-04 13:47] uweigand commented on #59904
CC @steveisok @directhex @akoeplinger

[2021-10-04 13:54] Sewer56 opened #59936 "[System.Text.Json] Regression: [JsonIgnore] Attribute not Applied to Ref Returns"
### Description

Found a regression in `System.Text.Json` where using properties with `ref returns` cannot be ignored for serialization, leading to an unavoidable exception.

Regression was introduced in `System.Text.Json 6.0.0-rc.1.21406.5`, going by the available packages in the `dotnet6` NuGet repo. This package was pushed on Friday, August 6th, 2021.

As I'm not familiar with how dotnet is exa

[2021-10-04 13:55] danmoseley commented on #31533
@franciskhoury if you repro under a debugger (VS should download sources and symbols) can you confirm the diagnosis above? And that the driver is returning an erroneous number of rows?

Although (I’m not familiar with this area) if our code simply does not support a number of rows that it ought to work with, perhaps that needs a fix as well.

[2021-10-04 13:59] bartczernicki-msft commented on #53671
It looks like this will not make it into .NET 6, but .NET 7?

[2021-10-04 14:00] danmoseley commented on #59932
What OS is this on- Windows, Mac or Linux?
Is it possible to reduce to a simple repro that we can try?

[2021-10-04 14:06] CarnaViire commented on #59932
As it was originally from VS Feedback - I believe it's on Windows

[2021-10-04 14:08] SingleAccretion commented on #59922
There are certainly some optimizations that do not benefit spans equally.

The most obvious example is VN, which can "see" through assignments to array elements (because there is intrinsic understanding of array indexing similar to that of fields built into the compiler):
[code]
It is hard for me to say which other optimizations are affected (and how), and how impactful the above is in real-world

[2021-10-04 14:16] stephentoub commented on #58692
I think that's more complicated than it needs to be:
[code]

[2021-10-04 14:23] SamMonoRT commented on #59739
This is a dupe of old issue we reopened - https://github.com/dotnet/runtime/issues/57560
We are working towards backporting a fix to 6.0

[2021-10-04 14:23] #59739 closed

[2021-10-04 14:27] SamMonoRT commented on #59779
@fanyang-mono -please follow up when infra/helix device issues are fixed.

[2021-10-04 14:30] eiriktsarpalis commented on #59936
Can repro -- I believe this is the same regression as the one reported in https://github.com/dotnet/runtime/issues/58469#issuecomment-920977360.

We made the call earlier not to revert the change, but it seems to me that this particular issue makes a more compelling case /cc @layomia

Related to https://github.com/dotnet/runtime/issues/59364.

[2021-10-04 14:36] jkotas commented on #59917
cc @jkoritzinsky

[2021-10-04 14:52] AaronRobinsonMSFT commented on #59917
The referenced PR appears to have the correct fix. Also, I think this should be ported to 6.0.

[2021-10-04 14:57] eiriktsarpalis commented on #29861
I don't believe that `IJsonOnDeserialized` is adequate to encode a "Required" attribute, since typically the intention is to ensure that the underlying JSON contains data for the property in question; not to validate whether the value of the property is `default`.

In Newtonsoft for example, there is the `JsonRequired` attribute which can be used precisely for that reason:
[code]
In the above exam

[2021-10-04 14:59] danmoseley commented on #57349
ping @mkArtakMSFT 😄

[2021-10-04 15:07] ericstj commented on #57349
I believe this can be closed now since #59774 was merged.   @danmoseley @mkArtakMSFT I made a new issue in ASP.NET to evaluate.

[2021-10-04 15:07] #57349 closed

[2021-10-04 15:28] richlander commented on #59936
Ha! I'll be writing the RC2 post this week.

[2021-10-04 15:43] stephentoub opened #60918 "Optimize symbolic regex Antimirov mode to avoid so much allocation"
When in Antimirov mode, we logically maintain a list of states we're currently in and, for each step, generate a new list of states based on looking at each current state and determining all the states it could lead us to.  However, rather than something like:
[code]
it's implemented using an immutable SymbolicRegexNode, where every additional state found involves unioning in the new state into th

[2021-10-04 15:43] theodorzoulias commented on #58692
This gives this error on the ternary operator:

It's a pain when the continuation has different result type than the source task.

[2021-10-04 15:46] mcDandy opened #59942 "Cannot open DDS file created by gimp"
### Description
I discovered that .net should be able to open dds files. I tested it with file I created and I cannot open the file.

steps to reproduce
1 unzip the file
2 create project and paste code snippet into it (and add usings)
3 run program and open unzipped file
4 messange box from catch should appear

### Configuration
. net version 6.0.100-rc.1.21463.6 (also tested .net 5.0.0 runtime wi

[2021-10-04 15:49] stephentoub commented on #58692
Ah, I missed that you were trying to change the result type.  Then what you have looks like a reasonable implementation to maintain multiple exceptions for whatever library you're using this in.

[2021-10-04 15:49] eiriktsarpalis commented on #58638
The issue can be worked around by applying the attribute on the property level. As such I don't believe it meets the bar for a 6.0.0 fix. cc @ericstj

[2021-10-04 15:58] BrianBergh commented on #59932
This is on Windows, and i've only tested it with .NET 5.

This old thread is about the exact same issue with .net core vs desktop several years ago.

https://github.com/dotnet/runtime/issues/15037

[2021-10-04 16:09] huoyaoyuan commented on #59942
The image processing code should belong to WPF.

[2021-10-04 16:10] bartonjs commented on #59944
Tangent: Not specifically the problem you're talking about, but

[code]

means that if the system hadn't already filled in the holes you're not going to look at it.

[2021-10-04 16:13] mcDandy commented on #59942
Ok, I will file it there.

Dne po 4. 10. 2021 18:09 uživatel Huo Yaoyuan ***@***.***>
napsal:

[2021-10-04 16:27] danmoseley commented on #59932
BTW, we'd welcome your input into #39746 if you want to help move it along. The API is not controversial, but there are some implementation difficulties eg with Unix...

[2021-10-04 16:27] danmoseley commented on #59932
Meanwhile shall I close this?

[2021-10-04 16:35] bartonjs commented on #59944
.NET's certificate chains, on Windows, are built via Windows CAPI's [CertGetCertificateChain ](https://docs.microsoft.com/en-us/windows/win32/api/wincrypt/nf-wincrypt-certgetcertificatechain).  The CAPI chain engine has a lot of places that it looks for filling in holes:

* The collection that we provide from chain.ChainPolicy.ExtraStore
* The CurrentUser\CA (intermediate CAs) store
* The LocalMac

[2021-10-04 16:37] nmoreaud opened #59947 "Directory.GetFiles is very slow on linux with NFS share"
`Directory.GetFiles`, `Directory.EnumerateFiles`, `DirectoryInfo.GetFiles`and `DirectoryInfo.EnumerateFiles` are pretty slow at listing files of my NFS shared directory. I guess that these functions internally retrieve files metadata (access time, etc) which is not mandatory and slows down considerably the process.
Is there any workaround?

For comparison, with a directory containing 50.000 files:

[2021-10-04 16:40] tannergooding commented on #59924
@Avid29, I'm fine with this suggestion. It can also be optimized for constant inputs and brings it more inline with the other vector types.

However, could you please update the proposal to follow the form of:
[code]
and to also list the other `System.Numerics.*` types that should have such an indexer (`Vector2`, `Vector4`, & `Quaternion` at the very least; potentially `Matrix3x2` and `Matrix4x4`

[2021-10-04 16:44] Avid29 commented on #59924
That all sounds good, I'll add that Matrix indexers are a duplicate to #21705

[2021-10-04 16:44] padhumailin opened #59949 "Error "No client ssl certificate found in the request." when communicating WCF service from .net core 3.1 application"
I'm trying to access the WCF service from my . net core application.
WCF service has basichttpbinding and with https enabled. i'm attaching signed client certificate to authorize the request.

while sending the request to server, the error log in server is logged as "No client ssl certificate found in the request".
please see the below client code to access the WCF service.

 var binding = new Bas

[2021-10-04 16:46] mkArtakMSFT commented on #59950
@thaystg FYI

[2021-10-04 16:46] BrianBergh commented on #59932
Hi @danmoseley , sure go ahead.

1) Yes, you are right about the relation to the link.
2) Yes, I do own the other threats, but the case is that piping a lot of data (logging) to a static method in a static class, that is supposed to handle "ALL" console writing (and coloring), and in this method I've tried to lock(Console.Out)...Semaphore, etc etc. No matter what I do, I get random "gray" texts :(

[2021-10-04 16:49] thaystg commented on #59950
This is fixed on net6.0.

[2021-10-04 16:49] #59950 closed

[2021-10-04 16:50] #59917 closed

[2021-10-04 16:53] CarnaViire commented on #59932
I believe by default ASP.NET Core Web App would have some logging turned on... could that interfere?

[2021-10-04 16:55] stephenweaver commented on #59944
Hey @bartonjs , you're absolutely correct. Do you know of a way to see what was actually put on the wire? Everything I can find in the docs abstracts this away from the developer.

I don't really care if the system I'm running on is smart enough to figure out if the request safe, I need to figure out if every system/language/platform is also going come to the same conclusion. (The curl and openssl

[2021-10-04 16:57] mangod9 commented on #59845
Hi @BruceForstall, assume this fix is required to switch to `-O2`, but looking through the PRs doesnt seem like there is consensus whether it should be switched?

[2021-10-04 17:00] BrianBergh commented on #59932
When I look in the console window right when I get the issue, there is NO foreign text (nor in gray)

As stated, all the code is surrounded in lock(Console.Out) { ... } - and still I get this :
![Console-color-issue](https://user-images.githubusercontent.com/16006094/135893134-5439245b-7c4e-462b-a45d-47be50211422.png)

[2021-10-04 17:05] #54964 closed

[2021-10-04 17:08] BruceForstall commented on #59845
I'm still working on switching to `-O2` because it makes the JIT about 10% faster, but my current attempt in https://github.com/dotnet/runtime/pull/59235 simply works around this issue by not switching x86. The CI has been very noisy with failures recently, so I don't know if there are other lurking issues yet.

I don't think there's any pushback; janvorli had some concerns about debuggability, bu

[2021-10-04 17:09] tannergooding commented on #59924
If possible, I'd recommend covering them here. It's likely better to simply have `get + set` due to other issues with `ref` returns (not just that they aren't possible on structs today, but also around perf and other considerations).

[2021-10-04 17:11] vitek-karas commented on #56968
@freddyrios Plugins should work just fine with self-contained app - I assume by "plugins" you mean using `AssemblyDependencyResolver`, right?

If you're running into problems, please create a new issue on the topic, I would be definitely very interested if something's broken.