[2021-03-17 22:00] ramonsmits opened #49782 "System.Diagnostics.PerformanceCounter for the same counter fails with `InvalidOperationException: Cannot create file mapping.` when running multiple instance with different credentials"
To be clear, this seems to be resolved by 6.0.0-preview.2.21154.6 but versions before that that I've tested as mentioned below fail.

### Description

### Configuration

Environment.Version: 3.1.13
Environment.OSVersion: Microsoft Windows NT 6.2.9200.0 (Windows 10) x64
RuntimeInformation.FrameworkDescription: .NET Core 3.1.13

### Regression?

This works correct with .NET Framework.

I've tested w

[2021-03-17 22:16] smitpatel commented on #49683
The EF Core version with the fix included
- 3.1.14
- 5.0.5
- 6.0-preview2

Above are not released yet, fix is already available in nightly builds.

[2021-03-17 22:23] KylePreuss commented on #48792
@vitek-karas I'm working on migrating a large repo with several applications supporting dynamically loaded plugins from a mixed net472 and netstandard2.0 (and some netcoreapp3.1) environment to net5.0 and net5.0-windows. There are multiple plugin assemblies contained in the main repo itself and these are all built to the *same* bin folder. This goes against typical .NET Core plugin recommendations

[2021-03-17 22:29] BrzVlad commented on #49770
Do methods with filters run with interp even in aot case ? Or just the filter clause is interpreted ? Or what's the catch here ?

[2021-03-17 22:33] jkotas commented on #49684
Thank you for the new dump. This is a bug in `CGCDesc::GetNumPointers`. It does not handle collectible types correctly.

[2021-03-17 22:45] jkotas commented on #49684
In addition to that, there is also a problem with missing empty GCDesc for non-canonical generic instantiations.

The type causing the problem is `System.WeakReference`1[[Microsoft.CodeAnalysis.SyntaxNode, Microsoft.CodeAnalysis]]` with `Microsoft.CodeAnalysis` being loaded into a collectible load context. It should have an empty GCDesc, but it does not.

[2021-03-17 22:51] marcpopMSFT opened #50121 "Incorrect MSI included in the x64 apphost arm nuget packages"
This blocks inserting 6.0 into VS as it expects to find and install the app host msi bundles.

**Packages impacted**
VS.Redist.Common.NetCore.AppHostPack.x64_arm64.6.0 6.0.0-preview.2.21154.6 (visualstudio.com)
VS.Redist.Common.NetCore.AppHostPack.x64_arm.6.0 6.0.0-preview.2.21154.6 (visualstudio.com)

**Details of dir /s apphost-pack**
Directory of C:\Users\MPP\.nuget\packages\vs.redist.common.ne

[2021-03-17 23:29] SingleAccretion opened #49787 "Do forceCastToUInt32 and forceCastToFloat still serve a purpose?"
The two functions in `compiler.hpp` are used sparsely (~20 uses between the two of them) throughout the Jit for performing the specified conversions. The comments on them, however, indicate they may be working around problems in compilers from over 15 years ago:
[code]
I am thus wondering if those could be safely deleted and the normal C++ casts used instead.

Note that we may still want some cast

[2021-03-17 23:32] SteveL-MSFT opened #49788 "UseShellExecute doesn't throw if fails on Linux/macOS"
### Description

When using `Process.Start()` where `ProcessStartInfo.UseShellExecute = true` on Unix systems, the dotnet runtime relies on xdg-open (etc...) on Linux and open on macOS to call the shell to start that process.  However, if those commands fail, you get stderr written directly to the console.  Instead the exit code should be checked and if fails, then an exception containing stderr s

[2021-03-17 23:57] mangod9 commented on #49684
Thanks @jkotas for diagnosing. Does this look like a regression in 5?

[2021-03-18 00:02] danmoseley commented on #49788
I think in general we do not know whether "foo" is a file in this case. It can be a URL, for example. How can we distinguish this case, from simply launching a process that returned 1?

[2021-03-18 00:08] jkotas commented on #49684
It looks like a bug that has been there since forever. The bug just results into occasional small GC inefficiency most of the time. The crash only happens when all of the following is true:
- The workload uses collectible types
- The GC hits mark stack overflow (ie the object graph is very deep and complex)
- The overflowing objects are collectible types
- The MethodTable of the overflowing object

[2021-03-18 00:14] mangod9 commented on #47902
So just to clarify you are seeing the slow startup on a normal docker container running on a Standard_D4 VM within Azure, with no specific constraints on the container itself?

[2021-03-18 00:24] radical opened #49790 "[wasm] Enable wasm relinking for Trimming tests running in `dotnet-linker-tests`"
We do wasm relinking in some cases by default now (eg. in Release config). This breaks in case of Trimming tests run under `dotnet-linker-tests`, because it cannot find `mono-aot-cross`. It needs this to essentially invoke:

`"$(MonoAotCrossCompilerPath)" --print-icall-table > "$(_WasmIntermediateOutputPath)runtime-icall-table.h"`

Wasm relinking has been disabled in this case, for now (https://gi

[2021-03-18 01:38] #49113 closed

[2021-03-18 02:19] scalablecory commented on #43643
This is now entering the WGLC part of standards process. We should start looking at this as part of any DNS client efforts.

[2021-03-18 03:05] BenLampson opened #49794 "Can not build the newest runtime library"
![image](https://user-images.githubusercontent.com/15414750/111567345-c2c0cb80-87d9-11eb-8478-6098e9fb5ce1.png)

[2021-03-18 03:40] SamZhangQingChuan commented on #49679
@AntonLapounov , @hoyosjs. Thanks again for the help, I just retried and it went smoothly, maybe there *were* some issues with msftvpn...

[2021-03-18 03:46] maryamariyan commented on #48743
This is a follow up request to add a second overload:

[code]

**Reason 1:**

There is precedence on `HostingHostBuilderExtensions.ConfigureLogging` with the following two overloads:

https://github.com/dotnet/runtime/blob/689c4927f3e51a8a688a707066c21e5b47d17419/src/libraries/Microsoft.Extensions.Hosting/ref/Microsoft.Extensions.Hosting.cs#L42-L43

(also with HostingHostBuilderExtensions.UseDefau

[2021-03-18 03:53] davidfowl commented on #48743
I hope this doesn't need to go to API review again 🤩

[2021-03-18 04:10] mikernet opened #49796 "Unify File.Replace Unix and Windows exception throwing behavior"
### Description

[code]

### Configuration

.NET 5 on Linux.

[2021-03-18 05:16] JamesNK commented on #43086
This impacts gRPC clients that send large messages. Unfortunatly switching to HTTP/1.1 isn't an option with gRPC.

[2021-03-18 05:45] #49770 closed

[2021-03-18 06:19] iSazonov commented on #49788
But it is true for Windows too.

[2021-03-18 07:04] jkotas commented on #49646
This error is fixed in the latest  VS build. However, there is a new set of errors that I am fixing in https://github.com/dotnet/runtime/pull/49799

[2021-03-18 07:19] agocke opened #49800 "Most of libs partition is not incrementally buildable"
Running `build clr+libs -ninja` and then `build libs -ninja` results in 217 csc invocations when there should be 0.

It looks like system which creates `*.Forwards.cs` files may not be incremental.

[2021-03-18 07:43] deokershesh commented on #49705
Any tips, suggestions?

[2021-03-18 08:15] MichalStrehovsky commented on #49772
I would recommend checking with Unity if there's a way to force specific generic instantiation to be compiled. The problem here is with MakeGenericType/MakeGenericMethod-kind of calls - they potentially require new native code to be produced but IL2CPP obviously can't produce new code at runtime.

Utf8Json in connection with [pre code generation](https://github.com/neuecc/Utf8Json/#pre-code-genera

[2021-03-18 08:17] shubhamjainy opened #49803 "Directory.GetDirectories(path) or System.IO library not working correctly in .netcore"
**Directory.GetDirectories(path) or System.IO library not working correctly in .netcore**

### Description

We mapped a SharePoint drive in windows 10 and try to enumerate its files/folders in c#. when trying in .netcore(3.1) project with Directory.GetDirectories(path) method then the files/folders name are not the expected one. **Every file/folder path name is appended with '\0' at the end. Also,

[2021-03-18 08:20] #49648 closed

[2021-03-18 08:42] djluck opened #49804 "Deadlock on EventListeners being enabled/ re-enabled"
### Description
When enabling or re-enabling event listeners under high-throughput scenarios, a deadlock can occur which breaks event listener functionality.

This code reliably reproduces the issue in a varying time frame, anywhere from immediately to 5 minutes after running:
[code]
I've varied factors including:
- Delays between re-enabling events
- Volume of exceptions being thrown
- Events bei

[2021-03-18 08:46] jiangzeng01 commented on #49683
@smitpatel Thanks! Is there any way that we can verify with the nightly builds of version 3.1.14 & 5.0.5? Or we need to wait until the release? We want to try the package with the fix.
Now a lot of existing apps which are using old version of EF Core will fail to run against .NET 6 Preview 3, unless they upgrade the EF Core package version and rebuild their apps. Is there a break change document a

[2021-03-18 08:55] #49776 closed

[2021-03-18 09:17] huoyaoyuan commented on #49794
It looks like a network issue that the install script can't install the preview SDK.

[2021-03-18 09:19] marek-safar opened #49805 "Update JIT compilation error message under AOT mode"
For .NET6 we need to update the existing error message about attempting to JIT compile method under AOT not to be [iOS specific](https://github.com/dotnet/runtime/blob/d70f317ddd648afb8fda6e67df8aba3985c73928/src/mono/mono/mini/mini-runtime.c#L2635). I suggest we change it to aka.ms link and document it on dotnet site.

[2021-03-18 09:20] BenLampson commented on #49794
![image](https://user-images.githubusercontent.com/15414750/111602272-26fd8280-880e-11eb-8dfe-abcd34c9d5bb.png)
I already install .net 6, but not fix.

[2021-03-18 09:27] huoyaoyuan commented on #49794
The build script will download the exact version in tools. Your version mismatches.

[2021-03-18 09:29] needo2 commented on #36010
The fact this doesn't exist already is really making me confused

[2021-03-18 09:29] BenLampson commented on #49794
oops~ THX!

[2021-03-18 09:29] #49794 closed

[2021-03-18 09:47] MichalStrehovsky opened #49806 "CustomConstantAttribute doesn't work in Mono"
See tests getting added in https://github.com/dotnet/runtime/pull/49767.

[2021-03-18 09:54] Mokashaa opened #49807 "System.Text.Encoding.Default.GetString returns incomplete string"
### Description
I have a problem trying to get a string from a byte array using the System.Text.Encoding.Default.GetString() function . the problem is that the byte array contains some symbols as shown in the following picture
![image](https://user-images.githubusercontent.com/36459281/111606199-a4f66500-87df-11eb-8475-e64c724be10f.png)
(this image contains part of the byte array after writing thi

[2021-03-18 09:56] SingleAccretion commented on #10686
This has been fixed in #49271. The original reproduction now compiles to the following:
[code]

[2021-03-18 09:58] Mokashaa commented on #49807
@eiriktsarpalis @layomia

[2021-03-18 09:59] filipnavara commented on #49807
You are definitely mixing encodings. The data on the image look like UTF-16 decoded through single-byte encoding (and Encoding.Default is usually a single byte one or UTF-8).

[2021-03-18 10:00] SingleAccretion commented on #39156
Fixed in #49271.

[2021-03-18 10:06] bernd5 opened #49808 "To strict "ref-to-escape" behaviour for `System.Runtime.CompilerServices.Unsafe.NullRef<T>()`"
## Background and Motivation

`System.Runtime.CompilerServices.Unsafe.NullRef<T>` allows developers to replace low-level, raw-pointer implementations to be replaced with simpler and safer "by ref" code.

The compiler / language tries to avoid typical bugs in the area of "by ref" variables and introduced therefore the "safe-to-escape" rules which are usually just fine.

The problem is now, that the

[2021-03-18 10:21] kjpou1 opened #49809 "[wasm][build] EMSDK_PATH being overridden"
Even if the EMSDK_PATH variable is set the build is overriding the variable and resetting it to the in tree provision directory

[2021-03-18 10:23] Mokashaa commented on #49807
the byte array contains a lot of text that was encoded correctly like displayed below
![image](https://user-images.githubusercontent.com/36459281/111610333-e983ff80-87e3-11eb-8f97-564cb54a07db.png)
also as I said I tried different encoding systems including unicode but it didn't work

[2021-03-18 10:48] GPSnoopy opened #49817 "Inconsistent .NET GC process memory usage reporting"
### TL;DR

GC / dotnet-gcdump say process uses 400-500MB. Task Manager says 2.0-2.5GB. "Missing" >1GB memory is clearly filled with garbage managed strings. Whisky Tango Foxtrot ?

### Context

We have a C# service that reads in the metadata of ~150K parquet files using ParquetSharp and creates an in-memory index of all this data. The reading is multithreaded and spread across 14/28 cores (physica

[2021-03-18 10:54] GeorgeAlexandria commented on #48792
@KylePreuss,

If so can you try to check working the test project in the issue removing `Private=false` from project file and removing `ClassLibrary.dll` from root output folder before run `ConsoleApp.exe`?

Presumably, it may arise in the future, but currently it will enough for me to reference external components, put them to subdirectory and do not put a copy of them to the root folder (if such

[2021-03-18 11:32] eiriktsarpalis commented on #49807
Hi @Mokashaa, could you share a minimal reproduction highlighting the issue?

[2021-03-18 11:34] EgorBo commented on #49787
I wanted recently to add an edge case to one of those for MSVC 32 bit

![image](https://user-images.githubusercontent.com/523221/111619741-fa8a3c00-87f6-11eb-8623-c7c661b8e2a5.png)

[2021-03-18 11:36] eiriktsarpalis commented on #49683
I'm going to close this issue since there is nothing actionable from the libraries perspective.

[2021-03-18 11:36] #49683 closed

[2021-03-18 11:36] #20064 closed

[2021-03-18 11:46] Mokashaa commented on #49807
not sure this would help or not but the byte array I'm trying to get the string from is the output of parsing an rtf document ... so the complete byte array include rich text with this symbols in the middle so the getstring process terminates when dealing with this symbol
![image](https://user-images.githubusercontent.com/36459281/111621122-45548580-87f0-11eb-8e80-d586f4f57726.png)
sorry but i'm n

[2021-03-18 12:31] matthewbluezyoncom commented on #49712
No, I installed dotnet 6-prev-2 on top of the other SDKs as they were already on my M1 mbp

[2021-03-18 12:32] KylePreuss commented on #48792
@GeorgeAlexandria I just setup a sample project with a console program (net5.0) and a class library (net5.0). I built the console project to a bin/Debug folder and the class library to bin/Debug/External. The library does not reference the console project, but the console project does reference the library via a ProjectReference. By including the `<Private>false</Private`, the library does not get

[2021-03-18 12:33] vitek-karas commented on #49712
Interesting - in that case I would expect slightly different error, but since this is just plain broken right now... it doesn't matter much.

[2021-03-18 12:42] SingleAccretion commented on #49787
Yes...

After thinking a bit more about this, this issue is just a subset of (and is blocked by) #47478. Closing as not actionable.

[2021-03-18 12:42] #49787 closed

[2021-03-18 12:47] matthewbluezyoncom commented on #49712
I have managed to get things working by removing all the older SDKs and reinstalling 6 prev-2 so it is the only SDK.

[2021-03-18 12:47] neufel42 commented on #48732
I have been struggling with this as well.  I have a few projects linked to my blazor .net 5.0 project that are still targeting .net standard 2.1.  I can debug anything in these libraries.  But as soon as I step out of these libraries the debug jumps into this mess of dotnet.5.0.4.js file.

Blazor Client wasm targeting .net 5.0 (can't debug client side)
    Dependent Library targeting .net standard

[2021-03-18 12:53] jkotas commented on #49684
@mfilippov Would you mind to validate the fix (https://github.com/dotnet/runtime/pull/49801)?

Download https://dev.azure.com/dnceng/_apis/resources/Containers/6549870/CoreCLRProduct__Windows_NT_x64_release?itemPath=CoreCLRProduct__Windows_NT_x64_release%2FCoreCLRProduct__Windows_NT_x64_release.zip, overwrite coreclr.dll in your installation with coreclr.dll from this .zip, and check whether the c

[2021-03-18 13:00] ponahoum commented on #49772
Thanks @MichalStrehovsky . I actually progressed a little since last night. After reading a lot and seeing @JoshPeterson from Unity post, I understood that unity il2cpp specifically unsupports generic functions with **value types** that are not pre-generated.

So basically Unity IL2CPP serialization with System.Text.Json would work with anything that is a reference type (string[], any object) but

[2021-03-18 13:03] joshpeterson commented on #49772
We've just released value-type generic sharing as an option in Unity 2021.2 alpha. See this post for details:

https://forum.unity.com/threads/il2cpp-build-time-improvements-seeking-feedback.1064135

[2021-03-18 13:07] mfilippov commented on #49684
@jkotas I can't download it:
[code]

[2021-03-18 13:09] vitek-karas commented on #48792
@GeorgeAlexandria I'm sorry I missed the part about `additionalProbingPaths` not working in the case where the file is listed in `.deps.json` but missing on disk.

### Additional probing paths
`additionalProbingPaths` don't really work the way you would expect - they're basically designed for NuGet packages (long history, I don't like it, but for now we're stuck with it). For example, let's say I

[2021-03-18 13:10] vitek-karas commented on #49712
Yes - that should work

[2021-03-18 13:12] ponahoum commented on #49772
Wow @joshpeterson this is great! As it is an alpha I'll probably choose the wrapper option for stability, but will sure migrate to this when it's officially released!

[2021-03-18 13:19] jkotas commented on #49807
There is no one encoding that will just work for rtf documents. You need to create the right encoding based on what the rtf document says. https://en.wikipedia.org/wiki/Rich_Text_Format has some more details.

[2021-03-18 13:34] MichalStrehovsky commented on #49772
Great to hear you're unblocked. Seems like there's nothing else to do - I don't think we would want to expose implementation details of S.T.Json for `UsedOnlyForAOTCodeGeneration` sake - closing if you agree.

[2021-03-18 13:34] #49772 closed

[2021-03-18 13:40] jkotas commented on #49684
I have shared it at https://1drv.ms/u/s!AngSDe-UDDewgecA6VSSZFBs_iiJvg?e=DeLTak

Alternatively, you can clone the PR branch and `build.cmd -s clr -c release` on your machine. Prerequisities for building: https://github.com/dotnet/runtime/blob/main/docs/workflow/requirements/windows-requirements.md.

[2021-03-18 13:49] bdominguez commented on #49772
@ponahoum can you give me an example about the third option (your chosen option) so I can better understand it? Thanks!

[2021-03-18 14:00] KylePreuss commented on #48792
@vitek-karas Thanks for the explanation and example use of `MethodImplOptions.NoInlining`.

To bring this full circle w.r.t. plugin architectures if anyone lands on this issue the same way I did: @GeorgeAlexandria you could similarly do this *without* a reference to the external library inside your console project if you were able to do assembly resolution at runtime and instantiate via reflection

[2021-03-18 14:09] tmds opened #49822 "shared memory temp folder"
Shared memory files are placed under `/tmp`:

https://github.com/dotnet/runtime/blob/122c438e0987bf7bfd2a4a02368353d3774ff963/src/coreclr/pal/src/include/pal/palinternal.h#L623

Other usage of `/tmp` can be overridden by setting the `TMPDIR` envvar. This doesn't work for shared memory files. Can the envvar be taken into account here also? Or is this intentional?

[2021-03-18 14:25] ViktorHofer commented on #49800
From what I can see, the genpartialfacades target has inputs and ouputs but those me be invalidated. @agocke can you please share a binlog?

https://github.com/dotnet/arcade/blob/6cc4c1e9e23d5e65e88a8a57216b3d91e9b3d8db/src/Microsoft.DotNet.GenFacades/build/Microsoft.DotNet.GenPartialFacadeSource.targets#L20-L49

cc @Anipik @ericstj

[2021-03-18 14:28] #49670 closed

[2021-03-18 14:49] mfilippov commented on #49684
@jkotas I have repeated my test 20 times with your corecrl.dll no one failure!

[2021-03-18 14:53] directhex opened #49824 "Failures in System.Numerics.Tests.Vector3Tests.Vector3DistanceTest on Windows"
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-11e20e5a456b4a6096/System.Numerics.Vectors.Tests/console.07156f4b.log
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-6cd276ac10044fc19e/System.Numerics.Vectors.Tests/console.249f2f2d.log

[code]

[2021-03-18 15:04] Mokashaa commented on #49807
I don't know whether the encoding is the problem or not but the byte array contain all the data required after parsing file including some NULL characters that makes the GetString don't complete it's functionality and the returned string is not complete and I think it must complete it's process till the end of the byte array not till finding a NULL

[2021-03-18 15:08] ponahoum commented on #49772
Sure !

Let say you want to serialize an instance this object :

`    public class TestObject
    {
        public string aRandomString { get; set; }
        public TestEnum aRandomEnum { get; set; }

        public float[] myFloatArray { get; set; } = new float[] { 1, 2, 3 };
        public string[] strfArr { get; set; } = new string[3] { "abc", "def", "ghi" };
        public enum TestEnum

[2021-03-18 15:10] directhex commented on #49773
Apparently this is a duplicate of https://github.com/dotnet/runtime/issues/11063

[2021-03-18 15:10] #49773 closed

[2021-03-18 15:11] sebastienros opened #49826 "Regression on static initialization using STJ"
Can be reproduced on the build after these changes:
https://github.com/dotnet/runtime/compare/2d552be28782f3ff7e50c90d272c1b77d5c7db16...7efce05745322d722e3effac4f0859c554ad7ec0

With this code in a static class:

[code]

The following exception is thrown at runtime:

[code]

/cc @eerhardt

[2021-03-18 15:12] davidfowl commented on #49826
Marked as blocking because it's currently breaking the benchmarks.

[2021-03-18 15:17] bernd5 commented on #49808
To make the motivation more clear I add a small sample:

[code]

[2021-03-18 15:26] eerhardt commented on #49826
Looking....

[2021-03-18 15:29] MartyIX commented on #49827
@danmoseley Yann [wrote](https://github.com/dotnet/runtime/issues/49827#issuecomment-766415961) a very simple-looking project https://github.com/nohwnd/macOSTestIssue which shows the issue. Isn't it enough to debug the issue? I'm not sure you are aware of it, so I'm just making it clear.

I can try to print DYLD_PRINT_LIBRARIES later today. I'm not sure how to do that at the moment.

[2021-03-18 15:30] mklement0 commented on #49788
I think we should throw an _exception_ in response to a nonzero exit code from `open` (macOS) / `xdg-open` (Linux), which would be the equivalent of the ShellExecute WinAPI function reporting failure (which apparently _does_ already get reported as an exception).

A nonzero exit code from these utilities signals _fundamental_ failure to interpret the operand, as opposed to whether the ultimate ope

[2021-03-18 15:46] danmoseley commented on #49803
can you please try .NET 5.0 and let us know whether you get the same result?

[2021-03-18 15:47] sandreenko commented on #47943
based on the discussion it is not worth doing right now.

[2021-03-18 15:47] #47943 closed

[2021-03-18 15:51] danmoseley commented on #49827
@MartyIX ah yes. Still, we often ask folks to help with the diagnostic steps, since that can help get to a resolution more quickly; it can take some time for an issue to get up to the top of an engineer's list to look at in more detail.

[2021-03-18 15:54] MartyIX commented on #49827
@danmoseley I have just did this: https://github.com/nohwnd/macOSTestIssue/runs/2141171721?check_suite_focus=true where I print `printenv`. I believe that with this information it's much better but it's very easy to add further debug operations (I have added a single commit in a few minutes so ...)

[2021-03-18 15:54] danmoseley commented on #49788
@mklement0 that makes sense. I'll let the crew for this area make a determination.

Looks like Mono has the same behavior that we currently do: https://github.com/mono/mono/blob/79b6e3f256a59ede74596ce82547f320bf1e9a99/mcs/class/System/Test/System.Diagnostics/ProcessTest.cs#L365-L368

[2021-03-18 15:55] danmoseley commented on #49827
OK, thanks. I don't have expertise to go further so I'll leave this up to owns of this area now.

[2021-03-18 16:06] davidfowl commented on #49817
cc @noahfalk @Maoni0

[2021-03-18 16:19] karelz commented on #49200
Triage: It is a regression, but with low impact -- this is likely specific to the server. It would be nice to understand why it is broken.

[2021-03-18 16:21] mfilippov commented on #49684
Thank you for fix! I will waiting fresh nightly build with this fix.

[2021-03-18 16:24] karelz commented on #49340
Triage: If we have simple repro and idea what to fix, we should invest. If it proves difficult, I would punt it to Future.

[2021-03-18 16:27] karelz commented on #49515
@BaronGreenback can you please try to debug it? If we know the root cause (e.g. alignment as @wfurt suggested above), we can help with a fix.
There does not seem much we can do from the information provided above.

[2021-03-18 16:28] karelz commented on #49187
Triage: @ManickaP is helping with the PR ...

[2021-03-18 16:28] tmds commented on #49796
These errors come from [rename](https://man7.org/linux/man-pages/man2/rename.2.html).

[code]

leads to

[code]

@mikernet what would be a more appropriate message?

[2021-03-18 16:29] karelz commented on #49561
Triage: Moving to Future, does not seem to be critical for 6.0.
Note: We don't do compression for HPACK as it was too CPU intensive.

[2021-03-18 16:29] crummel commented on #43349
@janvorli I have a RHEL8 ARM64 machine that I'm setting up for CI that repros the NullReferenceException - would taking a look at that help you?  Or I can try out any other prospective fixes.

[2021-03-18 16:34] ingted commented on #49200
![image](https://user-images.githubusercontent.com/4289161/111661898-69dd4b80-884a-11eb-9637-fa05011d7ae4.png)
![image](https://user-images.githubusercontent.com/4289161/111662313-c50f3e00-884a-11eb-9c09-c7b827cf801e.png)
![image](https://user-images.githubusercontent.com/4289161/111662410-d9ebd180-884a-11eb-8293-c96001811cda.png)

[2021-03-18 16:36] eerhardt commented on #49826
I can reproduce the issue locally.

`Could not execute the method because either the method itself or the containing type is not fully instantiated.`

That message comes from:

https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/coreclr/vm/prestub.cpp#L2086-L2089

When stepping through the code, the exception is coming from:

![image](https://user-images.githubuserc

[2021-03-18 16:36] shubhamjainy commented on #49803
Yes, I have tested on .Net 5.0 and the behavior is the same as with the .Netcore. The problem still persists in .Net 5.0.

Is there any alternate way of enumerating these files/folder? We are blocked with this issue and any help will be highly appreciable.

[2021-03-18 16:37] ingted commented on #49200
Just like my screenshot, I only change the net5.0 to net48 in fsproj file.
Then the email could be sent successfully.
I can provide the app password if you want, please send me an email anibal.yeh@gmail.com or ingted@gmail.com
I will send you the app password.

[2021-03-18 16:38] jkotas commented on #49826
Does it repro with `COMPlus_ReadyToRun=0` ?

[2021-03-18 16:40] tarekgh commented on #49807
@Mokashaa you are addressing the parsing in wrong way. You cannot choose randomly any encoding and try to use for encoding such bytes.

although this is irrelevant to solving this problem as it wouldn't help anyway, but did you check the returned string length? the string could have nulls in the middle, but the length is greater than where the first null show up in the string.

[2021-03-18 16:40] dennis-yemelyanov commented on #42790
Hitting the same issue, and this is really annoying since we have a lot of logging and other code that writes files :(

Instead of writing new file content an empty file gets created and the access exception gets thrown. Writing to the same folder using other means works fine. And there is more than enough disk space on both sides (share server and client)

[2021-03-18 16:42] radical opened #49829 "[wasm] Blazor+aot using workloads breaks with `TypeInitializationException`"
I tried this on a Mac:

1. Follow the steps in https://gist.github.com/pranavkm/1ca9eca9605ebc89161cb33e02e74e85 to setup workload packs
2. (cd bin/Debug/net6.0/publish/wwwroot; dotnet serve -p 8000)

JS console shows:
`ThreadPool Callback threw an unhandled exception of type System.TypeInitializationException`

@pranavkm is seeing this on Windows too.

[2021-03-18 16:42] radical commented on #49829
/cc @lewing

[2021-03-18 16:44] ingted commented on #49200
PS. I use .net 5.0.4 now. (SDK 5.0.201)

[2021-03-18 16:50] eerhardt commented on #49826
I can't reproduce this with my locally built libraries (that aren't crossgen'd). And when I diff the IL, nothing has changed in this area.

Given those 2 things, my current assumption is this is a crossgen issue. It looks like 2 crossgen changes came in that commit range.

cc @trylek

[2021-03-18 16:51] eerhardt commented on #49826
No, I set that env var and the issue goes away.

[2021-03-18 16:55] SkiFoD commented on #49806
I was curious what was wrong with Mono and I did some research.
I found that mono implementation doesn't have code trying to assign CustomConstantAttribute's value.

Mono:
https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeParameterInfo.cs#L125-L145
https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48

[2021-03-18 16:55] jkotas commented on #49826
cc @mangod9 Blocking regression from crossgen2 switch

Have we run the libraries tests on crossgen2 compiled libraries?

[2021-03-18 16:58] mangod9 commented on #49826
+@trylek and @davidwrighton. Yeah the libraries tests from CI should be running. It appears this is failing only in perf tests?

[2021-03-18 17:08] JoeShook commented on #48567
I would like to see cache hit and cache miss EventCounters per cache.  I want to be able to capture metrics in something like InfluxDb.  And filter the cache name as a Tag and the cache-hit/cache-miss as a field.

Today I am experimenting with LazyCache and adding metrics.  I found with my strategy of collecting counters by cache name it becomes a dynamic process of adding counters as they are cal

[2021-03-18 17:10] pranavkm commented on #49829
FYI @danroth27

[2021-03-18 17:12] bartonjs commented on #49827
The "Display OpenSsl lib 2" variant is using the patch-specific path (1.1.1i) which is failing because the current version is 1.1.1j.  The first one worked, does everything pass if you get rid of the second version?

[2021-03-18 17:12] smitpatel commented on #49683
To reply to @jiangzeng01 - tagging @dotnet/aspnet-build team for nightlies of the patch branches if they exist somewhere.
.NET 6 preview 3 is not public yet. By the time it is released to public associated EF Core packages will be also released so existing apps won't be stuck.

[2021-03-18 17:15] bdominguez commented on #49772
@ponahoum are you sure that this works on IL2CPP? I've tried on 2020.3.0 LTS Windows 64bits IL2CPP with this result:

Repro project: [New Unity Project (1).zip](https://github.com/dotnet/runtime/files/6165988/New.Unity.Project.1.zip)

[code]

[2021-03-18 17:29] danmoseley commented on #49803
@shubhamjainy while this is clearly a bug, can you not remove the `\0` yourself? Just trim it off the ends?

[2021-03-18 17:34] joeloff opened #49833 ".NET Targeting Pack for 5.0.0 is lower in 5.0.201 than 5.0.200"
I noticed that the 5.0.0 Targeting Pack that shipped in SDK 5.0.201 is a lower version than what shipped in 5.0.200 (see below).

When you install SDK 5.0.200 and the 5.0.201, the targeting pack is removed. This is the first time we've seen this issue and it might have just been a bad merge or wonky dependency flow from the runtime to the SDK.

![image](https://user-images.githubusercontent.com/74

[2021-03-18 17:43] danmoseley commented on #49301
I wonder whether it would help if Console had an event for input as an alternative to Read()/ReadLine(). Similar to Process.OutputDataReceived

[2021-03-18 17:46] joeloff commented on #49833
I specifically filed it here instead of the installer repo since this flowed to the SDK and the current thinking is that perhaps this should not have flowed.

[2021-03-18 17:55] filipnavara commented on #49833
Amazing, finally someone on the inside notice it too :-) It would be great to have automated process (test) preventing this from happening accidentally.

For context, I didn't notice this particular discrepancy but we have been hit several times by the 5.0.2xx preview SDKs shipping older desktop SDK assemblies than 5.0.1xx. Since there was several .NET 5.0.x security updates in quick succession wi

[2021-03-18 17:56] ponahoum commented on #49772
Yup, I was about to say it, but they fixed this issue in 5.0.0 ;)

[2021-03-18 17:56] shubhamjainy commented on #49803
@danmoseley yaa that we can handle.

but the major part of the problem is:
1) getting two extra entries '.\0' and '..\0' for every directory/sub-directory.
2) we keep getting incorrect sub-directories even they are not actually present. To understand this point more accurately, I request you to set up the required environment and run the above-attached sample project(.netcore). You will observe th

[2021-03-18 18:06] trylek commented on #49826
Well, I believe we've actually only been running libraries tests on top of Crossgen2 framework on ad hoc basis, in fact the CI infrastructure doesn't currently even support that unless I'm mistaken, the framework CG2 change only affects the installer build, not library test legs. I agree that's something we should improve on but I don't think anything changed in contrast to Crossgen1. One way or a

[2021-03-18 18:12] GrabYourPitchforks opened #49834 "Assigning a ROM<byte> field to 'default' produces optimal codegen over assigning it to ROM<byte>.Empty"
[From SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHuGAHKAJYA3bBhgMASjGwATAPIA7ADYBPALIx80FQB4AQirEA+BgH0oEfAG4uPW93pMUDNQAoAlB3s9u5ywwBeBhkYADNsAFclDBtqHwBfb29HYmcAOQ8vOJ8eP3xAyWl5ZXVNbX1DGCMAOgBRfF4MFViEpOyeFOc5TM52nMLZRVUNLShdYEqTC3ygkPComO8fPILplp5E6nigA=)

[code]

[code]

The assignment of _default(ROM\<byte\>)_ directly to the backing field re

[2021-03-18 18:21] omajid commented on #49137
cc @tmds

[2021-03-18 18:23] geoffkizer commented on #49574
@wfurt Can you help with some of these?

[2021-03-18 18:24] geoffkizer commented on #49574
What does msquic do currently? Just not check for revocation?

[2021-03-18 18:25] huoyaoyuan commented on #49808
The language and compiler has no concept about what `NullRef` is. Changing the scope based on argument is neither possible nor practical.

For your sample, the better solution is to allow ref return for `switch` expression.

[2021-03-18 18:30] huoyaoyuan commented on #49833
I have 5.0.104 and 5.0.201 installed. I didn't installed 5.0.104 manually but it comes somehow with Visual Studio. If I uninstall 5.0.104, the target pack will get uninstalled.

[2021-03-18 18:32] DrewScoggins commented on #49718
This should not change anything for mono, as we don't use the runtime packs.

For WASM we rely on this file, `artifacts/packages/Release/Shipping/Microsoft.NETCore.App.Runtime.browser-wasm.6.0.0-ci.nupkg`, and it doesn't look like that will be changing.

Finally, for AOT this will be a breaking change as we rely on `artifacts/bin/microsoft.netcore.app.runtime.linux-x64/Release`, and I assume that

[2021-03-18 18:39] AndyAyersMS commented on #49834
@sandreenko seems like something you could investigate?
cc @dotnet/jit-contrib

[2021-03-18 18:47] wfurt commented on #49574
Is the server certificate working on Linux @JamesNK?

From the list:
- allow renegotiation: we should ignore and not applicable to TLS13. The resumption is whole different connect and and should not be mixed.

For the revocation, we can most likely use X509Chain to do verification via custom callback. This is generally What we do now for SslStream.

For the ServerCertificateContext aka custom trus

[2021-03-18 18:51] JamesNK commented on #49574
I have been purely testing on Windows so I don't know about Linux. Other devs are using Linux so I assume it is working there.

[2021-03-18 18:52] JamesNK commented on #49574
I'm not sure. It could also be the opposite: msquic only accepts non-revocated client certs.

[2021-03-18 18:53] Clockwork-Muse commented on #49803
The last two points should be worked around by using one of the overloads;
[`GetDirectories(directory, search, enumeration options)`[https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.getdirectories?view=net-5.0#System_IO_Directory_GetDirectories_System_String_System_String_System_IO_EnumerationOptions_), and setting `ReturnSpecialDirectories` to `false`.

[2021-03-18 18:55] JamesNK commented on #49574
@nibanks This is the list I put together after our meeting comparing TLS server configuration in .NET to msquic.

What is msquic behavior without a [CertificateRevocationCheckMode](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslserverauthenticationoptions.certificaterevocationcheckmode?view=net-5.0#System_Net_Security_SslServerAuthenticationOptions_CertificateRevocationCheckMod

[2021-03-18 18:55] ManickaP commented on #49574
I'll answer that, no it isn't, we're using "tls_stub" msquic version to work around that ATM.

[2021-03-18 18:55] benaadams commented on #49834
Same for ReadOnlySpan [sharplab.io](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHuGAHKAJYA3bBhgMASjGwATAPIA7ADYBPALIx80FQB4AQirEA+BgH0oEfAG4uPW93pMUDNQAoAlB3s9u5ywwBeBhkYADNsAFclDBtqHwBfb29HYmcAOQ8vOJ8eP3xAyWl5ZXVNbX1DGCMAOgBRfF4MFViEpOyeFOc5TM52nMLZRVUNLShdYEqTC3ygkPComO8fPILplp5E6k3HWFCGXAwoCLAMBgBlLJ9+YVFxKUGSs95sBQrjMzW2n06XHqXc6YFOaRaLrbibHzJRipBgZTy9fq

[2021-03-18 18:58] dougbu commented on #49683
3.1.14 and 5.0.5 builds all produce shipping packages with identical names. Feeds can't be updated in place; so every build pushes to a unique feed. Recent feeds produced include the following
- https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-efcore-54203510/nuget/v3/index.json for 5.0
    - use this with https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/inde

[2021-03-18 19:07] BaronGreenback commented on #49515
The error isn't produced on my kit - it's a bug report from one of our users. - I'll put something together for him - based on the original dotnet source to see if i can get some output.

[2021-03-18 19:09] GeorgeAlexandria commented on #48792
@vitek-karas,

It's not obvious by `additionalProbingPaths` name or by something else that `additionalProbingPaths` correctly works only for NuGet packages and doesn't work for other things...

Seems that `additionalProbingPath` is a kind of workaround and is not designed so good.

@vitek-karas,

More easy way it's use `Private=false` reference and dynamically resolve assembly at runtime, without

[2021-03-18 19:09] #48792 closed

[2021-03-18 19:17] davidfowl opened #49836 "Failure in System.Security.Cryptography.X509Certificates.Tests.ChainTests.BuildInvalidSignatureTwice"
Failure seen on https://github.com/dotnet/runtime/pull/48369

https://dev.azure.com/dnceng/public/_build/results?buildId=1045010&view=ms.vss-test-web.build-test-results-tab&runId=32336274&resultId=175667&paneView=debug

[2021-03-18 19:23] vitek-karas commented on #48792
@GeorgeAlexandria I'm just curious why you would prefer some kind of "configuration" solution over the "code solution". It will help us make better decisions about potential future improvements.

[2021-03-18 19:25] baal2000 commented on #42743
@mangod9 Is there an ETA on this issue update?

[2021-03-18 19:27] stephentoub commented on #49836
Closing as dup of https://github.com/dotnet/runtime/issues/48851

[2021-03-18 19:27] #49836 closed

[2021-03-18 19:29] #47990 closed

[2021-03-18 19:29] AndyAyersMS commented on #49614
Going to try and do a quick assessment of how often we might see this.

[2021-03-18 19:37] NinoFloris commented on #33433
@layomia ping, any updates? Some workaround should exist, a custom converter must be able to emit nothing and not break the output json.

[2021-03-18 19:41] terrajobst commented on #49036
* `DateOnly` vs `Date`
    - VB has a keyword `Date` that binds to `System.DateTime`. If we called the type `Date` VB users would have to use a namespace qualified name or use the escaping mechanism `[Date]`. If we expect this type to be popular among VB users that would be bad. If we don't believe it is, `Date` might be acceptable to.
    - We already have many properties in the BCL called `Date`

[2021-03-18 19:44] AraHaan commented on #48792
I also have a similar issue, however my plugins in my application are in a subfolder of the root application, and each dependency of said plugin are in the root folder of the application (in my case in with the exe file itself), however trying to load each plugin into their own ``AssemblyLoadContext`` would result in it not being "found" (well duh because it's not in the folder of the plugins but

[2021-03-18 19:50] GrabYourPitchforks commented on #49834
@benaadams Interestingly, in the last two methods in your sample the JIT doesn't re-use the existing zero-value register. It zeroes the register again before the second write.

[2021-03-18 19:50] MartyIX commented on #49827
I can see "The active test run was aborted. Reason: Test host process crashed : No usable version of libssl was found" (https://github.com/nohwnd/macOSTestIssue/runs/2143008941?check_suite_focus=true) with commit https://github.com/nohwnd/macOSTestIssue/pull/3/commits/d6108995b4ef52d6ca001dd588634079693bcf71

[2021-03-18 19:58] trylek commented on #49826
@eerhardt - I'm trying to create a regression test in the coreclr subrepo demonstrating this but I have some trouble getting it to actually fail. Could you please advise me in more detail how you're reproing this failure?

[2021-03-18 20:08] mangod9 commented on #42743
Hi @baal2000, we hope to get to it in the next few .net 6 previews. Hope that works for you?

[2021-03-18 20:10] eerhardt commented on #49826
Could you please advise me in more detail how you're reproing this failure?

I got this offline from @sebastienros

[code]

Using the latest runtime

[2021-03-18 20:12] benaadams commented on #49834
Different sized variables? Even though it does use the same register...

[2021-03-18 20:18] lewing commented on #49829
Verified Fixed!

[2021-03-18 20:18] #49829 closed

[2021-03-18 20:48] mattjohnsonpint commented on #49036
`public TimeOfDay(DateTime dateTime);` feels weird to me because the date portion is discarded.  The rest makes sense.

[2021-03-18 20:48] #49809 closed

[2021-03-18 21:00] bernd5 commented on #49808
Maybe the explanation is maybe not clear enough.

I want to write:
[code]

With this "dummy in parameter" this error does not occur.

That means you can write today:
[code]

Maybe the safe to escape rules are in general to strict?
That the not used in parameter changes the code is weird :-) - but that is the way how it is defined today.

[2021-03-18 21:06] bartonjs commented on #49036
Wasn't there also supposed to be `public DateOnly(DateTime dateTime)`?  If we're concerned with the lossiness we can make them named factories.  (DateOnly.FromDateTime(DateTime), TimeOfDay.FromDateTime(DateTime))

[2021-03-18 21:09] mattjohnsonpint commented on #49036
Maybe "of" instead of "from" make sense, due to the discarding?  `DateOnly.OfDateTime(DateTime)` and `TimeOfDay.OfDateTime(DateTime)` feels right.

[2021-03-18 21:12] bartonjs commented on #49036
"Of" isn't really a .NET term:

[code]

Or, eliminating all of the Offsets:

[code]

[2021-03-18 21:28] bartonjs commented on #49827
To my understanding, things should be working.  But, I note that DYLD_FALLBACK_LIBRARY_PATH doesn't appear in the printenv dump, which seems like https://apple.stackexchange.com/questions/212945/unable-to-set-dyld-fallback-library-path-in-shell-on-osx-10-11-1

I don't know if the run syntax allows for things like `DYLD_FALLBACK_LIBRARY_PATH=/usr/local/opt/openssl@1.1/lib dotnet test --no-build --v

[2021-03-18 21:53] eiriktsarpalis commented on #39443
Per https://github.com/dotnet/runtime/pull/49819#pullrequestreview-615393581 we have reached the conclusion that the proposed method, while useful for some applications, does not meet the bar for inclusion in System.Linq. I'm therefore going to close this issue.

[2021-03-18 21:53] #39443 closed

[2021-03-18 22:00] vitek-karas commented on #48792
Side note: GAC doesn't exist in .NET Core - so I would advise against solutions using it. And as you mention it has versioning problems on its own as well.

If you create the `AssemblyLoadContext` for the plugin, you can customize the `Load` method and teach it to look in the parent folder if you need. I obviously don't know the layout and purpose of these assemblies, but with custom load context

[2021-03-18 22:06] ericsampson commented on #49036
Whatever the name, would definitely like those two methods.

[2021-03-18 22:07] ericsampson commented on #49036
What about `DateTimeOffset` ?

[2021-03-18 22:18] AraHaan commented on #48792
Thanks, I done this too (I decided to extend it for native code as well too)

[code]

[2021-03-18 22:22] tarekgh commented on #49036
This can easily achieve using DateTimeOffset.DateTime. I think it will be overkilled to provide methods for these. Also, I want to try isolate DateOnly/TimeOfDay of doing any time zone related operation (e.g. dealing with the UTC offset in DateTimeOffset).

[2021-03-18 22:22] commonsensesoftware commented on #49036
Since I was tagged, here's a few additional thoughts after reading the comments thus far:

- Naming is important. The succinctness and meaning of the type should carry the most weight IMHO. I understand the consideration of other languages, but only VB has been called out up to this point. The `Date` keyword in VB is arguably _wrong_, but is a legacy carried forward from VB6 to make the migration

[2021-03-18 22:23] tarekgh commented on #49036
This can easily achieve using DateTimeOffset.DateTime. I think it will be overkilled to provide methods for these. Also, I want to try isolate DateOnly/TimeOfDay of doing any time zone related operation (e.g. dealing with teh DateTimeOffset.O

[2021-03-18 22:29] davidwrighton opened #49839 "Support for open delegate for Nullable<> methods does not work on Mono interpreter"
### Description

The CreateDelegate10_Nullable_Method test introduced with pr #42837 does not work on the Mono interpreter.

### Regression?

This is not a regression.

[2021-03-18 22:34] vitek-karas commented on #48792
This looks really weird: `{Assembly.GetExecutingAssembly().Location}{assemblyName.Name}.dll`
It will probably return something like `App.dllPlugin.dll`.
But otherwise this should work.

Side note: I personally would stay away from `GetExecutingAssembly` as that may change if you move the code around. Maybe something like `AppContext.BaseDirectory` would be better.
(There's also the fact the `Assem

[2021-03-18 22:39] AraHaan commented on #48792
Oh ye you are right I probably should wrap ``Assembly.GetExecutingAssembly().Location`` inside a call to ``Path.GetDirectoryName``.

``AppContext.BaseDirectory `` is the path where the apphost exe file is (in this case it's ``Els_kom.exe``)?

[2021-03-18 22:51] omajid commented on #46526
Hey folks! Is there some feature branch or personal repo that I can try out to see what the latest status of this implementation is? I was trying out building runtime with (a pre-release of) OpenSSL 3.0 today and I get a couple of pages worth of build errors. I would like to help out with the port/testing if possible.

[2021-03-18 23:02] jeffhandley commented on #49036
Was `CalendarDate` considered as a possible name?

Can `end` be a time of day earlier than `start`, allowing for a time to be checked such that 22:00 is between 20:00 and 02:00?

[2021-03-18 23:10] akraines commented on #27229
Any updates on this?

[2021-03-18 23:11] bartonjs commented on #49036
Yeah, that's the value it provides.  24 hour circular clock, start from start and paint from there until (but not at) end.  return this.GotPainted;

[2021-03-18 23:17] bartonjs commented on #46526
@omajid I have a tinkering branch at https://github.com/bartonjs/runtime/tree/support_openssl3

My recollection is that https://github.com/bartonjs/runtime/commit/459d2746cbb9b8aecfc63709a26d8b0b4ece1508#diff-9f438d89e563743defcabf3a647a5be42683be66ad8d381683c9967d85d4f214 was the only part required to compile against 3.0, but since I commented out a static assert and haven't written code to deal

[2021-03-18 23:18] tarekgh commented on #49036
I hesitate to use this name because `Calendar` indicate this can work with different calendars (e.g. Japanese, Hebrew, ... calendars). while this type is not going to work with calendars.

IsBetween is important to check time between 2 times. For example, imagine there is a shop working hours from 2:00 PM to 1:00 AM next day. and you want to check if any specific time is during the shop working ho

[2021-03-18 23:21] HighPerfDotNet commented on #957
Hi all,

First of all I want to say big thanks for all the hard work on hardware intrinsics, I've been keeping an eye on this progress for many years now and clearly the work was not as easy as I assumed it would be.

But I just want to raise this specific issue again - string comparison intrinsics are still missing, something I've been waiting for nearly 10 years and it was very disappointing to

[2021-03-18 23:28] tarekgh commented on #49036
I don't think the comment on DateTime is correct. DateTime is always work with Gregorian Calendar and not any arbitrary calendar. Also, the original design of DateTime to support the year ranges 1..9999. This doesn't mean there is no years outside this range, but it means the DateTime design it intended to support only that range. This because we wanted to pack the whole struct in one long value (

[2021-03-18 23:34] BruceForstall commented on #47697
@mangod9 ping

[2021-03-18 23:39] saucecontrol commented on #957
Is there something specific you'd like to implement that you're having trouble with?  Perhaps we can help with a workaround.

Aside from coming up with a .NET-like API for these instructions, there are other issues.  Namely:

1) These instructions have never been fully accelerated in any Intel or AMD processor -- they are always implemented in micrococde rather than dedicated hardware.  This means

[2021-03-18 23:46] benaadams commented on #49808
That assignment would throw a `NullReferenceException` though?

[2021-03-18 23:49] HighPerfDotNet commented on #957
I've got a lot of long string comparison code that I'd like to use PcmpEstrI - it does exactly what I need 128 bits at once and giving me the byte where strings differ.

[2021-03-18 23:58] commonsensesoftware commented on #49036
@tarekgh I know original design of `DateTime`, but to say or limit it's design to the Gregorian Calendar is like saying the default string/character range should be ASCII instead of Unicode. Locale defaults are fine, but the universe doesn't resolve around a singularity. I'm well aware of the storage design, but that's an implementation detail. Optimize - sure, but don't let it completely dictate

[2021-03-19 00:05] saucecontrol commented on #957
In general, such a comparison can be performed with `Sse2.CompareEqual` followed by `Sse2.MoveMask`.

You can see an example of my second point above by looking at popular projects that use `pcmpestri` and then wanted to write the same algorithm expanded to 256-bit vectors with AVX2.  Here's some [SSE4.2 code](https://github.com/zlib-ng/zlib-ng/blob/48d4bc5dfab855290a2dee34e74868655ed8fe6d/arch/x8

[2021-03-19 00:10] tarekgh commented on #49036
We are both on the same page and saying the same thing but in different words :-) you call it unintuitive, and we call it by design.

What I meant is this type based on Grgeroian calendar and not any arbitrary calendar. It is exactly as DateTime. I was answering the point about having the `Calendar` in the type's name which can indicate the type can work with different calendars.

Sure, we'll ensu

[2021-03-19 00:10] jakubmisek opened #49842 "[bug] excessive stack usage, seems values not popped from the stack, resulting in stack overflow"
Seems I have found a pattern where

1. The resulting code keeps leaving objects on the stack, and also
2. JIT takes an excessively long time to process the method (~ tens of seconds)

This eventually results in stack overflow.

The sample code is a single C# method without recursion nor branching. Its metadata states `.maxstack 5`.

### Description

The failing project can be found on https://gith

[2021-03-19 00:14] HighPerfDotNet commented on #957
Ok, thank you, I'll give AVX2 a go, wasn't keen on it as it can affect clocks, worth giving it a shot since there isn't any other easier option.

[2021-03-19 00:18] stephentoub commented on #49213
This is still taking out most PRs.  It's been two weeks since I opened this issue.  What stop-gap can we put in place asap to stop the bleeding?

[2021-03-19 00:19] stephentoub commented on #49213
![image](https://user-images.githubusercontent.com/2642209/111714053-30dfaf80-8827-11eb-9ef5-c3aebfeb0187.png)

[2021-03-19 00:22] saucecontrol commented on #957
To be clear, you don't *have* to use AVX2 to work around the absence of the SSE4.2 intructions.  You can use SSE2 instructions to build the same algorithm at 128 bits at a time if you find that AVX throttling causes performance issues.

I was mostly using the AVX2 example as evidence the string comparison instructions aren't strictly necessary to accelerate string comparisons and that they don't h

[2021-03-19 00:25] ekolis commented on #49036
`DateOnly` sounds like a weird name for a type. Only, as opposed to what else? How about `DayMonthYear`, or `DayOfYear`? (Not to be confused with `DayOfWeek`!) Or even just `Day`?

What's wrong with + and - operators? They just make sense; keep the `Add` method for folks who like to get hints from IntelliSense and have + call `Add` or vice versa.

[2021-03-19 00:26] HighPerfDotNet commented on #957
Makes sense, thank you for the explanation, I might benchmark both and see which one is best for me.

[2021-03-19 00:30] bartonjs commented on #49036
There's no place to even hint that you might want to care that you rolled forward/backward past midnight.  The Add method has an overload to tell you how many times you rolled past midnight in case you cared, and IntelliSense showing you that there's an overload is hopefully "in your face" enough to make the caller think about whether or not it's relevant.  (But the overload without the out makes

[2021-03-19 00:33] tarekgh commented on #49036
We explored many names. your suggested names would not be good for discoverability. users will look for `Date` word if they need to handle dates. We need a type to start with the word `Date`.

[2021-03-19 00:35] safern commented on #49213
I put up: https://github.com/dotnet/runtime/pull/49844 to run the tests on Android Arm64 only on rolling builds

[2021-03-19 00:37] mikernet commented on #49796
The issue is that it is a directory, not that it's not a directory, so the same error message should be showing up for both those cases, no?

[2021-03-19 00:46] sebastienros opened #49845 "HTTPS handshake performance"
We detected a regression on the Connection Close HTTPS scenario, which hits Plaintext with "Connection: Close" header in order to simulate an https handshake.

The regression is only Linux, and is due to updating an expired self-signed test certificate to a valid one.
| Benchmark | RPS |
| -- | -- |
| Windows | 15,000 |
| Linux - Expired cert. | 7,500 |
| Linux - Valid cert. | 2,000 |

Note that t

[2021-03-19 00:48] mikernet commented on #49796
Oh wait...this is a bit of an odd inconsistency, but `File.Replace` on unix works on directories, but does not in windows.

[2021-03-19 00:54] sebastienros commented on #49845
Crank commands to reproduce the numbers, or validate fixes:

### With valid cert
[code]
[actual cert file](https://github.com/aspnet/Benchmarks/blob/main/src/Benchmarks/testCert.pfx)

### With invalid cert
`--application.source.branchOrCommit "#6843980"`

### Collecting a trace
`--application.dotnetTrace true`

### Using a custom local builds
`--application.options.outputFiles c:\code\fix\*.dll`

[2021-03-19 00:54] danmoseley commented on #49796
Incidentally in pulling up this code I noticed we use the wrong path in this error message
https://github.com/dotnet/runtime/blob/main/src/libraries/System.IO.FileSystem/src/System/IO/FileSystem.Unix.cs#L126
I'll see if I can fix that.

[2021-03-19 00:55] mikernet commented on #49796
Just edited my message above right after you posted yours with some more details.

[2021-03-19 00:59] jkotas commented on #49842
Duplicate of https://github.com/dotnet/runtime/issues/8980

[2021-03-19 01:00] stephentoub opened #49846 "Delete redundant vectorization code paths"
We have a non-trivial number of implementations that duplicate loops across multiple hardware instruction sets plus a generalized Vector path, e.g.
https://github.com/dotnet/runtime/blob/9f93bcb46478b1282daba268aa4d0a8550e06a31/src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs#L266-L434
has a structure that's approximately:
[code]

We have others like:
https://github.com/dotnet/r

[2021-03-19 01:01] #48484 closed

[2021-03-19 01:02] stephentoub commented on #49845
cc: @wfurt

[2021-03-19 01:02] mikernet commented on #49796
TBH the `UnauthorizedAccessException` that is thrown on windows with a very unhelpful error message when you try to do a file op on a dir path doesn't make any sense. I convert those into FileNotFound exceptions in my lib.

[2021-03-19 01:07] steveisok commented on #49213
At this point, I think that is fine for now.

[2021-03-19 01:08] danmoseley commented on #49796
As an experiment I looked at the IOExceptions thrown and caught in many of the S.IO.FileSystem tests. Many of them do not contain the file paths. In some cases that can be fixed fairly easily. In some other cases, it's difficult to know which path the problem applied to (eg was access denied to source or destination).
This doesn't directly address the issue reported here, just noted.

[2021-03-19 01:12] benaadams commented on #49846
They aren't completely the same with for example the `Avx2` paths being more optimized than the `Vector` path (e.g. for determining the "found" index from the Vector) and also uses 16-byte and 32 byte vectors; so acceleration starts at 16 bytes or 8 chars; whereas the `Vector` path would always start at 32 bytes or 16 chars

[2021-03-19 01:12] stephentoub commented on #49213
Thanks, @safern.

[2021-03-19 01:14] #39829 closed

[2021-03-19 01:14] #45994 closed

[2021-03-19 01:14] #48519 closed

[2021-03-19 01:15] stephentoub commented on #49846
What is the additional optimization in the BitArray example?

[2021-03-19 01:17] AndyAyersMS commented on #49614
The jit lookup/compare pattern above isn't super common, maybe 80 hits across SPMI (out of ~750K methods, though some are crossgen so would not match)>

The above is incorrect.

What `[000012]` does is fetch the type of `T` from the dictionary, which is rooted by `this`. And the problem the jit faces is that knowing the type of `T` (or more precisely, knowing some dictionary slot must have a speci

[2021-03-19 01:21] erozenfeld commented on #49834
This may be related to #37079.

[2021-03-19 01:28] benaadams commented on #49614
In this example where we settled ended up with a single cast from `IEqualityComparer<string>?` to `IEqualityComparer<TKey>?` on the return; passing the `TKey` version as `object` since all the tests are `ReferenceEquals`

https://github.com/dotnet/runtime/blob/c569bc12223379bf894d7f68cb718b9b376e56eb/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs#L65-L72

[2021-03-19 01:33] benaadams commented on #49846
Looks like it needs work 😅

As an aside I was considering whether a Generator for all the SpanHelper methods would be interesting since they are all variations on a theme (as is the one in `System.Text.Json` https://github.com/dotnet/runtime/pull/41097#discussion_r589723963) and additional variants like `IndexNotEquals` were rejected https://github.com/dotnet/runtime/issues/28795#issuecomment-7174

[2021-03-19 01:34] JeremyWard33 commented on #23937
I just spent a couple hours trying to figure this out.  Why is this not well advertised?  Developers are going to beat their heads on this like I did and that's really bad business for y'all.

[2021-03-19 01:50] wfurt commented on #49845
Do you have link to the updated (and old) certificate @sebastienros? Are you sure the key size and algorithm is same? If not, differences should be expected. (there are some tests in perf repo to show the difference)

[2021-03-19 01:52] VincentBu commented on #46075
Similar test failed with same exception in [runtime-libraries-coreclr outerloop 20210318.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1045261&view=ms.vss-test-web.build-test-results-tab&runId=32341998&resultId=104472&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-19 01:55] AndyAyersMS commented on #49614
In this specific case the jit-time evaluation of the second cast is foiled by the contravariance of `IEqualityComparer<T>`.

So the jit can't remove that cast without knowing what `__Canon` really stands for, which brings us back to the dictionary problem mentioned above.

[2021-03-19 02:05] VincentBu opened #49849 "Test failure System.Net.Http.Functional.Tests.HttpClientHandler_RemoteServerTest.PostAsync_RedirectWith307_LargePayload(remoteServer: (BaseUri: https://corefx-net-http11.azurewebsites.net/, HttpVersion: 1.1))"
Run: [runtime-libraries-coreclr outerloop 20210318.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1045261&view=ms.vss-test-web.build-test-results-tab&runId=32342982&resultId=103865&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-19 02:17] mdh1418 opened #49851 "[wasm] Trim analysis error IL2103 in Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests.csproj"
Running the `Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests.csproj` test suite on Browser WebAssembly runs into Trim analysis error IL2103.

`C:\projects\grace\src\Grace\Data\ReflectionService.cs(297,21): error IL2103: Grace.Data.ReflectionService.CreateDelegateForType(Type,ReflectionService.PropertyCasing): Value passed to the '#1' parameter of method 'System.Linq.Expressions.M

[2021-03-19 02:24] AndyAyersMS commented on #49614
Going to mark this as future.

[2021-03-19 02:53] AndyAyersMS commented on #49597
I don't see a regression either...?

[code]

[2021-03-19 03:02] liujiyuan opened #50134 "Why does .net core app working set memory keep increasing in linux docker?"
We have a Dot.Net Core 3.1 app running in ubuntu container and its working set memory keep increasing but gc heap size keep stable.
I think .net core code can't manage working set memory. Does working set is managed by dotnet runtime? Does working set will decrease automatic?
This article that https://docs.microsoft.com/en-us/dotnet/core/diagnostics/debug-memory-leak just introduce how to analyze

[2021-03-19 03:05] sebastienros commented on #49845
I believe they might be different. The numbers on Windows and NodeJS were the same with the two, but I understand it might still be a reason for the measured difference.
I shared a direct link to the new one in the previous post, but here is the history of the file so you get the two versions: https://github.com/aspnet/Benchmarks/commits/main/src/Benchmarks/testCert.pfx
Passphrase is "testPassword

[2021-03-19 03:06] noahfalk commented on #49817
I can suggest a few potential issues to look out for + some other tools that might help track down the mystery memory if it isn't one of my guesses.

1. For the GC heap there are different useful measures of size:
- GC.GetGCMemoryInfo().HeapSizeBytes - This is a number of bytes being used for .NET objects on the GC heap
- GC.GetGCMemoryInfo().TotalCommittedBytes - This is the amount of VM that the

[2021-03-19 03:23] PhDuck commented on #49597
When I was originally running these benchmarks I was doing them from inside LINQPad.
When running the in a simple console project I do not see the regression.

I'm sorry I wasted your guys time, and thanks for the having a look.

If anyone knows why LINQPad causes this on .NET 5.0, please elucidate the matter.

[2021-03-19 03:23] #49597 closed

[2021-03-19 03:38] bruno-garcia commented on #44736
[Sentry](https://sentry.io/) has customers on multiple versions of Mono, .NET Core and .NET Framework. Obviously .NET 5 too.

[2021-03-19 03:58] #42767 closed

[2021-03-19 04:40] #49705 closed

[2021-03-19 04:51] BruceForstall commented on #45580
This is the code that is failing: https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/tests/baseservices/varargs/varargsupport.il#L38

[2021-03-19 05:03] BruceForstall commented on #45580
This tests is disabled in issues.targets for Windows x86/x64/arm64.

[2021-03-19 05:28] dgomsvek opened #49857 "Incorrect PInvoke when parameter has base class with no members"
### Description

PInvoke marshalling is incorrect when there is a parameter whose type has a base class with no members.

I hit this when removing our manual marshaling workaround for #46643, and it feels like the same bug in a different place.

#46643 describes a problem where given:
[code]
The result of `Marshal.StructureToPtr<MyClass1>(...)` was incorrect, containing a non-collapsed zero-field

[2021-03-19 05:29] BruceForstall commented on #45580
Related: https://github.com/dotnet/runtime/issues/42673

And the code that invokes it:
[code]

[2021-03-19 05:47] wfurt commented on #49845
What client do you use to drive this test? Is that .NET app and what platform? I will look at the certs tomorrow and I can feed them micro benchmark in perf repo.

[2021-03-19 06:05] SupinePandora43 opened #49858 "Wrong IntPtr get passed to ICustomMarshaler.MarshalNativeToManaged for ref"
### Description

IntPtr passed to `ICustomMarshaler.MarshalNativeToManaged` isn't equal to `ICustomMarshaler.MarshalManagedToNative`'s result

### Configuration

* .NET 5
* Windows 7
* x64

### Information

#### C++ header
[code]

#### `ICustomMarshaler` code
[code]
#### `DllImport` ref
[code]
#### `DllImport` IntPtr
[code]
#### `DllImport` ref usage
[code]
#### Manual `ULStringMarshaler` usage
[c

[2021-03-19 06:09] benaadams commented on #44733
In PR https://github.com/dotnet/runtime/pull/49856

[2021-03-19 06:18] CatalinAdlerDF commented on #36091
Played around with @ericstj solution. Works, but had to make certain adjustments to make it work on absolute paths.
[code]

[2021-03-19 06:29] peters opened #49859 "Crash in GC on arm64"
### Description

.NET Runtime crash in GC with stack.

[code]

![image](https://user-images.githubusercontent.com/869/111739401-4682c280-8883-11eb-953c-4996191a1e1d.png)
![image](https://user-images.githubusercontent.com/869/111740273-c1001200-8884-11eb-9ac7-a36368643c28.png)

The device the crash occurred on is a [Jetson AGX XAVIER](https://developer.nvidia.com/embedded/jetson-agx-xavier-develope

[2021-03-19 06:48] BruceForstall commented on #45580
We get into an infinite loop because the `gtPrev` of the first LIR node in BB06 should be nullptr, but is actually a STORE_LCL_VAR:
[code]

The corruption is happening in the Rationalizer.

[2021-03-19 08:24] mfkl commented on #47563
So, going the `BufError` route to implement this stricter validation was a mistake. From my investigations, it is impossible to rely on `BufError` to implement any kind of correct stricter validation logic (though this error is returned every time in my specific test case, and at least once in half of the existing test suite).

I've been looking at how `ICSharpCode` manages to find the discrepanci

[2021-03-19 08:28] davidfowl commented on #49845
We used wrk to drive the test.

[2021-03-19 09:22] John0King commented on #37576
@vitek-karas   the problem of one AssemblyLoadContext  is that you can not load different version of dependency when you implement a plugin architecture , for example:
`AutoMapper` each major version have break change,  and plugins may use different version,  and this is not a problem in Php/Js and C++,  because  Php simply use file system and as long as the file is not conflict then it will work,

[2021-03-19 09:22] John0King commented on #37576
@vitek-karas   the problem of one AssemblyLoadContext  is that you can not load different version of dependency when you implement a plugin architecture , for example:
`AutoMapper` each major version have break change,  and plugins may use different version,  and this is not a problem in Php/Js and C++,  because  Php simply use file system and as long as the file is not conflict then it will work,

[2021-03-19 09:28] kjpou1 opened #49862 "[browser][build] Errors with provision-wasm from makefile"
Running `make -C src/mono/wasm provision-wasm` produces the following errors:

[code]

[2021-03-19 09:48] vitek-karas commented on #37576
The current assumption is that plugins have a clearly defined interface between them and the host. And that plugins don't talk to each other. It's technically possible to do all those things as well, but it gets complicated.

In this sense I don't see how this is different from the "Static linking" approach (other than it's obviously easier to use). Basically each plugin needs to carry all of its

[2021-03-19 09:51] shubhamjainy commented on #49803
We tried this too but this also does not work. Is there any other workaround we could try? Also, are we going to fix this issue in the coming patches?

[2021-03-19 10:26] John0King commented on #37576
@vitek-karas

the truth is we almost can't in asp.net core.  for  an asp.net core plugin , it need to share a few  type `IApplicationBuilder` and `HttpContext` ,  but the host also has many dependency , and one is `Microsft.Extension.Configuration.Abstraction` ,
 first,  it's a nuget package,  and second ,  it  not a key assembly of plugin ,    **but the host may carry this assmebly and may not**.

[2021-03-19 10:47] davidfowl commented on #37576
That's a constraint of the plug-in system. The host can't "pin" dependencies or plugins can't load different versions of those assemblies. Especially if types are exchanged between the plug-in and the host, this "restriction" makes sense.

Now if you're saying that those types aren't exchanged and are totally self-contained in each plug-in then I agree there should be a way to make that work. I th

[2021-03-19 11:13] dustinmoris commented on #44417
The same happens when running .NET in a VS Code devcontainer.
Nothing else is running.

[2021-03-19 11:27] vitek-karas commented on #37576
That's why I described that the list of assemblies which the host wants/needs to share with all plugins is effectively part of the contract. For example if I have an `Interface.dll` which defines the interface between the host and the plugin, then the full dependency closure of this assembly should be provided by the host - so that all plugins and host agree on those types.

This effectively encou

[2021-03-19 12:27] wokis opened #49866 "System.Diagnostics.Eventing.Reader.EventBookmark is internal"
### Description

_System.Diagnostics.Eventing.Reader.EventBookmark_ is marked internal. This makes it impossible to get the bookmark XML or to create a _EventBookmark_ object from XML. The win32 API claims that it's exactly why bookmarks exists, to save for later use in a file or registry (https://docs.microsoft.com/en-us/windows/win32/wes/bookmarking-events).

I propose _System.Diagnostics.Eventi

[2021-03-19 12:46] C-xC-c commented on #25608
I would like to work on this if the issue could be assigned to me, thanks.

[2021-03-19 12:58] jeromelaban commented on #47334
In 8170c063951, this issue is now a memory out of bounds error:

[code]

[2021-03-19 13:47] jakubmisek commented on #49842
Good! thank you for the reference. It should be easy to workaround.

[2021-03-19 13:52] dazinator commented on #41050
@MithrilMan I've addressed the "singleton open generic" type registration issue now, so that when resolving from the child service provider, if the type being resolved matches an open generic registration that is registered at parent (and not child) level - the request is forwarded to the parent service provider for resolution - so you get the same singleton instance. It's over [here](https://gith

[2021-03-19 14:07] #49842 closed

[2021-03-19 14:10] jkotas commented on #49859
Is it possible for you to share the core dump of the crash with us?

[2021-03-19 14:21] danmoseley commented on #25608
Done! Let us know if you need help, @C-xC-c

[2021-03-19 14:28] steveisok opened #49868 "System.Runtime.Extensions.Tests Android Test Failures"
The following tests are failing and will be disabled until we can address them:

- [ ] System.Tests.Environment_Exit.ExitCode_VoidMainAppReturnsSetValue
- [ ] System.Tests.AppDomainTests.TargetFrameworkTest
- [x] System.Tests.OperatingSystemTests.TestIsOSPlatform_Android
- [ ] System.Tests.AppDomainTests.TestingCreateInstanceFromObjectHandle
- [ ] System.Tests.AppDomainTests.TestingCreateInstanceF

[2021-03-19 14:32] peters commented on #49859
@jkotas Sure! I can upload it to Azure. Do you have an email where I can send the link privately?

[2021-03-19 14:32] hciupinski opened #49869 "TimeZoneInfo.ConvertTimeFromUTC returns incorrect value"
**Description**
I've got DateTime object equal **01/01/0001 00:00:00** and I would like to convert it to 'Asia/Baghdad' TimeZone. (UTC+3:00)
I would expect it to be **01/01/0001 03:00:00** but the result is **01/01/0001 02:58:00**.

**Configuration**
I'm working on MacOS11.2 and Visual Studio for Mac. As I've checked it with my colleague who works on Windows10 the converted value was at I was expe

[2021-03-19 14:47] eerhardt commented on #49851
Why is this an error and simply not a warning? Is this blocking?

Also, this is test code, which I'm not sure how much we care about ILLink warnings in it.

cc @vitek-karas

[2021-03-19 14:51] steveisok opened #49871 "EncryptedXmlTests.DecryptWithCertificate_NotInStore Android Test Failure"
This test will be disabled for now until we work through X509 support.

[2021-03-19 14:53] #48640 closed

[2021-03-19 15:08] jkotas commented on #49859
My email address is in my github profile.

[2021-03-19 15:09] steveisok opened #49872 "System.Runtime.InteropServices Test Failures on Android"
The following tests are being skipped on Android for the time being:

- [ ] System.Runtime.InteropServices.Tests.OffsetOfTests.OffsetOf_Decimal_ReturnsExpected
`Assert.Equal() Failure\nExpected: 88\nActual:   72`

- [ ] System.Runtime.InteropServices.Tests.OffsetOfTests.OffsetOf_ExplicitLayout_ReturnsExpected
`Assert.Equal() Failure\nExpected: 56\nActual:   52`

[2021-03-19 15:13] huoyaoyuan commented on #49869
Leap second difference?

[2021-03-19 15:16] #45260 closed

[2021-03-19 15:18] jeffrimko commented on #49489
Was able to do a bit more debugging and captured the following using lldb:

[code]

Not sure if that is helpful. If there is anything more I can do within lldb (or another debugging tool), please let me know. I'm new to this level of .NET Core debugging and I'm hesitant to upload a coredump for this application as it is proprietary.

[2021-03-19 15:21] steveisok opened #49873 "System.IO.Pipes test failures on Android"
The following tests fail and we'll skip them for now until we can address further:

- [ ] System.IO.Pipes.Tests.NamedPipeTest_UnixDomainSockets.NamedPipeClient_Connects_With_UnixDomainSocketEndPointServer
`System.Net.Sockets.SocketException : Cannot assign requested address`

- [ ] System.IO.Pipes.Tests.NamedPipeTest_UnixDomainSockets.NamedPipeServer_Connects_With_UnixDomainSocketEndPointClient
`S

[2021-03-19 15:22] Clockwork-Muse commented on #49869
The value is correct, Windows is wrong.

When timezones were first introduced, there was an initial adjustment for each zone from local solar noon to a rounder offset.  This can be seen for almost every timezone.

Why Windows is wrong is that these adjustments were (mostly) performed in the late 1800s, and it doesn't store most of the history for timezones.  Linux derivatives store the entire hist

[2021-03-19 15:23] Clockwork-Muse commented on #49869
There have been 35ish leap seconds added.

[2021-03-19 15:23] tannergooding commented on #49846
I think a generator for vectorized code seems like an overall interesting idea but also a complex one. The main issue I see is that we have 3-4 code paths that are all nearly identical. They often only differ in one or two places when they do differ at all.

The options for normalizing these are:
* Wait for https://github.com/dotnet/runtime/issues/49397 and normalize on `Vector128<T>` everywhere
*

[2021-03-19 15:30] marek-safar commented on #49477
Duplicate of #49211

[2021-03-19 15:30] #49477 closed

[2021-03-19 15:33] filipnavara commented on #49211
The last serviced version of the System.Memory OOB package seems to come from https://github.com/dotnet/corefx/blob/release/2.1/src/System.Memory/pkg/System.Memory.pkgproj. It would likely be necessary to update it on the ancient release/2.1 branch.

[2021-03-19 15:34] jeromelaban opened #49874 "[Wasm][AOT] Can't find custom attr constructor image: InternalsVisibleToAttribute..ctor(string)"
### Description

When building an application, AOT may fail with the following error:

[code]

### Workaround

[code]

### Configuration

dotnet: 8170c06395191ed6ffbf1e8b49e17c1cef7df5d1
linker: c44302b73f744c24293c3092a011655f1a4fffe0

### Regression?

yes

### Other information

[2021-03-19 15:40] jeromelaban opened #49875 "[Wasm][AOT] Running a very large app causes Assertion at aot-runtime.c:5883, condition `*(gint16*)ptr == method_index' not met"
### Description

When running a very large FullAOT app (dotnet.wasm of 164MB), the runtime fails with multiple errors:

[code]
Assertion at /__w/1/s/runtime/src/mono/mono/sgen/sgen-gc.c:2847, condition `!pending_unqueued_finalizer' not met
  | _emscripten_asm_const_int | @ | dotnet.js:5440
  | wasm_trace_logger | @ | 2932b246:0x2cc804f
  | eglib_log_adapter | @ | 2932b246:0x458cc61
  | monoeg_g_lo

[2021-03-19 15:40] AndyAyersMS commented on #49489
Within LLDB you can load up [SOS](https://github.com/dotnet/diagnostics/blob/main/documentation/sos.md) and get a more detailed stack trace (via `clrstack`) which might be helpful.

There are a few options for sending us a coredump securely.
1. Open a new ticket on the [VS Community Portal](https://developercommunity.visualstudio.com/search?entry=suggestion&space=61) referring to this issue, and t

[2021-03-19 15:47] MithrilMan commented on #41050
@dazinator thanks, I've solved for my use case but I'll take a look.

[2021-03-19 15:48] benaadams commented on #49846
For span helpers while the "not here" are mostly the same (essentially `.Equals`) identifying a found item is very different; the intrinsic paths use the single instruction `MoveMask` whereas the `Vector<T>` path uses a loop over each vector element; which is also why the Jit special cases loop unrolling for `i < Vector<ulong>.Count`
https://github.com/dotnet/runtime/blob/9f93bcb46478b1282daba268a

[2021-03-19 15:49] #49347 closed

[2021-03-19 15:51] #49826 closed

[2021-03-19 15:51] BruceForstall commented on #45580
The corruption was created due to the following code in `verConvertBBToThrowVerificationException`:
[code]
this was only under `DEBUG`, but is needed for Release as well.

In this case, we had created an ASG(LCL_VAR, CATCH_ARG) in a filter before raising a verification exception (the stack was level 2 when reaching an `endfilter`). In release, we didn't clear the statement list, and the CATCH_ARG

[2021-03-19 15:58] #45600 closed

[2021-03-19 16:06] tannergooding commented on #49846
The primary blocker here is that `Vector<T>` is variable sized. We cannot easily expose concepts like `MoveMask` because that may break future extensions. (e.g. `SVE` which can go up to 2048-bits)
Even thinking of AVX-512 support, it can become very limiting in what concepts you can expose for `Vector<T>` because you start requiring `long` or more to represent per element masks.

[2021-03-19 16:10] wfurt commented on #49845
That make sense. Windows & NodeJS can do TLS resume. So you actually use the certificate just once and after the session is resumed without asymmetric crypto. This should be easy to verify.

[2021-03-19 16:18] stephentoub opened #49878 "API Proposal: Implement IEnumerable<> on various X509 collection types"
## Background and Motivation

X509Certificate2Collection and related types implement the non-generic enumerable but not generic enumerable.  This makes them harder to use with LINQ, and it's very common to see `.OfType<X509Whatever>()` used with these types, even though all of the elements of the collection are guaranteed to implement that type.  This makes consumption both more cumbersome, more c

[2021-03-19 16:21] marek-safar commented on #49874
/cc @SamMonoRT

[2021-03-19 16:23] vitek-karas commented on #49851
This is a warning, but if Warnings as Errors is turned on it will show up as an error.

I agree that turning on trim analysis warnings in tests is a bit weird - or rather it will be difficult to get to 0.
Also there's something weird about this because it didn't report the parameter by name, the fact that it use `#1` means that the type/method didn't property resolve or something similar.

[2021-03-19 16:26] Anipik commented on #42645
sure, let me know if you are not working on this then i can go ahead make the changes

[2021-03-19 16:27] #48216 closed

[2021-03-19 16:32] vcsjones commented on #49878
Much to my dismay, `X509Certificate2Collection` can contain an `X509Certificate`, it isn't limited to `X509Certificate2`.

[code]

That does not seem to be the case for `X509Certificate2Collection`.

[2021-03-19 16:36] BruceForstall opened #49880 "Assertion failed '!memBase->isContained()'"
In `runtime-coreclr libraries-jitstress` pipeline, starting with:

https://dev.azure.com/dnceng/public/_build/results?buildId=1043206&view=results

Failure in "net6.0-Linux-Release-x64-CoreCLR_checked-jitstress1_tiered-Ubuntu.1804.Amd64.Open", System.Buffers.Tests:

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-46176226dcf6415fb8/System.Buffers.Tests/console

[2021-03-19 16:38] mangod9 opened #49881 "Regressions/coreclr/GitHub_45929/test45929 intermittently fails with gcstress on arm64"
Disabling this test on arm64 for now till we could investigate the crash.

Few issues where this has failed:
https://github.com/dotnet/runtime/issues/47697
https://github.com/dotnet/runtime/issues/46803

[2021-03-19 16:38] stephentoub commented on #49878
If that's true, that's a bug, since the implementation assumes that's not true:
https://github.com/dotnet/runtime/blob/ded66fc97eaeb9cefd4646cce431131cf8e8877c/src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate2Collection.cs#L38

[2021-03-19 16:39] BruceForstall commented on #49881
It's not just arm64. Here's a R2R Windows x64 case:

https://dev.azure.com/dnceng/public/_build/results?buildId=1047040&view=ms.vss-test-web.build-test-results-tab&runId=32390630&resultId=110633&paneView=debug

[2021-03-19 16:40] BruceForstall commented on #49881
Plus, https://github.com/dotnet/runtime/issues/46803 shows cases of Windows arm32 failures

[2021-03-19 16:41] BruceForstall commented on #48892
@briansull ping

[2021-03-19 16:41] mangod9 commented on #49881
Ah ok, will disable globally then till we can investigate.

[2021-03-19 16:52] ericstj commented on #49211
@marek-safar I thought we had agreed that Xamarin needs to fix this because we rely on the behavior of framework winning over nuget packages (following conflict resolution rules) in many nuget packages: https://github.com/xamarin/xamarin-macios/issues/5687#issuecomment-573223744

[2021-03-19 16:54] sandreenko commented on #49880
Probably this one or https://github.com/dotnet/runtime/pull/49084. I should have waited between merging them, now they are in the same bucket.

I will take a look.

[2021-03-19 17:05] filipnavara commented on #49211
I checked the facades and they seem to have [version 4.0.99.0] (https://github.com/mono/mono/blob/845fe83dd9c2b74c9feb5a2c2a40ffe28d0e6acf/mcs/class/Facades/System.Memory/AssemblyInfo.cs#L33-L35) which should be higher than what the NuGet provides. What am I missing? Would a repro/binlog help?

Our situation is that we have a library targeting netstandard2.1 that is consumed by xamarinmac2.0 appli

[2021-03-19 17:11] #49486 closed

[2021-03-19 17:26] radekdoulik opened #49884 "[wasm] JavaScriptCore tests are failing on Windows"
The library tests are failing on Windows with JavaScriptCore. We are ignoring it for now, this issue is a reminder to look into it later.

[code]

[2021-03-19 17:34] matthiaslischka opened #49895 "Dependency Injection with default value constructor parameter fails after some time"
### Describe the bug
The title reads very sketchy, I know. Today I noticed a weird bug where the first two requests went good and the third always failed. We had a transient registration for a class that had a parameter in the constructor with default value. Every third attempt to get an transient object from this registration the default value was ignored and instead initialized with some random

[2021-03-19 17:46] LarryC42 opened #49886 "Support SQL Aliases"
### SQL Aliases don't work in .Net core

Issue 14945 was closed with resolutions provided but not implemented.  Please implement or provide a program agnostic resolution that allows thousands of desktops to connect to a new refreshed instances of SQL Server without manual intervention.  .Net core is not suitable for SQL Server database applications in the enterprise as the client currently exists.

[2021-03-19 17:48] #49862 closed

[2021-03-19 17:53] radical opened #49888 "[wasm] Start moving strings to a table that we can link in/out at WasmNativeBuild time"
Based on @lewing's suggestion in https://github.com/dotnet/runtime/pull/49838#pullrequestreview-616007779

`do something intltool-like and start moving strings to a table we can link in or out at WasmBuildNative time?`

[2021-03-19 17:54] ViktorHofer opened #49889 "Infrastructure - Rollout (April 2021)"
# Overview

We use this issue to announce planned Infrastructure changes that will impact the developer workflow in `dotnet/runtime`. Changes will be merged on the **first Monday of the month (5/4)**.

| Change |  Impact | Assignee |
| --- | --- | --- |
|  #50084 | Update the minimum version of the SDK to 6.0 Preview 2. | @ViktorHofer |
| #49715 | Make Ninja the default CMake generator on Windows

[2021-03-19 17:57] steveisok opened #49890 "System.Threading.Tests test failures on Android"
The following tests are failing and will be skipped for now:

`Assert.InRange() Failure\r\nRange:  (0 - 60000)\r\nActual: 60010`

- [ ] ReaderWriterLockTests.AtomicDowngradeTest
- [ ] ReaderWriterLockTests.AtomicRecursiveReaderTest
- [ ] ReaderWriterLockTests.WaitingWritersTest
- [ ] ReaderWriterLockTests.ReadersWaitingOnWaitingUpgraderTest
- [ ] ReaderWriterLockTests.ReadersWaitingOnWaitingWriter

[2021-03-19 18:01] bartonjs commented on #49878
I believe they can be added and removed, because of the members on X509CertificateCollection (the base class of X509Certificate2Collection), but it puts the collection in a bad state for indexing and enumerating.

I agree with the current proposal not making `X509CertificateCollection : IEnumerable<X509Certificate>` (since that would make the 2-coll be both-kinds enumerable), and I think we can sa

[2021-03-19 18:18] stephentoub commented on #49878
We could also override OnValidate to throw an exception if a non-X509Certificate2 is added, but it sounds like even that's not warranted.

[2021-03-19 18:19] ericstj commented on #49211
In your build of the xamarinmac2.0 application you should have a look at this task:
https://github.com/dotnet/sdk/blob/446589256a6fc128d1adffe83551a727ebf7f234/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ConflictResolution.targets#L40

And how that's handling the facade assemblies.  cc @dsplaisted

[2021-03-19 18:20] alexeyzimarev commented on #887
@JeroenBer the lines that you marked as `TODO` in the handler work for me with .NET 5 (macOS). The server I am talking to only supports NTLM.

[2021-03-19 18:21] trylek commented on #49889
I originally added a mention of https://github.com/dotnet/runtime/pull/49004 but I think it's probably not worth announcing as part of the rollout as its impact on developer flow is actually very minuscule.

[2021-03-19 18:26] trylek opened #49891 "Runtime installer build (packs.product) on Unix doesn't produce a binlog"
While investigating whether we're compiling framework libraries with Crossgen1 or Crossgen2 I noticed that Linux / OSX doesn't publish the build.binlog file; as the shared framework SDK currently doesn't produce any diagnostic output at all when compiling the framework (cf. https://github.com/dotnet/sdk/issues/15466), there is basically no way to verify which compiler was used for the compilation.

[2021-03-19 18:27] GPSnoopy commented on #49817
I've attached a demo running on .NET5:
[DotNetGcStressTest_v1.zip](https://github.com/dotnet/runtime/files/6173323/DotNetGcStressTest_v1.zip)

Results on a R5950X 128GB:

__Server GC__
[code]

__Workstation GC__
[code]

TotalCommittedBytes seems to be the closest to what I was looking for, as it does account for the "missing" memory. This property was not available in .NET 3.1.

The Workstation GC

[2021-03-19 18:39] #42008 closed

[2021-03-19 18:44] cshung commented on #49817
Check this out: https://github.com/dotnet/runtime/pull/48601

[2021-03-19 18:48] CoffeeFlux commented on #48056
This is mostly done, so I think we're good here. The remaining bits are either held by EventPipe or Monitor.

[2021-03-19 18:48] #48056 closed

[2021-03-19 18:49] CoffeeFlux commented on #49890
Was this tested before or after my recent Threading PR?

[2021-03-19 18:51] steveisok commented on #49890
Earlier this morning.  How recent is your PR?

[2021-03-19 18:54] filipnavara commented on #49211
Here's a small self-contained repro (app + netstandard2.0 library referencing the System.Memory package):
[Repro.zip](https://github.com/dotnet/runtime/files/6173487/Repro.zip)

[2021-03-19 19:07] mangod9 commented on #49826
@sebastienros please let us know when a successful perf run is complete after picking up this fix.

[2021-03-19 19:10] CoffeeFlux commented on #49890
Ah okay, not that recent. Should be good then.

[2021-03-19 19:12] AndyAyersMS commented on #47663
Using editbin and some binary searching, the 3.1 app's max stack is between 0x110000 and 0x111000 bytes, and 5.0 is between 0x180000 and 0x181000.

At point of overflow, 3.1 has 8983 active frames; 5.0 has 14612 frames.

Comparing the recurring patterns (with frame sizes in hex) we see things like:

[code]
So there is an additional x70 bytes of stack from stubs and 0x50 from exprF's frame remainin

[2021-03-19 19:18] sebastienros commented on #49826
I confirm the latest build, which includes the fix, fixes all scenarios that were broken. Thanks!

[2021-03-19 19:19] sebastienros commented on #49826
Tested with 6.0.0-preview.3.21169.6+76954b4ed7b5cd48ace16fefb1209fe56779b247

[2021-03-19 19:20] dsplaisted commented on #49211
@filipnavara Can you share a [binlog](https://aka.ms/binlog) of building that project?

[2021-03-19 19:21] ccruden-shookiot opened #49896 "CancellationTokenSource.CancelAfter may cause unhandled InvalidOperationException"
I'm not sure if this is the right place to be posting this, so please let me know if there is a better option....

Under certain circumstances, creating a linked token source where one of the tokens is canceled on a timer seems to cause unhandled InvalidOperationExceptions when the timer eventually fires. Stack trace from Event Viewer:
Framework Version: v4.0.30319
Description: The process was ter

[2021-03-19 19:22] cheenamalhotra commented on #49886
Last update ref: https://github.com/dotnet/runtime/issues/14945#issuecomment-285707332

Thanks @LarryC42
We can re-investigate to see if we can add support for this in **Microsoft.Data.SqlClient [.NET Core/Standard]**.

[2021-03-19 19:23] mangod9 commented on #49826
Ok nice. Thanks for the update! Please let us know if you hit any other issues. Would be interesting to see if the publish size has increased/decreased with the cg2 compilation of libraries.

[2021-03-19 19:23] tarekgh commented on #49036
Here is the summary of the diff with the original proposal.

[code]

[2021-03-19 19:23] JeroenBer commented on #887
@alexeyzimarev it's still experimental code, the todo's were more for a better solution but I haven't gotten around to it yet. But glad it works!

[2021-03-19 19:23] filipnavara commented on #49211
Sure, here you go:
[msbuild.binlog.zip](https://github.com/dotnet/runtime/files/6173597/msbuild.binlog.zip)

[2021-03-19 20:18] CarnaViire opened #49897 "Configure HTTP/2 receive window size"
## Background and Motivation

Current HTTP/2 receive window size is 64 Kb, which is too small for many scenarios. It leads to poor throughput, see e.g. #43086

Just increasing the default window size may result in unwanted memory consumption in some cases. It is proposed to enable users to configure flow control properties that so they can reach a compromise between memory consumption and throughp

[2021-03-19 20:22] AndyAyersMS opened #49898 "JIT: named intrinsic oddities"
For some reason TBD some of the method contexts in the aspnet collection have intrinsic flagged methods that are not intrinsics.

And when we have those, the jit does a lot repeated failing lookups.

Seems like when a named intrinsic lookup fails we should clear the intrinsic flag and update `lookupNamedIntrinsic` so subsequent lookups fail quickly..

One scenario where we do multiple lookups:
* w

[2021-03-19 20:41] TheXenocide opened #49902 "Reference Assemblies have different Assembly Versions than their implementations in the same package?"
I don't know if this is intentional or not, but it has been rather baffling to find that packages like Microsoft.VisualBasic and System.Reflection.TypeExtensions are not the exact same assembly version within the same package. Is there some benefit this serves and, if so, how would I normally be expected to find that information? It is also unclear to me what the benefit of having reference assemb

[2021-03-19 20:41] stephentoub opened #49903 "API Proposal: AsyncMethodBuilderOverrideAttribute and PoolingAsyncValueTaskMethodBuilders"
## Background

### Async Method Builder Overrides

The language compiler needs to know how to “build” the return type of an async method, e.g. if you have the method:
[code]
the compiler transforms the method into a state machine, and it needs to know how to produce a `ValueTask<int>` that represents that method’s operation, how to create the task, how to store a result into the task, how to store

[2021-03-19 20:45] erikma commented on #43086
+1 to @JamesNK's comment, a switch from the Google gRPC client to the .NET client in a system that does ~100MB downloads results in a download speed of 4.5MB/sec over WAN, as opposed to link saturation (1Gbps, 125MB/sec max theoretical) like the Google client. If I park the .NET client on the same datacenter backbone as the server it goes back to link saturation.

[2021-03-19 20:47] lambdageek opened #49904 "[Mono] implement static methods in interfaces support"
Implement support for [static interface methods](https://github.com/dotnet/runtime/pull/49558) (csharp design: https://github.com/dotnet/csharplang/issues/4436)

Work items:
- [ ] unconditionally enable JIT support (can borrow from partydonk prototype)
- [ ] unconditionally enable interpreter support
- [ ] support for the `RuntimeFeature` flag to check for [experimental features](https://github.co

[2021-03-19 20:50] EgorBo commented on #49898
Wonder how that `get_Application` got `CORINFO_FLG_JIT_INTRINSIC` flag

[2021-03-19 20:52] mattjohnsonpint commented on #49036
Also kill ` public int Hour12 { get { throw null; } }`

[2021-03-19 20:52] halter73 commented on #49897
How is the initial connection window size currently determined? Should that also be configurable?

[2021-03-19 20:54] ericstj commented on #42645
@pranavkm @dougbu is it ok to remove these 4 assemblies from the transport package now?

[2021-03-19 20:56] jcouv opened #49905 "System.Runtime.CompilerServices.RuntimeFeature.VirtualStaticsInInterfaces"
The runtime should expose the following feature flag for runtimes that support static abstract members in interfaces.

[code]

The implementation of `static bool IsSupported(string feature)` should be updated accordingly.

FYI @davidwrighton @AlekseyTs

Relates to language feature: https://github.com/dotnet/csharplang/issues/4436

Per discussion with the overall feature crew, we'd like this change

[2021-03-19 20:57] pranavkm commented on #42645
Yup. They're gone - https://github.com/aspnet/Announcements/issues/456

[2021-03-19 21:09] EgorBo commented on #49898
I think it's just me incorrectly used it there, `CORINFO_FLG_JIT_INTRINSIC` shouldn't be checked against `gtCallFlags` at all.

[2021-03-19 21:11] Maoni0 commented on #49817
this is most likely due to how we handle the ephemeral segments which is described [here](https://github.com/Maoni0/mem-doc/blob/master/doc/.NETMemoryPerformanceAnalysis.md#special-handling-of-the-ephemeral-segment). committed bytes can be roughly approximated to the `SizeBeforeBytes` field in `GCGenerationInfo` that you can also get with GetGCMemoryInfo - `GenerationInfo[0]`.

[2021-03-19 21:14] CarnaViire commented on #49897
Connection's window size is 64 Mb. I guess configuring it makes sense, in case you would want a really big stream window, so connection window won't become a bottleneck... I'll add that

[2021-03-19 21:19] tarekgh commented on #49036
I got this feedback twice now :-) so I did it. Thanks!

[2021-03-19 21:19] stephentoub commented on #49905
I assume this gets attributed as [Preview] as well?

[2021-03-19 21:23] tommcdon commented on #49592
Closing this issue since the outstanding runtime work is tracked #49659, and the VS PerfWatson investigation is being tracked internally.  Please feel free to let us know if we should re-activate.

[2021-03-19 21:23] #49592 closed

[2021-03-19 21:35] eiriktsarpalis opened #49909 "IEnumerableConverter not disposing IEnumerators"
#48322 fixed json collection converters not disposing IEnumerators, however it looks like [IEnumerableConverter](https://github.com/dotnet/runtime/blob/88be24b566d6408417c27a20dc1df91516d01a59/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableConverter.cs#L47) was missed. We need to fix this converter and audit the code for any other collection conv

[2021-03-19 21:36] stephentoub commented on #49896
This looks like an exception on .NET Framework.  This repo is for .NET Core.  Are you hitting the same issue on .NET Core?

Thanks.

[2021-03-19 21:40] ccruden-uptake commented on #49896
The program is .NET Framework, but the assembly containing the above code is .NET standard 2.0 - not sure if that makes a difference or not.... If it's still a .NET Framework issue, where should I be posting this? I didn't see anything in the list of projects on github.com/dotnet that screamed .NET Framework, but there were a lot of them and I may have missed it....

[2021-03-19 21:42] eiriktsarpalis commented on #49909
TIL that the untyped `IEnumerator` does not implement `IDisposable`. 🤦‍♂️

[2021-03-19 21:42] #49909 closed

[2021-03-19 21:47] maryamariyan commented on #45391
Each configuration hierarchy has its own change notification but doesn't notify the parent one.

So seems like when the chained configuration changes the parent configuration also needs to listen to the notification and that part was never implemented.

The fix would be to come up with a way to have chained configuration hook up to reload by registering to a change notification and to set up the c

[2021-03-19 21:51] stephentoub commented on #49646
@jkotas, I'm on the latest VS build that's offered to me (31118.392.main) and I'm sync'd to main, but I'm now unable to build, even with -ninja.  What version of VS do you have?

I hit linking errors on ildasm:
[code]

[2021-03-19 21:58] radical opened #49910 "[wasm] Blazor workload tasks"
For blazor wasm workload, currently:

- aspnetcore has a tool `install-blazoraot` which:
   - installs the workload manifest (json+targets)
   - installs the various packs that it needs (https://github.com/dotnet/aspnetcore/blob/main/src/Components/WebAssembly/BlazorManifest/src/WorkloadManifest.targets#L7-L9)

- This is missing an Emscripten dependency, but since packages for that just recently b

[2021-03-19 22:03] ericstj commented on #49211
@dsplaisted and I had a look.  It seems that the Xamarin targeting packs don't include any information that indicate the framework contents to the ConflictResolution targets linked above.

On .NETCore that information is part of the PlatformManifest.xml file.  On .NETFramework that information comes from the FrameworkList.xml file.

Xamarin.Mac is providing the latter (/Library/Frameworks/Xamarin.

[2021-03-19 22:07] vsfeedback opened #49912 "Blazor WebAssembly debugger doesn't load values properly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-WebAssembly-debugger-doesnt-load/1374036)._

---
[severity:It's more difficult to complete my work]
While debugging Blazor Webassemply apps the debugger works really poorly stopping on breakpoints and also showing values. This makes debugging really painful and time consuming.

1

[2021-03-19 22:07] mkArtakMSFT commented on #49912
@lewing  FYI

[2021-03-19 22:08] vsfeedback opened #50001 "Blazor webassembly debugger doesn't stop on exception"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-webassembly-debugger-doesnt-stop/1371888)._

---
[severity:It's more difficult to complete my work]
When debugging any dotnet application in VS we can choose to stop on any exception. That make the debugging really quick when there are exceptions and we want to inspect what happen

[2021-03-19 22:10] SartorialOffense commented on #43086
@erikma I see very similar results.

[2021-03-19 22:15] cunninghamd commented on #44535
All tickets point to this ticket as being "the solution", however the challenge is if you're using a developer certificate using the `dotnet devcerts https ...`, the situation still fails with error.

dotnet command per documentation at:
https://docs.microsoft.com/en-us/aspnet/core/security/docker-https?view=aspnetcore-5.0

so is there an update needed to the `devcerts` option to prevent the certi

[2021-03-19 22:20] davidwrighton commented on #49905
@jcouv  I agree with @stephentoub that this constant should be marked with the preview attribute. Do we think that the IsSupported function result should also be conditional on the runtime preview flag being set as well?

[2021-03-19 22:29] AndyAyersMS commented on #49520
Here's a listing from today's build. We now have PGO data flowing into SPC and on through to jitting.

This is happening without any COMPlus settings.

[code]

[2021-03-19 22:36] jkotas commented on #47663
Do you see any obvious places where to make these frames smaller? I think this looks by design / won't fix to me.

[2021-03-19 22:44] Clockwork-Muse commented on #49036
... can we make the `TimeOfDay.AddX` methods take an integer type?  And add back versions for milliseconds/ticks?  I feel like we should be discouraging the use of fractional values when it would be better to use explicit integral amounts of smaller measures.

[2021-03-19 22:45] benaadams commented on #49520
Does it pick that up for async Method kick offs (as they will be new inlines); though presumably that will kick in at Tier1 anyway and at Tier0 the ordering of that `if` probably isn't a significant feature

[2021-03-19 22:45] lewing commented on #49910
closing for now

[2021-03-19 22:45] #49910 closed

[2021-03-19 22:46] AndyAyersMS commented on #47663
I haven't looked yet. Let me see if there's anything that we can do.

Even if so, the overhead will surely still be larger than in 3.1.

[2021-03-19 22:53] bartonjs commented on #49036
Do you have an actual use case for wanting N ticks after 15:41?  In the preliminary review meeting we felt that that's an edge-enough case that it can be handled by `Add(TimeSpan.FromTicks(N))`.  (Personally, I'm in favor of removing all of the `Add` methods except the TimeSpan one, but I see the use case for shifting by hours (business open hours), then significantly less so for minutes, and sign

[2021-03-19 23:05] niemyjski commented on #47455
We are also running into this and we have a fully custom implementation of IFileProvider, returning null for PhysicalFile seemed to work

[2021-03-19 23:20] Clockwork-Muse commented on #49036
Not really, it's mostly me being completionist.

[2021-03-19 23:21] brianrob opened #49918 "HttpClient.SendAsync Throws Two Exceptions When QUIC Is Not Supported"
On first use of `HttpClient`, there is a check to see if QUIC is supported.  On any machine where QUIC hasn't been setup, this code throws two exceptions - a DLLNotFoundException, which is caught, and translated into a NotSupportedException.  The NotSupportedException is also caught and translated into `IsSupported = true`.  This is the stack where this happens:

[code]

Given that this is a light

[2021-03-19 23:21] carlossanlop commented on #49803
This is expected behavior. It's an intentional breaking change that was introduced in .NET Core 2.1. The key changes are described in [this document](https://docs.microsoft.com/en-us/archive/blogs/jeremykuhne/system-io-in-net-core-2-1-sneak-peek).

Among the [Key behavior changes](https://docs.microsoft.com/en-us/archive/blogs/jeremykuhne/system-io-in-net-core-2-1-sneak-peek#key-behavior-changes),

[2021-03-19 23:29] bartonjs commented on #49646
FWIW, @stephentoub, I just ran into your original problem, tried to solve it by upgrading VS/tooling to the latest (which was also 31118.392.main), and after finding this issue found that building with `-ninja` worked for me.  (build as of aebce6862b460db761931033bbcd2bdab95ebbe8)

[2021-03-19 23:50] omajid commented on #46526
Thanks! Unfortunately, that doesn't seem to address the compiler errors I am seeing.

Building runtime's `main` branch leads me to errors like https://gist.github.com/omajid/03106c961a4cc39a2e456aea13302943. I tried `support_openssl3` branch, but that leads me to essentially the same set of errors.

The first few errors seem to be fixed by something like this in `opensslshim.h`:

[code]

I will ke

[2021-03-20 00:00] bartonjs commented on #46526
Hmmm.. I probably only tried building non-portable when building against 3.0

[2021-03-20 00:32] filipnavara commented on #49211
Thanks for pointing me in the right direction and what to look for.

I don't have a file named `/Library/Frameworks/Xamarin.Mac.framework/Versions/Current/lib/mono/Xamarin.Mac/RedistList/FrameworkList.xml` on my machine. There are few other ones:
[code]

Xamarin sources do have the FrameworkList.xml lists which include the System.Memory correctly so it may actually be an issue with deployment of t

[2021-03-20 00:37] stephentoub commented on #49431
Reopening to track porting back to 5.0

[2021-03-20 00:44] GrabYourPitchforks commented on #49211
@ericstj @dsplaisted Would it make sense to repath this to __area-setup__ or similar? I'm not sure who all needs to get their eyes on this, but I don't think the _System.Memory_ feature owners have the expertise for this.

[2021-03-20 00:58] AndyAyersMS commented on #47663
We might be able to shrink the frame for `DispatchTailCalls` by 0x10 bytes, if we're willing to do a manual EH write through thing. There is already an 8 byte void, so if we can free up one local slot everything can slide down. Will give this a try.

Asking @kunalspathak to look at why this doesn't happen automatically in 6.0.

[2021-03-20 01:32] GrabYourPitchforks commented on #42008
@adamsitnik @eiriktsarpalis Can we double-check the contents of https://github.com/dotnet/runtime/blob/main/docs/workflow/requirements/windows-requirements.md to verify that they're still applicable to arm64 Windows devices?

[2021-03-20 01:44] AntonLapounov commented on #42008
Yes, they are applicable.  In fact, the minimal VS installation you need for building the repo without tests is Build Tools edition with C++ ARM64 build tools, which can be installed this way:
[code]
Alternatively you may use `vs_community.exe` for the Community edition or/and add `Microsoft.VisualStudio.Component.Windows10SDK.19041` after `--add` to also install Windows 10 SDK.

x86 version of Gi

[2021-03-20 02:00] jakobbotsch commented on #47663
I believe that we can get rid of `PortableTailCallFrame::Prev` which might help a bit. This is leftover from before the dispatcher was a tight loop, if I remember correctly. The previous frame should already exist as a local in `DispatchTailCall`.

[2021-03-20 02:13] lateapexearlyspeed commented on #44728
Hi, I would ask some questions if this issue is allowed to improve now, thanks.

1. In [ServiceCollectionDescriptorExtensions.cs](https://github.com/benaadams/runtime/blob/main/src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/Extensions/ServiceCollectionDescriptorExtensions.cs) , besides of checking ServiceType for most of TryAdd(), TryAddEnumerable() checks both ServiceType

[2021-03-20 02:47] baal2000 commented on #42743
@mangod9 Ideally this is fixed in version 5 because preview frameworks are not for production use. The hope is that the fix is narrow enough to not represent much of a regression risk. Thank you.

[2021-03-20 02:48] AndyAyersMS commented on #47663
There is 8 bytes of void in the frame, so seemingly any 8 byte reduction could shrink the whole frame by 16 bytes.

This change decreases the frame size to 0x50, but I am still seeing overflows.

[code]

[2021-03-20 03:00] jcouv commented on #49905
I think marking it as `[Preview]` (or whatever attribute we end up using to gate preview features) is okay, but would have minimal benefit as the compiler is the main consumer of `RuntimeFeature`.

It is also okay to have the `IsSupported` logic conditional on the runtime preview flag, but the difference is only observable if you use "preview" language version without setting the runtime preview f

[2021-03-20 03:06] jeromelaban commented on #49874
Note that this issue also affects interpreter only builds, but at runtime.

[2021-03-20 03:10] #49684 closed

[2021-03-20 03:11] vsfeedback opened #49922 "Dataset.GetXml() har changed from netcore3.1 to net5"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/DatasetGetXml-har-changed-from-netcor/1272596)._

---
I am serializing/deserializing a DataSet. It fails after updating to net5.

There is a difference in the result from DataSet.GetXml() between the 2 versions

Example:

netcore3.1 returns:

<NewDataSet>
  <opening>
    <Andelsforening

[2021-03-20 03:15] jkotas commented on #49803
@carlossanlop This behavior is not expected. I do not think that it can be justified by the  .NET Core 2.1 breaking change.

It is either a bug in how we are parsing the bulk file enumeration responses (it won't be the first one) or it is a bug in the Sharepoint file system driver. Could you please look into that?

[2021-03-20 03:17] jkotas commented on #49803
This in particular is an indication that it is a bug.

[2021-03-20 03:45] shirhatti opened #49923 "Add the ability to "enrich" logging scopes"
We should add the ability to [enrich](https://github.com/serilog/serilog/wiki/Enrichment) logging scopes, i.e., add or remove well-known keys without having to replace the default `IExternalScopeProvider`.

This would help with issues like https://github.com/dotnet/aspnetcore/issues/31028.

[2021-03-20 03:47] shirhatti commented on #49923
cc @cijothomas @reyang since OpenTelemetry is interested in the same functionality

[2021-03-20 03:58] GrabYourPitchforks commented on #42008
@AntonLapounov The previous release of Git for Windows had some regressions on arm64. I had to install a nightly to unblock myself. But according to https://github.com/git-for-windows/git/issues/3107, looks like there's going to be a flurry of work on this in the near future. So things should get better. :)

[2021-03-20 04:13] shirhatti opened #49924 "Allow log filtering on a per eventId basis"
We should consider adding the ability to allow filtering log on a per EventID basis. While I don't expect this to be a common use case, it can invaluable in many situations.

Unfortunately, ASP.NET Core isn't judicious with use category names. Enabling debug level logging on a category like `Microsoft.AspNetCore.Server.Kestrel`. For example, if you wanted to increase the verbosity of Kestrel loggi

[2021-03-20 04:13] shirhatti commented on #49924
Example of an issue we encountered today in ASP.NET Core- https://github.com/dotnet/aspnetcore/issues/30956

[2021-03-20 04:26] mikernet commented on #49796
This method also has inconsistent behavior between Windows and Unix - on Windows, if the source and destination file are the same it throws an exception. On Unix it works fine and still copies the contents of the file to the backup file name.

[2021-03-20 04:29] #20626 closed

[2021-03-20 04:29] tarekgh commented on #20624
Fixed by the PR https://github.com/dotnet/runtime/pull/49733

[2021-03-20 04:29] #20624 closed

[2021-03-20 05:38] GrabYourPitchforks commented on #49922
+ @ajcvickers as System.Data owner

[2021-03-20 06:23] jkotas commented on #49646
I just tried on 31118.392.main as well. I do not see the `_@@_PchSym_` errors. The only error that I see is linker warning treated as error in non-ninja release build. I am going to submit a PR for that shortly.

[2021-03-20 08:11] marek-safar commented on #49874
@CoffeeFlux @lambdageek could you loop into fixing this for P3.

[2021-03-20 08:21] marek-safar commented on #49905
Why are we adding this API? The compiler will use the string literal because it does not target net6, right?

[2021-03-20 08:23] MichalStrehovsky opened #49926 "Missing test coverage for Module.GetMethod and Module.GetMethods"
We have plenty of coverage for GetField but none for GetMethod(s):

https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/libraries/System.Runtime/tests/System/Reflection/ModuleTests.cs#L139-L177

Note this requires writing some IL here: https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/libraries/System.Runtime/tests/TestModule/System

[2021-03-20 08:31] mfilippov opened #49927 "Can't build runtime on macSO"
### Description

### Configuration

### Regression?

### Other information

[2021-03-20 08:31] #49927 closed

[2021-03-20 08:34] mfilippov opened #49928 "Can't build runtime on macOS."
### Description

./build.sh crashed on macOS M!

### Configuration

Apple macOS Big Sur 11.2.3
Macmini9,1

[code]
[dotnet_2021-03-20-110631_unit-2210.crash.txt](https://github.com/dotnet/runtime/files/6175131/dotnet_2021-03-20-110631_unit-2210.crash.txt)

[2021-03-20 08:41] TETYYS opened #49929 "Microsoft.Extensions.Configuration.Binder crashes when binding to dynamic dictionary value"
### Description

[code]

Crashes with `Unhandled exception. System.ArgumentNullException: Value cannot be null. (Parameter 'type')`. If binding is not possible, it should throw exception with a proper description. Same thing happens with `object` instead of `dynamic`.

Try it here: https://dotnetfiddle.net/5EkGGe

### Configuration

* Which version of .NET is the code running on? .NET 5
* What OS

[2021-03-20 08:42] alexeyzimarev commented on #887
I understand, just wanted to provide some feedback :)

[2021-03-20 09:35] mriehm commented on #24847
I can only speak for my own use cases, but an OverlappedFile type that cannot be constructed with a file handle would not likely be useful to me.

**Performance Concerns**
While I would of course appreciate higher performance Read() and Write() operations, the performance of opening file handles has also been a significant source of performance problems for my application (exacerbated by condition

[2021-03-20 10:34] waf commented on #802
I don't see this specifically mentioned, but <kbd>shift</kbd>+<kbd>enter</kbd> is also incomplete on Linux (I'm testing on WSL2 Ubuntu). Using the following program returns different results on Windows vs Linux:

[code]

On Windows, we get:

[code]

On Linux, we get:

[code]

[2021-03-20 10:36] wzchua commented on #36062
There's no issue with the mount. The docker image default `DOTNET_ENVIRONMENT` value is `Production`. If you set it to Development in the `launchSettings.json`, it will work.
[code]

[2021-03-20 11:23] stephentoub commented on #49646
Without ninja, I get:
[code]
Is that the warning-as-error you're referring to?

With ninja, I get the aforementioned `_@@_PchSym_` errors.

This is after doing:
git fetch --all
git reset --hard upstream/main
git clean -xdf

[2021-03-20 11:42] steveisok opened #49931 "System.Runtime.Extensions test failures on Android"
The following tests fail and will be skipped for now:

`Assert.Equal() Failure\nExpected: -497250249\nActual:   -259860853`
- [ ] System.Tests.StringComparerTests.CreateFromCultureAndOptionsStringSort

`Assert.Equal() Failure\nExpected: True\nActual:   False`
- [ ] System.Tests.StringComparerTests.CreateFromCultureAndOptions

`It is expected to have the lowercase equals the uppercase with ignore c

[2021-03-20 11:45] huoyaoyuan commented on #49905
Like `DefaultImplementationsOfInterfaces`, the compiler detects the existence of the property to decide feature availability.

[2021-03-20 11:46] steveisok opened #49932 "System.Private.Uri test failures on Android"
The following tests fail/flake on Android and will be skipped for now:

`Assert.False() Failure\nExpected: False\nActual:   True`

- [ ] System.PrivateUri.Tests.UriTests.Uri_DoesNotLockOnString

[2021-03-20 11:58] filipnavara commented on #49211
I studied the build system a bit and it looks like this:
- `/Library/Frameworks/Xamarin.Mac.framework/Versions/Current/lib/msbuild/FrameworkList.xml` should be the Xamarin.Mac 2.0 profile. It's generated from source [here](https://github.com/xamarin/xamarin-macios/blob/main/msbuild/Xamarin.Mac.Tasks/Xamarin.Mac-Mobile-FrameworkList.xml.in) and it lists `System.Memory` version 4.0.99.0 which should

[2021-03-20 12:30] filipnavara commented on #49211
I looked at the implementation of ResolvePackageFileConflicts and how it looks up the FrameworkList.xml file.

Copying `/Library/Frameworks/Xamarin.Mac.framework/Versions/Current/lib/msbuild/FrameworkList.xml` to `/Library/Frameworks/Xamarin.Mac.framework/Versions/Current/lib/mono/Xamarin.Mac/RedistList/FrameworkList.xml` seems to fix the conflict resolution.

Now, who should I bother about the pa

[2021-03-20 12:54] stephentoub commented on #49896
There's no dotnet/* repo for the .NET Framework as it's not open source.  You can submit bug reports at https://developercommunity.visualstudio.com/report?space=61&entry=problem.

That said, this doesn't look like a bug in CancellationTokenSource to me.  The call stack you shared shows:
[code]
which highlights that the exception is coming from a handler that was registered with the CancellationTok

[2021-03-20 13:36] steveisok opened #49936 "System.Text.Json test failures on Android x86"
The following tests fail on Android x86 runs and will be skipped for now:

`System.Text.Json.JsonException : 'N' is an invalid start of a value. Path: $[3] | LineNumber: 0 | BytePositionInLine: 18.`
- [ ] System.Text.Json.Serialization.Tests.NumberHandlingTests.Number_AsCollectionElement_RoundTrip

`Assert.Equal() Failure\nExpected: 3.4028235E+38\nActual:   NaN`
- [ ] System.Text.Json.Serializatio

[2021-03-20 13:43] steveisok opened #49937 "System.Threading tests are flaking at a high rate on Android x64"
I have not seen an established pattern as of yet, but System.Threading does appear to flake with different tests from run to run.  Until we can investigate further, the entire suite is going to be skipped on CI runs.

[2021-03-20 13:55] jkotas commented on #49928
Related #49568

cc @sdmaclea

[2021-03-20 14:04] jkotas commented on #49646
Yes, that's the error that I am referring to. It is actually non-surprissible hard error and I have not found yet what needs to be changed to make it go away.

I have tried again with ninja and it works fine for me. (I have done `build.cmd -s clr+libs -c Release -ninja`.) What is the exact command that you are using?

I suspect that it may be a build race condition that only repros with ninja. @jk

[2021-03-20 14:35] stephentoub commented on #49646
Yeah,  I'd tried and had no luck.

Not at my machine right now,  but I've been doing:
build.cmd clr+libs -rc Release -ninja

[2021-03-20 14:54] jkotas commented on #49646
This error can be worked around by passing `/p:NoPgoOptimize=true` to the build, e.g. `build.cmd -s clr+libs -c Release /p:NoPgoOptimize=true`

[2021-03-20 15:30] lambdageek commented on #49874
Isn't this a linker bug?  the assembly apparently has an `InternalsVisibleTo` attribute, but that class' ctor was trimmed from corlib.  If the attributte is used on an app assembly, why is it getting trimmed away from corlib?

[2021-03-20 15:30] taidang1902 commented on #43313
Hi @EgorBo , I'm facing an issue after running this cmd:
`dotnet publish -c Release -r osx-arm64 /p:PublishTrimmed=true /p:TrimMode=link`
Could you advise solution to resolve this issue?

[2021-03-20 15:32] lambdageek commented on #49888
Should we have a convenience routine to get the strings from a string resource in S.P.C like coreclr do?

[2021-03-20 15:51] #49898 closed

[2021-03-20 16:04] pranavkm opened #49939 "6.0.0-preview.3.21169.6 version of browser-wasm package on Windows is missing cross-compiler"
[code]

[2021-03-20 16:05] pranavkm commented on #49939
FYI @radical / @lewing

[2021-03-20 16:10] AndyAyersMS commented on #47663
Looks like I was confused above, and the frame size for DispatchTailCalls in 5.0 was 0x50, so above is not any smaller.

@jakobbotsch's suggestion works and reduces the size to 0x40. But the app still overflows, this time with a different stack; that stack still has DispatchTailCalls on it but the remainder of the frames are user code.

So I don't see a way for us to fix this in 5.0. We can take t

[2021-03-20 16:12] jeffschwMSFT commented on #49896
Please link the dev community item back to this issue, if @stephentoub's recommendation did not help.

[2021-03-20 16:12] #49896 closed

[2021-03-20 16:16] juwens opened #49940 "System.Text.Json: Method not found System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8 stil happens in NuGet 5.0.0 ans 5.0.1"
Still happens with:
- Xamarin.iOS 14.14.2.5
- and:  System.Text.Json Nuget 5.0.0 and 5.0.1

Background info, because this was discussed in another thread.
- Every Xamarin.iOS Release >= 12.16, is Netstandard 2.1 capable.
- https://docs.microsoft.com/en-us/dotnet/standard/net-standard

Related: #1460 #31066 #31326

[code]

https://gist.github.com/juwens/d04e750ac0ad352f085da571b6a5482f

[2021-03-20 16:26] jkotas commented on #49646
I have opened https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1295929/ on the LNK1268 error.

[2021-03-20 17:06] KevinRansom commented on #47663
@AndyAyersMS @jakobbotsch , We will have to do a better job on our end.

Thanks for looking at this, closing

Kevin

[2021-03-20 17:06] #47663 closed

[2021-03-20 17:34] ericstj commented on #49211
Yeah, I don't know who builds these Xamarin targeting packs.  @rolfbjarne do you know?  FWIW it looks like this same problem might be present in other targeting packs, the linked issue had a report from Xamarin.IoS.

Are you sure Mono runtime doesn't also need a fix here?  Definitely conflict resolution should have won over here, but on .NETCore, even when an application  chooses to deploy a versi

[2021-03-20 17:43] sdmaclea commented on #49928
I just saw this crash last night and was pushing the patch.

To build on M1, the macOS-arm64 is a currently not stable enough.  I am using

[code]

[2021-03-20 17:45] davidfowl opened #49941 "Support IList<ReadOnlyMemory<byte>> SocketAsyncEventArgs"
## Background and Motivation

Doing some profiling writing large payloads via Kestrel, about 1.2 % of the overall time is spent converting from `ReadOnlySequence<byte>` to a `List<ArraySegment<byte>>` for the eventual call to the underlying socket API that takes an array of pointers to buffers. Most of the time is spent calling into [`MemoryMarshal.TryGetArray`](https://github.com/dotnet/runtime/b

[2021-03-20 19:01] ccruden-uptake commented on #49896
There is a race condition in ResponseStream.MoveNext. (Issue here https://github.com/cyanfish/grpc-dotnet-namedpipes/issues/20) I'm confused as to why it would show up in one stack trace and not another though....

[2021-03-20 19:17] stephentoub commented on #49896
That issue says it's running on .NET 5, whereas this one is .NET Framework.  There are non-trivial differences between the runtimes that could lead to differences in the reported stack traces.

[2021-03-20 19:19] stephentoub commented on #49646
No dice.  I did:
[code]
and I got:
[code]
with earlier details like:
[code]
No idea how my system differs from yours.

[2021-03-20 19:19] ccruden-uptake commented on #49896
Fair enough. Thanks for the help!

[2021-03-20 20:45] stephentoub opened #49944 "Analyzer Proposal: Seal internal/private types"
There are numerous performance benefits to sealing types:
1.	Calls to overrides can be done directly rather than with virtual dispatch, which then also means they can be inlined.

[code]
results in:
[code]

2.	`is`/`as` type checks for the type can be done more efficiently, as it only needs to compare the type itself rather than account for a potential hierarchy.

[code]
results in:
[code]

3.	Arr

[2021-03-20 20:45] GrabYourPitchforks commented on #49940
@ericstj Is this the same root cause as https://github.com/dotnet/runtime/issues/49211? See also your earlier comment at https://github.com/dotnet/runtime/issues/1460#issuecomment-573221534.

[2021-03-20 20:53] tarekgh commented on #49869
@hciupinski

What @Clockwork-Muse said is correct. If you look https://www.timeanddate.com/worldclock/converter.html?iso=19001231T210224&p1=27 you can see the same.

Unfortunately, Windows is not carrying the historical time zone data for all time zones. If you look at the "Arabic Standard Time" zone data on Windows (which corresponds to `Asia/Baghda`) you'll see the data starts from year 2004. so

[2021-03-20 20:53] #49869 closed

[2021-03-20 20:54] tarekgh commented on #49869
@hciupinski

What @Clockwork-Muse said is correct. If you look https://www.timeanddate.com/worldclock/converter.html?iso=19001231T210224&p1=27 you can see the same.

Unfortunately, Windows is not carrying the historical time zone data for all time zones. If you look at the `Arabic Standard Time` zone data on Windows (which corresponds to `Asia/Baghdad`) you'll see the data starts from year 2004. s

[2021-03-20 21:46] filipnavara commented on #49940
@GrabYourPitchforks yes, same error

[2021-03-20 22:03] danmoseley commented on #49944
Can the JIT not perform a similar thought process?

[2021-03-20 22:06] Coderrob commented on #36010
@safern is this attribute still being considered for implementation? Don’t know if I should do anything else for it.

[2021-03-20 22:13] stephentoub commented on #49944
It's the JIT that's doing these aforementioned optimizations based on the type being sealed, but the JIT can't assume that non-sealed types won't ever have derived types, e.g. if a derived type were to be reflection emitted.

[2021-03-20 22:24] uumas opened #49946 "GetLinuxNetworkInterfaces crash if /proc/net/route inaccessible"
### Description

If the user running a dotnet application doesn't have permission to read `/proc/net/route`, and the application calls GetLinuxNetworkInterfaces, it crashes. One application where this is reproducible is Jellyfin, issue at jellyfin/jellyfin#5571

### Configuration

.NET 5.0.3
Linux (Debian x86_64 but should make no difference)

### Crash log

[code]

### Other information

[GetLinu

[2021-03-20 22:29] stephentoub commented on #49646
I tried installed the latest VS2019 release (16.9.2) hoping that would unblock me, but even when running in its dev prompt, I get the same failures.  Presumably the build is finding something newer on my box and using it.

[2021-03-21 00:42] #49928 closed

[2021-03-21 00:48] sdmaclea commented on #43313
@taidang1902 Looks like you are trying to publish osx-arm64 targeting .NET Core 3.1.  The preview2 SDK will support publishing osx-arm64 for .NET6, but not earlier.  You should be able to publish for osx-x64 .NET Core 3.1 and run under Rosetta 2.

[2021-03-21 00:49] sdmaclea commented on #43313
@vitek-karas @richlander Roll Forward on Publish???  Better error message???

[2021-03-21 02:00] stephentoub commented on #49646
I was able to build successfully on another machine with /p:NoPgoOptimize=true, so... 🤷‍♂️

[2021-03-21 02:03] jkotas commented on #49944
Full AOT that can do global analysis of all code that will ever run in the process can do this optimization.

JIT can do this optimization speculatively by assuming that the type is sealed, and undoing/rejiting all code that depends on this assumption when it is proven false. We have stayed away from speculative optimizitions like this so far. We have actually tried to build a similar speculative

[2021-03-21 02:30] BruceForstall opened #49949 "Create checked/release SuperPMI asm diffs AzDO pipeline"
We need a test to ensure there are no differences in codegen between DEBUG and non-DEBUG compilers (e.g., Checked and Release), since we do most of our testing on Checked, and debugging Release is difficult and tedious, at best. One way to do this is run SuperPMI asm diffs between a Checked and Release build of the JIT.

I propose adding an AzDO pipeline to do this.

Notes:
- Of course, it should

[2021-03-21 03:25] erafalovsky commented on #49926
@MichalStrehovsky I'd like to work on this issue. Can you assign it to me?

[2021-03-21 04:04] jkotas commented on #49646
I have managed to hit the LNK2011 errors a few times on my machine too. It looks like an intermittent error. I have asked about diagnosing it on the email thread with the C++ compiler team.

[2021-03-21 05:21] birojnayak commented on #48491
I have tried that too... have you tried ?

[2021-03-21 05:47] tdeeb opened #49952 "Add support to link self contained dependencies in another folder"
When publishing with the `--self-contained` flag, the output folder has the executable in the same directory as **many** other files, including all the required DLL dependencies, making it hard to find. I would like an option to specify where to look for these dependencies to have a much cleaner output folder.

So instead of this:

**MyFolder**
- **Every file dumped in this folder**

It can be lik

[2021-03-21 05:51] djthegr8 opened #49953 "Question: Decompiling of Self-Contained assemblies"
### Description
A commonly used form of Packaging - Self Contained Deployment is extremely helpful and ideal in many circumstances withholding to particular platforms. However, the tool `ildasm` is unable to decompile such an executable because rather than running `.NET`, it packs it while running.
Therefore my doubt - how do we decompile self contained executables? They must be written in IL to a

[2021-03-21 05:53] jkotas commented on #49646
@stephentoub Could you please check cmake version being used for the success and failure cases? I believe that the LNK2011 errors are caused by a bug in some older cmake versions (e.g. 3.16.0-rc1), and upgrading to the latest cmake makes them go away.

[2021-03-21 05:54] djthegr8 commented on #49953
area-Single-File

[2021-03-21 05:57] kunalspathak commented on #44051
Most of the analysis is done and "loop alignment" feature will be ON in .NET 6.0.

[2021-03-21 05:57] #44051 closed

[2021-03-21 06:49] BruceForstall opened #49954 "Test failure: JIT\\opt\\Structs\\structcopies\\structcopies.cmd in jitstress"
https://dev.azure.com/dnceng/public/_build/results?buildId=1048985&view=ms.vss-test-web.build-test-results-tab

Test introduced by https://github.com/dotnet/runtime/pull/48377

[2021-03-21 06:54] Barshan-Mandal opened #49955 "InvalidOperationException"
![image](https://user-images.githubusercontent.com/74092409/111896531-85ac4180-8a44-11eb-98c8-e29db0fa334f.png)

[2021-03-21 07:02] sandreenko commented on #49954
interesting, the test was passing jitstress in the PR that merged it https://dev.azure.com/dnceng/public/_build/results?buildId=1033272&view=ms.vss-test-web.build-test-results-tab , will take a look.

[2021-03-21 07:15] KalleOlaviNiemitalo commented on #49944
Sealing a type might cause warning [CS0628](<https://docs.microsoft.com/dotnet/csharp/misc/cs0628> "Compiler Warning (level 4) CS0628") or [CA1047](<https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1047> "CA1047: Do not declare protected members in sealed types") if the type has protected members.
- Lets an override of `Object.Equals(Object obj)` check `obj is ThisType`

[2021-03-21 07:23] GeeLaw commented on #18494
I woud propose

[code]

[2021-03-21 07:34] huoyaoyuan commented on #49944
It's quite common for a lib project to have InternalsVisibleTo for its corresponding test project.

[2021-03-21 07:59] MichalStrehovsky commented on #49926
It's yours! Thank you!

[2021-03-21 10:13] KalleOlaviNiemitalo commented on #18494
Helper.TypedVariableCopy seems to do the same thing as the existing [RuntimeHelpers.GetObjectValue](https://docs.microsoft.com/dotnet/api/system.runtime.compilerservices.runtimehelpers.getobjectvalue?view=net-5.0):

<https://github.com/dotnet/runtime/blob/cf258a14b70ad9069470a108f13765e0e5988f51/src/coreclr/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs#L1

[2021-03-21 10:46] ChThy opened #49956 "Deserializing to an array of a type decorated with the custom JsonConverter is not working"
### Description

When deserializing an array of objects from json to an array of objects of which the type is decorated with a custom JsonConverter, it throws the following exception:

[code]

The code getting the json object and trying to deserialize it:
[code]

Type to convert to:
[code]

When debugging in the custom JsonConverter, the reader is passed a reference who has access to the complete

[2021-03-21 10:51] stephentoub commented on #49944
Various optimizations are disabled by InternalsVisibleTo, e.g. the linker can't remove unused internals when building in a library marked InternalsVisibleTo.  I'm fine with that being a limitation for this analyzer, as it is for other analyzers, like CA1812 (avoid uninstantiated internal classes).

[2021-03-21 10:52] stephentoub commented on #49944
Yes, that's why I wrote "We could also optionally factor in whether the type declares any new virtual methods, a protected ctor, or anything else that suggests the type is intended for derivation... upon detecting such things, we could either choose not to warn, or we could warn with a different diagnostic id."

[2021-03-21 10:53] stephentoub commented on #49944
Yes, though my understanding from previous discussions with @AndyAyersMS on the topic is we have no intention of doing that sort of work any time soon, even though his OSR work starts to open the door to that.

[2021-03-21 11:01] stephentoub commented on #49646
That did it!  I had cmake 3.16-rc2.  I updated to the latest release build (3.19.7), and with your merged workaround last night, I can now successfully build (`build.cmd clr+libs -rc release`) with the latest dogfood VS (31119.371.main).

Thank you!

(Worth updating https://github.com/dotnet/runtime/blob/main/docs/workflow/requirements/windows-requirements.md#cmake ?)

[2021-03-21 11:10] GeeLaw opened #49957 "JIT (x86, .NET Framework) incorrectly optimizes away null checks for `string.Length`"
## Description

Suppose `string.Length` is retrieved but unused, then x86 JIT compilers for .NET Framework (2.0 to 4.8) will optimize away the null check. This causes `NullReferenceException` to **not** be thrown.

For example, the following code will write `Bad: string.` when run in .NET Framework 2.0 to 4.8, x86, Release mode:

[code]

## Configuration

- Windows 10 (x64), version 1909, build 18

[2021-03-21 12:19] stephentoub commented on #49955
Can you share the code for your repro rather than a debugger screenshot?

Is it possible the process for which this is throwing had already exited?

[2021-03-21 12:51] wzchua commented on #48051
for `IDictionary<,>` should we prefer the property or populate both property and dictionary collection?

[2021-03-21 13:37] Symbai commented on #49952
#3453

[2021-03-21 14:03] taidang1902 commented on #43313
That's work for me, thanks @sdmaclea 👍

[2021-03-21 14:17] YohDeadfall commented on #782
Hello, @layomia and @ericstj! I prototyped a naming convention policies and you can observe them in [Yoh.Text.Json.NamingPolicies](https://github.com/YohDeadfall/Yoh.Text.Json.NamingPolicies). There's one think I'm not happy about - the project uses Unicode text segmentation which while allows to handle mostly any case (no space languages like Japanese might be an issue even while it works accordi

[2021-03-21 14:22] hez2010 commented on #782
What about heading and tailing blank spaces?

[code]

[2021-03-21 14:32] YohDeadfall commented on #782
Since it's powered by Unicode segmentation library, it will correctly take words from the input, transform them and join by the specified boundaries ([tests in the library used under the hood](https://github.com/YohDeadfall/Yoh.Text.Segmentation/blob/0384a931a5b840c500a94e4b307a1446b396fbf9/tests/WordEnumeratorTests.cs#L37-L38)).

Added your cases too (YohDeadfall/Yoh.Text.Json.NamingPolicies@82e2

[2021-03-21 14:39] YohDeadfall commented on #782
Even without the text segmentation library it's not a problem to extract words, but it might be less accurate in that case since words might contain characters not falling into the letter or digit category.

[2021-03-21 14:54] vsfeedback opened #49959 "Can you please make .NET BLAZOR integrating with c++ webassembly easier?"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Can-you-please-make-NET-BLAZOR-integrat/1366735)._

---
let me easily start writing logic in c++, you can figure out the rest of the stuff. suggestion : use existing tool chains like llvm/emscripten to compile it to webassembly modules and start using it with intelisense from c# codes in

[2021-03-21 14:59] jeffschwMSFT commented on #49957
@GeeLaw can you file this issue on https://developercommunity.visualstudio.com/home?  We do not have a place to track .NET Framework issues in this repo, as this is for .NET Core.  Once you have filed it, please link the feedback item to this issue.  Thanks.

[2021-03-21 14:59] #49957 closed

[2021-03-21 15:05] GeeLaw commented on #49957
Thanks for the pointer... Didn't know where to send feedback for .NET Framework since Connect is closed. Will file the issue there :)

[2021-03-21 15:19] andriysavin commented on #1570
I have minor question: shouldn't the method names have `*Async` ending according to the guidelines (e.g. SerializeAsyncEnumerable**Async**, though I find this name ugly), or it's a different story for `IAsyncEnumerable`- operating methods?

[2021-03-21 15:29] tommcdon commented on #49866
@Anipik

[2021-03-21 16:08] onionhammer commented on #1570
@andriysavin I'm torn on that convention for IAsyncEnumerable, since the result is not awaitable.

[2021-03-21 16:59] lewing commented on #49939
cc @steveisok @akoeplinger

[2021-03-21 17:02] steveisok commented on #49939
@directhex looks like something has changed....

[2021-03-21 17:19] jkotas commented on #49953
You can reverse engineer how the single file bundle is created by looking at the code in https://github.com/dotnet/runtime/tree/main/src/installer/managed/Microsoft.NET.HostModel/Bundle

The bundle format is internal implementation detail. It is not guaranteed to be stable and it can change from version to version.

[2021-03-21 17:26] djthegr8 commented on #49953
Thank you for the reply.
Apologies, I am not very familiar with the codebase and honestly am not too experienced however will nonetheless try to reverse engineer. About it being an internal detail, does this mean we cannot decompile self contained deployments unless some more information is open sourced?

[2021-03-21 17:27] SingleAccretion commented on #49953
It just means the format can change over time, so if you were to write a tool that, e. g. extracts assemblies from the bundle, you would need to update it each time the format changes.

[2021-03-21 17:30] djthegr8 commented on #49953
Alright then, that probably isn't much of a problem for me...
The task I'm trying to do currently is to decompile a single file and self-contained executable.

[2021-03-21 17:30] GrabYourPitchforks commented on #49944
Might be able to expand the analyzer scope even further:

* Public types which have only private ctors and which don't have a nested subclassed type
* Public types which have only internal ctors, no subclassed types within the same assembly, and no friend assemblies defined

[2021-03-21 17:31] peters commented on #49859
@jkotas I've sent you 4 core dumps. The latest core dump I sent you has the same backtrace as reported 2 days ago. Let me know if you need any more details.

[code]

[2021-03-21 17:37] andriysavin commented on #1570
@onionhammer the suggested SerializeAsyncEnumerable singnature is awaitable, as it returns Task.

[2021-03-21 17:58] passuied commented on #1570
Wouldnt it return an IAsyncEnumerable which is not a task?

On Sun, Mar 21, 2021, 10:38 Andriy Savin ***@***.***> wrote:

[2021-03-21 18:02] jkotas commented on #49859
Thanks. I will take a look when I get a chance.

[2021-03-21 18:06] onionhammer commented on #1570
@andriysavin Ahh yes, it would be pretty insufferable to call it 'SerializeAsyncEnumerableAsync'; I'd rather it just be an overload of SerializeAsync or SerializeEnumerableAsync

[2021-03-21 18:39] mburbea commented on #14084
I would propose the following api to solve this:
[code]
I wrote this as an extension recently while updating a wpf application that bound several checkboxes to a single flagged enum. This made the properties I bound to on my object model nice and symmetric.
e.g.
[code]

Unfortunately the implementation itself was super hideous.
[code]

[2021-03-21 18:55] davidfowl commented on #36022
@aelij

For every single category? How many do you end up having in a typical application? Isn't it usually one per class?

[2021-03-21 19:09] passuied commented on #1570
FWIW I have created a similar method on our code base and called it DeserializeAsAsyncEnumerable<>()

[2021-03-21 20:39] dasschellack commented on #23653
@Thefrank Are you aware of https://svnweb.freebsd.org/ports?view=revision&revision=566840 ? Just thought that might be helpful!

[2021-03-21 21:03] filipnavara commented on #49211
It's somewhat trivial to add the necessary symlinks here: https://github.com/xamarin/xamarin-macios/blob/c9d1760cfc6f7b14ef7bd9ebb615b2837fa5d6f0/msbuild/Makefile#L64 (and further down in the file for macOS, Mac Catalyst, etc.). Unless someone comes up with a good reason not to do it I'll submit a PR in the week.

(cc @radical. I vaguely remember you may have discussed this in one issue or another

[2021-03-21 21:37] Thefrank commented on #23653
just built from ports. it installs to `/usr/local/share/misc/terminfo/` and uses directory tree!
guess now that is uses directory tree that path can get added to https://github.com/dotnet/runtime/blob/c07e1cf4a874d4f673f4ce0e15f384917e3e2b32/src/libraries/System.Console/src/System/TermInfo.cs#L177-L182

[2021-03-21 21:56] #45580 closed

[2021-03-21 23:45] VSadov commented on #49953
One feature that was discussed in the past was to have some kind of way (cmd switch or environment variable) that could force extraction of all content into specified folder - mostly for diagnostic purposes.

Such feature would not be high on the list of priorities though since it would serve very uncommon need.

[2021-03-22 02:26] #48854 closed

[2021-03-22 02:28] Jimmy-Hu opened #49971 "Array.Exists overloading method for multi-dimensional array"
## Background and Motivation

To determine whether the specified array contains specific element or not, [Array.Exists<T>](https://docs.microsoft.com/en-us/dotnet/api/system.array.exists?view=net-5.0) can be used if the given array is one dimensional. I am attempting to propose `Exists` overloading method for multidimensional array cases.

## Proposed API

Because [multidimensional arrays not impl

[2021-03-22 02:29] JamesNK opened #49972 "QUIC: Reuse QuicStream instances on a connection"
In Kestrel we want to reduce per-request HTTP/3 connections to the minimum possible. Ideally that would be zero.

With HTTP/1.1 and HTTP/2 Kestrel is able to reuse per-request instances. For example, after a HTTP/2 request is gracefully completed (i.e. wasn't aborted and finished writing a frame with the close stream bit set) the stream is returned to a pool on the connection. Future requests on t

[2021-03-22 02:30] Jimmy-Hu commented on #49971
I think that the area is area-System.Runtime.

[2021-03-22 02:30] VincentBu commented on #49954
Failed again in [runtime-coreclr jitstress 20210320.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1049624&view=ms.vss-test-web.build-test-results-tab&runId=32441392&resultId=107330&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 02:44] VincentBu commented on #48892
Failed again in [runtime-coreclr jitstress2-jitstressregs 20210321.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049782&view=ms.vss-test-web.build-test-results-tab&runId=32446448&resultId=102813&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 03:03] JamesNK commented on #49944
Have we ever considered a flag on `InternalsVisibleToAttribute` to indicate that its usage is related to testing? Optimizations can then check whether the attribute exists without that flag set when making decisions.

I always use IVT for testing and never for sharing runtime code between assemblies.

[2021-03-22 03:08] benaadams commented on #44728
@stephentoub In answer to your question https://github.com/dotnet/runtime/pull/44696#discussion_r523781023

Looking at the startup call counts; I'm going to say yes...

![image](https://user-images.githubusercontent.com/1142958/111935635-c4311300-8abb-11eb-9a37-5b8c44bd4e45.png)

[2021-03-22 03:27] Barshan-Mandal commented on #49955
var procge = from proc in System.Diagnostics.Process.GetProcesses() orderby proc.ProcessName ascending select proc;

            foreach (var VARIABLE in procge)
            {

                try
                {
                    Console.WriteLine(VARIABLE.ProcessName);
                    Console.WriteLine(VARIABLE.StartInfo.UserName);
                    Console.WriteLine(VARIABLE.GetType()

[2021-03-22 03:27] Barshan-Mandal commented on #49955
.net 5 problem

[2021-03-22 03:48] davidfowl commented on #36010
@safern Seems threre's nothing that hits the mark besides DisplayName (and that's wrong). I guess we can go with the original proposal.

[2021-03-22 03:50] davidfowl commented on #44728
We should look into this as part of 6.0.0 in the name of startup performance. It'll also require a new API which we should try to get approved.

[2021-03-22 04:47] Barshan-Mandal commented on #49955
problem in .net 5
`var procge = from proc in System.Diagnostics.Process.GetProcesses() orderby proc.ProcessName ascending select proc;

        foreach (var VARIABLE in procge)
        {

            try
            {
                Console.WriteLine(VARIABLE.ProcessName);
                Console.WriteLine(VARIABLE.StartInfo.UserName);
                Console.WriteLine(VARIABLE.GetType().IsSecuri

[2021-03-22 05:40] Barshan-Mandal commented on #49955
process has not exited...............................
using System;
using System.Diagnostics;
using System.Linq;
using System.Runtime.InteropServices.ComTypes;

namespace ConsoleApp1
{
    internal class Program
    {
        private static void Main(string[] args)
        {
            var procge = from proc in System.Diagnostics.Process.GetProcesses() orderby proc.ProcessName ascending select pr

[2021-03-22 05:44] Barshan-Mandal commented on #49955
  | Name | Value | Type
-- | -- | -- | --
◢ | $exception | {"Process was not started by this object, so requested information cannot be determined."} | System.InvalidOperationException
  | ▶ Data | {System.Collections.ListDictionaryInternal} | System.Collections.IDictionary {System.Collections.ListDictionaryInternal}
  | HResult | -2146233079 | int
  | HelpLink | null | string
  | ▶ InnerException

[2021-03-22 05:52] VincentBu commented on #46023
Same test failed with Assert failure : SanityCheck()
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20210321.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049735&view=ms.vss-test-web.build-test-results-tab&runId=32444406&resultId=107443&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 05:55] VincentBu commented on #46279
Failed again in [runtime-coreclr gcstress0x3-gcstress0xc 20210321.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049735&view=ms.vss-test-web.build-test-results-tab&runId=32444386&resultId=108624&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 05:58] davidfowl opened #49976 "Support backing the allocation of a string by user controlled memory"
There's been lots of discussion about how to optimize strings for the future including things like [supporting utf8](https://github.com/dotnet/runtimelab/blob/feature/Utf8String/src/libraries/System.Utf8String.Experimental/README.md) but it would be less of a breaking change let users control the backing memory of a particular string so that the memory can be reused. This would especially be usefu

[2021-03-22 06:04] VincentBu opened #49977 "Test failure baseservices/exceptions/generics/try-catch-struct03/try-catch-struct03.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20210321.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049735&view=ms.vss-test-web.build-test-results-tab&runId=32444420&resultId=107325&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 06:14] VincentBu commented on #49623
Same test failed in [runtime-coreclr gcstress0x3-gcstress0xc 20210321.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049735&view=ms.vss-test-web.build-test-results-tab&runId=32444382&resultId=109012&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 06:17] VincentBu commented on #49624
Same test failed in [runtime-coreclr gcstress0x3-gcstress0xc 20210321.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049735&view=ms.vss-test-web.build-test-results-tab&runId=32444384&resultId=108393&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 06:18] jkotas commented on #49976
How would you propose to make this possible?

`ReadOnlySpan<char>` or `ReadOnlyMemory<char>` are existing types for strings backed by user-controlled memory. If we knew how to change System.String (and arrays) to be backed by user-controlled memory, we would not need to introduce `Span<T>` and `Memory<T>` in the first place. We have brainstormed what potential designs may look like, but there was

[2021-03-22 06:19] davidfowl commented on #36022
OK I did some analysis:
- There's no way to avoid all boxing. This is a fundamental issue in the same category as zero allocation string formatting but is harder because there's a separation between the producer and consumer of logs. We would need something like [this](https://github.com/dotnet/runtime/issues/28882) to represent primitives in a box-free, type safe way.
- It's possible to avoid the

[2021-03-22 06:24] tannergooding opened #49978 "Provide a ValueLazy<T> type"
## Background and Motivation

Today, you can use `Lazy<T>` to help perform lazy initialization of types. `Lazy<T>` itself contains an optional `delegate`, a `LazyHelper` field that is a cached static readonly instance, and `T`. This means just using `Lazy<T>` requires 1-3 allocations and and any access to the underlying `T` involves at least one additional indirection. Usages are typically private

[2021-03-22 06:24] davidfowl commented on #49976
Right. ArrayPool is interesting here, because it allows you to use `byte[]` and `char[]` as exchange types but have them be "backed" by user controlled memory (sorta). Maybe what I'm looking for is something similar but for strings. Today we hand out a byte[] or char[] that came from the array pool, there's no harm, the GC will collect it as it'll no longer be rooted. I wonder if we could do somet

[2021-03-22 06:32] VincentBu opened #49979 "Test failure Loader/classloader/TypeGeneratorTests/TypeGeneratorTest348/Generated348/Generated348.sh"
Run: [runtime-coreclr gcstress-extra 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049449&view=ms.vss-test-web.build-test-results-tab&runId=32437532&resultId=104950&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 06:41] VincentBu commented on #47141
Failed again in [runtime-coreclr gcstress-extra 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049449&view=ms.vss-test-web.build-test-results-tab&runId=32438588&resultId=108743&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 06:46] VincentBu opened #49980 "Test failure JIT/opt/Structs/structcopies/structcopies.sh"
Run: [runtime-coreclr gcstress-extra 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049449&view=ms.vss-test-web.build-test-results-tab&runId=32438582&resultId=111014&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 06:51] davidfowl commented on #49976
OK doing some more thinking (stream of consciousness here so bare with me). It occurs to me that I'm asking for the free keyword for strings 😄. But I want to categorize it as solving the same category of problem as  ArrayPool\<byte\> and ArrayPool\<char\>.

Or maybe an alternative to this whole thing would be to expose a Runtime API on `MemoryMarshl` to Cast/Convert/As a `char[]` to a `string`. Th

[2021-03-22 06:59] davidfowl commented on #49978
We should call it `FastLazy<T>`, that's how you market a type and make everyone use it 😄

[2021-03-22 06:59] VincentBu commented on #49621
Same test failed in [runtime-coreclr gcstress-extra 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049449&view=ms.vss-test-web.build-test-results-tab&runId=32437552&resultId=100151&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 07:05] VincentBu commented on #47395
Failed again in [runtime-coreclr gcstress-extra 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049449&view=ms.vss-test-web.build-test-results-tab&runId=32437416&resultId=101735&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 07:15] VincentBu opened #49981 "Test failure Loader/classloader/TypeGeneratorTests/TypeGeneratorTest278/Generated278/Generated278.sh"
Run: [runtime-coreclr gcstress-extra 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049449&view=ms.vss-test-web.build-test-results-tab&runId=32438374&resultId=104534&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 07:21] VincentBu commented on #49981
Duplicate with [#49979](https://github.com/dotnet/runtime/issues/49979)

[2021-03-22 07:21] #49981 closed

[2021-03-22 07:23] VincentBu commented on #49979
Test `JIT/HardwareIntrinsics/X86/Sse2/Sqrt_ro/Sqrt_ro.sh` failed with same error message
Run: [runtime-coreclr gcstress-extra 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049449&view=ms.vss-test-web.build-test-results-tab&runId=32438518&resultId=110659&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 07:30] davidfowl commented on #49976
How close are the array layout and string layout?

[2021-03-22 07:36] VincentBu opened #49982 "Many tests failed with Verify_FieldOffset 'ExtendedSocketException._endPoint' Field offset 128!=136(actual) || baseOffset 128!=136(actual)"
Run: [runtime-coreclr crossgen2 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049652&view=ms.vss-test-web.build-test-results-tab&runId=32441742&resultId=101999&paneView=debug)

**One of error message:**
[code]

[2021-03-22 07:41] keicoon opened #49983 "Issue : CompareTo of Half type when parameters are negative value"
Environment : dotnet core 5.0

Problem is `CompareTo` of Half type when parameters are negative value.
I expect below example result.
[code]
Why `a3` value is -1? not 0 ?

I follow dotnet core code and find out some strange code.
`Half operator <` that called in `CompareTo` is right   ?
[code]
When both left and right is same value of negative, `<` make `-1` to return value.

Thanks to read this i

[2021-03-22 07:42] VincentBu commented on #734
Similar test failed in [runtime-libraries-coreclr outerloop 20210321.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1049708&view=ms.vss-test-web.build-test-results-tab&runId=32442936&resultId=104569&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 07:45] VincentBu commented on #21924
Failed again in [runtime-libraries-coreclr outerloop 20210321.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1049708&view=ms.vss-test-web.build-test-results-tab&runId=32442964&resultId=103063&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 07:51] VincentBu opened #49984 "Test failure System.Security.Cryptography.X509Certificates.Tests.DynamicChainTests.BuildInvalidSignatureTwice(endEntityErrors: NotTimeValid | NotSignatureValid, intermediateErrors: NoError, rootErrors: UntrustedRoot)"
Run: [runtime-coreclr libraries-jitstressregs 20210321.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049690&view=ms.vss-test-web.build-test-results-tab&runId=32442222&resultId=153722&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-22 07:58] VincentBu opened #49985 "Test failure Regressions\\coreclr\\GitHub_49826\\test49826\\test49826.cmd"
Run: [runtime-coreclr ilasm 20210320.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1049408&view=ms.vss-test-web.build-test-results-tab&runId=32436656&resultId=110586&paneView=debug)

Failed tests:
[code]

**Error message:**
[code]

[2021-03-22 08:03] KalleOlaviNiemitalo commented on #49983
Apparently, the previous fix <https://github.com/dotnet/runtime/pull/39773> is not quite right. It omits the equality comparison that is in the Berkeley code.

[2021-03-22 08:49] Xaeco commented on #46678
@SteveSandersonMS I have two working solutions for this issue.

**Solution 1.** Is to replace two functions with their DN4.8 equivalents. They use TypeDescriptor, which as far as I can tell, is being avoided.

**Solution 2.** I wrote functions that work but when I do a full build I get an IL Linker error which I can't suppress and I'm not sure I should.

I'd appreciate talking to someone re the be

[2021-03-22 08:52] ManickaP commented on #49897
Should we also consider the size of the increments?
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L91
We're now using 1/8 of the window size, whereas Kestrel is using 1/2 (if I understand it right):
https://source.dot.net/#Microsoft.AspNetCore.Server.Kestrel.Core/Internal/Http2/Http2Stream.cs,62

So to achieve simila

[2021-03-22 08:57] rolfbjarne commented on #49211
Yes, this is done in xamarin/xamarin-macios.

@filipnavara for iOS we have `/Library/Frameworks/Mono.framework/External/xbuild-frameworks/Xamarin.iOS/v1.0/RedistList/FrameworkList.xml`, which seems to have the right System.Memory entry, but I guess the question is if that's the actual file that's getting loaded, or does it need to be somewhere else too?

No, this does not apply, because in most ca

[2021-03-22 09:12] filipnavara commented on #49211
It doesn't get loaded. I tried that. I believe at some point it was being loaded from that location but it certainly doesn't work anymore.

[2021-03-22 10:07] juwens commented on #49940
There's also in issue on the xamrin.ios board: https://github.com/xamarin/xamarin-macios/issues/10912

[2021-03-22 10:08] KalleOlaviNiemitalo opened #49987 "Guid.TryParseExact("+0xabbbb-+0xa-+0xb-+0xa-+0xbaaaabbbb", "D", out _) returns true"
### Description

Tested with PowerShell 7.1.3, which uses .NET 5.0.4:

[code]

I expect that Guid.TryParseExact should return false because "+0xabbbb-+0xa-+0xb-+0xa-+0xbaaaabbbb" is not in the format that Guid.ToString("D") would return. Guid.TryParseExact should allow "+" and "0x" prefixes only when the `format` argument is "X".

### Configuration

.NET 5.0.4 on Microsoft Windows 10.0.19042 x64

[2021-03-22 10:10] KalleOlaviNiemitalo commented on #49987
<https://github.com/dotnet/runtime/issues/16442> had **area-System.Runtime**, which should then be fine here as well.

[2021-03-22 10:36] k15tfu commented on #48902
Looks like https://github.com/dotnet/runtime/pull/49942 fixes the issue with `EEJitManager::CleanupCodeHeaps`, thanks. @sdmaclea Is there any progress on others?

[2021-03-22 11:03] tfenise commented on #49978
How does it compare to the static methods `System.Threading.LazyInitializer.EnsureInitialized`?

[2021-03-22 11:21] ManickaP commented on #49918
@brianrob: Did you have `System.Net.SocketsHttpHandler.Http3DraftSupport` app context switch on? What is your scenario? Are you running some tests locally (which ones) or is this CI or when/where did you see this?

I'm trying to understand this since me and @CarnaViire are taking over H3 and QUIC so that we do not make the same mistake in the future.

[2021-03-22 11:29] vitek-karas commented on #49953
I think it would make sense to add the ability to extract (into folder), but in the bundler code. The single-file itself should not have this ability (it would bloat all apps for no good reason).

[2021-03-22 11:33] stephentoub commented on #49944
What would the analyzer do differently if that was set? Ignore the attribute and then it's up to you to either change your tests or suppress the warning if the tests were dependent on the type being unsealed?

[2021-03-22 11:40] vitek-karas commented on #43313
@sdmaclea It depends on the result of the discussion in https://github.com/dotnet/designs/pull/182 and the related work items. IN short - this should not happen, so there's little value in improving the error message. It's caused by the current broken state where 6.0 installer overwrites the x64 `hostfxr` with an arm64-only `hostfxr` (same for muxer).

[2021-03-22 12:27] Gakk commented on #43957
The way I read the javadoc you quoted, even Java believes _queue_ usually is FIFO - with the exception of priority queue as they can pick a priority element in the middle of the queue. The other exception is a LIFO, and that also has an stable order.

I believe naming this class _PriorityQueue_ is wrong as long as it is not a stable queue for elements with equal priority. Even if the name _queue_

[2021-03-22 12:30] prohith14 opened #49993 "After adding friendly name to x509certificate2 on exporting public bytes , we are loosing friendly name"
### Description

* While creating certificate , i set friendly name. But upon exporting public bytes that value is lost

### Configuration

* Which version of .NET is the code running on - netcoreapp31
var crtFileName = @"D:\test-dps-sw\9988770_public.pem";
X509Certificate2 x509 = new X509Certificate2(crtFileName);
var publicKeyBytes = x509 .Export(X509ContentType.Cert);

Upon creating certificate

[2021-03-22 12:37] marek-safar commented on #49874
@jeromelaban is there any repro for this? How did you link /path/to/my.dll assembly?

[2021-03-22 12:38] jeromelaban commented on #49874
I'll make a repro and link it here.

[2021-03-22 12:42] Turnerj commented on #728
[We're in the same boat with Schema.NET](https://github.com/RehanSaeed/Schema.NET/pull/100). It affects our tests currently (though that can be overcome) however any users consuming our library may also be dependent on ordering so we wouldn't want to lose that.

I'm trying to work out the stage this issue is in - are we deciding whether this will be implemented, how this will be implemented, or mo

[2021-03-22 12:51] vcsjones commented on #49993
The friendly name is a Windows-specific concept that is stored as metadata along side the certificate when it is in the certificate store. It does not actually change a property on the certificate itself, which is why it  is "lost" when it is exported.

Since changing a certificate after it's creation would invalidate the signature, this couldn't be "added" either.

I think the best you can do is

[2021-03-22 12:53] karelz commented on #827
Closing as we believe we achieved all the requirements listed in the original post.

[2021-03-22 12:53] #827 closed

[2021-03-22 13:13] prohith14 commented on #49993
We are using certificate to authenticate with azure dps and provision it to azure iot hub. The common name of certificate will be device id in iot hub. So i cant use that field to store this additional property.
Can you please guide if i can use any other field to save a string value so that i can read it from certificate public pem

[2021-03-22 13:16] bclothier commented on #3740
Just to follow up on the request. One problem with the manual IDL generation workaround is that there is no good way to import the definition, or at least I couldn't work it out.

1) A .NET core project does not seem to be able to reference a type library directly.
2) We can use `tlbimp` tool but that's going back to the .NET Framework, rather than bootstrapping from the .NET Core
3) Making a C++

[2021-03-22 13:21] bclothier commented on #45750
I want to add my support / vote for this request. We usually prefer using HKCU over HKLM since the addins we provide for use with Office usually are scoped for users and needs to be available to corporate uses who may have a locked down environment and thus cannot write to HKCU.

Manifest approach is not practical because that requires creating a manifest associated with an .exe file for the Offic

[2021-03-22 13:36] jeremycollake commented on #49166
I am the author of Process Lasso.

I can confirm that some interaction between WER and Process Lasso results in these zombie WER processes.

When Process Lasso exits, these stale processes complete their termination.

Process Lasso does keep a handle open to all running processes. This is done to detect termination, and to limit OpenProcess calls since some security software may evaluate and log t

[2021-03-22 13:48] stephentoub commented on #49918
@ManickaP, it's defaulting to on:
https://github.com/dotnet/runtime/blob/766fec7d6a9c4fad3d1f44bfe9ec2733c6689ac8/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionSettings.cs#L173-L174

[2021-03-22 13:53] dave-yotta opened #49995 "await Task.WhenAll(...) raises the first inner exception, not an AggregateException"
### Description

Example:
[code]
Output:
[code]

### Configuration

.Net Core 3.1, windows

## Workaround

[code]

But rethrowing causes issues when debugging by eating frames.

[2021-03-22 13:57] brianrob commented on #49918
Right, per @stephentoub's comment, I did not have the switch on, but it defaults to true.  The scenario where I ran into this is running `dotnet build`, which uses `HttpClient` for sending telemetry, but this will occur in any app that is using `HttpClient`.

I would describe the priority as not urgent, but something that we should fix in .NET 6, as this is extra overhead in any app using `HttpCli

[2021-03-22 13:58] dave-yotta commented on #49995
looks like it should be `area-System.Threading.Tasks`

[2021-03-22 14:00] ManickaP commented on #49918
I completely missed the PR that changed that and thought it was disabled by default. Thanks for pointing that out. And thanks for the additional info and use case.

[2021-03-22 14:08] Barshan-Mandal commented on #49955
help me please....i am only 8 years old.please help me

[2021-03-22 14:09] eiriktsarpalis commented on #43957
Emphasis on _usually_. The example is there to illustrate the fact that the terms 'queue' and 'FIFO', while synonyms, are not entirely identical.

Heap-backed priority queues are not stable (which is not to say it is impossible to build a priority queue that is stable). This is a fairly well-understood property of most standard priority queue implementations, although it still tends to surprise pe

[2021-03-22 14:11] stephentoub commented on #49995
This is by design and has been this way since async/await shipped in .NET Framework 4.5.  `await taskFaultedWithMultipleExceptions` always throws just one exception rather than an aggregate.  Some background on the decision is available in https://devblogs.microsoft.com/pfxteam/task-exception-handling-in-net-4-5/.  Thanks.

[2021-03-22 14:11] #49995 closed

[2021-03-22 14:16] lewing commented on #49939
Mac and Linux still have mono-aot-cross
It would be nice to drop llc and opt from those packages on all browser targets as well.  They are [completely useless](https://github.com/dotnet/runtime/issues/49644) as is and add size.

[2021-03-22 14:18] stephentoub commented on #49978
As written, would this really move the needle?  It'll save one small allocation, for the `Lazy<T>` itself.  Assuming an implementation similar to `Lazy<T>`, `new ValueLazy<T>(() => ...)` will still incur the `LazyHelper` allocation, creating one that closes over state will still incur at least a delegate allocation if not also a closure (or best case accessing a static field to access a cached del

[2021-03-22 14:21] directhex commented on #49644
MonoAOTBundleLLVMOptimizer in mono.proj needs to be false on Browser, then

[2021-03-22 14:24] stephentoub commented on #49987
This has always been the case: it returns true on .NET Framework as well.  The .NET Core implementation is explicitly maintaining compatibility with this:
https://github.com/dotnet/runtime/blob/766fec7d6a9c4fad3d1f44bfe9ec2733c6689ac8/src/libraries/System.Private.CoreLib/src/System/Guid.cs#L383-L391

[2021-03-22 14:26] stcpottdav commented on #48491
In my case I haven't been able to get the ldapsearch utility working and have asked from help from another team.

One general thing -> the search base must be an organizational unit.  It doesn't support searching at the root of the domain as per https://github.com/dotnet/runtime/issues/44826.

The Error code gives some information for the actual error which can be found here:
https://github.com/de

[2021-03-22 14:29] tannergooding commented on #49978
It avoids you needing to declare and manage multiple separate fields and to call the relevant initialization methods yourself. Instead, it provides everything in a simple to use package.

[2021-03-22 14:39] dave-yotta commented on #49995
Ok, I'm losing exceptions because of this, it's horrible.

[2021-03-22 14:45] NN--- commented on #14084
Another possible implementation: https://github.com/rsdn/CodeJam/blob/master/CodeJam.Main/EnumHelper.cs#L375

[2021-03-22 14:51] jnm2 commented on #49944
From personal experience actually having implemented exactly this analyzer to warn if classes aren't sealed and offer a fix, Roslyn has a design issue that means that you can't offer fixes for any diagnostics reported by your analyzer during the compilation end action. And the compilation end action is the most (only?) reasonable place to report everything, since you need to wait until all symbols

[2021-03-22 14:53] KalleOlaviNiemitalo commented on #49987
If the implementation cannot be changed, should this be moved to a doc bug then?

[2021-03-22 15:04] trajanmcgill commented on #49284
@carlossanlop no problem, hopefully my fix is suitable. I might need a little help walking me through getting all the pieces in place, though; I haven't contributed to this project before, and I'm not sure how to design tests in accordance with this project's standards for the bug my PR addresses. Nor am I sure why my PR failed several of the automated checks that don't seem to have anything to do

[2021-03-22 15:04] jkotas commented on #49976
On CoreCLR 64-bit: String payload start at offset 12, array payload starts at offset 16. Length includes the zero terminator for char[], but not for String.

I am not sure how this would help.

[2021-03-22 15:06] adamsitnik commented on #49955
Hi @Barshan-Mandal

The `StartInfo` property is valid only for processes, that have been started by the current process itself. Example:

[code]

If you want to determine the user name for processes that were not started by the current process, you can use [WMI](https://stackoverflow.com/a/777567) or [WinAPI](https://stackoverflow.com/a/38676215). Example:

[code]

This requires the installation o

[2021-03-22 15:07] Gakk commented on #43957
Thanks for the well documented answer 👍

I would argue that the other languages then have failed with naming. I understand that when C#'s implementation of _PriorityQueue_ is equivalent to the others, a similar naming should apply, and therefore i withdraw my earlier proposal for _PriorityBag_.

Another thought is that the other implementations might be older, from a time where most developers kne

[2021-03-22 15:08] mangod9 commented on #42743
Yeah once we have a fix ready we can determine risk of a backport. Thx.

[2021-03-22 15:10] Joe-Sewell-PreEmptive opened #49998 "ILAsm errors when entrypoint method declared on an interface"
### Description

ILAsm 6.0.0-preview.2.21154.6 errors when a static method declared in an interface has `.entrypoint`. [C# 8.0 supports `Main` being declared in an interface](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/default-interface-methods#main-in-an-interface-closed), so this is a C# scenario that does not round-trip through ILDasm / ILAsm.

The C#:

[2021-03-22 15:11] tmds commented on #43349
@crummel @janvorli, summarizing the most interesting bits:

- It throws for .NET 5 on RHEL8 arm64, but not on Fedora 32 arm64. It seems to be kernel related, because building in a Fedora container on RHEL8 also throws.
- @omajid observed that .NET 3.1 doesn't throw on RHEL8. This wasn't mentioned yet.
- I have had no luck creating a small reproducer for this issue. @sdmaclea may have an idea based

[2021-03-22 15:16] tannergooding commented on #49978
@stephentoub, I think so, yes.

The `LazyHelper` is a shared allocation in most setups and only allocates a custom one for `ExecutionAndPublication` mode so that it can be used in a `lock` statement.

This means in the typical setup, you will have 1 allocation (the `delegate`) that lives up until the value is actually created. There are many ways to ensure delegates don't themselves incur addition

[2021-03-22 15:18] mletterle commented on #49998
Relevant code in `ilasm/assem.cpp`:

https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/coreclr/ilasm/assem.cpp#L738

[2021-03-22 15:18] sdmaclea commented on #43313
@vitek-karas The issue reported above by @taidang1902 is different.  It hasn't been discussed in https://github.com/dotnet/designs/pull/182 yet.  It would occur even if only the .NET6 Apple Silicon SDK was installed.  It occurs when targeting an older runtime for Apple Silicon.  Anytime target ramework < .NET6 that error will occur.

[2021-03-22 15:31] jeromelaban commented on #49874
Here's the repro for the interpreter one: https://github.com/jeromelaban/Wasm.Samples/tree/master/Bug49874

[2021-03-22 15:36] vitek-karas commented on #43313
SDK should not allow to build anything for <6 osx-arm64 RID. But that's not what @taidang1902  failure is. That failure is the expected failure right now. The publish command chose 3.1 SDK (I'm guessing, but it's a pretty good guess), so it wants to run it on 3.1. The 6.0 arm64 hostfxr resolves the x64 3.1 framework installed and tries to load hostpolicy from it - and fails (arch mismatch).

[2021-03-22 15:47] antonfirsov opened #49999 "Various HTTP Stress test failures on the CI"
HTTP stress tests [are failing on the CI](https://dev.azure.com/dnceng/public/_build?definitionId=694) with various Failure Types on both Windows and Linux, although the latter seems to happen less frequently.

I keep trying, but so far I was unable to reproduce the failures locally. Based on CI logs, there are several different Failure Types:

#### 1. Windows + HTTP 1.1 connection timeout in [`Ht

[2021-03-22 15:50] mangod9 commented on #49982
cc @trylek @dotnet/crossgen-contrib. Possibly due to optimizations which were recently enabled?

[2021-03-22 15:53] sdmaclea commented on #48902
The others are issues with the garbage collection.  I will look at the easily reproducible GC failures first #46330. The root cause might be related....

Once those are fixed, I'll look at #46365.  Some of those failures looked similar.  I would expect fixing those would resolve these issues too.

[2021-03-22 15:55] #49236 closed

[2021-03-22 15:58] GrabYourPitchforks commented on #49940
Keeping this open for now as tracking, but if it's a true dupe we can resolve.

[2021-03-22 15:59] bartonjs commented on #49993
There isn't anything you can set that would appear in such a file.  A certificate is just the data that the issuer signed plus the signature, there's no room for post-issuance data.

[2021-03-22 16:06] eerhardt commented on #49874
Here's the linker command line I gathered from the above repro:

[code]

Could `--used-attrs-only true` be causing a problem here?

I also inspected the output, and I don't even see an InternalsVisibleToAttribute class being preserved here.

![image](https://user-images.githubusercontent.com/8291187/112020698-915c3e80-8afe-11eb-9cef-01e21bd5abb7.png)

[2021-03-22 16:10] jeromelaban commented on #49874
Indeed, there's that argument, though adding an explicit use of the `InternalsVisibleTo.AssemblyName` property still causes the issue (the ctor is not there, while the AssemblyName is kept).

That option is there because it was used in mono/mono's Wasm packager, though I'm not use it should be used at all (and if the current publishing tasks for Wasm in dotnet/runtime do use it).

[2021-03-22 16:12] ManickaP commented on #49999
Please be aware of this issue: https://github.com/dotnet/runtime/issues/42211
Some of the problems you're hitting are known and filed.

[2021-03-22 16:13] jkotas commented on #49978
There are more than 5 lazy initialization patterns today:
- `Lazy<T>`
- `LazyInitializer.EnsureInitialized`
- Separate type with (static) constructor
- Interlocked.CompareExchange
- `??=`

These patterns cover many points on the convenience/performance spectrum.

Do we really need to have 6th pattern? This proposal looks very close to `LazyInitializer.EnsureInitialized`.

[2021-03-22 16:16] #49646 closed

[2021-03-22 16:17] lambdageek commented on #49874
Here's what I see in the ClassLibrary1.dll from the bin/ directory vs ClassLibrary1.clr:
- In the .dll, all the attributes reference `[netstandard]`:
[code]
- in the managed bundle, the `ClassLibrary1.clr` has all the attributes (that were kept) rewritten to `[System.Private.CoreLib]` except `InternalsVisibleToAttribute` which references `[netstandard]` which is not included in the bundle:
[code]

[2021-03-22 16:27] stephentoub commented on #49978
And that's the default and what 99% of folks use.

Typical use also has a closure allocation.

[2021-03-22 16:30] sharwell commented on #49978
I'm concerned about the difficulty of using `ValueLazy<T>` correctly without support for non-copyable value types.

[2021-03-22 16:51] GPSnoopy commented on #49817
I think I'm happy to close this ticket. The API to report the committed memory has been added in .NET 5, so it's not like I'm left wondering whether we have a native memory leak in our code anymore.

Thanks for the link @Maoni0 , that's a very useful GC documentation.

[2021-03-22 16:51] #49817 closed

[2021-03-22 16:53] directhex opened #50005 "ICU ARM64 simulator builds are actually device builds"
### Description

Ref https://github.com/dotnet/runtime/pull/50003

Right now, the binaries produced in the iOSSimulator and tvOSSimulator builds of ICU are producing device builds. As a result, linking fails.

[code]

### Configuration

### Regression?

### Other information

[2021-03-22 16:55] janvorli commented on #49563
I believe this is a C++ problem - the `PAL_SEHException` type compiled in JIT is internally not the same type as the `PAL_SEHException` type compiled in the runtime / other shared library. The type is defined in pal.h, so it gets compiled separately for each exe / shared library that references it. That would explain why it is not caught. There are some details on the issue here: https://gcc.gnu.o

[2021-03-22 16:55] tannergooding commented on #49978
Yes, it is similar, but in a convenient to use and easy to locate type. At least I didn't know `LazyInitializer` existed until today, and based on the hearts/thumbs up, I'd guess at least one other person didn't either 😄
At the very least, `LazyInitializer` looks to be missing a `(ref T, ref bool) overload; it only has `(ref T, ref bool, ref object)` and `(ref T, ref bool, ref object, System.Func)

[2021-03-22 16:56] antonfirsov commented on #49999
@ManickaP thanks, totally missed that. I think #42211 mostly covers everything, so I'm closing this as a duplicate.

What (probably) changed since September is that ` System.Net.Sockets.SocketException (10060)` became a dominant failure on Windows, at least on CI.

[2021-03-22 16:56] #49999 closed

[2021-03-22 16:59] antonfirsov commented on #42211
The description of #49999 has some useful links to stack traces according how failures occur today. The "new" HTTP 1.1 connection timeout seems to be a dominant issue on CI, failing on almost every Windows run.

[2021-03-22 17:01] stephentoub commented on #49978
Sure it does.  That's the primary behavior of EnsureInitialized; it's what all the overloads that don't take a lock object use.

I don't see how adding yet another type makes it more discoverable.

What do you expect that overload to do?

`Lazy<T>` generally saves you very little code.  If you're profiling and seeing particular costs associated with `Lazy<T>` and finding ways to remove them, I hig

[2021-03-22 17:07] sdmaclea commented on #43313
OK.  There is a different failure when publishing for osx-arm4 < NET6. Basically the cryptic message in that case is about no suitable AppHost found.

[2021-03-22 17:09] mattjohnsonpint commented on #33764
Hi.  Just seeing this now, but I'm very interested and would like to help in any way I can.

Feedback on the proposal:

- I suggest flagging any usage of local time if the project is an ASP.Net project (assuming such awarness is possible.)  Local time in a web project is the time zone setting of the *server*, which is often UTC but should be considered irrelevant.  The analyzer would warn on any u

[2021-03-22 17:12] DrewScoggins opened #50006 "[Perf] Regressions in System.Linq.Tests.Perf_Enumerable"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [3553284bea7b650874c8dcc3f78d6be085a047bb](https://github.com/dotnet/runtime/commit/3553284bea7b650874c8dcc3f78d6be085a047bb)
Compare | [59594697a94b5add2d91f292283141574e4d0f16](https://github.com/dotnet/runtime/commit/59594697a94b5add2d91f292283141574e4d0f16)

### Regressions in System.Linq.Tests.Perf_Enumerable

Benchm

[2021-03-22 17:12] DrewScoggins commented on #50006
https://github.com/dotnet/runtime/pull/48634 looks like the culprit

[2021-03-22 17:16] tannergooding commented on #49978
You type `Lazy` and you see `ValueLazy` in Intellisense. `ValueX` being an allocation free version of `X` with possibly a few different rules is not an uncommon pattern now.
Other types with `Lazy` in the name are `LazyInitializer` and `LazyThreadSafetyMode`, neither of which are "obviously" what you want.

To check `bool` and create the instance without a lock. Given the current code, it would be

[2021-03-22 17:19] vcsjones commented on #49984
Looks like a dup of https://github.com/dotnet/runtime/issues/48851.

[2021-03-22 17:21] udlose opened #50009 "Add ability to leverage StackExchange.Redis.CommandFlags via IDistributedCache"
### Is your feature request related to a problem? Please describe.
I'd like to be able to specify the usage of a Replica or Slave endpoint instead of always going to the Master.  This would allow me to offload traffic for read-only cache operations where the latest data is not critical resulting in improved performance.

Currently, the `StackExchange.Redis.IDatabase` API allows for this by use of

[2021-03-22 17:24] stephentoub commented on #49978
Not for value types in general (you'd risk tearing them), and for reference types you don't need the bool at all unless you actually want to treat null as a valid value.

You type Lazy and you see LazyInitializer, too.

It's not allocation-free.  The 99% case is still going to allocate.

[2021-03-22 17:24] danmoseley commented on #50010
Hi @dkoshy should this be a bug in the https://github.com/topics/azure-redis-cache repo instead?

If not, could you please share more about why you believe it's a platform bug? Including a callstack.

[2021-03-22 17:24] davidmatson opened #50018 "With UseWindowsService, exceptions during configuration aren't reported as service startup exceptions"
### Describe the bug
Exceptions starting up the host aren't reported as Windows service startup failures.

### To Reproduce
1. Use the program below.
2. Start the service.

### Expected behavior
Net start reports the service failed to start, and the startup exception is logged in event viewer.

### Actual behavior
Net start reports the service didn't respond to the control request in a timely fash

[2021-03-22 17:24] davidmatson opened #50019 "UseWindowsService always reports successful service startup even when Host startup fails"
### Describe the bug
When using .UseWindowsService(), the windows service always reports success from startup, regardless of whether the host actually starts up successfully.
A clear and concise description of what the bug is.

### To Reproduce
1. Use the code below.
2. Start the service with net start.

### Expected behavior
Net start indicates the service failed to start.

### Actual behavior
Ne

[2021-03-22 17:24] artiomchi opened #50021 "Windows service ServiceBase access for pause/continue support"
### Is your feature request related to a problem? Please describe.
Currently there's a simple way to run a netcore3 app as a windows service using the `.UseWindowsService()` extension. The issue is that this extension uses it's own `ServiceBase` class, which is the only class that receives pause and continue events, shutdown events and custom service commands.

### Describe the solution you'd like

[2021-03-22 17:25] glennc opened #50023 "Install-able windows service app"
Epic https://github.com/aspnet/AspNetCore/issues/8834

In 3.0 we want to explore how to install a generichost based WindowsServices.

Suggested designs:

1. Self-installable app where you run myapp --install to install it.
2. A new tool that can install an app as a windows service

We would like to expand this to include SystemD daemons as well.

[2021-03-22 17:26] danmoseley commented on #50014
What are "worker services" in this context?

[2021-03-22 17:26] eerhardt commented on #50013
cc @buyaa-n

[2021-03-22 17:28] cyrusdargahi opened #50028 "aspnet core 3.0 DI Bug when constructor value type with default value"
### Description

When a class is registered with service collection as transient and that class constructor has a parameter with a value type, but that parameter has a default value, then when it is resolved in runtime, the first two times it works as expected and the parameter is set to the default value, but on subsequent service resolutions the parameter will be given "bizarre" values that are

[2021-03-22 17:28] EgorBo opened #50030 "[JIT][PGO] Incorrect weights produced by expand-casts optimizations"
[code]
Currently produces:
[code]

Note that 0.25 weight which looks incorrect.

Same for some other cast patterns.

category:correctness
theme:profile-feedback
skill-level:intermediate
cost:small
impact:small

[2021-03-22 17:29] safern commented on #36010
Thanks @davidfowl -- I'll set it as ready for review.

[2021-03-22 17:31] saithis opened #50034 "AddAzureWebAppDiagnostics throws an exception if used in combination with azure webapp zip deploy"
# Describe the bug
AddAzureWebAppDiagnostics throws an exception if used in combination with azure webapp zip deploy.
There is no exception if we deploy the code with Visual Studio (no zip deploy).

### To Reproduce
Steps to reproduce the behavior:
1. Using version '3.0.0' of package 'Microsoft.Extensions.Logging.AzureAppServices'
2. Run this code:
[code]
3. Deploy to Azure with Zip Deployment/WEB

[2021-03-22 17:32] tannergooding commented on #49978
And this is completely acceptable for certain cases and is possible with `Lazy<T>`, but not with `LazyInitializer`

`LazyInitializer` exposes overloads that don't take `bool` that are constrained `where T : class` and which support having a `lock` or not having one. The overloads that take `bool` are unconstrained (and therefore support value or reference types) but require a lock.

Sorry, I mean

[2021-03-22 17:35] EgorBo commented on #50030
Even weirder weights here:
[code]
[code]

[2021-03-22 17:40] vcsjones commented on #48851
Doesn't look related actually, I was looking at a different `BuilidInvalidSignatureTwice` test (and even if it were the other one, I didn't change the certs in that test), but I will see if I can figure out what is going on.

[2021-03-22 17:41] bartonjs commented on #49878
Throwing that at SharpLab and looking at the IL, it looks like the argument to `collection.Cast<X509Certificate>` is ending up at CollectionBase.GetEnumerator, which returns an enumerator over the underlying ArrayList.

So in order to maintain compatibility in this case (if we care) we would need to explicitly re-implement IEnumerable.GetEnumerator to replicate the one coming from CollectionBase,

[2021-03-22 17:41] stephentoub commented on #49978
You won't get tearing with `Lazy<T>`, unless you erroneously use the non-thread-safe mode from multiple threads.

I designed LazyInitializer; I understand what it looks like.

Are you saying you want an overload on LazyInitializer that uses a spin lock instead of an object?

`new Lazy<T>(() => something)` allocates a LazyHelper; that would still be the case for a `ValueLazy<T>` in order to "repres

[2021-03-22 17:43] GrabYourPitchforks opened #50044 "API Proposal: ExceptionDispatchInfo.TrySetStackTrace"
## Scenario

One of the primary uses of `BinaryFormatter` is to serialize `Exception` objects. Since we are obsoleting this serializer, we need to investigate [new ways of serializing exception data](https://github.com/dotnet/runtime/issues/43482).

For most `Exception`-derived types, serializers can be written to call the applicable public ctor based on parameter name (for `ArgumentException`), H

[2021-03-22 17:47] naricc commented on #48079
I (@naricc) am working on  System.ComponentModel.TypeConverter.Tests.

[2021-03-22 17:50] udlose commented on #50009
@area-Extensions-Caching

[2021-03-22 17:52] DrewScoggins opened #50046 "Regressions in System.Buffers.Tests.RentReturnArrayPoolTests<Object>"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [e0bbfa0f555cf5b9d8b8749e1a91a78924c9d927](https://github.com/dotnet/runtime/commit/e0bbfa0f555cf5b9d8b8749e1a91a78924c9d927)
Compare | [220b01a58697eeae580d97cc47879217efd6628f](https://github.com/dotnet/runtime/commit/220b01a58697eeae580d97cc47879217efd6628f)

### Regressions in System.Buffers.Tests.RentReturnArrayPoolT

[2021-03-22 17:52] DrewScoggins commented on #50046
https://github.com/dotnet/runtime/pull/49031 looks like it could be related.

[2021-03-22 17:52] Mokashaa commented on #49807
I agree with you but I don't have control on the parsing process and it's byte array output although I think it has mixed encoding

I tried this and it worked . the string contains NULL characters  in the middle so it appears to be broken

[2021-03-22 17:56] tarekgh commented on #50042
@shirhatti this issue has the information for guidance. We recommend using the version 5.0+ of the libraries. Users using older versions may need to consider migrating to 5.0 for better support (and we may need to find the data for the old breaking changes done in 2.1). Where can this guideline live? is it something you can help documenting it? should we move this issue to the doc repo? Thanks!

[2021-03-22 17:57] BruceForstall commented on #8748
The CHK/REL diffs problem is fixed by https://github.com/dotnet/runtime/pull/49947

[2021-03-22 18:02] tarekgh commented on #49807
Thanks for trying it. can we close this issue now as there is nothing need to be done from our side?

[2021-03-22 18:05] #50031 closed

[2021-03-22 18:07] davidfowl commented on #50027
There isn't enough information to make progress here, we should close this until we understand more.

[2021-03-22 18:08] davidfowl commented on #50014
![image](https://user-images.githubusercontent.com/95136/112037417-f1eb7b80-8afe-11eb-8716-76c93acf6457.png)

It's a console app hooked up to Microsoft.Extensions.Hosting.

[2021-03-22 18:09] davidfowl commented on #50022
This issue should be closed.

[2021-03-22 18:12] tannergooding commented on #49978
Sorry, was just trying to explain that I understood you didn't need `bool` for reference types and that's why we had two sets of overloads. It's just that there is functionality supported by `Lazy<T>` which is not exposed on `LazyInitializer`.

Having that functionality available via `LazyInitializer`, now that I know it exists would be reasonable. Having it exposed via `ValueLazy<T>` ensures pari

[2021-03-22 18:20] sebastienros commented on #49845
Are you checking yourself?

Is that something we can expect to be done in net.6.0?

[2021-03-22 18:27] jkotas commented on #50044
Where do we expect this to be called on exceptions that have a stacktrace set already? Why not throw like what `SetCurrentStackTrace` does?

[2021-03-22 18:38] GrabYourPitchforks commented on #50044
@jkotas I don't feel strongly one way or another on this. If there's a way for a caller to detect likely failure ahead of time (query _Exception.StackTrace_ and see if it's populated?), then the try pattern doesn't add much.

[2021-03-22 18:41] #50005 closed

[2021-03-22 18:44] jkoritzinsky commented on #49949
Related: https://github.com/dotnet/runtime/issues/5884

[2021-03-22 18:46] vcsjones commented on #49984
Hmm. My hypothesis is the chain builder is confused which intermediate it should be using since the test chain builder is not making certificate chains with unique names per-test. It may have been using the "wrong" intermediate, but since the test is expecting an invalid signature, worked most of the time anyway.

[2021-03-22 18:51] Amy-Li03 opened #50050 "An error "The framework 'Microsoft.NETCore.App', version '6.0.0-preview.3.21168.7' was not found" pops up after installed .net 6.0 Preview 3 latest build from master branch"
**Repro steps:**
1. Install SDK 6.0 preview 3 from master branch of https://github.com/dotnet/installer
2. Create a WinForms net core project targeting .NET 6.0.

**Actual Result;**
An error dialog pops up when loading the form designer.
![image](https://user-images.githubusercontent.com/62929087/111932626-c6fe2900-8af8-11eb-8dcc-f2d1154647db.png)

**Expected Result:**
The form designer should be

[2021-03-22 18:51] DrewScoggins opened #50051 "Regressions in System.Text.RegularExpressions.Tests.Perf_Regex_Cache"
### Run Information

Architecture | x86
-- | --
OS | Windows 10.0.18362
Baseline | [5d984be87c70b71136efa8334a503c56cbcf2ccb](https://github.com/dotnet/runtime/commit/5d984be87c70b71136efa8334a503c56cbcf2ccb)
Compare | [e0bbfa0f555cf5b9d8b8749e1a91a78924c9d927](https://github.com/dotnet/runtime/commit/e0bbfa0f555cf5b9d8b8749e1a91a78924c9d927)

### Regressions in System.Text.RegularExpressions.Test

[2021-03-22 18:51] DrewScoggins commented on #50051
This seems like the only related change, https://github.com/dotnet/runtime/pull/49352

[2021-03-22 18:54] hanblee commented on #43780
@tannergooding Since the spec is out in the public, I think the APIs are ready to be reviewed. I agree that it may not make sense to ship them until the hardware becomes available. Is there an experimental repo/branch where we can make a PR to get the implementation reviewed prior to hardware availability?

[2021-03-22 18:54] davidwrighton commented on #49982
This is likely caused by @trylek's change to make our cg2 testing more similar to how we are shipping preview3.  Looks to be a small bug in the type layout engine of crossgen2.