[2020-07-31 00:10] davmason commented on #39682
Looking now, fairly sure it's a duplicate of #36028

[2020-07-31 00:15] GrabYourPitchforks opened #40169 "API proposal: Obsolete RNGCryptoServiceProvider"
## Background and Motivation

The `RNGCryptoServiceProvider` class is a relic from the old Windows CAPI days of yore. The original Win32 API is [no longer recommended](https://docs.microsoft.com/en-us/windows/win32/api/wincrypt/nf-wincrypt-cryptgenrandom), preferring [CNG](https://docs.microsoft.com/en-us/windows/win32/api/bcrypt/nf-bcrypt-bcryptgenrandom) for all new work.

In .NET Core, the `RNG

[2020-07-31 00:17] davmason commented on #36028
Yes, this should still go in for 5.0. It will be a relatively low risk fix and have a lot of value. We regularly run in to it in our test runs

[2020-07-31 00:20] #40094 closed

[2020-07-31 00:20] davmason commented on #37533
It is a profiler test, I am unable to repro though and it's been almost a month. I think it's a one off failure so closing, if it happens again I can investigate more.

[2020-07-31 00:20] #37533 closed

[2020-07-31 00:25] danmosemsft commented on #31292
@AnthonyLloyd nice -- I"ll take it. Maybe we'll compare well with Java on all of them, after that goes in. Thank you!

[2020-07-31 00:29] davmason commented on #38523
The profiler tests often cause a lot of GCs to happen, and don't do anything particularly interesting in managed code. I think the best avenue is to opt out of GCStress for the ones that time out.

[2020-07-31 00:29] mpolicki opened #40170 "Expression.RightShiftAssign does not propagate the sign bit for sbyte"
### Description
Given this class:
[code]
this test fails with `Expected:<-1>. Actual:<1>`:

[code]

### Configuration
.NET 5.0 Preview 7
Windows 10 1909 x64
Any CPU

### Regression?
The test passes in .NET Framework 4.7.2.
In .NET 5 Preview 7, using the operator directly (`>>=`) works as expected.
In .NET 5 Preview 7, equivalent code for `short`, `int`, and `long` works as expected.
In .NET 5 Prev

[2020-07-31 00:33] vcsjones commented on #40169
On the topic of `RandomNumberGenerator`, maybe we should steer people to not using `Create` at all, but instead use the static [`Fill`](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.randomnumbergenerator.fill?view=netcore-3.1) member. Perhaps that can be part of the fixer, or at least a suggestion in the documentation.

[2020-07-31 00:37] davmason commented on #37929
I am assuming at this point that you figured out the issue. Feel free to get in touch if you haven't, for now I'm closing this issue.

[2020-07-31 00:37] #37929 closed

[2020-07-31 00:38] danmosemsft commented on #40094
Looking even closer at the graph and zooming in, we actually could get a diff bounding just 3 hours of time on July 24th:
https://github.com/dotnet/runtime/compare/f3f23b4bde8b0a449d57ef600d99560ac97a784e...6ca600396ee2e80e8bf93c72c2b5439aadc86073

[2020-07-31 00:44] GrabYourPitchforks commented on #40169
If we really wanted, we could also have `RandomNumberGenerator.Create` return a singleton whose dispose method no-ops.

[2020-07-31 00:54] AndyAyersMS commented on #31613
I still see a regression with a fairly recent P8 build:
[code]

[2020-07-31 01:11] ericstj commented on #24468
I see. I misunderstood partial sort. This makes a lot more sense and I see the value.  Let’s keep it open and continue discussion in 6.0.

[2020-07-31 01:14] davidwrighton commented on #39963
Your reasoning is correct. It should be virtual slot 4. As for the optimization question, as the logic for implementation entries handled by VSD is long gone, this is from fuzzy memories of the past, but I believe the way it once worked is...

1. Each MethodTable is annotated with the number of virtual slots that it describes
2. The implementation table is ordered in the same order as the metadata

[2020-07-31 02:16] v-haren opened #40178 "Test failure: Interop/PInvoke/Miscellaneous/CopyCtor/CopyCtorTest/CopyCtorTest.sh"
failed in job: [runtime-coreclr outerloop 20200730.5 ](https://dev.azure.com/dnceng/public/_build/results?buildId=751950&view=ms.vss-test-web.build-test-results-tab&runId=23324156&resultId=100409&paneView=debug)

failed tests:
Interop/PInvoke/Miscellaneous/CopyCtor/CopyCtorTest/CopyCtorTest.sh
Interop\\PInvoke\\Miscellaneous\\CopyCtor\\CopyCtorTest\\CopyCtorTest.cmd

Error message
[code]

[2020-07-31 02:17] srxqds opened #40179 "build mono sdks"
Can this repo use to build mono sdks(macos, windows, ios and android) now? Is there any tutorial for build it?
Another quesion is can we include source code directly build with other project(like Unreal Engine)?

[2020-07-31 02:26] AaronRobinsonMSFT commented on #38950
@jozefizso Thanks for the project. I am able to reproduce the issue locally. I see what is happening, but am unsure as to the why. The first time the add in is loaded, everything is correct. However on the subsequent load the plugin has a slightly different vtable layout and is corrupting the application's `IDispatch` pointer - instead of calling `OnConnection()`, it is calling the object's `ToStr

[2020-07-31 02:28] jnm2 opened #40181 "TaskAwaiter.OnCompleted only uses synchronization context for first continuation starting with .NET Core 3.0"
If you call .OnCompleted more than once one a TaskAwaiter or a ConfiguredTaskAwaiter with continueOnCapturedContext = true, the captured context only applies to the first continuation. The second continuation is executed without the captured context.

Repros on .NET Core 3.0 and 3.1. Does not repro on 2.0, 2.1, or .NET Framework. This is happening in an open-source project across multiple CI and d

[2020-07-31 02:30] stephentoub commented on #40181
They're all still queued to that context. What they see is being the current context when the continuation is executed is entirely up to the context implementation. Your implementation isn't setting itself as current before executing the callbacks.

[2020-07-31 02:39] v-haren commented on #36195
failed again in job: [runtime-coreclr jitstress 20200729.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=750921&view=ms.vss-test-web.build-test-results-tab&runId=23285924&resultId=100588&paneView=debug)

failed test: profiler/elt/slowpatheltleave/slowpatheltleave.sh

Error message
[code]

[2020-07-31 02:48] jnm2 commented on #40181
Oh. What is causing `_ThreadPoolWaitCallback.PerformWaitCallback` then?
![image](https://user-images.githubusercontent.com/8040367/88994587-bcb3c400-d2b6-11ea-8394-b9167624ba66.png)

[2020-07-31 02:49] jnm2 commented on #40181
Oh, the default implementation of SynchronizationContext.Post, of course.

Sorry about that!

[2020-07-31 02:49] #40181 closed

[2020-07-31 03:16] QueenCitySmitty commented on #40001
@jkotas Hey is it cool if I pick this up, it doesn't sound like it would be too much work. Pretty new to the .NET Runtime repo though, does this seem like an 'Easy' labeled item, or is the work more substantial than I'm thinking.

[2020-07-31 03:20] CodeBlanch commented on #40046
@tarekgh May I take a stab at a PR for this?

[2020-07-31 03:24] tarekgh commented on #40046
@CodeBlanch I am already finishing it. Sorry, if I know you are interested in doing it I would left it for you.

[2020-07-31 03:30] CodeBlanch commented on #40046
@tarekgh No prob! Thanks for getting this in.

[2020-07-31 03:33] AaronRobinsonMSFT opened #40182 "SOS Plugin for Visual Studio"
There should be an integration point between the SOS plugin and Visual Studio. The [Concord API](https://github.com/microsoft/ConcordExtensibilitySamples) seems to have an extensive surface area that at first glance appears capable of supporting whatever SOS needs.

- Is this possible?
- What are the big rocks?

/cc @gregg-miskelly @noahfalk

[2020-07-31 03:51] danmosemsft commented on #40170
What does it do on 3.1?

[2020-07-31 04:05] mangod9 commented on #40178
@davidwrighton since this is a new test which was recently added.

[2020-07-31 04:08] jkotas commented on #40001
Yep, this one should be pretty easy

[2020-07-31 04:22] jkotas commented on #40182
It used to work in immediate window: https://docs.microsoft.com/en-us/archive/blogs/vijaysk/sos-your-visual-studio

[2020-07-31 04:24] jkoritzinsky commented on #39598
Not to my knowledge.

[2020-07-31 04:26] davidfowl commented on #39745
Any chance we can do this in 5.0? Is there any harm?

[2020-07-31 04:37] #13362 closed

[2020-07-31 04:37] #13365 closed

[2020-07-31 05:03] xiangzhai commented on #1046
:mips-redesign

[2020-07-31 05:34] AaronRobinsonMSFT commented on #40182
@jkotas Yep. I remember that one. It was a long time ago and if memory serves there were changes in VS that broke the ability to load that. @gregg-miskelly would know for sure though.

It might be useful to provide an agnostic API that allows third parties to consume a library they can use to build up support. This library could be used to enable real runtime development on the debugger of your ch

[2020-07-31 06:00] #1046 closed

[2020-07-31 06:05] kjpou1 opened #40188 "[browser][bindings] Enum bindings regression from mono 3.2"
The enum bindings need to be added to the dotnet/runtime

[2020-07-31 06:26] jozefizso commented on #38950
Thanks a lot for looking into this.

[2020-07-31 06:33] danmosemsft commented on #25598
I was working to rebase #1449 on master, but it needs partly reimplementing at this point. And I realized there are some omissions, but a larger issue is that adding support in the same way for the other 3-5 kinds of newlines in [TR18#1.6](http://www.unicode.org/reports/tr18/#RL1.6) will make the code unwieldy. Currently `\n` is already specially treated in 13 places in the interpreter, compiler,

[2020-07-31 06:58] noahfalk commented on #40182
@AaronRobinsonMSFT - Appreciate the feedback! We were literally discussing this topic earlier today (cc @mikem8361) so this is very timely. The VS team has also started shifting a bit more priority towards production diagnostic scenarios where SOS is more commonly used.

Do you have specific tasks that SOS would help you accomplish or commands that you want to use? Partly this helps us build the c

[2020-07-31 07:04] AnthonyLloyd commented on #31292
And Go too I hope: https://benchmarksgame-team.pages.debian.net/benchmarksgame/fastest/go-csharpcore.html

[2020-07-31 07:15] Gnbrkm41 commented on #30657
I can put up a PR for this.

Question: Do we want to enforce a limit on what kind of values are supported for the precision? I think the longest output is something like 308 digits, and I'm not sure what we should do for anything above 308. Just pad it with 0s?

[2020-07-31 07:20] wfurt commented on #39011
I confirmed that the problem lives in ChannelBinding. If I disable that extra layer, everything works fine even with https.
It is curious that aside from nullability, that part of code was not touched for very long time.
It also seems to be problem only on Windows. Using Linux with NTLM seems to work fine.

[2020-07-31 07:26] geoffkizer commented on #39011
I was under the impression that ChannelBinding is a Windows thing... could be wrong though...

[2020-07-31 07:28] Gnbrkm41 commented on #30657
Also.... how about new overloads of TryFormat? it's definitely nice to have and provides some flexibility in high performance scenarios.

Feels weird that we're not doing it even though we are adding those TryFormat APIs everywhere to give people a choice.

[2020-07-31 07:32] wfurt commented on #39011
There seems to be fragments of managed/Unix implementation. I did not verify they are actually used. I just run same code on Linux and it works without any troubles. I'll try to do some A/B testing tomorrow with 3.1 to see if I can find any differences.

https://github.com/dotnet/runtime/blob/98eee0587dfd0752c030fe49b3fd9b45f4b2e5c5/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHand

[2020-07-31 07:39] vproxy666 commented on #33280
+1 same error only occurs on Linux; fine on Windows.
I have to use `SocketsHttpHandler`

[code]

[2020-07-31 07:44] vproxy666 commented on #35809
I am encountering the same issue.  Same code works fine on Windows, but encounter error when accessing same server from linux docker container (the microsoft image)

[2020-07-31 07:53] tinyVishal commented on #37354
Sorry for delay.
@layomia, @Tornhoof
Please run code, if you still could not able to find issue, please email me.

[2020-07-31 08:04] sywhang opened #40190 "Using EventCounter/EventListener can run into a deadlock"
When EventListener subscribes to EventCounter, it is possible for a deadlock to occur when a callback that tries to invoke EventSource's constructor is registered as the callback for EventListener that's consuming an EventCounter, or if the EventCounter is a PollingCounter/IncrementingPollingCounter and the delegate for polling the value has a call to EventSource's constructor.

Specifically, the

[2020-07-31 08:04] pinkfloydx33 commented on #40143
There's plenty of language features that expressions don't support, several that I'd much rather see than this. I'm not arguing against pattern matching support, but things like null-propogation are probably more useful. I'm pretty sure however, that the team has decided in the past that the Expression API was not going to be updated going forward... which is quite unfortunate

[2020-07-31 08:18] wangjia184 commented on #33280
I am encountering the same issue.  I am porting an application from Windows to Linux.

The exception is raised immediately on performing the call, there is no waiting at all before it is cancelled.
The target server to access is absolutely accessible because we have the same application running at the same time on both Windows and Linux, and only the application on Linux fails. docker image `mcr.m

[2020-07-31 08:24] am11 opened #40192 "Value of COMPlus_PInvokeInline knob"
The `PInvokeInline` knob is defined by: https://github.com/dotnet/runtime/blob/b262f0bd2e57c528241609aa47bc4eb99a865336/src/coreclr/src/inc/clrconfigvalues.h#L695

but I could not figure out what should be the (string) value? (and what output to expect from it)

I am investigating an issue with P/Invoke methods, which are also marked with intrinsic attribute (and correctly recognized as intrinsic

[2020-07-31 08:26] alnikola commented on #39608
@JamesNK Could you please confirm whether the full version above fixes the issue on your machine?

[2020-07-31 08:41] FMauroy opened #40193 "Configuration binder not using the expected default value for nullable members?"
### Description

I use Microsoft.Extensions.Configuration.GetSection() and then Bind() to fill a list of objects. The class contains nullable fields, like bool? and enum?. When the JSON config contains an explicit value for any of these, binding works fine, but when it doesn't, I'd expect the value to be set to null, which is not the case. The bool? is set to false, and the enum? is set to the fir

[2020-07-31 08:44] geoffkizer commented on #40075
This seems like a good thing.

But I don't understand this part:

[2020-07-31 08:49] FMauroy commented on #40193
Probable label: area-Extensions-Configuration

[2020-07-31 08:50] bugproof commented on #728
Btw. this is the code responsible for the behaviour:

https://github.com/dotnet/runtime/blob/650f28f2c841c44b0a247e18a9f983c8619286dc/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs#L112-L143

[2020-07-31 09:08] scalablecory commented on #40075
We currently have this code:

https://github.com/dotnet/runtime/blob/7acaf166f43380ba76616b24a93f1429995ff1d8/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/DnsEndPointWithProperties.cs#L19-L29

It exposes a property using an internal type that `SocketsHttpConnectionFactory` understands. We just need to update this to expose the `HttpRequestMessage` as a property instead of t

[2020-07-31 09:12] geoffkizer commented on #40075
Yeah, that makes sense, thanks. That seems like it ends up in a better place anyway.

[2020-07-31 09:22] alexeysmorkalov opened #40194 "DateTimeFormatInfo.GetEra(string) does not work in a scenario"
### DateTimeFormatInfo.GetEra(string) always returns -1 if you pass abbreviated english era name as input parameter

### Steps to reproduce

[code]

### Configuration

**Fails** on  **5.0.100-preview.7.20366.6**
**Works correctly** on any .NET Framework, .Net Core 3.0, .Net Core 3.1, .Net 5 lower than **5.0.100-preview.4.20258.7**
x64

### Regression
.Net Framework, Core 3.0, Core 3.1 and .Net5 un

[2020-07-31 09:54] JamesNK commented on #39608
It still fails

[code]

[code]

[2020-07-31 10:21] svick commented on #25598
@danmosemsft

I think that the speed of `AnyNewLine` should be on par with the current behavior, at least as long as we're talking about the common case of dealing only with `\n` and `\r\n`. Would it be reasonable to somehow detect the presence of the less common line endings and only switch to the less efficient approach if they are found?

Or are you saying that the performance of `AnyNewLine` w

[2020-07-31 10:31] danmosemsft commented on #25598
This, although it's never going to be possible to be as good given there's necessarily more tests and branches.

[2020-07-31 10:37] eiriktsarpalis opened #40195 "JIT assertion failure when running tests in OSX"
I'm seeing the following assertion failure when running a new set of tests in Coreclr OSX x64 Debug:

[code]

The issue seems to reproduce consistently (I triggered CI twice) and only happens in OSX. I don't currently have access to an OSX device, so wasn't able to further drill down into the problem.

Relevant PR: https://github.com/dotnet/runtime/pull/40135#issuecomment-666343524 cc @kunalspatha

[2020-07-31 10:47] lisberPontes opened #40196 "CA1063: Remove IDisposable from the list of interfaces"
### Description

CA1063: Microsoft.Design : Remove IDisposable from the list of interfaces implemented by 'XXXXX and override the base class Dispose implementation instead.

Ok, so after reading the documentation Microsoft about this rule:

"Every unsealed type that declares and implements the IDisposable interface must provide its own protected virtual void Dispose(bool) method. Dispose() should

[2020-07-31 10:54] MaximLipnin commented on #39771
There is no repro,  the tests are enabled in https://github.com/dotnet/runtime/pull/40130

[2020-07-31 10:54] #39771 closed

[2020-07-31 11:45] roji commented on #33397
PR: #34561

[2020-07-31 11:54] alnikola commented on #39608
Hmm, you are right, it started happening again on my machine, too. That's really strange because before I fully ran it several times without any issues. Will continue investigation.

[2020-07-31 12:15] svick commented on #40143
@sidney-pauly

I don't understand how is the proposed `TypeMatchPattern` supposed to work. If you evaluate it on its own, what value does it return? And how can you use this value in both `Switch` and `If`?

Also, if I was trying to write a type switch using Expression Trees today, I would probably use a sequence of `IfThenElse` expressions and `TypeIs` (or `TypeAs`), instead of trying to fit it i

[2020-07-31 12:20] SingleAccretion commented on #26394
@jeffhandley This bug has been fixed in 0414ad171efd758ed1c527a07d2b8c77138d0dea - I think the issue can now be closed.

[2020-07-31 12:35] sandorfr commented on #23868
I strongly disagree with this one. That's a terrible reason not to offer an API. Yes there will be people who can't read the docs, it's not for them that you should design things.

SHA-1 vulnerability in the context of cryptography really is irrelevant here.

Given how long it's been opened and the low activity and reactions on this, I agree with this one.
Also there's some decent implementations

[2020-07-31 12:37] jkotas commented on #40192
This is dead code. Removing in #40199

[2020-07-31 13:01] #26394 closed

[2020-07-31 13:15] marek-safar commented on #40179
There is documentation on how to build for different OSes and different configurations. You can start for example here https://github.com/dotnet/runtime/tree/master/docs/workflow/building/libraries#building-all-for-other-oses

The output will be always NuGet package which is what .NET Core uses as a distribution unit. If you would like to build for a new OS or platform please submit PR and the det

[2020-07-31 13:15] #40179 closed

[2020-07-31 13:42] SamMonoRT commented on #38718
We can close this issue.

[2020-07-31 13:42] #38718 closed

[2020-07-31 14:02] fbrosseau opened #40202 "API Proposal: Span<char> from null-terminated char*"
## Background and Motivation

PInvoke scenarios (mostly those on Windows) interact a lot with null-terminated wide strings.

String has always had a ctor(char*), which in .Net Core now uses a highly optimized wcslen, internal to the framework.

I am proposing the equivalent functionality, minus the allocation+copy, using Span<>.
Given a null-terminated wide string as input (in the shape of unsafe

[2020-07-31 14:14] KalleOlaviNiemitalo commented on #40196
This warning seems to come from [legacy analysis](<https://docs.microsoft.com/visualstudio/code-quality/static-code-analysis-for-managed-code-overview?view=vs-2017> "Code analysis for managed code - Visual Studio | Microsoft Docs") rather than [Roslyn FxCop analyzers](<https://docs.microsoft.com/visualstudio/code-quality/roslyn-analyzers-overview?view=vs-2017> "Code analysis using Roslyn analyzers

[2020-07-31 14:17] #39247 closed

[2020-07-31 14:27] alnikola commented on #39608
It seems I found the root cause. There is a deadlock between processing WindowUpdateFrame and cancelling Http2Stream.

1. `Http2Stream.SendDataAsync` calls `Http2Connection.SendStreamDataAsync` passing `_requestBodyCancellationSource.Token` to cancel sending request body if a need arises later.
2. `Http2Connection.SendStreamDataAsync` tries to acquire connection window credit of the frame's size t

[2020-07-31 14:29] marek-safar commented on #33652
Closing as we hit the goals for 5.0

[2020-07-31 14:29] #33652 closed

[2020-07-31 14:30] fsinisi90 opened #40203 ".NET Core hosting: Call managed method without knowing the types at compile time"
With `load_assembly_and_get_function_pointer` you can call a managed method by using the default signature or by using a custom signature (see this [sample](https://github.com/dotnet/samples/tree/master/core/hosting/HostWithHostFxr)). But in both cases, you have to know the types at compile time.

Is there a way to call a managed method but knowing the types at runtime?

[2020-07-31 14:31] marek-safar commented on #38627
Should be fixed with #40031

[2020-07-31 14:31] #38627 closed

[2020-07-31 14:34] lisberPontes commented on #40196
Hi @KalleOlaviNiemitalo , thanks for your input. And [legacy analysis](https://docs.microsoft.com/visualstudio/code-quality/static-code-analysis-for-managed-code-overview?view=vs-2017) are no longer maintained, is that i?

[2020-07-31 14:35] marek-safar commented on #39354
We have no plans to support SIMD in 5.0 but we'll revisit that for 6.0 release

[2020-07-31 14:36] michael-gould commented on #38627
Thanks everyone - much appreciated

[2020-07-31 14:48] marek-safar commented on #40065
@kjpou1 what do you it does not work correctly? Does it work only for some operations or not at all?

[2020-07-31 14:51] marek-safar commented on #38931
Is this xharness issue?

/cc @akoeplinger

[2020-07-31 15:02] jzabroski commented on #25598
@danmosemsft Thanks for putting this together. This issue has been on my mind for some time, but life keeps getting in the way!

The main reason I did not put this on my plate is precisely the risk of causing a regression in behavior that you highlight by the thirteen different places that need to be considered.  Perhaps I am too detail-oriented, but as we are nearing .NET Core 5, my thought was,

[2020-07-31 15:04] CincySteve opened #40245 "Inherited Class Properties Not Showing in Debugger"
This may be related to or part of [this](https://github.com/dotnet/runtime/issues/39449).  But since the symptoms are somewhat different, I thought I would see if it is a new issue.

I have a public class (in the project's namespace) that inherits a base class.  The screenshot shows that the base class properties are not directly visible in the debugger, but are within the instantiated class when

[2020-07-31 15:10] lewing commented on #39223
I think this was fixed in https://github.com/dotnet/runtime/pull/40031 will verify

[2020-07-31 15:21] kouvel commented on #1634
@GRustamyan-ST, ok will see if we can port to 3.1

[2020-07-31 15:22] steveisok commented on #39074
Ah!  I'll add it to https://github.com/dotnet/runtime/pull/39446

[2020-07-31 15:23] Gnbrkm41 commented on #30657
...And, what for invalid / unsupported format specifiers? the default behaviour with the string based overloads would have been to just treat it as a custom format specifier, but I don't think it applies here...

[2020-07-31 15:24] svick commented on #40202
Is it common that the total buffer size is unknown? I worry about the situation where the null terminator is missing, which would mean the created `Span` points to random regions of memory. Would it make more sense to add a parameter for the buffer size?

[code]

If `\0` is not found within `maxLength` characters, an exception is thrown.

If you actually do not know the size of the buffer, you can

[2020-07-31 15:28] kouvel commented on #1634
It looks like `sched_setaffinity` is currently not allowed even when the same pid as the calling thread is passed in:

[code]

`pthread_setaffinity_np(pthread_self(), ...)` appears to call `sched_setaffinity(<nonzeroPid>, ...)` and is failing even though it's trying to set the affinity of the same calling thread. @jdstrand, would it be possible to allow `pthread_setaffinity_np(pthread_self(), ...)

[2020-07-31 15:31] fsinisi90 commented on #40203
@jeffschwMSFT @vitek-karas @swaroop-sridhar

[2020-07-31 15:33] antonfirsov commented on #32633
I think the most consistent behavior would be to throw PNSE from all unsupported overloads on Unix, since users should not rely on this method in cross-platform code. If we return `null` or `Array.Empty<byte>()` that may lead to unexpected bugs IMO.

I also vote for changing the overloads to non-nullable, since the return buffer will be never null when the method is actually supported on the platf

[2020-07-31 15:36] #39223 closed

[2020-07-31 15:39] eerhardt commented on #32633
Note that I added the `out byte[]?` annotation in .NET 5. So changing it to non-nullable in .NET 5 wouldn't be considered a breaking change. If this is the long-term change we want, it is totally acceptable from a "breaking change" aspect - since it isn't a breaking change.

[2020-07-31 15:40] antonfirsov commented on #32633
In that case, I would push for an API proposal ASAP, maybe it's not too late to get it in.

[2020-07-31 15:42] fbrosseau commented on #40202
A missing null terminator in a null-terminated string would be a breach of a very fundamental contract that is present in 99% of c-style APIs, including big parts of the Win32 API. Null-terminated strings of unknown length are everywhere.

A null-terminated string without a null is a bug in the code that generated it, and I don't think the framework should patch around that in what is unsafe code

[2020-07-31 15:44] lewing commented on #39341
Fixed in #40031

[2020-07-31 15:44] #39341 closed

[2020-07-31 15:50] #40192 closed

[2020-07-31 15:50] scalablecory commented on #32633
Since `SocketAsyncEventArgs` is throwing PNSE, it's fine to resolve this with the same exception.

However, I don't see any reason we couldn't emulate it on *nix at a later date.

[2020-07-31 15:52] lewing commented on #40132
The error here is that thinks the value is a value type but not a primitive but it doesn't seem to happen all the time.

[2020-07-31 15:55] lewing commented on #39202
The _test.dll assembly would need to be added to the vfs for this to work.

[2020-07-31 15:57] kunalspathak commented on #40195
@dotnet/jit-contrib , @erozenfeld

[2020-07-31 16:00] lewing commented on #39352
This works in master I believe any issues are related to old mono bcl.

[2020-07-31 16:12] sdmaclea commented on #1874
Moved the remaining work to future as all 5.0 blocking work is complete.

On second thought closing as the remaining work is not for this repo.

[2020-07-31 16:12] #1874 closed

[2020-07-31 16:14] sdmaclea commented on #33564
Closing as the initial implementation is complete

[2020-07-31 16:24] alnikola opened #40207 "[Telemetry] Measure number of bytes transferred by Socket.SendFile"
Current `SocketsTelemetry` implementation counts only bytes sent/received through various Socket's Send***/Receive*** methods taking byte array buffers. However, there is also SendFile method taking a file handler instead of a buffer that is not yet covered by the new telemetry.

[2020-07-31 16:28] AaronRobinsonMSFT commented on #40182
@noahfalk W00t! Love hearing that.

I appreciate the production diagnostics focus and hope that my needs align, I believe they would be a small subset of a production diagnostic experience. I will sketch out my inner dev loop this should illustrate my immediate needs.

I am going to purposefully ignore non-Windows platforms; this is something we should revisit after we solve the current UX issue.

[2020-07-31 16:29] ericstj opened #40208 "Libraries building against packages instead of ProjectReferences"
### Description

First noted here: https://github.com/dotnet/runtime/commit/809a06f45161ae686a06b9e9ccc2f45097b91657#comments

After switching to `PackageReference` we are bringing in some transitive packages that are older than live-built assets.  In this case, `System.Runtime.CompilerServices.Unsafe`.

We should audit all of our library builds to make sure we aren't doing this in additional plac

[2020-07-31 16:35] tannergooding commented on #30657
It should work like it does today, which is that it may just cap at whatever the actual digit count is (but the exact behavior depends on the format string). The actual max is 112 digits for float and 767 digits for double.

I think we can bring that forward in a separate proposal. The scenario of producing a fully qualified string is already fairly rare and is largely useful for diagnostic purpos

[2020-07-31 16:49] jkotas commented on #40202
Real-world example of this pattern: https://github.com/dotnet/runtime/blob/ed6eda5baf6018d083c89f47cc612e652b22f5ce/src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Icu.cs#L436

[2020-07-31 16:54] antonfirsov commented on #31570
I tried to reproduce this using the code in #381. Did run the tests on several OSX versions (`10.13.4`, `10.14.2` and `10.15.6`) with both 3.1 and current master, and had no success.

I think the [test code in the PR](https://github.com/shaan1337/runtime/blob/0bc0349681fb5c6f5b1dcb480d01660ef2da670a/src/libraries/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs#L939-L974) is not sufficient

[2020-07-31 16:54] jkotas commented on #25444
dotnet/runtime uses Span a lot. There do not seem to be any cases that would benefit from this API in dotnet/runtime libraries. This API is unlikely to be useful.

[2020-07-31 16:54] #25444 closed

[2020-07-31 16:55] sdmaclea commented on #39886
Per
https://github.com/dotnet/runtime/blame/5bd0edfe860e41bdfd690d3743e730594307292e/docs/workflow/requirements/windows-requirements.md#L32

The preview SDK should work.  This is at least a documentation bug.

[2020-07-31 16:59] janvorli commented on #40100
@omajid thank you for the initial investigations, we definitely want to enable Intel CET support. Do you want to try to modify one of the assembly files by adding the endbr64 instructions to see if it is sufficient to fix the problem or would you prefer me to do that? I would use the getstate.S as the one to experiment with as it contains only three simple asm functions.

[2020-07-31 17:02] jkotas commented on #40202
- Should the API return `ReadOnlySpan<char>`? The null-terminated strings are typically meant to be read-only.
- The prosed name is a mouthful. The existing interop APIs that work with null-terminated string (e.g. `new string(char*)` or `Marshal.PtrToStringUni`) do not mention zero-terminated in the name. What about `MemoryMarshal.CreateSpanFromString(char*)` or even just `MemoryMarshal.CreateSpan

[2020-07-31 17:07] GrabYourPitchforks commented on #40202
FWIW, I __would not__ recommend this in a production application. This takes advantage of undocumented behavior within the framework, and this behavior is subject to change.

If applications need an immediate workaround, I'd suggest `ReadOnlySpan<char> span = new string(charPtr).AsSpan();`. Yes, it allocates, but it's 100% guaranteed to work and uses only supported, documented APIs. Or write the _

[2020-07-31 17:11] maryamariyan commented on #37421
cc: @davidfowl

[2020-07-31 17:11] GrabYourPitchforks commented on #40202
I should probably add a comment in the source clarifying this.

[2020-07-31 17:14] ericstj commented on #40010
I believe this is effectively a duplicate of https://github.com/dotnet/runtime/issues/630 or at least should be solved by that.  @mconnew

[2020-07-31 17:16] ericstj commented on #1390
@gavnlh  you have a different error.  `SGEN1: Cannot load a reference assembly for execution.`

I believe that's also been reported here: https://github.com/dotnet/runtime/issues/40010

[2020-07-31 17:16] Gnbrkm41 commented on #39886
Honestly I'm not sure how it's breaking it - but, for reference, I am able to build the repo just fine with 19041 SDK. It's the [Windows Insider Preview SDK](https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewSDK) that seems to be causing problem. I'd like to pinpoint this issue down to something more specific but I don't have enough experience with C/C++ nor the build system/s

[2020-07-31 17:17] fbrosseau commented on #40202
This is why I am making this public API proposal :).

And I agree with any name suggestion, CreateSpan sounds great, I knew my name suggestion was not good.

[2020-07-31 17:29] mconnew commented on #40010
Different problem but possibly solved by the same fix. I'm not sure what the behavior is with the metadata reflection implementation when asked to load a reference assembly. If it still throws, then that won't solve this issue.

[2020-07-31 17:31] ericstj commented on #40010
It does not throw.   It would fix this issue.

[2020-07-31 17:43] sdmaclea commented on #40149
It is not clear who is taking on this task.  If no one else is working on this, I'd be happy to fix the compile issues and the assembly issues.

[2020-07-31 17:43] lewing commented on #38124
The current output is
`
fr-FR: fr (FR)
fr: fr
: und
`

[2020-07-31 17:45] jdstrand commented on #1634
This is the only way to make it work in the default sandbox without connecting the process-control interface. The reason why is that this syscall is currently mediated via Linux's seccomp syscall filter and by the time it hits the filter, the first argument is filled in and all context for pid_t is gone (ie, we can only look at the value of pid_t and say 'yes' or 'no'-- there is no other context o

[2020-07-31 17:45] terrajobst commented on #37421
* Looks good as proposed
* We considered exposing a setting on `System.Console` instead but we want a setting that can be configured via the configuration system of `Microsoft.Extensions`.

[code]

[2020-07-31 17:46] pranavkm commented on #38124
I think that's fine. The runtime resolves culture specific resources correctly which is pretty much all we care about. Closing.

[2020-07-31 17:46] #38124 closed

[2020-07-31 17:47] jdstrand commented on #1634
If this is possible, that would be great. @GRustamyan-ST mentioned classic confinement, but there are restrictions on classic confinement snap distribution in the public snap store (more than auto-connecting the process-control interface for example).

[2020-07-31 17:56] kouvel commented on #1634
I see, thanks for the context

Could you elaborate on that? Might be useful to include a bit more info about the issues involved with the workarounds. Feel free to add notes on issues with workarounds to https://github.com/dotnet/coreclr/pull/28071.

[2020-07-31 18:03] lewing opened #40214 "[wasm] Full GC ends up in loop in get_next_size"
### Description

Blazor benchmarks seem to be triggering an infinite loop in  mono\metadata\mempool.c:

[code]
The problem is that for some reason, the value of ‘target’ has become zero.  Disabling the full gc seems to avoid the issue.

cc @pranavkm @paolosevMSFT

[2020-07-31 18:16] janvorli commented on #40149
@sdmaclea I was planning to do the necessary changes in PAL, but if you have spare cycles, I'd be happy to share the work with you.

[2020-07-31 18:20] sywhang commented on #1099
Closing as discussed in #39800

[2020-07-31 18:20] #1099 closed

[2020-07-31 18:22] gregg-miskelly commented on #40182
Aaron, in case you aren't aware --
* Dump CCW: In 16.7, if you are interop debugging (which maybe you don't want to be, so this doesn't help), the VS debugger will now decode CCWs and show you the managed object on the other side.
* Dump Obj: You can use the `@0x12345678` (where 12345678 should be replaced with the address of the object) syntax to view the managed object at a particular address. I

[2020-07-31 18:24] layomia commented on #35611
Yeah we can just use custom dictionaries in those tests. This would be a good approach if you're still interested in fixing this.

[2020-07-31 18:26] pgovind opened #40215 "CoreRun and hostpolicy are not in bin/testhost"
I think this is related to recent changes in the infrastructure to make testhost more closely aligned to the shipping product.

1. Running the performance benchmarks needs CoreRun to be in the `testhost` (though this can be fixed in the perf repo I'm guessing) folder.

2. Sometimes I also run into `A fatal error was encountered. The library 'hostpolicy.dll' required to execute the application was

[2020-07-31 18:32] fuglede commented on #23198
FWIW, I did not have cryptography in mind when given the example of bias above, and indeed bias is an issue for PRNGs beyond cryptography. In fact, some of the alternatives considered by @colgreen are also predictable (hence not cryptographically secure), yet preferable as they exhibit no apparent bias (and are fast).

Take a couple of examples:

* You're using PRNGs to determine the electrical co

[2020-07-31 18:35] AaronRobinsonMSFT commented on #40182
@gregg-miskelly Those two features a really nice. I was aware of the Dump CCW feature, the Dump Obj is also nice. Unfortunately, I may not be able to interop debugging (mixed mode) since we do have scenarios where .NET Framework is also loaded. I accept these scenarios are more niche so perhaps the above would work in most cases.

That is an unfortunate history - thanks for the clarity. I hope we

[2020-07-31 18:36] mpolicki commented on #40170
@danmosemsft The test also fails in .NET Core 3.1, 3.0, 2.2.

[2020-07-31 18:42] AndyAyersMS commented on #38848
No luck reproing (100's of local runs), no recent repro in CI, and test is running in CI. So am going to close this.

[2020-07-31 18:42] #38848 closed

[2020-07-31 18:43] danmosemsft commented on #40170
OK thanks. I'll let @cston respond, but bear in mind the bar for fixes in this repo is high, if they aren't regressions:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Linq.Expressions/README.md

[2020-07-31 18:43] mdh1418 commented on #38124
Now building the wasm sample results in

Output:
[code]

[2020-07-31 18:43] AndyAyersMS commented on #40195
Marking as 5.0.

[2020-07-31 18:54] jkotas commented on #40202
I have updated the proposal with the shorter name

[2020-07-31 18:56] danmosemsft commented on #39981
@safern seems like we're getting an issue every week where folks spot differences caused by the ICU change. I wonder whether it's worth including several of these as examples into https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu (if not now then later)

[2020-07-31 19:00] danmosemsft commented on #23198
Perhaps we could use a better PRNG for the new `ulong` API (https://github.com/dotnet/runtime/issues/26741) specifically?

[2020-07-31 19:03] maryamariyan commented on #37421
@terrajobst UPDATE request:
I think we want to set the namespace for LoggerColorBehavior to Microsoft.Extensions.Logging.Abstractions rather than it being in Logging.Console?

[code]

[2020-07-31 19:04] fbrosseau commented on #40202
Thanks

[2020-07-31 19:05] danmosemsft commented on #26741
Building on @colgreen comments, perhaps we could use this as an opportunity to offer a better PRNG just for the 64-bit API. It would probably be odd to have to generators in the same type, but perhaps it could be a derived class ie
[code]
We could use the opportunity to override Next, NextBytes, etc and implement them with the same improved PRNG.

[2020-07-31 19:06] AntonLapounov commented on #34412
I have found that other symbol packages (e.g., `Microsoft.NETCore.App.Runtime.win-x64.5.0.0-dev.symbols.nupkg`) also contain two copies of `System.Private.CoreLib.ni.pdb`; however, we put them into two different directories (thus no error):
* artifacts\bin\coreclr\Windows_NT.x64.Release\PDB\System.Private.CoreLib.ni.pdb
TargetPath = runtimes/win-x64/native
* artifacts\bin\win-x64.Release\symbols\n

[2020-07-31 19:09] danmosemsft commented on #40215
#1 breaks the documented workflow in the perf repo, as per linked issue.

[2020-07-31 19:18] layomia commented on #38939
@jamalabo1, can you share a small project that highlights the issue? This would include the implementation of the custom converter.

[2020-07-31 19:31] sandreenko commented on #40149
My impression was that we need changes in `libunwind` to fix `pal` because it is where `fpsimd_context` is declared on other platforms. Do we want to fix `libunwind` in our repo first and then propagate changes to https://github.com/libunwind/libunwind  or should we fix it in the master repo first? By the way, why do we have these sources checked in in our repo?

[2020-07-31 19:39] ViktorHofer commented on #40208
@ericstj the link isn't resolving for me correctly. Where do you see a live build asset not be preferred over a packagereference?

[2020-07-31 19:41] vargaz commented on #39311
I can't repro this with master.

[2020-07-31 19:41] Hulkstance opened #40217 "HttpClient with different configurations and the TIME_WAIT problem"
I have a .NET Core 3.1 application which performs multiple requests with different proxy configurations known at runtime. Let's say the proxies are around 10000.

I would need multiple instances of HttpClient for each proxy and each proxy is basically an additional socket. I can definitely take an advantage of HttpClient's pooling because I'm able to use one proxy for like 5 requests, before it ge

[2020-07-31 19:43] vargaz commented on #39187
These now fail with:
System.PlatformNotSupportedException : No native to managed transitions on this platform.
They cannot be supported without the pinvoke generator.

[2020-07-31 19:45] davmason commented on #36195
@AndyAyersMS is this failure what you expected to see when the ELT tests were checked in? [runtime-coreclr jitstress 20200729.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=750921&view=ms.vss-test-web.build-test-results-tab&runId=23285924&resultId=100588&paneView=debug)

[2020-07-31 19:55] terrajobst commented on #40111
* No final decision made, we'll re-review next week.
* Primary feedback was the string-based one is a performance trap because it requires parsing. We should offer methods that separate platform from version.
* It was concluded that `EarlierThan` isn't necessary as it's logically equivalent to say `if (Environment.IsWindows() && !Environment.IsWindowsVersionAtLeast(10, 0, 19222))`.
* We preferred

[2020-07-31 19:56] colgreen commented on #23198
I think @fuglede makes good points. These deficiencies are perhaps minor and insignificant in some use cases, perhaps most, but there will be scenarios - such as in scientific or machine learning tools - where these biases could introduce a certain type of subtle error that leads to bad effects overall.

On that basis, at the very least the documentation should be calling these problems out at a h

[2020-07-31 19:57] DougSchmidt-AI commented on #39352
I commented out the `<BlazorWebAssemblyI18NAssemblies>west</BlazorWebAssemblyI18NAssemblies>` project setting, to disable the localization assemblies, but the problem persists.

[code]

What is the magic version of Blazor where this might work? I tried manually updating the 4 references to `Version="3.2.0"` as suggested in the [May 19th release announcment](https://devblogs.microsoft.com/aspnet/bl

[2020-07-31 19:58] SamMonoRT commented on #40042
@MaximLipnin - does this still happen on a recent build ?

[2020-07-31 20:02] colgreen commented on #23198
Please see these classes I wrote to address all of the known issues:

   https://github.com/colgreen/Redzen/tree/master/Redzen/Random

Specifically,

    https://github.com/colgreen/Redzen/blob/master/Redzen/Random/Xoshiro256StarStarRandom.cs

And the base class where the general purpose routines live for converting random bits into the various Int32, Int64, doubles and so forth:

    https://gith

[2020-07-31 20:11] jdstrand commented on #1634
By default snaps are strictly confined and run under a default security policy template which is a collection of rules for file accesses, syscalls, IPC, etc. Additional accesses are provided to snaps through snap 'interfaces' which are collections of different rules for file accesses, syscalls, IPC, etc. Depending on the rules in the interface, it may either be manually connected by the user or au

[2020-07-31 20:15] DougSchmidt-AI commented on #39352
Ah, looks like my original project template was based on an older prerelease version of Blazor, and there have been some breaking changes. I will need to work through those before trying this on 3.2.0 (or greater)

[2020-07-31 20:17] #40001 closed

[2020-07-31 20:29] terrajobst commented on #23198
I'm OK with not fixing this issue in `Random`, based on @GrabYourPitchforks's [comment above](https://github.com/dotnet/runtime/issues/23198#issuecomment-666783914).

But should conclude that `Random` is insufficient for modern .NET workloads in machine learning, I'd like us to consider fixing `Random` over introducing a new type. I don't doubt that some code will break, but the vast majority of c

[2020-07-31 20:34] janvorli commented on #40149
There should be no changes needed in libunwind. The fpsimd_context is not defined in the libunwind, but in sigcontext.h on Linux. And there is no fpsimd_context for OSX. The x64 build for OSX doesn't hit the code that returns fpsimd_context. So it seems the build failure is caused by incorrectly getting to the non-OSX code due to some incorrect ifdefs.
Some of the other failures are not in the lib

[2020-07-31 20:47] layomia commented on #38435
Can you please provide a small project that highlights the issue, or some more information about what type specifically you are serializing and what the input to the serializer looks like?

[2020-07-31 20:50] layomia commented on #35611
Moving to future as we have ample coverage for the relevant scenario, which is reference handling for POCOs.

[2020-07-31 20:53] buyaa-n commented on #31232
Hello @FeodorFitsner, is your issue solved by any chance? If not, would you mind leave a memory dump with some GFlags option set as mentioned in the VS developer community [issue ](https://developercommunity.visualstudio.com/content/problem/803951/systemdiagnosticsperformancecounter-leaks-memory.html)

[2020-07-31 20:59] halter73 opened #40218 "Empty objects loaded via ConfigurationBuilder.AddJsonFile() are ignored"
### Description

Empty objects loaded via ConfigurationBuilder.AddJsonFile() are ignored.

---

#### Repro

##### config.json
[code]

##### Program.cs

[code]

##### EmptyConfigSection.csproj
[code]
---

#### Expected output

[code]

#### Actual output

[code]

"h", "i" and "k" are not present in the actual output even though they should be.

The top-level call to IConfiguration.GetChildren() in P

[2020-07-31 21:00] davidfowl commented on #40218
@HaoK do you remember if this was intentional?

[2020-07-31 21:02] WizardBrony commented on #39963
@davidwrighton

Thank you so much for the explanation. I think I'm starting to understand, but I have a couple more questions. You said that the implementation table is ordered in the same order as the metadata. Does the metadata include all 3 different implementation table member types (newslot virtual, introduced non-virtual, and overriding virtual) or just one value representing the number of v

[2020-07-31 21:10] layomia commented on #31285
This is a duplicate of https://github.com/dotnet/runtime/issues/1559. The issue here is that the element type [StringValues](https://docs.microsoft.com/dotnet/api/microsoft.extensions.primitives.stringvalues?view=dotnet-plat-ext-3.1) is currently not supported for deserialization as it doesn't have a public parameterless ctor. The serializer would need to implement a new convention where we check

[2020-07-31 21:10] #31285 closed

[2020-07-31 21:10] layomia commented on #1559
The issue here is that the element type StringValues is currently not supported for deserialization as it doesn't have a public parameterless ctor. The serializer would need to implement a new convention where we check for ctors that take a T array (T[]).

Moving to future as a custom converter can be written to handle this.

[2020-07-31 21:12] sdmaclea commented on #40149
@janvorli I am just getting back from vacation, but I am looking for ways to help the osx-arm64 effort.  If there is a convenient split, I'd be happy to help.

[2020-07-31 21:12] HaoK commented on #40218
I don't think this is intentional, I'd imagine this is going to depend on the behavior of the json parser code: https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Configuration.Json/src/JsonConfigurationFileParser.cs

One thing to try @halter73 , compare against the old Newtonsoft provider:

https://github.com/dotnet/extensions/blob/master/src/Configuration/Config.New

[2020-07-31 21:14] HaoK commented on #40218
Looking at the code: https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Configuration.Json/src/JsonConfigurationFileParser.cs#L47

Doesn't look like empty objects are handled, so might just be a bug?

[2020-07-31 21:16] HaoK commented on #40218
Basically maybe there needs to be a special case in there that inserts an empty child section, right now looks like empty objects are just dropped with no entry into config (maybe the old json provider did the same thing though...) as the code is similar: https://github.com/dotnet/extensions/blob/master/src/Configuration/Config.NewtonsoftJson/src/NewtonsoftJsonConfigurationFileParser.cs#L41

[2020-07-31 21:18] HaoK commented on #40218
I could see how maybe this is intentional, as the only real functional difference between omitting empty sections would be for code that is looking at the hierarchy of config, as you would never get anything out of empty sections...

[2020-07-31 21:20] HaoK commented on #40218
I wasn't involved in the initial designs of config, so the actual design/intent for this code was before my time

[2020-07-31 21:24] JamesNK opened #40219 "Improve error message when attempting prior-knowledge H2C and server returns a HTTP/1.1 response"
Copied from PR - https://github.com/dotnet/runtime/pull/39201

Related to this issue - https://github.com/dotnet/runtime/issues/31132

It would be great if we could improve the error message in this situation. "if the server doesn't support H2" is one situation this error will occur. There is another common, and more confusing reason to get it:

You will see this error if a port on the server has

[2020-07-31 21:26] davidwrighton commented on #39963
Yes, the metadata includes all methods. See ECMA 335 Partition II for a description of the format.

For the lookup case, there are 3 types involved.

Type Object which has 4 Virtual slots (0-3)
Type A which has 6 Virtual slots (0-5)
Type B which has 7 Virtual slots (0-6)

When looking virtual function 5 by dispatch map in type B, the following steps will occur.

1. Look at the dispatch map for B.

[2020-07-31 21:28] davidwrighton commented on #40178
This was fixed with prs #40168 and #40161

[2020-07-31 21:28] #40178 closed

[2020-07-31 21:31] danmosemsft commented on #40182
Are all the functions of `dumpheap` including `-stat` and `-strings` etc possible in VS now? That was one of the reasons I most often dropped to SOS when I was doing that kind of work.

[2020-07-31 21:31] halter73 commented on #40218
And that's exactly why I noticed this now. See https://github.com/dotnet/aspnetcore/pull/24286.

[2020-07-31 21:35] HaoK commented on #40218
Yeah, seems reasonable to fix the behavior so the config hierarchy gets empty sections so you don't have to do wacky stuff like add random junk to your sections for them to exist

[2020-07-31 21:36] sandreenko commented on #13041
I am planning to fix this issue by exclusing the epilog block from the live range, like:
[code]
however, we don't have correct epilog (or epilogs) size right now and I am working on a change to calculate that.

@jkotas I think it would be a sufficient fix. We have our last use of GS before we jump to an epilog so can shorter its lifetime.  Am I right or do we need to know a precise live range of t

[2020-07-31 21:37] danmosemsft commented on #13486
Marking as future.

[2020-07-31 21:37] danmosemsft commented on #24200
This is not necessary to ship 5.0. Moving milestone.

[2020-07-31 21:38] danmosemsft commented on #18255
Not required to ship 5.0 product. Setting milestone.

[2020-07-31 21:38] danmosemsft commented on #18844
I'm going to resolve based on comment above.

[2020-07-31 21:38] #18844 closed

[2020-07-31 21:38] danmosemsft commented on #18844
I'm going to resolve based on comment above.

[2020-07-31 21:39] danmosemsft commented on #29400
Setting milestone to indicate this is not a required part of the 5.0 product.

[2020-07-31 21:43] lewing commented on #39352
I'm going to close this, if you can reproduce it in 3.2 please open an issue in mono/mono and reference this one.

[2020-07-31 21:43] #39352 closed

[2020-07-31 21:50] jkotas commented on #13041
I think it is ok to stop reporting the GS cookie after the check that validated it did not get corrupted. I assume that it is what you meant by the last use.

[2020-07-31 21:54] sandreenko commented on #13041
Yes, thanks.

[2020-07-31 21:58] jkotas commented on #40111
Environment has been a grab-bag for everything. It has ~40 methods for everything from current directory to current thread id and current time. The enriched counterparts of the one-off Environment methods has been separate types. For example, we have `Environment.TickCount` and the enriched equivalent is `Stopwatch`. I think this should follow this same pattern and be on some other type. I know th

[2020-07-31 22:01] GrabYourPitchforks commented on #23868
@SamuelEnglard @sandorfr I understand the arguments here, but "it's not used for cryptographic purposes" is not a valid argument for granting an exception. "Broken" algorithms like SHA1 are __forbidden for all purposes__ across Microsoft code bases unless it's needed for legacy compat reasons or to support some core scenario for the product. (That last category is generally for allowing things lik

[2020-07-31 22:05] AaronRobinsonMSFT commented on #38950
@jozefizso What a mess. The reason the first path works, but the second doesn't has to do with some optimizations in the underlying COM system. COM is making an extra `QueryInterface` call during activation on the "slow" path. The first path is slow and a `QueryInterface` for the specific interface is performed - in this case `IDTExtensibility2`. However, on the "fast" path the COM system, correct

[2020-07-31 22:17] jozefizso commented on #38950
In the old days, when using COM Shim Wizard, there was this `ManagedAggregator` class which had to bind the inner and outer objects for .NET and Shim C++ library to work.

https://github.com/jozefizso/COMShimWizard/blob/master/VCWizards/AddinShim/ManagedAggregator/ManagedAggregator.cs#L45-L55

Is this issue related to that mechanics? Does the .NET Core provide this managed aggregator implementatio

[2020-07-31 22:24] #38847 closed

[2020-07-31 22:30] josalem commented on #39979
A couple updates on this investigation:

* the frequency of this is rather low in CI, but I can reliably get it to reproduce locally without any stress configuration if I run the test in a loop for a long enough amount of time (usually <1 hour) on my late-2017 macbook pro
* This only appears to happen on macOS.  Similar stress runs on Linux don't result in the same behavior.
* It is not being caus

[2020-07-31 22:33] #36028 closed

[2020-07-31 22:41] HaloFour commented on #40118
Also see: https://github.com/dotnet/csharplang/issues/3376#issuecomment-617925716

@jaredpar

[2020-07-31 23:03] ericstj commented on #40208
System.Text.Json -> It's getting a System.Runtime.CompilerServices.Unsafe reference transitively from packages rather than a project reference.  I was looking at the net4* configuration.

[2020-07-31 23:08] GrabYourPitchforks commented on #23198
We can't have it both ways. Either `Random` utilizes a stable algorithm under the covers (as has always been the case in .NET Framework, and has historically been the reason we've not made changes in .NET Core, and has also been the motivating factor for issues like https://github.com/dotnet/runtime/issues/27429 and https://github.com/dotnet/runtime/issues/18996#issuecomment-254793555 and https://

[2020-07-31 23:08] lewing commented on #40112
This failure seems to go away if you pass `--disable-on-demand-gc` so it is likely related to the on-demand GC, either a bug there or ref counting/pinning issues in the bindings.

[2020-07-31 23:11] GrabYourPitchforks commented on #23198
FWIW even though MSDN says the algorithm may change from version to version, I don't think this is something we have ever seriously pursued before. That would somewhat defeat the purpose of using seeds in the first place, as it means you're not even guaranteed to be able to replicate results between different invocations of the same process.

[2020-07-31 23:14] apayero commented on #40080
this is all erro detail:
[image: image.png]
best regards!

On Wed, Jul 29, 2020 at 11:18 PM Levi Broderick <notifications@github.com>
wrote:

--

Alberto T. Payero Mota, Administrador de Proyectos |E-mail:
atpayero@gmail.com | Cel. 809.604.2753

"El que sacrifica alabanza me honrará; Y al que ordenare su camino, Le
mostraré la salvación de Dios."

[2020-07-31 23:15] apayero commented on #40080
Levi, this is all error detail:
[image: image.png]

On Fri, Jul 31, 2020 at 7:13 PM Alberto T. Payero Mota <atpayero@gmail.com>
wrote:

--

Alberto T. Payero Mota, Administrador de Proyectos |E-mail:
atpayero@gmail.com | Cel. 809.604.2753

"El que sacrifica alabanza me honrará; Y al que ordenare su camino, Le
mostraré la salvación de Dios."

[2020-07-31 23:31] WizardBrony commented on #39963
@davidwrighton Got it. It all makes sense now. Thank you again!

[2020-07-31 23:47] AaronRobinsonMSFT commented on #38950
@jozefizso Not in this case. There is no aggregation issue with this specific issue, not saying that also doesn't exist but I don't see that solving this problem. We do handle aggregation internally albeit minimally compared to .NET Framework. In .NET Framework the effort made to support the infinite boundary of aggregation is done. In .NET Core we limited that boundary to a somewhat reasonable le

[2020-07-31 23:48] #35884 closed

[2020-07-31 23:48] #39682 closed

[2020-07-31 23:48] #39931 closed

[2020-07-31 23:56] danmosemsft commented on #32316
@buyaa-n -- I cannot find any test disabled for this issue, nor a test by this name, nor indeed any compression test disabled for Mono.

[2020-07-31 23:56] #32316 closed

[2020-08-01 00:00] josalem commented on #39979
Stress run is going on 2+ hours now without an issue.  I'll prepare the PR and submit it as a fix to the issue.

[2020-08-01 00:02] buyaa-n commented on #32316
Yes, we are not using AppContext switch anymore and the test has removed,

[2020-08-01 00:06] danmosemsft commented on #40196
@lisberPontes thanks for the issue. Please can you reopen it in https://github.com/dotnet/roslyn-analyzers.

[2020-08-01 00:06] #40196 closed

[2020-08-01 00:20] sbomer opened #40224 "Bundler exception on filenames with curly braces"
When given a filename with curly braces, the bundler throws an exception due to the format string at https://github.com/dotnet/runtime/blob/d40d32bfec9a7f7b4c0bd9a34566ee40219b7d39/src/installer/managed/Microsoft.NET.HostModel/Bundle/FileSpec.cs#L36

[code]

This shows up when publishing a single-file R2R app with `PublishReadyToRunEmitSymbols` and `IncludeSymbolsInSingleFile` on linux, because th

[2020-08-01 00:37] danmosemsft commented on #39114
@jkotas provided the hint that this and the linked regression both depend on Interop.GetRandomBytes. That implementation was changed in this commit at the point the regression occurred.

https://github.com/dotnet/runtime/pull/37408
https://github.com/dotnet/runtime/commit/034ca31f91762f744b7ce20d7cc5d041f59649c6

@vargaz can you see what might cause this? You essentially just moved code around. Fo

[2020-08-01 00:39] danmosemsft commented on #39027
This one seems pretty marginal to me. Depending on which point I pick in both lines, they can be quite close or overlap. @DrewScoggins is there a way for me to generate a fuller (newer) report?

[2020-08-01 00:40] danmosemsft commented on #37426
The link above is now dead. @DrewScoggins do they expire?

[2020-08-01 00:45] erozenfeld commented on #40195
This assert also fires when running pmi on FSharp.Core.dll:

[code]

[2020-08-01 00:45] noahfalk commented on #40182
@AaronRobinsonMSFT - thanks for all the info : ) As we keep looking into this I'll definitely refer back to it as a reference. (Also I totally relate to dual using windbg and VS just so I can get SOS command outputs)

@danmosemsft - I think all of the basic functionality of enumerating and counting objects by type is present in Visual Studio's memory diagnostics, but probably not the string specif

[2020-08-01 00:50] danmosemsft commented on #39112
This test primarily stresses Array.Copy.
https://github.com/dotnet/runtime/blob/d40d32bfec9a7f7b4c0bd9a34566ee40219b7d39/src/libraries/System.Collections/src/System/Collections/Generic/SortedList.cs#L670-L671

The regression apparently occurred between Oct 29 and Nov 4th . On Nov 2nd, we rewrote Array.Copy in C# (https://github.com/dotnet/coreclr/pull/27634)

There was actually a followup PR to re

[2020-08-01 00:52] danmosemsft commented on #39033
Also stresses Array.Copy by doing inserts.

Duplicate of https://github.com/dotnet/runtime/issues/39112

[2020-08-01 00:52] danmosemsft commented on #39033
Duplicate of #39112

[2020-08-01 00:52] #39033 closed

[2020-08-01 00:52] danmosemsft commented on #39033
It seems your comment must literally and entirely be "Duplicate of #nnn" for Github to recognize it...

[2020-08-01 00:53] danmosemsft commented on #39107
Duplicate of #39112

[2020-08-01 00:53] #39107 closed

[2020-08-01 00:53] danmosemsft commented on #39037
Duplicate of #39112

[2020-08-01 00:53] #39037 closed

[2020-08-01 00:54] danmosemsft commented on #39026
Duplicate of #39112

[2020-08-01 00:54] #39026 closed

[2020-08-01 00:54] danmosemsft commented on #37801
Duplicate of #39112

[2020-08-01 00:54] #37801 closed

[2020-08-01 00:55] danmosemsft commented on #39112
Duped a bunch of tests that all stress Array.Copy and regressed at the same time.

Per comments from @stephentoub in some of these, it may be bimodal, or configuration dependent.

[2020-08-01 01:02] danmosemsft commented on #39108
The regression is apparently at the same time as https://github.com/dotnet/runtime/issues/39112 and its friends, but as far as I can tell this scenario does not involve Array.Copy. There is one copy of the backing array (there should be only one since it's a single threaded benchmark) to set up the enumerator, but that is done by hand, then enumeration is indexing into it.

It is odd though that c

[2020-08-01 01:08] danmosemsft commented on #39028
As dictionary perf tests go, this is a simple case as there's no hashing involved.

Note the perf test is choosing `Dictionary<int, int>` so it goes down the value type path.
Previously that was
[code]
now
[code]
Basically the same. This may be one of those subtle code quality things.

[2020-08-01 01:08] danmosemsft commented on #13782
@DrewScoggins is there still action to be taken here? Should this be closed or moved out of 5.0?

[2020-08-01 01:10] DrewScoggins commented on #13782
This feels like it should be closed.

[2020-08-01 01:20] #13782 closed

[2020-08-01 01:26] DrewScoggins commented on #39027
Looking at this one here, https://pvscmdupload.blob.core.windows.net/reports/07_29_2020/report_Daily_ca%3Dx64_cb%3Dmaster_co%3DWindows1018362_cr%3Ddotnetcoresdk_cc%3DCompliationMode%3Dtiered-RunKind%3Dmicro_Baseline_bb%3Drelease-3.1.1xx_2020-07-29.html, I don't see it showing as regression. This is not too surprising to me as this one was also pretty close when we filed it. It was done more out of

[2020-08-01 01:34] danmosemsft commented on #39027
Thanks @DrewScoggins . How can I find updated reports like that in future by myself?

[2020-08-01 01:34] #39027 closed

[2020-08-01 03:00] #35851 closed

[2020-08-01 03:09] lewing commented on #39187
@vargaz this sounds like net6?

[2020-08-01 03:18] vargaz commented on #39114
I can't reproduce either. It is possible that sMissingDevURandom is not set because errno is not ENOENT, but the old code had the same behavior afaik.

[2020-08-01 03:22] vargaz commented on #39187
Probably.

[2020-08-01 03:59] lewing commented on #40112
cc @vargaz

[2020-08-01 04:12] jkotas commented on #39114
The first build with the regression in the history is 20200710.1 that corresponds to runtime commit d0889f1159 . This commit does not include change #37408.

Given that nobody is able to reproduce this, I think the most likely change is environmental change on the perf test machines. @DrewScoggins Are you able to reproduce the regression when you re-run the benchmark against on 3.1 and 5.0 on the

[2020-08-01 04:29] jkotas commented on #39114
My guess is that this regression was caused by Intel June 2020 Microcode Update being applied on the perf test machines.

This update fixed CVE-2020-0543 security vulnerability. The details can be found at https://access.redhat.com/solutions/5142691 . It is documented to have impact on RDRAND instruction that is likely used to implement the random device in the kernel.

[2020-08-01 04:34] wfurt commented on #35365
can you get packet captures for both cases @Anhbta or setup public repro?
Note that the UseSocketsHttpHandler hack is going away in 5.0

[2020-08-01 04:40] danmosemsft commented on #39114
I don't know what CPU the perf boxes have  - I guess you happen to know that they are affected by this patch?

Repeating the 3.1 measurement should style this quickly, as you suggest.

[2020-08-01 04:44] jkotas commented on #39112
Memory copying has very complex perf characteristics. Any change will make some cases faster in some situations and some other cases slower in other situations.

I do not think there is much we can do here.

[2020-08-01 07:42] #39227 closed

[2020-08-01 07:42] #1390 closed

[2020-08-01 09:48] am11 commented on #40202
`Marshal.PtrToStringUni` also works with non- zero-terminated strings, should `CreateSpan` also follow the pattern?
(tried on linux x64 with net5 preview8: https://gist.github.com/am11/f21778e56a9984ae37b97d4257fd63ec)

[2020-08-01 09:59] peteroupc commented on #23198
I observe that even though `System.Random`doesn't allow retrieving the seed it uses _directly_, its state could be retrieved _indirectly_ through serialization, since `System.Random` has the SerializableAttribute.  If it weren't for SerializableAttribute, then a `System.Random` instance created through its no-argument constructor could theoretically use a different PRNG algorithm than the one it u

[2020-08-01 10:45] apayero opened #40232 "@apayero Please include the text and stack trace of the exception you're seeing. We need this information in order to assist you further. Thank you!"
please ignore this Issue was a mistake.

[2020-08-01 10:46] apayero commented on #40080
@apayero Please include the text and stack trace of the exception you're seeing. We need this information in order to assist you further. Thank you!

Originally posted by @GrabYourPitchforks in #40080 (comment)

Hi, the stackTrace only say "string {get; ].
that is all.

and _message: The type initializer for 'Crypto' threw an exception.'

best regards.

[2020-08-01 10:47] #40232 closed

[2020-08-01 10:49] apayero commented on #40080
Hi, the stackTrace only say "string {get; ].
that is all.

and _message: The type initializer for 'Crypto' threw an exception.'

best regards.

[2020-08-01 10:57] svick commented on #40202
@am11 [C string literals (including UTF-16 literals) are automatically null-terminated:](https://en.cppreference.com/w/c/language/string_literal)

So, effectively, the second string is `'f', 'o', 'o', '2', '\0'` and the first string is `'f', 'o', 'o', '1', '\0', '\0'`.

[2020-08-01 12:03] benaadams commented on #29681
Should also delete the upstream one in ASP.NET when its exposed (and propagates) https://github.com/dotnet/aspnetcore/blob/723e32a47dd0101b6c169ac4b7fbf61a25e83b32/src/Servers/Kestrel/Core/src/Internal/Infrastructure/StackTraceHiddenAttribute.cs#L12

[2020-08-01 12:15] stephentoub commented on #29681
Does the one in ASP.NET do anything? The stack trace code is searching for the attribute based on type rather than name, using the type from corelib, right?

[2020-08-01 12:21] apayero commented on #40080
@javiercn exactly I invoke the method from Webassembly.

the stackTrace only say "string {get; ].
and _message: The type initializer for 'Crypto' threw an exception.'

best regards.

[2020-08-01 12:33] am11 commented on #40202
@svick, thanks for the link. I've updated my sample using raw UTF-16 bytes. `PtrToStringUni` continues to work with and without the zero-terminator.

[2020-08-01 12:36] benaadams commented on #29681
Just allows methods to be annotated with it

[2020-08-01 12:39] benaadams commented on #29681
Just allows methods to be annotated with it; which is then used in ASP.NET's stack trace cleaning https://github.com/dotnet/aspnetcore/blob/e657de4b778bcefbaeeea89883f0975cbcae3107/src/Shared/StackTrace/StackFrame/StackTraceHelper.cs#L254-L257

Which could also be changed to a type check rather than a string comparison (is string comparison to pick up both the runtime's internal type and aspnet's

[2020-08-01 12:40] aalmada opened #40233 "The inner array in ArraySegment should not be nullable"
### Description

Both the [field `_array`](https://github.com/dotnet/runtime/blob/5de3b209853637b63546460e4a67cc82c4ac75fd/src/libraries/System.Private.CoreLib/src/System/ArraySegment.cs#L36) and the [property `Array`](https://github.com/dotnet/runtime/blob/5de3b209853637b63546460e4a67cc82c4ac75fd/src/libraries/System.Private.CoreLib/src/System/ArraySegment.cs#L63) in `ArraySegment` are declared a

[2020-08-01 12:46] aalmada commented on #40233
@jeffhandley

[2020-08-01 13:03] benaadams commented on #40233
Can create it with `default` or by not initializing in a class field when it would be null?

[2020-08-01 13:18] fbrosseau commented on #40202
Your sample copies characters into an already zero-filled buffer, meaning the null characters it puts at the end make no difference, it was already null characters :)

In any case, even if it did not, it could still randomly work according to what happens to be in the memory around it.

[2020-08-01 13:24] mburbea commented on #40233
Since it's a struct it defaults to null. In those cases, the range check would prevent you from getting to it as any value would be greater than the default count of 0.

[2020-08-01 13:42] stephentoub commented on #29681
I see, thanks, so same name but used for a different (related) purpose.

[2020-08-01 14:59] #40224 closed

[2020-08-01 15:00] vcsjones commented on #40169
Hm, I'll play around with that idea. What problems / concerns arise from calling GC.SuppressFinalize repeatedly? The RNG uses that dispose pattern where `Dispose()` is non-virtual and calls `Dispose(bool disposing)` for inheritors to override, then the parameterless one suppresses finalization.

There are many other crypto classes marked as such, `SHA256Managed` and other Managed friends, etc. Oth

[2020-08-01 15:04] jkotas commented on #40233
Why do you think this reduces ArraySegment performance?

[2020-08-01 16:01] am11 commented on #40202
Ah right, updated. Filled inArray with `(byte)42` and now I can see garbage next to `foo2`. Thanks for the correction, `PtrToStringUni` does indeed look for first null character (as documented). No magic there. :)

[2020-08-01 16:11] danmosemsft commented on #23198
That might be the way forward. The parameter less ctor is the commonly used one per https://apisof.net/catalog/System.Random..ctor(Int32)

[2020-08-01 16:17] VSadov commented on #38559
I pushed a rebased branch and github did autoclose. Probably because there is a commit that claims to be resolving this.

[2020-08-01 16:50] aalmada commented on #40233
Ok, I missed the default struct constructor issue. It's true is can be `null`. 😔

I mentioned performance because of all the required validations. In the struct implementation and when using it. There's no other solution so please forget about it.

IMHO the two missing validations should still be fixed.

[2020-08-01 16:53] aalmada commented on #40233
Sorry, `index > count`...

[2020-08-01 16:54] #40233 closed

[2020-08-01 20:22] colgreen commented on #23198
How about:

    cstr() - legacy PRNG
    cstr(int seed) - legacy PRNG
    cstr(RandomAlgorithm prng) - A specified PRNG
    cstr(RandomAlgorithm prng, int seed) - A specified PRNG, with a given seed

And:

    enum RandomAlgorithm
    {
        Legacy,  // or MersenneTwister, or LegacyMersenneTwister
        Foo,     // E.g. xoshiro256**
        Bar,
        // etc.
    }

Where on day one there m

[2020-08-01 21:24] DougSchmidt-AI commented on #39352
Yup. Confirmed that the bug is gone once I updated to 3.2. Thanks for the help along the ride.

[2020-08-01 21:58] GrabYourPitchforks commented on #40169
Possibly. We could try making the changes to all callers within the dotnet/* repos before marking things as obsolete, just to see how much churn it might cause.

[2020-08-01 22:07] alefranz commented on #40218
If this is up from grabs, I could try to look into it.

What is the expected behaviour?
Should it only add an empty child section when it is not already there?
If it already exists, it will not be clearing out the section from all the properties, right?

[2020-08-01 22:24] GrabYourPitchforks commented on #40233
The validations are correct. If the struct is initialized with `default`, then the fields will be:

*_array* = null
*_offset* = 0
*_count* = 0

The only way for the `if ((uint)index >= (uint)_count)` check to pass at all would be for the struct to have been created from a non-empty array, at which point we can assume that ctor validation succeeded and the *_array* backing field is non-null.

(I'm

[2020-08-01 22:34] tommcdon commented on #40093
@davmason can you take a look, this looks like a quick fix and valuable for dev inner loop scenarios

[2020-08-01 22:50] GrabYourPitchforks commented on #40080
Is there an InnerException in the exception you're seeing? What kind of project is this - console, WinForms, webassembly, something else? Do you have a standalone repro app we can run?

[2020-08-01 23:48] vcsjones commented on #40080
This looks like #40076 then.

[2020-08-02 01:28] lewing commented on #39311
me either, opened #40235

[2020-08-02 02:18] SamuelEnglard commented on #23868
I can't say I agree but at the same time I'm not the person who implemented these rules.

Getting approval to include a dependency for exactly one type isn't always easy. If it comes as part of .NET though, no arguing needed.

[2020-08-02 02:58] GrabYourPitchforks commented on #40080
Duplicate of https://github.com/dotnet/runtime/issues/40076.

[2020-08-02 02:58] #40080 closed

[2020-08-02 04:45] jander-msft commented on #39792
The specified syntax implies that when specified on the runtime that the address for the listen mode must be specified, which means that the server endpoint is configurable. As it is today, it is not configurable and is only found at \\.\pipe\dotnet-diagnostic-{pid} or /tmp/dotnet-diagnostics-{pid}-{diambiguator}.

When specified on the runtime, shouldn't 'listen' be the default? Or is it that if

[2020-08-02 05:33] davidfowl opened #40236 "The options subsystem needs linker attributes to preserve constructors on options types"
### Description

Looking into what it means to takes to make ASP.NET Core more linkable once we get this (https://github.com/dotnet/runtime/pull/40227) and (https://github.com/dotnet/aspnetcore/pull/24458), options is the next big hurdle to cross. The issue is the very similar to DI in that the option system creates instances but the linker doesn't understand that and removes constructors from the

[2020-08-02 06:39] davidfowl commented on #40236
Just realized this is the exact same problem as `Lazy<T>` and I checked and it has been annotated appropriately 😄 https://github.com/dotnet/runtime/blob/de1f8d847ee3ac635affa5296b163691ef8612f6/src/libraries/System.Private.CoreLib/src/System/Lazy.cs#L186

[2020-08-02 07:19] KalleOlaviNiemitalo commented on #23868
.NET Runtime already implements a SHA-1 GUID algorithm as part of EventSource, albeit with a hardcoded namespace. I guess that is justified by legacy compat. <https://github.com/dotnet/runtime/blob/53976d38b1bd6917b8fa4d1dd4f009728ece3adb/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs#L1525-L1714>

[2020-08-02 08:07] #39311 closed

[2020-08-02 09:01] hamarb123 commented on #39132
Sorry, I haven't had a chance to work on this for a while, and probably won't for a while to come either.
I'll leave my fork there for anyone else wanting to work on it.
re Dan's Q4,
as I said previously

There is one caveat: if you set the modification date to before the creation date it will change the creation date to the new modification date, which differs in behaviour to Windows. This could

[2020-08-02 09:39] marek-safar opened #40237 "Build --project setting does not respect --os or --arch settings"
Try to build an individual project using command line like

[code]

The build produces output for all System.Net.Http targets

[2020-08-02 10:34] Hulkstance commented on #35992
Will this be fixed in .NET 5?

[2020-08-02 12:35] dhhoang opened #40240 "X509Certificate2 authorityKeyIdentifier extension has different format value for Windows and Linux"
### Description
I have a use case where I need to filter multiple X509 certificates by the value of the `authorityKeyIdentifier` extension.  When I try to get extension value using the `X509Certificate2` class, the return value is different between Windows and Linux (for the same certificate file).
* Take the repro code at: https://github.com/dhhoang/x509-authKid-repro
* The `me.crt` file is a cer

[2020-08-02 12:57] apayero commented on #40080
@GrabYourPitchforks  @javiercn
thanks I wait then for the #40076, because is a WebAssembly Project.

[2020-08-02 14:16] Monokel commented on #39706
@WCLucas42 FYI, you are not the only one with this problem. We had the same problem, but we got it working again.

[2020-08-02 14:43] am11 commented on #5987
It does not repro with .NET Core since release 3.0 (https://github.com/dotnet/coreclr/commit/fceac03e8202fb07dc1bb3b4f3ec3cf0921e12de).
Should this be moved to https://github.com/microsoft/dotnet-framework-early-access/issues repository to track 4.8 progress as there is nothing to fix in this repo?

[2020-08-02 17:45] #38640 closed

[2020-08-02 18:00] #39707 closed

[2020-08-02 18:01] #39745 closed

[2020-08-02 18:01] danmosemsft commented on #39112
OK, I am going to close this. Realistically if you are doing this in a hot code path, you would want to consider using a different datastructure . Instead of SortedList/SortedList<K,V>, which is array backed, SortedDictionary<K,V>, which  would give you faster insert/remove at the cost of some memory. ([details](https://stackoverflow.com/questions/935621/whats-the-difference-between-sortedlist-and

[2020-08-02 18:01] #39112 closed

[2020-08-02 18:26] danmosemsft commented on #37814
Commit range as best I can tell. @DrewScoggins the interactive graph will not set a commit for "before" for the runtime repo -- it just says "0". So I bounded the start by the date/time of that datapoint. Is that right, or am I reading it wrong?

[code]

[2020-08-02 18:30] danmosemsft commented on #38660
We are not planning to go back and modify the implementation of Dictionary in 3.1, unless there is some egregious high impact problem. Any work here would be in 5.0 or later. As @SingleAccretion points out, the implementation was changed significantly in 5.0 as well.

@Dogwei (or @SingleAccretion ) to make progress here, I think we need measurements comparing 5.0 to Java, and with some tweaks as s

[2020-08-02 18:32] danmosemsft commented on #31451
There were essentially zero changes in runtime or libraries between 3.0 and 3.1 so I suspect a measurement problem. Next step would be to locally measure 3.0 vs 5.0 and confirm there is a problem.

[2020-08-02 18:39] danmosemsft commented on #31468
closing as above.

[2020-08-02 18:39] #31468 closed

[2020-08-02 18:54] danmosemsft commented on #13258
There have been zero failures of these tests in official builds since the new repo was created. The tests are not disabled. I guess it was fixed by fix to issue linked above.

https://engsrvprod.kusto.windows.net/engineeringdata?query=H4sIAAAAAAAEAEXOQQrCMBCF4X2hdxiy0k2DB%2bhKEHSpXiBNRjqaZCQzQSoe3rYuXP88vnfiQdrmA68RC8KFa%2fEIfQ%2fGk33WIZK3gTWj2lKzUkJb8CZ2RBfEJieKxSz7O1OGB%2bXQU85Y4IqiZ5QaVYAznHg4h

[2020-08-02 18:54] #13258 closed

[2020-08-02 18:55] Popsikill opened #40242 "No localization in Logging/LogValuesFormatter (src/Logging/Logging.Analyzers/src/LogValuesFormatter.cs)"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
When logging (via an implemented ILogger such as Console) the dat

[2020-08-02 19:13] danmosemsft commented on #37186
@wfurt could you please help me find these timeouts in Kusto? I've tried for a while. I assume I should find Result="Fail" (I don't see a "TimedOut") but I don't find any failures on 5/29. If I look at Duration, eg

``
Jobs
| join kind=inner TestResults on JobId
| where Type1 startswith "System.Collections.Concurrent.Tests"
| where Result == "Fail"
| where Duration > 50
[code]

[2020-08-02 19:14] danmosemsft commented on #37805
No helpful diff here. Need to repro locally comparing 3.1 to 5.0.

[2020-08-02 19:14] bartonjs commented on #40240
We let the OS pretty-print the extensions, and Windows and OpenSSL have decided to print them differently.

This is tracked at a higher level as #15445.  If you want to interpret the data out of the extension, don't use the string form, use the new System.Formats.Asn1 package and the AsnReader class to interpret the data.

[2020-08-02 19:14] #40240 closed

[2020-08-02 19:29] danmosemsft commented on #37805
@DrewScoggins @adamsitnik the repro command above does not work (at least on Windows, which is what this issue is for):
[code]
Changing to double quotes, and removing the semicolon, seems to be necessary, ie
[code]
Could you please correct the script you use to generate these issues? (Perhaps single quotes/semicolon is correct for Unix)

[2020-08-02 19:44] danmosemsft commented on #37805
Running tests on my machine (benchmarks_ci.py makes this super easy!):
[code]

EnumCompareTo has not regressed: it's gotten a little faster. ObjectGetType and ObjectGetTypeNoBoxing seem to have regressed a little.

I believe Object.GetType() is code owned by the VM. Moving there.

[2020-08-02 19:53] danmosemsft commented on #37426
I don't see a regression locally:
[code]

[2020-08-02 20:01] #37426 closed

[2020-08-02 20:06] danmosemsft commented on #39028
I see the exact same regression as @stephentoub.

`C:\git\performance\src\benchmarks\micro>dotnet run -c Release -f netcoreapp3.1 --runtimes netcoreapp3.1 netcoreapp5.0 --join --filter *System.Collections.Tests.Perf_Dictionary.ContainsValue*`
[code]

[2020-08-02 20:07] danmosemsft commented on #39028
Is devirtualization not happening?

[2020-08-02 20:12] danmosemsft commented on #37814
Reproduces locally. Note that ImmutableArray scenario didn't regress, presumably because nothing is actually copied 😄

BenchmarkDotNet=v0.12.1, OS=Windows 10.0.19041.421 (2004/?/20H1)
Intel Core i7-7700 CPU 3.60GHz (Kaby Lake), 1 CPU, 8 logical and 4 physical cores
.NET Core SDK=5.0.100-rc.1.20401.3
  [Host]     : .NET Core 3.1.6 (CoreCLR 4.700.20.26901, CoreFX 4.700.20.31603), X64 RyuJIT
  Job-LF

[2020-08-02 20:15] danmosemsft commented on #37806
https://github.com/dotnet/runtime/compare/38c2d5513ce8cf584ef53b9971daec2763797169...5395b14eb4b924419b3d4732582a22ac72571d9f which indeed straddles ICU change https://github.com/dotnet/runtime/commit/1db45ed953745c0e270d09df99828cb58772f4ad

[2020-08-02 20:24] danmosemsft commented on #37814
Note the Array.Copy regression was in November (https://github.com/dotnet/runtime/issues/39112)

*Memory, *Span use Buffer.Memmove
List, Array use Array.Copy which uses Buffer.BulkMoveWithWriteBarrier not Memmove (since I assume `pMT->ContainsGCPointers` is true)

@jkotas thoughts about this one, since we were discussing earlier Array.Copy change? Also, why is it OK for Span to always use Memmove?

[2020-08-02 20:25] benaadams opened #40244 "System.IO.Compression.Crc32Helper should use Crc32 intrinsics"
Rather than interoping to zlib when the Crc32 intrinsics are available on Arm and x86/x64

https://github.com/dotnet/runtime/blob/995224db011f77eb095279122244704ccca01d5f/src/libraries/System.IO.Compression/src/System/IO/Compression/Crc32Helper.ZLib.cs#L11-L26

/cc @tannergooding

[2020-08-02 20:29] danmosemsft commented on #37814
Also https://github.com/dotnet/runtime/issues/37808 is about a regression (on Ubuntu) for 1000 element `Buffer.BlockCopy` which seems to be some validation then a call to `Buffer.Memmove`.

[2020-08-02 20:31] mkArtakMSFT commented on #40245
@lewing this is debugging related, FYI.

[2020-08-02 20:39] danmosemsft commented on #40244
According to https://github.com/dotnet/runtime/issues/2036, the intrinsics use different polynomials. If I understand right, zlib uses 0x04C11DB7/0xEDB88320 and SSE uses 0x1EDC6F41. Wikipedia has a [large table](https://en.wikipedia.org/wiki/Cyclic_redundancy_check).

Is that right?

[2020-08-02 20:45] danmosemsft commented on #37807
Without env var, the huge regression for `ja` is clear - it's 1887% (20x) regressed:

[2020/08/02 13:36:30][INFO] BenchmarkDotNet=v0.12.1, OS=Windows 10.0.19041.421 (2004/?/20H1)
[2020/08/02 13:36:30][INFO] Intel Core i7-7700 CPU 3.60GHz (Kaby Lake), 1 CPU, 8 logical and 4 physical cores
[2020/08/02 13:36:30][INFO] .NET Core SDK=5.0.100-rc.1.20401.3
[2020/08/02 13:36:30][INFO]   [Host]     : .NET

[2020-08-02 20:49] benaadams commented on #40244
Sigh might be; I think you might have to use PCLMULQDQ instead

[2020-08-02 20:51] JimBobSquarePants commented on #40244
Tada! Take what you want and feed back any improvements you can make.

https://github.com/SixLabors/ImageSharp/blob/f4f689ce67ecbcc35cebddba5aacb603e6d1068a/src/ImageSharp/Formats/Png/Zlib/Crc32.cs

[2020-08-02 21:02] GrabYourPitchforks commented on #23868
Correct. You have no idea the sheer amount of paperwork we have to deal with every single release because of this and other compat-only usages. There's an increasing amount of bureaucracy every year. I think the goal is to make it so obnoxious that at a certain point we relent and say "fine, we're yanking it!" :)

[2020-08-02 21:13] GrabYourPitchforks commented on #23198
I don't think so. The arguments given in this thread (ML scenarios, etc.) revolve around being able to reproduce the random sequence. The `Random` class itself might not be serializable in .NET Core, but the way you'd make this work is to serialize _just the seed_, then to have all applications instantiate a random instance from the persisted seed. This very strongly implies that the desired behav

[2020-08-02 21:20] danmosemsft commented on #37806
BenchmarkDotNet=v0.12.1, OS=Windows 10.0.19041.421 (2004/?/20H1)
Intel Core i7-7700 CPU 3.60GHz (Kaby Lake), 1 CPU, 8 logical and 4 physical cores
.NET Core SDK=5.0.100-rc.1.20401.3
  [Host]     : .NET Core 5.0.0 (CoreCLR 5.0.20.40101, CoreFX 5.0.20.40101), X64 RyuJIT
  Job-OKFWGW : .NET Core 3.1.6 (CoreCLR 4.700.20.26901, CoreFX 4.700.20.31603), X64 RyuJIT
  Job-JENQMI : .NET Core 5.0.0 (CoreCLR

[2020-08-02 21:23] danmosemsft commented on #37806
I guess @adamsitnik already looked carefully at that in dotnet/coreclr#24889.

Might be interesting to verify Windows vs. Linux perf. @DrewScoggins how can I pull that comparison?

[2020-08-02 21:26] peteroupc commented on #23198
If the intent is that the PRNG algorithm used by `System.Random` will never change, even in future versions of .NET (and perhaps even in the case when a `System.Random` instance is initialized through its no-argument constructor), then the `System.Random` class should stop stating that the algorithm is subject to changes and should document the current algorithm in full, flaws and warts and all, j

[2020-08-02 21:44] tarekgh commented on #37807
@danmosemsft the ja perf test is misleading. I discussed this with @adamsitnik before. The test was including the warming up code which is cached when called first time. It is expected to the initialization code will be slower because ICU has more information we cache. I am not really worried about this scenario.

[2020-08-02 21:48] tarekgh commented on #37806
@danmosemsft we already knows the differences between Windows and Linux from 3.1 release. I am currently working on some perf work to target the important scenarios when using ICU even on Windows (especially ordinal operations).

[2020-08-02 21:53] danmosemsft commented on #37806
@tarekgh sounds good

[2020-08-02 21:54] danmosemsft commented on #37807
Can we tweak the scenario somehow to avoid measuring the warm up?

[2020-08-02 21:58] tarekgh commented on #37807
I am keeping this opened to find out if we tweak the test or I can find a workaround in the code to avoid the re-initialization in some cases. linking here the issue I discussed with Adam https://github.com/dotnet/runtime/issues/31273.

[2020-08-02 22:02] tarekgh commented on #40194
Thanks @alexeysmorkalov for reporting the issue. we'll take a look to see what is going on.

[2020-08-02 22:10] cspatig commented on #2303
I'd like to try my hand at contributing and I'm thinking this may be a good first issue for me to look into. Any suggestions would be much appreciated. I imagine I'll run the grep in the comment above and start working through what that finds. If I understand the issue correctly the leading and trailing underscores just need to be removed (tedious, but not difficult). Is my understanding correct?

[2020-08-02 22:46] steveisok commented on #38559
I think we're in good shape here

[2020-08-03 01:28] JamesNK opened #40249 "SocketsHttpHandler.EnableMultipleHttp2Connections exceeds server stream limit"
### Description

SocketsHttpHandler exceeds the maximum stream limit when EnableMultipleHttp2Connections is true and 250 requests are created simultaneously.

You can see the server reach 100 streams and then receive another new stream here:

[code]

Complete log: [http2streamerror.log](https://github.com/dotnet/runtime/files/5013382/http2streamerror.log)

### Configuration

SDK 5.0.100-rc.1.20401

[2020-08-03 01:33] kzu commented on #39866
So, I guess since I couldn't make it obvious that the API is far from obvious in its current form, adding the missing method will likely never happen :(. I say *missing* because I haven't heard a single argument against adding the method that wouldn't equally apply to the existing `GetBaggageItem`...

[2020-08-03 02:49] davidfowl commented on #40236
@eerhardt who do I need to bribe to get this into 5? My boss? 😄

[2020-08-03 03:08] tarekgh commented on #39866
I am not sure why you have jumped to the conclusion. I see this is nice to have but it is not blocking anyone so far. So, considering it in the next releases is possible.

[2020-08-03 03:57] antonfirsov commented on #31570
Ok, looks like not all findings of my previous comment are true:
- On mac, #381 repro code is sufficient to enqueue `BufferMemoryReceiveOperation`
- It reproduces on AZP with 3.1.302, [regardless of the OS version](https://dev.azure.com/anfirszo/system-net-sockets-deadlock-bug-42718/_build/results?buildId=7). (But didn't repro locally or on Helix for me.)

It *seems to be* gone with newest preview

[2020-08-03 04:14] geoffkizer commented on #40249
@jamesnk But not when EnableMultipleHttp2Connections = false?

@alnikola

[2020-08-03 04:20] JamesNK commented on #40249
It happens when EnableMultipleHttp2Connections = false as well.

I'll test whether it happens in 3.1.

[2020-08-03 04:29] jashook commented on #13650
This has been running without issues for several months now. Closing

[2020-08-03 04:29] #13650 closed

[2020-08-03 04:29] jashook commented on #13641
@mmitche this seems stale can we close?

[2020-08-03 04:36] v-haren commented on #39571
failed again in job: [runtime-coreclr gcstress-extra 20200802.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=754417&view=ms.vss-test-web.build-test-results-tab&runId=23408610&resultId=108870&paneView=debug)

failed test: CoreMangLib\\system\\enum\\EnumIConvertibleToSingle\\EnumIConvertibleToSingle.cmd

Error message
[code]

[2020-08-03 04:38] #13405 closed

[2020-08-03 04:39] jashook commented on #13368
@Maoni0 ping

[2020-08-03 04:40] v-haren opened #40250 "Some tests are timing out under GCStress"
failed in job: [runtime-coreclr gcstress-extra 20200802.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=754417&view=ms.vss-test-web.build-test-results-tab&runId=23408646&resultId=110537&paneView=debug)

failed tests:
Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest1234\\Generated1234\\Generated1234.cmd
Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest927\\Generate

[2020-08-03 04:40] geoffkizer commented on #40219
I have a pending change here that will at least give a better error message: "An HTTP/2 connection could not be established because the server did not complete the HTTP/2 handshake."

Suggestions welcome.

[2020-08-03 04:43] geoffkizer commented on #40219
BTW, I really hesitate to specifically try to detect an HTTP1.1 response here, as per @stephentoub's comment here: https://github.com/dotnet/runtime/issues/31132#issuecomment-541078587

Hopefully the error message above is enough to point people in the right direction (i.e., the server isn't doing HTTP2).

[2020-08-03 04:45] geoffkizer commented on #40249
@alnikola can you take a look?

[2020-08-03 04:51] jashook commented on #12903
We no longer have this dependency

[2020-08-03 04:51] #12903 closed

[2020-08-03 04:53] jkotas commented on #37814
Span uses generic version of Memmove that calls non-generic Memmove or BulkMoveWithWriteBarrier for CoreCLR. The logic is same for both Span and Array:

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/coreclr/src/System.Private.CoreLib/src/System/Array.CoreCLR.cs#L148
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/coreclr/src

[2020-08-03 05:00] philieu opened #40288 ".Net Core 3.1 - Kestrel Heartbeat.OnHeartbeat error"
This is related to an existing reported issue [here](https://github.com/dotnet/aspnetcore/issues/14808). The old issue is related to .net core 2.2. I've now updated to the latest version of .net core (e.g. 3.1) and the issue is still there.

### Describe the bug
We are seeing the following error from Kestrel heartbeat:
Heartbeat.OnHeartbeat
System.ArgumentNullException: Value cannot be null.
at Sy

[2020-08-03 05:02] jkotas commented on #37814
Memory copying performance depends a lot on alignment of the source and destination arrays. In the case of object references that we have here, it also depends on the generation that the destination array lives in. I do not see the benchmarks controlling for these variables. It makes the benchmark many modal by construction.

Notice that the trend changed in January, but it has several flips to ba

[2020-08-03 05:05] jkotas commented on #37814
Here is a small program that demonstrates the many modal nature of memory copying:
[code]
On my machine, it shows that the performance is oscilating between ~460 and ~800.

[2020-08-03 05:10] jkotas commented on #37805
This was originally filled as https://github.com/DrewScoggins/performance-2/issues/525 and fixed by #37845

[2020-08-03 05:10] #37805 closed

[2020-08-03 05:11] jashook commented on #12478
This has not reproed in 1+ year, closing

[2020-08-03 05:11] #12478 closed

[2020-08-03 05:12] jashook commented on #12389
Stale

[2020-08-03 05:12] #12389 closed

[2020-08-03 05:13] jashook commented on #12008
Stale

[2020-08-03 05:13] #12008 closed

[2020-08-03 05:13] jashook commented on #11917
Stale

[2020-08-03 05:13] #11917 closed

[2020-08-03 05:17] jashook commented on #2303
Adding a few people who may be able to help. Thank you for your interest @cspatig! /cc @janvorli @sdmaclea

[2020-08-03 05:18] jashook commented on #11191
Stale

[2020-08-03 05:18] #11191 closed

[2020-08-03 05:20] jashook commented on #10579
I will continue to push. @brianrob should this issue be closed or updated?

[2020-08-03 05:44] v-haren opened #40252 "Test failure: JIT\\Generics\\Exceptions\\specific_class_instance02\\specific_class_instance02.cmd"
failed in job: [runtime-coreclr gcstress-extra 20200802.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=754417&view=ms.vss-test-web.build-test-results-tab&runId=23410070&resultId=101563&paneView=debug)

Error message
[code]

[2020-08-03 05:44] geoffkizer commented on #40219
I posted the change with the improved error message, please take a look

[2020-08-03 06:49] Jaycecoding opened #40253 "Package System.Numerics.Vectors 4.5.0 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0)."
Hi there,

I'm very new to programming and my class has started with a basic Xamarin project, however whenever I try to run the program I get this message:
Package System.Numerics.Vectors 4.5.0 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0).

All that I'm trying to run is this:
<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"

[2020-08-03 07:14] geoffkizer commented on #39941
Let me try to capture the above conversation as well as some offline discussion.

### Goals

1. Allow ASP.NET to detect and handle certain exceptional cases when using System.Net.Connections, in particular:
- AddressInUse from ConnectionListenerFactory.ListenAsync
- ConnectionReset from Stream.Read/Write[Async]. This indicates that the peer aborted the connection.
- ConnectionAborted from Stream.R

[2020-08-03 07:43] MaximLipnin commented on #40042
@SamMonoRT I've seen this error once in CI and I don't have a local repro for it.

[2020-08-03 08:00] JamesNK commented on #40219
Ok. What I asked for was the ideal, but I understand why interpreting unexpected bytes is educated guessing and you don't want to do it.

A more user friendly error message that describes what failed is good enough. It is something that can be searched for and docs/StackOverflow can go into more detail.

[2020-08-03 08:18] kjpou1 commented on #40065
It does not seem to work at all.

[2020-08-03 09:46] eriksimonic opened #40258 ".Net 5.0 Int.Parse fails parsing with negative values."
.Net 5.0 Preview 7, fails on Int.Parse("-1") with
Message:
    System.FormatException : Input string was not in a correct format.
  Stack Trace:
    Number.ThrowOverflowOrFormatException(ParsingStatus status, TypeCode type)
    Number.ParseInt32(ReadOnlySpan`1 value, NumberStyles styles, NumberFormatInfo info)
    Int32.Parse(String s)
    NetCore50prev7_Tests.NegativeIntegerFailsParse() line 15

[2020-08-03 09:48] EgorBo commented on #40258
@eriksimonic what is the current culture?
[code]
and OS?

[2020-08-03 09:52] eriksimonic commented on #40258
@EgorBo
Windows 10 2004, build 19041.388
Culture is sl-SI

[2020-08-03 10:09] codingbloke commented on #38782
I am having very similar problem with the System.ValueTuple reference.  The version included in the Nuget fetch for System.Text.Json is 4.0.3.0 however on the build server MSBUILD complaines with:

`D:\TFSBuild\Agent1\_work\11\s\code\XWeb\Web.metaproj : warning MSB3268: The primary reference "D:\TFSBuild\Agent1\_work\11\s\code\XWeb\WebBin\Release\MyCompany.System.dll" could not be resolved because

[2020-08-03 10:20] EgorBo commented on #40258
[code]
[code]
sl-SI locale uses slightly different negative sign 🙂

[2020-08-03 10:27] eriksimonic commented on #40258
@EgorBo , this works correctly in .net core 5.0 or any other, It is this a "feature"

[2020-08-03 10:29] jayasurya-jeyakodi opened #40276 "Stackoverflow. In Dotnet core 3.1 with ef core"
### Describe the bug
I have deployed my API in kubernetes, i frequently see the pod getting crashed and restarted. Upon looking logs i found the following message "Stackoverflow ." I don't know what is causing this error.

### To Reproduce

Verify difficult to reproduce, as i see this issue only in production and not in dev environment
### Exceptions (if any)

"Stackoverflow ."
### Further technic

[2020-08-03 10:31] EgorBo commented on #40258
hm... indeed, 🤔
[code]
works for `net4x` and `netcoreapp3.1`
but doesn't work for `net5`

[2020-08-03 10:34] benaadams commented on #40258
Hasn't net5 moved to ICU on windows also?

[2020-08-03 10:35] am11 commented on #40258
Yes. net5 switched to ICU library on Windows. Some cultures (e.g. en-US) work with multiple minus signs `U+002D` and `U+221` with ICU. Apparently not the case with `sl-SI`. Interestingly, there was a related bug for Slovenian minus sign (`U+2013`), which was fixed last year in release 31: https://unicode-org.atlassian.net/browse/CLDR-10050.

[2020-08-03 10:38] janvorli commented on #40149
@sdmaclea here is a list of places in PAL that need to be updated:

machexceptions.cpp
* Thread context manipulation
* Hijacking faulting thread
* Activation injection
* BuildExceptionRecord

machmessage.cpp
* MachMessage::GetThreadFromState

context.cpp
* CONTEXT_GetThreadContextFromPort
* CONTEXT_SetThreadContextOnPort

dispatchexceptionwrapper.S
* Create arm64 version (this file is macOS only)

[2020-08-03 10:52] EgorBo commented on #40258
@eriksimonic as a temp workaround you can define an env. variable `DOTNET_SYSTEM_GLOBALIZATION_USENLS=true` to rely on NLS instead of ICU on Windows.

[2020-08-03 10:57] scalablecory commented on #40217
It looks like you could implement a custom `IWebProxy` that hands out a random proxy for each URL queried.

`SocketsHttpHandler`, the default implementation of `HttpClient`, will pool connections based on proxy anyway. So, creating one `HttpClient` per proxy will be no different in terms of socket resource usage than a single `HttpClient` with multiple proxies.

[2020-08-03 11:03] akoeplinger commented on #40111
If we go with the discussed plan of deemphasizing `RuntimeInformation` then I'd propose undoing the new properties in `OSPlatform` that are currently slated for .NET 5.0:

[code]

[2020-08-03 11:05] eriksimonic commented on #40258
@EgorBo Will this be a part of 5.0 release or it is considered a a bug?

[2020-08-03 11:14] scalablecory commented on #40219
I think the improved exception message is a good start, but I feel like this should be cheap and reliable enough to detect.

If we get back a response like `HTTP/1.1 ...\r\n` -- `HTT` decodes to a frame length that is invalid, and `P` is not a valid frame type when we would be expecting a SETTINGS frame. If we detect this we could throw an exception with language like "the server may be HTTP/1.1".

[2020-08-03 11:19] marek-safar commented on #40065
That's strange and it looks like emscripten bug. The API is implemented and it's used by some of emscripten internal tooling (https://github.com/emscripten-core/emscripten/blob/master/tools/filelock.py#L363). Could you report a bug?

[2020-08-03 11:21] KalleOlaviNiemitalo commented on #40242
ASP.NET Core [RequestLocalizationMiddleware](https://github.com/dotnet/aspnetcore/blob/979632683c720152cc04d0684644c40512f4e953/src/Middleware/Localization/src/RequestLocalizationMiddleware.cs) sets CultureInfo.CurrentCulture and CultureInfo.CurrentUICulture but I don't think the HTTP requests should affect how the log file is localized.

### Possible API and implementation overview

[code]

1. Th

[2020-08-03 11:21] alnikola commented on #40249
Looking at it.

[2020-08-03 11:24] alnikola commented on #40249
@JamesNK Do you have a repro for this? You mentioned above that some test was run.

[2020-08-03 11:28] JamesNK commented on #40249
I linked to the unit test I saw this in the first post.

I didn't split it out into its own app because they repro seems pretty simple: create a lot of new HTTP/2 requests simultaneously.

[2020-08-03 11:30] geoffkizer commented on #40219
@scalablecory Sure, that seems worth looking in to. Regardless, I think this is a worthwhile change.

[2020-08-03 11:42] alnikola commented on #40249
Ah sorry, I overlooked that link to commit. Will check it.

[2020-08-03 11:48] GSPP commented on #33873
I have needed this a bunch of times for equality (`IEqualityComparer<IEnumerable<T>>`). Particularly often, I had the need to use byte arrays as keys in a hash table.

[2020-08-03 12:02] marek-safar commented on #40236
You can submit PR yourself. Doing quick check it could be enough to annotate OptionsFactory::Create method

[2020-08-03 12:16] lukoerfer opened #40261 "ConsoleLoggerProvider should work without an IOptionsMonitor"
## Background and Motivation

Instead of using the builder pattern with `LoggerFactory.Create(Action<ILoggingBuilder>)` it is possible to construct an `ILoggerFactory` via dependency injection, e.g. using Autofac:

[code]

`LoggerFactory` takes an `IEnumerable<ILoggerProvider>` and Autofac will automatically pass any registered `ILoggerProvider`. This works fine with (for example) `DebugLoggerProv

[2020-08-03 12:20] mnmr opened #40262 "Iterator provides inconsistent results when being iterated multiple times"
### Description

We experienced a weird issue while migrating data from one database to another, and seem to have narrowed down the issue to a problem with iterators.

Consider the following code (which can be pasted into LINQPad and executed as a C# Program):

[code]

Running this code will print:

If you remove the first of the inner iterations (the `foreach (var nr in split) ;`), leaving just t

[2020-08-03 12:24] svick commented on #33873
@GSPP As proposed, this issue is only about `IComparer<IEnumerable<T>>`. Are you saying it should be expanded to also include `IEqualityComparer<IEnumerable<T>>`?

[2020-08-03 12:27] alnikola commented on #40249
It seems there is a race condition between **receiving and applying a SETTINGS** with the correct value of `SettingId.MaxConcurrentStreams` and **checking we still have available stream credits** for starting a new stream.

When a new `Htt2Connection` is created, we [set the maximum of concurrent streams](https://github.com/dotnet/runtime/blob/3218c128072962fc90d92677c704f8653e1777a0/src/libraries

[2020-08-03 12:31] stephentoub commented on #40249
Why do we start the allowed number of streams at int.MaxValue rather than 0 (or 1)?

[2020-08-03 12:36] svick commented on #40262
The problem is that when you iterate the `IEnumerable<T>` returned from `Take` multiple times (you do that once in the second `foreach` and once in `Count()`), it continues iterating the same `IEnumerator<T>`. Maybe a clearer way to see this is:

[code]

This prints:

[code]

If you want to make code like this work correctly, you will have to implement `Split` differently. Probably the easiest way

[2020-08-03 12:49] alnikola commented on #40249
Because the standard says [initially it has no limit](https://http2.github.io/http2-spec/#SettingValues).

... Initially, there is no limit to this value. It is recommended that this value be no smaller than 100, so as to not unnecessarily limit parallelism.

I believe there is some unclarity in the standard because [Stream concurrency section](https://http2.github.io/http2-spec/#rfc.section.5.1.2

[2020-08-03 13:03] geoffkizer commented on #40249
It's fine for the server to respond with a stream error of type REFUSED_STREAM; we will treat this as a retryable error.

It's impossible for the client to avoid exceeding the concurrent stream limit if it hasn't received the SETTINGS that update the limit yet. But it's fine for the server to respond with REFUSED_STREAM in this case.

[2020-08-03 13:05] alnikola commented on #40249
@geoffkizer Do you mean it is not a bug at all? Can we then close the issue as "by design"?

[2020-08-03 13:06] geoffkizer commented on #40249
Yes, I think this is not a bug.

[2020-08-03 13:12] geoffkizer commented on #40249
BTW, this is one of the unfortunate quirks of HTTP2 and is addressed in QUIC, so it's no longer a problem there.

[2020-08-03 13:19] eiriktsarpalis commented on #40262
Yes, but that is because your implementation is reusing the same `IEnumerator<T>` instance. IEnumerators are stateful by design, and so it's very easy to make mistakes like that when manipulating them directly. I'd probably rewrite your Split method to something like the following:
[code]

This more or less guarantees referential transparency, you can enumerate both the outer and inner enumerables

[2020-08-03 13:19] #40262 closed

[2020-08-03 13:20] YohDeadfall opened #40264 "JIT stores a register in memory and taking it back while it can be avoided"
While working on an optimization for the JSON serializer faced non-optimal code generation by JIT, see #40136. Instead of emitting `mov [rsp],rcx` before checking a condition the compiler can do it after a jump instruction to avoid restoring the value. In the expected assembly added a few comments to clarify.

[code]

Actual:

[code]

Expected:

[code]

category:cq
theme:register-allocator
skill-l

[2020-08-03 13:21] alnikola commented on #40249
Closing as a known protocol limitation.

[2020-08-03 13:29] aik-jahoda commented on #39844
I reproduced it again with latest VS (16.7.0 Preview 6.0) + latest master:

1. Sync local master with the latest runtime master
2.
[code]

3. Open `\src\libraries\System.Net.Http\System.Net.Http.sln` in the Visual Studio.
In the output window I can see the following, not sure if it is related:
[code]
4. Open `\src\libraries\System.Net.Http\src\System\Net\Http\SocketsHttpHandler\Http2Connection.cs`

[2020-08-03 13:41] steveisok opened #40265 "[Wasm] Tests flagged with ActiveIssues"
**Crypto Support**

<table cellpadding="0" cellspacing="4">
<tr>
<td rowspan="17"><a href="https://github.com/dotnet/runtime/issues/37669">https://github.com/dotnet/runtime/issues/37669</a></td>
<td>System.Security.Cryptography.Algorithms.Tests</td>
</tr>
<tr>
<td>System.Security.Cryptography.Csp.Tests</td>
</tr>
<tr><td>System.Security.Cryptography.Encoding.Tests</td></tr>
<tr><td>System.Security

[2020-08-03 13:48] fanyang-mono commented on #38897
This is the stack trace which triggered the exception:
`  * frame #0: 0x0000000102b392d8 libcoreclr.dylib`mono_method_has_no_body(method=0x00000001008fd248) at loader.c:2014:11
    frame #1: 0x0000000102b393ba libcoreclr.dylib`mono_method_get_header_internal(method=0x00000001008fd248, error=0x00007ffeefbfc038) at loader.c:2039:6
    frame #2: 0x0000000102b396a7 libcoreclr.dylib`mono_method_get_hea

[2020-08-03 13:55] eerhardt commented on #40236
I'm working on it. I'll probably have a PR out today.

Unfortunately this isn't enough.

[2020-08-03 13:57] aik-jahoda commented on #38494
I see no reason why support null for keys. Values are discussable too. Instead on null key the key should be an empty string.

With the assumption made above it should be:
[code]

Proposal for change in libraries: #40267

[2020-08-03 14:35] kjpou1 commented on #40065
Issue opened here: https://github.com/emscripten-core/emscripten/issues/11797

[2020-08-03 14:43] KalleOlaviNiemitalo commented on #40261
`Microsoft.Extensions.Logging.LoggerFactory` uses [`internal class StaticFilterOptionsMonitor`](https://github.com/dotnet/runtime/blob/53976d38b1bd6917b8fa4d1dd4f009728ece3adb/src/libraries/Microsoft.Extensions.Logging/src/StaticFilterOptionsMonitor.cs) to implement constructors that likewise don't require an `IOptionsMonitor<LoggerFilterOptions>` argument. If such a class is useful for logger pro

[2020-08-03 14:47] bartonjs commented on #40265
Given that the linked issues are already providing the tracking for their work, what is the purpose of this issue?

[2020-08-03 15:04] antonfirsov commented on #31570
I had [10 successful runs in a row](https://dev.azure.com/anfirszo/system-net-sockets-deadlock-bug-42718/_build?definitionId=1&_a=summary) with 5.0. I also observed that tests are running significantly faster with 5.0, than with 3.1 (12 instead of 30+ seconds).

I think it's safe to assume that the issue is gone -- probably as a side effect of `SocketAsyncEngine` optimizations in 5.0. Nevertheless

[2020-08-03 15:13] ivanprysyazhnyk-GL opened #40270 "Build error while cmake arguments ARM_SOFTFP=1 and CLR_ARM_FPU_TYPE=none"
Device has processor Armel without any FPU features:

if dotnet is built with next command line:

next errors appear that are required to FPU instructions:

Such FPU instructions exist in several *.S files.

In case dotnet is built  without cmakeargs:

compilation finishes without error but Error "Illegal instruction" appears while running on device.

[2020-08-03 15:16] jeffschwMSFT commented on #40272
@JerryJoyce we would need a core dump or some additional information to help diagnose what is happening.  We have made a number of reliability fixes in .NET Core 3.1.*.  Can you try the latest?

[2020-08-03 15:24] ManickaP commented on #39619
So this failure has been happening before the change, it's also happening not just for sync, but for async as well and it just looks like slow infra and low timeouts.
I've ran the offending test locally in a loop for a few hours and no occurrence.
Adjusting the timeouts little bit in a PR and we'll see. But highly unlikely this is production code bug.

[2020-08-03 15:30] steveisok commented on #40265
I'm still in the process of adding more, but some active issues are not 1-1 with their tests.  I would like to have an easier to consume view into what issues link to what tests.

[2020-08-03 15:31] rotiv123 opened #40275 "System.Enum.TryParse misleading return value"
### Description

System.Enum.TryParse returns True given a text value that is nor a number nor the name of an enumerated constant.

[code]

### Configuration

[code]

[code]

### Regression?

I have obtained the same results with

- .NET Core 3.1
- .NET Core 2.1

[2020-08-03 15:35] #40275 closed

[2020-08-03 15:40] mdh1418 commented on #39428
After looking into this issue more, resolving without introducing new public methods doesn't seem likely at the moment, hence changing the milestone from `5.0.0` to `Future`.

One of the problems is that when a MMF (`MemoryMappedFile`) opens multiple MMVS (`MemoryMappedViewStream`), if one MMVS writes to the MMF, the other MMVS does not see the changes.

Our solution was to throw `NotSupportedExce

[2020-08-03 15:42] akoeplinger commented on #38931
I looked at it and yeah it's kind of an xharness issue. We only pump the threadpool but we don't pump the timer queue inside the xharness runner, so in the case of `Task.Delay()` it'll schedule a callback on the timer queue and that will never happen which leads to the infinite loop waiting for the test to finish.

I'll know how to fix it.

[2020-08-03 15:57] jkotas commented on #40270
cc @franksinankaya @am11

[2020-08-03 16:01] scalablecory commented on #39941
looks good to me, lets get it set for review today so we can do API review tomorrow

[2020-08-03 16:07] franksinankaya commented on #40270
You should still be compiling with FPU instructions enabled. Kernel does FPU emulation with armel builds. Code assumes FPU presence.

[2020-08-03 16:12] marek-safar commented on #38480
@lambdageek is there anything else to be done?

[2020-08-03 16:14] mangod9 commented on #35624
@sdmaclea is this something which is required for 5, or could be moved to 6?

[2020-08-03 16:19] lewing commented on #38154
@pranavkm can you verify this is still failing with the latest runtime build and include the verbose log if so?

[2020-08-03 16:22] ericstj commented on #1568
Cool to see progress on this @kevinwkt @layomia.  For folks interested please check out @kevinwkt's post above and the links to work going on.

[2020-08-03 16:22] pranavkm commented on #38154
The linker issue is still open: https://github.com/mono/linker/issues/1298. We could close this as a dupe of the other. As noted in https://github.com/mono/linker/issues/1298#issuecomment-665176123, this only affects if the linker uses `copyused`. Blazor uses trimmode=link.

[2020-08-03 16:24] #39799 closed

[2020-08-03 16:26] safern commented on #39844
@aik-jahoda number 3 is a known issue https://github.com/dotnet/runtime/issues/32205

For number 4 I have tried to repro but wasn't able. I'm trying to upgrade my VS to latest preview now.

[2020-08-03 16:40] Clockwork-Muse commented on #23198
In light of this, one wonders if we should stop providing all the random "helpers" (as in, `NextInt`, etc), and just provide random bytes from the OS, expecting third party libraries to handle this sort of thing.

This is one of the times I wish we'd made packages for almost everything in the standard library, since that would allow us to "fix" this easier.

[2020-08-03 16:41] jeffschwMSFT commented on #40203
@fsinisi90 can you elaborate on what you had in mind?  I have seen people use a known .NET entry point, and that entry point uses reflection to then construct the call to a more dynamic call site.  Would that work in your case?

[2020-08-03 16:41] tarekgh commented on #40258
Yes this is by design as we switched to ICU. `sl-SI` is not using `-` as the negative sign. If you are parsing with such culture you have to provide the correct negative sign. As mentioned earlier in the discussion, to workaround it, either use different culture e.g. Invariant, or enable NLS by the config switch `System.Globalization.UseNls` https://docs.microsoft.com/en-us/dotnet/standard/globali

[2020-08-03 16:41] #40258 closed

[2020-08-03 16:42] jayasurya-jeyakodi commented on #40276
This was due to an application logic bug, closing this issue

[2020-08-03 16:42] #40276 closed

[2020-08-03 16:49] benaadams commented on #40258
You could also write a method that tries both
[code]

[2020-08-03 16:50] sdmaclea commented on #35624
This is just cleanup backlog.  Moved to future for now.

[2020-08-03 16:51] alexcovington commented on #39787
I'm still unable to build, receiving the same error message. Are there other log files I should be looking at?

[2020-08-03 17:01] vargaz commented on #40132
Seems to be caused by this code in mono_array_to_js_array ():
[code]
So unbox_mono_obj gets passed an objref, but it calls into managed code while the objref is not tracked.

[2020-08-03 17:04] terrajobst commented on #23198
In a world of in-place updates changing the algorithm isn't doable, but that's not the world we live in with .NET Core anymore, so I'd argue it's false dichotomy :-)

We could decide to introduce a new static factory method on the same type or we could decide to make a breaking change between major releases (potentially with an app compat switch). These are all better outcomes than a new type.

[2020-08-03 17:12] mangod9 commented on #84
Hey @jashook, do you have context on this failure. Looking through the test it appears it might have been failing on 3.1 too, so checking if this was a new test possibly?

[2020-08-03 17:19] mmitche commented on #13641
Yeah this is well and done.

[2020-08-03 17:19] #13641 closed

[2020-08-03 17:26] marek-safar commented on #40149
/cc @vargaz

[2020-08-03 17:26] #35296 closed

[2020-08-03 17:30] GrabYourPitchforks commented on #23198
I don't think this puts us in a better world. This discounts that libraries might be using the `Random` type and might be expecting it to have a given algorithm. An app-wide switch isn't workable for this scenario since it removes the ability of the individual callers to have control over their logic.

[2020-08-03 17:33] wfurt commented on #35296
I did not set up multicast but since I have clean repro with uncial I assume the is same.
It would be good if you can verify once RC1 comes out.

[2020-08-03 17:38] danmosemsft commented on #37814
What do the `GC.KeepAlive(new byte[r.Next(32)]);` lines achieve? Is your sample causing either buffer to get promoted?

[2020-08-03 17:40] BruceForstall opened #40277 "Test failure: slowpatheltleave"
failed in job: [runtime-coreclr jitstress 20200729.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=750921&view=ms.vss-test-web.build-test-results-tab&runId=23285924&resultId=100588&paneView=debug)

failed tests:
profiler/elt/slowpatheltleave/slowpatheltleave.sh
profiler\\elt\\slowpatheltleave\\slowpatheltleave.cmd

Error message
[code]

Lots of failures for arm64 in various jobs:

h

[2020-08-03 17:41] BruceForstall commented on #36195
The slowpatheltleave issue is a separate issue. I've moved it to https://github.com/dotnet/runtime/issues/40277.

[2020-08-03 17:44] safern commented on #39981
Thanks for the suggestion @danmosemsft -- I chatted with @tarekgh about this and we think it is not a good idea to document all the differences because data might change in ICU or even in NLS so it is not guaranteed that these behaviors will stay like that. However, we do think it might make sense to add some examples to the docs. I'll add it to my TODO list.

[2020-08-03 17:54] #34737 closed

[2020-08-03 17:58] wfurt commented on #37186
[code]
gives me ~ 130 entries including the one @tarekgh reported. The problem is that because the run did no finish and report any results, there are no entries in Jobs table.

[code]
with one entry

vs empty

[code]

[2020-08-03 18:10] scalablecory commented on #40249
This is not a bug, but the few servers i've seen all default to 100, and some don't even allow config of it. We should start at 100, not `int.MaxValue` -- this would result in more consistent burst performance.

[2020-08-03 18:23] danmosemsft commented on #37186
Thank you @wfurt. Just what I needed.

It seems the tests do not normally take long. Of the last couple months, 104 out of 22,461 work items timed out. Those that did not mostly took a minute or so. That suggests they go into a hang state due to a bug, they are not merely slow.

WorkItems
| where Status != "Timeout"
| where Started > todatetime("05/01/20")
| where FriendlyName == "System.Collectio

[2020-08-03 18:27] maulikhdave9601672767 opened #40280 "IHostedService Under Load Balancer?"
# IHostedService Under Load Balancer

I read below line
"you can even make sure that it runs a single instance of that microservice process/container." but its confusing

I have multiple container and instance of my service under load balancer.

will this background job run in all instance or one among them??

if no how multiple instance inform that background process already started.

[2020-08-03 18:36] maulikhdave9601672767 commented on #40280
https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice

[2020-08-03 18:41] tarekgh commented on #39866
@kzu please let me know if you are ok to have this form the next release and nothing is blocking you for now.

[2020-08-03 18:43] jkotas commented on #39941
Would this also address https://github.com/dotnet/runtime/issues/926 that is about the more general problem of distinguishing different IO errors, not limited to networking errors?

[2020-08-03 18:44] danmosemsft commented on #37186
Hangs are disproportionately likely to be on Windows (but not exclusively on Windows)

WorkItems
| where Status != "Timeout"
| where Started > todatetime("05/01/20")
| where FriendlyName == "System.Collections.Concurrent.Tests"
| extend Duration = datetime_diff("Minute", Finished, Started)
//| summarize count()
| summarize count() by QueueName
| top 3 by count_;

QueueName	count_
ubuntu.1604.amd64

[2020-08-03 18:44] VSadov commented on #11177
I think this was fixed in https://github.com/dotnet/runtime/pull/39668

[2020-08-03 18:44] #11177 closed

[2020-08-03 18:48] danmosemsft commented on #40281
@rickge can you please try this on the latest 5.0 preview and report whether you get a different result?

[2020-08-03 18:48] josalem commented on #39792
I think something that @noahfalk left out is that this is all _in addition_ to that default listen port.  That would remain regardless of what you specify in this env var.

Name: DOTNET_DIAGNOSTIC_PORTS_SUSPEND
Uses the same terminology as the rest of the env vars and values.
I would think setting this env var would override any of the suspend/nosuspend settings for each of the ports in the DOTNET

[2020-08-03 18:51] jkotas commented on #37814
`GC.KeepAlive(new byte[r.Next(32)]);` will make `string` arrays aligned randomly. It assumes that objects are allocated in memory next to each other (internal implementation details of the current allocators).

`if (r.Next(10) == 0) GC.Collect();` should move the buffers out of Gen0. Maybe that line can be ` if (r.Next(10) == 0) for (int i = 0; i < 5; i++) GC.Collect();` to make sure that these bu

[2020-08-03 18:52] danmosemsft commented on #37814
OK thanks I think next action here for us is to make changes like that in the benchmarks and remeasure 3.1 and 5.0

[2020-08-03 18:53] antonfirsov commented on #39941
I think mixing `FileSystemError` and `NetworkError` stuff in a single `IOError` enum may lead to confusion, and harder debuggability.

[2020-08-03 19:10] hoyosjs commented on #12903
There's still one dependency on NET FX, where CMake builds it. Not sure if it requires the development install, for sure it requires the VS MSBuild: https://github.com/dotnet/runtime/blob/master/src/coreclr/src/ToolBox/SOS/DacTableGen/CMakeLists.txt

[2020-08-03 19:42] lewing commented on #38154
closing as a duplicate of https://github.com/mono/linker/issues/1298

[2020-08-03 19:42] #38154 closed

[2020-08-03 19:42] danmosemsft commented on #37186
Next action seems either
* try to repro locally although evidence suggests this would be unlikely. Still, could be worth looping over night with no timeout set to see whether we have a repro in the morning
* wait for "dotnet test -blame" so we can get a hang dump. That is at least a month out.

[2020-08-03 19:46] #2332 closed

[2020-08-03 20:02] sandreenko commented on #38920
Fixed by #40164

[2020-08-03 20:02] #38920 closed

[2020-08-03 20:03] carlossanlop opened #40283 "Building clr fails on Windows when building System.Globalization.Native shim"
I synced my Windows enlistment to the latest bits in master today. I ran `git clean -fdx`, then executed `build.cmd clr`. I am getting a bunch of errors, and this is the first one:

[code]

This is the failing code, which is a Unix file:

https://github.com/dotnet/runtime/blob/5c99007671ea89574523c5e44f5e436e551bad3c/src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_internal.h#L183

[2020-08-03 20:05] safern commented on #40283
cc: @tarekgh as he was seeing this on Friday.

[2020-08-03 20:06] jaredpar opened #40331 ".NET 5 SDK acquisition should mention WSL issues with snap"
https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-preview.7-install-instructions.md

The preferred method of installing .NET 5 SDK previews is using `snap`. That tool has issues with WSL2 though (and doesn't work at all with WSL1). Given the number of people using WSL2 to develop on Linux seems like we should be using our install instructions to point people to the work ar

[2020-08-03 20:09] YehudahA opened #40284 "Add option to JsonStringEnumConverter for parsing strings but export numbers"
[Sorry for my bad English]

## Background and Motivation

I migrated an existing api project to aspnet3.1, and I prefere to use the new ```System.Text.Json``` serialization.

Fore compatiblity, I have to support submitting enums string.
If I configure the project with ```JsonStringEnumConverter```, it parsed strings as well, but it also configure the project to serial enums as string.

## Minimal

[2020-08-03 20:19] fsinisi90 commented on #40203
@jeffschwMSFT Thanks for answering.

Basically, I have a C++ "engine" that allows C# scripting. I'm loading the managed assembly and I need to execute methods that I'm reading from an XML file, so I don't know the signatures at compile time (it's, of course, restricted to some primitive types like int, float, and string). With Mono, I was able to provide a string containing the signature, then cre

[2020-08-03 20:21] BruceForstall commented on #35033
@tannergooding @jeffhandley What's the plan for this for .NET 5?

[2020-08-03 20:22] BruceForstall commented on #33565
@tannergooding Is this still in progress?

[2020-08-03 20:24] agocke commented on #33909
@mateoatr Could you take a look at this?

[2020-08-03 20:26] tannergooding commented on #33565
Yes, just trying to work through some ARM64 specific failures: <https://github.com/dotnet/runtime/pull/40054>

[2020-08-03 20:32] jeffhandley commented on #35033
@tannergooding is planning to carry this one over the finish line ahead of RC1.

[2020-08-03 20:33] JamesNK commented on #40249
Not all servers default to 100, but 100 is the recommended minimum. No server I know of is lower than 100.

I think it is fine to set the initial limit to 100.
* If someone has customized the server to have a lower limit then we have the current behavior (REFUSED_STREAM)
* If the server has a higher limit then a burst of requests when the connection starts will be briefly queued until the settings

[2020-08-03 20:36] halter73 commented on #40218
What's the normal behavior when multiple sources define the same config section?

I assume we'd want to do what we normally do when multiple sources define the same section. If sections with the same path from multiple sources normally get merged, then clearing out sections because the JSON source defined those sections as empty objects seems wrong. If it's the last source wins, and a JSON file de

[2020-08-03 20:41] HaoK commented on #40218
I believe you can think of sections as a union of key/values.  So an empty section is basically a no-op, any other section that defines key/values would win in an union.  But when it comes to a specific value for a key, that's where overriding comes into play, so foo.bar="baz" and foo.bar="", the last one will win, so you can 'delete' values.

[2020-08-03 20:43] HaoK commented on #40218
This is just a natural result of how configuration works.  Each provider can define different configuration values for a section, i.e. json defines foo.bar = "yes", xml defines foo.baz = "no".  The end result is foo.bar and foo.baz show up.  That's just how the config provider model is intended to work.

[2020-08-03 20:44] davidwrighton commented on #35423
@mangod9 I don't think we're likely to get to this in .NET 5.0. Do you think we need to implement this? It blocks use of Crossgen2 in some F# scenarios.

[2020-08-03 20:46] halter73 commented on #40218
That makes a lot of sense. The alternative would be each top-level section only being defined by one config source which doesn't seem very useful.

[2020-08-03 20:54] hoyosjs commented on #39787
Hmm can only think of a couple things. What version of CMake are you using, do you have this path: `Microsoft Visual Studio\2019\Community\DIA SDK`, and what version of the Windows SDK . This should still repro if you do `src/coreclr/build-runtime.cmd`

As for the VS opening folder, we don't have the CMakeLists configured such that you can open the directory and let it build. We define some things

[2020-08-03 20:56] mangod9 commented on #35423
yeah should be ok to move to 6.

[2020-08-03 21:03] #40046 closed

[2020-08-03 21:08] tarekgh commented on #40046
https://github.com/dotnet/runtime/issues/38419
https://github.com/dotnet/runtime/pull/39087
https://github.com/dotnet/designs/pull/134
https://github.com/dotnet/designs/pull/98
https://github.com/dotnet/runtime/issues/31373

[2020-08-03 21:12] windhandel commented on #29122
@bartonjs I'm now hitting this AV within VS while running a .NET Core Web Integration Test against ASP.NET Core. I have recorded a time travel debugging session, would that help in isolating the issue?

[2020-08-03 21:18] GrabYourPitchforks commented on #23198
FWIW here's where I see things landing:

1. If the caller currently provides a seed, they _require_ consistency with previous versions. There's quite literally no reason for them to have provided a seed other than to have reproducible results. Us changing the algorithm out from under them would break these scenarios.

2. If the caller doesn't provide a seed, no back-compat is needed. By definition

[2020-08-03 21:20] danmosemsft commented on #40288
Setting area VM, although there's no evidence where any corruption might be.

[2020-08-03 21:46] colgreen commented on #23198
I broadly agree with @GrabYourPitchforks, but bear in mind that the PRNG is only part of the problem. There are other issues related to how the various methods (Next, NextDouble...) convert the random bits into the required return types.

It would still be necessary to document well what is going on.

Another quirk of System.Random (that I once encountered causing a problem in the wild), is that t

[2020-08-03 21:49] jaredpar opened #40289 "WaitForConnectionAsync does not respond to cancellation"
The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipes.namedpipeserverstream.waitforconnectionasync?view=netcore-3.1#System_IO_Pipes_NamedPipeServerStream_WaitForConnectionAsync_System_Threading_CancellationToken_) for `NamedPipeServerStream.WaitForConnectionAsync(CancellationToken)` claims the following:

This does not appear to be true though when .NET Core is run in Uni

[2020-08-03 21:50] BrennanConroy opened #40290 "Don't throw OperationCanceledException in Host.StopAsync"
We shouldn't be throwing in `Host.StopAsync` when the token is canceled and instead let the hosted services and host lifetime run.

We should remove
https://github.com/dotnet/runtime/blob/df7f985f44712efd46b8b3bc5e4d83fe3d83ed4b/src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs#L79
and
https://github.com/dotnet/runtime/blob/df7f985f44712efd46b8b3bc5e4d83fe3d83ed4b/src/libraries/Micro

[2020-08-03 21:55] bartonjs commented on #29122
@GrabYourPitchforks You looked at this previously and may have chatted with WinCrypt about it.  Do you think WinCrypt would find a TTT useful?  (Or, I suppose, "do you want to play with a TTT?" :smile:)

[2020-08-03 21:59] #39823 closed

[2020-08-03 22:02] danmosemsft commented on #23198
This is true in .NET Framework, but not .NET Core. The latter uses a private Random based on OS entropy to initialize a per-thread Random that generates seeds. I actually ran into this a few days ago, and .NET Framework was having exactly this problem, but .NET Core did not.

[2020-08-03 22:18] JulieLeeMSFT commented on #13837
With the help with Eugene, I was able to get optimized code for M1 to M4 as shown in https://godbolt.org/z/nmZxv8.
Found some issues during jit-diff that does not handle cases where exception is thrown from both operands, and investigation WIP.

[2020-08-03 22:22] peteroupc commented on #23198
In this sense, see again how this is done, for example, in the documentation for `java.util.Random`, especially in the [`nextInt`](https://docs.oracle.com/javase/8/docs/api/java/util/Random.html#nextInt-int-) and [`nextDouble`](https://docs.oracle.com/javase/8/docs/api/java/util/Random.html#nextDouble--) methods.

[2020-08-03 22:30] #38950 closed

[2020-08-03 22:32] AaronRobinsonMSFT commented on #38950
@jozefizso I have closed this for .NET 5 since that is our latest. The .NET 3.1.x fix will be heading for bar check this week and its progress can be followed at https://github.com/dotnet/coreclr/pull/28073. Again, we really appreciate you filing this issue.

[2020-08-03 23:22] #39963 closed

[2020-08-03 23:30] GrabYourPitchforks commented on #29122
Sure, I'll take a look at it. @windhandel, can you put it on a cloud drive somewhere and email a link to __levib@microsoft.com__? Also, can I get your consent to share the trace with the Windows crypto folks?

[2020-08-03 23:45] MarkPflug commented on #38660
I commented previously that I wondered if part of this performance difference was due to Java caching the hashcode for strings. I deleted that comment, because it had other results that I realized were bogus and misleading. I'm honestly not even sure if Java does cache hashcodes, but I felt like I "knew" that once.

Some observations about the tests cases as provided:
1) As already noted the use o

[2020-08-03 23:54] janvorli commented on #39598
This change might be related:
https://github.com/dotnet/runtime/pull/685

[2020-08-04 00:05] danmosemsft commented on #38660
You can eliminate the issue of hashcodes by using `int` as the keys -- the hash of an `int` is itself.  Also, there are [several ways ](https://docs.microsoft.com/en-us/dotnet/core/run-time-config/compilation) you can switch off tiered JITting  (we generally measure with Benchmark.NET which takes care of this and many other things)

Concrete scenarios are great. Measuring collections like Dictiona

[2020-08-04 00:15] scalablecory commented on #40072
This is `HttpClient` all over again, I would find a better solution than an analyzer.

[2020-08-04 00:17] MarkPflug commented on #38660
I had done just that in a my previous, deleted comment. The problem was that I did it in the super-naive way: sequential ints, which provide a perfect hash function (no collisions) that accesses the buckets in sequential order. The perfect performance scenario, and horribly unrealistic (which is why I deleted it).

Me? No.

I was only intrigued by this issue because I found it hard to believe that

[2020-08-04 00:25] janvorli commented on #39598
Hmm, so the #685 is not related. The size before and after that change is the same.

[2020-08-04 00:55] danmosemsft commented on #38660
Can you make a minimal repro of the 10x case?

[2020-08-04 00:58] davidwrighton commented on #34884
I can't reproduce this issue, and there isn't enough detail here for me to examine. I recommend we close this issue.

[2020-08-04 01:08] davidwrighton commented on #521
Support for the ldftn opcode in combination with an interface method and a null object parameter that was then passed to a delegate constructor was an extension to the ECMA 335 specification which the .NET runtime no longer supports. However, it is still possible to construct such delegates through reflection.

[2020-08-04 01:08] #521 closed

[2020-08-04 01:08] SteveKCheng opened #40297 "Incorrect argument passing for P/Invoke returning a struct in .NET Core 3.1 32-bit"
I am not sure if this concerns "P/Invoke" in general or just "reverse P/Invoke".

When I call a managed function of the form:

    S myFunc(void* p)

through a function pointer given to native code (using ``Marshal.GetFunctionPointerForDelegate``) where ``S`` is a struct, the argument ``p`` is not received correctly when running on .NET Core 3.1 32-bit Windows.

On .NET Framework, both 32-bit and

[2020-08-04 01:20] MarkPflug commented on #38660
Sure. This is fairly minimal:

[code]

Run this on net5 and the first run will be super-duper slow (~5.6sec), the second iteration will be normal ~.9sec). This is with TieredCompilation = false in the csproj. Is there a way to verify that this property is having the desired effect? I don't see any assembly metadata indicating to disable it, which is how I would expect this to be signaled.

Run on

[2020-08-04 01:58] jkotas opened #40298 "5x performance regression from 3.1 to 5.0 due to generic dictionary CSE"
See repro at https://github.com/dotnet/runtime/issues/38660#issuecomment-668321387

This is regression introduced by the growable generic dictionary feature (#32270). The lazy initialization of the generic dictionary can reallocate it and the JITed code may be running with the stale copy of the dictionary that is never going to be initialized.

[2020-08-04 01:58] jkotas commented on #40298
We may need to make sure that the stale dictionary copies always get initialized as well to fix this.

[2020-08-04 01:59] jkotas commented on #38660
Thanks for reporting the performance regression in the first run. It is a real perf bug. I have opened https://github.com/dotnet/runtime/issues/40298 to track it.

[2020-08-04 02:10] #39599 closed

[2020-08-04 02:11] #38897 closed

[2020-08-04 03:16] v-haren commented on #32955
also failed in job: [runtime-libraries outerloop 20200803.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=754804&view=ms.vss-test-web.build-test-results-tab&runId=23423598&resultId=102971&paneView=debug)

failed test: System.IO.Tests.FileSystemWatcher_Multiple_Test.FileSystemWatcher_File_Delet_NotAffectEachOther

Error message
[code]

[2020-08-04 04:14] MarkPflug commented on #38660
"0xZZZZZZZ1000000".."0xZZZZZZZ1999999" (common prefix) is fast. (~1x)
"0x1000000ZZZZZZZ".."0x1999999ZZZZZZZ" (common suffix) is slower. (~3x)
"0x10000001000000".."0x19999991999999" (no commonality) is slowest. (~10x)

Turns out, this isn't that weird. The way the java string hash algorithm works causes "sequential strings" with long common prefixes to produce sequential hash codes, and so produces

[2020-08-04 04:14] AaronRobinsonMSFT commented on #40297
/cc @jkoritzinsky

[2020-08-04 04:24] geoffkizer commented on #39941
Possibly, yeah. Certainly we should have a discussion about that since it's a closely related issue.

As @antonfirsov said, I do worry about mixing all sorts of different error codes into a single exception/enum. But it's not obvious where the line should be drawn here, as shown in the above discussion.

[2020-08-04 04:28] ericstj commented on #630
I happened to be looking at this and prototyped a bit ran into more places that  use GetCustomAttributes.

https://github.com/dotnet/runtime/blob/6991ccd1e8cdfb640a74be7db54e81f456406d1f/src/libraries/Microsoft.XmlSerializer.Generator/src/Sgen.cs#L263
https://github.com/dotnet/runtime/blob/6991ccd1e8cdfb640a74be7db54e81f456406d1f/src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlAtt

[2020-08-04 04:34] geoffkizer commented on #40249
I'm find with making this change, and agree 100 is a reasonable value to choose.

That said, I do think this really only affects mostly artificial scenarios like perf tests. where we are intentionally issuing many requests at essentially the same time.

@JamesNK

There shouldn't be any failing requests here; we should get REFUSED_STREAM and then retry the request again, and it should succeed the s

[2020-08-04 04:36] geoffkizer commented on #39489
Per @stephentoub on the linked PR:

[2020-08-04 04:41] krwq commented on #37578
Note that this might be by design, see my comment here:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Security/src/System/Net/Security/TlsCipherSuiteNameParser.ttinclude#L554-L557

[2020-08-04 04:44] #40219 closed

[2020-08-04 04:46] wfurt commented on #37578
It is interesting that it does not match Windows behavior as @bartonjs expected.
Using something else then null may be still useful.  Or perhaps add explicit note to docs about AEAD.

[2020-08-04 04:58] scalablecory commented on #40249
My previous job did this fairly often, actually. But, I don't think it would be a bottleneck.

[2020-08-04 05:09] krwq commented on #37578
I believe Windows answer is wrong in that case (assuming by HashAlgorithm we mean MAC and that's what docs describe).

For reporting issue I'd reccomend to change Windows to use https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Security/src/System/Net/Security/TlsCipherSuiteData.Lookup.cs instead of answer returned by SChannel which returns hash used for HKDF

And then to impr

[2020-08-04 05:11] jaredpar opened #40301 "SafeSocketHandle.CloseAsIs hanging in finalizer thread"
This issue comes from investigating test failures on this Roslyn PR https://github.com/dotnet/roslyn/pull/46510

At the conclusion of running the unit tests for VBCSCompiler server the xUnit process will refuse to exit. The xUnit output will indicate that the tests have completed running but the process itself will not exit. Attaching the debugger to the xUnit process and there are two threads of

[2020-08-04 05:22] mangod9 commented on #40288
Hey @philieu, are you able to share a dump for this issue? Also has you possibly tried on latest 3.1.6 release? There were some issues fixed as part of that.

[2020-08-04 05:29] JamesNK commented on #40249
Hmm, my test was failing because all 250 requests weren’t ending up waiting on the server. I assumed that refused requests were failing completely. I will double check that.

[2020-08-04 05:41] mangod9 commented on #34884
Thanks @davidwrighton for investigating. Closing for now, @v-haren please reopen if this repros again.

[2020-08-04 05:41] #34884 closed

[2020-08-04 05:57] philieu commented on #40288
Hi @mangod9, sure I'll upgrade to 3.1.6 and will report back.

In the meantime, what's the best way to send the dump over? I can upload to OneDrive and share it with your Microsoft account?

[2020-08-04 06:21] davidfowl opened #40383 "Make Microsoft.Extensions.Logging linkable"
[code]

This is the logic:

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/Common/src/Extensions/ProviderAliasUtilities/ProviderAliasUtilities.cs

Here's some linker friendlier logic:

[code]

There are likely other provider specific issues but I haven't encountered those as yet.

cc @eerhardt

[2020-08-04 06:25] eriksimonic commented on #40258
@benaadams , hard to do when third party library uses the method.
@tarekgh why such a braking change?
At least is   <InvariantGlobalization>true</InvariantGlobalization> fisible option.
Thanks.

[2020-08-04 06:27] mangod9 commented on #13368
Hey @jashook is this blocking any infra runs?

[2020-08-04 06:44] noahfalk commented on #40276
@davidfowl Stackoverflow is a rougher experience than most other exceptions, but still quite doable with the proper incantations : ) Certainly its another area our documentation is lacking - tracked in issue https://github.com/dotnet/diagnostics/issues/1403. This is how you can do it:

1. Write app
[code]
2. Run it configured to collect a dump on crash
[code]
3. Debug the dump in lldb to see the f

[2020-08-04 07:02] danmosemsft commented on #40276
In 5.0 the runtime writes the managed attack overflow stack to stdout.

[2020-08-04 07:05] YairHalberstadt opened #40302 "Provide way for unit testing frameworks to catch StackOverflow exception"
## Background and Motivation

It's impossible to catch a StackOverflowException. This means that when a unit test throws one the unit testing framework just crashes. No other tests run, and it's very difficult to find out why the process crashed and on which tests - you need to go through the logs to work it out, and sometimes they don't even provide that information.

Stack Overflows are pretty c

[2020-08-04 07:40] alefranz commented on #40218
I agree this makes sense and it match my expectations. It is also the smaller change as it will not change the current behaviour when a section already exists, as it will only add it if missing.

I was asking as currently there is no easy way to clean up a config section, unless you add an extra json file to clear the section (setting it to null) before your actual json file the set the only prope

[2020-08-04 07:42] davidfowl commented on #40218
cc @ericstj @maryamariyan

[2020-08-04 07:55] alnikola commented on #39489
I will add it, but would like to better understand which rules control that. Please, see [my comment on the PR](https://github.com/dotnet/runtime/pull/40271/files#r464867054).

[2020-08-04 07:56] imhameed commented on #37489
https://github.com/dotnet/runtime/blob/8953bab5c03c717296dfb57107330b0aff87e16e/src/mono/mono/metadata/icall.c#L3082

This is producing a `MonoReflectionTypeHandle` that wraps a `MonoType` with the `byref` bit set.

[2020-08-04 08:04] Gnbrkm41 commented on #40302
Related: (Possibly duplicate of) https://github.com/dotnet/runtime/issues/4113 https://github.com/dotnet/runtime/issues/9183

I think providing the capability could be nice, but the problem I see is basically what @jkotas mentioned in the other issue https://github.com/dotnet/runtime/issues/9183#issuecomment-339204775 - That, there might not be enough stack space left for the handler to run.

IMO,

[2020-08-04 08:10] wstaelens commented on #29935
Windows Authentication in .net core does indead not seem to work as in full framework.
When will we see updates to this? we are porting an app to .net core 3.1 which heavily uses windows impersonation and also uses the policy "act as part of the operating system" so that it can process without having to have all passwords, but for now we are forced to enter all passwords...

[2020-08-04 08:30] OverQuartzer opened #40320 "HttpClient set headers error"
var client = new HttpClient {Timeout = new TimeSpan(0, 0, 30)};
 client.DefaultRequestHeaders.From = "ENSURE";

errorinfo:The specified value is not a valid 'From' header string.

i want set From  =  "ENSURE",but It reported a mistake

[2020-08-04 08:59] ivanprysyazhnyk-GL commented on #40270
In case dotnet is built without -cmakeargs -DARM_SOFTFP=1 -cmakeargs -DCLR_ARM_FPU_TYPE=none error "Illegal instruction" appears while executing it on device. However if I comments FPU instructions "Hello world" runs successfully but data abort appears in libraries when I run my application (this data abort do not exits when I execute on armhf processor).

[2020-08-04 09:11] MaceWindu commented on #38950
@AaronRobinsonMSFT could it also be a reason of system.data.oledb being unusable https://github.com/dotnet/runtime/issues/36954 ?

[2020-08-04 09:14] kjpou1 opened #40305 "[browser][io] Emscripten Error being overridden incorrectly on FS.Rename"
While renaming a file and if one of the parent paths do not exist the error code is being overwritten to EBUSY instead of reporting the actual error:

[code]

Reported error:  https://github.com/emscripten-core/emscripten/issues/11804

[2020-08-04 09:39] #38931 closed

[2020-08-04 10:19] akoeplinger opened #40307 "WASM: NullReferenceException in exception stack trace retrieval"
This shows up like this in tests:

[code]

or like this:

[code]

The common thing is that both of these call the `StackTrace.get_trace()` icall.

I was only able to reproduce this one time after a few hours of running System.Linq.Tests.Parallel tests locally and we hit this only ten times on all PRs in the last ten days so it seems quite rare.

/cc @vargaz

[2020-08-04 10:21] trylek commented on #40298
I have made a first pass over Sergiy's and Fadi's changes and over Fadi's description of the dictionary expansion algorithm. @jkotas, am I right to understand your suggestion so that, whenever we expand a given dictionary, we should retain something like a pointer to its previous (smaller) version so that, upon subsequent slot resolution we should back-propagate the resolved function pointer to al

[2020-08-04 10:51] #39619 closed

[2020-08-04 10:52] alnikola commented on #40249
@geoffkizer @JamesNK We can do that, but I'd like to point out it would be kind of a deviation from the standard because the following statements imply that peers can have an infinite number of streams if neither of them send `MaxConcurrentStreams` to the other.

... Initially, there is no limit to this value. It is recommended that this value be no smaller than 100, so as to not unnecessarily lim

[2020-08-04 11:02] stephentoub commented on #40301
cc: @tmds

[2020-08-04 11:08] JamesNK commented on #40249
Refused streams are definitely not being retried. Or if they are then a side effect is everything grinding to a halt.

Reproduction: [repos.zip](https://github.com/dotnet/runtime/files/5021697/repos.zip)

I've removed the gRPC client from the repo but tried to simulate a gRPC call as much as possible. How much is required I don't know. It is late!

1. dotnet run -c Release -p WebApplication61
2. d

[2020-08-04 11:11] janvorli commented on #39598
I've found that the reason for the growth here is the compiler. Compiling native shared libraries with clang 3.9 gets the same size as in .NET Core 3.1.
Comparing the 3.1 and 5.0 builds, I can see that especially the Brotli functions sizes have grown significantly:
[code]

My guess is that clang 9 that we use to build .NET 5.0 unrolls loops in a more aggressive manner.

[2020-08-04 11:16] alnikola commented on #40249
Yes, this mostly works as it's expected by the current implementation. We just need to decide on what is missing here:
1. Ensure `REFUSED_STREAM` is retried. Fix it if necessary
2. Initialize `_concurrentStreams` with something less than `int32.MaxValue`

Something else?

[2020-08-04 11:17] huoyaoyuan commented on #40290
Related: #39085

[2020-08-04 12:08] TonyValenti opened #40311 "System.Threading.Channels - Stack-like Behavior"
Currently System.Threading.Channels operates much like a queue: FIFO.
I essentially need a LIFO channel.
Can another parameter be added to the constructor args that determine whether it is FIFO or LIFO?

[2020-08-04 12:15] benaadams commented on #40311
`ConcurrentStack<T>`?

[2020-08-04 12:50] RoguePointer80 commented on #1548
This issue is now more than 3 years old, and the implementation is not *that* difficult; the conclusion from the discussion was that no API change was needed at this point since permissions save/apply on Unix is by-default, like other Unix tools (ZipInfo).
I see that Ian Hays started the work a while back, maybe I can get inspiration from that work and start a new branch.
Is there anything special

[2020-08-04 12:57] omajid commented on #40100
I am a bit swamped for the next two weeks or so, but I am happy to give this a shot right after.

Thanks for the pointers!

[2020-08-04 13:04] SamMonoRT commented on #40042
We'll close this as no additional failures since Zoltan's change was merged.

[2020-08-04 13:04] #40042 closed

[2020-08-04 13:06] SamMonoRT commented on #34750
Moving this to 6.0 milestone.

[2020-08-04 13:22] adamsitnik commented on #36292
From the numbers provided here, it looks like https://github.com/dotnet/runtime/pull/35330 has improved the performance compared to 3.1 and https://github.com/dotnet/runtime/pull/35800 has brought it back to the previous level (for these particular benchmarks). The goal of the first PR was to allow us to switch to a single epoll thread (second PR), which gave us BIG wins in all platform benchmarks

[2020-08-04 13:30] eiriktsarpalis commented on #31451
Here's what I got on my machine:
[code]

Note however that the benchmark results can fluctuate significantly across runs, including mean, stdev and allocation counts. In rare cases I've observed net5.0 record an up to 1.18 ratio compared to netcoreapp3.1.

[2020-08-04 13:42] benaadams commented on #38660
The .NET string hashing in dictionaries is strengthened against [hash collision attacks](https://en.wikipedia.org/wiki/Collision_attack); which is why it doesn't produce a sequential pattern of hashcodes

[2020-08-04 13:43] kjpou1 commented on #39365
We do not have access to the error code from the fetch API.  Do not think this can be resolved from the browser fetch api to bubble this error up.

[2020-08-04 13:50] benaadams commented on #38660
The .NET string hashing in dictionaries is strengthened against [denial of service hash collision attacks](https://arstechnica.com/information-technology/2011/12/huge-portions-of-web-vulnerable-to-hashing-denial-of-service-attack/); which is why it doesn't produce a sequential pattern of hashcodes

[2020-08-04 13:50] jaredpar commented on #40289
Played with this a bit more today and even if this is a doc bug there still seems to be a bit of a problem here because there is no reliable way to break a `NamedPipeServerStream` out of `WaitForConnectionAsync`.

Given the current implementation of `NamedPipeServerStream` the `WaitForConnectAsync` method will only complete under the following circumstances (at least as far as I can tell / experim

[2020-08-04 14:01] eerhardt commented on #40115
This just failed again on my PR

https://dev.azure.com/dnceng/public/_build/results?buildId=755967&view=logs&j=71afe768-e493-597c-228c-037834193aeb&t=3e74a8b7-5e62-58f8-6a85-9e36ef39d1c1

https://helix.dot.net/api/2019-06-17/jobs/a9968df9-6b68-4276-bb22-8a2a0a97863f/workitems/System.Net.Http.Functional.Tests/console

[code]

[2020-08-04 14:04] eerhardt commented on #39412
Resolved with #40204

[2020-08-04 14:04] #39412 closed

[2020-08-04 14:08] jkotas commented on #40298
Yes, I think that's the best way to fix it.

[2020-08-04 14:12] #39489 closed

[2020-08-04 14:16] geoffkizer commented on #40249
Yes, this is a good point. The server is not required to include MAX_CONCURRENT_STREAMS in their initial SETTINGS, in which case there's no limit. If we make this change, we'd artificially limit to 100.

I suppose we could use a temporary limit of 100 until we receive the first SETTINGS from the server, but that's a more complicated change.

[2020-08-04 14:17] geoffkizer commented on #40249
Is ASP.NET closing the connection? Does it send a GOAWAY? I seem to recall hitting an issue where ASP.NET would treat REFUSED_STREAM as reason to terminate the connection, which could be what we are seeing here.

Either way, we should track this down and figure out what's going on.

[2020-08-04 14:23] Clockwork-Muse commented on #40258
@eriksimonic - Outside the move to ICU, this sort of thing is always possible; you can construct/use custom cultures on windows that would have the same effect.

It might be handy to know what sort of third-party library you're using here; for instance, if you're doing data serialization/processing, you should likely be in the invariant culture anyways.  Although I'd probably raise a bug with them

[2020-08-04 14:27] jkotas commented on #39598
I think we should measure the Brotli performance with and without the loop unrolling, and disable the loop unrolling optimizations if they do not make material difference.

I have noticed that clang loop unrolling optimizations are very code-bloating and I have doubts about their effectiveness. We may want to disable them for coreclr as well. I suspect they are one of the contributors for why core

[2020-08-04 14:31] #39608 closed

[2020-08-04 14:34] geoffkizer commented on #36292
I think pushing this out is fine.

That said, while the issue is still fresh in our minds, any ideas what might have caused this @adamsitnik?

[2020-08-04 14:37] AaronRobinsonMSFT commented on #38950
@MaceWindu Perhaps. I don’t know how the OleDb is implemented, but if it involves a managed COM server the it is possible. Note that COM aggregation using a managed object could fall into this path as well. The behavior this issue introduces is unpredictable so knowing for sure is hard. Is there a small repo I can run? A unit test involving XUnit is rather complicated so a small console app is pre

[2020-08-04 14:41] jozefizso commented on #38950
@AaronRobinsonMSFT thanks a lot for fixing this issue. 🥇

[2020-08-04 14:43] sebastienros commented on #36292
@adamsitnik https://github.com/aspnet/Benchmarks/tree/master/scenarios#database-benchmarks

Use the crank cli now

[2020-08-04 15:06] franksinankaya commented on #40270
Yeah, I was referring to DCLR_ARM_FPU_TYPE section only.

You should not use that option on armel builds.

@janvorli thoughts?

You can maybe get the callstack in disassembly?

[2020-08-04 15:07] geoffkizer commented on #39941
@danmosemsft This discussion may interest you, as it's related to #926.

[2020-08-04 15:09] smbz opened #40314 "SslStream client on Linux incorrectly reports that it is mutually authenticated"
### Description

When using SslStream.AuthenticateAsClient with a client certificate, IsMutuallyAuthenticated is set to true even if the server did not request a client certificate and the client didn't send one.  It should be false, as the client has not authenticated itself to the server (which is the behaviour on Windows).

I've written a short demo program: [smbz/IsMutuallyAuthenticatedDemo](h

[2020-08-04 15:11] Symbai opened #40315 "[Proposal] string.NormalizeLineEndings"
__Edit by @GrabYourPitchforks on Wed 31 Mar:__ Fuller API proposal at the comment https://github.com/dotnet/runtime/issues/40315#issuecomment-811358895.

-----

## Background and Motivation

This is a very common issue developers run into especially on cross platform. When we handle a string which we don't created ourselves it might have a different line ending as expected. On Windows it can be a

[2020-08-04 15:17] CarnaViire commented on #1486
As Karel said, whether exception is thrown is determined based on a private field -- `m_type` for .NET Framework and `_type` for .NET Core -- and it throws only for a specific value, namely `m_Type==WebHeaderCollectionType.HttpListenerResponse` for .NET Framework and `_type == WebHeaderCollectionType.WebResponse` for .NET Core.

In .NET Framework `m_type` is set through an internal constructor htt

[2020-08-04 15:31] steveharter commented on #35422
@layomia I believe we should we call the out the "null input type semantics" as a breaking change in 5.0. We didn't throw previously, now we throw.

[2020-08-04 15:32] TonyValenti commented on #40311
@benaadams A ConcurrentStack doesn't operate the same way a channel does.  Just as a ConcurrentQueue isn't the same as a channel.

[2020-08-04 15:46] steveharter commented on #34456
Moving to Future; will address when we have a single story for metadata and improved object\collection converters.

[2020-08-04 15:53] adambajguz opened #40316 "TimeSpan.Parse of 24 hours instead of 1 day gives 24 days"
I come up with an issues with TimeSpan.Parse(string)

`System.TimeSpan.Parse("24:00:00")` results in `[24.00:00:00]` instead of an overflow error or just 1 day.
(This was tested on .NET Core 3.1)

`System.TimeSpan.Parse("00:60:00")` results in `System.OverflowException` and I think the same should happen in the case of `System.TimeSpan.Parse("24:00:00")`

[2020-08-04 15:54] mangod9 commented on #40298
I am guessing we need to add a perf benchmark here to ensure this doesnt regress again, unless System.Collections already has one for this scenario?

[2020-08-04 15:59] adamsitnik commented on #36292
@sebastienros thanks for the link, it was exactly what I needed!

I've run the benchmarks for 3.1.5 vs 5.0 using perf machine (12 cores, close to real life scenarios) and Citrine (TechEmpower, 28 cores):

Machine | Benchmark | 3.1 | 5.0 | "(5.0/3.1) - 1"
-- | -- | -- | -- | --
perf | fortunes (ADO.NET) | 97,615 | 110,035 | +12.72%
  | fortunes_ef (EF) | 67,787 | 70,534 | +4.05%
citrine | fortunes

[2020-08-04 16:00] adambajguz commented on #40316
Generalizing: ` System.TimeSpan.Parse("N:00:00")` for N >= 24 is treated as  `System.TimeSpan.Parse("N.00:00")`

[2020-08-04 16:02] steveharter commented on #36785
Moving to future.

There are three aspects to this issue that overlap, so we want a single, consistent model to cover these:
- Extensible model for object and collections, as an alternative to the existing "value-type" converter model:
  - Leverage the existing object- and collection- converters that were exposed in https://github.com/dotnet/runtime/issues/1562
  - Support before- and after- notif

[2020-08-04 16:03] youn123 opened #40317 "How to query signed in user's security groups"
@joperezr

Is there a way to query the list of Active Directory security groups that the currently signed in user is a member of using the `System.DirectoryServices` or `System.DirectoryServices.AccountManagement` API?
By currently signed in, I mean the user signed in to the machine (as shown in the screenshot).

<img width="399" alt="ad" src="https://user-images.githubusercontent.com/19635090/893

[2020-08-04 16:04] AndyAyersMS commented on #39673
I'll investigate.

[2020-08-04 16:05] AndyAyersMS commented on #39678
I'll investigate.

[2020-08-04 16:09] layomia commented on #1153
The `CanConvert` method of your generic custom converter [always returns `true`](https://github.com/vintzl/Buggy_JsonConverterOfT/blob/master/CustomJsonConverter.cs#L14) which means that you're indicating that the first concrete converter [you added to `JsonSerializerOptions.Converters`](https://github.com/vintzl/Buggy_JsonConverterOfT/blob/master/Startup.cs#L27) should be used for all types in th

[2020-08-04 16:09] #1153 closed

[2020-08-04 16:10] AaronRobinsonMSFT commented on #36582
Unfortunately time has run out for this work. The scope here should ideally add support in Mono as well and although CoreCLR may be a minor change the work in Mono would be substantial. Moving this to .NET 6 so we can add support in unison.

[2020-08-04 16:16] SteveSyfuhs commented on #32680
Speaking as the author of Kerberos.NET, the library only implements SPNEGO enough to make it create and receive Kerberos tickets, and only implements enough of NTLM to explicitly detect an NTLM message to fail the call. You could use it a foundation to build out better NTLM/negotiate support, though that wasn't its intended purpose. I'd invest more time and energy trying to get customers to ditch

[2020-08-04 16:16] AaronRobinsonMSFT commented on #40131
@imaramos Can you verify the needed dependencies are those versions? It is possible, for Debug builds, the debug versions of those binaries are needed (i.e. `vcruntime140d.dll`). This can be determined by running the following at a Developer command prompt: `dumpbin /imports <assembly>.dll`

/cc @tgani-msft @jkoritzinsky

[2020-08-04 16:24] mkArtakMSFT commented on #40320
@ericstj is HttpClient something your team owns?

[2020-08-04 16:27] geoffkizer commented on #40320
This behavior is by design. As mentioned above, the right way to do this is to use TryAddWithoutValidation.

[2020-08-04 16:27] #40320 closed

[2020-08-04 16:37] Hulkstance commented on #40217
@scalablecory, thanks for your answer! That's what I did:

[code]

[2020-08-04 16:39] jkotas commented on #40298
I am pretty sure that it does not. This is startup regression. All our feature-specific benchmarks are testing steady state throughput.

Similar regression can be be hit by any generic method with high-enough complexity. The pattern that triggered it in the original repro was use of Linq that is known to produce complex generics-heavy code.

[2020-08-04 16:40] wfurt commented on #40314
It seems like the code looks for availability of certificate for both sides. As you mentioned, that does not proof that sever actually asked for it. I don't know if OpenSSL has API to track that.

[2020-08-04 16:41] jaredpar commented on #38683
This logic seems to apply to `DynamicAttribute` and `TupleElementNamesAttribute` yet those are in the BCL.

[2020-08-04 16:51] alexcovington commented on #39787
@hoyosjs Thanks for the tip on the CMakeLists, I'll focus on just getting this to build outside of Visual Studio first.

CMake version is 3.18.0.

I did not have `Microsoft Visual Studio\2019\Community\DIA SDK` on my path, I added that.

I had many versions of the Windows SDK installed, so I uninstalled them all and reinstalled just Windows SDK 10.0.19041.1.

I tried running the `build-runtime.cmd

[2020-08-04 16:57] imaramos commented on #40131
This is the output of that command:

[code]
`ijwhost.dll` is placed in the bin folder, and I have tried to copy `VCRUNTIME140.dll`  `MSVCP140.dll` to c:/Windows/System32 with no luck

[2020-08-04 16:58] danmosemsft commented on #39941
It would be good to think about where this is going - I've no doubt they will discuss this in API review as well. Currently, there is not much use of managed error code enums in our exceptions.

1. Are we inevitably ending up with one giant list of codes, as in Win32 or Unix? There will certainly be overlap with file IO codes, and codes relating to security (eg access denied). This is visible in t

[2020-08-04 17:04] AaronRobinsonMSFT commented on #40131
@imaramos Thanks for confirming this. The `System.BadImageFormatException` is typically related to bitness mismatch so I would verify that next. Is everything 64-bit or 32-bit? This can be verified using the `dumpbin` command with the `/headers` flag. Verifying all the deployed and generated binaries is key here. I assume the target platform is amd64-bit nanoserver?

[2020-08-04 17:04] janvorli commented on #39787
@alexcovington it seems that something from the dia library is missing or midl or tlbimpl were not found. Would you mind trying to instrument the src/coreclr/src/ToolBox/SOS/DacTableGen/CMakeLists.txt a bit to pinpoint the culprit?

The instrumentation would be simple. Right after the `FIND_PROGRAM(MIDL midl.exe)` line, you'd add a couple of new lines:
[code]

Then run the `build-runtime.cmd` and

[2020-08-04 17:05] hoyosjs commented on #39787
Oh sorry, didn't mean to say that needs to be in the path, but rather if that path exists on your machine.

[2020-08-04 17:06] #39380 closed

[2020-08-04 17:07] terrajobst commented on #38011
Looks good as proposed.

[code]

[2020-08-04 17:12] stephentoub commented on #40289
@scalablecory, do we expose any way to cancel an asynchronous accept operation other than disposing of the socket?

[2020-08-04 17:14] stephentoub commented on #40289
(Fixing this correctly will likely require the AcceptAsync overload approved-but-not-yet-implemented in https://github.com/dotnet/runtime/issues/33418.)

[2020-08-04 17:15] scalablecory commented on #40289
Nope, we need a new API for that.

[2020-08-04 17:17] imaramos commented on #40131
Thank you for the help!  Yes everything is running on 64-bit
[code]
Yes I am targeting amd64-bit, I have tested the same code in windowserver core and it worked, the only difference was that in windowservercore I was able to install https://aka.ms/vs/16/release/vc_redist.x64.exe.
I am actually using docker with this image mcr.microsoft.com/dotnet/core/aspnet:3.1.6-nanoserver-2004 which is amd64.
O

[2020-08-04 17:18] tarekgh commented on #40258
@eriksimonic, the answer of @Clockwork-Muse is correct. .NET 5.0 is by default using ICU and NLS. you have the option to switch back to NLS. but I wouldn't recommend that because NLS data can change too especially Windows working hard to converge with CLDR data which is shipped with ICU. As @Clockwork-Muse mentioned, if you want to guarantee the parsing, you should format and parse using Invariant

[2020-08-04 17:27] jashook commented on #13368
This is not blocking infra, I will reassign as area gc. The test has been disabled for a bit now.

[2020-08-04 17:27] AaronRobinsonMSFT commented on #40131
@imaramos Thanks. At this point I agree with the assumption this is some install issue. Seems we need to get the VC team involved as they should be able to help guide the investigation if the nanoserver is the issue since servercore works as expected. Let me reach out to them offline and bring them in.

[2020-08-04 17:28] mangod9 commented on #13368
this hasnt failed with GCStress scenarios it appears. Does JITStress do any allocations when they are not expected leading to the failure?

[2020-08-04 17:29] steveharter commented on #40072
That would be good.

We should [doc ](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializeroptions?view=net-5.0) this better. Changing to doc issue.

If just the default options are used (no explicit options instance passed in) then the default options instance is automatically cached. It is also cached under ASP.NET. Also we plan on making it [easier](https://github.com/dotn

[2020-08-04 17:29] steveharter commented on #40072
Also dup of https://github.com/dotnet/runtime/issues/38982

[2020-08-04 17:31] jashook commented on #13368
You are correct, I saw a close but different test in issues.targets. This test does not seem to be failing anymore in jit stress. https://dev.azure.com/dnceng/public/_build/results?buildId=756064&view=ms.vss-test-web.build-test-results-tab. I will close, we can open again if it pops again.

[2020-08-04 17:31] #13368 closed

[2020-08-04 17:31] DrewScoggins commented on #39027
You can find the perf reports at aka.ms/dotnetperfstatus

[2020-08-04 17:34] DrewScoggins commented on #39114
I will take a look at this and make sure I am seeing the same behavior, if so we can close this given @jkotas investigation.

[2020-08-04 17:34] alexcovington commented on #39787
@janvorli Seems like it can't find `tlbimp.exe`. I added the lines in your post (changed `TLBIMPL` to `TLBIMP` to match the existing variables) and the output I get when running `build-runtime.cmd` gave me:

[code]

Am I missing a dependency? What should I install/reinstall to get the executable?

[2020-08-04 17:37] steveharter commented on #32357
The comment and a cloning approach is feasible, but moving to Future since it will tie together with memory conservation work planned for Future by https://github.com/dotnet/runtime/issues/1568

[2020-08-04 17:38] DrewScoggins commented on #37426
This is from very early in the auto-filing work and some things changed on the backend that broke that link. In general, this should not happen going forward. Given we don't have this report and the lack of any real local repro closing seems fine here.

[2020-08-04 17:38] steveharter commented on #31326
@Jacko1394 is this still on 3.1? Have you been able to try this on any 5.0 previews?

[2020-08-04 17:39] imaramos commented on #40131
@AaronRobinsonMSFT thank you so much for helping me with this issue. From my perspective this is an important issue because C++/CLI only works on windows and I don't see intentions to support it on linux.

Just for you and the team to analyze:

**This is what I am trying with nanoserver (and failing)**
[code]
 **This is what I have tried before with windowsserver core that worked**
[code]

[2020-08-04 17:42] AaronRobinsonMSFT commented on #40131
@imaramos Any chance you can try a pre-2004 version? Just for the sake of sanity it might help to understand if this is a new OS asset issue or something that been an issue for a while.

[2020-08-04 17:43] DrewScoggins commented on #37806
Also for completeness, you can find the Windows vs Linux and Linux vs Windows comparisons on aka.ms/dotnetperfindex here

![image](https://user-images.githubusercontent.com/9439069/89326516-478e1900-d63f-11ea-9870-8842670f094c.png)

[2020-08-04 17:45] tommcdon opened #40323 "Add cross-plat debugger support to dbgshim"
Add cross-plat support to the windows version of dbgshim to support Linux ELF dumps

- Extract the ELF build ID from coreclr
- Update Windows build of dbgshim to recognize Linux libcoreclr.so
- Add ICLRDebuggingLibraryProvider3::ProvideLibrary3 callback API

WIP PR: #39464

@sdmaclea @hoyosjs

[2020-08-04 17:45] jeffhandley commented on #39401
@ViktorHofer I think we have the following options:

1. Conditionally apply the `[Obsolete]` attribute only when targeting net5.0+ (my original proposal)
2. Apply the `[Obsolete]` attribute always, but when targeting net5.0+, use the new `DiagnosticId` and `UrlFormat` properties on the attribute
3. Create an internal `System.ObsoleteAttribute` within the ref assembly that has the `DiagnosticId` an

[2020-08-04 17:45] danmosemsft commented on #37806
@DrewScoggins thanks, could you please update the issue opener script to include this link in future issues? I'm trying to make it as easy as possible for folks.

[2020-08-04 17:49] terrajobst commented on #39941
* We'd generally recommend against either extreme (one exception with lots of error codes or as many exceptions as error states) because it creates a mess.
* Instead, we recommend to have one exception type per mainline scenario that the user is likely to write error handling for. It's OK if more advanced cases involve inspecting the exception's error code or inner exception.
* We can even introdu

[2020-08-04 17:52] safern commented on #39401
If our tooling support option 3 I think that would be the best option from my perspective. However, if we can't do that, I think doing 2 is also fine.

If we're going with 2 or 3, should we also do this for other OOB packages that had their APIs marked as Obsolete?

[2020-08-04 17:52] imaramos commented on #40131
Yes, tried wit  mcr.microsoft.com/windows/servercore:1909 + mcr.microsoft.com/dotnet/core/aspnet:3.1.6-nanoserver-1909 and got the same issue

[2020-08-04 17:58] DrewScoggins commented on #37814
I agree. This looks like a place where the test is not measuring the right thing.

Also to answer your questions Dan:

These 3.1->5.0 comparisons are weird because they span the coreclr/corefx->runtime switch. As a result I never really built in a way to do commit level comparisons across the repos, but I would say that what you did was correct. It would be hard to go bak and get any more data poi

[2020-08-04 18:01] janvorli commented on #39787
I have tlbimp that is executed during the build at `C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.8 Tools\x64\TlbImp.exe`.
It seems you might missing the .NET Framework 4.8 SDK installation in the Visual Studio.

[2020-08-04 18:04] #32199 closed

[2020-08-04 18:07] steveharter commented on #29743
Are you referring to using a `record` type and having the serializer calling the appropriate constructor? If so, that was fixed in preview 7 via https://github.com/dotnet/runtime/issues/38539.

If you just are using the `init` modifier directly on a property (not a record type) that should have worked in 6.0 since the runtime doesn't prevent reflection or IL Emit'd code from calling the setter AFA

[2020-08-04 18:23] trylek commented on #38919
Status update - I got traditionally delayed on this; after rebasing my initial changes against the recent addition of F# support I started hitting weird behavior that took me quite some time to track down. I'm trying to put together at least a scoped down version of the cleanup; if I don't manage to make that work by tomorrow, I'll need to postpone this to September as I don't think it would be a

[2020-08-04 18:26] adamsitnik commented on #37806
Yes, I've also removed the lock in https://github.com/dotnet/coreclr/pull/24973. To my knowledge, we are doing the best we can with ICU but it's simply slower than some Windows APIs that we are using.

[2020-08-04 18:30] #35458 closed

[2020-08-04 18:31] davidwrighton commented on #39573
We won't be fixing this in .NET 5.

[2020-08-04 18:31] ericstj commented on #39042
Do we think its worth the risk to change the name at this point in the release?  What could break if we change this name?  cc @steveisok @akoeplinger

[2020-08-04 18:33] ViktorHofer commented on #37953
Blocked until 5.0 P8 SDK is released.

[2020-08-04 18:37] davidwrighton commented on #13590
@xsoheilalizadeh @TheMinefighter Do you see this issue only while debugging, or are you seeing the failure when not under the debugger?

[2020-08-04 18:44] AndyAyersMS commented on #36636
These haven't failed in the past 3 weekend runs, and I've never been able to repro them locally. So closing.

[2020-08-04 18:44] #36636 closed

[2020-08-04 18:47] AndyAyersMS commented on #36971
These haven't failed in the past 3 weekend runs, so closing.

[2020-08-04 18:47] #36971 closed

[2020-08-04 18:48] GrabYourPitchforks commented on #29789
Closing per https://github.com/dotnet/designs/blob/master/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md.

[2020-08-04 18:48] #29789 closed

[2020-08-04 18:49] GrabYourPitchforks commented on #30279
Closing per https://github.com/dotnet/designs/blob/master/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md.

[2020-08-04 18:49] #30279 closed

[2020-08-04 18:55] GrabYourPitchforks commented on #40316
Repros in .NET 5.0 RC1 and .NET Framework 4.8.

[2020-08-04 18:57] danmosemsft commented on #39108
I don't have an Ubuntu machine handy at the moment, but confirmed there's no regression on Windows:

BenchmarkDotNet=v0.12.1, OS=Windows 10.0.19041.421 (2004/?/20H1)
Intel Core i7-7700 CPU 3.60GHz (Kaby Lake), 1 CPU, 8 logical and 4 physical cores
.NET Core SDK=5.0.100-rc.1.20404.3
  [Host]     : .NET Core 5.0.0 (CoreCLR 5.0.20.40203, CoreFX 5.0.20.40203), X64 RyuJIT
  Job-RPUQNW : .NET Core 3.1.6

[2020-08-04 19:04] terrajobst commented on #40111
* We'll capitalize the first letter in Apple platforms when they are part of a longer name, such as `IsTvOS` (instead of `IstvOS`).
* We've decided to move all members to `OperatingSystem`, which doesn't expose any statics today. This avoids creating a dumping ground in `Environment`.
* We'll try to pull the members from `OSPlatform` we added in the earlier .NET 5 preview
* `FreeBSD` has versions,

[2020-08-04 19:08] antonfirsov opened #40328 "RFC 6265 for Cookies - remaining issues"
This is a follow-up on #26141. In #39250 and #39781 we implemented fixes for path and domain related problems reported in in the original issue. With this, we unblocked most users, however we can't claim RFC 6265 conformance yet, there are still many deviations and obsolete behaviors we need to investigate and change.

In many cases browsers also deviate from RFC. In these cases we need to make de

[2020-08-04 19:10] antonfirsov commented on #26141
We fixed the path and domain related issues reported in the opening comment in #39250 and #39781.

I'm closing this in favor of #40328, I summarized our current status in that new issue.

[2020-08-04 19:10] #26141 closed

[2020-08-04 19:12] adamsitnik commented on #37814
Nice "trick"! I wonder if BenchmarkDotNet should do something like this between the iterations to try to ensure more random memory alignments (cc @AndreyAkinshin @billwert )

[2020-08-04 19:13] geoffkizer commented on #40328
Re (2), I think it will be hard to change this behavior in the future. So we should make sure that we think what we are doing today is correct.

Re (1) and (3), I think we can deal with these in a future release.

[2020-08-04 19:16] ViktorHofer commented on #38919
Thanks for the update Tomas. We can definitely move this to September, just let us know :)

[2020-08-04 19:19] danmosemsft commented on #39941
I couldn't make the API review - I'll try to watch the recording, but was #926 considered when rejecting C?

Because if we do #926, we'll end up with an IOException with IOError and a derived NetworkException with both IOError and NetworkError each using their own enums. Is that what we want?

[2020-08-04 19:21] lewing commented on #39042
Nothing external should break at this point, the name is already different than the 3.2 counterpart.  The name is referenced in a couple of places by the js in a couple of places internally.

[2020-08-04 19:22] steveisok commented on #39042
I think this is pretty low risk and we should be able to change it.

[2020-08-04 19:24] billwert commented on #37814
Would be an interesting experiment! Perhaps we should take some random sample of benchmarks (1/type?) and see what stability this gives us over repeated runs compared to not doing it?

[2020-08-04 19:30] geoffkizer commented on #39941
The general consensus seemed to be that we didn't want to pollute IOException with a bunch of network-specific error codes.

I assume the same logic would apply to file system errors -- that is, we'd define something like FileSystemException that derives from IOException and has a FileSystemError enum on it.

[2020-08-04 19:34] danmosemsft commented on #39941
Unfortunately IO operations can throw various types derived from IOException, Eg., DirectoryNotFoundException, PathTooLongException. Those would not be FileSystemExceptions, and callers would need to continue to catch them separately in order to distinguish them. If the error codes were on IOException, they would not.

[2020-08-04 19:37] GSPP commented on #33873
It seems like a good idea to me to do both.

[2020-08-04 19:38] danmosemsft commented on #37814
Does BDN have an opportunity to do this? In this case it needs to influence the alignment of arrays that are allocated within the setup method:

[code]
If I'm understanding correctly, the `GC.KeepAlive(new byte[r.Next(32)]);` needs to be sprinkled within there. What you suggest might be useful if the allocations are within the benchmark itself?

[2020-08-04 19:43] danmosemsft commented on #40316
Documented behavior.

[2020-08-04 19:43] #40316 closed

[2020-08-04 19:49] Felk commented on #29743
I was running into this issues which has since been resolved: https://stackoverflow.com/q/62648189/3688648

[2020-08-04 19:54] steveisok commented on #1018
For the most part, I think we're migrated.  I think what's left is for 6.0 and beyond.

[2020-08-04 20:01] JamesNK commented on #40249
Yes a GOAWAY is sent. The server is closing the connection because the client is not sending it request data in a timely fashion. Perhaps because of a hang? Or a built in delay from REFUSED_STREAM?

This is the log from the repo I linked to: [log.txt](https://github.com/dotnet/runtime/files/5024235/log.txt)

[code]

[2020-08-04 20:03] geoffkizer commented on #40249
What does request ID "(null)" mean here?

I suspect there's something wonky with ASP.NET's handling of REFUSED_STREAM.

[2020-08-04 20:08] WizardBrony opened #40335 "Potentially unnecessary check in DelayPromise constructor (Task.Delay)"
https://github.com/dotnet/runtime/blob/1e961bab56f33b7b5179b9a70ca0724428d1b8af/src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs#L5385-L5391

I don't see how this race condition is possible. This is in the DelayPromise constructor. DelayPromiseWithCancellation derives from DelayPromise and calls DelayPromise's constructor via : base(millisecondsDelay). This means DelayPromis

[2020-08-04 20:09] JamesNK commented on #40249
I'll look into that.

There are also very interesting results when there is no request body from the client. Log file: [log.txt](https://github.com/dotnet/runtime/files/5024265/log.txt)

Requests eventually all make it to the server, but it takes a long time (a second per request). I think some are stuck in a retry loop on the original connection.

[code]

0HM1OM5MI1C0S is full but continiously be

[2020-08-04 20:12] akoeplinger commented on #39042
I think I already did this as part of https://github.com/dotnet/runtime/commit/c6520585b6f48d80228241320198b2efdb8e0fe5.

[2020-08-04 20:15] ViktorHofer commented on #39042
Thanks Alex. You missed removing the P2P in the test project (as it wasn't part of the targeting pack before): https://github.com/dotnet/runtime/blob/c91269cb959a78309d0fa3040ae6028cce97f86e/src/libraries/System.Runtime.InteropServices.JavaScript/tests/System.Runtime.InteropServices.JavaScript.Tests.csproj#L21-L22

[2020-08-04 20:16] eerhardt opened #40336 "Linker warnings IL2008 and IL2009 when trimming non-Windows CoreCLR application"
When publishing a linux-x64 app with

[code]

I'm getting the following warnings that I don't get on a Windows CoreCLR application:

[code]

This is because we are referencing Windows-only types in our ILLink.Descriptors.xml file for all platforms of CoreCLR.

https://github.com/dotnet/runtime/blob/c91269cb959a78309d0fa3040ae6028cce97f86e/src/coreclr/src/System.Private.CoreLib/ILLinkTrim.xml#L17-L

[2020-08-04 20:17] ViktorHofer commented on #39042
Submitted https://github.com/dotnet/runtime/pull/40337 to clean this up. Meanwhile, this issue can be closed. Thanks all.

[2020-08-04 20:29] steveisok commented on #39042
@ViktorHofer I still think we need to change the name since it's internal.

[2020-08-04 20:31] akoeplinger commented on #39042
I wasn't aware of this issue and that this is an internal library for 5.0 so I think we'll need to remove the reference assembly again.

[2020-08-04 20:33] safern commented on #39042
We don't need to remove the ref assembly, we can make the ref to not be shipped if we want to:

https://github.com/dotnet/runtime/blob/master/src/libraries/NetCoreAppLibrary.props#L149

[2020-08-04 20:33] ViktorHofer commented on #39042
@safern Why would we keep the ref if we aren't shipping it?

[2020-08-04 20:35] JamesNK commented on #40249
It is null because the message is used for HTTP/1.1 and HTTP/2. There will be a specific ID for HTTP/1.1, but since all streams share the same connection in HTTP/2 it is "(null)".

I don't think this is related to ASP.NET Core + refused streams. I think there are requests on the server waiting for data and HttpClient has not sent it to them.

[2020-08-04 20:38] ViktorHofer commented on #38755
@jkoritzinsky should this issue be closed now?

[2020-08-04 20:40] ViktorHofer commented on #38138
@DrewScoggins @safern what's the status on this?

[2020-08-04 20:40] safern commented on #39042
I don't know, because we plan on making it public further down the road and to simplify the change; I guess "if we want to" wasn't clear enough to express that 😄.

I guess I was just trying to express that we have libraries where the ref is OOB and the implementation Inbox. In this case the ref is not even OOB, so if we don't need the ref for anything, removing it sounds reasonable.

[2020-08-04 20:42] safern commented on #38138
Let's keep this in 5.0.0 as I think it should be prioritized, since it is blocking clean CI.

Yeah @Forgind those are the only logs that we found in the computer, is there another way we can get more logs for this?

[2020-08-04 20:42] tarekgh opened #40339 "Add a way to the ActivityListeners to add more data to the Activity when it gets created"
## Background and Motivation

We have exposed the following API in the `ActivitySource` class to create and start the activity.
[code]

If there is any listener to the Activity events, the parameters passed to `StartActivity` will be sent to the listener to decide if want to create the Activity object and with what initial contents.
OpenTelemetry samplers create a listener to sample in or out the

[2020-08-04 20:43] tarekgh commented on #40339
https://github.com/open-telemetry/opentelemetry-dotnet/issues/953

[2020-08-04 20:44] tarekgh commented on #40339
CC @lmolkova @noahfalk @cijothomas

This proposal is pending the other renames, will try to add it shortly.

[2020-08-04 20:44] TheMinefighter commented on #13590
@davidwrighton I experienced the error debugging with JB Rider, It seems not to be possible to reproduce this reliably, or at least not for me.

[2020-08-04 20:46] lesscodetxm opened #40412 "w3wp.exe crash in FileSystemWatcher after 2.2 -> 3.1 migration (c0000005 Access Violation)"
We've started seeing several crashes in production services after migrating from 2.2 to 3.1. The services run fine for several hours but then will suddenly crash and recycle.

For example:

[code]

[code]

[2020-08-04 20:52] geoffkizer commented on #40249
Ok, but which ones? That's why the "(null)" confuses me; I'd expect it to indicate the particular stream that's not behaving properly.

[2020-08-04 20:55] trylek commented on #38919
I think I have finally realized how to approach this; I don't want to just punt it. I was trying to get too much stuff done in a single PR and that's not good in this case. I'm trying to remake the change by making it minimal in the sense that it only does the "disruptive things" - it basically renames <code>src/coreclr/build-test.cmd/sh</code> to <code>src/tests/build.cmd/sh</code> and <code>src/

[2020-08-04 20:57] jkoritzinsky commented on #38755
Yes I think we can close this.

[2020-08-04 20:57] #38755 closed

[2020-08-04 21:05] windhandel commented on #29122
@GrabYourPitchforks - Sorry, my AV was not WinCrypt related I don't believe. I was getting the same HResult from a Stack Overflow in ASP.NET Core. Except, the overflow was not causing any exception, not even with first chance exceptions enabled, it was just crashing the app domain entirely. I stumbled across the stack overflow, resolved and now the AV and app domain crash are gone.

[2020-08-04 21:05] alexcovington commented on #39787
.NET Framework 4.8 SDK is installed in Visual Studio, but it wasn't anywhere on my PATH. I added it to my PATH and got further in the build, however now I get the error:

[code]

I've confirmed that the Windows Universal C Runtime is installed in VS 2019.

![wucrt](https://user-images.githubusercontent.com/68252706/89344880-74e8c000-d65b-11ea-89d2-56ab3d88b6d0.PNG)

[2020-08-04 21:18] DrewScoggins commented on #39108
|        Method | Size |     Mean |     Error |    StdDev |   Median |      Min |      Max |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|-------------- |----- |---------:|----------:|----------:|---------:|---------:|---------:|-------:|------:|------:|----------:|
| ConcurrentBag |  512 | 2.023 us | 0.0053 us | 0.0041 us | 2.022 us | 2.019 us | 2.034 us | 0.3317 |     - |     - |   2.05 KB |

|

[2020-08-04 21:20] scalablecory commented on #39941
@danmosemsft from review:
- We should avoid an `IOError` enum that would become a dumping ground for disparate errors.
- Properties on exceptions should generally be informational and not something you would test to make decisions. We should avoid the need for exception filters and prefer concrete types for those exceptions where we expect users to do more than log/bubble.

[2020-08-04 21:26] ViktorHofer commented on #40215
Submitted a fix: https://github.com/dotnet/runtime/pull/40341. Sorry the inconvenience this caused.

[2020-08-04 21:29] eerhardt commented on #40336
We are also getting `IL2037` when linking the runtimepack on non-Windows.

[code]

See the global suppression added in https://github.com/dotnet/runtime/pull/40268/commits/a1a8b489c737b6afbebe9157571e25357dc36974#diff-749a6d32ee50a25c6076a389e2c805e3R27. We need to fix that as well.

[2020-08-04 21:30] ViktorHofer commented on #39042
@steveisok @akoeplinger can you make a decision on what we should do here for 5.0? In master right now we expose a ref assembly which means the assembly isn't private atm. Should we remove the ref assembly and rename library or keep the ref and hence expose the lib?

[2020-08-04 21:31] specialforest commented on #36026
+1, .net has two(!) implementations of MemoryCache and both are terrible!

[2020-08-04 21:31] ViktorHofer commented on #32935
@MichalStrehovsky @brianrob I assume this is required for 5.0? Is someone actively working on this?

[2020-08-04 21:32] ViktorHofer commented on #32805
I struggle finding the action item for this issue besides continue ref-counting when the issue happens again. Hence I'm inclined moving this to Future.

[2020-08-04 21:33] ViktorHofer commented on #34015
I don't see how we can possibly improve this before we branch-off to 6.0 hence I'm moving this out of 5.0.

[2020-08-04 21:35] tarekgh commented on #40335
CC @benaadams who originally introduced this code.

CC @stephentoub

[2020-08-04 21:36] steveisok commented on #39042
I thought I said changing it would be low risk and something we should be able to do.

To be clear, if it's internal in 5.0, we should treat it as such and rename / remove the ref.

[2020-08-04 21:44] KathleenDollard commented on #33980
Sorry I missed this. I'll catch up with some folks.

[2020-08-04 21:46] stephentoub commented on #39941
Why? The moment you want to do the same thing for multiple values, it's simpler and cleaner to use a filter.

[2020-08-04 21:47] alfkonee commented on #39429
I Suppose a Token can be used as teh Default but the main Aim of this is to help the user specify the Root Object path from which the user would like the Json Data be placed on

[2020-08-04 21:51] stephentoub commented on #40335
The line before this starts the timer, which may cancel this instance. This code is valid. What is the concern?

[2020-08-04 21:51] cijothomas commented on #40339
@CodeBlanch to share his ideas.

ActivityDataRequest -> ActivitySamplingResult
public delegate ActivityDataRequest GetRequestedData -> public delegate ActivitySamplingResult GetRequestedSampling

Do consider the following as well:
Activity.IsAllDataRequested -> Activity.Sampled

[2020-08-04 21:54] tarekgh commented on #40339
@cijothomas you suggestions looks reasonable to me. do you think the enum fields names are still ok?

[code]

[2020-08-04 21:56] WizardBrony opened #40343 "Inconsistency between Task.Delay and Threading.Timer"
Task.Delay() creates and returns a DelayPromise, which is a promise-style Task that completes after a Threading.Timer callback executes. This Task completes **_synchronously_** (notice the implicit call to the default Task() constructor):

https://github.com/dotnet/runtime/blob/b552749906402ec7994150bc9dd8970440dbb9c3/src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs#L5368-L5

[2020-08-04 21:59] JamesNK commented on #40249
I think that is a little difficult to indicate the offending stream in that message. Which stream ID do you report? Every stream ID on the connection that is trying to read data at the point the error happened? The stream ID that has been trying to read data the longest?

Another log, this time what happens when minimum data rate is disabled on the server: [log.txt](https://github.com/dotnet/runti

[2020-08-04 22:01] WizardBrony commented on #40335
@stephentoub Ah, I see now. I thought the comment was referring to the CancellationToken cancelling, not the Timer executing. Thank you for the clarification.