[2020-10-01 16:42] #42952 closed

[2020-10-01 16:43] sdmaclea opened #42954 "Investigate need for Apple Silicon fix to `Internal_Convertfwrite(...)`"
During AppleSilicon initial bring-up we observed a test failure where the `Internal_Convertfwrite(...)` function was being called with an empty string.  This was being treated as a failure during the MultiByte to utf-8 conversion.  For the conversion reporting a failure in this case was incorrect.  Therefore a fix was included in #40435.

However, it is not clear why this only occurred for `osx-ar

[2020-10-01 16:44] AndyAyersMS commented on #42925
I looked at this next failure a bit but ended up wondering what IL was being emitted, and got distracted trying to figure out why I couldn't enable regular jit dumps (which among other things would show the IL). I think there's something off with the implementation of `getStringConfigValue` in the jit host. I suspect maps that use `const uint16_t*` as keys likely won't work when the strings are pa

[2020-10-01 16:57] sdmaclea opened #42955 "Investigate need to strip pointer authentication bits for osx-arm64 unwind"
Based on early testing on Apple Silicon 40435 added a workaround to fix an error with libunwind failing to strip pointer authentication bits.

See https://github.com/dotnet/runtime/pull/40435/files/af4db134ddd9deea10e75d3f732cc35d3b61119e#r479544995

The workaround needs to be justified and/or removed.

[2020-10-01 17:09] michaldobrodenka commented on #42870
Thank you guys!

[2020-10-01 17:11] hoyosjs commented on #42953
`src/coreclr/src/pal/prebuilt/inc/corerror.h` has the master list of errors, and the descriptions if available are at https://github.com/dotnet/runtime/blob/master/src/coreclr/src/inc/corerror.xml

[2020-10-01 17:17] ScotMac commented on #42679
@wfurt, see above where i said we are passing 5 and 2 (we take the values IN via ms, but convert to seconds for the NEW interface).

[2020-10-01 17:19] mangod9 commented on #42912
I am able to repro this. I have reduced the repro further to remove aync:

[code]

If I replace `image.Mutate(x => x.Resize(width: width, 0));` with something like `image.Mutate(x => x.Flip(FlipMode.None));` for example the issue doesnt repro. So something related to resizing is most likely the issue.

[2020-10-01 17:21] AaronRobinsonMSFT commented on #42593
@vitek-karas Agreed on this issue being related to Windows 10 support. If memory serves the Windows 10 styling is included when support is indicated in the manifest. Do we know the manifest situation in the apphost vs singlefilehost?

[2020-10-01 17:30] tarekgh commented on #24693
Closing this one a dup for https://github.com/dotnet/runtime/issues/40475. We kept the other one active as it propose more APIs than this one.

[2020-10-01 17:30] #24693 closed

[2020-10-01 17:33] vcsjones opened #42958 "X509RevocationMode.Offline Linux behavior differs from Windows for OCSP"
It seems that for `X509RevocationMode.Offline`, OCSP cache behavior is different from Windows. On Windows, I believe this test will pass, and fail on Linux

[code]

Linux failure:

[code]

It seems the OCSP cache is being ignored, or, the online build didn't cache the OCSP response.

CRL behaves correctly.

[2020-10-01 17:33] NN--- commented on #27722
What do you think about [WithTimeout](https://github.com/rsdn/CodeJam/blob/master/CodeJam.Main/Threading/TaskHelper.WithTimeout.cs#L26) extension method as well?
It can useful too.

[2020-10-01 17:43] stephentoub commented on #40475
Yes.

We might consider swapping the order of the arguments to the delegate, so that in all delegates the object state is first.

I'd also be happy with us not proactively adding:
[code]
and only adding it if someone actually comes forth with a good use case of it.  Passing true for useSynchronizationContext is very rare; I think I can count the number of times I've seen it on one hand.

Otherwise

[2020-10-01 17:44] jaredpar commented on #34015
@marcpopMSFT is likely a good starting point here.

[2020-10-01 17:45] jaredpar commented on #35223
Yes they're different problems.

- #34472 is specific to OSX issues.
- This bug is just a more general failure that I don't really have any visibility into

[2020-10-01 17:50] tarekgh commented on #40475
@geoffkizer here is what @stephentoub suggested, let's know if you are ok with it.

[code]

[2020-10-01 18:09] ViktorHofer opened #42959 "Console.OutputEncoding by default returns a wrong value on Windows Nano Server"
[code]

On Windows Nano Server `curEncoding.EncodingName` is "Codepage - 0" which looks like a default value. This might be a product issue where the Encoding can't be retrieved when pinvoking.

cc @eiriktsarpalis

[2020-10-01 18:09] ikopylov commented on #42268
As i see, with the measurement approach, it is almost impossible to obtain the stable and accurate normalization factor everywhere. There will always be some configurations in which the results will be awkward. Probably it can be extended with table based approach, where normalization factors will be pre-calculated for wide range of well-known CPUs and measurement will be taken for unknown CPUs on

[2020-10-01 18:11] pentp commented on #37505
Updated proposal with some minor fixes and switched to null Task result instead of canceled Tasks (moved to alternatives section).

[2020-10-01 18:15] ericstj commented on #40099
Sorry @cjblomqvist I didn't mean to blame anyone here.  I was stating the facts about the decision made in this issue with its specific dates.  On July 15 we branched dotnet/runtime and started stabilizing for Preview8.

Note that it's not like this aspect of the feature wasn't discussed in the design review.  My understanding was that there was push back in the design review against the option of

[2020-10-01 18:15] vcsjones commented on #42958
It seems that `OCSP_resp_find_status` is coming back as NULL, and we skip caching anything as null. Hmm.

[2020-10-01 18:23] Daniel-Svensson commented on #38201
Nice improvements.
Would the same optimization be valid for instance level initonly fields when accessed outside the constructor?

[2020-10-01 18:25] layomia commented on #42817
@ViktorHofer - I opened a PR https://github.com/dotnet/runtime/pull/42960.

[2020-10-01 18:31] AndyAyersMS commented on #38201
Unfortunately, no -- instance fields can still be modified at runtime.

[2020-10-01 18:39] eerhardt commented on #42861
Also consider addressing this PR comment as well: https://github.com/dotnet/runtime/pull/42911#discussion_r498361718

Fully qualify the parameter types when using Reflection to find methods.

[2020-10-01 18:49] jzabroski commented on #25598
@stephentoub  For .NET vNext, can you comment on @danmosemsft ideas to lift this: https://github.com/dotnet/runtime/issues/25598#issuecomment-666955410

[2020-10-01 18:50] kouvel commented on #42268
It's a maintenance nightmare, each generation of processors has many different kinds of processors, it would not be feasible. The CPU could provide the info instead. An interesting question is what info could be provided (or gathered) that would help. How long a spin-wait needs to be can depend on many things (memory/cache speed, how long it takes for caches to become consistent, what happens afte

[2020-10-01 18:51] kouvel commented on #42268
Also curious about your spin-wait scenario, could you describe?

[2020-10-01 19:03] ericstj opened #42961 "APICompat for ref-pack servicing"
We now permit servicing of our ref-packs.  We should make sure that any change made to the ref-packs in servicing is API compatible with an un-serviced ref-pack.

This ensures that a library compiled against the serviced ref-pack will work with a GA runtime, or another un-serviced consuming compile (eg: in case of nuget packages).

The purpose of this would be to *block* API additions in servicing

[2020-10-01 19:06] vcsjones commented on #42958
[sigh] 🙄 nextUpdate was null... because I was setting it to null... in the test. Nothing to see here.

[2020-10-01 19:06] #42958 closed

[2020-10-01 19:16] ericsampson commented on #40099
@ericstj thanks for keeping the dialog open.
I'm not sure of a good way to have the following considered during the design discussions @Jozkee, but I'd appreciate considering offering two new options:

1. option equivalent to Newtonsoft 'ignore', for compat/upgrade scenarios.
2. a new option (`PreserveSlim`? `PreserveMinimal`?) that only emits reference tags where they are needed, vs `Preserve` th

[2020-10-01 19:36] cssack commented on #42344
Is there anyone who found a way to get the service provider used by the page within a DelegatingHandler?

[2020-10-01 19:44] stephentoub commented on #40475
@tarekgh, I've edited your post above to also factor in nullable reference types.

[2020-10-01 19:46] ericstj commented on #42961
cc @danmosemsft, this is related to https://github.com/dotnet/corefx/pull/42993, although it wouldn't help there.

[2020-10-01 19:50] geoffkizer commented on #40475
LGTM

[2020-10-01 19:54] ericstj commented on #42808
Since this is servicing, at the very earliest it would be November.  We'll need to discuss it per the bar, as mentioned above.

[2020-10-01 19:59] fabricefou commented on #42808
Thanks

[2020-10-01 20:01] tarekgh commented on #40475
Thanks all,

I have updated the proposal in the top. pasting here the original proposal just for the record

[code]

[2020-10-01 20:19] jnm2 commented on #37505
Null task results could lead people to await directly without checking for null in codebases that aren't on C# 8 with NRTs enabled.

[2020-10-01 20:24] dammejed commented on #42922
Thanks for the quick turnaround folks, appreciate you having a look.
@stephentoub FYI, the same seems to be true of `EnumBuilder`, though I haven't used that type in my own projects.

[2020-10-01 20:41] sabrogden opened #42980 "dotnet-dump collect never returns"
I'm trying to collect a dump file on a dotnet core 3.1 process running in docker container FROM mcr.microsoft.com/dotnet/core/runtime:3.1-bionic and the collect call just never returns. It sits there with the message, "Writing full to /root/core_20201001_202020"   What can I do to diagnose this?  I see there is a --diag flag, what will this do?  Write a debug file, where?

Now I have a different d

[2020-10-01 20:43] JimBobSquarePants commented on #42912
Hey @mangod9

`image.Mutate(x => x.Flip(FlipMode.None));` used like that doesn't actually do anything. It's normally used in conjunction with `RotateMode` in the  `RotateFlip` method..

https://github.com/SixLabors/ImageSharp/blob/4dadf2494018564c5b7b1199faeb5ab3840a1ee3/src/ImageSharp/Processing/Processors/Transforms/Linear/FlipProcessor%7BTPixel%7D.cs#L37-L46

According to the ImageSharp thread

[2020-10-01 20:47] lambdageek commented on #37838
Got it to fail in LLDB after a couple dozen iterations.  Looks like this test fails https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Drawing.Common/tests/mono/System.Imaging/MetafileTest.cs#L375-L413

It's dying in a call to `GdipDeleteGraphics` which calls `gdip_metafile_stop_recording (graphics->metafile)`.

My theory right now is that this is

[2020-10-01 20:49] vcsjones commented on #42958
I guess if there is another to learn here, is that for an OCSP response, Windows will cache it for some unknown duration even if the response has no `nextUpdate`.

[2020-10-01 20:50] safern commented on #37838
So then is it safe to say that this a bug in `libgdiplus` that when we dispose the graphics object, it is not freeing, `graphics->metafile`?

[2020-10-01 20:54] lambdageek commented on #37838
I think it's a bug in the test.  It should dispose of `mf` outside the `using`, IMO

[2020-10-01 20:54] tonybaloney commented on #42925
Ah yes thanks. Made that change https://github.com/microsoft/Pyjion/pull/237/commits/30d84231097eb8c16ae419c48b1729c73f8eba5a

Can't see the JitDump yet but I can tell that its matching the values correctly

[2020-10-01 21:00] tonybaloney commented on #42925
I'm stuck on
[code]

The firstColdBlock is a nullptr. I'm not sure where it gets that address from?
I think its related to another bug I found around popping' basic frame blocks from the CPython "IL".

[2020-10-01 21:05] mangod9 commented on #42912
Ok thanks for the clarification @JimBobSquarePants. It felt like `Flip` would be just another transform similar to `Resize`.  Do you happen to know if there is any specific async behavior as part of Resize/Crop operations?

[2020-10-01 21:09] bartonjs commented on #42958
Assuming I'm reading wincrypt.h correctly, Windows considers an OCSP response expired if nextUpdate is missing and it has been more than 12 hours (CERT_CHAIN_OCSP_VALIDITY_SECONDS_DEFAULT).  I don't know if that's also what's used for the caching policy.  Maybe your computer is bored and wants to run a test overnight? :smile:.  (I don't know enough about their caching engine to know if asking for

[2020-10-01 21:24] dougbu commented on #42961
@ericstj FYI this might be interesting to dotnet/aspnetcore but _only_ in combination with a major back-port to move the GenApi and APICompat changes I and @safern made in Arcade's master branch. Might also need an additional bug fix or two IIRC (e.g. I recall something about attribute exclusions not using configured filters).

We use Roslyn to build our ref/ assemblies and Microsoft.CodeAnalysis.

[2020-10-01 21:27] ericstj commented on #42961
@dougbu it's still interesting.  Probably more-so.  It prevents devs from accidentally adding new public surface in servicing.

[2020-10-01 21:35] #40804 closed

[2020-10-01 21:44] #42727 closed

[2020-10-01 21:52] AndyAyersMS commented on #42925
Are you emitting IL with EH regions / opcodes? We would not expect to be looking for cold blocks/funclets unless there was some kind of EH.

That's the question I was trying to ask when I got sidetracked with enabling dumping.

[2020-10-01 21:54] tuespetre opened #42966 "MemberAssignment unexpected behavior assigning int to object member"
If we run the following in C# interactive:

[code]

We will get the following (reasonable and expected) exception:

[code]

But if we run the following snippet:

[code]

We get the following exception:

[code]

Now both of the expression trees we tried to construct are, in my opinion anyway, semantically equivalent. A new instance is constructed, a member of the instance is assigned a value, and t

[2020-10-01 21:59] marek-safar opened #42967 "Analyzer for methods with PlatformNotSupportedException body but missing platform attributes"
### Describe the problem you are trying to solve

In .NET5 new attributes were introduced to support CA1416 analyzer rule to detect when unsupported APIs are called. To make the analyzer more effective existing libraries need to annotate their code with `UnsupportedOSPlatformAttribute` or `SupportedOSPlatformAttribute` for the analyzer to be able to work.

### Describe suggestions on how to achiev

[2020-10-01 22:01] ViktorHofer commented on #42796
@Anipik were you able to find out why this is happening?

[2020-10-01 22:03] pascallapradebrite4 commented on #42766
@agocke Thank you for your support! I'll open an issue in the library then, and I'll be using the `IncludeAllContentForSelfExtract` switch when available. Thanks again!

[2020-10-01 22:03] #42766 closed

[2020-10-01 22:07] ericstj commented on #37108
Yeah, that's the best way to do it.

[2020-10-01 22:12] tocsoft commented on #42912
The only async stuff ImageSharp does is before decoding, when being passed some nonseekable streams (I.e. the aspnetcore ones that block sync reads/writes), we call CopyToAsync into a MemoryStream before decoding synchronously. All the rest of our general processing code is sync.

[2020-10-01 22:12] tonybaloney commented on #42925
Yes, thats in absint.h/absint.cpp.

I'm trying to revitalise this 4-year old code base, so there have also been some major changes to CPython's opcodes

[2020-10-01 22:13] ericstj commented on #42796
Missing the BOM?  We don't write it on desktop: https://github.com/dotnet/arcade/blob/e93a5ae72e78862eeaa4da4079580e818c01fc6c/src/Microsoft.DotNet.GenFacades/NotSupportedAssemblyGenerator.cs#L59
https://referencesource.microsoft.com/#mscorlib/system/io/file.cs,848
Could try setting the Encoding to UTF8 and see if that helps.

[2020-10-01 22:24] maryamariyan commented on #35578
friendly ping @SteveL-MSFT is this something you guys could consider? (referring to https://github.com/dotnet/runtime/issues/35578#issuecomment-646327585)

[2020-10-01 22:43] safern commented on #36010
Hey @Coderrob

Thanks for the suggestion. One question that comes into mind is why would we want to match any attribute that contains a named parameter called "Name" and then have a `Property` in the `BinderOptions` that has to be set to true in order to enable this.

Wouldn't it make sense to follow what other binders/deserializers do, and add a well known attribute, and  then when binding proper

[2020-10-01 22:46] safern commented on #37108
`Shipping` would mean that it would be stable and that it would go into nuget, do we want that, or is it enough with a non-stable package, that ships to our public dnceng feeds?

[2020-10-01 22:50] maryamariyan commented on #36015
@BlacKCaT27 thanks for the issue. We usually stay away from throwing first hand exceptions, but since this is configurable and disabled by default this feature makes sense.
cc: @davidfowl

To satisfy this issue there needs to be a new API proposal introduced in configuration binding.

The best next step on this would be to prepare the API proposal, usage, etc. in the issue page here (following htt

[2020-10-01 22:51] HongGit commented on #421
Moving this to .NET 6.0 milestone, if needed, we will consider to backport to 3.1.

[2020-10-01 22:55] maryamariyan commented on #36018
The best next step on this would be to prepare the API proposal, usage, etc. in the issue page here (following https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md).

[2020-10-01 23:10] dougbu commented on #42961
@ericstj we fail builds if the public API baseline `*.txt` files don't match according to Microsoft.CodeAnalysis.PublicApiAnalyzers. If that check isn't working in our CI builds, we've got a big problem and I'd work with the analyzers team to fix it. But, thanks for the reminder to test again❕

[2020-10-01 23:12] maryamariyan commented on #36024
@jdmallen this issue makes sense. Even though this is a breaking change but it's OK to take it because it is an enhancement.

Would you like to open a PR?

[2020-10-01 23:29] marcpopMSFT commented on #34015
@bozturkMSFT and @donJoseLuis who manage the install scripts.  They've been adding telemetry to monitor the installs.  I can't access Jared's link but from Jo's link, it was targeting a valid build build and reported an error in curl so I'll have to differ to the two of them.

We did fix an issue a few weeks back where if someone triggered a private build of installer, the install script would sti

[2020-10-01 23:48] jkoritzinsky opened #42969 "Investigate simplifying runtime test xunit wrapper generation"
Today we generate the XUnit test wrappers for the runtime tests completely within MSBuild. This makes the experience maintaining these wrappers tedious and error prone.

Now that Roslyn supports source generators and Roslyn allows reading metadata from MSBuild that is passed to a source generator (see [the Roslyn cookbook](https://github.com/dotnet/roslyn/blob/master/docs/features/source-generator

[2020-10-01 23:52] carlossanlop commented on #42855
Thanks for reporting, @qmatteoq . Can you please share the callstacks as well?

[2020-10-02 00:28] faintwary opened #42970 "Defining operators to speed up string appension without StringBuilder (proposal)"
## Would it be practical
Appending strings is that of an unnecessary difficulty, not particularly in a casual sense, as it is extremely easy to write `foo += bar`. But, in a [performance-critical sense](https://www.tutorialsteacher.com/csharp/csharp-stringbuilder), the current method using StringBuilder is extremely clunky and could use refinement.

## Example
The following code was written in the

[2020-10-02 00:33] hoyosjs commented on #12706
@mikem8361 on VS's side, is it entitlement and signing that's necessary? Or is notarization also required?

[2020-10-02 00:35] mikem8361 commented on #12706
Only entitlement and signing.  Notarization isn't required.

[2020-10-02 00:44] #42772 closed

[2020-10-02 00:47] ericstj commented on #42961
I see. Yeah PublicApiAnalyzers would force a diff to show up which hopefully devs won’t ignore in servicing.

[2020-10-02 00:52] ericstj commented on #37108
It looks to me like these tests previously shipped public stable and are consumed by other public repositories.

This raises another concern that our tests depend on assemblies that don’t ship.

[2020-10-02 00:54] AndyAyersMS commented on #42925
To get dumping working, you need to return `FALSE` from `logMsg`

[code]

[2020-10-02 01:02] AndyAyersMS commented on #42925
To fix the asserts, only allocate the cold block and ro data block if the sizes are nonzero:
[code]
otherwise the jit gets confused and thinks there should be cold code.

[2020-10-02 01:05] DethRaid commented on #42970
I don't think you appreciate how much of a con this is. `operator<<` isn't worth alienating experienced C# devs

[2020-10-02 01:22] AndyAyersMS commented on #42925
To get past the "jit failed" you need to set the OS type in `getEEInfo`. Since you're on a mac, set it to unix for now:
[code]
With the above fixes it looks like it's trying to run the jitted code, but still no joy:
[code]

[2020-10-02 01:31] tonybaloney commented on #42925
Ah yes, thats a "feature" of the PyMem_Alloc functions, they allocate 0-size blocks as a way of better handling null-references

[2020-10-02 01:38] tonybaloney commented on #42925
That all worked! I'm up to the SEG fault but with the breakpoints, I can see it hasn't properly resolved the code address. There are still some failing assertions but I've put warnings on all the unimplemented methods to better get an idea on the issue

[code]

[2020-10-02 01:40] tonybaloney commented on #42925
What does `void *getHelperFtn(CorInfoHelpFunc ftnNum, void **ppIndirection)` do? it looks important

[2020-10-02 01:50] tonybaloney commented on #42925
This `getHelperFtn` seems related to `.NET failed assertion: /Users/anthonyshaw/CLionProjects/pyjion/CoreCLR/src/coreclr/src/jit/codegenxarch.cpp 8268.`. It seems to want a function pointer back

[code]

[2020-10-02 02:01] tonybaloney commented on #42925
Figured out I can just `return (void*)0x1001;` from `getHelperFtn` for now and there are no more assertion failures!

[2020-10-02 02:04] davidfowl commented on #36015
It depends on how you bind, it won't fail at startup, it'll fail when you try to resolve the options.

[2020-10-02 02:11] tonybaloney commented on #42925
Nearly there the `recordCallSite` isn't implemented, so the code address is still a null pointer

[2020-10-02 02:19] tonybaloney commented on #42925
@AndyAyersMS try https://github.com/microsoft/Pyjion/pull/237/commits/1a09ff183ba71b22679e07999d4d98e6fd1fbd35 I've set the right pointer to the hot code address. It doesn't execute (faults with bad access), so maybe the memory is allocated with the wrong flags, or its the wrong size

[2020-10-02 02:21] tonybaloney commented on #42925
<img width="1534" alt="Screen Shot 2020-10-02 at 12 21 15 pm" src="https://user-images.githubusercontent.com/1532417/94881838-c66dc980-04a9-11eb-82f2-05c79596b5c4.png">
The pointer looks ok, this looks like executable code

[2020-10-02 02:53] AndyAyersMS commented on #42925
It gives the jit the address of a helper method. If you look at the jitted code one of the first things is
[code]
and the jit is asking the runtime for the address of this helper. For this helper, you can return the address of  a do-nothing `void f() {}` and it may work for a time.

The memory you allocate for the jit needs to have execute permissions; normally allocated blocks don't have this. I

[2020-10-02 03:10] danmosemsft commented on #42970
Thanks for the suggestions. I don't believe we will do this. I believe this conflicts with our [design guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/operator-overloads) specifically it overloads operators on a non-primitive type, and arguably creates "cute" (non intuitive) overloads. It's just not something a .NET developer would expect.

As @DethRaid mentions, you

[2020-10-02 03:10] #42970 closed

[2020-10-02 03:11] danmosemsft commented on #42953
@o-lekarev this seems answered. Please reopen if needed.

[2020-10-02 03:11] #42953 closed

[2020-10-02 03:15] tonybaloney commented on #42925
@AndyAyersMS  I saw that VirtualAlloc() is implemented cross-platform and part of the PAL APIs, but I can't see where the symbol gets built so I can link it and use that function to allocate executable memory

[2020-10-02 03:16] Anipik commented on #42796
not yet. i will probably able to take a look next week

[2020-10-02 03:20] danmosemsft commented on #42959
This just means that `::GetConsoleOutputCP()` failed. In such a case we still create and return an `Encoding` about a nonexistent codepage 0. (We did this in .NET Framework too so I am not sure whether it would be a good idea to change it to throw instead.)

I am guessing this API is just stubbed out on Nano and perhaps we should just leave the code as is.

[2020-10-02 03:47] tonybaloney commented on #42925
@AndyAyersMS  it works now :-) feel free to give it a go! there's loads of bugs but its evaluating the JIT'ed code on OSX and interacting with the CPython methods.

[2020-10-02 03:58] #42817 closed

[2020-10-02 04:01] layomia commented on #42677
Just merge a PR disabling the relevant tests on Mono + Windows - https://github.com/dotnet/runtime/pull/42960. Removing `blocking-clean-ci` label for now.

[2020-10-02 04:17] karthikshanmugam commented on #33374
@guesshe  Can you please tell me if you get the corehost to work?

[2020-10-02 04:37] tonybaloney commented on #42925
<img width="1400" alt="Screen Shot 2020-10-02 at 2 33 41 pm" src="https://user-images.githubusercontent.com/1532417/94888541-c3300900-04bc-11eb-89e8-17cc67d2d387.png">
Thanks for your help Andy! We can close this issue now. I'm going to keep chipping away at this thing but this has been really helpful and now its executing for me (only simple statements)

[2020-10-02 04:38] #42925 closed

[2020-10-02 06:17] pjmlp commented on #41522
@sgf Another one is [D](https://dlang.org/), this is what .NET 1.0 / C# should have been like.

[2020-10-02 06:56] sgf commented on #41522
I used to look forward to the D language very much, but for many years, the development of the D language has been slow, and the D language development tools are very bad and unstable.
The D language community is too closed. Even register a separate forum account for raising an issue.
The Api design style of D language is closer to C/C++ language, not like  C#.

[2020-10-02 07:00] cjblomqvist commented on #40099
Thanks for your reply @ericstj - communication is definitely important and something that easily gets wrong in written form over the Internet.

I do understand consideration needs to be taken, and it's good you added insight about the branching point for Preview 8 in July 15th. I guess the overall negativity on this stems from the overall disappointment of not being able to migrate to this for 2 y

[2020-10-02 07:29] tocsoft commented on #42912
The corruption is being introduced during the JPEG decoding step no async is involved in that process. If it makes a differnece our decoder is making use of some of intrinsics APIs (thats the only CPU level stuff in our code).

My repoduction of the isssue can be found here https://github.com/tocsoft/Net5CorruptingImageSharp/tree/d62a120bb13165611598c91fc48eac35a83e5e3f

This also verifies that it

[2020-10-02 07:35] JimBobSquarePants commented on #42912
@tocsoft I thought @brianpopow said it was all decoders?

https://github.com/SixLabors/ImageSharp/issues/1356#issuecomment-701000973

That's great news if you have narrowed it down to there though!

[2020-10-02 07:38] heinrichgh opened #42973 "System.Text.Json deserialization breaking change using internal parameterless constructor"
### Description

When using System.Text.Json deserialization found that there is a breaking change between .NET Core 3.1 and .NET 5 implementation.

In .NET Core 3.1 the deserializer would use the parameterless constructor even if it is `internal`, where it seems that in .NET 5
the deserializer ignores the `internal` constructor

Reference below code snippet which illustrates the problem.

TestJso

[2020-10-02 07:47] ayende commented on #42885
This is what I get when I switch to the `StackWalkFrames()`

[code]

I'm not sure _how_ to get the relevant values.

I _think_ you mean to go to the `StackWalkFramesEx()`, where we actually have a thread.
There, I get:

[code]

And the instructions are:

[code]

Trying to use: `print t_pStackWalkerWalkingThread` doesn't give anything. Do I need any debug symbols setup?

I tried to go to:
`frame #5

[2020-10-02 07:51] tocsoft commented on #42912
To be fair I haven't checked the other decoders only JPEG at this stage.. but in the test case that currently being investigated its the decoder that's at fault.

[2020-10-02 08:00] RaffaelHold commented on #41863
@ViktorHofer I found this issue in Microsoft.Identity.Web where indeed an HTTP request is sent during construction of the Options instance. But any runtime exception will lead to this behavior

Here are the relevant lines in Microsoft.Identity.Web
[Microsoft.Identity.Web/WebApiExtensions/WebApiAuthenticationBuilderExtensions.cs](https://github.com/AzureAD/microsoft-identity-web/blob/d33ab13b7ef11f

[2020-10-02 08:20] janvorli commented on #42912
I have tried to repro it yesterday and it didn't happed during jpeg decoding. The decoded image was correct (I've modified the repro to save it to a file right before performing Mutate in the ResizeTo method) and the scaled image was broken.

[2020-10-02 08:37] mangod9 commented on #42912
I seem to be able to repro with the simpler repro from @tocsoft, which I simplified further by using a very small `9x7` jpg. Does appear like its decoding incorrectly possibly in this function (when compared to a working machine): https://github.com/SixLabors/ImageSharp/blob/78a584e8482b052d7a9885682299e2f37518d83d/src/ImageSharp/Formats/Jpeg/Components/FastFloatingPointDCT.cs#L76 which happens to

[2020-10-02 09:21] avireddy02 opened #42988 "CorrelationContext Header Values duplicated When using HttpRetry With polly"
### Describe the bug
When making an Api Call using HttpClient with retry using Polly, CorrelationContext Header Values are duplicated on each retry
**Ex:**  Correlation-Context: X-Previous-Id=e7e7f79b52e243958a2672506070a6a6, X-Previous-Id=e7e7f79b52e243958a2672506070a6a6, X-Previous-Id=e7e7f79b52e243958a2672506070a6a6, X-Previous-Id=e7e7f79b52e243958a2672506070a6a6

**Expected:** Correlation-Cont

[2020-10-02 09:22] campersau commented on #42973
Looks like this was an intentional breaking change https://github.com/dotnet/runtime/pull/32213

[2020-10-02 09:28] mangod9 commented on #42912
Actually after debugging a little further it appears to be something here: https://github.com/SixLabors/ImageSharp/blob/64e7d6a22aced9fdbd8d53e5f5d8a4b52f9081e0/src/ImageSharp/Formats/Jpeg/Components/Block8x8F.cs#L508

[2020-10-02 09:38] janvorli commented on #42738
@k15tfu it wasn't discussed yet, but it is something that we will definitely consider.

[2020-10-02 09:44] marek-safar commented on #42738
We have plans to support arm64e with .NET Core MonoVM runtime and the initial work already started but the release version where the support will be available is still unconfirmed.

[2020-10-02 10:32] brianpopow commented on #42912
I think there are two different maybe related issues:

1. Just decode an jpg image and save it: This will result in this green stripes pattern. Decoding and saving the image works for PNG, BMP and TGA. Decoding and saving GIF seems to have another issue. The image seems to be yellowish.

2. Decoding an image (no matter which one) and mutating it will result in half the image is missing, like repor

[2020-10-02 11:19] jdmallen commented on #36024
@maryamariyan Sure! Thanks for reviewing.

[2020-10-02 11:47] fbrum opened #42975 "JsonConverter doesn't allow injection of parameters"
I wanted to create a converter for DateTimeOffset and having the date format being injected from configuration.
But I came to conclude that is not possible. I created a base converter

[code]

And then I defined a specific converter:

[code]

Added the serializer with the converter to the collection:

[code]

I had to create a empty constructor because otherwise I would have a NullException while

[2020-10-02 12:16] gbalykov commented on #42429
We observe the same behaviour on armel, during compilation of system libs, runtime 5.0 855e2961ba70d3ed8b094d230aaf655adac2b76e.

For example, if `System.Reflection.Metadata.dll` is compiled to R2R image, then next libs fail to be compiled:
[code]

Output for System.Private.CoreLib.dll:
[code]

Crossgen2 cmd:
[code]

Command above succeeds if there is no System.Reflection.Metadata.dll.

Does cross

[2020-10-02 12:17] tmds commented on #42686
The dump show what is reported.

[code]

There is an ongoing operation (`Interop+Sys.Connect` in this dump), and another thread is trying to unblock that operation in `CloseAsIs` loop:

https://github.com/dotnet/runtime/blob/98eee0587dfd0752c030fe49b3fd9b45f4b2e5c5/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.cs#L104-L114

I think the dump won't tell us more. If we coul

[2020-10-02 12:34] shahinjabbar opened #42976 "How to cancel StreamReader.ReadLineAsync with a CancellationToken or set timeout to stop reading?"
I am getting an HTTP stream and reading it until it sends some data but I need to figure out how to set a timeout in case of not receiving data from the stream which I'm reading using StreamReader class.

This stream sends me data every 50-80 seconds and I wanna handle it when it does not send any data in this timestamp.I am reading http stream and sometimes they just closes stream but code is not

[2020-10-02 12:44] Inx51 commented on #29935
Hi!
Any updates regarding this issue?
Im experiencing the same issue using impersonation (WindowsIdentity.RunImpersonated) with ASP.net Core 3.1 while trying to impersonate a request using a HttpClient (I have had some success doing this using a modified version of WebClient.. however.. that one ended up with a problem resolving DNS which has been described previously in this issue).
This currentl

[2020-10-02 13:01] RUSshy commented on #41522
@sgf i used to use D whenever i needed something native, and recently it became my main language, i suggest you to check it again, it is not as bad as you think it is, https://marketplace.visualstudio.com/items?itemName=LaurentTreguier.vscode-dls works great

I'm the opposite as you, i lost complete interest in C#

- single statically compiled executable? here is a zip archive (i will never forget

[2020-10-02 13:03] glucaci commented on #36386
there are any news for this feature ?

[2020-10-02 13:37] jeffschwMSFT commented on #42912
@AndyAyersMS @JulieLeeMSFT @tannergooding

[2020-10-02 13:59] stephentoub commented on #42922
Thanks.  Yup, and also GenericTypeParameterBuilder.

[2020-10-02 14:12] jkotas commented on #42885
I think so. Try https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-symbol

[2020-10-02 14:24] sgf commented on #41522
im not lost complete interest in C#
C# is still my main language. Just because I have been trying to use C# instead of C/C++, and C# can’t do it. This is frustrating. Therefore, in the Native scenario, I strongly hope to find a replacement for C#.

d The language is good in some aspects, but I still can’t like it. As I mentioned above, the style of D language and class library style is not very si

[2020-10-02 14:25] hairlesshobo commented on #30820
I just want to throw in my two cents on this one. I decided to go down the route of porting my application from Newtonsoft.Json for the sake of performance. I mean, after all, that is one of the huge selling points of System.Text.Json.. I invested hours converting everything over only to find out at the end when I was thoroughly testing everything that I couldn't serialize objects that were pulled

[2020-10-02 14:32] sgf commented on #41522
I have tried any Dlang plugin(fro VSCode,for VS).all of them.

They are not complete enough. And it is not stable enough. Only basic functions.
I have some experience using golang. As early as 2015, golang's development tools have done a good job(LiteIDE,VSCODE). But now is 2020. I have waited for several years, and Dlang's tools still cannot reach the level of golang tools five years ago.

[2020-10-02 14:34] cjblomqvist commented on #30820
Since this issue has been closed, it's probably wiser to comment in https://github.com/dotnet/runtime/issues/40099 to get attention 😊

[2020-10-02 14:51] RUSshy commented on #41522
Well it is unfair comparison, GO is easy to parse and language is quite simple, D is quite harder because it offers much more, but it's getting there

[2020-10-02 14:52] vitek-karas commented on #42593
I looked at the manifests of apphost and singlefilehost as produced by the repro - and they are identical (baring any mistakes I might have made). That's what's really weird - as far as I can tell the two binaries look the same.

[2020-10-02 14:56] hairlesshobo commented on #30820
Whoops, juggling so many things at once right now, I didn't even notice that this one was closed! My bad. Thanks for pointing it out to me.

[2020-10-02 14:58] hairlesshobo commented on #40099
I just want to throw in my two cents on this one. I decided to go down the route of porting my application from `Newtonsoft.Json` for the sake of performance. I mean, after all, that is one of the huge selling points of `System.Text.Json`.. I invested hours converting everything over only to find out at the end when I was thoroughly testing everything that I couldn't serialize objects that were pu

[2020-10-02 15:09] Perksey commented on #41522
Let's not forget this is a C# thread people.

[2020-10-02 15:12] butler1233 commented on #40099
I'm sorry but I just straight up disagree with this. @Jozkee highlighted in his initial post on #30820 a perfectly valid use case for `.Ignore` (which for some reason went unnoticed apparently) back in September 2019, over a year ago!

Discussion ensued in that issue for a while, and for some reason at some point it was decided that ingore wasn't required, despite many community contributions spec

[2020-10-02 15:29] jkotas commented on #42593
This: https://github.com/dotnet/winforms/blob/02089e92406b3f508c05060ee0ee7857a8ba3c11/src/System.Windows.Forms/src/System/Windows/Forms/Application.cs#L824

[2020-10-02 15:45] AaronRobinsonMSFT commented on #42593
@jkotas Boo. That is unfortunate. We should also check out WPF I guess.

[2020-10-02 15:57] RUSshy commented on #41522
you're right, but sharing experiences from other worlds can help shape your own

if they tried GOLANG they'd know for sure that they are going into the wrong direction by ignoring CoreRT

you are running blind if you ignore your surroundings

[2020-10-02 15:57] Kuinox opened #42978 "ROSequence should throw a more helpful exception on a bad slice."
### Description
This code:
[code]
Throws on the last line:

As discussed in #766, this behavior is expected, but:
- The exception could be more helpful here.
- The docs don't mention the late throwing behavior: https://docs.microsoft.com/en-us/dotnet/api/system.buffers.readonlysequence-1?view=net-5.0

Discussed this with @tannergooding on discord.

[2020-10-02 15:58] Gnbrkm41 commented on #42121
Trying to run some of the net5.0 tests with `./build.cmd -vs Microsoft.Extensions.Logging.EventSource -rc Release -lc Debug` after `./build.cmd clr+libs+libs.tests -rc Release -lc Debug -test`, I'm having more errors than just that:
[code]

Running `./build.cmd libs -f net48` prior to running the tests does make it work.

[2020-10-02 16:01] #39450 closed

[2020-10-02 16:05] danmosemsft commented on #42374
Is it fair to assume that most folks likely to use the intrinsics will be advanced enough to be comfortable referring to the hardware manuals? ie., the only info they need is the mapping to the underlying instructions?

[2020-10-02 16:18] tannergooding commented on #42978
As from #766, we can't really check if a given position is part of a sequence due to perf.

That being said, all the `Slice` methods that take a `SequencePosition` do currently call into [BoundsCheck](https://source.dot.net/#System.Memory/System/Buffers/ReadOnlySequence.Helpers.cs,334)
It might be reasonable to do the simplest sanity check that `position` might be valid as part of this so a better

[2020-10-02 16:22] tannergooding commented on #42374
The mapping to the underlying instruction and corresponding native intrinsic is what we have today.

Linking back to something like:
* https://software.intel.com/sites/landingpage/IntrinsicsGuide/
* https://software.intel.com/content/www/us/en/develop/articles/intel-sdm.html
* https://developer.amd.com/resources/developer-guides-manuals/

Might provide some additional benefit, but that might also

[2020-10-02 16:23] gfoidl commented on #42374
@danmosemsft I agree.

This is already here (xml-doc).

And for usage workflow it's quite common to have a look at intrinsics guide. So copy & paste from the xml-doc to the search field is acceptable.

[2020-10-02 16:36] JulieLeeMSFT commented on #42912
@echesakovMSFT

[2020-10-02 16:38] BentleyJamesSlater opened #42979 "Microsoft.NET.Sdk.WindowsDesktop crashes"
Hi ,

Having trouble constructing a Typeface object on windows nanoserver, maybe its a bug, or maybe i'm missing something?

Can be repeated using docker image: mcr.microsoft.com/dotnet/core/sdk:3.1-nanoserver-1909

In C# Just contruct a new System.Windows.Media.Typeface object, using a Microsoft.NET.Sdk.WindowsDesktop project

Typeface font = new Typeface("Arial");

It produces many nested except

[2020-10-02 16:42] danmosemsft commented on #42979
I do not believe Windows Nano Server has support for DWrite. @SamBent ?

[2020-10-02 16:43] danmosemsft commented on #42979
@fabiant3 can you please transfer to WPF? I do not have rights to do so.

[2020-10-02 16:47] qmatteoq commented on #42855
Hello @carlossanlop , sorry for the noob question, but which is the preferred way to share the call stack? The one included in the Visual Studio window doesn't seem to contain many information:

[code]

[2020-10-02 16:50] AndyAyersMS commented on #42925
Very cool! Glad to help.

[2020-10-02 17:20] danmosemsft commented on #42855
@qmatteoq please disable the "just my code" feature in the debugger options, it should show more of the callstack. Or I believe you can click (maybe right click) on `[External Code]` and it will give you the option to see it.

[2020-10-02 17:25] echesakovMSFT commented on #42912
@JulieLeeMSFT Taking a look.

[2020-10-02 17:25] vitek-karas commented on #42593
WPF at least by default should be OK as it does all of its rendering, unlike WinForms which relies on the OS. But there definitely could be some other problems.

This is basically "WinForms is currently not fully compatible with single-file" - unfortunately. Not sure what the fix is though - I can't find a way to create activation context without a file on disk in Win32 APIs. We would have to make

[2020-10-02 17:31] AaronRobinsonMSFT commented on #42593
Yep. That is a requirement for the activation context. I used an Activation Context in CoreRun.

https://github.com/dotnet/runtime/blob/a986fe1492e82ba25be351cc76400e5eacfe93ac/src/coreclr/src/hosts/corerun/corerun.cpp#L415-L445

[2020-10-02 17:37] qmatteoq commented on #42855
Thanks @danmosemsft ! I have enabled "Show external code" in the Call Stack window, let me know if these information are enough:

[code]

[2020-10-02 17:40] vitek-karas commented on #42288
This could be https://github.com/dotnet/runtime/pull/42402 - basically we were running out of virtual memory address space and a small bug lead to invalid pointers (instead of directly reporting OOM).
This only happens on 32bit OSes - on the bug exists on 64bit as well, but the VM space is so large that it never actually causes a failure. Given the above where the app is published for win-x86 seem

[2020-10-02 17:49] lhak commented on #40463
Yes, it is a null reference exception. I could not observe the crash in debug builds and when using a release build, all the fields are reported to have been optimized out. Just to add some more information (not sure if helpful): The UpdateImage() method is the handler for a Progress object and constructed on the UI thread (SynchronizationContext.Current reports "WindowsFormsSynchronizationContext

[2020-10-02 17:53] Gnbrkm41 commented on #39886
I can confirm that this still happens with the latest Insiders SDK (20226). Same failure from the same spot.

[2020-10-02 18:01] danmosemsft commented on #42855
I didn't try it but this looks like https://github.com/dotnet/runtime/issues/35815.

`Package.Open(zipName, FileMode.Create)` defaults to `FileAccess.ReadWrite`. I wonder whether `Package.Open(zipName, FileMode.Create, FileAccess.Write)` helps.

[2020-10-02 18:01] gfoidl commented on #42374
I use the GH-repo search for this.

![grafik](https://user-images.githubusercontent.com/5755834/94954887-048add80-04ea-11eb-85d3-b1625852840d.png)

[2020-10-02 18:05] danmosemsft commented on #42855
If that helps I wonder whether you'd be interested in offering a PR in
to add a similar comment in https://docs.microsoft.com/en-us/dotnet/api/system.io.packaging.package.open?view=netcore-3.1
like the one in https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfileextensions.createentryfromfile?view=netcore-3.1#System_IO_Compression_ZipFileExtensions_CreateEntryFromFile_System_IO_

[2020-10-02 18:08] tarekgh commented on #40463
@lhak if you can easy repro it in your environment, is it possible you can collect [Time Travel Debugging Dump](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/time-travel-debugging-record) and share it?

[2020-10-02 18:11] qmatteoq commented on #42855
Thanks @danmosemsft ! Your suggestion did the trick. I'll be more than happy to open a PR on the documentation.

Thanks a lot for the help!

[2020-10-02 18:19] maryamariyan commented on #33954
Closing as dupe of https://github.com/dotnet/runtime/issues/36130

[2020-10-02 18:19] #33954 closed

[2020-10-02 18:30] terrajobst commented on #27687
The process is [documented here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md). Each rea has an [area owner](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md) and it's their responsibility to work with the issue opener to get the issue either into the state api-ready-for-review or closed.

In this case, that's @eiriktsarpalis and @adamsitnik.

[2020-10-02 18:31] mangod9 commented on #42912
I have provided repro details to Egor. It appears that turning off intrinsics make things work.

[2020-10-02 18:35] davidfowl commented on #33954
Yep @maryamariyan we should close as dupe of https://github.com/dotnet/runtime/issues/36130

[2020-10-02 18:35] davidfowl commented on #42222
@maryamariyan we should close as dupe of https://github.com/dotnet/runtime/issues/36130

[2020-10-02 18:37] tannergooding commented on #42912
I'm looking as well and I don't see any issues in the actual codegen. The managed code likewise does not appear to do anything problematic with the `ref` that might cause GC corruption or the like.

[2020-10-02 18:41] AaronRobinsonMSFT commented on #42912
Was tiering also ruled out?

[2020-10-02 18:41] danmosemsft commented on #42855
Great. If this seems common we could presumably catch and rethrow with a more helpful message. Or maybe it’s simply fixable @carlossanlop may know whether it is?

[2020-10-02 18:42] #42917 closed

[2020-10-02 18:43] #42222 closed

[2020-10-02 18:44] tannergooding commented on #42912
It repro's under `Debug` for me. The only requirement I found was that you have a 1 core machine for it to consistently repro.

[2020-10-02 18:50] yowl commented on #7066
There's a few address sanitizer (ASan) problems also in gc.cpp around the use of the `delete` operator where `delete []` should be used.e.g.
[code]
Are you accepting PRs for these?

[2020-10-02 18:52] mangod9 commented on #42912
One of the things I notice was that a simple `Vector<short>.Zero` shows some corrupted values, only when watching within a debugger. `ToString()` does output the right values however. So not sure if that's just a debugging weirdness or an actual issue, but it doesnt repro with 3.1 or on a multi-proc machine.

[2020-10-02 18:56] echesakovMSFT commented on #42912
@AaronRobinsonMSFT I ran a repro that Manish gave me with `COMPlus_TieredCompilation=0` and still see the issue.
On other,  I don't see the issue with `COMPlus_EnableAvx2=0`, so I am trying to localize all the places in ImageSharp using the intrinsics.

[2020-10-02 18:58] AaronRobinsonMSFT commented on #42912
Great. I am glad we have some options that influence behavior - helps pinpoint these issues.

[2020-10-02 19:11] tannergooding commented on #42912
`Vector<T>` not working quite right in the debugger is a known issue: <https://github.com/dotnet/runtime/issues/9688>. Basically the debugger will only show the first 16-bytes  not the upper 16-bytes as they don't have a backing field (the VM resizes the type if AVX2 is supported).

If the first 16-bytes are corrupted, that sounds like a different issue, however.

[2020-10-02 19:11] Gnbrkm41 commented on #42117
I'm not hitting this issue on my machine anymore (not sure what fixed it). Feel free to close the issue if you think it's okay...

[2020-10-02 19:17] layomia commented on #42973
This was an intentional breaking change. Please see the [breaking change doc](https://github.com/dotnet/docs/issues/20887) and the [PR](https://github.com/dotnet/runtime/pull/32213) - for the reasoning.

From the breaking change doc:

[2020-10-02 19:17] #42973 closed

[2020-10-02 19:18] TaurahSP commented on #42801
Hi, can i take this up as a first time contribution

[2020-10-02 19:30] danmosemsft commented on #7066
@mangod9  for above question

[2020-10-02 19:33] karelz commented on #42845
Given that this is IPv4 only feature and the world is moving towards IPv6, I wonder if this makes sense at all ... should we just close it as Won't Fix?

[2020-10-02 19:34] karelz commented on #41969
@mkArtakMSFT @lewing can you please triage it against 5.0? (remote "untriaged" and set milestone)

[2020-10-02 19:35] Gnbrkm41 commented on #13338
I cannot seem to reproduce this issue with `./build.sh clr+libs` on Ubuntu 20.04. Closing.

[2020-10-02 19:35] #13338 closed

[2020-10-02 19:36] mangod9 commented on #7066
@yowl Sure please go ahead and create a PR.

[2020-10-02 19:36] karelz commented on #42862
@mkArtakMSFT @lewing can you please triage it against 5.0? (set milestone)

[2020-10-02 19:37] Gnbrkm41 commented on #32001
Has this been addressed? It appears that the documents seem to refer to existing paths / packages now.

[2020-10-02 19:39] davidfowl commented on #42988
cc @noahfalk @shirhatti

[2020-10-02 19:49] rharpavat commented on #33537
Unfortunately setting that environment variable didn't change the console output - is it possible to investigate why the Cryptography library in particular is raising this error?

[2020-10-02 19:50] ikopylov commented on #42268
I have a custom Semaphore implementation in my library, written back in 2014 (https://github.com/qoollo/dotNet-turbo/blob/master/src/Qoollo.Turbo/Threading/SemaphoreLight.cs). At the time, it outperformed `SemaphoreSlim`, especially in some critical corner cases. It uses spin-wait before expensive `Monitor.Wait` (just like `SemaphoreSlim`), and it is critical to have a predictable spin delay to av

[2020-10-02 19:51] lewing commented on #42862
@karelz if the question here is if Send throws on browser should it throw PlatformNotSupportedException or System.Net.Http.HttpRequestException?  I assume PNSE but I wanted to verify.

[2020-10-02 19:52] danmosemsft commented on #42117
Let's close pending any future report - maybe a Windows update?

[2020-10-02 19:52] #42117 closed

[2020-10-02 19:52] jkoritzinsky commented on #32001
I believe so.

[2020-10-02 19:52] #32001 closed

[2020-10-02 19:55] mangod9 commented on #42912
Ok interesting. wonder why it doesnt occur on multiproc machine.

[2020-10-02 19:56] danmosemsft commented on #42979
@BentleyJamesSlater curious about your scenario here. Given Nano Server is headless, why are you instantiating fonts? I am not sure how much or any of WPF will work, but I am not on the WPF team and they should answer that.

[2020-10-02 19:58] sandreenko commented on #42801
@TaurahSP sure, you are welcome! Feel free to ask if something is not clear about this issue or about runtime workflow.

[2020-10-02 20:02] akoeplinger commented on #40386
Doesn't solve the issue but from https://twitter.com/JamesNK/status/1310875638585204738 it looks like gRPC is a lot faster to deserialize:

[2020-10-02 20:17] echesakovMSFT commented on #42912
The issue seems to be related to `ExtendedIntrinsics.ByteToNormalizedFloatReduce`.

With the following change to SimdUtils.cs the issue does not reproduce:

[code]

[2020-10-02 20:23] tannergooding commented on #42912
@mangod9, we have another rarely reproducing bug here where @jkotas speculated it might be due to a thread suspension issue corrupting registers: https://github.com/dotnet/runtime/issues/41108#issuecomment-701652105

Given that both issues involve vector types, and the ImageSharp issue only reproduces on a 1-core machine, it makes me think that they could be related.
Possibly some thread-suspensio

[2020-10-02 20:31] mangod9 commented on #42912
hmm.. wonder if we should run those failing tests on the single proc machine to check if they fail consistently there.

[2020-10-02 20:33] sdmaclea commented on #39886
Based on the build logs in the top post, I am guessing the preview SDK added a `stdalign.h` include file which doesn't properly handle `C11`'s `alignas(...)`.

I am downloading that SDK to take a look.

[2020-10-02 20:47] tannergooding commented on #42912
The issues do look to be unrelated, I can't repro #41108 on the 1-core VM.

However, I got an even simpler repro for this issue and it does look to be the upper 16-bytes getting corrupted somewhere:
[code]

will print something like:
[code]

when it should print:
[code]

[2020-10-02 20:51] tannergooding commented on #42912
I'm going to get a checked build of the latest JIT built and see if I can get a JIT dump produced to try and spot any additional differences that may exist, if any

[2020-10-02 20:57] lewing commented on #42862
It would be best if we could expose that BrowserHttpHandler can't support sync Send to the platform analyzer but I don't see any way to do that.

[2020-10-02 21:00] mangod9 commented on #42912
Interestingly for some reason I wasnt able to get `Console.WriteLine` to print the corrupted values, but was seeing them in the Debugger

[2020-10-02 21:04] antonfirsov commented on #42912
We were able to narrow it further by running ImageSharp unit tests. I can confirm Vector<T> is root cause somewhere in ImageSharp uint32 -> float conversion pipeline. Can provide more info on Monday.

[2020-10-02 21:06] stephentoub commented on #25598
I like the simplicity and isolated nature of that approach, and I think it's reasonable to start, at least for a prototype, and see a) whether it's functionally correct with all the various new tests we throw at it, and b) what the performance hit is without further optimization.  Assuming it's functionally sound and the perf hit is reasonable, it sounds like a good way to go for now; if in the fu

[2020-10-02 21:10] BentleyJamesSlater commented on #42979
Im trying to produce some graphical pdf reports. Our existing code base runs as a rest api on windows servers, which we are attempting to containerise. Im not sure its going to work out as we use wpf to produce a xps document, which is then converted into pdf. XPS support isnt looking good.

[2020-10-02 21:21] danmosemsft commented on #42979
I see. I wonder what alternatives there might be to generate PDF.

[2020-10-02 21:23] danmosemsft commented on #25598
Now we just need a volunteer...

[2020-10-02 21:25] jkotas commented on #42912
Potentially related: https://github.com/dotnet/runtime/issues/38974

[2020-10-02 21:27] jkotas commented on #42912
Now that the GC may be sometime using AVX registers due to https://github.com/dotnet/runtime/tree/master/src/coreclr/src/gc/vxsort, this latent bug may be causing actual corruptions.

[2020-10-02 21:28] tannergooding commented on #42912
Using the latest head, I can't get a repro for any of the cases, so this may be something we've fixed.

Running either with a checked RC1 build gives:
[code]

I do not see the same if I up the core count to 2+. I have not tried to repro on RC2 yet.

[2020-10-02 21:29] echesakovMSFT commented on #42912
I built the runtime on top of 3c6e6cc14728ce9a1955e076d2a758407dc70f5a to collect the jit dump and the issue (and assert) doesn't repro with the newer version of runtime.

[2020-10-02 21:31] Alovchin91 commented on #36699
Is there a tracking issue for WPF on Arm64 and adding back the Desktop Pack support? Would be nice to have links in the original post.

[2020-10-02 21:32] dagood opened #42991 "Source-build cli/apphost/static/singlefilehost native build failure: "pal_ssl.c:710: undefined reference to `local_X509_new'""
In https://github.com/dotnet/source-build/pull/1782, we're trying to update source-build to 5.0.0-rc.1, but hitting an issue in the installer native build with cli/apphost/static/singlefilehost, during a non-portable build (link to system libraries):

[code]

This seems to be around the same area as we had issues with in https://github.com/dotnet/runtime/issues/41768, but I'm not good enough at cm

[2020-10-02 21:34] echesakovMSFT commented on #42912
Some change between 38017c3935de95d0335bac04f4901ddfc2718656 and 3c6e6cc14728ce9a1955e076d2a758407dc70f5a either fixed or hid the issue.

[2020-10-02 21:42] dje-dev opened #42994 "Threadpool performance 5x slower under Linux vs. Windows"
[Linux_threadpool_perf.txt](https://github.com/dotnet/runtime/files/5320411/Linux_threadpool_perf.txt)

### Description
A large C# application makes extensive use of multithreading (including ThreadPool) and runs well on Windows but degrades to 1/3 speed on Linux.

The attached standalone C# benchmark code demonstrates the apparent problem. It is based mostly on a performance benchmark written by

[2020-10-02 21:47] tannergooding commented on #42912
I'll run these through git bisect and report back when done.

[2020-10-02 21:48] JulieLeeMSFT commented on #42912
CC @CarolEidt

[2020-10-02 21:53] echesakovMSFT commented on #42912
I think it could be b1f107e6f13252644bbff443670eb4ec540aad86 that made the difference - I reverted this commit on top of release/5.0 (3c6e6cc) and re-building/trying to repro the issue.

[2020-10-02 21:54] danmosemsft commented on #42994
Is it possible to measure with 3.1 to help check whether this is a regression in 5.0? That would make it more time critical if it is.
@kouvel

[2020-10-02 21:55] omajid commented on #42991
I am going to try this out locally.

There's a warning earlier in the build log that might be related:

[code]

[2020-10-02 21:57] dje-dev commented on #42994
Apologies, I should have already noted that.  Not a regression, similar behavior was noted on .NET 3.1 (therefore unfortunately but understandably I guess you will have to treat it as less time critical...)

[2020-10-02 22:04] echesakovMSFT commented on #42912
Confirm that this is the case - build of runtime on top of 3c6e6cc minus b1f107e fails with the same assert.

[2020-10-02 22:05] echesakovMSFT commented on #42912
To double check this I will run ImageSharp repro with 5.0.100 RC2

[2020-10-02 22:06] danmosemsft commented on #42994
As well as investigating it would be nice to know whether we are missing interesting coverage in dotnet/performance. As I do not recall this showing up when @adamsitnik  compare results by OS.

[2020-10-02 22:10] mangod9 commented on #42912
good to know that its already fixed :). From the PR it isnt very clear why it would be consistent failure only on single proc. Is there an explanation?

[2020-10-02 22:15] carlossanlop commented on #13946
This issue is too wide. We already have individual issues tracking each one of the requests listed in this comment: https://github.com/dotnet/runtime/issues/13946#issuecomment-69137144

So I'll close this in favor of the individual API proposals and issues requesting improvements.

[2020-10-02 22:15] #13946 closed

[2020-10-02 22:18] JulieLeeMSFT commented on #12375
CC @CarolEidt

[2020-10-02 22:20] echesakovMSFT commented on #42912
5.0.0-rc.2.20475.5 works as expected - no image corruption

[2020-10-02 22:22] JulieLeeMSFT commented on #42912
Great! Did we test on Windows/Linux as well as single proc machine as others observed issues there?

[2020-10-02 22:24] echesakovMSFT commented on #42912
I did the test only on the single proc Windows machine that Manish provided me.

[2020-10-02 22:25] tannergooding commented on #42912
`git bisect` reports the same. b1f107e6f13252644bbff443670eb4ec540aad86 is `good` and f6b31c21e1369a387cd49e82d4d6e8998b5172ed is `bad`.

The assert goes away as does the image corruption.

The AVX register is meant to be ECX, bit 28. One of the queries was checking EDX, bit 28 by accident.

EDX, bit 28 is the bit that indicates Multi-Threading support:
![image](https://user-images.githubuserconte

[2020-10-02 22:28] echesakovMSFT commented on #42912
@JulieLeeMSFT I am checking Linux x64 runtime now - rc1 vs rc2

[2020-10-02 22:32] mangod9 commented on #42912
Ah makes sense now.

[2020-10-02 22:33] sdmaclea commented on #39886
OK the preview SDK has added `C11`/`C17` support.  See https://devblogs.microsoft.com/cppblog/c11-and-c17-standard-support-arriving-in-msvc/

That means the `stdalign.h` header is present.  However since neither `std:c11` nor `std:c17` is defined the `stdalign.h` header does not define the `alignas` macro which is required.  The version of libunwind we use is using `C11` features.

Long term the r

[2020-10-02 23:19] sdmaclea commented on #39886
Proposed short term fix is in #42997.

@Gnbrkm41 Can you give it a try?

[2020-10-02 23:20] echesakovMSFT commented on #42912
Have troubles reproducing this locally on Linux - no matter what I do the cpuid still shows HTT to be set and there is no issue on both rc1 and rc2.

@brianpopow as far as I understood from https://github.com/SixLabors/ImageSharp/issues/1356 you managed to repro this on  Linux - could you do this only an Azure VM or you also had a local repro?

[2020-10-02 23:49] Sergio0694 commented on #36907
Wanted to provide an update for this.
I've tested this again, this time with .NET 5 RC1, and unfortunatey it seems the regression is still there and also actually worse than before - in my Mandelbrot test case I'm now seeing a 25% performance delta between .NET Core 3.1 and .NET 5 😥

You can see the Mandelbrot test case goes from about 9.1s to over 11.7s when switching from .NET Core 3.1 to .NET 5

[2020-10-02 23:53] jkoritzinsky commented on #39943
This just failed again today. Reopening.

[2020-10-02 23:54] Youssef1313 opened #47776 "DoNotDirectlyAwaitATask: Don't report when using JoinableTaskFactory"
Yes, it would cover `JoinableTaskFactory.Run` and `JoinableTaskFactory.RunAsync`, plus it would cover cases where the `await` comes after one of these:

[code]

[code]

_Originally posted by @sharwell in https://github.com/dotnet/roslyn/pull/48263#discussion_r499091723_

[2020-10-03 00:25] Kuinox opened #42999 "When SequenceReader is completed, it's Position is not equal to it's Sequence.End."
### Description
[code]
I don't understand why this test fails, is this intended ?
The documentation tell

With this, I understand that, two instance not pointing to the same location can be equals,
but not that two SequencePositiong pointing to the same thing are not equal.

Discussed this with @tannergooding on discord.

[2020-10-03 00:27] tannergooding commented on #42999
When I took a look this morning its because `reader.Position.GetInteger()` didn't have the "end of sequence" flag set, while `buffer.End` did.

[2020-10-03 00:37] Kuinox commented on #42999
Yes, looks like the `SequenceReader` is not the issue here, the `SequenceReader` call `Sequence.GetPosition`
And it have the same issue:
[code]

[2020-10-03 00:44] echesakovMSFT commented on #42912
I managed to get the repro on Linux. In order to do that I created a Hyper-V VM with one CPU and loaded an Ubuntu Live image.

I can confirm that the issue there was fixed with RC2. Attached are the result of Manish's repro with .NET 5.0 RC1 and RC2:

**5.0.100-rc.1.20454.5**
![garden-rc1](https://user-images.githubusercontent.com/5292656/94979212-59bcf400-04d6-11eb-9279-83dd4bfd70d7.jpg)
**5.0.10

[2020-10-03 01:01] mangod9 commented on #42912
Thanks @echesakovMSFT and @tannergooding for investigating! @JimBobSquarePants @tocsoft @brianpopow, if you could also please validate we can close this out. .net 5 RC2 should be releasing in two weeks. Thx!

[2020-10-03 01:40] kouvel commented on #42268
Thanks for the info. A possibility may be to redo the measurement for a bit longer at some point after startup. Closing for now, will keep an eye out for similar issues.

[2020-10-03 01:40] #42268 closed

[2020-10-03 02:06] geoffkizer opened #43000 "QuicConnection.RemoteEndPoint should be IPEndPoint, not EndPoint"
I think this was changed to EndPoint because we want to support connecting using DnsEndPoint as well as IPEndPoint. That seems reasonable, but once the connection is established, the user should be able to retrieve the actual remote IP using RemoteEndPoint.

[2020-10-03 02:07] geoffkizer commented on #43000
@karelz @scalablecory We should probably add a label for area-System.Net.Quic. How do we do this?

[2020-10-03 02:19] HermanSchoenfeld opened #43001 "LINQ IEnumerable extension method optimization"
LINQ IEnumerable extension methods should add special case IReadOnlyCollection\<T\.

For example, this line https://github.com/dotnet/runtime/blob/271f008f0fe8168dacac45cd3ce1952e6e32bfbb/src/libraries/System.Linq/src/System/Linq/Count.cs#L18

shows an optimization for ICollection\<TSource\>, yet IReadOnlyCollection\<TSource\> will result in a full iteration.

[2020-10-03 03:19] Gnbrkm41 commented on #39886
Sure! I will give it a try.

[2020-10-03 03:38] Anipik commented on #3619
Can close this after we merge https://github.com/dotnet/runtime/pull/42989

[2020-10-03 04:46] danmosemsft commented on #43000
If you collectively decide you want one just create it (click labels button) and update area owners markdown. Karel can update the tagging bot too. However you should make some effort to go back and relabel as many existing issues as possible so that the labeling bot has some hope of labeling them correctly - just search by keyword and then bulk relabel the relevant issues. Later, we will retrain

[2020-10-03 04:49] briansull commented on #12446
Fixed by #42848

[2020-10-03 04:49] #12446 closed

[2020-10-03 07:07] davidfowl commented on #41863
Don't make http requests that block during construction of objects. Do it before or after. This could even result in deadlocks if not careful.

Even if the lazy doesn't re-evaluate, this looks like a bad idea and it's weird that options would be re-initialized and retired. Constructions of objects isn't something that should be unreliable and retried (or bake the retries into the code itself)

[2020-10-03 07:32] brianpopow commented on #42912
@mangod9 is there a docker image of .net 5 RC2 available? That would be the easiest way for me to reproduce this.

[2020-10-03 09:21] huoyaoyuan commented on #43001
https://github.com/dotnet/runtime/issues/42254#issuecomment-692964530

[2020-10-03 10:01] carlingkirk commented on #41969
@lewing No crashpad reports are logged for me

[2020-10-03 10:47] batzen commented on #39928
I started to have a look at the code and was wondering how to solve this i an way that ensures that we always provide the information about file and working directory.
I guess it would be best to wrap `StartCore` with try/catch and throw a dedicated, new, exception (for example `ProcessStartException`). But i also guess that would be a massive, most likely, breaking change.
What do you think? @dan

[2020-10-03 13:11] kevingosse commented on #14304
I was reminded of this thread thanks to Stephen's talk at dotnetos yesterday 😄

I'm wondering why (seemingly) nobody has tried mimicking the Windows I/O threadpool on Linux (this was suggested by Ben Adams as well in this thread I believe).

Unless I'm missing a fundamental detail, epoll's behavior is very close to IOCP if used with the EPOLLEXCLUSIVE flag. We could have an I/O threadpool on Linux

[2020-10-03 13:48] pgolebiowski commented on #14032
# Priority queue proposal (v2.2)

## Summary

The .NET Core community proposes to add to the system library _priority queue_ functionality, a data structure in which each element additionally has a priority associated with it. Specifically, we propose to add `PriorityQueue<TElement, TPriority>` to the `System.Collections.Generic` namespace.

## Tenets

In our design, we were guided by the followin

[2020-10-03 13:49] pgolebiowski commented on #14032
Changelog:

* Removed the method `void Merge(PriorityQueue<TElement, TPriority> other) // O(1)`.
* Added an FAQ #5: *Why is there no `Merge` method?*
* Modified FAQ #4 to also hold for nodes that have been removed from the priority queue.
* Added an FAQ #6: *Does the collection provide a stability guarantee?*

[2020-10-03 14:03] stephentoub commented on #14304
Thanks for watching. Hope you enjoyed it.

You're of course welcome to, and it'd be interesting to see what results you get. Thanks for offering.

However, I'm a bit skeptical you'll see wins. In particular, even if you solve the scaling mechanism, you'd likely need to change the buffer size passed to epoll wait. Today, a single wait can receive up to 1024 events. You'd likely need to make that 1,

[2020-10-03 14:07] omajid commented on #42991
I can not reproduce on Fedora 32 by building commit `78f189bca6ae9a9d1a994753eae9f88d59b80ef9`. The build continues and fails later on building aspnetcore. I am going to try again with one of the other environments used in CI..

[2020-10-03 14:25] danmosemsft commented on #39928
I’m not able to look at the code right now, but is a diff like the one I pasted above not possible?

[2020-10-03 14:36] batzen commented on #39928
Don't know how to produce a diff here.

But the could would be like:
[code]

[2020-10-03 15:44] danmosemsft commented on #39928
Can’t you just adjust the existing message as I have shown above?

[2020-10-03 15:55] Mikolaytis opened #43004 "System.IO.Compression.ZipArchive async read of entries from FileStream"
## Background and Motivation

In our app we are reading huge zip files from disk. They are containing json files, images, etc.
We want to open and parse the files as fast as possible(async) and with zero memory pressure.

There is two options to solve the issue with current API:
1) Open `ZipArchive` from `FileStream`, Read everything to the memory and process data async. - not fast enough and crea

[2020-10-03 16:10] dagood commented on #42991
Interesting. It looks like even in that CI build I linked, it failed in this way on:
CentOS 7, Fedora 30, Fedora 31, Debian 9, Ubuntu 18.04
but it worked (failing later at aspnetcore) on:
CentOS 8, macOS

Thanks for taking a look.

[2020-10-03 16:29] batzen commented on #39928
Of course.
Was just thinking a bit further. There are so many cases that could make a process fail to start where that info would be useful.
But i guess that should be part of a larger discussion.
Will implement a minimal solution like you suggested.

[2020-10-03 16:31] rgarrison12345 commented on #41090
Hello @roji, I think what you're saying is probably the only way to handle my scenario. Just catch an exception and move on. I am building a graphic interface that's purpose is to audit data. That data comes from a combination of MySql, FireBrid, and SqlServer. I don't actually have control over the definition of stored procedures/views in any of the RDMBS referenced. So it can be difficult at tim

[2020-10-03 16:57] #36219 closed

[2020-10-03 16:57] #13695 closed

[2020-10-03 17:01] roji commented on #41090
Some of the desired behavior can be found in the actual ADO.NET API docs. Another important project is @bgrainger's [ADO.NET specification tests](https://github.com/mysql-net/AdoNetApiTest), which is a test suite for how ADO.NET providers should behave. However, that test suite obviously cannot check if a query is actually cancelled at the server, since there's no way to check that in a cross-data

[2020-10-03 17:43] Pro100AlexHell commented on #23267
I have simple task - detect remote IP address to which http client is connected. I don't want to DNS resolve, but need exactly remote IP.
I didn't understand how to detect remote IP in net core 3.1.
Also I have no time for reading all of topics regarding breaking changes and new API.

I have found solution for .net - https://stackoverflow.com/questions/6655713/how-to-get-ip-address-of-the-server-t

[2020-10-03 17:47] Pro100AlexHell commented on #1793
I have simple task - detect remote IP address to which http client is connected. I don't want to DNS resolve, but need exactly remote IP.
I didn't understand how to detect remote IP in net core 3.1.
Also I have no time for reading all of topics regarding breaking changes and new API.

I have found solution for .net - https://stackoverflow.com/questions/6655713/how-to-get-ip-address-of-the-server-t

[2020-10-03 19:20] mangod9 commented on #42912
@brianpopow unfortunately docker images are not built for daily builds. You could manually install the sdk from here: https://github.com/dotnet/installer/blob/master/README.md#installers-and-binaries. Another option could be to build the repro app as a self-contained app using RC2 for xcopy deployment to the single proc image or VM.

[2020-10-03 22:10] Budsy opened #43013 "Core 3.1 for WinForms System.Net.WebClient Upload.String(string,string,string) overload is broken"
The bug: (.NET Core 3.1 winforms VS project)

System.Net.WebClient.UploadString(string url, string method, string payload) nor the Uri,string,string overload will not compile. Intellisense shows the overload option as documented for Core 3.1, but shows warning and won't compile.

To Reproduce

Simply open a VisualStudio2019 project for .NET Core 3.1 winforms and try to construct:

System.Net.WebCl

[2020-10-03 22:25] layomia commented on #42940
Unless the declared type of the property is `System.Object`, `JsonSerializer` will not serialize it as the runtime type (`typeof(TestEnum)` in this case). The desired behavior will be enabled when polymorphic support is extended - https://github.com/dotnet/runtime/issues/29937, https://github.com/dotnet/runtime/issues/30083.

[2020-10-03 22:25] #42940 closed

[2020-10-03 22:36] layomia commented on #42975
@fbrum, can you share a small complete repro (e.g. a project, sanitized if necessary) that highlights the issue? Given this line where you add your converter to the global converters list, it is not clear to me why your specified options are not being honored.

[code]

How is this `NullReferenceException` being experienced? Can you share a code sample and/or stack trace that highlights this error?

[2020-10-03 22:40] layomia commented on #42677
Linking my comment from https://github.com/dotnet/runtime/pull/42960#issuecomment-702458318. cc @ViktorHofer

[2020-10-03 23:22] danmosemsft commented on #39928
Sure, let's see how that works out in your testing. BTW, new API (like your `ProcessStartException` has to go through an [approval process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md)) which would consider many things such as whether it has sufficient value. In this case I think the exception type is OK.

BTW, this ugliness `new Win32Exception(errorCode).Messa

[2020-10-03 23:44] Serg046 commented on #42948
I'll do it, guess it should be there https://github.com/dotnet/roslyn-analyzers/tree/master/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime.
While I'm preparing a PR, you can suggest an analyzer key, name, etc (otherwise we will discuss it in scope of the PR)

[2020-10-04 06:52] MCCshreyas commented on #40738
Hi, Can I take this issue to resolve?
Seems like I need to change the exception type from `mono_error_set_execution_engine` to `mono_error_set_not_supported`!?
I will raise PR for this, once done!

[2020-10-04 07:03] skrysmanski commented on #40764
@jkotas Are you sure this is a duplicate of #22838? It sound to me that #22838 wants to introduce **new `Stream` classes** instead of supporting `Memory<byte>` in the existing `MemoryStream` class (which is what this issue is about).

[2020-10-04 07:24] MCCshreyas commented on #37395
I will create PR for this with the required code added!

[2020-10-04 09:03] GSPP commented on #40072
Just to add some customer feedback:

I only learned that I needed to cache `JsonSerializerOptions` when profiling showed really bad performance. Normally, I'd have expected an options object to be a value object (a DTO). I did not expect it to hold very heavy data structures. It seems like a performance trap that is easy to fall into.

[2020-10-04 09:24] tomrus88 opened #43010 "How to get single file extraction path in .NET 5.0?"
In .NET Core 3.1 it used to be AppContext.BaseDirectory, but that seems to be changed in 5.0 to return a path where bundle is instead of extraction path.

[2020-10-04 11:08] ayende commented on #42885
Thank you, the symbols helps a *lot*, that said, I'm not sure how to interpret the data, I have.
Below I included the information I have, but I'm not sure how to go from the MethodDesc to the actual method name.
I'm pretty sure based on our information that we are corrupting something on the stack, but I'm not sure how to know what method is being inspected. Lookin at the code, it looks like we ha

[2020-10-04 11:20] jr01 opened #43012 "Multi-threading bugs in System.IO.Packaging"
### Description

Our CI build intermittently fails on tests that process an Excel xlsx. We are using [ClosedXml](https://github.com/ClosedXML/ClosedXML) that uses [Open-XML-SDK](https://github.com/OfficeDev/Open-XML-SDK) that uses System.IO.Packaging.Package. Our unit tests are run concurrently.

We see multiple different exceptions, but they are all XmlException's. One example:
[code]

I have fou

[2020-10-04 11:23] tomrus88 commented on #29456
Why wasn't this added to .NET 5.0?

[2020-10-04 11:30] ayende commented on #42885
Trying further, I _think_ that this should give me the relevant: `MethodDescChunk *`, based on `MethodDesc::GetMethodDescChunk()`.

[code]

That doesn't seem to be the right value, so I'm afraid that I'm lost.

[2020-10-04 11:44] ayende commented on #42885
Okay, I think I got it:

` p (PTR_MethodDescChunk)((char*)pMD- (sizeof(MethodDescChunk) + pMD->m_chunkIndex *4))`

Which gives:

[code]

Which is more reasonable, this gives me:

[code]

This is where I'm forced to stop, because I cannot trace it further:

[code]

BTW, I'm basically trying to get the `GetNameOfMethodDef()` to work, but I don't know if I can. This gets pretty complex and I think th

[2020-10-04 12:24] mageshsankar opened #43014 "WPF Application crash when publish an Self Contained Exe"
WPF Application crash when publish an Self Contained Exe

### Description
I have published WPF application as Self Contained Exe, and it fails to load an document file(**Build Action :** Copy Always) so application crash on load document.

![image](https://user-images.githubusercontent.com/55440472/95015419-6bcf9b80-066a-11eb-8a3b-84f6f5f9909a.png)

**Issue:**

1. Self Contained application failed

[2020-10-04 13:04] vitek-karas commented on #43014
Thanks for trying out single-file. Per the design document https://github.com/dotnet/designs/blob/main/accepted/2020/single-file/design.md in .NET 5 anything except managed code will not be bundled in the application and should be left next to the main `.exe`.

Can you please check that after publishing your application as single-file the `.docx` file is in the published folder next to the applica

[2020-10-04 13:06] vitek-karas commented on #43014
Actually I thought this was a single-file publish - but you only mention self-contained. Can you please specify how you published your application?

[2020-10-04 13:10] mageshsankar commented on #43014
Hi @vitek-karas
![image](https://user-images.githubusercontent.com/55440472/95016495-f5826780-0670-11eb-9f5a-05180af4a483.png)

![image](https://user-images.githubusercontent.com/55440472/95016484-e56a8800-0670-11eb-97f6-e578e85b644b.png)

![image](https://user-images.githubusercontent.com/55440472/95016506-0cc15500-0671-11eb-83e3-18905a3366c2.png)

I have used publish options using above method.

[2020-10-04 13:14] vitek-karas commented on #43014
Thanks - in that case my comment about single-file should apply.

[2020-10-04 13:21] mageshsankar commented on #43014
Hi @vitek-karas

which means self contained exe does not support to read/write output directory files? I should use single-file method right?

[2020-10-04 13:31] ViktorHofer opened #43015 "Console.KeyAvailable throws when input isn't redirected on Windows 7 x86"
[code]

Additional logging:
[code]

The docs state that fileType 2 means:

I would assume that in such a case an `InvalidOperationException` shouldn't happen. Also this seems to be specific to Windows 7 x86.

cc @eiriktsarpalis

[2020-10-04 13:59] MichalStrehovsky opened #43016 "SafeCertContextHandle is missing a default constructor"
This one:

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Security.Cryptography.Pkcs/src/Microsoft/Win32/SafeHandles/SafeCertContextHandle.cs#L12

Without that, it cannot be used in return value marshalling because the return value marshaller needs the default constructor to make an instance of one.

Here's an example of a p/invoke that doesn't

[2020-10-04 14:53] MCCshreyas commented on #37394
Hi @jkotas, quite new to repo actually, I will take this task and will open PR after making those required code changes. By looking at comments in that file, I understand some of the changes, but some are not sure! I hope you will help me to get those in the PR discussion. Thanks! :)

[2020-10-04 15:03] vcsjones commented on #43016
Interesting. I'll take a look.

[2020-10-04 15:06] rmunn commented on #13946
@carlossanlop - It would be nice to have a list of the individual issues tracking those requests so I can subscribe to them. Some of them I might be able to search for, but some I don't know what search keywords to use. Since you already know what those issues are, perhaps you could add a comment listing them? Would be appreciated.

[2020-10-04 17:29] neilspink opened #43018 "NetworkChange.NetworkAvailabilityChanged No Longer Triggers"
### Description

The NetworkChange.NetworkAvailabilityChanged event no longer seems to get triggered when changing wifi networks.

[code]

### Configuration

.NET Framework 4.7.2
OS Name	Microsoft Windows 10 Pro
Version	10.0.19041 Build 19041

[2020-10-04 17:34] ViktorHofer commented on #22276
I don't understand this issue. @ericstj or @danmosemsft can you please provide more details?

[2020-10-04 17:36] ViktorHofer commented on #22343
Closing as we don't plan to add the `SerializableAttribute` to any new types and changes on existing types should be easy to spot in PR reviews.

[2020-10-04 17:36] #22343 closed

[2020-10-04 17:38] ViktorHofer commented on #23085
Closing in favor of https://github.com/dotnet/runtime/issues/27503 to cover the validation part.

[2020-10-04 17:38] #23085 closed

[2020-10-04 17:43] jeffschwMSFT commented on #42979
I manually ported this to https://github.com/dotnet/wpf/issues/3609

[2020-10-04 17:43] #42979 closed

[2020-10-04 17:44] vcsjones commented on #43016
Here's what I found.

1. There are two `SafeCertContextHandle`s because... well I don't know why. There is one in X509 and one in Pkcs. We're looking at the one in Pkcs. The one in X509 does have a default constructor.

    You're likely seeing usages of the X509 version of `SafeCertContextHandle`:

    https://github.com/dotnet/runtime/blob/54623ba202cbb62fb3c5c9d9117ab55dcd5469e4/src/libraries/S

[2020-10-04 17:46] ViktorHofer commented on #13610
Runfo doesn't list any failures in the last 14 days for the described remote executor hang: https://runfo.azurewebsites.net/search/tests/?bq=definition%3Aruntime++started%3A%7E14&tq=name%3A%22after+60000ms+waiting+for+remote+process%22.

Feel free to open an issue for following-up on improvements to RemoteExecutor or the test runner.

[2020-10-04 17:46] #13610 closed

[2020-10-04 17:50] ViktorHofer commented on #37961
Related issue: https://github.com/dotnet/runtime/issues/28888

[2020-10-04 17:54] ViktorHofer commented on #24074
@ericstj do you know where we set the Commit SHA?

[2020-10-04 18:03] ViktorHofer commented on #31505
@Anipik the title links to 5.0 servicing. Should we move the milestone back? Do you know what the remaining work here is?

[2020-10-04 18:09] ViktorHofer commented on #34203
As this issue was tracking to generate a runtime pack as part of the libraries build, and this has been implemented since, I believe we should close this issue.

Let's follow up on future improvements to share the runtime pack generation (cc @jkoritzinsky as he is working on that) in https://github.com/dotnet/runtime/issues/487.

[2020-10-04 18:09] #34203 closed

[2020-10-04 18:10] ViktorHofer commented on #37000
Impelmented with https://github.com/dotnet/corefx/pull/42934. Closing.

[2020-10-04 18:10] #37000 closed

[2020-10-04 18:12] ViktorHofer commented on #35977
Moving into the dotnet/sdk repo. @marcpopMSFT can you please help navigating this to the right person?

[2020-10-04 18:34] vcsjones commented on #43016
"Can we consolidate them and clean this up? 🤔"

Yeah I think that work is being tracked in #26541. It's a bit tangled up though, I'll see if I can keep chipping away at that cleanup effort.

[2020-10-04 19:48] vitek-karas commented on #43014
I don't know what you mean...

Self-contained in .NET Core SDK refers to applications which carry the .NET Core framework with them - they don't require .NET Core preinstalled on the machine to run. This typically makes them large (~70MB or more). Making application self-contained should not in any way affect where/how additional files are packaged with the application.

Single-file applications a

[2020-10-04 22:25] #39521 closed

[2020-10-05 02:13] jkotas commented on #42885
It is very labor intensive to do this manually.

You need to get a working SOS: https://github.com/dotnet/diagnostics/blob/master/documentation/installing-sos-instructions.md and then use `DumpMD` SOS command.

[2020-10-05 02:44] jkotas commented on #29456
We do not plan to add the APIs proposed above. The existing APIs are sufficient to address the scenarios that these APIs are trying to solve.

The suggested replacements are documented in https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file#api-incompatibility

[2020-10-05 02:44] #29456 closed

[2020-10-05 03:01] jkotas commented on #40764
#22838 is discussing different options to address the "wrap a Memory<byte> as a Stream" scenario. It mentions reimplementing MemoryStream on top of Memory<byte> as one of the options. From #22838: "It’s possible we could get away with reimplementing MemoryStream on top of Memory<byte>..."

[2020-10-05 03:03] danmosemsft commented on #43018
@neilspink this repo is for issues in .NET Core / .NET 5. Does this issue occur in that product?

If not, please open an issue at https://developercommunity.visualstudio.com/spaces/61/index.html
You mentioned this used to work - it would be good if you could add info about whether you had a Windows update, or a .NET Framework update? Windows changes more than .NET Framework so most likely it is Wi

[2020-10-05 03:07] jkotas commented on #42948
Thank you @Serg046 !

The naming and structure of this analyzer should mirror the naming and structure of the existing UseEnvironmentProcessId analyzer. It may be idea a good idea to just add handling of this pattern to the existing analyzer - see https://github.com/dotnet/runtime/pull/42768#issuecomment-699516399 and https://github.com/dotnet/runtime/pull/42768#issuecomment-699520037 for more con

[2020-10-05 03:36] CaCTuCaTu4ECKuu opened #43022 "Static properties initialization does not work as expected when inheriting"
All static properties of class will be initialized on acessing, and that's expected behavior, but if you inherit some class with static properties and methods and call\access to them from derived class then runtime treat them as it's base class methods and properties regardless base is abstract and generic. That leads to floating exceptions that can cause troubles - if this methods called before a

[2020-10-05 04:15] brianpopow commented on #42912
@mangod9: me and @antonfirsov have tested with the current dotnet master branch and can confirm that the issue is fixed.

Thanks to all for investigating this issue!

[2020-10-05 04:17] mangod9 commented on #42912
great, thanks for confirming. Will close this now :)

[2020-10-05 04:17] #42912 closed

[2020-10-05 04:55] huoyaoyuan commented on #43022
You can try to replace the static constructor with inline static initialization (`protected static Dictionary<string, T> _possibleValues = new Dictionary<string, T>(StringComparer.OrdinalIgnoreCase);` to check. I remember that the behavior differs by whether an explicit static constructor is present.

[2020-10-05 05:34] lewing commented on #42864
This just a platform detection failure on a test that doesn't need to be run.  Closing.

[2020-10-05 05:34] #42864 closed

[2020-10-05 06:08] agocke commented on #43010
By default, in 5.0 the binaries are not extracted at all, so there is no extraction directory.

[2020-10-05 06:38] tomrus88 commented on #43010
But most of single file apps have native dependencies that will be extracted when if you use IncludeNativeLibrariesForSelfExtract option. So in nearly 100% of cases something will be extracted. And will never cleaned up because there's no way ot get path to extraction folder...

[2020-10-05 06:42] Fabi commented on #43010
Native binaries are ALWAYS extracted.

[2020-10-05 06:46] jmp75 commented on #3793
I am trying to test targeting .NET5 for [dynamic-interop-dll](https://github.com/rdotnet/dynamic-interop-dll) and [R.NET](https://github.com/rdotnet/rdotnet) but need to work with .net core 3.1 for current releases. Not being able to register several versions of the SDK is a nuisance.

`snap list`
[code]

Trying `sudo snap install dotnet-sdk --classic --channel=3.1`  leads to:

snap "dotnet-sdk" i

[2020-10-05 07:05] siberianbot opened #43023 "Unexpected exception handling via hostfxr"
I invoke managed code from unmanaged via nethost and hostfxr according to this [example](https://github.com/dotnet/samples/tree/master/core/hosting/HostWithHostFxr/).
My managed code can throw exceptions which are supposed to be handled by unmanaged code.

Is there any way to handle unexpected exception thrown by managed code via hostfxr?
Or should I handle them in managed code and pass some failu

[2020-10-05 07:06] tomrus88 commented on #43010
Another example where extraction folder path is required: let's assume I want to include some data file (I need to have read/write access, so resources is not an option) with my app and bundle in into single file, this file will be extracted along with all native dependencies to **unknown folder**. How do I specify path to this file from the code?

[2020-10-05 07:09] fbrum commented on #42975
Hi @layomia ,
Thanks for the response.

Just realized something!
My constructor with the options are not being ignored in fact... So the title of this ticket is wrong.
My problem is that I have several fields `DateTimeOffset?`, but that needs two different conversions.
So the above code (that for some reason wasn't able to format, sorry for that) is in fact correct.

The problem is that on the con

[2020-10-05 07:13] karthikshanmugam commented on #11839
@guesshe

While compiling the coreclr, I'm stuck at the fpsimd_context in the PAL, since the said structure is not available in QNX.
Can you please provide any pointers ?

[2020-10-05 07:45] MichalStrehovsky commented on #43016
I don't have a vested interest in the resolution of this - if this is essentially a dup of #26541, we can close this. I hit this when running a tool that eagerly pregenerates p/invoke interop and this hit a bug in the tool where it didn't handle junk input well. I fixed the bug in the tool and filed this because I was already in the middle of yak shaving and didn't want to deal with another yak.

[2020-10-05 08:17] MatthewDavidCampbell commented on #37634
Using SDK version 3.1.8.  Similar problem to this issue (as well a [Blazor issue](https://github.com/dotnet/aspnetcore/issues/16840)) where spaces (both before and | or after) with other non-English characters in string are not a well formed Uri when the Uri is absolute:

[code]

Prefix the url with a slash and change the UriKind flag to Relative | RelativeOrAbsolute and the assertion is valid:

[

[2020-10-05 08:27] ayende commented on #42885
🤦 Of course, for some reason I was so focused on the native side of things, I forgot about SOS

[2020-10-05 08:59] ilelann commented on #40406
From the code https://github.com/microsoft/referencesource/blob/3b1eaf5203992df69de44c783a3eda37d3d4cd10/System.Core/System/Linq/Enumerable.cs#L2547 it is not obvious to me. What am I missing ?

[2020-10-05 09:13] ayende commented on #42885
And with that, I now have a pretty good lead. The `pFunc` in question leads to:

`Raven.Server.Documents.Indexes.Static.Generated.Index_VacancyListIndex.<.ctor>b__0_5(System.Object)`

Now, this is automatically generated code, included below. I apologize for how that looks.
There are big methods with a LOT of internally complex objects here, but there is no use of unmanaged code or anything like t

[2020-10-05 09:20] ayende commented on #42885
We have another failed coredump, and there we have the same stack trace, but the failure is on:

`Raven.Server.Documents.Indexes.Static.Generated.Index_VacancyMatchSuggestionsIndex.<.ctor>b__0_6(System.Object)`

Looking at the error further, I get:

[code]

Note that we have a null `m_pMethTab`

Looking further, here is the faulting instruction:

[code]

And the registers say:

[code]

So we have

[2020-10-05 09:22] ayende commented on #42885
This time the faulty code is elsewhere, but the situation is similar. A lot of operations and deeply nested structure.

[index.cs.txt](https://github.com/dotnet/runtime/files/5326443/index.cs.txt)

[2020-10-05 09:43] jkotas commented on #42885
Probably not.

ppObject argument of `GCHeap::Promote` will point to a local or argument of the method. The next step is to find the name of the local or argument that it points to and see whether there is any common pattern between different dumps.

[2020-10-05 09:46] vitek-karas commented on #43023
We definitely recommend to handle managed exceptions in managed code - that way it's relatively easy to get detailed information (message, stack trace, ...). Currently native hosting APIs don't provide a way to catch and inspect managed exception from native code.

[2020-10-05 09:49] #43023 closed

[2020-10-05 09:56] ayende commented on #42885
How do I find the name of the argument? I don't think that I saw a command for that.

[2020-10-05 10:06] IonKiwi commented on #41737
We also see, other IOExceptions bringing the container down when using the wachter.
Any chance this will get fixed in 3.1?

[code]

[2020-10-05 10:34] neilspink commented on #43018
Nope, neither, so I guess this aint of any interest to you guys.

[2020-10-05 10:34] #43018 closed

[2020-10-05 10:36] hez2010 commented on #43013
System.Net.WebClient was deprecated and removed, instead you need to use System.Net.HttpClient.

[2020-10-05 10:37] #42746 closed

[2020-10-05 10:54] janvorli commented on #42991
This is strange. The local_X509_new is not defined in the apibridge.c unlike other local_xxx functions. @bartonjs do you have any idea what can be going on?

[2020-10-05 11:08] Anipik commented on #31505
I moved it back to 5.0.

I want to see if we can automize the following
1. Package  Version rev ups
2. Assembly Version rev ups and pinning of assembly version for ref assemblies
3. A check to verify we are actually building and shipping the package we are changing.

we have hit errors in the past where we have  missed some cases during the review. The error rate is low for last few releases but i

[2020-10-05 11:30] adamsitnik commented on #42994
hi @dje-dev

WSL2 might add some non-trivial overhead. Have you tried to run the benchmark without it?

We had some issues in the past that were specific to hardware with multiple sockets. Have you tried to run in on a machine with a single socket?

Is there any chance that you could contribute it to https://github.com/dotnet/performance repo? Benchmarks added to this repo are used to ensure that

[2020-10-05 11:32] adamsitnik commented on #42994
yes, we should most probably add more ThreadPool benchmarks to the perf repo.

Currently we have only one: https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/libraries/System.Threading.ThreadPool/Perf.ThreadPool.cs

And it performs much better on Linux compared to Windows: 2.29 vs 3.33 seconds

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fm

[2020-10-05 11:36] adamsitnik commented on #29085
@robertDurst thanks for looking at this!

My suggestion would be to look at the past performance optimizations that we have applied to non-immutable `HashSet<T>` @benaadams might be able to provide some hints here

[2020-10-05 11:47] iSazonov commented on #43010
Related comment https://github.com/dotnet/runtime/issues/43014#issuecomment-703252696

[2020-10-05 11:57] weidingerhp opened #43025 "Visibility checking seems insconsistent if Profiler is attached."
### Description
Had a problem with a .netcore2.2 app that behaved differently as soon as any profiler was attached.

Namely an Error indicating that "NullScope" from Microsoft.Extensions.Logging.Abstractions was missing.
The problem appears that in that particular app the Logging.Abstractions version 3.1 (where NullScope is internal)
and a 2.2 Version of Logging was used.

when started normally (d

[2020-10-05 12:00] AlexeyKhrenov opened #43026 "System.Text.Json - can't serialize exception"
### Description

We're trying to use **System.Text.Json** for serialization and deserialization inside our API project with GraphQL. Sometimes the response object from GraphQL contains errors (exceptions). And serialization of this object fails. So I've come up with a simplified example for the problem:

[code]

The code above throws **System.NotSupportedException: Serialization and deserializatio

[2020-10-05 12:00] JanEggers opened #43027 "Microsoft.Extensions.Hosting.IHost should be IAsyncDisposable"
Id like to be able to use the async dispose capabilities of the host without casting

Proposed API

https://github.com/dotnet/runtime/blob/bd33fc4e4a3382422bee156cd66a45a13521ec58/src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/IHost.cs#L13

=>
public interface IHost : IDisposable, IAsyncDisposable

## Usage Examples

[code]

instead of

[code]

[2020-10-05 12:33] pureggerstefan opened #43028 "Determine file path of razor page at runtime"
Greetings,

is there a possible way to determine the file path of the current .razor-Page displayed in Blazor wasm? For example when using localization and you want to access to resource files named same as the .razor's page path and need to it to the code behind.

[2020-10-05 12:35] muhuozhuyun opened #43029 "Under the linux-x86 architecture, there is a General_protection_fault error"
dotnet calls components written in c language through dllimport, explodes under x86, and leaves a dump file of corexxx, prompting General_protection_fault error, but it can run normally under arm64。

### Description
curs in the following 4 situations:
1. Attempt to write to read-only memory
2. Attempt to execute a byte that is not specified as an instruction in memory
3. Attempt to read the data b

[2020-10-05 12:52] guesshe commented on #11839
There are lots of changes needed. I can't remember exactly what I did here,
but generally, you would need to find a replacement in QNX or bypass the
function by defining your own.

Regards

River He

On Mon, Oct 5, 2020 at 3:13 AM karthikshanmugam <notifications@github.com>
wrote:

--

RIVER HE

Cell: +1 613 608 1686

[2020-10-05 13:02] srothkin opened #43030 "Self-contained .net core 3.1 app giving hostxfr.dll not found (even though it is in the current directory)"
### Description

I have a win-x64 app which is C++ calling a C++/CLI .Net Core DLL which is in turn calling a C# .Net core 3.1 DLL (which in turn uses Microsoft.Data.SqlClient). It works fine on my development computer (in Visual Studio 2019). I copy the .exe and all of the DLLs (including runtime from dotnet publish selfcontained) to another machine (which doesn't have Visual Studio OR the .net c

[2020-10-05 13:32] srothkin commented on #43030
Tried set DOTNET_MULTILEVEL_LOOKUP=0
that also didn't help.

[2020-10-05 13:37] stephentoub commented on #27997
If you look at the disassembly for VolatileRead, e.g. as I've done here with benchmarkdotnet's disassembly diagnoser:
[code]
you'll see something like this:
[code]
so while there's no actual call to `Thread.MemoryBarrier`, there's still a `lock or` in there (and `Thread.VolatileRead` doesn't get inlined).

In contrast, changing the `Thread.VolatileRead` to `Volatile.Read`, you'll see something lik

[2020-10-05 13:44] stephentoub commented on #27997
@bartonjs, @terrajobst, the approval information says "Approved as marking as obsolete and EditorBrowsable(Never)", but the API diff only shows EditorBrowsable(Never), not Obsolete and what diagnostic ID should be used with it, etc.  Which is correct, the text or the API diff?

[2020-10-05 13:48] stephentoub commented on #33762
I'm going to close this.  I expect any further work we'd want to do here would be augmenting IDE0070 based on feedback, and with IDE0070 designed/implemented in dotnet/roslyn, that's something better left in that repo,

[2020-10-05 13:48] #33762 closed

[2020-10-05 13:49] CaCTuCaTu4ECKuu commented on #43022
@huoyaoyuan initially it was inline initialization and class behaved same way, then I moved it to static ctor

[2020-10-05 13:50] lambdageek commented on #37838
Going to take another approach to this: refcount in managed and only dispose of the native metadata instance once all the graphics instances that take a reference to it are disposed.

[2020-10-05 13:58] stephentoub commented on #43001
Closing as dup of #42254. Thanks.

[2020-10-05 13:58] #43001 closed

[2020-10-05 14:02] DHOFM opened #43032 "Problem with OpenIdConnect"
Hi,
I try to connect with OIDC to a Governikus Autent Server. When the .../token URL is requested Autent requires client & secret as a authorization header. In RedeemAuthorizationCodeAsync in the OpenIdConnect Class the Header is not set. When I manipulate the request in the debugger like this:
`requestMessage.Headers.Authorization = new AuthenticationHeaderValue("Basic",Convert.ToBase64String(Sys

[2020-10-05 14:06] stephentoub commented on #43013
It was obsoleted in .NET 5, but it wasn't removed.  It's still there and not marked as obsolete in .NET Core 3.1.

I did this and it compiles fine for me.  Can you share your repro project that fails to compile?

[2020-10-05 14:09] huoyaoyuan commented on #43022
There is actual difference, but I'm not sure if it's related to this behavior. See https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1810?view=vs-2019 .

[2020-10-05 14:14] vitek-karas commented on #43030
C++/CLI loads the managed code using native hosting APIs as a component. Currently we don't support self-contained components. I'm not surprised this doesn't work. I think that on the machine which has VS (And thus has globally installed .NET Core) it probably runs as at least partially framework dependent (or it's some weird mix of things, because this is something the hosting layer is not prepar

[2020-10-05 14:14] CaCTuCaTu4ECKuu commented on #43022
As I mentioned, no difference within this case

[2020-10-05 14:15] KalleOlaviNiemitalo commented on #43022
If you make the `GetAll`, `IsValidValue`, `Parse`, and `TryParse` methods of `StringEnum<T>` run the static constructor of `T` before they read `_possibleValues`, then each test will pass on its own.

[code]

Maybe there is a way to do this without spending time on a runtime check every time those methods are called.

I'd also change the `_possibleValues` field from `protected` to `private`, to re

[2020-10-05 14:21] omajid commented on #42991
`X509_new` seems to be defined in OpenSSL 1.0.x: https://www.openssl.org/docs/man1.0.2/man3/X509_new.html. It probably doesn't need to have a `local_X509_new` version?

[2020-10-05 14:24] CaCTuCaTu4ECKuu commented on #43022
@KalleOlaviNiemitalo I already find out that workaround, but that means that if a have a lot of classes i have to run this for all of them or create static method to find them in all assemblies with reflection and initialize. I dont see it as an option in production environment. And thanks for advice, it make sense.

I pretty sure it does not. As i mentioned moving parts around doesn't help me

[2020-10-05 14:29] KalleOlaviNiemitalo commented on #43022
You'd only need to add the calls in `StringEnum<T>`, not in `StringEnumTestModel`. Do you mean you have more generic types like that, e.g. `GuidEnum<T>`?

[2020-10-05 14:30] srothkin commented on #43030
Yes

[2020-10-05 14:32] gfoidl commented on #27997
Hm, for .NET 5.0 the stack is used. So the JIT from .NET 4.8 produces better code?
[code]

[2020-10-05 14:34] ohadschn commented on #1287
Would this include parity with [CreateProcess](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessa)?

Specifically, support for [Process Creation Flags](https://docs.microsoft.com/en-us/windows/win32/procthread/process-creation-flags) would be useful.

[2020-10-05 14:34] stephentoub commented on #27997
Potentially (@AndyAyersMS), but my example was also not particularly realistic: there's really no reason to use Volatile.Read like this on a parameter.  I expect if you changed the code to, for example, access a static field instead, that the extra mov wouldn't be there.

[2020-10-05 14:36] CaCTuCaTu4ECKuu commented on #43022
And about that, i'm not sure about hitting initialization every time, should I call method even if it's basically `if` check - is it good practice to do so?
My initiall thought was to create two implementations as delegates for listed methods and one that initialize `StringEnum<T>` will replace them with another implementations after, so only first call will run that method. Does that make any sen

[2020-10-05 14:43] CaCTuCaTu4ECKuu commented on #43022
Oh looks like putting `System.Runtime.CompilerServices.RuntimeHelpers.RunClassConstructor(typeof(T).TypeHandle);` inside `StringEnum<T>` static ctor basically helps. I'l better check

[2020-10-05 14:45] gfoidl commented on #27997
Yep, looks as expected (for static and instance field)
[code]
As the code with reading the argument itself isn't realistic, I'd say there is no action to be taken on this.

[2020-10-05 14:48] eerhardt commented on #43027
This would be an API breaking change. @davidfowl - do we have a policy on breaking changes like this in Microsoft.Extensions?

[2020-10-05 14:54] marto83 opened #43033 "ClientWebSocket sends malformed payload - .net 4.7.2 and 4.8"
### Description

When using the System.Net.WebSockets.ClientWebSocket with payloads of about 80kb and sending between 30 and 50 messages per second, eventually the client starts sending malformed payloads and the connection is aborted by the server. This only occurs in .net framework and I haven't managed to replicate it with .net core 3.1 and up.

It's also necessary to have some network latency

[2020-10-05 14:56] CaCTuCaTu4ECKuu commented on #43022
Ok. Clear workaround found. Thank's for help, I just missed that moment yesterday.

Last question is if it's intentional behavior. So while I see why that's happening open question is sould it work like this?

[2020-10-05 15:08] ddiefenthaler opened #43034 "Question: Examining the evaluation stack using a profiler"
Hello, I'm trying to access specific values from the intermediate language evaluation stack during the execution. My motivation behind this is the extension of [siemens/drace](https://github.com/siemens/drace) to use a profiler for managed code. In order to perform the race detection from within the runtime I do not only need access to the load/store instruction themselves but also the addresses t

[2020-10-05 15:12] gbalykov opened #43035 "System.Private.CoreLib.dll compilation with crossgen2 on armel leads to Error: Object reference not set to an instance of an object."
### Description

dotnet/runtime: 855e2961ba70d3ed8b094d230aaf655adac2b76e

armel:
[code]

Output:
[code]

On x64 everything's fine

cc @alpencolt

[2020-10-05 15:14] maryamariyan commented on #38491
Sure. Closing as it's already fixed.

[2020-10-05 15:14] #38491 closed

[2020-10-05 15:22] vitek-karas opened #43036 "libhostpolicy.so requires pthread_create but does not include it"
On Linux in .NET 5 `libhostpolicy.so` requires symbol `pthread_create`, but it doesn't include it, so if used the calling code must provide this dependency. This is effectively breaking change from .NET Core 3.1 where `libhostpolicy.do` didn't require this symbol.

Repro:
Get a local close of the [HostingWithHostFxr](https://github.com/dotnet/samples/tree/master/core/hosting/HostWithHostFxr) sampl

[2020-10-05 15:22] ViktorHofer commented on #31505
Sounds good. I assigned you to the issue.

[2020-10-05 15:23] maryamariyan commented on #36391
Added api-suggesion label to this issue. The best next step on this would be to prepare the API proposal, usage, etc. in the issue page here (following https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md).

[2020-10-05 15:34] jkoritzinsky commented on #43030
Self contained C++/CLI is not currently supported.

[2020-10-05 15:39] ViktorHofer commented on #36001
Hey @rcollina, unfortunately we've closed on new features for 5.0. We could consider this for 6.0 but need a more detail design spec. cc @HaoK

[2020-10-05 15:40] davidfowl commented on #36391
I'm not a fan of this proposal (I don't think there should be an extension method on the host). Also that implementation is more complex than it needs to be.

[2020-10-05 15:49] ericstj commented on #40099
A bit more on schedule so folks understand where we are at now.  We switched gears from feature development to bug-fixing around mid-July when we branched for Preview8.  At that point it was all-hands on deck to get bugs fixed and bring 5.0 up to ship quality.  We haven't been doing feature work since then, and new APIs and design changes are feature work (more on that below).  We're now pretty mu

[2020-10-05 15:52] HaoK commented on #36001
I'm not sure this makes sense on the options monitor itself, but it might make sense on the cache interfaces, exposing a way to get the names of the already configured options instances.

[2020-10-05 16:00] Clockwork-Muse commented on #40406
@ilelann - I've been bitten by that too, especially since search engines seem to index the reference source, but not the git repository (as much) - for obvious reasons.

[2020-10-05 16:05] som-nitjsr commented on #29935
i am using .net core 3.1.18 web api hosted in IIS. i have load balancer  hosting the api on two windows server. i am writing a file since i need to access the file from from two server i am using  UNC path for folder sharing.
i need  to access a shared location and i am running the code using WindowsIdentity.RunImpersonated.
apppool is running and Network service and Network service has access on

[2020-10-05 16:07] ericsampson commented on #753
Is it possible to dupe-close one of these two issues, so that there is one main tracking issue?
https://github.com/dotnet/runtime/issues/12650

[2020-10-05 16:18] Fabi commented on #43010
It's only half related to that imo. Having native binaries not bundled into a bundle is really stupid design and there is  NO reason to not implement loading native binaries from memory. It's possible, not hard to do and works fine. It's probably not even much effort to implement it in the current bundle process.

[2020-10-05 16:20] Clockwork-Muse commented on #43026
.... first of all, you generally shouldn't return raw exceptions in an API.  Not only because of potential security vulnerabilities, but also simply because there's going to be a bunch of implementation details which are _in no way relevant_ to your callers (line numbers, full call stack).  They should get logged, and some generic "we messed up" error returned (HTTP 500, maybe).

If this is in ref

[2020-10-05 16:21] omajid commented on #42991
@dagood adding https://github.com/dotnet/runtime/pull/43039 to `patches/runtime` fixed the build locally for me.

[2020-10-05 16:23] bartonjs commented on #27997
Yeah.  I think that in June we didn't have a 100% solid plan on new obsoletions yet, so I didn't have anything to include in the ref code snippet.

[2020-10-05 16:40] #39886 closed

[2020-10-05 16:56] jkotas commented on #42885
There is no command for that. It requires looking at the disassembly and corelating with the source code.

[2020-10-05 17:05] TimLovellSmith commented on #14032
The new FAQ looks great. I played around with coding Dijkstra against the proposed API, with handle dictionary, and it seemed basically fine.

The one small learning I had from doing this was that the current set of method names/overloads doesn't work so well for implicit typing of `out` variables. What I wanted to do with the C# code was `TryDequeue(out var node)` - but unfortunately I needed to

[2020-10-05 17:07] jeffschwMSFT commented on #42802
@AaronRobinsonMSFT can you help triage this issue?  Thanks

[2020-10-05 17:19] NikolaMilosavljevic opened #43042 "THIRD-PARTY-NOTICES file contains license for `Microsoft.Diagnostics.TestHelpers` which is a test only asset"
`Microsoft.Diagnostics.TestHelpers` is a in-repo test only asset. It's used here and in diagnostics. In fact @NikolaMilosavljevic, all diagnostics assets ship out of box. The assets we flow here are for testing/tooling.

_Originally posted by @hoyosjs in https://github.com/dotnet/runtime/pull/41851#discussion_r499039407_

The following section should be removed from https://github.com/dotnet/runti

[2020-10-05 17:31] AaronRobinsonMSFT commented on #42802
@jkoritzinsky Can you take a quick look to see if you can reproduce this issue? Nothing here on the interop side of the house has changed.

[2020-10-05 17:33] scalablecory commented on #43044
Can you please check to see if this leak occurs when using .NET 5?

[2020-10-05 17:36] pranavkm opened #43045 "free(): invalid pointer when running `dotnet new`"
Encountered this as part of AspNetCore's test runs. Helix logs with the failures available here: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-aspnetcore-refs-heads-release-50-29687c8ca7bf42c4b4/ProjectTemplates.Tests--net5.0/console.014a62da.log?sv=2019-07-07&se=2020-10-23T01%3A34%3A17Z&sr=c&sp=rl&sig=S8CNTElSEp2RIVCbONfuoxKVWAwDXV3vx7TZlMRhy%2Fk%3D

SDK: v5.0.100-rc.1.20452.10
OS

[2020-10-05 17:37] MaximGurschi opened #43046 "ConcurrentQueue.IsEmpty result freshness across cores"
Hi team,

Am i right to understand that ConcurrentQueue.IsEmpty (and possibly other members) is not meant to be used in a way that relies on the invariant:
**If the queue is modified (add or remove) by thread X, then some other thread Y will see the "fresh" result of calling IsEmpty?**

I looked at the implementation of the property and concluded that there is no strict freshness guarantee actuall

[2020-10-05 17:37] Ultrafeel opened #43047 "ArrayList GetRange ToArray combination can throw"
### Description
[code]

### Configuration
Tested for Netframework 4.5 through 4.7.2
But seems to be still exist.

[2020-10-05 17:39] ggjjj commented on #42869
Thanks for the explanation. Will close it!

[2020-10-05 17:39] #42869 closed

[2020-10-05 17:44] MaximGurschi commented on #35094
On a slightly related note, i was wondering if there is interest in making the maximum segment size be programmable. So that it can be more than ~10^6?

[2020-10-05 17:44] wfurt commented on #43045
is there core file? I assume this is not easy to reproduce, right?
cc: @bartonjs

[2020-10-05 17:48] ericstj opened #43049 "Consider changing usages of netcoreapp to net in the repo"
We should think about removing our internal uses of netcoreapp.  For instance, in property names like `$(NetCoreAppCurrent)`.  Now that we are back to using `net` I bet `netcoreapp` will be confusing in the future.

/cc @dotnet/runtime-infrastructure

[2020-10-05 17:49] imhameed opened #43050 "[mono] Add support for SIMD shuffles with non-constant masks"
Mostly a note to myself. Can use `llvm.is.constant` to keep the large materialized branching code sequence out of line while still allowing constant propagation to simplify shuffles with control masks that happen to be constant after optimization.

[2020-10-05 17:50] ViktorHofer commented on #43049
Let's rename the shared framework.

[2020-10-05 17:51] pranavkm commented on #43045
There are some files attached to the Helix logs: https://dev.azure.com/dnceng/public/_build/results?buildId=840653&view=ms.vss-test-web.build-test-results-tab&runId=26769914&resultId=122342&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab. Does that help?

The error isn't very frequent.

[2020-10-05 17:51] dagood commented on #42991
Works for me too, thanks! Leaving this issue open to track getting https://github.com/dotnet/runtime/pull/43039 merged rather than keeping the patch into 5.0.0+.

[2020-10-05 17:54] jkotas commented on #36160
Does `getTypeInstantiationArgument` method on JIT/EE help?

[2020-10-05 17:57] NikolaMilosavljevic commented on #43042
@hoyosjs I've double-check the contents of https://github.com/dotnet/runtime/blob/master/src/installer/pkg/THIRD-PARTY-NOTICES.TXT. The section outlined in first comment (src/Microsoft.Diagnostics.TestHelpers/Xunit.Extensions/*) is the only one from dotnet/diagnostics that should be removed.

[2020-10-05 17:59] hoyosjs commented on #43042
~I don't expect it to right now~. Looks like now we do have one thing. The assets we produce are:

Global Tools - Nupkgs that we ship out of band.
[code]

Tool in preview, doesn't ship in-box. We only have a docker container besides the packages.
[code]

Utility packages - internal consumption in other tools and testing, but not in-box.
[code]

The only one that could be a dependency for someone t

[2020-10-05 18:01] wfurt commented on #43045
no, the text files do not help. from there you cannot see what individual threads do. Even with the core, this is hard to diagnose as what is the root cause may happen in the past.

[2020-10-05 18:01] maryamariyan commented on #36401
@zarenner closing as per @pranavkm 's comment and since the behavior seems to have been originally intentional and has a risk of breaking existing logging setups.
If you still believe this is highly blocking please let us know and go ahead and reopen @zarenner .

[2020-10-05 18:01] #36401 closed

[2020-10-05 18:03] NikolaMilosavljevic commented on #43042
I see - thanks for checking! Does this mean that we should keep the TPN section about src/Microsoft.Diagnostics.TestHelpers/Xunit.Extensions/* and its use of https://github.com/xunit/samples.xunit code?

[2020-10-05 18:05] ViktorHofer commented on #41975
gentle ping @rainersigwald regarding my questions 1 and 2 above.

[2020-10-05 18:06] agocke commented on #42665
Fixed in https://github.com/dotnet/runtime/issues/42352

[2020-10-05 18:06] #42665 closed

[2020-10-05 18:06] stephentoub commented on #43046
IsEmpty doesn't forcibly synchronize with other threads.  It will see a consistent view of memory, but there's no guarantee it sees the absolute up-to-date view of memory at that exact instant.  But even if it did, that's a very weak guarantee (which is part of why it doesn't bother): by the time it gathered its answer, the state of the world could have changed.

[2020-10-05 18:06] agocke commented on #42304
Fixed in https://github.com/dotnet/runtime/issues/42352

[2020-10-05 18:07] CarolEidt commented on #36160
I'm not really a fan of the `SIMDHandlesCache`, and I believe we'd be better off extending the `ClassLayout` to include the SIMD "base type" (instantiation type). Then we could replace the search through the `SIMDHandlesCache` with a lookup in the `ClassLayoutTable`.

That seems like an issue we need to be able to handle in any event, and I wonder if a synthetic `ClassLayout` would be the way to a

[2020-10-05 18:07] agocke commented on #42288
Assuming for now this was fixed in #42402

[2020-10-05 18:07] #42288 closed

[2020-10-05 18:08] agocke commented on #42265
Mitigated by https://github.com/dotnet/runtime/pull/42435

[2020-10-05 18:16] maryamariyan commented on #36133
The next step for this is to come up with an API proposal. Here's a link to the procedure: https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

[2020-10-05 18:20] hoyosjs commented on #43042
No, that asset is test-only. The only dependency the client has is `Microsoft.Bcl.AsyncInterfaces`.

[2020-10-05 18:21] MaximGurschi commented on #43046
@stephentoub Thank you for confirming. Yes i appreciate the race condition around interpreting the value in general. However my use case is very specific. If it helps, i am asking this in the context of implementing a BlockingCollection with the relaxed constraint that there is only one producing and one consuming thread. If i implement my own logic based on the Concurrentqueue (+ an atomic counte

[2020-10-05 18:21] #43046 closed

[2020-10-05 18:21] imhameed opened #43051 "[mono] Tracking: Intrinsics"
- [ ] [System.Runtime.Intrinsics.Vector{128,256,64}](https://github.com/dotnet/runtime/issues/42350)
- [ ] [System.Runtime.Intrinsics.Arm.Sha256](https://github.com/dotnet/runtime/issues/42325)
- [ ] [System.Runtime.Intrinsics.Arm.Sha1](https://github.com/dotnet/runtime/issues/42323)
- [ ] [System.Runtime.Intrinsics.Arm.Rdm](https://github.com/dotnet/runtime/issues/42322)
- [ ] [System.Runtime.Int

[2020-10-05 18:23] maryamariyan commented on #36064
cc @davidfowl @ericstj @tarekgh

[2020-10-05 18:24] NikolaMilosavljevic commented on #43042
Thanks - will get the PR ready for this.

[2020-10-05 18:26] maryamariyan commented on #36057
@fluffynuts closing as per @anurse 's comment.
Please reopen if you feel like you are still stuck.

[2020-10-05 18:26] #36057 closed

[2020-10-05 18:28] tannergooding commented on #36160
I don't think so. The issue is we are building the `SIMDHandleCache` by matching the name: https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/simd.cpp#L325-L330
So what we have is a `Vector`1[System.IntPtr]`, however we only cache the `simdBaseType` which will be `TYP_I_IMPL`, which is just an alias for `TYP_ULONG`

This means that when we later try and get the handle back, such as

[2020-10-05 18:31] butler1233 commented on #40099
Thanks Eric for your input.

I just want to clarify that I wasn't just railing against the project/maintainers/contributors, but was trying to establish the view for me (and those who I've spoke to in favour of `Ignore`) about the situation.

I personally am not even a fan of the current implementation that exists in Json.NET. While I do make use of it, and agree with @JamesNK that it *definitely*

[2020-10-05 18:35] nzbart opened #43052 "Debian 11 - allow installation against libicu67"
I see that there is a list of known libicu versions, aptly named `KnownLibIcuVersion`. Is it possible to add [libicu67](https://tracker.debian.org/pkg/icu) to the list so that dotnet can be installed on Debian Testing?

Currently, this is the error I get when trying to install:
[code]

This Dockerfile reproduces the issue:
[code]

Build with:
[code]

[2020-10-05 18:37] lewing commented on #41969
cc @thaysg

[2020-10-05 18:45] ViktorHofer opened #43053 "Should we lower the native libraries build's verbosity (clrcompression, etc.)?"
The native libraries build step is currently very verbose as the default level is used. Should we lower the verbosity?

cc @ericstj @safern @Anipik

[2020-10-05 18:48] ericstj commented on #22276
This was trying to track the case that we include assemblies in our shared framework, don't expose them, and don't actually use them.

Psuedo code:
[code]

Though now we actually permit some of these, so that we have consistent runtime exposure.  For instance we include System.Security.Cryptography.OpenSSL on windows, and Microsoft.Win32.Registry on linux.  As such I'm not sure if this is so inter

[2020-10-05 18:50] ericstj commented on #22343
cc @GrabYourPitchforks

[2020-10-05 18:52] ViktorHofer commented on #22276
Could we remove that assembly from the shared framework / runtime pack on linux actually or does it need to be there?

[2020-10-05 18:53] rcollina commented on #36001
Just to make sure I worded the requirement properly.

I need the list of option names _before_ any named options instantiation happens.

So I can iterate over it and obtain the options instances for the reasons I mentioned in another comment.

[2020-10-05 18:56] ericstj commented on #24074
It's done here: https://github.com/dotnet/arcade/blob/988d74184dc8069591a80b0a58ba6f7af79afcc9/src/Microsoft.DotNet.Build.Tasks.Packaging/src/build/Packaging.targets#L889

Perhaps now that we embed the actual source control info in the packages via NuGet's https://docs.microsoft.com/en-us/nuget/reference/nuspec#repository we can just remove this.  The former pre-dates the latter.

[2020-10-05 18:57] rcollina commented on #36001
I understand there are items with a higher priority.
It’s been a while since I requested this feature, I’ll keep waiting.

[2020-10-05 18:59] ViktorHofer commented on #24074
Sounds like a plan. Maybe you have a few "minutes" sometime to remove that code? (panda face)

[2020-10-05 19:00] eerhardt commented on #43044
@ilyoniss - thank you for the issue report. I am unable to reproduce a memory leak using the default "Worker Service" template. Can you share more information about how you are seeing a memory leak?

Yes, objects are allocated while the service is running (this comes from logging that happens every second). However, not enough memory is allocated in order to trigger a GC in the first few minutes o

[2020-10-05 19:04] cston commented on #42966
It looks like this is an issue with .NET Framework rather than .NET 5.0.

With .NET Framework 4.7.2, the call to `System.Delegate.DynamicInvoke(object[] args)` in the second code snippet throws `System.Security.VerificationException`.

With .NET Core 3.1 and .NET 5.0, the call to `System.DelegateDynamicInvoke(object[] args)` completes without throwing an exception.

[2020-10-05 19:12] stephentoub commented on #43044
As an aside, since `sbyte[]` isn't a particular common kind of array to allocate, I'd guess these are coming from the JIT, with it allocating them to report inlining decisions to the runtime.  As of https://github.com/dotnet/coreclr/pull/22285, these are `sbyte[]`s.

[2020-10-05 19:15] jkotas commented on #36160
BTW: This name matching code is sub-optimal. It is using slow method for name formatting that it is meant to be used for debug-only tracing. The TODO at https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/simd.cpp#L257 talks about it.

We can add JIT/EE interface methods that let you create new generic instantiations if it helps JIT to represent things. JIT would have to guarantee th

[2020-10-05 19:24] lambdageek commented on #37838
Checked on Windows

both versions of the following work:
[code]

On the other hand

[code]

Throws an `OutOfMemoryException` from the second line.  So I believe it should be enough to just keep a reference from `Metafile` to `Graphics` that is initialized when the `Graphics` instance is created and only dispose of the Metafile when the `Graphics` instance is `null`.

I'm not sure what the thread s

[2020-10-05 19:25] BruceForstall commented on #42787
@dotnet/jit-contrib This is still causing many jobs to fail

[2020-10-05 19:28] ericstj commented on #43049
And build a shared-framework-forwarded-to feature in the host.

[2020-10-05 19:36] ViktorHofer commented on #43049
and let's not forget to also forward the `.NETCoreApp` TFI to `.NET`.

[2020-10-05 19:36] safern commented on #43053
What is it from the output that you would like to reduce, I guess it is the:
[code]
?

[2020-10-05 19:38] safern commented on #43052
@tarekgh @ericstj I guess we would need to backport this to 2.x, 3.x and 5.0?

[2020-10-05 19:38] ViktorHofer commented on #43053
All of that 😂:

[code]

[2020-10-05 19:40] safern commented on #43053
Ah I see... lol. I believe that is because on Windows we use `MSBuild`. This would probably go away when we switch to ninja, but we could lower the verbosity here: https://github.com/dotnet/runtime/blob/f025f53481b492725cf889616315c73102b6ee58/src/libraries/Native/build-native.cmd#L150

[2020-10-05 19:48] erozenfeld commented on #42787
I haven't investigated this but my guess is that this is likely caused by removal of this line https://github.com/dotnet/runtime/blob/5c8e3f820deb54941ebcec53d02f466d7c27f7ed/src/coreclr/src/jit/compiler.cpp#L4660 in my #42664.

[2020-10-05 19:51] ViktorHofer commented on #43053
How verbose is the output on Unix?

[2020-10-05 19:57] safern commented on #43053
It is somewhat verbose as well:
[code]

I like this level of verbosity as it helps diagnose issues when the build fails.

[2020-10-05 19:58] vitek-karas opened #43057 "Building .NET 5 windows app fails on latest builds of NanoServer container"
.NET 5 port of bug https://github.com/dotnet/runtime/issues/42443

NanoServer container changed behavior and `BeginResourceUpdate` now returns `ERROR_CALL_NOT_IMPLEMENTED` on platforms where it's not supported. SDK has code detect this situation, but it expects different behavior than this error code (the old behavior).

Without this change trying to build any windows application on the NanoServer

[2020-10-05 19:58] tannergooding commented on #36160
This is what `getTypeInstantiationArgument` is for, correct? It looks like we are actually using that for the `Vector64/128/256<T>` path: <https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/simd.cpp#L578>...

Is it prohibitively expensive if we used it exclusively or would we still need some caching layer to help?

I think that's reasonable and don't believe we are using the handles

[2020-10-05 20:00] tarekgh commented on #43052
Is there a way to avoid listing the version numbers in the dependencies? I am guessing we'll need to do that again with new ICu versions?

[2020-10-05 20:01] tarekgh commented on #43052
by the way, I am still seeing this infrastructure issue more than globalization :-)

[2020-10-05 20:01] vitek-karas commented on #43057
/cc @richlander @jeffschwMSFT

[2020-10-05 20:01] gfoidl commented on #42591
Can the windows-version actually be cancelled?

The code goes down to https://github.com/dotnet/runtime/blob/f025f53481b492725cf889616315c73102b6ee58/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Windows.cs#L1150-L1152 which is [TransmitFile function (mswsock.h)](https://docs.microsoft.com/en-us/windows/win32/api/mswsock/nf-mswsock-transmitfile) and I don't see any functionalit

[2020-10-05 20:01] agocke commented on #43030
Closing as unsupported

[2020-10-05 20:01] #43030 closed

[2020-10-05 20:02] tarekgh commented on #43052
@safern is this the same issue https://github.com/dotnet/core/issues/5019?

[2020-10-05 20:05] tarekgh commented on #43052
@nzbart what version of Debian you have?

[2020-10-05 20:08] Clockwork-Muse commented on #43046
... you may as well look for a specific SPSC (single-producer, single-consumer) queue, because those exist (they're simpler and faster).

Why a `BlockingCollection`, though?  Note that an atomic counter doesn't completely solve your problem, since you also have to prevent add/remove until you finish with whatever you were doing, at which point you might as well just lock around a normal `Queue`+`i

[2020-10-05 20:10] KernelErr0r opened #43059 "Dotnet publish produces weird warning"
### Description

Command ``dotnet publish -r linux-x64 -c release -p:PublishReadyToRunShowWarnings=true`` produces a weird warning:
[code]

As far as I know, this issue is specific at least to Linux (it doesn't happen on Windows)

### Configuration

Ubuntu 18.04 / .NET Core 3.1 / x64

### Other information

https://github.com/KernelErr0r/AudioSensei/pull/14/checks?check_run_id=1205984110 // Linux

[2020-10-05 20:15] nzbart commented on #43052
@tarekgh For day-to-day development, I run Debian Testing so that I have the most recent versions of the O/S and software. I deploy to Debian 10 stable.

[2020-10-05 20:16] gfoidl commented on #42591
Has cancelling on windows be done via https://github.com/dotnet/runtime/blob/f025f53481b492725cf889616315c73102b6ee58/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs#L102 (resp. `Interop.Kernel32.CancelIoEx`)?

(Now I understand why you wrote tricky).

[2020-10-05 20:17] vitek-karas commented on #43030
Using framework dependent model should work (runtime is preinstalled on the machine).

The only scenario which is self-contained and includes C++/CLI which is supported is where the application starts as a managed .NET Core self-contained application, and eventually it loads the C++/CLI component. The C++/CLI component is still framework dependent in this case, but it gets the runtime/framework fr

[2020-10-05 20:19] tarekgh commented on #43052
it looks according teh doc https://docs.microsoft.com/en-us/dotnet/core/install/linux-debian we are not supporting Debian 11 yet.

CC @dagood

[2020-10-05 20:29] AaronRobinsonMSFT opened #43060 "Source generation of ILStub for DllImport"
The [Roslyn source generator][source_gen_announcement] feature has created an opportunity for the Interop team to consider the generation of the P/Invoke ILStub at compile time instead of during run time. A proposal for this work can be found [here][spec_for_dllimport_source_gen].

Prototyping is occurring in the [`dotnet/runtimelab`][source_gen_repo].

## Goals

- Remove run time overhead of ILSt

[2020-10-05 20:31] nzbart commented on #43052
@tarekgh I realise that official Debian 11 support will only come several months after official release of Debian 11. Due to the infrequent (around once every two years) release cycle of Debian stable versions, it'd be great if it was still possible to install and run on the latest version - maybe via a beta channel or similar? Not many developers will be running the stable version of Debian other

[2020-10-05 20:34] AaronRobinsonMSFT commented on #43060
/cc @lambdageek @marek-safar @vargaz

[2020-10-05 20:37] tarekgh commented on #43052
@nzbart I am not objecting to do something here. I support unblocking Debian 11 usage.

@dagood @safern could you advise what need to be done here? I marked this issue as release blocking but please advise if this is not the case.

[2020-10-05 20:40] wfurt commented on #33537
as I mentioned, this does not seems to be dotnet specific. You would probably need to ask Apple's support.
There are cases when .NET does not know if keychain exist or not and that probably leads to the error condition. (some for other apps) But I don't know how to suppress that or if that is even possible.

[2020-10-05 20:42] steveharter commented on #40099
The main scenario as I understand:
- EF is being used to obtain entities that need to be serialized to JSON.
- The entities are serialized to JSON which is used by a client or UI that doesn't want to repeat the duplicated information.
- The JSON that is missing is not important, and it's OK to have silent-data-loss.

The main question I have is whether the POCO types are general-purpose meaning us

[2020-10-05 20:42] danmosemsft commented on #40202
If the string is not terminated correctly, would we expect these methods to potentially throw AccessViolationException? I assume so.

[2020-10-05 20:45] jkotas commented on #40202
Yep, same as number of other existing public methods that take zero-terminatted string as an argument (e.g. `new string(char*)`.

[2020-10-05 20:45] MaximGurschi commented on #43046
@Clockwork-Muse  My trivial implementation still beats a lock + Queue with ~20%.

"prevent add/remove until you finish with whatever you were doing" - what do you mean by that? The atomic counter is used in combination with Monitor (Pulse/Wiat). The counter is required in my implementation to have a way to check that the ConcurrentQueue is empty to the signal the Monitor.Pulse.

[2020-10-05 20:46] dagood commented on #43052
This is an `area-Setup` issue since it's specifically about the Debian package dependencies. (If there were a problem at runtime when `libicu67` is installed, then I suppose it'd be `area-System.Globalization`.)

For context, the `linux-x64` `.tar.gz` extract/use workflow works right now on Debian 11: https://github.com/dotnet/source-build/issues/782#issuecomment-701132102.

---

The way it normal

[2020-10-05 20:51] jkotas commented on #43060
Would it make sense to add "Enable evolution of PInvoke marshalling" to the list of goals?

If yes, it would be nice to have "Add one high-value marshaller that does not exist today" to the exit criteria list. My pick would be marshaller for `ReadOnlySpan/Span<T>`. It would simplify quite a bit of code under `src/libraries` in this repo.

[2020-10-05 20:52] AaronRobinsonMSFT commented on #43060
Doh! That was the section I couldn't think of but knew I was missing something - innovation. Yes, that should be added.

[2020-10-05 20:54] dagood commented on #43052
A few ways:
* Get .NET into Debian proper. 🚀  https://github.com/dotnet/source-build/issues/782
* Convince Debian to start naming this package `libicu` (or provide both names) so we can get off this `libicuXX` treadmill.
* Build a separate `dotnet-runtime-deps` for every version of Debian (and Ubuntu, etc.). But this just makes everything more complex and there are simply even more lists.

[2020-10-05 21:03] briansull commented on #42178
If we can fix the duplicate data issue the CSE logic should be able to eliminate the duplicate loads.

[2020-10-05 21:03] briansull commented on #42178
I will investigate

[2020-10-05 21:05] eerhardt commented on #39709
I got the time to investigate this issue today, and it appears to be another linker issue. I opened https://github.com/mono/linker/issues/1536 for this issue. Marking this as `blocked` again.

[2020-10-05 21:08] jkoritzinsky commented on #43059
This was fixed by #40404. The fix is in .NET 5.0 RC1 and onwards.

[2020-10-05 21:08] #43059 closed

[2020-10-05 21:12] briansull commented on #42787
I will take a look

[2020-10-05 21:29] carlossanlop commented on #13946
- For file casing: https://github.com/dotnet/runtime/issues/14321
- For Unix ACLs: https://github.com/dotnet/runtime/issues/928
- Project tracking FileSystem related issues and PRs: https://github.com/dotnet/runtime/projects/42
- Project tracking Symbolic links/Reparse points/Junctions issues and PRs: https://github.com/dotnet/runtime/projects/41

Please feel free to open new issues for individual

[2020-10-05 21:29] ericstj commented on #22276
We need our shared frameworks to have the exact same footprint across all run times. The way the SDK bundles shared framework applications depends on it.

[2020-10-05 21:31] scalablecory opened #43061 "[QUIC] Participate in QUIC interop testing"
Consider participating in automated QUIC interop testing to ensure basic compatibility with other implementations:

https://github.com/marten-seemann/quic-interop-runner/blob/master/README.md#building-a-quic-endpoint

[2020-10-05 21:38] briansull commented on #42787
The GS Cookie phase was inserting a new basic block and (indirectly) depending upon the call to fgRenumberBlocks that Eugene removed.   I will add a renuimber bloicks call to the GS Cookie phase if it can insert a new basic block.

I am testing a fix.

[2020-10-05 21:38] ViktorHofer commented on #22276
Got it, thanks. Based on the discussion above I'm inclined to close this issue. Feel free to reopen if you disagree.

[2020-10-05 21:38] #22276 closed

[2020-10-05 21:42] codingonHP opened #43062 "[Question/Help required] Extend IServiceCollection and IServiceProvider to implement name based resolution as in Unity"
If I have to extend `IServiceCollection` and `IServiceProvider` so that I can implement something similar to Unity's name based registration and resolution then what are the possible solutions?

I am trying to implement API something similar to this for registration:

[code]
Resolution:
`           serviceProvider.GetService<IPerson>("person2");`

[2020-10-05 21:43] mg90707 opened #43063 "Monitor.Wait consumes much more CPU time on Linux compared to Windows"
### Description
I have a program which repeatedly call Monitor.Wait in relatively quick succession (every couple of milliseconds). Either through own code or internally (e.g. through Socket.Receive->ManualResetEventSlim). After containerizing the program or when running it directly in WSL2 I've noticed that it consumes MUCH more CPU time than on Windows. On Windows the CPU time is basically zero,

[2020-10-05 21:44] stephentoub commented on #42591
Yup

:wink:

[2020-10-05 22:02] josalem commented on #43034
CC @noahfalk @davmason @dotnet/dotnet-diag

[2020-10-05 22:05] josalem commented on #43025
CC @davmason @dotnet/dotnet-diag

[2020-10-05 22:12] stephentoub commented on #43063
I'm curious what happens if you change the `Thread.Sleep(1);` to `Thread.Sleep(15);`?  It's essentially the latter on Windows because of how time quantums work, whereas on Linux it'll be much closer to 1ms when you specify 1.  So for apples to apples, it'd be interesting to see the results with both being closer to 15ms.

[2020-10-05 22:16] WardenGnaw commented on #12706
macOS signed with entitlements debugger bits are now available at [aka.ms/getvsdbgsh](aka.ms/getvsdbgsh).

It will be available on 16.8.11005.1 and higher.

[2020-10-05 22:18] Clockwork-Muse commented on #43046
@MaximGurschi - Then you're probably preventing add/remove until "you're done".

(although there's ways to still deadlock if you're not careful, but if you've got a working implementation you've likely engineered them out)

[2020-10-05 22:35] am11 commented on #42265
I am not seeing any difference in behavior. The above repro still throws NotSupportedException with today's (two hours old) master branch and 5.0 latest preview.

[2020-10-05 22:39] NikolaMilosavljevic commented on #43042
[Triage comment] This is necessary for 5.0 release, please fix and send the PR asap.

[2020-10-05 23:20] MaximGurschi commented on #43046
@Clockwork-Muse I think i see what you mean. No Add/Remove is not blocked while the removed item is "worked" on.

[2020-10-05 23:26] ericstj commented on #24074
Let's add it to pkgproj epic

[2020-10-05 23:55] ilyoniss commented on #43044
Hi Colleagues.
I was doing some development and I used a provided c ++ third party library (C# wrapper), and what I noticed is that during execution memory starts to grow.

I found a .NET memory monitoring tool and when I did snapshots, I noticed that Sbyte[] number of instances are growing. Yes I expected to GC to 'take care of it' and dispose. Since I have a third party linked library, I conside

[2020-10-06 00:01] ilyoniss commented on #43044
sorry accidently closed.

[2020-10-06 00:17] davidwrighton opened #43067 "NO_WAY macro in JIT"
The NO_WAY macro is used in the JIT primarily to represent issues in the JIT where either the JIT has failed due to invalid IL code provided to it, or when the JIT has some bug that places the JIT into an invalid state. Currently, the crossgen2 compiler is configured to fail to build if a NO_WAY is encountered unless the --resilient switch is passed to it. (The --resilient switch is passed to the

[2020-10-06 00:39] BruceForstall commented on #43067
You could argue this case should use `IMPL_LIMITATION` instead.

[2020-10-06 00:43] davidwrighton commented on #43067
Ah, I didn't know of `IMPL_LIMITATION` ... yes, this should be `IMPL_LIMITATION`, but the issue about the return code remains. So I guess, I'd like to see an observable difference between `NO_WAY` and `IMPL_LIMITATION`.

[2020-10-06 00:47] eerhardt commented on #40020
Unassigning since the linked PR was closed. @Marusyk - let us know if you are still interested in working on this.

[2020-10-06 00:53] davidwrighton commented on #43067
If I made the jit return `CORJIT_IMPLLIMITATION` would that be a concern?

[2020-10-06 01:02] BruceForstall commented on #43067
I _think_ that would be ok. There is some special handling with the current `CORJIT_INTERNALERROR`. In particular, I _think_ we will retry the compilation with minopts. (We definitely do for noway_assert). For some of these NO_WAY, that wouldn't make sense, in which case it should actually be retried. But if we hit a NO_WAY during optimization but not during minopts, we want to do the minopts to n

[2020-10-06 01:16] davidwrighton commented on #43067
Ah, that's a bit more subtle than I noticed. For some reason, I misread the code and thought that noWay sent `CORJIT_BADCODE`. Oops. Let me adjust my PR.

[2020-10-06 01:17] agocke opened #43071 "Superhost for Windows & Mac"
All native runtime libraries should be statically linked into a single file host for Windows & Mac.

- [X] Make `clrjit` and `coreclr` friendlier to static linking on multiple platforms. #43423
- [x] Statically link `clrjit` and `coreclr` into singlefile host #43072
- [x] Link native libraries in a way that is multiplatform friendly. #41299
- [x] Statically link native libraries on Windows, OSX an

[2020-10-06 01:19] agocke opened #43072 "Link `clrjit.dll` and `coreclr.dll` into Windows/Mac host"
Part of the process of getting a superhost on Windows+Mac

[2020-10-06 01:22] davidwrighton commented on #43067
Actually, I adjusted IMPL_LIMITATION, which used to use NO_WAY. From what I can see NO_WAY does not generate a `CORJIT_RECOVERABLEERROR`, that's restricted to `NOWAY_MSG`.  I am confused though, as it appears that some of these limitation should be recoverable, and some might be a bad idea to recover from.

[2020-10-06 02:18] lambdageek commented on #43060
Interesting!

Thanks for the nice example in the design doc. To make sure I followed completely - the runtime will still generate a P/Invoke wrapper, it's just that we're guaranteed to only see blittable types?  @marek-safar this dovetails nicely with the discussion we had about partitioning `marshal.c` to remove fancy marshalling --- on some targets that won't need it --- in order to get the runt

[2020-10-06 02:33] bklooste commented on #30083
Just because the language is polymorphic doesn't mean messages should be json and XML are NOT polymorphic . At best you  use a tagged union which the  language  interprets as polymorphic.  Many consumers of the message are not OO and its pretty bad practice IMHO to put this on the write and i have seen it cause tons of time wasting and issues.

KISS

[2020-10-06 02:47] Clockwork-Muse commented on #43046
@MaximGurschi - As described, consumer can deadlock.

Assume the queue is empty.

 - Consumer - `TryDequeue`, fails
 - Producer - `Enqueue`
 - Producer - `Increment`, returns 1
 - Producer - `Pulse` (recall that this only releases if the monitor object is **already** awaited)
 - Consumer - `Wait` (deadlocks)

Switching to a single `TryDequeue` doesn't help.  Changing the producer condition to `c >

[2020-10-06 02:57] AaronRobinsonMSFT commented on #43060
Right. Presently there is a level of indirection between the managed invocation and the native call - typically called an IL Stub. The IL Stub marshals the input types to appropriate blittable types and then makes the native call via `calli`. When an IL Stub isn't needed the CoreCLR JIT optimizes that scenario and inlines the IL Stub and passes the arguments straight through the native function ca

[2020-10-06 03:00] jkotas commented on #43060
We should iscourage use of delegates for reverse P/Invoke and encourage use of function pointer instead Maybe the analyzer that comes with this should be emitting warnings for delegate marshaling?

[2020-10-06 03:13] AaronRobinsonMSFT commented on #43060
@jkoritzinsky We should consider this after we ensure we have symmetry with the current system. Perhaps we could defer creating a Delegate marshaller entirely for now?

[2020-10-06 04:07] jmp75 commented on #43052
This sounds a very reasonable request to the debian package manager. In my very shallow understanding of package design if libicu versions are backward compatible having a `libicu` package pointing to "the latest" is a good thing.

dotnet/source-build#782 would be fantastic. Am not qualified to do it but would be glad to contribute/test.

[2020-10-06 04:36] dagood commented on #43052
Come to think about it, as far as I know, nobody's ever directly asked. 😄 If that happens, our packages will automatically start working right away because we already include `libicu` as an option.

[2020-10-06 04:51] #42198 closed

[2020-10-06 06:20] agocke opened #43078 "Developers want to be confident that their apps run successfully when trimmed to avoid debugging trimming related problems at runtime"
In 5.0 we introduced linker capability to warn about code and patterns which are not trimming safe. We will build on top of that feature to resolve all warnings in our core SDKs to allow developers to enable this linker capability for their code and 3rd party libraries to give them confidence that trimming does not alter their app behaviour unexpectedly.

We'll also work on further enhancing the w

[2020-10-06 06:51] agocke opened #43079 "Run unit tests as single file"
The unit tests (hopefully the whole BCL) should be published as single-file executables and run in CI

- [x] Enable publishing and running a test as a single file
- [x] Add CI job
- [x] Port tests/assemblies to be single-file compatible
  - [x] Fix RemoteExecutor to be compatible with Single-File publishing (https://github.com/dotnet/arcade/pull/6553)
- [x] Verify failures & fixes
  - [x] Isolated

[2020-10-06 06:52] MichalStrehovsky commented on #43010
Do you have pointers on how to do that? Windows doesn't have APIs for this. .NET 5 no longer extracts on Linux because there it's possible.

Handwritten PE loaders, while appearing to sort-of-work don't play well with the rest of Windows so things end up being broken in subtle and hard to troubleshoot ways (from unimportant things like the module not being visible in tools like Process Explorer, t

[2020-10-06 07:05] agocke commented on #43010
Our recommendation here is that you should write that file yourself to a temporary folder. This is much more robust and portable.

[2020-10-06 07:21] tmds commented on #14304
This was implemented in https://github.com/dotnet/runtime/pull/35330. Instead of dispatching each event from epoll separately, a batch of event that come from the epoll are now dispatched to the threadpool together.

I'm going to close this because it is no longer tracking anything on-going from my side.

[2020-10-06 07:21] #14304 closed

[2020-10-06 07:39] #42943 closed

[2020-10-06 07:40] EgorBo commented on #43050
LLVM needs a sort of `llvm.convert_to_const(value, range)` so it can generate a switch itself

[2020-10-06 08:05] marek-safar commented on #43060
Nice to see this moving forward! A few questions

- I'm not sure I understand "Support >= 80 % of P/Invoke patterns in NetCoreApp" goal? What is NetCoreApp in this context?
- What is the size impact of this change?
- How is it going to work with [DllImport("__Internal")]? /cc @lambdageek
- Is this approach going to respect attributes like MarshalAs ?
- Nit: the label should perhaps be `area-Intero

[2020-10-06 08:24] jmglogow commented on #15704
I'm currently porting LibreOffice (LO) to Windows Arm64. LO offers a controlling API / RPC service with various bindings, one of it .NET / C# on Windows. Currently it's based on .NET Framework 4 with a C++/CLI implementation + generated assembly code.

The only option for a native implementation on Arm64 is - AFAIK - to use .NET 5.
The LO API is described in an IDL with an extensible type system,

[2020-10-06 08:35] MaximGurschi commented on #43046
@Clockwork-Muse There cannot be a deadlock using Monitor.Pulse/Wait in general. Wait relinquishes the lock. Are you describing a situation where the Consumer calks Wait that is never pulsed? That should also not happen because of the Memory Barrier that Monitor Enter implies. If after step 4 above Consumer calls Wait then it must see IsEmpty=false, and avoid Waiting.

[2020-10-06 08:36] ViktorHofer commented on #43053
@Anipik @ericstj opinions?

[2020-10-06 08:47] weltkante commented on #15704
There are different libraries (including third party) that can be used to generate IL code by generators, you don't have to use the reflection-emit API which is limited through various historic constraints in what it can actually emit. Especially if you do offline IL generation as part of the build step I wouldn't chose reflection-emit, this API is for generating executable code into the current p

[2020-10-06 08:48] Fabi commented on #43010
I'm sure that mirroring LoadLibrary from in C# is no issue nowadays and works fine if implemented correctly. And that part would only be required for the actual native library that is shipped. All other native libraries that are required (like kernel32 etc.) for doing this can still be loaded with calls like LoadLibrary. I think there are already a bunch of libraries that even support doing that.

[2020-10-06 08:49] Fabi commented on #43010
This doesn't solve the issue of being able to cleanup data on app updates tho.

[2020-10-06 09:11] danstur commented on #7991
@benaadams From reading the documentation I don't see anything similar to mono's `soft-heap-limit`, but only hard limits.

Is there any way with 3.1 to allow the GC to use as much memory as it needs during exceptional circumstances, but afterwards when idling greatly reduce resource usage again?

[2020-10-06 09:20] mariusGundersen opened #43081 "[Proposal] Add MoveNext(ref T current) to IEnumerator<T>"
## Background and Motivation

The current `IEnumerator` interface relies on the user of it making two subsequent calls, first to `MoveNext()` and then, if it returns true, to `Current`. The performance of this can be improved in many common situations if the `MoveNext()` method returned the current value as well. One way to do this is to use a ref parameter. The obvious problem, until now, has bee

[2020-10-06 09:27] Joe4evr commented on #43081
This would require changing  `IEnumerator<T>` to be invariant, which would break consumers that currently take advantage of it being covariant.

[2020-10-06 09:30] jchannon commented on #36545
Are there any plans to control the deserilaization of IConfiguration, little seems to have been discussed for a while now

[2020-10-06 09:32] ayende commented on #42885
I'm afraid that I'm not sure that I'm following. I looked at the disassembly, and I can point what variable it is looking it in terms of the unmanaged code.
The issue is, I assume, to track down the _managed_ variable that it is tracking.

I tried to follow the `GcInfoDecoder` code, but I am afraid that I got lost in there.

[2020-10-06 09:34] JustArchi commented on #7991
@danstur `export COMPlus_GCLatencyLevel=0` is the best you can do in .NET Core, and I've configured it made a huge difference for me. You don't really need soft heap limit, if you want to artificially limit generations size then just specify hard limit instead, same deal.

This is my setup:

[code]

[2020-10-06 09:47] davidfowl commented on #43081
See @jaredpar's blog post about this https://blog.paranoidcoding.com/2014/08/19/rethinking-enumerable.html

[2020-10-06 10:21] Joe4evr commented on #43081
Also, other attempts at this throughout the years: dotnet/csharplang#982, dotnet/csharplang#1931, dotnet/csharplang#2053

[2020-10-06 10:46] davmason opened #43082 "Stowed exception information is not included in minidumps"
### Description

When a dump is taken in windbg with ".dump /m" the stowed exception array and parameters are not included in the dump currently. This means !analyze will not properly find and link up the stowed exception to the CCW, and will display the wrong callstack to the user.

We already iterate through the stowed exception array when capturing a dump here:
https://github.com/dotnet/runtime

[2020-10-06 10:56] AlexeyKhrenov commented on #43026
You're absolutely right. What was stated is absolutely right in broad sense. But I wouldn't like to share the whole picture related to our API in this narrow discussion. And also there's no need for people to give any recomendations when they don't have the whole picture and especially when the recomendation doesn't relate to the subject of the topic.
As for the defence of legitimacy of cases when

[2020-10-06 11:27] MMW-RobinTaba opened #43425 "Couldn't create Hyperlinks when working with MS.Office.Interop.Excel using .Net Core"
Specs:
- WPF Solution working under .NET Core 3.1 with VS2019.

Since moving to .NET Core, i cannot fully use the MS.Office.Interop dll-s. When i try to create a Hyperlink in an Excel Cell, it always gives me that Error:

![image](https://user-images.githubusercontent.com/69900041/95195767-4c09b600-07d7-11eb-98ed-a98cebd9f87f.png)

Does anybody know a solution for that Issue?

[2020-10-06 12:03] maryamariyan opened #43083 "Allow for logging any swallowed exception in the DI background thread"
We want to allow for logging of any swallowed exception to happen via the event source, if an exception occurs during the execution of a background thread for resolving DI dependencies.

Refer to https://github.com/dotnet/runtime/pull/42986#discussion_r499069959

[2020-10-06 13:27] BreyerW commented on #42163
@steveharter @layomia @Jozkee

I have noticed this comment that you plan on tweaking `ReferenceResolver`. https://github.com/dotnet/runtime/issues/40099#issuecomment-703877237

Can i hope that you take my proposal under consideration when you actually get to it? I believe my proposal is relatively simple to implement

[2020-10-06 13:45] brporter opened #43086 "HTTP/2 has poor throughput with content larger than initial receive window size"
### Description
SocketsHttpHandler request performance is roughly 5X slower when using HTTP/2.0 than when using HTTP/1.1 to the same destination. There are no meaningful variations in flow control characteristics at the transport (TCP) protocol layers. It appears to be an issue in the HTTP/2.0 implementation itself.

It does not appear to be a server-side issue, as the equivalent HTTP/2.0 request

[2020-10-06 13:52] secana opened #43087 "Multiple RSA object instances lead to failing signature validation"
### Description

When multiple RSA object instances are created after each other, every second signature validation fails. The code below shows a simple example, where the behavior can be observed.

[code]

Ouput:
[code]

Moving the ` using var rsa = RSA.Create();` out of the loop, such that it gets reused instead of a fresh instance, it works fine.

[code]

Output:
[code]

It seems that the RSA o

[2020-10-06 13:55] mgravell opened #43088 "C# 9 "init-only" properties; unable to detect IsExternalInit via reflection API - and a pragmatic proposal"
(note: if this is possible and I've just overlooked it; please do tell me!)

The current "init-only" implementation is nice in some ways, as existing libraries (e.g. serialization etc) will "just work", since `SetValue` (and the equivalent in IL) *just work*; however, one weakness is that it seems impossible for libraries that *want* to respect the "init-only"-ness to actually detect it; if we con

[2020-10-06 14:02] fanyang-mono commented on #41414
I implemented the one app per test project approach. This is the test result, from my local run.

Time Elapsed 03:57:33.26
Test run finished.

Total tests run    : 2354
Total passing tests: 2354
Total failed tests : 0
Total skipped tests: 0

[2020-10-06 14:05] jkotas commented on #42885
Right. The way to do that is to manually match the instructions in the disassembly with the C# source code. The SOS "u" command can interleave the disassembly with line numbers and IL (https://github.com/dotnet/diagnostics/issues/452) that can help you with this.

[2020-10-06 14:08] jeffschwMSFT commented on #43033
@marto83 thanks for sharing feedback.  Can you file this on vs feedback?  We track most of our .NET Framework feedback via that channel.  Once you have it filed please link it back to this issue.

[2020-10-06 14:14] mgravell commented on #43088
Note: an advantage of `[ReadOnly(true)]` *specifically* is that it works with the `PropertyDescriptor` model; `ReflectPropertyDescriptor` explicitly checks for this attribute on the property (not the accessor).

[2020-10-06 14:20] mgravell commented on #43088
Additional workaround idea: the compiler could emit a `modopt` of `IsExternalInit` on the *property* (as well as the `modreq` on the accessor); an API to check for `modopt` already exists, and down-level compilers are allowed (indeed, recommended) to ignore a `modopt` that they don't understand.

[2020-10-06 14:22] valco1994 opened #43089 "MethodLoadVervose_V1 received with incorrect layout via EventPipe"
When I'm using EventPipe to collect events from .NET 5 application built for x86 on Windows, sometimes at the beginning of the session I receive a bunch of `MethodLoadVerbose_V1` events (id 143, version 1) with the invalid layout. Maybe this issue can be reproduced on other configurations too.

These events are based on `MethodLoadUnloadVerbose_V1` template and should have following structure:
[co

[2020-10-06 14:24] jkotas commented on #43088
Try this:
[code]
Prints "System.Runtime.CompilerServices.IsExternalInit"

[2020-10-06 14:26] mgravell commented on #43088
@jkotas well ... fair enough; TIL - thanks; apparently we can detect it, and all is well with the world; not obvious, but it works

[2020-10-06 14:26] #43088 closed

[2020-10-06 14:28] MaximGurschi commented on #43046
@stephentoub Excuse me but on the same line of thought of IsEmpty "freshness", does the same hold of TryDequeue? Looking at the implementation of TryDequeue - there are code paths that seem to lead to a similar effect, ie

, which means that some other thread T can see TryDequeue returning false when in fact another thread has completed Enqueue prior to T calling TryDequeue?

[2020-10-06 14:28] jkotas commented on #43088
Agree that it is not obvious. modreqs/modopts can be only attached to a type in the method signature. So the way to attach them to the method is to attach them to the method return type in the method signature instead.

[2020-10-06 14:30] DHOFM opened #43090 "OIDC Infinite Loop"
Hi,
I mentioned a problem with the authorization header here: https://github.com/dotnet/aspnetcore/issues/26604#issuecomment-703767331

If I manipulate the header and the authorization works, I get an infinite loop.
The login is called, I authorize with German nPA, RedeemAuthorizationCodeAsync is triggered, the Callback URL is called and the OpenIdConnect Handler jumps back to the login from which

[2020-10-06 14:32] carlkenne commented on #34646
I'm having the same issue. where is this dll located normally? which directory should I add to my PATH?

[2020-10-06 14:41] mgravell commented on #43088
makes sense now, thanks; have this detection working in a library branch now - minimal changes (protobuf-net now correctly handles unattributed positional `record` types, yay! https://github.com/protobuf-net/protobuf-net/pull/715/commits/14885992464aad194e1bea678ad5d2c15d6e1e25)

[2020-10-06 14:49] MihaZupan opened #43091 "Test failure: System.Net.Sockets.Tests.ConnectEap.Connect_Dns_Success"
`Connect_Dns_Success` socket test is failing for the EAP case with the error of the [event handler](https://github.com/dotnet/runtime/blob/f2d51b5e15808d2c358a59f24af4fad4a9953656/src/libraries/System.Net.Sockets/tests/FunctionalTests/SocketTestHelper.cs#L296) being called twice.

[code]

The first occurrence of this failure was on CI for PR #42919 that worked around fixing `MultipleConnectAsync`

[2020-10-06 14:51] jaredpar commented on #43081
Strictly speaking the best perf is flipping the signature to be

[code]

The problem with using `ref T` is that the runtime must assume that `ref` points into a heap location. Hence in the case of a `struct` it needs to insert write barriers at the appropriate place which can negatively impact performance. By returning `T` directly no such barriers are needed.

Then again, this signature is really

[2020-10-06 14:56] eerhardt commented on #43062
Would it be possible to store a `Dictionary<string, Type>` that maps the "person2" to `Person2` in an `.AddTransient<TService, TImplementation>(string key)` extension method?

And then in the `.GetService<TService>(string key)`, look up in the Dictionary which Type maps to `key`, and call `GetServices<TService>()`, looking for the one with the correct `Type`?

Another thought would be to create yo

[2020-10-06 14:57] krwq commented on #43087
@secana, do you have a repro which doesn't involve JwtSecurityTokenHandler?

[2020-10-06 15:01] puneetg1983 opened #43092 "Microsoft.Extensions.logging events don't contain the real exception message under FormattedMessage event"
We are enabling Microsoft.Extensions.Logging ETW events and collecting the ETW Trace using Perfview by [following these steps ](https://techcommunity.microsoft.com/t5/iis-support-blog/capturing-perfview-traces-for-aspnet-core-application/ba-p/342696)

Then we create a Controller and throw an exception in that and capture the ETW events using PerfView and filter only on ExceptionHandlerMiddleware e

[2020-10-06 15:11] maryamariyan commented on #36461
@davidfowl should this be considered for 6.0?

[2020-10-06 15:18] richardlalancette commented on #3671
Guys. This is a make or break for my team. If this cannot be smoothed out, I might have to go for another ecosystem, and I would hate to have to give away .net core.

I'm going to be using .net core to build command line art processing tools, for our designer workflow and this really needs to get addressed as I will be distributing my tools to mac, windows and maybe linux users.

[2020-10-06 15:27] lambdageek opened #43093 "[mono] Implement pinvoke-detach-1.cs tests on Windows"
Follow-up task for https://github.com/mono/mono/pull/20435 - the PR introduces a new set of embedding API tests that create foreign threads (threads started by native code, not by the runtime) and calling various Mono APIs in order to execute some managed code, followed by detaching from the runtime and leaving the threads running but not interacting with Mono anymore.

These tests (which on non-W

[2020-10-06 15:30] davidfowl commented on #43062
Wrapping doesn't work for these kinds of features because you need to handle both explicit and implicit calls to GetService. The container implementation doesn't call GetService for transitive dependencies of a type so it can't be used as an extensibility point to add behavior like this.

As usually though this feature requires all existing containers to support it (unless we pivot and make a sepa

[2020-10-06 15:31] maryamariyan commented on #36374
Also found this possible action item:

@brandondahler were you thinking of reopening your PR this time on runtime repo? https://github.com/dotnet/extensions/pull/2375

[2020-10-06 15:34] valco1994 opened #43094 "No response from EventPipe in a reasonable time with Release configuration of .NET 5 application"
When I'm using EventPipe to collect events from .NET 5 application built in Release configuration on Windows, sometimes it occurs, that I successfully connect to the corresponding named pipe and send IpcMessage with `CollectTracing2`, but don't receive a response in a reasonable time (20 seconds for example).

If I close the connection and try to reconnect, it's failed to reconnect because the nam

[2020-10-06 15:39] ViktorHofer opened #43095 "Binplace System.Private.CoreLib into the testhost and runtimepack incrementally"
A few months ago we switch from a named reference for `System.Private.CoreLib` to a ProjectReference so that we can build libraries without needing to build `System.Private.CoreLib` via the coreclr/mono.corelib subset first. This works as expected and improved the developer innerloop as CoreLib is now incrementally built as a dependency of libraries.

So far so good. We would now like to also binp

[2020-10-06 15:39] maryamariyan commented on #36084
Maybe related to https://github.com/dotnet/runtime/issues/36458

[2020-10-06 15:45] maryamariyan commented on #36055
Related to https://github.com/dotnet/runtime/issues/41050

[2020-10-06 15:51] tannergooding commented on #508
I updated the original post to just call out the `System.Numerics.Vector.As<TFrom, TTo>` API as proposed (without any impl code). The original proposal was moved under a new section.

As per my last comment, the `ConvertTo` method should be moved into its own proposal.

[2020-10-06 15:53] tannergooding commented on #1640
Going to close this as I believe the original question was answered. Feel free to reopen if you feel it was not or if you feel there is still work needed here.

[2020-10-06 15:53] #1640 closed

[2020-10-06 15:54] Clockwork-Muse commented on #43046
@MaximGurschi - Ah, yes, that's what I meant, waits forever.

I retract my other comments, because I didn't understand how things were being used.

[2020-10-06 15:56] secana commented on #43087
Sry, don't have that. I ported a F# script as I was not sure if you prefer C#, so that's all I have.

[2020-10-06 16:01] stephentoub commented on #43046
It uses full memory barriers, so if something is in the collection, it will find it.  But that of course doesn't rule out the possibility that immediately after it checks and finds the collection empty and before it returns to the caller that some other thread has added something... no amount of synchronization would enable that.

[2020-10-06 16:04] AaronRobinsonMSFT commented on #43060
`NetCoreApp` is the base framework.

That is mentioned in the exit criteria as something we need to track.

This should have no impact on that as defined. If this changes to `GeneratedDllImport` then it would probably "just work" since the IL Stub would be source generated and then dispatched to a `[DllImport("__Internal")]` version that contained only blittable types.

Yes. This is intended as a

[2020-10-06 16:08] AaronRobinsonMSFT commented on #43060
Great feedback on source generators - @chsienki any thoughts here?

All generated code is going to be valid C#. The only issue with previous tooling solutions not being able to have pure C# was `calli` and `ldftn` support. Both of those can now be expressed in C# so the entire IL Stub can be generated in C# and based directly to the Roslyn compiler.

[2020-10-06 16:09] yongkeecho opened #43096 "JsonConverter: calling default converter in custom converter"
Hi. Thanks for the great library. This can be an API suggestion if not available yet.
An API endpoint gives
`
{
      "propA" : {
              "prop1": "prop1Value",
              "prop2": [ 1, 2, 3]
      },
      "propB": [
          {
              "prop1": "prop1Value",
              "prop2": ["prop2Value1", "prop2Value2"]
          }
      ]
}
`
I already have class B
`
public class B
{
   p

[2020-10-06 16:13] vcsjones commented on #43087
I can take a look at this soon.

@secana to make sure I reproduce it as best as possible, can you tell me exactly which packages and versions are being used?

[2020-10-06 16:21] agocke commented on #43010
Why not? It's not automatically cleaned up for you, but it's a file like any other. You can delete it if you want.

[2020-10-06 16:32] steveharter commented on #42755
Yep. Thanks. Updated description.

For S.Linq.E dependency, that is part of supporting the "dynamic" functionality that we want in 6.0. For 5.0 I have a PR out as a code example: https://github.com/dotnet/runtime/pull/42097 which would leverage the proposed `ParseValue` API for performance.

[2020-10-06 16:36] jaredpar commented on #41511
That is because there are no failures in last 14 days now. Basically the one failure was right on the edge and by the time you clicked it was gone. The site didn't do a good job of displaying "no results".

[2020-10-06 16:39] benaadams commented on #7991
Can set up a lot of the GC settings via csproj https://docs.microsoft.com/en-us/dotnet/core/run-time-config/garbage-collector

Would "High memory percent" be what you are looking for as `soft-heap-limit`?

[2020-10-06 16:43] jaredpar commented on #40550
Closing as I don't see any recent occurences of this issue.

[2020-10-06 16:43] #40550 closed

[2020-10-06 16:47] jaredpar commented on #39475
No failures in last 14 days. closing.

[2020-10-06 16:47] #39475 closed

[2020-10-06 16:48] jaredpar commented on #38943
@ViktorHofer no failures in last 14 days. Do u want to keep this open and make a live issue or close?

https://runfo.azurewebsites.net/search/tests/?bq=definition%3Aruntime+started%3A%7E14&tq=SingleProcess_WaitAfterExited

[2020-10-06 16:51] jaredpar commented on #37132
Note this failed again today. I've made this a live issue so failures will be tracked in the main body.

[2020-10-06 16:56] agocke commented on #3671
We do plan to fix this, and it's high priority for .NET 6, unfortunately we just haven't had time to fix it for 5.0. As @swaroop-sridhar mentioned, you can use a macOS app bundle to distribute a multi-file app that appears as a single file to consumers.

Unfortunately, command line apps are one of the tools that do not normally use macOS bundles. Until we can fix this authoring issue, it won't be

[2020-10-06 16:57] tomrus88 commented on #43010
And there we come to original problem of API that returns extraction path being unavailable...

[2020-10-06 16:59] safern commented on #43052
It seems like this is a little more convoluted, so I removed my assignment in the meantime to wait for the area-Setup owners to chime in. Thanks, @tarekgh and @dagood

[2020-10-06 17:00] Fabi commented on #43010
What tom said!!!111!

[2020-10-06 17:05] agocke commented on #43010
Are you referring to the *old* extraction path? Finding the extraction path in 5.0 of a previously deployed 3.1 app using single-file? This would not be possible -- those are two different deployments and are fundamentally not the same app.

However, the default location of the extraction directory on Windows is the temporary directory, meaning those files can eventually be cleaned up by the user

[2020-10-06 17:09] secana commented on #43087
[code]

[2020-10-06 17:13] terrajobst commented on #31366
* Looks good as proposed

[code]

[2020-10-06 17:15] jaredpar commented on #37895
No failures in last 14 days, closing.

https://runfo.azurewebsites.net/search/tests/?bq=definition%3Aruntime+started%3A%7E14&tq=BeginEndReadWrite_Sync_Success

[2020-10-06 17:15] #37895 closed

[2020-10-06 17:17] jaredpar commented on #35066
Closing as no recent failures in last 14 days.

[2020-10-06 17:18] AlgorithmsAreCool commented on #43081
@jaredpar That is very interesting, I've never heard that before. Does that mean that the `ref bool` gets those write barriers also?

[2020-10-06 17:20] ViktorHofer commented on #38943
14 days without a hit should be enough to justify closing the issue. I expect us to reopen when we hit it again in CI.

[2020-10-06 17:20] #38943 closed

[2020-10-06 17:21] terrajobst commented on #40475
* Looks good as proposed

[code]

[2020-10-06 17:21] #35065 closed

[2020-10-06 17:22] jaredpar commented on #34647
This is a dupe of #34472

[2020-10-06 17:22] #34647 closed

[2020-10-06 17:23] #35991 closed

[2020-10-06 17:23] #36017 closed

[2020-10-06 17:30] jkotas commented on #43095
I do not think this is useful to crossgen for developer inner loop. The inner loop should use non-crossgened CoreLib. Yes, it will make the inner loop different from the full stack build and test, and that's fine.

[2020-10-06 17:32] #43042 closed

[2020-10-06 17:32] terrajobst commented on #42769
* Looks good as proposed
* We decided we don't want an overload for `GetNonZeroBytes()` because we don't like that API to begin with

[code]

[2020-10-06 17:34] davidfowl commented on #36461
Dispose needs to be explicitly called and WeakReference would add overhead.

We could add a global option but nothing per service. That requires other containers to buy in.

[2020-10-06 17:35] ViktorHofer commented on #43095
I don't think this is useful for developer innerloop as well besides for perf measurements of incremental changes. If we don't care about that scenario too much, then I'm fine with not crossgening.

Unrelated but we still don't crossgen other shared framework libraries besides CoreLib that land in our testhost. So we are already inconsistent here.

[2020-10-06 17:37] terrajobst commented on #42906
* Looks good as proposed

[code]

[2020-10-06 17:38] agocke commented on #43010
There actually may be a workaround if you're only extracting native libraries: `AppContext.GetData("NATIVE_DLL_SEARCH_DIRECTORIES")` should contain both the exe path and the native DLL extraction path, separated by a `:`.

@vitek-karas @elinor-fung is `NATIVE_DLL_SEARCH_DIRECTORIES a decent workaround for finding the native library extraction path if an app wants to delete its files after executio

[2020-10-06 17:50] tannergooding commented on #43060
I think, somewhat touching on what @HurricanKai was discussing, there are scenarios where you can't use `DllImport` such as with [vkGetInstanceProcAddr](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/vkGetInstanceProcAddr.html) which is used to resolve various optional extensions.

Does this also cover generating wrappers for function pointers? Would it alternatively be poss

[2020-10-06 17:55] terrajobst commented on #42763
* A custom analyzer would effectively do the same as obsoleting it.
* We should just obsolete it, asssuming we can add turn it off by default by putting the diagnostic ID in the SDK `.editorconfig` root file. We should tie to the security rules
* @GrabYourPitchforks, please follow up to figure out why people call this API. Some usage seems high and it's hard to imagine people are generating secret

[2020-10-06 18:01] sdmaclea commented on #42955
+ removed the strip pointer authentication bits workaround.
+ ran the first several hundred p1 tests
+ ran the same tests with the fix.

The workaround affects a large percentage of tests.  > 25% of the firsts 400 tests failed w/o the workaround.

Here is a sampling of those failures.

[code]

/cc @janvorli

[2020-10-06 18:02] AndyAyersMS commented on #2106
The method is a bit too large to "always inline" --  there are 4 calls --  so it gets evaluated by the heuristics.
[code]
The currently heuristics actually likely overestimate the benefit of inlining in the current model (this is neither a wrapper nor has an arg that feeds a constant test), but they still come up short:
[code]
This case is running into known limitations of the current model; it do

[2020-10-06 18:03] geoffkizer opened #43101 "Feature Request: Add Stream.CreateConnectedStreams API"
## Background and Motivation

It's often convenient to have a simple in-memory producer/consumer stream. We have a few variations of this in our test code, e.g. VirtualNetwork. You can also achieve this by using a loopback socket or a named pipe; however these approaches are unnecessarily difficult to use and the perf likely isn't great, since it's copying buffers through the OS.

## Proposed API

[2020-10-06 18:04] terrajobst commented on #42706
* Looks good as proposed

[code]

[2020-10-06 18:06] AaronRobinsonMSFT commented on #43060
This sounds like having the ability to create an IL Stub that can be used outside of `DllImport`? If so that would be the symmetric part of the Reverse P/Invoke scenario I mentioned at https://github.com/dotnet/runtime/issues/43060#issuecomment-703998208. Something to consider for the future but orthogonal to this work to handle the `DllImport` side of things. We are designing the code generation

[2020-10-06 18:06] tannergooding commented on #2106
Thanks for the insight!

I'm going to mark this as up-for-grabs as its a small fix to add the `AggressiveInlining` here.

[2020-10-06 18:09] Perksey commented on #43060
+1 on Tanner's comment - At Silk.NET we have to maintain and swap out different native function tables for each Vulkan instance and device. OpenXR has similar restrictions, not to mention OpenGL's platform-specific loading strategies.

NativeLibrary has helped with this in that we can control what function pointers P/Invoke is fed and we use NativeLibrary where available, but until .NET 6 Silk.NET

[2020-10-06 18:10] terrajobst commented on #42710
* Looks good as proposed, follows the pattern

[code]

[2020-10-06 18:17] danmosemsft commented on #43101
I haven't used them but my understanding is that this is what Pipelines are for? Or you need to pass to API that expects Stream?

[2020-10-06 18:19] tannergooding commented on #43060
I was asking if it would be possible to expose a hook for resolving a `DllImport` function (as I believe the current API only works for resolving the library). This would allow, for example:

[code]

Where `vkCreateDebugReportCallbackEXT` isn't part of the standard library exports (it can't be resolved via `GetProcAddress`) and must be resolved via `vkGetInstanceProcAddr` instead.

This would, for

[2020-10-06 18:19] terrajobst commented on #42755
* Looks good as proposed

[code]

[2020-10-06 18:20] davidfowl commented on #43101
Right, Pipe is basically this and you can use AsStream to get the Stream from the pipe.

[2020-10-06 18:23] MaximGurschi commented on #43046
@stephentoub Thank you for confirming that! I think then the code paths i talked about (that return false) in TryDequeue that only kick in if certain conditions are met imply certain causality that makes it safe to return false.

[2020-10-06 18:24] jkotas commented on #43060
You can do it using function pointers today. It is a niche case - it was discussed before. I do not think it is worth the complexity.

[2020-10-06 18:24] terrajobst commented on #508
* Looks good as proposed, unless @CarolEidt has concerns

[code]

[2020-10-06 18:28] sdmaclea commented on #42954
One of the tests which showed this issue was `readytorun/tests/mainv1/mainv1.sh`

[code]

/cc @janvorli

[2020-10-06 18:30] josalem commented on #42899
I looked at the test: https://github.com/dotnet/runtime/blob/642b7cb7e4873f95ac152b239a314878264ae4ed/src/libraries/System.Buffers/tests/ArrayPool/UnitTests.cs#L402-L419

I don't think this would go through EventPipe.  If I recall correctly, because this is a managed `EventSource` (`System.Buffers.ArrayPoolEventSource`), and it's being listened to by an `EventListener`, events should be written di

[2020-10-06 18:32] khellang commented on #36386
Yeah, I'd still like to get this feature in. What would be the best way to attack this? Submit a PR for an additional interface with the new members? Does it have to go through API review?

[2020-10-06 18:41] tannergooding commented on #43060
Fair enough, that just relegates it to potentially future source generator support around function pointers.

[2020-10-06 18:42] CoffeeFlux opened #43103 "SatelliteAssembliesTests.SatelliteLoadsCorrectly_FromName sometimes fails on Browser CI"
Sample failure: https://helix.dot.net/api/2019-06-17/jobs/00fe3aa1-bb24-4843-81fe-7f699ea9f116/workitems/System.Runtime.Loader.Tests/console

[code]

I suspect this will go away with my next batch of bundle changes, but disabling until then to help keep CI clean.

[2020-10-06 18:43] jaredpar commented on #43081
@AlgorithmsAreCool need to preface my answer with this research was bordering on 10 years ago, and I was more an observer / implementing the compiler side of the idea vs. doing the measurements and debating the details of the perf. IIRC though they don't come into play because assignments into bools are naturally atomic hence don't need barriers.

[2020-10-06 18:45] davidfowl commented on #36386
Everything has to go through API review and it's a breaking change and we haven't even agreed that this makes sense on anything besides a redis implementation.

[2020-10-06 18:50] khellang commented on #36386
Adding a separate interface that implementations can opt into is a breaking change?

Most other platforms seems to be able to handle this just fine, whether the backing store is in-memory, Redis, Memcached or SQL-based 🤷‍♂️

What can we do to further this proposal?

[2020-10-06 18:56] geoffkizer commented on #43091
I think the issue is that we're calling Succeed even when the operation completes synchronously, which causes us to complete it twice. Fix should be straightforward.

[2020-10-06 18:58] AaronRobinsonMSFT commented on #43060
Yes. That is one of the reasons we will be ensuring a final marshalling code library is `DllImport` agnostic.

[2020-10-06 18:58] terrajobst commented on #40202
* The API should return `Span<T>`, we can add a `ReadOnly` version later
* We should throw `InvalidOperationException` when the size would exceed `int.MaxValue`.

[code]

[2020-10-06 19:01] CarolEidt commented on #508
No concerns here

[2020-10-06 19:03] stephentoub commented on #43101
Right, Stream is the lingua-franca of our APIs and is used everywhere.  The various places Geoff refers to specifically includes a bunch of places we're testing Streams in particular, e.g. wrapping SslStream around another Stream.

Pipe is one-directional.  To use Pipe here, you actually need two of them, then create four streams via AsStream, and then write a custom stream type that wraps two of

[2020-10-06 19:09] jkotas commented on #40202
This feels backwards. 99+% case for zero-terminated strings is getting read-only string and parsing it.

All existing APIs that take zero-terminated strings throw `ArgumentException(SR.Arg_MustBeNullTerminatedString)` for this case. Is the inconsistency intentional?

(I am sorry that I was not able to participate in the review discussion.)

[2020-10-06 19:14] davidfowl commented on #43101
Ah I see this is talking about an IDuplexPipe 😄

[2020-10-06 19:19] tomrus88 commented on #43010
Sure, that `NATIVE_DLL_SEARCH_DIRECTORIES` can be used as workaround, but things would have been much easier and clean if something like this https://github.com/dotnet/runtime/issues/29456 (now closed) was added...

[2020-10-06 19:25] agocke commented on #43010
There were a number of different APIs there, and I think some don't make sense in light of the long-term plan to always embed managed assemblies and only extract native libraries, but an API for accessing the native DLL extraction path doesn't seem unreasaonable.

It's way too late to take this kind of change for 5.0, but I'd be happy to keep this or another issue around for tracking an API additi

[2020-10-06 19:27] #10959 closed

[2020-10-06 19:32] scalablecory commented on #43086
This is almost certainly due to our using a fixed size receive window rather than growing it based on utilization/latency. I verified our bandwidth utilization for HTTP/2 is affected by this.

Kestrel was affected by this too, when I last checked, though they used a larger buffer size and so they would be a little less affected. Regardless, we should try to share this window management code as par

[2020-10-06 19:33] cjblomqvist commented on #40099
@ericstj I hope you didn't read too much into my note about backwards compatibility. It was intended as some kind of (funny) sarcasm (from my experience one of the major hurdles with introducing additional features without thinking them fully through is that you'll then have to live with them due to the issues of breaking changes later - e.g. the type of outcry that the lack of Ignore has caused :

[2020-10-06 19:40] yongkeecho commented on #43096
Never mind. I found I can use JsonSerializer.Desrialize with reader in the middle of custom converter.
`
var b = JsonSerializer.Deserialize(ref reader, typeof(B), options)
`

[2020-10-06 19:40] #43096 closed

[2020-10-06 19:48] Maoni0 commented on #42885
managed heap corruptions usually aren't debugged by the GC team... CCing @ChrisAhna to see if he has cycles to help.

[2020-10-06 20:09] echesakovMSFT opened #43106 "[Arm64] MultiplyHigh"
Exposing `smulh`/`umulh` as intrinsics on Arm64
[code]
would allow to implement `System.Math.BigMul` as
[code]

cc @CarolEidt @tannergooding @TamarChristinaArm

[2020-10-06 20:17] Coderrob commented on #36010
@safern

The only concern I have on the configuration binding attribute would be:

- it creates attributes w/ duplicated text values
- configuration binding concerns start to bleed out into the objects

Those two things may not be big concerns. Just making note. I was hoping to do two birds w/ one option flag. The common use of DataMember / JsonPropertyName both share the use of a name property to

[2020-10-06 20:21] ViktorHofer opened #43109 "Solution Files in libraries don't list all required dependencies"
Our solution files aren't up-to-date and need dependencies added to them (ie System.Runtime.CompilerServices.Unsafe). Currently most of the builds fail because of the missing Unsafe dependency which TestUtilities relies on.

The plan is to use slngen to keep the solution files up-to-date and ideally protect this in CI. To fix the build issues I will send a PR to do a manual update.

[2020-10-06 20:21] agocke commented on #42265
Including passing the flag `IncludeAllContentForSelfExtract`?

[2020-10-06 20:23] jeffschwMSFT commented on #43057
Closed with https://github.com/dotnet/runtime/pull/43058

[2020-10-06 20:23] #43057 closed

[2020-10-06 20:26] jeffschwMSFT commented on #3619
Closing via https://github.com/dotnet/runtime/pull/42989

[2020-10-06 20:26] #3619 closed

[2020-10-06 20:34] ViktorHofer opened #43110 "Define build dependencies between libraries, runtime, host, installers, native libraries"
Today we have the subset system which sits on top of our build system and allows to only build specific parts of the repository. If a developer working mainly on libraries tries to invoke tests without having the runtime built first, that fails. In an ideal world we would declare dependencies between our components (libraries, runtimes, hosts and installers) with up-to-date checks so that these ma

[2020-10-06 20:43] MartyIX opened #43111 "Missing `System.Net.Sockets.TcpClient.Connect(IPEndPoint remoteEP)` overload."
## Background and Motivation

This issue proposes to add `System.Net.Sockets.TcpClient.ConnectAsync(IPEndPoint remoteEP)` method.

This issue was filed based on #40750 and comment https://github.com/dotnet/runtime/pull/40750#issuecomment-704112931 by  @geoffkizer.

## Proposed API

[code]

## Usage Examples

Usage example is the same as for `System.Net.Sockets.TcpClient.Connect(IPEndPoint remoteEP

[2020-10-06 20:50] brporter commented on #43086
@scalablecory I ran my repro with tracing enabled for the Microsoft-System-Net-Http trace provider, and I see a ton of window increments being generated for very small sizes, typically the exact size of the previously received frame. Example:

[code]

Examining an HTTP/2 transaction with (fumbles about for any other implementation I can lay hands on, grabs Firefox) and I noticed two things:

1. Fi

[2020-10-06 21:06] geoffkizer commented on #43086
There's code to defer window updates until they meet a minimum threshold. The threshold is 1/8th of window size. For the connection window, the window size is large -- 64MB. For the stream window, it's 64K, which explains why you see updates each time when you receive 8K.

So it's really the same problem here -- stream receive window is too small.

See https://github.com/dotnet/runtime/issues/1587

[2020-10-06 21:12] antonfirsov commented on #42686
@tmds let me know if I'm missing something, but I think your repro code in https://github.com/dotnet/runtime/issues/42686#issuecomment-701964046 is not testing the right thing. We are facing this issue only with synchronous connect, async is fine.

Any chance you can retest the same logic with synchronous `Socket.Connect` on your 7.5 system? Your kernel version seems to be identical to the CI one.

[2020-10-06 21:19] timmydo opened #43113 "Linux: Add support for building 'distroless' apps with static libc"
A distroless Linux container image is essentially one that provides the minimal necessary files to start an application. These mean the typical libraries provided by a Linux distribution are not there.

From https://github.com/GoogleContainerTools/distroless/blob/446923c3756ceeaa75888f52fcbdd48bb314fbf8/base/README.md :

Statically compiled applications (Go) that do not require libc can use the `g

[2020-10-06 21:20] jkotas commented on #43110
It mean that incremental build of e.g. `System.Net.Http` would check timestamps of all files in the runtime and lower-level libraries. That is like 10,000 files. How long is it going to take to check time stamps of this many files to make the incremental builds work?

I find myself using `--no-dependencies` option for inner loop quite often already. The dependency checks  take some time and produc

[2020-10-06 21:33] jkoritzinsky commented on #43060
Since a very large portion of P/Invokes in Microsoft.NETCore.App use delegate callbacks and we've already added the support for Delegate marshalling, I suggest we keep it, at least for v1 where we're trying to do a drop-in replacement for DllImport.

I wouldn't be against emitting a warning, although I think we should hold off on that until we have some sort of reverse P/Invoke generation.

[2020-10-06 21:36] am11 commented on #42265
Yup, I tried publishing with a fresh local build of master:
`dotnet publish -r osx-x64 -p:IncludeAllContentForSelfExtract=True -p:PublishSingleFile=True -c Release`

throws:
[code]
revision:
[code]

[2020-10-06 21:53] jkotas commented on #43110
My preference would be to make `dotnet build` without extra options work great for the inner loop. I do not see the current scheme where one needs to do build.cmd at top level as significant hassle. I would like to have a bit more granularity for that though - have all the Microsoft.Extensions.* and legacy compact pack libraries to be a separate subset.

[2020-10-06 21:53] ViktorHofer commented on #43110
Can you elaborate on what the `--no-dependencies` option is for? Is that something native specific?

Our libraries **build** dependencies are purely managed, aren't they? The runtime and the host are only required for composing the runtime pack and the shared framework for our testhost. Both are required for packaging and testing the product but not for building the BCL, right?

[2020-10-06 22:05] mangod9 commented on #42885
Also if you could share a repro and/or a few dumps that would be helpful to continue investigating further. Thx

[2020-10-06 22:06] kg commented on #42504
It appears that emscripten is not designed for this to work as-is. Based on the information in https://github.com/emscripten-core/emscripten/issues/10785 the issue may be that aframe is not being compiled with MODULARIZE turned on, and as a result hosting it in the same page as another webassembly module (in this case, Blazor) will not work.

If you can still reproduce this issue with a MODULARIZE

[2020-10-06 22:06] #42504 closed

[2020-10-06 22:09] jkotas commented on #43110
It is `dotnet build` option.

Compare this:

[code]

vs. this:

[code]

It is still annoying that it builds 9 versions of System.Runtime.Serialization.Formatters.Tests.dll when I only want one. I did not get bothered enough by this to find the right command line option to workaround that.

[2020-10-06 22:11] safern commented on #36034
Thanks for the proposal @thomaslevesque.

The problem that I see with this is, how would we identify you have a base64 string to decode in the config file?

Would we have to look at the property that we're binding and if it's type is `byte[]` then try and decode the base64 string as a `byte[]`?

[2020-10-06 22:18] thomaslevesque commented on #36034
Yes, at least that's what I had in mind.

Actually, I probably shouldn't have mentioned JSON in the issue description, since it's not actually specific to JSON configuration. It should apply to any configuration source, since AFAIK the configuration binder doesn't care where the values come from, it just sees key/value pairs.

[2020-10-06 22:18] jkotas commented on #43060
FWIW, the number of P/Invokes in Microsoft.NETCore.App use delegate callbacks is relatively small, and I plan to convert majority of them to use function pointers now that we have the Roslyn with the final syntax.

[2020-10-06 22:19] maryamariyan commented on #36035
Based on the discussions that @rynowak and @davidfowl raised closing this issue. Please feel free to reopen if you think we should reconsider this or have a further discussion

[2020-10-06 22:19] #36035 closed

[2020-10-06 22:21] ViktorHofer commented on #43110
That would be accomplished by passing in the TargetFramework that you are interested in, ie `dotnet build -f net5.0-Linux`.

Awesome, I didn't know that one exists. We should definitely document it as it saves a lot of time when only the library invoked has changed.

It's clear to me why you picked that one, as it has the most dependencies of all the test libraries. We have couple of work items th

[2020-10-06 22:21] maryamariyan commented on #36040
@mjthompson2107 could you please provide more info to repro this issue?

[2020-10-06 22:21] TheXenocide opened #43171 "Conflicting Dependency Versions for System.Runtime.CompilerServices.Unsafe"
It seems this may apply to more than one library within the Microsoft.Extensions ecosystem, but at a minimum Microsoft.Extensions.Configuration.Json has an assembly version conflict baked in that prevents us from being able to run it in an environment where we can't use assembly binding redirects (particularly within an extension to a 3rd party codebase we don't control which performs the actual e