[2021-02-04 01:13] macrogreg commented on #46704
My last point is shorter :)

### III. The full ID of a Span is really the `ActivityContext`, not the `ActivityTraceId` and not the `ActivitySpanId`. Consider the custom ID creation API to generate `ActivityContext` not the `ActivityTraceId`.

Basically, we are having this discussion because an important vendor cannot use the default format for the Trace Id. That's reasonable. I am a big fan of not

[2021-02-04 01:15] steveisok opened #47830 "Add LLVM arm64 package for M1"
Found this to be a missing package on the M1 when building for `-os iOS -arch arm64`.

[2021-02-04 01:18] steveisok opened #47831 "Missing unicode/uclean.h in mono M1 runtime build"
When building for `-os osx -arch arm64` on the M1, we'll get this runtime build error.

[code]

[2021-02-04 01:19] steveisok opened #47833 "MacOS arm64 mono build issues"
This issue will track build problems on the M1 for mono:

**-os osx -arch arm64**
- [x]  No ICU arm64 package -> unicode/uclean.h not found in `pal_calendarData` and `pal_casing` https://github.com/dotnet/runtime/issues/47831
- [x]  [Platform version is not present](https://github.com/dotnet/runtime/pull/47245) when bumping to 6.0 SDK

**-os iOS -arch arm64**
- [x] Missing LLVM arm64 package https

[2021-02-04 02:04] John0King commented on #29690
@steveharter

yes,  for example  change the `data:T|T[]`  to `data:T[]`  .  I can't do it (or hard) with `dynamic` because I need to know the type of the property/object ,  and `JToken` can do this perfectly because every property/object have a `TokenType` property.

but today the `JsonDocument`  `JsonElement`  is just a `StringReader` or `SpanReader`  (compare to newtonsoft.Json is `new JsonTextR

[2021-02-04 02:32] John0King commented on #37576
@steveharter Is there any discussion in your team for this issue ?

if you use .net 5.0.100 sdk  and use a nuget package newer version `micrsoft.extension.*` package  ,  the dll from nuget will be copy and cause a  assembly redirection,   but it will not for a plugin alc.

### default ALC (named  $0)
-   Assembly :  Microsoft.Extension.Configuration.Abstraction
-  Assembly :  Microsoft.AspNetCore.

[2021-02-04 02:34] stephentoub commented on #47812
@arkalyanms, I took a look at your benchmark, and noted you're running against netcoreapp2.1... that's old news :smile:  Can you try something newer?  Here's what I see for GetValue / 1.

|              Method |       Runtime |     Toolchain | Size |      Mean | Code Size |
|-------------------- |-------------- |-------------- |----- |----------:|----------:|
|          Dictionary |      .NET 5.0

[2021-02-04 03:05] arkalyanms commented on #47812
Ah nice! So there is a lot of goodness I am missing out on.  I’ll update and circle back. Thanks @stephentoub

[2021-02-04 03:17] tannergooding opened #47837 "Consider refactoring the System.Runtime.Intrinsics"
Currently `System.Runtime.Intrinsics` types have two implementations:
* `Isa.cs` which is recursive
* `Isa.PlatformNotSupported.cs` which is just `throw new PlatformNotSupportedException()`

When you are talking about pure IL size, this is a win as all "unsupported" intrinsics can have their method bodies shared.
However, in practice (I believe due to our usage of crossgen) we actually end up incr

[2021-02-04 03:17] tannergooding commented on #47837
CC. @jkotas, @echesakovMSFT

[2021-02-04 04:29] stephentoub commented on #28776
Just add them as /// comments directly on the public APIs you're adding in the src.

[2021-02-04 04:41] Dixin commented on #28776
@stephentoub Thank you for your reply. The file in `src` contains no `/// comments` for existing APIs at all:
- https://github.com/dotnet/runtime/blob/master/src/libraries/System.Linq/src/System/Linq/ElementAt.cs
- https://github.com/dotnet/runtime/blob/master/src/libraries/System.Linq/src/System/Linq/Take.cs

Are you sure about adding `/// comments` in these files?

The file in `ref` contains no

[2021-02-04 04:45] joshudson commented on #13658
@adamsitnik : To repro, set up the following:

1) Find a way to reliably get an IO error after `async` so that it doesn't fail immediately. I haven't been able to do this reliably.

2) Change `Win32Marshal.GetExceptionForWin32Error(errorCode);` to `throw new OutOfMemoryException`. This is most likely the line that fails, though I can't prove its not `e.SetCurrentStackTrace();`

The failure mode is

[2021-02-04 04:47] stephentoub commented on #28776
Yes.  We're documenting all new APIs with /// comments to seed the documentation, and we're on a path to moving all documentation into the src files as well so that they may become the "source of truth" for the docs.

[2021-02-04 05:09] #44231 closed

[2021-02-04 05:59] GrabYourPitchforks commented on #47793
I'll ping the Full Framework owners and get their thoughts on this.

[2021-02-04 06:03] geoffkizer commented on #47631
BTW, I'm very much in favor of doing something like this.

One design issue to consider: Epoll (and kqueue) don't just signal general fd readiness; they specifically signal read readiness or write readiness (or both). And they also signal EOF for both.

So we either need a callback that indicates the specific readiness condition, or we need multiple callbacks for different conditions. My suggestio

[2021-02-04 06:10] #47561 closed

[2021-02-04 06:37] GrabYourPitchforks commented on #47701
@jkotas @jeffhandley There are many open issues asking for improved MD array support within the ecosystem ([see search query](https://github.com/dotnet/runtime/search?q=multidimensional&state=open&type=issues)). Is this an area of active investment in the runtime and library ecosystem? And if so, do we need a master tracking issue to encompass all of these requests?

[2021-02-04 06:41] GrabYourPitchforks commented on #47685
Remember to be consistent between IntPtr and UIntPtr, regardless of whether your final decision be to support it or to reject it. I'd also suggest confirming the presence of a unit test to validate that _void\*_ and other real pointer types are rejected or otherwise ignored during the serialization process.

[2021-02-04 07:04] VincentBu opened #47839 "Hundreds of thousands of tests failed with Assertion failed 'firstILBlock->hasProfileWeight()' in 'System.Runtime.CompilerServices.CastHelpers:StelemRef(System.Array,int,System.Object)' during 'Compute edge weights (1, false)' (IL size 86)"
Run : [runtime-coreclr jitstress 20210202.1](https://dev.azure.com/dnceng/public/_build/results?buildId=976727&view=ms.vss-test-web.build-test-results-tab&runId=30649808&resultId=100916&paneView=debug)

Hundreds of thousands of tests failed here.

**Error message:**
[code]

[2021-02-04 07:28] lanwin commented on #44435
I didnt have tried the HostBuilder yet, but the problem here was not the extensibility from my point of view.

The WebHostBuilder always builds its own ServiceCollection and allows other only to hook in. But what about scenarios where you already have another application root and only want to add a webhost to it?

[2021-02-04 07:55] mfkl commented on #47563
I've tried enabling strict validation by default (e.g. throwing on all BufErrors) to check for potential regressions in tests, and it fails half the 600+ compression test suite.

Additionally, [the docs](https://zlib.net/manual.html) makes me think that _maybe_ throwing on every BufErrors may not be the correct approach:

As for other compression methods, I had a look at Brotli which has a similar

[2021-02-04 08:13] karelz commented on #47824
@maxima120 are you able to reproduce it on local environment? Or does it happen only behind Amazon Cloud Front?
If you can reproduce it also locally, please post a repro that anyone can run and debug.

You can try to minimize the repro by calling directly `System.Net.Dns.GetHostAddresses`. If that shows the same characteristics, then it is OS specific DNS caching behavior we cannot influence from

[2021-02-04 08:36] kingcean opened #47841 "Add PATCH mode for JSON deserialization"
## Background and Motivation

For most scenarios, we will deserialize a JSON object to a new object in .NET. But for some others, we may just need patch the memberwise delta changes to an existing object from the JSON properties. That means we may already have an object with properties initialized or set by other places, and we can still have a way to continue to set a number of specific propertie

[2021-02-04 08:37] Danthar commented on #44686
I'd like to note, that we started deploying a netcore5 application to azure, January this month. And the auto detect logic from the Azure team does not work for us.
So to anyone who finds this issue. You might have to toggle the magic setting (WEBSITE_VNET_SUPPORT_DUAL_STACK_SOCKETS) yourself. Or utilize the workaround httpclient mentioned by @antonfirsov earlier in this thread.

Be aware though t

[2021-02-04 09:11] karelz commented on #47612
Closing for now as it is not actionable without isolated repro. If you get more information / small repro to ensure this is not a specific environment problem, feel free to reopen. Thanks!

[2021-02-04 09:11] #47612 closed

[2021-02-04 09:24] karelz commented on #46948
Thanks for the details!

Any change, no matter how simple or benign it seems, carries a risk (I touched on some of such cases in my talk "[War stories from .NET team](https://www.youtube.com/watch?v=ntGBRi_I3MM)" if you are interested in examples).
Shiproom (rightfully) does not allow fixes into servicing which are not serious enough to offset the general risk. The bar is indeed higher.
If we see

[2021-02-04 09:51] karelz commented on #28039
Closing as Won't Fix for now due to complexity, security concerns and low demand.
If you stumble upon it and need it, please upvote top post and reply here. Thanks!

[2021-02-04 09:51] #28039 closed

[2021-02-04 10:56] davidfowl commented on #44435
HostBuilder has a similar problem but that's by design as a host is responsible for creating and managing the DI container and hosted services within that container. It sounds like you're looking for something else.

What experience are you looking for?

[2021-02-04 11:02] janvorli commented on #47423
I am hitting the same issue. Since it is also related to time (based on the exception), I was wondering if we are actually hitting another thing that the release notes mention for 32 bit platforms:

To check if it is the issue, I've built .NET Core 5 using crossbuild and Alpine 3.13 rootfs (it required several little hacks to get there). I've built it from the same commit as the runtime that was i

[2021-02-04 11:27] mrgleba opened #47845 "Using"
### Description

Constructing ```System.Text.Json.Utf8JsonWriter(httpContext.Rsponse.Body)``` in an aspnet core controller
sets ```httpContext.Rsponse.Body.HasStarted``` to true even before anything has been written.

This has a non-obvious side effect that it prevents ```IApplicationuilder.UseExceptionHandler``` from firing on any excepion raised after json writer has been constructed.

Examples:

[2021-02-04 11:53] EgorBo commented on #1327
Quick prototype for "inlined check": https://github.com/EgorBo/runtime-1/commit/78436b028939eb8ceb8bba711a67f91853a8ae06

[code]

[2021-02-04 12:16] codybartfast commented on #47582
@stephentoub Wow, I didn't expect such a quick response (in fact I expected it was just my misunderstanding).  Thank you.

[2021-02-04 12:19] CarnaViire commented on #42142
Closing as answered above

[2021-02-04 12:19] #42142 closed

[2021-02-04 13:13] noahfalk commented on #47617
Thanks Gregg! Its possible to get the frame information you need without a stackwalk, but it would take a good bit more refactoring. Effectively we'd be building a new set of parallel exception event handlers that captures each piece of information as the runtime does exception dispatch and then routes it all the way up to a new public ICorDebug API. I'm going to propose that if we are trying for

[2021-02-04 13:33] vitek-karas commented on #47799
This is a duplicate of https://github.com/dotnet/runtime/issues/37162. Which has been fixed in https://github.com/dotnet/runtime/pull/42055 for .NET 6. For now we have no plans to backport this to 5, since a reasonable workaround exists.

[2021-02-04 13:56] lanwin commented on #44435
We have an company intern boostrap system for services/docker and co, witch builds upon everything we need for all off our services. This works also with ServiceCollection but it creates one already at start time. We want to use HTTP/ASP.NET as opt in feature to it. So manly wee need the *setup part* from WebHostBuilder to work against and existing ServiceCollection.

I mad it work by using forwar

[2021-02-04 13:58] XXXBold opened #47848 "VS2019 Remote debugging: Attach fails on linux-arm with .NET 5.0.2 (Error 0x80131c4f)"
### Description
I'm not able to attach a debugger to a remote process on a Toradex T30 with linux-arm. I'm using a simple testproject (see below) to test this. Running the .dll with `dotnet Test_net5.0.dll` from the CLI on the device does work.

I compile & publish the Project on my Windows 10 machine. Following settings are used to publish:
![vs-publish-options](https://user-images.githubusercont

[2021-02-04 14:00] eiriktsarpalis commented on #28776
FWIW our current source of truth [can be found here](https://github.com/dotnet/dotnet-api-docs/tree/master/xml/System.Linq) if you're looking for a template.

[2021-02-04 14:02] BickelLukas opened #47849 "Reference type in public field causes TypeLoadException for Com Interop"
### Description

I am using a VB6 Library through COM Interop.
Everything works fine until the class contains a reference type as a public field.
This causes the program to throw a `System.TypeLoadException: 'The Signature is incorrect'` as soon it is launched.

VB6 Code:
[code]

as soon as the class containing that line gets used within the project it crashes.

### Configuration
.NET Version: 5.0

[2021-02-04 14:12] eiriktsarpalis commented on #47841
Hi @kingcean, that's an interesting proposal. I don't believe I've seen such a feature before, do you know of any serializer libraries that already offer this?

[2021-02-04 14:12] davidfowl commented on #44435
Maybe you should target the the `IHostBuilder` directly instead of the `IServiceCollection`? Can you show what you're doing right now (a code sample would be best)?

FWIW, I think it would be possible to take an initial `IServiceCollection`, but taking a baked `IServiceProvider` wouldn't be possible.

[2021-02-04 14:18] lanwin commented on #44435
I will try to revisit that and build an example. But it could take a little while right now.

[2021-02-04 14:19] MgSam commented on #27687
Now that this is approved, should we make a separate issue for `IntersectBy` and `ExceptBy` for heterogenous sources? I think those are also extremely useful and there's not a simple workaround to get the same functionality with existing LINQ methods.

[2021-02-04 14:23] jkotas commented on #47701
I do not see us actively investing into better multi-dimensional array support, for .NET 6 at least. I do expect that we will try to fix any regressions and crashing bugs. Once you eliminate crashes, regressions, duplicates and unrelated issues, there is not that much left in your query: 1 perf/CQ, 2 API suggestions for System.Runtime and 1 API suggestion for System.Collections.

[2021-02-04 14:25] akoeplinger opened #47850 "JIT and JIT.Directed tests timeout/hang on Android arm64 devices"
This started recently, all of the runs in the last 24 hours of these two workitems timed out.

The JIT and JIT.Directed are the most common ones but there are also occasional timeouts of other runtime tests.

Example Kusto query:
[code]

![image](https://user-images.githubusercontent.com/1376924/106906843-df0f1a00-66fd-11eb-93a1-6969e5836e85.png)

[2021-02-04 14:26] steveisok commented on #47850
/cc @SamMonoRT

[2021-02-04 14:29] kingcean commented on #47841
Hi @eiriktsarpalis , No. But I think it will be very useful when we build a web service and provide an API so that the client just need to PUT the delta update (only the properties needed to change) in the payload of the HTTP request to modify the entity in database.

[2021-02-04 14:38] jkotas commented on #47837
I think a better way to get even better size reduction would be to stop AOTing methods that always throw for R2R. Throwing exceptions is rare and slow, so it is ok to fallback to JIT for these cases.

I see this as a hack to get equivalent of inlined IL. I do not think we should be growing it beyond that. Ideally, I would love to see this replaced by build-time step.

Isn't the actual problem with

[2021-02-04 14:40] maxima120 commented on #47824
its the other way around. This happens on any machine but when i try to access specific websites (not only amazon but also akamai and perhaps more - in these 2 cases I cannot use direct IP address for http/https request - they return 302 instead. if i call it by dns name it works - there are multiple redirections it seems, including jumping from http to https and back to http for example - my netw

[2021-02-04 14:40] #47824 closed

[2021-02-04 14:41] davidfowl commented on #44435
This issue is 4 years old, I got time 😆

[2021-02-04 14:44] CarnaViire commented on #31088
@zlatanov As #1493 is merged, could you please share with me your plans/estimates on this? Do you need any help?

[2021-02-04 14:48] eiriktsarpalis commented on #27687
We shouldn't need to, the approved API includes the following overloads which should be sufficient to address the requirement:
[code]

[2021-02-04 14:53] SamMonoRT commented on #47850
@fanyang-mono - can you investigate :  Hopefully this isn't an actual regression, and also hoping it is not an unwanted effect of the changes done by fixing https://github.com/dotnet/xharness/issues/397 ?

[2021-02-04 14:58] tannergooding commented on #47837
That's fair and also reasonable. I had just noticed the size difference when doing other investigations so wanted to raise its visibility.
If we can save size by just not AOTing these methods, that's also good.

If we don't go this route, it might still be worth seeing if the JIT can detect these methods as "supported intrinsics" in a cheapish way. We are currently taking up 6 bytes of IL per recu

[2021-02-04 15:00] jkotas commented on #1327
In general case, it would be observable behavior change in the timing of static constructors. You can do this in some limited cases like when you can prove the loop will run at least once and the static is accessed as the first thing in the loop, etc.

The offsets and masks should be abstracted via JIT/EE interface. It will also allow enabling this optimization for non-shared generics.

[2021-02-04 15:15] zlatanov commented on #31088
@CarnaViire I have initial API changes ready and started working on the deflate implementation. I plan on completing it this weekend. After that I need to write several tests verifying the implementation which might take another week or so.

If you wish, before starting writing tests, I can share with you the branch where I am working for you to take a look and give me feedback?

[2021-02-04 15:21] JulieLeeMSFT commented on #43227
Good analysis that loop alignment work didn’t introduce regression.

What is cloned loop in the loop table?

Thanks,
Julie
________________________________
From: Kunal Pathak <notifications@github.com>
Sent: Wednesday, February 3, 2021 4:04:47 PM
To: dotnet/runtime <runtime@noreply.github.com>
Cc: Julie Lee <Julie.Lee@microsoft.com>; State change <state_change@noreply.github.com>
Subject: Re: [dot

[2021-02-04 15:22] aik-jahoda commented on #47378
Reopen - The SNI length limit is 63 chars, some test generates SNI longer

[2021-02-04 15:38] layomia commented on #47841
I believe this is a duplicate of https://github.com/dotnet/runtime/issues/29538.

[2021-02-04 16:02] danmosemsft commented on #47563
Presumably the goal is to flag inputs that will decompress incorrectly and not flag those that will decompress correctly in all major decompression tools. So at a minimum zero of the test bed should fail the checks because we know they decompress correctly. (Unless we can find another tools that cannot.)

[2021-02-04 16:03] adamsitnik commented on #13658
The code that you have [referenced](https://github.com/dotnet/runtime/blob/f818e296aebbc6b555fb94e6b4d051f2773e25d8/src/libraries/System.Private.CoreLib/src/System/IO/FileStreamCompletionSource.Win32.cs#L188-L190) tries to allocate an exception and the stack trace (this is quite a small allocation request). When there is not enough free memory to fulfill the allocation request, GC tries to free me

[2021-02-04 16:03] #13658 closed

[2021-02-04 16:10] layomia opened #47855 "[JsonSerializer] Add test for JsonIncludeAttribute + parameterized ctor deserialization"
We should add a test for what happens when a constructor parameter is supposed to bind with a property that would normally not be included for deserialization, but is included via `[JsonInclude]`. Deserialization should proceed as expected.

[code]

We should also test that `JsonNumberHandlingAttribute` is honored.

`JsonConverterAttribute`, `JsonIgnoreAttribute`, and `JsonPropertyNameAttribute` a

[2021-02-04 16:11] Clockwork-Muse commented on #27687
Side question: are we going to be adding any of these to PLINQ?

[2021-02-04 16:18] kunalspathak commented on #43227
Sometimes, if a loop has checks like array's bound check, we will clone a loop. One variant of the loop will have no bound checks (and hence will be fast loop) while other variant will have bound checks (and will be a slow loop). Depending on the input, we decide whether to execute fast loop or the cloned (slow) loop. You can see an example [here](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEB

[2021-02-04 16:18] AndyAyersMS commented on #47839
Guessing this is my fault.

Jit stress, I though we were friends....

[2021-02-04 16:56] karelz commented on #46785
Triage: There may be some ways we need to explore -- assigning to @antonfirsov. If not, we should doublecheck with winsock team, then close as by design.

[2021-02-04 16:59] MgSam commented on #27687
@eiriktsarpalis That only works if the the second collection is already the type of the projection. I'd say that's less common than the case when the collections are two completely unrelated types.

[code]

Obviously this example is contrived but real-world scenarios like this happen all the time.

[2021-02-04 17:09] antonfirsov commented on #47071
Triage: this would be only useful for HTTP 1.1 non-chunked, unencrypted requests. Worth investigating but doesn't seem high prio.

If it's important for YARP common traffic, we can bump priority.

[2021-02-04 17:12] karelz commented on #47163
Triage: We agree, it is no-op on .NET Core, let's obsolete it.

[2021-02-04 17:13] adamsitnik opened #47856 "Failing assert in ILogB benchmark"
I've merged one big PR of mine to the performance repo and some CI legs went red after that. I thought it was my fault, but according to the [logs](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-performance-refs-heads-master-b0e291e414a14b52b3/Partition0/console.94d3d474.log?sv=2019-07-07&se=2021-02-24T12%3A04%3A47Z&sr=c&sp=rl&sig=IWpBGVp7VJ0YkF6VTB3etbJSGxm7l5EWkCWhKYaJowk%3D) the

[2021-02-04 17:17] karelz commented on #47206
Triage: @scalablecory remembers that there was some weird behavior in the space.
No customers complaining (disconnecting is rather advanced anyway and people would do async anyway), not worth the effort, closing.

[2021-02-04 17:17] #47206 closed

[2021-02-04 17:18] gregg-miskelly commented on #47617
Just to be clear, we need two items for 'round 1':
* The ability to turn off first chance.
* I have never tried this, so maybe this is already the behavior, but I doubt it -- when stopping user-first chance, if the top frame is in a user module, but it turns out that the method has JMC attributes that make it non-user code, we need to be able to mark that method as non-user code, possibly call som

[2021-02-04 17:21] karelz commented on #47287
Triage: We should throw as suggested above. Should be fairly straightforward to do.

[2021-02-04 17:23] karelz commented on #47335
Triage: Looks like we can't do anything about it, it is a weird corner case. Won't Fix.

[2021-02-04 17:23] #47335 closed

[2021-02-04 17:25] adamsitnik commented on #47856
@briansull @tannergooding PTAL

[2021-02-04 17:27] karelz commented on #47342
Triage: It is deadlock on Mac (development scenario) using UDP (which is not super common). Does not affect to TCP.
We had discussion in the past to not spin and use alternatives, may be non-trivial work.

[2021-02-04 17:29] tannergooding commented on #47856
Individual cases of `ILogB` are constant folding and returning the correct result, any kind of `for` loop breaks things however.

The simplest repro I've gotten is:
[code]

Manually `value` causes it to no longer repro

[2021-02-04 17:40] Pilchie commented on #47859
@jeffschwMSFT - can you help route within runtime?

[2021-02-04 17:44] SkiFoD commented on #47685
Hey everyone. I have done some research of the issue and figured out that unsafe pointers were already being rejected with _InvalidOperationException_ thrown along. Should this behavior be covered with a unit test in addition to the main issue? Also I found that System.Text.Json tests were failed when the target framework was net461 because System.Runtime.CompilerServices.Unsafe assembly was not f

[2021-02-04 17:46] echesakovMSFT commented on #46642
I tried to repro the failure and left the test running on a machine for last night - no failures after a hundred attempts.

Closing.

[2021-02-04 17:46] #46642 closed

[2021-02-04 17:50] tannergooding commented on #47856
A [JitDump.txt](https://github.com/dotnet/runtime/files/5927559/JitDump.txt)

[2021-02-04 17:59] bartonjs commented on #40099
Changed to plural via email:

[code]

[2021-02-04 18:01] #47831 closed

[2021-02-04 18:02] GrabYourPitchforks commented on #33799
I'd suggest enabling this analyzer only for scenarios where the associated value is: (a) a literal; or (b) already fully hydrated before the call to `ContainsKey`. Otherwise you risk a perf regression in scenarios like the following.

[code]

In theory you could take a factory argument to perform the expensive computation, but now we'd be making callers understand lambdas and closures when all the

[2021-02-04 18:07] tannergooding commented on #47856
The codegen ends up being:
[code]

which is incorrect since it's treating a double as `int`...

It looks like there is an incorrect cast being inserted:
[code]

which is being done here if the operand and source type don't match: https://github.com/dotnet/runtime/blob/master/src/coreclr/jit/importer.cpp#L4625-L4628.

It isn't clear why this was done or if its necessary. Is it possibly trying to ac

[2021-02-04 18:14] eerhardt opened #47860 "Vector128<T> is unnecessarily being left in a Blazor WASM default app"
When publishing a Blazor WASM app, the `Vector128<T>` type is being left in the published app. The only method that is using it is:

https://github.com/dotnet/runtime/blob/40b09155c49a2e4cabede5af493c75d4d4707a50/src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.Transcoding.cs#L881-L889

We should try to refactor this code to not root the `Vector128<T>` Type in a Blazor WASM

[2021-02-04 18:19] eerhardt opened #47861 "STAThreadAttribute is unnecessarily being left in a Blazor WASM default app"
When publishing a Blazor WASM app, the `STAThreadAttribute` type is being left in the published app.

We should trim this attribute in a WASM app, as it doesn't serve a purpose.

[2021-02-04 18:21] mswilson4040 commented on #593
You can almost accomplish this in System.Text.Json with a custom JsonConverter. The only issue is that you have to write everything to the writer manually. All of the methods to write the property to output are by type (ie: WriteString, WriteNumber, WriteBoolean, etc...).

All I'm trying to do is "null out" property based on an attribute. If there was some way to write a generic value without havi

[2021-02-04 18:24] marek-safar commented on #47861
I think this is a subset of whole COM removal work #36659

[2021-02-04 18:26] eerhardt commented on #47861
We should be able to do this individually without doing the rest of the COM work.

[2021-02-04 18:27] terrajobst commented on #36391
* Let's drop the `new()` constraint? The existing `OptionsBuilderDataAnnotationsExtensions.ValidateDataAnnotations()` method doesn't have it.
* We considered existing types in that namespace but we don't think there is an appropriate home for this.

[code]

[2021-02-04 18:29] marek-safar commented on #47861
Sure, just saying this is not WASM specific but COM related so any e.g. Linux app could win

[2021-02-04 18:33] terrajobst commented on #33797
* Makes sense.

We could further improve the fixer to handle this as well:

[code]

But it's not necessary -- we can start simple and take it from there.

[2021-02-04 18:36] terrajobst commented on #33798
* Looks good
* This is related to #33797. We should make sure these two analyzers don't fight with each other. We might want to put them in the same analyzer and decide which diagnostic is the most appropriate one to raise. They could still generated different IDs.

[2021-02-04 18:37] EliasCK opened #47863 ""Dotnet watch run" is at least 18 times slower than it needs to be."
Here are some results comparing it agains a simple custom implementation using MsBuild:

[code]

Forgive the wall of text, but I know that a lot of people don't find those numbers very significan't, but I'm tired of people downright getting angry at me for caring about performance.

I think that if dotnet could provide an "oh my god it recompiles and run fast" experience , it would go a long way t

[2021-02-04 18:38] terrajobst commented on #33799
* Looks good
* Please consider the comment [here](https://github.com/dotnet/runtime/issues/33798#issuecomment-773519610).

[2021-02-04 18:41] terrajobst commented on #33806
* Makes sense, but we shouldn't use `Wait()`:

[code]

[2021-02-04 18:44] davidfowl commented on #36391
👍🏾

[2021-02-04 18:44] terrajobst commented on #33807
* Makes sense

[code]

[2021-02-04 18:48] terrajobst commented on #33809
* Looks good
* We should only suggest this for `OperationCanceledException`, not `TaskCanceledException` because `ThrowIfCancellationRequested` throws the former.

[2021-02-04 18:51] benaadams commented on #47863
Have example of the `custom watch run` code?

[2021-02-04 18:54] EliasCK commented on #47863
Here you go:

[code]

And:
[code]

[2021-02-04 18:57] terrajobst commented on #47180
* Makes sense
* Is this the only overload that we should do this for?

[2021-02-04 18:57] EliasCK commented on #47863
Yes, It's a little customized as I'm still playing around with it:

**csproj**
[code]

**Program.cs**
[code]

[2021-02-04 18:57] tommcdon commented on #47826
@afr1983 Thank you for the feedback.  Our hope is that MDA's would not be needed and instead and instead provide useful information to the developer through exceptions. Would it be possible to share a test case demonstrating the issue where CallbackOnCollectedDelegate would have been useful? We would be interested in providing rich exception information that points to the source of the problem ins

[2021-02-04 19:02] terrajobst commented on #47163
* Looks good
* It feels over-engineered to add a diagnostic ID to this obsoletion

[code]

[2021-02-04 19:03] EliasCK commented on #47863
I can clean it up and make something simpler that works out of the box if needed.

[2021-02-04 19:09] terrajobst commented on #35284
* Looks good

[code]

[2021-02-04 19:09] eiriktsarpalis commented on #47525
Ok, so I think I have a viable [prototype that supports timeouts](https://github.com/eiriktsarpalis/runtime/commit/e980d98e27b4da212287fa4759778e9dd7245a22). I've incorporated @stephentoub's proposal to expose `AwaitBehavior` as a configuration struct. An added bonus of the approach is that the [CA2016 analyzer](https://github.com/dotnet/runtime/issues/27723#issuecomment-763769282) is no longer an

[2021-02-04 19:15] eiriktsarpalis commented on #47841
In that case, I'm going to close this one. @kingcean feel free to continue the conversation over in #29538.

[2021-02-04 19:15] #47841 closed

[2021-02-04 19:16] terrajobst commented on #35602
* We believe @jkotas concerns outweighs the (minor) benefit of adding this API.

[2021-02-04 19:16] #35602 closed

[2021-02-04 19:17] carlossanlop commented on #33806
Thanks for the correction, and thanks for approving.

[2021-02-04 19:20] terrajobst commented on #38657
* This wouldn't help the general `foreach` case due to the pattern-matched `GetEnumerator()` method
* This would only help the Linq case
* It general, it feels like a losing battle to trying to enrich technologies built on non-generic collections implement generic collection interfaces

[2021-02-04 19:20] #38657 closed

[2021-02-04 19:21] danmosemsft commented on #35284
Is anyone interested in offering an implementation+tests?

[2021-02-04 19:24] eiriktsarpalis commented on #47685
Sure, this is marked up-for-grabs so happy to accept community contributions.

[2021-02-04 19:29] eiriktsarpalis commented on #27687
@MgSam this should probably cover your use case:
[code]

Seems reasonable, but I would defer to @adamsitnik, @carlossanlop and @jozkee on that call. I would recommend creating a separate issue and we can revisit at a later iteration.

[2021-02-04 19:31] DrewScoggins opened #47866 "[Perf -11%] System.Buffers.Tests.ReadOnlySequenceTests<Char>.IterateGetPositionTenSegments"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [2f2593177dafbe702407fe0b7ac156a7829b7ee6](https://github.com/dotnet/runtime/commit/2f2593177dafbe702407fe0b7ac156a7829b7ee6)
Compare | [6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d](https://github.com/dotnet/runtime/commit/6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d)
Diff | [Link](https://github.com/dotnet/runtime/compare/2f259

[2021-02-04 19:32] MichaelSimons commented on #47500
FWIW, I found this [answer on askubuntu](https://askubuntu.com/a/153408) to be a helpful read on this topic.  The short answer is similar mechanism exist to control which package source is used/prioritized but may have the same potential issue of not having a single solution for all scenarios.  Furthermore these settings are at the machine level, not the feed level.

[2021-02-04 19:34] terrajobst commented on #43748
* We should `int`
* The default value should be `int.MaxValue`. It seems `0` should just mean don't recurse at all, rather than no limit.

[code]

[2021-02-04 19:37] DrewScoggins opened #47867 "[Perf] Multiple regressions in Microsoft.Extentions.DI"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [f1ad1b97e9387dc700bf72917f29fc7d1258ac1a](https://github.com/dotnet/runtime/commit/f1ad1b97e9387dc700bf72917f29fc7d1258ac1a)
Compare | [cef804e645b4ade3c0018352ae6562fa3d08cbaf](https://github.com/dotnet/runtime/commit/cef804e645b4ade3c0018352ae6562fa3d08cbaf)
Diff | [Link](https://github.com/dotnet/runtime/compare/f1ad1

[2021-02-04 19:41] DrewScoggins opened #47869 "[Perf] Multiple regressions in Microsoft.Extensions.Primitives.StringSegmentBenchmark"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d](https://github.com/dotnet/runtime/commit/6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d)
Compare | [796848aec642d1f8cc2c0d2ee6329ac6ecbd247e](https://github.com/dotnet/runtime/commit/796848aec642d1f8cc2c0d2ee6329ac6ecbd247e)
Diff | [Link](https://github.com/dotnet/runtime/compare/6cf

[2021-02-04 19:43] DrewScoggins opened #47870 "[Perf -26%] System.Tests.Perf_Random (3)"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Baseline | [18645f9534e16fdf99cf2ff4904901bc4e8e336e](https://github.com/dotnet/runtime/commit/18645f9534e16fdf99cf2ff4904901bc4e8e336e)
Compare | [f80b0575d44ccdc85a18c8dc2dbdcd29f7788d0b](https://github.com/dotnet/runtime/commit/f80b0575d44ccdc85a18c8dc2dbdcd29f7788d0b)
Diff | [Link](https://github.com/dotnet/runtime/compare

[2021-02-04 19:46] stephentoub commented on #43887
We've merged some changes to Random since then, so here's what it could look like now:
https://github.com/stephentoub/runtime/commit/aa2985322493d9ebc7ea9cb815503bd3da9d0ca7

[2021-02-04 19:46] terrajobst commented on #46255
* Since one can't stackalloc spans with reference types the value of this API feels low and the existing overload with `IEnumerable<T>` supports Linq-style slicing
* We may want to revisit this based on where the language is going, but for now let's not add this API.

[code]

[2021-02-04 19:46] #46255 closed

[2021-02-04 19:53] GrabYourPitchforks commented on #46255
You could use the existing `MemoryExtensions.Overlaps` routine to get the offset at which a `ROS<T>` occurs within a `T[]`. For instance:

[code]

This could be useful if you've lost track of _offset_ as a standalone value and only have the original array and the array slice to work with.

[2021-02-04 19:57] ladeak commented on #46255
That seems a reasonable suggestion, thank you.

[2021-02-04 19:58] jkoritzinsky opened #47871 "Only do ThreadPool worker tracking when the thread pool event source is enabled"
Per https://github.com/dotnet/runtime/pull/47592#discussion_r569321494, we should only do worker tracking when the thread pool event source and event sources in general are enabled.

cc: @marek-safar @eerhardt

[2021-02-04 20:03] davidfowl commented on #47525
Are we gonna add back any convenient sugar methods?

[2021-02-04 20:31] rolfbjarne commented on #47768
Versioning on Mac Catalyst is somewhat complex, because there are two versions in effect: the macOS version the app is running (or targeting), and the equivalent iOS version of the Mac Catalyst API.

Unfortunately Apple decided to use the macOS version in some places, and the iOS version in other places.

For the Xamarin parts of Mac Catalyst (API bindings), we decided to use the iOS version for A

[2021-02-04 20:32] arkalyanms commented on #47812
Alright, here are the net5.0 numbers. The delta is not as wide anymore (about 3-4x for Get and AddRange varies drastically based on data). For the cases that has data subject to change, I am inclined to switch over to a more custom ImmutableDictionary implementation I have or the TreeDictionary and to Dictionary if immutability is not required.

I am not sure if we still want to hold onto this bug

[2021-02-04 20:46] AndyAyersMS commented on #47839
Need to generalize when we run the new "incorporate profile data" phase. Should have a PR up shortly.

[2021-02-04 20:56] AndyAyersMS commented on #47856
Seems like maybe we never had a math intrinsic that had this kind of signature before.

cc @dotnet/jit-contrib

[2021-02-04 21:03] CoffeeFlux opened #47875 "Experiment with icu4x usage for wasm"
[icu4x](https://github.com/unicode-org/icu4x) is an ICU implementation targeting WebAssembly that is intended to be modular and flexible. There is a chance that it could offer size or performance benefits over icu4c, and as the library matures experimenting with using it could be valuable.

Before attempting to implement this in full, we would need to:
- [ ] Identify whether the ICU APIs we call r

[2021-02-04 21:08] jeffhandley commented on #928
I chatted with @carlossanlop on this and we decided to remove it from scope for 6.0. If we want to bring this into scope for a future release, we will need to convert this into a User Story and spend more time understanding the scenarios and identifying some projects that could utilize the feature.

[2021-02-04 21:11] SkiFoD commented on #47685
Great. Could you assign it to me?

[2021-02-04 21:16] GrabYourPitchforks commented on #47869
Likely due to https://github.com/dotnet/runtime/pull/45022 - I'll investigate.

[2021-02-04 21:17] ericstj commented on #47322
Is this the only case where folks want a different default logger?  Seems like correlation rather than causation.   Would it make more sense to do this whenever the console is redirected?

If they can set an environment variable, why not just set the logger this way?  Goes back to the correlation question.

[2021-02-04 21:18] ericstj commented on #35209
@shirhatti @tarekgh @noahfalk do you have any update on this?  Should it be considered for 6.0?

[2021-02-04 21:20] ericstj commented on #47315
This looks like a simple bug to fix.  The usage here doesn't require IReadOnlyCollection.

[2021-02-04 21:29] Fs00 commented on #35284
@danmosemsft Count me in! 😃

[2021-02-04 21:29] tarekgh commented on #35209
@ericstj we already have https://github.com/dotnet/runtime/issues/46571 which is the feature requested currently marked for 6.0. I believe if we implemented the requested feature will address the question in this issue. basically it will be opt-in choice to include the Tags (and the Baggage). We still discussing the feature though.

[2021-02-04 21:31] buyaa-n commented on #47801
I thought we don't have any tools to analyze IL/binary generated by the compiler, is there anything we can use for that @mavasani? If there is that would be very useful for solving this and other similar issues like https://github.com/dotnet/runtime/issues/44920

[2021-02-04 21:33] directhex commented on #47768
@rolfbjarne That's valuable info RE the implementation details. Does it change anything about the API added to the System.Runtime reference assembly (i.e. `IsMacCatalystVersionAtLeast()`), in your opinion?

[2021-02-04 21:34] GrabYourPitchforks commented on #47869
FWIW I don't think many of the benchmarks are valid ([see benchmarks](https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/libraries/Microsoft.Extensions.Primitives/StringSegmentBenchmark.cs)). Most of these benchmarks are testing a `StringSegment` instance against itself or against the same literal string that the segment was constructed around, which means that what they're rea

[2021-02-04 21:34] directhex commented on #47768
src/libraries/Common/src/Interop/OSX/Interop.libobjc.cs is where the actual implementation is happening, I'd welcome suggestions there

[2021-02-04 21:40] NikolaMilosavljevic opened #47877 ".NET Core 2.1 Runtime contains an unsigned binary - wixstdba.dll"
.NET Core 2.1 Runtime contains an unsigned binary: wixstdba.dll. This only affects Windows installers

This binary is part of Wix installer (Burn) and provides setup UI experience.

Windows Device Guard blocks the installation of .NET Core which will also affect distribution of .NET Core updates on WU/MU.

[2021-02-04 21:43] danmosemsft commented on #928
Agreed. I think when we are ready to visit this, we should probably step back and think about our story for Unix-specific API's all up, including what's on Mono.Posix.

[2021-02-04 21:45] danmosemsft commented on #35284
It's assigned to you @fs00 .. reach out here if you have questions. thanks!

[2021-02-04 21:45] vcsjones commented on #44738
@bartonjs Another wall I hit, this API proposal exposes types from `System.Formats.Asn1` in X509Certificates for the first time. So I do that an update ref code using the MSBuild task. That doesn't build because the ref project does not have a reference to the ref project of S.F.Asn1.

Okay, so I go and add the ref project like so:

[code]

New build error:

[code]

So the S.F.Asn1 project is nets

[2021-02-04 21:47] ldub commented on #47143
Hey @janvorli , sorry for the delay here! We are using NixOS on an AWS VM (i'm testing on a t3.xlarge, if it matters). `dotnet new console` works fine:

[code]

[2021-02-04 21:47] DrewScoggins commented on #47869
Given that this is the case can you file an issue in [github.com/dotnet/performance](https://github.com/dotnet/performance) to get these benchmarks fixed?

As for the trim issue, as long as we feel like we have done a first pass over the API for performance I feel OK. If we get slower because we have the correct implementation now than so be it.

[2021-02-04 21:53] ldub commented on #47143
Also, thanks a lot in advance for looking at this issue!

I have also published the output of `strace` with the `-f` option: https://gist.github.com/ldub/05807068a8f0cc9cc3793b511b0c78ba#file-zz-strace-log

And, for context, `/nix` is indeed a readonly filesystem on NixOS, which seems likely to be part of the reason why our issue is happening. I would also be happy to provide you with a temporary

[2021-02-04 21:55] bartonjs commented on #44738
Hm.  We were only accepting the Asn1Tag as an encoding type hint anyways, right? Maybe we want to do

[code]

to avoid exposing System.Formats.Asn1 through the X509Certificates ref.

[2021-02-04 22:05] #46619 closed

[2021-02-04 22:06] bartonjs commented on #44738
When the RDN type has a specific encoding we shouldn't have the extra parameter.  If someone wants to build a bad string they can do AddEncoded.

Well, what's worse is we're prepending.  So I think we're really just keeping a `Stack<(string OidValue, string RdnValue, SomeAsnType Encoding)>` and we get

[code]

[2021-02-04 22:11] vcsjones commented on #44738
@bartonjs Okay. It seems that this still needs a bit of work. If you don't mind, I think this should go back to [api-needs-work] and I will get a proposal diff up as soon as I get a clearer understanding of the different RDN encoding requirements. Apologies for this needing around round of review.

[2021-02-04 22:12] stephentoub commented on #47870
@DrewScoggins, at the same time these were shown to regress slightly, did other Random benchmarks improve? How can I see all of the benchmarks on this benchmark class for the same time period?

[2021-02-04 22:16] bartonjs commented on #44738
Yeah, now that it seems there are complexities with mixing Asn1 into the X509 ref.

[2021-02-04 22:17] pentp commented on #47525
Structs can't have instance property initializers (yet), so `ContinueOnCapturedContext` so should be switched to `NoCapturedContext` (or not use an auto-property) and `Timeout` default has to be solved somehow also (with a backing field + bool field?).

I assume a combination of `Timeout = TimeSpan.FromSeconds(1), SuppressExceptions = true` would result in no exceptions being thrown, right?

[2021-02-04 22:32] DrewScoggins commented on #47870
We did see improvements in the constructor as evidenced by the auto-filed issues below. You can also look at these index pages that have links to every tests full history. I will just use find in the browser to look for the tests that I care about.

[Windows x64](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/master_x64_Windows%2010.0.18362/AllTestindex.html)
[Windows

[2021-02-04 22:36] stephentoub commented on #47870
Hmm.  I assume this is due to my changes in https://github.com/dotnet/runtime/commit/5ee25aa5fee9c08dc34c962023ec75956edd3194, but I saw these as improvements rather than regressions locally, and I would have expected massive improvements in benchmarks on NextBytes() and Next(), so something seems a bit off here.

[2021-02-04 22:58] reflectronic commented on #47826
It seems like `callbackOnCollectedDelegate` specifically was addressed in 2.1: https://github.com/dotnet/coreclr/pull/15809

[2021-02-04 22:59] JeremyKuhne opened #47880 "API Proposal: More performant overloads for Graphics.GetContextInfo"
## Background and Motivation

`Graphics.GetContextInfo` exists to allow WinForms to apply cumulative Graphics transform translation and clipping to the underlying HDC so that rendering via GDI has similar output. This method currently returns an `object` array of `[ Region, Matrix ]`.  (Note that the `Matrix` is the current `Transform` with _only_ the cumulative offset applied.)

This API is calle

[2021-02-04 23:01] Geoff-Holder opened #47881 "System.Text.Json JsonSerializer.Deserialize() fails on lists in v5.0.x"
JsonSerializer.Deserialize<IEnumerable\<someClass\>>(result);
Fails with the error:  **Constructor on type 'System.Text.Json.Serialization.Converters.IEnumerableOfTConverter not found**
in versions 5.0.1, 5.0.0
Rolling back to v4.7.2; works as described!

Example taken form https://platform.uno/docs/articles/howto-consume-webservices.html

[2021-02-04 23:08] AndyAyersMS commented on #47856
@JulieLeeMSFT can we find an owner for this?

[2021-02-04 23:33] tannergooding commented on #47856
@AndyAyersMS, I can get up a fix (it was my PR that surfaced the issue anyways).

The simplest thing looks to be basically:
[code]

It just isn't clear if we could actually remove the cast nodes entirely as an alternative.

[2021-02-04 23:35] carlossanlop commented on #35343
@NewellClark thanks for starting working on this. I'm trying to assign to you but I can't for some reason, but consider it yours.

@Mrnikbobjeff apologies for not assigning this to you when you requested it, but your offer is appreciated. We have many more analyzers marked as up-for-grabs and would love to get your help on those others too.

[2021-02-04 23:39] noahfalk commented on #47617
Are you saying that despite the presence of the NonUserCode attribute in the assembly that VS would not have previously called ICorDebugFunction2::SetJmcStatus to mark it as non-user code? If VS had previously marked it as non-user then the runtime should never generate a USER_FIRST_CHANCE event in that frame.

And thanks for mentioning it again, somehow I missed the multiple USER_FIRST_CHANCE req

[2021-02-04 23:48] carlossanlop commented on #36064
@pakrym need some clarification: Are you asking to add a new analyzer, or are you asking to publish existing analyzers?

A) If you are asking to add a new analyzer, we will need it to go throw the API Proposal process:
- Please explain the purpose of the analyzer
- If you expect it to have a fixer,
- The suggested category
- The suggested severity
- Some examples of "before" vs "after of the code

[2021-02-04 23:53] pakrym commented on #36064
The issue was initially filed to release https://github.com/dotnet/extensions/tree/master/src/Logging/Logging.Analyzers/src these analyzers.

[2021-02-04 23:56] danmosemsft commented on #47866
No smoking gun but this change is perhaps the most likely relevant in the diff?

https://github.com/dotnet/runtime/commit/f6d8e88bb2f41ad203925d67e87e01603810f7c2

@dotnet/jit-contrib  thoughts?

[2021-02-05 00:02] safern commented on #47880
We've previously discussed this offline and makes sense, the current `GetContextInfo` is pretty expensive.

[2021-02-05 00:05] DrewScoggins commented on #47870
Baseline:

|                  Method |         Mean |      Error |     StdDev |       Median |          Min |          Max |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|------------------------ |-------------:|-----------:|-----------:|-------------:|-------------:|-------------:|-------:|------:|------:|----------:|
|             ctor_seeded |    655.18 ns |  20.283 ns |  19.921 ns |    657.28 ns |

[2021-02-05 00:15] AndyAyersMS commented on #47866
Could be. My guess is that that PR altered inlining and from there could be a number of things that impacted perf.

Someone on codegen should follow up.

[2021-02-05 00:18] bartonjs commented on #44738
(One option, of course, is to just remove the encoding parameter... if someone wants a non-standard one they can use AsnWriter themselves and call AddEncoded...)

[2021-02-05 00:21] davidwrighton commented on #32879
There are quite a lot of assumptions in our runtime that reference instantiations are shared. Some years ago we had an ifdef which disabled all sharing, which wouldn't be all that hard to bring back, but wouldn't be that great as we know most instantiations work better when shared. An alternative thought which would likely fit better with our current runtime and direction of investment, would be t

[2021-02-05 00:21] danmosemsft commented on #47866
OK, I've moved it to that area.

[2021-02-05 00:23] carlossanlop commented on #33778
@terrajobst I just noticed this issue is almost identical to https://github.com/dotnet/runtime/issues/33784.

The only difference is that the other issue is specifically targeted to substrings passed as arguments to `Parse` methods of primitive types, while this issue is specifically targeted to substrings passed as arguments to _any_ methods that take a string.

Is there a reason I'm missing for

[2021-02-05 00:34] wzchua commented on #40579
Which severity should this be?

[2021-02-05 00:46] vcsjones commented on #44738
Yeah. That's worth considering. Were you thinking UTF8String for `DirectoryString`-backed ones and whatever is required for others?

But, I think we can do an enum that is a subset of `UniversalTagNumber` that represents `DirectoryString`, minus `UniversalString`.

[2021-02-05 00:51] gregg-miskelly commented on #47617
Correct. VS doesn't attempt to scan through a module during module load and pre-emptively call SetJmcStatus. We do it as we encounter those methods.

[2021-02-05 00:59] danmosemsft commented on #45847
Same configuration, just now: net6.0-windows-Debug-x86-CoreCLR_release-Windows.7.Amd64.Open
[code]

[2021-02-05 01:09] danmosemsft commented on #45847
It's always Windows 7
https://engsrvprod.kusto.windows.net/engineeringdata?query=H4sIAAAAAAAEAG2QT0vDQBDF74V%2bhyGXVlhjq%2bBBiFCrhYoVrYUeRGS7OybbP7NhZ6Mt%2bOHdTVqp4CnJy2%2fmvTczZD9Frtaeod36hqU1BCtDOjNE6GBu3WrsccNg6fdjrP9l7%2b2ixsJzrCPwVaBDGBkyXKCG6wzIfnVPLy57%2bqTdkqRhtisRsgySlx2HxemtkTlZ9kZxOgvROL37RPIPNp8gs8yRazVpt87O4vwEfWF1vWEoaYpSD0jPnfF44JPGqOkYwc5ImnWnUffQcYKh3ZSWgufEalync0MX53dbhaU3odoVDJQ

[2021-02-05 01:16] tannergooding commented on #32879
One of the reasons I asked was it came up in API review where we had discussed not wanting to expose additional overloads for things like say `LINQ` but at the same time, we know there is a cost to all of the various `if(source is ICollection<TSource>)` checks and friends.

For value types we don't really have this concern, since it is all specialized (just different concerns, like crossgen bloat)

[2021-02-05 01:17] tannergooding commented on #47880
Is returning via `out` preferred to returning a `value tuple` here?

[2021-02-05 01:30] danmosemsft commented on #47870
For the avoidance of doubt, "_unseeded" and "ctor" are the ones using the new algorithm. Below I've rearranged @DrewScoggins numbers into two tables, the seeded ones in first table (same algorithm) unseeded in second table (new algorithm) each in pairs of rows, old first then new.

The seeded ones vary, but there's a possible regression in some, perhaps due to the new indirection.

|

[2021-02-05 01:31] GrabYourPitchforks commented on #40579
Probably suggestion / informational / etc.? We tend to keep perf-focused analyzers low severity unless the caller is doing something egregiously wrong.

[2021-02-05 01:32] davidwrighton commented on #32879
This is really another ask for efficient typeswitch, for which we already have a basic design, we just haven't implemented it. I hasn't met the bar for implementation for either 3.0, 5.0, or 6.0, but if there is interest for this outside of the language team it would be good to know.

[2021-02-05 01:33] danmosemsft commented on #47870
Note we have no perf test for `Next()`

[2021-02-05 01:33] danmosemsft commented on #47870
What did it look like on 32 bit, Drew? That implementation is different.

[2021-02-05 01:38] stephentoub commented on #47870
Ohhh!  That makes much more sense then.

I'm fine accepting the small regressions in the seeded ones; we knew about those, and I don't think they matter.  It's good to have the tests to catch major unexpected regressions, but if someone is using the seeded ctor they're either a) just trying to provide better randomness via their own seed and should stop doing so, or b) trying to get reproducibilit

[2021-02-05 01:53] #47839 closed

[2021-02-05 01:53] danmosemsft commented on #47870
OK fine.

[2021-02-05 01:53] #47870 closed

[2021-02-05 01:54] danmosemsft commented on #45847
This particular line turns out to be missing the usual retry...

[2021-02-05 01:56] jeffhandley commented on #35343
@NewellClark We figured out why we cannot assign this to you.  You must comment on the issue before you show up in the assignees list.

[2021-02-05 02:07] NewellClark commented on #35343
@jeffhandley Gotcha.

[2021-02-05 02:23] mikhail-khalizev commented on #4544
Workaround (for windows):
[code]

[2021-02-05 02:25] VincentBu opened #47886 "Test failure : System.ServiceModel.Syndication.Tests.Atom10ItemFormatterTests.WriteTo_EmptyItem_SerializesExpected"
Run: [runtime 20210204.78](https://dev.azure.com/dnceng/public/_build/results?buildId=979753&view=ms.vss-test-web.build-test-results-tab&runId=30733998&resultId=126173&paneView=debug)

Failed test: `System.ServiceModel.Syndication.Tests.Atom10ItemFormatterTests.WriteTo_EmptyItem_SerializesExpected`

net6.0-Browser-Release-wasm-Mono_Release-normal-Ubuntu.1804.Amd64.Open

**Error message:**
[code]

[2021-02-05 02:26] jeromelaban opened #47887 "[Wasm][AOT] Interlocked.CompareExchange: not enough values (0 < 1) on stack at 0000"
### Description

Failure running the console sample app.

### Repro
- `~/runtime/src/mono/wasm$ make provision-wasm; make build-all`
- edit `src/mono/netcore/sample/wasm/console/Makefile` to add `override MSBUILD_ARGS+=/p:RunAOTCompilation=true /p:AOTProfilePath=$(PROFILE_PATH) /bl`
- copy `profile.aot` to the console folder (https://github.com/jeromelaban/Wasm.Samples/blob/abde54c5b70aa44a68208ae

[2021-02-05 02:32] VincentBu commented on #47096
Failed again in [runtime-coreclr outerloop 20210204.1](https://dev.azure.com/dnceng/public/_build/results?buildId=978862&view=ms.vss-test-web.build-test-results-tab&runId=30714354&resultId=109183&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-05 02:36] VincentBu commented on #44352
Failed again in [runtime-libraries-coreclr outerloop 20210204.1](https://dev.azure.com/dnceng/public/_build/results?buildId=978844&view=ms.vss-test-web.build-test-results-tab&runId=30710940&resultId=103386&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-02-05 02:50] lewing commented on #47336
node-wasm, wasi is very different.  What are we using untriaged to mean here?

[2021-02-05 03:02] danmosemsft commented on #47336
@lewing this story needs an epic parent.

[2021-02-05 03:10] wfurt commented on #47824
note that if you use IP address in URI, you should set `Host` header in the request @maxima120.

[2021-02-05 03:17] safern commented on #47880
You mean an `out value tuple`? We wouldn't be able to add a parameter-less overload that returns a `value tuple` as that conflicts with the existing override.

[2021-02-05 03:53] iSazonov commented on #43748
Yes, really it is to return only current directory items.

---
The proposal was updated based on the review.

[2021-02-05 03:55] wfurt commented on #47680
`StoreLocation.CurrentUser' should work equally without admin privilege. I would skip the search logic. If the given cert is already in the store adding it again will be no-op. (e.g. there will not be increasing duplicate entries)

As far as the verification, you can always use Wireshark and check what comes on the wire. What you should see is certificate chain without root CA. For PKI to work pro

[2021-02-05 04:02] iSazonov commented on #43748
@terrajobst This is a contradiction. Default is no recursion which is 0. Yes?

[2021-02-05 04:02] akhilesh84 commented on #47793
Thanks. For the time being, we managed by adding an extension method on Claim which essentially includes the small fix that was made in netcore side. I'll close this one.

[2021-02-05 04:02] #47793 closed

[2021-02-05 04:03] #47378 closed

[2021-02-05 04:12] xuzhg opened #47892 "JsonConverterAttribute on base type can't apply to derived type"
I have the following model:
[code]

Where, `MyDataConverter` is
[code]

I have the following test:

[code]

The output is:
![image](https://user-images.githubusercontent.com/9426627/106988345-6f605580-6724-11eb-9014-b078e53d0652.png)

## My question is: Why does the `MyDataConverter` on the `Base` type not apply to the `Sub`?

I have to add the similar attribute to `Sub` class:
[code]
Then, i can

[2021-02-05 05:00] huoyaoyuan commented on #47892
Json converter applies to per concrete type. Applying to multiple types requires converter factory.

[2021-02-05 05:43] xuzhg commented on #47892
@huoyaoyuan Thanks.

I don't want to use the "converter" factory. Then, I have to add the "JsonConverterAttribute" for all types:

[code]

The "JsonConverterAttribute" is not inheritance?

[2021-02-05 05:50] huoyaoyuan commented on #47892
Not inherited.

The converter selection is based on declared variable type, not actual object type. You can use `Serialize<Base>(new Sub());`

[2021-02-05 06:11] ryzngard commented on #33807
I'll take this and #33806

[2021-02-05 06:33] rolfbjarne commented on #47768
No, it doesn't change the public API in any way, it's an implementation detail. Should I open a new issue about it?

[2021-02-05 06:43] r-ramesh opened #47895 "[Debugger] Thread::SetProfilerFilterContext should create a copy of the passed in context."
### Description

Check usage of Thread::SetProfilerFilterContext. The currently implementation just copies the passed in pointer, rather than the contents.
Look at WalkStack (used while enumerating GC roots): https://github.com/dotnet/runtime/blob/9f8aab73d93156933ae65a476204bf62c02f6537/src/coreclr/debug/daccess/dacimpl.h#L2009 - the call here passes in a pointer to a local (that's just going to

[2021-02-05 06:43] clamp03 commented on #45066
Quick startup is also critical on our Tizen products like wearable, TV, and so on.
I really look forward to this feature because R2R cannot meet our launching time comparing to FNV currently.
Thanks for your hard work. 👍

[2021-02-05 06:47] r-ramesh commented on #47895
@noahfalk @caslan @gregg-miskelly

[2021-02-05 06:54] r-ramesh opened #47896 "[Debugger] ICorDebugGCReferenceEnum is inconsistent"
### Description

Repro:
For a dump file (`\\vsdbgqa\dumps\gaurav\good\Lock contention pattern.dmp`), enumerate GC roots through ICorDebugGCReferenceEnum, twice (after the first completes, create another ICorDebugGCReferenceEnum and repeat the process).

### Expected:
Successive runs of the same API on a dump should return same results.

### Observed:
The number of roots returned the first time doe

[2021-02-05 06:57] noahfalk commented on #47895
@mikem8361

[2021-02-05 07:40] mfkl commented on #47563
I agree. The test is only failing because I throw on every buf error, which is likely wrong.

But my point is that if you check for the buf error result with no other code change (like this https://github.com/mfkl/runtime/commit/b2e4595eaf8453c2652868a72a6b319ebd678901), it seems that it is returned in half of the current tests (even if decompression is done correctly).

[2021-02-05 07:46] hoyosjs commented on #47848
The Toradex T30 is a 1gb memory, right? If so, this is a new issue.

However, I've been trying to repro for a good time with VS and VS Code, and 3.1 and 5.0 on a couple of raspberry pi, which is all I have to test linux-arm. However, all works as intended and I can attach. They also have 1 GB of ram, but they are debian based (10). It's hard for me to say what's going on, it might just be somethin

[2021-02-05 08:24] wzchua commented on #40579
I see.
I would like to be assigned this issue.

[2021-02-05 09:00] XXXBold commented on #47848
That's correct, yes.

I understand that you cannot officially support any distro out there. However, if I can assist you with more information / logging, let me know what you need, I'm glad to help if possible.

[2021-02-05 09:11] riverar commented on #35695
@Mrnikbobjeff Are you using https://github.com/microsoft/win32metadata as opposed to manually scanning PE files?

[2021-02-05 09:27] hoyosjs commented on #47848
Do you have any native debuggers available on the machine?

[2021-02-05 09:34] #45053 closed

[2021-02-05 09:37] freddyrios commented on #33297
@36PopTarts did you find any work arounds for this?

I faced similar running unrelated simple commands from different threads on a pi. I will likely do a single child process at a time and move on, but it would be great not to have such limitations.

I also think this looks like a bug in how processes are handled, but one that might be caused by limitations down the stack. Here is a python bug whe

[2021-02-05 09:48] XXXBold commented on #47848
There was no debugger installed on the image by default, but I just installed gdb (8.0.0) using the integrated opkg. Is this sufficent to proceed?

[2021-02-05 10:53] psxvoid commented on #33796
Hi,

May I "book" this issue as "up-for-grabs"?

[2021-02-05 10:55] hoyosjs commented on #47848
Sure. Use you little infinite loop program. It probably will be easier in 3.1 as the logic was a lot easier. You'll need to modify the launch file a little to look like this, just replace paths, the IP/user + the key file, I think you use PLINK so that too, and also the path to vsdbg:

[code]

1. download symbols for the runtime. Given that the arm device is problematic, a possibly easy thing to d

[2021-02-05 11:16] RalfMengwasser-ITEM opened #47902 "Very slow startup of dotnet app in linux container (> 3 seconds)"
I have a simple .NET5 app that I have compiled into a docker container.

The app is published as linux-x64, Release, net5.0.

Then put into this container:

FROM mcr.microsoft.com/dotnet/runtime:5.0

(I also tried the SDK container, but it doesnt improve the performance.)

The container is running under Kubernetes in Azure (but I also have the same problem running in local linux docker).

The pod

[2021-02-05 11:45] CarnaViire commented on #31088
@zlatanov yes, it would be great if you could create a draft PR with your changes at that moment. You may additionally mark it as WIP if you wish.
It may take me some time to get through your changes (just setting expectations)

[2021-02-05 12:06] SukharevAndrey commented on #47580
@wfurt I have also reproduced the bug on Mac OS 11.2. All 5 requests are failing with exception:
[code]

[2021-02-05 12:12] dktue commented on #1872
We're having the same issue: It shows exactly like you told, @stephentoub .

[2021-02-05 12:41] SingleAccretion commented on #47866
I will take a look. There were some positive diffs for `ReadOnlySequence`...

[2021-02-05 13:02] directhex commented on #47768
Maybe just move the discussion to the PR for now? Unless it gets merged with "wrong" version detection, then a new issue is absolutely correct

[2021-02-05 13:05] XXXBold commented on #47848
Thanks for your quick answer and the instructions!

#### Some questions:
- Why should I clone coreclr from github? I've downloaded v3.1.11 from here: https://dotnet.microsoft.com/download/dotnet-core/3.1 and installed it on the device. Is that just needed to look at the source code or do I miss something?
- I'm not using public key auth on ssh, just entering the username (root) is enough to login

[2021-02-05 13:05] antonfirsov opened #47905 "Socket.Begin*** methods wrapping Task variants do not throw SocketExceptions synchronously"
The patterns we started to use while implementing #43845 are silently introducing a breaking change.

Previously, when a native socket method (eg. `WSASend`) returned an error within a `Begin***` call, we were throwing `SocketException` synchronously:

https://github.com/dotnet/runtime/blob/f0c95523d7f3d5006a8a87ff48870983e9007669/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L

[2021-02-05 13:42] jaymin93 commented on #47287
Just to understand it better this bug fix would be checking for blocking =false in every synchronous method and throw in case of it is false , is my understanding towards this bug is correct?

[2021-02-05 14:07] WizardBrony opened #47907 "Question about using StructLayoutAttribute.Pack on reference types"
Does `StructLayoutAttribute.Pack` have any effect on the alignment of the fields of a `class` in managed memory? I haven't been able to come up with an example where I can actually observe a difference between setting and not setting `Pack`. If there actually is a difference, I would appreciate advice on how to see it in managed memory.

[2021-02-05 14:13] tmds commented on #47287
On Linux this should work.

`sendfile` works the same as `sendmsg`: you need to call it again until everything was sent, and in case of `EAGAIN/EWOULDBLOCK` wait for `poll`.

`TryCompleteSendFile` is missing some logic that calls it again on partial sends, like what we have in `TryCompleteSendTo`.

[2021-02-05 14:18] tmds commented on #47024
Thanks @ericstj for the analysis.

I moved the binaries of my machine via ssh straight to the apache webserver. I don't think anything down that path could have stripped the compression.

Unfortunately, I can no longer reproduce the issue at this point. It may have to do with the global sdk on my system now being 5.0.102 and no longer being used by a dotnet/runtime build.

I won't go back to an ol

[2021-02-05 14:23] tmds commented on #45755
My system sdk is now 5.0.102 and no longer the same version as required by dotnet/runtime.
As expected, this builds fine.

When I change:

[code]
the build also works.

I won't try to reproduce and investigate further.

[2021-02-05 14:23] #45755 closed

[2021-02-05 14:26] tmds commented on #30782
@karelz can you close this? This PR should fix the issue: https://github.com/dotnet/runtime/pull/38534, but we are unable to reproduce the issue (https://github.com/dotnet/runtime/pull/38534#issuecomment-732219316).

[2021-02-05 14:28] antonfirsov commented on #43845
@geoffkizer I'm not sure what do you mean by those work items. `UdpClient`'s `[Begin/End][Receive/Send]` methods are thin wrappers over the `Socket` counterparts. Is there any specific work we need to take care of I'm missing?

[2021-02-05 14:32] AArnott commented on #47776
Detecting when JTF applies generally enough to be reliable would be impossible. Further, there are projects that may have a mix of this requirement.
For better predictability, I would suggest we *not* deliver this feature, and instead recommend users configure the severity of this rule to off when in a project where this check is not desirable.

[2021-02-05 14:34] tmds commented on #46832
Because it isn't causing issues for anyone, I think we we don't need to go out of our way to behave the same as `sd_listen_fds`.

[2021-02-05 14:35] stephentoub commented on #47776
I consider @AArnott the authority here when it comes to JTF, so I'm going to close this.  Thanks, though!

[2021-02-05 14:35] #47776 closed

[2021-02-05 14:41] ericstj commented on #47024
That’s exactly the thing I was imagining.  Perhaps something in HTTP pipeline was doing this?  Could even be in whatever tool/browser @KirillOsenkov used to download.

If you still have the files on your web server can you check the first two bytes?

[2021-02-05 14:44] thomas-lm commented on #728
Another use case :
I try to render Object respecting OData V4 Standard. The official documentation ([see here](http://docs.oasis-open.org/odata/odata-json-format/v4.0/os/odata-json-format-v4.0-os.html#_Toc372793051)) say that @odata.context **"MUST be the first property of any JSON response"**
There is no possibility to get it in first position when use with Inheritance.

[2021-02-05 14:53] Barshan-Mandal opened #47908 "Auto click event in specific coordinate"
How to create an cross platform auto click event at specific coordinate like Mouse/Touch.Click(float x,float y,clicktype ggg)??????
Please implement the function in .net 5

[2021-02-05 14:58] SingleAccretion commented on #47866
I studied this method, taken verbatim (except for the type parameter) from the benchmark, with the `unix_x64_x64` AltJit:
[code]
The folding for it kicks in 12 times during the compilation, but does not affect the inlining, and the final assembly diff, while present, is decidedly non-informative for why the regression is there: https://www.diffchecker.com/aAIwTy3K.

Unfortunately, I do not have a

[2021-02-05 15:17] stephentoub commented on #44534
The vast majority of that code is around header validation, e.g. when you set HttpRequestHeaders.From on a message, it validating that it's a well-formed email address.  I think the flag here will basically need to be "I don't care about header validation at the HttpClient layer", at which point I'd expect a significant portion of the header logic could be trimmable away.

Alternatively, we could

[2021-02-05 15:20] marek-safar opened #47909 "Remove DynamicDependency from ValueType in browser builds"

[2021-02-05 15:27] webczat commented on #46832
Seems to be a time bomb. I believe there were bugs related to close on exec not set on some systems causing socket leaks in case where aspnetcore app runs a new process and then exits, for example. Here we have a possible socket leak related to listening sockets when they are handed over from systemd for exactly same reason.

[2021-02-05 15:28] marek-safar commented on #47336
@danmosemsft it has Future milestone

[2021-02-05 15:32] eiriktsarpalis commented on #47525
Right, this is just pseudocode to highlight the default settings, but you can design your struct so that these particular defaults are respected. The actual implementation can be seen in the [prototype commit](https://github.com/eiriktsarpalis/runtime/commit/e980d98e27b4da212287fa4759778e9dd7245a22#diff-c6673cb39b49e84d51d68f22e0f00f4b1ba2ee2a60d40c7b6212163a4803bb9aR69).

[2021-02-05 15:36] amsoedal commented on #33297
Running into this issue as well. Would be interested in a fix and/or workaround

[2021-02-05 15:36] eiriktsarpalis commented on #47525
We can, I think the following two overloads would be useful:
[code]
I find other combinations to be too niche to warrant a separate overload.

Do note however that if we include that `CancellationToken` overload we would need to fix the `CA2016` analyzer before implementing this feature.

[2021-02-05 15:41] bencz commented on #26634
@neman Look this: https://github.com/dotnet/runtimelab/tree/feature/s390x

[2021-02-05 15:41] marek-safar opened #47910 "Annotate APIs throwing PNSE on iOS/tvOS/MacCatalyst"
Following assemblies/types/methods need to be changed to throw PNSE and annotated with `System.Runtime.Versioning.UnsupportedOSPlatformAttribute` because they are not supported on iOS/tvOS/MacCatalyst

- System.Diagnostics.Process
	- [x] Process.Start + friends (still supported on macCatalyst)
- System.Security.Cryptography.Algorithms (re-implemented in #51620 and #52978)
	- [ ] ~All methods refer

[2021-02-05 15:42] tannergooding commented on #4544
Just to clarify, the JIT does not support changing the rounding mode and performs optimizations assuming the rounding mode is `FE_TO_NEAREST` (ties to even).

Changing the rounding mode via something like P/Invoke can lead to undefined behavior such as corruption or a mismatch between the computed optimizations and the resulting generated code.

[2021-02-05 15:43] marek-safar opened #47911 "Annotate APIs throwing PNSE on Android"
All public APIs that throw PNSE needs to be annotated with System.Runtime.Versioning.UnsupportedOSPlatformAttribute.

[2021-02-05 15:49] tmds commented on #46832
Yes, without close on exec there can be child processes keeping handles alive.
In this case, we can count on systemd to kill all child processes.

[2021-02-05 16:00] spaceman502 opened #47912 "Exception 0xe06d7363 on managed C++ assembly load"
I encountered a strange issue recently. I have a CLR assembly compiled with /clr:netcore that is loaded into a C# executable. Everything is 32 bit. When an enum class is defined in the C++ assembly, the C# stops with "exited with code -529697949 (0xe06d7363) 'Microsoft C++ Exception'"
After a while, I could work around by creating ref classes with literals.

From:
public enum class day {sun, mon }

[2021-02-05 16:06] tannergooding commented on #47860
I logged https://github.com/mono/linker/issues/1805 suggesting that the linker also handle this scenario.

[2021-02-05 16:16] webczat commented on #46832
first, isn't it a security issue that child processes can tinker with our listening socket? what can they actually do with it? I am really not sure about the answer, and it is definitely unexpected behavior from child process point of view.
Usually wouldn't break them, except it's another fd counting towards max fd limit, not like one listening socket is much, so that's another side of it.
Second,

[2021-02-05 16:22] huoyaoyuan commented on #47908
.NET BCL doesn't have any logic/concept of mouse.
This is considerably easy to implement anywhere, but there's no suitable location in first party code for it.

[2021-02-05 16:24] Barshan-Mandal commented on #47908
But please add this api  in .net bcl

[2021-02-05 16:33] huoyaoyuan commented on #47908
No way. Although it is called "easy", it's involving much more things than you may think.
For example, on Windows, you must specify a receiver window when sending mouse events to other program. This will require knowledge of "window" first.

BCL isn't **for this**. It's "cross-platform", but it's not for any thing that has definition on more than one platform. "Mouse click" is a very high-level co

[2021-02-05 16:36] aik-jahoda commented on #45785
The pre-authentication in sockets handler is supported only form 'BASIC' auth. This is why you see difference in headers in curl and SocketsHttpHandler. However the 401 response should be processed with new request with `Negotiate` `WWW-Authenticate` header.

Is the issue reproducible on different mac machine?

I can't reproduce it locally, it would be helpful if you can collect more logs as in th

[2021-02-05 16:40] eiriktsarpalis commented on #47812
Honestly these numbers don't seem particularly surprising to me. There have been proposals like the one in #14477 for replacing the AVL tree implementation with something faster.

[2021-02-05 16:54] danmosemsft commented on #47866
Thank you @SingleAccretion .

I have gotten useful results doing perf measurements on WSL2, if you are interested in that option.

[2021-02-05 16:55] vcsjones commented on #44738
@bartonjs Okay, here's my latest suggestion, point 3 could use some input.

1. Add `EncodingType` with sensible string types. Their numeric values map to `UniversalTagNumber` to make it simple to convert from one to another.
2. The helper accelerators like `AddCountryOrRegion` drop accepting a string encoding type. They will use the Right Thing. Most of these are a `{Unbounded}DirectoryString`, so

[2021-02-05 16:56] msallin commented on #41586
Looks like the CPU time is being throttled by K8s, even we don't use the max according to the limit.

[2021-02-05 16:56] #41586 closed

[2021-02-05 17:08] SingleAccretion commented on #47866
I will try that option and see how far do I get. It may take a considerable amount of time :smile:.

[2021-02-05 17:18] matthewbauer commented on #47143
So the 0x80004005 error can happen for a lot of reasons, but in this case it looks like `strip -S` from Nixpkgs is being running on the dotnet binaries and messing them up. In Nixpkgs, everythnig in $out/bin/* is stripped automatically. Adding `dontStrip = true` to stdenv.mkDerivation avoids doing this.

This appears to be a regression in `strip -S`, because strip from GNU binutils 2.31.1 doesn't

[2021-02-05 17:26] janvorli commented on #47143
@matthewbauer do I understand it properly that if you don't do the stripping using the new version of strip, then the issue reported here doesn't occur?

[2021-02-05 17:35] JulieLeeMSFT commented on #47708
CC @BruceForstall if he can answer this.

[2021-02-05 17:39] #34950 closed

[2021-02-05 17:41] ericstj commented on #3832
Folks are still reporting this.  We shouldn't be relying on retry as a solution here.  There is a correct way for build tools to make file changes: only ever write using the very first created handle.  Once a file is closed, only ever open for read.  If you need to write again, make a copy maintaining the open handle and write to that handle.  In this way you can never be broken by AV-interference

[2021-02-05 17:50] JulieLeeMSFT commented on #47867
CC @dotnet/jit-contrib

[2021-02-05 17:51] wfurt commented on #45785
Perhaps also try to reproduce it with Ticket View @laceous as that is standard part of OS so it would be easier to investigate and compare notes,

[2021-02-05 17:59] carlossanlop commented on #33807
It's yours, @ryzngard. Thanks for your help! Let us know if you have any questions.

[2021-02-05 18:00] huoyaoyuan opened #47920 "Ineffective codegen for or pattern type checking"
### Description

Examine this code:

[code]

IL Compiled:
[code]

codegen:
[code]

[sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYRoG8aHunHgIIAGwYBZAAwAKCMABWMMBgYQAlFx6dqPLUwDsShgEtchgHaLoDAK4GzSqA0EQTAcwDca7gF8PvBvyGi5FKy8uaqmuo+WsR6EAwAhAC8DCaWgsIAZBkMUobGNub21rYWji7K7hFePvR+AsIipMFyCkrhWhraPDH6SSlpmdlSAHQA4jAYACoAngAOMBLKDInJGHMwEABmEgVLhIRKYxMz84vLq+

[2021-02-05 18:00] carlossanlop commented on #33806
This is also yours, @ryzngard, per your request in https://github.com/dotnet/runtime/issues/33807. Thanks for your help! Let us know if you have any questions.

[2021-02-05 18:03] kunalspathak commented on #47867
Looking at the diff, it seems https://github.com/dotnet/runtime/pull/47310 could be the related PR that changed DI. Assigning to @maryamariyan.

[2021-02-05 18:05] danmosemsft commented on #33796
@psxvoid you are welcome, I assigned it to you. (@buyaa-n I am assuming we are not working on this since it's not assigned)

[2021-02-05 18:05] eiriktsarpalis commented on #47892
This is by design, any subclasses would need to carry the attribute. You should use a [JsonConverterFactory](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-5-0#sample-factory-pattern-converter) if you really need to avoid attributes.

That being said, you could get your example to work with minimal modifications:
[code]
then register

[2021-02-05 18:06] kunalspathak commented on #47856
I will try to incorporate @tannergooding 's suggestion (unless he is already working on it).

[2021-02-05 18:10] kunalspathak commented on #47856
Looks like Tanner is already working on it. Reassigning them.

[2021-02-05 18:10] tannergooding commented on #47856
I'm just finishing testing locally, I should have a PR up in a few minutes.

[2021-02-05 18:11] xuzhg commented on #47892
@eiriktsarpalis @huoyaoyuan Thanks. That make sense.

Actually, I used the `JsonConverterFactory` in our project. For other person's information, I copy/paste the implementation below:

https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/ODataServiceCollectionExtensions.cs#L139-L140

and here:
https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNet

[2021-02-05 18:12] buyaa-n commented on #33796
That is right

[2021-02-05 18:14] Sergio0694 opened #47922 "Proposal: AppContext.SetData"
## Background and Motivation

Right now `AppContext` only exposes the following APIs:

- GetData
- SetSwitch
- TryGetSwitch

And the fact that a corresponding `SetData` method is missing is a bit confusing. You currently need to set data through `AppDomain.SetData`, even though you can then retrieve it through `AppContext`, as that data flows to `AppContext` anyway.

This proposal is to add the "m

[2021-02-05 18:16] eiriktsarpalis commented on #47892
FWIW here's how one could rewrite your example from above:
[code]
Then register the converter with your serializer
[code]

[2021-02-05 18:16] carlossanlop commented on #33778
Talked to @terrajobst about this. This is a duplicate approval of https://github.com/dotnet/runtime/issues/33784. Since the other one was approved first, I'll keep that one open.

[2021-02-05 18:16] #33778 closed

[2021-02-05 18:16] #47892 closed

[2021-02-05 18:19] carlossanlop commented on #33784
I closed https://github.com/dotnet/runtime/issues/33778 in favor of this one (it was an identical approved proposal).

Note to whoever decides to work on this: Please take a look at [this comment in the dup issue](https://github.com/dotnet/runtime/issues/33778#issuecomment-761167449), since it contains a list of cases this analyzer should be able to address.

[2021-02-05 18:19] huangchinlin opened #48029 "The required library libhostfxr.so could not be found."
I've created a worker(cli: dotnet new worker) project in ubuntu 20.04 which run on a raspberry pi, but get error when start the service via systemd.

the error message is:  A fatal error occurred. The required library libhostfxr.so could not be found.

I have installed the dotnet sdk and runtime, but the situation is the same.

---------------
dotnet --info
---------------
[code]

------
ENV:
----

[2021-02-05 18:24] vcsjones commented on #41021
Hm, .NET does not use `PKCS12_parse` anymore for decoding PKCS12 files, it's all done with `Pkcs12Info` and friends. The only place it is used is in the OpenSSL certificate "store" which does not get impacted by this. I don't believe there is anything actionable here, unless I am misunderstanding?

[2021-02-05 18:31] tannergooding commented on #47856
Fix is up: https://github.com/dotnet/runtime/pull/47923

[2021-02-05 18:41] tannergooding commented on #47880
Right, although I imagine we could also something like:
* have a different overload
* have something like `T GetContextInfo<T>() where T : struct` and then specialize based on what info we need
* have explicit `Point GetContextOffset` and `Region GetContextClip`

I think the most interesting thing here is that `GetContextInfo` returned `object` so that we could have public surface area while also

[2021-02-05 18:55] spaceman502 commented on #47912
After a couple of hours of fiddling with it, it was pointed out to me by a coworker that I left the generated DllMain in place after switching to CLR compilation. After removing it, the crash disappeared.

[2021-02-05 18:55] #47912 closed

[2021-02-05 18:56] safern commented on #47880
I think I like that idea better and might be more extensible.

@JeremyKuhne thoughts?

[2021-02-05 18:57] AndyAyersMS commented on #47920
Did you have a chance to look at 6.0 codegen? It may be better.

If not, I'll take a look when I get a chance.

[2021-02-05 19:06] huoyaoyuan commented on #47920
I changed to `master` branch in sharplab, and the codegen was identical.
Editing the code may crash sharplab.

[2021-02-05 19:07] jeffhandley commented on #33806
@ryzngard Here's a [getting started guide](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/NetCore_GettingStarted.md) as well.  Included in there is our typical "Definition of Done" for creating .NET Libraries analyzers.

[2021-02-05 19:08] BruceForstall commented on #47708
It's almost certain that this support has bit-rotted, and we should just remove the ifdefs. cc @briansull

[2021-02-05 19:09] tmds commented on #46832
I don't mind if you (or someone else) wants to set the close-on-exec flag in kestrel to mimic `sd_listen_fds` behavior.

[2021-02-05 19:09] bartonjs commented on #41021
It's still used for 2.1 (EoL in August) and 3.1 (Dec 2022), so if the change does get serviced into OpenSSL we may have to service .NET.

That said, I agree that right now the issue isn't very actionable.

[2021-02-05 19:14] filipnavara commented on #41021
I agree there's not anything actionable at the moment. At the time I opened the issue it looked like it may become an issue.

[2021-02-05 19:14] pgovind commented on #39293
I looked at the `BinaryFormatter` usage in this class and think this should be easily convertable to S.T.Json. Here's what I have working locally:

[code]

The only wrinkle I can think of here is if the output `Stream` from a `Serialize` call (that uses binary formatter) is stored on disk and later another exe tries to `Deserialize` that stream without the `EnableUnsafeBinaryFormatterSerialization

[2021-02-05 19:15] Mrxx99 opened #47927 "Add analyzer: Prevent wrong usage of string Split"
### Describe the problem you are trying to solve

Consider the following usage of Split on a string where you want to split on space and tab:
`var split = s.Split(' ', '\t');` (which works fine)
If you now get to the conclusion to remove empty entries, it is tempting to do this:
`var split = s.Split(' ', '\t', StringSplitOptions.RemoveEmptyEntries);`
But this won't give the expected result and wil

[2021-02-05 19:16] bartonjs commented on #44738
I think I like the proposal as written, meaning don't drop AddEmailAddress (just send it through IA5 and fail if it has non-ASCII data).  AddDomainComponent would be useful for someone doing LDAP things, so may as well leave it in.  Using IdnMapping isn't that bad.

If API re-review doesn't like the EncodingType enum then we can just drop the enum and the two members that use it.

[2021-02-05 19:20] safern commented on #39293
@ericstj what are the guidelines for `InternalsVisibleTo`. I've seen we use them for extensions tests for example, but I don't know if Reflection is preferred?

[2021-02-05 19:25] AndyAyersMS commented on #47663
Best guess at present is that on 3.1 this test case is close to overflowing. Am planning on binary searching via editbin to find the maximal sized stack trace for 3.1, then compare that to 5.0 to confirm.

If we do confirm the above, then there's no easy fix we can offer. You would need to modify your code to use less stack.

[2021-02-05 19:26] AndyAyersMS commented on #47920
I don't think sharplab's `master` tests 6.0 codegen -- suspect it refers to the roslyn branch, not the runtime branch.

[2021-02-05 19:27] webczat commented on #46832
and indeed, it would make sense I believe. the thing is, someone decided to move it here :) my first idea was this could be done by kestrel, especially that this is something needed for linux and linux only, only for systemd, and the needed constants are generic (as in not arch specific) so it can be safely dllimported. The other idea here was to have an api that allows enabling/disabling handle i

[2021-02-05 19:54] jkoritzinsky commented on #47243
You can use the `MarshalType` field on the `MarshalAs` class to specify the full type name as a string instead of using `typeof()`. This is what tools like TlbImp use to reference this marshaller in particular.

[2021-02-05 19:54] vcsjones commented on #44738
@bartonjs okay, I think the above is good for another try, then.

[2021-02-05 19:56] huoyaoyuan commented on #47920
Historically, sharplab uses `master` for both roslyn and runtime master.

I've built latest master and viewed with disasmo. The problem still exists.

By the way, `o is int || o is uint || o is long` generates identical IL with the worst scenario. Roslyn doesn't introduce a new IL pattern for new language feature here.

[2021-02-05 19:57] JeremyKuhne commented on #47880
I updated the proposal from `Point` to `PointF` as that is what is currently returned (whoops).

The `Region` depends on calculating the offset so having separate methods would defeat the performance need here when we need both (which is often).

I'm unclear about the value of being open-ended as `GraphicsContext` only has these two properties (PointF and Region). I suspect the likelihood of ever

[2021-02-05 19:58] AaronRobinsonMSFT commented on #47243
@maddinthegreat I think @jkoritzinsky's suggestion is actually what I would recommend as well. I appreciate this is a breaking change and we can revisit this is we hear more from the community but for right now that is how I would resolve the issue. Please let us know if you have any concerns here.

[2021-02-05 19:58] #47243 closed

[2021-02-05 20:18] jfd16 opened #47929 "BigInteger tests fail under certain culture settings on Windows"
### Description
Steps to reproduce:
1. Set the current culture digit grouping to `123,456,789` using the Region settings in Windows Control Panel.
2. Run the tests in `System.Runtime.Numerics` with `/p:Outerloop=true` and verify that the tests pass.
3. Change the digit grouping to `123456789`.
4. Run the tests again. This time the tests should fail (with an unexpected `FormatException`).

This hap

[2021-02-05 20:19] tannergooding commented on #47929
CC. @tarekgh, @GrabYourPitchforks; is this possibly ICU related?

[2021-02-05 20:40] buyaa-n commented on #33764
1. Track `DateTime` instances created using `DateTime.Now` or `DataTime dt = DateTime.SpecifyKind(datetime, DateTimeKind.Local);`.
    - Probably might want to add instances initiated with `DateTime.Today` because it also created with `DateTimeKind .Local`
2. Flag usages in Math or comparison operation (for all operators except addition `-, ==, !=, <, <=, >, >=`) and methods that do not consider t

[2021-02-05 20:50] AndyAyersMS opened #47930 "PGO: seeing nonsensical counts and corrupted type handles"
See notes: https://github.com/dotnet/runtime/pull/47790#issuecomment-773515226

Suspect the copying done by `getPgoInstrumentationResultsInstance` is still off.

cc @davidwrighton

[2021-02-05 21:07] VSadov commented on #47859
I can reproduce this. Yes `LoadFromStream` leaks `dev\zero` handles.
Mismatch in the qcall return type is the likely reason.

[2021-02-05 21:13] AndyAyersMS commented on #46882
Reconstruction finally showing signs of life.
[code]

[2021-02-05 21:24] AndyAyersMS commented on #47930
This fixes things for me (at least counts look good) ... not sure if it's the right fix overall:
[code]

[2021-02-05 21:32] GrabYourPitchforks commented on #47929
I don't think it's a globalization or ICU thing. In OP's case, they have a culture where `NumberGroupSizes` is the array `new int[] { 0 }`, and the unit test function they linked to is generating invalid test case inputs when it encounters this condition. Seems like the fix would be entirely within _System.Runtime.Numerics.Tests_ rather than any shipping runtime or library code.

[2021-02-05 21:33] ericstj commented on #39293
Extensions tests use it for legacy reasons.  In general we try to avoid testing using internals.

Are you sure that changing the format here is even legitimate?  It looks to me like the entire scenario for this type is to consume external data, which is presumably only of that specific format.  If you want to change the format you need to somehow record that in the data itself.  One way of doing t

[2021-02-05 21:35] VSadov commented on #47859
Nope, while the return type seems incorrect, that is not the reason for the leak. Fixing that does no fix the problem.
We are leaking actual handles somewhere.

[2021-02-05 21:44] erikma opened #48112 "MSB4018 "Multiple entries with the same BundleRelativePath" using -PublishSingleFile=true"
### Issue Description
When attempting to make use of the new .NET 5.0.2 'dotnet publish --self-contained true -p:PublishSingleFile=true' command on a Windows build for an app that was previously working without '-p:PublishSingleFile=true' an MSB4018 "System.ArgumentException: Invalid input specification: Found multiple entries with the same BundleRelativePath" error results, console exception text

[2021-02-05 21:45] carlossanlop commented on #33764
Suggested severity: warning

Examples:
[code]

[2021-02-05 21:54] quixoticaxis commented on #40570
There's a similar [issue](https://github.com/dotnet/runtime/issues/1885).
Being able to download at least native artifacts would be a great help. While the space taken by the compilers/SDKs/Cmake/etc. is probably not an issue, the installation could be, if the user's computer is managed by an organisation/needs to comply to some regulations.
It's probably not a stopper, but, for example, I had to

[2021-02-05 22:06] carlossanlop commented on #33781
Suggested severity: info

C# data types sizes: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/integral-numeric-types

Examples:
[code]

[2021-02-05 22:17] GrabYourPitchforks commented on #47927
A more generalized form of this analyzer would be "You used a _char_, but it got widened to an _int_ when you passed it to this method."

Not sure how many false positives such an analyzer would produce. It's common to perform integer arithmetic on chars; e.g., `(char)('a' + offset)` to generate an output in the range `a..z` when _offset_ is known to be `0..25`. But I wouldn't imagine it's all tha

[2021-02-05 22:24] nschuessler opened #48167 "MetadataReader.GetMethodDefinition throws `BadImageFormatException` -- should potentially return null on failure?"
**Version Used**:

5.0.0.0

**Steps to Reproduce**:
Open a PDB file created by roslyn C# compiler 3.8 using the following code.

[code]

**Expected Behavior**:

If all the IsNil checks pass, even though there is no method information in the PDB I should have a way to check if `methodDefinition` is valid.  `if (methodDefinition != default(MethodDefinition)` doesn't work "Operator != cannot be appli

[2021-02-05 22:26] geoffkizer commented on #47905
We should maintain the existing behavior here if it's not too much trouble, i.e. throw from Begin* for sync failure. Again, I think this is counter to the usual IAsyncResult pattern, which is why the helpers don't do this. But it's better to maintain existing behavior.

FWIW, it would also be interesting to look at .NET Framework behavior here. Early in .NET Core (2.0?) we made a change so that op

[2021-02-05 22:28] tarekgh commented on #47929
Yup, I agree with @GrabYourPitchforks analysis. This is a test issue. Actually the digit grouping setting was read by the user overrides and not from ICU at all.

[2021-02-05 22:29] tannergooding commented on #47929
Going to mark this as a bug and up-for-grabs then since I can reproduce.

[2021-02-05 22:38] GrabYourPitchforks commented on #33781
`stackalloc T[]` is inherently more dangerous than `new T[]` for two main reasons: (a) it's not guaranteed to zero-init; and (b) it could cause an uncatchable `StackOverflowException` at runtime and terminate the process. Both of these are application-visible behavioral changes beyond mere performance considerations.

I'd suggest two modifications in order to address these concerns:

1. Don't sugg

[2021-02-05 22:41] geoffkizer commented on #43845
No, you're right, I don't think we actually need to refactor these. I probably didn't look closely at what they do when I added them to the list.

[2021-02-05 22:58] 0xced commented on #33980
Based on @stephentoub [comment](https://github.com/dotnet/runtime/issues/33980#issuecomment-642094703) saying he'd be OK with the environment variable test, I have submitted #47935 in order to bring back some momentum to this issue.

[2021-02-05 23:10] AArnott opened #47936 "TraceSource nullable ref annotations should allow more nulls"
Several methods on `TraceSource` allegedly do not accept nulls for message parameters, but as no exception is thrown with null input I think a nullable annotation is appropriate.

This code throws no exceptions:

[code]

Yet you can see each method produces warnings about null inputs:

![image](https://user-images.githubusercontent.com/3548/107098526-a427e780-67cc-11eb-8cf9-6e51338a79fb.png)

[2021-02-06 00:03] craigajohnson commented on #47404
@lewing @javiercn this is great! Along these same lines, it would also be extremely useful if Blazor could --also-- probe for an async Task method with an attribute e.g., [WebAssemblyEntryPoint]. This would be useful as a decoupling device. Of course if no attributed method exists it can just fall back.

[2021-02-06 00:16] buyaa-n commented on #47801
Actually it is not similar to #44920, for this analysis it could do just raw binary comparison. But after thinking about it more it seems this analyzer more related to MSBuild/SDK, tagging @dsplaisted

[2021-02-06 00:36] #47493 closed

[2021-02-06 00:56] craigajohnson commented on #47404
Something like this perhaps? https://gist.github.com/craigajohnson/48685062bbace2a1fc89a497a7869428

[2021-02-06 00:59] #1504 closed

[2021-02-06 01:02] mikem8361 commented on #45689
I would like to purpose an update to the hot reload API to allow an atomic update of multiple assemblies deltas. This is for multi-assembly edits (i.e. adding a new method in Assembly A and invoking in Assembly B) and allows atomic updates of the same code across all AssemblyLoadContext's. For the later, it assumes that the caller can find all the Assembly instances of the updated code across all

[2021-02-06 01:05] JeremyKuhne opened #47940 "API Proposal: Add more performant transform APIs in System.Drawing"
## Background and Motivation

`System.Drawing.Drawing2D.Matrix` is a wrapper around the GDI+ Matrix class. Manipulating and reading the matrix is inefficient. We should provide less heavy-weight access to the raw matrix data.

Checking the transform matrix and applying a new one should be able to be done without any managed heap allocations.

Doing this would make the dependency on `System.Numeric

[2021-02-06 01:13] AaronRobinsonMSFT commented on #47815
@DynConcepts Can you elaborate on your issues a bit more. I'm not clear as to why the suggestion is as the title is a bit vague.

[2021-02-06 01:18] AaronRobinsonMSFT commented on #47849
@BickelLukas Can you provide some more details on how to reproduce this? Support for `IDispatch` and VB6 in .NET 5+ is much more limited than in .NET Framework. Understanding exactly what is failing will help us to determine if this is an area that is intentionally no longer supported or a bug we will fix in .NET 5+.

For example, see https://github.com/dotnet/runtime/issues/13192

[2021-02-06 01:27] klementi opened #47941 "Unit tests are failing for .NET Core v.2.1.24 built on Amazon Linux 2"
### Description

Unit tests are failing for .NET Core v.2.1.24 built on Amazon Linux 2
https://github.com/dotnet/corefx/releases/tag/v2.1.24

Steps to repro
1. Create Amazon Linux 2 container from https://hub.docker.com/ using *docker pull amazonlinux:2.0.20210126.0*
2. Clone repository inside the container, build, run unit tests
3. See folowing unit test failing

[code]

### Configuration

.NET C

[2021-02-06 01:29] AndyAyersMS commented on #46882
Running through Pri1 tests -- have 30 odd asserting cases. Once those are good I want to do some more spot checking or a run with more aggressive assertions turned on (eg we assert if we fail to solve) and look at into how many solver passes are needed worst case.

LooksSeems like OSR poses a new set of complications.
* during instrumentation we might need to induce a pseudo-edge from each patchpo

[2021-02-06 01:30] MeikTranel commented on #47180
@carlossanlop i'd like to help with this one 🙋‍♂️

[2021-02-06 01:36] lambdageek commented on #45689
Updated the proposal with @mikem8361's version.

[2021-02-06 01:45] AndyAyersMS opened #47942 "JIT: resolve issues with OSR and PGO"
OSR and PGO don't play nicely together.

See https://github.com/dotnet/runtime/issues/46882#issuecomment-774371966 and follow on comments.

[2021-02-06 01:46] AndyAyersMS commented on #46882
Note even with block profiles the OSR profile data is a bit funky:
[code]

The original method never made it out of the BB02, BB03 loop so the return counts are all zero (and hence edge instrumentation would impute the method entry count is zero). The new OSR entry profile count is not set right.

Opened #47942 to sort all this out.

[2021-02-06 01:55] stephentoub commented on #45689
How does this related to @jkotas' earlier feedback:
"How do the transactions deal with the changes to the code that is running? I think that arbitrary patching of code in flight is full of reliability corner cases. The transactions may improve it a bit; but the whole thing has to be super complex to actually solve the reliability problem in satisfactory way. I think we should drop the transactions

[2021-02-06 01:55] kyanha commented on #46785
What I want is for the Peek flag to do what it's documented to do and
return the size the buffer needs to be. But apparently Winsock2 is the only
API in Windows that doesn't have a "query for the necessary buffer size"
capability. And with IPv6 being able to split and reconstitute UDP packets,
I have no actual way to ensure my buffers are big enough.

I mean, if you're going to check with the Wins

[2021-02-06 01:57] stephentoub commented on #45689
Is there any scenario that would require more granular details, either now or in the future?  I'm wondering if the method should return an instance that for now contains a bool but later could contain additional information.  If we can't foresee anything more than true/false being needed, ok.

[2021-02-06 01:58] stephentoub commented on #45689
Is this format documented anywhere?

[2021-02-06 01:58] sandreenko opened #47943 "separate intel x64 definition for movd and movq."
Intel has 3 different encodings: 1. `movd` for xmm<->general reg/mem dword moves, 2. `movq` for xmm <-> general reg/mem qword moved (x64 only), 3. `movq` for xmm<->xmm/mem qword moves, but in the Jit we combine 1. and 2. and call them `movd` so our disasm shows incorrect instruction for `movq` in that case.

See the details in the @tannergooding comment below.

The fix is to separate 2. and 3., th

[2021-02-06 02:08] jkotas commented on #45689
What kind of atomicity guarantees is this going to make? What are the scenarios that the atomic updates are needed for?

Should this rather throw exceptions that can contain more details? Errors in applying the deltas are going to be fatal, so there is no reason for this to be non-throwing.

[2021-02-06 02:14] lambdageek commented on #45689
There is a global "apply update" lock (ie, one update at a time).  Moreover, the world stops while the entire set of the deltas are applied.

Two methods in two separate assemblies that both initially had empty bodies are updated to call each other.

It depends on the UX of how the edits are collected and compiled, but one of the options that's been discussed is an "Apply Changes" button.  Which m

[2021-02-06 02:21] lambdageek commented on #45689
Makes sense to me.  @mikem8361 any reason not to throw?

[2021-02-06 02:28] buyaa-n commented on #47180
@MeikTranel thanks, assigned to you

[2021-02-06 02:32] jkotas commented on #45689
What is the world?

For example, JITing and TypeLoading in CoreCLR is running in preemptive mode (ie you can think about it as ordinary code that is in external .dll that you PInvoke into). The JITing and TypeLoading is not affected by runtime thread suspension. It will happily keep running while the managed execution is suspended.

This is only a problem when other threads are actively running co

[2021-02-06 02:58] tannergooding commented on #47943
@sandreenko, there are actually two `MOVQ` instructions.

That is, there is `MOVD/MOVQ` where `MOVQ` is only available on 64-bit machines and is the 64-bit extension of `MOVD`:
![image](https://user-images.githubusercontent.com/10487869/107107125-10621580-67e4-11eb-9e22-48a2eecf7945.png)

and there is also the standalone `MOVQ` which is also available on 32-bit machines and can be used to efficien

[2021-02-06 03:06] sandreenko commented on #47943
Yeah, I have just found it, thanks @tannergooding , will update the issue.

[2021-02-06 03:21] lambdageek commented on #45689
If there are two assemblies and we apply updates to them while other threads get a chance to run between subsequent updates doesn't that make it possible for the thread to see the new code from assembly A which references code from assembly B that is not present until the second update is applied?

Assembly A, initial version:
[code]
Assembly B, initial version:
[code]

Suppose there's a thread th

[2021-02-06 03:37] lambdageek commented on #45689
I'm not sure how this is any different from what happens today with deltas for EnC that are ingested via the debugger.

Can the debugger call `EEDbgInterfaceImpl::EnCApplyChanges` for several different modules while the managed execution is stopped but the preemptive mode code continues to run?
The same kind of thread suspension would be sufficient for the managed API that takes a collection of de

[2021-02-06 03:41] hoyosjs opened #47946 "C EventPipe doesn't build incrementally: Changes not propagated to coreclr"
While working on some eventpipe fundamentals work, @josalem noticed that changes in said source result in non-incremental changes (the translation unit gets compiled, but the changes are not reflected in the resulting coreclr binary).

[2021-02-06 03:45] noahfalk commented on #46704
Thanks for feedback Greg!

My understanding is that the X-Ray developers acknowledge this as a limitation in the scenarios they can support. I don't think you are missing anything.

The current scope of this feature does not include any ID _**replacement**_ capability. It is solely intended to handle creating the id for a new root activity. I would handle those other out-of-scope scenarios by eith

[2021-02-06 03:54] WizardBrony opened #47947 "Potential deadlock using System.Diagnostics.Process"
I noticed the following `lock` statements in `System.Diagnostics.Process`:

https://github.com/dotnet/runtime/blob/525c43ea5581640c7100dc3c9fba4e21e6c87d3a/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs#L781-L784
https://github.com/dotnet/runtime/blob/525c43ea5581640c7100dc3c9fba4e21e6c87d3a/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs#L845

[2021-02-06 03:59] AndyAyersMS commented on #46882
Pri1 tests mostly running w/o issue, but hit one odd issue.

We are contaminating the inlinee compiler with details of the root method EH. Not clear why. This makes walking the inlinee flow graph tricky as part of the walk needs to consider EH entries, and so we're wandering off into the root method blocks.

Hopefully all this is unnecessary and will just cause confusion. If we ever decide to supp

[2021-02-06 04:27] noahfalk commented on #42784
Hi @jbogard, sorry this issue has been quiet a bit. @tarekgh and I were taking a look at issues like this one that came in late in .NET 5 to see what we could do in .NET 6. I could see a few potential paths forward here:
1. We change the past guidance to indicate that tags/baggage/other Activity content is not fully populated in the Start event. Instrumentors would add it after the Activity is sta

[2021-02-06 04:38] noahfalk commented on #42784
Slightly off topic, but about a week or two ago I was following random tweets which lead me to https://jimmybogard.com/building-end-to-end-diagnostics-activitysource-and-open/ and https://jimmybogard.com/activitysource-and-listener-in-net-5/. It was beautifully written. Thank you very much for putting it out there!

[2021-02-06 04:54] jkotas commented on #45689
I believe that it will work ok most of the time for common cases. The problem will be observed only when somebody has a code running on multiple threads, edited in particular way, and hits a bad timing.

If somebody is editing methods accross multiple assemblies, I think it is likely that the edits have a behavior dependency on each other. We are not planning to apply behavior changes atomically a

[2021-02-06 05:00] matthewbauer commented on #47143
Yes

[2021-02-06 05:06] JeremyKuhne commented on #39406
@safern The other thing to consider here is having a public constructor overload that takes the `GpGraphics` pointer.

[2021-02-06 05:10] JeremyKuhne commented on #47880
Tagging #47940  as it is somewhat related.

[2021-02-06 05:28] carlossanlop commented on #33780
Removing the label so it doesn't get autoclosed by the bot.

This could be ready to mark as ready for review, keeping in mind that the analyzer would be limited to `byte/sbyte/bool`. We can decide if we want a fixer or not in the API review meeting.

@buyaa-n @stephentoub any additional thoughts you'd like to share before I apply the label?

[2021-02-06 05:28] BrennanConroy commented on #47806
Same issue as https://github.com/dotnet/runtime/issues/30056

[2021-02-06 06:28] geoffkizer commented on #47287
Yeah, my comment above is wrong/confusing.

I should have said, on Linux, the kernel will buffer as much of the file as it can/wants to, and then tell you how much it sent, just like any other send operation.

The problem is, Socket.SendFile doesn't return a value telling you how much it actually sent, like Socket.Send does. So there's no way for the user to know how much of the file was actually

[2021-02-06 06:39] geoffkizer commented on #47287
In what case in particular? It looks like we are doing the retry logic in SocketAsyncContext.

[2021-02-06 06:40] geoffkizer commented on #47287
No, this is specifically about SendFile.

[2021-02-06 06:48] jaymin93 commented on #47287
ok so i need to apply blocking =false check for specific method of send file and this will fix this bug , asking because i want to make pr , so before that i need to be clear about what actually case of bug fix, Thanks

[2021-02-06 06:51] geoffkizer commented on #47287
SendFile in when Socket.Blocking = false.

[2021-02-06 06:53] En3Tho commented on #33780
@stephentoub Is there an option to get ros backing memory region by reflection? Can we actually consider adding const modifier to such ros?

[2021-02-06 07:31] BickelLukas commented on #47849
@AaronRobinsonMSFT I did have a Breakthrough on this yesterday and was able to use the Library after all.

It might just have been a User error that could've been solved by better documentation or error messages.

I will provide more Information and a sample project first thing monday.

[2021-02-06 07:59] KevinRansom opened #47949 "The nuget package: https://www.nuget.org/api/v2/package/System.Buffers/4.5.1 has mismatched assembly versions."
The nuget package: https://www.nuget.org/api/v2/package/System.Buffers/4.5.1 has mismatched assembly versions.

Which requires binding redirects on the desktop to successfully bind.

Download the nuget package : https://www.nuget.org/api/v2/package/System.Buffers/4.5.1

Extract the files:
use ildasm or some other mechanism to examine the assembly version numbers.
[code]
This is  an issue because i

[2021-02-06 08:23] CalinBunea opened #48116 "Some functionalities are much slower on Linux compared to Windows"
### Description
Hi,
I'm working in BigData field and I have noticed that some functionalities (like String related methods) are extremely slow on .NET Core running on Linux Ubuntu 18.04 compared to Windows Server 2012. The performance difference is like 30X-50X. This issue is present in .NET Core 2.X, 3.X, 5.X. To me this is quite embarrassing and I am seriously thinking to quit working with .NET

[2021-02-06 08:53] psxvoid commented on #33796
Thank you.

I've spent some time on initial planning, and I'm wondering whether the following questions can be addressed before the implementation:

1. Should this analyzer also check field names? See note (3).
2. Should this analyzer be only applied to constructors marked as "JsonConstructor" from "System.Text.Json.Serialization" namespace, and not from "Newtonsoft.Json"?
3. What target namespace

[2021-02-06 09:51] huoyaoyuan commented on #47949
https://github.com/dotnet/runtime/issues/45921

[2021-02-06 10:12] CXuesong opened #47951 "Microsoft.Extensions.Logging ILogger scopes are lost in async stream after `yield return`"
Opened via https://github.com/dotnet/runtime/issues/47802#issuecomment-773450789. While the previous issue focuses on the decision of whether `AsyncLocal`s (and execution context) should flow acress `yield return` in async streams, I hope the current one can be triaged to MEL owners, in order to decide on whether the following scoped logging scenario should be supported.

### Description
Consider

[2021-02-06 10:22] huoyaoyuan commented on #47951
The context here are actually depending on the `ConfigureAwait` on `await foreach`. It it uses `ConfigureAwait(true)` AND there is valid context, the continuation after yield return will run on the same context(thread).

[2021-02-06 10:29] CXuesong commented on #47951
@huoyaoyuan I think `ConfigureAwait` controls whether to execute continuation on the same `SynchronizationContext` rather than `ExecutionContext`. And `AsyncLocal` (or `ThreadLocal`) depends on `ExecutionContext` to flow.

If you expand the `foreach` syntax, you will see exactly the same situation
[code]

[2021-02-06 13:46] stephentoub commented on #47947
Whoever wrote this initially wasn't considering that use. And at this point it's a potentially dangerous breaking change to change it,  in case someone was actually relying on that lock for synchronizing with Process' work.  This may sound contrived,  but we've had to revert such changes elsewhere,  e.g. when we changed Console to no lock on the Out object itself,  only to find that a lot of folks

[2021-02-06 13:56] stephentoub commented on #33780
This is a question for C#. I suggest opening an issue/proposal in the csharplang repo,  if there isn't one already.

[2021-02-06 13:57] stephentoub commented on #33780
It should :-)

[2021-02-06 13:58] jnyrup commented on #47920
Here are two other snippets than generates new asm, at least with SharpLab.

I don't know if they are "better", but I observe that:
* `M3` has two instructions less than `M2`.
* `M4` has two instructions less than `M0`, but three more than `M1`.

[code]

[code]
[sharplab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgJgIwCwAUFgMwAEu5AwsQN7HlOUXAD2bANuQLIAMACjbAAVnADGMcmwCUjZgyLNllAOzTyASyhaAdl

[2021-02-06 14:18] GF-Huang opened #47953 "Elegant way to get executing exe path rather than dll path in Windows .NET 5 WPF when debugging"
I have a .NET 5 WPF application project. Is there a way to get self path compatible with `debugging` and `publish as single file application`?

`Environment.GetCommandLineArgs()` give me `C:\xxx\app.dll`. The `C:\xxx\app.exe` beside the dll, the following code doesn't seem to be reliable.

[code]

[2021-02-06 14:48] huoyaoyuan commented on #47953
Probably no. The application isn't necessarily loaded by the generated `exe`. It can be called by `dotnet.exe` with absence of `app.exe`.

[2021-02-06 16:22] NewellClark commented on #33784
I would like to be assigned to this. I'll start work on it immediately.

[2021-02-06 16:31] WizardBrony commented on #47947
@stephentoub Thanks for the insight. I was just curious if there was some intentional reason it was originally written like that that I wasn't thinking of. If it's still like that today for the sake of preventing a breaking change, I totally get it.

[2021-02-06 16:31] #47947 closed

[2021-02-06 17:50] tmat commented on #45689
It is possible - Roslyn does not support cycles in project dependencies. We don't do that currently but it'd easy for Roslyn to provide the assembly deltas in a topological order.

The same applies. Roslyn disallows cycles.

[2021-02-06 17:56] tmat commented on #45689
By applying metadata changes in topological order we can guarantee that metadata ref tokens are gonna be consistent at all times - that is the runtime will not get to a situation where it needs to resolve a TypeRef/MemberRef that is being added and it won't find it.

That said, unless the managed threads are not stopped they may execute non-consistent code (some changes applied, some not).

[2021-02-06 18:27] vitek-karas commented on #47953
In the general case @huoyaoyuan is right, but if you would always use the `app.exe` (which is recommended for UI apps as it has the icon and manifest an other potentially important native resources), then you can get that by using

[code]

[2021-02-06 18:29] GF-Huang commented on #47953
Also works for publish as single file application?

[2021-02-06 18:40] vitek-karas commented on #47953
Yes - that should work for both single-file and non-single-file `app.exe` cases.

[2021-02-06 18:41] GF-Huang commented on #47953
Great, thank you.

[2021-02-06 18:41] #47953 closed

[2021-02-06 18:44] jkotas commented on #45689
To guarantee consistency, the delta applications would have to also implement IP and method state remapping from old method body to new method body, so that none of the old code is executed after the delta is applied. I do not think we are planning to do that either. Is that correct?

The observable behavior inconsistencies in actively running code due to missing IP and method state remapping are

[2021-02-06 18:45] mikem8361 commented on #45689
The proposed API was to at least get to parity with debugger ENC where all the edits are done while the target app is suspended. I wanted the user experience to be not any worse than ENC and to future proof the API if the kind of edits required by the various App Model frameworks get more complicated.  I didn't consider that JITing and Typing are one of the  many "reliability corners" of ENC and n

[2021-02-06 19:34] stephentoub commented on #47953
For reference, Environment.ProcessPath has also been added for .NET 6.
https://github.com/dotnet/runtime/pull/42768

[2021-02-06 19:41] stephentoub commented on #45689
While conversion about behavior goes on,  a little bikeshedding on name and placement.  Given comments about wanting to use this more broadly,  such as for the basis of reflection emit,  seems like this shouldn't have "hot reload" in the name? And why is it on ALC? e.g. why not an instance method on Assembly or somewhere else in System.Reflection?

[2021-02-06 20:06] jkotas commented on #45689
What about:
[code]

[2021-02-06 20:45] #47541 closed

[2021-02-06 20:47] BruceForstall opened #47960 "SuperPMI crossgen2 automated collections have Linux disabled"
https://github.com/dotnet/runtime/pull/47818 enabled crossgen2 collections of libraries, but disabled it on Linux due to uninvestigated crashes. Investigate and fix these crashes and enable Linux collections.

[2021-02-06 20:49] BruceForstall opened #47961 "SuperPMI crossgen2 cross-compilation collections"
https://github.com/dotnet/runtime/pull/47818 enabled same-architecture collections. Crossgen2 supports cross-compilation (e.g., host Windows x64, target Linux arm64). We could add SuperPMI collections of some (or all) of these cross-compilation scenarios.

[2021-02-06 20:51] BruceForstall commented on #47961
When doing cross-compilation, do we need to reference the native assemblies? E.g., if compiling on Windows x64, targeting Linux arm64, does the compilation process need to download the Linux arm64 libraries build and use those assets as the reference assemblies? This would require adding additional, new, dependencies on these CI steps.

What can we "get away with" just using the host architecture

[2021-02-06 20:59] tmat commented on #45689
Correct, this would only be done when debugger is attached.

[2021-02-06 21:01] eddynaka opened #47963 "System.Runtime.Intrinsics.X86 got replaced?"
Hi,

I was using `System.Runtime.Intrinsics.X86` from myget source but it looks like it does not exist there anymore. Then, I saw that we have a new package in the nuget.org called `System.Runtime.Intrinsics.Experimental`.

I tried to use it, but I saw that the static method `StaticCast` from `Sse` got removed.

So, I would like to know what can I use to replace that.

Below you can find a snippet

[2021-02-06 21:17] eddynaka commented on #47963
I found the replacement.

vect.AsSbyte() or vice-versa.

Thank you! :)

[2021-02-06 21:17] #47963 closed

[2021-02-06 21:23] danmosemsft commented on #47949
@Anipik

[2021-02-06 22:00] saucecontrol commented on #47949
Not a direct fix, but if you're targeting .NET Standard and intend compatibility with .NET Framework, your users will have a better experience in general if you multi-target your library for both `net461` and `netstandard2.0`.  That will fix your issue with System.Buffers as a side effect, but there are other benefits as well.

Rick Strahl has a good writeup on that [here](https://weblog.west-wind

[2021-02-06 22:14] Thefrank commented on #14537
so...anyone try building from the release/6.0-preview1 branch? if yes, then do builds with make (or even ninja) use `-j1` instead of actually using all of the cores?

[2021-02-06 22:37] danmoseley opened #47964 "crossgen errors for use of Vector<T> without IsHardwareAccelerated guard"
In https://github.com/dotnet/runtimelab/pull/645 we got error
[code]
where `Vector<T>` was being used. System.Text.Json doesn't cause this error, my guess is because it is guarded with `Vector.IsHardwareAccelerated`

If crossgen can't assume that SIMD instructions are available, apparently it should still generate valid code for `Vector<T>` use.

It also seems to me that crossgen errors should not

[2021-02-06 23:52] sandreenko commented on #47943
cc @dotnet/jit-contrib , would names `movq_g` and `movq_mm` work for these two quadword moves?

[2021-02-07 00:00] SingleAccretion commented on #47866
After having set up WSL2 (Ubuntu LTS 20.04), I have confirmed that the assembly I have obtained via the AltJit is exactly the same as the one that BDN's from-memory disassembler produces: see the [diff](https://www.diffchecker.com/8fuDvVED).

To run the benchmarks, I have used the following command line (note that I "restored" BDN's defaults to cut down on noise):
[code]
Here the "base" - "runtime

[2021-02-07 00:28] tannergooding commented on #47943
I think we can simply keep it as just `movd` and `movq` and for the former we can determine how to emit the disassembly based on the value of REX.W (or possibly the `EA_ATTR`).

The difference in encoding is whether or not it contains the REX.W prefix, which is the standard way to switch from 32-bit to 64-bit registers on x86.
The name simply changes because the original was `movd` indicating "dou

[2021-02-07 00:43] stephentoub commented on #45689
Seems reasonable to me.  Out of curiosity, why an extension method rather than instance on Assembly? For that matter, why is TryGetRawMetadata an extension?

[2021-02-07 01:26] vargaz opened #47967 "IcuLocaleData.NameIndexToNumericData is not linker friendly"
NameIndexToNumericData is a 15k byte array which cannot be linked out even through much of the information inside it is not needed if not all entries in IcuLocaleDataParts are used by the app. It would be better to have 1 array for each entry in IcuLocaleDataParts.

[2021-02-07 01:43] #45847 closed

[2021-02-07 01:46] VincentBu opened #47968 "Test failed : System.Data.Tests.AppDomainsAndFormatInfo.Bug55978"
Run: [runtime 20210206.8](https://dev.azure.com/dnceng/public/_build/results?buildId=981759&view=ms.vss-test-web.build-test-results-tab&runId=30771648&resultId=114463&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-07 01:50] Kuinox commented on #42999
Ok so I found what was the purpose of these flags:
It allows storing the SequenceType.
A simple fix is to stop leaking these flags.
I open a PR.

[2021-02-07 02:15] VincentBu commented on #46803
Failed again in run [runtime-coreclr outerloop 20210206.2](https://dev.azure.com/dnceng/public/_build/results?buildId=981597&view=ms.vss-test-web.build-test-results-tab&runId=30770616&resultId=110514&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-07 03:07] VincentBu opened #47970 "Test failed : System.Net.Tests.WebUtilityTests.UrlEncodeDecodeToBytes_Roundtrip_AstralPlanes"
Run : [runtime-coreclr libraries-jitstress2-jitstressregs 20210206.1](https://dev.azure.com/dnceng/public/_build/results?buildId=981555&view=ms.vss-test-web.build-test-results-tab&runId=30763988&resultId=149664&paneView=debug)

Failed test :
[code]

**Error message:**
[code]

[2021-02-07 03:25] wfurt commented on #887
Why don't you try https://github.com/wfurt/Ntlm @InsanelyOne and let me know. If neither NTLM nor Negotiate work for you open separate issue in that repo with more details or ping me directly email via my GH email.

same for anybody else who can test NTLM on macOS.
cc: @JeroenBer

[2021-02-07 03:45] WizardBrony commented on #47907
@jkotas I have continued experimenting with my example and I realized that the reason I was not seeing the results I was expecting was because the allocated managed memory for reference types (including `class`es and boxed `struct`s) is padded to the next pointer-size boundary. So I guess now knowing that, my follow-up question would be what is the rationale for padding `class`es and boxed `struct

[2021-02-07 03:57] GrabYourPitchforks commented on #47970
[code]

🤔

[2021-02-07 03:59] tannergooding opened #47972 "Consider adding a step to remove redundant casts."
The JIT does not currently handle various redundant casts which can lead to suboptimal codegen. These can be introduced through a variety of ways including inlining and just what the C# compiler generates today.

Some examples where the JIT currently generates "suboptimal" code includes:
[code]

These represent both downcasts and upcast that could be folded to a single operation.

Likewise there a

[2021-02-07 04:01] GrabYourPitchforks commented on #47963
The MyGet feed is no longer maintained, and the _System.Runtime.Intrinsics.Experimental_ package is prerelease. Please use the normal _System.Runtime.Intrinsics_ assembly which comes as part of the SDK.

[2021-02-07 04:03] tannergooding commented on #47972
I attempted to prototype this via a new `gtFoldExprCast` method: https://github.com/tannergooding/runtime/tree/fold-casts

Assuming I didn't make any mistakes in the logic, it looks to catch a minimal number of cases in `--pmi --frameworks`
[code]

[2021-02-07 04:04] danmosemsft commented on #47866
Cc @kunalspathak

[2021-02-07 04:05] jkotas commented on #47907
I guess it is some combination of:
- Assembly is abstract base-class. Adding virtual instance methods to it that only work for the runtime-provided Assemblies and throw otherwise is less than ideal.
- Rarely used API, for advanced users only. Having it will System.Reflection.Metadata will hide it for ordinary reflection users.
- It helped with .NET Standard 1.x era API and contract versioning gymn

[2021-02-07 04:06] jkotas commented on #45689
I guess it is some combination of:
- Assembly is abstract base-class. Adding virtual instance methods to it that only work for the runtime-provided Assemblies and throw otherwise is less than ideal.
- Rarely used API, for advanced users only. Having it will System.Reflection.Metadata will hide it for ordinary reflection users.
- It helped with .NET Standard 1.x era API and contract versioning gymn

[2021-02-07 04:09] jkotas commented on #47907
Could you please share the examples you are experimenting with, the behavior you are observing, and the behavior that you would expect?

[2021-02-07 04:25] davidfowl commented on #45689
👀

[2021-02-07 04:26] WizardBrony commented on #47907
I just have some test code that instantiates some `class`es and `struct`s with different fields and `StructLayout`s, then I'm launching it and examining the managed heap with SOS. I guess I don't have any expected behavior. At this point all I'm wondering is what the rationale is for pointer-size padding `class`es and boxed `struct`s and not arrays. I have been searching many places including The

[2021-02-07 05:45] CollinAlpert commented on #33799
I'd like to do this one.

[2021-02-07 05:45] CollinAlpert commented on #33798
I'd like to do this one.

[2021-02-07 06:52] KevinRansom commented on #47949
@saucecontrol ,
If I build and reference ref/netstandard2.0 and the assembly verision is  4.0.2.0 and The corresponding lib/netstandard2.0 has an assembly version of netstandard 4.0.3.0 then on the desktop a binding redirect is necessary.

For developers building software that is a plugin, it is very hard to get an app to add the necessary binding redirect.  I would suggest that having different v

[2021-02-07 07:02] saucecontrol commented on #47949
Correct, if the versions don't match, the binding redirect is necessary.  However, if you multi-target, the reference in the `net461` version of your library in the package would be 4.0.3 while the `netstandard2.0` copy of your library would reference 4.0.2.  I've been through this in my own libraries, and multi-targeting, along with careful selection of dependency versions has solved the issue fo

[2021-02-07 07:06] jkotas commented on #47907
There are number of reasons why you may see padding.

For example, `class MyInt { int x; }` is padded to `MIN_OBJECT_SIZE` on GC heap to ensure that it can be always replaced by the special free object once it becomes garbage. It is necessary to [keep the GC heap crawlable at all times](https://github.com/dotnet/runtime/blob/master/docs/design/coreclr/botr/garbage-collection.md#design-of-allocator

[2021-02-07 09:19] MartinZikmund opened #47976 "System.MissingMethodException : Constructor on type 'System.Text.Json.Serialization.NullableConverter[...]' not found"
### Description

I have a very similar issue to #37047.

My class has the following property:

[code]

Where `StringEnum<T>` is a `struct`. I have defined a custom generic `JsonConverterFactory` for this type:

[code]

This is registered in the options:

[code]

However, deserializing a `null` value fails with the following exception:

[code]

### Configuration

.NET Standard 2.0, with System.Text

[2021-02-07 10:59] stephentoub commented on #45689
Thanks.  Namespace is a reasonable reason. An instance method on Assembly wouldn't need to be virtual (base implementation could type test), or if it was,  it would enable in theory another derived type to implement it; with an extension,  it'll throw for non runtime implementations and others have no chance of avoiding the exception.

[2021-02-07 14:32] stevetalkscode commented on #728
Another use case I have is for controlling the ordering properties in models within a Swagger.json. Since Swashbuckle has moved over to STJ, the properties appear in alphabetical order. I would like to be able to control the order of properties using an attribute on the model

[2021-02-07 14:33] stephentoub commented on #47951
I assume this behaves as you'd expect if you added `await Task.Yield();` after you create the scope?

[2021-02-07 14:44] neographikal commented on #2379
Okay, on Windows with .net 5.0 it isn't fully stable either. Although I'm not noticing the high cpu usage on my Windows 10 boxes it does trigger a dirty error;

[code]

[2021-02-07 15:06] WizardBrony commented on #47907
@jkotas Not really. Here's an example on my 64-bit machine:

[code]

On the managed heap, the size of the object created when instantiating this `class` is 24 bytes:

8 bytes (Object Header)
8 bytes (Method Table Ptr)
1 byte (b)
**7 bytes (padding)**

Because I'm on a 64-bit machine, the runtime is padding the object by 7 bytes to get the total size on an 8-byte boundary. To demonstrate this, I ca

[2021-02-07 16:23] jkotas commented on #47907
The space for arrays on GCHeap is padded to pointer size as well. The padding for arrays happens via different path than for objects and it is why SOS reports one but not the other; the result is the same in both cases.

The padding is required to have start of the object aligned at pointer boundary. This is required for both correctness (misaligned memory access would not be always atomic) and pe

[2021-02-07 17:05] InsanelyOne commented on #887
Success!!  I had to do a little digging around to address this issue:

Invalid dylib load. Clients should not load the unversioned libcrypto dylib as it does not have a stable ABI.

Found a solution here: https://dev.to/ruivieira/fixing-libcrypto-ansible-crashes-on-macos-mm2

I updated openssl:

$ brew install openssl

Copied the libraries to /usr/local/lib

$ cd /usr/local/Cellar/openssl@1.1/1.1.

[2021-02-07 17:28] WizardBrony commented on #47907
@jkotas Thank you very much for explaining that. I will trust that arrays are padded as well even though SOS says otherwise.

I actually have one more question related to the original issue topic. The documentation for `StructLayoutAttribute.Pack` states the following:

[StructLayoutAttribute.Pack Field](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.structlayoutattribu

[2021-02-07 17:34] CXuesong commented on #47951
@stephentoub Yes. `await`s does not affect logging scopes.

Actually `AsyncStateMachineBox<T>` is keeping ExecutionContext and restoring it in `MoveNext` call.

[2021-02-07 17:36] jkotas commented on #47907
You example is valid non-portable code. It may not work correctly on platforms that require strict alignment or on platforms with different endianness.

[2021-02-07 17:44] WizardBrony commented on #47907
@jkotas That makes perfect sense. One last question for now. What exactly does `StructLayoutAttribute.Pack` do when using `LayoutKind.Explicit`? For instance in my last example:

[code]

Does setting `Pack` actually do anything to the layout, the way the memory is accessed, or anything else at runtime?

[2021-02-07 17:58] jkotas commented on #47907
Right, `Pack` should not have any affect in combination with `LayoutKind.Explicit`.

[2021-02-07 18:08] stephentoub commented on #47951
Right,  my point was just that a workaround is to make sure you have an await like that after anything that changes EC.

[2021-02-07 18:21] WizardBrony commented on #47907
@jkotas Thank you so much for clarifying that. If that's the case, do you know what this statement in the documentation for `StructLayoutAttribute.Pack` could be referring to, or is the documentation just wrong?

[StructLayoutAttribute.Pack Field](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.structlayoutattribute.pack?view=net-5.0#remarks)

[2021-02-07 18:28] GF-Huang commented on #33418
I see `SocketTaskExtensions` is applies to `.NET Standard 2.0`, but why I can't access `Socket.ConnectAsync(IPAddress, Int32)` in my .NET Standard Library?

https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.sockettaskextensions?view=netstandard-2.0

![image](https://user-images.githubusercontent.com/4510984/107155732-ff1c3300-69b4-11eb-8aa5-b841bf369d0d.png)

![image](https://user-ima

[2021-02-07 18:35] jkotas commented on #47907
I do not know.

[2021-02-07 18:53] wfurt commented on #887
Thanks for the update @InsanelyOne. I can solve the md4 different way. For now I pick the easiest way. macOS has LibreSSL so we should be able to do this without `brew`.

[2021-02-07 18:59] WizardBrony commented on #47907
@jkotas Thank you very much for your time.

[2021-02-07 18:59] #47907 closed

[2021-02-07 19:13] vcsjones opened #47977 "Consider deprecating or annotating a few S.S.C.X509Certificates members"
There are a few APIs in System.Security.Cryptography.X509Certificates that it might be worth obsoleting, or some variation of `{Un}SupportedOSPlatformAttribute` on them.

* `X509Certificate2.FriendlyName` - Consider marking this `[SupportedOSPlatformAttribute("windows")]`. This API returns an empty string on non-Windows, and throws when being set on non-Windows.
* `X509Certificate2.Archived` - Con

[2021-02-07 19:26] vcsjones commented on #24897
I noodled with a proof-of-concept for this, I think the API proposal is reasonable, aside from the name `Pbkdf2DeriveBytes(...)` but maybe that can be solved in API review.

-----

We could implement this in managed code if we wanted, which might actually be the right way. OpenSSL doesn't have this until OpenSSL v1.1, and macOS has zero documentation for `CCKeyDerivationPBKDF`, though they do "doc

[2021-02-07 19:33] InsanelyOne commented on #887
Not sure if it matters but I’m running macOS 11.0 Big Sur

[2021-02-07 20:11] trylek commented on #44123
OK, so technically both Crossgen2 and R2RDump support generating perfmaps now (as of https://github.com/dotnet/runtime/pull/47019). I guess that the remaining bit needed to close this item is to actually validate that PerfMap works as expected. I performed a round of local testing of PDB generator using PerfView based on David's advice but I merged in the PerfMap generator based on just visual val

[2021-02-07 20:24] trylek commented on #42850
Fixed in https://github.com/dotnet/runtime/pull/43054.

[2021-02-07 20:24] #42850 closed

[2021-02-07 20:30] trylek commented on #45289
Fixed in https://github.com/dotnet/runtime/pull/45433.

[2021-02-07 20:30] #45289 closed

[2021-02-07 20:36] trylek commented on #45507
@sandreenko, have you been able to verify if the current state of affairs fixes your issue i.o.w. whether you now see checked Crossgen2 produce sufficient repro information with regard to --singleXXX parameters? Please let me know if this item can be closed and / or whether you have suggestions for further improvement around the CG2 command-line syntax, documentation and such.

[2021-02-07 20:38] tarekgh commented on #47967
@marek-safar @vargaz we need to decide for such issues if it is nice to have or it has to be fixed in 6.0. To know the priority and plan for that. Or you expecting your team will take care with that?

[2021-02-07 20:39] trylek commented on #43035
@jkotas - this has been sitting around for a while, could you please advise what is the right fix here? I suspect you're one of the few people who have sufficiently broad context to make the call.

[2021-02-07 20:42] trylek commented on #42924
@janvorli, can you please provide an update on this issue? Are we already out of the woods w.r.t. this one based on your various covariant fixes in the past months?

[2021-02-07 20:45] trylek commented on #42637
@AntonLapounov, is this item ready to be closed based on your fix?

[2021-02-07 20:47] trylek commented on #39573
@davidwrighton - is this a deficiency of the PDB generator so that we should track fixing it for the .NET 6 release?

[2021-02-07 21:01] trylek commented on #743
@janvorli / @davidwrighton, could you please help me understand the current status here? I believe that, as of today,

https://github.com/dotnet/runtime/blob/45287ed696a4bea906cc15a4bc870960a4b0e623/src/tests/Common/CLRTest.CrossGen.targets#L70

has full support for CG / CG2 switching on both Windows and Linux. I went over the 20 CoreCLR tests defining &lt;CrossGenTest&gt;false and I haven't found

[2021-02-07 21:03] trylek commented on #32730
@BruceForstall - could you please suggest the way forward here in light of your recent changes?

[2021-02-07 21:05] trylek commented on #13470
@AntonLapounov - can we close this item based on your https://github.com/dotnet/runtime/pull/43655?

[2021-02-07 21:10] trylek commented on #13392
I believe we need to either address this for the .NET 6 shipping release or at least convince ourselves that we don't need to. I think we do because silently violating access rights while emitting the R2R native image violates the principle of R2R vs. JIT equivalence. @jkotas, could you please correct me if I'm wrong?

[2021-02-07 21:13] trylek commented on #13389
@MichalStrehovsky - could you please comment on this very old work item? Based on tons of your work on implementing AOT interop stubs I'm inclined to believe we should be ready to close this item but I need your confirmation in this regard.

[2021-02-07 21:15] trylek commented on #13388
I believe this is basically a duplicate of https://github.com/dotnet/runtime/issues/38096, closing. Please reopen if you have concerns that the related issue doesn't fully capture the extent of the problem.

[2021-02-07 21:15] #13388 closed

[2021-02-07 21:27] BruceForstall commented on #32730
The superpmicollect unit test doesn't know how to do crossgen2 collections. We need to teach it how to do that, like superpmi.py was taught how to do that.

[2021-02-07 22:19] sandreenko commented on #45507
@trylek yes, that works great now, used it yesterday, thanks!

[2021-02-07 22:21] danmoseley opened #47979 "ThreadPoolBoundHandleTests.MultipleOperationsOverSingleHandle_CompletedWorkItemCountTest timed out"
[code]
[code]
Looking at the test, it waits on some async IO to complete (so IO delay is not the issue as it's completed) and then waits up to 30 seconds, checking every 1 ms for `ThreadPool.CompletedWorkItemCount` to grow to a value at least 2 larger than before the IO happened.

I did at first think that the use of `Environment.TickCount` here might be fragile, as it will wrap every ~month the c

[2021-02-07 22:24] sandreenko commented on #47943
Hm, I did not expect that Amd64 calls it movd, maybe then I will just add a comment about it to the places where I mentioned this issue.

another possibility to follow this splitting would be to use `movd/moq` for general regs and rename the current `movq` to something like `movq_xmm`.

[2021-02-07 22:37] trylek commented on #45507
Great, thanks for confirming that we can close this item for now.

[2021-02-07 22:37] #45507 closed

[2021-02-07 22:38] bennidhamma commented on #18668
Two more very useful properties that the Java TreeMap has are floorEntry and ceilingEntry

ceilingEntry(K key)
Returns a key-value mapping associated with the least key greater than or equal to the given key, or null if there is no such key.

floorEntry(K key)
Returns a key-value mapping associated with the greatest key less than or equal to the given key, or null if there is no such key.

[2021-02-08 01:39] VincentBu commented on #29683
Same exception in run [runtime 20210207.5](https://dev.azure.com/dnceng/public/_build/results?buildId=982509&view=ms.vss-test-web.build-test-results-tab&runId=30790866&resultId=157732&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-08 01:42] VincentBu commented on #30724
Failed again in run [runtime 20210207.5](https://dev.azure.com/dnceng/public/_build/results?buildId=982509&view=ms.vss-test-web.build-test-results-tab&runId=30790862&resultId=143211&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-08 02:13] VincentBu commented on #47259
Failed again in [runtime-coreclr jitstressregs 20210207.1](https://dev.azure.com/dnceng/public/_build/results?buildId=982356&view=ms.vss-test-web.build-test-results-tab&runId=30786498&resultId=100560&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-08 02:25] VincentBu commented on #47097
Failed again in run [runtime-coreclr jitstress-isas-x86 20210206.1](https://dev.azure.com/dnceng/public/_build/results?buildId=981920&view=ms.vss-test-web.build-test-results-tab&runId=30777528&resultId=109625&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-08 02:32] VincentBu commented on #46279
Failed again in run [runtime-coreclr gcstress0x3-gcstress0xc 20210207.1](https://dev.azure.com/dnceng/public/_build/results?buildId=982411&view=ms.vss-test-web.build-test-results-tab&runId=30789202&resultId=109800&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-08 02:35] VincentBu commented on #47394
Failed again in run [runtime-coreclr gcstress0x3-gcstress0xc 20210207.1](https://dev.azure.com/dnceng/public/_build/results?buildId=982411&view=ms.vss-test-web.build-test-results-tab&runId=30789164&resultId=110594&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-08 02:45] VincentBu commented on #46023
Failed again in run [runtime-coreclr gcstress-extra 20210206.1](https://dev.azure.com/dnceng/public/_build/results?buildId=981969&view=ms.vss-test-web.build-test-results-tab&runId=30777216&resultId=117073&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-08 02:56] VincentBu commented on #41249
Failed in run [runtime-libraries-coreclr outerloop 20210207.2](https://dev.azure.com/dnceng/public/_build/results?buildId=982379&view=ms.vss-test-web.build-test-results-tab&runId=30786246&resultId=104422&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-08 04:43] CXuesong commented on #47951
@stephentoub Oh… Did you mean something like this?
[code]
Then this doesn't work… I meant `await` captures the EC before leaving the function, and restores it when re-entering. Since we have already lost the EC after `yield return`, the EC captured before `await` is the default EC without `AsyncLocal` values.

[2021-02-08 05:12] danmosemsft commented on #47970
@BruceForstall as this is presumably jitstress only it should get codegen label I think?

[2021-02-08 05:14] jkotas commented on #43035
This is likely armel specific codegen bug that just happened to be hit by crossgen2. @gbalykov Is it still a problem?

[2021-02-08 05:14] danmosemsft commented on #47941
@BrennanConroy does this relate to the linked servicing fix you made?

[2021-02-08 05:48] Anipik commented on #29683
Failed Again here https://dev.azure.com/dnceng/public/_build/results?buildId=978165&view=logs&j=8679535e-9046-505f-8bbe-da251e73ecbd&t=ab7958ed-5297-5b46-f99a-06ce433e067d

[2021-02-08 05:51] Anipik opened #47984 "Failed to Install microsoft.dotnet.xharness.cli on Ubuntu.1804.Amd64.Open"
[code]

log https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/979753/logs/1920
build https://dev.azure.com/dnceng/public/_build/results?buildId=979753&view=results

This has failed a couple of times now

cc @dotnet/runtime-infrastructure  @dotnet/dnceng

[2021-02-08 05:52] Anipik commented on #47984
Failed again here https://dev.azure.com/dnceng/public/_build/results?buildId=981759&view=results

[2021-02-08 05:53] Anipik commented on #47805
Failed again https://dev.azure.com/dnceng/public/_build/results?buildId=982059&view=logs&j=5daca27f-52cd-532c-7da3-66cd43b2fb44&t=544b6965-1404-5848-fc5a-30d8345c68ff

[2021-02-08 05:54] Anipik commented on #47734
Failed again https://dev.azure.com/dnceng/public/_build/results?buildId=982059&view=logs&j=05e92ac1-194e-59cf-664a-fa72d1cdd19b&t=caea1d4b-c90c-5be1-e57d-c4635079c333

[2021-02-08 05:55] jkotas commented on #13392
Violating visibility rules is invalid IL. In general, invalid IL can lead to observable behavior difference between AOT and JIT, or between optimization levels. These differences are by design.

I think that this is nice-to-fix. We should look at it together with all other types of invalid IL detection we can be doing. I think it would be fine to implement these additional checks reactively, only

[2021-02-08 05:57] Anipik opened #47985 "Microsoft.Extensions.Configuration.Json.Tests Timing out on net48 leg"
It seems like Microsoft.Extensions.Configuration.Json.Tests timed out net48 leg

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=982140&view=logs&j=be745447-21d7-5722-3f01-3e5709978455&t=80dd1e14-d738-5614-f259-51a0bdabd48b

[2021-02-08 05:58] Anipik commented on #29683
Failed again here https://dev.azure.com/dnceng/public/_build/results?buildId=982509&view=logs&j=457f7e88-dfa2-5bd9-f871-fdf124c2477d&t=bfe52dfb-2099-5c7f-ee52-70a1d81c544e

cc @bartonjs

[2021-02-08 06:00] Anipik commented on #2353
Failed here https://dev.azure.com/dnceng/public/_build/results?buildId=982443&view=results

log https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-d220956cb6aa4d46ab/System.Net.Security.Tests/console.d5707fc8.log?sv=2019-07-07&se=2021-02-27T17%3A34%3A03Z&sr=c&sp=rl&sig=6Ku0E7%2Bp7kYVfpVL71sgrbJhO0XT9SDCuydUcFeKTQ4%3D

[2021-02-08 06:04] Anipik commented on #29383
Failed again here https://dev.azure.com/dnceng/public/_build/results?buildId=982443&view=logs&j=b9b7de4d-2126-5581-6453-1576f9aaac5f&t=db048d48-40e8-5399-9b14-d587763f33ff

log https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-f42ca9b897964959b9/System.Diagnostics.Process.Tests/console.006564c7.log?sv=2019-07-07&se=2021-02-27T14%3A16%3A51Z&sr=c&sp=rl&sig=NdWxm

[2021-02-08 06:37] gbalykov commented on #43035
This was fixed by #43243, thanks!

[2021-02-08 06:37] #43035 closed

[2021-02-08 08:07] xiongrenyi opened #47986 "How to GetLastError in C# dotnet core linux when OutOfMemoryException in Thread.Start"
This is not an issue but just for understanding purpose. The OutOfMemoryException happened when we created lots of threads by mistake on dotnet core 64bit linux c# application. We kind of ruled out the the possibility of OOM on linux side by successfully creating even more threads in C directly and in Java as well. We fixed our mistake already but want to understand what really caused Thread.Start

[2021-02-08 08:24] BruceForstall commented on #47970
@GrabYourPitchforks Presumably the `...` is where the difference is?

@danmosemsft This issues are almost never only jitstress, and this is especially true of System.Net failures. It's only that jitstress jobs run tests more frequently than other jobs due to all the variation. We would very much prefer that the team owning the test repro the failure and show that it only appears under jitstress an

[2021-02-08 08:28] BickelLukas commented on #47849
Here's a summary of the changes I made in order to get this to work.
- Enable `EmbedInteropTypes`
- Instantiate the interface instead of the class: `clsMain` instead of `clsMainClass` (Otherwise i get an error that the class cannot be embedded)

The weird thing is that without a reference type as a public field, I don't have to embed the interop types and can instantiate the class directly.

minim

[2021-02-08 08:57] premun commented on #47984
I suspect there is a clash of two processes/threads trying to install the tool in the same directory:
https://github.com/dotnet/arcade/blob/938b3e8b4edcd96ca0f0cbbae63c87b3f51f7afe/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner/XHarnessRunner.targets#L32

Checking the .binlog it really seems `sendtohelixhelp.proj` is now being called twice in parallel:
![image](https://user-images.githubuser

[2021-02-08 09:01] RamType0 opened #47987 "Module Initializer for platforms other than .NET 5"
AFIK , the function of module initializer is implemented by many runtime far times ago, but it was not exposed to C#.
Today, it was exposed to C# through System.Runtime.CompilerServices.ModuleInitializerAttribute, which is only available in .NET 5.
Are there plan for module initializer support for old platforms?

[2021-02-08 09:23] MichalStrehovsky commented on #13389
We pregenerate p/invoke stubs for everything that was considered reasonable to do marshalling for in crossgen2.

I'm not sure how much that helps WinForms, since WinForms uses the weirdest marshallers. But Jeremy Kuhne has been chipping away on dumb interop in WinForms and making it saner, and we also have the source generators coming. The future looks bright. We can open new bugs if there's somet

[2021-02-08 09:23] #13389 closed

[2021-02-08 09:37] Tomkaa commented on #43078
Is there a plan to make trimming feature available not only for self-contained deployments?

[2021-02-08 09:43] MaximLipnin commented on #47581
[code]

[2021-02-08 09:53] premun commented on #47984
@Anipik actually on a closer look, the tool fails to install the second time but the build continues on. The build you have sent fails a WASM test, so the issue is not within the CLI installation. You can see below in the log:

[code]

If you open https://helix.dot.net/api/2019-06-17/jobs/4d9377d7-3edc-4157-9062-068d3e4da601/workitems/System.ServiceModel.Syndication.Tests/console you will see that

[2021-02-08 09:53] #47984 closed

[2021-02-08 10:02] karelz commented on #47970
Networking in general is fairly hard area to test reliably. The tests are typically sensitive to timings, environment misconfiguration and temporary networking outages (in Outerloop).
On top of that, Helix environment pushes the limits to the extreme -- we have seen evidence of multiseconds (I think even 30s) pause between 2 instructions -- our tests are just not hardened for that :(.

As a result

[2021-02-08 10:06] krwq opened #47989 "[mono] Add support for IgnoresAccessChecksToAttribute"
The issue is specific to mono.

Most likely same issue exists for InternalsVisibleTo but this was not tested.

See System.Reflection.DispatchProxy tests disabled with this issue number. All tests are using TestType_PrivateProxy. Tests look similar to this:

[code]

the dispatch proxy adds IgnoresAccessChecksToAttribute to the assembly so that it can use that private type but gets:

[code]

note: [

[2021-02-08 10:10] ufcpp commented on #47987
just works.
https://github.com/ufcpp/UfcppSample/tree/master/Demo/2021/ModuleInitializerNet48/ConsoleApp1

[2021-02-08 10:11] huoyaoyuan commented on #47987
It is a pure compiler feature for C#. You can [define the attreibute yourself](https://sharplab.io/#v2:EYLgHgbALANALiAlgGwD4AEBMBGAsAKHQAYACdbAOgCUBXAOzkQFsBTCgYQHsmAHFFgE4BlQQDdEAYxYBnANwECdAIatpPJVLKVaDZmy69+wsZJkEA3gRLWSiBoOXIymEgFlOAExrIWASTqIjErIiABeggCCcHACiMA0cCwkICRRMXEJLOYAvgS5+AToAMzOJOwklvg2JADa7l4+/oGIwWGCALpWNsVaEGRQbgAUAJQVXdb52UA=).

[2021-02-08 10:12] Alxandr opened #47990 "Provide a way to get a PipeReader from a `ReadOnlySequence<byte>`"
## Background and Motivation

Sometimes you have data available in memory (either already downloaded or read from file or generated by your process), represented as a `ReadOnlySequence<byte>` (which may or may not be a single contiguous `Span<byte>`), and you need to feed that into an API that expects a `PipeReader`. This is basically the same usecase as a `MemoryStream` over a `byte[]`, except it

[2021-02-08 10:28] AntonLapounov commented on #13470
We need to switch ILVerify as well.

[2021-02-08 10:51] iSazonov opened #47992 "Extra save in generated code for comparison"
### Description

I created a simple test on SharpLab site and very wonder why result code saves compare result:

https://sharplab.io/#v2:C4LghgzgtgNAJiA1AHwAICYCMBYAUKgZgAIMiBhIgbzyNrtoEsA7YIuIgXiMwG4a7CJACxEAsgAoAlFX71aZAPZMICgDYBTAHQB1AE4Ng68XEl9ccugwBmRY5y7pJsudXMW5cRIjPuPXn+4Avs70ispqWnoGRiYBtMG4gUA=

[code]

Is it expected or a bug? Looks like a performance issue too.

[2021-02-08 11:05] Joe4evr commented on #47992
Seems likely because you're looking at Debug ASM, so the compare result is saved for inspection. Switch to Release and nothing of the ASM in your post remains.

[2021-02-08 11:10] #47987 closed

[2021-02-08 11:21] stephentoub commented on #47951
No, as the first line after the using.

[2021-02-08 11:29] marek-safar commented on #43078
@Tomkaa what would be the scenario where you would like to use the trimming?

[2021-02-08 11:42] MichalStrehovsky commented on #13470
This issue originally tracked getting rid of the CoreFXLab System.CommandLine since that one is unsupported and we wouldn't be able to service it in shipping products. Since then, we found out that the "new" System.CommandLine sucks perf-wise and we're better off taking the sources of System.CommandLine from CoreFXLab and running with them (and servicing them ourselves).

I see that both ILVerify

[2021-02-08 11:54] marek-safar commented on #47967
This was discussed in https://github.com/dotnet/runtime/pull/45643#discussion_r537516654

@tarekgh teams working on size goals will take care of this when it fits into their priorities list.

[2021-02-08 12:34] Tomkaa commented on #43078
@marek-safar For example: I am developing ASP.NET Core application which has some NuGet packages installed and use framework-dependent deployment model.  Some of the assemblies from NuGet are only used as middleware for local debugging. I have these middleware registrations surrounded with `#if DEBUG`, so in `Release` build these assemblies are technically not referenced anywhere, but I still have

[2021-02-08 14:24] jeromelaban opened #47996 "[Wasm][AOT] methods performing stack crawling fail under profiled AOT"
### Description

Running an application which uses any of the methods belo fails to work properly when this method is specified in the AOT profile:

[code]

It is expected as these methods uses stack walking to determine the executing assembly.

### Workaround

Exclude `System.Reflection.Assembly.GetExecutingAssembly` and the other listed methods from the AOT profile.

### Configuration

bb650672d

[2021-02-08 14:39] BrzVlad commented on #47624
@vargaz Did you spend some time thinking about this issue ? I'm not sure it is worth making interp throw like jit since that is wrong behavior. And fixing the behavior altogether seems like a non trivial fix. We need to catch all exceptions thrown from invoking a filter clause. I think we would need a new wrapper that is capable of invoking a filter clause in a method (we would need a new MONO_CEE

[2021-02-08 14:49] antonfirsov commented on #47905
Looks like we are throwing synchronously in .NET Framework:
https://referencesource.microsoft.com/#System/net/System/Net/Sockets/Socket.cs,3430
https://referencesource.microsoft.com/#System/net/System/Net/Sockets/Socket.cs,4066

I also think, we should revert to the old behavior, so *triaging* this issue to 6.0. I believe we should fix this before pushing in any further overloads.

[2021-02-08 14:54] stephentoub commented on #47905
FWIW, I wouldn't invest a ton of time and energy into doing so, nor would I jeopardize the behavior the Task-based methods to do so.

[2021-02-08 15:02] antonfirsov commented on #47905
I don't think it's a ton of time and energy to reintroduce this for the APM methods. I didn't mean to change the Task-based overloads. Putting back the `untriaged` label since there is no consensus.

[2021-02-08 15:03] iSazonov commented on #47992
Ah, yes :-) Thanks!

[2021-02-08 15:03] #47992 closed

[2021-02-08 15:23] vargaz commented on #47624
I think the problem is that the somehow the catch/filter clause catches the exception thrown from the filter itself i.e. the EH code thinks execution is still in the try block.

[2021-02-08 15:24] janvorli commented on #42924
I've tried to run all coreclr test with crossgen2 (removed the issues.targets record first) and everything passed.

[2021-02-08 15:29] BrzVlad commented on #47624
Exceptions thrown by filters should be ignored. So even if interp doesn't catch the exception by mistake there, the exception will still bubble up and kill the application which is incorrect behavior (this is what JIT is doing now)

[2021-02-08 15:40] vargaz commented on #47624
In .net, it looks like if a filter clause throws, it's treated as returning false.

[2021-02-08 15:42] BrzVlad commented on #47624
This is what ECMA says about **endfilter**: `If
an exception is thrown inside the filter block, it is intercepted and a value of
exception_continue_search is returned.`. So our current implementation is wrong anyway, both on interpreter and jit.

[2021-02-08 15:52] BenLampson opened #47997 "Why the channels's write and read use same obj to lock?"
![image](https://user-images.githubusercontent.com/15414750/107243587-1e27cd00-6a68-11eb-8539-4c9a5384df1e.png)
![image](https://user-images.githubusercontent.com/15414750/107243609-22ec8100-6a68-11eb-842e-4d006d0e246e.png)
![image](https://user-images.githubusercontent.com/15414750/107243622-25e77180-6a68-11eb-8f19-5d64ffc3ab18.png)
Here has a little question.
If the "Writer" with a while loop to

[2021-02-08 16:04] JulieLeeMSFT commented on #47972
CC @AndyAyersMS

[2021-02-08 16:05] stephentoub commented on #47997
Because the reader and writer are sharing the same data structures (e.g. the queue) and need to synchronize with each other.

[2021-02-08 16:05] karelz commented on #30782
Closing per comment above -- we couldn't reproduce, so Won't Fix.

[2021-02-08 16:05] #30782 closed

[2021-02-08 16:19] briansull commented on #47724
@sandreenko PTAL

[2021-02-08 16:20] briansull commented on #47724
@JulieLeeMSFT

[2021-02-08 16:24] davidfowl opened #47998 "Consider adding TaskCompletionSource.SetFromTask(Task)"
EDITED by @stephentoub on 1/21/2023:
- I added Try methods.
[code]

These methods require that the task argument has already completed and transfer the result/exception/cancellation state over to the TCS's Task.

## Background and Motivation

A common operation when writing async code is to execute code that returns a task and complete. This usually involves creating a `TaskCompletionSource` to re

[2021-02-08 16:24] bartonjs commented on #29683
Ultimately, that means wrapping every crypto test (or, at least all of the ones doing asymmetric cryptography) in a try/catch to exempt this e.HResult value on Windows... unless there's some sort of xunit top-level filter that can be registered.

[2021-02-08 16:37] stephentoub commented on #47998
We've considered such a thing in the past, e.g. tcs.SetFromTask(task).  But we frequently found that there was a better way of writing it.  For example, in your usage example:
[code]
passing the tcs into StartConnectionAsync and having it complete it.
[code]
or if StartConnectionAsync actually returned a Task (since I know how much you love async void methods), just using Task.Run:
[code]
which do

[2021-02-08 16:41] davidfowl commented on #47998
- I have a delegate that I can't change the signature of, so I can't pass the all the way down.
- Task.Run doesn't work for me because I need to get rid of the ExecutionContext. I'm using my new favorite method `UnsafeQueueUserWorkItem`.

[2021-02-08 16:47] briansull commented on #46884
PR to fix this issue
#47808

[2021-02-08 16:51] stephentoub commented on #47998
You can of course use SuppressFlow.  Yes, it's more code, but such a SetFromTask would need to be used enough to make it worthwhile.

Are you using UnsafeQueueUserWorkItem purely for the ExecutionContext behavior?  Or do you actually need to queue the invocation of the async operation for some reason?

This still seems to me to be too niche to warrant exposing.  The sole place we have such a SetFr

[2021-02-08 16:51] Anipik commented on #47984
Thanks @premun for taking a look

[2021-02-08 16:54] frankwwu opened #48005 "DataSet.ReadXml() throws exception"
Following C# code throws exception for .NET Core 3.1 and 5. However, it works for .NET Framework 4.8.

[code]

[data.zip](https://github.com/dotnet/core/files/5945263/data.zip)
[data.zip](https://github.com/dotnet/core/files/5945272/data.zip)

Exception message:

**XmlSchemaException: Type 'http://schemas.microsoft.com/sqlserver/2004/sqltypes:int' is not declared, or is not a simple type.**

The i

[2021-02-08 16:56] briansull commented on #43895
I will investigate

[2021-02-08 16:59] davidfowl commented on #47998
I need both behaviors.

Yea, it's not a big deal. I wrote a helper but I remembered that I also wrote a helper when we did the original SignalR (https://github.com/SignalR/SignalR/blob/75126981cd165fb57db4e38e9379e651fec1ecdf/src/Microsoft.AspNet.SignalR.Core/TaskAsyncHelper.cs#L315)

I'll look around. I don't think it's critical at the moment, I filed this because it came up again.

[2021-02-08 17:00] briansull commented on #43895
This is the backwartds compat comment in the JIT source code:

[code]

[2021-02-08 17:10] ViktorHofer commented on #47984
What's the reason for the duplicate invocation of sendtohelix.proj?

[2021-02-08 17:15] tarekgh commented on #47967
I moved it to future milestone for now and can be brought back to 6.0 when is decided otherwise.

[2021-02-08 17:31] #47929 closed

[2021-02-08 17:33] ViktorHofer opened #48000 "Dogfooding table doesn't contain the latest bits"
See the table in https://github.com/dotnet/runtime/blob/master/docs/project/dogfooding.md which doesn't list anything newer than 6.0.0 alpha1 where-as the current band is 6.0.0 preview2.

cc @hoyosjs @Anipik

[2021-02-08 17:39] bartonjs commented on #24897
Doing it through only one P/Invoke will cut down on at least (iteration*blocks)-1 transitions, which should allow higher iteration counts at the same clock time.  Assuming that only OpenSSL 1.0 is a problem, we'd just have to implement PBKDF2 as a fallback function.

[2021-02-08 17:53] greatoceansoftware commented on #43540
Do single file applications need to be code signed? What is the user experience for non-signed single file applications?

[2021-02-08 17:55] tannergooding commented on #47943
I think it might be better, long term, to just have `movd` and likewise to merge `pextrd/pextrq` and `pinsrd/pinsrq`. These really only exist because the instructions were introduced prior to x64 existing and the existing names were "misleading".
Given we don't have variants of instructions like `mov` or `add` for the `REX.W=0` vs `REX.W=1` variants, it seems somewhat unnecessary to maintain that

[2021-02-08 17:58] vitek-karas commented on #43540
@greatoceansoftware From .NET's point of view they don't need to be signed. Specific target platforms might have additional requirements though (for example macOS). The apps behave the same whether they are signed or not. .NET itself doesn't look at the signature, it's typically the target OS which does that.

[2021-02-08 18:02] vcsjones commented on #24897
That appears to be the case. CNG is known to be good, and macOS's API is straight forward enough.

One thing that needs to be checked are minimums across platforms for consistency. OpenSSL follows SP800-132 for minimums:

https://github.com/openssl/openssl/blob/a829b735b645516041b55746e013692babd8cd31/providers/implementations/kdfs/pbkdf2.c#L292-L305

So the salt size, number of iterations, and nu

[2021-02-08 18:02] trylek commented on #47984
@ViktorHofer IIRC we run it separately for a "restore" and "build" phase but I may be mistaken, I haven't looked in a while.

[2021-02-08 18:08] Tornhoof commented on #24897
Some of the min Limits might affect Test vectors, a few published ones include Iteration Count = 1.

[2021-02-08 18:10] premun commented on #47984
Actually, for this one, we send the Helix job twice. I don't think this is on purpose:

[code]

We call it twice and it constructs the payload twice and sends the job twice.

[2021-02-08 18:12] ViktorHofer commented on #47984
@premun could you please open an issue for that?

[2021-02-08 18:13] safern commented on #47984
It is actually on purpose, once runs inside a browser and the other one under V8. That is the "multi-scenario" support that we added to `sendtohelix.proj` to be able to use one azure devops job to send multiple helix jobs with the same payload.

https://github.com/dotnet/runtime/blob/d1d6ab151c693a86736f3dfdefcf09f4bbbdc2bb/eng/pipelines/runtime.yml#L284-L286

[2021-02-08 18:13] shirhatti commented on #47322
It may not be possible to tell. If I'm writing to stdout in Docker, there's no way to tell what logging driver is used and whether it's being redirected. `Console.IsOutputRedirected` doesn't work in this case.

This environment variable is already baked into all container images we (dotnet) produce.
My less preferred option is to detect whether we're in a container using something like what we hav

[2021-02-08 18:14] ViktorHofer commented on #47984
Should they be invoked in parallel as presumably currently happening? Why do we restore the global tools when invoking sendtohelix.proj?

[2021-02-08 18:15] safern commented on #47984
If you look at the azure pipelines test name that proves this is the case as they contain the scenario in the name:

  Stopping Azure Pipelines Test Run **net6.0-Browser-Release-wasm-Mono_Release-normal-Ubuntu.1804.Amd64.Open**
/__w/1/s/.packages/microsoft.dotnet.helix.sdk/6.0.0-beta.21101.7/tools/Microsoft.DotNet.Helix.Sdk.MultiQueue.targets(78,5): ...
...
  Stopping Azure Pipelines Test Run **ne

[2021-02-08 18:22] safern commented on #47984
I believe that yes they should be invoked in parallel.

That is part of the `Helix.SDK` when the tests use XHarness, they restore it to download xharness to include it as part of the payload. When we installed xharness as part of the test run on the helix machine we were restoring it ~250 times per helix job if the machines were not re-used and we were hitting throttling issues.

[2021-02-08 18:25] MattGal commented on #47984
Agreed, I'll open up an Arcade issue.   I think this was just a simple oversight because when being developed we weren't sending multiple parallel Xharness runs with the same effective flavor.

[2021-02-08 18:26] sdmaclea opened #48001 "MacOS-arm64 native crossgen2 build missing"
When building coreclr on Apple Silicon crossgen2 is created for `x86_x64` instead of `arm64`.  The native one is missing.

- This is likely blocked on using a .NET 6 preview to build. See #47245
- This is likely related to failures in these ready2run tests
   - readytorun/multifolder/multifolder/multifolder.sh
   - readytorun/r2rdump/FrameworkTests/R2RDumpTests/R2RDumpTests.sh
   - readytorun/cros

[2021-02-08 18:27] MattGal commented on #47984
Created https://github.com/dotnet/arcade/issues/6921

[2021-02-08 18:29] #47471 closed

[2021-02-08 18:33] JulieLeeMSFT commented on #43895
@briansull to discuss with @davidwrighton

[2021-02-08 18:37] JulieLeeMSFT commented on #43895
CC @dotnet/jit-contrib

[2021-02-08 18:50] Tyrrrz commented on #44944
Note: as original poster pointed out, the primary goal of this feature is to allow sending signals to the process on Windows.
If `Process` somehow exposed this functionality directly (e.g. with a `process.SendSignal(...)` method), then this switch would not be needed and may become an implementation detail (i.e. `Process.Start(...)` may still create a new process group, just not expose it to the c

[2021-02-08 18:58] trylek commented on #42924
Thanks Jan - does that mean that you've already removed the issues.targets exclusion or do we still need to do that one last step? In such case I can easily send out the trivial PR if you're busy with other matters, it's just that I noticed we're sitting on dozens of bugs in various states of freshness and I believe we should strive to close as many as we can especially if we believe that the issu

[2021-02-08 19:00] janvorli commented on #42924
I just did that locally before to check, but I can easily create a PR from that local change.

[2021-02-08 19:02] trylek commented on #42924
That would be great, thank you! I guess we can tag that PR to close this issue.

[2021-02-08 19:06] safern commented on #40398
Hit again in: https://dev.azure.com/dnceng/public/_build/results?buildId=982939&view=results (https://github.com/dotnet/runtime/pull/44608)

[2021-02-08 19:10] vargaz commented on #47581
With the PR, it no longer hangs, but still fails with:
((null) warning) CLR: Managed code called FailFast, saying "Infinite recursion during resource lookup within System.Private.CoreLib.  This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names.  Resource name: Arg_DllNotFoundException"

[2021-02-08 19:18] GrabYourPitchforks opened #48006 "Include "simple" UTF-8 validation and transcoding logic for interpreted and low-footprint scenarios"
See comment at https://github.com/dotnet/runtime/pull/47928#issuecomment-774308052 for more information. Essentially, the current UTF-8 transcoding and validation logic is "fast" logic, but there may be scenarios (interpreted, low-footprint, etc.) where we'd prefer "simple" logic instead. Imagine a _Foo.SpeedOpt.cs_ and _Foo.Simple.cs_.

@marek-safar Do you know offhand of any scenarios where this

[2021-02-08 19:31] BrennanConroy commented on #47941
Yep, the test might need to always assert 1. I don't have a working VS2017 installation currently, I'll look into getting one.

[2021-02-08 19:37] mikem8361 commented on #45689
If everybody is in agreement, I'm going to change this proposal to the above one that Jan suggested in the AssemblyExtensions namespace/class, throws instead of returns bool, and is for a single assembly at a time.

[2021-02-08 19:44] eiriktsarpalis commented on #47525
Should we expose methods that only accept a `CancellationToken` or `TimeSpan` parameter?
[code]
My feeling is that we should guide users towards always explicitly setting a `continueOnCapturedContext` parameter. (While this is clearly not the case in the `AwaitBehavior` overload, perhaps it's excusable given that it could be considered an "advanced" method)

[2021-02-08 19:51] steveisok commented on #47517
We're waiting on https://github.com/dotnet/xharness/issues/435 in order to run tests.

[2021-02-08 19:57] trylek opened #48008 "JIT\Regression\VS-ia64-JIT\V2.0-Beta2\b309576\b309576 - JIT assert in CG2 composite mode"
Example run: https://dev.azure.com/dnceng/public/_build/results?buildId=982814&view=ms.vss-test-web.build-test-results-tab&runId=30799084&resultId=101992&paneView=debug

Platform: all

Error message:

<pre>
Assertion failed '(varDsc->lvType != TYP_UNDEF) && (varDsc->lvType != TYP_VOID) && (varDsc->lvType != TYP_UNKNOWN)' in 'FullProof:Test():int' during 'Mark local vars' (IL size 1446)
</pre>

/cc

[2021-02-08 20:04] slav commented on #47700
So far the issue hasn't manifested under Ubuntu 16.04 or Debian 9. It seems the issue is outside of control of .NET dev teams and can be closed.

[2021-02-08 20:06] carlossanlop commented on #33798
It's yours, @CollinAlpert . Thanks for offering your help!

[2021-02-08 20:10] mconnew opened #48009 "WebHeaderCollection can't handle HTTP/2 psuedo headers"
### Description
CoreWCF reads the headers from the aspnetcore HttpContext.Request.Headers property and populates an instance of WebHeaderCollection (to support equivalent of existing WCF api). There are 4 pseudo headers as part of the HTTP/2 spec which start with a colon. These are `:method`, `:scheme`, `:authority`, and `:path`. When trying to add any of these headers to a WebHeaderCollection, it

[2021-02-08 20:16] dagood opened #48010 "Libraries System.Security.Cryptography.Native/pal_ssl.c fails to build on CentOS 7 with PortableBuild=false"
When I build like this:
* `./build.sh -c Release --subset libs.native /p:PortableBuild=false`
* in `mcr.microsoft.com/dotnet-buildtools/prereqs:centos-7-f39df28-20191023143754`
* on 44f8f0faee42367bdd39277d8295f6e914ad7f4a (recent `master`)

I get these build errors:

[code]

The same build command works if I revert this commit: https://github.com/dotnet/runtime/commit/464010d9d0241bbdcbfbda25b32e

[2021-02-08 20:25] Clancey opened #48012 "Mono add support for System.Runtime.CompilerServices.IgnoresAccessChecksToAttribute"
When you compile an assembly with the Attribute `[assembly: IgnoresAccessChecksTo("OtherAssembly")]` You can reference internals to the specified OtherAssembly. This works in CoreCLR, but fails in MonoVM.

[2021-02-08 20:32] dagood commented on #48010
I've submitted the revert commit as PR https://github.com/dotnet/runtime/pull/48013.

(I ran into this while developing the arcade-powered source-build CI that would catch this kind of thing, funnily enough. 😄)

[2021-02-08 20:32] lambdageek commented on #48012
`IgnoresAccessChecksToAttribute` is not part of the BCL. It's an implementation detail on CoreCLR.

That said it does seem like it would be useful to bypass method access checks in some scenarios.

[2021-02-08 20:36] bartonjs commented on #48010
Hmm.  Looking again today, I'm not seeing why the change was needed, @tmds.  I have a comment that calls out Fedora/RHEL/CentOS, but there doesn't seem to be special casing for those...

[code]

The RHEL-like builds didn't get special cased for the 1.1 behavior, so maybe I just left a misleading comment?

[2021-02-08 20:39] sandreenko commented on #48008
most likely it is a duplicate of https://github.com/dotnet/runtime/issues/48008, but let's keep it open until I confirm it.

[2021-02-08 20:42] sdmaclea opened #48015 "Fix setup-stress-dependencies"
The setup-stress-dependencies.* scripts were removed in #44490, but there are references which were missed.

Most notably
https://github.com/dotnet/runtime/blob/1bff0cce7ba7de077c09e331d24e3b27c3779888/eng/pipelines/libraries/run-test-job.yml#L94-L107

See also
[code]

/cc @echesakovMSFT

[2021-02-08 20:44] #32862 closed

[2021-02-08 20:44] #45272 closed

[2021-02-08 20:45] safern commented on #46789
Re-opening to track the 5.0.x port.

[2021-02-08 20:50] eerhardt opened #48016 "Some .c and .h files are being published for non-blazorwasm apps"
1. Install the latest https://github.com/dotnet/installer#installers-and-binaries
2. `dotnet new blazorwasm`
3. `dotnet publish -c Release`

### Expected Results

Only the files necessary to load the blazor app are in the publish folder

### Actual Results

There are 3 `.c` files and 2 `.h` files in `bin\Release\net6.0\publish\wwwroot\_framework`:

* corebindings.c
* driver.c
* pinvoke.c
* pinvoke

[2021-02-08 20:54] lambdageek commented on #48012
It seems like `IgnoresAccessChecksToAttribute` is meant to be used for some SRE scenarios, but in fact it works with normal compiled assemblies too.

[2021-02-08 20:57] AndyAyersMS commented on #47930
Added the above fix to #47959.

[2021-02-08 21:00] echesakovMSFT commented on #48015
@sdmaclea Thanks for reporting this - I will put up a PR to remove all these references.

[2021-02-08 21:02] AndyAyersMS commented on #47972
Given the relatively small number of diffs it seems like we might need to add test coverage?

@tannergooding you can also get a somewhat broader selection of methods run through the jit via SPMI these days, so you might give that a try.

[2021-02-08 21:02] wfurt opened #48017 "use of certificates after adding to X509Store is non-deterministic"
I did ran into this while working on #47729 and #46837.
related to #47680 and #47580 where users reported issues with certificate chain in SslStream.

Essentially I have private chain of certificates, I add CAs to to `StoreName.CertificateAuthority` and subsequent X509Chain.Build() may or may not see them. At this point I'm not sure if the issue is with the store or chain. When I add Sleep(5000) b

[2021-02-08 21:10] bartonjs commented on #48017
There's probably a better open issue for this somewhere, but for a quick thing:

In general, X509Store content changes very little, so we have a cache for the three stores used in chain building (My, CA, Root).  If it has been less than 1 second since we last refreshed from disk, don't check.  If it has been more than 1 second, but less than 30, see if the directory's LMT has changed to decide.  A

[2021-02-08 21:14] eugene-shcherbo commented on #47809
Hey @carlossanlop , have similar errors actually when working on the `src/libraries/System.Threading.AccessControl/tests`. In my case there is one additional error:

It seems that the reason of this happening in my case is because while compiling the code for some targets which shouldn't support mutex api the compiler creates in the obj directory `.cs` files with `.notsupported` suffix in the name

[2021-02-08 21:18] wfurt commented on #48017
I think it is ok to have lag if the store is changed from behind. I feel explicit changes should be deterministic. In example from #47680, one can load pfx and try to use it. Adding chain to store is IMHO only one way  right now how to send the client chain.  With the current behavior it is not clear when it is safe to send request via HttpClient.

Another option is to add explicit API for client

[2021-02-08 21:26] bartonjs commented on #48017
I feel like there's a request for that floating around somewhere, from someone who wants to use client auth without messing with cert stores :smile:.

[2021-02-08 21:28] trylek commented on #48008
@sandreenko - sorry about nitpicking, it looks like you accidentally mentioned this very issue as the duplicate, could you please reference the true "other" issue here for clarity?

[2021-02-08 21:29] sdmaclea commented on #42025
Fixed by #46471

[2021-02-08 21:29] #42025 closed

[2021-02-08 21:33] trylek commented on #13470
@AntonLapounov, do you agree with Michal's suggestion to close this issue for now? Or would you prefer to keep it and just re-target it to "future" i.o.w. remove it from the envisioned scope of work for .NET 6?

[2021-02-08 21:36] josalem commented on #47946
Some more investigation reveals something a little more troublesome: it appears that subsequent builds do not actually compile changed files.

For example:
1. build successfully
2. make a bad change somewhere in src/native/eventpipe (syntax error, whatever)
3. recompile <-- this will succeed and not through compiler errors despite the log saying it saw the file was changed.

[2021-02-08 21:49] am11 commented on #47946
I made a bad change on macOS after successfully running `./build.sh -subset clr+libs -rc release -lc release` once:

[code]

the next `./build.sh -subset clr+libs -rc release -lc release` execution results in:

[code]

Perhaps it is a Windows-only issue?

[2021-02-08 21:50] josalem commented on #47946
That is quite possible, as I didn't encounter this until I was doing some work on Windows.  I haven't tested this behavior on non-Windows yet.

[2021-02-08 21:51] AntonLapounov commented on #13470
@trylek I am fine with closing this one. We can use #42637 to track the issue with ILVerify.

[2021-02-08 21:53] hoyosjs commented on #47946
This seems to be causing the issues...

[code]

Changing anything within that block on a clean build, or introducing a `#error`, causes build failure. Doing this on an incremental build doesn't. I've only observed this on Windows.

[2021-02-08 21:56] sandreenko commented on #48008
Yes, my bad, the real issue is https://github.com/dotnet/runtime/issues/47308

[2021-02-08 22:10] safern commented on #47809
@Anipik could you take a look at this when possible?

[2021-02-08 22:16] safern commented on #39406
Sounds reasonable. Feel free to update the proposal to include the new constructor overload if needed.

[2021-02-08 22:20] tannergooding opened #48022 "Optimize `ckfinite` for modern baselines."
As per https://github.com/dotnet/runtime/pull/47843#discussion_r571139549, `Ckfinite` is currently doing manual bit manipulation to check if a floating-point value is finite.

Given that `SSE2` and `AdvSimd` are the required baselines for RyuJIT, we should look at optimizing the output of this instruction to just use the optimal codegen.

Notably, this can be done as effectively:
[code]

[2021-02-08 22:21] MgSam commented on #27687
@eiriktsarpalis Great point that there is a relatively easy workaround given the new methods. I haven't wrapped my brain around having them available yet. :)

That said, these overloads that I've proposed are straightforward and useful enough to be added outright, IMO. In other parts of LINQ, (like `GroupBy<TSource,TKey,TResult>(IEnumerable<TSource>, Func<TSource,TKey>, Func<TKey,IEnumerable<TSour

[2021-02-08 22:23] tannergooding commented on #39406
Is `NativeGraphics` better than `Handle` which is how (IIRC) WinForms and other similar scenarios expose the "same"?

[2021-02-08 22:23] tannergooding commented on #39406
Likewise, are there any other types where it may be beneficial to expose the underlying "handle" and/or support constructing from them?

[2021-02-08 22:32] ViktorHofer commented on #40398
If no one disagrees, I'm fine with making the change. @joperezr you are currently assigned but I'm happy to take the task over.

[2021-02-08 22:32] #13470 closed

[2021-02-08 22:37] BrennanConroy commented on #47990
Triage: This would definitely make some of the tests in AspNetCore nicer.

You should be able to write an extension method for this and party on that.

[2021-02-08 22:42] spouliot commented on #47599
I think we have different definition of _application_ :-)

An early check seems to add about 40kb to the assembly (not everything is updated). Considering the 1000s of bindings that's likely just metadata entries pointing to the same (limited set of) data and not real duplication.

[2021-02-08 22:53] JeremyKuhne commented on #39406
`Handle` might be better. I just picked what it is currently called in the proposal.

Would probably be useful to put on all of the `Gp` items. Exchanging the drawing surface (`Graphics`) was the most important.

Here are the other types. Constructing requires a little bit of investigation as we have derived classes. We'd probably have to have static factory methods (which we do have internally in

[2021-02-08 22:59] joperezr commented on #40398
up to you, this is the next item on my list so I planned to work on this tomorrow. If you'd rather take a look then I can tackle the next one on my list.

[2021-02-08 23:02] JeremyKuhne commented on #39406
@tannergooding / @safern Updated the proposal to be more thorough.

[2021-02-08 23:14] BenLampson commented on #47997
Maybe we can watch the Reader and Writer to decied how many consumer or writer here???
In this version I think there so many user can write the code like below:
[code]

[code]

[2021-02-08 23:19] janvorli commented on #47700
@slav thank you for confirming that!

[2021-02-08 23:19] #47700 closed

[2021-02-08 23:25] briansull commented on #41930
Fixed with #46765

[2021-02-08 23:25] #41930 closed

[2021-02-08 23:27] josalem commented on #47946
Looks to be due to the `{EP|DS}_INCLUDE_SOURCE_FILES` defines.  When those are on, all of the source files are `#include`d into `{ep|ds}.c` and the individual obj files are left empty.  On Windows, it looks like this is somehow causing MSVC to not recompile the `{ep|ds}.c` file on subsequent builds.

[2021-02-08 23:31] tarekgh commented on #42784
@jbogard could you please let's know if you have any comment before we proceed with the proposal.

[2021-02-08 23:40] BenLampson commented on #47997
Or we can use the data struct **like** double link(just example)?
To provider the Writer and Reader use different obj to lock?
Case when the data in "queue" has many items, the reader and writer can visit his data in the same time.

[2021-02-08 23:43] josalem commented on #47946
Confirmed: if you comment out the above define, incremental builds on release work again.

[2021-02-08 23:52] BrzVlad commented on #47887
Maybe I'm doing something wrong but it doesn't crash for me

[2021-02-08 23:53] briansull commented on #47708
I would also agree that we should just remove these ifdefs

[2021-02-08 23:53] stephentoub commented on #47997
What problem are you trying to solve? Can you please share a runnable repro of the problem?

[2021-02-08 23:54] greatoceansoftware commented on #43540
Thanks. I have a couple of machines I will test. Seems like there should be an article in the MS/.NET documentation somewhere that describes the user experience of single file installs (for comparison, there is adequate information on ClickOnce), but I haven't found one yet.

[2021-02-09 00:00] am11 commented on #47946
@lateralusX, just a guess; would it make sense to move this define https://github.com/dotnet/runtime/blob/e29b83934e7ceef9905f82bd6328cbc72db2278b/src/native/eventpipe/ep.c#L6-L7 from ep.c to a header file which is included in .c files using `#if !defined(EP_INCLUDE_SOURCE_FILES) || defined(EP_FORCE_INCLUDE_SOURCE_FILES)` condition? Currently, it seems that the objects (and defines) from ep.c file

[2021-02-09 00:06] tarekgh commented on #46704
@macrogreg per discussion we'll stick with the original proposal. and for the more broader scenarios you brought we can track those for addressing them in future.

[2021-02-09 00:16] ViktorHofer opened #48027 "Building linker tests spawns hundreds of NuGet out-of-process restore executables"
When building linker tests, NuGet is invoked per generated linker test project which a) performs poorly and b) is a can for NuGet instability issues. We should usually only invoke NuGet once for all projects as we do for all other projects in dotnet/runtime (besides for tasks).

This is achievable via a wrapper project that defines dependencies via P2Ps to all the generated linker projects. That w

[2021-02-09 00:17] ViktorHofer commented on #40398
Was already at it. Submitted https://github.com/dotnet/runtime/pull/48028.

[2021-02-09 00:27] #46724 closed

[2021-02-09 00:29] wfurt commented on #47580
reopening for servicing

[2021-02-09 00:39] JeremyKuhne commented on #47940
@tannergooding / @safern added converters for `PointF`, `SizeF`, and `RectangleF`.

[2021-02-09 01:14] CoffeeFlux opened #48031 "[mono] Switch to shared implementation of LowLevelLock"
We seem to have a separate one in our CoreLib for some reason, introduced as part of https://github.com/mono/mono/pull/17387. Ideally we would get rid of that and just set `FeatureSharedLowLevelLock`, but is used by the threadpool so it's possible it will impact TE perf numbers.

[2021-02-09 01:17] Jozkee opened #48032 "ReferenceHandler.Preserve cannot handle structs boxed in object"
### Description

When a struct is boxed in `object`, ReferenceHandler.Preserve is unable to handle correctly the instance and serialization goes into infinite loop.

We probably need to detect if `Preserve` is set and add additional object preservation logic to the call-site before `object` looks for the runtime type and redirects to the converter for it (before `TryWriteAsObject`).

[code]

### R

[2021-02-09 01:23] brianrob commented on #44123
@trylek, definitely.  This is probably a relatively trivial change to perfcollect.  It's important for versions of perf that can't process jitdumps (this is the format that the Linux perf tool can consume to resolve non-ELF symbols), but this is becoming less and less common.

[2021-02-09 01:41] jeromelaban commented on #47887
@BrzVlad are you seeing the text "hello world" world showing up ?

[2021-02-09 01:53] VincentBu commented on #47395
Failed again in run [runtime-coreclr gcstress-extra 20210207.1](https://dev.azure.com/dnceng/public/_build/results?buildId=982567&view=ms.vss-test-web.build-test-results-tab&runId=30792416&resultId=102075&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-09 01:57] VincentBu commented on #42802
Failed again in run [runtime-coreclr gcstress-extra 20210207.1](https://dev.azure.com/dnceng/public/_build/results?buildId=982567&view=ms.vss-test-web.build-test-results-tab&runId=30792410&resultId=101286&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-09 01:59] #47930 closed

[2021-02-09 02:06] AndyAyersMS commented on #46882
Implemented via #47959.

[2021-02-09 02:06] #46882 closed

[2021-02-09 02:15] #42924 closed

[2021-02-09 02:16] VincentBu commented on #12899
Failed in run: [runtime-coreclr r2r-extra 20210207.1](https://dev.azure.com/dnceng/public/_build/results?buildId=982677&view=ms.vss-test-web.build-test-results-tab&runId=30795748&resultId=105715&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-09 02:21] hoyosjs commented on #48000
I checked this. The bits are actually up to date, however the SVG's aren't. This means we've stopped publishing the updated one and the aka links now point to the last published version.

[2021-02-09 02:21] VincentBu opened #48035 "Test failure : baseservices\\threading\\currentculture\\CultureChangeSecurity\\CultureChangeSecurity.cmd"
Run : [runtime-coreclr r2r-extra 20210207.1](https://dev.azure.com/dnceng/public/_build/results?buildId=982677&view=ms.vss-test-web.build-test-results-tab&runId=30795748&resultId=105716&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-09 02:28] VincentBu commented on #45269
Failed in run [runtime-libraries-coreclr outerloop 20210208.3](https://dev.azure.com/dnceng/public/_build/results?buildId=983005&view=ms.vss-test-web.build-test-results-tab&runId=30802610&resultId=103907&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-09 02:28] JulieLeeMSFT commented on #47708
@briansull Is this .NET 6 scope?

[2021-02-09 03:10] JulieLeeMSFT commented on #47866
@kunalspathak please check the analysis from @SingleAccretion and see if we can close this issue.

[2021-02-09 03:13] echesakovMSFT commented on #42023
The issue with the JIT asserting on Arm64 platforms with a page size larger than 4KB should be resolved by #47862.

@sandreenko confirmed that the Pri1 tests pass with that change on Apple M1 (see his comment [here](https://github.com/dotnet/runtime/pull/47862#issuecomment-775589736))

@tmds Can you please also verify this the tests pass with RHEL 8 on Arm64 on top of current master (bf9f899a998eb

[2021-02-09 03:17] hoyosjs commented on #48000
Looks like we lost the badges in the move to the shared framework SDK. the assets are still versioned, so I'd say low rpi. However, it's easy to fix.

Just reset to release/5.0, grab a copy of version_badge.svg and then add the following target pending of a target like Build:
[code]

I just wonder if this should be in the SFX SDK. Thoughts @jkoritzinsky ?

[2021-02-09 03:17] jeffhandley commented on #36092
I talked with @ericstj about this today. The tests I illustrated in jeffhandley/runtime#3 indicate that changing the behavior to align with the way I understood the documentation would be a breaking change to how both `Path` and `Stem` behave--that leads us to believe this is actually a documentation issue rather than a functional one.

The documentation around the "directory base" is where the am

[2021-02-09 03:20] JulieLeeMSFT commented on #42023
Assigning @tmds to run test on RHEL8 Arm64.
@tmds we target to release this by Preview 2 (Feb-19), so it would be good if you can run tests this week.

[2021-02-09 03:21] laceous commented on #45785
For reference, this was where I found that `YII` was Kerberos
* https://stackoverflow.com/questions/5597573/how-to-find-if-ntlm-or-kerberos-is-used-from-www-authenticate-negotiate-header

The only two working examples where I've seen this working are
* my code above using curl handler
* and some python code that was also sending through a preemptive kerberos auth header

This mentions that `oY` is

[2021-02-09 03:54] theodorzoulias commented on #47998
@davidfowl an existing alternative of the proposed API is to use a cold nested task and the [`Unwrap`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskextensions.unwrap) method. The `Unwrap` resembles the `TaskCompletionSource.SetFromTask`, in that it returns a proxy of the inner task. The completion status of the inner task is propagated through the proxy.

[code]

[2021-02-09 04:02] wfurt commented on #45785
The `preauth` is not relevant here. SocketsHttpHandler will do nothing there for Negotiate/Kerberos. Could you do packet captures for working & not working case with [Wireshark](https://www.wireshark.org/#download) and either post them here or send them to my GH email.

I think it is critical for us to reproduce this so we can investigate. It is not easy for us to try it with EC. That is main reas

[2021-02-09 04:08] davidfowl commented on #47998
Man I forgot about Unwrap m. Async/await made me forget past trauma.

[2021-02-09 04:21] davidfowl commented on #47998
Do cold tasks capture the execution context?

[2021-02-09 04:57] theodorzoulias commented on #47998
I wish I knew that!

[2021-02-09 05:06] vsfeedback opened #48039 "Path.GetFileName Returns empty string for folders or files in the root of the UNC Path"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/PathGetFileName-Returns-empty-string-fo/1291165)._

---
\[severity:It's more difficult to complete my work\] I noticed a problem in .NET 5 with the Path.GetFileName function. Looking at the source for this it appears to have been changed to using ReadOnlySpan's compared to the much simp

[2021-02-09 05:27] #47259 closed

[2021-02-09 06:22] AaronRobinsonMSFT commented on #47735
Thanks for pointing this out @macrogreg. Your note about encoding is the accurate. The copying details are typically around encoding although there are issues relating to terminating nulls. We will update the docs.

/cc @jkoritzinsky @elinor-fung

[2021-02-09 06:44] AaronRobinsonMSFT commented on #47849
/cc @elinor-fung

[2021-02-09 06:53] NicoleWang001 opened #48388 "[ARM64]On Mac(Apple M1),SDK-6.0-osx-arm64 need Rosetta"
**Affected Mac:**
Mac OS: Big Sur(11.2) - Apple M1 chip
.NET 6 arm64: 6.0.100-preview.1.21106.4(runtime 6.0.0-preview.1.21102.12)

**Steps to reproduce:**
1.Install .NET arm64 SDK 6.0.100-preview.1.21106.4(runtime 6.0.0-preview.1.21102.12)

**Expected result:**
Native ARM 64 SDK can install without rosetta

**Actual result:**
It need install rosetta to install .NET arm64 SDK
![image](https://user-