[2020-05-23 09:31] #36330 closed

[2020-05-23 11:06] michalfi opened #36923 "Misleading exception when processing of included XSD fails"
## Description

When there is an exception during preprocessing an XML schema that uses XS:include, the exception is silently swallowed by the `XmlSchemaSet `code. Instead, a misleading exception is thrown only after `Compile()` is called on the schema set.

### Minimal repro:

**main.xsd:**
[code]

**included.xsd:**
[code]

**code:**
[code]

In this case, the included schema is not added to the s

[2020-05-23 11:27] bert2 commented on #31242
Closed in favor of #822

[2020-05-23 11:27] #31242 closed

[2020-05-23 14:05] benaadams commented on #2325
💜 Thank you; sounds like this issue would be resolved then and the other fixed by a tweak in Roslyn (though that proved a bit hard when I looked; might give it another go though)

[2020-05-23 14:05] JohnGalt1717 commented on #1570
The purpose of this is the following:

Database query is executed, mapped to DTOs as part of the select, and then sent to the client.

Right now, the entire recordset is loaded into memory and returned as an ienumerable that is then sent on to the client in whatever serialization format you request, and the client may or may not stream that.

In this scenario, that database query is returned as an

[2020-05-23 14:09] onionhammer commented on #1570
@JohnGalt1717 not to mention it throws after 8192 records (IIRC)

[2020-05-23 14:31] vanillajonathan commented on #36843
@bartonjs, Oh I did not even consider that strings cannot be hashed, only bytes. Good point. As per the optional encoding parameter it is not all that necessary as long as there is a sane default since you can call the `GetBytes` method on any `Encoding` class.

I want to a compute the hash of a string, so then I want to just pass in the string, but instead I have first transform it into bytes, so

[2020-05-23 14:35] plamploika commented on #34173
Sorry for the intrusion and maybe a stupid question but,
I read this [article](https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md) and I was surprised by the following sentence: "Miguel is building Baby Shark, a popular iOS application. He started with .NET that supported iOS 13 but Apple just released iOS 14. He downloads the updated version of the .NET 5 SDK which now also

[2020-05-23 14:59] vanillajonathan commented on #36844
I am not interested in using the HMAC-* classes for password hashing. I want to use it for signing a message with a pre-shared secret so that I can send the message along with the hash to the recipient who will be able to prove that the message have not been tampered with by computing the received message with the pre-shared secret and compare the hashes.

The pre-shared secret would probably be s

[2020-05-23 15:09] NUnitTester opened #36925 "Cannot serialize XML with nested classes (2) - Microsoft.XmlSerializer.Generator 2.2.0"
The problems ocure while transforming a project from .NET Framework to .NET Core 3.1 with
Microsoft.XmlSerializer.Generator 2.2.0.
It seems to be a bug in the generator. There should be no reason to analyze types that are not serialzed.

The following example works fine with .NET Frameworks but fails in .NET Core.
[code]
Error Message:
There was an error reflecting type 'DbGenerator.Info2.Flag'.
T

[2020-05-23 15:16] svick commented on #34173
@plamploika As far as I can tell, the plan is to distribute iOS support separate from the SDK, using a new concept called ["workload"](https://github.com/dotnet/designs/blob/master/accepted/2020/workloads/workloads.md).

[2020-05-23 15:27] ABaboshin opened #36927 "[profiler] Get generic type arguments"
I'm using ICorProfilerCallback8::JITCompilationStarted to intercept the calls and to instrument some methods.

To retrieve the method information I'm using `GetMemberRefProps/GetMemberProps/GetMethodSpecProps`:

[code]

To get the type information I'm using `parentToken` and `GetTypeDefProps/GetTypeRefProps/GetTypeSpecFromToken`:

[code]

I've faced a problem when parsing the type signature to the

[2020-05-23 15:30] logiclrd commented on #1570
That's all true but missing my point. It's not buffering and blowing up because it's `IEnumerable` and not `IAsyncEnumerable`. The `async` vs `non-async` only applies to how _individual records_ are retrieved from the enumerator. System.Text.Json absolutely should learn how to work with `IAsyncEnumerable`, but it doesn't need to be async in order to _not buffer_. The thing that's buffering is ASP.

[2020-05-23 15:43] JohnGalt1717 commented on #1570
I don't believe that's actually true.  I've tried it, and if I return an IAsyncEnumerable from EF Core on the mvc endpoint, it loads the entire thing in memory and then streams it to the client via the serializer.

If I have this:

public async Task<IAsyncEnumerable<someType>> SomeMethod() {
  return someEfCoreResult.AsAsyncEnumerable();
}

It should stream record by record through the pipeline as

[2020-05-23 16:02] logiclrd commented on #1570
Oh? I tried passing `IAsyncEnumerable` into `JsonSerializer` and all it ever gives back is `{}`. Maybe ASP.NET Core has special handling in between, though, in the way that it is buffering the response. Again, the problem is ASP.NET Core buffering the response, _not_ the serialization infrastructure, and whether it is `async` or not is irrelevant.

Making something `async` doesn't make it run in i

[2020-05-23 16:10] davidfowl commented on #1570
@logiclrd is right that there’s 2 types of “async” happening here:
1. Asynchronous IO (writing the data async)
2. Producing each item asynchronously

ASP.NET is currently buffering to avoid having to implement custom array serialization, that should be in the JSON serializer (hence this issue).

I also agree that for EF it’s not as big a deal if results are produced “quickly” enough then there’s b

[2020-05-23 16:14] logiclrd commented on #1570
I don't think ASP.NET is buffering only because of System.Text.Json not supporting `IAsyncEnumerable`, though. I will double-check this, but I'm pretty sure it has been my observation that ASP.NET also buffers the entire set when you return a plain `IEnumerable` from a controller.

[2020-05-23 16:30] logiclrd commented on #1570
Okay, I tested it and I was wrong. In my earlier testing, I just didn't wait long enough for it to fill the buffer. The test had a delay between objects returned, and that delay meant the data rate was low enough that it could run for quite some time without producing any output.

There _is in fact a serious bug_, though: If you return an `IEnumerable` that produces data indefinitely from your con

[2020-05-23 16:39] krwq commented on #36923
Hello @michalfi, have you tried to use [ValidationEventHandler](https://docs.microsoft.com/en-us/dotnet/api/system.xml.schema.xmlschemaset.validationeventhandler?view=netcore-3.1)?

[2020-05-23 16:41] plamploika commented on #34173
@svick, yes, it is great
But the problem remains with the long wait for the new version of the framework, which includes bundles for the new version of the OS.

I'm also interested in what will happen to the bindings after the release of the new version of the .net. For example, in the future, where there is .net9.0, the Apple provides iOS 16. Will .net5.0 be updated to support the bindings for iO

[2020-05-23 16:46] krwq commented on #36843
@vanillajonathan for local usage why isn't `"foo".GetHashCode()` sufficient? Also you can create an extension method in your code for computing specific hash in a specific way

[2020-05-23 16:56] rducom commented on #36447
This NUMA data locality / affinity subject could be a dedicated GH issue, since there's lot of sub-subjects and consequences. (and [some issues](https://github.com/dotnet/runtime/issues?q=NUMA) about it)

On one side, processors are being less and less monolithics either on AMD or Intel side (Ryzen inter-CCX is twice the intra-CCX latency), on the other side we are using more and more multi-socket

[2020-05-23 16:58] svick commented on #34173
@plamploika

I don't think you will have to wait long. [From the document I linked above:](https://github.com/dotnet/designs/blob/master/accepted/2020/workloads/workloads.md#acquisition)

---

If the release schedule proceeds according to [the current plan](https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates), .Net 9.0 will be released in 2024. By then, .Net 5.0 (which is not

[2020-05-23 17:40] armitagemderivitec commented on #34964
I'm replicating the above setup on Mac OS. I have everything building and running but I cannot attach a lldb or gdb debugger to dotnet because it is runtime hardened:
[code]
Current dotnet entitlements:
[code]
How do I safely bypass the security without disabling SIP entirely. Is there any documentation on this anywhere? Is it just a case of re-signing dotnet with:
[code]

Any advice very welcome!

[2020-05-23 19:15] bartonjs commented on #36844
String-based keys provide too much confusion.  Is it hex parsing, or a text encoding?

While the discussion for hashing strings can continue in #36843, accepting a string as a key to an HMAC or an encryption algorithm isn't something that would provide enough value to offset the cost of ambiguity.

[2020-05-23 19:15] #36844 closed

[2020-05-23 19:30] armitagemderivitec commented on #34964
Re-signing with the additional entitlement `com.apple.security.get-task-allow` seemed to do the trick. I can successfully debug a test in c#, attach the lldb debugger, activate the cpp breakpoints and then detach the .Net Core debugger. However although the program states that it's running the cpp debug breakpoint is never hit and the application appears stalled. Logs attached:

[lldb.log](https:/

[2020-05-23 19:46] GrabYourPitchforks commented on #36843
For cryptographic primitives like this, I think it's reasonable to require the caller to provide the data in the format the primitive expects. In this case, that'd be a buffer of bytes.

If we wanted to add a higher-level API which encapsulated the several steps required to accomplish some scenario, that seems like it'd be a reasonable request. But IMO those higher level APIs should be their own t

[2020-05-23 19:50] jmaine opened #36930 "Copy Activate.ps1 activate.sh from Asp.Net Core to .Net runtime to use before VS Code."
### Description
Copy these files below to the root of the .net runtime repository.
* https://github.com/dotnet/aspnetcore/blob/master/activate.ps1
* https://github.com/dotnet/aspnetcore/blob/master/activate.sh

### Configuration
This is to help develop the .Net runtime using VS Code like it is used in the same way for Asp.Net Core.

[2020-05-23 21:25] sdmaclea commented on #34964
I think that is a side affect to the `handle SIGTRAP pass noprint nostop` or its equivalent in `lldb`

You could add a breakpoint in C# before the failing SWIG call.
Run the code, wait for it to break in C#.
While code is at C# break.
Stop the code in lldb w/ `^C`? (optional?)
Set the breakpoint in `lldb`
Disable the `handle SIGTRAP pass noprint nostop` in lldb.
Remove/Disable all C# breakpoints
H

[2020-05-23 21:49] AraHaan opened #36931 "[System.Test.Json] JsonStringEnumConverter should support enum values marked with EnumMember and use the value from that when serializing/deserializing."
I personally think that EnumMember should be supported, many users try to use it with the JsonStringEnumConverter that comes shipped with System.Text.Json itself. Because of this they can run into an System.Text.Json.JsonException from doing such which sucks.

Take a look at the draft pr that is on hold because this is 1 of the issues they face when trying to eradicate newtonsoft.json: https://git

[2020-05-23 22:01] jmaine commented on #36690
I believe the correct fix would be to add a `LdapConnection.SendRequestAsync()` method.

[2020-05-23 22:10] stephentoub commented on #36690
Task, e.g. Task.Run

[2020-05-23 22:17] vanillajonathan commented on #36843
@krwq Because `GetHashCode` is not cryptographically secure, hence it is not suitable for determining data integrity against tampering.

The extension method is a good interim idea. Here is an implementation if anyone happens to be interested:
[code]

@GrabYourPitchforks, interesting point. It leads my thoughts to the facade pattern.

[2020-05-23 22:29] GrabYourPitchforks commented on #36885
All of the failing tests involve globalization-related code paths. I suspect whatever is causing https://github.com/dotnet/runtime/issues/36883 is also causing this.

[2020-05-23 22:42] JimBobSquarePants commented on #957
Heads up... CoreFX links at the top of the page are broken. Attempted to see if I could add canonical links here but wasn't sure which branch they should now point to.

[2020-05-24 02:09] softboy99 commented on #36683
Hi,
After update to .net framework 4.8, it also depends on System.Net.Http 4.2.0.0

[2020-05-24 02:27] davidsh commented on #31364
PR #36583 refactored the NegotiateStream class and removed the separate NegoState class. So, this issue appears moot now.

[2020-05-24 02:32] stephentoub commented on #31364
It's still there, just now in NegotiateStream:
https://github.com/dotnet/runtime/blob/49f40c34e4e18a4b80c7aa5d11104c9624a2667e/src/libraries/System.Net.Security/src/System/Net/Security/NegotiateStream.cs#L73

[2020-05-24 02:40] joshlang opened #36937 "Option to not truncate datetime when serializing using System.Text.Json"
Original issue is here with more context: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1468

System.Text.Json docs here: https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support#the-extended-iso-8601-12019-profile-in-systemtextjson

Basically, System.Text.Json will truncate a serialized DateTime to avoid writing extra zeroes.

`2020-05-02T18:42:34.9787000Z`
woul

[2020-05-24 02:48] #24239 closed

[2020-05-24 02:50] andyhopp opened #36938 "RSAOpenSSL doesn't appear to support HSM-managed keys?"
### Description
I have an OpenSSL dynamic engine installed that manages keys on an HSM, but when I attempt to use a PFX to create an X509Certificate2 that uses that key, I am presented with an error:
Error occurred during a cryptographic operation.

HasPrivateKey on the X509Certificate2 returns True.

A sample stack trace is below:
Unhandled exception. System.Security.Cryptography.CryptographicExc

[2020-05-24 03:17] jkotas opened #36939 "GC/API/Reports/GC.API/GC/AddThresholdTest/AddThresholdTest failing on ARM64"
[code]

[2020-05-24 03:17] jkotas commented on #36939
Failed in #36924

[2020-05-24 03:20] jkotas commented on #36939
Likely related to #36767

[2020-05-24 03:41] wfurt opened #36941 "Ping does not work on iOS devices"
### Description
This is fragment of #36890. When Ping is executed on non-windows platforms as ordinary user, it will try to start system ping utility as separate process. That will not work on various mobile devices.

### Configuration
I was able to reproduce this on iPhone X simulator with 13.4 iOS. This is generally applicable to all .NET versions.

### Regression?
no.

### Other information

@m

[2020-05-24 04:00] Turnerj commented on #36621
One thing that might be of note, in my case it doesn't seem to be limited to value types being nullable, we have the error also happening on type `string`.

CI Test Result: https://ci.appveyor.com/project/RehanSaeed/schema-net/builds/33064765/job/62lxs509wsfre175#L2698
Test Code: https://github.com/RehanSaeed/Schema.NET/blob/77413e5e5594130960fec1fe7f7198c985ed937f/Tests/Schema.NET.Test/ValuesJson

[2020-05-24 04:10] wfurt commented on #36890
[code]

This suggest that either we did not copy the supporting file to the device or GetTestFilePath() from TestUtilities returns wrong location. I don't know if there is some good way to triage it @mandel-macaque  but that does not look like networking issue.

[2020-05-24 04:23] wfurt commented on #36890
All the failing mail tests are unicode. Most likely related to https://github.com/dotnet/runtime/issues/33654 and https://github.com/dotnet/runtime/issues/33652.

[2020-05-24 04:28] #21439 closed

[2020-05-24 05:36] Joe4evr opened #36942 "API Proposal: Dictionary<K,V>.Update to replace a value without double-lookup"
## Background and Motivation

I have a class that implements copy-on-write semantics:
[code]

This class is used as a Dictionary value, but currently it requires a double lookup in order perform an update operation:
[code]

It certainly feels like something could be done to avoid the second indexing operation there.

## Proposed API

#26848, who had pretty much the same problem, suggested copying

[2020-05-24 05:46] YairHalberstadt commented on #36942
Personally, I would appreciate all the ConcurrentDictionary methods on Dictionary:

AddOrUpdate
GetOrAdd
TryRemove
TryUpdate
TryAdd

However, I think it might make more sense to add them as extension methods/DIMs on IDictionary.

[2020-05-24 07:01] jkotas commented on #36939
Duplicate of #36850

[2020-05-24 07:01] #36939 closed

[2020-05-24 08:34] ViktorHofer commented on #36930
I don't see any reason why we would need these files to support VSCode? Test execution inside VS or VSCode should "just" work without any env var modification.

[2020-05-24 09:02] bsagal opened #36943 "Mutiple Calls to Microsoft.Extensions.Hosting.BackgroundService StartAsync will leave unstoppable tasks"
### Description

If I an `BackgroundService` object and call `StartAsync` multiple time i get left with unstoppable services.

The following code shows the problem

[code]

Will Output:
[code]

### Configuration

The problem is reproducible with `Microsoft.Extensions.Hosting.Abstractions` Version `5.0.0-preview.4.20251.6`

### Regression?

With `Microsoft.Extensions.Hosting.Abstractions` Version `

[2020-05-24 09:15] skippernl opened #36944 "Using -comObject in pwsh7 is extremly slow compaired to powershell 5.1"
Hi I was pointed in this direction by the pwsh7 team.

I have a powershell script that takes the config of a firewall and creates an excel document from it.
On powershell 5.1 this takes about 5 minutes depending on the size of the config.
On powershell 7 this takes more that 2 hours.
The main  function that slows down is writing to excel
$Excel = New-Object -ComObject Excel.Application
$Excel.Visi

[2020-05-24 09:18] tommcdon commented on #36927
@davmason

[2020-05-24 09:20] tommcdon commented on #36882
@steveisok would you mind adding a milestone to this issue?

[2020-05-24 11:07] wicharypawel commented on #1793
@scalablecory thank you for your answer, as long as this would be possible to implement, it's fine to me.

[2020-05-24 12:01] brunohbrito commented on #36888
Hi @joperezr / @danmosemsft ,

To do theses tests I'm using an Active Directory under Windows Server 2019 Datacenter.

# Scenario 1 - Authenticating user

I'm running the following code snippet both for Windows and Linux Environment.

[code]

## Windows Environment - Running in .NET Core 3.1 and .NET 5.0

The code runs fine.

## Linux - Running in a container. runtime:5.0-buster-slim

At first run

[2020-05-24 12:05] jakub-klima opened #36945 "Introduce IReadOnlyObservableCollection<T>, a common interface for observable collections"
`IReadOnlyObservableCollection<T>` would be a common read-only interface for `ObservableCollection<T>` and `ReadOnlyObservableCollection<T>` (and similar custom implementations). It would compose already implemented interfaces into a single one. That allows to accept all its implementations into a method or to express read-only intention when working with `ObservableCollection<T>`.

The proposed `

[2020-05-24 12:07] brunohbrito opened #36946 "System.DirectoryServices.Protocols - libldap search_ext_s wrong signature"
### Description

I was trying to search a user specific metadata by following code snippet:

[code]

Some crash occurs, bipassing even the trycatch.

### Configuration

* Which version of .NET is the code running on?
.NET 5.0
* What OS and version, and what distro if applicable?
Linux - Debian 10

### Other information

I got that the parameters `timeLimit` and `sizeLimit` of method `search_ext_s`

[2020-05-24 12:07] marcbarry commented on #35493
Hmm. Was the fix you mentioned definitely included in `v3.1.300` released on `2020-05-19`? I'm reading the latest comments in https://github.com/dotnet/runtime/issues/3778 which suggests it was - but I'm still seeing the same behaviour described in this issue.

I believe I'm testing using the latest SDK version and the behaviour remains the same. If I remove the contents of the extracted temp dire

[2020-05-24 12:16] brunohbrito opened #36947 "System.DirectoryServices.Protocols - Night build preview 6 - Compatibility between wldap32.dll and libldap"
### Description

I'm running the following code snippet both for Windows and Linux Environment.

[code]
Under Windows environment it's not necessary to concat domain at username. But when running under Linux environment it's necessary, of course a Invalid Credential will be thrown.

### Configuration

* Which version of .NET is the code running on?
.NET 5
* What OS and version, and what distro if

[2020-05-24 12:20] shaggygi commented on #1793
I'm still a little confused on how the `TryGetProperty` will work.  What if you have a multiple properties of the same Type, how would it know when to get a specific property?

[2020-05-24 12:24] brunohbrito opened #36948 "System.DirectoryServices.Protocols - Night build preview 6 - LDAP Linux Search Error"
### Description

I was trying to search a user specific metadata by following code snippet:

[code]
The code runs fine at Windows Environment, but doesn't work under Linux. Doesn't matter the changes at filter / parameters I do the error is always the same: `An unspecified operation error occurred.`

### Configuration

* Which version of .NET is the code running on?
.NET 5.0
* What OS and version,

[2020-05-24 12:50] brunohbrito opened #68365 "Missing package libldap-2.4.so.2 at runtime:5.0-buster-slim"
## Steps to reproduce the issue
1. Create a .NET 5.0 Console app
2. Run:
[code]
3. Get night build from System.DirectoryServices.Protocols, version 5.0.0-preview.6.20272.2
4. Add the following code:
[code]
5. Run into container runtime:5.0-buster-slim
Reference Dockerfile
[code]

## Expected behavior
Run without bugs

## Actual behavior
We got this error at logs:
 `Unable to load shared library 'l

[2020-05-24 13:20] roji opened #36951 "Performance of multi-buffer socket write APIs (scatter-gather)"
As part of looking at multiplexing and perf for Linux, I did a quick benchmark of "gather socket I/O", i.e. writing multiple buffers to a socket in one go. This would open up some  interesting possibilities to further push perf (and also considerably simplify things for the design). Here are some quick results and observations:

* Socket.SendPacketsAsync seems to be particularly bad on Linux, sinc

[2020-05-24 13:30] teenccu commented on #36470
@bartonjs

Thanks for your response. The Key prompt was for client certificate in case of mutual authentication.

I did some research and as you mentioned I saw that SSLStream uses the external process Isass.exe for opening the Key and there it fails if there is a PIN.

And in WCF, though the Certificate is attached to the channel is with a  CNGKey(with PIN property set) but later the Key  is agai

[2020-05-24 13:30] #36470 closed

[2020-05-24 13:31] stephentoub commented on #36951
How many buffers are you using such that this copy shows up in profiles as being "expensive"? This is copying the buffer references/bounds, not the contents of the buffers.

[2020-05-24 13:40] stephentoub commented on #36951
From a quick look at the benchmark, you're always copying N bytes, and it's either all in one buffer or split across M buffers? All in one buffer is always going to be faster. The interesting thing to measure/compare is the overhead it takes to get M buffers into one buffer and sending that vs sending the M buffers.

Or am I misunderstanding what's being demonstrated here?

[2020-05-24 13:52] stephentoub commented on #36951
This could certainly be improved. The API that exists is closely tied to the Windows API it was originally wrapping, and supports "packets" that are either buffers or files. We need to maintain the relative ordering, and we use sendfile for the files. But the implementation could be changed to build up a list of adjacent buffers and send those in one shot. We'd need to measure to see at what point

[2020-05-24 13:54] omariom commented on #36945
ReadOnlyObservableCollection<T> and ObservableCollection<T> are most often not passed into methods, but exposed from object models as properties.  So IReadOnlyObservableCollection<T> is less useful in the scenario as we don't want the consumers of the model to just cast it to ObservableCollection<T> and mute it.

[2020-05-24 13:56] michalfi commented on #36923
Hi @krwq, sure I can do that now that I've located the issue.

But I stumbled upon this when porting existing code to .NET core and it wasn't as simple as the minimal repro given here. It took quite some time to debug to the root cause.

Also, the message given by the event handler is still not very clear.

Only the inner exception finally gives the real reason

For me, the issue is solved; I'm th

[2020-05-24 14:05] omariom commented on #36522
If you control creation of the channel you could make it non-dropping and then TryWrite on the sending side and dispose the object in the right context.

[2020-05-24 14:41] EgorBo opened #36952 "RyuJIT should optimize "X & mask" to "(type)X""
Inspired by https://github.com/dotnet/runtime/pull/36920#discussion_r429533435, e.g.
[code]
Expected codegen:
[code]
Actual codegen:
[code]

Quick prototype: https://github.com/EgorBo/runtime-1/commit/dcf81a58c21cae3bac2f2395f97c860b1c67913b

Jit-diff:
[code]
Full [log](https://gist.github.com/EgorBo/6e1cccadfbe43d8d6ee13316ba784ca3#file-jitlog-txt).
Most of the jit-diff comes from `System.Data.RB

[2020-05-24 15:41] jnm2 commented on #36942
@YairHalberstadt If they were added as extension methods, I don't think they'd be able to avoid the double lookup.

[2020-05-24 15:50] YairHalberstadt commented on #36942
@jnm2 I care less about the double lookup and more about convenience

[2020-05-24 15:54] danmosemsft commented on #36888
@brunohBruno this is very useful thank you for opening the issues. We will take a look and fix as needed.

[2020-05-24 16:03] MaceWindu opened #36954 "access violation with System.Data.OleDb 4.7.1"
### Description

After System.Data.OleDb 4.7.1 release, which fix transaction issues, we tried to enable our access oledb tests in .net core and faced another issue:
now tests crash (not always, in about 50% of runs) with access violation. This behavior wasn't observed before with 4.7.0 and is not observed in .net framework, so I would suspect something still is not right with System.Data.OleDb co

[2020-05-24 16:35] joperezr commented on #36888
Thank you so much for trying out our bits and we really appreciate the feedback 😄
Few comments regarding that:

Yes in order to run in Linux or OSX we do require libldap to be installed, which is the case for most Linux distros out there as well as OSX. That said, I do believe that minimal OS versions like the ones used in docker might stripped these dependencies out, so it makes sense you were hi

[2020-05-24 17:17] andyhopp commented on #36938
Update: I have implemented a class that uses the ENGINE_* functions to load/initialize/set as the default provider for (RSA/DSA/Cipher/etc.) and would like to contribute this back. Is there someone who would be willing to coach me on this?

[2020-05-24 18:15] vcsjones opened #36957 "PemEncoding.TryFind can produce an ArgumentOutOfRange exception"
Code to reproduce:

[code]

[2020-05-24 18:35] vcsjones commented on #36938
I assume you mean add new public APIs and classes for other developers to consume, right? If that's the case - the place to start is to go through the [API Review Process][1] with a proposal. Basically open up a new issue with un-implemented methods for your new public APIs, give a few examples of usage, etc. An example proposal is [here][2].

[1]: https://github.com/dotnet/runtime/blob/master/doc

[2020-05-24 18:45] marcbarry commented on #35493
Just to say, the fix is working for me now - I've updated visual studio to the latest version and restarted. Not sure why that was required to take advantage of this fix, but that seemed to be the missing step.

It works as expected now, thank you @swaroop-sridhar

[2020-05-24 19:16] roji commented on #36951
I probably should have provided a bit more context here. In my current prototype, multiple producers encode directly into different segments of a single large buffer, which is then written and flushed; the disadvantage is that encoding is serialized, since lengths aren't necessarily known in advance, and management of multiple encoding producers would be quite complicated. The ideal situation is f

[2020-05-24 19:20] jakub-klima commented on #36945
I agree that if you are not sure what clients do (e.g. in public API) you should use read-only wrapper (use case 1). But for internal purposes where you know your clients I think using the interface might be easier than wrapping it (use case 2). (Also, can't there be a performance problem with wrapping in some scenario?) So, are there any downsides to add the interface to help with use case 2?

[2020-05-24 20:01] roji commented on #36951
Just to be clear, this isn't urgent and I don't have any immediate pressing need for using this (though I may at some point).

[2020-05-24 20:55] TapsTach opened #36961 "Release deployment on IIS not working for me for blazor client side 3.2"
I deployed blazor wasm as a static site in IIS, I'm getting this error if it's published with release configuration. With visual studio it's the same result as well.

![image](https://user-images.githubusercontent.com/18129453/82764488-54a4b580-9e0f-11ea-970f-cc6c7353d8be.png)

Of which if I switch to debug it loads, and I can't seem to deploy my application under release configuration.

The confi

[2020-05-24 22:02] Genbox commented on #35495
@damageboy has a really [good article](https://bits.houmus.org/2020-02-01/this-goes-to-eleven-pt4) on the subject where this issue, as well as 2 other minor code quality issues, are described.

I'm all for better code quality as everyone benefits from them. A tight loop with 1-2 unnecessary instructions can blow the roof off performance-critical code.

I'll cheekily cc @mikedn as well since there

[2020-05-24 23:34] jmaine commented on #36930
@ViktorHofer, I have to use those files to get Omnisharp to load the *.csproj files correctly; otherwise, I  cannot use the "find declaration" or "find all references" features that Omnisharp provides.

I am using the C# extension for VS Code provided by Microsoft.

[2020-05-25 00:02] jmaine commented on #36931
This looks like an easy issue to fix. The only question is which version do we want to put the fix in?

[2020-05-25 00:23] RamType-0 commented on #36522
It works only when DropWrite.

[2020-05-25 00:51] v-haren opened #36962 "Test failure: tracing/eventpipe/buffersize/buffersize/buffersize.sh"
failed in job: [runtime-coreclr outerloop 20200524.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658427&view=ms.vss-test-web.build-test-results-tab&runId=20433012&resultId=110220&paneView=debug)

Error message
[code]

[2020-05-25 01:44] v-haren opened #36963 "Test failure: Assertion failed 'regCount <= 2'"
failed in job: [runtime-coreclr jitstressregs 20200524.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658356&view=ms.vss-test-web.build-test-results-tab&runId=20431336&resultId=102911&paneView=debug)

failed tests:
JIT/HardwareIntrinsics/Arm/Sha256/Sha256_r/Sha256_r.sh
JIT/HardwareIntrinsics/Arm/Sha256/Sha256_ro/Sha256_ro.sh
Interop/PInvoke/Generics/GenericsTest/GenericsTest.sh
Int

[2020-05-25 01:58] brunohbrito commented on #36888
Yes, It sounds good to me. There is a chance to Visual Studio identify which package is referenced during Add Docker Support from Solution Explorer and auto add apt-get some required packages?
![image](https://user-images.githubusercontent.com/7241156/82770589-7aca5580-9e0f-11ea-8f92-53637409b947.png)

No, either my Linux and Windows wasn't joined at domain. I've created a Virtual Machine at Azure

[2020-05-25 02:22] v-haren opened #36964 "Test failure: JIT\\jit64\\hfa\\main\\testE\\hfa_sf2E_r\\hfa_sf2E_r.cmd"
failed in job: [runtime-coreclr jitstress2-jitstressregs 20200524.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658473&view=ms.vss-test-web.build-test-results-tab&runId=20435328&resultId=101232&paneView=debug)

failed tests:
JIT\\jit64\\hfa\\main\\testE\\hfa_sf2E_r\\hfa_sf2E_r.cmd
JIT\\jit64\\hfa\\main\\testE\\hfa_nf2E_d\\hfa_nf2E_d.cmd
JIT\\jit64\\hfa\\main\\testE\\hfa_nd2E_d\\hf

[2020-05-25 02:30] v-haren opened #36965 "Test failure: Interop\\PInvoke\\Generics\\GenericsTest\\GenericsTest.cmd"
failed in job: [runtime-coreclr jitstress2-jitstressregs 20200524.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658473&view=ms.vss-test-web.build-test-results-tab&runId=20435328&resultId=100418&paneView=debug)

failed tests:
Interop\\PInvoke\\Generics\\GenericsTest\\GenericsTest.cmd
Interop\\PInvoke\\Decimal\\DecimalTest\\DecimalTest.cmd
Interop\\PInvoke\\Vector2_3_4\\Vector2_3_4\

[2020-05-25 02:33] v-haren opened #36966 "Test failure: Interop\\IJW\\NativeVarargs\\NativeVarargsTest\\NativeVarargsTest.cmd"
failed in job: [runtime-coreclr jitstress2-jitstressregs 20200524.1](https://dev.azure.com/dnceng/public/_build/results?buildId=658473&view=ms.vss-test-web.build-test-results-tab&runId=20435328&resultId=100380&paneView=debug)

Error message
[code]

[2020-05-25 02:48] v-haren opened #36967 "Test failure: JIT\\Methodical\\structs\\systemvbringup\\structinregs\\structinregs.cmd"
failed in job: [runtime-coreclr jitstress2-jitstressregs 20200524.1](https://dev.azure.com/dnceng/public/_build/results?buildId=658473&view=ms.vss-test-web.build-test-results-tab&runId=20435328&resultId=106408&paneView=debug)

Error message
[code]

[2020-05-25 02:51] v-haren opened #36968 "Test failure: JIT\\Regression\\VS-ia64-JIT\\V1.2-M02\\b108129\\b108129\\b108129.cmd"
failed in job: [runtime-coreclr jitstress2-jitstressregs 20200524.1](https://dev.azure.com/dnceng/public/_build/results?buildId=658473&view=ms.vss-test-web.build-test-results-tab&runId=20435328&resultId=107217&paneView=debug)

Error message
[code]

[2020-05-25 04:07] jmaine commented on #36931
I am working on a pull request for this.

[2020-05-25 04:25] softboy99 commented on #36683
@GrabYourPitchforks Do you mean it has been supported? in which verson?System.Net.Http 4.2.0.0 or latest 4.3.4?

[2020-05-25 04:38] aktxyz commented on #593
+10

[2020-05-25 06:31] thorlacius commented on #36754
This happened again today at application startup. Different thread, exact same stacktrace.

[code]

[2020-05-25 06:42] jakub-klima commented on #36945
Also maybe there is another case where interface is useful. What about unified working with custom observable collections? If I'm not mistaken, `ReadOnlyObservableCollection<T>` is made just for `ObservableCollection<T>`, and so custom implementation could not be easily wrapped in it.

[2020-05-25 06:55] v-haren opened #36969 "Test failure: Interop/SimpleStruct/SimpleStruct/SimpleStruct.sh"
failed in job: [runtime-coreclr jitstress2-jitstressregs 20200524.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658473&view=ms.vss-test-web.build-test-results-tab&runId=20434560&resultId=101478&paneView=debug)

Error message
[code]

[2020-05-25 07:11] v-haren opened #36970 "Test failure: Interop\\COM\\ComWrappers\\WeakReference\\WeakReferenceTest\\WeakReferenceTest.cmd"
failed in job: [ runtime-coreclr gcstress-extra 20200524.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658559&view=ms.vss-test-web.build-test-results-tab&runId=20438422&resultId=110055&paneView=debug)

Error message
[code]

[2020-05-25 07:19] v-haren opened #36971 "Test failure: baseservices/threading/generics/WaitCallback/thread17/thread17.sh"
failed in job: [runtime-coreclr gcstress-extra 20200524.1](https://dev.azure.com/dnceng/public/_build/results?buildId=658559&view=ms.vss-test-web.build-test-results-tab&runId=20437494&resultId=101638&paneView=debug)

Error message
[code]

category:correctness
theme:gc-stress
skill-level:expert
cost:medium

[2020-05-25 07:31] GrabYourPitchforks opened #36972 "PrincipalPermissionAttribute ctor should be obsolete as error"
We have a few work items to obsolete existing APIs that are legacy / unsupported / disrecommended. In most cases the behaviors of the APIs are either unchanged from their Full Framework implementations or throw `PNSE` when they're invoked.

However, per https://github.com/dotnet/runtime/issues/31279, `PrincipalPermissionAttribute` is a special-case. In Full Framework, this attribute is generally h

[2020-05-25 07:41] v-haren commented on #36207
failed again in job: [runtime-libraries outerloop 20200524.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658368&view=ms.vss-test-web.build-test-results-tab&runId=20429704&resultId=104171&paneView=debug)

failed test: System.ServiceProcess.Tests.ServiceBaseTests.TestOnStartWithArgsThenStop

Error message
[code]

[2020-05-25 07:53] v-haren opened #36973 "Test failure: readytorun/coreroot_determinism/coreroot_determinism/coreroot_determinism.sh"
failed in job: [runtime-coreclr r2r-extra 20200524.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658628&view=ms.vss-test-web.build-test-results-tab&runId=20439420&resultId=109299&paneView=debug)

Error message
[code]

[2020-05-25 07:58] v-haren opened #36974 "Test failure: JIT/CodeGenBringUpTests/FPArea_d/FPArea_d.sh"
failed in job: [runtime-coreclr r2r-extra 20200524.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658628&view=ms.vss-test-web.build-test-results-tab&runId=20439658&resultId=106642&paneView=debug)

Error message
[code]

[2020-05-25 08:06] v-haren opened #36975 "Test failure: Loader/classloader/TypeGeneratorTests/TypeGeneratorTest837/Generated837/Generated837.sh"
failed in job: [runtime-coreclr r2r-extra 20200524.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=658628&view=ms.vss-test-web.build-test-results-tab&runId=20439738&resultId=105170&paneView=debug)

Error message
[code]

[2020-05-25 10:32] dazinator opened #36977 "DI - Minor additional test coverage PR"
I have submitted a PR that just adds an additional test to DI [CallsiteTests](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.DependencyInjection/tests/CallSiteTests.cs)

Notes are provided on the PR.

[2020-05-25 11:31] tmds commented on #36951
`SocketAsyncEventArgsBufferList` is allocating:

https://github.com/dotnet/runtime/blob/d0e22812943f358b438f1e379ccf99027d34789e/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L339-L340

The IOVector and GCHandles could be stackalloced (up to some bound).

[2020-05-25 11:38] stephentoub commented on #36951
As the Windows version of this does. Not sure why this one wasn't changed similarly.

[2020-05-25 11:39] weltkante commented on #36654
I've been looking a bit into how an RCW implementation could look like. If the instance is shared between the implementations I'll need to store the result of the QueryInterface in some sort of dictionary and every call through the RCW will need to do a lookup (maybe optimized with a MRU cache).

Is that correct or am I missing a trick here? Does the classic COM RCW also have to do this per-call l

[2020-05-25 11:51] filipnavara opened #36979 "System.Net.Http: Closure causing excessive memory consumption"
### Description

We analyzed memory dump from one of our testers which was showing excessive memory usage. The memory profiler showed us this:

![image](https://user-images.githubusercontent.com/1764393/82810178-20bca500-9e8e-11ea-998e-009fe6721c47.png)

Apparently the certificate validation callback in System.Net.Http request captures the `HttpRequestMessage` in a closure when establishing SSL co

[2020-05-25 11:56] tmds commented on #36951
@roji Linux defines `UIO_FASTIOV` to `8`. This means up to `8` iovs (`NumBuffers`) will be stackalloced in the kernel. It is an interesting nr to try in the benchmarks.

@stephentoub I will take a look doing this for Unix too.

[2020-05-25 12:18] dlyz commented on #36406
There is some new information about this issue.

1. It can be reproduced (see [gist](https://gist.github.com/dlyz/e971d79b37c3450ec9ef7f40f824cdde)).
2. Required preconditions to reproduce it: parallel renames of physical files (at least two threads), a non-empty directory with a name of length 1 (directory 'a' in gist), working PhysicalFilesWatcher.
3. Exceptions with one-letter-directory-names i

[2020-05-25 14:06] jkotas commented on #36654
Yes, classic COM has to do this as well. It has several layers of caches. The first layer is a liner lookup in a fixed-size array.

The entrypoint is [StubHelpers::GetCOMIPFromRCW](https://github.com/dotnet/runtime/blob/e1ffadd6521b29db350e701b11d78a286ecd783a/src/coreclr/src/vm/stubhelpers.cpp#L364).

[2020-05-25 15:14] asmichi opened #36983 "Race condition in concurrent method invocation with the dynamic type"
### Description

Concurrent method invocation with the dynamic type from one call site intermittently causes ``System.Runtime.CompilerServices.CallSite`1.MoveRule(Int32 i)`` to throw `IndexOutOfRangeException`.

Please check the repro project: [RaceInDynamicInvocation.zip](https://github.com/dotnet/runtime/files/4677782/RaceInDynamicInvocation.zip).
 Please invoke `build.cmd` and `run.cmd` (which

[2020-05-25 15:33] janvorli commented on #36944
cc: @AaronRobinsonMSFT

[2020-05-25 16:21] tannergooding commented on #36963
@CarolEidt, @sandreenko this looks related to the recent multi-reg struct return work. Seems the assert is expecting no more than 2 registers for the multi-reg return, but it may get 3 or 4 for HFA and HVA types.

[2020-05-25 16:28] koszeggy commented on #24416
I just wanted to suggest the same API change right now. I hope it will be implemented soon.

I have rather performance grounds than security reasons: If I use the shared pool I cannot be sure whether the array I get is clean. Of course, if I need a clean array I can call `Array.Clear` also on rented ones but if the array was newly created by the pool, which I cannot tell, then calling `Clear` at m

[2020-05-25 16:50] AaronRobinsonMSFT commented on #36944
@skippernl Thanks for reaching out. It would be helpful if you could collect a ETW trace using [PerfView](https://github.com/microsoft/perfview). This will allow us to understand your scenario better and observe precisely what aspect of the script is taking so long. Two hours would result in a large file, but we can probably get away with collecting data for no more than 30 to 60 seconds. A trace

[2020-05-25 16:50] AaronRobinsonMSFT commented on #36944
/cc @jkoritzinsky @elinor-fung

[2020-05-25 17:08] sandreenko commented on #36963
The same issue as #36912

[2020-05-25 17:09] steveisok commented on #34202
I actually messed around trying to learn the host and got it to load libMono.

I may have some local changes that aren't pushed, but this is a (hacked) start... maybe :-).

https://github.com/steveisok/runtime/tree/dotnet-vm-switch

[2020-05-25 17:12] skippernl commented on #36944
Will try that tomorrow.

Thanx

Op ma 25 mei 2020 18:50 schreef Aaron Robinson <notifications@github.com>:

[2020-05-25 17:32] GrabYourPitchforks commented on #36972
If there's opposition to obsoleting the ctor as error, an alternative proposal is to change the type's legal attribute targets to _None_. This would allow instantiation of the attribute type itself, but no member could be decorated with the attribute.

Though to be fair I don't know why anybody would ever want to instantiate CAS attributes rather than the CAS permission objects directly.

[2020-05-25 17:49] AaronRobinsonMSFT commented on #36965
This seems to be related to some floating point behavioral change. I don't see where that was done though.

@tannergooding Are you aware of any changes in the domain of floating point numbers?

[2020-05-25 17:55] tannergooding commented on #36965
@AaronRobinsonMSFT, the most likely thing I'm aware of is the changes around multireg struct returns: https://github.com/dotnet/runtime/issues/36912
There was also been various work in rewriting the `System.Numerics` intrinsics to be done in terms of HWIntrinsics, but it should have no impact on the `Point1<double>` failure above, for example.

CC. @sandreenko, @CarolEidt

[2020-05-25 17:58] wfurt commented on #36959
Can you post complete runnable app @mikebromwich? What OS do you use?

[2020-05-25 18:02] vitek-karas commented on #34202
@steveisok Couple of questions about the intent of the changes:
* Do we plan to support mono VM in FDD (shared framework)? I hope not, as that would introduce lot of new challenges?
* If we don't support mono VM FDD, then having a command line option to switch between the VMs doesn't seem to be useful as SCD (self-contained) apps will not come with two runtimes.
* As such I don't see a need to pas

[2020-05-25 19:41] vanbukin opened #36989 "Make string.FastAllocateString public"
## Background and Motivation
Provide ability for developers to write libraries that able to format something to string using pre-allocated pinned char* pointer withoput any overhead for delegate call.
It's also possible now to "export" that function using .ilproj [like this](https://github.com/dodopizza/primitives/blob/c9769a2eac492034c0ff0f1de567717d7593316c/src/Dodo.Primitives.IL/netcoreapp31.Sy

[2020-05-25 19:52] #36957 closed

[2020-05-25 20:05] stephentoub commented on #36989
Making this pubic would encourage mutating an immutable type. It's internal for a good reason. I would not want to make this public. string.Create was exposed an alternative.

[2020-05-25 20:09] vanbukin commented on #36989
@stephentoub Maybe provide that ability via string.Create without delegate?

[2020-05-25 20:28] svick commented on #36989
@vanbukin How would that work?

[2020-05-25 20:42] tannergooding commented on #36989
There could be an unsafe version which takes a function pointer, which would allow the delegate like scenario without forcing a delegate allocation

[2020-05-25 20:44] GrabYourPitchforks commented on #36989
@vanbukin
Per Steve's comment, we're not going to expose an API which encourages mutating `string` instances. In fact, in .NET Core 3.0 we [started obsoleting APIs](https://github.com/dotnet/runtime/issues/27515) which encouraged this practice.

Adding overloads to the `string.Create` factory method may work. What do you have in mind?

[2020-05-25 20:46] vanbukin commented on #36989
@svick It could be like this:
Icall string.Create(32), pin it using fixed statement, get char* pointer and then change string content using that pointer inside fixed statement. Like System.Guid.ToString.

Here and now it’s only possible inside System.Private.CoreLib, because FastAllocateString is internal. Prefer way to do that now is to call string.Create, provide delegate, fake “state” and get s

[2020-05-25 20:49] vanbukin commented on #36989
@tannergooding sounds like a good idea

[2020-05-25 20:57] stephentoub commented on #36989
I seem to remember @jkotas having an opinion about that, but I don't remember what it was.

Can you share more details about in what situation this matters? A delegate can be cached (and often is by the C# compiler), so the concern is about the cost of delegate invocation? A string is being allocated and populated; the delegate invocation shows up as being negatively impactful?

[2020-05-25 21:01] svick commented on #36989
@tannergooding

Since `string.Create` has a `state` parameter, it should be just one delegate allocation per callsite for the whole application runtime. Is that worth optimizing?

@vanbukin

 Oh, I assumed you meant something else, not just renaming `string.FastAllocateString` to `string.Create`.

The delegate allocation overhead is tiny, since it's just one allocation for the application runtime,

[2020-05-25 21:08] vanbukin commented on #36989
I think yes.

Not renaming. Make FastAllocateString public or provide additional  string.Create overload that does not take any state or delegrate. Only string size. To avoid any allocations.

Yes, but this might be helpful in performance-sensitive places. Like custom structures string formatting or database providers strings materialization.

[2020-05-25 21:12] vitek-karas commented on #35465
Sorry for the delay. I finally got to this and spent some time playing with the hosting layers. The result is https://github.com/dotnet/runtime/pull/36990 which contains basically a proposal for the new scenario.

@rseanhall can you please read through that and make sure it covers your requirements? Any feedback would be more than welcome.

Please note that I can't commit to implementing this in .

[2020-05-25 21:41] vanbukin commented on #36989
@svick [Here is my results](https://gist.github.com/vanbukin/e32490596d7cd853e5e7522eabb6bba5). Looks like 30%.

[2020-05-25 22:03] janvorli commented on #35425
Fixed by #35429

[2020-05-25 22:03] #35425 closed

[2020-05-25 22:06] vanbukin commented on #36989
@svick I've updated results. Add benchmarks for .NET 5.0 preview 4. Same difference.

[2020-05-25 22:14] FWest98 commented on #23944
So do I understand correctly that namespaces like S.DS.AM will not be supported for .NET 5 on Linux? Do you think it could be a potential future addition, or do you rule it out completely at this point?

[2020-05-25 22:25] steveisok commented on #34202
I think the first option makes sense for our use case.  I don’t see us needing to diverge at this point at all.  Also, the reason why I had a separate folder was primarily for mono’s System.Private.Corlib.

This branch was just for my learning, so if it helps at all, great.  Thankfully, we are deploying mono as stand alone only because I agree there would be challenges with alternating runtimes in

[2020-05-25 22:37] GrabYourPitchforks commented on #36989
Per earlier comments, string instances are contractually immutable. The team is largely against adding APIs which encourage developers to mutate these instances. Such code is not guaranteed to work correctly across all versions of the runtime. I don't think benchmarks are going to do much to sway the majority position here.

There might be opportunity here to improve the performance of the existin

[2020-05-25 22:50] vanbukin commented on #36989
@GrabYourPitchforks Ok. Tanner's suggestion looks good. Let's continue our discussion in a way to add string.Create overload that takes a pointer instead of opening FastAllocateString. Can we continue our discussion here or I need to create a new issue?

[2020-05-25 22:56] GrabYourPitchforks commented on #36989
Feel free to explore that idea here.

[2020-05-25 23:02] mikebromwich commented on #36959
Hi @wfurt

In preparing a self-contained runnable app, I believe that I have spotted the (my) error. I was initializing SocketAsyncEventArgs.RemoteEndpoint to IPAddress.Any as opposed to IPAddress.IPV6Any - so the issue was probably being caused by the size of the address buffer not the size of the message.

I'll close this issue - and apologies for (probably) wasting your time.

Regards,

Mike

[2020-05-25 23:02] #36959 closed

[2020-05-25 23:27] jkotas commented on #36989
The difference between delegate call and function pointer calli call is a few instruction. It is unlikely to make significant difference to add an overload that takes function pointer.

I believe that most of the overhead of passing in delegate comes from extra call(s): setting up the frame, passing the arguments around, saving callee saved registers, ... . This overhead needs to be eliminated to

[2020-05-26 00:18] Kuinox opened #36993 "SequenceReader should not rely on internal method ReadOnlySequence<T>.GetFirstSpan."
## Background and Motivation
I wanted to implement my own SequenceReader for a library i'm writing.
It's basically a few changes to how works the SequenceReader.
But sadly, the SequenceReader uses an internal helper wrote specifically for the SequenceReader as we can see in the comment:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Memory/src/System/Buffers/ReadOnlySequence.He

[2020-05-26 02:25] wsugarman opened #36996 "Different Task Status for ThrowIfCancellationRequested vs Throwing OperationCanceledException"
### Description

I was writing some unit tests when I discovered that the `Task` object returned by `Task.Run` behaves differently depending on the expression used to throw an `OperationCanceledException` as illustrated in the below example:

[code]
Output:
[code]

Strangely, at least to me, while the first `Task` becomes "Canceled", the second `Task` becomes "Faulted." Is this behavior intended?

[2020-05-26 02:28] AraHaan commented on #36931
Most likely the master branch.

[2020-05-26 04:46] kjpou1 opened #36999 "[browser][wasm] Move messages into the project .resx."
Static text messages need to be moved into a project .resx.

[2020-05-26 06:53] bradwilson opened #37000 "Missing RID for Ubuntu 20.04"
### Description

Ubuntu 20.04 was released last month, and the [RID list](https://github.com/dotnet/runtime/blob/064c5f15242b8ffe402cd50633b79bac76cd0134/src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.compatibility.json#L5336) does not yet include Ubuntu 20.04; as a result, the RID on Ubuntu 20.04 (and derivatives) is returned as the generic `linux-x64`. This causes compatibility issues wit

[2020-05-26 07:04] rdasan commented on #805
@catlion Did you ever figure out what the issue was or did you open up another issue for it? We are running into similar problems intermttantly on our internal intranet sites. Very rarely though

[2020-05-26 07:11] petermcclymont commented on #3775
I wanted to try the latest preview, and it has the same problem,

sudo snap install dotnet-sdk --channel=5.0/beta --classic
sudo snap alias dotnet-sdk.dotnet dotnet
mkdir dotnet
cd dotnet
dotnet new console
dotnet run

Gives nothing. However this works fine,

dotnet bin/Debug/net5.0/dotnet.dll

[2020-05-26 07:21] erictuvesson commented on #1761
This is something I would like to see too!

I would also like to have support for fallback to the normal parser when the point is an object in the JSON, the only way I see right now is to write the full converter of the object to load all fields if it's an object.

For example:
[code]

[2020-05-26 07:22] k15tfu commented on #925
Interesting. Is there any progress on this issue?

[2020-05-26 08:08] skippernl commented on #36944
Ran both.
https://1drv.ms/u/s!AikuTJDzUoogh8Y6FT2qYZfu43LWIw?e=Z3Bjz8
[image: afbeelding.png]

You should be able to download the files from the onedrive location.
If needed I can add a test file for a fortigate config file so you can test
on your machine.

The configuration is just the interfaces and a routing table.

Skippernl

Op ma 25 mei 2020 om 18:50 schreef Aaron Robinson <notifications@git

[2020-05-26 08:53] ViktorHofer commented on #37000
cc @danmosemsft @ericstj

[2020-05-26 09:25] #34379 closed

[2020-05-26 10:16] vscodewinodws opened #37003 "how to open library in visual studio in order to contribute"
i want to contribute to the .net core so for that i cloned runtime and the build it , i got it build successfully . but when i follow this for the building libs

i have executed build.cmd command then trying to open in vs

https://github.com/dotnet/runtime/tree/master/docs/workflow/building/libraries

it gets visual studio  open ( i tried both preview and stable ) but both shows error in code , th

[2020-05-26 11:41] sakno commented on #34855
@wfurt , @karelz can I close this issue? PR was merged.

[2020-05-26 12:31] MichalStrehovsky opened #37008 "Mono Delegate contains code which ILLink can't analyze"
I'm not clear on when this code is in use and what it's trying to reflect on:

https://github.com/dotnet/runtime/blob/92760b595598373279709353e7f36f9a1d1ab0c6/src/mono/netcore/System.Private.CoreLib/src/System/Delegate.Mono.cs#L428-L434

This implies we have scenarios when a delegate instance hasn't decided what method it's pointing to and it's going to make the decision based on the parameters pa

[2020-05-26 12:43] SamMonoRT commented on #34379
@fanyang-mono to create a new PR for re-enabling the failing test.

[2020-05-26 13:08] eiriktsarpalis commented on #36942
Why do you think it is excessive? The `Update` method doesn't seem to solve the double lookup issue in the general case, since you'd need to check that the key is populated.

[2020-05-26 13:29] ggaller opened #37010 "System.IO.File.SetAttributes() not clear Read-only attribute on a file"
### Description
Hi!

In our build system we copy many `Read-only` files to the workspace for processing. We use `File.Copy()` method with `overwrite=true` and sometimes get `UnauthorizedAccessException`, because destination file exist and have `Read-only` attribute.

This is looks strange because after each copy to workspace we clear `Read-only` attribute by calling `File.SetAttributes()` method.

[2020-05-26 13:53] jnm2 commented on #36942
@eiriktsarpalis The Update method would first look up the internal slot and throw KeyNotFoundException if it cannot, then it would invoke the callback to obtain a value and assign it to the slot without a second lookup.

[2020-05-26 14:45] BillWagner opened #37012 "a little fault about instructions in the struct "Char"`s functions"
@wybgsn commented on [Thu May 21 2020](https://github.com/dotnet/docs/issues/18564)

**Visual Studio Version**:
16.5.5
**Summary**:
There`s a little fault in System.Char, a lot of functions` instructions written by Chinese in that file
discribe the name of parameter as "true“, actually it should be "c" or "s".

**Steps to Reproduce**:

1.

2.

3.

**Expected Behavior**:
如果 c 是一个字母，则为 true；否则为 fals

[2020-05-26 14:58] danmosemsft commented on #37000
@wfur use you adding these?

Cc @dleeapho

[2020-05-26 15:02] bartonjs commented on #37000
FYI @wfurt

[2020-05-26 15:06] vcsjones commented on #34459
This was a small nice-to-have, but I don't think this is worth pursuing given that it's not entirely straight-forward as initially thought.

[2020-05-26 15:06] #34459 closed

[2020-05-26 15:06] bartonjs commented on #36843
Given the support against this proposal, and the ease of a workaround, I'm going to go ahead and close this proposal.

[2020-05-26 15:06] #36843 closed

[2020-05-26 15:27] lambdageek commented on #34202
Why does the name of the DLL matter? Mono implements the same hosting API as `libcoreclr.so`.  If other tools are looking for other undocumented APIs, those APIs should be documented and Mono should implement them.

The two runtimes should be drop in replacements for each other.   Differentiating runtime capabilities based on the name of the DLL seems to move in the opposite direction.

[2020-05-26 15:32] vitek-karas commented on #34202
The host needs to be able to find and load the runtime dll. See this [doc](https://github.com/dotnet/runtime/blob/master/docs/design/features/host-components.md) which currently explicitly says that the final step is to find `coreclr.dll` and load it.
As mentioned above, it's not a good idea to call mono's runtime `coreclr.dll`, so we need to change the host to be able to find and load mono instea

[2020-05-26 15:41] lambdageek commented on #34202
My concern is that if we build code that makes decisions based on the _name_ of the runtime, rather than its _capabilities_, we're adding future technical debt.  (What happens when Mono converges closer to CoreCLR?)  I appreciate that the host doesn't have this limitation.

Watson's bucketing based on the DLL name is unfortunate.

[2020-05-26 15:41] tannergooding opened #37014 "Remaining ARM Intrinsics"
[code]

[2020-05-26 15:42] tannergooding commented on #37014
CC. @CarolEidt, @echesakovMSFT

[2020-05-26 15:44] vitek-karas commented on #34202
I do agree that ideally the only "difference" would be the name of the dll.

[2020-05-26 16:18] krwq commented on #33130
@maloo 3.1 should work with System.IO.Ports:
5.0.0-preview.6.20272.2 from thus nuget feed: https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json

5.0 will only work with next preview (because of https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json which is causing that latest .so files is not restored because it's already part of the framework)

[2020-05-26 16:22] xqrzd commented on #36993
I ran into the same problem for a different reason (I needed SequenceReader for a .net standard library, and there's no nuget package for SequenceReader). The only place I needed GetFirstSpan was for SequenceReader's constructor, in which case you can replace
[code]
with
[code]

[2020-05-26 16:29] leculver commented on #34202
That's how all Watson bucketing works and has worked for decades.  It would not be a small project to try to change this just for coreclr.dll.  We require all products to "play nice" with Watson so that we can find bugs (especially security related) in products which build on top of us.

By making it harder to distinguish between coreclr and mono, we are not just making our lives harder but also t

[2020-05-26 16:30] maloo commented on #33130
ok, so we fixed 3.1 and broke 5? :)

I will test 3.1 this weekend. Found another old issue that I will file, SerialStream is still messing with DtrEnable in constructor. This prevent usage of some devices in windows, Linux works but you have to hard code dtrenable to same value as kernel, so probably also need fixing.

[2020-05-26 17:08] ViktorHofer commented on #37003
Please also install a corresponding SDK globally as Visual Studio can't use our local acquired SDK and always looks into the %PATH%.

https://github.com/dotnet/runtime/blob/master/docs/workflow/requirements/windows-requirements.md#net-sdk

[2020-05-26 17:15] joperezr commented on #23944
It is not in the plans to support S.DS.AM for .NET 5 in Linux as our solution for communicating and controlling LDAP servers in Linux is via System.DirectoryServices.Protocols for now. Is there a specific scenario you have in mind that you can do with AccountManagement but not with Protocols?

[2020-05-26 17:23] terrajobst commented on #35315
A few questions:

* We're not entirely sure what this attribute does:
	- The issue talks about covariant returns but all samples use `void`
	- None of the methdos use `virtual` functions
	- What are the behavior differences of with and without the attribute? If this can't be explained in C#, then ILDASM code would help too
* `RequireMethodImplToRemainInEffectAttribute` this name seems a bit abstra

[2020-05-26 17:28] GrabYourPitchforks commented on #37012
@BillWagner sounds like a docs localization issue? In English, that line reads "_true_ if _c_ is a letter; else _false_." Sounds like the Chinese translation of the doc got morphed to "if _true_ is a letter, returns _c_; else _false_."

[2020-05-26 17:30] BillWagner commented on #37012
Thanks @GrabYourPitchforks

Adding @JasonCard   Should this move back to the loc doc repos?

[2020-05-26 17:40] layomia commented on #36931
This is a dup of https://github.com/dotnet/runtime/issues/31081.

[2020-05-26 17:40] #36931 closed

[2020-05-26 17:42] AaronRobinsonMSFT commented on #36944
@skippernl Thank you much for the collected traces. The traces identified the issue very quickly. Unfortunately, this appears to be an issue in PowerShell. The slow down is due to code paths in [System.Management.Automation](https://docs.microsoft.com/dotnet/api/system.management.automation) and from the trace appears to be because the code path when run on .NET Core falls back to expression tree

[2020-05-26 17:56] safern commented on #36681
@BruceForstall any update on this?

This failed again on: https://helix.dot.net/api/2019-06-17/jobs/eb11af78-3bd5-4fce-ad89-49b91832128d/workitems/JIT.Regression/console

https://dnceng.visualstudio.com/public/_build/results?buildId=659717&view=logs&j=6ffa34aa-4e0e-5e33-51b1-9621a575e196&t=2fdabd0b-7202-58e4-755d-1556a81de2e1&l=38

[2020-05-26 17:57] terrajobst commented on #34305
* We should remove `ActivityTrackingOptions.Default` because we can't change its value ever. Instead, we should just set the value in the `LoggerFactoryOptions` contructor

[code]

[2020-05-26 18:00] stephentoub commented on #36996
This is by-design and is more to do with the C# compiler.  There are a variety of Task.Run overloads that take different delegate types, and the C# compiler's overload resolution is mapping your two calls to two different overloads.  It sees with the second call that it's effectively a void-returning lambda, so it uses the `Task.Run(Action)` overload.  For the first call, however, it can't determi

[2020-05-26 18:00] BruceForstall commented on #36681
@safern I haven't had a chance to look at this yet. Hopefully this week.

[2020-05-26 18:10] krwq commented on #33130
@maloo yes/no, next preview will work correctly with latest preview package and old (3.1 timeframe) but will not work with the previous previews. Once we fix https://github.com/dotnet/runtime/issues/33932 then next 5.0 preview will start working correctly as native components will not fight for dominance 😄

[2020-05-26 18:14] BruceForstall commented on #36964
Failure mode: `CoreCLR Windows_NT x86 Checked jitstress2_jitstressregs4 @ Windows.10.Amd64.Open`

@dotnet/jit-contrib

[2020-05-26 18:16] BruceForstall commented on #36966
Failure mode: `CoreCLR Windows_NT x86 Checked jitstress2_jitstressregs4 @ Windows.10.Amd64.Open`

@dotnet/jit-contrib

[2020-05-26 18:17] BruceForstall commented on #36967
Failure mode: `CoreCLR Windows_NT x86 Checked jitstress2_jitstressregs4 @ Windows.10.Amd64.Open`

@dotnet/jit-contrib

[2020-05-26 18:18] BruceForstall commented on #36968
Failure mode: `CoreCLR Windows_NT x86 Checked jitstress2_jitstressregs4 @ Windows.10.Amd64.Open`

@dotnet/jit-contrib

[2020-05-26 18:19] AndyAyersMS commented on #36963
Can we close this as a dup?

[2020-05-26 18:19] BruceForstall commented on #36969
Failure mode: `CoreCLR Linux x64 Checked jitstress2_jitstressregs8 @ Ubuntu.1804.Amd64.Open`

@dotnet/jit-contrib

[2020-05-26 18:19] skippernl commented on #36944
Sure,

Steve Lee pointed me in you're direction.

SkipperNL

Op di 26 mei 2020 19:42 schreef Aaron Robinson <notifications@github.com>:

[2020-05-26 18:20] BruceForstall commented on #36970
Failure mode: `CoreCLR Windows_NT x86 Checked gcstress0xc_jitminopts_heapverify1 @ Windows.10.Amd64.Open`

[2020-05-26 18:21] BruceForstall commented on #36971
Failure mode: `CoreCLR Linux arm Checked gcstress0xc_zapdisable_heapverify1`

[2020-05-26 18:22] BruceForstall commented on #36973
Failure mode: `R2R Linux x64 Checked jitstressregs2 @ Ubuntu.1804.Amd64.Open`

@dotnet/jit-contrib

[2020-05-26 18:23] BruceForstall commented on #36974
Failure mode: `R2R Linux x64 Checked jitstressregs0x1000 @ Ubuntu.1804.Amd64.Open`

@dotnet/jit-contrib

[2020-05-26 18:29] terrajobst commented on #25819
* `EncodingInfo.GetEncoding()` calls the static `Encoding.GetEncoding()` method, which means getting encoding infos and using `EncodingInfo.GetEncoding()` might create an encoding that isn't tied to that encoding.
    - `EncodingInfo` should take an `EncodingProvider` that we'll use in `EncodingInfo.GetEncoding()` and call `EncodingProvider.GetEncoding(codePage)`.

[code]

[2020-05-26 18:29] BruceForstall commented on #36975
Looks like a dup of https://github.com/dotnet/runtime/issues/36974

Failure mode: `R2R Linux x64 Checked jitminopts @ Ubuntu.1804.Amd64.Open`

@dotnet/jit-contrib

[2020-05-26 18:33] BruceForstall commented on #36963
It's ok with me to close this as a dup as long as the "dup" issue contains the text of the assertion (currently, it doesn't), so when you search for open issues with a particular assertion text, you'll find it. It appears the "dup" issue has multiple manifestations?

[2020-05-26 18:37] BruceForstall commented on #36952
@sandreenko

[2020-05-26 18:40] terrajobst commented on #31038
[code]

[2020-05-26 18:47] leculver commented on #34202
One last thought I wanted to capture here.  Even ignoring other scenarios, when naming these two libraries the same name, it would be very difficult to disambiguate between the two of them in some crashdump scenarios.  Minidumps may not contain any parts of the module itself, not even the first few bytes of the PE header.  Instead, we sometimes (but rarely) have to use only the [MINIDUMP_MODULE](h

[2020-05-26 18:55] terrajobst commented on #31406
* Looks good.

[code]

[2020-05-26 19:04] terrajobst commented on #31549
* Looks good.
* We won't be exposing the `Latin1Encoding` type, because it's not necessary

[code]

[2020-05-26 19:11] tarekgh commented on #36996
@wsugarman closing this issue here per @stephentoub comment. feel free to respond back if you have any questions or comments.

[2020-05-26 19:11] #36996 closed

[2020-05-26 19:19] danmosemsft commented on #31038
@GrabYourPitchforks I was going to note that https://github.com/dotnet/runtime/pull/295 would need updating for "TrimEntries" but I don't see that API accepting StringSplitOptions. I assume that was intentional (I didn't read all of https://github.com/dotnet/runtime/issues/934)
cc @layomia

[2020-05-26 19:23] danmosemsft commented on #7532
Another option would be a different factory method to create the ArrayPool (perhaps overloads or instead of Shared() or Create()) that would return the diagnostic pool. Presumably there are relatively few places in one's code where the array pool is created (probably 1, if you know which array pool is leading to the problem) so changing that one line of code for testing purposes is not onerous. As

[2020-05-26 19:23] benaadams opened #37023 "Not all contention is are reported via Lock contention"
`lock` aka `Monitor` records contention prior to beginning its spin->wait cycle; however if contention happens in `SpinLock` and it has to spin, that isn't surfaced via this counter.

Related but different, I think contention handled via a `SpinWait` isn't surfaced this way (e.g. `ConcurrentQueue`), though it's not a `lock` perse; but the contention figure gives an incomplete picture.

So they be

[2020-05-26 19:29] eerhardt commented on #33386
Is this a duplicate of https://github.com/dotnet/sdk/issues/4017? Was it fixed with https://github.com/dotnet/runtime/pull/32023?

/cc @vitek-karas

[2020-05-26 19:30] wfurt commented on #34855
it would normally be closed automatically.

[2020-05-26 19:32] SingleAccretion commented on #36989
I investigated the possibility of adding a new API that would utilize the old "generic struct" trick. The conclusion is that there is room for improvement, but not a whole lot.

### Setup
The goal was to see if the following API could achieve performance of the fully "unsafe" method that uses `FastAllocateString` directly:
[code]
The testing consisted of measuring the time it would take to pass pa

[2020-05-26 19:37] karelz commented on #35126
Triage:
* Pros and cons of various approaches -- perf should be driving factor
* gRPC needs just few headers
* Consider encoding (potentially per header)
* Related to `TryAddWithoutValidation`

Useful for reverse proxy and gRPC scenarios.

[2020-05-26 19:37] sbomer commented on #33386
@eerhardt - yes, from what I can tell. I'll close this issue. @Kaelum if the workaround doesn't work for you, please mention it and we can reopen this.

[2020-05-26 19:37] #33386 closed

[2020-05-26 19:41] jkotas commented on #37023
I believe that it reports it after spinning, before calling into OS to wait: https://github.com/dotnet/runtime/blob/58ee1305580774e6791ad1b31d01f7f7effb5780/src/coreclr/src/vm/syncblk.cpp#L2555

[2020-05-26 19:41] karelz commented on #35337
Related to #31261

[2020-05-26 19:44] karelz commented on #35337
Triage:
* Does not seem to be in super-high demand
* There is workaround to use `SocketsHttpHandler` directly (maybe `HttpClientFactory` should expose a knob for convenience?)
* BCL API should be design with the opposite scenario (opt-in) in mind -- see #31261

[2020-05-26 19:48] brunohbrito commented on #36946
as @joperezr said at PR, my src docs is wrong. The method has the right signature. I'm closing.

[2020-05-26 19:48] #36946 closed

[2020-05-26 19:48] samsp-msft opened #37024 "HTTP header encoding"
The HTTP spec is weak on what encoding is used for headers. Some treat it as UTF-8 others as ASCII/Latin1. There should be a way to control what encoding is used when converting headers to/from string.

[2020-05-26 19:49] samsp-msft commented on #37024
Should consider in relation to #35126.
@Tratcher - what is ASP.NET doing for this?

[2020-05-26 19:51] shravan2x commented on #35337
@karelz Completely agree that any diagnostic feature like this should be opt-in.

Could you clarify what more info we need to proceed with improving this API?

[2020-05-26 19:53] karelz commented on #35340
Triage:
- Addressed in 5.0 in #21965
- We need to fix the docs -- address specific versions (.NET Core different versions vs. .NET Framework) ... Note: there is only 1 page for all versions
    - Take into account that `HttpRequestException` may have been used in past versions (.NET Framework)

[2020-05-26 19:56] karelz commented on #35678
@Devnsyde will you be able to look at a repro we could use?

[2020-05-26 20:01] benaadams commented on #37023
Was thinking more the counter; which is much lower cost being only an Interlocked increment

https://github.com/dotnet/runtime/blob/58ee1305580774e6791ad1b31d01f7f7effb5780/src/coreclr/src/vm/syncblk.cpp#L2567

However, I may be wrong as to when it happens as can't find an pre-spinning now; can only find the spinning after it has been awoken and is trying to reacquire the lock.

Rephrasing then, s

[2020-05-26 20:02] karelz commented on #35357
Triage:
- As a workaround, you can use `SocketsHttpHandler` directly - that will avoid any `DiagnosticHandler` headers
- Longer-term, there could be a solution on `HttpClientHandler` which is tracked in #35337
- We are ok to change `DiagnosticHandler` implementation to not set its value when it has been set by the user

[2020-05-26 20:08] benaadams commented on #37023
Ah; before calling `EnterObjMonitorHelperSpin`

[2020-05-26 20:09] benaadams commented on #37023
Ah...

Should it call `Thread::IncrementMonitorLockContentionCount` before calling `EnterObjMonitorHelperSpin`, because at that point there definitely is contention, even if its not yet going to sleep

[2020-05-26 20:18] rdasan commented on #34858
@wfurt Not exactly in the context of ignoring the SSL, but we are getting timeout errors intermittently in place for 401 in our of our internal API when we use an Invalid Certificate. I saw you mentioned #805 above in one of your comments. Please see my latest comment on that issue. https://github.com/dotnet/runtime/issues/805#issuecomment-633847552

[2020-05-26 20:23] jkotas commented on #37023
It would change what this number means and how to interpret it. The current counter should be very flat in a well-written app. If the counter is steadily increasing, it means the app has scalability problem that it is worth looking into.

If we were to change it to count spinning, the number will be more noisy, less reliable indicator of a real scalability problem that it is worth looking into.

[2020-05-26 20:28] Tratcher commented on #37024
See https://github.com/dotnet/aspnetcore/issues/17400

[2020-05-26 20:29] benaadams commented on #37023
Ok

[2020-05-26 20:29] #37023 closed

[2020-05-26 20:34] BruceForstall commented on #36797
@trylek Do you want to keep this open until your change in dev/infrastructure makes it to master? Or, do you want to close it now?

[2020-05-26 20:40] jeffhandley commented on #33796
For existing violations in `runtime`, we likely would not apply the fix since changing parameter names would often be a breaking change.

[2020-05-26 20:42] trylek commented on #36797
@BruceForstall I think I should keep it open at least until tomorrow to remind myself that I need to make a small follow-up change to my checkin, I have noticed in my private lab testing that the CORE_ROOT population step unnecessarily duplicates crossgenning framework in R2R / Crossgen2 runs so I want to fix that; I guess I'll use that follow-up PR to close this issue as it should kind of wrap up

[2020-05-26 20:44] jeffhandley commented on #33771
@tannergooding Do you think this is a must-have attribute & analyzer for .NET 5 to round out the intrinsics work we've done, or do you think this could be added in .NET 6?

[2020-05-26 20:49] JasonCard commented on #37012
@BillWagner Yes, this looks like Simplified Chinese (zh-cn) translation issue, so it should be moved to [zh-cn repo](https://github.com/dotnet/dotnet-api-docs.zh-cn).

[2020-05-26 20:49] jeffhandley commented on #33794
Moving this one out of .NET 5, but this would be a good warmup analyzer for someone, and it would be a high-value analyzer in .NET 6 because it applies to some recently added APIs.

[2020-05-26 20:52] jeffhandley commented on #33794
The hardest part of this one will be coming up with the list of APIs we want this to target--using a heuristic is the recommended approach. Beyond that, we think the analyzer will be pretty easy; the fixer will have some edge cases to consider for how to rewrite the code to reflect the definition/usage of the const--simply extracting the const won't necessarily be straightforward, and there will n

[2020-05-26 20:57] Anipik commented on #36858
@dseefeld can you take a look if any of the unmarked patches need to be ported to runtime ?

[2020-05-26 21:00] wfurt commented on #34858
#805 was specific to macOS. What OS do you have @rdasan ?  In cases of generic errors, the reasons and condition can be very different and it does not make sense IMHO to link them just because end result is similar unless the pattern match as well. The linked issues was also very consistent e.g. specific to particular sites.
If you can make it fail in reasonable time, you may try it with SslStream

[2020-05-26 21:02] GrabYourPitchforks commented on #31038
@danmosemsft For spans, I'm still partial to a design that allows me to write something like the following. It gets rid of the whole iterator mess for some common scenarios.

[code]

Per the "accepted" proposal at https://github.com/dotnet/runtime/issues/934#issuecomment-523152939, there are no split options being passed in. So the changes in this issue shouldn't affect that PR.

[2020-05-26 21:03] #36913 closed

[2020-05-26 21:08] #32822 closed

[2020-05-26 21:17] lambdageek commented on #37008
The corresponding code in CoreCLR calls `GetInvokeMethod` which is an internal call and is also opaque to the linker (AFAIK)

https://github.com/dotnet/runtime/blob/e899d1106f7154fe4c7a6dfadf0e4f521711f5ef/src/coreclr/src/System.Private.CoreLib/src/System/Delegate.CoreCLR.cs#L86-L92

[2020-05-26 21:39] BillWagner commented on #37012
Issue moved to [dotnet/dotnet-api-docs.zh-cn #60](https://github.com/dotnet/dotnet-api-docs.zh-cn/issues/60) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-26 21:39] #37012 closed

[2020-05-26 21:41] davidwrighton commented on #35315
- This is a feature to adjust the behavior of MethodImpl records, but really this is designed to support the covariant scenario. The reason that the examples are written in terms of void is to emphasize that this is an independent feature at the runtime level from covariant returns, although it is likely that in the near term, it will only be used by the C# compiler when compiling covariant return

[2020-05-26 21:56] noahfalk commented on #34202
I'm not sure why this is viewed as a negative and I may not understand some background issue? I agree that some places where code is currently using the module name to discriminate should not be doing so, but IMO Watson isn't one of them. In the case of Watson an abstraction based on capabilities appears undesirable, the implementation is the thing I want to correlate issues with.

[2020-05-26 22:03] #36970 closed

[2020-05-26 22:21] wfurt commented on #1979
It seems like we will need to rewrite PAL to use new Network framework API.
That should fix iOS as well.

https://mailarchive.ietf.org/arch/msg/tls/5QjzTilqjomSyzENtgfaAqQOhbA/

[2020-05-26 22:38] GrabYourPitchforks commented on #37012
Thanks! :D

[2020-05-26 23:13] #36728 closed

[2020-05-26 23:21] jkotas commented on #35315
If we choose to encode this in metadata, it should be a bit in the MethodAttributes column where the existing bits that control virtual method resolution live (`Virtual`, `NewSlot`, `Strict`, etc.). MethodImplAttributes does not sound right for this.

[2020-05-26 23:30] tannergooding commented on #33771
It is not. The hardware intrinsics don't even require constant inputs, they just benefit from them and you will get very poor codegen if you don't.
We shipped .NET Core 3.0 without such an attribute and I'm sure we'll be fine if we do the same for .NET 5.

[2020-05-26 23:58] pranavkm commented on #30240
Closing since transcoding is a feature.

[2020-05-26 23:58] #30240 closed

[2020-05-27 00:01] jeffhandley commented on #33771
Thank you, @tannergooding. I'm going to move this to Future so that we can consider it for .NET 6 then.

[2020-05-27 00:43] #36799 closed

[2020-05-27 01:09] pubtom commented on #35318
What will be the future of the Microsoft Store?

[2020-05-27 01:50] danmosemsft commented on #31038
@GrabYourPitchforks I'm unclear how that would work, if Split resulted in 50 fragments, would I receive a 50 element tuple?

Do you know why #934 did not include StringSplitOptions? It seems like a natural extension - either we would want #934 plus SSO, or something different entirely.

[2020-05-27 02:13] BruceForstall commented on #36911
fwiw, I changed the default for `COMPlus_FastTailCalls` from 1 to 0, and reran all the tests, hoping to work around this problem (at least temporarily). But that actually made my test runs worse, as every dotnet xunit invocation fails with:
[code]
Coreclr pri-0 tests all pass (trying pri-1 now). Manually setting this back to 1 in the environment makes the problem go away. This variable is only use

[2020-05-27 02:51] GrabYourPitchforks commented on #31038
@danmosemsft it's equivalent to passing in a "max elements" parameter and then decomposing the result into that number of components.

That is:

[code]

Which is generally what most callers want when doing this kind of split.

Calling `(a, b, c, d, e) = span.Split(',')` is essentially equivalent to passing _maxValues: 5_. And so on. There's a lot more on this over at https://github.com/dotnet/core

[2020-05-27 02:58] elinor-fung opened #37039 "Code analyzers for interop"
This tracking issue for a small backlog of rules around interop to add to the officially recommended set of analyzers. The rules are grouped around runtime functionality/features, but would represent separate analyzers in implementation. Since many issues concerning interop are rooted in a discrepancy between the user's intent and implementation, it is expected that only a small number of rules wo

[2020-05-27 02:59] elinor-fung commented on #37039
@AaronRobinsonMSFT @jkoritzinsky

[2020-05-27 03:08] athinboy opened #37040 "Add method "hasText" to String class"
## Background and Motivation

public bool hasText([NotNullWhen(false)] string? value){

return    !IsNullOrWhiteSpace(value) ;

}

[2020-05-27 03:10] elinor-fung commented on #34831
Closing this and using #37039 as the tracking issue that will point to the separate issues we file for each rule.

[2020-05-27 03:10] #34831 closed

[2020-05-27 03:18] GrabYourPitchforks commented on #31038
To your question re: `MemoryExtensions.Split(..., StringSplitOptions)`, the discussion starting at https://youtu.be/dfzXrQCINHM?t=2948 gave the reason. The minimum viable product was to have no _options_ at all, adding in the future if we get feedback that people need it.

[2020-05-27 03:19] erozenfeld commented on #1007
@jduncanator Thank you for reporting these cases, they helped me with my work.
#36918 resolved most of the issues here. Here are the diffs for your examples:

Example 1:
[code]
[code]

Example 2:
[code]

[code]

Example 3:
[code]
[code]

Example 4:
[code]
[code]

Ideally the jit should eliminate all code here. Currently here is what is happening:
1. The struct is promoted.
2. Morph keeps block zer

[2020-05-27 03:43] richlander commented on #35318
@pubtom -- this issue is related to a low-level topic. I suggest you reach out to the folks @ https://github.com/microsoft/microsoft-ui-xaml to talk about Microsoft/Windows Store.

[2020-05-27 03:46] erozenfeld commented on #34213
I ran both tests on a Windows arm machine many times and I wasn't able to repro this failure. It appears it's not currently seen in CI either. Closing for now, will reopen if we see it again.

[2020-05-27 03:46] #34213 closed

[2020-05-27 03:48] #36905 closed

[2020-05-27 04:18] benaadams commented on #2325
Resolved by https://github.com/dotnet/runtime/pull/36918

Thank you @erozenfeld 🎉

[2020-05-27 04:45] scalablecory commented on #36683
@softboy99 HttpClient on .NET Core supports UTF-8 via `ContentDispositionHeaderValue.FileNameStar` property.

Note that this repo is for .NET Core, not .NET Framework. HttpClient's implementation is very different between the two, and there may not be feature parity.

[2020-05-27 04:56] #36912 closed

[2020-05-27 04:57] scalablecory commented on #36993
@Kuinox can you expand on what your `SequenceReader` is doing differently?

Note there's a closely related `ReadOnlySequence<T>.FirstSpan` property, though it does not retrieve a position.

[2020-05-27 05:21] iSazonov commented on #23944
Currently Windows PowerShell has LocalAccounts module based on non-public Windows API. I port the module on AccountManagement API with expectation the API will be ported on Unix with (perhaps) PAM support. If we get this, PowerShell 7 users get possibilities to manage local and domain/ldap accounts from any platform.

[2020-05-27 05:43] tannergooding opened #37043 "Determine how to handle SIMDIntrinsicGetZero, SIMDIntrinsicInit, SIMDIntrinsicUpperSave, and SIMDIntrinsicUpperRestore"
With the work to help consolidate `GT_SIMD` and `GT_HWINTRINSIC` so we largely have a single node type to maintain, optimize, etc, it would be good to determine where the boundary between `FEATURE_SIMD` and `FEATURE_HW_INTRINSIC` should be drawn.

The `SIMDIntrinsicGetZero`, `SIMDIntrinsicInit`, `SIMDIntrinsicUpperSave`, and `SIMDIntrinsicUpperRestore` intrinsics in particular are a bit special in

[2020-05-27 05:44] tannergooding commented on #37043
CC. @CarolEidt, @dotnet/jit-contrib

[2020-05-27 05:57] sandreenko commented on #36952
Interesting, I am wondering what are we doing in these methods and why there are regressions:
[code]

[2020-05-27 07:33] MichalStrehovsky commented on #37008
CoreCLR doesn't have the concept of Heisendelegates. Once you have a delegate instance the method it's pointing to is fixed (forgetting about open virtual delegates for a moment).

With the Mono Heisendelegates, one can do:

[code]

I want to find out what `MakeMonoHeisendelegate` is so that we can mark it as trimming unfriendly.

[2020-05-27 08:04] Kuinox commented on #36993
I changed the _moreData local to an enum to store an extra flag.
I set this flag in case of out of bound reading, it allow to remove the bool returned by most Read helpers, because I can simply check this error flag.
The result is a simpler code when reading a sequence, where I simply can read the content then check if there was any error.

[2020-05-27 08:29] #36979 closed

[2020-05-27 08:42] MichalStrehovsky opened #37045 "ILASM/ILDASM support for covariant returns"
The shortcut `.override Class::Method` ILASM syntax is generating unresolvable MemberRefs for covariant returns (only the more wordy `.override method instance ReturnType Class::Method(Param1, Param2)` syntax works).

ILDASM generates the shortcut syntax, things don't roundtrip. I found this when I was playing with this in the linker yesterday.

To repro, e.g. take the [CompatibleWith.il test](htt

[2020-05-27 08:43] MichalStrehovsky commented on #37045
Cc @janvorli

[2020-05-27 08:45] MichalStrehovsky commented on #35315
We don't have bits in the MethodAttribute column anymore, unless we want to do creative combinations (`mdVirtual` + `mdUnmanagedExport`?), or rev the file format version and reinterpret legacy useless bits differently (`mdHasSecurity` or `mdRequireSecObject`).

Doesn't the same concern apply to the custom attribute? Roslyn already enfoces that user can't set bits in the MethodImpl flag (e.g. you c

[2020-05-27 08:51] sanosdole commented on #35465
I stumbled across this issue while fixing a bug in the hosting code from [nodeclrhost](https://github.com/sanosdole/nodeclrhost).

The bug was that the hosted MVC app failed to load its main assembly, which was already loaded to execute the entry point.
The MVC app is hosted using `hostfxr_initialize_for_runtime_config`. The entry point (`assembly.EntryPoint`) of the application is called by a sta

[2020-05-27 08:55] stephentoub commented on #31038
I'm not understanding what the API signature would be. You're saying you could write one method that would support any decomposition, dictated by the call site? How do you do that without explicitly adding a decompose method for each desired arity?

[2020-05-27 09:05] am11 opened #37046 "DirectoryServices.Protocol tests failed with SIGABRT on checked CoreCLR"
`runtime (Libraries Test Run checked coreclr Linux x64 Debug)` leg failed due to dotnet crashed with SIGABRT.

From [console log](https://helix.dot.net/api/2019-06-17/jobs/8b5f4fa7-e518-4de6-9db6-6ecb994f96c1/workitems/System.DirectoryServices.Protocols.Tests/console):

[code]

[2020-05-27 09:16] vitek-karas commented on #35465
@sanosdole Feel free to create a new issue, the info you provided above is definitely enough to start a discussion.

It's hard to tell exactly what's wrong without knowing the details of your setup. I only quickly looked at your code and it definitely could be the secondary ACL problem.

`hdt_load_assembly_and_get_function_pointer` will always load the specified assembly into a secondary load cont

[2020-05-27 09:34] skippernl commented on #36944
@SteveL-MSFT Can you or a college chime in?

[2020-05-27 09:46] dlyz opened #37047 "System.MissingMethodException : Constructor on type 'System.Text.Json.Serialization.NullableConverter[...]' not found"
Related to .NET 5 only.

Consider we have a class:

[code]

where `MyValueTupleConverterFactory` is a `JsonConverterFactory`, that can convert `ValueTuple<int, int>`, but can not convert `Nullable<ValueTuple<int, int>>`.

In this case `System.Text.Json.Serialization.NullableConverter<ValueTuple<int, int>>` will be constructed with an instance of `MyValueTupleConverterFactory` which is `JsonConvert

[2020-05-27 10:33] vscodewinodws commented on #37003
yes by your suggestion i downloaded exe for the preview sdk and installed it and it is working as expected it solved my half problem , but the strange errors visual studio still reports by opening solutions i think it should be not there since i got the code when build was passing and green so can you help me here ?

[2020-05-27 11:09] HASSEN-MEDDEB-ATOS opened #37049 "use specific proxy when call api"
Hello,

i use .NET Core 3.1. I want to make specific api when i call Microsoft graph without using export http_proxy and https_proxy :

area-System.Net.Http
--

this my code
[code]
i did like this but always i get error
[code]

[2020-05-27 11:14] sanosdole commented on #35465
@vitek-karas

Short Answer: This is not an epected use case.

It is not prevented but would be unusual. The main intended use cases are writing a node/electron application using dotnet. The dotnet application is run by a js method `runCoreApp` and then uses the `NodeHostEnvironment` package to interact with the host. Usually JS code is just running the dotnet app, and the app decides when it will

[2020-05-27 11:19] HASSEN-MEDDEB-ATOS commented on #37049
area-System.Net.Http

[2020-05-27 11:22] liiri opened #37096 "Silent fail to delete a file with special character in Alpine Linux"
I'm running the docker image `mcr.microsoft.com/dotnet/core/aspnet:3.1-alpine`, see https://hub.docker.com/_/microsoft-dotnet-core-runtime/

I stumbled upon weird behavior, where when trying to recursively delete a directory using `System.IO.Directory.Delete("path", recursive: true);`, I'm getting the following exception:

[code]

Retrying or waiting doesn't help. Looking into the directory, I fou

[2020-05-27 11:39] IanKemp opened #37055 "Feature Request: Add various extension methods from Microsoft.AspNet.WebApi.Client"
References:

https://github.com/aspnet/Mvc/issues/1639
https://github.com/dotnet/runtime/issues/16538

There is a NuGet package [Microsoft.AspNet.WebApi.Client](https://www.nuget.org/packages/microsoft.aspnet.webapi.client/) that provides a whole bunch of useful extension methods to allow you to perform various useful operations on `HttpClient` and `HttpContent` instances ([`HttpContent.ReadAsAsyn

[2020-05-27 11:54] paramitamandal commented on #31617
@vcsjones can u plz let me know why we need to specify protectedData in ConsoleApp where there is already a reference of ProtectedData in ServiceApp.dll? Moreover for cryptography.Pkcs reference we do not need to specify it in ConsoleApp only reference in ServiceApp is sufficient. Any help is much appreciated!

[2020-05-27 11:59] SingleAccretion commented on #37040
I suppose it is meant to be an extension method (since otherwise it would throw NRE when `value is null`)? In that case it would introduce an inconsistency: generally, extension methods are meant to throw on `null` inputs.

[2020-05-27 12:25] ViktorHofer commented on #37003
Have you already built from the repo root first? `build.cmd clr+libs -runtimeConfiguration Release` should do it.

[2020-05-27 12:26] ststeiger opened #37053 "AssemblyLoadContext.Unload causes System.ExecutionEngineException during debug in VS"
.NET Core 3.1
Windows 10 (DE)
Visual Studio 2019 Community (2) 16.5.0

I have the VB class posted below.
It executes dynamically compiled code loaded with
[code]

It works fine (or at least so it seems).
But when I execute ExpressionEvaluator.Test() in step-through mode, I get

If I set a breakpoint further down, then it works (until the next dispose).
If I just run it with dotnet run, then it wor

[2020-05-27 12:43] vscodewinodws commented on #37003
yes i did that and it was successful

[2020-05-27 12:44] ViktorHofer commented on #37003
ok, so what's the exact error that you are hitting now?

[2020-05-27 12:50] vscodewinodws commented on #37003
there are so many different errors in different solutions adding snap for one of solution

system.console

![image](https://user-images.githubusercontent.com/42150151/83020792-03571a80-9ff7-11ea-9b3e-a85b3c6632be.png)
so if i open other solution there are different set of errors preventing me to write code and send pr

[2020-05-27 12:52] ViktorHofer commented on #37003
Ok I have a hint. Can you please try restoring the test assemblies on the CLI and then open VS again:

[code]

This might be related to a VS restore issue.

[2020-05-27 12:59] vcsjones commented on #36899
@SCLDGit

Actually yes. You should be able to do something like this:

[code]

[2020-05-27 13:22] vscodewinodws commented on #37003
trying it out will ping you back with results

[2020-05-27 13:29] FWest98 commented on #23944
I'm working on an application that does a lot of user and group management through S.DS.AM, which I am planning on running in Kubernetes. Currently, it works with Windows hosts and pods within Kubernetes, but that is tricky to manage and some of our toolkit does not work with Windows in K8s (for example, secret injection from HashiCorp Vault). Add to that the extra licensing costs and computing re

[2020-05-27 13:47] CarolEidt commented on #36963
Fixed with #36994 (there were actually two related but not identical issues)

[2020-05-27 14:01] vcsjones commented on #37040
A similar proposal was already made in https://github.com/dotnet/runtime/issues/26677.

Personally I don't see much value in introducing a new public API just avoid a logical negation.

[2020-05-27 14:09] CarolEidt opened #37059 "Assertion failed '(unsigned)reg < ArrLen(regMasks)' in jitStressRegs"
These two tests fail on x64 Linux platforms with `COMPlus_JitStressRegs=8`, see [this test run](https://dev.azure.com/dnceng/public/_build/results?buildId=659922&view=ms.vss-test-web.build-test-results-tab&runId=20472832&resultId=108331&paneView=debug):
- JIT/Methodical/structs/systemvbringup/structinregs/structinregs.sh
- JIT/Directed/StructABI/StructABI/StructABI.sh

The failures are presumably

[2020-05-27 14:28] markmarsella opened #37060 "Warning CS8602: Dereference of a possibly null reference warning after Asserting not null"
After asserting not null on an object I still get  the warning about dereferencing a null reference

Code example:

[code]

[code]

[2020-05-27 14:32] vscodewinodws commented on #37003
as per your suggestion i executed command

build.cmd libs.tests -restore

with below op

![image](https://user-images.githubusercontent.com/42150151/83033329-fc370900-a004-11ea-9133-267ff2d3c407.png)

when i see few solution e.g system.console are working fine after this restore but System.Text.Json , System.net.http etc shows the errors but very few compare to earlier

i have executed clean and r

[2020-05-27 14:39] ViktorHofer commented on #37003
This is super weird. cc @Anipik @ericstj

[2020-05-27 14:39] tannergooding commented on #36968
@CarolEidt, was this fixed by https://github.com/dotnet/runtime/pull/36994 ?

Given there were 287 failures fixed by https://github.com/dotnet/runtime/pull/36994, I imagine there are a few of these open issues that could be closed now, the assert was just slightly different for each and so they all got shared.

[2020-05-27 14:45] CarolEidt commented on #36968
Unknown. This was a failure in a different stress job than the ones I fixed with #36994. I'm now working on the remaining failures (2 tests x 2 x64/ux platforms with the same failure mode) in the `runtime-coreclr jitstressregs` leg, and then I'll rerun the `runtime-coreclr jitstress2-jitstressregs` leg to see what remains.

[2020-05-27 14:54] vscodewinodws commented on #37003
just to add few words with preview version of vs , shows same error with latest preview

[2020-05-27 14:57] stephentoub commented on #37060
The argument to `Assert.IsNotNull` would need to be attributed as `[NotNullWhen(true)]` for the compiler to be able to infer anything about the object's null state. This is an issue for NUnit.

[2020-05-27 15:11] Devnsyde commented on #35678
Yea, sorry, I'll try to write a small app today.

[2020-05-27 15:15] #37060 closed

[2020-05-27 15:34] jkotas commented on #37053
This is likely duplicate of https://github.com/dotnet/runtime/pull/32311

@ststeiger Could you please install latest 3.1 update from https://dotnet.microsoft.com/download/dotnet-core/3.1 and check whether it fixes the problem?

[2020-05-27 15:41] ericstj commented on #37003
Doesn't repro for me.  It should bind to System.Linq.Enumerable.Zip but it looks like its binding to System.Linq.Queryable.Zip (badly).

I can force it to reproduce if I delete System.Linq.dll from `<repoRoot>\artifacts\bin\ref\net5.0`.  Check if you have this file present.

I suspect in some of your rebuilding you managed to clean System.Linq and not rebuild it (guess).

If the file is missing tr

[2020-05-27 15:53] layomia commented on #31038
This being said, I'll carry on with https://github.com/dotnet/runtime/pull/295 to unblock existing scenarios, and we extend/add more API as needed.

[2020-05-27 16:25] snickler opened #37063 "Slowness on first run of a self-contained WinForms exe"
### Description

The first run of a self-packaged WinForms exe results in 5 second delay before the form window presents itself to the screen. Initially I was filing this solely based on running .NET 5 Preview 6 on ARM64, but this also affects .NET Core the 3.1.3 SDK on x64.

#### On x64
[code]

#### On ARM64
[code]
Running both of these on their individual supported platforms will result in at le

[2020-05-27 16:27] eiriktsarpalis commented on #667
Triage: the issue seems to cover two independent considerations: general `ConcurrentDictionary.Add()` performance and randomized string hashcode generation performance. The former doesn't seem very actionable and the second seems to warrant a separate issue.

[2020-05-27 16:35] eiriktsarpalis commented on #889
@terrajobst what's our stance w.r.t. obsoleting non-generic collections?

[2020-05-27 16:47] NullEntity commented on #715
@dasetser is this still on the roadmap for .NET 5? I've been looking forward to this functionality, but haven't heard about any updates to it in the previews.

[2020-05-27 17:02] layomia commented on #1044
Triage: on inspection, it looks like the MoveNext method in the enumerator is a constant time operation, so your results are surprising. We would need to profile the operation to check for any bottlenecks.

[2020-05-27 17:04] snickler commented on #37063
Linking to #36590

[2020-05-27 17:22] antonfirsov opened #37064 "Unwanted GC root in unused struct on stack"
Seems like this is the root cause for #35846. Considering an infinite event loop like the following:

[code]
When a local `struct` holds a reference to a heap object, it remains a GC Root, even if it goes out the scope. (IP is waiting infinitely at `WaitForSocketEvents()`.)

Self-contained repro here:
https://github.com/antonfirsov/SocketEngineCodegenRepro

I was able to reproduce this in both Deb

[2020-05-27 17:28] antonfirsov commented on #35846
Opened #37064 for the runtime issue. We can workaround it by moving the loop body to a separate method with `[MethodImpl(MethodImplOptions.NoInlining)]`, but that would introduce a perf regression according to my benchmarks.

[2020-05-27 17:29] eiriktsarpalis commented on #1000
What would be the right number of additional elements to allocate in this case? Presumably, the performance benefits of using a builder only come when performing a nontrivial number of update operations, to justify the additional copying from immutable to builder and back. With that in mind, I don't think allocating a builder of size, say, `length + 8` would have any meaningful performance impact?

[2020-05-27 17:29] Devnsyde commented on #35678
I wrote a very small console app in .net core 5 preview that is doing the same thing, and its calling a totally different web service with a sayhello method. This same method works from .net framework 4.7+ and also works with basic auth in .net core 5. I am not sure how to provide you with my environment but I could share the console app I just wrote if needed?

[2020-05-27 17:40] mdh1418 opened #37066 "Microsoft.VisualBasic tests fail on Android"
## Several tests from Microsoft.VisualBasic fail on Android

### Microsoft.VisualBasic.Core.Tests:
[List of test failures](https://github.com/dotnet/runtime/files/4691086/fails.txt)
[XML of test failures](https://github.com/dotnet/runtime/files/4691087/test_failures.txt)

[2020-05-27 17:40] mdh1418 opened #37067 "System.Buffers tests fail on Android"
## Several tests from System.Buffers fail on Android

### System.Buffers.ArrayPool.Tests.ArrayPoolUnitTests:
- [ ] System.Buffers.ArrayPool.Tests.ArrayPoolUnitTests.RentingBufferOverConfiguredMaximumSizeFiresDiagnosticEvent
- [ ] System.Buffers.ArrayPool.Tests.ArrayPoolUnitTests.ReturnBufferFiresDiagnosticEvent
- [ ] System.Buffers.ArrayPool.Tests.ArrayPoolUnitTests.RentBufferFiresRentedDiagnostic

[2020-05-27 17:40] mdh1418 opened #37068 "System.CodeDom tests fail on Android"
## Several tests from System.CodeDom fail on Android

### System.CodeDom.Compiler.Tests.ExecutorTests:
- [ ] System.CodeDom.Compiler.Tests.ExecutorTests.ExecWaitWithCapture_OutputIncludesCurrentDirectory
- [ ] System.CodeDom.Compiler.Tests.ExecutorTests.ExecWaitWithCapture_NullNames_OutputCaptured
- [ ] System.CodeDom.Compiler.Tests.ExecutorTests.ExecWait_OutputCaptured
- [ ] System.CodeDom.Compil

[2020-05-27 17:40] mdh1418 opened #37069 "System.Collections tests fail on Android"
## Several tests from System.Collections fail on Android

### System.Collections.Concurrent.Tests:
- [ ] System.Collections.Concurrent.Tests.EtwTests.TestEtw
[code]
___
### System.Collections.Immutable.Tests:
- [ ] System.Collections.Immutable.Tests.ImmutableArrayTest.IStructuralEquatableGetHashCode
[code]
___
### System.Collections.NonGeneric.Tests:
- [ ] System.Collections.Tests.CaseInsensitiveH

[2020-05-27 17:40] mdh1418 opened #37070 "System.ComponentModel tests fail on Android"
## A couple tests from System.ComponentModel fail on Android

### System.ComponentModel.EventBasedAsync.Tests:
- [ ] System.ComponentModel.Tests.AsyncOperationFinalizerTests.Finalizer_OperationNotCompleted_CompletesOperation
- [ ] System.ComponentModel.Tests.AsyncOperationFinalizerTests.Finalizer_OperationCompleted_DoesNotCallOperationCompleted
[code]

[2020-05-27 17:40] mdh1418 opened #37071 "System.Configuration tests fail on Android"
## Several tests from System.Configuration fail on Android

### System.Configuration.ConfigurationManager.Tests:

- [ ] GetDirectoryOrRootName_GettingDirectoryFromAFilePath
[code]

[2020-05-27 17:40] mdh1418 opened #37072 "System.Data tests fail on Android"
## Several tests from System.Data fail on Android

### System.Data.Common.Tests:
[List of test failures](https://github.com/dotnet/runtime/files/4690665/fails.txt)
[XML of test failures](https://github.com/dotnet/runtime/files/4690666/test_failures.txt)

[2020-05-27 17:40] mdh1418 opened #37073 "System.Diagnostics.DiagnosticSource.Switches.Tests tests fail on Android/iOS/tvOS"
Based on Android x64, x86, arm64 runs on https://github.com/dotnet/runtime/pull/50095

### System.Diagnostics.DiagnosticSource.Switches.Tests

- [ ] System.Diagnostics.Tests.ActivityTests.ActivityIdNonHierarchicalOverflow
    `Assert.InRange() Failure\r\nRange:  (55 - 56)\r\nActual: 27`
- [ ] System.Diagnostics.Tests.ActivityTests.IdFormat_ZeroTraceIdAndSpanIdWithHierarchicalFormat
    `Assert.Equ

[2020-05-27 17:40] mdh1418 opened #37074 "System.Globalization tests fail on Android"
## Several tests from System.Globalization fail on Android

### System.Globalization.CalendarsWithConfigSwitch.Tests:
- [ ] System.Globalization.Tests.CalendarTests.TestJapaneseCalendarDateParsing
[code]
___
### System.Globalization.Tests:
[List of test failures](https://github.com/dotnet/runtime/files/4690726/fails.txt)
[XML of test failures](https://github.com/dotnet/runtime/files/4690727/test_f

[2020-05-27 17:49] tarekgh commented on #37074
@safern could you please link this to the global issue tracking all failures and possibly close it?

[2020-05-27 17:49] Eideren opened #37075 "Misaligned field offset inside LowLevelLifoSemaphore"
# Description
https://github.com/dotnet/runtime/blob/0c043d58ccce29e1d22acd4f77b0e0b352579ac5/src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelLifoSemaphore.cs#L247-L260

``_countOfWaitersSignaledToWake`` is right outside of ``_asLong``'s range and so won't be captured when exchanging, the way that variable is used does not seem like it expects this kind of behavior.
Same thing ov

[2020-05-27 17:50] davidsh commented on #35678
Yes, please share the console app. You can create a ZIP file and attach it to this issue.

[2020-05-27 17:50] safern commented on #37074
Thanks, @mmitche -- dupe of: https://github.com/dotnet/runtime/issues/36672

I believe @steveisok opened some issues for Android so I recommend looking for issues with the label: `os-android` and see what's opened, which ones we can collapse into a single meta issue and which ones don't need a new issue to avoid having to mark them as dupe and closing them.

[2020-05-27 17:50] #37074 closed

[2020-05-27 17:51] #36274 closed

[2020-05-27 17:53] IanKemp commented on #37055
@pranavkm I don't think this should be transferred here, the functionality I'm looking for is mostly around very web-specific stuff regarding JSON.

[2020-05-27 17:54] tannergooding commented on #37067
CC. @GrabYourPitchforks @pgovind
Also CC. @stephentoub as you did some work to reduce RemoteInvokes in https://github.com/dotnet/corefx/pull/41741

This looks like the tests just need some kind of "SkipOnAndroid" attribute

[2020-05-27 17:59] mdh1418 opened #37077 "System.IO tests fail on Android"
## Several tests from System.IO fail on Android

### System.IO.MemoryMapped.Tests:
- [ ] System.IO.MemoryMappedFiles.Tests.CrossProcessTests.DataShared
[code]
___
### System.IO.Pipes.Tests:

These are all RemoteExecutor related
- [ ] System.IO.Pipes.Tests.AnonymousPipeTest_CrossProcess.ServerClosesPipe_ClientReceivesEof
- [ ] System.IO.Pipes.Tests.AnonymousPipeTest_CrossProcess.PingPong
- [ ] Syst

[2020-05-27 17:59] Devnsyde commented on #35678
Here ya go.

[WindowsAuthTestConsoleApp.zip](https://github.com/dotnet/runtime/files/4690840/WindowsAuthTestConsoleApp.zip)

[2020-05-27 18:03] mdh1418 commented on #37072
Dupe of #36841

[2020-05-27 18:03] #37072 closed

[2020-05-27 18:04] benaadams commented on #37064
Does the loop compile in Tier0

i.e. if you add `AggressiveOptimization` does it help?
[code]

[2020-05-27 18:08] jkotas commented on #37064
This behavior is by design. The codegen is free to arbitrarily extend the lifetime of locals.

Check these discussions for details:

https://github.com/dotnet/runtime/issues/9328
https://github.com/dotnet/runtime/issues/6157#issuecomment-226574611

[2020-05-27 18:10] pranavkm commented on #37055
@IanKemp the runtime repo is the appropriate place to discuss `HttpClient` extensibility. Some of your asks might have already been covered by System.Net.Http.Json that was introduced very recently: https://github.com/dotnet/runtime/issues/32937 (/cc @Jozkee)

[2020-05-27 18:16] joperezr commented on #23944
I see. It does sound that S.DS.P supports pretty much all you want to do but I understand the pain that porting from one library to another would mean to apps that already work on Windows. The reasons why we decided to focus first on S.DS.P were because a) S.DS.P supports pretty much all operations you would want to do against an LDAP server, b) supports any type of LDAP server (as opposed to Acco

[2020-05-27 18:19] stephentoub commented on #37067
See the discussions here:
https://github.com/dotnet/arcade/pull/5401#discussion_r419525567
https://github.com/dotnet/arcade/pull/5401#issuecomment-623577466
cc: @safern

[2020-05-27 18:19] safern commented on #35270
Happened again in: https://dev.azure.com/dnceng/public/_build/results?buildId=661003&view=logs&j=9eaa4d7e-225e-55b8-2a77-e1ac7e76d448&t=f70528f6-0b93-5c49-dfc7-de8b842ee9d6&l=53

https://helix.dot.net/api/2019-06-17/jobs/22a3504d-c12f-4136-a2ac-357c4e620e92/workitems/PayloadGroup0/console

[2020-05-27 18:22] Devnsyde commented on #35678
I should probably point out that I did not try this app from the server it is calling, I did try it from my laptop on the VPN running Windows 10 Pro version 10.0.18363 Build 18363 and on a virtual desktop hosted in the office running Windows 10 Enterprise 2016 LTSB version 10.0.14393 Build 14393. Both of these computers are calling a web service that is hosted on windows 2012 R2 server version 6.2

[2020-05-27 18:22] safern commented on #37067
@tannergooding this is a known issue, we have some tracking issues for this to be fixed without having to annotate the tests: https://github.com/dotnet/xharness/issues/205

Also, the ios/tvOS/Android test failures issues that have been open, please ignored as those will be triaged/fixed in a separate wave. At the moment we're just opening issues to understand where we are and to be able to track w

[2020-05-27 18:27] lambdageek commented on #37008
Ah, thanks for the explanation, Michal, I get what you're asking now.

It's really old code, (coming from mono/mono@a37e583ddb9f93385991579a72f3c232a2ece6bd from 18 years ago), I wonder if it's dead.

[2020-05-27 18:29] mangod9 commented on #35270
I am guessing the CI failures are not related to crossgen2, and possibly a different issue which should be assigned to the Tracing team.

[2020-05-27 18:33] safern commented on #35270
@mangod9 do you know who the tracing team would be so that we can loop them in?

[2020-05-27 18:37] erozenfeld opened #37079 "Jit creates multiple zeroes in registers"
This is a follow-up from #1007.

For this example

[code]

the jit generates the folllowing code:

[code]

Both `rcx` and `rax` are used to hold 0.

@CarolEidt's comment from #1007:
I believe there's a separate issue that occurs when the register allocator enregisters a promoted field that's being set to zero. If that field is then only used to copy to another field on the stack (or if it is spill

[2020-05-27 18:37] mangod9 commented on #35270
@tommcdon ^^

[2020-05-27 18:37] erozenfeld commented on #37079
@dotnet/jit-contrib

[2020-05-27 18:40] erozenfeld commented on #1007
#37079 is a follow-up issue for Example 5 (multiple zeroes in registers).

[2020-05-27 18:44] steveisok commented on #37067
The ones that are just RemoteExecutor based can be closed.  We know they'll be skipped once the xharness changes land.

[2020-05-27 18:44] #37067 closed

[2020-05-27 18:49] tommcdon commented on #35270
@josalem

[2020-05-27 18:49] mdh1418 commented on #37077
Dupe of #36836 and #36845, and the rest.are RemoteExecutor errors

[2020-05-27 18:49] #37077 closed

[2020-05-27 18:52] mdh1418 commented on #37068
All of these are RemoteExecutor errors

[2020-05-27 18:52] #37068 closed

[2020-05-27 18:53] mdh1418 commented on #37070
These errors are RemoteExecutor related

[2020-05-27 18:53] #37070 closed

[2020-05-27 19:01] dseefeld commented on #36858
@Anipik I am in progress on getting preview4 runtime building with source-build.  Of the unmarked patches above, the only one I'm still using is do-not-fail-on-test-chmod.patch

[2020-05-27 19:03] josalem commented on #35270
Taking a look

[2020-05-27 19:09] AndyAyersMS commented on #36613
The jit can't generate overrides like this; that has to be done when the method table for the type is created. Changing this to area-vm.

[2020-05-27 19:10] AndyAyersMS commented on #37079
@erozenfeld milestone? Future?

[2020-05-27 19:15] erozenfeld commented on #37079
I think it can be Future unless @CarolEidt thinks we should try to fix this in .NET 5. I'm not sure how much register allocator work will be involved in fixing this.

[2020-05-27 19:30] ViktorHofer commented on #36858
What is the `do-not-fail-on-test-chmod` patch for? Just curious as I might have already fixed a chmod error which sounds related.

[2020-05-27 19:31] safern opened #37082 "MonoTests.System.Drawing.TestBitmap fail on Linux arm on checked coreclr"
Some tests from `TestBitmap` fail with:

[code]

when running on checked coreclr. Some of these tests are:
- LockBits_ImageLockMode_Invalid
- LockBits_Double
- SetResolution_Negative_X

Helix queue: Ubuntu.1804.Armarch.Open
Docker image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-18.04-helix-arm32v7-bfcd90a-20200121150440

cc: @BruceForstall @jashook

category:correctness
theme:gc-stress
s

[2020-05-27 19:33] safern commented on #37082
I'm disabling these on: https://github.com/dotnet/runtime/pull/36910

[2020-05-27 19:36] dseefeld commented on #36858
Here's a link to the patch: https://github.com/dotnet/source-build/blob/master/patches/runtime/0004-do-not-fail-on-test-chmod.patch

[2020-05-27 19:46] MarkusAmshove commented on #23944
We use AccountManagement to read all users from specific groups in Active Directory, so no „management“ per se  :) is there a replacement for those use cases on either Core or .NET5? Just from searching it, it also seems like an unresolved issue for ASP Core identities, aside from Azure AD somehow :)

[2020-05-27 19:47] TheSpydog opened #37084 "Future of dllmap / NativeLibrary?"
I work on a game framework that makes use of Mono's dllmap feature for supporting varying native library names across different platforms. I've found the dllmap mechanism to be plenty sufficient for the needs of the project (and far simpler to use than .NET Core's NativeLibrary API), but I'm wondering how future-proof it is.

Since .NET Core 3.0 introduced NativeLibrary, and the Core and Mono runt

[2020-05-27 19:50] lambdageek commented on #36820
@lateralusX I think you mentioned that you took the native code changes from #36242 (adding array types) already as part of #34600? Is that accurate?

[2020-05-27 19:51] ViktorHofer commented on #36858
Yes, that one is already fixed in P4. I added the condition if the current OS is not Windows: https://github.com/dotnet/runtime/blob/release/5.0-preview4/src/libraries/restore/runtime/runtime.depproj#L68.

[2020-05-27 19:56] tannergooding commented on #37079
This also comes up for `HWIntrinsics` and `SIMDIntrinsics` where multiple SIMD registers may hold "zero" at the same time.

[2020-05-27 20:01] AndyAyersMS commented on #36366
I don't see the same failure mode. @AaronRobinsonMSFT can you verify in the below I am running the correct test?

[code]

[2020-05-27 20:01] BruceForstall commented on #37082
I've seen this failure with many tests in https://github.com/dotnet/runtime/pull/36486. I haven't had the chance to investigate / disable them yet.

[2020-05-27 20:06] filipnavara commented on #37084
First of all, `NativeLibrary` works on all .NET 5 runtimes (CoreCLR, Mono and CoreRT). The dllmap code is currently disabled in the .NET 5 code base.

I don't think there is concensus on whether the DllMap support will be re-enabled or not. It may still be useful for AOT compilation where the declarative approach can be evaluated at compile time easily. For CoreCLR there were originally plans to r

[2020-05-27 20:07] buyaa-n commented on #33763
Need to turn on the analyzer on runtime repo after its updates shipped to nugget, but i think we don't need to keep it open for that

[2020-05-27 20:07] #33763 closed

[2020-05-27 20:09] IanKemp commented on #32937
Seems like these comments weren't addressed even though this PR was merged?

[2020-05-27 20:11] IanKemp commented on #37055
@pranavkm thanks, did not know that. The new APIs you linked to seem like they will cover a lot of my "wants" but I feel like it would be useful to cross-check them against what was/is available in `Microsoft.AspNet.WebApi.Client`.

[2020-05-27 20:11] joperezr commented on #23944
Yup with System.DirectoryServices.Protocols you can do that as well. The way to do it would be to create a LdapConnection object, and use it to send a SearchRequest where you can filter out for objects of type user which have the group id on their memberOf property. Granted doing this is a bit more complicated than using AccountManagement, given that with S.DS.P you are working with the Protocol i

[2020-05-27 20:14] mdh1418 opened #37087 "System.Net.Requests.Tests tests fail on Android"
## Several tests from System.Net.Requests.Tests fail on Android

## System.Net.Requests.Tests
- [ ] System.Net.Tests.HttpWebRequestTest_Sync.SimpleScenario_UseGETVerb_Success(useSsl: True)
- [ ] System.Net.Tests.HttpWebRequestTest_Sync.GetResponseAsync_UseDefaultCredentials_ExpectSuccess(useSsl: True)
- [ ] System.Net.Tests.HttpWebRequestTest_Sync.GetResponseAsync_PostRequestStream_ContainsData(us

[2020-05-27 20:17] mdh1418 opened #37088 "System.Memory tests fail on Android"
## Several tests from System.Memory fail on Android

### System.Memory.Tests:
- [ ] System.Tests.StringTests.ToUpper_TurkishI_TurkishCulture(s: \&quot;iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii\&quot;..., expected: \&quot;İİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİİ\&quot;...)
- [ ] System.Tests.StringTests.ToUpper_TurkishI_TurkishCulture(s: \&quot;ia TeSt\&quot;, expected: \&quot;İA

[2020-05-27 20:28] TheSpydog commented on #37084
Ah, good to know!

I'm curious why it _wouldn't_ be re-enabled? CoreCLR I understand since the feature didn't exist in the first place, but for Mono, why remove something that already works? 🙂

That's a shame, having a built-in compatibility shim seems like a great solution.

[2020-05-27 20:38] josalem commented on #35270
Couldn't repro locally, but I created a PR to enhance this quite of tests.  I'm hoping that if the tests fail again, we should be able to easily identify what went wrong.  The `Connection Refused` exception sounds like the subprocess may have died prematurely causing this exception externally.  The timeout, I'm not sure about.

[2020-05-27 20:40] MichaelSimons opened #37090 "Add libldap as a dependency of the runtime-deps package"
In 5.0 a new native dependency was added on libldap.  As a result, it should be added as a dependency of the runtime-deps linux packages.

Related:
https://github.com/dotnet/runtime/pull/36405
https://github.com/dotnet/runtime/issues/36888
https://github.com/dotnet/dotnet-docker/issues/1946

[2020-05-27 20:42] weltkante commented on #10315
I'm getting a bunch of pointless moves when using `Unsafe.As` - but its slightly different from what is reported here so far, seems like JIT doesn't do copy propagation after `Unsafe.As`. Should I open a separate issue for that?

[code]

<details><summary>source and further info</summary>

---

Produced by nightly build:
.NET Core SDK=5.0.100-preview.6.20273.3
.NET Core 5.0.0 (CoreCLR 5.0.20.27110

[2020-05-27 20:42] MichaelSimons opened #37091 "Add libldap package to the snaps"
In 5.0 a new native dependency was added on libldap.  As a result, it should be added as a package that is included in the .NET snaps.

Related:
https://github.com/dotnet/runtime/pull/36405
https://github.com/dotnet/runtime/issues/36888
https://github.com/dotnet/dotnet-docker/issues/1946
https://github.com/dotnet/runtime/issues/37090

[2020-05-27 20:48] logiclrd commented on #1570
I initially arrived at this issue with ASP.NET Core-coloured glasses, and feel a bit foolish now, as it seems clear that this issue was in fact created for the upstream problem in `System.Text.Json` itself. The things I wrote were ultimately not technically wrong, but they were in response to misunderstanding the ticket's description in the first place.

I see that @steveharter self-assigned this

[2020-05-27 20:49] filipnavara commented on #37084
Both the native library loading code and the assembly loading code was substantially reworked to align the behavior with CoreCLR and add support for the new APIs (`NativeLoader`, `AssemblyLoadContext`). It now follows the same file name fallback logic (eg. trying "lib" prefixes, ".dll"/".dylib"/".so" suffixes, "libc" fallback, etc.). The simple answer is that the baseline was to match CoreCLR APIs

[2020-05-27 20:54] AndyAyersMS commented on #10315
Most likely the root cause is residual "address exposure" that is blocking promotion of some of the intermediate temp structs. Will update once I've had a chance to confirm/refute.

[2020-05-27 20:57] mdh1418 opened #37093 "System.Runtime.Numerics.Tests tests fail on Android"
## Several tests from System.Runtime.Numerics.Tests fail on Android x86

## System.Runtime.Numerics.Tests

- [ ] System.Numerics.Tests.ComplexTests.Reciprocal(real: 1.7976931348623157E+308, imaginary: 1.7976931348623157E+308)
- [ ] System.Numerics.Tests.ComplexTests.Reciprocal(real: -1.7976931348623157E+308, imaginary: -1.7976931348623157E+308)
- [x] System.Numerics.Tests.GetBitLengthTests.RunGetB

[2020-05-27 21:01] AndyAyersMS commented on #36078
Basic support added in #36887.

[2020-05-27 21:01] #36078 closed

[2020-05-27 21:02] Anipik commented on #32451
Things that need to get done here. Taken from @jkotas  comment  https://github.com/dotnet/runtime/pull/33315#issuecomment-601508163

- Changes that affect developer workflow should be synchronized using https://github.com/dotnet/runtime/issues/33821
- For anything that gets renamed to use RIDs, make it follow RIDs 100%: i.e.: Debug\win-x64 instead of win.x64.Debug, linux-arm instead linux_arm, etc

[2020-05-27 21:07] mdh1418 opened #37094 "System.Security.Cryptography.Pkcs.Tests tests fail on Android"
## Several tests from System.Security.Cryptography.Pkcs.Tests fail on Android

## System.Security.Cryptography.Pkcs.Tests
- [ ] System.Security.Cryptography.Pkcs.Tests.SignedCmsTests.AddFirstSigner_RSA(identifierType: SubjectKeyIdentifier, detached: True)
- [ ] System.Security.Cryptography.Pkcs.Tests.SignedCmsTests.AddFirstSigner_RSA(identifierType: SubjectKeyIdentifier, detached: False)
- [ ] Sys

[2020-05-27 21:11] mdh1418 opened #37095 "System.Xml tests fail on Android"
## Several tests from System.Xml fail on Android

### System.Xml.Xsl.XslCompiledTransformApi.Tests:
[List of test failures](https://github.com/dotnet/runtime/files/4691862/fails.txt)
[XML of test failures](https://github.com/dotnet/runtime/files/4691863/test_failures.txt)

[2020-05-27 21:47] TheSpydog commented on #35299
@danmosemsft @jkotas I'm a bit confused what the resolution was here, if there was any. In an attempt to clarify this issue, let me ask the following question:

If a community member (read: likely me and/or @flibitijibibo) fully implemented a MONO_IOMAP-equivalent feature that was...
1) Disabled by default at build time, guarded by a compile flag
2) Disabled by default at runtime, and only enabled

[2020-05-27 21:48] josalem commented on #35270
Rereading the logs posted above, I think there are actually 3 different issues in this one issue.  The initial comment at the top has error output from crossgen2 and looks as though crossgen failed to R2R the test binary.  The other 2 errors appear to be a timeout and an exception that should have more information if they happen again under the PR I linked.

[2020-05-27 21:49] kouvel commented on #37064
The part I found odd in that function is that in optimized code `contextWrapper = default;` is optimized out by the JIT, indicating that it must not be live anymore, but it is still kept alive around the loop and since the struct is not cleared it holds on to a `SocketAsyncContext`. If the lifetime of the struct were extended then at least the clearing of it should be kept around.

[2020-05-27 21:55] mangod9 commented on #35270
Yeah correct, the original crossgen2 issue is unrelated and shouldnt be affecting CI. If this repros a new issue should be created so they could be tracked separately. Thx.

[2020-05-27 22:00] danmosemsft commented on #37096
Thanks for the report. If you're interested, you could use `strace` to see the failing syscall. Then make a small C program that makes the syscall directly and see whether it gives the same result.

[2020-05-27 22:01] AaronRobinsonMSFT commented on #36366
@AndyAyersMS Your steps above seem correct. I am still able to reproduce this issue at 0c043d58ccce29e1d22acd4f77b0e0b352579ac5. My steps and output are below.

[code]

[2020-05-27 22:02] kouvel commented on #37064
For longer term it may be feasible to separate the handling of events into a `NoInline` method to make it work the expected way deterministically in Debug and Release builds.

[2020-05-27 22:02] #37059 closed

[2020-05-27 22:05] kouvel commented on #37064
Ah I just saw on the other issue that you already tried that and saw a regression. It seems a bit surprising that one call per loop iteration would cause a perf regression, how bad is it and are you sure it's outside noise range?

[2020-05-27 22:07] tthiery opened #37099 "BitConverter.ToSByte(byte data)"
## Background and Motivation

When interpreting raw communication protocols, we need to convert a single byte (from a byte array) into a signed byte (e.g. Bluetooth GATT message with byte in position 23 is the current RSSI value (-127 - 0).

SByte seems an omission, considering a pretty wide mapping of [signed and unsigned elementary data types](https://docs.microsoft.com/de-de/dotnet/api/system.b

[2020-05-27 22:07] FWest98 opened #37100 "Support System.DirectoryServices.AccountManagement on Linux(/macOS)"
Following the discussion in https://github.com/dotnet/runtime/issues/23944#issuecomment-634850013, this issue is to track adding support for Linux (and/or macOS) to the S.DS.AM namespace. Since S.DS.Protocols is now implemented for all platforms, a logical next step would be to look into the "derived" namespaces.

As for a use-case, I quote myself from the other issue:

I believe everything in S.D

[2020-05-27 22:07] FWest98 commented on #23944
I added a tracking issue for this: https://github.com/dotnet/runtime/issues/37100

[2020-05-27 22:09] jkotas commented on #37064
The JIT is free to create temporary copies of values that are outside your control. I suspect that it is likely happening in this case.

Note that Mono has conservative GC. The `NoInline` trick does not solve this with non-deterministic GC.

Is the extension of the lifetime causing performance issues or functionality issues? If it is causing functionality issues, it would be a good idea to rethink

[2020-05-27 22:16] kouvel commented on #37064
Oh I see. The issue is that the `SocketAsyncContext` that remains alive in turn keeps the associated `Socket` object alive. So when the epoll thread is waiting it may indefinitely prevent a socket object from being finalized. There is a unit test that verifies that after using a socket object and not disposing it, that it gets finalized in reasonable time. It seems like a reasonable test but I'm n

[2020-05-27 22:36] AndyAyersMS commented on #36366
I'm on a fairly old build, let me move up and retry.

[2020-05-27 23:03] JasonDWilson opened #37131 "Terminating GenericHost without Control-C"
I've looked had no luck in finding an answer, but is there a way to use the generic host in a console app and have it run and terminate automatically.  RunConsoleAsync waits for Control-C to terminate.

[2020-05-27 23:07] davmason commented on #33198
Fixed with #35334

[2020-05-27 23:07] #33198 closed

[2020-05-27 23:10] BruceForstall commented on #36911
@erozenfeld Fixed a related bug here: https://github.com/dotnet/coreclr/pull/12200.

[2020-05-27 23:10] NinoFloris commented on #1000
I usually use MoveToImmutable which is just a reference swap. You'd still have the copy *into* the Builder but for ImmutableArray I don't think you have any other option to Add to it that does any better than at least one full copy. It's not like a map or list in that regard so I'm not really sure what you mean by

If Builder just starts with some extra elements that would help, especially for sma

[2020-05-27 23:28] AndyAyersMS commented on #36366
Moved up to ef72b95937 and now can repro, intermittently.

[2020-05-27 23:30] tylerpayne commented on #31743
Running into this problem as well.

I SWIG'd a C++ project to generate C# wrappers. Linked my wrappers and the native x86 DLLs with x86 cl.exe. OBJDUMPing the resulting DLL confirms all my expected exports are there. Unfortunately, the moment my x86 C# project tries to PInvoke I get `BadImageFormatException: An attempt was made to load a program with an incorrect format. (0x8007000B).`

I've also

[2020-05-27 23:37] sywhang commented on #35424
Closed by #36150

[2020-05-27 23:37] #35424 closed

[2020-05-28 00:01] pranavkm opened #37104 "Microsoft.Extensions.Logging is missing a dependency on Microsoft.Extensions.Configuration.Binder in 5.0"
### 3.1
![image](https://user-images.githubusercontent.com/174281/83083648-869a5f80-a03b-11ea-85d5-1d1e21753a77.png)

### 5.0
![image](https://user-images.githubusercontent.com/174281/83083684-9d40b680-a03b-11ea-8797-980ec411c122.png)

[2020-05-28 00:02] pranavkm commented on #37104
Noticed this when I was updating one of our templates targeting ns2.1 to use the 5.0 package.

[2020-05-28 00:35] ivdiazsa commented on #33167
Several points have been improved, such as removing `subsetCategory` and changing the pipe notation to a dot. However, there are other points that could be improved upon:
- Add the default values to the help (OS, Arch, Configurations).
- Sort the flags alphabetically.
- Remove the error when passing `-subset help`.

I can work on these improvements and extend the first two to `build.sh` as well. I

[2020-05-28 00:39] safern commented on #33167
I don't think so because `-subset help` is generated from MSBuild. Maybe there is a flag to tell MSBuild to not print these metrics?

[2020-05-28 00:40] vcsjones opened #37106 "Unhelpful exception in ECDsa.Create with curve from friendly name on macOS"
Consider:

[code]

on  5.0.100-preview.4.20258.7 macOS, this produces the exception:

Note there is nothing between `''`.

On Windows:

Note the presence of potato in the exception.

It seems that the SecurityTransforms implementation is missing an `Oid.Value ?? Oid.FriendlyName` somewhere.

[2020-05-28 00:44] mrj001 opened #37107 "Dogfooding not working."
I'm trying to get the "More Advanced Scenario - Using your local CoreFx Build" working.  (Possible related  #30685)
I've built it as follows:
[code]
The build succeeds.
Then:
[code]
produces the following output:

so the file referenced in step 1 does not exist.  Please have the documents updated.

I'm on Windows 10 Home, using git bash as the command prompt.
HEAD is at: 0c043d58ccc

[code]
produc

[2020-05-28 00:53] maryamariyan opened #37108 "Microsoft.Extensions.DI.Specification.Tests need to be shipped"
DI.External tests use DI.Specification.Tests https://github.com/dotnet/runtime/pull/37103

Outside of the runtime repo, DI.Specification.Tests could be useful and they used to be shipped from extensions repo prior to https://github.com/dotnet/extensions/pull/3160

This issue keeps track of this work item.

[2020-05-28 00:56] jkotas commented on #35299
I am sorry - I do not see this as a good feature to have in this repo, even if the code is not building by default.

Convince me or some other maintainer of dotnet/runtime that it is a good feature to have. E.g. Do other runtimes (Java, Go, Rust, ...) have a feature like this?

It is a non-goal for us to keep all 10 or 20 year apps working on latest .NET Core versions without any changes. There ar

[2020-05-28 00:59] maryamariyan commented on #37108
@JunTaoLuo Do we also need to be shipping Logging.Tests? or DI.Specification.Tests is the only one needed to ship?

[2020-05-28 00:59] maryamariyan commented on #37108
cc: @safern

[2020-05-28 01:01] JunTaoLuo commented on #37108
Di.Specification.Tests need to be shipped. Logging.Tests do not.

[2020-05-28 01:02] clairernovotny opened #37109 "System.Buffers contains untracked sources"
Seems like there are some generated files that aren't being embedded in the pdb.

![image](https://user-images.githubusercontent.com/1427284/83086652-59f73f80-a05d-11ea-9474-1e87742cebb1.png)

@ericstj

[2020-05-28 01:03] clairernovotny commented on #37109
It's also not deterministic, needs `ContinuousIntegrationBuild` set to true.

[2020-05-28 01:04] #36700 closed

[2020-05-28 01:04] safern commented on #37107
Thanks, @mrj001 I will update the docs.

[2020-05-28 01:06] safern commented on #37107
Actually closing as dupe of: #30685

[2020-05-28 01:06] #37107 closed

[2020-05-28 01:39] AndyAyersMS commented on #36366
Have a theory about what's going on. The key managed method here is `ComputeVtables`.

When run normally, this test case doesn't run long enough for `ComputeVtables` to tier up. But when run under GCStress things slow down enough that the method gets rejitted.

The tier0 code has the following prolog & gc info
[code]
The Tier1 method has:
[code]
and as you can see we've just stress interrupted at

[2020-05-28 01:56] AaronRobinsonMSFT commented on #36366
@AndyAyersMS Thanks for the analysis. I do have a question about updating `GetSaveMethodCode()`. That method always seems to call `GetStartAddress()` except for the GC stress on non 64-bit - is that the branch you are talking about?

https://github.com/dotnet/runtime/blob/344085b7f0f4a851332143180f20b2cb919fcfc6/src/coreclr/src/vm/jitinterface.cpp#L14208-L14246

[2020-05-28 01:56] danmosemsft commented on #33167
You can suppress "Build Succeeded", the warning/errors count, and the elapsed time by passing "NOSUMMARY" eg `/clp:nosummary`

You can't suppress any of those individually:
https://github.com/microsoft/msbuild/blob/b0d72851842af6f6b50ad62e6e2077790ee5de29/src/Build/Logging/ParallelLogger/ParallelConsoleLogger.cs#L266-L325

[2020-05-28 02:03] AndyAyersMS commented on #36366
Yes, exactly that bit. It grabs the GC coverage info from the MethodDesc, but (typically?) that will be the coverage info for the initially jitted version of the code.

Simple fix attempt hits a lock level violation, so might need to wrangle things around a bit.

[2020-05-28 02:06] AndyAyersMS commented on #36366
@kouvel any suggestions on how best to fix this?

[2020-05-28 02:19] danmosemsft opened #37111 "Use NonRandomizedStringEqualityComparer in HashSet"
This has been pointed out a few times most recently by @GrabYourPitchforks https://github.com/dotnet/runtime/issues/1989#issuecomment-577066945

It adds a bit of complexity, but `HashSet<string>` is common.

Note we would want the https://github.com/dotnet/runtime/pull/36252 goodness as well.

[2020-05-28 02:23] rseanhall commented on #37039
In most Win32 APIs, it is wrong to use `Marshal.GetLastWin32Error` to check if the API failed because [most functions that set the thread's last-error code [only] set it when they fail](https://docs.microsoft.com/en-us/windows/win32/api/errhandlingapi/nf-errhandlingapi-getlasterror).

[2020-05-28 02:30] hueifeng opened #37112 "In Unix is not found with a dot end path dll file"
# Steps to Reproduce
[code]

# OS & dotnet version

OS Name: MacOs Catalina
OS Version: 10.15.3
OS Platform: Darwin

dotnet SDK:  3.1.300

[2020-05-28 02:50] danmosemsft commented on #37112
Does COREHOST_TRACE give any insight?
https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing#how-do-i-debug-the-probing-properties-construction

[2020-05-28 02:54] #37040 closed

[2020-05-28 03:01] tannergooding commented on #7200
@sandreenko, @CarolEidt. I took a look at this as I found a codegen issue around simple struct wrappers. For example: `ValueTuple<double>` where the codegen ended up being pretty bad:
[code]

We currently block struct promotion of structs with a single floating-point field: https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/lclvars.cpp#L1910-L1925
This can be trivially resolved by a

[2020-05-28 03:04] athinboy commented on #37040
@vcsjones
you are right!
But, I think "hasText" is more concise and more  logical  than "IsNullOrWhiteSpace"  .

[2020-05-28 03:22] sandreenko commented on #7200
@tannergooding thanks for the analysis, I mostly agree with you conclusions, a few comments

I would not want to retype the struct as its only field and fix it in LSRA, I hope to delete all code under `compDoOldStructRetyping()` and do not go back to retyping.  With #36862 we will have support for:
`LCL_VAR struct v01 = CALL() ` when struct's fields correspond 1<->1 with ABI return registers, for

[2020-05-28 03:35] hueifeng commented on #37112
@danmosemsft Running in macOS, the effect is as follows. But I can print the information by setting the environment variable by running the same command under the windows system.
[code]
The result of the path without dots is shown below:
[code]

[2020-05-28 03:37] botdev82 opened #37114 "Add Min-Max Heap collection in .NET"
These days companies are hiring people by testing their coding / algorithmic / problem solving / data structures skills on platforms like leetcode, hackerrank, codility, codesignal etc. Some problems require Heap data structure and .net developers are at disadvantage there. If one uses existing collections instead of Heap where Heap is needed then there are bad performance results and other devs l

[2020-05-28 03:41] elinor-fung commented on #37039
That is definitely the case for the Win32 APIs themselves. However, when going through a p/invoke in .NET Core with `SetLastError=true`, the runtime will explicitly clear the last error before calling the target function: https://github.com/dotnet/runtime/blob/master/src/coreclr/src/vm/dllimport.cpp#L862-L868

[2020-05-28 04:23] AaronRobinsonMSFT commented on #36366
@kouvel The lock issue I am seeing is below. I am unsure the reason for `CrstReadyToRunEntryPointToMethodDescMap` being in this code path.

[code]

[2020-05-28 04:29] AaronRobinsonMSFT commented on #36366
The following is taking the `CrstReadyToRunEntryPointToMethodDescMap` lock.

https://github.com/dotnet/runtime/blob/344085b7f0f4a851332143180f20b2cb919fcfc6/src/coreclr/src/vm/readytoruninfo.cpp#L365-L379

[2020-05-28 04:30] danmosemsft commented on #37112
I think you have to set COREHOST_TRACEFILE=<path> and then look in that file

[2020-05-28 04:32] luithefirst opened #37115 "MathF.Log2 unexpected performance"
I did some benchmarking of floating point math functions (`MathF`) and found `Log2` to be an outlier in terms of performance. It is significantly slower than `Log` and `Log10`.

Here is my benchmark setup:
[code]
And here the result:
[code]
|                 Method |      Mean |     Error |    StdDev |
|----------------------- |----------:|----------:|----------:|
|   Log2_Float_MathFLog2 | 25.715

[2020-05-28 04:48] rseanhall commented on #37039
Interesting, I didn't know that. It doesn't really solve the problem though. [`CreateFile`](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-createfilew) is a typical Win32 API. In its documentation, it states how to tell when there's a failure (the returned value is `INVALID_HANDLE_VALUE`). Then it says if it failed, call `GetLastError` for more information. Nowhere does it s

[2020-05-28 05:00] karelz commented on #35337
I wasn't suggesting it should be opt-in. Given it is in place for few years and this is the first complain, I think opt-out is ok.

We should first wait for #31261 to be designed. Then design this API to be consistent / aligned.

[2020-05-28 05:01] tannergooding commented on #37109
CC. @ViktorHofer, @ericstj  this seems like a more general issue that should be handled by arcade

[2020-05-28 05:09] hueifeng commented on #37112
@danmosemsft   I do n’t know why I executed the command on macOS, but still, no result shows me.

[2020-05-28 05:14] karelz commented on #36961
@marek-safar can you please help route it?

[2020-05-28 05:27] shravan2x commented on #35337
@karelz

Oh I misunderstood you. I believe that a big reason this is the first complaint is that very few people have noticed it so far. Even for those people, I strongly suspect they would consider this a privacy concern if they were explicitly asked if they accept this behavior.

[2020-05-28 06:04] danmosemsft commented on #37112
Did it even write the file you specified?

[2020-05-28 06:05] hueifeng commented on #37112
@danmosemsft I did this by executing the command to set up the environment, but did not automatically create and write files

[2020-05-28 06:07] danmosemsft commented on #37112
What path did you set COREHOST_TRACEFILE to?

[2020-05-28 06:08] danmosemsft commented on #37109
@markwilkie should "validation rings" have flagged this?

[2020-05-28 06:09] elinor-fung commented on #37039
The spirit of the rule is that there is a path after the p/invoke where the last error is retrieved without another call in between. As your example points out, only expecting `Marshal.GetLastWin32Error` is not sufficient, but I believe that still fits within the intent of the rule (i.e. the rule should consider `Win32Exception` and not flag something like that).

[2020-05-28 06:09] hueifeng commented on #37112
@danmosemsft  I tried the following four commands, but none of them displayed as expected.
[code]

[2020-05-28 06:09] danmosemsft commented on #37115
@tannergooding

[2020-05-28 06:18] karlra commented on #35337
I disagree strongly with making this opt-out for so many reasons, but if that is the decision, could you at least please change it so that if you set the request-id header explicitly it counts as opting out?

https://github.com/dotnet/runtime/issues/35357

[2020-05-28 06:26] v-haren opened #37117 "Test failure: profiler\\unittest\\getappdomainstaticaddress\\getappdomainstaticaddress.cmd"
failed in job: [runtime-coreclr jitstress 20200526.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=660842&view=ms.vss-test-web.build-test-results-tab&runId=20497446&resultId=100008&paneView=debug)

Error message
[code]

category:correctness
theme:tail-call
skill-level:expert
cost:medium

[2020-05-28 06:27] danmosemsft commented on #37112
And also set COREHOST_TRACE=1

[2020-05-28 06:31] mburbea commented on #37099
Why do you need to these unsafe casts?
[code]
This works without unchecked casts. You only need the unchecked for constant values.

[2020-05-28 06:38] hueifeng commented on #37112
Currently I don't use the folder suffix path ending in ` . ` . The execution results are as follows:
[code]
Through the output results, I still did not see what we expected to see on the macOS system.

[2020-05-28 06:46] Maoni0 opened #37118 "revisit the memory reset logic"
we always MEM_RESET on large enough items on our free list. this has its perf benefits but in general only when mem load is high enough. this means when we are not in such high mem load situation we should avoid paying the cost in page faults.

[2020-05-28 06:47] lateralusX commented on #36820
Just double checked and the changes are applied but in upcoming PR, so not yet merged.

[2020-05-28 06:54] hueifeng commented on #37112
Take a look at the code snippet, the suffix in the folder is In the case of ` . `, the file cannot be found.
If I modify the path and delete ` . `, the application executes successfully
[code]

[2020-05-28 06:57] swaroop-sridhar opened #37119 "Single-File: Implement Linux SingleFileHost with statically linked runtime"
In order to support single-file apps, implement the `singlefilehost` with runtime linked in.
This host is codenamed "super-host" in the [design-doc](https://github.com/dotnet/designs/blob/master/accepted/2020/single-file/design.md#host-builds).

In .net 5, this host will be implemented only for Linux X64.

[2020-05-28 07:02] swaroop-sridhar commented on #32823
The static-host `singlefilehost` is implemented in https://github.com/dotnet/runtime/pull/35368
Trimming native components is implemented in https://github.com/dotnet/runtime/pull/36578

Generating Linux super-host `singlefilehost` is tracked by https://github.com/dotnet/runtime/issues/37119
Consuming the `singlefilehost` by the SDK, and associated changes are tracked by https://github.com/dotnet/

[2020-05-28 07:02] #32823 closed

[2020-05-28 07:11] swaroop-sridhar commented on #37063
@snickler single-file apps currently execute by self-extracting the bundled contents to a temp-folder on first-run as explained in [this document](https://github.com/dotnet/designs/blob/master/accepted/2020/single-file/design_3_0.md). The extracted files are reused on subsequent runs, this improving the startup times. The first run is also slowed down by antivirus checks. So, the slowness on first

[2020-05-28 07:11] #37063 closed

[2020-05-28 07:12] vscodewinodws commented on #37003
i did that as well executed build.cmd from build.cmd but still errors persist , vs shows the error as shows in below image with

![image](https://user-images.githubusercontent.com/42150151/83110124-9728f500-a090-11ea-80d0-40550d633907.png)

and log for vs stack trace open log file

=====================
28-05-2020 03:08:08
Recoverable
System.AggregateException: Project system data flow 'DataflowBl

[2020-05-28 07:21] shjin404 opened #37120 "NamedPipeServerStream.RunAsync(Func<Task> taskFunc) to support impersonation for async code"
## Background and Motivation

NamedPipeServerStream.RunAsync(PipeStreamImpersonationWorker) is available today, but it only runs sync delegate there and is lacking support for async code impersonation.

Given named pipe is utilizing overlapped I/O (async), it make sense to support async code to be impersonated.

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

N/A

## Ri

[2020-05-28 07:42] RezaJooyandeh commented on #31156
@svick Good suggestions. I changed it to `FindIndex` so it would be more clear.

[2020-05-28 07:54] shravan2x commented on #35337
@karlra But then wouldn't the request-id header still be sent?

[2020-05-28 08:16] shjin404 commented on #37120
This is current workaround I am using in the absence of this new API.

[code]

[2020-05-28 08:18] maryamariyan commented on #33894
Meanwhile port and enabling DI.External tests on PR https://github.com/dotnet/runtime/pull/37103 noticed some test failures on mono stacktrace like below:

[code]

[2020-05-28 08:30] iress-ac commented on #27742
@Anipik Could you give an example of how a developer can provide a MessageResourceFile in .Net Core? When adding event logging to the pipeline via `Microsoft.Extensions.Logging.AddEventLog`, you provide an `EventLogSettings` which only contains LogName / MachineName / SourceName.

The issue is quite a bit more intrusive than you might think, as the extra string is not at the end of the message but

[2020-05-28 08:34] DmitryGaravsky opened #37121 "Enable Globalization to read the user setting overrides for current cultures when using ICU"
### Description
The **[DateTimeFormatInfo](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimeformatinfo?view=netcore-3.1)** properties in Net Core 5 Preview 4 return different culture-specific information about the format of date and time values compared to .Net Framework in the same environment

**Our unit tests detected this issue immediately.** (we maintain unit tests for

[2020-05-28 08:51] tthiery commented on #37099
@mburbea Thanks for the hint with the constant. That threw the exception I stepped over. Strict reading sometimes helps.

Mmh ... the api still makes a bit (oh the word play) sense but I expect a quick close from the fx team as it is otherwise easy to solve.

[2020-05-28 08:53] davidfowl opened #37122 "Support 0 byte reads with SSLStream"
Bufferless reads are a technique used in a couple of places in ASP.NET Core to avoid renting memory from the memory pool if there's no data available on the socket; this helps when trying to reduce the memory usage for idle connections for applications that are trying to handle a large number of concurrent connections (like websocket based applications).
- Sockets - https://github.com/dotnet/aspne

[2020-05-28 09:08] iSazonov commented on #37100
S.DS.AM on Windows works with local account too.
I'd enhance the request to support the same on Unix-s too.
On Linux S.DS.AM could utilize PAM.

[2020-05-28 09:43] cg110 opened #37124 "HttpHandlerDiagnosticListener may have issues with W3C tracecontext handling"
### Description
I was looking adopt W3C trace contexts, but with .net framework (we have WCF and workflow code), so have been looking at the Activity class in: System.Diagnostics.DiagnosticSource

The Activity and Diagnostics have proved very useful.

There is an accompanying helper class:
HttpHandlerDiagnosticListener

I was considering using it to track outbound http requests, but it appears the

[2020-05-28 09:47] catlion commented on #805
@rdasan we just allowed access from our server to the certificate authority through the firewall. We couldn't figure how to disable this check completely, unfortunately.

[2020-05-28 09:57] nohwnd commented on #1785
@MattKotsenas Thanks for pointing out that this only works on a "copy". I was trying to repro an issue and it did not repro when I started the process directly. 👍

[2020-05-28 10:11] shiwk opened #37125 "Dataflow TransformBlock cannot accept messages while Link predicates goes well."
Hi guys!

I think something weird happened when I use `System.Threading.Tasks.Dataflow`. The `DataflowBlock`s were linked as below code.

[code]

And the pipeline is
- Calculate transaction **BucketIndex** in **updateBucketIndexTransformBlock**
- Map(by Link predicates) and transform the transaction to one of **validationTransformBlock** with **BucketIndex**
- Transform the transaction from **vali

[2020-05-28 10:22] spacelg commented on #36869
@janvorli  Thanks for your reply and info. I tried to remove skipmanaged option and re-build and re-run coreclr tests. It failed to run tests due to a new error as below. Could you please look at this issue? Thanks a lot.

My repro:

1. git clone https://github.com/dotnet/runtime.git F:\dotnet\runtime
2. Open a vs2019 x64 prompt and browse to F:\dotnet\runtime
3. .\build.cmd -subset clr+libs -c re

[2020-05-28 10:31] spacelg commented on #36869
@AaronRobinsonMSFT

Since coreclr's repro url has been updated to dotnet/runtime, when I started the build, I built it directly under the F:\dotnet\runtime\src\coreclr directory. When building the test, I would always get the error of manage tests. When I checked the document that I needed to pass -subset in the root directory F:\dotnet\runtime to build. So I refer to Building Individual Tests in

[2020-05-28 10:33] mjsabby commented on #34648
Do we have any update from API triage on this?

[2020-05-28 10:38] rogerorr commented on #36644
I found this issue looking for a solution to a related problem.

We have servers running on Linux with Kerberos SPNs and we set the `Host` request header in outgoing requests.
With .Net Framework we get identical behaviour with and without the host header (and with or without port numbers in the host header.)
When trying to use .Net Core setting the host header to `hostname:port` results in failed

[2020-05-28 10:43] svick commented on #37125
I can't spot an issue in your code, but it's hard to diagnose one part of a system in isolation like this. Can you create [a small self-contained application that demonstrates the issue](http://sscce.org/) and post it here?

[2020-05-28 11:07] JamesNK commented on #31198
What I propose be added to `SocketsHttpHandler`:

[code]

`KeepAliveInterval` controls a timer that sends regular connection-level HTTP/2 pings to the server.

`KeepAliveTimeout` would control how long the client waits for the ping reply. If the reply is not received in that time then the connection is closed.

These are the most important settings from how gRPC clients generally handle keep alive

[2020-05-28 11:16] janvorli commented on #36869
I have ran the exact steps that you did and it worked for me. I guess the previous build attempts has left something incorrect in the target folders. Can you please "cd F:\dotnet\runtime" and then run "git clean -xdf" to clean things up and then repeat your steps?

[2020-05-28 11:33] JamesNK commented on #31198
The equivalent settings in the golang client:

[code]

https://godoc.org/google.golang.org/grpc/keepalive#ClientParameters

[2020-05-28 11:35] shiwk commented on #37125
I tried to launch a simple program with the same blocks linking, but it didn't reproduce.

Thanks anyway.

I hope I can propose the issue clearly for you. I am confused that a `TransformBlock` , with `InputCount` zero and Link predicate hit, cannot receive that message, even without any exception before. Maybe I am far from the kernel theory of `DataFlowBlock`.

Btw, for clear, this is the source

[2020-05-28 12:08] karlra commented on #35337
@shravan2x I just mean that if the decision is that .NET will by default continue setting the request-id header for tracking purposes and expecting the developer to opt out, then explicitly setting the value of the header must completely overwrite the header instead of how it works now.

[2020-05-28 12:12] svick commented on #37125
The `InputCount` on its own doesn't matter. What matters is whether the total number of items in the block (roughly `InputCount` + items currently being processed + `OutputCount`) is less than `BoundedCapacity`.

[2020-05-28 12:24] shiwk commented on #37125
`InputCount` and `OutputCount` are all both 0 when the problem happened. And for me **items currently being processed** won't be too many, right? In this case, I set `BoundedCapacity` more than 5000.

I can show you some logs and no more message accepted after these logs.

[code]

It seems the number of pending message is decreasing to zero already.

[2020-05-28 12:36] marek-safar commented on #36961
/cc @SteveSandersonMS

[2020-05-28 12:40] SteveSandersonMS commented on #36961
@TapsTach It's possible something is corrupted or broken in your `bin\Release` directory, so I'd start by deleting your `bin`/`obj` folders from all projects and rebuilding.

If that doesn't work, for us to be able to investigate, can you provide a minimal repro project in which this issue happens? It's possible that something else in your build config is involved.

[2020-05-28 12:42] dericferreira opened #37127 ".NET Core 3.1 - RijndaelManaged - Initialization vector 256 bits not supported"
Hey,

If .NET Core 3.1 still does not support 256 initialization vector why documentation does not reflect that?

Look at this:

//RijndaelManaged
// Legal min key size = 128
// Legal max key size = 256
// Legal min block size = 128
// Legal max block size = 256

Anybody can't get the same result! Why does the documentation is not refleting the truth?

https://docs.microsoft.com/pt-br/dotnet/api/s

[2020-05-28 12:54] tmds commented on #36661
I tried debugging this.
Using `mtrace` didn't make me much wiser.

I used this:
[code]
and resulting mtrace output was:
[code]
Unfortunately no symbol names showed up here. Using `lldb`/`gdb` I was also not able to figure out the symbol names.
I realized that it would not be so useful because the symbol names would most likely be things like `PAL_malloc` which doesn't help find the location.

`val

[2020-05-28 12:57] svick commented on #37125
Ok, I have found an issue with your code: because you're using `PropagateCompletion = true`, as soon as one `validationTransformBlock` completes, completion propagates to `updateRefBlockStatusActionBlock`, which means that items from the other `validationTransformBlock`s might not reach the `updateRefBlockStatusActionBlock`. Can you check the `Completion` of all the relevant blocks to see if this

[2020-05-28 13:02] vcsjones commented on #37127
Correct, it does not support a block size other than 128-bits. This was covered in some detail in this issue: https://github.com/dotnet/runtime/issues/895#issuecomment-577329652

Thanks for pointing that out. [The documentation specifically for `RijndaelManaged`][1] notes of this in .NET Core:

It seems there was just a small oversight in that snippet of code in `SymmetricAlgorithm`.

[1]: https:/

[2020-05-28 13:02] stephentoub commented on #37121
I expect this is by-design and due to switching to using ICU instead of NLS by default for globalization.
https://github.com/safern/runtime/blob/c592559b25de2bcc2ddf8adcb94a9a37fe1d10ce/docs/design/features/globalization-icu.md
cc: @safern, @tarekgh

[2020-05-28 13:05] myrup commented on #36661
@tmds If in any way manageable in size, perhaps it's possible to diff the changes between 2.0 in 3.0 in the code behind launching and cleaning up processes to look for any obvious culprits.

[2020-05-28 13:17] tmds commented on #36661
@myrup on the native side these are the changes: https://github.com/dotnet/corefx/commits/release/3.1/src/Native/Unix/System.Native/pal_process.c.

[2020-05-28 13:45] shiwk commented on #37125
I did and the status of `Completion` is `WaitingForActivation`.

In my case,  the blocks linking structure of  multi To one ,  it will be the cause of blocking message entered?

[2020-05-28 13:46] eiriktsarpalis commented on #1000
Fair enough. I suppose it would make sense since the current behaviour for nonempty arrays contradicts [the comment above](https://github.com/dotnet/runtime/blob/8b57c7023420e83787352bbfba6462d11c2ab0e7/src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Minimal.cs#L271). I would welcome a change provided that it comes with a couple of benchmarks illustrati

[2020-05-28 13:54] danmosemsft commented on #37112
Well thanks for the report. Someone will take a look later. Meantime (unless you want to debug yourself) I suggest you get past it by not using the extra dot.

[2020-05-28 13:57] hueifeng commented on #37112
@danmosemsft  OK, Thank you.

[2020-05-28 14:07] myrup commented on #36661
Big disclaimer: I have not had a look at any of the code behind, and never used `dotnet counters` before, but I think GC Heap Size (MB) staying low is not a guarantee that there are no leaks caused by managed code calling native code in an unintended way. In other words, the regression can also have been introduced on the managed side. But perhaps someone with more insight can weigh in.

[2020-05-28 14:09] cybik commented on #35299
If I recall correctly, and thanks to some work I did for $dayjob last week, with Gradle & Java, it *is* possible to apply interesting compiled classpath transforms at build time. One could presumably write a File.class intercept of some sort that would be comprehensive enough to replicate an automatic different-case resolution behaviour close to what's being suggested here.

But that would apply t

[2020-05-28 14:10] eiriktsarpalis commented on #37114
This is probably a duplicate of #14032.

[2020-05-28 14:10] #37114 closed

[2020-05-28 14:14] tmds commented on #36661
Yes, this is true.
`GC Heap Size (MB) staying low` means the leak is not managed memory.

[2020-05-28 14:17] markwilkie commented on #37109
Yes, but not yet I think @danmosemsft.  Source link is (almost) hooked up.  @adiaaida probably has more input....

[2020-05-28 14:28] stephentoub commented on #37122
It's tested e.g. here:
https://github.com/dotnet/runtime/blob/3d9a603e195ad583c7846265d97bd99e69a6f0d6/src/libraries/System.Net.WebSockets.Client/tests/SendReceiveTest.cs#L461-L462

[2020-05-28 14:29] vitek-karas commented on #37112
I don't have Mac at hand, but on Unix you have to set the environment variable via `export COREHOST_TRACE=1` otherwise it doesn't propagate to child processes.

[2020-05-28 14:33] CarolEidt commented on #36964
Fixed by #36994 or #37062

[2020-05-28 14:33] #36964 closed

[2020-05-28 14:33] CarolEidt commented on #36965
Fixed by #36994 or #37062

[2020-05-28 14:33] #36965 closed

[2020-05-28 14:34] CarolEidt commented on #36966
Fixed by #36994 or #37062

[2020-05-28 14:34] #36966 closed

[2020-05-28 14:34] CarolEidt commented on #36967
Fixed by #37062

[2020-05-28 14:35] #36967 closed

[2020-05-28 14:35] CarolEidt commented on #36968
Fixed by #36994 or #37062

[2020-05-28 14:35] #36968 closed

[2020-05-28 14:36] steveharter commented on #26912
I was unable to repro this on .NET 5.0 or .NET 4.7.2.

@faib920 can you provide a repro please?

Attempted repro:
[code]

[2020-05-28 14:36] CarolEidt commented on #36969
Fixed by #36994 or #37062

[2020-05-28 14:36] #36969 closed

[2020-05-28 14:38] steveharter commented on #13298
Closing this as there have not been any known test failures in the last ~7 months and because I was unable to repro locally.

Please re-open if there are additional hits or more information.

[2020-05-28 14:38] #13298 closed

[2020-05-28 15:02] hueifeng commented on #37112
@vitek-karas The results are as follows:
[code]

[2020-05-28 15:05] karelz commented on #31198
Given that the properties impact only HTTP/2, I wonder if we should modify the names as well ...
The `KeepAliveTimeout` default of 20s seems to be a bit excessive ... is that expected?

I was confused by the name `KeepAliveWithoutRequests` - "without requests" could be interpreted to include also "without active streaming requests". Maybe we could name it better?

cc @scalablecory @ManickaP

[2020-05-28 15:07] karelz commented on #31198
Marking it for 5.0 for now due to raising demand ...

[2020-05-28 15:11] moonrockfamily commented on #36380
Your API designs are very 'clear'. 👍   Looking forward to using https://github.com/StephenCleary/AsyncEx to solve my HostedService BackgroundService recoverability.  Currently, critical exceptions are vaporized, leaving the Host running, but useless!  I don't want to build sophisticated recovery scenarios in my 'worker', it already has a reasonable implementation of 'starting up', why build anothe

[2020-05-28 15:25] scalablecory commented on #31198
QUIC has pings as well.

We might get away with leaving out the `WithoutRequests` property as we already have an idle connection lifetime timeout.

@chrisdot, @JamesNK's proposal is not the more explicit 'is the connection alive right now' API you're asking for. Will keepalive be sufficient, or do you feel some sort of `PingAsync(uri)` is needed for your use?

[2020-05-28 15:33] ViktorHofer commented on #37003
That's actually a project-system bug that was already fixed. @drewnoakes do we have a VS Preview version with the fix?

[2020-05-28 15:37] vscodewinodws commented on #37003
just to update i have latest vs preview installed . but still shows error in code

[2020-05-28 15:38] layomia commented on #35658
That's the feasible workaround for now.

[2020-05-28 15:41] layomia commented on #36937
This is achievable with a custom converter as describe in the doc linked above. Built-in extensibility for writing/parsing `DateTime`/`DateTimeOffset` is not on the roadmap for System.Text.Json.

[2020-05-28 15:41] #36937 closed

[2020-05-28 15:47] tannergooding commented on #7200
@sandreenko, I think I might actually be missing something here....

When we do struct promotion, we create a `LclVarDsc` for each field of the struct, so it isn't necessarily retyping as the LclVar type matches the field type.
In fact, this all lines up pretty well except for when the parent struct is an argument or return type.

When the parent struct is an argument or return type, then it might

[2020-05-28 15:50] vitek-karas commented on #37112
I was able to repro this on Linux. Repro is as above, create a directory which ends with `.` and then `dotnet new console` and `dotnet run`.

The error comes from actually running the program from within managed code.

To get the correct traces one has to go to the output directory and run the executable directly. That will produce the host trace which is interesting, but the traces don't show any

[2020-05-28 15:55] lambdageek commented on #37008
Nothing got tripped in either dotnet/runtime or mono/mono testing that's attributable to those lines in Mono's delegate implementation.

I'm going to assume that Heisendelegates don't exist and will remove that branch.  `Method` should always be non-null in `DynamicInvokeImpl`

[2020-05-28 15:58] thaystg commented on #36449
-> Add support for SuppressGCTransitionAttribute
This was already done and working, this is the PR: https://github.com/mono/mono/pull/17534

[2020-05-28 16:05] tmds commented on #36661
@janvorli this is the change to `maps` over 7 minutes.
[code]

[2020-05-28 16:12] ericstj commented on #37003
I'm sorry that's the case.  Let's find out why that reference is missing.  Do you think you could tell me more information about the specific steps I called out?

1.  Did `<repoRoot>\artifacts\bin\ref\net5.0\System.Linq.dll' exist?
2.  If not, build the `<repoRoot>\src\libraries\System.Linq\ref\System.Linq.csproj` project and see if it fixes it.  If that does not, please share a binlog for the bui

[2020-05-28 16:14] #37106 closed

[2020-05-28 16:22] steveharter commented on #36695
@HongGit @mconnew are there versioning or packaging issues with `System.Private.ServiceModel`?

@DevDrake do you know what triggered the load of `System.Private.ServiceModel, Version=4.5.0.3`? Are there `System.ServiceModel.*` assembly or package references? (I don't expect `System.Private.ServiceModel` to be referenced directly, but instead by other `System.ServiceModel.*` packages).

The issue i

[2020-05-28 16:33] tarekgh commented on #37121
@stephentoub is right. We are now using ICU by default. the doc link that @stephentoub mentioned has the way how to switch back using NLS instead of ICU to revert back to the old behavior. Please send any question you have and we'll be happy to help with.

[2020-05-28 16:56] wfurt commented on #31198
That can be done with TCP keep-alive as well. (once the dialers are implemented)

[2020-05-28 17:06] Tratcher commented on #31198
@wfurt TCP keep-alive is limited to each hop. HTTP/2 pings are also per logical hop, but they reach a little further as they will traverse TLS tunnels through proxies.

[2020-05-28 17:09] Lxiamail commented on #36907
@Sergio0694 thank you for reporting the issue. From your reported results, besides  looks like Division, Fibonacci, and Mandelbrot may have potential regression on .NET5, the other cases have improvements. We can repo the Fibonacci regression on .NET5 and will investigate the root cause.  For the other cases, we don't have repro showing regressions on .NET5. Can you share your microbenchmark tests

[2020-05-28 17:15] #32148 closed

[2020-05-28 17:16] bartonjs commented on #35981
Method calls, or anything involving a member-access expression that isn't a field-access expression, are slightly dangerous to replace, because they could have side effects.  Reducing two calls to one can thus change the behavior of a program.  That might mean that the fixer batch ID needs to be different for member-access replacement, so someone can bulk apply all of the safe fixes then manually

[2020-05-28 17:22] wocar commented on #12409
bump :(

[2020-05-28 17:25] bartonjs commented on #35920
Closing the issue since this was a question about a behavior change in PowerShell, which corresponded to a behavior change between .NET Framework and .NET Core, and that question has been answered.

[2020-05-28 17:25] #35920 closed

[2020-05-28 17:29] MichalStrehovsky commented on #37008
Awesome, thanks! One less warning to worry about.

[2020-05-28 17:30] karelz commented on #37124
@lmolkova can you please advise here?

[2020-05-28 17:45] karelz commented on #35337
@karlra that is discussed in the issue you linked, and our triage https://github.com/dotnet/runtime/issues/35357#issuecomment-634248983 agreed with the behavior - let's keep the discussion there, separate from this one.

[2020-05-28 17:46] karelz commented on #36961
@SteveSandersonMS where should we route this issue? Do we have primary place for tracking Blazor reports?

[2020-05-28 17:47] enricogior opened #37129 "Crash when trying to run non-elevated from an elevate process"
### Description
[PowerToys](https://github.com/microsoft/PowerToys) needs to start a .NET Core application with non-elevated privileges from an elevated process.

We tried two different approaches, they both resulted in this crash report:

![image](https://user-images.githubusercontent.com/3206696/83175139-bcaf1080-a11b-11ea-811c-e7a11095c21d.png)

[code]

**First approch:** start the application

[2020-05-28 17:48] BruceForstall commented on #37117
@tommcdon Possible profiler or profiler test issue? Is this for the diagnostics team?

[2020-05-28 17:53] karelz commented on #31198
@scalablecory my understanding of `KeepAliveWithoutRequests` was that we want pings to be sent on connections where new requests are not created, but there is a streaming going on (or at least one request is streaming, even if not actively).
Such scenario would not be solved with connection lifetime timeout ...

[2020-05-28 17:55] wfurt commented on #31198
that make sense @Tratcher .  Assuming the proxy would forward them rather than responding.
I was somewhat curious about KeepAliveWithoutRequests as I would expect that Ping would be most useful on idle connection. At least that how tcp-keepalive works - sends probes only if there is no data.

[2020-05-28 18:07] Sergio0694 commented on #36907
Hey @Lxiamail - thank you for chiming in!

I'm very confused by what you said here:

What do you mean with "we can repo the Fibonacci regression"?
All these tests were done specifically with my interpreter for that language as I mentioned, that "Fibonacci" test was not just the classic Fibonacci method written in C# 🤔

Anyway, I've sent you an invite to be added as a collaborato to my private repo

[2020-05-28 18:10] wfurt commented on #805
It should be sufficient to have all intermediate certs in your X509Certificate store @catlion. That avoids needs to fetch them as needed.

[2020-05-28 18:13] tannergooding commented on #37115
I'm able to reproduce and did a brief investigation.

Basically the Windows CRT implementation of `log2` isn't that great, however (and luckily) the implementation of `logb` is, switching over to use `logb` results in:

|                    Method |           Job |       Runtime | Toolchain |      Mean |     Error |    StdDev | Ratio | RatioSD | Code Size |
|-------------------------- |-----------

[2020-05-28 18:17] Tratcher commented on #31198
With a TLS tunnel the proxy doesn't see the HTTP/2 frames, it forwards all bytes opaquely.

[2020-05-28 18:21] SteveSandersonMS commented on #36961
Yes, Blazor is part of ASP.NET Core, so dotnet/aspnetcore.

[2020-05-28 18:24] janvorli commented on #36661
Ok, so that means that a growth in memory size by 150MB came from the native heap (malloc).

It is possible though that it is not a real leak, but rather a native heap fragmentation issue. What I mean is that say you allocate many blocks that sum together to 150MB by malloc, then you allocate say 100 bytes by malloc and then free all the 150MB blocks. And let's assume that the 100 bytes were at th

[2020-05-28 18:37] kouvel commented on #36366
Hmm I'm not sure why `CrstReadyToRunEntryPointToMethodDescMap` would be held during the unwind, it only seems to initialize or modify the hash map under the lock.

[2020-05-28 18:38] chwarr commented on #31198
I would expected `KeepAliveWithoutRequests = true` to send pings for a connection that has been established but is (now) otherwise idle. In HTTP/2 parlance, I believe the phrasing would be that pings are sent even when there are no streams in the states reserved, open, or half-closed (i.e., no streams at all or only streams in idle or closed).

My use here is to keep an active TCP, TLS, and HTTP/2

[2020-05-28 18:43] AndyAyersMS commented on #36907
We got our Fibonaccis crossed. We have an internal benchmark with that name that looks like it might have regressed.

Have you done any profiling to try and pin down where things got slower?

You can add me as a collaborator.

[2020-05-28 18:48] davidfowl commented on #37131
You don't need to call StopApplication from StopAsync, that's backwards. StopAsync should be called as a result of the host shutting down.

[2020-05-28 18:48] #983 closed

[2020-05-28 18:49] Sergio0694 commented on #36907
Ah, that explains it, sorry for the confusion! 😄

@AndyAyersMS I've added you to a collaborator as well!
As mentioned before, the repro is in the `repro/net5-regression` branch, in the `Brainf_ckSharp.Profiler` project (under the "Profiling" folder).

I can say that 99.8% of the CPU time is spent in this function:

[code]

It's in the main `Brainf_ckSharp` project in the solution.
Hope this helps,

[2020-05-28 18:55] scalablecory commented on #31198
@JamesNK do you have a specific need for the `KeepAliveWithoutRequests = false` case? Could we reduce complexity, leave it out, and just have it always be `true`? I.e. are the extra (3, I think -- PING -> PONG -> ACK of PONG) packets that get sent on an idle connection too much in some key scenarios that we should optimize for?

@chrisdot as proposed by @JamesNK, the API would not let you check if

[2020-05-28 18:56] AndyAyersMS commented on #35495
Sorry for the slow response. I'll try and take a look before too much longer, but my guess is this will end up being an allocator issue, and those can be tricky to address.

[2020-05-28 18:59] tommcdon commented on #37117
Adding @davmason to take a look

[2020-05-28 19:15] Lxiamail commented on #36907
Sorry for the typo. I meant repro. :)

[2020-05-28 19:16] arham-anees commented on #1559
thanks, it helped me.
i was trying to upload file using IFormFile as paramter, process it and at the end send back to client.
during this process, the file uploaded successfully but response was coming with status code 500.
Visual studio thrown that "could not open file '...**undefined**'
After reading you comment, i just removed the file from response and gave a message in string and it return 20

[2020-05-28 19:21] safern opened #37132 "BinderTracingTest.ResolutionFlow.cmd timed out"
[code]

This was on Windows arm

https://dev.azure.com/dnceng/public/_build/results?buildId=662529&view=logs&j=3ce1ffe6-2daf-5d48-23b6-56961b8285e2&t=e1bc0efe-88b5-592d-ae74-0ec82e3852af&l=38

cc: @jashook who would be the right person to look into this?

Runfo Tracking Issue: [Runtime failures in BinderTracingTest.ResolutionFlow](https://runfo.azurewebsites.net/tracking/issue/53)
|Build|Definitio

[2020-05-28 19:35] juliusfriedman opened #37134 "Struct Return not optimized"
I have created a GIST [Here](https://gist.github.com/juliusfriedman/95e7eef7a4f247781c3ec6f2dc100c3d)

The difference boils down to returning the struct vs assigning it to a variable and returning it.

[code]

I would expect optimized code to be the same for both of these methods however this is not the case...

Is my assumption wrong?

Environment:
Runtime Environment:
 OS Name:     Windows
 OS V

[2020-05-28 19:37] juliusfriedman commented on #37134
Sorry @Dotnet-GitSync-Bot, I only see `Performance-mono` which would not be appropriate here I don't think.

Perhaps a new tag for `Performance` is also needed.

[2020-05-28 19:41] vcsjones commented on #37134
That gist looks like it was debug output, the included JSON file seems to indicate as such. [In release I see identical JIT output][1].

[1]: https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgJgIwCwAUFgMwAEu5AwuQN7FnkAqAlmHAMoAOEAduQCyACgCU9YuSnSpbDj37kAHuQC8Ldl158AdAC1EAewDckmdKwB2ZcalmpAX3vlnTOVsUA5MRKLmL1u4KugYIJv4yzk5EDkA===

[2020-05-28 19:43] scalablecory commented on #37049
Looking at their code, it looks like you'll want to set `HttpClient.DefaultProxy` rather than `WebRequest.DefaultWebProxy`.

If this doesn't work, you'll want to file an issue with the Azure AD libraries repo: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2020-05-28 19:46] juliusfriedman commented on #37134
The thing is I have seen similar results from Production code which prompted this issue creation.

It's odd we see different things...

Is your Framework version the same as mine?

[2020-05-28 19:52] AndyAyersMS commented on #36907
Here's what I get locally for preview3 vs 3.1.4.

[code]
So Fibonacci seems to have a clear regression; the other two are less definite.

I'll also try this on my coffee lake machine with preview 4.

[2020-05-28 20:12] Sergio0694 commented on #36907
It's really interesting that the result seems to be different compared than my notebook with the i7 8750H, and between tests as well. The code is pretty much always the same, the only difference is just the script being executed. Very curious to know what the cause of this regression is! 😊

Also if it helps, I've run the benchmark on my desktop as well:

[code]

Here it looks like both Fibonacci a

[2020-05-28 20:26] DmitryGaravsky commented on #37121
Thanks, @stephentoub and @tarekgh

I clearly understand the reason - using ICU instead of NLS.
The single point I can't understand is "Why the results have taken via ICU does not match OS settings for current culture?".

Should I **always switch back** to NLS **to create desktop applications that take OS settings into account**?

![image](https://user-images.githubusercontent.com/8652582/83190105-

[2020-05-28 20:28] antonfirsov commented on #37064
Looks like we should solve this within the constraints of the current runtime behavior, so I'm closing this issue. @jkotas thanks for the feedback!

@kouvel I suggest to move back further discussions to #35846.

[2020-05-28 20:28] #37064 closed

[2020-05-28 20:32] safern commented on #37121
@Dmitri-Botcharnikov maybe you're hitting this issue: https://github.com/dotnet/runtime/issues/35638 ?

This was fixed for Preview5. Could you try with our latest release and see if that works as expected?

You can get the latest daily build from here: https://github.com/dotnet/installer/blob/master/README.md#installers-and-binaries

[2020-05-28 20:34] #36366 closed

[2020-05-28 20:47] Lxiamail commented on #36907
v5.0 Preview4 on my desktop machine:

BenchmarkDotNet=v0.12.1, OS=Windows 10.0.18363.836 (1909/November2018Update/19H2)
Intel Xeon CPU E5-1650 v3 3.50GHz, 1 CPU, 12 logical and 6 physical cores
.NET Core SDK=5.0.100-preview.4.20258.7
  [Host]        : .NET Core 5.0.0 (CoreCLR 5.0.20.25106, CoreFX 5.0.20.25106), X64 RyuJIT
  .NET Core 3.1 : .NET Core 3.1.4 (CoreCLR 4.700.20.20201, CoreFX 4.700.20.2

[2020-05-28 20:48] Lxiamail commented on #36907
v5.0 preview4 on my laptop:

BenchmarkDotNet=v0.12.1, OS=Windows 10.0.18363.836 (1909/November2018Update/19H2)
Intel Core i7-8650U CPU 1.90GHz (Kaby Lake R), 1 CPU, 8 logical and 4 physical cores
.NET Core SDK=5.0.100-preview.4.20258.7
  [Host]        : .NET Core 5.0.0 (CoreCLR 5.0.20.25106, CoreFX 5.0.20.25106), X64 RyuJIT
  .NET Core 3.1 : .NET Core 3.1.2 (CoreCLR 4.700.20.6602, CoreFX 4.700.20.

[2020-05-28 20:54] mikem8361 commented on #34165
The macOS core dump work isn't finish yet. The best way to find the unhandled managed exception is the console output like Jan was suggesting. You could configure the Mac OS to generate core dumps (ulimit -c unlimited in the shell before running the app), but SOS in lldb on coredumps doesn't work because of a bug in lldb. And currently dotnet-dump isn't supported.

[2020-05-28 21:01] brgrz opened #37155 "Directory not found exception when using PhysicalFileProvider with non-existant folder"
### Describe the bug
This might also be how you wanted to design the behaviour of UseStaticFiles() but to me is counterintuitive and dangerous.

The issue lies with using UseStaticFiles() and setting the exclusion to directory that might not exist.

### To Reproduce

Use this is your Startup.cs

			app.UseStaticFiles(new StaticFileOptions
			{
				FileProvider = new PhysicalFileProvider(
					Path

[2020-05-28 21:02] tarekgh commented on #37121
@DmitryGaravsky that is a good point. we may try to look at this one and figure out if it make-sense using the overrides from the System. I am not expecting users to switch back to NLS just to pick the overrides.

[2020-05-28 21:07] tarekgh commented on #37121
@DmitryGaravsky  I have changed the title of the issue just to reflect what needs to be fixed.

[2020-05-28 21:24] JamesNK commented on #31198
I chose 20s because that is the default in Grpc.Core, grpc-go and grpc-java. I don't have a strong opinion on it.

I considered `KeepAliveWithoutActiveRequests` but that seemed pretty long. I think the additional information could be given via Intellisense XML docs.

[2020-05-28 21:25] AndyAyersMS commented on #36907
On a lot of these run the noise level is fairly high so getting a clear picture of what is going on may be a challenge. My kaby lake seems to have low noise levels so I'm going to start drilling in there.

[2020-05-28 21:38] JamesNK commented on #31198
There are two scenarios that keep alive solves:
1. Keep the connection open when there is no activity to avoid latency when a request is made. In this scenario `KeepAliveWithoutRequests` would be true.
2. Keep the connection open when there is a long running gRPC streaming call with no activity. The client and server know there is an open stream so won't close the connection but a proxy in the mid

[2020-05-28 21:39] JamesNK commented on #31198
@chrisdot An API that allows you to observe whether a TCP connection is open - https://github.com/grpc/grpc/blob/master/doc/connectivity-semantics-and-api.md - would be a separate feature.

[2020-05-28 21:40] jkoritzinsky commented on #3730
Assigning to myself as I'm doing work with the shared framework creation at the moment.

[2020-05-28 21:42] scalablecory commented on #37134
Your gist says you're in a debug build:

[code]

[2020-05-28 21:47] safern commented on #37121
Thanks @tarekgh I've self assigned to start looking into it.

[2020-05-28 21:52] jmaine commented on #35028
@MichalStrehovsky, Could we remove/reduce the need to JITing in the case of value types on generics by having the Jit transform the valuetype to a pointer to a valuetype?

[2020-05-28 21:52] scalablecory commented on #31198
Not a lot. Does gRPC team have metrics on how often people use that configuration in other platforms?

[2020-05-28 21:52] Sergio0694 commented on #36907
I'm really surprised by how different the regression (or not) is between different systems, across the various test cases. That benchmark for Mandelbrot in the last run that @Lxiamail posted looks particularly gnarly, from 9.7s to 12.1s (+2.5s), that's over 20% 😶

@AndyAyersMS Thanks again for investigating this. On a side note (not an expert, just trying to learn as much as I possibly can), could

[2020-05-28 22:06] JamesNK commented on #31198
The golang equivalent is a pretty popular API on GitHub - https://github.com/search?q=PermitWithoutStream&type=Code

@jtattermusch Can you speak to whether [these](https://github.com/dotnet/runtime/issues/31198#issuecomment-635273974) are the right set of keep alive settings to have?

[2020-05-28 22:13] DmitryGaravsky commented on #37121
Thanks, guys! I'll stay tuned

[2020-05-28 22:15] georgikoemdzhiev commented on #7764
Please add support for armv6

[2020-05-28 22:23] safern opened #37136 "System.ComponentModel.EventBasedAsync.Tests.BackgroundWorkerTests.TestFinalization failed on mono interpreter mode"
## System.ComponentModel.EventBasedAsync.Tests.BackgroundWorkerTests.TestFinalization

### Console Log Summary
[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#662934](https://dev.azure.com/dnceng/public/_build/results?buildId=662934)|Rolling|2|
### Configurations
- net5.0-Linux-Release-x64-mono_interpreter_release-Debian.9.Amd64.Open
### Helix Logs
|Build|Pull R

[2020-05-28 22:23] safern commented on #37136
I'll put up a PR to disable the test on interpreter mode.

[2020-05-28 22:43] antonfirsov commented on #35846
@kouvel looks like my initial approach for the method extraction was too naive + my first benchmarks  were not accurate. Opened #37138 for a possible fix.

[2020-05-28 22:46] AndyAyersMS commented on #36907
Yes, the variance.

[2020-05-28 23:03] rrelyea commented on #30258
Would really love to be able to follow [.net design guidelines for collections](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections#collection-properties-and-return-values) to not have settable collection properties.

Strongly believe this should be the default behavior.
If it wasn't supported...i would have expected an exception if the property was set in

[2020-05-28 23:15] BrzVlad commented on #37136
This is not really interpreter related. This is due to conservative pinning and stack pinning just happens in different patterns when using the interpreter, compared to jit code. We should disable this test based on `[ConditionalFact(typeof(PlatformDetection), nameof(PlatformDetection.IsPreciseGcSupported))]`. As other tests that call `GC.WaitForPendingFinalizers ()`

[2020-05-28 23:20] safern commented on #37136
Thanks for looking into this @BrzVlad -- makes sense.

[2020-05-28 23:36] AaronRobinsonMSFT commented on #37134
/cc @CarolEidt

[2020-05-28 23:39] AirEssY commented on #30524
hey @Kieranties , the github links 404 for me

[2020-05-28 23:39] drewnoakes commented on #37003
The bug was fixed in https://github.com/dotnet/project-system/pull/6205/ which inserted in https://dev.azure.com/devdiv/DevDiv/_git/VS/pullrequest/249548 on May 20. That was pretty close to the deadline for 16.7p2, but should have made it in. That build should be available soon.

[2020-05-29 00:08] AndyAyersMS commented on #36907
As you said, all the time is spent in the `Run` method.

Comparing disassembly from 3.1 and 5.0 the main difference I see is the code is laid out differently. I haven't tried matching up all the parts yet to see if there are any big discrepancies in path lengths, but the 5.0 code is a bit more compact, so I suspect that analysis will (in general) favor 5.0.

My hunch is that this method's perf is

[2020-05-29 00:32] danmosemsft commented on #37129
The .NET Framework and .NET Core implementations of `Process.get_Modules()` seem the same -- ending up calling `OpenProcess(Interop.Advapi32.ProcessOptions.PROCESS_QUERY_INFORMATION | Interop.Advapi32.ProcessOptions.PROCESS_VM_READ, inherit: false, processId);`

I wonder if https://github.com/dotnet/coreclr/pull/28019 is related? But that fix was present beginning in 3.1.3 (I verified) and the abo

[2020-05-29 00:32] danmosemsft commented on #37129
@enricogior is it possible to try some other .NET Core versions? Specifically 3.1.2 or earlier. Any 5.0 preview might be an interesting datapoint as well.

[2020-05-29 00:38] mconnew commented on #36695
No versioning or package issues. The problem is most like with your application. I suspect you are  basically doing something like this:
Application depends on
    LibraryProject
    System.ServiceModel.Primitives 4.4.x (any version < 4.5.0.3)

LibraryProject depends on
    System.ServiceModel.Primitives 4.5.0.3

What happens is the application dependency overrides any transitive dependencies and

[2020-05-29 00:45] danmosemsft commented on #37129
Or perhaps @ericstj has a theory.

[2020-05-29 00:54] jkotas commented on #37129
WpfDllVerifier that is calling `Process.Modules` is new in .NET Core.

Does it work for .Net Framework app that just calls `foreach (ProcessModule procModule in Process.GetCurrentProcess().Modules) { Console.WriteLine(procModule); }` ?

[2020-05-29 00:59] jkotas commented on #37129
The most likely explanation for this behavior is that the techniques to launch non-elevated process from elevated one strip the rights for the process to inspect itself. An experiment with an app that calls `ProcessModule procModule in Process.GetCurrentProcess().Modules` would confirm or deny it.

[2020-05-29 00:59] danmosemsft commented on #37129
Thank you! I did not know that the Process.Modules call was new.

[2020-05-29 01:02] tolginator opened #37144 "ECCurve.NamedCurves.nistP*.IsPrime returns false"
# Issue Title

NIST prime curves as defined in the ECCurve.NamedCurves have the *IsPrime* property returning false.

# General

These are NIST prime curves of prime order, and the property must be set to true.

**Sample Code**.
1. Go to debugger in MSVS
2. In the watch window, type ECCurve.NamedCurves.nistP256, and expand it to see the following.

Code: deb-dotnet-corefx/src/System.Security.Crypto

[2020-05-29 01:07] CarolEidt commented on #7200
@tannergooding - the retyping currently happens in order to work around the register file mismatches. But it causes may problems of its own. So once we've got the struct handling the way we'd like it to be, for your `static float Test(Simple s) { return s.x; }` you would allow struct promotion, and just handle that in the prolog. That is the arg variable goes away and gets replaced with s.x. Then

[2020-05-29 01:37] hueifeng commented on #37112
It seems that `.` was removed during the dos path conversion.

https://github.com/dotnet/runtime/blob/578fe57d9068d0d697bf1680f0c6a2dde4cfceca/src/coreclr/src/pal/src/file/path.cpp#L549

[2020-05-29 01:41] v-haren opened #37140 "Test failure: System.Media.Test.SoundPlayerTests.LoadAsync_CancelDuringLoad_CompletesAsCanceled(cancellationCause: 0)"
failed in job: [runtime 20200528.55 ](https://dev.azure.com/dnceng/public/_build/results?buildId=663094&view=ms.vss-test-web.build-test-results-tab&runId=20558868&resultId=131681&paneView=debug)

Error message
[code]

[2020-05-29 01:49] JamesNK opened #37141 "HttpClient and Activity lifetime"
It appears that HttpClient's HTTP request activity ends when HTTP headers are received.

Discussion about it in OpenTelemetry - https://github.com/open-telemetry/opentelemetry-dotnet/pull/687#discussion_r429501398

I don't know whether this is a bug or intended behavior. Wouldn't it be more accurate for the activity to end with the response finishing?

[2020-05-29 01:58] v-haren opened #37142 "Test failure: Loader/classloader/TypeGeneratorTests/TypeGeneratorTest1304/Generated1304/Generated1304.sh"
failed in job: [runtime-coreclr jitstress 20200527.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=662138&view=ms.vss-test-web.build-test-results-tab&runId=20529148&resultId=104200&paneView=debug)

Error message
[code]

[2020-05-29 02:07] davidsh commented on #37141
In general, it is by design. Many of the HttpClient APIs will return immediately after reading just the headers, i.e.  [HttpCompletionOption.ResponseHeadersRead](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpcompletionoption?view=netcore-3.1).

Also, the design of the HttpClient and the handler pipeline based on HttpMessageHandler is that the pipeline work by getting an HttpReque

[2020-05-29 02:12] JamesNK commented on #37141
Ok. It seems inconsistent with how requests in other network graphs are displayed, but I don't have a requirement to change it. The gRPC client has its own activity that does run until the response is complete.

[2020-05-29 03:27] luithefirst commented on #37115
Thanks for the detailed answer. Right, I just performed the same benchmark in C++ (v141) with an identical result. I'm still surprised that there is such a big difference, especially as 2 is such a nice number for computers :D

It's clear to me that my alternative version is only valid for application algorithms, but not as standard implementation.

As the benchmark result was quite similar to the

[2020-05-29 03:44] jmaine opened #37143 "Extra memory used when attempting to JIT generics that have one or more structs as a generic type parameter or when accessed through an interface."
Extra memory used when attempting to JIT generics that have one or more structs as a generic type parameter or when accessed through an interface. The idea is to reduce the number of times a new JITed method is created in both AOT and non-AOT environments. This may also be known as Universal Shared Code.

# Description

Extra memory used when attempting to JIT generics that have one or more struct

[2020-05-29 03:59] bartonjs commented on #37144
The `IsPrime` property is always `false` for named curves, it only has meaning for explicit parameter curves.  This is better spelled out in the documentation than the property name:

https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.eccurve.isprime?view=netcore-3.1

[2020-05-29 05:47] huoyaoyuan commented on #37134
The two versions of code creates [exactly same IL](https://sharplab.io/#v2:C4LglgNgPgAgTARgLACgYGYAE9MGFMDeqGmAKmALYCmAygA4CGAdpgLIAUAlIapn/33LV6zTAA9MAXjKVajJgDoAWlQBOAewDcvAfxgB2cZr46+AX1OZLJIXNEA5LjxS69h2yMUqNx1/0sWKGZAA).

You can use ILSpy to check your production IL code first. If you find difference of IL patterns, you can put them here, which is useful for the JIT team.

[2020-05-29 06:21] spacelg commented on #36869
@janvorli  Thanks for your reply.

When I "cd F:\dotnet\runtime" and then run "git clean -xdf" to clean things up and then repeat My steps, this issue still exists.

Even I git clone source again and repeat my steps, this issue still exists. Can you provide your steps to build coreclr and coreclr test and run test?

F:\dotnet\runtime\src\coreclr\tests>.\runtest.cmd x64 release
python "F:\dotnet\ru

[2020-05-29 06:22] damageboy commented on #35495
It's not critical for me personally anymore, as I've worked around it, and I admit it's pretty obscure in many senses.
But these things always end up being surprising in the sense it might be affecting more people than just me.

Just to be clear, nothing is being blocked by this in any way on my end.

[2020-05-29 06:36] skippernl commented on #36944
Hi any progress on this issue? If needed I can produce a small config file for testing.

[2020-05-29 06:40] batzen opened #37146 "Breaking change for value returned from CurrentUICulture on Windows"
### Description

In previous versions of .NET (including core) `CultureInfo.CurrentUICulture` returned the UI language i chose for displaying on Windows.
Starting with .NET 5.0 this is no longer the case and instead my chosen region format is returned.
I think this is a huge breaking change.
I first noticed this when installing the preview SDK version, compiled and received all output in german, w

[2020-05-29 06:58] safern commented on #37146
Hello @batzen — it seems like you’re hitting: https://github.com/dotnet/runtime/issues/35638

This bug was present in .NET 5.0 Preview 4 and fixed in Preview5. Could you try it out by installing one of the latest daily builds?

You can get them from here: https://github.com/dotnet/installer/blob/master/README.md#installers-and-binaries

Also, this was a fallout from a change we did to use ICU inst

[2020-05-29 07:06] batzen commented on #37146
I can confirm that this is fixed with preview 5.
Thanks for pointing me there.

During installation of preview 5 i noticed that the installer uses german as it's display language and that texts are cut of.
Where do i have to report issues regarding the installer?

[2020-05-29 07:07] Kieranties commented on #30524
@AirEssY I've corrected the links in my original comment, thinks are now in master at: https://github.com/Kieranties/SimpleVersion/tree/master/src/SimpleVersion.Core/Serialization

[2020-05-29 07:11] safern commented on #37146
@jeffschwMSFT @dagood do you guys know who owns the installer?

I wonder if this shows up with the Preview3 installer as well, cause it might also be a fallout from the ICU change on Windows. If you can’t verify that I’ll try it out tomorrow morning pacific time.

[2020-05-29 07:20] batzen commented on #37146
I don't thinks it's something new. I also noticed this for older installers for 3.1 etc.
![image](https://user-images.githubusercontent.com/1971030/83232505-95912700-a18d-11ea-9c99-22672b00219f.png)

[2020-05-29 07:29] miloush commented on #7764
https://blogs.windows.com/windowsdeveloper/2020/05/26/build-your-iot-devices-with-windows-for-iot-a-comprehensive-platform-for-every-device-developer/

I might be interpreting this wrong but it makes me worry there will be no more IoT Core for RPi unless it's ARM64.

[2020-05-29 07:30] MichalStrehovsky commented on #35028
Yes, that's kind of how Universal Shared Code looks like. It can be used for any `T`, but it's a lot less efficient than code specialized for a given `T`. RyuJIT/CoreCLR currently doesn't have support for that. (See sample of how Universal Shared Code looks like in the above mentioned Twitter thread).

[2020-05-29 07:34] ViktorHofer commented on #37003
Thanks Drew

[2020-05-29 07:44] realivanjx commented on #7764
@miloush I dont think that this issue has anything with Windows IoT. The topic here is adding dotnet support to armv6 processor so we can run dotnet on Raspberry Pi Zero.

[2020-05-29 07:46] vscodewinodws commented on #37003
yes it exist now , I rebuild the project and this particular solution vs does not complains any error as it should be , and it's working fine regarding my issue i check more couple of solutions and found they are working with vs.

but one System.text.json has weird errors vs shows rebuild all 4 project successful

![image](https://user-images.githubusercontent.com/42150151/83234820-e3db0180-a15e-1