[2021-07-09 14:54] mattjohnsonpint commented on #55307
@AntonLapounov - that one is tracked by #50311.

[2021-07-09 14:54] SamMonoRT commented on #41861
Assigning to @Daniel-Genkin for tracking

[2021-07-09 14:56] SamMonoRT commented on #39001
@lambdageek - don't believe we really need this for 6.0, is my assumption right ?

[2021-07-09 15:00] SamMonoRT commented on #38433
cc @lewing @radical - Fan will give this a shot.

[2021-07-09 15:07] nibanks commented on #55380
@wfurt what's the call stack for the enqueue crash? I've never seen that before and I'd guess you might be trying to queue work on a freed connection.

[2021-07-09 15:10] jonathanpeppers commented on #44526
We still have this test disabled:

https://github.com/xamarin/xamarin-android/blob/7c5fab13329ee898fb1562f83576a7ca881f2881/tests/MSBuildDeviceIntegration/Tests/InstallAndRunTests.cs#L62-L64

I ran the test just now, and I'm not seeing the `UnhandledException` event fire.

I would think customers would want this event to work. Various crash reporting tools would use it, such as AppCenter or Raygun

[2021-07-09 15:11] BrzVlad commented on #31657
This requires quite a bit of work. We also don't yet support the `TryStartNoGCRegion` api. Currently, such configurations are available only statically via `MONO_GC_PARAMS` env variable. Moving the milestone

[2021-07-09 15:27] tannergooding commented on #55390
I misunderstood this originally based on the context of the related Discord discussion. These APIs do look to be used entirely internally and are not directly used by the compiler, so it should not actually be breaking.

There may still be merit in exposing them, but my general statement quoted was incorrect :)

[2021-07-09 15:30] akoeplinger commented on #47481
@jkotas my understanding is we should get https://github.com/dotnet/runtime/issues/34202 done in 6.0 too, but it depends on this issue.

[2021-07-09 15:33] akoeplinger commented on #55396
I mainly wanted to have a tracking issue somewhere so we can decide whether we want to move to emitting IL and running it on the Mono interpreter. I don't think it's something we should try to tackle in 6.0.

[2021-07-09 15:35] lambdageek commented on #39001
Should be fixed by #55403

[2021-07-09 15:40] vcsjones commented on #55383
Can you include the public certificate that is being used to validate the SAML response?

Is this occurring on Windows, Linux, or MacOS?

[2021-07-09 15:40] jkotas commented on #47481
Ah ok, I got confused between #34202 and #49661 (should one be resolve as duplicate of the other?).  #49661 was moved to .NET 7.

[2021-07-09 15:44] lambdageek commented on #45034
Although I was surprised by how much dead code we managed to prune off in 6.0, I think most of the low-hanging fruit is gone, and any further improvements will come from deeper architectural changes like https://github.com/dotnet/runtime/issues/50656 which doesn't seem like 6.0 timeframe work

[2021-07-09 15:45] #54528 closed

[2021-07-09 15:45] SamMonoRT commented on #53033
From discussions above, am getting a sense it is not a required fix for 6.0. @steveisok - can we can move this to 7.0, and not rush in changes ?

[2021-07-09 15:46] akoeplinger commented on #53307
With https://github.com/dotnet/sdk/pull/18639 the RuntimeIdentifierInference.targets is now imported after the workload targets so setting ` _RuntimeIdentifierUsesAppHost=false` and `UseAppHost=false` should work now as a workaround.

Ideally we shouldn't need to rely on a "private" msbuild property though,  an explicit `UseAppHost=false` setting should be enough to disable the apphost completely.

[2021-07-09 15:47] SamMonoRT commented on #49644
@lewing @akoeplinger @directhex  - do we need anymore work here ?

[2021-07-09 15:48] mthalman opened #55405 "App published as single file fails to run in Windows 10.0.17763 containers"
### Description

Attempting to run the Hello World console app, that was published as a single file deployment, in a Windows 10.0.17763 container will fail with an error message similar to the following:

[code]

This behavior applies to both 5.0 and 6.0. It works in .NET Core 2.1 and 3.1. And it only occurs when targeting a Windows 10.0.17763 container (this version maps to Windows 10 version 180

[2021-07-09 15:48] akoeplinger commented on #49661
Duplicate of https://github.com/dotnet/runtime/issues/34202

[2021-07-09 15:48] akoeplinger commented on #47481
Yes, I closed https://github.com/dotnet/runtime/issues/49661 as a duplicate.

[2021-07-09 15:49] huoyaoyuan commented on #55401
Because `new int()` is valid in C#, and expression tree is meant to preserve the original code you wrote in C#.

[2021-07-09 15:53] lambdageek commented on #49661
It's not a duplicate.  I'm not asking to rename the shared library (although that is also an acceptable fix). I'm asking to update the mono/mini/CMakeLists.txt to use whatever name we configure when it calls the linker instead of copying it to the final name as a post-build step in mono.proj

[2021-07-09 15:57] huoyaoyuan commented on #55399
It will be `null` for any value type. The default (all-zero) constructor is not defined in metadata, but represented as `new` expression.

[2021-07-09 15:58] ManickaP commented on #55380
The error with `QuicOperationEnqueue` seems like regression with closing the connection before closing all its streams.

[2021-07-09 16:03] #54042 closed

[2021-07-09 16:05] christopher-rtf opened #55406 ".NET 5/6 TFM breaks existing WindowsRuntime code ("Invalid pointer" exception)"
### Description
Under .NET Framework 4.6+ and .NET Core 3.1, we register for WNS side-channel push notifications using the Microsoft.Windows.SDK.Contracts NuGet package.  This works in both packaged apps and also in unpackaged apps using sparse packages.

We are currently upgrading our application to .NET 5/6, and it appears that some of the Windows Runtime code has been broken in the migration fr

[2021-07-09 16:07] jkoritzinsky commented on #55406
I think this issue should be filed on https://github.com/microsoft/cswinrt. They own WinRT.Runtime.dll and the C# projections.

[2021-07-09 16:08] cfbao opened #55407 "Microsoft.Extensions.Hosting 6 incorrectly resolves multiple instances of the same service type"
### Description

minimal repro repo: https://github.com/cfbao/net6-host-di-bug-repro

* set up a worker app using generic host
* use version 6.0.0-preview.5.21301.5 of Microsoft.Extensions.Hosting
* make a dummy service
[code]
* register this dummy service multiple times in DI using different IDs
[code]
* request all these services from DI, and log their ids
[code]
* run the app using `dotnet run`

[2021-07-09 16:11] nibanks commented on #55380
@ManickaP I assume you mean a regression in .NET, not MsQuic? Since it's always been a bug if you closed (freed) a connection before the streams, at the MsQuic layer.

[2021-07-09 16:11] christopher-rtf commented on #55406
Proposed area label:
area-Interop-coreclr

@jeffschwMSFT @AaronRobinsonMSFT

[2021-07-09 16:12] ManickaP commented on #55380
Yes, in our code. I'm trying to repro it and pinpoint the commit that might have caused it.

[2021-07-09 16:16] jkoritzinsky commented on #55406
Tracking https://github.com/microsoft/CsWinRT/issues/905

[2021-07-09 16:29] ManickaP commented on #55380
Got different exception, this time managed one:
[code]

[2021-07-09 16:30] cfbao commented on #55407
BTW, this bug also impacts any ASP.NET Core 6 projects, and AFAICS there's no easy workaround there.

[2021-07-09 16:32] adamsitnik commented on #53182
@sba923 once again big thanks for all your help!

[2021-07-09 16:32] VSadov commented on #54347
This should be fixed in https://github.com/dotnet/runtime/pull/55037

[2021-07-09 16:32] #54347 closed

[2021-07-09 16:32] VSadov commented on #45720
This should be fixed in https://github.com/dotnet/runtime/pull/55037

[2021-07-09 16:33] sba923 commented on #53182
You're very welcome.

[2021-07-09 16:44] sandreenko commented on #41704
Multi-def SSA is a large work item that won't happen in 6.0. Marking it as Future for now.

[2021-07-09 16:52] ElanHasson commented on #36394
Any updates on this item?

[2021-07-09 16:56] lambdageek opened #55412 "[Android] Building fails with Android NDK r22 on OSX?"
1. Download Android NDK r22
2. Build with `export ANDROID_NDK_ROOT=/path/to/android-ndk-r22 ./build.sh --os android --arch x64 -c Release`

Expected:

Build succeeds

Actual:

[code]

Build fails while linking `libSystem.Native.a` with:

Note that it's **Xcode**'s linker that is complaining.  So something about the toolchain detection is not picking up the linker from the NDK and falling back to w

[2021-07-09 16:57] lambdageek commented on #55412
/cc @akoeplinger @steveisok

[2021-07-09 17:01] t-mustafin commented on #54739
Thanks, it works. Close the issue.

[2021-07-09 17:01] #54739 closed

[2021-07-09 17:05] dazinator commented on #42364
@davidfowl How about a startup pattern where you would remove the flexible "Configure()` method, and instead, you would register a service with the host that can configure the pipeline for web hosts. For no web hosts, this service (if accidentally registered) wouldn't be utilised.

[code]

and

[code]

A delegate based implementation could be supplied out of the box so users don't have to implemen

[2021-07-09 17:05] wfurt commented on #55380
This means the SafeHandle was closed. Is there some easy way to check state of the streams/connection @nibanks and know if it was closed and incase of connection there are pending streams?
The flush has
[code]
But I guess the close can happen while in the functions.

I can comment out closing the connection (and live with memory leak) to see if the Assert in Operation goes away.

[2021-07-09 17:13] Tratcher commented on #42364
@dazinator isn't that pretty much what IStartupFilter already allows you to do?

[2021-07-09 17:16] lewing commented on #49644
@SamMonoRT 11 is a lot better, I'd like to try to come up with a long term plan here but I think we're good for 6, moving to 7

[2021-07-09 17:21] bartonjs commented on #55356
Yeah, that's probably reasonable.  I'm way less clear on the use case for LoadPublicKey (since a software key is probably fine and faster (or fast enough) for public ops); but it's a low enough incremental cost that it doesn't hurt.

[2021-07-09 17:24] davidfowl commented on #55407
Dupe of https://github.com/dotnet/runtime/issues/54407 and yes there's an easy work around.

[2021-07-09 17:24] #55407 closed

[2021-07-09 17:25] davidfowl commented on #54407
Here's an update to the known issues list with a workaround https://github.com/dotnet/core/blob/main/release-notes/6.0/known-issues.md#net-runtime

[2021-07-09 17:25] dazinator commented on #42364
@Tratcher good point!  Quick thought: Does that mean that `UseStartup<>` works (or should work?) by registering an `IStartupFilter` implementation that uses reflection to find and invoke a configure method on the target startup type then?

[2021-07-09 17:28] davidfowl commented on #42364
There's no support for more than one UseStartup call. The application calls UseStartup and "modules" can add IStartupFilters

[2021-07-09 17:28] adamsitnik opened #55416 "Potential performance regression in the `*IterateForEach*Span*` benchmarks"
While doing the .NET 5 vs .NET 6 preview 7 manual perf run I've found something that seems to be ARM64, ARM and AMD (x64) specific regression.

Repro:

[code]

Results from multiple machines:

<details>

## System.Collections.IterateForEach<String>.ReadOnlySpan(Size: 512)

| Result |   Base |    Diff | Ratio | Alloc Delta | Modality | Operating System        | Bit   | Processor Name

[2021-07-09 17:33] davidfowl opened #55417 "Consume PosixSignal in Microsoft.Extensions.Hosting's ConsoleLifetime"
Given that https://github.com/dotnet/runtime/issues/50527 is done, we can finally consume it in ConsoleLifetime.

The goal is to prevent hangs and deadlocks in the most common cases:
- https://github.com/dotnet/runtime/issues/44086
- https://github.com/dotnet/runtime/issues/50397

This will be on .NET 6 and up only.

[2021-07-09 17:35] Tratcher commented on #42364
UseStartup is a special case that's used as the base and IStartupFitlers are optional layers on top of that. I assume we have a check somewhere that you've called Configure or UseStartup to set up the app with that base implementation.

[2021-07-09 17:39] SingleAccretion commented on #55416
The .NET 6 assembly looks suspiciously like Debug codegen.

Could this be #55300?

[2021-07-09 17:40] steveharter commented on #29960
@johnwc can you share some scenarios where the CLR type is `System.Object` for numbers and why it can't be strongly typed as `System.Decimal` or `System.Double`?

If the only known JSON producer\consumer is JavaScript, then I recommend using a custom converter that converts to `double` only.

The two main issues with using `double` for JSON numbers:
- Loss of precision when dealing with multiple m

[2021-07-09 17:42] adamsitnik commented on #55416
By looking at the historical data it seems that it might already be gone:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.19042%2famd%2fSystem.Collections.IterateForEach(Int32).Span(Size%3a%20512).html

![image](https://user-images.githubusercontent.com/6011991/125116885-ae3c7200-e0ed-11eb-9a5c-65b1f4d9b0da.png)

but it would be great to

[2021-07-09 17:42] DrewScoggins commented on #55416
I think this was fixed by this, https://github.com/dotnet/runtime/pull/55300

[2021-07-09 17:52] kunalspathak commented on #55416
@adamsitnik - you might see lot of regressions if your changes don't include #55300. It might be good to conduct the experiments with #55300 included.

[2021-07-09 17:52] MichalStrehovsky commented on #55396
Related: #38439

[2021-07-09 17:58] bartonjs commented on #44535
Well.  This is certainly a hard thing to try for compatibility

Windows defines our base behavior, since that's the .NET Framework behavior, and thus our history.

As we've already discussed, if EphemeralKeySet is specified then any two certificates being linked to the same private key result in a load failure.  Easy.

The other end of the spectrum is when PersistKeySet is specified: The PFX loads

[2021-07-09 17:58] adamsitnik commented on #55416
Since it seems that the regression was solved by #55300, I am closing the issue.

you are right, it's everywhere ;)

[2021-07-09 17:58] #55416 closed

[2021-07-09 17:58] #54880 closed

[2021-07-09 17:59] #46463 closed

[2021-07-09 18:02] #55126 closed

[2021-07-09 18:19] mangod9 commented on #51250
we continue to investigate, unfortunately havent been able to get it to repro under a debugger.

[2021-07-09 18:39] GrabYourPitchforks commented on #55389
Thought this might be referring to some code that was previously deleted, but checked the Whidbey sources (Jun 2005) and saw that the comment was still there verbatim. Agree that it seems to be erroneous. I think we should just remove the entire comment.

[2021-07-09 18:39] johnwc commented on #29960
@steveharter again, you keep focusing on doubles and Number type. Use decimals... or use doubles... but not to some arbitrary JsonElement object. It really does not matter what it converts it to, when there is a way to have the ability to overwrite it for exactly how you need it to be outside of the default. Truthfully, I think you're getting caught up on something that is not really an issue for

[2021-07-09 18:48] ManickaP opened #55421 "[QUIC] Server side certificate selection via `ServerCertificateSelectionCallback` should work"
ServerCertificateSelectionCallback. Used for SNI. Already used as part of setting the server certificate with a listener connection. Relevent: https://github.com/microsoft/msquic/blob/73bd4a7700b9d0c4f9570a46734eb9bf40f8448f/src/inc/msquic.h#L753

Apparently, this is supported by msquic, we should add support.

Spin off #49574

[2021-07-09 18:49] Symbai commented on #55405
Since .NET5 single file published apps no longer extract content to disk, instead load them from memory. Error 5 means access denied, its a permission issue. Do you have [SeCreateGlobalPrivilege](https://docs.microsoft.com/en-us/windows/win32/termserv/kernel-object-namespaces)  permission (see last paragraph)?

[2021-07-09 18:52] ManickaP commented on #49574
**ClientCertificateRequired. QUIC_CREDENTIAL_FLAG_REQUIRE_CLIENT_AUTHENTICATION** is the last thing on the list, that hasn't been crossed out.
@wfurt what is the state of that? So that we can close this issue.

[2021-07-09 18:53] elinor-fung commented on #43604
@LakshanF - is there still more to do here?

[2021-07-09 18:59] dazinator commented on #42364
So you'd expect a WebHost that's configured purely by IStartupFilter's and doesn't have any Configure() or UseStartup (aka "base call") to be invalid and throw an exception when started? If that is not the desired behaviour then there could be an argument for refactoring UseStartup() and Configure() to add IStartupFilters so that the only thing that ever takes part in configuring a pipeline are IS

[2021-07-09 19:00] wfurt commented on #49574
That should be fixed with #54302 @ManickaP. The server part is OK but on client MsQuic does not support it on Linux and I'm going to open issue for tracking. It _should_ light up when read as the certificate handling is shared with server e.g. on Linux we should marshall the portable buffer instead of Windows certstore handle.

[2021-07-09 19:01] LakshanF commented on #43604
I'll double check

[2021-07-09 19:01] steveisok commented on #53033
Sure.  It's settled enough for now and we can reopen if needed.

[2021-07-09 19:02] #53033 closed

[2021-07-09 19:03] wfurt commented on #49574
https://github.com/microsoft/msquic/issues/1803 opened to track the Linux support in MsQuic

[2021-07-09 19:04] jkoritzinsky commented on #39606
For clarity, I'm going to summarize the issues encountered here:

1. `GetInstance` is not part of the interface contract.
  - There's not much we can do here as it has to be `static`.
2. `GetInstance` must return `ICustomMarshaler` instead of a derived type.
  - In combination with issue 1, we should update the docs to document this.
  - We can consider adding support for a `GetInstance` method th

[2021-07-09 19:05] Tratcher commented on #42364
I think that's how it's set up today to prevent people from making easy mistakes like not calling UseStartup and getting 404s for all requests. IStartupFilters are much less common right now.

With 6.0's new minimal Program.cs we no longer need Startup and UseStartup in the common case.

[2021-07-09 19:07] mthalman commented on #55405
I don't know how to check for that.

In the case of Nano Server, the default user is ContainerUser but in Windows Server Core the default user is ContainerAdministrator.  And this scenario fails using Windows Server Core (e.g. `mcr.microsoft.com/windows/servercore:ltsc2019`).  I've also tested adding `USER ContainerAdministrator` to my repro Dockerfile and it continues to fail.  Note that this wor

[2021-07-09 19:10] ManickaP commented on #49574
Closing then, all should be either resolved or tracked by one of:  #55378,  #55421 and https://github.com/microsoft/msquic/issues/1803

[2021-07-09 19:10] #49574 closed

[2021-07-09 19:24] terrajobst commented on #23602
At this point it seems unlikely, given that we still don't have a design.

[2021-07-09 19:24] AndyAyersMS commented on #55336
See #10634 and https://github.com/dotnet/runtime/issues/10658#issuecomment-404367941 -- latter has a prototype of the changes needed to enable inlining of switches.

There is a cache of switch info kept in the jit (`m_switchDescMap`) that might need updating/invalidating too, I haven't looked.

[2021-07-09 19:25] AndyAyersMS commented on #45508
@cshung any objection to closing this?

[2021-07-09 19:27] AndyAyersMS commented on #48549
I think we are good enough now for .NET 6 -- we can revisit if we get evidence that the table size, merging, or sampling strategies are causing particular problems.

[2021-07-09 19:28] AndyAyersMS commented on #49647
@briansull is due back soon, so reassigning this back to him.

[2021-07-09 19:38] #55160 closed

[2021-07-09 19:44] steveharter commented on #29960
Here's what I mentioned prior:

Thus if we auto-convert JSON bool to `System.Boolean` the doc and behavior would be somewhat ambiguous: "When the CLR type is `System.Object` then all JSON values are converted to JsonElement except a JSON bool which is converted to System.Boolean".

And if we do that one-off behavior, the next question is what about JSON string (`System.String`), JSON arrays (`Syst

[2021-07-09 19:53] electricessence commented on #23602
Uhg.  Why!  Why can't this happen?!  It's such a logical step.  Why can't we just provide a `.ValueSpan` (readonly) as part of groups/captures?

[2021-07-09 19:54] steveharter commented on #29960
FWIW the new `JsonNode` may help in certain scenarios since it at least allows explicit casts to primitives:

[code]

If you must have `System.Object`, you can still leverage nodes:
[code]

[2021-07-09 19:57] radekdoulik opened #55429 "[wasm] windows/WasmTestOnBrowser tracking issue"
These tests currently timeouts on windows

    $(MSBuildThisFileDirectory)Microsoft.VisualBasic.Core\tests\Microsoft.VisualBasic.Core.Tests.csproj
    $(MSBuildThisFileDirectory)System.IO\tests\System.IO.Tests.csproj
    $(MSBuildThisFileDirectory)System.Linq.Expressions\tests\System.Linq.Expressions.Tests.csproj
    $(MSBuildThisFileDirectory)System.Memory\tests\System.Memory.Tests.csproj
    $(M

[2021-07-09 19:59] cshung commented on #45508
Nope, let's close this.

[2021-07-09 20:18] mateoatr commented on #52335
Just tried it with the changes that I have on the open SDK PR and it appears to work.

[code]

[2021-07-09 20:21] #45508 closed

[2021-07-09 20:25] ManickaP commented on #55192
Got repro, will continue on Mon.

[2021-07-09 20:27] vsfeedback opened #55516 "No longer able to debug Blazor WebAssembly application after update to 16.10.3"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/No-longer-able-to-debug-Blazor-WebAssemb/1468962)._

---
[regression] [worked-in:16.10.1]
Created a Blazor WebAssembly app in the version prior to 16.10.3 and was able to debug the application. After updating to 16.10.3, I can no longer debug the application. Process times-out and produc

[2021-07-09 20:27] #55360 closed

[2021-07-09 20:30] sandreenko commented on #4308
There are 2 items left to close this issue:
1. support any kind of sources for `STORE_LCL_VAR`, right now we support only `LCL_VAR, CNST_INT`, in this case it is `IND`;
2. support `STORE_BLK` with a `LCL_VAR` src in a register.

both are doable after the recent changes, just don't fit into 6.0 window.

[2021-07-09 20:33] #38494 closed

[2021-07-09 20:33] #44458 closed

[2021-07-09 20:34] wfurt commented on #32069
`SslClientAuthenticationOptions.LocalCertificateSelectionCallback` depends on https://github.com/microsoft/msquic/issues/1249

[2021-07-09 20:46] jonpryor commented on #55375
…and I'm wrong. Disabling the linker isn't what made the tests pass.  *Adding `[Category]`* is what made the tests pass: https://github.com/xamarin/xamarin-android/pull/6072/commits/5062dd884d2527c2fb10695f592b007e6768b035

The fact that *adding* a `[Category]` attribute would *prevent* the tests from running doesn't make sense to me.

[2021-07-09 20:50] jonpryor commented on #55375
I'm now able to repro locally.  (Yay.). Disabling the linker does *not* fix the issue.  I do not think that this is related to linker behavior.

[2021-07-09 21:03] jkoritzinsky commented on #48070
We've started hitting this on official builds: https://dev.azure.com/dnceng/internal/_build/results?buildId=1223231&view=results

[2021-07-09 21:06] jaredpar commented on #51250
Think it's pretty likely that this is a duplicate of #53420.

[2021-07-09 21:19] AndyAyersMS commented on #54118
Still not seeing a great solution here yet. VN is effectively doing type based alias disambiguation, but doesn't leave enough breadcrumbs for hoisting to be able to reason about the memory dependence in the same way.

So we either assume everything is ok (leading to bugs above) or everything is aliased (leading to lots of missed hoists).

For example, in `F` below we have a loop invariant `a` desp

[2021-07-09 21:23] johnwc commented on #29960
I was under the assumption that strings where actually being deserialized as CLR strings, and that only bool and Number types where for some reason being left as JsonElement.

[2021-07-09 21:25] jonpryor commented on #55375
New, *easier*, repro steps!

 1. Download [scratch.getxml.zip](https://github.com/dotnet/runtime/files/6793981/scratch.getxml.zip) and extract
 2. Build + install

        cd path/to/scratch.getxml
        dotnet build /t:Install scratch.getxml.csproj

 3. Start Your Logcat Capture

        adb logcat > log.txt

 4. Run!

        cd path/to/scratch.getxml
        dotnet run
        # ~or~

[2021-07-09 21:28] jonpryor commented on #55375
Note that the [new and improved and simpler repro](https://github.com/dotnet/runtime/issues/55375#issuecomment-877464658) also fails when the linker is disabled (`$(AndroidLinkMode)`=None).

[2021-07-09 21:31] richlander commented on #52335
That looks great. Huge improvement.

Is that enabled for both the x64 and Arm64 SDK on macOS?

[2021-07-09 21:33] AntonLapounov commented on #55307
Great that we already have it filed.  However, #50311 is not scheduled for 6.0 and I am not sure that the new Windows behavior:

is better than just sticking to English for the properties in question.  Though the new behavior removed the difference between Windows and Linux/macOS, I would prefer implementing a correct fix.

[2021-07-09 21:34] richlander commented on #48343
Yup. This scenario is dependent on this design/project: https://github.com/dotnet/designs/pull/217

[2021-07-09 21:38] jonpryor commented on #55375
Now that it's smaller, trace output should be more reasonable, right?

[code]

Results in a much more "reasonable" 13 MB trace file, in case that's of interest: [trace.zip](https://github.com/dotnet/runtime/files/6794012/trace.zip)

@vargaz had previously suggested disabling inlining.  [Previously](https://github.com/dotnet/runtime/issues/55375#issuecomment-876811201), using `-O=-inline` *crashed*

[2021-07-09 21:46] steveisok commented on #55391
Since this isn't a dotnet/runtime issue, I'm going to close it.  Please feel free to reopen if you find something different.

[2021-07-09 21:46] #55391 closed

[2021-07-09 21:55] #39001 closed

[2021-07-09 22:04] tarekgh commented on #55307
I don't think sticking to English is right. Usually, these properties are used in the UI and not returning them in the right language would be a concern. I think if someone requested these properties with a language that is not matching the cached language, we can re-read that value in that language (and would be ok to pay the cost for that scenario as I am not expecting this is main-stream scenar

[2021-07-09 22:09] kunalspathak commented on #52312
I cherry-picked each commit in https://github.com/dotnet/runtime/compare/508e56025f66f5c2c00a8f1902816959bb61e0ac...466deef23436fd8705db5ebaa6d719c3fa153766 and compared the disassembly generated. It turns out that there are lot of regressions in `FirstSpan` from @GrabYourPitchforks 's de591a8 changes.  The diffs are [here](https://www.diffchecker.com/nf5ksqW2). I will further investigate.

[2021-07-09 22:13] runfoapp[bot] opened #55435 "system.io.pipelines.tests.flushasynctests.flushasync_throwsifwriterreaderwithexception"
Runfo Creating Tracking Issue (data being generated)

[2021-07-09 22:14] runfoapp[bot] opened #55436 "system.net.nameresolution.tests.gethostentrytest.dns_gethostentry_hoststring_ok"
Runfo Tracking Issue: [system.net.nameresolution.tests.gethostentrytest.dns_gethostentry_hoststring_ok](https://runfo.azurewebsites.net/tracking/issue/144)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1229317](https://dev.azure.com/dnceng/public/_build/results?buildId=1229317)|[runtime](https://dnceng.visualstudio.com/public/_build?

[2021-07-09 22:16] hoyosjs commented on #55271
@karelz @ManickaP This is blocking. I've opened #55436 as a tracking issue. It's hit 14 rolling builds. I'll be disabling this set of tests.

[2021-07-09 22:29] AntonLapounov commented on #55307
I meant sticking to the preferred UI language set by the OS (not necessary English) as we used to do before #52992/#53119.

That makes sense.

[2021-07-09 22:41] hoyosjs commented on #55161
Closing this in favor of #55435 that has more data.

[2021-07-09 22:41] geoffkizer opened #55437 "Exception in MsQuicStream.HandleWriteStartState can abandon CancellationTokenRegistration"
In HandleWriteStartState, we do some initial checks, then register a CancellationTokenRegistration, and then do some additional checks on SendState that could throw. If these do throw, then the CancellationTokenRegistration is abandoned and could fire at any time in the future, which is not what we want.

At a minimum we should unregister the CancellationTokenRegistration if an exception occurs he

[2021-07-09 22:42] #55161 closed

[2021-07-09 22:42] AntonLapounov commented on #50311
We could cache language-neutral `@path,-stringID[;comment]` resource descriptions instead and resolve them on demand using another cache.  (That might be the same idea you mentioned above.)

[2021-07-09 22:52] terrajobst commented on #23602
See [my comment](https://github.com/dotnet/runtime/issues/23602#issuecomment-374701936) above. It's not that it can't, just that it requires design work. And generally speaking the run way for .NET 6 is closing.

[2021-07-09 22:52] mangod9 commented on #13751
Closing since crossgen is removed in 6.

[2021-07-09 22:52] #13751 closed

[2021-07-09 22:56] mangod9 commented on #854
Since cgroupv2 support is now enabled, perhaps we should create a separate issue for Pressure Stall Information and close this?

[2021-07-09 22:56] taori commented on #55391
Disposal happened because of an unawaited AsyncUnaryCall - Now i have other issues, but this issue is resolved. I will hit grpc net and suggest a compiler warning similar to unawaited Task<T>'s. Thanks for your help

[2021-07-09 23:01] mangod9 commented on #13648
Moving this to future. @AntonLapounov can perhaps determine what is required here.

[2021-07-09 23:04] mangod9 commented on #226
Closing since crossgen2 now supports specifying instruction-sets.

[2021-07-09 23:04] #226 closed

[2021-07-09 23:05] CarolEidt commented on #12984
Sorry for the delay in response (I'm now retired). You've got the right general idea. If you've got an expression like `STORE_LCL_VAR(FMA(op1,op2,op3))` where one of the operands is a `LCL_VAR` with the same lclNum as the `STORE_LCL_VAR` then you want to preference that operand to that lclVar `Interval`. Unfortunately, it seems that `NodesAreEquivalentLeaves()` doesn't handle `STORE_LCL_VAR`, so y

[2021-07-09 23:06] mangod9 commented on #36622
from the discussion appears this is not something we will change for 6?

[2021-07-09 23:07] kunalspathak commented on #12984
Nice to see you @CarolEidt ! :)

[2021-07-09 23:09] mangod9 commented on #39681
Closing since this hasnt reproed for a while.

[2021-07-09 23:09] #39681 closed

[2021-07-09 23:10] mangod9 commented on #38291
closing since crossgen is removed.

[2021-07-09 23:10] #38291 closed

[2021-07-09 23:11] mangod9 commented on #34422
@davidwrighton is this issue still relevant with all the new pgo work in 6?

[2021-07-09 23:13] mangod9 commented on #39572
Closing this since @VSadov has recently fixed this.

[2021-07-09 23:13] #39572 closed

[2021-07-09 23:15] mangod9 commented on #12510
Closing since this hasnt reproed for a whle.

[2021-07-09 23:17] mangod9 commented on #84
Closing since this appears to be re-enabled?

[2021-07-09 23:17] #84 closed

[2021-07-09 23:19] mangod9 commented on #42569
Closing since this was an intermittent failure.

[2021-07-09 23:19] #42569 closed

[2021-07-09 23:23] mangod9 commented on #39672
Closing since this hasnt reproed in a while

[2021-07-09 23:23] #39672 closed

[2021-07-09 23:27] mangod9 commented on #46109
I believe this has been fixed as part of the recent changes.

[2021-07-09 23:27] #46109 closed

[2021-07-09 23:30] mangod9 commented on #34165
Looks like the issue can be closed? Please reopen if further investigation is required.

[2021-07-09 23:30] #34165 closed

[2021-07-09 23:33] mangod9 commented on #46126
assume this is still something that needs investigation?

[2021-07-09 23:33] richlander commented on #13648
Last time we investigated this, I believe we determined that the issue was in a dependency (from the Linux package manager).  If that's the case, then we're not in a good position to enable the scenario. It is probably worth re-validating that, and then file an issue on the given library. We don't want to be in the position where we have to support a scenario that we cannot control.

@jkotas had w

[2021-07-09 23:35] mangod9 commented on #45784
Closing since this doesnt appear to a runtime issue.

[2021-07-09 23:35] #45784 closed

[2021-07-09 23:38] mangod9 commented on #47388
@AntonLapounov is this still an issue?

[2021-07-09 23:39] AntonLapounov commented on #46126
We discussed that offline.  The current behavior may be considered "by design".  There was another question why compiling for ARM64 on x64 and ARM64 machines demonstrated different behavior (no assert vs. assert).  I can check whether it is still the case.  I think we can safely move it to future release.

[2021-07-09 23:42] mangod9 commented on #47902
Hi @RalfMengwasser-ITEM, are you still observing the slow startup on 5.0? We havent seen any such delays in our regular perf validation.

[2021-07-09 23:46] mangod9 commented on #49675
Closing this as an intermittent failure.

[2021-07-09 23:46] #49675 closed

[2021-07-09 23:48] mangod9 commented on #43461
Believe this should be fixed by latest field layout changes.

[2021-07-09 23:49] mangod9 commented on #43434
this should now be fixed.

[2021-07-09 23:49] #43434 closed

[2021-07-09 23:51] AntonLapounov commented on #47388
This issue is specific to how we build Crossgen2 in the Runtime repo and it does not affect the user story. @trylek, have you planned to do any changes for .NET 6 or should we move to future release?

[2021-07-09 23:52] mangod9 commented on #52483
Hi @AndyAyersMS is this still something that needs investigation?

[2021-07-09 23:56] #33980 closed

[2021-07-09 23:57] mangod9 commented on #41958
Closing for now since appears that this is resolved.

[2021-07-09 23:57] #41958 closed

[2021-07-09 23:59] mangod9 commented on #50347
This should be fixed now. @mfilippov does it still repro for you?

[2021-07-10 00:05] mangod9 commented on #42637
Moving to ILVerification area since its now tracking ILVerify's usage of Commandline.

[2021-07-10 00:05] AntonLapounov commented on #13648
According to the comments above, `dotnet new` and `dotnet run` commands completed successfully modulo QEMU warnings, which may be ignorable.  I cannot comment on potential limitations as this is not one of the scenarios we test.

[2021-07-10 00:07] #52836 closed

[2021-07-10 00:10] mangod9 commented on #49979
Closing since this hasnt reproed for a few months.

[2021-07-10 00:10] #49979 closed

[2021-07-10 00:14] AntonLapounov commented on #42637
The dotnet/source-build#1886 issue that motivated this one has been closed.  I don't think it is necessary to do any changes for 6.0.

[2021-07-10 00:15] mangod9 commented on #44567
Closing since this doesnt need any fixes on the runtime side.

[2021-07-10 00:15] #44567 closed

[2021-07-10 00:19] mangod9 commented on #13122
@cshung believe this issue is resolved, or is there some more work required?

[2021-07-10 00:22] mangod9 commented on #32623
@Ruudiiii closing since there hasnt been any update since last year. Please reopen if you are still observing any issues.

[2021-07-10 00:22] #32623 closed

[2021-07-10 00:25] mangod9 commented on #13392
moving to 7 based on the discussion above.

[2021-07-10 00:26] mangod9 commented on #47549
Closing since this hasnt reproed for a while.

[2021-07-10 00:26] #47549 closed

[2021-07-10 00:26] mangod9 commented on #47393
Closing since this hasnt reproed for a while.

[2021-07-10 00:26] #47393 closed

[2021-07-10 00:27] mangod9 commented on #45096
Closing since this hasnt reproed in a while.

[2021-07-10 00:27] #45096 closed

[2021-07-10 00:29] mangod9 commented on #45517
@ViktorHofer ok to close assuming this hasnt reproed in a while?

[2021-07-10 00:32] AndyAyersMS commented on #54118
Thinking now perhaps that when VN is running we can have it record which map it uses for the final stage of `VNForMapSelect` processing, using tree as a key.  Then hoisting can consult this map to figure out the memory dependence. So basically record this info in a side table rather than trying to fold it into the value number.

There are complications if there are multiple defining memory regions

[2021-07-10 00:35] mangod9 commented on #41379
@cshung this can be closed now I assume?

[2021-07-10 00:35] AndyAyersMS commented on #52483
I think the original issue is fixed, not as sure about the subsequent one I saw just above: https://github.com/dotnet/runtime/issues/52483#issuecomment-844631531

@trylek seems like you watch this bit of CI so perhaps you can comment on whether there are still failures?

[2021-07-10 00:37] richlander commented on #13648
I don't believe I've had that much success with QEMU. It usually fails more quickly for me.

Stepping back, I think it would be cool to support QEMU but we've had very few requests. Perhaps this will increase as Arm64 becomes more popular. I'd like to wait for more call for this before investing. That said, it would be a fine .NET 7 investigation if folks have cycles for it.

[2021-07-10 00:37] josalem opened #55441 "Rare race condition in EventSource dispose/finalizer"
There is a rare race that can result in a use-after-free on the native end of `EventPipeEventProvider` and potentially the `EtwEventProvider`.

https://github.com/dotnet/runtime/blob/c90aa4d8ab36bd454e5937abd903924fe7e859fe/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs#L1420-L1484

If one thread (A) is calling `EventSource.Dispose()`, and another is in the proc

[2021-07-10 00:40] mangod9 commented on #45286
Closing since this should be fixed.

[2021-07-10 00:40] #45286 closed

[2021-07-10 01:03] cshung commented on #41379
Yes, we still need to do the security review, but that can be tracked by #42147

[2021-07-10 01:03] #41379 closed

[2021-07-10 01:05] mangod9 commented on #43904
Is this still an issue now that cg2 supports pdb generation?

[2021-07-10 01:06] mangod9 commented on #44324
This is fixed.

[2021-07-10 01:06] #44324 closed

[2021-07-10 01:09] mangod9 commented on #44573
this should be fixed.

[2021-07-10 01:09] #44573 closed

[2021-07-10 01:13] mangod9 commented on #41931
Closing since this hasnt reproed in a while

[2021-07-10 01:13] #41931 closed

[2021-07-10 01:14] cshung commented on #13122
I did nothing for this bug - but it appears that the issue is probably fixed in https://github.com/dotnet/runtime/pull/44490 by @echesakovMSFT

In particular, I do see `coredistools.dll` is placed in the right directory at the build output, if that is all we wanted, I think we can close this bug.

[2021-07-10 01:43] mateoatr commented on #52335
Yep, works on both. We made the [relevant changes](https://github.com/dotnet/runtime/pull/53913) in Microsoft.NET.HostModel a few weeks ago (unfortunately these didn't make it to preview 6).

[2021-07-10 02:04] kouvel commented on #43997
I figure if the `Handle` or `SafeWaitHandle` is changed, the `Name` property could return null thereafter.

[2021-07-10 02:13] kouvel commented on #36622
The dispatch quantum would probably go away eventually. The effect it has on perf is probably negligible. Closing for now, please reopen if I missed something else the issue is tracking.

[2021-07-10 02:13] #36622 closed

[2021-07-10 02:15] kouvel commented on #43997
The `Name` property should probably be on `WaitHandle` instead of `EventWaitHandle`

[2021-07-10 02:20] kouvel commented on #43997
Also don't think there should be a setter. Updated proposal:

[code]

[2021-07-10 03:11] StephenMolloy commented on #32977
Sorry for the late response on this. I took a look at your repro and I don't see any issue with the XmlSerializer itself. It is doing what it is supposed to do. But reading your description and looking at your data and code, I can see where it looks like some 'originDestinationOptionList' are getting lost in deserialization. But the reason for this is because your code does not match the data bein

[2021-07-10 04:06] Zetanova commented on #29960
Is there a reason for that `JsonElement` has no explicit cast operators implemented?

[2021-07-10 04:32] Tratcher opened #55447 "Setting SslServerAuthenticationOptions.ApplicationProtocols to an empty list fails on Ubuntu"
Depending on how you write your logic, the ApplicationProtocols List may end up being empty (not null).
[code]
On Ubuntu.1804.Amd64.Open this causes the following error:
[code]

There is no error on Windows, the handshake completes successfully without ALPN. (Mac still isn't supported https://github.com/dotnet/runtime/issues/27727).

Discovered as part of https://github.com/dotnet/aspnetcore/pull/

[2021-07-10 04:58] wfurt commented on #55447
Did you look what Windows send on the wire? I'm wondering if we should simple ignore empty list.
And do you know what OpenSSL version is used?

[2021-07-10 05:01] krwq commented on #41720
@jeffhandley Group 9 is done, I do not believe we will do remainder of Group 11 in 6.0

[2021-07-10 06:02] michaelherndon commented on #23602
As the rando internet person that bumped the thread:  I get the frustration of a 4-year-old feature request and obviously I do see the benefits of Regex having lower allocations. Conversely, I also get that only so many things can go into the release of a widely used framework that values backwards compatibility.  Even for a company like Microsoft, there are still only so many resources and hours.

[2021-07-10 06:20] runfoapp[bot] opened #55449 "Feed unreliability affecting CI"
Runfo Tracking Issue: [Feed unreliability affecting CI](https://runfo.azurewebsites.net/tracking/issue/145)
|Definition|Build|Kind|Job Name|
|---|---|---|---|
|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[1337283](https://dev.azure.com/dnceng/public/_build/results?buildId=1337283)|[PR 58544](https://github.com/dotnet/runtime/pull/58544)|Installer Build and Test corecl

[2021-07-10 06:39] #32977 closed

[2021-07-10 07:45] touzas opened #55452 "SQlite crashed on a Maui application with last version of dotnet sdk"
If you create a new Android application with SQLite nuget package, the system crashed on execute an Sqlite Connection:

$exception	{System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.DllNotFoundException: e_sqlite3
   at System.Runtime.InteropServices.NativeLibrary.LoadLibraryByName(String libraryName, Assembly assembly, Nullable`1 s

[2021-07-10 08:31] vargaz commented on #54849
The reason this type of sharing is used is mainly to support enums, i.e. for a method Sort<T>, a Sort<T_INT> instance could handle all enums whose base type is int. So this is not really an optimization but required to be able to handle enum and generics efficiently.

The problem in this case is that optimizing this code requires higher level optimizations than the ones currently implemented in th

[2021-07-10 10:38] #55127 closed

[2021-07-10 10:40] rvdginste commented on #715
For new applications, I agree that this can be taken into account from the beginning and that you can create a design that does not rely on distributed transactions.

For upgrading .net full applications to .net core, you cannot go over this so lightly. If the use of distributed transactions was a choice in the original design, it means that the application relies on it to work correctly. If distr

[2021-07-10 12:14] iinuwa opened #55454 "Allow setting subordinate and external LDAP referral chasing options in Linux"
As a follow-up to #54380:
When using System.DirectoryServices.Protocols on Linux, it is not possible to control the referral types followed (e.g. subordinate or external); it's all or nothing. I believe it is possible to configure the type of referrals followed by setting the [`LDAP_CONTROL_REFERRALS`](https://git.openldap.org/openldap/openldap/-/blob/OPENLDAP_REL_ENG_2_4_58/doc/drafts/draft-ietf-

[2021-07-10 12:16] tmds commented on #2048
Temporary means two different things:
- creating randomly named (+permissions)
- deleted

I think we should keep these separate.

APIs for deleting using `IDisposable`:

[code]

APIs for randomly naming:

[code]

Example:

[code]

[2021-07-10 12:16] teo-tsirpanis opened #55455 "Suggest `Enum.HasFlag` on modern frameworks."
The `System.Enum` type has a `HasFlag` method that allows easily and intuitively checking if a bit is set on enums with the `[Flags]` attribute, but it has been historically avoided because on it used to do some expensive boxings and type checks, until it got optimized in .NET Core 2.1.

The problem is that few people know that it's now fine to use this method without fears of performance issues,

[2021-07-10 12:59] MichalPetryka commented on #55455
Checks against 0 have a different behavior from HasFlag when MyEnum.Foo has more than 1 bit set, HasFlag checks if all bits are set then and != 0 checks if any bit is set.

[2021-07-10 13:12] jkotas commented on #55455
It may be a personal style choice. I find `(x & MyEnum.Foo) != 0` and `(x & MyEnum.Foo) == 0` to be more intuitive and idiomatic than `HasFlag`. It is a few characters shorter too.

[2021-07-10 13:19] teo-tsirpanis commented on #55455
Okay @MichalPetryka the analyzer could work only when `HasFlag` is passed a flag with only one bit set.

[2021-07-10 13:38] ejsmith commented on #33980
Thank you @0xced and @stephentoub !!

[2021-07-10 13:39] jkotas commented on #55455
Note that this optimization is not guaranteed to kick in. The optimization won't kick in `Debug` builds, in tier 0 JIT, or when the method is too big.

[2021-07-10 13:55] teo-tsirpanis commented on #55455
I see, if that optimization is not guaranteed, there is no reason to encourage moving to `HasFlag` en masse, especially since there are many kinds of enum bitwise AND check depending on the exact intention, as Michal said.

[2021-07-10 13:55] #55455 closed

[2021-07-10 14:35] filipnavara opened #55459 "File locking on macOS"
The code for `FileStream.Lock` and `FileStream.Unlock` [explicitly throws on macOS](https://github.com/dotnet/runtime/blob/65b472a0f31f2b878601b41a344754ec3e776d1d/src/libraries/System.Private.CoreLib/src/System/IO/Strategies/FileStreamHelpers.Unix.cs#L60-L78). This is regression compared to legacy Xamarin/Mono which allowed these calls. The underlying implementation on Linux is done through `fcnt

[2021-07-10 14:45] filipnavara commented on #55459
I've traced the change all the way to https://github.com/dotnet/coreclr/commit/0daa63e9ed40323b6f248ded8959530ea94f19aa.

[2021-07-10 14:52] xljiulang commented on #43912
Expect to implement the ECH feature

[2021-07-10 15:06] stephentoub commented on #55459
Right,  that commit explains why.

[2021-07-10 15:28] filipnavara commented on #55459
I know. It was not particularly easy to find it since the file was moved, renamed and transferred to different repositories. However, I am not closing the issue yet because I think it's something that may be up for a debate.

The check is restricted to macOS-like system while it actually affects any system where `flock` and `fcntl` locks interact. That also includes FreeBSD AFAICT, even if it's no

[2021-07-10 15:29] thaystg commented on #49442
We don't support DebuggerTypeProxy and DebuggerDisplay yet.

[2021-07-10 15:36] stephentoub commented on #55459
If memory serves,  it was faked in-memory in-process only.

That's intended as an escape hatch in rare situations where we find our fix is insufficient.  It's not meant to bifurcate functionality.

[2021-07-10 15:43] filipnavara commented on #55459
Looks like you are right. `FileShare` state seems to be handled by large hash table in-process that emulates the behavior without locks.

Hmm, fair enough. I still find it somewhat unintuitive that an emulation of `FileShare` is blocking me from using a functionality that actually maps quite closely to an OS feature.

We have an application that used the file locks as workaround for lack of global

[2021-07-10 16:55] stephentoub commented on #55459
Do you have a recommendation?

[2021-07-10 16:59] #44263 closed

[2021-07-10 17:00] #49839 closed

[2021-07-10 17:12] mddubey commented on #55322
Hello @wfurt,

Thanks for your input. So I did some reading and have the understanding that there are 3 layers of certificates:
- CA root certificate
- Layer of intermediate certificates
- The End Server Certificate

Ideally a server sends all the certificates barring the CA Root Certificate because that is generally known to everyone. In case the intermediate certificates are not sent the DotNet

[2021-07-10 17:20] WatchDogsDev commented on #53128
How about this ? :)

![benchmark-3](https://user-images.githubusercontent.com/29868640/125171138-d7c9cc00-e1c7-11eb-965d-7c6f793f6ccf.png)

I think we are here to enhance DotNetCore implementations. It should go better & better, So we are just coming up with ideas.

Is there any tutorial to test my own implementation on my own system ? \
Do I need to download the whole dotnet source code ?

[2021-07-10 17:42] BhusanBibhuti opened #55464 "Can both TaskContinuationOptions.OnlyOnRanToCompletion and TaskContinuationOptions.RunContinuationsAsynchronously be used to create continuation task?"
I want to create a continuation task and I want the continuation task to run if the antecedent ran to completion and the continuation task may run on a different thread than the antecedent one.

Is this a valid implementation ?
Here is something I want to do:-

private async Task<(List<ProductDto>, List<BundleLineDto>)> ProcessUpdateDeal(CreateDealForExternalSourceRequest createDealRequest, Servic

[2021-07-10 17:48] filipnavara commented on #55459
Not at the moment, unfortunately, and even if I could come up with something it's unlikely to be polished enough for the current .NET 6 timeframe.

What can probably still be done in .NET 6 timeframe is updating the check to also include FreeBSD, which suffers from identical issue, and add a comment on the `fcntl`/`flock` behavior so one doesn't have to go years back in history to find the explana

[2021-07-10 18:27] stephentoub commented on #55459
Sure.  There's no rush, of course; FreeBSD is not supported.

Sounds good.

[2021-07-10 18:51] moliveto commented on #55227
Hi @wfurt

I resolved the issue basicaly following this post https://askubuntu.com/questions/1233186/ubuntu-20-04-how-to-set-lower-ssl-security-level

I have modified the following in the /etc/ssl/openssl.cnf

1) Add System default section bellow oid section

# Extra OBJECT IDENTIFIER info:
#oid_file               = $ENV::HOME/.oid
oid_section             = new_oids

# System default
openssl_conf

[2021-07-10 22:23] wfurt commented on #55227
That make sense. And yes, the ciphers are loaded/processed when the process start e.g. only once.
I'm glad you got it working @moliveto .

[2021-07-10 22:23] #55227 closed

[2021-07-10 22:23] #53134 closed

[2021-07-10 22:27] wfurt commented on #55322
You can try packet capture to se what is happening. The validation code will still try to get the missing parts and there is no good way how to avoid it at the moment. If set of sites you need to access is small, you can put all the missing intermediates on the system. See https://github.com/dotnet/runtime/issues/55368 for some example.

[2021-07-10 22:55] #50658 closed

[2021-07-11 00:10] #55315 closed

[2021-07-11 00:48] hamarb123 commented on #28355
Hi, I've noticed this issue as well and developed a solution for my code on macOS:
On macOS, you can use `Console.Write("\f\u001bc\x1b[3J");` to clear the console fully and reset the cursor to the top. I'm not sure if this is portable to other unix platforms.
This line of code properly emulates what windows does with `Console.Clear()` in terms of the text buffer (not sure about colours etc.).

[2021-07-11 01:04] hamarb123 commented on #52374
Hi, just wanted to say that using `Console.SetCursorPosition` is terrible if you're trying to go back to a previous position on macOS because whenever the window adds more lines, all of the numbers are offset, unlike on Windows.
eg.
[code]
On windows this should put the text "Alternative text" on the first line of the output, but on macOS, it puts it at differing locations depending on how scrolle

[2021-07-11 01:12] jasonpugsley commented on #14537
+1 for using 12.2 going forward. I don't think we need additional build configs, so long as we keep our single lowest supported release inline with FreeBSD official (see Supported FreeBSD releases https://www.freebsd.org/security/#sup).
11.4 will reach EOL before net6 GA, and 13 should be ABI compatible with 12.

[2021-07-11 01:38] stephentoub commented on #55464
If you have:
[code]
the OnlyOnRanToCompletion will cause `b` to be canceled if `a` completes in any state other than RanToCompletion, and the RunContinuationsAsynchronously will force `c` to always execute asynchronously from `b`'s completion, regardless of whether `c` is created with ExecuteSynchronously.  The `RunContinuationsAsynchronously` passed to the a.ContinueWith is configuring `b`'s beha

[2021-07-11 01:38] #55464 closed

[2021-07-11 02:25] rootwyrm commented on #14537
This is absolutely not true at all. Major to major **guarantees ABI incompatibility**.
NOTHING built on 12.x will work safely on 13.x and vice versa.

[2021-07-11 02:33] urielzen commented on #593
+1

[2021-07-11 03:55] davidfowl commented on #51770
Yea, I'm not a fan of Config, plus it violates the naming guidelines 😄

[2021-07-11 05:27] StephenMolloy opened #55469 "XmlSerializerGenerator tests get in the way when change is expected"
This is a test issue. The tests for XmlSerializer are broken when the output from
the tool is expected to change with a PR. That's because the test project launches
the pre-installed older version of dotnet.exe to produce a serializer code file, and
then calls the newly built generator binary to create another serializer code file,
and then compares the two. In theory, the idea is that nothing sho

[2021-07-11 06:20] sarahm7 commented on #55383
This is in Windows and here's the public cert:

`-----BEGIN CERTIFICATE-----MIIDdDCCAlygAwIBAgIGAWAqTtw1MA0GCSqGSIb3DQEBCwUAMHsxFDASBgNVBAoTC0dvb2dsZSBJbmMuMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MQ8wDQYDVQQDEwZHb29nbGUxGDAWBgNVBAsTD0dvb2dsZSBGb3IgV29yazELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWEwHhcNMTcxMjA2MDUzMTM2WhcNMjIxMjA1MDUzMTM2WjB7MRQwEgYDVQQKEwtHb29nbGUgSW5jLjEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEP

[2021-07-11 06:43] jeffhandley commented on #53084
I've been exploring options for this and I have an updated proposal. I found that the Platform Compatibility Analyzer **does not** currently respect `SupportedOSPlatformGuard` attributes on the `System.OperatingSystem` methods; it identifies this type specifically and infers the method's platform guard. I also found flaws in the proposal of adding `[SupportedOSPlatformGuard("ios")]` to `IsMacCatal

[2021-07-11 07:01] jindovu opened #55470 "deploy nginx with .net core"
I have been upgrade from .net core 2.2 to .net core 3.1, when I'm running on enviroment window server it's work ok howerver when I'm trying to upgrade and deploy on ubuntu 20.4 (Nginx) server, it's can't access to images and the reponse always is 404,
I try to upload with a page html & image it's working ok, could you help me to please check this
- Folder contains images in wwwroot

[code]

[2021-07-11 07:58] MichalStrehovsky commented on #55469
Is this the same as #54470?

[2021-07-11 08:19] John0King commented on #29960
In fact , I think you can not break anyone who use .net to build their application,  because no one use `System.Text.Json` ,
unless, they are writing demos 🤣.

and for the scenario that use `System.Text.Json` in  Authentication,  well , you already break us before , why you so afraid to break us again ?   and  beside , break change comes anyway ,  if it's not here, then it will be there .

so  bre

[2021-07-11 08:22] StephenMolloy commented on #55469
Yup. I must have missed that one.

But I think this one can stay assigned to me and be used for short-term tracking to remind me to re-enable the SGen tests, while the other bug can remain active (and pushed to the future if necessary since it's a test issue) so the team can decide on a better approach and fix this set of tests in the future.

[2021-07-11 09:15] MichalPetryka opened #55472 "Unsafe.SizeOf<T>() causes an additional mov over sizeof(T)"
### Description

In some cases, `Unsafe.SizeOf<T>` produces an additional `mov` over `sizeof(T)` (both over not compile time known types).

### Configuration

Sharplab Core CLR v5.0.721.25508

### Regression?

No idea.

### Data

[Sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBhCfAB1YAbGFADKIgG6swMXAG4AsACgy5UQAtsUPgBlsweszYdFS5cQDMlKknLNc2AGYxKAJnIA

[2021-07-11 09:31] jasonpugsley commented on #14537
I had thought there was an effort to maintain backward compatibility. I guess it is a lot less strict (guaranteed) than I had imagined. Thanks for the heads-up.

[2021-07-11 11:01] stephentoub opened #55473 "RandomAccess.Write methods should perform full writes"
Every use we have of RandomAccess.Write{Async} now is incorrect, as they all assume the methods will fully write all the data that was supplied.  This highlights how error-prone the current design is, with Write not guaranteeing this and instead returning the number of bytes written.  We've trained developers with every other Write method in .NET that such methods write all the supplied data (in c

[2021-07-11 11:38] sec commented on #14537
Where did you get that info? According to https://wiki.freebsd.org/Glossary#ABI and https://wiki.freebsd.org/Releng/ABI and https://wiki.freebsd.org/BinaryCompatibility - it looks like they at least try, but I couldn't find any info that it's guarantees ABI incompatibility. From my expierence I had several binaries compiles under 11.x which works well under 12.x (I think crosscompile for .NET is d

[2021-07-11 11:51] adamsitnik commented on #55473
I agree that we are not always correctly handling partial writes and this should be fixed.

But the new APIs are not the source of the problem. These methods are just tiny wrappers around syscalls, which on every OS return the number of bytes transffered.
Their design is very simple and not opinionated.

We just happen to ignore their results (and this should be fixed) and in some cases, we have b

[2021-07-11 12:04] stephentoub commented on #55473
Nothing about the API guarantees atomization, nor can it. I don't know why we'd force every consumer of the API to need to deal with this when it could be done by the API itself. Best case,  every developer does it correctly,  having written lots more complicated code and has to worry about whether they got it right.  Worst case, folks don't,  and we've created a pit of failure that even ourselves

[2021-07-11 12:10] stephentoub commented on #55473
I don't see how this affects that. If everything is position based,  then someone doing concurrent operations needs to manually partition up the space being read/written. Whether the bytes for an individual read/write are performed atomically or not doesn't matter,  as everything is done to the exact position specified. If a write we issue for 5 bytes at position 100 comes back as having written o

[2021-07-11 12:19] stephentoub commented on #55473
And what do you expect folks outside of the library to do differently? What is the correct way to consume these APIs, how are other developers going to do it any more efficiently than we do,  and why are we pushing this pain to everyone else?

[2021-07-11 12:30] nkosi23 commented on #14537
The FreeBSD handbook reads:

https://docs.freebsd.org/en/books/handbook/cutting-edge/#freebsdupdate-portsrebuild

[2021-07-11 12:57] adamsitnik commented on #55473
@stephentoub  After thinking about it for a while, I agree with you that we should most probably change this API to return `void|ValueTask`.

The problem is that I am currently on vacations and I can't provide a proper fix. I've opened #55474 with a short-term fix.
I'll be back in a week (19th of July) and then I'll be able to refactor `RandomAccess` API's and it's usages.

@stephentoub @jeffhandl

[2021-07-11 13:58] stephentoub commented on #55399
Closing,  as the nullable annotation is correct. Thanks.

[2021-07-11 13:58] #55399 closed

[2021-07-11 14:24] trylek commented on #47388
I agree this shouldn't affect external customers and it should be safe to move to .NET 7. As part of .NET 7 planning we can discuss whether this functionality is actually needed or whether it's safe to close the issue as just a quirk specific to our internal processes even though these types of quirks typically make life harder for internal developers and complicate their ramp-up in this area.

[2021-07-11 15:28] mddubey commented on #55322
Hi @wfurt,

Thanks for the help. Ideally I would have liked to turn the whole thing off because these are let's encrypt certificate, and server will be renewing it every few months and we will run into similar problem. We don't have much control on the server.

I can think of two more ways if possible it will be super helpful to automate:
- Is there a way to get it from other envs where we have in

[2021-07-11 17:18] ShreyasJejurkar opened #55476 "Constant string local variable does not get fold in release mode"
I am not sure if is this a bug or this is the expected behavior.

I was playing with generated code that the JIT compiler generates for the following simple program.

![image](https://user-images.githubusercontent.com/17148381/125204161-770ac400-e299-11eb-9254-d00b86c66e30.png)

Am wondering why the JIT compiler does not produce the same codegen for the `Main` method just like it did for the `Anot

[2021-07-11 17:24] GrabYourPitchforks commented on #55472
@jkotas There's an existing proposal to move the `Unsafe` type down to corelib. Might this issue be resolved as a side effect of that work?

[2021-07-11 17:50] EgorBo commented on #55476
I had a branch for this opt somewhere but the jit-diffs only found a few Exception-related code paths so I gave up on it as non-profitable, any real-world examples where it could be useful?

[2021-07-11 17:55] Thefrank commented on #14537
Symbol versioning work great as long as the symbol exists. As a recent example: mono. 11.4 and 12.2 of FreeBSD introduced a new symbol. One of the more common ports (mono) was updated shortly after release and ended up including this symbol. People that were on 11.3 or 12.1 that just rolled their pkgs forward and IGNORED THE WARNING about the kernel differences were met with confusing messages abo

[2021-07-11 18:51] KalleOlaviNiemitalo commented on #55476
The constant strings in `Another` are concatenated by the C# compiler, not the JIT compiler. If you use `const string a = "Hello";` in `Main`, then the C# compiler concatenates that too. <https://sharplab.io/#v2:C4LglgNgPgAgTARgLACgYGYAE9sIOyaoDeqmZ2ccp5JK59mAxgPYB2AzsLgAyYCGmALyYARAAkAphAjMRAbmoNcATgAUAgNSiAygAsAThICefdiICUcpWUWYAvrdsZcANmwAWTAEFWzYLol9VXNbWmsVVXEpGRFMLRE9QxMzS3DbBxQ7IA==>

[2021-07-11 19:07] vcsjones opened #55477 "Persisted-key AesCng in CFB mode always uses CFB8"
### Description

When using `AesCng` with the `CipherMode` in CFB mode with a persisted CNG key, it appears that CFB8 is always used for the actual feedback size, even if `FeedbackSize` is set to 128.

Steps to reproduce:

Run the following snippet (with package reference to `System.Security.Cryptography.Cng`):

[code]

It will produce an output that looks something like this. The output will be d

[2021-07-11 19:56] vcsjones commented on #55477
I'm not sure persisted CNG keys _can_ set the feedback size. There does not seem to be an equivalent of `BCRYPT_MESSAGE_BLOCK_LENGTH` for NCrypt keys. Attempting to do it anyway fails with an NTSTATUS of not supported.

[code]

I don't think we should leave things as-is, but the only thing we might be able to do is throw when the feedback size != 128 for persisted AES keys.

[2021-07-11 20:19] hoyosjs opened #55479 "GCC JIT build warnings on type width"
The GCC build of the JIT has plenty of warnings that look like:

[code]

cc: @am11, @dotnet/jit-contrib

[2021-07-11 20:35] jkotas commented on #55472
... and turn it into JIT intrinsic. I agree that turning Unsafe into JIT intrinsic is likely to fix this issue.

[2021-07-11 20:35] am11 commented on #55479
It is the duplicate of #33541. The original issue was fixed by updating gcc to v9, the remaining warnings are non-critical but correct depending on how developer or compiler look at it (https://github.com/dotnet/runtime/issues/33541#issuecomment-754285791).

[2021-07-11 20:43] wegylexy commented on #40674
On Windows, only when the pipe server stream is opened with `PipeOptions.Asynchronous`, disposing of it causes `WaitForConnectionAsync()` to fault with an `IOException` with `HResult == -2147024787`. Otherwise, `WaitForConnectionAsync()` never completes until a client connects.

[2021-07-11 20:55] hoyosjs commented on #54948
Closing as it hasn't happened again

[2021-07-11 20:55] #54948 closed

[2021-07-11 20:55] hoyosjs commented on #54921
@ViktorHofer do you know which ones?

[2021-07-11 21:02] wfurt commented on #55470
Where the .NET comes into picture @jindovu? It seems like this is problem with nginx so you should probably ask there.
If there is Kestrel behind the nginx, you should collect logs and ask on aspnetcore repo.

[2021-07-11 21:07] wfurt commented on #55322
.NET will save certificate cache on exit. So in theory one should be able to copy that to other machine(s). However that feels fragile and I would not recommend it. (it also depends on internal behavior that can possible change)
If anything, I would wrote small app that puts the intermediates to StoreName.CertificateAuthority.

There was some discussion and desire to provide better control over ce

[2021-07-11 21:18] wfurt commented on #14537
We may start with updating the docker build images and moving runtime CI build to 12.  I encountered some of the packaging weirdness when I was trying to get up [runtimelab](https://github.com/dotnet/runtimelab/pull/136) build. Unfortunately I was never able to finish that up.

[2021-07-11 21:34] wfurt commented on #55242
It is failing CI on Linux https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-55424-merge-d316cd096c8e4b02b0/System.Net.Quic.Functional.Tests/console.c3c15e89.log?sv=2019-07-07&se=2021-07-31T02%3A18%3A16Z&sr=c&sp=rl&sig=7jvKN%2B7OoTI22YqQVhZ47HBJqzyoLWWCSoH4%2FqOUfpc%3D

This is because we do not have good mechanism in place to update MsQuic on Linux machines.
I will di

[2021-07-11 23:00] nkosi23 commented on #14537
@Thefrank Maybe subtle ABI incompatibilities may be the cause of the crashes you have been getting with multi-core if the build process retrieves 11.x binaries to run them on 12.x.

[2021-07-11 23:26] #55479 closed

[2021-07-11 23:40] hoyosjs opened #55484 "Need to change evaluate paths to accommodate shared code in between Mono and CoreCLR"
Today, https://github.com/dotnet/runtime/pull/54954/ was merged and it didn't run the Mono build and test legs. The official build broke as a consequence. The Mono DBI took a dependency on utilcode, sections of the PAL, and MD in coreclr. There's other places where there's a dependency like event pipe and portions of the host. We should check evaluate paths to ensure these changes test everything

[2021-07-12 00:22] #55137 closed

[2021-07-12 00:22] #55136 closed

[2021-07-12 00:22] #55111 closed

[2021-07-12 00:22] #55059 closed

[2021-07-12 00:26] #54990 closed

[2021-07-12 00:35] geoffkizer opened #55485 "Cancellation of QuicStream.ReadAsync/WriteAsync should also abort the stream"
Currently, if a ReadAsync or WriteAsync operation is cancelled, we set the read or write state to Aborted, but we don't actually abort the stream on the wire. This means the peer could get hung waiting for their read or write to complete, assuming that the stream is still valid in the appropriate direction. That's bad.

When cancellation aborts a stream direction, we should also abort to MsQuic an

[2021-07-12 00:44] geoffkizer opened #55486 "QUIC API issues for 7.0"
This issue is intended to capture API issues for QUIC in 7.0; either (a) API changes that were intended for 6.0 but cut due to time, or (b) API issues that should be reconsidered in 7.0.

- Stream Abort API. We currently have AbortRead and AbortWrite. We had proposed to change this to a single Abort with a Direction parameter.
- Stream Immediate Abort. We are currently not exposing a way to do an

[2021-07-12 00:52] littlehoneybunnytuttifruttipumpkinpie opened #55514 "Error "The program can't start because api-ms-win-core-winrt-l1-1-0.dll is missing" after publishing .net 6 app on Windows 7"
Trying to publish somewhat basic .net 6 web app that runs just fine after "Build", but after publishing it with "Self-Contained" deployment and trying to run the executable, the app shows the error "The program can't start because api-ms-win-core-winrt-l1-1-0.dll is missing"

![image](https://user-images.githubusercontent.com/20084989/125215263-c805c280-e26f-11eb-8764-34cb3ae81725.png)

![image](h

[2021-07-12 01:31] wfurt commented on #55485
If we agreed cancellation makes the stream unusable I agree we should cleanup the stream. It would get done eventually on Dispose but there is probably more reason to wait.

[2021-07-12 01:51] VincentBu commented on #13453
Run [runtime-coreclr jitstress 20210709.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1230695&view=ms.vss-test-web.build-test-results-tab&runId=36657350&resultId=107408&paneView=debug)
Failed test:
[code]
**Error message**
[code]

[2021-07-12 02:01] steveisok commented on #53579
@rolfbjarne @dalexsoto I was under the impression that xam macos was using coreclr as the runtime.  Is that not correct?

[2021-07-12 02:25] VincentBu commented on #54801
Run runtime-coreclr gcstress0x3-gcstress0xc [20210711.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1231743&view=ms.vss-test-web.build-test-results-tab&runId=36679670&resultId=110091&paneView=debug)
Failed test:
[code]
**Error message**
[code]

[2021-07-12 02:36] VincentBu opened #55487 "Test failure:Interop/ICustomMarshaler/Primitives/ICustomMarshaler_TargetUnix/ICustomMarshaler_TargetUnix.sh"
Run [runtime-coreclr gcstress0x3-gcstress0xc 20210711.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1231743&view=ms.vss-test-web.build-test-results-tab&runId=36679694&resultId=110138&paneView=debug)

Failed tests:
[code]
**One of error messages:**
[code]

[2021-07-12 02:43] ShreyasJejurkar commented on #55476
But if we go back to basics, the variable a is only used  at that line and it's never used again and also its string and haven't manipulated in that method body overall, so I there is high chance to get that fold, but JIT did not did which surprised me.

BTW this is not even complex optimization, seems like basic to me.

[2021-07-12 02:43] stephentoub opened #55488 "ResolveLinkTarget_Succeeds test fails locally"
These new tests are blocking a clean System.IO.FileSystem run for me locally.
cc: @carlossanlop, @Jozkee
[code]

[2021-07-12 02:47] ShreyasJejurkar commented on #55476
No Egor. But I was expecting that to get fold. It's not even a complex optimization that we see in other compilers.

[2021-07-12 02:56] #51952 closed

[2021-07-12 02:59] steveisok commented on #50936
@mdh1418 Another binaryformatter one. These should all be disabled for mobile via feature detection.

[2021-07-12 03:02] steveisok commented on #38210
@directhex ping

[2021-07-12 03:04] steveisok commented on #51016
@mdh1418 Check to see if this is still an issue.  I suspect it may have been environmental

[2021-07-12 03:07] steveisok commented on #51611
/cc @lambdageek

[2021-07-12 03:08] VincentBu opened #55489 "Test failure:JIT/Methodical/Boxing/misc/_relenum_cs/_relenum_cs.sh"
Run: [runtime-coreclr r2r-extra 20210710.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1231392&view=ms.vss-test-web.build-test-results-tab&runId=36674588&resultId=107810&paneView=debug)
Failed test:
[code]
**Error message**
[code]

[2021-07-12 03:09] steveisok commented on #51386
@mdh1418 A lot of the failures are PNSE related.  Can you throw `PlatformSpecific` attributes on the ones that are throwing PNSE?

[2021-07-12 03:09] clamp03 commented on #2394
@alpencolt @gbalykov ARMEL build is broken again by  #54954.
[code]
Could you add the **armel + Tizen CI build leg**? Or could I take this issue?
Thank you.

[2021-07-12 03:11] #54239 closed

[2021-07-12 03:13] steveisok commented on #51020
This happens when the devices panic and need manual intervention in order to come back online.  Nothing we can do from a runtime perspective.

[2021-07-12 03:13] #51020 closed

[2021-07-12 03:14] steveisok commented on #51399
/cc @lateralusX

[2021-07-12 03:17] steveisok commented on #52852
@akoeplinger Is this actually going to ever work on catalyst?

[2021-07-12 03:18] #51862 closed

[2021-07-12 03:20] steveisok commented on #36883
@mdh1418 Since we have runtimecfg support, this should now work.  Can you see that the "System.Globalization.EnforceJapaneseEraYearRanges": true switch is set and retest?

[2021-07-12 03:22] steveisok commented on #49076
This should be resolved now.  Please re-open if you find otherwise.

[2021-07-12 03:22] #49076 closed

[2021-07-12 03:24] steveisok commented on #49007
https://github.com/dotnet/runtime/pull/53643 made it happen

[2021-07-12 03:24] #49007 closed

[2021-07-12 03:24] #1018 closed

[2021-07-12 03:25] #45739 closed

[2021-07-12 03:28] VincentBu commented on #52529
Failed again in [runtime-coreclr r2r-extra 20210710.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1231392&view=ms.vss-test-web.build-test-results-tab&runId=36674084&paneView=debug&resultId=105248)
Failed test:
[code]
**One of Error messages:**
[code]

[2021-07-12 03:30] steveisok commented on #55183
/cc @lewing

[2021-07-12 03:33] stephentoub commented on #55473
I'll take care of it.

[2021-07-12 03:37] stephentoub commented on #55476
It's complex enough to make adding additional code for it when there's little to no value a suspect thing to do.  The JIT doesn't see:
[code]
Rather, the C# compiler translates that into the equivalent of:
[code]
That means in order to understand that this could become:
[code]
the JIT would actually need to be taught about the semantics of the String.Concat method, which means making it a JIT intr

[2021-07-12 03:42] VincentBu opened #55491 "Test Failure:System.Diagnostics.Tests.ProcessTests.TestCheckChildProcessUserAndGroupIdsElevated"
Run [runtime-libraries-coreclr outerloop 20210711.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1231665&view=ms.vss-test-web.build-test-results-tab&runId=36678724&paneView=debug&resultId=104036)
Failed Test::
[code]
**Error message:**
[code]

[2021-07-12 03:48] geoffkizer commented on #55103
To be explicit: the issue re refcounting streams on a connection is that all msquic stream handles must be closed before the connection handle is closed.

I think it would be best to handle this by having the stream SafeHandle take a DangerousAddRef on the connection SafeHandle. This should enable us to remove the refcounting that exists on MsQuicConnection today.

That said, this is not a priorit

[2021-07-12 04:04] VincentBu commented on #52362
Failed again in [runtime-coreclr libraries-jitstressregs 20210711.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1231608&view=ms.vss-test-web.build-test-results-tab&runId=36677978&resultId=184778&paneView=debug)

Failed test:
[code]

[2021-07-12 04:08] ShreyasJejurkar commented on #55476
@stephentoub Thanks Stephen, totally makes sense to me and I understood.
What I thought there might be a phase in C# compiler just like morphing in JIT compiler where C# compiler has seen that the variable `a` has string literal and it is not even manipulated over its lifetime so we can directly fold with const value instead of having variable. And subsequently, we would have reduced the JIT ASM c

[2021-07-12 04:11] stephentoub commented on #55476
That's a question for dotnet/roslyn.

[2021-07-12 04:12] ShreyasJejurkar commented on #55476
@stephentoub Ohhh. Hmmm. But any idea or insights you have on that?

[2021-07-12 04:16] stephentoub commented on #55476
The C# compiler already does some level of constant folding; that's exactly why in your second example the `"Hello" + "Shreyas"` was transformed into `"HelloShreyas"`.  But it doesn't currently do more complex folding across non-const variables.  If it's something you're concerned about, I recommend discussing it in the dotnet/roslyn repo.  But if you're unable to come up with real-world examples

[2021-07-12 04:16] #55476 closed

[2021-07-12 04:18] ShreyasJejurkar commented on #55476
OK, @stephentoub I understood. Thanks. 👍

[2021-07-12 04:55] geoffkizer opened #55492 "QuicConnection.Dispose should perform abortive shutdown"

[2021-07-12 05:00] geoffkizer commented on #55156
I'm closing this issue. The original description is incorrect and based on bad assumptions.

I believe what we should do is:
(1) Change QuicConnection.Dispose to do an abortive shutdown of the connection -- tracked here: https://github.com/dotnet/runtime/issues/55492
(2) Eventually, change the handle refcounting logic so it is done by the SafeHandles for stream and connection, instead of by the Ms

[2021-07-12 05:00] #55156 closed

[2021-07-12 05:29] #55302 closed

[2021-07-12 05:30] geoffkizer commented on #55485
Cancellation sets the Read/Send State to Aborted, which makes it unusable.

[2021-07-12 06:09] filipnavara commented on #53579
It supports both and uses the `UseMonoRuntime` property to switch. The default is still set to Mono in current previews.

[2021-07-12 06:19] AndreasHeisel opened #55495 "Struct generated by "convert to struct" refactoring should implement "IEquatable<T>", operator== and operator !="
The refactoring "convert to struct" generates a struct replacement for value tuples.

For example

`(int X, int Y)`

results in

[code]

To enable equality checking without boxing, I think it should implement IEquatable<T> this way:

[code]

[2021-07-12 06:28] unofficialdev opened #55527 "System.Security.Cryptography AES Decryption returns wrong results in latest builds"
Repro: Run the following program on current .NET 6 preview7 (preview.7.21362.5-win-x64)

Actual result: FAILED
Expected result: PASSED

[code]

---

Hi, I have few projects that use AES encryption to decrypt data sent from webserver, with builds from 6.0.0-preview.5.21269.1 and earlier it works fine, but when updating to latest builds i get wrong decrypt result.

OS: Windows 10 20H2
OS Build: 1904

[2021-07-12 06:40] mangod9 commented on #13122
Ok closing for now, we can reopen if some OS/arch are still broken.

[2021-07-12 06:40] #13122 closed

[2021-07-12 06:47] jindovu commented on #55470
- yes, I put wrong place, the problem I just guess came from .net core, seem like it's not know the root of web that's why it always display 404 not found and I created one page html & folder contains images only for testing the configuration Nginx is working fine (Images display is ok), when switch to .net core it's always display 404 and I don't know how to fix it

[2021-07-12 06:59] huoyaoyuan commented on #55495
This is a compiler feature request and belongs to https://github.com/dotnet/roslyn

[2021-07-12 07:44] noahfalk commented on #55313
This is hopefully resolved with #55385, if it fails again please reopen and I can investigate further

[2021-07-12 07:45] Krutonium commented on #13277
Would it also be possible to support such PPC Chips as the PowerPC G4 used in old Apple Laptops and on consoles such as the Wii?

[2021-07-12 07:55] karelz commented on #55166
Here's the warning text: https://docs.microsoft.com/en-us/dotnet/fundamentals/syslib-diagnostics/syslib0014
It is true, that it does not explicitly mention `FtpWebRequest` - alternatives for it are mentioned in its docs though: https://docs.microsoft.com/en-us/dotnet/api/system.net.ftpwebrequest?view=net-5.0#remarks

I don't think we need to update the inline text in VS warning, but perhaps we can

[2021-07-12 08:21] ManickaP commented on #55436
Related: https://github.com/dotnet/core-eng/issues/13675

[2021-07-12 08:22] ManickaP commented on #55271
This looks like an infra issue, I've filed a bug in core-eng last week: https://github.com/dotnet/core-eng/issues/13675

[2021-07-12 08:26] #55436 closed

[2021-07-12 08:30] karelz commented on #55334
If this is working correctly in 6.0, are we discussing the option for backport to 5.0? How important is that? What is the impact on customers -- how often will they run into it? How many customers are impacted?

[2021-07-12 08:37] karelz commented on #49755
@buyaa-n ping? cc @jeffhandley

[2021-07-12 08:41] alpencolt commented on #2394
@clamp03 unfortunately we had no time to this issue. Would be good if you'll take it.

[2021-07-12 08:43] filipnavara commented on #55334
I think this is actually quite important to backport to 5.0. The conditions for hitting it are the following:
- Using `HttpClient` to connect to HTTPS endpoints on Windows machine
- Registering custom `ServerCertificateCustomValidationCallback`
- Having TLS 1.3 enabled in the system which is default on Windows 11 and some insider builds at least

We started hitting it on day one of Windows 11 bein

[2021-07-12 08:51] clamp03 commented on #2394
@alpencolt Thank you. I will handle it.

[2021-07-12 10:21] karelz commented on #55271
@hoyosjs please do not remove untriaged in future -- we need to go through the issues and decide on milestone.

[2021-07-12 10:23] karelz commented on #55470
@jindovu does a HelloWorld app work for you well? What is different on your app that breaks it? Can you create isolated repro and file issue in appropriate repo please?

[2021-07-12 11:28] jakobbotsch commented on #12080
This test makes assumptions on the implicit/explicit tailcalls being done and those assumptions are different on the failing platforms.
I think we have sufficient test coverage for tailcalls with tailcall stress/ABI stress and in the other tailcall tests so I don't think we need to do anything to enable this particular test on the failing platforms.

[2021-07-12 11:28] #12080 closed

[2021-07-12 11:56] davidhunter22 commented on #50838
Is it even possible to get a corehost.sln using "build.cmd -s Host.Native -msbuild". I got an error when I tried that command in 5.0.7

[2021-07-12 12:02] vitek-karas commented on #50838
I just tried in `main` and it works for me. What do you mean in `5.0.7`?

[2021-07-12 12:03] rolfbjarne commented on #53579
Correct, Mono is still the default, and you can set `UseMonoRuntime=false` to get CoreCLR.

[2021-07-12 12:06] pavelsavara commented on #54644
Could `dotnet build-server shutdown` help ? Or is that the current process we are running in ?

[2021-07-12 12:19] GW-Lab commented on #55166
Ok. thanks

[2021-07-12 12:19] #55166 closed

[2021-07-12 12:24] #47583 closed

[2021-07-12 12:49] davidhunter22 commented on #50838
I mean I downloaded the source with git tag v5.0.7. When I run
build.cmd -s Host.Native -msbuild
I get
`C:\Users\david\devel\dotnet\runtime_5.0.7\eng\common\build.ps1 : Missing an argument for parameter 'msbuildEngine'. Specify a parameter of type
'System.String' and try again.
At line:1 char:132
+ ... chitecture=x86 -restore -build /p:subset=Host.Native -msbuild -config ...
+

[2021-07-12 13:21] CarnaViire opened #55508 "[HTTP/3] Test bug (flaky) - premature connection close - need some synchro on app level"
I've seen it (rarely) happening on `GetAsync_LargeHeader_Success`, but it is most probably a generic HTTP/3 test issue (I suspect LoopbackServer)

[code]

Callstack shows `MsQuicStream.HandleEventConnectionClose` which means connection was closed while stream was in flight reading the response.

This brings me to thing we've discussed today:

This exact issue manifests itself in our HTTP/3 tests,

[2021-07-12 13:23] stephentoub commented on #50300
Looks like the same issue I just hit in another PR:
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-55499-merge-be24a0ec13b44c1f85/System.Security.Cryptography.OpenSsl.Tests/console.c9c21603.log?sv=2019-07-07&se=2021-08-01T11%3A13%3A45Z&sr=c&sp=rl&sig=j%2FC9Z%2FKgea3jtDad34ERDD14Sj8ahWBvUpOOIO%2BcV%2BE%3D
[code]

[2021-07-12 13:24] #55400 closed

[2021-07-12 13:26] SpiritBob opened #55509 "object.ToString() claims it can return a nullable string?"
After reading through https://docs.microsoft.com/en-us/dotnet/api/system.object.tostring?view=net-5.0, it is stated that:

Why then is the signature marked that it returns a possible null string?

Is this in the event the inheritor has decided to ignore the conventions and go crazy by returning `null` and various other things?

[2021-07-12 13:44] naminodarie opened #55510 "Add unbounded SortedSet<T>.TreeSubSet API"
## Background and Motivation

`SortedSet<T>.TreeSubSet` has the feature, but there are no public API.

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Collections/src/System/Collections/Generic/SortedSet.TreeSubSet.cs#L24,L28

## Proposed API

[code]

## Usage Examples

[code]

## Risks

Is it best to name `GetViewUpper`,` GetViewLower` ?

[2021-07-12 13:51] EgorBo commented on #55343
I have a quick fix in work, but since it's not urget I'm marking it as 7.0.0

In my fix I propagate it during inlining

[2021-07-12 13:51] EgorBo commented on #55355
I've made a proper fix but the jit-diff couldn't find any diffs so I delayed it to 7.0.0

[2021-07-12 13:52] EgorBo commented on #54781
Moving to 7.0.0 as it unlikely to make into 6.0.0

[2021-07-12 13:53] EgorBo commented on #55079
Moving to 7.0.0, keeping type info for spilled to stack locals looks tricky.

[2021-07-12 13:55] stephentoub commented on #55509
Because, even with that, over 20 years of .NET history many implementations return null and empty string.  The nullability annotations are meant to reflect reality, and the unfortunate reality is that ToString() can and does end up returning null.  We don't have a way to say "the base implementation won't return null but overrides might return null", so we're left with it being nullable on the bas

[2021-07-12 13:55] #55509 closed

[2021-07-12 13:57] EgorBo commented on #50915
Moving to 7.0.0 for the second part where we need to optimize
[code]
It'd certainly doable but unlikely to make it into 6.0 😞

[2021-07-12 13:57] krwq commented on #50781
@enricobenedos I think it will be hard to debug this unless you provide either base64 or a file which could allow us to reproduce this issue. If you use the same data you're getting on ubuntu and try to parse it on OSX can you repro on one and not on the other?

[2021-07-12 13:59] Lotes opened #55511 "`CharUnicodeInfo.GetBidiCategory(String, Int32)` returns enumeration value that is not listed"
### Description

I need the (Unicode) bidirectional category for a character of a string (left-to-right or right-to-left, basically).
In [a tutorial](http://archives.miloush.net/michkap/archive/2007/01/06/1421178.html), this is accomplished by accessing the internal function `System.Globalization.CharUnicodeInfo.GetBidiCategory(String, Int32)` using reflection.

If you execute the following code,

[2021-07-12 13:59] SamMonoRT commented on #47861
@tannergooding - setting this for 6.0.0 - please update it.

[2021-07-12 13:59] eiriktsarpalis commented on #29812
Concerning support for discriminated unions, it might be worth pointing out that there is no one canonical way to encode DUs in JSON. DUs are used in many different ways in F# code, including the following:

- Single case DUs, e.g. `type Email = Email of string`, used to provide a type-safe wrapper for common values. A user might expect that `Email("email")` should serialize as its payload, `"emai

[2021-07-12 14:03] EgorBo commented on #43914
I believe we can close it as we now take PGO data into account:
https://github.com/dotnet/runtime/pull/52708
https://github.com/dotnet/runtime/pull/53670
https://github.com/dotnet/runtime/pull/55096
https://github.com/dotnet/runtime/pull/55478

Or we can leave it open for future enhancements?

[2021-07-12 14:13] vcsjones commented on #55477
Perhaps a solution:

1. Make CFB128 and CFB64 throw `NotSupportedException` or `CryptographicException` for persisted CNG keys.
2. Folks that want to be able to go back to the existing behavior can get pretty close by setting `FeedbackSize` to `8`. Since .NET Framework also produced block-length padded CFB8, the .NET 5 CFB decryption can handle the extra padding that it is currently producing (tha

[2021-07-12 14:22] krwq commented on #52264
@AlekseyTs @tmat seems this issue is missing the winmd file. Any chance you could attach it here? (or base64 of that file if github doesn't allow binary)

[2021-07-12 14:45] lewing commented on #48717
@radekdoulik I think we can ActiveIssue this for now and skip it on wasm

[2021-07-12 14:53] SamMonoRT commented on #43953
I don't think this is a blocking issue anymore, moving to 7.0.0 milestone.

[2021-07-12 14:55] jkoritzinsky commented on #50838
The -msbuild flag doesn't exist in the release/5.0 branch. It's the default behavior in that branch.

[2021-07-12 15:00] mateoatr opened #55512 "Test failure: Assertion failed 'op1->IsLocal()' in win-x64"
[runtime-coreclr jitstress2-jitstressregs 20210711.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1231826&view=ms.vss-test-web.build-test-results-tab)

We are hitting the following assert on win-x64:

https://github.com/dotnet/runtime/blob/633e04481f21a23d567cf49177f76fbef3a34cfe/src/coreclr/jit/codegenxarch.cpp#L4472-L4476

Log example:

[code]

@BruceForstall

[2021-07-12 15:02] krwq commented on #49010
cc: @StephenMolloy @HongGit

[2021-07-12 15:03] krwq commented on #49761
cc: @StephenMolloy @HongGit

[2021-07-12 15:12] eerhardt commented on #49761
I believe this was resolved by @agocke in #49682. Closing.

[2021-07-12 15:12] #49761 closed

[2021-07-12 15:20] deyanp commented on #29812
@eiriktsarpalis we (and I think everybody else) use only option 2 (type-safe enums) **at the edge** ... and I think a performance-optimized (runtime reflection!) impl does 100% belong into System.Text.Json ...

Currently we are forced to use standard enums ... we tried implementing simple DU serialization/deserialization incl. caching of the values ... but there was sth. suboptimal (need to rememb

[2021-07-12 15:24] naricc opened #55515 "AOT error building dotnet/performance benchmarks"
Command:

``` ~/workspace/runtime-clean/dotnet.sh run -c Release --runtimeSrcDir ~/workspace/runtime-clean/ --runtimes wasm --aotcompilermode wasm --framework net6.0```

I get a bunch of AOT errors like:

```/Users/naricc/workspace/runtime-clean/src/mono/wasm/build/WasmApp.Native.targets(414,5): warning : Unable to compile method 'void Microsoft.Diagnostics.Tracing.Extensions.ETWKernelControl:Rese

[2021-07-12 15:43] #54152 closed

[2021-07-12 15:46] tannergooding commented on #43168
This looks to have been fixed some time back, and isn't a `System.Buffers` related issue

[2021-07-12 15:46] #43168 closed

[2021-07-12 15:52] dleeapho commented on #43904
cc @MichaelSimons @dseefeld

[2021-07-12 15:53] tannergooding commented on #44117
This was resolved a bit back (same time as #36160 was resolved)

[2021-07-12 15:53] #44117 closed

[2021-07-12 15:53] briansull commented on #45658
@AndyAyersMS

I'm still believe that this issue can be closed as it is unsafe for us to eliminate the array bounds check unless we read the value of this->data once.    If we re-read this value then the length can be changed by another thread and the length of the array could be different.   When we make the CSE we replace the global read of this->data and then we can eliminate the extra bounds ch

[2021-07-12 15:57] ericstj commented on #54948
Thanks folks

[2021-07-12 16:01] tannergooding commented on #51962
@stephentoub, could you mark this as 6.0.0 or 7.0.0 as appropriate?

[2021-07-12 16:05] AndyAyersMS commented on #43914
Inlining is never done, but yes I think we can close this.

[2021-07-12 16:05] #43914 closed

[2021-07-12 16:07] AndyAyersMS commented on #45658
I think we should look into something like this, yes. But it seems like a post 6.0 activity.

[2021-07-12 16:11] AndyAyersMS commented on #54118
@jakobbotsch want me to take this one over?

[2021-07-12 16:18] agocke commented on #54515
Closing, as this appears to be resolved.

[2021-07-12 16:18] #54515 closed

[2021-07-12 16:20] ericstj commented on #31204
At this point it's too late for this to go into 6.0.0.

[2021-07-12 16:21] ericstj commented on #32411
This is too late for 6.0.0 at this point.

[2021-07-12 16:22] ericstj commented on #31527
Too late to take breaking changes in 6.0.0 at this point.

[2021-07-12 16:22] wfurt commented on #55017
I will make some changes to support #55193 @AnthonyMastrean. That should make it easier for LDAP to consume.
You can always proceed with what @bartonjs outlined.

[2021-07-12 16:22] #55017 closed

[2021-07-12 16:26] jakobbotsch commented on #54118
Right, yes, I forgot to reassign this. Done.

[2021-07-12 16:31] wfurt commented on #55334
I was planning to open service PR and ask for approval. As Windows 11 is rolling, our exposure increases. We also fix this in  .NET Framework so it would be compat as well.

[2021-07-12 16:35] alexcovington commented on #52313
From @L2:

Regarding System.Text.Perf_Utf8Encoding.GetBytes(Input: Cyrillic)
The regression seems to happen from this commit:
`JIT: revise inlinee scale computations #51593`
Commit: a4b0a038df1b
PR: https://github.com/dotnet/runtime/pull/51593
It largely affects this method's assembly (code blocks are moved around):
`System.Text.Unicode.Utf8Utility.TranscodeToUtf8(Char*, Int32, Byte*, Int32, Char*

[2021-07-12 16:39] mkArtakMSFT commented on #55516
@lewing can you please assign someone to help the customer and/or investigate the debugging related issue? Thanks!

[2021-07-12 16:40] #55097 closed

[2021-07-12 16:43] BruceForstall commented on #55512
@dotnet/jit-contrib New assertion on xarch

[2021-07-12 16:45] karelz commented on #55334
@wfurt to clarify: .NET Framework works correctly already and does NOT need a change. Is it correct?

[2021-07-12 16:49] wfurt commented on #55334
correct. I'm proposing to fix 5.0 to match Framework. (and 6.0)

[2021-07-12 16:49] mclayton7 commented on #55486
Would this be a good place to consider a QUIC datagram API?

[2021-07-12 16:53] #44115 closed

[2021-07-12 16:54] BruceForstall commented on #55512
A lot of failures in "CoreCLR windows x64 Checked jitstressregs8_x86_noavx" here:

https://dev.azure.com/dnceng/public/_build/results?buildId=1231870&view=ms.vss-test-web.build-test-results-tab&runId=36681690&paneView=debug

[2021-07-12 16:58] BruceForstall commented on #53708
Tons of these failures in the r2r-extra job: https://dev.azure.com/dnceng/public/_build/results?buildId=1232094&view=ms.vss-test-web.build-test-results-tab

[2021-07-12 17:05] BruceForstall opened #55517 "Assert failure: !"Heap contamination detected! HeapFree was called on a heap other than the one that memory was allocated from.\n""
System.Net.Requests.Tests and System.Security.Cryptography.Pkcs.Tests

Many jobs, x64/arm64/arm32

https://dev.azure.com/dnceng/public/_build/results?buildId=1232250&view=ms.vss-test-web.build-test-results-tab

[code]

[2021-07-12 17:05] BruceForstall commented on #55517
@mangod9

[2021-07-12 17:12] BruceForstall opened #55518 "Test failure: Loader\ContextualReflection\ContextualReflection\ContextualReflection.cmd"
CoreCLR windows x86 Checked gcstress0xc

https://dev.azure.com/dnceng/public/_build/results?buildId=1231743&view=ms.vss-test-web.build-test-results-tab&runId=36679588&paneView=debug

[code]

@vitek-karas Looks like you've looked at this test in the past: https://github.com/dotnet/runtime/issues/48579

[2021-07-12 17:12] mangod9 commented on #55517
If this is a consistent failure for specific test category, might make sense for the owners to investigate if there is a smaller repro and if any allocations/pinvokes are causing a corruption.

[2021-07-12 17:14] BruceForstall commented on #11063
Another: https://dev.azure.com/dnceng/public/_build/results?buildId=1232688&view=ms.vss-test-web.build-test-results-tab&runId=36700392&resultId=109744&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2021-07-12 17:17] weilinwa commented on #12984
@CarolEidt, thanks for your response!
I will go ahead to do the implementation then.

[2021-07-12 17:19] BruceForstall commented on #55512
@kunalspathak Looks like only JitStressRegs=8 is affected. Can you look?

[2021-07-12 17:20] krwq commented on #48419
@FiniteReality can you attach a specific .so file where you're seeing the issue?

[2021-07-12 17:26] lewing commented on #53546
@sxotney are you able to reproduce this with later previews?

[2021-07-12 17:26] krwq commented on #48400
Can you repro this with XDocument rather than XElement? If not I'm leaning to close this as "by design"

[2021-07-12 17:28] t-mustafin opened #55521 "x86 Linux build fails"
x86 Linux build fails with message:
[code]
Problem occures on https://github.com/dotnet/runtime/blob/738b09bee351a60f1a7c037d5968b1e4145f6c82/src/coreclr/vm/i386/jithelp.S#L395.
Build command:
[code]

cc @janvorli @jkotas @alpencolt @gbalykov

[2021-07-12 17:31] lewing commented on #54655
So basically the *InFlight is a strong ref on top of the weak one held across the boundaries where we need a strong ref?

[2021-07-12 17:33] krwq commented on #45890
@mvegaca can you see if you still see errors with 6.0-preview package?

[2021-07-12 17:33] mangod9 commented on #55517
@karelz can some from system.net please take an initial look at the failures to determine if they might be corruption due to pinvokes here?

[2021-07-12 17:37] jkoritzinsky commented on #39606
Update: Docs already cover what we would add for 1 and 2. #55439 covers item 3. A docs PR is needed for Item 4.

[2021-07-12 17:39] josalem commented on #54801
It's possible. This isn't runtime code; this is Microsoft/PerfView code on the stack. I'd be surprised if there was an AV in TraceEvent that we haven't hit before now given the number of tests that use it. Especially since we haven't changed the version in recent memory.

This failure has a dump associated with it, so I should be able to dig into it a little more. I've got a few things on my plate

[2021-07-12 17:40] terrajobst opened #55522 "API that returns framework version"
In the past we've refrained from providing an API that provides the version information of the .NET platform. The reason being that we know developers can't be trusted to write version checks correctly. For operating system detection we provide APIs in the form `OperatingSystem.IsXxxVersionAtLeast(int major, int minor)` where a developer can ask for the minimum version. This pattern also allows th

[2021-07-12 17:41] steveharter commented on #29960
Best practice IMO is to be explicit on the CLR type. This mean either:
- Change the consuming code to use an explicit type and not `System.Object`. This avoids the ambiguity (and is faster).
- Use the current explicit behavior of `JsonElement` \ `JsonNode` to obtain the appropriate CLR type from the JSON primitive, possibly calling helper methods to parse the string if the Type is not directly sup

[2021-07-12 17:44] krwq commented on #53080
@dgrunwald do you feel like sending PR with the fix? Do you have a simpler repo perhaps which doesn't involve ilspycmd?

[2021-07-12 17:51] roji commented on #50485
Closing as no answer was provided.

[2021-07-12 17:51] #50485 closed

[2021-07-12 17:51] eiriktsarpalis commented on #55135
I can reproduce the issue in both .NET 5 and 6. Transcribing the minimal repro:
[code]
which throws
[code]
I believe the issue is caused by invalid IL emitted by the Reflection.Emit member accessor. The converter implementation is incorrect, however we should detecting this error earlier and fail gracefully with a helpful error message.

[2021-07-12 17:53] krwq commented on #53156
cc: @terrajobst

[2021-07-12 17:57] josalem commented on #54801
Took a look at the history for the rundown validation test. It's been intermittently failing since last Friday with varying errors. There's the above AV, but there is also the following error:

[code]

It's not immediately obvious to me what assert failed, though:
https://github.com/dotnet/runtime/blob/738b09bee351a60f1a7c037d5968b1e4145f6c82/src/libraries/System.Private.CoreLib/src/System/Collect

[2021-07-12 18:01] krwq commented on #54642
@fgheysels can you try with 6.0-preview?

[2021-07-12 18:02] maryamariyan opened #55525 "Add support for logging with more than 6 arguments at runtime"
## Background and Motivation

As part of .NET 6 we updated the new `LoggerMessage.Define` overloads to use `LogDefineOptions`.  (PR [here](https://github.com/dotnet/runtime/pull/54581) and issue [here](https://github.com/dotnet/runtime/issues/52276))

Later in .NET 7, for supporting more arguments, we could add a new `Define<T>` API (where T is a delegate) that would take n arguments, log level, e

[2021-07-12 18:02] AndyAyersMS commented on #43618
Closing per updated top comment:

[2021-07-12 18:02] #43618 closed

[2021-07-12 18:06] maryamariyan commented on #50913
Closing this issue in favor of https://github.com/dotnet/runtime/issues/55525. We already covered updating new .NET 6.0 overloads to use `LogDefineOptions`. The remainder of the work (support for more arguments) is scoped for .NET 7.0

[2021-07-12 18:06] #50913 closed

[2021-07-12 18:07] krwq commented on #53476
Is this a dup of https://github.com/dotnet/sdk/issues/18148 ?

[2021-07-12 18:12] TanvirArjel commented on #53476
@krwq What! Why it is in `Milestone 7.0.0`? Then how shall we update our packages to support `v6.0.0`. Currently, adding to support for the .NET 6.0 in our NuGet packages does not work due to this blocking issue.

[2021-07-12 18:13] bartonjs commented on #53369
Doesn't seem like there's any dissent.

Two potential edits:

[code]

[code]

[2021-07-12 18:14] ElanHasson commented on #36394
cc: @davidfowl @Tratcher

I made an implementation that mirrors that in `WebHostBuilder`, complete with `HostingStartupAssemblies` and
`HostingStartupExcludeAssemblies` support. Here is a repo: https://github.com/ElanHasson/GenericHostHostingStartup

After further inspection I don't think it is a straightforward as just adding those methods. IMO the better implementation would be to support it in

[2021-07-12 18:16] jkoritzinsky commented on #35193
I've validated that we already have coverage for `SizeOf`, `PtrToStructure` and `StructureToPtr`. We never enabled generic support for these APIs.

As mentioned in the original issue, we don't have tests for `OffsetOf` and it seems to allow generic types. I'll add some tests for `OffsetOf` since I don't think we can break back-compat here (doesn't meet the bar).

[2021-07-12 18:16] TanvirArjel commented on #53476
@krwq This is a blocking issue. Download this [this](https://github.com/TanvirArjel/EFCore.GenericRepository) repository and enable .NET 6.0 support and build. You will see the build failed.

[2021-07-12 18:18] GrabYourPitchforks commented on #52312
@kunalspathak Right, this matches what I saw as well. The codegen for `ReadOnlySequence<T>.GetFirstSpan()` itself is nearly identical, modulo some `movsx` / `mov` differences. (This is expected since that was the entire point of the commit.) That method is being inlined into its caller in the benchmark class, which executes it over and over again. Things still look fine until the method is inlined

[2021-07-12 18:18] bartonjs commented on #55477
I've reached out to the CNG team to see if there's something we're not seeing in how to make it work.  Otherwise, yeah, probably make it throw.

[2021-07-12 18:21] eiriktsarpalis commented on #55179
Since this is not an API proposal there's no approval process as such other than reviewing the pull request. @layomia do you think we could accept such a PR in time for .NET 6 or should we move this to the 7.0.0 milestone?

[2021-07-12 18:23] TanvirArjel commented on #53476
@krwq

Yes! Seems like so.

[2021-07-12 18:26] SamMonoRT commented on #44151
https://github.com/xamarin/xamarin-macios/issues/11379 should fix this issue, and we can close this out.

[2021-07-12 18:28] imhameed commented on #44151
We should enable NEON by default for arm64 but yeah--I'll open a PR for this--all the arm64 hardware intrinsics ought to work on Mono.

[2021-07-12 18:29] VSadov commented on #53587
It fails about 4 times a week. It is not a lot considering the volume of test runs, but since we do not understand why it happens, it may get worse. I'd like to fix this for 6.0

It is very likely a test/infra issue though, so should not be a release-blocking.

[2021-07-12 18:30] layomia commented on #55179
👍 yeah we could accept a PR optimizing the implementation in .NET 6.0, esp if it comes soon-ish.

[2021-07-12 18:30] eiriktsarpalis commented on #19089
Sounds reasonable to me.

[2021-07-12 18:31] LiangZugeng commented on #50739
@joperezr Is there any plan (before 6.0) to add the alpine.3.13 RID into Microsoft.NETCore.App.deps.json? I tested the 5.0.7 SDK docker image and the RID is still incorrect.

[code]

Could it be fixed in the next minor version of 5.0.7? It has a bigger impact than it seems to be. Due to this issue, unit tests using SQLite will fail in .NET 5.0 Alpine 3.13 docker container, some people (including m

[2021-07-12 18:32] layomia commented on #55179
Marking as 7.0.0 for now until a PR comes in.

[2021-07-12 18:33] SamMonoRT commented on #48800
Moving to 7.0.0 - something for the infrastructure team to look at.

[2021-07-12 18:35] fanyang-mono opened #55528 "[Mono][Android][Interp] Missing dll - Could not load file or assembly 'xunit.performance.core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=67066efe964d3b03' or one of its dependencies."
Failed test:

- JIT/Performance/CodeQuality/BenchmarksGame/mandelbrot/mandelbrot-7/mandelbrot-7.sh

Full log

Failure log:
[code]

[2021-07-12 18:36] fanyang-mono commented on #55528
This test passes on Android x64 with JIT and desktop linux x64 with interpreter.

[2021-07-12 18:39] GrabYourPitchforks commented on #55527
I suspect the problem is in this code, where the caller assumes `Read` will complete all at once rather than invoking the method in a loop.

[code]

Will investigate further.

[2021-07-12 18:50] mikem8361 commented on #54263
It looks to me that if we fail loading the DAC at the LoadLibraryA line, a false result is returned which looks to me that it propagate a error back to main and return a -1 exit code.  We do ignore attempting to load the DAC if there isn't a coreclr module loaded (m_coreclrPath.empty() is true) and go on with the core dump generation with just native state.

Not sure what action I should take here

[2021-07-12 18:54] hoyosjs commented on #54263
That was my same conclusion, but somehow it happened.

I looked at this, and a borked dump collection could block the process indefinitely. What I was saying is that it should have a reasonable timeout.

[2021-07-12 18:54] N0D4N commented on #55179
Thanks, I'll start working on it as soon as i can.

[2021-07-12 18:55] buyaa-n commented on #49755
Yes the attribute is added and this is fixed, closing
https://github.com/dotnet/runtime/blob/4156116824c18be1cf1d29a42278b5586d16ffcf/src/libraries/System.Net.Http/ref/System.Net.Http.cs#L362-L363

[2021-07-12 18:55] #49755 closed

[2021-07-12 18:59] steveisok commented on #55449
Seems to be acting up today on https://dev.azure.com/dnceng/public/_build/results?buildId=1233089&view=logs&jobId=4ec48297-f0d4-5d6c-7d7c-174fafbbae1c&j=f7707b4d-03d4-5981-287a-9de6d0a30080

[2021-07-12 19:00] eerhardt commented on #55522
Now that we have a "reasonable" versioning story, is `Environment.Version` not good enough for this going forward? We use it in our tests in a few places:

https://github.com/dotnet/runtime/blob/a31d0d57eff985a68828c37775d103b91032f786/src/libraries/Common/tests/TestUtilities/System/PlatformDetection.cs#L25

https://github.com/dotnet/arcade/blob/7f52af24016a4b749a2c1f219105c0f5a7100028/src/Microso

[2021-07-12 19:05] thaystg commented on #55516
@Jcparkyn are you using .net5 or .net6?

[2021-07-12 19:10] steveisok commented on #55375
@vargaz is this something you can take a look at?

[2021-07-12 19:21] GrabYourPitchforks commented on #49808
I really don't think we should be contorting the API shape to work around this edge case language restriction. There's a simple enough workaround:

[code]

Or (gives slightly better codegen):

[code]

[2021-07-12 19:23] acaly commented on #55388
@jogibear9988 Using a `Dictionary` as static field without a lock would have problems in multithread environments. It's better to use a `ConcurrentDictionary` for a more quick-and-dirty solution.

[2021-07-12 19:23] terrajobst commented on #55522
Can't believe I completely forgot about `Environment.Version` 🤦

Yes, that might be reasonable!

[2021-07-12 19:36] vargaz commented on #55375
I would suspect https://github.com/dotnet/runtime/commit/5b337cbad72dbdfd0ef673560fd6c3f84621a7d5

[2021-07-12 19:41] AndyAyersMS commented on #51908
I'm not seeing these anymore so will close.

[2021-07-12 19:41] #51908 closed

[2021-07-12 19:46] AndyAyersMS commented on #55472
Also likely to be fixed if/when we implement forward sub (#6973)

[2021-07-12 19:48] AndyAyersMS commented on #51587
Not sure we're going to get to this in 6.0. So moving to future.

[2021-07-12 19:49] AndyAyersMS commented on #41692
Not sure we're going to get to this in 6.0, so moving to future.

[2021-07-12 19:52] AndyAyersMS commented on #53838
Still failing, see eg https://dev.azure.com/dnceng/public/_build/results?buildId=1232289&view=ms.vss-test-web.build-test-results-tab

@EgorBo can you see if you can get this to repro?

[2021-07-12 19:53] AndyAyersMS commented on #53549
More than arm32 failing, need to investigate

https://dev.azure.com/dnceng/public/_build/results?buildId=1231810&view=ms.vss-test-web.build-test-results-tab

[2021-07-12 20:01] GrabYourPitchforks commented on #55527
Yes, this is exactly what happened. In earlier versions of .NET, the `Read` method gives back a single __181__-byte chunk which represents the entirety of the data. In recent versions, due to optimizations likely introduced by https://github.com/dotnet/runtime/pull/53644, the `Read` method gives back two chunks: a __176__-byte chunk followed by a __5__-byte chunk. Even though it's a behavioral cha

[2021-07-12 20:02] #54083 closed

[2021-07-12 20:06] bartonjs commented on #55527
At most it might mean we want to call it out in the release notes (maybe a breaking change notice?).  But, yeah, the error here is in the calling code for assuming that Read reads complete.

[2021-07-12 20:06] SamMonoRT commented on #46940
Moving to 7.0.0

[2021-07-12 20:07] SamMonoRT commented on #47861
Moving to 7.0.0

[2021-07-12 20:10] lambdageek commented on #55277
On .NET Framework, S.R.M should come from nuget. https://www.nuget.org/packages/System.Reflection.Metadata/5.0.0
We probably needs some PrivateAssets thing in the .csproj for framework.

That said, another way to fix this is to stop using BlobBuilder for writing length-prefixed UTF8 strings.
https://github.com/dotnet/runtime/blob/e544ccffbd6f7018372923871dd39129810e4b11/src/tasks/RuntimeConfigPars

[2021-07-12 20:12] Maoni0 commented on #45375
I'll include this with my instrumentation changes.

[2021-07-12 20:14] kunalspathak commented on #55512
I see that it succeeded in [recent jitstressregs run](https://dev.azure.com/dnceng/public/_build/results?buildId=1231643&view=results). I also synced-up main and don't see it reproing anymore.

[2021-07-12 20:15] bartonjs commented on #50300
@stephentoub Your callstack looks a bit different.  We hit the abort() call in InitializeOpenSSLShim, meaning we couldn't find an appropriate libssl.  The previous ones were SIGSEGV via a dlopen call.

[2021-07-12 20:18] janvorli commented on #52201
@karelz I have started to get the same problem on all my local physical devices (macOS, Linux, Windows). And after cleaning the nuget cache on one of the devices, I cannot build anything from the runtime repo anymore. This is what happens:
[code]
Using browser / wget on most of these URLs works fine, so I assume it is some issue in the HttpClient w.r.t. my internet provider infra or something like

[2021-07-12 20:19] kunalspathak commented on #55512
My bad...I didn't set the right environment variables. I can see it is still reproing.

[2021-07-12 20:23] wfurt commented on #52201
Can you check what site it resolves to @janvorli ?
[code]
This seems like some CDN. Also HttpClient would prefer IPv6 if available. In this case the name does not seems to resolve to IPv6 (at least for me) so it should not problem but it something to remember.

[2021-07-12 20:24] Maoni0 commented on #10040
done as part of [#36152](https://github.com/dotnet/runtime/pull/36152)

[2021-07-12 20:24] #10040 closed

[2021-07-12 20:25] janvorli commented on #52201
The same as yours:
[code]

[2021-07-12 20:29] janvorli commented on #52201
I have also tried to create a simple test app like this and compile it with the latest .NET 6. All of the URLs above return HTTP error 404, which is kind of strange by itself, but none complains about no route to host. And the errors above are 100% repeatable.

[code]

So I wonder if it is possible that the nuget version used by the build uses some old .NET runtime that had some issue that is reso

[2021-07-12 20:31] janvorli commented on #52201
Btw, opening these URLs return 404 even in Chrome on Windows, the contents of the response is similar for all of them, one example being:
`{"$id":"1","innerException":null,"message":"Can't find the package 'stylecop.analyzers' in feed 'dotnet-tools'.","typeName":"Microsoft.VisualStudio.Services.NuGet.WebApi.Exceptions.PackageNotFoundException, Microsoft.VisualStudio.Services.NuGet.WebApi","typeKey

[2021-07-12 20:32] janvorli commented on #52201
This was for the https://pkgs.dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_packaging/d1622942-d16f-48e5-bc83-96f4539e7601/nuget/v3/flat2/stylecop.analyzers/index.json

[2021-07-12 20:37] #54996 closed

[2021-07-12 20:37] #53579 closed

[2021-07-12 20:47] Maoni0 opened #55532 "should report accumulated GC pause time"
currently GetGCMemoryInfo reports an accumulated % time in GC. we have gotten feedback that it would make the usage easier if we reported the amount of accumulated pause time so you could get it at the start of the request and get it again at the end so you can see how much GC impacts your request latency.

the question is do we want to have this as a separate API or as part of GetGCMemoryInfo (wh

[2021-07-12 20:48] danmoseley commented on #11063
I understand. If we provided and tested the fix entirely ourselves, how costly would it be for you to review it, commit it and push the output of CI to Nuget? This would be a binary with exactly the current content + this fix. It would be fine to push it as preview status, I think.

[2021-07-12 20:49] EgorBo commented on #53838
Will try!

[2021-07-12 20:49] janvorli commented on #52201
Btw, in the Wireshark log, I can see quite a number of "TCP Retransmission", "TCP Spurious Retransmission" and "TCP Dup ACK 508680". I wonder if it could be related in some way and our HttpClient hickups on these.

[code]
I can also see many logs as the following ones that Wireshark marks with red color, so I assume there is something wrong. Maybe the Win/Len being zero? But my knowledge of the TC

[2021-07-12 20:50] vargaz commented on #55375
[
[libs.tar.gz](https://github.com/dotnet/runtime/files/6804280/libs.tar.gz)
](url)

[2021-07-12 20:52] GrabYourPitchforks commented on #55527
Release notes seems appropriate. We can also mention the CanTransformMultipleBlocks optimization that Steve Toub checked in.

[2021-07-12 20:52] janvorli commented on #52201
And also this one:
[code]

[2021-07-12 21:03] wfurt commented on #52201
The 13.107.43.20 is the server ... or networking gear in the middle. All the TCP is handle by the Linux kernel. What matters is stream of data we read from the socket.

[2021-07-12 21:07] jkoritzinsky commented on #55329
@xiaoxstz do you still need assistance here?

[2021-07-12 21:10] #53790 closed

[2021-07-12 21:10] jonpryor commented on #55375
@vargaz : thanks!

Unfortunately, `fix.so` doesn't fix the crash. :-(

My repro steps:

[code]

[2021-07-12 21:11] cmanners commented on #55516
I believe I'm experiencing the same issue. If there is any information I can provide that would be useful to your investigation, please let me know.

[2021-07-12 21:12] thaystg commented on #55516
@cmanners are you using .net5 or .net6?

[2021-07-12 21:13] cmanners commented on #55516
@thaystg I'm using .Net 5.0.

[2021-07-12 21:13] wfurt commented on #52201
BTW there also seems to be some general outage  https://github.com/dotnet/core-eng/issues/13691

[2021-07-12 21:14] clairernovotny commented on #11063
One of the issues is that the CI has completely changed since then....not sure if the old CI even works anymore in the branch.

If @bradwilson is ok with it, and the team has a PR with a targeted fix, I could get a build pipeline working somewhere for publishing.

[2021-07-12 21:14] thaystg commented on #55516
Are you creating a Blazor WebAssemblyApp, and what options are you choosing in the creation dialog? HTTPS? What else?

[2021-07-12 21:14] janvorli commented on #52201
It seems it is even more involved. Rerunning the build of clr+libs multiple times ended up passing, so it seems that the problem is really intermittent.
As for the outage you've mentioned, I was never getting 50x responses.

[2021-07-12 21:15] erikness commented on #43997
I agree with all of these.

[2021-07-12 21:17] dgrunwald commented on #53080
It reproduces with this short program (full project: [SRMPerfTest.zip](https://github.com/dotnet/runtime/files/6804399/SRMPerfTest.zip)):
[code]

Publish for linux, and run:
[code]

There's one msync call when loading the metadata from the assembly, and then another call for each method body.
For me the program takes 3.35s counting the method bodies in System.Reflection.Metadata.dll.

The bug can

[2021-07-12 21:18] wfurt commented on #52201
It is possible that your ISP has some transparent caches and once they cannot fetch the file they give you different error. With CDN in place networking is way more complicated. In your case this looks like some packet loss at least.
I'm not sure what your filer is but the `No route to host` probably comes ICP message.

[2021-07-12 21:20] cmanners commented on #55516
I'm creating a Blazor WebAssembly application. I am using IIS Express with SSL disabled, anonymous authentication enabled, and Windows authentication disabled. I remember creating the project with PWA enable.

I created the project some time ago so if you want more specifics, I may need to you steer me to what you're looking for.

[2021-07-12 21:22] #49796 closed

[2021-07-12 21:22] janvorli commented on #52201
I've just learned that the 404 error codes are benign. Nuget tries to fetch packages from all the configured sources and the 404 just means that the intermittent issue happened when trying to fetch it from other sources than the one it was in.

[2021-07-12 21:23] janvorli commented on #52201
In the intermittent cases, there are no HTTP response codes, as the communication gets broken in various ways.

[2021-07-12 21:33] kunalspathak commented on #55512
Got introduced from https://github.com/dotnet/runtime/pull/55045

![image](https://user-images.githubusercontent.com/12488060/125358681-11145000-e31e-11eb-8275-91dd3d88c7db.png)

[2021-07-12 21:39] GrabYourPitchforks commented on #55511
This code sample uses private reflection into an internal runtime routine and is not supported. In .NET 5.0+, the definition of the internal enum changed so that "left to right" and "right to left" are the only valid options. [See here](https://github.com/dotnet/runtime/blob/4c92aef2b08f9c4374c520e7e664a44f1ad8ce56/src/libraries/System.Private.CoreLib/src/System/Globalization/StrongBidiCategory.cs

[2021-07-12 21:43] cmanners commented on #55516
Here are the verbose logs ([visualstudio-js-debugger.txt](https://github.com/dotnet/runtime/files/6804521/visualstudio-js-debugger.txt)); I'm seeing quite a few messages that read "connect ECONNREFUSED". I tried to connect to the erroring addresses (http://localhost:1039/json/version and http://localhost:1039/json/list) with the browser from using a browser and they returned a result.

Result of c

[2021-07-12 21:46] cmanners commented on #55516
I created a new Blazor WebAssembly project and the debugger was able to connect without issue.

![image](https://user-images.githubusercontent.com/251596/125359918-4887fa00-e328-11eb-80ef-05d1aa098ccc.png)

![image](https://user-images.githubusercontent.com/251596/125359931-4de54480-e328-11eb-8a97-e252c7ff4ec0.png)

[2021-07-12 21:48] thaystg commented on #55516
Could you share the project that you are getting issues to debug?

[2021-07-12 21:49] terrajobst commented on #51770
* @bartonjs @halter73 and me had a quick sync and concluded that a single term is problematic, especially because `Microsoft.Extensions.Configuration` is added as a global using
* Most of the good compound names are taken, so we went with `ConfigurationManager` as that was the least gross name we could think off

[code]

[2021-07-12 21:56] cmanners commented on #55516
Unfortunately, without seeking authorization from my employer, I am unable to share the project as a whole at this time.

[2021-07-12 22:13] AndyAyersMS commented on #53838
Possibly relevant: https://github.com/dotnet/runtime/issues/46347

[2021-07-12 22:14] jkotas opened #55536 "Non-deterministic but frequent crashes from System.Linq.Expressions.Tests"
Crash stacktrace:
[code]

Here's the .md file with the various runfo details:

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-55499-merge-76bc4fdcdfe24d4e9c/System.Linq.Expressions.Tests/how-to-debug-dump.md?sv=2019-07-07&se=2021-08-01T20%3A15%3A12Z&sr=c&sp=rl&sig=czdFtHQqe0OW7J%2BSIH81r7kABJ4%2FH%2F1v1T%2F4LhwnZ9g%3D

[2021-07-12 22:17] JulieLeeMSFT commented on #45658
Moving to future.

[2021-07-12 22:17] jkotas commented on #55536
The problem is that both the ShuffleThunk and some other JITed method occupy same memory block.

[code]

@janvorli I think it is very likely caused by your W^X PR. Could you please take a look?

[2021-07-12 22:20] janvorli commented on #55536
I am taking a look.

[2021-07-12 22:28] terrajobst commented on #55522
@eerhardt does this work for single file? It looks it would return the user's assembly version in that case.

[2021-07-12 22:32] jkotas commented on #55522
Yes, it works for single file. Single preserves assembly identities. The API always returns CoreLib version.

[2021-07-12 22:47] jinek opened #55538 "Socket.Select on linux gives wrong result when fails to connect"
### Description

When running `Socket.Select` against failing port it gives different result on Windows and on Linux. Futhermore, it seems on Linux the result does not make any sense.

This code can be used to reproduce the issue:

[code]

On Linux it says
[code]

But on windows (looks like correct)
[code]
### Configuration

* netcoreapp3.1
* Ubuntu 18 and Windows 10

### Other information

If I t

[2021-07-12 22:56] Jcparkyn commented on #55516
I have the problem when debugging on the master branch of [this project](https://github.com/Jcparkyn/nodexr). It's been a while since I worked on it, so I can't confirm exactly which version of VS it was working on.

[2021-07-12 23:16] GrabYourPitchforks opened #55541 "Investigate improving perf of int16, int32, int64 parsing"
https://github.com/dotnet/runtime/pull/52423 improved the perf of `Utf8Parser`'s int64 handling code. There was feedback left on that issue that we should investigate similar improvements for the int16 & int32 handling code. Additionally, if we can apply any of this to the framework's normal `long.Parse` routine, that would also be goodness. (That's a bit trickier since there's also whitespace and

[2021-07-12 23:23] gregg-miskelly commented on #54263
Do you have a dump that can repro this?

[2021-07-12 23:39] #55473 closed

[2021-07-13 00:05] stephentoub commented on #55536
Thanks, @janvorli.

[2021-07-13 00:42] wegylexy opened #55544 "[QUIC] Certificate Validation with OpenSSL on Windows"
### Description

To support QUIC on older versions of Windows, the OpenSSL build of msquic may substitute. However, the raw certificate needs to be converted to `PCERT_CONTEXT` before loading into `X509Certificate2`. https://github.com/dotnet/runtime/pull/51015 breaks this scenario due to loading the certificate in the wrong format.

Moreover, there should be better a way to disable certificate va

[2021-07-13 00:49] wegylexy commented on #55544
@bartonjs Could be security-related too as the exception is thrown from `X509Certificate2Collection` and `X509Certificate2`, given a raw cert from the OpenSSL build of `msquic`. Do they only work with SChannel on Windows?

[2021-07-13 00:56] wfurt commented on #55544
I'm not sure I understand the comment @wegylexy. On Windows with channel the Handle is basically raw pointer to memory. When this is called with openssl backend you basically give it pointer to random memory. It is not surprising that it would crash.  If you build MsQuic yourself you _could_ fix up the crypto to cover to PCERT_CONTEXT or set it to null.

[2021-07-13 00:59] runfoapp[bot] opened #55546 "system.linq.expressions.tests work item"
Runfo Tracking Issue: [system.linq.expressions.tests work item](https://runfo.azurewebsites.net/tracking/issue/146)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1233712](https://dev.azure.com/dnceng/public/_build/results?buildId=1233712)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[PR 55425](https://git

[2021-07-13 01:00] hoyosjs commented on #55546
Not all reported here might be relevant, but there's been a lot of AV's in this code path lately.

[2021-07-13 01:06] lewing commented on #55546
https://github.com/dotnet/runtime/issues/55536

[2021-07-13 01:11] wegylexy commented on #55544
@wfurt I see. So either msquic or .NET needs to convert the raw cert to `PCERT_CONTEXT` on Windows, and .NET QUIC should support OpenSSL build of msquic on older versions of Windows, because at least Windows 8.1 and some LTS servers have no ways to enable TLS 1.3 in SChannel. It's also risky to ask Windows 10 users to change the registry to just to enable QUIC for our .NET 6 apps.

[2021-07-13 01:12] hoyosjs commented on #55546
thanks, just checked and it seems like it!

[2021-07-13 01:12] #55546 closed

[2021-07-13 01:20] wfurt commented on #55544
avoiding crash is easy. The real question is how you are going to do real validation and certificate management.
I added flag to MsQuic to specific if the certificates are expected in "portable" e.g. PKCS format or as a native platform pointer.   https://github.com/microsoft/msquic/issues/1453 tracks deferred work to support "portable" option on Windows/Schannel. When I look at it back then, Windo

[2021-07-13 01:43] VincentBu opened #55547 "Test failure:SetOut.SetOutReadToEnd"
Run [runtime 20210712.116](https://dev.azure.com/dnceng/public/_build/results?buildId=1233668&view=ms.vss-test-web.build-test-results-tab&runId=36716822&resultId=120580&paneView=debug)
Failed test:
[code]
**Error  message:**
[code]

[2021-07-13 01:53] VincentBu opened #55549 "Test failure:System.Net.NameResolution.Tests.GetHostEntryTest.Dns_GetHostEntryAsync_DisableIPv6_ExcludesIPv6Addresses"
Run [runtime 20210712.116](https://dev.azure.com/dnceng/public/_build/results?buildId=1233668&view=ms.vss-test-web.build-test-results-tab&runId=36716834&resultId=150199&paneView=debug)
Failed test:
[code]
**One of error messages:**
[code]

[2021-07-13 02:10] jeffhandley commented on #53084
Here's the plan to get this implemented:

1. [ ] Update the runtime to have `OperatingSystem.IsIOS` return true when on MacCatalyst, and apply the minimal guard attributes (.NET 6, Preview 7)
2. [ ] Update the analyzer per the proposal (.NET 6, RC1)
3. [ ] Optionally make another change to the runtime to model the macOS/OSX alias through the guard attributes (this would likely be during .NET 7)

[2021-07-13 02:17] myermian commented on #40413
At one point in time, `System.Text.Json` did not exist, which was fine because `Newtonsoft.Json` worked very well (and still does). But, Microsoft still created and supported a NuGet package for Json support. I don't see why GraphQL can't also have a Microsoft package for support.

When you create a new ASP.NET Core project, it defaults to using REST. Having a package available like `Microsoft.Asp

[2021-07-13 02:37] thaystg commented on #55516
Could you please paste all the output that is in the Output Window?
Right below: `Verbose logs are written to:`

[2021-07-13 02:48] #54820 closed

[2021-07-13 02:50] VincentBu opened #55551 "Test failure:Loader/classloader/generics/Instantiation/Positive/NestedBaseClass05/NestedBaseClass05.sh"
Run: [runtime-coreclr r2r-extra 20210711.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1232094&view=ms.vss-test-web.build-test-results-tab&runId=36687280&resultId=107046&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-13 02:54] davidfowl commented on #51770
What happens when System.Configuration is in the same project?

[2021-07-13 03:02] stephentoub commented on #55517
Again here:
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-55499-merge-641ae0c0c3d241e0ac/System.Net.Requests.Tests/console.f66f1627.log?sv=2019-07-07&se=2021-08-02T02%3A22%3A55Z&sr=c&sp=rl&sig=oSYpPpupPfXa2ifp7JLYN4pM1Uk0xdYo8h%2B4xSxau90%3D

[2021-07-13 03:04] VincentBu opened #55553 "Test failure:JIT\\Directed\\nullabletypes\\Desktop\\boxunboxvaluetype_ro\\boxunboxvaluetype_ro.cmd"
Run [runtime-coreclr r2r-extra 20210711.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1232094&view=ms.vss-test-web.build-test-results-tab&runId=36687024&resultId=107602&paneView=debug)

Failed test:
[code]
**One of error messages:**
[code]

[2021-07-13 03:17] VincentBu commented on #54260
Failed again in [runtime-libraries-coreclr outerloop 20210712.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1232439&view=ms.vss-test-web.build-test-results-tab&runId=36693224&resultId=104296&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-13 03:28] VincentBu opened #55554 "Test failure:System.Security.Cryptography.X509Certificates.Tests.RevocationTests.TimeoutTests.RevocationCheckingDelayed"
Run [runtime-libraries-coreclr outerloop 20210712.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1232439&view=ms.vss-test-web.build-test-results-tab&runId=36693224&paneView=debug&resultId=104562)

Failed test:
[code]
**Error message:**
[code]

[2021-07-13 03:29] mangod9 commented on #55517
Adding @janvorli as well in case this is related to the w^x work, assuming this started happening in the past day or so.

[2021-07-13 03:31] vcsjones commented on #55554
I can take a look at these.

[2021-07-13 03:32] eerhardt commented on #51770
One other alternate design possibility: implement `IConfigurationBuilder` on `ConfigurationRoot`.

[code]

[code]

[2021-07-13 03:36] davidfowl commented on #51770
That feels slightly risky as it changes the behavior quite a bit and introduces some potentially undesirable side effects

[2021-07-13 03:50] danmoseley commented on #49580
[code]
(long)94 +  (long)4294967295 > (int)320.

Note 320 is an int, because it is Length on a Stream. I don't know the code, but I suspect it is not intended to compare longs with ints.

[2021-07-13 04:11] #54385 closed

[2021-07-13 04:25] clamp03 commented on #2394
@safern Hi, could you help how to test ```https://github.com/dotnet/dotnet-buildtools-prereqs-docker``` locally?
I tested with  ```.\build.ps1 -DockerfilePath "*ubuntu/18.04/*"``` command on Windows10 PC. (I don't change anything.).
It shows the below error message during the pre-build step of cross arm64.
[code]
Thank you.

[2021-07-13 04:33] noahfalk commented on #53177
This code looks dead to me. I'd say remove it unless @brianrob responds back with a hidden use-case.

cc @josalem

[2021-07-13 04:38] noahfalk commented on #55254
@mikem8361

[2021-07-13 04:55] steveisok commented on #50859
Found we'll need to include "likelySubtags" in our filter in order for this to be fixed.  Good news is that it only adds .1 MB to the dat file.

[2021-07-13 05:04] CeSiumUA opened #55555 ".net 6 preview 5, The certificate data cannot be read with the provided password, the password may be incorrect."
Hi, dear .NET developers!
I've made an ASP.NET web application, using `dotnet 6.0.100-preview.5.21302.13`
This was an Angular template app with Authentication, so it has an IdentityServer underhood.
After making a publish, I've stucked on a strange issue with certificate: while running on Windows, everything works fine, but while I was trying to launch it in Linux VPS, I'm getting this issue:

[co

[2021-07-13 05:26] jindovu commented on #55470
Thank you for your support, I have been resolved problem with config below
![image](https://user-images.githubusercontent.com/19401173/125395446-68c1c280-e3d5-11eb-9538-ddeae80ddfbc.png)

[2021-07-13 05:29] #47215 closed

[2021-07-13 05:34] wsq003 commented on #49044
#53471 contains many useful information.

[2021-07-13 05:48] jeffhandley commented on #52343
@mrlife Did this problem persist for you, or did you get unblocked?

[2021-07-13 05:49] jogibear9988 commented on #55388
@acaly  why?
I replace the whole dictionary with a complete new one. So there will not be a write access to the existing one.

[2021-07-13 05:54] jeffhandley commented on #52374
#52807 is another issue to look at when we explore this space.

[2021-07-13 05:56] #51641 closed

[2021-07-13 06:06] #54408 closed

[2021-07-13 06:18] #55512 closed

[2021-07-13 06:23] jeffhandley commented on #55489
Closing as a duplicate of #55163 ➡️ dotnet/core-eng#13596

[2021-07-13 06:23] #55489 closed

[2021-07-13 06:28] jeffhandley commented on #51560
Closing as a duplicate of #49645

[2021-07-13 06:28] #51560 closed

[2021-07-13 06:38] #37538 closed

[2021-07-13 06:53] jeffhandley commented on #49955
Without understanding what the scenario is that was being attempted, we won't be able to pursue this any further.

[2021-07-13 06:53] #49955 closed

[2021-07-13 07:16] MihaZupan opened #55556 "Allow specifying a context propagator on SocketsHttpHandler"
## Background and Motivation

We approved the Propagator APIs in #50658, which we are consuming in the `HttpClient` stack.

The approved API includes a `global static` property `Current`.

Some advanced cases require more granular control over which propagator is used - for example only enabling propagation for a given handler/destination/library.
Unit testing of applications/libraries is also dif

[2021-07-13 07:18] #421 closed

[2021-07-13 07:18] #46196 closed

[2021-07-13 07:27] #36181 closed

[2021-07-13 07:28] itai commented on #52521
The default value of /proc/sys/vm/panic_on_oom appears to be 0. I tried setting it to both 0 and 1 and running `dotnet ./App/bin/Release/net5.0/App.dll` and I still did not get a core dump.

[run with panic_on_oom set to 0.txt](https://github.com/dotnet/runtime/files/6806752/run.with.panic_on_oom.set.to.0.txt)
[run with panic_on_oom set to 1.txt](https://github.com/dotnet/runtime/files/6806753/run

[2021-07-13 07:40] Umqra commented on #55270
Should I mention someone to draw attention to the issue?

[2021-07-13 07:47] xiaoxstz commented on #55329
Yes.
I still need assistance.

WinForm library can open a Winform Window by C# code. But how can we a WPF Window by C# code?

If you can give me a example for this, I can solve this issue by myself

[2021-07-13 07:50] #55488 closed

[2021-07-13 07:52] strobelleder opened #55557 "Regex.Match(string, int, int) throws an exception when using a pattern with '^' or '$' and the Multiline option"
When using the Regex.Match function that also takes the start index and the length on the input string, and matching the input against a pattern containing '^' and '$' (using the multiline option), the function wrongfully throws an argument out of range exception if a match can be 'started' but cannot be found.
[code]
(The match can be 'started' because of the 'A', but then the '$' cannot be match

[2021-07-13 08:07] Jcparkyn commented on #55516
The problem is solved for me after deleting the `debuggerConfiguration-...json` files (of which I had two, not sure why) from the hidden `.vs/ProjectName/config` folder.

[2021-07-13 08:21] k-u-s opened #55679 "Uncaught Error: The delegate target that is being invoked is no longer available. Please check if it has been prematurely GC'd."
**Describe the bug**

As originally posted in https://github.com/dotnet/aspnetcore/issues/32386 sometimes when loading/refreshing Blazor wsam site that uses signalr connection it fails with message from title. But I do not think it is resolved in net6. This error is somewhe inside
HubConnection.StartAsync(CancellationToken cancellationToken = default). Also wrom whar I observed this exception is n

[2021-07-13 08:22] janvorli commented on #55517
I've found the issue, I'll create a PR with a fix in a minute.

[2021-07-13 08:31] EgorBo commented on #55553
Should be already fixed via https://github.com/dotnet/runtime/pull/55535

[2021-07-13 08:37] #44535 closed

[2021-07-13 08:39] karelz commented on #55517
Thanks @janvorli! Out of curiosity, what caused the problems? Was it w^x work or some churn in Networking/crypto?

[2021-07-13 08:40] karelz commented on #55470
OK, closing as unrelated to .NET Core.
Looks like a problem in config of your server.

[2021-07-13 08:40] #55470 closed

[2021-07-13 08:41] Albeoris commented on #49580
4294967295 is 0xFFFFFFFF => -1

[2021-07-13 08:45] janvorli commented on #55517
W^X work, I've forgotten to replace one call to c++ delete to an appropriate executable heap method.

[2021-07-13 08:48] karelz commented on #55549
Duplicate of #55271

[2021-07-13 08:48] #55549 closed

[2021-07-13 08:59] janvorli commented on #55517
And it was in a place that's executed when we allocate a data structure from multiple threads and only one of them wins so the others free what they've allocated. That's why it was intermittent and I haven't caught it locally.

[2021-07-13 09:16] roji commented on #46127
Closing in favor of https://github.com/dotnet/SqlClient/issues/846, and the move to implement there instead of in the runtime. To summarize the current situation:

* SQL Server `datetime2` is already fully usable via SqlDataReader.GetDateTime (but not via SqlDataReader.GetSqlDateTime - by design)
* The motivation behind introducing a GetSqlDateTime2 (this issue) is that GetDateTime requires a null

[2021-07-13 09:16] #46127 closed

[2021-07-13 09:40] malaterre opened #55560 "alloc-dealloc-mismatch (operator new vs free) on 0x603000596cb0"
### Description

What's the correct way to debug a segfault in dotnet ? I fail to understand the minimal steps to combine gdb and dotnet:

* https://stackoverflow.com/questions/66665352/how-do-i-run-gdb-on-net-unit-tests

Currently one my xUnit test produces a segfault. If I compile my native code with -sanitize-=address, here is what I can collect:

[code]

### Configuration

Here is my config:

[2021-07-13 09:50] no1melman opened #55561 "Reading JSON Documents from a Stream (System.Text.Json)"
So I had the need to read objects from a stream, the most rudimental way of thinking about it is

[code]

You can't read from this stream by simply doing this:

[code]

Because that would entail having to read to the end of the file (that's what it looks like in the source code), and if there were anymore objects in than just the one, it will fail.

So I created this [JsonStreamReader](https://gis

[2021-07-13 09:51] roji commented on #48005
Confirmed the above.

For a minimal repro, run the following code:

[code]

On the following `data.xsd`:

<details>
<summary>data.xsd</summary>

[code]
</details>

On .NET Framework 4.8 this works, but throws on .NET 5.0 (and latest .NET 6.0, SDK 6.0.100-preview.7.21362.5):

[code]

@buyaa-n @joperezr @krwq @jeffhandley can one of you confirm the above?

[2021-07-13 09:58] marcocecchiscmgroup opened #56006 "Math.Cos() yields different results wrt framework 4.7.2"
Hello,

please have a look at this:

.Net Framework 4.7.2
double angle = 1.5707963705062866  => Math.Cos(angle) = -4.3711390001864437E-08

.Net 5
double angle = 1.5707963705062866  => Math.Cos(angle) = -4.3711390001862412E-08

Of course you can argue that cos(≈PI/2)≈0, so that the .NET5 result gives a better approximation.
Nonetheless, I'd like to know what's going on under the hood, as from our P

[2021-07-13 10:21] twilker opened #55562 "Extensive use of waiting threads leads to time gaps in execution"
### Description

I have simplified the scenario as that I have as good as possible. Down below you find the complete code with which you can test the program yourself. In my use case I have to wait for a reset event from another Thread. In this simplified version I signal the reset event after 200ms. This is implemented in the `SingleWaits` method.

This example works as expected. The output for m

[2021-07-13 10:48] MaximLipnin opened #55563 "[iOS] PosixSignalRegistrationTests: InvalidOperationException : No data found for <test name>"
The following library tests fail with `System.InvalidOperationException : No data found` on the apple CI staging lanes:

- System.Tests.PosixSignalRegistrationTests.Create_ValidSignal_Success
- System.Tests.PosixSignalRegistrationTests.Create_UninstallableSignal_Throws
- System.Tests.PosixSignalRegistrationTests.SignalHandlerCalledForKnownSignals
- System.Tests.PosixSignalRegistrationTests.Dispose

[2021-07-13 11:01] JamesNK commented on #52085
Re-opening as we don't see msquic.dll in the runtime directory (Windows SDK)

We've checked 6.0.0-preview.7.21360.10 and 6.0.0-preview.7.21362.3.

[2021-07-13 11:07] JamesNK commented on #52085
![image](https://user-images.githubusercontent.com/303201/125441678-265c4314-9739-481f-b940-9683a276f6e6.png)

[2021-07-13 11:27] fgheysels commented on #54642
I just tried it with 6.0.0-preview.5.21301.5, and ran into the same error:

![image](https://user-images.githubusercontent.com/3605786/125444040-032d886f-3166-44da-899f-a8905bc72a48.png)

[2021-07-13 11:28] Maximys commented on #49611
@tannergooding , currently I trying to fix this bug, but I have little question linked with [RunSingleExplicitCastFromBigIntegerTests](https://github.com/dotnet/runtime/blob/b1375a9c34966c563bc5ebeab9b5964682a3e939/src/libraries/System.Runtime.Numerics/tests/BigInteger/cast_from.cs#L426). Can you explain me [this](https://github.com/dotnet/runtime/blob/b1375a9c34966c563bc5ebeab9b5964682a3e939/src/

[2021-07-13 11:35] bartelink commented on #29812
@deyanp as an aside, tagging the typesafe enum `type` with [this converter](https://github.com/jet/FsCodec/blob/master/src/FsCodec.SystemTextJson/TypeSafeEnumConverter.fs) should work in the interim

I would of course also like to see an in the box professional impl of it of course - nothing would give me more pleasure than removing it from FsCodec (although the various conditional parsing helpers

[2021-07-13 11:54] steveisok commented on #55563
Didn't we skip a bunch already? Should these tests actually work on iOS?  If not, let's skip.

[2021-07-13 12:19] filipnavara commented on #48796
How does the proposal in #51156 address the scenario? I fail to see it and there is no example in the linked issue.

[2021-07-13 12:36] SamMonoRT commented on #55452
cc fyi - @jonathanpeppers

[2021-07-13 12:42] thaystg commented on #55516
@cmanners, can you check if you also have more than one `debuggerConfiguration-...json` files ?

[2021-07-13 12:50] acaly commented on #55388
Yes, your method should work correctly. What I suggested is just an alternative, to use a thread-safe container instead of creating immutable containers whenever it's modified. Actually `ConcurrentDictionary` should be as fast as normal `Dictionary` when reading.

[2021-07-13 13:04] karelz commented on #54952
Thanks! I didn't realize that this is PowerShell Core (7.1) vs. Desktop PowerShell (5.1) compat.

[2021-07-13 13:07] karelz commented on #54958
@ben-002 were you able to get the info asked for above?

[2021-07-13 13:09] MaximLipnin commented on #55563
Previously, it was RemoteExecutor-related issue https://github.com/dotnet/runtime/issues/55328

[2021-07-13 13:12] jkotas commented on #55563
This is xunit limitation. xunit does not like empty `MemberData`.

[2021-07-13 13:13] stephentoub commented on #55563
Ugh, that's right (and annoying).  I'll take care of it.

[2021-07-13 13:18] eerhardt commented on #51770
Can you elaborate on that? My thinking is `ConfigurationRoot` would have 2 modes, depending on how it was constructed. It has an existing `ctor` that takes a list of config providers and we would add a new parameterless ctor. If you called the existing ctor, you wouldn't be able to add more builders to it - it is "frozen" or "locked", like it is today. But if created with the new parameterless cto

[2021-07-13 13:19] stephentoub commented on #55557
Thanks.  This appears to be a regression introduced as part of all the work we did on regex in .NET 5:
[code]

[2021-07-13 13:27] #55321 closed

[2021-07-13 13:36] jonathanpeppers opened #55567 "Android AOT crashes at runtime"
### Description

Using my changes here: https://github.com/xamarin/xamarin-android/pull/5539

Along with a custom `MonoAOTCompiler.dll`: https://github.com/xamarin/xamarin-android/pull/5539#issuecomment-878582362

I'm able to produce an Android `.apk` file with AOT support.

However, I hit a crash at runtime, which seems the same on an x86 emulator or arm64 device:

[code]

### Configuration

This

[2021-07-13 13:43] MaximLipnin commented on #47114
The issue should be fixed now by https://github.com/dotnet/runtime/pull/55503, so closing it.

[2021-07-13 13:43] #47114 closed

[2021-07-13 13:43] romfir opened #55568 "JsonSerializer.Serialize stopped working with Blazor, throws MethodAccessException"
### Description

When calling ```JsonSerializer.Serialize``` code throws MethodAccessException:
[code]
steps to reproduce:

1.  Create Blazor project
2.  Add Test class to it
[code]
3. In ```Counter.razor``` add two lines to ```IncrementCount()```:
[code]
4. Launch project, go to Counter page and click the button
![image](https://user-images.githubusercontent.com/33402460/125461622-c69fe081-89be-4

[2021-07-13 13:43] #29940 closed

[2021-07-13 14:00] akoeplinger commented on #49661
@lambdageek that'll be done as part of #34202 once we get rid of the need to rename to libcoreclr, then we can use the correct filename/SONAME.

[2021-07-13 14:00] philippdolder commented on #48400
This test still fails with the same error.
[code]

[2021-07-13 14:00] vcsjones commented on #55555
I am not able to reproduce this using `6.0.0-preview.6.21276.13` on Linux or macOS. Can you make sure that the password and PFX that are in configuration are the ones that you are expecting?

If you continue to run in to this, can you put together a console application along with a test PFX that reproduces the issue?

[2021-07-13 14:02] layomia commented on #55568
Thanks for opening this issue, @romfir. Did you happen to check if the issue still repros when using a slightly earlier build of System.Text.Json that doesn't contain the changes from https://github.com/dotnet/runtime/pull/54526, e.g [this build](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=System.Text.Json&protocolType=NuGet&version=6.0.0-preview.7.21362.11&view=

[2021-07-13 14:02] layomia commented on #55568
cc @pranavkm is this sort of issue familiar to you? Do you know why this [method call](https://github.com/dotnet/runtime/blob/aaade776c48b6faa212a30a64586eb907824235f/src/libraries/System.Text.Json/Common/JsonCamelCaseNamingPolicy.cs#L22) could be failing in blazorwasm app?

[2021-07-13 14:06] omghb opened #55570 "ExchangeAlgorithmType enum is missing 44550"
### Description

- ExchangeAlgorithmType enum is missing 44550
- I stumbled about this as I logged `SslStream.KeyExchangeAlgorithm`
[code]
https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslstream.keyexchangealgorithm?view=net-5.0

### Configuration

.NET 5.0

### Regression?

No, was never included.

### Other information

See also [Archived Forums > .NET Framework Class Libraries

[2021-07-13 14:10] vcsjones commented on #55554
Looks like Windows 7 timed out the AIA fetch a few milliseconds early. I'll add some wiggle-room to the test.

[2021-07-13 14:10] cmanners commented on #55516
I only had one file `debuggerConfiguration-...json` file. Removing it resolved my issue.

Examining the files, the only difference between [the old file](https://github.com/dotnet/runtime/files/6809457/debuggerConfiguration-cb028a36-0363-4e61-84fc-858991aa5c1e.json.txt) and [the new file](https://github.com/dotnet/runtime/files/6809460/debuggerConfiguration-cb028a36-0363-4e61-84fc-858991aa5c1e.jso

[2021-07-13 14:11] #50635 closed

[2021-07-13 14:11] #50674 closed

[2021-07-13 14:11] #51962 closed

[2021-07-13 14:19] lambdageek commented on #50864
I didn't look if all the tests fail the same way, but at least some of them have a similar behavior:

@steveisok Some of these failures look like we're not getting the error messages from the string resources and are instead just using the error resource names.  Not sure if it's something about how `Microsoft.CSharp` is compiled for mobile, or if it's a culture issue or something.

[code]

For exa

[2021-07-13 14:21] layomia commented on #55568
@romfir does it repro when you disable trimming in the csproj?

[code]

[2021-07-13 14:24] jonpryor commented on #55375
@vargaz provided additional native libs to try: https://www.dropbox.com/s/d1k8kprxorhbb85/libs-2.tar.gz?dl=0
https://discord.com/channels/732297728826277939/732297837953679412/864335739659878441

Results:

  * `1.so`: works
  * `2.so`: works
  * `3.so`: works
  * `4.so`: crashes
  * `5.so`: crashes

[2021-07-13 14:25] romfir commented on #55568
It does repro, but I don't think it matter, because I'm launching it via F5 with debug, without publishing

[2021-07-13 14:31] brianrob commented on #53177
Looks dead to me as well.  This looks like it was part of the TraceLogging work, and I know that there was some pull-back of the public facing surface at this time, so that's probably what happened here.  Let's remove it.

[2021-07-13 14:35] layomia commented on #55568
Thanks, I'll take a closer look here.

[2021-07-13 14:37] steveisok commented on #50864
Ah, thanks @lambdageek.  @mdh1418, I suspect these tests might be worthy of a re-run since we were inadvertently setting `UseSystemResourceKeys` to true.

[2021-07-13 14:57] vcsjones commented on #55383
Thanks for the certificate. I see from your screenshot that the exception is happening in `IsKeyTheCorrectAlgorithm`.

If I had to guess, this `Type.GetType` here is returning `null`:

https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/SignedXml.cs#L1007

Would it be possible for you to

[2021-07-13 14:57] danmoseley opened #55573 "ResolveLinkTarget_Succeeds tests fail with "You can't access this shared folder because your organization's security policies block unauthenticated guest access.""
This is on my home, domain joined VPN'ed machine using HEAD from last night.

[code]

[2021-07-13 14:58] danmoseley commented on #55573
I'm curious what security policies my machine has applied that other FTE don't have applied.

[2021-07-13 15:00] lambdageek commented on #55567
I think `wrapper_info` is NULL.  `mono_ftnptr_to_delegate_impl` calls `mono_marshal_get_native_func_wrapper` which sets wrapper info to NULL, then it calls `mono_compile_method_checked` which goes through the stack in the issue and ends up in `mono_aot_method_hash` which says:
[code]
and that deref of `subtype` is a null pointer.

I think we should be using `mono_marshal_get_native_func_wrapper_ao

[2021-07-13 15:00] danmoseley commented on #55573
Aha, someone created a machine named 'server' 😸

[code]
We just need to change the name in the tests.

[2021-07-13 15:01] sxotney commented on #53546
I tried just this week with 6.0.0-preview.6.21355.2  and the issue still occurs. I'll try a preview 7 and revert back asap

[2021-07-13 15:06] karelz commented on #55570
That would be missing in [`System.Security.Authentication.ExchangeAlgorithmType`](https://docs.microsoft.com/en-us/dotnet/api/system.security.authentication.exchangealgorithmtype?view=net-5.0) ... moving to Security area ...

[2021-07-13 15:10] stephentoub commented on #55573
Dup of https://github.com/dotnet/runtime/issues/55488

[2021-07-13 15:10] #55573 closed

[2021-07-13 15:21] vcsjones commented on #55570
I noticed that in the Unix PAL for `KeyExchangeAlgorithm` that `DiffieHellman` is used for ECDHE suites, whereas SChannel uses the unnamed enum value.

https://github.com/dotnet/runtime/blob/b2a670b5421af99edad62f8cb5ae172cd8d05030/src/libraries/System.Net.Security/src/System/Net/Security/TlsCipherSuiteData.Lookup.cs#L1833-L1836

My understanding of `ExchangeAlgorithmType.DiffieHellman` is that it

[2021-07-13 15:27] ajcvickers commented on #46340
I am not able to reproduce this. Please attach a project that reproduces what you are seeing so that we can investigate further.

![image](https://user-images.githubusercontent.com/1430078/125480028-eff31e9a-a4d9-4b90-a776-5ac256689a9c.png)

[2021-07-13 15:29] ajcvickers commented on #46291
The internals of these types must remain binary-compatible with the types used in the hosted CLR inside SQL Server. Therefore, we cannot change this representation.

[2021-07-13 15:29] #46291 closed

[2021-07-13 15:34] stephentoub commented on #55547
This code was changed in #55499, and if this ends up reproing again, it won't repro in the same way, so I'm going to close it.  I suspect, however, that it was related to another issue that has also since been fixed.

[2021-07-13 15:34] #55547 closed

[2021-07-13 15:37] stephentoub commented on #53211
The Debug overloads have been added for .NET 6.  I've changed the milestone to Future for the Trace overloads; we can add them if we get meaningful feedback they'd actually be helpful.

[2021-07-13 15:39] stephentoub commented on #47180
This was implemented as CA1847. Thanks!

[2021-07-13 15:39] #47180 closed

[2021-07-13 15:42] stephentoub commented on #33809
This was implemented as CA2250. Thanks!

[2021-07-13 15:42] #33809 closed

[2021-07-13 15:44] stephentoub commented on #33807
This was implemented as CA1842/1843. Thanks!

[2021-07-13 15:44] #33807 closed

[2021-07-13 15:44] stephentoub commented on #33806
This was implemented as CA1842/1843. Thanks!

[2021-07-13 15:44] #33806 closed

[2021-07-13 15:46] danmoseley commented on #55573
Ah, I didn't see the dupe because you already fixed it..

[2021-07-13 15:48] eiriktsarpalis commented on #55318
That would certainly fix the particular example, since both type and subtype happen to utilize identical JSON constracts. However it might not be roundtrippable general case, as might be demonstrated in this (artificial) example:
[code]

We've received related feedback in #43563 and #54854. I'm wondering if it might make sense to expose a setting that switches off constructor parameter validation,

[2021-07-13 15:55] karelz commented on #55556
Update: We changed it to plural -- `Headers` instead of `Header` ... discussion with @MihaZupan and @stephentoub

[2021-07-13 15:58] danmoseley opened #55576 "TryGetNameInfo_LocalHost tests failing with HostNotFound"
In NameResolutionPalTests, using last night's sources, these are all failing for me on Windows 10 21H1

TryGetNameInfo_LocalHost_IPv6_TryGetAddrInfo(true|false)
TryGetAddrInfo_LocalHost_TryGetNameInfo
TryGetNameInfo_LocalHost_IPv6
with
`Assert.Equal() Failure\r\nExpected: Success\r\nActual:   HostNotFound`

I can ping localhost from the shell. Not sure how to troubleshoot further.

[2021-07-13 16:02] tarekgh commented on #50658
It has been decided to rename `TextMapPropagator` to `DistributedContextPropagator`. The rest of the approved proposal still the same.

[2021-07-13 16:09] jonathanpeppers commented on #55452
Your app is missing the `libe_sqlite3.so` native library. I believe this is just due to how some of these SQLite NuGet packages are setup -- they don't currently work well in .NET 6.

In .NET 6 preview 5, I think you would need to add the `SQLitePCLRaw.lib.e_sqlite3.android` package manually. That might get you working.

When Preview 6 ships, I believe it would be slightly different NuGet behavior

[2021-07-13 16:09] TonyValenti opened #55578 "await Task.WhenAny(new List<Task>()) should not Hang"
### Description
Run this code:
[code]
And it will hang your process.

This is a highly undesirable default behavior.  It is not obvious this will hang and there is no easy way to detect that this was the cause.

### Other information
I recommend one of the following adjustments:
If using ```Task.WhenAny()``` on an empty list/enumerable/array:
A) Throw a ```Sequence contains no elements``` exceptio

[2021-07-13 16:11] vcsjones opened #55579 "Obsolete CryptoConfig.EncodeOID"
## Background and Motivation

Inspired by #54087. We have `CryptoConfig.EncodeOID` to encoding an OID to ASN.1 DER. However it has a number of quirks in the way that it parses strings.

* It does not handle the first two arcs correctly (e.g. 41.41.41.41)
* "Supports" negative arcs.
* Doesn't handle large integers.
* etc

Now that there is `System.Formats.Asn1`, we have better tools for developers

[2021-07-13 16:16] stephentoub commented on #55578
This is a regression in .NET 6.  It throws an ArgumentException as expected on previous versions.

[2021-07-13 16:27] danmoseley commented on #55576
The next step if I looked further might be to create a repro in C. I won't have time to look myself at least for a while, and it's not a problem to ignore these 4 tests for now if it's just me.

[2021-07-13 16:34] #29723 closed

[2021-07-13 16:42] tannergooding commented on #49611
Yes. IEEE 754 binary floating-point numbers are non-exact and have a sliding epsilon (delta/difference) between values. This epsilon starts at `float.Epsilon` at `0` and doubles ever power of two. So, for example, the delta between 2^22 (`4194304`) and the next largest representable value is `0.5`. That means `4194304` + any value that is less than `0.5` will result in the same value (`4194304`).

[2021-07-13 16:48] TonyValenti commented on #55578
@stephentoub Thanks!

[2021-07-13 16:48] #55578 closed

[2021-07-13 16:50] xtqqczze commented on #47180
Fixed by https://github.com/dotnet/roslyn-analyzers/pull/4908.

[2021-07-13 16:57] #33112 closed

[2021-07-13 17:00] mattjohnsonpint commented on #50311
Yes, that's a possibility, though it could load quite a bit into memory unnecessarily.  I believe all the resource files are memory mapped, both in the ICU and in the NLS implementations.  Thus, it would only be saving a tiny bit of CPU that's used for the lookup and concatenation pieces.   I think the better idea is just to remove display names from the cache altogether.

[2021-07-13 17:08] cston commented on #44083
Closing since it appears this issue is specific to .NET Framework only. Thanks @jzabroski.

[2021-07-13 17:08] #44083 closed

[2021-07-13 17:10] mattjohnsonpint commented on #55307
Sorry for the delayed response.  In general, the reason I was keen on having the display names not strictly tied to the default Windows UI language is because there was *already* logic in the Unix implementation that uses the CurrentUICulture.  It doesn't make sense that the behavior is different on Windows than on Unix.

Also, this has generally been a "gotcha" when localizing websites going way

[2021-07-13 17:11] mattjohnsonpint commented on #55307
Well, there is probably time to do that.  Personally, I'd rather complete that for 6.0 than punt it to later.  @tarekgh, ok if I submit a PR for that one?

[2021-07-13 17:12] mattjohnsonpint commented on #50311
@tarekgh - I'd like to get this in for 6.0.  Ok to send a PR?

[2021-07-13 17:12] doggy8088 opened #55583 "Provide better json support for servers don't support chunked request body (re-open)"
Refer to https://github.com/dotnet/runtime/issues/49357

As the issue #49357 been closed due to [this comment](https://github.com/dotnet/runtime/issues/49357#issuecomment-825656890):

I have to say the **Azure Logic App** HTTP trigger doesn't support "chunked encoding".  In [Handle large messages with chunking in Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-handle

[2021-07-13 17:14] tarekgh commented on #50311
We need to fix https://github.com/dotnet/runtime/issues/55307 first before we do anything here. I expect we'll have some non-trivial change in handling the TZ names with that fix.

[2021-07-13 17:18] #55192 closed

[2021-07-13 17:18] ajcvickers commented on #46597
I  am not able to reproduce this. I ran the following code on .NET Core 3.1 and .NET Core 5.0, and there was no exception.

[code]

Output
[code]

Please attach a small, runnable project or post a small, runnable code listing that reproduces what you are seeing so that we can investigate.

[2021-07-13 17:26] #51770 closed

[2021-07-13 17:29] Jozkee commented on #36091
The fix I've planned for this is meant to use the new Symbolic Link APIs added in .NET 6 (https://github.com/dotnet/runtime/pull/54253). This will make the fix to be available only for .NET 6 users, if you are using netstandard2.0 or .NET framework you will have to migrate. Please let us know if that doesn't work for you.

[2021-07-13 17:33] tarekgh commented on #55307
@mattjohnsonpint I would like to fix this issue before we do anything for https://github.com/dotnet/runtime/issues/50311. let's sync up offline.

[2021-07-13 17:33] davidfowl commented on #55583
The workaround looks pretty good:

[code]

[2021-07-13 17:33] mateoatr commented on #45277
It seems we're still hitting this: https://github.com/dotnet/sdk/pull/18858.

[2021-07-13 17:33] ajcvickers commented on #47968
@eerhardt What's the appropriate action here? I don't believe we have touched this code in a long time, so it seems likely that if this has recently started failing, then this is due to some wider change.

[2021-07-13 17:36] terrajobst commented on #55522
* We concluded we don't need a new API, we'll just use `Environment.Version` which exposes the platform version
* WinForms/WPF can decide to support an `AppCompat` switch so that both that if the new string returned via the UIA's `FrameworkId` property breaks people, they can get back the old behavior.

[2021-07-13 17:42] polage-tr commented on #51579
Hi guys,

Is there any progress in the subject of fixing the issue? when is it expected to be released? in which version?

[2021-07-13 17:48] karelz commented on #55261
@JamesNK @Tratcher @halter73 is it something you could help us with please? It seems like Kestrel regression and it blocks our stress runs :(
Should we create issue in aspnet repo?

[2021-07-13 17:49] terrajobst commented on #55274
* We're happy with the default message most of the time, so we shouldn't remove the parameterless constructor.

[code]

[2021-07-13 17:51] #55553 closed

[2021-07-13 17:53] ericstj commented on #50739
From https://github.com/dotnet/efcore/issues/24189#issuecomment-878848659

[2021-07-13 17:53] josalem commented on #51579
@polage-tr, the engineer who was investigating this has since left the team, but I've adopted his issues. He left a draft PR to fix this which I'm intending to polish up. Due to a backlog of other issues, I haven't made it to this one yet, but it's getting near the top of my stack. This issue will get updated once there is more news.

[2021-07-13 17:54] eerhardt commented on #47968
As far as I can tell, this is only failing on wasm, even though the label has `arch-x64`. I think that label is a mistake because the first instance of this failing says:

[code]

I think it was running browser-wasm on an x64 machine. This is a wasm bug. Fixing the labels.

[2021-07-13 17:56] ericstj commented on #50739
Agree that's odd, however using `$(ProductVersion)` might meant that the installer subset needs to restore and consume a package built by the libraries subset.  Perhaps rather than `$(ProductVersion)` it should be https://github.com/dotnet/runtime/blob/84228b7a531ce33d28a96c347f9cd9a8c37ed076/eng/packaging.props#L26
In 3.x this made sense in core-setup since the package was coming from a different

[2021-07-13 17:57] terrajobst commented on #55556
* Looks good as proposed

[code]

[2021-07-13 18:01] ajcvickers commented on #48005
@AndriySvyryd @GrabYourPitchforks Is it possible this is due to the Ceres fix? Could it be that 4.8 on Shay's and the customer machine is not patched? Or did we add the SQL types to the allowed list in Framework but not Core?

[2021-07-13 18:01] #2406 closed

[2021-07-13 18:02] terrajobst commented on #43997
* Looks good as proposed
    - But do we need a protected constructor that takes the name, will we use an internal setter, or should we make the property virtual? Any of these are fine with us.

[code]

[2021-07-13 18:04] ajcvickers commented on #52815
Closing as duplicate of #46340.

[2021-07-13 18:04] #52815 closed

[2021-07-13 18:05] sandreenko commented on #11063
another: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-55558-merge-9cb71a7742ec456497/PayloadGroup0/console.4d9565f3.log?sv=2019-07-07&se=2021-08-02T12%3A13%3A55Z&sr=c&sp=rl&sig=rNpgee4mr%2F3XFuv4x80LwIPvbOKPMvg7%2BHpxXzpn8%2FY%3D

[2021-07-13 18:06] ajcvickers commented on #49922
Please post or attach the code that generates the data set.

[2021-07-13 18:06] mikem8361 commented on #52521
Yes, it does look like in both cases, createdump is aborted.  It seems that createdump is still being aborted by the OOM killer. It also could be aborting itself when a memory allocation fails but that would be a crash/exception/signal.  Not sure what to do about it in either case.

[2021-07-13 18:08] terrajobst commented on #36134
* The analyzer should probably also handle `UnmanagedType.ByValTStr`
    - Should be the same diagnostic ID with a slightly different message
* Assuming code like this wouldn't work at runtime, turning the rule on by default seems fine
    - If code like this works today, then on by default might be noisy

[2021-07-13 18:09] ajcvickers commented on #48893
@KlausLoeffelmann Any idea what might be going on here? We're not sure how the designer and the runtime interact in cases like this.

[2021-07-13 18:12] ajcvickers commented on #50923
Moving this to Future since it is in the System.Data area and we don't have any plans to fix this for 6.0.

[2021-07-13 18:17] ajcvickers commented on #51885
Unsealing methods can have knock-on effects for compatibility. Also, the ODBC provider is largely in maintenance mode. Therefore, we don't plan to make this change.

[2021-07-13 18:17] #51885 closed

[2021-07-13 18:17] clairernovotny commented on #11063
I just need the okay from @bradwilson

[2021-07-13 18:20] #54270 closed

[2021-07-13 18:22] ajcvickers commented on #44288
@roji Can you take a look at this along with the other nullability tweaks?

[2021-07-13 18:25] ajcvickers commented on #46187
Moving this to Future for now to follow up with the Access team, as per offline discussion with @lauxjpn.

[2021-07-13 18:25] terrajobst commented on #48573
* Let's scope this to just `ArgumentNullException`
* This API might be less useful with C#' upcoming parameter `null`-validation feature
    - Still useful for other languages or potentially useful for letting the compiler use a centralized method
    - Also useful in cases the compiler injected validation wouldn't work, e.g. due to ordering
* We can do it for .NET 6 'cause it's cheap
* We might b

[2021-07-13 18:28] roji commented on #44288
Yep, already on my list.

[2021-07-13 18:28] janvorli commented on #48063
This was fixed by #50105

[2021-07-13 18:28] #48063 closed

[2021-07-13 18:30] ajcvickers commented on #54481
Notes from triage: We agree that fixing the documentation would be useful. We are unlikely to change the exception type, since exceptions are commonly caught in validation code and so this would be a breaking change for existing applications.

[2021-07-13 18:31] janvorli commented on #34994
I believe this was fixed already.

[2021-07-13 18:31] #34994 closed

[2021-07-13 18:31] terrajobst commented on #55579
* Looks good as proposed
* Just dispense another diagnostic ID :-)

[code]

[2021-07-13 18:32] ajcvickers commented on #54257
@varunmankal I don't believe there is any other solution here than using binding redirects. @ericstj Can you confirm?

[2021-07-13 18:33] vcsjones commented on #2406
🥳

[2021-07-13 18:33] jkoritzinsky commented on #55522
@terrajobst can we close this issue if we don't need to add a new API?

[2021-07-13 18:33] runfoapp[bot] opened #55588 "system.net.quic.tests.msquictests.bytemixingornativeave_minimalfailingtest times out on Fedora"
Runfo Tracking Issue: [system.net.quic.tests.msquictests.bytemixingornativeave_minimalfailingtest times out on Fedora](https://runfo.azurewebsites.net/tracking/issue/147)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1234989](https://dev.azure.com/dnceng/public/_build/results?buildId=1234989)|[runtime](https://dnceng.visualstudio.com

[2021-07-13 18:35] runfoapp[bot] opened #55589 "http2_multipleconnectionsenabled_infiniterequestscompletelyblockoneconnection test issue Linux x64"
Runfo Creating Tracking Issue (data being generated)

[2021-07-13 18:37] #55554 closed

[2021-07-13 18:37] runfoapp[bot] opened #55590 "system.net.http.functional.tests.socketshttphandlertest_http2 test failure for Linux-x64"
Runfo Tracking Issue: [system.net.http.functional.tests.socketshttphandlertest_http2 test failure for Linux-x64](https://runfo.azurewebsites.net/tracking/issue/149)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1234437](https://dev.azure.com/dnceng/public/_build/results?buildId=1234437)|[runtime](https://dnceng.visualstudio.com/publi

[2021-07-13 18:37] terrajobst commented on #51630
* Looks good as proposed

[code]

[2021-07-13 18:38] #53195 closed

[2021-07-13 18:38] hoyosjs commented on #55590
This is particularly `http2_multipleconnectionsenabled_infiniterequestscompletelyblockoneconnection_remaningrequestsarehandledbynewconnection`

cc: @alnikola

[2021-07-13 18:38] GrabYourPitchforks commented on #48005
That stack trace doesn't look like a Ceres stack trace. Ceres stack traces will look like this:

[code]

\[[more info](https://docs.microsoft.com/dotnet/framework/data/adonet/dataset-datatable-dataview/security-guidance)\]

So I think this is some separate XSD processing issue.

[2021-07-13 18:39] ajcvickers commented on #53820
Note from triage: we are not going to change the default behavior of existing validation attributes because such changes are very likely to be breaking for some consumers. It's also problematic to change these behaviors because there is code out there that reads the annotations and reacts appropriately, rather than using the built-in validation. This code would then diverge from the behavior imple

[2021-07-13 18:39] #53820 closed

[2021-07-13 18:40] #55589 closed

[2021-07-13 18:40] ajcvickers commented on #49011
Support for records is not something we plan to add to the validation attributes. The bottom line here is that the validation attributes are what they are. It's old and not very good code. I would not recommend it going forward. At some point there probably needs to be a new validation library that is easier to evolve and maintain, but there are currently no concrete plans for this.

[2021-07-13 18:40] #49011 closed

[2021-07-13 18:41] terrajobst commented on #51700
* Looks good as proposed

[code]

[2021-07-13 18:42] ajcvickers commented on #46580
Closing as duplicate of #45670. As stated there, the current implementation is by design and not something we plan to change.

[2021-07-13 18:42] buyaa-n commented on #48005
I think it is related to the schema import with an external URI, for security reasons .NET Core does not allow resolving external URIs for XML by default. You can enable using external URIs by setting the following AppContext switch on top of your code:

[code]

For more information https://github.com/dotnet/runtime/issues/29346#issuecomment-485798826

[2021-07-13 18:43] ajcvickers commented on #46376
Notes from triage: this is not something we are going to change. We considered your argument, but we're not convinced by it, and making breaking changes here would not be acceptable anyway.

[2021-07-13 18:43] #46376 closed

[2021-07-13 18:43] BruceForstall commented on #52312
The default tracked variable limit is 1024. It turns out this is configurable with COMPlus_JitMaxLocalsToTrack. Extensive measurements were made when it was upped to this (from something much smaller -- 64 I think), and larger than this there was little CQ benefit but growing throughput cost.

[2021-07-13 18:44] ajcvickers commented on #44798
Note from triage: we are not going to change the default behavior of existing validation attributes because such changes are very likely to be breaking for some consumers. It's also problematic to change these behaviors because there is code out there that reads the annotations and reacts appropriately, rather than using the built-in validation. This code would then diverge from the behavior imple

[2021-07-13 18:44] #44798 closed

[2021-07-13 18:45] ericstj commented on #54257
Binding redirects are an unfortunate reality with .NETFramework and NuGet.

For this System.ComponentModel.Annotations in particular you can avoid this by cross-targeting to .NETFramework in your library (`<TargetFrameworks>net461;netstandard2.0</TargetFrameworks>`).  On .NETFramework this package (and thus bindingRedirects for it) are not required since it's types are part of the framework.

[2021-07-13 18:46] ajcvickers commented on #44292
@roji Can you take a quick look at this along with the other nullable cleanup?

[2021-07-13 18:47] jkoritzinsky commented on #35695
@Mrnikbobjeff how ar eyou doing with this work? Do you need any assistance?

[2021-07-13 18:47] ajcvickers commented on #43652
@pranavkm @mkArtakMSFT Did you get a chance to look at this?

[2021-07-13 18:47] terrajobst commented on #51700
* Let's also add an overload that takes `Type` directly

[code]

[2021-07-13 18:50] terrajobst commented on #54792
* Looks good as proposed

[code]

[2021-07-13 18:51] bartonjs commented on #55579
@vcsjones From the self assignment I assume you saw I set this as 6.0 and are starting on it now. :smile:

[2021-07-13 18:53] halter73 commented on #55261
@karelz What makes this seem like a Kestrel regression? The above exception is only thrown if Kestrel received a `RST_STREAM` frame from the client.

I'm assuming this means the client received a 500 response. This could be caused by an uncaught exception on the server, but not an exception caused by `RST_STREAM` since that closes the stream.

Can you collect more verbose server logs and/or collec

[2021-07-13 18:54] vcsjones commented on #55579
Almost done.

[2021-07-13 19:02] alnikola commented on #55590
That test was enabled because it seemed to be stable in both local runs and in CI. However, since it's still failing, we need to disable it again.

[2021-07-13 19:06] alnikola commented on #55590
I opened the PR #55593

[2021-07-13 19:07] elinor-fung commented on #47849
Alright - finally got to digging through this. @BickelLukas - thank you for the clear repro including the compiled VB6 binary - it was really helpful.

The actual error is on inspecting the `_VTablGap*` on `ComInteropRepro._clsMain` - `0x8013123b : Method is not marked static but is not HASTHIS or EXPLICITTHIS.`

And indeed, the method is:
[code]

Whereas when it is embedded:
[code]

When running

[2021-07-13 19:09] EgorBo commented on #52312
I incremented it in https://github.com/dotnet/runtime/pull/52708
It's not difficult to hit the limit of 512, e.g. [sharplab.io](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4a9JqwBCHAGb6ZuFjt5dsUAJ4bqmgMxNSDIQwDeNBl4afvxFAwAKqoYABSyYthcADzAVhgwAHwMuORoDBFRsfFJKaQAlL5eHtTeZQwAggAmVaGp6bgFtuXe1bX1efnNLZU1dWmd3S1t/Q1NReUjHY1dE2

[2021-07-13 19:12] terrajobst commented on #19089
* This API has the issue that it would be ambiguous for common types, such as `List<T>`
* This would also force the implementation to grow by a field or having to type cast in every operation between `IList<T>` and `IReadOnlyList<T>`
* Instead of this, we probably should expose an API that allows adapting an `IList<T>` to an `IReadOnlyList<T>` by casting or wrapping (and vice versa)
     - @terraj

[2021-07-13 19:12] #19089 closed

[2021-07-13 19:20] ben-002 commented on #54958
Sorry for my late response.
Just for testing, I created a new personal project in Mongo.
In a dummy Console App I tried the code already mentioned above. Indeed, targeting .NET5 was fine. The requests I've seen in fiddler are below:
![image](https://user-images.githubusercontent.com/69915112/125510384-caedc1b3-a98a-48ff-ab3d-8bd9feb8cb26.png)
However, when targeting .Net core 3.1 without using App

[2021-07-13 19:30] chucker commented on #46376
Yeah, that’s fair. Thanks for the response!

[2021-07-13 19:32] stephentoub commented on #51700
In the spirit of https://github.com/dotnet/runtime/issues/48573, I wonder if this should actually be a Throw(object) / Throw(Type) set of static methods?

[2021-07-13 19:38] karelz commented on #55538
@tmds any idea what might go on here?

[2021-07-13 19:39] #55563 closed

[2021-07-13 19:40] karelz commented on #55447
Triage: There is trivial workaround. Not critical for 6.0. Moving to Future.

[2021-07-13 19:42] dagood commented on #50739
Ah... `Microsoft.NETCore.Platforms` is not always built/shipped with the current version. Yeah, probably needs to be matched up with that property. (Is the package always at least *built*, or is it sometimes disabled completely? How? Is this infra also fragile?)

[2021-07-13 19:44] bradwilson commented on #11063
My problem is this: it sets a precedent that (potentially arbitrary) fixes and features will be accepted for v2 and given an official release. Who is going to be on the hook for reviewing, merging, and releasing all those things? Because it won't be me.

[2021-07-13 19:48] Eirenarch commented on #53820
But this is not an issue with the attributes. This is an issue with the fact that Blazor thinks empty input is empty string unlike everything else in ASP.NET which treats empty input as null.

[2021-07-13 19:49] karelz commented on #55310
Triage: Simple to do, but not critical for 6.0.

[2021-07-13 19:50] alnikola commented on #55590
The test is disabled.

[2021-07-13 19:50] #55590 closed

[2021-07-13 19:50] stephentoub commented on #11063
Again here:
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-55575-merge-19f5f323fe664dfc88/Interop/console.e2e8004d.log?sv=2019-07-07&se=2021-08-02T18%3A24%3A31Z&sr=c&sp=rl&sig=pmXBY1jpNkRXtgD0nJcOlymmCiKgm9ZnNtZnAl91l6M%3D

[2021-07-13 19:53] karelz commented on #55347
Triage: We need to investigate and understand better what's going on ...

[2021-07-13 19:53] #53177 closed

[2021-07-13 19:54] dagood commented on #50739
On second thought, since the runtime.json file is just a literal file in the repo, I suppose nothing has to be built. It might be worth considering if it would be bad if someone made a change to the runtime.json and forgot to make it build, so the tar.gz would contain newer RIDs than the latest publicly available Microsoft.NETCore.Platforms package.

[2021-07-13 19:54] karelz commented on #55025
Triage: Affects test reliability

[2021-07-13 19:55] Qapples opened #72548 "Cannot box a ByRef-like (ref struct) when using a CreateDelegate method on method that accepts a ByRef-like parameter."
The following code correctly runs on CoreCLR and fails on NativeAOT:
[https://gist.github.com/Suchiman/b09ad481065e3e2b17d89e321121bacc](url)

NativeAOT fails with the following exception: `System.NotSupportedException: Cannot create boxed ByRef-like values.`

The issue occurs at this line:
` typeof(Program).GetMethod("Method")!.CreateDelegate<ExampleDelegate>();`

[2021-07-13 19:56] karelz commented on #54968
Triage: Would manifest as memory leak

[2021-07-13 19:57] mikem8361 commented on #55254
In 3.1, issue #7740 has been fixed.  Full dumps no longer incorrectly add all the uncommitted virtual memory. Did you try a heap dump?

[2021-07-13 19:58] karelz commented on #53093
Triage: Cookie tests blocked on #55025

[2021-07-13 20:08] vargaz commented on #55375
[libs-3.tar.gz](https://github.com/dotnet/runtime/files/6811676/libs-3.tar.gz)

[2021-07-13 20:12] ericstj commented on #50739
We have the same problem with every nuget package in the repo.  That's a tradeoff we accept for selective servicing.

I believe that the latest SDKs carry a copy of the runtime.json so we can just ensure that it flows there through a transport package instead of `Microsoft.NETCore.Platforms` at which point `Microsoft.NETCore.Platforms` is largely redundant.

[2021-07-13 20:19] vargaz commented on #55375
[libs-3.tar.gz](https://github.com/dotnet/runtime/files/6811741/libs-3.tar.gz)

[2021-07-13 20:26] MihaZupan commented on #40777
Note: the issue here is that `DiagnosticHandler` was wrapping the underlying handler and as such could never intercept redirects.

#55392 fixes that by moving `DiagnosticHandler` to the start of the chain so that any redirect flows through it again and can be instrumented.
With this, automatic redirects will light up in 6.0 like any other regular request.

[2021-07-13 20:30] MihaZupan commented on #35337
#55392 is adding a global setting that can be used to disable context propagation process-wide:
[code]

We are also exposing a property on `SocketsHttpHandler` (#55556) that can be used to override behavior for just that instance:
[code]

[2021-07-13 20:38] #55588 closed

[2021-07-13 20:41] eerhardt opened #55600 "TypeBuilder.CreateType doesn't work on Windows in a trimmed app due to BuiltInComInterop being disabled"
### Description

When trimming an app that uses Ref.Emit to generate a Type, it fails by default on Windows due to BuiltInComInterop being disabled.

Using a recent .NET 6 SDK, `dotnet publish` the following app:

[code]

[code]

[code]

### Configuration

* Which version of .NET is the code running on? `.NET 6.0.0-preview5+`
* What OS and version, and what distro if applicable? `Windows`
* What i

[2021-07-13 20:42] #54814 closed

[2021-07-13 20:43] vcsjones opened #55601 "Performance improvements for SymmetricAlgorithm one-shots"
With #2406 merged, we got the basic API shape in and functioning. As follow up work, there are a few places we can optimize for better performance:

- [ ]  Skip the `Reset` after performing a one-shot operation. Since it's only used one time, there is no point of performing a reset right before it gets disposed.
- [ ] Skip allocating an IV when possible.
    Unix and macOS don't need a copy of the

[2021-07-13 20:43] elinor-fung commented on #35193
Does this include versions of `SizeOf` and `PtrToStructure` that take the actual object? I think they also work with blittable generics (in Framework too).

https://github.com/dotnet/runtime/blob/ae64899ca74968c1c0dd2d81564c1b9fab12e2b4/src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs#L107-L125
https://github.com/dotnet/runtime/blob/ae64899ca74968c1c0dd2d81564c1b9

[2021-07-13 20:45] vcsjones commented on #55601
Much of this was already done in #55090 already - but it's non-trivial and should be done post-6.0.

[2021-07-13 20:46] jkoritzinsky commented on #35193
It looks like we also don't block those. I'll add some testing for those cases 😢

[2021-07-13 20:48] roji commented on #48005
Thanks @buyaa-n, that indeed fixes the issue! Closing this as by-design.

The discoverability here isn't ideal, does it make sense to throw a better-worded exception?

[2021-07-13 20:48] #48005 closed

[2021-07-13 20:54] MihaZupan commented on #41072
There is some overlap with #35337 here. If you don't want context propagation (headers being injected), see:
- For .NET 6: https://github.com/dotnet/runtime/issues/35337#issuecomment-879381782
- For .NET 5 (and 3.1): https://github.com/dotnet/runtime/issues/35337#issuecomment-864293752

For the actual problem discussed in this issue (`DiagnosticHandler` always creating an Activity):
- If you don't

[2021-07-13 21:10] #55557 closed

[2021-07-13 21:15] alexcovington opened #55603 "[Question] What other compilers is RyuJIT compared against?"
I have a general question, wasn't sure where the best place to post this. Please let me know if I can ask this question in more appropriate place.

Are there other compilers that RyuJIT is compared against, specifically regarding codegen? For example, MSVC/GCC/Clang are all typically compared against each other when looking at the quality of generated code. While it wouldn't be exactly a 1-to-1 co

[2021-07-13 21:17] danmoseley commented on #54034
Hit again on Libraries Test Run release coreclr windows x86 Debug.

I wonder whether there is logging that we can add.

[2021-07-13 21:21] steveharter commented on #45152
This was prototyped for V6 but due to lack of language support around `ref structs` it must be deferred.

The prototype is based on `TypedReference` and is essentially as fast as IL Emit'd code (~10x faster than standard reflection) while also supporting `ref` and `out` parameters and return values.

[2021-07-13 21:22] bartonjs commented on #55477
According to the telemetry data I have access to: We have literally never seen this occur outside of our tests.

Still zero, clearly :smile:.

They agree it doesn't seem possible.  So, throwing it is.

[2021-07-13 21:26] davidfowl commented on #45152
@steveharter if you start it now, we can finish it before .NET 7 preview 1 😄

[2021-07-13 21:29] AndyAyersMS commented on #54118
@briansull would appreciate your input here.

I have been working on a side data structure to track per-tree memory dependence that gets filled in during VN and consulted during hoisting. The optimizer side seems fairly clean but the VN side is messy as I have to tunnel information into or smuggle information out of `VNForMapSelect`.

I have been thinking of alternatives but no good ones yet. EG f

[2021-07-13 21:31] cston commented on #44368
As @huoyaoyuan indicated, `Enumerable.Cast<TResult>()` returns the original argument if the argument can be used as `IEnumerable<TResult>` directly.

[2021-07-13 21:31] cston commented on #44368
Closing as resolved.

[2021-07-13 21:31] #44368 closed

[2021-07-13 21:40] buyaa-n commented on #48005
Agree it doesn't sound right, but the problem is the external schema is not added in the `ShemaSet.Add()` step, where seems by design we do not throw for unsuccessful addition, then in the `ShemaSet.Compile()` it throws that `Type 'http://schemas.microsoft.com/sqlserver/2004/sqltypes:int' is not declared` which is kind of correct message for that step, it explained more in the next comment https:/

[2021-07-13 21:43] bartonjs commented on #55570
@karelz The enum is part of System.Net.Primitives and is logically part of SslStream, namespace notwithstanding.

[2021-07-13 21:43] #54263 closed

[2021-07-13 21:44] mikem8361 commented on #52521
/cc: @hoyosjs

[2021-07-13 21:47] tarekgh commented on #53856
Tagging the owners of Analysis-Services so they can respond and update about the progress here.

@orenfisher @christianwade

[2021-07-13 21:48] noahfalk commented on #41072
In addition to the options that @MihaZupan mentioned above there is also a new ActivityListener implemented in .NET 5 which can be used to observe all Activities that are created, including the one from HttpClient. [This page](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/distributed-tracing-collection-walkthroughs#add-code-to-collect-the-traces) includes example code and logging output

[2021-07-13 21:49] JulieLeeMSFT opened #55605 "JIT further Boolean logic optimization"
This issue is to capture remaining work for https://github.com/dotnet/runtime/issues/13573.

#49548 handled '==0' Boolean expression with two operands:
[code]

- Other Boolean expressions that can be looked into include IsEitherNegative:

[code]

Current codegen:

[code]

Possible optimal codegen below, using the fact that the `or` instruction sets _SF_:

[code]

- Handle cases like bool b = a ==

[2021-07-13 21:52] steveberdy commented on #50833
@YVEF I think what @ayousuf23 means is [here](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Unix.cs#L408). Also, I would like to give this a go. I'll work on a PR.

[2021-07-13 22:01] agocke commented on #55514
Single-file publishing is not currently supported for Windows 7. We need to remove the checkbox for that environment.

[2021-07-13 22:02] jonpryor commented on #55375
Using the [latest](https://github.com/dotnet/runtime/issues/55375#issuecomment-879374890) `libs-3.tar.gz`…

  * `6.so`: *crashed*, but with an abort!

        W monodroid-assembly: /data/app/~~K53iwn58qyKpLCxJU9ompA==/scratch.getxml-KxQfLZZxWtBi35k-1G7Wig==/base.apk entry: assemblies/System.Runtime.Serialization.Primitiv
        …
        F libc    : Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in

[2021-07-13 22:05] cston commented on #48177
It looks like the documentation is in dotnet-api-docs (see [DateAndTime.xml](https://github.com/dotnet/dotnet-api-docs/blob/main/xml/Microsoft.VisualBasic/DateAndTime.xml#L314)).

[2021-07-13 22:11] vargaz commented on #55375
[4-corelib.dll.gz](https://github.com/dotnet/runtime/files/6812246/4-corelib.dll.gz)

[2021-07-13 22:14] danmoseley commented on #11063
@bradwilson it's your project -- you control it and my assumption is that you can simply continue to say no. 😺

[2021-07-13 22:21] jonpryor commented on #55375
Using the most [recently provided `System.Private.CoreLib.dll`](https://github.com/dotnet/runtime/issues/55375#issuecomment-879437452):

  * `5.so`: crashes with our expected `.getNamespace()` failure.  Yay!
  * `6.so`: Crashes with our unexpected assert: :-(

        E scratch.getxml: * Assertion at /Users/vargaz/git/runtime/src/mono/mono/mini/mini-codegen.c:1156, condition `MONO_ARCH_CPU_SPEC_ID

[2021-07-13 22:21] vcsjones commented on #55477
I'm going to take a wild guess and assume `TripleDESCng` isn't any popular.

[2021-07-13 22:22] #52312 closed

[2021-07-13 22:23] vargaz commented on #55375
[8.so.gz](https://github.com/dotnet/runtime/files/6812288/8.so.gz)

[2021-07-13 22:25] #55323 closed

[2021-07-13 22:27] RussKie commented on #48893
@ajcvickers this is due to the loss of this attribute: https://referencesource.microsoft.com/#System.Data/fx/src/data/System/Data/DataSet.cs,529

[2021-07-13 22:29] bartonjs commented on #55477
Yeah, I looked at that one after hitting Comment.  It was equally zero for the named key ctors.  (Which could be due to poor sampling, but I'm willing to believe it's zero-to-epsilon usage)

[2021-07-13 22:32] bradwilson commented on #11063
Why not release your own private build?

[2021-07-13 22:40] #54748 closed

[2021-07-13 22:43] vargaz commented on #55375
[27a1f0b9ea57642cb9f92e075c4873afb71a9400.tar.gz](https://github.com/dotnet/runtime/files/6812367/27a1f0b9ea57642cb9f92e075c4873afb71a9400.tar.gz)

[2021-07-13 22:45] vargaz commented on #55375
[779b79401648908279d0903b5a91f593c745efd0.tar.gz](https://github.com/dotnet/runtime/files/6812375/779b79401648908279d0903b5a91f593c745efd0.tar.gz)

[2021-07-13 22:46] DrewScoggins opened #55608 "[Perf] [WASM] Regression in dotnet.wasm"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [ede3733b1cf5902899e56caf748492ed993c98c8](https://github.com/dotnet/runtime/commit/ede3733b1cf5902899e56caf748492ed993c98c8)
Compare | [ce0982256cd83960a97d8745a84e97acc8ebf98d](https://github.com/dotnet/runtime/commit/ce0982256cd83960a97d8745a84e97acc8ebf98d)
Diff | [Diff](https://github.com/dotnet/runtime/compare/ede37

[2021-07-13 22:48] eerhardt commented on #55608
@DrewScoggins - there are 146 commits in the Diff at the top of this issue. Any way we can narrow them down?

[2021-07-13 22:49] bartonjs commented on #45715
Technically we could solve this by ensuring that each key that we're erasing as part of single-cert import doesn't have the same key identifier as the one we're about to produce.  But then we'd need to do something tricky in collection import to try to make the two distinct certificates understand that they have mutual ownership of the key file.

My guess is that we don't really want to do anythin

[2021-07-13 22:50] vargaz commented on #55375
[27a1f0b9ea57642cb9f92e075c4873afb71a9400-fix.tar.gz](https://github.com/dotnet/runtime/files/6812393/27a1f0b9ea57642cb9f92e075c4873afb71a9400-fix.tar.gz)

[2021-07-13 22:51] briansull commented on #54118
Have you explored replacing the hoisted expression with an expression that represent the constant?

So instead of hoisting the indirection expression we hoist instead host the constant value that it loads.

[2021-07-13 22:54] cston commented on #51692
The behavior is the same with .NET Framework 4.8 as well.

[2021-07-13 22:57] noahfalk commented on #38176
@Anipik - I think I must have assigned this to myself by mistake, though I don't even recall doing it. Very sorry about that. You would normally triage these right?

[2021-07-13 23:00] JulieLeeMSFT commented on #55603
CC @BruceForstall

[2021-07-13 23:06] cston commented on #46582
@janreiner, thanks for reporting this issue.

@wzchua, thanks for identifying the fix.

[2021-07-13 23:06] #46582 closed

[2021-07-13 23:09] tarekgh commented on #38176
I marked as untriaged to ensure it show up in @Anipik and @ViktorHofer radar as area owners.

[2021-07-13 23:09] eerhardt commented on #55608
The 5% regression in System.Text.Json in the PizzaApp, it appears to maybe be caused by https://github.com/mono/linker/pull/2125.

Looking at a diff of System.Text.Json before and after I'm seeing:

![image](https://user-images.githubusercontent.com/8291187/125535903-72b0c5ce-5364-488f-abbd-00aaeb732019.png)

Note, the PizzaApp does use System.Linq.Expressions. Looking at ILSpy, I see it being use

[2021-07-13 23:12] jakobbotsch commented on #54118
I tried it in https://github.com/dotnet/runtime/compare/main...jakobbotsch:hoist-opt-trees?expand=1.
However, there are other trees where this is a problem e.g. casts/phis/initial values (see test case above). So I wasn't sure if it was the right way to fix it.

[2021-07-13 23:13] cston commented on #52357
@Coda17, thanks for reporting this issue.

It appears to be duplicate of https://github.com/dotnet/runtime/issues/51692. Closing as duplicate.

[2021-07-13 23:13] #52357 closed

[2021-07-13 23:16] eerhardt commented on #55608
The even worse regression here is:

<html>
<body>

SOD - Minimum Blazor Template - Publish - pub/wwwroot/_framework/dotnet.wasm.br | 464.13 KB | 779.49 KB | 1.68 | 0.00 | True |  
-- | -- | -- | -- | -- | -- | --

<br class="Apple-interchange-newline">
</body>
</html>

@SamMonoRT @lewing - did something break here that we lost all the re-linking work for the "Minimum" app (i.e. Invariant Globaliza

[2021-07-13 23:20] BruceForstall commented on #55603
There are several options. For managed code, RyuJIT can sometimes be compared against JIT32 (the previous JIT, used for .NET Framework x86), or JIT64 (the previous JIT, used for .NET Framework x64 before 4.6). https://sharplab.io/ can help here.

Also, it can be compared against the Mono .NET runtime codegen, which does in some configurations use clang (LLVM).

Source code can sometimes be transli

[2021-07-13 23:23] lewing commented on #55608
@eerhardt right now all the components are being linked in unconditionally (hot-reload and the debugger) fix coming soon.

[2021-07-13 23:30] jkoritzinsky commented on #34728
This has been fixed by the improvements in the incremental inner-loop.

[2021-07-13 23:30] #34728 closed

[2021-07-13 23:32] jkoritzinsky commented on #42485
With the native subsets rewrite, this issue has been fixed.

[2021-07-13 23:32] #42485 closed

[2021-07-13 23:44] #31261 closed

[2021-07-13 23:44] #35337 closed

[2021-07-13 23:44] #40777 closed

[2021-07-13 23:44] #41072 closed

[2021-07-13 23:44] #55556 closed

[2021-07-13 23:45] roji commented on #48005
Alright @buyaa-n, thanks again for your help!

[2021-07-14 00:01] RikkiGibson opened #64655 "Warn when "attribute-dependent" types are used in 'typeof'"
Currently the 'typeof' operator gives an error when certain types which can't round-trip are used as arguments. For example, `dynamic` or `string?`.

[SharpLab](https://sharplab.io/#v2:EYLgtghglgdgNAExAagD4GIYFcA2OLA4CmABETAcQLABQtAAgAwn0CMALANy20D6JAXhIwiAdwDaAXRIBvWiQUkALgE8ADkQD2AMwAUm4ACsiAYyUBKOCQD01kpoDW8xao07dCFRTBQTlm3ZEAE5BmkEkAMIAyqwAnABsAEwgJAAqABakrlra9hpBEEphJCYQMDCaSiTApFgAzkQI9jDKmS

[2021-07-14 00:04] radical opened #55611 "System.Linq.Expressions.Tests crashed with `Fatal error. 0xC0000005`"
[Crashed on windows x86](https://dev.azure.com/dnceng/public/_build/results?buildId=1235853&view=logs&j=457f7e88-dfa2-5bd9-f871-fdf124c2477d&t=bfe52dfb-2099-5c7f-ee52-70a1d81c544e&l=56) on https://github.com/dotnet/runtime/pull/54451
[code]

[2021-07-14 00:08] terrajobst commented on #51700
Interesting; I'm not opposed to that.

[2021-07-14 00:10] lewing commented on #55611
likely a duplicate of https://github.com/dotnet/runtime/issues/55536