[2022-03-09 09:52] stefan-sf-ibm opened #66382 "Mono EventPipe test suite crash"
In order to run the test suite `src/mono/mono/eventpipe/test` I have build the runtime and set CMake variable `ENABLE_EVENTPIPE_TEST` which results in `artifacts/obj/mono/Linux.x64.Debug/mono/mini/ep-test` being created. However, running the executable `ep-test` results in a crash:

[code]

Anything I'm missing in order to execute the test suite?

### Configuration

- Ubuntu 20.04
- x64
- .NET SDK

[2022-03-09 09:53] JimiC commented on #63187
@krwq To iterate further, here is my `strace`. My app lives in `/home` and is compiled without `trim` and without `single file` and without `self-contained`.

[code]

If you look closely it's obvious that the library loader is looking for:
- "/home/libSystem.IO.Ports.Native.so"
- "/home/liblibSystem.IO.Ports.Native.so"
- "/home/libSystem.IO.Ports.Native" (note it doesn't include '.so')

but still

[2022-03-09 09:57] WenceyWang commented on #66039
So the idea of callback is to notify 2 things:
New allocation happened
NoGCRegion cannot be maintained anymore and being ended.

So it can also be 2 individual callback I think.

And for the idea of reduce heap allocation, the argument of the callback can be the a ref struct. Thus it will only stays in stack.

[2022-03-09 10:01] JimiC commented on #63187
And looking at the `trace` it seems to me that it does find the library
[code]

but fails to read it?
- Could it be that the compiler includes the wrong library?
- Could it be that the library is not supporting `alpine-arm`?

I'm no expert so I'm wild guessing here.

[2022-03-09 10:08] stefan-sf-ibm commented on #66382
@lateralusX

[2022-03-09 10:10] petarpetrovt opened #66383 "Updating to latest VS `17.1.1` and SDK `6.0.201` breaks web application builder"
### Description

My application stopped working after updating to lastest VS `17.1.1` and SDK `6.0.201`.

Related - PR #62209, issue #61747
[code]

### Reproduction Steps

-

### Expected behavior

Not throw `ObjectDisposedException` exception.

### Actual behavior

Throws `ObjectDisposedException` exception.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

[2022-03-09 10:10] Symbai commented on #66323
In the source code for [Windows implementation](https://github.com/dotnet/runtime/issues/66288#issue-1161263196) it uses a ValueStringBuilder, then calls a native API. Then checks ifs the length is greater than 0, otherwise it throws. Then it returns the content of ValueStringBuilder. It does NOT return null anywhere (unless I am missing something, that's why I've asked if you could show me where

[2022-03-09 10:16] PoulBak commented on #63481
God news. Just upgraded to .Net 6.03 and VS 17.1.1.
Now it works again! I can use 'ReadyToRun' publishing again - with my danish page names.

[2022-03-09 11:02] iSazonov commented on #64596
Can we include #1953 too?

[2022-03-09 11:13] xinsiyu2008 opened #66384 "InvokeVoidAsync Performance Issue arch-wasm"
About arch-wasm.
I found it very bad when I called “InvokeVoidAsync” from .Net every 200ms, but it work well in .Net5. After 10 minutes the pages will be very laggy in .Net6. For example, I usually update the coordinates in the js function. I think this is a fatal bug.

OS:  windows7
x64

[2022-03-09 11:14] stephentoub commented on #66286
Not to my knowledge. dotnet/csharplang is the right place to file feature requests around this.

[2022-03-09 11:17] atakanozceviz commented on #66383
As a workaround, using `mcr.microsoft.com/dotnet/aspnet:6.0.2` image and `Microsoft.Extensions.Configuration` version `6.0.0` nuget package seems to work.

[2022-03-09 11:18] rakista112 commented on #66000
@davmason I tried installing gettext and still got the same messages. here's the full strace logs of just running an application `strace -o strace_logs.txt dotnet AspNetCoreWebApp.dll`, if it helps
[strace_logs.txt](https://github.com/dotnet/runtime/files/8214160/strace_logs.txt)

[2022-03-09 11:27] Joe4evr commented on #31001
@eiriktsarpalis As an alternative, is it worth shipping an analyzer that detects types implementing `ICollection<T>`/`IList<T>` without the `ReadOnly` versions, and suggests to add them to the type declaration? (If I'm not mistaken, the members in read-only interfaces are a strict sub-set of the writable versions, so it wouldn't require adding new members that the type didn't already have.)

[2022-03-09 11:28] Symbai opened #66386 "System.Management has a dependency on .NET Framework"
### Description

I've ported an application to .NET 6 and added nuget package of `System.Management`. It shows .NET 6 as supported, it depends on `System.Codedom` which also shows .NET 6 support. Apart of that no other dependencies. I've published my app as self-contained and ran it on a Windows 8.1 machine. It crashed and the event viewer got an entry saying:

`System.PlatformNotSupportedExceptio

[2022-03-09 11:34] CarnaViire commented on #66297
You are right 😢 and we currently don't have any per-IP timeout for multi-connect in Sockets (only a cancellation token for the whole operation) -- should we consider some new API like that?

[2022-03-09 11:53] rzikm commented on #59508
Seems to have been a transient failure, has not been repeated since. closing

[2022-03-09 11:53] #59508 closed

[2022-03-09 12:00] Bip901 commented on #4155
[Seems like](https://github.com/dotnet/runtime/blob/4017327955f1d8ddc43980eb1848c52fbb131dfc/src/libraries/System.Private.CoreLib/src/System/Math.cs) it's doing a single division now. Still not using the x86 optimization though.

[2022-03-09 12:04] stephentoub commented on #66386
Duplicate of https://github.com/dotnet/runtime/issues/45143
cc: @danmoseley, @ericstj

[2022-03-09 12:10] stephentoub commented on #14746
Yes, in general we don't need or want to change all structs for this.  I expect there are very few (potentially zero) additional ones where we want to do something special here.  In general when we've authored public structs where we're concerned about this issue, it's already factored into the implementation, so this would mainly be about any places that slipped through.  If someone is interested

[2022-03-09 12:13] krwq commented on #63187
@JimiC I think the interesting part is after the file is opened:

[code]

note how it tries to find `ld-linux-armhf.so.3` - likely next step is to identify correct file name and steps to what should be done for that file to be loaded instead (i.e. add another configuration in the package for that platform).

If you have time you can go ahead and play around with your local build (i.e. if you use `

[2022-03-09 12:26] JimiC commented on #63187
So, from what you are saying I'm missing `ld-linux-armhf.so.3` but I do have `ld-linux-armhf.so.1`
![image](https://user-images.githubusercontent.com/1716442/157441544-81ebd205-98f5-41f9-9840-4ea5aaefff3b.png)

I'm gonna try to install the pkg and report back any findings

[2022-03-09 12:32] rf-0 commented on #31094
😁I would be careful with this implementation though. In the case that a serialization already occurred, you're likely to get an exception.

[2022-03-09 12:33] Symbai commented on #66386
FYI: The suggested "solution" in #45143 by switching to `Microsoft.Management.Infrastructure` (apart from the fact that it works different and all snippets on the internet are for `System.Management` which makes switching difficult) is that it also doesn't work. Now the app is crashing with `System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Management.Infrastructure,... `

[2022-03-09 12:44] Timovzl commented on #31001
I love this idea as an alternative. While it does not make for a foolproof solution, it should decrease the chance of encountering missing readable interfaces over time.

**It would be especially great if .NET's own classes started adhering to the proposed analyzer.** For example, consider the concrete [Grouping](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Linq/src/System/Linq

[2022-03-09 12:49] sanderbos1402 commented on #66383
having the same issue. installed 6.0.102 SDK and nuget 6.0.0 package but this does not seem te help....

[2022-03-09 12:57] abhishekthetechguy commented on #43036
Hello @vitek-karas

Hope you are doing well. I wanted to know if a solution has been made available for this? Or if you can suggest how to work our way around this. I have run into the same problem on `CentOS7` with `.net core 5.0`. I have tried loading the `pthread` library using `dlopen` but it doesn't solve my problem. If possible, it would be great if you can share some code reference on how t

[2022-03-09 13:00] rzikm commented on #58349
Test failure stopped occuring some 3 weeks ago, since then it happened only on release/6..0 PRs. I'd give it a few more weeks and otherwise close it

[2022-03-09 13:01] am11 commented on #66323
MainModule.FileName calls GetModuleBaseNameW win32 api. I don't see any guarantees in its MSDN documentation. Do you have a reference?

[2022-03-09 13:12] vitek-karas commented on #43036
I don't have an answer right now, nobody from our side actually looked into this yet. @VSadov might have some additional ideas.

[2022-03-09 13:12] Bip901 commented on #31001
That's a good alternative. I'd still prefer a real solution. These interfaces are so widespread that they deserve a breaking change (then again, you can use the same fact to argue against breaking them).

[2022-03-09 13:14] rzikm commented on #57123
No test failures in last 2 months, closing for now.

[2022-03-09 13:14] #57123 closed

[2022-03-09 13:27] RaulFunezp commented on #63481
Good to Know. I couldn't wait because there was no telling when this was going to be resolved and I had to change the names of each of my projects.

[2022-03-09 13:37] #52096 closed

[2022-03-09 14:18] fanyang-mono opened #66392 "[Mono] Intrinsify API's of System.Numerics.Vector and new API's of System.Runtime.Intrinsics.{128,256} on Amd64"
### `System.Numerics.Vector`:

- Abs
   - [ ] amd64
- Add
   - [ ] amd64
- AndNot
   - [ ] amd64
- As
   - [ ] amd64
- AsVectorByte
   - [ ] amd64
- AsVectorDouble
   - [ ] amd64
- AsVectorInt16
   - [ ] amd64
- AsVectorInt32
   - [ ] amd64
- AsVectorInt64
   - [ ] amd64
- AsVectorNInt
   - [ ] amd64
- AsVectorNUInt
   - [ ] amd64
- AsVectorSByte
   - [ ] amd64
- AsVectorSingle
   - [ ] amd64
- As

[2022-03-09 14:22] stephentoub commented on #53211
We've not received any feedback yet about the lack of this on Trace. I'm going to close it for now.

[2022-03-09 14:22] #53211 closed

[2022-03-09 14:28] Linlccc opened #66394 "area-Extensions-DependencyInjection About creating custom service providers"
Program.cs
[code]
CustomServiceProviderFactory.cs
[code]
CustomServiceProvider.cs
[code]
CustomControllerActivator.cs
[code]
WeatherForecastController.cs
[code]

As shown in the code posted above, I use a custom service provider, but only `app.Services` is my custom `CustomServiceProvider` type,

In other places, it is Asp.Net Core the default `Microsoft.Extensions.DependencyInjection.ServiceLooku

[2022-03-09 14:33] IEvangelist commented on #50406
Hi @davidfowl

I got you: https://docs.microsoft.com/dotnet/core/extensions/caching

The use case is get the `IMemoryCache` impl from DI, I'm not sure how I feel about the cast approach. Feels a bit of an after thought. Why not have introduce another interface (ducks to avoid small office items being thrown at him)?

Maybe `IMemoryCacheWithStatistics`, then this interface is implemented by `Memory

[2022-03-09 14:34] mirespace commented on #66340
Trying to build the package for Focal (Ubuntu 20.04) I discovered that this test is Success, but there is using clang 10, not clang 13 as in Ubuntu 22.04

[2022-03-09 14:38] adamsitnik opened #66395 "ReadToEndAsync_WithCancellation test failing due to lack of free space"
Hit in #66387 https://dev.azure.com/dnceng/public/_build/results?buildId=1653656&view=ms.vss-test-web.build-test-results-tab&runId=45590026&resultId=137219&paneView=debug:

[code]

[code]

[2022-03-09 14:42] rzikm commented on #47195
Looks like duplicate of #46770

[2022-03-09 14:42] #47195 closed

[2022-03-09 14:45] adamsitnik opened #66396 "System.Runtime.Tests Outerloop tests failing with SIGKILL"
Hit in #66387.

Sample log file: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-66387-merge-8f05b743b17c405b9f/System.Runtime.Tests/1/console.d0128aa7.log?sv=2019-07-07&se=2022-03-29T13%3A33%3A14Z&sr=c&sp=rl&sig=mDrKRAWhoS3nfIdvqjfHj9WPL5uoPC5Rw6Kk5r5E0Hg%3D

[code]

[2022-03-09 14:45] Seabizkit commented on #66091
@vitek-karas
So i have since re-worked my stuff, -mainly I fixed not marking shared libs as private to the lib.

but now I have what I consider two identical plugins, identical in the way they are constructed and consumed.

1 can delete the pdb and the other can not which makes little sense.
i used ProcessExplorer to see if it sheds any light
![image](https://user-images.githubusercontent.com/1920

[2022-03-09 14:46] #65791 closed

[2022-03-09 14:48] Linlccc commented on #66394
@ericstj The labels of this issue don't seem quite right. Please help me to solve the above questions. Thank you very much

[2022-03-09 14:48] elinor-fung commented on #66380
Boo, will take a look.

[2022-03-09 14:50] sebastienros commented on #50406
@IEvangelist It's not natural/easy with ASP.NET DI to register the same instance with two interfaces.

About this feature I would have preferred to see event counters instead.
Or if the API scenario is preferred, just try and cast to the MemoryCache instance to get the stats.

[2022-03-09 14:51] adamsitnik commented on #56165
It was most likely solved by https://github.com/dotnet/runtime/pull/66387, I am going to close it for now. Please reopen if it ever happens again.

[2022-03-09 14:51] #56165 closed

[2022-03-09 14:52] adamsitnik commented on #66396
It's a duplicate of https://github.com/dotnet/runtime/issues/58616

[2022-03-09 14:52] #66396 closed

[2022-03-09 14:53] adamsitnik commented on #58616
Hit in #66387.

Sample log file: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-66387-merge-8f05b743b17c405b9f/System.Runtime.Tests/1/console.d0128aa7.log?sv=2019-07-07&se=2022-03-29T13%3A33%3A14Z&sr=c&sp=rl&sig=mDrKRAWhoS3nfIdvqjfHj9WPL5uoPC5Rw6Kk5r5E0Hg%3D

[code]

[2022-03-09 15:12] rzikm commented on #44689
Is the assert still necessary? What's the bad thing that happens if there is some error left in the queue?.

From my understanding, All Crypto operations that care about errors clear the error queue beforehand (as of https://github.com/dotnet/runtime/pull/65148), so IMO this should not have any impact.

Thoughts, @wfurt, @bartonjs?

[2022-03-09 15:35] IEvangelist commented on #50406
Hi @sebastienros

I like the event counters idea too.

[2022-03-09 15:35] danmoseley commented on #58616
Ideally we'd have a way to get some kind of diagnostics on OOM - as there's never a dump. Eg xunit could log the test name if memory is above a threshold, as it does for long running tests.

[2022-03-09 15:50] AaronRobinsonMSFT commented on #66382
/cc @dotnet/dotnet-diag @lambdageek

[2022-03-09 15:53] davidfowl commented on #50406
Event counters don't work well because they need to be per cache instance.

[2022-03-09 15:56] sebastienros commented on #50406
I still would like them even if they show data across all cache instances.
And even if there is an API for each instance.

[2022-03-09 15:58] AaronRobinsonMSFT commented on #66376
/cc @davidwrighton

[2022-03-09 16:06] lateralusX commented on #66382
You will need to point it to Mono's System.Private.CoreLib.dll by setting CORE_ROOT.

[2022-03-09 16:09] sanderbos1402 commented on #66383
I'll ask a coworker. I am in the middle of a complete reinstall using an older version, hoping that will work....

[2022-03-09 16:16] jeffschwMSFT commented on #66379
@RussKie thoughts on an area label?  I was about to transfer to winforms, but I see you transferred it to runtime

[2022-03-09 16:20] TanvirArjel opened #66401 "Children could not evaluated in Blazor Web Assembly."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Getting the response as JSON from the API correctly but whenever trying to deserialize  the JSON it's saying **Children could not be evaluated** while trying to debug as follows:

[code]

Then I have checked with the following code:

[code]

### Expected Behavior

The item should be seen in d

[2022-03-09 16:38] eerhardt commented on #50406
One idea there is to add a string "Name" or "Prefix" property to the MemoryCacheOptions. This would be used to identify/qualify the memory cache instance in the event counter / diagnostics metric.

That's how System.Runtime.Caching took care of it:

https://github.com/dotnet/runtime/blob/385fc8832b1d4160abe13645054b65458b6a12f8/src/libraries/System.Runtime.Caching/src/System/Runtime/Caching/Memory

[2022-03-09 16:40] sebastienros commented on #50406
Since when can we have "dimensions" in event counters? I thought they were static strings?

[2022-03-09 16:41] atakanozceviz commented on #66383
To reproduce the problem:

1. Create a new template webapi project
2. Add `Microsoft.Extensions.Configuration` nuget package to the project:

[code]

3. Create an extension class:

[code]

4. Execute the extension method:

[code]

[2022-03-09 16:41] sebastienros commented on #50406
Let me rephrase it ;) I do use dynamic counters all day long. My comment is about how a tool like dotnet-counters would be able to display them? You'd have to know the named counters in advance.

[2022-03-09 16:51] jkotas commented on #66039
The amount of slack space that the GC happens to have beyond the NoGCRegion reservation should not be exposed to the user code. The contract that this API exposes should assume that the GC does not have any slack space. The size of the slack space is going to change from version to version based on GC heuristic tunning and other changes, so it would be fragile for the user code to depend on its ex

[2022-03-09 17:08] AndyAyersMS commented on #33658
Current output of SOS's `ip2md` when looking at OSR code:

![image](https://user-images.githubusercontent.com/10121823/157493556-5bae4f4c-0960-46fc-be87-f07a28f48dff.png)

Need to update dac/sos to understand what OSR code means.

[2022-03-09 17:17] mkArtakMSFT commented on #66401
@thaystg can you please look into this? Thanks!

[2022-03-09 17:20] thaystg commented on #66401
@TanvirArjel can you please update this nuget package in your server project?
<PackageReference Include="Microsoft.AspNetCore.Components.WebAssembly.Server" Version="6.0.3" />

[2022-03-09 17:23] Clockwork-Muse commented on #66255
... it follows from the general case of "if an object is being mutated, and an exception occurs, (unless otherwise documented) the object/stack state is corrupt".

Part of the problem is that unless it's already documented as being safe, whether or not it's actually corrupt is an implementation detail, which is what @danmoseley 's comment was about.

[2022-03-09 17:24] TanvirArjel commented on #66401
@thaystg Why server API project has to be updated? Server API app is a completely separated app. What if my sever API project is Java/NodeJs app?

[2022-03-09 17:26] hoyosjs commented on #48070
Yes

[2022-03-09 17:29] thaystg commented on #66401
In this package: Microsoft.AspNetCore.Components.WebAssembly.Server is where we pack the BrowserDebuggerProxy, which is what makes the debugger work. So you updated the runtime to use version 6.0.3 and you need to use the same version of the BrowserDebugProxy, that is why I asked you to update this package.

It was a mistake on our side to make this incompatibility, and it will be fixed on 6.0.4,

[2022-03-09 17:30] hoyosjs commented on #64765
The build is gone and there's no recent hits according to runfo (Only the ones for the dead lettered work item from the helix bug that was fixed last week). Closing until further hits are seen.

[2022-03-09 17:30] TanvirArjel commented on #66401
@thaystg Yes! I have updated all the packages to the latest version but still problem persists.

[2022-03-09 17:34] thaystg commented on #66401
@TanvirArjel  Did you rebuild your server project after doing it?
Can you share your project then I can take a look on what is happenning?

[2022-03-09 17:36] eerhardt commented on #66394
The first change to your `CustomServiceProvider` needs to be:

[code]

You are trying to inject a service of type `IServiceProvider` into your app. The way DI works, is it takes the `IServiceProvider` and asks it to return the service of type `IServiceProvider`. This calls into your `CustomServiceProvider`, and your `CustomServiceProvider` is returning the inner `_serviceProvider.GetService`, whic

[2022-03-09 17:37] TanvirArjel commented on #66401
@thaystg What is server project? It's a web assembly project. Please tell clearly what you are actually trying to point to. I am struggling to understand your words!

[2022-03-09 17:37] stefan-sf-ibm commented on #66382
That works just fine. Thanks!

[2022-03-09 17:37] #66382 closed

[2022-03-09 17:37] thaystg commented on #66401
![image](https://user-images.githubusercontent.com/4503299/157498878-f43b743f-55ec-4f52-af41-3cc173d1bb03.png)

[2022-03-09 17:38] hoyosjs commented on #54801
The underlying issue has been fixed. The hits this month were for a PR.

[2022-03-09 17:38] #54801 closed

[2022-03-09 17:41] thaystg commented on #66401
If it's not an ASP.NET Core hosted you will not have it, but you should update the Microsoft.AspNetCore.Components.WebAssembly.DevServer.

![image](https://user-images.githubusercontent.com/4503299/157499555-1859b3c1-ff3b-4d55-a4f1-ce443e697682.png)

[2022-03-09 17:44] TanvirArjel commented on #66401
The problem is still persisting.

![image](https://user-images.githubusercontent.com/14342773/157499999-0a9c30f0-7cd7-48d1-9cb8-4a3cfc551cb5.png)

[2022-03-09 17:49] TanvirArjel commented on #66401
To reproduce the issue: Please create a brand new Blazor Web Assembly App with Visual Studio Version 17.2.0 Preview 1.0 selecting the latest 6.0.3 SDK.

[2022-03-09 17:49] hoyosjs commented on #66340
Building under clang13 is something I expect works - since the patches for clang were submitted to source-build. This is before indeed. There's another example in https://github.com/dotnet/runtime/blob/main/src%2Fcoreclr%2Fpal%2Fsrc%2Fconfigure.cmake. I wonder if:

[code]

works in the CMAKE test.

[2022-03-09 17:59] thaystg commented on #66401
As you can see in the content of this log:
![image](https://user-images.githubusercontent.com/4503299/157502403-896b9820-b067-4a9b-8f4e-38df34b84588.png)

The runtime version that is being used is 6.0.1, so please, use the same version of the nuget packages, 6.0.1.

[2022-03-09 18:02] TanvirArjel commented on #66401
@thaystg Look at here:

[code]

**I didn't have 6.0.1 is even installed on my machine. Then where is it coming from?**

[2022-03-09 18:05] thaystg commented on #66401
@lewing or @mkArtakMSFT , do you know how to answer this question, why it's using the runtime version 6.0.1, if he has the installed versions listed above?

[2022-03-09 18:07] lewing commented on #66401
this problem is caused by building a net6 app with a net7 sdk.  the preview1 sdk appears to have 6.0.1 specfied as the net6 runtime

[2022-03-09 18:07] EmJayGee commented on #14746
Stephen, that do you think of @airbreather's example above?

It's not a particularly common case or anything but it is weird behavior. The problem is arguably that ToLocalTime() didn't capture the value before operating on it. (We can argue the correct mode of capture later but right now let's discuss whether to fix it and general scope.)

So should we fix this method?

If so, should we proactivel

[2022-03-09 18:14] TanvirArjel commented on #66401
@lewing Why is this mess? I am a big of .NET but I found .NET SDK versioning and interaction is a complete mess. If my app is on .NET 6.0 then it should be built on the latest .NET 6.0 found on the machine. If not any .NET 6.0 is not found on the machine then it should say, the required .NET version is not found on your machine.

[2022-03-09 18:19] TanvirArjel commented on #66401
@lewing Now please help me! how can I point my app to be built on **.NET 6.0.3** insted of 6.0.1 without downgrading the the packges to  6.0.1.

[2022-03-09 18:24] madelson commented on #66376
This is not a defense of array covariance (I agree it is problematic). However, one place where removing it might cause issues is with the various reflection APIs for getting `Attribute`s. These often return `object[]` or `Attribute[]`, but if you pass in a `Type` filter you can successfully cast the result type to an array of the attribute type, for example:

[code]

Older code (especially things

[2022-03-09 18:24] hoyosjs commented on #60018
Closing this - the only recent hit of this is https://github.com/dotnet/runtime/pull/66282, which is for one PR. The other are dead letter issues.

[2022-03-09 18:24] hez2010 commented on #66401
Try creating a global.json and fix the sdk version to 6.0.201.

[2022-03-09 18:24] lewing commented on #66401
I believe the instructions at https://docs.microsoft.com/en-us/dotnet/core/versions/selection can help

[2022-03-09 18:25] wfurt commented on #44689
It was there for a reason. But it seems like we changed strategy how we go about errors. We should make sure we do it consistent as for example we may call handshake after Read() in case of renegotiation.
The intend of the assert was to guard agains cases where we leak error to wrong operations.

[2022-03-09 18:35] wfurt commented on #66297
Even with eyeballs, you can have multiple addresses for the same family. And only some of them may be unreachable/unresponsive. But I would feel in most cases callers would care about overall responsiveness instead of details for each individual address.

[2022-03-09 18:41] wfurt commented on #63187
I'm wondering if we build on newer OS version that this is running on.. cc: @janvorli

[2022-03-09 18:45] MichalPetryka commented on #65074
Could I be assigned to this? I'll do it now.

[2022-03-09 18:46] tannergooding commented on #65074
Assigned out, thanks @MichalPetryka!

-- Noting we already discussed the needs/implementation here (new API, doc comment, and basic tests) in the C# Community Discord.

[2022-03-09 18:50] #60018 closed

[2022-03-09 18:53] steveharter commented on #66341
@eiriktsarpalis can you point to the code changes that caused the regression please and what is \ is not affected. For example does this affect all `system.object` - based collections (i.e. hashtable, arraylist, types implementing non-generic `IList`.

[2022-03-09 19:09] JimiC commented on #63187
@wfurt My app was tested on your `5.0.15-alpine3.14-arm32v7` docker image. I don't think using `alpine3.15` will make any difference, but I'll give it a shot.

[2022-03-09 19:15] wfurt commented on #63187
The interesting part is that the binary expected `ld-linux-armhf.so.3` and you have `ld-linux-armhf.so.1`....

[2022-03-09 19:16] JimiC commented on #63187
I have `ld-musl-armhf.so.1`

[2022-03-09 19:26] #66395 closed

[2022-03-09 19:32] adamsitnik commented on #58616
There is one test that allocates more than 8GB:

![image](https://user-images.githubusercontent.com/6011991/157517467-b8bc02bd-b0b0-4214-bde8-880bf3e398a4.png)

I'll try to find it tomorrow (I've hit a bug in VS which does not seem to work well with such huge profiles)

[2022-03-09 19:51] Clockwork-Muse commented on #66376
That, or anything that's switching between collections with a common base, right?

[code]
(this seems a more likely and used scenario than dealing with reflection)

[2022-03-09 19:55] VSadov commented on #64509
Fixed in https://github.com/dotnet/runtime/pull/65406

[2022-03-09 19:55] #64509 closed

[2022-03-09 19:56] tannergooding commented on #66376
This isn't really actionable on the area owners end and should probably be a discussion thread instead.

It would require sign-off from @jkotas and the various leads/PMs, etc.

[2022-03-09 19:58] WenceyWang commented on #66039
I agree with if `ContinueAllocatingThenGC` is working as intended I'll use it instead of the throw one.

But I think a callback about the NoGCRegion is ended is useful as I'll no longer check for the GC mode rapidly.

[2022-03-09 20:03] ManickaP commented on #66297
By "something like happy eyeballs" I meant trying the parallel connect, even to multiple addresses of the same family at the same time. This is just an idea so please do not crucify me on all the details and pitfalls. I'm aware this wouldn't be as easy as running n connects in n tasks and seeing which finishes first. It would need to be carefully designed to not to drag down perf, hog ephemeral po

[2022-03-09 20:04] dreddy-work commented on #66186
@JeremyKuhne , do you know who the right person would be to look into this? it is blocking WinForms automation tests.

[2022-03-09 20:05] tomstreet opened #66405 "Odd behaviour when unzipping unicode string on net6.0 compared to netcoreapp3.1 and net5.0"
### Description

While upgrading one of our projects from netcoreapp3.1 to net6.0 I found a method that that decompressed a unicode string from a byte array. The implementation of this method is certainly one way to do it, but ultimately it does work and has been working fine on netcoreapp3.1. When I upgraded the project to net6.0 this method started to return a messed up string sometimes, but not

[2022-03-09 20:12] ericstj commented on #62068
I think this was fixed in https://github.com/dotnet/runtime/commit/0e4909a530c76a18fccfa5ecc6e7f31f81eedee2, @danmoseley can you close if that's correct?

[2022-03-09 20:15] stephentoub commented on #66405
Stream.Read is not guaranteed to return the amount of data requested.  GZipStream.Read in particular used to happen to do so in some cases where it no longer does:
https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/partial-byte-reads-in-streams

[2022-03-09 20:18] danmoseley commented on #62068
Correct, I didn't see this dupe.

[2022-03-09 20:18] #62068 closed

[2022-03-09 20:22] Symbai commented on #66323
For the last time now: it is not nullable, for a good reason. It's not possible that a win32 desktop process cannot access its own main module path and still runs fine. Besides this is off topic. See my post above yours (last paragraph).

[2022-03-09 20:27] am11 commented on #66323
I asked for the link to back up your claim, since you are being so persistent "100%", really?

[2022-03-09 20:50] tomstreet commented on #66405
Thanks. Don't know how I managed to miss this - it's right there under breaking changes!

[2022-03-09 20:50] #66405 closed

[2022-03-09 21:04] jkotas commented on #66376
MemoryMarshal is unsafe API. It is by design that you can do bad things with unsafe code.

This is good data, but I do not think it is complete as others pointed out.

We tried to remove array covariance before in early days of .NET Native for UWP. It broke too much existing code and was added back.

I would not mind introducing a unsupported runtime configuration switch to disable array covarianc

[2022-03-09 21:05] L2 commented on #65562
Looks like the fix has been released in VS 2022. Thanks @danmoseley for looking into the VS ticket and @Wraith2 for creating the issue.

@Wraith2 Any chance you've tried out the new build?

[2022-03-09 21:08] jkotas commented on #66376
Actually, it would need to be a compiler switch too so that `Animal[] animalsToWhatever = cats ? catArray : dogArray` fails to compile. That makes it really hard.

[2022-03-09 21:14] Wraith2 commented on #65562
I have not. I installed a non vs packaged version of cmake and made sure it was on path which let me carry on with what I was working on. If it's fixed in vs I'll close this issue

[2022-03-09 21:14] #65562 closed

[2022-03-09 21:15] deeprobin commented on #48615
I think we can label this "easy". I think new contributors would do well with this issue.

[2022-03-09 21:19] tannergooding commented on #48615
This one is being primarily driven by WinForms and need in other areas. It's going to likely be done by that team to ensure it and its usages are going in at the same time/release

[2022-03-09 21:21] deeprobin commented on #1476
@terrajobst

I think a software fallback would be useful.
As far as I know TCP_FASTOPEN is supported under Linux only from kernel version 3.6 on the client side and 3.7 on the server side. We should perhaps evaluate how to deal with features that do not work in older kernel versions elsewhere as a basis for decision making.

How this behaves under Windows I do not know just now.

[2022-03-09 21:38] eiriktsarpalis commented on #66341
The performance regression is directly related to the fact that `ObjectConverter` is no longer `ConverterStrategy.Value`. This specifically impacts deserialization performance for objects of depth 1, since they now incur [an additional `ReadStack.Push()` operation](https://github.com/dotnet/runtime/blob/78e840e1072127d68714b55cffdcfa96a7e2f8af/src/libraries/System.Text.Json/src/System/Text/Json/Se

[2022-03-09 21:39] agocke commented on #66174
This is now blocking the runtime builds as well @tommcdon could someone take a look asap?

[2022-03-09 21:39] theodorzoulias commented on #66255
@Clockwork-Muse yes @danmoseley [commented](https://github.com/dotnet/runtime/issues/66255#issuecomment-1060204696) that he is opposed to documenting cases where throwing from a delegate has no corruptive effect.

I mentioned earlier some callback-based/mutative .NET APIs that I am aware of (`HashSet<T>.RemoveWhere`, `SortedSet<T>.RemoveWhere` and `List<T>.Sort`). Do you think that the same notice

[2022-03-09 21:42] jakobbotsch opened #66414 "JIT: Illegal reordering of field read and call on implicit byref"
### Description

In the following program we reorder the read of `S0.F5` with the call in `M5`.
[code]

### Reproduction Steps

Run the program.

### Expected behavior

Same result.

### Actual behavior

Different result.

### Regression?

Caused by #66266 -- we clear address exposure information for implicit byrefs in `fgRetypeImplicitByRefArgs` so morph does not have the necessary information to

[2022-03-09 22:16] #66380 closed

[2022-03-09 22:22] steveharter commented on #66237
This does appear to be a bug; the binding mechanism is supposed to account for parameter names and default values. Even if not supported, `IndexOutOfRangeException` should not be thrown.

[2022-03-09 22:27] aaronfranke commented on #32418
As a follow-up to this discussion, another reason for deprecating `System.Drawing.Color` is that it's extremely inefficient. As explained at the top of #48615, `System.Drawing.Color` contains extra metadata that makes it unusable in interop scenarios and inefficient in arrays. It contains a nullable string for the name (>= 64 bits on a 64-bit system), the color value is stored in a 64-bit `long` d

[2022-03-09 22:34] tommcdon commented on #66174
@agocke  taking a look

[2022-03-09 22:37] aaronfranke commented on #32418
I still think that this proposal is the best idea, or at least something similar (names are up for debate). Lots of things need a general-purpose color type. It would make things easier both in .NET itself and in user-made .NET programs for .NET to have a general-purpose color type.

For concerns about how we can't make a solution general enough to satisfy all use cases, I still disagree that we n

[2022-03-09 22:49] RussKie commented on #66379
@jeffschwMSFT my guess would be something to do with "CultureInfo" or how system languages are enumerated. The Windows Forms and VS are calling into https://github.com/dotnet/runtime/blob/main/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/CultureInfoConverter.cs.

[2022-03-09 22:50] tannergooding commented on #32418
We are going with the approach described in https://github.com/dotnet/runtime/issues/48615 instead.

There will be very basic interchange types covering two of the most common formats (`Argb<T>` and `Rgba<T>`) and that are inline with the general SIMD accelerated/Graphics oriented types already exposed by System.Numerics and that are inline with what similar libraries (DX Math, GL Math, XNA, MonoG

[2022-03-09 22:54] steveharter commented on #65764
Closing based on:

[2022-03-09 22:54] #65764 closed

[2022-03-09 23:10] Jozkee commented on #66170
@danmoseley @jeffhandley before investing time into porting/ensuring that https://github.com/dotnet/corefx/pull/39572 fixes this issue, can you say if this would meet the bar for 3.1 servicing?

[2022-03-09 23:10] layomia opened #66421 "JSON source generator fails with recursive collection type graphs"
The generator fails to handle types such as the following. Failure mode is a runtime stack overflow. New API is likely needed to correctly handle this (hopefully rare) scenario, given that lazy initialization of element type metadata is required:

[code]

See `[ActiveIssue]` additions in https://github.com/dotnet/runtime/pull/66422 for more (complicated) examples.

[2022-03-09 23:13] terrajobst commented on #50406
@davidfowl

This discussion is precisely the reason why we keep saying that interfaces aren't great because it's impossible to easily add over time :-)

If we strongly believe that we need to have feature parity between the interface and the class, we should do `IMemoryCacheX` where X is an incrementing integer. I don't think an interface per feature is a good idea because (1) it doesn't DI any ea

[2022-03-09 23:13] Clockwork-Muse commented on #66255
I'm not aware of any offhand, no.
I don't personally care much about a "will corrupt" remark, because that should be considered the general case.

[2022-03-09 23:14] uecasm opened #66498 "Pseudo-locales don't work in Blazor WebAssembly"

[2022-03-09 23:18] terrajobst commented on #31001
Analyzers aren't a viable alternative for breaking changes in highly used APIs because it would likely immediately break the entire library ecosystem.

[2022-03-09 23:26] ericstj commented on #66386
We don't support MMI here, for issues with it you may file them here https://github.com/PowerShell/MMI.  It should work and many have been successful using it.  Here's a sample: https://github.com/ericstj/sample-code/blob/mmi-samples/mmi-samples/Program.cs.  You can also find usage in https://github.com/powershell/powershell.

The problem is not that `wminet_utils.dll` is missing, it's that it's o

[2022-03-09 23:33] Jozkee commented on #65952
I'm not very familiar with `StreamReader` or `Process.StandardOutput/Input/Error` to know what is happening by just reading the issue description, @tatyana-kostromskaya if you could please share a minimal repro (console app) I could be able to take a deeper look.

[2022-03-09 23:36] jhudsoncedaron commented on #31001
"it would likely immediately break the entire library ecosystem."

With this specific change, I'm anticipating few if any breaking changes in practice from the added default methods. While trying to add new methods to `IEnumerable` and overriding them below does not work, the tight-in checks that mimic this sequence of changes don't fail in the same way.

The next-best alternative is adding `IList

[2022-03-09 23:39] Symbai commented on #66386
Isn't it possible to just copy the required files (the right version of `wminet_utils.dll` for example) to publish folder and use that one? What else is the meaning of self contained when it doesn't contain all required files?

[2022-03-10 00:07] davidfowl commented on #50406
Don't blame the interface, this is a decision we made 😄

[2022-03-10 00:19] terrajobst commented on #31001
The problem, and it has been a while that I looked, was that there were diamond dependencies in how customers implement collection interfaces which would result in `TypeLoadException`s because the runtime can't decide which default implementation to use. At compile time, it would fail to compile, forcing the developer to pick, but at runtime it's basically a fatal crash.

[2022-03-10 00:34] tarekgh commented on #66170
@mattjohnsonpint it is nice to see you around github :-)

I am wondering if this is something really blocking you?  or can migrate to .NET 6.0 to work around this issue?

[2022-03-10 00:34] Jozkee commented on #65930
The comment is not a workaround, it is telling that certain API wasn't ported because `Evidence` is not available in current .NET.

We have decided twice in the past that this isn't a common secenario:
https://github.com/dotnet/runtime/issues/28654
https://github.com/dotnet/runtime/issues/18208

I think keeping the link is fine as it gives good context.

[2022-03-10 00:34] #65930 closed

[2022-03-10 00:56] bmitc commented on #66419
I am thinking this is a .NET Interactive thing at this point as well. I haven't seen this issue since posting it, but I have not been using .NET Interactive in VSCode since then either (on macOS).

[2022-03-10 00:59] bartonjs commented on #44689
Yeah, that's what the ERR_clear_error() is for in CryptoNative_SslRead.  Given that we've always been supportive of other libraries calling into OpenSSL (otherwise we wouldn't have had the SafeHandle-accepting RSAOpenSsl/etc ctors) it has always been possible that this assert tripped because of something a third-party library did.  The new approach of "make it clean, do work, keep it tidy if you k

[2022-03-10 01:05] BruceForstall commented on #66174
Here's where it started failing for the nightly scheduled jitstress run:

https://dev.azure.com/dnceng/public/_build/results?buildId=1644509&view=ms.vss-test-web.build-test-results-tab

[2022-03-10 01:15] danmoseley commented on #66386
From the publishing point of view, it's not that different to user code calling into a native library - it doesn't know about it. This is even more of a corner case, as you only need a local copy if you are deploying to machine with .NET Framework older than 4.6.2. (And BTW, I am not sure we have actually tested with a local copy.)

If there's a good place in the docs we can add the note that Syst

[2022-03-10 01:15] VincentBu opened #66424 "Test failure: JIT/Methodical/NaN/intrinsic_nonf_il_r/intrinsic_nonf_il_r.sh"
Run: [runtime-coreclr outerloop 20220309.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1654199&view=ms.vss-test-web.build-test-results-tab&runId=45600486&resultId=108521&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-10 01:17] danmoseley commented on #66170
That's curious, it's not obvious to me that dotnet/corefx#39572 is Arm64 specific.

[2022-03-10 01:22] danmoseley commented on #66255
I agree, I am indifferent about a note in `List<T>.RemoveAll`, really just because you evidently hit it, I do not think it is worth an effort to start adding it more places. As we said above, throwing from your delegate is a bug; it is best to fix the bug, not consult the documentation or analyze implementations to see whether you can possibly continue. Just fix it 😄

[2022-03-10 01:22] VincentBu opened #66425 "Test failure System.Text.Json.Serialization.Tests.WriteValueTests.CanWriteValueToJsonArray"
Run: [runtime-coreclr libraries-jitstress 20220308.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1653303&view=ms.vss-test-web.build-test-results-tab&runId=45585162&resultId=182910&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-10 01:24] theodorzoulias opened #66426 "[API Proposal]: Add readonly Capacity property to HashSet<T> and Dictionary<K,V> and TrimExcess to HashSet<T>"
### Background and motivation

The complexity of enumerating a [`HashSet<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.hashset-1) or a [`Dictionary<TKey, TValue>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.dictionary-2) is determined not by its `Count`, but by its internal capacity. There are scenarios where both of these structures are en

[2022-03-10 01:35] AaronRobinsonMSFT commented on #66154
@am11, @lambdageek, @elinor-fung Once https://github.com/dotnet/runtime/pull/66427 is merged, I believe that `coreclr/` is clean according to this issue. How can I help with `native/` or `mono/`?

[2022-03-10 01:39] AaronRobinsonMSFT commented on #64082
@FutureCompute and @songge-MS Which version of Visual Studio is being used?

[2022-03-10 01:49] theodorzoulias commented on #66255
@danmoseley why throwing from a delegate is a bug, and throwing from anywhere else is not a bug?
Not being allowed to throw from a delegate means that you can't use a gazillion of APIs that interact with the outside world. Including network-related APIs, database-related APIs, filesystem APIs etc. AFAIK this limitation is not currently documented, and for all intents and purposes it doesn't exist

[2022-03-10 02:04] StratosBlue commented on #66383
@atakanozceviz

- In most cases. Do not build ServiceProvider repeatedly.
- When use miniapi. Maybe you can access IConfiguration by `builder.Configuration` instead of ServiceProvider.

In fact
[code]
will get the same object as `builder.Configuration`.

And this `using`
[code]
will dispose all disposeable object in serviceProvider. So that the ConfigurationManager was disposed.

[2022-03-10 02:17] AaronRobinsonMSFT commented on #52768
This no longer repros on VS 2022 with a Checked build out of main. I am able to take the above repo and launch or attach to the process. I set a breakpoint at `FilterCustomAttributeRecord` and was able to continue to step and step into various methods.

[2022-03-10 02:45] danmoseley commented on #66255
No, it means you have to catch any exceptions. As a general rule you cannot assume that someone else's code can safely accept your exceptions unless it's documented to do so, and these delegates don't.

I'm not sure I follow the question. If you mean -- what is the benefit of not guaranteeing safety when exceptions are thrown from delegates -- then the answer is, it increases complexity and constr

[2022-03-10 02:53] mattjohnsonpint commented on #66170
Hi @tarekgh!  I'm working at Sentry now, on their client SDKs with @bruno-garcia.  This came up because `Process.StartTime` is used in a core path that our unit tests hit, and we support clients that are building for many versions of .NET.  We're working around the test failures for now by skipping, but that's just burying the issue.  In reality, we have customers who have built .NET Core 3.1 apps

[2022-03-10 02:57] tarekgh commented on #66379
@RussKie Culture enumerations depends on the underlying globalization libraries. It is the decision of the Unicode Standard through ICU to not enumerate the "no" culture. The current enumerated Norwgian cultures are

[code]

Which I believe covers all cases for that language. right? `no` by itself is not a language.

The .NET prefers to stick with whatever the Unicode Standard decides for parity a

[2022-03-10 03:16] tarekgh commented on #66379
@jefgen looking at https://github.com/unicode-org/cldr/pull/1031, what ICU version will have this change? Why is the ICU version on Windows not having this change?

[2022-03-10 03:22] danmoseley commented on #66323
`Returns null when the path is not available.` is pretty typical non committal type text when we're essentially wrapping an OS API that's generally assumed to work. Both because (a) the OS does not always document the circumstances in which it fails (b) the OS sometimes changes or has bugs (c) it varies by OS. As you say, on Windows it apparently won't ever return null but suffers from a nullabili

[2022-03-10 03:22] #66323 closed

[2022-03-10 03:25] danmoseley commented on #66426
The usual concern with these very commonly instantiated generic types is that making them larger grows the generated code many times over in a typical app. Clearly the added code here would be minimal but we would need some evidence that this is a common enough need.

[2022-03-10 03:26] #65074 closed

[2022-03-10 03:30] #65991 closed

[2022-03-10 03:30] theodorzoulias commented on #66255
@danmoseley honestly I don't think that have been given a clear answer to my questions, to which I can agree or disagree. You [said earlier](https://github.com/dotnet/runtime/issues/66255#issuecomment-1060203234) that _"one can assume at a very minimum that throwing an exception into library code is not safe unless explicitly documented otherwise"_ (another way of saying that _"throwing from your

[2022-03-10 03:31] smhmhmd opened #66430 "'dotnet test' issues on AWS Graviton"
### Description

'dotnet test' does not have arm64 arch support, arm arch is supported but runs into exception on AWS Graviton.

### Reproduction Steps

On AWS Graviton (arm64) instance, create test project using ``$ dotnet new xunit -o tests && cd tests``

### Expected behavior

'dotnet test --arch arm64' is expected to work just like 'dotnet test'

### Actual behavior

Issue 1 -  'dotnet test --

[2022-03-10 03:35] CristianYairGutierrez commented on #66383
were you able to fix it? i have the same problem just today

[2022-03-10 03:35] mconnew commented on #29270
CoreWCF is using an implementation based off of the asp.net core version. You can find it here: https://github.com/CoreWCF/CoreWCF/blob/main/src/CoreWCF.Primitives/src/CoreWCF/Security/NegotiateInternal/NegotiateInternalState.cs

I agree with @wfurt about not throwing exceptions. Exceptions are expensive to throw and handle, and a malicious client can cause a server to throw at will by sending a s

[2022-03-10 03:56] theodorzoulias commented on #66426
@danmoseley my actual recent case of needing this API was with a `HashSet<T>`. I don't remember ever needing it with `Dictionary<TKey, TValue>`, so as far as I am concerned adding it only on the `HashSet<T>` would be OK.

[2022-03-10 03:58] jefgen commented on #66379
The changes for that PR were done for [CLDR-14493](https://unicode-org.atlassian.net/browse/CLDR-14493), which was integrated into ICU 69.

It makes "no" become a parent locale for both "nb" and "nn", instead of "nb" being deprecated and aliasing to "no". This change matches with now NLS handles the locales. However, IIRC, in ICU 68, "no" is aliased to "nb", so it wouldn't be enumerated.

The Wind

[2022-03-10 04:04] archanox commented on #36748
I've thrown this up on gitpay to try and attract developers to perform this work https://gitpay.me/#/task/607

[2022-03-10 04:10] danmoseley commented on #66426
@jkotas what would your concern level be about the bytes generated by a simple getter over a field? `int Capacity { get { return _entries.Length; }}`

[2022-03-10 04:30] markiservera opened #66460 ".Netcore 3.1 Error using PasswordDeriveBytes.CryptDeriveKey"
### Description
I'm currently porting an ASP.NET app (.NET 4.8) to ASP.NET Core MVC (3.1)

[code]
this code is used to encrypt something on the url but when used on .net core mvc its returns an error, the new app is using docker.

`PlatformNotSupportedException:'CryptDeriveKey' requires Windows Cryptiographic API`

Is there any workaround or fix for this?

### Configuration

### Regression?

### O

[2022-03-10 04:43] jkotas commented on #66426
I am ok with it. It has to also check for `_entries == null`.

[2022-03-10 04:52] #3452 closed

[2022-03-10 04:59] jkotas commented on #52768
It is still crashing for me.

[2022-03-10 05:10] #66414 closed

[2022-03-10 05:33] FutureCompute commented on #64082
@AaronRobinsonMSFT I use Visual Studio 2022, as the document suggests.

[2022-03-10 05:41] tarekgh commented on #66379
Thanks @jefgen, is it scheduled yet when the ICU will get updated?

[2022-03-10 05:42] tarekgh commented on #66379
I am closing this issue as the ICU update should fix this issue. @jefgen may inform us when this will happen.

[2022-03-10 05:42] #66379 closed

[2022-03-10 05:44] arwa-techpk commented on #66383
It was working fine for previous SDK 6.0.100 & VS.
To confirm the error that it is with this update. I updated my VS, using VS installer. And it take 1.4GB of update.
And then this error start showing

[2022-03-10 05:47] BrennanConroy commented on #66383
This issue is being tracked by https://github.com/dotnet/aspnetcore/issues/40614

[2022-03-10 05:52] magole commented on #55601
@vcsjones for the item:

maybe worth checking if **BCryptDuplicateKey** can be used on an already imported key.

[2022-03-10 05:55] MythicManiac commented on #29861
@Hoffs I'm confident I have a project with the issue I presented, but I don't have it available here right now and given it's going a bit off topic, let's just leave it as IMO it'd be better to explicitly disallow non-nullable fields for the serializer, or alternatively make it respect the constraints they imply.

[2022-03-10 06:23] Symbai commented on #66386
On publishing a WPF application it does copy native files WPF requires to the output folder. Why can it do that on WPF but not when System.Management (or MMI) is referenced? Or let me rephrase that: If it's able to do that on WPF, can we do the same on System.Management (or MMI)? Both (all three) are not third party but products of Microsoft.

[2022-03-10 06:43] elinor-fung commented on #66154
A number of the additional warnings listed that must be fixed wouldn't be under /W3 - are those already explicitly enabled for `coreclr/`?
- C4244 (level 3 and 4)
- C4610 (level 4)
- C4611 (level 4)
- C4701 (level 4)
- C4703 (level 4)

I know they are not enabled for the host.

C4700 is level 1 and 4, but it is explicitly enabled by configurecompiler.cmake.

[2022-03-10 06:55] performanceautofiler[bot] opened #66466 "Regressions in System.Text.Json.Serialization.Tests.ReadJson<Hashtable> and <ArrayList>"
### Run Information

Architecture | arm64
-- | --
OS | Windows 10.0.19041
Baseline | [d9eafd0c55ff7c3d7804c7629baf271703df91a6](https://github.com/dotnet/runtime/commit/d9eafd0c55ff7c3d7804c7629baf271703df91a6)
Compare | [e18a77feff92fe6cdf8b891aa3b44fb1acb972d1](https://github.com/dotnet/runtime/commit/e18a77feff92fe6cdf8b891aa3b44fb1acb972d1)
Diff | [Diff](https://github.com/dotnet/runtime/compa

[2022-03-10 06:55] performanceautofiler[bot] opened #66464 "Regressions in MicroBenchmarks.Serializers.Json_ToStream<MyEventsListerViewModel>"
### Run Information

Architecture | arm64
-- | --
OS | Windows 10.0.19041
Baseline | [5ff9efa553655c707aba44aa8fa69be4d00f1fd9](https://github.com/dotnet/runtime/commit/5ff9efa553655c707aba44aa8fa69be4d00f1fd9)
Compare | [3383c7f656c0763245f33ee99357b36c4e3343b8](https://github.com/dotnet/runtime/commit/3383c7f656c0763245f33ee99357b36c4e3343b8)
Diff | [Diff](https://github.com/dotnet/runtime/compa

[2022-03-10 08:19] VincentBu opened #66439 "Test failure JIT/HardwareIntrinsics/General/Vector128/Vector128_ro/Vector128_ro.sh"
Run:[ runtime-coreclr outerloop 20220309.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1655295&view=ms.vss-test-web.build-test-results-tab&runId=45628694&resultId=109812&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-10 08:23] VincentBu opened #66441 "Test failure JIT\\jit64\\opt\\osr\\osr001\\osr001.cmd"
Run: [runtime-coreclr r2r 20220309.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1655647&view=ms.vss-test-web.build-test-results-tab&runId=45633378&resultId=100830&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-10 09:01] Linlccc commented on #66394
@eerhardt I will implement the `IServiceScope` , `IServiceScopeFactory` interface, and then use `services.AddScoped<IServiceScopeFactory, CustomServiceScopeFactory>();` to register `IServiceScopeFactory`

However, the `app.Services.CreateScope();` method does not use the `CreateScope` method I defined, and the obtained object is the Asp.Net Core default `ServiceProviderEngineScope` type

Note: `ap

[2022-03-10 09:08] rzikm commented on #46837
I suspect this has been fixed since disabling the tests (e.g. by https://github.com/dotnet/runtime/pull/57381). I put up PR which reenables the tests and they seem to pass.

[2022-03-10 09:11] sanderbos1402 commented on #66383
changing the logic from using services.BuildServiceProvider and then constructing the service works as expected.
This just means we have to change out dependency injection helper methods that use this logic.
But this seams to solve all the problems

[2022-03-10 09:13] deeprobin commented on #61702
@mangod9 Is a fix still realistic before support ends (May 7 as far as I know)? If not, the Milestone 6.0.0 would be imo better (if @chrisfcarroll verifies that this crash also occurs on .NET 6).

[2022-03-10 09:22] egbertn opened #66442 "Failure processing application bundle. @area-Single-File"
### Description

When publishing a .net 6.0 (sdk 101 and 202) on an ubuntu x64 system,
Failure processing application bundle.
Bundle header version compatibility check failed.
A fatal error occured while processing application bundle
occurs.

### Reproduction Steps

Install either .net sdk 101 or 202 on ubuntu (I have 20.04)
publish a .net core 6.0 console project with
dotnet publish --os linux --

[2022-03-10 09:24] egbertn commented on #66442
@area-Single-File

[2022-03-10 09:37] james-uffindell-granta opened #66444 "No Ijwhost.dll when referencing C++/CLR NuGet package from .NET 6 C# app"
It's possible I'm missing something, but I can't find any clear documentation on how Ijwhost.dll is supposed to work, so I thought I'd ask here.

I have a C++/CLR project targeting .NET 5, and when this is built in Visual Studio, Ijwhost.dll ends up in the bin/ folder alongside the compiled dll. If I reference this from a .NET 6 C# project in the same solution using `<ProjectReference>`, then Ijwh

[2022-03-10 09:45] #65942 closed

[2022-03-10 09:51] VelvetThePanda opened #66445 "Setting SlidingExpiration on a CacheEntry has some seemingly undocumented behavior"
### Description

👋🏽 Wanted to preface this by saying: First time opening an issue here, please correct me if I misspeak.

This issue stems from the implementation of the `Microsoft.Extensions.Caching.Memory` package, and from the looks of it, specifically on `CacheEntry`. While looking into this issue, I wanted to make sure someone else hadn't already reported it, but the closest I could find rega

[2022-03-10 10:04] eiriktsarpalis commented on #66421
Does this specifically concern fast path serialization? Can you share a repro?

[2022-03-10 10:24] vitek-karas commented on #66444
The `ijwhost.dll` needs to be part of NuGet when published, after that the rest should work fine.
@jkoritzinsky would you know how to make it part of the NuGet package?

Also: moving this to the SDK repo where it belongs.

[2022-03-10 10:31] vitek-karas commented on #66091
Based on the fact that the files are locked by VS this feels more on the debugger side of things. @tommcdon any idea who to ask about this?

I don't have a clear idea why one plugin works and the other doesn't - it could be that the debugger didn't have a reason to load symbols for one, while it did have a reason for the other (just guessing, but maybe if one throws an exception and the other does

[2022-03-10 10:50] vitek-karas commented on #66442
Could you please try this:
* `export COREHOST_TRACE=1`
* `export COREHOST_TRACEFILE=host.txt`
* repro the problem
* collect the `host.txt` file

Please note that the trace will contain information like local paths, environment variables and potentially other information about the machine. If you're OK with that, please share the trace file.

[2022-03-10 11:16] egbertn commented on #66442
Tracing enabled @ Thu Mar 10 11:15:34 2022 GMT
--- Invoked apphost [version: 6.0.3, commit hash: c24d9a9c91c5d04b7b4de71f1a9f33ac35e09663] main = {
./CB_Room40
}
The managed DLL bound to this executable is: 'CB_Room40.dll'
Detected Single-File app bundle
Looking for architecture specific install_location file in '/etc/dotnet/install_location_x64'.
The install_location file ['/etc/dotnet/install_lo

[2022-03-10 11:25] egbertn commented on #66442
You can mark this as solved. .net 6 was installed in /opt/dotnet
and in the past, v5 was installed in /usr/share/dotnet
After removing /usr/share/dotnet it works.
Also it was necessary in my case to do this...
export DOTNET_ROOT=/opt/dotnet
somehow the loading process still was looking for /usr/share/dotnet

[2022-03-10 11:25] chrisfcarroll commented on #61702
I'm really sorry I'm likely to let you down if it comes to meeting a deadline: I didn't get to this last week and now my Mac is in for keyboard repair till next week.

If I can I'll try to reproduce next week and report back.

[2022-03-10 11:29] #66442 closed

[2022-03-10 11:32] huoyaoyuan commented on #27292
If such mechanism has already been used, I should be able to complete this. I have already done managed parts.

[2022-03-10 11:34] vitek-karas commented on #66442
The `/usr/share/dotnet` is the default install location - so any .NET program knows to look there. Any other location needs to be somehow specified, either via env. variable (`DOTNET_ROOT`) or registered in config `/etc/dotnet/install_location`. For more details see [Install locations](https://github.com/dotnet/designs/blob/main/accepted/2020/install-locations.md) and for multi-arch systems also [

[2022-03-10 11:59] noahfalk commented on #50406
dotnet-counters learned new tricks to complement the new Meter APIs in .NET 6. If you run this code:
[code]

Then you can monitor that with dotnet-counters and see dimensions populated dynamically:
[code]

That limitation is still there for EventCounters, but the new Meter APIs support dimensions: https://docs.microsoft.com/en-us/dotnet/core/diagnostics/metrics-instrumentation#multi-dimensional-me

[2022-03-10 12:34] rzikm commented on #30172
I don't see this failure in the CI reports anymore, closing for now.

[2022-03-10 12:34] #30172 closed

[2022-03-10 12:38] Tornhoof commented on #66445
I'm not sure why you assume that it needs to be accessed atleast once, the current behavior makes sense from an usage perspective, if you don't use the cache it will get evicted. It would be strange, from my pov, if it would only get evicted if you'd used it atleast once.

I'm not sure why you think this is undocumented behaviour, the link you have states:
``Gets or sets how long a cache entry can

[2022-03-10 13:06] markm77 opened #66448 "[API Proposal]: Ensure configuration secrets come from appropriate provider (e.g. key secret provider)"
### Background and motivation

I am using the ASP.NET Core options pattern for configuration in an open-source library/web app product.

Some options classes contain very sensitive configuration (e.g. private keys) which should not be provided by `appsettings.json` files but only key secrets providers or environment variables (depends on customer production environment). On the other hand, it is f

[2022-03-10 13:09] sschultze opened #66449 "GZipStream doesn't write anything to the target stream when there was no write operation"
### Description

If you create a GZipStream CompressionMode.Compress and don't call the Write method (because there is no data), GZipStream writes nothing to the target stream.

### Reproduction Steps

[code]

### Expected behavior

GZipStream writes at least the GZIP signature (0x1f 0x8b) and some other required stuff to the target stream.

In the reproduction steps, if you enable to workaround,

[2022-03-10 13:10] stephentoub commented on #66255
Exceptions, by definition, are meant to be exceptional.  They can occur at any time.  Out of memory conditions (which can occur for a multitude of reasons, including explicit allocation in your code, implicit allocation in your code, implicit allocations generated by the language compiler, even allocations from the runtime such as when the JIT compiles or recompiles code), unexpected network hiccu

[2022-03-10 13:13] kimsey0 commented on #43027
Now that we have default interface methods, can't we add this in a non-breaking way?
[code]

[2022-03-10 13:59] tmds opened #66450 "[API proposal]: add ProcessStartInfo constructor that accepts IEnumerable<string> arguments."
## Background and motivation

Starting a process should be easy when you have an `IEnumerable<string>` with arguments.

This is true if you can use the static `Process.Start` overload that accepts an `IEnumerable`.

If you need to use `ProcessStartInfo` to make additional configuration, like redirecting the streams, there is no way to pass in the `IEnumerable<string>`.

`Process.ArgumentList` is a

[2022-03-10 14:15] TylerBrinkley commented on #31001
@eiriktsarpalis I do not think your diamond problem example is analagous to what's proposed here. In your example you added a completely new member and defined multiple DIM's for it across different interfaces that do not inherit from each other. That is quite different to this proposal which does not add any new members and only has a single DIM defined for each member.

Everytime I look at this

[2022-03-10 14:23] kimsey0 commented on #43027
Yes, and I propose that that can be achieved in a non-breaking way by having the `IHost` interface implement the `IAsyncDisposable` interface with a [default implementation](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#default-interface-methods) for the `DisposeAsync` method by adding the above-mentioned snippet to `IHost`. 🙂

[2022-03-10 14:45] #44689 closed

[2022-03-10 14:50] Wraith2 commented on #65562
Version 3.22.2. If you use `cmake --version` from the commandline and it has an MSVC in the version string you're using the version from visual studio. Just take the latest stable from the CMake website and install that then ensure that it's on path before the vs version.

[2022-03-10 14:50] a-jackson commented on #61798
I'm hitting this issues with concurrent requests on AWS SDK for SQS. Is there any workaround? We are using a proxy where this error is seen and not getting on dev machine where there is no proxy.

[2022-03-10 15:14] ulrichb opened #66451 "Behavior change of non strong named assembly resolution (vs. .NET Full Fw)"
.NET Full Fw always ignored the assembly name version for non-strong named assemblies. Now I mentioned that in .NET Core (at least as of .NET 6) this has been changed to a "lower or equal than resolved version" policy (and higher versions fail with a `FileNotFoundException`).

In the code snippet at the bottom I tested this on the example of the non-string named `Dapper` assembly (package version`

[2022-03-10 15:23] lewing commented on #66384
@xinsiyu2008 I'm not sure I completely understand your problem.  Can you provide sample code that demonstrates the issue you are seeing?

[2022-03-10 15:24] AaronRobinsonMSFT commented on #66154
@elinor-fung Well shoot. I read the following as they are on by default for `/W3`

Your investigation though does seem to confirm they aren't. Well, looks like I need to reconsider that. Some are definitely on for `/W3` but agreed not all.

[2022-03-10 15:33] lewing commented on #66287
@sajjadarashhh without knowing more about your app it is difficult to understand what is causing it to be so large.  We are considering several approaches to help reduce the final size of an AOT'd wasm app for .NET 7 and it would be helpful to that work if you could share more details about the problems you are seeing.

[2022-03-10 15:47] lewing commented on #66118
This is especially tricky for wasm given that different wasm runtimes have different limits and at times use wildly different amounts of execution stack for the same code.  For AOT we may need to make a configurable limit based on testing.

[2022-03-10 15:48] vitek-karas commented on #66451
I'll try to answer at least partially:

a) Changes to the resolution logic - .NET Framework had a complex set of rules which sometimes allowed multiple versions of the same assembly to be loaded at the same time (and another complex set of rules as to which version will be used when resolving assembly references, which could allow downgrades as you discovered). This created unexpected and really h

[2022-03-10 15:50] stephentoub commented on #66118
A configurable limit in TryEnsureSufficientExecutionStack, or a configurable limit everywhere that uses TryEnsureSufficientExecutionStack?  I don't think the latter is reasonable in general (even if we were to do so everywhere we use it, we can't expect that to be true for all 3rd-party usage), but if there's really no way to correctly implement TryEnsureSufficientExecutionStack on wasm, imbuing i

[2022-03-10 15:51] maryamariyan commented on #50590
marked up for grabs

[2022-03-10 15:52] lewing commented on #66118
A limit in TryEnsureSufficientExecutionStack, agreed about the latter. @radekdoulik can you take a look at this.

[2022-03-10 15:52] MMOSimca commented on #64305
I was having trouble getting your DLL to work so I gave up for a while but then I realized I'm dumb and downloaded the first version of your DLL.

The latest one you posted works perfectly to give a more direct stack trace. It's a hell of a lot more useful than the vague 'unknown socket error' results anyway which Google will lead you exclusively this thread.

[code]

We've tried dozens and dozens

[2022-03-10 15:53] maryamariyan commented on #61675
marked up for grabs

[2022-03-10 16:02] sebastienros commented on #50406
@noahfalk that's awesome, and then I think it would be great for MemoryCache instance if we can name them and use it as the dimension. That's what you referred to @eerhardt ?

[2022-03-10 16:10] lewing commented on #65881
cc @SamMonoRT

[2022-03-10 16:13] ulrichb commented on #66451
@vitek-karas Cool. Many thanks for your detailed answer and for creating https://github.com/dotnet/docs/issues/28611!

[2022-03-10 16:17] WeihanLi opened #66454 "[API Proposal]: `Math.Percentile(double[] sequence, double percentile)`"
### Background and motivation

Help to calculate percentile more efficiently

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

Maybe we could consider using the [`INumber`](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/INumber.cs) to allow `int[]`/`float[]` and more

### Risks

Should be fine since it will be a new API

[2022-03-10 16:25] sliderhouserules commented on #64305
Basic breakdown of our application:

- Kestrel-based Web Api project with an IHostedTask that communicates (all async) with AWS
- We read/write to S3 heavily, read/post to SQS heavily (and in parallel with the S3 comms)
- We have a sync job that runs the CPU to 100% for part of the time (with the SQS stuff continuing to run in parallel in the background to keep the message alive)

What we're deali

[2022-03-10 16:26] eerhardt commented on #43027
@bartonjs can correct me if I'm wrong, but I believe this is the one rule we know about default interface methods - you can't use them in an interface to provide an implementation for another interface's method. When you do this, you can cause diamond issues.

[2022-03-10 16:45] eerhardt commented on #50406
Yes.

[2022-03-10 16:51] vsfeedback opened #66456 "Updating to the latest DF build (17.0.0 Preview 5 31801.437.main) results in broken .NET Core 3.1 component"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Updating-to-the-latest-DF-build-1700-/1544789)._

---
[severity:My work is severely impacted or blocked (internal MSFT only)] [regression] [worked-in:17.0.0 Preview 4]
I have the .NET Core 3.1 individual component selected for my installation, and after the most recent update, the versio

[2022-03-10 16:51] vsfeedback opened #66457 "DateOnly data type not resolved in net5.0"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/DateOnly-data-type-no-longer-responsive/1578195)._

---
![Screenshot (1).png](https://aka.ms/dc/image?name=Be1f88f91dc034888998b8ed2dc88f8d9637721340544469394_Screenshot_(1).png&tid=e1f88f91dc034888998b8ed2dc88f8d9637721340544469394)

---
### Original Comments

#### Feedback Bot on 11/10

[2022-03-10 16:53] stephentoub commented on #66457
DateOnly was introduced in .NET 6.  It doesn't exist in .NET 5.

[2022-03-10 16:53] #66457 closed

[2022-03-10 17:04] vsfeedback opened #66459 "Yum mirror for EL7 (https://packages.microsoft.com/rhel/7/prod/) has incorrect metadata."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Yum-mirror-for-EL7-https:packagesmic/1594610)._

---
[severity:It's more difficult to complete my work]
It seems that a metadata package inside of the repo is not up to date (even though the time stamps are). We are getting this error from our syncing process:
Error: An error occurred du

[2022-03-10 17:13] radekdoulik opened #66461 "[wasm] Make AOT build produce equal binaries on windows and mac"
Currently the `.wasm` files from AOT builds of wasm apps differ. Try to make them deterministic and produce same output.

Example difference, where function indexes are different:
[code]

[2022-03-10 17:21] layomia opened #66463 "Consolidate sync/async JsonSerializer test abstractions into single type and expand async coverage for reference handler feature"
Consolidate sync/async JsonSerializer test abstractions into single type and expand async coverage for reference handler feature.

From @eiriktsarpalis in https://github.com/dotnet/runtime/pull/66422#discussion_r823571429:

[2022-03-10 17:21] DrewScoggins commented on #66464
Looks related to https://github.com/dotnet/runtime/pull/66248

[2022-03-10 17:24] DrewScoggins commented on #66343
We are also seeing a regression on Arm64

### Run Information

Architecture | arm64
-- | --
OS | Windows 10.0.19041
Baseline | [b463b1630dbf1be5b013208a9fa73e1ecd6c774c](https://github.com/dotnet/runtime/commit/b463b1630dbf1be5b013208a9fa73e1ecd6c774c)
Compare | [c6ca9dc012bfd1a1fca7b6a2139d20368a258deb](https://github.com/dotnet/runtime/commit/c6ca9dc012bfd1a1fca7b6a2139d20368a258deb)
Diff | [Dif

[2022-03-10 17:32] kimsey0 commented on #43027
I didn't know this rule, but it makes sense. Implementing a method from another interface doesn't seem to be disallowed, but if you implement two interfaces which both have default implementations of a third interface's method and don't yourself implement that method, you get a an error:

[code]
gives `CS8705 Interface member 'IAsyncDisposable.DisposeAsync()' does not have a most specific implemen

[2022-03-10 17:34] DrewScoggins commented on #66466
Seems to be related to https://github.com/dotnet/runtime/pull/65748. The last test has a second regression over this time period https://github.com/dotnet/runtime/compare/f132942f1a490336cddc06f99abf38226bd9748e...4e7501584427e72f62c72c07a2a1fafa6a3199e3, but we were unable to find a likely commit.

[2022-03-10 17:41] fanyang-mono commented on #64389
This has happened again for rolling build #20220308.49 on lane `Libraries Test Run release coreclr windows x86 Release`. This is the link to the build https://dev.azure.com/dnceng/public/_build/results?buildId=1652032&view=logs&j=457f7e88-dfa2-5bd9-f871-fdf124c2477d&t=bfe52dfb-2099-5c7f-ee52-70a1d81c544e

[2022-03-10 17:43] tannergooding commented on #66454
I'm not personally convinced this is worthwhile to expose in the BCL.

Noting that I do think this can be a useful function. However, this isn't a function that is commonly provided by other runtimes, but rather more often by additional dependencies you pull in. Likewise, it isn't a function that requires an overly complex implementation or even specialized IEEE 754 handling logic to guarantee cor

[2022-03-10 17:45] tommcdon commented on #52768
@jkotas Does it fail due to an assert in mscordbi/mscordaccore? If so does @hoyosjs's workaround resolve the issue?

[2022-03-10 17:45] DrewScoggins commented on #66466
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [d9eafd0c55ff7c3d7804c7629baf271703df91a6](https://github.com/dotnet/runtime/commit/d9eafd0c55ff7c3d7804c7629baf271703df91a6)
Compare | [e18a77feff92fe6cdf8b891aa3b44fb1acb972d1](https://github.com/dotnet/runtime/commit/e18a77feff92fe6cdf8b891aa3b44fb1acb972d1)
Diff | [Diff](https://github.com/dotnet/runtime/compare/d9e

[2022-03-10 17:45] jeffschwMSFT commented on #66419
Is it possible to capture a dump of these processes?  That would help us determine what is running and why it may be consuming so much cpu.  Thanks

[2022-03-10 18:07] anthonycanino opened #66467 "[API Proposal]: Expose xarch serialize instruction."
### Background and motivation

Currently, the `cpuid` instruction also functions as a full serializing instruction --- one that ensures all modifications to flags, registers, and memory are drained before the next instruction can execute --- on x86 hardware. Executing a serializing instructions on P6 and more recent processor families constrain speculative execution because the results of speculat

[2022-03-10 18:09] Jozkee commented on #66170
Linking similar Linux issue https://github.com/dotnet/runtime/issues/64742.

[2022-03-10 18:16] Jozkee commented on #64512
I would personally prefer a DebuggerDisplay before a ToString override but I think both options are feasible. cc @bartonjs.
Linking related Framework Design Guidelines: https://stackoverflow.com/a/10278430/4231460.

[2022-03-10 18:38] elinor-fung opened #66469 "System.Text.Json.Tests crashing from `Debug.Assert` in `JsonSerializerOptions.GetJsonTypeInfoFromContextOrCreate`"
From [test result](https://dev.azure.com/dnceng/public/_build/results?buildId=1656092&view=ms.vss-test-web.build-test-results-tab&runId=45638452&resultId=186126&paneView=debug) and [log](https://helix.dot.net/api/2019-06-17/jobs/0dd3f850-9e1a-4e47-899e-0a01d678d82f/workitems/System.Text.Json.Tests/console) from https://github.com/dotnet/runtime/pull/66332 - the example failure was on Linux arm64 o

[2022-03-10 18:40] eiriktsarpalis commented on #66466
Duplicate of #66341

[2022-03-10 18:40] #66466 closed

[2022-03-10 18:43] TanayParikh commented on #65750
Re-opening the issue per discussion in https://github.com/dotnet/aspnetcore/pull/40353#issuecomment-1064369745.

cc/ @carlossanlop, @Jozkee

[2022-03-10 18:45] eiriktsarpalis commented on #66469
Hmm, we might want to use a volatile write for `IsInitializedForReflectionSerializer` here:
https://github.com/dotnet/runtime/blob/406d8541926a608ec636b8e4865b4d168273aba3/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs#L591-L592

[2022-03-10 18:53] deeprobin commented on #50902
@bartonjs

Wouldn't a `float` suffice for this case?

[2022-03-10 18:55] radical commented on #65881
I made that a `g_error` only to catch any places that might break, or have a warning. And that did fail in a runtime test - https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-65917-merge-5dd64c2e0e4841a3b8/JIT.Regression.CLR-x86-JIT.V1-M12-M13/1/console.dece4869.log?sv=2019-07-07&se=2022-03-18T10%3A59%3A19Z&sr=c&sp=rl&sig=dKxystVzZsraXvMdU%2FMMp%2FwCzLZ3SceToAOSnbTHOdE

[2022-03-10 18:56] elinor-fung commented on #66425
I think this going to be the same root issue as https://github.com/dotnet/runtime/issues/66469.

[2022-03-10 18:57] deeprobin commented on #782
@khellang Are you okay with the test cases listed by @YohDeadfall?

[2022-03-10 18:59] scalablecory opened #66470 "[API Proposal]: Uri from interpolated string"
### Background and motivation

I frequently see code like this:

[code]

I'd rather do something like:

[code]

(Note, this is integrating the "base uri" into the format string. Not sure of corner cases but it feels pretty natural)

May be able to use a format string to indicate "%20" vs "+" style escaping.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

#

[2022-03-10 19:04] tannergooding commented on #66467
Thanks for the proposal here! I've gone ahead and marked it ready for review.

Notably, we can't name the class and method both `Serialize` so we will need to disambiguate somewhere. Just an initial thought/suggestion is `X86Serialize.Serialize` which would also ensure the class isn't itself more generally conflicting.

I don't have a strong preference, however.

[2022-03-10 19:11] #66324 closed

[2022-03-10 19:12] runfoapp[bot] opened #66471 "Some System.IO tests failing with 'no space left on device'"
Runfo Tracking Issue: [Some System.IO tests failing with 'no space left on device'](https://runfo.azurewebsites.net/tracking/issue/305)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1654365](https://dev.azure.com/dnceng/public/_build/results?buildId=1654365)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[P

[2022-03-10 19:13] MMOSimca commented on #64305
Holy crap, my teammate solved it.

This was the entire fix:
![image](https://user-images.githubusercontent.com/5216692/157737082-1758b9d7-9ac8-4bf9-bbc9-79cb79f0604f.png)

I'm still in disbelief about it.

How? Why? How did this code function perfectly for 100s of requests and then suddenly stop, ruining all traffic to and from the service? Why would it sometimes recover? Why was it crazily interm

[2022-03-10 19:16] agocke commented on #66471
Dup of https://github.com/dotnet/runtime/issues/66395

[2022-03-10 19:16] #66471 closed

[2022-03-10 19:18] roji opened #66472 "IStructuralEquatable.Equals on array throws for multidimensional arrays"
### Description

Array implements IStructuralEquatable, but its Equals implementation throws if a multi-dimensional array is passed.

### Reproduction Steps

[code]

### Expected behavior

The method is expected to return true or false.

### Actual behavior

Exception:

[code]

### Regression?

_No response_

### Known Workarounds

One can avoid using IStructuralEquatable or StructuralComparisons.

[2022-03-10 19:19] AaronRobinsonMSFT commented on #66154
@danmoseley Perhaps. Let me see how noisy that becomes.

[2022-03-10 19:24] stephentoub commented on #64305
That naming stems from 20 years ago when .NET Framework was introduced and ran solely on Windows.  The name may still include Win32, but almost everything in that namespace was made to function well on Unix as well.  We just can't change the name for compatibility reasons.

It wraps a handle on Windows or a file descriptor on Unix.  It basically provides a finalizer that can close such a handle/fi

[2022-03-10 19:38] stephentoub commented on #64305
A 0 handle is invalid on Windows, so this was effectively a nop.

It's valid to create such a SafeFileHandle, e.g. if someone wanted to use it to read from stdin.

[2022-03-10 19:39] MihaZupan commented on #61798
@a-jackson are you saying you are hitting #65379 specifically?

[2022-03-10 19:40] radical commented on #66149
We could add some error checking to that code, like https://gist.github.com/radical/0cf3dc140068c05f3c2a988ddd9d89c8

[2022-03-10 19:50] MMOSimca commented on #64305
Is it a rare enough use case that it is still worth doing a warning and having people who are doing it just add the warning ignore stuff around it to remove that?

I don't want to inconvenience people but this cost me months. I'm willing to accept that the real problem was PEBKAC, but surely I cannot be alone in experiencing this (not sure yet if @sliderhouserules has the same issue or not).

Why

[2022-03-10 19:50] a-jackson commented on #61798
@MihaZupan I would guess that's the problem I'm having. I can't say say specifically that's it exactly. I only have error logs to go on. This is only reproducible on our servers where I'm unable to debug.

I've seen all the exceptions listed in the top post here as well as one from AWS "The request signature we calculated does not match the signature you provided." Where it appears the headers fro

[2022-03-10 19:51] stephentoub commented on #64305
No:
https://grep.app/search?q=new%20SafeFileHandle%28IntPtr.Zero

[2022-03-10 19:55] MihaZupan commented on #61798
Are you able to share stack traces when this happens?

[2022-03-10 19:57] bartonjs commented on #64512
I think a DebuggerDisplay is more appropriate than a ToString.

I don't think the actual contents are interesting to display, as that feels very wasteful; and can be better accomplished by just looking at stream._buffer in a memory inspection window.

[2022-03-10 20:01] sliderhouserules commented on #64305
I'm not sure where I would put this... around every component that calls AWS? In my Startup? In my HttpClientFactory that the AWS clients use? Ugh. I don't think this will solve my Kestrel problems but I could be wrong. I'll see what I can sneak in to get this tested.

[2022-03-10 20:02] #13500 closed

[2022-03-10 20:03] stephentoub commented on #64512
I agree with @bartonjs.  This does not warrant overriding ToString.  If we want to add something here, it should be a [DebuggerDisplay], though for me personally even that feels like it adds minimal value, as everything suggested to be included is visible with one or two clicks:
<img width="545" alt="image" src="https://user-images.githubusercontent.com/2642209/157745429-bc9f22eb-146a-4b27-b11f-2c

[2022-03-10 20:05] stephentoub commented on #64305
Where you would put what?  @MMOSimca's app had bogus code that they deleted to solve the problem.

[2022-03-10 20:05] kunalspathak commented on #63930
@mangod9 -  Do we need to keep this issue open?

[2022-03-10 20:11] MihaZupan commented on #66470
I really like this idea, it's essentially an `InterpolatedStringHandler` spin on better APIs around building query strings, right?

Presumably, the implementation here would be to look for `?` to decide which arguments to encode and then delegate to the existing APIs after creating the string.
This would be both simpler for the user to encode stuff correctly as well more performant since we can do

[2022-03-10 20:12] bmitc commented on #66419
@jeffschwMSFT Would that be something like `Sample Process` or `SpinDumb` in macOS' Activity Monitor? I did them for just a random process and they seemed like a dump. Haha.

I will try to spin up some .NET Interactive notebooks sometime soon and see if I get this to reproduce again.

[2022-03-10 20:15] stephentoub commented on #66470
Can you elaborate on that?  Cory's example appears to be wanting to escape the holes both before and after ? has appeared

[2022-03-10 20:19] sliderhouserules commented on #64305
Oh, I thought they put it in to solve it, and the diff was just a different revision. I don't think this helps me much, as I wasn't using anything like this. Oh well.

[2022-03-10 20:20] AaronRobinsonMSFT commented on #66154
@danmoseley I think this was an excellent suggestion. I've updated the default to `/W4` and added disabling for all failures. Now we can work in parallel and simply reenable them - See https://github.com/dotnet/runtime/pull/66474.

[2022-03-10 20:27] MMOSimca commented on #64305
It's possible that your Kestrel is also being similarly starved of input streams, though. I hadn't really thought of the problem in that way before. Maybe something is wrong in one of your Dispose functions too?

Sucks that it wasn't the same issue for you.

Do you have any ideas about how we could make the issue I encountered less likely to cause bad effects for users, @stephentoub? Or is this ju

[2022-03-10 20:34] mangod9 commented on #63930
yeah we should keep this open, we will iteratively make it better during 7, if we continue to notice regressions in memory size.

[2022-03-10 20:37] jhudsoncedaron commented on #31001
I too have utterly failed to reproduce the binary load problem. Here is a much more complete demo of the changes proposed and I could not construct a reasonable failure case.

Attached is a sample set of projects. To test, build CollectionDemo, Beta\CollectionInterfaces and Gamma\CollectionInterfaces. Run the demo binary, then copy the dll from Beta or Gamma over the dll in the name name in Collec

[2022-03-10 20:39] MichalPetryka commented on #55217
Could I get some movement on the proposal @eiriktsarpalis? It's been sitting as `api-needs-work` for the past few months, with the only change being it getting added to the work planned for .Net 7, but I'm afraid it won't get there due to not being approved yet.

[2022-03-10 20:39] stephentoub commented on #64305
It is dutifully doing what you told it to do.  You wanted to protect the specified file descriptor, such that if you neglected to close it, it would be closed for you to prevent a leak, and such that if you were actively using it while someone else tried to close it, you'd be protected from it being closed out from under you.  And you specified a valid file descriptor value.  It just so happens th

[2022-03-10 20:40] AudriusButkevicius opened #66475 "Loading .NET host via hostfxr process crashes with Fatal error. Failed to load JIT compiler"
### Description

I am injecting/loading .NET host into my process, via:

(error checking removed to reduce verbosity)
[code]

runtimeconfig.json:
[code]

Sometimes instead of the host being loaded, it prints `Fatal error. Failed to load JIT compiler` in the console, and crashes the process.

Seems to happen more often if the machine is under load/I am initialising the host in multiple different in

[2022-03-10 20:40] jkotas commented on #52768
It does not. It is just crashing for me without printing anything.

[2022-03-10 20:40] a-jackson commented on #61798
This is the most recent, it's not exactly one of the ones above but I think it's the same thing. I have seen the other errors as well but we don't keep logs that long on our test servers.

[code]

[2022-03-10 20:40] jeffschwMSFT commented on #66419
Try using https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump

cc @tommcdon

[2022-03-10 20:41] ericstj commented on #56087
Hit in release/6.0 https://dev.azure.com/dnceng/public/_build/results?buildId=1653373&view=ms.vss-test-web.build-test-results-tab&runId=45585928&resultId=163163&paneView=debug

[code]

[2022-03-10 20:42] jkotas commented on #52768
Yes, these are the right steps. Also, I have tried to build self-contained application, overwrite the runtime and libs with current .NET 7 checked clr + release libraries build. Same result.

[2022-03-10 20:42] stephentoub commented on #55217
As a meta point aside, it takes work to review API proposals, validate that the concept is something we want included, ensure the design makes sense given the rest of what's exposed, etc.  That work all happens prior to an issue being marked as API approved.  So the fact that it was added to the cited "planned work" issue is in fact movement.

[2022-03-10 20:44] MihaZupan commented on #66470
Including the path complicates it somewhat.

I was thinking of examples where the base/authority portion of the `Uri` is also a hole, but you wouldn't want it to be escaped.
[code]
We would have to evaluate both the constants & holes to determine where the path starts, then encode all the holes following it.

Either that, or be strict about always escaping all holes, but that seems harder on the u

[2022-03-10 20:45] anthonycanino commented on #66467
Thanks for reviewing it! `X86Serialize.Serialize` is fine with me. I'll adjust.

[2022-03-10 20:53] AaronRobinsonMSFT commented on #52768
Based on the stack I found and some local testing this appears to be an issue with tiered compilation. If I set `DOTNET_TieredCompilation=0`, I no longer observe the crash.

[2022-03-10 20:55] MihaZupan commented on #61798
There are two main known issues users are hitting here:
- NewRelic reading response headers concurrently - you will see exceptions *after* the request is sent
  - There may be other components doing this, but this is the currently known one
- `CONNECT` tunnel bug in `HttpConnectionPool` - you will see exceptions around request headers (even *before* the request is sent)

In your case, it looks lik

[2022-03-10 20:55] jeffhandley commented on #66170
@Jozkee This would be a good servicing candidate because of how it can affect data in production scenarios that @mattjohnsonpint described. Before we bring it to tactics, we'll want to make sure we can reliably reproduce the issue and verify the fix. If feasible, getting validation from @mattjohnsonpint or @bruno-garcia against a local build from a branch would help address other hesitations too.

[2022-03-10 21:05] tarekgh commented on #65502
The PR https://github.com/dotnet/runtime/pull/65537 fixed this.

[2022-03-10 21:05] #65502 closed

[2022-03-10 21:34] MMOSimca commented on #64305
At the very least, the changes made in the DLL provided by @tmds were fantastic and helped us narrow down the error much more closely. It would be great to add them to .NET.

I wonder if any of those socket error catches (I think he changed 3 places to expose stack trace) are unique to my problem. We could maybe warn people in the exception message that they might have terminated stdin?

[2022-03-10 22:00] scalablecory commented on #66470
Perhaps base URI should not be part of the string. It looks weird as `$"{baseUri}foo"` --- and might be more confusing, since it's so visually "URLish" as a string, when discussing "foo" vs "foo/" as base uri.

It'd be super cool to have it just "know" the correct escaping, as you have discussed.

[2022-03-10 22:28] #44423 closed

[2022-03-10 22:48] mrpmorris opened #66483 "Transient services implementing IDisposable cause a memory leak"
### Description

When the framework creates a service to inject, if that service implements IDisposable then a reference is held by the scope so `Dispose` can be called when the Scope is destroyed.

Blazor Server keeps a single scope for the duration of the user's session. This means Transient register services are never disposed, causing a memory leak.

### Reproduction Steps

1: Create a Blazor

[2022-03-10 22:51] terrajobst commented on #50406
I'm not trying to assign blame; just stating the practical limitations of particular API choices :-)

[2022-03-10 22:56] eerhardt commented on #66483
@mrpmorris - thank you for reporting the issue.

Do you think you could create a minimal reproduction, i.e. the smallest size of code/configuration required to reproduce the wrong behavior? That will aid us greatly in investigating here. That way we aren't guessing at the repro steps.

See: https://github.com/dotnet/runtime/blob/main/CONTRIBUTING.md#writing-a-good-bug-report

[2022-03-10 22:56] danmoseley opened #66484 "Bmi2.X64_r failed with Could not load file or assembly 'C:\h\w\BA7A09DC\p\system.runtime.interopservices.dll'. Invalid access to memory location. (0x800703E6)"
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-60507-merge-2dea9aa739eb481da4/JIT.HardwareIntrinsics.X86.Bmi2/1/console.2fd9eccb.log?sv=2019-07-07&se=2022-03-30T20%3A31%3A56Z&sr=c&sp=rl&sig=40pgxA%2BdwAJAn8wDMsAc%2Bnc7jjTEwrwQSc4RVoS7brw%3D
[code]
broke Pr validation for https://github.com/dotnet/runtime/pull/60507

[2022-03-10 22:57] danmoseley commented on #66484
Most likely this is some infra thing rather than interop.

[2022-03-10 23:42] #63502 closed

[2022-03-10 23:42] #63512 closed

[2022-03-10 23:51] EatonZ commented on #65680
I am working with Yubico support on that new error. Once I have new information I will post here to potentially help others, and probably will close this issue, unless there is any input from the CNG team we are waiting on.

[2022-03-11 00:01] MihaZupan commented on #66470
Just playing around implementation-wise, did you have something [like this](https://gist.github.com/MihaZupan/156c6132c9a27211e4a5dce0aeec5bc5) (untested) in mind?

[2022-03-11 00:13] elinor-fung commented on #66469
I'm going to mark this as blocking-clean-ci. I've seen this on three different PRs I've been on today.

Query below shows a bunch of hits. Some of them might be a different crash (I don't know how to come up with a query to differentiate), but I opened five of the logs from today and they were all this assert.

[code]

[2022-03-11 00:14] mrpmorris commented on #66483
@eerhardt Of course, I've created one here -> https://github.com/mrpmorris/dotnet-IDisposable-memory-leak

1: Run the app
2: Click the link to go to the leaky page
3: Click the link to go back to the main page
4: Goto 2

Note how the one that doesn't implement IDisposable gets Finalized, whereas the one that implements IDisposable doesn't get Disposed or Finalized.

[2022-03-11 01:15] zhangqi-ulua opened #66526 "System.Net.CookieContainer的bug，未能正确分辨domain最匹配的"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

比如两个同名的cookie，name都叫XXX，value不同，domain分别为 .a.b.com  和   a.b.com
他们在同一个CookieContainer中
我指定HttpClient的CookieContainer是上面那个，然后请求 https://a.b.com
结果这两个同名的cookie都会被发送，这显然是错误的，虽然他们的domain都符合，但这种情况下，肯定是应该分辨出最匹配的一个进行发送。服务器是没有办法处理发上去的两个同名的cookie的。这样做法也不符合RFC的标准

### Expected Behavior

上面我举的例子就可以，只要是这

[2022-03-11 01:17] VincentBu opened #66487 "Test failure System.Text.Json.Serialization.Tests.WriteValueTests.SerializeExceedMaximumBufferSize"
Run: [runtime-libraries-coreclr outerloop 20220310.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1656016&view=ms.vss-test-web.build-test-results-tab&runId=45637978&resultId=103979&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-11 01:21] eiriktsarpalis commented on #66469
I'm OOF but @layomia should be able to take a look at this tomorrow.

[2022-03-11 01:22] VincentBu opened #66488 "Test failure System.IO.Tests.BinaryWriter_EncodingTests.WriteChars_VeryLargeArray_DoesNotOverflow"
Run:[ runtime-libraries-coreclr outerloop 20220310.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1656016&view=ms.vss-test-web.build-test-results-tab&runId=45638658&resultId=103186&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-11 01:24] gfs opened #79419 "Analyzer to recommend ThreadSafe collections in parallel context."

[2022-03-11 01:42] roberthannon commented on #64305
We were having the exact same issues using Linux Fargate nodes on EKS - 502s, socket exceptions, corrupt responses. We managed to fix them by following the suggestion by [MMOSimca](https://github.com/MMOSimca) to remove code which was creating and disposing `SafeFileHandle(IntPtr.Zero)` instances.

I assume the code was added by someone copy-pasting the example code shown in the [IDisposable docum

[2022-03-11 01:57] MMOSimca commented on #64305
Wow, thanks for finding the source of the problem! (I'm 100% sure this is what we modeled this after, causing the issue.)

Based on my understanding of SafeFileHandle from this thread, those code examples for IDisposable seem shockingly disasterous. Why would regular IDisposable handlers have SafeFileHandle(0) calls?

Based on the discussion earlier, that only makes sense if you want to trap and c

[2022-03-11 02:01] Linlccc commented on #66394
@eerhardt  I implement `IServiceScope` , `IServiceScopeFactory` interface and then register `IServiceScopeFactory` using `services.AddScoped<IServiceScopeFactory, CustomServiceScopeFactory>();`

Then try to use `app.Services.GetService<IServiceScopeFactory>()` to get the object of `IServiceScopeFactory` type, but the obtained object is the default `ServiceProviderEngineScope` type of Asp.Net Core,

[2022-03-11 02:15] danmoseley commented on #66488
@VincentBu Is this a test failure? The stack looks like it's skipping.
@adamsitnik

[2022-03-11 02:16] danmoseley commented on #66469
As an aside it seems that `Debug.Assert(condition)` ought to pass a default message.

[2022-03-11 02:48] stephentoub commented on #64305
Yes, the docs should be improved here.  I'm intent is to highlight how an IDisposable that owns a resource (a safe handle) can dispose of it.  That should be made more clear, and an easy fix to the code (beyond comments that make it clear you shouldn't actually copy that SafeFileHandle into your own code) is to change the 0 to a -1.

The docs are open source.  Contributions to improve them are wel

[2022-03-11 02:59] davidfowl commented on #66394
You can't hook into the default IServiceProvider, that's the wrong extensibility point unless you're going to reimplement the entire thing yourself. Decorating the default implementation doesn't work and that's by design.

What are you trying to accomplish?

[2022-03-11 03:13] Linlccc commented on #66394
@davidfowl I want to implement custom DI, but still use the default `IServiceProvider` to get the instance
In fact, all I want is to do my own thing after the default `IServiceProvider` has created the object

[2022-03-11 03:22] tmds commented on #56750
Based on what we found in https://github.com/dotnet/runtime/issues/64305, https://github.com/fabian-blum/AspNetCore.Identity.LiteDB/pull/14 will fix the issue in AspNetCore.Identity.LiteDB.

[2022-03-11 04:11] stephentoub commented on #62459
Fixed by #66339

[2022-03-11 04:11] #62459 closed

[2022-03-11 04:13] stephentoub commented on #61666
I'm going to close this. While it'd be nice to remove the three remaining pragmas, it would be difficult to do so well and simply isn't worth it.

[2022-03-11 04:13] #61666 closed

[2022-03-11 04:18] stephentoub commented on #30308
Closing per previous comment. Thanks.

[2022-03-11 04:18] #30308 closed

[2022-03-11 04:19] stephentoub commented on #30153
.NET 7 will have a source generator for this purpose, and CompileToAssembly was obsoleted. Thanks.

[2022-03-11 04:19] #30153 closed

[2022-03-11 04:23] stephentoub commented on #27982
Capture has a ValueSpan property in. NET 6, and in .NET 7 we've added span-based IsMatch and Count methods, and https://github.com/dotnet/runtime/issues/65011 tracks additional span-based API on regex. Thanks.

[2022-03-11 04:23] #27982 closed

[2022-03-11 04:27] stephentoub commented on #23602
@joperezr, this overlaps with the span work you already did for 7 and with https://github.com/dotnet/runtime/issues/65011. We should determine if there are any other APIs from this we want to add in 7 as part of the span effort or if it's all covered and can be closed.

[2022-03-11 05:13] davidfowl commented on #66394
That's not possible with the build in container. It doesn't have extensibility to do what you're trying to do. You cannot intercept service resolution.

[2022-03-11 05:39] hoyosjs commented on #66174
There's a few families of errors in here. Most of them were old and targeted to specific PR's

There's this:
[code]

These type of simd asserts that have been reported elsewhere:
[code]

All the ones that come from the profiler test itself are timeouts in OSX, regardless of jit modes.

[2022-03-11 05:57] WeihanLi opened #66490 "[API Proposal]: Extend `JsonIgnoreCondition`"
### Background and motivation

Sometimes we may want to ignore some properties only when serialize, included when deserialize, currently, we had `JsonIgnoreCondition`

[code]

Maybe we could add new conditions like `WhenWriting`/`WhenReading`(or `WhenSerializing`/`WhenDeserializing` ...)

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

_No respon

[2022-03-11 06:52] lateapexearlyspeed commented on #2214
Hi, I would try to learn and fix it, not sure if can assign to me, here is my draft [PR](https://github.com/dotnet/runtime/pull/66492) which will be marked as ready, thanks.

[2022-03-11 07:13] radical commented on #63749
I have been seeing more instances of this, like on a rolling build - https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-430fc3ae44114f23aa/normal-System.Collections.Immutable.Tests/1/console.cc64bb84.log?sv=2019-07-07&se=2022-03-30T10%3A02%3A37Z&sr=c&sp=rl&sig=PA8MMExj6%2FzPGPaxMchWCgPDlPDmOm%2F3XiDg3RqrVn8%3D

[2022-03-11 07:30] khellang commented on #782
Yeah, I think they match my expectations 👍🏻

[2022-03-11 07:46] mettekou opened #66494 "[API Proposal]: `System.Math.Abs` overload for `System.Numerics.Complex` as `Complex.Magnitude` property"
### Background and motivation

Implement `System.Math.Abs` as [the `Complex.Magnitude` property](https://docs.microsoft.com/en-us/dotnet/api/system.numerics.complex.magnitude?view=net-6.0), since this is [the mathematical definition of the absolute value of a complex number](https://en.wikipedia.org/wiki/Magnitude_(mathematics)#Complex_numbers).

### API Proposal

[code]

### API Usage

[code]

##

[2022-03-11 07:47] mettekou commented on #66494
A similar issue for F#: https://github.com/dotnet/fsharp/issues/12828.

[2022-03-11 08:26] vitek-karas commented on #66475
@BruceForstall @dotnet/jit-contrib any ideas about the JIT failing to load?

[2022-03-11 08:33] hekk-kazuki-hasegawa commented on #60600
This is extremely important.
The worst operation is to say, "I get an error log, but please ignore this." (and people will stop trusting the logs)

As long as you throw an exception, you can only expose that exception.
Don't document the behavior; expose the exception.

This is clearly a design error, but fortunately the problem can be easily solved by simply exposing the exception.

[2022-03-11 08:40] a-jackson commented on #61798
I agree this looks like the latter case.
It looks like it is possible to provide a custom HttpClient factory. What do I need to do?

[2022-03-11 08:58] nanasi880 commented on #60600
This is extremely important.
The worst operation is to say, "I get an error log, but please ignore this." (and people will stop trusting the logs)

As long as you throw an exception, you can only expose that exception.
Don't document the behavior; expose the exception.

This is clearly a design error, but fortunately the problem can be easily solved by simply exposing the exception.

[2022-03-11 10:07] rzikm commented on #65455
I managed to get a dump which I can analyze. The SslStream instance is indeed disposed. Once I figure out which test this is happening on, we will have something actionable

[2022-03-11 10:19] SteveSandersonMS opened #66496 "Recent change to Attribute.GetCustomAttributes is breaking in ASP.NET Core"
### Description

I know it's possible that this was an intentional breaking change and perhaps the correct resolution is to change things in ASP.NET Core. However it's worth checking.

We're getting a test failure in [MapEndpoint_GeneratedDelegateWorks](https://github.com/dotnet/aspnetcore/blob/main/src/Http/Routing/test/UnitTests/Builder/RequestDelegateEndpointRouteBuilderExtensionsTest.cs#L138)

[2022-03-11 10:55] SteveSandersonMS opened #66590 "Quarantine ReadAsync_WithAllowInputFormatterExceptionMessages_RegistersJsonInputExceptionsAsInputFormatterException"

[2022-03-11 11:43] huoyaoyuan commented on #66494
This isn't possible because `Math` is in the corelib, and `Complex` is in an upper level library, so `Math` can't use `Complex`.
However, it's reasonable to implement corresponding generic math interface for `Complex`.

[2022-03-11 11:54] stephentoub commented on #66496
cc: @jkotas

[2022-03-11 13:03] jakobbotsch commented on #65674
`lvaSortByRefCount` is responsible for marking certain locals as do-not-enregister when we are optimizing, but it runs as part of liveness which does not run when `COMPlus_JitDoSsa=0`. Because of this we end up in lowering with a 6-byte type that we think we can enregister.

[2022-03-11 13:08] adamsitnik commented on #66488
That is a great question.

I've sent #66503  to disable this test for 32bit as it will always fail (it allocates more than 2 GB of memory)

[2022-03-11 13:25] eiriktsarpalis commented on #66490
Related to #55781. In general we want to be careful about adding more states in the `JsonIgnoreCondition` enum, and we generally want to encourage a contract model customization approach via #63686. However your proposals seem fairly straightforward and simple to implement, so I'd support their addition.

[2022-03-11 13:26] eiriktsarpalis commented on #66490
Tagging @layomia for a second opinion. If this seems reasonable, I think I can mark it ready for review.

[2022-03-11 14:35] stephentoub commented on #31478
No reply in almost two years.  Closing.

[2022-03-11 14:35] #31478 closed

[2022-03-11 14:38] stephentoub commented on #18190
This hasn't had a lot of interest in years, and it's easily achieved by just defining said mask one's self.  I'm going to close this.  Thanks.

[2022-03-11 14:38] #18190 closed

[2022-03-11 14:46] stephentoub commented on #19711
With the advent of `ReadOnlySpan<char>`, it has become the canonical way to write operations that can process strings, substrings, arrays of chars, etc., effectively making it an exchange type similar to what's been requested here.  I don't see us creating another.  I'm going to close this.  Thanks.

[2022-03-11 14:46] #19711 closed

[2022-03-11 14:48] stephentoub commented on #20990
Thanks for the suggestion.  It's been years and there's been little interest in this.  There are also numerous APIs now for allocating/freeing memory, e.g. with the newer NativeMemory type.  If someone needs a safe handle for one of these APIs, it can be done in a few lines of code.  So, I'm going to close this.  Thanks.

[2022-03-11 14:48] #20990 closed

[2022-03-11 14:57] stephentoub commented on #21820
Given that, and that it's been years and there's been little interest, I'm going to close this.

Note that you can always implement your own ICustomFormatter that does whatever you want, and with the string interpolation improvements in .NET 6 and C# 10, you can still use the interpolated string syntax, e.g. this:
[code]
outputs:
[code]

[2022-03-11 14:57] #21820 closed

[2022-03-11 14:58] JansthcirlU opened #66506 "[API Proposal]: Set the default encoding of the serial port class to ISO/IEC 8859-1 to accommodate 8-bit bytes out of the box"
### Background and motivation

In the current implementation of the [`SerialPort` class](https://github.com/dotnet/runtime/blob/main/src/libraries/System.IO.Ports/src/System/IO/Ports/SerialPort.cs), the default value of `DataBits` (i.e. bits per byte) is set to 8, but the default `Encoding` is set to ASCII, which is a 7-bit character encoding. Whenever the `ReadChar()` or `ReadExisting()` methods

[2022-03-11 14:59] stephentoub commented on #23346
Thanks for the suggestion.  I'm going to close this.  We don't see this come up frequently enough to warrant additional API here.

[2022-03-11 14:59] #23346 closed

[2022-03-11 15:03] stephentoub commented on #24259
@terrajobst, are you still working on this or can it be closed?

[2022-03-11 15:04] stephentoub commented on #24385
@eerhardt, what is this issue tracking at this point?  We have:
https://github.com/dotnet/runtime/tree/main/src/libraries/System.Numerics.Tensors
Is this tracking improvements to that?  Making that officially supported?  Something else?

[2022-03-11 15:05] #27360 closed

[2022-03-11 15:06] stephentoub commented on #27509
Thanks for the suggestion.

[2022-03-11 15:06] #27509 closed

[2022-03-11 15:07] madelson commented on #66496
Probably DynamicMethod needs similar updates to the ones made in my PR (and test coverage for this).

[2022-03-11 15:11] stephentoub commented on #28041
Thanks for the suggestion.  It's been years since this was opened, it's a niche use case, and it's garnered little interest.  It's also trivial to write an iterator that provides this behavior if it's desired:
[code]
Given that, I'm going to close this.  Thanks.

[2022-03-11 15:11] #28041 closed

[2022-03-11 15:11] eerhardt commented on #66361
@lateralusX - do you have an example of how to do that?

@vargaz - Is this issue going to track adding that option? Would we turn it on for Android?

[2022-03-11 15:14] stephentoub commented on #28113
There are a huge number of possible trivial helpers one could imagine wanting for things like this, and we're not going to add them all to the core libraries.  These are simple to just open-code, e.g.
[code]
if that behavior is needed, or one can easily define their own extension methods to help with this if they really find themselves doing it frequently.  I appreciate the suggestion, but I'm goi

[2022-03-11 15:14] #28113 closed

[2022-03-11 15:15] vargaz commented on #66361
Should open another issue or rename this one.
Loading all these assemblies on startup does slow down startup if these assemblies would not be loaded otherwise.

[2022-03-11 15:18] stephentoub commented on #29999
All of the proposed APIs (with the exception of `ToObject<T>`) now exist, and we've seen little need/interest for a generic ToObject.  Given that, I'm going to close this.  Thanks for the issue.

[2022-03-11 15:18] #29999 closed

[2022-03-11 15:19] stephentoub commented on #30940
@GrabYourPitchforks, @bartonjs, we should either just mark this as api-ready-for-review or close the issue :)

[2022-03-11 15:23] #35047 closed

[2022-03-11 15:25] stephentoub commented on #66336
I'm going to close this as a duplicate of https://github.com/dotnet/runtime/issues/54220.  We should have one discussion about what, if any, additional APIs make sense around concatenation.  Thanks.

[2022-03-11 15:25] stephentoub commented on #58732
Closing per Tanner's comments.  Thanks for the suggestion.

[2022-03-11 15:28] #66488 closed

[2022-03-11 15:45] hez2010 commented on #61231
Can I think NativeAOT will be integrated into build pipeline with a `/p:RunAotCompilation=true` in .NET 7, without need of adding a separate package `Microsoft.DotNet.ILCompiler` explicitly?

[2022-03-11 15:46] davidfowl commented on #23346
Really? We should do an internal and external search for the following pattern:

[code]

[2022-03-11 15:47] stephentoub commented on #23346
That's the opposite of AsCancellationToken.  `await Task.Delay(-1, token)` is about creating a Task from a CancellationToken, and as you just highlighted, there's already a method for that.

[2022-03-11 15:49] davidfowl commented on #23346
Oh my bad. That seems fine. I think I typically see the other way more often...

[2022-03-11 15:49] davidfowl commented on #23346
Unintuitive though.

[2022-03-11 15:52] MMOSimca commented on #64305
@stephentoub Is there anything further we should do about the fact that Kestrel was writing requests with the wrong output stream when all of its input streams were closed?

That sounds like a security concern. An extremely obscure security concern to be sure, but probably something that warrants its own thread, right?

Plus, now that we know how to trigger it, it should be very easy to replicate

[2022-03-11 15:55] stephentoub commented on #64305
@halter73?

[2022-03-11 15:56] davidfowl commented on #60600
When do you see this exception happen in practice? Locally during development right when adding Migrations right? Narrow doesn't mean that its not important, but if there are more cases than we're aware of, that would be nice to know.

[2022-03-11 16:04] davidfowl commented on #50406
I think when you make interfaces the enemy designs like this happen... I don't have a problem with the method being on the concrete type. I have a big problem with there not being a nice way to make the interface scenario work without casting to a concrete type.

Here are a couple of examples from a very quick cursory glance:

- https://github.com/dsuryd/dotNetify/blob/master/DotNetifyLib.SignalR/

[2022-03-11 16:11] deeprobin commented on #14336
@danmoseley
I think we could mark the issue as `api-suggestion` and let the 2nd group review already.

Currently only the 1st group is approved (See https://github.com/dotnet/runtime/issues/14336#issuecomment-636135854). Then I can take care of the other groups in a follow-up PR.

[2022-03-11 16:21] jkotas commented on #66496
We should revert the original change until this is understood and fixed: https://github.com/dotnet/runtime/pull/66508

[2022-03-11 16:28] MMOSimca commented on #64305
Also, is there a use case for SafeFileHandle(IntPtr.Zero, true)? You established there's one for SafeFileHandle(IntPtr.Zero, false).

Given how much the questionable documentation has spread around, it would be great to have a code solution. I'd be happy to write something, but it does sound like based on this conversation that it would just be rejected.

[2022-03-11 16:30] BrennanConroy commented on #66483
@dotnet/aspnet-blazor-eng

[2022-03-11 16:31] jkotas commented on #61231
Yes. @LakshanF has been looking into it.

[2022-03-11 16:45] tmds commented on #64305
If it is caused by `SafeFileHandle(IntPtr.Zero, true)`: no.
You musn't set `ownsHandle` to `true` for file descriptors you don't own.

In practice, I don't think so.

You mean a better example for the `IDisposable` documentation?

The `handle = new SafeFileHandle(IntPtr.Zero, true)` is meant to represent an `IDisposable` that gets disposed under `if (disposing)`.
It could be replace by something e

[2022-03-11 16:46] danmoseley commented on #49083
@bartonjs @wfurt -- I noticed these two test libraries are [entirely disabled ](https://github.com/dotnet/runtime/blame/main/src/libraries/tests.proj#L346) on M1's - which seems a bit of a precarious place to be. Is this is a significant hole - we apparently shipped this way?

[2022-03-11 16:47] TanayParikh commented on #65750
cross-linking: https://github.com/dotnet/aspnetcore/issues/40642

[2022-03-11 16:49] danmoseley commented on #14336
That's different -- I'm talking about a Github security group that merely gives you the right to be assigned without a comment. If this keeps coming up, we can add you, but most contributors aren't in it.

I suspect that would become confusing. I suggest to open a new  api suggestion issue for that 2nd group and copy over the relevant info. Then your PR can close this one.

[2022-03-11 16:57] javiercn commented on #66483
Dupe of https://github.com/dotnet/aspnetcore/issues/26676

[2022-03-11 17:03] lateralusX commented on #66361
https://github.com/dotnet/runtime/blob/main/docs/design/mono/diagnostics-tracing.md#analyze-jitloader-events-during-startup

[2022-03-11 17:10] MMOSimca commented on #64305
I mean in the constructor for SafeFileHandle, if the first parameter is 0 and the second parameter is true, throw an exception. Or can you do warnings like that (based on parameters)? I'm looking through private repositories I have access to and I see this in 1 other unrelated project, which is not great.

I agree with you that the documentation for IDisposable shouldn't mention SafeFileHandle at

[2022-03-11 17:14] pharring commented on #19711
Reading back through the thread, I'm impressed by my younger self. That fellow made a convincing case! However, I'm glad that more enlightened people ignored him and found an even better solution. Yes, `Span<T>` and `ReadOnlySpan<T>` really are superior, covering more scenarios.

[2022-03-11 17:15] stephentoub commented on #19711
Heh. Thanks, Paul :smile:

[2022-03-11 17:22] tannergooding commented on #66484
Dupe of https://github.com/dotnet/runtime/issues/65646

[2022-03-11 17:22] #66484 closed

[2022-03-11 17:22] #64957 closed

[2022-03-11 17:23] tannergooding commented on #66320
Dupe of https://github.com/dotnet/runtime/issues/65646

[2022-03-11 17:23] #66320 closed

[2022-03-11 17:24] #65643 closed

[2022-03-11 17:24] tannergooding commented on #65474
Dupe of https://github.com/dotnet/runtime/issues/65646

[2022-03-11 17:24] #65474 closed

[2022-03-11 17:24] #65415 closed

[2022-03-11 17:25] tannergooding commented on #65646
Closed several more dupes that are flagged related to hardware intrinsics.

Notably there are many failures that are completely unrelated to hardware intrinsics as well: https://github.com/dotnet/runtime/issues?q=is%3Aissue+is%3Aopen+BadImageFormatException

[2022-03-11 17:25] tannergooding commented on #65040
Dupe of https://github.com/dotnet/runtime/issues/65646

[2022-03-11 17:25] #65040 closed

[2022-03-11 17:29] kunalspathak commented on #66197
https://github.com/dotnet/runtime/pull/64130 handles patterns when a struct is returned through "return buffer". This pattern is not handled.

[2022-03-11 17:30] kunalspathak commented on #66197
In the original version of `M2` where `GetHashCode()` is not inlined, we can avoid zero initializing the struct

[code]

[2022-03-11 17:31] lambdageek opened #66513 "[hot reload] Update test infrastructure to consume metadata update handler type ids"
Related to dotnet/hotreload-utils#152.  For `[CreateNewOnMetadataUpdate]` types, we would really like to know in unit tests the ids of the new types that get generated in the deltas since the type names are going to be mangled.  Once hotreload-utils are updated to serialize the type ids, we need to update `ApplyUpdateUtils` to read them and make them available to the tests.  (And also the test .cs

[2022-03-11 17:36] ivanthelad commented on #64760
@CaveSven  did your issue get resolved ?

[2022-03-11 17:50] tannergooding commented on #32418
Going to close this one since #48615 is the direction we're taking.

[2022-03-11 17:50] #32418 closed

[2022-03-11 17:51] lewing commented on #65211
sdk design is here https://github.com/dotnet/sdk/pull/24070

[2022-03-11 18:01] #65155 closed

[2022-03-11 18:05] ericstj opened #66514 "SourceBuild leg is not using source-built arcade"
We discovered in https://github.com/dotnet/runtime/pull/66144 that our source-build validation leg doesn't use any of the source-built arcade packages.

@akoeplinger discovered this previously here: https://github.com/dotnet/arcade/pull/8355

This can be observed in the binlog by examining the task assemblies used.  Many of the packages/SDKs (including arcade SDK itself) are using non-source built

[2022-03-11 18:33] deeprobin opened #66515 "`AccessViolationException` breaks System.IO.FileSystem tests"
### Description

[code]

### Reproduction Steps

* Pull from `main`
* Build CLR+Libs with `-config Release`
* `cd src/libraries/System.IO.FileSystem/tests`
* `dotnet build /t:Test /p:Configuration=Release`

### Expected behavior

Test pass

### Actual behavior

AccessViolationException

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

Windows-x64

### Other

[2022-03-11 18:33] michael-hoedl opened #66516 "[API Proposal]: Enable Regex filtering for FileSystemWatcher"
### Background and motivation

In current days, Regex filtering should be a standard feature. The `FileSystemWatcher` currently only supports wildcard filtering. It is possible to work around this, with an custom class which inherits from `FileSystemWatcher`, and only invokes the events when the RegEx applies. It's a solution but a relatively big overhead for such a trivial problem.

### API Propo

[2022-03-11 18:39] deeprobin commented on #66515
Using `dotnet test -config Release` I get the following result:
[code]

[2022-03-11 18:49] buyaa-n commented on #66496
The API is not supposed to return null, i believe we should return and empty array in this case

[2022-03-11 18:51] devopg opened #66517 ".net 6 broken migration JsonElement to dynamic"
I come from .net core 2.1 and after migration to .net 6 i got different behavior.

I have json in my RabbitMQ. After cunsume new message i deserialize to class with field List<dynamic>

[code]
Working code from 2.1 now throw error

[code]
In debug i found that now "var i" is typeof JsonElement

How i can in .net 6 use dynamic like before ?

[2022-03-11 18:58] ericstj commented on #66514
Closing this as we chose not to workaorund it in dotnet/runtime and instead are working around in arcade. https://github.com/dotnet/arcade/pull/8597

[2022-03-11 18:58] #66514 closed

[2022-03-11 19:09] calgagi commented on #46274
Tuple issue showing up again: https://developercommunity.visualstudio.com/t/Unable-to-set-statement-in-local-functio/1672199

[2022-03-11 19:20] bartonjs commented on #49083
It's certainly not a pleasing state to be in, but I'm not expecting a lot of major issues.

Our use of OpenSSL on macOS is limited to RSAOpenSsl, DSAOpenSsl, ECDsaOpenSsl, ECDiffieHellmanOpenSsl, AesGcm, and AesCcm.  The first four are pretty obvious that OpenSSL is required, and no platform code will instantiate them on macOS.  The latter two aren't instantiated by platform code, and use the stat

[2022-03-11 19:25] akoeplinger commented on #62042
The 6.0 backport was merged: https://github.com/dotnet/runtime/pull/66230

[2022-03-11 19:25] #62042 closed

[2022-03-11 19:48] bartonjs commented on #43027
It's not disallowed by the compiler, and it might make sense in application code (or with non-public interfaces); but avoiding the diamond is the only proto-guideline we have around DIMs for libraries.

[2022-03-11 19:50] #66483 closed

[2022-03-11 20:09] kimsey0 commented on #43027
OK. I that case, if `IHost` is to implement `IAsyncDisposable`, it will have to be without a default implementation.

[2022-03-11 20:15] BruceForstall commented on #66174
@hoyosjs Why did you remove the "blocking-outerloop" label? Unless this test has been fixed or disabled, it is, indeed, blocking clean outerloop test runs.

[2022-03-11 20:18] danmoseley commented on #66515
The 2nd stack is simply what vs test does when the child test process dies spontaneously. I linked the issue.

[2022-03-11 20:20] danmoseley commented on #66515
I'll try running locally.

[2022-03-11 20:23] vcsjones commented on #47410
My 2c: Hm. It's unnecessary computational resources, and it locks us in to extending that pattern for SHA-3-256..SHA-3-512 if/when SHA3 is added and the relevant CMS specs are updated, and whatever might be around in 20 years.

I think this aligns closest with what I was thinking. A single signer / encryptor is, in my experience, the most common. I would propose though that we make it `if (streamT

[2022-03-11 20:24] BruceForstall commented on #66475
That means LoadAndInitializeJIT() failed. There are many possibilities:
1. The JIT dll wasn't found (in the directory where coreclr.dll lives)
2. The OS couldn't load it (maybe due to missing dependency?)
3. The getJit entrypoint wasn't found or failed
4. The JIT GUID is not the same as the corclr.dll GUID (i.e., a JIT/VM mismatch)

If you have a failure dump, the `g_JitLoadData` structure can hel

[2022-03-11 20:25] rickbrew commented on #48615
So why are they named `Rgba` and `Argb` ? I thought the standard, as per WIC, was BGRA and RGBA? Both of those have A in the same position (byte index 3). I'm not familiar with moving A to byte index 0.

`Argb<T>` in particular does not appear compatible with Win32/WIC-style BGRA ordering. This means that to use `Argb<T>`, swizzling will always be required, which has overhead and will limit throug

[2022-03-11 20:32] aaronfranke commented on #48615
@rickbrew As far as I understand it, the ARGB ordering is used in DirectX.

[2022-03-11 20:35] bartonjs commented on #50902
Possibly; but `double` is the go-to type in .NET for floating point values (just like how we use `int` even for API only capable of expressing values like 0..10)).  System.Single only makes it into API when there's a compelling reason.

I doubt that the GC's backing integer values will ever exceed 24 bits of granularity, so System.Single probably isn't limiting; but it's a bit unnatural, and this

[2022-03-11 20:48] fanyang-mono opened #66525 "[Mono] Clean up the function calls"
Rename `emit_simd_intrinsics` to `arch_emit_simd_instrinsics`.

Move the arch specific code in `mono_emit_simd_intrinsics` to `emit_simd_intrinsics`

[2022-03-11 20:48] tannergooding commented on #48615
This is a complex space and depends on native surface format of a given OS vs what is used everywhere.

The native Win32 surface format is often referred to as `B8G8R8A8` but that is most often carried about as a typedef of `uint32_t` and so whether it matches a `Bgra<T>` or `Argb<T>` struct can depend on endianness among other factors.

It may be that we want/need to eventually expose `Bgra<T>` a

[2022-03-11 20:53] ericstj commented on #65621
I queued a couple builds to help us understand what's going on.
release/6.0-tip: https://dev.azure.com/dnceng/public/_build/results?buildId=1659265&view=results
release/6.0 prior to the change that first saw this failure: https://dev.azure.com/dnceng/public/_build/results?buildId=1659273&view=results

[2022-03-11 21:13] stephentoub commented on #64335
Reopening as https://github.com/dotnet/runtime/pull/65237 was reverted in https://github.com/dotnet/runtime/pull/66508 due to https://github.com/dotnet/runtime/issues/66496.

[2022-03-11 21:14] fanyang-mono commented on #66487
I've seen this same error message hit by multiple tests in multiple rolling builds starting from #20220308.49
System.Text.Json.Nodes.Tests.JsonArrayTests.ConvertJSONArrayToJsonArray
System.Text.Json.Nodes.Tests.JsonObjectTests.CaseSensitivity_ReadMode
System.Text.Json.Serialization.Tests.StreamTests_Async.SerializeEmptyCollection
System.Text.Json.Serialization.Tests.DictionaryTests+DictionaryPolym

[2022-03-11 21:20] danmoseley commented on #65621
Note that we already pass `--retry 10` to curl, it's retrying for 20 minutes:
[code]

[2022-03-11 21:20] ericstj commented on #65566
@richlander do we have any customers asking for this?  Has anyone needed to explicitly target `cbl-mariner`?

I think for these brand new `RIDs` we should start out in the host as that's the first thing that needs to change to make them useful.   The host needs to start identifying a distro with a particular RID.

[2022-03-11 21:27] AudriusButkevicius commented on #66475
This is not a persistent error, namely the same application with exactly the same parameters will sometimes succeed and sometimes fail without any change to the environment.

In which case only 3 seems like a possible candidate.

What would be the best way to get a dump, given the process crashes outside of my control?
The only thing that comes to mind is setting the registry key that saves dumps

[2022-03-11 21:30] charlesroddie commented on #66454
There would need to be multiple settings for this as percentile has a horrible multiplicity of definitions.

https://en.wikipedia.org/wiki/Percentile gives several, of which 3 are extremely impure (linear interpolation, which treats the data as an approximation to some reality, and which has the property that duplicating the data changes the percentile calculations), 1 is moderately pure (nearest-

[2022-03-11 21:36] rickbrew commented on #48615
I disagree -- the swizzling definitely has a cost, especially when it has to be done on both ends of an operation, especially if has to be done multiple times as a buffer is passed around internally and has various operations performed on it that only operate on the swizzled format. So in my app/library, imagine I'm passing a BGRA bitmap from A to B to C, and each one wants to execute a filter on

[2022-03-11 21:43] Sergio0694 opened #66527 "JIT inlines bits of throw helpers"
cc. @AndyAyersMS following a conversation on Discord.

### Description

I noticed that on .NET 6 the JIT is now sometimes inlining bits of throw helper methods, making the codegen worse in callers. Up until .NET 5, throw helpers were _always_ recognized properly as cold paths and codegen was much better in these cases. Consider this:

[code]

This now results in the following on .NET 6, Release x6

[2022-03-11 21:47] AndyAyersMS commented on #66527
cc @EgorBo

[2022-03-11 22:05] #65660 closed

[2022-03-11 22:19] EgorBo commented on #66527
@Sergio0694 looks pretty normal to me, JitDisasm:
[code]

the unknown call you're observing is a lazy-string-literal-materialization. We know that this helper is unlikely to be invoked so we're not allocating a StringObject for `name` parameter

[2022-03-11 22:33] tannergooding commented on #48615
I think you're misunderstanding. In terms of basic operations, the swizzle is performed as part of the load/store. So if you require a copy, then you can convert as part of that copy at no-additional cost (there is no instruction latency difference between a `load` or a `load + swizzle`). This is true of both individual pixel read-writes and more vectorized algorithms. You can achieve theoreticall

[2022-03-11 22:35] ericstj commented on #66419
Another thing to try is `ps -afx` from the terminal.  It will list out more information about the running process, like its command-line arguments, which could help you deduce what it is.  `dotnet` only means that it's running the .NET host, it could be anything.

[2022-03-11 22:50] danmoseley commented on #57197
Internal request from 3 partners: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1486845

[2022-03-11 22:51] danmoseley commented on #802
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1486859

[2022-03-11 22:52] danmoseley commented on #54189
matching partner request tracked here: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1486854

[2022-03-11 23:01] Sergio0694 commented on #66527
Oooh ok that makes sense ahah
I was expecting just the usual `mov` from offset + indirect load so I was quite confused seeing that extra `call` 😆
Thank you for shedding light on this Egor, I can sleep well at night again now 😄

[2022-03-11 23:01] #66527 closed

[2022-03-11 23:31] ericstj commented on #65621
Looks like this issue is already being discussed here https://github.com/dotnet/core-eng/issues/15594  and @wfurt made a workaround for it in main.

[2022-03-11 23:39] eerhardt opened #66529 "Pattern matching ReadOnlySpan<char> is worse than String"
### Description

Trying to use https://github.com/dotnet/csharplang/issues/1881 is resulting in worse performance than calling `Span.ToString()` and matching on that.

I've created a repro: https://github.com/eerhardt/SwitchSpanPerf. Just pull this code and `dotnet run -c Release` to run the benchmarks. I've tried both .NET 6 and the latest .NET 7 main branch.

The only difference between the two

[2022-03-11 23:43] theodorzoulias commented on #66426
In retrospect adding the `HashSet<T>.Capacity` alone will not result in a totally satisfactory solution to my problem, without the `HashSet<T>.TrimExcess` overload that has an [`int capacity`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.dictionary-2.trimexcess#system-collections-generic-dictionary-2-trimexcess(system-int32)) parameter. This overload currently exists only

[2022-03-11 23:50] justinmchase opened #66530 "`Environment.UserInteractive` returns True on mac, even when the process is run in a non-interactive terminal"
### Description

I suspect it has something to do with this line of code:

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Environment.UnixOrBrowser.cs#L15

### Reproduction Steps

On a mac or linux system...

[code]

[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Regression?

_No response_

### Known Workarounds

_No response_

[2022-03-12 00:10] noahfalk commented on #50406
If the scenario is important then I think Immo provided a suggested path: `IMemoryCache2 : IMemoryCache`. Presumably when we add another metric in the future we'd introduce `IMemoryCache3`, `IMemoryCache4`, and so on so that consumers can determine which iteration of the functionality producers support.

The point of contention appears to be @terrajobst says "We should wait until we have evidence

[2022-03-12 00:15] danmoseley commented on #66530
This API was inherited from .NET Framework, where it was implemented as "Is there a Windows window-station with visible windows". Callers used it to see whether they were running in a non interactive Windows service. Of course, it's not named as such.

When porting it we discussed Unix https://github.com/dotnet/runtime/issues/770#issuecomment-564700467   and the thinking was on Unix, what one woul

[2022-03-12 00:22] justinmchase commented on #66530
@danmoseley I believe it is not sufficient, for example:

[code]

[code]

`Console.IsInputRedirected` returns `False` in both of these cases. I believe the input can be not-redirected but also non-interactive.

---

Also, btw hi @danmoseley, its been a while! We used to work together on the IE dev tools back before they closed the St. Paul office. I see you're on .net platform now, very cool. Keep

[2022-03-12 00:34] deeprobin commented on #66515
After a `git clean -xdf` the test works again strangely enough.
I clean the repo regularly due to any build complications.
With a repo of this size, that's probably fine. But maybe we should make the build more stable in the long run.

As far as I know `build.cmd /t:Test` builds the tests and executes them. This is also described here: <https://github.com/dotnet/runtime/blob/main/docs/workflow/tes

[2022-03-12 00:35] danmoseley commented on #66515
OK, I believe your build was in a broken state. For example, you built it, then you pulled, then you built only part of it, leaving a combination of binaries that cannot work together. That is not a build stability problem. When you get a wierd failure like this, cleaning and rebuilding is a good thing to do before opening an issue.

[2022-03-12 00:35] #66515 closed

[2022-03-12 01:03] marcpopMSFT commented on #65562
@danmoseley Build 17.1.1 of VS released on March 8th per the [release notes.](https://docs.microsoft.com/en-us/visualstudio/releases/2022/release-notes#visual-studio-2022-version-171-releases)

[2022-03-12 01:15] danmoseley commented on #66530
Oh hey @justinmchase I should have recognized the name! Yeah I'm happier writing C# than JavaScript..

@tmds thoughts about how a Unix API would work?

Justin what is your use case here?

[2022-03-12 02:04] wfurt commented on #65455
It may be nice to add test that does not on purpose to get better coverage for such case.

[2022-03-12 02:15] levicki commented on #1442
@joperezr Just FYI, the behavior described in this bug report seems to have also crept into the Visual Studio 2022 Installer -- every time I update the Visual Studio 2022 installation my `PATH` variable is fully and incorrectly expanded (i.e. `%ProgramFiles%` is expanded as `C:\Program Files (x86)`) thus totally breaking all installed tools and applications that need correct `PATH` entries to work

[2022-03-12 02:55] Symbai commented on #66490
#52584

[2022-03-12 03:20] DavoudEshtehari opened #66531 "[API Proposal]: Separating the common UDT types using Microsoft.SqlServer.Server NuGet package"
### Background and motivation

[Microsoft.SqlServer.Server](https://www.nuget.org/packages/Microsoft.sqlserver.server) NuGet package has been introduced to enable the cross framework support of UDT types using [Microsoft.Data.SqlClient](https://github.com/dotnet/SqlClient) to avoid the types conflicts.

Available Types:

To complete the separation project, MSS should be consumed using **System.Dat

[2022-03-12 04:18] justinmchase commented on #66530
My usecase is that we have a cli tool that we run locally for certain tasks and also we use it in our ci (Jenkins) and some other automation scenarios. The tool is complex enough that in a few situations we want to have an interactive terminal which prompts the user for input using [`Sharprompt`](https://github.com/shibayan/Sharprompt).

We want to be totally sure that in a non-interactive scenari

[2022-03-12 04:34] xinsiyu2008 commented on #66384
@lewing  I have wrote a test example and found that it may be caused by SignalR at last.
https://pan.baidu.com/s/16hnavsmgBXft9SEVZLvGGg
code: g9q9
Performance issues found after one hour .
![TestCode](https://user-images.githubusercontent.com/12785429/158003747-cc691a3d-042a-4d2c-84c8-cc654a065fa9.png)

[2022-03-12 04:35] #64972 closed

[2022-03-12 04:35] davidfowl commented on #50406
I consider myself *VERY* well informed on customer usage and I think the 85% case for ASP.NET Core application is usage via the interface and DI. Casting is an unpleasant way to consume metrics in those cases.

[2022-03-12 04:37] davidfowl commented on #50406
I think this is just a smell and we should avoid this and instead introduce discrete feature interfaces where possible and then hop on the DIM train sometime in the future.

[2022-03-12 06:02] hez2010 commented on #66526
Translation:

`System.Net.CookieContainer` cannot identify the best match domain.

For example, two cookies both named XXX but have different values, while the domain is `.a.b.com` and `a.b.com`, respectively.
They are both placed in a single `CookieContainer`, but when I request `https://a.b.com` using `HttpClient` it results in the fact that both two cookies got sent, which is apparently incorre

[2022-03-12 06:23] RyanLiu99 opened #66532 "Microsoft.Extensions.Configuration.Json 5.0.0 cannot refer to System.Text.Json 5.0.1"
For a project has both package installed,
Microsoft.Extensions.Configuration.Json 5.0.0 cannot use  System.Text.Json 5.0.1
even it says it requires >= System.Text.Json 5.0.0.

Downgrade package System.Text.Json  to 5.0.0, then all works fine.

[2022-03-12 07:45] devopg commented on #66517
i didnt find there (https://github.com/dotnet/runtime/issues/53195)  how fix my problem only bla bla bla

[2022-03-12 07:45] EgorBo commented on #66529
This could greatly be improved by https://github.com/dotnet/runtime/pull/65288 but it easily hits the "<20 basic blocks" heuristics - I'll see what will happen if I remove that.

[2022-03-12 07:51] justinmchase commented on #66530
So playing around with this more. I can see that just because the input is redirected that doesn't mean that the process can't be interactive... I can have a process spawn other processes, redirect their input and output and basically proxy through to that process. From the child process' perspective it's interactive but the streams are redirected.

However It seems like there really is no standar

[2022-03-12 08:09] EgorBo commented on #66529
So I've looked at the codegen and it seems to be the main issue here that the IL is just too big - JIT gives up on inlining and register allocation (tracking locals) so we end up with very inefficient codegen for `loweredValue.SequenceEqual("<literal>".AsSpan())` like the one you noticed.

I feel like enabling `https://github.com/dotnet/runtime/pull/65288` unconditionally for at least spans is a g

[2022-03-12 10:00] alexrp commented on #66530
`isatty(stdin)` (which is used by `Console.IsInputRedirected`) is the right thing to use.

Your observations are correct: You can technically make any child process interactive by redirecting its standard I/O streams to a TTY device. (It's quite odd and unusual to do this, though.) If this is done, the process is interactive and `isatty` (and by extension `Console.IsInputRedirected`) will indicate

[2022-03-12 10:07] alexrp commented on #66530
Btw, it's worth noting that the notion of "interactive" can be more nuanced in Unix land. You can have all standard I/O streams redirected to non-TTY files and still have a controlling terminal attached. You can read from and write to it by opening `/dev/tty`. Windows has something a bit similar with `CONIN$` and `CONOUT$`.

This is very esoteric, though, and it's almost never something you should

[2022-03-12 10:51] appliedmarks commented on #66383
I also just hit this issue with the latest VS version and SDK.  I just tried running my project working on .NET 6 until the update.  I tracked it down to an extension method that had a using var sp = services.BuildServiceProvider()

[code]
And then got the same object disposed exception in my Program.cs (Main) class.  For now (to get my project running), I am removing the "using" keyword within th

[2022-03-12 12:24] dovisutu commented on #1630
Well, nope, I don't think I have spare time (or *adequate abilities*?) to work on this. Fine to label as up-for-grabs.

[2022-03-12 12:32] ppruthi-sfdc opened #66537 "Intermediate Certs not being sent from client to server on MAC"
### Description

I am trying to send certificates from client to the server to do a mTLS Handshake. Server expects 3 certs ( 1 Leaf + 2 Intermediates ).

I am adding leaf certificate like this in my code -

[code]

 I can see on the Wireshark that only leaf certificate is written on the wire.
 I understand that it will try to automatically build the chain from OS and add intermediates.
 Both my in

[2022-03-12 12:33] deeprobin commented on #15440
If you like you can assign the issue to me. I'd be happy to take it over once some of my open PRs are merged.

[2022-03-12 12:35] deeprobin commented on #34598
Has anyone profiled the problem yet?
If it is due to slow network interface querying, perhaps we should create an external issue with Windows.

[2022-03-12 12:37] deeprobin commented on #28389
@ericstj Does this performance problem still exist?
If so, could you provide a small code example?

[2022-03-12 12:38] deeprobin commented on #63090
@AlmightyLks What is the current status on this?

[2022-03-12 13:30] justinmchase commented on #66530
@alexrp Right but suppose I have a server with a background process, not connected to tty `isatty(stding)` is false and `Console.IsInputRedirected` is false....

Yet that process is a child of another process which is hooked up to a queue and a database. Elsewhere there is a user at a browser typing into a text box which is pushing messages into a websocket, which ends up going into the queue, whi

[2022-03-12 13:47] alexrp commented on #66530
How would that happen?

https://github.com/dotnet/runtime/blob/6e26872d0a282aa71ea792c3550a3cb0e8bf4e71/src/libraries/System.Console/src/System/ConsolePal.Unix.cs#L681-L697

In the traditional Unix sense, no.

Depends on your app, I suppose? I could imagine that a TUI app might choose to run in some kind of batch mode when run non-interactively.

This all sounds highly subjective and app-specific.

[2022-03-12 13:48] justinmchase commented on #66530
Sorry I mean `Console.IsInputRedirected == true` my bad.

[2022-03-12 13:54] justinmchase commented on #66530
Yeah I agree, I think thats why this is so confusing. Even trying to read around the web for the answers here it seems like peoples recommendations vary wildly and constantly lack precision and it just seems like there is no actual definition of "interactive" technically speaking.

Also, this might be a bug though:

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Console/src/Syste

[2022-03-12 14:32] sajjadarashhh commented on #66287
![Screenshot 2022-03-12 175725](https://user-images.githubusercontent.com/72276897/158021950-d6c63d89-a760-4cec-912a-5b7ebb31cb6f.png)
in this picture can you see dotnet.wasm is very large in aot Compilation mode(without Compression this with Compression take 18.0mb)
@lewing we have an Enterprise web application that's have 22pages and much more And a number of others dialogs and Components we use

[2022-03-12 15:08] jgiannuzzi commented on #65341
Hey @hoyosjs and @janvorli, I investigated some of these aspects back when I tried to fix #64103 with #64104.
I unfortunately did not realise that the debugger would write to the memory after loading the R2R image, sorry!

I think the issue we see here is because we are mixing calls to `mprotect` and `pthread_jit_write_protect_np`.
If we never use `pthread_jit_write_protect_np` but only `mprotect`

[2022-03-12 15:16] EgorBo opened #66540 "Assert: global_regions_to_decommit[kind].get_num_free_regions() == (size_t)num_regions_to_decommit[kind]"
`GC\Features\HeapExpansion\bestfit-finalize\bestfit-finalize.cmd` test fails in various PRs with:
[code]
e.g. in https://dev.azure.com/dnceng/public/_build/results?buildId=1660123&view=ms.vss-test-web.build-test-results-tab&runId=45709898&resultId=102876&paneView=debug or in https://github.com/dotnet/runtime/pull/64130

[2022-03-12 15:17] EgorBo commented on #66540
https://github.com/dotnet/runtime/pull/65367 might be related? cc @PeterSolMS

[2022-03-12 15:45] xperiandri opened #66541 "[macOS] dotnet publish cannot write pkg file"
### Description

When I call `dotnet publish -f net6.0-macos /p:_platformName=macOS -r osx-x64` I get error `productbuild directory "bin/Release/net6.0-macos/osx-x64/publish" does not exist for writing "Transmission.Client.Mobile-1.0.pkg".`

### Reproduction Steps

1. Create Uno Platform app .NET 6 from template
2. Add `<TargetFrameworks Condition="'$(_PlatformName)' == 'macOS'">net6.0-macos</Targ

[2022-03-12 15:47] eerhardt commented on #66529
@EgorBo - do you know why I was seeing this difference on my windows machine but not my mac?

[2022-03-12 15:57] jkotas commented on #66516
The proposed design adds RegEx as unconditional dependency of FileSystemWatcher. It will prevent trimming of RegEx if the app uses FileSystemWatcher, but does not use RegEx. I would be better to provide the filter as a delegate to break this unconditional dependency.

[2022-03-12 16:00] EgorBo commented on #66529
I suspect it's ABI difference. `ReadOnlySpan<char>` can be returned/passed via registers on SysV ABI (macos-x64/linux-x64) and via stack on windows-x64

[2022-03-12 16:04] EgorBo commented on #66529
Example:
![image](https://user-images.githubusercontent.com/523221/158025398-fe7bdfb5-3381-4f72-ac97-c452d12e2fb2.png)

Left - Windows-x64, Right - Linux-x64

[2022-03-12 16:39] justinmchase commented on #66530
Vim can accept input from redirected stdin, for example, here I'm sending ESC and theoretically you could send any commands through the terminal this way as well.
[code]

I don't think I could implement this in .net right now, because of that exception which would throw an error when I tried to stream input through redirected input.

[code]
[code]

And of course `Console.Read()` doesn't seem to do

[2022-03-12 16:42] wfurt commented on #66537
Can you check with X509Chain.Build that the chain can be successfully constructed. Would it make difference if you add the intermediates to users Ca store?

[2022-03-12 16:47] danmoseley opened #66715 "dotnet fails to exit with thread stuck in coreclr!WatsonLastChance"
I built dotnet/runtime main in release, then ran outerloop tests. It jammed with active CPU, so I tried to get a dump.

Running as admin (although it shouldn't matter - target process is not elevated)
[code]

cc @mikem8361

[2022-03-12 17:07] stephentoub commented on #66516
That would also enable the regex source generator to be used, whereas it couldn't if the FSW implementation just received the pattern as a string dynamically.

[2022-03-12 17:12] mangod9 commented on #66540
Should be fixed with https://github.com/dotnet/runtime/pull/66495. I have just merged it.

[2022-03-12 17:22] ppruthi-sfdc commented on #66537
1. Yes, I saw that chain is successfully getting constructed when I debugged with  X509Chain.Build.
[code]

      Used above policy flags and observed that chain.elements are successfully getting populated with intermediate certs.
      The chain status is "Partial Chain".

  2. I was under the impression that CA store doesn't work with Mac after seeing this issue opened by you.
       https://git

[2022-03-12 17:25] #66540 closed

[2022-03-12 17:49] danmoseley opened #66544 "System.IO.FileSystem tests fail all over with temp on Fat32"
Some tests in System.IO.FileSystem are conditionalized on being run on a FAT32 volume (specifically, that temp is on FAT32 -- where the repo is is not relevant)
https://github.com/dotnet/runtime/blob/7db092a6ed68a5fbf47962c45bb0c1bb965d02c6/src/libraries/System.IO.FileSystem/tests/FileStream/ctor_options.Windows.cs#L61

So I'd expect this library to pass when temp is on FAT32. I changed TEMP and T

[2022-03-12 17:56] danmoseley commented on #66544
It occurs to me that these tests of course ought to pass on Linux against FAT32.

[2022-03-12 18:06] jkoritzinsky commented on #66544
Maybe we could put a virtual hard drive file in runtime-assets that has a FAT32 file system and have a test leg use a mounted copy of that?

[2022-03-12 18:09] danmoseley commented on #66544
That's an interesting idea. I also notice ramdisk.inf/ramdisk.sys in the Windows directory, which may be [an old SDK sample](http://www.jcomeau.com/src/ramdisk/RAMDISK.HTM). didn't try to get it to work.

[2022-03-12 18:10] AhmedZero opened #66545 "terrafx.interop.windows and Assembly.FullName problem when compile using NativeAOT"
### Description

Hello,
when I build a simple program with terrafx using nativeaot. and using GetAssemblies, it makes the exception.

### Reproduction Steps

Program.cs
[code]

[code]

### Expected behavior
GetAssemblies used in reactiveui with avalonia and I want to get the output of my processor id in my project
[teobugslayer/AvaloniaCoreRTDemo#17](https://github.com/teobugslayer/AvaloniaCoreRTD

[2022-03-12 18:49] BerndNK commented on #62054
Our app uses a lot of Net 6 features, so I gave up on this.
However, I managed to find a workaround for this issue. At least for our app.
Simply deactivating optimization seemed to have fixed the issue. I did this, since I noticed that the issue only appeared when the app was published. So simply adding
`<Optimize>false</Optimize>`
to every .csproj file apparently fixed the issue for me.

Perhaps

[2022-03-12 19:18] scalablecory commented on #66470
Yes. I like the direction you've taken it w/ implementation.

- Would this always do `EscapeDataString` for bits in the path/query, or would it somehow give the caller the option?
- Crazy idea, but just throwing it out there -- could the interpolated string builder also be used directly as a maybe more efficient `UriBuilder`?
- Would an overload that outputs to `Span` be useful for anything?

[2022-03-12 20:04] ericstj commented on #28389
It's been a while since I've written that but I'm sure it still exists since we haven't done much here.  Looking at the history I was writing API docs at that time.  TL;DR Tensor access has a lot of perf problems today so this is probably more of a rethink/redesign problem than an up-for-grabs issue.

Tensors provide multi-dimensional array access which the JIT knows nothing about, so if you try t

[2022-03-12 21:24] teo-tsirpanis opened #66546 "C# dllmain with nativeaot"
### Discussed in https://github.com/dotnet/runtime/discussions/66543

<div type='discussions-op-text'>

<sup>Originally posted by **AhmedZero** March 12, 2022</sup>
there is any way to add dllmain like C++ when compiling using Nativeaot
thanks.</div>

[2022-03-12 23:44] meziantou opened #66547 "Json source generator should support JsonConverter on non-nullable and nullable types"
### Description

I have a custom JsonConverter like `CustomConverter : JsonConverter<DateTime>`. Without the source generator I can use the custom converter for `DateTime` and `DateTime?` properties. Using the source generator, the generated code doesn't compile for nullable properties.

I have to create 2 converters `CustomConverter : JsonConverter<DateTime>` and `NullableCustomConverter : JsonCo

[2022-03-13 00:18] hakenr commented on #62054
@BerndNK, unfortunately, I cannot confirm the workaround. The [basic repro-app](https://github.com/Charnock/BlazorWasmGrpcMemoryRepro) when there is [`<Optimize>false</Optimize>` set](https://github.com/hakenr/BlazorWasmGrpcMemoryRepro/tree/optimize-false), still fails when published:

[2022-03-13 01:10] hakenr commented on #62054
Some more experiments
* `Debug` mode does not help
* self-contained win-x86 publish does not help
* `<BlazorEnableCompression>false</BlazorEnableCompression>` does not help
* `<BlazorCacheBootResources>false</BlazorCacheBootResources>` does not help

[2022-03-13 01:17] Wraith2 commented on #66529
A huge switch like that feels like there should be a better way to match it. A Trie or something like that.

[2022-03-13 01:44] jkotas commented on #66546
There are significant limits on what can be safely done inside DllMain. See https://docs.microsoft.com/en-us/windows/win32/dlls/dllmain for details. It is not possible to safely run managed code inside DllMain due this limitation. The .NET runtime may internally call OS APIs that are prohibited inside DllMain.

If you need to run one-time initialization before any code in your module runs, you can

[2022-03-13 01:46] #66546 closed

[2022-03-13 02:18] MihaZupan commented on #66470
This would escape every hole. What would user configuration look like here? Presumably, we would want to be clear that this method "always" escapes vs. the existing constructors that just take `string` and you are always responsible for escaping.

How do you mean? As in users using the handler directly instead of through a helper method?
[code]

It would probably work, but I'm not sure you would w

[2022-03-13 02:19] AaronRobinsonMSFT commented on #66545
/cc @tannergooding

[2022-03-13 03:09] wfurt commented on #62136
Should be closed by  #66315 for 6.0.4

[2022-03-13 03:09] #62136 closed

[2022-03-13 03:13] huoyaoyuan commented on #56289
The issue disappears after I installed CMake 3.22.2. Maybe another CMake issue like #65562

[2022-03-13 03:19] huoyaoyuan commented on #66532
I can't reproduce it. I can build the following project successfully.
[code]

Can you share more about the error message?

[2022-03-13 03:23] huoyaoyuan commented on #66517
Which serializer are you using? The serialization to an object supports `dynamic` is done by the serializer.

[2022-03-13 04:41] danmoseley commented on #66526
Appreciate it @hez2010

[2022-03-13 10:25] huoyaoyuan commented on #64921
In #66551, I've actually made multi-reg DivRem on x64 works. @EgorBo you can check if there are works remaining.

[2022-03-13 11:03] EgorBo commented on #66529
Feel free to implement https://github.com/dotnet/roslyn/issues/56374 on the Roslyn side ;-)

[2022-03-13 11:28] Wraith2 commented on #66529
Hasn't been approved, plus I'm not sure I need to be in yet another codebase...
If it gets approved I could give it a try.

[2022-03-13 11:53] jakobbotsch commented on #13241
Should this be assigned to someone else @BruceForstall? Since this looks like a VM bug.

[2022-03-13 12:06] jakobbotsch commented on #8891
Fixed with #66282.

[2022-03-13 12:06] #8891 closed

[2022-03-13 13:47] jkotas opened #66555 "System.Text.Json tests fail around DST time change"
Failed in https://github.com/dotnet/runtime/pull/66534
[code]

[2022-03-13 14:05] AhmedZero commented on #66546
@jkotas I test [ModuleInitializer](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/module-initializers) but not works in the shared library, I wanna use the library and execute codes without using any Exports API, just when Load Library.

[2022-03-13 14:20] teo-tsirpanis commented on #66546
@AhmedZero unfortunately there is no way to do what you want and this is by design. You need to change your system's architecture and export an `Init` function that will be called _after_ the library gets loaded. That's what the `DllMain` guidance recommends.

[2022-03-13 14:41] am11 opened #66556 "Build failure in CI: LLVM AOT cross-compile CoreCLR tests"
Failed in PRs: #66552, #66528, #66519 .. and more.

logs: https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1660954/logs/1459

[code]

[2022-03-13 15:02] AhmedZero commented on #66546
@teo-tsirpanis it will support soon or not?
I don't need Dllmain, all I need, after executing loadlibrary, execute codes.

[2022-03-13 15:11] teo-tsirpanis commented on #66546
The only way to execute custom code upon the loading of a DLL is through `DllMain`. Its limitations are due to Windows, not .NET, and have existed since decades ago. _There is no way out of this._

[2022-03-13 15:16] AhmedZero commented on #66546
thanks for your answer 👍 .

[2022-03-13 15:24] jakobbotsch commented on #13241
Small self-contained repro:
[code]

Linux/Windows arm32 result:
[code]

[2022-03-13 18:18] AndyAyersMS commented on #33658
BDN version in perf repo was updated to include aggressive opt on the Overhead/Workload action methods (via https://github.com/dotnet/performance/pull/2307).

Some of the tests I expected to improve actually improve, eg
![newplot - 2022-03-13T110753 149](https://user-images.githubusercontent.com/10121823/158073223-6b6691ad-e36f-49b1-851f-2edd9adff665.png)
![newplot - 2022-03-13T111723 898](https:/

[2022-03-13 18:46] BruceForstall commented on #33658
Via this fix: https://github.com/dotnet/BenchmarkDotNet/pull/1935

[2022-03-13 20:00] AndyAyersMS commented on #33658
Actually, some care is needed in interpreting these results, as the Mar1 "baseline" is NoPGO, not default. And in some cases PGO data is causing regressions. For example, [here's the default perf for `GetBytes(Input: Greek)`](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Text.Perf_Utf8Encoding.GetBytes(Input%3a%20Greek).ht

[2022-03-13 20:36] aviatrix opened #66557 "Attempting to write schema to writer throws exception"
### Description

I'm attempting to infer XML schema from a series of XML files. For that purpose i've used the  `XmlSchemaInference` and `XmlSchemaSet` classes.

The solution however throws an exception as follows :
[code]

### Reproduction Steps

[code]

### Expected behavior

Should not throw an exception and should output xml schema

### Actual behavior

Throws exception

[code]

### Regression

[2022-03-13 21:26] Clockwork-Muse commented on #66555
I'm looking at this one.

[2022-03-13 21:28] rickbrew commented on #48615
Hmm, well that seems to clear up the confusion on my part (along with the conversation we had on Discord).

[2022-03-14 00:16] vindicatorr opened #66562 "Android Build Needs To Be Updated - Doc And Termex"
### Description

The documentation and script for cross-compiling Android seems to be out of date.

### Reproduction Steps

$ NDK_DIR="<path_to>/23.1.7779620/" \
__lldb_Dir="<path_to>/23.1.7779620/toolchains/llvm" \
PATH="<path_to>/23.1.7779620/toolchains/llvm/prebuilt/linux-x86_64/python3/bin/python3.9:$PATH" \
./eng/common/cross/build-android-rootfs.sh arm64 31

### Expected behavior

Build on A

[2022-03-14 01:05] VincentBu commented on #63854
Failed again in: [runtime-coreclr outerloop 20220313.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1661217&view=ms.vss-test-web.build-test-results-tab&runId=45722994&resultId=108139&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 01:14] VincentBu opened #66563 "Test failure JIT/Regression/JitBlue/DevDiv_461649/DevDiv_461649/DevDiv_461649.sh"
Run: [runtime-coreclr jitstress2-jitstressregs 20220313.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1661184&view=ms.vss-test-web.build-test-results-tab&runId=45722840&resultId=108981&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 01:21] VincentBu commented on #66174
Failed again in: [runtime-coreclr jitstress-isas-x86 20220312.1
](https://dev.azure.com/dnceng/public/_build/results?buildId=1660479&view=ms.vss-test-web.build-test-results-tab&runId=45714288&paneView=debug&resultId=110073)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 01:32] VincentBu opened #66564 "Test failure JIT\\Performance\\CodeQuality\\Roslyn\\CscBench\\CscBench.cmd"
Run:[ runtime-coreclr jitstress-isas-x86 20220312.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1660479&view=ms.vss-test-web.build-test-results-tab&runId=45714274&resultId=106209&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 01:40] VincentBu opened #66565 "Test failure JIT\\Regression\\JitBlue\\GitHub_35821\\GitHub_35821\\GitHub_35821.cmd"
Run: [runtime-coreclr jitstress-isas-arm 20220312.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1660460&view=ms.vss-test-web.build-test-results-tab&runId=45714182&resultId=101538&paneView=debug)

Failed test:
[code]
**Error message:**
[code]
or
[code]

[2022-03-14 01:43] stephentoub commented on #14746
Even if you were to make the proposed change, on a 32-bit system it still wouldn't solve "the problem" because the read could still be torn.

I don't believe it's worth changing DateTime for this.

[2022-03-14 01:45] VincentBu commented on #58699
Failed again in:[ runtime-coreclr gcstress0x3-gcstress0xc 20220313.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1661068&view=ms.vss-test-web.build-test-results-tab&runId=45721874&resultId=109506&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 01:48] VincentBu opened #66566 "Test failure GC\\Coverage\\LargeObjectAlloc2\\LargeObjectAlloc2.cmd"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20220313.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1661068&view=ms.vss-test-web.build-test-results-tab&runId=45721902&resultId=108114&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 01:49] VincentBu opened #66567 "Test failure GC/Coverage/LargeObjectAlloc2/LargeObjectAlloc2.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20220313.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1661068&view=ms.vss-test-web.build-test-results-tab&runId=45721878&resultId=110380&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 01:53] VincentBu opened #66568 "Test failure Regressions/coreclr/GitHub_16833/Test16833/Test16833.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20220313.1
](https://dev.azure.com/dnceng/public/_build/results?buildId=1661068&view=ms.vss-test-web.build-test-results-tab&runId=45721876&resultId=110795&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 01:57] VincentBu opened #66569 "Test failure GC\\API\\Frozen\\Frozen\\Frozen.cmd"
Run: [runtime-coreclr gcstress-extra 20220312.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1660529&view=ms.vss-test-web.build-test-results-tab&runId=45714724&resultId=108099&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 02:00] VincentBu opened #66570 "Test failure JIT\\HardwareIntrinsics\\General\\Regression\\GitHub_47236\\GitHub_47236\\GitHub_47236.cmd"
Run: [runtime-coreclr r2r 20220310.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1658055&view=ms.vss-test-web.build-test-results-tab&runId=45675952&resultId=100132&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-14 02:08] VincentBu opened #66571 "Test failure System.Runtime.InteropServices.HandleCollectorTests.TestHandleCollector"
Run: [runtime-coreclr libraries-jitstressregs 20220313.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1660907&view=ms.vss-test-web.build-test-results-tab&runId=45719236&paneView=debug&resultId=151261)

Failed test:
[code]
**Error message:**
[code]

Runfo Tracking Issue: [system.runtime.interopservices.handlecollectortests.testhandlecollector](https://runfo.azurewebsites.net/tracking

[2022-03-14 02:32] jasonthorsness commented on #60600
@nanasi880 the HostFactoryResolver prefers the older patterns; I worked around this exception issue by just moving my IHostBuilder creation to a static Program.CreateHostBuilder for EF to find.

https://github.com/dotnet/runtime/blob/13024af94f951851d9cee9a7d79911749a25fa3b/src/libraries/Microsoft.Extensions.HostFactoryResolver/src/HostFactoryResolver.cs#L126

In my case this was a CLI tool using

[2022-03-14 02:39] stephentoub commented on #60623
@olsaarik, I think the issue here is that we're only checking for timeout during phase 1, but with the pattern `@"a\s+"`, phase 1 will be really fast (only looks at two characters).  Phase 2 is then really fast as well, but Phase 3 takes a very long time (iterating through 800 million characters) without timeout checks.

I know you're working on overhauling phase 1 to find the longest match.  Will

[2022-03-14 02:55] #66545 closed

[2022-03-14 03:23] nanasi880 commented on #60600
Thanks reply.

@davidfowl
This exception occurred only during development and was specifically thrown when the following command was executed
`dotnet ef migrations add {parameters...}`

@jasonthorsness
This is very interesting information.
I am currently running ASP.NetCore in a subcommand using the Microsoft.Extensions.CommandLineUtils package.

This means that from the Program class (the Main me

[2022-03-14 03:46] RossNordby opened #66573 "NativeAOT InvalidCastException while compiling a generic mess"
Attempting to compile this snippet:
[code]
with this csproj:
[code]
with CLI:
`dotnet publish -c Release -r win10-x64`
with sdk version 7.0.100-preview.1.22110.4, ilcompiler version 7.0.0-alpha.1.22074.1 on Windows 11 22000.556 yields this output:

<details><summary>Build output</summary><blockquote>
Microsoft (R) Build Engine version 17.2.0-preview-22104-01+09bdfae16 for .NET
Copyright (C) Micros

[2022-03-14 07:34] pantonis commented on #41482
Is this planned for .NET 10?

[2022-03-14 08:11] deeprobin commented on #66249
The main reason to merge this into LLVM was the ARGB - RGBA Pixel Code Swizzling

I could imagine that this problem might occur with the API proposal #48615.

Tanner do you think the ARGB-RGB Pixel Swizzling could be a hot path for certain use cases (e.g. WinForms)? If so, the optimization would not be so bad in my opinion.

/cc @JeremyKuhne
/cc @tannergooding

[2022-03-14 08:33] j0nimost opened #66576 "Generating a new request from within a DelegatingHandler"
I am trying to generate a new request from within the [DelegatingHandler](https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/http-message-handlers) instance but my requests are being received without the necessary headers.

_The question is on Stackoverflow : [here](https://stackoverflow.com/questions/71423646/validating-request-in-delegatinghandler-and-redirects)_

Here is my Deleg

[2022-03-14 08:41] djanri commented on #25375
@JanJorgensen
Please look at [fork on github](https://github.com/djanri/Net5AddonLoadProblemDemo). In the [TheApp.csproj](https://github.com/djanri/Net5AddonLoadProblemDemo/blob/master/TheApp/TheApp.csproj) file you could find postbuild event which fixes you issue.

[2022-03-14 09:04] hez2010 commented on #66573
I cannot repro this issue. But instead, I found the NativeAOT-ed exe will exit immediately after launching due to an AV exception if I changed the source code to:

[code]

Exit code: 0xc0000005

[2022-03-14 09:22] hakenr commented on #62054
@kg, any idea what can make the difference in between plain build and published version? What else can we try to make our apps work in production the way they work in development?

[2022-03-14 09:28] adamsitnik commented on #66544
@danmoseley I totally agree with you, I've added this issue to #54495.

[2022-03-14 09:29] bentoi opened #66577 "PipeReader.ReadAtLeast API conformance"
The default `PipeReader.ReadAtLeastAsync` implementation relies on `PipeReader.ReadAtLeastAsyncCore` which is implemented as a loop calling `PipeReader.ReadAsync` and `PipeReader.AdanceTo` until the read data size is superior to the `minimumSize`.

A class extending the abstract `PipeReader` class inherits from this default implementation which has one pitfall: it always examines the full buffered

[2022-03-14 09:34] jakobbotsch opened #66578 "Assertion failed 'interval->isSpilled' during 'LSRA allocate'"
### Description

The following program hits a JIT assert on arm32 when optimizing.

### Reproduction Steps

[code]

### Expected behavior

No assert hit.

### Actual behavior

Assert hit.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

category:correctness
theme:register-allocator

[2022-03-14 09:37] jakobbotsch opened #66579 "Assertion failed 'inVarToRegMap[varIndex] == REG_STK' during 'LSRA allocate'"
### Description

The following program hits a JIT assert on arm32 when optimizing.

### Reproduction Steps

[code]

### Expected behavior

No assert hit.

### Actual behavior

Assert is hit.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

category:correctness
theme:register-allocator

[2022-03-14 09:40] jakobbotsch opened #66580 "Assertion failed '!foundMismatch' during 'LSRA allocate'"
### Description

The following program hits a JIT assert on arm32 when optimizing.

### Reproduction Steps

[code]

### Expected behavior

No JIT assert hit.

### Actual behavior

JIT assert is hit.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

category:correctness
theme:register-allocator

[2022-03-14 09:46] ManickaP commented on #66576
How do you instantiate and use the delegating handler, do you set up any settings on `SocketsHttpHandler`? Did you debug/log the actual requests being sent from the client side? Could you share the request/response exchanges (without any sensitive details), e.g. do a packet capture, or use fiddler.
Also be aware that `Authorization` header is a known header and `HttpClient` in some cases modifies

[2022-03-14 09:59] aensithe opened #66581 "My coming out"
@aensidhe

Hello everyone, I'm Anatoly Popov and I love and support Russia.

Do you support **Russia**?

Reach out to me:
[blog](https://aensidhe.ru/)
[twitter](https://twitter.com/aensidhe)
[linkedin](https://www.linkedin.com/in/anatolypopov/)
[telegram](https://t.me/aensidhe)

[2022-03-14 10:05] #65934 closed

[2022-03-14 10:15] EgorBo commented on #66567
Should be fixed with https://github.com/dotnet/runtime/pull/66495

[2022-03-14 10:18] EgorBo commented on #66566
Same as https://github.com/dotnet/runtime/issues/66567

[2022-03-14 10:20] aensidhe commented on #66581
This person is impersonating me, close the issue, please.

Sorry for spam.

[2022-03-14 10:30] #66581 closed

[2022-03-14 10:40] kg commented on #62054
This sort of problem will manifest at random, and unless you identify the specific source of it you can't really work around it, unfortunately.

[2022-03-14 11:13] ilonatommy opened #66583 "Test failure System.Numerics.Vectors.Tests"
Run: [runtime-extra platforms tvOS arm64 Release  20220311.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1659289&view=ms.vss-test-web.build-test-results-tab&runId=45695996&resultId=154548&paneView=debug)

Command: Exec (with response file contents expanded) in /tmp/helix/working/B33B0993/w/BACC09D2/e/publish:
[code]

Error message:
[code]
(https://github.com/dotnet/runtime/blob/c3c

[2022-03-14 11:35] adamsitnik commented on #66276
Based on the following line from log:

I suspect that the parent process tries to read the child process standard error before it actually writes anything (a race condition):

https://github.com/dotnet/runtime/blob/719d56525ea7b89d052420e7cea88786faf771df/src/tests/tracing/eventpipe/complus_config/name_config_with_pid.cs#L64-L66

`ReadLine` returns `null`:

https://github.com/dotnet/runtime/blob/c

[2022-03-14 11:36] adamsitnik commented on #66276
Since it does not seem to be an IO/Console/Process issue but rather a test bug, I am moving it to the tracing area.

[2022-03-14 11:41] #66576 closed

[2022-03-14 11:47] adamsitnik commented on #66450
@tmds I am supportive of this idea. Could you please fill the [official template](https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.yml&title=%5BAPI+Proposal%5D%3A+)?

[2022-03-14 11:47] TiltonJH opened #66584 "microsoft.xmlserializer.generator.6.0.0.nupkg fails to upload to nuget.server"
Hi,

we internally use a [NuGet.Server 3.4.1](https://github.com/NuGet/NuGet.Server) for our own as well as all third party nugets.

We can not push or otherwise publish `microsoft.xmlserializer.generator.6.0.0.nupkg` downloaded from [nuget.org](https://www.nuget.org/packages/Microsoft.XmlSerializer.Generator/) to our NuGet.Server.

On pushing we get a `System.Net.Http.HttpRequestException: Respon

[2022-03-14 11:57] stephentoub commented on #19909
This has been open for years with little demonstrated interest or need. Closing.

[2022-03-14 11:57] #19909 closed

[2022-03-14 11:59] stephentoub commented on #23183
@karelz, this is marked as blocked. What is it blocked on at this point? SocketsHttpHandler allows you to configure socket options now.

[2022-03-14 12:00] adamsitnik commented on #66417
@tmds does Linux provide any equivalent of this API?

[2022-03-14 12:02] adamsitnik commented on #65254
I have not received any answers for a month, so I am going to close the issue (it's fixed in 7.0, we currently don't plan to backport it to 6.0)

[2022-03-14 12:04] stephentoub commented on #24436
I'm not aware of any way to actually implement this asynchronously on any OS we support. Maybe io_uring would enable us to do this in the future on Linux, but at present (and for the last five years) this issue isn't actionable. Closing.

[2022-03-14 12:04] #24436 closed

[2022-03-14 12:09] jakobbotsch opened #66585 "ARM32 register conflict for large stack frames and tailcalls"
### Description

ARM32 may need a scratch register to free large local stack frames. This can currently conflict with the register used for the target in fast tail calls.

### Reproduction Steps

[code]

### Expected behavior

No crash.

### Actual behavior

Segfault/access violation as we generate the following code:
[code]

### Regression?

_No response_

### Known Workarounds

_No response_

##

[2022-03-14 12:15] adamsitnik commented on #64271
@stephentoub I am supportive of this idea in the current shape and I've marked it as ready for review. Would you like to present it in the API proposal meeting?

[2022-03-14 12:20] adamsitnik commented on #61468
@tmds is there any chance you could take a look at this?

[2022-03-14 12:22] adamsitnik commented on #64355
@tmds do you think that it can be related to https://github.com/dotnet/runtime/pull/49649 ?

[2022-03-14 12:23] kedia990 opened #66587 "Support system-wide enforcement of default authentication with proxy"
## Objective

As an administrator, I'd like to be able to enforce the use of default authentication with the configured proxy for all .NET Core applications that run on systems across the enterprise.

## Current State

Currently, we're able to enforce the use of a proxy, with the `HTTP_PROXY` / `HTTPS_PROXY` / `ALL_PROXY` environment variables. We can set these via Group Policy (or any other mecha

[2022-03-14 12:27] #58566 closed

[2022-03-14 12:32] stephentoub commented on #661
Thanks.  I don't think this is enough value to warrant introducing additional APIs, and I think these would also lead people down the path of writing code that's more expensive than it should be (see my previous comments).

[2022-03-14 12:35] CarnaViire commented on #66526
I believe it was addressed in https://github.com/dotnet/runtime/issues/60628 so that the domains with and without the leading dot are considered same by CookieContainer, so the first cookie with the same name will get replaced by the second one.

[2022-03-14 12:41] davidbolvansky commented on #66249
no, “this” has nothing common with that LLVM review. Two different transformations.

[2022-03-14 12:48] stephentoub commented on #33542
It's been a couple of years.  Has there been any demonstrated need for this where the overhead involved in the operation would still make it applicable?

[2022-03-14 12:50] adamsitnik commented on #43144
@tmds could you please take a look?

[2022-03-14 12:51] eiriktsarpalis commented on #66532
@RyanLiu99 could you please share a standalone reproduction of the issue?

[2022-03-14 12:52] thaystg commented on #66149
Sure. Do you want to open the PR?

[2022-03-14 12:53] adamsitnik commented on #66449
@carlossanlop what is your opinon on that? Should we always write the GZip signature?

[2022-03-14 12:53] adamsitnik commented on #66449
@sschultze may I ask why are you interested in creating "empty" gzip files?

[2022-03-14 12:56] stephentoub commented on #30529
Closing per the comments in https://github.com/dotnet/runtime/issues/30529#issuecomment-771018370. Thanks.

[2022-03-14 12:56] #30529 closed

[2022-03-14 12:58] mrhelmut commented on #61231
Out of curiosity, if such option should exist, will it require an active connection to invisibly fetch a nuget, or will the compiler be shipped with the dotnet sdk install?

(Very pleased to see NativeAOT moving closer to a fully integrated product, it really is a fantastic set of tools.)

[2022-03-14 12:59] adamsitnik commented on #66346
Since https://github.com/dotnet/announcements/issues/211 was created and there is no action on dotnet/runtime side, I am going to close the issue.

[2022-03-14 12:59] #66346 closed

[2022-03-14 12:59] stephentoub commented on #29243
Thanks for the suggestion.   This would require changes to both the runtime and language, and it is too niche to warrant such changes.  As you noted, you can achieve this yourself via your own analyzer you ship with your library; if you find it valuable, you can publish it on nuget and others that are in a similar boat can consume your package.  This has garnered too little interest in the last th

[2022-03-14 12:59] #29243 closed

[2022-03-14 13:00] stephentoub commented on #64271
Sure, thanks.

[2022-03-14 13:04] stephentoub commented on #24471
@bartonjs, is this still an issue?  The API is simple: I suggest we either just go ahead and do it (API review it) or close this.  Thanks.

[2022-03-14 13:10] stephentoub commented on #26262
Given @GrabYourPitchforks's comments, and that this issue has been open now for almost four years and garnered little visible interest, and this is a very niche area, and this would only save a cast, I'm going to close it.  Thanks for the suggestion.

[2022-03-14 13:10] #26262 closed

[2022-03-14 13:12] BernhardNinaus commented on #41482
The problem is, that it also works without this feature...

But it would be really nice to see, I just like a clean output.

[2022-03-14 13:14] eiriktsarpalis commented on #66487
Duplicate of #66469.

[2022-03-14 13:14] #66487 closed

[2022-03-14 13:17] Therzok commented on #65254
None of the questions were directed towards me, so I'm pretty sure the issue should still be open, especially given it's a regression in net6.0

[2022-03-14 13:23] sschultze commented on #66449
@adamsitnik My software compresses files provided by the user, and it is totally fine to hand over umcompressed 0-byte files to my software. I think there shouldn't be any special logic for 0-byte files.

Furthermore, my software uses both .NET and Node.js, and both can decompress blobs generated by the other without any problems, except for the 0-byte case.

Tring to gunzip an empty blob (generat

[2022-03-14 13:25] #44061 closed

[2022-03-14 13:31] sschultze commented on #66449
By the way, the proposed bugfix would also make `GZipStream`'s behavior consistent with the behavior of `CryptoStream`:

[code]

Generates a 16-byte array. (Of course it's not 100% comparable as there is no signature.)

[2022-03-14 13:32] ilonatommy commented on #66583
@simonrozsival, @vargaz, do you have any ideas?

[2022-03-14 13:33] fanyang-mono commented on #66583
My PR might caused this. I will take a look soon.

[2022-03-14 13:37] CarnaViire commented on #66297
Linking the existing issue containing API for socket's happy-eyeball-like parallel connect https://github.com/dotnet/runtime/issues/33418
We might want to revisit it and add more flexible options, e.g. not connecting to all IPs at once, but rather try to connect to the first IP, wait for 5s, and if it doesn't connect, try to connect to the second one without cancelling the first one, etc.

[2022-03-14 13:39] FabianZeulnerGEA commented on #66082
I did not get the chance to run the debugger on the system. but i hope to get it done this week, and we also move the DMA memory location to a place that SIMD is happy.
will keep you posted.

but in general it would be nice if the framework can take care of, and if it detects something like that, switches back to the core3.1 version of it.

[2022-03-14 14:07] stephentoub commented on #66449
For reference:
https://github.com/dotnet/runtime/blob/39fb7f7826270f00b856e3e9a13165c07dec87cc/src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/DeflateStream.cs#L558-L562

[2022-03-14 14:10] stephentoub commented on #35460
What specific APIs are actually being proposed here?

[2022-03-14 14:14] marklechtermann commented on #45750
If you are looking for a way to generate a **TLB** from a .NET 5+ assembly, this project might help you:
[https://github.com/dspace-group/dscom](https://github.com/dspace-group/dscom)

[2022-03-14 14:14] stephentoub commented on #38797
Closing per https://github.com/dotnet/runtime/issues/38797#issuecomment-654235546 and https://github.com/dotnet/runtime/issues/38797#issuecomment-654504410. Thanks for the suggestion.

[2022-03-14 14:14] #38797 closed

[2022-03-14 14:15] stephentoub commented on #38860
Closing as a duplicate of https://github.com/dotnet/runtime/issues/34098

[2022-03-14 14:15] #38860 closed

[2022-03-14 14:16] stephentoub commented on #39563
This hasn't garnered any visible interest in almost two years.  Closing.  Thanks for the suggestion.

[2022-03-14 14:16] #39563 closed

[2022-03-14 14:16] stephentoub commented on #39565
This hasn't garnered any visible interest in almost two years nor follow-up for the additional details.  Closing.  Thanks for the suggestion.

[2022-03-14 14:16] #39565 closed

[2022-03-14 14:18] stephentoub commented on #40029
Is there a concrete proposal here for new APIs?  Seems like the scenarios are already achievable via other means.  If that's the case, we can just close this.  Thanks.

[2022-03-14 14:18] AaronRobinsonMSFT commented on #45750
@marklechtermann This is a very interesting project! Thank you for sharing and providing a community solution for TLB tooling in .NET 5+.

[2022-03-14 14:19] janvorli commented on #65341
@jgiannuzzi we actually need both the `mprotect` (speaking of the one in the `MAPMapPEFile` call chain) and the `pthread_jit_write_protect_np`. We initially reserve virtual address space for executable memory using `mmap` with `PROT_NONE` and `MAP_JIT` flag, so we first need to use `mprotect` to mark the memory as `PROT_READ` | `PROT_EXEC` and then the `pthread_jit_write_protect_np` to enable / di

[2022-03-14 14:23] stephentoub commented on #40413
Closing this in favor of https://github.com/dotnet/core/issues/5852.

[2022-03-14 14:23] #40413 closed

[2022-03-14 14:25] stephentoub commented on #40525
I agree with https://github.com/dotnet/runtime/issues/40525#issuecomment-670537512.  If there's evidence that this is an issue, we should special-case the relevant types in the existing methods. Thanks for the suggestion.

[2022-03-14 14:25] #40525 closed

[2022-03-14 14:30] #42109 closed

[2022-03-14 14:31] stephentoub commented on #42482
Given https://github.com/dotnet/runtime/issues/42482#issuecomment-695205357 and there hasn't been any further discussion here in the year and a half since, I'm going to close this.  Thanks for the suggestion.

[2022-03-14 14:31] #42482 closed

[2022-03-14 14:32] eiriktsarpalis commented on #66517
Echoing @huoyaoyuan's comment, what serializer is you .NET Core 2.1 application using? STJ has always used `JsonElement` by default when handling unknown types. Could you share a minimal reproduction demonstrating the behavior in .NET Core 2.1?

[2022-03-14 14:39] davidfowl commented on #60600
OK lets expose the exception.

[2022-03-14 14:49] eiriktsarpalis commented on #66262
I don't think we should be adding strongly typed responses for `Post`/`Put`/`Patch` calls since unlike `Get` calls it is fairly common for responses to be multi-varied depending on the outcome (e.g. because a 4xx status code was returned).

As general note, the System.Net.Http.Json helper methods are meant as simple accelerators not intended to cover every use case. I would recommend writing your

[2022-03-14 14:49] #66262 closed

[2022-03-14 14:51] jkotas commented on #66082
It is not possible to detect this efficiently. Check like this would significantly slow down memory copying for everybody out there.

[2022-03-14 14:52] stephentoub commented on #44794
RegexCompiler / source generator just use IndexOf now, e.g. for:
[code]
you get:
[code]
and RegexCompiler spits out almost an identical implementation, just with IL instead of C#.

It does not create and load a new assembly.  It uses DynamicMethod.

I don't currently see enough value in this proposal over what's already possible.

[2022-03-14 14:55] janvorli commented on #63187
`ld-linux-armhf.so.3` indicates that it is a binary that is not built for Linux MUSL, but rather for glibc. The name needs to start with `ld-musl`. While it is possible to install a compatibility layer on MUSL that provides ability to run applications compiled for GLIBC, we don't test that and I would not recommend doing that for dotnet apps. And it seems it is probably set to support only apps us

[2022-03-14 14:56] stephentoub commented on #46017
Enumerable.SequenceEqual does always just delegate to MemoryExtensions.SequenceEqual now if we extract an array:
https://github.com/dotnet/runtime/blob/c3cc9fd5d64df359c54b6d0518db75641e04bbc3/src/libraries/System.Linq/src/System/Linq/SequenceEqual.cs#L27-L30
using the unconstrained MemoryExtensions.SequenceEqual overload.

Is there anything left to do for this issue or can it be closed?

[2022-03-14 14:57] jkotas commented on #61231
Yes, it would need to fetch a nuget during project restore. I would work the same way as `/p:PublishReadyToRun=true` or `--self-contained true`. These options add an implicit package reference that requires restoring as well.

[2022-03-14 14:59] fanyang-mono commented on #64389
Should we disable the test for now? It seems that the workaround mentioned on Jan 27th hasn't arrived yet. And I saw this being hit on rolling build quite often.

[2022-03-14 14:59] #47606 closed

[2022-03-14 15:02] EgorBo commented on #46017
Wow, didn't know that, at the point of creating this issue only `byte` was handled. Nice!

[2022-03-14 15:04] #49808 closed

[2022-03-14 15:06] eiriktsarpalis commented on #66425
Duplicate of https://github.com/dotnet/runtime/issues/66469.

[2022-03-14 15:11] stephentoub commented on #53611
I agree with https://github.com/dotnet/runtime/issues/53611#issuecomment-853179585: needing to read `readonly` fields via Volatile is very niche, and in such situations, `Unsafe.AsRef` can be used, e.g. from your usage example, instead of:

you'd have:

and that already works today.

Given that it's a rare use case, there's a simple workaround, and we can't just add an overload of Volatile.Read (w

[2022-03-14 15:11] #53611 closed

[2022-03-14 15:15] #52544 closed

[2022-03-14 15:19] stephentoub commented on #53826
Thanks for the suggestion.  Given the existing support for C# range syntax with strings, I don't think we should be adding to String named versions of a subset of what's already possible with a well-known and concise syntax.  That syntax also makes it possible to customize the behavior you want, e.g. if you want to limit to just what's available, that's easily achieved by adding in a Math.Min call

[2022-03-14 15:19] #53826 closed

[2022-03-14 15:20] stephentoub commented on #54529
Given https://github.com/dotnet/runtime/issues/54529#issuecomment-865434595, I'm going to close the issue.  Thank you for the suggestion.

[2022-03-14 15:21] stephentoub commented on #54697
Closing.

[2022-03-14 15:21] #54697 closed

[2022-03-14 15:23] fanyang-mono opened #66591 "[WASM] Workloads-.BlazorWasmBuildPublishTests failed on Build Browser wasm Linux Release WasmBuildTests sporadically"
Run: [Build Browser wasm Linux Release WasmBuildTests 20220311.45](https://dnceng.visualstudio.com/public/_build/results?buildId=1659140&view=logs&j=6f051c1a-c3e7-5cde-411e-64125624a208&t=961bb5d4-39cc-55d0-23ed-82f28319785b)

Above is the link to the latest failure. I've seen it being hit 3 times during the past week.

Error message:
[code]

[2022-03-14 15:28] stephentoub commented on #56761
I agree with the feedback: if the consumer needs duplicates removed, they should remove the duplicates using `HashSet<T>` or `Distinct()` (which just uses `HashSet<T>` today).  Thanks for the suggestion.

[2022-03-14 15:28] #56761 closed

[2022-03-14 15:30] eiriktsarpalis commented on #66426
I'm seeing a couple of options here:

1. Update the API proposal to include a `HashSet<T>.TrimExcess(int capacity)` overload (seems fairly straighforward to incorporate and there is precedent in Dictionary).
2. Close this issue in favor of other solutions?

[2022-03-14 15:31] stephentoub commented on #57291
This is not an API we'll be interested in pursuing.  There are a multitude of ways already to keep an object alive, whether it be GC.KeepAlive(obj) if it's in the same method, or a rooted collection the object is added to (and the collection later cleared or the object otherwise removed), etc.  Thanks for the suggestion.

[2022-03-14 15:39] janvorli commented on #65341
@hoyosjs I have modified your test code above by
* modifying the first `mprotect` to use `PROT_WRITE | PROT_READ | PROT_EXEC`
* removing the second `mprotect`
* changing the `pread` to malloc a buffer, pread there, memcpy it to the target address and then free the buffer.

The stuff then works as expected, your test app returned 0.

[2022-03-14 15:47] danmoseley commented on #44794
Also the regex generator is free to take advantage in future of string searching algorithms that have a significant set up cost, since it can pay that cost at compilation time.

I think this use case is satisfied by the new generator. I will close.

[2022-03-14 15:48] #44794 closed

[2022-03-14 16:01] jkotas commented on #66545
Thank you for reporting this! The NativeAOT package with the fix has been published on the nightly net7 feed.

[2022-03-14 16:01] sourabh1007 opened #66592 "How to calculate percentile using System.Diagnostics.Metrics.Histogram"
I am trying to create pxx metrics using .Net Meter API. Below is the sample code

[code]
I am able to see recorded values i.e. 10, 20, 30 in measurementEventCallback. But I want to calculate pxx (p99, p90 etc) from these values. How can I achieve that. I couldn't find any examples online.

[2022-03-14 16:02] tannergooding commented on #24385
One of the points of exposing BCL APIs is to provide a way for all the different tensor libraries to have an opt-in common interchange type. However, this is also quite a complex space and exposing said APIs will require a lot of research, thought and input.

I do think that exposing something here would be beneficial, but I expect the current shape isn't quite correct.

[2022-03-14 16:04] JimiC commented on #63187
Strange at it may seem I tested it again with a fresh Docker image on a BeagleBone board.
Here's a screenshot of the results
![image](https://user-images.githubusercontent.com/1716442/158212106-d1ee2acc-ff4b-47d9-8a58-cc9c65cccf5b.png)

Now everything runs as expected
![image](https://user-images.githubusercontent.com/1716442/158212471-ae13f1d8-0515-47a1-8737-002da473f0e6.png)
P.S. First 2 lines i

[2022-03-14 16:11] jkotas opened #66593 "TerraFx.Interop.Windows is not getting trimmed when compiled using NativeAOT"
Repro (this is slightly modified repro from https://github.com/dotnet/runtime/issues/66545):
[code]
.csproj:
[code]
[code]
## Actual result:
The final binary is 36MB. It includes code and metadata for all types in TerraFx.Interop.Windows.
## Expected result:
The final binary is <10MB. It only includes code and metadata for types that are actually used by the program.

Publishing with regular IL tr

[2022-03-14 16:14] jkotas commented on #66593
cc @MichalStrehovsky @agocke

[2022-03-14 16:16] jkotas commented on #66545
FYI: I have also opened #66593 on a different problem that I have noticed with your program.

[2022-03-14 16:17] omajid commented on #62440
Is something like this all that's needed if we are sticking to `PrimaryRuntimeFlavor` ?

[code]

[2022-03-14 16:19] BrunoJuchli commented on #66079
I ran into the same or at least a similar issue today.
I have an azure-function app (functions v4) where I use LanguageExt.
I ran the following command from a win-x64 machine:

    dotnet publish --configuration Release --runtime linux-x64 --no-self-contained -p:PublishReadyToRun=true

After waiting for 3hours for compilation of my (rather simple) functions project to end I was presented with the

[2022-03-14 16:20] eiriktsarpalis commented on #66592
cc @tommcdon @noahfalk

[2022-03-14 16:20] iconics-milan opened #66595 "WebSocket deadlock when the load is low and KeepAlives are not disabled"
### Description

When running WebSockets under light load, so that the keep-alives keep being sent between the endpoints, the WebSockets seem to deadlock sooner or later.

When pausing the application and looking at where it's stuck (using decompiled code from VS2022), it seems to be in WebSocketBase.cs, in the function 'private async Task SendAsyncCore', in a 'while (true)' loop. The 'm_KeepAlive

[2022-03-14 16:22] BrunoJuchli commented on #66079
As recommended by the `NETSDK1096` error I tried disabling optimization for LanguageExt.Core.dll by adding the following to the *.csproj:

    <ItemGroup>
      <PublishReadyToRunExclude Include="LanguageExt.Core.dll" />
    </ItemGroup>

As a result, the build now seems to hang indefinitely. Crossgen2 is not running, cpu is idle, memory usage remains low.
This is how the console looks:
![image](h

[2022-03-14 16:30] stephentoub commented on #58458
Closing in favor of https://github.com/dotnet/runtime/issues/58459.

[2022-03-14 16:30] #58458 closed

[2022-03-14 16:38] #61290 closed

[2022-03-14 16:42] stephentoub commented on #62984
Thank you for the suggestion.  As noted, we generally don't accept new APIs that just delegate to another to provide a different name.  There needs to be a lot of value in doing so, and I don't believe that exists here.  Regardless, thank you for the suggestion.

[2022-03-14 16:42] #62984 closed

[2022-03-14 16:45] FabianZeulnerGEA commented on #66082
as i am not an expert at the internals of .net. is there a mechanism that takes care that you never run into such a SIMD problem with Span<> when everything is managed by .net. And I only see this problem cause i hard code the Span start address in the device tree. or could it be that you might always run into such an issue using Span within .net6 on arm?

[2022-03-14 16:46] hakenr commented on #62054
OK, just gathering inputs what else can I try to identify the crucial difference in between "build" and "published" version.
Runtime relinking is my next target of investigation. :-D

[2022-03-14 16:51] stephentoub commented on #63911
Thank you for the suggestion.  I'm closing per the feedback.

[2022-03-14 16:51] #63911 closed

[2022-03-14 17:00] jkotas commented on #66082
The .NET runtime assumes that all memory that it operates on is a Normal memory. Normal memory is defined by Arm architecture reference manual. The memory does not have to be managed by .NET runtime. For example, memory allocated by C `malloc` API is a Normal memory and it will work fine with Span APIs.

You are seeing this since you are operating on a Device memory. Device memory is not a Normal

[2022-03-14 17:07] tarekgh opened #66596 "[WebToolsE2E] Running console app 7.0 with the code "Console.ReadKey();" in Program.cs, an extra "13" appears in the command prompt."
REGRESSION INFO: Doesn't repro in .NET 6.0
REPRO CONFIGURATION: Win10 x64 ENU 20H1 + Dev17.2 Preview 1 VSP + .NET 7.0 + Private feed

.NET Core SDK (CLI) Version: 7.0.100-preview.1.22101.1
Latest .NET Core runtime Version: 7.0.0-preview.1.22076.8

TESTCASES AFFECTED
[[7.0] SimpleConsoleAppOnCoreWithClassLib](https://github.com/aspnet/Tooling-ManualTests/blob/rel/17.0/E2EWalkthroughs/VS/AspNetCore3