[2021-09-13 18:23] EgorBo commented on #59048
UPD: Actually, Roslyn optimizes that

[2021-09-13 18:25] deeprobin commented on #59048
Ahso, nevertheless I think the new code is more readable?

[2021-09-13 18:27] ericstj commented on #57349
Reopening because this doesn't appear to be addressed in the Logging generator.
https://github.com/dotnet/runtime/blob/73c0f8d7f6635d589470c7ff7d9680128342aac4/src/libraries/Microsoft.Extensions.Logging.Abstractions/gen/LoggerMessageGenerator.Parser.cs#L68-L94

[2021-09-13 18:40] naricc commented on #58906
@Lxiamail I don't think I need anything else for the moment.

[2021-09-13 18:44] teo-tsirpanis opened #59052 "Proposal: Use `FieldInfo.GetRawConstantValue` to get the `.data` of fields with `HasFieldRVA`."
### Background and motivation

In IL, we can declare fields with a specific underlying raw representation using the `.data` directive. Such fields are used by the compiler to initialize arrays using `RuntimeHelpers.InitializeArray`, and make allocation-free `ReadOnlySpan`s of byte-sized values. The fields' declared type is either a primitive or an internal struct with no members and a size of the

[2021-09-13 18:47] tannergooding commented on #59030
Right, this is just an inconsistency with the IL naming. I'll raise it when we take the next look at the feature, but I'm not positive we'll actually see a change here.

[2021-09-13 18:48] MichaelSimons commented on #58816
This really shouldn't be closed yet IMO as the fix isn't available in release/6.0 yet.

[2021-09-13 18:51] carlossanlop commented on #58661
Yes. Like I said, it's a dotnet-api-docs issue, and I reported it.

[2021-09-13 18:51] carlossanlop commented on #58654
@tommcdon @josalem friendly reminder that today is the last day to merge docs for 6.0 APIs into the dotnet-api-docs net6-rc1 branch.

[2021-09-13 18:54] wegylexy commented on #43641
Oh, ya. Didn't notice the original issue is not scoped to SignalR. Yes, I just want to inject a custom SignalR transport.

[2021-09-13 18:54] carlossanlop commented on #58653
Friendly reminder that today is the last day to submit these missing docs to the net6-rc1 branch of dotnet-api-docs.

[2021-09-13 18:57] geoffkizer commented on #57186
It does. Try it yourself:

[code]

This will throw on the second Receive call.

[2021-09-13 18:58] carlossanlop commented on #54868
@bartonjs Thanks for submitting your PR. I think it took care of all of the pending APIs in the list, so I'll close this issue. Feel free to reopen if there were others pending. Note that today is the last day to submit to the net6-rc1 branch in dotnet-api-docs.

[2021-09-13 18:58] #54868 closed

[2021-09-13 18:59] geoffkizer commented on #57186
This may also be helpful: https://datatracker.ietf.org/doc/html/rfc7230#section-6.6

[2021-09-13 19:00] carlossanlop commented on #54862
@eiriktsarpalis I fixed DocsPortingTool recently to detect the `<inheritdoc/>` tag and collect the documentation from the parent API.

[2021-09-13 19:02] lateralusX opened #59054 "[Mono]: Random crash in interpreter when doing stackwalks as part of STW."
There is a scenario where interpreter can cause crashes on thread doing stack walk as part of STW. Once it repros it manifest itself as an AV reading what looked to be uninitialized memory in stack walking code when accessing LMF, https://github.com/dotnet/runtime/blob/2a1d100f79febd87a986b0c66e57ea43d1fadab6/src/mono/mono/mini/exceptions-amd64.c#L683:

[code]

After some investigation it turns ou

[2021-09-13 19:02] lateralusX commented on #59054
//CC @BrzVlad, @lambdageek

[2021-09-13 19:06] jkotas commented on #59052
The payload of the RVA fields can be writeable static variable. It is common in C++ CLI. What does it return for these cases?

[2021-09-13 19:11] Dweeberly opened #59055 "GetSocketOption/SetSocketOption should not close underlying socket"
### Description

Assume that _socket is an open (active) TCP socket.  The following call will throw an exception **and close the socket**
[code]

This option (DontLinger) isn't supported on Linux so the exception is appropriate, but closing the socket isn't.  To quote a friend this "violates the principle of least astonishment".

### Configuration
Version: .NET core 5.0
OS: Linux Ubuntu 20.04.lts

[2021-09-13 19:16] #54857 closed

[2021-09-13 19:20] tmds commented on #58964
Got it. The issue is that the file handle is still referenced by processes being started which are between `fork` and `exec`.

The unix process implementation has a `ReaderWriterLockSlim` for which it takes a reader lock while starting processes, and a writer lock while reaping them.

When `execve` fails with `ETXTBSY` we can obtain and release the writer lock and then try to fork+exec once more.

[2021-09-13 19:27] SuRGeoNix opened #59058 "[BUG] TimeBeginPeriod / TimeEndPeriod strange behavior while loading dynamically from an assembly"
Tested on Windows Version 10.0.19043.1165 with .NET 5 (not sure if that is .NET 5's issue)

It seems that there is a bug with Time Periods stack while using Activator.CreateInstance to load dynamically an assembly.

If you try to close VS, Browser etc. to ensure the global time period is not small (eg. 1ms) you will see different results while running the console app executable.

The important iss

[2021-09-13 19:35] JamesWTruher opened #59059 "Console.ReadKey throws in unexpected circumstances"
### Description

it appears that an exited application hangs on to console handles after it exits
The application that I'm seeing in is the `erlang` program `iex`.

here's the code that shows off the issue.
[code]

run the program and press `CTRL-C` twice (timing doesn't seem to matter here - quickly or slowly doesn't affect the outcome).
[code]

### Configuration

[code]

### Regression?

not sur

[2021-09-13 19:37] eiriktsarpalis commented on #54862
Fixed by https://github.com/dotnet/dotnet-api-docs/pull/7157

[2021-09-13 20:02] carlossanlop commented on #54862
Thanks, @eiriktsarpalis for the PR!

I noticed several APIs are `op_explicit` or `op_implicit` inherited members. Adding the `<inheritdoc/>` documentation tag was the correct thing to do, but unfortunately the parent APIs are not documented, so nothing can be ported. Since the parent API is not really part of your namespace, I am going to exclude those from the undoc list.

@steveharter @layomia t

[2021-09-13 20:06] jkotas opened #59061 "Obsolete thumbtacked AssemblyName properties"
### Background and motivation

AssemblyName has number of properties that are not proper part of assembly name. They do not not roundtrip through AssemblyName string representation and they are ignored by the assembly loader in .NET Core. They should be obsoleted.

### API Proposal

[code]

### API Usage

[code]

[2021-09-13 20:09] jkotas commented on #58970
Opened https://github.com/dotnet/runtime/issues/59061

[2021-09-13 20:16] carlossanlop commented on #58750
@steveharter @layomia Friendly reminder that today is the last day to get this documentation merged into the net6-rc1 branch in dotnet-api-docs so it gets included in the intellisense of the .NET 6.0 release.

[2021-09-13 20:17] #54871 closed

[2021-09-13 20:29] agocke commented on #58125
Closing this out unless we find new info to suggest we need a win11 RID.

[2021-09-13 20:29] #58125 closed

[2021-09-13 20:29] danmoseley commented on #56798
Similar error on Debian.
Console log: 'System.Net.Requests.Tests' from job ad8d304f-ac88-4324-95e3-7d870f0c6515 workitem f6328314-7b39-45d3-b6f1-c06c36eb1830 (debian.9.amd64.open.svc) executed on machine a0004U0

[code]

[2021-09-13 20:30] danmoseley commented on #56798
https://github.com/dotnet/runtime/issues/56798

[2021-09-13 20:30] luckerby commented on #59003
Same outcome running under .NET 6.0.0-preview.7.21377.19 when not touching any of the allocated data:

![image](https://user-images.githubusercontent.com/31319583/133151132-da8d371e-50f9-451c-90d6-adefbb3be978.png)

And also the same outcome as in my original post when just touching 10% of the allocated memory:

![image](https://user-images.githubusercontent.com/31319583/133151431-7724c29c-9b23-4d

[2021-09-13 20:40] carlossanlop commented on #58664
Thanks @buyaa-n!

[2021-09-13 20:40] #58664 closed

[2021-09-13 20:47] EgorBo commented on #59052
btw, is it expected for the following test to work?:
[code]
for me it throws AVE on the attempt to write into RVA

[2021-09-13 20:47] steveharter commented on #57349
@sharwell this appears to only affect framework types that are redefined\cross-compiled, and not user-defined types since conflicts appear to be avoided by selecting the type in the first referenced assembly, whether the Type is `public` or not.

Since System.Text.Json resolves many internal types (all supported collection types and unsupported types) it makes sense to do that just in case. Howeve

[2021-09-13 20:52] jkotas commented on #59052
That is expected. RVA fields are R/O in IL-only assemblies.

[2021-09-13 20:53] teo-tsirpanis commented on #59052
I didn't know that but I can imagine it. Consistent with `GetRawConstantValue`'s behavior, it would return the field's initial value. Those that want the actual changed value will have to do it in a different way, such as the unsafe snippet at the OP.

[2021-09-13 20:54] #59037 closed

[2021-09-13 20:59] jkotas commented on #59052
That is very non-trivial to do. The initial value is not present in the memory anymore if it was overwritten. The runtime would have to load the original image second time and read the initial value from it.

[2021-09-13 21:04] teo-tsirpanis commented on #59052
Okay, then the current value. `GetRawConstantValue` would be oblivious to any changes in memory. It would still differ with `GetValue` because it would always return an array of bytes instead of a boxed object.

[2021-09-13 21:16] kirsan31 commented on #58741
@ericstj so what's decision about servicing this for 3.1 / 5?

[2021-09-13 21:19] jkotas commented on #59052
It looks weird for `GetRawConstantValue` to return something that is not constant.

[2021-09-13 21:20] steveharter commented on #57349
Actually the collection and unsupported types are not affected by usage of `GetTypeByMetadataName` since they are not defined in STJ.

[2021-09-13 21:21] teo-tsirpanis commented on #59052
Hmm, indeed it looks. Another idea is to make `GetValue` return a byte array in `MetadataLoadContext` only.

[2021-09-13 21:27] meiedomi commented on #1420
@Taudris Wow that's pretty black magic right there! But it actually *works*! :)

However, I wonder how I could make use of `using (ExecutionContext.SuppressFlow())` inside of `DisposeAsync`? As far as I understand, it is crucial to restore proper flow once we entered `DisposeAsyncCore`, as we certainly don't want to keep suppressing the flow inside of that. Right?
Also, which other method did you

[2021-09-13 21:30] agocke commented on #39987
@mikem8361 I tried this with DebugType=embedded and it looks like the line numbers are still missing in net5. I will try net6 to see if this is fixed.

[2021-09-13 21:30] tfenise commented on #59035
Looks like a bug in Roslyn to me.

In [https://sharplab.io/#v2:C4LglgNgNAJiDUAfAAgJgIwFgBQyAMABMugHQAyYAdgI4kCiAHgA4BOApgM4dgD2lHAbhw5KAQwC2nJqIDGbAgCFRMAJLjRAczYAxHi3XBGcpsF6UASm1Y8cAbxwFHRVEXQB2B0/vYnvgqzAAN1FgeXZlPggATwIOYBYAVxlgAgB1FlEmJjYWAB4AFQA+Tz8Cb1LS5ABmVwA2AgAjHh4IAh5sjOA9AgBeHoAKfIJgKDSMrJyCwoIAd3GOgEpe6fiEtiFsEorHarrG5tb2nJDugEIBoZGxzI6p2fmcpZ7pgDNRCA51rd8AX2EfCoBYKhAhUUIsN5yAgqFSUcGQ

[2021-09-13 21:31] MichalPetryka commented on #2036
I wouldn't find that necessarily useful, the point of the overloads is to hash multiple bytes at once so it usually involves reading byte array values as different types, which gets a bit unclean when the type we read isn't constant size.

[2021-09-13 21:38] sharwell commented on #57349
I would typically use the alternative method everywhere. I can't think of a downside of this, and it's the approach used by dotnet/roslyn-analyzers.

[2021-09-13 21:46] tannergooding commented on #2036
The type is a constant size for a given run (32-bits on 32-bit machines and 64-bits on 64-bit machines), as is the result (32-bits). It only makes a difference on how efficiently you can process the bits for large inputs (`nuint` allowing you to process a full register of bits every iteration, incrementing is still ``+ sizeof(nuint)` bytes per iteration).

[2021-09-13 21:47] layomia commented on #45448
Yes we can consider this by design until a scenario necessitates new overloads.

[2021-09-13 21:54] ericstj commented on #58653
These all appear to have been added with https://github.com/dotnet/runtime/commit/664e232c51a5223ca41a6db5a02e824815c483ec cc @JeremyKuhne

That change included triple-slash docs, but apparently not all the fields that were required.  @JeremyKuhne can you look at filling in those missing doc fields.  They should be the ones listed as "To be added" in the files that @carlossanlop links above.

[2021-09-13 21:57] jkotas commented on #59052
What are you trying to build with this proposal?

[2021-09-13 22:09] Thefrank commented on #14537
so, not runtime related, but aspnetcore, this is the diff needed to build aspnetcore HOWEVER there are important notes:

[code]

The notes:
- This is for preview 7 tag not `main/HEAD`
- restore can not download runtime packages (because they don't exist) so we need to add the local output from `runtime` as a NuGet source
- runtime does not produce a `Crossgen2` nuget this error comes up `aspnetcor

[2021-09-13 22:58] ericstj commented on #57349
I bet @jaredpar can think of cases to counter this.  Wouldn't be surprised if they are in our own codebases :)

[2021-09-13 23:11] carlossanlop commented on #58654
I updated the list above to remove a few I found already existing in triple slash.

[2021-09-13 23:21] GrabYourPitchforks opened #59068 "MethodInfo.Invoke AVs when invoking a method with an 'out void*' parameter"
Minimum repro (compile with _/unsafe+_):

[code]

Stack trace:

[code]

Disasm:

[code]

Instead of creating a new `Pointer` object which wraps the value `0xdeadbeef` (as would occur if I were trying to return a _void\*_ rather than out a _void\*_), the runtime appears to be trying to read `0xdeadbeef` as an object reference or some other legal address. This is incorrect: the runtime should treat

[2021-09-13 23:23] teo-tsirpanis commented on #59052
My project uses an IL weaver to store binary data on assemblies after compilation, to be read on execution time. Currently they are stored in manifest resources and read sequentially using `Assembly.GetManifestResourceStream`, but I am thinking of storing them in RVA fields in the future, to enable easier random access.

I noticed that `GetManifestResourceStream` returns an `UnmanagedMemoryStream`

[2021-09-14 00:15] MichalStrehovsky commented on #59068
Looks like a duplicate of #10842.

[2021-09-14 00:33] Bio2hazard commented on #58974
Hi @Maoni0 and @tmds - I realize that `TotalAvailableMemoryBytes` - the .NET managed heap defaults to 75% of physical memory _if_ it is restricted ( physical memory not being of the host, but the hard limit of the container ).

That's not the problem, the problem is that the `HighMemoryLoadThreshold` does not take that 75% into consideration and is always 90%.

From reading https://raw.githubuserc

[2021-09-14 00:59] Maoni0 commented on #58974
it's always 90% because we assume there's other memory usage. so we'd only want to start being aggressive if the total memory load (including both GC usage and other memory usage) is 90%, not when it's reached the 90% of the hard limit. again, this is the default behavior.

[2021-09-14 01:02] Maoni0 commented on #58974
another thing I should mention, if it's not obvious, is that of course we would do a full compacting GC if we cannot commit memory based on the hardlimit.

[2021-09-14 01:20] VincentBu commented on #57462
Failed again in: [runtime-coreclr r2r-extra 20210912.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1358217&view=ms.vss-test-web.build-test-results-tab&runId=39698752&paneView=debug&resultId=110225)

Failed test:
[code]
**Error message:**
[code]

[2021-09-14 01:24] VincentBu opened #59072 "Test Failure Interop\\COM\\ComWrappers\\GlobalInstance\\GlobalInstanceMarshallingTestsBuiltInComDisabled\\GlobalInstanceMarshallingTestsBuiltInComDisabled.cmd"
Run: [runtime-coreclr r2r-extra 20210912.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1358217&view=ms.vss-test-web.build-test-results-tab&runId=39698774&paneView=debug&resultId=102814)

Failed test:
[code]
**Error message:**
[code]

[2021-09-14 01:43] VincentBu commented on #57134
Failed again in:[ runtime-libraries-coreclr outerloop 20210913.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1358546&view=ms.vss-test-web.build-test-results-tab&runId=39705438&resultId=103602&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-14 01:48] VincentBu commented on #57991
Failed again in: [runtime-libraries-coreclr outerloop 20210913.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1358546&view=ms.vss-test-web.build-test-results-tab&runId=39705424&resultId=104028&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-14 01:52] carlossanlop commented on #54882
I took care of most of the System APIs in the list.

@tannergooding as discussed via chat, you'll take a look at the 3 new System.Math APIs.

Note: Early morning tomorrow we will get the net6-rc1 branch merged into main in dotnet-api-docs, so your PR will have to target main directly.

[2021-09-14 02:42] williamdenton commented on #59014
my apologies, i misinterpreted the logs that log4net was displaying.

The problem lies with log4net not here. Shutdown is happening gracefully (proven with console.writeline), but log4net is not writing to the console once sigterm is received when in docker. Why is still a mystery, i will open an issue over at  https://github.com/huorswords/Microsoft.Extensions.Logging.Log4Net.AspNetCore

[2021-09-14 02:47] lateapexearlyspeed commented on #58383
Hi @adamsitnik I marked [PR](https://github.com/dotnet/runtime/pull/58434) as ready for review now.

[2021-09-14 03:26] jaredpar commented on #57349
The way I usually frame this is:

That is essentially the situation you can get into here.

In some ways it's not completely unreasonable. For instance do we want to bend over backwards to support libraries that redefine `System.Exception`? I can see a stance of "no" being completely reasonable there. But it's all about your tolerance level here.

I just want to make sure that the consequences and

[2021-09-14 03:49] #59014 closed

[2021-09-14 03:54] psmacchia commented on #59020
Thanks Aaron. The scenario is custom **in-memory** anti-tampering check. The fact that it can be done **in-memory** is quite important because a file access to read the bytes is easy to hack.

[2021-09-14 03:55] eerhardt commented on #56702
With #58271 and #58278, the sluggish performance has been addressed in VS 2022. You should see these changes in 6.0-rc1.

[2021-09-14 03:55] #56702 closed

[2021-09-14 05:11] mattleibow commented on #58200
This does happen on iOS as well. You can check the gist for each platform in the corresponding files.

Regardless, is it not possible to have some additional code that maps from whatever the icu gives to the .net values? Or is this a mismatch between the java and the icu?

[2021-09-14 05:49] StefanKoell commented on #58741
I'm too interested in a .NET 5 fix as my app has already been rolled out and I'm not quite sure how soon I can upgrade to .NET 6 after it has been released.

[2021-09-14 05:58] maryamariyan commented on #58653
@carlossanlop I believe this can now be closed right?

[2021-09-14 06:03] FilipToth commented on #58741
I had the same thing happen to me when I was trying to save an image into a folder where I didn’t have write privileges. It would be nice to be a bit more specific with the exception message.

[2021-09-14 06:05] davidfowl commented on #58909
I'm not concerned about code refactoring. We'll add some heavy comments to explain why it's important. I'd like to keep the fix as localized to PipeAwaitable as possible so the option seems like we should add some extra state management in there

[2021-09-14 06:37] acaly opened #59075 "JIT not able to inline some simple generic methods marked as AggressiveInline"
### Description

I am trying to make a static reflection system in C#, which is basically to enumerate a struct's fields by ref without requiring any reflection from the runtime. I found that the performance does not fully meet the expectation, probably due to some generic methods not being inlined.

The source code used in benchmarking is [here](https://gist.github.com/acaly/534152ea8e142a5fca784

[2021-09-14 06:37] acaly commented on #59075
Probably related to #59002.

[2021-09-14 06:57] julienGrd commented on #58894
yes exactly. i deleted the bin and obj and publish again, il have the same results. i also confirm the published app is ont .net 5.0 (when i make envirnonment version). it only seem its the trimming which is disabled.

concerning the C:\Program Files\dotnet\sdk\6.0.100-preview.7.21379.14\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.RuntimeIdentifierInference.targets, its the only line of the outpu

[2021-09-14 07:41] zlatanov commented on #58909
True, but what I don't like about this, is the fact that the callback has already run and could potentially have already changed the state of the awaitable.

[2021-09-14 08:08] performanceautofiler[bot] opened #59094 "Regression in Utf8ParserTests"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.19042
Baseline | [721a802c12b524912b6c398313d8eb5e73dec2ef](https://github.com/dotnet/runtime/commit/721a802c12b524912b6c398313d8eb5e73dec2ef)
Compare | [dcfe5bfb690fe74d747bba5d6b664769bc9d652c](https://github.com/dotnet/runtime/commit/dcfe5bfb690fe74d747bba5d6b664769bc9d652c)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2021-09-14 08:08] performanceautofiler[bot] opened #59093 "Regressions in System.Net.Security.Tests.SslStreamTests"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.19042
Baseline | [29a5ff0ad2e87e18eb7d4c794cc0b91e31f6739a](https://github.com/dotnet/runtime/commit/29a5ff0ad2e87e18eb7d4c794cc0b91e31f6739a)
Compare | [1dc8dfa0058396495203e18ddc7f8a632d72c165](https://github.com/dotnet/runtime/commit/1dc8dfa0058396495203e18ddc7f8a632d72c165)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2021-09-14 08:11] KalleOlaviNiemitalo commented on #48473
The idea was that the additional constructor would be inserted by a source generator when you build your project, so the lines would not be committed to your repo. You would still have to declare all of those classes as `partial`, though. (You might also have to add some attribute to the classes, depending on how the source generator were implemented.)

[2021-09-14 08:14] sps014 commented on #58426
I think the following functions need an Index based Extension Method,final API should look like
[code]
@eiriktsarpalis sorry for the ping do you have any advice or suggestion?

[2021-09-14 08:45] GSPP commented on #58721
I think it's a dangerous path to hide too many things that we don't want people to use. It undermines trust in what autocomplete shows you. Effectively, autocomplete starts lying to you. In this case, calling this method will be exposed as a mistake on the very first test so there's little harm done.

[2021-09-14 08:47] GSPP commented on #57770
I'd be curious what the burn-down chart looks like currently. Is it publicly accessible?

[2021-09-14 09:03] EgorBo commented on #59075
It's a known issue - inliner gives up on virtual calls over generics currently (`Reflect()`), there was an issue for it somewhere but I can't find it.
It should be able to inline if it can prove after inlining it will be a normal call.

[2021-09-14 09:05] tmds commented on #55169
Closing, my question is answered.

[2021-09-14 09:05] #55169 closed

[2021-09-14 09:16] EgorBo commented on #59075
A similar issue:
[code]
codegen for main:
[code]

[2021-09-14 09:16] acaly commented on #59075
Could you elaborate on that? I think both `Consume()` and `Reflect()` are generic virtuals (and both are declared in value types, used as constrained callvirt IL). Why the `Consume` can be fully inlined but not the other one?

[2021-09-14 09:31] hoyosjs commented on #58471
Hey @jeff-simeon. I've started taking a look, took most of today to take a look at that. I still don't have a good sense why it's locked. I see that there were three threads sending notifications of the thread starting up, then the thread sends the event over to the debugger side and then all threads are stopped waiting for the debugger to notify that it's ok to continue.  The runtime never got th

[2021-09-14 09:38] SteveDunn commented on #1384
Has there been any traction on this?  Is CacheCow still the way to go currently?

[2021-09-14 09:38] AraHaan commented on #58200
I think it is between the java and the icu.

[2021-09-14 10:19] eiriktsarpalis commented on #58426
Thanks @sps014, here's a bit of feedback:

- CollectionsExtensions methods generally target interfaces, however your proposed APIs target `List<T>`. Shouldn't these be `IList<T>`?
- Is it possible to derive all of the above methods from `IList<T>` APIs?
- The proposed `RemoveRange` overload could likely be changed to accept a `System.Range` parameter.

[2021-09-14 10:48] BrzVlad commented on #59054
We can easily avoid pushing lmf for direct icalls, more as an optimization.

In order to fix the bug we could do the same as jit by pushing a LMF when the wrapper starts executing, however this seems problematic since we would have multiple LMF pushed and there would be side-effects to EH. I think a better idea would be to have the interp ignore the gc transition icalls and do the transitions expl

[2021-09-14 10:51] sps014 commented on #58426
Thank you so much for your guidance, I will keep the above points in mind.
Currently, it is not possible to derive all methods from `IList<T>` but most of them can be derived.
For example, ` RemoveRange ` will require additional work in the extension method if we derive from `IList`.

Also, I will keep looking for more collection methods where Range can be an argument resulting in less verbose cod

[2021-09-14 10:54] anttikes opened #59076 "Unable to use wrapper types with default validation attributes"
### Description

Validation attributes such as [EmailAddressAttribute](https://github.com/dotnet/runtime/blob/main/src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/EmailAddressAttribute.cs#L25) make use of the "is" keyword. The problem with this keyword is that it completely ignores user-defined conversion operators.

The following example comes from our ow

[2021-09-14 11:29] MaGitKo opened #59077 "System.AccessViolationException in System.Exception.ToString()"
### Description

Sometimes, we get an `AccessViolationException` when formatting an exception as string.
Now it also occurred in an unit test. This is the complete exception stack:

    QueryStudiesAsync_StudyQueryThrowsException_ExceptionIsLogged Aborted: Exit code is -1073741819 (Fatal error. System.AccessViolationException: Attempted to read or write protected memory. This is often an indicatio

[2021-09-14 11:40] vitek-karas commented on #43010
If you know that the process loaded a native library and which one it was (or you can make it do that), then you can use the same trick as in #59017 on any app, not just WPF.

Personally I don't think we should add a full public managed API for this (the API is very specific to one deployment option, and defining its behavior in all other cases would be weird). I can see us adding a new runtime pr

[2021-09-14 12:39] lissity opened #59082 "Hosting .NET Core using nethost and hostfxr - Finding nethost.dll on client machine"
I have some questions about the linking with nethost.lib and nethost.dll.
Let's say I have an application that is hosting the .NET Core runtime. I can link with nethost.lib when building but nethost.dll needs to be located at runtime. If moving my application to a client's machine (where the path to nethost.dll could be different as well as the version) how should nethost.dll be found?

What would

[2021-09-14 12:50] tmds commented on #58974
Am I not interpreting the c++ code correctly?

My understanding (which may be wrong) is that the GC does accounting on how much of the managed heap is used, and uses that to trigger GCs.
`HighMemoryLoadThresholdBytes` memory pressure is not needed for the GC to get into action.

`OutOfMemoryException` happens when the GC accounting says the managed heap is full.

The OOM kill happens by the OS bas

[2021-09-14 12:51] eiriktsarpalis commented on #58756
I'm going to close this as by-design. At this stage we're not considering bringing back homogeneous overloads due to the aforementioned type inference issues.

[2021-09-14 12:51] #58756 closed

[2021-09-14 12:55] antonfirsov commented on #59055
@tmds @wfurt would it make sense to implement `SocketOptionName.DontLinger` on top of `SO_LINGER` so that `DontLinger` controls the value of `linger.l_onoff`? Or at least make it gettable?

To me it looks like this is what it does on Windows:
https://docs.microsoft.com/en-us/windows/win32/winsock/sol-socket-socket-options

[2021-09-14 13:03] vitek-karas commented on #59082
The recommendation is to ship `nethost` with your app. You can either use dynamic library or you can statically link `nethost` to your application. The package contains `nethost.dll`/`nethost.lib` (the dynamic library) and `libnethost.lib` (the static library) on Windows and `libnethost.so` (the dynamic library) and `libnethost.a` (the static library) on Linux (and similar on other platforms).

[2021-09-14 13:16] adamsitnik commented on #50939
Compared to .NET 5, we still have this regression:

<details>

| Result |  Base |  Diff | Ratio | Alloc Delta | Modality | Operating System        | Bit   | Processor Name                                | Base V        | Diff V      |
| ------ | -----:| -----:| -----:| -----------:| -------- | ----------------------- | ----- | --------------------------------------------- | ------------- | -------

[2021-09-14 13:37] adamsitnik commented on #50939
It's worse for x86:

<details>

## System.Numerics.Tests.Perf_Vector3.DistanceBenchmark

| Result | Base |  Diff | Ratio | Alloc Delta | Modality | Operating System        | Bit   | Processor Name                                | Base V        | Diff V      |
| ------ | ----:| -----:| -----:| -----------:| -------- | ----------------------- | ----- | --------------------------------------------- |

[2021-09-14 13:38] karelz commented on #58750
Fixed in PR https://github.com/dotnet/dotnet-api-docs/pull/7179

[2021-09-14 13:38] #58750 closed

[2021-09-14 13:47] antonfirsov opened #59086 "SocketException (10060) in HTTP 1.1 stress tests"
In #50854 I concluded that the root cause of the 10060 connection errors is the Windows firewall, which has been disabled for Windows runs in #52381, reducing the number of failures. However, looking at today's CI runs it seems like the issue is still present, failing about 5-10% of the Windows runs.

It's very hard to decide if some sort of regression happened, or 10060 just kept living with a lo

[2021-09-14 13:48] antonfirsov commented on #42211
#### Report 9/14:

Checked both `main` and `release/6.0`.

- No new failure types
- All HTTP errors are gone
- About 10% of the HTTP 1.1 Windows runs fails with `SocketException (10060)`, which makes it clear that disabling the firewall is insufficient to fix that problem. Opened #59086 to track this.

[2021-09-14 13:51] adamsitnik opened #59087 "Potential performance regression in OrdinalIgnoreCase string comparision"
Originally detected by the bot in https://github.com/DrewScoggins/performance-2/issues/4549 but not reported in dotnet/runtime (cc @DrewScoggins)

<details>

## System.Globalization.Tests.StringEquality.Compare_Same_Upper(Count: 1024, Options: (en-US, OrdinalIgnoreCase))

| Result |    Base |    Diff | Ratio | Alloc Delta | Modality | Operating System        | Bit   | Processor Name

[2021-09-14 13:55] karelz commented on #59086
@antonfirsov is the frequency now higher? (perhaps some regression might have sneaked in)
Is it similar frequency in main and release/6.0 branches? (6.0 branches are a bit more flaky due to used HW differences)

[2021-09-14 13:57] tmds commented on #59055
The issue with the setter is that we need to pick a timeout. And a getter is not so useful, this is an option a user will want to set.

`SocketOptionName.Linger` can be used instead.

We should consider to change `Get/SetSocketOption` to still throw an exception for unsupported options but **not** close the socket.

[2021-09-14 14:02] antonfirsov commented on #59086
We don't have enough data to decide, the first nightly 6.0 run is about 10 days old.

I can't answer that without a full analysis of the logs of the last 2-3 months. (The focus was on high frequency failures before.)

[2021-09-14 14:19] davidfowl commented on #58909
I'm now not sure how this happens on .NET Framework since the cancellation token is assigned before registering for the callback...

[2021-09-14 14:19] eiriktsarpalis commented on #54862
Fixed in https://github.com/dotnet/dotnet-api-docs/pull/7180

[2021-09-14 14:19] #54862 closed

[2021-09-14 14:21] EgorBo commented on #59087
Standalone repro:
[code]
Asmdiff (NoPGO is on the left): https://www.diffchecker.com/2guAUS5i

[2021-09-14 14:24] jakobbotsch opened #59089 "Internal CLR errors during delay load when using crossgen2 in composite mode with method layout"
When passing `--method-layout` and `--composite` to crossgen2 I get internal CLR errors when running the produced assemblies. Here are some steps to reproduce it:
1. Apply the following patch so we don't need to use PGO data to do method layout:
[code]
2. Create a simple .NET 6 console app with the following code:
[code]
3. Publish the app self-contained, copy debug bits and invoke crossgen2 with

[2021-09-14 14:26] zlatanov commented on #58909
How sure are we that the pipeline uses the correct dll? I can't open the build pipeline at the moment to try and download the artifacts for .NET Framework and use reflection to make sure the we're not chasing ghosts.

[2021-09-14 14:27] karelz commented on #59086
Oh, I thought this is high frequency failure. If it is not near the top, I am fine waiting until it is near top of the failures to investigate ...

[2021-09-14 14:49] tommcdon commented on #59077
@mikem8361

[2021-09-14 14:50] EgorBo commented on #59087
The most interesting part is that FullPGO is still slower than NoPGO mode cc @AndyAyersMS (I've not investigated why yet):
[code]

[2021-09-14 14:53] RussKie commented on #58741
https://github.com/gitextensions/gitextensions/issues/9567 reports a weird issue (and I observed this myself as well), which may be related to this as well.

[2021-09-14 14:53] lissity commented on #59082
My application that hosts .NET is in a directory that is added to the path. This means that the nethost.dll will also be exposed in the path. I am afraid that this may affect applications that are already installed since they may also have (another) nethost.dll (possibly with a different version) in the path. Any suggestions how I should handle this?

[2021-09-14 14:54] danmoseley commented on #57947
cc @jkotas

[2021-09-14 14:57] roonius commented on #56309
@jeromelaban , when exactly was this change introduced? What is the max version before this change? Thanks.

[2021-09-14 14:58] jkotas commented on #57947
I think we can drop PR coverage (rolling is sufficient) for:

- Windows Server 20H2 (covered by Windows Server Core 20H2)
- SLES 12 (covered by other Linux flavors)

[2021-09-14 15:03] davidfowl commented on #58909
@AArnott ?

[2021-09-14 15:09] kunalspathak commented on #59093
Introduced in dotnet/runtime#58594

[2021-09-14 15:15] tannergooding commented on #50939
This is due to the same original change which cleaned up a bunch of the logic in the `System.Numerics.*` types to help improve maintainability.

The JIT is preserving two struct copies that occur from the inlining which is causing the perf regression:
[code]
and
[code]

It would be simple enough to revert this particular method, but it would also be ideal if this could just be correctly handled an

[2021-09-14 15:15] kunalspathak commented on #59094
Possibly introduced in https://github.com/dotnet/runtime/pull/58677

[2021-09-14 15:19] jeromelaban commented on #56309
@roonius there is no stable version of the runtime that does not have this change. Each interim build had a different set of issues, and removing the interpreter restriction causes failures when handling exceptions, which is why the restriction is present in Uno.Wasm.Bootstrap builds of the runtime.

[2021-09-14 15:22] kunalspathak commented on #59093
Similar regression in x86: https://github.com/dotnet/perf-autofiling-issues/issues/1344

[2021-09-14 15:26] kunalspathak commented on #59093
and more on x64: https://github.com/dotnet/perf-autofiling-issues/issues/1333

[2021-09-14 15:27] #45592 closed

[2021-09-14 15:33] #58653 closed

[2021-09-14 15:35] janvorli commented on #56888
I have looked into fixing the delete[] / new discrepancy. I believe the problem is caused by the fact that the new (std::nothrow) is an operator that we never define ourselves, thus the code always calls the one from the standard libraries. However, we do define the global delete[] operator in the VM. And since VM is linked statically with PAL, the linker links the code with our global delete[].
T

[2021-09-14 15:37] janvorli commented on #56888
See the PR where I've removed usages of new / delete here: https://github.com/dotnet/coreclr/pull/1822

[2021-09-14 15:43] karelz commented on #59093
@wfurt any thoughts on the fact it may be regression of your PR #58594 -- is it by design?

[2021-09-14 15:53] remus-corneliu opened #59095 "ASP.NET Core 5.0 issues with CORS policy for specific origins"
I've configured the cors middleware according to [https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-5.0#cors-with-named-policy-and-middleware-1][1]
[code]

Add tried both after and before the UseRouting() middleware in Configure(...)

           if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
                app.UseSwagger();

[2021-09-14 15:55] #59095 closed

[2021-09-14 15:58] Taudris commented on #1420
It seems that I misunderstand `ExecutionContext`. [Here's me trying to test it.](https://dotnetfiddle.net/cujvNX) It seems there is stuff that `async` is doing with `ExecutionContext` that cannot be replicated without `async` or reflection. I'm not done experimenting, but I need to stop for now (actual work).

[2021-09-14 15:58] janvorli commented on #56888
I would still add the DeleteBuffer function though. I have also noticed that for some reason, the genEventPipe.py uses BYTE* and the other char* for the buffer. It seems it would make sense to unify them. And then there will be no need for the extra `ResizeBuffer` implementation in the genEventPipe.py generated code. It could use the same one from the eventproviderhelpers.cpp.

[2021-09-14 15:59] wfurt commented on #59093
I'll look. I would think #58594 is not applicable but I can be wrong.

[2021-09-14 16:01] wfurt commented on #59055
I would think we can pick reasonable default for timeout oof needed. But aside from that I would agree that failing to set options should not close the underlying socket.

[2021-09-14 16:29] ericstj commented on #58741
First things first we need to decide what we do for 6.0.  For that I'm still waiting for to hear back from @dotnet/dotnet-winforms / @JeremyKuhne around the questions here: https://github.com/dotnet/runtime/issues/58741#issuecomment-917176972.  I put up a PR with what I believe is a minimal fix if we want to bring this back: https://github.com/dotnet/runtime/pull/59096

[2021-09-14 16:32] Mike-E-angelo commented on #58469
I wanted to check in on this issue @eiriktsarpalis.  IMO it should not be closed as it has not been determined what the root cause is.

To provide additional clarity, the issue is not that the exception occurs in RC1, but that it occurs in RC1 and not occur in any release from `net5.0` through `net6.0-preview7`.

Note that I reported this to both MSFT and Syncfusion for different reasons:

- To Sy

[2021-09-14 16:38] mkArtakMSFT commented on #59098
@lewing I couldn't find the issue you use to track the cryptoAPIs support. I think that will unblock this customer too.

[2021-09-14 16:48] tommcdon commented on #58654
Closing as all PR's have been merged into RC1

[2021-09-14 16:48] #58654 closed

[2021-09-14 16:48] jeff-simeon commented on #58471
Thanks @hoyosjs

is there anything I can do for I help? Or anything I can do to narrow down the cause at runtime when debugging?

we really would love to get this resolved.

[2021-09-14 16:50] adamsitnik commented on #51258
When looking at the last manual perf run for 6.0 I assumed that these benchmarks are just flaky:

<details>

## System.Collections.ContainsKeyFalse<Int32, Int32>.SortedList(Size: 512)

| Result |     Base |     Diff | Ratio | Alloc Delta | Modality | Operating System        | Bit   | Processor Name                                  | Base V        | Diff V      |
| ------ | --------:| --------:| --

[2021-09-14 16:53] AArnott commented on #58909
I can confirm from the dump that the System.IO.Pipelines.dll loaded in the process is  5.0.1+b02e13abab3d6f499751af2ad1ae6333fb4e633d.

The dump file isn't of the .NET Framework. It's a .NET Core process (coreclr.dll 4,700,21,35901 @Commit: 2aee3eb10b6303dff09cbe5ac99b6fae4644f346).

If the bug you found that can be blamed for the cause of the hang in *this* dump can't explain a failure on .NET Fr

[2021-09-14 16:55] vcsjones commented on #44738
@bartonjs Okay, for .NET 7 we can go back to the original proposal as the original issue does not seem to exist since we added a configuration to System.Formats.Asn1 package for .NET 6 in addition to .NET Standard.

To jog everyone's memory: the first proposal's public methods had `AsnTag` parameters. I couldn't get this working because of how System.Formats.Asn1 was being built, so the proposal w

[2021-09-14 16:59] eiriktsarpalis commented on #58469
We would need to understand the nature of the supposed regression. From our perspective the behavior as reported is by-design behavior which is why I've closed the issue. In order for us to take another look at this we would need evidence of regressed behavior _specifically impacting System.Text.Json components_: this would require producing a reproduction that should leave out any dependency on s

[2021-09-14 17:03] ladeak commented on #58691
@Jozkee could you suggest who would triage this API request?

[2021-09-14 17:06] bartonjs commented on #44738
Well, we wouldn't need the full AsnTag value, right, just a UniversalTagNumber, right? (Since it would throw for anything other than a Universal)

[2021-09-14 17:06] MihaZupan opened #59099 "[API Proposal]: UriCreationOptions"
### Background and motivation

`Uri` validates the input and (if needed) converts it into a normalized (canonical) representation.
For example, it will:
- Escape reserved characters (spaces turn into `%20`)
- Unescape unreserved characters (`%41` turns into `A`)
- Compress dot segments (`/foo/./bar/../` turns into `/foo/`)

It does this based on the recommendations of the [Uri RFC](https://datatra

[2021-09-14 17:15] vcsjones commented on #44738
Y..es. So. Another proposal then:

[code]

The `default(UniversalTagNumber)` value is defined in the `enum` so I don't think defaulting it makes sense. Rather than using a default value I just got rid of the default for the one place it was being used.

[2021-09-14 17:39] adamsitnik opened #59101 "Potential performance regression in ConcurrentDictionary"
Originally detected by the bot in https://github.com/DrewScoggins/performance-2/issues/7188 but not reported in dotnet/runtime (cc @DrewScoggins)

<details>

## System.Collections.ContainsKeyFalse<Int32, Int32>.ConcurrentDictionary(Size: 512)

| Result |     Base |     Diff | Ratio | Alloc Delta | Modality | Operating System        | Bit   | Processor Name                                  | Base V

[2021-09-14 17:40] Mike-E-angelo commented on #58469
Ok great @eiriktsarpalis thank you for the continued dialogue.  The only way I know to reproduce this issue is via Syncfusion which is how I encountered it and as described it is clear and obvious: it works in preview7 (and before) but not RC1.

And this is why I reported this to you, so that you can find out. :)

We're in full agreement that the provided exception is clear, obvious, and very much

[2021-09-14 17:49] EgorBo commented on #59101
So there were two regressions: changes from the inliner and https://github.com/dotnet/runtime/pull/54998 (this one got fixed by https://github.com/dotnet/runtime/pull/55300).

[2021-09-14 17:59] JeremyKuhne commented on #58741
@ericstj I think the right immediate answer is to put the attributes back on drawing APIs as your change does.

[2021-09-14 18:08] adamsitnik commented on #59087
Another benchmark that got most likely affected by this change:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ubuntu%2018.04%2fSystem.Globalization.Tests.StringEquality.Compare_DifferentFirstChar(Count%3a%201024%2c%20Options%3a%20(en-US%2c%20Ordinal)).html

![image](https://user-images.githubusercontent.com/6011991/133310627-cc0450c2-d4f7-4037-8b90-b5

[2021-09-14 18:24] adamsitnik opened #59103 "Performance regression in JsonSerializer.Deserialize(Stream) for very small types like Int32"
Please keep in mind that this particular scenario (deserializing a single integer from a stream) is very niche and we are most likely going to accept it. But since I don't own this area I would prefer the owners to make the call (cc @eiriktsarpalis, as it has been most likely caused by #50778)

<details>

## System.Text.Json.Serialization.Tests.ReadJson<Int32>.DeserializeFromStream

| Result |

[2021-09-14 18:28] pavelsavara commented on #58812
Another https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-54011-merge-58d9db09baae4aa195/System.Net.Http.Functional.Tests/1/console.547422dc.log?sv=2019-07-07&se=2021-10-04T13%3A46%3A15Z&sr=c&sp=rl&sig=XRAvX2%2FZ%2FTzVhElXKR92HtJ0M1uHyGUEfUg1sHMISkw%3D

[2021-09-14 18:31] adamsitnik commented on #59087
One more Unix-specific benchmark that regressed then:

<details>

## System.Buffers.Text.Tests.Utf8FormatterTests.FormatterInt64(value: 12345)

| Result |  Base |  Diff | Ratio | Alloc Delta | Modality | Operating System        | Bit   | Processor Name                                  | Base V        | Diff V      |
| ------ | -----:| -----:| -----:| -----------:| -------- | ----------------------

[2021-09-14 18:32] terrajobst commented on #59099
* The struct should be a mutable struct
    - We should pass it in via `in`, which means we should mark the getter as `readonly`
* `GetComponents()` should throw `InvaliOperationException`
    - Note: even `UriFormat.Unescaped` does some transformations, so this also doesn't make sense to allow

[code]

[2021-09-14 18:36] Jozkee commented on #58691
@ladeak I already triaged it, I set Future as I don't know if this is something worth having it's own API given these two things: it is very limited as it only adds support for ReadOnlySpan<char>, as pointed by the other commenters, and it has a workaround.

[2021-09-14 18:38] StevenLiekens commented on #1384
There is still a gap that needs to be filled. CacheCow isn't for everyone, it's most useful when you control both the client and the server.  I did diagonal scan of the code and it doesn't seem to implement all the nitty gritty details of RFC 7234.

I wish MS would come forward with a WebCacheHandler  with pluggable storage (DistributedCache?) that implements the full RFC. They already implemented

[2021-09-14 18:45] terrajobst commented on #45448
* Looks good as proposed

[code]

[2021-09-14 18:45] EgorBo commented on #59101
assigned to myself since it's most likely inliner changes.

[2021-09-14 18:52] terrajobst commented on #58853
* We're OK with taking this breaking change for .NET 6
* Should we add an analyzer that flags usages of `==` when comparing floating point data types in the body of an `Equals` method?

[2021-09-14 18:59] anttikes commented on #59076
I am already aware of one common workaround, and it is to implement IValidatableObject on the request class, and then in the body of the validation method to manually instantiate each of the validation attributes and provide the "value to be validated" from the Value property of the Optional record.

This workaround works but from the code perspective it is just plain ugly.

[2021-09-14 19:00] tannergooding commented on #58853
@terrajobst, I think you mean .NET 7. It's likely too late to take this for .NET 6 😄

[2021-09-14 19:09] terrajobst commented on #58880
* Looks good as proposed
    - We should rename `matchTimeout` to `matchTimeoutMilliseconds` as we can't use a `TimeSpan`

[code]

[2021-09-14 19:13] joperezr commented on #59068
Setting milestone as 7.0 since this doesn't appear to be a regression.

[2021-09-14 19:17] bartonjs commented on #2036
@tannergooding I can't tell if you're arguing for, against, or just providing data :smile:.

[code]

seems like a reasonable addition on the surface of things, but won't it produce different answers on 32-bit and 64-bit executions for the same 32-bit compatible value, since a 64-bit run sees 4 extra bytes in the payload?

I'm probably leaning toward not having it and making the caller be clear if

[2021-09-14 19:22] MichalPetryka commented on #2036
It will produce different values.

[2021-09-14 19:26] danmoseley commented on #58880
@stephentoub as you pointed out offline, our current regex cache uses the actual culture name in the key (ie not just Invariant vs. Current as is in the RegexOptions). Either we have to accept that's information baked into the regex at the time it is compiled, or that's a bug we should fix. In the former case, this attribute will need to have a CultureInfo as well (the string form thereof at least

[2021-09-14 19:26] ladeak commented on #58691
Yes, but unfortunately, the workarounds involve `unsafe`.

[2021-09-14 19:28] bartonjs opened #59105 "X509Certificate2.GetNameInfo(SimpleName) with non-ASCII data on Linux returns oddly encoded results."
Verified on Ubuntu 18.04 with .NET Core 3.1 and .NET master from a couple months ago.

* Find a certificate whose subject name is in Russian/Cyrillic.
* Instantiate X509Certificate2 with that cert
* call cert.GetNameInfo(X509NameType.SimpleName, false).

Expect: Something Russian
Actual: A string escaped in with backslash-capital-Us.

 e.g.

[code]

(https://iitrust.ru/downloads/ca/guc2021.crt)

T

[2021-09-14 19:30] MihaZupan commented on #58504
Same as https://github.com/dotnet/runtime/issues/33053#issuecomment-598282251

Triage: `LocalPath` should do escaping which is appropriate for the platform.

[2021-09-14 19:32] #43934 closed

[2021-09-14 19:36] danmoseley commented on #57947
Sounds good to me.

[2021-09-14 19:42] stephentoub commented on #58880
We need to revisit the expected behavior here around culture all-up, not just with regards to the source generator, in particular does "current culture" (when RegexOptions.CultureInvariant isn't specified) apply at construction time or at match time?  Right now, for both the interpreter and RegexOptions.Compiled, it's in a weird middle world where data from the culture that current at the time of

[2021-09-14 19:43] vcsjones commented on #59105
@bartonjs do you want me to look in to this or is this something you are currently investigating?

[2021-09-14 19:43] karelz commented on #58712
@krwq ping?

[2021-09-14 19:47] karelz commented on #59011
Triage: We expect that the code analyzer will have mostly false positives as most people don't use User Info. As such, it will create noise and defeat the purpose.
If we have more people running into this, we can revisit, but it seems rare as it is first report in years.
Closing for now. We can reopen later if there is more impact info.

[2021-09-14 19:47] #59011 closed

[2021-09-14 19:50] karelz commented on #58814
@DenisRumyantsev any update?

[2021-09-14 19:53] danmoseley commented on #57770
@GSPP not sure how useful it is to you, but this is the latest graph -- maybe @jeffschwMSFT has a version that goes back further.

You can see the steep drop to RC1 branching as we fixed/moved/closed issues, then it's been more steady since then as there are always incoming, etc. We are on track.

![image](https://user-images.githubusercontent.com/6385855/133324577-3591bbe0-fca4-4c82-90ef-365d451a

[2021-09-14 19:54] pranavkm opened #59107 "Figure out an alternative to startup hooks for dev-time scenarios such as hot reload"
### Description

In .NET 6, hot reload relies on startup hooks to inject binaries in to the app that can do things like receive hot reload deltas when not attached to the debugger, and invoke metadata update handlers when it is. However, the runtime disables startup hooks for an `PublishTrimmed=true`. To workaround this, VS / dotnet-watch will disable hot reload for apps with startup hooks disable

[2021-09-14 19:54] danmoseley commented on #57770
the thin line is issues marked 'blocking-release' -- which we're using to distinguish the must fix issues.

[2021-09-14 19:54] karelz commented on #58971
Triage: Pity we didn't discover it a bit earlier for RC2 (which just forked). We do not think it will be common for people to run into this. Closing.

[2021-09-14 19:54] #58971 closed

[2021-09-14 19:56] jeffschwMSFT commented on #57770
![image](https://user-images.githubusercontent.com/9561583/133325153-a5798909-89bc-461c-840f-c11781aa2830.png)

[2021-09-14 19:58] karelz commented on #59093
@kunalspathak can you please confirm that it is main branch only and not a perf regression in release/6.0 branch?

[2021-09-14 19:59] karelz commented on #58927
Triage: We should disable the tests now. @wfurt has Schannel traces to share with OS team.

[2021-09-14 19:59] carlossanlop commented on #58591
Thanks for the proposal, @chucker. A couple of questions:

- Should this analyzer _only_ warn if the `OrderBy` calls are chained next to each other? What about a case like the following?:

[code]

- There are multiple overloads of [OrderBy](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.orderby?view=net-5.0) and [OrderByDescending](https://docs.microsoft.com/en-us/dotnet/api/sy

[2021-09-14 19:59] kunalspathak commented on #59093
It is main branch. Right @DrewScoggins ?

[2021-09-14 19:59] #58111 closed

[2021-09-14 20:02] karelz commented on #58689
Triage: Might impact also non-FreeBSD OSs. But didn't come up yet.

[2021-09-14 20:09] karelz commented on #58898
@antonfirsov can you help with this one? It seems to fail in CI on Win11.

[2021-09-14 20:13] chucker commented on #58591
Great questions!

I don't believe that `OrderBy` ever affects `Where`. Maybe I'm mistaken?

However, regarding the first question, there are two trickier cases:

**1**

[code]

My original hunch about this one was that we should warn. But in the above scenario, the behavior may be intended by the developer: they simply want two different sort orders. If the behavior _is_ intended, I can't think of

[2021-09-14 20:22] carlossanlop commented on #33813
@huoyaoyuan Consider this issue assigned to you.

[2021-09-14 20:23] Thefrank commented on #14537
I am not 100% sure the crossgen2 package is actually being generated correctly :(
Binary:
[code]
Everything else is either mono or native FreeBSD
[code]
I will look into this further if I get some more free time later this week.

[2021-09-14 20:25] Bio2hazard commented on #58974
@tmds

Hi, yes this is a real application. It's a console app running in production that fetches gzipped csv files and converts them to the parquet format. The container instances have a tight memory limit so I can run multiple container instances per host - when I first created the app it had to process about half an exabyte worth of data, so scaling horizontally in an efficient manner was vital.

[2021-09-14 20:25] carlossanlop commented on #33797
@paulomorgado if you can't find any issue, please create an API proposal.

[2021-09-14 20:27] josalem commented on #56888
Is this a conscious decision or has it just never been needed before?

When I search for it in the runtime, I see lots of uses of `new (nothrow)`. They seem to mostly be in the DAC and GC, but there are a few in VM as well.

[2021-09-14 20:29] SteveDunn commented on #1384
@StevenLiekens - that's a shame.  This stuff is certainly a lot more dificcult since .NET Core / 5.

[2021-09-14 20:32] mayur-ekbote commented on #58469
Facing the same issue (works in Preview7, exception in RC1). EditTemplate property also has the [JsonIgnore] attribute along with JsonPropertyName _and_ JsonConverter. Has any behavior wrt JsonIgnore changed from Preview7 to RC1? In general, which attribute takes precedence?

[2021-09-14 20:32] carlossanlop commented on #43976
@TKharaishvili are you still going to work on this?

[2021-09-14 20:39] tannergooding commented on #2036
@bartonjs, these are the primitive building blocks and so it's up the the author of a more general Crc32 loop to correctly handle any trailing bytes.\

I would expect, for example, if you have 11 bytes that you'd do: 1 or 2 iterations using `nuint` and then handle the remaining 3 bytes independently of the main loop, likely using the `ushort` or `byte` overloads, rather than explicitly loading up

[2021-09-14 20:41] filipnavara commented on #58998
Thanks for quick fix!

[2021-09-14 20:53] vcsjones commented on #59105
Eh, I figured it out. PR coming soon.

[2021-09-14 20:53] Mike-E-angelo commented on #58469
Yes now that Visual Studio 2022 Preview 4 w/ `net6.0-RC1` officially deployed I am thinking this thread may get a little busy. :P

[2021-09-14 20:55] vitek-karas commented on #59058
I'm pretty sure this has nothing to with dynamically loading an assembly or `CreateInstance`. If I rewrite your sample to not use dynamic loading and just use `new Class12` it has the same behavior as with dynamic loading. (Also I would not expect any change in behavior between the two).

I think what you're seeing is a Windows behavior - I know next to nothing about media timers, so I can't comme

[2021-09-14 20:57] janvorli commented on #56888
That is not std::nothrow, but rather our own "nothrow" constant defined here:
https://github.com/dotnet/runtime/blob/c496700368804a6aae45ca98ecd846ba2aafd8eb/src/coreclr/utilcode/clrhost_nodependencies.cpp#L216
and declared here:
https://github.com/dotnet/runtime/blob/c496700368804a6aae45ca98ecd846ba2aafd8eb/src/coreclr/inc/new.hpp#L17

As such, it is not available in the PAL.

[2021-09-14 20:58] vitek-karas commented on #59082
In that case statically linking the `nethost` into your app seems like the best solution. There will be no additional file on disk, the code will become part of your native host app.

[2021-09-14 20:59] gregg-miskelly opened #59109 "IXCLRDataMethodInstance.GetILAddressMap is broken in .NET 6 RC1"
### Description

In .NET 6 rc1, mscordaccore.dll!ClrDataMethodInstance::GetILAddressMap will always fail with E_INVALIDARG. The problem is that GetMethodNativeMap always provides `0` as the second argument (`address`) to ClrDataAccess::GetMethodNativeMap. This is passed to ExecutionManager::GetNativeCodeVersion, which will always fail.

Call stack:
[code]

### Configuration

* Which version of .NE

[2021-09-14 21:00] gregg-miskelly commented on #59109
CC @tommcdon

[2021-09-14 21:02] tommcdon commented on #59109
@hoyosjs @mikem8361

[2021-09-14 21:06] TKharaishvili commented on #43976
@carlossanlop yes, I'll have an updated PR over the next several days.

[2021-09-14 21:14] #58062 closed

[2021-09-14 21:14] eduherminio commented on #57534
@VSadov The issue is _mysteriously_ fixed in rc 1, so feel free to close this unless you want to continue/finish any research you may doing.

I double checked that preview 7 builds kept failing after seeing rc 1 ones working, so maybe there was something odd in preview-7 after all.

[2021-09-14 21:16] carlossanlop commented on #37039
@elinor-fung Looks like this other approved proposal belongs to this list:
https://github.com/dotnet/runtime/issues/51193

[2021-09-14 21:22] hoyosjs commented on #59109
@gregg-miskelly I see the issue - the main issue is ClrDataMethodInstance is not tiering aware. It only stores the desc. It's easy to give you the latest map - would that work for you?

[2021-09-14 21:23] jkotas commented on #59107
How do you expect hot reload and apply delta to work in `PublishTrimmer=true` apps?

To apply deltas to trimmed apps, you would have to ensure that the deltas do not reference any APIs that got trimmed, and that the deltas do not violate any other invariants inferred by the linker from the app code. That is close to impossible to do in reasonable way.

The same would be true for other channels.

[2021-09-14 21:23] bartonjs commented on #59105
Wow.  Nice work.  Always impressed when "go to lunch" somehow means stuff's done :smile:.

[2021-09-14 21:35] karelz commented on #58504
@MihaZupan is it a dupe, or did we fix it only partially in 5.0?
Do we still need more info?

[2021-09-14 21:37] pranavkm commented on #59107
@jkotas this is on an app that hasn't been trimmed (i.e. when you `dotnet run` the app). We definitely don't want to support hot reloading on app that has been trimmed.

[2021-09-14 21:41] VSadov commented on #57534
Hmm. There were very little changes between P7 and RC in the area of single-file, but there were a lot of changes in other part of the runtime. There is a possibility that some unrelated bug was causing this. In particular, if it is due to something like uninitialized data, then a bug could show up only in some environments/builds. These are notoriously hard to find and fix, but also very rare.

I

[2021-09-14 21:42] #57534 closed

[2021-09-14 21:43] jkotas commented on #59107
Ah ok. I guess that the simplest fix would be to trust startup hooks that they are not doing anything that affects behavior after trimming, and leave them enabled in untrimmed app even when the project file has `PublishTrimmer=true`.

[2021-09-14 21:43] gregg-miskelly commented on #59109
Ideally I think we would want it to work with all versions, though the latest is definitely better than nothing. Is there a different API we could use that would be better? I believe we use this code in two cases:

1. For disassembly -- we have a native instruction address, and we are trying to decode what is there
2. For execution control in time travel debugging -- we have an IL address (module,

[2021-09-14 21:44] MihaZupan commented on #58504
We fixed the UNC path case (#33053), but the issue remains for Unix file paths.

[2021-09-14 21:46] VSadov commented on #55405
Another interesting part is that if I start a container, attach console and run the app interactively, only the _first_ execution fails:

[code]

[2021-09-14 21:47] jkotas commented on #59107
@pranavkm Are you doing anything unnatural to workaround the current behavior? Trying to see whether we should consider this for .NET 6.

[2021-09-14 22:08] vitek-karas commented on #59107
I'll try to summarize what was discussed (@pranavkm please correct me):
* We don't want to limit hot-reload to only work on app builds which are "made for hot-reload". This effectively means the SDK doesn't know if the app will need hot-reload capability when it's building it. So it would have to always assume "yes" - which would mean to enable startup hooks on non-trimmed builds of app even if `P

[2021-09-14 22:10] srpeirce opened #59177 "[Net6 - RC1] Json Source Generator - JsonSerializerContext Breaking Change?"
### Describe the bug
I am using JSON Source generators as per this article: https://devblogs.microsoft.com/dotnet/announcing-net-6-release-candidate-1/

Since upgrading to RC1 the code no-longer compiles. Is this an intended change to the API? I can't find any issues related in this repo.

### To Reproduce

In Preview 7 I had code like this, based on examples here: https://devblogs.microsoft.com/d

[2021-09-14 22:13] Jozkee commented on #58691
Why is that a problem for you?

[2021-09-14 22:21] delmyers commented on #59109
Yes, for time travel debugging, it is absolutely necessary that we can get all of the native addresses for all versions, because we need to be able to set breakpoints in the native addresses that represent the jitted IL so that we can stop at the correct location if there are multiple versions of the method.

[2021-09-14 22:23] mayur-ekbote commented on #58469
I guess the problem is that this check happens in the JsonSerializerOptions. Somehow between .Net 5 and .Net 6, the check got enforced at runtime.

Consider the following code:

[code]

Which is used to serialize the class:

[code]

**This code does not throw an exception at runtime if the target framework is set as .Net 5 but it throws an exception if it is set as .Net 6.**

[code]
In either case

[2021-09-14 22:31] mayur-ekbote commented on #58469
I guess the problem is that this check happens in the JsonSerializerOptions. Somehow between .Net 5 and .Net 6, the check got enforced at runtime.

Consider the following code:

[code]

Which is used to serialize the class:

[code]

**This code does not throw an exception at runtime if the target framework is set as .Net 5 but it throws an exception if it is set as .Net 6.**

[code]

It could also

[2021-09-14 22:34] maxkoshevoi opened #59118 "Add `DateOnly` and `TimeOnly` string body parameter support"
### Describe the bug
When using `DateOnly` or `TimeOnly` as parts of request body, ASP.NET expects `string` to be passed, but throws

[code]

when it is. Passing `DateTime` as string (eg. `"2021-09-14T21:10:54.798Z"`) works just fine, so how is `DateOnly` and `TimeOnly` less secure?

### To Reproduce

- Create action with `DateOnly` or `TimeOnly` parameter, or add `DateOnly` or `TimeOnly` property

[2021-09-14 22:34] Mike-E-angelo commented on #58469
I very much appreciate you digging into the weeds and providing some clarity to the scenario here, @mayur-ekbote. 👍

[2021-09-14 22:39] jkotas commented on #59107
To keep things simple, I would be ok with giving up predictability for features controlled by the environment (as opposed to the program source code).

Profilers are environment controlled feature too. Profilers can do IL rewriting that can get confused by trimming. We are not disabling profilers for predictability either.

[2021-09-14 22:41] elinor-fung commented on #37039
@carlossanlop This issue is listing out a backlog of interop-related analyzers. That one looks to be more general performance. I don't believe we do a tracking list for general runtime/performance analyzers.

[2021-09-14 22:51] Mike-E-angelo commented on #58469
I keep calling this a "regression" but this is actually a change that improves the API.  The "regression" is the experience when taking the same code and running it on `net6.0`, and that of resulting in an exception that did not occur before in `net5.0` through `net6.0-preview7`.

[2021-09-14 23:02] wzchua commented on #59118
See https://github.com/dotnet/runtime/issues/53539

[2021-09-14 23:02] GrabYourPitchforks commented on #59118
Dupe of https://github.com/dotnet/runtime/issues/53539.

[2021-09-14 23:09] AaronRobinsonMSFT commented on #59020
@psmacchia Thanks for the added details. I've done some investigation here and this isn't something we are going to enable. The reasons are related to consistency across platforms and the specific meaning of this API. Specifically the `HINSTANCE` on Windows is for the loaded PE image by the OS, which means it has been mapped into memory by the OS loader in a well-defined way. On non-Windows, .NET

[2021-09-14 23:09] #59020 closed

[2021-09-14 23:10] rotanov commented on #58853
That would be great!

[2021-09-14 23:15] maxkoshevoi commented on #59118
My concern is more about ASP.NET than serialization of those types. Since #53539 won't make it into .NET 6, does this mean that for a year there won't be an out of the box way to use `DateOnly` and `TimeOnly` in ASP.NET API?

[2021-09-14 23:24] bartonjs commented on #44738
The original proposal (which took a tag) was nullable.  Presumably we thought it was useful to have the default value for known tag types (a copy-enumerator, once we ever get around to making an enumerator?)

[2021-09-14 23:56] vsfeedback opened #59120 ".Net 5: For Thai, IndexOf(string) returns wrong index for some strings"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Net-5:-For-Thai-IndexOfstring-return/1523046)._

---
[regression] [worked-in:.net core 3.1]
Using .NET 5 IndexOf(string) returns wrong index.
This is reproducible only for some input strings, when the culture is set to Thai.

Example:
CultureInfo.CurrentCulture = new CultureInfo("th");
v

[2021-09-14 23:56] vsfeedback opened #59121 "Different results .Net 5.0 and .Net 6.0 on AES Crypto"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Different-results-Net-50-and-Net-60-/1522080)._

---
I have found that the code enclosed works under 5.0 but breaks on 6.0.  Under 6.0 the throw is hit because the original data is 17 bytes but under 6.0 it will return 16.  It runs fine under 5.0.

I have included a 5.0 version that work

[2021-09-14 23:57] vsfeedback opened #59122 "Loading of XML files fails when using prefix for long paths"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Loading-of-XML-files-fails-when-using-pr/1517831)._

---
Hi!
When I try to load a XML file using a long path prefix (\\?\) an exception is thrown (Invalid URI: The hostname could not be parsed).
This happens with .NET framework 4.7.2 and 5.0. I asssume that this also happend with other v

[2021-09-14 23:57] vsfeedback opened #59123 "DataContractSerializer cannot deserialize unknown property containing CDATA when implementing IExtensibleDataObject"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/DataContractSerializer-cannot-deserializ/1500589)._

---
[severity:It's more difficult to complete my work]
_The text has been updated due to presentation issues with the code when shown on the page. It looks fine in preview._

Exception is thrown when a class implementing IExtensibleDat

[2021-09-14 23:58] vsfeedback opened #59124 "Process.Start doesn't work in . Net5"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ProcessStart-doesnt-work-in-Net5/1494751)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:Worked in .Net Framework, not in .Net 5]
I have been able to use System.Diagnostics.Process.Start(fileName) since version 1 of .Net Framework I think.

Why does thi

[2021-09-14 23:59] vsfeedback opened #59125 "Uncorrect output on my PC on C# language"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Uncorrect-output-on-my-PC-on-C-language/1490573)._

---
**[ENG]** Hello! When I launch my code on C# language, the output becomes 314,15999999999997 like on my screenshot. It's very strange because my program just calculate 10.0*10.0*3.1416 and I thought that output would be 314.16. I al

[2021-09-14 23:59] vsfeedback opened #59126 "directory.getfiles does not take advantage of the index"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/directorygetfiles-does-not-take-advanta/1466897)._

---
On Windows machine, directory.getfiles and .getdirectories with specified search pattern  apparently don't take advantage of the indexing. If I use them on a directory with thousands of files or subdirectories, it may run for minute

[2021-09-15 00:00] vsfeedback opened #59127 "EncryptedXml.Encrypt(XmlElement, X509Certificate) does not support rsa oaep, only insecure rsa1.5"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/EncryptedXmlEncryptXmlElement-X509Cer/1437226)._

---
[severity:I'm unable to use this version]
EncryptedXml.Encrypt(XmlElement, X509Certificate) does not support rsa oaep, only rsa 1.5 which is deemed insecure.

from: https://www.w3.org/TR/xmlsec-algorithms/#rsa15

RSA-v1.5
URI:
http://

[2021-09-15 00:00] wegylexy commented on #43641
I figured that I can inject clients from QUIC connections into `HubLifetimeManager<>` in a custom hosted service via a dedicated stream, without touching internal SignalR transports.

[2021-09-15 00:02] vsfeedback opened #59128 "String.Substring() parameter comment error..."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/StringSubstring参数注释错误。。。/1240076?preview=true)._

---
StartIndex and legth parameter notes are reversed...

---
### Original Comments

#### Feedback Bot on 11/1/2020, 11:40 PM:

<p>We have directed your feedback to the appropriate engineering team for further evaluation. The team will r

[2021-09-15 00:11] bartonjs commented on #59127
RSA-OAEP-SHA1 has been supported since the introduction of EncryptedXml in .NET Framework 2.0.

https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Security.Cryptography.Xml/tests/Samples/EncryptingDecryptingAsymmetric.cs#L34-L39

shows tests utilizing it.

[2021-09-15 00:11] #59127 closed

[2021-09-15 00:14] wzchua commented on #59121
I assume this is about the crypto stream
See https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/partial-byte-reads-in-streams

[2021-09-15 00:33] #58274 closed

[2021-09-15 00:34] mburbea commented on #59125
Not an issue. Welcome to ieee754.
The formula in question appears to be `10.0 * 10.0 * 3.1416`. (You can even simplify it to `100 * 3.1416`) and you will get the same result.  You can try this in your browser's console and you will also get the same result. So it's not C# here but how the doubles are represented.

Now for some mind bending stuff `3.1416 * 100` does indeed produce the expected outp

[2021-09-15 00:39] adegeo commented on #58470
@NikolaMilosavljevic Few things I'm unclear about. I'm writing this up right now, maybe you can answer these questions:

1. If you install the 64-bit SDK, can you still compile a 32-bit CPU app?
2. If question 1 is true, can you debug and run them?
3. If question 1 is false, what would the user do? Install both SDKs and ensure only the 64-bit SDK is in path?

[2021-09-15 00:40] bartonjs commented on #59127
Upon reflection, I see that the issue was about the certificate-based ease-of-use method, not the total class functionality.

This can be worked around in caller code, perhaps with an extension method for symmetry.  Just copy https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/EncryptedX

[2021-09-15 00:49] davidwrighton commented on #59089
Oh, that's a great idea for testing. We should make that randomization mode part of one of our R2R tests so that once we fix this it doesn't come back.

[2021-09-15 01:54] GrabYourPitchforks commented on #59120
I added this to the big list at https://github.com/dotnet/runtime/issues/43956.

[2021-09-15 02:06] Thefrank commented on #14537
in other news, it looks like we have a tag for RC1.
Good news: The illumos fixes made it in :)
but not the FreeBSD ones :(
They still need to be manually patched or cherry-picked.
No issues with a simple test of `dotnet --info` and `dotnet run`
[code]
-----------------
[code]

Uploading SDK shortly if people want to use/test it

[2021-09-15 02:09] danmoseley commented on #59126
My assumption is that an numeration of the filesystem is "up to date" in some sense, whereas the Windows indexing service is not, nor does it index everywhere. therefore it's quite inappropriate for our enumeration APi to consult it. It might be interesting to offer a nice API over the Windows indexing service, if one does not exist, but that's something that can be done in a library and shared on

[2021-09-15 02:13] danmoseley commented on #59125
@mburbea is correct. this is how floating point math works.

Most likely what you want is to format the double to a limited number of decimal places. There are detailed explanations herE:
https://devblogs.microsoft.com/dotnet/floating-point-parsing-and-formatting-improvements-in-net-core-3-0/
https://docs.microsoft.com/en-us/dotnet/api/system.double.tostring?view=net-5.0

If you actually want a hi

[2021-09-15 02:13] #59125 closed

[2021-09-15 02:13] danmoseley commented on #59126
I'm going to close though for reasoning above.

[2021-09-15 02:13] #59126 closed

[2021-09-15 02:13] danmoseley commented on #59126
We appreciate the suggestion though!

[2021-09-15 02:15] JeremyKuhne commented on #59126
I don't remember any asks about hitting the indexing service. For the record, the current search service (the indexing service ended with Windows 8) is documented here: https://docs.microsoft.com/en-us/windows/win32/search/-search-developers-guide-entry-page

[2021-09-15 02:16] GrabYourPitchforks commented on #59121
Duplicate of https://github.com/dotnet/runtime/issues/56834. See also the doc linked to by https://github.com/dotnet/runtime/issues/59121#issuecomment-919599014 for sample code that follows the recommended patterns.

[2021-09-15 02:16] #59121 closed

[2021-09-15 03:12] #58033 closed

[2021-09-15 04:31] jeffhandley commented on #45661
Closed via dotnet/roslyn-analyzers#5367

[2021-09-15 04:31] #45661 closed

[2021-09-15 04:33] jeffhandley commented on #57224
Diagnostic locations for C# have been updated. VB locations still need to be updated. We are targeting the 6.0 GA milestone for that change.

[2021-09-15 04:37] jeffhandley commented on #26612
Closing per the discussion above that the current behavior is the better option.

[2021-09-15 04:37] #26612 closed

[2021-09-15 04:38] jeffhandley commented on #58463
Closing with the same rationale as #26612 that the current behavior is reasonable.

[2021-09-15 04:52] huoyaoyuan commented on #33813
@carlossanlop You can assign me now, and you can tell the owners to review the PR.

[2021-09-15 05:01] psmacchia commented on #59020
Thanks @AaronRobinsonMSFT

In-memory anti-tampering could be the justification

[2021-09-15 05:10] #58897 closed

[2021-09-15 05:11] iSazonov commented on #58581
It is as PowerShell works (throw on inaccessible base directory) but additional option looks as overkill.

[2021-09-15 05:26] ericstj commented on #58816
Fix introduced build failures. Let me suggest an alternative:
https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props#copylocallockfileassemblies

most other tasks leverage this.

see if that would let you completely replace publish. Cc @Anipik

[2021-09-15 05:44] SuRGeoNix commented on #59058
Hi @vitek-karas,  did you run the sample within the VS? Use Command Prompt instead to see the difference with CreateInstance as the VS will change your app's timers when you debug to 1ms. Make sure that you use Windows 10 2004 (aka, the April 2020 version of Windows) or greater where the TimeBegin/EndPeriod behavior has been changed to per app so "it will not" be affected by others.

Output (with

[2021-09-15 05:49] julienGrd commented on #58894
new behavior this morning after upgrading to visual studio 2022 preview 4 (by extension to .net 6 RC1)

Its not oublish anymore, its finish with error
C:\Program Files\dotnet\sdk\6.0.100-rc.1.21458.32\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.RuntimeIdentifierInference.targets(176,5): Erreur NETSDK1175: Windows Forms is not supported or recommended with trimming enabled. Please go to https://ak

[2021-09-15 06:41] ChrisKoebke opened #59138 "Referencing OpenTK.Graphics crashes the Ready2Run build."
### Description
When referencing OpenTK.Graphics, I'm getting a an ILCompiler.CodeGenerationFailedException on a Ready2Run publish and the build fails.

### Configuration

- .NET 6 (RC1)
- VS2022 Version 17.0.0 Preview 4.0
- Windows 10
- x64
- C# 10.0

The configuration for Publish is the same as in [this](https://github.com/dotnet/runtime/issues/56971) issue

### Other information

[code]

[2021-09-15 06:42] ChrisKoebke commented on #56971
Hey all,

I just updated to the newly released RC1 and the R2R build sadly still doesn't work for my app. I opened a new issue (as it's probably a different bug?) here:
https://github.com/dotnet/runtime/issues/59138

[2021-09-15 06:47] ChrisKoebke commented on #59138
[ConsoleApp3.zip](https://github.com/dotnet/runtime/files/7167455/ConsoleApp3.zip)

[2021-09-15 07:00] topsterde opened #59139 "Missing XmlSerializers.dll in nupkg [Microsoft.XmlSerializer.Generator]"
### Description

Build this project:
[code]

The generated *.nupkg contains only the dll.
I am expecting a lib\net5.0\ASSEMBLYNAME.XmlSerializers.dll in this package.

### Configuration

* Which version of .NET is the code running on? 5.0
* What OS and version, and what distro if applicable? Win 10
* What is the architecture (x64, x86, ARM, ARM64)? x64

[2021-09-15 07:19] tmds commented on #29857
This issue can be closed. As explained above, this behavior is intentional.

[2021-09-15 07:19] radical commented on #58816
Updated https://github.com/dotnet/runtime/pull/59136 to try this

[2021-09-15 07:32] lissity commented on #59082
Thank you for the help!

[2021-09-15 07:32] #59082 closed

[2021-09-15 07:33] ashakoor opened #59140 "System.Text.Json source generator fails when targetting multiple frameworks without referencing STJ"
### Description
When using the `System.Text.Json` source generator in a project targeting multiple frameworks, including .NET 6.0, without referencing the `System.Text.Json` package, the following errors are given upon compilation:

- `CS0534 'TestClassJsonContext' does not implement inherited abstract member 'JsonSerializerContext.GetTypeInfo(Type)'`
- `CS7036 There is no argument given that corr

[2021-09-15 07:38] anttikes commented on #59076
I also found out that not all of the "string"-based built-in validation attributes follow a similar suite. For example:
- RegularExpressionAttribute uses the Convert class
- StringLengthAttribute uses a cast operation

It is unclear why there's a difference in behavior between the attributes. Logically thinking they should all follow the same approach.

[2021-09-15 07:44] adamsitnik commented on #59124
As mentioned by @CyraxSputnik in the original issue, the difference between .NET and .NET Core is the default value of `UseShellExecute`

From the [docs](https://docs.microsoft.com/dotnet/api/system.diagnostics.processstartinfo.useshellexecute):

If setting it does not help, please reopen the issue.

[2021-09-15 07:44] #59124 closed

[2021-09-15 07:44] ajcvickers commented on #58795
No response; closing.

[2021-09-15 07:44] #58795 closed

[2021-09-15 08:01] adamsitnik opened #59142 "Creating StringBuilder with large initial capacity has regressed"
Repro:

[code]

It's not specific to any OS, it repros on both Windows and Unix:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Text.Tests.Perf_StringBuilder.ctor_capacity(length%3a%20100000).html

![image](https://user-images.githubusercontent.com/6011991/133393081-25b03fc3-ba7b-4528-b17e-337320e8eed6.png)

https://pvscmd

[2021-09-15 08:05] lateralusX commented on #59054
Getting the LMF around complete `ves_pinvoke_method` including calls to enter/exit GC safe sounds like best alternative (and inline with how this look when running JIT). It will also taking care of another issue I have seen in `ves_pinvoke_method`, when we hit enter/exit GC unsafe in `ves_pinvoke_method` and block we don't have any valid LMF record pushed for these transitions to runtime code, so

[2021-09-15 08:07] lissity opened #59143 "Hosting .NET Core using nethost and hostfxr - Problem linking with libnethost.lib"
I'm trying to statically link `nethost` to my application using `libnethost.lib`.
I've written the following small program:

[code]

When building I get the error:
`Error	LNK2019	unresolved external symbol __imp_get_hostfxr_path referenced in function main`

I'm using the `libnethost.lib` from `C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Host.win-x64\5.0.9\runtimes\win-x64\native`. I'm bui

[2021-09-15 08:07] StevenLiekens commented on #1384
FWIW I'm now doing the same thing as Morten, writing my own cache handler. It's feasible for me because I'm doing this outside of normal work hours for a pet projects... but you can't honestly expect someone to implement the entire web caching draft as part of their job building ecommerce apps. https://github.com/StevenLiekens/gw2sdk/blob/ad310e5b98d4db12229f831144617edeb6c4aeab/GW2SDK/Http/Cachin

[2021-09-15 08:14] eiriktsarpalis commented on #59103
As discussed, a constant-factor regression in async serialization/deserialization is expected due to the infrastructure now incorporating support for `IAsyncEnumerable`. It would thus be reasonable that small value deserialization would indicate substantial regressions. We'd still need to profile this, just in case an unrelated performance bug has slipped through.

[2021-09-15 08:19] #29857 closed

[2021-09-15 08:29] eiriktsarpalis commented on #59118
The exception message being thrown in RC1 contained confusing messaging and has since been updated in #58775 (see [relevant change](https://github.com/dotnet/runtime/pull/58775/files#diff-f343f56e41ad406150ed9d35e7548f0d118dd3038c57dff2ff309e5e96331091R495)). TL;DR the `UnsupportedTypeConverter` was initially constrained to types whose deserialization is associated with security issues but has sin

[2021-09-15 08:29] #59118 closed

[2021-09-15 08:40] din-prajapati opened #59144 "Using Sync Method of HTTP Client (.NET 5) in .NET Framework 4.8"
Hello Team,

By Looking at below link of Sync HTTP Client Send (synchronous method); it looks like it has been introduced in .NET 5.
https://github.com/dotnet/runtime/issues/32125

Now, I have the same situation where i need to use synchronous method of HTTPClient in a class library project's method which is used by other library internally; Now i can not change every calling method as Async due t

[2021-09-15 08:44] paulomorgado commented on #33797
An API proposal????

[2021-09-15 08:55] eiriktsarpalis commented on #58469
Thanks for providing the reproduction @mayur-ekbote. I've trimmed it down to the following:
[code]
Effectively it seems like .NET 6 is attempting to instantiate the custom converter even though a `JsonIgnoreAttribute` has been attached to the member. In .NET 5 this doesn't happen, and you need to comment out `JsonIgnore` to force the same exception.

Even though the class is clearly misconfigured,

[2021-09-15 09:19] josteink commented on #14537
No need for grief. We've already shown we can handle patience.

We're making decent progress, and right now it looks like we might land something eventually. As (one of) the guys who initially started this port (for .NET Core 1!!!), just seeing that fills me with great joy :smiley:

[2021-09-15 09:25] Taudris commented on #1420
Well, it turns out that `ExecutionContext.SuppressFlow()` can't be used to accomplish what I thought it was doing from reading the source code. (It is really dense stuff!) It doesn't cause future invocations of `.Capture()` to use the current EC (without cloning) or its `AsyncLocal`s like I thought; it just causes `.Capture()` to return `null` until the suppression is removed, and the intended pat

[2021-09-15 09:26] tmds commented on #58974
Thanks for characterizing your workload and providing metrics.

@Maoni0 @janvorli the referenced issue has a reproducer that leads to `OutOfMemoryException` for an application that should fit within the managed heap. It may have the same root cause as this issue. Can you please take a look?

@Bio2hazard can you also try using the first 5.0 image (`mcr.microsoft.com/dotnet/runtime:5.0.0`)?

I think

[2021-09-15 09:27] Timovzl commented on #1420
@meiedomi As per the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.configureawait?view=net-5.0), it is `ConfigureAwait(` **`true`** `)` that causes the original `SynchronizationContext` and `TaskScheduler` to be used for the continuation. This happens to be the default, so it may be omitted. By contrast, `ConfigureAwait(false)` exists specifically to indicate that

[2021-09-15 09:29] am11 commented on #59143
fwiw, on unix, we also need to link `libstdc++` when using `libnethost.a`:
[code]

[2021-09-15 09:36] Timovzl commented on #1420
@Taudris I'm surprised. @meiedomi reported success with your [original proposal](https://github.com/dotnet/runtime/issues/1420#issuecomment-918334713) of this solution. Could you describe what is wrong with that approach, and why it did seem to work?

[2021-09-15 09:37] Mike-E-angelo commented on #58469
Thank you for reopening this issue, @eiriktsarpalis.  👍

You say that but half of my Blazor application no longer works due to this issue for nearly four weeks now. 😁  Although Syncfusion is working on its own fix ([I am nagging them](https://www.syncfusion.com/feedback/28117/serialization-exception-throws-in-sfgrid-while-upgrading-to-latest-net-version) as much as I am nagging you), it is not sch

[2021-09-15 09:39] am11 commented on #59143
ah, it is happy without `-lstdc++` when using clang++ directly 🤷
[code]

[2021-09-15 10:22] adamsitnik opened #59145 "Surprising performance regression on Unix VMs"
For the following very simple benchmark:

[code]

We can observe a huge perf drop for Linux **VMs (bare metal machines are not affected)**.

In the following table all `AMD EPYC 7452` machines are Azure VMs, everything else is bare metal:

| Result | Ratio | Modality   | Operating System        | Bit   | Processor Name                                  |
| ------ | -----:| ---------- | ------------

[2021-09-15 10:26] adamsitnik commented on #59145
I've just run it on CentOS VM and confirmed that it was not a one time thing:

[code]

 |        Method |     Mean |    Error |   StdDev |   Median |      Min |      Max |  Gen 0 |  Gen 1 | Allocated |
 |-------------- |---------:|---------:|---------:|---------:|---------:|---------:|-------:|-------:|----------:|
 | ConcurrentBag | 365.1 ns | 35.02 ns | 40.33 ns | 360.6 ns | 304.3 ns | 448.4 ns

[2021-09-15 10:31] mayur-ekbote commented on #58469
@eiriktsarpalis Did you get a chance to test it between .net 6 previews vs RC1? Specifically, was this JsonIgnore behavior introduced in RC1?

[2021-09-15 10:41] adamsitnik commented on #59087
Another:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Tests.Perf_Int32.ToStringHex(value%3a%202147483647).html

![image](https://user-images.githubusercontent.com/6011991/133419279-5d93f0c1-bf55-448a-ab85-ab4a862b5217.png)

[2021-09-15 10:49] adamsitnik opened #59146 "Potential perf regression in Utf8Encoding.GetBytes"
[code]

Both Windows and Unix are affected:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Text.Perf_Utf8Encoding.GetBytes(Input%3a%20Cyrillic).html

![image](https://user-images.githubusercontent.com/6011991/133419976-145d1881-e3b1-424c-b493-84324028520d.png)

https://pvscmdupload.blob.core.windows.net/reports/allTestHist

[2021-09-15 10:57] SteveSandersonMS opened #59147 "library_mono.js triggers apparent false-positive report from GitHub's codeql scan"
This was originally reported at https://github.com/dotnet/aspnetcore/issues/36529

It seems that if you add GitHub's CodeQL analysis ([like this](https://github.com/damienbod/AspNetCore6Experiments/blob/main/.github/workflows/codeql-analysis.yml)), then you will get a report of a vulnerability like this: https://github.com/damienbod/AspNetCore6Experiments/pull/7/checks?check_run_id=3607015850. Jus

[2021-09-15 11:07] jgustavs-tibco opened #59148 "X509Chain.Build() fails to create a valid certificate chain on Linux if two root certificates with the same subject name is added to the ExtraStore."
Link to a unit test project to reproduce: https://github.com/jgustavs-tibco/dotnet-linux-X509Chain-bug/blob/main/X509ChainBug/UnitTest.cs

### Description

If you add two root certificates with the same subject name to the ExtraStore of an X509Chain subject then X509Chain.Build may fail to create a valid certificate chain. It seems to be the case that the order in which the root certificates are a

[2021-09-15 11:11] adamsitnik commented on #59087
https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ubuntu%2018.04%2fSystem.Globalization.Tests.StringEquality.Compare_Same_Upper(Count%3a%201024%2c%20Options%3a%20(en-US%2c%20Ordinal)).html

![image](https://user-images.githubusercontent.com/6011991/133423210-cec89dbf-f602-487f-a992-ffc5f53792ef.png)

[2021-09-15 11:29] adamsitnik opened #59149 "Potential performance regression in Array.Sort for arrays of reference types"
[code]

Both Windows and Unix are affected:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Collections.Sort(IntClass).Array(Size%3a%20512).html

![image](https://user-images.githubusercontent.com/6011991/133425156-e070b9f9-5288-40f6-a700-a1a4135c1907.png)

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2

[2021-09-15 11:42] teo-tsirpanis commented on #59144
Hello, the synchronous `HttpClient` methods were introduced on .NET 5, are not available on .NET Framework and most probably will never be since Framework is not receiving new features.

If you own both class libraries you mention, I think that porting them to .NET 5 and making the entire call chain `async` is worth the effort and will yield significant performance benefits (besides taking advanta

[2021-09-15 11:47] kefyru opened #59179 "CS8714: Dictionary<TKey, TValue> where TKey: notnull - WHY?"
## Background and Motivation

I really don't understand why TKey constrains with 'notnull'...

for example:
[code]
Maybe it is some solution to prevent this warning in order to not use ```#pragma warning disable...```, which makes code quite ugly.

## Proposed API

Remove notnull constrain from TKey

## Usage Examples

[2021-09-15 11:53] blowdart commented on #59147
Not ship blocking, but should be addressed before release

[2021-09-15 12:21] karelz commented on #59144
.NET Framework 4.8 was announced to be last major version of .NET Framework: https://devblogs.microsoft.com/dotnet/net-core-is-the-future-of-net/
We do not have plans to add new features there, unless they are super-critical (e.g. TLS 1.3 support for compliance and security reason).

Overall, HttpClient sync APIs were added only to ease up migration of large project from .NET Framework to .NET Cor

[2021-09-15 12:21] #59144 closed

[2021-09-15 12:24] adamsitnik opened #59150 "[macOS] Potential perf regression in Timer"
It seems to be affecting only macOS (cc @Lxiamail @jeffhandley)

[code]

| Result | Ratio | Operating System        |
| ------ | -----:| ----------------------- |
| Same   |  1.06 | Windows 10.0.19043.1165 |
| Same   |  0.93 | Windows 10.0.20348      |
| Same   |  1.11 | Windows 10.0.20348      |
| Same   |  1.00 | Windows 10.0.18363.1621 |
| Same   |  0.91 | Windows 8.1             |
| Same   |

[2021-09-15 12:27] din-prajapati commented on #59144
Thanks for your reply.

Making entire call to Asyn will be hell lot of effort. we can not make hell lot of method call to async. And We can not migrate to .NET 5 from .NET 4.8 as .net 5 is based on Core concepts.

I was looking any way by which i can still use httpclient and its .Send (synchronous) methdo in .net framework 4.8. OR is there any thread safe and secure approach where i can make async

[2021-09-15 12:28] Yamaha3775 commented on #58795
I raised the issue via Feedback in Visual Studio Preview 3.1.
I wanted to open and read an Excel file using OLEDB in a simple C# program, and I got stuck when using NET 6.0.
The issue is fixed in Preview 4.0.
Thank you Microsoft Team

[2021-09-15 12:28] adamsitnik commented on #59145
For a `ConcurrentBag<string>` the regression reproduces only on Linux VMs with 1 physical core.

[2021-09-15 12:39] adamsitnik commented on #59142
Some other benchmarks that use large string builders like `System.Text.Tests.Perf_StringBuilder.ToString_MultipleSegments(length: 100000)` also seem to be slightly regressed.

[2021-09-15 12:53] adamsitnik commented on #59149
There are more array sorting-related benchmarks that have regressed across multiple configs, so the better config would be:

[code]

[2021-09-15 12:59] uzairali001 opened #59156 "After updating to .net6-rc1 Blazor WebAssembly's old project is not loading and new project can't build"
### Describe the bug
After updating to .net6-rc1 Blazor WebAssembly project which was working on .net6-pre7 can't be loaded in Visual studio 2022 any more and showing this error.
[code]

Even newly created project is not building anymore
[code]

### To Reproduce

- dotnet new blazorwasm
- cd wasm
- dotnet restore
### Exceptions (if any)

[code]

### Further technical details
- ASP.NET Core version

[2021-09-15 13:01] bompani commented on #56369
Is it possible to backport this fix to release/5.0 branch too?

[2021-09-15 13:03] thebitllc commented on #59015
From k8 -> Socket.OSSupportsIPv6:False. This isn't a blocker right now, as we can bypass the call to GetActiveTcpConnections() from Elastic's NEST by disabling the .EnableTcpStats(false) in the connection settings.

[2021-09-15 13:10] dmlittledm opened #59175 "How to get property return type?"
I need to get return type of the property getter or a method.
I've got the TypeDefinition of required class, then got its properties and their getters' MethodDefinition-s
`var reader = module.GetMetadata().GetMetadataReader();`
`// ..`
`var typeDef = reader.GetTypeDefinition(tdHandle);`
`// ..`
`var properties = typeDef.GetProperties();`
`// ..`
`var property = reader.GetPropertyDefinition(propert

[2021-09-15 13:11] adamsitnik opened #59152 "[macOS] Potential regression in delegates invocation"
It seems to be affecting only macOS (cc @Lxiamail @jeffhandley)

[code]

## PerfLabTests.DelegatePerf.DelegateInvoke

| Result | Ratio | Operating System        |
| ------ | -----:| ----------------------- |
| Same   |  1.01 | Windows 10.0.19043.1165 |
| Same   |  0.99 | Windows 10.0.20348      |
| Same   |  1.00 | Windows 10.0.20348      |
| Same   |  1.00 | Windows 10.0.18363.1621 |
| Same   |

[2021-09-15 13:15] karelz commented on #56369
@bompani we could if there is enough demand. What is impact on you / your customers? How many are affected? How much? Why is it critical for your app?
Also note that 6.0 just released RC1 which is go-live license. Given that it is LTS and will be supported much longer than 5.0, is it an option for you to upgrade to 6.0?

[2021-09-15 13:16] karelz commented on #58927
Tests were disabled in PR #59135 in main (7.0)

[2021-09-15 13:33] koszeggy commented on #59032
But the package contains also .NET Framework 4.6.1 so when targeting 4.8, _not_ the .NET Standard 2.0 will be picked but the Framework binaries. If it was true I could happily continue targeting .NET Core 2.0/3.0 because they also could pick the .NET Standard 2.0 binaries (this is what I tried to explain, I hope it is clearer now). For .NET Framework this is not a problem, 4.6.1 is the lowest .NET

[2021-09-15 13:35] danmoseley commented on #59032
@ViktorHofer

[2021-09-15 13:36] karelz commented on #59015
@thebitllc thanks for info. Can you please help us identify the difference between 3.1 and 5.0 in your environment?
That seems to be the last piece of the puzzle ...

[2021-09-15 13:41] jkotas commented on #59145
All that `new ConcurrentBag<int>` does is `new ThreadLocal<WorkStealingQueue>()`.  Do you see the same regression if you just run `new ThreadLocal`? https://github.com/dotnet/runtime/pull/56956 is potentially related. cc @davidwrighton

ThreadLocal depends on finalizer for cleanup. My guess is that the finalizer thread is not able to cleanup the ThreadLocals fast enough in this config due to #5695

[2021-09-15 13:44] bompani commented on #56369
Our app is a wab service that manages the telephony system of the University of Bologna. It's one of the biggest private telephony network based on asterisk, with about 10000 phone lines.
Without this fix the web service is not able to invoke the web API of some desktop phone models that require digest authentication with an empty realm.
The web service persistence layer is based on an Oracle data

[2021-09-15 13:50] danmoseley commented on #58880
Agreed. What would be nice here is some data on what customers rely on. I'm guessing changing to "you get what you get" or "always construction time" would be breaking. We at least should be consistent if we can.

[2021-09-15 13:50] Rodrigo-Andrade opened #59157 "DOTNET_SYSTEM_NET_SOCKETS_INLINE_COMPLETIONS and UnsafePreferInlineScheduling Support"
I have being using this with great results for more than a year now, any plans for making this more "official"?

[2021-09-15 13:55] pentp opened #59158 "Microsoft.Extensions packages missing .NET (Core) targets"
#35606 removed a ton of build targets for mostly Microsoft.Extensions packages that are now built only for `netstandard2.0` and `net461`.
This doesn't look right - some of these packages now depend on long deprecated `netstandard2.0` packages and after upgrading my app to .NET 6 rc1 it started pulling in these packages that should be long forgotten already (e.g., `System.Buffers/4.5.1`).

I though

[2021-09-15 13:58] JeepNL opened #59170 "ASP.NET 6 RC1 - On Cloudflare Pages - When I try to install 'wasm-tools' the build breaks."
ASP.NET 6 RC1 / Blazor WASM

When I try to install 'wasm-tools' on Cloudflare Pages, the build breaks. The 'wasm-tools' themselves are installed successfully

`15:25:57.532	Successfully installed workload(s) wasm-tools.` (See Cloudflare log below)

Without trying to install 'wasm-tools' everything works, maybe it's because they use Ubuntu 16.04. I don't know, I'm just guessing.

**Cloudflare Error

[2021-09-15 14:04] stephentoub commented on #58880
Any change here is likely to break someone somewhere.  We'll need to determine what we believe is a) the "right" behavior we desire in an ideal world, b) the perf impact of that decision, and c) how widespread we expect breaks to be from that change, and make a decision.  We shouldn't do that here, though.  I'll be opening a handful of issues related to the source generator as follow-ups to addres

[2021-09-15 14:05] DenisRumyantsev commented on #58814
@karelz We have more than one issue that can be solved by switching from the `SocketsHttpHandler` to the `HttpClientHandler`. After testing on one of such issues I can confirm that this error is equally reproduced on the pipeline agent with the current version of `.NET Core` (with the `3.1.0` runtime version) and with the version of `.NET Core 6` (with the `6.0.0-preview.7.21377.19` runtime versio

[2021-09-15 14:11] ViktorHofer commented on #59032
@koszeggy please see the [announcement issue](https://github.com/dotnet/announcements/issues/190) that lists the supported target frameworks for .NET 6.

The reason why packages like System.Drawing.Common are blocked on < netcoreapp3.1 even though they have a netstandard2.0 asset is that in many cases the .NETStandard asset just contains type forwards and not the actual implementation.
You can see

[2021-09-15 14:13] ViktorHofer commented on #59158
Correct. Adding .NETCoreApp configurations to all the packages in dotnet/runtime is tracked via https://github.com/dotnet/runtime/issues/54012. Feel free to contribute in case you want to help make progress on the issue.

[2021-09-15 14:16] ViktorHofer commented on #59158
Note that these packages will continue to pull in these dependencies as long as the packages support netstandard2.0. There are no plans to stop supporting .NETStandard in our packages anytime soon (i.e. during .NET 7 or .NET 8).

[2021-09-15 14:19] pentp commented on #59158
If they had a .NET [Core] target (like they had in .NET 5 versions), then they would not have these legacy dependencies when used from a .NET 6 app.

[2021-09-15 14:23] ViktorHofer commented on #59158
Adding dependencies to the graph (even if such dependencies aren't built live anymore) isn't considered a regression. We still service the System.Memory and System.Buffers packages in case of security issues.

Also, in many cases you will still get the .NETStandard asset into your dependency graph, i.e. when you reference a third party package that only offers a netstandard2.0 lib and depends on t

[2021-09-15 14:33] radical commented on #53804
Fixed by https://github.com/dotnet/runtime/pull/58913 .

[2021-09-15 14:33] #53804 closed

[2021-09-15 14:33] radical commented on #53612
Should be fixed by #58913 .

[2021-09-15 14:33] #53612 closed

[2021-09-15 14:33] ViktorHofer opened #59161 "[release/6.0] Microsoft.Extensions.Logging.Abstractions includes unnecessary dependencies"
`Microsoft.Extensions.Logging.Abstractions` references System.Memory and System.Buffers packages on net6.0 even though those libraries are part the 6.0 shared framework: https://github.com/dotnet/runtime/blob/cbe463bfb602dde7cbfcf78e5ef87743b4f87a4c/src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj#L33-L36

These dependencies should be con

[2021-09-15 14:34] janvorli commented on #58974
@tmds I was just going to start investigating this (and the #50414) problem today.

[2021-09-15 14:35] ViktorHofer commented on #59158
Just opened https://github.com/dotnet/runtime/blob/cbe463bfb602dde7cbfcf78e5ef87743b4f87a4c/src/libraries/Microsoft.Extensions.Logging.Abstractions/src/Microsoft.Extensions.Logging.Abstractions.csproj#L33-L36 for Microsoft.Extensions.Logging.Abstractions one as that one already had a net6.0 asset but the dependencies weren't conditioned accordingly to not apply to it.

[2021-09-15 14:37] ViktorHofer commented on #59161
@Anipik as this regressed with https://github.com/dotnet/runtime/commit/3897ee5902a3f4de51d75cb24ea59345aeb28782

@ericstj @danmoseley I would like to get a fix for this in before we snap today.

[2021-09-15 14:41] buvinghausen opened #59163 "6.0 RC1: ImplicitUsings with .NET Framework 4.x - System.Net.Http is not available"
I have two NuGet packages I maintain with legacy .NET Framework support for 4.6.2 when I enabled ImplicitUsings on those projects they both failed to compile due to the inclusion of System.Net.Http which the legacy .NET Framework doesn't have available without adding a package dependency on System.Net.Http

Error Message: error CS0234: The type or namespace name 'Http' does not exist in the namesp

[2021-09-15 14:44] allantargino commented on #57333
Hi, after exploring the problem a bit I believe it relies on the `_callSiteCache` inside `CallSiteFactory`.

- After the first call, it caches the key `(IProcessor<int>,0)` and sets its value to the `IntProcessor`'s call site.
- In the second call, when iterating over the first descriptors inside `TryCreateEnumerable`, the `TryCreateOpenGeneric` looks up the cache using the same key, `(IProcessor<

[2021-09-15 14:46] eerhardt commented on #58536
Closing as this work is now complete - and backported to the 6.0 branch. It will be available in 6.0-rc2.

We chose to take Alternative Option (2) above.

[2021-09-15 14:46] #58536 closed

[2021-09-15 14:49] karelz commented on #56369
@bompani so, you are making new deployment to new customer(s) where you found out in production that it does not work? Is that correct?
Or did it work earlier and stopped working suddenly? (What triggered it in that case?)
How many customers / Desktop phone models are directly impacted by this bug?

[2021-09-15 14:52] karelz commented on #58587
Fixed in 6.0 RC2 in PR #58718.
Fixed in 7.0 in PR #58590.

[2021-09-15 14:52] #58587 closed

[2021-09-15 14:58] bompani commented on #56369
We upgraded our ws from dotnet core 3.1 to .net 5.0 but we will not be able to deploy the new ws in production until this issue will be resolved. This issue was not present in dotnet core 3.1.

[2021-09-15 14:59] allantargino commented on #57333
Should we create a new struct `ServiceCallCacheKey` using the same fields as [`ServiceCacheKey`](https://github.com/dotnet/runtime/blob/abd0088681a3cb53b32dc412b1fd623743dac342/src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/ServiceCacheKey.cs) + a flag that indicates if the cached type is `Exact` or `OpenGeneric` (or `Closed` and `Open`).
I was thinking in a new cache key

[2021-09-15 15:10] vcsjones opened #59168 "Running a .NET 5 project on macOS M1 with .NET 6 leads to confusing error message"
Steps to reproduce:

1. Install .NET 6 RC1 on an M1 Mac with the ARM64 architecture. Make sure there are no previous installs of .NET.

[code]

2. Try to run a .NET application that targets .NET 5 with `dotnet run` You'll get output that looks like:

[code]

I would expect to see a better error message, either indicating that .NET 5 is not installed, or that an available SDK/runtime is not availab

[2021-09-15 15:16] SamMonoRT commented on #58204
Moving to 7.0 based on above comments.

[2021-09-15 15:23] pentp commented on #59158
It looks like this is now covered by the two other issues.
It's a bit unfortunate that Microsoft.Extensions.DependencyModel will have these legacy dependencies in .NET 6.0, but probably not worth any last minute changes.

[2021-09-15 15:23] #59158 closed

[2021-09-15 15:25] vcsjones commented on #58927
`SslStream_NegotiateClientCertificateAsyncTls13_Succeeds` failed for me in #59116. Is this related? If so, should it get disabled as well?

[2021-09-15 15:34] MichalPetryka commented on #59163
.Net Framework 4.6.2 does include System.Net.Http, especially since it's in .Net Standard 2.0 which .NF 4.6.2 covers.

[2021-09-15 15:39] mangod9 commented on #59138
@trylek could you please take a look at this?

[2021-09-15 15:39] buvinghausen commented on #59163
@MichalPetryka that would be a no.....

![image](https://user-images.githubusercontent.com/1130210/133464761-f305712e-74a8-4d58-bd16-72a50c85ae09.png)

[2021-09-15 15:41] mangod9 commented on #45446
Moving to .net 7, since this appears to be on win7 only? @timcassell are you able to repro this on win10?

[2021-09-15 15:42] mangod9 commented on #58468
@hoyosjs assume this can now be closed based on your PR?

[2021-09-15 15:43] jasonpugsley commented on #14537
During a build of the runtime repo, crossgen2 is run against `System.Private.CoreLib.dll`.
The log shows the command being assembled:
`Set Property: CrossGenDllCmd=/dotnet/runtime/dotnet.sh /dotnet/runtime/artifacts/bin/coreclr/FreeBSD.x64.Release/crossgen2/crossgen2.dll -o:/dotnet/runtime/artifacts/bin/coreclr/FreeBSD.x64.Release/System.Private.CoreLib.dll   ...`
So it looks like it's using a man

[2021-09-15 15:44] buvinghausen commented on #59163
![image](https://user-images.githubusercontent.com/1130210/133465563-f9cdc0d1-afcb-40b1-a606-12733f94787f.png)

[2021-09-15 15:47] AndyAyersMS commented on #52610
I'm going to re-open this. We continue to see a steady rate of perf fluctuations from PGO. These have become more obvious during the .NET 6 endgame because we still see daily PGO updates in main and there's not much else going on.

A few possible areas for deeper analysis:
* PGO collection is inherently unstable, since we are measuring low-level details of non-deterministic applications. So some b

[2021-09-15 15:47] karelz commented on #59163
@buvinghausen I am not sure I fully understand.
`System.Net.Http` is empty nuget package and we recommend people to drop reference to it if they can. You seem to claim that it is somehow needed, which is suspicious.
Do you have a small repro demonstrating why is it needed? Which APIs do you use?
They should be part of System.dll (or System.Net.dll or System.Net.Http.dll) on .NET Framework -- all t

[2021-09-15 15:48] buvinghausen commented on #59163
@karelz please see the OP the bottom has everything you need

[2021-09-15 16:00] bartonjs commented on #59148
Already came up, and was dismissed, in #31569.

You need to add Authority Key Identifier and Subject Key Identifier to handle the ambiguity.

[2021-09-15 16:00] #59148 closed

[2021-09-15 16:03] rolfbjarne opened #59167 "XmlSerializer tries to use Reflection.Emit even if RuntimeFeature.IsDynamicCodeSupported is false"
### Description

We have a test case that fails with when `IsDynamicCodeSupported=false` (when executing in a FullAOT scenario on an iOS device):

    [FAIL] Bug1820_GenericList : System.TypeLoadException : Could not load type 'Microsoft.Xml.Serialization.GeneratedAssembly.XmlSerializer1' from assembly 'Microsoft.GeneratedCode, Version=1.0.0.0' because the parent type is sealed.
        at System.

[2021-09-15 16:04] karelz commented on #59163
@buvinghausen I see your code link now.
I don't understand what is ImplicitUsings in your context, and why is it needed.

Also, I am not sure what this comment means:
https://github.com/buvinghausen/SequentialGuid/blob/master/src/SequentialGuid/SequentialGuid.csproj#L9
[code]

Is there a chance to create HelloWorld-style CS file with project which would demonstrate the problem? That will help me i

[2021-09-15 16:08] timcassell commented on #45446
Hi @mangod9, yes I am repro'ing on win10.
Visual Studio: 16.11.3
CPU: AMD Ryzen 7 3700X 8-Core Processor                3.59 GHz
RAM: 32GB

Also for clarity, I am running the code in [this comment](https://github.com/dotnet/runtime/issues/45446#issuecomment-737037655) for measuring survived memory (not allocated).

I also tried with Visual Studio 2022 (17.0.0 Preview 4.0), and saw even more unexpe

[2021-09-15 16:16] teo-tsirpanis commented on #59163
[Here it is.](https://github.com/dotnet/runtime/files/7171741/netfx-http.zip) Try to `dotnet build` it.

[2021-09-15 16:23] mkArtakMSFT commented on #59170
@lewing FYI

[2021-09-15 16:26] claunia opened #59171 "GZipStream silently returns corrupted data on decompression."
### Description

GZipStream silently returns corrupted data on decompression when running under .NET 6 Preview 7, while it returns correct data in .NET 5.0.302 amd .NET Core 3.1.117

### Configuration

dotnet --info
[code]

### Regression?

Yes

### Test code

[code]

Unit test results
[code]

File:
[gzip.gz](https://github.com/dotnet/runtime/files/7171818/gzip.gz)

[2021-09-15 16:28] eerhardt commented on #59168
cc @ericstj

[2021-09-15 16:33] #59105 closed

[2021-09-15 16:34] richlander commented on #59168
Here are the "instructions" on how to configure your machine today.

https://github.com/dotnet/sdk/issues/20584

[2021-09-15 16:35] stephentoub commented on #59171
Have you checked the result of the stream.Read call?  I expect it's simply not returning as much data as the count passed in.
https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/partial-byte-reads-in-streams

[2021-09-15 16:36] buvinghausen commented on #59163
@karelz sorry I was on a conference call but it looks like @teo-tsirpanis got it covered.

[2021-09-15 16:37] DrewScoggins commented on #59142
This was because we did a rerun of the bot over that time period, after we did lab wide reruns over that time period because of missing data.

[2021-09-15 16:48] wfurt commented on #58927
SslStream_NegotiateClientCertificateAsyncTls13_Succeeds was part of the change @vcsjones. Interestingly I could not find any failures in Kusto database. Maybe @karelz will have more luck or it is sign that something is not right.
It feels like there is something wrong with the Schannel but I'm still trying to work out root cause.

[2021-09-15 16:53] koculu commented on #28889
I tried following approach and it works.
It is easy to create an extension method using similar approach.
Encoding class GetBytes method directly writes to the PipeWriter.
[code]

[2021-09-15 16:53] radical commented on #59170
[code]

This looks like it might be using an older python. Try with python 3.9+ .

[2021-09-15 16:54] radical commented on #59170
`15:25:12.042	Python version set to 2.7`

- ah, yeah, this is too old.

[2021-09-15 16:54] StephenBonikowsky commented on #59059
Related to https://github.com/PowerShell/PowerShell/issues/11215

[2021-09-15 16:54] DrewScoggins commented on #59093
This is only in main, not in the release branches.

[2021-09-15 16:54] radical commented on #58973
Fixed in #58913

[2021-09-15 16:54] #58973 closed

[2021-09-15 17:03] radical commented on #59156
@uzairali001 Is `dotnet restore` failing? Could you please run that as `dotnet restore -bl`, and share the generated `msbuild.binlog`?

[2021-09-15 17:04] wfurt commented on #58814
can you file issue with details @DenisRumyantse?

[2021-09-15 17:09] wfurt commented on #59015
Side note that the `GetActiveTcpConnections` is not cheap especially with large number of connection. Just be cautions about it in production code @thebitllc. It may be best to isolate small repro that work in 3.1 but not on 5.0. I think there is space for improvements but the difference between 3.1 and 5.0 is still curious.

[2021-09-15 17:15] claunia commented on #59171
Yup that's the case.

[2021-09-15 17:16] stephentoub commented on #59171
Thanks for confirming.  This is expected then.  Stream.Read{Async} has always been able to return fewer bytes than requested; that's part of the contract. GZipStream respects that now.

[2021-09-15 17:20] GrabYourPitchforks commented on #59146
Possible dupe of https://github.com/dotnet/runtime/issues/52313? If so, it would be resolved by https://github.com/dotnet/runtime/issues/57698.

Summary: PGO isn't running over non-English scenarios, and it's causing some of the UTF-8 logic to be reordered in a suboptimal fashion.

[2021-09-15 17:24] mattleibow commented on #58200
Doesn't that mean that we should more match the Java world since that is what Android is using? And Kotlin is also using that API. And also the Resources system uses the suffixes `drawable-xxxx`.

[2021-09-15 17:29] #59161 closed

[2021-09-15 17:31] ViktorHofer commented on #59158
@pentp thanks for reporting. I just merged the PR that fixes the issue with M.E.Logging.Abstractions and the change will flow into packages produced by .NET 6 RC2 and onwards.

Regarding the DependencyModel one, I agree but fixing that at this point in the cycle likely doesn't meet the bar. As said, this already got fixed in main so the first .NET 7 preview release will contain the fix.

[2021-09-15 17:33] claunia commented on #59171
Just to be completely sure I have understand the documentation properly. It will only return 0 on buffer end?

[2021-09-15 17:38] AraHaan commented on #59163
Normally System.Net.Http is not referenced by the .NET SDK by default I think on .NET Framework 4.6.2. I remember before I had to explicitly add ``<Reference Include=System.Net.Http" />`` back when I had projects target .NET Framework at all just to be safe.

[2021-09-15 17:41] JeepNL commented on #59170
@radical The screenshot below is from Cloudflare's [Build Configuration](https://developers.cloudflare.com/pages/platform/build-configuration) page. In it I read I can modify the Python version which is being used. I don't know (yet) how to modify the build command accordingly, or mayby I can add the file `runtime.txt` ... but both don't look rocket science to me 🚀 😉

![Screenshot 2021-09-15 19284

[2021-09-15 17:41] TanvirArjel opened #59176 ".NET 6.0 RC 1 SDK does not install correctly on Windows 10."
.NET 6.0 RC 1 SDK does not install correctly on Windows 10.
I have tried with standalone SDK (x64), with Visual Studio 2022 preview4, with `maui-check`. None of them works. Shows in the control panel but nothing inside `C:\Program Files\dotnet`

But dotNET 6.0 preview 7 install correctly every time.

Here is the  `maui-check` output:

[code]

Windows Specifications:

Edition: Windows 10 Enterprise

[2021-09-15 17:43] stephentoub commented on #59171
Correct.

[2021-09-15 17:54] claunia commented on #59171
OK I'll adapt my code thanks

[2021-09-15 17:54] #59171 closed

[2021-09-15 18:05] Jozkee commented on #59059
Not a regression, it reproes in 3.1 and 5.0, but definitely we need to take a look.

[2021-09-15 18:07] vcsjones commented on #44738
We could make it a nullable value type again. We got rid of the optionals / nullable on the convince helpers where I saw them being the most useful. I suppose we could make `stringEncodingType` nullable, so updated.

[2021-09-15 18:14] jaredpar commented on #59179
Transferring to runtime as the definition of `TKey` currently has the `notnull` constraint hence the compiler is issuing the correct warning here.

[2021-09-15 18:16] ericstj commented on #59168
@richlander it's not clear from the report that folks are trying to do x64 on ARM64 here.  My impression is that this is plain ARM64 but maybe @vcsjones can confirm.  cc @sfoslund who's doing work on MAC installers for ARM64.

[2021-09-15 18:20] ericstj commented on #59168
I see, twitter has more info 😆 https://twitter.com/vcsjones/status/1438155493990707207?s=20

Still looks like this might be a host or host deployment issue.  I would expect plain-old ARM64 to "just work" and tell folks to either install a 5.0 shared framework or let them roll-forward (if that's what their runtimeconfig says).

[2021-09-15 18:22] vcsjones commented on #59168
Right. This is just trying to use ARM64 .NET 6 to run a .NET 5 app. I would expect the roll forward to work, but it does not. For the non-rollforward case the error is very unclear.

[2021-09-15 18:25] uzairali001 commented on #59156
`dotnet restore -bl` output:
[code]
[msbuild.binlog](https://drive.google.com/file/d/1otERT4u-xZ-R4Wdn2pvFpHRwMfiF7w72/view?usp=sharing)

[2021-09-15 18:27] ashcor opened #59371 "Parsing CSV (TextFieldParser) from ZipArchive fails with .net 6 RC1."
### Describe the bug
Parsing a CSV file extracted from a ZipArchive fails with a MalformedLineExceptionin .net 6 RC 1.
[code]

### To Reproduce
clone https://github.com/ashcor/net6parse/tree/main/ConsoleApp1 and do `dotnet run`. The code fails with .net 6 RC1 but works fine when changing to `<TargetFramework>net5.0</TargetFramework>`. The zip file in question was produced with 7zip with the defaul

[2021-09-15 18:29] ericstj commented on #58816
@radical can you please make the same fix to `main`?  It looks like it still has this issue.
https://github.com/dotnet/runtime/blob/82993d2c9319b5ba6c8ecd8a79aa01e300ce5afd/src/tasks/WasmAppBuilder/WasmAppBuilder.csproj#L34
cc @dotnet/runtime-infrastructure

[2021-09-15 18:32] trylek commented on #59138
Sure, taking a look now.

[2021-09-15 18:34] JeepNL commented on #59170
YES! IT WORKS 😊

I can add environment variables in the build interface. They don't support 3.9.* yet, but when I specify `3.7` everything works.

Thank you for your support! If you want you can close this issue,

**Screenshots & Build log**

![Screenshot 2021-09-15 202836](https://user-images.githubusercontent.com/39458532/133489364-5cce1858-c8c6-4c82-8fb9-ec3f03edead9.png)

![Screenshot 2021-09-

[2021-09-15 18:36] stephentoub commented on #59179
Because `Dictionary<TKey, TValue>` doesn't permit null keys, e.g.
https://github.com/dotnet/runtime/blob/82993d2c9319b5ba6c8ecd8a79aa01e300ce5afd/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs#L503-L506
The nullable constraint is reflecting that reality.

[2021-09-15 18:37] stephentoub commented on #59157
Can you share more details?

[2021-09-15 18:39] agocke commented on #59168
I'm surprised this wouldn't fail earlier. How is `dotnet build` succeeding if the app is .NET 5 and there's no .NET 5 runtime installed?

[2021-09-15 18:50] BrennanConroy commented on #36617
We recently changed the internal `ISystemClock` in SignalR to use a `long` tick instead of `DateTime`/`DateTimeOffset` and have plans to do a similar thing in Kestrel. This is because the [system clock can change unexpectedly](https://github.com/dotnet/aspnetcore/issues/13628) on certain machines and we want to have a monotonically increasing view of the duration between certain activities.

This

[2021-09-15 18:57] Clockwork-Muse commented on #36617
@BrennanConroy - Maybe so (and that's another potential thing to consider, returning a proxy for `Environment.TickCount64`), but for certain activities I'd imagine even for Kestrel you still want "current instant" for some activities.

[2021-09-15 19:06] TanvirArjel commented on #59176
Has been fixed by repairing the SDK.

[2021-09-15 19:06] #59176 closed

[2021-09-15 19:06] #59179 closed

[2021-09-15 19:07] #59170 closed

[2021-09-15 19:26] buvinghausen commented on #59163
@AraHaan thank you for the input I was able to add the following lines to my Directory.Build.props files and now everything compiles and tests

[code]

[You can see the commit here](https://github.com/buvinghausen/SequentialGuid/commit/1055e1f91d80090ccfc2b0f5e1b0f6053d90f458)

@karelz I don't know if this is something you still want to triage so I will leave it open for the time being but I don't

[2021-09-15 19:30] Maoni0 commented on #58974
I see this issue has changed to an OOM issue. yeah, if it doesn't get OOM with workstation GC but does with Server, or if it doesn't get OOM with a larger limit but with a smaller limit, that's clearly an issue that should be investigated. I'll see what @janvorli finds out.

[2021-09-15 19:39] radical commented on #59156
Do you have `C:\Program Files\dotnet\packs\Microsoft.NET.Runtime.MonoTargets.Sdk`? What directories does `C:\Program Files\dotnet\packs\` have?

Also, can you share your `C:\Program Files\dotnet\sdk-manifests\6.0.100\microsoft.net.workload.mono.toolchain\WorkloadManifest.json`?

And how did you install the workload?

[2021-09-15 19:45] ericstj commented on #11063
I'd be very interested in seeing where this hits in the libraries tests.  If you have any logs please share them.  I couldn't find any in the linked builds.

After looking at the call-stacks here and the tests they repro in, it's all happening due to us running multiple test assemblies at once.  The `TestFramework` object has a 1:1 relationship with test assembly and when that object is disposed i

[2021-09-15 19:49] agocke commented on #11063
I don't understand this. https://xunit.net/docs/running-tests-in-parallel seems to document the option as the default for the XUnit 1 and 2 console runners.

[2021-09-15 19:52] ericstj commented on #11063
Test cases work great in parallel, but multiple assemblies in parallel is not supported.  Apparently it's only working for us because we have a fork of the runner.

[2021-09-15 19:53] agocke commented on #11063
Well, `assemblies` is a documented option to the runner, it's just not the default. Maybe it's just less robust?

[2021-09-15 19:54] vcsjones commented on #59168
It does. The exact project I am using is here: https://gist.github.com/vcsjones/1fef26b5a9ad4bfe934425b272d56797

`dotnet build` succeeds. `dotnet run` fails.

The `dotnet --info` output is the same as in the initial issue comment.

[2021-09-15 19:55] trylek commented on #59138
OK, so the proximate failure is caused by this assertion failure:

<pre>
            case BBJ_CALLFINALLY:
            case BBJ_EHCATCHRET:
            case BBJ_RETURN:
            case BBJ_EHFINALLYRET:
            case BBJ_EHFILTERRET:
            case BBJ_THROW:
                NO_WAY("can't have 'unreached' end of BB with non-empty stack");
                break;
</pre>

at

https://github.com

[2021-09-15 19:55] ViktorHofer commented on #11063
Our fork is exactly the same as the upstream xunit.console runner (unsure if it still exists upstream) except for the following changes which we documented here: https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.XUnitConsoleRunner/README.md.

[2021-09-15 19:57] trylek commented on #59138
/cc @dotnet/crossgen-contrib @dotnet/jit-contrib

[2021-09-15 19:57] agocke commented on #59168
Thanks, I'll try to figure out what's going on using my M1. I assume that the problem is that the build is publishing the `.NET 5` apphost, which is only built for x64. Then, when it tries to run on .NET 6, the runtime is ARM64, so the load fails.

I suspect the only option here is to avoid using the apphost for .NET 5 apps, but that would break non-roll-forward scenarios.

[2021-09-15 20:01] jkotas commented on #59138
This is same problem as https://github.com/dotnet/corert/issues/8346

OpenTK.Graphics assembly contains invalid IL. crossgen2 does not tolerate completely invalid IL like this.

The problem was fixed by https://github.com/opentk/opentk/pull/1286. The latest version of the OpenTK.Graphics package should have the fix.

[2021-09-15 20:02] jeff-simeon commented on #58471
@hoyosjs - any thoughts?

[2021-09-15 20:02] danmoseley commented on #59179
@kefyru let us know if this didn't answer the question satisfactorily!

[2021-09-15 20:07] uzairali001 commented on #59156
Yes I've `C:\Program Files\dotnet\packs\Microsoft.NET.Runtime.MonoTargets.Sdk` and it contains `6.0.0-preview.7.21377.19`
`C:\Program Files\dotnet\packs\` contains
[code]

`C:\Program Files\dotnet\sdk-manifests\6.0.100\microsoft.net.workload.mono.toolchain\WorkloadManifest.json`
[code]

And I've install the workload by upgrade using visual studio installer. I've also ran `maui-check` command to up

[2021-09-15 20:14] radical commented on #59156
That has preview7 for some reason. But the `WorkloadManifest.json` references:

[code]

@lewing @steveisok Could `maui-check` have mixed up the packs?

The second issue is that the import doesn't succeed but msbuild didn't complain about it. I'll file a separate bug for that.

[2021-09-15 20:14] mangod9 commented on #59138
Ah, yeah looks like its the same problem. @ChrisKoebke could you please try with the latest version or opentk.graphics? Will close for now.

[2021-09-15 20:14] #59138 closed

[2021-09-15 20:16] mangod9 commented on #58468
Closing this issue for now.

[2021-09-15 20:16] #58468 closed

[2021-09-15 20:24] ericstj commented on #11063
My understanding is that even the upstream runner didn't support multiple test assemblies very well and was a motivating factor for a change in direction in v3.  V3's console runner only supports .NETFramework.  I believe the runner was in this state because it was originally designed for .NETFramework which provided AppDomain isolation and test-specific dependency control that could allow for iso

[2021-09-15 20:25] hoyosjs commented on #59109
I'll took a look in the DAC, but that method is the only thing I know that has access to such maps and is exposed publicly. Is Cordb something that is possible too to try to see what it would take to get you the right info?

Until recently we didn't realize this method wasn't tiering aware (The fix attempt was what broke this). I just opened a PR that will revert to the old behavior for that case.

[2021-09-15 20:30] teo-tsirpanis commented on #59163
If I target `net20`, I get these errors (trimmed for brevity) and no extra reference can save me if I use implicit `using`s:

[code]

I think this issue belongs `dotnet/sdk`.

[2021-09-15 20:35] davmason commented on #59109
We added these profiler methods when we did tiering, the only thing I'm not sure is how well it interacts with time travel debugging. Obviously we can't tell you what future tiers/rejits are going to be jitted, but you should be able to figure that out through other apis, e.g. ReJITCompilationStarted, etc.

[code]

We also added this ICorDebug api, not sure if it helps at all to be able to set bre

[2021-09-15 20:41] gregg-miskelly commented on #59109
There is no live process in time travel debugging, so the ICorDebugFunction4 method will not help.

For the disassembly case, the IXCLRDataMethodInstance that we are dealing with came from EnumMethodInstanceByAddress. Would it make sense to just change the implementation of ClrDataMethodInstance to remember the address?

[2021-09-15 20:52] bradwilson commented on #11063
The issue (in v2) is this:

We support running multiple assemblies in parallel, but the only runners that officially support this are the .NET Framework runners (our console and MSBuild runners). There is app domain isolation available there that helps prevent multiple test assemblies from stepping on each other, though there are edge cases inside .NET Framework itself that can still confound (lik

[2021-09-15 20:53] gregg-miskelly commented on #59109
Sorry, I just realized that that is the method descriptor address, and if I correctly understand, in tiering the same method descriptor is used for each version? So I am assuming if we were to do it that way we would need a new version of StartEnumMethodInstancesByAddress/EnumMethodInstanceByAddress that took the IP of the method we wanted? (or a new version of GetILAddressMap that did).

[2021-09-15 21:02] delmyers commented on #59109
For time travel debugging, this is what we do:

1) Get the known instances via IXCLRDataMethodDefinition::EnumInstances
2) Get a representative address via IXCLRDataMethodInstance::GetRepresentativeEntryAddress
3) Get the representative method def via GetMethodDescPtrFromIP on the above address
4) Get the rejit data via ISOSDacInterface::GetMethodDescData
5) Get all of the rejit instances using th

[2021-09-15 21:06] kefyru commented on #59179
Ok. I have problem.

public MyComponent<T> : IComponent where T : notnull

With this constraint i cant use this component in razor markup. Compiler cant generate source.

[2021-09-15 21:14] mikem8361 commented on #59109
So it sounds like the GetILAddressMap/GetAddressRangesByILOffset regression didn't break time travel debugging and it is already tiered compilation aware.

[2021-09-15 21:22] Bio2hazard commented on #58974
@tmds

#### .NET 5 Server GC (`mcr.microsoft.com/dotnet/runtime:5.0.0`)
This one had an unusual behavior that I did not observe on the -slim version in that it appears to occasionally deadlock 🤔 3 out of 5 runs just stalled and I had to ctrl+c out.

[code]

#### .NET 5 Workstation GC (`mcr.microsoft.com/dotnet/runtime:5.0.0`)
Workstation GC continues to work without any observed issues

[code]

--

[2021-09-15 21:24] maxkoshevoi commented on #59118
Got it. Created a NuGet to add support for them in body and query argiments: https://www.nuget.org/packages/DateOnlyTimeOnly.AspNet

[2021-09-15 21:43] pranavkm opened #59184 "[Blazor WebAssembly] Console.Write does not write anything until a new line is written"
### Description

This is specifically with `Console.Write` / `Console.WriteLine` appears to work as expected. Essentially any number of `Console.Write` invocations appear to be buffered until it encounters a new line.

To reproduce:

* `dotnet new blazorwebassembly`
* Use a `Console.Write("Hello world")` before the call to `RunAsync`
* Notice it never appears in the browser console

### Configurat

[2021-09-15 21:55] joperezr commented on #47328
@ViktorHofer I'm trying to find places where I can help with 6.0 issues, do you have this one assigned to anybody? Is there anything I can help out with this one?

[2021-09-15 22:00] fanyang-mono opened #59185 "Make target value dynamic for iOS in CLRTest.Execute.Bash.targets"
Currently the target value is hard-coded.
[code]

It should use a variable contains the value of the target, so that it could support both iOS and tvos runs.

Code location:
https://github.com/dotnet/runtime/blob/main/src/tests/Common/CLRTest.Execute.Bash.targets#L421

[2021-09-15 22:01] delmyers commented on #59109
@mikem8361

Sort of. We don't currently record the tiered jit in the profiler, but we could using ICorProfilerInfo9. We have depended on GetILAddressMap up to this point. We were getting the IXCLRDataMethodInstance representing each tiered version, assuming that ISOSDacInterface5::GetTieredVersions worked correctly, and then called GetILAddressMap on each of those instances. If that wasn't working

[2021-09-15 22:05] #54882 closed

[2021-09-15 22:12] ericstj commented on #58741
We made this fix to 6.0 and 7.0.  Will leave this open to port for servicing.

[2021-09-15 22:23] Maoni0 commented on #45446
I've been running this for 15 mins and could not repro at all.

@cshung could you please see if you can repro this? I used the test from @timcassell's [latest iteration](https://github.com/dotnet/runtime/issues/45446#issuecomment-737750152). the test is very straightforward so it's puzzling why the results can be so volatile.

[2021-09-15 22:26] Maoni0 commented on #45446
I should mention that I ran this with corerun, not in VS. running in VS may not make it so straightforward...

[2021-09-15 22:35] hoyosjs commented on #47328
@joperezr  This one is not yet assigned. I thing a good start is we have a ton of places that do evaluations in yaml of the sort of (if not in internal and not a PR). We need to change it so that steps that are build-like are able to run on internal PRs for security patches. Right now PRs don't validate even builds. That'd be a huge step forward.

[2021-09-15 22:41] timcassell commented on #45446
I tried build from command line `dotnet build ConsoleApp1.sln -c Release` and run the exe, and I consistently get results like this (though iteration numbers and number of abnormalities differ each run):

[code]

[2021-09-15 22:51] danmoseley commented on #59179
@mkArtakMSFT do you have insight here?

[2021-09-15 22:51] williamb1024 commented on #56302
I have a similar issue. I my scenario, I need to bind a settings object containing an `ICollection<X509Certificate2>`. Registering a custom `TypeConverter` is generally straight forward, including the ability to register a `TypeConverter` for the `ICollection<X509Certificate2>` type.

Ultimately, the registered `TypeConverter` receives a single string (the value of the configuration section) and i

[2021-09-15 22:59] hoyosjs commented on #59109
Yeah, method descs are shared per method instance. Although `StartEnumMethodInstancesByAddress` seems to be a code address from what I am reading, and we resolve a MethodDesc from it? I need to do mode code review there but the behavior is definitely... odd. It's unclear to me right now what that one was iterating over. After that it lets you iterate over all the instantiations of that desc. But b

[2021-09-15 23:06] janvorli commented on #58974
I was testing the test app from #50414  locally today and while I can repro it on .NET 6 preview 6, the test runs just fine on .NET 6 RC1. @Maoni0 said there was a change that came in preview 7 and that can likely fix the issue, so I gave it a try and it seems to be the case.

[2021-09-15 23:14] Bio2hazard commented on #58974
I just updated my docker image with
[code]

and wanted to report back that for my app nothing has changed.
[code]

[2021-09-15 23:25] janvorli commented on #58974
Hmm, it is possible that this issue and the one in #50414 are different then.

[2021-09-15 23:31] Maoni0 commented on #58974
@janvorli, it's also possible that you were hitting that issue (from what you showed me it definitely looked like you were hitting it) but @Bio2hazard was not.

[2021-09-15 23:36] hoyosjs commented on #58471
Sorry @jeff-simeon; I took a look the other day but ever since I haven't been able to take a look much as .NET 6 is about to ship and it has required my full attention. Without a repro I expect progress on this one to be slow. Not sure how big your project is, but does it only happen on one project or is it anything you try? The only way I can thing that could help without a repro is logging.

[2021-09-15 23:41] jeff-simeon commented on #58471
This is the core software for our product, so it puts us in an untenable situation.

This happens randomly about 30% to 50% of the time we debug.

Should we downgrade to a version of .NET that works? It would be a shame to determine that .NET 5.0 isn’t suitable for use.

[2021-09-15 23:46] agocke commented on #59168
@vcsjones I just tried this with RC2 and can't replicate the problem -- it's possible an SDK change to fix `dotnet run` missed RC1.

I'm using

[code]

Could you try an RC2 build from https://github.com/dotnet/installer and see if that fixes the problem? Sorry, getting everything sorted for emulation has been a long and complicated process.

[2021-09-16 00:01] MichalStrehovsky commented on #59167
@marek-safar Do we need an issue making sure we run libraries tests with the interpreter disabled? This feels like something that should have been caught in libs tests.

[2021-09-16 00:03] buvinghausen commented on #59163
@teo-tsirpanis Yeah I would imagine anything below net45 would be SOL.  Task&lt;T&gt; came with .NET 4 and System.Linq came with .NET 3.5.

[2021-09-16 00:06] vcsjones commented on #59168
Still fails for me. Something I want to call out though because I didn't stress it enough in the original post: this is on macOS 12 (Monterey) beta 21A5506j.

[code]

Just for kicks I tried a nightly:

[code]

Just to make sure I am in a known good state: is `sudo rm -rf /usr/local/share/dotnet` enough to remove all installations of .NET on macOS previously? I want to make sure I don't have any li

[2021-09-16 00:16] agocke commented on #59168
Hmm, I'm on Big Sur, but it's possible that I'm the one insufficiently clearing my machine install.

[2021-09-16 00:26] hoyosjs commented on #58471
I understand it's painful, and I'm sorry it got there. 30-50% is definitely REALLY high. I am surprised we haven't gotten any other reports of something like this. Looping @dotnet/dotnet-diag to see if someone has more time to check this one. The problem is most threads are in `Thread::WaitSuspendEventsHelper` waiting on `m_DebugSuspendEvent`. The only part where we set it is ReleaseFromSuspension

[2021-09-16 00:34] agocke commented on #59168
Yup, that was it. I hadn't fully deleted my machine install -- this now fails. However, I can get it to run by using `dotnet ../blah.dll` instead of using `dotnet run`.

I think this is the 5.0 apphost. Unfortunately it's x64 only, so if we start the runtime with it we'll be stuck in x64 mode, even if roll forward would work.

+ @mateoatr @vitek-karas I think I missed this case in the interaction

[2021-09-16 00:35] agocke commented on #59168
@vcsjones Is there a reason you decided to enable roll-forward rather than switching to net6.0 TFM? Or installing the net5.0 runtime?

[2021-09-16 00:55] jeff-simeon commented on #58471
We really appreciate any help you can provide.

I am surprised that this isn’t more widespread as well. I have to think it has to do with the highly asynchronous nature of our software. It processes many hundreds of http calls to remote APIs in parallel and tracks thousands of TaskCompletionSources to orchestrate the concurrency. The debugger hang seems to happen when the process is spawning off a

[2021-09-16 00:58] vcsjones commented on #59168
I just bumped the TFM but I will admit I wasted a bit of time getting detoured by this. I don't really expect it to work now that I understand what is happening, but it took a while to get there. I only called out rollForward because I would expect that to work. Why would it load the .NET 5 AppHost if I should be rolling forward to 6? (Keep in mind I have a very naive understanding with how this w

[2021-09-16 01:00] AraHaan commented on #36617
Also isn’t DateTime and DateTimeOffset prone to the January 2038 problem?

[2021-09-16 01:14] stephentoub commented on #36617
They're 64-bit, not 32-bit.

[2021-09-16 01:15] agocke commented on #59168
Makes sense. I think our intended path was for you to install the 5.0 runtime instead of enabling roll forward. This is the message I get if I run the app without roll forward:

[code]

I grant you -- doing a dual install of ARM64 .NET 6 and x64 .NET 5 is *not* easy right now (because of https://github.com/dotnet/installer/issues/11164), but I think that if that is fixed, that seems like a better

[2021-09-16 01:28] vcsjones commented on #59168
That's not the error that I am getting. Without roll forward I still get that experience.

With no `global.json`:

[code]

This is from the nightly.

<img width="1249" alt="Screen Shot 2021-09-15 at 9 27 50 PM" src="https://user-images.githubusercontent.com/361677/133534669-a7af4d98-3089-4697-883d-3c0fc1b4b3d1.png">

[2021-09-16 01:31] vcsjones commented on #59168
@agocke if I got your experience then I don't think I would have ended up filing an issue. I don't want to get too fixated on roll forward because the problem occurs for me roll forward or not.

[2021-09-16 01:37] VincentBu commented on #58481
Failed again in: [runtime-coreclr outerloop 20210915.9](https://dev.azure.com/dnceng/public/_build/results?buildId=1364691&view=ms.vss-test-web.build-test-results-tab&runId=39855992&resultId=102517&paneView=debug)

Failed test:
[code]
**Error message:**
[code]
Failed test:
[code]
**Error message:**
[code]
Failed test:
[code]
**Error message:**
[code]

[2021-09-16 01:42] Maoni0 commented on #45446
okie...I'm not sure if @cshung got a chance to look at this. I just took a brief look. I can repro this (I only ever see the 40 bytes difference but the way to debug this would be the same). what I did was I just turned on the gc internal logging (dprintf's) that logged the current SOH and UOH allocated bytes in `GCHeap::GetTotalAllocatedBytes` -

`dprintf (5555, ("%Id:%Id", pGenGCHeap->total_allo

[2021-09-16 01:45] agocke commented on #59168
Ugh, got my x64 and arm64 copy screwed up again. I get a slightly different, but still not great error message, because I have `/etc/dotnet/install_location` set up for how it should be after the installer is fixed (pointing to an empty x64 subdirectory).

My error message is:

[code]

Unfortunately this is still very misleading.

[2021-09-16 01:48] Maoni0 commented on #45446
(of course you don't need to use dprintf... could just look at the last object(s) allocated)

[2021-09-16 02:07] jasonpugsley commented on #14537
Actually for @Thefrank and anyone else doing scripted cross-builds, it you force-build the host first you can then use it during the full build in a second step, something like
[code]

Maybe I'm missing something or it's just my setup but I can't see why the build isn't already using the apphost that it's building rather than relying on an external one. Maybe the build order or some other historic

[2021-09-16 04:06] Thefrank commented on #14537
@jasonpugsley that two-step process did the trick!
[code]

[2021-09-16 04:47] davmason commented on #58471
@hoyosjs do we leave the debugger logging in release mode? It seems like if we had logs of the left and right sides it would be helpful here

[2021-09-16 04:52] MichalStrehovsky opened #59190 "Control flow guard support in the JIT"
For NativeAOT we would like RyuJIT to be able to optionally generate code that performs [control flow guard](https://docs.microsoft.com/en-us/windows/win32/secbp/control-flow-guard) checks. The requirement is that whenever we do an indirect method call (or an equivalent crossmethod jump), we do it in a way that gives the OS a chance to terminate the process if the destination is invalid.

We alrea

[2021-09-16 04:55] hoyosjs commented on #58471
I'd say that's the only thing that could really help. I haven't gone fishing for what stress log statements could help us, or if a private will be needed.

[2021-09-16 04:55] jasonpugsley commented on #14537
I see a new Linux docker image was published last week
https://mcr.microsoft.com/v2/dotnet-buildtools/prereqs/tags/list
ubuntu-18.04-cross-freebsd-12-20210910194109-f13d79e

Unfortunately it's still using a 12.1 crossrootfs. How do we get a new one generated with a 12.2 crossrootfs?
I have a patch waiting that uses `pthread_getname_np()` added in 12.2 so I need the image that the PR automation use

[2021-09-16 05:14] wfurt commented on #14537
once the fixes are in 12.2 and publicly available I can flow them to the roots and docker images.

[2021-09-16 05:15] Thefrank commented on #14537
I thought those were built using: https://github.com/dotnet/arcade/blob/main/eng/common/cross/build-rootfs.sh which is on 12.2 right now (and has been for a couple of months)

[2021-09-16 05:17] jasonpugsley commented on #14537
What are the "fixes in 12.2" ?

[2021-09-16 05:18] wfurt commented on #14537
It does use the the script from arcade. But builds only when needed/requested. Maybe what confuses me is the "I have a patch waiting" ...

[2021-09-16 05:21] jasonpugsley commented on #14537
Sorry 😀  I meant I want to submit a PR but it needs the 12.2 crossrootfs as the function was only added in FreeBSD 12.2. The automated build will (probably) fail otherwise.

[2021-09-16 05:46] amin1best opened #59191 "X.509 Extensions"
Hi,
The following link provides several extensions for X.509 Request:
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/ff182332(v=ws.10)

I do not find equivalent of some of these extensions in **System.Security.Cryptography.X509Certificates**:

<table>
  <tr>
    <th>Extension</th>
    <th>System.Security.Cryptography.X509Certificates</th>
  </tr>

[2021-09-16 05:55] zezba9000 commented on #57481
I have the same issue. Installed from Snap. Ubuntu 20.04.3 LTS

[2021-09-16 06:06] ChrisKoebke commented on #59138
Thanks a lot for your help! I'm currently using the latest available version from NuGet: OpenTK.Graphics v4.6.7.

What's weird about this is: I do have trimming enabled and am not using ExtGetProgramBinarySource anywhere in my project. Would it be possible to just discard this function entirely from the AOT compilation or is there some way to explicitly tell the AOT compiler to discard it?

It wou

[2021-09-16 06:16] MichalStrehovsky commented on #59138
If you only set `PublishTrimmed` and nothing else, we only apply trimming to the framework libraries. Trimming wouldn't touch the OpenTK libraries. You need to either set the trim mode on the OpenTK.Graphics assembly individually to `link`, or set the default trimming action to `link` globally (`<TrimmerDefaultAction>link</TrimmerDefaultAction>` in csproj).

[2021-09-16 06:32] martincostello commented on #59163
FYI I bought this up a few weeks ago in the SDK issue for the global using feature and the response I got was that it was by-design as this feature is only supported for .NET 6 https://github.com/dotnet/sdk/issues/19521#issuecomment-903819782

[2021-09-16 06:49] amin1best opened #59192 "Loading csr or pem files in CertificateRequest"
Hi,
In System.Security.Cryptography.X509Certificates.X509Certificate2 there is a Constructor for Loading cer and crt files such as:

`X509Certificate2 Certificate= new X509Certificate2(@"C:\test.cer");`

But in **System.Security.Cryptography.X509Certificates.CertificateRequest** there is no such constructor for loading csr or pem files.
How to load a csr or pem file in System.Security.Cryptography

[2021-09-16 07:02] davmason commented on #58471
I took a quick look, we have more stress log statements than I expected, they might be enough.

@jeff-simeon could you collect more data? We're probably going to have to iterate a bit on what data exactly to collect, usually we like to have a local repro we can debug ourselves. The logging should be enough to get to the bottom of this, but we may have to go back and forth and potentially even ask

[2021-09-16 07:03] tmds commented on #50414
Per https://github.com/dotnet/runtime/issues/58974#issuecomment-920450352, this is fixed in .NET 6 preview 7.

[2021-09-16 07:14] tmds commented on #58974
Ah yes. Same as with increasing `--memory`, this shows increasing heap size a little makes the `OutOfMemoryException` no longer occurs.

Using `GCHeapHardLimitPercent` is more efficient because it allows to keep the same container memory limit.

From the table it's clear your limits are on the edge. Reducing 100MB memory makes it fail on .NET Core 3.1. Adding 75 MB makes it pass on .NET 5+.

.NET

[2021-09-16 07:27] Junjun-zhao opened #59193 "[dotnet-sdk-6.0.100-rc.2.21463.12] grandnode item name change from Chinese (Simplified, China). Zh-CN to Chinese (Simplified, China). Zh-Hans-CN"
**Application Name**:  grandnode
**Windows OS Build**: Windows 19h1
**CPU**: X64
**.NET Build Number**:dotnet-sdk-6.0.100-rc.2.21463.12

**Verify Scenarios:**

1). Windows 19h1 X64  +dotnet-sdk-6.0.100-rc.1.21405.13:Fail
2). Windows 19h1 X64  +dotnet-sdk-6.0.100-rc.2.21463.12:Fail
3). Windows 19h1 X64  +dotnet-sdk-6.0.100-preview.7.21379.14:Fail
4). Windows 19h1 X64  +dotnet-sdk-6.0.100-alpha.1.21

[2021-09-16 07:37] kefyru commented on #59179
I absolutely understand why key can't be null, but type constraint 'notnull' does more harm than good (IMHO), and imposes restrictions to usage.. May by some language constructions like <TKey!, TVal> could solve inconvenience.

[code]

[code]

[code]

[2021-09-16 08:26] sps014 commented on #58426
These are the Collections Extensions
[code]
Here are some possible extensions Methods in Linq
[code]
I have a few questions:
 since `InsertRange` and `RemoveRange` Methods are entirely absent in `IList<T>` API but they are present in `List<T>`
should I implement `InsertRange<T>(this List<T> list, Index index, IEnumerable<T> data);` and `RemoveRange` for List only or create
an implementation for `I

[2021-09-16 08:26] karelz commented on #59163
Duplicate of https://github.com/dotnet/sdk/issues/19521

[2021-09-16 08:26] #59163 closed

[2021-09-16 08:27] karelz commented on #59163
Thanks @martincostello for referencing that. It seems like dupe, so I marked it so. Not much we can do about it in System.Net.Http NuGet package ...

[2021-09-16 08:29] marek-safar commented on #59167
@eerhardt could you help with getting this fixed for 6.0?

@MichalStrehovsky I agree that ideally this should be uncovered in libraries AOT mode run but right now we can run only the runtime tests in this mode. Running all libraries tests under AOT won't be trivial as there is a lot of tests and a lot of assumptions to fix.

/cc @SamMonoRT

[2021-09-16 09:14] marcin-krystianc commented on #50414
I've tried .NET 6 rc.1 and indeed it has greatly improved. It works flawlessly for the scenario I've reported initially.
Now the app crashes only if I try really hard and simulate extreme conditions, e.g. (rooted memory is 700MB and total available memory for heap is 768MB):
[code]

[2021-09-16 09:21] vdanche commented on #58490
With On today's RC1 SDK zip installed--6.0.100-rc.1.21463.6(runtime-6.0.0-rc.1.21451.13) from Pipelines - [Run 20210913.2-6.0.100-rc.1.21463.6-108517,105662 (azure.com)](https://dev.azure.com/dnceng/internal/_build/results?buildId=1359752&view=results), Maui workload installed successfully with below command
![image](https://user-images.githubusercontent.com/65637796/133586386-41ef13aa-0e67-461f-b

[2021-09-16 09:26] TKharaishvili commented on #43976
Hi @carlossanlop I tested positive for covid and won't be able to get any work done for some time. If you guys need this taken care of urgently, please unassign me from the issue, otherwise I'll get back to it once I'm better.
I apologize for the inconvenience.

[2021-09-16 09:41] Junjun-zhao commented on #58852
Dears, is there any update for this bug? Please help assign if it is not belong to this area? Thanks.

[2021-09-16 10:01] uzairali001 commented on #59156
I've fixed it by uninstalling `6.0-rc1` and deleting all `6.0.xxx` folder from `C:\Program Files\dotnet\sdk` then reinstall `6.0-rc1`

[2021-09-16 10:31] eiriktsarpalis commented on #59177
Hi @srpeirce, both the `ChannelViewModelContext ` constructor and the `GetTypeInfo` methods are meant to be implemented by the source generator and not the developer, so neither need be specified explicitly. This means that you would need to write your class as follows:
[code]
If this fails to compile on your project it is likely that either something is wrong with your project or you might be usi

[2021-09-16 10:43] SmartKarren opened #59196 "how to get native code address of generic method in class"
thank u for codes and docs in this project, it helps me understand more about how clr and jit works.
after read shared-generic.md , methodDesc and jit docs .
i still  can`t figure out how to find generic method native code address.

use windgb, i see NonGenericMethod methodDesc  and  jitted  code address.
but in GenericMethod  methodDesc,  it shows not jitted, after called GenericMethod, still sho

[2021-09-16 10:46] theodorzoulias opened #59197 "The behavior of the BufferBlock<T>.Fault method appears to be inconsistent"
Hi! I am studying the behavior of the [`BufferBlock<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.dataflow.bufferblock-1) component, when it completes unsuccessfully after either invoking the [`Fault`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.dataflow.idataflowblock.fault) method, or signaling the `CancellationToken`. I observed a behavior that c

[2021-09-16 10:50] UweKeim commented on #1868
Had this again today on a system with an ASP. NET Core 5 application after upgrading to Hosting Bundle 5.0.10 and removing older versions of .NET 5 and .NET 3.1.

[2021-09-16 10:50] eiriktsarpalis commented on #58426
should I implement InsertRange<T>(this List<T> list, Index index, IEnumerable<T> data); and RemoveRange for List only or create

I think this would suggest we shouldn't be adding these particular methods to `CollectionExtensions` at all.

[2021-09-16 11:10] ViktorHofer commented on #47328
What Juan said. Would be great if you could pick this one up. The deadline for this task is a soft one as it doesn't impact the initial release but the following servicing releases.

[2021-09-16 11:19] UweKeim opened #59198 ""Reboot" button in setup after a repair does nothing"
### Description

Having used the "Repair" option of Hosting Bundle 3.1.19 and Hosting Bundle 5.0.10 they both showed a "Reboot" button on _some_ systems.

(Context was [this issue](https://github.com/dotnet/runtime/issues/1868#issuecomment-920792984))

Whenever I clicked the "Reboot" button, exactly nothing happend. Neither did the system reboot, nor was an error message shown.

In the end, I did

[2021-09-16 11:20] jasonpugsley commented on #14537
I need to get some eyes on #58688  It just does the bare minimum to support FreeBSD by using the same `umask()` approach as `__APPLE__`
I'd really prefer the method outlined in #58689 but I'm not an expert in regards to how secure it is. It looks like it would be "correct" at least on the 3 platforms I tested the process on. I'm just not sure how to _prove_ it (if that's necessary).

[2021-09-16 11:27] GSPP commented on #57770
That's cool to see. Thanks!

[2021-09-16 11:35] #59109 closed

[2021-09-16 11:55] meiedomi commented on #1420
@Taudris Thanks a lot for your efforts! I will have to look closer to your solution later (because actual work ;)). However, I still believe your original solution works for my case. I don't understand why it wouldn't work. The `ExecutionContext` gets captured right when entering an `async` method – it doesn't matter whether you `await` it or not I believe. Suppressing the flow right before callin

[2021-09-16 12:02] janvorli commented on #58974
@Bio2hazard would you mind trying the experiment with modifying the limits with 6.0 RC1? I am interested in seeing if the behavior persists or if the increment needed to make it pass is smaller.

[2021-09-16 12:27] karelz commented on #58033
Fixed in 6.0 RC2 in PR #59155.
Fixed in 7.0 (main) in PR #58922.

[2021-09-16 12:32] vcsjones commented on #29547
@bartonjs

Sounds like there is some interest in this, so I would propose something like this, inspired from what we have an `X509Certificate2`.

[code]

[2021-09-16 12:35] vcsjones commented on #59192
Right now there is nothing built-in to accomplish this. It could be done today using `PemEncoding` and the `System.Formats.Asn1` package, but that is a bit low level.

There is an existing request for this at https://github.com/dotnet/runtime/issues/29547. We should work in that issue to move the proposal along and discuss needs / gaps / use cases / etc for the API proposal.

[2021-09-16 13:12] geoffkizer commented on #1384
This is an interesting point, and worth considering on its own, regardless of whether we end up building caching into SocketsHttpHandler or not.

Compression, authentication, redirect handling, and caching are all capabilities that logically are layered on top of the core protocol handling. And there are other capabilities too that you could imagine being layered in similar ways, such as retry pol

[2021-09-16 13:12] ericstj commented on #59168
Should we change the SDK when run from ARM64 host?  Seems to me like it shouldn’t be leading users down this path without error. The SDK *knows* what Host RIDs are supported on different target frameworks.

[2021-09-16 13:45] jakobbotsch commented on #59190
Just to be clear, is the transformation we need to do on x64 (in Intel syntax):
[code]

to
[code]
? How does that work out when `rcx` contains the first register argument?

I don't think I understand what work is needed in the JIT for the VSD case. Won't it be the VSD stub that handles verifying the function pointer anyway? I guess if the call to the VSD itself is indirect it needs to be checked,

[2021-09-16 13:51] sylveon commented on #59190
MSVC doesn't seem to use it: https://godbolt.org/z/GjGoac1s5. I'd generally follow what MSVC does here.

[2021-09-16 13:57] jakobbotsch commented on #59190
If the dispatch helper is available and results in smaller and more efficient code then we should use it.

[2021-09-16 13:59] sylveon commented on #59190
Sure, but this is also what MSVC strives to achieve yet it doesn't use the dispatch helper, so there must be some reason.

[2021-09-16 14:08] aik-jahoda commented on #58898
Test disabled in #59203 to suppress CI noise. We should fix/investigate the timeout soon ideally prior backport to 6.0

[2021-09-16 14:24] jkotas commented on #59190
The dispatch helper reduces effectiveness of indirect branch predictor. Indirect branch predictor tries to remember the indirection that the given callsite went through last time or last few times (this information is attached to the callsite address). If all indirect calls go through the same callsite, the indirect branch predictor will often get lost.

[2021-09-16 14:48] delmyers commented on #59109
So, this indicates that our usage of GetMethodInstanceByAddress has been wrong all along? We were under the impression that method instances for different addresses were actually different.

[2021-09-16 15:03] vitek-karas commented on #59058
I'm running this on Windows 10 21H1. I tried all of "Running from VS", `dotnet run` and `consoleapp1.exe`. All shows the same results:

Static:
[code]

Dynamic:
[code]

The first time printed out after the `TimeEndPeriod(5)` is shorter, but that also sometimes happen in the static case. It's basically random in both static and dynamic.

I honestly don't see any observable difference between the tw

[2021-09-16 15:05] kunalspathak commented on #59093
arm64 regression: https://github.com/dotnet/perf-autofiling-issues/issues/1446

[2021-09-16 15:11] bartonjs commented on #29547
The API proposal isn't the hard part :smile:.  I'm still opposed to adding this functionality until at least numbers 1-3 in https://github.com/dotnet/runtime/issues/29547#issuecomment-492420114 are tackled.  But, getting to the point where this can be added to .NET 7 (then adding it) is my top personal goal for .NET 7.

[2021-09-16 15:20] vcsjones commented on #59191
The only one that has a tracking issue is the AKI at https://github.com/dotnet/runtime/issues/50488.

As far as I know, this is just an extension that contains a BMPString, so it's doable to create this extension with `System.Formats.Asn1`.

For example:

[code]

[2021-09-16 15:26] SuRGeoNix commented on #59058
It seems that for some reason when you start the console app you already have TimeBeginPeriod(1). I would close all the windows (browsers, vs, etc.) just to make sure nobody sets it.

But even in your results you see that after the TimeEndPeriod(5) the wait ms go to 15ms which is wrong as you still have the TimeBeginPeriod(1).

[2021-09-16 15:27] bartonjs commented on #59191
@vcsjones You must have found a different certificate template than I did.  I found 1.3.6.1.4.1.311.21.7, which has structure :smile:

[2021-09-16 15:28] bartonjs commented on #59192
Duplicate of #29547

[2021-09-16 15:28] #59192 closed

[2021-09-16 15:31] vitek-karas commented on #58894
I tried again from a clean slate, to verify that the `global.json` works as expected. I honestly can't explain the behavior you're seeing. Below if what I see:

[code]

Then I opened the project in VS and created a publish profile for win-x64 self-contained application with trimming enabled. This created `FolderProfiler.pubxml` like this:

[code]

Size of `bin\Debug\net5.0-windows\win-x64\publish`

[2021-09-16 15:34] vcsjones commented on #59191
I used the one from the cited link https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/ff182332(v=ws.10).

I think that is "V2 Template Names".

[2021-09-16 15:38] nmoschkin opened #59362 "Crash on WebsocketClient.ReceiveAsync with Memory<T>"
### Describe the bug

Using the WebsocketClient.ReceiveAsync with a Memory<byte> buffer causes an exception:

[code]

When executing synchronously with ConfigureAwait inside of a non-async method.

The method is its own thread that was created with System.Threading.Thread with IsBackground = true.

This same method works if I use an ArraySegment instead of Memory.  It was also working in the previ

[2021-09-16 15:39] vitek-karas commented on #59058
I honestly don't know the expected behavior for this case. As far as I can read the docs, it's not written what the expected behavior is there. It doesn't state anywhere (that I could find) that the calls can be nested and it would internally keep a stack of the expected values. It's very possible that the behavior is simply to keep one per-process value and each call to `TimeBeingPeriod`/`TimeEnd

[2021-09-16 15:46] vitek-karas commented on #59168
We actually did change SDK to adapt to these cases. Originally running ARM64 SDK always produced ARM64 host - even for downlevel apps. With the changes SDK knows to target x64 for downlevel apps. But that assumes that x64 framework is installed on the machine (actually it assumes that the target framework is installed, .NET 5 only ships as x64 for macOS).

.NET 6 SDK doesn't know if .NET 5 is inst

[2021-09-16 15:52] SuRGeoNix commented on #59058
Just re-tested. You are right it gives different result for both static/dynamic. So, the issue is not about dynamic loading but general. So probably, it is related with Windows and not dotnet. It should be an issue generally. Imagine that within your Time Begin/End you can call any underlying library. If that library changes the time period as well, when it returns to your code it changes yours as

[2021-09-16 15:52] #59058 closed

[2021-09-16 16:04] radical commented on #56783
Changes have merged, but waiting to test that with VS before closing this.

[2021-09-16 16:06] vcsjones opened #59206 "X509Certificate2Collection PKCS7 export throws on macOS if empty"
### Description

Attempting to do a PKCS7 export on macOS with `X509Certificate2Collection` with no certificates in the collection results in a `CryptographicException` that I do not think is expected.

Simple repro:

[code]

Result:

[code]

### Configuration

Occurs in .NET 6 RC1 and `main` on macOS Big Sur and Monterey Beta 12.

### Regression?

No.

### Other information

Windows creates an em

[2021-09-16 16:06] rootwyrm commented on #14537
@jasonpugsley reviewed #58688 and LGTM but will need 'officially' blessed. I'll take care of pinging someone on that. That is the correct approach because OSX's code is literally FreeBSD code.

I'll go into the whole `umask()` on the other issue more in depth if I can find time this evening.

[2021-09-16 16:06] radical commented on #59156
Opened an issue for msbuild not complaining about the missing pack - https://github.com/dotnet/sdk/issues/21032 . I'm closing this since it looks like a corrupted setup. And with the sdk fix, it should correctly show that the pack isn't installed.

[2021-09-16 16:06] #59156 closed

[2021-09-16 16:10] bartonjs commented on #59206
I guess an easy workaround is something like

[code]

[2021-09-16 16:11] MhdTlb opened #59207 "HttpWebRequest creates many connections"
### Steps to reproduce

1. Create a Class Library project and make target frameworks net462 and netstandard2.0.
2. Add a new class to the project with following code:

[code]
3. Add Console project to the solution and make target framework as netcoreapp3.1
4. Add the Class library project as dependency to the Console App and call the `Httpwebrequesttest.Run` method from the Console App
5. Open a C

[2021-09-16 16:14] #36890 closed

[2021-09-16 16:15] gregg-miskelly commented on #59109
Backport PR: https://github.com/dotnet/runtime/pull/59199

[2021-09-16 16:29] AArnott opened #59209 "Is the breaking change in PipeWriterStream.WriteAsync intentional?"
### Description

In upgrading my System.IO.Pipelines dependency from 5.0.1 to 7.0, some of my tests are failing because `PipeWriterStream.WriteAsync(null, 0, 0, CancellationToken.None)` now throws `ArgumentNullException` where it didn't before.

Certainly a null buffer is an odd argument to pass in, but when the length is 0, it isn't used so the fact that many stream implementations including `Pip

[2021-09-16 16:32] ManickaP commented on #59207
Should be fixed in https://github.com/dotnet/corefx/pull/41462 which went into 5.0. If you switch to .NET 5.0 do you still see this problem?

In .NET Core `WebRequest` is based on `HttpClient`, so that's why it has such a different behavior from .NET Framework. We do recommend to switch to `HttpClient` if you plan to target .NET Core and .NET 5.0+ runtimes.

[2021-09-16 16:33] vcsjones commented on #59206
Heh, okay. And now I find out that macOS cannot import them, either. 🕳️🐇<sup>...down we go</sup>

[2021-09-16 16:41] bartonjs commented on #59206
Hm, Import's trickier, especially depending on where it fails (does GetContentType work?).  If it's not trivial, I'd call it a separate issue with lower priority, and it'd probably get fixed along with making `new X509Certificate(signedCms)` extract the first signer's certificate.

[2021-09-16 16:44] MhdTlb commented on #59207
@ManickaP .Net5.0 does not have the issue

[2021-09-16 16:53] #55405 closed

[2021-09-16 17:07] radical opened #59211 "[wasm] Make native builds Cancel friendly"
- MonoAOTCompiler
- EmccCompile

[2021-09-16 17:15] vcsjones commented on #59206
No. But we can try to help macOS like we do with PFX here:

https://github.com/dotnet/runtime/blob/f1425cfe5c6e456a1f160127955f590f7954f057/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/X509Pal.cs#L126-L127

We can try cracking it open with `ContentInfoAsn` and inspect a few OIDs. Let's try that:

[code]

Ah, now the real import fails here:

https://

[2021-09-16 17:22] teo-tsirpanis commented on #59209
The change was introduced in https://github.com/dotnet/runtime/commit/0acbafe06130149028c353c8aade702d6777edd5#diff-00e86876bc791a683ff6ba5718cda5bf0291b29a692c1e57b057fe4bb1ae96b2.

[2021-09-16 17:27] ManickaP commented on #59207
@MhdTlb thanks for the confirmation.

How much is the issue impacting you? And would you be able to upgrade to .NET 5.0 (or 6.0 which is RC1 now)?

[2021-09-16 17:30] mateoatr commented on #53923
I think we could start by using the tracing mechanism that is used today by the bundler and add the necessary knobs in the SDK (similar to `TraceSingleFileBundler`).

[2021-09-16 17:32] vcsjones opened #59212 "Exporting a X509Certificate2Collection with PKCS7 on Windows produces DER with trailing zeros"
Doing a PKCS7 export on Windows with `X509Certificate2Collection` always seems to include a few trailing zeros.

Simple repro:

[code]

In hex, this will produce something like `302306092A864886F70D010702A01630140201013100300B06092A864886F70D010701310000000000`.

There are four trailing zero octets there that are not necessary.

I would expect the export to create a valid DER encoded PKCS7 documen

[2021-09-16 17:34] vcsjones commented on #59212
If this is true (I cannot imagine why) then at least I think the PEM PKCS7 exports should not include these.

[2021-09-16 17:39] danmoseley commented on #59198
thanks @vcsjones -- infrastructure-installer relates to eg the build of src\installer. area-setup is the product.

having said that I actually don't know whether this should be here or in the SDK repo -- @NikolaMilosavljevic ?

[2021-09-16 17:41] nssidhu commented on #57949
# 2 is still occurring consistently.
Debugger crashing has improved but still occurs.

Updated Visual Studio 2022 to preview 4 (to use .NET 6 RC!)

[code]

[2021-09-16 17:44] teo-tsirpanis commented on #59175
Hello, you have to call `DecodeSignature` with an `ISignatureTypeProvider` implementation of yours. What it would return depends on what kind if information you want to extract from a property's return type and on how you want them represented. `GetMethodImplementations` is totally unrelated to what you want to do.

`System.Reflection.Metadata` is indeed a pretty tough and low-level API, which is

[2021-09-16 17:45] bartonjs commented on #59212
I also assume it's a Windows-ism.

Maybe we should put the length == 0 check before the PALs and just blit out the right answer for all platforms :smile:.

[2021-09-16 17:51] vcsjones commented on #59212
@bartonjs This occurs regardless if the collection is empty or not. With one cert:

[code]

[2021-09-16 17:52] thaystg commented on #57949
Could you please help me to reproduce it?

[2021-09-16 17:53] thaystg commented on #57949
Could you please help me to reproduce it?

[2021-09-16 17:53] bartonjs commented on #59212
::boggle::

[2021-09-16 18:30] CodingMarkus commented on #57186
@geoffkizer I think you are missing a very important point here: When you make a low level `send()` call and this call returns successfully, this does not mean that any data has been sent yet. It only means that the data has been accepted, placed into the send buffer of the socket and the kernel will send out the data on the next occasion possible and as fast as the network allows it. If you make

[2021-09-16 18:35] #33541 closed

[2021-09-16 18:37] pavelsavara opened #59214 "WebSocket UTF8 output validation doesn't throw"
I believe that `0xC0 0x80` is invalid UTF8 sequence.
The RFC says that we should fail https://datatracker.ietf.org/doc/html/rfc6455#section-8.1

[code]

[2021-09-16 18:52] MihaZupan commented on #59214
We are doing that when receiving frames:
https://github.com/dotnet/runtime/blob/b9926a56350867e76db3d4e25b0db91e9001f968/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs#L823-L828

   that the byte stream is not, in fact, a valid UTF-8 stream, that
   endpoint MUST _Fail the WebSocket Connection_.

I read that as something that applies to the receiving side.

[2021-09-16 18:59] cinderblockgames opened #59218 "DataContractJsonSerializer with JObject results in stack overflow"
### Description

Trying to serialize `JObject` using a `DataContractJsonSerializer` results in a stack overflow cycling through `System.Runtime.Serialization.DataContract.GetStableName`, `System.Runtime.Serialization.DataContract.GetCollectionStableName`, and `System.Runtime.Serialization.DataContract.GetNonDCTypeStableName`.

[code]

### Configuration

Running on x64 Win10, .NET SDK 5.0.401.>

##

[2021-09-16 19:02] layomia commented on #58469
The order was swapped for infrastructural reasons to support the src-gen parameterized ctor feature. I'll investigate a fix for the regression here. I do hope that the maintainers of Syncfusion can address the converter misconfiguration issue in the event that this doesn't meet the bar for a 6.0 fix.

[2021-09-16 19:07] eatdrinksleepcode commented on #38804
It appears to me that the _only_ way to use `EventListener` correctly is to do what [AzureEventSourceListener](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/Diagnostics/AzureEventSourceListener.cs) does: save any event sources raised during construction in a temporary list, and then wire them up after construction is done (although `AzureEventSourceListener` is wirin

[2021-09-16 19:08] milen-denev opened #59219 "Decrypted String Issues (chars missing) with System.Security.Cryptography -> AesCng and other classes for encryption/decryption in net6.0 rc1"
### Description

I started using .NET 6.0 rc1 in an application. Somewhere around the thousands of lines code `JsonSerializer.Deserialize` was throwing an exception because of issues with the deserialization. I went investigating and I found that the actual cause of the thrown exception is that **after decrypting** a json serialized data, **part of the string is missing**. **This doesn't apply onl

[2021-09-16 19:16] lambdageek opened #59221 "[interp] Support methods that need more than 64k data items"
See https://github.com/dotnet/runtime/pull/59220.  In that PR we addressed particular machine-generated methods that only had `ldc`, `ldsfld` and `stsfld` instructions.  But in general if a method gets large enough and it may use more than 64k data items.

There are a number of approaches we could investigate - depending on the solution complexity and the impact on interpreter performance:

* We c

[2021-09-16 19:16] lambdageek commented on #59221
/cc @BrzVlad

[2021-09-16 19:22] bartonjs commented on #59219
This is duplicate of #55527.

Unfortunately, the error is in your code.  CryptoStream used to "over-read" to try to always fill the provided buffer on a call to Read.  Now it behaves more simply, which requires callers to correctly follow the read pattern for streams.

[code]

This is described in the [breaking changes for .NET 6.0 documentation](https://docs.microsoft.com/en-us/dotnet/core/compat

[2021-09-16 19:22] #59219 closed

[2021-09-16 19:23] Mike-E-angelo commented on #58469
FWIW my concern is not only for Syncfusion but others who may be in employing the same method in their serialization(s) as well.  It will break for them too once they onboard to RC1+.  If it is documented under breaking changes somewhere then I am OK with that as well.  But that's just my vote/take/preference.

[2021-09-16 20:23] briangru opened #59224 "FileNotFoundException for System.Security.Cryptography.Csp version 5. .NET doesn't know to look in C:\Program Files\dotnet directory?"
### Description

Hey guys, please help me out.  My CLR loader knowledge is from 2012, and I need to be reeducated.  I'm happy to swing by campus if you guys still eat lunch in Building 18 or 25.

One of my .NET 5 executables worked earlier this week, but broke now due to a FileNotFoundException for System.Security.Cryptography.Csp version 5.  In the intervening time we installed the latest Windows

[2021-09-16 20:32] Bio2hazard commented on #58974
Sure thing @janvorli

I used the `-rc.1-bullseye-slim` docker images for both runtime and sdk and set `<TargetFramework>net6.0</TargetFramework><LangVersion>10</LangVersion>` in my csproj.

First I tested .NET 6.0 RC1 Workstation GC
3100MB: Pass
3075MB: Fail

Those results are the same as .NET 5

Next I tested .NET 6.0 RC1 Server GC
3200MB: Pass (3x)
3175MB: Fail (3x)

Next I re-tested .NET 5.0 Se

[2021-09-16 20:36] AArnott commented on #58909
This still repros after the fix is applied (albeit less frequently).
As evidenced by the `testResults-Windows` artifact downloaded from [this pipeline](https://dev.azure.com/devdiv/DevDiv/_build/results?buildId=5214140&view=artifacts&pathAsName=false&type=publishedArtifacts).

Here are my notes from windbg and VS investigation of the hang dump:

[code]

The source code for that V1Formatter.ReadFra

[2021-09-16 20:46] BruceForstall commented on #59190
Make sure to add a detailed description to https://github.com/dotnet/runtime/blob/main/docs/design/coreclr/botr/clr-abi.md about the ABI requirements (or options). Maybe even do this first, before the implementation.

[2021-09-16 20:48] jeffschwMSFT commented on #59224
cc @agocke

[2021-09-16 21:11] agocke opened #59227 "Refactor hosting and assembly loading to improve reliability, perf, and portability"
Right now much of the code in hostfxr and hostpolicy that performs assembly loading is in native code and it's believed that refactoring, simplification, and moving code from native to managed can provide significant benefits.

PRs:
- https://github.com/dotnet/runtime/pull/57023
- https://github.com/dotnet/runtime/pull/58462
- https://github.com/dotnet/runtime/pull/59288

Overall goals:
- [ ] Impr

[2021-09-16 21:17] AndyAyersMS commented on #33658
#### Design sketch for better supporting patchpoints within `try` regions

As noted above and elsewhere (#35687) the jit has a strong assumption that control can only enter a `try` region by branching to the first block in the try. If there's an OSR patchpoint within the try we currently branch directly from the prolog to the middle of the try, breaking this assumption.

The idea here is to add ex

[2021-09-16 21:17] StephenMolloy commented on #41431
After discussion with the team, this bug does not seem to merit
addition of new public API's. But there were some small areas for
improvement of allocation and conversion between different
collection types that we addressed in #56438.

[2021-09-16 21:17] #41431 closed

[2021-09-16 21:25] StephenMolloy commented on #1382
@HongGit lets try to keep this in 7.0 and assign it to a vendor.

[2021-09-16 21:26] bartonjs commented on #59224
Aside from the obvious (inside joke of) replacing the entire body with `throw new PrinterOnFireException();`, things that can make the symptoms go away without actually identifying the problem:

[code]

Or, if you're targeting the .NET (nee Core) line specifically, you can get fancier:

[code]

[2021-09-16 21:30] danmoseley commented on #59219
@bartonjs as an aside, does it matter that Dispose is not being called "inside out" here? Although, perhaps this is just the sample code.
[code]
I know that in some circumstances that can lead to losing data.

[2021-09-16 21:31] danmoseley commented on #59219
Simply removing the explicit Close() calls would fix the problem -- the using statements will call Dispose() for you, which is all Close() calls.

[2021-09-16 21:32] StephenMolloy commented on #50820
@HongGit, @mconnew suggests looking into using a module initializer in the code generated by sgen to add the type/serializer to the existing cache in runtime seriazliation.

[2021-09-16 21:33] layomia opened #59228 "System.Text.Json.SourceGeneration.Tests are disabled in WASM"
The System.Text.Json.SourceGeneration.Roslyn.x.tests appear to be timing out during the AOT compilation phase. From PR https://github.com/dotnet/runtime/pull/59042:

https://helix.dot.net/api/2019-06-17/jobs/770ad140-31bb-4858-9396-d50162076efd/workitems/System.Text.Json.SourceGeneration.Roslyn3.11.Tests/console

[code]
 In that same PR I'm disabling the tests to unblock green CI.

cc @eerhardt @l

[2021-09-16 21:34] meiedomi commented on #1420
I can confirm that in my test scenario that @Taudris original proposal still works. It also makes sense as to why it works. When entering an `async ` method, the execution context usually gets captured. Unless it is suppressed, which is exactly what we do. Since nothing gets captured, nothing can be restored by the continuation to `await DisposeAsync()`. Since nothing gets restored, the execution

[2021-09-16 21:40] agocke commented on #59224
I wouldn't try to work around this, because something fishy seems to be going on.

There shouldn't be anything fancy in assembly loading here -- the ref assembly should have a real runtime assembly that should go along with it in this case, no fancy type forwarding or facades.

Assuming you're using the shared runtime, the files in the .NET 5 shared runtime should be in `C:\Program Files\dotnet\sh

[2021-09-16 21:41] agocke commented on #59224
Ah, one more thing -- if you have a `blah.deps.json` next to your app that you can share, that may indicate the cause as well. If the assembly somehow got dropped, this might lead to failure to load.

[2021-09-16 21:44] DenisRumyantsev commented on #58814
@wfurt, the error occurs [here](https://github.com/microsoft/azure-pipelines-agent/blob/4dc0b6ec969775b1d5434af128e4efdaf9911fad/src/Microsoft.VisualStudio.Services.Agent/LocationServer.cs#L34), where the Azure DevOps pipeline agent tries to pass the authentication (during its configuring on macOS) when it connects to the server (deployed on another machine in the local network) via credentials (l

[2021-09-16 22:04] dihaase opened #59246 "Not able to trap the LifetimeEventsHostedService on Windows Shutdown or Restart"
### Describe the bug
I have created an ASPNET project that must run as a Windows service.     If, I use the service panel I am able to Start/Stop the service and the LifetimeEventHostedService class that I have injected into the service properly catches all the events as expected.  i.e. OnStarted, OnStopping, OnStopped ect..

However, if I start the service and then simply shut down Windows by eit

[2021-09-16 22:04] maryamariyan commented on #59032
deferring to @ViktorHofer on how to move forward with this issue.

[2021-09-16 22:08] maryamariyan commented on #59120
@GrabYourPitchforks @tarekgh is this something we'd need to look at in 6.0?

[2021-09-16 22:11] lewing commented on #58816
I think we can close this now.

[2021-09-16 22:11] #58816 closed

[2021-09-16 22:12] vcsjones commented on #59168
I see. Thanks! Please feel free to close this one if y'all think this is covered by existing issues.

[2021-09-16 22:14] maryamariyan commented on #59193
/cc @safern @tarekgh

[2021-09-16 22:18] maryamariyan commented on #58852
Will need to check if this is a regression from 5.0 to 6.0

[2021-09-16 22:20] briangru commented on #59224
Ah.  I do have the right file in C:\Program Files\dotnet\shared\Microsoft.NETCore.App\5.0.10\.  That is a real binary with "real" IL instead of a reference assembly, and the version is correct.  I do have a .deps.json file, which I'll attach here.
[EnergyNetSchedulingServer.deps.ThisIsAJsonFile.txt](https://github.com/dotnet/runtime/files/7181259/EnergyNetSchedulingServer.deps.ThisIsAJsonFile.txt)

[2021-09-16 22:26] nssidhu commented on #57949
Sure, let me know what do I need to do ?

[2021-09-16 22:30] bartonjs commented on #59219
Nah, that affects CryptoStream.Write.  That problem, classically, is using CryptoStream.Write to write to a MemoryStream, then extracting the MemoryStream's contents before calling cs.FlushFinalBlock (which is called by Dispose)... and that means you have everything except the last N bytes.

CryptoStream in Read mode understands when the data is done, since the underlying stream returned 0.

[2021-09-16 22:30] briangru commented on #59224
I will try one of Jeremy's suggestions, like maybe some span related code, or possibly replacing the entire method with throwing a PrinterIsOnFireException.

Absolutely essential historical note: When Sun Microsystems was around in the 1990's, SunOS or Solaris defined several signals standard to Unix for interprocess communication from the command line to something running.  These included SIG_HUP

[2021-09-16 22:53] #51112 closed

[2021-09-16 23:09] GrabYourPitchforks commented on #59214
Agree with @MihaZupan's assessment here. If you do want to throw on the sending side as a sort of value add ("Hey, caller, you're about to violate the protocol."), you could, but if the contract is that the caller is well-behaved then it's not strictly necessary. Validation will incur some overhead.

[2021-09-16 23:36] Bio2hazard commented on #58974
I replaced the default `MemoryPool<T>.Shared` used by `System.IO.Pipelines.Pipe` with a custom one based on `ConfigurableArrayPool`, to allow for more arrays per bucket and facilitate re-use.

This significantly dropped allocations and allows Server GC to run successfully on less memory. This + the fact that it also runs successfully on less memory with Workstation GC points towards Server GC choo

[2021-09-16 23:37] danmoseley commented on #59219
I guess I meant in the general case -- the code sample shows the pattern of acquiring A then B, disposing A then B. I know in some contexts (file IO?) that can cause data loss because B may flush data that A would consume. I'm curious whether that's a general pattern we recommend, to acquire and dispose in reverse order (as is naturally ensured by nested using statements)

[2021-09-16 23:37] agocke commented on #59224
Huh, this deps.json looks a lot like an app that was compiled for the desktop framework, not .NET 5. What's the `TargetFramework` in your project file?

[2021-09-17 00:17] agocke commented on #59168
Yeah I'm going to close this as a dup of https://github.com/dotnet/runtime/issues/51102

In this case it's not just error message -- I think we also try to load a hostfxr with the wrong bitness, which presumably the apphost will need to guard against somehow.

[2021-09-17 00:17] #59168 closed

[2021-09-17 00:23] theodorzoulias commented on #59197
I think that I've found the explanation. The third example with the `block.Complete();` followed by `cts.Cancel();` purges the `BufferBlock<T>` because these two commands are issued synchronously. If I interpose a `Thread.Sleep(100);` between these two commands, then the purging does not occur, and the behavior becomes identical with how the `Complete`+`Fault` combo behaves. So the unexpected beha

[2021-09-17 01:25] stephentoub commented on #57768
No, the implementation on .NET Framework has multiple checks that differentiate behavior when it's null and not null, e.g.
https://referencesource.microsoft.com/#mscorlib/system/io/filestream.cs,1095

The API reviewers aren't experts in all the functionality for each area and trust the proposer for things like this.  If it should be nullable, we can make it nullable.

[2021-09-17 01:33] stephentoub commented on #59209
It was intentional as part of aiming to ensure more consistency among our Streams.  The fact that it happened to allow null in that one corner case was not intentional; it just happened to work as an implementation detail of the checks ReadOnlyMemory was performing.

[2021-09-17 02:20] danmoseley commented on #59228
@steveisok is already tracking this one. Curious how it got in actually.

[2021-09-17 02:24] cshung commented on #45446
By implementing a ICorProfiler implementation and subscribe to the [`ICorProfilerCallback::ObjectAllocated`](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilercallback-objectallocated-method) event, I am able to confirm that many allocations did happen after printing `Searching for abnormal allocated memory...` and before the process ends.

First, note that the

[2021-09-17 02:26] lewing commented on #59228
@danmoseley pretty sure this is the host killing the aot compiler for some reason, probably OOM in this case.

@radical @steveisok we can try turning down the parallelism on the json tests as a first step.

[2021-09-17 02:48] danmoseley commented on #59228
Oops, mixed this up with the unrelated Android issue triggered by the digit in the name Roslyn3.11.Tests

[2021-09-17 02:50] danmoseley commented on #59209
Do we have a breaking change note that covers this, or could mention it?

[2021-09-17 02:52] mingtong opened #59427 "Environment.OSVersion returns "Windows NT 10.0.22458.0" on my Windows 11 22458.1000"
I am using .NET Framework 4.0.
Will the API return correct OS Version after Windows 11 released?
Sorry, I mean, what OS Version will be returned after Windows 11 released?

[2021-09-17 02:55] lambdageek commented on #58204
@vargaz Does #59182 seem risky overall?

@SamMonoRT @akoeplinger @layomia Are the testcases here something contrived or possibly something that real users could run into?  (@layomia it's the ones from https://github.com/dotnet/runtime/pull/58276)

[2021-09-17 02:55] stephentoub commented on #59209
That passing a null byte[] to Stream.Read might throw?  I mean, we could add one if you really want to, but it's expected.  It's a bug plain and simple that it wasn't previously failing for this error condition.

[2021-09-17 03:15] lewing commented on #59184
I'm not sure there is actually any way to fix this in the browser without inserting extra newlines

[2021-09-17 03:19] RussKie opened #59239 "System.TypeLoadException : Type 'System.Configuration.ClientSettingsSection' does not inherit from 'System.Configuration.IConfigurationSectionHandler'"
### Description

Lately (RC1 timeframe?) dotnet/winforms tests for functionality that depends on `System.Configuration.ApplicationSettingsBase` started randomly failing with the following callstack (e.g. [#1](https://dev.azure.com/dnceng/public/_build/results?buildId=1367547&view=logs&j=fdea2036-e6b2-512d-a259-98f88c972586&s=ff05ad62-bb9a-53b6-ce9f-72f329a63e7c), [#2](https://dev.azure.com/dnceng/

[2021-09-17 03:27] #59197 closed

[2021-09-17 03:29] vargaz commented on #58204
It's somewhat risky, if this is needed for 6.0, we can create a version where the new code is ifdef ios|android, and the old code is used on wasm.

[2021-09-17 03:46] dotnet-eng-status[bot] opened #59241 "Build failed: Validate-DotNet/main real signed, runtime, .NET 6 RC 2, validation-runtime-.NET 6 RC 2 #runtime-109158-.NET6RC2"
Build [#runtime-109158-.NET6RC2](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1367234) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Fri, 17 Sep 2021 03:45:54 GMT
**Duration** - 280 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](h

[2021-09-17 03:49] Xyncgas opened #59245 "INT64 size array support in c#"
We are building a CMS, and sometimes we run into using a INT64 indexer for an array, we are designning for 64-bit system, giving it's at minimum a pc has nowadays and we don't think 32-bit address space / ~4billion objects inside the array is enough for us. Performance wise, we are doing great the way we are using it, so I am only concerned about having a 64-bit sized array type in c#.
Currently w

[2021-09-17 04:08] DrkWzrd opened #59242 "[API Proposal]: Create `fullnameof(element)` expression"
### Background and motivation

We have an excellent timesaving and error avoidance expression called `nameof(ElementToGetName)` so useful in so many cases.

In some other cases (usually logging-related events, debugging, even some errors validations) developers need the full name of a class with it namespace or the full name of a property with the class name.

The first thing require a hard-coded

[2021-09-17 04:55] briangru commented on #59224
It was originally compiled for .NET 4.5 or 4.6 in 2016, then upgraded to .NET 5.
    <TargetFramework>net5.0</TargetFramework>

[2021-09-17 05:14] agocke commented on #59224
I see, in that case it may be an artifact of the porting that causes the problem. The best long-term strategy will be to take a look at your project file and make sure that everything's compatible with .NET 5 and that any extraneous NuGet references are removed. The `deps.json` file isn't supposed to be edited by hand, so if something is going wrong it's likely because the inputs to the SDK are so

[2021-09-17 05:17] #58981 closed

[2021-09-17 05:24] ericstj commented on #59239
My best guess at what's happening is a type unification issue.  That could be caused by your environment and how types bind and have nothing to do with System.Configuration itself.  When you hit this exception you should check if two different copies of `System.Configuration.ConfigurationManager` are loaded in the process.  Then you can find out why that is the case.

Normally what happens for the

[2021-09-17 05:26] RussKie commented on #59239
Thank you.

What do you think about serializing types as "4.0.0.0"?

[2021-09-17 05:27] agocke commented on #59239
If this is the WinForms designer, isn't the workflow here that you're reflecting against .NET Framework types and then trying to serialize and load these types in .NET Core?

[2021-09-17 05:30] RussKie commented on #59239
Unfortunately this is not _just_ Windows Forms designer issue. These include Settings and Resources management scenarios, which are part of Project System, and runtime scenarios (like the test failures).

[2021-09-17 05:36] agocke commented on #59239
But do I understand the workflow here? Is the system reflecting against Framework and then trying to run in Core?

[2021-09-17 05:41] RussKie commented on #59239
There are multiple issues here, which I _think_ are all linked to the same underlying issue.

In the case of failing tests - I don't know what the exact issue is, nor when exactly or why it started. We've been observing test instability for some time, and generally re-run intermittently failed legs. I think I've been observing these specific test failures for few weeks.

In the case of other relat

[2021-09-17 05:45] mayur-ekbote commented on #58469
Devs might be using [JsonIgnore] like the left-hand operand of && that always evaluates to a fixed value. Possibly to postpone making more structural changes when .net moved from newtonsoft to system.text in 3.1 (clearly the case with Syncfusion).

This will introduce runtime-breaking changes that might go unnoticed for a while. Unlike some other breaking changes that impact a startup-config or EF

[2021-09-17 05:46] agocke commented on #59239
This is the part that doesn't make sense to me. The common denominator between .NET Framework and .NET Core is .NET Standard 2.0.

Broadly, my guess is that your test is somehow mixing .NET Framework and .NET Core DLLs somehow. You could probably confirm this with a crash dump that you can use to list the modules.

[2021-09-17 05:47] ericstj commented on #59239
It might workaround it, though depending on what is causing the two different loads in your test cases it could still be a problem.  If you need this stuff to work with NETFx then definitely you need to write the .NETFramework identity, that's the whole TypeForwardedFrom problem, which we've pointed out to the resource editor before. https://github.com/dotnet/project-system/issues/4806

For your o