[2020-08-07 15:45] safern commented on #40527
The weird thing is that icudt.dat is in the output directory so I wonder why it is not being loaded.

[2020-08-07 15:46] dlemstra commented on #40484
C library of https://github.com/dlemstra/Magick.Native that is an API to the @ImageMagick project: https://github.com/ImageMagick/ImageMagick that can be used on Windows/Linux/MacOS with the C# library (https://github.com/dlemstra/Magick.NET/tree/master/src/Magick.NET/Native)

Completed but gone through various iterations. Started with a dynamically linked C++/CLI library and now using a static C

[2020-08-07 15:48] markm77 commented on #36172
Unfortunately above code doesn't solve issue either....

[2020-08-07 15:48] Clockwork-Muse commented on #40406
@hez2010 - A better workaround would be `OrderBy(<whatever>).First()`, especially since we optimized that internally to avoid the otherwise necessary `O(n log n)` time and `O(n)` additional space.

[2020-08-07 15:55] tarekgh commented on #40527
are we sure the ICU data is not loaded? or could it be loaded and missing some stuff that returned this error code?

[2020-08-07 15:57] davidfowl commented on #36172
No, not like like, like this:

[code]

[2020-08-07 16:01] danmosemsft commented on #38138
@DrewScoggins @billwert this hung again. I'm not seeing activity here. Is it possible to please disable this leg today, or I can ask someone to do it.

[2020-08-07 16:03] Clockwork-Muse commented on #40427
... permanently set the UI culture as English, and then explicitly set the culture when doing all formatting/`ToString()`-ing?  Although I'm not sure how that would affect some right-to-left text UI elements.  Otherwise, are you saying that you're displaying raw exceptions to users?

[2020-08-07 16:04] markm77 commented on #36172
Thanks @davidfowl . Sadly below which I think you meant still produces the problem....

[code]

[2020-08-07 16:04] akoeplinger commented on #40111
@am11 hmm I think that option wasn't discussed in the API review, calling an iOS 13.1+ API would look like this: `if (OperatingSystem.IsIOS && OperatingSystem.IsVersionAtLeast(13, 1))` rather than `if (OperatingSystem.IsIOSVersionAtLeast(13, 1)))`

I don't see an immediate issue with that but I haven't thought too deeply about what the implications for the linker and platform analyzer are.

[2020-08-07 16:05] geoffkizer commented on #40249
Are you sure it's actually accepting more than 100 concurrent streams?

[2020-08-07 16:05] #40277 closed

[2020-08-07 16:07] davidfowl commented on #36172
Is it being called?

[2020-08-07 16:08] AndyAyersMS commented on #31613
@briansull if you haven't started looking at this, I'll take a look.

[2020-08-07 16:13] eiriktsarpalis commented on #40518
The arbitrariness of the T type means that there is risk of InvalidCastException, but that should be independent of whether or not the source yields null values.

Given that `Cast<T>()` is typically used with old APIs returning `IEnumerable`, where it is common for null values to be present, I can see why the proposed signature might set up users for success. But on the other hand it will be frust

[2020-08-07 16:13] markm77 commented on #36172
Yeah, I put "3" on the log to make sure the code is called.

PowerShell log....

[code]

[2020-08-07 16:15] danmosemsft commented on #32527
@iSazonov yes but I'm unsure of the codepath that could lead to that particular line overflowing. Anyway, let us know if you do see other similar issues.

[2020-08-07 16:15] danmosemsft commented on #31437
Thanks @chrgraefe

[2020-08-07 16:16] danmosemsft commented on #40372
Thanks @kevinrjt

[2020-08-07 16:16] #40372 closed

[2020-08-07 16:18] mdh1418 opened #40536 "Tests failing with DirectoryNotFoundException on Browser Wasm"
[code]
------
**Update**: Looking for support from Emscripten side https://github.com/emscripten-core/emscripten/issues/11897

[2020-08-07 16:18] #40194 closed

[2020-08-07 16:19] alnikola commented on #40249
I'm not sure about this. Having debugged more, it looks like HTTP.SYS waits for ACK from client before starting accepting streams, so it might be we can never go over the limit.

[2020-08-07 16:23] markm77 commented on #36172
Here's my test script. I tend to re-publish and import this into PowerShell so I can re-build in C# without having to make sure the DLL is unloaded from PowerShell.

[code]

[2020-08-07 16:34] lewing commented on #40527
@tarekgh yeah that error may be the loading failing.  cc @EgorBo

[2020-08-07 16:35] AaronRobinsonMSFT commented on #353
@cnx-jd Thanks for asking about this again. Given the recurrent requests and the trivial change, we have decided to consider this for .NET Core 3.x servicing. The discussion for servicing and decision can be followed at https://github.com/dotnet/coreclr/pull/28074.

[2020-08-07 16:38] AaronRobinsonMSFT commented on #40131
@imaramos I am going to close this issue since this appears to be an issue with vc_redist. For continuing that conversation, I would recommend filing an issue through [Developer Community Portal](https://developercommunity.visualstudio.com/spaces/8/index.html) for the vc_redist questions/issues.

[2020-08-07 16:38] #40131 closed

[2020-08-07 16:44] #39620 closed

[2020-08-07 16:52] safern commented on #40527
I used a local build and it seems like https://github.com/dotnet/runtime/blob/2b93f831736a44998b9b58a249dfd57d08ef319f/src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_static.c#L34-L49

is not being called at all at startup, so that seems to be part of the problem as @tarekgh suggests the ICU data is not being loaded.

[2020-08-07 16:53] tarekgh commented on #40475
@geoffkizer Closing as duplicate of #24693. Please let's know if you think otherwise.

[2020-08-07 16:57] layomia opened #40537 "Add test coverage for ReflectTypeDescriptionProvider editor look-up code paths"
There's no test coverage for the `ReflectTypeDescriptionProvider.GetIntrinsicTypeEditor` method which does core work when [`TypeDescriptor.GetEditor`](https://docs.microsoft.com/dotnet/api/system.componentmodel.typedescriptor.geteditor?view=netcore-3.1) and related methods are called:

https://github.com/dotnet/runtime/blob/2b93f831736a44998b9b58a249dfd57d08ef319f/src/libraries/System.ComponentMod

[2020-08-07 17:12] tommcdon commented on #17961
It seems like this issue was addressed and has no activity for over a year, so closing

[2020-08-07 17:12] #17961 closed

[2020-08-07 17:13] tommcdon commented on #38406
@layomia was this issue fixed in 5.0?

[2020-08-07 17:13] geoffkizer commented on #39566
There's a whole lot of stuff here. Probably would be worthwhile to break it up into more specific issues with specific motivation/scenarios for each, e.g. specific options we should add, improved multicast, etc.

[2020-08-07 17:13] echesakovMSFT opened #40538 "[GCStress] Loader/CollectibleAssemblies/ByRefLocals Assert failure: SanityCheck()"
Fails on linux-arm and linux-arm64 and linux-x64 and windows-x64

Either `JitStress=2` or `JITMinOpts=1`

[code]

https://helix.dot.net/api/2019-06-17/jobs/fa356ac4-c8ee-4bcd-9e32-77c20b4c6115/workitems/PayloadGroup0/console

[code]

https://helix.dot.net/api/2019-06-17/jobs/1b588cd6-bca4-4443-bc73-486d462a513e/workitems/PayloadGroup0/console

**linux-arm64**
https://helix.dot.net/api/2019-06-17/j

[2020-08-07 17:15] pranavkm commented on #40527
@safern there were changes in the preview8 Blazor SDK required to load the icu data that haven't flown to master (RC1) SDK as yet. Can you try using a p8 SDK instead?

[2020-08-07 17:17] SteveKCheng commented on #40297
Yup, I just did so - thanks for the suggestion. I confirm it works now. Just to be clear, I confirmed it working in .NET 5 preview 7 on all 3 platforms: win-x86, win-x64 and linux-x64.

[2020-08-07 17:18] briansull commented on #31613
Sure, go ahead and take a look

[2020-08-07 17:27] terrajobst commented on #40202
* Let's make it clear in the name what this method does.
* Let's have overloads that deal with UTF8
* Let's hold back UTF32 until we need it.

[code]

[2020-08-07 17:27] safern commented on #40527
I used a P8 SDK... the latest build from yesterday to be precise. It worked on macOS so I expect it to work on Windows as well with that SDK and it didn't.

[2020-08-07 17:28] Ne4to opened #40541 "Outgoing HTTP request never completes"
### Description

We have several independent applications faced with the similar issue. The application periodically makes HTTP request to other service and process data. According to logs and metrics the application sometimes stops this activity at some point of time (low CPU and network consumption, no '_finish_'-ish message in logs). It could be hours or days. Using CancellationToken does not h

[2020-08-07 17:31] echesakovMSFT opened #40542 "[GCStress][HeapVerify] JIT/HardwareIntrinsics/Arm/StoreSelectedScalar"
**linux-arm64**
[code]

https://helix.dot.net/api/2019-06-17/jobs/f563defe-e209-4b8d-8582-f66a5b15f09e/workitems/JIT.HardwareIntrinsics/console

**windows-arm64**
[code]
https://helix.dot.net/api/2019-06-17/jobs/dbbbc822-7246-492b-831d-4114a2a158ad/workitems/JIT.HardwareIntrinsics/console
https://helix.dot.net/api/2019-06-17/jobs/399ac619-ae16-47a8-8250-5f323a14bcbc/workitems/JIT.HardwareIntrinsic

[2020-08-07 17:32] geoffkizer commented on #1383
The reason that System.Net.Sockets has a dependency on System.Security.Principal.Windows is because the old APM-style async methods are implemented using ContextAwareResult, which supports flowing identity and thus requires System.Security.Principal.Windows.

The System.Net.Sockets code isn't actually using ContextAwareResult to flow identity, as far as I can see. So it's never used in practice.

[2020-08-07 17:34] geoffkizer commented on #39941
Implemented in #40344

[2020-08-07 17:34] #39941 closed

[2020-08-07 17:34] geoffkizer commented on #40451
Implemented in #40344

[2020-08-07 17:34] #40451 closed

[2020-08-07 17:35] fbrosseau commented on #40202
thanks, updated first post

[2020-08-07 17:37] mdh1418 opened #40543 "CopyFileWithData test fails on Browser"
Currently on Browser wasm, writing the destination file is not possible because it is read-only
[code]

[2020-08-07 17:40] echesakovMSFT commented on #38518
I believe I just saw these assertions fired on windows-x64
[code]
https://helix.dot.net/api/2019-06-17/jobs/45ed0b13-8b9d-4d12-b4ec-1207a37ff8a4/workitems/Interop/console
[code]
https://helix.dot.net/api/2019-06-17/jobs/b0d072cd-5260-4e63-b7ce-73063b1c1bba/workitems/JIT.IL_Conformance/console

cc @Maoni0 @PeterSolMS

[2020-08-07 17:41] scalablecory commented on #40541
.NET Core 2.2 reached end of life last December. This may have been resolved in subsequent verssions -- can you please see if your problem still occurs in .NET Core 3.1 or with the recent .NET 5 previews?

[2020-08-07 17:47] terrajobst commented on #26741
* Makes sense
* Let's also add `NextSingle()`

[code]

[2020-08-07 17:49] Ne4to commented on #40541
Unfortunately right now we are referencing additional packages and they are not compatible with newer version of .Net Core. I was looking for similar issues, but it looks like all of them was in pre-2.2 era. I'd like to know is it some known issue in the runtime or we should search issue in the application code.

[2020-08-07 17:49] echesakovMSFT commented on #38518
Some of the windows-x64 failures manifests themselves as AV
[code]

[2020-08-07 17:51] scalablecory commented on #40541
It's not a known issue, but the code there has been updated quite a bit since 2.2 so if it is a bug it may be fixed.

[2020-08-07 17:53] geoffkizer commented on #40541
The HttpClient code is expecting more data on the chunked-encoded response stream. It could be a bug, but it seems more likely that the server is sending an invalid response, e.g. not properly terminating the chunked encoding.

I'd suggest looking at what your server is actually sending and see if it looks correct or not.

[2020-08-07 17:59] andriysavin opened #40545 "Can't use IServiceProvider to instantiate new services in Dispose(Async) during scope disposing"
First, some intro. While `IDisposable` and `IAsyncDisposable` interfaces' main goal is to "cleanup resources", they are widely used to also reset some state, finalize some work or as a notification mechanism of some scope ending. With addition of `IAsyncDisposable` the purpose of disposing has become much wider, as it allows much more complex interactions.

In context of dependency injection `I(As

[2020-08-07 18:07] GrabYourPitchforks commented on #35054
@carlossanlop Do you suppose any of our existing internal call sites would be able to use the new proposed overloads? I \[very briefly\] looked through source.dot.net and didn't immediately see any good candidates.

[2020-08-07 18:07] terrajobst commented on #35054
* It seems odd to combine a low-level concept like span/memory with very high-level APIs like "write all this data to file".
* The goal is to make it very convenient to write some data to a file, not performance.
* My concern is that these additions would "pollute" a core API that is frequently used by beginners. The API is designed to grow to expose users to more concepts, such as `StreamReader`

[2020-08-07 18:07] #35054 closed

[2020-08-07 18:08] #877 closed

[2020-08-07 18:09] AndyAyersMS commented on #37082
@BruceForstall I might poach this one from you...

[2020-08-07 18:14] terrajobst commented on #35180
* The names and API shape makes sense.
* The only concern that we have is whether supporting those schemes has any implications on other parts of URI, such as in `UriParser` and populating defaults, such as ports. Is there any extra work we'd be signing up to support those? If so, we may want to be more selective what we support. @dotnet/ncl, could you double check?

[code]

[2020-08-07 18:17] layomia commented on #40072
Triage: moving this issue to 6.0

- for 5.0 we should document best practices for using `JsonSerializerOptions` and potential effects of not doing so: https://github.com/dotnet/docs/issues/19878.
- In 6.0/future we should consider adding a code analyzer for this and see how far allowing users to change the default options (https://github.com/dotnet/runtime/issues/31094) and the code gen effort (ht

[2020-08-07 18:19] terrajobst commented on #35827
* The namespace is an odd choice
* It seems folks in this thread have concerns with the shape.
* @KathleenDollard @cston if this is something we want to pursue for .NET 6/MAUI we should sit down and design this a bit further.

[2020-08-07 18:23] danmosemsft commented on #36005
@maryamariyan since this is documented, should we close this?

[2020-08-07 18:25] danmosemsft commented on #37534
All that remains here for 5.0 of list above is the issue fixed by https://github.com/dotnet/runtime/pull/39474. That may or may not make 5.0.

[2020-08-07 18:28] jkoritzinsky commented on #1765
@zealeyes I'm going to close this for now since we don't have enough information.

Most likely the case is that the characters you're using are not single byte-length characters. As a result, you effectively have less space because your characters take up multiple bytes. If you can, expand your fixed string length to fit more characters and then you should be able to support your scenario.

[2020-08-07 18:28] #1765 closed

[2020-08-07 18:31] SeeminglyScience opened #40546 "Add InstructionEncoder.Switch to enable emitting switch instructions with LabelHandles"
## Background and Motivation

It doesn't look like there's a way to use `InstructionEncoder.DefineLabel`'s `LabelHandle`s with a `switch` instruction.  I'm mainly asking if there is a way to do it that I'm missing, but if not here's a basic API proposal to enable it.

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

Originally this proposal was based on emitting the labe

[2020-08-07 18:31] terrajobst commented on #36232
* This logically creates `UIntPtr` overloads, but prefer `nuint` for APIs like these.
* We won't be adding `uint`
* Looks good as proposed
* @tannergooding would like to support other cases, such as refs to things that contain pointers and `ref struct`.

[code]

[2020-08-07 18:32] iSazonov commented on #40414
Dup https://github.com/dotnet/runtime/issues/23538 and https://github.com/dotnet/runtime/issues/2048

[2020-08-07 18:34] jkoritzinsky commented on #35928
Since this depends on a fix for https://github.com/dotnet/runtime/issues/12375 and #39294 isn't going to make .NET 5, I'm going to move this to .NET 6.

[2020-08-07 18:36] stephentoub commented on #40202
The existing methods on MemoryMarshal that create spans are called `CreateSpan`.  Shouldn't these also include `Span` in the name?

[2020-08-07 18:38] stephentoub commented on #40202
With no length provided as an argument, what else would it do?

[2020-08-07 18:38] tommcdon commented on #39115
@DrewScoggins we are running out of time in 5.0 to address issues.  Any objection if we move this to .NET 6?

[2020-08-07 18:40] BruceForstall commented on #37082
@AndyAyersMS Yes, feel free. Note that https://github.com/dotnet/runtime/pull/40126 showed this still repros.

[2020-08-07 18:42] jonpryor commented on #40484
I'm one of the principal authors and maintainers of Java.Interop, core of Xamarin.Android:

  * https://github.com/xamarin/java.interop

Java via JNI:

  * https://docs.oracle.com/javase/8/docs/technotes/guides/jni/spec/functions.html

"Completed," to the extent that anything is ever *actually* completed…

10?

As full as possible. ;-)

C# code should be able call Java code, Java code should be ab

[2020-08-07 18:43] mfkl commented on #40484
C/C++/C++/Java. Bit of Rust before.

https://github.com/videolan/vlc/tree/master/include/vlc

Completed.

Not sure, some part were trickier than others, I guess.

Yes, mostly for buffer-based APIs (audio/video data, streams, etc.).

Yes.

Some use of GCHandle, some callback thread scheduling.

Haven't used the new C# 9 function pointers yet, but many delegate for reverse native callbacks.

Sure.

[2020-08-07 18:52] torqdev opened #40639 "System.DivideByZero exception in System.Threading.FastRandom.Next(Int32 maxValue)"
# Issue Title

A DivideByZeroException was thrown by the FastRandom.Next method in the System.Threading dll on dotnet Core 3.1

# General

This is kind of a one-off, I don't know what the value passed in as maxValue since the symbols weren't loaded when the exception was thrown but after loading the exception was thrown with this information:

[code]

At the following code:

[code]

[2020-08-07 18:54] sankalan opened #40547 "Collectible Assembly Load Context is getting collected even if there is a reference to one of the assemblies of that context"
### Description

As per this documentation - https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability#troubleshoot-unloadability-issues, it seems like if we keep a reference to an assembly, loaded in a collectible assembly load context, the load context should not get collected. Let me know if I misunderstood this.

But it seems like to keep a collectible load context alive, dependi

[2020-08-07 18:56] #39956 closed

[2020-08-07 18:58] #40462 closed

[2020-08-07 19:09] davidwrighton commented on #13333
I don't see any evidence of this failing recently. I'm closing this.

[2020-08-07 19:09] #13333 closed

[2020-08-07 19:12] danmosemsft commented on #26741
@tannergooding @GrabYourPitchforks did we resolve the question of whether the 64 bit values could use a "better" PRNG? There is no back compat burden on these new API's, and they could use the same seed value as determined today (which is not perfect as after using hardware entropy, if unspecified it will use regular r.NextInt -- but that could be changed without a break, as well). The only drawba

[2020-08-07 19:16] davidwrighton commented on #38291
These tests all explicitly run the crossgen compiler, and are incompatible with our current technique for crossgen2 testing. We'll need to revisit them in .NET 6, when we remove crossgen, but for now we can just punt the bug to 6.0.

[2020-08-07 19:17] danmosemsft commented on #40414
I think that's a reasonable dupe, thanks, since it does mention configurable names. Meantime I recommend just suffixing the extension manually

[2020-08-07 19:17] danmosemsft commented on #40414
Duplicate of #2048

[2020-08-07 19:17] #40414 closed

[2020-08-07 19:18] davidwrighton commented on #32730
These tests are now disabled for crossgen2, but we may wish to look into them in the future. Moving to 6.0

[2020-08-07 19:23] layomia commented on #38406
@tommcdon I opened https://github.com/dotnet/runtime/pull/40549 to fix this isse.

[2020-08-07 19:35] #40396 closed

[2020-08-07 19:36] eerhardt commented on #40383
Fixed with #40431.

[2020-08-07 19:36] #40383 closed

[2020-08-07 19:38] vcsjones commented on #38875
@bartonjs i can grab this one and work on some tests over the weekend.

[2020-08-07 19:46] agocke commented on #40547
cc @janvorli

[2020-08-07 19:52] AndyAyersMS commented on #37082
Yep, readily repros at 664d9f8661bee9a504e600f2ceae1b09181c8038. This seems to be a gc or runtime issue (or perhaps some kind of heap corruption). Assert fires here:
[code]
which I think is checking if underlying heap object storage was properly initially zeroed.

Re-labelling as a VM issue for now.

I'll try check for heap corruption, but having issues getting the right SOS currently... (dotnet/d

[2020-08-07 19:57] danmosemsft opened #40550 "Hang/timeout in tests for Browser wasm Release AllSubsets_Mono"
[code]
https://helix.dot.net/api/2019-06-17/jobs/e7fed000-94bb-45ab-950e-2403ad3753b5/workitems/System.Runtime.Tests/console
https://dev.azure.com/dnceng/public/_build/results?buildId=761619&view=logs&jobId=108d2c4a-8a62-5a58-8dad-8e1042acc93c&j=108d2c4a-8a62-5a58-8dad-8e1042acc93c&t=09a92b4c-3493-52a9-1172-0680b62c9e30

last lines of console
[code]
I guess whatever the next test was (not logged)

[2020-08-07 19:58] danmosemsft commented on #40550
cc @lewing

[2020-08-07 20:01] safern commented on #40550
I've noticed System.Runtime tests are huge and they take an average of 9-12 mins. The timeout in helix is 12 minutes. Maybe we should bump the timeout for wasm workitems?

[2020-08-07 20:02] safern commented on #40550
Actually looking at the timestamps it looks like a legit hang. It just ran for 3 mins.

[code]

[2020-08-07 20:04] AndyAyersMS commented on #37082
Got the right SOS, and there is heap corruption.
[code]
Let me see if I can track this down.

[2020-08-07 20:05] Chiramisu commented on #40427
I don't believe I got an answer to my question though; or did I miss it? Does anything in the .NET multiverse natively support logging Exceptions (for Developer use) in English?

[2020-08-07 20:10] mangod9 commented on #40538
@echesakovMSFT could you please add the CI job link, so we could pull the dumps for it?

[2020-08-07 20:11] jeffschwMSFT commented on #40453
@agocke

[2020-08-07 20:15] lewing commented on #40550
cc @vargaz

[2020-08-07 20:17] kg commented on #40527
I'm not sure how I can fix this unless it's a bug in the runtime.

[2020-08-07 20:20] echesakovMSFT commented on #40538
All the tests failures were observed in manually triggered https://dev.azure.com/dnceng/public/_build/results?buildId=760782&view=results

[2020-08-07 20:29] danmosemsft commented on #40550
The main log has
[code]
Hence my assumption is that between the 17:18 and 17:30 timestamp there was a test jammed. (?)

[2020-08-07 20:32] echesakovMSFT commented on #40538
@mangod9 Please also note that since this was a private run (manually triggered against a PR) the changes in the PR were not automatically rebased against master branch. As a consequence, they were based on top of 222415c56c9ea73530444768c0e68413eb374f5d.

[2020-08-07 20:41] DrewScoggins commented on #39115
I would not call this ship-blocking, so moving it seems fine to me.

[2020-08-07 20:44] ehasis commented on #35937
Ok, I'll implement on that way.

[2020-08-07 20:48] danmosemsft commented on #34033
@vitek-karas can we close this issue now then? trying to burn down 5.0 milestone

[2020-08-07 20:49] danmosemsft commented on #34173
@terrajobst can you confirm there's no remaining 5.0 work on platform (ie., dotnet/runtime) here? That seems to be the case. I'd like to know we're done at that layer.

[2020-08-07 20:50] maryamariyan commented on #35922
How is JsonConsoleFormatter the only one that is ignoring InnerException?

[2020-08-07 20:52] danmosemsft commented on #36132
We have 2 hits remaining, both like
[code]
Is there a 5.0 work item against Roslyn for these? If not, please let's move to Future now.

[2020-08-07 20:53] danmosemsft commented on #35401
@marek-safar is there 5.0 work here? Seems we we can move to 6.0.

[2020-08-07 20:55] danmosemsft commented on #13688
This has fulfilled its purpose.

[2020-08-07 20:55] #13688 closed

[2020-08-07 20:55] mklement0 commented on #24271
@omariom, re how PowerShell handles links:

It uses its ETS (Extended Type System) to decorate `FileInfo` / `DirectoryInfo` instances with additional properties that call public engine methods:

[code]

* `.LinkType` is one of the following strings: `SymbolicLink`, `HardLink` and, on Windows only, `Junction` and `AppExeCLink`

* `Target` is the symlink / junction's target path string, _as defined

[2020-08-07 20:55] danmosemsft commented on #14336
Not essential to ship 5.0

[2020-08-07 20:56] danmosemsft commented on #2138
@jkotas I assume no more work is planned here for 5.0. Moving to Future

[2020-08-07 20:57] danmosemsft commented on #2021
@richlander are you tracking this issue? Do you see work here that is must have to ship a successful 5.0?

[2020-08-07 20:58] danmosemsft commented on #1076
I think this is answered.

[2020-08-07 20:58] #1076 closed

[2020-08-07 20:58] danmosemsft commented on #38286
Issue has fulfilled its purpose.

[2020-08-07 20:58] #38286 closed

[2020-08-07 20:59] echesakovMSFT commented on #40538
This is the first time I have seen it.

[2020-08-07 21:00] danmosemsft commented on #39375
@KlausLoeffelmann @DustinCampbell is the impact only visual (description/titles in property grid)? If so I think this is not a must have for 5.0 so I will move to Future (although we'd accept a PR if offered))..?

[2020-08-07 21:02] danmosemsft commented on #33061
@DustinCampbell does this block any designer scenario, or is it just missing text in the property window? If the latter, we will likely move out at this point.

[2020-08-07 21:03] danmosemsft commented on #1237
@buyaa-n I'm moving to Future as it seems this would not be breaking to fix later. Please reactivate if I'm incorrect.

[2020-08-07 21:05] danmosemsft commented on #40438
I'm going to close this per above.

[2020-08-07 21:05] #40438 closed

[2020-08-07 21:06] danmosemsft commented on #39488
@EatonZ would you be interested in offering a PR that indicated 4.7.0 was the minimum (ie., something more specific than SR.LoadLibraryFailed in the code above) ? If not, I"ll close this out now. Thanks

[2020-08-07 21:08] ehasis commented on #1237
Yeah, I was working on it, but stopped to do something else. There is alot of code, I'll split and do in parts after finish other issue.

[2020-08-07 21:08] danmosemsft commented on #37046
Duplicate of https://github.com/dotnet/runtime/issues/39009

[2020-08-07 21:08] #37046 closed

[2020-08-07 21:09] safern commented on #33061
@danmosemsft this shouldn't be a big change that I can get soon-ish, however I'm focusing on the designer attributes that we're missing.

[2020-08-07 21:09] danmosemsft commented on #37911
Logs are gone. Without further evidence, we can assume this is https://github.com/dotnet/runtime/issues/39009

[2020-08-07 21:10] danmosemsft commented on #37911
Duplicate of https://github.com/dotnet/runtime/issues/39009

[2020-08-07 21:10] #37911 closed

[2020-08-07 21:10] eerhardt opened #40551 "Microsoft.Extensions.Configuration.Binder is not linker-safe"
### Description

The `ConfigurationBinder` class will recursively create objects and set properties based on an `IConfiguration` object. This poses a problem to make it linker-safe because the current reflection flow analysis doesn't support recursive properties. See https://github.com/mono/linker/issues/1087. We will need this support to make this API linker-safe.

The linker could decide to trim

[2020-08-07 21:12] danmosemsft commented on #38609
@GrowSharp thanks for the investigation. Did you manage to get further -- did it work if you added escaping? That might help establish whether there is anything we can safely do for 5.0 here (which is almost done)

[2020-08-07 21:13] danmosemsft commented on #38610
`dotnet trace collect` might be more helpful - if you can get one for a good case, and for a bad case. https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-trace#dotnet-trace-collect

[2020-08-07 21:14] danmosemsft commented on #38609
Perhaps the same fix for https://github.com/dotnet/runtime/issues/38611?

[2020-08-07 21:18] smx-smx commented on #40270
Hello
I'm in the same situation. I made some modifications starting from the tizen case here: https://github.com/smx-smx/runtime/tree/armel-fixes-rebase

I changed the floating point abi to "soft" (instead of "softfp"), so that no hardware floating point registers are used
The issue is that the arm argument handling code in coreclr expects `d0-d7` to be always available

There are 3 kind of uses o

[2020-08-07 21:24] danmosemsft commented on #33061
OK cool. I see there's several similar related issues. Great!

[2020-08-07 21:31] tarekgh commented on #40427
There is nothing you can do without forcing the UI language on the app/running environment to English to guarantee getting English. Does the exception messages you are getting are the framework messages or app messages?

[2020-08-07 21:36] briansull commented on #13701
I have checked in the fix for this issue into the Desktop .Net runtime for 4.8 and 4.7

The fix is expected to ship in the latter part of September as part of that month’s non security release. (barring any unexpected issues)

[2020-08-07 21:38] buyaa-n commented on #1237
@danmosemsft it is for 5.0, as nullability bug, i will raise PR soon

@ehasis this issue apply only for the event mentioned in the description `event EventHandler CanExecuteChanged;`, no more change needed

[2020-08-07 21:38] briansull commented on #13701
1026837 | [4.8] Possible data corruption in .NET Framework when using  Span-based APIs
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1026837

[2020-08-07 21:43] smx-smx commented on #40270
I'm not sure how feasible this is tho...the JIT also assumes we have an FPU and emits FPU registers...

[2020-08-07 21:44] maryamariyan commented on #35060
Thanks for contributing @JakenVeina. If we wanted to get this in for 5.0 the deadline would be August 18 I believe. It would be good if we could get this merged in before that time.

[2020-08-07 21:45] danmosemsft commented on #35060
We branch on Aug 17th - I'm guessing midday, maybe later though.

[2020-08-07 21:54] Coderrob commented on #34015
[code]

This makes me a sad panda. Seeing this failure SDK install failure on PR https://github.com/dotnet/runtime/pull/40422.

[2020-08-07 21:55] #31713 closed

[2020-08-07 22:15] bartonjs commented on #38875
My testing thoughts were

* Add a delay property to RevocationResponder
* Build a 4-chain instead of a 3-chain
* Do something like a 2 second delay on a 3 second timeout
* See if the second intermediate resolution fails :smile:  (PartialChain)
  * Could also be done for an untrusted root, I guess, avoiding the need to generate the 4-chain.
* Similarly, with revocation enabled, and see if it fails

[2020-08-07 22:37] #37045 closed

[2020-08-07 22:53] tannergooding opened #40553 "Consider eliding a fixed statement if the thing being pinned is a local"
C# disallows taking the address of an already fixed expression. This means that logic such as the following will result in CS0213:
[code]

This normally means that you can't write code which unnecessarily pins data. However, the JIT will also inline methods and so it is possible to have something like the following:
[code]

In this code, `M1` is being aggressively inlined and that means it will be

[2020-08-07 22:54] tannergooding commented on #40553
Ideally, `T1` and `T2` would generate identical code: <https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgBgARYCMAdAEoCuAdjAJZhzEDCA9mAA40A2iAyogG40AxnCgBuALAAoLAGY8VKBABmcAgCY8jPAG9peAwXlEAbHhrU8AFUIAKAJS79hlxZh4AHngC8eAKySUi4uWADseACydghwyp72gS4Avs4GqXgA2hFwMAAWzAAmAJLsnLbZeYUlbJwA8my0zJRQxACCAObtMVBQNPxwRZScFhbt9gC66XIEhGZukdGx5pYejnpBwQbKNB5wBXi2bgBUeGwAGj54AGSr6S7rm5theEfniY8pGwafLlPGs8t3FZ1A4

[2020-08-07 23:02] danmosemsft commented on #38138
@DrewScoggins do you or anyone else plan to investigate this further, or open an issue against MSBuild with the info we have gathered? If not, I will close this and we can reopen if it becomes relevant again.

[2020-08-07 23:06] lewing commented on #40527
@kg it is just the issue where the .dat isn't being loaded and the load_runtime is being called directly problem again.

[2020-08-07 23:10] #32527 closed

[2020-08-07 23:15] AaronRobinsonMSFT commented on #40553
@AndyAyersMS and @BruceForstall I _think_ this is a codegen issue, but could also see it being something the interop team needs to do to help.

[2020-08-07 23:17] #40298 closed

[2020-08-07 23:24] CarolEidt commented on #13701
Thanks @briansull!

[2020-08-07 23:26] kunalspathak opened #40554 "Fails to NGen a method with AltJit"
AltJit dump of ngen code fails for `Log2SoftwareFallback` method. It is a generic problem I guess, but just having `Log2SoftwareFallback` as an example here. I am not sure if this is an expected behavior.

[code]

Output:

[code]

The callstack is:

[code]

category:correctness
theme:altjit
skill-level:beginner
cost:small

[2020-08-07 23:27] jeffschwMSFT opened #40555 "FORMATEC should define cfFormat as a ushort"
# Proposed API update

The COM type FORMATETC does not match the native implementation.  It should be defined as a ushort.

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Runtime.InteropServices/src/System/Runtime/InteropServices/ComTypes/FORMATETC.cs

https://docs.microsoft.com/en-us/windows/win32/api/objidl/ns-objidl-formatetc

Referred from:

[2020-08-07 23:29] billwert commented on #38138
At this point we're going to stop. We enabled this leg optimistically, not having had an actual problem but because it seemed like a good idea. Since it has proven so problematic (and for little real gain) it's not worth continuing to try and fix. Should we wind up with a huge influx of issues this would have caught we will revisit it.

[2020-08-07 23:29] #38138 closed

[2020-08-07 23:35] danmosemsft commented on #38138
Sounds good, thanks @billwert . Experiments are good!

[2020-08-07 23:47] carlossanlop commented on #40350
I believe this is a duplicate of https://github.com/dotnet/runtime/issues/37664

[2020-08-07 23:47] #40350 closed

[2020-08-07 23:48] jkoritzinsky commented on #35318
With the function pointer work merged in to C#/WinRT and we've gotten all of the big pieces done from the runtime perspective, I'm going to mark this as completed.

[2020-08-07 23:48] #35318 closed

[2020-08-07 23:52] danmosemsft opened #40557 "Updates to docs/workflow/using-*md"
This section is out of date. Is it even relevant anymore? (The first section is now up to date)
https://github.com/dotnet/runtime/blob/master/docs/workflow/using-dotnet-cli.md#update-using-runtime-nuget-package

This document is also out of date and needs update
https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/using-your-build.md

[2020-08-08 00:00] #34916 closed

[2020-08-08 00:04] danmosemsft commented on #26798
@cston do you expect to have time to investigate this for 5.0, if not we can move to Future.

In fact -- do we even need this issue? It may be as simple as: we fixed a bug in .NET Core, and various tests now rely on that fix. In which case we can just close this.

[2020-08-08 00:07] carlossanlop commented on #40412
@lesscodetxm Do you think you can provide a minimal repro?

The crash seems to be happening here: [dotnet/corefx/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs#L283](https://github.com/dotnet/corefx/blob/ad726016a345c82123141b63bb8fecfc3c887f86/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs#L283)

The code was slightly different in 2.x, but the

[2020-08-08 00:08] danmosemsft commented on #40127
@mafalarz thanks for the report. Does it repro on 5.0 preview 7 as well?

Do you have a little time to investigate, if you're interested?

[2020-08-08 00:13] danmosemsft commented on #40102
I'm not familiar with this code, but I assume the change you're asking for is here:
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/AD/ADStoreCtx_Query.cs#L192

What subclasses of UserPrincipal are there? I assume they are in your code? Could you give a free-stand

[2020-08-08 00:15] danmosemsft commented on #40143
Hello, thanks for the suggestions. We are not accepting new features into S.L.E - please see https://github.com/dotnet/runtime/blob/master/src/libraries/System.Linq.Expressions/README.md

[2020-08-08 00:23] vinaychandra opened #40559 "XML Configuration Provider - More Configuration options"
- The current XML Configuration Provider is hardcoded to consider `Name` as the [demultiplexing attribute](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Configuration.Xml/src/XmlStreamConfigurationProvider.cs#L17). Please make it a configurable parameter so that users can choose which attribute will act as such
- The current XML Configuration Provider doesn't all

[2020-08-08 00:26] danmosemsft commented on #40412
Suggest we leave this in 5.0 while we learn more, since it's an AV seen in production?

[2020-08-08 00:28] carlossanlop commented on #39902
@AArnott did you get a chance to check if the pipe was being disposed before calling cancel as Eric suggested?

[2020-08-08 00:31] AndyAyersMS commented on #40553
No, it is codegen. We should be able to tell if a pinned local resolves to the address of some other local.

[2020-08-08 00:36] #13701 closed

[2020-08-08 00:36] CarolEidt commented on #33975
@echesakovMSFT @TamarChristinaArm - unless I'm looking at the wrong thing, it seems that we are no longer generating the same code for these `BitArray` methods, so the issue doesn't occur. Do we know of other cases where we see this kind of use-before-restore?

[2020-08-08 00:38] jeffhandley commented on #40111
I think the primary benefit of the os-specific version methods is what @eerhardt called out:

Rewatching that review meeting, I noticed @GrabYourPitchforks mentioned that for `Windows`, we won't ever care about `revision`, but #40457 includes that segment for `IsWindowsVersionAtLeast.  @GrabYourPitchforks, should we remove `revision` from that method?

[2020-08-08 00:54] elachlan opened #40561 "Is/should there a code-style for avoiding null on left side of a binary expression?"
Is there are code-style for avoiding null on left side of a binary expression? If not an explicit requirement, maybe a guideline?
https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/coding-style.md
https://github.com/JosefPihrt/Roslynator/blob/master/docs/analyzers/RCS1098.md

[2020-08-08 00:56] echesakovMSFT commented on #33975
@CarolEidt We might not see it now because `Vector128.Create` was intrinsified at some point after the issue was opened.
I am wondering if it is still possible to repro the unnecessary moves from volatile to non-volatile registers by writing a method that has intrinsics usages interleaved with a call to a function (that won't be inlined).

[2020-08-08 01:02] NikolaMilosavljevic opened #40562 "GenerateMsiVersion task called with incorrect BuildNumberMinor parameter"
Value of BuildNumberMajor is used for both BuildNumberMajor and BuildNumberMinor parameters in a call to GenerateMsiVersion task:

https://github.com/dotnet/runtime/blob/a1af15d229c44f72d639c686a66a621196fd4172/src/installer/pkg/Directory.Build.targets#L137-L138

The fix should not regress (downgrade) MSI version numbers, which can affect upgrade scenarios.

[2020-08-08 01:13] AndyAyersMS commented on #31613
Suspect this is some residual overhead from tiered compilation. Disabling that gives
[code]

Differential profiles of 4.8 vs 5.0 show identical codegen in all the hot methods, eg:
[code]

cc @kouvel

Going to relabel this as VM.

[2020-08-08 01:22] tommcdon commented on #38238
@terrajobst is this on track for 5.0, or should we move it to .NET 6?

[2020-08-08 01:38] Chiramisu commented on #40427
Framework of course. My app doesn't rely on any other third party APIs etc, so all app messages are written by me and already in English. It's the Framework that is generating Exceptions in the native culture of the client machine.

[2020-08-08 01:42] GrabYourPitchforks opened #40564 "Flaky test CustomConnectionFactory_SyncRequest_Fails is causing CI failures"
Blocking:

* https://github.com/dotnet/runtime/pull/40552 ([see failure](https://github.com/dotnet/runtime/pull/40552/checks?check_run_id=960231497))
* https://github.com/dotnet/runtime/pull/40510 ([see failure](https://github.com/dotnet/runtime/pull/40510/checks?check_run_id=960475011))

[code]

[code]

[2020-08-08 01:53] JakenVeina commented on #35060
I've force-pushed an update to my fork. You should be able to re-open https://github.com/dotnet/runtime/pull/34741.

[2020-08-08 01:54] safern commented on #40416
Finally I was able to get a repro on my private branch that is publishing the artifacts in question, now to investigate: 🎉

https://dnceng.visualstudio.com/_apis/resources/Containers/4784658/libraries_bin_Linux_arm64_Release?itemPath=libraries_bin_Linux_arm64_Release%2Flibraries_bin_Linux_arm64_Release.tar.gz

[2020-08-08 01:56] maryamariyan commented on #35060
@JakenVeina I doubt reopening would work and it wouldn't get the updated changes. Could you please open a new PR instead?

[2020-08-08 02:00] lewing commented on #40550
it is likely https://github.com/dotnet/runtime/issues/40214

[2020-08-08 02:45] danmosemsft commented on #31429
From @stephentoub : We broke this in 5.0, we should fix it in 5.0, either reverting the change that broke it (https://github.com/dotnet/corefx/pull/37583) or finishing the PR that fixes it (https://github.com/dotnet/runtime/pull/33159).

[2020-08-08 02:54] ehasis commented on #35937
@cston I have fully implemented the TypeName to match the reference source in the branch https://github.com/ehasis/runtime/tree/vb-typename, but it's still not working as expected. Still returns _ComObject for net5.0. Also, when the test runs with net461, expected for Scripting.Dictonary is Dictionary, while the actual is IDictionary.

[2020-08-08 03:15] BruceForstall commented on #40554
Marking as 6.0 since it appears to only be an altjit dumping problem,

[2020-08-08 04:03] AaronRobinsonMSFT commented on #35937
@ehasis This is failing at https://github.com/ehasis/runtime/blob/d9ceef9814040a3f7a7037c418532859c2209314/src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/Information.vb#L196.

The `HRESULT` is `0x800706F4` ([`RPC_X_NULL_REF_POINTER`](https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--1700-3999-)). This is coming from the actual COM stub _not_ the runtime.

[2020-08-08 04:20] dagood commented on #40562
Looks like this has been the case since 2.0.0: https://github.com/dotnet/core-setup/blob/6887ab556bc8302390782711dcdd75b75e769cf5/src/pkg/packaging/windows/package.targets#L67-L68

[2020-08-08 04:23] VS-ux opened #40566 "RegexOptions.Multiline should be same as line by line"
Using RegexOptions.Multiline should be the same as reading a file line by line I think.

 When reading an entire file, and the Regexing it with RegexOptions.Multiline should be same as reading it line by line
 Here is a code sample:

`
string path = @"PathToFile";
using (StreamReader reader = new StreamReader(path))
{
    //string s = reader.ReadToEnd();
    //int matchCount = Regex.Matches(s, @"^

[2020-08-08 04:24] #38799 closed

[2020-08-08 04:40] franksinankaya commented on #40270
according to this page, you need softfp in order to do register emulation.

https://embeddedartistry.com/blog/2017/10/11/demystifying-arm-floating-point-compiler-options/
float-abi
The -mfloat-abi=<name> option is used to select which ARM ABI is used. This option also controls whether floating-point instructions may be used.

Here are your float-abi options:

soft: full software floating-point sup

[2020-08-08 05:17] AaronRobinsonMSFT commented on #35937
@ehasis Good news first - the code in your branch works as expected. Bad news, the [IL Linker](https://github.com/dotnet/core/blob/master/samples/linker-instructions.md) is being a pain and breaking the COM definitions for `IDispatch` and `ITypeInfo`. The Linker is removing "unused" methods and therefore breaks the vtable layouts for these types which results in all sorts of random A/Vs.

In order

[2020-08-08 05:36] danmosemsft commented on #35937
@eerhardt  can you provide guidance

[2020-08-08 05:48] danmosemsft commented on #40566
What are the line endings in your test file? \n or \r\n? If the latter, in the first code snippet above, the $ will match after each

[2020-08-08 05:53] JakenVeina commented on #35060
Normally, that would work for me. I guess since it's already closed, github stops listening for changes on the forked branch.

Regardless. New PR submitted.

[2020-08-08 05:55] lhak commented on #40463
Yes, this is entire stacktrace or what I can get from the StackTrace poperty of the exception. Is there any way to find out where in my code it is actually originating from?

[2020-08-08 06:13] VS-ux commented on #40566
@danmosemsft Thank you for your reply!
My results were with reading the entire file at once, and using `RegexOptions.Multiline | RegexOptions.Compiled` I got 125797 matches. Reading the same file line by line with just `RegexOptions.Compiled` I got 176948 matches.

The test file I used is actually a random binary file, but the results can be seen in a simple test case scenario:

[code]

In the "ma

[2020-08-08 06:24] VS-ux commented on #40566
Hi! OK, so I uploaded a System.Memory.dll binary test file that I did some tests on.
Here is the [repo](https://github.com/VS-ux/RegexFailTest):

Here is the code:

[code]

For the code the is NOT commented, I get 148 results. For code that is commented (Reading line by line), I get 166 matches.

[2020-08-08 06:39] WernerMairl commented on #35922
SystemDConsoleFormatter and SimpleConsoleFormatter are calling exception.ToString() and the "ToString()" default implementation is calling innerException.ToString()!

The JSonConsoleFormatter (in my understanding) is NOT calling exception.ToString() but it prints out all the exception properties one by one IGNORING innerexception.....
https://github.com/dotnet/runtime/blob/51ad8e451c354c8e0d6cd271

[2020-08-08 07:05] Gnbrkm41 commented on #40561
Note that we do have this for the C++ code styling guide already: https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/clr-jit-coding-conventions.md#1517-if-conditions

I don't think Yoda conditions are really common enough of a pattern to see in the .NET world. Maybe that's why it's not specifically mentioned there...

[2020-08-08 07:15] Gnbrkm41 commented on #40561
Searching by "Yoda", I'm seeing some PR reviews in the runtime/coreclr/corefx that asks people to avoid using Yoda conditions in C# code: https://github.com/dotnet/runtime/pull/33603#discussion_r392640073 https://github.com/dotnet/runtime/pull/38161#discussion_r445155678 https://github.com/dotnet/runtime/pull/38001#discussion_r441750671 https://github.com/dotnet/corefx/pull/31827#discussion_r21113

[2020-08-08 07:34] Gnbrkm41 commented on #40561
Enabling [SA1131](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/863) results in 222 warnings for Clr+Libs build.
<details><summary>List</summary>

[code]
</details>

[2020-08-08 09:33] martincostello commented on #1586
In case it's useful to you for this issue, I had one of the ASP.NET Core tests (as of https://github.com/dotnet/aspnetcore/pull/23714/commits/5669e5e19cdda06688e8ed50f4fbfed791f7af95) fail locally with this error:

[code]

[2020-08-08 09:48] am11 commented on #40111
So far, we have been living with a single RntimeInformation.IsOSPlatform() method for platform detection. It wouldn't have been a surprise if OperatingSystem class also get one `public bool Is()` and one `public bool IsVersionAtLeast()`.

If the potential benefit of this work is linker-friendliness, then it is bit of an overkill to add so many last-minute public `Is<X>` methods with platform names

[2020-08-08 10:23] alfkonee commented on #39429
I'm all for resuing existing API while adding new functionality. I'd also like to make it possible for users to be able to specify teh Root Object using the new overload for the Extension thats why if you llok at the implementation the rootElement argument is optional to make sure taht existing API's work without any Code Changes

[2020-08-08 10:32] ldematte commented on #40484
1) Quite classic C/C++ scenario, integrate a native .dll and use it from C# code, but with lots of callback/function pointers.
2) Call into C# code to provide data, in as much as possible efficient way (0-copy, if/whenever possible)

Completed

3/4

Both

Pinning, thread affininity

That was the "hard" part of 1). We did not used delegates, but used a thin C++/CLI stub to convert C function pointe

[2020-08-08 11:57] devel0 commented on #38566
+1 for the use of constant with expression value ( ie. `public const double RadiansToDegrees = 180.0 / PI;` )
that automatically convert to the right constant at compile-time avoiding expression re-evaluation in the runtime.
source code results more clear to read and precision keep at the maximum allowed for the used type.

[2020-08-08 13:31] smx-smx commented on #40270
I think the FPU emulation is not enabled in the kernel currently running on the target, and i'm not sure if i can feasibly enable it (it's kernel 3.4.11-rt19 and has proprietary blobs and modifications that limit the kernels you can use).

Using softfp results in illegal instructions exceptions even in pure C/C++ sources (where no assembly is used explicitly)

For example, i get the following cras

[2020-08-08 13:41] alefranz opened #40570 "Improve dev loop for libraries contributor"
Hello,

I would like to bring to your attention my experience in trying to work on the libraries, in the hope that it could be valuable feedback.

Since the moved to the monorepo, contributing or simply building libraries like Microsoft.Extensions.* has become more challenging and time consuming due to the need to build the clr.
I understand the benefits for the core team to work with a monorepo a

[2020-08-08 15:01] franksinankaya commented on #40270
Interesting, it is almost impossible to run dotnet without fpu emulation.

Looks like fpu emulation was removed in later versions of the kernel due to licensing issues

https://lwn.net/Articles/546840/

[2020-08-08 15:08] #39908 closed

[2020-08-08 15:27] KalleOlaviNiemitalo commented on #40507
If you're changing JsonConsoleFormatter to format Exception.InnerException (recursively or as a string), then I think it should use AggregateException.InnerExceptions instead when available.

[2020-08-08 15:29] KalleOlaviNiemitalo commented on #35922
The documentation of [Exception.Data](https://docs.microsoft.com/en-us/dotnet/api/system.exception.data?view=net-5.0#remarks) says that each key is "typically an identifying string". If a key is not a string, I think key.ToString() will be good enough for logging. From <https://source.dot.net/> and <https://referencesource.microsoft.com/>, it looks like keys are almost always constant strings, exc

[2020-08-08 15:37] danmosemsft commented on #40566
I suggest you creates a fixed test file then progressively reduce your test file until it is as small as possible yet still repros the problem and the reason will become clear. You may need a hex editor to see line endings.

[2020-08-08 15:42] tommcdon opened #40572 "Add Environment block via the ProcessInfo command in the Diagnostics IPC Protocol"
The environment block is retrieved in the standard null delimited list of strings form, and is sent as an `Array<Array<WCHAR>>` in the IPC protocol.  In other words, it is retrieved as
[code]
and sent as
[code]

Note that the tests do not print the bytes of the payload anymore since they now include the environment where the tests are run.

[2020-08-08 16:33] KimKiHyuk opened #40573 "[Document suggestion] Add -y option utilities installation command && ``` around code section"
https://github.com/dotnet/runtime/blob/master/docs/workflow/requirements/linux-requirements.md

it's really trivial but,
i think it would be better appending -y option to installation command and around it with markdown using  ```

like
[code]

[2020-08-08 16:43] fbrosseau opened #40574 "API Proposal: Thread.JoinAsync"
## Background and Motivation

To bridge the gap between code that does explicit thread management, and async code, it would be great to have Thread.JoinAsync, analogous to Thread.Join.

Based on the recently-added Process.WaitForExitAsync, I am proposing a single form taking a CancellationToken.

**The following description applies to Windows, I have zero idea of the implementability in other envi

[2020-08-08 16:50] karakasa opened #40575 "Slow summing of int[], IEnumerable<int>(from List<int>) & IList<int>(from int[]) compared to .Net Fw 4.8"
### Description

The code sums 100,000 integers stored in
- `int[]`
- `List<int>`

by

- `for` on `int[]`
- `for` on `List<int>`
- `for` on `IList<int>`
- `foreach` on `IEnumerable<int>`

Compared to .Net Fw, Core sums:

- `int[]` 75% slower
- `IEnumerable<int>` from `List<int>` 36% slower
- `IList<int>` from `int[]` 16% slower

Other results are similar.

I can also observe that:
- Emitted assemb

[2020-08-08 16:53] briansull commented on #620
Fixed by #40535

[2020-08-08 16:54] VS-ux commented on #40566
@danmosemsft I think the reason why is in binary file like System.Memory.dll there are some lone \r line endings without \r\n. It then is unable to match it.

[2020-08-08 17:18] danmosemsft commented on #40566
Aha yes! In StreamReader i see it will match a lone \r. That is unusual in real text, I believe it was used by old iMacs. It will not be matched by the ^ and $ (again, until we have AnyNewLine)

I think this problem is explained, can we close the issue now?

[2020-08-08 17:18] #40566 closed

[2020-08-08 17:20] VS-ux commented on #40566
@danmosemsft Yes sure.

[2020-08-08 17:36] #2359 closed

[2020-08-08 17:40] EgorBo commented on #40553
[code]
does it make sense to also elide it here?

[2020-08-08 17:41] wfurt commented on #40402
I did more testing and the documentation is misleading IMHO. I did testing with 3.1 and the negation fails _unless_  you provide override. With 'ClientCertificateRequired` and client not providing certificate, negations  _may_ succeed. I'll try to update docs to make that more clear.

The missing callback was fixed as part of #40110 (since that was pending and touching relevant area)

[2020-08-08 17:41] #40402 closed

[2020-08-08 18:12] #40564 closed

[2020-08-08 18:18] AaronRobinsonMSFT commented on #40553
@EgorBo Is that type of allocation observed by the JIT here? Seem like the `GC.AllocateArray<T>()` would need to be special cased in the JIT to know the allocation was special.

The offline question I had for @tannergooding about this feature is the savings relative to the added complexity. I can see the simple cases like the `QueryPerformanceCounter` scenario above being possible and I think I ha

[2020-08-08 18:22] tannergooding commented on #40553
@EgorBo, my understanding is that it is more expensive to check if an arbitrary `ref` is already pinned than it is do just perform the pin, thus we could realistically only do it for cases like `ref T` where the ref is to a known local. I believe this would have direct benefit to the inlining scenario, especially around P/Invokes (possibly around the existing pattern and definitely around the new

[2020-08-08 18:28] AaronRobinsonMSFT commented on #40555
This is one of those issues that we can talk about but makes things complicated for VB.NET. Making the field `ushort` would make the type [non-CLS compliant](https://docs.microsoft.com/dotnet/standard/language-independence-and-language-independent-components#Types) and thus break VB.NET usage.

A Github search [here](https://github.com/search?q=FORMATETC+language%3A%22Visual+Basic+.NET%22&type=Cod

[2020-08-08 19:31] vcsjones commented on #38875
Some random commentary of findings. I'll keep updating this with things / behaviors since I can't be trusted not to lose a Text Editor document, apparently.

Linux revocation:
* UrlRetrievalTimeout is cumulative for all network retrievals (AIA, OCSP, CRL) together.
* Linux checks for revocation "up" the chain for OCSP. First the intermediate is checked, then the leaf. For CRL, it goes the other wa

[2020-08-08 19:37] VS-ux opened #40577 "RegexOptions.Multiline not matching text"
### Description

* Using RegexOptions.Multiline on a string with \r\n fails with this regex:
^(?:[a-zA-Z]\:|\\\\[\w\.]+\\[\w.$]+)\\(?:[\w]+\\)*\w([\w.])+$

### Configuration

* .NET Core 3.1
* Windows 10 20180
* x64
* It is not specific to this config.

### Regression?

* Did this work in a previous build or release of .NET Core, or from .NET Framework? If you can try a previous release or build t

[2020-08-08 19:51] vcsjones opened #40578 "Constrain X509ChainPolicy.UrlRetrievalTimeout to acceptable ranges"
The [`X509ChainPolicy.UrlRetrievalTimeout`][1] property is a `TimeSpan` that currently does not throw when given a value less than zero, or `TotalMilliseconds` larger than `int.MaxValue`. A negative value for this property behaves differently from Linux and Windows. Linux treats a negative value as-is and every network operation during chain building will time out (all time-budget has been used).

[2020-08-08 19:54] vcsjones commented on #40578
Does this need to go throw API review?

[2020-08-08 20:45] GrabYourPitchforks opened #40579 "Analyzer / fixer proposal: Prefer static HashData methods over ComputeHash"
__Category__: performance, improved linker trimming efficiency (is that even a category?)

We should consider an analyzer that can detect this pattern:

[code]

And suggest the code instead use this pattern:

[code]

Using one-shot hashing APIs like this is a bit more foolproof than using the normal stateful instance members on these types.

The analyzer should detect the pattern where a `HashAlgo

[2020-08-08 20:47] franksinankaya commented on #40270
This is about to hit dead end.

You can try qemu with binary emulation mode. I don’t know how good if would run on your platform. Performance should be 15-20% slow

[2020-08-08 20:47] danmosemsft commented on #40577
Can you please try to minimize the repro code/pattern/text? Like last time, this often makes things clearer.

[2020-08-08 20:50] VS-ux commented on #40577
@danmosemsft Hi! The text is just above.
Here it is again:
[code]

[2020-08-08 21:39] danmosemsft commented on #40577
Yes thanks I see that I’m asking you to minimize the pattern please.

[2020-08-08 22:46] RevensofT opened #40581 "tail. call got stack overflow error !?"
## Description
I try to convert while loop code to to tail call recursion function but I got a stack overflow error when use `tail. call` while `jmp` has no problem.

## Runtime framework version
.Net Core 3.1

## Base code
[code]

## Recursion form
[code]

## Tail call recursion method (do method) [Error : Stack overflow]
[code]

## Jump op recursion (do method) [Worked]
[code]

## Comment
Tail o

[2020-08-08 23:26] ashmind commented on #21820
I would be keen to have it for convenience and allocation reasons, but I am not sure on specific format and compatibility.

[2020-08-08 23:27] elachlan commented on #40561
@Gnbrkm41 would it make sense to do a PR to fix those warnings, enable the setting, and update the code style guide? I am happy to do this.

[2020-08-08 23:34] VS-ux commented on #40577
Oops, sorry. Ok here is the simplified version:

[code]

The issue is that RegexOptions.Multiline doesn't get rid of \r so it matches 1 character too much.

[2020-08-09 00:29] srxqds commented on #38367
will mono runtime replaced by coreclr runtime in the feature

[2020-08-09 00:46] danmosemsft commented on #40577
Right, it only understands \n. The complete description is here:
https://github.com/dotnet/runtime/issues/25598#issuecomment-666955410
Do the docs need clarification? Feel free to submit a PR if so (pencil icon in top right of doc).

I’m going to close this as it’s working as designed. The AnyNewLine feature would help!

[2020-08-09 00:46] #40577 closed

[2020-08-09 00:47] wizardars commented on #40430
I've been waiting for this question for 10 years. Damn it, I have 5 cool projects that are gathering dust on the hard drive, because if I release them, any child can reverse them and sell them as their own. Yesterday a jerk tried to hire me to fix bugs in a stolen program on .Net. It's just wonderful.

[2020-08-09 02:00] mangod9 commented on #40538
A dump for this is here: https://dev.azure.com/dnceng/public/_build/results?buildId=760782&view=ms.vss-test-web.build-test-results-tab&runId=23630606&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=107368

[2020-08-09 02:19] safern commented on #40570
Thanks for the great valuable feedback, we really appreciate it and want to hear this to improve your experience.

I'm currently on my phone and can't reply to all the concerns.

FWIW given the timeline and that we're trying to burn down 5.0 issues down, I haven't been able to fund much time for this, but I did start looking into this as a prove of concept to see how feasible that would be, so sta

[2020-08-09 03:09] davidfowl commented on #40570
@alefranz agreed. I was trying to make a change to dependency injection and I couldn't make anything work inside of VS so I just gave up and built from the command line while using VS code

[2020-08-09 05:19] smx-smx commented on #40270
Let's be positive 👍 , i think i have an alternative
Mono runs on this platform when cross compiled, but it uses the .NET 4.x profile

I previously tried to use the libraries from the `linux-arm` runtime but they are unsuitable (wrong libc, uses VFP, etc..)
With my patches i cannot compile `coreclr` itself, but i can compile the native libraries that make up the runtime (e.g `System.Native`) and mo

[2020-08-09 05:30] davidfowl opened #40582 "Regex.Replace fails with aggressive linking"
[code]

[code]

[2020-08-09 05:47] smx-smx commented on #40270
I'm getting this error (DOTNET_SYSTEM_GLOBALIZATION_INVARIANT required to avoid this: https://github.com/xamarin/xamarin-macios/issues/8906)
[code]

The library is there, but i'm not sure if it's a version issue (5.0.0.0 vs 5.0.0-dev)

[2020-08-09 07:19] franksinankaya commented on #40270
Mono is supposed to work in this environment if that works for you.

[2020-08-09 07:28] Gnbrkm41 commented on #40561
Not sure, probably other folks can decide. After all I'm just a contributor >.>

Note that some of the code are direct port of some other libraries in C/C++. `Number.Grisu3.cs` is one example - Perhaps it's not worth converting those to keep it in sync?

[2020-08-09 08:02] smx-smx commented on #40270
It would have been cool to get dotnet core to work
Technically i could try to make the core run FPU-less, but would that be something that the coreclr team is willing to consider?

Otherwise, mono will the only solution for constrained devices.
I'm currently looking into why libQCall is required and how i can build/provide it

[2020-08-09 10:19] franksinankaya commented on #40270
I have looked at removing FPU access before. There are also other issues where this was discussed. Biggest challenge is JIT. It assumes floating point register presence.

You can disable JIT and run with interpreter but interpreter was broken and unmaintained.

Even if you get interpreter working, performance would be terrible.

I agree that this would be a nice change. It looks like a project to

[2020-08-09 10:58] Wraith2 commented on #40574
Isn't the suggested way of doing this to create a `TaskCompletionSource` on the sync thread that you want to wait for and let the async portion of the code wait on that?

[2020-08-09 11:02] karmeli87 opened #40585 "Provide an API to show number of allocations per thread"
## Background and Motivation

We develop a distributed application that on one hand process many items in batches and on the other send pings to its peers.
Processing of a single batch can generate a lot of objects, keep them around and eventually persist them on the disk.

Keeping around millions of objects will cause us GC pauses of ~500ms, which will destabilize the distributed application (it

[2020-08-09 11:48] svick commented on #40585
Why do you want to know the number of allocated objects instead of allocated bytes, when GC performance is mostly based on bytes?

[2020-08-09 12:05] karmeli87 commented on #40585
As far as I understand the GC performance (at least the marking phase) is directly correlates to the number of objects rather to their size.

[2020-08-09 12:10] ayende commented on #40585
The GC performance is not actually based on bytes. Most of the GC costs is when you scan for objects, which is directly related to the number of objects it has to run.
For example, allocating 10 `byte[1024*1024]` is a lot cheaper than 1,000,000 `new byte[10]`.

[2020-08-09 13:17] Temppus commented on #36522
I would love to use channels with DropOldest behavior, but currently I do not have way to cleanup/dispose object that was dropped.

I have got 2 alternatives which would be great to consider:

1. Channel itself could dispose object if it implements IDisposable. This would require runtime cast/check but this behavior could be opt in only (by boolean flag).
2. Create another factory method for chann

[2020-08-09 13:31] omariom commented on #40585
The total number of reachable objects. Not the recently allocated ones.

[2020-08-09 13:35] ayende commented on #40585
@omariom In our scenario, we don't control how many reachable objects there are.
But many of them will be reachable. I don't want to have GC run when I have millions of reachable objects. I want to cut the batch short, which will us discard a lot of those objects, then a GC won't run into long pauses.

[2020-08-09 13:58] KimKiHyuk commented on #40573
PR was accepted, so close this issue

[2020-08-09 13:58] #40573 closed

[2020-08-09 14:32] fbrosseau commented on #40574
Correct, it is possible to have similar functionality by wrapping a thread's main body method in a try-finally and setting a TaskCompletionSource accordingly. This proposal is about the convenience of having that done automatically and robustly.

[2020-08-09 14:38] abelbraaksma opened #40586 "ILVerify plans and progress"
Looking around the old issues in CoreRT and in this repo, I find several mentions that ILVerify is (probably) up for rtm in the .NET 5.0 release cycle. However, there appears to be very little activity since about 2 years ago.

Since PEVerify doesn't support many new CLR features, we find ourselves in a limbo between the alpha version of ILVerify and the not further developed, closed source PEVeri

[2020-08-09 15:54] mangod9 opened #40588 "[System.XML] Assembly.GetEntryAssembly().Location can cause a NullRef"
### Description

This code within [System.Xml.Serialization.Compilation](https://github.com/dotnet/runtime/blob/aa5fdab9654d74bc6274c0b5d820272c8e859621/src/libraries/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs#L166), tries to retrieve Assembly.GetEntryAssembly() which can return null if the host is native. The exceptions are handled, but there are cases where an AV (NullRef in

[2020-08-09 16:50] Serg046 commented on #38852
Based on these tests' names, I'd say the behaviour is intentional

https://github.com/dotnet/runtime/blob/4cb924de165aa8e5373a109a68611d422aa72a09/src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationCollectionBindingTests.cs#L903-L1015

[2020-08-09 17:11] benaadams commented on #25023
`Intrinsicify SpanHelpers.IndexOfAny(char,char)` https://github.com/dotnet/runtime/pull/40589

`Intrinsicify SpanHelpers.IndexOfAny(char,char,char)` https://github.com/dotnet/runtime/pull/40590

`Intrinsicify SpanHelpers.IndexOfAny(char,char,char,char)` https://github.com/dotnet/runtime/pull/40591

`Intrinsicify SpanHelpers.IndexOfAny(char,char,char,char,char)` https://github.com/dotnet/runtime/pu

[2020-08-09 17:22] damageboy commented on #39600
Just to update quickly: I've managed to create an on-par version of the bitonic sorter, which was by far the biggest offender in terms of code-size bloat.
The new version is considerably smaller, per type (56KB -> 2.8KB or 95% reduction). I now expect the total size of the vxsort related bloat to fall well below 100KB. All this without sacrificing any considerable speed.

I'm still working on clea

[2020-08-09 17:51] sebas77 commented on #40430
I have developed Robocraft, Cardlife and Gamecraft with Unity on a PC platform and never needed to use IL2CPP unless required by the platform (Xbox one in this case), not even for the game servers. I personally would see a mix of JIT compilation and a solution like Burst (which does a better job than I can ever do using explicit intrinsics) as more than enough when performance is necessary. Howeve

[2020-08-09 18:07] AndyAyersMS commented on #40581
There are various limitations handling tail calls with structs that depend on architecture and ABI. We have been working to relax these over time.

If this was runs on windows x64, I suspect it might have been fixed in 5.0 with #33004. Can you give 5.0 a try?

[2020-08-09 18:23] tarekgh commented on #40427
One other idea you may try is to uninstall the .NET Framework language packs from the machine. I don't have handy Windows XP machine but I believe you can do that from Control Panel, Add Or Remove programs options.

[2020-08-09 18:27] karelz commented on #37873
@prezaei any chance for you to use 5.0?
In general we do not backport fixes unless they have high impact (no workaround, multiple customers significantly affected, etc.)

[2020-08-09 18:36] xavierlaffargue commented on #29690
@layomia  This is not serious. Support should have been done a long time ago (in fact System.Text.Json shouldn't have been launched without it in my opinion)! And we don't even have a deadline!

[2020-08-09 18:45] stephentoub commented on #40582
cc: @MichalStrehovsky, @marek-safar

[2020-08-09 20:16] #40509 closed

[2020-08-09 20:21] jkotas commented on #40512
Related / duplicate: #15386 ,  #11461

[2020-08-09 20:26] jkotas commented on #40588
This is a bug in the runtime that we need to fix. There will be many other cases where Office will hit this bug.

Still, it would be nice to avoid null reference exception here when the runtime is hosted and `Assembly.GetEntryAssembly()` returns null.

[2020-08-09 20:31] jkotas commented on #40586
We have started publishing ILVerify as dotnet tool as for .NET 5. Here are the instructions for how to use it from .NET 5 previews:

https://github.com/dotnet/runtime/tree/master/src/coreclr/src/tools/ILVerify#how-to-use-ilverify

[2020-08-09 20:33] jkotas commented on #40586
If there are specific enhancements you would like to see added to ILVerify, it is best to create specific issues for each enhancements.

[2020-08-09 20:33] #40586 closed

[2020-08-09 20:38] smx-smx commented on #40270
I'll think about it, as it's not a tiny task

As for mono, i fixed it. The official released mono doesn't support QCalls. HEAD does, but i had problems building it (has dependencies on the coreclr repository even when built outside of it)

So i used the version shipped in this repository (had to fix some symlinks first as there are issues with `Makefile.am` creating relative symlinks for `icushim`

[2020-08-09 20:38] ericsampson commented on #40099
@Jozkee @ericstj FWIW when I heard that STJ would have loop handling in 5.0, I just assumed that would include something along the lines of Ignore. It would be disappointing to not have something along those lines in 5.0
Also FWIW I don't _love_ the Newtonsoft options. Like another commenter mention above, it would be great to have an in-between option that didn't suffer the data loss of Ignore; o

[2020-08-09 21:10] vitek-karas commented on #34033
The SDK in dotnet/sdk#11010 makes sure that it only every writes the simple TFM into the runtime config. Since that is really the only place where TFM is read from in the host, it should all work the same as before and thus no new host work seems to be necessary.

[2020-08-09 21:10] #34033 closed

[2020-08-09 21:10] kirsan31 commented on #40512
@jkotas
So, if I understand right, [this](https://github.com/dotnet/runtime/issues/15386#issuecomment-438005841):

did not happen (until now)? And this issue must be transferred back to WinForms repo?

[2020-08-09 21:13] AndyAyersMS commented on #40575
Odd, I don't see this locally. Generally things have stayed the same or improved with each release.

`BenchmarkIListWithList `  and `BenchmarkIEnumerableWithList` might have regressed from 3.1 to 5.0.

## Intel Core i7-8650U CPU 1.90GHz
[code]
|                        Method |       Runtime |      Mean |     Error |    StdDev | Ratio | RatioSD |
|------------------------------ |-------------- |---

[2020-08-09 21:57] vitek-karas commented on #40547
I verified the repro and there really seems to be something weird going on. Holding a strong reference to the assembly in an ALC is apparently not enough to prevent it from unloading. In fact in this repro holding to an instance of a type from the ALC also still leaves it "unloading".

Just a side note about the repro:
I don't think that adding a callback to the the `ModuleResolve` actually create

[2020-08-09 22:16] mike-jewell commented on #37664
Will this be retroactively fixed for dotnet core 3?  What kind of timeframe would there be for a fix?

Seeing this problem once a week now on Azure app service with the config described in #40350.  The only solution for now is to use log monitor alerts and azure automation powershell scripts to scale down and up again, which isn't ideal.

[2020-08-09 22:57] BowserKingKoopa commented on #36063
Just ran into this. Fixed with await Task.Yield() at top of BackgroundService.ExecuteAsync. I think this is especially confusing because we don't call ExecuteAsync ourselves, the framework does. We don't even instantiate the background service ourselves (we're using services.AddHostedService<MyBackgroundService>()). So the fact that the instantiation and call to ExecuteAsync happen as part of the

[2020-08-09 23:22] tschqr opened #40595 "'Group' does not contain a definition for 'Name'"
Start a new project with `dotnet new classlib`. Try to use the `Name` attribute of `System.Text.RegularExpressions.Group`, for example with something like

[code]

The build fails.

[code]

Start another project with `dotnet new console` and try the exact same code, with a `Main` that calls `Console.WriteLine(Foo());`, and it works.

I found a possible workaround, changing the `TargetFramework` in

[2020-08-09 23:45] MingweiSamuel opened #40596 "System.Text.Json cannot parse int if it looks like a float `123.0`"
The following throws an exception:

[code]

Is there a way to prevent the exception since `123.0` is still an integer mathematically?

I am using netcoreapp3.1

[code]

[2020-08-10 00:45] danmosemsft commented on #40588
Do we need a separate issue for the runtime fix?

[2020-08-10 00:48] jkotas commented on #40588
Yes, there is an ongoing offline investigation and we do not know enough details yet to open a meaningful issue.

[2020-08-10 01:09] karakasa commented on #40575
Is .NET fw 4.8 utilizing RyuJIT? I was using LegacyJIT.

[2020-08-10 02:04] v-haren opened #40599 "Test failure: GC/Scenarios/DoublinkList/doublinkgen/doublinkgen.sh"
failed in job: [runtime 20200809.5 ](https://dev.azure.com/dnceng/public/_build/results?buildId=762909&view=ms.vss-test-web.build-test-results-tab&runId=23700258&resultId=102183&paneView=debug)

Error message
[code]

[2020-08-10 02:14] AndyAyersMS commented on #40575
Ah. You can't really cross-compare x86 vs x64 numbers like this and then say there's a regression.
All other things being equal, x86 will typically be a bit faster than x64 as more data will fit in the cache.

You should compare x86 to x86 or x64 to x64.

[2020-08-10 02:45] jkotas commented on #40202
I do not think `GetStringLength` should take or return `nuint`. It makes it very inconvenient to use. We use `int` for lengths everywhere else, `GetStringLength` should be on the same plan. Yes, it means that it is different from what `wcslen` in C and that it will need to throw on overflow.

[2020-08-10 03:01] #40588 closed

[2020-08-10 03:01] jpapp05 commented on #40430
We develop high-performance, high-scalability financial/scientific simulators.   Our simulations can run anywhere from a few minutes to many days depending on the complexity of the model the user creates.

Because of the nature of our simulation software, startup times are almost never a concern, as well as software/binary sizes.  For that matter, neither is the time it takes to install the produc

[2020-08-10 03:06] davidfowl commented on #40430
cc @AndyAyersMS

[2020-08-10 03:13] jkotas commented on #40585
The existing `GC.GetAllocatedBytesForCurrentThread` API was free to provide. The GC allocator was keeping track of amount allocated per thread already.

The GC allocator does not keep track of number of objects allocated today. If we were to provide this API, it would slow down the allocation path for everybody. It makes it tough tradeoff, especially given that the number of objects allocated is n

[2020-08-10 03:17] #40575 closed

[2020-08-10 04:12] pierregaboriaud commented on #36063
Or if it doesn't work you can use Task.Run

`
protected override Task ExecuteAsync(CancellationToken stoppingToken) => **Task.Run(async () =>**
{
    while (!stoppingToken.IsCancellationRequested)
    {
        // Do async work
        await Task.Delay(2000, stoppingToken);
    }
});
`

[2020-08-10 04:42] v-haren opened #40602 "Test failure: GC\\API\\GCHandle\\Free_neg\\Free_neg.cmd"
failed in job: [runtime-coreclr gcstress-extra 20200809.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=763006&view=ms.vss-test-web.build-test-results-tab&runId=23703252&resultId=109881&paneView=debug)

Error message
[code]

[2020-08-10 04:47] GrabYourPitchforks commented on #40202
@jkotas What about when we introduce NativeArray / NativeSpan / whatever in the future? It would be nice if we our existing wcslen method worked for those scenarios as well. Since these APIs take raw pointers I don't think it's burdensome to force the caller to think about native-sized integer return values.

[2020-08-10 04:53] jkotas commented on #40202
If that ever happens, we will have hundreds of existing methods to update. A few more or less won't be a big deal.

[2020-08-10 05:16] v-haren commented on #38518
failed again in job: [runtime-coreclr gcstress-extra 20200809.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=763006&view=ms.vss-test-web.build-test-results-tab&runId=23703426&resultId=107431&paneView=debug)

failed tests:
Loader\\binding\\tracing\\BinderTracingTest.ResolutionFlow\\BinderTracingTest.ResolutionFlow.cmd
Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest1438\\G

[2020-08-10 05:19] ayende commented on #40585
There is the `alloc_count` on the `gc_alloc_context`, isn't that keeping track of the count?

[2020-08-10 05:32] jkoritzinsky commented on #40562
I believe for .NET 6.0 we'll fix this by moving to the new SDK and removing the custom installer code.

[2020-08-10 05:50] jkotas commented on #40585
`alloc_count` does not track individual allocations. `alloc_count` tracks how many times `allocate_more_space` got called for the purpose of heap balancing.

[2020-08-10 06:37] AndyAyersMS commented on #40575
I was curious what the x86-x86 comparisons looked like -- here is some data. If you compare with the first result I posted above you can see x86 is generally faster than x64.

Eg for net5.0 on BenchmarkList, x86 69.27 us is and x64 is 75.55 us

Also seems like for x86 there might be some regression in .Net Core on x86 vs net48 on those first two tests.

[code]

|                        Method |

[2020-08-10 06:53] agocke commented on #40453
@marek-safar I believe this should be in the linker repo, but it seems I don't have permissions to move it. Any chance you could instead?

[2020-08-10 06:56] agocke commented on #36089
@vitek-karas Could you take a look when you get a chance and see what we should do here?

[2020-08-10 07:14] huoyaoyuan commented on #40595
https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.group.name?view=netcore-3.1#moniker-applies-to

To use the property, it must be present in your target framework. So changing it from `netstandard2.0` to `netcoreapp3.1` is not "workaround", but "right solution".

[2020-08-10 07:22] svick commented on #40595
As you can see from [the documentation](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.group.name#moniker-applies-to), `Group.Name` is only available in .Net Standard 2.1, .Net Core 1.1+ and .Net Framework 4.7+. This means that if you need this property, the right fix will involve changing the `TargetFramework`. Some possible values are:

* `<TargetFramework>netcoreapp1

[2020-08-10 07:30] stevejgordon opened #40603 "[Proposal] Add new overload to Uri.EscapeDataString"
Updated by @MihaZupan on 2024-01-15.

## Background and Motivation

In low allocation scenarios, it may be useful to support escaping URI data into an existing `Span<char>` buffer, rather than allocating a new `string`.

As an example, see this [performance improvement](https://github.com/elastic/elasticsearch-net/issues/4951) suggestion for Elasticsearch.NET. The proposed change removes allocatio

[2020-08-10 07:31] v-haren opened #40604 "Test failure: Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest1316\\Generated1316\\Generated1316.cmd"
failed in job: [runtime-coreclr gcstress-extra 20200809.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=763006&view=ms.vss-test-web.build-test-results-tab&runId=23703426&resultId=105071&paneView=debug)

failed tests:
Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest1316\\Generated1316\\Generated1316.cmd
Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest1245\\Generat

[2020-08-10 07:39] v-haren opened #40605 "Test failure: Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest1483\\Generated1483\\Generated1483.cmd"
failed in job: [runtime-coreclr gcstress-extra 20200809.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=763006&view=ms.vss-test-web.build-test-results-tab&runId=23703426&resultId=105104&paneView=debug)

Error message
[code]

[2020-08-10 07:49] v-haren opened #40606 "Test failure: System.Net.Tests.HttpWebRequestTest_Async.GetResponseAsync_ServerNameNotInDns_ThrowsWebException"
failed in job: [runtime-libraries outerloop 20200809.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=762837&view=ms.vss-test-web.build-test-results-tab&runId=23695930&resultId=103352&paneView=debug)

Error message
[code]

[2020-08-10 08:01] v-haren opened #40607 "Test failure: System.Xml.Tests.SameInstanceXslTransformWriter.Variations(param0: \"xslt_mutith_attribute_sets.xsl\", param1: \"xslt_mutith_attribute_sets.xml\")"
failed in job: [runtime-coreclr libraries-jitstress 20200809.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=762801&view=ms.vss-test-web.build-test-results-tab&runId=23695078&resultId=139489&paneView=debug)

Error message
[code]

[2020-08-10 08:07] v-haren commented on #25979
failed again in job: [ runtime-coreclr libraries-jitstress2-jitstressregs 20200808.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=762543&view=ms.vss-test-web.build-test-results-tab&runId=23679696&resultId=132177&paneView=debug)

failed test: System.Security.Cryptography.X509Certificates.Tests.DynamicChainTests.BuildInvalidSignatureTwice(endEntityErrors: NotSignatureValid, intermedi

[2020-08-10 08:23] GrowSharp commented on #38609
@danmosemsft yes, I tried replacing special characters with their hexadecimal representation. Didn't worked for me tho. And yes, I agree that fixing this might also fix #38611.

[2020-08-10 08:35] v-haren opened #40608 "Test failure: baseservices\\threading\\paramthreadstart\\ThreadStartDelegate\\ThreadStartDelegate.cmd"
failed in job: [runtime-coreclr ilasm 20200808.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=762678&view=ms.vss-test-web.build-test-results-tab&runId=23685098&resultId=103785&paneView=debug)

Error message
[code]

[2020-08-10 09:19] karelz commented on #39648
It would be really valuable to have at least one basic test -- e.g. via loopback in 5.0. @ManickaP can you please look at it?

[2020-08-10 09:55] RalfKornmannEnvision commented on #40430
I totally agree here. As we are in need of a solution for this problem (C# code running on game consoles for a non Unity project) we are using a Mono-AOT based tool chain. But it has some serious limitations and doesn't perform that well. 

Therefore we are looking into getting CoreRT running on 3 poplar game consoles (XBox One; PlayStation 4 and Nintendo Switch). An initial prof of concept show t

[2020-08-10 09:56] karelz commented on #38414
Looks like external problem, not something we can change. Closing.
Feel free to reopen if there is evidence we misunderstood the scenario / root cause.

[2020-08-10 09:56] #38414 closed

[2020-08-10 09:58] karelz commented on #35365
@Anhbta any chance to get more info to make it actionable from our side?

[2020-08-10 10:32] srxqds opened #40609 "should mono support .netcore profiler api or tools?"
should mono support .netcore profiler api or tools?

I found that the mono have not fixed the profiler on windows as this issue(https://github.com/mono/mono/issues/14258) show.

this is so said and terriable for who are using mono.

is there any solution about mono profiler?

[2020-08-10 10:42] poizan42 commented on #40596
Per the spec JSON does not distinguish between floats and integers, there are only numbers. So looks like this is a spec violation.

[2020-08-10 10:49] MichalStrehovsky commented on #40582
Nice linker bug. Moving to https://github.com/mono/linker/issues/1421.

[2020-08-10 10:49] #40582 closed

[2020-08-10 11:14] karelz commented on #25918
Looks like this is API addition -- per https://github.com/dotnet/runtime/issues/25918#issuecomment-382158285 we should add property on exception.
Sadly, it is too late for 5.0, moving to 6.0 (and fixing labels to capture API addition).

[2020-08-10 11:57] GrowSharp commented on #38610
All right. What I did while getting an example of a bad case scenario (_bad.nettrace_):
Right before my `.Bind()` statement I placed `Process.GetCurrentProcess().Id;` to obtain the process ID.
At `.Bind();` statement I also placed breakpoint.
I started the program, called the API that went into desired block of code, read the process ID and executed the `dotnet-trace collect` command. After that I

[2020-08-10 12:09] shaggygi commented on #2036
Any plans to add Crc8 and Crc16 support, as well?

[2020-08-10 12:18] WernerMairl commented on #40507
Note:
AggregatedException.ToString() is implemented [here].

(https://github.com/dotnet/runtime/blob/fb18a11af37209018899ed31470bd639fb9fc9b6/src/libraries/System.Private.CoreLib/src/System/AggregateException.cs#L434)

behavior: merge and print out distinct (innerexception+InnerExceptions) by calling .ToString() for each of them!

[2020-08-10 12:34] tschqr commented on #40595
Hmm, documentation looks different when Javascript is enabled. Yes, this makes sense.

[2020-08-10 12:34] #40595 closed

[2020-08-10 12:44] svick commented on #40596
@poizan42 The JSON spec does not say anything about how to map JSON values to the .Net type system.

[2020-08-10 12:58] poizan42 commented on #40596
@svick nope, but 123.0 and 123 are the same number. Since it's the same value in JSON, whatever .NET does to map them it must give the same result for both. There simply isn't any provision that allows for a parser to handle them differently. If you want to map a json number to a .net Int32 then that mapping must act on the json number and not on its textual representation.

[2020-08-10 13:09] fsalmeida commented on #37664
I've been facing the same problem as you do.
Recently this problem has ocurred to one of my applications, then I've scaled up the ServicePlan and the application has back to life. Then I scaled it down and it still works.
Today I've faced the same problem with other application and I'm still trying to find a way to solve the problem.

[2020-08-10 13:16] Wraith2 commented on #2036
Not as part of this work because I don't believe there is hardware intrinsic that provides either of those.
There does seem to be some interest in having CRC algorithms in general but I think that would need a separate api proposal and it's too late in the release cycle to get them into 5 even if approved.

[2020-08-10 13:21] janvorli commented on #40547
The reference to an assembly loaded into a collectible context keeps the underlying data structures in the runtime alive (the managed LoaderAllocator, LoaderAllocatorScout and native AssemblyLoaderAllocator. That's what the document talks about.
But it doesn't keep reference to the AssemblyLoadContext instance. If you need that one to stay alive, you need to keep a strong reference to it. We canno

[2020-08-10 13:43] #35727 closed

[2020-08-10 14:16] vcsjones commented on #38875
@bartonjs I guess to better understand what you're looking for, are you wanting a test that just documents current behavior, or a few changes / issues to start unifying the behavior?

As it is, a test is doable but the behaviors are different enough that the test body is basically "If OpenSSL, do this, if Windows, do this entirely different test".

[2020-08-10 14:34] bartonjs commented on #38875
Ideally, the test tests Windows, and then the Linux code changes to match it.

[2020-08-10 14:44] tannergooding commented on #40596
This is only true for a subset of numbers, not all numbers. For example, `9007199254740993.0` and `9007199254740993` are different values according to `double` as whole integrals above `2^53` start losing precision.

If we go strictly by the "de facto" JSON implementation, which is Javascript; there are not integrals only `IEEE 754 binary64` (`System.Double`) and you cannot actually represent a nu

[2020-08-10 14:48] MihaZupan commented on #827
From the email discussions I see it was decided that work on a similar API in Core is not in scope for 5.0, therefore I'm moving this issue to future.

As for the mentioned timestamps, we believe the Telemetry we added (/ are adding rn) across networking in 5.0 is capable of providing most of the timings.

- `startTime (implicit TZero)` / `requestStart`
`RequestStart` from `System.Net.Http`

- `re

[2020-08-10 14:50] tannergooding commented on #40596
Additionally worth noting, the official JSON spec: http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf, details:

number types of various capacities and complements, fixed or floating, binary or decimal. That can make
interchange between different programming languages difficult. JSON instead offers only the representation of
numbers that humans use: a sequence of digits. All

[2020-08-10 14:52] jeffschwMSFT commented on #40453
@agocke we are not able to move issues across organizations.  The best thing to do is manually transfer this issue to mono/linker, link them, and then close this one.

[2020-08-10 14:53] tannergooding commented on #35605
This was fixed back in https://github.com/dotnet/runtime/pull/37882 where the SimdAsHWIntrinsic logic was updated to additionally check `EnableHWIntrinsic` (the regular HWIntrinsic logic was already doing the same).

[2020-08-10 14:53] #35605 closed

[2020-08-10 14:53] sankalan commented on #40547
Ok, seems like it is working as expected then.
Just trying to understand this better-
This means if I am keeping a reference to the assembly only, it keeps the assembly (and underlying data structures) alive but unloads the context, right? If yes, then what's the use of this assembly? As the context is unloaded, it will always throw exception trying to use it right? Or this is just unusable junk r

[2020-08-10 14:56] eerhardt commented on #35937
There are a few tracking issues for COM + ILLinker:

* https://github.com/mono/linker/issues/378
* https://github.com/dotnet/runtime/issues/36659

The workaround for .NET 5 is what @AaronRobinsonMSFT has above - Add an `ILLinkTrim.xml` file preserving the types, so the ILLinker doesn't remove them. We have the same thing for CSharp and in CoreCLR's CoreLib:

https://github.com/dotnet/runtime/blob/

[2020-08-10 14:56] karelz commented on #827
@bkatms will this be sufficient for you in 5.0?

[2020-08-10 14:57] karelz commented on #827
@bkatms will this be sufficient for you in 5.0?

[2020-08-10 15:18] vitek-karas commented on #40547
The load context will not be really unloaded as long as something holds onto an assembly in it - in that sense the docs are right. The specific issue here is that ALC is unloaded in two steps:
* When there are no more references to the ALC itself it is marked for unload (I think this is similar to calling `Unload` on it) - this doesn't unload the ALC yet, it just starts the process
* When there ar

[2020-08-10 15:23] eerhardt commented on #36005
Yes. Closing as this is documented behavior. The API is if the `StringValues` (a collection) is null or empty. Not if the strings inside of it are null or empty.

[2020-08-10 15:23] #36005 closed

[2020-08-10 15:25] eerhardt commented on #35999
Moving this issue to `Future`, since this is tracking a Proposal, and nothing needs to be fixed for `5.0`.

[2020-08-10 15:32] alnikola commented on #40249
@Tratcher @JamesNK Is it possible to make Kestrel wait for ACK to the **first** SETTING frame from client? That would be a pretty simple solution to the problem. Waiting will add some delay of course, but since it happens once per HTTP/2 connection, it might be acceptable in scenario with long living connections.

[2020-08-10 15:38] Tratcher commented on #40249
Kestrel can be more forgiving before receiving the first ack, but it still has to read and process incoming frames in order to do that. So does Http.Sys. I don't think we have a clear understanding of the Http.Sys behavior yet. I'll talk to Niranjan tomorrow.

[2020-08-10 15:38] Safirion opened #40616 "Important native memory leak in System.DirectoryServices.AccountManagement"
There are some huge memory leak in System.DirectoryServices.AccountManagement

This is a simple test program in .net core 3.1 with the Microsoft.Windows.Compatibility nugget package.
In almost 30sec, we have hundred of MB of leak...

[code]

![image](https://user-images.githubusercontent.com/11511729/89799460-cac2d980-db2d-11ea-9c82-09f10a6a1602.png)

With memory analysis we can see that this is a

[2020-08-10 15:38] SteveSandersonMS opened #40617 "Consider adding profile trace export to Mono interpreter"
This is somewhat related to https://github.com/dotnet/runtime/issues/40609 but I want to be more specific about the interpreter and how this could be done.

To guide the Blazor WebAssembly optimization efforts, I've been using [a modified version of the interpreter into which I patched support for capturing an execution trace](https://github.com/dotnet/runtime/tree/stevesa/hierarchical-profile). T

[2020-08-10 15:42] MattGal commented on #25979
To quote @bartonjs :

[2020-08-10 15:43] eerhardt commented on #40398
@safern and I looked a little bit at this issue last week. The issue appears that the `Microsoft.Extensions.*` assemblies are being referenced by the trimming tests through a `ProjectReference`. These projects reference other `System.*` assemblies (for example `System.Diagnostics.DiagnosticTrace`). When multiple trimming tests are being published at the same time, we are getting a race condition i

[2020-08-10 15:47] AndyAyersMS commented on #40575
cc @dotnet/jit-contrib if anyone wants to dig into the possible regressions.

[2020-08-10 15:48] AndyAyersMS commented on #40581
cc @dotnet/jit-contrib

[2020-08-10 15:50] AndyAyersMS commented on #40608
Could be a test infra issue, this is a "file in use" error.
[code]

[2020-08-10 15:53] poizan42 commented on #40596
No, they are both the same double value 1*2^53? But at least RFC8259 specifically allows for limited precision:

ECMA-404 seems to allow for more freedom in how implementations interpret numbers than RFC8259, still I'm not seeing it justified anywhere that the mere existence of a decimal point can be used to decide which internal representation to use.

Interpretations of specifications aside, if

[2020-08-10 15:59] Clockwork-Muse commented on #40596
.... okay, then `System.Text.Json.JsonSerializer.Deserialize<int>("34359738367.0");` does what?

[2020-08-10 16:01] poizan42 commented on #40596
Throws an exception indicating that the number is out of range.

[2020-08-10 16:08] svick commented on #40596
@poizan42

I think it's the opposite: I'm not seeing it mandated anywhere that the existence of a decimal point can't be used to decide which representation to use.

Also, that interpretation wouldn't work well for `decimal`: currently `JsonSerializer.Deserialize<decimal>("0.0")` and `JsonSerializer.Deserialize<decimal>("0")` produce different values and I think that's the desired behavior.

[2020-08-10 16:08] tommcdon commented on #28403
@Anipik any objections if we move this to the .NET 6 milestone?

[2020-08-10 16:18] jakobbotsch commented on #40581
Regardless of the platform this should also be fixed in .NET 5.0 by #341.

[2020-08-10 16:20] RChrisCoble opened #40619 "Blazor support of task based parallelism."
Is it in the roadmap for Blazor to support .Net's task based parallelism with WASM threads in .Net 5 or 6?

For instance, Chrome released WASM threads support in version 70.  (I'm running version 84), so it's been out for some time.  I'm not looking for async/await, I'm looking for maximizing the core usage through Task().

[2020-08-10 16:22] bartonjs commented on #40012
My only concern with HashData(key, data) is that it doesn't necessarily follow that the first argument is the key (and, since HMAC doesn't require block-sized keys, there's not a strong feedback that you got it wrong).

As it is, one has to think about `HashData(a)` vs `HashData(a, b)` for which of a/b is the key (cognative overload with the same identifier).

Specs seem to be all over the place.

[2020-08-10 16:27] #40339 closed

[2020-08-10 16:28] janvorli commented on #40547
Unloading event handler is called when unloading is initiated (so that you can clean up references that would prevent unloading). The exception says "or unloading". The unloading is initiated when there are no more references to the AssemblyLoadContext or you call the Unload method. So none of these two indicate that the unload has completed. And since the unloading is cooperative, it won't comple

[2020-08-10 16:46] vcsjones commented on #40012
Oh good someone what can articulate what is in my head clearly, much appreciated.

I would personally prefer `MacData`, as evidence of the original proposal. On the other hand...

I can be persuaded that generally, most of the time the audience may not be crypto nerds that go spelunking through NIST papers and `MacData` terminology is "technically correct, the best kind of correct". That combined

[2020-08-10 16:47] SamMonoRT commented on #40307
@vargaz @BrzVlad  - can this be closed now that https://github.com/dotnet/runtime/pull/40384 is merged ?

[2020-08-10 16:47] am11 commented on #785
Thanks! Is there also a plan for ARM's [CPUID](https://developer.arm.com/documentation/dui0395/b/system-control-block/system-control-block-registers/cpuid-base-register) info?

[2020-08-10 16:48] bartonjs commented on #40578
@GrabYourPitchforks Do you have thoughts here?  The "compat, compat everywhere" voice in my head says that we should just unify that negative numbers mean one minute.  But as an API designer I agree that an ArgumentOutOfRangeException in the setter is what the original implementation should have had.

One possible answer is to wait another week and change it as the first break for 6; though I hand

[2020-08-10 16:48] GrabYourPitchforks commented on #40616
I'll let the DirectoryServices folks chime in as they're the experts, but as a rule of thumb remember to compile your app in **release mode** when you're running any sort of benchmarking, including memory testing. Compiling an app in debug mode can skew results because the generated code may keep objects around longer than necessary. This hinders the efficiency of the GC.

[2020-08-10 16:52] BrzVlad commented on #40307
While it's hard to be 100% sure, let's close this as I remember testing the fix for a few hours without failures.

[2020-08-10 16:52] #40307 closed

[2020-08-10 16:52] tommcdon commented on #40512
dotnet/coreclr#20764 changed winforms assert behavior.  We have a [hook](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Private.CoreLib/src/System/Diagnostics/DebugProvider.cs#L112) which is currently used by debug.assert tests.  @danmosemsft is this the hook that winforms should use took hook debug.assert? Adding @merriemcgaw

[2020-08-10 17:12] buyaa-n commented on #40481
Seems this issue is similar to #40518, the solution will be same, closing this as duplicate

[2020-08-10 17:12] #40481 closed

[2020-08-10 17:17] tannergooding commented on #785
@am11, no. The ARM information is only accessible to the Kernel and is why each OS exposes an API to query it.

[2020-08-10 17:21] timmydo commented on #14929
It would be nice if something like `DOTNET_SYSTEM_GLOBALIZATION_APPLOCALICU` (from https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu) existed for the tz data. TimeZoneConverter would only be a solution for people that can rewrite their code to point to the that library.

[2020-08-10 17:21] alexcovington commented on #39787
@hoyosjs Ended up getting it to build by modifying `build-runtime.cmd` and hard-coding `__UCRTDir` to point to `C:\Program Files (x86)\Windows Kits\10\Redist\10.0.19041.0\ucrt\DLLs\x64\`, which is a good enough work around for now and unblocks me. I guess VS2019 just isn't setting the `UniversalCRTSDKDIR` environment variable properly in my case.

Here's the change I made in `build-runtime.cmd`:

[2020-08-10 17:28] sankalan commented on #40547
Ok, referring to this [doc](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext.unloading?view=netcore-3.1) my understanding was the event gets triggered once the the load context is completely unloaded.
Anyway, regardless it's unloaded or unloading, seems like the assembly is no longer usable. That's the problem I'm having here. How can I have that not initialise

[2020-08-10 17:28] kouvel commented on #1634
The fix to 5.0 in https://github.com/dotnet/runtime/pull/40205 is now available in daily SDKs from the master branch here: https://github.com/dotnet/installer/blob/master/README.md#installers-and-binaries

[2020-08-10 17:37] hoyosjs commented on #39787
Good to hear you are unblocked @alexcovington. Those variables get set by Visual Studio when setting up a developer command prompt. I'm not sure why that failed for you, but I'll keep that in mind in case someone reports the same error again.

[2020-08-10 17:37] #39787 closed

[2020-08-10 17:38] janvorli commented on #40547
The problem is that the assembly is trying to load another assembly. If it didn't do that, everything would just work. The assembly itself is still fully up and running.

Anyways, if you don't want the unloading to start, all you need to do is to keep references to the AssemblyLoadContexts. Then everything should work reliably. Once you want it to unload, just get rid of the references to the Asse

[2020-08-10 17:42] teo-tsirpanis opened #40620 "Idea: throw when an ILGenerator.Emit method overload is used with an invalid opcode."
`ILGenerator.Emit` calls like `ilg.Emit(OpCodes.Constrained, 59);` and many others do not represent properly structured IL. It would be better if these `Emit` methods throw an exception when such invalid combination is attempted to be used, way before that IL is actually used.

It's technically not a breaking change since only abusers of the `ILGenerator` class will be affected.

[2020-08-10 17:42] agocke commented on #35937
@MichalStrehovsky Can you confirm that this is the appropriate fix for COM scenarios in the framework?

[2020-08-10 17:45] agocke commented on #40453
Moved to mono/linker#1425

[2020-08-10 17:45] #40453 closed

[2020-08-10 17:48] tannergooding commented on #38162
I have the fix for this done locally however since `IsHardwareAccelerated` lives in `Vector` (rather than `Vector<T>`), it is included in R2R.

I though this just needed to be `fTreatAsRegularMethodCall = TRUE` in zapinfo, but then it isn't recognized as intrinsic at runtime and so it fails if R2R is enabled (the call ends up being recursive and not recognized as an intrinsic).

[2020-08-10 17:51] MichalStrehovsky commented on #35937
Yes. The other option would be to opt out the assembly from trimming - I assume the trimming that's problematic here is the trimming that happens at the framework build where everything is forced to trim, no matter if it's compatible or not.

COM is linker unfriendly and is supposed to get detected as such (I hope there's warning for this somewhere).

[2020-08-10 17:52] agocke commented on #39987
I believe placing the PDBs next to the single-file is not sufficient in .NET Core 3.x. I think you need to actually embed the PDBs in the single-file application, either by using the compiler to embed the PDBs with the `<DebugType>embedded</DebugType>` option in MSBuild, or setting `<IncludeSymbolsInSingleFile>true</IncludeSymbolsInSingleFile>` during publish.

[2020-08-10 17:54] sankalan commented on #40547
I think I get your point, thanks for your help.

Just one more clarification I will ask for- keeping reference to the assembly keeps the assembly alive but marks it's context to unload (which will never eventually be unloaded as long as the assembly ref is maintained). This however makes other assemblies of the context unusable. So any other assembly (which doesn't have any strong ref to) of the *

[2020-08-10 17:54] echesakovMSFT commented on #40554
I believe it's the same issue as #40354 - the exception is thrown while printing the reloc label.

[2020-08-10 18:03] janvorli commented on #40547
That's not really correct. It makes assemblies of the context that were not loaded yet unusable (in the sense that they cannot be loaded). All assemblies that were already loaded into the context are fine.

[2020-08-10 18:09] agocke commented on #3740
Unfortunately I don't think we're going to get to this for 5.0 either. Moving to 6.0.

[2020-08-10 18:10] torqdev opened #40640 "System.AccessViolationException thrown in System.Threading.ExecutionContext"
# Issue Title

System.AccessViolationException in System.Threading.ExecutionContext

# General

Another headscratcher. Sorry for limited info as I can't easily reproduce. This has happened once after a week of running 24/7. I came back from the weekend to a debugging instance of a console and web app that were running to find this exception thrown by the following code. Not sure if there's any rel

[2020-08-10 18:10] #33948 closed

[2020-08-10 18:13] agocke commented on #32646
Moving this one out until we've identified the root cause

[2020-08-10 18:16] kunalspathak commented on #40354
Thanks for the analysis. Looks like it got introduced by my change in https://github.com/dotnet/runtime/pull/38671. We can move it to Future because I want to make sure we still catch `GTF_ICON_STATIC_HDL` and `GTF_ICON_FTN_ADDR` cases.

[2020-08-10 18:19] sankalan commented on #40547
Ok, I'm with you now.

Referring to your first comment -

This seems like you are only marking the ALCs not really collecting them anyway till ref to an assembly is maintained.
So you may consider not marking the ALCs as "unloading" too. This will keep the complete set alive and usable (allowing to load newer assemblies in the context on demand). Right now it seems all the pieces are there in the

[2020-08-10 18:27] tannergooding commented on #38162
Moving this to future for the time being as the existing behavior goes back to .NET Framework and so I don't think it is particularly critical that we get it fixed for .NET 5.

I think I would need input from @davidwrighton or @jkotas as to what is missing for R2R to start working correctly with `IsHardwareAccelerated` being recursive.
As best as I can tell, there isn't any difference between it a

[2020-08-10 18:28] tannergooding commented on #38162
The changes I had prepped are here, for reference: https://github.com/tannergooding/runtime/commit/b6b555faf46b9860887edb6631eee7d52d1e2e0d

[2020-08-10 18:40] CoffeeFlux commented on #38480
Did we ever get his commit or something equivalent merged? Or does someone (potentially me?) need to take this over and finish up his work?

[2020-08-10 18:41] TamarChristinaArm commented on #33975
Yeah what @echesakovMSFT should work. Could probably increase the chances of getting this exact issue by increasing register pressure.

[2020-08-10 18:42] steveharter commented on #5987
Closing; this does not meet the bar for .NET Framework servicing.

[2020-08-10 18:42] #5987 closed

[2020-08-10 18:44] steveharter commented on #11811
Moving to future due to priority + scheduling reasons.

[2020-08-10 18:45] cston commented on #39897
It looks like the same behavior exists in .NET Framework 4.8.

[2020-08-10 18:52] steveharter commented on #26912
Closing; unable to repro.

Please re-open if we can a repro or additional information on how to repro.

[2020-08-10 18:52] #26912 closed

[2020-08-10 18:54] teo-tsirpanis opened #40622 "Obsolete SuppressIldasmAttribute"
__Edit by @GrabYourPitchforks__: This issue tracks only obsoleting the attribute, not any other ildasm.exe work.

[code]

(What text do we even put there? "This attribute never made any sense to begin with and has no valid use case."? I've based the text proposed above on the `DisablePrivateReflectionAttribute` obsoletion text already in 6.0.)

-----

It has no valid use case, the security against

[2020-08-10 19:01] antonfirsov opened #40624 "Validate and cover HttpClient extensibility"
A follow-up on https://github.com/dotnet/runtime/pull/40506#discussion_r466948246.

In #1793 we identified 8 scenarios, which could be solved by using a custom `ConnectionFactory` in `SocketsHttpHandler.ConnectionFactory`. Ideally the design enables them, however most of those scenarios are still not validated. We need end-to-end tests in `System.Net.Http` to validate and cover these scenarios:
-

[2020-08-10 19:01] antonfirsov commented on #40624
@scalablecory @geoffkizer @stephentoub questions:

- Shall any of the above tests scenarios implemented for 5.0.0 (== ASAP)?
- I believe point 8. has been already covered by [`SocketsHttpHandler_ConnectionFactoryTest`](https://github.com/dotnet/runtime/blob/495e929a8d0957fde4d85945db9a35822679734e/src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs#L114-L150). Correct?
-

[2020-08-10 19:07] am11 commented on #785
@tannergooding, thank you, understood. I saw a similar ongoing PR, where we are reading /proc/cpuinfo on Linux for ARM64 to gather CPU capabilities; and was wondering if it makes sense to level this APIs surface for ARM: https://github.com/dotnet/runtime/pull/40597/files#diff-f808f893e0b21b8950f8284dd17cdc08R91? Perhaps such implementation does not make sense under `System.Runtime.Intrinsics.*` na

[2020-08-10 19:09] danmosemsft commented on #39720
Per discussion in the PR, closing this as acceptable for improved code reuse.

[2020-08-10 19:09] #39720 closed

[2020-08-10 19:18] CoffeeFlux commented on #38480
I'm closing this unless anyone knows of remaining work. The issue's topics seem to be covered.

[2020-08-10 19:26] lewing commented on #40428
closed in favor of https://github.com/dotnet/aspnetcore/issues/24623

[2020-08-10 19:26] #40428 closed

[2020-08-10 19:29] benaadams opened #40625 "StringBuilderTests.<FailureOnLargeString> [InlinedCallFrame] (System.Buffer.__Memmove) test timeout"
Libraries Test Run release coreclr Windows_NT x64 Debug

https://helix.dot.net/api/2019-06-17/jobs/c34b0e31-15cf-4557-819a-06d9c812b956/workitems/System.Runtime.Nls.Tests/console
[code]

Seen in https://github.com/dotnet/runtime/pull/40326#issuecomment-671533869

[2020-08-10 19:30] karelz commented on #35844
Fixed by #39818

[2020-08-10 19:30] #35844 closed

[2020-08-10 19:31] vcsjones commented on #40622
Related / duplicate: https://github.com/dotnet/runtime/issues/13341

[2020-08-10 19:32] karelz commented on #39011
Fixed by #40222

[2020-08-10 19:33] karelz commented on #39011
@wfurt please create tracking issue to add test in our enterprise test lab (in future for Windows as well)

[2020-08-10 19:35] daveyostcom commented on #801
I don't see why this is not feasible. I imagine a dedicated thread that polls the device 20x a second and puts available keys into a [thread-safe queue](https://stackoverflow.com/a/21225922/1390116), to be read asynchronously by ReadKeyAsync().

[2020-08-10 19:37] steveharter commented on #38714
Created doc issue; moving to Future to consider `file://`

[2020-08-10 19:44] hoyosjs commented on #40625
This was present on 11 of the last 100 builds:
[code]

[2020-08-10 19:44] SamMonoRT commented on #39379
cc: @CoffeeFlux will reach out to @safern

[2020-08-10 19:46] SamMonoRT commented on #40065
Assigning to @kjpou1  - not sure if there were more discussions since your last comment with emscripten issue linked.

[2020-08-10 19:56] jeffschwMSFT commented on #40604
@PeterSolMS is this the test you are investigating?  https://github.com/dotnet/runtime/issues/40605 was filed at the same time

[2020-08-10 19:56] benaadams opened #40626 "Restore and Build Product Error in Microsoft.Build.BackEnd.BinaryTranslator.BinaryWriteTranslator.TranslateDictionary"
https://dev.azure.com/dnceng/public/_build/results?buildId=763662&view=logs&jobId=b226872e-8c83-547b-bd09-c26e54b2cebc&j=b226872e-8c83-547b-bd09-c26e54b2cebc&t=06e7eb07-5eae-539d-e778-5b3ef7042fdd

Restore and Build Product
[code]

Seen in https://github.com/dotnet/runtime/pull/40326#issuecomment-671533869

[2020-08-10 20:02] davidwrighton commented on #13672
This work won't make .NET 5.

[2020-08-10 20:08] hoyosjs commented on #40625
Introduced on https://github.com/dotnet/runtime/pull/40500 cc: @danmosemsft

[Sample dump](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-39640-merge-704e93ee2b6846299b/System.Runtime.Tests/9368.tk1ijivb.ro3.dmp?sv=2019-02-02&se=2020-08-30T17%3A57%3A11Z&sr=c&sp=rl&sig=U1KWLzsHSPPUs74tC6J6OcZubb4OfBxnkW9oQElu5Pk%3D) from https://github.com/dotnet/runtime/pull/39640

[2020-08-10 20:09] BrzVlad commented on #40617
This should be easy to do from the interpreter side. There is no need for having a different runtime that has this profiling enabled. When doing this tracking, I would expect a method to be about twice as slow in execution, not including slowness from the logged data with each method entry/exit. While it doesn't sound impossible to enable this profiling while application is running, I'm not sure i

[2020-08-10 20:14] davidwrighton commented on #32629
This doesn't look like an EH issue, but more a debugger problem.

[2020-08-10 20:17] maryamariyan opened #40627 "Test Failure: System.Net.Http.FunctionalTests"
Error Message:
[code]

Stacktrace
[code]

Seen on PR: https://github.com/dotnet/runtime/pull/40568 `(Libraries Test Run release coreclr Windows_NT x86 Debug)`

[2020-08-10 20:18] mangod9 commented on #1869
@AntonLapounov is there any work required here?

[2020-08-10 20:18] tommcdon commented on #32629
May be a duplicate to #10539

[2020-08-10 20:18] tommcdon commented on #32629
@hoyosjs

[2020-08-10 20:20] danmosemsft commented on #40625
Odd. Thanks for the context @hoyosjs . I don't think this was introduced by the product change, but looks like a test issue. I will disable the test now.

[2020-08-10 20:24] mangod9 commented on #39039
Assuming this is similar to 37803, and the perf difference is reasonable.

[2020-08-10 20:26] antonfirsov commented on #40627
Seems like a duplicate of #40564, which should be already fixed by #40565.

That CI run is 2 days old, @maryamariyan can you re-run after a merge?

[2020-08-10 20:28] danmosemsft commented on #40625
Could you please sign off on my PR?

[2020-08-10 20:29] steveharter commented on #38637
Moving to future

[2020-08-10 20:32] maryamariyan commented on #40627
Sure. Also rerunning on #40067

[2020-08-10 20:37] tritao commented on #39945
On .NET Core, the symbol lookup call eventually ends up in https://github.com/dotnet/runtime/blob/b2c7585ba82a2248e7d0afb956c3f17cfbb6d6e7/src/coreclr/src/vm/dllimport.cpp#L5939.

[code]

You could try to put a breakpoint here and check it out. Or just try to create a native sample that does the same and confirm the issue.

[2020-08-10 20:40] lesscodetxm commented on #40412
@carlossanlop I can try to create a clean repo when I get a chance, but I'm not sure what type of file system change is causing it. The folders being watched are on a file share, if that's relevant to the investigation. This same code has been running fine against the same folders under 2.2 for many months now.

[2020-08-10 20:44] wfurt opened #40631 "Add test automation for ChannelBinding and Windows auth"
The regression described in #39011 was caused by some unrelated SslStream changes.
Unfortunately, we do not have good mechanism right now to catch that.
Recently added EnterpriseScenario test runs are focus on Linux and they use docker compose to create multi-machine setup. We will need something similar or at least find a way how to authenticate Windows CI machines to container.
Alternatively, we

[2020-08-10 20:58] danmosemsft commented on #40626
Duplicate of https://github.com/dotnet/msbuild/issues/5232

[2020-08-10 20:58] #40626 closed

[2020-08-10 21:04] josalem commented on #39987
CC @mikem8361 @tommcdon @hoyosjs

[2020-08-10 21:05] abelbraaksma commented on #38872
@pgovind, interesting, so I actually did get an invite to the meeting by mail. Unfortunately, it was only two hours before it started and I wasn't around at the time. Would've been nice to listen in :).

[2020-08-10 21:11] GrabYourPitchforks commented on #11811
If punted, we will have gone __three__ major releases (2.1, 3.1, 5.0) without this functionality. I don't really see many people clamoring to bring this back. If we're unlikely ever to bring it back I'd rather close the issue (and obsolete the type) rather than continue punting.

[2020-08-10 21:12] jkotas commented on #40512
This hook is internal API. It is not something that WinForms or WPF should be using in the current shape.

`System.Diagnostics.Trace.Listeners` is the public API for customization of assertion failures.

[2020-08-10 21:15] jkotas commented on #40512
In case `System.Diagnostics.Trace.Listeners` does not work for WinForms for some reason, we should add a proper public API using standard public API process that does work.

[2020-08-10 21:18] danmosemsft commented on #40625
On my machine, it takes ~6 seconds.
[code]

`net5.0-Windows_NT-Debug-x64-CoreCLR_release-Windows.10.Amd64.Server19H1.ES.Open` -- do you know whether this implies release libraries on debug CLR (and thus debug CRT)?  Or maybe the problem is the machine happens to be short of physical memory.

I could maybe increase the timeout from 60 seconds to 5 minutes, say.

[2020-08-10 21:18] jkotas commented on #11811
I believe that the linker annotations that we investing into are a better approach for taming reflection use. I agree that it is not worth spending time on `DisablePrivateReflection`.

[2020-08-10 21:26] davidwrighton commented on #3107
Compilation with Crossgen is now integrated into the sdk, and "does the right thing".

[2020-08-10 21:26] #3107 closed

[2020-08-10 21:38] maryamariyan commented on #40627
Failed again

[2020-08-10 21:53] wfurt commented on #40627
Arte you sure you have the fix @maryamariyan? @geoffkizer removed the assert so it would be surprising that you would still hit it. If the test fails for other reason, please post full details.

[2020-08-10 21:58] davidwrighton commented on #34345
Contributions to the testing framework are just like contributions to the rest of the product. Please submit PRs, and we will review. It is possible for some PRs to get missed, so if there is a PR of importance to you, please remind us.

With regards to this particular ask, tweaking the generated scripts to consume environment variables is reasonable. The general pattern of check for the presence

[2020-08-10 21:58] #34345 closed

[2020-08-10 22:01] maryamariyan commented on #40627
The PRs I think are not rebased since two days ago, but I reran the failures an hour ago. More info:

https://dev.azure.com/dnceng/public/_build/results?buildId=762500&view=ms.vss-test-web.build-test-results-tab
https://dev.azure.com/dnceng/public/_build/results?buildId=762551&view=ms.vss-test-web.build-test-results-tab

[2020-08-10 22:02] sdmaclea opened #40634 "Arm64 breakpoint causes floating corruption"
When adding a regression test for https://github.com/dotnet/coreclr/pull/28033, @hoyosjs reported the test failed on 5.0 linux-arm64, but not on 3.1 linux-arm64.

[2020-08-10 22:07] tarekgh commented on #37350
moved it to 6.0 but we can bring back to 5.0 if we get chance to look at it.

[2020-08-10 22:07] danmosemsft commented on #40412
Can you capture a dump file, and (if you are comfortable doing so) share it by some secure means? Perhaps Windows already captured one for you.

[2020-08-10 22:08] hoyosjs commented on #40634
@sdmaclea I saw the issue in windows arm64

[2020-08-10 22:12] EatonZ commented on #39488
@danmosemsft Ok, I'll take a look when I get a chance.

[2020-08-10 22:19] danmosemsft commented on #39488
Great! assigned to you.

[2020-08-10 22:22] wfurt commented on #40627
It looks like the branch still has the assert. So ether the rebase missed the fix or there is some other problem.

https://github.com/alefranz/runtime/blob/b476d61ad59fe736b8124c5d8c2a4cb96353daae/src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs#L165

[2020-08-10 22:25] davidwrighton commented on #35062
The PublishReadyToRun property is used for publishing and producing a final shippable collection image for a complete application. As it happens your suggestion of publishing a dummy executable to use our SDK support for producing R2R images that are then manually injected into the process via an assembly load command will work, but you will likely experience problems upgrading between .NET 5 and

[2020-08-10 22:26] lesscodetxm commented on #40412
@danmosemsft I have the dump file for the above stack, but as a contractor I'll need to get permission from my client's security team to egress it from our LAN. That could take a while...

[2020-08-10 22:34] #40335 closed

[2020-08-10 22:41] benaadams commented on #40625
Might be extra time due to swapping

[2020-08-10 22:42] benaadams commented on #40625
Might be extra time due to swapping; can you conditionally disable based on machine memory? (e.g. < 16GB don't run)

[2020-08-10 22:55] echesakovMSFT commented on #40542
@CarolEidt I managed to repro this on linux-arm64 top of f4efb11817d97535aa947855fe66ff4622e030e6

[code]

I setup the environment as in the CI
[code]

[2020-08-10 22:56] sdmaclea commented on #40634
Does it pass on 5.0 linux-arm64?  Or do you know?

[2020-08-10 22:56] hoyosjs commented on #40625
No, this is Debug libraries on top of retail coreclr (this is a libraries test):
![image](https://user-images.githubusercontent.com/19413848/89836788-5b90b980-db1c-11ea-9df8-77514e8f230e.png)

The dump is inside `VC\Tools\MSVC\14.28.29115\crt\src\x64\memcpy.asm:114`:
[code]

with: `RCX: 0x00000001C7E1810, RDI: 0x0000021324CB2000, RSI: 0x0000000032502020`

The Q/call was
[code]

That seems to be wo

[2020-08-10 23:01] sdmaclea commented on #40634
At the moment I don't have access to a Windows-arm64 machine.  If you have the JIT assemble for the failing function (where the breakpoint is set to corrupt the floating point), I can take a look and see if it is an uncovered pc relative data load case that we missed in the patch function.

The other possibility since this is Windows, would be checking we are properly saving/restoring the float re

[2020-08-10 23:04] danmosemsft commented on #40625
Hmm, so what's special about the configurations where it works OK? Do those machines/containers have more RAM?

[2020-08-10 23:08] samsp-msft opened #40638 "Building a self contained, then single file version of app will build bad single file version."
In working on a blog post for single file, I have been building a set of different publish versions of the app. I had been deleting the bin and obj folders between each trim mode, but not between self contained and single file. The latter failed if the bin & obj had not been cleaned first.
It seems like dotnet publish should include a clean as part of its build steps - if it can't handle what is a

[2020-08-10 23:11] hoyosjs commented on #40625
I've seen it fail only in two queues: `Windows.10.Amd64.Server19H1.ES.Open` and `windows.10.amd64.serverrs5.open` inside a nano server container. @dotnet/dnceng, are these two queues somehow different? I tried to get details on the queue, but I can only see they have a scale limit of 20 for the Spanish queue. However, no information on cores, processor, or memory available in them, and I don't kno

[2020-08-10 23:32] jkotas commented on #38162
One problem that I can see in your delta is that the mustExpand expansion will kick in only for `FEATURE_HW_INTRINSICS` and so it will not work on ARM. I think it needs to be unconditional outside `FEATURE_HW_INTRINSICS` ifdef like the `NI_IsSupported_True` / `NI_IsSupported_False` for regular hardware intrinsics.

Also, you may need a matching change in Mono.

The zapper side of your delta looks

[2020-08-10 23:33] cston commented on #479
This is a change in behavior from .NET Framework. With .NET Framework 4.8, the compiled expression returns `true` for all cases in the bug description, including `{ typeof(decimal?), 1m }`.

[2020-08-10 23:33] RChrisCoble commented on #38367
Chrome started supporting WebAsembly Threads in 2018:

https://developers.google.com/web/updates/2018/10/wasm-threads

[2020-08-10 23:38] vcsjones commented on #40578
It's technically the max of whatever that version of Windows is willing to tolerate. I have no idea if the cap is say, 5 minutes on Windows 7 / 8, then negative number corresponds to 5 minutes.

[2020-08-10 23:40] wfurt commented on #35839
I was planning to close this with #35844 "pre-validated immutable full certificate chain" and add test to verify that once certificate context was built. (Both calls to BuildNewChain @davidfowl mentioned are gone)

That proved to be challenging as even if the server does not do I/O, client will and there is no good way how to separate client and server with current test infrastructure.
Also #35844

[2020-08-10 23:49] MihaZupan commented on #40606
Fails very frequently across all **amd64** queues since `2020-08-07`.
So far in #40338, #40108, #39201 and master

[2020-08-10 23:51] kouvel commented on #40639
I don't see how this can happen normally. Might be some sort of corruption. Could you please take a crash dump if it happens again? See https://github.com/dotnet/runtime/issues/40640#issuecomment-671643587.

[2020-08-11 00:02] danmosemsft commented on #37186
Again in https://github.com/dotnet/runtime/pull/39640/checks?check_run_id=967884795

[2020-08-11 00:03] carlossanlop commented on #31429
@Jozkee will help revert the change

[2020-08-11 00:03] philieu commented on #40288
Just a quick update. We've upgraded the .net core version to 3.1.6. However, we are still seeing the issue from time to time.

[2020-08-11 00:06] danmosemsft commented on #37186
I was inclined to move this out, but there is a possibility this is a product bug, so it woudl be good to at least attempt to loop it locally.

[2020-08-11 00:09] #30714 closed

[2020-08-11 00:11] danmosemsft commented on #40625
Happy to make it conditional on >16GB (it would still run locally) but it would be good to get the answer to your question.

[2020-08-11 00:15] hoyosjs commented on #40634
I don't know. This wasn't running.

Yeah, that's the next step. Just haven't gotten around to it. Will try to get it running on the ARM64 devices in the office.

[2020-08-11 00:22] CoffeeFlux commented on #35219
Keeping open until the issues.targets is updated.

[2020-08-11 00:22] mikem8361 commented on #40558
The vstest/helix integration effort, Watson and anybody else generating coredumps in docker containers need to uniquely name the coredumps based on these coredump pattern features.

[2020-08-11 00:33] pgovind commented on #38872
You didn't miss it. It's tomorrow (Aug 11) :)

[2020-08-11 00:36] MihaZupan commented on #40115
Looks like the test is failing even after #40464

[2020-08-11 00:54] terrajobst commented on #38872
@abelbraaksma

Apologies -- my email was confusing. It's scheduled for August 11, 10 AM PST, which is August 11, 10 AM PDT, which is 19:00 CEST, which should be your timezone. The meeting is scheduled for two hours and this issue will be discussed an hour into the meeting. Hope this helps :-)

[2020-08-11 01:13] #40093 closed

[2020-08-11 01:19] AndyAyersMS commented on #40430
@jpapp05 I would love to hear more about your app, and the above issue specifically, as it's one of my key concerns. Feel free to contact me offline (via email in profile) if that helps.

[2020-08-11 01:22] #13041 closed

[2020-08-11 01:30] echesakovMSFT commented on #32714
Here is what I found so far.

Allowing `Vector128.As`, `Vector128.AsByte` - `Vector128.AsUInt64` to be unconditionally expanded when compiling S.P.C.dll leads to these results
[code]

If, in addition to `As*` methods, also treat the following as intrinsics - `Vector128.Create`, `Vector128.CreateScalarUnsafe`, `Vector128.ToScalar`:
[code]

Do this for `Vector128<T>.Count` and `Vector256<T>.Count` *

[2020-08-11 01:40] vsevolodp commented on #38183
I remeasured implementation with your change. It is almost as fast as BCrypt PInvokes or OpenSSL on Windows.

I'm closing this issue.

BenchmarkDotNet=v0.12.1, OS=Windows 10.0.19041.388 (2004/?/20H1)
Intel Core i7-6700 CPU 3.40GHz (Skylake), 1 CPU, 8 logical and 4 physical cores
.NET Core SDK=5.0.100-rc.1.20407.13
  [Host]        : .NET Core 3.1.6 (CoreCLR 4.700.20.26901, CoreFX 4.700.20.31603), X

[2020-08-11 01:40] #38183 closed

[2020-08-11 01:59] benaadams commented on #40625
I'd guess >= 16GB would be better 😉

[2020-08-11 02:05] benaadams commented on #32714
Doesn't look to be introducing any instructions that aren't already there, just removing some cruft?

[2020-08-11 02:42] elachlan commented on #40561
@jkotas You have been involved in the code style guide previously. What are your thoughts on this?

[2020-08-11 02:59] steveharter commented on #28046
@MichalStrehovsky do you recall the scenario? I was unable to find a repro with that code path.

I assume some combination of a base class and derived class with open and closed generic parameters.

[2020-08-11 03:25] jkotas commented on #40561
I do not have an opinion on this one.

@danmosemsft ?

[2020-08-11 03:26] #35349 closed

[2020-08-11 03:27] kouvel commented on #31613
This seems to have something to do with JIT timing. I have seen some cases before where different loop alignment led to noticeable regressions when tiering is enabled. It could also be better at random, but naturally the regressions are more noticed. Adjusting timing of rejits by changing the call count threshold seems to change the perf significantly. Code locality may also be relevant, as I noti

[2020-08-11 03:44] halter73 commented on #40249
Kestrel already goes **very** far out of its way to be as forgiving as possible to the client before receiving the first ACK. I don't know that it really can be more forgiving.

@jkotalik worked on https://github.com/dotnet/aspnetcore/pull/12704 which allows the server to track double the configured `MaxStreamsPerConnection` so Kestrel can respond with ENHANCE_YOUR_CALM stream errors before finall

[2020-08-11 04:09] steveharter commented on #28046
Moving to future until we can get a repro.

The existing test cases in `System.Reflection.Tests.TypeTests.TestMethodSelection1` do exercise similar code paths but do not have a case where:
- Base class and derived class both have generic methods of same name and sig
- One generic is open, and the other closed

Adding variants of this was unable to repro.

[2020-08-11 04:14] davidfowl commented on #40249
Did we test other servers? Nginx, envoy, http.sys?

[2020-08-11 04:21] JamesNK commented on #40249
I tested with IIS and couldn't replicate refused streams. However it is hard to tell what was going on between the client and server with IIS. It doesn't provide low-level logging of incoming and outgoing frames on the server, and because IIS requires TLS for HTTP/2 I couldn't check in Wireshark (TLS + Wireshark doesn't want to work on my dev machine)

[2020-08-11 04:44] danmosemsft commented on #40561
I believe we have a defacto preference for avoiding Yoda's (preference, we have...). There is no safety advantage except for bools and it isn't how you read it in your head (if null is Foo vs if Foo is null)

@bartonjs who normally is opinionated about style on the team?

[2020-08-11 04:45] danmosemsft commented on #40561
Plus consistency is good if nothing else and it sounds like there's an analyzer and a volunteer.

[2020-08-11 04:49] jkotas commented on #40561
Not always. For example, the analyzer complains about `Debug.Assert(0 <= index && index <= searchSpaceLength);`

[2020-08-11 04:54] mangod9 commented on #40288
Were you able to capture a dump?

[2020-08-11 05:16] bartonjs commented on #40561
While I believe you're asking me who (else) is normally opinionated, without the question mark (and inserting a comma) it just becomes "Jeremy, who normally is opinionated", which holds, too :smile:.

When it comes to style preferences, I'm possibly the most opinionated (or just the most vocal), followed by @stephentoub.  The rule, when I ask myself what my rule is, is "the most important thing go

[2020-08-11 05:51] danmosemsft commented on #40561
Lol

OK I think this is a tentative consensus..
@elachlan do you want to offer a PR? Maybe if there are going to be a lot of changes just limit to a few libraries initially and we can see what it looks like?

You mentioned there's an analyzer, I'm not sure what our criteria are for the level of quality of analyzers we allow in our build process but at least it should help you find them for your ef

[2020-08-11 05:53] MatthewDavidCampbell opened #40647 "TLS 1.0 + 1.1 support past end-of-life in HttpClientHandler"
Want to check-in (i.e. this is just a question) on the effects of end-of-life for TLS 1.0 + 1.1 come Q3 | Q4 2020 to how Kestrel handles default SllProtocols.  It looks all versions of TLS will still be available when handling client requests (at least peeking at the test cases for HttpClientHandler).  Interpret the end-of-life for TLS 1.0 + 1.1 as a browser restriction not a general Http client r

[2020-08-11 05:58] wfurt commented on #40647
If this is really question about Kestrel, this is wrong repo @MatthewDavidCampbell . https://github.com/dotnet/aspnetcore would be better place IMHO.
As far as SslStream, the support will depend on underlying OS platform and OS configuration.

[2020-08-11 06:07] elachlan commented on #40561
@danmosemsft Sure. Do you want me to update the code style guide as well? What language do you want to use for the rule?

[2020-08-11 06:08] MatthewDavidCampbell commented on #40647
@wfurt Yes.  Looked at the test cases with SslStream.  Closing this question.

[2020-08-11 06:08] #40647 closed

[2020-08-11 06:32] danmosemsft commented on #40561
I suggest just a code PR first so we can get an idea of what the scale of the changes are.

I don't follow...we're not suggesting you write an analyzer. We don't store them in this repo anyway.

[2020-08-11 06:33] elachlan commented on #40561
sorry, I meant the wording of the rule in the Code Style Guide.

I'll get the PR sorted first :)

[2020-08-11 06:35] gaviriar commented on #33571
Hi There, I seem to be having a very similar issue to this. However the slight difference is that on one project on my environment dontet build. Whereas on the other project my build gets stuck.

**My Enviromennt**
[code]

**Output when calling `dotnet build /b`:**
[code]

I also have the dump file, but it seems to be too big to share on this thread. But please let me know and I will happily share

[2020-08-11 06:36] ManickaP commented on #40606
Hit in #39201

[2020-08-11 06:38] ManickaP commented on #33943
Recent hit in #39201: https://dev.azure.com/dnceng/public/_build/results?buildId=763962&view=ms.vss-test-web.build-test-results-tab&runId=23736822&resultId=104533&paneView=debug

[2020-08-11 06:51] v-haren commented on #34888
failed again in job: [runtime-libraries outerloop 20200810.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=763270&view=ms.vss-test-web.build-test-results-tab&runId=23713554&resultId=103049&paneView=debug)

failed test: Microsoft.Win32.SystemEventsTests.CreateTimerTests.TimerElapsedIsRoughlyEquivalentToInterval(interval: 500)

Error message
[code]

[2020-08-11 07:22] philieu commented on #40288
@mangod9, I've loaded the dump for 3.1.6 version to the OneDrive folder that previously shared with @danmosemsft .

Please let me know if you need me to resend the share link.

[2020-08-11 07:27] MichalStrehovsky commented on #28046
If I'm reading this code correctly, this code path is only reachable from `GetImplicitlyOverriddenBaseClassMember` in `MetadataLoadContext` and that method is dead code.

Please double check and if so, we can probably close and open an issue to deleted dead code instead. I assume `MetadataLoadContext` is not able to do things like get a list of inherited custom attributes as a result because this

[2020-08-11 07:27] buyaa-n commented on #37359
Checklist for all new requirements related to applying new [design ](https://github.com/dotnet/designs/blob/master/accepted/2020/platform-exclusion/platform-exclusion.md) requirements. Related issue https://github.com/dotnet/runtime/issues/39989

- [x] Rename `MinimumOSPlatformAttribute` to `SupportedOSPlatformAttribute` and `RemovedInOSPlatformAttribute` to `UnsupportedOSPlatformAttribute`, updat

[2020-08-11 07:34] aijkl opened #40650 "Unable to draw certain string"
### Unable to draw certain string
Contents that can be drawn on Windows cannot be drawn on Debian.
Is this a bug in the Graphics class?
If the last character is a specific symbol, it cannot be drawn. The symbol I am checking now is 》.

Is there anyone other than me who has the same symptoms with .NET Core 3.0 Debian Noto Sans JP?
This happens even without using Japanese fonts. English is the same.

[2020-08-11 07:55] kkokosa commented on #40585
So, what you really want is to have a deterministic (or at least "capped") GC pauses. This sounds more like "make the GC more aggressive" story, while API you suggest seems to be a pretty detailed, specific solution. With not so obvious consequences, as stated before - as, AFAIK, the GC pause relation to any combination of number of allocated object, number of reachable objects or number of inter-

[2020-08-11 08:10] PeterSolMS commented on #40604
@jeffschwMSFT I was looking at a different test, but the symptoms look identical.

[2020-08-11 08:10] kshaa commented on #28736
I also encountered a similiar problem today both on .NET Core 3.1 and .NET Core 5.0 Preview 7.0 while running Ubuntu 20.04 LTS.

I was sending an HTTP GET request to `http://www.example.com/Pages/Home.aspx` (not actually example.com) and received back a 302 status code with `Location: https://www.example.comPages/Home.aspx`, which is obviously a bug in the endpoint I was communicating with. Howeve

[2020-08-11 08:23] jeevasusej commented on #593
I cannot ignore the property from the json, but I can remove the value. Implementation as follows,

[code]

[2020-08-11 08:24] jakubstilec commented on #40625
@hoyosjs checking now

[2020-08-11 08:26] Safirion commented on #40616
You are right. But this leak happen in release mode too 😉

![image](https://user-images.githubusercontent.com/11511729/89875087-11134980-dbbd-11ea-8c8e-b006710a834a.png)

[2020-08-11 08:49] #40616 closed

[2020-08-11 08:52] Safirion commented on #40616
I found my mistake :

This version has no leak :
[code]

[2020-08-11 08:53] sandreenko opened #40651 "assert `Failed to SetThreadContext in RedirectThreadAtHandledJITCase - aborting redirect.`"
I was trying to write a repro case for #13041 but hit another VM assert:
`Assert failure(PID 105560 [0x00019c58], Thread: 99252 [0x183b4]): bRes && "Failed to SetThreadContext in RedirectThreadAtHandledJITCase - aborting redirect."`

The test runs many threads with stack-allocated buffer and there is a separate thread that is calling GC.Collect, I do not think it does anything illegal.

<details>

[2020-08-11 08:53] sandreenko commented on #40651
PTAL @jkotas @janvorli

[2020-08-11 09:03] elachlan commented on #40561
Roslynator has a vs extension which allows refactoring. So it doesn't need to be included in the project. It only deals with nulls on the left side though vs the stylecop analyzer which finds all constants on the left hand side.

https://github.com/JosefPihrt/Roslynator/blob/master/docs/analyzers/RCS1098.md

[2020-08-11 09:13] ksemkav commented on #33571
Hello. We have also similar issue on build agent with several CPUs, on buildagents with one it works fine.
The one with 2 CPUs:
`.NET Core SDK (reflecting any global.json):
 Version:   3.1.302
 Commit:    41faccf259

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/3.1.302/

Host (useful for support

[2020-08-11 09:15] stephentoub commented on #40561
https://github.com/dotnet/runtime/blob/0d6d73a6439e394e3ea81ae60b286ecc1ba41691/eng/CodeAnalysis.ruleset#L295

[2020-08-11 09:20] jakubstilec commented on #40625
@hoyosjs both Windows.10.Amd64.Server19H1.ES.Open and windows.10.amd64.serverrs5.open are Standard_D2_v3 - 2CPU, 8GB RAM.
We have another queue Windows.10.Amd64.Server19H1.Open similar to Windows.10.Amd64.Server19H1.ES.Open. Only difference is that it's using a little older version of image and US version. But VMs are the same.

[2020-08-11 09:26] hoyosjs commented on #40634
This was the original sample program:

[code]

<details>
<summary>IL</summary>

[code]
</details>

[code]

and I see that the data it will load in d0 and d1 is as expected:
[code]

After the patch we end up with:
[code]
If I look at the patch I see this
[code]

1) The `encVersion` makes no sense, but that's a separate issue.
2) This is the correct address + offset + opcode (0x5c000420)

I see that

[2020-08-11 09:31] TobiasKnauss opened #40653 "CollectionAssert.AreEqual does not compare the types of the collections"
### Description

I have written a unit test that contains the following line:
[code]

From the name of the method you should already be able to see that this code is wrong. The method `ToWords` creates a `ushort[]`, but the test compares it to a `byte[]`.
This test should fail, but it actually passes, because `CollectionAssert.AreEqual()` works as specified in the documentation:

In my opinion, th

[2020-08-11 10:46] abelbraaksma commented on #38872
@terrajobst, @pgovind, Thanks, you're right, I misread: it's indeed today ;) (I actually clicked the meeting link and it said there was nobody, I drew the wrong conclusion :P). As it looks now, I'll be online by then.

[2020-08-11 11:14] alnikola commented on #40249
@davidfowl I tested with HTTP.SYS running under Asp.Net Core and did **not** see any REFUSE_STREAM errors. Test sent 1000 concurrent requests and HTTP.SYS was configured to allow only 1 stream per connection (`Http2MaxConcurrentClientStreams = 1`). All requests completed successfully. **The absence of refused streams was confirmed under the debugger.**

[2020-08-11 11:43] MaceWindu opened #40654 "[System.Data.Odbc] GetSchemaTable fails with OverflowException for x64 ODBC driver"
### Description

Calling `OdbcDataReader.GetSchemaTable` for reader that contains blob column fails with OverflowException in 64-bit process.

Used driver: "HDBODBC" (SAP HANA ODBC driver)
Column types: `BLOB`, `CLOB`, `NCLOB`, `TEXT`

### Configuration

OS: Windows
Bitness: 64-bit process
Framework: any

### Regression?

Not regression, but bug. Also fails for .net framework.

### Other informati

[2020-08-11 11:46] kouvel commented on #31613
I see large differences in time spent in a function when the function's code crosses a cache line boundary. For small functions it may help to align them such that they would fit within a cache line.

[2020-08-11 12:05] bozturkMSFT opened #40655 "Setting `WebProxy.BypassList` to null throws"
### Description

Setting `BypassList` to null on a `System.Net.WebProxy` instance throws `ArgumentNullException - Collection cannot be null. (Parameter 'c')`

Running the following snipped is sufficient to reproduce the issue:
[code]

### Why is this an issue?
1. [Official documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.webproxy.bypasslist?view=netcore-3.1#System_Net_WebProxy

[2020-08-11 13:02] kostasvl commented on #40484
It took a LOT of effort to get the Unreal Engine to interface with C# via C++/CLI. I thought about giving up, every step of the way! See here: https://github.com/EpicGames/UnrealEngine/pull/6245. If you can't access that, I printed it to pdf and uploaded it here: https://drive.google.com/file/d/1SMBep2D1cZHMbPRzuQYhas7d8-CgfPZU/view?usp=sharing.

If Microsoft were to address all those issues, I'm

[2020-08-11 13:05] kouvel commented on #40444
Looks like this repros in .NET Core too. Regarding:

[code]

The memory load appears to have been hoisted outside the loop, shouldn't the memory barrier have prevented that? Moving to CodeGen area for now.

Typically stores are not reordered, but to be perfectly correct `finished = 1` probably should be a volatile write instead. Otherwise it is theoretically possible that `finished == 1` would be

[2020-08-11 13:28] elachlan commented on #40561
Is there a way to open src\libraries\Common\src as a solution? That would make it a lot easier.

[2020-08-11 13:34] codingmoi commented on #30435
I'm using Mac OS 10.15.5, .Net Core 3.1, and I have the same issue. Is there any update for this?

[2020-08-11 13:46] steveharter commented on #28046
See the linked PR -- I can hit that branch, just not trigger the exception you reported. I'll create another PR to remove that dead code. Thanks

[2020-08-11 13:50] steveisok commented on #40536
I think this might be an issue with emscripten.  @mdh1418 Can you create a simple example that creates a file and tries to move it w/ and w/o a slash on the end?  If it errors similarly, then I think we can close this issue.

[2020-08-11 13:58] steveharter commented on #26506
Moving to future based on schedule + priority.

[2020-08-11 14:04] steveharter commented on #16614
Created the docs issue.

Changing to API-needs work.

Moving to future based on schedule.

[2020-08-11 14:07] qsdfplkj commented on #29937
I use the following polymorphic json converter which serializes interfaces and abstract classes (or properties) with type metadata and uses that for deserialization. (See also my previous comment for my thoughts on polymorphic serialization.)

This converter serializes an object or property that is declared as abstract or interface as follows:
{  $type: typeof(T).AssemblyQualifiedName, $value: { p

[2020-08-11 14:09] steveharter commented on #36682
In order to detect this case, we need a concise repro. @RustyDes is you have one please add it here.

[2020-08-11 14:10] steveharter commented on #36682
@DevDrake please create a new issue with scenarios for this.

Internally, [the tests use a "Project()" method](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Reflection.MetadataLoadContext/tests/src/TestUtils/TestUtils.JittedRuntimes.cs#L11-L14). This or a similar API could be added.

[2020-08-11 14:11] steveharter commented on #36682
Moving the "infinite recursion detection issue" to Future based on schedule + priority.

[2020-08-11 14:12] steveharter commented on #31195
Moving to future based on priority + schedule.

[2020-08-11 14:14] steveharter commented on #36278
Propose moving this to future based on schedule + priority. Any thoughts before I do that?

[2020-08-11 14:15] adamsitnik commented on #40357
Fixed by #40373

[2020-08-11 14:15] #40357 closed

[2020-08-11 14:15] antonfirsov commented on #40606
@MihaZupan I'm terribly confused about date formats. Does this mean 8th of July or 7th of August?

In the latter case I blame #40344. @geoffkizer it looks no OuterLoop test run happened in that PR.

[2020-08-11 14:15] steveharter commented on #28056
Moving to future based on schedule + priority.

[2020-08-11 14:16] adamsitnik commented on #11390
It has been solved quite a while ago.

https://github.com/dotnet/performance/blob/master/docs/benchmarking-workflow-dotnet-runtime.md
https://github.com/dotnet/performance/blob/master/docs/profiling-workflow-dotnet-runtime.md

[2020-08-11 14:16] #11390 closed

[2020-08-11 14:17] geoffkizer commented on #40606
Yep, it's probably from my PR. Will take a look.

[2020-08-11 14:17] steveharter commented on #7430
Moving to future based on schedule + priority.

Please add additional hits to this issue to increase priority.

[2020-08-11 14:19] steveharter commented on #19478
Closing this. If there are additional hits or other reasons to re-open, please do so.

[2020-08-11 14:20] MihaZupan commented on #40606
7th of August

I try to use the Y-M-D (instead of ?-?-Y) format as much as possible to avoid the month vs date confusion. Should have named the month though😄

[2020-08-11 14:20] steveharter commented on #20909
Moving to future based on priority + schedule.

[2020-08-11 14:22] steveharter commented on #31895
Closing this for 5.0.

For 6.0, a new Epic issue may or may not be created to track the high-level goals and backlog.

[2020-08-11 14:22] #31895 closed

[2020-08-11 14:24] antonfirsov commented on #40606
@MihaZupan `Y-M-D` should be the one and only valid date format, [everyone else](https://en.wikipedia.org/wiki/Date_format_by_country#/media/File:Date_format_by_country_NEW.svg) is wrong IMO.

[2020-08-11 14:25] antonfirsov commented on #40606
@geoffkizer could this do something with the fact that `NetworkError.InvalidAddress` is missing from your PR? (But not the API proposal)

[2020-08-11 14:27] geoffkizer commented on #40606
I don't think so. I think there's just some logic somewhere that's testing for HostNotFound and it's not mapping it correctly now. Shouldn't be hard to find.

[2020-08-11 14:29] MichalStrehovsky commented on #28046
Looking at the linked PR, if you say we're hitting the branch with t1 = some generic type and t2 = `int` - that should throw an exception when calling `GetGenericDefinition` on the `int`. If we're not hitting the code path in that order, try reordering the methods or throwing in some extras whose parameter is not a generic type...

Also,could it be that the equivalent of `typeof(int).GetGenericDef

[2020-08-11 14:33] jkotas commented on #19478
Tests are disabled against this bug. If it is by design, we should delete the test.

[2020-08-11 14:34] steveharter commented on #39806
Yes even if `RuntimeFeatures.IsDynamicCodeCompiled` returns false, the Emit code will still there for CoreCLR and will get executed if called. So the source would need to be stripped out.

[2020-08-11 14:34] steveharter commented on #39806
Moving to future; this week is the last week before ask mode.

[2020-08-11 14:55] jkotas commented on #40651
It does not repro for me.

This assert suggests that we are hitting Windows OS bug. @mangod9 @jeffschwMSFT

Can you check the state of the thread that we are trying to call SetThreadContext on and see whether there is any pattern betweeen multiple hits? E.g. does it only happen when the target thread is executing specific instructions?

[2020-08-11 15:04] maloo commented on #37841
@Jozkee How can we proceed on this? If you don't give me a suggestion of what type of fix (api change or internal hack) I will not even be able to do a pull request. Could you at least tell me what solution you would prefer for a PR of this issue?

[2020-08-11 15:33] steveharter commented on #31326
Closing this as fixed for 5.0.

If this repros still on 5.0, please re-open.

[2020-08-11 15:33] #31326 closed

[2020-08-11 15:45] MihaZupan commented on #40436
Looks like the test is failing even after #40464

[2020-08-11 15:55] AndyAyersMS commented on #40581
I'll take a look. @RevensofT any chance you can point me at a more complete repro case?

[2020-08-11 16:00] AndyAyersMS commented on #31613
#2249 added 32 byte alignment for tier1 methods with loops; might be interesting to try this for all tier1 methods.

[2020-08-11 16:32] maryamariyan commented on #34888
I'll change the interval then

[2020-08-11 16:36] carlossanlop commented on #37301
@iSazonov can you take a look at [the PR](https://github.com/dotnet/runtime/pull/40641), please?

[2020-08-11 16:39] #1816 closed

[2020-08-11 16:57] #1237 closed

[2020-08-11 17:06] steveharter commented on #11811
Agree. Closing.

[2020-08-11 17:06] #11811 closed

[2020-08-11 17:07] echesakovMSFT commented on #32714
Yes, they shouldn't be introducing any instructions outside of baseline ISAs - this is how I hand-picked the methods by looking at the corresponding codegen code.

[2020-08-11 17:09] Clockwork-Muse commented on #40653
This was almost certainly done to make it **easier** to test the output of most methods.  For instance, some objects may use and return an internal type, exposing only that they use the `ICollection` (or some other derived) interface - you won't be able to check the type there.
Note that it's _rare_ that the type of the collection matters - if it does, you would want an explicit type check test, i

[2020-08-11 17:09] MichalStrehovsky commented on #11811
Do we have an issue tracking updating documentation?

[2020-08-11 17:33] macriluis opened #40723 "Incorrect Time Zone in Blazor WASM"
### Describe the bug
Using a Windows PC, you set your Time Zone as (UTC-03:00) City of Buenos Aires
In Blazor WebAssembly client, the Time Zone is UTC.
### To Reproduce

Create  a new Blazor WebAssembly app.

In Index.razor add:

    Your Time: @DateTime.Now.ToString()
    Your Time Zone: @TimeZoneInfo.Local.DisplayName
<br />

In Control Panel or Configuration, set the Time Zone as (UTC-03:00) Ci

[2020-08-11 17:33] #860 closed

[2020-08-11 17:33] #1496 closed

[2020-08-11 17:39] pedramrezaei opened #40670 "A cheaper linked cancellation token source?"
Often, we need to create linked cancellation tokens in the context of an operation. Unfortunatley, `CancellationTokenSource.CreateLinkedTokenSource` requires **heap allocation** that increases pressure on GC. Can we have a linked cancellation token source that is a value type?

This is what I often need to do:

[code]

It would be nice if we could do something like this where `LinkedCancellationTo

[2020-08-11 17:42] terrajobst commented on #37539
* Zero byte reads are technically a violation of the `Stream.Read()` contract, but granted many streams probably support it by accident.
* We should have an API on `Stream` instead
* We should validate the `SslStream`, `SocketListenerStream`, `NetworkStream`, and other compression streams
* This should be investigated and the API proposal should be updated

[code]

[2020-08-11 17:47] GrabYourPitchforks commented on #37539
For reference, here's the snippet [from MSDN](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.read):

The contrapositive to this statement is "if there might be more data in the stream, `Read` returns a non-zero value." Combined with that `Read` cannot return a negative value and that it cannot return a value greater than the number of bytes requested, the only logical conclusion is t

[2020-08-11 17:47] davidwrighton commented on #32714
That seems reasonable to do, although we need to take care to put documentation in the code about why this is ok, and notes in the codegen code about this.

[2020-08-11 17:59] GrabYourPitchforks commented on #11811
Opened https://github.com/dotnet/dotnet-api-docs/issues/4646 to track.

[2020-08-11 18:03] davidwrighton commented on #743
This isn't going to happen in .NET 5

[2020-08-11 18:06] jaredpar opened #40674 "Disposing NamedPipeServerStream does not cancel WaitForConnectionAsync"
Calling `Dispose` an a `NamedPipeServerStream` which is currently inside `WaitForConnectionAsync` does not cancel the underlying listen event when there are multiple `NamedPipeServerStream` instances active on the same named pipe. This can result in future `NamedPipeClientStream.Connect` calls going to the disposed `NamedPipeServerStream` instead of the non-disposed ones.

Consider the example bel

[2020-08-11 18:09] vcsjones commented on #38875
To clarify one thing: URT has no affect on AIA fetching in Windows. As far as I can tell, there is no way to control AIA fetching timeouts in Win32.

[2020-08-11 18:11] davidfowl commented on #37539
Please don't couple the 2 APIs together. If the wrapping Stream doesn't support zero byte reads then it should throw (or return 0 I guess?). When it does though, like SSLStream and NetworkStream, this passthrough should just work.

[2020-08-11 18:13] #39870 closed

[2020-08-11 18:14] #35060 closed

[2020-08-11 18:26] maryamariyan commented on #36010
@Coderrob thanks I saw the update on the PR. But as discussed in the PR the best next step on this would be to prepare the API proposal, usage, etc. in the issue page here (following https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md).

Since usually API reviews might take a little churn you might end up wanting to close the PR at some point and reopen once this issue

[2020-08-11 18:27] #40543 closed

[2020-08-11 18:31] danmosemsft commented on #40561
@elachlan no I don't think so. Can you enable the rule, build, and pipe the output through VS or VS Code or some other tool that makes the errors clickable? (I'm assuming it doesn't auto fix?)

[2020-08-11 18:32] scalablecory commented on #37539
What we heard was that it was not critical for Kestrel in 5.0, so a foolproof end-to-end usage is better. If critical, we can accept the API separately and demand good documentation that it expects non-standard Stream behavior.

[2020-08-11 18:35] terrajobst commented on #38872
* The type is currently serializable and people do serialize the exception by catching `ArgumentException` (or `Exception`). To preserve cross-framework deserialization, like when someone deserializes this exception on .NET Framework (or earlier versions of .NET Core), we need to keep serializing as `ArgumentException`, not as `RegexParseException`.
* This also means that that `Error` and `Offset`

[2020-08-11 18:40] davidfowl commented on #37539
It's not critical for Kestrel in 5.0 but that's not the point of this API. I don't mind adding the API to stream either but the purity argument being made doesn't change the API on StreamPipeReader, nor does it change what happens if the underlying Stream doesn't support it. This API is .NET Standard 2.0 so it runs in all the places (where there won't be a new WaitForDataAsync API).

For all you k

[2020-08-11 18:41] terrajobst commented on #38872
@danmosemsft, can we consider this for .NET 5? Seems easy enough :-)

[2020-08-11 18:43] davidwrighton commented on #37875
This api is not supported. It was built for internal runtime team support, and not intended for use outside of special purpose build logic. In addition, there are no tests, or spec for the attribute, and the mono runtime does not support the attribute.

[2020-08-11 18:44] jkotas commented on #40270
@akoeplinger Is it possible to build Mono-based runtime stack for older generation ARM processor from dotnet/runtime repo?

[2020-08-11 18:44] Jozkee commented on #40561
@elachlan not sure if this is what you are referring to but if you are trying to automatically detect/apply a rule/fix across multiple projects you can run this script https://github.com/dotnet/runtime/blob/master/src/libraries/GenerateLibrariesSln.ps1 which creates a solution with all the `csproj`s in src/libraries, its way easier than going project by project.

[2020-08-11 18:44] mangod9 commented on #40288
ok thanks, will check with Dan.

[2020-08-11 18:45] scalablecory commented on #32081
This appears resolved with my recent P/Invoke changes; I'm going to close this until we see it again.

[2020-08-11 18:45] #32081 closed

[2020-08-11 18:47] abelbraaksma commented on #38872
In Jeremy Barton's words at the meeting: "it would be good if people using reflection currently could fix their code to the public version by doing a `x + 1` on each value (due to the new `Unknown` on top)". I agree that this is reasonable and to keep the original order, tooling will do the alphabetizing anyway.

[2020-08-11 18:48] scalablecory commented on #32073
Moving this to 6.0, @jkotalik does that sound okay given this will be experimental feature, and QuicListener is generally disposed at end of program in ASP.NET?

[2020-08-11 18:49] sdmaclea commented on #40634
Thanks @hoyosjs that is a lot of great info.  I think I understand everything except the patch stuff.  What is the `offset`?  I assume you meant 0x34 was the correct value for the offset.

[2020-08-11 18:49] scalablecory commented on #32071
@jkotalik moving to 6.0 -- did you find a way to use a server cert with Kestrel?

[2020-08-11 18:50] davidwrighton commented on #13510
@mangod9 I don't actually know which docs are referred to here. Do you have context?

[2020-08-11 18:51] scalablecory commented on #31766
Resolved; recent PR moved this to use a `Task`.

[2020-08-11 18:51] #31766 closed

[2020-08-11 18:52] danmosemsft commented on #38872
Team members are all working on work required for 5.0. If a community member volunteers and it can get merged before we branch on Monday, sure.

[2020-08-11 18:52] scalablecory commented on #31695
@geoffkizer feel free to unassign if you won't be able to get to this. We could reasonably bump this to 6.0 if we need to.

[2020-08-11 18:58] abelbraaksma commented on #38872
@danmosemsft, I can try to get something in by Friday, though I'm not sure about the point of improving the error messages, which is something that tends to need a lot of back and forth to iron out. The renaming part, and fixing the tests should be relatively straightforward.

Of course, than it still depends on whether it can be reviewed in time to be merged in time.

[2020-08-11 18:58] davidwrighton commented on #13422
This no longer reproduces.

[2020-08-11 18:58] #13422 closed

[2020-08-11 18:59] #2041 closed

[2020-08-11 19:03] KalleOlaviNiemitalo opened #40677 "CompositeChangeToken.ActiveChangeCallbacks returns true when not all inner change tokens do so"
### Description

CompositeChangeToken.ActiveChangeCallbacks returns true if **at least one** of the inner change tokens has active callbacks. It seems to me that it should return true only if **all** inner change tokens have active callbacks.

### Rationale

[IChangeToken.ActiveChangeCallbacks](https://docs.microsoft.com/dotnet/api/microsoft.extensions.primitives.ichangetoken.activechangecallbacks

[2020-08-11 19:04] KalleOlaviNiemitalo commented on #40677
Please add **area-Extensions-Primitives**.

[2020-08-11 19:05] jkoritzinsky commented on #39175
This test has not failed since this run on July 12th, so I'm going to close this issue for now.

[2020-08-11 19:05] #39175 closed

[2020-08-11 19:08] danmosemsft commented on #38872
Sure. If it misses this release, folks can just use reflection for another release. Totally up to you

[2020-08-11 19:08] #2127 closed

[2020-08-11 19:12] voronoipotato commented on #36699
Thanks Joel for referring to this issue :) I didn't know this existed.

[2020-08-11 19:15] mangod9 commented on #13510
No I dont have much context, just moved this issue over since it was assigned to Fadi. Perhaps the original intent was to discuss Fragile images, but from Jan's comment above not something which we should doc. Guess ok to close for now.

[2020-08-11 19:15] abelbraaksma commented on #40586
@jkotas, I was mainly concerned with the present state of the tool. If it's finished and production ready, that's awesome, but several posts and references say otherwise. In fact, the page you linked says that a lot isn't implemented yet.

I agree that specific issues are more useful, but if the project is very much under development, and implies itself something like "we're nearly halfway there",

[2020-08-11 19:19] mangod9 commented on #40651
@sandreenko perhaps you can share a dump since you can repro more consistently?

[2020-08-11 19:21] AArnott commented on #39902
@carlossanlop I didn't interpret @ericstj's comment as a suggestion toward me as much as speculation as to the conditions leading to the failure for consideration in a fix.
It's quite possible that we close a pipe and then cancel a token that was used in I/O that was pending on that pipe. It's likely that races exist where the two steps happen concurrently, even if in this rather deterministic rep

[2020-08-11 19:23] #33565 closed

[2020-08-11 19:24] maurei opened #40678 "Unexpected behaviour HttpUtility.ParseQueryString(string)"
When a query string is parsed that is not of the format `key=value`, but of the format `standaloneOperator` instead, the `HttpUtility.ParseQuery` method produces some unexpected results.

[code]

[This line of code right here](https://github.com/dotnet/runtime/blob/cb1a7feaa43cdbd03b317db24fa30d86eae2a27c/src/libraries/System.Web.HttpUtility/src/System/Web/HttpUtility.cs#L122-L124) seems to be res

[2020-08-11 19:31] danmosemsft commented on #38872
BTW @abelbraaksma the only tricky part of this I expect will be adding the test for binary serialization to/from the new type, to address the concern that this not break. We have tests for this

The bulk of such testing is done through blobs in this file - they test to and from for .NET Framework and .NET Core:
https://raw.githubusercontent.com/danmosemsft/runtime/7a1ff8272bd8afe74ed1b98b8c7d1f6c6

[2020-08-11 19:31] mangod9 commented on #33571
A dump would be very useful to investigate further. Could you please upload to a share and send a link over email? Thx

[2020-08-11 19:32] sdmaclea commented on #40634
Looks like the root cause is the Windows arm64 debugger is missing support for PC relative instructions.  Essentially this needs to be ported to `arm64`. https://github.com/dotnet/runtime/blob/3642deea8235ce8316db8c37cc3e8f4ad5b15380/src/coreclr/src/debug/ee/controller.cpp#L4375-L4418

[2020-08-11 19:33] Anipik commented on #39598
@janvorli would u be able to take a lead on this one ?

[2020-08-11 19:34] hoyosjs commented on #40634
Offset is the native offset from the start of the jitted method.

This might have been a bit confusing, it was meant more of a list (offset 0x34 from method start, which corresponds to address 0x7ffb1e489db4, contained that opcode 5c000420). Given that it's an LDR, I wonder if we are running the patch with the wrong addressing mode (non-pc rel instead of PC rel). The other option is, as you say, c

[2020-08-11 19:36] hoyosjs commented on #40634
Ah, beat me 😄

[2020-08-11 19:36] GrabYourPitchforks commented on #38872
Adding a test for `BinaryFormatter` serialization should be relatively straightforward. Serialize an instance of the new exception, then deserialize it, and validate that `deserialized.GetType()` is `ArgumentException`.

[2020-08-11 19:39] mdh1418 commented on #40536
Looks like it does error if there's a trailing slash. For `RecursiveDeleteWithTrailingSlash` and `TrailingDirectorySeparators`, by removing `Path.DirectorySeparatorChar`, the tests pass. However for `DirectoryPathUpdatesOnMove`, there's a note that `//NOTE: MoveTo adds a trailing separator character to the FullName of a DirectoryInfo`

[2020-08-11 19:39] danmosemsft commented on #38872
That's what that test does, basically

[2020-08-11 19:44] scalablecory commented on #40624
Correct

[2020-08-11 20:06] zivkan opened #40679 "HttpClient on net5 should fallback to TLS1.2 with Windows Insider builds"
### Description

I'm on the NuGet team, and several customers (internal and external) have reported problems doing a restore and being unable to connect to api.nuget.org. I created a gist to test using HttpClientHandler with various `SslProtocols` values: https://gist.github.com/zivkan/5291f507c8c5724d41a18357b7afcd30

Here NuGet's customers reported their results: https://github.com/NuGet/Home/is

[2020-08-11 20:09] Postlagerkarte opened #40721 "Blazor WebAssembly Debugging"
Setting a tracepoint in Visual Studio and running a Blazor WebAssembly App every time a tracepoint is hit there is additional information written to the console:

[code]

This pollutes the output and makes it hard to debug.

Is this something the runtime controls or should the issue be raised via VS Feedback?

[2020-08-11 20:11] Coderrob commented on #36010
@maryamariyan updated this PR per the API proposal template.

[2020-08-11 20:11] danmosemsft commented on #40625
OK I'll make it >=16GB

[2020-08-11 20:12] heikkiri opened #40680 "UriBuilder does not update the port number when scheme changes in Powershell 7"
### Description

In PS7 - the URI port does not reset the port to reflect change to scheme change.

Repro steps
$builder = New-Object UriBuilder
$builder.GetType().Assembly.FullName
System.Private.Uri, Version=4.0.6.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
$builder.Host = "me.com"
$builder

Fragment :
Host     : me.com
Password :
Path     : /
Port     : -1
Query    :
Scheme   : http
Uri

[2020-08-11 20:15] geoffkizer commented on #40624
I think all of these scenarios boil down to ensuring that the hooks we provide you actually working as intended.

Specifically we should add some tests that
(1) Override CreateSocket and specify custom socket behavior (e.g. TCP KeepAlive or whatever), and ensure that the resulting connection has the expected behavior
(2) Given a DnsEndpoint, override the connect logic with your own that does custo

[2020-08-11 20:16] geoffkizer commented on #40679
@wfurt Do you know what's going on here?

[2020-08-11 20:18] sandreenko commented on #40651
Sure, I can't attach it here because it is too big so I placed it in OneDrive, please tell me if it is not working. [MinDumpWithHeap(VS)+symbols](https://1drv.ms/u/s!Au1EtB0f4I5ujsN7tP1UcMqxoT4QxA?e=kJ7ehr)

I have checked 5 hits and they were interrupted on the different instructions in `StrangeMethod`.

<details>
hit 1:
this->m_OSThreadId: 10540

asm for that thread:
00007FF9A3C6BB76  movsxd

[2020-08-11 20:20] tebeco commented on #40679
to be more specific:
 ## SDK Preview7 Targeting net5.0
None worked
Ssl2 failed
Ssl3 failed
Tls failed
Default failed
Tls11 failed
Tls12 worked
Tls13 failed

 ## SDK 5.0.100-rc.1.20379.10 Targeting net5.0
None failed  <==============
Ssl2 failed
Ssl3 failed
Tls failed
Default failed
Tls11 failed
Tls12 worked  <==============
Tls13 failed

[2020-08-11 20:22] Treit commented on #10106
My team just had to perform a painful and technically difficult rollback after finally replacing one of our flagship web services (several million lines of code) with a new .NET Core version, only to discover this regression.

In our case we were seeing an exception because the serializer was trying to access the Timeout property, which on MemoryStream throws an InvalidOperationgException 'Timeout

[2020-08-11 20:28] am11 commented on #34202
@lambdageek, sorry for an off-topic question (looking for a quick pointer / pro tip 🙂): currently, when we build all components of dotnet/runtime repo, i.e. `./build.sh -c Release`, we get tarballs produced in `artifacts/packages/Release/Shipping` directory. Extracting the `artifacts/packages/Release/Shipping/dotnet-runtime-5.0.0-dev-illumos-x64.tar.gz` does not gives us mono. I manually overwrote

[2020-08-11 20:32] RaphaelSilv opened #40720 "HttpContent Bad request {"error":{"message":"Mandatory parameter missed","error_key":null}}"
Hi folks, I'm trying to do a simple POST using HttpClient but I've been facing some issues with  `HttpRequestMessage.Content`. and `\n`
In short, if I hard code one of the required parameters without the `escape character`, for instance:

[code]
Everything works just fine.

However, if I concatenate the string as follows:

[code]
It doesn't and I get a Bad request:

[code]

### Already tried
**Sys

[2020-08-11 20:37] CoffeeFlux commented on #34202
@am11 Aleksey is currently on paternity leave. Maybe @steveisok or @akoeplinger has an idea?

[2020-08-11 20:39] hoyosjs commented on #40634
Although this feels like it would do it, right?  https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/coreclr/src/debug/ee/arm64/arm64walker.cpp#L94-L271

[2020-08-11 20:41] nathan130200 commented on #40484
@kostasvl i've found on github an .NET bindings implementation for Unreal Engine: https://github.com/nxrighthere/UnrealCLR using .NET Core.

[2020-08-11 20:48] wfurt commented on #40679
not yet @geoffkizer. I could not reproduce on older Windows version. I'm in process of getting latest insider build.
This works on normal Windows versions AFAIK.

[2020-08-11 20:49] karelz commented on #40679
This is likely a regression in Insider builds of Windows. There is new API in Windows that allows us to go to TLS 1.3 -- that API (or our usage of it) stopped working properly on latest Insider builds ... @wfurt is investigating.
cc @blowdart

[2020-08-11 20:50] AndyAyersMS commented on #40581
I was able to construct what I think is a faithful repro. This appears to be fixed in 5.0.
[code]
Logical depth of recursion is the sum of the numerator and denominator above, so around 100 million calls.

Disassembly for the `do` method on x64 windows is:
[code]
@jakobbotsch do we expect to see code like this after the call to `DispatchTailCalls`?

Still chasing down where things fail with 3.1; m

[2020-08-11 20:50] stephentoub commented on #40624
I agree we should do such a general approach for good measure. But we also need to validate the specific scenarios we were targeting. Case in point, the UDS scenario that failed because the implementation was trying to disable nagle and that throws with a Unix Domain Socket wouldn't have been caught by the above plan.

[2020-08-11 20:52] VSadov commented on #39039
This is a trivial Unbox. JIT inlines the type check and if there is a match (which is the case for the benchmark), it copies the value out without calling any helpers since the value here contains no GC references. I checked the codegen to be sure.

I do not think the code changed. The perf has not technically regressed, just went bimodal.
It could be some kind of alignment influence that depends

[2020-08-11 20:54] geoffkizer commented on #40624
I agree; I think the question is how to do this. Does this mean unit tests? Sample code? What? I don't think we want/need to actually implement bandwidth monitoring in our unit tests, for example.

I agree, we should have a unit test for this.

[2020-08-11 20:55] echesakovMSFT commented on #40581
@AndyAyersMS The code after `DispatchTailCalls` is what I added in #39815 - it copies the value from a buffer on stack that holds a return value during a call to `DispatchTailCalls` to the return buffer of `Helper:Do` (that can point to the GC heap)

[2020-08-11 20:58] antonfirsov commented on #40624
Re UDS:
we have a unit test for the specific subfeature of succesfully creating and using UDS `Connection` with `SocketConnectionFactory`. As far as I understand, @stephentoub means is to have actual end-to-end functional tests utilizing `HttpClient` with a UDS test Http server to make sure there are no other things broken.

[2020-08-11 20:59] steveharter commented on #36278
I will look at the existing semantics of MLC ASAP and report back.

[2020-08-11 21:04] mangod9 commented on #36278
sounds good. should be ok to move unless there are severe implications.

[2020-08-11 21:05] AndyAyersMS commented on #40581
Maybe I'm confused, but if `DispatchTailCalls` returns control back to `Do`, then I don't see how `Do` can be properly tail recursive.

The only reachable return in `Do` should be the first one; the code after the call to `DispatchTailCalls` should never be executed. So that last bit of code (including epilog) looks like it should be dead code and not needed.

[2020-08-11 21:09] jkotas commented on #40586
I have fixed the README. All IL instructions have at least the basic functionality implemented by now.

There are places (typically marked with TODOs) that can be improved, but they should not prevent the tool from being usable.

The ILVerify is a tool to help compiler developers find issues in the generated IL. I expect it to be used at development time. I do not expect it to be really deployed i

[2020-08-11 21:14] steveisok commented on #34202
@am11 The only mono runtime packs we are generating at this time are for osx, linux x64, and linux arm64 (technically wasm too).  As I understand it for net5, there is no plan beyond what we're already generating.

[2020-08-11 21:17] davmason opened #40682 "Add collectible assembly support to EnumerateLoaderHeapMemoryRegions"
Currently EnumerateLoaderHeapMemoryRegions does not include the loader heap regions from collectible assemblies. We should update it to include those.

[2020-08-11 21:19] jkotas commented on #10106
As I have said in https://github.com/dotnet/runtime/issues/10106#issuecomment-381235814, I believe this should be fixed by better diagnostic in the serializer. The serializer should throw exception instead of dropping the data silently on the floor.

[2020-08-11 21:25] stephentoub commented on #40670
CancellationToken just a references a CancellationTokenSource. Any change that required a CT to be able to refer to a value type that in turn referenced multiple CTS instances or even multiple value types would bloat the size of a CT non-trivially, and it's stored on tons of types (think of all the async methods that take one as an argument, whch causes it to be on the state machine type), and wou

[2020-08-11 21:27] kouvel commented on #31613
I see, I was also thinking something like this:
- If `0 < size <= 16` then align at any 16-byte offset in a cache line
- If `16 < size <= 32` then align at offsets 0, 16, or 32, but not at 48
- If `32 < size <= 48` then align at offsets 0 or 16
- If `48 < size <= 64` then align at offset 0 only

Might allow for a bit more density but #2249 also mentioned that crossing a 32-byte boundary has perf i

[2020-08-11 21:34] am11 commented on #34202
@steveisok, are those mono dedicated packs? and does `./build.sh -c Release` give us those packs in `artifacts/packages/Release/Shipping` or is there a different switch used to produce them?

[2020-08-11 21:34] ahsonkhan commented on #25729
I agree with @svick. The implicit cast for this should be sufficient. We don't need an arraysegment based ctor and I recommend closing this issue.

[2020-08-11 21:38] steveisok commented on #34202
If you're, for example, on osx, you'll get a mono specific `microsoft.netcore.app` runtime pack when you build like that. And if mono is all you're after, then you can skip building coreclr w/ `./build.sh -Subset mono+libs+installer -c Release`.  It will speed up your build considerably.

[2020-08-11 21:39] Treit commented on #10106
@jkotas it didn't drop data silently in my case. It threw an exception:

`System.InvalidOperationException: Timeouts are not supported on this stream.
   at System.IO.Stream.get_ReadTimeout()
   at WriteMemoryStreamToXml(XmlWriterDelegator , Object , XmlObjectSerializerWriteContext , ClassDataContract )
   at System.Runtime.Serialization.ClassDataContract.WriteXmlValue(XmlWriterDelegator xmlWriter

[2020-08-11 21:42] sdmaclea commented on #40634
I was thinking that wasn't called when `FEATURE_EMULATE_SINGLESTEP` was disabled, but I could be wrong.  For emulate single step, I remember that being used instead of executing the instruction.  It is possible that that code is not quite right for Windows...

[2020-08-11 21:47] movedoa opened #40683 "Crossgened assembly - Ready to Run disabled in log"
.NET Core 3.1

For our usecase we are generating dynamic assemblies with a custom written tool.
To improve the startup performance we want to use crossgen on the generated assemblies since the startup performance is a real neckbreaker in our use case since we are executing a lot of processes with the same assemblies over and over again. (Sadly we can't change that). So most of the time we run in a

[2020-08-11 21:54] #40538 closed

[2020-08-11 21:56] abelbraaksma commented on #40586
@jkotas  Sorry, that's what I meant. To use it to check IL of compiler output. It's vital to be able to check it's verifiable, and that check should be reliable and stable. But if it's currently used internally for, say, C#, I think it's time to start an issue for F# as well, so we can move away from peverify (which only works on framework anyway).

If we find issues, I'll report them separately.

[2020-08-11 21:57] jakobbotsch commented on #40581
It returns as normal if there is a previous tail call dispatcher on the stack that will handle the call (in which case no call will be done now and the written value will be ignored), or if this is the first call (in which case it the written value is the actual return value). So the control flow will be (relatively) normal.

[2020-08-11 21:58] abelbraaksma commented on #40586
Thanks for updating the Readme :)

[2020-08-11 22:07] am11 commented on #34202
Thank you. I have found `artifacts/bin/ref/microsoft.netcore.app/Release/` on macOS and linux. However, that is missing bunch of things to execute an app (.dll), such as `Microsoft.NETCore.App.deps.json` and `libhostpolicy.so` (which we can fix by hand, sure). imo:

* if it is going to be a separate installation for 5.0, it would be nice to have similar self-contained package as coreclr produced u

[2020-08-11 22:09] davidwrighton commented on #35885
I believe this is a manifestation of #1892

[2020-08-11 22:10] davidwrighton commented on #32782
This appears to be the same issue as #1892. I've assigned one other crossgen2 related issue to the diagnostics team to analyze, so I'm just going to close this one, as that should be sufficient to look at the issue.

[2020-08-11 22:10] #32782 closed

[2020-08-11 22:17] elachlan commented on #40561
@Jozkee thank you so much, this makes it so much easier!

[2020-08-11 22:22] #13510 closed

[2020-08-11 22:27] davidwrighton commented on #32724
I added a means for passing parameters to the crossgen2 process using the CrossGen2TestExtraArguments property. We should do that and re-enable this test.

[2020-08-11 22:34] #13349 closed

[2020-08-11 22:42] mangod9 commented on #40651
I cant repro the issue either. Like Jan mentions it appears that windows call to [SetThreadContext[](url)](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-setthreadcontext) is failing, perhaps it could log `GetLastError` to diagnose why its failing.

[2020-08-11 22:44] jpapp05 commented on #40430
Hi @AndyAyersMS, that would be great.   I'll contact you offline as I can talk a bit more freely but I'm happy to post back any summary from our discussions for the benefit of others.

[2020-08-11 22:49] davidwrighton commented on #40683
ReadyToRun is disabled in the presence of collectible assemblies. The solution here would be to pass false for the `isCollectible` parameter to the constructor for the AssemblyLoadContext that you are using. Or, if you need ReadyToRun support for collectible assemblies, to write up a feature request. We may be able to consider such an issue for .NET 6.

[2020-08-11 22:51] davidwrighton commented on #40682
In addition, we currently don't do reporting for the LoaderAllocator managed object in right spots for GC heap dump in the DAC. See usage of `GcReportLoaderAllocator` function.

[2020-08-11 22:57] movedoa commented on #40683
Thx for the quick answer.

So if understand you correctly, afaik assembly unloading requires iscollectible, ao currently there is no way to unload a r2r assembly?

[2020-08-11 23:03] AndyAyersMS commented on #40581
I don't get an overflow on 3.1 either.  Note I'm using ILASM to generate the `do` method, so perhaps the result doesn't exactly match what @RevensofT 's repro does...

[2020-08-11 23:11] tommcdon commented on #35885
@josalem

[2020-08-11 23:34] #35937 closed

[2020-08-11 23:35] josalem commented on #35885
@davidwrighton do you have more insight as to why you think it is #1892?  I would be surprised if that were happening here.  I think this might be unrelated/different.  The hang appears to be happening during the construction of `EventPipeEventSource` _after_ a session has already been started.  The config lock for EventPipe shouldn't be held at this point in the process since `EventPipe::Enable`

[2020-08-11 23:55] gregg-miskelly commented on #12739
Here is an alternate app that seems to also reproduce this problem: https://github.com/OmniSharp/omnisharp-vscode/issues/3655#issuecomment-671649969

[2020-08-11 23:57] isaacrlevin commented on #40033
@maryamariyan do you need any info from me?

[2020-08-12 00:08] AndyAyersMS commented on #40581
Suspect that since dynamic methods aren't eligible for inlining they're also not eligible to make tail calls, even if they're tail calling themselves. Let me try and confirm this...

[2020-08-12 00:50] #32728 closed

[2020-08-12 00:54] davidwrighton commented on #35885
Ah, I thought from the writeline that the stop was at event pipe creation. In any case, I can't repro it, and have no dumps to work from.

[2020-08-12 01:05] davidwrighton commented on #40683
Correct. While it is certainly a feature that we could implement, and there are obvious reasons why it would be desirable, our current implementation does not support the combination of these features.

[2020-08-12 01:07] davidwrighton commented on #35885
Also, I was attempting to reproduce the failure on my X64 machine. The same faults have been seen on Arm64 and X64 test passes.

[2020-08-12 01:08] josalem commented on #35885
I found a Raspberry Pi2 that I'm going to try to run the test on and see if I can get it to repro.  Based on the symptoms, it looks like the `EventPipeEventSource` constructor isn't progressing.  I looked back through the history of this test in the crossgen2 runs and found mostly passing tests, with a couple crossgen failures back in June:

* https://dev.azure.com/dnceng/public/_build/results?bui

[2020-08-12 01:19] davidwrighton commented on #35885
Assertions can cause all sorts of hilarity. Let me know what you find.

[2020-08-12 01:29] sandreenko commented on #40651
`GetLastError ` is not recognized, checked that I can repro it on my second machine, so it is not something wrong with my main one, branch that I am using (https://github.com/dotnet/runtime/compare/master...sandreenko:GScookieExp)

[2020-08-12 01:31] elachlan opened #40692 "RCS1242: Do not pass non-read-only struct by read-only reference"
### Description
I installed Roslynator and it found many references of `RCS1242: Do not pass non-read-only struct by read-only reference`
https://github.com/JosefPihrt/Roslynator/blob/master/docs/analyzers/RCS1242.md

I was wondering if this is a legitimate issue:
https://github.com/dotnet/runtime/blob/a2df15627fb7384f7c643cc8ba2ad2a55968e288/src/libraries/System.Private.CoreLib/src/System/Diagnos

[2020-08-12 02:08] Coderrob commented on #36010
Thank you for the help @maryamariyan  :)

[2020-08-12 02:46] hoyosjs commented on #40634
That part is just outside the single step guard, under arm64 only guards. However, `NativeWalker::SetupOrSimulateInstructionForPatchSkip` seems like it's not handling the case correctly. Doing an instrumented run.

[2020-08-12 02:53] jkotas commented on #40651
Could please try to reproduce it with https://github.com/jkotas/runtime/commit/292f45b664345b2aa29a04d9e23e60bc4e754bc3 and capture the dump? It will allow us to get the last error.

[2020-08-12 02:55] Jlalond commented on #14032
@stephentoub but maybe actually @eiriktsarpalis do we actually have any traction on this right now? If we have a finalized API design I would be willing to work on it

[2020-08-12 03:15] sandreenko commented on #40651
Sure, the value is 87(dec)
[code]

[2020-08-12 03:37] fsinisi90 commented on #39945
The problem was that I had to add the attribute `__declspec(dllexport)` to expose the methods on Windows.

[2020-08-12 03:46] #40606 closed

[2020-08-12 03:57] jkotas commented on #40692
System.Guid is mostly read-only, but it is non-trivial to mark it as read-only.

https://github.com/dotnet/runtime/issues/1718 and  https://github.com/dotnet/runtime/pull/1809 are related / duplicates.

I do not see legitimate issue here.

[2020-08-12 04:16] halter73 commented on #40249
I don't see how this would be possible without some sort of limit or an unbounded buffer on the server. In this scenario, a client sends at least 101 HEADERS frames opening new streams before it sends a SETTINGS ACK. This is without sending any corresponding END_STREAM flags or RST_STREAM frames in between (or not enough at least).

I guess it's possible that HTTP.sys doesn't fully process these H

[2020-08-12 04:21] mangod9 commented on #40651
Weird that its ` ERROR_INVALID_PARAMETER`. Looking at the previous dump you shared the handle and context appear to be valid. The thread is suspended too:

[code]

[2020-08-12 04:38] Tratcher commented on #40249
I talked to the Http.Sys team today. Some notes:

- Http.Sys will also issue REFUSED_STREAM for streams over its default limit before the settings ack with a 10s timeout.
- Closed streams are cleaned up immediately.
- Data sent to a closed stream is ignored.

I plan to write some h2cat tests to verify this, but Insiders broke my dev box all day. I expect the HttpClient tests don't show the REFUSED

[2020-08-12 04:57] danmosemsft commented on #40692
Thanks for opening.

[2020-08-12 04:57] #40692 closed

[2020-08-12 05:02] JamesNK commented on #40249
I think both are needed.
* My repro show there is something wrong with how HttpClient reacts to REFUSED_STREAMS. That needs to be fixed.
* A slow start mechanic is required to avoid connection errors with HTTP/2 servers. Kestrel is being technically correct with how it responses to data to unknown streams. We could make it more lenient and ignore data sent unknown streams while the connection is b

[2020-08-12 05:05] halter73 commented on #40249
That's the half-closed (local) part of the spec which *technically* applies to this case. However, in practice, Kestrel (and any other server that doesn't allow a connection to use unbounded memory or violate the spec I figure) has to treat this as a connection error when too many of these half-closed streams build up. The reason is because the streams have to be tracked for the server to distingu

[2020-08-12 05:07] danmosemsft commented on #40479
Keeping open for port.

[2020-08-12 05:22] v-haren commented on #40115
failed again in job: [runtime 20200811.83 ](https://dev.azure.com/dnceng/public/_build/results?buildId=765918&view=ms.vss-test-web.build-test-results-tab&runId=23800194&resultId=180935&paneView=debug)

failed test: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_MultipleConnectionsEnabled_IdleConnectionTimeoutExpired_ConnectionRemovedAndNewCreated

Error message
[code]

[2020-08-12 05:23] #40558 closed

[2020-08-12 05:39] TraceLD opened #40695 "Add method to IConfiguration that gets a section and then validates and binds to a model"
## Background and Motivation

Often times when we do configuration of an application via `Microsoft.Extensions.Configuration` using `OptionsConfigurationServiceCollectionExtensions.Configure<T>(IConfiguration.GetSection(key))` we would like to have it validated with an exception being thrown if a key doesn't exist or doesn't match our model `T` instead of just setting default values. This is espec

[2020-08-12 05:52] jander-msft opened #40696 "Runtime instance cookie from advertise protocol is different than from GetProcessInfo command"
The diagnostics server in the runtime reports its runtime instance cookie via the advertise protocol when it connects to a diagnostic tool that is in listening mode. The serialization of this runtime instance cookie occurs [here](https://github.com/dotnet/runtime/blob/96d34c2f2a8d7d4ba9d07c221cc61bf156410348/src/coreclr/src/vm/diagnosticsprotocol.h#L146).

The diagnostics server in the runtime as

[2020-08-12 05:52] TimLovellSmith commented on #14032
I haven't seen a declaration this is settled yet and I'm not sure if there can be a final api design without a designated killer app. But...
assuming the top killer app candidate is programming contests / teaching / interviews, I think Eric's design at top looks serviceable enough... and I still have my counterproposal sitting around (newly revised, still not withdrawn!)

https://github.com/TimLov

[2020-08-12 05:54] pengweiqhca opened #40697 "why Microsoft.Extensions.Configuration.Json use SortedDictionary?"
[`Microsoft.Extensions.Configuration.Xml`](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Configuration.Xml/src/XmlStreamConfigurationProvider.cs#L33) and [`Microsoft.Extensions.Configuration.Ini`](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Configuration.Ini/src/IniStreamConfigurationProvider.cs#L28) use `Dictionary`, [`Micros

[2020-08-12 05:56] TobiasKnauss commented on #40653
@Clockwork-Muse: I see. This makes sense. I'll use my "workaround" then.
Well, they could/should have added this explanation to their documentation. @jeffschwMSFT: since you from Microsoft have read this already, please notify your colleagues to improve the documentation.

[2020-08-12 05:56] #40653 closed

[2020-08-12 06:06] danmosemsft commented on #40653
@TobiasKnauss  this isn’t the right place for feedback on vs test docs. The topic should have a pencil icon in the top right: you can click that to edit it. Or open an issue in the same repo (but edits are best of all)

[2020-08-12 06:20] #40290 closed

[2020-08-12 06:23] erozenfeld commented on #39398
I ran this test in a loop for many iterations but wasn't able to repro the failure with recent sources. I will re-enable the test.

[2020-08-12 06:29] danmosemsft commented on #39132
OK, thanks for the effort @hamarb123 i will close this until you or someone wishes to take it further.

[2020-08-12 06:51] maryamariyan opened #40700 "Add test code coverage for Host.StopAsync"
Issue tracks adding a missing test in Microsoft.Extensions.Hosting:

- [ ] in HostTests that verifies StopAsync() doesn't throw given a canceled token (assuming _hostedServices and _hostLifetime also don't throw).

More info: https://github.com/dotnet/runtime/pull/40426

cc: @steveharter @Marusyk

[2020-08-12 07:12] MichalStrehovsky opened #40701 "Add MethodImplAttributes.SecurityMitigations"
Seems like we added a new API (and did a IL assembly file format change) in desktop CLR that is not reflected in .NET Core: https://github.com/dotnet/dotnet-api-docs/pull/2253.

Should we update corhdr.h and the public `MethodImplAttributes` enum to make sure this bit doesn't get reused because nobody knows desktop CLR claimed the bit for itself with some meaning?

Might also need to update ILASM

[2020-08-12 07:18] MichalStrehovsky commented on #40701
MethodImplOptions in System.Runtime.CompilerServices is a similar enum. I don't actually know why we have two enums, but both essentially map to bits in corhdr.h.

[2020-08-12 07:20] ksemkav commented on #33571
@mangod9 Sorry, I'm not sure that I fully understand what I should do. How can I prepare such dump and what do you expect to see there?

[2020-08-12 07:37] tebeco commented on #40679
thx a lot @karelz for the follow up ;)

I'm curious why it still works with `5.0.x-preview7` SDK on that same Windows Build though.
Is it because `Preview7` does not relies on that new API but `Rc1` does ?

Also both `Preview7` and `Rc1` fails with explicit TLS 1.3.

This is an unknown world to me, I'm just being curious and might not be important to the resolution of this specific issue

[2020-08-12 07:53] #39989 closed

[2020-08-12 08:00] alnikola commented on #40249
HttpClient acts according to RFC:
1. Open new a HTTP/2 connection with `MaxConcurrentStreams` set to `unlimited`
2. Start sending requests to the server as follows:
2.1 For each request check if active stream quota is available. If yes, proceed. Otherwise, wait until a stream slot becomes available
2.2. Create new HttpStream
2.2 Send HEADERS frame asynchronously
2.3 Send DATA frame asynchronously

[2020-08-12 08:26] #987 closed

[2020-08-12 08:34] JamesNK commented on #40249
https://github.com/dotnet/runtime/issues/40249#issuecomment-670187489

[2020-08-12 08:52] janvorli commented on #40651
@sandreenko what version of Windows do you have? I think that I've seen Windows adding some extra sanity checks for the context relatively recently. E.g. the context flags are validated using RtlpSanitizeContextFlags and that one can return STATUS_INVALID_PARAMETER.

[2020-08-12 09:11] janvorli commented on #40651
Looking at the pCtx->ContextFlags, its value is: 0xc010001b, so it has these extra flags set besides the regular ones:
#define AMD64_CONTEXT_EXCEPTION_REQUEST     0x40000000L
#define AMD64_CONTEXT_EXCEPTION_REPORTING   0x80000000L

I can see that the context flag validation fails if the AMD64_CONTEXT_EXCEPTION_REPORTING  is set on the context.

[2020-08-12 09:15] TobiasKnauss commented on #40653
@danmosemsft I know, but this feedback is related to this issue, so I just added it here.
I am not going to edit the doc, because I am not expert enough to write documentation about .Net that is read by thousands of developers. This is your job.