[2020-06-03 14:10] nechvatalp commented on #33979
I experience the same issue.

[2020-06-03 14:15] ppb2020 commented on #37325
Hi again,

Using these options, the build is down to 8 warnings and 29 errors. The first error remains the same (as per my initial report).

For reference, here is the exact command I entered:

                ./build.sh --warnaserror false /p:SourceRevision=dsfdsf /p:EnableSourceControlManagerQueries=false /p:EnableSourceLink=false -c debug | tee /tmp/log.txt

Regards,
Pierre Pierre
--
Pierre Pie

[2020-06-03 14:20] nechvatalp commented on #15771
I also need this for usage of SNMPv3. Hope it gets done in 5.0.

[2020-06-03 14:39] John0King commented on #13472
I'm sorry ask here, but I really do not know where should I create a new issue,  runtime/aspnetcore ,
the reason I post here is because I think it should be a alc fullback issue:

[code]

in plugin alc, assembly D in plugin alc  can call assembly A   from defualt alc ,  but then it can not call the C ′  from plugin alc,  because the A is in default alc, and it can only find C instead of C′,
the th

[2020-06-03 14:56] trullock commented on #36123
Just spent half the day discovering this absolute stink. Please fix, or at least document.

[2020-06-03 15:00] eerhardt opened #37352 "Allow DynamicDependencyAttribute on Class and Struct"
## Background and Motivation

There are some "global" dynamic dependencies that can't be identified by managed IL methods, constructors, or fields. For example, some members on core types, like `Task`, `ThreadPool`, etc, are only necessary for debuggers to call. They are not called by any code in our libraries nor are they public. In order for the ILLinker to preserve these private members, we nee

[2020-06-03 15:00] Da-Teach commented on #31743
I ran into a similar issue today and it turns out the server didn't have the redist installed.

After installing it from this link:
https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

It worked for me. Nice error though, bad image format on a clean windows 2019 install which in turn was a redist not installed. A better error message would have saved me a ton o

[2020-06-03 15:21] tinyVishal opened #37354 "The JSON value could not be converted to System.String"
The JSON value could not be converted to System.String

### Describe the bug
When a property is explicitly tagged to a datatype, a framework should not try to parse it.
Sample code works fine with **Newtonsoft.json**

### To Reproduce
**code sample**

[code]
### Exceptions (if any)

Cannot get the value of a token type 'Number' as a string.
### Stack trace
   at System.Text.Json.ThrowHelper.ReThro

[2020-06-03 15:32] stephentoub commented on #37352
I'd proposed this as well here:
https://github.com/mono/linker/issues/797

[2020-06-03 16:10] logic01 commented on #30255
One more thumbs up for System.Text.Json doing the work native like Newtonsoft.Json. We should not need to decorate every property in our models. We had to replace System.Text.Json with Newtonsoft to avoid the fiasco of code bloat due to custom converters for ever numeric type. Not to mention the communication issue of informing every new developer on our team that they have to tag their properties

[2020-06-03 16:15] davidyee commented on #33710
Thanks I can confirm as well that our issue with decimal types and expanding related objects with them in VS debug is fixed in the latest 16.7 Preview 2.

[2020-06-03 16:44] mangod9 commented on #37196
what is the impact of this? Is the sdk unable to produce any crossgen2-ed binaries or is this for a particular scenario?

[2020-06-03 16:55] eiriktsarpalis commented on #1854
I would probably prefer such an approach over exposing a new interface.

I don't think interfaces are meant to communicate complexity contracts. AFAIK there is no such precedent elsewhere in the framework.

[2020-06-03 16:58] eiriktsarpalis commented on #1854
Any work implementing this should probably also come with benchmarks demonstrating the performance benefits, if any.

[2020-06-03 17:01] safern commented on #37333
cc: @dsplaisted @wli3

[2020-06-03 17:04] xolott opened #37356 "Could not load assembly on published project after net core upgrade"
### Description

We are shipping microservices using the worker template (which use `Microsoft.Extensions.Hosting`) using these docker images:
* `mcr.microsoft.com/dotnet/core/sdk:3.1-alpine AS build`
* `mcr.microsoft.com/dotnet/core/aspnet:3.1-alpine AS runtime`

When those images were upgraded to version `3.1.4` multiple microservices CI/CD pipelines started to fail with this output:

[code]

In

[2020-06-03 17:04] #1221 closed

[2020-06-03 17:04] tannergooding commented on #37341
Is there any reason we can't keep it as `TYP_SIMD` and look up the class handle to determine the actual type? I would imagine that would be the most useful and least likely way to break long-term...

That is, we already have issues today with `GT_HWINTRINSIC` and `GT_SIMD` nodes lying about their type and that preventing CSE or other optimizations.
@CarolEidt added the `ClassLayout* m_layout` fiel

[2020-06-03 17:16] safern commented on #37350
Based on: https://github.com/dotnet/runtime/issues/37349#issuecomment-638332697-- I believe is for correctness, I would expect in Invariant mode we don't consider a lot of cases and we can't handle all the supported scenarios.

[2020-06-03 17:17] tarekgh commented on #37350
@stephentoub  to handle IDN correctly we have to have the normalization data (which is big and not trivial). Depending on ICU/NLS give us this functionality for free and even we don't have to worry about updating the data nor the IDN behavior moving forward. When enabling Invariant mode we don't promise the behavior will be correct or even updated to support more recent IDN features. This is not d

[2020-06-03 17:24] CarolEidt commented on #37341
@sandreenko - thanks for the thorough write-up! Overall, I think the right direction to pursue is toward keeping `TYP_STRUCT` in the front-end of the JIT, and introducing `TYP_SIMD` types in `Lowering`. Now that we have (some) optimization support for `TYP_STRUCT`, and as we move to having correct class handles for all struct values, it's not as useful to have the SIMD types in the front-end. In f

[2020-06-03 17:27] tarekgh commented on #37350
I think you mean in cases of Ascii strings. this could be possible but we need to revisit the managed implementation to know it still conform to the specs as this managed implementation is very old.

[2020-06-03 17:30] stephentoub commented on #37350
Yes, which I'd expect to be a very common case.  Let me know if you disagree.  Just based on the numbers above, it seems like worst case we'd be adding 10% overhead when the string isn't ASCII, in exchange for saving 90% when it is.  Assuming those numbers are in the right ballpark and ASCII is as common as I'd expect, that feels like a good tradeoff.

[2020-06-03 17:31] stephentoub commented on #37349
My point is saying "We don't promise any correct IDN behavior when enabling GlobalizationMode.Invariant" means we also don't promise any correct behavior for anything higher in the stack, whether it be SslStream or HttpClient or anything else that uses it.

[2020-06-03 17:36] #31622 closed

[2020-06-03 17:37] Anipik opened #37358 "Restore task failing on our solutions"
Expected behavior
[code]

Actual Behavior

[code]

cc @ericstj @ViktorHofer @safern

[2020-06-03 17:39] tarekgh commented on #37349
@stephentoub I understand your point. I was just commenting on what would be the choice between throwing and not throwing on the level of the IDN layer.

For the higher stack with the Invariant mode, we can have the choice to change the Invariant mode behavior when the system already has NLS/ICU. This will be the case always on Windows and MacOS and only be broken on Linux images not having ICU in

[2020-06-03 17:40] BruceForstall commented on #37117
The failure mode is `CoreCLR Windows_NT x86 Checked tailcallstress @ Windows.10.Amd64.Open`. It looks like this test has failed with this failure mode 11 times in the last 2 months, all on Windows x86 with:
[code]

This indicates a JIT bug. But why would it happen so few times? This test is run every day.

[2020-06-03 17:43] buyaa-n opened #37359 "OS compatibility analyzer"
## OS compatibility analyzer
Based on design spec [Annotating platform-specific APIs and detecting its use](https://github.com/dotnet/designs/pull/110/files)

## Requirements

### Goals
* Developers get diagnostics when they inadvertently use OS-specific APIs.
    - The developer doesn't have to resort to explicit suppressions to indicate intent. Idiomatic gestures, such as guarding the call with

[2020-06-03 17:52] eschgi opened #37360 "WindowsService: Event log - Error events are reported as info events falsely (System.ServiceProcess.ServiceController)"
### Description

We use the `System.ServiceProcess.ServiceBase` to run our applications as windows service. During development we found out that error events are reported as info events falsely.

The bug can be found/fixed inside the WriteLogEntry function. The fix should be easy.

[code]

### Configuration

Which version of .NET is the code running on?
* .NET Core 3.1

What OS and version, and wh

[2020-06-03 17:57] eschgi commented on #37360
area-System.ServiceProcess

[2020-06-03 17:59] MichaelStromberg commented on #37334
Here's an even more minimal way of reproducing the error:

[code]
Update the HelloWorld.csproj file:

[code]

And then the last bit:

[code]

[2020-06-03 18:16] jtbrower commented on #37337
I updated the issue with a second callstack that includes more useful information that I obtained after disabling "Just my Code".

[2020-06-03 18:17] tarekgh commented on #37350
@stephentoub I agree we should give it a try. I see the benefit for this optimization. Are you talking about GetAscii only or about GetUnicode. too? does the HTTP using both GetAscii and GetUnicode? I am asking because GetUnicode will need extra work to convert to Unicode first and then check the resulted string which may add some perf cost on non-Ascii cases but it is possible to do it too.

[2020-06-03 18:20] JeremyKuhne opened #37362 "Activator.CreateInstance fails on GetTypeFromProgID on .NET Core 3.1"
Copied from @199621616 's comment: https://github.com/dotnet/winforms/issues/1878#issuecomment-637953220
cc: @AaronRobinsonMSFT

示例一：医疗保险系统对接的COM互操作：
保险系统接口规范提供PB调用示例：

//创建地纬嵌入式接口对象，调用com组件
int vi   Oleobject sei                                 
sei =create Oleobject       //创建ole对象seiproxy
vi=   sei.connecttonewobject('sei3') //连接com组件   if vi <> 0 then      
messagebox('错误','创建地纬嵌入式接口sei对象失败！')

[2020-06-03 18:29] karelz commented on #35473
Thanks @ArjunVachhani, in that case I recommend to close this issue.
The key scenario is to make sure the Ping/Pong frames are sent, received and confirmed. To our best knowledge it is the case today based on [`KeepAliveInterval`](https://apisof.net/catalog/System.Net.WebSockets.ClientWebSocketOptions.KeepAliveInterval) (if not, please open a new issue tracking that). Adding additional APIs would

[2020-06-03 18:29] #35473 closed

[2020-06-03 18:38] AaronRobinsonMSFT commented on #37362
Support for the `dynamic` keyword for COM is not in .NET Core 3.1.4. This support was added in .NET 5.0. See https://github.com/dotnet/runtime/pull/33060.

That is a very unusual error code. It appears corrupt. How was that expressed and/or captured?

[2020-06-03 18:45] danmosemsft commented on #30740
Note this work is actively happening and you can track progress here: https://github.com/dotnet/runtime/projects/46

[2020-06-03 18:46] rankeren commented on #31828
Proposed API :

###  List < T >  .Pop()  Method

### Description :
Removes and returns the  last object  of the List<T>.  ( when optional input, is not given)
If an index is given, removes and returns,  the item at that index.
__optional API addition  _   : if the index is negative, it counts from the last element ._

C#:   Overloads
[code]

Action:
(Same as in many other popular languages)
Withou

[2020-06-03 18:59] ABaboshin commented on #36927
Hi @davmason

Thank you for your reply.

I found the following:

When I write in my code something like `new MyGenericType<T1>().Execute()` or `IMyGenericType<T1> obj = new MyGenericType<T1>(); obj.Execute();` then I'm able to get the full information about the generic argument.

But when I'm trying to intercept the calls done by MassTransit + Greenpipes (https://github.com/MassTransit/MassTransit

[2020-06-03 19:11] stephentoub commented on #37349
👍

[2020-06-03 19:54] Serentty opened #37364 "Non-BMP Unicode ranges"
Currently, ``System.Text.Unicode.UnicodeRange`` only supports the BMP. This has the unfortunate consequence that the list of blocks provided ``UnicodeRanges`` leaves out many blocks such as “Transport and Map Symbols” which contain very commonly-used characters such as emoji. It seems that the public interface for this class is already based around ``int32``, so I don't think breaking changes woul

[2020-06-03 20:01] krwq opened #37365 "XML text templates do not generate same files as in the repo"
Repro:

[code]

now diff shows extra newlines at front and some fields renamed to contain underscore.

I suspect similar issue for other fields.

Found when trying to annotate for nullable.

[2020-06-03 20:01] Serentty opened #37366 "More Unicode character information (such as script)"
Right now, it's possible to find the block of a Unicode character using the ``UnicodeRange`` class. However, based on my search of the APIs, it is not possible to find properties such as the script of a character. Since most scripts are divided between many different blocks, with new blocks likely to be added in the future, and many blocks contain a mix of different scripts, the correspondence bet

[2020-06-03 20:09] krwq commented on #37365
Marking as 5.0 since this is making annotating for nullable really painful and issue is relatively simple

[2020-06-03 20:21] tommcdon commented on #37328
@kzu thank you for the suggestion. I'm marking this as milestone 5.0 for now, though depending on other competing priorities and remaining time left in the 5.0, we may defer this issue to the next milestone. If you are interested in contributing a pull request, please feel free to do so.
cc @josalem

[2020-06-03 20:22] Tornhoof commented on #37354
Why do you think there is a bug?
Your example json contains "Id":1 and that is a Number, but your data model has ``string Id``.

System.Text.Json expects correct type maps.

There is a bit of discussion about looser requirements in
https://github.com/dotnet/runtime/issues/30255#issuecomment-526245607

[2020-06-03 20:27] GrabYourPitchforks commented on #37366
For context to area owners, the `UnicodeRange` class is intended for use within the `HtmlEncoder` and related classes. It specifies a range of Unicode code points which should be marked as "these don't need to be encoded before going out on the wire." By contrast, the API request here would be for getting Unicode character properties from an arbitrary code point, perhaps via additions to `CharUnic

[2020-06-03 20:30] GrabYourPitchforks commented on #37364
There are no plans at this time to allow `HtmlEncoder` and related types to support supplementary code points in their "never needs escaping" list.

[2020-06-03 20:30] #37364 closed

[2020-06-03 20:39] stephentoub commented on #37350
Thanks.  GetAscii is the more impactful API.

[2020-06-03 20:45] davmason commented on #36927
From searching through MassTransit it looks like this is the code you're trying to instrument https://github.com/MassTransit/MassTransit/blob/3b98c2819fdddc519d4ad88e3873255013aa137d/src/MassTransit/Pipeline/Filters/MethodConsumerMessageFilter.cs#L27-L49

The issue that you're looking at the IL for a generic method, so there is no instantiated type to find. When you make a call like `IMyGenericTyp

[2020-06-03 20:48] trylek commented on #37333
@safern - this is hell on Earth, can you please share steps how to undo the SDK update locally? I can locally revert the entire PR #37200 but that's going to pollute my local git clone, is it sufficient to undo the changes to global.json or do we also need the change to eng/Versions.props?

[2020-06-03 20:55] GrabYourPitchforks commented on #37227
@davidfowl I agree. One thing I'd like to see the runtime maintain is an arbitrary memory range to object mapping. For example:

[code]

When the GC is running, for any `T&` seen (not `T*` since they're not GC-tracked), any object associated with the range will be seen as "live" and won't be collected. This means that you can associate arbitrary memory ranges with explicit SafeHandles.

It doesn't

[2020-06-03 20:56] echesakovMSFT commented on #37169
We can discuss the method names during the next API review - moving this to "api-ready-for-review"

[2020-06-03 20:57] safern commented on #37333
@trylek you can revert the changes in global.json only, that would be enough. I'll put up a PR to revert this soon and I'll open an issue on the SDK repo.

@mmitche should we revert this in arcade?

[2020-06-03 21:08] sywhang commented on #643
This issue should now be fixed with #36932.

[2020-06-03 21:08] #643 closed

[2020-06-03 21:10] Serentty commented on #37364
Hm...? What does this have to do with ``HtmlEncoder`` specifically? I thought this was just the general type for Unicode ranges in .NET.

[2020-06-03 21:12] trylek commented on #37333
It works! Life's back to normal! Reminded me of long ago in .NET Native in early introduction of nugets when the network usage for enormous and my local build took 12 hours over the VPN.

[2020-06-03 21:12] Serentty commented on #37364
Oh, I just read your response on the issue about character script information. I didn't realize that this class was specifically related to HTML encoding. Its position in the namespace hierarchy didn't make that clear to me.

[2020-06-03 21:13] GrabYourPitchforks commented on #37364
`UnicodeRange` is intended for use by `HtmlEncoder` and friends. That's why it's in the _System.Text.Encodings.Web_ package.

Check out the `CharUnicodeInfo` class if you're looking for general Unicode character properties. I relabeled the other issue you opened re: exposing more information via these APIs so that the area owners would see it.

[2020-06-03 21:15] Serentty commented on #37366
Thanks for that context. I didn't realize when I posted this that ``UnicodeRange`` wasn't meant for general use to represent Unicode ranges and blocks, but was specifically part of ``HtmlEncoder``'s API. Yes, I did mean a general API that .NET software could use to get information about code points.

[2020-06-03 21:17] Serentty commented on #37364
Yeah, I guess I was confused about what it was for since it shows up to me as ``System.Text.Unicode.UnicodeRange`` with nothing web-related. Anyway, thanks for figuring out what I was asking.

[2020-06-03 21:18] danmosemsft commented on #37360
I looked at the old code (which for some reason is not on referencesource) and I agree. Do you want to offer a PR? Not sure whether there are tests for this or not, but if there are we should make sure they check it.

[2020-06-03 21:19] ABaboshin commented on #36927
@davmason Thank you, now I got it!

[2020-06-03 21:20] xtqqczze commented on #35068
Failure in build [#670388](https://dev.azure.com/dnceng/public/_build/results?buildId=670388&view=ms.vss-test-web.build-test-results-tab&runId=20766046&resultId=100002&paneView=debug), PR #37367

[2020-06-03 21:20] #36927 closed

[2020-06-03 21:57] mjsabby commented on #37227
@GrabYourPitchforks [Frozen Objects](https://github.com/microsoft/FrozenObjects) do that by setting up GC segments with arbitrary ranges and set a flag that says the heap is read only.

I don't know if much of that could be repurposed. Also I don't know how these segment additions scale. What happens if you have 1000 segments?

[2020-06-03 22:09] mmitche commented on #37333
Reverting in arcade is non-trivial as some repos will have to do work to back up. It also won't auto-revert in all the repos (since the version there is newer). I'd recommend we isolate the issue and resolve it rather than hide it.

In the meantime we can update the sdk version in runtime, and ensure that it doesn't get pulled forward in a new update by disabling the arcade subscription or just ed

[2020-06-03 22:16] sandreenko commented on #37341
Thank you, @tannergooding and @CarolEidt !

I will do that then, it means in all cases 1-3 `call` will have `TYP_STRUCT` until lowering.

It requires more work and benefits are not clear, there are problems with it even on VM side (see #35144). Another example is https://github.com/dotnet/runtime/issues/36868, if you change `compMethodReturnsNativeScalarType` to return `true` for `SIMD16` on arm64

[2020-06-03 22:30] mmitche commented on #37333
@rrelyea @dsplaisted @rainersigwald @safern has some new info here.

If the p6 SDK is installed **globally** (matching what is in runtime's global.json) `5.0.100-preview.6.20266.3`, then it appears that during project restore early in the build he's getting hundreds of dotnet hosts launched, effectively killing the machine.

This does not happen if the sdk is not installed globally.

[2020-06-03 22:32] jimsch commented on #35296
Were you able to verify with my supplied code?

[2020-06-03 22:42] swaroop-sridhar commented on #37196
@mangod9  native binaries were missing (non-deterministically) from various crossgen2 packages. When the expected components are missing, crossgen2 cannot be run. That is, all `dotnet publish /p:PublishReadyToRun=true /p:PublishReadyToRunUseCrossgen2=true` runs will fail.

[2020-06-03 22:47] wfurt commented on #35296
I see same result. On Linux, I see ::ffff:127.0.0.1 as one would expect. That would point to Windows PAL.

[2020-06-03 22:56] BruceForstall commented on #33565
Related: #33308

[2020-06-03 22:59] swaroop-sridhar commented on #37196
@nattress  and I talked about it -- the problem could be a race between the construction of microsoft.netcore.app and microsoft.netcore.app.crossgen2 packages.

[2020-06-03 23:08] safern commented on #37333
@rainersigwald I see that most of all the processes created are just doing:
[code]

The parent process is:
[code]

[2020-06-03 23:08] AndyAyersMS commented on #1327
I current don't see us getting to this for 5.0, so moving to future.

[2020-06-03 23:15] mangod9 commented on #37196
ok assigning to @nattress for now, since we will have revisit all of this to enable composite mode within the sdk.

[2020-06-03 23:18] dsplaisted commented on #37333
Sounds like it's failing to connect to the child processes it creates, so it keeps retrying.

Can you set the MSBUILDDEBUGCOMM environment variable to 1, run the build, and then look at the files starting with MSBuild_CommTrace_PID_ in the temp folder?

[2020-06-03 23:19] kunalspathak commented on #33496
@BruceForstall - All the APIs under `System.Runtime.Intrinsics` are optimized. Thank you @tannergooding , @echesakovMSFT and @TamarChristinaArm  for your valuable feedback throughout.

[2020-06-03 23:19] #33496 closed

[2020-06-03 23:22] safern commented on #37333
Sure. Let me try that and I'll update the issue.

[2020-06-03 23:42] tannergooding commented on #37341
Thanks for the explanation @sandreenko!

Just as a note, however:

`Vector<A>` also should not be a `TYP_SIMD16`. We only support a limited number of (currently 10) base types for the `Vector<T>`, `Vector64<T>`, `Vector128<T>`, and `Vector256<T>` types.
Everything else, in any real usage, will cause an exception to be thrown.
Likewise, they should be blocked from P/Invokes and various other scenar

[2020-06-03 23:50] safern commented on #37333
Yeah, a bunch of files are created and they have:

[code]

[2020-06-03 23:52] BruceForstall commented on #33496
@kunalspathak That's great! Thanks for all the work!

[2020-06-04 00:05] CarolEidt commented on #37341
While that's true, it must be handled in a way that doesn't cause the JIT to crash, or otherwise generate code that would cause the program to give the wrong exception. That's actually another reason that leaving the type-to-machine mapping until `Lowering` might simplify things. For the "front end" we just need to ensure that we enable "free" copies between value types that are equivalent, and th

[2020-06-04 00:32] dsplaisted commented on #37333
We still need to figure out the root cause for this so we can eventually update the SDK again.

[2020-06-04 00:35] dsplaisted commented on #37333
This does seem to confirm that it's a communication / handshake issue when connecting to new nodes.

Can you see what the file corresponding to the parent process says?  It will probably be a bit different (and a lot longer).

Also, to try to figure out whether this is a regression in .NET Core or in MSBuild, could you try replacing the runtime in the new SDK with the older runtime from the SDK wh

[2020-06-04 00:44] Anipik commented on #1167
i can provide this repro to the windows team and can carry on the conversation

[2020-06-04 00:52] safern commented on #37333
Sure, let me try that.

[2020-06-04 00:54] sywhang opened #37374 "Add OS distro information to EventPipe trace"
Currently in a .nettrace file collected via EventPipe it is not possible for the reader to know which OS this trace was collected from. This info can be added to the "Microsoft-DotNETCore-EventPipe/ProcessInfo" event.

This is related but different to https://github.com/dotnet/runtime/issues/11358 - that issue tracks adding information from the OS (i.e. page fault count, working set, etc.) to a tr

[2020-06-04 01:05] safern commented on #37333
This is the file for the parent process:
[code]

Will try to replace the runtime now.

[2020-06-04 01:17] joch0a opened #37435 "RevocationStatusUnknown unable to get certificate CRL"
**Description**
We are running a .NET Core 3.1 application on Kestrel inside a Linux Docker container.
This is what 'uname -a' gives:
`Linux 2a628053d7bd 4.19.76-linuxkit dotnet/aspnetcore#1 SMP Tue May 26 11:42:35 UTC 2020 x86_64 GNU/Linux`

We are invoking an API endpoint using client certificates and we are getting the following error from Microsoft.AspNetCore.Authentication.Certificate.Certifi

[2020-06-04 01:19] safern commented on #37333
@dsplaisted I replaced the runtime with the one that works, and it has the same issue.

[2020-06-04 01:27] daniel-white opened #37378 "Add support for stripping chars while binding to properties using `ConfigurationBinder`"
## Background and Motivation

When using `IOptions<T>`, the property names must match case-insensitive with the keys stored in the instance of `IConfiguration`/`IConfigurationProvider` based on the rules defined in `ConfigurationBinder`. This can cause some readability concerns with environment variables that have single underscores (as not to conflict with the delimiter with 2 underscores) and al

[2020-06-04 01:39] GrabYourPitchforks commented on #37227
Definitely a good question for GC folks. @Maoni0, thoughts? I'm just pulling ideas out of thin air and haven't thought any of this through. :)

[2020-06-04 01:52] AndyAyersMS commented on #13720
Have a [runtime log](https://gist.github.com/AndyAyersMS/b764f63444be1a69e5245dc50b76ea1a) that shows that in GCs 2859 and 2861, we walk thread 1 stack and see the reverse pinvoke stub, but for some reason, in GC 2860, we don't see this frame and so the object gets collected.

It looks like 2680 is not a stress mode triggered GC.

In the reverse pinvoke method we're past the call to CORINFO_HELP_J

[2020-06-04 01:54] AArnott opened #37380 "SslStream.AuthenticateAsClientAsync fails to flush when writing to underlying stream"
As originally reported in https://github.com/AArnott/Nerdbank.Streams/issues/186, it seems that when `SslStream` is constructed with an underlying stream that buffers written bytes (thus requiring `FlushAsync` to be called to actually send them out), that `AuthenticateAsClientAsync` and `AuthenticateAsServerAsync` may hang as they wait for a response to bytes they never actually flushed.

It seems

[2020-06-04 01:57] AceHack commented on #30456
How do you write a custom converter for byte arrays?  That's not clear to me.

[2020-06-04 02:03] xiangzhai opened #37381 "Failed to check CMake version"
Hi,

### Description

When building coreclr:

[code]

[check_prereqs](https://github.com/dotnet/runtime/blob/master/eng/native/build-commons.sh#L47) failed to check CMake version:

[code]

Because cmake --version is:

[code]

Workaround patch:

[code]

Thanks,
Leslie Zhai

[2020-06-04 02:07] sywhang opened #37382 "Add an Event that defines list of counters"
Before starting a counter session, it is not possible for a listener process to "query" for list of counters that are active on the target process.

This work item is to add an event that emits the list of counters that are currently active in a given process so that it is possible to query for this info.

[2020-06-04 02:19] andyhopp opened #37383 "Add Support for Dynamic OpenSSL Engines"
## Background and Motivation
Currently, the System.Cryptography classes under non-Windows platforms such as Linux, MacOS, et. Al. use a native interop layer for invoking OpenSSL APIs to perform cryptography functions. This layer currently does expose any support for dynamic engines, which prevents the use of many hardware security modules. An API should be provided that allows a developer to enume

[2020-06-04 02:21] AceHack opened #37384 "Microsoft.Extensions.Configuration.ConfigurationBinder should support byte[]"
### Description
byte[] is not supported with the current strongly typed Microsoft.Extensions.Configuration.  Please support byte[].

### Other information
It seems pretty simple and just supporting base64 format would be fine.  This would work with all configuration providers such as in-memory, json, XML, ini, environment, command line, etc...

Thanks.

[2020-06-04 02:22] stephentoub opened #37385 "Investigate why IdnMapping with ICU lowercases ASCII inputs"
From https://github.com/dotnet/runtime/pull/37348#pullrequestreview-423947478

cc: @safern

[2020-06-04 02:23] safern commented on #37385
Thanks @stephentoub -- self assigned.

[2020-06-04 02:32] stephentoub commented on #37380
cc: @wfurt

[2020-06-04 02:36] jkoritzinsky commented on #37352
Is there any way we can also allow it on interfaces? That would help for interop scenarios when trying to project COM or WinRT interfaces to generated C#. C#/WinRT for example could use this to create more reliably linkable code even for interop scenarios without necessarily needing a tool to post-process the application to discover and hard-code the supported interop types.

[2020-06-04 02:43] sywhang commented on #11358
The VS blocking part of this issue has been moved to #37374 instead. I'm marking this one for Future release unless anybody has objections.

[2020-06-04 02:48] dashenxian opened #37386 "httpclient Request headers must contain only ASCII characters"
When I use httpclient to simulate login, I need to keep the cookie, but there is a FriendlyName attribute in the cookie returned by the server that contains non-ascii characters, and then the second request will be wrong "Request headers must contain only ASCII characters" I saw this issue ![#32482 HttpClient not able to handle UTF8 Headers](https://github.com/dotnet/runtime/issues/32482), but I d

[2020-06-04 02:50] stephentoub commented on #2390
Closing as a temporary issue.

[2020-06-04 02:50] #2390 closed

[2020-06-04 02:56] stephentoub commented on #28488
@ericstj, should this be closed now, or is it still tracking work?

[2020-06-04 03:00] AndyAyersMS commented on #13720
Looks like reverse pinvoke exit just puts the thread into preemptive mode. So perhaps we could fix as follows: when we have a stress interrupt, if we're in managed code and we're also in preemptive mode, assert that we're in a reverse pinvoke stub (perhaps), and then don't induce a GC.

[2020-06-04 03:01] stephentoub commented on #30354
Closing as dup of https://github.com/dotnet/runtime/issues/30366. Thanks.

[2020-06-04 03:01] #30354 closed

[2020-06-04 03:06] tarekgh commented on #37385
I took a look and I am seeing ICU forcing lowercasing the ASCII string although is not really required by any spec.

Looking at ICU code https://github.com/unicode-org/icu/blob/cd56519859e23683f5b9001a1ffb6155dfa0375d/icu4c/source/common/uts46.cpp#L279 it is stating `The normalizer (using uts46.nrm) maps uppercase ASCII letters to lowercase` and the defined table used to lowercase the characters i

[2020-06-04 03:13] eerhardt commented on #37352
Would adding support on interfaces help for more scenarios than COM?

See https://github.com/dotnet/runtime/issues/36659 for more plans on how to support or trim COM.

[2020-06-04 03:50] safern commented on #37385
Thanks, @tarekgh -- you beat me to look into it. Then I think we can close the issue as it is ICU doing that.

[2020-06-04 03:50] #37385 closed

[2020-06-04 03:57] karelz commented on #37386
See https://github.com/dotnet/runtime/issues/32482#issuecomment-587590210 which explains such cookies / headers are violating RFC.
Currently such behavior is not possible on .NET Core 3.1.

That said, incidentally we had a discussion with a team earlier today, who pointed to us that this used to work on .NET Framework. There is high chance we will enable this, incl. porting to 3.1 patch. Follow #3

[2020-06-04 03:57] karelz commented on #37386
Duplicate of #37024

[2020-06-04 03:57] #37386 closed

[2020-06-04 04:12] jkoritzinsky commented on #37352
The COM support I mention would be more for out-of-band COM support. One example would be for an implementation of `IDynamicInterfaceCastable` (https://github.com/dotnet/runtime/issues/36654) where we don't know all of the types we can cast to in advance, so the implementations have to be looked up via reflection. It's possible that the handling of `CastableObjectImplementationAttribute` (also des

[2020-06-04 04:13] yyjdelete opened #37387 "Document of PropertyInfo didn't say it won't treat private getter/setter as readable/writable when access by an subType."
### Description

Document of PropertyInfo didn't say it won't treat private getter/setter as readable/writable when access by an subType.
It just say `CanRead`/`CanWrite` is `false` without an getter/setter, and `SetMethod` say it's equal to `GetSetMethod(nonPublic: true)` and so it can return noPublic method.
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.propertyinfo.setmethod?vie

[2020-06-04 04:55] BruceForstall commented on #37381
@xiangzhai Looks ok to me. presumably it will compare "3.14.5" against "3.16.20191127-g7046a52" which will do the right thing?

Can you submit a PR?

[2020-06-04 05:07] jkotas opened #37390 "[ILVerify] Add optional warnings for constructs that are likely incorrect"
- Catching exception that does not derive from System.Exception
- location that immediately follows an unconditional branch, and not a target of an earlier branch instruction, then the state of the evaluation stack at X must be empty.

[2020-06-04 05:07] jkotas opened #37391 "[ILVerify] Add option for IL validation without IL verification"
Useful for sanity check of valid unsafe IL. This option should suppress all verification checks related to type safety, but keep the rest.

[2020-06-04 05:08] ArztSamuel opened #37392 "[ILVerify] Fix AbortBasicBlockVerification aborting the entire method"
The method `AbortBasicBlockVerification` currently aborts the verification of the entire method by simply throwing an exception.
The expected behavior would be that it only aborts the verification of the current basic block and continues verifying the next basic block.

[2020-06-04 05:08] VSadov opened #37393 "Ordering unimplemented ILVerify errors by their impact in compiler output validation"
This is very subjective. Most unimplemented errors between `UnknownOpcode` and `ThisMismatch` in https://github.com/dotnet/corert/blob/master/src/ILVerify/src/VerifierError.cs are interesting.

My approach here is to prioritize the errors by the chances of seeing such violation without triggering some internal asserts in our compilers.
Basically - bugs at higher levels of abstraction typically res

[2020-06-04 05:09] jkotas opened #37394 "Go over ILVerify TODOs"
File separate issues on all TODOs in https://github.com/dotnet/runtime/tree/master/src/coreclr/src/tools/ILVerification

[2020-06-04 05:09] MarcoRossignoli opened #37395 "[ILVerify]Add '--tokens' switch"
Today when ILVerify found issue we report tokens/offsets value for type system item for IL methods i.e.
[code]
We added some new type check and we decided to not report token value for it because they are not useful for regular use i.e.
[code]
However there are some scenario where tokens are useful, for instance on obfuscated code.
We should refactor code to have token values only if a user pass '

[2020-06-04 05:09] z1c0 opened #37396 "[ILVerify] BadImageFormatGeneric when verifying a .netmodule"
Calling `ILVerify.exe` for a *.netmodule* results in a `BadImageFormatGeneric` error.
e.g.

`ILVerify.exe "C:\Windows\Microsoft.NET\Framework\v4.0.30319\System.EnterpriseServices.Wrapper.dll" -r "C:\Windows\Microsoft.NET\Framework\v4.0.30319\mscorlib.dll"`

results in:

`Error: [TEMPORARY EXCEPTION MESSAGE] BadImageFormatGeneric:`

[2020-06-04 05:22] #37342 closed

[2020-06-04 05:45] wfurt commented on #37380
I've seen cases when it seems to take long time to get the data out. However I did not expected flush to be mandatory if data are written to underlying stream @stephentoub.
If anything, we should maybe do it in ForceAuthenticationAsync() after we sent out whole frame(s) and before waiting for response.

[2020-06-04 05:52] xiangzhai commented on #37381
Hi @BruceForstall

https://github.com/dotnet/runtime/pull/37398

Thanks,
Leslie Zhai

[2020-06-04 06:09] khellang commented on #30456
@AceHack You write it like the built-in one;

https://github.com/dotnet/runtime/blob/4a4e347b964a2c8d2216ec382e4fb481965bb2fc/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/ByteArrayConverter.cs#L7-L18

[2020-06-04 06:35] MichalStrehovsky commented on #37352
@jkoritzinsky Can you shed more light into the COM/WinRT support you are hoping to enable with this? `CastableObjectImplementationAttribute` is going to specifically mean "pretend this interface was implemented by an allocated object" - this will pretty much do the right thing for `DynamicInterfaceCastable` - e.g. if none of the interfaces the `CastableObjectImplementation` provides implementation

[2020-06-04 06:59] jkoritzinsky commented on #37352
@MichalStrehovsky I think based on what you've said, the meaning of `CastableObjectImplementationAttribute` should cover the use case I'm thinking of.

[2020-06-04 07:23] MichalStrehovsky opened #37400 "Delete special casing around non-virtual calls to abstract interface methods"
Port dotnet/coreclr#23032 to crossgen2.

The comment `// Backwards compat: calls to abstract interface methods are treated as callvirt` is still present in crossgen2's JitInterface implementation.

Noticed because #37370 was touching nearby lines.

Weird that the test is not failing (?).

[2020-06-04 07:38] shirhatti opened #37401 "[3.1] Add configuration to specify directory for the diagnostics server"
We need to add configuration allowing us to specify the directory where the diagnostics server socket is created.

In scenarios where you may want to use a bind mount (e.g., containers) or symlink to share the directory in which the diagnostic server is created, it is unideal to have to share the entire `/tmp` directory.

#1600 attempted to solve this, but failed in the multi-process scenario sinc

[2020-06-04 07:42] Wraith2 commented on #37383
This would expose abstracted implementation details to users and appears to have no windows equivalent.

[2020-06-04 08:02] vitek-karas commented on #37352
Can we do this by adding a static method which gets called from all of the .ctors (nothing in it, so JIT will effectively remove it) and put the attribute on that one? From linkers point of view it should have the same effect as if it was on all the constructors.

[2020-06-04 08:11] Per-Malmberg opened #37403 "Adding "to array" methods to Vectors and Matrices"
System.Numerics Matrices do not seem to have any way to convert their values to flat arrays.

This would be helpful when you want to pass data to for example [OpenGL via OpenTK](https://docs.microsoft.com/en-us/dotnet/api/opentk.graphics.es20.gl.uniformmatrix4?view=xamarin-ios-sdk-12) or in my case when I have written my own C# bindings to Opengl and Vulkan.

I'd be happy to implement this if it's

[2020-06-04 08:45] xiangzhai opened #37405 "LLDB Hang?"
Hi,

LLDB-8.0 is able to work for AMD64:

[code]

But LLDB-3.9 hang for ARM64:

[code]

[diagnostics](https://github.com/dotnet/diagnostics) initial ported to MIPS64, but LLDB-8.0 is hang for MIPS64 either... GDB is able to work for ARM64 and MIPS64  https://github.com/dotnet/runtime/issues/606

Please give me some hints.

Thanks,
Leslie Zhai

[2020-06-04 09:03] tmds commented on #36661
@stephentoub I think I may have identified the memory leak.

In https://github.com/dotnet/corefx/pull/36199 Process.{Safe}Handle became a waitable event handle on Unix.

https://github.com/dotnet/runtime/blob/4c23c57af73151e7a9422a2ef6f6b105a668172f/src/libraries/System.Diagnostics.Process/src/Microsoft/Win32/SafeHandles/SafeProcessHandle.Unix.cs#L30-L47

In constructor we set `ownsHandle: false`,

[2020-06-04 09:11] tmds commented on #36661
@janvorli fyi, there is a fix for the issue with valgrind: https://bugs.kde.org/show_bug.cgi?id=422174.

[2020-06-04 09:16] xiangzhai commented on #36204
:mips-interest :)

[2020-06-04 09:20] #35639 closed

[2020-06-04 09:25] ackginger commented on #27272
I'm not convinced this is fixed.

Isn't the issue actually here in PhysicalFilesWatcher:
https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.FileProviders.Physical/src/PhysicalFilesWatcher.cs#L134

This class attempts to respect `DOTNET_USE_POLLING_FILE_WATCHER` as it is constructed with `pollForChanges=true` in that case (by [PhysicalFileProvider](https://github.com/d

[2020-06-04 09:33] berkeleybross commented on #33388
I'd appreciate this being considered for the next iteration. We use Newtonsoft's JToken.DeepEqual extensively in unit test code, and we were hoping to see the equivalent in System.Text.Json.

This stack overflow question also highlights community desire for this feature: https://stackoverflow.com/questions/60580743/what-is-equivalent-in-jtoken-deepequal-in-system-text-json

[2020-06-04 09:51] janvorli commented on #37368
The i.mx28 processor is not compatible with .NET Core. .NET Core requires ARMv7 or ARMv8 instruction architectures while i.mx28 uses very old ARMv5TE one. We don't even support a newer ARMv6. The largest issue here is the JIT that would have to be modified to generate code for that instruction architecture, which is a non-trivial task.

[2020-06-04 09:55] janvorli commented on #37368
However, with Mono integration happening in .NET 5, it seems that you might be able to use the mono runtime to run .NET stuff on that processor.

[2020-06-04 10:05] janvorli commented on #37405
LLDB is hanging on amd64 on Alpine too. And it works on ARM64 in newer versions just fine. I believe it is happening either due to wrong build options being specified when building LLDB or LLDB just being broken for MIPS64. (based on my experience with problems I was hitting when trying to build LLDB 8 and 10 for arm32). Where did you get your build of LLDB? Was it from a distro package or have yo

[2020-06-04 10:08] roji commented on #33466
@dengyantao I'm going to close this for now as no code sample has been provided. However, if you post one we can reopen and investigate.

[2020-06-04 10:08] #33466 closed

[2020-06-04 10:15] umitgunduz opened #37522 "Mac OS X .net core 3.1.1 Self Signed RSA Certificate Interop+AppleCrypto+AppleCFErrorCryptographicException"
ProductName:	Mac OS X
ProductVersion:	10.15.5
BuildVersion:	19F101

.Net Core Info:
---------------------
.NET Core SDK (reflecting any global.json):
 Version:   3.1.101
 Commit:    b377529961

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.15
 OS Platform: Darwin
 RID:         osx.10.15-x64
 Base Path:   /usr/local/share/dotnet/sdk/3.1.101/

Host (useful for support):
  Version: 3.1

[2020-06-04 10:25] xiangzhai commented on #37405
Hi @janvorli

Thanks for your kind response!

LLDB-3.9 for ARM64 is just `apt-get install lldb-3.9`.

And LLDB-3.9 even hang with simple HelloWorld:

[code]

LLDB-8.0 for MIPS64 is @QiaoVanke rpmbuild from [upstream's source](https://releases.llvm.org/download.html#8.0.0).

But LLDB-8.0 not hang with HelloWorld:

[code]

Thanks,
Leslie Zhai

[2020-06-04 10:35] janvorli commented on #37405
Ah, so I have misunderstood, I have thought that LLDB 8 is hanging for MIPS64  too.
As for the arm64, what Linux distro are you using? E.g. for Ubuntu, there are newer versions available (Even for relatively old Ubuntu 16.04).

[2020-06-04 10:42] xiangzhai commented on #37405
Sorry for my poor English!  LLDB-8.0 MIPS not hang with simple HelloWorld, but hang with corerun:

[code]

[2020-06-04 10:53] drewnoakes commented on #33770
Possibly at the same time, though via a different diagnostic ID: calling `OfType<T>()` on an `IEnumerable<T>` where the `T` is identical or assignable is redundant.

[code]

[2020-06-04 11:07] BreyerW commented on #37403
Span property getter would be best if possible. No allocation no copying efficient indexer and if you really need copied data .toarray is available on span itself

[2020-06-04 11:16] lippinio opened #37410 "Large object heap does not respect System.GC.HeapHardLimit"
### Description
System.GC.HeapHardLimit is not respected when objects on Large object heap are allocated.
Application Freezes due GC if HeapHardLimit is reached instead of throwing an OutOfMemoryException.

#### Expected behaivour
Throw out of Memory Exception
#### Observed behavior
Application try to GC and freezes

### Steps to reproduce

1. Set HeapHardLimit in runtimeconfig.template.json
`{

[2020-06-04 11:33] janvorli commented on #37405
Hmm, this is strange, I've never seen a case when a C hello world would work, but .NET Core would hang under lldb.

When it looks hung - does ctrl+c have any effect?

[2020-06-04 11:33] stephentoub commented on #37352
I'd much rather we didn't. If we have to start playing such tricks to work around deficiencies in tools, we should instead fix the deficiencies in the tools. And these are sensitive code paths; the JIT should remove such a method when optimizations are enabled, but adding such additional code to such paths makes me nervous.

[2020-06-04 11:41] stephentoub commented on #36661
Yes. The "handle" here that's owned isn't actually the IntPtr but rather the ref count on it, what ReleaseHandle would undo. So that should be true.

[2020-06-04 12:10] shakazed commented on #37403
I agree, but I believe matrices (System.Numerics only contains 3x2 and 4x4) are currently implemented using fields for each row/column. Not sure what impact using an array in the "background" would have.

[2020-06-04 12:22] janvorli commented on #36661
@tmds thank you for the notice of the fix! And congratulations on finding the culprit. Have you managed to get symbols for the for the mtrace stack traces?

[2020-06-04 12:38] marek-safar opened #37414 "Add feature flag which controls Event Tracing support"
On some workloads ETW is not supported at all, on some we'd like to disable it by default due to size impact. There is not "feature flag" to do it right now.

We should introduce something like `RuntimeFeature.IsEvenTracingSupported` to allow illinker to remove any event tracing code and metadata automatically.

This flag would need to be used to guard any EventSource like calls and attributes but

[2020-06-04 12:53] BreyerW commented on #37403
@shakazed no no i dont think you need backing array with `MemoryMarshall.CreateSpan` although i dont remember if this work with classes only but documentation doesnt mention any constraints so i assume it works with structs too

[2020-06-04 13:00] vcsjones commented on #37383
@Wraith2 there is a bit of that already with OpenSSL / CNG. If this were to move forward, I could see it living in the [System.Security.Cryptography.OpenSsl](https://www.nuget.org/packages/System.Security.Cryptography.OpenSsl/5.0.0-preview.4.20251.6) package.

[2020-06-04 13:05] andyhopp commented on #37383
@vcsjones is correct; the intent would be for this implementation to be in the System.Security.Cryptography.OpenSsl assembly, which is only used on non-Windows platforms.

[2020-06-04 13:08] xiangzhai commented on #37405
YES, Ctrl+C works:

[code]

[2020-06-04 13:14] fowl2 commented on #33770
I did a little prototype for fun over at https://github.com/dotnet/roslyn-analyzers/issues/3608

[2020-06-04 13:20] Trolldemorted opened #37415 "System.DirectoryServices.Protocols LdapConnection should have an async API"
## Background and Motivation
`System.DirectoryServices.Protocols`'s `LdapConnection` has a `BeginSendRequest` method, but no straightforward async method which takes a cancellation token. The `Bind` family does not offer an async API at all.

We'd like to use it in an asp.net core project, where we would like to not block threadpool threads when validating login credentials.
## Proposed API
Add as

[2020-06-04 13:29] janvorli commented on #37405
Hmm, but it doesn't break into the running code but just terminates the process.

What if you set a breakpoint at "main" and run corerun, does it still hang or does it at least hit that?

[2020-06-04 13:33] jagbarcelo commented on #33121
Thanks a lot @trykyn for your solution. How did you find it? I wouldn't say it's an undocumented feature (because it is documented) but it is quite far-fetched to me. Anyway, thanks again.

[2020-06-04 13:35] Wraith2 commented on #37383
Do users directly consume the S.S.C.OpenSsl then? I had thought it was an implementation used through the abstractions in S.S.C

[2020-06-04 13:41] vcsjones commented on #37383
They can if they want to by referencing that package to gain access to a few OpenSSL-specific APIs. Most developers will probably consume the opaque types like `RSA` which don't have any platform specific APIs. Obviously it is encouraged to use the non-platform specific APIs since they should just work. However types like `RSAOpenSsl` and `RSACng` exist so you can do things specific to that platfo

[2020-06-04 13:45] AArnott commented on #37380
@wfurt if it helps, [here is the justification](https://github.com/AArnott/Nerdbank.Streams/issues/186#issuecomment-638856475) I gave the original filer as to why it's important to always flush if you depend on the bytes being transmitted.

[2020-06-04 13:57] stephentoub commented on #37414
Does that mean that every logging site would now need even more boilerplate:
[code]
? The existing guard is annoying enough, but largely unavoidable (especially if the actual call incurs cost due to computing args); it'd be really good if we could come up with a way to avoid needing the extra clause at every logging site. Some libraries do a ton of logging and it'd be nice to avoid all the extra c

[2020-06-04 14:00] andyhopp commented on #37383
@Wraith2 you are correct; currently, users do not normally directly consume the classes in the SS.C.OpenSsl namespace since S.S.C abstracts away the crypto functionality. However, this abstraction is a bit *too* abstract; it prevents users from leveraging HSMs and/or smart cards that use dynamic engines. As @vcsjones pointed out, the closest analogue to the proposed API are the S.S.C classes for C

[2020-06-04 14:05] stephentoub commented on #37414
For example, maybe we move to a static IsEnabled which does the runtime feature check, along with a lazily-initialized Log? Or maybe there's an attribute-based scheme where we can put some attribute on MyEventSource or Log or even better the base IsEnabled that ties it this runtime feature?

[2020-06-04 14:06] vitek-karas commented on #37414
I think we should do this in two layers:
* The implementation - where we would make sure that if event source is turned off, the public API is still there, but inside it doesn't do anything - and none of the code of the internal implementation gets pulled in. This can be done with the static property as suggested above.
* The call sites - once we have the above this is a little less important as t

[2020-06-04 14:07] mmitche commented on #37333
Nice progress. I wonder why it matters whether its globally installed or not.

[2020-06-04 14:11] xiangzhai commented on #37405
At least hit that:

[code]

But failed to break at `CodeGen::genPushCalleeSavedRegisters`:

[code]

[2020-06-04 14:13] stephentoub commented on #27272
Re-opening for the Microsoft.Extensions issue...

[2020-06-04 14:21] Wraith2 commented on #37383
If possible it would be good to provide additional platform abstract apis for access to those functions that lights up on capable host systems (desktop Linux, windows etc) rather than expose the user to multiple platform specific versions and force them to do the abstraction themselves.

[2020-06-04 14:35] janvorli commented on #37405
Hmm, so the only idea I have is that you could step through the code until you find the place where it hangs. I would try to set a breakpoint at coreclr_initialize, then step over the calls there as the first step.

[2020-06-04 14:48] Serentty commented on #37366
As an example of what this API could look like, I found this NuGet package which provides information using Unicode property tables. However, I think it would make sense for a standard version to work with ``Rune`` instead of ``int`` like this library does. Of course overloads for ``int`` would also be useful for stuff like checking if a code point is an unpaired surrogate.

https://www.nuget.org/

[2020-06-04 15:01] mmitche commented on #37333
@dsplaisted @Forgind @safern I am a bit suspicious of this change:

https://github.com/microsoft/msbuild/pull/5196/files#diff-ca8a95218362d15ed86f601b0158ea21R318

Combined with this: https://github.com/microsoft/msbuild/blob/master/src/Shared/NodeEndpointOutOfProcBase.cs#L398-L400

It looks like that leading 0 byte got eliminated. Oddly, the rejection is supposed to be on `0x5F` and `0x60`:

http

[2020-06-04 15:19] dsplaisted commented on #37333
That change does look suspicious in the sense that it's a change to the handshake logic.

@forgind could you look at this?

[2020-06-04 15:21] stephentoub commented on #36661
Not currently.  There's a separate process for that, and the bar is quite high for what gets ported back to it.  Can you speak to how impactful this actually is for your real workloads?

[2020-06-04 15:22] tmds opened #37421 "ConsoleLogger output is garbled with color codes when redirected"
On Kubernetes, logs from ASP.NET Core apps are garbled with color codes:
[code]

.NET `System.Console` will not output colors when it is not connected to a terminal. This is the case on Kubernetes, where `Console.IsOutputRedirected` returns `true`.

`ConsoleLogger` doesn't consider `IsOutputRedirected` and outputs colors regardless.

Behaving like `Console` would produce cleaner logs when running

[2020-06-04 15:25] rharpavat commented on #37318
After some more investigation we were able to trace the issue back to the [`AmazonServiceClient`][1] class that all the individual classes (`AmazonKinesisClient`, etc.) inherit from. The `AmazonServiceClient` uses the [`HttpWebRequest`][2] class to send data to AWS. However, looking at the [docs][2] for the class, Microsoft does not recommend using it for development, instead recommending the [`Ht

[2020-06-04 15:28] #37127 closed

[2020-06-04 15:34] eerhardt commented on #37352
I didn't list all the places that were needed, but another one is `ThreadPool` which is a static class.

https://github.com/dotnet/runtime/blob/13fbbeeae68c0bf700f4625ca953a1c070c11027/src/coreclr/src/System.Private.CoreLib/ILLinkTrim.xml#L19-L23

and `Async*MethodBuilder*` structs:

https://github.com/dotnet/runtime/blob/13fbbeeae68c0bf700f4625ca953a1c070c11027/src/coreclr/src/System.Private.Core

[2020-06-04 15:37] tmds commented on #37310
It would be interesting to give this a try to avoid these compiler issues in the future.

[2020-06-04 15:39] marek-safar commented on #37414
The importance of the static property is that gives us the most savings. Relying on instance version of IsEnabled is not great because it means we have to keep whole constructors chain for every custom EventSource and these constructors can bring dependencies and so on.

[2020-06-04 15:40] stephentoub commented on #37421
(FYI, there's a semi-related discussion at https://github.com/dotnet/runtime/issues/33980, which I still need to follow-up on.)

[2020-06-04 15:42] myrup commented on #36661
@stephentoub This is very impactful for our embedded clients. If left out would mean skipping .Net core 3. The clients cycle a process exactly once per second which amounts to ~ 10-20 mb leak every 24 hrs. I should imagine any long running processes like asp.net core servers that spawn any child processes are also affected.

[2020-06-04 15:44] tmds commented on #36661
Unfortunately not. I used `backtrace_symbols_fd` in `PAL_malloc` and a few symbol names showed up like `CreateEventExW`, but most weren't resolved. I didn't look into it further.

[2020-06-04 15:52] eiriktsarpalis commented on #469
Triage:
I think the main issue with including a `Select` overload that returns `IList<T>` is that it will necessarily have different execution semantics compared to the regular Select method. This can result in unexpected behaviour depending on your source type. For example:

[code]

[2020-06-04 15:53] marek-safar commented on #37352
The struct case is the strongest motivation for me for this to be added

[2020-06-04 15:55] eerhardt commented on #37414
@marek-safar - just so I understand your proposal: are you saying we should change all the callsites to EventSource (both in our dotnet/runtime code, and any external library) and wrap them in a new check for this new static property?

On [source.dot.net](https://source.dot.net/#System.Private.CoreLib/EventSource.cs,69fcbb5c318fe603,references) there are ~550 calls to `EventSource.IsEnabled()` and

[2020-06-04 16:08] eiriktsarpalis commented on #704
Triage: as already mentioned, this is a breaking change. However it might make sense to add a Roslyn analyzer for detecting this.

[2020-06-04 16:14] shakazed commented on #37403
Interesting. It looks like it should work for any type. I'll try it out and ser how it does :)

[2020-06-04 16:15] alnikola commented on #36639
Duplicate #36689

[2020-06-04 16:15] #36639 closed

[2020-06-04 16:21] karelz commented on #37380
Triage: `Write` should not flush, but higher level operation like `AuthenticationAsClientAsync` (which writes and then reads - i.e. expects stuff to be sent over the wire) should call `FlushAsync`.
We should always assume that the underlying stream can be buffering.

[2020-06-04 16:24] tannergooding commented on #37403
The vector types (but not the matrix types, unfortunately), have `.CopyTo` methods which allow going from a `vector` to an `array` or `span`. Likewise they have constructors which allow going from an `array`/`span` to a `vector`.

I think it would be reasonable to propose equivalents for the matrix and other types.

[2020-06-04 16:35] tannergooding commented on #37403
If we want to expose equivalent APIs on the `Matrix4x4` and related types, then the API review process is detailed here: https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

Essentially the original post would need to be updated with an API proposal similar to the [good example](https://github.com/dotnet/corefx/issues/271) listed under step one of the API Review Proces

[2020-06-04 16:41] BreyerW commented on #37403
@shakazed  If `CreateSpan` doesnt work inside property within struct (it has been awhile since i worked with spans and refs limits so my memory is fuzzy what works and what doesnt esp inside struct) and you really need toarray capabilities right now try using `createspan` outside struct itself like `var matrix=new Matrix4x4(); var arr=MemoryMarshal.CreateSpan(ref matrix.M11,16).ToArray();`

Of cou

[2020-06-04 16:46] tarekgh commented on #37414
CC @noahfalk

[2020-06-04 16:48] tannergooding commented on #37403
It's worth noting that while `MemoryMarshal.CreateSpan` will work, it is unsafe and fully bypasses the normal lifetime rules of C#, so unless you are confident that you are still respecting those, I would caution against using it as it is very easy to start pointing to "dead" memory.

[2020-06-04 16:54] DrewScoggins opened #37425 "[Perf -50%] System.Numerics.Tests.Perf_Vector2.LengthSquaredBenchmark"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/0c043d58ccce29e1d22acd4f77b0e0b352579ac5...f253b4a6f078585328d388c8a6feb1bbcd11bc2b)

### Regressions in System.Numerics.Tests.Perf_Vector2

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
LengthSquaredBenchmark | 0.34

[2020-06-04 16:54] DrewScoggins opened #37426 "[Perf -11%] System.Tests.Perf_Int64.ParseSpan"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/0c043d58ccce29e1d22acd4f77b0e0b352579ac5...f253b4a6f078585328d388c8a6feb1bbcd11bc2b)

### Regressions in System.Tests.Perf_Int64

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
ParseSpan | 19.27 ns | 21.47 ns | 1.11 |

[2020-06-04 16:56] danmosemsft commented on #36661
@myrup it sounds like yo'ure not on 3.1 yet (on 2.2 maybe). What timeframe are you looking at to move to 3.1? If it's not immediately, then we could get this fix out in a 5.0 preview, to get it a bit more validation.

@stephentoub I think preview 6 is still open if someone feels like creating a PR against `release/5.0-preview6`

[2020-06-04 16:57] mangod9 commented on #37426
@DrewScoggins could you please clarify what Baseline is measuring against? Is this with .net 3.1?

[2020-06-04 16:59] BreyerW commented on #37403
@tannergooding  if one use .ToArray() immediately after span creation and used that array it should be ok right? (like in my most recent example) Of course this means allocation and memory copy but no safety concerns.

 If allocation is a no then rule of thumb would be to never return nor store created span and no use-after-free/dispose while passing down span for consuming is ok as long as consum

[2020-06-04 17:03] danmosemsft commented on #36661
(I'm happy to do it if you think it makes sense)

[2020-06-04 17:06] nuzolx commented on #739
@swaroop-sridhar any update?
Thx you.

[2020-06-04 17:14] adamhathcock commented on #1550
SharpCompress does what you need but the Tar support isn’t super great.  Would love help expanding it.

[2020-06-04 17:15] marek-safar commented on #37414
Is the expectation that code like
https://github.com/dotnet/runtime/blob/296c82d97d4f146dd4e38973a141965377cf18c0/src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskContinuation.cs#L626 with be all "automatically" removed ?

I think we have to review all calls and if we are going to do that we should consider changing them to be fully EventSource "free". One can say that keeping t

[2020-06-04 17:19] davidsh opened #37428 "Add new telemetry EventCounter/EventSource tracing to System.Net.*"
# Proposed Telemetry
To support projects such as [YARP](https://github.com/microsoft/reverse-proxy), we plan to add new counters (EventCounter, PollingCounter, etc) and EventSource events. The main goal of this new telemetry is to support automated tools that can measure the performance/health of the overall system.

Note: This top-post will be edited and keep up to date with changes.

## Goals
*

[2020-06-04 17:27] iSazonov commented on #37301
@davidkaya @danmosemsft @JeremyKuhne Could you please look the issue? I'd be happy to get the fix for PowerShell.

[2020-06-04 17:30] myrup commented on #36661
@danmosemsft We rolled back to 2.2 when the memory leak appeared. There's no immediate need for us to upgrade except enjoy version alignment across our systems with the latest LTS  plus perhaps any 2.2 -> 3.1 speed improvements :).  I'd happily verify the leak is sealed with a preview release.

[2020-06-04 17:32] kunalspathak opened #37429 "ARM64: Investigate why more stack space is allocated than needed and why they are not aligned"
This was brought to the attention by @TamarChristinaArm in https://github.com/dotnet/runtime/pull/37139#issuecomment-635892020. For a method that takes 2 `Vector64<>` parameters, there are couple of problems:
1. We allocate stack space of 48 bytes although we just want to store 16 bytes.
2. The 16 bytes that is stored are not aligned properly. If they are aligned properly, we can convert it tp `st

[2020-06-04 17:32] kunalspathak commented on #37429
@BruceForstall , @CarolEidt

[2020-06-04 17:37] CarolEidt commented on #37429
As I mentioned [here](https://github.com/dotnet/runtime/pull/37139#issuecomment-638502745) this appears to be because `Compiler::getSIMDTypeAlignment` which is called by `Compiler::lvaAllocLocalAndSetVirtualOffset` always returns 16 for `TARGET_ARM64` which it should not be doing for 8-byte vectors. That accounts for 32 of the 48 bytes. The remaining bytes are because we store fp and we're alignin

[2020-06-04 17:37] MichalStrehovsky commented on #37352
For the `ThreadPool` case - do we know under what conditions debugger accesses those members? If we condition this on the `ThreadPool` class being referenced, are we sure that the debugger is not going to crash when I e.g. open the Debug -> Windows -> Threads in an app that doesn't use threadpool at all?

[2020-06-04 17:38] eerhardt opened #37430 "System.Net.Sockets.Tests failure on release mono_interpreter Linux arm64 Debug"
I have seen 2 PRs fail with the same error log on the `release mono_interpreter Linux arm64 Debug` leg

[code]

See:

* https://github.com/dotnet/runtime/pull/36532
    - [Pipeline](https://dev.azure.com/dnceng/public/_build/results?buildId=671364&view=logs&jobId=f837709e-f0da-5c5e-1c44-fce8cf05ee2a&j=f837709e-f0da-5c5e-1c44-fce8cf05ee2a&t=38191328-a569-5c18-c07b-f2fe3ed26a9f)
    - [Helix Console

[2020-06-04 17:40] kunalspathak commented on #37429
Thanks @CarolEidt , I will try out this suggestion and verify that the change doesn't regress anywhere else.

[2020-06-04 17:41] #36616 closed

[2020-06-04 17:41] wtgodbe commented on #13257
@ulrichb that file has since moved: https://github.com/dotnet/aspnetcore/blob/release/2.1/src/DefaultBuilder/src/WebHost.cs. Could you try using a newer PDB? The most recent version of 2.1 is 2.1.18

[2020-06-04 17:44] janvorli opened #37431 "Compiler error in native coreclr code build on Windows is not printed to console"
When I run build locally (e.g. using `build.cmd Clr+Libs` from the root of the repo) and the compilation of coreclr fails due to a bug in the native source code, the compiler error message is not printed to console anymore. It is only recorded in the build log files.
This is painful and we should fix it so that the error message is printed to console too, as it used to be in the recent past.

[2020-06-04 17:44] terrajobst commented on #17393
Looks good as proposed.

[code]

[2020-06-04 17:51] rdasan commented on #34858
Since the other issue is closed  (#805) i will try to give more context here.
@wfurt We deploy our service as a Web App on Azure App Services in our CI/CD Staging release. The API end points on our service require a Certificate over Https. We have an automated Integration test in our CI/CD pipeline that we run across the our end points where we puposely pass in an Invalid Certificate and in the Te

[2020-06-04 17:57] shakazed commented on #37403
@tannergooding I had missed that there are CopyTo on Vectors. I agree that Matrices should have similar methods.
I will rewrite the issue as a API proposal.

[2020-06-04 18:03] JeremyKuhne commented on #37301
@danmosemsft Yes, this looks like an oversight. We should add a comment in both places pointing out the connection if we can't share the code.

@iSazonov I'm no longer on the libraries team, but this should clearly be consistent between the two. @carlossanlop will have to decide the best course of action on throwing. If we can be confident on checking that it isn't supported than throwing seems re

[2020-06-04 18:08] ericstj commented on #36089
Retitled this issue.  Ultimately applications need a way to gracefully shutdown on docker stop.  Previously AppDomain.ProcessExit worked for this, but it no longer does.  We should either fix that, or recommend a better way to gracefully stop.

[2020-06-04 18:08] eiriktsarpalis commented on #802
This seems to be by design:
https://github.com/dotnet/runtime/blob/5ecdf29259e54996b1d4984c5fa29b4a2174ac4c/src/libraries/System.Console/src/System/ConsolePal.Unix.cs#L132-L139

That being said, when I tested this on Windows LF and CR chars are clearly being distinguished, so it's not clear to me what the motivation of that particular code is. Perhaps @tmds can comment on this?

It should be noted

[2020-06-04 18:11] terrajobst commented on #17837
* We decided to go with a simpler route.

[code]

[2020-06-04 18:17] tarekgh commented on #30086
@safern I marked this for 5.0 as you are in the process to enable the ASCII transitional in ICU.

[2020-06-04 18:21] ViktorHofer opened #37436 "Stop building installer tests when specifying installer subset or none"
Currently, `installer.tests` is part of the `installer` subset: https://github.com/dotnet/runtime/blob/master/eng/Subsets.props#L64. We should consider removing it from the default subset to save time during restore and build (no need to restore test dependencies).

cc @safern

[2020-06-04 18:22] terrajobst commented on #1476
* We need to decide wether we throw or whether we do a softwar fallback, but naming looks fine:

[code]

[2020-06-04 18:23] AndyAyersMS commented on #8227
Have bits of this laying around, I should finish it one day.

[2020-06-04 18:28] AndyAyersMS commented on #32415
Issue here is that we don't promote structs of structs, so the `Wrapper` struct argument doesn't get promoted, and this leads directly to the various codegen issues.

We won't be able to address this in 5.0.

I don't see a pre-existing issue for general struct promotion. @erozenfeld do you know of one?

[2020-06-04 18:32] terrajobst commented on #23021
Looks good as proposed

[code]

[2020-06-04 18:36] GrabYourPitchforks commented on #37426
The _diff_ link in the issue shows the commits, looks like the regression might be within the past week or so?

[2020-06-04 18:38] GrabYourPitchforks commented on #37366
We can't carry full Unicode information within the runtime. It would bloat the size of the runtime by several megabytes. But since we're defaulted to running on top of ICU now, I wonder if we could expose some of those APIs as first-class members from `CharUnicodeInfo`. Would need to let the area owners chime in.

[2020-06-04 18:38] AndyAyersMS commented on #4308
Here's the current codegen:
[code]
Methods 1 and 2 still have an extra copy though:
[code]
[code]

[2020-06-04 18:48] tarekgh commented on #37366
I think CharUnicodeInfo is the right place for such functionality. I believe we can get get the need information from ICU/NLS. ICU should be supporting that but I am not sure yet of NLS. so we don't have to carry the data. I understand the drawback of that is maybe the Unicode version supported by ICU may be different than the version we support in CharUnicodeInfo but I think it could be acceptabl

[2020-06-04 18:49] terrajobst commented on #936
* Type looks good as proposed
* But we decided to put it in `System` to align with the other primitves

[code]

[2020-06-04 18:49] EgorBo commented on #37425
[code]

[code]

[2020-06-04 18:57] terrajobst commented on #24460
Can someone update the sample to make a compelling case for the currently proposed API? The sample code was for a different proposal.

[2020-06-04 19:02] josalem opened #37438 "Refactor FEATURE flags for Diagnostics Server and EventPipe"
This was a pre-existing issue but since we are changing the code DiagnosticServer::Initialize and PauseForDiagnosticsMonitor should not be conditional on FEATURE_PERFTRACING. If that is going cascade into a bunch of refactoring feel free to track it with an issue instead of fixing it right away.

_Originally posted by @noahfalk in https://github.com/dotnet/runtime/pull/36720_

[2020-06-04 19:07] tannergooding commented on #37425
The regression is due to `DPPS` not being a `SimdAsHWIntrinsic` yet and so there is some register shuffling when transitioning from the legacy `GT_SIMD` to the newer `GT_HWINTRINSIC` as the RMW and VEX support between them isn't the same.

[2020-06-04 19:12] danmosemsft commented on #37426
Looking at the graph (click on historical data above, then click on the graph -- it expands )  it seems a creeping regression. You can click on the graph to find the diff (its super fiddly unfortunately)> There's a first step on May 28th, but it only spans one commit and it's in WASM.

[2020-06-04 19:13] danmosemsft commented on #37426
Might need a diff of traces.

[2020-06-04 19:13] danmosemsft commented on #37426
@tannergooding

[2020-06-04 19:14] ericstj opened #37439 "`Browser` configuration for libraries is inconsistent with RID graph"
https://github.com/dotnet/runtime/pull/34940 added `Browser` RID and made it derive from `any`

https://github.com/dotnet/runtime/pull/35323 made `Browser` configuration in libraries derive from `Linux`

This inconsistency will cause the build of dotnet/runtime to use `linux` and `unix` configurations of libraries for `Browser` during build and test, but those assets will not be used in a customer

[2020-06-04 19:16] ericstj commented on #37439
/cc @marek-safar @lewing @vargaz

[2020-06-04 19:16] trylek opened #37440 "July infra rollout: move tests shared between coreclr and mono from src/coreclr/tests/src to src/tests"
As what was previously the "CoreCLR test suite" is now shared with mono, it no longer makes sense for it to sit under src/coreclr/tests in the runtime tree. The purpose of this task is to move the tests into a new common folder under the tree and modify the paths in all scripts and pipelines so that they continue running after the change. This task doesn't address any changes to the underlying har

[2020-06-04 19:18] bartonjs commented on #37435
I hate to ask this question, but: Are you sure you're running 3.1?

For .NET Core 3.0 and earlier versions we had an assumption that each CA used one and only one URL for their CRLs, and DigiCert proved us wrong by having an arbitrary split to a different CRL for different issuance slices from the same CA.  For 3.1 we already changed it to use both the CA DN and the URL in the cache key (aka file

[2020-06-04 19:21] peterduniho commented on #24460
I'm not sure what sample you mean, so I'm probably missing part of the point of the request. My apologies about that.. But this isn't just an issue with `Distinct()`. Another common scenario would be various dictionary types (e.g. `Dictionary<TKey, TValue>` and `ConcurrentDictionary<TKey, TValue>`). Pretty much any place you'd want an instance of `IEqualityComparer<T>`, it would be much nicer to b

[2020-06-04 19:24] davmason commented on #37117
I am trying to narrow down a repro this morning.

Just running the test on my local machine it has a decent repro rate, maybe one out of 20 times. It does not repro without the profiler attached, after looking at the profiler it is likely because the profiler blocks R2R images, so System.Private.CoreLib is all jitted.

I can get it under a debugger with a little effort, @BruceForstall would a dump

[2020-06-04 19:28] ericstj commented on #37439
The following are the libs that use these configurations today.

<details><summary>Unix (81 libraries)</summary>
<p>

- Microsoft.Win32.Primitives
- Microsoft.Win32.Registry
- System.AppContext
- System.Buffers
- System.Collections
- System.Collections.Concurrent
- System.Console
- System.Diagnostics.Contracts
- System.Diagnostics.Debug
- System.Diagnostics.FileVersionInfo
- System.Diagnostics.Sta

[2020-06-04 19:29] tmds commented on #802
This is matching KeyChar = `\r` (like on Windows) when the user presses `Enter`.

[2020-06-04 19:29] raaznaren opened #37442 "Static class members are not getting instantiated"
### Describe the bug:
When I call any static class method, all members used to instantiate in .net framework. This is not the case any more in .netcore(tested in 2.1 & 3.1). I'm not sure if this a regression bug or optimization in .net core. Could not find any documentation hence raising as an issue. If it's by design, please point to the correct documentation on behavior change.

### To Reproduce

[2020-06-04 19:39] #37203 closed

[2020-06-04 19:41] eiriktsarpalis commented on #802
Hitting enter is mapped to `\r` regardless, the effect of this particular logic is that it maps `^J` inputs to `\r` too, which is not the case on Windows.

[2020-06-04 19:43] naricc commented on #37440
Is this just going to involve a lot of updating paths? Or are there more substantive changes involved?

[2020-06-04 19:50] ViktorHofer commented on #37440
@jkotas what's your stance on the new path? Are you in favor of `tests/runtime` or something under src like `src/tests/runtime`?

[2020-06-04 19:56] trylek commented on #37440
@naricc - I believe we should just "update the paths" in this one step and tackle any deeper semantic changes regarding test execution later. I think that even in its limited extent this will be a bit of fun :-).

[2020-06-04 19:58] ericstj commented on #1518
Looks to me like this was assuming GetEntryAssembly() would never return null, but it does in this case as mentioned here: https://github.com/dotnet/runtime/issues/25027#issuecomment-374465368

A fix for this would be to handle null, and fall back to something like `AppContext.BaseDirectory` instead.  Perhaps just replace this with `AppContext.BaseDirectory`.

[2020-06-04 19:59] jkotas commented on #37442
This behavior is expected.

Your sample is using beforefieldinit static constructors. The spec allows the beforefieldinit static constructors to be executed any time before the static field on the type is accessed. .NET Framework takes advantage of this flexibility.

The behavior of your sample in .NET Framework will vary. For example, if you compile your sample with optimizations on (Release conf

[2020-06-04 19:59] #37442 closed

[2020-06-04 20:05] #1161 closed

[2020-06-04 20:10] #37279 closed

[2020-06-04 20:18] tmds commented on #802
I think without this `if` block `KeyChar` would be `\n` for `Enter` on Linux.

This may be an unintended effect of the bock.

[2020-06-04 20:19] GrabYourPitchforks commented on #37366
In theory if we knew the ICU APIs were available to us we could have `CharUnicodeInfo` ignore its own backing data and call directly into ICU. Then there wouldn't be a discrepancy. I expect this would result in a perf hit, but perhaps that's acceptable?

[2020-06-04 20:21] omariom commented on #37414
The new property could be integrated into IsEnabled methods
JIT is smart enough to recognize that.

![image](https://user-images.githubusercontent.com/1781701/83806182-03b37d80-a6a9-11ea-8ce5-6bba2c4d7f67.png)

There are some leftovers but that is JIT's concern.

[2020-06-04 20:22] stephentoub commented on #37414
The primary concern here isn't actually about the resulting asm after the JIT is done with it: it's IL binary size.

[2020-06-04 20:26] psantosl commented on #37149
That was the issue @tmds : on Linux the ThreadPool was exhausted and this prevented the callback to wakeup timely.

[2020-06-04 20:26] #37149 closed

[2020-06-04 20:29] psantosl opened #37444 "Can't attach to a process by SSH on Ubuntu 18.04.4 LTS / GCP"
Hi,

I can successfully attach to a remote "hello world" process running in Google Compute Platform - Ubuntu 18.04.4 LTS, from Visual Studio 2019.

Process is net core 3.1.

But I always get the following error trying to attach to a real production process.

Both processes running under same account, the same I use to connect through SSH.

Any hits what I'm doing wrong, or how to get extra info?

[2020-06-04 20:32] omariom commented on #37414
aah.. I now see `illinker` is mentioned.

[2020-06-04 20:48] SamMonoRT commented on #37440
Some discussion on this : https://teams.microsoft.com/l/message/19:bad9e598dc9d42059762dd32b629918f@thread.skype/1579810210412?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=014ca51d-be57-47fa-9628-a15efcc3c376&parentMessageId=1579810210412&teamName=dotnet%2Fruntime%20repo&channelName=Tests&createdTime=1579810210412

[2020-06-04 20:48] jkotas commented on #37440
My thoughts:
- For better or worse, we have the extra `src` level at the root and all sources under it. We should be consistent with.
   - If we believe that this extra `src` level is not useful (e.g. it looks odd to have two `src` in the path like `src\libraries\System.AppContext\src`), we should get rid of it from everywhere and have e.g. `libraries` as the top level directory.
- What other dire

[2020-06-04 21:01] safern commented on #30086
Yep, this will be fixed on:
https://github.com/dotnet/runtime/pull/37281

[2020-06-04 21:03] Serentty commented on #37366
Hm... I was about to comment that I didn't think that would be a problem, since I couldn't see myself checking character properties in a tight loop. But then I thought about it some more, and I realized that doing something like iterating through a string looking for characters belonging to a certain script is actually a fairly realistic use case. Would the performance hit mostly just be from mars

[2020-06-04 21:03] wfurt commented on #34858
From the call stack it looks like the ssl handshake was completed and HttpClient is trying to read response. If there is issue with handshake you would see stablishSslConnectionAsyncCore() in the trace as in the original post.
I assume you tried to increate the HttpClient timeout just to be sure?

What version of .NET are you on @rdsan? Would collecting traces be feasible for you?
Or getting core

[2020-06-04 21:05] davmason commented on #37117
I got a trace of it, it looks a lot like a GC hole so far. I am making progress and investigating at this point.

[2020-06-04 21:18] EgorBo opened #37449 "[mono] ReadOnlySpan<byte> hack doesn't work in Mono"
A while ago, Roslyn team implemented a ~~hack~~feature: https://github.com/dotnet/roslyn/pull/24621 `Refer directly to static data when ReadOnlySpan wraps arrays of bytes.`. Technically, it allows to access static read-only arrays without allocations / static initialization, the syntax looks like this:

[code]

#### CoreCLR:
[code]
As you can see, the access is just a few mov's + bound check (can

[2020-06-04 21:22] marek-safar commented on #37449
/cc @SamMonoRT

[2020-06-04 21:27] tkp1n commented on #17837
@terrajobst or @GrabYourPitchforks feel free to assign this to me. I‘d be happy to provide a PR for this.

[2020-06-04 21:41] stephentoub commented on #37428
Are you proposing leaving the existing logging as-is, or are you proposing migrating the existing functionality to the new namespaces/types and be more rigorously designed?

It'd be nice if we had just one way of doing things in the codebase, as well as if we're going to be rigorous about treating the logging as documented behavior that we're able to do that consistently across old and the new.  A

[2020-06-04 21:46] ulrichb commented on #13257
@wtgodbe Hmm ... 2.1.7 is the latest 2.1.* version, see https://www.nuget.org/packages/Microsoft.AspNetCore/2.1.7 .. isn't it?

[2020-06-04 21:48] karelz commented on #37024
This used to work on .NET Framework -- from compat perspective we will have to enable that - maybe as an opt-in config, or API, maybe as default.

[2020-06-04 21:49] kzu commented on #37328
Cool, thanks! Yes, the plan is to contribute the fix, if you'd be willing to take it in once approved 👍

[2020-06-04 21:51] wtgodbe commented on #13257
@ulrichb that is the last time we produced that particular package, but we've continued to ship releases of the 2.1 product. Our most recent was last month - see the release notes here, which has links to download the asp.net runtime: https://github.com/dotnet/aspnetcore/releases/tag/v2.1.18

[2020-06-04 22:00] ulrichb commented on #13257
Okay, but even the [Microsoft.AspNetCore.App v**2.1.18**](https://www.nuget.org/packages/Microsoft.AspNetCore.App/2.1.18) package references *Microsoft.AspNetCore (>= **2.1.7** && < 2.2.0)* (which directly contains the `WebHost` with the "broken" .PDB), ... so maybe the problem is that the `Microsoft.AspNetCore` package has never been "re-released"?

[2020-06-04 22:03] steveharter commented on #36635
On the writer, there are likely several micro-optimization in the writer (as above) that may help a bit. @ahsonkhan has invested a lot in the current design and optimization so he would be best to cover that.

On the serializer, we are considering a code-gen effort for POCOs but I don't think that will help much for these simple POCO write scenarios unless they include cold-start scenarios where c

[2020-06-04 22:04] ulrichb commented on #13257
... and just guessing: Maybe it hasn't been released/updated after the directory move because the assembly's content hasn't changed (it's a pretty small assembly), but only the .PDB (paths) have changed.

[2020-06-04 22:04] wtgodbe commented on #13257
Ah, you may be on to something there. @dougbu @Pilchie perhaps we need to ship `Microsoft.AspNetCore` again out of 2.1 to resolve the issue w/ the .pdb

[2020-06-04 22:06] tarekgh commented on #37366
If the perf can be a concern, we can cache the script ranges from ICU. I didn't look at the ICU APIs but I guess there could be some way to help optimize it.

[2020-06-04 22:08] BruceForstall commented on #37117
Tagging @AndyAyersMS because he's our GCStress expert these days, and @erozenfeld because it's a tailcallstress case.

[2020-06-04 22:20] Serentty commented on #37366
I checked the UCD, and the file containing script properties was defined entirely in terms of ranges, not individual code points. So the file itself is quite small, unlike the files for most other properties.

[2020-06-04 22:31] tarekgh commented on #37366
Cool. I still prefer to try to get the info from ICU as long term we should be fully avoiding carrying any Unicode data. But in the short term, I don't mind carrying some if the size is small. Thanks, @Serentty for the info.

[2020-06-04 22:32] davmason commented on #37117
I think I understand the issue, but it's been long enough since I dealt with a GC hole that some verification would be nice.

The underlying issue is that the GC is stomping over the beginning part of the path string and corrupting it.

The LoadCollectibleAssembly method looks like this, when the GC stomps over the string there is a reference to it in ecx
[code]

But I don't see anything rooting e

[2020-06-04 22:43] JamesNK commented on #2339
Is there a plan for annotating Microsoft.Extensions.* packages that now live in dotnet/runtime?

[2020-06-04 22:47] davmason commented on #37117
Just realized after posting that it's not ecx, because ecx isn't used after the call. So if it is a GC hole it's in the callee instead

[2020-06-04 22:47] danmosemsft commented on #2339
@JamesNK for .NET 5 we will annotate all of the shared framework. That doesn't include separate packages like this. We'd like everything to be annotated, and would take PR's for it (presumably trying to work up library dependency order)

[2020-06-04 22:48] janvorli commented on #37117
Can you share the stack trace of the thread with this method including native frames? I assume that the current RIP was either in the prestub or already in the callee.

[2020-06-04 22:49] dougbu commented on #13257
Any later code movement and the directory consolidation are red herrings for this part of the discussion.

https://raw.githubusercontent.com/aspnet/AspnetCore/28cf04843f3456a72f1816e83a1f4aa59f49a049/src/MetaPackages/src/Microsoft.AspNetCore/WebHost.cs is a completely valid URI that matches what https://github.com/dotnet/aspnetcore/blob/v2.1.7/src/MetaPackages/src/Microsoft.AspNetCore/WebHost.cs s

[2020-06-04 22:51] JamesNK commented on #2339
Ok. The ASP.NET team is starting to annotate aspnetcore, and Microsoft.Extensions.DependencyInjection and Microsoft.Extensions.Configuration are low level dependencies in our stack.

We might submit PRs as part of that work.

[2020-06-04 22:52] davmason commented on #37117
This is the trace at the point when the GC is writing over the beginning part of the string. It's in the prestub for System.Runtime.Loader.AssemblyLoadContext.LoadFromAssemblyPath

[code]

The MD that the prestub is for:
[code]

[2020-06-04 22:55] janvorli commented on #37117
So at that point, the ECX should be protected by the PrestubMethodFrame erected in the PreStubWorker.

[2020-06-04 22:59] janvorli commented on #37117
The PreStubMethodFrame::GcScanRoots should update the ECX in the TransitionBlock if GC moves that object. Can you please check the pTransitionBlock in the PreStubWorker to see what the m_argumentRegisters.ECX points to?

[2020-06-04 23:02] janvorli commented on #37117
Actually, I am sorry for an imprecise statement - the GC should update that location, the PreStubMethodFrame::GcScanRoots would just report it to GC.

[2020-06-04 23:02] safern opened #37460 "We should unify configurations casing across subsets"
Currently, all native scripts for coreclr use lower case configurations and in all the MSBuild pieces we use upper cased configurations, which leads us to have inconsistency in the ymls and other places to be able to build correctly. I.e:

https://github.com/dotnet/runtime/blob/a0c332469fba5430059f0d372a092923a0d3744f/eng/pipelines/common/xplat-setup.yml#L33-L44

cc: @dotnet/runtime-infrastructure

[2020-06-04 23:04] janvorli commented on #37117
The TransitionFrame::PromoteCallerStack is the actual method called by PreStubMethodFrame::GcScanRoots that reports the arguments based on the callee signature.

[2020-06-04 23:11] GrabYourPitchforks opened #37462 "JIT suggestion: optimize comparisons of uint against int.MaxValue"
We have a few places in the code where we compare locals of type `uint` against `int.MaxValue`.

https://github.com/dotnet/runtime/blob/a0c332469fba5430059f0d372a092923a0d3744f/src/libraries/Common/src/System/Buffers/ArrayBufferWriter.cs#L180-L183

https://github.com/dotnet/runtime/blob/a0c332469fba5430059f0d372a092923a0d3744f/src/libraries/Common/src/System/Security/Cryptography/ECDiffieHellmanOp

[2020-06-04 23:12] mdh1418 opened #37463 "Microsoft.Extensions.Http.Tests fails on Android"
## One test from Microsoft.Extensions.Http.Tests fails on Android

### Microsoft.Extensions.Http.DefaultHttpClientFactoryTest
- [ ] Factory_CleanupCycle_DisposesEligibleHandler

Stack Trace
[code]

[2020-06-04 23:12] davidsh commented on #37428
I had email discussions with @noahfalk and his team about this question. He generally recommends against deleting events, changing namespace names because it can break applications that depends on it.

I really wanted to create a new namespace that used .NET namespace names (i.e. System.Net.Http) instead of Windows ETW style names (Microsoft-System-Net-Http) as this matches what is done for EventC

[2020-06-04 23:17] davidsh commented on #37428
`bytes-sent (Bytes Sent)`
Any idea what kind of overhead this might add? We'll need to be sure that it's basically zero when the counters are disabled. Also, what's the design for how someone will enable these and the fine-grainedness at which they're able to, e.g. if turning these on does slow down a high-throughput server measurably, we'll want to be careful about how easy that is to do accident

[2020-06-04 23:29] mdh1418 opened #37464 "System.ComponentModel.Composition.Tests fails on Android"
## One test from System.ComponentModel.Composition.Tests fail on Android

### Tests.Integration.DiscoveryTests
- [ ] InheritedExport_TwoInterfaces

Stack trace
[code]

[2020-06-04 23:31] halter73 commented on #37428
[In ASP.NET](https://github.com/dotnet/aspnetcore/blob/5a0c097ad4b0aef756cd92f2d593cda3fa223748/src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelEventSource.cs), we have total-requests (i.e. requests-started), current-requests (i.e. requests-completed - requests-started), and failed-requests (i.e. requests-aborted).

I prefer the way ASP.NET tracks current-requests instead of requests-c

[2020-06-04 23:46] akoeplinger commented on #37440
It feels a bit confusing to me that a `src/tests` folder wouldn't contain _all_ the tests including libraries tests, maybe something like `src/runtime-tests` is better?

Or at the very least explain in the `src/tests/README.md` that it doesn't include libraries tests and where to find them.

[2020-06-04 23:49] mdh1418 opened #37465 "System.Console.Tests fail on Android"
## Several tests from System.Console.Tests fail on Android

## System.Console.Tests
- [ ] TermInfo.TermInfoVerification(termToTest: \"screen\", expectedForeground: \"\\x1b[30m\", expectedBackground: \"\\x1b[40m\", colorValue: 0)
- [ ] TermInfo.TermInfoVerification(termToTest: \"mach-color\", expectedForeground: \"\\x1b[312m\", expectedBackground: \"\\x1b[412m\", colorValue: 12)
- [ ] TermInfo.Term

[2020-06-05 00:02] danmosemsft commented on #36903
System.Xml.XmlSerializer.Tests are line endings issues

[2020-06-05 00:09] danmosemsft commented on #36884
Compression tests can't find their input test files -- they should be coming from the test data package built from dotnet/runtimeassets.

Pipes tests `'/Users/mdhwang/Library/Developer/CoreSimulator/Devices/AB8A2904-AD12-4CCD-9072-445DC2401264/data/Containers/Data/Application/94C91190-0BEB-4726-B3E9-063E3E7361A4/tmp/CoreFxPipe_0nnfzbye.vys' is of an invalid length for use with domain sockets on th

[2020-06-05 00:17] jkotas commented on #37440
`src/tests/README.md` is certainly a good idea.

I do not think `runtime-tests` helps with clarity. `nonapi-tests` or `nonlibraries-tests` would be better, but it is a mouthful, so I would rather go with just `tests`.

[2020-06-05 00:26] pranavkm commented on #2339
It might suffice to annotate the abstractions for these extension libraries to start with. However, one thing to note is that these packages currently only target ns2.0 and do not cross-compile. @danmosemsft, what's your recommendation here to turn on nullability for these assemblies? Should we consider cross-compiling to net5?

[2020-06-05 00:27] danmosemsft commented on #2339
Ah - I overlooked that. Hmm, I don't think this would be a good enough reason to cross-compile. cc @stephentoub in case he has another idea.

[2020-06-05 00:41] trylek commented on #37440
Thanks everyone for your initial feedback. I like @jkotas' counterproposal to my original suggestion and I'm completely fine going with it. According to my understanding of his suggestion, we should basically map today subfolders of <code>src/coreclr/tests/src</code> under <code>src/tests</code>, e.g. <code>src/coreclr/tests/src/JIT</code> will become <code>src/tests/JIT</code>.

As a first cut we

[2020-06-05 00:43] GrabYourPitchforks commented on #17837
@tkp1n done! Thanks :)

[2020-06-05 00:49] stephentoub commented on #2339
Cross-compilation isn't needed.

Our general approach has been to annotate the implementation and use that to validate the surface area annotations. But that's less meaningful when the targeted surface area (ns2.0) isn't annotated.

I'd suggest just annotating the library's surface area / ref assembly, at least to start. You can then annotate the implementation as well if desired, keeping in mind

[2020-06-05 01:10] safern commented on #37277
Dupe of: https://github.com/dotnet/runtime/issues/37132

[2020-06-05 01:10] #37277 closed

[2020-06-05 01:11] safern commented on #37132
Failed again in: https://helix.dot.net/api/2019-06-17/jobs/7f75d67d-78f2-485f-b900-2a1e13f121d1/workitems/PayloadGroup0/console

[2020-06-05 01:29] xiangzhai commented on #37405
LLDB-6 is able to work for ARM64:

[code]

GDB is able to work for MIPS64   [gdb.log](https://github.com/dotnet/runtime/files/4733380/gdb.log)

LLDB-8 might hang at `MethodDesc::JitCompileCode` for MIPS64  [lldb.log](https://github.com/dotnet/runtime/files/4733382/lldb.log)  So set breakpoint at `MethodDesc::JitCompileCode`:

[code]

`si` is able to work, but `s` hang...

Thanks,
Leslie Zhai

[2020-06-05 01:44] leorik commented on #24200
Given issues outlined by Maoni and Jan do we still consider implementation based on SizedReference?

Alternative route would be calcualtion based on fields and their sizes (along with MethodTable ref, and object header), like the way SOS already doing this: https://github.com/dotnet/diagnostics/blob/master/src/SOS/Strike/sos.cpp#L170.

And a bit of side question: should we count ObjHeader when we

[2020-06-05 02:10] sandreenko opened #37466 "Failures in "CoreCLR Common Pri1 Test Build AnyOS AnyCPU" pipeline."
I have rebased my changes on the top of the current master and triggered jitstress and jitstressregs, both have failed with:
[code]
in `CoreCLR Common Pri1 Test Build AnyOS AnyCPU checked` that I have not seen before.
[example](https://dev.azure.com/dnceng/public/_build/results?buildId=672645&view=logs&j=db768a9e-3325-5ce3-2d52-896c40bee68a&t=ea573249-0a9e-59d9-0a41-40ec8869f91f)

I think it could

[2020-06-05 02:25] safern commented on #37466
I don't see how it could be caused by that, I'm inclined more towards: https://github.com/dotnet/runtime/pull/37274

The warnings where the logs were not found are definitely my fault, but the Common Test Build failure, I don't see how it would be caused by my change.

[2020-06-05 02:28] Anhbta commented on #35365
I have the same issue with another api that requires Kerberos authentication. The UseDefaultCredentials works just fine in .net core 2.1 but always get 401 when switching to .net core 3.1.

[2020-06-05 02:32] safern commented on #37466
The bug is that those ymls don't pass down `liveLibrariesBuildConfig:` parameter when building the test job:
https://github.com/dotnet/runtime/blob/e34ac42289d21a4a7e71d623f574ae1bf16f83b0/eng/pipelines/coreclr/jitstressregs.yml#L43
https://github.com/dotnet/runtime/blob/e34ac42289d21a4a7e71d623f574ae1bf16f83b0/eng/pipelines/common/templates/runtimes/build-test-job.yml#L95-L102

[2020-06-05 02:35] noahfalk opened #37467 "Add out-of-proc eventing for Activities that don't use DiagnosticListener"
### Background
Historically the prescribed way to do distributed tracing was to create a new Activity, then call DiagnosticListener.StartActivity()/StopActivity() to notify other in-proc software components about it.  Today most distributed tracing tools require the application developer to make an a-priori reference to a NuGet library or to do some form of in-proc library injection at runtime but

[2020-06-05 02:38] safern commented on #37466
https://github.com/dotnet/runtime/pull/37468

[2020-06-05 02:56] xiangzhai commented on #1046
GC issue relative: https://github.com/dotnet/runtime/issues/7069

\cc @theaoqi @QiaoVanke

[2020-06-05 03:55] noahfalk commented on #37414
I like @vitek-karas split of implementation and callsite.

If or when we get to the callsite portion it was mentioned that inlining an instance method was hard because we'd have to handle nullability checks. One possibility would be to implement an explicit substitution feature rather than inlining. For example a configuration rule for the linker could be "if the IL has a call to EventSource.IsEna

[2020-06-05 04:13] v-haren opened #37470 "Test failure: JIT/Methodical/xxobj/sizeof/_il_dbgsizeof_Target_32Bit/_il_dbgsizeof_Target_32Bit.sh"
failed in job: [ runtime-coreclr outerloop 20200604.7 ](https://dev.azure.com/dnceng/public/_build/results?buildId=672137&view=ms.vss-test-web.build-test-results-tab&runId=20827996&resultId=103743&paneView=debug)

failed tests:
JIT/Methodical/xxobj/sizeof/_il_dbgsizeof_Target_32Bit/_il_dbgsizeof_Target_32Bit.sh
JIT/Methodical/xxobj/sizeof/_il_relsizeof_Target_32Bit/_il_relsizeof_Target_32Bit.sh
JI

[2020-06-05 04:33] v-haren opened #37471 "Test failure: System.Text.Json.Serialization.Tests.EnumConverterTests.VeryLargeAmountOfEnumsToSerialize"
failed in job: [runtime-libraries outerloop 20200604.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=671384&view=ms.vss-test-web.build-test-results-tab&runId=20798184&resultId=104437&paneView=debug)

failed tests:
System.Text.Json.Serialization.Tests.EnumConverterTests.VeryLargeAmountOfEnumsToSerialize

System.Text.Json.Tests.Utf8JsonReaderTests.TestPartialJsonReaderSlicesMultiSegme

[2020-06-05 04:43] benaadams opened #37472 "API PipeWriter.FlushAsync(bool isMoreData, ..."
## Background and Motivation

Currently after calling `.FlushAsync()` on a`PipeWriter` provided by `Pipe` marks writing as operations complete; which makes the writing block eligible for collection when the `PipeReader` advances to the position of the writer (releasing the memory for an idle pipe).

However, the writer may have more to write and is only flushing so too much backlog and latency doe

[2020-06-05 04:47] davidfowl commented on #37472
This leaks the implementation of Pipe into the PipeWriter abstraction. This doesn’t make sense on the other implementations (glad we have more than one now) and it’s obscure enough that it makes me unhappy. I’d much rather prefer to waste a block if memory than make the caller decide how to set the boolean per call

[2020-06-05 04:58] benaadams commented on #37472
I think its a good ability for the other PipeWriter implementations?

For a socket implementation of the `PipeWriter` ; it can be used to pass `MSG_MORE` as stated above.

For a filesystem implementation of the `PipeWriter`; it can be used as a hint to wait for more if there isn't enough data and then perform a scatter write (or larger chunk).

For a TLS based pipe it can use it to close of any 16

[2020-06-05 05:04] benaadams commented on #37472
For example for non-platform ASP.NET Core it could have all `FlushAsync` go to `FlushAsync(isMoreData: true)` instead, which could use the `MSG_MORE` flag to send any full packets and hold back an incomplete packet; when the it returns to the request loop sees there is no further input data, it could then call `FlushAsync(isMoreData: false)` to send the final incomplete packet before waiting, whic

[2020-06-05 05:16] danmosemsft commented on #37471
@v-haren can you please include the configuration in test failure issues? It is on the link above, in this case it is `net5.0-Windows_NT-Release-x86-CoreCLR_release-Windows.10.Amd64.Server19H1.Open`

[2020-06-05 05:20] davidfowl commented on #37472
I think the way the issue is proposed doesn’t help much. The proposal is an overload to FlushAsync that describes some abstract behavior and then go deeper into describing implementation specifics. As it stands it’s an obscure implementation detail to remove locks in a very obscure case when benchmarks have a flag turned on in kestrel.

I prefer the other approach where specific implementations ke

[2020-06-05 05:42] omariom commented on #37472
Alternative approach would be adding `mayFlush` flag to `Advance`.
Then the users of the writer would not need to think how often to Flush to not buildup underlying buffers. The implementations could do whatever is better for them. For example, if the buffers are full, it would flush. Or it could RIO_MSG_DEFER knowing that there will be Flush soon on which it will RIO_MSG_COMMIT_ONLY.

[2020-06-05 05:46] sywhang commented on #37374
Closed via #37375

[2020-06-05 05:46] #37374 closed

[2020-06-05 05:58] mdh1418 opened #37474 "System.Linq.Expressions.Tests fail on Android"
## Several tests from System.Linq.Expressions.Tests fail on Android

### System.Linq.Expressions.Tests.StackSpillerTests
- [ ] Spill_RefInstance_IndexAssignment_CodeGen
- [ ] Spill_RefInstance_Call_CodeGen
- [ ] Spill_RefArgs_Call_CodeGen
- [ ] Spill_Optimizations_RuntimeVariables1
- [ ] Spill_RefArgs_Invoke_CodeGen
- [ ] Spill_Optimizations_RuntimeVariables2
- [ ] Spill_RefArgs_New_CodeGen
- [ ]

[2020-06-05 06:03] benaadams commented on #37472
`Advance` isn't async so it can't provide backpressure that isn't blocking; don't want to discourage people from calling `FlushAsync`

[2020-06-05 06:39] davidfowl commented on #37472
This feels very much like this API https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socketflags?view=netcore-3.1

[2020-06-05 06:57] marek-safar commented on #37439
@akoeplinger could you please clean this up. I think the RID graph is correct and we need to update `OSGroups.json` config. It's already causing pain in files like https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System.Net.Http.csproj#L354 and it should also help us with pinvoke(s) cleanup.

[2020-06-05 07:09] marek-safar opened #37475 "Replace usage of PreserveDependencyAttribute with DynamicDependencyAttribute"
Remove `PreserveDependencyAttribute` file which is included and projects as a source file and use official public API with the same functionality which is called `DynamicDependencyAttribute`.

This depends on https://github.com/mono/linker/pull/1215 completion

[2020-06-05 08:13] chrismcv commented on #37435
@bartonjs

One of my issues was against a 2.2 container, which has now been upgraded to 3.1. The other was against a 3.1 container, build within a week, and the container lifetime was 2 hours.

I'll keep an eye on it and see how frequently it happens. Could be a fluke that there were 2 in one week.

[2020-06-05 08:30] ManickaP commented on #37471
Hit in my PR #37441 as well:
https://dev.azure.com/dnceng/public/_build/results?buildId=672063&view=ms.vss-test-web.build-test-results-tab&runId=20821412&paneView=debug&resultId=104439

[2020-06-05 08:32] ManickaP commented on #35068
PR #37441 as well

[2020-06-05 09:05] #23021 closed

[2020-06-05 09:27] janvorli commented on #37405
Hmm, I would try to use "ni" lldb command to step through the code here instruction by instruction
(stepping over the calls) and see which call resulting from the macro expansion / calls to the functions IsILStub, GetMethodTable, GetDebugClassName is causing the hang. Then do it again, but step into the call that was hanging using "si" and then use the "s" until some call hangs again and then basi

[2020-06-05 09:44] xiangzhai commented on #37405
Agree +1

But we might switch to use GNU toolchain after migrated to 5.x (the master) branch  https://github.com/dotnet/coreclr/pull/27625  Let's open source CoreCLR 3.x MIPS64 port ASAP and fix [GC](https://github.com/dotnet/runtime/issues?q=GC+label%3Aarea-GC-coreclr) issue :)

[2020-06-05 10:07] ManickaP opened #37477 "Add sync implementation to other HttpContent classes in our libs"
`JsonContent`, `Utf8StringContent`.

#34948 FollowUp

[2020-06-05 10:32] ManickaP commented on #36207
Hit in #37441

[2020-06-05 10:37] ManickaP commented on #37463
Hit in #37441 though it's not on andriod but `net5.0-Linux-Debug-x64-Mono_release-(Fedora.30.Amd64.Open)ubuntu.1604.amd64.open`: https://dev.azure.com/dnceng/public/_build/results?buildId=672936&view=ms.vss-test-web.build-test-results-tab&runId=20847372&resultId=101229&paneView=debug

[2020-06-05 11:44] #36689 closed

[2020-06-05 12:16] charlesroddie opened #37482 "Add generic IStructuralEquatable<T> and IStructuralComparable<T>"
Currently there is a non-generic `IStructuralEquatable`. This causes 1. loss of type safety, including requirements for implementing code to downcast, 2. [poor performance especially with structs](https://github.com/dotnet/fsharp/pull/6175#issue-249735349).

So generic IStructuralEquatable<T> and IStructuralComparable<T> should be added.

There is good progress towards obsoletion of non-generic no

[2020-06-05 13:30] alnikola commented on #35340
Created a PR in docs repo dotnet/dotnet-api-docs#4340

[2020-06-05 13:57] SiggyBar opened #37483 "Add support for MissingMemberHandling to System.Text.Json"
We would love to migrate our ASP.NET Core 3 application from using `Newtonsoft.Json` to `System.Text.Json`.  However, the lack of [support/workaround](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#missingmemberhandling) for `MissingMemberHandling` is a showstopper, because we need a robust way to detect and report deficient `[FromBod

[2020-06-05 14:07] vlpereva commented on #35184
Hey @JamesNK !
I've forked your benchmark to make a couple of adaptations for our use case and the results may be of interest.
First I've enabled HTTPS for all connections, since it is a requirement for us, second added SignalR to the list of protocols, also I ran test with .Net 3.1.300 and .Net 5.0.100-preview.7.20304.1
![image](https://user-images.githubusercontent.com/54947837/83885219-b689e700

[2020-06-05 14:23] bartonjs commented on #21790
This was addressed in https://github.com/dotnet/corefx/pull/41956.

[2020-06-05 14:23] #21790 closed

[2020-06-05 14:30] benaadams commented on #37472
Yes so the SocketFlags that get passed per Send call as per [`send(2)`](https://linux.die.net/man/2/send) flag

Where TCP_CORK in [tcp(7)](https://www.man7.org/linux/man-pages/man7/tcp.7.html) is

[2020-06-05 14:36] karelz commented on #37049
No response, closing. Feel free to reopen if there is specific repeatable repro available or more information available. Thanks!

[2020-06-05 14:36] #37049 closed

[2020-06-05 14:42] bartonjs opened #37485 "Allow X509Chain callers to prevent retrieval of missing certificates"
## Background and Motivation

Callers sometimes want to build a "fully offline" X509Chain, but the only exposed online/offline mode pertains to revocation processing.  Alternatively, they may want to be in a "limited online" state, where the only network operations are for retrieving up-to-date CRL/OCSP responses for the end-entity certificate.

## Proposed API

[code]

[2020-06-05 14:50] #17393 closed

[2020-06-05 15:10] lambdageek commented on #37449
Is this the same issue as https://github.com/mono/mono/issues/18572#issuecomment-595924767 ?

[2020-06-05 15:35] stephentoub commented on #37485
Would there be any benefit in an enum with all the various places it could get the cert from, rather than a bool that splits them into two categories?

[2020-06-05 15:38] benaadams commented on #37472
Worked out some redesigns with @davidfowl; will open new api over weekend

[2020-06-05 15:38] #37472 closed

[2020-06-05 15:38] karelz commented on #919
@wfurt is it dupe of the work you're tracking?

[2020-06-05 15:39] lambdageek commented on #31713
This seems to work in a standalone example now:

[code]

[2020-06-05 15:40] karelz commented on #34761
No response for 4 weeks, closing. Feel free to reopen if there is more info available.

[2020-06-05 15:40] #34761 closed

[2020-06-05 15:41] bartonjs commented on #37485
If we had a fully managed chain processor on all OSes, sure.  But for Windows and macOS we only get a boolean for suppressing certificate downloads.  Persistent storage (especially for system root trust) can't really be disabled.

[2020-06-05 15:44] lambdageek opened #37489 "[mono] Stack overflow printing byref System.Void& FullName"
### Description

Compile the following example:

[code]

Expected output:
[code]

Actual output:
[code]

### Configuration

mono from dotnet/runtime master

### Regression?

No

### Other information

[2020-06-05 15:45] lambdageek commented on #37489
Related to https://github.com/dotnet/runtime/issues/31713 but `MakeByRefType` works now.  The problem is in `FullName`

[2020-06-05 15:47] vcsjones commented on #37485
@bartonjs I assume the intent of this flag is to disable AIA fetching, or anything that can cause the network to be hit (aside from revocation checking)?

Put another way, on Windows, will this set `CERT_CHAIN_DISABLE_AUTH_ROOT_AUTO_UPDATE` and `CERT_CHAIN_DISABLE_AIA`? Both? One?

[2020-06-05 16:08] jkotas opened #37492 "ComWrappers instances do not provide isolation"
Repro:

[code]

Expected behavior: Succeeds
Actual behavior: System.InvalidCastException: 'Unable to cast object of type 'ComWrapper1' to type 'ComWrapper2'.

[2020-06-05 16:10] jkotas commented on #37492
This makes is it dangerous to use component-local instances of ComWrappers, like we are doing in https://github.com/dotnet/wpf/pull/3092

@AaronRobinsonMSFT @elinor-fung @jkoritzinsky Thoughts?

[2020-06-05 16:12] jkoritzinsky commented on #37492
In your example you're never creating an instance of ComWrappers2. Component2 is still creating a ComWrappers1 instance. Is that intentional?

[2020-06-05 16:15] jkotas commented on #37492
It is not intentional. Fixed above. The failure is still the same.

[2020-06-05 16:29] AaronRobinsonMSFT commented on #37492
Absolutely agreed. This example though seems to be the same argument as permitting `IDynamicInterfaceCastable` to cast to a `class` instead of the intent which is to an `interface`. The two `ComWrappers` could have had different implementations - which is going to be something to be careful of - but their contract is the same or at least should be. The contract would be shared between the two inst

[2020-06-05 16:31] ericstj commented on #34653
Now System.Runtime.WindowsRuntime is removed this should be doable.  I *believe* we can now assume that CoreLib surface area used by libraries is consistent across all runtimes.  That will allow us to remove runtime-specific configurations from projects that don't actually differ by runtime but reference CoreLib.  We can rely on CI to keep this honest, because API compat will catch the case where

[2020-06-05 16:31] bartonjs commented on #37485
I had only planned on CERT_CHAIN_DISABLE_AIA.  CERT_CHAIN_DISABLE_AUTH_ROOT_AUTO_UPDATE is also reasonable; though I feel like that usually doesn't involve a network.  But it might, so why not? :smile:.

[2020-06-05 16:39] vcsjones commented on #37485
Isn't this the flag that controls whether or not the cert chain builder will kick off a "try to get intermediate certificates and new roots from Windows Update"?

[2020-06-05 16:43] bartonjs commented on #37485
Yeah, but based on some black-box (e.g. yank the network cable) observation 10-15 years ago (could be bad recollection, could have changed since then) I think that the WU bundle ends up just being a background-downloaded bundle and the flag is "ugh, if I need to, crack open the bundle and see if there's anything useful in it".  It might have a "I downloaded this too long ago, let's ask live", but

[2020-06-05 16:44] jkotas commented on #37492
I am not following. The point of allowing multiple instances of ComWrappers is that two different components (that do not know about each other) can bring their own marshaling logic and not collide. For example, one can map `LPCWSTR` to `string` and other can map `LPCWSTR` to `ReadOnlySpan` . It means that the two different instances of ComWrappers need to be able to bring their own set of types a

[2020-06-05 16:46] ManickaP opened #37495 "HttpContent.ReadAsStream sync API"
## Background and Motivation

We introduced `HttpClient` sync API in https://github.com/dotnet/runtime/pull/34948. However, the access to response's `HttpContent` is still purely asynchronous (e.g. `ReadAsStreamAsync`). To fully support fully a synchronous flow we should also support synchronous read of `HttpContent`.

## Proposed API

Following minimalist approach from https://github.com/dotnet/r

[2020-06-05 16:50] ericstj opened #37496 "Microsoft.Bcl.AsyncInterfaces and Microsoft.Bcl.HashCode expose reference assemblies"
Both of these packages are exposing reference assemblies to desktop projects.  This makes them break when used in a project that uses the workflow compiler, as well as others.  See https://github.com/dotnet/sdk/issues/1522.

We should service 3.1 to fix this by removing the reference assemblies from the package and look for any other new instances of this that may have been introduced in 3.1.

cc

[2020-06-05 16:57] vcsjones commented on #31944
@bartonjs I (optimistically) just finished implementing a chunk of this, and it left me with one question on API design: should there be overloads / optional param that takes `X509KeyStorageFlags` so that folks can use choose how they want to persist the private key and set exportability? Or is that making it complicated?

[2020-06-05 17:08] cshung opened #37498 "Allow individual project to override the default LangVersion settings"
Because of our collaboration with ILSpy, we need to make sure [`ILCompiler.Reflection.ReadyToRun`](https://github.com/dotnet/runtime/tree/master/src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun)  do not use C# features that are not available in C# 7.3

This problem is not particularly severe, we had it just a couple of times in the past, such as https://github.com/dotnet/runtime/pu

[2020-06-05 17:09] StephenBonikowsky commented on #37496
@andreyns thanks for finding these. Could you provide us with the name of the current package which references this in its closure so we can find any other packages that are also exposing ref assemblies to desktop projects?

[2020-06-05 17:10] jnyrup commented on #33770
@drewnoakes Note that for reference types this *can* be used as a less clear way of writing`Where(e => e != null)`.

[2020-06-05 17:14] andreyns commented on #37496
@StephenBonikowsky , I believe it was "Microsoft.Extensions.Hosting" for .netstandard 2.0

[2020-06-05 17:22] AaronRobinsonMSFT commented on #37492
Okay. I think I see how this issue comes up. We will need to handle this.

[2020-06-05 17:24] BruceForstall commented on #37470
`CoreCLR Linux arm Checked @ (Ubuntu.1804.Arm32.Open)Ubuntu.1804.Armarch.Open`

`_il_dbgsizeof64.cmd` is also failing on Windows x86

[2020-06-05 17:24] BruceForstall commented on #37470
@dotnet/jit-contrib

[2020-06-05 17:24] bartonjs commented on #37485
namespace System.Security.Cryptography.X509Certificates
{
    public partial class X509ChainPolicy
    {
+        // false (default) for the current behavior,
+        // true to only use the system stores and the ExtraStore and CustomTrust collections.
+        public bool DisableCertificateDownloads { get; set; }
    }
}

[2020-06-05 17:28] DrewScoggins commented on #37426
Yeah, sorry meant to assign this to @tannergooding when I moved it over.

[2020-06-05 17:33] bartonjs commented on #24678
Approved as Tau:

[code]

[2020-06-05 17:40] bartonjs commented on #25784
Because existing integer values, including consts/literals, will currently call `double Pow(double,double)` adding this method would be a source breaking change.

[2020-06-05 17:40] #25784 closed

[2020-06-05 17:42] bartonjs commented on #27960
Approved as

[code]

[2020-06-05 17:50] CarolEidt commented on #35976
This is a dup of #35144

[2020-06-05 17:50] #13720 closed

[2020-06-05 17:53] BruceForstall opened #37500 "error: Not found PathtoPublish: /__w/1/s/artifacts/log/Checked"
All the Libraries builds in

https://dev.azure.com/dnceng/public/_build/results?buildId=672754&view=results

failed with:

`##[error]Publishing build artifacts failed with an error: Not found PathtoPublish: /__w/1/s/artifacts/log/Checked`

@dotnet/runtime-infrastructure

[2020-06-05 17:55] AndyAyersMS commented on #33143
This is likely a dup of #33366 which was fixed by #34613 just after the failure above.

No new failures in the past 30 days, so will close.

[2020-06-05 17:55] #33143 closed

[2020-06-05 17:55] BruceForstall commented on #37500
Same for:

https://dev.azure.com/dnceng/public/_build/results?buildId=672785&view=results

[2020-06-05 17:57] jashook commented on #37500
This is a dup of https://github.com/dotnet/runtime/issues/37466

[2020-06-05 17:58] safern commented on #37500
Will be fixed by #37468

as a side note, this is not really failing the build (it is a warning, represented as an error in the timeline, but in the build is just a warning) -- I know azdo is confusing.

[2020-06-05 17:59] bartonjs commented on #28535
Approved with modifications

[code]

[2020-06-05 18:03] benaadams commented on #27960
I assume that's not the implementation
[code]
and its more like?
[code]
Will watch the api review

[2020-06-05 18:13] #37466 closed

[2020-06-05 18:13] karelz commented on #37495
@ManickaP is there a typo? Should first 2 `ReasAsStream` be `ReadAsStreamAsync`?

`CreateContentReadStream` - we should not have 2 overloads IMO, where we can, we use default values (we should add it into the API proposal).

`CancellationToken` support in sync APIs -- we had discussion about it earlier, right? We should follow the same pattern - if we have other Networking sync APIs with `Cancella

[2020-06-05 18:13] #37500 closed

[2020-06-05 18:16] stephentoub commented on #2339
Actually, I just discovered we actually suppress all nullable warnings in dotnet/runtime when building for netstandard2.0.  That means that, at present, there's little-to-no value in trying to annotate the src, other than for the public API signatures to match what's put in the ref, because there's going to be zero validation of anything.

[2020-06-05 18:23] ericstj commented on #37496
@andreyns we'd need to see all dependencies you have to be certain that its worth fixing.  We wouldn't want to fix just a couple packages to find out it doesn't unblock the scenario.

[2020-06-05 18:45] ManickaP commented on #37495
Yes, I copy-pasted wrong lines. Thanks and fixed.

We have a precedent of preferring overloads to optional parameters if there is an existing, similar API on the same class. For instance, 3 `Send` overloads on `HttpClient` following `SendAsync` overloads. However this is a `protected virtual` method, not a callable, public API of the class, so I agree with you on this.

I agree with you here as we

[2020-06-05 18:45] bartonjs commented on #29513
We feel that the risk vs reward for this particular interface doing a DIM to provide a base member isn't justified.

We're open to experimentation, but not quite this interface...at this time.

[2020-06-05 18:45] #29513 closed

[2020-06-05 18:47] safern opened #37503 "Mono not producing native binaries with version header in Windows"
While working on collapsing the mono official builds into single legs, I noticed that we don't produce a runtime pack for Windows:
https://github.com/dotnet/runtime/blob/704be185161f0d30cd9ab52acb2f5aad12ec5857/eng/pipelines/runtime-official.yml#L227-L249

I added that to my test change and the windows build failed with:
[code]

As a workaround I will be setting PermitDllAndExeFilesLackingFileVers

[2020-06-05 18:48] safern commented on #37503
@akoeplinger as discussed offline, assigning to you.

[2020-06-05 18:48] stephentoub commented on #27960
Right, it was just a stand-in for the semantics

[2020-06-05 19:05] holc-tkomp opened #37504 "IAsyncEnumerable - ICorProfilerCallback::JITCompilationStarted not firing when await foreach is used"
https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilercallback-jitcompilationstarted-method

## Use case / intro
When adding instrumentation for [Asynchronous streams](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#asynchronous-streams) to our profiler, I stumbled on quite an issue.

Our profiler utilizes `JITCompilationStarted` callback in order

[2020-06-05 19:19] AndyAyersMS commented on #36971
Seems likely to be the same issue as in #36636, so will assign to myself.

[2020-06-05 19:20] AndyAyersMS commented on #36636
@Maoni0 ping.. ? Is there a "gc-contrib" alias that I could nag instead?

[2020-06-05 19:21] bartonjs commented on #30714
Approved with a parameter name that better helps with usage.

[code]

We also discussed renaming the parameter for IsAssignableFrom, but we would tackle that as a separate proposal.

[2020-06-05 19:22] AndyAyersMS commented on #37238
Also take a look at #35884 which is the same case test but running on linux.

[2020-06-05 19:24] davidfowl commented on #30714
FINALLY!

[2020-06-05 19:24] pentp opened #37505 "Proposal: Add Task.WhenAny overloads with CancellationToken"
## Background and Motivation

It's a relatively common pattern to await on tasks which don't support cancellation (yet). One workaround is to pass `new Task(() => {}, cancellationToken)` as one of the tasks to `Task.WhenAny`, but I've also seen a variant where the token registration sets a TCS result and the TCS.Task is passed to WhenAny and even more complicated variants, but all of them are pret

[2020-06-05 19:24] mangod9 commented on #37400
is this fixed after @nattress recent change?

[2020-06-05 19:25] stephentoub commented on #37505
Dup of https://github.com/dotnet/runtime/issues/27722?

[2020-06-05 19:25] AndyAyersMS commented on #33129
I'll take a look.

[2020-06-05 19:25] MichalStrehovsky commented on #37400
No, that line is about a dozen lines above Simon's change. I just didn't want to pester him with one more unrelated thing.

[2020-06-05 19:26] pentp commented on #37505
Not entirely, it's a separate proposal specifically for `WhenAny`

[2020-06-05 19:26] scalablecory commented on #37495
These APIs look good to me.

[2020-06-05 19:27] JoseOchoaITH commented on #37435
Yes, I can confirm we are running ASP .NET Core 3.1. This is what out dockerfile looks like
[code]
We are using DigiCert and we see two CRL files under ~/.dotnet/corefx/cryptography/crls/: 5474e8e2.2d0546da.crl and b60aa296.bb2394b8.crl
This problem occurs every time, so it's easy to reproduce. In other words, all requests that include client certificates fail due to the server being unable to get

[2020-06-05 19:36] sandreenko opened #37506 "Vector<T> operator+ does not generate `NotSupportedException` on arm32."
We are expecting the following test to pass:
[code]

but on arm32 it hits the assert, based on @tannergooding analysis it happens because on arm32 we don't have `IsHardwareAccelerated`, so we go to the else condition in `Vector<T> operator +`:
https://source.dot.net/#System.Private.CoreLib/Vector.cs,729
and the else branch is missing something like (in my understanding):
[code]
https://source.dot.

[2020-06-05 19:38] john-h-k commented on #24678
Can I take this?

[2020-06-05 19:40] tannergooding commented on #37506
CC. @jeffhandley, this is a breaking-change but one we should take as we get two different behaviors based on whether SIMD support is enabled or disabled.

You should also be able to hit this scenario on `x86`/`x64` or `ARM64` by setting `COMPlus_FeatureSIMD=0`.

When `IsHardwareAccelerated` is false, the operation will just return `default` as will several of the other operators.

[2020-06-05 19:42] tannergooding commented on #24678
Assigned out, thanks @john-h-k!

[2020-06-05 19:43] karelz commented on #37495
I guess, we can make also `ReadAsStream` with default value and collapse the 2 overloads.

[2020-06-05 19:47] scalablecory commented on #37495
In previous API review for sync APIs, we decided against this. Reason being that existing HttpClient APIs don't do this, so keeping them split is more consistent.

If we have strong opinions to use defaulted values here, lets gather rationale that we can bring to API review.

[2020-06-05 19:54] bartonjs commented on #31944
My instinct is to say that we only do ephemeral imports; if anyone needs non-exportable persistent they can just export it as a PFX and reimport that.  But, on the other hand, it's sort of hard to add the X509KeyStorageFlags later, since the defaults aren't the same for PFX and PEM.  @GrabYourPitchforks do you have thoughts that you are willing to share? :smile:.

[2020-06-05 19:55] lambdageek opened #37509 "[mono] Tracking: covariant return methods support"
This is a tracking issue for the implementation of [Covariant Return Methods](https://github.com/dotnet/runtime/blob/master/docs/design/features/covariant-return-methods.md) Mono

Tasks:

- [ ] Implement [PreserveBaseOverrideAttribute](https://github.com/dotnet/runtime/issues/35315)
   Goal is to pass [AttributeTesting.il](https://github.com/dotnet/runtime/blob/master/src/coreclr/tests/src/Loader/

[2020-06-05 19:56] hoyosjs commented on #37504
cc @davmason

[2020-06-05 19:58] bartonjs commented on #31944
@davidfowl For the scenarios you're looking at with Kestrel/YARP, is this a sufficient loader pattern?

[code]

Having the collection import support key matching requires a whole lot more work and a whole lot of failure cases, and I'd really like to avoid having a simple-looking method that requires pages and pages of documentation of what it does with unmatched keys, what happens if the same cert

[2020-06-05 20:00] AaronRobinsonMSFT commented on #37492
Anyone have thoughts on whether it makes sense to tie the CCW/RCW to a specific `ComWrappers` instance _or_ perhaps the most derived type? It seems to me the type might actually be what is interesting here rather than the specific instance. Making this associated with a type however could force users into complex subclassing scenarios instead of creating a configurable class with constructor argum

[2020-06-05 20:01] sywhang commented on #37238
Spent some time last night and came to the same conclusion David did in #35884. He filed https://github.com/dotnet/runtime/issues/36028 to track the work to fix this, so I'll close this one as a duplicate.

[2020-06-05 20:01] #37238 closed

[2020-06-05 20:03] TylerBrinkley commented on #29513
While just as risky I believe the reward for using a DIM in https://github.com/dotnet/runtime/issues/31001 is far greater and would be worth it.

[2020-06-05 20:07] emmenlau opened #37552 "Is PInvoke or marshalling a large byte[] slower on MSVC?"
# General Summary

I'm using PInvoke in .NET Core 3.1 to pass a large `byte[]` into native code. The code is relatively simple and the DllImported method takes only blittable arguments. When I check the data transfer rate across various platforms, Ubuntu Linux x86_64 and macOS 10.15 XCode 11.5 both achieve on the order of 3.8 GB/sec. However Windows 10 Visual Studio 2019 16.6 x64 manages only abou

[2020-06-05 20:12] tarekgh commented on #37467
@ericstj This is the issue we talked about and tracking it for 5.0 release. Thanks @noahfalk for logging it.

[2020-06-05 20:12] davmason commented on #37504
Hi @holc-tkomp,

That is expected behavior. You will only receive JITCompilationStarted callbacks for methods which are jitted. For inlined methods you will get a JITInlining callback but not a JITCompilationStartedCallback. You can set *pfShouldInline to false in JITInlining if you want to prevent the method in question from being inlined.

Or you can globally disable inlining as you mention with

[2020-06-05 20:14] safern commented on #37503
When fixing this we should remove the temporary workaround in: https://github.com/dotnet/runtime/pull/37511/files#diff-9fac0b3c275ca346bd7e392f9ae3807cR7

[2020-06-05 20:15] #13404 closed

[2020-06-05 20:16] eagakishiev commented on #1250
I tried to reproduce the problem in .net core 3.1 and got the message exception "Index must be within the bounds of the List. (Parameter 'index')". Am I missing something?

[2020-06-05 20:17] Maoni0 commented on #36636
hmm, I did not get any notification from the first time you asked. it seems like GH notification is just not reliable.

I presume you are saying the failures were from with verify heap enabled and the failure occurred on a gen2 object would suggest that this is not a GC problem. it would also be odd if this was a handle table problem as handle table hasn't changed in a while. do you happen to have

[2020-06-05 20:37] karelz commented on #37495
In that case, let's split both of them then ... we should follow our normal guidance IMO

Definitely no strong opinions here ;)

[2020-06-05 20:45] jkotas commented on #37492
I think it should be tied to a specific instance.

[2020-06-05 20:45] davidsh commented on #37495
Consistency with existing APIs is a good thing.

[2020-06-05 21:06] AndyAyersMS commented on #36636
My understanding (could be wrong) is that when GC stress is enabled the GC will allocate a bunch of big strings and root them with a handle table internal to the GC, and then over time trim/free these strings to encourage compaction so live objects move around.

The assert here is complaining that one of the handles in that GC internal handle table is not a valid object reference, I am at a loss t

[2020-06-05 21:20] elinor-fung commented on #37492
I'd prefer the instance. From the implementer side, it seems clearer to me to have to use the same `ComWrappers` to get the non-isolated behaviour than to have to make separate types to make sure the instances are isolated

[2020-06-05 21:23] ImAbhishekTomar opened #37519 "ODBC Connection ISSUE | ERROR [28000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Login failed for user 'MS\LHTU1353438462S$'."
### Description
I am facing issue with odbc connection after hosting site on IIS with core 2.2.0
### Configuration

IIS Settings

Anonymous Auth with  Application Pool Identity
Platform x64
DSN  On 64

### Other information
**CODE**
[code]

**Error On IIS**
ERROR [28000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Login failed for user 'MS\LHTU05CG8520Y2S$'.
ERROR [28000] [Microsoft][SQL

[2020-06-05 21:23] #37131 closed

[2020-06-05 21:25] jkoritzinsky commented on #37492
I think tying it to the same instance would be cleaner than requiring extra subclassing just for isolation.

[2020-06-05 21:33] erozenfeld commented on #32415
We have several issues tracking specific improvements for promoting struct-typed fields: #7441, #7576 ,#6707. #6494 was an issue for general struct promotion but it's been closed.

[2020-06-05 21:48] john-h-k commented on #30714
FWIW, as @reflectronic  pointed out

[2020-06-05 21:49] dougbu commented on #13257
@wtgodbe do we have a dotnet/aspnetcore issue tracking the sourcelink problem? This discussion is pretty far from this issue and dotnet/runtime (which doesn't even contain 2.1 code 😃) in particular.

[2020-06-05 21:56] vcsjones commented on #37522
@umitgunduz Thanks for the report. It looks like macOS is having trouble signing with the RSA key for some reason. Is there any additional information or steps you can provide to help reproduce the issue?

[2020-06-05 22:03] jtbrower commented on #37337
Today I spent quite a bit more time tracking this issue down.  Although the direct cause (other than the ConstantCallSite.DefaultValue null reference) is still alluding me, the following information may be useful.

In the hunt, I did some refactoring that would have changed task based timing.  After this refactoring, I still hit the same type of exception, however it was then highly repeatable suc

[2020-06-05 22:09] ericstj commented on #37219
No, we need it.  You can see it's purpose in the package description: https://github.com/dotnet/runtime/blob/0bf441b7c837334b61ed96fd988c5c2a1e68917d/src/libraries/pkg/descriptions.json#L210-L211

[2020-06-05 22:09] #37219 closed

[2020-06-05 22:14] jeffhandley commented on #37506
Thanks, @tannergooding. Can you follow our usual process for documenting this as a 5.0 breaking change?  And I presume we would not back-port this fix to 3.x; does that match your expectation?

[2020-06-05 22:18] janvorli commented on #37117
I've found the culprit. It is because of a tail call from inside of a "fixed" block here:

https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Private.CoreLib/src/System/IO/Path.cs#L678-L698

The JIT tail-calls the String.Create with unmanaged pointers to the path string and the filename string. The `JoinInternal` method containing the code above pr

[2020-06-05 22:22] wtgodbe commented on #13257
https://github.com/dotnet/aspnetcore/issues/22469. I'll look more into it when I get some time

[2020-06-05 22:44] safern commented on #30021
Based on the conversation we had with @richlander this week, this shouldn't be required anymore. Closing.

[2020-06-05 22:44] #30021 closed

[2020-06-05 22:54] danmosemsft commented on #36661
@myrup look for this in 5.0 preview 6 coming out likely later in the month.

[2020-06-05 22:56] GrabYourPitchforks commented on #32284
I updated the proposal to use `AppContext`.

[2020-06-05 23:06] marek-safar opened #37526 "No tests for GlobalizationMode.Invariant"
There appear to be 0 tests for managed libraries behaviour with runtime setting of GlobalizationMode.Invariant.

[2020-06-05 23:08] tarekgh commented on #32284
Could you please also hide UTF-7 encoding from the encoding enumeration `Encoding.GetEncodings()`?

[2020-06-05 23:08] safern commented on #37526
Actually there is: https://github.com/dotnet/runtime/tree/master/src/libraries/System.Globalization/tests/Invariant

Why did you think there were 0 tests for invariant mode?

[2020-06-05 23:13] AndyAyersMS commented on #37117
Seems like maybe a missing legality check for tail call stress (and hence a "stress mode only" failure)? We check for pinning when looking implicit tail call candidates.

[2020-06-05 23:15] AndyAyersMS commented on #37117
#8017 mentions pinning as one of the missing checks. Also see #12859.

[2020-06-05 23:22] sandreenko commented on #12392
I am going to reenable the disabled tests and see if the issue still reproduces. There were many infrastructure changes since it was open, so it could have been fixed already.

In the past, I was trying to make a change to allocate 2 cores per running test in helix but it did not work well (https://github.com/dotnet/coreclr/pull/24749/files). On some machines I was getting an incorrect number of c

[2020-06-05 23:22] marek-safar commented on #37526
Great! I just had hard time to find them.

[2020-06-05 23:22] #37526 closed

[2020-06-05 23:29] CarolEidt commented on #35976
I've submitted PR #37499.
With those changes, here's the full code generation for the `fo1` method above:
[code]

[2020-06-05 23:31] sandreenko commented on #12392
As I see from the recent GCStress runs it is still an issue: JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_r/AdvSimd_r.sh
and similar that were not disabled are still failing with timeouts ([example](https://dev.azure.com/dnceng/public/_build/results?buildId=665656&view=ms.vss-test-web.build-test-results-tab&runId=20632554&resultId=109147&paneView=debug))

[2020-06-05 23:36] echesakovMSFT commented on #12392
@sandreenko I am working on splitting those up #37282

[2020-06-05 23:45] safern commented on #37526
Awesome 😄

[2020-06-05 23:57] sandreenko commented on #12392
Could you please try to reenabled tests from https://github.com/dotnet/runtime/pull/37530/files and close this issue in your PR?

[2020-06-06 00:02] #33438 closed

[2020-06-06 00:13] echesakovMSFT commented on #12392
Sure

[2020-06-06 00:21] jtbrower commented on #35318
Hello Team, this weekend I decided to jump from .Net 5 preview 4 to .Net 5 preview 7.  The first compilation error I ran into is directly related to these changes.  I know you all have plenty of work to do, I don't want to interrupt, but would there currently be smooth way for .Net early adopters to transition from using  the ```<PackageReference Include="Microsoft.Windows.SDK.Contracts" Version="

[2020-06-06 00:23] Arkasian opened #37532 "Blazor performance issue"
### Description

Just create a new project for SSR Blazor app, then deploy it on localhost and proxy it through Apache(the only WWW I have tried).

### Configuration

I run it on:
Host (useful for support):
  Version: 3.1.1
  Commit:  a1388f194c
Architecture is: x64, i5 2nd gen CPU.

### Regression?
I don't know if there is a regression really.

### Data

Couldn't take any dumps or snaphsots, dump

[2020-06-06 00:28] AaronRobinsonMSFT commented on #35318
@jtbrower Thank you for reaching out. The earlier we hear from real users the better. Right now the best place to start looking into where the Windows team is headed is at https://aka.ms/cswinrt. There are links to an issues section on the https://github.com/microsoft/CsWinRT repo. Please let us and them know what issues you hit and how we can help unblock you.

[2020-06-06 00:31] Maoni0 commented on #36636
I was just trying to get more info to see which area the problem is unlikely to be in so we can rule those out. StressHeap creates some GC handles like any other handle usage. GC doesn't handle them in any special way. I agree codegen looks very unlikely as well.

just making sure when you said VerifyHeap didn't report anything, did you mean the sos !VerifyHeap command or setting COMPlus_HeapVerif

[2020-06-06 00:37] jkoritzinsky commented on #35318
@jtbrower the simplest fix for you would be to reference the Microsoft.Windows.SDK.NET package instead of the Microsoft.Windows.Sdk.Contracts package. That should work. If it doesn't, then following the links Aaron mentioned would be the best next step.

[2020-06-06 00:43] safern opened #37533 "profiler/unittest/getappdomainstaticaddress/getappdomainstaticaddress.sh crashed on OSX x64"
This test failed with:

[code]

Core Dumps:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-37525-merge-48e0ca0d9cc441a6a4/profiler.unittest/core.59803?sv=2019-02-02&se=2020-06-25T23%3A38%3A22Z&sr=c&sp=rl&sig=eKeG1IQaffFbwcHF0WEm1aOTsvKl8P%2F7PJ%2FvOqi7IJI%3D
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-37525-merge-48e0ca0d9cc441a6

[2020-06-06 01:00] Maoni0 commented on #37410
thanks for reporting this! this is because `should_retry_other_heap` is reporting we should retry yet `virtual_commit` says we cannot commit more. so we go into an infinite loop. this was exacerbated when we added the POH because now we reserve a lot more (I don't think POH should reserve this much but that's a separated issue and I haven't really looked at POH tuning yet).

I'll have a fix soon.

[2020-06-06 01:10] AndyAyersMS commented on #36636
It was sos's VerifyHeap.

I'll see if I can get this to repro... a few other of these thread tests are sporadically failling so we might get lucky. We could also try looking at the other core dumps to see if they look like the same failure.

[2020-06-06 01:21] richlander opened #37534 "Improving P95+ latency"
## Improving P95+ latency

We see an increasing number of large internet-facing sites and services being hosted on .NET. While there is a lot of legitimate focus on the [requests per second (RPS) metric](https://twitter.com/ben_a_adams/status/1260792649625280513), we find that very few big site owners ask us about that or even need to satisfy throughput approaching 1000 RPS (1000 RPS == 86M reques

[2020-06-06 01:42] JoshSchreuder commented on #35611
@layomia I was able to add the deterministic dictionmary types pretty easily (I think), but what's the intended approach for `overriding the GetEnumerator method for these collections to return a deterministic order`?

Were you thinking something like subclassing all the dictionary types with overridden `GetEnumerator` and using those in the test, or is this possible to do with `Reflection.Emit` w

[2020-06-06 02:00] AndyAyersMS commented on #33129
I think there is a disconnect between the pinvoke and reverse pinvoke stubs.

The pinvoke stub passes &S, &ReturnWrapper, float to its calli. Here the intent is that &S and float are the inputs and the &ReturnWrapper is the result.

The reverse pinvoke stub writes its result back to &S and not to &ReturnWrapper:
[code]
Not sure who gets it wrong, but seems more likely the ReverseStub.

[2020-06-06 02:05] jkoritzinsky commented on #33129
Are you using the above IL stub as referenced?

I fixed the issue with the reverse PInvoke stub so the IL is valid, but the test still fails since the native "instance method" convention (which thiscall implies) on Windows (excluding Windows ARM) always uses a return buffer for structure types; however, the JIT doesn't account for that when emitting the code for a thiscall calli.

[2020-06-06 02:25] AndyAyersMS commented on #33129
The above is from ef72b95937 (May 27), so let me update and see.

[2020-06-06 02:36] noahfalk commented on #37328
Seems like a very reasonable proposal to me : )
If you want to submit a PR including a working test case I'd be glad to review it. If all looks good we'll merge it.

[2020-06-06 02:39] xiangzhai opened #37537 "[mono] po is not available"
Hi,

When build mono:

[code]

[po](https://github.com/mono/mono/tree/master/po) is not availlable:

[code]

Workaround:

[code]

Thanks,
Leslie Zhai

[2020-06-06 02:52] xiangzhai commented on #37537
@Dotnet-GitSync-Bot

area-Build-mono
area-Infrastructure-mono

[2020-06-06 03:39] jkoritzinsky commented on #33129
If the program is still throwing an InvalidProgramException then there's another bug somewhere that we need to fix.

[2020-06-06 04:13] arkalyanms opened #37538 "Directory.CreateDirectory(directory) call when the directory already exists ends up in a StackOverflowException"
### Description
Directory.CreateDirectory(directory) call when the directory already exists ends up in a StackOverflowException. It used to fail silently in System.IO.

### Regression?
Depends on the frame of reference. Compared to System.IO yes.

[2020-06-06 05:18] davidfowl commented on #31944
That seems reasonable as long as we can make SSLStream take `X509Certificate2Collection` @wfurt ?

[2020-06-06 05:24] danmosemsft commented on #37538
Thanks for the report. What build? What OS? Do you have any of the stack?

[2020-06-06 05:27] wfurt commented on #31944
Would then be no function to read key with password or do we just miss convenience function to do both? Former would force people to have unencrypted keys on the disk AFAIK.
It may be worth of defaulting key path to certificate path,

Could one read PEM from string? e.g. cases when PEM blob is stored in database?
I'm wondering if we just could/should  covert PEM -> PFX. (and threat then sane after

[2020-06-06 05:34] bartonjs commented on #31944
[code]

That's how most keys are left on disk... unless it's an attended operation there's enough data to recover the key (e.g. the hard-coded password).  But my sample used passwordless because that's what Let's Encrypt does.

[code]

(and variants)

If someone wants a PFX they can certainly do that.  I don't see a reason to tie that in here.  This is a pure load, PFX loads have side effects on m

[2020-06-06 06:58] davidfowl opened #37539 "Add ability to perform zero byte reads in StreamPipeReader"
## Background and Motivation

Bufferless reads are a technique used in a couple of places in ASP.NET Core to avoid renting memory from the memory pool if there's no data available on the socket; this helps when trying to reduce the memory usage for idle connections for applications that are trying to handle a large number of concurrent connections (like websocket based applications).

We'd like to

[2020-06-06 07:45] MihaZupan opened #37540 "Test failure: System.ServiceProcess.Tests.ServiceBaseTests.TestOnStartWithArgsThenStop"
`runtime-libraries outerloop` failed on: #37515, #37487

[Pipeline build](https://dev.azure.com/dnceng/public/_build/results?buildId=673981&view=ms.vss-test-web.build-test-results-tab&runId=20898180&resultId=104333&paneView=debug)

Failed configurations:
- `net5.0-Windows_NT-Debug-x64-CoreCLR_release-Windows.81.Amd64.Open`
- `net5.0-Windows_NT-Debug-x64-CoreCLR_release-Windows.10.Amd64.Server19H1.

[2020-06-06 09:31] oliverjanik commented on #31580
Having officially MS sanctioned packages means a lot in the enterprise space. Every dependency has to be vetted and approved by security team. Every update to every dependency has to be approved as well.

.NET has always been "batteries included". Splitting ecosystem into thousands of competing packages is evolving .NET towards where node/npm is and that is a **regression** IMO.

Having put enormo

[2020-06-06 09:59] raffaeler commented on #11157
@janvorli gently pinging :)

[2020-06-06 11:44] psantosl commented on #37444
Any extra info I can provide?

[2020-06-06 12:44] plamploika commented on #34173
@svick, thanks for the answers, but I would like to clarify something else.
OS-bindings can be delivered through a special moniker or nuget.

So, how does delivering bindings through nuget lead to code incompatibility?

[2020-06-06 13:38] TheMinefighter commented on #25784
@bartonjs  Ok, checked it; you are correct. But I don't see why this would prevent the implementation of this feature, when there's no critic in it's necessity or usefulness. Let's call `Math.IntPow` then, I guess. A name shouldn't prevent a feature.

[2020-06-06 13:41] lellid opened #37543 "System.IO.Compression: extend ZipArchive API to enable fast copy of entries from one archive to another archive"
## Background and Motivation

When using .zip files as storage container, e.g. for project files, there is often the situation that only a few of the files inside the zip must be rewritten because its content has changed. The majority of the files did not change.

There is the possibility to append the changed files to the .zip file, even using the same name. This will effectively append the new c

[2020-06-06 14:01] obiwanjacobi commented on #37194
Not sure what I did wrong, but loading now works.
Sorry to bother you.

[2020-06-06 14:17] tannergooding commented on #25784
It requires a bit more thought, which is on my plate to do.

One of the primary issues is that adding new overloads here is breaking. Another issue is the name spread that would occur if we keep adding overloads. For example, it starts with `Pow` for integral types, but extends (theoretically) to the same for the various other methods. Likewise, it extends to more than just `int` and also exists f

[2020-06-06 14:21] jnm2 commented on #30998
@EamonNerbonne `EqualityComparer<T>` must include the same generic constraints on T as `IEqualityComparer<T>` in order to implement it.

[2020-06-06 14:23] jnm2 commented on #30998
@stephentoub I'm considering moving my [question](https://github.com/dotnet/runtime/issues/30998#issuecomment-637812155) to a new thread since it would apply to IEqualityComparer\<T> rather than EqualityComparer\<T>. I'll plan to do that soon if you don't immediately see the flaw that would make it a moot point.

[2020-06-06 14:42] EgorBo commented on #37449
Turns out this one is different, it's bad codegen after LLVM-JIT + inliner refuses to inline get_Arr
both problems are fixed in https://github.com/dotnet/runtime/pull/37458 and https://github.com/dotnet/runtime/pull/37544

[2020-06-06 15:14] obiwanjacobi commented on #37194
Okay, I still have something weird (to my eyes).
I can load a mixed assembly into my native test process. But when I rename the mixed assembly it crashes on the first call from native to (mixed) managed.

Is there a dependency on this name staying the same?

[2020-06-06 15:28] umitgunduz commented on #37522
Hello @vcsjones, i created sample project for reproduce this case, you access project this address  https://github.com/umitgunduz/AppleCFErrorCryptographicException
thanks.

[2020-06-06 15:40] dazinator opened #37545 "IServiceProvider Disposal and Scopes with singletons"
I think it would be great if IServiceProviders could be Disposed of safely.

At the moment, suppose you build a new service provider having registered a disposable singleton service.

Later you are referencing that IServiceProvider to create various new scopes, perhaps to satisfy incoming requests as asp.net core does, or background jobs.

How can you now safely Dispose of the service provider, an

[2020-06-06 15:53] davidfowl commented on #37545
Seems reasonable to implement (except for the overload that takes the cancellation token). It’s not something you’ll be able to rely on though, as it’s not something other containers are required to implement nor would we require at this point as it’s something that can be implemented on top on the container abstraction today.

[2020-06-06 15:55] davidfowl commented on #37545
This isn’t usually problem in practice when using hosting because shutdown is triggered and gives a grace period before disposal.

[2020-06-06 16:24] dazinator commented on #37545
@davidfowl guessing doing a shut down at the host level would stop all requests in a web application until the host or a new host was started up again. Im really thinking of restarting individual tenants without stopping or interrupting other tenants traffic by stopping the entire site. The disposeasync just means I wouldn't have to tie up a thread waiting for scopes to be disposed. I can do it wi

[2020-06-06 17:10] dazinator commented on #37545
One other idea that occurrs is.. having t
IServiceProvider.DisposeAsync passively wait for scopes to dispose before disposing itself is one strategy. It could be combined with actively trying to singal cancellation of those scopes. For example if when CreateScope() was called, if the scope that was returned had a cancellation token, the caller creating the scope (I.e presumably to do something lik

[2020-06-06 17:56] vcsjones commented on #37522
@umitgunduz thanks for the repo. Perhaps I didn't follow the instructions correctly, but this appeared to work for me. Let me explain what I did:

1. Ran `dotnet run --launch-profile=Test` in `Sample.Api`.
2. Opened a new terminal, and in `Sample.Api.Test`, ran `dotnet test`.

The test passed and IdentityServer4 indicated that the token was issued successfully:
<img width="1477" alt="Screen Shot 2

[2020-06-06 19:02] lambdageek commented on #37537
@xiangzhai The recommended way to build mono from this repository is by [following the workflow in docs/](https://github.com/dotnet/runtime/tree/master/docs/workflow/building/mono)

Note that mono in this repo does not produce a standalone mono framework, but simply the MonoVM as part of (not yet released) .NET 5.

If you are interested in using Mono as a cross-platform .NET Framework replacement,

[2020-06-06 19:02] #37537 closed

[2020-06-06 20:00] nattthebear opened #37548 "Support System.Runtime.InteropServices.CallingConvention on amd64"
I'm currently working on porting a Windows only application to Linux and the lack of ability to express the equivalent of `__attribute__((ms_abi))` or `__attribute__((sysv_abi))` is a major pain point.  I'm having to write my own custom wrappers around `GetFunctionPointerForDelegate` / `GetDelegateForFunctionPointer` that allocate their own trampolines to switch calling conventions.  The whole thi

[2020-06-06 20:24] arkalyanms commented on #37538
pathToFile:
	"C:\\Users\\arkalyan\\AppData\\Local\\Temp\\beenhere\\somefile"	string

Snippet:
  string directory = Path.GetDirectoryName(pathToFile);
  if (!string.IsNullOrEmpty(directory))
  {
      System.IO.Directory.CreateDirectory(directory);
  }

 Microsoft.IO.Version:
  4.7.0

 Exception details:
  SOE triggers in the TrimEndingDirectorySeparator(ReadOnlySpan<char> path)

   System.StackOve

[2020-06-06 20:55] jtbrower commented on #35318
@AaronRobinsonMSFT  @jkoritzinsky thank you both for such a rapid response.  Jeremy, I added a reference to the Microsoft.Windows.SDK.NET package and my main goal was achieved.  That is, the code compiles again!  I have plenty of work to do that does not required the Windows 10 SDK API's, so what I am about to say is by no means urgent for me.  Before I go forward I should mention that my main rea

[2020-06-06 21:07] umitgunduz commented on #37522
Hello @vcsjones, your step is ok. I get the error when I follow the same steps. Detailed information about macos version is as follows. I think there might be a problem with the macos version. I installed an macos update last week, then this problem started to occur.

_Exception Screen_
-----------------
![image](https://user-images.githubusercontent.com/725325/83954485-4795b680-a852-11ea-95cd-222

[2020-06-06 21:16] KalleOlaviNiemitalo commented on #37538
Oh, [`Path.TrimEndingDirectorySeparator` in corefx v3.1.0](https://github.com/dotnet/corefx/blob/0f7f38c4fd323b26da10cce95f857f77f0f09b48/src/Common/src/CoreLib/System/IO/Path.cs#L925) unconditionally calls itself. The bug was added in <https://github.com/dotnet/corefx/pull/42501>.

However, [`Path.TrimEndingDirectorySeparator` in coreclr v3.1.0](https://github.com/dotnet/coreclr/blob/1ed7226e39b7

[2020-06-06 21:39] trylek commented on #37440
As a slight update I'm starting to think that it would be useful to have another intermediate folder level under src/tests, something like src/tests/runtime, the rationale being that CoreCLR test processing is based on scanning a folder subtree; once we start adding e.g. installer tests to the folder, it's going to be much easier to filter out those tests that are supposed to be run via the CoreCL

[2020-06-06 21:40] EamonNerbonne commented on #30998
The class can't omit constraints, but can implement additional constraints, such as `T:notnull`.  The `IEq` + `Eq` example above does that and compiles.

[2020-06-06 21:53] #27960 closed

[2020-06-06 21:55] jkotas commented on #37440
I do not see a fundamental difference between e.g. interop tests and installer tests. Why can't all be discovered using the same folder scanning?

[2020-06-06 22:04] jnm2 commented on #30998
@EamonNerbonne I lost the thread in the conversation and misunderstood the `where T : notnull` to be on the interface, sorry! Putting the constraint either place is still a problem for me because I use both in generic methods where I don't want that constraint.

[2020-06-06 22:20] EamonNerbonne commented on #30998
Yeah, that's not an ideal solution for the general case and given the usage of `EqualityComparer<T>.Default that kind of needs to be available for the general case.

[2020-06-06 22:48] dazinator commented on #37545
just to state specific use cases i thought would be awesome to enable:

1. Could update the app with no downtime (plugins could be deployed and services reloaded without any requests being dropped.)
2. In a service provider per tenant scenario, a tenant can be "restarted" i.e their service provider disposed and substituted for a new one and other tenants would not be impacted. The bit I'm thinking

[2020-06-06 22:51] AaronRobinsonMSFT commented on #35318
@jtbrower We really appreciate these general details about the why or what .NET customers are trying to accomplish - thank you.

That sounds about right to me.

I don't think so. I would suggest going back to the official Preview 5 release since that is what coincided with the package @jkoritzinsky referenced. As assumed this is a point in time issue so should go away as all the repos/nupkgs align

[2020-06-06 23:19] davidfowl commented on #37545
Seems obscure TBH. I get it but this adds new API and not enough people have had this complaint to make it a priority. Also it wouldn't work in any of the other containers. Those things combined mean it won't get looked at in the short term.

It is an interesting scenario but I would encourage you to get something working so you can get a better handle on all of the problems and come up with somet

[2020-06-06 23:26] davidfowl commented on #37545
You need to keep track of outstanding requests tied to specific tenants, when you decide to unload the tenant then drain those requests before disposing the tenant's container. I don't think this has anything to do with DI the more I think about it, that's why I think it's important to write a sample. I think most of the logic has to do with coordinating the things that are being shutdown (request

[2020-06-06 23:33] dazinator commented on #37545
@davidfowl OK thanks. I'll close this for now then and perhaps reopen once I've got something more concrete to share.

[2020-06-06 23:33] #37545 closed

[2020-06-06 23:42] toddheckel opened #50016 "Content root not set correctly for single file publish when running as Windows service."
When using single file publish, the content root of a web app is usually set to the executable directory. However, when running as a service, the content root is set to the extracted files location. This prevents it from finding and loading the appsettings files and other files commonly excluded from the single file such as nlog.config.
### To Reproduce
Repro can be found at https://github.com/tod

[2020-06-06 23:44] dazinator commented on #37545
The need to drain requests before disposing the tenants container is the DI issue here. Because the disposal of the IServiceProvider is not safe when scopes are in play. If you solve that issue in DI then the need to track requests to work around it goes away and it also solves it anywhere else a scope may be created like background jobs etc.

But I'll take your advice - this would be easier to ex

[2020-06-06 23:59] kevinchalet commented on #27960
Those are lovely API additions!

Quick question: will these new APIs be available in a future version of the `System.Threading.Tasks.Extensions` NuGet package?

[2020-06-07 00:08] trylek commented on #37440
Well, at the very least they use different test harnesses today. I'm not against unifying them over time but doing all that in one fell swoop is beyond my imagination logistically. I may be mistaken but it also seems to me that the audience and purposes of runtime vs. library vs. installer tests are often different, making these test groups worth being observable by any runtime contributor.

[2020-06-07 00:09] davidfowl commented on #37545
I think that's the wrong layering though. It seems wrong to me to rely on DI scopes as the center of the universe. Any object created outside of the container (like things activated using the container as input but not tracked by the container) are broken.

[2020-06-07 00:24] dazinator commented on #37545
Thats a good point. I beleive these kind of "extraneous objects" that have been activated (but not tracked), would only be broken if something IDisposable was injected into them where that IDisposable was being tracked. I think if you are injecting an IDisposable that has a lifetime managed by the container, into a service that you are managing outside the container, then you'd design things in su

[2020-06-07 00:41] kumbham opened #37551 "build.sh --pack option doesn't generate nuget packages"
Steps to reproduce:
```./build.sh --projects src/libraries/System.Collections.Immutable/src/System.Collections.Immutable.csproj --pack```

Output:
[code]

Wanted to check if this is the correct way to generate nupkg packages? If not, could you please guide me on how to generate nuget packages for the library?

[2020-06-07 00:59] stephentoub commented on #27960
We're not currently in a position to produce a new version of that package with these.

[2020-06-07 01:02] lanndoc commented on #739
I'm also wondering about an update

[2020-06-07 01:36] jkotas commented on #37440
Installer (or more is a well defined narrow area. Having `src/tests/installer` would be perfectly fine with me if we wanted to move the installer tests there.

Runtime is poorly defined broad area. It is why I dislike `src/tests/runtime`.

The CoreCLR tests have very few requirements. It is just an entrypoint `.exe` and error code that it is expected to return, the rest is up to you. You can fit a

[2020-06-07 01:42] KevinCathcart commented on #36654
There are actually 3 different circumstances in which the method on the new interface is called. There is the hard cast (`castclass`), soft cast (`isinst`), and when called by by the stubs trying to resolve the virtual call (prior to the result getting cached).

The approved api allows the implementation to distinguish between the first two, but it cannot tell the difference between the first and

[2020-06-07 01:43] #31549 closed

[2020-06-07 01:50] kevinchalet commented on #27960
Understood. Thanks for your reply!

[2020-06-07 01:57] jkotas commented on #36654
Another observation is that the implementation interface is not needed for casting. If we wanted to allow the callbacks to do the minimal amount of work possible, we may want to split it into two methods:
[code]

[2020-06-07 02:50] ebfortin commented on #37216
I'm still struggling to understand when the runtime optimize and when it doesn't. The only moment I get clear optimized code is by using COMPlus_TC_QuickJit=0. If I use the MSBuild property or runtimeconfig.json it doesn't do anything. I still get the awfully bad performance.

If it's something I should check with the BenchmarkDotNet team tell me and I will close this here. But I have the feeling

[2020-06-07 04:23] sgf opened #37553 "Request Runtime-bootstrap"
why .net runtime use C++ in the underlying infrastructure.like jit or vm.
Do we(.net) have the ability to remove all C++ code from runtime.

Is it because the description ability of the .net platform language is not enough?
Otherwise, why should the runtime carry code that is not in the language of the .net platform itself?

If it is a question of all .net platform languages, does it prove that an

[2020-06-07 04:34] arkalyanms commented on #37538
Perhaps the bug should be routed to the Microsoft.io.path owners to rewire, the likes of @carlossanlop. The call from my side comes into that dll that’s now been staged into VS publicassemblies via CreateDirectory and does not hit the Trim directly.

[2020-06-07 06:36] ArjunVachhani commented on #28904
@stephentoub how to use new Span<T> APIs  with Net Standard 2.1 library? will it work with only .net 5?

[2020-06-07 07:30] xiangzhai commented on #37537
@lambdageek  Thanks!

[2020-06-07 07:53] myrup commented on #36661
@danmosemsft Thanks! I'll test it and report back here 👍

[2020-06-07 08:27] tapika opened #37556 "Make DllExport attribute to be built-in into .net"
## Background and Motivation

On nuget packages there already exists 3 different packages which are dealing with `[DllExport]` attribute - that is 1. `UnmanagedExports`, 2. `UnmanagedExports.Repack` and 3. `DllExport`.

From all of them - 3rd alternative seems to be most up-to-date and coherent with time.

There are however some regressions coming from .NET platform itself, for example
https://git

[2020-06-07 09:09] stephentoub commented on #28904
They're new in .NET 5, and thus aren't available via .NET Standard 2.1.

[2020-06-07 09:42] Youssef1313 opened #37557 "Review Substring usages"
A Span could be used and be more efficient than Substring in some cases.

For example, there are many Substring calls [here](https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/Common/tests/System/Net/Http/LoopbackServer.AuthenticationHelpers.cs) (This is just an example, I'd expect more usages across the repo)

If these could make use of the Span<T>, it'd

[2020-06-07 10:20] stephentoub commented on #37557
That's in a test.

[2020-06-07 10:36] Youssef1313 commented on #37557
Oh, sorry didn't notice that. Let me try to search if there occurrences that aren't in tests.

[2020-06-07 10:38] kontacthimanshu commented on #36493
It worked fine locally. I tested it by hosting a WebAPI in local IIS with a self-signed certificate.

[2020-06-07 10:40] Youssef1313 commented on #37557
Examples on non-test code:

- https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Private.Xml/src/System/Xml/XPath/Internal/StringFunctions.cs

- https://github.com/dotnet/runtime/blob/4b03513e20e0caf9ee34817eb74356903f1bb33e/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs

- https://github.com/dotnet/run

[2020-06-07 11:13] Youssef1313 opened #37561 "Suggestion: Generic ICloneable<T> interface"
The current non-generic `ICloneable` interface requires casting the returned `object` type to whatever type is expected.
I think it'd be good to see ICloneable<T> interface and implement it in the classes that currently implements `ICloneable`.

[code]

[2020-06-07 11:16] stephentoub commented on #37561
ICloneable is widely considered to have been a mistake. I don't expect we'd want to double-down on it with a generic counterpart.

e.g. from the docs:
https://docs.microsoft.com/en-us/dotnet/api/system.icloneable?view=netcore-3.1
"Because callers of Clone() cannot depend on the method performing a predictable cloning operation, we recommend that ICloneable not be implemented in public APIs."

[2020-06-07 11:39] Youssef1313 commented on #37561
Sounds reasonable to not implement an `ICloneable<T>` interface. But for the **current** classes that **already** implements `ICloneable`, wouldn't it be good to add a `Clone` method (without ICloneable<T> interface) that returns the exact type instead of object?

My idea is that, whether it was a mistake or not, some classes already implemented ICloneable. So, having a Clone method (without a new

[2020-06-07 11:58] jbe2277 commented on #23937
I agree with @jemiller0 's proposal to allow configuring it programmatically. This would allow us to use TraceSource when the TraceSource instance is not available to the application.

Maybe you find my Wiki page interesting: [Logging with .NET Standard 2.0](https://github.com/jbe2277/waf/wiki/Logging-with-.NET-Standard-2.0). It describes how to use TraceSource and to expose the TraceSource instan

[2020-06-07 12:06] stephentoub commented on #37561
Which types specifically? And for each type, where are some examples where that Clone method be valuable?

[2020-06-07 12:11] stephentoub commented on #37557
Thanks. If there are specific cases you've seen that could be improved, please feel free to submit PRs for them. In general, though, a broad issue about reviewing all Substring usage isn't particularly actionable: when is the issue complete? I'd rather such a concern be addressed more holistically, with an analyzer that would help find all relevant uses, both in this codebase and others, that woul

[2020-06-07 12:12] Youssef1313 commented on #37561
[Example](https://github.com/dotnet/runtime/blob/8f8cfd446db5227d2685b7c0fe63084c776019ff/src/libraries/System.Net.Http/src/System/Net/Http/Headers/TransferCodingHeaderValue.cs#L151).

If the following is added in addition to the current Clone:

[code]

it will add two benefits (sure, I'm not a professional and may be wrong):

1. Internal benefit - The `this.Parameters.Add((NameValueHeaderValue)((

[2020-06-07 12:15] Youssef1313 commented on #37557
Thanks. I'll close in favor of the currently opened issues that you referred to.
Certainly, I'd submit PRs if I could improve something.

[2020-06-07 12:15] #37557 closed

[2020-06-07 12:16] steveisok commented on #35083
Closing in favor of https://github.com/dotnet/runtime/pull/37511

[2020-06-07 12:16] #35083 closed

[2020-06-07 12:20] stephentoub commented on #37561
The parameter there isn't the type you mention. And a new public API isn't required in order to simplify/improve this implementation detail (though going through the interface there is wasteful and unnecessary).

Can you point to an example for this specific type?

[2020-06-07 12:23] jkotas commented on #37553
This is certainly possible. It is just too expensive and it is hard to see how it would make the .NET platform better for .NET users.

See discussion in https://github.com/dotnet/runtime/issues/10158 for more details. Resolving as duplicate.

[2020-06-07 12:23] #37553 closed

[2020-06-07 12:26] Youssef1313 commented on #37561
Yes, but the idea is same. However, I agree that this can be improved without a new public API. (Should I try to capture the Clone calls that could be improved and submit a PR?)

Unfortunately, no. But I expect that if the `Clone` is public, there could be someone who uses it for whatever reason.

[2020-06-07 12:33] stephentoub commented on #37561
Maybe. But adding new public surface area is not cheap. In addition to the effort required to design/implement/test/document/etc., it has on-going costs around maintenance, it adds to the conceptual overhead of consuming the type, and it can even make it harder to evolve the type by placing additional restrictions on what can be achieved... so there needs to be a strong, demonstrated case for why

[2020-06-07 12:34] stephentoub commented on #37561
Is there any real scenario this is meaningfully impacting?

[2020-06-07 12:38] jkotas commented on #36599
.NET Core version of ilasm/ildasm roundtrips NaNs just fine. We should use this issue to add back the roundtrip testing.

Note that we are not really shipping ilasm/ildasm in .NET Core today (#13823 and #32996), so  ilasm/ildasm roundtrip testing is nice-to-have in the current situation. It would become must-have if we started shipping these tools.

[2020-06-07 12:40] jkotas commented on #37210
This is a issue in .NET Framework. .NET Framework issues should be reported via VS Developer Community Portal (https://github.com/dotnet/core#getting-help).

[2020-06-07 12:42] Youssef1313 commented on #37561
Wouldn't using `new SomeClass(someObjectOfTheSameSomeClass)` directly perform better than calling `(SomeClass)((ICloneable)someObjectOfTheSameSomeClass).Clone()`?

Changing this internally without adding a new API wouldn't be problematic I think?

[2020-06-07 13:02] jkotas commented on #37556
Take a look at the DNNE package published at https://github.com/AaronRobinsonMSFT/DNNE and provide your feedback there.

We are not adding new features to .NET Framework, except security and reliability updates.

The technique used by the DllExport package is Windows-specific that conflicts with our cross-platform portability goals for .NET Core. The technique used by the DNNE package does not hav

[2020-06-07 13:02] #37556 closed

[2020-06-07 13:10] jkotas commented on #37210
@SamPlusPlus Could you please open this issue via VS Developer Community Portal?

[2020-06-07 13:14] dazinator commented on #37545
Here is an xunit test that just highlights the issue i'm attemptign to solve:

[code]

My next step is to look at whether I can make a general purpose wrapper / decorator for any `IServiceProvider` that implements `IDisposable`. My implementation will wrap the inner providers `IServiceScopeFactory` with one that does reference counting of the created scopes. It will also implement IAsyncDisposable

[2020-06-07 14:27] plioi commented on #8714
I think this can be closed now that it's easy to implement an AssemblyLoadContext in combination with AssemblyDependencyResolver, and since there's some clear documentation on the ins-and-outs: https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support

[2020-06-07 15:15] EgorBo opened #37564 "A small performance issue in virtual(stub) calls"
[code]
Codegen:
[code]
Isn't it a bit more efficient to do `mov   rax, r11` since `0x7FFC56D00048` is already in `r11` ? e.g. https://godbolt.org/z/fLqcWp

[2020-06-07 15:18] EgorBo commented on #37564
ah, actually it should've been rendered as `[0x7FFC56D00048]` for rax.

[2020-06-07 15:18] #37564 closed

[2020-06-07 15:54] #24678 closed

[2020-06-07 16:08] #8714 closed

[2020-06-07 17:27] davidfowl commented on #37545
Yes I understand the problem but that unit test is contrived and doesn't show the problem. If you made the root scope wait on all all scopes for disposal it would turn into a deadlock. The fact is that you have an application that is running things concurrently and you have some logic for determining when to "unload" a tenant. You want to dispose a tenant concurrently when it may be in use and you

[2020-06-07 17:56] dazinator commented on #37545
One strategy would be to overlap the new service provider with the old,
 I.e before disposing the old service provider, build and swap the new service provider into place so that all new requests start creating scopes from the new provider rather than the old provider. The code that does this swap would then await the old provider to be disposed whilst its scopes drain down repreeenting in flight

[2020-06-07 18:12] stephentoub commented on #37561
It's not necessarily the same thing.  Imagine if `someObjectOfTheSameSomeClass` was actually an instance of type B that derived from type A, but you had a reference to it as A.  Your proposed `new A(b)` would actually produce an `A`, whereas `(A)((ICloneable)b).Clone())` would produce a `B`.

And even if it did perform slightly better and wasn't flawed, the question is, who does that actually help

[2020-06-07 18:27] Youssef1313 commented on #37561
That's a great point I wasn't considering.

If the change is small and improving performance, My opinion might be to just go with it. But with the case you mentioned, the code to get things correct might be more complex. So I'm completely agreeing that it doesn't worth it without a real scenario.

Finally, Really really thanks for taking the time discussing this. I appreciate that very much.

[2020-06-07 18:27] #37561 closed

[2020-06-07 19:30] jnm2 opened #37569 "Remove [DisallowNull] from IEqualityComparer<T>.GetHashCode by interpreting existing contracts as applying to nonnullable T only"
In the previous discussion about removing [DisallowNull] for the EqualityComparer<T> class, the blocker was that the existing implementations of GetHashCode sometimes threw for null, and the contract was explicitly documented to allow any implementation to throw for null. Therefore the nullability warning would be appropriate.

An argument was made that it would be better to not cause a nullabilit

[2020-06-07 19:32] jnm2 commented on #30998
I moved my [comment above](https://github.com/dotnet/runtime/issues/30998#issuecomment-637812155) to https://github.com/dotnet/runtime/issues/37569 since it is a separate proposal.

[2020-06-07 19:32] #30998 closed

[2020-06-07 19:59] jtbrower commented on #35318
Thank you again for the nice and timely response.  Before I read your reply, I had rolled back to Preview 4 and tested the PointOfService MageticStripeReader class, and the swipe events were detected.  I will try to engage the team over at the CsWinRT repo, one big missing implementation is the fact that the PointOfService APIs do not support USB POS Printers.  As I think of this, a feature reques

[2020-06-07 20:03] robertmclaws commented on #31274
Any progress on this? Just ran into the issue again in one of my projects. Thanks!

[2020-06-07 20:30] emmenlau commented on #37552
Here is the code: https://github.com/BioDataAnalysis/dotnet-runtime-37552

[2020-06-07 21:13] stephentoub commented on #29185
@terrajobst, this is marked api-approved.  What is the approved design?

[2020-06-07 21:15] stephentoub commented on #31184
Implemented in https://github.com/dotnet/runtime/pull/35975

[2020-06-07 21:15] #31184 closed

[2020-06-07 21:37] stephentoub commented on #17036
How is the ctor taking `string content, MediaTypeHeaderValue mediaType` supposed to get the correct Encoding to use for getting the bytes from the string?

[2020-06-07 23:08] brianflex opened #37571 "Deadlock while trying to Suspend EE & acquire threadstore lock while starting a GC"
I've got a deadlock where the GC is blocked acquiring the threadstore lock, and almost all the other threads are blocked on the GC. My specific instance has 310 active threads though when the process deadlocks.

I'm using .NET Core 3.1. The program reads different JSON files for every day for the past year or so, using a different thread for each one for performance (a poor man's in-proc Big Data

[2020-06-07 23:11] benaadams commented on #17036
Same way passing `null` or not giving the encoding does, by using `HttpContent.DefaultStringEncoding` (i.e. `Encoding.UTF8`); with the change of **not** adding `charset=utf-8` to the header

[2020-06-07 23:38] stephentoub commented on #17036
But it may already have a charset that's not utf8.

[2020-06-08 00:28] dazinator commented on #37545
Well, so far so good. [Here is an implementation](https://github.com/dazinator/serviceprovider-experiment/blob/master/src/DisposableServiceProvider.Tests/DisposableServiceProvider.cs) of an IServiceProvider that can wrap any other, but implements IAsyncDisposable and allows scopes to drain down, before disposing. I added some basic tests:

1. Test shows the deadlock issue does happen (as expected)

[2020-06-08 00:57] jkotas commented on #37571
Thank you for capturing the dump!

Yes, that is the problem.

You should be able to look at the `OwningThread` field of the `CRITICAL_SECTION` structure passed into `RtlEnterCriticalSection` API. It should point to the thread that owns the thread store lock.

Yes, that would help too.

[2020-06-08 01:01] AaronRobinsonMSFT commented on #35318
Yes. I would agree with that. If this becomes an issue with something needed in the runtime they will be able to convey that need to us.

[2020-06-08 01:36] AaronRobinsonMSFT commented on #37552
@emmenlau There is a lot in that example. Can you point to the specific test or P/Invoke that is interesting/slow?

That is an unusual mapping if that is managed code. The `char` in managed code is always 2-bytes regardless of platform. If that is a native mapping the marshalling should be the same regardless of platform. Knowing the specific P/Invoke that is causing the confusion or represents th

[2020-06-08 01:40] benaadams commented on #17036
Then you'd call one of the overloads that takes an Encoding?

Currently it assumes a utf8 encoding; if its unspecified anyway?

Also https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Charset

[2020-06-08 02:07] stephentoub commented on #17036
There isn't one that takes an Encoding and a MediaTypeHeaderValue.

[2020-06-08 02:35] benaadams commented on #17036
Ah; I understand; the `MediaTypeHeaderValue` may have a `string` charset but that doesn't help to determine the encoding (without some really slow parsing)

[2020-06-08 02:35] xiangzhai commented on #37537
Hi @lambdageek

I met some issue:  https://github.com/xiangzhai/mono/issues/2  Please give me some hint about porting mono to MIPS64.

Thanks,
Leslie Zhai

[2020-06-08 02:44] stephentoub commented on #17036
Exactly

[2020-06-08 03:06] v-haren opened #37574 "Test failure: JIT/Performance/CodeQuality/BenchmarksGame/reverse-complement/reverse-complement-1/reverse-complement-1.sh"
failed in job: [runtime-coreclr jitstress 20200606.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=675191&view=ms.vss-test-web.build-test-results-tab&runId=20927598&resultId=109242&paneView=debug)

failed tests:
JIT/Performance/CodeQuality/BenchmarksGame/reverse-complement/reverse-complement-1/reverse-complement-1.sh
Loader/AssemblyLoadContext30Extensions/AssemblyLoadContext30Extens

[2020-06-08 03:09] v-haren opened #37575 "Test failure: JIT\\Methodical\\xxobj\\sizeof\\_il_dbgsizeof64\\_il_dbgsizeof64.cmd"
failed in job: [ runtime-coreclr jitstress 20200606.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=675191&view=ms.vss-test-web.build-test-results-tab&runId=20927684&resultId=106822&paneView=debug)

failed tests:
JIT\\Methodical\\xxobj\\sizeof\\_il_dbgsizeof64\\_il_dbgsizeof64.cmd
JIT/Methodical/xxobj/sizeof/_il_relsizeof_Target_32Bit/_il_relsizeof_Target_32Bit.sh
JIT/Methodical/xxo

[2020-06-08 04:03] John0King opened #37576 "focusing on AssemblyLoadContext.CurrentContextualReflectionContext to support child/parent alc fallback"
## background
In most time we need  alc fallback when doing plugin dynamic load. When a assembly can not be find it should look to it's parent alc instead of just default alc.  current issues like #13472 , #37231 also has the issue in alc fallback.

after I look to those issue I also notice that  people in .net team seems not “support” to use the `CurrentContextualReflectionContext` ,  and I do se

[2020-06-08 04:10] brianflex commented on #37571
Hi Jan, thanks for the confirmation.  (And after working on the BCL for 14 years, of course I know to get a dump.)  I've looked at this more but I am not happy with what I'm seeing.

The OwningThread parameter is 0x12c8, which is the CLR's debugger thread.  The stack trace of that thread is pretty boring and typical.

I did do something weird here.  When I first noticed the problem, I attached Vis

[2020-06-08 04:35] briangru commented on #37571
Here's another thread trying to acquire the ThreadStore lock...  This is a very weird thread that I don't quite understand - looks like it's trying to run Git...  Could the managed debugger have created this thread and/or started running stuff on it?  It may not be part of a deadlock, but it's certainly odd to me.

 	ntdll.dll!RtlpWaitOnAddressWithTimeout()	Unknown
 	ntdll.dll!RtlpWaitOnAddress()

[2020-06-08 04:41] AaronRobinsonMSFT commented on #37548
@nattthebear With respect to the scenario in question, I was a bit confused as to why anyone would want to use the `ms_abi` on a non-Windows scenarios. I asked some of the other .NET team members and the most common response was having a collection of hand written assembly that was targeted for Windows and is now being ported to a non-Windows platform. Is this the scenario in question? If there is

[2020-06-08 05:17] jkotas commented on #37571
This thread is ETW control thread. Looks like something (debugger?) is trying to turn on ETW events for [Windows::Foundation::Diagnostics::AsyncCausalityTracer](https://docs.microsoft.com/en-us/uwp/api/windows.foundation.diagnostics.asynccausalitytracer).

[2020-06-08 06:13] BruceForstall commented on #37117
@AndyAyersMS @erozenfeld We really need to decide if tailcallstress is valid. If not, we need to turn it off.

We should also consider whether it is useful.

Comments?

[2020-06-08 06:36] #37449 closed

[2020-06-08 06:43] sankalan opened #37577 "PlatformNotSupportedException while using ProtectedData.Protect from a library loaded through reflection, on Windows"
### Description

We have a library that uses ProtectedData.Protect. If we load this library through reflection, we get PlatformNotSupportedException, on Windows. If we add the reference of ProtectedData directly in the app, that loads the library, things work fine.

### Configuration

* Using it in net core 3.1
* Tried in Windows 10, x64

### Regression?

* Here is the sample application to reprod

[2020-06-08 06:46] v-haren commented on #36971
failed again in job: [runtime-coreclr gcstress-extra 20200607.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=675643&view=ms.vss-test-web.build-test-results-tab&runId=20940416&resultId=100608&paneView=debug)

failed test: baseservices/threading/generics/WaitCallback/thread28/thread28.sh

Error message
[code]

[2020-06-08 06:49] emmenlau commented on #37552
@AaronRobinsonMSFT sorry, I tried to keep the full benchmark usable, but it would have been good to highlight the interesting parts. I'll try to outline here.

This is the relevant Dllimport:
https://github.com/BioDataAnalysis/dotnet-runtime-37552/blob/70eca84c98c7d4a452d1c188796253820b78242b/NativeBinding.Tests/src/NativeWrapper.cs#L124

The managed code has signature:
[code]

Here is the corresp

[2020-06-08 06:59] liesauer commented on #2572
@nmocruz @menasheh if single-file is not suitable for you, you can have a try at [NetCoreBeauty](https://github.com/nulastudio/NetCoreBeauty), it supports both net core 2.x and 3.x. and it only moves dlls into sub-folder, other files will be left at where then should be.

[2020-06-08 07:10] wfurt opened #37578 "SslStream.HashAlgorithm does not seems to work with Tls12 and above"
### Description
I used examples from https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslstream.hashalgorithm?view=net-5.0

[code]

When I force Tls11 I see TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA  negotiated and output of:

when I use default, Tls12 or Tls13 I get TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 and :

### Configuration

Tested with current 5.0 version on Linux with OpenSsl 1.

[2020-06-08 07:27] v-haren opened #37579 "Test failure: JIT/Regression/CLR-x86-JIT/V1.2-Beta1/b219940/b219940/b219940.sh"
failed in job: [ runtime-coreclr crossgen2 20200606.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=675235&view=ms.vss-test-web.build-test-results-tab&runId=20928468&resultId=101837&paneView=debug)

Error message
[code]

[2020-06-08 07:30] wfurt commented on #919
it is not. but easy enough to fix.

[2020-06-08 07:36] v-haren opened #37581 "Test failure: JIT/SIMD/VectorAbs_r/VectorAbs_r.sh"
failed in job: [runtime-coreclr jitstress-isas-x86 20200606.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=674945&view=ms.vss-test-web.build-test-results-tab&runId=20920208&resultId=108928&paneView=debug)

Error message
[code]

[2020-06-08 08:08] clement911 commented on #35508
I ran the two following tests on .net core 3.1 to compare connecting via the host-based url and connecting via the IP based url + host header.

[code]

Unfortunately, **they both create a separate connection PER HOST**, which will very quickly exhausts the available
 ports.

@wfurt   Is that what you expected?

[2020-06-08 08:39] sanosdole opened #37584 "`AssemblyLoadContext` confusion when running ASP in a native host"
I'm still not sure if this is an Issue, but according to dotnet/runtime#35465 there is some confusion around using a `libhost` hosted runtime and ALCs (`AssemblyLoadContext`).

The Problem occurs when running an ASP application in a `libhost`  hosted runtime. Code can be seen in the [nodeclrhost project](https://github.com/sanosdole/nodeclrhost).

We use a default dotnet core 3.1 web app (`TestApp

[2020-06-08 09:12] #13469 closed

[2020-06-08 09:22] vitek-karas commented on #37584
As you mention the ability to invoke code in default ALC from native host is being work on now by @rseanhall  - the design is described here: https://github.com/dotnet/runtime/blob/master/docs/design/features/native-hosting.md#calling-managed-function-net-5-and-above.
Note that for that to work all of the code will need to be loaded into the default ALC, so the native hosting will need to use `hos

[2020-06-08 09:23] vitek-karas commented on #37584
As for the title of this issue - I don't think the `Assembly.Load` API is doing anything wrong here.

[2020-06-08 09:56] sanosdole commented on #37584
Thanks, that helps.

So once .NET 5 is available we use `hostfxr_intiailize_for_dotnet_command_line` (which will also set the runtime properties properly) and the new `hdt_get_function_pointer` instead of our current workaround to force the default ALC.

If we want isolation (e.g. multiple dotnet components) we do it setting up the `AssemblyLoadContext` and ensure that the `NodeHostEnvironment` is

[2020-06-08 09:56] springy76 commented on #32465
I don't see any counters on netcore 3.1.4

[2020-06-08 10:02] nmocruz commented on #2572
I really prefer a solution like NetCoreBeauty
<https://github.com/nulastudio/NetCoreBeauty>
Thanks for the advise

On Mon, 8 Jun 2020 at 08:00, L!εsAμεr <notifications@github.com> wrote:

[2020-06-08 10:11] vitek-karas commented on #37584
Glad to hear this might work for you in the end (at least for the core scenario).

I forgot to address the `APP_PATH` question above: `APP_PATH` and similar properties are basically a left-over from the old days. I would not recommend using those. The correct way to customize assembly resolution is to do it in code. For secondary ALCs you get to implement `AssemblyLoadContext.Load` which gives you

[2020-06-08 10:11] #37584 closed

[2020-06-08 10:13] springy76 commented on #761
I'm randomly losing items while using a BoundedChannel (with FullMode=Wait). I most likely tracked it down to cancellation happening during `channel.Reader.ReadAsync(token)` -- and the very same code is running happyly for days and weeks when using an UnboundedChannel instead.

Is this known/expected behavior?

[2020-06-08 10:34] stephentoub commented on #761
Without a repro, it's hard to say. Doesn't sound related to the issue you commented on, though.

[2020-06-08 10:54] J0nKn1ght commented on #36752
Hi @karelz - Sorry, I've been busy with project deadlines.  As you say, it's a simple change, so I could look at doing a PR. Do you think that it's acceptable to always return a MailAddress from ToString with escaped embedded double quotes? Can you envisage any circumstances where that could break existing code that uses ToString?

[2020-06-08 11:05] birnbeidla opened #37586 "Crash in ICorProfilerInfo2.DoStackSnapshot"
Hi

I'm writing a profiler that periodically gets the managed stacks from all available threads.
Collecting stack data is done by a separate thread that does stack walking with a specific interval. We call that thread the collector thread.
The profiler works with both desktop and core CLR and can runs on Windows aswell as on Linux.

For asynchronous stack walking, I tried several different approca

[2020-06-08 11:09] sandreenko commented on #36868
https://github.com/dotnet/runtime/pull/36866/files/097cb9f1842f64a964aa7ac079f635c294b23321#r436207853
Note to fix Long return on arm32.

[2020-06-08 11:21] springy76 commented on #761
@stephentoub I'll create a new issue for that, this issue just looked most related (Reader.ReadAsync + CancellationToken) at first place.

My repro script currently is a LINQPad script: Would you accept this or do you need a console app (which would take some time rewriting all the nice and easy LINQPad.Dump()'s)?

[2020-06-08 11:25] stephentoub commented on #761
A console app would be helpful, thanks!

[2020-06-08 11:35] vitek-karas opened #37587 "SR.GetResourceString doesn't return resource key when UsingResourceKeys is true"
`SR.UsingResourceKeys` is a property meant to be set to true if the resources should not report full resource strings, but instead just the resource key itself. This is used for example in .NET Native but we now plan to potentially use it when trimming apps in .NET Core well. The advantage of doing this is that the tooling can remove the relatively large string resources and thus reduce the size o

[2020-06-08 11:35] vitek-karas commented on #37587
/cc @eerhardt

[2020-06-08 11:41] janvorli commented on #11157
@raffaeler I am sorry for missing your previous comment. There were no additions to the diagnostic tools since the SOS commands were fixed to properly handle dependencies for unloadable objects.
Have you seen my doc https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability? There is a lot of detail on how to debug unloadability issues.
If that's not helpful for your case, please shar

[2020-06-08 11:47] sandreenko commented on #37574
I think it could be failing since #37335, @erozenfeld could you please take a look?

[2020-06-08 12:54] emmenlau commented on #37552
I have significantly reduced the complexity of the sample code, in case that makes it more useful.

Also, I've seen that we get the same drop in performance when running a debug-version of the code. I do not know why Windows would run a debug version, so I do not believe this is the cause, but I will try to follow this up.

[2020-06-08 12:59] clement911 commented on #35508
I'm tempted to use a very low idle timeout to remedy the problem but is this a bad idea?

[code]
As far as I understand, the connections will still remain in TIME_WAIT state for a few minutes, but they will still clear up faster than with the default idle timeout of 2 minutes.
Is it really that expensive to initiate a brand new connection for each call?

[2020-06-08 13:06] raffaeler commented on #11157
@janvorli Thanks for your answer.
I know that document and it is not always straightforward understanding which is the ALC for each object.
I am currently using the new CLRMD 2.0 release and searching for  System.Reflection.LoaderAllocator instances, it is difficult to understand which objects belong to each ALC.
Do you have any hints? (I am trying to do that programmatically)

[2020-06-08 13:23] nattthebear commented on #37548
@AaronRobinsonMSFT Thank you for your response!  The more I think about it, I suspect my use case isn't very common at all.  I have native binaries that are architecture dependent but OS independent:  They're compiled as x86-64 using the msabi calling convention, but all syscalls are through an abstraction layer.  My C# application hosts those binaries, providing the OS abstraction layer and other

[2020-06-08 14:06] lambdageek commented on #37246
So the complication is that mini (JIT, AOT, and AOT LLVM) use PDBs to decide where to place sequence points.  I'm not sure how complicated the bootstrapping will look like if the JIT needs to call managed code to read a PDB.  So the alternative is to add a new codegen mode with automatically chosen sequence point locations.

I'm surprised that native PPDB support needs a lot of code in the runtime

[2020-06-08 14:19] janvorli commented on #11157
Unfortunately, this is the case when you currently need a native debugger (WinDbg on Windows, LLDB on Unix) and follow the steps I've suggested. It is true though that I didn't write these steps in an easy to follow detailed way that one could easily follow, but rather as a brief explanation of the issue.
If using the native debugger is an option for you, I'd be happy to put down an exact step by

[2020-06-08 14:19] synercoder opened #37590 "IFileInfo async methods"
## Background and Motivation

I am currently working on a hobby (web) project, and for testing I have a bunch of images I server stashed in a folder. The images are served using:

    app.UseStaticFiles(new StaticFileOptions()
    {
        RequestPath = "/images",
        FileProvider = new PhysicalFileProvider(@"C:\path\to\my\images\folder")
    });

This works fine of course, but I would like t

[2020-06-08 14:28] mattwarren opened #37591 "Unable to build source with `DEBUGGING_SUPPORTED` undefined"
I don't imaging this is a priority or even officially supported, but just thought I'd mention it. Currently you can't build the CoreCLR code with [`DEBUGGING_SUPPORTED` undefined](https://github.com/dotnet/runtime/blob/master/src/coreclr/clrdefinitions.cmake#L53), you get the errors shown below.

(I assume that disabling `DEBUGGING_SUPPORTED` is only useful when porting the CLR to a new platform/O

[2020-06-08 14:45] eerhardt commented on #37587
I think this issue only applies to System.Private.CoreLib, right?

https://github.com/dotnet/runtime/blob/bd6cbe3642f51d70839912a6a666e5de747ad581/src/libraries/System.Private.CoreLib/src/System/SR.cs#L21-L25

That method is only complied in for CoreLib, all the other libraries don't have it.

Is the fix here simply to change `string.Empty` to `null`? Normally I would think we could just remove th

[2020-06-08 14:47] AaronRobinsonMSFT commented on #37552
That is correct.

Building anything as `Debug` disables most if not all JIT optimizations so running performance related tests should always be done in `Release`. Measuring these kind of scenarios in .NET is hard given the nature of the system and complexity in how each interacts with the other. It is recommended to collect data under a profiler (e.g. [PerfView](https://github.com/microsoft/perfvi