[2021-07-20 22:07] AlexGhiondea opened #56052 "Remove limitation of one EventSource with same name/GUID per process"
There is currently a limitation in the EventSource implementation that prevents an EventSource with the same GUID from being instantiated in the same AppDomain.

When loading different versions of an assembly that contains an EventSource in different AssemblyLoadContext(s), an exception is raised when the second EventSource is instantiated.

This issue tracks the work required in the runtime/Event

[2021-07-20 22:10] stephentoub commented on #56052
cc: @noahfalk, @brianrob

[2021-07-20 22:12] mangod9 commented on #52529
Dupe of https://github.com/dotnet/runtime/issues/51250

[2021-07-20 22:12] #52529 closed

[2021-07-20 22:13] EgorBo commented on #55695
Workaround for the issue: `--compilebubblegenerics` flag (it also sets `onlyDefinedInAssembly` to null)

[2021-07-20 22:22] kunalspathak opened #56053 "BITCAST vs. CAST in faster unsigned division codegen"
For faster division, we have a special case of using `BITCAST` for xarch and `CAST` for armarch. See https://github.com/dotnet/runtime/pull/52893/files#diff-8b369256957ebd643910d92e3975f4c94b350010802b23e558ca965680f4907aR5311-R5314

When working on https://github.com/dotnet/runtime/pull/55852 , @sandreenko  and I noticed this and wanted to have an issue so we can track all the conversation here.

[2021-07-20 22:22] kunalspathak commented on #56053
@pentp

[2021-07-20 22:24] #55141 closed

[2021-07-20 22:31] jessicah commented on #55803
Okay, copied `artifacts` to my Haiku, and the `mono-sgen` binaries under `artifacts/obj/mono/Haiku.x64.Debug` run :)

[2021-07-20 22:43] trylek commented on #54316
I believe this bug was fixed with https://github.com/dotnet/runtime/pull/53424; I have double-checked that it's not blocked in <code>issues.targets</code> and it passes locally on Windows x86 release as of the most recent dotnet/runtime main.

[2021-07-20 22:43] #54316 closed

[2021-07-20 22:44] tpeczek opened #56055 "Question About JsonSerializer.DeserializeAsyncEnumerable Behavior"
Hi,

I have a question around `JsonSerializer.DeserializeAsyncEnumerable`. I was experimenting with async streaming between ASP.NET Core and HttpClient in .NET 6. I have created two methods on the client side. One which outputs the raw data returned by the ASP.NET Core endpoint.

[code]

And one which uses `JsonSerializer.DeserializeAsyncEnumerable` to deserialize the stream.

[code]

The output f

[2021-07-20 22:46] jeffhandley commented on #55972
Thank you, @AngeloCresta! I'll get this fixed in 6.0 RC1.

[2021-07-20 22:49] am11 commented on #55803
That was fast. Great progress! It took me way longer to get this far. 🤣

On Linux box, where you have cross compiled, you can run:

[code]

then edit: `mypublishdir/helloworldapp.runtimeconfig.json` and change version line to `"version": "6.0.0-dev"`.

Copy mypublishdir to Haiku system and run `mono-sgen mypublishdir/helloworldapp.dll`.

It may emit a huge diagnostics and fail, but that's not the

[2021-07-20 22:51] JamesNK commented on #55898
I agree it isn't common, the question is how many people is 0.1%? 😬

I updated gRPC to use `Headers.NonValidated` and the issue has disappeared: https://github.com/JamesNK/grpc-dotnet/commit/7420200e6930a1c6bbe1d19db9148975a412ac10

[2021-07-20 22:56] JimBobSquarePants commented on #48615
Any performance issues for ImageSharp on the PI are platform issues not issues with the library.

[2021-07-20 23:01] stephentoub commented on #55898
It's not that it's not common,  it's that it's incorrect. Lots of things mutate on read, anything lazily initialized (which is effectively what this is), and the type simply isn't thread safe, never has been. If we were to add the lock (which doesn't actually make the type thread-safe),  it would be to mitigate buggy consuming code like that in gRPC.

[2021-07-20 23:02] AndyAyersMS commented on #53549
Looks like this is a bug in the GDV expansion for a call returning a struct value that is the payload of a box. Normally we'd allocate the box object and then make the call, but with GDV we can end up making the call first.

More details forthcoming...

[2021-07-20 23:03] sandreenko commented on #56053
My understanding is that we want to use `GT_CAST` for all cases and check diffs to see that the generated code for `int<-long` is just changing register from `rax` to `eax` like C++ does.

[2021-07-20 23:23] eerhardt opened #56058 "Consume PosixSignal in Microsoft.Extensions.Hosting.Systemd's SystemdLifetime"
Same change as https://github.com/dotnet/runtime/issues/55417, but we should make it for Systemd.

https://github.com/dotnet/runtime/blob/d38a5396608240a6426668238e06056c69b85c50/src/libraries/Microsoft.Extensions.Hosting.Systemd/src/SystemdLifetime.cs#L48-L78

We should also figure out how to add real tests, as I don't believe there are any tests for this library, yet. The only test we have:

htt

[2021-07-20 23:25] eerhardt commented on #56058
cc @tmds

[2021-07-20 23:25] janvorli commented on #46456
Closing as this work is done. The only remaining related work is to create matching changes in the managed clone of the ArgIterator and TransitionBlock in CG2.

[2021-07-20 23:25] #46456 closed

[2021-07-20 23:41] Maoni0 commented on #49424
@d-schneider while reviewing my instrumentation change [#55888](https://github.com/dotnet/runtime/pull/55888), @noahfalk brought up something that I hadn't thought of and wanted to check with you. in my PR I made the alloc tick threshold configurable via a runtime config (which can also be set as an env var), but he pointed out that it may not produce desirable effect for you because a profiler wo

[2021-07-20 23:45] stephentoub commented on #55898
Can you elaborate on why gRPC ends up consuming the headers concurrently? I'm glad you're using NonValidated; it's better for perf.  But technically it has the same issue,  and the fact that it works concurrently today is an implementation detail we don't actually guarantee.  We could choose to document it as such,  but I'm hesitant to do so as it can back us into a corner.

[2021-07-20 23:46] jessicah commented on #55803
Hmm, running `mono-sgen` gives:

`* Assertion at /home/jessi/source/dotnet-runtime/src/mono/mono/metadata/assembly.c:3087, condition 'corlib' not met`

Seems like it doesn't know where to look for the dlls. Tried setting MONO_PATH to various values, but no dice.

I'll look into using the `location_toolchain_exec` next, might help avoid installing symlinks in `/usr/bin`, since clang doesn't really

[2021-07-20 23:51] mangod9 commented on #854
Closing since cgroup2 support is now enabled.

[2021-07-20 23:51] #854 closed

[2021-07-20 23:51] kg commented on #55833
It came back, and rebasing onto latest main didn't fix it. I nuked artifacts, nuked ~/.nuget, nuked .dotnet, and did git clean -xffd. Any ideas?

[2021-07-20 23:52] mangod9 commented on #47902
Closing the issue for now, please reactivate if the behavior persists for certain scenarios.

[2021-07-20 23:52] #47902 closed

[2021-07-20 23:54] mangod9 commented on #51322
Hi @kouvel, believe you had done some investigation for snap -- does this issue still exist in 6?

[2021-07-20 23:56] mangod9 commented on #48783
@janvorli please check if any of these need to be re-enabled.

[2021-07-20 23:58] mangod9 commented on #43599
Can this be closed or is any work required on the runtime side for this?

[2021-07-21 00:04] mangod9 commented on #40704
This will not make 6.0. There are some OS restrictions to make this work in different assembly contexts.

[2021-07-21 00:05] mangod9 commented on #45561
Closing since this hasnt repro-ed in a while.

[2021-07-21 00:05] #45561 closed

[2021-07-21 00:23] davidwrighton commented on #32724
This was fixed with #40096

[2021-07-21 00:23] #32724 closed

[2021-07-21 00:23] echesakovMSFT commented on #43599
@mangod9 AFACT, this can be closed. I moved coredistools to dotnet/jitutils and pushed the packages to a feed. Not sure what is left remaining.

[2021-07-21 00:23] JimBobSquarePants commented on #48615
This issue feels like a rehash of https://github.com/dotnet/runtime/issues/32418 but with reduce API scope and individual types over a general type..

I stand by my comment there. This won't be useful for existing libraries working in this space as they already have those types with tweaks to match their own requirements.
https://github.com/dotnet/runtime/issues/32418#issuecomment-595710924

[2021-07-21 00:23] davidwrighton commented on #35423
Moving to 7.0 This is a feature request.

[2021-07-21 00:36] davidwrighton commented on #42429
The issue with out of bounds ibc data tokens has been fixed for some time. The armel failure is unrelated.

[2021-07-21 00:36] #42429 closed

[2021-07-21 00:48] AndyAyersMS commented on #53549
Here's a simple repro.
[code]
When H is recompiled at Tier1, GDV kicks in, and we end up with bad code:
[code]
and hence an exception
[code]

[2021-07-21 00:56] tannergooding commented on #48615
The main benefit is the same as `Vector2/3/4` and other types in the `System.Numerics` namespace:
1. They represent an interchange type at the lowest levels and so can be used to interchange between higher level libraries with their own types.
2. They provide a minimal set of APIs that might be expected for these "primitive" concepts.
3. They can provide hardware acceleration and other benefits th

[2021-07-21 01:02] geoffkizer commented on #55508
I suspect this is related to https://github.com/dotnet/runtime/issues/55025

The loopback server doesn't ever close the connection today. But it could be getting finalized, which seems like it could manifest as above.

If the loopback server waited for graceful shutdown, it would solve that.

[2021-07-21 01:05] tannergooding commented on #48615
and as always, thanks for the input here James.

ImageSharp is a major library and you have a lot of experience in this space. I do agree that there is a lot of scope creep that could happen and I explicitly do not want that here.

ImageSharp is and should continue to be the goto for more advanced scenarios and when you want to do actual/powerful image processing, color space conversions, and tran

[2021-07-21 01:15] paul1956 opened #56066 "Setting do not work on NEW VB .Net 5 Winforms application"
* .NET Core Version:  What I have installed is below
[code]

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Create a new VB WinForm App, that will read settings, add settings, run app and application will crash as below.

![image](https://user-images.githubusercontent.com/12789369/119243280-20470080-bb1a-11eb-9bcc-4c95a6dd18f3.png)
[code]

**Expected behavi

[2021-07-21 01:16] RussKie commented on #56066
This issue is blocking migration scenarios.

[2021-07-21 01:17] AriNuer commented on #55167
Failed again in [runtime 20210720.80](https://dev.azure.com/dnceng/public/_build/results?buildId=1249365&view=ms.vss-test-web.build-test-results-tab&runId=37103858&resultId=168072&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-21 01:31] JamesNK commented on #55898
The gRPC client needs to validate headers before providing the result (i.e. is the content-type `application/grpc`), and also give access to response headers.

e.g.
[code]

There are some other reasons as well.

I'll see if there is a clean way to lock access to the headers connection. It is used in quite a few places.

[2021-07-21 01:38] AriNuer commented on #54260
Failed again in [runtime-libraries-coreclr outerloop 20210720.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1248051&view=ms.vss-test-web.build-test-results-tab&runId=37073226&resultId=101876&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-21 01:46] mangod9 commented on #43599
Ok thanks for confirming. Closing for now.

[2021-07-21 01:46] #43599 closed

[2021-07-21 01:48] #30122 closed

[2021-07-21 01:49] stephentoub commented on #55167
That's https://github.com/dotnet/runtime/issues/53957 rather than this issue.

[2021-07-21 02:02] VincentBu opened #56067 "Failure test:System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http3_Mock.SendMoreThanStreamLimitRequests_Succeeds"
Run [runtime 20210720.8](https://dev.azure.com/dnceng/public/_build/results?buildId=1249365&view=ms.vss-test-web.build-test-results-tab&runId=37103488&resultId=192517&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-21 02:04] mangod9 commented on #44054
this seems an old issue which doesnt repro.

[2021-07-21 02:04] #44054 closed

[2021-07-21 02:06] stephentoub commented on #56018
https://github.com/dotnet/runtime/pull/51508 was reverted.  Presumably/hopefully this will go away as well.

[2021-07-21 02:07] VincentBu opened #56069 "Failure test:SampleSynthesisTests.SynthesizeRecognizeTests.SpeechRecognitionEngineProperties"
Run [runtime-coreclr libraries-jitstress 20210720.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1247804&view=ms.vss-test-web.build-test-results-tab&runId=37066102&resultId=167287&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-21 02:10] safern commented on #56066
cc @dotnet/area-system-configuration

[2021-07-21 02:15] mangod9 commented on #35489
Closing since crossgen is no longer used. Assume this is not an issue in crossgen2, please reactivate if it is.

[2021-07-21 02:15] #35489 closed

[2021-07-21 02:16] mangod9 commented on #40100
Moving this to 7.

[2021-07-21 02:22] mangod9 commented on #43312
Doesnt seem like there is any work required as part of this is there?

[2021-07-21 02:24] mangod9 commented on #45517
Closing for now

[2021-07-21 02:24] #45517 closed

[2021-07-21 02:27] mangod9 commented on #42791
Doesnt look like this has shown up in a while.

[2021-07-21 02:27] #42791 closed

[2021-07-21 02:28] stephentoub commented on #56067
Dup of https://github.com/dotnet/runtime/issues/55957

[2021-07-21 02:28] #56067 closed

[2021-07-21 02:29] stephentoub commented on #56014
cc: @StephenMolloy

[2021-07-21 02:30] stephentoub commented on #56016
Closing as expected / by-design. Thanks.

[2021-07-21 02:30] #56016 closed

[2021-07-21 02:34] stephentoub commented on #30598
This doesn't exist in this repo anymore.

[2021-07-21 02:34] #30598 closed

[2021-07-21 02:38] MichaelSimons commented on #45417
This is currently blocking .NET 6.0 source-build therefore changing the priority.

[2021-07-21 02:40] stephentoub commented on #44733
Doesn't seem to be a good way to address this.  Closing.

[2021-07-21 02:40] #44733 closed

[2021-07-21 03:36] hoyosjs commented on #55833
hmm this comes from the dependency closure validation in https://github.com/dotnet/arcade/blame/89806f0b9e93ad2bbe32c654412835c0801a2032/src/Microsoft.DotNet.Build.Tasks.Packaging/src/VerifyClosure.cs#L209
@ericstj, maybe you might have some clues on where to look?

[2021-07-21 03:47] kg commented on #55833
It started working again mysteriously an hour or two ago, but I didn't change anything that I think should've caused it to start working again.

[2021-07-21 04:04] buyaa-n commented on #50528
That is right, removed HMAC related APIs, but others looks valid

[2021-07-21 04:17] ericstj commented on #55833
The error indicates that those assemblies are  missing from the shared framework directory which is a real problem (assuming it’s correct). Did you see the exact same errors?  Is it possible there were earlier build failures that you missed? Share a binlog if you repro and we can have a look.

[2021-07-21 04:22] kg commented on #55833
Good point, I regret not saving a binlog any of these previous times.

I'm using the ```runtime/.dotnet/``` automatically provisioned by the infrastructure and I purged it by hand. Likewise that .nuget in my home dir was purged too.

The errors were exactly the same (including the set of assemblies) every time it happened, and it would happen repeatedly if I re-ran the build. I'm still not sure wh

[2021-07-21 04:51] davidfowl opened #56072 "Additional diagnostics for .NET 6"
The goal is to help customers better understand how their applications are running by adding events and counters that can give more insights and will help them debug potential performance issues. It'll also help us debug customer applications and write tools that would be able to glean insights from traces.

## Runtime
- [ ] What is the thread pool configuration? Many of our customers set a high n

[2021-07-21 05:47] swmichel commented on #55911
Are there instructions how they built without having pre-built binaries?

[2021-07-21 05:48] kunalspathak commented on #37079
Rematerialization related tracking issue - https://github.com/dotnet/runtime/issues/6264

[2021-07-21 05:59] danmoseley commented on #56072
@ericstj @karelz @jeffhandley

[2021-07-21 06:11] RussKie commented on #48615
I'm finding the chosen placement confusing. If we're saying this change is targeting Windows Desktop interop scenarios, then we should place it in System.Drawing.Common, since it is only targeting Windows (https://github.com/dotnet/designs/pull/234).

[2021-07-21 06:15] #50942 closed

[2021-07-21 06:19] danmoseley commented on #56069
@BruceForstall  is this stress mode likely to make OOM more likely?

[2021-07-21 07:07] MaximLipnin commented on #55823
It's not a regression, `System.Runtime.Experimental.Tests` are quite new and have been introduced recently in https://github.com/dotnet/runtime/pull/55678. There is also WASM-related issue - https://github.com/dotnet/runtime/issues/55767 and I believe that iOS has a problem here as well.

[2021-07-21 07:07] marcocecchiscmgroup commented on #56006
I can confirm, without even checking, that we build our C# projects
specifically 32/64-bit 'native', as we want to closely match the
architecture of all the underlying unmanaged dependencies. This many
years now. Architecture/platform differences have been normalized
already at the time of the 64-bit porting.
What I was reporting is about a 64-bit process running on an Intel
x86_64. Same test, sam

[2021-07-21 07:35] noahfalk commented on #49422
We haven't connected this to any end-user performance problem and the short lived pinning is by design, closing this issue.

[2021-07-21 07:35] #49422 closed

[2021-07-21 07:40] noahfalk commented on #52358
@janvorli - since @sdmaclea has left are you the main one investigating Apple Silicon issues? Based on discussion above it appears this issue is unlikely a bug in the EventSource library. I'm going to move it to 7.0 for now and you can feel free to move it wherever else it should go or send it back if I've got it wrong : )

[2021-07-21 07:48] noahfalk commented on #49410
@benaadams - I see this has gone quiet for a few months, were you still pursuing this? I got the impression you and @josalem were trying to pursue source generators instead so maybe this was moot?

[2021-07-21 07:51] noahfalk commented on #51399
Does this issue have an owner? If not I am going to assume it won't get fixed in the next few weeks and needs to be punted to 7.0

[2021-07-21 07:53] noahfalk commented on #51376
Does this issue have an owner? If not I am going to assume it won't get fixed in the next few weeks and needs to be punted to 7.0

[2021-07-21 07:56] MaximLipnin opened #56073 "[iOS/tvOS/MacCatalyst] Test failures in System.Diagnostics.Tracing.Tests"
- BasicEventSourceTests.ActivityTracking.StartStopCreatesActivity
[code]
- BasicEventSourceTests.ActivityTracking.ActivityFlowsAsync
[code]
- BasicEventSourceTests.ActivityTracking.SetCurrentActivityIdBeforeEventFlowsAsync
[code]
- BasicEventSourceTests.ActivityTracking.SetCurrentActivityIdAfterEventDoesNotFlowAsync
[code]

cc @steveisok

[2021-07-21 08:00] noahfalk commented on #51429
I concluded we shouldn't make behavioral changes here for 6.0, instead we should pursue doc changes. Updating the title accordingly. Thanks for the timely and helpful info @KalleOlaviNiemitalo : )

[2021-07-21 08:05] dorny opened #56075 "ConfigurationManager.AppSettings getter is not thread safe and multiple instances are created"
### Description

`ConfigurationManager.AppSettings` getter should return a single, cached instance.
The official [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.configuration.configurationmanager?view=net-5.0#remarks):

The actual behavior is different. If the `AppSettings` cached instance is not yet initialized and property is accessed concurrently, it can return multiple diffe

[2021-07-21 08:06] MaximLipnin commented on #56073
Those tests have been added recently in https://github.com/dotnet/runtime/pull/55625. They are skipped for WASM, I'm not sure if we want to do the same for Apple mobile platforms.

[2021-07-21 08:08] #743 closed

[2021-07-21 08:09] gbalykov commented on #12510
I can confirm that still reproduces on armel with cpu hotplug on d25af09fba6f10701c62b641227dbe62c649a890 when tests are launched in debug, for example:
[code]

[2021-07-21 08:12] MaximLipnin opened #56076 "[iOS/tvOS/MacCatalyst] Test failure: System.Drawing.Tests.ImageTests.FromFile_NullFileName_ThrowsArgumentNullException"
[code]

@steveisok

[2021-07-21 08:14] noahfalk commented on #51133
Closing based on @sdmaclea's suggestion. We'll leave the test disabled on GC-stress.

[2021-07-21 08:14] #51133 closed

[2021-07-21 08:19] GalaxiaGuy commented on #48615
As someone who does multi-platform development that mostly does not include Windows, this seems very useful to me.

[2021-07-21 08:21] noahfalk commented on #54504
Thanks @jkoritzinsky! My understanding is that we haven't been clean on CONTRACT asserts in a while for the debugger and thus far we haven't seen these issues translating into failures in retail debugging scenarios (though admitedly they could be legitimate bugs if the right circumstances are met). Triaging this out of 6.0.

[2021-07-21 08:23] MaximLipnin commented on #56076
Duplicate of https://github.com/dotnet/runtime/issues/56048

[2021-07-21 08:23] #56076 closed

[2021-07-21 08:26] #1710 closed

[2021-07-21 08:35] lateralusX commented on #51399
Looking at that test it seems to fail since it won't be able to locate a .pdb file in the same directory as the test assembly. I assume .pdb files are not included in the app bundles used during test runs on mobile devices, @steveisok? If that is the case then I believe we can either start to include them into the bundle to make test like this work, but since it doesn't look like its failing due t

[2021-07-21 08:40] janvorli commented on #52358
@noahfalk, this is most likely yet another dup of a known spurious null reference issue, closing it as  dup of #51250

[2021-07-21 08:40] #52358 closed

[2021-07-21 09:29] #55253 closed

[2021-07-21 09:43] adamsitnik commented on #40803
@tarekgh  I don't plan to do that in the near future

[2021-07-21 09:59] karelz commented on #55957
Test disabled for Mock only in PR #56064

[2021-07-21 10:12] karelz commented on #1581
Test disabled in PR #56041

[2021-07-21 10:17] MihaZupan commented on #48885
Not yet added:

- [ ] Number of unique DNS requests currently in flight
- [ ] Number of unique DNS addresses resolved in an application’s lifetime (from #56072)

[2021-07-21 10:29] jessicah commented on #55803
Well, making heaps more progress on coreclr/corehost, but now the c++ compiler has decided it doesn't know what `size_t` is. My CMake craft isn't that good, so if you have any ideas, would be great :)

Log: https://gist.github.com/jessicah/b7f48ab99909f4aaf2a8e11579a5c3b3

[2021-07-21 10:42] stephentoub commented on #56072
The existing dns-lookups-duration counter provides this.

What is a developer going to do with this information? Doing this "perfectly" would be a leak, as it would require the application to maintain a set of every address it saw; that's not viable. Events are already emitted for that information, so a dev can post-process that information from traces if needed.  https://github.com/dotnet/runtime

[2021-07-21 10:45] am11 opened #56079 "Relationship between FEATURE_EVENT_TRACE and FEATURE_EVENTSOURCE_XPLAT"
There are three related (but maybe not related?) macros:

* FEATURE_EVENT_TRACE
* FEATURE_PERFTRACING
* FEATURE_EVENTSOURCE_XPLAT

Is there a situation where we want them to be mutually exclusive? If not, we can use just FEATURE_EVENT_TRACE at least in the native build (starting with clrdefinitions), in order to align with cross toolchains setup, e.g. https://github.com/dotnet/arcade/blob/89806f0b

[2021-07-21 10:48] am11 commented on #56079
cc @sywhang, @josalem

It has broken again for all non-Linux and non-OSX platforms. The build does not fail (since we have no benign build-time validation check for it), and it causes a cryptic missing ecall assertion failur on run-time (id != 0 without the method name) with debug artifacts, and sigsegv with release ones.

I have a fix for it, but I wanted to confirm if we really want to carry thr

[2021-07-21 10:58] eiriktsarpalis commented on #56055
Hi @tpeczek, thanks for reporting this issue. It's a regression introduced by https://github.com/dotnet/runtime/pull/51702. I have submitted #56080 that should fix the bug.

[2021-07-21 11:00] karelz commented on #56072
@davidfowl

I agree with @stephentoub here. Let's move the final discussion into #48885 and let's decide there if we want current vs. all-lifetime, how useful it is and if it needs to land in 6.0 vs. Future.

BTW: I updated the first Networking item with answer inline in the top post for easier tracking.

[2021-07-21 11:02] MaximLipnin commented on #56048
`System.Drawing.Tests.ImageTests.FromFile_LongSegment_ThrowsException` is failing as well.

[2021-07-21 11:07] karelz commented on #48885
Taking the discussion from https://github.com/dotnet/runtime/issues/56072#issuecomment-884088498 here:

We should answer:
1. Do we want current vs. app-lifetime counter?
2. How is it useful to end users?
3. Is it important for 6.0?

@davidfowl can you respond here please to @stephentoub's comment above?

[2021-07-21 11:10] hrrrrustic opened #56082 "[API Proposal]: Make DependencyModel.Dependency readonly and implement IEquatable<>"
### Background and motivation

Similar to #31996 and #2127

The current implementation looks like
[code]
So, all required members for IEquatable<> exist and properties aren't settable

### API Proposal

[code]
The main point here is that nothing will be changed in the implementation as it already satisfied for these changes

### API Usage

There are already some usages in HashSet<> where new `Equa

[2021-07-21 11:28] trylek commented on #52483
I have verified this no longer reproes, closing. Thanks Andy for your extensive help with the issue!

[2021-07-21 11:28] #52483 closed

[2021-07-21 11:28] eiriktsarpalis commented on #48816
Taken from #56036

[2021-07-21 11:30] eiriktsarpalis commented on #56036
Hey @DuncanStone, to avoid fragmenting the conversation I'll be reopening #48816.

[2021-07-21 11:30] #56036 closed

[2021-07-21 11:35] MaximLipnin opened #56084 "[MacCatalyst] Test failures in System.Tests.OperatingSystemTests"
[code]

Perhaps, more details in https://github.com/dotnet/runtime/pull/55550

@steveisok

[2021-07-21 11:36] tpeczek commented on #56055
Hi @eiriktsarpalis , thank you for taking a look at this. My only two questions would be if there is a chance that fix is going to make it into Preview 7, and are there past previews which have the correct behavior?

[2021-07-21 11:43] eiriktsarpalis commented on #56055
Once merged the fix would be committed to the RC1 branch and not Preview 7. I believe preview4 might not incorporate the regression although that release is no longer supported.

[2021-07-21 11:47] stephentoub commented on #55898
It can't validate them as part of giving access to them?

[2021-07-21 11:49] tpeczek commented on #56055
Thank you!

[2021-07-21 11:52] MaximLipnin opened #56085 "[MacCatalyst] App crash in System.Text.Json.SourceGeneration.Tests"
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-56074-merge-3683c1d883c447d980/System.Text.Json.SourceGeneration.Tests/console.dd4fdc70.log?sv=2019-07-07&se=2021-08-10T10%3A25%3A24Z&sr=c&sp=rl&sig=Juu4DaIYlZxqCYt7nOUC0oPOYZbUKEJDhFJsxqzb2%2Bg%3D

Perhaps, more details in https://github.com/dotnet/runtime/pull/55566

cc @steveisok

[2021-07-21 12:17] benaadams commented on #49410
Think it could possibility be breaking and source generators would reduce the cost; as would VS not listening to verbose events machine wide, which I think was a different issue

[2021-07-21 12:17] #49410 closed

[2021-07-21 12:20] eiriktsarpalis commented on #48816
This is by design. The serializer is not "generating empty, fake data", it is simply not populating members not matching any properties in the underlying JSON. The data you are seeing in the deserialization are in fact the `default` values for `Guid`, `int` and `DateTime`: NB these are not values inserted arbitrarily by the serializer, they are an artifact of how the properties of your `Session` c

[2021-07-21 12:38] karelz commented on #55053
Test disabled on Linux in PR #56002

[2021-07-21 12:46] karelz commented on #55961
@filipnavara will you be able to put up a PR?
We should scope it to new regressions against 5.0 at this moment.

[2021-07-21 12:47] karelz commented on #55896
Duplicate of #55898

[2021-07-21 12:55] stephentoub commented on #55891
Another option to consider:
Make Task implement IValueTaskSource. We'd still have the one field,  but strongly-typed as IValueTaskSource. This would make the IVTS case faster,  as it would remove the type check.  It would also remove the type check for Task, but add multiple interface dispatch. But potentially if the ValueTask methods were inlined, guarded devirtualization at a given call site wou

[2021-07-21 13:00] filipnavara commented on #55961
I'm somewhat busy at the moment but I'll try to PR it tomorrow.

[2021-07-21 13:08] karelz opened #56087 "Test failure: TestLoopbackAsync"
Test classes affected:
- `System.Net.Http.Functional.Tests.SocksProxyTest_Http1_Sync`
- `System.Net.Http.Functional.Tests.SocksProxyTest_Http1_Async`
- `System.Net.Http.Functional.Tests.SocksProxyTest_Http2`

Failed tests 5/21-9/3 (incl. PRs):

Day | Run | OS | Test type | Failure
-- | -- | -- | -- | --
6/24 | PR #54676 | Debian.10.Amd64.Open | SocksProxyTest_Http1_Sync |
6/26 | PR #54636 | Debian

[2021-07-21 13:08] cw2 commented on #55628
I am willing to clean that up, but I don't know exactly what can be removed... for example, `XunitTestReportDirBase` is used at https://github.com/dotnet/runtime/blob/913facdca8b04cc674163e31a7650ef6868a7d5b/src/tests/run.proj#L215 `XunitTestBinBase` is referenced from multiple locations including https://github.com/dotnet/runtime/blob/913facdca8b04cc674163e31a7650ef6868a7d5b/src/coreclr/tools/r2r

[2021-07-21 13:09] karelz commented on #56087
@geoffkizer @MihaZupan could it be related to some of the last-minute Preview 7 features? E.g. ConnectionPool changes?

[2021-07-21 13:22] jonathanpeppers opened #56089 "Android HttpClientHandler throws wrong exception type"
### Description

Code such as this should throw a `ArgumentOutOfRangeException`:

[code]

We have some tests checking this, and they throw `TargetInvocationException` instead:

[code]

We might need exception handling here to throw the inner exception if it hits a `TargetInvocationException`:

https://github.com/dotnet/runtime/blob/07336810acf3b4e7bdd0fb7da87b54920ea9c382/src/libraries/System.Net.

[2021-07-21 13:22] karelz commented on #55901
Disabled in PR #55912 on 7/19

[2021-07-21 13:32] karelz opened #56090 "[HTTP/3] MsQuic tests failed massively"
This has impact on many tests in:

System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http3_MsQuic
System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_HttpClientHandlerTest_Headers_Http3_MsQuic
System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_HttpClientHandlerTest_Http3_MsQuic
System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_AltSvc_Test_Http3_MsQuic
System.Net.

[2021-07-21 13:33] radical commented on #56033
Can this be closed now?

[2021-07-21 13:35] karelz commented on #56090
@wfurt looks like regression from your PR #55877
cc @ManickaP

[2021-07-21 13:36] eiriktsarpalis commented on #52534
I'm going to close the issue as by-design. Assuming the WebAssembly host builder is lacking functionality to specify a custom `JsonSerializerOptions` instance, I would recommend filing a separate issue in the aspnetcore repo.

[2021-07-21 13:36] #52534 closed

[2021-07-21 13:42] jakobbotsch opened #56091 "Inliner sometimes needs to insert casts even for widenings"
As @SingleAccretion points out in https://github.com/dotnet/runtime/issues/55143#issuecomment-873676119, the JIT does not insert widening casts when inlining. In particular, when changing signedness this is necessary. Seems this cannot be hit in C# since the following situation requires an explicit cast there, but here's an example using [InlineIL.Fody](https://github.com/ltrzesniewski/InlineIL.Fo

[2021-07-21 13:42] MaximLipnin commented on #56045
Closing it as a duplicate in favor of https://github.com/dotnet/runtime/issues/56073

[2021-07-21 13:42] #56045 closed

[2021-07-21 13:45] MaximLipnin commented on #56049
The same failure as in https://github.com/dotnet/runtime/issues/56048

[2021-07-21 13:49] jeffschwMSFT commented on #56072
@mangod9

[2021-07-21 13:58] karelz commented on #55931
Test disabled in PR #55932 on 7/20

[2021-07-21 14:04] steveisok commented on #56073
@MaximLipnin Can you check to see what the value is for `<EventSourceSupport>` ?

[2021-07-21 14:09] ManickaP commented on #56090
And we missed this on the PR because the whole test lib was failing, not getting any results from the run :cry:
Give me half an hour, I'll try to fix this, if not, we'll revert and let @wfurt deal with it properly.

[2021-07-21 14:10] karelz commented on #56090
This has impact on many more tests in:
- System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http3_MsQuic
- System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_HttpClientHandlerTest_Headers_Http3_MsQuic
- System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_HttpClientHandlerTest_Http3_MsQuic
- System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_AltSvc_Test_Http3_MsQuic

[2021-07-21 14:27] alpencolt commented on #55521
@janvorli btw as I see clang11 is last supported version. Are there plans for adding clang12 support?

[2021-07-21 14:29] eerhardt commented on #56082
Thanks for the suggestion. Seems reasonable to me.

[2021-07-21 14:32] janvorli commented on #55521
@alpencolt yes, I'd like to support the latest clang releases. I haven't monitored the llvm releases recently, so I've missed the fact that there is a version 12 already. Have you tried it and found issues with it?

[2021-07-21 14:36] MaximLipnin commented on #56073
@steveisok Something close to the mobile targets is https://github.com/dotnet/runtime/blob/main/eng/testing/tests.mobile.targets#L26 but we don't set EAT for the staging lanes so perhaps `EventSourceSupport` is not set

[2021-07-21 14:37] danmoseley commented on #48885
There are ways to get a statistical estimate of the number of unique addresses with quite limited storage.

https://stats.stackexchange.com/questions/19014/how-can-i-estimate-unique-occurrence-counts-from-a-random-sampling-of-data

https://en.wikipedia.org/wiki/HyperLogLog?wprov=sfti1

Etc

[2021-07-21 14:45] alpencolt commented on #55521
It seems it was released in April. We haven't tried it yet but want to update our toolchain and I check which version fits more.
If you're ok with using latest one we can check clang12 on ARM close to autumn.

[2021-07-21 14:47] janvorli commented on #55521
Usually moving to a new version just works. In some cases, it caused build breaks in the past that we needed to fix.

[2021-07-21 14:51] #45623 closed

[2021-07-21 14:53] eiriktsarpalis commented on #52313
cc @AndyAyersMS

[2021-07-21 14:54] lateralusX commented on #56073
Do we build with diagnostics tracing component support enabled when running tests on mobile? Link or deploy needed components? I guess this tests will end up in ves_icall_System_Diagnostics_Tracing_EventPipeInternal_EventActivityIdControl and if we don't have component support loaded that will be a nop operation so won't set thread activity ID and that will trigger the assert in this test.

[2021-07-21 14:56] MihaZupan opened #56096 "Dns telemetry should include time spent in async-over-sync queue"
In 6.0, #49171 added a per-host queue for async-over-sync Dns requests.
With that, the timing of `ResolutionStart/Stop` `EventSource` events changed.

For all other requests, the behavior is such that `Start`/`Stop` effectively wrap the entire time spent inside a `Dns.Foo` call.
For requests that hit the new queue, `Start` will only fire once the request is dequeued.
In E2E scenarios, this may man

[2021-07-21 14:59] danmoseley commented on #52313
Thanks @alexcovington

[2021-07-21 15:00] am11 commented on #55803
Error is coming from system header. Looks like string.h is missing or some macro definition in cmake which controls including string.h in system headers.

I tried build-rootfs from haiku branch, but it is failing with:

[code]

does haiku/configure require some patch to support --sysroot option?

[2021-07-21 15:01] eiriktsarpalis commented on #55252
Likely. [Recent test history](https://dev.azure.com/dnceng/public/_build/results?buildId=1250341&view=ms.vss-test-web.build-test-results-tab&runId=37126526&resultId=169622&paneView=history) indicates no recurring failures.

[2021-07-21 15:01] #55252 closed

[2021-07-21 15:01] steveisok commented on #56073
I don't think we do.  We probably should skip these for the time being.

[2021-07-21 15:02] eiriktsarpalis commented on #55234
I'm going to close this for now since it's been inactive for a while, but feel free to reopen when you can provide us with a code sample.

[2021-07-21 15:02] #55234 closed

[2021-07-21 15:12] eiriktsarpalis commented on #54193
Moving to future, we could perhaps look in to providing an API based on @GrabYourPitchforks's sketch design.

[2021-07-21 15:15] alnikola commented on #43405
Duplicate of #45204

[2021-07-21 15:15] #43405 closed

[2021-07-21 15:18] eiriktsarpalis commented on #52408
Hi @Fydar, and thanks for writing such a detailed proposal. Superficially this seems like a reasonable change to me, although I defer to @GrabYourPitchforks, @layomia and @ahsonkhan who might be more aware of potential pitfalls.

[2021-07-21 15:22] eiriktsarpalis commented on #51353
@GrabYourPitchforks fair to assume we're punting this for a post .NET 6 release?

[2021-07-21 15:26] fitdev opened #56702 "Very sluggish VS 2019 and VS 2022 performance starting with DotNet 6 Preview 5 related to Source Generators"
**Version Used**:
Latest Official DotNet 6 Preview 6
Latest VS previews: VS 2019 16.11 Preview 3 and VS 2022 Preview 2
C#: 10 (`<LangVersion>preview</LangVersion>`, including `global using`s in a few places)

**Steps to Reproduce**:
VS typing performance quickly degrades (hangs, up to several seconds pauses between characters typing, etc.) after working with several `cs` files for like 20 minutes

[2021-07-21 15:39] nmuench opened #56160 "CLI Unknown Option: --runtimeconfig"
When attempting to use the runtime option --runtimeconfig in order to provide an [application].runtimeconfig.json file to be used when running a dll, the console throws an error that says the option is unkown.

`Unknown option: --runtimeconfig
.NET SDK (5.0.301)
Usage: dotnet [runtime-options] [path-to-application] [arguments]

Execute a .NET application.

runtime-options:
  --additionalprobingpat

[2021-07-21 15:47] stephentoub commented on #56011
@DrewScoggins, as we talked about yesterday, the Perf_DateTimeCultureInfo and Perf_DateTime sections here are erroneous and should be removed, yes?

[2021-07-21 15:48] eiriktsarpalis commented on #53154
Placing the method on the builder seems like a more reasonable choice, however there is also the alternative of using a [`CollectionsMarshall.AsSpan`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.collectionsmarshal.asspan?view=net-5.0)-like approach.

Related to #22928.

[2021-07-21 15:51] antonfirsov opened #56099 "Static Socket.ConnectAsync can not connect to a DnsEndPoint containing IPv6-mapped address string"
The following DualMode `ConnectAsync` code works as expected:

[code]

while "equivalent" `Socket.ConnectAsync(AddressFamily,SocketType,SocketAsyncEventArgs)` connect code fails on both Windows and Linux:

[code]

The reason is that the internal implementation [is creating a non-dual-mode socket](https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.N

[2021-07-21 15:54] AndyAyersMS commented on #55891
Yes, seems like GDV would work well in this case, though it effectively does an (exact) type check under the covers.

@EgorBo has been looking into extending class profiling to cover user written type tests; with that it seems possible that the current code patterns could be similarly optimized.

[2021-07-21 15:55] AndyAyersMS commented on #53549
cc @EgorBo in case you're interested or have run across this ... still looking for a fix that does not require losing some GDV.

[2021-07-21 15:56] karelz commented on #56099
@antonfirsov how did you discover it? Is it a regression against 5.0?
I know we made changes in the space during 6.0 ...

[2021-07-21 15:58] BruceForstall commented on #56069
Seems very unlikely

[2021-07-21 15:59] eiriktsarpalis commented on #52702
I think there are very clear ergonomic and discoverability issues with such an approach, so it's unlikely it would benefit most users. It also remains to be seen what the performance benefits of such an addition might be.

I'd therefore be inclined to close this, unfortunately the best solution also happens to be a binary breaking change.

[2021-07-21 15:59] #52702 closed

[2021-07-21 16:00] alnikola commented on #55261
Client logs show that these HTTP/2 POST tests are failing only on Windows and only with timeout in one of the following 2 places:
1. [Http2Stream.WaitForDataAsync](https://github.com/dotnet/runtime/blob/1d8ad03abb72fe79c44030f2806a0109a7909d25/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L1375)
2. [Http2Stream.WaitFor100ContinueAsync](https://github.com/dotne

[2021-07-21 16:00] alnikola commented on #55261
My first guess would be that the server hasn't responded in the given time.

[2021-07-21 16:04] eiriktsarpalis commented on #52110
Issue has stagnated for a while, closing. Feel free to reopen whenever you find the time to revisit.

[2021-07-21 16:04] #52110 closed

[2021-07-21 16:06] eiriktsarpalis commented on #51931
Closing as duplicate of #51537.

[2021-07-21 16:06] #51931 closed

[2021-07-21 16:07] CarnaViire commented on #55013
@lkelley-bec unfortunately I was unable to reproduce that neither on Windows nor on Linux... Could you please share the dump of the process when deadlock happens?

[2021-07-21 16:17] steveisok commented on #53682
Since this happens under fullaot, the priority is pretty low.

[2021-07-21 16:18] antonfirsov commented on #56099
This is an ancient issue in the Socket class, present in all previous .NET Core versions and .NET Framework. It stopped impacting SocketsHttpHandler since 5.0, because we are using DualMode sockets  now instead of the static ConnectAsync method.

[2021-07-21 16:18] #53873 closed

[2021-07-21 16:19] rolfbjarne opened #56100 "iOS: building with LLVM causes some exception catch clauses to not work"
### Description

See the following test code: https://gist.github.com/rolfbjarne/f5c1a3697343c5e9bb6cb8e5b796d328#file-appdelegate-cs-L23-L73

When executed on an iOS device (AOT compiled), this produces the following output:

[code]

if I enable LLVM, the following happens:

[code]

It's a rather strange bug, because in my original test it doesn't crash this way, the `SelectHostName` code causes

[2021-07-21 16:19] steveisok commented on #49179
Fixed by https://github.com/dotnet/runtime/pull/55753

[2021-07-21 16:19] #49179 closed

[2021-07-21 16:20] rolfbjarne commented on #56100
CC @SamMonoRT @lambdageek

[2021-07-21 16:21] danmoseley commented on #56069
It has only failed once in 2 months. Not enough to investigate. Please reactivate if this happens again.

[code]

|JobId|WorkItemId|EventId|JobName|WorkItemName|WorkItemFriendlyName|Type|Method|ArgumentHash|Arguments|Result|Duration|Exception|Message|StackTrace|Traits|Reason|Attempt|AzurePipelinesTestRunId|AzurePipelinesTestResultId|JobId1|WorkItemId1|JobName1|Name|FriendlyName|Status|PassCount|Fa

[2021-07-21 16:21] #56069 closed

[2021-07-21 16:28] wfurt commented on #56090
thanks @karel. I saw and fix the crash but did not let enough time for another run & sync. So one failure coverage other.

[2021-07-21 16:28] danmoseley commented on #50782
We should only have one area label.

[2021-07-21 16:30] danmoseley commented on #43610
Correcting label. @tommcdon a suggestion from Bing.

[2021-07-21 16:34] karelz commented on #56099
OK, moving it to 7.0 in that case.

[2021-07-21 16:36] hoyosjs commented on #55996
This was the know AzDO feeds outage. Closing.

[2021-07-21 16:36] #55996 closed

[2021-07-21 16:36] 23W commented on #48123
I saw the same bug in .Net Framework on Windows 10 (target framework is 4.6.2).
@karelz
Do you have some news about fixing the bug?

[2021-07-21 16:39] #41867 closed

[2021-07-21 16:39] karelz commented on #48123
@23W let's not mix .NET Framework here. We do not track those bugs in this repo and also, the implementation is ENTIRELY different -- relying on OS native implementation.

This particular bug on .NET Core is not addressed yet and does not have ETA. Are you hitting it on .NET Core also?

[2021-07-21 16:42] ericstj commented on #55952
I did this: https://www.nuget.org/packages/Microsoft.Windows.Compatibility/6.0.0-preview.6.21352.13

[2021-07-21 16:42] 23W commented on #48123
@karelz
No, I meant .Net Framework only.

[2021-07-21 16:43] josalem commented on #56079
Can you direct me to one of these failures? I haven't seen anything breaking in CI. I don't believe any of these are mutually exclusive, but I would need to check `EventSource` which has some features `ifdef`'d out since it ships out of band for old frameworks. I'm not opposed to merging these into one feature flag.

CC @noahfalk

[2021-07-21 16:43] karelz commented on #48123
OK, I will hide the comments then as they are unrelated to this bug.

[2021-07-21 16:47] josalem commented on #36571
closed via #55046

[2021-07-21 16:47] #36571 closed

[2021-07-21 16:47] josalem commented on #43610
This was implemented in #55046

[2021-07-21 16:47] #43610 closed

[2021-07-21 16:47] steveisok commented on #53681
Since this is fullaot on android, the priority on this issue is low.

[2021-07-21 16:47] josalem commented on #45590
closed via #55046

[2021-07-21 16:47] #45590 closed

[2021-07-21 16:48] steveisok commented on #53679
Since this is fullaot on Android, the priority on this issue is low.

[2021-07-21 16:49] hoyosjs commented on #51182
Closing this as the build is gone, I can see no query. If we find it again we can update this. The helix docker image mentioned has been updated.

[2021-07-21 16:49] #51182 closed

[2021-07-21 16:53] Tohron opened #56101 "[Perf] SoD Regressions in emptyblazorwasmtemplate.dll, Microsoft.AspNetCore.Components.dll and Microsoft.AspNetCore.Components.Web.dll"
### Description

There have been SoD regressions in emptyblazorwasmtemplate.dll, Microsoft.AspNetCore.Components.dll and Microsoft.AspNetCore.Components.Web.dll over the past few days that merit investigation.

### Regression?

emptyblazorwasmtemplate.dll has increased by 1kB(6%), Microsoft.AspNetCore.Components.Web.dll has increased by 2kB (11%),  and Microsoft.AspNetCore.Components.dll has incre

[2021-07-21 16:55] GrabYourPitchforks commented on #51353
Yup, post-6.0. This is really the type of thing that needs to go into an early preview.

[2021-07-21 16:59] ericstj commented on #55833
Could be that some build action is removing/rebuilding the files and there is some sort of race.  I have seen things like this before when folks have an IDE open as it might trigger builds as a result of the commandline build and those race with the actual build process.  If it repros again grab a binlog and also inspect <artifacts>\bin\microsoft.netcore.app.runtime.<RID>\<Configuration>\... that

[2021-07-21 16:59] #56090 closed

[2021-07-21 17:03] steveisok commented on #55986
@rolfbjarne What we are doing with `HttpClientHandler` in iOS is mapping the properties that are implemented in `NSUrlSessionHandler` and the ones that aren't will throw PNSE.  The reason why this is different in P7 is that the properties reflected what was supported in `SocketsHttpHandler`.

I don't think any of these features the three properties reference are supported by `NSUrlSessionHandler`.

[2021-07-21 17:04] steveisok commented on #52991
@ViktorHofer I don't think this is an issue any longer?

[2021-07-21 17:04] SamMonoRT commented on #56100
@imhameed should be back in office next week and can take a look then. @vargaz - any pointers ?

[2021-07-21 17:07] kg commented on #55833
Interesting point - I have VS code open, but I don't use its build functionality so I never considered whether it could be invoking msbuild here.

[2021-07-21 17:19] wfurt commented on #55759
reverted by #56097

[2021-07-21 17:22] steveisok commented on #52882
The tests aren't going to work on catalyst and flagged as being skipped.

[2021-07-21 17:22] #52882 closed

[2021-07-21 17:23] steveisok commented on #51382
We aren't linking in the diagnostics component yet, so none of these tests should be enabled until then.

[2021-07-21 17:23] safern commented on #55952
Thanks! I was about to reach out to do it.

[2021-07-21 17:25] danmoseley commented on #36390
@maryamariyan I'm going through 1st party asks. From what I can see, this is still open, we're still interested in doing this, but it can't fit this release any more?
If so please change milestone. Or close if appropriate.

[2021-07-21 17:26] steveisok commented on #50926
We aren't linking in the diagnostics component during tests, so these tests should be skipped until that happens.

[2021-07-21 17:30] danmoseley commented on #43997
@kouvel, I'm going through partner asks still marked 6.0 and this is one. Do you expect to have time to get this in before the RC1 fork, or should it be up for grabs?

[2021-07-21 17:32] jeffschwMSFT commented on #56072
There are more than just app context switches and should consider most configuration of NetCoreApp which also include environment and runtimeconfig.json.  My hypothesis is that these are raw.

I presume this is referring to the various dynamically tuned configuration within the gc - budget, etc.  As traces already capture the gc configuration - svr vs wks.  Capturing the current set of configurati

[2021-07-21 17:35] stephentoub commented on #56072
We have active-timer-count, which polls Timer.ActiveCount.  That's inclusive of all timers, both periodic and non-periodic.  David is suggesting splitting that to know how many are periodic and how many are non-periodic.  I'd like to understand how such knowledge would be used :)

[2021-07-21 17:36] stephentoub commented on #56072
If the goal is simply to report configuration so that it's in a trace log, could we have one event / rundown component that's just a text string that includes every bit of configuration information we can muster?

[2021-07-21 17:38] GrabYourPitchforks commented on #44423
Moving this to 7.0 so that the dates line up correctly.

[2021-07-21 17:43] danmoseley commented on #40393
@layomia is this still committed for .NET 6?

[2021-07-21 17:43] akoeplinger commented on #55833
If you have the C# extension activated it might, I'd try disabling it for the workspace if you're not using it.

[2021-07-21 17:54] nor0x commented on #50609
any update on this from the dotnet team? Is this something that will make it into .NET 6?
Thanks!

[2021-07-21 17:55] davidfowl commented on #56072
I'm not sure I want to group environment variables as part of the other runtime payload since it might contain PII and secrets and you may not want that to be it the same events as the other configuration.

[2021-07-21 17:56] pgovind commented on #56018
Yup, we reverted #51508. I'd be very very surprised if the regressions/improvements here still remain. I'm going to close this issue for now. We can re-open if the regressions still exist.

[2021-07-21 17:56] #56018 closed

[2021-07-21 17:57] jeffschwMSFT commented on #56072
Certainly not recommending the peb, but rather we have configuration that is unique to complus_/dotnet_ env variables.  There are a few config systems that we could query for configuration information.  App context is only 1.

[2021-07-21 17:57] akoeplinger commented on #56084
This will be fixed once https://github.com/dotnet/arcade/pull/7655 flows into runtime.

[2021-07-21 17:57] davidfowl commented on #56072
I agree, lets add that to the list.

[2021-07-21 18:00] am11 commented on #56079
@josalem, the CI does not break because we don't run unit tests on any Unix-like OS beyond Linux and macOS.
https://github.com/dotnet/runtime/blob/52262b88b992a3e8eb292a824102031dff1d6828/src/coreclr/clrdefinitions.cmake#L123-L125

and https://github.com/dotnet/runtime/blob/52262b88b992a3e8eb292a824102031dff1d6828/src/coreclr/clr.featuredefines.props#L17

these two conditions cover the officially

[2021-07-21 18:01] ericstj commented on #40393
I think this will be covered by @steveharter's proposal https://github.com/dotnet/runtime/issues/31274.  It permits serialization/deserialization from the new writable DOM.  I believe there are also ways to go from JsonElement to new DOM.

[2021-07-21 18:02] #43460 closed

[2021-07-21 18:03] steveharter commented on #40393
Yes this is covered by  #31274 and is currently under development for 6.0.

[2021-07-21 18:03] #40393 closed

[2021-07-21 18:10] eerhardt commented on #50042
@maryamariyan @tarekgh - what are the next steps here?

I don't think we need to write an analyzer to ensure old APIs aren't being used. The old versions are now EOL (2.1 is no longer supported). We won't be making breaking changes in the M.E.* libraries going forward, so we don't need to worry about this in the future.

I believe our guidance for these packages remains the same as guidance for an

[2021-07-21 18:16] stephentoub commented on #55154
I took a quick look.  I don't think this is due to the performance of Serialize; rather, this is about the ctor itself.  XmlSerializer uses reflection emit to emit a custom assembly for serializing the relevant types.  The constructor that just takes the target type caches that generated assembly in a static cache, whereas the constructor that also takes an XmlRootAttribute does not, which means W

[2021-07-21 18:19] LakshanF commented on #52900
Validated that this works using Microsoft.NETCore.App 6.0.0-rc.1.21371.4, attaching a sample (not comprehensive) program that tests this in trimmed mode.
[program.txt](https://github.com/dotnet/runtime/files/6858004/program.txt)

[2021-07-21 18:19] #52900 closed

[2021-07-21 18:27] josalem commented on #56079
I think I'm grokking what your issue is.

Let me amend my previous statement as I spoke too soon. No, we can't merge all 3. The `FEATURE_EVENTSOURCE_XPLAT` is a Linux specific feature flag that enables LTTng collection of managed events.

I need to review whether we could merge `FEATURE_PERFTRACING` and `FEATURE_EVENT_TRACE`. `PERFTRACING` maps roughly to the EventPipe feature while `EVENT_TRACE`

[2021-07-21 18:29] MaximLipnin commented on #56048
Using `[ConditionalFact(Helpers.IsDrawingSupported)]` or `[ConditionalTheory(Helpers.IsDrawingSupported)]` should help to avoid these failures.

[2021-07-21 18:31] vargaz commented on #56100
How can I reproduce this ?

[2021-07-21 18:40] brianrob commented on #50782
@tmat, checking in on this issue.  Is this on track to make it for .NET 6?

[2021-07-21 18:41] karelz commented on #55995
Test disabled on Mock by PR #56078 on 7/21.

[2021-07-21 18:43] elinor-fung commented on #55631
@gitlsl Does @jkoritzinsky's explanation answer your question?

[2021-07-21 18:46] #50042 closed

[2021-07-21 18:46] LakshanF commented on #49248
Cannot think of an easy way to add a generic test and moving this issue the next version. The best practice for any new Framework `EventSource `should have the following flavor (and avoid the need for a generic testing approach) but need to get consensus and evangelize this;

- Ensure that the tests for the new `EventSource `run in trimmed mode (will ensure that the above problem will be caught)
-

[2021-07-21 18:47] tarekgh commented on #50042
I don't think this is true for asp.net because of ASP.NET Core 2.1 on .NET Fx :-(

@shirhatti offline mentioned `The guidance can be simplified to rely on the oldest supported Abstractions package if you are Core only. And there's no good solution if you're on .NET Fx`

[2021-07-21 18:52] maryamariyan commented on #36390
Will discuss with @halter73 on next steps for this.

[2021-07-21 18:52] billybraga opened #56105 "TryAddEnumerable fails with service descriptors created with constructor and imlementation factory"
### Description

Since ServiceDescriptor's constructor that takes the implementation factory takes a func that returns `object` (`Func<IServiceProvider, object>`), if we call it directly with something like `x => new MyService()`, `ImplementationFactory`'s type becomes `Func<IServiceProvider, object>`.

This causes `TryAddEnumerable` to fail because `GetImplementationType()` returns `object`.

Rep

[2021-07-21 19:00] am11 commented on #56079
Right, the reason we have `FEATURE_EVENT_TRACE` on Android [disabled](https://github.com/dotnet/arcade/blob/89806f0b9e93ad2bbe32c654412835c0801a2032/eng/common/cross/toolchain.cmake#L82) is because lttng-ust package is missing on that platform (termux didn't had a package for it). However, lttng-ust's readme suggests it supports variety of platforms beyond Linux.

If both `FEATURE_EVENTSOURCE_XPLA

[2021-07-21 19:19] buyaa-n commented on #55518
@Ap0k please take a look, seems same test failure as #48579

[2021-07-21 19:20] SamMonoRT commented on #55919
@BrzVlad - can you take a look and confirm if this is a necessary fix for 6.0 ?

[2021-07-21 19:24] steveharter commented on #29861
A notification feature was recently implemented that will be in Preview 7: https://github.com/dotnet/runtime/issues/54528

This assumes the Type is owned, as it relies on implementing interfaces directly on the Type.

This approach is much easier than the custom converter approach, plus allows any type of validation logic such as dependent properties (e.g. if "A" is non-null, then "B" must be non-

[2021-07-21 19:45] echesakovMSFT commented on #55911
@swmichel I don't know if such instructions exist.

@jkotas @richlander Do you know if we have instructions how to build .NET for armel?

[2021-07-21 19:45] jeremyVignelles commented on #29861
@steveharter : This example works well for types where an "invalid" value can be reserved, but what about `bool` for example ? How do you say that "The caller must provide a boolean value here" ?
I don't think you can detect that after serialization, and while custom validation after deserialization is probably valuable, it doesn't cover the use case I'm highlighting : How to make sure that a requ

[2021-07-21 19:47] radical commented on #55732
@optimizasean Is this a blazor/wasm specific issue? Or does this happen in a non-blazor/wasm app too? It would help with getting the right people looking at this.

I tried the code from https://github.com/dotnet/runtime/issues/55732#issuecomment-880381221 (try.dot.net) in a (non-blazor) wasm app, and got the same output.

[2021-07-21 19:56] kouvel commented on #43997
In progress, I'll take care of it

[2021-07-21 20:06] JamesNK commented on #55898
Accessing response headers is optional. Most people don't and get the result only.

It would be simple to create a collection and copy all the headers and then use them however we want, including giving that collection back to the user, but I don't want to do that for performance. I want to keep accessing response headers pay-for-play.

[2021-07-21 20:15] tmat commented on #50782
@brianrob I should be able to work on it soon, now that most of Roslyn Hot Reload is feature complete.

[2021-07-21 20:27] briansull commented on #49647
We should probably address this issue post 6.0 as it is not a product bug.

[2021-07-21 20:29] radical commented on #55732
@captainsafia Could this be a marshaling issue?

[2021-07-21 20:37] jessicah commented on #55803
The patch is here: https://gist.github.com/jessicah/046dca21d4c3e10e8e358cff0978c166

[2021-07-21 20:47] jkotas commented on #55911
cc @alpencolt @gbalykov

[2021-07-21 20:57] longnvht opened #56110 "Error "terminated by signal SIGSEGV (Address boundary error)" when run dotnet SDK command"
I have successfully installed dotnet SDK. And was able to run the commands "dotnet --version", "dotnet --list-sdks", "dotnet --list-runtimes"... But when I run any of the commands in the SDK command group like: new, clean, build, test ... all get the error message "terminated by signal SIGSEGV (Address boundary error)" (ex: fish: Job 1, 'dotnet new console' terminated by signal SIGSEGV (Address bo

[2021-07-21 21:05] JeremyKuhne commented on #48615
@RussKie  This is not targeting just Windows Desktop anymore. That was the original proposal, it  was updated to be more general purpose based on initial feedback. It will, however, still be usable for the initial scenarios described.

[2021-07-21 21:12] am11 commented on #55803
Thanks. I applied this patch http://sprunge.us/D9SwK4 to your branch and got error during sysroot compilation. I am using ubuntu 20.04 vagrant box:

[code]

[2021-07-21 21:23] geoffkizer commented on #56087
Seems most likely that there's some race in the teardown logic in the test.

It could be the connection pooling changes, but it doesn't seem super likely to me.

[2021-07-21 21:58] lkelley-bec commented on #55013
Couldn't attach the dump file directly (maybe it was too big?), so I made a separate repo and uploaded it there:
https://github.com/lkelley-bec/dotnet-issue-55013-repro

[2021-07-21 22:04] jessicah commented on #55803
Can't say I've ever seen a build error like that. These are the build requirements from the Haiku website:
`sudo apt install git nasm autoconf automake texinfo flex bison gawk build-essential unzip wget zip less zlib1g-dev xorriso libtool gcc-multilib python3`

Also, I've tracked down where the issue is, just don't quite understand what it's doing:

1. `size_t` redefined to `DUMMY_size_t` in palin

[2021-07-21 22:12] josalem commented on #56079
That patch seems reasonable if it unblocks your work. Feel free to open the PR and I can review it 😄

[2021-07-21 22:16] ericstj commented on #55690
Keep in mind TypeForwardedFrom for any serializable types (hopefully not an issue). You will of course need to keep the old assemblies as facades for compatibility but those can be a one-time cost and effectively ignored after that.

You still may want to enforce some layering in your own codebase but that can be done through convention and code review.

You may end up with PNSEs for surface area

[2021-07-21 22:34] mangod9 commented on #43997
This is no longer a partner requirement. So unless there are other benefits we could deprioritize this.

[2021-07-21 22:38] #55980 closed

[2021-07-21 22:39] #55931 closed

[2021-07-21 22:41] buyaa-n commented on #55949
Duplicate of https://github.com/dotnet/runtime/issues/55791

[2021-07-21 22:41] #55949 closed

[2021-07-21 22:44] BruceForstall commented on #55628
Maybe you could just change `__RootBinDir` for now, and we could leave a bigger cleanup for later (or never)?

Even if we didn't remove setting the Xunit variables, there's a comment in run.cmd asking who uses them, and if setting them is required, and updating those comments would be useful to the next viewer.

It's impressive you found the run.proj case; GitHub's search didn't find it, presumabl

[2021-07-21 22:47] hoyosjs commented on #96
We no longer do this.

[2021-07-21 22:47] #96 closed

[2021-07-21 22:48] buyaa-n commented on #55791
@kelicto please give more info/definition on this

[2021-07-21 22:51] captainsafia commented on #55732
I don't suspect so. It seems like the feedback here is about the implementation of the HasClaim API.

https://github.com/dotnet/runtime/blob/016851a183c66333f3087312b458452a90154726/src/libraries/System.Security.Claims/src/System/Security/Claims/ClaimsPrincipal.cs#L426

I suspect the issue was moved here because the suspected bug is in the runtime library and not related to WASM.

[2021-07-21 22:51] noahfalk commented on #56079
@josalem - a slight sidebar but I do think it would be helpful if we renamed these defines to clarify what their scope is supposed to be. I'm not sure if we've used them correctly everywhere, but in my ideal world the defines might look like this:

FEATURE_EVENT_TRACE // enabled everywhere
FEATURE_EVENT_TRACE_ETW // enabled on windows
FEATURE_EVENT_TRACE_EVENT_PIPE // probably enabled everywhere?

[2021-07-21 22:52] geoffkizer commented on #48885
+1. Let's log data at runtime and do statistical analysis in post-processing.

[2021-07-21 22:53] josalem commented on #56079
100% agree, Noah. The names organically grew to contain features with different names. We should match them all up.

[2021-07-21 22:57] radical commented on #55676
@ElderJames this issue is tracking a particular problem seen in VS/windows only. If you are seeing a similar error, then could you please file a new issue, with details of your environment (dotnet version etc)?

[2021-07-21 23:01] bartonjs commented on #47136
While this code passes on .NET Framework (and takes a small forever to run) it fails with OverflowException (negative value in `new byte[int]`) instead of ArgumentException (negative value to ArrayPool.Rent) with the improvements we've made to the structure of FromBase64Transform (setting Multiple to true and InputBlockSize to 4).

I'll poke at it a little bit, but since this isn't a functionality

[2021-07-21 23:04] DrewScoggins commented on #56011
Yes, sorry about that. I just updated this.

[2021-07-21 23:14] radical commented on #53314
I can't reproduce this anymore with `6.0.100-rc.1.21370.2`. It builds fine for me now.
@IvanCherkasov07 could you please try this with a recent build?

[2021-07-21 23:15] kouvel commented on #43997
Let's move it to .NET 7 then, any objections?

[2021-07-21 23:17] kouvel commented on #43997
Also would it be appropriate to remove the partner ask label? It seems I cannot do that.

[2021-07-21 23:19] JamesNK opened #56115 "[HTTP/3] Response stream ReadAsync hang with large buffer size"
Imagine the server:

* Writes 11 bytes to the response body
* Flushes data to client
* Pauses

The client tries to read the response bytes like this:

[code]

Current behavior:
ReadAsync will hang forever. If the buffer size is changed to match the written content, `new byte[11]`, then ReadAsync will return.

Expected behavior:
ReadAsync returns readCount of up to 11 with matching data in the buff

[2021-07-21 23:23] bartonjs commented on #55690
I chatted with Eric via a different medium, and concluded that System.Private.* isn't the route we want to take.

The System.Private.* libraries started when we had the small contract assemblies in .NET Core 1.0.  Whenever we felt like it was important (or maybe just expedient) to have multiple contracts backed by one implementation assembly a System.Private was born.  The feeling back then, IIRC,

[2021-07-21 23:25] geoffkizer commented on #56115
That seems really bad.

@CarnaViire is this related to your recent read changes? I doubt it, or we would have seen it in QUIC tests...

I'll investigate later.

[2021-07-21 23:29] CodedBeard commented on #48615
Just to clarify, my comment wasn't meant as a slight on ImageSharp, Its a wonderful library that I already use for image processing at my employer. It works great on their webservers (vs on a PI), which is what I meant with the paraphrasing of 'not our focus area' on the close comment. @JimBobSquarePants if I am mis-rembering this (entirely possible with the heatwave in my country) or things have

[2021-07-21 23:30] geoffkizer commented on #56115
@jamesnk is this a duplex scenario?

[2021-07-21 23:30] buyaa-n commented on #56066
Probably related to https://github.com/dotnet/runtime/issues/931, cc @JeremyKuhne

@paul1956 could you try the workaround mentioned here https://github.com/dotnet/runtime/issues/931#issuecomment-483924246?

[2021-07-21 23:34] #55376 closed

[2021-07-21 23:34] terrajobst commented on #43997
You have write permissions to this repo; you should be able to.

[2021-07-21 23:35] JamesNK commented on #56115
Yes

[2021-07-21 23:36] kunalspathak commented on #55893
I tried downloading the failed binaries using `runfo` and tried reproing it on linux/arm64, but I am not able to repro it. I will keep an eye to see if we see more failures.

[2021-07-21 23:38] geoffkizer commented on #56115
Ah that makes more sense, thanks.

We have no duplex tests for HTTP3 yet. The existing ones are HTTP2-specific and so need to be modified manually to work with HTTP3.

We'll put this on the TODO list, hopefully it's not blocking you too badly...

[2021-07-21 23:39] JamesNK commented on #56115
It appears I can read the exact length successfully. I'm not blocked. _Yet_ 😋

[2021-07-21 23:40] radical commented on #54342
I tried the dockerfile, and it downloads `6.0.100-preview.7.21369.21`, but blazor is broken with that right now.
IIUC, it's https://github.com/dotnet/sdk/pull/19080, and https://github.com/dotnet/aspnetcore/issues/34571

[code]

[2021-07-21 23:50] trylek commented on #55628
I think the easiest way of fixing this is by redefining <code>__RootBinDir</code> based on <code>__RepoRootDir</code> instead of open-coding the folder tree ascent that was only relevant during the actual process of repo integration by the end of 2019.

[2021-07-21 23:51] kunalspathak commented on #11063
Another one: https://dev.azure.com/dnceng/public/_build/results?buildId=1244680&view=ms.vss-test-web.build-test-results-tab&runId=36994542&resultId=109776&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2021-07-22 00:05] #33727 closed

[2021-07-22 00:05] bartonjs commented on #55732
@optimizasean In your code snippet (in https://github.com/dotnet/runtime/issues/55732#issuecomment-880381221) you don't ever use the `claims` list.  Multi-claim and claims-actual are the same because they're actually both sourcing the built multi-claim claim.

Changing `var claimsIdentity = new ClaimsIdentity(new List<Claim>() { multiClaim })` to `var claimsIdentity = new ClaimsIdentity(claims)` m

[2021-07-22 00:10] javiercn commented on #54342
Update the asset definitions as described https://github.com/dotnet/aspnetcore/issues/34577

https://github.com/timheuer/PictureFixer/blob/main/PictureFixer/Client/PictureFixer.Client.csproj#L11-L13

[2021-07-22 00:13] Thefrank commented on #14537
@sec so it looks like the issue is present in all current versions of FreeBSD (11,12,13). Does `-maxcpucount:1` fix the issue?

[2021-07-22 00:32] vcsjones commented on #47136
Personally I would not mind if this did not work. I just dislike the unchecked arithmetic overflow. I would be fine if this were fixed by some `checked` contexts / operations. Perhaps as a first step.

My only real concern is that it might be a more severe impact later if some surrounding code were to change, say, stackallocing a negative size.

[2021-07-22 00:33] stephentoub commented on #55013
Is this the right process?  It seems like this is a dump of the test runner process, which has spawned another process and is now just waiting for it:
![image](https://user-images.githubusercontent.com/2642209/126576200-e5ca9a87-54e6-4b07-80a8-1b886521521c.png)

[2021-07-22 00:34] stephentoub commented on #56011
Thanks, Drew.

[2021-07-22 00:35] BruceForstall commented on #51728
Well, the change that was planning to disable this assert (along with other changes) was aborted. So we maybe should just disable the assert (and #54007?) as a separate change.

[2021-07-22 00:37] #56028 closed

[2021-07-22 00:37] lewing commented on #56028
this is fixed in .NET6

[2021-07-22 00:38] BruceForstall commented on #5812
Previously: https://github.com/dotnet/coreclr/issues/4851

[2021-07-22 00:41] bartonjs commented on #47136
::nod:: making the operation be checked might be the way to go (essentially, exception preserving), though bounding things at Array.MaxLength seems to work.  I'd probably need to do more validation with bounding to make sure that it's not doing weird stuff on a secondary edge case... so maybe "easier to test" is the way to go.

[2021-07-22 01:01] #53534 closed

[2021-07-22 01:02] BruceForstall commented on #52296
@tannergooding Should this really be marked `area-CodeGen-coreclr`? And milestone:6.0.0?

It seems like this should be marked in some libraries area (and pushed to .NET 7), and if there is a specific codegen ask, open a more targeted issue covering just the codegen improvements that should be considered.

[2021-07-22 01:03] #54118 closed

[2021-07-22 01:04] BruceForstall commented on #44039
Pushing this to 7.0.

[2021-07-22 01:10] davidwrighton commented on #44948
At this time, the .NET team is not prioritizing this work for the .NET 7 release. If a contributor provides fixes for these issues we may consider them, but the issue as a whole is moving to a future milestone.

[2021-07-22 01:10] AndyAyersMS commented on #4871
@pharring maybe you can send me more details (offline, if needs be)? This problem should only arise for objects that were default initialized (as the constructor never gets called) -- so it seems odd that such an instance could actually be holding a native resource.

[2021-07-22 01:21] davidwrighton commented on #45099
This was fixed long ago.

[2021-07-22 01:21] #45099 closed

[2021-07-22 01:26] davidwrighton commented on #47412
I wasn't able to reproduce this as I don't have access to the scripts you use to produce .ni images. If you are still seeing this issue, please re-open the bug, and provide a link to a location where the binaries you attempting to examine are.

[2021-07-22 01:26] #47412 closed

[2021-07-22 01:26] radical commented on #54342
Based on @javiercn's [suggestion](https://github.com/dotnet/runtime/issues/54342#issuecomment-884576175), I changed:

[code]

And I tried the dockerfile, which now downloads `6.0.0-preview.7.21365.2`, and builds successfully.

@timheuer Could you please confirm that this works for you now?

[2021-07-22 01:27] MihaZupan commented on #55898
If I understand Stephen's suggestion, you can perform the validation of the headers you care about internally before releasing the response task.

i.e. instead of synchronizing on a `Task<HttpResponseMessage>`, expose `Task<MyFancyResponse>` where you perform the common parsing/validation logic ahead of time.
[code]

(I was just skimming the gRPC codebase so idk how applicable all of the above is)

[2021-07-22 01:38] radical commented on #55902
dupe https://github.com/dotnet/runtime/issues/51013

[2021-07-22 01:38] #55902 closed

[2021-07-22 01:40] BruceForstall commented on #55241
I can repro on Windows x64 with:
[code]

[2021-07-22 01:41] VincentBu commented on #51097
Failed again in [runtime 20210721.8](https://dev.azure.com/dnceng/public/_build/results?buildId=1251731&view=ms.vss-test-web.build-test-results-tab&runId=37156418&resultId=125993&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-22 01:43] am11 commented on #56079
Agree with @noahfalk too.

On `$other` platforms where we have `FEATURE_EVENT_TRACE_LTTNG=false`, can we still use dummy provider (which is anyway generated by our python scripts IIRC)?

lttng-ust package is also available on FreeBSD.

[2021-07-22 01:44] BruceForstall commented on #55241
JitDump before crash is
[code]

[2021-07-22 01:49] BruceForstall commented on #55241
In the failure case, `budget` is -1.

[2021-07-22 02:03] radical commented on #51631
This has been covered now, and we are running wasm tests now including with browser.
@radekdoulik feel free to re-open, if needed.

[2021-07-22 02:03] #51631 closed

[2021-07-22 02:03] VincentBu commented on #49681
Failed again in [runtime-libraries-coreclr outerloop 20210721.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1250405&view=ms.vss-test-web.build-test-results-tab&runId=37128392&paneView=debug&resultId=104314)

Failed test:
[code]
**Error message:**
[code]

[2021-07-22 02:04] radical commented on #52143
Mostly superseded by https://github.com/dotnet/runtime/issues/52138 .

[2021-07-22 02:04] #52143 closed

[2021-07-22 02:09] VincentBu opened #56124 "Failure test:System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Cancellation_Test_Http3_MsQuic.Expect100Continue_WaitsExpectedPeriodOfTimeBeforeSendingContent"
Run [runtime-libraries-coreclr outerloop 20210721.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1250405&view=ms.vss-test-web.build-test-results-tab&runId=37128946&paneView=debug&resultId=104111)

Failed test:
[code]
**Error message:**
[code]

[2021-07-22 02:10] hoyosjs commented on #43826
Haven't seen this recently.

[2021-07-22 02:11] hoyosjs commented on #42774
Haven't seen any other repro of this.

[2021-07-22 02:11] radical commented on #49912
@thaystg does this work now, after your debugger changes?

[2021-07-22 02:12] hoyosjs commented on #41172
We first need to deal with proper build before this.

[2021-07-22 02:14] hoyosjs commented on #38167
Closing this. If such a timeout exists and we find it again, we can open this again.

[2021-07-22 02:14] #38167 closed

[2021-07-22 02:17] VincentBu opened #56125 "Failure test:System.Net.Sockets.Tests.TcpClientTest.ConnectAsync_DnsEndPoint_Success(mode: 0)"
Run: [runtime-libraries-coreclr outerloop 20210721.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1250405&view=ms.vss-test-web.build-test-results-tab&runId=37129200&paneView=debug&resultId=103985)

Failed test:
[code]
**Error message:**
[code]

[2021-07-22 02:28] jessicah commented on #55803
After more searching into the weeds, it looks like the issue is that Haiku doesn't use `_SIZE_T_DEFINED`, but instead `__size_t__`. So will push a commit for that soon :)

[2021-07-22 02:34] VincentBu commented on #52361
Failed again in [runtime-coreclr libraries-jitstress 20210721.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1250209&view=ms.vss-test-web.build-test-results-tab&runId=37122416&resultId=189643&paneView=debug)
Failed test:
[code]
**Error message:**
[code]

[2021-07-22 02:37] VincentBu commented on #52362
Failed again in [runtime-coreclr libraries-jitstress 20210721.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1250209&view=ms.vss-test-web.build-test-results-tab&runId=37122416&resultId=189637&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-22 02:48] kouvel commented on #43997
I still can't seem to figure out how to remove the project label, I don't see a check mark that I can uncheck like for other projects

[2021-07-22 02:58] stephentoub commented on #43997
I removed it.  For future reference, if you click on Projects, it'll take you to the project board, and then for the card for this issue, you can click the ... for the remove menu item:
![image](https://user-images.githubusercontent.com/2642209/126584212-45706108-5057-4429-b1b9-5ac301cbca78.png)

[2021-07-22 03:05] kouvel commented on #43997
Ah ok, I guess I haven't had to do that before, it's a rather roundabout way but I can see how to do it now. Thanks!

[2021-07-22 03:16] RussKie commented on #56066
@buyaa-n this needs to be fixed in .NET 6.0 timeframe, and possibly served in .NET 5.0 and 3.1. This is a regression which is blocking migration scenarios.

[2021-07-22 03:18] JamesNK opened #56129 "[HTTP/3] Cancellation of response download not reported correctly on server"
Justification for 6.0: Causes data loss / data corruption on server side.

**Reproduction: https://github.com/dotnet/runtime/issues/56129#issuecomment-886128970**

---

1. Client calls server
2. Client sends data
3. Client pauses sending.
3. Server reads data
4. Server sends data
5. Server pauses sending.
5. Client reads data
6. Client cancels request (`HttpResponseMessage.Dispose()`)
7. Server `Q

[2021-07-22 03:29] brianrob commented on #50782
Awesome.  Thanks @tmat.

[2021-07-22 03:48] steveisok commented on #50924
Does not fail for regular Android runs.  We should re-enable the test.

[2021-07-22 04:01] timheuer commented on #54342
No still failing...this docker file:
[code]
and results in this error:
[code]

Looks like I'm hitting #55935 but I've added `--skip-manifest-update` and still hitting it.

[2021-07-22 04:15] lewing commented on #54342
the workload name changed in preview7 use 'wasm-tools' now.

[2021-07-22 04:15] jessicah commented on #55803
I'm about as far as I can go now, I think. Haiku doesn't provide the CS register as part of `mcontext_t`, as found in https://github.com/haiku/haiku/blob/master/headers/posix/arch/x86_64/signal.h

However, it is defined in kernel land at https://github.com/haiku/haiku/blob/master/headers/private/kernel/arch/x86/64/iframe.h#L31 so could probably add it to `mcontext_t` easily enough.

Also unsure if

[2021-07-22 04:20] #55417 closed

[2021-07-22 04:20] #35990 closed

[2021-07-22 04:20] #42224 closed

[2021-07-22 04:22] xiaomi7732 opened #56131 "TypeInfo.GetDeclaredMethods() / GetDeclaredABC() methods behavior inconsistent with the documentation on it"
### Description
According to the [doc](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.typeinfo.getdeclaredproperty?view=net-5.0), quotes:

However, the APIs actually get back **Non-Public** members as well, for example:
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src/System/Reflection/TypeInfo.cs#L30

Which is

[2021-07-22 04:35] timheuer commented on #54342
Okay with that knowledge I'm able to complete this build now cleanly even without `--skip-manifest-update`

[2021-07-22 05:23] KratiChauhan opened #56132 "System.Net.Dns.GetHostName gives Socket Exception"
We have been using "System.Net.Dns.GetHostName()" in our application (using framework V4.7). It works well on my development environment, but when I create the build and test on the other machine (windows 10 machine), we get below error.

SocketException :
Message :  A system call has failed
Error Code :  10107
System.Net.Sockets.SocketException (0x80004005): A system call has failed
   at System.

[2021-07-22 05:23] #5812 closed

[2021-07-22 05:28] davidfowl commented on #42224
This is fixed on .NET 6 only

[2021-07-22 05:41] MihaZupan commented on #52628
@normj I can confirm the behavior Kalle described: for a Uri like `http://normj-east1.s3.amazonaws.com/..%2Ffoo`, the segment will not be removed.

Can you please confirm that those are the right examples?

[2021-07-22 05:47] fitdev commented on #48615
A color exchange type is certainly one of the things we have long been looking for, and for the moment due to the lack of one in BCL, had to implement our own, which is not ideal.

Other libraries / frameworks may use their own Color types, tailored to their needs. But that does not eliminate the need for a common, performant, and data-oriented (just holding the raw, unambiguous data) Color type,

[2021-07-22 05:58] paul1956 commented on #56066
@buyaa-n I read the workaround multiple times and I don't see what I need to do. I don't have any code that looks like that.
The first time I read any setting the program crashes at the line below with an error.
[code]

[2021-07-22 06:04] davidfowl commented on #56105
How would you expect this to work?

[2021-07-22 06:28] #52991 closed

[2021-07-22 06:36] radical commented on #54342
Based on this, closing the issue.

[2021-07-22 06:36] #54342 closed

[2021-07-22 06:53] geoffkizer opened #56133 "QUIC: Wrong exception for Open*Stream after connection is closed"
If you call Open*Stream after closing a QuicConnection (or having it closed by the peer), you get a QuicException with a message that says "Failed to open stream to peer. Error Code: INVALID_STATE".

Expected behavior: QuicOperationAbortedException (if you closed locally) or QuicConnectionAbortedException (if the peer closed the connection).

[2021-07-22 07:22] adamsitnik commented on #55691
Is this the only test project that fails with OOM on Android? I am asking because we plan to remove it in .NET 7 (https://github.com/dotnet/runtime/issues/55196)

[2021-07-22 07:32] steveisok commented on #55691
No, there are others and it's pretty random.  I don't think this test is necessarily the cause.

[2021-07-22 07:37] steveisok commented on #50859
Assuming from the comments that this is fixed.  Please reopen if you find otherwise.

[2021-07-22 07:37] #50859 closed

[2021-07-22 07:39] steveisok commented on #52852
These tests are all skipped on platform, which means they aren't intended to work. No need for this issue to be open.

[2021-07-22 07:39] #52852 closed

[2021-07-22 07:48] steveisok commented on #52649
I believe core-eng fixed this and I haven't seen it in quite a while.  If you find it's still happening, please re-open.

[2021-07-22 07:48] #52649 closed

[2021-07-22 07:59] karelz commented on #56132
Hello @KratiChauhan. We do not track .NET Framework issues in this repo -- it is only for .NET Core / .NET 5+.
Based on your callstack, it seems there is something very wrong with your machine. The OS is unable to initialize parts of its subsystem. I would recommend to repair the machine / reimage it.
If it is persistent, you can try to check which OS initialization fails by debugging into .NET Fr

[2021-07-22 07:59] #56132 closed

[2021-07-22 08:04] karelz commented on #56124
Duplicate of #56090

[2021-07-22 08:04] #56124 closed

[2021-07-22 08:09] gitlsl commented on #55631
@elinor-fung  yes, I understand

[2021-07-22 08:11] karelz commented on #56125
Failures 5/22-7/22 (incl. PRs):

Day | Run | OS
-- | -- | --
5/28 | Official run | OSX.1013.Amd64.Open
6/11 | Official run | OSX.1013.Amd64.Open
6/12 | Official run | OSX.1013.Amd64.Open
6/27 | Official run | OSX.1013.Amd64.Open - 2x
7/21 | Official run | OSX.1013.Amd64.Open

Rare occurrences, moving to Future

[2021-07-22 08:16] ThomasMader opened #56135 "Enable minidump creation directly from application"
I am referring to https://github.com/dotnet/runtime/blob/v5.0.8/docs/design/coreclr/botr/xplat-minidump-generation.md .

I tried to use the documented environment variables to activate the minidump creation of the CLR from within my application by doing the following right at the start.

`Environment.SetEnvironmentVariable("COMPlus_DbgEnableMiniDump", "1");`

I expected that this might not work be

[2021-07-22 08:35] gyankov commented on #52867
@svick I am afraid I am not able to simplify it more. I am only able to replicate it when I have multi level grouping. I will try to explain it in steps:

1. Group the data
2. Map(Select) the result to objects which contain group field and group items
3. Group items are retrieved by filtering the data with Expression.Equal
4. Then group the items of every group and select them as in step 2

For be

[2021-07-22 08:36] steveisok commented on #55821
On second thought, I don't think this is a regression.

For whatever reason, the expectation that https://github.com/dotnet/runtime/blob/5da7094bb1a2a0b957b17c83c67ce7c1c1eb5052/src/libraries/System.IO.FileSystem/tests/Enumeration/ErrorHandlingTests.cs#L96 doesn't error no longer holds.

`MoveNext` will ultimately hit https://github.com/dotnet/runtime/blob/5da7094bb1a2a0b957b17c83c67ce7c1c1eb5052/

[2021-07-22 08:36] gbalykov commented on #55911
For tizen armel we use cross build on x64:
[code]
To gather artifacts:
[code]

[2021-07-22 08:42] MihaZupan opened #56136 "Incorrect documentation for SslClientAuthenticationOptions's CertificateRevocationCheckMode"
`IntelliSense` is reporting that the default value for the revocation mode is `Online`.
![image](https://user-images.githubusercontent.com/25307628/126609834-6205c14a-8708-4edd-88a7-9e737d4fb2e4.png)
![image](https://user-images.githubusercontent.com/25307628/126611660-88267448-7228-485a-9343-e2ad5e9b6a56.png)

The actual default is `NoCheck`.
Where is this comment coming from? It's not in the sou

[2021-07-22 08:45] karelz commented on #56136
IntelliSense should be harvested from online docs AFAIK - @jeffhandley do we have someone to check with?

[2021-07-22 08:48] dynamicons commented on #45542
Dear Vitek,

from our perspective, the issue described above is not fixed. Again we have seen reported that the Test of Dynamic Applications failed - this was even reported by the MS Windows 10 Store App Team Testers - because of lack of installation .NET 5.0 Desktop.

So as it was reproduced correctly by your collegue, there is an automatic check included with .NET 5.0 (probably from 4.0) but it

[2021-07-22 09:01] karelz opened #56138 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_DataSentBeforeServerPreface_ProtocolError"
Test failures 5/22-7/22 (incl. PRs):

Day | Run | OS
-- | -- | --
6/8 | PR #53851 | Ubuntu.1804.Amd64.Open
7/16 | PR #55842 | Centos.8.Amd64.Open
7/19 | Official run | Ubuntu.1910.Amd64.Open
7/22 | Official run | Alpine.312.Amd64.Open

Looks like **increased frequency after Preview 7** cut off on 7/15 - **perhaps some regression**?

[code]

[2021-07-22 09:04] karelz commented on #56138
cc @geoffkizer in case it is related to ConnectionPool changes ...

[2021-07-22 09:08] vitek-karas commented on #45542
I don't think we will ever have the same seamless experience which .NET Framework provides. Mainly because .NET Framework is integrated into the Windows OS, which .NET Core/.NET 5 is not (and we don't plan to do that going forward either).

There are discussions on improving the experience when this happens:
There are several existing issues covering this topic:
https://github.com/dotnet/runtime/i

[2021-07-22 09:12] vitek-karas commented on #52900
Why can't we add this as an automated test?

[2021-07-22 09:29] jessicah commented on #55803
Well I added `cs` to `mcontext_t` for now as a workaround to make more progress. And a _lot_ of stuff that will need serious review and fixing...

I am once again getting bitten by the bizarre `size_t` bug in a different part of code, pretty tired of debugging that one for now! Maybe I'll find more inspiration for a fix again tomorrow :)

`./build.sh clr+mono+libs+host+packs
Log file: https://gist

[2021-07-22 09:30] BrzVlad commented on #55919
Tests that check the total number of finalized objects are flaky on mono and should be disabled.

[2021-07-22 09:43] kefyru opened #56140 "Generics"
### Background and motivation

In many cases, especially for serialization, using reflection gives pure performance.
We should use dictionaries or something like that for caching type accordance, which also not very fast.
Generics sometimes solve problem, but not always.

It would be great to have possibility to call generics by Type in runtime.

### API Proposal

[code]

// Add new method to Syst

[2021-07-22 09:48] WenJunJi01 opened #56219 "With .Net 6 Preview7, failed to open '/etc/dotnet/install_location' when running dotnet tool"
Repro steps:

1. Install .NET 6 Preview7 SDK(6.0.100-preview.7.21369.19)
2. Run below commands:
dotnet tool install -g doTNetsay
dotnet tool list -g
dotnetsay

Expected Result:
Tool dotnetsay can be run successfully

Actual Result:
Failed to open '/etc/dotnet/install_location' when running dotnet tool:
`The install_location file ['/etc/dotnet/install_location'] failed to open: No such file or dire

[2021-07-22 09:50] filipnavara commented on #56136
That's quite worrying. We have been relying on the default being `Online` in our product.

[2021-07-22 09:58] antonfirsov commented on #43931
Also failed in #56102:
https://dev.azure.com/dnceng/public/_build/results?buildId=1251070&view=ms.vss-test-web.build-test-results-tab

Only the Sync case seems to fail now.

[2021-07-22 10:04] noahfalk commented on #56052
Based on offline discussion we are going to treat this issue as a servicing request back to 3.1, and optionally a servicing request for 6 depending if we are unable to get to it before things lock down.

[2021-07-22 10:05] noahfalk commented on #56052
@josalem - Given that I am likely to be OOF during the timeframe where we are trying to do this, I'm assigning it to you for now. Of course feel free to work with Tom and further load balance, but I am guessing you are the most likely person who winds up implementing it : )

[2021-07-22 10:19] am11 commented on #55803
Porting CoreCLR to a new Unix-y platform typically entails porting the [HP libunwind](https://github.com/libunwind/libunwind) to the platform as a first step, then the coreclr PAL (src/coreclr/pal) and making sure [PAL tests](https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/docs/workflow/testing/coreclr/unix-test-instructions.md#pal-tests) are passing. The rest of th

[2021-07-22 10:23] jessicah commented on #55803
Yes, I've been adding code to libunwind, https://github.com/jessicah/dotnet-runtime/commit/520a875d44680955fc30c834f3acf34e2bb1eada

And been slowly slogging through PAL... and working around stuff that's not in Haiku (yet). I think corehost is done, it gets to install and fails because it thinks coreclr is done :p

[2021-07-22 10:24] rolfbjarne commented on #55000
This is still an issue with `6.0.0-rc.1.21369.14`:

[code]

[2021-07-22 10:33] am11 commented on #55803
Great, it will also require `src/os-haiku.c`. We can build that repo in isolation to make sure its `autoreconf -i && ./configure && make && make check` is good. Some regression tests (`make check`) might fail as they are failing for other platforms too  in v1.5 (including x86_64 linux, which coreclr has a copy of), but if it is working for most part (i.e. unw_step is working correctly), it's good

[2021-07-22 10:36] rolfbjarne commented on #56100
@vargaz

1. Download & install Xcode 13 beta 3.
2. Clone my fork of xamarin-macios, and checkout the [`dotnet-llvm-exception-repro`](https://github.com/rolfbjarne/xamarin-macios/tree/dotnet-llvm-exception-repro) branch, and build it:

        git clone https://github.com/rolfbjarne/xamarin-macios
        git checkout dotnet-llvm-exception-repro
        cd xamarin-macios
        ./configure --enabl

[2021-07-22 10:39] IvanCherkasov07 commented on #53314
Hi, @radical thx for help, can you please send a link to that build or later. I can't find it on my own.

[2021-07-22 10:45] jessicah commented on #55803
Yep, I'll work on a haikuporter recipe for libunwind, and try to get patches upstreamed.

Ah, I see what you mean by needing an `os-haiku.c`, just tripped over the undefined references  at [980/1357] targets :)

[2021-07-22 10:50] vargaz commented on #55000
The PR above only fixes it for device builds, simulator builds need the same define.

[2021-07-22 10:59] vargaz commented on #55000
The problem is that those are jit icalls which are only marked with ICALL_EXTERN_C which doesn't actually export them.

[2021-07-22 11:02] noahfalk opened #56142 "[Feature Request]: Diagnostics for App Context switches"
Original combined issue [here](https://github.com/dotnet/runtime/issues/56072)

The goal is to help customers better understand how their applications are running by adding events and counters that can give more insights and will help them debug potential performance issues. It'll also help us debug customer applications and write tools that would be able to glean insights from traces.

What app c

[2021-07-22 11:06] noahfalk opened #56143 "[Feature Request]: Diagnostics for processor count"
Original combined issue [here](https://github.com/dotnet/runtime/issues/56072)

The goal is to help customers better understand how their applications are running by adding events and counters that can give more insights and will help them debug potential performance issues. It'll also help us debug customer applications and write tools that would be able to glean insights from traces.

What was t

[2021-07-22 11:08] karelz commented on #43931
Test failures 5/22-7/22 (incl. PRs):

Day | Run | OS
-- | -- | --
7/7 | Official run | 5x failed -- Debian.9.Arm32.Open, Centos.8.Amd64.Open, Ubuntu.1804.Amd64.Open, Windows.10.Amd64.Server19H1.Open, Windows.7.Amd64.Open
7/8 | Official run | 2x failed -- Alpine.312.Amd64.Open, Ubuntu.1804.ArmArch.Open
7/21 | PR #56102 | 3x failed -- RedHat.7.Amd64.Open, Fedora.32.Amd64.Open, Ubuntu.1604.Amd64.Open

[2021-07-22 11:12] CarnaViire commented on #56129
@JamesNK when you saw this, did the code already contain changes from https://github.com/dotnet/runtime/pull/55724 ? A lot of aborting issues were fixed in that PR

[2021-07-22 11:13] billybraga commented on #56105
Maybe the constructor should be private or protected to avoid confusion (since we can't call it directly with a lambda) and force people to use `ServiceDescriptor.Singleton(...)` and other factory methods, which fork fine since the parameter is generic (`Func<IServiceProvider, TService>`).

[2021-07-22 11:16] huoyaoyuan commented on #56140
Reading a `Type` from serializable data is extremely dangerous. Binary serialization is going to be removed to prevent such usage. Any use case containing such behavior shouldn't be considered.

[2021-07-22 11:18] noahfalk commented on #56072
Do you care about the number of processors on the machine, or specifically this value (which I believe might differ when apps run with restricted processor groups)? For the machine level info ETW emits that into every trace with the Windows Kernel/EventTrace event.

Maoni has a PR open that is adding that info: https://github.com/dotnet/runtime/pull/55888

Agreed with @stephentoub that metrics tha

[2021-07-22 11:24] karelz commented on #56136
Yep, seems to be `NoCheck` by default in 6.0, 5.0 and 3.1:

6.0:
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Net.Security/src/System/Net/Security/SslClientAuthenticationOptions.cs#L14
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Net.Security/src/System/Net/Security/SslServerAuthenticati

[2021-07-22 11:28] MihaZupan commented on #43931
This test tries connecting to `microsoft.com:12345`, expecting that to fail and throw. If `microsoft.com` actually started accepting connections on that port, we would start seeing this test failing across all argument variants.

The failure here is that `socket.Connect(EndPoint)` did not throw (while all other async variants apparently did).
@antonfirsov do you know of any recent-ish Socket chang

[2021-07-22 11:28] karelz commented on #56136
Ah, the documentation was fixed in February 2021: https://github.com/dotnet/dotnet-api-docs/pull/4920 ... it didn't make it into IntelliSense yet. That happens with major releases, like 6.0.
@jeffhandley it is now solved.

Closing as addressed.

[2021-07-22 11:28] #56136 closed

[2021-07-22 11:28] filipnavara commented on #56136
It's something we changed quite recently so it was likely released only to very small amount of customers and our testers. We were cleaning up the code to remove traces of old SSL/TLS versions and to switch most options to their system/framework defaults. This was done in response to Windows 11 enabling TLS 1.3 by default and old SSL workaround no longer being effective on any modern systems.

[2021-07-22 11:31] karelz commented on #56136
@filipnavara looks like you have reasonable way to react in your product then. Sorry for the trouble!

[2021-07-22 11:39] vitek-karas commented on #35951
Closing as there's not enough information to make progress. Please feel free to reopen or create a new issue if more assistance is needed.

[2021-07-22 11:39] #35951 closed

[2021-07-22 11:40] noahfalk commented on #55696
I marked this as 7.0, but realistically the .NET milestone doesn't matter for issues resolved in Visual Studio. If it does wind up being something that needs a .NET change we'll need to evaluate what work is involved.

[2021-07-22 11:40] antonfirsov commented on #48615
I don't have such strong opinion against this as @JimBobSquarePants, but it would be really nice to see usage examples with specific library code before moving on with the proposal.

Any chance someone is interested posting code snippets, or even better, prototype the API's with an actual interchange scenario, so we can reason about code instead of theoretical scenarios?

[2021-07-22 11:54] emepetres opened #56145 "[WASM] callback fron native code to .Net: Parsing function pointer types in signatures is not supported"
I'm trying to do a call from .Net a native function which call backs to .Net. I'm using function pointers as suggested in discord channel, but I'm getting the following error (maybe related to #43791?):

[code]

This are the most relevants parts of the code:

[code]

[code]

And I'm using version
[code]

[2021-07-22 11:59] vitek-karas opened #56146 "Tracking: Improve error experience when there's a missing runtime or framework"
This is a master tracking issue for all feedback related to reporting errors on application start when either the runtime or necessary framework is missing or cannot be used. There are several areas of improvement around this experience.

[TODO:] High-level description of the areas and potential improvements.

Existing active issues which are about the error experience:
* https://github.com/dotnet

[2021-07-22 12:02] vitek-karas commented on #56038
Thanks for the feedback. This is an ongoing effort to improve the error experience. I created a tracking issue to link together all the issues and asks around this area: https://github.com/dotnet/runtime/issues/56146

Particularly relevant to this specific issue are:
* https://github.com/dotnet/runtime/issues/3816
* https://github.com/dotnet/runtime/issues/36765

[2021-07-22 12:15] jakobbotsch opened #56148 "R2R jobs should not pass -O to crossgen2"
When -O is passed, crossgen2 will ignore the assembly's "debug" bit. We have some JIT tests that rely on this bit to be respected which are currently disabled because of this behavior since our R2R jobs pass -O. Some more discussion in #55062.

cc @dotnet/crossgen-contrib

[2021-07-22 12:21] MichalStrehovsky commented on #56148
The jobs should be changed not to pass `-O`. The `-O` was required to optimize before #44514 got merged.

The `-O` was supposed to be removed per https://github.com/dotnet/runtime/pull/44514#issuecomment-726425655 but it probably slipped through the cracks.

[2021-07-22 12:23] swmichel commented on #55911
@gbalykov, thanks for the answer. I tried:
[code]
which then throws errors like:

[code]
Do I miss something? what did you have in $CLANG ?

[2021-07-22 12:23] kefyru commented on #56140
Yes it is, but it can be use for internal (closed) protocols or with security checking.
In this example TypeFormatter just read some id of type and resolve type by this id.
This does anyway but with reflection.

[2021-07-22 12:28] gbalykov commented on #55911
@swmichel you need to do `git clone`, problem seems to be with missing `.git` dir. In case of missing `.git` dir `/p:EnableSourceLink=false /p:DisableSourceLink=true /p:EnableSourceControlManagerQueries=false /p:EmbedUntrackedSources=false` might also help. `${CLANG}` can be clang9 for example, default one is used if nothing explicit is passed.

[2021-07-22 12:35] jakobbotsch commented on #56148
The -O parameter was readded in #49867 it looks like.

[2021-07-22 12:38] MichalStrehovsky commented on #56148
Ah okay, I don't know what going on there then. I'll leave that to the crossgen team.

[2021-07-22 12:41] emepetres commented on #56145
Just for reference, I modified the test to use _"old delegates"_ and _MonoPInvokeCallback_ attribute and it is working,

[2021-07-22 12:43] vargaz commented on #56145
https://github.com/dotnet/runtime/issues/43791

[2021-07-22 12:48] SamMonoRT commented on #55608
@radical @lewing  - From @DrewScoggins   :: We are at 1.11MB with the updated workload name. We don't have the breakdown of file size as of now. I assume the PowerBI won't be updated till the actual fix is merged.

[1:37 AM] Drew Scoggins
[2021/07/21 22:35:22][INFO] Metric |Average |Min |Max[2021/07/21 22:35:22][INFO] --------------------------------------------------------------------------------

[2021-07-22 12:50] SamMonoRT commented on #55608
We can close this issue, as the core regression is addressed.

[2021-07-22 13:00] karelz commented on #41078
The test was disabled again by https://github.com/dotnet/runtime/commit/8a6fa3066da6ff4826955c103a64a4e99a6ba9a8 on 7/14 (the same day it was enabled by PR #55572)

Failures on 7/14 while it was enabled:
- 3x Official run:
  - Fedora.32.Amd64.Open
  - SLES.12.Amd64.Open
  - Debian.10.Amd64.Open
- 10x in PRs:
  - PR #55594 - Ubuntu.1604.Amd64.Open
  - PR #55613 - Debian.10.Amd64.Open
  - PR #55607

[2021-07-22 13:17] karelz commented on #41531
Summary of known facts and history:
- We do not know frequency of failures
- The test was/is failing in 5.0 (see e.g. 5.0.x servicing PR #46745)
- First report: 2020/8/28
- Test disabled: 2021/1/8 in PR #46752

[2021-07-22 13:20] karelz commented on #44183
Summary of history and details:
- Likely started failing around 2020/10 ... i.e. in 6.0 -- **potentially a regression**
- Frequency: 25 / month
- Test disabled on 2020/12/7 in PR #46198

[2021-07-22 13:23] lkelley-bec commented on #55013
Apologies, I didn't realize there were multiple processes running. I still can't attach files here, so I pushed a [new commit](https://github.com/lkelley-bec/dotnet-issue-55013-repro/commit/4e5d49b139dd793363c3b2d0aa5e8a889d532f6f) with a replacement dump that looks to actually include the ClientWebSocket and my test code.

[2021-07-22 13:28] lord-executor opened #56150 "[API Proposal]: IServiceProvider should implement IDisposable"
### Background and motivation

Trying to create a compliant implementation of Ninject that works as a service provider, I have come across a small inconsistency.

The [DependencyInjectionSpecificationTests](https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/DependencyInjectionSpecificationTests.cs) already **assume** that the

[2021-07-22 13:29] CarnaViire opened #56151 "[QUIC] Memory leak when stream is finalized"
If  MsQuicStream is left for finalization, related SafeHandles for MsQuic's Stream and Connection are never released. As a result, ConnectionCloseDelegate and StreamCloseDelegate are not called, and msquic holds onto them, so, in addition to memory leak, UDP sockets also stay open.

In the following test, `serverConnection` is disposed and closed properly, while `clientConnection`'s handle survive

[2021-07-22 13:30] karelz commented on #45204
Summary of test history:
- This was new feature in 5.0
- Fails also in 5.0 branches - see top post with 2 reports form release/5.0 branches ... **not a regression** against 5.0
- Test was first disabled on 2020/11/25 in PR #45212
- Test was re-enabled on 2021/6/29 by PR #54683
- Test was disabled again on 2021/7/13 by PR #55593

[2021-07-22 13:51] karelz commented on #41929
Summary of details:
- The test was failing also in release/5.0 branch -- **not a regression**
- It tests a new feature in 5.0
- Frequency of the test failures spiked on 2020/11/5 (see https://github.com/dotnet/runtime/issues/41929#issuecomment-723200076) ... 34 failures in 2 days
- Test was disabled on 2020/11/25 by PR #45214

[2021-07-22 13:52] d-schneider commented on #49424
@Maoni0  Thanks for implementing this! We would prefer a profiling API for this configuration. It is also important for us that we can adjust the allocation tick threshold with this API while the application is running.

Yes, we would still like the object size as part of the allocation tick event. The new AllocationTick_V4 event looks great in this regard!

[2021-07-22 13:58] eerhardt commented on #56150
The [ISerivceProvider](https://docs.microsoft.com/dotnet/api/system.iserviceprovider) interface has shipped since the .NET Framework 1 days. It is part of netstandard. We can't change it as it would be a massive breaking change.

See https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/breaking-changes.md#bucket-1-public-contract

Closing as this isn't a change we can make.

[2021-07-22 13:58] #56150 closed

[2021-07-22 14:05] krwq commented on #47228
@buyaa-n what's the current status of this?

[2021-07-22 14:06] krwq commented on #45343
@janvorli has the port happened? Can this be closed now?

[2021-07-22 14:17] i3arnon commented on #49452
I can take this if that's fine.
I made a PR removing the unused code.
I'm not sure how to generate the RefApiCompatBaseline though..

[2021-07-22 14:20] LakshanF opened #56154 "Improve EventSource trimming"
Using `EventSource `to log data to a listener is fairly advanced ([this](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs#L11-L164) blurb from `EventSource `describes the high level details). Even though .NET runtime take a lot of effort to hide the implementation details from developers who want to write their own `Even

[2021-07-22 14:21] stephentoub commented on #55013
Thanks for sharing the new dump.

It's definitely a deadlock.  The socket connect code was problematically invoking a callback while holding a lock, something that's rarely a good idea:
https://github.com/dotnet/runtime/blob/release/5.0/src/libraries/System.Net.Sockets/src/System/Net/Sockets/MultipleConnectAsync.cs#L90-L131
with DnsCallback invoking SocketAsyncEventArgs.OnCompleted which in turn r

[2021-07-22 14:21] LakshanF commented on #56154
cc @vitek-karas, @sbomer, @eerhardt, @agocke, @MichalStrehovsky

[2021-07-22 14:22] janvorli commented on #45343
Yes, Alpine arm 32 bit is supported in .NET 5.0 and 6.

[2021-07-22 14:22] #45343 closed

[2021-07-22 14:22] krwq commented on #49452
@i3arnon I believe you just need to remove this file https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Reflection.Emit/src/MatchingRefApiCompatBaseline.txt (or the entries you have fixed)

[2021-07-22 14:23] JanLoehe opened #56155 "CultureInfo.InvariantCulture.CompareInfo.IndexOf changes to ignore case when a minus '-' sign is included"
### Description
The IndexOf method changes it's behavior to ignore case when a minus sign is included in the source, when CompareOptions IgnoreNonSpace is used. It is case sensitive when no '-' sign is included.
When I want to combine IgnoreNonSpace with IgnoreCase, then I can do it in following way:
CompareOptions.IgnoreCase | CompareOptions.IgnoreNonSpace
When I use only IgnoreNonSpace, I want i

[2021-07-22 14:27] kevinchalet commented on #52611
@steveharter did you have a chance to take a look at the scenarios I mentioned?

[2021-07-22 14:33] aaronfranke commented on #48615
Note that this proposal is specifically for blittable color. For a general-purpose interchange type, see #32418. It would be highly appreciated if users would post use cases in that proposal.

[2021-07-22 14:35] stephentoub commented on #56072
Sort of.  When there's no OS-based asynchronous mechanism for doing asynchronous DNS resolution, as there is on newer Windows releases, we fall back to implementing Dns.XxAsync via async-over-sync, meaning we queue a work item to the thread pool that will do the operation synchronously.  That, however, can be an issue if you get a burst of requests that all try to resolve the same address at the s

[2021-07-22 14:36] krwq commented on #44931
I assume this is now out of scope for 6.0?

[2021-07-22 14:37] krwq commented on #44931
Changed to future since the other issue is marked as Future

[2021-07-22 14:38] krwq commented on #47517
@steveisok @directhex is this still planned for 6.0? Seems the other issue is fixed

[2021-07-22 14:40] krwq commented on #43605
@maryamariyan I assume the remainder is not gonna happen for 6.0, correct?

[2021-07-22 14:44] tannergooding commented on #48615
@aaronfranke, I do not believe we would look at doing both. #32418, IMO, does not offer any additional benefits over these types and has several drawbacks as discussed in the issue itself.

For example, if you look at the `Color` type in that proposal, it is functionally the `Rgba<float>` from this proposal (and same for `Color8` to `Rgba<byte>`). But with the concepts like HSV and others exposed

[2021-07-22 14:44] kunalspathak opened #56156 "superpmi: Linux arm collection for libraries.pmi"
We have noticed several issues during libraries.pmi for Linux/arm:

1. We hit asserts like below during collection which need to be fixed.

[code]

2. Such errors are not reported back and we silently filter them out from the collection. We need to make sure that we exit with errorcode so the collection step would know that there is some failure.

3. There are several failures of below kind during

[2021-07-22 14:44] kunalspathak commented on #56156
@dotnet/jit-contrib , @BruceForstall

[2021-07-22 14:45] aaronfranke commented on #48615
@tannergooding Can we explicitly distinguish what layout the type is, then? Can we just do whatever MAUI does, but in `System.Numerics`?

[2021-07-22 14:47] karelz commented on #1481
Triage: It needs a test refactor we postponed for years, we don't see urgency to do it in final weeks of 6.0. (Unless we expect to discover critical dual-stack bugs during the process, but this is super unlikely)
Moving to 7.0

[2021-07-22 14:52] alnikola commented on #45204
The test is still failing even with the latest fixes/changes (see #55730).

[2021-07-22 14:52] alnikola commented on #41078
The test is still failing even with the latest fixes/changes (see #55730).

[2021-07-22 14:54] tannergooding commented on #48615
Can you elaborate on what you mean here?

WinForms (`System.Drawing.Color`), nor WPF (`System.Windows.Media.Color`), nor MAUI (`Microsoft.Maui.Graphics.Color`) are good examples of what we are trying to cover here.

In the WinForms/MAUI case they are classes and so represent non-blittable information. In the case of WPF, it is a struct but carries a lot of additional metadata that makes it ineffic

[2021-07-22 14:55] jeffschwMSFT commented on #56101
Adding @jeffhandley and @mangod9 as it is not clear where the increase may be coming from

[2021-07-22 14:55] davidfowl commented on #56072
Environment.ProcessorCount is separate because we can change it based on an environment variable now. I'd want that to be a part of the runtime settings blob we emit

[2021-07-22 14:58] jeffhandley commented on #41720
For .NET 6.0, the project templates now reflect `<Nullable>enable</Nullable>` making use of the nullable annotations on by default for new 6.0 projects.

We will continue with Groups 11 and 12 in .NET 7.0, but as Priority 3. Within each of those groups, we can order the libraries by number of downloads on nuget.org (per suggestion from @krwq).

[2021-07-22 15:03] kevinchalet commented on #53406
As mentioned in https://github.com/dotnet/runtime/issues/52611, this property would be very useful in OpenIddict. Any chance it could be discussed for 6.0?

[2021-07-22 15:04] Jeyyu opened #56158 "[API Proposal]: Creating a platform independent GUI like Java Swing for CoreCLR"
### Background and motivation

**I think it would suit C# good. This feature is the best way to ensure a singlecodebase everywhere CoreCLR runs on. Its also way better to maintain this way. A lot of project where written in Java because of a feature like this.**

There are a lot of alternatives but most of them are wrappers that needs to be updated often/are platform dependent/ none of them are tr

[2021-07-22 15:07] adamsitnik commented on #55951
Since this is not a regression, I am moving it to future

[2021-07-22 15:08] antonfirsov opened #56159 "Regression in HTTP/1.1 stress tests: ObjectDisposedException ('SslStream')"
Since ~last Sunday (July 18)~, every HTTP 1.1 Linux CI stress run has at least one occurrence of the following new failure type:

https://dev.azure.com/dnceng/public/_build/results?buildId=1248255&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=45b31e99-b18c-506f-46cf-7d3a4d5140a9

<details>
<summary>Stack Trace</summary>

[code]

</details>

~After a quick naive look at recently merged `System

[2021-07-22 15:09] #55608 closed

[2021-07-22 15:11] adamsitnik commented on #45203
@Jozkee is there any chance that you could take a look at this while you are fixing other `FileSystemWatcher`-related issues? If not please move it to 7.0

[2021-07-22 15:13] adamsitnik commented on #44543
@marek-safar does it meet the 6.0 bar?

[2021-07-22 15:13] baal2000 commented on #49215
We'll record this value during future crash events and comment here if there is new data.

[2021-07-22 15:16] aaronfranke commented on #48615
I mean the same thing as what you mean here:

[2021-07-22 15:16] adamsitnik commented on #44542
In the new and default strategy for `FileStream` introduced in #55191 we don't use this API anymore, so I am going to close this issue.

[2021-07-22 15:16] #44542 closed

[2021-07-22 15:19] eerhardt commented on #56105
Can you cast to workaround this issue?

[code]

[2021-07-22 15:21] adamsitnik commented on #36836
@steveisok @marek-safar should we move it to 7.0?

[2021-07-22 15:24] svick commented on #56140
What makes you think the proposed method would be any faster than a dictionary?

[2021-07-22 15:25] karelz commented on #55093
Triage: Seems to be answered to our best knowledge, closing

[2021-07-22 15:25] #55093 closed

[2021-07-22 15:31] kunalspathak commented on #56020
Arm64 regression - https://github.com/DrewScoggins/performance-2/issues/7611

[2021-07-22 15:32] CarnaViire commented on #56115
I don't remember duplex tests for S.N.Quic either, but I've just tried this
[code]
And duplex on Quic side seems ok. Possibly something on HTTP/3 side. I don't know how to easily check HTTP/3 yet.

[2021-07-22 15:32] tannergooding commented on #48615
I'm still not understanding. `Rgba<T>` and `Argb<T>` both explicitly list the layout in their name.

[2021-07-22 15:33] mangod9 commented on #49215
Yup sounds good

[2021-07-22 15:40] adamsitnik commented on #45436
I am going to close this issue as #45563 has minimized the problem and #45592 tracks the new API for disabling that.

[2021-07-22 15:40] #45436 closed

[2021-07-22 15:42] lkelley-bec commented on #55013
Given that it typically fails before 50 loops on .NET 5 and it's just passed loop 1000 on 6.0.0-preview.6 without getting stuck, it seems to be fixed there. Thanks for the quick find!

What's the best path forward for users of .NET 3.1? I can probably get away with either the workaround I mentioned earlier (which really only mitigates the problem, if I understand your explanation correctly) or jus

[2021-07-22 15:46] adamsitnik commented on #55822
+1

[2021-07-22 15:46] kunalspathak commented on #47444
This is the failure on same machine `ddvsotx2l280` but on different position `2488567`. In prior run it was  failing on position `3492055`.  @MattGal , @danmoseley

[2021-07-22 15:47] adamsitnik commented on #53577
@Jozkee @carlossanlop @jeffhandley moving to 7.0

[2021-07-22 15:49] ceilingfish commented on #51269
I found I was able to work around this issue with

[code]

So maybe something to do with the apphost.exe?

[2021-07-22 15:50] adamsitnik commented on #52332
@akoeplinger should we move it to 7.0?

[2021-07-22 15:52] #36396 closed

[2021-07-22 15:53] teo-tsirpanis commented on #56158
How about https://github.com/dotnet/maui?

[2021-07-22 15:55] wfurt commented on #56159
This was also reported from field and happens rarely. I don't think it is recent regression.

[2021-07-22 15:56] aaronfranke commented on #48615
I don't think that the layout has to be explicitly stated in the name for it to be well-defined. Concepts like HSV and others exposed as properties are still well-defined. In fact, the HSV values don't at all depend on the in-memory layout of the channels.

That's basically what the general-purpose color type is for. It provides basic functionality of storing colors in RGBA format with basic opera

[2021-07-22 15:57] tannergooding commented on #55823
These are all likely issues in the Mono handling of `static virtuals in interfaces`. CC. @lambdageek

[2021-07-22 15:59] tannergooding commented on #48615
What are you seeing in #32418 that isn't covered by this proposal then (and the planned future API additions to the base types described here)?

[2021-07-22 15:59] eerhardt commented on #42364
Moving to Future, as 6.0 has hit feature complete and we won't be adding new features to 6.0.

I wonder if we would ever do this in the future, and if we should just close this issue.

[2021-07-22 16:02] wfurt commented on #44183
We we have more data then 2020/10? This was insatiable since ever AFAIK. Likely due to underlying OS support.

[2021-07-22 16:06] mangod9 commented on #56101
Hey @Tohron, how are the measurements being done for asp.net components? Is it the same build of the assemblies but then "published" with certain settings: R2R, trimmed etc?

[2021-07-22 16:10] lord-executor commented on #56150
Hmm... Fair enough. That _would_ be a breaking change with netstandard. But, isn't requiring implementations of `IServiceProvider` to also implement `IDisposable` _also_ a bit of a breaking change? I mean technically, the compliance tests are quite quesionable since they rely on the fact that `ServiceProvider` behaves like an `IServiceScope` if you cast it as an `IDisposable`.

Of course I see the

[2021-07-22 16:12] krwq commented on #44713
[Triage] I'm moving this to 7.0 since this is non-essential. Some work has already be done. If anyone wants to contribute here we're still open for PRs.

[2021-07-22 16:13] #51866 closed

[2021-07-22 16:15] krwq commented on #44816
[Triage] Is this tracking the same work as https://github.com/dotnet/runtime/issues/44713 ? In the meantime we're moving this to 7.0 as it seems non-essential for 6.0

[2021-07-22 16:19] mmitche opened #56162 "Internal PRs broken for runtime"
Internal PRs are broken for the runtime repo see https://dev.azure.com/dnceng/internal/_build/results?buildId=1253092&view=results for an example. My guess is that there is some inconsistent usage of YAML conditionalization based on whether the build is running on the internal project or PR/not-PR

[2021-07-22 16:19] eerhardt commented on #56150
We can definitely change the compliance tests to be consistent - in this case, don't do hard casting, but instead use `is` or `as` checks. I agree it shouldn't be a hard constraint for all `IServiceProvider` implementations to be `IDisposable`.

[2021-07-22 16:21] xPaw commented on #55527
This silent breaking change is not great.

Looking at the pull request, even the test code did not loop on Read() here:

https://github.com/dotnet/runtime/pull/53644/files#diff-5357a7e544a239c386565930616bb522eb66288be5b0abe3ab293726f7b417c6

Are you sure the behavior of CryptoStream.Read before was not always reading the full data, where as now that needs to be done by the consumer?

[2021-07-22 16:22] krwq commented on #32307
[Triage] Seems it's non essential for 6.0.

[2021-07-22 16:24] lord-executor commented on #56150
Sounds reasonable enough. I can create a new bug ticket and create a small PR for that. Would that be the way to proceed?

The tricky bit is going to be trying to find out if that assumption is used anywhere else in the code, but I guess running all the tests should already cover the vast majority of use cases.

[2021-07-22 16:26] billybraga commented on #56105
Yes, seems to work.

[2021-07-22 16:28] radical commented on #11063
Another - https://dev.azure.com/dnceng/public/_build/results?buildId=1252182&view=logs&j=2296eecc-f5ab-523f-c15d-f45eef1bfdea&t=d328b091-66a6-5d96-5a21-3cf77f57f009

[2021-07-22 16:32] krwq commented on #30107
this is most likely test bug so marking as such

[2021-07-22 16:32] eerhardt commented on #42993
With #56057 we no longer block on ProcessExit in the ConsoleLifetime on net6.0. So this issue is now fixed.

However, the correct fix here is to not use ConsoleLifetime in a WPF app, since it is not a "console app". So implementing your own WpfLifetime is the right idea.

[2021-07-22 16:32] #42993 closed

[2021-07-22 16:37] antonfirsov commented on #56159
Maybe it's not entirely new, but we haven't seen it in the stress runs before, and after 7/18 it suddenly started to impact literally every stress run.

[2021-07-22 16:37] #55838 closed

[2021-07-22 16:39] jonathanpeppers opened #56163 ".NET 6 Android AOT fails on certain folder names"
### Description

Create a `dotnet new android` project in a folder named such as `BuildAotApplicationAndBundle AndÜmläüts_arm64-v8a_False_True`.

Build with `-c Release -p:RunAOTCompilation=true`, and you get the error:

[code]

A screenshot of the `.binlog` viewer shows odd characters as well:

![image](https://user-images.githubusercontent.com/840039/126675644-bb5fac69-bef1-4fc9-a57f-4a8b184ba98

[2021-07-22 16:40] Jeyyu commented on #56158
@teo-tsirpanis

[https://docs.microsoft.com/en-us/dotnet/maui/what-is-maui](url)

As far as I understand it, Its much like Xamarin.Forms.

It **uses platform specific dependencies** to create the GUI, which has its pro`s and **con`s.

Problems like:

[https://medium.com/young-coder/net-6-has-a-linux-shaped-hole-23010395d11e](url)

would not matter cause a truly independent GUI only need the runtim

[2021-07-22 16:45] antonfirsov commented on #56159
@MattGal are you aware of any recent changes around `BuildPool.Ubuntu.1804.Amd64.Open`?

[2021-07-22 16:46] radical opened #56165 "`System.IO.Tests` getting killed (OOM?) for `Libraries Test Run release mono Linux arm64 Debug`"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1251997&view=logs&jobId=3f95ca23-483b-5dc9-4b05-6bd24fb925c2&j=3f95ca23-483b-5dc9-4b05-6bd24fb925c2)
[Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-56117-merge-c5ee18108e2446fba0/System.IO.Tests/console.c40b4b9f.log?sv=2019-07-07&se=2021-08-11T01%3A06%3A19Z&sr=c&sp=rl&sig=xamsDrp5j2n0LGilrCLAG

[2021-07-22 16:48] kefyru commented on #56140
Generic call takes about 2ns, dictionary lookup by type takes 30-40ns

[2021-07-22 16:49] #53365 closed

[2021-07-22 16:49] GrabYourPitchforks commented on #56158
I'm untagging this as API proposal because no API is proposed. It's instead asking for an entire pillar to be created.

[2021-07-22 16:52] eerhardt commented on #56105
I don't believe we can do anything else here. Is the workaround above acceptable? Or to use the `Describe` factory method to create the ServiceDescriptor.

Note that we can't hide the public API anymore, since that would be a breaking change. And it is valid to use that API when not using `TryAddEnumerable`.

[2021-07-22 16:54] radical commented on #53314
Try the `Release/6.0.1XX-preview7 (6.0.x Runtime)` builds from https://github.com/dotnet/installer, scroll down to find them.

[2021-07-22 16:55] #55631 closed

[2021-07-22 17:05] radekdoulik opened #56166 "[wasm] `performance` repo: wasm-tools workload installation fails randomly"
The installation for the performace CI builds is failing randomly like here https://helixri8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-alicial-wasmaotmicr448c314f6f6941daa4/x64.micro.net6.0.Partition11/console.dbe24a6e.log?sv=2019-07-07&se=2021-10-19T17%3A57%3A11Z&sr=c&sp=rl&sig=uFl%2FQ3RhxB9G%2BIQx120Qtws8L1maPMrQIg4vLmt8auM%3D

Usually even after retry.

[code]

[2021-07-22 17:05] radekdoulik commented on #56166
@lewing do you know what might be happening here?

[2021-07-22 17:08] karelz commented on #55013
@lkelley-bec we would consider servicing 3.1 if there is strong need for that -- i.e. no workarounds, high impact on more customers, etc.
Is that the case for you?
Given that 6.0 is around the corner, would upgrading to 6.0 be an option for you as well?

Closing as addressed in 6.0

[2021-07-22 17:08] #55013 closed

[2021-07-22 17:10] lewing commented on #56166
@radical what feed is it restoring from?

[2021-07-22 17:11] maryamariyan commented on #43605
correct.

[2021-07-22 17:12] davidmatson commented on #35990
@eerhardt - to clarify the status here: with the merged fix, does the repro at the top now work as in the Expected behavior section above (run all the cleanup steps listed and return an exit code of 123 from Main)?

Thanks

[2021-07-22 17:15] buyaa-n commented on #47228
Previously detected PNSEs on cross-platform builds and filed issues with findings, yesterday started the work detecting PNSEs on targeted builds and will file/update issues with findings. Overall this issue will cover the detecting PNSEs and that work will be done within 6.0. But some of the related issues might not make 6.0, depends on the area owners

[2021-07-22 17:15] davidmatson commented on #35990
Also, does it work that way specifically on Windows?

[2021-07-22 17:30] alyssajotice opened #56169 "Https requests on Debian fails with SSL error"
### Description

Live Share from a Debian machine does not work due to the following error: `Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.`

Looks similar to https://github.com/dotnet/runtime/issues/29855, but I am using openssl 1.1.1d and do not have any previous versions downloaded.

[2021-07-22 17:33] briansull commented on #55241
I am investigating this issue

[2021-07-22 17:35] codingdna2 commented on #42993
Thanks @eerhardt, but I should clarify here the issue was not the ConsoleLifetime (in fact implementing WpfLifetime was a test I've commented above) but the usage of Tasks from the OnApplicationExit event.

[2021-07-22 17:35] eerhardt commented on #35990
No. That is unreasonable expected behavior. See https://docs.microsoft.com/en-us/dotnet/api/system.environment.exit?view=net-5.0#remarks for what to expect with `Environment.Exit`. Specifically:

When calling `Environment.Exit`, your "Main" method doesn't complete. Also see @jkotas's [comment above](https://github.com/dotnet/runtime/issues/35990#issuecomment-825084358).

With the merged fix, Hosti

[2021-07-22 17:35] #42613 closed

[2021-07-22 17:40] safern commented on #2394
@clamp03 that looks like you are going on the right direction. Also if you shared a branch it would be easier to diff, but overall looks like you are on the right path.

[2021-07-22 17:43] Ponant commented on #40579
Is the bottom line that the using can be skipped by using the static HashData?

[2021-07-22 17:43] davidmatson commented on #35990
@eerhardt - sorry, I should clarify ignoring Environment.Exit to trigger process stop as in jkota's commet above. If, at that point in the code, CTRL+C or docker stop happens, will it now behave as in the Expected behavior section, even on Windows?

Thanks

[2021-07-22 17:46] bartonjs commented on #40579
* The using
* The object creation
* The pooling that people often write to avoid the object creation
* The questions about thread safety that some of the people who write pooling often have

[2021-07-22 17:48] davidmatson commented on #35990
I'm particularly interested in the docker stop case on Windows - at least last time I looked, docker stop used system shutdown, which is a non-cancellable event.

[2021-07-22 17:49] stephentoub commented on #40579
What Jeremy said... it's simpler and faster.

|       Method |       Mean |    Error |   StdDev | Ratio |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|------------- |-----------:|---------:|---------:|------:|-------:|------:|------:|----------:|
| WithInstance | 1,185.3 ns | 10.21 ns |  9.55 ns |  1.00 | 0.0381 |     - |     - |     240 B |
|   WithStatic |   972.3 ns | 12.58 ns | 11.15 ns |  0.82 | 0.0

[2021-07-22 17:50] radical commented on #56166
Was that question for @radekdoulik?

[2021-07-22 17:52] eerhardt commented on #35990
Yes. When `CTRL+C` or `docker stop` is issued to the process, the Hosted process will now gracefully exit and return `123`. Yes, even on Windows and in Windows containers.

[code]

[code]

Above I ran `docker stop 93c982cee9f8` from a separate command prompt after `docker run`.

[2021-07-22 17:52] Ponant commented on #40579
Well that pretty great guys. I came accross this in a way pretty randomly. I saw methods using using `ReadOnlySpan`, should we favor them, too?
Also, how disposal work now, I guess in the background but how?

[2021-07-22 17:53] jkotas commented on #56154
Event source is an example of reflection-based serializer. Every reflection-based serializer faces very similar set of problems with trimming. I believe source generators are the only sustainable way to solve them.

[2021-07-22 17:54] lkelley-bec commented on #55013
Waiting for 6.0 will work for my situation. Thank you for your help!

[2021-07-22 17:56] sandreenko opened #56174 "`kind == Overwrite` assert in jitstress"
The failures look like:
[code]

and are common for all platforms, they appeared in https://dev.azure.com/dnceng/public/_build/results?buildId=1252387&view=ms.vss-test-web.build-test-results-tab, changes in that batch https://dev.azure.com/dnceng/public/_traceability/runview/changes?currentRunId=1252387

PTAL @dotnet/jit-contrib

[2021-07-22 17:56] radical commented on #56021
@thaystg this seems to be about indexing arrays in the `immediate window`. Does that work now?

[2021-07-22 17:57] wfurt commented on #56169
Try to add custom validation and check why:
[code]
You can also iterate through system's `Root` certificate store and check that the server you connecting to is signed by CA from that list.

[2021-07-22 17:58] GrabYourPitchforks commented on #40579
It depends on your needs. If you already have a destination span you want the results written to, call the overload that takes a destination span. Otherwise call the overload that creates the result array on your behalf.

Depends on the OS. For example, we may keep a shared handle around and keep reusing it. Or we may call a specialty OS API under the covers. This is just an implementation detail

[2021-07-22 17:58] thaystg commented on #56021
Not yet.

[2021-07-22 17:59] AndyAyersMS commented on #56174
Probably my change (#55936)

[2021-07-22 17:59] wfurt commented on #56169
The trace looks like 3.1, can you confirm?

[2021-07-22 18:01] Ponant commented on #40579
That is great thank you. I think the docs should explain this somehow, I was updating a library I had from .Net Standard and somehow came to this thread by chance. The compute hash method is not labelled as obsolete.

[2021-07-22 18:03] Ponant commented on #40579
@stephentoub , the allocation ratio is huge! (240/56)

[2021-07-22 18:05] Jozkee commented on #45203
This issue was introduced by https://github.com/dotnet/runtime/pull/42419.
It was backported to 5.0 (https://github.com/dotnet/runtime/pull/42420) and 3.1.9 (https://github.com/dotnet/corefx/pull/42989). that's why @Erfa1l is able to workaround it with 3.1.1.

It was fixed in 6.0 by https://github.com/dotnet/runtime/pull/42474.

Since 6.0 will release soon. Are you folks able to wait for the fix t

[2021-07-22 18:05] Maoni0 commented on #49424
@d-schneider thanks for confirming! that's the same as what @noahfalk told me. I've pulled out the runtime config and kept the new AllocationTick_V4 event in my PR. for adjusting the threshold with profiling API, the diagnostics team will handle that (@davmason @noahfalk). it shouldn't be hard to add it and allow it to change the threshold while the process is running.

[2021-07-22 18:07] stephentoub commented on #40579
That's because it's only allocating the resulting byte[] now rather than also allocating the SHA256 instance and associated state.

[2021-07-22 18:08] adamsitnik commented on #45203
If it was fixed in #42474, then we can close it. @Jozkee thanks!

[2021-07-22 18:08] #45203 closed

[2021-07-22 18:09] GrabYourPitchforks commented on #56020
@DrewScoggins @kunalspathak @stephentoub How important is it that _this particular input_ (`long.MinValue` / `long.MaxValue` / `ulong.MaxValue`) not regress? Per earlier comments this change appears to have benefited the common case where we're parsing more typical numbers, and it's only once we start going down edge cases that the perf lab is flagging things.

On a related note, I've seen numerou

[2021-07-22 18:11] #36091 closed

[2021-07-22 18:12] GrabYourPitchforks commented on #40579
The docs should explain what, specifically? The existing `ComputeHash` instance method is not obsolete, nor are there current plans to make it obsolete.

[2021-07-22 18:13] agocke commented on #56160
Right -- the key is that the command is `dotnet exec --runtimeconfig ...`. The help text makes it sound like you can just do `dotnet --runtimeconfig` but I don't think that's correct.

[2021-07-22 18:15] davidmatson commented on #35990
Excellent. Thanks, @eerhardt!

[2021-07-22 18:39] JamesNK commented on #56129
In a duplex scenario, the client and server sends are still open. The client hasn't finished sending. I'll update the description in the first post to be more explicit.

[2021-07-22 18:40] mateoatr commented on #54955
Dup of #54260

[2021-07-22 18:40] #54955 closed

[2021-07-22 18:41] #44186 closed

[2021-07-22 18:41] stephentoub commented on #56020
It's a balancing act.

If we care at all about the edge cases, I think it's still worth having representative examples of them harnessed in the perf tests; if we made parsing long.MaxValue 10,000x times slower, we'd want to know about it and that would likely outweigh other improvements that made most parsing 5% faster, since there are legitimate cases where that value might manifest and be parsed

[2021-07-22 18:43] #49563 closed

[2021-07-22 18:46] AaronRobinsonMSFT commented on #48796
@filipnavara This proposal is about an attribute for Native Varargs - that approach isn't a good idea because we can instead use the `UnmanagedCalleeAttribute` which takes a type that indicates multiple calling convention modifiers. The concern is best described in  https://github.com/dotnet/runtime/issues/48796#issuecomment-786362375. As mentioned in my comment the correct replacement for this is

[2021-07-22 18:49] filipnavara commented on #48796
How do you use `UnmanagedCalleeAttribute` to specify where the fixed args end and the varargs start?

[2021-07-22 18:51] geoffkizer commented on #56115
The HTTP2 duplex tests are here: https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs#L2497

Most of the relevant test methods are named "PostAsyncDuplex_*".

[2021-07-22 18:52] billybraga commented on #56105
I understand. Maybe this could be documented somewhere.

[2021-07-22 18:56] Tohron commented on #56101
The person who set this up, @DrewScoggins , is OOF for the rest of the week, so unfortunately I can't answer that.

[2021-07-22 18:58] SamMonoRT commented on #55339
Moving to 7.0.0

[2021-07-22 19:00] #54214 closed

[2021-07-22 19:01] SamMonoRT commented on #37509
Moving to 7.0.0

[2021-07-22 19:01] SamMonoRT commented on #33557
Moving to 7.0.0

[2021-07-22 19:02] SamMonoRT commented on #43909
Moving to 7.0.0

[2021-07-22 19:05] insolublemaize opened #56204 "Properties defined in inherited interface sometimes fail to serialize"
### Describe the bug
Suppose you have `ICar` which inherits from `IVehicle`. When `ICar` is used as the return type from a controller action, it is serialized correctly.

But if a class `CarWrapper` has a property of type `ICar`, when `CarWrapper` is used as the return type from a controller action, the properties defined in IVehicle fail to serialize.

### To Reproduce
An example can be found her

[2021-07-22 19:08] SamMonoRT commented on #38480
@BrzVlad - is the last tracking item above " interp - ditto - emit GC transitions around calli instructions with the pinvoke bit set." necessary for 6.0 ?

[2021-07-22 19:08] #45375 closed

[2021-07-22 19:08] huoyaoyuan commented on #56158
Qt for comparison too.
Ideally there should be a "light" enough GUI library that focus on desktop platforms. MAUI/Xamarin is somehow "rich" and focuses on mobile platforms.

[2021-07-22 19:10] AaronRobinsonMSFT commented on #48796
That is a UX question we would need to work through but I am not sure that is needed based on a previous conversation - which I may be misremembering. The gist was regardless of where the fixed args or varargs exist the way they are passed is the same for a native varargs signature - I could be misremembering the conversation but that is what I recall. There is also the more fundamental UX questio

[2021-07-22 19:10] SamMonoRT commented on #49640
Moving this to 7.0.0

[2021-07-22 19:11] Jehoel commented on #45190
I know `System.Text.Json` won't invoke `private` members by default, but I'm surprised and disappointed that we cannot explicitly denote private constructors with `[JsonConstructor]`.

Ideally I'd like to reuse the same DTO types in `Newtonsoft.Json` and `System.Text.Json` contexts (with suitable `using JsonPropertyAttribute = System.Text.Json.Serialization.JsonPropertyNameAttribute` in `#if USE_S

[2021-07-22 19:12] SamMonoRT commented on #47756
@marek-safar @lewing - I don't believe this is strict requirement for 6.0. Can this be moved to 7.0.0 ?

[2021-07-22 19:12] #43904 closed

[2021-07-22 19:17] karelz commented on #46797
Seems to be addressed now.

[2021-07-22 19:19] vitek-karas commented on #56160
Hmm - I didn't know this, but it's true. When running in muxer mode (`dotnet app.dll`) `--runtimeconfig` is not a recognized option - so depending on the command line it will be treated as either unknown option, or option passed to the app.
The help is generated for all options, regardless of when/how they're valid unfortunately.

[2021-07-22 19:19] svick commented on #56140
Yeah, but the method you're proposing would need to do a lot more than a simple generic call. So how do you suggest it could be implemented in a way that makes it faster than a dictionary?

[2021-07-22 19:20] Ponant commented on #40579
Explain the difference in usage, and also provide examples as done above. If not to be obsoleted, then explain in what scenario the old method would be better, e.g. for projects targeting .Net5+ the static version seems better.
E.g. in these docs the using is used https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.sha256?view=net-5.0.

[2021-07-22 19:20] SamMonoRT commented on #55919
I assume this is the only one you needed to disable ? https://github.com/dotnet/runtime/pull/56139  ?

[2021-07-22 19:21] agocke commented on #56160
I think it's also order-dependent. The app DLL has to come first, but after that you can pass `--runtimeconfig`

[2021-07-22 19:22] karelz commented on #55988
Triage: 100% repro on this type of request.

[2021-07-22 19:24] sr55 commented on #56038
Thank!  Will subscribe upstream. Feel free to close as duplicate.

[2021-07-22 19:25] karelz commented on #56115
Triage: We should find out if it is Duplex specific - if yes, punt it to 7.0.

[2021-07-22 19:26] vitek-karas commented on #56160
You can, but it will be passed to the app as one of its command line arguments, it will NOT be recognized as host option (I just tried).

[2021-07-22 19:27] karelz commented on #55249
Triage: Lower priority, unless it is problem when going up to 10 parallel requests.

[2021-07-22 19:30] karelz commented on #55347
Triage: Given simplicity, we should fix it to make interop a bit better.

[2021-07-22 19:35] filipnavara commented on #48796
On x64 you don't need the information. On arm64 you do, varargs always go to stack, up to 8 fixed args go to registers. You pointed out in the other issue (#51156) that it replaces this proposal but it left out this fundamental issue which was the driving impetus for this proposal and the user scenarios in #48752.

The `UnmanagedCalleeAttribute` does not address this problem in any way as far as I

[2021-07-22 19:36] agocke commented on #56160
in that case we can probably change the help message to something like

[code]

[2021-07-22 19:37] karelz commented on #56129
Triage: If it is not specific to Duplex, we should try it in 6.0.

[2021-07-22 19:38] vitek-karas commented on #56160
You can still use `--fx-version` or `--roll-forward` or `--additional-deps` or `--additional-probing-path`... it's ... complicated 😢

[2021-07-22 19:41] filipnavara commented on #48796
Honestly, I think this should stay open with `api-needs-work` tag and explanation of why the approach in the original proposal is not good. Just my $0.02.

[2021-07-22 19:47] eerhardt opened #56178 "Most of Microsoft.Extensions.FileProviders.Physical should be supported on Browser"
Hosting uses `PhysicalFileProvider`, which is not supported on Browser. See https://github.com/dotnet/runtime/pull/55664.

We should just mark the specific APIs that aren't supported on Browser instead of the whole assembly.

cc @SteveSandersonMS @pranavkm @Tratcher @davidfowl @Jozkee

[2021-07-22 19:49] CarnaViire commented on #56129
From online discussion: This is not specific to duplex, it will most probably show on disposing not finished request (e.g. upload?) Dispose on Quic stream will send FIN flag on write side - that's why server's Read was returning 0. We need to add HTTP/3 level logic to be sure to differentiate between fully sent and canceled request, and in case of canceled, call AbortWrite on Quic stream before di

[2021-07-22 20:06] #56084 closed

[2021-07-22 20:17] lord-executor opened #56181 "Inconsistent use of ServiceProvider.Dispose() in DI specification tests"
### Description
[DependencyInjectionSpecificationTests](https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.Extensions.DependencyInjection.Specification.Tests/src/DependencyInjectionSpecificationTests.cs).DisposesInReverseOrderOfCreation is assuming that the `IServiceProvider` implementation also implements `IDisposable` while all other usages indicate that implementing `IDisposabl

[2021-07-22 20:17] JamesNK commented on #55249
I've tested and it fails with even 10 parallel requests.

Logs:

[code]

[2021-07-22 20:18] lord-executor commented on #56181
@eerhardt - as discussed in #56150, I created a new bug for this.

[2021-07-22 20:21] VSadov commented on #42363
Yes, this is a duplicate of https://github.com/dotnet/wpf/issues/3516

[2021-07-22 20:21] #42363 closed

[2021-07-22 20:22] #55961 closed

[2021-07-22 20:25] KratiChauhan commented on #56132
Thanks for your suggestion. Will try them. I am however able to resolve the name when I run the powershell command [System.Net.Dns]::GetHostName().
Also the previous version of application using the command works but not the new application that we create.

[2021-07-22 20:27] VSadov commented on #43251
@agocke - I assume this either need to be moved out of 6.0 or closed, if there is a right replacement bug.

[2021-07-22 20:29] #56055 closed

[2021-07-22 20:29] avdv opened #56182 "JSON deserialization for positional record throws exception w/ Source Generator"
### Description

Following the instructions here: https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-source-generator/ I created a new project, installed the latest build for the System.Text.Json package:

1. `dotnet new console`
2. `dotnet add package System.Text.Json --version 6.0.0-rc.1.21372.4`

Code:
[code]

This works when using the reflection based deserialization.

But thro

[2021-07-22 20:36] optimizasean commented on #55732
Oops @barton, nice catch!  fixing source...

[2021-07-22 20:37] rolfbjarne commented on #55986
OK, I think I was confused, and hopefully I've figured things out now.

In legacy Xamarin, we can select at build time which handler is the default for `HttpClient` (be it `NSUrlSessionHandler`, `HttpClientHandler` or `CFNetworkHandler`). So the build time option affects how "new HttpClient ()" behaves.

In .NET, we can select at build time which implementation `HttpClientHandler` should use (be i

[2021-07-22 20:43] wfurt commented on #55249
[code]
where this comes from?

is there asp.net test that demonstrates that? (or better yet add test ton runtime or have standalone repro)

[2021-07-22 20:46] noahfalk commented on #56143
From the original thread I wrote:

David replied:

[2021-07-22 20:51] maryamariyan commented on #36093
It would be good to address this in 7.0.

[2021-07-22 20:55] noahfalk commented on #56072
Thanks @stephentoub. Perhaps the desirable metrics would be the maximum size of the dictionary ever observed and the maximum size of the task queue for any single key? You might also want to measure maximum latency for a single request or a batch of requests, a lot of this depends on what we want to learn about the implementation.

Thanks @davidfowl - I captured your response over on #56143 so we

[2021-07-22 21:00] layomia commented on #56182
Thanks for the feedback! I'm currently working on a PR fixing this and will tag you once it's ready.

[2021-07-22 21:02] wegylexy commented on #55249
There is a guard for `ReadAsync()`, but none for `WriteAsync()`.
In the following places, `nullptr` is passed as the client send context, and then the same `SendResettableCompletionSource` is reused with the same internal `ManualResetValueTaskSourceCore<T>`, which must not be awaited again until the previous continuation completes.
Since it is thread-safe to write asynchronously on the same stream

[2021-07-22 21:08] optimizasean commented on #55732
@bartonjs You are right, it is not the ClaimsIdentity or ClaimsPrincipal that does the bundling.  It is the system JWT package.  I use JWT in my application.  I bundle the claims in my example to represent how it ends up after being processed by .NET (System.IdentityModel.Tokens.Jwt) which is to combine all claims of same type into value array.  It seems to be the Microsoft intended behavior accor

[2021-07-22 21:10] safern commented on #55251
Dup of #54941

[2021-07-22 21:10] #55251 closed

[2021-07-22 21:18] wfurt commented on #55249
guarding agains concurrent IO should be done as part of #52627.

[2021-07-22 21:19] wfurt commented on #55249
In this case, @JamesNK claims he does not do concurrent IO in given stream. That part _should_ work. We just need to work out good repro.

[2021-07-22 21:20] buyaa-n commented on #50528
Adding few more:
API | Comment | Suggestion | Location
-- | -- | -- | --
'ECDsa.ECDsaImplementation.ECDsaSecurity Transforms.ExportExplicitParameters(bool)'  |  unconditionally throwing, reachable on iOS, tvOS, OSX unreachable:   browser | UnsupportedOSPlatform("iOS"), UnsupportedOSPlatform("tvOS"), UnsupportedOSPlatform("tOSX") |  \libraries\Common\src\System\Security\ Cryptography\ECDsaSecurityT

[2021-07-22 21:21] mikem8361 commented on #50938
We don't have time to implement this in 6.0.0. Can we move this to 7.0.0?

[2021-07-22 21:24] mikem8361 commented on #52521
Moving this to 7.0.0 because there is nothing we can do in createdump to prevent it from being killed in low memory scenarios

[2021-07-22 21:28] optimizasean commented on #55732
It is related to the JWT built through System.IdentityModel.Tokens.Jwt.  JwtPayload apparently combines all claims of same type into a string array of values under one claim.  I think this actually should be related to Blazor WASM and how HasClaim is implemented there but this also might be a problem with webapi on the receiving end of JWT tokens.  If HasClaim can't handle that in blazorwasm, I wo

[2021-07-22 21:29] wegylexy commented on #55249
@wfurt Rather, I wish .NET QUIC streams support concurrent IO when `msquic` does. For optimization, maybe two constructor options like `Channel` has, i.e. `SingleReader` and `SingleWriter`. When the user opts in to single, reuse the value task source, otherwise use new value task sources and pass its `GCHandle` into `msquic` client send context for correct continuation in the send complete event.

[2021-07-22 21:32] wfurt commented on #55249
We talk about it @wegylexy and agreed that the benefit is not worth of the complications. If you have something that would greatly benefit from that write that up on the linked issue. You cannot do that with SslStream either.

[2021-07-22 21:38] GrabYourPitchforks commented on #47444
Spitballing a few ideas.

One option is that we try to log the physical memory address where this failure occurs. From the managed side it'd be easy enough to record the process's virtual memory address, but I don't know how to reliably map that back to a physical memory address short of having some system-level service already running on the box and using IPC.

Another option is to query the mach

[2021-07-22 21:42] alyssajotice commented on #56169
Yes, we're on 3.1.408.

[2021-07-22 21:43] vcsjones commented on #50528
The public entry, `Create` is already marked with `UnsupportedOSPlatform`:

https://github.com/dotnet/runtime/blob/a2f2a629328a136c2cd18f2cd729e3854de2aeb4/src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.cs#L38

So I think that one is already taken care of.

[2021-07-22 21:44] cshung opened #56186 "GC does not compile when BACKGROUND_GC is not defined."
It would be nice to at least make it compiles.

[2021-07-22 21:46] Maoni0 commented on #56186
it would be; it's not something I would spend time on right now though.

[2021-07-22 21:56] #53549 closed

[2021-07-22 21:59] wegylexy commented on #52627
Let's say in a multiplayer game, there are players A, B and C, each with a single QUIC stream connected to the server.
When B and C simultaneously take an action, the game writes on their stream respectively.
The server reads from the streams of B and C asynchronously, and writes on the stream of A.
Without concurrent IO support, the server would need to copy stuff into an unbound `Channel` which

[2021-07-22 22:03] safern commented on #54946
Hello, @djthegr8. Thank you for submitting the issue. This is most likely a `libgdiplus` issue about not supporting this specific scenario.

However, we just announced that we will not longer support `System.Drawing.Common` on non-Windows OSs because of `libgdiplus` lacking a lot of stability and features. You can read more about this here: https://github.com/dotnet/designs/blob/main/accepted/2021

[2021-07-22 22:03] #54946 closed

[2021-07-22 22:08] safern commented on #54620
Thanks @jez9999 -- closign this in favor of: https://github.com/dotnet/runtime/issues/54737

[2021-07-22 22:08] #54620 closed

[2021-07-22 22:11] safern commented on #54648
@factorware thank you for reporting the issue. Does this behavior repro for you on .NET 5 or .NET 6?

[2021-07-22 22:13] safern commented on #33473
@marek-safar given the decision we made to make `System.Drawing.Common` windows specific I believe we should close this issue?

[2021-07-22 22:18] safern commented on #53663
@tsvx thank you for raising the issue. I did look at this and it seems like it is libgdiplus specific, there is a lot of memory that they are missing to free when disposing a graphics object.

Agreed, and we have stated in our documentation that we don't recommend `System.Drawing.Common` on services like web servers, also it is not. thread safe.

I'm going to close this issue as it is `libgdiplus`

[2021-07-22 22:18] #53663 closed

[2021-07-22 22:21] safern commented on #52761
Given that the question seems responded I will close this issue. Please let me know if you have any other questions.

[2021-07-22 22:21] #52761 closed

[2021-07-22 22:23] safern commented on #49111
Given: https://github.com/dotnet/designs/blob/main/accepted/2021/system-drawing-win-only/system-drawing-win-only.md we will not be fixing this. (Cleaning up the test and removing the active issue will be done once we nuke the Unix implementation).

[2021-07-22 22:23] #49111 closed

[2021-07-22 22:23] safern commented on #39406
@JeremyKuhne are you planning on working on this one or should we move it to 7.0.0?

[2021-07-22 22:24] safern commented on #47940
@JeremyKuhne are you planning on finishing this one or should we move it to 7.0.0?

[2021-07-22 22:24] HongGit commented on #52565
@runfoapp is this still an issue?

[2021-07-22 22:25] safern commented on #45233
Given the announcement we just made on: https://github.com/dotnet/designs/blob/main/accepted/2021/system-drawing-win-only/system-drawing-win-only.md -- I will close this issue. Please let me know if you have any other questions.

[2021-07-22 22:25] #45233 closed

[2021-07-22 22:26] #40937 closed

[2021-07-22 22:27] safern commented on #51404
Closing this issue per design doc: https://github.com/dotnet/designs/blob/main/accepted/2021/system-drawing-win-only/system-drawing-win-only.md

We will be removing the Unix implementation entirely on .NET 7.

[2021-07-22 22:27] #51404 closed

[2021-07-22 22:28] #43817 closed

[2021-07-22 22:29] safern commented on #35610
@darkdragon-001 I'm sorry we missed this issue. We were evaluating what was going to be the story for `System.Drawing.Common` on Unix going forward and we decided that it is not worth to keep investing on that path for various different reasons. You can read more about that decision here: https://github.com/dotnet/designs/blob/main/accepted/2021/system-drawing-win-only/system-drawing-win-only.md

[2021-07-22 22:29] #35610 closed

[2021-07-22 22:31] safern commented on #49479
Given that we annotated this assembly as `SupportedOSPlatform("Windows")` and that we are no longer supporting `System.Drawing.Common` on non-windows. I will close this issue as it is no longer applicable and once main becomes .NET 7, I will nuke the Unix implementation.

[2021-07-22 22:31] #49479 closed

[2021-07-22 22:32] delmyers commented on #55696
So, we've found a work-around for this issue inside VS. I'm working on a fix right now. As things go, it would probably be available in VS 2022. I don't know if we have a path to getting it fixed in 2019, though.

[2021-07-22 22:34] JeremyKuhne commented on #47940
Actually, I believe this is finished in #48195 and #48547. Can you double check me? :)

[2021-07-22 22:38] safern commented on #47940
Yeah you are right 😄 . Thanks!

[2021-07-22 22:38] #47940 closed

[2021-07-22 22:39] wegylexy commented on #52627
It'd be a good reference for other stream types to support concurrent IO. SignalR could benefit from it.

[2021-07-22 22:56] kunalspathak commented on #47444
This is a low hit non-deterministic issue, I am inclined to moving this out of .NET6.0. Let me know if anyone thinks that it should be investigated in .NET6.

[2021-07-22 23:06] StephenMolloy commented on #46947
X509Certificate2 was marked as `[Serializable]` in .Net 4.8, but the attribute has been removed in .Net core. This prevents customers from serializing this class in .Net Core.

[2021-07-22 23:07] bartonjs commented on #55732
The problem that I had with the HasClaim PR is still present: It's codifying a behavior from one of the derived types, but it's not a behavior that's central to ClaimsPrincipal.

Without understanding why JwtPayload chose to merge them in the first place, it does feel like "don't merge them" is the right answer... but one man's fix is another man's break (see also your snippet that used SingleOrDe

[2021-07-22 23:08] eerhardt commented on #52416
Getting help from @GrabYourPitchforks offline, the following approach was recommended for identifying if the current process is hosted as a windows service:

1. enumerate the list of running services on the machine;
2. call QueryServiceStatusEx on each service handle; and
3. compare the service's PID to the current process's PID.

We can accomplish (1) above with calling:

https://github.com/dotne

[2021-07-22 23:09] tarekgh opened #56190 "Microsoft.Extensions.FileProviders.Physical.Tests disabled on Unix systems"
https://github.com/dotnet/runtime/pull/56183/checks?check_run_id=3138813912
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-56183-merge-f78074ea8e6047b2a6/Microsoft.Extensions.FileProviders.Physical.Tests/console.ac3f3b03.log?sv=2019-07-07&se=2021-08-11T22%3A22%3A03Z&sr=c&sp=rl&sig=ywBXxPkq8EuFYEZl2jIf5dvaPIqJDBOgm1Phou2QmU0%3D

[code]

[2021-07-22 23:10] eerhardt commented on #51269
The stack trace above is coming from `WindowsServiceHelpers.IsWindowsService()` calling into `parent.SessionId`. In looking at https://github.com/dotnet/runtime/issues/52416#issuecomment-885293118, I don't believe the logic in `IsWindowsService()` is correct and should be changed as illustrated in that issue.

I wonder if that change would fix this issue as well.

Moving to 7.0 and marking as "up

[2021-07-22 23:11] danmoseley commented on #56072
@davidfowl  can we close on ArrayPool specifically - given we cannot add an event by default due to cost, is the existing opt-in event sufficient?  If so we can scratch that one out. Or, we can tune it in servicing if needed.

[2021-07-22 23:13] eerhardt commented on #56181
Thanks @lord-executor!

[2021-07-22 23:13] danmoseley commented on #56072
@eerhardt could you (or someone) evaluate the value and cost of the asks here for DI? We should boil any that make sense into a separate issue.

Anything that is worthwhile but also costly could potentially hold off until eg 6.0.1

[2021-07-22 23:13] Silvenga commented on #52416
Sounds good! I'll see if I have time to work this in the near future.

[2021-07-22 23:14] vsfeedback opened #56191 "Blazor 6 WebAssembly System.Diagnostics.Debugger.Break(); sets current line wrong"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-6-WebAssembly-SystemDiagnostics/1477866)._

---
See sample program.  When you run the program it will stop but it puts the Next Line to be executed wrong.  See screen shot and sample application.

To recreate:
1) Run application
2) Click on Counter
3) Click on Button

The cursor w

[2021-07-22 23:14] lewing commented on #43791
This will be an ongoing issue for blazor/webassembly.

[2021-07-22 23:16] eerhardt commented on #43662
6.0 is now feature complete. Moving to 7.0.

[2021-07-22 23:16] eerhardt commented on #44381
6.0 is now feature complete. Moving to 7.0.

[2021-07-22 23:17] eerhardt commented on #45294
6.0 is now feature complete, this won't be completed for that release.

[2021-07-22 23:18] danmoseley commented on #56072
@davidfowl can you respond to questions by Stephen/Jeff above about your Timers ask?

[2021-07-22 23:20] Jozkee commented on #56190
I think this is because retrieval of the link is not atomic and happens when the file no longer exists between the call to `LinkTarget` and `ResolveLinkTarget`.
https://github.com/dotnet/runtime/blob/47e82c1f625428c02eb6b31d7a7400c53a8c24b9/src/libraries/Microsoft.Extensions.FileProviders.Physical/src/Internal/FileSystemInfoHelper.cs#L52-L57

@ericstj should we evaluate using the fix you proposed

[2021-07-22 23:20] StephenMolloy commented on #49631
@VincentBu, is this still an issue? We aren't aware of any changes in Serialization around this time that would trigger an issue like this.

[2021-07-22 23:21] layomia commented on #29861
@jeremyVignelles would using a nullable `bool` i.e. `bool?` work for you? That way you can determine whether a non-null value was provided.

[2021-07-22 23:22] layomia commented on #29861
Moving this feature to future given that there's an alternative approach shown in https://github.com/dotnet/runtime/issues/29861#issuecomment-884437381.

[2021-07-22 23:31] ChrisVicary opened #56200 "Enum.Format change in behavior between .Net Framework and .Net 5"
Repro:
[code]
.NET Framework: `Item1, Item2`
.NET Core: `3`

---
### Description

While upgrading a project from .Net Framework 4.7.2 to .Net 5 and I noticed a difference in behavior of the EnumConverter.ConvertToString() method when passing an integer value that could represent a combination of flags enum values. Here is some code that reproduces the problem:

	class Program
	{
		[Flags]
		public

[2021-07-22 23:31] layomia commented on #29975
Triage - moving this issue to future. We aren't going to support these attributes natively in the serializer, but will work toward allowing users to easily detect them with minimal configuration code, and set the corresponding type metadata to influence (de)serialization - https://github.com/dotnet/runtime/issues/34456.

[2021-07-22 23:33] layomia commented on #782
Triage - we didn't get around to this in .NET 6.0, but there remains an easy workaround of implementing a custom naming policy with the desired behavior. Moving to .NET 7.

[2021-07-22 23:37] GrabYourPitchforks commented on #46947
.NET Core / .NET 5+ limits the set of inbox types which are marked as `[Serializable]`. The list of serializable types is now essentially limited to primitives, Exception-derived types, and a small handful of others to support critical resource scenarios. This is by-design. See https://docs.microsoft.com/dotnet/standard/serialization/binary-serialization#serializable-types for more information.

I

[2021-07-22 23:38] layomia commented on #1568
With the JSON source generator checked in, we can consider this work done. Please see ["Try the new System.Text.Json source generator"](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-source-generator/) for an end-to-end overview of how the generator works and its benefits.

[2021-07-22 23:38] #1568 closed

[2021-07-22 23:41] layomia commented on #31511
Triage - we didn't get to this in .NET 6.0 but can consider it in .NET 7.0.

[2021-07-22 23:46] layomia commented on #54904
Duplicate of https://github.com/dotnet/runtime/issues/38327.

[2021-07-22 23:46] #54904 closed

[2021-07-22 23:47] safern commented on #38244
I'm going to close this as it fixed what was approved. If we want to add `grey` colors then we should open a new issue and should go through API Review

[2021-07-22 23:47] #38244 closed

[2021-07-22 23:48] layomia commented on #31511
From @swtrse in https://github.com/dotnet/runtime/issues/38327:

[2021-07-22 23:49] layomia commented on #38327
Merging this into https://github.com/dotnet/runtime/issues/31511 which considers support for non-public members in general, not just ctors.

[2021-07-22 23:49] #38327 closed

[2021-07-22 23:49] safern commented on #42809
Given that this is a `libgdiplus` issue and that we have decided to make System.Drawing.Common windows only because it is a legacy library and libgdiplus lacks a lot of functionality, I'm going to close this issue.

Please look at the following document to understand the motivation behind that decision: https://github.com/dotnet/designs/blob/main/accepted/2021/system-drawing-win-only/system-drawin

[2021-07-22 23:49] #42809 closed

[2021-07-22 23:51] mconnew commented on #53553
This is a hangover from the early .NET Core 1.0 days when Type.GetTypeCode wasn't supported. The only reason this change was made was to work around the missing api.

[2021-07-22 23:52] safern commented on #34959
@Deepak211 we are not going to fix this because we have decided to no longer support `System.Drawing.Common` for non-Windows platforms.

Please look at this document for the motivation behind it: https://github.com/dotnet/designs/blob/main/accepted/2021/system-drawing-win-only/system-drawing-win-only.md

Also as an alternative I suggest looking at `SkiaSharp` or `ImageSharp` to achieve this scenar

[2021-07-22 23:52] #34959 closed

[2021-07-22 23:53] safern commented on #42877
@Tanya-Solyanik @JeremyKuhne is this blocking a designer scenario and do we need to get this fixed for 6.0.0?

[2021-07-22 23:56] safern commented on #48178
Given that we are no longer supporting `System.Drawing.Common` on non windows going forward: https://github.com/dotnet/designs/blob/main/accepted/2021/system-drawing-win-only/system-drawing-win-only.md

I'm going to close this issue. Please let me know if you have further questions.

[2021-07-22 23:56] #48178 closed

[2021-07-23 00:04] #47136 closed

[2021-07-23 00:07] layomia commented on #45190
@Jehoel

This is tracked by https://github.com/dotnet/runtime/issues/31511.

Kindly open a new issue to track this feature request.

This is generally tracked by https://github.com/dotnet/runtime/issues/44428. Please add a note on that issue describing the sort of functionality enhancements you'd like to see.

[2021-07-23 00:10] JamesNK commented on #55249
Repo: https://github.com/dotnet/aspnetcore/tree/jamesnk/http3-quicbug-parallelstreams
Test: StreamPool_ManyConcurrentStreams_StreamPoolFull

https://github.com/dotnet/aspnetcore/blob/jamesnk/http3-quicbug-parallelstreams/src/Servers/Kestrel/Transport.Quic/test/QuicConnectionContextTests.cs#L379-L469

[2021-07-23 00:15] layomia commented on #53539
For types that we don't know about, we treat them as objects with properties and fields. That policy has largely worked out okay these past few releases. This is almost certainly the current behavior for the `Date/TimeOnly` types today, for both source-gen and non-source gen cases. We do want to change that for these (potentially popular) types in .NET 6.0 (to `NotSupportedException` being thrown)

[2021-07-23 00:21] layomia commented on #45190
Triage - we can consider this work done and I'll close this issue. We've addressed what we could in the .NET 6.0 timeframe, and can consider the other tasks in .NET 7.0 planning.

[2021-07-23 00:21] #45190 closed

[2021-07-23 00:23] buyaa-n commented on #50528
Removed, thanks

[2021-07-23 00:23] blowdart commented on #55732
Yea, maybe asking the identitymodel folks why they're combining is a good start. If it's horribly blocking there are events that you could hook into to unpack it into individual claims again during the aspnet auth process, but again, it's in the identitymodel code rather than framework code.

[2021-07-23 00:23] layomia commented on #55318
I believe the requirements of this issue are generally covered by https://github.com/dotnet/runtime/issues/44428. I'll close this issue as a duplicate.

@eiriktsarpalis yes I believe such a switch would be beneficial as an "I know what I'm doing" mode. This is considered in #44428.

[2021-07-23 00:23] #55318 closed

[2021-07-23 00:24] layomia commented on #44428
We couldn't get to this in .NET 6.0 but can consider for .NET 7.

[2021-07-23 00:26] mangod9 commented on #56101
Yeah would be good to know what the test is comparing so we could route to the right owners.

[2021-07-23 00:27] layomia commented on #41749
We didn't get to this in .NET 6 and any change here is risky given where we are in the release cycle. We can consider for .NET 7.

[2021-07-23 00:28] #49525 closed

[2021-07-23 00:29] layomia commented on #43620
We can consider this work done for .NET 6.0. Polymorphic support is being planned for .NET 7 (https://github.com/dotnet/runtime/issues/45189).

[2021-07-23 00:29] #43620 closed

[2021-07-23 00:30] wegylexy commented on #55249
Try to assert if they are indeed different streams, i.e. no concurrent IO within a stream?

[2021-07-23 00:31] steveisok commented on #44526
The Android team was able to find another way via https://github.com/xamarin/xamarin-android/commit/c1a2ee70214e86757541b5759c9ed54941bd4680

Closing

[2021-07-23 00:41] layomia commented on #593
Triage - we didn't get to this in .NET 6 but can consider for 7. We're working toward providing APIs that allow users to configure type-serialization metadata - #34456.

[2021-07-23 00:52] mangod9 commented on #43572
Closing since this isnt reproing any more

[2021-07-23 00:52] #43572 closed

[2021-07-23 00:58] mangod9 commented on #51250
@mfilippov we investigated and this seems to be fixed with a change in preview6: #53510. Could you please check if it still fails on preview6?

[2021-07-23 01:15] layomia commented on #40072
Triage - for .NET 6.0, we've provided [documentation](https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-configure-options?pivots=dotnet-5-0) about perf caveats with using `JsonSerializerOptions`. We can consider additional mitigations for this in 7.

[2021-07-23 01:19] layomia commented on #41089
With [JSON source generation](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-source-generator/), we're able to generate code that statically invokes type members without reflection, so this perf issue should be mitigated. It would be good to take measurements that verify this. This work won't stop the .NET 6 release, so I'll move this issue to .NET 7.

[2021-07-23 01:21] layomia commented on #41485
Closing as this hasn't resurfaced for a while.

[2021-07-23 01:24] layomia commented on #45441
With the JSON source generator checked in, we can consider this work done. Please see ["Try the new System.Text.Json source generator"](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-source-generator/) for an end-to-end overview of how the generator works and its benefits.

[2021-07-23 01:24] #45441 closed

[2021-07-23 01:28] layomia commented on #48032
Triage - since this  is not a regression in 6.0 and an edge case, let's tackle this in 7.0.

[2021-07-23 01:30] layomia commented on #49634
How can I tell if this is still happening? Will move to .NET 7 since this won't block the .NET 6 release.

[2021-07-23 01:32] layomia commented on #50205
We don't have work planned to address this for .NET 6.0, we should consider in 7.

[2021-07-23 01:50] layomia commented on #47765
We have an open PR to fix this https://github.com/dotnet/runtime/pull/54429, but it won't block the release if we don't get this functionality in. I'll mark as .NET 7.

[2021-07-23 02:00] ericstj commented on #56190
To be clear, my suggestion also involves public APIs for getting the modified time on the target of link.  The prototype i shared did it internally which should be avoided if we’re making IO changes.  If we need it customers should get it too.

[2021-07-23 02:03] #56178 closed

[2021-07-23 02:22] AriNuer commented on #51250
Failed again in [runtime-coreclr r2r 20210721.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1252451&view=ms.vss-test-web.build-test-results-tab&runId=37178582&paneView=debug&resultId=105115)

Failed test:
[code]
**Error message:**
[code]

[2021-07-23 02:26] VincentBu commented on #49631
This test didn't fail recently.

[2021-07-23 02:43] JamesNK commented on #55249
There shouldn't be any concurrent reads or concurrent writes on a stream.

Kestrel reads and writes with QuicStream using simple loops:
* https://github.com/dotnet/aspnetcore/blob/8b30d862de6c9146f466061d51aa3f1414ee2337/src/Servers/Kestrel/Transport.Quic/src/Internal/QuicStreamContext.cs#L220-L258
* https://github.com/dotnet/aspnetcore/blob/8b30d862de6c9146f466061d51aa3f1414ee2337/src/Servers/Kes

[2021-07-23 02:46] danmoseley commented on #47444
@MattGal  can we ask for someone to run memtest? It's hard to understand otherwise why it's the same box.

[2021-07-23 02:49] VincentBu opened #56194 "Failure test System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http3_MsQuic.ResponseCancellation_ServerReceivesCancellation"
Run: [runtime 20210722.80](https://dev.azure.com/dnceng/public/_build/results?buildId=1253976&view=ms.vss-test-web.build-test-results-tab&runId=37212094&resultId=184464&paneView=debug)
Failed test:
[code]
**Error message:**
[code]

[2021-07-23 02:54] TanvirArjel commented on #31511
.NET 6.0 is going to be most frustrated and useless release since dotNET Core 1.0. Every blocking issue we were following to be fixed in dotNET 6.0 has been moved to the dotNET 7.0!!

RIP dotNET 6.0! 😥 Good Bye. 😀

[2021-07-23 02:55] VincentBu opened #56195 "Failure test: JIT\\Performance\\CodeQuality\\Roslyn\\CscBench\\CscBench.cmd"
Run: [runtime-coreclr jitstress 20210721.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1252387&view=ms.vss-test-web.build-test-results-tab&runId=37176054&resultId=109603&paneView=debug)

Failed test:
[code]
**One of error message:**
[code]

[2021-07-23 03:01] VincentBu opened #56197 "Failure test: JIT\\jit64\\regress\\vsw\\373472\\test_il\\test_il.cmd"
Run: [runtime-coreclr jitstress 20210721.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1252387&view=ms.vss-test-web.build-test-results-tab&runId=37177630&paneView=debug&resultId=101163)

Failed test:
[code]
**Error message:**
[code]

[2021-07-23 03:02] layomia commented on #51165
Triage - this isn't a regression from .NET 5.0 and I think it's a bit too late in the 6.0 wave to introduce a breaking change like this. We should consider in .NET 7.0.

[2021-07-23 03:08] layomia commented on #51544
Triage: we can do this in .NET 7.

[2021-07-23 03:08] VincentBu opened #56198 "Failure test: JIT\\jit64\\opt\\cse\\hugeexpr1\\hugeexpr1.cmd"
Run: [runtime-coreclr r2r 20210721.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1252451&view=ms.vss-test-web.build-test-results-tab&runId=37178270&paneView=debug&resultId=101705)

Failed test:
[code]
**Error message:**
[code]

[2021-07-23 03:15] layomia commented on #53205
Yes with https://github.com/dotnet/runtime/pull/55566 we now have a trim-safe way to support these types, and now we make no guarantees about trim-safety when the dynamic methods of the serializer are used. Closing this issue. The next item would be to re-write the trimming tests using the source-generator - https://github.com/dotnet/runtime/issues/53437.

[2021-07-23 03:15] #53205 closed

[2021-07-23 03:18] layomia commented on #54433
This has been fixed in recent PRs for the source generator. @DavidZidar you can try the fix by adding a package reference to the latest build of System.Text.Json - https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=System.Text.Json&protocolType=NuGet&view=versions. Please let us know if you have further issues using the source generator.

[2021-07-23 03:18] #54433 closed

[2021-07-23 03:23] layomia commented on #53788
Moving to consider in .NET 7.

[2021-07-23 03:28] layomia commented on #55561
@no1melman it looks like your scenario has been covered, so I'll close this issue. Please let us know if you have further feedback.

[2021-07-23 03:28] #55561 closed

[2021-07-23 03:40] hoyosjs commented on #56162
Dupe of #47328

[2021-07-23 03:40] #56162 closed

[2021-07-23 04:01] hoyosjs commented on #54017
@josalem Is this a 6.0 target issue? Can we repro this in 3.1/5.0 eventpipe?

[2021-07-23 04:02] hoyosjs commented on #53747
We deprioritized this as we updated the runtime version and could no longer repro. Please let me know if this happens again.

[2021-07-23 04:31] hoyosjs commented on #50750
Closing as there's been no observed instances in a while and the ICM has been closed.

[2021-07-23 04:31] #50750 closed

[2021-07-23 05:10] jeremyVignelles commented on #29861
Probably fine by me, I'm in favor of having business models separate from the JSON one.

However, that might not be the case for everyone, and having to change a bool to a Nullable<bool> is a breaking change for the code that uses it.

Moreover, it doesn't let you have a default value for the boolean value if it's not provided, so you need to handle that default value elsewhere.

[2021-07-23 05:32] KalleOlaviNiemitalo commented on #56200
IIUC, both versions of EnumConverter call `Enum.Format(type, value, "G")`, where `type` is the enum type and `value` is (Int32)3:

<https://github.com/dotnet/runtime/blob/35964c9215613d66a687ebcb2d7fcd9496390ee7/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/EnumConverter.cs#L132>

<https://github.com/microsoft/referencesource/blob/5697c29004a34d80acdaf5742d7e699022c64

[2021-07-23 05:36] #51728 closed

[2021-07-23 05:37] BruceForstall commented on #54007
Fixed by #56192

[2021-07-23 05:37] #54007 closed

[2021-07-23 05:39] KalleOlaviNiemitalo commented on #56200
Enum.Format was partially fixed in <https://github.com/dotnet/coreclr/pull/10610> for <https://github.com/dotnet/runtime/issues/20845> but that fix does not check for FlagsAttribute.

[2021-07-23 05:46] JakenVeina opened #56203 "LoggerMessageAttribute generated source does not respect escaped characters and does not compile"
### Description

The source code generated for the following log method does not compile.

[code]

The fact that this log method includes parameters that are not encoded into `Message` forces a custom log state type to be generated, with the following code:

[code]

### Configuration

Running .NET SDK 6.0.100-preview.6.21355.2 with version 6.0.0-preview.6.21352.12 of Microsoft.Extensions.Logging.A

[2021-07-23 05:50] geoffkizer commented on #52627
For a scenario like that, just use a lock (or better, an async lock via SemaphoreSlim) to ensure mutual exclusion.

You could even build it as a wrapping stream so it works with any arbitrary underlying Stream.

[2021-07-23 06:06] lateapexearlyspeed commented on #54593
Hi @adamsitnik, could you please help review ?

[2021-07-23 06:35] sandreenko commented on #42723
Hm, I thought that I checked that the issue was in the VM (targeting x86 windows while running altjit for arm32 windows) giving wrong responses about class layout, but now it looks like I was wrong, thanks Bruce.

Such test fails when compiled natively on arm32:
[code]

[2021-07-23 06:37] wfurt commented on #56194
Failure count not too bad. I've seen few occurrences in my local runs. I will investigate if that is just flaky test (cancellation tests are hard) or if there is systematic problem.
We may disable it in mean time to improve CI experience @karelz

[2021-07-23 07:58] eiriktsarpalis commented on #45189
Closing this, since it is specifically tracking polymorphism-related work for .NET 6. Individual pending work items have been reassigned to different milestones.

[2021-07-23 07:58] #45189 closed

[2021-07-23 08:16] kefyru commented on #56140
I could answer if i knew how generic methods builds in runtime (under the hood).
All i know, MakeGenericMethod(...) in reflection do a lot of work and finally calls internal GetStubIfNeeded(...) which i think builds generic method implementation with needed signature...

[2021-07-23 08:17] eiriktsarpalis commented on #56204
Note that polymorphism support has been cut from .NET 6 and the future will likely be delivered for .NET 7. In the meantime, using a custom converter that implements polymorphism is the only workaround.

Duplicate of #30083.

[2021-07-23 08:17] #56204 closed

[2021-07-23 08:26] davidfowl commented on #56181
Implementing IDisposable is pretty much required and it's more than just inefficient use of resources. It's possible to create multiple service providers and leak singleton resources without dispose working. This isn't the common case but libraries pretty much assume as this point that they can dispose the root provider.

In this case, the DisposesInReverseOrderOfCreation should be rewritten to us

[2021-07-23 08:29] davidfowl commented on #56204
Do we have a sample that we can document and point people at?

[2021-07-23 08:29] #55421 closed

[2021-07-23 08:35] jessicah commented on #55803
I'll come back to libunwind, the low level details are a bit beyond my grasp right now; so just hacked together some code that just returns errors.

Anyway, I'm running into an error with linking for `ilasm`, getting undefined references to `libmd` related stuff. I've checked the `CMakeLists.txt` for any conditional compilation, but I couldn't find anything, so am genuinely baffled by this one.

T

[2021-07-23 08:37] jasond-s opened #56205 "latest system.text.json (6.0.0-rc.1.21372.4) does not support net5.0"
### system.text.json 6.0.0-rc.1.21372.4 does not support net5.0

Have download the latest build for the nuget package inline with this article https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-source-generator/ which states that it is compatible with net5.0 but appears to not be.

![supported_runtime_list](https://user-images.githubusercontent.com/4137207/126756965-95fd87f4-ddbd-4

[2021-07-23 08:46] sandreenko commented on #53541
If I understand correctly you are talking about not-efficient codegen, not a correctness issue, am I right?
From the dump I see that we transform `Create` as `BroadcastScalarToVector256(CreateScalarUnsafe)` and the inner one is not marked as contained so we end up with two instructions. The transformation happens here:
https://github.com/dotnet/runtime/blob/5399ee59e55a75a850011908a0f96d7abb8a91c7

[2021-07-23 08:47] filipnavara commented on #56205
It will fallback to the `netcoreapp3.1` assets (`.NETCoreApp, Version=3.1` on your screenshot) so it should build on `net5.0` just fine.

[2021-07-23 08:52] jasond-s commented on #56205
So I just need to find these guys in the RC builds I guess (they aren't published)?

System.Runtime.CompilerServices.Unsafe 6.0.0-rc.1.21372.4
System.Text.Encodings.Web 6.0.0-rc.1.21372.4

Will the fall-back to `NETCoreApp3.1` still include the source generators though? I would have thought that build would not hit the `BUILDING_SOURCE_GENERATOR` preprocessor arg.

[2021-07-23 08:56] rolfbjarne commented on #55986
@steveisok

Reopening again, because I'm not sure I understand the rationale here:

This means that if you disable the native handler (set `UseNativeHttpHandler=false`), you'll use SocketsHttpHandler, except for the properties that aren't supported in NSUrlSessionHandler, which will throw PNSE.

Shouldn't those properties instead do whatever the underlying handler does, instead of assuming that if

[2021-07-23 08:58] filipnavara commented on #56205
None of the `6.0.0-rc.1` packages are in the NuGet.org feed because Preview 7 and RC 1 was not released yet. You can reference the internal feeds by providing custom [NuGet.config](https://github.com/dotnet/runtime/blob/main/NuGet.config) file.

[2021-07-23 09:00] filipnavara commented on #56205
I don't know how are the source generators published but the [project file](https://github.com/dotnet/runtime/blob/7b19ccefccb4d116a64bf09c9bb1db3dd1df35e8/src/libraries/System.Text.Json/gen/System.Text.Json.SourceGeneration.csproj#L2-L17) for them targets `netstandard2.0` and includes the `BUILDING_SOURCE_GENERATOR` definition.

[2021-07-23 09:02] lord-executor commented on #56181
Ah, I see. That would of course also work and make "my type of problem" much easier to debug because there is a clear test that _specifies_ the assumptions behind the service provider.

Would it make sense then to remove the conditional disposal from the other test case(s) or would it be better to still keep them conditional outside of that one test that specifically tests for `IDisposable`?

[2021-07-23 09:05] davidfowl commented on #56181
I'd prefer this.

[2021-07-23 09:32] jasond-s commented on #56205
This was all I needed, massive thanks. And no, you can't subclass the options.

[2021-07-23 09:32] #56205 closed

[2021-07-23 09:39] jasond-s opened #56206 "Consider unsealing JsonSourceGenerationOptionsAttribute"
### Cannot subclass JsonSerializerOptionsAttribute for use with JsonSerializerContext source generators

### Configuration

[code]

and

[code]

### Desired Behaviour

![subclass_options](https://user-images.githubusercontent.com/4137207/126763970-1633cc3d-6b13-4ca0-b0a8-6e20ea892499.png)

As this is an attribute we can't pass around instances of the options object, but it would be really handy if

[2021-07-23 09:44] sec commented on #14537
Yes, that's the fix to get the native build done all the way up, as you wrote before. Did you do any changes to get the test running? I tried but it fails with:
[code]
even though SDK is able to create new projects, build and run them?

[2021-07-23 09:51] djthegr8 commented on #54946
Thanks @safern for making me aware of this. I'm basically just using two functions `.FillPie`, `.DrawPie`, `FillRectangle` and `.DrawString` from this, so it could be great if you could redirect me to documentation regarding their alternatives in other libraries mentioned in above deprecation link.

[2021-07-23 09:53] karelz commented on #56096
Triage: We agree that it is useful thing to do. Moving to 6.0 as it is new feature/change adjustment.

[2021-07-23 09:55] jhf commented on #55744
I agree with @bartelink that the compatibility of json encoded data can be a minefield, that requires attention when writing migrations, and when making API changes.

I still think that having a default canonical implementation provides a good user experience. I think it is too early to force the programmer understand and choose between serialisation strategies just because they wish to turn infor

[2021-07-23 10:16] karelz commented on #56194
Right now, there were only 2 failures, so it didn't even pop up on my monitoring queries yet (I am looking at all 3+ failures and only some 2+ failures).
Top post updated with failures. Once it reaches unpleasant frequency, I will disable it.

[2021-07-23 10:28] mronnblom-cint commented on #36093
@maryamariyan It feels very weird to me to include https://github.com/dotnet/runtime/issues/36391 in release 6 but not this issue. I guess it's too late now though. An idea is to at least add to the [documentation for Options Validation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-5.0#options-validation) that it (currently) only validates fields

[2021-07-23 10:29] CuteLeon commented on #47460
Issue gone in Preview 6 version.

[2021-07-23 10:32] jessicah commented on #55803
Well, I have a few binaries I can run, working through fixes, slowly :)

But come across a weird one I'm struggling to find any documentation on:

`runtime_laoder: /Development/testing/mcd: Could not resolve symbol '_ZTH12t_ThreadType'`

And passing through `c++filt` gives: `TLS init function for t_ThreadType`; and this is defined at https://github.com/jessicah/dotnet-runtime/blob/haiku/src/corecl

[2021-07-23 10:34] MihaZupan commented on #36908
Fix for this issue would be to use `Uri.EscapeDataString` instead of `WebUtility.UrlEncode` here:
https://github.com/dotnet/runtime/blob/5399ee59e55a75a850011908a0f96d7abb8a91c7/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DistributedContextPropagator.cs#L120

And `Uri.UnescapeDataString` instead of `WebUtility.UrlDecode` here:
https://github.com/dotnet/runtime/blob/539

[2021-07-23 10:54] am11 commented on #55803
If PAL is building without quirks and PAL tests are passing on Haiku, then these errors are interesting to investigate. Otherwise PAL is a prerequisite and tests are there to ensure that this very base layer is working as expected for rest of the stack.

[2021-07-23 10:55] safern commented on #54946
I definitely will. I'm working on putting together some basic examples on these alternative libraries.

[2021-07-23 11:01] jakobbotsch commented on #54796
What the comment is saying is that arguments never take up a variable amount of stack slots in AMD64 on Windows. All arguments take up exactly one stack slot because they are either passed by value in <= 8 bytes, or they are passed as a pointer. This is also the case in the native calling convention. This is not the case in for instance the SysV calling convention, where larger arguments can still

[2021-07-23 11:01] jessicah commented on #55803
How do I run the PAL tests on Haiku? As the build script wants to download a dotnet SDK.

[2021-07-23 11:16] am11 commented on #55803
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/docs/workflow/testing/coreclr/unix-test-instructions.md#pal-tests
these are basic C/C++ tests.

[2021-07-23 11:18] roklenardic commented on #47460
I confirm that this is gone in Preview 6 as well.

[2021-07-23 11:18] OlegZ-XC commented on #47460
I can't check this before the stable Release, so if you are sure then close the issue.

[2021-07-23 11:30] jakobbotsch commented on #54796
There are some minor differences between the managed and native calling convention, but I believe for the most part they are compatible. One difference is that in the managed calling convention, the callee widens return values up to 4-bytes, which is not the case for the native calling convention.

@jkoritzinsky might know of more examples.

[2021-07-23 11:56] legistek commented on #53365
So does this mean we have to decide in advance what our app's maximum ram usage is going to be? And presumably pick something that is appropriate for our minimum device target? That seems like it could get real dicey.

[2021-07-23 12:09] vpapidokha opened #89820 "MSB6006: "csc.dll" exited with code 143"
Summary of the issue:
Randomly getting the error during CI process, but don't see any kind of regularity. As much as we don't see detailed information about problem neither in the log output nor on the internet.

Log from build process:
[code]

The mentioned in the log output file MSBuild_*.failure.txt is absent. We have several in our /tmp directory, but the time of their creation is significantl

[2021-07-23 12:17] #55143 closed

[2021-07-23 12:20] DavidZidar commented on #54433
@layomia Just tried it, seems to be working, thanks!

[2021-07-23 12:29] am11 commented on #55803
PAL tests meant to guarantee that underlying platform's C/C++ runtime is working expectedly. PAL, in general, is an abstraction layer that wraps standard C/C++ functions and exposes them with Win32 API name. The rest of components under coreclr use Win32 API names (as they were originally written for .NET Framework, which is Windows only).

In my setup, I have OpenIndiana VM (vagrant + virtualbox)

[2021-07-23 12:52] StingyJack commented on #45189
@eiriktsarpalis - are those other work items something that non-msft users can see?

[2021-07-23 13:05] MaximLipnin commented on #50924
The test is re-enabled in https://github.com/dotnet/runtime/pull/56209, closing it.

[2021-07-23 13:05] #50924 closed

[2021-07-23 13:22] Georgiks opened #56212 "JsonConverter inconsistency when deserializing into property without public getter"
### Description
With given code
[code]
[code]
Output:
[code]
When deserializing a JSON with a `List<>` property with private getter, the value is not deserialized and property is `null`.
However when serializing and `int` the same way, a value of `1` is correctly assigned.
I expect that the behaviour of deserializing into property with non-public getter is independent on the property type.

Unfort

[2021-07-23 13:28] #32164 closed

[2021-07-23 13:48] HeinA commented on #31094
I just spent all day trying to figure out why I keep getting a "The value must be a DateTimeOffset or Date." error in my OData controller when trying to PUT an object

Turns out PutAsJsonAsync<> changes my properties from pascal case to  camel case.  OData/MVC is happy to deserialize all properties, except DateTime properties, which must match the case of the property exactly.

What makes DateTime

[2021-07-23 13:59] mmurrell opened #56213 "[API Proposal]: Please allow for the replacing of method bodies at runtime."
### Background and motivation

It would be nice if the framework supported a way to dynamically replace a method body of an instance of an object,at runtime.  I can think of several cases where a pattern like this could be leveraged, but the primary use case for me would support test automation.

As an example, say I'd like to test a class that has multiple dependencies:
[code]
The predominant sea

[2021-07-23 14:04] #36672 closed

[2021-07-23 14:05] Dmitry-Me opened #56214 "Please consider not throwing an exception when Process.Kill() is called for a process that exited previously"
This is inspired by an earlier issue https://github.com/dotnet/runtime/issues/16848 If I want to wait for a running process to exit in some short period of time and terminate it if it fails to exits on itself then I'm likely to write code like this:

    if(!process.WaitForExit(5000))
    {
        process.Kill();
    }
    process.Dispose();

however if the process exits right after `WaitForExit(

[2021-07-23 14:14] vargaz commented on #56100
I can reproduce, however the failure seems random, sometimes it works.

[2021-07-23 14:16] lord-executor commented on #56181
StructureMap, or more specifically [StructureMap.Microsoft.DependencyInjection](https://github.com/structuremap/StructureMap.Microsoft.DependencyInjection) does not implement `IDisposable` on its service provider which is why it is skipping the one test that did unconditional disposal (see `StructureMapDependencyInjectionSpecificationTests`).

Since that library is no longer being maintained and h

[2021-07-23 14:19] mmurrell commented on #56213
In the API Usage example above, wouldn't all the code be compiled in advance, and not limited by W^X?  Both the original implementation and the replaced delegate would be loaded in 'execute' pages.  Unless I misunderstand, switching the method by reflection would be more akin to changing an attribute on the object level, akin `PropertyInfo.SetValue()` and not blocked by W^X.

Perhaps my comparison

[2021-07-23 14:20] janvorli commented on #47697
Dup of #49881

[2021-07-23 14:20] #47697 closed

[2021-07-23 14:20] #55277 closed

[2021-07-23 14:21] janvorli commented on #47423
Everything is working fine now.

[2021-07-23 14:21] #47423 closed

[2021-07-23 14:26] lord-executor commented on #56181
Just realized... that was a bit unclear from me and/or I may have misunderstood the response. @davidfowl _which_ option do you prefer?
1. Remove the conditional disposal from the other test case(s) - making them _unconditional_
2. Keep them conditional outside of that one test that specifically tests for IDisposable

[2021-07-23 14:26] SLavaLL opened #56217 "Requesting HTTP version 2.0 with version policy RequestVersionOrHigher while server offers only version fallback"
Hello,

Initially, the problem was that I could not connect the gRPC client application (.Net 5) to the gRPC server.
I asked questions in the grpc-dotnet project - [First link](https://github.com/grpc/grpc-dotnet/issues/1252)
[Second link](https://github.com/grpc/grpc-dotnet/issues/1321)
From there, I was directed here.

I have created three projects that are not related to gRPC.
Server
[WebApplic

[2021-07-23 14:28] ManickaP commented on #55903
Seeing one of the crashes again:
[code]

I ran S.N.Http tests in a loop, it crashed on 79th run. I've had these tests locally re-enabled:
[code]

[2021-07-23 14:32] ManickaP commented on #55380
I've been running tests in a loop today with the newest and greatest msquic (build in Debug) and haven't seen this.
I even had some of of the suppressed tests re-enabled and even after an hour I haven't seen the deadlock detection, which I've been previously getting after 2-3 runs of the tests.
Seems like the problem is solved, closing.

[2021-07-23 14:32] #55380 closed

[2021-07-23 14:37] eiriktsarpalis commented on #45189
All planning and issue tracking happens publicly on github: I was referring to the open issues that are linked in the original post.

[2021-07-23 14:40] steveisok commented on #55452
Since the question seems to be answered, I'm going to go ahead and close the issue.  Please feel free to reopen if something has changed.