[2020-06-12 18:41] DrewScoggins commented on #37816
@adamsitnik

[2020-06-12 18:41] jkotas commented on #37791
There is not today. This is duplicate of https://github.com/dotnet/runtime/issues/12611 where the details of what it would take to make this work on Windows are discussed.

You may want to take a look at https://github.com/AaronRobinsonMSFT/DNNE that is a cross-platform solution for this problem.

[2020-06-12 18:41] #37791 closed

[2020-06-12 18:44] jkotas commented on #37791
cc @AaronRobinsonMSFT

[2020-06-12 18:46] jonathanpeppers opened #37817 "Mono runtime packs are not deterministic"
### Description

If I review the .NET assemblies from the Mono runtime packs, they have identical IL, but have different mvids.

For example:

[code]

We think this is due to a missing `--deterministic` switch for `ILLink`: https://github.com/dotnet/sdk/issues/11975#issuecomment-641883104

### Configuration

I was using .NET `5.0.0-preview.6.20264.1` at one time, but appears to also be present for

[2020-06-12 18:48] tqiu8 opened #37818 "[wasm] ThreadPool Regression"
### Description
Threadpool works in 3.2 but not on 5.0 regardless of setting min and max threads.

### Data
With `await Task.WhenAll(tasks);` in a test

Error from a 5.0 wasm sample with ThreadPool
[code]

Results from 3.2 sample Blazor app with the same test
[code]

[2020-06-12 18:52] DrewScoggins opened #37819 "[Perf -1,796%] System.Globalization.Tests.StringSearch (33)"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...ccd701fe23f236755650af3ce3d9ab6bdd8a4af9)

### Regressions in System.Globalization.Tests.StringSearch

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
IsPrefix_FirstHalf | 1.

[2020-06-12 18:53] faruknane opened #37820 "[BUG?] Bypassing the limitation of not being able to get the pointer of a local variable shared by anonymous functions."
### Description

There is a limitation in C# that ensures that the local variable doesn't change unintentionally which is shared by anonymous functions (Func<,,,>). What the limitation does is blocking getting the address of that local variable.

![image](https://user-images.githubusercontent.com/37745467/84536097-ca58be80-acf5-11ea-9855-d9a7db5c482e.png)

However, I was able to bypass that limita

[2020-06-12 18:53] DrewScoggins commented on #37819
From @adamsitnik

That's definitely a real regression, most probably caused by the switch to ICU by default on Windows (https://github.com/dotnet/runtime/issues/826). @DrewScoggins  could you please transfer it to https://github.com/dotnet/runtime (or give me the write access to this repo)?

[2020-06-12 18:57] am11 commented on #37790
Replacing `RuntimeIdentifierGraphPath` with `BundledRuntimeIdentifierGraphFile` in `liveBuilds.targets` fixed the issue. I also had to import this targets in `external.csproj` and `ilasm.ilproj`. Will prepare a PR shortly. Thank you!

[2020-06-12 18:58] maryamariyan opened #37821 "Remove workarounds and cleanup source to meet dotnet/runtime analyzer requirements."
Keeping track of miscellaneous cleanup tasks leftover from Extensions consolidation:

#### Code Cleanups:
- [x] Move shared files between Configuration projects to Common folder (https://github.com/dotnet/runtime/pull/33844#discussion_r395899095) -> (addressed by https://github.com/dotnet/runtime/pull/42788)
- [x] Delete duplicate files or those not used (https://github.com/dotnet/runtime/pull/338

[2020-06-12 19:03] CarolEidt commented on #37809
@BruceForstall - this passes locally for me. Without #37781, though, I was only getting the same `varReg != REG_NA` assert as in #37761 with and without `COMPlus_TieredCompilation`. So I can't be entirely confident that it was the same issue. I've got another PR https://github.com/dotnet/runtime/pull/37773 to fix a jitstressregs issue on arm64 - would it make sense to run the `runtime-coreclr libr

[2020-06-12 19:07] terrajobst commented on #31362
* We should add a virtual `CanPeek` that returns `false`

[code]

[2020-06-12 19:09] BruceForstall commented on #37809
You can't run that `runtime-coreclr libraries-jitstress` job yet since I haven't merged the change to enable it (https://github.com/dotnet/runtime/pull/36486). I'll see if I can repro. But otherwise, I only saw this in one run. Perhaps ignore it for now and if it doesn't repro in subsequent runs I'll close this.

[2020-06-12 19:11] ericstj opened #37823 "Arm64 legs are timing out in CI."
Looks like this is contributing to 9% failure rate.
https://dev.azure.com/dnceng/public/_build/results?buildId=684566
https://dev.azure.com/dnceng/public/_build/results?buildId=684308
https://dev.azure.com/dnceng/public/_build/results?buildId=684000
https://dev.azure.com/dnceng/public/_build/results?buildId=678126
https://dev.azure.com/dnceng/public/_build/results?buildId=675652
https://dev.azure.

[2020-06-12 19:11] davidsh commented on #37141
Re-activating as per https://github.com/dotnet/runtime/pull/37619#discussion_r439597451.

This issue here is primarily about how [DiagnosticHandler](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs) works (which is based on DiagnosticSource and not EventSource).

[2020-06-12 19:15] terrajobst commented on #31355
Watch the video, I kind of predicted you'd say that :-)

[2020-06-12 19:21] safern commented on #37823
@jashook and @ilya-bin -- since they're helping with the investigation.

[2020-06-12 19:23] jashook commented on #37823
We expect the impact to go up as our current queue depth is high.

[2020-06-12 19:25] tarekgh commented on #37819
I am wondering, didn't we already have such differences before when we compared Windows against Linux runs? was it already tracked issues for that?

[2020-06-12 19:26] danmosemsft commented on #37816
@DrewScoggins is there some way to close the gap in the graph? Are we missing all perf data from Dec-April or were just these tests broken?

Ideally we would see which build it regressed in.

[2020-06-12 19:27] danmosemsft commented on #37818
Changing label - this fix presumably is in the runtime

[2020-06-12 19:30] VSadov commented on #37804
`GetCurrentProcessorId` was "fast" previously because of aggressive caching. It would return the same result for 3000 invocations (or was it 50000 invocations?, i do not remember..)

Since the threads can move between cores, long caching diminishes the value of this API. We saw problems with that.
However there are machines/OSs/hypervisors where underlying implementation is very slow (on order of

[2020-06-12 19:33] davidwrighton commented on #37732
Do we have an understanding of what the fix is? If not, we should keep the issue open to track fixing whatever was wrong.

[2020-06-12 19:37] AndyAyersMS commented on #37802
This regressed because of #33024.

cc @EgorBo @dotnet/jit-contrib

That change can introduce assignment trees into what were previously side-effect free computations, inhibiting the computations from being hoisted out of loops.

Someday we'll fix the loop hoisting code to hoist assignments, but not anytime soon (see eg #35735). Would suggest for now we forgo this optimization if the parent tree is

[2020-06-12 19:39] echesakovMSFT commented on #1277
Moving to the future since multiple register variant is out of scope for 5.0

[2020-06-12 19:40] stephentoub opened #37826 "Remove MemoryExtensions.Slice (for now)"
https://github.com/dotnet/runtime/pull/37742#issuecomment-642788210
cc: @GrabYourPitchforks

[2020-06-12 19:44] stephentoub commented on #14032
Try it. :)

We saw a good deal of real workloads suffering with the previous implementation.  In every case we've looked at, the new one (which doesn't use a priority queue but instead just has a simple split between soon and not-soon timers) has fixed the issue, and we've not seen new ones with it.

Yes.  But they're generally spread out, often fairly evenly, in real-world applications.

[2020-06-12 19:44] NN--- opened #37827 "Delay initialization till usage"
It could be a nice optimization if there was possibility to delay initialization of variables and field till their first usage.

Today you can make lazy initialization using System.Lazy or property with getter.
But this means that variable is created on access and not on the actual usage.

Sample:

[code]

How this improves performance:
In many cases there are classes with default collection initi

[2020-06-12 19:53] EgorBo commented on #37802
@AndyAyersMS ouch, in my defense I initially implemented that optimization in Lower so it used to happen after the loop hoisting 🙂 Maybe it makes sense to revert to Lower?

[2020-06-12 20:01] mangod9 commented on #13557
@richlander this is now working in preview5. Could you please check?

[code]

[2020-06-12 20:03] mangod9 commented on #13510
@nattress could you please take a look if any doc updates are still required here?

[2020-06-12 20:08] AndyAyersMS commented on #37802
Next time you'll think twice before listening to my suggestions... though in *my* defense, I also wrote

I still think early makes sense, we just need to be careful not to upset our fragile optimization phases. We tend to introduce comma forms in morph without really thinking what impact they might have.

[2020-06-12 20:12] mangod9 commented on #13645
This appears to be working in .net 5 preview 5. Please reopen if you can still repro it:

[code]

[2020-06-12 20:12] #13645 closed

[2020-06-12 20:18] ilyas1974 commented on #37823
All machines in the queue are healthy and are running processing jobs as quickly as they can. At this point, as Jarret mentioned, it is a issue of the number of jobs within the queue.

[2020-06-12 20:30] EgorBo commented on #37802
@AndyAyersMS I suspect the following code (which is not related to my optimization) also fails to hoist code from loop:
[code]

[2020-06-12 20:34] ViktorHofer commented on #35068
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=684945&view=ms.vss-test-web.build-test-results-tab&runId=21253244&resultId=100002&paneView=debug

[2020-06-12 20:42] ViktorHofer commented on #37706
@trylek based on our offline conversation, can you please add your change for the runtime tests to the list?

[2020-06-12 20:48] #37485 closed

[2020-06-12 20:49] ViktorHofer commented on #37817
@marek-safar does the ILLinker that we are using now already support determinism?

[2020-06-12 20:57] marek-safar commented on #37817
@ViktorHofer no and that's the source of this problem

[2020-06-12 21:05] #34978 closed

[2020-06-12 21:06] danmosemsft commented on #37640
@DotNetAppCompatFeiWang looks like your diagnosis was correct, thanks for helping narrow this down to the correct component, that saves a huge amount of time.

[2020-06-12 21:17] BruceForstall commented on #36681
Failures are in `CoreCLR Windows_NT arm Checked zapdisable @ Windows.10.Arm64v8.Open`

[2020-06-12 21:17] CarolEidt commented on #35976
Fixed with #37499

[2020-06-12 21:17] #35976 closed

[2020-06-12 21:21] steveharter commented on #36635
The [PR ](https://github.com/steveharter/runtime/tree/TechEmPower)will need to wait until next week. I hope to get 13-15% when all said an done for the "tiny POCO struct" scenario.

Also, does the POCO need to be a struct? Can it be a class? Using a class is actually faster but the code changes I'm working on makes them closer in perf.

Basic changes:
- Add a LRU on top of the dictionary access fo

[2020-06-12 21:32] GrabYourPitchforks commented on #37826
@stephentoub I assume this tracks https://github.com/dotnet/runtime/pull/37757, or was there a different API we should temporarily back out?

[2020-06-12 21:32] rjmholt commented on #37766
Ah, that's a good idea! I just tested it and it doesn't resolve anything. I'll close this issue then.

Thanks all for your help!

[2020-06-12 21:32] #37766 closed

[2020-06-12 21:33] stephentoub commented on #37826
Oh, that PR passed by without me even noticing :)

[2020-06-12 21:33] #37826 closed

[2020-06-12 21:34] wfurt commented on #37766
it would be still nice IMHO to investigate and improve CI. We were not able so far to get grasp on what is causing this. (as some systems do and some don't)

[2020-06-12 21:50] isokissa3 commented on #37796
Forgot to test on .NET Framework also! But I can confirm that assigning any value to static readonly inlines it correctly.

[2020-06-12 21:55] BruceForstall opened #37829 "Test failure: System.Collections.Immutable.Tests"
Failure in libraries System.Collections.Immutable.Tests: release libraries, checked coreclr with:
[code]

Windows arm64

E.g.,
[code]

(the `/p:ArchiveTests=true` is required to build the RunTests.cmd wrapper scripts)

[code]

[code]

There's a similar failure in `DataContractJsonSerializerTests.DCJS_Dictionary_UseSimpleDictionaryFormat_VariousKeyTypes`:
[code]

and:
[code]

[2020-06-12 22:05] BruceForstall opened #37830 "Assertion failed 'isCandidateLocalRef(tree)'"
Failure in libraries System.Linq.Queryable.Tests: release libraries, checked coreclr with:
[code]

Windows arm64

E.g.,
[code]

(the `/p:ArchiveTests=true` is required to build the RunTests.cmd wrapper scripts)

[code]

[code]

[2020-06-12 22:25] mangod9 commented on #34293
I can still repro the AV in debug builds with this stack:

[code]

[2020-06-12 22:53] AndyAyersMS commented on #37802
We should fix this for 5.0.

[2020-06-12 23:05] nattress commented on #37732
The existing crossgen1 perf tests just emit their native images into the core_root folder and it looks like they're getting picked up in the composite framework test which compiles `Microsoft.*.dll`. So we're passing both the dll and the crossgen ni.dll to crossgen2.

We should pass `/out <filename>` to `crossgenargs` here https://github.com/dotnet/performance/blob/0b9fa3e0fc7ee5377ba539957dc12062

[2020-06-12 23:30] DrewScoggins commented on #37819
I found this issue, @tarekgh https://github.com/dotnet/runtime/issues/37350, but this looks different then that.

[2020-06-12 23:33] safern commented on #37819
I remember @adamsitnik doing some investigations on ICU on Linux earlier this year, he might recall if there is an issue for this API.

[2020-06-12 23:35] tarekgh commented on #37819
That is what I was referring to:

https://github.com/dotnet/runtime/issues/31273
https://github.com/dotnet/runtime/issues/26054

[2020-06-12 23:54] davidfowl commented on #34742
I think it's a reasonable ask but its outside the scope of this change.

[2020-06-12 23:58] #37666 closed

[2020-06-12 23:59] sbomer opened #37837 "Clean up DynamicDependencyAttribute usages"
- Some of these attributes are no longer needed because the linker's pattern detection will be able to understand the code and keep the appropriate members. This [change](https://github.com/sbomer/runtime/compare/dynamicDependency...sbomer:removeDynamicDependency?expand=1) shows the ones that should be removable.
- Some of them should be replaced with `DynamicallyAccessedMembersAttribute`. See htt

[2020-06-13 00:14] DrewScoggins commented on #37816
The tests are not broken. We are also not missing any data. In general, for comparisons that span many months we try not to put every point in the graph. I will regenerate the graphs that do not show the actual move and update the issues accordingly.

[2020-06-13 00:23] BruceForstall commented on #37759
Well, the latest outerloop run was green, so closing.

https://dev.azure.com/dnceng/public/_build/results?buildId=685414&view=results

[2020-06-13 00:23] #37759 closed

[2020-06-13 00:24] BruceForstall commented on #37470
still failing:
https://dev.azure.com/dnceng/public/_build/results?buildId=685414&view=ms.vss-test-web.build-test-results-tab

[2020-06-13 00:25] GrabYourPitchforks opened #37838 "Mono SIGABRT in System.Drawing.Common affecting some test runs"
Affects clean test runs in https://github.com/dotnet/runtime/pull/37536
AzDO run: https://dev.azure.com/dnceng/public/_build/results?buildId=681708&view=logs&j=c6f8dc49-92a1-5760-c098-ba97b8142bfb&t=22b0078b-0469-5ba6-8725-2121fdbae049&l=42
Test log: https://helix.dot.net/api/2019-06-17/jobs/73f57a06-eec2-4676-8076-302ccabec52f/workitems/System.Drawing.Common.Tests/console

[code]

Possibly relate

[2020-06-13 00:38] rjmholt commented on #37766
Yes, I'm continuing to follow up in https://github.com/actions/virtual-environments/issues/1042. I'm also converting our tests to not depend on DNS resolution, but I'm still hoping to work out why this is failing on macOS.

[2020-06-13 00:42] GrabYourPitchforks commented on #37815
I suspect this is related to the ICU work. [We have managed optimizations](https://github.com/dotnet/runtime/blob/bd6cbe3642f51d70839912a6a666e5de747ad581/src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInfo.cs#L600) for `Equals(..., OrdinalIgnoreCase)`, but we never had managed optimizations for `IndexOf(..., OrdinalIgnoreCase)`. So it's likely that calling into ICU for this

[2020-06-13 01:08] AraHaan commented on #36635
Nice, I wish all the libraries that cannot possibly upgrade to STJ could benefit from this. Sadly a library I use (Discord.Net) relies on things currently not in STJ (or at least not known to be yet). However if I had some help and at least started the move on a fork maybe eventually it will be ported in a fully working way that wont break everything on it. Other than that I am really happy on wha

[2020-06-13 01:25] tannergooding commented on #35529
Breaking change doc was logged here: https://github.com/dotnet/docs/issues/18937

[2020-06-13 01:25] #35529 closed

[2020-06-13 02:09] maloo opened #37841 "Unconditionally setting Dtr in SerialPort Open fails in some devices that doesn't support Dtr"
### Description

Recreate issue requires a USB serial device that doesn't allow Dtr setting. In this case it was a Sirit/Motorola/Zebra FX9500 UHF RFID reader.
The code to reproduce is just "new SerialStream("COM123", 115_200).Open()"
This will fail with the error "Device is not functioning properly". Error occurs in DtrEnable that gets set in ctor of SerialStream [here](https://github.com/dotnet/

[2020-06-13 02:18] AndyAyersMS commented on #37796
Yeah, there's a loophole here. Thanks for finding this.

Reflection field setting eventually invokes the runtime helper method `RuntimeFieldHandle::SetValue`. This checks the class init state early on , before it calls `InvokeUtil::SetValidField` to actually modify the field's value. That callee may trigger class initialization. So if you call `RuntimeFieldHandle::SetValue` on a readonly static fi

[2020-06-13 02:23] davidfowl commented on #30867
It was going to be used in Kestrel to avoid allocating per request. We were in a state machine and had multiple things to pass (this and the httpcontext) to ExecutionContext.Run so that we ended up with a clean execution context per request.

[2020-06-13 02:24] ooooolivia commented on #37732
It seems the ```perfhelixpublish.proj``` that triggers perf crossgen2 perf jobs has been overriden by arcade change, so the workitem has been reverted. Will submit a new PR to disable it now.

[2020-06-13 02:32] isokissa3 commented on #37796
For some reason doing the following will **NOT** inline the InlineMagicNumber but in case of using the reflection hack it does inline it for some reason. Its a bit odd behavior.
[code]

[2020-06-13 02:37] ooooolivia commented on #37732
@nattress  That makes sense. However my question would be why crossgen1 and crossgen2 share the same ```Core_Root``` since they run in different workitems. My guess is Core_Root is not cleaned up after each run and the two tests happen to share the same machine?

[2020-06-13 02:40] ooooolivia commented on #37732
@nattress Besides that there's timeout issue for the composite scenario. Will do another round of check-in to both arcade and runtime to extend the timeout (probably along with enabling Linux workitems).

[2020-06-13 02:45] AndyAyersMS commented on #37796
It all depends on the relative ordering of class initialization and jitting.

In your first examples class initialization happens first, so the jitted code for `Test` incorporates the static's value.

In the example just above `Test` is jitted before class initialization, so the jitted code cannot incorporate the static's value.

[2020-06-13 02:51] isokissa3 commented on #37796
Ah, interesting... For some reason .NET Framework does not suffer from this and is able to inline it? Any insight on this?

[2020-06-13 02:56] carlreinke opened #37844 "Add single precision equivalent of System.Numerics.Complex"
## Background and Motivation

`Complex` only supports double precision, but it would be useful to have an exchange type that supported single precision.  It would also be useful to be able to write algorithms that would operate on both `Complex<double>` and `Complex<float>`, hence the proposed type is generic (a la  #24168).

## Proposed API

The proposed API is the same shape as `Complex`, sans s

[2020-06-13 03:20] benaadams commented on #30867
It currently [now allocates for any request the suspends](https://github.com/dotnet/aspnetcore/blob/32ad9d42c940ba56691b45aab469c469743545cc/src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs#L632-L650) but via `ValueTask` so the allocation can *currently* be switched off with `DOTNET_SYSTEM_THREADING_POOLASYNCVALUETASKS`

![image](https://user-images.githubusercontent.com/1142958/84558662

[2020-06-13 03:47] benaadams commented on #31355
You are looking at the wrong existing api. The existing apis are:
[code]
However there isn't one that takes multiple delimiters (e.g. `,`, `\n` or `\r`)

[2020-06-13 03:53] benaadams commented on #31355
Hm, maybe I got it wrong as there is already an existing api for multiple delimiters
[code]
So its this for a multi T delimiter? (e.g. `\r\n`)

[2020-06-13 04:05] benaadams commented on #31355
Ah is definitely for using a multielement delimiter `\r\n`

Every other `TryRead` api has an `(out ReadOnlySpan<T> span, ` except multielement delimiter which only has a `(out ReadOnlySequence<T> sequence, ` variant
[code]

QED it is a missing api

[2020-06-13 04:14] benaadams commented on #31355
Every other `TryRead` api has an `(out ReadOnlySpan<T> span, ` except multielement delimiter e.g.  `\r\n` which only has a `(out ReadOnlySequence<T> sequence, ` variant

[code]

QED it is a missing api

[2020-06-13 04:27] BrennanConroy commented on #30056
We've started hitting this ObjectDisposedException in AspNetCore

[2020-06-13 04:43] kjpou1 commented on #37151
closed by https://github.com/dotnet/runtime/pull/37417

[2020-06-13 04:43] #37151 closed

[2020-06-13 05:03] wfurt commented on #30056
do you have core files @BrennanConroy ?

[2020-06-13 05:09] davidfowl commented on #31355
I'm going to re-open this so we can re-discuss it 😄

[2020-06-13 05:18] BruceForstall commented on #36681
(Note: Windows arm issue)

Even though this configuration sets:
[code]

the test also sets
[code]
(it's the only one in the coreclr test tree to do so, and it's a Pri-0 test, so it probably gets more GCStress runs by far than any other test.)

I couldn't repro it initially, but when I tweaked some of the loops I was able to repro about every 10+ runs, and caught it in the debugger.

The assert is

[2020-06-13 05:29] BrennanConroy commented on #30056
Looks like it, 3.5GB 😲
https://helix.dot.net/api/2019-06-17/jobs/0f38261c-d6ac-4ef7-a1cc-a520aaf5b030/workitems/Microsoft.AspNetCore.SignalR.Client.FunctionalTests--net5.0/files/core.87757

[2020-06-13 05:57] #31038 closed

[2020-06-13 06:01] kg opened #37848 "Repository-wide gitignore is incorrect after mono integration"
It seems like the repository-wide gitignore list needs an audit now that mono has been integrated in. I've been failing to find stuff when using ripgrep and it turns out at least one reason for that is ripgrep obeys gitignore and we have an ignore list that includes files that are actually checked into the repository. The relevant example for me is ```Makefile```, which is blanket ignored at all d

[2020-06-13 06:22] #25378 closed

[2020-06-13 06:22] GrabYourPitchforks commented on #25378
Closing stale issues that aren't actionable.

[2020-06-13 07:02] Turnerj opened #37851 "Support for stdout and process arguments in already running processes"
The API around the `Process` class seems counter intuitive when handling _already running processes_. For the most part, you can access a variety of properties however if you attempt to access something like `StandardOuput` or `StartInfo`, then you hit an issue.

via `StandardOuput`:
[code]

via `StartInfo.Arguments`:
[code]

I don't think this is a bug per-se, I think this was an intentional desi

[2020-06-13 07:09] carlreinke opened #37852 "Add ArrayBuilder<T>"
## Background and Motivation

Today people use `List<T>` as an array builder, but it isn't a very good one.  For .NET 5, there is an API (#27061) being added to expose the innards of `List<T>` in order to make it a slightly better array builder.  It would be better to have an _actual_ array builder!

## Proposed API

[code]

## Alternative Designs

* `System.Collections.Generic.ArrayBuilder<T>` ac

[2020-06-13 08:53] ALIENQuake commented on #2024
@ericstj @stephentoub Please accept my big thanks, I had a lot of worries if a small bug and rare use-case would be something that would be worth fixing for the NET team. Thank you very much!

[2020-06-13 10:52] FunksMaName commented on #35269
@CrapuleJack my work around was to a WIX Bundle project to install the dependency, if you are using wix then here is a reference

[code]
Some resources around WIX Boostrapping
https://stackoverflow.com/questions/47399366/wix-how-do-i-launch-another-msi-or-exe-inside-my-installer-c
https://www.firegiant.com/wix/tutorial/net-and-net/bootstrapping/

[2020-06-13 11:04] stephentoub commented on #30867
Ben, can you elaborate? You would use this method there to avoid an allocation? How? If that's actually the case, it's probably worth exposing.

[2020-06-13 11:38] svick commented on #37852
Can you explain the ways in which this API serves as a better array builder than `List<T>`?

[2020-06-13 11:43] markm77 commented on #36172
Okay, sorry for the delay with this as creating a minimal repro from a large codebase turned out to be very time-consuming esp. with the 2min test time for each change. However I've done it now so hopefully this can be finally fixed.

You can repro by creating a C# project with two source files as follows.

Project file
[code]

Cmdlet file
[code]

Service file
[code]

After creating and building t

[2020-06-13 11:56] rajenderreddyk opened #37855 "add errorcode property in validationresult to accept the errormessage and errorcode"
We are trying to find solution for the ValidationResult to add errorcode along with the errormessage property.
Similar to FluentValidation. Is there a way that we can add or extened the System.ComponentModel.DataAnnotations ValidationResult class ?

[2020-06-13 12:22] andrew-boyarshin commented on #37612
I know I'm a bit too late (API is already approved), but here's my 2 cents: I'd name it `CallingConventions`, rather than `CallConvs`, even though it contains types named `CallConvXXX`. Abbreviations obscure meaning.

[2020-06-13 13:43] HamedFathi opened #37858 "Reflection does not work in the first attempt"
### Description

I wrote the following code in a class library project

[code]

And wrote this block of code in another console project

[code]

Something odd happened in the first call the code returns nothing but in the second attempts it works!!!

![41435bdb-5025-4929-a3c9-957263c8cec7](https://user-images.githubusercontent.com/8418700/84570220-317f7d00-ada1-11ea-89e4-5a33456d92ad.jpg)

The two

[2020-06-13 14:26] CrapuleJack commented on #35269
@FunksMaName Thanks a lot for that, I will take a look at that for sure

[2020-06-13 14:42] carlreinke commented on #37852
@svick There are several cases in which using `List<T>` would require you to make a copy but `ArrayBuilder<T>` would not:
* If you know the length up front, you can get a `T[]` out via `MoveToArray()` without copying.  In this case, the only benefit over just allocating `T[]` and initializing it yourself is that this helps you track how many elements you've added.
* If you don't know the length up

[2020-06-13 14:51] jkotas commented on #37858
`AppDomain.CurrentDomain.GetAssemblies()`  returns the currently loaded assemblies. It can grow and shrink over time.

The likely explanation of the behavior you are seeing is that the assemblies with your types were not loaded for the first call, but they got loaded for the second call.

`AppDomain.CurrentDomain.GetAssemblies()` should be really only used for diagnostics. Searching through it lik

[2020-06-13 14:51] #37858 closed

[2020-06-13 14:56] benaadams commented on #30867
It was arranged differently before; however because it wasn't using `await` for `ProcessRequest` the `ExecutionContext` would "leak" between requests (depending where it was set and if no-`await`s were used)

The difficulty with using the regular `EC.Run` to solve this is `application` is a method parameter, and also `this`is needed, so a double reference state needs to be passed into `EC.Run`; ho

[2020-06-13 14:58] obiwanjacobi commented on #23937
I feel TraceSource should be removed until it works. It is very misleading to put in code that compiles but does not work as expected. It wastes the time of the developer.
Not sure if there are more cases like these - better to include only stuff that actually works.
You could put it in a prerelease/experimental package, but it must be very clear what the deal is.

[2020-06-13 15:01] stephentoub commented on #30867
Of course, I just don't see how that's applicable here. If this overload was exposed, how would this code change to avoid allocations? We'd be able to pass in both values without an allocation, but the method isn't asynchronous nor awaitable.

[2020-06-13 15:17] jkotas commented on #37282
This is timing out in regular CI legs too.

CoreCLR Pri0 Runtime Tests Run Windows_NT arm64 checked failed in  https://github.com/dotnet/runtime/pull/37847 with:
[code]

I am going to disable the test. It is affecting large number of CoreCLR PRs.

[2020-06-13 15:20] tannergooding commented on #37282
I'll get up a PR to fix this today.

[2020-06-13 15:20] khyperia commented on #462
`Enumerable.Range` allocates, implementing IEnumerable for ranges (via struct iterator) would not. This is incredibly important for performance, and blocks a _lot_ of use cases.

Still truly baffled why this wasn't done, it was a very core original use case when proposing ranges in the first place - like, the number of people who responded to https://github.com/dotnet/csharplang/issues/2810 saying

[2020-06-13 15:25] jkotas commented on #37282
Ok, I will wait for your PR.

[2020-06-13 15:28] benaadams commented on #30867
Just looked again; previously the `ProcessRequest` method didn't exist and it was all inlined into `ProcessRequests<TContext>` so it was all in the same statemachine loop (and didn't allocate extra); however the corner-case was where an `AyncLocal<T>` was modified but none of the user methods where `async` (e.g. all `Task.CompletedTask` returning sync methods); then the `AyncLocal<T>` local change

[2020-06-13 15:31] stephentoub commented on #30867
Thanks. So will it change to (1) if this is added?

[2020-06-13 15:47] benaadams commented on #30867
Would make sense; or you could enable `DOTNET_SYSTEM_THREADING_POOLASYNCVALUETASKS` by default then could just use `async ValueTask` methods to handle it without the additional allocation if they suspend 😉

The choice is essentially between:

1. Pushing every await into a top level loop to avoid suspend allocations (which it was doing before); which then it needs this EC.Run overload if it runs us

[2020-06-13 15:53] tannergooding commented on #37282
Fix should be here: https://github.com/dotnet/runtime/pull/37859

[2020-06-13 15:55] stephentoub commented on #30867
I've yet to see sure-fire evidence that doing so actually moves the needle. Did I miss it? On top of that, ASP.NET itself doesn't appear to be safe for that: https://github.com/dotnet/aspnetcore/issues/16876.

[2020-06-13 15:56] dracos1993 commented on #37769
Not sure how you say it's intentional based on #34255.  Just to reiterate, I want the PropertyNameCaseInsensitive setting to be false, and both the docs and #34255 suggest that, that should be the default value.

I have no issues when I serialize something inside my code, like below

`var address = JsonSerializer.Deserialize<Address>(content);`

I am getting the JSON error when I try to serialize

[2020-06-13 16:21] Clockwork-Muse commented on #37769
.... as a side note, _why_ do you have two properties only different by casing?  As a personal preference, I'd consider that erroneous in some fashion, and try to remove it...

[2020-06-13 16:27] benaadams commented on #30867
Someone should probably fix those 😅

I was quite surprised in my load testing (for our app rather than TE testing) that the cache was sufficient. Likely because all the suspensions were very short lived. If they are longer lived suspensions then the allocations would likely become noise against the suspension time.

We essentially moved to almost 0 allocations under heavy load; except for that one

[2020-06-13 16:36] dracos1993 commented on #37769
I agree @Clockwork-Muse, but unfortunately I can't do that as I am working on an API migration and everything needs to be the same as the old one, and that includes models.

[2020-06-13 17:44] reflectronic commented on #31355
I brought up how we rejected the ReadOnlySpan version of https://github.com/dotnet/runtime/issues/30778 for this same reason reason in the chat during API review. If we go through with this API, we should look at that API again as well. I talked about my opinions on the Span returning APIs in that issue https://github.com/dotnet/runtime/issues/30778#issuecomment-589432873

[2020-06-13 17:54] jemiller0 commented on #23937
@obiwanjacobi I agree and disagree. The current implementation is brain dead and I think it should be fixed. However, I'm currently using the current brain dead solution with hacks. So, I would prefer that it stay in there and not be removed. It is better to just fix it.

[2020-06-13 18:02] vladar107 opened #37860 "IOptionsSnapshot can return empty value"
I've try to test IOptions and his friends and find some strange behaviour

## Simple Web API
With appsetings.json
Controller returns settings value

        private readonly IOptionsSnapshot _optionsSnapshot;

        public SettingsController(IOptionsSnapshot optionsSnapshot, IScopedService scopedService,
            ITransientService transientService)
        {
            _optionsSnapshot = opt

[2020-06-13 18:53] superstator opened #37862 "Custom ILogger does not receive exception passed to LogError extension method"
### Describe the bug
The exception object passed to ILogger.LogError() is not passed to a custom ILogger implementation.

### To Reproduce

Create a trivial ILogger implementation:

[code]

Then log an exception from a simple console application:

[code]

### Expected behavior

Expected output:

[code]

Actual output:
[code]

### Additional context
If I debug the Log<TState> method, the `exception

[2020-06-13 19:04] davidfowl commented on #37862
You're calling the wrong overload of LogError:

![image](https://user-images.githubusercontent.com/95136/84577040-d6806280-ad6d-11ea-99b4-7b47bae55a7e.png)

The exception comes first:

![image](https://user-images.githubusercontent.com/95136/84577061-f31c9a80-ad6d-11ea-884d-ef3952b48a8e.png)

[2020-06-13 19:08] superstator commented on #37862
D'oh.

But then why doesn't the formatter do something with it? The metadata for that overload says "   An object array that contains zero or more objects to format.", but it seems to just ignore the extra object?

[2020-06-13 19:10] benaadams commented on #30867
For a different spin on the api; could do a run on default context one; (which would also work here) which might have a wider value as its hard to get back to default/clean context rather than SuppressFlow
[code]

/cc @davidfowl

[2020-06-13 19:17] davidfowl commented on #37862
It's like passing a format string argument when there's no format string to `Console.WriteLine` or `string.Format`:

[code]

VS

[code]

If you did this:

[code]

It would show up, but that's not what you want anyways.

[2020-06-13 19:32] GrabYourPitchforks commented on #37852
I'm not sure I like the idea of having all of these different APIs on a "builder" type that's not meant to serve as an exchange type. It seems the primary benefit of this over `List<T>` is when you already know the capacity ahead of time and you're trying to avoid a double-allocation of the underlying array. At that point, it's simple enough to write:

[code]

Or, if you know the max capacity but

[2020-06-13 19:33] stephentoub commented on #30867
I think I'd rather just expose an `ExecutionContext.Default` if that proved important; yes you can save a few cycles by building it in, but this would seem to compose better.  Regardless, it's a separate API / concept / use-case, e.g. it wouldn't work for ManualResetValueTaskSourceCore.  Please feel free to open a separate issue on it with supporting use cases / places where it would be used.

Doe

[2020-06-13 19:35] superstator commented on #37862
Fair enough. I'm just trying to think of a way to make that less of a trap - it's not exactly obvious you've switched them unless you dig into the overloads, and the `LogError(message, exception)` semantic feels pretty natural. log4net, for example, uses that format which is probably why I did it reflexively. Not that one is better than the other, I'd just like some kind of warning that I'm doing

[2020-06-13 19:42] BruceForstall commented on #36681
There's something strange about the EE suspension. Through multiple GCs, there are 3 threads waiting for `System.Threading.FastRandom.Next(Int32)` to JIT; GC stack walks show ExplicitFrame in the `PrestubMethodFrame`. Then, in the next, failing case, all these three are sitting on the same instruction inside `Next()`, which is on a call instruction and not a GC safe point.

[code]

Two of these co

[2020-06-13 19:43] superstator commented on #37862
I added this extension to my project and found half a dozen more places I'd made the same mistake:

[code]

So maybe this is a feature request now?

[2020-06-13 19:48] davidfowl commented on #37862
I mean, we wouldn't add a new API as obsolete, but maybe the logging analyzers can detect this.

[2020-06-13 20:11] carlreinke commented on #37852
Why wouldn't it serve as an exchange type?  You could pass it into anything that knows how to `Add()` to an `IList<T>`.

You could certainly cut down the API by not implementing `IList<T>` and cutting `Reverse()` and `Sort()` (which are sort of fringe, but both `List<T>` and `ImmutableArray<T>.Builder` have them), which would make it less likely to be an exchange type, if that's a goal.  I think t

[2020-06-13 20:26] GrabYourPitchforks commented on #37852
Yes, I'm aware of the problems of the `CollectionsMarshal` API. I was one of the people that pushed back in the review, as it means that our implementation of `List<T>` is for all eternity now locked to having a contiguous array of elements of type `T`. It prevents us from specializing `List<bool>` as a bit array, for instance. But that ship has sailed.

Given this state of the world, I could see

[2020-06-13 20:56] carlreinke commented on #37852
I've heard that the API review committee does not like to reconsider its decisions.  It's not strictly true that it doesn't reconsider them, though.

I'm giving some external push-back and proposing a safe API that solves the [motivating](https://github.com/dotnet/runtime/issues/27061#issuecomment-413058760) [use case](https://github.com/dotnet/runtime/issues/27061#issuecomment-525439859).  Unless

[2020-06-13 21:22] GrabYourPitchforks commented on #37852
Thinking about this a bit more, I believe `GetArraySegmentAndReset` would be a "safe" API. Which means we could ostensibly add it directly to `List<T>` and not bounce through `CollectionsMarshal`.

But I think `CollectionsMarshal` is really here to stay. There's still a scenario where people want to party on the list's backing store, even without giving up ownership of the array. And we wouldn't w

[2020-06-13 21:43] benaadams commented on #30867
K thinking this through, it's a bit complicated as there are 3+ async calls that need guarding, and would ideally only capture as a singleton and only use Run once so the logic becomes complicated if most of them don't run sync, and probably inefficient.

The simplest api to use would be to flatten it out of a call back and just use a `.Restore(...` type api that handled the EC notifications and s

[2020-06-13 21:47] benaadams commented on #30867
Being explicit the api would be:
[code]

Then could push all the `await`s back up to the single statemachine that's already looping and already allocated; and not have to jump through hoops trying to manage the Task completions and end up on a clean context for the next loop.

[2020-06-13 21:55] davidfowl commented on #30867
That would indeed be much cleaner than a callback API.

[2020-06-13 23:54] scalablecory commented on #37865
@MihaZupan

[2020-06-13 23:56] scalablecory commented on #37865
This looks like a bug. Are you blocked on this, or was it just something you stumbled on?

[2020-06-14 00:50] warappa opened #37867 "Add ability to group related service configurations"
## Background and Motivation
Currently, dependencies are configured in `Startup.cs` inside `ConfigureServices(IServiceCollection services)`. If a program need many services the `ConfigureServices` method can get very long and confusing. To mitigate the issue, **related dependencies** have to be **grouped** in some way. As of now, one has use (extension-)methods to achieve that.

In other establish

[2020-06-14 01:00] warappa commented on #37867
Label would be **area-Extensions-DependencyInjection**

[2020-06-14 01:50] ethanshea-ms commented on #37865
I'm not blocked, I'm using a workaround where I parse the port number myself but this is not ideal.

[2020-06-14 03:51] danmosemsft commented on #37865
Any interest in investigating a bit?

[2020-06-14 04:54] JamesNK commented on #1578
HPack decoding shows up when profiling HTTP/2 Kestrel. I think this is a place to optimize and get gains on the client and server.

Here is the decoder today - https://github.com/dotnet/runtime/blob/b2eaf5c60a99e0527c232a99fec2da6fd8fde8c9/src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/HPackDecoder.cs

It looks like it is designed to be stateful and parse a byte at a time. Do we n

[2020-06-14 06:39] huoyaoyuan commented on #31655
@GrabYourPitchforks

I wonder how it applies to console UI. It's not that simple (considering wide characters), but the demand does exist.
Is there any relatively rich CUI framework in .NET?

[2020-06-14 07:08] #37551 closed

[2020-06-14 07:49] svick commented on #37852
@GrabYourPitchforks

That's https://github.com/dotnet/runtime/issues/27062.

[2020-06-14 08:27] bbartels commented on #37769
Ah I see, I misunderstood.
Looking at the implementation it seems like the default is indeed false if the JsonSerializerDefaults parameter is not set to `Web`. https://github.com/dotnet/runtime/blob/67d74fca70d4670ad503e23dba9d6bc8a1b5909e/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs#L96-L98 . Seems to be intended as the comment suggests.(https://githu

[2020-06-14 09:56] CoffeeFlux opened #37871 "[mono] Type.GetType with generic argument list does not trigger correct exception"
I believe the CoreCLR behavior is correct here, given it seems much more useful.

We should probably also update the documentation: [Type.AssemblyQualifiedName](https://docs.microsoft.com/en-us/dotnet/api/system.type.assemblyqualifiedname?view=netcore-3.1) mentions generic argument lists but [Specifying fully qualified type names](https://docs.microsoft.com/en-us/dotnet/framework/reflection-and-co

[2020-06-14 10:01] jeroenwalter commented on #2379
I'm using the serialport on a Rpi3 connected to an Arduino via usb. The arduino is sending continuous data to the serialport.
Even just reading the data without doing anything with it via the DataReceived event results in about 50 - 80 threads consumed by the serialport, all waiting for some other serialport thread. Data is being received seconds after they are sent.
The cpu load generated by this

[2020-06-14 10:25] SingleAccretion commented on #37852
@GrabYourPitchforks  I remember hearing about "something something ... new members on `List<T>` have non-trivial JIT costs so new APIs should be added with care ... something something". Is that a concern?

I think I like both the original dedicated `ArrayBuilder<T>` and the `GetArraySegmentAndReset` (maybe just `ArraySegment<T> Collect()`?) replacement much more than `CollectionsMarshal.AsSpan<T>

[2020-06-14 11:00] dracos1993 commented on #37769
Ah, thanks @bbartels, that explains it. https://github.com/dotnet/runtime/blob/67d74fca70d4670ad503e23dba9d6bc8a1b5909e/src/libraries/System.Text.Json/docs/ParameterizedCtorSpec.md has the following line in it,

"ASP.NET default settings of camelCase casing (and case-insensitivity) will work fine without needing extra configuration."

which seems to suggest that is the default for asp.net. Not sur

[2020-06-14 11:28] jeroenwalter commented on #2379
I've just implemented a DataReceived event for your implementation. cpu load is 2% on rpi vs 25% with the dotnet serialport implementation.

[2020-06-14 12:46] ShreyasZare opened #37873 "Socket.Close() blocks indefinitely when Socket.ReceiveMessageFrom() is being called in another thread."
Socket.Close() blocks indefinitely when Socket.ReceiveMessageFrom() is being called in another thread in Linux on .NET Core runtime v3.1.5.

The only way to release the block that I came up with is to send any UDP packet to the listening socket so that ReceiveMessageFrom() call returns and the socket closes.

### Configuration

* .NET Core runtime v3.1.5.
* Tested on Ubuntu 18.04 LTS and Raspbian

[2020-06-14 13:01] FiniteReality commented on #37867
I'd personally prefer an API more like `AddModule<TModule>()`. The module itself could then be registered with the DI container, and then used to build the full application container, e.g.:

[code]

That way, modules can use the existing service lookup strategy, and can also be easily configured. (E.g. by injecting `IOptions<ModuleOptions>` or some such.)

[2020-06-14 13:06] jaymin93 commented on #36752
i have certain issues with unit test as below , any advice  ?

i have all pre requisite for building libs , i ran build.cmd but vs shows various error

![image](https://user-images.githubusercontent.com/10508429/84594148-d9627c80-ae6d-11ea-8a6c-3b7aaef1c530.png)

[2020-06-14 14:13] ShreyasZare commented on #37873
Update to this issue:

* The issue also affects Socket.ReceiveFrom().
* The workaround to send empty UDP packet to allow closing the socket works only for IPv4 and does not have any effect with IPv6 socket.

[2020-06-14 14:49] stephentoub commented on #37873
cc: @tmds

[2020-06-14 14:49] daredever commented on #36012
There is another way to implement this feature, see my repo's dev branch [PerformanceLogging](https://github.com/daredever/PerformanceLogging/tree/dev).
The main idea is to add extensions to ILogger:
[code]
and create a special struct:

[code]

after that we'll have shortcuts below:
[code]

Repo contains several benchmarks. In dev infrastructure there is 5-10% performance decrease on double log le

[2020-06-14 14:57] daredever commented on #36012
сс @korifey

[2020-06-14 15:00] KalleOlaviNiemitalo commented on #37867
I think `IServiceCollectionModule.ConfigureServices(IServiceCollection)` should return `void` rather than `IServiceCollection`.

I don't see why any caller would want to use the return value:

- `ServiceCollectionModuleExtensions.AddModules` in <https://github.com/dotnet/runtime/pull/37868> ignores the return value.
- Using the return value to chain calls would blow the indentation:
[code]

[`Star

[2020-06-14 15:17] andrew-boyarshin commented on #31308
Turns out `BigInteger` is inconsistent with bit length being `int` or `long`. Correct return type is `long` (see #15925, yeah, it really can overflow!). @tannergooding @terrajobst  does this change require additional API review?

[2020-06-14 15:26] KalleOlaviNiemitalo commented on #36012
There is already [LoggerMessage](<https://docs.microsoft.com/aspnet/core/fundamentals/logging/loggermessage?view=aspnetcore-2.1> "High-performance logging with LoggerMessage in ASP.NET Core | Microsoft Docs"), whose methods return delegates that try to avoid allocating. It is less convenient to use than LoggerExtensions, though. <https://github.com/dotnet/runtime/blob/67d74fca70d4670ad503e23dba9d6

[2020-06-14 15:33] GSPP opened #37875 "Document IgnoresAccessChecksToAttribute"
The `IgnoresAccessChecksToAttribute` attribute appears to be not documented on MSDN and not even defined in the base class libraries.

Is it supported? If yes, it should be documented and defined out of the box. If no, well, according to my research it has found usage and there is unofficial documentation. This is not a great state to be in.

[2020-06-14 15:40] tannergooding commented on #31308
It will need to get sign-off at a minimum. Given that we currently use `int` as the backing type, you only need an array that is 67 million elements before `BitLength` risks overflowing, so using `long` makes sense to me.

I'd suggest prepping the PR assuming that `long` is fine and I'll get sign-off either offline or in Tuesday's API review. CC @dotnet/fxdc

[2020-06-14 15:40] StephenCleary commented on #36380
@moonrockfamily I [blogged about that](https://blog.stephencleary.com/2020/05/backgroundservice-gotcha-silent-failure.html) recently - part of a 3-part blog series. I use all three techniques to create a "critical `BackgroundService`" base type that avoids startup delay (`Task.Run`), catches `ExecuteAsync` exceptions, and logs and then exits the host if a critical background service fails.

[2020-06-14 15:47] jzabroski commented on #302
@GrabYourPitchforks Just curious, what versions of .NET can I use the allocation-free API from?  Thanks for your awesome work!

[2020-06-14 17:45] GrabYourPitchforks commented on #302
@jzabroski The allocation-free APIs aren't available in any framework version yet. If there are any status updates they'll be posted to https://github.com/dotnet/runtime/issues/28704. Feel free to comment there about the APIs you'd like to see.

[2020-06-14 17:51] vcsjones commented on #37577
I don't think it is a bug, but perhaps a limitation of how assembly probing works. If you think this behavior could be improved, perhaps a new feature request issue would be useful. I think this behavior can occur with just about any package that has RID-specific assets, not just `ProtectedData`.

[2020-06-14 17:52] stephentoub commented on #31308
long makes sense

[2020-06-14 18:58] jzabroski commented on #28704
I would like to see an allocation-free `StringInfo.ParseCombiningCharacters`.  I would also like to see improved documentation/visibility around this awesome API that has been around since .NET 1.0, but nobody seems to know about.

It would also probably be helpful if there was a "Unicode Waffle Text Generator" that could help people when testing Unicode characters.  It is so painful to test corre

[2020-06-14 19:12] jzabroski commented on #302
Also, just to clarify, I think what you're saying here is that this issue should be retitled as "StringInfo.ParseCombiningCharacters returns incorrect values on **Windows**."  When I ran the code on Windows 10 Pro using legacy .NET Framework, I got 1.  .NET Core on Windows was the only scenario I got 2.

[2020-06-14 19:32] ViIvanov commented on #36709
Thanks to all, looks like that with "[target-typed new](https://github.com/dotnet/csharplang/blob/master/proposals/target-typed-new.md)" feature (already available in MSVS 2019 Preview) proposed methods will have a narrow scope, limited to local `Lazy<>` variables. Such variables are very rarely used. I think, anybody can add proposed class to own assembly, if needed.

Therefore, this issue should

[2020-06-14 19:32] #36709 closed

[2020-06-14 20:09] AaronRobinsonMSFT commented on #35616
@VSadov @vitek-karas This seems to no longer be shipped in `shared\Microsoft.NETCore.App` - yay, but is now no longer shipped at all - boo. This is breaking tools like https://github.com/AaronRobinsonMSFT/DNNE that rely on the static lib of nethost - `libnethost.lib`.

I verified this on the [nightly build](https://github.com/dotnet/installer#installers-and-binaries) - `5.0.0-preview.7.20313.3`.

[2020-06-14 20:16] AaronRobinsonMSFT opened #37877 "libnethost.lib is no longer shipped on Windows"
The `libnethost.lib` is no longer shipped on Windows. This breaks tools like https://github.com/AaronRobinsonMSFT/DNNE. See first reported at https://github.com/dotnet/runtime/issues/35616#issuecomment-643815935.

I believe this was a regression introduced in https://github.com/dotnet/runtime/pull/37254.

/cc @am11 @vitek-karas @VSadov

[2020-06-14 22:21] warappa commented on #37867
Hi @FiniteReality,
thank you for your feedback, I see where you're going. Having dependency injected services on modules itself sounds nice. But this requires a _fundamental change_ in how the startup service configurations get processed: **building _multiple_ containers**.

### Refactoring
This proposal strives for a **refactor-friendly** grouping of services, that is easy to understand and easy

[2020-06-14 22:29] wfurt commented on #36752
try to build the whole project from command line with tests - at least once.
@ViktorHofer may have more insight to what exact VS version you need.
There were some recent changes and I think it may needs particular version to make tests working right.

[2020-06-14 22:32] warappa commented on #37867
Hi @KalleOlaviNiemitalo,
thank you too for your feedback, and I think you made 2 (or 3) good points!

When composing the PR I had the standard Fluent API style in my head. But the API contract `IServiceCollectionModule.ConfigureServices(IServiceCollection)` would suggest an option that should not exist nor be utilized: **_replacing_** the provided `IServiceCollection` instance with a new one!

I w

[2020-06-14 22:56] ViktorHofer commented on #36752
The minimum required VS version is 16.6  Preview 2, see the windows-requirements.md file for more infos.

[2020-06-14 22:57] ViktorHofer commented on #36752
Can you please try to restore the solution from CLI first?

[2020-06-14 23:11] #37877 closed

[2020-06-14 23:41] wfurt commented on #33947
Did you get this solved somehow @jackcu? There is API to allow impacting ciphers but it 1. is not available on Windows 7 and 2. .NET does not use it. I'm not sure about your comment about SCH_USE_STRONG_CRYPTO. That would be normally set unless you request weak parameters.

I don't think this issue is not actionable at the moment.

[2020-06-14 23:52] TylerBrinkley commented on #31001
I updated the proposal to add a DIM `Contains` method to `ISet<T>` as the current `Contains` method is defined on `ICollection<T>` and so if you tried to call `Contains` on an `ISet<T>` the call would be ambiguous with the `ICollection<T>` and `IReadOnlySet<T>` versions. The new method would take precedence in this case and it's implementation if not overridden would delegate to `ICollection<T>`'s

[2020-06-15 01:46] nathan-alden-sr commented on #37612
FWIW, `Supress` is spelled wrong. Hopefully wherever that is can be corrected.

[2020-06-15 01:54] AaronRobinsonMSFT commented on #37612
@nathan-alden-sr It is correct in the official name - https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/SuppressGCTransitionAttribute.cs. I am just poor at spelling in comments 😄

[2020-06-15 02:06] scalablecory commented on #37694
"iovip.qbox.me" is using a wildcard cert of "*.qbox.me".
"image.tuhu.cn" is using a cert for "www.baishancloud.com".
They do not resolve to the same IPs, either, at least from my DNS server.

I agree `ServerCertificateCustomValidationCallback` is correct path here.

[2020-06-15 02:37] v-haren opened #37880 "Test failure: JIT\\Directed\\StructABI\\structreturn\\structreturn.cmd"
failed in job: [runtime-coreclr jitstress 20200613.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=686806&view=ms.vss-test-web.build-test-results-tab&runId=21324670&resultId=106408&paneView=debug)

Error message
[code]

[2020-06-15 02:42] pengweiqhca commented on #37694
Whether is the same IP is not important, verify the connection security using known host, using other host fetch a actual resource. `SocketsHttpHandler` vdoes not support at present, `WinHttpHandler`/`CurlHandler` is suppoort.

[2020-06-15 02:45] v-haren opened #37881 "Test failure: Interop/PInvoke/Vector2_3_4/Vector2_3_4/Vector2_3_4.sh"
failed in job: [runtime-coreclr jitstressregs 20200614.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=686944&view=ms.vss-test-web.build-test-results-tab&runId=21329030&resultId=100729&paneView=debug)

failed tests:
Interop/PInvoke/Vector2_3_4/Vector2_3_4/Vector2_3_4.sh
Interop\\PInvoke\\Vector2_3_4\\Vector2_3_4\\Vector2_3_4.cmd

Error message
[code]

[2020-06-15 03:21] v-haren commented on #37574
failed again in job: [runtime-coreclr r2r-extra 20200613.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=686771&view=ms.vss-test-web.build-test-results-tab&runId=21321192&resultId=106577&paneView=debug)

failed tests: JIT\\Performance\\CodeQuality\\BenchmarksGame\\reverse-complement\\reverse-complement-1\\reverse-complement-1.cmd

Error message
[code]

[2020-06-15 03:30] #37574 closed

[2020-06-15 04:13] wfurt commented on #37694
The IP differences are probably caused by CDN and geolocation. The interesting part is that this is trying to fetch data from host neither site is willing to vouch for.

Anyway, here is what I had in mind:

[code]

gives `OS` to me. I think the current behavior is there for a reason and we would need to dig through corefx history. It is unlikely to change IMHO given the unusual scenario and possib

[2020-06-15 04:35] v-haren opened #37883 "Test failure: Assertion failed '!comp->compDoOldStructRetyping()' in 'HVATests1:returnTest_HVA64_01():VectorMgdMgd+HVATests1+HVA64_01[System.Byte]:this' during 'Lowering nodeinfo'"
failed in job: [runtime-coreclr crossgen2 20200613.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=686864&view=ms.vss-test-web.build-test-results-tab&runId=21327180&resultId=100267&paneView=debug)

failed tests:
JIT\\Directed\\VectorABI\\VectorMgdMgd_r\\VectorMgdMgd_r.cmd
JIT\\Directed\\VectorABI\\VectorMgdMgdArray_r\\VectorMgdMgdArray_r.cmd
JIT\\Directed\\VectorABI\\VectorMgdMgdSta

[2020-06-15 04:40] leorik commented on #24200
I'd like to present alternative API proposal.
I'm sorry in advance if I'm using user mentions too liberally: I wasn't able to locate anything about mentions etiquette in community or contributions guidelines. And since mentioned people participated in discussion before I judged it's warranted.

## Summary of implementation approaches
As outlined in comments above, currently we have couple of ways

[2020-06-15 04:41] v-haren opened #37884 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.PostAsyncDuplex_CancelledBeforeResponseHeadersReceived_ResetsStream"
failed in job: [runtime-libraries outerloop 20200614.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=686978&view=ms.vss-test-web.build-test-results-tab&runId=21329432&resultId=103240&paneView=debug)

Error message
[code]

[2020-06-15 04:41] shawnshaddock commented on #36806
I'm having an issue with ExportParameters(true) as well. It takes an extremely long time to return, and when it finally does return the private parameters aren't there. Only Exponent and Modulus are populated.

[2020-06-15 05:44] sankalan commented on #37577
I get that, it doesn't seem like an issue with `ProtectedData`. Can you tag someone from the reflection group to have a look into this?

[2020-06-15 06:44] wanton7 commented on #24200
My 2 cents. Our company would be using this for cache size limits and my understanding from reading this issues is what most would use it for. Not having way of calculating object size recursively would mean everyone would have to write their own code to loop through objects fields and call this **GetExclusiveSize** method for every one of those fields. Because strings are objects would this also

[2020-06-15 06:55] leorik commented on #24200
@wanton7 Since most of the groundwork calculating size would be done for exclusive size anyway, I don't see any issues exposing inclusive size API. Let me update proposal.

[2020-06-15 07:40] a-ctor commented on #37695
Thank you @jkotas for you help. That worked perfectly :)

[2020-06-15 07:42] tmds commented on #37873
@ShreyasZare can you try using .NET 5.0 preview? It has a change to improve this specifically: https://github.com/dotnet/corefx/pull/38804.

[2020-06-15 07:50] birnbeidla commented on #37586
No, your first thoughts were correct. The stack is from the collector thread, NOT the target thread.

But since it happens while (async) walking the targets thread's stack (while the target is suspended), I can't rule out heap corruption completely but it's very unlikely that the corrupted stack is the one from my collector thread.

Anyway, my real question is how to detect or recover from such a

[2020-06-15 07:53] RussKie opened #37890 "Regression: `CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek` doesn't align with Windows settings"
### Description

As part of ongoing investigation of test failures in https://github.com/dotnet/winforms/issues/3121 I discovered what appears to be a regression in .NET 5 P5 or P6 - `CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek` no longer returns the value configured at OS level, instead returning `Sunday`.

### Configuration

* Global config
[code]

* Winforms specific config
[code]

[2020-06-15 07:56] ShreyasZare commented on #37873
Thanks for the response. Good to know that the issue is being fixed in .NET 5.0 preview. I however cannot deploy with .NET 5.0 since its a product that will be distributed and is expected to work on all platforms.

I have made a few workarounds for now that work well for the specific product use cases.

[2020-06-15 08:08] tmds commented on #37873
fyi, calling `Socket.Shutdown` may be a workaround.
Most workarounds will be subject to subtle race conditions.

[2020-06-15 08:15] ShreyasZare commented on #37873
For Udp Sockets it doesn't work. The product is actually a DHCP server so, everything it deals with is for Udp.

[2020-06-15 09:01] xiangzhai commented on #37405
\cc @heiher

[2020-06-15 09:10] troplin opened #37893 "Very slow deserialization of XElement with text content using DataContractSerializer"
### Description

The following code takes about **15 minutes** to run on my machine:
[code]
The equivalent code using `Save` and `Load` only takes about 200-300 ms:
[code]
Going through a string using `XmlWriter`+`StringWriter`+`XmlReader`+`StringReader` is also only 200-300 ms:
[code]

Curiously, If I change the content to use `"\n"` instead of `"\r\n"` as line separator, the runtime is reduced t

[2020-06-15 09:34] Symbai commented on #37866
You need to manually install the nuget package https://www.nuget.org/packages/System.Drawing.Common/ this is by design and you also have to do this on a WPF project. I expect that Winforms project automatically contains this reference for some reason. There is also a blog post from Hanselman about this https://www.hanselman.com/blog/HowDoYouUseSystemDrawingInNETCore.aspx

[2020-06-15 10:14] BreyerW commented on #24200
@leorik  reflection makes AOT much harder (or outright impossible where interpreter is not allowed) or app noticeably slower (reflection is known to be slow in general) and this also should be taken into account as drawbacks

[2020-06-15 10:32] andrew-boyarshin commented on #31308
For API re-review:
1. `long` instead of `int` as the return type
2. Bit length is that of the two's-complement representation. This detail was discovered when testing against Java's `BigInteger` and thanks to @KalleOlaviNiemitalo. The only difference is for negative power-of-2 numbers.

[2020-06-15 10:47] xsoheilalizadeh commented on #32555
Could we have this in .NET 5?

[2020-06-15 11:23] ViktorHofer opened #37895 "Long running test: System.Net.Sockets.Tests.NetworkStreamTest.BeginEndReadWrite_Sync_Success"
https://dev.azure.com/dnceng/public/_build/results?buildId=670388&view=ms.vss-test-web.build-test-results-tab&runId=20765838&resultId=172281&paneView=attachments

https://helix.dot.net/api/2019-06-17/jobs/06480c01-8731-4e95-b305-36626c6432b7/workitems/System.Net.Sockets.Tests/files/console.85cb7f06.log

Configuration: `net5.0-Linux-Debug-arm64-mono_interpreter_release-(Ubuntu.1804.ArmArch.Open)Ubu

[2020-06-15 11:28] ViktorHofer opened #37896 "Work items crashing on arm64-mono_interpreter"
https://dev.azure.com/dnceng/public/_build/results?buildId=670388&view=ms.vss-test-web.build-test-results-tab&runId=20765838&paneView=attachments&resultId=172282

Work items:
- System.Xml.XPath.XmlDocument.Tests:   https://helix.dot.net/api/2019-06-17/jobs/06480c01-8731-4e95-b305-36626c6432b7/workitems/System.Xml.XPath.XmlDocument.Tests/files/console.40a7c797.log
- System.Net.WebSockets.Client.Tes

[2020-06-15 11:29] ViktorHofer commented on #35068
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=670388&view=ms.vss-test-web.build-test-results-tab&runId=20766046&paneView=debug&resultId=100002

Tending towards disabling the test until someone has time to investigate.

ping @swaroop-sridhar @janvorli

[2020-06-15 11:35] sba923 opened #37897 ".NET 5 preview 4 broke DateTime::ToString()"
(this originates from https://github.com/PowerShell/PowerShell/issues/12755)

### Description

Since .NET 5 Preview 4, the `ToString()`  method in `System.DateTime` doesn't abide by the user's date/time formatting preferences.

Here's a simple program to repro this:

[code]

And here's the output with previews 2 through 5:

![image](https://user-images.githubusercontent.com/12860484/84645937-a79af

[2020-06-15 11:43] vcsjones commented on #37577
/cc @GrabYourPitchforks

[2020-06-15 11:45] antonfirsov commented on #37766
@rjmholt on macOS, it depends on the version. In dotnet/runtime's CI 10.13 works, while 10.14 doesn't. If you find out what's causing this difference let us know!

Reproduction on Ubuntu is quite simple, see #36849.

[2020-06-15 11:53] janvorli commented on #2379
This sounds pretty bad. One of the overheads (obviously not the only one) caused by this is that so many threads result in a lot of virtual memory consumption due to thread stacks. It is a problem especially on 32 bit systems where the virtual address space is very limited.
@krwq, @wfurt, do we understand why would so many threads be created?

[2020-06-15 12:22] jkotas opened #37899 "[Mono] Fix detection of static readonly field re-initialization via reflection"
Port https://github.com/dotnet/runtime/pull/37849 to Mono and re-enable the test

[2020-06-15 12:32] am11 opened #37900 "Proposal: add git hooks to the repo"
[`git hooks`](https://githooks.com/) are useful to automate validation of certain common practices and conventions used by the repo, which maybe specified in the docs, but still (unintentionally) violated in changes being committed.

git hooks scripts are cross-platform (hint: git-win has sh.exe/bash.exe and so on) and thus have access to everything as the executing environment.

In dotnet/runtime

[2020-06-15 12:41] janvorli commented on #36681
I can see that GC stress mode C injects the special invalid instructions at call sites too, but it should be detected as a special case (the instruction is different for call sites).

Can you see any local variable values at the following frame? I would like to see if it was correctly detected as a call site (`atCall` being true) - it seems it would not be the case. If we cannot get any details fr

[2020-06-15 12:46] wanton7 commented on #24200
Another minus from my limited understanding of reflection you need to do boxing when for struct fields when using reflection. I would really like if that method that calculates objects size wouldn't do any heap allocations.

[2020-06-15 12:57] jkotas commented on #37900
Which git action would you suggest attaching the list of validation to?

This is fairly long list and executing all of it would take minutes if not longer. I think these validations are better to encapsulate as explicitly triggered tests.

[2020-06-15 13:03] sandreenko commented on #37880
Probably another case of `4 example` from  https://github.com/dotnet/runtime/issues/37341 but with minopts.

[2020-06-15 13:07] andreyns commented on #37496
I have one more case: `System.BadImageFormatException: 'Could not load file or assembly 'System.ValueTuple, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. Reference assemblies should not be loaded for execution.  They can only be loaded in the Reflection-only loader context. (Exception from HRESULT: 0x80131058)'`

[2020-06-15 13:19] TylerBrinkley commented on #31001
As an alternative since `IReadOnlySet<T>` hasn't released yet, instead of adding another `Contains` method to the list including `ICollection<T>`, `IReadOnlySet<T>`, and now `ISet<T>` we could instead add an invariant read-only collection interface as proposed in https://github.com/dotnet/runtime/issues/30661 and have it implement a `Contains` method and then have `IReadOnlySet<T>` implement this

[2020-06-15 13:33] iSazonov commented on #37897
Please add full OS version.

[2020-06-15 13:45] stephentoub commented on #37900
FYI, for C# code specifically, we already run an analyzer that results in build failures when this occurs.

[2020-06-15 13:47] stephentoub commented on #37895
@ViktorHofer, has this occurred anywhere other than on mono (or maybe even specifically the mono interpreter)?

[2020-06-15 13:48] stephentoub commented on #37865
(Note this behavior isn't specific to .NET Core; it's the same on .NET Framework.)

[2020-06-15 13:53] lambdageek opened #37903 "[Mono] FieldInfo.SetValue does not do an init check for readonly static fields"
Related to https://github.com/dotnet/runtime/issues/37796 for Mono.

Given a program like this:

[code]

Mono prints:

[code]

The expected behavior is to throw a FieldAccessException (See https://github.com/dotnet/runtime/pull/37849)

Note that Mono behavior here is different from CoreCLR - we can reset the field value multiple times.

(The two NoInlining methods are because we inline the value 0

[2020-06-15 14:04] am11 commented on #37900
I think pre-commit hook would be the most suitable action.

The shell script checks will have to be ran in no more than few seconds to detect potential issues. For example, dotnet-format (which is likely to take most time in the list above) on Windows 10 took 13 seconds to format 1000 unformatted files, and six seconds when I re-ran it on just-formatted thousand files.

When a commit, with change

[2020-06-15 14:11] sba923 commented on #37897
edited

[2020-06-15 14:14] john-h-k commented on #24200
While I like the API, reflection blocks AOT so unfortunately this app would be useless for me and at least one other I know who would be using this API

[2020-06-15 14:17] mattleibow commented on #35980
Hi folks! Love this issue! I need this for SkiaSharp https://github.com/mono/SkiaSharp/issues/1330

SkiaSharp is a 2D drawing engine, and we have been using our own types. And everyone wants to use Numerics. But we can't because we don't have all the types we need.

It would be great to be able to use BCL-based, intrinsics-powered matrices. Even if just the 3x3 and 4x4.

[2020-06-15 14:17] stephentoub opened #37904 "Irrelevant type checks in inlined generics for value types influencing optimizations"
Consider this sharplab.io repro:
https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4a9BrIAW2KGIAy2YO258BG6jQDaAKV4YA4jC4zlACgwBPMTAgAZh68PACUoQC6mgDMDLgw2NIAJkykDEIAPAAqAHwMAO46MjAMWQwgDACSIuL6JtLZOTQA3jQM7UyxzEgMIRjpomL6MOQeskNcjQwA1jDeuGilDBihDAC8eYaquFl6XKOz8zZ0EYsrDAD8DOTlDHRWbR3EXeQ9fQO1sKRjE1OHC0tzhsGFtcDs9t9/sdTstVlcbhV7jR

[2020-06-15 14:21] JansthcirlU opened #37905 "Proposal: return random double within a specific range (inclusive)"
## Background and Motivation

The `Random` class is often used to add noise to data, so it would be nice if there was a method that could return a random double within a specified range. Noise can be both positive or negative, so the method should accommodate returning a value between two arbitrary doubles (both bounds are included). A good candidate for a default range would be [-1,1], because th

[2020-06-15 14:23] Perksey commented on #35980
Hi Matt, the .NET team have a lot on their hands at the moment and seem to be prioritizing the backlog, so don't be surprised if this takes another 3 years to get in!

Numerics-wise, we're currently busy implementing the new generic vectors which will support both float and double. The generic vectors are likely going to be in for .NET 5 in some form (whether hardware-accelerated or not) as there'

[2020-06-15 14:25] mattleibow commented on #35980
I understand the work. I've been on some of the calls.

But this raises the question... I am wanting to use the types across the native boundary... What will the new generics mean for this? Will it be possible to just use as is if the APIs match? Can generics be used via p/invokes?

[2020-06-15 14:31] Perksey commented on #35980
Double vectors and float vectors with both be blittable, the generics don't change that as we throw an exception if you attempt to use or contruct any of the System.Numerics types using any T that isn't supported (currently only float and double), similar to how Vector<T> works today.

However, you won't be able to take a pointer to Vector4<T> and friends. You will need to know that the T is eithe

[2020-06-15 14:36] MihaZupan commented on #37865
Looking at the code, I doubt this was intentional. It seems to be an edge-case bug for value 0.

Specifically, this like:
https://github.com/dotnet/runtime/blob/e45d130e9e01c553371ef47f21514ad07f2e0575/src/libraries/System.Private.Uri/src/System/Uri.cs#L2264

Should read
[code]

As `info.Offset.PortValue` will be 0 (init value) at this point unless the scheme has a defined default port, where as `

[2020-06-15 14:44] akoeplinger commented on #37896
Failures from the last 200 builds:

|Build|Kind|Console|Core Dump|
|---|---|---|---|
|[683099](https://dev.azure.com/dnceng/public/_build/results?buildId=683099)|[PR 37625](https://github.com/dotnet/runtime/pull/37625)|[console.log](https://helix.dot.net/api/2019-06-17/jobs/451f61df-816e-487f-8ce9-4abf41f7551b/workitems/System.Composition.Hosting.Tests/files/console.33a8e0a5.log)||
|[684850](https

[2020-06-15 14:45] tannergooding commented on #35980
For the simple types like `Vector2/3/4`, `Matrix3x2`, and `Matrix4x4`, the types will be useable in interop code. They reasonably only have a single underlying representation.
For types like `Plane` and `Quaternion` it's likely that the underlying implementation won't change, but they (particularly `Plane`) have multiple underlying representations across the framework, so it isn't strictly guarant

[2020-06-15 14:46] EgorBo commented on #37904
The codegen backs to normal if I change `LessThan1` from
[code]
to
[code]
😄

[2020-06-15 14:50] svick commented on #37905
I think it would be more consistent if the added method was:

[code]

Would this work for you?

[2020-06-15 14:57] swaroop-sridhar commented on #35068
OK I can disable the bundle_can_be_renamed test for now.
But on Linux, the "text file busy" needs investigation because a few other tests failed on it.

[2020-06-15 14:59] FiniteReality commented on #37867
Er, yes, you're correct. I was looking at [HostBuilder](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Hosting/src/HostBuilder.cs) and must have misread the code when I commented yesterday; it actually builds multiple *IConfiguration* instances, rather than multiple *IServiceProvider* instances. Sorry :sweat_smile:

[2020-06-15 15:29] tannergooding commented on #37905
Unlike `integers` it's incredibly hard to describe what a "random value between min and max" might look like, because the floating-point range is not evenly distributed.
Roughly half of all floating-point numbers fall between -1 and +1. Roughly the other half exist between `+1 and MaxValue` and between `-1 and MinValue`.

Outside of that, they also aren't evenly distributed between these ranges. T

[2020-06-15 15:58] Tratcher commented on #1578
I'm pretty sure it was an implementation choice rather than a spec limitation.

Re-writing it to not use state machines would probably be a lot easier to understand as well.

[2020-06-15 16:01] rjmholt commented on #37766
From https://github.com/actions/virtual-environments/issues/1042#issuecomment-644145685:

[2020-06-15 16:02] Clockwork-Muse commented on #37905
@svick - OP explicitly wants the upper bound inclusive as well.

[2020-06-15 16:24] JansthcirlU commented on #37905
@svick I would prefer that either both limits are inclusive or exclusive, because I bring up this issue to make symmetric noise easier.
@tannergooding would it be possible then to define this method as taking a whole multiple of epsilon (at least 0) above the minimum value but not exceeding the maximum value (included)?

[2020-06-15 16:24] jeroenwalter commented on #2379
I can confirm that the virtual memory consumption of the application rose to about 1GB within a matter of minutes on the Rpi...

[2020-06-15 16:27] GSPP commented on #37505
Came here to report this. My use case: I am repeatedly subscribing to a bunch of operations that represent events. Most of these subscriptions are unsubscribed fairly quickly.

If the `WhenAny` task cannot be canceled then continuations will keep piling up indefinitely.

[2020-06-15 16:31] danmosemsft commented on #37897
What happens if you set DOTNET_SYSTEM_GLOBALIZATION_USENLS=1 ? (https://docs.microsoft.com/en-us/dotnet/core/run-time-config/globalization)

cc @safern

[2020-06-15 16:36] safern commented on #37897
This is a dupe of:

https://github.com/dotnet/runtime/issues/37121

You can change to use NLS as @danmosemsft described above or by adding a runtime configuration switch in your project:

https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu#using-nls-instead-of-icu

[2020-06-15 16:36] #37897 closed

[2020-06-15 16:49] svick commented on #37905
@tannergooding

I think this being a hard problem is an argument for why this functionality *should* be included in the framework: If the framework doesn't solve it, you're leaving it up to each individual user to solve it and there is a decent chance they're not going to do it well.

As an example, `noisyValue2` in the original post has the following histogram and I don't think that was intended:

[2020-06-15 16:49] danmosemsft commented on #37900
I assume the commit hook would run locally, so unless it takes <1 sec it would be noticeable to folks who like to make lots of local commits as they work. Is there a way to add a PR validation check instead of a commit hook? Or a "validate" script that could be run explicitly?

Would the script be Windows specific? We know most of our contributors use Windows currently, but not all.

[2020-06-15 16:56] jdstrand commented on #1634
FYI, there is an analysis of the issue for another dotnot cli application in the snapcraft forum: https://forum.snapcraft.io/t/requesting-autoconnect-for-interfaces-in-pigmeat-process-control-home/17987/20

[2020-06-15 17:06] viewizard opened #37910 "TPA map hash calculation in case of "the Turkish-I Problem" if locale was changed."
We are faced with issue, when CoreCLR calculate TPA hash for map entry with not Turkish and not Azeri  locale and call TPA map lookup after locale was changed to Turkish or Azeri:
https://github.com/dotnet/runtime/blob/97e553f5c3244b7df65ebfb7de3bb712081228cc/src/coreclr/src/binder/assemblybinder.cpp#L1066
The point of issue is "the Turkish-I Problem" (https://docs.microsoft.com/en-us/previous-ver

[2020-06-15 17:09] #37789 closed

[2020-06-15 17:10] scalablecory commented on #37736
Closing this to avoid confusion; this is not meant to be an API suggestion.

[2020-06-15 17:10] #37736 closed

[2020-06-15 17:15] GrabYourPitchforks commented on #37577
I repathed the area to the VM instead of _System.Security_ because I'm not quite sure where else to bucket this.

[2020-06-15 17:17] joperezr commented on #37496
Yup, we actually took a look couple of weeks ago and found that there were many others in this bucket, in fact just direct dependencies from the Hosting package  you pointed out above has many of these:
[code]

[2020-06-15 17:17] jeroenwalter commented on #2379
Just take a look at https://github.com/dotnet/runtime/blob/master/src/libraries/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs

My guess is because every call to ReadByte(), which you typically do in a loop in the DataReceived event, results in a Task being created and awaited. This takes some time, in the meantime new data can arrive, which results in firing the DataReceived event via R

[2020-06-15 17:22] Ozzard commented on #27429
... damn.  Back to .Net Framework I go, then :-(.  Or I suppose I grab the source and make a serializable version.  We've had working software for 14 years that uses this property of Random.

Should I assume that binary serialization will no longer be supported in some future version of .Net Core?  It'd be good to know now, so that we can move our core product entirely away from .Net towards some

[2020-06-15 17:26] tarekgh commented on #37890
dum of https://github.com/dotnet/runtime/issues/37121

[2020-06-15 17:26] #37890 closed

[2020-06-15 17:27] GrabYourPitchforks commented on #37905
Related: https://github.com/dotnet/runtime/issues/32855, where we rejected an API `RandomNumberGenerator.GetDouble()`.

But that use case is different than the one here, as `RandomNumberGenerator` must be unbiased, and `Random` is allowed to have bias. So IMO we'd be allowed to fudge a little in this API.

[2020-06-15 17:31] GrabYourPitchforks commented on #27429
@Ozzard Is there any reason the proposal at https://github.com/dotnet/runtime/issues/27429#issuecomment-422994456 wouldn't work for your scenarios?

[2020-06-15 17:31] jkotas commented on #37910
Comparison of assembly names is case insensitive throughout the stack. Switching this one to case sensitive comparison would introduce a different set of inconsistencies.

Can this be fixed by using `SString::HashCaseInsensitive` instead of `HashiString`?

Ideally, the assembly binder would be written in C# where we have the well tested globalization functions available, but that's quite a bit of

[2020-06-15 17:38] vitek-karas commented on #37778
This is very likely the same issue as https://github.com/dotnet/runtime/issues/37910 which has some more details on possible fixes.

[2020-06-15 17:38] #37778 closed

[2020-06-15 17:41] safern commented on #37782
The error you're hitting is because of the PInvoke analyzer... that API is in the allowed APIs list for windows:https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.CodeAnalysis/build/Microsoft.DotNet.CodeAnalysis.targets#L9However, we depend on TargetsUnix property to disable that analyzer:https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.CodeAnalysis/build/Microsoft.

[2020-06-15 17:41] safern commented on #37782
cc: @ericstj

[2020-06-15 17:47] ViktorHofer commented on #35068
Yes please do that. We usually create a tracking issue for such issues to investigate and link to it from the failing test.

[2020-06-15 17:54] tannergooding commented on #37905
While this particular implementation has issues, it is something that is inherent with floating-point:

This SO post shows the distribution just between 0 and 128: <https://stackoverflow.com/questions/7006510/density-of-floating-point-number-magnitude-of-the-number>
![image](https://user-images.githubusercontent.com/10487869/84689813-5e917400-aef6-11ea-9c83-8d064035e458.png)

The full distribution

[2020-06-15 17:56] safern opened #37911 "System.DirectoryServices.Protocols.Tests crashes sometimes on Linux"
## System.DirectoryServices.Protocols.Tests Work Item

### Console Log Summary

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#687604](https://dev.azure.com/dnceng/public/_build/results?buildId=687604)|Rolling|1|
|[#687783](https://dev.azure.com/dnceng/public/_build/results?buildId=687783)|Rolling|1|
### Configurations
- net5.0-Linux-Release-x64-CoreCLR_release-(Fedora

[2020-06-15 17:57] safern commented on #37911
cc: @joperezr

[2020-06-15 17:59] amosonn opened #37913 "JsonSerializer.Deserialize on Nullable value types"
Related issues: https://github.com/dotnet/runtime/issues/434, https://github.com/dotnet/runtime/issues/1256

`System.Text.Json` `JsonSerializer.DeserializeAsync` fails to deserialize Nullable value types. Running:
[code]
Prints:
[code]
Removing the `?` and the `Value` works as expected:
[code]
Prints:
[code]

On netcore 3.1.3. Using nullable types syntax, but this displays the same behavior with e

[2020-06-15 18:01] AaronRobinsonMSFT commented on #37782
@safern Thanks for tagging me. I have no idea what this API is or how it works in practice. The `Interop.CoGetStandardMarshal` API is Windows only and there is no reasonable way to implement that on a non-Windows platform. I would say that is a good code smell for something not intended to run on a non-Windows platform.

[2020-06-15 18:02] davmason commented on #37586
Do you have the stack of the target thread? This failure means that DoStackSnapshot is trying to walk the thread and detected that one of the stack cookies is invalid. Usually this means that stack corruption happened, which would be unrecoverable. But it is also possible that you caught a runtime thread in the middle of a dangerous operation.

How to detect and avoid it depends on what the target

[2020-06-15 18:05] #37282 closed

[2020-06-15 18:09] JansthcirlU commented on #37905
@svick After seeing your findings about `noisyValue2` I noticed I forgot to add the deviation factor in, so I edited my original post. The distribution will most likely look the same but at least the resulting values will be between 5 and 15 rather than between 9 and 11.

[2020-06-15 18:18] joperezr commented on #37911
Thanks for logging this, I'll take a look.

[2020-06-15 18:21] twest820 commented on #35773
Minor status bump: Intel's never been particularly active on their instruction set extensions forum but they've recently stopped responding entirely. So no update from Intel on the questions about the arch manual and intrinsics guide that were raised here a month ago.

Interesting. The arch manual states software must also check for F when checking for CD (and strongly recommends checking F before

[2020-06-15 18:22] Daniel-Svensson commented on #27292
I've updated the description to match that there is now a X86Base instrinct class.
@tannergooding is there anything else that should/can be changed to increase the likelihood of getting this included for 5.0?

[2020-06-15 18:27] buyaa-n commented on #37893
Interesting, its indeed very slow, but i don't think its caused from XElement, i did log the timing and it shows `XmlObjectSerializer.ReadObject(stream)` is very slow:
[code]
Event without casting to `XElement` is the same, very slow. So changing the area to `area-Serialization`. As @troplin  mentioned changing the content to use "\r\n" instead of "\n" as line separator, the runtime is increased t

[2020-06-15 18:27] sba923 commented on #37897
I used `System.Globalization.UseNls = true` which does the same according to [https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu#using-nls-instead-of-icu](https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu#using-nls-instead-of-icu) (got the info first from @iSazonov in https://github.com/PowerShell/PowerShell/iss

[2020-06-15 18:30] bgrainger opened #37915 "Support SSLKEYLOGFILE in SslStream"
`SSLKEYLOGFILE` is a feature provided by Chrome and Firefox that logs the pre-master secret to a file (specified by the `SSLKEYLOGFILE` environment variable) during TLS negotiation. The format of the file is documented here: https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/Key_Log_Format.

This allows encrypted data in a packet capture to be decrypted by Wireshark (without having to k

[2020-06-15 18:32] AndyAyersMS commented on #37904
Because `LessThan1` has two return opcodes, the jit decides to use a return value spill temporary when inlining.  This causes the return logic to be broken across trees and so we lose the context that the bool value produced is immediately compared.

[code]
Compare versus `LessThan2`'s unbroken tree
[code]
The general fix for this is forward substitution (#4655). `tmp1` in the broken tree case has

[2020-06-15 18:33] safern commented on #37897
Actually I thought the issue that was reported was a dupe of: https://github.com/dotnet/runtime/issues/35638 which is indeed fixed in Preview 5. For this issue you're reporting, I'm working on a fix and should have something out this week.

Thanks for reporting it.

[2020-06-15 18:34] stephentoub commented on #37904
Thanks for asking. It looks like I can use @EgorBo's proposed workaround and that will address my immediate needs.

[2020-06-15 18:36] tarekgh commented on #34787
https://github.com/dotnet/docs/issues/18953

[2020-06-15 18:37] troplin commented on #37893
@buyaa-n I've profiled the code and the time is lost in `XElement.AddStringSkipNotify` (which is called from `XmlSerializer.ReadObject`, so you're not wrong).
The problem is (probably), that this method is called many times, each time with a small chunk of content which is then appended to the `XElement.content` member by string concatenation. This will allocate a new string each time, copying the

[2020-06-15 18:38] Ozzard commented on #27429
One and a half, neither of which should necessarily stop it moving forward:
* Elapsed time!  This is not triaged, and is at best likely to arrive in .Net 6.  I need a solution within days, or move our development back to .Net Framework.  I don't want to do that; Framework has a lot of baggage I really don't want to carry.  And, apparently, some baggage that I do want to carry!
* API coherence.  Sp

[2020-06-15 18:39] tannergooding commented on #35773
I think my statement might have been misinterpreted.

I was indicating that the following should be possible (where `+` indicates supported and `-` indicates unsupported):
* +F, -CD
* +F, +CD

The following should never be possible:
* -F, +CD

AFAIK, there has never been a CPU that has shipped as `+F, -CD`, but given the spec it should be possible for some CPU to ship with such support.

[2020-06-15 18:40] ericstj commented on #37782
Here is the change that introduced this: https://github.com/dotnet/runtime/commit/7f3c4378aa25b3f8bd26d0a1e2bd9c01d449fddd

This is not ifdef'ed for Windows.  It probably should be.

We should implement StandardOleMarshalObject in a way that it doesn't try to call into ole32.dll on linux.  That either means throwing or just returning some default value.

One thing that could be done here is push t

[2020-06-15 18:45] tannergooding commented on #27292
I can mark it ready-for-review now but I don't know if this will get on the backlog before we lock everything down.

The API review will also need to go over whether this is actually worthwhile to expose. As @jkotas indicated, this may be sufficiently covered (for the most common cases) via `Math.DivRem` and we should just optimize it (which I believe is dependent on some work @CarolEidt has been

[2020-06-15 18:49] AndyAyersMS commented on #37796
Timing of static constructors in beforefieldinit classes can vary in  .NET Framework, see https://github.com/dotnet/runtime/issues/13036#issuecomment-508936215.

[2020-06-15 19:06] dmeytin opened #37919 "Unexpectedly high latency of string utility functions on Linux (about 3 times higher than the same function on windows)"
# Issue Title
Unexpected latency of string utility functions on Linux
# General
I have used https://github.com/dotnet/BenchmarkDotNet  to test String.IndexOf on Windows and on Linux and the results below reveal almost 3 times latency difference for the function invocation on the random string of sizes 200 ... 1000, small constant pattern of the size 4 and OrdinalIgnoreCase culture

Latency of 1K e

[2020-06-15 19:19] GrabYourPitchforks commented on #37919
This is almost certainly an ICU / NLS behavior. ICU has a different philosophy for `IndexOf` than does NLS. For ICU, the typical calling pattern is that you create a _pattern_ object which represents the target substring you want to locate within the search space, and you invoke the pattern matcher over and over again to keep finding instances of the target substring. ICU's tradeoff is that the in

[2020-06-15 19:41] vindicatorr commented on #923
I'm only just now getting into this as well and it looks like `SCM_RIGHTS` is going to be key:
`Send or receive a set of open file descriptors from another process.  The data portion contains an integer array  of  the file descriptors.`(unix.7)
https://stackoverflow.com/questions/28003921/sending-file-descriptor-by-linux-socket/

[2020-06-15 19:50] dmeytin commented on #37919
@GrabYourPitchforks, thanks for your response.
Do we have any possible workaround to improve the performance?

[2020-06-15 20:00] panesofglass commented on #27429
This was my use case, as well.

[2020-06-15 20:08] danmosemsft commented on #27429
It's not impossible this API could get into 5.0 if its fairly clear it's the appropriate design, etc, someone championed it in API review, and there was a community volunteer to implement and get it merged into master all by July 15th.

Seems a pretty reasonable interim solution if it's the only thing holding you on .NET Framework.

[2020-06-15 20:09] safern commented on #37732
@ooooolivia it seems like this is still failing: https://dev.azure.com/dnceng/public/_build/results?buildId=686076&view=logs&jobId=579f1797-5adf-596d-fb79-4d7f6899e989&j=579f1797-5adf-596d-fb79-4d7f6899e989&t=d6c26f3b-99a3-5590-2cec-59f034a8c9a5

[2020-06-15 20:17] ericstj opened #37921 "SourceLink information is missing from source-package PKGPROJs"
Discussed here: https://github.com/dotnet/runtime/pull/37793

We added a source-package but it doesn't run the targets that @tmat added https://github.com/dotnet/arcade/pull/2634 which generate a targets file that set properties used by source link.

The result is that the sources provided by our source package are not indexed against the repo they came from.

To run these in pkgproj we need to al

[2020-06-15 20:20] ooooolivia commented on #37732
@safern  This is the build on 6/12? The second PR #37842  has been merged to disable it on 6/13.

[2020-06-15 20:22] danmosemsft commented on #36891
Per https://github.com/dotnet/runtime/blob/master/docs/area-owners.md, URI is area-System.Net

[2020-06-15 20:23] davidsh commented on #36891
@MihaZupan

[2020-06-15 20:28] wfurt commented on #36891
may be lack of globalization. https://github.com/dotnet/runtime/issues/33652
There are other networking (and other tests) failing when using unicode or culture.

[2020-06-15 20:30] warappa commented on #37867
@FiniteReality
No problem 😊 Thanks for sharing your thought-process!

[2020-06-15 20:32] am11 opened #37923 "Proposal: extend platform information in RuntimeInformation.OSDescription"
Based on the discussion thread #37831, this proposal is to extend the output of `RuntimeInformation.OSDescription` string and include more information about the current platform.

The purpose is to let consumer obtained a more identifiable information about the platform from an existing `OSDescription` API in a consistent manner, for analytics and logging like scenarios.

For example, dotnet-sdk u

[2020-06-15 20:34] tarekgh commented on #37919
This is properly duplicate of https://github.com/dotnet/runtime/issues/26054 and https://github.com/dotnet/runtime/issues/37819

[2020-06-15 20:36] MihaZupan commented on #36891
This test should come down to
[code]
So a globalization issue as Tomas suggested

[2020-06-15 20:36] tarekgh commented on #37919
The best would be to avoid using ignore casing for now.

[2020-06-15 20:46] CarolEidt opened #37924 "Enable promotion of structs passed in multiple registers with matching fields"
With  #36862 we have support for enregistering structs that are returned in multiple registers, but structs that are passed in multiple registers are still sometimes disabled from being enregistered, even if the number of fields matches the number of registers. This includes at least some HFAs. In particular, `Compiler::StructPromotionHelper::ShouldPromoteStructVar()` will only return true for a p

[2020-06-15 20:49] danmosemsft commented on #36891
OK, adjusting label to match responsibility.

[2020-06-15 20:49] CarolEidt opened #37925 "Enable multireg long args on 32-bit targets"
With  #36862 we have support for enregistering structs that are returned in multiple registers. It should be a relatively small incremental change to enable enregistering of longs that are passed or returned in 2 registers on 32-bit targets.

Marking this as future, but I'm hoping to get it into 5.0, assuming no blocking issues arise.

category:cq
theme:register-allocator
skill-level:expert
cost:s

[2020-06-15 20:49] BruceForstall commented on #37881
This is arm64, Windows and Linux, with
[code]

[2020-06-15 20:50] kumbham opened #37926 "Build issues with System.Collections.Immutable.pkgproj v2.1.0"
I'm not able to build `System.Collections.Immutable.pkgproj` from the release tag v2.1.0
Release tag: https://github.com/dotnet/corefx/tree/v2.1.0/src
Dev machine: Ubuntu 16.04.6 LTS
Downloaded all the requirements mentioned here: https://github.com/dotnet/corefx/blob/v2.1.0/Documentation/building/unix-instructions.md#native-build

Reason for using the older version of the System.Collection.Immuta

[2020-06-15 20:51] BruceForstall commented on #37883
@sandreenko PTAL
cc @CarolEidt

[2020-06-15 20:54] isokissa3 commented on #37796
Wasn't aware of that! Thank you for the link

[2020-06-15 20:58] danmosemsft commented on #37923
Is anyone _parsing_ these today (as opposed to displaying/logging them)? If there's hand rolled parsers out there, do we have to take care about extending the strings? Akin to the user-agent mess in browsers.

I assume "not many" and "it's an acceptable change"

[2020-06-15 20:58] eerhardt commented on #37352
Closing, as we are going to enable this scenario by using an XML descriptor + feature swtich. See https://github.com/mono/linker/issues/1268#issuecomment-643429943 for discussion.

[2020-06-15 20:58] #37352 closed

[2020-06-15 20:58] danmosemsft commented on #37923
cc @richlander

[2020-06-15 20:59] eerhardt commented on #36229
@MichalStrehovsky - you've been working on this correct? Is this work complete? Or is there more work for this issue?

[2020-06-15 21:03] tarekgh commented on #36891
@MihaZupan does this issue repo only on iOS? and succeed on other platforms? why the test is using the current culture for the uri comparison? I am seeing you can have this assumption to all cultures return the exact same string comparing results. I am seeing this is a test issue more than Globalization issue.

[2020-06-15 21:03] BruceForstall commented on #37236
@AaronRobinsonMSFT This failed again this weekend in the weekly GCstress run, e.g.:

[2020-06-15 21:07] nealall123 opened #37929 "Profiling API Not Built Correctly"
Hi,

I'm following the instructions [here](https://github.com/microsoft/clr-samples/tree/master/ProfilingAPI/ReJITEnterLeaveHooks) to write and build my own profiler and it worked fine at the existence of visual studio. However, when we tried to run this profiler in another computer without VS installed, it's not working any more and gave us this error.

`.NET Runtime version 4.0.30319.0 - Loading

[2020-06-15 21:17] am11 commented on #37923
For instance, dotnet-sdk parses that information here: https://github.com/dotnet/sdk/blob/3595e2a/src/Cli/Microsoft.DotNet.Cli.Utils/RuntimeEnvironment.cs#L77. It will continue to work as is. For Windows and macOS, it uses Environment.OSVersion. With the proposed extension, we can update the SDK to parse out this information in a platform agnostic manner (i.e. removing `RuntimeEnvironment.cs` file

[2020-06-15 21:22] hypeartist opened #37930 "Q: How to use UnmanagedCallersOnlyAttribute?"
Is there any info on how to use that new attribute?
All I have found is: [https://github.com/dotnet/runtime/blob/f185bd5571f2500b4843d145418c4418747246b6/src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/UnmanagedCallersOnlyAttribute.cs#L8](https://github.com/dotnet/runtime/blob/f185bd5571f2500b4843d145418c4418747246b6/src/libraries/System.Private.CoreLib/src/System/Runtime/I

[2020-06-15 21:30] BruceForstall commented on #37470
The most important one (fails in most runs):

JIT\Methodical\xxobj\sizeof\_il_dbgsizeof64\_il_dbgsizeof64.cmd

[2020-06-15 21:33] MihaZupan commented on #36891
I haven't seen this test come up before. There's also no reason for it to use CurrentCulture - we can fix that in the test.

I don't know under which culture this was triggered, @mdh1418 do you have a way to obtain that information? It does not fail under any installed culture on my Windows machine.

[2020-06-15 21:35] tarekgh commented on #36891
I would say do a quick try to change current culture to CultureInfo.InvariantCulture and look if the test fail at that time.

[2020-06-15 21:36] nealall123 commented on #37929
@sywhang Can you provide some suggestions? Thanks!

[2020-06-15 21:37] MihaZupan commented on #36891
`string.Compare` for these values under `InvariantCulture` returns -1 as expected by the test

[2020-06-15 21:37] sywhang commented on #37929
@nealall123 I no longer work on the ICorProfiler APIs but @davmason should be able to help you out : )

[2020-06-15 21:40] tarekgh commented on #36891
just get the current culture from the iOS (using CultureInfo.CurrentCulture) and then use the exact same culture in other platforms and look at what you will get from the test result.

[2020-06-15 21:44] jkotas commented on #37930
cc @AaronRobinsonMSFT

[2020-06-15 21:44] MihaZupan commented on #36891
I think there might be a misunderstanding here - I did not run these tests.

Afaik iOS is not available in Helix yet for me to be able to repro this.

[2020-06-15 21:47] tarekgh commented on #36891
no misunderstanding, we need just ask @mdh1418 to get the needed info from iOS run as he is the one reported the issue.

[2020-06-15 21:55] am11 commented on #37900
Yes, the hook will run locally on `git commit`. I agree that the checks for git hook would have to be cheap, otherwise it would be a no-go. The purpose is to run quick sanity checks locally based on what has changed, the tools that are applicable to the changes and are available in user environment (sed and grep are available, jitutils is restored in default location and `src/coreclr/src/jit/*.{cp

[2020-06-15 21:55] rharpavat commented on #37318
We investigated further and discovered that the `AmazonServiceClient` uses the recommended `HttpClient` class in the .NET Core implementation. Looking at the stack trace from the test program, we see the line:
[code]
in the leak report. Can we investigate if this library has a bug that might be causing this memory leak? We are not seeing this leak on Ubuntu, so I think it might be in macOS-specifi

[2020-06-15 21:58] davmason commented on #37929
Hi @nealall123

0x8007007e is the HR for file not found (which can also mean that the dependency of a file is not found. Assuming you have already checked that the profiler exists and paths are set correctly, the most likely issue is that the particular Visual C++ redist you built against is not installed.

You can find the redists at https://support.microsoft.com/en-us/help/2977003/the-latest-sup

[2020-06-15 21:59] safern commented on #36891
Yeah, there is no helix iOS runs yet. We're just opening issues at the moment to be able to disable them, get clean runs and then be able to enable helix runs.

[2020-06-15 22:01] BruceForstall commented on #36681
Unfortunately, I lost the above repro and didn't create a dump. I tried repro'ing again with more verbose stress log settings, but it didn't seem to repro, so I kept dialing back the settings and after many hours I was able to get another repro. Similar, but not identical, this time 2 threads starting at the same location, and one gets to a post-call safe point but the other doesn't. I saved a min

[2020-06-15 22:05] vcsjones commented on #37318
I will try to reproduce this soon. Thanks for for the steps on how to reproduce and sample repo.

[2020-06-15 22:13] CarolEidt commented on #37881
I discovered this last week and it is now fixed with #37773

[2020-06-15 22:13] #37881 closed

[2020-06-15 22:15] Anipik commented on #37782
This was ported as a part of supporting wpf/winforms related stuff, i can take the lead the on fixing this.

[2020-06-15 22:16] benaadams commented on #30867
@stephentoub do you want a new issue for https://github.com/dotnet/runtime/issues/30867#issuecomment-643682508 or are you happy revisiting it with the approval state of this issue?

[2020-06-15 22:20] wfurt opened #37933 "SslStream API improvements for enhanced use cases"
## Background and Motivation

This covers several use cases discussed in various runtime, aspnetcore and YARP threads.
This allow to implement new functionality as well as it allows callers to control some internal aspects of SslStream and X509Chain used internally.

## Proposed API

[code]

**SslStreamCertificateContext**
There are cases when caller passes server certificate to AuthenticateAsServ

[2020-06-15 22:21] stephentoub commented on #30867
New issue please :-) And it sounds like this one shouldn't be implemented.

As part of that, I'd also like to understand if you believe that API could be used by ManualResetValueTaskSourceCore without a perf penalty, such that we'd then delete the internal variable of this. And whether Restore could be used internally to delete any other duplicative code, again without harming perf.

[2020-06-15 22:27] #37796 closed

[2020-06-15 23:01] HJLeee commented on #37778
Yes it is the same one. Let me participate in #37910. Thank you.

[2020-06-15 23:06] echesakovMSFT commented on #36701
I am not sure whether ConvertToDouble, ConvertToDoubleUpper, ConvertToSingleLower and ConvertToSingleUpper should belong to AdvSimd namespace.

Implementing them on Arm32 would require multiple instructions. For example,

**ConvertToDouble**
[code]

**ConvertToSingleLower**
[code]

I don't think we did this for any other intrinsic, so I suggest to keep them under AdvSimd.Arm64.

@TamarChristinaArm

[2020-06-15 23:08] AaronRobinsonMSFT commented on #37930
@hypeartist The `UnmanagedCallersOnlyAttribute` is used to produce the most lite weight version of a function pointer to a managed function that can be call outside the runtime. The ability to create a function pointers in C# was recently exposed in C# 9 - see [proposal](https://github.com/dotnet/csharplang/blob/master/proposals/function-pointers.md) and tracking issue https://github.com/dotnet/ro

[2020-06-15 23:14] halter73 commented on #1578
Headers being limited by the max frame size is a spec limitation. There's no way for a HEADER/CONTINUATION frame to indicate that it's a partial header. I found a [draft proposal](https://tools.ietf.org/html/draft-johndoe-http2-large-header-blocks-00) for "large header blocks". I don't think the proposal ever got anywhere, but it was pretty clear about its motivation:

[code]

https://tools.ietf.o

[2020-06-15 23:16] tannergooding commented on #36701
Makes sense to me, provided the instructions are only available on ARM64 (and require multiple on ARM32) as indicated.

[2020-06-15 23:18] wfurt commented on #36891
I have setup where I can run iOS tests @MihaZupan. I droped investigations since it did not seems high priority for .NET 5. There seems to be fair amount of test failing around string processing in various test sets. I can give it try with the proposed change later this week so we get at least some insight.

[2020-06-15 23:20] Tratcher commented on #1578
A header block in that context is all headers, not a single header. Continuation frames are part of the main spec now, I'm not sure why that draft treats them otherwise unless it was incorporated later?

[2020-06-15 23:23] Tratcher commented on #1578
https://tools.ietf.org/html/rfc7540#section-4.3

A receiving endpoint reassembles the header block by concatenating
   its fragments and then decompresses the block to reconstruct the
   header list.

[2020-06-15 23:34] AndyAyersMS commented on #13770
I'm going to close this. We can follow up on why we're still seeing what look like alignment artifacts in the lab data separately.

[2020-06-15 23:34] #13770 closed

[2020-06-15 23:41] GuerrillaCoder commented on #23267
Is this feature scheduled?

[2020-06-15 23:57] HJLeee commented on #37910
I think both `SString::HashCaseInsensitive` and `HashiString` are using `tolower` series.
(In case of `SELF_NO_HOST` for `SString::HashCaseInsensitive`)

Basically, if string comparisons(or calculation for the strings) are made between a cached case insensitive one based on the initial locale and a newly converted string based on the current locale, there is a chance of malfuntion regardless of ch

[2020-06-16 00:03] danmosemsft commented on #36891
Sorry for the noise/confusion. As per email I sent a couple weeks back, **please ignore all issues for os-iOS, os-Android, and os-tvOS for now.** Folks in the Mono team, and @safern, are working on getting this test pass rate up. In this case, it is very likely just one fallout of a larger problem with ICU on iOS.

[2020-06-16 00:03] echesakovMSFT commented on #35806
All methods that operate on Vector128\<double\> value must be under AdvSimd.Arm64

[2020-06-16 00:09] stephentoub commented on #23267
https://github.com/dotnet/runtime/issues/1793 is planned for .NET 5 and should address this.

[2020-06-16 00:14] scalablecory commented on #37933
Your proposed API is messed up, looks like some methods are outside of `SslStream`.

[2020-06-16 00:15] scalablecory commented on #37933
Are there any other interesting parameters in the client hello that we might want to pass (maybe not now, but in future) beyond the `hostName` that is in the new delegate? Would it make more sense to pass a new class instead that we could add additional properties to later?

[2020-06-16 00:16] scalablecory commented on #37933
Having the sync API use an async callback isn't great. Can a second delegate be added for sync?

[2020-06-16 00:35] tomrus88 commented on #37930
So this attribute itself doesn't create native export and you need to go extra mile if you need one?

Is it safe to use C# function pointers feature to get a pointer to C# method and manually pass that pointer to native code (using pinvoke or something)?

What's the difference compared to Marshal.GetFunctionPointerForDelegate?

[2020-06-16 00:38] CodeBlanch opened #37940 "System.Text.Json JsonConverterFactory .NET 5 Regression"
There seems to be a change in .NET 5 with regard to JsonConverters and nullable types. Previously converter would not be called for null values.

### Description

This test fails on .NET 5, works fine previously.

[code]

Read method could detect Null token and handle it. But up until now it hasn't needed to. .NET 5 could potentially break a lot of JsonConverters reliant on this behavior.

### Con

[2020-06-16 00:41] halter73 commented on #37933
Considering this a new server-only API, would we be OK with not adding a sync version of `AuthenticateAsServerAsync(ServerOptionsSelectionCallback, CancellationToken)`?

I'm not sure how common it is to use the sync version of AuthenticateAsServer to begin with, let alone a new overload of it. And it's not like

[2020-06-16 00:42] AaronRobinsonMSFT commented on #37930
Correct. It is an attribute that indicates to the JIT that this function will only be called from a non-managed context and therefore you should add that transition logic.

Yes. That is exactly the intent - the function itself and subsequently the pointer can only be dispatched to in an unmanaged way. Note that the `calli` instruction does permit an unmanaged dispatch.

Mostly performance and an a

[2020-06-16 00:49] #33790 closed

[2020-06-16 01:00] davidfowl commented on #37933
I think @scalablecory means and overload that takes a synchronous callback as well

[2020-06-16 01:05] ericstj commented on #37940
@layomia I thought we did this behind an opt-in: https://github.com/dotnet/runtime/issues/34439

[2020-06-16 01:10] halter73 commented on #37933
That's how I understood @scalablecory's comment as well, but no need to have a overload with a sync callback if there's no sync overload.

[2020-06-16 01:15] vcsjones commented on #37933
Just so I am clear, there is no expectation that `X509Chain` has to be used? It seems that the API allows for this, so I'm just making sure I understand correctly.

If I am saying "here's my leaf, here's an ordered set of additional intermediates" I would not expect `X509Chain` to be used at all - I would expect the server to just accept it as-is and send it down in the Certificate `certificate_li

[2020-06-16 01:35] bartonjs commented on #37933
My thoughts, at least, are that it's used once, when this object is created, so that it can normalize the inputs (e.g. remove duplicates, make sure the order is correct, etc).

[2020-06-16 01:42] benaadams commented on #30867
Added a change for `ManualResetValueTaskSourceCore` https://github.com/dotnet/runtime/pull/37942

[2020-06-16 01:44] wfurt commented on #37933
I added `AuthenticateAsServer(ServerOptionsSelectionCallback optionCallback)` as we just added client sync complements. We can certainly do that later. As far as the delegate, I was expecting that on synchronous path, that would finish synchronously returning the "value" part of ValueTask. That is still possible even with the `AuthenticateAsServerAsync` is everything is ready in memory.

[2020-06-16 02:12] scalablecory commented on #37933
Yea, I think a sync server is unlikely, but as we just decided to invest in the other sync overload, I can see us adding this here to be consistent.

Ehh. The usability isn't very idiomatic there -- I think two delegates would be best. Also, what happens if I do something weird like call the sync method with a callback that is actually async?

[2020-06-16 02:18] scalablecory commented on #37933
Are the options `ServerCertificateContext` and `ServerCertificate` essentially setting the same option? The former is just a "prepared" version of the latter with additional certs?

[2020-06-16 02:23] AndyAyersMS commented on #37470
Looking at `_il_dbgsizeof64`, there is just one novel method `Main` jitted and it is debug codegen. CI history shows failures starting around 6/1, so I build an x86 jit from just before then at 967d21653 and diffed codegen for `Main` with current master; they're identical.

[2020-06-16 02:25] wfurt commented on #37933
I kick the sync overload out. It seems like we can add it if there is real need.

There are already three ways how certificate can be selected: either as property passed in, using ServerCertificateSelectionCallback from options or  using LocalCertificateSelectionCallback on SslStream it self. With this proposal we are also adding option with SslStreamCertificateContext. Assuming advanced use, I di

[2020-06-16 02:27] v-haren commented on #1722
failed again in job: [runtime-libraries outerloop 20200615.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=687683&view=ms.vss-test-web.build-test-results-tab&runId=21347872&resultId=103298&paneView=debug)

failed test: System.Net.Sockets.Tests.ExecutionContextFlowTest.ExecutionContext_NotCachedInSocketAsyncEventArgs

Error message
[code]

[2020-06-16 02:28] scalablecory commented on #37933
Should `SslStreamCertificateContext.CreateForServer` be made async if it can do network I/O?

Also, would a client version make sense so we could cache such an object at the pool level in `SocketsHttpHandler`?

[2020-06-16 02:38] v-haren opened #37943 "Test failure: Segmentation fault $LAUNCHER $ExePath "${CLRTestExecutionArguments[@]}""
failed in job: [runtime 20200615.71 ](https://dev.azure.com/dnceng/public/_build/results?buildId=688348&view=ms.vss-test-web.build-test-results-tab&runId=21367444&resultId=102233&paneView=debug)

failed tests:
JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part2_r/AdvSimd_Part2_r.sh
JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part0_ro/AdvSimd_Part0_ro.sh
JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part1

[2020-06-16 02:40] jkotas commented on #37910
The `SELF_NO_HOST` is not used for the runtime itself. It is used only for tools.

[2020-06-16 02:41] bartonjs commented on #37933
No, because the generalization is that the OS is what does the I/O, but within a synchronous native function.  (The I/O is considered an implementation detail of the OS function.)

[2020-06-16 02:44] ethanshea-ms commented on #37590
Why not make the change purely additive? There's no reason for this to be breaking.

[2020-06-16 02:52] JamesNK commented on #1578
So we're all onboard with the same terminology:

* Header field = name + value
* Header list = all the fields in the headers or trailers
* Header block = serialized form of header list
* Header block fragment = header block divided up so it fits in maximum frame size

The question is can a header field span across header block fragments? I haven't seen it answered in the spec definitively one way

[2020-06-16 03:11] vcsjones commented on #37933
That certainly alleviates a few common misconfigurations of HTTPS.

On the other hand I could see "I want to start up as fast as possible". Putting mTLS aside, most web servers do very minimal things with X509. Maybe enough X509 parsing to check public / private key equality and to get the SANs off the cert so that it can pick the right cert in an SNI scenario, but that's about it.

If it has no b

[2020-06-16 03:17] scalablecory commented on #1578
Headers can cross fragments. HttpClient supports this today, Kestrel does not.

[2020-06-16 03:19] davidfowl commented on #37933
@vcsjones yes *BUT* it's up to the us to decide what behavior we do in the server.

[2020-06-16 03:22] scalablecory commented on #37590
It doesn't. I'm not shutting your API down, just adding more context. I agree async methods make sense for services which do support it.

Indeed, we would generally not remove APIs from an interface.

Adding to an interface can be done using Default Interface Methods. This will only work if the package is targeting .NET Core though, not .NET Standard. I'm not sure what this one targets.

[2020-06-16 03:31] JamesNK commented on #1578
Gotcha. I've been looking at Java and Go and they both support support fields across multiple fragments.

Different options for improvements:

* Improve the current state machine approach so it has less impact
* If there are CONTINUATION frames then read the HEADERS plus CONTINUATION frames data into a data source until we get the end bit, and then parse all at once. No state machine required.
* H

[2020-06-16 03:38] jeffhandley commented on #33565
This work is being picked up by the .NET Libraries team; assigned to @tannergooding now.

[2020-06-16 03:55] danmosemsft commented on #33308
@tannergooding what is our test strategy for all these -- presumably we're just relying on our regular test bed and having enough hardware variation.

In particular, how do we get coverage on the software fallback paths? In the past, we've said that the ARM machines cover this path for us.

[2020-06-16 04:04] danmosemsft commented on #37923
Right, but one could imagine someone else parsing in such a way that extending the string breaks them. I think that's probably OK just pointing it out. I think it's unfortunate that we're in a position of returning a string from an API that is in a non standard format and gets parsed by user code.
cc @eerhardt in case he knows of other folks parsing it.

[2020-06-16 04:04] scalablecory commented on #1578
Ultimately this is a Try It And See, but where I'd start is:

- Replace the big `if((x & maska) == maskb)` chain with a `switch(BitOperations.LeadingZeroCount(x))`, similar to what I did in the HTTP/3 QPackDecoder.
- Optimistically decode entire integers, not 1 byte at a time through main loop.
- Optimistically copy entire string values, not 1 byte at a time through main loop.

These should be rel

[2020-06-16 04:05] sywhang opened #37945 "Implement AsyncCausalityTracer"
There was a recent regression in AsyncCausalityTracer when WinRT supported was removed via https://github.com/dotnet/runtime/pull/36715. This causes TplEventSource/Operation/Start and TplEventSource/Operation/Stop events to stop firing.

This was found while investigating a different issue reported from VS where these events were never being fired on Linux. The reason is because the removed AsyncC

[2020-06-16 04:18] JamesNK commented on #1578
I agree that we should keep parsing a Span. Using a ROS would pollute low-level parsing logic with having to consider multiple spans in a sequence everywhere.

My suggestion for 3 doesn't work well in Kestrel because the payload is in a ROS, and we don't want to start copying it to a contigious buffer each time the headers frame is not a single span.

In consideration, I think option 1 and improvi

[2020-06-16 04:34] scalablecory commented on #1578
My hope is we eventually get a `ref struct` generic constraint so we can have our cake and eat it too... write parser once, works for both `SpanReader` and `SequenceReader`, etc.

[2020-06-16 04:41] davidfowl commented on #37590
I think the reasonable thing to do here would be to introduce an IAsyncFileInfo that consumers can use. The API suggested here is a non-starter because of how breaking it is. On top of that there’s reactionary work to consume the new API in static files that would need to happen

[2020-06-16 04:51] AaronRobinsonMSFT commented on #37236
I had to run this in a loop 3000 times... it finally triggered on 2984 which took about 2.5 hrs. This is not the test itself, but rather the runner. I have a full DMP of the issue.

[code]

[code]

@janvorli or @jkotas any suggestions on where to look are helpful. I will try the few things each of you have suggested in the past and see if anything pops.

[2020-06-16 04:58] TamarChristinaArm commented on #36701
I agree as well, mostly because I don't think you could do anything useful with a `Vector128<Double>` on AArch32. I don't believe we defined any intrinsics that take it. Aside from perhaps loads and stores.

[2020-06-16 04:58] BruceForstall commented on #33308
@danmosemsft We have two AzDO pipelines for stressing the ISAs, which includes disabling hardware intrinsics:

runtime-coreclr jitstress-isas-arm: https://dev.azure.com/dnceng/public/_build?definitionId=665
runtime-coreclr jitstress-isas-x86: https://dev.azure.com/dnceng/public/_build?definitionId=664

These are defined using the following modes (in eng\pipelines\common\templates\runtimes
\run-tes

[2020-06-16 05:09] BruceForstall commented on #37236
Looks like the object pointer on which `coreclr!WKS::CObjectHeader::GetMethodTable()` is being called is corrupt, since it appears the object pointer points to illegal memory. You need to figure out where that pointer came from, and why it is corrupt. Use the stress log and see if that has any clues.

[2020-06-16 05:14] wfurt commented on #37933
For that reason https://github.com/dotnet/runtime/issues/37485 was created @vcsjones. So one can _try_ to build the chain without any IO and decide what to do  - error out, move forward with incomplete chain or try to fetch missing bits.
If given SslStreamCertificateContext has all needed parts, there will be not need for SslStream or X509Chain inside to fetch any bits.

[2020-06-16 05:37] AaronRobinsonMSFT commented on #37236
@BruceForstall Yeah I was starting down that path. I believe I have the object address, but it isn't in the stresslog. The object pointer I am looking at is a reasonable address but when dereferenced points to `NULL` - which is clearly the problem.

[2020-06-16 06:08] kunalspathak opened #37946 "Mono Pri0 Runtime Tests Run Linux arm64 release leg failing"
Looks like **Mono Pri0 Runtime Tests Run Linux arm64 release** leg started failing recently in `JIT.HardwareIntrinsics` test. See [these errors](https://helix.dot.net/api/2019-06-17/jobs/29ee0d94-e5e3-4cdd-acd7-c32156c3deca/workitems/JIT.HardwareIntrinsics/console). I noticed this failure in at least 4 PRs. https://github.com/dotnet/runtime/pull/37942, https://github.com/dotnet/runtime/pull/37912,

[2020-06-16 06:08] kunalspathak commented on #37946
@tannergooding , @BruceForstall , @danmosemsft

[2020-06-16 06:26] AaronRobinsonMSFT commented on #37236
The failure is happening on line 65 below. The test is a bit complicated because the actual test is a native EXE which is launched by a manged entry point that is run with `corerun.exe`. This convoluted path is needed because the test infrastructure didn't (doesn't?) support tests starting from a native context.

Based on the DMP there are two things going on:
1) The native process is starting to

[2020-06-16 06:29] sba923 commented on #37897
You're very welcome.

For now, I might go for setting `DOTNET_SYSTEM_GLOBALIZATION_USENLS=true` in my global environment so that I get the expected behavior when running PowerShell 7.1 preview 3. Or I'll still to using PowerShell 7.0.2 for any affected workloads.

[2020-06-16 06:31] tannergooding commented on #37946
I'd be very surprised if splitting the project into 5 suddenly started causing Mono to fail...

[2020-06-16 06:36] AaronRobinsonMSFT commented on #37236
I see where the process handle from (2) above is coming from. That is being used during the first pipe creation for stdout, the call to get a pipe for stderr is where this is failing.

[2020-06-16 06:58] weltkante commented on #37919
So you propose workarounds like comparing ToUpper/ToLower normalized strings?

[2020-06-16 07:27] siriak commented on #35320
Should this be closed already? It seems that #35759 fixed it.

[2020-06-16 07:50] dmeytin commented on #37919
Interestingly that setting Globalization Culture to invariant didn't helped...

[2020-06-16 07:51] TamarChristinaArm commented on #35806
Agreed, but if possible if a user writes something like

[code]
in AArch32 the JIT should optimize this without needing intermediate registers and/or extracts.

[2020-06-16 08:10] JamesNK commented on #31198
Configurable keep alive pings with Kestrel done - https://github.com/dotnet/aspnetcore/pull/22565

[2020-06-16 08:44] Maoni0 opened #37950 "implement the new GetGCMemoryInfo for 5.0"
please see the description of it in [the API proposal](https://github.com/dotnet/runtime/issues/34648#issuecomment-642362942).

the PR for the coreclr implementation is [here](https://github.com/dotnet/runtime/pull/37879).

[2020-06-16 08:48] huoyaoyuan opened #37951 "Performance regression in string.Compare(Ordinal)"
### Benchmark code

[code]
### Environment

[code]

### Regression?

.NET Core 3.1 already regressed from .NET Framework 4.8, and .NET 5 is even a more regression from .NET Core 3.1

### Data

|                 Method |           Job |       Runtime |     Mean |     Error |    StdDev | Ratio | RatioSD |
|----------------------- |-------------- |-------------- |---------:|----------:|----------:|--

[2020-06-16 09:01] pardahlman opened #37952 "Initial HTTPS request with client certificate fails on Linux, subsequent requests succeeds"
### Description

We are migrating a .NET Framework application to a .NET Core 3.1 application running on Linux in kubernetes. The application uses an `HttpClient` with client certificates to send request to an HTTP server. This works as expected when running on .NET Framework as well as .NET Core 3.1 on Windows. However, we get an unexpected behavior when running on Linux:

The first HTTP request

[2020-06-16 09:22] janvorli commented on #37236
Since it fails in `gc_heap::verify_heap`, I suppose the heap got corrupted. That method is going through the GC heap in a linear manner, so it seems that maybe a previous object on the heap might have reported a wrong size and the `verify_heap` is looking into the middle of an object. Or maybe more likely, something has written behind the end of the previous object. Seeing what the previous object

[2020-06-16 09:26] vladshestel commented on #851
The issue is still relevant for netcore `3.1.0-bionic` image. May be my scenario will be useful for someone or it brings any new information to the runtime team.

We facing the problem while migrating an asp.net application with high memory pressure between two sets of servers. We use docker swarm mode to orchestrate services and cgroups for a memory limits. Exact same image was used to start a co

[2020-06-16 09:42] Marusyk commented on #35320
Yeah, it should be closed. @buyaa-n, please close

[2020-06-16 10:10] ViktorHofer commented on #36513
@safern should this be closed now?

[2020-06-16 10:20] ViktorHofer opened #37953 "Remove xunit.console and make VSTest the default runner both locally and in CI"
1. Remove xunit.console:
- https://github.com/dotnet/runtime/blob/master/eng/testing/xunit/xunit.console.targets
- https://github.com/dotnet/runtime/blob/master/eng/testing/xunit/xunit.targets#L17

2. Remove runner templates for non-mobile and non-wasm:
- https://github.com/dotnet/runtime/blob/master/eng/testing/RunnerTemplate.cmd
- https://github.com/dotnet/runtime/blob/master/eng/testing/RunnerT

[2020-06-16 10:23] ViktorHofer opened #37954 "Use dotnet publish instead of ArchiveTests target"
At the moment we don't publish (framework dependent) our test projects and instead just build them and then zip them up. To make different publish modes possible (ie self-contained for code coverage), we want to use `dotnet publish` instead and use its output as the test payload.

I don't know if `dotnet publish` supports creating a zip file but if not, we could do that in sendtohelix.proj.

Relev

[2020-06-16 10:25] BrzVlad opened #37955 "Fix initlocals handling with mono interpreter"
Normally, we are too conservative, adding a MINT_INITLOCALS opcode even if all locals are initialized by IL code, which should be the common case anyway. However, we are not initializing locals coming from inlined methods.

We should be able to detect in the future when an uninitialized local is being used, and only then add the initlocals, both in the inlined method and normal case.

Failed tests

[2020-06-16 10:33] tmds commented on #35955
[code]
The error message comes from using `gai_strerror` as part of the `SystemNative_StrErrorR` shim:
https://github.com/dotnet/runtime/blob/132be64c3c4781106b8da4328d39dcd0c696921d/src/libraries/Native/Unix/Common/pal_error_common.h#L543-L548

Maybe we should add a dedicated `gai_strerror` shim?

@wfurt wdyt?

[2020-06-16 10:40] MichalStrehovsky opened #37958 "Trimmability of token based reflection APIs"
We have several APIs that deal with IL metadata tokens in the reflection API surface. It's not very clear to me what the use cases for these are, but trimming will definitely open us up to behavior changes (the tokens are going to shift around as linker removes things).

I would just mark them all as `RequiresUnreferencedCode`, but wanted to open this for discussion.

E.g. this is one of the APIs:

[2020-06-16 10:42] ViktorHofer opened #37959 "Build out-of-band projects on top of the microsoft.netcore.app.ref targeting pack"
Does it makes sense to build out-of-band projects on top of the `microsoft.netcore.app.ref` targeting pack? You would build them in any other repository in which you don't have direct access to the references with the targeting pack. You do the same for any other configuration that isn't in active development (`TargetFramework != NetCoreAppCurrent`).

Switching to that model a) removes the direct

[2020-06-16 10:43] vitek-karas commented on #37958
Agreed - we should simply mark these with `RequiresUnreferencedCode`.

[2020-06-16 10:44] benaadams commented on #37946
Mono Linux arm64 Release @ (Ubuntu.1804.Arm64.Open)

/root/helix/work/workitem/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part0_ro/AdvSimd_Part0_ro.sh: line 317: 650
[code]
[code]

[2020-06-16 10:47] ViktorHofer opened #37960 "Support dotnet pack on libraries projects"
`dotnet pack` currently does nothing when invoked on an library project. We should be able to route `dotnet pack` invoked on the source project to the pkgproj and invoke its build target.

In addition to that it would be nice if the pkgproj build output doesn't point to the `nuspec` but to the `nupkg` instead (same what NuGet does). //update: already done by @ericstj: https://github.com/dotnet/arc

[2020-06-16 10:56] ViktorHofer opened #37961 "Consider collapsing libraries reference and source projects"
Reference assemblies can be generated by roslyn via the [RefOut](https://github.com/dotnet/roslyn/blob/master/docs/features/refout.md) feature. Leveraging that feature could help us make progress on different developer productivity asks:
- Add a Libraries.sln that contains all the source and test projects.
- Make F12 (Go to definition) work by not jumping to ref project's source code.
- Use P2Ps f

[2020-06-16 10:59] am11 commented on #37923
Ah right. I was thinking if someone is using `.Contains("Linux")` or `.IndexOf(minimumLinuxKernelVersion)` etc. with `OSDescription` API, this change will not break them as the first part of description has been kept intact. If they were matching the verbatim string, `OSDescription == "Linux 4.15.0-106-generic #107-Ubuntu SMP Thu Jun 4 11:27:52 UTC 2020"`, that will break but such usage pattern is

[2020-06-16 11:01] ViktorHofer commented on #33128
@jkoritzinsky this should already be done with the introduced clr.corelib subset: `build clr.corelib+libs`. Should we close the issue?

[2020-06-16 11:02] ViktorHofer commented on #33128
Long term I would like to see us using a P2P to CoreLib instead of the manual reference.

[2020-06-16 11:14] ViktorHofer opened #37963 "Use a ProjectReference to reference System.Private.CoreLib from libraries"
Today we are using `ReferenceFromRuntime` items to reference System.Private.CoreLib. This requires the developer to specify the `RuntimeConfiguration` when building the product and even when [building test projects](https://github.com/dotnet/runtime/blob/cf1f24b6662b51a02ee588f70b7f9172f56718c5/src/libraries/System.Diagnostics.Debug/tests/System.Diagnostics.Debug.Tests.csproj#L12).

We could lever

[2020-06-16 11:18] ViktorHofer commented on #37953
cc @davidfowl @nohwnd

[2020-06-16 11:24] julian94 commented on #21626
I just ran into this issue at work and can add that using non-ascii characters like Å or ตั together with any of the RFC 3986 section 2.2 Reserved Characters fails, ! * ' ( ) ; : @ & = + $ , / ? # [ ].
E.g. Å*

[2020-06-16 11:25] stephentoub commented on #37919
Do you mean setting CultureInfo.CurrentCulture to CultureInfo.InvariantCulture, or do you mean enabling https://docs.microsoft.com/en-us/dotnet/core/run-time-config/globalization#invariant-mode? The names may be confusing, but I'd expect the latter to help and the former not to help.

[2020-06-16 11:31] MichalStrehovsky commented on #36229
As far as I'm aware, core reflection APIs are annotated.

There are some APIs left that are "reflection with extra steps", but they're not reflection per se.

[2020-06-16 11:31] #36229 closed

[2020-06-16 12:02] #35465 closed

[2020-06-16 12:17] MichalStrehovsky opened #37966 "Updating reference sources for System.Runtime don't work"
https://github.com/dotnet/runtime/blob/1692e34e4161fa8ee9d3f92ba0abb2aae93a8b1a/docs/coding-guidelines/updating-ref-source.md

After following these instructions I would expect the generated ref assembly to have the extra attributes added in #37704 but it doesn't.

It doesn't look too surprising since GenApi is invoked with a single input: the single input is the ref assembly that I want to update

[2020-06-16 12:17] MichalStrehovsky commented on #37966
@eerhardt Could you help me route this?

[2020-06-16 12:26] dmeytin commented on #37919
Actually I tried both approaches and did get any improvements.

[2020-06-16 13:04] stephentoub commented on #37966
cc: @safern

[2020-06-16 13:17] stephentoub commented on #37951
cc: @GrabYourPitchforks

[2020-06-16 13:18] stephentoub commented on #37951
@huoyaoyuan, have you tried strings longer than 3 characters?

[2020-06-16 13:39] rs38 commented on #29690
just wanted to share some  c# 8 mods of @tchivs helpful code :)

[code]

[2020-06-16 14:43] codingdna2 opened #42993 "BackgroundService.StopAsync never completes when called from a WPF project from Application.Exit event or Application.OnExit override"
### Description
BackgroundService StopAsync never completes when called from a WPF project from Application.Exit event or Application.OnExit override. Not sure this is the right repo to open the issue so be patient with me.

### To Reproduce
Steps to reproduce the behavior ([sample project](https://github.com/codingdna2/WPFWithBackgroundService))

Relevant parts:
[code]

[code]

### Expected behav

[2020-06-16 14:53] janvorli commented on #36681
What I really meant is that if the call stack is not misleading and the DoGcStress was really called for PC at the call, then it seems that the invalid instruction that was put at the call was not INTERRUPT_INSTR_CALL or INTERRUPT_INSTR_CALL_32, but INTERRUPT_INSTR or INTERRUPT_INSTR_32. Otherwise the DoGcStress would detect it was the call related one, set atCall=true and thus it would never reac

[2020-06-16 15:04] vcsjones commented on #37933
@bartonjs

My thought, and my concern may be misplaced, is that in this case the platform building the chain for the server forms an opinion on the certificate path when really a certificate has multiple trust paths.

Consider this (real) certificate chain:

![AGH](https://user-images.githubusercontent.com/361677/84790360-446f9880-afbf-11ea-9a25-e7fc69d29099.png)

D is cross signed. If the chain i

[2020-06-16 15:22] bartonjs commented on #37933
Yeah, multiple paths always mess up tidy logic.

My gut says that the easy solution here should be the normalizing one.  Though perhaps we need an overload for `CreateAndIKnowWhatImDoing`, which would just do garbage-in/garbage-out.  The name, of course, could use work.

[2020-06-16 15:24] tannergooding commented on #37946
Ah, they are timing out: https://helix.dot.net/api/2019-06-17/jobs/5ce10ff8-b722-4533-8535-485f9336e94a/workitems/JIT.HardwareIntrinsics/files/console.b6522eeb.log

`cmdLine:/root/helix/work/workitem/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part2_ro/AdvSimd_Part2_ro.sh Timed Out`

I wonder why splitting them is causing a timeout now... Maybe Mono was special casing the previous test?

[2020-06-16 15:25] eerhardt opened #37970 "Change Microsoft.XmlSerializer.Generator to not use private reflection on XElement constructor"
See the discussion in #35725, specifically this comment: https://github.com/dotnet/runtime/issues/35725#issuecomment-622600338.

We should change the C# generation to special case XElement (just like we did for the IL generation case), and have it generate new XElement("default") instead of calling `Activator.CreateInstance`. Using private reflection can easily be broken in the future, so we shoul

[2020-06-16 15:25] eerhardt commented on #35725
I've opened #37970 specifically to fix that.

[2020-06-16 15:40] GrabYourPitchforks commented on #37951
Re: the analyzer question, I don't think it's worth having an analyzer for this. You should use whatever calling pattern you find easiest to reason about. Most of our analyzers are for correctness or to steer you away from methods that have unexpectedly high algorithmic complexity.

Re: the perceived perf regression, per these results it's a half nanosecond per invocation. Probably explained by st

[2020-06-16 15:57] huoyaoyuan commented on #37951
Rerun using larger strings:
[code]
And the result:

|                 Method |           Job |       Runtime |     Mean |     Error |    StdDev | Ratio |
|----------------------- |-------------- |-------------- |---------:|----------:|----------:|------:|
|        CompareConstant |      .NET 4.8 |      .NET 4.8 | 5.676 ns | 0.0209 ns | 0.0196 ns |  0.66 |
| CompareOrdinalConstant |      .NET 4.8 |

[2020-06-16 15:57] obiwanjacobi opened #37972 "Ijwhost.dll loading not always working for C++/CLI assembly."
I am working on a solution where managed plugins are loaded into (3rd party) native host applications. The managed plugins use a C++/CLI interop library (part of my project) to let the native host recognize it as an native plugin and load it. That interop library then loads the managed plugin and marshals the calls between host and plugin. All plugin files are deployed into a single directory (ala

[2020-06-16 16:01] BruceForstall commented on #37943
@tannergooding PTAL
cc @echesakovMSFT

[2020-06-16 16:01] marek-safar opened #37973 "Add feature-switch for invariant TimeZone support"
For size sensitive apps it'd be very helpful to have an option (feature switch) to exclude full time-zones support. This is something that is supported by Blazor 3.2 as an opt-in feature which we should not regress on.

@eerhardt

[2020-06-16 16:03] BruceForstall commented on #1722
@karelz You marked this as "Future", but it's failing in the CI. Are you going to disable the test so we don't see this noise?

[2020-06-16 16:05] safern commented on #37954
We could also do dotnet publish and then zip it up  ( similar to what we do for mobile targets) doing the zip in sendtohelix.proj doesn’t seem like the best place but that could work as well.

[2020-06-16 16:08] jkoritzinsky commented on #33128
Yes we can close this.

[2020-06-16 16:08] #33128 closed

[2020-06-16 16:08] safern commented on #37966
The docs are wrong here. Before we didn’t support following TypeForwards in GenApi and that’s why we needed to run it from the ref folder but now we have that support. @MichalStrehovsky can you try running `dotnet build --no-incremental /t:GenerateReferenceSource` from the src directory instead?

[2020-06-16 16:19] mangod9 commented on #34144
Assume its ok to close this issue, since the original proposal is not being implemented?

[2020-06-16 16:21] buyaa-n commented on #35320
Yes its done, thanks

[2020-06-16 16:21] #35320 closed

[2020-06-16 16:22] safern commented on #37926
@kumbham unfortunately in corefx old branches building packages is not very well supported in Unix machines. Could you try doing it in a Windows machine?

‘build.cmd -allConfigurations’ should work if I remember correctly.

[2020-06-16 16:24] mangod9 commented on #13557
Closing since this appears to be fixed. Please reopen if it still repros.

[2020-06-16 16:24] #13557 closed

[2020-06-16 16:29] tarekgh commented on #37919
Using invariant culture wouldn't help much as we'll still need to call ICU at that time too. But if you use Invariant Globalization mode, that should be much faster (with losing globalization support with non-ASCII strings). are you sure you tried  Invariant Globalization mode and you didn't notice any difference?

[2020-06-16 16:30] AaronRobinsonMSFT commented on #37236
@janvorli Good call. The previous object is a `System.String` with a length of 42484. The entire string is a series of `NULL`. I would agree the previous object reported something and clearing it out impacted the current object which is determined to be invalid.

[2020-06-16 16:39] Tratcher commented on #1578
Yeah, trying to make incremental improvements to the state machine seems like a good place to start.

[2020-06-16 16:39] tannergooding commented on #37946
Yes. They were excluded here: https://github.com/dotnet/runtime/blob/master/src/coreclr/tests/issues.targets#L2575

This just needs to be updated to handle the new names, will have an update shortly.

[2020-06-16 16:51] janvorli commented on #37236
Or some unsafe code manipulating the string has written behind the end of the string by accident. It might be interesting to get gc roots of that string to see if it reveals where is it being used (`gcroot -all the_string_address`)

[2020-06-16 17:00] #37829 closed

[2020-06-16 17:04] Clockwork-Muse commented on #37973
... This is implying that we'd be distributing our own copy of timezone data?  Or is this something else?  Traditionally, we've pulled from the OS for desktop/server deployments, which would mean the size of the timezone data with an app is `0`.

Note that the full tzdb is < 400kb, and is trivially amenable to CDN delivery/caching.  Perhaps Blazor should also add the ability to specify a web resou

[2020-06-16 17:08] #31654 closed

[2020-06-16 17:10] davidwrighton commented on #36810
@kfrolov I believe I likely fixed this with my PR #37937 As I don't have access to the proper hardware, if you could verify this for me I'd appreciate it.

[2020-06-16 17:12] viewizard commented on #37910
I tested ```SString::HashCaseInsensitive``` in ```SimpleNameToFileNameMapTraits::Hash``` with some simple changes like this:
[code]
looks like all works fine with this changes. I could see, that generated hashes not connected to locale any more (tested with us, tr and az locales), we could avoid "the Turkish-I Problem" in this way.

[2020-06-16 17:20] rubarax opened #37983 "Process totally frozen."
Hi there,

We saw an issue with a process (a server) that got totally stuck: no connections accepted, no background jobs run, no new log entries.

It looks totally frozen, although the process is kept alive. The memory usage remained constant and there was no CPU usage (which makes sense since it looked frozen).

The binaries were compiled with NET Core 3.1.100 and the process was run in Ubuntu 18

[2020-06-16 17:43] danmosemsft commented on #37918
https://github.com/dotnet/runtime/pull/37969

[2020-06-16 17:49] #35725 closed

[2020-06-16 17:55] #37161 closed

[2020-06-16 18:03] safern commented on #37946
I put up a PR to fix this, the condition for that leg was wrong: https://github.com/dotnet/runtime/pull/37985

[2020-06-16 18:03] dmeytin commented on #37919
<PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <InvariantGlobalization>true</InvariantGlobalization>
  </PropertyGroup>

[2020-06-16 18:06] wfurt commented on #37952
Do you se attempt to fetch the intermediate certificates on the first request? I would expect that if everything is in the store, there would be no need. Also if you have simple app to demonstrate it, I can take a look if we can reproduce it.

[2020-06-16 18:10] danmosemsft commented on #37983
Thanks, if there is any chance this dump may contain non public info (eg., secrets, environment variables, sensitive paths or user names, etc) you will want to secure it.

[2020-06-16 18:11] tarekgh commented on #37919
You need to have the following in your csproj to enable the globalization invariant mode:

[code]

The [link](https://github.com/safern/runtime/blob/c592559b25de2bcc2ddf8adcb94a9a37fe1d10ce/docs/design/features/globalization-invariant-mode.md) should have more details.

[2020-06-16 18:15] danmosemsft commented on #37983
Also, is it possible for you to post some relevant stacks? All the symbols (at least managed ones) should be publicly resolvable. This dump will take a few hours to download as we're all at home these days 😄

[2020-06-16 18:18] joperezr commented on #37961
While I totally agree that this would give us a lot of benefits, it is also worth noting some of the drawbacks of this:

- How do we plan on running ApiCompat after this? Specifically how do we make sure that we don't break ApiCompat across different TFMs?
- Today we don't have coverage for breaking ApiCompat from previous releases, but this may be something we want to consider now.
- It has been

[2020-06-16 18:18] wfurt commented on #35955
I don't think this about Gai_error. there are places where we use SocketError.SocketError directly and the question is how do we map it.

https://github.com/dotnet/runtime/blob/b74d0e1217e6f14d8da2d4b14bca4c65b974a8b3/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L655-L660

correct me if I'm wrong @stephentoub, but I think this is about finding mapping for general socke

[2020-06-16 18:34] layomia commented on #37677
The change in https://github.com/dotnet/runtime/pull/37083 doesn't need a linker test because it _removed_ the use of a type that would have been trimmed out.

[2020-06-16 18:45] karelz commented on #37055
@IanKemp can you please help with the cross check? Are there specific APIs which you think are missing?

[2020-06-16 18:46] layomia commented on #37940
That's the expected behavior. Will take a look.

[2020-06-16 18:46] karelz commented on #37055
Triage: Does not seem to be critical for 5.0 -> Future.
Unclear if anything is needed at all.

[2020-06-16 18:47] vcsjones commented on #37206
For what it's worth, in .NET 5 there will be `HashSizeInBytes`  on `IncrementalHash` which is being introduced in #37936. So you would be able to do `ih.HashSizeInBytes * 8` to get the bit size.

[1]: https://github.com/dotnet/runtime/pull/37936/files#diff-035931503c8465628c1baf961511182bR468

[2020-06-16 18:48] AndyAyersMS commented on #37117
I wonder if we actually need to set the tail prefix for tail call stress... presumably we could get similar "coverage" if we just had tail call stress use helpers for implicit tail calls that can't be fast tail calls, and we'd then be reusing the same legality logic we use when jitting normally.

[2020-06-16 18:48] karelz commented on #37242
@chenxinyanc did it happen on Linux, Mac or Windows?
Do you know if it is the same behavior on .NET Framework?

[2020-06-16 18:48] karelz commented on #37242
Triage: Does not seem to be critical for 5.0 -> moving to Future.

[2020-06-16 18:50] myblindy opened #37986 "Inefficient recursive pattern matching (?) native code generated"
**Version Used**:

VS 16.6

**Steps to Reproduce**:

I'm using the following code:

[code]

And the issue is that while the code generated is correct, it is indeed checking for `null` and for the `Length` property twice, even in release mode, in both ILASM and native assembly (so the JIT is also failing to optimize this):

[code]

**Expected Behavior**:

I would expect the 2nd check to be eliminat

[2020-06-16 18:51] karelz commented on #37336
Triage: Not critical for 5.0.
@furch23 can you please post here HelloWorld-style repro that we can run locally? (maybe just copy paste from SO?) ... that will simplify investigation.

[2020-06-16 18:52] karelz commented on #37655
@davidsh is it something we should tackle in 5.0? Is it going to help end to end scenarios with YARP significantly?

[2020-06-16 18:54] karelz commented on #37734
Triage: Does not seem to be critical for 5.0.

[2020-06-16 18:54] bartonjs opened #37987 "Add AsnWriter.Encode"
## Proposed API

[code]

[2020-06-16 18:54] ViktorHofer commented on #37961
In addition to what @joperezr expressed above, here are some of the concerns that @ericstj expressed around the RefOut feature:

- resources are compiled into the ref assembly
- internals aren't stripped
- typedefs from dependencies aren't resolvable (i.e. System.Runtime -> System.Private.CoreLib)
- reference for runtime specific assembly (which reference would be picked if the project multi-targe

[2020-06-16 18:56] davidsh commented on #37655
YARP scenarios will benefit from the new telemetry-focused events/counters being added in new namespaces: System.Net.Http, System.Net.Sockets, etc.

These existing events in the "Microsoft-System-Net-*" namespaces are targeted more for debugging/diagnosing. I don't think this is a must have for 5.0.

@stephentoub might have more comments on this since he asked for a tracking issue for this.

[2020-06-16 18:57] sdmaclea opened #37988 "ARM64 manual install: dotnet-dump libhostfxr.so could not be found"
[code]

APT packages for the arm64 SDK are not available.
Installed SDK using dotnet-install script.
Installed dotnet-dump using `dotnet tool install dotnet-dump --global`

Set environment as...
[code]

When running `dotnet-dump ps` libhostfxr.so is not found.
When running `dotnet dump ps` libhostfxr.so is not found.

Set `DOTNET_ROOT` as recommended by the failure.  No success.

[code]

Setting /

[2020-06-16 19:00] dmeytin commented on #37919
Hey Tarek,
I've tried PropertyGroup and ItemGroup as you suggested, but the results are persistent.
Do you have any idea why?

[2020-06-16 19:02] steveharter commented on #36635
@Tornhoof

Yes thanks. The linked PR does that.

In some places they are used, in some others they are not

It looks like the ThrowHelper pattern is not normally used in public entry points. I believe this is so the exception contains a nicer call stack.

[2020-06-16 19:11] tarekgh commented on #37919
@dmeytin if you can share a sample project I can try that will be helpful to tell.

When do you say that you mean the perf didn't change at all? or you mean something else?

[2020-06-16 19:14] trylek opened #37990 "readytorun/multifolder/multifolder.csproj fails with Crossgen2 on Windows arm64"
The multifolder test I created to demonstrate multi-folder composite Crossgen2 build currently fails on ARM64. I have temporarily blocked it out in issues.targets so that the change can be merged in and used at least for X64 development.

[2020-06-16 19:21] wfurt commented on #35839
should we close this in favor of #35844? If we have options to pass complete chain to SslStream this should not be big issue, right?

[2020-06-16 19:21] ViktorHofer commented on #37961
That's TBD. Presumably the same way we do today by comparing the generated reference assembly with the source one (which might or might not be beneficial, ie refout might already guarantee that). We would still generate the reference and the source assemblies so ApiCompat would be able to compare them.

AFAIK we already do: https://github.com/dotnet/runtime/blob/master/src/libraries/shims/ApiCompa

[2020-06-16 19:24] wfurt commented on #37734
for clarity, this seems to be specific to Docker on Windows and may not be .NET issue.
I think Triage: is right.

[2020-06-16 19:26] ViktorHofer commented on #37954
The only reason we compress the publish directory, is to send it to helix, right? That's why I played with the idea of doing that in sendtohelix.proj. It sequencing it into the publish target would mean that we would either always compress it (which we shouldn't) or again need a flag to express that (which ideally we wouldn't need).

That said, this sounds like an implementation detail, I'm fine w

[2020-06-16 19:33] safern commented on #37954
Yeah, but `sentohelix.proj` is already getting complicated enough (after addition to run coreclr stress tests) and I would like those to be decoupled, I think it is better to have that as part of the test vertical. The flag won't go away as we will still need this for wasm, so I don't mind having to pass in an extra flag.

Also, for sending manual helix jobs is helpful as well since I can just do

[2020-06-16 19:46] ViktorHofer commented on #37954
Sure, if we want to continue using the extra property then you would do `dotnet publish /p:ArchiveTests=true` locally.

[2020-06-16 19:52] #37475 closed

[2020-06-16 19:53] safern commented on #37954
Sounds good. Just wanted to highlight my opinion there since the issue description mentioned removing the per-test target to generate the archives.

[2020-06-16 19:56] karelz commented on #1326
Triage: It is ok to report just host name + port (we do not have IP available for host name resolving to multiple IPs).

[2020-06-16 19:59] wfurt commented on #37933
Do we have test cases like this @bartonjs? If not and if this is real scenario perhaps we can turn it into test case...

[2020-06-16 20:03] Suchiman commented on #1326
@karelz
That significantly diminishes the returns though as this message now provides no information that isn't already known (or can be known easily by putting a log statement at the right position).

From my description: Can i detect if i got stuck at an application visible proxy or the destination server?

Does that mean it will attempt to connect all IP addresses in order or only use the first

[2020-06-16 20:40] safern commented on #36513
Nope, still need to update the IL.SDK -- will do that now. Thanks for the ping.

[2020-06-16 20:41] karelz commented on #37933
NCL discussion:
- Consider `Create` instead of `CreateForServer` as it is agnostic of client/server
- Drop duplicate `hostName` arg in `ServerOptionsSelectionCallback` (it is already in `SslStream`)
- Should we change `HostName` to a class (future proof if there is more info in future - like ALPN, SNI, etc.)

Overall ready for API review

[2020-06-16 20:45] vitek-karas commented on #37988
This is basically the same problem as discussed in https://github.com/dotnet/install-scripts/issues/43#issuecomment-644143526 (and mainly the linked issue https://github.com/dotnet/docs/issues/18715). The `dotnet-install` script is not an installer, and will not setup the environment for you in any way really.

Setting the `DOTNET_ROOT` should work with the `dotnet-dump` approach.
I'm surprised th

[2020-06-16 21:00] sdmaclea commented on #37988
OK.  The `DOTNET_ROOT` was at least partially user error.  I set the variable, but didn't export it.  Perhaps `use the DOTNET_ROOT environment variable` should change to `export the DOTNET_ROOT environment variable` as a reminder to the user.

The `dotnet dump ps` doesn't work.  Probably because it is implicitly calling `dotnet-dump`.  IF I pass the the explicit path, it does work. i.e. `dotnet /h

[2020-06-16 21:02] sdmaclea commented on #37988
I happy to just close this as a duplicate.

[2020-06-16 21:04] stephentoub commented on #37655
It's not required for .NET 5, unless its presence is interfering with the actual telemetry we want developers consuming (either from a performance perspective or noise perspective).  The majority of the existing tracing is, in my opinion, of very little value and when enabled as overheads, plus it muddies up the codebase.

[2020-06-16 21:09] DrewScoggins commented on #37762
Do we have some initial command lines that we will need to make this stuff work? If we do I can pre-flight all of the work on the yaml file updates so that when this change is in BDN we can turn it on much faster.

[2020-06-16 21:29] hamish-milne commented on #2021
Is it possible to get a build of this working at present, perhaps using the instructions here https://github.com/dotnet/runtime/issues/10111#issuecomment-384370445 ? I've tried publishing a simple app with the `linux-musl-arm` RID, which works, but execution fails with `Illegal instruction` at `__stack_chk_fail` (some incompatibility with alpine's stack-protection-by-default?)

Happy to help out w

[2020-06-16 21:30] wfurt commented on #37933
I added section to alternative designs.

[2020-06-16 21:40] hamish-milne commented on #2021
Just did another experiment:
From `readelf -d` on the `linux-musl-arm` binary:
[code]

And on the `linux-musl-arm64` binary:
[code]

So.. looks like the `musl-arm` RID is in fact compiling with glibc.

[2020-06-16 21:41] janvorli commented on #2021
We don't publish packages for linux-musl-arm yet, only linux-musl-arm64. So on arm, we seem to be falling back to linux-arm which is glibc.

[2020-06-16 21:50] hamish-milne commented on #2021
Ah I see - makes sense I suppose!

Anything I can do to ameliorate this issue? :) I'm using ghost's instructions to compile coreclr but perhaps things have moved on since then?

[2020-06-16 21:51] antonfirsov commented on #1326
@Suchiman when you are sending requests trough a proxy server, the "real" address won't be transparent to you, `HttpClient` will connect to the proxy server instead.

With our new proposal you will observe the hostname of the proxy server in the exception message when connecting through a proxy. Does this make sense or am I missing some piece of information about your use case?

[2020-06-16 21:53] #37946 closed

[2020-06-16 21:53] #37943 closed

[2020-06-16 21:57] #37988 closed

[2020-06-16 21:58] tannergooding commented on #31308
Brought this up first thing this morning and it was approved. I've unblocked the associated PR.

[2020-06-16 21:59] Suchiman commented on #1326
@antonfirsov hm yes that makes sense.
This doesn't help for the second scenario though (without a proxy).

[2020-06-16 22:00] #37258 closed

[2020-06-16 22:11] safern commented on #33636
@jkotas -- @eerhardt noticed that we're shipping the IL SDK to nuget.org: https://www.nuget.org/packages/Microsoft.NET.Sdk.IL/5.0.0-preview.5.20278.1

Should we be shipping that at all? If not I will fix it as part of this issue.

[2020-06-16 22:14] bartonjs commented on #37933
Not really, though we could technically do it now that we support contextual roots.  We just let the OS libraries build a chain, and they usually prefer (to my understanding) the first of

* The shortest path to a trusted root
* (Maybe?) The shortest path to a self-signed certificate
* The longest path it could find

So if the shortest trusted path is 11 hops and the shortest self-signed is 3, 11

[2020-06-16 22:14] antonfirsov commented on #1326
@Suchiman just to make sure I understand you correctly: You state that, when you are not using a proxy, it's helpful information for you to see the IP address instead of the hostname, right?

This would be great, but we we can achieve it only for a future version of .NET (post .NET 5), since we need part of #33418 to make that happen. For now, we are aiming for a solution that is good enough for m

[2020-06-16 22:19] synercoder commented on #37590
Alright, in the case of the `IAsyncFileInfo`... how would that relate to, for example, the `UseStaticFiles`? Because if that one (and other current uses) still uses the old `IFileInfo` what would be the point of the new interface, if that is not used by the ecosystem? Because starting to use the new interface would also be a breaking change.

My whole point with this api suggestion would be to hav

[2020-06-16 22:23] Suchiman commented on #1326
@antonfirsov yes, correct. It is useful when evaluating the logs if it is always the same address that is failing and which one it is when the `hostName` resolves to multiple ip addresses. Is it safe to assume that `Dns.GetHostAddresses(hostName)[0]` is the IPAddress that the connection tried to use?

Ok, that is fine, it's not a blocker.

[2020-06-16 22:34] markalward commented on #37024
I setup a repro to answer @karelz's questions above.

Test setup:
- .NET Framework 4.8 using HttpClient with WebRequestHandler
- Server is a test app that reads/writes http messages using a socket directly. The client-to-server test results were also confirmed using wireshark.

On the client side, I'm showing header values as strings in the tables below, since that's the representation exposed by

[2020-06-16 22:47] cheenamalhotra commented on #37631
@CristianSolervicens

If you are using server-side pagination by using ORDER BY clause, try to change that to something else to paginate or use client-side pagination instead. Use minimalistic queries to investigate what's causing the lag.

You can also try to enable [AUTO UPDATE STATISTICS ASYNCHRONOUSLY](https://docs.microsoft.com/en-us/sql/relational-databases/statistics/statistics?view=sql-ser

[2020-06-16 23:01] jkotas commented on #33636
This is tracked by https://github.com/dotnet/runtime/issues/32996 and related issues.

@BruceForstall and @JulieLeeMSFT are the owners according to https://github.com/dotnet/runtime/blob/master/docs/area-owners.md, so they should make the call.

I do not see a problem with shipping this package on nuget.org.

[2020-06-16 23:02] tarekgh commented on #774
As indicated in the discussions this is by design as .NET depends on the OS or ICU for globalization support. We are improving the story in .NET 5.0 as we started supporting ICU on Windows which will allow getting more consistent results when running on different OS's. Also, we are going to support App local ICU which can be used to ensure exact behavior when running anywhere.

[2020-06-16 23:02] #774 closed

[2020-06-16 23:14] danmosemsft commented on #27429
As mentioned above, we will not add `[Serializable]` to more types as that makes it visible to BinaryFormatter, which is a dead-end. (Your point taken that in your scenario the data is fully trusted - unfortunately there is never end to the number of cases in which such data is trusted when it should not be.)

@GrabYourPitchforks in the general case of an arbitrary serializer, what is our story? F

[2020-06-16 23:30] Maoni0 commented on #34648
[PR](https://github.com/dotnet/runtime/pull/37879)
[doc issue](https://github.com/dotnet/docs/issues/18979)

[2020-06-16 23:34] AndyAyersMS commented on #10343
We see this stloc/ldloc pattern elsewhere fairly frequently. If there is just that one load (which we can check for in our up-front IL scan) we should just optimize this pattern to a nop and forward the value to the consumer.

This is a fairly cheap and safe form of forward sub (see #4655).

[2020-06-16 23:36] GrabYourPitchforks commented on #27429
@danmosemsft There were some proposals floating around to allow serialization of arbitrary objects, but they never really took off. `ISerializable` could be used to pull this off, as it's not _intrinsically_ tied to dangerous serializers like `BinaryFormatter`. But in practice it's not ever used outside of that context because the API surface isn't quite tuned for non-`BinaryFormatter` scenarios.

[2020-06-16 23:41] danmosemsft commented on #27429
@GrabYourPitchforks thanks, that is clear. Let's say we added those methods to Random that deal with byte arrays, then the consumer would have to ensure there was a converter for Random appropriate for their serializer of choice, right?

@steveharter just curious, taking JSON serializer as the test case, do we imagine we would offer converters for types like this, or they would be externally suppl

[2020-06-16 23:42] davidfowl commented on #37590
You can't make a breaking change like that, it's too impactful (especially when the other providers don't need it).

It's not a binary breaking change. It's new behavior libraries can opt-into.

With `IAsyncFileInfo` consumers need to check for the interface and light up the async behavior.

Sure, you should just implement both.

Let me propose a crazier non breaking alternative. You can implement

[2020-06-16 23:49] synercoder commented on #37590
I would love to hear more about your crazy idea. :) Do you have some documentation or a blog post about delaying async?

Also with the IAsyncFileInfo, you mean like:

    if ( provider is IAsyncFileProvider asyncProvider)
    {
        // Async Stuff
    }

[2020-06-16 23:54] MSLukeWest commented on #35521
I am hitting this issue with a new tool we're creating that uses libnethost.lib.  So I'm unable to build without warnings until this issue is resolved.  Right now I get 7 warnings like this:

libnethost.lib(nethost.obj) : warning LNK4099: PDB 'libnethost.pdb' was not found with 'libnethost.lib(nethost.obj)' or at '<Path to Project>\Release\libnethost.pdb'; linking object as if no debug info

[2020-06-16 23:56] Maoni0 commented on #37118
[PR](https://github.com/dotnet/runtime/pull/37894)

[2020-06-16 23:58] #34423 closed

[2020-06-17 00:00] Maoni0 commented on #13736
API to get # of generations added via [this PR](https://github.com/dotnet/runtime/pull/37853)

[2020-06-17 00:08] echesakovMSFT commented on #36693
As far as I can tell, there is no `VCVTA.S64.F64` or `VCVTA.U64.F64` on Arm32 so ConvertToInt64RoundAwayFromZeroScalar
and
ConvertToUInt64RoundAwayFromZeroScalar should be under AdvSimd.Arm64 as well as
ConvertToInt64RoundAwayFromZero.

This applies to the other rounding modes as well.

[2020-06-17 00:15] rseanhall commented on #35244
What is the status of this? I want to add `hostfxr.h` and `coreclr_delegates.h` to the Microsoft.NETCore.DotNetHost package, but won't bother if it will be deleted. Should I create a new issue for adding those header files to it?

[2020-06-17 00:16] tannergooding commented on #36693
That looks to be correct. It was likely just oversight

[2020-06-17 00:17] rseanhall commented on #35465
@vitek-karas Can you set the labels, milestone, etc?

[2020-06-17 00:25] karelz commented on #37655
@davidsh if you can confirm that it does not interfere with end to end telemetry, please move it to Future milestone. Thanks!

[2020-06-17 00:27] GrabYourPitchforks commented on #27429
It'd be hooked up in the same way that any type not natively understood by the serializer gets hooked up. Write a custom converter, or define a separate property on your POCO which handles the translation for you:

[code]

[2020-06-17 00:32] #34048 closed

[2020-06-17 00:33] AaronRobinsonMSFT commented on #37236
I _think_ this issue is caused by https://github.com/dotnet/runtime/issues/7670.

[2020-06-17 00:36] tarekgh commented on #30086
closing per #37281

[2020-06-17 00:36] #30086 closed

[2020-06-17 00:38] davidsh commented on #37655
It's not going to interfere with telemetry. For that scenario we want customers to only use the new event namespaces that will have our new events/counters.

[2020-06-17 00:41] jkotas commented on #36850
The test is still disabled in https://github.com/dotnet/runtime/blob/master/src/coreclr/tests/issues.targets#L119 against this issue. Delete the test before closing this?

[2020-06-17 00:41] tarekgh commented on #26518
Closing this as it is a low priority to consider it in addition to the concern I mentioned before.

[2020-06-17 00:41] #26518 closed

[2020-06-17 00:50] tarekgh commented on #2340
@GrabYourPitchforks what is the status of this issue? I am seeing you have marked for 5.0 release.

[2020-06-17 01:00] danmosemsft commented on #27429
OK. From discussing offline, it might also be interesting to consider whether we should have a general pattern that a type should implement to implement if it wants to serialize to/from bytes. This would not be for graphs - probably the type would contain only primitive fields, as Random does. @stephentoub we have no such pattern today do we?

[2020-06-17 01:01] GrabYourPitchforks commented on #2340
Not yet approved. Hoping we can quickly approve it during the next backlog review.

[2020-06-17 01:04] tarekgh commented on #27969
Closing it as we didn't get answer to the raised question.

[2020-06-17 01:04] #27969 closed

[2020-06-17 01:07] tarekgh commented on #27293
Closing this as it looks not a priority.

[2020-06-17 01:07] #27293 closed

[2020-06-17 01:10] tarekgh commented on #10990
Moving it to 5.0 release as this will be the chance to have such breaking change.

[2020-06-17 01:15] pengweiqhca commented on #37694
I've been using `Lib.Harmony` patched `GetConnectionKey`.

[2020-06-17 01:22] Ziriax opened #38003 "Static method that evaluates to a constant not being inlined by .NET Core 3 and 5 JIT"
When porting [Klein](https://github.com/jeremyong/klein) (a highly optimized C++ library for doing 3D projective geometric algebra) to [Klein#](https://github.com/Ziriax/KleinSharp) (a C# .NET Core 3+ library using SIMD intrinsics), I noticed that a very silly function that should evaluate to a constant causes the JIT to generate inefficient code.

Manually replacing the function calls with a cons

[2020-06-17 01:25] scalablecory commented on #38003
@tannergooding might be of help generating efficient swizzling.

[2020-06-17 01:27] NicolasDorier commented on #37690
@scalablecory HttpClient is proxying HTTP request, the only problem is that it is not creating tunnel for it.

If you proxy to HTTPS or web socket, the first message to the proxy is CONNECT.
If you proxy HTTP, it is GET/POST. TOR HTTP proxy does not support anything else than connect.

[2020-06-17 01:28] stephentoub commented on #27429
We have some types that accept bytes into constructors and expose bytes from properties/methods, e.g. `IPAddress.TryWriteBytes` and `IPAddress(ReadOnlySpan<byte>, long)`, `BigInteger.TryWritesBytes` and `BigInteger(ReadOnlySpan<byte> value, bool isUnsigned = false, bool isBigEndian = false)`, etc.

[2020-06-17 01:31] NicolasDorier commented on #37690
I am excited about the work at https://github.com/dotnet/runtime/issues/1793 . I hope the flexibility provided will be enough for my use case.

[2020-06-17 01:32] tarekgh commented on #37819
https://github.com/dotnet/runtime/issues/37919

[2020-06-17 01:41] scalablecory commented on #37690
Gotcha.

Typically the form "GET http://foo.com" is used for unencrypted requests (this allows for more efficient connection pooling) and "CONNECT foo.com" is used for encrypted requests.

The ask, then, would be to make this selectable. #1793 would allow a CONNECT tunnel to be used.

[2020-06-17 01:54] BruceForstall commented on #37440
@trylek You might want to update the initial message in this issue to be up-to-date with the current plan.

[2020-06-17 01:56] jpapp05 commented on #27429
This probably needs to be in its own topic, but it is related to the binary serializer and its current incarnation in .NET Core, so apologies up front for miss-posting.

The changes/restrictions to the binary serializer is also preventing us from porting our commercial applications over to core; though, I completely agree with the overall sentiment and security concerns.

However, in our case (and

[2020-06-17 01:57] vcsjones commented on #37933
Well, this takes several years because a lot of old devices (cough \*android* cough) don't get  updates. As an example, Let's Encrypt [has delayed][1] moving off their cross-signed root to their ISRG again.

I suppose this is how all of this works on Windows / .NET today, and if there haven't been a lot of customer reported issues from it, then my concerns may not have much merit. 🤷‍♂️

[1]: https

[2020-06-17 02:18] erozenfeld commented on #36975
This test failed only once on 5/24 in r2r-extra pipeline. It's currently passing both locally and in all subsequent scheduled runs so closing for now.

[2020-06-17 02:18] #36975 closed

[2020-06-17 02:27] erozenfeld commented on #36974
This test failed only once on 5/24 in r2r-extra pipeline. It's currently passing both locally and in all subsequent scheduled runs so closing for now.

[2020-06-17 02:27] #36974 closed

[2020-06-17 02:32] vcsjones opened #38005 "X509VerificationFlags.IgnoreNotTimeValid no effect on macOS"
On macOS 10.15.5, setting...

[code]

..does not appear to have the expected result. Consider this self-contained example (apologies for giant byte blob)

[code]

This chain will not build successfully, and "NotTimeValid" is printed to the console, despite the verification flags specifying to ignore it. If you add the commented out line back for `VerificationTime`, the chain will build successfull

[2020-06-17 02:34] erozenfeld commented on #36973
This test failed only once on 5/24 in r2r-extra pipeline. It's currently passing both locally and in all subsequent scheduled runs so closing for now.

[2020-06-17 02:34] #36973 closed

[2020-06-17 02:39] vcsjones commented on #38005
@bartonjs before I dig in, is this known or expected due to some limitation of macOS? Otherwise I shall dig.

[2020-06-17 03:01] fawdlstty opened #38111 "[may be a bug] serilize Task object will let cpu 100%"
# Issue Title

serilize Task object will let cpu 100%

# General

IDE: VS2019 Community
Version: .net core 3.1
System: both Win10 and Centos 7.5
Framework: ASP.Net Core

[code]

if I use Newtonsoft.Json to serilize the object, it will throw a exception, but if I use the code, It will always lock with there and let CPU 100%

[2020-06-17 03:05] chenxinyanc commented on #37242
It happens on Windows. But they share the same codebase so I suppose the behavior should be the same on other platforms.

A check on referencesource shows that .NET Framework 4.8 has the same behavior: https://referencesource.microsoft.com/#System/net/System/Net/HttpListener.cs,874
[code]

I'm not sure about the reason why it's necessary to

but at least the documentation should observe such behav

[2020-06-17 03:07] NicolasDorier commented on #37690
Awesome, I am looking forward! Will keep using my home grown proxy for now.

[2020-06-17 03:10] #37492 closed

[2020-06-17 03:17] bartonjs commented on #38005
Nope, doesn't sound familiar, dig away :smile:.

[2020-06-17 03:53] GrabYourPitchforks commented on #27429
@jpapp05 Do you have a scenario for cloning `Random` instances specifically, or are you discussing deep object graph cloning in general terms?

[2020-06-17 04:12] v-haren commented on #37117
failed again in job: [runtime-coreclr jitstress 20200615.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=688992&view=ms.vss-test-web.build-test-results-tab&runId=21389938&resultId=100066&paneView=debug)

failed test: profiler\\unittest\\getappdomainstaticaddress\\getappdomainstaticaddress.cmd

Error message
[code]

[2020-06-17 04:32] mjsabby commented on #11354
I hope the "we should do this for 5.0" still applies and we're tracking this as part of the overall function pointers work.

[2020-06-17 04:34] richlander commented on #33680
Sounds good. Thanks for all the work, Jan! Looks great.

[2020-06-17 04:34] #33680 closed

[2020-06-17 04:42] davidfowl commented on #35839
We can avoid making the call completely right? We can also set a timeout if we choose to resolve ourselves yes?

[2020-06-17 04:42] maksimkim commented on #37738
Few comments:

1. Should State and Dispose apis belong to underlying IConnection rather than HttpConnection?
2. Should HttpStreamReservation-based API belong to Http2Connection only? In case of http1 assuming client manages connections this api is hardly needed unless I'm missing smth.

[2020-06-17 04:44] GrabYourPitchforks commented on #11354
At the moment it's not currently funded for 5.0 - it's more of a stretch goal. If it's blocking you let us know and we can mark it as such. Then we can pull resources from other things to address it.

[2020-06-17 05:20] wfurt commented on #35839
yes, I think so, at least for cases in our control.  [X509ChainPolicy.UrlRetrievalTimeout](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509chainpolicy.urlretrievaltimeout?view=net-5.0) is what you can use to control timeout if you choose X509Chain to build/fetch it for you. I did quick search through runtime repo and I did not see test verifying the ex

[2020-06-17 05:25] vcsjones commented on #35839
I don't know if this is still correct but I was under the impression that `UrlRetrievalTimeout` is ignored on MacOS.

https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/docs/design/features/cross-platform-cryptography.md#x509chain

[2020-06-17 05:30] benaadams opened #38011 "API Proposal: ExecutionContext.Restore(ExecutionContext? executionContext)"
## Background and Motivation

Alternative to the approved api https://github.com/dotnet/runtime/issues/30867 "ExecutionContext.Run<TContext> ref overloads"

`await`ing a `Task` returning method that is itself not `async` does not guarantee undoing `AsyncLocal`/`ExecutionContext` changes (as it is the responsibility of the callee)

`ExecutionContext` does provide an callback based method that acts

[2020-06-17 05:31] wfurt commented on #35839
may not be "in our control". That still may not matter if full chain is provided.

[2020-06-17 05:34] benaadams commented on #30867
Added api request https://github.com/dotnet/runtime/issues/38011

[2020-06-17 06:19] jpapp05 commented on #27429
The later.   For us at least, the issue with ```Random``` is just on one of many similar obstacles between the legacy framework and core when it comes to differences in the scope of the binary serializer.   For example, "serializing" delegates being another one.

Since we are working around the issue there is no real ask here; just an observation from our own path to .NET core and the struggles we

[2020-06-17 06:36] lippinio commented on #37410
Any Updates here?

[2020-06-17 06:49] swaroop-sridhar commented on #37208
@JustArchi  thanks for reporting this issue. Can you please provide a small repro for the problem? I'll fix it. Thanks.

[2020-06-17 06:53] swaroop-sridhar commented on #486
This problem will be fixed once https://github.com/dotnet/runtime/issues/3828 is completed.

[2020-06-17 06:56] safern commented on #35068
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=690964&view=ms.vss-test-web.build-test-results-tab&runId=21450494&resultId=100008&paneView=debug

@swaroop-sridhar did you get a chance to look at disabling the test?

[2020-06-17 07:01] jaymin93 commented on #36752
yes using your suggestion to restore from cli worked and errors for tests are gone now and it's building the both source and test , but while running the test i am getting below output in both vs stable and latest preview

![image](https://user-images.githubusercontent.com/10508429/84865810-743d9f80-b096-11ea-884a-ac2e899f3eb9.png)

any help or suggestion would be appreciated thanks.

[2020-06-17 07:05] swaroop-sridhar opened #38013 "Enable Apphost.Bundle.Test Bundle_can_be_renamed()"
This test is failing non-deterministically in the lab, and is therefore disabled temporarily.
The likely problem is that the TestFixture is shared across runs in a `[Theory]`.
This issue tracks re-enabling the test.

[2020-06-17 07:08] swaroop-sridhar commented on #35068
@safern  @ViktorHofer  here's the PR to disable the test: https://github.com/dotnet/runtime/pull/38014

[2020-06-17 07:13] sba923 commented on #37897
@safern So this issue should actually be reopened until you merge the fix in, correct?

[2020-06-17 07:17] ViktorHofer commented on #36752
Sure, happy to help. How did you build the repository first? Did you invoke "build.cmd clr+libs -rc Release"?

[2020-06-17 07:19] karelz commented on #1722
@BruceForstall what kind of noise do you see from this? We are actively monitoring test results - mainly official runs and address things affecting CI. This one did not pop for us yet.
Note: Networking tests are inherently difficult to make 100% passing - our current bar is 1 failure per week to investigate.

cc @alnikola

[2020-06-17 07:23] Maoni0 commented on #37410
not yet; I'm still in the process of finishing up some other work. I aim to get this in for the next preview build.

[2020-06-17 07:36] safern commented on #37897
@sba923 sorry for the confusion. No, this is a dupe of: https://github.com/dotnet/runtime/issues/37121

[2020-06-17 07:38] sba923 commented on #37897
OK, now I get it right. This is _indeed_ a duplicated of #37121, which _is_ still open.

[2020-06-17 08:08] jaymin93 commented on #36752
i used this steps

https://github.com/dotnet/runtime/blob/master/docs/workflow/building/libraries/README.md

and  executed below steps for building lib
https://github.com/dotnet/runtime/blob/master/docs/workflow/building/libraries/README.md

git clean -xdf
git pull upstream master & git push origin master
:: Build Debug libraries on top of Release runtime:
build -subset clr+libs -runtimeConfigurat

[2020-06-17 08:14] adamsitnik commented on #37819
The problem is that we have switched to use ICU by default on Windows but I am not sure whether performance regressions were considered. We need to either acknowledge the regressions, don't use ICU by default or somehow try to mitigate all the regressions.

[2020-06-17 08:37] vladshestel commented on #851
Whoa, hope this could be helpful for some researchers.

After further investigations I've noticed that there is big difference between my servers in amount of available logical CPUs count (80 vs 16). After some googling I came across this topic [dotnet/runtime#622](https://github.com/dotnet/runtime/issues/622) that leads me to an experiments with CPU/GC/Threads settings.

I was using [`--cpus` con

[2020-06-17 08:54] ViktorHofer commented on #36752
Oh I see what happened here. When you open VS can you also pass in the runtimeconfiguration which you built before:

build.cmd -vs System.Net.Mail -rc Release

[2020-06-17 09:12] Meai1 opened #38015 "Allow linking to a different openssl library"
Issues like this are alive for more than 5 years: https://github.com/dotnet/runtime/issues/14741
Intended effect of linking to a system openssl was supposedly that we get updated openssl sooner. This is clearly not happening because we lack the c# api that would go along with the openssl anyway.
The goal should be to give power to users.

1. let me switch out the openssl version that dotnet links

[2020-06-17 09:15] tmds commented on #37421
@rynowak @glennc any thoughts on this? Probably you have noticed these escape sequences also?

[2020-06-17 09:24] tmds commented on #35955
From the title, I think it's about improving the error message for the `SocketError.SocketError` value.
The current message comes from using the `gai_strerror` in `SystemNative_StrErrorR`.

There is no proper mapping for `SocketError.SocketError`: it gets used by PAL when the error is not understood.

I can take a look into improving the error message.

[2020-06-17 09:26] gfoidl commented on #38003
Also for reference https://github.com/dotnet/runtime/issues/34714

[2020-06-17 10:04] jaymin93 commented on #36752
i used command you shared

build.cmd -vs System.Net.Mail -rc Release

![image](https://user-images.githubusercontent.com/10508429/84884968-043c1300-b0b0-11ea-86c3-3d82e9ce2901.png)

still shows the same issue

---------- Starting test discovery for requested test run ----------
Using automatically detected runsettings file(s). To learn more visit https://aka.ms/vs-runsettings.
Microsoft.VisualStud

[2020-06-17 10:14] JustArchi commented on #37208
@swaroop-sridhar I've prepared the most minimal repro I could come up with. Please see attached file:

[37208.zip](https://github.com/dotnet/runtime/files/4791801/37208.zip)

Instructions for reproduction (after unpacking the zip file and changing directory to extracted structure, requires docker to be installed, will reproduce properly on both Windows and Linux):

[code]

Output:

![image](https:

[2020-06-17 10:22] JustArchi commented on #37208
Like I said I'm not sure how this possibly could be reproduced without docker, as it works properly if you run it in native `linux-x64` environment (I had no luck reproducing it on barebones linux), which is why this is a docker repro. This could be a good lead to find out the culprit of this issue.

[2020-06-17 10:47] sandreenko commented on #8016
The issue became more important with `!JitDoOldStructRetyping`, because in the past we were able to create merge return lclVar as a primitive type and enregister (it was usually not accessed by fields) and now the merge return lclVar has struct type and can't be enregistered, so I have ~15 regressions like that (but they are big, like `423 (33.68% of base) : Microsoft.CodeAnalysis.CSharp.dasm - Bi

[2020-06-17 10:50] vitek-karas commented on #35244
I don't think we made any decision on this yet. If we do stop producing these packages we would have to introduce a new package (or some other way) to ship the native build assets (headers, libs, ...).

I think that it makes sense to add the header files. And when/if we move the native build assets elsewhere we would take those along.

[2020-06-17 11:01] noahfalk opened #38018 "Investigate ReJIT on attach performance when tiered compilation is off"
@davidwr and @AntonLapounov were testing the tech empower json scenario and noticed that disabling tiered compilation + rejit on attach gives ~11% better performance than disabling tiered compilation alone. We should:
1. Understand what performance looks like across the 2x2 matrix of TC on/off X rejit-on-attach on/off and hopefully a basic idea of what implementation details account for the differ

[2020-06-17 11:12] dmeytin commented on #37919
The issue was solved by setting environment variable DOTNET_SYSTEM_GLOBALIZATION_INVARIANT to 1

[2020-06-17 11:22] ViktorHofer commented on #36752
OK sorry for the issue that you are hitting here. I will look into it later today and will get back to you by tomorrow.

[2020-06-17 11:31] koszeggy commented on #20008
Ha! It's funny to see that almost everyone implemented their well-performing enum library when it used to be so slow in the .NET Framework era. [So did I](https://github.com/koszeggy/KGySoft.CoreLibraries#fast-enum-handling), of course. :)

I'm really happy to see the improvements made in .NET Core. I would've never created my alternative version if `System.Enum` was always that fast. In fact, I n

[2020-06-17 12:00] #37958 closed

[2020-06-17 12:13] MichalStrehovsky commented on #37966
Yep, running that command from src works, thanks! I'll submit a pull request to update the doc and resolve this issue.

[2020-06-17 12:27] ramondeklein opened #38022 "HttpClient doesn't decompress "deflate" correctly"
### Description
I am using .NET Core v3.1 to fetch data from a REST API that uses *deflate* compression. I use the following code:
[code]
This request sends out the following headers:
[code]
The server responds with (parsed with Fiddler):
[code]
My .NET Core client cannot decompress the data and fails with "**The archive entry was compressed using an unsupported compression method.**". When I invo

[2020-06-17 12:38] mihalios opened #38023 "No access token found in HttpContext - multiple authentication schemes"
I have configured two authentication schemes (both JWT Bearer, named differently):

[code]

For access tokens that can be validated by scheme1 I can retrieve the access token from the request's headers:

[code]

However, for an access token that is issued by the authority corresponding to scheme2 there's no access token in the request. Debugging the HTTP request (via Swagger UI and Fiddler) I can

[2020-06-17 12:41] ramondeklein commented on #38022
Issue #2236 already suggest that RFC 1950 should be implemented (ZLIB compatible streams). But it doesn't relate to not being able to connect to some HTTP servers.

[2020-06-17 12:43] silversj opened #38025 "NullReferenceException in System.Xml.Serialization.TypeScope.ShouldBeReplaced"
### Description

I don't know if this is the correct place to report this bug. I am converting a large solution from .net Framework to .net Core 3.1. I am not including code, save for one line, but I feel any NullReferenceExeption (without further details) is a bug in the code and should be addressed by, at a minimum, providing more details in the error message. This is especially true now that we

[2020-06-17 12:48] #37966 closed

[2020-06-17 14:05] roji opened #38028 "Async System.Data resultset and database schema APIs"
## Background and Motivation

This proposal introduces async counterparts to existing sync APIs for fetching schema information for resultset and database schema. The original proposal was developed by @manandre and @bgrainger in https://github.com/npgsql/npgsql/issues/2976.

## Proposed API

[code]

## Notes

* The default implementations of the above will call the appropriate sync counterpart, a

[2020-06-17 14:17] tannergooding commented on #38003
This is essentially a duplicate of https://github.com/dotnet/runtime/issues/9989.

We are currently checking if the corresponding value is constant in importation when we would ideally be doing it in lowering instead. The fix for this is non-trivial and I believe the workaround is currently to not user a helper method to create the constant.

#34714 suggests providing official APIs for constructin

[2020-06-17 14:24] myblindy commented on #37986
I was about to close this issue after thinking about it for a couple of days and coming to the conclusion that checking the `Length` property is probably not guaranteed to not have changed (ie in a badly written multi-threaded scenario).

However, if you check the generated assembly code again, it doesn't actually check the `Length` property twice, *it checks the copy in the register twice*! This

[2020-06-17 14:24] NinoFloris commented on #1784
We're in a similar situation, we heavily use PG json(b) columns for user defined metadata, our backend reads intentially know nothing about their contents, we'd ideally not pay the price of parsing and serializing something we only pass through.

Api proposal seems solid, good to see it's not based on String.

For large payloads -- LOH allocs are easier to avoid by deserializing, which we're tryin

[2020-06-17 14:31] vcsjones commented on #38015
.NET does not statically link against OpenSSL. Each version of .NET Core has a preferred way of loading an OpenSSL version, like 2.1 prefers loading openssl 1.0 and 3.1 prefers loading openssl 1.1. However if you can use the environment variable `CLR_OPENSSL_VERSION_OVERRIDE` to load a particular version.

That environment variable should be set to "1.1.1" or "1.0.2" as an example, and when .NET C

[2020-06-17 14:37] bartonjs commented on #38015
.NET builds against OpenSSL in two different ways: portable (used by the .tar.gz bundle on our site and the package-manager packages we provide) and direct (more likely used by in-distro packages).

In direct mode, there's no way to intercept things.  It was decided when the distro built, as part of the distro dependency management scheme.

In portable mode, you can influence which version of Open

[2020-06-17 14:39] Ziriax commented on #38003
Thanks for the fast reply!

@tannergooding Yes, a `Sse.CreateShuffleMask` would be very helpful (Unity3D also offers this).

@scalablecory My repository is public, I can surely create a tiny snippet for this if you want, is this still needed? I'm currently using [JitBuddy](https://github.com/xoofx/JitBuddy) to dump the assembly of *all* the methods.

[2020-06-17 14:50] mdh1418 opened #38031 "System.Drawing.Common.Tests fails on iOS, tvOS"
## One test from System.Drawing is failing on iOS and tvOS

### System.Drawing.Tests.IconTests
- [ ] Unix_OverflowException_CorruptIcon
[code]

[2020-06-17 14:50] mdh1418 opened #38032 "System.Threading.Thread.Tests PNSE on iOS, tvOS"
System.Threading.Thread.Tests

## PlatformNotSupportedException
System.Threading.Threads.Tests.ThreadTests.ApartmentState_AttributePresent

[2020-06-17 15:19] eerhardt opened #38033 "Enable linker analysis and add baselines for warnings"
https://github.com/mono/linker/issues/1030 will change the ILLinker that it will start adding warnings by default when it detects unsafe use of reflection. This will cause our libraries build to start emitting a lot of warnings (in the hundreds).

To keep our build clean, we should add a "baseline" of linker warnings to the repo, which will suppress the warnings. In the future, as we annotate the

[2020-06-17 15:33] ViktorHofer opened #38034 "Remove runtime.depproj and use live assets to construct the testhost"
runtime.depproj is the remaining depproj file that we want to get rid of and replace it with using live assets where applicable. The project is currently responsible for:

- Binplacing the `Microsoft.DiaSymReader.Native` package into the shared framework.
- Restoring the host packages and binplace them into the testhost and runtime folder.
- Copy runtime (coreclr & mono) assets into the testhost a

[2020-06-17 15:35] RemiLou opened #38035 "Cut .Tiff file works on Windows but doesn't work on Linux"
Description :

I want to cut a .Tiff file page per page (one file per page). So i use this code :

[code]

On windows this code works properly whereas not on Linux.

Configuration :

I use .NET Core 3.1
Windows 10 x64
Ubuntu 20.04 x64

[2020-06-17 15:39] eerhardt opened #38036 "System.SR UsingResourceKeys should contain a link to docs"
System.SR has a mechanism for not using the full exception message string, but instead just returning the "resource key" as the exception message. See:

https://github.com/dotnet/runtime/blob/d734c7ee32add0fbdd9fedcacc3cadd03b369de2/src/libraries/Common/src/System/SR.cs#L13-L27

This allows for size savings by allowing trimming the full exception messages from the System.* assemblies.

However, th

[2020-06-17 15:56] ViktorHofer opened #38037 "Allow test projects to build against reference assemblies but consume the implementation assembly (app-local)"
Test projects use P2Ps to reference dependencies which sit on top of the targeting packs (.NETStandard, .NETFramework, .NETCoreApp), also called OOB projects. In most cases such P2Ps point to a library's reference assembly. None of these P2Ps are copying assets into the test app's output folder today.

To guarantee that we test the product the way customers use it, we should turn our OOB assemblie

[2020-06-17 16:22] scalablecory commented on #37738
State is meant to communicate the protocol-level shutdown state, which is different from basic socket connectedness.

Yep, it's a no-op for HTTP/1. This just allows consistency in code calling these APIs. I tried it the way you suggested and wasn't happy with how it looked (especially when considering HTTP/3 coming down the road).

[2020-06-17 17:01] steveharter commented on #37489
@lambdageek can this reflection issue be closed then?

[2020-06-17 17:08] #38040 closed

[2020-06-17 17:08] erenturkm opened #38040 "== and Equals return different results for IPAddress"
# Issue Title

== and Equals return different results for IPAddress

# General
I am using c#, .net Core 3.1.4 on Windows 10 1909.
``
IPAddress IP1,IP2;
string Example="0.1.2.3";
IP1=IPAddress.Parse(Example);
IP2=IPAddress.Parse(Example);
bool B1=IP1.Equals(IP2);
bool B2=IP1==IP2;
``
B1 returns true, whereas B2 returns false

[2020-06-17 17:10] tarekgh commented on #37919
Thanks for the update @dmeytin. I want to point that enabling the globalization invariant mode will cause losing globalization support. So it will depend on your scenario if this is the right thing to do here. But anyway, in .NET 5.0 we are going to look at your scenario (ordinal with ignoring casing) and try to optimize it.